[2017-09-03 01:53] tarekgh commented on #6756
_From @karelz on August 31, 2017 16:0_

@troncomputers what does it mean? Console app? Please provide more details on what works.
Note that if this is ASP.NET specific, this is not the right repo and we might need to reopen the one in ASP.NET repo. By creating small repro, you will help us identify which components is causing troubles.

[2017-09-03 01:53] tarekgh commented on #6756
_From @ericstj on August 31, 2017 17:33_

@eerhardt it would seem that this direct file reference isn't making it into the deps file.

@troncomputers it'd be good if you can provide an isolated repro solution that demonstrates this.

Also, I hate to suggest to move again, but I think this belongs in dotnet/sdk repo, but we can wait until we confirm that.

[2017-09-03 01:53] tarekgh commented on #6756
I couldn't repro this issue with simple netcoreapp 2.0 console app. I have referenced nip24Library.dll exactly as mentioned above and the app load it just fine.

[NetCoreConsoleApp.zip](https://github.com/dotnet/corefx/files/1268654/NetCoreConsoleApp.zip)

We'll not be able to help here without providing a simple repro project

[2017-09-03 01:53] tarekgh commented on #6756
_From @troncomputers on September 1, 2017 9:56_

It is NOT a console app. It's ASP .NET Core web app. Just create a Web Application project with ver. ASP .NET Core 2.0 and add nip24library.dll to reference and try to build/run/compile.
[code]

[2017-09-03 01:53] tarekgh commented on #6756
_From @ericstj on September 1, 2017 14:12_

I believe this is the same as https://github.com/dotnet/sdk/issues/1500, https://github.com/dotnet/core-setup/issues/2981.  It looks like it's already being tracked for a fix in 2.0.1.

[2017-09-03 01:53] tarekgh commented on #6756
_From @eerhardt on September 1, 2017 14:41_

Yes, the error

`InvalidOperationException: Cannot find compilation library location for package 'XXX'`

where `XXX` is an assembly with a direct `<Reference>` in your .csproj is tracked by https://github.com/dotnet/core-setup/issues/2981.  The workaround provided by @pranavkm at https://github.com/pranavkm/fix-ref/commit/1b83ca58ce88f72d4e9ccdeab892afa

[2017-09-03 01:53] tarekgh commented on #6756
_From @troncomputers on September 2, 2017 22:23_

Was Microsoft plannig to support only nuget packages for asp net core web pages or it is just a bug with new technology?

[2017-09-03 02:17] Code-DJ commented on #6741
If I may add my question rather than creating a new issue. Not sure what the convention is.

Assuming a folder structure that has folders and sub-folders under the Pages folder. If we have one JavaScript per page, since the JavaScript is supposed to be in the wwwroot folder, won't there be a lot of navigating around in Visual Studio when trying to open the cshtml and corresponding JavaScript? Assu

[2017-09-03 09:46] hishamco commented on #6741
@OmerHatip let me explain everything to you:

1- `@page` directive is used to flag the `.cshtml` as a RazorPage, it may contains a route options if you want too

2- `@model` directive is used to specify the page model aka **ViewModel** not the model itself. FYI RazorPages are using MVVM pattern, so that's why you see something like `IndexPageModel`.

3- `@Html.DisplayNameFor(model => model.Custome

[2017-09-03 09:52] hishamco commented on #6741
@Code-DJ you can keep your JavaScript files in the same place of your pages folder, I already did something similar when I need to place my assets per theme. Please checkout my [Theming repo](https://github.com/hishamco/Theming), specifically [here ](https://github.com/hishamco/Theming/blob/master/Theming/Startup.cs#L57-L62) where I configured the `FileProvider` for the static files

[2017-09-03 14:58] h3smith opened #6757 "macOS w/ .NET Core 2.0 not working with Visual Studio for macOS"
Create a simple MVC project (template) in VS for macOS.

If I run it from the command line `dotnet run --urls "http://*:5001"` voila works as expected.

If I run run from within VS for macOS, the browser sits and spins forever. I can step through the Startup class methods, but the view controllers are never loaded.

If I do

[code]

It spits out Hi! as expected.

Simply cannot get an MVC project u

[2017-09-03 14:58] JohnyL commented on #6754
@davidfowl Yes. @DamianEdwards mentioned that "in the future we hope to create features to remove the need for that too". So, I asked him why there's still no alternative mechanism, but got no answer. And if you get rid of ViewBag, then remove it from View so not to confuse people.

[2017-09-03 15:36] davidfowl commented on #6757
Do you mean the views or the controllers? Can you step into the controller?

I just tried to do this and it worked for me:

![image](https://user-images.githubusercontent.com/95136/30004372-d5913e36-9082-11e7-8e28-70697d0cf5f6.png)

![image](https://user-images.githubusercontent.com/95136/30004377-e3b51366-9082-11e7-9baf-b9811d393a64.png)

[2017-09-03 15:38] h3smith commented on #6757
David - it won't let me step into View Controllers, doesn't hit filters, etc.

I'll resinstall in a bit and see if that fixes.

[2017-09-03 15:42] davidfowl commented on #6757
What is a View Controller?

[2017-09-03 16:29] Code-DJ commented on #6741
Thanks @hishamco. Just to be sure, if I set the StaticFileOptions to the following, will it only server js, css from that path:

[code]

[2017-09-03 17:57] Code-DJ commented on #6757
A separate question. Intellisense does not work in the cshtml file on VS Mac. For example, if I start typing "Microsoft." within ```C# @{  Microsoft.  } ```  - don't get anything.

[2017-09-03 19:57] h3smith commented on #6757
@davidfowl

Any - dropped break points in all of them. Video: https://www.youtube.com/watch?v=S_ENe3XIo4U&feature=youtu.be

Here is the console output. See the request but nothing is picked up

[code]

[2017-09-03 21:09] davidfowl commented on #6757
Razor intellisense isn't supported in VS for Mac as yet.

[2017-09-03 21:10] davidfowl commented on #6757
@h3smith I see a white screen in your repro. Show me the Startup class. Are you sure MVC is wired up? Here is what mine looks like:

[code]

[2017-09-04 00:43] Code-DJ commented on #6535
Is there a setting to have runtime compilation when using PageModel?

[2017-09-04 00:53] hishamco commented on #6535
@Code-DJ you can use the `Watcher` from DotNet Tools https://github.com/aspnet/DotNetTools/tree/dev/src/Microsoft.DotNet.Watcher.Tools

[2017-09-04 00:54] rmmcgr opened #6759 "Returning a partial view from a Razor Pages PageModel handler"
Is there a way to return a partial view from a Razor Pages PageModel handler?

An example might be some client side Ajax responding to an "Add Row" button click that returns a partial view when, say, adding a new table row to some editing grid we might have on a page.

When using controllers we would just do something like:

`public IActionResult AddRow() => PartialView("_EditingRow");`

[2017-09-04 01:33] Code-DJ commented on #6535
@hishamco just to be sure - In the webforms WebSite project, you could deploy both .aspx and .aspx.cs to the server without requiring pre-compilation. This meant that there was not need to deploy DLL to the bin folder when you made changes to your .aspx.cs files. Having to deploy DLLs caused a 1-2 second freeze of the app.

While I like the compilation/test steps during development for .cshtml.cs

[2017-09-04 01:45] hishamco commented on #6535
@Code-DJ I think it would be nice if you create a new issue to track it easily and listen from the other folks

[2017-09-04 01:54] Code-DJ opened #6760 "Runtime compilation for Razor Pages code-behind"
Is there an option to enable runtime-compilation for .cshtml.cs files instead of requiring a pre-compile.

Back-drop:  In the webforms WebSite project, you could deploy both .aspx and .aspx.cs to the server without requiring pre-compilation. This meant that there was no need to deploy DLL to the bin folder when you only made changes to your .aspx.cs files during dev. Having to deploy DLLs caused a

[2017-09-04 01:55] Code-DJ commented on #6535
Thanks @hishamco created #6760

[2017-09-04 02:02] hishamco commented on #6760
IMHO I frequently used `dotnet watch` command in the RazorPages projects in DEVELOPEMENT, to accelerate the compilation process, but when I switch to PRODUCTION I prefer to use the pre-compilation, because this will improve the performance

[2017-09-04 03:09] Bartmax commented on #6760
@Code-DJ : try to set MvcRazorCompileOnPublish to `false` on `csproj`, remove all dlls, from folder and publish. I'm pretty sure that precompilation is optional.

[code]

[2017-09-04 03:31] Code-DJ commented on #6760
Hi @Bartmax, just tried it. Looks like that MvcRazorCompileOnPublish only controls .cshtml files and not .cshtml.cs. By setting it to true, you don't need to deploy both files (cshtml and cshtml.cs) vs. setting to false you only need to deploy cshtml files.

[2017-09-04 04:06] Bartmax commented on #6760
I don't think you can do runtime compilation of .cs files right now. Only for cshtml files.

[2017-09-04 04:08] davidfowl commented on #6760
That's correct, there's no runtime compilation of .cs files.

[2017-09-04 04:32] Code-DJ commented on #6760
@davidfowl not sure how this works. Should I leave this issue as a feature request or should I close it? Thanks!

[2017-09-04 04:42] davidfowl commented on #6760
We're not going to be adding runtime compilation for C# files.

[2017-09-04 06:29] JamesNK opened #6761 "Extension point after action has been resolved and before model binding"
Hi, I want to write a plugin for Mvc and I need it to execute code after the action has been resolved but before model binding has started so I can access the request stream before it is read.

`ActionFilterAttribute` is the most talked about option but `OnActionExecutionAsync` is run after model binding has completed and so the request stream has already been read.

What options are available?

[2017-09-04 06:35] JamesNK commented on #6761
(I know I could write middleware that reads the request body into a memory stream and replaces the request body stream but I want to have access to the action so the request body is only replaced when needed)

[2017-09-04 08:40] midumitr opened #6762 "HTTP 404 with ASP.NET Core when controllers are added from a seperate assembly"
Im trying to build a multitenant application with parallel piplines per tenant in order to configure each tenant.
If i reference the assemblies that contains the controllers in the main app the controllers are discovered and returns 200 when i call them.
If the controller is not referenced and i load it dinamically , the controller is found but returns 404 when i call any action from it.
For this

[2017-09-04 09:12] jsobus-neurosys commented on #6746
As a workaround I can use `Request.Query.ToDictionary(kvp => kvp.Key, kvp => kvp.Value)` but the question is if that is a bug or not?

[2017-09-04 09:51] mistakenot commented on #4604
I've had a stab at fixing this. First attempt at a contribution to this project, so please be forgiving of anything I've missed :) You can see my diff at https://github.com/mistakenot/Mvc/commit/25019a0b2d78813cc2abaf065f26edba6678efce.

Let me know if it is any help.

[2017-09-04 11:20] rmja commented on #6762
You need to

[code]

[2017-09-04 11:41] midumitr commented on #6762
I used that but does not work
First i used it like this  :
foreach (var assembly in assemblies)
                {
                    builder.AddApplicationPart(assembly);
                }

Like this the controller was not even detected. I used Swagger to see the controllers. I noticed that the controller and the services from the assembly are registered in the ServiceCollection but as i said ret

[2017-09-04 14:06] h3smith commented on #6757
Startup as expected as is Program

[code]

[code]

[2017-09-04 15:53] #6741 closed

[2017-09-04 15:56] OmerHatip commented on #6741
Thank you everybody.

I changed my plan and started with MVC.

[2017-09-04 16:21] davidfowl commented on #6757
That's pretty strange. It works for me... Maybe a bad installation or something else going on.

[2017-09-04 18:08] h3smith commented on #6757
@davidfowl - uninstalled VS for macOS, reinstalled Core, updated macOS and working now. Some part of that combination was being strange.

Thanks for the help and sorry to waste time.

[2017-09-04 18:08] #6757 closed

[2017-09-04 19:39] jchadwick opened #6764 "New Razor Page doesn't have Intellisense"
After creating a new Razor Page using the Razor Page item template in VS 2017 15.3.0 and Microsoft.AspNetCore.All v2.0.0, the .cshtml file is opened but Intellisense does not work until you close the file and re-open it.

[2017-09-05 03:43] Eilon commented on #6759
See the comment here: https://github.com/aspnet/Mvc/issues/6664#issuecomment-322840073

cc @rynowak @DamianEdwards FYI

[2017-09-05 03:43] #6759 closed

[2017-09-05 03:44] Eilon commented on #6762
@javiercn - any ideas on this?

[2017-09-05 03:44] Eilon commented on #6749
@javiercn @pranavkm - any ideas on this?

[2017-09-05 03:52] Eilon commented on #6756
NuGet packages are certainly the best way to add references to other DLLs because they are better integrated with the build and publish process.

Having said that, the issues mentioned earlier are indeed bugs that we are planning to have fixes in upcoming patch releases.

[2017-09-05 03:52] #6756 closed

[2017-09-05 04:20] Eilon commented on #4604
@mistakenot thanks for taking a crack at this! If you send a PR it will probably make it easier for us to review. Thanks!

[2017-09-05 06:34] rmmcgr commented on #6759
Yes, saw that.

I have created a page that does nothing else except return the partial as a work around for now setting `Layout = null`.

It would be great if in the future the page handler could return a partial view, or alternatively [#6182](https://github.com/aspnet/Mvc/issues/6182) (ViewComponentPages) in the future might help?

[2017-09-05 07:57] midumitr commented on #6762
Note that this worked fine in version 1.0,

[2017-09-05 10:06] hamidmayeli opened #6765 "How I can have a custom model binder as I describe"
Hi,
I have an interface (Or it could be a base class or an attribute) in my app which is used to mark some models. It is possible for models to have properties of the other marked classes (They are generated based on the user's inputs).

[code]

Now, I want to have a binder that ensures all the marked classes be not null even when the request does not provide any information about them.

There are

[2017-09-05 10:15] frankabbruzzese commented on #6765
What is the signature of the controller that receives all data?.

If it expects an IMarker you can design an Interface binder model binder, but then just all properties contained in IMarker  will be bound by model binder.

Please explain better. A lot of solutions are possible, but model binder MUST have all information needed to take a decision. Moreover, allowing the model binder to create arbit

[2017-09-05 10:48] davidsmithgf commented on #4859
As far as I know, the classical webapi2 help page + webapi test client (https://www.nuget.org/packages/WebApiTestClient/) is equal to swagger UI(https://github.com/domaindrivendev/Swashbuckle.AspNetCore). Am I right?

[2017-09-05 11:53] hamidmayeli commented on #6765
@frankabbruzzese Thank you for your response.
I have updated the question to provide required data. It is enough for me to have a new instance of the each marked classes if there is not any related data in the request.

[2017-09-05 11:57] chintan3100 commented on #6045
I have tried to changes buffer size and other + changes .net version 1.1 to 2.0 but i am getting max 20 MB/sec speed to download file.
Can anyone have git repo to test this issue ?
Thanks in advance.

[2017-09-05 12:02] JesperTreetop commented on #6045
@chintan3100 I don't have a repo, but I did see massive slowdown when running with a debugger attached from VS Code. Running without a debugger attached (`dotnet run` in a terminal or Ctrl+F5 in Visual Studio) sped it up a lot for me, even without changing the build configuration to Release.

[2017-09-05 12:10] marcuslindblom opened #6766 "Change default Pages directory in web pages project"
How can I change the default `Pages` directory to e.g. `App`?

[2017-09-05 12:24] marcuslindblom commented on #6766
Answering this one my self. Adding `WithRazorPagesRoot("/App")` to `services.AddMvc()` seems to do the trick.

[2017-09-05 12:24] #6766 closed

[2017-09-05 13:09] chintan3100 commented on #6045
@JesperTreetop :  I have checked on Azure with release mode with S3 plan. Tested on Azure.
But It show only max 20MB/sec speed. I tried a lot but now change :(

[2017-09-05 13:24] benaadams commented on #6045
@chintan3100 there are other factors also; how fast can you read from the disk in that setup? Is it faster than 20MB/s? Can you save to disk faster than 20MB/s on the client.

20MB/s is 160 Mbps; is the bandwidth capped either by receiver or server? etc

[2017-09-05 15:52] danroth27 commented on #4859
@davidsmithgf Yes

[2017-09-05 16:14] RehanSaeed opened #6767 "How to get ASP.NET Core MVC Filters from HttpContext"
I'm trying to write some middleware and need to know if the current action method (if any) has a particular filter attribute, so I can change behaviour based it's existence.

So is it possible to get a filters collection of type `IList<IFilterMetadata>` like you do on the `ResourceExecutingContext` when you are implementing an `IResourceFilter`?

[2017-09-05 16:48] NTaylorMullen commented on #6764
Hey @jchadwick sorry to hear that! Although the item template vs. scaffolding are slightly different beasts I believe this is related to https://github.com/aspnet/Scaffolding/issues/514.

@Eilon where do we file item template issues?

[2017-09-05 17:19] Eilon commented on #6764
@NTaylorMullen you mean issues w/ the *contents* of item templates?

[2017-09-05 17:22] rynowak commented on #6767
We're going to be doing some work to enable scenarios like this in the future. Today there is no straightforward way to do this as the decision about *what* action has been chosen hasn't been made until after middleware run.

If you can provide more information about what you're trying to do we can try to help.

/cc @davidfowl

[2017-09-05 17:23] NTaylorMullen commented on #6764
Sorry, no. Issues with how they result in the editor being opened.

[2017-09-05 17:23] jchadwick commented on #6764
The contents are fine.  If you close the view and re-open it again everything works fine.

[2017-09-05 17:33] pranavkm commented on #6759
@rmmcgr sounds like a dup of https://github.com/aspnet/Mvc/issues/6664. I listed a possible solution for it here: https://github.com/aspnet/Mvc/issues/6664#issuecomment-322840073

[2017-09-05 17:44] pranavkm commented on #6749
We don't de-duplicate application parts. Consequently views for the same path are re-discovered via two instances of the same assembly part. One option is to de-duplicate it in the input i.e. `ApplicationPartManager.ApplicationParts`. Presumably this would avoid additional work during controller discovery, redundant references to view compilation etc. The other alternative is to perform the de-dup

[2017-09-05 18:14] rynowak commented on #6761
[Resource Filter](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters#resource-filters) sound slike what you need

[2017-09-05 18:16] RehanSaeed commented on #6767
I'm looking into porting my `RedirectToCanonicalUrl` MVC filter to be based on the ASP.NET Core URL rewrite middleware because I thought that would reduce the number of redirects to get from a HTTP and non-canonical URL to a HTTPS and canonical URL (but it looks like I [might be wrong](https://github.com/aspnet/BasicMiddleware/issues/262)).

I use `IOptions<RouteOptions>` for the `AppendTrailingSl

[2017-09-05 18:22] anurse commented on #6498
I've managed to dig some of these out of the existing logging sources once I figured out how to turn them up to Trace, but the messages still seem a little light.

[2017-09-05 19:43] javiercn commented on #6749
@pranavkm Is absolutely right. If you add additional parts you are responsible to make sure you are not adding duplicates. I would just check if the part is already there before adding it.

[2017-09-05 19:43] #6749 closed

[2017-09-05 19:50] javiercn commented on #6762
A couple of questions:
Can you provide your startup code?

Can you inject an ActionDescriptorCollectionProvider.cs into your action and list all the actiondescriptors in there to make sure your controllers are there?

We haven't changed anything in that area since 1.1 so I'm not sure what can be happening in your case.

[2017-09-05 20:26] Eilon commented on #5853
Closing this issue here because we have some broader ideas we're tracking in the Routing repo: https://github.com/aspnet/Routing/issues/436

Rather than passing in something like `nameof(HomeController)` and doing string manipulation, we'd rather have `typeof(HomeController)` passed in, and we can do much smarter matching.

[2017-09-05 20:26] #5853 closed

[2017-09-05 20:29] Eilon commented on #5885
Closing because there are no plans to implement this.

[2017-09-05 20:29] #5885 closed

[2017-09-05 20:31] Eilon commented on #5886
Closing because there are no plans to implement this.

[2017-09-05 20:31] #5886 closed

[2017-09-05 20:34] Eilon commented on #5990
Closing because there are no plans to implement this.

[2017-09-05 20:34] #5990 closed

[2017-09-05 20:38] ChuckkNorris commented on #5990
Then the workaround is to avoid using tuples as part of any API response it seems.

[2017-09-05 21:05] HolyOne opened #6769 "@inherits does not work on asp.net core 2 razor pages"
I tried inheriting the page with many base page classes, tried many examples.
It seems it does not work or there is no example around yet

[2017-09-05 21:06] dougbu commented on #3112
This one came first but @DamianEdwards speced it out in #5916.

[2017-09-05 21:06] #3112 closed

[2017-09-05 21:10] rmja commented on #6749
@javiercn ok. So I guess I have to see if the assembly I am adding is the executing one or not, as it is there already by default.  This just seems to be something that could hit others when integration testing, and the thrown exception  doesn't give any good indication about what is causing the issue.

[2017-09-05 21:43] Eilon commented on #5990
The main problem with tuples is that they aren't really custom types. They're all just `ValueTuple<T1, T2, ...>` so the system would have to look at other metadata to "put everything together." In my opinion this indeed makes them a poor fit for APIs where you're usually interesting in having more formal type knowledge.

[2017-09-05 21:47] ChuckkNorris commented on #5990
Yea - it'd be more of a neat parlor trick for creating quick demos without needing classes.
I doubt anyone would actually use Tuples in a production application anyways.

No issues with this not being implemented - thanks for letting me know though!

[2017-09-05 21:49] dougbu commented on #3519
Highly unlikely we'll deal with this directly. No plans to implement any of the suggestions in this issue.

[2017-09-05 21:49] #3519 closed

[2017-09-05 22:13] eerhardt commented on #6725
I cannot repro this on my local machine, or on a win81 machine I built using Azure DevTest Labs.
I'm wondering if it isn't some sort of machine configuration change that is causing this issue.

@cdmihai - do you have any ideas on why/how the `Pages\_ViewStart.cshtml` file is getting added to the `@(Compile)` ItemGroup?

Looking through the msbuild log, it appears the file is added during Item eval

[2017-09-05 22:20] pranavkm commented on #6769
@HolyOne could you elaborate on what sort of issues did you run in to when you used `@inherits` in your page? By default, Razor Pages requires that your base class derive from https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/PageBase.cs. Besides this, the `@inherits` sample from https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor#inherits should work just the

[2017-09-05 22:36] rynowak commented on #6767
That's a pretty cool usage of metadata to scope behavior. Sad that there's no easy way to make this work today but this is the kind of thing we're looking to enable with some work in 2.1

[2017-09-05 22:38] Eilon commented on #6764
@NTaylorMullen - talk to @barrytang to find out where to file.

[2017-09-05 23:09] pranavkm commented on #6676
Closing this in favor of https://github.com/aspnet/Mvc/issues/6672 since it has more details.

[2017-09-05 23:09] #6676 closed

[2017-09-05 23:10] dougbu commented on #4871
Fix updated in 7e4a8fe47. Now use `type="text"` and not `type="datetime-local"` for `DateTimeOffset` values.

[2017-09-05 23:10] pranavkm commented on #6672
@Eilon we spoke about addressing this by treating things with slashes as paths.

[2017-09-05 23:10] dougbu commented on #6648
7e4a8fe47

[2017-09-05 23:10] #6648 closed

[2017-09-05 23:30] barrytang commented on #6764
@phenning, I believe this is fixed in 15.3. Can you confirm?

/cc @mlorbetske @balachir

[2017-09-06 00:03] jchadwick commented on #6764
Are you talking about VS?  I'm using 15.3.0.

[2017-09-06 00:10] JamesNK commented on #6761
Looks good. Documentation on https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters is great.

 Thanks!

[2017-09-06 00:10] #6761 closed

[2017-09-06 01:21] Eilon opened #6771 "FileExtension localization problem"
_From @Stefanone91 on September 1, 2017 9:9_

Hello everyone,
I'm trying to localize the error message of "FileExtension" attribute but it seems not working.
I've successfully implemented the localization for "Required" attribute as explained in the official ASP.NET core guide.
I've created a simple project to reproduce the issue:
Inside the "registration" page i've added an input elemente for fil

[2017-09-06 01:21] Eilon commented on #6771
Hmm, it looks like we simply never added support for this attribute! Not sure why.

@dougbu @rynowak @danroth27 - any guesses as to why we never did it? We just forgot?

[2017-09-06 01:21] Eilon commented on #6771
BTW by "never added support" I mean in MVC - I'll move the bug.

[2017-09-06 01:22] Eilon commented on #6771
Seems like we need to:
1. Add an adapter here: https://github.com/aspnet/Mvc/tree/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal
2. Use the adapter here: https://github.com/aspnet/Mvc/blob/305748a800bf00573e602905712045cc0bdfd267/src/Microsoft.AspNetCore.Mvc.DataAnnotations/ValidationAttributeAdapterProvider.cs

[2017-09-06 04:31] HolyOne commented on #6769
I created a new ASP.net Core 2.0 project, I selected Web Application. (Razor Pages not MVC)

I created a new class, the exactly same one from the example you provided

`
public abstract class CustomRazorPage<TModel> : RazorPage<TModel>
{
    public string CustomText { get; } = "Hello World.";
}
`

I added this line at to top of one the sample pages (Contact.cshtml) , (I also tried it under the @pa

[2017-09-06 05:20] dougbu commented on #6771
Not sure how this slipped through.

We also need to use the adapter on the client side.

[2017-09-06 06:10] chintan3100 commented on #6045
I tested same api with .net framework 4.0 it is having 150 MB/sec download speed whereas in .net core  it is 20 MB/sec.

[2017-09-06 07:09] frankabbruzzese commented on #6765
Maybe you don't need a custom model binder at all. It is enough a constructor for your models that creates the models contained in al its IMarker properties. This way if model binder doesn't create one of these properties that property retains its initial model.

If you want a general solution that doesn't rely on the model constructor, you may add a model-binder that inherits from the ComplexType

[2017-09-06 08:04] hamidmayeli opened #6772 "The controllers with [Authorize] attribute return unauthorized error but the ones with [Authorize(Roles = "Administrator")] work perfectly."
Hi,
With the following login method and "Startup.cs", the controllers with [Authorize(Roles = "Administrator")] attribute work fine but the ones which need an authenticated user and do not care about their roles return "Status Code:401 Unauthorized"

Login method:
[code]

Startup.cs:
[code]

[2017-09-06 08:43] JesperTreetop commented on #6045
@chintan3100 Posting the code you're using for the action in both ASP.NET MVC 5 and ASP.NET Core 2 would probably help diagnosing this, at least how the action result is constructed.

[2017-09-06 08:45] briman0094 opened #6773 "Manually rendering Razor precompiled views"
My ASP.NET Core 2.0 site uses some `.cshtml` files as e-mail templates. I have a custom service that uses the `IRazorViewEngine` service to render views to a string. This works completely fine in Dev where the View files are sourced from the `.cshtml` files at runtime. However, in Production, the view engine can't find the template views and throws an error when the site tries to render an e-mail.

[2017-09-06 08:54] drauch commented on #6698
Found the problem -> if there is no value given, the ValueMustNotBeNullAccessor is used instead of the AttemptedValueIsInvalidAccessor!

[2017-09-06 08:54] #6698 closed

[2017-09-06 08:57] chintan3100 commented on #6045
`  public ActionResult Index()
        {
            var stream = new FileStream(@"You File Path", FileMode.Open, FileAccess.Read, FileShare.ReadWrite, 65536, FileOptions.Asynchronous | FileOptions.SequentialScan);
            return File(stream, "application/octet-stream", "aa.zip");
        }`

Please run same code in new .net core project and asp.net project.
It's simple read file and return st

[2017-09-06 10:00] drauch opened #6774 "Resource file Designer.cs generation fails as resource keys are no longer valid C# identifiers"
We use the @Localizer["Some Text"] localization mechanism. However, as we understand it, foreign languages are still provided as resource files. The key must be the non-localized text (e.g., "Some Text"). However, as soon as we have a space in it, the key is no longer a valid C# identifier and the ResXGenerator cannot re-generate the Designer.cs file anymore.

What's the solution for this? Is this

[2017-09-06 10:12] RehanSaeed commented on #6767
Cool, will wait for 2.1 and the result of https://github.com/aspnet/BasicMiddleware/issues/262 to port my filter.

[2017-09-06 10:48] A7medRamadan commented on #6764
i have the same issue, there is no Intellisense with the new Razor pages

[2017-09-06 11:56] SteveSandersonMS commented on #6698
Glad you solved that. Apologies for missing the preceding message asking for help!

[2017-09-06 12:45] drauch commented on #6698
@SteveSandersonMS : There is still the issue on why those do not run through the localization infrastructure by default. Everybody has to do that themselves now...

[2017-09-06 13:32] danielgreen commented on #4300
Instead of document.write, could the tag helper emit document.body.insertAjacentHTML('beforeend', ... ) or similar, to allow the scenario where the script tag is contained within an Ajax response (e.g. when calling jQuery.load)?

[2017-09-06 13:43] midumitr commented on #6762
Hi,

Thanks for the reply. I created this git https://github.com/midumitr/ModularCoreApp
Please have a look.

[2017-09-06 15:03] scottaddie commented on #6648
@mj1856 Please let me know if you plan to submit a docs PR for this; otherwise, I'll add it to my list of things to do.

[2017-09-06 15:46] dinooz opened #6775 "How difficult will be to have a Code Generator for the MVC rails like ?"
I wonder how difficult will be to bring a C# code generator to automagically create all the mehtods, relationships generated from a basic models to speedup the creation of projects ?

Perhaps this needs to build a new project almost like yeoman or rails generator to based on some DB Model create and wire all the required project.

[2017-09-06 16:06] phenning commented on #6764
@barrytang

I was not able to repro this on latest builds when starting with a new Razor web application and creating new pages in the Pages folder.

I was able to repro this though if I started with an MVC template and create new razor pages without first adding a @namespace directive to either the cshtml file itself or via a _ViewImports.cshtml file.

The workaround of closing and reopening does

[2017-09-06 16:21] jchadwick commented on #6764
@phenning  I have that issue with @namespace as well, but that's a different issue in addition to this. :)

[2017-09-06 16:45] J0nKn1ght commented on #6765
I have a similar situation, but with a collection of an abstract class (rather than interfaces), and I can't seem to get anything working, either using the method of inheriting ComplexTypeModelBinder in your blog post, or with a full IModelBinder implementation e.g. from issue #4703.

I have entity models similar to these simplified versions:

[code]
The html is being rendered like this:

[code]

[2017-09-06 17:04] Eilon commented on #6774
Ah yes we've seen this issue before. I'll try to find the previous discussion on it. One workaround to this is to disable VS's default "Single File Generator" that it applies to all RESX files because it disallows generating the CS file when any of the resource identifiers are not valid C#. You can disable it by right-clicking on the RESX file in Solution Explorer in VS and selecting Properties, a

[2017-09-06 17:13] pranavkm commented on #6773
@briman0094 your issue might be a dup of https://github.com/aspnet/Mvc/issues/6672. The most likely solution in your case is to use `IViewEngine.GetView` which is meant for path-based lookups and pass in path rather than a name.

e.g.
`IViewEngine.FindView("Foo/Bar") -> IViewEngine.GetView("/Views/Foo/Bar.cshtml")`

[2017-09-06 18:04] Eilon commented on #6774
Ok looks like it was just an email discussion where this was discussed. The recommended workaround is to disable the single file generator for the files. Another more costly alternative is to use keys that are valid C# identifiers (e.g. `MyStringResource`), which means you also need to have your "neutral language" (the one without a locale specified) be stored in a RESX file.

Ultimately this is a

[2017-09-06 18:04] #6774 closed

[2017-09-06 18:44] drauch commented on #6774
@Eilon : OK, thanks for the clarification!

[2017-09-06 18:58] HaoK commented on #6772
This is likely because the user you are create in LogIn has an identity where IsAuthenticated = false, and [Authorize] by default requires an authenticated user.

You just need to pass in any authenticationType when constructing a claimsIdentity for IsAuthenticated to be true.

[2017-09-06 18:59] Eilon commented on #6775
We do have something like this: the Code Generator Scaffolding feature that has command line tools and a Visual Studio UI for generating controllers and pages.

Here's a doc on how to do it with Razor Pages: https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model

Though the scaffolding works with regular MVC apps as well.

Is that what you're looking for?

[2017-09-06 19:31] JohnyL opened #6776 "Razor Pages: pages files structure creates hard-coded namespace hierarchy"
I have created sample ASP.NET Core Razor Pages app (VS 2017 15.4.0 Preview 1).
I have the following folders structure:
1. Strategy class (in OrdersContext.cs file)
Data\
---OrdersContext.cs

Its code:
[code]

2. Edit page
Pages\
---Dictionaries\
------Strategy\
---------Edit.cshtml
------------Edit.cshtml.cs
------------Edit_page

The code of EditModel:

[code]
I want to use Strategy class from Fr

[2017-09-06 19:42] frankabbruzzese commented on #6765
@J0nKn1ght ,
The codein my blog post is not intended for binding derived properties. There, an interfaces is used just to decouple Mvc stuff from business stuffs, so only interface properties need to be bound.

Moreover passing from 1.1 to 2.0 doesnt affected that part of the model binding code.
The issue is that model binder can no way understand which class must be created (among all possible su

[2017-09-06 19:50] javiercn commented on #6762
Hi, I've looked at your sample for a while and it doesn't seem to be any problem with application parts. Your controllers get discovered and your actions are present. I'm more inclined to think that you have some problem somewhere in your pipeline. In your case you are building the entire pipeline on each request and that strikes me as wrong. Given the type of application that you are trying to bu

[2017-09-06 19:56] alexsandro-xpt commented on #6762
I guess it's not about a multi tenant application, but a modular application.

[2017-09-06 20:54] midumitr commented on #6762
Hi, thanks for the reply. I found the problem, and as you mentioned was in the pipeline that i was building.
You can close this issue. I solved it. Thanks for looking into it.

[2017-09-06 20:54] #6762 closed

[2017-09-06 20:54] #6694 closed

[2017-09-06 21:30] Code-DJ commented on #6760
Follow-up question that I think is related so just reopened this issue:

If I have 5 DLLs for aspnet core and make a change to one of those, is there a writeup or a blog that explains what happens behind the scenes? Does the aspnet core engine only load the new DLL in memory?

[2017-09-06 22:39] barrytang commented on #6764
I talked to Phil and Mike offline and this is fixed in 15.4 not 15.3. I ported the issue to https://developercommunity.visualstudio.com/content/problem/108727/new-razor-page-doesnt-have-intellisense.html. If you follow it, you will get notified when 15.4 is available publicly.

[2017-09-06 23:36] Eilon commented on #6764
Ok sounds like this issue can be closed then.

[2017-09-06 23:36] #6764 closed

[2017-09-07 00:00] Eilon commented on #6776
@NTaylorMullen @rynowak any ideas on this?

[2017-09-07 06:26] jaoord opened #6777 "RequestSizeLimit is ignored"
In asp.net core 2 a breaking changed was added that limits the request size to 30 mb (source).

In that article, a solution is provided if you would like to overrule the 30 mb limit. This is supposed to be done by adding an attribute to the action like so:

[code]

When I do this, and rebuild my project, I still get the following errors in Kestrel:

[code]
And this is in my Startup.cs:

[code]

Se

[2017-09-07 07:45] davidfowl commented on #6760
There's no write up. By default during development, Razor Pages and MVC views are compiled at runtime using roslyn and loaded in memory. Everything else is compiled at design time using MSBuild in the IDE or from the command line when you run `dotnet build/run`. In .NET Core 2.0 those razor files are all compiled into a single dll at publish time.

FullFx is overloaded. Do you mean Razor? It's ver

[2017-09-07 07:53] J0nKn1ght commented on #6765
Thanks for the reply.
As I mentioned in my original comment, I am instantiating the correct derived class in the CreateModel method, so I think that the bits I'm missing are 3 & 4, but I'm not sure what you mean by 'invoke standard ComplexTypeModelBinder code' and 'bind derived properties'.
I couldn't see any code from the link you sent to the toolkit that implemented model binders - I don't know

[2017-09-07 08:31] hamidmayeli commented on #6772
Thanks for the reply.
I afraid that I do not follow you @HaoK. May I ask you to provide me a changed code, please.

[2017-09-07 10:24] frankabbruzzese commented on #6765
@J0nKn1ght my code is quite complex, since my binder do also other stuffs. Moreover, when the application starts it classifies all subclasses and assign a code to each of them.
I substitute the ComplexTypeModelBinder with this one: [https://github.com/MvcControlsToolkit/MvcControlsToolkit.Core/blob/master/src/MvcControlsToolkit.Core/ModelBinding/TransformationModelBinder.cs](https://github.com/Mvc

[2017-09-07 10:34] drauch opened #6778 "Enum editor template implemented with select tag helper"
We have an Enum.cshtml editor template, which is implemented using the select tag helper like so:

    @model Enum
    <select asp-for="@Model" asp-items="@Html.GetEnumSelectList(ViewData.ModelMetadata.UnderlyingOrModelType)">
</select>

We call it with the HTML helper `EditorFor()` like so:

    @Html.EditorFor(m => m.EnumProp, new { htmlAttributes = { @class = "form-control" }} );

However, the

[2017-09-07 11:10] drauch commented on #6774
@Eilon : I do have a follow-up question though. The ResourceManagerStringLocalizer works only if the Designer class is properly generated. If I delete the Designer.cs file, the resource does no longer work. So it looks like it is a ASP.NET MVC problem?!

[2017-09-07 12:00] bragma opened #6779 "Render views to string - how to set culture?"
Hi,
I am trying to use razor an IViewLocalizer to send localized emails. How do I correctly set the Culture and UiCulture for the current rendering (Core Mvc 1.1.3)?
Thanks  a lot!

Code snippet follows:
[code]

[2017-09-07 14:20] SteveSandersonMS commented on #6716
@Eilon It looks like we're inconsistent about whether files include a BOM or not. Most (but not all) of the `cshtml` ones in `StarterWeb-CSharp` (i.e., MVC starter site) **do** have BOMs, whereas most of them (possibly all, didn't check) in `RazorWebPages-CSharp` **do not** have BOMs.

As a specific example, the MVC starter site's [`TwoFactorAuthentication.cshtml`](https://github.com/aspnet/templa

[2017-09-07 14:52] HeMinzhang commented on #6716
[WebApplication1.zip](https://github.com/aspnet/Mvc/files/1285090/WebApplication1.zip)

[2017-09-07 15:39] J0nKn1ght commented on #6765
@frankabbruzzese I've looked through your code, and I think that the crux of it was what I'd tried already, based on issue #4477.

I've tried to strip the code down to the bare minimum, so here's my model binder:

[code]
I'm passing the default ComplexTypeModelBinder into the constructor.

The data present in the form is as follows:

[code]

If I leave the bindingContext.ModelMetadata as the defau

[2017-09-07 16:01] pranavkm commented on #6779
You could set `CultureInfo.CurrentCulture` \ `CultureInfo.CurrentUICulture` before the `RenderAsync` call:

[code]

[2017-09-07 16:23] pranavkm commented on #6774
@drauch that doesn't seem right. The localizer works with the embedded resource stream, not the code generated designer.

[2017-09-07 17:34] nickalbrecht opened #6780 "Returning a file, accept-ranges headers, and browser behaviors"
In ASPNET Core 2, any time you return a file from actual binary data (Either `byte[]` or `Stream` from my testing, haven't tried others yet), it automatically opts you into it sending headers to the browser of `accept-ranges`, and `content-length`. But the problem is that if the browser tries to take advantage of this, and your action may end up getting pinged multiple times, even though you likel

[2017-09-07 17:36] Tratcher commented on #6777
The extended stack trace shows it's AntiForgery reading the form. There appears to be an ordering issue between the filters. @jbagga can you show how to tweak the order manually? We should figure out what the best order for these should be.

[2017-09-07 18:08] mj1856 commented on #6648
@scottaddie - Yep, will do shortly.  Thanks.

[2017-09-07 18:36] #6672 closed

[2017-09-07 18:39] pranavkm commented on #6672
We addressed this issue by resolving the value `FindView` passes in to the page factory. Where we previously would have invoked it with `Views/Home/../Search/Index.cshtml`, we do path resolution and pass in `Views/Search/Index.cshtml`. This is close to what we do in `GetView` and should hide differences in the implementation of the underlying file provider.

[2017-09-07 18:44] pranavkm commented on #6769
@HolyOne try using `public abstract class CustomRazorPage : Microsoft.AspNetCore.Mvc.RazorPages.Page`. The name `RazorPage<T>` is a bit misleading since it has to do with cshtml files in general and not Razor Pages model of programming.

[2017-09-07 19:12] HolyOne commented on #6769
So Razor Pages project type does not support base pages at all?
Is it planned to be added in the future or is it purposely not allowed to be used for coders to use @inject or something?

I think Razor Pages project type must have base pages too. I need it for a few good reasons, especialy for translation purposes with minimal extra typing.

[2017-09-07 19:41] pranavkm commented on #6769
It does. It specifically needs to derive from `Page`. Continuing from my previous comment, adding ` @inherits CustomRazorPage`  (note the absence of a generic type parameter) should just work. Summarizing:

[code]

should get the job done.

[2017-09-07 20:13] #6598 closed

[2017-09-07 20:43] Eilon commented on #6779
Yup, exactly what @pranavkm said.

[2017-09-07 20:43] #6779 closed

[2017-09-07 20:57] HolyOne commented on #6769
Doesnt work also

![customrazorpage](https://user-images.githubusercontent.com/293601/30184874-22f2fd56-9428-11e7-980e-d3de595838de.gif)

[2017-09-07 21:04] Eilon commented on #6774
Right, the .designer.cs is just for accessing resources directly from your own C# code.

[2017-09-07 21:15] pranavkm commented on #6769
@HolyOne you're right. Looks like we might have an issue where we allow types deriving from `PageBase` to be considered a page while requiring it to derive from `Page` in another location. Try updating your base class to
`public abstract class CustomRazorPage : Page { public string CustomText { get; } = "Hello World."; }`

I verified it works locally.

@rynowak, doing `public abstract class Custom

[2017-09-07 21:26] dougbu commented on #6607
Dupe of #3785

[2017-09-07 21:26] #6607 closed

[2017-09-07 21:35] dougbu commented on #6513
We have no plans in this area.

[2017-09-07 21:35] #6513 closed

[2017-09-07 21:39] Eilon commented on #6716
@SteveSandersonMS I think that phrasing is generally used to mean "it is not required and it is not recommended to use," which agrees with what I've heard from others - i.e. don't use a BOM.

But either way, I completely agree that all the template files need to be consistent. And beyond that, we need a test that checks for BOM presence (or un-presence).

@rynowak / @Tratcher - I think maybe you'v

[2017-09-07 21:40] dougbu opened #6782 "Create `<display/>` and `<editor>` (i.e. template-based) tag helpers"
See the [Tag Helper Pack](https://github.com/DamianEdwards/TagHelperPack) and #6512.

General wish is to make it easier to use `ModelExplorer` more generally.

[2017-09-07 21:42] Tratcher commented on #6716
UTF-8 encode all the files. The BOM should only be excluded when transmitting over the network, as the encoding is specified in a header.

[2017-09-07 21:43] Eilon commented on #6716
Everything here is already all UTF-8. The question is only whether the files on disk should have a BOM or not.

[2017-09-07 21:44] dougbu commented on #5916
See the [Tag Helper Pack](https://github.com/DamianEdwards/TagHelperPack) and #6512.

[2017-09-07 21:45] Tratcher commented on #6716
Yes? How else do you save the encoding for the file? In additional metadata?

[2017-09-07 21:46] dougbu commented on #6645
Duplicate of #6512.

[2017-09-07 21:46] #6645 closed

[2017-09-07 21:58] dougbu commented on #3791
No plans to implement this feature.

[2017-09-07 21:58] #3791 closed

[2017-09-07 22:24] rynowak commented on #6716
Yeah, I'm not the expert on this. We should talk to the tooling team.

[2017-09-07 22:29] rynowak opened #6784 "Make default apidescription provider understand ActionResult<T>"

[2017-09-07 22:29] rynowak opened #6785 "Add a new apidescriptionprovider that can infer possible 4XX responses from action signature"
See https://github.com/aspnet/Mvc/issues/6785 for more details on the work being done here.

[2017-09-07 22:33] rynowak opened #6786 "Convert some 'basic' 4XX responses into 'problem' responses"
* [ ] Add a filter
* [ ] Include correlation id if available
* [ ] Ensure analyzer works (#8288)

--------
* RFC 7807
* Use ProblemDescription as the preferred format for "error" responses from API endpoints.
* Introduce a new attribute that assumes that your API confers to some expectations. Expectations:
    (a) Any API which participates in model binding will have model state errors
    (b) API

[2017-09-07 22:34] rynowak opened #6787 "Add swagger tool for build-time swagger generation"

[2017-09-07 22:39] rynowak opened #6788 "prototype build-time code generation using swagger"

[2017-09-07 22:41] rynowak opened #6789 "Create a pattern to have the framework handle validation errors automatically"
This would be a filter that responds with a 400 without calling your action code.

[2017-09-07 22:42] rynowak opened #6790 "Add support for validation attributes on parameters"

[2017-09-07 23:01] Eilon commented on #6780
@jbagga - can you add our fix proposal to this bug?

[2017-09-07 23:05] Eilon opened #6792 "Port part of fix to 2.0.x for: Returning a file, accept-ranges headers, and browser behaviors #6780"
See https://github.com/aspnet/Mvc/issues/6780

In the patch we can't add new APIs, so we should change the default behavior to be the 1.x behavior (i.e. no new headers by default). But, we should add a quirks mode switch to use the 2.0.0 behavior in case someone really wants it.

TODO: Need to figure out exactly which result types to patch. Definitely want to fix `FileContentResult`. Definitely **

[2017-09-07 23:06] Eilon commented on #6792
Tagging @jbagga to put in details of what we want to fix.

[2017-09-07 23:10] cdmihai commented on #6725
I looked a bit through the matching code, here are some thoughts:
- MSBuild ends up calling [Directory.GetfFiles](https://github.com/Microsoft/msbuild/blob/master/src/Shared/FileMatcher.cs#L194-L196). Maybe this API gets to misbehave in a weird manner?
- There's a [workaround for weird Windows matching](https://github.com/Microsoft/msbuild/blob/master/src/Shared/FileMatcher.cs#L1555-L1568) when th

[2017-09-07 23:48] Eilon commented on #6696
Crazy idea time:

If the system sees that `ErrorMessage` isn't set, it can try to call into the loc system with some well-known key (such as `System.ComponentModel.DataAnnotations.Required.Message`) to see if the loc system returns a value not equal to that key. If it returns the key, clearly it has not been localized and so it should fall back to getting the data annotation attribute's intrinsic

[2017-09-07 23:52] Eilon commented on #6576
@dougbu - we added this to the new project you created so we can discuss as a group.

This should probably be super easy to add. We could defined a new `asp-self-form` attribute (name TBD) that does exactly what `Html.BeginForm()` does.

[2017-09-08 00:12] #6760 closed

[2017-09-08 00:19] Eilon commented on #6498
@kichalla can you take a look at this and see where you feel we have large gaps in our logging? We don't want to just add new logging statements everywhere in the system because that wouldn't be useful.

[2017-09-08 00:25] Eilon commented on #6502
The code you have is certainly a way to make this work. An alternative is to just use a default HtmlEncoder, which would work just fine in this scenario. That's a bit simpler than getting the service from the DI container.

We considered making it easier to get the current HtmlEncoder by adding a property for it on some existing type, such as ViewContext, but the demand for this is fairly low, so

[2017-09-08 00:25] #6502 closed

[2017-09-08 00:40] Eilon commented on #6082
@TylerBrinkley the code in https://github.com/aspnet/Mvc/pull/5980 looks good and we think it's reasonable to include in ASP.NET Core 2.1 - thanks!

We also took a look at the tests and we feel that they don't cover the exact scenario under consideration here, which is to allow a *declared type* to vary from the *runtime type* during serialization. That is, it seems like there should be:
1. Tests

[2017-09-08 00:41] Eilon commented on #6082
Assigning to @dougbu to track this.

[2017-09-08 01:57] TylerBrinkley commented on #6082
@Eilon, I don't believe Json.NET is setup to allow the scenario you mention in your first point with only serializing members of the base class. Also, passing the declared type to the serializer is only used for `TypeNameHandling.Auto`.

[2017-09-08 02:02] Bartmax commented on #4115
@dougbu sounds fine!
@Eilon thanks for the follow up and clear writing on the issue. Also your suggestion of `asp-query-x=""` was great for me to actually use that to implement my own tag helper.

Thank you both

[2017-09-08 02:12] qibucloud opened #6793 ".Net Core 2.0 View caching issues"
My server is centos 7.2 64-bit system

Recently. Netcore1.1 procedures to upgrade to. Netcore2.0 View template changes do not timely update the problem
To restart the application to update
Because I was a multi-site application, the same procedures different domain name binding access, some sites after the update, some do not have to restart the application was updated, do not know if there is any

[2017-09-08 02:14] qibucloud commented on #6793
My server is centos 7.2 64-bit system

Recently. Netcore1.1 procedures to upgrade to. Netcore2.0 after checking the template is not updated after the update
To restart the application to update
Because my English multi-site applications, the same procedures for different domain name binding visit, some sites after the update, some not necessarily have to restart the application before updating, do

[2017-09-08 02:18] qibucloud commented on #6793
nginx   Demo site      http://www.sz-fortes.com/

[2017-09-08 02:19] anurse commented on #6498
You're right about wanting to find useful things, but I think we've been way too stingy with the `Trace` log level. I'd have expected turning `Trace` on to give me messages for pretty much every individual component involved in my request. `Trace`, to me, is supposed to be a deluge of events that a human couldn't possibly keep up with. `Trace` isn't necessarily about "useful" things, it's about fo

[2017-09-08 03:14] qibucloud commented on #6793
nginx Demo site  http://www.zuzitech.com

[2017-09-08 03:33] BlueColorDemon opened #6794 "BundleConfig Styles.Render"
![uz n 12 yt 1j v4lton](https://user-images.githubusercontent.com/7866267/30195017-617a3402-9489-11e7-8f52-e86bf9325e7e.png)
![6_5in skih002m 0xpm2 g0](https://user-images.githubusercontent.com/7866267/30195016-6179ef92-9489-11e7-8c3d-ebf439c58282.png)

[2017-09-08 03:46] qibucloud commented on #6793
<MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish>
    <MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>
    <PreserveCompilationContext>true</PreserveCompilationContext>
    <LangVersion>latest</LangVersion>  I did these things  ， The problem is still 。

[2017-09-08 03:48] qibucloud commented on #6793
我服务器是centos 7.2 64位系统

最近把.netcore1.1程序升级成.netcore2.0后View模板修改后不及时更新问题
要重启应用程序才能更新
因为我的是多站点应用，相同的程序不同域名绑定访问，有些站点修改后就更新，有些不行一定要重启应用才更新，不知道是不是MVC的内部机制有什么特殊缓存，因为运行有一百多个站点了，不知道是不是系统文件夹里文件太多的原因，另一台服务器站点不多就不会有这问题

[2017-09-08 03:48] Eilon commented on #6793
Hi @qibucloud . I'm not sure I understand the problem. What caching are you using? What problem are you seeing?

[2017-09-08 03:49] Eilon commented on #6690
Closing because there is not enough information to reproduce this problem.

[2017-09-08 03:49] #6690 closed

[2017-09-08 03:53] Eilon commented on #6684
Historically we don't throw in this case because we feel it would make the process of developing an app more difficult. In the case above, it's possible that you're still building your app, and you know that you *will* have an action named `MyController.MisspeltAction`, so in that view you generate the URL for the action, but you haven't yet written the action itself. Then, later, you'll go ahead

[2017-09-08 03:56] qibucloud commented on #6793
razor template modified to upload to the server can not be updated in real time
Be sure to use the `supervisorctl restart restart` the qibusite command before updatin

[2017-09-08 03:57] qibucloud commented on #6793
Hi @Eilon razor template modified to upload to the server can not be updated in real time
Be sure to use the `supervisorctl restart restart` the qibusite command before updatin

[2017-09-08 03:58] Eilon commented on #6684
Related previous discussion: https://github.com/aspnet/Mvc/issues/302

[2017-09-08 03:58] qibucloud commented on #6793
@Eilon Be sure to use the command to restart before updating

[2017-09-08 03:58] qibucloud commented on #6793
@Eilon supervisorctl restart restart

[2017-09-08 03:59] Eilon commented on #6794
This issue was moved to aspnet/AspNetWebOptimization#2

[2017-09-08 03:59] #6794 closed

[2017-09-08 04:39] qibucloud commented on #6793
No use of page caching @Eilon

[2017-09-08 04:42] DamianEdwards commented on #6793
Are you saying that you've published the application to a server, with Razor compile-on-publish disabled, but if you upload a modified Razor file to the published site it is not updated in the application until it is restarted? Can you share your project file please?

[2017-09-08 04:46] rynowak commented on #6769
Yeah, we should fix that.

[2017-09-08 05:30] RickyLin commented on #6793
I tried to make it a better translation:

Other information I got from @qibucloud ,

- each domain has its own application folder, so 10 domains point to 10 web app folders respectively.
- the .cshtml files seem to be modified on server directly by an online editor, which shows file structure on the published folder and can edit files in it directly.
  ![onlineeditcshtml](https://user-images.githu

[2017-09-08 05:38] qibucloud commented on #6793
@DamianEdwards @Eilon
`<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish>
    <MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>
    <PreserveCompilationContext>true</PreserveCompilationContext>
    <LangVersion>latest</LangVersion>
  </Prop

[2017-09-08 05:51] qibucloud commented on #6793
@DamianEdwards @Eilon
My project file
[code]

[2017-09-08 07:04] pranavkm commented on #6793
Do you redeploy \ publish your site as part of restarting it? If so it might be view precompilation resulting in over-caching, although your csproj does say it's turned off.
If that's not the case, could you try launching your app with the environment variable `DOTNET_USE_POLLING_FILE_WATCHER=1` and see if that helps? I'm trying to eliminate the FileSystemWatcher as a possible source of the issue.

[2017-09-08 07:38] omuleanu commented on #6502
@Eilon how do you get the DefaultHtmlEncoder ?
(from within a class that inherits IHtmlContent, but not inside the WriteTo method where you have it as a parameter )

[2017-09-08 08:43] qibucloud commented on #6793
@pranavkm
![00002](https://user-images.githubusercontent.com/20663674/30203523-d4261860-94b4-11e7-8556-eef03ce071d9.png)
System environment variables plus go, but the problem is not resolved

[2017-09-08 08:55] qibucloud commented on #6793
@Eilon @DamianEdwards @pranavkm @RickyLin
![00003](https://user-images.githubusercontent.com/20663674/30203962-729eb352-94b6-11e7-802b-22e780c7b450.png)

[2017-09-08 09:13] J0nKn1ght commented on #6765
@frankabbruzzese Ok - I admit that I'm a slow learner, but I think that I've actually found what I was doing wrong.  The process has actually got to be:

1. In the IModelBinderProvider create a collection of binders with one for each class that inherits the base class, and pass this into the IModelBinder constructor.
2. In the IModelBinder, when BindModelAsync is called for the base class instance

[2017-09-08 11:27] J0nKn1ght commented on #6765
I've realised that I didn't cater for model validation in my IModelBinder implementation above.  The BindModelAsync needs to include the following change to the end of the method:

[code]

[2017-09-08 12:05] mmacneil commented on #5295
@atrauzzi - Were you using this with MVC Routing ie. app.UseMvc() or were you using purely custom routing?

[2017-09-08 13:54] dinooz commented on #6775
Close... have been working with K2 Forms and is really awesome, the way it works.
Define the SQL Data
Setup Data Sources as Service Instanace / then Smart Objects. [ Build CRUD of the SQL or Data Source]
Use the graphical interface to build the form and put some buttons calling actions and rules.
That's all the form is ready.

Taking that to the command like rails like, will be also cool, since wi

[2017-09-08 14:17] khellang commented on #6789
Could I propose `422` is used instead of `400`?

From [RFC4918 Section 11.2](https://tools.ietf.org/html/rfc4918#section-11.2):

   understands the content type of the request entity (hence a
   415(Unsupported Media Type) status code is inappropriate), and the
   syntax of the request entity is correct (thus a 400 (Bad Request)
   status code is inappropriate) but was unable to process the contai

[2017-09-08 14:44] khellang opened #6795 "Consider adding UnprocessableEntityResult and ControllerBase.UnprocessableEntity"
`422 Unprocessable Entity` is commonly used for semantic validation errors in APIs, as opposed to `400 Bad Request` for syntactical errors:

understands the content type of the request entity (hence a
415(Unsupported Media Type) status code is inappropriate), and the
syntax of the request entity is correct (thus a 400 (Bad Request)
status code is inappropriate) but was unable to process the contai

[2017-09-08 14:45] mitchelsellers opened #6796 "Performance Issues with Html.DisplayFor()"
Default project scaffolding for "List" views will result in a scaffolded display that will use your model with Html.DisplayFor() being used to output each of the individual values on the view.  An example of one of these is below.

[code]
This example was pulled from a simple ViewModel that contained 4 properties, an int RegionId and BranchCount, as well as two string fields, max length of 250 cha

[2017-09-08 15:08] rynowak commented on #6789
You can propose whatever you want 😆 To me it's not the important thing - because even if we can choose a **right** answer there will still be lots of developers who want to do it differently.

I still welcome the discussion, but I don't expect us to get an overwhelming consensus.

------------------------------

In my readings of a few other blogs and forum posts this morning on the topic of 400 v

[2017-09-08 15:16] qibucloud commented on #6793
@Eilon @DamianEdwards @pranavkm @RickyLin

Through the exclusion test, now I am quite sure that the strange cache was caused by the excessive number of folders. After I reduced the amount of the folders and restarted the application, everything became normal. But when I put all the folders back and restarted the application, the problem came out again.
Could you please help me to analyze what is t

[2017-09-08 15:25] qibucloud commented on #6793
![001](https://user-images.githubusercontent.com/20663674/30218897-f73d7bee-94ec-11e7-9f88-84f26cba3898.png)
![002](https://user-images.githubusercontent.com/20663674/30218898-f781fc38-94ec-11e7-9d18-b735bbdc8af1.png)

[2017-09-08 15:46] Eilon commented on #6502
@omuleanu the `HtmlEncoder` has a static `Default` property on it: https://github.com/dotnet/corefx/blob/master/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/HtmlEncoder.cs#L21

So, you can just call `HtmlEncoder.Default` to get a default instance.

[2017-09-08 15:47] Eilon commented on #6716
This issue was moved to aspnet/templating#5

[2017-09-08 15:47] #6716 closed

[2017-09-08 15:55] Eilon commented on #6498
In a discussion with @rynowak we were thinking that the logged events should still have *some* meaning within the context of MVC. So, yeah, sure, log every model binder that ran, log which doodad short-circuited a process, which thingamajig caused binding to fail. But logging every enter/exit of every method is not "meaningful".

So, yes, a deluge, but not a random deluge 😄

[2017-09-08 16:06] rynowak commented on #6558
We're still not yet ready to post an **officially 2.1 upcoming changes** kind of announcement, but I wanted to point out to everyone here that we've started work on some of the things we're already clear about in the API area:

See:
https://github.com/aspnet/Mvc/projects (description)
https://github.com/aspnet/Mvc/projects/5 (work items)

@billpratt @khellang @CharlBest @domaindrivendev

I'm inter

[2017-09-08 16:18] h3smith commented on #6757
@davidfowl - with respects to this - i get the same after stopping, building, and debugging the app over on macOS. Is this the right repo or is there a place to report (correctly) issues for VS for macOS?

The only solution when it happens is to completely reboot my Macbook.

[2017-09-08 16:22] anurse commented on #6498
Filters were another area where I needed more logging data. I had an issue where I was using MVC Core and the Authorization filter wasn't added, and I would have really appreciated having a "Filters are running..." "End of filters" message to tell me that something was missing. Granted, I did have the advance knowledge that there was a filter that was supposed to do AuthZ stuff, which isn't someth

[2017-09-08 17:00] khellang commented on #6789
Why do you even involve the model state and hit the action method on syntactical errors? I'm not sure what you expect the developer to do in this case?

I would just return 400 right away, but I'm probably missing something 😅

[2017-09-08 17:01] khellang commented on #6789
At the very least, it would be nice if the status code was configurable :smile:

[2017-09-08 17:08] rynowak commented on #6789
Yeah this is part of the spirit of this work item.

Absolutely

[2017-09-08 17:22] atrauzzi commented on #5295
@mmacneil  - On top of the MVC routing engine.

I've come up with some conventions to get cleaner routing in my application, you can see the extensions here: https://github.com/atrauzzi/praxis/tree/master/Praxis/Routing

This more or less is what I was looking for - although I don't doubt the ASP.net team could improve on it.  While I haven't really documented this library, it is being used if you

[2017-09-08 17:47] #6772 closed

[2017-09-08 17:53] hamidmayeli opened #6797 "How I can skip all the validation of a model base on one of its property"
How I can skip all the validation of a model base on one of its property. For instance, if the `WillBeDeleted` property of the object is true the validator skips all the validation rules.

[code]

In the given sample model, when the MustBeDeleted is true it means that the item of email or telephone will be deleted on the save action.

I have searched and found that several questions about conditio

[2017-09-08 18:17] mmacneil commented on #5295
Thanks @atrauzzi ! I'll check it out.  I hit the same sort of constraint with the MapVerb, MapGet etc. apis and used your AddVerb extension as part an attribute-less routing approach.

Thanks,
Mark

[2017-09-08 19:39] HolyOne commented on #6769
Thanks
So when should I expect a fix? version 2.1 ?

[2017-09-08 20:04] pranavkm commented on #6769
Yup, we'll fix the base type in 2.1. In the meanwhile, having your base type derive from `Page` works. Doesn't that address your initial concern?

[2017-09-08 20:29] atrauzzi commented on #5295
Yeah, I definitely wasn't looking to reinvent the wheel. Just that the current MVC APIs for routing really pale in comparison to other frameworks out there.

Glad I could help! :)

[2017-09-08 21:33] rmja commented on #6749
For anyone that hits this issue, this is an extension method I wrote to get around the problem:

[code]

[2017-09-08 21:58] colhountech opened #6799 "Textarea tagHelper is not rendering the contents of the element correctly."
The `<textarea>` tag helper is not rendering the content of the element correctly for a Razor Page.

If a Model property called `Messages` is modified in the OnPost, this update is visible in the view by using the razor  directive `@Model.Messages`, but the `<textarea>` element does not display the correct innerHtml content.

This issue has been previously raised and closed because it could not be

[2017-09-08 23:32] rynowak commented on #6606
The plan here for 2.1.0 is to allow your page model to implement a page filter. This fills the scenario to initialize some state without the need for a new concept

[2017-09-08 23:39] kichalla commented on #6777
I am able to repro this bug. Antiforgery token validation filter is an authorization filter where as RequestSizeLimitAttribute creates a resource filter. Since authorization filters run before resource filters, we are seeing antiforgery filter attempting to read the body (to get the request token) before the size limit is applied.
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filter

[2017-09-08 23:45] rynowak commented on #6065
Please move sample to entropy and log a doc issue to include this info

[2017-09-08 23:49] kichalla commented on #6329
On discussing with @dougbu , came to know that there is an `EnumDataTypeAttribute` from DataAnnotations which can be used to validate an Enum type. I have tried it and it works. However I see that the scenario (or repro) in the original post shows using the Enum as a parameter directly, in which case this does not work as validation of data annotation attributes on parameters is not supported (rig

[2017-09-08 23:51] kichalla commented on #5128
This was already implemented by @jbagga as part of this commit https://github.com/aspnet/Mvc/commit/17f6b17a6dc0e76606b091187a4e43a184656c89

[2017-09-09 00:15] ajcvickers opened #6800 "Using page variable in [Route] causes errors"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/9738 by @isonil

This causes errors:

[code]

Errors (which don't even say what's wrong):
[code]

This works fine:
[code]

[2017-09-09 00:15] rynowak commented on #6605
So we plans to support using `"~/Foo"` and `/Foo` as overrides. So any page can have full control over its route.

[2017-09-09 02:32] dougbu commented on #6082
@TylerBrinkley what exactly should `DeclaredType` control? For
[code]
The response body with after #5980 remains
[code]
If instead I change the serializer settings to use `TypeNameHandling.Auto`, the body is
[code]

Note the serialized type is `Employee` and not `Person`.

@Eilon these settings do not change the properties that are serialized.

[2017-09-09 03:21] dougbu commented on #6082
FYI @Eilon to serialize only base class properties, users can for example
[code]

And, [this guy](http://www.ithoughts.de/json-net-and-serializing-only-base-class-properties) suggests a generic `DefaultContractResolver` subclass that opts in or out depending on a property's declaring type.

[2017-09-09 11:22] HolyOne commented on #6769
Oh yes inheriting from Page works
Thankss this was what I was looking for

[2017-09-09 19:41] mxa0079 commented on #2910
@Eilon - by the reaction to your message I beleive it is clear that the community needs this. Could you ellaborate the reasoning for not adding this to the pipeline and simply closing the case?

The current response to this issue is not aligned with the "customer obsession" culture that Satya is building at Microsoft.

Thanks!

[2017-09-09 23:08] HolyOne commented on #6769
I have another problem,
Now, @inherits CustomRazorPage works on my pages
but it does not work in _ViewStart or _ViewImports
So I need to write it to all pages

[2017-09-10 06:42] amdnaji opened #6802 "Best way to use HttpClient in ASP.NET Core"
Hi,
I am using  HttpClient in our ASP.NET core application but i found this [article](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client) has the below note.

Then after more search i found another [article ](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/).

According to the articles the solution is to use single instance of HttpCl

[2017-09-10 17:40] JohnyL opened #6803 "SetMediaTypeMappingFormat doesn't recoginize first overload"
![MediaTypeHeaderValue.Parse error](https://i.imgur.com/dbB6pBU.png)

[2017-09-11 04:16] Eilon commented on #6329
We do plan to support data annotations on parameters and other "top level" bindings.

However, that doesn't change the fact that a user's expectations are left completely unsatisfied with the current behavior of enums. That's what we want to fix. It's good to know that there's a "workaround," but we decided that having to use a workaround isn't good enough.

[2017-09-11 04:21] Eilon commented on #2910
@mxa0079 I totally agree that there's a community need, and it was mentioned earlier that a solution already exists via some components that @sebastienros built for Orchard Core: https://github.com/aspnet/Mvc/issues/2910#issuecomment-238298882

We've gotten plenty of flack before (and deservedly so!) for trying to replicate perfectly good community solutions. This is a case where we've stayed back

[2017-09-11 04:57] Eilon commented on #6498
Yup, I think these are great examples of "stuff that has genuine meaning to MVC."

[2017-09-11 05:03] Eilon commented on #6082
Oh I thought by default only members of the *declared type* got serialized? That's not the case?

[2017-09-11 05:05] Eilon commented on #6775
Ah, I see, so this is about scaffolding an entire database (all tables + all relationships) in one command?

[2017-09-11 05:05] Eilon commented on #6775
This issue was moved to aspnet/Scaffolding#621

[2017-09-11 05:05] #6775 closed

[2017-09-11 05:25] Eilon commented on #6746
Hi @jsobus-neurosys sorry for the delay.

This is by-design, per the answer listed at https://stackoverflow.com/a/46003081/31668.

The `.` character is indeed a special character that denotes a sub-property (just like in C#). The other special characters are `[` and `]`, which denote indexers (also, just like in C#).

These patterns are fairly common in various binding systems. jQuery, PHP, and ot

[2017-09-11 05:25] #6746 closed

[2017-09-11 06:21] drauch commented on #6774
@Eilon / @pranavkm : I localized the problem: we used `stringLocalizerFactory(typeof(MyResources))` where `MyResources` was the class in the designer file. This seems to be buggy:

MyResources resides in "MyApp.Resources", LocalizationOptions.ResourcesPath is set to "Resources", calling the factory as above looks for the resource file in "MyApp.Resources.Resources.MyResources" (yes, two times "Res

[2017-09-11 06:22] hamidmayeli commented on #6797
Dear @Eilon,
May I ask you about this requirement in my project?
I thank you in advance for your attention.

[2017-09-11 06:29] Eilon commented on #6774
@ryanbrandenburg can you comment on this? @hishamco maybe you have some ideas?

[2017-09-11 06:41] hishamco commented on #6774
Have a look to localization sample [here](https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/Startup.cs#L25) `IStringLocalizer<Startup> SR` the `Startup` isn't the .designer.cs

but to understand your issue, please create a repo to reproduce your issue

[2017-09-11 06:46] hishamco commented on #6774
FYI you don't need `stringLocalizerFactory(typeof(MyResources))` a because the localization APIs is already register a generic version for you https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/LocalizationServiceCollectionExtensions.cs#L65

For more details example, refer to https://github.com/aspnet/Entropy/tree/dev/samples/Localization.StarterWeb which have al

[2017-09-11 11:08] dazinator commented on #2910
The links above 404 for me.. did a quick search for orchard core resource management: yielded another link that 404's!  https://github.com/OrchardCMS/Orchard2/tree/master/src/OrchardCore/Orchard.ResourceManagement

If relying on a community maintained solution to fill such a fundamental gap in the framework (lets face it, this makes or breaks the real world usefulness of view components and was ra

[2017-09-11 11:14] khellang commented on #6802
The best way, in general, is to use a single instance.

I've never had any problems with DNS resolution and `HttpClient`, but that might not always be the case, as you can see in the issue you linked.

So the answer, as usual, is "it depends". If you're hitting servers that frequently change IP adresses, it might be a problem. In that case, it might be an idea to do some kind of `HttpClient` manag

[2017-09-11 12:42] grahamehorner commented on #2910
https://github.com/OrchardCMS/Orchard2/tree/8d78c6761297d2198c7a101b4179e28fe67f3651/src/OrchardCore/OrchardCore.ResourceManagement @dazinator

[2017-09-11 12:56] TylerBrinkley commented on #6082
@dougbu The only thing `DeclaredType` should control is whether to output the type name when using `TypeNameHandling.Auto`.

In your example, if your api can return any type of `Person` then if the runtime type is not a `Person` but a derived class like `Employee` then it's type name should be added when using `TypeNameHandling.Auto`.

[2017-09-11 13:12] amdnaji commented on #6802
@khellang Thanks a lot for your answer 👍

[2017-09-11 13:12] #6802 closed

[2017-09-11 14:53] rynowak commented on #6777
So if that's the issue when we need to fix this by making this filter an authZ filter.

@jaoord you should be able to work around this issue by placing `[IgnoreAntiforgeryToken]` on the action, and then validating it manually inside the action..

[code]

[2017-09-11 14:59] rynowak commented on #6800
@pranavkm is this a duplicate of something we fixed already?

[2017-09-11 15:14] rynowak commented on #6803
This uses https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/MediaTypeHeaderValue.cs#L17 which is in the `Microsoft.Net.Http.Headers` namespace.

Why not just pass the value as a string?

[2017-09-11 15:16] davidfowl commented on #6803
Related to https://github.com/aspnet/HttpAbstractions/issues/813

/cc @Eilon @Tratcher

[2017-09-11 15:39] DerrenAusten opened #6805 "XmlSerializerOutputFormatter in version 2.0.0.0 of the assembly is not working as expected"
I have an ASP.NET Core 1.1 and 2.0 app setup as follows:

`Startup.cs`

[code]

`HomeController.cs`

[code]

The 1.1 version (assembly version 1.1.3.0) returns:

[code]

The 2.0 version (assembly version 2.0.0.0) returns:

[code]

Am I doing something wrong here?

[2017-09-11 16:17] dougbu commented on #6082
Yup, the polymorphic support here is about recreating e.g. a subclass of something `abstract`. Json.NET uses a `$type` property for that purpose.

FYI I'd normally recommend a custom model binder here. But, that won't work except at the top level of a model.

@TylerBrinkley does everything work end-to-end with the #5980 changes in place? Or, is it necessary to enable a non-default `TypeNameHandlin

[2017-09-11 16:33] sebastienros commented on #2910
Sorry, last week we renamed all the packages in preparation for a beta release on nuget.org, and I didn't remember and these links here. And yes, I intend to publish an article on how to use it, and also for some other important package. The location remains to be defined.

In the meantime, you can find the package on this myget feed: https://www.myget.org/feed/Packages/orchardcore-preview

Orchar

[2017-09-11 16:34] ryanbrandenburg commented on #6774
Yeah, please review the linked resources and [documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#resource-file-naming). Usually this kind of thing turns out to be a problem related to the namespace of the class, so pay extra attention to that section. If it doesn't answer your question please post a minimal repro project so that we can figure out the exact behavi

[2017-09-11 16:40] dougbu commented on #6698
The localization infrastructure is opt-in, requiring e.g. calls to `IMvcBuilder` or `IMvcCoreBuilder` extension methods. It may have been possible to use an `IStringLocalizerFactory` when available, but that's rather complicated. Which keys would we use? What resources should be referenced?

One possible setup:
[code]
Then, add the following to your `Startup.ConfigureServices(...)` method:
[code]

[2017-09-11 16:46] Eilon commented on #6795
Thanks for the suggestion, we'll review the request in our next bug triage meeting.

[2017-09-11 16:47] Eilon commented on #6805
I think that instead of:

[code]

You want to remove the call to `.ToString()`, and do this:

[code]

Can you give that a try?

[2017-09-11 16:51] Eilon commented on #6800
Yeah this looks like the reserved `page` token issue, no?

[2017-09-11 17:02] pranavkm commented on #6725
@gregbradley feel free to reopen this work item once you've had a chance to look at @eerhardt and @cdmihai 's comments.

[2017-09-11 17:03] Eilon commented on #6797
Hi @hamidmayeli this type of question is probably better suited for a forum such as StackOverflow, using the `asp.net-core-mvc` tag. I'm closing this issue because it does not appear to be a bug in ASP.NET Core MVC.

[2017-09-11 17:03] #6797 closed

[2017-09-11 17:05] pranavkm commented on #6800
Dup of https://github.com/aspnet/Mvc/issues/6660.

[2017-09-11 17:05] #6800 closed

[2017-09-11 17:10] DerrenAusten commented on #6805
Yeah, without the `ToString()` I get back a 406 response.

[2017-09-11 17:14] Eilon commented on #6805
@rynowak - any idea what the trick is for this?

[2017-09-11 17:19] hamidmayeli commented on #6797
Hi @Eilon,
Thank you for your replay.
In fact, I wanted to offer the feature because I guess it would be useful.

[2017-09-11 17:39] Vasimovic commented on #6797
I think this would be useful as well, I run into this problem often

[2017-09-11 18:00] AlanBarber opened #6806 "HTTP Error 502.3 - Bad Gateway for users not in roles on controller Authorize attribute"
Running latest 2.0 core project upgraded from 1.1 core, azure ad authentication with user roles

On a controller I have setup the following

    [Authorize(Roles = "Manager")]

If the user is in the Manager role it works fine and they can access pages on that controller but any user not in the role are getting a generic iis error

    HTTP Error 502.3 - Bad Gateway
    The specified CGI applicatio

[2017-09-11 18:28] rynowak commented on #6805
since you're building the response as a string yourself `return Content(xmlDocument.ToString(), "application/xml");`

[2017-09-11 18:28] rynowak commented on #6805
Should we consider adding a formatter that can deal with XDocument and friends? Our built-in formatters don't do this because we just call the XML serializer.

[2017-09-11 18:42] kichalla commented on #6771
I found the following issue while researching about this attribute:
https://github.com/dotnet/corefx/issues/8913#issuecomment-279552672

So `FileExtensionAttribute` only works on `string` input here and not on types like `IFormFile`. Just wanted to check with you if we considered this when we triaged it.

cc @Eilon @dougbu

[2017-09-11 18:46] TylerBrinkley commented on #6082
@dougbu In order to deserialize the json to its specified `$type` the user must specify a non-default `TypeNameHandling` otherwise the `$type` json property will just be ignored. Does that help?

[2017-09-11 19:27] DerrenAusten commented on #6805
The `ContentResult` thing works, thanks.

[2017-09-11 19:59] Eilon commented on #6805
@rynowak - it seems reasonable, but maybe not a high priority?

[2017-09-11 20:11] rynowak commented on #6805
Yeah this has been the first request for something like this

[2017-09-11 21:12] #6604 closed

[2017-09-11 21:21] #6784 closed

[2017-09-11 22:11] dougbu commented on #6576
@AndreiMaz the browser will always submit to the current URL when the `action` attribute is not specified. Why is an explicit attribute value necessary here?

[2017-09-11 22:36] dougbu commented on #5713
Seems likely the check [here](https://github.com/aspnet/Mvc/blob/c27b07ef3f8b07dfe1d1de38a8d7bf2d6a9298f4/src/Microsoft.AspNetCore.Mvc.TagHelpers/TextAreaTagHelper.cs#L68) just never applies. Our issue is making changes here without breaking back-compatibility. Agree however that this isn't consistent with the `<input/>`.

One approach would be a new property on the `<textarea>` tag helper that us

[2017-09-11 22:42] dougbu commented on #5210
As discussed&hellip;

[2017-09-11 22:42] #5210 closed

[2017-09-11 22:45] dougbu commented on #4157
Given the way tag helpers work, we don't think there's anything we can do here.

[2017-09-11 22:45] #4157 closed

[2017-09-11 22:47] dougbu commented on #4138
We have chosen not to change the in-box tag helpers to read from external sites.

[2017-09-11 22:47] #4138 closed

[2017-09-11 22:55] dougbu commented on #3852
See #5713 for the `<textarea>` tag helper. Don't worry about losing the content of `<script>` elements when globbing.

[2017-09-11 22:55] #3852 closed

[2017-09-11 22:59] dougbu commented on #3173
Unclear what we could do that was correct and worked at runtime.

[2017-09-11 23:39] ryanbrandenburg commented on #6696
I can't think of any technical reason why that wouldn't work, but I'm kind of wary of adding magic keys which do specific things.

[2017-09-12 00:16] Eilon commented on #6803
Closing because this does not appear to be a bug in MVC.

@davidfowl - yeah the current situation isn't ideal, but renaming the types is a huge cost for customers. I don't think we've seen this problem much at all to justify a drastic change.

[2017-09-12 00:16] #6803 closed

[2017-09-12 08:01] RehanSaeed commented on #5822
@Vinhaman Did you figure out the issue with `System.Net.Http.Primitives`? I can't seem to run my unit tests which use 5.2.3.

Also, the milestone says 2.1, so looks like 5.2.4 has been pushed back.

[2017-09-12 08:14] ruchanb opened #6809 "Response.WriteAsync causes "The connection was reset""
I have following code
[code]
When i try to view `Home\Test` in browser, I get the error
[code]
Steps to Reproduce
- Create new Asp.net Core project
- In home controller add the above method

Project file
[code]

Removing the `Response.WriteAsync` causes no issue. What is causing the issue?

[2017-09-12 08:17] vanillajonathan commented on #5822
Should this still be in the `Microsoft.AspNet.WebApi.Client` namespace or should it be moved to the `Microsoft.AspNetCore.WebApi.Client` namespace?

[2017-09-12 08:22] Vinhaman commented on #5822
@RehanSaeed
I had to remove the dependency completely as a workaround for it to work...
Upgrading to version 2.0 is not top priority for us and we are having other issues so for now we're still keeping the 1.1

[2017-09-12 08:24] RehanSaeed commented on #5822
A `System.Net.Http.Primitives` package does not seem to exist. StackOverflow pointed me at installing `<PackageReference Include="Microsoft.Net.Http" Version="2.2.29" />` which seems to work for now.

[2017-09-12 09:57] jaoord commented on #6777
I changed it but for some reason VS2017 decided to not restore bower packages anymore so unfortunately I can't test it right now. The website is running behind IIS in live, so we use the IIS request size limit settings from web.config.

[2017-09-12 10:00] Tornhoof opened #6810 "Default value of GroupName in ApiExplorerSettingsAttribute"
Hi,
as it is now necessary to opt-in into ApiExplorer by using the ``[ApiExplorerSettings(IgnoreApi = false)]``, which works on a BaseController (as the attribute is inherited) but currently there is no way to generically set the GroupName to something Controller specific. It would be great if you either support [controller] placeholder (like in the RoutePrefixAttribute) or some property which set

[2017-09-12 16:11] Eilon commented on #6805
Closing because there are no plans to implement this. If we see higher demand for this we will reconsider.

[2017-09-12 16:11] #6805 closed

[2017-09-12 16:22] pranavkm commented on #6725
Great. If you do encounter this again, feel free to look at the previous debugging suggestions. It'll be nice to determine what set off the issue.

[2017-09-12 16:42] Eilon commented on #6082
Hi all, from what we can tell, there are no issues serializing all the properties of derived types. (I initially thought that wasn't the case, but that was incorrect.)

It appears that this particular request is fundamentally about making Json.NET's [TypeNameHandling](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_TypeNameHandling.htm) feature more usable in ASP.NET Core MVC. Given th

[2017-09-12 16:42] #6082 closed

[2017-09-12 17:12] Eilon commented on #6810
@rynowak thoughts on this?

[2017-09-12 17:13] Eilon commented on #6809
Are you running this directly in Kestrel (default when launching from command line), in IIS Express (default when launching from Visual Studio on Windows), or something else?

[2017-09-12 17:14] Eilon commented on #6809
cc @halter73 @Tratcher in case you guys have any thoughts.

[2017-09-12 17:20] rynowak commented on #6810
Here's an example of code that does this https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/test/WebSites/ApiExplorerWebSite/ApiExplorerVisibilityEnabledConvention.cs

[2017-09-12 17:37] Tornhoof commented on #6810
Thank you for that Link, yes this solves the problem quite nicely.

[2017-09-12 17:37] #6810 closed

[2017-09-12 17:48] pranavkm opened #6811 "Allow a way to opt-out of BindProperty"
As part of https://github.com/aspnet/Mvc/issues/6653, we're allowing `BindPropertyAttribute` to be applied to page model instances. Adding a `BindProperty` on a property will override the attribute's configuration on the type, however there isn't a way to opt out of this. Should we allow a setting that allows this?

Note:
We already have `BindNeverAttribute` that applies to sub-level properties an

[2017-09-12 17:51] Tratcher commented on #6809
`OK()` sets the status code, correct? That can't be done after you call Write. I expect there to be an invalid operation exception in the logs for this request.

[2017-09-12 17:52] Tratcher commented on #6809
Can you change the return type from `Task<IActionResult>` to `Task`?

[2017-09-12 18:07] TylerBrinkley commented on #6082
For my use, it's for an internal api that is not directly nor indirectly exposed externally so I'm not concerned about the potential security issues.

Thanks for looking at the request. I'll just wrap my returned objects in a wrapper object since the `TypeNameHandling` feature works fine with non-root objects.

[2017-09-12 18:08] Eilon commented on #6806
When doing local debugging can you try to enable catching all exceptions and see if there's some hidden exception being thrown?

Here's how to do it:

First, open the Exception Settings window:
![image](https://user-images.githubusercontent.com/202643/30341285-57b0bc6a-97aa-11e7-834d-5a18c640c17a.png)

Then, enable catching all exceptions:
![image](https://user-images.githubusercontent.com/202643/

[2017-09-12 18:15] Tratcher commented on #6806
There's a known issue with Forbid. See https://github.com/aspnet/Security/issues/1415#issuecomment-328576682

[2017-09-12 18:38] davidfowl commented on #6809
It's strange this causes a connection reset (at first glance)

[2017-09-12 18:40] Tratcher commented on #6809
An unhandled exception after the first write causes a connection reset because it's too late to send a 500.

[2017-09-12 19:45] #6653 closed

[2017-09-12 21:16] Eilon commented on #6653
Done?

[2017-09-12 21:17] Eilon commented on #6082
Indeed, for internal APIs that aren't publicly exposed this is certainly much safer. Unfortunately we're concerned about the broader usage where we think the risk is just too high. Quite unfortunate.

[2017-09-12 21:21] pranavkm commented on #6653
Yup

[2017-09-12 21:23] Eilon commented on #6806
Oh, that issue. Looks like @davidfowl has a workaround listed here: https://github.com/aspnet/Security/issues/1376#issuecomment-323556698

And we'll have this fixed in 2.1.

Closing this bug as a dup.

[2017-09-12 21:23] #6806 closed

[2017-09-12 22:29] pranavkm commented on #6769
`_ViewStart`s are executed as vanilla Razor views, so it doesn't quite make sense to have them inherit from the `Page` \ `PageBase` types. That said, putting a type that derives from `PageBase` on a `_ViewImports` does throw an exception. I'll get this sorted for 2.1.0. For the current release, the best workaround is to explicitly add an `@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>`

[2017-09-13 00:13] #6777 closed

[2017-09-13 00:25] kichalla commented on #6543
4f18d99d021b33141a8747d63b2303040c8bd9dc

[2017-09-13 00:25] #6543 closed

[2017-09-13 00:47] halter73 commented on #6809
@Tratcher is right. Some browsers like IE/Edge will show the partial chunked content written to the response body before the connection was closed, but I know Chrome won't without a chunked terminator.

Normally you wouldn't get a connection reset since Kestrel normally waits for whatever has been written to the response to body flush given an application error. It doesn't try to consume the reque

[2017-09-13 02:15] jchadwick commented on #6653
Awesome!

[2017-09-13 02:30] billpratt commented on #6790
I am very excited for this. So many times I have wanted the following to work:

[code]

Where ModelState would be invalid if **name** was null or empty.

Also having the ability to easily define custom validation parameter attributes is a _must_

[2017-09-13 03:06] billpratt commented on #6788
Please consider using strongly-typed attribute descriptors for swagger documentation instead of using XML documentation. 😄

[2017-09-13 03:40] rynowak commented on #6788
I was thinking I was the only one in the world that didn't find that compelling.

This is something we've considered a few times, and have always ended up deferring on it because we don't consume the descriptions ourselves.

[2017-09-13 05:29] ruchanb commented on #6809
@Eilon I used IISExpress which had the mentioned error. Using CLI gives
[code]
Here is the stack trace
[code]

[2017-09-13 05:38] ruchanb commented on #6809
changing the code to
[code]
it gives the desired result.
From the discussion above, should I assume, it is by design? Doesn't feel like it though.

[2017-09-13 06:50] qibucloud opened #6814 ".net core centos 7.2 A large amount of view folders are not updated in time, so you need to restart applications"
`https://github.com/aspnet/Mvc/issues/6793`
https://github.com/aspnet/Mvc/issues/6793
@Eilon @DamianEdwards @pranavkm @RickyLin
Through the exclusion test, now I am quite sure that the strange cache was caused by the excessive number of folders. After I reduced the amount of the folders and restarted the application, everything became normal. But when I put all the folders back and restarted the a

[2017-09-13 10:58] Tratcher commented on #6809
Yes it is by design. Normally in MVC you don't write directly to the response, you return some sort of ActionResult that does it for you. Doing both causes a conflict, you can't return two responses for one request.

[2017-09-13 13:41] Jenan opened #6815 "How work with nested ViewModel - return always null"
I have tried work with nested ViewModel in my Asp.Net Core MVC application like this:

My nested ViewModel:
[code]

[code]

View:
[code]

Controller:
[code]

If I try save `new Role` then I always get null in `RoleViewModel role` in POST.

I have used:

`<PackageReference Include="Microsoft.AspNetCore.Mvc" Version="1.1.2" />`

The POST Request has this body:

`Role.Id=0&Role.Name=testvalue&__Reque

[2017-09-13 14:23] evil-shrike opened #6816 "MvcJsonOptions.JsonSerializerSettings setter is needed"
Currently in 2.0 for configuring `JsonSerializerSettings` we're doing something like that:
[code]

What's wrong with this approach for me is that I have a JsonSerializerSettings  inside my DI-container, so I need to use it as a whole. But `MvcJsonOptions` has no `SerializerSettings` setter.
This isn't possible:
[code]
So I have to assign every property from my JsonSerializerSettings to `MvcsonOpti

[2017-09-13 15:49] Eilon commented on #6809
Closing because this issue is by-design for the reasons mentioned above.

[2017-09-13 15:49] #6809 closed

[2017-09-13 15:50] pranavkm commented on #6793
@ianhays adding you since it looks like you last touched FSW.Linux. Were there any changes between 1.1 and 2.0 that might cause the FSW to no longer report file changes if there are too many sub directories \ files under the directory being watched?

@qibucloud can you verify that your application picks up the `DOTNET_USE_POLLING_FILE_WATCHER=1` env variable?

[2017-09-13 16:23] Eilon commented on #6816
Hi @evil-shrike the reason we don't have it settable is that options in ASP.NET Core in general are "composable," meaning that different components and parts of an app can each contribute various settings. If it were settable, that means that a component would be able to (perhaps inadvertently) overwrite important settings provided by another component.

For example, here are MVC's default JsonSer

[2017-09-13 16:30] pranavkm commented on #6815
@Jenan this is likely a dup of https://github.com/aspnet/Mvc/issues/6599. Changing the parameter name should resolve the issue i.e. `public async Task<IActionResult> Role(RoleViewModel roleViewModel)`

[2017-09-13 17:12] billpratt commented on #6788
Here's an example where having the framework support it is a good idea
https://github.com/dotnet/sdk/issues/795#issuecomment-329219685

[2017-09-13 17:33] Jenan commented on #6815
Thank you, you are right.

[2017-09-13 17:33] #6815 closed

[2017-09-13 17:47] #6065 closed

[2017-09-13 17:53] pranavkm commented on #6065
* Sample is located here - https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRazorPageHandlers
* Doc items to expand on Razor Pages feature is here - https://github.com/aspnet/Docs/issues/4281

[2017-09-13 19:07] dougbu opened #6817 "Add `TagHelperOutput` extension methods for `class` value manipulation"
Many thanks to @Elfocrash for his work in #6565. That PR adds the following extension methods:
[code]

----

Issue created in arrears to track work done in the 2.1.0 milestone.

[2017-09-13 19:08] dougbu commented on #6817
db397d81

[2017-09-13 19:08] #6817 closed

[2017-09-13 20:41] Eilon commented on #6796
@mitchelsellers thanks for the report. This definitely sounds quite slow.

@pranavkm - can you profile this at least in 2.0 and see where the slowdown is? I would have thought that just about everything is super-duper cached, so rendering a total of ~1000 fields w/ DisplayFor should not take 2 - 4 seconds...

[2017-09-13 20:57] Eilon commented on #6689
Closing because there are no plans to implement this. It seems that there exist other ways to do what's being discussed here.

[2017-09-13 20:57] #6689 closed

[2017-09-13 21:42] Eilon commented on #4604
@rynowak there's a PR for this that I assigned to you to review.

[2017-09-14 03:34] anurse opened #6818 "Use names in EventIds for logging"
When logging, we use `int`s for the `eventId` parameter, but the `EventId` type that is used can actually also support holding a name. Names are easier to query and inspect in structure log storage. So, as an example, a `LoggerMessage.Define` should change to something like this:

[code]

(Event ID names don't need a prefix because `EventId` is only unique within a Logger, so there's no need to pr

[2017-09-14 05:07] jsdmitry opened #6819 "Model does not serialize to the camelCase by default"
I am returning a data of the IEnumerable type as a Model of View. And I wait for that a Model has will properties with camelCase formatting as when getting a data from WebApi controller.

[2017-09-14 05:17] rynowak opened #6820 "Crazy Idea: Use IHostedService to 'preload' TagHelpers"
We've seen feedback in the past that doing a background warmup of Roslyn by creating an empty compilation has a measurable impact on startup perf.

Can we leverage `IHostedService` to use some heuristics about when we expect Roslyn/Razor to be required and trigger tag helper discovery early? Tag Helper Discovery creates a compilation so this should have the desired effect.

[2017-09-14 05:20] Eilon commented on #6771
I think from our discussion in person, we concluded that:
1. This attribute is meant only for `string` properties (where the user types in a file name manually, such as in Word 365 online, where you have to type in the name of the document to save it)
   * It makes perfect sense to localize the attribute. We should enable this for server & client validation
2. Using this attribute on any other typ

[2017-09-14 05:22] Eilon commented on #6819
Hi @jsdmitry can you show us what your code looks like? Camel case should be the default ever since ASP.NET Core 1.0.0: https://github.com/aspnet/Announcements/issues/194

cc @dougbu

[2017-09-14 05:24] Eilon commented on #6820
Please remind me because I need to be reminded: is there any potential for an ordering issue here? Can something of any reasonable significance end up happening in the wrong order? Like, a situation where tag helper discovery happens before "everything is loaded," such as what could happen with Application Parts?

[2017-09-14 05:31] Eilon commented on #6765
I'm closing this issue because it appears to be a discussion and question that was all resolved.

Thanks @frankabbruzzese for working on this!

[2017-09-14 05:31] #6765 closed

[2017-09-14 05:41] rynowak commented on #6820
`IHostedService` is part of DI https://github.com/aspnet/Hosting/blob/e7541e99a7c125f29d30c1454d463df65d6eab98/test/Microsoft.AspNetCore.Hosting.Tests/WebHostTests.cs#L489

So no. All of MVC's configuration needs to happen before DI or it's lazy.

[2017-09-14 06:40] rynowak commented on #4604
9db92dc6a7bfc22a62ff12053244201c38390da5 and db2d9ee56f9a7ca0f1a264821e0608b70047337c

[2017-09-14 08:39] SteveSandersonMS commented on #6790
@rynowak This is slightly off-topic but wanted to get a quick sanity check before taking the thought any further. Once again I had to do research to remember the difference between `[Required]` and `[BindRequired]`. The only [blog post on the subject](https://siderite.blogspot.com/2016/07/required-versus-bindrequired-attributes.html) has no clear conclusion, so it wasn't until [finding Doug's comm

[2017-09-14 10:47] SteveSandersonMS opened #6825 "Validation/binding review"
As part of KodKod work and #6790, I'm refreshing my memory of MVC's binding/validation system. Since it's been months/years since I interacted with this in detail, I'm essentially coming to this as an outsider without any particular sympathy for why things are like they are. I might well be missing important justifications, so please interpret these thoughts as being about usability not MVC's inte

[2017-09-14 13:41] jsdmitry commented on #6819
I resolved this issue, the problem was in my application.

[2017-09-14 14:59] #6819 closed

[2017-09-14 15:38] davidfowl commented on #6809
MVC needs a InlineActionResult that just exposes the lambda.

[2017-09-14 15:59] Tratcher commented on #6809
Wouldn't that do the same thing as returning void?

[2017-09-14 16:00] #6329 closed

[2017-09-14 16:02] davidfowl commented on #6809
That's an EmptyResult.

I should have been clearer with a code sample.

[code]

[2017-09-14 16:04] Tratcher commented on #6809
How is that different from this?
[code]

[2017-09-14 16:05] davidfowl commented on #6809
For all the same reasons that returning action results exists today. Filters can look at the results, make decisions based on it, short circuit etc.

[2017-09-14 16:08] Tratcher commented on #6809
Ah, seems useful. Not sure how you communicate that usefulness in the API names though.

[2017-09-14 16:53] wgutierrezr commented on #4494
Hi
I'm still having HttpContext.Connection.RemoteIpAddress issues, it returns ::1

I'm using Asp.Net Core 1.1 MVC

Regards

[2017-09-14 16:56] Tratcher commented on #4494
@wgutierrezr please open a new issue in BasicMiddleware, I expect you're having an issue with the forwarded headers for the remote IP. Please share the request headers as received by the server.

[2017-09-14 17:13] Eilon commented on #6809
Clearly it would be `ActionActionResult` 😄

[2017-09-14 17:48] sebastienros opened #6827 "Expose cache from RazorViewCompiler"
The cached entries for compiled views is private in `RazorViewCompiler`. In order to be able to share cached entries across tenants I have to copy the implementation of 3 different classes from MVC.

Ideally I would be able to extend `RazorViewCompiler` by providing my custom cache instance or service. Something like

[code]

This way I could use the lifetime I need for the cache entries.
And of c

[2017-09-14 18:44] rynowak commented on #6825
Addressing this is planned for 2.1 and already assigned to you https://github.com/aspnet/Mvc/issues/6790

[2017-09-14 18:57] rynowak commented on #6790
There are lots of ideas, but few of them about how to rationalize this with MVC's current and past behavior. For instance the concept of 'model binding' is hardly relevant to APIs but it's critical for browsers/forms. You will extremely rarely see a complex type used with model binding in an API.

OTOH browers/forms always send a value (empty string) for every input in the form, so what does this

[2017-09-14 19:34] #6769 closed

[2017-09-14 21:25] rynowak commented on #6776
Yes, this an issue with Razor tooling.

Right now when we open a document in the editor (`edit.cshtml`) it's opened in the project it lives in. This isn't how compilation actually works, it's just an artifact of VS. This is something we plan to change in the future, but right now it's pretty fundamental to our tooling experience.

The namespace of the generated C# code of `edit.cshtml` is in the `

[2017-09-14 22:18] pranavkm opened #6828 "Api Response should have a way to represent a default response type"
Swagger \ OpenAPI has a way to represent a `default` error response for all errors. See https://swagger.io/docs/specification/describing-responses#default. We don't have a good way to represent this. For the time being, we're resorting to using `StatusCode=0` to indicate this.

[2017-09-15 00:07] #6785 closed

[2017-09-15 00:08] pranavkm commented on #6786
We're not doing a filter. The plan is to use action result execution extensibility to do this.

[2017-09-15 01:10] qibucloud commented on #6793
@pranavkm  Not from the 1.1 upgrade to 2.0 only the problem. 1.1 also have the same problem

How to use the environment variable to start my application

[2017-09-15 01:19] qibucloud commented on #6793
View .cshtml in the wwwroot folder on the prime
Is it possible for this reason?
@pranavkm @ianhays
@DamianEdwards
@Eilon

[2017-09-15 01:23] RickyLin commented on #6793
@qibucloud 如果不知道如何验证 `DOTNET_USE_POLLING_FILE_WATCHER` 是否开启，你可以在你的代码里输出一下那个环境变量。另外你还是说中文吧。中文说清楚一些，我帮你翻译。他们可能看不到你发的某些英文。

If you don't know whether `DOTNET_USE_POLLING_FILE_WATCHER` is picked up, you may print out that environment variable. By the way, you can speak Chinese, I can translate it. Probably they don't quite understand some of your English sentences.

[2017-09-15 01:57] JamesYing opened #6829 "How can I use localization in my Razor Page project"
Hi guys,
I want use localization on my razor page project, I  registed the localization service in startup:
`services.AddLocalization(options => options.ResourcesPath = "Resources");
            services.AddMvc()
                .AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix)
                .AddRazorPagesOptions(options =>
                {
                    options.Conventions.

[2017-09-15 03:54] qibucloud commented on #6793
@RickyLin
我的视图模板与样式图片javascript一起放在wwwroot目录下，不知道跟这个有没有关系

[2017-09-15 03:59] RickyLin commented on #6793
My view templates, css, images, javascripts are all in the wwwroot folder, I'm not sure whether there are something to do with it.

[2017-09-15 04:08] RickyLin commented on #6793
FYI, here's some details about the system of @qibucloud.
There are many .cshtml files in wwwroot folder as templates, the code in Controller may be like this:

[code]

[2017-09-15 05:36] DamianEdwards commented on #6829
This looks like a bug as ideally `IViewLocalizer` should work in Razor Pages.

In the meantime, you can inject and use the `IStringLocalizerFactory` type instead and use it to create an `IStringLocalizer`.

[2017-09-15 05:36] DamianEdwards commented on #6829
@pranavkm @rynowak

[2017-09-15 09:34] henkmollema opened #6830 "Logging of JSON result executor"
The `JsonResultExecutor` logs the complete object using the `Information` log level:

https://github.com/aspnet/Mvc/blob/776c2604f82b1ff76e0a03ba5497ea616b8172a2/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/MvcJsonLoggerExtensions.cs#L22-L25

and

https://github.com/aspnet/Mvc/blob/776c2604f82b1ff76e0a03ba5497ea616b8172a2/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/JsonResultExe

[2017-09-15 09:47] richb8 opened #6831 "Content Negotiation aspnetcore 2.0 web api"
Hi,

I have an asp.net core 2.0 mvc api application that is setup to negotiate content (JSON or XML) based on the Accept header passed in the request. However, the response from my controllers always returns JSON when i set the Accept header to 'application/xml'...

My startup config looks like this:

` // Add MVC
            services.AddMvc(options =>
            {
                options.Respect

[2017-09-15 10:27] khellang commented on #6831
Did you also call `AddXmlSerializerFormatters` on the MVC builder (returned from `AddMvc`)?

[2017-09-15 10:56] richb8 commented on #6831
Yep.

I noticed my response class didn't have a parameterless constructor for serialization. Now i've added one, it seems to use the Accept header now however for application/xml Postman now just returns a "Could not get any response" message even though VS2017 debugging indicates the action request was a success. Strange one this..

[2017-09-15 10:58] khellang commented on #6831
AFAIK, XML serialization (using `XmlSerializer`) is pretty brittle. You have to carefully follow a bunch of rules for it to successfully serialize POCOs. Have you tried the DataContract-based as well (`AddXmlDataContractSerializerFormatters`)? What is the logs saying?

[2017-09-15 11:01] richb8 commented on #6831
I'll give it a go.

Cheers

[2017-09-15 11:14] richb8 commented on #6831
Not sure why I didn't look at the console logs first...

Figured it out. It's all working smoothly now.

Basically my response class had a property of type 'object' which was used for any other unknown class I wanted to add to the response. Because of this, the xml serializers couldn't serialize the unknown type.

The solutions are to:

1) Use the XmlInclude attibute to specify types that could be

[2017-09-15 11:14] #6831 closed

[2017-09-15 11:51] Sonnenuntergang commented on #5704
Yes, it will be convenient to make 'Invoke()' method overloadable. So when will it be true?

[2017-09-15 12:22] HolyOne opened #6832 "Many of the important methods are too hard to reach in Razor Pages"
I know the old Server.MapPath method and routing parameters can be reached with different ways in Razor pages, I think they should be much easier to access.

I spent long time finding many of the very necessary methods.

Although I know you have good reasons to implement Accessor Classes, I think a static helper class should be provided for easier access to return values/objects from them.

[2017-09-15 14:42] hamidmayeli opened #6833 "Publish fails in visual studio 2017."
Hi,
I want to publish an "ASP.Net MVC Core 2.0" project, which contains some library as references (They are not NuGets or projects). The project is working fine in the visual studio but it throws the following exception.

[code]

[2017-09-15 15:16] JamesYing commented on #6829
@DamianEdwards Thanks

[2017-09-15 15:23] rynowak commented on #6830
We just changed this to log the type 9db92dc6a7bfc22a62ff12053244201c38390da5

[2017-09-15 15:46] Eilon commented on #6611
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 15:49] henkmollema commented on #6830
How could I miss that? 🤔
Anyway, thanks!

[2017-09-15 15:49] #6830 closed

[2017-09-15 15:51] pranavkm commented on #6833
@hamidmayeli this is likely a dup of https://github.com/dotnet/core-setup/issues/2981 (I think you're on that thread too). Does the workaround I listed there - https://github.com/dotnet/core-setup/issues/2981#issuecomment-322572374 - work for you?

[2017-09-15 16:05] pranavkm commented on #6829
Dup of https://github.com/aspnet/Mvc/issues/6694. We fixed this for 2.1.0. @Eilon it'll be nice to port this to 2.0.x since view localization is is completely broken.

[2017-09-15 16:30] Eilon opened #6834 "Port to 2.0.1: Input fields don't emit (and thus round-trip) offset value when binding against DateTimeOffset fields"
Original bug we fixed in 2.1.0: https://github.com/aspnet/Mvc/issues/6648

Given that this change is slightly riskier, I recommend we add a quirk mode switch.

* General info on how to do quirks mode switches: https://github.com/Eilon/QuirksModeSwitchSample
* Specific example where we've used a quirks mode switch: https://github.com/aspnet/Mvc/commit/eec16ff8b03c1b212076e31ea49c082a3c1d6850#diff-a

[2017-09-15 16:30] Eilon commented on #6834
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 16:40] Eilon commented on #6706
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 16:40] Eilon commented on #6792
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 16:47] Ibro opened #6835 "async "OnReady" in controllers"
Would it be possible and make sense to have something like OnReady async method inside of controllers? Would help with scenarios where we are repeating async code usage inside of various methods.
/cc @DamianEdwards

[2017-09-15 17:21] DamianEdwards commented on #6829
Agree with @pranavkm that we should patch this in 2.0.x

[2017-09-15 17:21] #6829 closed

[2017-09-15 18:13] jbagga commented on #6792
`FileStreamResult` and `FileContentResult` will default to 1.x behavior and not add range headers. Adding a quirks mode switch to both in case range processing is desired

cc @Tratcher

[2017-09-15 18:30] Eilon commented on #6792
This sounds good to me as the new default.

Does there need to be any way aside from quirks switches to get the range headers to show up? (Perhaps it's fine if not; I'm just not sure.)

[2017-09-15 18:52] Eilon opened #6837 "Port to 2.0.1: Injecting IViewLocalizer into Razor Page causing IndexOutOfRangeException."
Original bug: https://github.com/aspnet/Mvc/issues/6694

[2017-09-15 18:53] Eilon commented on #6837
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 18:54] Eilon commented on #6837
Moving to @ajaybhargavb because @pranavkm is OOF.

[2017-09-15 20:29] Eilon commented on #6833
Yup, looks exactly like https://github.com/dotnet/core-setup/issues/2981.

[2017-09-15 20:30] Eilon commented on #6832
@HolyOne can you provide more details on the exact methods and functionality you're looking for? Server.MapPath is an API from ASP.NET 4.x and was never in ASP.NET Core at all.

[2017-09-15 20:40] Eilon commented on #6835
It's not exactly clear what "OnReady" represents. However, all the stages available to controllers and pages are available via filters. We have a doc on filters here: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters

[2017-09-15 20:40] #6835 closed

[2017-09-15 20:44] Eilon commented on #6827
All yours!

[2017-09-15 20:46] #6816 closed

[2017-09-15 20:52] Eilon commented on #6811
The main solution to this is "don't do it." That is, if you said to bind everything, we'll do that. Otherwise just opt-in the properties you want.

Also, given that this is meant for model types that are already meant for binding, it seems like it doesn't have much purpose.

[2017-09-15 20:52] #6811 closed

[2017-09-15 20:59] Ibro commented on #6835
I am aware of that. However, that's not so convenient. This would be one-time only, and it would be something that happens after controller instance is created. Since constructors can't be async, we could use this method. During community stand-up, Damian mentioned that something like this could be implemented for Razor Pages.

[2017-09-15 21:05] Eilon commented on #6799
We think we might be able to build some APIs that make this easier, but they would have discoverability problems. For example, we could add some APIs that let you do things like:

[code]

What these end up doing is quite simple (though admittedly also difficult to discover), which is set `ModelState["SomeProperty"].RawValue = newValue`.

For the reasons mentioned above, moving this to Backlog.

[2017-09-15 21:07] Eilon commented on #6684
Closing because there are no plans to implement this.

[2017-09-15 21:07] #6684 closed

[2017-09-15 21:18] Eilon commented on #6364
What @khellang mentions here is spot on.

If you have an object that you want to directly validate, you can call `TryValidateObject()` on it.

[2017-09-15 21:18] #6364 closed

[2017-09-15 21:25] Eilon commented on #6172
Seems reasonable. We need to add it to both MVC's `ControllerBase` and to Razor Pages' `PageModelBase`.

[2017-09-15 21:26] Eilon commented on #6213
Not a high priority.

[2017-09-15 21:26] #6213 closed

[2017-09-15 21:28] Eilon commented on #6795
Seems reasonable. We need to add it to both MVC's `ControllerBase` and to Razor Pages' `PageModelBase`.

See also https://github.com/aspnet/Mvc/issues/6172

[2017-09-15 21:28] Eilon commented on #6172
See also https://github.com/aspnet/Mvc/issues/6795

[2017-09-15 21:33] DamianEdwards commented on #6835
I believe you can do it in a Controller by making the controller itself a filter for itself. This is how we're going to solve this for Razor Pages too.

[2017-09-15 23:03] ajaybhargavb commented on #6837
c13cef6a7417cd30732881196773aff220ae16b8 on branch `feature/2.0.1`.

[2017-09-15 23:03] #6837 closed

[2017-09-16 03:26] fals commented on #6431
I'm facing the same @rynowak. If you take off [FromBody] it will esforce parameters as query string.

[2017-09-16 06:55] HolyOne commented on #6832
I know it is not in asp.net core, thats what I am talking about.

For example

Microsoft.AspNetCore.Http.IHttpContextAccessor hca =  new Microsoft.AspNetCore.Http.HttpContextAccessor();

I know this is not hard to write. But if you are expecting Razor Pages to be easier to dive into, you should provide much easier acccess to common objects just like in old webforms ( you can write whatever code un

[2017-09-16 09:55] khellang commented on #6795
I can do the work if you want 😊

[2017-09-16 09:56] davidfowl commented on #6832
@HolyOne why would you ever new up the http context accessor.

There's no expectation that Razor Pages is like php for aspx. It's just MVC but merging the VM (view model and C) the controller.

Can you give more specific examples of what is hard to do? The Request and Response objects exist on the Page itself maybe you missed that?

Is it just the `Server.MapPath` equivalent you're looking for? Ar

[2017-09-16 10:36] hamidmayeli commented on #6833
Dear @Eilon and @pranavkm , It is the same error and I use a workaround for this issue and it is fixed only for debugging time. I need to publish and it fails on publishing time. Therefore, I think it is not a duplicated issue.

[2017-09-17 02:43] rynowak commented on #6795
go for it! 👍

Should include `ControllerBase`, `PageModelBase` **and** `PageBase` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/PageBase.cs

[2017-09-17 09:26] takazm commented on #6689
I eventually implemented thus by deriving from jsonoutputformatter

[2017-09-17 19:13] DaanTacoSchool commented on #3970
Since Component.Invoke is removed (is now InvokeAsync) how is it possible to call this component explicitly NOT async? since that is not possible in my current situation.

[2017-09-18 03:18] Eilon commented on #3970
@DaanTacoSchool this is a pretty old issue - can you file a new issue describing what you're trying to do? That is, why do you need to call the component synchronously?

[2017-09-18 03:18] Eilon commented on #6689
Glad to hear!

[2017-09-18 03:22] Eilon commented on #6835
Ah, yes, that's covered here: https://github.com/aspnet/Mvc/issues/6606

So, yes, we do plan on having a fairly easy way to do this.

[2017-09-18 04:04] Eilon commented on #6833
@pranavkm - any ideas?

[2017-09-18 09:49] HolyOne commented on #6832
I am trying to make a custom localization in Razor Pages (Not asp.net s localization but my own)

For that I need to get Local Path name of the View file.

I also need to get the language parameter from route, MVC routing settings dont work with Razor Pages, a global @page {routevar?}  declaration cant be set in PageStart etc... but thats another long story.

These are the things I could do with a

[2017-09-18 11:48] DaanTacoSchool commented on #3970
For one, that the method is called from synchronous code directly, but
equally important, it is really difficult to unit test this.

Op 18 sep. 2017 05:18 schreef "Eilon Lipton" <notifications@github.com>:

[2017-09-18 12:22] evil-shrike commented on #6816
@Eilon I thought hard about what you said. In general I understand the idea, it looks very reasonable.

But in my case I'm having difficulties to implement this approach.
The thing is that I need a `JsonSerializerSettings` instance in many places of my app/lib.
So it should be registered in DI-container. I use Autofac but it shouldn't be important. I use a "module" to create JsonSerializeSettings

[2017-09-18 12:45] drauch opened #6841 "DataAnnotationLocalizerProvider not called for EnumDataType and own ValidationAttribute implementations"
For `EnumDataType` and all of our self-implemented `ValidationAttribute`s it looks like the `DataAnnotationLocalizerProvider` is not called when generating the error message. Insteaed it just outputs the `ErrorMessage` as is.

Is this a bug? Do I have to specifically configure additional validation attributes somewhere?

[2017-09-18 15:06] khellang commented on #6816
You could create a class that implements `IConfigureOptions<MvcJsonOptions>` and add it to the service collection, like this:

https://github.com/aspnet/Mvc/blob/1c4b0fcdf38320b2f02c0bb7c31df5bd391ace07/src/Microsoft.AspNetCore.Mvc.Formatters.Json/DependencyInjection/MvcJsonMvcCoreBuilderExtensions.cs#L76-L77

That way, you have access to the container (through constructor injection) when the opti

[2017-09-18 15:48] rynowak commented on #6431
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2017-09-18 17:42] pranavkm commented on #6833
Not off the top of my head. I'll investigate.

[2017-09-18 17:52] pranavkm commented on #6811
Should we update the docs on `BindNeverAttribute` to call this out? @SteveSandersonMS already had some musings about it's misgivings in https://github.com/aspnet/Mvc/issues/6825 so we could cover it as part of that issue.

[2017-09-18 18:26] NTaylorMullen commented on #6776
https://github.com/aspnet/Tooling/issues/883

[2017-09-18 18:26] #6776 closed

[2017-09-18 19:09] #6792 closed

[2017-09-18 19:40] #4914 closed

[2017-09-18 19:42] rynowak commented on #4914
c09575d

[2017-09-18 21:05] proskilly commented on #6833
I have the same issue, the workaround allowed me to run the project in VS but when I publish it I get an error
Cannot find compilation library location for package 'EntityFramework'
   at Microsoft.Extensions.DependencyModel.CompilationLibrary.ResolveReferencePaths(ICompilationAssemblyResolver resolver, List`1 assemblies)
   at Microsoft.Extensions.DependencyModel.CompilationLibrary.ResolveReferen

[2017-09-18 21:28] #5128 closed

[2017-09-18 21:36] Tratcher commented on #5128
Are you going to update https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Filters/RequestFormSizeLimitAttribute.cs now?

[2017-09-18 21:40] #5436 closed

[2017-09-18 21:46] kichalla commented on #5128
Sure, good point.

[2017-09-18 22:03] pranavkm commented on #6706
Fixed in https://github.com/aspnet/Mvc/commit/9f5e4eb483e19be069defa6b091aebef166d50be

[2017-09-18 22:03] #6706 closed

[2017-09-18 22:16] dougbu commented on #6834
6041c6b9 and fd9cb087 in feature/2.0.1

[2017-09-18 22:16] #6834 closed

[2017-09-18 22:18] dougbu commented on #6834
@Eilon to be clear: We're not merging all of `feature/2.0.1` into `rel/2.0.1` in one blast? Should I leave this bug open until I do that second port?

[2017-09-19 00:18] pranavkm opened #6847 "For types annotated with ApiControllerAttribute, consider making complex type parameters FromBody by default"
As part of producing, more opinionated APIs via `ApiControllerAttribute` we can assume any complex type parameter in your action without binding information is interpreted as `FromBody`. This will reduce the amount of typing \ clutter in user code:

[code]

We could add a switch to `ApiControllerOptions` to disable this behavior globally.

[2017-09-19 00:34] pranavkm opened #6848 "Convert null-valued results to NotFoundResult in ActionResult<>"
Consider the following API:

[code]

We could reduce this by assuming ActionResult<T>(null) indicates a NotFoundResult rather than an ObjectResult with a null value (which is what we do now). Resulting code:

[code]

[2017-09-19 00:35] pranavkm commented on #6848
Since the type is new, we could build this behavior in to `ActionResult<T>`: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ActionResultOfT.cs#L53-L59. However, it would be nicer if it had bells and whistles to disable this behavior.

[2017-09-19 04:59] doublnt opened #6850 "I have a name puzzle about Content in MVC"
Here is the defaults MVC folder structure.
![img3](https://user-images.githubusercontent.com/13679242/30576418-54a2d18a-9d3a-11e7-952e-9defa7419c8e.png)
Why Content is call Content, Why not use Contents?

[2017-09-19 07:51] khellang commented on #6795
Hmm... I can't seem to find `PageModelBase`. Did you mean `PageModel`?

Also, there's no existing `BadRequest` methods on `PageBase`, so it seems it's already missing quite a few other, similar methods. Should I still go ahead and add `UnprocessableEntity`? I think it would make sense to have a common base class for pages and controllers here.

[2017-09-19 08:53] RickyLin commented on #6793
From @qibucloud

[2017-09-19 09:04] proskilly commented on #6833
As a work around I added this to my csproj file within the PropertyGroup section and it allowed me to publish the app
    <MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>

[2017-09-19 09:25] qibucloud commented on #6793
[program:qibusite]
command=dotnet /wwwroot/qibusite/Qibu.dll
directory=/wwwroot/qibusite/
autorestart=true
stderr_logfile=/var/log/Qibu.err.log
stdout_logfile=/var/log/Qibu.out.log
environment=DOTNET_USE_POLLING_FILE_WATCHER=true
user=root
stopsignal=INT

The problem is solved, thank you

[2017-09-19 10:04] RickyLin commented on #6793
@pranavkm
As @qibucloud said, it works after adding `DOTNET_USE_POLLING_FILE_WATCHER` environment variable.

[2017-09-19 16:49] #6679 closed

[2017-09-19 16:54] marlon-tucker commented on #5893
Hello,

Please can someone update the TempData section on the documentation here:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?tabs=aspnetcore2x

It makes no reference to this latest change.

[2017-09-19 17:04] pranavkm commented on #6793
@qibucloud if you'd like I'd recommend following up with a work item in https://github.com/dotnet/corefx. You're probably running in to some form of limit in the Linux implementation of the FileSystemWatcher and perhaps they might be able to add a switch or a workaround to address the issue in general. Polling files on disk does incur some I/O costs (we diff the timestamps to see files have change

[2017-09-19 17:04] #6793 closed

[2017-09-19 17:24] #6233 closed

[2017-09-19 18:31] Yves57 commented on #6820
Maybe #5746...

[2017-09-19 18:47] dougbu commented on #6834
FYI same commits are now in `rel/2.0.1`.

[2017-09-19 19:52] rynowak commented on #6820
Yes! that's the one I was thinking of. I couldn't find the item to link it.

[2017-09-19 20:35] Eilon commented on #6834
We can do it whichever way. I think doing all in one blast is fine.

[2017-09-19 20:35] Eilon commented on #6834
But leaving the bug closed is fine.

[2017-09-19 20:38] mehowq commented on #6296
There is still (2.1.0-preview1-007211) an issue with IntelliSense with the filenames containing dashes.

In order to reproduce:
- create a new razor page e.g. razorpagetest.cshtml
- in the code add ViewData["Title"] = "Test123";
- save and close the file
- rename razorpagetest.cshtml to razor-pagetest.cshtml
- save and close the file
- reopen the file and you will see errors on the errors list (al

[2017-09-19 20:39] pranavkm commented on #6611
Fixed in https://github.com/aspnet/Mvc/commit/127d23a022286e9c819206da78e52b8ed5dc1498

[2017-09-19 20:39] #6611 closed

[2017-09-19 20:49] kichalla commented on #6514
Following is a way to configure a global authorization filter in ASP.NET Core. From @blowdart here: https://stackoverflow.com/a/36415213
[code]

[2017-09-19 21:03] mehowq opened #6854 "Razor Page does compile but VS shows errors when dash/hyphen used in file name"
There is still (2.1.0-preview1-007211) an issue with IntelliSense in Visual Studio 2017 (15.4.0 preview 2.0) with the filenames containing dashes.

In order to reproduce:

- create a new razor page e.g. razorpagetest.cshtml
- in the code add ViewData["Title"] = "Test123";
- save and close the file
- rename razorpagetest.cshtml to razor-pagetest.cshtml
- save and close the file
- reopen the file an

[2017-09-19 23:04] kichalla commented on #6514
@rynowak For a scenario like adding a global filter (ex: `options.Filters.Add(new AuthorizeFilter());`), I was wondering if its ok to get the PolicyProvider from DI in the following scenario (when `PolicyProvider == null`) https://github.com/aspnet/Mvc/blob/f0a5af2ba7916ef50d5119952a48f9b13c6600ca/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L108-L119

Currently the `Authoriz

[2017-09-19 23:51] pranavkm commented on #6795
@rynowak PageBase \ PageModel we intentionally skipped a bunch of API focused IActionResult methods from Razor Pages (See https://github.com/aspnet/Mvc/issues/5846). Presumably this is one the methods that isn't required here either.

[2017-09-20 01:59] Eilon commented on #6795
@DamianEdwards / @rynowak - thoughts on adding various other missing result factory methods? Were we trying to avoid more API-ish things appearing in Razor Pages or anything like that? Or do we want parity?

[2017-09-20 02:38] rynowak commented on #6514
We need to get the default policy, probably best to do it on the first request and then cache

[2017-09-20 02:39] rynowak commented on #6795
Yeah, let's leave it out for now. No one has asked for it

[2017-09-20 09:53] cycbluesky commented on #4988
I need all null value bind to a string property should be string.empty, How can I do?

[2017-09-20 09:59] cycbluesky commented on #4988
@rsheptolut The solution dose not work if I post data via JSON.  It only work when I use the model in a view.

[2017-09-20 10:35] coonmoo commented on #6596
Is there currently a workaround for 2.0?
Otherwise we won't be able to localize our website until this bug will be fixed, because we'd lose production stacktraces.

[2017-09-20 12:18] spatemp commented on #6725
I am having the exact same issue on windows 7 laptop.  can not seems to get rid of this error.   I have installed following and in that order.
- visual studio enterprise 15.3.3
- installed "dotnet-sdk-2.0.0-win-x64.exe"
- realized the above is wrong so with "dotnet-sdk-2.0.0-win-gs-x64.exe" repaired it.
- still same issue. so - installed "dotnet-sdk-2.0.0-win-x64.exe" and reboot windows
- un- inst

[2017-09-20 13:23] Korporal commented on #5507
@Eilon - You wrote:

"We felt that using exceptions for control flow is an anti-pattern (which is generally a commonly-held belief)."

But the OP's examples do not use exceptions for control flow, they simply throw exceptions which is precisely the intent of the **throw** keyword!

Using exceptions for flow control has nothing to do with **throw** but with **catch** and his examples do not do that

[2017-09-20 14:37] pranavkm commented on #6725
@spatemp could you go through the instructions from https://github.com/aspnet/Mvc/issues/6725#issuecomment-327318592 and https://github.com/aspnet/Mvc/issues/6725#issuecomment-327951744? Also, does specifically excluding files work - i.e. `<Compile Remove="**\*.cshtml" />`?

[2017-09-20 14:50] rynowak commented on #6596
You should be able to work around this.

Copy the code from
https://github.com/aspnet/Mvc/blob/4cca6b09f0044660d64469e3278b584a17c356e9/src/Microsoft.AspNetCore.Mvc.Core/Filters/MiddlewareFilterAttribute.cs
and
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/MiddlewareFilterBuilder.cs

Change line 81 of MiddlewareFilterBuilder to:
[code]

Register the new type as

[2017-09-20 16:45] kichalla opened #6858 "Changes to MvcOption's settings (SuppressInputFormatterBuffering & AllowBindingUndefinedValueToEnumType) are not taking affect"
I found this bug today while working on a different issue. The following piece of code doesn't cause the affect that you would expect them to:

[code]

This is because the following pieces of code get executed even before the above option manipulation occurs causing the affects not to be seen:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcCoreMvcOptionsSetup

[2017-09-20 17:13] dougbu commented on #6858
To clarify: Do you mean everywhere? We have a lot of `public` constructors with parameters taken from within `MvcOptions`. Would likely end up with at least a few deprecated constructors lying around (ick).

On the other hand, we could change the (also numerous) constructors that dereference `options.Value` before they return without such breaking changes.

Of course, fixing `AllowBindingUndefined

[2017-09-20 21:24] pranavkm commented on #6833
@hamidmayeli you would have to configure the same set of services to also work during design time. Precompilation supports this using `IDesignTimeMvcBuilderConfiguration`  (See https://github.com/aspnet/MvcPrecompilation/blob/dev/testapps/ApplicationWithConfigureMvc/Startup.cs#L8). You'd move the snippet provided in https://github.com/dotnet/core-setup/issues/2981#issuecomment-322572374 into `IDes

[2017-09-20 21:46] pranavkm commented on #6833
@hamidmayeli the other alternative is to disable precompilation the way @proskilly does.

[2017-09-20 21:48] pranavkm commented on #6833
Closing this since once we have the service collection configured in `IDesignTimeMvcBuilderConfiguration` this does get resolved. Feel free to reopen if you have further concerns.

[2017-09-20 21:48] #6833 closed

[2017-09-20 21:50] Eilon commented on #6848
This is specifically for `[ApiController]` conventions?

cc @rynowak

[2017-09-20 21:54] rynowak commented on #6848
I'm really not a big fan of this, it's been brought up before and I didn't like it then

[2017-09-20 21:55] Eilon commented on #6841
Hi @drauch can you show a bit more about your scenario? Is this about localizing the display names of enum values? Any code you can show regarding this would be helpful.

[2017-09-20 22:01] Eilon commented on #6850
You have finally unlocked the secret code of ASP.NET MVC, congratulations!

I hereby award you TEN free copies of ASP.NET MVC, limited to personal use only! You'll also be invited to the FREE public preview of ASP.NET Core MVC 2.1 when it is available!

😄

[2017-09-20 23:09] Eilon commented on #6854
@pranavkm - any ideas?

cc @rynowak

[2017-09-21 02:17] doublnt commented on #6850
I search specially to find the different meaning of `Content` and `Contents`,  I found this below, maybe can explain why using `Content`, but not `Contents`.

**In the singular, “content” usually refers to:**
* The entirety of information contained in something. The story of a novel or the subject of an illustration can be called their “content”. Just like “information”, content is always uncounta

[2017-09-21 04:06] Eilon commented on #6778
Hmm good question! If you know exactly which attributes you're expecting, I think you could do this:

[code]

And any attributes that aren't in the dictionary will be completely omitted. That is, is `bar` isn't in `htmlAttributes` then it won't render `bar=""` or `bar`, it won't render the attribute at all.

But I can't think of any built-in way to have it add all attributes in the dictionary to t

[2017-09-21 05:51] danroth27 opened #6861 "Overlapping attribute routes doesn't result in ambiguous action match error"
When I have these two actions and make a request to `api/values` I expected to get an ambiguous action match error, but instead the first action gets hit:

[code]

Shouldn't this request result in an error?

[2017-09-21 06:14] drauch commented on #6841
Some example code:

    public class MyModel
    {
        [EnumDataType(typeof(MyEnum), ErrorMessage="TextWhichShouldRunThroughDataAnnotationLocalizer"]
        public MyEnum EnumProp { get; set; }

        [MustBeTrue, ErrorMessage="TextWhichShouldBeLocalizedAsWell"] // one of our very own ValidationAttribute implementations
        public bool LegalTermsConfirmation { get; set; }
    }

Unfortu

[2017-09-21 06:17] drauch commented on #6778
I unfortunately don't know which HTML attributes I'm expecting. The own select-tag-helper solution is a hackaround at best :( Would be much better, if ASP.NET Core would support the scenario out-of-the-box. I guess all people writing their own display/editor templates (which is still the way to go, is it?) run into this problem sooner or later.

[2017-09-21 07:06] #6814 closed

[2017-09-21 07:11] RickyLin commented on #6814
This issue was closed as #6793 was closed.

[2017-09-21 07:23] ag-petrov opened #6862 "Validators are not obtained correctly for nested properties"
When having the below models.

[code]

And the following view

[code]

Extracting the validators using the GetValidators method as demonstrated below does not work. It works for the ProductName property for example but not for nested properties.

[code]

[2017-09-21 08:35] troncomputers opened #6863 "Use page handler when OnGetAsync"
Hi!
Is there a chance for working handler when OnGetAsync?
I've got a form when I have different SQL Query and I want to seperate them with asp-page-handler but it doesn't work. There are 2 pages Index (when you type filter data like dateFrom, dateTo, taskType) and Result with filtered data. Reason why I did it that way is when I want to go back to Index the browser won't ask me for submit form ag

[2017-09-21 10:28] mistakenot commented on #6172
Happy to have a go. Would this be a result type that only wants to live on the ControllerBase and none of the Razor Page stuff, as I presume it is API focused?

[2017-09-21 10:44] mistakenot opened #6864 "Refactoring Http Result helpers in ControllerBase to use lambda syntax."
It was suggested in a PR comment by @pranavkm  (https://github.com/aspnet/Mvc/pull/6851/files#r139845791) that a new ControllerBase Http Result helper could be written with one line instead of three using the new lambda syntax for brevity.

Is it worth refactoring all such methods in the class to use the lambda syntax to make the class a bit shorter?

I'm guessing it would only work with methods t

[2017-09-21 10:57] mistakenot opened #6866 "Adding Rider directory to .gitignore"
#6865

[2017-09-21 12:24] coonmoo commented on #6596
Thanks alot, seems to work!
Additionally I needed to copy `MvcApplicationBuilderExtensions `and change the `GetRequiredService<MiddlewareFilterBuilder>` to our private implementation.

[2017-09-21 13:29] Tragetaschen opened #6867 "Allow for route initialization before the first request"
This is a follow up on #1989.

On my embedded instrument, I try to improve the (perceived) performance.

I have already created an `ApplicationPartManager`, `ApplicationPart` and `ControllerFeatureProvider` so I can avoid the entire assembly scanning and just list the controllers types that should be available in my code. This already improves startup nicely.

However, after my SPA has loaded in t

[2017-09-21 14:57] rynowak commented on #6172
Yes, this should just be added to controllerbase

[2017-09-21 15:01] SteveSandersonMS commented on #6811
`[BindNever]` is now respected on properties (just as it now also is on parameters): https://github.com/aspnet/Mvc/pull/6842

[2017-09-21 15:06] rynowak commented on #6861
No, the `{id?}` route has lower precedence. Attribute routing builds a tree that processed routes an order that processed the most specific entries first.

[2017-09-21 15:06] #6861 closed

[2017-09-21 15:12] rynowak commented on #6811
Marking this as done then 😆

[2017-09-21 16:03] Eilon commented on #6778
Yeah maybe we could build-in support for "adding extra elements as HTML attributes" as some kind of built-in tag helper. I'll discuss with others in the team.

[2017-09-21 16:05] dougbu commented on #6778
A few thoughts:
- @DamianEdwards's [Tag Helper Pack](https://github.com/DamianEdwards/TagHelperPack) doesn't solve this e.g. see [here](https://github.com/DamianEdwards/TagHelperPack/blob/master/src/TagHelperPack/EditorForTagHelper.cs)
- But, we need some mechanism for this if we're going to solve #6782 end-to-end.
  - Using the template from a tag helper is only half the story. Less if we don't i

[2017-09-21 16:05] Eilon commented on #6864
If you want to send a PR that cleans up some of the existing methods that'd certainly be fine! We don't generally go back and replace all "old syntax" with new syntax, though we do tend to write new code using new syntax (where appropriate). But, if you have some free time, it'd be quite welcome!

[2017-09-21 16:14] pranavkm commented on #6863
This should work. Handlers are supported on both Get and Post methods.

[2017-09-21 16:38] Eilon commented on #6867
@Tragetaschen have you looked at any profiler data to see where the ~3 seconds are spent? That's an awful lot of time to be spent just in the tree router - unless the app has millions of routes.

@sebastienros  - can you take a look at this to see what's going on?

cc @rynowak

[2017-09-21 16:39] Eilon commented on #6866
Merged the PR, thanks!

[2017-09-21 16:39] #6866 closed

[2017-09-21 16:44] Eilon commented on #6863
@pranavkm - can you try to repro?

[2017-09-21 16:44] jcemoller commented on #5217
Any news on this one? DisplayAttribute data annotations on enums does not seem to localize in 2.0.

[2017-09-21 16:47] Tragetaschen commented on #6867
@Eilon That's on a single-core ARMv7 with less than 1GHz to begin with. Also, there were three "first" requests in flight and three ThreadPool threads tried to initialize the internal data structures. I'm not worried about the time it actually takes.

As a "profiler" I instrumented Autofac's service resolution with a StopWatch and on the first request, I could see the creation of the `TreeRouteHan

[2017-09-21 17:05] Eilon commented on #6867
Ah, interesting. That certainly explains why it's *soooo* slow, but perhaps we need to optimize some logic here anyway. Thanks!

[2017-09-21 17:26] Eilon commented on #5893
Hi @marlon-tucker , I sent a PR to update the docs on this topic: https://github.com/aspnet/Docs/pull/4350

Please have a look if you'd like to review. Thanks!

[2017-09-21 17:29] Eilon commented on #6841
Ok yeah that sounds weird to me, I think I'd have expected it to work. We will investigate.

[2017-09-21 17:53] kichalla commented on #6858
May be not everywhere. For example, if the options instance is DI injected then we needn't worry as the same singleton instance is passed around (right?)

If the parameters are reference types then there is no problem. So choosing to either pass around MvcOptions or only the individual properties of it is error prone (with checking if they are reference type or not) and would make the code base in

[2017-09-21 18:09] #6789 closed

[2017-09-21 18:18] dougbu commented on #6858
This relates to my "deference options" point. Passing `XyzOptions` around is fine up until something reads a `struct` from it or otherwise locks the information. That "something" may be the constructor of a service.

Yeah, just de-referencing `options.Value` from an `IOptions<XyzOptions>` parameter isn't enough. I meant reaching within `options.Value` to get something.

Note that `struct`s aren't

[2017-09-21 19:45] rynowak commented on #4607
@SteveSandersonMS assigned to you as a companion to #4862

When you get an input error in JSON it lands here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/JsonInputFormatter.cs#L155

Assume the usage of `[ApiExplorer]` which implies that validation errors get sent back to clients by default

A few issues:
- Are we providing good error messages **at all** when

[2017-09-21 19:57] rynowak commented on #6847
The proposal here is to do:
- Complex types are `[FromBody]` by default
- Parameters that match the route are `[FromRoute]` by default
- Any other parameters are `[FromQuery]` by default

We think this is the most reasonable possible convention we could have and guides you towards good practices.

[2017-09-21 19:57] rynowak opened #6870 "Require attribute routing with [ApiController]"

[2017-09-21 20:12] mistakenot commented on #6371
Could there be an arguement for putting a `IFileInfoHashProvider` in the [FileSystem](https://github.com/aspnet/FileSystem) project so that it lives with the IFileInfo interface instead of the TagHelper project?

[2017-09-21 22:07] kichalla commented on #6771
https://github.com/aspnet/Mvc/commit/a96fb68690e6d2c30e95dfd23dbe34e94bb1009a
https://github.com/aspnet/jquery-validation-unobtrusive/commit/e7444c9ab5512d455069815e23b954ce2e7b2518

[2017-09-21 22:07] #6771 closed

[2017-09-22 01:01] pranavkm opened #6872 "ApiDescription requires a way to represent OperationId"
Essentially a stable name that is inferred from the controller \ action name.

[2017-09-22 09:16] #6790 closed

[2017-09-22 14:57] NeelBhatt commented on #3286
I still like this idea :)

[2017-09-22 16:17] Tratcher opened #6873 "RequireHttpsAttribute and post requests"
_From @GHakopian on September 22, 2017 13:32_

Hi,

When adding the following code to redirect to ssl https urls
`services.AddMvc(options => {
options.SslPort = 44389;
options.Filters.Add(new RequireHttpsAttribute());
});`

all my post requests return forbidden, get requests work fine thought. Am I missing something?

_Copied from original issue: aspnet/Home#2212_

[2017-09-22 16:18] Tratcher commented on #6873
Are you posting to HTTP or HTTPS? Posts don't handle redirects as well as gets.

[2017-09-22 16:25] #6606 closed

[2017-09-22 16:27] #6795 closed

[2017-09-22 17:35] pranavkm commented on #6863
Yeah, this works just fine.

[2017-09-22 17:36] #6863 closed

[2017-09-22 18:10] Tratcher opened #6875 "Zero Content-Length for static file 304"
_From @rustamkulenov on September 22, 2017 8:29_

I've developed SPA application (ASP core,MVC,Angular) on Windows but can not host it on Linux. When I reload webpage in browser by F5 Kestrel prints out error and webbrowser receives HTTP code 500. This happens every second reload.

**Environment:**

`#dotnet --info`

**Steps to reproduce:**
1) Create new MVC application:
`#dotnet new mvc`
2) Place

[2017-09-22 18:10] Tratcher commented on #6875
Can you share a Fiddler trace?

Note there's no functional link between the File result in MVC and UseStaticFiles, they operate independently.

I've seen this behavior before. The odd requests are normal request but the even requests have conditional headers like if-modified-since. The result from these even requests is supposed to be a 304 not-modified with no body. There's a disconnect where som

[2017-09-22 18:10] Tratcher commented on #6875
I'm not finding the matching bug.

I assume you're hitting this new code path:
https://github.com/aspnet/Mvc/blob/9aff0a67c189fe25d48379f94f6180e577d55d5c/src/Microsoft.AspNetCore.Mvc.Core/Internal/FileResultExecutorBase.cs#L88-L92

But I don't see it setting the Content-Length in this case. In fact, I don't see it setting the ContentLength for the 200 responses either. @jbagga

[2017-09-22 18:10] Tratcher commented on #6875
_From @jbagga on September 22, 2017 17:54_

I think this might be the bug https://github.com/aspnet/Mvc/blob/rel/2.0.0/src/Microsoft.AspNetCore.Mvc.Core/Internal/FileResultExecutorBase.cs#L85-L91

If the status is 304 or 412, Content-Length should not be set because an empty body is being returned. @Tratcher

[2017-09-22 18:19] rynowak commented on #6875
It could also be the case that we throw while trying to do I/O after setting headers

[2017-09-22 20:10] rynowak opened #6877 "Improvements to Swagger generation"
This is a laundry list of gaps we have between the current swagger experience and the ideal experience. Basically what are all of the things you have to configure or provide manually.

- [ ] Description/Title/Version - everything in `info` element
- [ ] Host/Base-Path/Schemes
- [ ] Tags - `tags` element
- [ ] Security - `securityDefinintions` element
- [ ] in operation - tags
- [ ] In operation  -

[2017-09-22 20:42] ctorx opened #6878 "RemoteAttribute not creating correct URL when route contains an area and no explicit routes defined"
The `RemoteAttribute.GetUrl()` method is not returning the correct URL when an action lives inside of an area and no explicit route is defined in Startup.cs

You can see this if you only use attribute routing and decorate a view model property with the `RemoteAttribute` and specify values pointing to an Action within an Area.

I attempted to debug using symbols that were available and was able to

[2017-09-22 21:19] rynowak opened #6880 "Remove [Obsolete] action result code"
We have obsolete overrides of `ActionResult.ExecuteResult(...)` that are unused by any of our other code and should be removed in a major release.

This isn't an API breaking change, but users might have called these methods, which will now no-op.
[code]

[2017-09-22 21:41] kichalla commented on #4920
https://github.com/aspnet/Mvc/commit/83c3ac62fb9187c75689a26e9749046825cdd04b

[2017-09-22 21:41] #4920 closed

[2017-09-22 23:18] granthoff1107 commented on #6176
@rynowak  can we reopen this issue, there are other reason for wanting to  do something like this.
I'm looking to do something similar to the OP.  Does anyone know how to create a new DefaultModelMetadata?

@frankabbruzzese I too was following along with you tutorial, which is great by the way.
I'm trying to make a version which works off of white-lists, but in order to do so I need to create a ne

[2017-09-22 23:21] rynowak commented on #6176
You can get `ModelMetadata` instances from the `IModelMetadataProvider`.

Please open a new issue if you more questions or feedback.

[2017-09-23 10:23] tiandian opened #6883 "asp.net core frequently create and exit threads"
## Steps to reproduce
1. use vs2017 asp.net core template to generate a asp .net core 2.0 program WebApplication1

2. dotnet publish --runtime win7-x86

3. run WebApplication1.exe (or run use "dotnet WebApplication1.dll")

4. use Procmon.exe to Monitor WebApplication1.exe, check the "Show progcess and thread activity" button,
then you will see that WebApplication1.exe will frequently create and ex

[2017-09-23 13:08] davidfowl commented on #6883
Welcome to async await and the thread pool in general. What are you actually asking for here? This isn't a bug it's by design.

[2017-09-23 13:28] tiandian commented on #6883
If this is not a bug, then please close this issue.

because my asp.net core program has a deaklock problem, so i find every possible problems,
then i occasionally found asp.net core will frequently create and exit threads.
then i test a .net core console program, it will not frequently create and exit threads, only asp.net core program will  frequently create and exit threads.

But anyway frequen

[2017-09-23 13:28] #6883 closed

[2017-09-23 16:58] granthoff1107 opened #6884 "WhiteList Interface Binding"
I'm creating a white list interface binder, which inherits from ComplexTypeModel Binder.
In Order to bind I need to create binders for each of the types properties, but the type is suppose to be resolved at runtime, so depending on the information passed through the http request is how I am going to resolve the properties to bind.

[code]

Can I Get Access to the HttpRequest from the  `ModelBinder

[2017-09-23 18:01] frankabbruzzese commented on #6884
Contexts objects are specific for each different request, otherwise they would be named differently. However, I don't remember `ModelBinderProviderContext ` allows access to HttpRequest ???
You may access HttpRequest from within the `ModelBindingContext `object that is passed to the Model Binder `BindModelAsync` method.

[2017-09-23 18:22] granthoff1107 commented on #6884
@frankabbruzzese  Thanks for answering me,  I'm trying to modify a tutorial you wrote, Awesome Job by the way  you're the only person I saw who had an up to date tutorial that when over complex model binding.

My Issue is that the Complex Model Binder takes in a predetermined list of properties to the it's base,  I'm not exactly sure why, I can't determine my concrete type until my request is made

[2017-09-23 21:09] davidfowl commented on #6883
If you have a dump or a repro then that would help.

ASP.NET doesn't create custom threads, it uses the thread pool.

That might be a question for http://github.com/dotnet/corefx

[2017-09-23 21:11] granthoff1107 commented on #6884
I wrote a hack to solve the issue.  Basically we resolve our type at run time, and then we override our binding context scope to pretend we're of that type,  When we close our scope we copy our values back to our original scope.

As a Note we have to redefine IModelBinder on the Binder class so that when the base casts down to an IModelBinder it will call the proper bindModelAsync.    This is work

[2017-09-23 21:11] #6884 closed

[2017-09-23 21:13] granthoff1107 commented on #6176
For anyone who needs to do this I have a solution on another opened Issue for this:
https://github.com/aspnet/Mvc/issues/6884

[2017-09-24 05:33] tiandian commented on #6883
my asp.net core 2 program didn't crash, it just deadlock.
so there has no dump,
when my asp.net core program deadlock,  vs2017 can't break it,  browser can't connect it.
because vs2017 can't debug it, so i has no way to find the problem code.

my program have 5 thread to download 3000 web pages use HttpClient as below, it often deaklock when after download some pages,  i has below code to download

[2017-09-24 10:19] a-patel opened #6885 "Split Middleware Invoke method into two seperate methods, Before and After invocation"
Middleware contain method Invoke which contain http request before and after execution logic separated by request delegate, it should be split into two separate methods (e.g. BeforeInvocation and AfterInvocation) like action filter method (e.g. OnActionExecutiong and OnActionExecuted).
It is not necessary that all middleware has both before/after invocation logic.

[2017-09-24 17:56] HolyOne commented on #6832
@davidfowl In asp.net core 2 razor pages,
What is the correct way to get the root path of the website?

I am trying to get the local path of the url I am visiting so I can load its custom translation file which is with the same name in the application root

It has been 2 days im researching to get this path =)

[2017-09-25 02:33] davidrevoledo commented on #6885
@a-patel but the await next() doesn't work to decide if do the work after or before of the middle ware chain execution ?

[2017-09-25 02:38] davidrevoledo commented on #6873
also you can enforce send the request to https with AddRedirectToHttps()

https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl

[2017-09-25 04:32] Eilon commented on #6885
This is already trivial when writing middleware: just put code before or after calling `next()` (or don't call `next()` at all). If we add before/after methods then a lot of other complexity has to be added to control all the behaviors around whether an error happens, how to process it, etc. Note that MVC's OnActionExecuting/Executed are not trivial: they have a complex context object with complex

[2017-09-25 04:32] #6885 closed

[2017-09-25 04:33] Eilon commented on #6878
@jbagga can you take a look? If you haven't seen the `RemoteAttribute` validator before I can walk you through it.

[2017-09-25 04:40] Eilon commented on #6862
@SteveSandersonMS can you take a look?

cc @rynowak @dougbu

[2017-09-25 08:09] drauch commented on #6841
FYI: it looks like the ValidationAttributeAdapterProvider is to blame. It contains a taxative enumeration of all supported validation attributes, it should probably provide a useful default for all other validation attributes - if that's not possible, it should at least provide a good extension point for us to enable localization of further (self-implemented) validation attributes.

As a workaroun

[2017-09-25 09:39] rustamkulenov commented on #6875
@Tratcher , here are two Fiddler trace files. For a text file ('1.txt') the issue is reproducible every time. For  zip file ('2.zip') behavior may depend on a browser being used.
When browser sends 'If-Modified-Since' header, then the issue is reproducible.

[trace.zip](https://github.com/aspnet/Mvc/files/1328974/trace.zip)
[trace2.zip](https://github.com/aspnet/Mvc/files/1328973/trace2.zip)

[2017-09-25 12:41] Tratcher commented on #6875
@Eilon this is a patch candidate.

[2017-09-25 12:57] colhountech commented on #6799
Appreciate your response @Eilon  and apologies for not responding sooner.

It's subtle, but I understand.

For now, I can just use the `AttemptedValue` to force an update to the contents of the `TextArea`  as below, since the `RawValue` is never correct in my case.

Thanks for the clarification.

    ModelState["Messages"].AttemptedValue  += $"OnPost: Updated on Server";

Since this is probably no

[2017-09-25 17:01] Eilon commented on #6799
@colhountech thanks for responding! We'll leave this open for at least a while to see if demand for this spikes - we often close Backlog items if they're largely untouched over at least a few months.

[2017-09-25 17:01] Eilon commented on #6841
Reassigning to @SteveSandersonMS because @ryanbrandenburg is out.

[2017-09-25 17:56] Eilon commented on #6875
@jbagga - can you take a look? Is your fix for the 2.0.x patch such that people won't hit this by default? And how does it look in the `dev` branch?

[2017-09-25 21:44] jbagga commented on #6875
@Eilon This won't be solved with the 2.0.x patch fix from before. Range processing is on by default for `VirtualFileResult` and `PhysicalFileResult`. I am working on a fix for 2.1 which we can port to 2.0.x as well.

[2017-09-25 22:16] jbagga opened #6887 "Port fix to 2.0.1: Zero Content-Length for static file 304 #6875"
Porting fix to only set Content-Length when serving body and not for 304 or 412 responses

See #6875

cc @Eilon @Tratcher

[2017-09-25 22:35] #6875 closed

[2017-09-25 23:01] #6887 closed

[2017-09-26 21:59] jbagga commented on #6780
The fix will introduce public API overloads(`File(...)`) that allow the user to specify if they want to enable range processing (off by default) for any of the four different `FileResult` types.

If enabled (set `enableRangeProcessing` to `true`), the `Accept-Ranges` header will be added to the response headers and if range headers are present in the request, the range will be processed accordingl

[2017-09-26 23:54] dustinsoftware opened #6889 "Colons in Request.Path always get unencoded"
### Title
Colons in Request.Path always get unencoded

### Functional impact
If a client sends a url with any colons in the path, e.g. `/a%3A1`, Request.Path will be set to `/a:1`. There appears to be no way to get the original, encoded form of the Path.

When computing an HMAC+SHA1 OAuth signature, access to the unmodified path is needed, or the signature will not match what was sent by the clien

[2017-09-27 00:36] Tadimsky opened #6890 "Url.Action with Route parameters in Controller Route"
I'm having an issue using `Url.Action` to generate an absolute Url.
I moved a route parameter that is shared by all actions in the Controller into the `Route` parameter for the _whole controller_ and that seems to have broken the ability to generate a Url.

Here is a stub version of the Controller:

    [ApiVersion("1.0")]
    [Route("api/v{version:apiVersion}/whiteboards/{whiteboardId}/thumbnail"

[2017-09-27 00:54] benaadams commented on #6889
Use `RawTarget` from `IHttpRequestFeature`?

Isn't on the DefaultHttpRequest object so you'll have to get it from the `HttpContext` features:

`context.Features.Get<IHttpRequestFeature>().RawTarget`

[2017-09-27 01:03] dustinsoftware commented on #6889
Thanks for the fast response! That works. :)

On Tue, Sep 26, 2017 at 17:54, Ben Adams <notifications@github.com> wrote:

[2017-09-27 03:29] LiengChien commented on #5426
why do you need to create the class"sharedResource"?

[2017-09-27 07:57] khellang commented on #6890
What if you explicitly mark the `whiteboardId` parameter with `[FromRoute]`?

[2017-09-27 10:17] mayconbeserra commented on #6875
@jbagga @Eilon is there any workaround for that issue?

I started having this issue since I moved to .NET Core 2

Exception:

`
System.InvalidOperationException: Response Content-Length mismatch: too few bytes written (0 of 1640).
`

[2017-09-27 10:31] rustamkulenov commented on #6875
May be it is possible to strip out 'If-Modified-Since' header value from a request?

[2017-09-27 13:44] asalvo opened #6891 "RazorPages: ModelState.IsValid is always true when validating primitive properties on a Page Model."
When OnPost is called for the following page model. ModelState.IsValid always returns true regardless if the values for Username, Password and Email are valid. The ModelState appears to be fully populated if I inspect it by setting a breakpoint in the OnPost.

If I try call TryValidateModel(this) in OnPost first, an exception is thrown (The requested operation is invalid for DynamicMethod). Howeve

[2017-09-27 14:11] mayconbeserra commented on #6875
@rustamkulenov I'm adding the code below but it doesn't work

[code]

Besides that, I have two behaviours:

1. Ctrl + F5 - it works fine
2. F5 - it doesn't work and the Middleware `UseStaticFiles` isn't triggered

Any more thoughts how to solve? How did you remove the headers?

[2017-09-27 14:33] Tratcher commented on #6875
UseStaticFiles is unrelated. You can however put `Context.Request.Headers.Remove("If-Modified-Since");` into your controller/action.

[2017-09-27 14:40] pranavkm commented on #6891
@asalvo this would be a dup of https://github.com/aspnet/Mvc/issues/6790. As of 2.0.0, Mvc did not support validation (or the `BindRequiredAttribute`) on top level properties and parameters. Putting these properties in a data bound model would be a possible workaround until 2.1.0 is out.

[2017-09-27 17:47] Tadimsky commented on #6890
Still seems to return `null` unfortunately 😞

[2017-09-27 18:31] mayconbeserra commented on #6875
Thanks @Tratcher and @rustamkulenov, it works fine now.

Would you mind to tell me why I'm getting that issue?

[2017-09-27 19:06] rsimmermon commented on #3888
Did you ever totally resolve this issue?  ViewCOmponents are not made to process requests and do model binding.  I need the ability to execute an action with the sames results that Html.Action did.

I'm not sure I understand how ViewComponents are helpful with this.  I have used ViewComponents in several places now, though, but this type of use doesn't apply.

Example:
I have a site where the same

[2017-09-27 19:19] Tratcher commented on #6875
There is a bug in a new 2.0 feature that processes if-modified-since. See https://github.com/aspnet/Mvc/pull/6886

[2017-09-27 19:21] evil-shrike commented on #6224
Is there anything in asp.net core 2.0 what would allow to repeat PushStreamContent's functionality?

[2017-09-28 02:42] davidfowl commented on #6224
This is trivial to do with MVC today, you can just write to the response body directly from the controller.

[2017-09-28 09:04] plosft opened #6892 "I can't get RawUrl. Request.GetDisplayUrl & Request.Path is bad, any method(I can't find)"
My request original url:
http://localhost/2http%3A%2F%2Flocalhost%3A803%2Fhomepage%2F3%2FSignup%3FM49HD59E

RawUrl & Request.GetDisplayUrl & context.Features.Get<IHttpRequestFeature>().RawTarget %2F%2F miss one '/', not is http://(is http:/)

after one day, i can't find  any method.

follow is good
1:  /2http://localhost:803/homepage/.....
2:  /2http%3A%2F%2Flocalhost%3A803%2Fhomepage%2F.....

asp

[2017-09-28 10:51] davidfowl commented on #6892
What are you trying to do?

[2017-09-28 11:31] verysimplenick commented on #5863
@rynowak , @ryanbrandenburg
Okay, that I can do that simulate [IgnoreAntiforgeryToken] behaviour in razor pages?

[2017-09-28 12:16] drauch opened #6893 "NTLM and cookie authentication"
Our application uses windows authentication by default, however, for testing purposes, if a certain cookie is set, it should authenticate using cookie authentication.

So in the testing environment we tried to add the following to our pipeline:

    app.UseCookieAuthentication (new CookieAuthenticationOptions ()
      {
        AuthenticationScheme = "TestingCookieAuthenticationScheme",
        Au

[2017-09-28 13:52] pranavkm commented on #5863
@verysimplenick you should be able to annotate your Page model with the attribute and it should work now.

[2017-09-28 14:06] verysimplenick commented on #5863
@pranavkm
yep, I already tried
[code]
But it's not working.

[2017-09-28 14:20] plosft commented on #6892
I want to create a Web site that can accept any text and generate a QR. I hope it can accept a URL, but I use ASP. NET Core 2.0 is not possible, because when there are 2 escaping '/', you will miss 1 '/'. I want to get the original URI of the escape.

[2017-09-28 14:26] pranavkm commented on #5863
The validate antiforgery attribute that gets applied has an order of 1000 - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/AutoValidateAntiforgeryTokenAttribute.cs#L40 so you might need a higher `Order` for `IgnoreAntiforgeryToken` to become effective. Could you bump it up (to 1001)?

[2017-09-28 15:39] verysimplenick commented on #5863
@pranavkm Yes, it's works with Order > 1000, thanks.
Maybe need add it to docs of Razor Pages.

[2017-09-28 16:06] colhountech commented on #6799
@Eilon, For reference, in case anyone else has the same issue, I've update the demo to show what I was trying to do, and what I needed to change in order to update the `TextArea`  content from the `OnPost()`  method of the Razor Page.

See here.

https://github.com/colhountech/TextAreaDemo/blob/master/README.md

[2017-09-28 16:12] SteveSandersonMS commented on #6862
OK, having investigated, I think it comes down to this line of code: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ExpressionMetadataProvider.cs#L150

The `ExpressionMetadataProvider.FromStringExpression` method tries to find metadata:

1. **In `ViewData` treated as a dictionary**
    * It does this by calling `ViewDataEvaluator.Eval(viewData, expression

[2017-09-28 16:46] SteveSandersonMS commented on #6841
@Eilon It looks like the closest extensibility point for this today is `IValidationAttributeAdapterProvider`. If you register one of those, you can control how the messages are supplied. But it's awkward because there's no collection of such providers, nor even any clean way of getting the default instance, so appending custom logic to the default logic is messy.

For the stated use case, the simp

[2017-09-28 17:10] dougbu commented on #6862
@SteveSandersonMS 1. in your list checks through `ViewData.Model` as well. See [`ViewDataEvaluator` line 59](https://github.com/aspnet/Mvc/blob/eeac99985a61e75ca48e620f0371e16df018d6d7/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/ViewDataEvaluator.cs#L59) for example. I believe 2. happens if `null` appears anywhere in the expression before the last node e.g. when `ViewData.Model` is `nul

[2017-09-28 17:30] rynowak commented on #6862
In general direct usage of these APIs doesn't have any official support. We usually want to know if there's a bug/repro/solution that surfaces through one of our more common use cases. This isn't to be mean or to pull a bait and switch - in some cases we just didn't fully design extensibility/infrastructure where it's needed - and also in some cases we find that a user is doing something "the hard

[2017-09-28 19:38] khellang commented on #6892
`context.Features.Get<IHttpRequestFeature>().RawTarget`?

[2017-09-28 21:22] drauch commented on #6841
We would be fine with the "lightweight" solution.

[2017-09-28 23:53] abatishchev opened #6898 "Is it possible to have multiple GETs that vary only by parameters in ASP.NET Core?"
I asked this question also on [Stack Overflow](https://stackoverflow.com/questions/46477959/is-it-possible-to-have-multiple-gets-that-vary-only-by-parameters-in-asp-net-cor).

I want to build truly RESTful web service so don't want to leverage RPC-style, so have currently this:

[code]
I believe that would work in ASP.NET Web API. But I'm getting an exception in Core:

Neither of the attributes ac

[2017-09-29 01:05] tiayi opened #6899 "Different behavior of HttpContextAccessor between windows and Linux"
`
services.AddTransient<HttpContextAccessor>().AddScoped<IOCRService>(provider => `
       `    {`
              ` //  provider.GetRequiredService<HttpContextAccessor>().HttpContext Is Always Null On  Linux Docker microsoft/aspnetcore:2 `

`var accessor = ActivatorUtilities.GetServiceOrCreateInstance<HttpContextAccessor>(provider);`
`var logger = provider.GetRequiredService<ILogger<Startup>>();`

[2017-09-29 05:53] plosft commented on #6892
context.Features.Get<IHttpRequestFeature>().RawTarget is bad too.

[2017-09-29 07:47] akberc commented on #5242
FWIW: I had the exact same symptom when moving from a Windows development machine to Linux test machine, with a copied database that did not have ASP identity tables.  At first, I thought it was case sensitivity, however, once the tables were restored, everything worked exactly as it did on the development machine.

[2017-09-29 08:43] rynowak commented on #6892
You're pretty much guaranteed to have issues trying to encode a URL as a path segment.

If you're running behind IIS in this case, I'll bet that's what's munging the path. Different servers have different quirks for this sort of thing.

@Tratcher is the expert on this.

What's your reason for not wanting to use the query string?

[2017-09-29 11:52] Tratcher commented on #6892
Yes, sounds like a known iis/http.sys behaviour. Have you tried running kestrel without IIS?

[2017-09-30 00:28] plosft commented on #6892
thank you, Tratcher. You are right. I use kestrel without IIS, no issue.  @Tratcher

[2017-09-30 00:44] Tratcher commented on #6892
HttpSysServer may also work for you as it uses the raw url to work around the unescaping caused by Http.Sys. In the IIS+Kestrel scenario this isn't possible today because the raw url is lost when proxying to Kestrel.

[2017-09-30 00:49] plosft commented on #6892
Thanks for the response! @rynowak , everyone.

For compatibility reasons. I want to migrate existing project to ASP. NET Core 2.0.
I don't use querystring because I have been using .net framework/iis to do the same thing, and many existing projects depend on it.

[2017-09-30 01:53] #6780 closed

[2017-09-30 09:26] McKabue opened #6900 "How to implement ASP MVC CORE 2 DefaultControllerFactor"
[I want to be able to call server side functionality by name instead of route. i have succeeded in doing that by creating a special action that receives a name of the other action to call and then return the result of that other action....[ VIEW THE QUESTION AT STACKOVERFLOW - ITS VERY LONG] ](https://stackoverflow.com/questions/46501242/how-to-implement-asp-mvc-core-2-defaultcontrollerfactor)

[2017-09-30 13:21] tupunco commented on #3329
Look at this `gist`, is it helpful for you. LNK: [DefaultAreaConvention.cs](https://gist.github.com/tupunco/d4bc4bb745ed02867a6f7bb99dcb8102)
---------------------------
# ASP.NET Core Default Namespace Area Register Convention, like MVC5 AreaRegistration
## DefaultAreaConvention.cs
[code]

## Startup.cs
[code]

[2017-09-30 15:07] tiayi commented on #6899
I seem to have used the wrong way to inject HttpContextAccessor.
The right ways is injecting IHttpContextAccessor,HttpContextAccessor.
But it also has different behavior between two plantforms.

[2017-09-30 19:10] khellang commented on #6899
It is also supposed to be registered as a singleton...

[2017-09-30 19:12] davidfowl commented on #6899
Closing in favor of https://github.com/aspnet/HttpAbstractions/issues/946

[2017-09-30 19:12] #6899 closed

[2017-09-30 19:22] davidfowl commented on #6898
Just disambiguate by putting a route on them.

[2017-10-01 02:44] abatishchev commented on #6898
hi @davidfowl, that's the caveat of my question, if I specify different routes, e.g. /api/terms and /api/terms/all, then I feel it won't be truly/fully/properly RESTful. So wondering how can I have multiple GETs against same resource, i.e. /api/terms.

If that isn't supported out-of-the-box then how can I customize this behavior?

[2017-10-01 04:31] davidfowl commented on #6898
Take a look here https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim/Conventions/WebApiOverloadingApplicationModelConvention.cs

[2017-10-01 04:47] davidfowl commented on #6893
Why don't the schemes match? You configured the cookie with the "TestingCookieAuthenticationSchemeCookie" scheme but then signed in with the "WebTestingCookieAuthenticationScheme" scheme.

Are you expecting the user to have both the windows identity and the cookie identity? Is the windows identity always there?

[2017-10-01 15:06] drauch commented on #6893
@davidfowl : Sorry, that's been a copy&paste error when creating a minimal repro sample. Actually they are the same, re-checked it & fixed in the original post.

[2017-10-01 15:40] niemyjski commented on #650
Any updates

[2017-10-02 01:16] Eilon commented on #6875
Right, it was a bug cause by a new feature in 2.0.0 (it didn't exist in 1.x), but it's fixed in the 2.1 development branch, and we will also release this as a patch fix for 2.0.x.

[2017-10-02 09:00] gregsdennis commented on #5822
Hello again.  Any updates?  ETA?

[2017-10-02 09:12] wangkanai opened #6901 "PackageReference without version"
How did you reference a package without the version and get them included?
[code]

[2017-10-02 13:35] #6554 closed

[2017-10-02 14:37] pranavkm commented on #6901
cc @natemcmaster

[2017-10-02 14:55] rynowak commented on #6901
This is build magic on our side. We manage the versions of our dependencies are part of a series of build steps.

[2017-10-02 14:59] rynowak commented on #6898
@abatishchev - I suggest either writing a single action that considers `participantId` and `participantType` optional

**or**

writing an `IActionConstraint` that selects `GetByParticipant` when both of those values are present

[2017-10-02 16:09] nukuuk commented on #4936
@dougbu thank you, using getview fixed it for me!

[2017-10-02 16:32] danroth27 commented on #3329
For a full solution for doing modular development with ASP.NET Core, I highly recommend looking at the [modularity support in Orchard Core](https://github.com/OrchardCMS/OrchardCore.Samples).

[2017-10-02 16:33] danroth27 commented on #3329
Given the support in Orchard Core, there are no plans to do this in ASP.NET Core.

[2017-10-02 16:33] #3329 closed

[2017-10-02 17:39] henkmollema commented on #6901
Is there a way to make this work in Visual Studio? It looks like VS (15.3.5) doesn't like this which makes development of the ASP.NET Core stack pretty clumsy.

[2017-10-02 17:45] pranavkm commented on #6901
@henkmollema you have to run `build[cmd|sh] /t:Restore` (https://github.com/aspnet/Mvc#building-from-source) from the command line before launching the sln in VS.

[2017-10-02 17:52] henkmollema commented on #6901
I could have sworn I ran that and VS was still very upset with 1000s of build errors and no intellisense. I'll make sure I call `build.cmd /t:Restore` next time and see if it works. Thanks anyways! 😄

[2017-10-02 18:29] Eilon commented on #6841
Would be good to discuss a proposal with @dougb, @rynowak , and me. We used to have more extensibility here in MVC 5.x I think, but it didn't make it into ASP.NET Core. I wonder if there's a past interface/design we should bring here?

[2017-10-02 20:19] gkochanowsky commented on #3888
rsimmermon, not really. But I haven't been doing any core development for
awhile. Still working in classic .NET. It does what I need.

On Wed, Sep 27, 2017 at 3:06 PM, rsimmermon <notifications@github.com>
wrote:

[2017-10-02 21:55] rynowak opened #6904 "Add 'global scope' result filters"
We have an major design issue - there's no way to register a result filter that runs for **all** results.

Result filters do this thing where they only run on the 'happy path' - you don't get to run for an action result that comes from an exception filter for example.

This breaks down if you want to implement a policy that needs to run for **all** results of a given type. Things we ship in the bo

[2017-10-02 22:43] abatishchev commented on #6898
I installed the shim package:

Then added the convention:

[code]

Inherited my controller from ApiController:

[code]

But still getting same exception:

Even if two my GETs have  completely different parameters.

Please suggest what I might doing wrong. Thanks!

[2017-10-03 00:59] #6172 closed

[2017-10-03 01:05] pranavkm commented on #6172
Fixed in https://github.com/aspnet/Mvc/commit/e3ce1f52d4b5955e258e17b18ddc39d4b436268d

[2017-10-03 01:07] davidfowl commented on #6898
I never meant for you to use the shim, I meant for you to look at the code because it's an example or writing an IActionConstraint. I should have made that more clear.

[2017-10-03 21:00] hishamco opened #6907 "ViewBag & Razor Pages"
After I wrote my blog post [Bring ViewBag Back to Razor Pages](http://www.hishambinateya.com/bring-viewbag-back-to-razor-pages) @DamianEdwards is very sad because the `ViewBag` is `dynamic`  😄  and I mentioned that the better way to use page model properties

But the things that surprised me, why we have the `ViewBag` in Razor Page?!! while the intend to use the `ViewData` or any other mechanism i

[2017-10-03 22:23] pranavkm commented on #6907
It's a result of type hierarchy. `PageBase` derives from `RazorPageBase` which had ViewBag as property. Removing it now would be a breaking change, but we would encourage users to use `ViewData` \ https://github.com/aspnet/Mvc/issues/6525 feature whenever it becomes available.

[2017-10-04 03:56] Eilon commented on #5822
@gregsdennis we are having some infrastructure issues right now that we are working through.

[2017-10-04 04:00] Eilon commented on #6901
We're working on clarifying some of the steps for working with these projects. We've done some magic for the source build because we have to coordinate a build of 50+ GitHub repos so we have to go a bit beyond the usual stuff.

[2017-10-04 04:00] #6901 closed

[2017-10-04 04:08] Eilon commented on #6907
Closing because there are no plans to implement this.

[2017-10-04 04:08] #6907 closed

[2017-10-04 14:18] Rickvanderwaal commented on #4564
@Eilon How can i use the MVC's Model Binding feature so that i will get partial construction as well as full ModelState describing all the errors ?

[2017-10-04 16:05] dpedrelli opened #6908 "TestServer + MVC + Razor = The type or namespace could not be found."
I am using VS 2017 15.3.5.  I have an MVC project that was created with the .NET Core 2.0 template and targets netcoreapp2.0.  I have a test project that was created with the xUnit Test Project (.NET Core) template and targets netcoreapp2.0.  I am running on Windows.  When I hit the AccountController.Login() GET method and return the Login.cshtml view, I get the same error as described in #1731.

[2017-10-04 16:17] Eilon commented on #4564
@Rickvanderwaal I don't think you need to do anything special. Action method parameters get bound using model binding by default, which in general will get you partial construction. If you apply the `[FromBody]` attribute to a parameter, it will use a formatter, and then it's up to the formatter to do whatever it does, which is typically *not* partial construction.

[2017-10-04 16:20] Eilon commented on #6893
This issue was moved to aspnet/Security#1467

[2017-10-04 16:20] #6893 closed

[2017-10-04 16:55] Eilon commented on #6908
@javiercn can you take a look at this? Do the new test helpers you've built help in this scenario?

[2017-10-04 16:56] rynowak commented on #6872
@pranavkm - what's the value of us owning this vs swashbuckle or nswag?

[2017-10-04 16:57] rynowak commented on #6847
No one has raised a significant objection to this so we're going to start working on it 👍

[2017-10-04 17:09] Eilon commented on #6900
I'm not sure I've fully understood the problem or what the intended behavior is.

It sounds to me that this could be solved by having a *single route* that responds to all requests in a single MVC controller action.

You can do it like this in your Startup.cs file:

[code]

And then you'd have one controller with one action:

[code]

[2017-10-04 17:15] #6891 closed

[2017-10-04 17:17] Eilon commented on #6889
cc @Tratcher FYI

But otherwise closing this issue since it was answered. Thanks @benaadams !

[2017-10-04 17:17] #6889 closed

[2017-10-04 17:26] Eilon commented on #6205
@dougbu is there anything else here that you think is worth doing?

[2017-10-04 17:37] Rickvanderwaal commented on #4564
Well i have a problem related to this issue and i don't see partial construction.
Maybe i should create a new issue.

Let's suppose i have the following model with validation:
[code]

The following controller accept this car in the body:
[code]

When i send the following request, providing a valid brand and  a invalid color and price.
I want to show all the validation errors to the customer.
[code

[2017-10-04 17:43] McKabue commented on #6900
+hello @Eilon  ,
i have created a route the resolves other routes by name. it works very well, but i want to implement a `DefaultControllerFactory` to achieve that behavior in a clean way...
this method there resolves other routes by name ::
`
[HttpPost(Name = "route")]
        public async Task Route([FromQuery]string route)
        {
            try
            {
                route = route?.U

[2017-10-04 18:40] pranavkm commented on #6872
Yeah, this can be done.

* Swashbuckle uses the route to generate it - https://github.com/domaindrivendev/Swashbuckle.AspNetCore/blob/1b8e109cdb2e21b57584ef4596a0d1a13af8b7eb/src/Swashbuckle.AspNetCore.SwaggerGen/Generator/ApiDescriptionExtensions.cs#L35-L51.

* NSwag's current reflection based code generates it using the controller \ action name:
https://github.com/RSuter/NSwag/blob/a3134b1a728ef

[2017-10-04 19:08] rynowak commented on #6872
I'm close this then since there isn't a clear enough value to US implementing it. Telling people to use NSwag or Swashbuckle's annotations to configure this is a good solution until we have this need to use this data somehow.

/cc @danroth27

[2017-10-04 19:11] marcuslindblom opened #6909 "Use IFileProvider to load static views and static files via http?"
Is it possible to use any `IFileProvider` implementation, or any other feature to load views and static files via `http`?

What I'm trying to achieve is to have an interface in my MVC app that is accessible via `http://domain.com/myarea` that loads the `_Layout.cshtml`, all views and static files for that specific area without having them on disk?

[2017-10-04 19:35] #6872 closed

[2017-10-04 19:37] Eilon commented on #4564
Right, that's pretty much what I described. I suggested *not* using `[FromBody]`, which will cause it to use *model binding* instead of *formatters*.

[2017-10-04 19:55] Eilon commented on #6900
In general terms it involves implementing `CreateController` to use whatever logic you want to create a controller. It would be helpful if you can narrow it down to the specific problem you're having; it's difficult for us to debug this type of problem.

[2017-10-04 19:57] Rickvanderwaal commented on #4564
Thanks for your help. The project is working without [FromBody].

But now i have to use 'application/x-www-form-urlencoded' instead of 'application/json' for the body.
Is there any solution for that?

[2017-10-04 19:58] McKabue commented on #6900
+ @Eilon i have tried to create a controller inside DefaultControllerFactory
`ControllerContext _cc = new ControllerContext(actionContext);
DefaultControllerFactory dc = new DefaultControllerFactory(_controllerActivator, _propertyActivators);
var returnController = _controllerActivator.Create(_cc);
var c = dc.CreateController(_cc);
return returnController;`
but when the action is in a different co

[2017-10-04 19:59] Eilon opened #6910 "Port fix for URL helper redirect to 2.0.x patch"
@sebastienros please port the 1.0/1.1 patch to the 2.0 patch branch.

[2017-10-04 20:03] McKabue commented on #6900
<code>
namespace Application.MvcRouter
{
    public class CustomControllerFactory : DefaultControllerFactory
    {
        private IControllerActivator _controllerActivator;
        private IEnumerable<IControllerPropertyActivator> _propertyActivators;
        private IRouter _router;
        private IActionDescriptorCollectionProvider _actionDescriptorCollectionProvider;
        public CustomCont

[2017-10-04 20:13] #6870 closed

[2017-10-04 20:16] rynowak commented on #6786
Reactivating this to track the work, which wasn't completed 😆

[2017-10-04 20:19] rynowak opened #6912 "Add ProblemDetails ObjectModel and some basic action result support"

[2017-10-04 20:20] rynowak commented on #6912
776c2604f82b1ff76e0a03ba5497ea616b8172a2

[2017-10-04 20:20] #6912 closed

[2017-10-04 20:22] rynowak opened #6913 "Figure out what to do about ProblemDetails::Type"
Today we're just putting in `about:blank` because we don't have a good URI for this. We should see if there is something smarter we can do.

[2017-10-04 20:22] rynowak opened #6914 "Figure out the relationship between our security story and API Explorer"

[2017-10-04 20:41] khellang commented on #6913
For generic status code details, I've just used links to httpstatus.es in the past 😝

[2017-10-04 20:58] danroth27 opened #6915 "Track template and scaffolding updates for new Web API conventions and updates"
- [ ] [Update Web API scaffolders to use new Web API conventions](https://github.com/aspnet/Scaffolding/issues/636)
- [x] [Update Web API templates to use new Web API conventions](https://github.com/aspnet/templating/issues/45)

[2017-10-04 21:00] Eilon commented on #4564
There's no built-in solution for this that I know of.

[2017-10-04 21:06] Rickvanderwaal commented on #4564
Thank you

[2017-10-04 21:09] junkomatic commented on #5562
So how about that .NET Core update for microsoft.aspnet.webapi.client? Still on the way?

[2017-10-04 21:33] Eilon commented on #6858
Let's try to fix both of these in 2.1.

[2017-10-04 21:36] Eilon commented on #6782
No plans to do this at this time.

[2017-10-04 21:53] Eilon commented on #6778
Moving to backlog for now.

BTW another alternative is of course to use HTML helpers rather than tag helpers, though this bug is indeed specifically about tag helpers. The HTML helpers do allow having "extra HTML attributes," which is what makes it easier to implement there.

[2017-10-04 21:56] Eilon commented on #6773
Yes this does sound like a dup of https://github.com/aspnet/Mvc/issues/6672.

[2017-10-04 21:56] #6773 closed

[2017-10-04 22:02] javiercn commented on #6908
There are a few things that you need to have in order to run an MVC application in memory.
* You need to copy the .deps file of your project into the test bin folder (look at the targets file below)
* You need to set the content root to point to the project folder (with the extension method below)

We will be releasing this as a package in the next release, but for now you can just put it in your

[2017-10-04 22:02] #6908 closed

[2017-10-04 22:54] dpedrelli commented on #6908
@javiercn if I follow you, I need to copy my MVC's .deps.json to the bin directory of my test project.  I did that.  Then, I need to add WebHostBuilderExtensions and WebApplicationTestFixture to my test project, so that I can use .UseSolutionRelativeContentRoot().  I don't get any errors with the using clauses, but both classes have errors in them.

WebApplicationTestFixture
[code]
"Resources is i

[2017-10-05 04:41] Eilon commented on #5889
@anurse I'm parking this on your plate until we figure out what, if anything, we would want to add for MVC. If nothing for now, we can close. Else we can come up with a list and find someone to implement (or you're welcome to do it if you like!).

[2017-10-05 09:28] srana863 opened #6918 "Encrypted dll doesn't work"
I have encrypted my application's dll with crypto obfuscator v2015 (my development environment is VS2017). It does the encryption. But problem is when i publish it on IIS10, it doesn't work. (Error Http Error 502.5 Process failure).

[2017-10-05 10:24] guy-lud commented on #5403
@davidfowl any news on this issue ?
For now unfortunately IMO asp.net core is not truly functional  without a basic feature like DI integration.

[2017-10-05 11:08] ipjohnson commented on #5403
@guy-lud stating that asp.net core doesn't have DI integration is factually inaccurate. There are plenty of containers that are integrated with asp.net core.

Wouldn't it be more factually accurate to say, "my favorite container doesn't properly support the features needed to integrate with asp.net core, therefor it's not functional to me"

Because I've use DI from a 3rd party container everyday i

[2017-10-05 12:30] marcuslindblom commented on #6909
Moved this issue [here](https://github.com/aspnet/FileSystem/issues/295)

[2017-10-05 12:30] #6909 closed

[2017-10-05 12:36] shammelburg opened #6919 "IFormFileCollection - System.ObjectDisposedException: 'Cannot access a disposed object.'"
I am trying to change each file in my IFormFileCollection to a stream to then upload to either Azure/AWS.

System.ObjectDisposedException: 'Cannot access a disposed object.' is thrown after the first file has successfully been uploaded.

I have followed the [Docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads)

and posted it on [StackOverflow](https://stackoverflow.com/quest

[2017-10-05 12:51] TheBigRic commented on #5403
@ipjohnson
It is great if the container of your choice is actually able to integrate with Asp.Net Core.

The problem is that because of, the much discussed, [conforming container ](http://blog.ploeh.dk/2014/05/19/conforming-container/) approach Microsoft took here, the containers that are able to integrate _properly_ are rare.

Most of the popular DI containers have trouble integrating with this n

[2017-10-05 13:04] #6919 closed

[2017-10-05 13:06] davidfowl commented on #6919
Do not use async void. Use async Task.

[2017-10-05 15:10] guy-lud commented on #5403
@ipjohnson,
I totally agree with @TheBigRic response.
regarding your comment:

IMO it will be more accurate to say:  "It's hard to integrate asp.net core default DI to fit my design preferences.

Let's look at `IStartupFilter`, ASP.Net Core DI allows you to register multiple impl of the same interface not explicitly, further more each impl can have different `lifeStyle`. If you'll request `IStartu

[2017-10-05 15:12] ipjohnson commented on #5403
@TheBigRic I get it, I think everyone in this thread "gets it" as it's been hashed/rehashed in a number of different issue.

What @guy-lud said wasn't any where close to what you just stated, was factually inaccurate as there are most definitely integration points and containers that integrate (I say this as an author of a container that integrates).

Everyone wants to lay blame at the feet of @da

[2017-10-05 15:16] khellang commented on #5403
I'd be interested in seeing a proposal for an alternative design that will allow any number of different, unknown components to participate in composing an application :wink:

[2017-10-05 15:22] guy-lud commented on #5403
@ipjohnson,
I am sorry if it's look like i want to pass blame at the feet ...... it was not my intention.

[2017-10-05 15:22] dotnetjunkie commented on #5403
Guys, I would love to see the discussion on this thread to stay on topic. The issue is that we integration for non-conformers is not trivial and that's what this issue tries to address. If you have any feedback on my suggested extension methods or finding other problematic areas where integration is hard, what these extension methods don't address, please comment below.

[2017-10-05 16:42] Eilon commented on #6898
The short answer is that there's no built-in way using ASP.NET Core MVC to do this, without using add-ons (we don't really consider the Web API compat shim to be a core component).

I'm also not sure that this has anything to do with being RESTful or not. It sounds like you have a "search API" so I would recommend doing something similar to what @rynowak suggested by making the various search para

[2017-10-05 16:42] #6898 closed

[2017-10-05 18:24] #6910 closed

[2017-10-05 18:39] aanufriyev commented on #2677
Any progress on that issue? Because now TryUpdateModel is misleading. And even is you hack your way through to InputFormatter - BodyModelBinder and JsonInputFormatter ignore existing ModelBindingContext.Model and always create new one.

[2017-10-05 20:27] Eilon commented on #5973
Closing because there is not enough information to reproduce this problem.

[2017-10-05 20:27] #5973 closed

[2017-10-05 20:28] Eilon commented on #6918
Hi @srana863 can you share more info about this? We do not have enough information to investigate this. Can you attach a debugger to the process and see if any exceptions are thrown?

[2017-10-05 20:55] Eilon commented on #6900
@McKabue it would be helpful if you could help narrow down where the specific problem is. It is unclear where in the code there's a problem.

[2017-10-05 21:04] McKabue commented on #6900
@Eilon i want to be able to implement `DefaultControllerFactory` so that i can invoke the any action in any controller...

[2017-10-05 22:44] jbagga commented on #6878
@ctorx Can you share your `Startup` code that maps to area routes? I am unsure what you mean by

Do you have anything similar to this?
[code]

[2017-10-05 23:45] Eilon commented on #6900
@McKabue I understand that, but it isn't clear exactly where you're having a problem. The scenario you describe is not very common, and it isn't clear what part of the code isn't working. I recommend running the code in the VS debugger and stepping through the code line-by-line to see where it doesn't work.

[2017-10-06 01:21] jbagga commented on #6878
Here is a quick sample https://github.com/jbagga/RemoteAttributeInArea

Can you take a look and let me know what is different in your app?

[2017-10-06 03:15] ctorx commented on #6878
I am using attribute routing.  Attribute routing for areas seems to work everywhere else such as Url.Action() etc.  I am only having an issue with the Remote Attribute.

Just to be clear, I have no route templates defined in Startup.cs.  If I add one it works, but I shouldn't have to add one -- that's the point of attribute routing.  :)

**Example:**

[code]

[2017-10-06 13:05] ben-foster-cko opened #6920 "Optional body parameters no longer work since upgrading to .NET Core 2.0"
I have an action filter that automatically checks `ModelState` and returns `400` if it's not valid.

We have a few actions that have optional body parameters, for example:

[code]

Specifying the default value of `null` used to be enough to mark them as optional. Since upgrading to ASP.NET Core 2.0 I get the following response:

[code]

[2017-10-06 13:18] pranavkm opened #6921 "Add setter to MvcJsonOptions.SerializerSettings."
From https://github.com/aspnet/Home/issues/2226

@Maly-Lemire

I had an override for JsonSettings with all my desired configuration.
I have to reproduce everything in AddJsonOptions because I cannot directly set SerializerSettings.

[2017-10-06 14:31] khellang commented on #6921
Same as https://github.com/aspnet/Mvc/issues/6816?

[2017-10-06 14:34] pranavkm commented on #6921
Yup, sounds like it.

[2017-10-06 14:44] ben-foster-cko commented on #6920
It looks like the null handling behavior was changed in [this PR](https://github.com/aspnet/Mvc/commit/90acd055fe0e58ac131471435b28679a00ee7ed6#diff-114dc2a6d98896f96f7252280899afcd).

There is a new option `AllowEmptyInputInBodyModelBinding` that is `false` by default. If you want to handle the null values yourself you'll need to set this to `true`.

[2017-10-06 14:44] #6920 closed

[2017-10-06 15:00] pranavkm commented on #6921
@Maly-Lemire, see https://github.com/aspnet/Mvc/issues/6816#issuecomment-329221624 for an explanation as to why the property isn't settable. Closing this as dup.

[2017-10-06 15:00] #6921 closed

[2017-10-06 15:32] rynowak opened #6922 "Add customizable conventions for ApiDescription default responses"

[2017-10-06 17:15] jbagga commented on #6878
I am unable to repro the issue. I updated the sample to use attribute routing but it still works. Can you provide a sample or more information?

[2017-10-06 17:24] ctorx commented on #6878
Are your changes committed ?  If so, I can pull down the repo on try on my
side.

On Fri, Oct 6, 2017 at 10:15 AM, Jass Bagga <notifications@github.com>
wrote:

[2017-10-06 18:15] jbagga commented on #6878
Yes, the sample [here](https://github.com/jbagga/RemoteAttributeInArea) is updated to use attribute routing.

[2017-10-06 18:37] vishalps868 commented on #5910
@Cae2 - Thanks a ton!! Your solution save my day!! :)

[2017-10-06 20:29] Slacquer commented on #5239
I am using kestrel and the example code above does not work.

[2017-10-06 22:38] smitpatel opened #6923 "Mvc Web App template in docker generates incorrect URL"
Steps:
1. Create new ASP.NET Core Web Application
2. Choose Web Application template for 2.0
3. Add individual accounts auth
4. Enable Docker support for windows.

Restore packages/build solution etc.
Press F5
Expected output:
Website from template is opened in browser.
Actual output:
Browser fails to load website. The website URL in browser is http://172.21.203.31/https://localhost:44341/