[2016-10-28 12:02] TheBigRic commented on #5403
I have been following the discussions surrounding conforming vs. non-conforming approaches since the beginning and I’m happy to see that there is progress on this point. To be honest there was a point in time when I felt I was forced to use products which did conform to this whole new idea of built-in dependency injection.

Depending on the size of my project I typically use Pure DI and when the p

[2016-10-28 12:19] pushist1y opened #5466 "Move UrlHelperExtensions.cs from Microsoft.AspNetCore.Mvc.Core to Microsoft.AspNetCore.Mvc.Abstractions"
So assemblies in multi-assembly projects could reference only abstractions.

[2016-10-28 12:39] pushist1y commented on #5466
Nevermind. It's not registered in services anyway...

[2016-10-28 13:47] mdmoura opened #5467 "Message from field does not show on asp-validation-for"
On an ASP.NET Core 1.0.1 project I have the following on a View:

[code]

When I submit the form the `asp-validation for` `@message` never shows.

Am I missing something or this might be a bug?

[2016-10-28 14:13] stanuku commented on #5456
@yishaigalatzer: The restore is always successful (from VS, from command line, from build agent).

My two build steps again:
1.  `nuget restore MySolution.sln. `
2.  `MSBuild MySolution.sln`
**Note**: MySolution.sln is a mix of ASP.NET Core and a couple of class libraries targeting 4.6.2.

This below information might be of some help to you folks -

After further experiments, what I found is that

[2016-10-28 15:09] pushist1y commented on #5466
Lurking through sources i've managed to use UrlHelper in side library, so the main point still stands.

Move UrlHelperExtensions.cs, IActionContextAccessor.cs, IUrlHelperFactory.cs to Microsoft.AspNetCore.Mvc.Abstractions

Also consider registering IActionContextAccessor to services in AddMvc() method.

[2016-10-28 15:48] stanuku commented on #5456
@davidfowl @pranavkm @Eilon @yishaigalatzer

I think I solved (work around) the issue. I created a local user account on the build server and set the build agent's service to this user account. The build steps ran fine. So, apparently MSBuild running under 'Local System' has some sort of issue resolving (some of) the dependencies. Which weird because some  dependencies resolve fine.

[2016-10-28 16:00] dougbu commented on #5467
@mdmoura `asp-validation-for` identifies the model property (or more complicated expression) for which error messages should be listed in the `<span>`. It also appears you've already got `<span>`s to contain errors for the properties in your model. Might want a validation summary instead:
[code]
(Use `asp-validation-summary="ModelOnly"` if you don't want the `<div>` to repeat messages shown in the

[2016-10-28 16:05] mbliesath commented on #3860
This could have saved me a couple hours of time...I second the motion to get the documentation updated.

[2016-10-28 17:04] wyshmily commented on #4992
Having the same issue.
it costs about 1 second for Every request.

[2016-10-28 17:46] NTaylorMullen commented on #5465
@Dona278 are you asking is there a way to manually render/access it from a different TagHelper?

[2016-10-28 18:43] Dona278 commented on #5465
@NTaylorMullen I ask if there is a way to use a ViewComponent and being able to access its content from c# code.
In the previous example from "th-form" c# code i can get child content and, for example, wrap into a new html element.
If i convert "th-form" to ViewComponent i get something like:
[code]
where the content are removed and there is no way to get them from c# code.
Another example: i have

[2016-10-28 19:02] NTaylorMullen commented on #5465
Ah, with ViewComponents this is not possible. ViewComponents use cases are geared more towards invoking a modular piece of business logic. You can think of being able to invoke ViewComponents as TagHelpers as syntactic sugar that enables nice type checking but nothing more.

For your case I'd recommend writing a vanilla TagHelper.

[2016-10-28 23:47] dougbu commented on #1999
ada42ea

[2016-10-28 23:47] #1999 closed

[2016-10-28 23:55] stanuku commented on #5456
Closing the issue, turns out when assigning the "Log on as" for the windows service, the "Allow service to interact with desktop" should be checked. That helped resolve the issue.

Sorry for the confusion.

[2016-10-28 23:55] #5456 closed

[2016-10-29 01:22] pranavkm commented on #5456
@stanuku that's interesting. We just switched our Windows build agents to run as Local Service Accounts and they've been restoring and building AspNetCore repositories just fine. The build agents don't have the interaction checkbox ticked. The one thing we do as part of building on the CI is specify the NUGET_PACKAGES directory to a subdirectory of the working directory (`%workingDir%/.nuget`). Pe

[2016-10-29 04:31] stanuku commented on #5456
@pranavkm: I'm not too convinced either with my solution. However, I have other fishes to fry and get back to meeting the deadline...whether I like it or not

[2016-10-29 17:17] DMWOO7 commented on #1422
In ASP.NET Core 1.0 I tried to set a page-category title using ViewBag in the constructor of my controller:

[code]

I use `ViewBag.PageCategory` in my layout-razor view. When I set it in a single action it works, but not in the constructor. It's not working without any exception or error message.

[2016-10-31 09:00] mdmoura commented on #5467
@dougbu I really want the span messages to be displayed. On the controller I am adding the error messages as follows:

      public virtual async Task<ActionResult> SignIn(AccountSignInViewModel.Order order) {
           List<Error> errors = await _validator.ValidateAsync(order);
           if (errors.Any()) {
              ModelState.AddModelErrors(errors, "Order");
              return View(orde

[2016-10-31 11:40] gdoron commented on #5340
@Eilon Curious to know whether you agree with the the above or not.

[2016-10-31 15:41] rynowak commented on #1422
This behavior is **intentional** do not do work in your controller's constructor that touches anything stateful or related to the current request. If you want to run some code before any action is invoked, override the `OnActionExecuting` method defined on `Controller`.

[2016-10-31 15:49] dougbu commented on #5467
`asp-validation-for` takes a portion of a C# lambda expression and supports arbitrary variable names. But the name of the variable is `authentication`. `m => Authentication` isn't valid C#.

Then, `asp-validation-for` itself looks for errors in `ModelState` using the expression name which should be `"authentication"` in this case. The `authentication` variable might as well be set to `42`. Not sur

[2016-10-31 16:11] mdmoura commented on #5467
@dougbu The ModelState does have an error with key "Order:Authentication" as in the view I am doing

    @{
      String Authentication =   ViewContext.ViewData.ModelState["Order.Authentication"]?.Errors?.FirstOrDefault()?.ErrorMessage;
     }

and I checked that Authentication is not empty so shoudn't asp-validation-for="@Authentication" show the message since it is an in-scope variable?

[2016-10-31 17:03] Eilon commented on #5467
@mdmoura you don't need to store the message in your own variable - that's what the HTML helper does automatically. The HTML helper automatically looks up the value in Model State and shows the message if the field is invalid.

Your C# code *is* in fact valid (`m => Authentication` is 100% valid C#), but it's not necessary and doesn't work well with HTML helpers because the HTML helpers *parse* th

[2016-10-31 17:06] Eilon commented on #5466
@pushist1y is there a reason that you don't want the libraries to references Mvc.Core?

@rynowak any thoughts on this?

[2016-10-31 17:23] Eilon commented on #5457
@balticer the code is setting the RequestLocalizationOptions directly on the Localization middleware and it's never registering the options in the service container. As such, when you retrieve the options in the Razor page from the service container, it should be no surprise that they aren't there.

If you want the options in DI, you can register them there: https://github.com/aspnet/Localization/

[2016-10-31 17:23] #5457 closed

[2016-10-31 19:58] Bartmax opened #5474 "Question/Suggestion: Javascript taghelper for @model"
Right now, to get the model in a JSON one uses Newtonsoft.Serialize on the view.
For security reasons it's better to place it on a html tag and then access it via data attributes from js.

So I have a question/suggestion thing.

Is it possible to have a "secure, properly encoded" tag helper `<script asp-model="variableName">console.log(variableName)</script>` that renders something like:

[code]

[2016-10-31 20:44] pushist1y commented on #5466
@Eilon well, there is no _particular_ reason, it's purely architecture issue. Following loose coupling pattern you should not reference implementations, you should reference abstractions. And provided you already have an abstractions library there is no good reason in having Mvc.Core in the dependencies list when you can restrict it to abstractions.

[2016-10-31 21:21] Eilon commented on #5340
@gdoron those are all good points, but still no plans to have this feature built-in. If you end up building this tag helper you can release a package on NuGet, and we'd be happy to link to it.

[2016-10-31 22:39] pranavkm opened #5475 "Remove PageDirectiveFeature once we have switched to Razevolution"
Followup work item based on discussion on https://github.com/aspnet/Mvc/pull/5450#discussion_r85364322

[2016-10-31 22:43] gdoron commented on #5340
@Eilon Problem is, I think it shouldn't really be a new tagHelper but a boolean property on LinkTagHelper.
Should I really copy paste the entire code (with great features) from `LinkTagHelper`?
That's bad practice.

Is there a DRY way of extending TagHelpers in MVC Core?

[2016-10-31 23:30] Tratcher commented on #5413
I'm testing a fix for aspnet/IISIntegration#39 and found that Chrome has stopped showing an error on the page for truncated responses, they are only shown in the dev console. That makes fixing this issue more important.  IE still shows an error for truncated content.

[2016-10-31 23:45] Eilon commented on #5340
To include this in the framework I think we'd want to try resolving some of the issues mentioned earlier. As of right now I think some of these issues are a "pit of failure" where it's very easy to lead a user into doing things that won't work.

As far as extending the current tag helpers, it's a matter of whether the tag helper in question was designed to support any particular extensibility, and

[2016-10-31 23:58] jbagga commented on #5289
@Eilon @javiercn @rynowak
Package restore fails when trying to add the same package reference in two different projects' project.json files with different cases, when they are dependencies of the same project (as explained above). For the example I used, it complains about a dependency of the referenced package to be already added.

For package `Microsoft.IdentityModel.Protocols` reference:
`An it

[2016-11-01 00:06] halter73 commented on #5413
Does chrome actually show the truncated content though. In my testing, Chrome showed a blank page when hitting Kestrel directly, but nothing when going through IIS (along with the error in the dev console).

https://github.com/aspnet/EntityFramework/issues/6684#issuecomment-253677506

[2016-11-01 00:31] Tratcher commented on #5413
It's showing truncated content now. Note I only tested text/plain.

[2016-11-01 02:45] Eilon commented on #5289
@jbagga thanks.

@keflem do you have any more info about this? If you can upload a repro project to GitHub we can take another look.

[2016-11-01 02:46] Eilon commented on #5441
These are two features that don't know about each other and shouldn't be used together because clearly they conflict. If you have localized views, use one or the other.

[2016-11-01 03:10] dougbu commented on #5441
@Eilon I discussed this one w/ @DamianEdwards. His conclusion was we _should_ have better support for the scenario. And, using the localization view location provider and `IViewLocalizer` together are a match for the scenario.

What exists today _works_ though the required resource filenames are somewhat awkward -- the point of this bug. Why should users avoid the two features together?

If we don

[2016-11-01 04:24] Eilon commented on #5466
I talked to @rynowak today and we feel that the current location of these types is acceptable. The idea of the Abstractions package is to have exactly that - just abstractions (and some of the necessary *context* types), and as little actual functionality as possible. These particular types are mostly associated with the particular *implementation* of MVC that we built and thus belong at a differe

[2016-11-01 04:24] #5466 closed

[2016-11-01 04:28] Eilon commented on #5441
How does "undoing the work of the expander" not amount to linking the two features? It involves one component having knowledge of another component's output, no?

But anyway, I still don't get why anyone would use these two features together. I see them as being absolutely mutually exclusive when it comes to localized views - they are both completely different strategies for locating localized vie

[2016-11-01 04:35] dougbu commented on #5441
I'm not making myself clear. Let's chat quickly tomorrow.

[2016-11-01 05:56] Eilon commented on #5157
@dougbu this patch is **approved**, please ensure it is merged into the correct branch and building as part of the patch train.

[2016-11-01 05:56] Eilon commented on #5344
@ryanbrandenburg this patch is **approved**, please port the fix from 1.1.x and ensure it is merged into the correct branch and building as part of the patch train.

[2016-11-01 07:24] balticer commented on #5457
Hi,

thanks for the hint!

regards
Kai

[2016-11-01 08:50] gdoron commented on #5340
@Eilon So what do you suggest? It seems like the community is blocked by the framework, unless we are going to copy paste the entire `LinkTagHelper` class (and its dependencies) which is really bad for maintenance.

Thanks.

[2016-11-01 09:28] stefanhendriks opened #5478 "Either ErrorMessageString or ErrorMessageResourceName must be set, but not both - provide hint which property"
This is happening on an API call (JSON serialization). From my perspective this problem 'suddendly' appears and I have no way of backtracking which property is causing this error message.

Some background info:
- we have a filter that validates models before they enter the controller action
- when a validation error is found, we throw an exception and send a nice generic error response with per-fi

[2016-11-01 09:59] stefanhendriks commented on #5478
I have found the property that was the culprit. Here is how I did it:
- I had a test that could reproduce this problem (hence it was the start of this journey ;-) )
- I turned off all validators (commented out)
- I re-ran the test to see it did not fail due the above error (it did fail for other reasons, because it checked if any validation was going on)
- I turned on validators per for a property

[2016-11-01 11:19] DMWOO7 commented on #1422
@rynowak Thanks, that worked! As an alternative, its also possible to create a DataAnnotation-Attribute. For example, by inheriting from `ResultFilterAttribute`. This also allow to override the `OnActionExecuting` method.

[2016-11-01 15:13] rynowak commented on #1422
@DMWOO7 - yes, that would work as well, but it doesn't have anything to do with `System.ComponentModel.DataAnnotations`.

[2016-11-01 17:29] Tratcher commented on #5413
It also shows the truncated content for text/html and applicaiton/json. I can only hope the JS APIs are better behaved.

[2016-11-01 18:17] kichalla opened #5479 "Reduce string allocations when using CookieTempDataProvider"
Following are the major allocations for the scenario of saving temp data. Here we are trying to save a 5K string into temp data which would cause ChunkingCookieManager to chunk into multiple cookies.

Following was for 3000 requests.

##String allocations:##
![image](https://cloud.githubusercontent.com/assets/6559784/19900927/7fb25e7e-a022-11e6-85aa-b3b63cd566ad.png)

![image](https://cloud.github

[2016-11-01 18:25] kichalla commented on #5479
I tried a change of using StringBuilder to the `Encode` method of https://github.com/aspnet/HttpAbstractions/pull/733/files and it reduced the string allocations by 80mb. Just FYI...not suggesting this should be the final approach...

[2016-11-01 21:54] Eilon opened #5480 "Page instantiation: Productize prototype code for page and model activation"
Moved work item from https://github.com/aspnet/Mvc/issues/5357.

* IPageFactory and IPageActivator analogous to IRazorPageFactory and IRazorPageActivator.
* Model activation

The codes in question are here: https://github.com/aspnet/RazorPages/tree/master/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure

And they need to move to the MVC repo and gain some unit tests.

[2016-11-01 23:03] NTaylorMullen opened #5482 "[Tracker] MSBuild conversion issues"
This is just to track all the issues that I've run into so we can capture when they're resolved.

- [x] **Can't run GenerateResource Task.** https://github.com/dotnet/sdk/issues/346.
- [x] **Migrate doesn't respect global.json.** https://github.com/dotnet/cli/issues/4568  / https://github.com/dotnet/cli/issues/4548
- [x] **Migrate does not understand transitive project references that have already

[2016-11-01 23:15] kichalla commented on #5430
32710bbfbea53349ba187610588bbbc96ad51cb4

[2016-11-01 23:15] #5430 closed

[2016-11-01 23:16] #5323 closed

[2016-11-01 23:45] Eilon opened #5483 "Antiforgery filter is in wrong order relative to Authorize"
See original issue w/ discussion and analysis here: https://github.com/aspnet/Security/issues/1009

And pending PR here: https://github.com/aspnet/Mvc/pull/5470

[2016-11-01 23:45] Eilon commented on #5483
This patch is **approved**, please ensure it is merged into the correct branch and building as part of the patch train.

[2016-11-01 23:47] Eilon opened #5484 "Port 5483 to 1.1.0: Antiforgery filter is in wrong order relative to Authorize"
See 1.0.x patch bug here: https://github.com/aspnet/Mvc/issues/5483

Need to ensure we bring the fix to 1.1.0 as well.

[2016-11-01 23:48] Eilon commented on #5483
@ryanbrandenburg please complete your PR, check into the patch build, then port to `dev` to ensure it goes into the 1.1.0 release. I logged https://github.com/aspnet/Mvc/issues/5484 to track the 1.1.0 work to make sure we don't forget.

[2016-11-02 07:07] Eilon commented on #5340
@gdoron I looked at `LinkTagHelper` and I'm not sure this is a good fit for the existing tag helper. The existing tag helper is all about doing file globbing (not very useful here) and resource/CDN fallback (clearly not applicable here).

So this sounds to me like it fits best as a separate tag helper.

If this tag helper requires some core pieces of functionality from some existing tag helper we

[2016-11-02 07:43] John0King opened #5486 "ModelBinder won't bind checkbox group value to a array string"
MVC version: 1.0.1
[code]
The `ModelBinder ` 's  behavior  is  totally different  than `Request.Form/Query`

Another thing I noticed  is that   you can not use `Request.Form` in a GET Request .

[2016-11-02 08:58] gdoron commented on #5340
@Eilon I think you're probably right regarding LinkTagHelper not fitting to embeding css, but that's (at least from my understanding) is the only way we can still use the known HTML element `<link>` and just having a flag to embed the content.

Regarding something common, I guess the only the thing that might be common is the `FileVersionProvider` which is in a separate class anyway.

BTW, do you

[2016-11-02 12:34] mdschweda opened #5487 "ViewsFeatureProvider and dynamic assemblies"
[code]
in `ViewFeaturesProvider` fails when adding dynamic assemblies via `IMvcBuilder.AddApplicationPart` (`System.Reflection.Emit.AssemblyBuilder.Location` throws `NotSupportedException`). Here is a stack trace:

[code]

Would there be any major implications when checking if `assemblyPart.Assembly.IsDynamic` before trying to retrieve its location? Am I missing something when working with dynamic

[2016-11-02 15:44] annayafi opened #5488 "Form taghelper doesn't read method attribute to generate url"
Let's say you have 2 actions :
[code]
and a form :

` <form method="post" asp-action="Edit"></form>`

The generated url for action html attribute will be : edit/totoid and will never be only "edit" because the attribute method's value is not taken into account, and the wrong action, the get one, is rendered. I'm forced to change the post action's template and to send the id with it, otherwise, it

[2016-11-02 15:58] pranavkm commented on #5487
That sounds fine. I recall trying out loading a Roslyn generated assembly and it didn't throw when `Location` was accessed. Would you like to send a pull request for this?

[2016-11-02 16:25] ryanbrandenburg commented on #5483
Fixed by #5470.

[2016-11-02 16:33] ryanbrandenburg commented on #5344
The PR  to the patch train is out but @pranavkm says we should wait on the build to stabilize before merging.

[2016-11-02 16:34] ryanbrandenburg commented on #5483
Currently waiting on approval of #5470.

[2016-11-02 17:22] Eilon commented on #5207
Moving to 1.2.

[2016-11-02 17:22] Eilon commented on #5013
Moved to 1.2.

[2016-11-02 17:24] Eilon commented on #4627
Moving to 1.2.

[2016-11-02 17:24] Eilon commented on #4449
Moving to 1.2.

[2016-11-02 17:31] #4964 closed

[2016-11-02 18:13] rynowak commented on #5488
Have you tried specifying the id?
[code]

[2016-11-02 18:57] dougbu commented on #5486
If you want to bind all submitted options, use `public IActionResutl SomeAction(string[] options) { // ... }`. MVC consistently binds all submitted values to a collection and the first of them to a non-collection property.

[2016-11-02 19:00] mdschweda commented on #5487
Sure

[2016-11-02 20:35] danroth27 commented on #5488
Link generation doesn't use the specified HTTP method on the form to generate the link. The GET action is being chosen for link generation because there is an ambient `id` route value, which matches the attribute route on the GET action. If you want the POST action to be used instead you can specify an empty value for the `id` or specify a an explicit route name.

[2016-11-02 20:35] #5488 closed

[2016-11-02 20:38] #5486 closed

[2016-11-02 20:43] danroth27 commented on #5478
This issue was moved to dotnet/corefx#13280

[2016-11-02 20:43] #5478 closed

[2016-11-02 20:52] danroth27 commented on #5474
@DamianEdwards

@Bartmax Could you please clarify how you would access this data from "data attributes"?

[2016-11-02 20:58] danroth27 commented on #5428
Not enough information to really respond to this one. Closing.

[2016-11-02 20:58] #5428 closed

[2016-11-02 21:35] annayafi commented on #5488
Yes I undertand well why it is happening and I knew the workarounds. I just think it's a regression compared to the previous html helper and that the specified method on the form should be taken into consideration so as to select the right action (maybe asp-method attribute ?). After all, httpget, httpost attributes.. are action selectors and share a responsability into selecting the right action

[2016-11-02 22:14] Eilon commented on #5340
@gdoron you can have multiple tag helpers targeting the same element, though you're right that it wouldn't be the same as having just one extra switch.

Regarding loading from disk vs. using a memory cache, the best way to answer that is to not implement caching, use a profiler to measure the behavior, and then optimize whatever the slowest part is, and then finally measure again to see that the b

[2016-11-02 22:56] #5216 closed

[2016-11-02 23:36] #5409 closed

[2016-11-02 23:54] ryanbrandenburg commented on #5483
Merged in f02f55c. Still waiting on the PR to add rel/1.0.2 to the patch train.

[2016-11-02 23:57] ryanbrandenburg commented on #5484
Merged into dev for 1.1.0.

[2016-11-02 23:57] #5484 closed

[2016-11-03 02:08] John0King commented on #5486
what's the reason only give the first value to non-collection property ?
notice: EF does not support array .
so  how to do this ?

[2016-11-03 04:44] Eilon commented on #5441
Discussed with @dougbu and I understand this now. This turns out to be far more complex -- it seems that the ViewLocalizer might need to know about every stage of what the View Location Expanders did. E.g. for the view `/Views/Shared/_Layout.zh.cshtml` that is running, presumably the ViewLocalizer would want to look for all of these for the `zh-HK` culture:

* `Views.Shared._Layout.zh.zh-HK.resx`

[2016-11-03 10:29] andrew-vandenbrink opened #5491 "Tag helper not rendered properly when called via ajax"
PartialView.cshtml
[code]

When retrieving this partial view via ajax call, I expect the view will be rendered with AntiForgeryToken
But it's not happening, is this expected behavior?

[2016-11-03 12:00] Excolo commented on #4842
Is it by design that ModelState is serialized as pascal case? I don't mind the change of default to camel case, but I'd expect it to be consistent.

[2016-11-03 13:50] ksc4130 commented on #4676
I had the same issue unloading and reloading the project fixed it for me.

[2016-11-03 17:54] dougbu commented on #5351
- 116c927 to revert 1ac7315
- f042865 to reapply interesting parts

[2016-11-03 17:54] #5351 closed

[2016-11-03 17:59] dougbu commented on #4989
Ported to rel/1.0.2 in f8f9bbc

[2016-11-03 17:59] dougbu commented on #5157
f8f9bbc

[2016-11-03 17:59] #5157 closed

[2016-11-03 18:06] ryanbrandenburg commented on #5344
The PR is merged so I'm closing this.

[2016-11-03 18:06] #5344 closed

[2016-11-03 18:07] ryanbrandenburg commented on #5483
rel/1.0.2 is in the patch train now, closing this.

[2016-11-03 18:07] #5483 closed

[2016-11-03 18:26] jbagga opened #5494 "Remove multiple InternalsVisibleTo in Microsoft.AspNetCore.Mvc.Core and .ViewFeatures"
There are IVTs to multiple test assemblies in the runtime assemblies, Microsoft.AspNetCore.Mvc.Core and Microsoft.AspNetCore.Mvc.ViewFeatures. Ideally, the only IVT should be to the runtime assembly's corresponding test assembly.

See https://github.com/aspnet/Mvc/pull/5469#discussion_r85625384 by @Eilon in [this PR](https://github.com/aspnet/Mvc/pull/5469)

[2016-11-03 20:24] Eilon commented on #5491
What are you getting instead?

[2016-11-03 20:24] Eilon commented on #5491
And how are you retrieving the view from AJAX?

[2016-11-03 20:28] Eilon commented on #5272
Looks like https://github.com/aspnet/Mvc/pull/5316 was merged but we forgot to close this issue.

[2016-11-03 20:28] #5272 closed

[2016-11-03 21:58] kichalla commented on #5463
https://github.com/aspnet/JsonPatch/commit/81931e75d48370cf9163254523b1f6c4bcc92acb

[2016-11-03 21:58] #5463 closed

[2016-11-03 22:16] dougbu opened #5499 "Waste less memory when model binding"
Loops through `ModelMetadata.Properties` in `ComplexTypeModelBinder` eat 1.3% of the total memory used in the BigModelBinding scenario. Boxing the `List<ModelMetadata>` `Enumerator`s could be completely avoided by switching from `foreach` to `for` (twice) in this class.

Similarly, enumerating children of the `DefaultComplexObjectValidationStrategy` eats about 0.8% of the total used in the same sc

[2016-11-03 23:33] dougbu opened #5501 "Treat an invalid `charset` identically to one a `TextInputFormatter` does not support"
A `Content-type` header containing `application/json;charset=garbage` where the system had no configured `Encoding` for `garbage` is treated as if the `Content-type` header did not mention the `charset` at all. That is, the `JsonInputFormatter` attempted to deserialize the request body using its slight reconfiguration of `Encoding.UTF8`. Such cases should instead result in an HTTP/415, Unsupported

[2016-11-03 23:34] dougbu commented on #5501
Fixed for good in f042865

[2016-11-03 23:34] #5501 closed

[2016-11-03 23:54] #5207 closed

[2016-11-04 09:50] frankabbruzzese opened #5502 "Model binder doesn't validate decimals with thousands separator"
While client side validation hamdles properly decimals with thousands separators, model binder consider them invalid. So client validation submit the form, but then one gets a server side error.
This is an old problem (Mvc5, Mvc4...) and it is due to the ModelBinder using TypeDescriptor.GetConverter(type) to get a converter for strings to decimals. So the point is the "strange" behavior of the dec

[2016-11-04 10:57] andrew-vandenbrink commented on #5491
I get

[code]

My controller
[code]

I expect
[code]

[2016-11-04 11:00] andrew-vandenbrink commented on #5491
The goal is to have form tags rendered via ajax which will include
![image](https://cloud.githubusercontent.com/assets/12871379/20003356/4110741a-a286-11e6-8f83-6170536759c9.png)

Request verification token, but I realize the tag helpers is not transformed at all..

[2016-11-04 15:34] rynowak commented on #5499
I don't believe you that the fix with `DefaultComplexObjectValidationStrategy` is so straightforward. There's an interface involved.

[2016-11-04 16:24] RoySalisbury commented on #5491
I'm noticing that my TagHelpers are not populating from the model when posted back from an AJAX call that does a

    return PartialView("viewName", model);

If I have

    <input asp-for="FirstName" type="text" class="form-control" autocomplete="off" />

It populates the first time, but on the ajax response I replace the FORM with the results from the service call and the "value" filed will not g

[2016-11-04 16:39] dougbu commented on #5499
@rynowak agreed. I said that one was (at least) "a bit more complicated". Would likely require special-casing that strategy class or (somehow) reducing the size of its `Enumerator` class.

[2016-11-04 16:46] #5352 closed

[2016-11-04 17:06] NTaylorMullen commented on #5491
@andrew-vandenbrink it looks like your TagHelpers are not running at all. The indicator being the `asp-controller` attribute still existing on the form tag. Do you have a `_ViewImports.cshtml` that includes `@addTagHelper` in your view, or alternatively have the `@addTagHelper` directly in your view?

[2016-11-04 17:07] dougbu commented on #5491
@RoySalisbury sounds like you're commenting on the way `ModelStateDictionary` round-trips submitted data (overriding the current model). That's by design and not related to @andrew-vandenbrink's issue.

[2016-11-04 17:18] RoySalisbury commented on #5491
@dougbu Might not be related to the same issue. Was not sure, just sounded similar.  I'm still trying to figure it out.  I would expect the "PartialView("viewName", model) to be using the model I pass it and not care about and prior model that the view had.

Something strange going on for sure.  creating a new instance should not have anything to do with the prior instance.

[2016-11-04 17:31] RoySalisbury commented on #5491
BTW, the "form" tag is getting update in my situation, just not the "input" tag.

Model (Id : 3, FirstName: 'Jason')

    <form asp-route="AccountCommand_EditUserDetails" asp-route-id="@Model.Id">
      <input asp-for="FirstName" type="text" class="form-control" />
    </form>

Original Render

    <form action="/Admin/Users/Edit/3">
        <input type="text" class="form-control" autocomplete="of

[2016-11-04 17:54] #5350 closed

[2016-11-04 18:12] dougbu commented on #5491
@RoySalisbury depending on what you mean by "rendering from a postback" the behaviour you're seeing is likely by design. _All_ generated `<input>` elements except `type="password"` give the highest precedence to submitted data. Open a new issue if that is not what you're seeing. If this is what you're seeing but don't like the behaviour, use one of the `ModelStateDictionary.Remove()` and `ModelSta

[2016-11-04 18:56] dougbu commented on #4362
Nice idea but I tried 3 approaches and none were clearly beneficial.

FYI approaches from worst to best of the bad lot were:

1. Allocate lambdas on entry to a new model binding scope and allocate the `ModelStateEntry` only when required.
2. Allocate the `ModelStateEntry` on entry to a new model binding scope.
3. Allocate the `ModelStateEntry` for a scope either when required e.g. a binder sets it

[2016-11-04 18:56] #4362 closed

[2016-11-04 18:57] dougbu commented on #4362
See #5495 for details of approach 3.

[2016-11-04 19:40] Monte-Christo commented on #5050
Before you do anything drastic or laborious, try closing and reopening VS. That solved it for me.

[2016-11-04 19:45] pranavkm commented on #5050
@Phrohdoh I'm not entirely sure what might cause your issue. @DamianEdwards where would this issue go?

[2016-11-04 21:18] DamianEdwards commented on #5050
I'd log it in https://github.com/NuGet/Home/issues I think

[2016-11-04 21:43] mdmoura commented on #5050
Usually I am able to solve this by deleting the DLL files, restart VS and rebuild the Application.

But this keeps happening and is really annoying.

Any ETA for a solution to this issue?

[2016-11-04 22:32] dougbu commented on #5502
@frankabbruzzese the `SimpleTypeModelBinder` passes a `CultureInfo` into the `TypeConverter` when doing the conversion. But the chosen culture is specific to the source value provider: By default, the `FormValueProvider` and `JQueryFormValueProvider` use the current culture but the `QueryStringValueProvider` and `RouteValueProvider` use `CultureInfo.InvariantCulture` (because that data is less lik

[2016-11-05 08:20] frankabbruzzese commented on #5502
@dougbu , unluckly I am sure 99% the problem exists (100% is impossible with software :)).
Data comes from a form submit and I  locked culture in startup.cs to en-US. Anyway, also when working with several cultures decimal separator works properly. This means culture are being recognized properly. The problem is just thousands separator that do not work in any culture.

Problem may be reproduced i

[2016-11-05 08:41] andrew-vandenbrink commented on #5491
@NTaylorMullen you are correct!
I need to add to my partial views
[code]
or

move
_ViewImports.cshtml to **/Areas/Blog/** instead of **/Areas/Blog/Views/**

I'll close this issue thanks!

[2016-11-05 08:41] #5491 closed

[2016-11-05 18:13] juunas11 commented on #3988
What if the action being redirected to has a parameter called fragment? If we take fragment from the route values and make it the fragment, wouldn't it essentially block this scenario:

[code]

[2016-11-05 22:02] MissaouiChedy opened #5504 "Facility for rendering a partial template from a tag helper"
# Proposal
When creating a custom TagHelper it would be convenient to be able to render an existing partial view programatically and capture the rendered result in a string or an HtmlContent object inside the TagHelper.Process method.

For example, consider the following hypothetical custom TagHelper
[code]
This tag helper inherits from the hypothetical TemplateRenderingTagHelper abstract class, t

[2016-11-06 04:56] dougbu commented on #5502
@frankabbruzzese you're correct this behaviour is intrinsic to MVC's use of `TypeConverter`s. Behaves about the same without adding localization. And, `decimal` isn't that unique e.g. `double` properties are similar.

`ModelState` contains an error (e.g. `"The value '23,000.34' is not valid for Number."`) in this case.

MVC can't stop using `TypeConverter`s for back-compatibility reasons. But we m

[2016-11-06 09:09] frankabbruzzese commented on #5502
@dougbu ,
may be this behavior is correctt for doubles but for sure it is not for decimals. However, on the client side there are no decimals or doubles but just numbers, so thousands separator should be allowed for all numbers. Fallback on FormatException is a good compromise with compatibility.
Just for curiosity, tracking back how decimal TypeConverter is implemented we find the Convert class a

[2016-11-06 10:14] frankabbruzzese commented on #5504
@MissaouiChedy ,
Actually, you can use an HtmlHelper from within a TagHelper also now, with no need for further features:
1. Add an `IHtmlHelper `argument to the constructor of your TagHelper, say: `IHtmlHelper html`, so that a fresh Html instance is injected when your TagHelper is created.
2. Store it in a private variable, say `html`. The injected TagHlper is "neutral", not specific for your Vie

[2016-11-06 10:58] MissaouiChedy commented on #5504
@frankabbruzzese
Yes in fact it works.
I tried previously to get an IHtmlHelper by using dependency injection, but I got an exception whenever I called one of its methods.
It turned out that I missed the contextualization part.

[2016-11-06 10:58] #5504 closed

[2016-11-06 11:12] olegsavelos opened #5505 "Trying to render a view produces errors"
I am trying to render a view with Razror.

Code
[code]

Code executes normally and i get the desired result BUT once the request is redirected an exception is raised.

[code]

If rendering code is removed no then code produces no problems.

Here is the full stack trace of exception
[code]

[2016-11-06 11:38] #5505 closed

[2016-11-06 12:42] dotnetjunkie commented on #5403
@davidfowl

I would really like to know why you think the proposed model is "extremely error prone" so we can work on this together.

[2016-11-06 14:35] frankabbruzzese commented on #5474
Something like :
[code]

it's safe because it is not executed because of the custom type. Moreover it doesn't create JavaScript vars in global scope. Json may be acessed via id, and parsed to get a JavaAcript object.
It is easy to create it also without any TagHelper.

[2016-11-06 19:15] jacobmohl opened #5506 "DisplayAttribute dont work with <label asp-for="">"
It seems that on 1.1-preview1 that model properties decorated with `[DisplayAttribute(Name="Something")]` dont get the name value populated when using `<label asp-for="">`-tags in views.

This also seems to be the case with `[Required(ErrorMessage = "Something")]` and `<span asp-validation-for="">`-tags.

[2016-11-06 20:31] CodingSamurai commented on #2910
I agree with others that without SOME kind of inherent support for adding JS and CSS files from within ViewControllers they're a halfbaked concept.  I can't believe that this isn't on the roadmap.

[2016-11-06 21:43] tkrotoff opened #5507 "Web API: why IActionResult instead of using exceptions mechanism?"
Before:
[code]

Now:
[code]

`GetProduct` signature is not explicit anymore, you have to read its implementation to understand that it returns a `Product`.

And there is a bigger problem: how do you easily factorize/reuse code? example:

[code]

[code]

- The idea is of course not to rely on Web API compat shim
- People seems to simply recreate the old exception way:
  - https://devblog.dymel.pl/2

[2016-11-07 01:59] Eilon commented on #5507
We felt that using exceptions for control flow is an anti-pattern (which is generally a commonly-held belief).

But in practice exceptions are problematic for several reasons:

1. While debugging (and first-chance exceptions enabled), they can be very annoying because the debugger keeps breaking on things that aren't "errors".
2. It can make code more difficult to maintain. Exceptions blow right t

[2016-11-07 11:06] gdau opened #5508 "Custom IViewLocationExpander with pre-compilation"
Not sure if this is an issue with precompilation or IViewLocationExpander, but if I use feature slices more or less outlined here:

[https://msdn.microsoft.com/en-us/magazine/mt763233.aspx](https://msdn.microsoft.com/en-us/magazine/mt763233.aspx)

So my custom IViewLocationExpander has views located in a "Features" folder rather than inside "Views". When I run the site locally, it works fine. When

[2016-11-07 11:07] frankabbruzzese commented on #5507
There is no advantage in throwing an exception on a top level module. Exceptions are intended for reaching easily the higher level module that handles errors, thus avoiding the burden of returning any error to the immediate caller.

Business layer top level is supposed to collect all exceptions and translating them into exceptions a controller "may understand", ie exceptions speaking the language

[2016-11-07 15:57] wjzhou opened #5509 "Question: Best way to export large csv file"
Our application need to export csvs that are about 10MB. What will be the best way to export this?

If I understand it right, the byte[] or MemoryStream way will allocate the memory on the LOH.

In the old days (Mvc 4.5), I inherit the FileResult and override its WriteFile method.
For now, I have to implement my own FileDelegateResult which inherits ActionResult and duplicates the code for setting

[2016-11-07 16:24] Eilon commented on #3988
@juunas11 that's right, so we probably wouldn't use a special `fragment` token like that, but instead add an explicit parameter.

[2016-11-07 16:42] pranavkm commented on #5508
Do you have a repro application to share?

[2016-11-07 17:00] Eilon commented on #5509
There are file result types that do this for you:

* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/VirtualFileResult.cs
* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/PhysicalFileResult.cs

They will both set the content disposition header, etc., so long as they have the data passed into them.

[2016-11-07 19:17] jbagga commented on #5289
@Eilon Modified exception message for duplicate runtime library names in CandidateResolver.

[2016-11-07 19:54] jbagga commented on #5289
Marking as closed because we cannot reproduce this issue, but we improved the exception message for better diagnostics in case it happens again

[2016-11-07 19:54] #5289 closed

[2016-11-07 19:54] #5462 closed

[2016-11-07 20:59] #5487 closed

[2016-11-08 00:44] ryanbrandenburg commented on #5203
I did a little naive stopwatch testing on @ivaylokenov's example before jumping into full blown profiling and I don't think this is a scenario we need to optimize for. The string overload of `InvokeAsync` IS roughly twice as fast as the type overload, but in the given example where we find one of 800 views 5000 times the type overload takes ~70ms vs ~30ms on the string overload. This tells me that

[2016-11-08 05:43] DamianEdwards opened #5511 "CookieTempDataProvider hard codes cookie to be secure-only, thus requiring HTTPS to function"
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/CookieTempDataProvider.cs#L69

The cookie should only be marked secure if the incoming request is itself HTTPS. As it stands, this feature cannot be used unless the site is protected with HTTPS.

[2016-11-08 06:18] DamianEdwards opened #5512 "CookieTempDataProvider shouldn't set cookie path if PathBase is empty"
## Steps to reproduce
1. Create a default MVC app & configure it to use `CookieTempDataProvider`
1. Add an action method on `HomeController` to accept a form post that sets a temp data value and redirects back to the home page:
[code]

1. Add a `<form>` in the `Views/Home/Index.cshtml` view file to allow posting to the action and showing the message in temp data:
[code]

1. Run the site & click th

[2016-11-08 10:44] p33nty opened #5513 "Model binder set model to null if one property has wrong format"
Model:
[code]
Json:
[code]
Controller:
`public IActionResult Index([FromBody] TestModel model)`

If one of properties has wrong "format", like Bool1 in above example, model binder will set entire model to null. The same situation when I try to send wrong Guid or DateTime, for example value "a" model is set to null.
I don't know which value was wrong if I have entire model null. I can't send back t

[2016-11-08 15:49] Ponant opened #5514 "Spacing breaks Tag Helper in Visual Studio Code on Mac OS and Windows 10"
The following bug does not occur in visual studio community. It occurs in Visual Studio Code, on a Mac and Windows 10.

1) `dotnet new -t web` . Same issue with yeoman. Restore, build and run

2) Got to the about page and paste in the About.cshtml the following code:
[code]

The first link does not work, the second one does. The difference is subtle: It is the space between asp-action and the equa

[2016-11-08 17:13] NTaylorMullen commented on #5514
This is working as intended. It's against the HTML5 spec to have spaces after an attribute name and before an equals. If you do have the space after the attribute name then the attribute is handled as minimized.

[2016-11-08 17:13] #5514 closed

[2016-11-08 18:07] dougbu commented on #5513
MVC is not responsible for creating the `TestModel` instance. That's done within Json.NET. In this case, Json.NET throws an `Exception` when it hits a conversion error and does not return normally.

The `ModelState` should contain at least two errors, one for the `Bool1` property conversion error and one for the overall input formatting problem. Are you seeing something else?

[2016-11-08 18:41] Eilon opened #5515 "Add MVC services builder for CookieTempDataProvider"
Need to add a builder for adding `CookieTempDataProvider` services (w/ overload for options).

That is, make this line of code simpler: https://github.com/aspnet/Mvc/blob/89bd6dc1cd188772f9b85eb75ec0d79506a3bf2f/test/WebSites/BasicWebSite/StartupWithCookieTempDataProvider.cs#L15

cc @DamianEdwards @kichalla

[2016-11-08 19:11] Ponant commented on #5514
I would agree if all attribute follow this rule, but it does not seem to.
This would work for instance
`<a asp-controller="Home" asp-action ="Index">Go back home does not work</a>`
because the space has been removed not from the action but from the controller.

[2016-11-08 19:14] NTaylorMullen commented on #5514
@Ponant the reason why that one works is because you still have one valid attribute `asp-controller="Home"`. The existence of that attribute lights up the TagHelper.

[2016-11-08 21:41] kichalla commented on #5512
a3c06b00ccc5eca95b38b70e4b22ab4f29527242

[2016-11-08 21:41] #5512 closed

[2016-11-08 21:41] kichalla commented on #5511
07a2f1de06282a3a83ab578e815e7d2428e29e01

[2016-11-08 21:41] #5511 closed

[2016-11-08 22:44] Eilon commented on #5431
@jbagga need to close this issue?

[2016-11-08 22:45] Eilon commented on #5425
Moving to 1.2.0.

[2016-11-08 22:49] tkrotoff commented on #5507
@Eilon @frankabbruzzese

How do you factorize code (inside your controller) without using exceptions:

[code]

I don't want to copy-paste code:

[code]

[2016-11-08 23:08] jbagga commented on #5431
I was waiting for @pranavkm. He mentioned the Configure

[2016-11-08 23:12] Eilon commented on #5507
There are several possibilities, including:

You could return a bool (or enum) indicating the result of the operation:

[code]

And then in the controller convert true/false into an HTTP response.

Or you could have the helper method return an IActionResult:

[code]

And then the controller code would check the return value, and if it's non-null, return it (or else continue).

[2016-11-08 23:17] Eilon commented on #5431
Per discussion, please close this issue, but log a new issue for the `Configure{Env}` thing.

[2016-11-08 23:37] piotrpMSFT commented on #5482
@srivatsn this is an interesting issue for us to track...

[2016-11-09 00:13] dougbu commented on #5515
6d43612

[2016-11-09 00:13] #5515 closed

[2016-11-09 01:23] jbagga opened #5522 "ConfigureType does not support Configure{Environment} pattern like Startup"
See [this issue](https://github.com/aspnet/Mvc/issues/5431)

[2016-11-09 01:23] #5431 closed

[2016-11-09 01:37] sergeyzwezdin opened #5523 "Browser Detection feature"
I wonder whether browser detection feature will be implemented as part of ASP.NET Core?

If so, could you share ETA for this?

[2016-11-09 02:18] v-zhidu opened #5524 "Visual Studio can not resolve the dependency library which i built on my own"
I built a .net core library based on net45 and netstandard1.3, when I reference this library in my ASP.NET Core MVC site like this
![image](https://cloud.githubusercontent.com/assets/8225531/20124578/668d7adc-a662-11e6-87dd-4629dfa48fca.png)

The Visual Studio 2015 cannot resolve this packge as a dependency, when i call the methods which in library, vs display red font, intelli sense doesn't work

[2016-11-09 10:26] tkrotoff commented on #5507
@Eilon your suggestion:

[code]

[2016-11-09 11:02] frankabbruzzese commented on #5507
@tkrotoff,
I prefer CheckProductExists return a boolean: more in the logic of what controllers are supposed to do.
Here the point is exceptions are intended to handle "exceptiona1 cases" not errors in general! This way one may concentrate on "standard cases" without increasing the complexity object messages patterns.

Errors are "exceptional cases" for a "do computations" module but are not "excep

[2016-11-09 12:22] gdau commented on #5508
I do indeed. This is the simplest app I could create that demonstrates the problem. If you run it, it works fine - if you publish it and try run it from the published output it fails when you visit the page.

[WebApplication18.zip](https://github.com/aspnet/Mvc/files/580678/WebApplication18.zip)

[2016-11-09 12:57] iscifoni commented on #5507
Why don't you use a filter ? You can define your logic into a filter and use it on the actions that need this check.

This is an example

[code]

[code]

[2016-11-09 16:00] mcrsw opened #5525 "TagHelper: <input>'s asp-for is binding to query-string value instead of view-model property value"
Microsoft.AspNetCore.Mvc:  version 1.0.1

Steps to Reproduce:
1. Open VS 2015
2. Select New | Project
3. Select "ASP.NET Core Web Application (.NET Core)"
4. Enter a (project) Name, e.g. "AspNetCoreTagBug"
5. Choose an appropriate Location
6. Click "OK"
7. Select "Web Application"
8. Click "OK"
9. Open HomeController.cs, and add the following code to the end of the class:
[code]
10. Paste the foll

[2016-11-09 17:18] frankabbruzzese commented on #5525
@mcrsw ,
It doesn't appears to be a bug, but it appears just the way ModelState work. It is a feature to allow user correct validation errors, by returning the same value he inserted before in a field.
Name value is recorded in ModelState, so if you name something else with "Name" any input field for that property will contain the old "Name" value recorded in ModelState.

ModelState.Clear() in the

[2016-11-09 17:37] Eilon commented on #5507
Filters can certainly do some of this, but if the logic is more complex, filters can be a challenge. For example, if the filter needs to run "in the middle" of some more complex validation process, it's difficult to orchestrate that.

[2016-11-09 18:37] NTaylorMullen commented on #5482
Status:
- Migrated MVC src projects with work arounds.
- Migrated MVC sample project with work arounds.
- Migrated 1.5 MVC test projects but stopped due to the time spent working around known issues.

All issues found are listed above. Will continue migrating test projects when the vstest migration issues have been resolved.

[2016-11-09 18:55] mcrsw commented on #5525
Hi @frankabbruzzese,

Thank you for your suggestion. I can confirm, that by changing the action method to this:
[code]
the problem is "fixed" - in the sense that
`<input asp-for="Name" />`
does now produce
`<input type="text" id="Name" name="Name" value="Apple" />`

However, this is an HTTP GET action method, so there's no (post back) model validation - as you would expect to happen in an HTTP POS

[2016-11-09 19:25] dougbu opened #5526 "Model binders get incorrect `FieldName` when binding a collection element"
`modelBindingContext.FieldName` has unexpected values in `IModelBinder` implementations handling collection elements. This issue has no impact in an MVC application with a default configuration because only `BodyModelBinder` and `HeaderModelBinder` use `FieldName`. `BodyModelBinder` uses `FieldName` only when binding a top-level value and both binders require unusual customization (e.g. a custom `

[2016-11-09 19:30] dougbu commented on #5525
@mcrsw your scenario involves model binding and validation. If it did not, `name` would not have a value. Both model binding and validation update the `ModelState`.

Put another way, model binding handles all action arguments and not just those that get values from a `application/x-www-form-urlencoded` (or `multipart/form-data`) body.

[2016-11-09 21:48] hishamco opened #5527 "Partials doesn't respect the localization"
While I'm working on the issue https://github.com/aspnet/Entropy/pull/134 I come up with a strange issue, when I have a partial `_LoginPartial.ar-YE.cshtml` and the current culture is `ar-YE` the localization don't work properly, so it fallbacks to the default culture which is my case `en-US`. But when I remove the suffix from the partial it works fine

/cc @Eilon @ryanbrandenburg

[2016-11-09 22:35] dougbu commented on #5527
@hishamco please share the code calling `Html.Partial()`, `Html.RenderPartialAsync()`, or similar.

[2016-11-09 22:36] frankabbruzzese commented on #5525
@mcrsw,
true that *most of the time* input data submitted by humans come from a post operation.
However, *often* human data comes also from get operations. Typical case is input used to filter data. In this case it is good practice to submit the form with get, to conform to REST semantics and for other practical reasons. So, in general, you might need the same behavior also with get.

For JSon dat

[2016-11-09 22:42] hishamco commented on #5527
It's the same calling here https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Views/Shared/_Layout.cshtml#L36

[2016-11-09 22:47] frankabbruzzese commented on #5513
@p33nty , Json Data are handled by a formatter (based on Json.net), not by model binder. Main difference being formatters in general use not a recursive procedure but handle data as  a single object. Thus formatters either succeed globally or fail globally (in which case they return null). However, formatters get at least the error that caused the failure of the whole operation.

In general, there

[2016-11-09 22:48] hishamco commented on #5527
@dougbu  while i'm digging on it right now, it seems the source of the issue is localizing `_Layout.cshtml` to `_Layout.ar-YE.cshtml`, so when ever I remove the localization everything is work as expected, otherwise neither partials nor `Views.Shared._Layout.ar-YE.resx` doesn't applied?!! stange :thinking:

[2016-11-09 23:02] dougbu commented on #5527
See aspnet/Mvc#5441 for correct naming of `.resx` files in your scenario.

What exactly are you testing? Your ` hishamco:dev` branch doesn't include additional `_LoginPartial.{locale}.cshtml` or `_Layout.{locale}.cshtml` files.

[2016-11-09 23:10] hishamco commented on #5527
FYI I didn't push the latest updates to the remote branch, I 'll do it soon

[2016-11-09 23:21] hishamco commented on #5527
@dougbu shall the layouts as well using the name, `_Layout.ar,ar-YE.cshtml` because what I expect as a dev is `_Layout.ar-YE.cshtml`

[2016-11-09 23:25] hishamco commented on #5527
So everything is works fine using `_Layout.ar.cshtml`, the same thing for partials, after modifying the resource names. Thanks @dougbu you save my day, but this unexpected behavior for devs, hope we take this in our mind in the future releases

[2016-11-09 23:25] #5527 closed

[2016-11-09 23:48] mcrsw commented on #5525
Hi @dougbu, @frankabbruzzese,

Thank you both for commenting. I believe I may have muddied the waters somewhat - sorry. If I may restate the issue:

I'm still trying to understand why this view code (.cshtml):
[code]
renders an input textbox with `value="orange"` when I GET `http://localhost:{port}/Home/ShowBug?Name=orange`

Even though my view model object (as per `@model ShowBugViewModel` at the

[2016-11-10 00:35] dougbu commented on #5527
@hishamco suggest making your comments about dev expectations in aspnet/Mvc#5441.

[2016-11-10 01:29] hishamco commented on #5527
Sure 😄

[2016-11-10 01:41] hishamco commented on #5441
After I faced an issue in this PR https://github.com/aspnet/Entropy/pull/134 which leads me to open an issue here https://github.com/aspnet/Mvc/issues/5527, the current behavior for `LanguageViewLocationExpander` resources is unexpected at all for devs, it takes me two days to figure it out after deep digging into the code, plus @dougbu help :) ,so hope we take this in our mind in the future relea

[2016-11-10 08:09] frankabbruzzese commented on #5525
Yes the mere presence of "name" in the action method forces the input asp-for="name" to have the the same value as the "name" parameter also if you change the value of "Name" in your ViewModel. Yes it is unintuitive but substantially  the only way to return old values in case user needs to re-edit a submitted form to correctt some errors.

When model binder binds a property it stores bothe possibl

[2016-11-10 08:21] frankabbruzzese commented on #5507
Both HttpExceptions, and Filters are attempts to avoid writing each time the repetitive standard code that handles the client-server communication protocol. Exceptions do it by relying on a standard protocol you cannot modify on the controller side, while Filters factor out some logics, but, in general, they cannot factor out the whole protocol since they act just on the start/end of controller pr

[2016-11-10 10:46] audacity76 opened #5529 "Display Name Encoding"
I want to use soft hypens in the display name but the data annotation get's completely encoded when used as label:

[code]

`<label asp-for="Problem"></label>`

Output is:
`Prob&shy;lem` because it is is encoded as `Prob&amp;shy;lem`

Is there a trick to get soft hypens working?

[2016-11-10 11:56] tkrotoff commented on #5507
Thx for all your answers 👍

[2016-11-10 15:28] mcrsw commented on #5525
Hi @frankabbruzzese,

Thank you for explaining this to me. Now that I understand a bit more about what's going on under the covers, and after some more precise googling, it has now become clear to me that I have asked a question that's been asked before.
So, if it's any help to anyone else that may come across this in the future, here are some links to the "same" issue, also with explanations:

ht

[2016-11-10 15:28] #5525 closed

[2016-11-10 16:08] neumann1990 commented on #1863
So TryUpdateModel does deep validation buy TryValidateModel does not? Why don't both do the deep validation, or at least have the option of doing so?

[2016-11-10 17:51] dougbu commented on #5529
@audacity76 use the soft hyphen character rather than the HTML entity:
[code]

[2016-11-11 07:21] audacity76 commented on #5529
@dougbu thanks

[2016-11-11 07:21] #5529 closed

[2016-11-11 08:50] davidfowl commented on #5403
Sorry, the MVP summit was this week so lots of distractions.

@TheBigRic I guess beauty is in the eye of the beholder. But if you prefer that approach then I'm glad to works out well in general. We'll continue to provide abstractions like we always have (we didn't get lucky with MVC, we just designed things that way).

The number of moving parts required to wire things up is on the per framework,

[2016-11-11 22:11] pranavkm commented on #5508
Sorry it took me a while to get to this. We were in the middle of branching for 1.1.0. I'm able to repro the issue and I'm having a look.

[2016-11-11 22:41] pranavkm commented on #5508
@gdau doesn't look like this is limited to view location expanders. This affects any view that is specified using a relative path. The problem appears to be the result of expecting a normalized path (paths with forward slashes) but end up with one with back slashes because that's the way the tool generates the assembly.

@Eilon IMO, this might be symptomatic of something larger, but for now, we ca

[2016-11-11 23:17] Eilon commented on #5508
Is there any other workaround for this?

[2016-11-11 23:30] pranavkm commented on #5508
Not using relative paths should work.

[2016-11-11 23:44] dougbu commented on #5508
@pranavkm let's keep our terminology straight: View names e.g. `"Index"` aren't the same as view paths (relative or not) e.g. `"Home/Index.cshtml"`. You must mean view names in this issue because `IViewLocationExpander`s aren't applicable when finding views using a path. Correct?

[2016-11-12 00:03] pranavkm commented on #5508
@dougbu , I phrased it poorly, but the issue is orthogonal to ViewLocationExpanders. It happens because the app has a relative path `Shared/_Layout.cshtml` and precompilation generates metadata with back slashes that ends up here - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/RazorViewEngine.cs#L342.

[2016-11-12 00:09] dougbu commented on #5508
@pranavkm so `RazorViewEngine.GetAbsolutePath()` assumes xplat-normalized paths but doesn't get such in this scenario. What's the root cause of its (undocumented) assumptions being up-ended i.e. isn't there something between the precompilation tool and the view engine that should be fixing the paths?

[2016-11-12 00:16] pranavkm commented on #5508
The `CompilerCache` attaches the non-normalized path to `CompilerCacheResult` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/CompilerCache.cs#L62. We do the same thing for runtime generated views - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/CompilerCache.cs#L161.

This ends up as page path \ `ExecutingFilePath`: https://gi

[2016-11-12 00:40] dougbu commented on #5508
Making more sense to me though I suspect the cache key difference is more pertinent: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/CompilerCache.cs#L63 (using whatever is in the dictionary) versus https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/CompilerCache.cs#L146 (using the normalized path).

[2016-11-12 22:02] gdoron commented on #4033
@blowdart Can you please give me a link to an article showing how can it be exploited?
Having to write the text in html and use javascript to read it is very awkward 😢

**Will it ever be safe or just forget about its existence?**

[2016-11-13 05:09] Kagamine opened #5531 "'[FromHeader] string Referer' doesn't works in 1.1.0-preview1-final"
@Eilon
`[FromHeader] string Referer` doesn't work in `1.1.0-preview1-final`
It always returns `null` value.

[2016-11-13 10:51] p33nty commented on #5513
@dougbu @frankabbruzzese thanks for reply.
Let me explain my point of view. I'm thinking about MVC like consumer. I don't care about internal implementation, for me it is black-box. Of course I want to know how it works internally and understand why I get null as a model instead object, but still, for me it's a black-box. If it doesn't work as I want, I will perceive it as not useful as it could b

[2016-11-13 11:35] frankabbruzzese commented on #5513
@p33nty ,
Im Mvc5 behavior differs between standard controllers and WebApi controllers. Standard controllers NEVER use formatters, so model binder takes care of Json, too, so they dont fail globally in case of ill formatted properties(the behavior you prefer). However, also in Mv5, WebApi controllers use a Json.net based formatter to parse Json, so they have the same behavior as Mvc Core.
Now, sin

[2016-11-13 21:07] goenning commented on #4863
When will this land on NuGet? Just updated to 1.1.0-preview1-final and it's not there yet.

[2016-11-13 21:48] jbagga commented on #4863
It didn't make it to the preview but it will be in the 1.1.0 release!

[2016-11-14 08:09] dotnetjunkie commented on #5403
Hi @davidfowl,

Can you elaborate on this?

Can you explain why don't you think the exception methods help here?

This model is very different from the Conforming Container model where you can wire things up once and ‘forget’ about it. Once you start using other framework features, you must facilitate this in the Composition Root. When these extension methods are written in a consistent manner how

[2016-11-14 08:12] davidfowl commented on #5403
I can't help, what you're saying is that this *is* the model. Being explicit about wire up points *is* part of the feature. That means the user needs to be aware by design of all extensibility points.

[2016-11-14 08:14] dotnetjunkie commented on #5403
Great. Let's move forward with this and add this feature to the framework(s).

[2016-11-14 18:11] blowdart commented on #4033
I won't, because it's very use specific. Please just forget about its existence.

[2016-11-14 18:17] gdoron commented on #4033
Existence of what? 😝
Thanks

[2016-11-14 18:31] NTaylorMullen commented on #5482
/cc @balachir

[2016-11-14 18:34] v1n1akabozo commented on #5050
@pranavkm Came across the same problem and your solution worked for me as well. Thanks.

[2016-11-14 22:37] pranavkm commented on #5508
@gdau , we decided we were going to need a bit more time to address this issue and wouldn't be taking a fix for this in the 1.1.0 release. In the meanwhile, a simple fix for your case would be to modify /Features/_ViewStart.cshtml to use the layout name rather than specify a relative path. Here's what it looks like:

[code]

This should address the issue for now and cause the Layout lookup to go t

[2016-11-14 23:55] gdau commented on #5508
This workaround does indeed make it work for me now. Thanks for taking a look at this.

[2016-11-14 23:57] pranavkm commented on #5508
We'll use https://github.com/aspnet/MvcPrecompilation/issues/27 and https://github.com/aspnet/MvcPrecompilation/issues/33 to keep track of the work to make precompilation work with relative paths and path traversals. I'll go ahead and close this for now.

[2016-11-14 23:57] #5508 closed

[2016-11-15 18:30] nathan-alden opened #5532 "I can't adopt MVC 6 due to its broken abstractions"
I, like many others, want .NET Core to be an amazing experience, not just for being able to deploy code to different platforms but also as an amazing _development_ experience. I have been using Web API 2 for many years to build robust APIs to support various teams API-first development practices. Particularly important to me is the effort spent developing several internal NuGet packages that allow

[2016-11-15 18:42] Eilon commented on #5523
@sergeyzwezdin there are no current plans to implement this. Here's a past issue where this was brought up: https://github.com/aspnet/Mvc/issues/4877

[2016-11-15 18:42] #5523 closed

[2016-11-15 18:44] Eilon commented on #474
Closing because we have no plans to support this.

[2016-11-15 18:44] #474 closed

[2016-11-15 18:44] Eilon commented on #714
Closing because we have no plans to support this. We'll look at alternatives such as writing tag helpers using CSHTML.

[2016-11-15 18:44] #714 closed

[2016-11-15 18:45] Eilon commented on #773
Closing because we have no plans to support this. We're redoing all of this anyway.

[2016-11-15 18:45] #773 closed

[2016-11-15 18:46] Eilon commented on #854
Closing because we have no plans to support this.

[2016-11-15 18:46] #854 closed

[2016-11-15 18:46] Eilon commented on #1012
Closing because we have no plans to support this.

[2016-11-15 18:46] #1012 closed

[2016-11-15 18:49] Eilon commented on #1875
@NTaylorMullen @rynowak does Razevolution fix this?

[2016-11-15 18:49] Eilon commented on #1955
Closing because we have no plans to support this.

[2016-11-15 18:49] #1955 closed

[2016-11-15 18:49] Eilon commented on #2015
Closing because we have no plans to support this.

[2016-11-15 18:49] #2015 closed

[2016-11-15 18:50] Eilon commented on #1357
Closing because we have no plans to support this. The new "ASP.NET Core Modules" concept will likely have some solution to this instead.

[2016-11-15 18:50] #1357 closed

[2016-11-15 18:51] NTaylorMullen commented on #1875
@Eilon yes. Adding the extensible directives layer will ensure that all code mappings work as expected.

[2016-11-15 18:51] Eilon commented on #2775
Closing because we did this! https://github.com/aspnet/Mvc/issues/5161

[2016-11-15 18:51] #2775 closed

[2016-11-15 18:54] Eilon commented on #3977
Closing because we have no plans to support this.

[2016-11-15 18:54] #3977 closed

[2016-11-15 18:54] Eilon commented on #2073
Closing because we have no plans to support this.

[2016-11-15 18:54] #2073 closed

[2016-11-15 18:55] Eilon commented on #2608
Closing because we have no plans to support this.

[2016-11-15 18:55] #2608 closed

[2016-11-15 18:55] Eilon commented on #2772
Closing because we have no plans to support this.

[2016-11-15 18:55] #2772 closed

[2016-11-15 18:56] Eilon commented on #2830
Closing because we have no plans to support this.

[2016-11-15 18:56] #2830 closed

[2016-11-15 19:15] Eilon commented on #2830
BTW there are 3rd party components you can get, such as from http://www.telerik.com/aspnet-mvc/mvc6-features.

[2016-11-15 19:29] Eilon commented on #2692
cc @danroth27 because this is related to the new ASP.NET Core Modules ideas.

[2016-11-15 19:30] Eilon commented on #2845
cc @danroth27 because this is related to the new ASP.NET Core Modules ideas.

[2016-11-15 20:55] #3815 closed

[2016-11-15 20:56] Eilon commented on #3944
Using this code:

[code]

As shown in https://github.com/aspnet/Mvc/issues/3944#issuecomment-172215744, is the correct solution.

[2016-11-15 20:56] #3944 closed

[2016-11-15 20:57] Eilon commented on #4075
Closing because we have no plans to support this.

[2016-11-15 20:57] #4075 closed

[2016-11-15 20:57] Eilon commented on #3329
cc @danroth27 , this is your stuff!

[2016-11-15 20:58] Eilon commented on #3656
Closing because we have no plans to support this.

[2016-11-15 20:58] #3656 closed

[2016-11-15 21:01] Eilon commented on #4323
Closing because we have no plans to support this.

[2016-11-15 21:01] #4323 closed

[2016-11-15 21:01] Eilon commented on #4203
Closing because we have no plans to support this.

[2016-11-15 21:01] #4203 closed

[2016-11-15 21:02] Eilon commented on #3901
Closing because we have no plans to support this.

[2016-11-15 21:02] #3901 closed

[2016-11-15 21:03] Eilon commented on #5363
As funny as this is, I'm closing because we have no plans to make this change 😄 Thanks for the laughs!

[2016-11-15 21:03] #5363 closed

[2016-11-15 21:04] Eilon commented on #4646
Closing because we have no plans to support this.

[2016-11-15 21:04] #4646 closed

[2016-11-15 21:15] Eilon commented on #1875
Awesome. Do we need this issue? Or is this already tracked by something else?

[2016-11-15 21:27] rynowak commented on #1875
I don't think this issue will track anything especially valuable. We'll basically need to test+verify everything in this area. (yes, I am alive)

[2016-11-15 21:40] #1875 closed

[2016-11-16 12:22] p33nty commented on #5513
@frankabbruzzese you are right in case of MVC5, I tested only on MVC controllers, I didn't test on api controllers.
Back to problem.
My assumptions for application:
- validation in one place
- don't trust frontend data
- data from external source (user/frontend) cannot break the system, has to be validated

And consequences of assumptions:
I want to have validation as a part of business logic or j

[2016-11-16 14:09] frankabbruzzese commented on #5513
@p33nty ,
You might define Validation rules in Just One place and having validated both on the server side and on the client side: Mvc validation rules are defined just once, and apply on both parts.  Client side validation should have the purpose of helping the user while server valid. So you might use somehow unobtrusive client validation on your inputs to prevent ill formatted propertie also on

[2016-11-16 14:19] himadrinath opened #5533 "it's not an issue. needed help?"
**Generating SEO (and user) friendly URLs in your ASP.NET 5 MVC Application**

i saw a post of [Generating SEO (and user) friendly URLs in your ASP.NET MVC Application](http://www.jerriepelser.com/blog/generate-seo-friendly-urls-aspnet-mvc). but i am not able to generate that same result in my asp.net 5 project can any one help me with that.

@shanselman @anurse @srivatsn @migueldeicaza @halter73

[2016-11-16 14:54] joelharkes commented on #5397
I have runtime problems:

`@inherits DefaultRazorPage<Hs.Frontend.ViewModels.NavBarViewModel>` throws errors but `@inherits DefaultRazorPage<object>` not somehow.

message:

[code]

call stack:

[code]

[2016-11-16 15:08] joelharkes commented on #5397
If i do as suggested above:

in _viewImports
[code]
And in the view:
[code]

I Get an error property does not exist, exception:

[code]

[2016-11-16 15:25] tuespetre commented on #4075
Thank @Eilon!

[2016-11-16 15:28] tuespetre commented on #3977
@Eilon thanks! Would there be any possibility of still removing the `throw` from `GetEnumSelectList` when the `Enum` is a `[Flags]` `enum`?

[2016-11-16 15:30] guybartal commented on #5050
I got the same warning after adding EF to asp.net core.
this is my project.json:

[code]

[2016-11-16 15:54] pranavkm commented on #5050
@guybartal I tried your project locally and that don't see this issue. Are you able to consistently repro it after clearing your NuGet caches? See https://github.com/aspnet/Mvc/issues/5050#issuecomment-233974980 for details on how to go about it.

Bit of a tangent, I'd also recommend not mixing long term support packages ("Microsoft.AspNetCore.Authentication.OpenIdConnect": "1.0.0, `"Microsoft.Ent

[2016-11-16 16:28] Eilon commented on #3977
@tuespetre I believe that the current behavior is correct by throwing, because it doesn't make sense to produce a simple list of enum values for a Flags enum.

[2016-11-16 16:31] tuespetre commented on #3977
Ok, thanks 🐈

[2016-11-16 16:44] dougbu commented on #4075
Note we do now have a tag helper in the box which targets `<button>` elements: The `FormActionTagHelper` does this and generates `formaction` attributes based on `asp-controller`, `asp-action`, &hellip; attributes in the `.cshtml` file. But we don't support reading `asp-for` and generating `id`, `name` or `value` attributes based on it.

[2016-11-16 16:46] tuespetre commented on #4075
Nice, I didn't catch that that was added. Thanks for the update!

[2016-11-16 17:22] frankabbruzzese commented on #5532
"People are and should be writing less server-side-templated web applications over time"...for sure over time...but not sure how much time. At moment client frameworks are very unstanble ( I mean they change too often without caring too much of compatibility with past versions) and have a very short life for investing on them on software whose expected life is long. Most of people using Asp.net Mv

[2016-11-16 22:53] mabakay opened #5534 "[MultipartReaderStream] Misleading exception message"
When multipart/form-data request is malformed for instance (missing double dash at boundary start):

and request body is greater than default limit for _HeadersLengthLimit_ (which is 16KB now), user get exception message of "**Multipart body length limit 16384 exceeded.**"

`MultipartReaderStream.cs #166`

[2016-11-17 00:37] ghost opened #5535 "Allow the full class name of the controller to be used wherever ControllerName is required"
The nameof() operator fills a void that has been missing for quite a while, but it doesn't work when a method requires a controller name, as nameof() will return the full class name (ending with "Controller"). It would be nice if all these methods accepted both the short class name (w/o "Controller") and the full class name. While the short class name really isn't needed any longer with this opera

[2016-11-17 00:39] Kaelum commented on #2646
I had a similar thing come up for me, where I'd like to use the new nameof() operator.  So, I just created #5535.

[2016-11-17 01:10] mythz commented on #5397
@joelharkes The recommendation here is to specify `@inherits ViewPage<TModel>` in your `_ViewImports.cshtml`, e.g. here's the [_ViewImports.cshtml](https://github.com/NetCoreApps/RazorRockstars/blob/master/src/RazorRockstars.WebHost/wwwroot/_ViewImports.cshtml) used from https://github.com/NetCoreApps/RazorRockstars/

[code]

[2016-11-17 01:42] FSMaxB opened #5537 "Should throw an exception when attempting to use TempData without TempDataProvider"
In my application I was trying to use TempData to pass data to another controller action across redirects, but at first I couldn't figure out why the data got lost every time on redirect.

After asking on StackOverlow, I figured out, that I have to manually register a TempDataProvider in order to make it work. So after adding `services.AddSingleton<ITempDataProvider,SessionStateTempDataProvider>()

[2016-11-17 04:23] justserega opened #5538 "Why only async version TryUpdateModelAsync exist?"
I do not want use async/await pattern in some places, why there are no TryUpdateModel method?

[2016-11-17 05:19] #5533 closed

[2016-11-17 08:50] frankabbruzzese commented on #5535
This is an old story. A similar request was done in previous Mvc versions, but never accepted by the Asp.net team.
I think, that the best solution is not using string names at all, but using strobgly typed helpers that refer the controller type and methods. In Mvc5 there was an exstension for this...For asp.net core I found this project that might be usefull: [https://github.com/ivaylokenov/AspNet

[2016-11-17 08:53] joelharkes commented on #5397
@mythz im trying it now, why did you put this file in  the wwwroot instead of Views folder?

[2016-11-17 09:01] joelharkes commented on #5397
Thanks mythz, its totally working, but ya resharper is still broken

[2016-11-17 10:27] andriysavin opened #5539 "Could not load file or assembly 'System.Collections.Immutable' after upgrading ASP.NET to 1.1"
I've upgraded to ASP.NET Core 1.1 (packages, SDK, VS ASP.NET tools), and now I'm getting the following exception when processing a page:

Some stack trace:

The runtime used is full .Net Framework. Here is the dependencies list:

[code]

[2016-11-17 13:18] christiandelbianco commented on #4816
Ok, but how can I know - within the code of my ValidationAttribute implementing IClientModelValidator, the html name or ID assigned to the html rendered control ? In previous ersion, this was possible using:

public IEnumerable<ModelClientValidationRule> GetClientValidationRules(ModelMetadata metadata, ControllerContext context)
    {
        **ViewContext vwContext = context as ViewContext;

[2016-11-17 14:42] svallis opened #5541 "ViewComponents as TagHelpers with optional parameters"
The new TagHelper syntax for ViewComponents looks great, but it seems that it'll only match the attributes you specify _exactly_ to those on your `Invoke()` or `InvokeAsync()` method signature. Is that correct? It makes any kind of optional parameters impossible as far as I can see.

So with an example ViewComponent:

[code]

Either of the following work correctly:

[code]

However either of the f

[2016-11-17 16:08] iscifoni commented on #5535
@Kaelum  You can use the ControllerAttribute

[Controller]
public class Home
{
}

so MVC use Home class as a controller and nameof() return "Home"

https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/test/Microsoft.AspNetCore.Mvc.Core.Test/Controllers/ControllerFeatureProviderTest.cs#L403

[2016-11-17 16:23] RemyBoyer commented on #5539
I just cleaned the bin/ folders then this error disappeared.

[2016-11-17 18:06] andriysavin commented on #5539
@RemyBoyer  In my case that wasn't enough. I had to delete  'System.Collections.Immutable' package of version 1.1.37.0 from the NuGet cache to make all working. That means I'm not sure if this issue won't reappear if the package of that version gets in the cache again.

[2016-11-17 19:00] NTaylorMullen commented on #5541
In our initial prototypes we supported this but removed support due to holes in our implementation. @ajaybhargavb we can support this when we move ViewComponent TagHelper attribute checks to be at runtime.

[2016-11-17 19:45] ciel commented on #5403
I'm really excited to see this getting considered. I just spent hours getting the run around with SimpleInjector and finally gave up. I can't wait to see what happens.

[2016-11-17 19:49] dougbu commented on #4816
@christiandelbianco `TemplateInfo.HtmlFieldPrefix` is always an empty string in an action. So, just use `metadata.PropertyName` to match your previous code.

Of course, the calculated `fieldId` won't indicate where the validated property is relative to the top-level model. Validators simply don't have that information and didn't get it in earlier versions. This is why `[Remote]` uses `"*." + prope

[2016-11-17 20:31] Kaelum commented on #5535
@frankabbruzzese the C# team added the nameof() operator for MVC.  If it isn't going to work as needed, then the operator needs to be removed from the language.

@iscifoni that doesn't work in MVC 5, as there doesn't appear to be a ControllerAttribute that I can find.  If that is an ASP.NET Core only attribute, that doesn't help at this time.  We can't move to ASP.NET Core until all of the tooling

[2016-11-17 20:42] andrew-vandenbrink opened #5542 "Published get BadImageFormatException after upgrade to dot net core 1.1"
It works fine on my developer machine but not when I published to IIS

![image](https://cloud.githubusercontent.com/assets/12871379/20405886/644ba3fc-ad0b-11e6-8ac8-4b69ca15cb48.png)

Windows Server 2012 R2 x64

I can't find dot net core 1.1 Windows Server Hosting runtime, I install Windows x64 runtime
https://www.microsoft.com/net/download/core

[code]

Between these 3 middle ware is the cause of

[2016-11-17 20:59] andrew-vandenbrink commented on #5542
The problem on UseMvc, is it because I install wrong runtime?

[2016-11-17 21:23] Eilon commented on #5539
@pranavkm @ericstj any ideas on this?

[2016-11-17 21:25] Eilon commented on #5542
cc @muratg regarding the server hosting installer for Windows.

[2016-11-17 21:34] christiandelbianco commented on #4816
Hi Doug Bunting, thanks for your replay. I have to admit that my previous explanation was not clear.
What I need is a ViewModel custom attribute with client side check.

[code]

With **viewContext.ViewData.TemplateInfo.GetFullHtmlFieldId(this.DependentProperty);** I could have the generated "client side ID" for another html element that I will use to generate the JQUERY validation function client

[2016-11-17 21:38] pranavkm commented on #5539
Most likely a bad app.config. Deleting the bin directory should work. I'm not entirely sure why "Clean" doesn't help here though.'  Similar issue here - https://github.com/aspnet/Home/issues/1826

[2016-11-17 21:42] andriysavin commented on #5539
@pranavkm I don't have app.config.

[2016-11-17 21:54] muratg commented on #5542
@andrew-vandenbrink You can install Windows Server Hosting bundle from this link: https://aka.ms/dotnetcore_windowshosting_1_1_0.

(We'll get the downloads page updated with this link as well)

[2016-11-17 21:55] pranavkm commented on #5539
The CLI typically produces an app.config for projects targeting desktop (`net4x`). These don't seem to get removed as part of clean and are usually the cause of these sort of issues. Perhaps forcing the restore (by removing the package from the global install directory) caused it to rebuild the config which fixed the issue. I'm not entirely sure why the file in the .nuget directory would be incorr

[2016-11-17 21:57] kjbetz opened #5543 "Model binding Route and Body into same object"
I would like parameters to model bind to the same object from both the Route and Body.  Example:
[code]

And then send the following to `PUT /foos/5`
[code]

And the model to be populated as such:
[code]

I've researched and understand that once `[FromBody]` is put into the action method all other binding is not done as it is a separate thing. That being sent off to the de-serializer and bound the

[2016-11-17 22:00] andriysavin commented on #5539
@pranavkm If you're talking about an autogenerated app.config (which is produced in the bin folder and is not present in the project tree), then you're right, I have one. Here's what it has after the cleanups I did:

[code]

[2016-11-17 22:04] kjbetz commented on #5543
The main reason I'm asking is because I've set up model validation as an ActionFilter which is occuring right after model binding. So doing this:

[code]
This is giving me model validation errors because when my foo gets validated it still doesn't have the Id set yet.

[2016-11-17 22:04] andriysavin commented on #5539
As I managed to get it working and we have an explanation of a possible cause, I'm closing this issue, thanks to everyone 👍

[2016-11-17 22:04] #5539 closed

[2016-11-17 22:17] frankabbruzzese commented on #5535
@Kaelum ,
Here the problem is not nameof that  being a C# operator doesnt know anything about MVC and Controllers, but the fact that ActionMethods are referenced through strings instead of strongly typed constructs. For sure C# compiler that handles nameof can no way have a dependecy on asp.net dlls, but asp.net itself should have better ways to reference Action methods.

[2016-11-17 22:57] Kaelum commented on #5535
@frankabbruzzese
I think you are misunderstanding the issue.  **nameof(HomeController.About)** returns **About**, and all of the MVC methods that require an Action name, work.  **nameof(HomeController)** returns **HomeController**, which is what it should return.  However, **NONE** of the MVC methods that require the controller name will accept it, because they will only accept **Home**.

Looking

[2016-11-17 23:22] Eilon commented on #5542
@andrew-vandenbrink once you install the 1.1.0 bundle, can you let us know if you still have the issue? If so, can you upload your project to GitHub so we can take a look? And let us know which version of `dotnet` you're using? (Run `dotnet --version` from the command line.)

[2016-11-17 23:27] pranavkm commented on #5542
The stack trace is coming from the `ViewsFeatureProvider`: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Compilation/ViewsFeatureProvider.cs#L74. Do you have an assembly named `AppName.PrecompiledViews.dll` in your application graph?

That said, we should possibly ignore more kinds of exceptions here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.R

[2016-11-17 23:32] dougbu commented on #4816
@christiandelbianco I suggest you have a look at the [`CompareAttributeAdapter`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal/CompareAttributeAdapter.cs) and its associated [JavaScript](https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/jquery.validate.unobtrusive.js#L362-L369). Note the jQuery code determines the full element IDs.

[2016-11-17 23:35] pranavkm commented on #4983
https://github.com/dotnet/cli/issues/3804 isn't getting fixed so there's not anything more to do here.

[2016-11-17 23:35] #4983 closed

[2016-11-17 23:44] frankabbruzzese commented on #5535
@Kaelum ,
If the Controller postfix is the only problem, just define a string extension method that removes the Controller  postfix, say `Controller()`. This way you may write something like  nameof(MyController).Controller() to get the right name accepted by all methods(in the example "My").

[2016-11-18 00:31] Kaelum commented on #5535
@frankabbruzzese
I am already doing that, but I shouldn't have to.

[2016-11-18 00:44] Eilon commented on #5538
The underlying model binding system is async because it often has to do operations such as reading data from places that offer async APIs. The thing with async is that it's "viral" - once you use it somewhere deep down in a system, you need to be async all the way out.

Is there a reason you don't want to use async/await?

[2016-11-18 01:59] deepumi opened #5545 "Dot net core publishing failed with NetStandardLibrary"
**IDE** - Microsoft Visual Studio Community 2017 RC
**Version** - 15.0.25914.0 D15REL
**Microsoft .NET Framework** - Version 4.6.01586

1) Create new .Net Core project and select Asp.Net Web API project template.
2) Add new project NetStandard class library named (NetStandardDemoLib)
3) Add NetStandard class library as project reference to Asp.Net Web API project
4) Build successfully, browse the

[2016-11-18 06:06] andrew-vandenbrink commented on #5542
@Eilon @muratg I will get back as soon as I have access to my vm... (14 hours++ from now...)

@pranavkm I do have
![image](https://cloud.githubusercontent.com/assets/12871379/20420354/73c283bc-ad5d-11e6-990f-37f687fc9752.png)

[2016-11-18 06:33] ciel commented on #5403
For me, the biggest problem with both Ninject, Castle, and SimpleInjector kept boiling down to the Identity framework.

I know there are other concerns, but I was able to get most of them to do something right beyond the Identity framework. But getting that wired just didn't work. By the time I got the information to do cross wiring, it seemed pointless.

I can't pretend to understand everything g

[2016-11-18 07:29] ivaylokenov commented on #5535
@Kaelum This package may do the job for you: https://github.com/ivaylokenov/ASP.NET-MVC-Lambda-Expression-Helpers It is compatible with MVC 5.

[2016-11-18 07:31] andrew-vandenbrink opened #5546 "PrecompiledView does not honor comment"
![image](https://cloud.githubusercontent.com/assets/12871379/20422203/268e8044-ad69-11e6-97a4-7b0da37bf0b2.png)

![image](https://cloud.githubusercontent.com/assets/12871379/20422214/37986d6e-ad69-11e6-900b-daa2056a7365.png)

Double click the error message and its referring to commented line

![image](https://cloud.githubusercontent.com/assets/12871379/20422239/622c309c-ad69-11e6-92da-c70990bdbf2a

[2016-11-18 09:12] frankabbruzzese commented on #5535
@Kaelum,
 I agrre with you `nameof(MyController).Controller()` is a dirty trick, but the same usage of nameof is a "patch" to avoid writing "magic strings". The fact remains that methods accept controllers and action methods as simple strings that is "dangerous", create problems when re-engineering code, etc. The problem you mentioned is one of several issues that appear during software maintenanc

[2016-11-18 09:25] tverboon opened #5547 "Enums and custom display templates are broken in 1.1"
We have some custom display templates for enums and display them like this:

View.cshtml:
`@Html.DisplayFor(x => x.DayOfWeek)`

DayOfWeek.cshtml in ~/Shared/DisplayTemplates/:
[code]

This was perfectly fine in Mvc 1.0.1, but in 1.1 it results in:

`InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'System.String', but this ViewDataDictionary instance requires

[2016-11-18 09:29] tverboon commented on #5547
Guess guess => maybe this change has something to do with it: https://github.com/aspnet/Mvc/commit/830983a477e19cfb7527e1caba3624a8424397a6

[2016-11-18 11:28] pushist1y opened #5548 "Areas routing"
I'm trying to implement in single project MVC-architecture for user views and Webapi-backend which will be used by views. I want to use same names for controllers for mvc and webapi (i.e. UsersController). I'm trying to use Areas concept to distinguish them in the routing stage.

Currently i've defined routing as following:
[code]

The user-views should be accessible via default route and the api

[2016-11-18 11:46] Muchiachio commented on #5548
You area template is missing an action, without an action routing doesn't know which action it should run on the mapped api users controller. Here's an example of working route map.
[code]

[2016-11-18 12:02] pushist1y commented on #5548
@Muchiachio
it's Api controller, it should determine correct action by used http method. I.e. if i add `[Route("/api/[controller]")]` to the api controller it resolves correctly with url "api/users" to the `Index()` action

[2016-11-18 12:32] Muchiachio commented on #5548
Well yes, but how does it know that it's a web api controller?
`[Route("/api/[controller]")]` maps to best candidate which in your case is an index action, if you would add another action to that controller you will get ambiguous action exception.

And I'm not too sure if routing looks at http method being used.

[2016-11-18 12:42] pushist1y commented on #5548
@Muchiachio

Yes, it's ok for REST-controllers as they don't have ambiguous methods, methods are distinguished by http-method. In my main app it works. But currently i have api-controllers definitions like that:
`[Route("api/users")]
public class UsersApiController : Controller`

I'd like to keep original controller names (like `UsersController`) and keep global routing pattern (not adding custom

[2016-11-18 14:37] #5509 closed

[2016-11-18 17:25] pbering opened #5549 "Ability to invoke Controllers broken in 1.1 RTM"
Hi,

After upgrading to 1.1.0 RTM I get this:

[code]

I've create some minimal code to reproduce it here: https://github.com/pbering/AspNetCoreMvcControllerRunnerIssue (master branch is 1.0.1 RTM and the **11rtm** branch is updated to 1.1.0 RTM)

Basically the functionality I need is to invoke _multiple_ controller actions from a Razor view and render the results.

The exception happens here: htt

[2016-11-18 17:41] pranavkm commented on #5542
Are you using Razor view compilation? It's odd that it's 0-byte binary.

[2016-11-18 17:48] pranavkm commented on #5546
Are you able to navigate to the page without precompilation?

cc @NTaylorMullen

[2016-11-18 18:42] andrew-vandenbrink commented on #5546
Yes, no problem with navigate to the page

[2016-11-18 18:50] andrew-vandenbrink commented on #5542
I still have same issue after installing Windows Server Hosting.

I delete that 0-byte binary and it works!
I still have issue with razor precompile https://github.com/aspnet/Mvc/issues/5546

If it fails to compile, don't generate x.PrecompiledViews.dll
but the issue still BadImageFormatException? which means even if its successfully compiled, I still get issue.

[2016-11-18 19:12] Eilon commented on #5549
I'm not sure this is something that was ever meant to be supported...

@pranavkm @rynowak any ideas on this?

[2016-11-18 19:25] Eilon commented on #5543
@dougbu ?

[2016-11-18 19:27] Eilon commented on #5547
@ryanbrandenburg can you investigate?

[2016-11-18 19:39] Eilon commented on #5534
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.WebUtilities/MultipartReaderStream.cs#L166

[2016-11-18 19:41] Eilon commented on #5534
This issue was moved to aspnet/HttpAbstractions#736

[2016-11-18 19:41] #5534 closed

[2016-11-18 19:44] rynowak commented on #5549
I'm not sure what the specific exception being thrown here is. While this isn't something we'd recommend doing it would be good to understand why this is throwing all of the sudden

[2016-11-18 19:49] Eilon commented on #5545
@moozzyk can you take a look?

[2016-11-18 19:51] Eilon commented on #5549
Hmm yes that's odd, it must have been optimized out? I don't see any calls to Insert in there...

[2016-11-18 19:55] pbering commented on #5549
@Eilon I know it's properly a bit of an edge case, but the ability to invoke controller actions is something that I ported all the way from ASP.NET MVC 3 and I'm using it as (an important) part of another project. I didn't expect it become impossible to do in 1.1.0. Maybe someone has another way of doing the same?

[2016-11-18 20:03] pbering commented on #5549
hmm strange, if I configure MVC like this:

[code]
then it works!?!?

[2016-11-18 20:06] Kaelum commented on #5535
The thing that all of you are completely glossing over, is the fact the C# 6 was not out at the time that these "denials" were issued.  The nameof() operator in C# 6 was created for this specific purpose, which nullifies all of those previous denials, making them moot.  Having a controller with a name "...ControllerController" was never supported, and very much discouraged, so that should not be a

[2016-11-18 20:14] dougbu commented on #5543
@kjbetz model binding attributes with a type bound using `[FromBody]` are ignored. I haven't tried it but the following should do the trick as long as you adjust your validation to match.
[code]

Separately, MVC's build in validation runs right after model binding. What do did you mean here? Is this a separate type of validation? (If so, you might consider `foo` implementing `IValidatableObject` i

[2016-11-18 21:23] kjbetz commented on #5543
@dougbu Yes! Thank you!

I was getting things mixed up. I am using MVC's built in model validation (well actually FluentValidation -- but it's tapped into MVC's default.) I have an ActionFilter to automatically do the checks if model was valid.

But, this works. I know have some models set up like this

[code]

Then my controller just looks like this:
[code]

I send this json in the body to `PUT /

[2016-11-18 21:25] Eilon commented on #5549
@pbering in ASP.NET Core MVC we have View Components instead, which are of course fully supported.

[2016-11-18 22:56] Eilon commented on #3988
@dougbu assigning this bug to you because I assigned the associated PR to you as well.

[2016-11-19 00:01] dougbu commented on #5543
Glad everything works for you now.

[2016-11-19 00:01] #5543 closed

[2016-11-19 10:58] pbering commented on #5549
@Eilon sure and I will look into this also, but my project https://github.com/pbering/Lightcore is using the ability to invoke controllers and now it does not work anymore and I would very much find a way to get it to work. Lightcore is alternative runtime for a "legacy" CMS system where you design your pages by assigning controllers to multiple placeholders on a single page, so that is why I woul

[2016-11-19 11:14] JeanCollas opened #5550 "Cannot start 1.1 website on 2008R2"
The website runs well on W10 and WS2012, however it looks impossible to start it from WS2008R2. Another website (V1.0) is running well on the 2008R2 server, and the same website (before migration) also runs well. The 1.1 version returns "HTTP Error 502.5 - Process Failure"

The website uses EFCore and MS Identity and forces SSL (in startup.cs).

I have been trying to uninstall/reinstall all the fr

[2016-11-19 14:05] JeanCollas commented on #5550
Ok, I can make it work by publishing it manually via cmd

    dotnet.exe publish "Z:\Website\" --framework netcoreapp1.1 --output "z:\bin\debug\tempWebsite" --configuration Debug

However the full publishing process of Visual Studio creates a website that still has the same issue.
Are there operations that would need to be updated?

[2016-11-19 16:02] pbering commented on #5549
@Eilon could you please take a look at https://github.com/pbering/AspNetCoreMvcControllerRunnerIssue/blob/viewcomponents/src/AspNetCoreMvcControllerRunnerIssue/Test/HtmlHelperExtension.cs#L12

In this brach I have switch to View Components and the method linked above can invoke and "render" multiple components.

Is this a more appropriate way to do this?

[2016-11-19 19:37] alanprot commented on #5239
Is there any update on this issue? This is really important especially when you are dealing with disaster recovery situations where the majority of the request should not be processed (due to client disconnection). We have a microservice archuiteture and this can actually prevent a "snowball" effect.

[2016-11-20 01:38] webprofusion-chrisc opened #5551 "Posting large JSON to Controller fails silently"
When posting a large JSON file (several MB) to a Microsoft.AspNetCore.Mvc.Controller method, where the method is marked with [HttpPost] the Http Result is 404. Posting a smaller JSON file to the same method works as expected. A descriptive diagnostic message would have saved me a lot of time, but I expect at least this should be returning a different Http Status Code.

Windows 10
VS 2017 RC
.net c

[2016-11-20 01:48] DamianEdwards commented on #5551
Can you provide a minimal repro example please? e.g. the code of your `Progam.cs`, `Startup.cs` & controller class, along with the JSON file your posting. Thanks.

[2016-11-20 08:16] webprofusion-chrisc commented on #5551
Thanks Damian. It's all pretty generic I think:

Program.cs:
[code]

Startup.cs:
[code]

Method from controller:
[code]

Unfortunately I can't provide the JSON in this case, but this one happens to be about 5MB (have now obviously reverted to using smaller chunks of JSON).

[2016-11-20 18:49] luisgoncalves opened #5552 "IgnoreAntiforgeryTokenAttribute possibly broken on 1.1.0"
I have the following test application with a global filter for anti-forgery token validation and then a validation bypass on a specific action method:

**Startup**

[code]

**Controller**

[code]

**Index view**

[code]

Using the 1.0.1 MVC package I can access `/Test`, submit and get the successful response. However, if I use the 1.1.0 package I get a `400 Bad Request` when submitting the form

A

[2016-11-20 22:32] MissaouiChedy opened #5553 "Add the RegisterAdapter method to the IValidationAttributeProvider"
# Context
The `IValidationAttributeAdapterProvider` interface represents a contract for a factory class that creates `IAttributeAdapter` instances corresponding to the provided validation attribute. This instantiation is achieved by the `IValidationAttributeAdapterProvider.GetAttributeAdapter(ValidationAttribute attribute, IStringLocalizer stringLocalizer)` method.

# Pain point
The default valida

[2016-11-21 02:17] dougbu commented on #5553
Replacing the default `IValidationAttributeAdapterProvider` is one way to add adapters for custom validation attributes. That approach is also the only one available if you want to replace the default adapters. But what is the use case for such a replacement?

For custom `ValidationAttribute`s, adapters aren't mandatory. You could also implement `IClientModelValidator` in the custom attribute itse

[2016-11-21 02:43] #5531 closed

[2016-11-21 02:49] dougbu commented on #5531
@Kagamine did you resolve your issue? If so, congratulations.

If for example you made a mistake in your application, the details might help. Please let us know if something was hard to use, undocumented or confusing.

[2016-11-21 03:38] dougbu commented on #5211
@danroth27 , @Eilon should I unassign myself since this one is in the backlog?

[2016-11-21 03:40] Tratcher commented on #5413
Hit again: https://github.com/aspnet/Home/issues/1834

[2016-11-21 09:03] Kagamine commented on #5531
Sorry, It is not a bug, this issue has been opened by mistake.

[2016-11-21 12:04] MissaouiChedy commented on #5553
The intent behind creating validation adapters for custom validation attributes is to avoid implementing the `IClientModelValidator` directly in the custom validation attribute when it is required to keep custom validation attributes in the domain model layer.

Usually the domain model layer is isolated in a separate project that has very minimal external dependencies and especially no Web UI Laye

[2016-11-21 17:18] pranavkm commented on #5542
@andrew-vandenbrink I filed a bug here - https://github.com/aspnet/MvcPrecompilation/issues/35 - to track the issue with 0-byte file.

The tool returns a non-zero exit code, however, https://github.com/dotnet/cli/issues/2836 prevents it from doing anything pertinent with it. Perhaps you could look at wrapping the tool execution and deleting the precompiled file on a non-zero exit code. I admit it'

[2016-11-21 17:20] pranavkm commented on #5546
I can't reproduce this error. Could you provide a minimal reproduction for this?

[2016-11-21 17:32] Eilon opened #5554 "MvcCoreServiceCollectionExtensions retrieves first registered service instead of last"
This line:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L90

Per @danroth27 :

[2016-11-21 17:43] dougbu commented on #5553
:ok: your layering point makes sense. Our reason for the adapters was somewhat similar: We don't own the `ValidationAttribute`s in `System.ComponentModel.DataAnnotations`.

Going back to your original request:

The namespace choice was deliberate. We focused on solving a specific implementation issue and not extensibility. But moving it into a public namespace has come up before e.g. in #2503.

Th

[2016-11-21 18:28] moozzyk commented on #5545
I was able to repro this. Seems like a VS 2017 RC issue where publish will not handle project references correctly. When I try to publish from VS 2017 RC I get:
![image](https://cloud.githubusercontent.com/assets/1438884/20495206/f23a742e-afd4-11e6-8da9-3b98c2a7f1c3.png)
even though the application by itself builds and runs just fine.
I tried publishing the app from command line with: `dotnet publ

[2016-11-21 18:37] deepumi commented on #5545
@Eilon @moozzyk @vijayrkn

Finally, I made it work.

1) Remove the reference
2) Add reference again
3) Published successfully

[2016-11-21 19:08] halter73 commented on #5239
We are currently looking at changing the RequestAborted token for the next release. There's an open PR for this change at https://github.com/aspnet/KestrelHttpServer/pull/1218.

The RequestAborted token will still fire today given failed writes or a RST from the client. In some scenarios, it's possible to send keep alive messages to the client and check the RequestAborted token to more reliably en

[2016-11-21 20:28] frankabbruzzese commented on #5553
@MissaouiChedy ,
Creating an `IValidationMetadataProvider ` implementation is less painfull that i might appear. It is enough your custom implementation creates an instance of the `IValidationMetadataProvider ` default implementation. This way your implementation just checks your custom attributes and then calls back the original implementation.

In your custom implementation you might add a Regis

[2016-11-21 21:12] rynowak commented on #5552
There's no intended change here. We need to take a look at this /cc @Eilon

[2016-11-21 21:20] rynowak commented on #5551
Have you looked at the logging output (it should show up in the output window in VS) or will print to the console if you do a `dotnet run`. There should be some information there from routing

[2016-11-21 22:17] MissaouiChedy commented on #5553
Thank you @dougbu and @frankabbruzzese for pointing out the `IValidationMetadataProvider` lead, I tried it, it works and I believe as you guys mentioned it is better supported than the `IAttributeAdapter` solution.

But like the `IAttributeAdapter` solution it requires creating and registering the implementation of an interface to get the html validation attributes associated with the custom `Vali

[2016-11-21 22:29] dougbu commented on #5553
@MissaouiChedy what you propose is workable but I'm not sure why it's necessary. Please clarify your objection to implementing `IValidationMetadataProvider`.

[2016-11-21 22:42] nrandell opened #5555 "Cannot write to Response.Body in 1.1"
I've just updated an app to version 1.1 and some code that was working started throwing exception saying

    System.InvalidOperationException: OnStarting cannot be set, response has already started.
        at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.Frame.OnStarting(Func`2 callback, Object state)
        at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.Next(State& next, Scop

[2016-11-21 22:47] dougbu commented on #5554
Fix ready in #5540 but I'll get a PR out that builds on that and adds a test.

[2016-11-21 22:58] rynowak commented on #5555
@halter73 @Tratcher @kichalla - it's possible that this may be the issue:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/SaveTempDataFilter.cs#L42

[2016-11-21 23:33] DamianEdwards commented on #5555
Thanks for reporting this. It appears we're missing a check there. We'll look in to getting this fixed in the next patch release.

[2016-11-21 23:46] Eilon commented on #5537
@kichalla I'm surprised we don't already have such an exception... was this always the case? Or did something regress at some point?

[2016-11-22 00:25] webprofusion-chrisc commented on #5551
@rynowak thanks I'll try and capture an output later. The only notable thing was that as CORS is enabled it tries OPTIONS first and complains the the authorization filter failed (I don't have a special authorization filter but I am posting with and Authorization header and CORS is enabled) but a status code of 200 was returned anyway. Then the POST gets performed by the browser and it simply 404's

[2016-11-22 06:23] andrew-vandenbrink commented on #5542
Thanks I will close this issue

[2016-11-22 06:23] #5542 closed

[2016-11-22 07:06] andrew-vandenbrink commented on #5546
-Create new project
-Change project.json to enable precompile view
-Go to Views/Home/Index.cshtml
-Add this line
[code]
-Publish (set always delete before publish)
![image](https://cloud.githubusercontent.com/assets/12871379/20514058/3359c3d2-b08a-11e6-95a6-5d995d442beb.png)

-Error as expected
-Comment the line
[code]
-Publish
-Error
![image](https://cloud.githubusercontent.com/assets/12871379/20

[2016-11-22 07:27] andrew-vandenbrink commented on #5546
Deleting "PublishOutput" folder solve this issue

![image](https://cloud.githubusercontent.com/assets/12871379/20514605/30a55306-b08d-11e6-82c3-ee3fed997ddf.png)

[2016-11-22 10:07] frankabbruzzese commented on #5553
@dougbu
The same `IValidationAttributeAdapterProvider` would be easier to extend if the DI engine would have
something like:
`
services.ExtendSingleton<T>(Func<T, T> x)
`
That replace the current implementation of T with the instance returned by the factory function, that, in turn, receives  the current implementation as its unique argument.

This way, dlls, and/or Nuget packages might extend a se

[2016-11-22 10:19] frankabbruzzese commented on #5553
@dougbu
The same `IValidationAttributeAdapterProvider `would be easier to extend if the DI engine would have
something like:

`services.ExtendSingleton<T>(Func<T, T> x)`

That replaces the current implementation of T with the instance returned by the factory function, that, in turn, receives the current implementation (ie the implementation before the modification) as its unique argument.

This wa

[2016-11-22 13:21] MissaouiChedy commented on #5553
@dougbu what I suggest is not necessary, in my opinion it will just make associating IClientModelValidator implementations with custom validation attributes more convenient for developers.

Keep in mind that currently the developer that wishes to keep his custom validation attribute independent of the IClientModelValidator interface will have to:
1 - Create an `IClientModelValidator` for the custo

[2016-11-22 16:44] dougbu commented on #5553
My opinion (just an opinion) is a custom `IValidationMetadataProvider` for this purpose would be quite straightforward. Step 3 is also mostly boilerplate e.g.
[code]

[2016-11-22 17:56] kichalla commented on #5537
@FSMaxB Could you share how your Startup.cs looks like? Also which version of packages are you using (1.0.0 or 1.1.0)?
@Eilon the SessionStateTempDataProvider is a default service that we add, but this depends on Session so session services needs to be registered explicitly in the app though (not sure if this is being confused with the tempdata provider)
https://github.com/aspnet/Mvc/blob/rel/1.1.

[2016-11-22 18:42] kichalla commented on #5555
@nrandell Could you share more details about your app? Example the action code that you had earlier etc. The mentioned code in SaveTempDataFilter happens when executing an action result and if you were writing to the response stream directly, you might not have been returning an action result, so wanted to check. Also I did a quick verification and couldn't repro it.

[2016-11-22 18:44] Eilon commented on #5537
@kichalla yes, but the session services aren't registered by default, so I thought that we'd throw an exception at some point if you try to use TempData and the required services aren't there?

[2016-11-22 19:01] nrandell commented on #5555
This was my original code that worked before the upgrade. It basically downloads a blob from azure storage and streams that back to the client.

        [HttpGet]
        [Route("configuration/{id}")]
        [ResponseCache(Duration = 10)]
        public async Task ReadConfiguration(Guid id)
        {
            byte[] data;
            if (!_cache.TryGetValue(id, out data))
            {

[2016-11-22 19:08] Eilon commented on #5552
@ryanbrandenburg can you investigate, and also see if perhaps it's patch-worthy? (Is there a workaround?)

[2016-11-22 19:12] FSMaxB commented on #5537
Startup.cs (some information removed):

[code]

I had the problem initally with 1.0.0, but it didn't change after upgrading to 1.1.0. Session was configured, and before attempting to use TempData for the first time, that was actually what I used instead (the session directly, withouth TempData).

[2016-11-22 20:31] kichalla commented on #5555
Thanks @nrandell I was able to repro it. As @DamianEdwards mentioned, there should be a check here for response already started or not

[2016-11-22 20:52] MissaouiChedy commented on #5553
@dougbu

Do you mean straightforward to implement ?

We can add a `ClientSideValidationMetadataProvider` property under `MvcOptions` that would be initialized by default and then it would be possible to call `RegisterClientSideValidator` directly on it, for example:

[code]

[2016-11-22 20:52] pranavkm opened #5560 "MediaType bounds check can overflow"
Similar to https://github.com/aspnet/Common/issues/172, https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Formatters/MediaType.cs#L57 can overflow and make the check incorrect.

[2016-11-22 20:52] pranavkm commented on #5560
cc @JunTaoLuo

[2016-11-22 21:29] kichalla commented on #5537
Ok, so you were using Session directly until you figured out to use TempData instead. The above Startup.cs looks fine and using TempData with the above startup should have worked fine. You were mentioning about explicitly adding the TempDataProvider, I do not see it in the above Startup.cs?

[2016-11-22 23:49] eswise commented on #5537
I am having an interesting issue with TempData in my app.  Granted I started with an Empty template since that is how I learn.

project.json contains:
    "Microsoft.AspNetCore.Session": "1.1.0",
    "Microsoft.Extensions.Caching.Memory": "1.1.0"

ConfigureServices() contains:
     services.AddMemoryCache();
     services.AddSession();
     services.AddMvc();

I like to use TempData to send messag

[2016-11-23 00:12] kichalla commented on #5537
@eswise Have you enabled logging and found any exceptions that are being logged?

[2016-11-23 00:18] eswise commented on #5537
loggerFactory.AddConsole();

if (env.IsDevelopment())
{
    app.UseDeveloperExceptionPage();
}

VisualStudio doesn't break for any exception on this.  I see nothing in debug output.

![image](https://cloud.githubusercontent.com/assets/1402987/20547172/5e0f2d48-b0e8-11e6-9280-806138c256fe.png)

[2016-11-23 00:24] eswise commented on #5537
[Reproduce_TempData_Redirect.zip](https://github.com/aspnet/Mvc/files/607882/Reproduce_TempData_Redirect.zip)

@kichalla Here is the step by step screenshots of me using RedirectToAction() and having it fail silently and then switching it to return View() and having the message render properly.

[2016-11-23 00:25] kichalla commented on #5537
Thanks for the repro. I will take a look. You seem to be debugging when using IIS Express. In this case you need to add Debug logger to see the output in the Debug output window.

[2016-11-23 00:33] eswise commented on #5537
Ah, good tip on the debugger.  I just started with core 2 days ago.  Added the debug logger.

System.InvalidOperationException: The 'Microsoft.AspNetCore.Mvc.ViewFeatures.Internal.TempDataSerializer' cannot serialize an object of type 'RemsLogic.UI.Models.DisplayMessage'.

That doesn't happen on return View(), only on return RedirectToAction()

[2016-11-23 00:36] eswise commented on #5537
Looks like I ran head-first into this: https://github.com/aspnet/Mvc/issues/2276

This is different than the previous versions of MVC.  Might need a warning label on that. :)

[2016-11-23 00:39] eswise commented on #5537
Yep, confirmed.  Changing the TempData assignment to a simple type (string) and it worked as expected.  But why does it accept the complex type when you do not redirect?  I would expect it to fail either way...  I guess because if you don't redirect it doesn't try to serialize it...

[2016-11-23 01:04] kichalla commented on #5537
Yes, the above is a reason you are not seeing this exception. In general once the keys of TempData are read they are marked for deletion and are not serialized.
RedirectToAction (and other RedirectTo methods) results are special in the sense that even if you read/get the value from TempData more than once the keys are not marked for deletion but are allowed to stay alive for the target action of t

[2016-11-23 01:07] FSMaxB commented on #5537
That was the Startup.cs where TempData didn't work. Before I manually added `SessionStateTempDataProvider`.

[2016-11-23 01:23] kichalla commented on #5537
I am unable to repro what you are seeing. Could you share a simple repro?

[2016-11-23 02:19] FSMaxB commented on #5537
@kichalla: Nevermind, I cannot reproduce it myself anymore. Not even when checking out the commit where the issue initially occured. There must have been something quite strange going on either with the framework or in my head.

Also, if I don't register a Session, it fails because it cannot find the Session, as soon as I access TempData.

I will close this because it looks like the issue I descri

[2016-11-23 02:19] #5537 closed

[2016-11-23 06:35] justserega commented on #5538
Because it is "viral". If all my code not async, it is little strange do async controller only for UpdateModel.  Is there a real need to make such light method async? In addition there is some overhead on thread context switching, is async in this place really needed?

[2016-11-23 15:22] simon25608 opened #5561 "Different working in ViewComponents in v.1.1.0"
Hello!

After upgrading from version 1.0.1 to 1.1.0 I have detected that the behavior of the viewcomponets has changed.
In the previous version it had the following code:
`<div id="componente-documentos" class="formulario-seccion">
                @await Component.InvokeAsync("Archivos", new { vista = Archivos.Listado, archivos = Model.Archivos, titulo = "Documentos adjuntos" })
            </div>

[2016-11-23 17:18] Eilon commented on #5499
Let's do the simple change for avoiding enumerator allocations. Let's **not** do the rest of the change, as it is unlikely to simple, and the benefits are small.

[2016-11-23 17:23] Eilon commented on #3969
Closing because we don't think there's much action to take here. Posting forms with more than ~100 elements is extremely uncommon. Formatters are far better suited for handling large and complex data structures and should be preferred in this type of scenario.

[2016-11-23 17:23] #3969 closed

[2016-11-23 17:30] Eilon commented on #3516
@dougbu let's re-analyze this scenario by comparing:

1. The current 1K chars buffer
2. Modifying it to a 4K chars write buffer
3. Same test app, but running in MVC5

Current test app is here: https://github.com/aspnet/Performance/tree/dev/testapp/LargeStaticView

Buffer is here: https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.Core/Internal/

[2016-11-23 17:35] jbagga commented on #5464
@rynowak Any thoughts? Should the IApiDescriptionProvider be in the ApiExplorer package or Formatters.Json? The patch needs JsonPatchDocument<T> to be applied, so it should be mutated to Operation[] after that?

[2016-11-23 17:55] PinpointTownes commented on #5552
FWIW, this bug also impacts Orchard 2's OpenID module, which worked fine with the 1.0.0 bits.

/cc @jersiovic

[2016-11-23 18:05] rynowak commented on #5552
The bug here is that this PR https://github.com/aspnet/Mvc/commit/01b237dda9f7320313cbbc881d881d0a26ec432f should have also update the order value of `[IgnoreAntiforgery]`

If you need a workaround for this, I'd recommend setting `[IgnoreAntiforgeryToken(Order = 1000)]` - OR using application model to set the order (sample to follow).

[2016-11-23 18:42] rynowak commented on #5552
Here's a convention that will fix it.

[code]
[code]

[2016-11-23 19:15] smarts opened #5562 "ASP.NET Core & System.Net.Http.Formatting"
Is `System.Net.Http.Formatting` coming to ASP.NET Core? Specifically, `ObjectContent`, `ObjectContent<T>`, and the `ReadAsAsync<T>()` extension methods for `HttpClient`? I started looking into porting it but the change from `MediaTypeFormatter` to `IInputFormatter` and `IOutputFormatter` - and more generally, the divergence of ASP.NET MVC's and HttpClient's HTTP models - makes things difficult for

[2016-11-23 20:10] frankabbruzzese commented on #5561
Can you please post the ViewComponent View, and the whole error message (you posted just the initial part). It appears to be a type mismatch with the VieDataDictionary generic type.

[2016-11-23 21:08] DamianEdwards opened #5563 "Set title attribute on label and/or input elements based on model metadata "Description" property"
It would be nice to set the `title` attribute of `<label>` and/or `<input>` elements based on the associated model's `Description` property, via the `asp-for` attribute.

We should think about what the defaults should be and how one might want to configure the feature, e.g. enable/disable for different elements, via attributes, Tag Helper initializer, etc.

[code]

[2016-11-23 22:47] rynowak commented on #5464
We should consider moving the `IApiDescription` and the stuff needed to implement one to abstractions. We should however keep the infrastructure needed to **read** descriptions in core.

[2016-11-24 00:56] dougbu commented on #5506
I have not been able to reproduce this issue.

Please provide a repro, preferably as a relatively small project hosted in a public GitHub repo. A set of detailed steps to reproduce the issue is a reasonable fallback.

[2016-11-24 01:26] strohhut opened #5565 "Specifying the port for action or route url"
On my localhost the http port is 1507 and the https port is 44301. When I create a link with `UrlHelperExtensions` from http to https or vice versa via specy specifyingthe protocol I get an absolute url with the correct protocol but it still fails because the url doesn't include the correct port.

How can I specify something like the following?:

[code]

[2016-11-24 01:40] rynowak commented on #5565
We have an overload like that, but it would require you to specify the hostname as well. https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/UrlHelperExtensions.cs#L144

[code]

[2016-11-24 04:21] rahulrulez opened #5566 "Package Microsoft.AspNetCore.Mvc 1.1.0 is not compatible with netcoreapp1.1"
I am trying to update my project to dotnet core 1.1. I installed the given dotnet core SDK (1.0.0-preview2-1-003177 to be exact) and created a new Core WebAPI project and I updated the package as per given in upgrade document.

`error: Package Microsoft.AspNetCore.Mvc 1.1.0 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.AspNetCore.Mvc 1.1.0 supports:
error:   -

[2016-11-24 05:45] dougbu commented on #5562
@smarts the `System.Net.Http.Formatting.dll` assembly and its `Microsoft.AspNet.WebApi.Client` package are the focus of aspnet/AspNetWebStack#4. We'll ship a new version which explicitly supports .NET Standard 1.1 (and higher).

For now, import the existing package as we do in the `Microsoft.AspNetCore.Mvc.WebApiCompatShim` project:
[code]

[2016-11-24 06:08] rahulrulez commented on #5566
Fixed it. The step I was missing is to update sdk version in global.json -

Detailed answer here - http://stackoverflow.com/a/40779107/1635060

[2016-11-24 06:08] #5566 closed

[2016-11-24 07:20] simon25608 commented on #5561
The property passed in the call

`public IList<ArchivoViewModel> Archivos { get { return _archivos; } set { _archivos = value; } }`

Call:
`     <div id="componente-documentos" class="formulario-seccion">
                @await Component.InvokeAsync("Archivos", new { vista = Archivos.Listado, archivos = Model.Archivos, titulo = "Documentos adjuntos" })
            </div>`
View:

![listado](https:/

[2016-11-24 08:07] frankabbruzzese commented on #5561
It appears that, somehow, the View selected is not the right one for tha actual ViewModel:
you pass the IList model to the View designed for the single model...Exception messages say this.

Verify in the debugger wih if is followed before the exception, I can't belive this exception is thrown
in the branch with a null ViewModel (return View((string)vista)).

[2016-11-24 08:31] simon25608 commented on #5561
If the exception says that the last model is of type IList <ArchivoViewModel> and the second view expects a ArchivoViewModel.
As I said, the behavior in different to previous versions, so that the exception does not occur it is necessary to do `return View((string)vista, new ArchivoViewModel());`

Seeing other slightly more complex cases that I have, what I see is that previous versions not passin

[2016-11-24 09:13] frankabbruzzese commented on #5561
You say, basically, that when the ViewModel is null, the ViewComponent try to infer its Type somehow, an this causes the problem. If you pass the actual model it has the actual run-time type an everything works properly.

[2016-11-24 09:23] iscifoni commented on #5561
@simon25608  in the second view try to use

`@Html.Partial("Genericas/Formularios/boton", new ViewDataDictionary<COFC.ViewModels.ArchivoViewModel>(ViewData), .......
`

instead of

`@Html.Partial("Genericas/Formularios/boton", new ViewDataDictionary(ViewData)
`

[2016-11-24 09:47] simon25608 commented on #5561
@frankabbruzzese

 Correct. If you want the files to play it, let me know.

[2016-11-24 09:49] simon25608 commented on #5561
@iscifoni

The problem is with the view component, not with partial views, that is working correctly.

[2016-11-24 10:01] iscifoni commented on #5561
@simon25608 the second view is the view returred by view component ?

`else if (ViewComponentContext.Arguments.TryGetValue("vista", out vista)) { return View((string)vista); }`

[2016-11-24 10:07] simon25608 commented on #5561
@iscifoni

Yes

[2016-11-24 10:28] frankabbruzzese commented on #5561
@simon25608
What @iscifoni says is correct, When you call `new ViewDataDictionary(ViewData)` a ViewDataDictionary is created with the same type of the original ViewData. Often, this is the cause of View type mismatch bugs.

[2016-11-24 11:04] simon25608 commented on #5561
@frankabbruzzese

Yes, I know and I think so because I am interested in being created with the same type of the original.

But that does not have any relation with the described error, is more if I eliminate all the code of the second sight simply leaving
`@model COFC.ViewModels.ArchivoViewModel
@using COFC.ViewComponents`

the error is the same, because the view no longer gets executed due to rec

[2016-11-24 12:25] #5553 closed

[2016-11-24 12:30] iscifoni commented on #5561
@simon25608 I can't reproduce the error , please try to use this in your view component

`return View<COFC.ViewModels.ArchivoViewModel>((string)vista, null)`

instead of

`return View((string)vista)`

or set

`ViewData.Model = null;
return View((string)vista);`

before returning view,

[2016-11-24 12:46] simon25608 commented on #5561
@iscifoni

This `return View<COFC.ViewModels.ArchivoViewModel>((string)vista, null)`  cause a follow exception:
 The model item passed into the ViewDataDictionary is of type 'System.Collections.Generic.List`1[COFC.ViewModels.ArchivoViewModel]', but this ViewDataDictionary instance requires a model item of type 'COFC.ViewModels.ArchivoViewModel'.

and `ViewData.Model = null; return View((string)vis

[2016-11-24 13:18] iscifoni commented on #5561
@Eilon

(https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewComponent.cs#L271)

I am not sure  because I can't reproduce this error but I think that on the second call to the viewcomponent the ViewData.Model is already set with the value of the previous call.

The second call doesn't have a model so ViewData.Model is not updated . When the second view is rendered,

[2016-11-24 13:31] simon25608 commented on #5561
@iscifoni

I think that's exactly what happens.

[2016-11-24 13:37] frankabbruzzese commented on #5561
@iscifoni ,
That code is "pretty standard" and you find it also in controllers. If the model != null extract type information from model otherwise use ViewComponent or controller ViewData. In fact developer may provide model information by attaching a ModelExpression to the ViewDataDictionary.

However each ViewComponent call should have a new fresh copy of its ViewDataDictionary. If that is the p

[2016-11-24 13:39] tkrotoff commented on #5507
In the end, I'm using filters to make sure REST API (action) parameters are passed using `[Required]`, see:
- [ModelState.IsValid reports valid model while it is null](https://github.com/aspnet/Mvc/issues/4750) <= WTF!
- [How to validate action parameters with DataAnnotation attributes?](https://blog.markvincze.com/how-to-validate-action-parameters-with-dataannotation-attributes/)
- https://github

[2016-11-24 13:42] frankabbruzzese commented on #5561
@simon25608 ,
Can you please prepare a minimal project without nested calls, but with just 2 Views and 2 Viemodels that may be used bya the ViewComponent + some logi of which View to select (say with a link)...but really the simplest stuff that shows the problem, so we may be sure the broblem is not elsewhere.

Just to verify if the information on the type is remembered from previous calls when mo

[2016-11-24 19:33] #5562 closed

[2016-11-24 19:35] smarts commented on #5562
I get a 404 when I use that issue link, but I'll take your word for it =)

[2016-11-24 22:08] dougbu commented on #5562
Right, it's a private repo and I shouldn't have linked to it (yet). We are however working on exactly this issue.

[2016-11-24 23:34] tuespetre commented on #4857
@Eilon any chance of adding support for a `UrlHelper` extension or something that can be used in place of `Url.Content`? I could start a new issue for it...

[2016-11-25 08:34] frankabbruzzese commented on #5561
@simon25608 ,
If you send me your solution + detailed instructions to reproduce, I'll try to figure out what the problem is during the week end.
Frankly, speaking, I am not convinced there is a bug. Also a bug in Component caching cant cause that behavior, since component ViewData is not used as it is in the View but it is copied. This means also if ViewComponent ViewData is not properly cleared,

[2016-11-25 08:35] simon25608 commented on #5561
@frankabbruzzese

[https://github.com/simon25608/TestViewComponent.git](url)

Simply changing the version from 1.1.0 to 1.0.1 already works the code.

[2016-11-25 10:16] iscifoni commented on #5561
@frankabbruzzese @simon25608

The listado.cshtml view is rendered by Archivos (this is a ComponentView) but it contains a recoursive call to Archivos (the same ComponentView) ...
This could be the reason why on the second call ViewData.Model contains previous value.

[2016-11-25 10:20] simon25608 commented on #5561
@iscifoni

Yes, it's what you said yesterday

[2016-11-25 11:34] frankabbruzzese commented on #5561
@iscifoni
O yes understood! When model is not null it is attached to the ViewComponent ViewData, not directly to the View ViewData, so ViewComponent ViewData is actually modified!

Since, ViewComponents are cached (at least during the same View processing or during the same request), and before re-using them jsust a ViewData.Clear() or similar "light operation" is performed...that doesnt clears th

[2016-11-25 22:32] dougbu commented on #3516
@Eilon this issue has covered both RPS and allocations. Is your request for reanalysis of one, the other, or both?

@rynowak were the RPS comparisons of ASP.NET Core MVC against MVC 5.x done using full .NET everywhere? And are the dotMemory tables all for .NET Core runs?

[2016-11-25 23:30] dougbu commented on #3516
Took a quick look at `HttpRequestStreamReader` and see it is rather inefficient when the `ArrayPool<byte>` rents a larger buffer than requested. That is, the class does not recalculate `_byteBufferSize` based on the returned array's `Length`. Worth testing a change here too?

[2016-11-25 23:50] dougbu commented on #3516
Should instead have mentioned `HttpResponseStreamWriter` and its `_charBufferSize`. Regardless, the reader and writer both may use half (or less) of their buffers.

[2016-11-26 02:18] deepumi commented on #5545
@Eilon @moozzyk @vijayrkn

Not sure this is also a known issue,

1) Install a nuget package (ex: System.Data.Common 4.3.0 or System.Data.SqlClient 4.3.0)
2) Package installed successfully.
3) No intellisense or code completion. (I've tried adding namespace does not work and got build error [namespace does not exist]).
4) Close solution and re-open the project works fine.

NOTE : Project type is **

[2016-11-26 02:28] Eilon commented on #3516
@rynowak would have to answer regarding allocations vs. RPS.

As far as where to run ASP.NET Core, run it on .NET Core only. Not super interested in .NET Framework numbers for that.

[2016-11-26 04:46] Eilon commented on #5561
@ajaybhargavb can you help investigate?

[2016-11-26 04:47] Eilon commented on #4857
@tuespetre please open a new issue with the specifics and we'll take a look, thanks!

[2016-11-26 06:26] Eilon commented on #5545
@vijayrkn any idea where this issue should go? Can you verify if this is an issue in VS2017 RC?

[2016-11-26 07:21] davidfowl commented on #5545
@deepumi are you sure it's xproj? It's not vs2017 is it? Because there are known issues with vs2017 rc but that does not have support xproj

[2016-11-26 13:41] deepumi commented on #5545
@davidfowl my bad :( it is csproj and VS 2017.

I have updated my above comment project type.

[2016-11-26 14:48] hishamco commented on #5208
Naming is hard 😄 , IMHO "Razor Pages" is a cool product name, especially if we isolate Razor from MVC, so Razor will no longer tightly coupled MVC. Hope the dream comes true

| Item        | Name           |
| ------------- |:-------------:|
| Feature name       | ASP.NET Core Razor Pages |
| Page Base Class       | `Microsoft.AspNetCore.Razor.Page` |
| Page directive  | `@page` |
| Options builde

[2016-11-27 01:10] Eilon commented on #5538
@rynowak any thoughts on this? Have we seen any noticeable perf differences between async actions or not? (I'm expecting that any such differences would get drowned out entirely in any meaningful scenario.)

[2016-11-27 04:53] Rick-Anderson opened #5568 "/// comment incorrect syntax - list items don't show up"
1. https://review.docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.mvc.rendering.htmlhelperinputextensions
2. search for "Combines HtmlFieldPrefix"
3. List is empty

![capture](https://cloud.githubusercontent.com/assets/3605364/20645682/8842f148-b409-11e6-965c-61188029802b.PNG)

The triple slash comment is written like this:
[code]
This is not the right syntax, the content inside `<it

[2016-11-27 05:17] marchy commented on #5539
We are experiencing this issue on Azure.
How do you force Azure to clear the Nuget cache?

[2016-11-27 05:48] dougbu commented on #5568
@Rick-Anderson the current MVC source code has no examples of the `<list>` syntax you highlighted. Suspect you're looking at something prior to ada42ea.

[2016-11-27 07:18] davidfowl commented on #5545
@deepumi https://github.com/dotnet/roslyn-project-system/issues/785

[2016-11-27 11:04] villanus commented on #5208
@hismacho I like it but how will this be google friendly?  I really wish msft would replace the words Web / Pages with something so unique it can easily be googled.  The more brandable the better.

[2016-11-27 19:46] frankabbruzzese commented on #5561
I found exactly what the problem is. The problem is not due to recursion, or caching but to a subtle conceptual problem that prevents ViewComponents from passing a null ViewModel to their Views.
Not clear if the behavior I am going to describe is "by design", but if not the bug is severe.

I removed the model also from the first call ie when the ViewComponent  is called the first time, and the err

[2016-11-27 20:18] Eilon commented on #5545
@davidfowl is it safe to close this issue then?

[2016-11-27 20:58] dougbu commented on #5561
@frankabbruzzese calling `View<TModel>(model: null)` in a view component means "create a new `ViewDataDictionary<TModel>` with the existing model". A similar call in a controller means "create a new (non-generic) `ViewDataDictionary` with the existing model". In either case, set `ViewData.Model = null` before calling `View()` to remove an existing `Model`.

[2016-11-27 21:41] frankabbruzzese commented on #5561
@dougbu ,
"A similar call in a controller means "create a new (non-generic) ViewDataDictionary with the existing model".  This way of looking at what happens, is not very convincing for controllers, since when controllers are invoked their ViewDataDictionary are always null! Also when an action method receives a model as its unique parameter.  ViewDataDictionary model is usually null and makes abs

[2016-11-28 01:02] deepumi commented on #5545
@davidflow thank you.

[2016-11-28 03:54] Eilon commented on #5568
@dougbu what about https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/RazorViewEngineOptions.cs#L48-L55?

[2016-11-28 03:54] Eilon commented on #5568
@Rick-Anderson indeed, is this just on older doc builds?

[2016-11-28 04:17] dougbu commented on #5561
Just as in view components, the action may have set `ViewData.Model`.

It seems you're arguing view components work too much like controllers. What is the "counter-intuitive" difference you're seeing? Or, what change would you like to see in how `View(...)` works in view components?

[2016-11-28 07:34] Eilon commented on #5565
Yup, that's the overload to call. You could certainly add your own extension methods that are simpler to use for your scenarios.

[2016-11-28 07:34] #5565 closed

[2016-11-28 07:35] Eilon commented on #5551
@jbagga another one for you to investigate.

[2016-11-28 07:40] Eilon commented on #5548
@rynowak thoughts on how to handle this?

[2016-11-28 07:42] Eilon commented on #5546
@pranavkm please investigate further to see if there's a bug here.

[2016-11-28 07:46] Eilon commented on #4751
Closing because we are not planning to make changes to how this works.

[2016-11-28 07:46] #4751 closed

[2016-11-28 07:47] Eilon commented on #5441
Looks like this was already reported in https://github.com/aspnet/Mvc/issues/4881, so closing this as a dup.

[2016-11-28 07:47] #5441 closed

[2016-11-28 07:48] Eilon commented on #4881
More info in this dup bug: https://github.com/aspnet/Mvc/issues/4881

But moving this to Backlog, which is where the other bug already was (because it's super complicated to fix this).

[2016-11-28 07:48] Eilon commented on #5111
Closing because we think the current behavior is acceptable (even if it is different from MVC 5).

[2016-11-28 07:48] #5111 closed

[2016-11-28 07:49] Eilon commented on #5132
Closing because we aren't planning to add this feature.

[2016-11-28 07:49] #5132 closed

[2016-11-28 07:51] Eilon commented on #5168
@NTaylorMullen @DamianEdwards any chance of us actually doing something here? Is the answer that if you need to do more advanced `<script>` tags then just use a proper script loader?

[2016-11-28 07:51] Eilon commented on #5177
Closing because we don't have enough information to reproduce this.

[2016-11-28 07:51] #5177 closed

[2016-11-28 07:54] Eilon commented on #5291
This question would be better suited on a Q&A site such as StackOverflow, using the `asp.net-core-mvc` tag: http://stackoverflow.com/questions/tagged/asp.net-core-mvc

[2016-11-28 07:54] #5291 closed

[2016-11-28 07:57] Eilon commented on #5535
Closing this because there are no plans to change this behavior in MVC.

[2016-11-28 07:57] #5535 closed

[2016-11-28 07:59] Eilon commented on #5524
@v-zhidu can you upload your project to GitHub so we can take a look? Or create a simplified repro project that we can take a look at?

@pranavkm thoughts on what might be going on here?

[2016-11-28 08:01] Eilon commented on #5526
Closing because we have not seen other reports of this.

[2016-11-28 08:01] #5526 closed

[2016-11-28 08:05] Eilon commented on #5178
Not sure how I missed seeing this bug for so long! This was actually deliberate because `ValidateAntiForgeryTokenAttribute` is a "legacy" name from MVC 5, which we wanted to preserve, and was used very often. In other places where we either have brand new type names, or perhaps existing, but less-commonly used type names, we changed to use what we believe is the more correct casing, which is lower

[2016-11-28 08:05] #5178 closed

[2016-11-28 08:21] NTaylorMullen commented on #5168
We could potentially do something here but the "right" thing would have to be investigated. That ranges from collecting script tags on a page and then collectively rendering them or changing our script injection logic to utilize the DOM. Both these solutions become possible once defer/async come into the picture. Doing this also depends on if we want to invest the time because your latter suggesti

[2016-11-28 08:44] Eilon commented on #5168
Yeah I have a feeling that if our script tag helper has to render like 10-15 lines of complex JS code then this isn't the right avenue...

[2016-11-28 08:49] andrew-vandenbrink commented on #5546
It's tooling issue I guess.

I deployed PrecompileViews yesterday, I barely able to feel any improvement in startup....

[2016-11-28 09:44] hikalkan commented on #5178
OK, then it's fine :) Thanks for the explanation.

[2016-11-28 10:17] frankabbruzzese commented on #5561
@dougbu ,
It is counter-intuitive because at certain point everyone in this thread  was almost sure there was a bug. If the behavior were intuitive, someone would have solved the issue with no need to debug the code.

My previous argument had the purpose of understanding why.
I think, because since Mvc 2 people is used that when it set a null model in View(...) it passes a null model to the View.

[2016-11-28 12:08] fujiy commented on #4608
I plan to work on it

[2016-11-28 15:43] tuespetre opened #5569 "Can we have a UrlHelper.Content parameter or overload that appends the file version?"
The TagHelpers for `<link>` and `<script>` are awesome. So awesome that I would like to be able to use the same `asp-append-version` functionality for scripts and styles that have to be added dynamically, such as [scripts custom elements that need ES2015 class syntax in browsers that support it but ES5 syntax in browsers that don't.](https://github.com/github/time-elements/pull/67#issuecomment-262

[2016-11-28 16:25] pranavkm commented on #5524
Doesn't look like the dependency is restored. @v-zhidu can you expand the references node in your project - that should say if there are restore errors. Additionally, when specifying `target: "project"`, the version node isn't required.

[2016-11-28 16:34] enricosada opened #5570 "Support F# async in actions"
Support F# `async` like the `Task` based async in actions.

So an action like [the following](https://github.com/enricosada/aspnet-fsharp-async/blob/67b975b697aab2900769af1f8acb91ae8d59b28d/Controllers/HomeController.fs#L12-L21) can be used OOTB.

[code]

I added an [example aspnet project with both F# async and current workaround actions](https://github.com/enricosada/aspnet-fsharp-async/blob/67b

[2016-11-28 16:48] enricosada commented on #5570
If the approach is correct and approved as idea, can be put as `up-for-grab`? if noone want to step in, i'll fix that later.

[2016-11-28 16:59] davidfowl commented on #5524
Looks like resharper. Update to the latest resharper and try again.

[2016-11-28 17:20] pranavkm commented on #5546
@andrew-vandenbrink I tried your repro steps a couple times over and I can't seem to repro the issue. Disabling the "Delete all existing files prior to publish" doesn't make a difference either since view compilation isn't incremental and always compiles the views from source (i.e. the actual files from disk).

I'm guessing this is reaching a bit, but do you save the file after making an edit? It'

[2016-11-28 18:45] DamianEdwards commented on #5168
What if we **only** do these things if the `defer` or `async` attributes are set? As in, we leave the current behavior as is, but if we see `defer` or `async` we collect up the scripts and load them at the end of the page (via a new `<body>` Tag Helper or similar), using the DOM. We could even make the logic that does this pluggable so folks can easily plug in something that emits different client

[2016-11-28 19:16] smarts commented on #5562
@dougbu do I need all of the JSON you presented? I assumed I just needed the `"Microsoft.AspNet.WebApi.Client": "5.2.2"` part under `"dependencies"`, but I'm getting an error about that package not supporting the `netcoreapp1.0` framework (which my app is targeting).

[2016-11-28 20:07] dougbu commented on #5562
Yes, for now the `"imports"` bit as well as the additional dependencies are required.

[2016-11-28 20:39] jackfacts commented on #5128
Setting the MutltiPartBodyLength on for both the whole application and via the attribute are working on a windows development machine, but when I publish to a Linux environment neither setting makes any difference.

I still get the: An unhandled exception has occurred while executing the request Multipart body length limit 134217728 exceeded.

My settings look like
      services.Configure<FormOpt

[2016-11-28 20:41] jacobmohl commented on #5506
The bug is also gone when updating to latest 1.1 version in my repo.

[2016-11-28 22:06] #5353 closed

[2016-11-28 22:32] rynowak commented on #5570
/cc @Eilon thoughts? Having looked at the xunit approach, I like that they avoid adding a hard dependency on any F# libraries.

[2016-11-28 22:53] rynowak commented on #3516
@dougbu - we want to understand if we are *better* or worse than MVC5 in this regard, by how much, and why (if we're worse).

Better includes both throughput and latency. Allocations helps us understand why but isn't on it's own an outcome when we're looking at this as an end to end.

With regard to your specifics, the world is your oyster. We would consider changing anything that makes the future

[2016-11-28 23:39] Rick-Anderson commented on #5568
@Eilon  it's on the current doc build for API. See https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.mvc.rendering.htmlhelperinputextensions
cc @danroth27  @bradygaster

[2016-11-28 23:47] dougbu commented on #5568
So why is the current doc build using an older version of this repo's doc comments?

[2016-11-29 00:26] Eilon commented on #5568
@Rick-Anderson which version/branch did the doc build pull from? If it was 1.0.x, we hadn't yet fixed it.

@dougbu docs always lag behind the runtime, so in general this isn't surprising.

[2016-11-29 00:28] Rick-Anderson commented on #5568
@bradygaster  @danroth27  handle API, I only do the non-API and complain.

[2016-11-29 00:58] Eilon commented on #5568
@Rick-Anderson of course 😄

[2016-11-29 03:05] maxzhang1985 opened #5571 "Inaccessible Request.Form.Files when Contoller paramters no binding IFormFile"
[code]

[2016-11-29 03:11] davidfowl commented on #5571
What error?

[2016-11-29 06:00] bradygaster commented on #5568
@dougbu to be honest, i'd prefer the docs be as immediate as PRs are accepted and merged. @Rick-Anderson i'll create a PR to fix this XML issue compliant with the link you provided earlier.

[2016-11-29 06:07] bradygaster commented on #5568
@Rick-Anderson checked the code and verified that the items are no longer even in the XML commentary. Will check the build and with dev to make sure things are correct.

[2016-11-29 06:11] bradygaster commented on #5568
@Rick-Anderson figured out what's awry here (or just not merged yet). The code **without** the "nefariously authored item tags" is still in the master branch, whereas the updated XML commentary is committed to the **dev** branch. To update the documentation, the dev branch would need to be merged to master **or** we'd need to change the branch from which we're pulling the source code. I'll defer t

[2016-11-29 06:15] andrew-vandenbrink commented on #5546
@pranavkm  I never press ctrl+s or save manually
Always build or publish as its automatically save anyway right?

Publish with error
Comment the offending line
Publish again

As you can see on the tab, there is no unsaved status

![image](https://cloud.githubusercontent.com/assets/12871379/20698746/73cdde5c-b603-11e6-9d9c-c502f765b239.png)

[2016-11-29 07:08] andrew-vandenbrink commented on #5546
I just tested again

Publish with error
Comment offending line
Press ctrl+s
Publish

Still the same issue.

[2016-11-29 08:31] patsadow2 opened #5572 "Error ViewFeatures.ITempDataDictionaryFactory in addmvccore();"
Hello,

I found weird thing when i use service.addmvccore(); as a service i get

"Microsoft.AspNetCore.Server.Kestrel[13] Connection id "0HL0O60MNJBT1": An unhandled exception was thrown by the ap plication. System.InvalidOperationException: No service for type 'Microsoft.AspNetCore.Mvc. ViewFeatures.ITempDataDictionaryFactory' has been registered.""

but when i use service.addmvc(); everything is

[2016-11-29 09:02] davidfowl commented on #5570
I was going to ask @enricosada if we can do this in a reflectiony way (to detect the return type). @rynowak can you link to the f# approach?

[2016-11-29 10:49] enricosada commented on #5570
If it's ok to hardcode it (clean job and reusable obv) for now as suggested, it will be possible to refactor out and move as external library (initialized in `Startup` or when creating the `WebHostBuilder`) when an extension point exists (and add that library only to f# aspnet template). But is a small use case for an extension point, i cannot think of others atm because serializers already unders

[2016-11-29 11:10] #5545 closed

[2016-11-29 11:18] nfdevil opened #5573 "Plugin architecture at runtime - keep the application running while adding functionality"
I'm using the AssemblyLoaderContext in ASP.NET Core 1.1 to load a dll in my plugin folder in my MVC main application with the 'LoadAssemblyFromPath' function. However, I'd like to the attribute routing of my plugin dll's controller to work in my main application. For this I should be able to clear and rebuild the MVC routing. How is this possible to do? It used to be doable in MVC 4-5 using Global

[2016-11-29 13:28] rihei opened #5574 "Partial Views referenced with relative paths are not recompiled after changing the .cshtml"
It seems that when a partial view is referenced in ASP.NET Core MVC 1.0.1 by a relative path (../), changes to the partial view's .cshtml file require a build to take effect. Normally saving the changed .cshtml file and reloading the page in browser are enough to make the changes visible.

Minimal project to reproduce this: https://github.com/rihei/aspnetcoremvc-partialview-relativepath-bug/

In t

[2016-11-29 15:46] pranavkm commented on #5573
We added a feature to support reloading `ActionDescriptor`s in 1.2 (our dev branch) to support RazorPages. You should be use most of the code \ pattern we have in a 1.1 application to make this work:

* Write custom `IActionDescriptorCollectionProvider` that supports reloading. You can pretty much use the code from our dev branch as is:
  a. https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.Asp

[2016-11-29 16:36] pranavkm commented on #5546
Could you disable publishing view files from your project? For one, you probably don't want to compile those since it's doubling the size of your precompiled output. I'll go ahead and update our documents to call this out.

It's hard to tell from your logs, but it looks like you have view compilation is setup to run as a `prepublish` step rather than a post publish. That's the only way I could rep

[2016-11-29 18:23] Eilon commented on #5568
`master` has the latest released build, which right now is 1.1.0-rtm. We won't update it until we do some kind of 1.2.0-preview, which is probably a few months out.

We could certainly fix just the offending comments in there, but I'm not sure it's worth it for that.

[2016-11-29 18:45] dougbu commented on #5574
Terminology: It's a bit strange but MVC performs view location expansion on view names such as `"../Shared/_TestSharedPartial"` i.e. they are names and not paths. The `.cshtml` suffix controls whether the given string is treated as a view name or a path. Paths are either absolute or relative, depending on whether they start with `"/"` or `"@"` (after canonicalization) or not.

Using the above term

[2016-11-29 18:55] Rick-Anderson commented on #5568
I'm find with it fixed in the next version.

[2016-11-29 20:03] pranavkm commented on #5574
Perhaps there's an issue with the watcher triggering on the resolved path versus Mvc listening on the unresolved path. I'll have a look.

[2016-11-30 00:33] ShadowDancer commented on #5569
@tuespetre as a workaround you may download source, take service that sits behind asp-append-version and wrap it in extension method on UrlHelper.

[2016-11-30 00:34] pranavkm commented on #5574
My hunch was right - `IFileProvider.Watch` registers a token for the file with the path given as is i.e. `Views/Home/../Shared/_TestSharedPartial.cshtml` which then fails to match when an event is raised for `Views/Shared/_TestSharedPartial.cshtml` (since those are just exact matches). It's essentially the same issue as https://github.com/aspnet/FileSystem/issues/248.

That said, perhaps we use th

[2016-11-30 00:45] ShadowDancer opened #5580 "Razor compilation on startup takes ages!"
Ye, I know that I can precompile views for startup, but developer experience (mashing F5 in vs) is important too. My application takes around 20 seconds to start, with MainPage/Index alone being 7 seconds.

By caching razor assemblies on disk I managed to cut startup time by 3/4 (see working proof of concept library: https://github.com/ShadowDancer/RazorAssemblyCache).
Repro:
- download repo, pres

[2016-11-30 01:58] DamianEdwards commented on #5580
This is great! We've been thinking about looking at something along these lines again as part of planning for next year's work.

In DNX we went even further than this and re-used assets compiled in Visual Studio as part of the component that drove IntelliSense and compilation there, and shuttled them across to the running IIS Express instance when any code changed, effectively eliminating any over

[2016-11-30 06:32] BruinY opened #5581 "how to use route rule create url"
in the class ,how to use route rule create url.
I hope that through a method to generate a url. this method not in controller.But then other libraries

[2016-11-30 06:39] andrew-vandenbrink commented on #5546
@pranavkm your reply makes me wonder how precompile choose which view to precompile?
Considering that I need to **exclude** some view to precompile as that view is different for every users.

Removing views from publish solve the issue but my scripts option is on postpublish for sure

![image](https://cloud.githubusercontent.com/assets/12871379/20742113/a50199a2-b6ce-11e6-8ef1-c657b6033b99.png)

[2016-11-30 08:30] ShadowDancer commented on #5580
I guess that You need at least few months, so it is not bad idea to make this lib more useful?

[2016-11-30 10:48] nfdevil commented on #5573
@pranavkm I forgot to mention that I'm not using Razor. I'm making an API project to which endpoints can be added at runtime using a plugin architecture. For example, to the 'Main Application' that is running on a server, I want to add a project (by compiling it to a dll) that contains a controller like:

`namespace MainApplication.Plugin.PluginTest.Controllers{
    [Route("api/[controller]")]

[2016-11-30 13:58] patsadow2 opened #5582 "406 Not Acceptable [Content type: video/mp4]"
Hello,
I've got a little problem. I can't get my service to stop converting everything to application/json

I tried:
[code]

i was even trying with [Produces("video/mp4")] but it says " doesnt have output formatter "

Still nothing result:
application/json
or
406 Not Acceptable

How to make it work in .net core 1.0 ?

[2016-11-30 15:02] joacar opened #5583 "Request.Form data not binding to view model"
The `Request.Form.Keys` contain all the data that is sent but the view model isn't populated with the data.

The form is created using Razor tag helpers so that property names are created from the view model.

I have it working in other controllers. Have tried create it using default route mapping (`{controller}/(action)/{id}` if that would have something to do with it but same error.

Log doesn't

[2016-11-30 15:18] joacar opened #5584 "[Feature] Extend select tag helper"
Hi,

What about adding `asp-text`, `asp-value`, `asp-selected` and `asp-objects` to the tag helper?

This would allow developers to pass a list to the `asp-objects` and specify the name of the properties that should make up `SelectListItem.Text` and `SelectListItem.Value`.

The `asp-text`and `asp-value` can be a dot separated to traverse the object to find the correct property.

The `asp-selected`

[2016-11-30 15:52] pranavkm commented on #5573
The changes I pointed to really don't have anything to do with Razor. I just pointed you to RazorPages as demonstration of what the pattern is for the route table to be reconstructed. You can do something similar to what we do in RazorPages in your PluginManager to reload `ActionDescriptor` instances which would in turn cause the routes to be reconstructed.

[2016-11-30 16:03] pranavkm commented on #5546
The tool compiles any cshtml file (recursive) specified under `--content--root` option which defaults to project directory when not specified. It does not support an option to exclude as yet, feel free to file an issue in https://github.com/aspnet/MvcPrecompilation/issues if you'd like to start a discussion about it.

I'm really not sure why it was picking up old files (I can't reproduce it locall

[2016-11-30 16:52] frankabbruzzese commented on #5584
@joacar ,
`asp-selected `makes no sense since, at moment select tag helper has already the capability to infer selected element from the value contained in the asp-for property. So basically, your proposal is basically to avoid the usage of `new SelectList(......) `in asp-items and move all items related information from the constructor of `SelectList` directly to th tag helper attributes, or bett

[2016-11-30 17:11] joacar commented on #5584
Thanks for pointing me to SelectList! I have used reflection directly to retrieve the values in the 'TagHelper.Init' instead of passning text and value along with objects to 'SelectList'.

My proposal is hence to "include" 'SelectList' functionality in the tag helper by adding the attributes 'text,value,objects'.

(Sent from phone so not sure about code formatting)

[2016-11-30 19:15] #5547 closed

[2016-11-30 20:55] rynowak commented on #5582
We're going to need more information about what you're trying to do, including some code from your controller/actions.

If you returns a non-`IActionResult` from an action method, it gets run through the output formatters to try and write it to the response. By default we have the JSON formatter configured.

[2016-11-30 20:59] rynowak commented on #5572
`services.AddMvcCore().AddViewFeatures()` should include temp-data. `AddMvcCore()` is the "pay as you go" approach and attempts to include the minimal set of features that you ask for. I'd recommend using `AddMvc()` if you're writing an application with Views.

[2016-12-01 00:16] JunTaoLuo opened #5587 "[ResponseCachingAttribute] Over-caching on proxies when using `VaryByQueryKeys`"
Currently, if the response caching middleware is added, the ResponseCacheAttribute can use the `VaryByQueryKeys` of the ResponseCachingFeature. However, this is only used by the middleware on the server and can lead to over-caching in the cache on proxies and the client since they won't vary by query keys.

In ASP.NET this was handled by using separate cache locations `Server`, `ServerAndNoCache`

[2016-12-01 00:40] plioi commented on #4588
Rather than discard the built-in attribute in favor of one that peeks at the forwarding headers, leverage the UseForwardedHeaders method so that HttpContext.Request will have accurate properties in the first place. It took a lot of digging to even know this was an option:

    app.UseForwardedHeaders(new ForwardedHeadersOptions {
        RequireHeaderSymmetry = false,
        ForwardedHeaders = Fo

[2016-12-01 01:21] benaadams commented on #5362
Resolved by merge of #5389

[2016-12-01 07:05] andrew-vandenbrink commented on #5546
ok

[2016-12-01 07:05] #5546 closed

[2016-12-01 10:57] Saticmotion opened #5589 "Accessing the request's cookie in Controller's constructor"
Since I'm not happy with the default Localization system in ASP.NET Core, I've written my own. (Main problem is that you have to create separate files for all views and controllers)

It can select the language based on Cookies. To cut down on typing I wanted to be able to get the Cookie in the Controller's constructor, but Request, Response and HttpContext are all null in the constructor of the Co

[2016-12-01 11:02] davidfowl commented on #5589
Showing some code would make it easier to talk about.

[2016-12-01 12:07] Saticmotion commented on #5589
Sure, this is the relevant part of my localizer:

    public class Localizer
	{
		public static string DefaultLanguage { get; set; }
		private static Dictionary<string, Dictionary<string, string>> _languageStrings;
		public static List<string> SupportedLanguages{get; private set;}

		//This is what I want to be able to set for every request. Preferably once per controller, so that I could override

[2016-12-01 20:02] joacar commented on #5584
So after some experimenting I've come up with the following. I created a class that holds the text, value and items properties. This can be created in the controller with the `nameof`-operator to keep refactoring easy. For example

[code]

and used in the view

[code]

The attributes `asp-objects`, `asp-text` and `asp-value` are left and can be used as well. Not sure how to handle if multiple valu

[2016-12-01 22:06] patsadow2 commented on #5582
Hmm, so is there any output formatters implemented by asp.net core to handle "video/mp4"

This is my controller

[code]

[2016-12-02 01:37] bryjshed opened #5590 "Camel case not default for Model validation"
MVC serializes JSON with camel case by default. However, it doesn't seem true for Model validation and still requires. `.AddJsonFormatters(j => j.ContractResolver = new CamelCasePropertyNamesContractResolver())`

Otherwise, the validation errors come back in pascal case as seen below on BadRequest(ModelState).

[code]
where it should actually be

[code]

[2016-12-02 06:54] davidfowl commented on #5582
No.

Here's the equivalent in MVC Core 1.0:

[code]

[2016-12-02 09:15] joacar commented on #5583
Renamed the argument to match the name of the view model and now it works. Not sure if that was the only change though :)

[2016-12-02 09:15] #5583 closed

[2016-12-02 09:45] patsadow2 commented on #5582
Done :dagger:

[2016-12-02 09:45] #5582 closed

[2016-12-02 11:34] ShadowDancer commented on #5589
Why don't you inject localizer as dependency in constructor? It could then read HttpContext and initialize itself.

[2016-12-02 12:08] Saticmotion commented on #5589
@ShadowDancer I'm not quite sure how that would work. In the Constructor the HttpContext is null, and in my Localizer I don't have an instance of the HttpContext.

[2016-12-02 12:39] ShadowDancer commented on #5589
@Saticmotion
you may init _localizer on demand, not in constructor. That way it will be available.

Another option is to extend `DefaultControllerActivator`, and pass it to property there.

Yet another possibility is to get IHttpContextAccessor in contructor of Localizer (but first you must register it in startup.cs)

Option 1 is best IMO.

[2016-12-02 13:14] Saticmotion commented on #5589
@ShadowDancer Option 1 is what I'm currently doing. I was just wondering if I could do it at the Controller level instead of at the Action level :) I'll look into the other options, maybe they work more like I expected.

[2016-12-02 13:42] ShadowDancer commented on #5589
[code]
This way HttpContext property will be set by the time you access it.

[2016-12-02 13:47] Saticmotion commented on #5589
@ShadowDancer That's cool! Not a huge fan of the .Value though, but it's almost exactly what I want! Thanks for the help!

[2016-12-02 13:47] #5589 closed

[2016-12-02 14:35] ShadowDancer commented on #5589
You may cache it in private field, just using lazy prevents user from accessing backing field.

[2016-12-02 14:49] M-Curtis commented on #4535
Has this sample been published anywhere??

[2016-12-02 18:17] LucasArgate opened #5591 "Post method request is not firing the application"
Im using .net core (vNext) application with Kestrel.
When i use GET method it works perfectly request, but when i use POST or PUT method it not do complete request. See, Im using AngularJS $resource .save(data).

Im using Api Controller and i created an attribute filter to do pre-flight in OnActionExecuting to return status code 200. When i do POST method it not works.

see my **OnActionExecuting*

[2016-12-02 20:13] benaadams commented on #5591
You are receiving an error code `The response had HTTP status code 500.` which would suggest CORS is not added to application errors. Might want to log it out to diagnose what the error message is; or capture the POST with [fiddler](http://www.telerik.com/fiddler) and inspect the return; you will also want to add the `UseDeveloperExceptionPage` to Configure if you take the second route see example

[2016-12-03 03:22] dougbu commented on #5590
It's true the keys added to `ModelState` are generally based on C# properties (usually Pascal-cased) and not the incoming data. But names are matched case-insensitively in model binding and validation and the `ModelStateDictionary` does case-insensitive lookups.

Could you clarify why the line you added insufficient or perhaps an undue burden to adjust the system to match your preferences?

[2016-12-03 12:37] dbol55 opened #5592 "Input (posted file) is not a valid base-64 string"
Well that might be true, however we still would like it to work :) instead of manual binding that works.

[2016-12-04 15:56] pranavkm commented on #4535
@M-Curtis it's located here - https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Controllers/RequestFormLimitsController.cs

[2016-12-05 01:55] nteague22 commented on #5050
Are there any updates to the new netcoreapp1.1 projects using .csproj files?  I have been working with them, and am aware they are alpha, but wanted to see if a solution existed?

I have tried the restore and tried dotnet restore after clearing the entire nuget cache, but no luck

[2016-12-05 02:04] davidfowl commented on #5050
@nteague22 what about them?

[2016-12-05 02:17] nteague22 commented on #5050
In VS Code, I get the same issue of a constant warning to supply runtime policy, that it mismatches the versions.  It may be from using SDK 3 with VS Code, and I was checking to see if the csproj format would get attention outside of VS2017

[2016-12-05 03:59] davidfowl commented on #5050
What are the repro steps?

[2016-12-05 07:29] sgjsakura opened #5593 "UseStatusCodePagesWithReExecute cannot work with ObjectResult. and guideline requirement for MVC error handling"
In MVC core projects, there's many possible ways to show an error to client, you may even returns any view, however views are always with a status code of 200 defaultly. This code may be not friendly to search engine and webiside recorders. If I want to return a rich view with customs status code, there are many ways, including:
- Change `ViewResult.StatusCode` in controller action context.
- Chan

[2016-12-05 08:17] davidfowl commented on #5592
Can you post a specific example?

[2016-12-05 10:05] robertovanoli opened #5594 "Exception Filters returns an empty body in asp.net-core 1.1"
I have a very simple controller with  an ExceptionFilterAttribute that throws an exception
[code]

this is the ExceptionFilterAttribute

[code]
this works fine in asp.net core 1.0, while in asp.net core 1.1 **the result is not rendered anymore** and the returned http response is like this:

[code]

You can reproduce very easily in this way
1) create a new ASP.NET Core Web Application (.NET Framewo

[2016-12-05 10:22] frankabbruzzese commented on #5594
Not sure this is a bug. It appears just a change in the default state of `context.ExceptionHandled`. That value is not intended to inform the developer on the exception state, but on the contrary for the developer to inform the framework it handeld the exception, so the exception must stop propagation..

In a few words you dont need to check `context.ExceptionHandled` since if another component ha

[2016-12-05 11:38] mdmoura commented on #5050
@davidfowl I am using Visual Studio Code with ASP.NET 1.1 and I keep getting the same problem even after cleaning local package cache. Here is my present csproj file:

    <Project>

      <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" />

      <PropertyGroup>
        <OutputType>Exe</OutputType>
        <TargetFramework>netcoreapp1.1</TargetFramework>

[2016-12-05 11:46] itn3000 commented on #5050
It looks similar to https://github.com/OmniSharp/omnisharp-vscode/issues/967 ?

[2016-12-05 12:16] robertovanoli commented on #5594
Hi @frankabbruzzese, thank you for your explanation.
I removed the check on ExceptionHandled, but I am still a bit confused about when to set it true or false:

the [official sample](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters#exception-filters) set ExceptionHandled = true, then returns a view as result.

In my case it's working differently:
- if i set ExceptionHandled = t

[2016-12-05 13:15] pierre-weceipt opened #5595 "HTML and tag helpers misname elements for expressions like `m => ModelType`"
Hi, as stated in the title, my custom model binder stopped working after updating to core 1.1. I couldn't find any anouncement for changes on model binding, am I missing a new package or something?
Here is my startup file :

[code]

Thanks!

[2016-12-05 14:30] arielcloud opened #5596 "502.3 bad gateway when some controller can't load due to forgotten inheritance"
I have controllerA and serviceA which injected to controllerA.
I forgot to inherit serviceA : IServiceA.
I got no error on compilation, since I'm using structureMap WithDefaultConventions(), so I didnt need to AddTransient<> explicitly.
Once I tried to post a http request to controllerA - the request is pending a long time, and then I got 502.3 bad gateway.
I tried to debug and ask visual studio t

[2016-12-05 15:41] pranavkm commented on #5596
It's likely that your application is failing to start and running in to this - https://github.com/aspnet/Tooling/issues/363. Try running it from the command line (`dotnet run`) to see if that's the case.

[2016-12-05 15:54] davidfowl commented on #5050
But I'm looking for a repro and based on what you wrote, you're using VS2017 RC right? If you have a separate project.json repro, can you provide that as well?

You shouldn't need the System.Runtime package reference, it's redundant.

[2016-12-05 16:22] mdmoura commented on #5050
@davidfowl In this case I am using Visual Studio Code not VS 2017. And I am using the .csproj not the project.json. I am also using the following version of dotnet tools:

    .NET Command Line Tools (1.0.0-preview4-004124)

    Product Information:
    Version:            1.0.0-preview4-004124

Addind the System.Runtime reference was just an attempt to solve it.

[2016-12-05 16:31] arielcloud commented on #5596
no, it's not failing to start, since I succeeded to get and post to other controllers, just if I trying call controllerA I get this error (I also tried running from the command line)

[2016-12-05 16:52] frankabbruzzese commented on #5595
I have two custom binders and they continued working with 1.1.
So probably it is a problem in the implementation of either your specific Provider or your specific ModelBinder that creates the problem. Add a breakpoint in the provider to verify it is called, and if ita actually returns your binder, or for if for some reason it aborts its normal path.

[2016-12-05 16:58] frankabbruzzese commented on #5594
You should set ExceptionHandled = true when you handle exception and false whenyou want exception coninue being thrown up. This should always work also if  ExceptionHandled  default changed.

Otherwise there is a bug somewhere. Have you tried removing:
`context.HttpContext.Response.Clear(); `
?

[2016-12-05 17:12] dazinator commented on #4964
Consider marking User property as obsolete? This way people can switch over to the new ClaimsPrincipal user property gracefully, and then the older property can be removed from a future release?

[2016-12-05 17:38] dazinator commented on #5207
Can you actually do this now (as of 1.1.0) - i.e render a view component in a razor page using taghelper syntax:

[code]
Because I just gave that a go but no joy - also couldn't see any docs on this.

[2016-12-05 17:39] robertovanoli commented on #5594
Here my ExceptionFilterAttribute now
`        public override void OnException(ExceptionContext context)
        {
            var result = new ViewResult { ViewName = "ApplicationError" };
            context.ExceptionHandled = true; // mark exception as handled
            context.Result = result;
        }`

setting context.ExceptionHandled = false; or commenting the row, the view is shown
sett

[2016-12-05 18:00] dazinator commented on #5150
Is there a way to be notified when an invalid header has been "allowed" - that would be a useful event to intercept in terms of logging it as a warning for investigation. Perhaps this can be surfaced from MVC in someway?

[2016-12-05 18:18] pierre-weceipt commented on #5595
I was probably not specific enough : as soon as I update the packages to their 1.1 version, the model binder does not get called at all. Breakpoints do not trigger in the provider neither.

[2016-12-05 18:22] NTaylorMullen commented on #5207
@dazinator yes you can. Ensure you have `@addTagHelper TheAssemblyWithViewComponents`

[2016-12-05 18:30] frankabbruzzese commented on #5595
My model binders are part of a library so I add them  after `services.AddMvc(..` with a `services.AddMy Library()` So I add them with :

`services.AddTransient<IConfigureOptions<MvcViewOptions>, MyCustomSetup>();`

[code]
Try the same, maybe putting them in AddMvc is to early and the option object has not been already populated with the "standard providers". So when they are populated the collecti

[2016-12-05 18:39] dazinator commented on #5207
Hmm... I can't appear to get this working - but I am wondering - could this be effected by me using a custom `TagHelperTypeResolver` ?

Basically in my ViewImports.cshtml file I have:

[code]

My VC is in an assembly `Gluon.Module.SomeModule.dll so it get's matched by my addTagHelper directive.

As standard, addTagHelper directives don't let you use glob pattern matching on the assembly name porti

[2016-12-05 18:45] NTaylorMullen commented on #5207
Ya your custom `TagHelperTypeResolver` will not work for tooling. It is something we're looking to extend in future Razor releases though. For more info check out: https://github.com/aspnet/Razor/issues/836

[2016-12-05 19:01] frankabbruzzese commented on #5594
I downloaded your project and played with it. Basically `context.ExceptionHandled = true,`always cause a blank page while  `context.ExceptionHandled = false,` correcly displays the custom error page, that makes absolutely no sense.

You are right there is a bug!

[2016-12-05 19:39] dazinator commented on #5207
Doh!

[2016-12-05 20:04] leonvanegmond commented on #5591
Try putting app.UseCors("CorsPolicy"); before app.UseMvc();

[2016-12-05 20:56] rynowak commented on #5580
Reopening this because this is still something we want to consider

[2016-12-05 21:39] rynowak commented on #5581
Are you thinking of `IUrlHelper`? https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/test/WebSites/RoutingWebSite/Controllers/BanksController.cs#L22

[2016-12-06 00:58] javiercn commented on #5150
I don't think so, given that this logic is deeply buried into a low level component. We could definitely do something, but it would not be trivial. @rynowak any thought on this?

[2016-12-06 04:09] dougbu commented on #5554
f32d0f2 and 48546db

[2016-12-06 04:09] #5554 closed

[2016-12-06 04:10] dougbu commented on #5554
Thanks for f32d0f2 @danroth27 !

[2016-12-06 04:55] dougbu commented on #5499
7178464

[2016-12-06 04:55] #5499 closed

[2016-12-06 04:58] dougbu commented on #5506
Missed your comment @jacobmohl Glad the problem doesn't exist in the final 1.1 release.

[2016-12-06 04:58] #5506 closed

[2016-12-06 08:31] BruinY commented on #5581
no. not in controller

[2016-12-06 13:38] LucasArgate commented on #5591
@lvanegmond thanks for your awnser! 💯

It works!
Now the pre-flight works, it was send perfectly! But my post is not returned the correct headers:

This is my pre-flight request (OPTIONS):
![image](https://cloud.githubusercontent.com/assets/349191/20927273/f3dd03d0-bba7-11e6-8f73-7b7d472d3643.png)

This is my post request (POST):
![image](https://cloud.githubusercontent.com/assets/349191/20927300/

[2016-12-06 14:11] LucasArgate commented on #5591
Heyyy it works!
Thanks so mutch!
i removed EnableCors attribute of Controller and it works perfect!

Thanks! Thanks! Thanks!

[2016-12-06 14:15] andrew-vandenbrink commented on #5573
@pranavkm During RC, we can publish with controller.cs instead of having dll
On RTM, its all dll

Can we have an option during publish, publish as .cs instead of .dll?

[2016-12-06 14:31] dazinator opened #5597 "1.1.0 - Bug with view component model type checking for View"
I have just updated my project from 1.0.0 to 1.1.0.
This seems to have broken one of my view components.

I am now seeing something that makes no sense...

Basically, it doesn't matter what type of model my VC passes to the `View()` an exception is always raised stating that the model is of a specific type, which is incompatible for the View.

Here you can see that my View component is passing a `

[2016-12-06 15:15] dazinator commented on #5561
I just raised this with more info - I think this might be a related problem: #5597

[2016-12-06 16:00] rynowak commented on #5581
Resolve the `IUrlHelperFactory` and use it to create an `IUrlHelper` then

[2016-12-06 16:05] pranavkm commented on #5573
@andrew-vandenbrink dynamic compilation of the application's sources (.cs files) is no longer supported.

[2016-12-06 16:50] dougbu commented on #5597
The difference between `View()` and `View(someModel as IUser)` is the first creates a `ViewDataDictionary<object>` while the second creates a `ViewDataDictionary<IUser>`. The first is able to hold any model from the outer context. The second also reuses the outer model when `someModel` is `null` or not an `IUser` but that dictionary blows up if the outer model is another type.

[2016-12-06 16:55] bryjshed commented on #5590
Adding the line isn't an undue burden but we assumed since camel case was the default json formatter that this line wouldn't be needed. When any other object is serialized to json which has pascal-cased properties it correctly uses the default formatter which is camel case. However, except for the returned validation result errors json.

[2016-12-06 16:57] dazinator commented on #5597
This sounds like the problem:

This must be a breaking change, and also I fail to see how that makes sense to do that.. If I pass a null model to a View, I'd expect that model instance to make it to that View, not for MVC to go grab some irrelevant instance of a model that I am not passing...

[2016-12-06 17:15] dougbu commented on #5590
Please describe your scenario in more detail, including the validation errors when submitted JSON has unexpected key casing. A small repro project hosted in a public GitHub repo would be ideal.

[2016-12-06 17:21] frankabbruzzese commented on #5597
@dougbu , @dazinator ,
Is what I said also in [#5561](https://github.com/aspnet/Mvc/issues/5561). This new behavior is counter-intuitive, and definetively not useful, since it is very unlikely a developer re-use the Model of the View that calls the ViewComponent. A similar behavior violate ViewComponent encapsulation (as compared to the various JavaScript frameworks "components"). It is very likel

[2016-12-06 18:00] stephentoub commented on #4660
Is this still an issue after https://github.com/dotnet/coreclr/pull/8209 ?

[2016-12-06 18:15] rynowak commented on #4660
Yeah. We should close this.

[2016-12-06 18:15] #4660 closed

[2016-12-06 18:32] dougbu commented on #3988
1dd1d49

[2016-12-06 18:32] #3988 closed

[2016-12-06 18:33] dougbu commented on #3988
Thanks very much @juunas11 !

[2016-12-06 19:07] Bartmax commented on #3988
woot! amazing, thanks @juunas11 !

[2016-12-06 19:55] bryjshed commented on #5590
Here you go. [camel-case-issue](https://github.com/bryjshed/camel-case-issue)

[2016-12-06 20:16] fhinchey commented on #4953
I'm trying this approach but don't see a "RequestToken". Only formtoken and cookietoken. I tried using those instead with no luck. Ideas?

[2016-12-06 23:17] pranavkm opened #5600 "Add a feature that allows binding properties stashed in the TempDataDictionary"
This is based on a feature prototype in Razor pages. Essentially properties annotated with `TempData` attribute are round-tripped for a single request. Some cleverness is required to determine if the value of the property was changed to determine if it needs to be stashed again in TempData (https://github.com/aspnet/RazorPages/blob/master/src/Microsoft.AspNetCore.Mvc.RazorPages/TempDataPropertyTra

[2016-12-06 23:18] pranavkm commented on #5600
cc @rynowak \ @DamianEdwards

[2016-12-07 00:08] dougbu commented on #5590
@bryjshed your tests show that the service is indeed configured with the expected output formatter configuration. However, asserting specific key casing doesn't demonstrate an end-to-end problem.

Are you using a client-side JSON parser that is case-sensitive? If yes, configure the service to match the exact keys your client expects.

[2016-12-07 00:44] shobman opened #5601 "TagHelperContext lost in child within a partial view"
I found that the TagHelperContext is not received by child TagHelper's if the child tag is nested inside a partial view.

If you take the following markup

[code]
I am able to pass down the section id to the h1 using tag helper context, as follows

[code]

So the markup example above, will be rendered as

[code]

However if the h1 is nested in a partial view, the context is not received by the h1

[2016-12-07 00:54] DamianEdwards commented on #5600
The idea is we'd implement this as a filter (filters?) so that it would be supported on Controllers and Pages, and possibly even things like Formatters and Tag Helpers. In theory, it could be supported on any MVC primitive that's activated per-request.

[2016-12-07 00:54] NTaylorMullen commented on #5601
This is by design. `TagHelperContext.Items` does not persist outside of the current view. If you want to persist data across views you can use `ViewContext.ViewData`

[2016-12-07 01:46] shobman commented on #5601
Hi @NTaylorMullen, thanks for the quick reply.  But it doesn't look like ViewData is accessible from within a TagHelper.  Do you know if this feature is on the roadmap?

[2016-12-07 02:26] nteague22 commented on #5050
@itn3000 Is right, I wondered if it was Omnisharp or a tooling mismatch from SDK 3.

I had been using the csproj just like the others

[2016-12-07 02:48] dougbu commented on #5601
Not currently.

Add something like the following to your tag helper. Then use `ViewContext.ViewData` in your code.
[code]

[2016-12-07 06:55] andrew-vandenbrink commented on #5573
@pranavkm thats too bad

[2016-12-07 06:55] shobman commented on #5601
Yes, that does the trick!  Thanks for pointing this out @dougbu  :beers: :beers: :beers:

[2016-12-07 07:57] juunas11 commented on #5594
@frankabbruzzese I thought the point of `ExceptionHandled` was to signal the framework that "I got it, it's ok". So it returning 200 OK should be expected no?

[2016-12-07 09:03] frankabbruzzese commented on #5594
@juunas11 ,
`ExceptionHandled = true`, says "ok I handled the exception, no need to propagate it further", so in the case of @robertovanoli 2oo ok is expected since he have not explicitely set an error header. What is not expected is the blank page!!! Why the the View passsed in ViewResult is not rendered???

It is strange also what happens when setting `ExceptionHandled = false`. In this case if

[2016-12-07 09:29] juunas11 commented on #5594
@frankabbruzzese Ohh, I misread it. The blank page is certainly weird since a view result was set. I'll have a look at this if I have a moment.

[2016-12-07 09:46] juunas11 commented on #5594
@robertovanoli I got the error page to show just by commenting out `context.HttpContext.Response.Clear();`. The other thing is that as @frankabbruzzese mentioned the default for `ExceptionHandled` is now true, so you must set it to false if you don't want to handle the exception.

        public override void OnException(ExceptionContext context)
        {
            if (_hostingEnvironment.IsDev

[2016-12-07 10:36] frankabbruzzese commented on #5594
@juunas11 ,
No actually. `context.ExceptionHandled` is not true as defaul, but it is false. I supposed it was true to explain the behavior,..but before downloading the project and debugging it.

Your code works simply bacause you dont set `context.ExceptionHandled = true`. Try setting explicitaly it to true, and you will see error page is not shown anymore.

[2016-12-07 11:36] juunas11 commented on #5594
@frankabbruzzese You are right! I took a little dive into ControllerActionInvoker's state machine.

This line in particular seems to be the reason the behaviour is the way it is: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ControllerActionInvoker.cs#L675

    if (exceptionContext.Result != null && !exceptionContext.ExceptionHandled)
    {
        goto case Sta

[2016-12-07 14:31] frankabbruzzese commented on #5594
@juunas11,
 Either bug or change in intended meaning of  `ExceptionHandled = true` from "exception handled" to "exception handled completely" by writing response in the response stream.

[2016-12-07 15:28] nathan-alden commented on #388
Things like this drove my team and me to choose NancyFx over MVC 6. Come on, guys, you've had 10+ years to get this stuff right. Look up the status codes and their meanings in the RFC and implement them when appropriate. It's not difficult. As it stands, it seems _impossible_ to do this myself due to the lack of an "action selector result" abstraction.

I'm sorry I'm so bitter but I had a lot of g

[2016-12-07 16:14] markolbert opened #5603 "IModelBinder: Timeouts are not support exception"
I am looking at ways to parse multipart post payloads which incorporate file uploads. I have a working solution which processes the raw request stream, but I thought I'd convert it to a custom model binder so it would blend in with the usual mvc semantics (e.g., public IActionResult Action([ModelBinder(...) SomeModelType model...).

FYI, this is intended to handle situations where some client-side

[2016-12-07 16:17] davidfowl commented on #5603
Where is the stack trace for the exception?

[2016-12-07 16:53] danroth27 commented on #388
@nathan-alden We haven't been prioritizing this issue very high because while supporting possible every HTTP status code is academically interesting we couldn't think of a scenario where returning a 405 instead of a 404 would actually be useful. It could be that we are missing a scenario here that we should prioritize higher. Can you tell us more about why returning a 405 is needed for your applic

[2016-12-07 17:01] nathan-alden commented on #388
I realize it seems minor, but for long-time .NET developers like myself who remember the dark days of ASP.NET Web Forms, it's a reminder that HTTP can be an afterthought in Microsoft's design of frameworks. Yes, MVC 6 is light years better than Web Forms, but it still has a long way to go. I am bitter that a superior RESTful application framework--Web API 2--was abandoned for an inferior set of ab

[2016-12-07 17:19] danroth27 commented on #388
I certainly agree that compromises were made on the API front when we merged MVC and Web API for ASP.NET Core. We definitely pivoted more towards MVC. We've been waiting to hear from users where this caused more pain than good, so this kind of feedback is very much appreciated. If there are areas were ASP.NET Core falls short for Web API development then please let us know with as many specifics a

[2016-12-07 17:26] nathan-alden commented on #388
I understand that returning 405s isn't going to be the highest priority. I would much rather you folks continue to focus on .NET Standard 2.0, VS 2017, Linux compatibility, etc.; there are _huge_ wins to be had there. I am just expressing my frustrations that MVC 6 is not as API-focused as Web API 2 was. The issue I linked to at the end of my previous post details some of my concerns. It's not tha

[2016-12-07 17:29] danroth27 commented on #388
Perfect - thanks for the detailed feedback!

[2016-12-07 17:37] markolbert commented on #5603
Oops, sorry:

Looking at this again, I wonder if the problem is that I haven't told the MVC binding system that I bound the model? I thought that happened automatically when you set bindingContext.Result to ModelBindingResult.Success(...), but maybe there's something else that has to be done.

[2016-12-07 17:51] danroth27 opened #5604 "Why are status codes exposed everywhere as ints?"
As originally reported by @nathan-alden in https://github.com/aspnet/Mvc/issues/5532:

Why are status codes exposed everywhere as ints? What happened to using the HttpStatusCode enum? I am aware of the StatusCodes class that contains all the status codes as constant integers, but this is not discoverable from IntelliSense; less-experienced developers are going to type in the integer, instead. At t

[2016-12-07 17:52] danroth27 opened #5605 "Missing helper methods for status codes"
As originally reported by @nathan-alden in #5532:

[2016-12-07 17:52] danroth27 commented on #5604
See also #5605

[2016-12-07 17:56] grbd commented on #5539
I was having a similar problem, I initially tried flushing the nuget cache with
[code]

But this didn't seem to solve anything
then I deleted the contents of the bin directory and this seemed to sort things out

[2016-12-07 17:57] danroth27 opened #5606 "How to wrap response models in a standard success/error response envelope?"
As originally reported by @nathan-alden in #5532:

I had code that would wrap response models in standard success/error response envelopes by using DelegatingHandlers, thus avoiding violating DRY in every action method. I have not found a way to do this in MVC 6 other than OutputFormatters, which are limited in usefulness since they have no reference to the original action method. As a result, I c

[2016-12-07 18:00] danroth27 opened #5607 "Simplify writing custom authorization attributes"
As originally reported by @nathan-alden in #5532:

The forced authentication abstraction (requirements, policies) eliminated a very useful shared custom authorization attribute I had written that allowed this: [CustomAuthorize(Operator.And, Permission.Create, Permission.Read)]. My attribute allowed for a single authorization algorithm to be implemented (within the attribute's code) that would chec

[2016-12-07 18:06] danroth27 commented on #5532
Thank you for this detailed feedback! To help focus the discussion for these specific problems I've opened separate issues for each section. Closing this issue.

[2016-12-07 18:06] #5532 closed

[2016-12-07 18:12] danroth27 commented on #5605
We have been pretty targeted in the helper methods we provide for specific status codes because there are a *lot* of status codes and not all of them are commonly used. Instead we provide a generic [StatusCode](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.mvc.controllerbase#Microsoft_AspNetCore_Mvc_ControllerBase_StatusCode_System_Int32_) helper. My preference is to contin

[2016-12-07 18:13] danroth27 commented on #5606
@nathan-alden What kinds of things did the success/error envelopes add to the response?

[2016-12-07 18:30] #5601 closed

[2016-12-07 18:45] Eilon commented on #4964
@dazinator we generally don't mark things as obsolete unless we really think they shouldn't be used, but in this case I think it's fine, no?

[2016-12-07 19:09] johnathan-walker commented on #5590
@dougbu I don't really think that the need for case-sensitivity is the issue. There is a work around. I think the issue is that this is unexpected behavior. As described here: https://github.com/aspnet/Mvc/issues/4842

[2016-12-07 19:15] nathan-alden commented on #5606
Let's say I had this code in my Web API 2 endpoint:

[code]

My delegating handler would access the object being returned by using `HttpResponseMessage.Content` and wrap it in an envelope:

[code]

This was very useful in enforcing consistent response body schemas across all APIs while obviating the need for all developers to remember to construct the response envelopes themselves.

[2016-12-07 19:17] dougbu commented on #5590
@johnathan-walker I'm closing this as a duplicate of the #4842 discussion. Had thought you were reporting a bug.

[2016-12-07 19:24] dbol55 commented on #5592
<input name="seller.Logo" type="file" accept="image/*" />

[HttpPost]
public void SaveLogo(Seller seller)
{
...
   System.Convert.FromBase64_Decode(Char* startInputPtr, Int32 inputLength, Byte* startDestPtr, Int32 destLength) +12271509
   System.Convert.FromBase64CharPtr(Char* inputPtr, Int32 inputLength) +130
   System.Convert.FromBase64String(String s) +42
...
Where seller has a byte array prope

[2016-12-07 19:28] johnathan-walker commented on #5590
The expected behavior for serializing ModelState is camel case. The actual behavior is pascal. I think that is a bug.

[2016-12-07 19:40] danroth27 commented on #5606
Did the envelope do anything with stuff outside the body? Like headers, status code, etc.?

[2016-12-07 19:49] khellang commented on #5604
We've been through this before. See https://github.com/aspnet/HttpAbstractions/pull/345.

[2016-12-07 19:49] nathan-alden commented on #5606
Not the envelope, no, but I did have other delegating handlers or action filters that overwrote responses if the status code was 404 or 405, and also added correlation IDs to responses if one was present in the request.

[2016-12-07 20:02] johnathan-walker commented on #5590
@dougbu

[2016-12-07 20:10] kichalla commented on #5606
One way you could do the wrapping is to write a result filter which checks if a given action result is an ObjectResult and wrap the value it exposes.

[2016-12-07 20:17] dougbu commented on #5603
Looks as if this issue matches #5154. Am I correct you experienced this problem using 1.0.x bits?

FYI #5154 was fixed in 1.1.0. With that fix, validation won't dive into `Stream` properties.

[2016-12-07 20:20] dougbu commented on #5590
FYI the JSON serializer doesn't special case `ModelState` and it's handled like any other dictionary.

[2016-12-07 20:20] #5590 closed

[2016-12-07 20:24] nathan-alden commented on #5606
I thought I had looked at `IResultFilter` but I may have overlooked some of its capabilities. I'll take a second look. Thanks!

[2016-12-07 20:35] markolbert commented on #5603
Okay, thanx. I'll see if it goes away upon upgrade.

[2016-12-07 23:32] ajsebas commented on #5590
@dougbu This should really be a bug (since #4842 announces that the default casing in camel and in this case it is not) and fixed in upcoming releases, although there are workarounds as pointed out by @johnathan-walker and @bryjshed

[2016-12-07 23:42] dougbu commented on #5590
Please see #4969 as well as discussion of the intentional distinction between code and data in #4842.

As I said earlier, MVC treates `ModelState` like any other dictionary. Feel free however to file a feature request for a special case in this area. Note it would be somewhat strange because `ModelState` keys come from both C# property names and users' submitted dictionary keys.

[2016-12-08 00:36] ajaybhargavb opened #5608 "Class name inconsistencies with Antiforgery attributes"
We have a class named ValidateAnti**F**orgeryTokenAttribute which is inconsistent with AutoValidateAnti**f**orgeryTokenAttribute and IgnoreAnti**f**orgeryTokenAttribute. One of these should be renamed to makes things consistent.

[2016-12-08 01:04] #5604 closed

[2016-12-08 01:06] danroth27 commented on #5606
Closing for now, but please do let us know if you find result filters don't work for you.

[2016-12-08 01:06] #5606 closed

[2016-12-08 02:50] smarts opened #5609 "RedirectResult should support preservation of HTTP method"
Status codes 303, 307, & 308 are valid redirect codes and should be incorporated into `RedirectResult` and the corresponding controller methods. My guess is that 303 probably isn't a big deal, but the other 2 should definitely be handled.
Similar issue: aspnet/httpabstractions#735

[2016-12-08 06:18] davidfowl commented on #388
nit: It's not MVC 6, it's MVC Core 1.x.

[2016-12-08 06:59] davidfowl commented on #5592
This repository is for ASP.NET Core, not MVC 5.x. For MVC 5.x bugs go to http://aspnetwebstack.codeplex.com/

[2016-12-08 06:59] #5592 closed

[2016-12-08 09:15] tpluscode commented on #5604
@khellang and where did that end? I do agree that a simple int is not a great fit. But is it there to stay?

[2016-12-08 09:16] davidfowl commented on #5604
It's here to stay.

[2016-12-08 09:54] nil4 commented on #5590
@dougbu C# property names are an internal implementation detail of the API code, and should not be exposed verbatim to the API *clients*.  I would argue that the same justification used to default to camel case should be applied here.

In other words, as an API *client*, when I submit a payload containing `key`, and it is incorrect, I don't expect to receive validation errors referring to a *diffe

[2016-12-08 10:06] juunas11 commented on #5609
If we are changing RedirectResult, we should be changing `RedirectToActionResult` and `RedirectToRouteResult` as well.

Currently there is a boolean property `Permanent`, that specifies if a 301 or 302 is used. This would have to change so that we could specify the type e.g. with an enum. Something like:

[code]

The 307 and 308 status codes would need to be named in such a way that they will not

[2016-12-08 10:10] juunas11 commented on #5591
@LucasArgate You should close the issue.

[2016-12-08 13:42] frankabbruzzese commented on #5607
I read the whole discussion on StackOverflow, and frankly, I dont undestand the polemic. Why having all conditions hardwired in the code within an AuthorizeAttribute should be more flexible than defining dynamically requirements that might take their data from a DB for instance?

With the new approach you have just to group all action methods having the same permissions in equivalence classes and