[2017-11-22 23:07] pranavkm commented on #7064
It's named `model` - https://github.com/kshyju/TempDataBug/blob/master/TempData/Controllers/ModelBinderTestController.cs#L19. It's the issue where top level parameters cannot share the same name as sub properties.

[2017-11-22 23:33] dougbu commented on #7064
The [documentation](https://docs.microsoft.com/en-us/aspnet/core/), especially the [How Model Binding Works](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding#how-model-binding-works) sub-section, does describe how request names and values are bound to c# properties. However, the implications of the naming details are not thoroughly spelled out. We thus see a fair number of iss

[2017-11-23 00:41] kshyju commented on #7064
Thanks!

[2017-11-23 00:41] #7064 closed

[2017-11-23 00:41] cgountanis commented on #7072
Not sure this is an MVC issue just trying to find some help, someone's had to run into the apppool issue or maybe they know a way to figure out what folders to give access to etc...

[2017-11-23 00:41] #7072 closed

[2017-11-23 04:02] dougbu opened #7076 "Forward `IDisableCorsAttribute` and `IAntiforgeryPolicy` to the Abstractions package"
`IDisableCorsAttribute` and `IAntiforgeryPolicy` (and `IgnoreAntiforgeryTokenAttribute`) are located in the Cors and ViewFeatures packages. This means external frameworks and extensions must reference those packages just to disable the possibly-conflicting features, even if they are aimed at API controllers. E.g. they may need to reference ViewFeatures to disable antiforgery in case their consumer

[2017-11-23 05:42] dougbu commented on #7076
Split out aspnet/CORS#134 and updated this description&hellip;

[2017-11-23 08:21] egovova11 commented on #7058
In my scenario I have project-to-project reference (total around 70 projects in solution plus some third-party non-nuget libraries targeting NET4.0 and NET 4.5), and the issue occured specifically when ASP.NET project directly referenced one of NET Standard library projects + I was debugging application with local IIS:
1. `ASP.NET Project (NET Framework 4.6.1) -> Library Project (NET Standard 2.0)

[2017-11-23 13:06] sobanieca commented on #7070
+1 I'm also blocked on fixing the CORS vulnerability now (https://github.com/aspnet/Announcements/issues/279). Waiting for the 1.1.4 stable version to be released.

[2017-11-23 13:18] Jenan opened #7077 "How return View with model in the ExceptionFilter"
Hello,

I want to handle two types of errors. I have create two exceptions: `UserFriendlyException` and `UserFriendlyViewException`.

I have tried to create the `ExceptionFilter` that I need handle these two exceptions according these rules:

If is exception `UserFriendlyViewException` called then I want to return ViewResult with original ViewName and `AddModelError` and return original Model.

If

[2017-11-23 13:33] simondel opened #7078 "Make ObjectResult inherit from StatusCodeResult"
The current [Microsoft.AspNetCore.Mvc.ObjectResult](https://docs.microsoft.com/nl-nl/dotnet/api/microsoft.aspnetcore.mvc.objectresult?view=aspnetcore-2.0) does not inherit from [Microsoft.AspNetCore.Mvc.StatusCodeResult](https://docs.microsoft.com/nl-nl/dotnet/api/microsoft.aspnetcore.mvc.statuscoderesult?view=aspnetcore-2.0). Adding this would offer a nice abstraction, as there would be a single

[2017-11-23 16:22] kshyju commented on #6817
Thanks!

Is this released ? Can't find this extension method  (.NET core 2.0 project)

[2017-11-23 17:09] Elfocrash commented on #6817
@kshyju This was merged after the 2.0 release. You can check on the right-hand side of the page that the Milestone for this is 2.1.0-preview1 so it will be out with 2.1.0

[2017-11-23 19:39] kshyju commented on #6817
Perfect! Thanks. Did not notice the milestone label ;)

[2017-11-23 23:15] ekarimi opened #7079 "Render ViewComponent as string from controller"
Hi,
Rendering viewcomponent as string can be pretty handy in some situations.
I searched but couldn't find anything or there were really complex ( not for the lack of trying, just wanna know if there is a simpler solution ).

Can anyone point me to the right direction?
for example :
`
string html= ViewComponent(typeof(SomeViewComponent)).RenderAsString()
`
or anything gets me that.

[2017-11-24 04:44] epignosisx commented on #7037
I second the suggestion. I’ve been following the same directory structure the ASP.NET Core repos use in my apps:

src/
test/
MySolution.sln

With this layout WebApplicationTestFixture will not be able to find the web project inside the **src** directory. If it is not desired to traverse down, at least consider covering this directory structure.

[2017-11-24 05:00] stephenmuecke opened #7080 "RadioButtonFor() binding fails when using an EditorTemplate where the model is a simple property"
**Steps to reproduce**

Model

[code]

Controller

[code]

VIew

[code]

EditorTemplate (`/Views/Shared/EditorTemplates.Gender.cshtml`)

[code]

**Issue**

When the view is generated, neither radio button is checked despite the value of the property being set in the model (the first radio button with the value of "Male" should be checked).

**Cause**

The `RadioButtonFor()` method calls the `priva

[2017-11-24 07:05] hanslai commented on #6000
@rynowak I was just having the same issue.  while search for answer land me on this page.  even adding the code below solve the problem.  But it does not feel right that we need to do that in order to use TryValidateModel for unit testing.

and this knowledge (or information) is not mentioned in the document of [ControllerBase.TryValidateModel](https://docs.microsoft.com/en-us/dotnet/api/microsoft

[2017-11-24 11:38] jeffrey-igaw commented on #5507
`IActionResult` design is not bad, more explicit and intuitive then throw exception pattern.
In my experience it is not very common for developers to write code throws exceptions (exception is more defensive but causing duplicate exception handling and many developer think of a good case flow)

But! It's not type safe in test code(Almost casting is required). and HTTP API documentation as Swagger

[2017-11-24 12:38] JeremySkinner opened #7081 "Clientside Validation Attributes not added if rendering same property multiple times"
// cc @rynowak

I've run into another issue when working on the .net core integration for [FluentValidation](https://github.com/jeremyskinner/FluentValidation)

If you render the same field in your view multiple times, validation attributes are only added to the first instance of this field. This is because of an explicit check in the `AddAndCheckValidationAttributes` method in the ValidationHtmlA

[2017-11-24 16:57] JamesYing opened #7082 "DisplayAttribute.Name don't support Scaffolding Template"
hi man, i created a model and areas.
model:
[code]

And I generator a view page use Scaffolding 'Create' template into Areas/Views/Test

If correctly, it show the 'SiteName' for 'SiteName' property, but now, it's show empty,like this:
[code]
If i generator it to /Views/Test, it's correctly.

Kindly check it ,Thanks

[2017-11-24 20:46] Remleo commented on #2119
What if I need to pass a values collection? For example:
[code]

Is this possible with `asp-all-route-data`?

[2017-11-25 09:31] hach-que opened #7083 "Html.Partial causes deadlocks and should be marked obsolete"
So I've spent the last couple of days trying to figure out the source of deadlocks in our application, and it turns out that `Html.Partial` can cause deadlocks in ASP.NET Core 2.0, because it's [implementation](https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialExtensions.cs#L233) is:

[code]

which is a

[2017-11-25 13:14] arlenniu opened #7084 "TOTP asp.net Identity ManageController.EnableAuthenticator AddModelError"
public async Task<IActionResult> EnableAuthenticator(EnableAuthenticatorViewModel model)

error------
 if (!is2faTokenValid)
            {
                ModelState.AddModelError("**model.Code**", "Verification code is invalid.");
                return View(model);
            }

ok----
 if (!is2faTokenValid)
            {
                ModelState.AddModelError("**Code**", "Verification code i

[2017-11-25 13:17] benaadams commented on #6928
So... Expressions doesn't support null conditionals directly https://github.com/dotnet/roslyn/issues/2060

Instead something like https://github.com/aspnet/Mvc/compare/dev...benaadams:null.Member

I'm not very familiar with Linq.Expressions so won't try to make a PR

/cc @rynowak PTAL

[2017-11-25 21:56] rynowak opened #7085 "ApplicationModelConventionExtensions should make a copy of collections when iterating them"
If you try to add/remove actions from inside a convention, you'll be greated by a fun error like the following:

[code]

We should copy these collections before iterating them so you don't get errors like this.

[2017-11-25 21:58] rynowak commented on #7085
The workaround is to use `IControllerModelConvention` instead and do something like this:
[code]

which is non-obvious and annoying 😢

[2017-11-25 23:16] Bojanema opened #7086 "ValidateAntiForgery Attribute Breaks with Cookies Disabled and More"
I have 2 scenarios where this attribute is giving me a headache.

Scenario 1:  I disable browser cookies, I try to do a post to login via external provider and then I get a blank page. No Errors, no nothing. However, if I remove my attribute then I get redirected to Google as expected.

I tried putting break points but they don't get hit. My URL indicates I am on the page of my action: mysite/Logi

[2017-11-26 19:00] Bojanema commented on #6678
@IsaacSee @Eilon has this been resolved? Really need to be able to handle anti-forgery errors caused by the token.

[2017-11-27 06:03] jayeshdshah commented on #6690
@sebastianbk  Initially I also faced the same issue as you mentioned above.. But I found that I was working in Development environment so Error action code wasn't executing. Below is the case,

            if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
                app.UseBrowserLink();
            }
            else
            {
                app.Use

[2017-11-27 08:03] Remleo opened #7087 "asp-all-route-data must be IDictionary<string,object> or RouteValueDictionary"
What if I need to pass values collection? For example:
[code]

Is this possible with `asp-all-route-data`?
I think it can be `IDictionary<string,object>` or `RouteValueDictionary` instead of `IDictionary<string,string>`.

I can't use anonymous class because in my case keys must be with dot. Example: `FooFilter.Values`.

Anonymous class declaration will produce compilation error:
[code]
and `asp-al

[2017-11-27 17:52] joperezr commented on #7058
That is very weird I would actually expect the opposite to happen (issue reproing on scenario 2 but not in 1). Yes, could you please provide the csc call for scenario 1 along with the full exception you are hitting at compile time?

[2017-11-27 18:14] Eilon commented on #7079
Hi @ekarimi , this type of question is likely better suited to a site such as https://stackoverflow.com/questions/tagged/asp.net-core-mvc, using the `asp.net-core-mvc` tag.

[2017-11-27 18:14] #7079 closed

[2017-11-27 18:22] Eilon commented on #7078
Unfortunately that would be a breaking change.

* StatusCodeResult.StatusCode is a required `int` property: https://github.com/aspnet/Mvc/blob/008a562bf5b1ab89e4b83c60faaabd1d12ffcb82/src/Microsoft.AspNetCore.Mvc.Core/StatusCodeResult.cs#L30
* ObjectResult.StatusCode is a nullable `int?` property: https://github.com/aspnet/Mvc/blob/008a562bf5b1ab89e4b83c60faaabd1d12ffcb82/src/Microsoft.AspNetCore.

[2017-11-27 18:22] #7078 closed

[2017-11-27 18:25] #7065 closed

[2017-11-27 18:28] Eilon commented on #6678
@Bojanema not at this time.

[2017-11-27 18:51] Eilon commented on #7087
Is there a reason you don't use `RouteValueDictionary` then?

[2017-11-27 18:55] Eilon commented on #7084
@blowdart any ideas on this? Is it a bug in the template?

[2017-11-27 18:59] Eilon commented on #7083
@hach-que sorry you ran into this, we'll investigate what's going on here.

@rynowak can you investigate when you return from The Island?

[2017-11-27 19:00] blowdart commented on #7084
Uh, @danroth27 ?

[2017-11-27 19:06] Eilon commented on #7081
@dougbu do you remember why the code does this?

I do remember that it's been this way for ages, but I can't quite remember why.

[2017-11-27 19:08] Eilon commented on #7082
This issue was moved to aspnet/Scaffolding#657

[2017-11-27 19:08] #7082 closed

[2017-11-27 19:18] Eilon commented on #7048
Hi @dietrichha , the model binding system uses different cultures depending on where it gets the data, which is decided by the Value Providers, which create ValueProviderResults that have both the value and the culture associated with the value. Here's the data structure: https://github.com/aspnet/Mvc/blob/008a562bf5b1ab89e4b83c60faaabd1d12ffcb82/src/Microsoft.AspNetCore.Mvc.Abstractions/ModelBind

[2017-11-27 19:18] #7048 closed

[2017-11-27 19:19] Eilon commented on #7060
Dup

[2017-11-27 19:19] #7060 closed

[2017-11-27 19:44] dougbu commented on #7081
The feature appears to have been in the code for ages. In fact `FormContext.RenderedFields` and the `FormContext.RenderedField(...)` methods exist only to enable this one-time rendering of validation attributes. Those were part of the initial MVC 4.0.0 publication to https://aspnetwebstack.codeplex.com (now visible at https://github.com/aspnet/AspNetWebStack/commit/0f8c45fe03).

Mostly guessing: I

[2017-11-27 19:48] dougbu commented on #7081
BTW @JeremySkinner in the "render the property twice on the screen" scenario, why use editable fields for additional display purposes?

[2017-11-27 20:05] Eilon commented on #7040
@javiercn can you take a look?

[2017-11-27 20:09] Eilon commented on #7038
@RehanSaeed I believe the idea here is that if you have a custom scenario, you can override one of the virtual methods on `WebApplicationTestFixture` to suit your needs:

https://github.com/aspnet/Mvc/blob/008a562bf5b1ab89e4b83c60faaabd1d12ffcb82/src/Microsoft.AspNetCore.Mvc.Testing/WebApplicationTestFixture.cs#L122

In general the app's startup code should be aware of multiple environments and us

[2017-11-28 00:53] Eilon commented on #7031
@kichalla can you take a look?

[2017-11-28 01:24] Eilon commented on #7080
@dougbu any idea on this?

[2017-11-28 01:28] Eilon commented on #7057
I believe this is currently by-design. @dougbu / @rynowak - can you confirm? I figured we must have had past discussions on this but I can't find them.

[2017-11-28 01:33] javiercn commented on #7037
@Eilon We follow the default pattern that VS and the CLI generate. I originally started with /src/<<AssemblyName>> and we move it to just be /<<AssemblyName>>. I'm not opposed to having /src/... as a fallback but I would balance it to the fact that you just need to override WebApplicationFixture and put your convention. And that will work for all your projects. If you want more control there are W

[2017-11-28 01:35] javiercn commented on #7038
@Eilon is exactly right. Things like setting up application configuration etc will not work properly with just doing new WebHostBuilder().

By default the tests reflects the config of your application as close as possible, that's the starting point. You can always override CreateWebHostBuilder and setup dependencies and anything else you need for your tests

[2017-11-28 01:37] Eilon commented on #7046
@John0King can you upload a complete repro to GitHub so we can take a look? I'm not sure there's enough information here for us to reproduce this.

[2017-11-28 02:46] dougbu commented on #7057
The model binding and validation systems do use *defined* types by default when picking binders and validators to apply. But, it's relatively simple to define an `IModelBinder` / `IModelBinderProvider` pair to handle types chosen at runtime. For example, the binder may add a `ValidationStateEntry` for the runtime type (`Model` in the above case).

That said, I recommend using a single concrete mod

[2017-11-28 02:49] dougbu commented on #7057
WRT previous issues discussing binding or validating abstract types, please see #6765 and #4703. There are likely more&hellip;

[2017-11-28 03:11] dougbu commented on #7080
This is an issue about MVC 5.x. @stephenmuecke please it move to https://github.com/aspnet/AspNetWebStack I recommend movers such as https://github-issue-mover.appspot.com/

---

This issue is part of a longstanding MVC 5.x problem that we fixed in ASP.NET Core MVC. It was possible to fix in Core only because we had some leeway on breaking changes. See #1485 and #1487 for example.

FYI the general

[2017-11-28 06:10] stephenmuecke commented on #7080
This issue was moved to aspnet/AspNetWebStack#108

[2017-11-28 06:10] #7080 closed

[2017-11-28 06:20] stephenmuecke commented on #7080
@dagood . Moved and closed (FYI, I posted this as a result of [this SO question](https://stackoverflow.com/questions/47451373/radiobuttonfor-in-editortemplate-does-not-select-the-radiobutton#47451373) and its dupe does show a workaround)

[2017-11-28 06:44] Eilon commented on #7057
Closing because we are not planning to make changes in this area.

[2017-11-28 06:44] #7057 closed

[2017-11-28 10:47] egovova11 commented on #7058
[IIS error page.txt](https://github.com/aspnet/Mvc/files/1509460/IIS.error.page.txt)
This is what IIS shows when I'm trying to access any page of the application using first scenario. `CompanyName.ProductName.*.dll` and `CommonLibrary.dll` are our projects, `ProductName.dll` is ASP.NET application, others are acquired either from nuget or from GAC.

[2017-11-28 13:57] ole1986 opened #7088 "EntityFrameworkCore.Tools and CodeGeneration.Design added into project"
After I have updated to Visual Studio version 15.4.5 I noticed two new PackageReferences are added to my Microsoft.NET.Sdk.Web project (ASP .NET Core MVC)

[code]

Also when I now want to publish to its remote using Web Deploy several files are added to the destination.

![image](https://user-images.githubusercontent.com/4850116/33322907-1b992716-d44b-11e7-8120-ebfc9b9ecdd0.png)

I am actually sca

[2017-11-28 15:26] bobske3 commented on #4105
Is TemplateInfo something available as a taghelper? I'm using the above approach, but I'm invoking viewcomponent as a vc taghelper (asp 1.1)

`<div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>

[2017-11-28 17:13] dougbu commented on #4105
@bobske3 this is a closed issue. If you're having a similar problem, suggest opening a new issue.

That said, your description above isn't clear. Are you saying `TemplateInfo.HtmlFieldPrefix` is cumbersome? In the normal case, it's set automatically and you can avoid it here too: Place the `<vc:settings>` helpers in editor templates for the types of interest, then invoke those templates using `@Ht

[2017-11-28 17:33] kichalla commented on #7031
This issue is a duplicate of the issue: https://github.com/aspnet/Mvc/issues/6329. (Issue https://github.com/aspnet/Mvc/issues/6858 is a side effect of the fix that was made for it)

@Mardoxx The fix you suggested is part of 2.1.0-preview1 and is only available on MyGet though.

[2017-11-28 18:00] joperezr commented on #7058
cc @dsplaisted Looks like in here, msbuild extensions is adding a reference to System.Runtime facade from the support package even though it was already referenced, which is causing csc to fail to compile because we are passing in System.Runtime.dll as reference two times. Can you take a look?

[2017-11-28 18:06] Mardoxx commented on #7031
Great thanks!

[2017-11-28 18:06] #7031 closed

[2017-11-28 18:51] bobske3 commented on #4105
Ok thanks, it's not an issue, I just wrote here to help others. I'll try the editor trick thanks. It's not cumbersome (well maybe a little :D), but I just thought that it would be more consistent with taghelpers, so I could re-use the vc component again and again without having to remember to put it in editor/make a prefix. I also thought that taghelpers would be the popular choice nowadays instea

[2017-11-28 19:13] Eilon commented on #7088
It should be perfectly safe to have them published to the server.

However, how exactly did they get added to the project to begin with? Just updating the version of VS shouldn't cause that to happen.

[2017-11-28 19:13] Eilon commented on #7088
@bricelam / @natemcmaster any idea how these might have shown up?

[2017-11-28 19:16] natemcmaster commented on #7088
I believe VS adds these when you attempt to scaffold code for the first time in a project. cc @prafullbhosale

@ole1986 you can trim these from publish output by adding "PrivateAssets="all" to the package reference.
[code]

[2017-11-28 19:47] ole1986 commented on #7088
I noticed that I already have the PrivateAssets=All for the EntityFrameworkCore.Design assembly which I wondered was also published in the remote through Web Deploy - but that may some "obsolete"  issue.

Anyway,
I actually noted these two files being added only because git shows the project file as modified. I actually did not changed anything special...

@natemcmaster can you describe what exact

[2017-11-28 21:38] natemcmaster commented on #7088
By scaffold, I meant Add -> New Scaffolded Item... This will automatically add some project references to your project.
![image](https://user-images.githubusercontent.com/2696087/33345406-22390172-d441-11e7-8e89-587623765f6e.png)

[2017-11-28 21:44] ole1986 commented on #7088
This can possibly be the reason. I might have clicked this by mistake.

Trying to reproduce it and will close the issue once confirmed.

Thank you

[2017-11-28 22:37] danroth27 commented on #7084
This issue was moved to aspnet/templating#166

[2017-11-28 22:37] #7084 closed

[2017-11-29 02:48] gabrielsadaka opened #7090 "Allow registration of ModelMetadataDetailsProviders via DI"
With the introduction of the `FromBody` attribute to ASP.NET MVC in the core framework a lot of actions in my project will require modification and in an attempt to avoid those changes I am trying to create a `IBindingMetadataProvider` that will automatically set the `BindingMetadata.BindingSource` to `BindingSource.Body` for AJAX JSON Posts.

This requires access to the `HttpRequest` and since it

[2017-11-29 08:49] pelhu opened #7091 "Dictionary binding"
Hello,
I have an error when post the following data to server

[code]

The error is

[code]

But when I rename "INDEX" to "INDEX2" everything works fine

[code]

[2017-11-29 09:21] Remleo commented on #7087
This Ok:
[code]

But it can't be used for `asp-all-route-data`. And changing type of `asp-all-route-data` to 'IDictionary<string,object>' couses problems with legacy code. So ASP-team will not agree to such changes I suppose...

[2017-11-29 09:37] Remleo commented on #7087
If `asp-all-route-data` have been  `IDictionary<string,object>` then code will be more nice:
[code]

[2017-11-29 11:22] Systemdir commented on #4953
@Eilon The url to the sample is outdated.

I solved our issue with AspNet Core Identity & AntiforgeryToken by setting the HttpContext.User using the SignInManager before calling the GetAndStoreTokens method.

    // send anti forgery token
    HttpContext.User = await _signInManager.CreateUserPrincipalAsync(user);
    AntiforgeryTokenSet tokens = _antiforgery.GetAndStoreTokens(HttpContext);
    Ht

[2017-11-29 11:24] ole1986 commented on #7088
I could reproduce it by adding a scaffolded item.. So I must have mistakenly added that...
Issue can be closed - Thank you

[2017-11-29 11:24] #7088 closed

[2017-11-29 17:32] Eilon commented on #4953
Ah, we moved the samples a while ago, I updated the URL to: https://github.com/aspnet/Entropy/tree/dev/samples/Antiforgery.MvcWithAuthAndAjax

[2017-11-29 17:50] Eilon commented on #7091
@dougbu any idea on this? Is `index` some kind of reserved term?

[2017-11-29 17:53] dougbu commented on #7081
@Eilon we should either close this as "by design" or an the ability (e.g. an option) to opt into rendering the attributes more than once per form. If we do the second, would need to test Unobtrusive jQuery Validation thoroughly and perhaps tweak its design.

I'm not suggesting we change the default approach because that could have unintended consequences.

[2017-11-29 17:54] dougbu commented on #7081
Cleared the `investigate` label.

[2017-11-29 18:00] Eilon commented on #7033
@dougbu / @rynowak thoughts on this?

@drauch have you tried `DisplayNameFor`?

I can't recall the exact differences between these methods...

[2017-11-29 18:02] dougbu commented on #7091
Shouldn't be.

@pelhu do you have a small sample e.g. a project in a GitHub repo that I could clone then debug?

[2017-11-29 18:24] dougbu commented on #7033
@Eilon `DisplayNameFor(...)` displays the name of a property e.g. `"Joe"` for `m => m.Fred.Barney.Joe` while `DisplayTextFor(...)` displays a string for an expression's value. (`Valuefor(...)` also displays an expression's value but it's focused on round-tripping an expression that was model bound.)

`DisplayTextFor(...)` centers on `Convert.ToString(...)`. It does have some special cases for `Sim

[2017-11-29 18:24] dougbu commented on #7033
Clearing `investigate` label.

[2017-11-29 18:29] dougbu commented on #6951
@Tarig0 I think I've answered your questions. Please reopen if I missed something.

[2017-11-29 18:29] #6951 closed

[2017-11-29 19:11] #6396 closed

[2017-11-29 19:29] drauch commented on #7033
Did you intend to write "should**n't** be too painful" or is this behavior going to stay? : )

I got the facts, but I'm a little confused now on what the outcome of this is.

[2017-11-29 19:33] dougbu commented on #7033
@drauch I've updated my comment to say "should**n't**".

No outcome yet, just options and opinions.

[2017-11-29 20:02] pelhu commented on #7091
@dougbu sorry, it is in my enterprise project. But if you want i can prepare small project for debug.

[2017-11-29 20:39] dougbu commented on #7091
That would be great @pelhu!

[2017-11-29 22:04] Eilon commented on #7033
@dougbu thanks for the details!

I'm placing this in the Backlog because we have not current plans to do this, but it's listed as up-for-grabs in case someone would like to take a stab at it.

[2017-11-30 04:05] PureKrome opened #7094 "Suggestion: A UseJsonExceptionPage extension method."
A common scenario of ASP.NET MVC is to have a 'restful' WebApi 'back end' server accepting requests and returning results in json or xml (generally). Typical scenario's for a SPA webapp or an API for others to consume.

As part of this scenario/setup, errors could occur. From `500 Internal Error` to others like a `400 Bad Request` (the consumer of this MVC WebApi hasn't provided legit data in the

[2017-11-30 06:07] pranavkm commented on #7094
@PureKrome we're working on a couple of enhancements in HTTP API targeted scenarios for 2.1.0. One of these was to have leverage [ProblemDetails](https://tools.ietf.org/html/rfc7807) as the default format for describing error responses. https://github.com/aspnet/Mvc/issues/6786 is the tracking item although it's a bit sparse on details.

[2017-11-30 11:31] PureKrome commented on #7094
Oh wow - this is great news! I'll close this issue and subscribe to #6786 . Here's hoping it makes it into release 2.1.0 🤞

Thanks again @pranavkm for the reply - much appreciated!

[2017-11-30 11:31] #7094 closed

[2017-11-30 12:26] pelhu commented on #7091
Hi @dougbu here is project https://github.com/pelhu/MvcIssue7091

[2017-11-30 15:02] Temoxa commented on #6660
Hi, I have the same problem BIngZL1983...((

use ASP Net Core 2.0

[2017-11-30 16:58] pranavkm commented on #6660
@Temoxa, the issue was fixed as part of the 2.0.3 release. Upgrading your package reference - `Microsoft.AspNetCore.All` to 2.0.3 in CoreCLR projects or `Microsoft.AspNetCore.Mvc` to 2.0.1 in desktop projects should address this without requiring code changes.

[2017-11-30 17:46] Temoxa commented on #6660
Today upgrade to 2.0.3 , but problem saves....(

[2017-11-30 21:43] Eilon commented on #6197
@kichalla can you investigate a solution to this?

[2017-11-30 21:44] Eilon commented on #6423
@javiercn any ideas what else we can do to improve some of these scenarios?

[2017-11-30 21:46] Eilon commented on #6399
@javiercn any idea what else we can add to make this easier?

[2017-11-30 23:34] jbagga opened #7095 "Support BadRequest on PageModel"
According to [this](https://github.com/aspnet/Mvc/issues/5846) issue `BadRequest` should not be needed in `PageModel`.

But in this PR https://github.com/aspnet/templating/pull/168#discussion_r154213722 we think replacing an `ApplicationException` with `BadRequest` on the `PageModel` makes sense.

cc @Eilon

[2017-12-01 00:22] javiercn commented on #6399
Most of the things that are hard to test in here are Identity dependencies. I don't think this is necessarily an MVC issue but more of an Identity issue.

That said, it's easier to use TestServer to write tests for these scenarios, we have some documentation about that coming up. And it will be easier to do in 2.1 with integration tests.

@HaoK Is there anything better we can do here in terms of a

[2017-12-01 01:06] Eilon commented on #7095
@rynowak @DamianEdwards - any objections?

We're proceeding with this anyway because it seems like a good addition, but if you have major objections... we can arm wrestle for it.

[2017-12-01 01:10] #5916 closed

[2017-12-01 01:29] thanhnntq commented on #7029
[TNHeThong.zip](https://github.com/aspnet/Mvc/files/1520095/TNHeThong.zip)

Sorry @NTaylorMullen for longtime no see.
Here is my rebuild version for reprocedure that error.
Please check for me.
Thank you so much!

[2017-12-01 02:33] grahamehorner commented on #5916
Q: shouldn’t Async methods have an optional CancellationToken with the default of default(CancellationToken.None) ?

[2017-12-01 02:49] John0King commented on #7046
@Eilon  This is my [ sample repo](https://github.com/John0King/UrlGenTest)

[2017-12-01 03:31] grahamehorner opened #7096 "RazorStyles"
Please consider creating a RazorStyles engine for when developers require the generation of dynamic css from complex logic, example would be color, font, embedding resources based on a user/tenant profile. I propose that a file extension of .cscss, with possible support for a runtime sass/less type engine byway of .csless .cssass extensions and precomplied/embedding support similar to RazorViews/P

[2017-12-01 04:06] Xeio commented on #6796
I'm seeing pretty large performance changes from a similar change to my own project using .Net Core 2.0, though not as bad as 2-4 seconds for 100 fields.

Using DisplayFor with around 1400 fields has a ~1.4s response time from the server for the full render, and using Razer inline syntax is ~300ms.

Not sure if that could be caching or what, I tried running a profiler against it and it wasn't part

[2017-12-01 04:23] grahamehorner commented on #7087
the asp-route-data is an IDictionary<string,string> because URIs have no concept of data types, so the question is if your not able to use anonymous data types (string:string) how to serialise/encode the values you have in such a way that they give you a IDictionary<string,string> and some metadata? about the types; which of cause leads to the question of deserialisation by the receiving party int

[2017-12-01 05:19] dougbu commented on #6205
6b2a702ff4

[2017-12-01 05:19] #6205 closed

[2017-12-01 05:21] dougbu commented on #6205
Should have removed the `investigate` label a while ago 😃

[2017-12-01 11:54] Remleo commented on #7087
If you look at the implementaion of `AnchorTagHelper` then you will see that `_routeValues` is passing to `RouteValueDictionary` contructor. That's all. There is no special handling. And `RouteValueDictionary` is `IDictionary<string,object>`!

[code]

and then
[code]
From source:
https://github.com/aspnet/Mvc/blob/c27b07ef3f8b07dfe1d1de38a8d7bf2d6a9298f4/src/Microsoft.AspNetCore.Mvc.TagHelpers/Anc

[2017-12-01 12:57] grahamehorner commented on #7087
@Remleo yes your correct; however the RouteValueDictionary not just for creating URI links; and the boxing/unboxing the is performed at a low level by the appropriate urlHelper; by using a IDictionary<string,string> for the AnchorTagHelper this prevents a non-string value from casing a problem deeper in the stack when generating the tags url

[2017-12-01 14:09] Remleo commented on #7087
@grahamehorner In my view, the tag helpers are replacement of IUrlHelper's extensions. In `Url.Action(...)` I can use code like this: `new { FooFilter = new [] { "Foo", "Bar" } }`, but in `asp-route-*` I can't. And it is a bit confusing. This synthetic constraint is illogical as for me.

In my project I'm added own TagHelper with `n-route-*` property with type `IDictionary<string,object>` and yet

[2017-12-01 15:30] los93sol commented on #3977
I actually have a scenario where I need to be able to generate the select list using MVC, but using a separate front end for binding.  In this scenario I believe it does make sense since it cuts me down to a very simple call to create the select list and I'm handling binding outside of MVC.

[2017-12-01 16:55] pranavkm commented on #5916
@grahamehorner I'm not sure what the context of your question is? Is this about the missing `CancellationToken` parameter on `ProcessAsync`?

[2017-12-01 17:30] grahamehorner commented on #5916
look at source of a number of TagHelper the ProcessAsync doesn't seem to take a cancellation token; which I would have expected to see to allow clear up on the TagHelper when the pipeline/caller is cancelled.

[2017-12-01 18:38] kichalla commented on #6197
@Eilon @rynowak I created a design PR now. Let me know what you think of

[2017-12-01 19:17] Eilon commented on #7046
@John0King thanks for sharing the sample.

@jbagga can you take a look?

[2017-12-01 20:03] #7095 closed

[2017-12-01 20:17] NTaylorMullen commented on #7029
@thanhnntq the new project you uploaded does not build. Missing references.

[2017-12-01 23:29] dougbu commented on #7091
Thanks for the project @pelhu!

:ok: this bug (and it is a bug) is due to the `CollectionModelBinder`'s workarounds for binding collections containing gaps or a subset of a submitted collection. The `"index"` key is interpreted as the collection of keys that should be bound.

In this case, model binding creates an interim `List<KeyValuePair<string, int?>>` and adds a `KeyValuePair<string, int?>` w

[2017-12-02 00:08] mitchelsellers commented on #6796
Just another update on this from my side as well.  I see similar results to what @Xeio reported, it is "better" but still very, very poor performance.

I also tried to profile but didn't get very far.

[2017-12-02 00:18] jbagga commented on #7046
@John0King

See https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas.

Attribute routing takes precedence over the conventional "{area}/{controller}/{action}" route you defined in your `Startup` (when you map a route for `Areas`), and you see the route you defined in `RouteAttribute` (which is just "News"). Removing the `Route` attribute should indeed work (that is expected).

If thi

[2017-12-02 00:27] dougbu commented on #7091
My counts were off. I've updated the references in my last paragraph before the break.

I've also prototyped (5) and found no tests at all fail with that in place. Not ready for a PR (need tests) but at least we know that option avoids this problem.

[2017-12-02 01:29] John0King commented on #7046
@jbagga
In the document:

Let's say the current request's path is like /Products/Home/Create
HtmlHelper syntax: @Html.ActionLink("Go to Product's Home Page", "Index")
TagHelper syntax: <a asp-action="Index">Go to Product's Home Page</a>
Note **that we need not supply the 'area' and 'controller' values here as they are already available in the context of the current request**. These kind of values

[2017-12-02 05:36] Svek opened #7101 "Nested layouts returning blank pages"
(The original post was incorrect and was removed. The error was due to a bad implementation by the user.)

[2017-12-02 15:45] thanhnntq commented on #7029
Oop! I don't use any special references! All are provide by Microsoft. Please restore it over NuGet!
Sorry for this inconvenience!
@NTaylorMullen

[2017-12-02 23:04] pconfig opened #7103 "DeveloperExceptionPage not working when TempData is combined with sessions"
When i have a controller which has a property marked "TempData" and i throw an exception in one the actions, the DeveloperExceptionPage is not showing up. I just receive a default HTTP 500 response.

This only happens when I have "services.AddMvc().AddSessionStateTempDataProvider();" in my ConfigureServices method. When i replace it with "services.AddMvc();", the problem is gone.

Please note that

[2017-12-03 09:53] borgdylan commented on #7054
I had flagged something similar on https://github.com/aspnet/CORS/issues/88 but the team had dismissed my concerns. I had to implement logic to drop the request myself.

[2017-12-03 13:10] #7101 closed

[2017-12-03 15:36] Svek commented on #7103
Maybe it's the order of your services? There is an important note about the ordering on the Microsoft Docs.
I would suspect that `AddMvc()` has to go last.

did you try this?
[code]

[2017-12-03 16:02] Svek commented on #7096
I would imagine that a base CSS file (for example `base-theme.css`) combined with the variations of it (for example `dark-theme.css` `light-theme.css`) would be easier to manage.

You could then use layouts, templates, sections or partial views to deal with the dynamic mapping of the styles per your requirements.

Having said that, you could just as easily create a `.cshtml` file and just do your

[2017-12-03 16:25] pconfig commented on #7103
That doesn't work as AddSessionStateTempDataProvider() only works on IMvcBuilder

I've actually got the ordering from the docs here:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?tabs=aspnetcore2x#tempdata

[2017-12-03 16:33] Svek commented on #7103
Oh... I think my earlier statement was all wrong anyway. If I recall correctly, the ordering is for the request/response pipeline which is under the `Configure()` method.

Whereas (for example) the `app.UseDeveloperExceptionPage();` must come before `app.UseMvc();`

[2017-12-03 20:31] clawrenceks commented on #6657
I ran into this issue today after upgrading from 1.1 to 2.0. In my particular scenario my API is a 'Gateway' for a number of microservices. In a number of instances after receiving a response from the downstream microservice the controllers were returning this response using a StatusCodeResult, retaining the status code from the result of the call to the downstream services.

After upgrading to 2.

[2017-12-04 07:47] shaddockblack opened #7104 "How to receive InputStream in AspNetCore"
How to receive InputStream in AspNetCore
HttpRequest  use  text/xml or application/xml
it will return 415 unsupported media type

[2017-12-04 09:48] RehanSaeed commented on #7037
If you are planning on adding `/src/...`, could you also add `/source/...`. I've never been a fan of acronyms.

[2017-12-04 10:14] mbashov commented on #6993
Why is this closed?

[2017-12-04 10:27] dougajmcdonald commented on #3544
@dougbu I'm confused as to what you mean by:

We have many helpers which do things like create composite HTML content via many tag builders and historically have used the implicit `.ToString()` to allow this. E.g.

[code]
Is there a better / more efficient way we should be combining tag builders?

[2017-12-04 14:30] desmondgc commented on #6993
I closed the issue because I found and posted a solution and it seemed to me as though the problem was caused by not reading [the documentation](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#update-package-references) carefully enough. I will reopen since it seems more complex than suggested by just my own experience.

[2017-12-04 17:15] pranavkm commented on #7103
This is likely a dup of https://github.com/aspnet/Mvc/issues/6598. @kichalla is there a workaround they could use for this until a fix is released?

[2017-12-04 17:26] NTaylorMullen commented on #7029
I am doing that. It looks as if your project references are incorrect. You can reproduce what I'm seeing by doing the following:

1. Download/extract your zip
2. At the command line run `dotnet nuget locals all -c`
3. At the command line run `dotnet restore`
4. At the command line run `dotnet build`

This will get you into a clean state where any customized VS feeds or local feeds shouldn't impact

[2017-12-04 18:01] kichalla commented on #7103
One workaround (as mentioned in #6598) is to register Session middleware before DeveloperExceptionPage middleware. The affect of this is that as any exceptions that happen in Session middleware are not caught in DeveloperExceptionPage. But since DeveloperExceptionPage is used during development scenarios, probably this side effect is minimized.

[2017-12-04 18:13] dougbu commented on #3544
The `TagBuilder.InnerHtml` property is of type `IHtmlContentBuilder` and the two `IHtmlHelper` methods return `IHtmlContent`. So, change the last line to
[code]

[2017-12-04 18:17] pranavkm opened #7105 "Add support for executing result filters when the filter pipeline is short circuited"
Currently when a Resource, AuthZ or Exception filter short handles the request, we directly invoke the result skipping any registered result filter. As part of the work for https://github.com/aspnet/Mvc/issues/6922, one requirement is for us to transform the response using a result filter. To support this scenario, we'll introduce a new type of `IResultFilter` that will execute for all these scena

[2017-12-04 19:49] marcote commented on #5822
Hi there. Any updates folks?

[2017-12-04 20:13] dougbu commented on #5822
https://github.com/aspnet/Home/wiki/Roadmap shows we'll release ASP.NET Core 2.1 in "Q1-Q2 2018".

In the meantime, ASP.NET (not ASP.NET Core) packages named *-5.2.4-alpha1-171202 or *-3.2.4-alpha1-171202 are available in the https://dotnet.myget.org/gallery/aspnetwebstack-dev feed. The symbol server https://dotnet.myget.org/F/aspnetwebstack-dev/symbols/ is also populated.

The https://dotnet.myge

[2017-12-04 21:53] scottsauber opened #7106 "Razor Page Testing with IUrlHelper"
Could be something dumb I'm doing or something I'm missing, but wasn't sure if it was related to some of the Testing improvements on Razor Pages like on #6943.

I'm trying to create an absolute URL in my Razor Page page handler and pass that upstream to my "backend" (handler using MediatR, not that it really matters) so my backend doesn't know it's talking to ASP.NET Core or not.  It just needs a

[2017-12-04 22:31] #6858 closed

[2017-12-04 23:41] #6591 closed

[2017-12-05 00:08] JesperPetersenDk opened #7108 "Partial view Menu - Send info to view"
I make this from _Layout.cshtml

in the Menu.cshtml:

[code]

Error  its:
InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'NewWebsite_SITE_2018.Pages.IndexModel', but this ViewDataDictionary instance requires a model item of type 'NewWebsite_SITE_2018.Pages.View.ViewBar_Info.MenuModel'.

What I'm trying to do is in my layout, so I'll call my menu so come on

[2017-12-05 17:14] Eilon commented on #6858
@kichalla done?

[2017-12-05 19:10] gthelp opened #7110 "MVC razor Form with AntiForgery Token throwing 400 bad request on post to controller"
Weird situation where controller was throwing 400 bad request. I used Fiddler replay to isolate it to the forgery token. For some reason the token was occasionally being truncated or weird character on initial page load after login page, and so would fail validation on controller.

Razor ex:

[code]

Looks like a special line character is being generated in token - notice space after - in token

[

[2017-12-05 20:34] danroth27 commented on #6926
@Eilon @rynowak @mkArtakMSFT @javiercn

We would like to be able to stick all of the Identity related code in a single folder. To do that with Razor Pages we'll need this feature.

[2017-12-05 20:36] jbagga commented on #7046
The ambient values are used to fill in the blanks when you have a conventional route that could be a match. The example you quoted assumes a conventional route only.
The route parameters are not filled in by ambient values for an attribute route. https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing#attribute-routing

Specifying area="Admin" in values for `Url.Action` adds the area

[2017-12-06 03:14] John0King commented on #7046
Now I understand why ambient values are ignored . but I don't like it  :( .

Logically ,  URL should point to current area if possible .

![image](https://user-images.githubusercontent.com/13639146/33641357-1ecbc27e-da70-11e7-8cc2-dde6c922f944.png)
I add more things to show in my test repo,   If i'm correct, the `RouteData.Values`
 are  `ambient values` , and `ActionDescriptor.RouteValues` are use

[2017-12-06 09:31] MorayM opened #7112 "Unusual route values appearing when using `Url.Action`"
I'm trying to create a link to the following GET:

    public class FooController : Controller
    {
        [HttpGet]
        [Route("Foo/Apply/BarDetails/Part/{id}")]
        public IActionResult BarDetails(int id)
        {
        }
    }

In my view I'm creating a URL with

    Url.Action("BarDetails", "Foo", new {id = 1})

I was expecting this to generate `Foo/Apply/BarDetails/Part/1` howeve

[2017-12-06 12:20] ignas-sakalauskas-cko commented on #5631
Are there any plans to fix this issue?

[2017-12-06 14:55] MorayM commented on #7112
OK, I've figured it out. It's mostly a quirk in the the way I've written my `FooController` but as `FooController` originally came from an MVC5 project where the routing worked I thought I'd log it and leave it to the team to decide if the current MVC Core behaviour is a bug or a feature!

My `FooController` is responsible for a form that consists of ~250 views organised in sections and looks a bi

[2017-12-06 14:57] MorayM commented on #7112
Hmm, looking at the eventual source I guess this should probably be moved to the [Routing](https://github.com/aspnet/Routing) module?

[2017-12-06 15:05] nenadvicentic opened #7113 "Html.DisplayFor does not find the template with @inherits declaration"
When display template contains `@inherits` clause in related `_ViewImports.cshtml` file, method `@Html.DisplayFor(...)` cannot find the template.

As soon as `@inherits` clause is removed, display template is found and rendered.

I did not test further, but I would assume that `@Html.DisplayForModel`, `@Html.EditorFor` and `@Html.EditorForModel` behave in a similar manner.

[2017-12-06 19:58] #6533 closed

[2017-12-06 20:01] andycmaj commented on #2308
note that this will allow your app to serve ANY url anyone anywhere makes to your server, opening you up to DoS attacks among other things...

[2017-12-06 21:32] pranavkm opened #7115 "Update property type check in SaveTempDataPropertyFilterBase to match TempDataSerializer requirements"
Follow up to #6591 - I was working on a template change where I was passing around a `string[]` via TempData. This works fine because the serializer supports arrays of primitives. However, applying `TempDataAttribute` on a property fails saying the property is not a primitive or string type. We should either update the check in the property to match the serializer or remove it entirely and let the

[2017-12-06 21:32] pranavkm commented on #7115
cc @kichalla

[2017-12-06 22:24] mkArtakMSFT commented on #7115
Thanks @pranavkm. @kichalla , what about just removing the validation from the property, as @pranavkm suggested?

[2017-12-07 04:34] Eilon commented on #5631
@ignas-sakalauskas-cko not at this time because we don't have a design for how to fix this.

[2017-12-07 04:38] Eilon commented on #6926
Would need to discuss with @DamianEdwards  to see if there is moral opposition. It does sound like a reasonable feature to me.

BTW even for Identity couldn't we still put everything in `~/Pages/Identity/*`, including CSHTML and CS files? (It's not super clean, but it would work, no?)

[2017-12-07 04:40] DamianEdwards commented on #6926
I want to do it, we've discussed it as part of the identity in a library work.

[2017-12-07 08:23] bgever commented on #7054
@pranavkm Is there an update on the `Microsoft.Extensions.DependencyModel (>= 1.1.4-servicing-001653)` dependency issue? I'm still encountering it.

[2017-12-07 12:48] #6197 closed

[2017-12-07 17:42] dougbu commented on #6928
@benaadams have you run any benchmarks or micro-benchmarks with your changes in place?

I believe we've experimented with writing the Linq expression in this way before. The results were inconclusive: Views where the model expressions evaluate as `null` performed slightly better. But, that was offset by worse performance everywhere else.

[2017-12-07 17:58] pranavkm commented on #7054
@bgever here's the tracking issue for it. We're still in the process of getting it ready for release.

[2017-12-07 18:09] javiercn commented on #6423
Hi, @xlegalles

You might be interested in this post and sample about how to perform end to end test of MVC applications in memory
https://blogs.msdn.microsoft.com/webdev/2017/12/07/testing-asp-net-core-mvc-web-apps-in-memory/
https://github.com/aspnet/samples/tree/master/samples/aspnetcore/mvc/testing/TestingMVC

I believe that what you are looking for is something more low-level, but I would enc

[2017-12-07 18:26] javiercn commented on #6399
@snebjorn

I've put together a blog post and a sample of the approach described above. Maybe this works better for you?

The blog post is here:
https://blogs.msdn.microsoft.com/webdev/2017/12/07/testing-asp-net-core-mvc-web-apps-in-memory/

The sample is here:
https://github.com/aspnet/samples/tree/master/samples/aspnetcore/mvc/testing/TestingMVC

[2017-12-07 18:44] #6985 closed

[2017-12-07 19:04] pranavkm opened #7117 "Consider adding a feature to ActionModel that allows modifying the "effective" filter sequence"
## Scenario:

My application adds a set of global filters. In one specific action, I'd like to remove one or more of these filters using an action model convention. There isn't any good way to do this since the global list is maintained by the `ApplicationModel` instance that's shared by all controller \ actions.

One possible way of implementing this might be to expose an `EffectiveFilters` on `A

[2017-12-07 19:27] ryanbrandenburg commented on #6985
Should I assume this was fixed by aspnet/Mvc#7042?

[2017-12-07 21:12] pranavkm commented on #6985
https://github.com/aspnet/Mvc/commit/9dc9381ae4cddf2661818014b6e95fae99019f4b is the commit that fixes the issue.

[2017-12-07 21:26] dougbu commented on #7090
@gabrielsadaka `IMetadataDetailsProvider`s including `IBindingMetadataProvider` help to initialize `ModelMetadata` instances that are used for the lifetime of an application. If the same action is used for Ajax and non-Ajax requests, changing the metadata based on first request using that action may do exactly the wrong thing for the second request.

I suggest adding another action as well as a co

[2017-12-07 23:23] gabrielsadaka commented on #7090
@dougbu In our scenario we can guarantee that all of the requests to a particular action are made with a single request type as we have strict validation on all of our actions.

The reasoning behind not allowing the registration of the `IMetadataDetailsProvider`s via DI does make sense though.

I will see if I can achieve the same result with an `IModelBinder`.

Thanks for the advice @dougbu.

[2017-12-07 23:23] #7090 closed

[2017-12-08 03:01] John0King commented on #7046
@jbagga https://github.com/aspnet/Mvc/blob/d5bb73a98c6207cbecc29039e7d4af61cfa4f1df/src/Microsoft.AspNetCore.Mvc.Core/Routing/UrlHelper.cs#L68
and
https://github.com/aspnet/Mvc/blob/d5bb73a98c6207cbecc29039e7d4af61cfa4f1df/src/Microsoft.AspNetCore.Mvc.Core/Routing/UrlHelper.cs#L38

there no use of `ActionDescriptor.RouteValues`   ,  should it   use that ?  and the code in UrlHeper.cs  can be optim

[2017-12-08 12:05] snebjorn commented on #6399
Thank you, I'll check it out

[2017-12-08 17:20] NTaylorMullen opened #7118 "When razor page and folder have same name, the parameter is null"
_From @andrew-vandenbrink on December 8, 2017 7:8_

This is a bit difficult to explain,
Here is the directory structures,

alpha/beta.cshtml
alpha.cshtml

Notice the alpha.cshtml and alpha folder
The content of the functions on alpha.cshtml and beta.cshtml is the same with difference in PageModel's name.

[code]

when I call
GET /alpha/ReadData?id=abc
It works fine as expected
[code]

but when I c

[2017-12-08 17:32] NTaylorMullen commented on #7118
/cc @pranavkm

[2017-12-08 20:30] MaikuMori commented on #5590
Have to agree this is really an issue. It shouldn't be hard to fix.

[2017-12-08 22:59] natemcmaster opened #7122 "Flaky test: ProcessAsync_WorksForNestedCacheTagHelpers"
Currently this test is flaky in the release/2.0.0 branch.

[code]

http://aspnetci/viewLog.html?buildId=364712&tab=buildResultsDiv&buildTypeId=Patch20_Win2012Universe

cc @ryanbrandenburg

[2017-12-09 00:10] mkArtakMSFT commented on #6782
Moving this out to 2.1.0-preview2, as we won't be able to fit this in the preview1 release.

[2017-12-09 00:24] mkArtakMSFT commented on #6525
Moving this further to 2.1.0-preview2 milestone. FYI, @DamianEdwards

[2017-12-09 00:28] pranavkm commented on #7122
@Eilon addressing this issue requires the following two changes:
* https://github.com/aspnet/Common/commit/388c04ce5cb242865c432c481b23b85e14c7ce68
* https://github.com/aspnet/Mvc/commit/9dc9381ae4cddf2661818014b6e95fae99019f4b

Both of these are source changes and therefore product issues.

[2017-12-09 15:56] tronjs opened #7123 "How to use Request.Url in razor page?"
Hi, I am using ASP.net Core web app razor page (not MVC), not sure if I am missing something, but I can not to find any way to use some helpful properties from Request.Url e.g: Request.Url.PathAndQuery, etc...
Thanks

[2017-12-11 01:29] weitzhandler commented on #6816
How do I get a `JsonSerializer`/`JsonSerializerSettings` injected controller?

Example:

[code]

[2017-12-11 01:30] weitzhandler commented on #6816
@Eilon

How do I get a `JsonSerializer`/`JsonSerializerSettings` injected controller?

Example:

[code]

[2017-12-11 08:18] khellang commented on #6816
@weitzhandler Inject `IOptions<MvcJsonOptions>` in your controller and use that :smile:

[2017-12-11 09:48] weitzhandler commented on #6816
@khellang Thank you!

[2017-12-11 16:10] rynowak commented on #7123
Razor Pages is an MVC feature and this is the MVC repo - so I'm going to assume that you mean that you're using a Razor Page and not a Controller 😆

This works the same as in a View returned from a Controller. The `HttpContext` is available using the `Context` property

[code]

[2017-12-11 18:02] dougbu opened #7125 "Add missing `IOrderedFilter` implementations"
Be explicit about the execution order of our in-box filters. For example, `AuthorizeFilter` does not provide an `Order` but most others do (or their associated `IFilterFactory` implementation has an `Order`).

Suggest giving most `IOrderedFilter.Order` properties a setter. Users shouldn't need to subclass the filter or its factory just to control execution order.

Where the filter is not `sealed`,

[2017-12-11 18:55] rynowak commented on #7125
We're generally less concerned about source breaking changes if they are additive, and we freely do those in minor releases

[2017-12-11 19:29] Eilon commented on #7122
Hmmm I don't want to risk breaking anything in 2.0.0 in terms of product changes, especially when customers haven't asked for it.

What would the risk be of disabling the test? Or is there any test-only change we can make to mitigate this? Like increasing timeouts or something?

[2017-12-11 19:54] pranavkm commented on #7122
We could skip it. See @natemcmaster's PR

[2017-12-11 20:58] rynowak commented on #7117
Maybe there's a straightforward way to do this, but if we do more of this kind of thing, I'd want to start over and redesign application model 😢

Providing the hierarchy of global->controller->action was a mistake. The underlying data should be represented as a list of actions, and controllers should be a Linq query.

[2017-12-11 22:37] aliostad commented on #5822
What is going on with `HttpMessageContent` so we were told .NET Standard 2.0 has everything... I am supposed to migrate CacheCow to support .NET Core and I need `HttpMessageContent`.

[2017-12-11 23:19] dougbu commented on #5822
@aliostad please file questions about ASP.NET in the https://github.com/aspnet/AspNetWebStack repo.

In any case, `HttpMessageContent` is present in the .NET Standard 2.0 assembly in https://dotnet.myget.org/feed/aspnetwebstack-dev/package/nuget/Microsoft.AspNet.WebApi.Client We have no reason to remove it prior to an official 5.2.4 Preview1 release.

[2017-12-11 23:35] natemcmaster commented on #7122
I'm seeing other tests fail now too. I'm assuming these are all from the same issue, so I'm going to skip these too

- CacheTagHelper_BubblesExpirationOfNestedTagHelpers
- CacheTagHelper_CanCachePortionsOfViewsPartialViewsAndViewComponents

[2017-12-11 23:52] pranavkm commented on #7122
Yup, they're all related.

[2017-12-12 11:16] aliostad commented on #5822
@dougbu sorry do I need to do anything to get it working?
 I am trying to target both net452 and netstandard2.0 but it cannot find `HttpMessageContent`

![image](https://user-images.githubusercontent.com/487334/33881821-eb0e621c-df2d-11e7-8d5c-cb773c6dceff.png)

[2017-12-12 11:27] yaakov-h commented on #5822
You're referencing 5.2.3 - I assume from the NuGet Gallery - not 5.2.4 (prerelease).

[2017-12-12 12:02] aliostad commented on #5822
@yaakov-h yes but that is for the benefit of `net452` and not `netstandard2.0`.

If I remove `netstandard2.0` from target, it stops complaining. Do you mean 5.2.4 has net standard bindings?

![image](https://user-images.githubusercontent.com/487334/33883572-35773efe-df34-11e7-862c-e436f91ee703.png)

[2017-12-12 18:43] rynowak commented on #6928
I'm not confident that we've **ever** collected data about this. I've never been able to find the source of these claims, only more claims. I'd suggest that we actually collect data 😆

Either way the null-refs are really obnoxious for debugging. If we can avoid them it might be worth a small perf hit.

[2017-12-12 22:10] pranavkm commented on #6926
Mvc scaffolders use the convention of putting content that belongs to areas - controllers, models and views - in the Areas directory. For the default experience, we can center the feature work around this convention. We'll look for RazorPages in a directory named "Pages" under a specific

[code]

We will allow configuring the area root via RazorPagesOptions:

[code]

The feature is enabled by defa

[2017-12-12 22:12] #6514 closed

[2017-12-12 22:12] #7085 closed

[2017-12-12 23:31] kichalla commented on #7049
Duplicate of https://github.com/aspnet/Mvc/issues/5822

cc @dougbu @pranavkm

[2017-12-12 23:31] #7049 closed

[2017-12-13 09:22] aliostad commented on #5822
According to [this](https://github.com/dotnet/corefx/issues/6489), yes. It will be all fixed in the next few hours, apparently.

[2017-12-13 11:18] kiran-bobade commented on #5222
I am facing the same issue. My startup class is in NetStandard 2.0 assembly. I am referring this assembly to Asp.net Core 2.0 API project which does not have **project.json** file.  It works well if I derive a class from that Startup class and use it as Startup.

Can you help/guide me to resolve this?

[2017-12-13 17:36] Rabadash8820 commented on #7035
@jbagga @dougbu I can confirm the issues with `type="number"` inputs.  I made a comment on the [Tag Helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms) docs topic back in September saying as much:

Glad to see that there is now an issue open for this.  Consider this my +1  :)

[2017-12-13 17:38] pranavkm commented on #5222
@kiran-bobade you're commenting on a closed \ resolved issue. Could you file a separate issue with specific details \ sample project that reproduces the issue?

[2017-12-13 18:32] mkArtakMSFT commented on #7046
@John0King, to answer your last question: the code you referred to is not thread safe, so you may run into weird issues if you try to call the GetValueDictionary() from another thread.

[2017-12-13 19:25] muratg commented on #7070
This is done.

[2017-12-13 19:25] #7070 closed

[2017-12-13 19:37] pranavkm commented on #7070
@muratg could you respond to the announcement (https://github.com/aspnet/Mvc/issues/7054) or file a new one? Presumably we want folks to upgrade to this new version.

[2017-12-13 19:50] muratg commented on #7070
@blowdart Do you want to update the main text of the announcement, putting a note for the release, and updating the version numbers?

[2017-12-13 19:52] blowdart commented on #7070
Tell me what the versions now need to be and I'll update the issue.

[2017-12-13 20:17] lucassklp opened #7126 "RenderViewToString does not work when a RazorPage file is rendered as a view"
Here is my PageModel:
![image](https://user-images.githubusercontent.com/5818762/33959656-5874a094-e02f-11e7-8e36-178c44774a17.png)

[code]

So, i try to instantiate it, using 'new' keyword, and it shows that ModelState and RouteData threw exceptions, as image below says:
![image](https://user-images.githubusercontent.com/5818762/33959559-0dd3efcc-e02f-11e7-8b9a-cbf44a6bba29.png)

Then I get in ex

[2017-12-13 20:28] blowdart commented on #7070
Updated, because I made @pranavkm stand behind me and check I did it right.

[2017-12-13 20:28] blowdart commented on #7054
Issue updated to reflect the new version without the packaging error.

[2017-12-13 21:21] knightmeister opened #7127 "RenderPartial does not accept ViewDataDictionary and Model to be passed in"
Hi

See relevant SO question here: https://stackoverflow.com/questions/47781692/viewdatadictionary-model-is-correct-failing-when-calling-renderpartial/47802253#47802253

I am porting from .NET MVC 5 to .NET Core. I noticed there is no overload for `RenderPartial` which accepts a model and `ViewDataDictionary`. I tried setting the model in the `VIewDataDictionary` but found it was being overridden

[2017-12-13 21:50] JeffMarqMetrix opened #7128 "UWP for IoT Core Not Working"
I've created a Windows 10 IoT Core Background Application using the Visual Studio Template for IoT Core. I'm trying to create an Asp.Net Core web Api using Mvc and I'm getting an exception before the service is even started.

When initializing MVC in my configureservices method (services.AddMvc or services.AddMvcCore) I get a FileNotFoundException in System.Private.CoreLib.

[2017-12-13 22:21] mkArtakMSFT commented on #7128
Hi @JeffMarqMetrix, can you please provide more details about how exactly are you trying to configure ASP.NET Core ? Can you send us a repro?

[2017-12-13 22:38] mkArtakMSFT commented on #7126
Hi @lucassklp. Why are you instantiating the Page Model ? What are you trying to accomplish?

[2017-12-13 22:47] lucassklp commented on #7126
Hi @mkArtakMSFT, I'm trying to make a template mail sender, which will take a Razor template then send it as email. I found a way to get the template's HTML thought a code that needs the Page and PageModel. So, that's why I need to instantiate the PageModel.

[2017-12-13 22:52] mkArtakMSFT commented on #7122
@pranavkm, is this fixed in dev branch?

[2017-12-13 22:57] mkArtakMSFT commented on #7117
Seems like there is no customer request for this.

[2017-12-13 22:57] #7117 closed

[2017-12-14 00:03] pranavkm commented on #7126
@lucassklp I'm going to have to dig in to why the model in this case in your case, but I wanted to make sure you understand that even though rendering a Razor Page as a regular view *could* render the contents, none of the page execution pipeline would run. This includes, things like property binding \ handler method execution etc.

[2017-12-14 00:20] tronjs commented on #7123
ok thanks for the answer.

[2017-12-14 00:21] #7123 closed

[2017-12-14 00:26] lucassklp commented on #7126
I really don't know if using Razor to do this is the best form to resolve this problem, but still better than making the HTML and CSS hardcoded. If you guys has some sugestion to do, feel free to say!

[2017-12-14 00:48] JeffMarqMetrix commented on #7128
Yes. So the end goal is to run an Asp.Net Core web application with Web Api functionality and several pages. I'm attempting to run this on Windows 10 IoT Core. The examples for Raspberry Pi that I've seen are all running Asp.Net Core as a .Net Core Exe running on the device. I'm attempting to run the app as a Windows IoT Core Background Application via the templates available [here](https://market

[2017-12-14 03:33] mmillican opened #7130 "TempData Attribute on an MVC Controller"
Is it possible (or can it become possible) to decorate a property on a Controller with the `TempDataAttribute` and read that from the view?  Currently, the following example does not work from my testing.  Setting via `TempData["ErrorMessage"]` does work as expected

**Controller (abbrev)**
[code]

**View**
[code]

[2017-12-14 03:34] mmillican commented on #7130
Note, I see on #6601 Damian indicates it _should_ work on controllers also.  Maybe I'm missing something?

[2017-12-14 04:25] kiran-bobade opened #7131 "ASP.NET Core 2.0 API return 404 when startup.cs is in different assembly"
Hi

I have Startup.cs (_DefaultStartup.cs_) in different netstandard2.0 assembly named **CoreLib**. When I run **WebApplication**, it instantiates Startup class correctly at runtime but after that, it returns 404 when processing actual HTTP request.

If I move Startup.cs back to **WebApplication** it works fine.
If I create a new class in **WebApplication**  derived from DefaultStartup.cs and pass

[2017-12-14 04:27] kiran-bobade commented on #5222
@pranavkm Please see #7131

[2017-12-14 04:34] Eilon commented on #6926
Overall looks great to me. Some questions:

* It's not clear to me what the default value is for `AreasRootDirectory`. Is it just `Areas`? Do we allow customizing that for MVC? If not, why allow it for Razor Pages? If so, should it be the same option for Razor Pages as it is for MVC?
* When/why would you disable `DisableAutoAreasForRazorPages`? And why is the word `Auto` in there?

[2017-12-14 08:09] andrew-vandenbrink commented on #7118
Another one

[code]

[2017-12-14 10:46] omnoms opened #7132 "InvalidDataException: Form key or value length limit 2048 exceeded."
This is despite implementing the attribute that is mentioned in #481 and trying to post a file to the method.

[code]

What else/wherelse can I configure this to allow larger files?

Steps to reproduce:
- Create a new ASP.NET Core 2 Webapi project (Core 2.0.3 SDK)
- Modify the POST method in the valuescontroller.cs to match the above.
- Use Postman or your favourite tool to create a POST request w

[2017-12-14 14:00] rpokrovskij opened #7133 "Model Binding, complex type binder: it is impossible to create property list at run time."
Asp Core 2.

Use case: I have a meta model (as a class that at runtime has static instance) where it is described which fields are editable that means should be binded in MVC Controller. So I want to generate property list at run-time. When Asp.Core MVC standard binding model provides me only one possibility: to use `BindAttribute`.

My plan would be inherit from `ComplexTypeModelBinder`, setup it

[2017-12-14 15:55] Mardoxx opened #7134 "TDD friendliness and IActionResults"
TDD is meant to be incremental, and future code changes should not break existing tests -- as far as I understand it?.

If we have a controller method which returns an `IActionResult` via `BadRequest()` we can create a test to take the `IActionResult` check it can cast to `StatusCodeResult` and read status code. That's fine.

However if we then decide to return some message with this e.g. return `

[2017-12-14 17:24] rynowak commented on #7130
This is expected to work, we should investigate this.

[2017-12-14 17:29] mmillican commented on #7130
@rynowak Let me know if you need additional information to repro / debug.

[2017-12-14 17:39] rynowak commented on #7118
Using the same name for a parameter name and a property name of the corresponding model will cause model binding to behave this way. Model binding is going to look for `parameter.parameter` and `parameter.id` (in your first example)

Its not ideal, but a fix would change the defaults for everyone and would be massively breaking.

If you want a solution, use `[FromQuery(Name="")]` that will force i

[2017-12-14 17:51] pranavkm commented on #6926
* The default value is `/Areas`. We have `RazorViewEngineOptions.AreaViewLocationFormat` that allows specifying the directory paths for area view lookups. This defaults to `/Areas/{area-name}/Views/`. In a similar vein, we'd default to `/Areas/{area-name}/Pages` for Razor Pages. Like I noted earlier, the user would have to modify both `RazorPagesOptions.AreasRootDirectory` and `RazorViewEngineOpti

[2017-12-14 18:31] andrew-vandenbrink commented on #7118
ok, i can live with x as variable name...
but for the first issue when there is same name of razor page and folder?

[2017-12-14 18:40] Eilon commented on #6926
Got it, this sounds fine to me. I don't like the name `DisableAreas` either, so let's get a PM to sign off on the name.

[2017-12-14 19:22] Zogger12 commented on #6725
Hi,
Has there been any update on this problem?  I have updated to the latest Visual Studio 15.5.2, but I still cannot compile a new .Net Core 2.0 project out of the box on my work Windows 7.  I can make it work on my personal Windows 10 laptop, however....

[2017-12-14 19:28] danroth27 commented on #6725
@mkArtakMSFT

[2017-12-14 19:46] pranavkm commented on #6926
Spoke to @DamianEdwards and he's recommended `EnableAreas` that defaults to `true`.

[2017-12-14 20:08] pranavkm commented on #7131
Calling `UseStartup` resets the config value that drives `IHostingEnvironment.ApplicationName`. You need to re-order your calls to `UseStartup` and `.UseSetting(WebHostDefaults.ApplicationKey, Assembly.GetEntryAssembly().GetName().Name)` in `APIActivator`. You also need to use `Assembly.GetName().Name` and not `Assembly.FullName` as the value for `ApplicationKey`.

[2017-12-14 21:10] knightmeister opened #7136 "Html.ActionLink uses HtmlAttributes in place of Route Values where Route Values are null"
The following snippet worked as expected in ASP.NET MVC:

`@Html.ActionLink(Fields.New, "New", null, new { @class = "btn btn-success new-button" })`

Following my port to .NET Core, the action link which is built has the following markup:

`<a href="/items/new?class=btn%20btn-success%20new-button">New</a>`

Note that the query string is being built from the HTML Attributes parameter.

If I amend t

[2017-12-14 21:47] Eilon commented on #6926
Much better.

[2017-12-14 22:01] mkArtakMSFT commented on #7128
@JeffMarqMetrix, can you also share the exception details you're getting? Stack trace?

[2017-12-14 22:28] JeffMarqMetrix commented on #7128
System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not load file or assembly 'TestBackgroundApp, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Reflection.RuntimeAssembly.nLoad(AssemblyName fileName, String codeBase, RuntimeAssembly locationHint, StackCrawlMark& stackMark, IntPtr pPrivHo

[2017-12-14 22:28] JeffMarqMetrix commented on #7128
[code]

[2017-12-14 22:29] JeffMarqMetrix commented on #7128
Here are the exceptions from my output window:
[code]

[2017-12-14 22:44] mkArtakMSFT commented on #7132
Hi @omnoms. As you can see from the thread you've pointed to, we've added a new RequestFormLimitsAttribute attribute to configure the size limitation. As that's not released yet, you can look into how it used to be done in one of our samples, available [here](https://github.com/aspnet/Entropy/commit/d02700499ccf1a834aa6fab2c42e46d7a0f29063#diff-0e48b37f98ec9efe1cbe5f5259f15e39). You can use the re

[2017-12-14 22:59] mkArtakMSFT commented on #7134
Hi @Mardoxx. Please have a look at: https://github.com/aspnet/Mvc/issues/7078.

[2017-12-14 22:59] #7134 closed

[2017-12-14 23:03] Mardoxx commented on #7078
😢

[2017-12-14 23:15] JeffMarqMetrix commented on #7128
Maybe it's because the IoT Core Background Application underlying project type is actually a Windows Runtime Component? It just seems to me like it has something to do with reflection.

[2017-12-14 23:22] mkArtakMSFT commented on #7130
@mmillican, which version of ASP.NET Core do you have the issue with? Can you please provide a repro (maybe a zipped solution) or the project code hosted somewhere?

[2017-12-14 23:23] khellang commented on #7136
Looks like there's a difference in overloads between ASP.NET MVC and ASP.NET Core.

The overload picked in ASP.NET MVC looks like this

[code]

In ASP.NET Core, the following overload has been added

[code]

As you can see, the new overload has the same number of parameters, but has `controllerName` in the same position as `routeValues`. Since `string` is more specific than `object`, that overload

[2017-12-14 23:23] pranavkm commented on #7126
@lucassklp in a Razor Page, the value of the `Model` property comes from the `PageContext` that does not get initialized as part of `RenderAsync`. You can specifically initialize it's value before rendering it:
Here are the changes you'd have to do:

[code]

Feel free to re-open the issue if you have any further questions.

[2017-12-14 23:23] #7126 closed

[2017-12-14 23:45] pranavkm commented on #6725
@Zogger12 \ @gregbradley there's a superuser thread that talks about a similar issue - https://superuser.com/questions/825615/windows-wildcards-with-files-having-more-than-3-characters-extensions - that involves Windows 8.3 filenames. I couldn't reproduce the issue on a brand new VM with the 8.3 file names enabled, but perhaps it's borked on your machines. Could you run `dir /x` in your views \ pa

[2017-12-14 23:56] Mardoxx commented on #7078
This is dumb, why not just do it? https://github.com/aspnet/Announcements/issues?q=is%3Aissue+is%3Aopen+label%3A%22Breaking+change%22

[2017-12-15 00:27] Eilon commented on #7078
Hi @Mardoxx , we're working on a "minor release", which is 2.1, which has a very high bar for making breaking changes. In general we make breaking changes only in major releases, which will be 3.0. Also, the benefit has to outweigh the cost. In this case the benefit is quite small, and the cost of a breaking change is considered very high.

[2017-12-15 00:41] gregbradley commented on #6725
Here is the output from running `dir /x`...

![image](https://user-images.githubusercontent.com/6867679/34021197-9ac64f16-e18c-11e7-94c0-fffc11c7b3a0.png)

Still not obvious to me why (only) the _last_ `.CSH` file is included by the filter.

[2017-12-15 01:15] pranavkm commented on #6725
Thanks. I saw the same outputs when I was testing things and had it filter correctly. I guess the next step might be to work with someone more familiar with the OS file system.

[2017-12-15 05:58] HenrikTP opened #7137 "IViewLocalizer is cached?"
I have made an implementation of IStringLocalizerFactory and IStringLocalizer that works on a language resource db table.
Looking at examples and interface I implemented the IStringLocalizer so it takes a CultureInfo as constructor parameter and in my factory I use CurrentCulture in Create when constructing my stringlocalizers thus fixing my localizer to a specific culture. This also makes sense w

[2017-12-15 07:10] andrew-vandenbrink commented on #7118
@rynowak the first issue is different as the parameter name and property name already different

![image](https://user-images.githubusercontent.com/12871379/34030921-4dc58a28-e16f-11e7-8f35-b63942407557.png)

[2017-12-15 08:11] kiran-bobade commented on #7131
@pranavkm Thank you so much, Pranav! Really appreciate your help.
It's working now. 👍

[2017-12-15 08:11] #7131 closed

[2017-12-15 09:59] frankabbruzzese commented on #7133
@rpokrovskij , model binders are created by model binder providers that pass them the right data. On my blog I have a complete series of post on how to build model binders. The one below is about inheriting from the complex model binder: http://www.dotnet-programming.com/post/2017/03/17/Custom-Model-Binding-in-Aspnet-Core-2-Model-Binding-Interfaces.aspx

[2017-12-15 11:22] rpokrovskij commented on #7133
@frankabbruzzese I have started from your articles.
But I do not need providers, because in my use case "generate binder from model" I know exactly where to use my custom binder (one light binder per action) - so point it in the attribute is enough. What I need form mvc binding infratructure is to access to simple types "bindings/converters" (string -> datetime) .

Also I can't understand should I

[2017-12-15 11:35] yhvicey opened #7138 "System.IO.FileLoadException Exception occured when BaseIntermediateOutputPath is specified"
dotnet sdk version: 2.1.2
When specified BaseIntermediateOutputPath property in .csproj file and execute 'dotnet run', a FileLoadException will occur.
.csproj File:
[code]
Exception details:

[2017-12-15 13:29] omnoms commented on #7132
I've now implemented the attribute, but the it doesn't really map the form-data sent to the method.

I.e. I'm sending 2 files in the "files" key as form-data, it hits the method, but the files are not mapped properly to List<IFormFile> files... I get gibberish and a new exception...

I'll have to do more testing once I have more time.

[2017-12-15 13:34] rpokrovskij commented on #7133
You wrote "Create a meta data provider"... and register it globally and provide to it global meta model... So the architecture pushes me to register each peace of functionality globally (even if it can be accessed from the BI it is still global and only because it should work with MVC bindings model).

And it is not easy how you wrote, I spend several days even to understand most of what you are t

[2017-12-15 14:00] frankabbruzzese commented on #7133
In this custom complex model binder I create a nested scope to pass it a custom metadata provider:
https://github.com/MvcControlsToolkit/MvcControlsToolkit.Core/blob/master/src/MvcControlsToolkit.Core/ModelBinding/TransformationModelBinder.cs

Give a look to the code near .EnterNestedScope. You can't call directly another model binder, but you may invoke the whole model binding process on custom d

[2017-12-15 14:37] ardalis commented on #6633
Just ran into this with a client. Links to page weren't being built, and direct access resulted in 404. Took 15 minutes to realize this was the issue:

[code]
Either a tooling squiggle or a runtime error or both would be appreciated.

[2017-12-15 18:07] dscarmoz commented on #5822
What is the ETA on 5.2.4? Having the same issue Vinhaman stated 8/21 --- I've tried to update my project to .net core 2.0 and i'm having some issues with the 5.2.3 (it builds but fails on execution due to dependencies of System.Net.Http.Primitives ...)

[2017-12-15 18:53] Vinhaman commented on #5822
Hi @dscarmoz
My workaround for this and many other problems was to change the target framework in all my projects to framework 4.6.1 (everything .net core 2 still works just fine).
Took me a few days to change everything we had but now is running smooth

[2017-12-15 21:08] dscarmoz commented on #5822
I don't think that will work for me. I'm running on a linux stack in PCF and the available buildpacks do not support it.

[2017-12-15 22:07] rpokrovskij commented on #7133
@frankabbruzzese thank you, you are great. But I should say it is too much for me. To get this working  developer should become an ASP Model Binding guru (second after you, without a chance to be a first). I do not have such ambitions. Since  my goal is generate controllers from meta I  have a possibility to popup an entity from http request directly in method. It will be 100 times quicker (both d

[2017-12-15 23:11] pranavkm commented on #6904
Dup of https://github.com/aspnet/Mvc/issues/7105.

[2017-12-15 23:11] #6904 closed

[2017-12-15 23:13] pranavkm commented on #6934
@SoheilAlizade feel free to reopen once you have a sample repro.

[2017-12-15 23:14] pranavkm commented on #7001
@wind-rider could you share a sample app?

[2017-12-15 23:23] pranavkm commented on #7122
@mkArtakMSFT yes, it's fixed in dev.

[2017-12-15 23:27] kichalla opened #7139 "Add format filter mapping for xml formatters"
Seems like we [added](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/MvcJsonMvcOptionsSetup.cs#L82) mapping only for json formatter

We should do something similar to xml formatters too
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Xml/Internal/MvcXmlSerializerMvcOptionsSetup.cs#L36
https://github.com/aspnet/Mvc/blob/de

[2017-12-16 00:04] mkArtakMSFT commented on #7137
@ryanbrandenburg, any thoughts on this?

[2017-12-16 00:07] #7136 closed

[2017-12-16 00:13] mkArtakMSFT commented on #7138
@yhvicey, can you please provide a full sample to repro the issue?

[2017-12-16 00:30] mkArtakMSFT commented on #7122
Great that this is fixed in dev. I'm closing the issue.

[2017-12-16 00:30] #7122 closed

[2017-12-16 00:30] ryanbrandenburg commented on #7137
If I understand you correctly, you created a custom `IStringLocalizer` which uses the current culture at creation as its culture, rather than the current culture when the resource is retrieved.

If so, that's not how we generally expect people to use Localizers. Generally Localizers are assumed to be multi-cultural, defaulting to the `CurrentUICulture` at the time the resource is requested. See [h

[2017-12-16 02:37] mmillican commented on #7130
@mkArtakMSFT sorry for the delay here.  I believe it's 2.0.3 on that machine.  I'll get a repro to you over the weekend.

[2017-12-16 02:44] yhvicey commented on #7138
@mkArtakMSFT just create a new webapi project through dotnet cli and add BaseIntermediateOutputPath property, then run the project will repro. BTW my windows version is 1709. I'll try on linux later

[2017-12-16 02:57] yhvicey commented on #7138
@mkArtakMSFT Also occurred on ubuntu 17.10 with version 2.1.2

[2017-12-16 03:33] rynowak commented on #7118
Ok then someone needs to investigate this then... @Eilon @mkArtakMSFT

[2017-12-16 04:38] rynowak opened #7140 "Rewrite AuthorizeFilter in 3.0"
This class has accumulated some battle scars from some of the implementation choices that have been made and changed.

When we're able to do breaking changes we should start fresh and implement this in a clean way.

[2017-12-16 10:33] totht91 opened #7141 "SerializableError is technically a Dictionary<string, string[]>"
I've just found out that the `SerializableError` class is derives from `Dictionary<string, object>` but technically used as `Dictionary<string, string[]>` [link](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/SerializableError.cs#L49-L55).

Could you provide some information why does this class not derive from `Dictionary<string, string[]>`?

Maybe related: https://github

[2017-12-16 18:45] rynowak commented on #7141
In theory you could use any serializable object as the *values* - using `string[]` is just the common case. As to why it's important?  In theory you could have some structured data as the value, which would serialize like so (contrived example):
[code]

I haven't personally seen any usage of this class with different values, but I'm sure someone out there is doing it. Changing this would be a brea

[2017-12-16 22:26] serpent5 commented on #6660
I see a similar issue, but related to using `page` as a query-string parameter inside of a Razor Pages model. e.g.:

    public void OnGet(string page)

Using this, `page` is set to the path for the current page, which is unexpected. I'm seeing this when using `Microsoft.AspNetCore.All` 2.0.3 too.

The problem first showed up when using `int page`, which always comes out as `0` due the difference

[2017-12-16 23:56] Eilon commented on #7118
@andrew-vandenbrink thanks for the report and the details, we'll get someone to take a look at this.

[2017-12-17 04:36] seraphx2 commented on #3978
So we can, or we cannot, use asp-for tag helpers in Display/Edit templates?
Because it's now almost 2018 and these asp-for's are not working in my template.

[2017-12-17 04:51] seraphx2 commented on #3996
So we can, or we cannot, use asp-for tag helpers in Display/Edit templates?
Because it's now almost 2018 and these asp-for's are not working in my template.
Seems lame to come up with this whole idea that supplants the old HTML helpers and then to just definitively say: "nah, but we aren't going to support it here".

[2017-12-17 21:18] rynowak opened #7143 "Partial views path is incorectly resolved in ViewComponent"
_From @PavelBansky on November 19, 2017 23:13_

I have a ViewComponent called PagerViewComponent with corresponding View(s) stored in the `Views/Shared/Components/Pager`

The content of the directory is this:
[code]

Content of `Default.cshtml` is this
[code]

It all ends with runtime exception:
[code]

**Razor would not look to resolve the partial view inside the ViewComponent directory** `Views/

[2017-12-18 05:25] NTaylorMullen commented on #3996
@seraphx2 you're correct, they currently aren't supported for display/editor templates. However, @DamianEdwards has done work to provide TagHelper editor template implementations that do work. Take a look at [his repo](https://github.com/DamianEdwards/TagHelperPack).

[2017-12-18 06:01] seraphx2 commented on #3996
Thanks. I'll take a look.

[2017-12-18 09:21] totht91 commented on #7141
Thanks

[2017-12-18 09:21] #7141 closed

[2017-12-18 16:46] rynowak commented on #7081
@JeremySkinner is the problem here that the user wants to render the client side attributes more than once per-form? or more than once per-page?

[2017-12-18 16:48] JeremySkinner commented on #7081
@rynowak in this particular case it appears to be in the same form, but one is inside a partial view and one isn't.

[2017-12-18 16:53] rynowak commented on #7081
AH ok. If this is inside the same form, this this is definitely intended on our part. We can find a way to solve this though, but we block this by default on purpose.

[2017-12-18 16:55] JeremySkinner commented on #7081
Ok, thanks - that's good to know that it is actually intentional.

[2017-12-18 16:56] rynowak commented on #7081
For instance you can use this https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/FormContext.cs#L139 to 'forget' that you rendered a field.

[2017-12-18 17:56] pranavkm commented on #6660
@Temoxa could you file a new issue that details the issue you're running in to?
@serpent5 the term `page` like the terms `controller`, `action` or `area` is reserved by Mvc for routing and it's attempting to bind the route value. Unfortunately, there isn't a very good solution to this outside of using a different name.

[2017-12-18 18:54] mkArtakMSFT commented on #7138
@NTaylorMullen, can you please have a look? Thanks!

[2017-12-18 19:01] NTaylorMullen commented on #7138
@yhvicey if you remove the old base intermediate path (`obj` folder) you'll be able to build properly (it gets created when you `dotnet new`).

What's happening is that once you change the base intermediate path it starts restoring / building to a new path but leaves the old one behind. Since assembly attributes files are shoved into that directory they are doubly compiled (once for the `obj` fold

[2017-12-18 19:40] NTaylorMullen commented on #7138
https://github.com/dotnet/sdk/issues/1497

[2017-12-18 19:40] #7138 closed

[2017-12-18 19:51] #7071 closed

[2017-12-19 00:41] pranavkm commented on #7001
Feel free to reopen this issue once you have a sample to share. I suspect there's a outdated version of the SDK that might be causing this.

[2017-12-19 01:20] mkArtakMSFT commented on #7118
@andrew-vandenbrink, I've just validated the scenario you're describing here, but it worked just fine (see the image below). What version of the framework are you targeting? Can you share the project with a repro?

![image](https://user-images.githubusercontent.com/34246760/34135813-b283509e-e417-11e7-839b-6792c0331689.png)

[2017-12-19 04:28] javiercn opened #7145 "LocalRedirectExecutor should redirect to a well known endpoint instead of throwing when the URL is not local"
Right now LocalRedirectResult throws when the URL given to it is not local. This is not ideal as it ends up becoming a 500 and its not useful for many applications.
It would be better if instead, it redirected the user to a well known local endpoint (like ~/) by convention or by giving the user the ability to specify it on a per result basis or globally.

[2017-12-19 04:59] javiercn commented on #7145
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/LocalRedirectResultExecutor.cs#L54

[2017-12-19 11:41] mansoor-omrani commented on #727
Is it possible to open this topic again?

[2017-12-19 12:34] andrew-vandenbrink commented on #7118
@mkArtakMSFT  Looks like the first issue is a false alarm

[2017-12-19 14:28] Temoxa commented on #6660
My problem is resolved in version 2.0.3

[2017-12-19 15:54] johnkors commented on #5992
What name does this have now, @rynowak ? The `Microsoft.AspNetCore.Mvc.Testing` is unlisted.

[2017-12-19 16:20] pranavkm commented on #5992
@johnkors the package will be released as part of the 2.1.0 release. The unlisted version is there to reserve the package id on nuget.org.

[2017-12-19 16:48] Eilon commented on #727
@mansoor-omrani of course. Do you have an interesting scenario to share on this?

[2017-12-19 17:43] pranavkm commented on #7108
@JesperPetersenDk to clarify, is this what's happening in your application:

[code]

If so, this wouldn't quite work. Mvc requires that _ViewStarts and _Layout rendered as part of a view have the same model. One way to pass the data to your Layout would be use `ViewData`.

[2017-12-19 18:05] mkArtakMSFT commented on #7118
Thanks for confirming, @andrew-vandenbrink.

[2017-12-19 18:05] #7118 closed

[2017-12-19 19:31] sreejukg opened #7146 "dynamic routing in Razor Pages"
How can I control the razor pages routing. For e.g.  consider the scenario

In the file system, I have the following files.
a.cshtml
b.cshtml

now when the user request site/1 to render a.cshtml and site/2 to render b.cshtml. I would like to do this mapping during run time. Please suggest

[2017-12-19 19:40] davidliang2008 commented on #7112
I have the exact same issue! `@Url.Action()` and even the tag helper `asp-controller` and `asp-action` would have the route value pretended at the end of the URL.

And that route value looks like the id of the current request URL.

For example, if I have an edit page /product/edit/10 but I want to display edit links for other products on that page, those links would look like

/product/edit/10?id=

[2017-12-19 22:02] pranavkm opened #7147 "Ensure RazorPages in an area are not route-able through root based paths when root directory and area root directory overlap"
See https://github.com/aspnet/Mvc/pull/7135#discussion_r157549019 for further discussion

Consider this scenario:

[code]

In this case, we want to ensure that the two routes registered are /Areas/First and /MyArea/Second

[2017-12-19 22:07] pranavkm opened #7148 "Use CompatSwitch feature to enable the areas feature for Razor Pages"
See further discussion here: https://github.com/aspnet/Mvc/pull/7135#discussion_r157335722

Essentially have `RazorPagesOptions.EnableAreas` be driven by a compat switch (https://github.com/aspnet/Mvc/pull/7142) that is off by default.

[2017-12-19 22:07] rynowak commented on #7147
We should report `/Areas/First.cshtml` as a warning, and perhaps ignore it. It's in the areas root, which takes precedence, but it can't be assigned an area.

[2017-12-19 23:03] #6926 closed

[2017-12-19 23:21] pranavkm commented on #7146
@sreejukg you can use `AddPageRoute` on `RazorPagesOptions.Conventions` to do this. For e.g. https://github.com/aspnet/Mvc/blob/47287c508ee43c4f30b8000400fda1b01f68bfe2/test/WebSites/RazorPagesWebSite/Startup.cs#L23.

There's also a work item to support `RouteAttribute` on a page \ page models - https://github.com/aspnet/Mvc/issues/6605

[2017-12-19 23:33] mistakenot commented on #7033
I've had an initial attempt at this in the PR above with a few comments.

[2017-12-20 03:18] mansoor-omrani commented on #727
I think so.

It might be slightly long to describe the scenario and write it codes.

Should I post the whole story and its code here?

[2017-12-20 10:30] johnkors commented on #5992
Gotcha. Found it on MyGet as https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.Mvc.Testing

[2017-12-20 17:57] Eilon commented on #727
@mansoor-omrani it might make more sense to post a new issue that covers the scenario you're after. We can then decide how it is best to implement it.

[2017-12-20 18:32] pranavkm commented on #727
Btw, I know @javiercn was asking about something similar.

[2017-12-20 18:41] muqeet-khan opened #7150 "FileStreamResult needs Read&Write permission?"
I am creating this issue because I am not sure if this was the case in previous versions, but, does FileStreamResult need read & write permission for IIS_IUSRS on the resource in order to be served?

**Environment**
Visual Studio - 15.5.2
AspNetCore - 2.0.3
Published to IIS 8.5

**Repro Project**
I have a simple repro project that you can use and publish to IIS at https://github.com/muqeet-khan/Vi

[2017-12-20 18:49] benaadams commented on #7150
Add `FileAccess.Read` as last param when creating the FileStream
[code]

[2017-12-20 19:21] benaadams commented on #7150
You could use a `PhysicalFileResult` rather than the `FileStreamResult`+`FileStream`?

[code]

[2017-12-21 07:51] mansoor-omrani commented on #727
@Elion The topic is the same, but ok. I post the idea/feedback as a new issue as you say.

This way the excavating the previous idea out of the dusts might make it be implemented eventually. I believe it is a useful feature. Although implementing it is a little tricky, I think it is feasible.

@pranavkm I couldn't find @javiercn's post. Could you direct me to his post?

[2017-12-21 08:14] mansoor-omrani opened #7152 "Supporting open generic models in Views"
**The story:**

The idea came to my mind when summarizing multiple views using partials. I thought it would be great if we could define partial views with open generic models.

I thought at first to post the idea in ASP.NET uservoice website. When I searched there, I noticed the idea was suggested a few years ago [https://aspnet.uservoice.com/forums/41201-asp-net-mvc/suggestions/2706166-support-fo

[2017-12-21 08:37] mansoor-omrani commented on #7152
**Intro**
Suppose we need to implement an administration panel for a website consisting of various modules, such as Blogs, Photos, News, Products, etc.

**Data Layer**
We are using EF code first for our models and data layer.

**Model objects**
We use a base class for all of our model classes as below.

[code]

We use this structure to provide the following features:
- Auditing : when a record is

[2017-12-21 08:54] mansoor-omrani commented on #7152
For the administration panel we create an **"Admin"** area in our MVC application.

There, for each module, we create a controller. So, we have a BlogController, NewsController, PhotoController and ProductController.

I don't go through the code of the data layer, repositories, the controllers and their actions. They are not our concern.

I go right to the Views which is the topic of this post.

*

[2017-12-21 09:18] mansoor-omrani commented on #7152
This is now, when the idea/requested features starts.

It would be a great help if we could define a generic View like AdminGrid.cstml this way:

[code]

This way we are extracting the repetitive or common HTML code out of all of our views into this single View. This is somehow following the DRY principle.

Notice that I used two generic Html.Partial<T>() method calls in this AdminGrid View, namel

[2017-12-21 09:29] mansoor-omrani commented on #7152
This was the whole scenario.

I will explain potential problems we have in front of us when implementing this feature in future comments.

Because, when I looked at MVC's source code, I noticed that it's not that easy to implement this feature as it seems in the first glance (what I personally thought too at first!).

The key point is, we need to carry the generic T, from the top api, like View<T>

[2017-12-21 14:04] mansoor-omrani commented on #7152
Now, why we need a generic View&lt;T&gt;() method in our controllers? Why we can't call the old View() method in our actions to return a View whose model is generic?

The reason is that, the View cannot be instantiated without its generic parameters known.

Suppose the following View which has a generic IEnumerable<T> model.

[code]
Let's suppose these Views are supported now.

The generated C# cl

[2017-12-21 21:42] nfplee opened #7153 "Set Layout Page Outside of the View"
I was wondering if it's possible to set the Layout page outside of the view? Please see the following for a more detailed explanation of what I'm looking for:

https://stackoverflow.com/questions/47928384/asp-net-core-set-layout-page-outside-of-the-view

If this is not possible it might be a future idea to add a hook somewhere to allow for this.

[2017-12-22 07:46] rue-vmom opened #7154 "IFormFile.CopyToAsync() causes an exception on 2nd+ execution"
I get the following exception after calling my controller on the 2nd and subsequence calls:
[code]

The first call to this controller action works, but the 2nd time will produce this exception until a restart:
[code]

Switching to use IFormFile.CopyTo() gets rid of the error, but it's no longer async.  Thanks!

[2017-12-22 09:05] RehanSaeed commented on #6790
Another vote for `[BindRequired]` to be implicit on value types.

There is a [nice blog post](https://www.strathweb.com/2017/12/required-and-bindrequired-in-asp-net-core-mvc/) on how you can force the `[Required]` attribute to also behave like `[BindRequired]`, thus removing the need to use `[BindRequired]` completely. Also, this has the added benefit of removing the dependency on MVC, since `[Req

[2017-12-22 09:06] RehanSaeed commented on #6944
There is a [nice blog post](https://www.strathweb.com/2017/12/required-and-bindrequired-in-asp-net-core-mvc/) on how you can force the `[Required]` attribute to also behave like `[BindRequired]`, thus removing the need to use `[BindRequired]` completely. Also, this has the added benefit of removing the dependency on MVC, since `[Required]` is in the `System` namespace.

[2017-12-22 14:47] nfplee commented on #7153
I've just found the following https://stackoverflow.com/questions/39870298/how-do-i-specify-different-layouts-in-the-asp-net-core-mvc. The solution is not ideal as again it requires you to modify the view.

[2017-12-22 15:00] pranavkm commented on #7153
You could use a `IViewLocationExpander`. Here's the `LanguageViewLocationExpander` that adds search paths based on the request culture -https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/LanguageViewLocationExpander.cs#L91. Alternatively, you could calculate the path in your `_ViewStart.cshtml` instead of doing it in a result filter:

[code]

[2017-12-22 15:24] nfplee commented on #7153
Thanks @pranavkm, I have added my answer to the Stack Overflow question incase it helps anyone else out.

[2017-12-22 15:24] #7153 closed

[2017-12-22 15:47] Oftime117 opened #7155 "ASP.NET Core [.Net Framework 4.7] Too many generated dll after build"
Hi,

I have a solution containing a web API project using ASP.NET Core 2.0.1 (targeting .Net Framework 4.7).
Everything works fine but when I build this project (using VS2017 UI,  whether in Debug or Release), it generates a number of unused dlls.

I seem to have the same issue as #7009, the difference being that I am targeting .Net Framework and not .Net Core (therefore I cannot use the workaroun

[2017-12-22 15:51] dustinmoris commented on #6233
Hi, I got here from https://github.com/aspnet/Razor/issues/1212 and see this issue is closed but I am still experienced the original problem. Has this been tested before closing the issue?

[2017-12-22 16:30] pranavkm commented on #7154
You need to define the action as `async Task` not `async void`.

[2017-12-22 17:54] rynowak commented on #727
What would you use this for and why is it hard using the existing feature set? Can you provide an example?

[2017-12-22 18:41] javiercn commented on #7041
Apparently the build completely disappeared from the history on the CI, and the test are all passing now.

I've looked at the code for the two offending tests above and there is nothing to suggest an issue related to the message above (modifying a collection while enumerating it). Without a call stack is impossible to figure out what the actual issue was, so closing this until it reproduces again.

[2017-12-22 18:41] #7041 closed

[2017-12-22 18:42] javiercn commented on #7038
I'm closing this as by design.

The solution is simply to extend WebApplicationTestFixture and override CreateWebHostBuilder to create the builder yourself (and depend on this class for your tests)

[2017-12-22 18:42] #7038 closed

[2017-12-22 18:52] #7105 closed

[2017-12-22 19:26] rynowak opened #7156 "Update compatibility infrastructure in 3.0"
# Summary
The new compatibility infrastructure introduced in 2.1 will need to be updated in 3.0 to rationalize our overall philosophy for breaking behavior changes.

The basic idea is: when we introduce a **change** in existing behavior in a minor release, we make it opt-in to avoid creating barriers for users to update to the latest ASP.NET Core. We make these changes for a good reason, and we be

[2017-12-22 19:44] rynowak opened #7157 "Update compatibility settings"
# Summary

With the new compatibility settings infrastructure, we need to update our existing compatibility settings and other behavior changes to make our philosophy for how these should work.

Here's a most-wanted list of our settings and progress:
- [x] `MvcOptions.AllowBindingUndefinedValueToEnumType` 82e3224
- [x] `MvcOptions.InputFormatterExceptionModelStatePolicy` bf61ce2
- [x] `MvcOptions.

[2017-12-22 19:47] rue-vmom commented on #7154
Ahh yes, thank you!

[2017-12-22 19:47] #7154 closed

[2017-12-22 22:10] javiercn commented on #6233
@dustinmoris I’ve perused through that issue and seems like it’s an issue with razor missing references to assemblies.

I put together a blog post a while ago on how to do this.
https://blogs.msdn.microsoft.com/webdev/2017/12/07/testing-asp-net-core-mvc-web-apps-in-memory/ can you try the instructions in the blog post (and related sample) and let me know if you still have issues?

[2017-12-23 08:41] mansoor-omrani commented on #7152
I was thinking that what happens if our view has a generic model with multiple generic types.

`
@model MyModel<T, U>
// ...
`

Clearly, we can no longer use the generic View&lt;()&gt; method in Controller class.

I think the correct way to implement this feature is to add overload methods with a Type[] array argument to which we can pass an array of types that are required when instiating from th

[2017-12-23 09:28] dustinmoris commented on #6233
@javiercn Thanks that works, but that feels extremely complex for a simple unit test project for a razor MVC app. Hope this can be simplified one day...

[2017-12-23 16:16] javiercn commented on #6233
@dustinmoris This will actually be simplified in the next release. See https://github.com/aspnet/Announcements/issues/275 for details.

[2017-12-23 16:46] drauch commented on #6233
Shadow copying is still required to be turned off? That's a bummer : (

[2017-12-23 19:00] kinetiq commented on #4988
@rsheptolut  That is very helpful, even a year later. I'm sure a lot of people are still finding this.

One small tweak on the ModelMetaDataKind... Based on what I'm seeing, it should be Property:

[code]

[2017-12-23 19:54] rsheptolut commented on #4988
@kinetiq Yep, you're probably right :)

[2017-12-24 15:35] yhvicey opened #7159 "How to publish a self-contained project with customized view folder?"
dotnet version: 2.1.2

Here's my project folder structure:

[code]

I configured `ViewLocationFormats` in Startup.cs like this:

[code]

When I published and run my project I got an exception when I visit Home/Index:

[code]

Open `<project-name>.PrecompiledViews.dll` in ILSpy, there isn't any class in it.
And if I copied `src/Views` folder to publish folder another exception will occur:

[code]

[2017-12-26 15:03] pranavkm commented on #7159
@yhvicey there's quite a few pieces of the Razor system that assume the `cshtml` extension. I'd recommend using it to avoid issues like this. If you do insist on having the extension, add the file to precompilation using [`MvcRazorFilesToCompile`](https://github.com/aspnet/MvcPrecompilation#options) option:

[code]

[2017-12-27 09:01] John0King commented on #7046
May I Ask   why there need  `RouteData.Values`  instead of `ActionDescriptor.RouteValues` ?
I always have trouble when in `[controller]/[action]/{Classify}/{SubClassify}`  and try to goto `[controller]/[action]/{Classify}` ,  the `UrlHelper` generate the same url when I not  specify  `SubClassify ` as `null`

[2017-12-27 13:23] yhvicey commented on #7159
@pranavkm It works after I changed .html to .cshtml. Thanks.

[2017-12-27 13:24] #7159 closed

[2017-12-27 15:53] ashleybaldock commented on #7152
+1 to this, I just spent a little while puzzling out that you can't do this (trying to setup a partial view to render pagination controls for various pages with different models, taking a PaginatedList<T>). You can do this without explicitly specifying the @model type but it would be nice to have support for @model to check it.

[2017-12-27 17:41] mkArtakMSFT commented on #7155
@Oftime117, which specific assemblies do you think are unused?

[2017-12-27 17:53] #7150 closed

[2017-12-27 18:07] #7146 closed

[2017-12-27 18:29] mkArtakMSFT commented on #7112
This issue was moved to aspnet/Routing#504

[2017-12-27 18:29] #7112 closed

[2017-12-27 18:33] #7108 closed

[2017-12-27 18:47] mkArtakMSFT commented on #7081
Hi @JeremySkinner. Do you expect any other actions here?

[2017-12-27 19:02] JeremySkinner commented on #7081
No - please feel free to close. Thanks for the explanations.

[2017-12-27 19:07] mkArtakMSFT commented on #7140
@rynowak, what are the specific problems you'd like to be addressed?

[2017-12-27 19:08] mkArtakMSFT commented on #7130
@mmillican, any progress regarding providing a repro?

[2017-12-27 19:12] mkArtakMSFT commented on #7132
@omnoms, do you have any updates regarding this?

[2017-12-27 19:21] mkArtakMSFT commented on #7128
@glennc, do you have any contacts who can help us with this?

[2017-12-27 21:46] Tratcher opened #7160 "Determine if the temp data cookie is considered essential"
RE: aspnet/Security#1561

When this new policy is applied all non-essential cookies will be suppressed. We need to determine if temp data cookie is considered essential by default.

Does MVC issue any other cookies?

@blowdart

[2017-12-27 22:43] rynowak commented on #7160
I personally think it should be non-essential, but we should make sure users can configure this. I'd say our guidance is that it's non-essential, but plenty of folks will consider it essential (per-app basis).

If you are using temp data for key functionality, there are all kinds of ways you could break. GDPR just adds another. It's very similar to the kinds of guarantees that are associated with

[2017-12-27 22:47] Tratcher commented on #7160
It's already configurable here:
https://github.com/aspnet/Mvc/blob/350c4ec4f6b377749e00b421ba5540badcb4c808/src/Microsoft.AspNetCore.Mvc.ViewFeatures/CookieTempDataProviderOptions.cs#L39

[2017-12-27 23:16] rynowak commented on #6233
MVC needs to be able to find the view files on disk to be able to do compilation. This is also relevant if you have any other file content that you are serving. If you don't need to do any of these things you should be OK to use shadow copying.

If you do need these things, let's talk, I'd love to understand what you think we could do to improve this.

[2017-12-28 00:08] rynowak commented on #7140
## Summary
Here's the version from a current PR (soon to be merged): https://github.com/aspnet/Mvc/blob/819d2017d106bd0758a2999fd435bf52e75e2f56/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs

This has been a serious hotspot for us in terms of significant changes - mostly due to requirement changes and a few legitimate bugs. Since this type shows up in user-code, and is frequen

[2017-12-28 00:40] blowdart commented on #7160
Now we need to define essential :) Are there other ways of passing temp data without a cookie? If so, this is not essential.

[2017-12-28 00:52] rynowak commented on #7160
Yes, you can use session. BTW in case it's not clear, I'm already arguing that it's non-essential.

Would we say that our guidance if you're under GDPR is to use session and declare that as essential?

[2017-12-28 04:14] javiercn commented on #7037
_For triage:_

This can be easily achieved by extending ```WebApplicationTestFixture``` and calling the constructor below with the path to your assembly. You only need to extend this class once to reflect your convention and can be used in all your tests.
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Testing/WebApplicationTestFixture.cs#L60

[code]

[2017-12-28 10:44] habex-ch opened #7161 "RemoteAttribute and multiple submit button doesn't work together"
I have a ViewModel with a Property which uses a RemoteAttribute
[code]
My form in the View have beside MyProperty multiple submit buttons.

[code]
When I click on the DoSomethingElse-Button the path goes to the DefaultAction instead the OtherAction.

The RemoteProperty itself works fine. The DoSomethingElse-Button works fine if I remove the RemoteAttribute from the myProperty.

[2017-12-28 10:56] drauch commented on #6233
View files and content is found by setting the content directory accordingly, that's not an inherent problem with shadow copying turned on. However, it is important that the compilation-time assembly references for Razor compilation are properly shadow copied. I hope this second issue is resolved by the infrastructure, at the moment, we have to do the copying ourselves.

We need it primarily to ru

[2017-12-28 14:01] rogaps commented on #7130
Perhaps you should read the value with `@TempData["TempDataProperty-ErrorMessage"]`. But in my [test](https://github.com/rogaps/Mvc/commit/76f7bab8940c891012e8c91e0c1e8847b474ca5f), it won't be available until the next request, which is different from controller's `TempData` property. I am not sure if it is by design or a bug.

[2017-12-28 16:21] mmillican commented on #7130
@mkArtakMSFT Sorry, I haven't been able to yet with the Holidays.  I'll try to get it this week still.

[2017-12-28 17:06] pranavkm opened #7162 "Update CombineAuthorizeFilters to use CompatSwitch"

[2017-12-28 17:07] rynowak commented on #7162
Dupe of #7157

[2017-12-28 17:07] #7162 closed

[2017-12-28 17:24] mkArtakMSFT commented on #7133
Thank you, @frankabbruzzese for your effort here.
@rpokrovskij, do you have any specific proposal here?

[2017-12-28 17:51] mkArtakMSFT commented on #7161
Hi @habex-ch. Can you please share a complete sample to repro the behavior?

[2017-12-28 18:23] rpokrovskij commented on #7133
@mkArtakMSFT my proposals are 1) to provide a sample with @frankabbruzzese proposed solution. it is a real case, there is nothing very specific  "to create Binded properties list" run time. But it is too complex to try explain it in words "go and implement your own IMetadataProvider " (where there are no samples of it).
What about solution specific to me: since I understand that controller generat

[2017-12-28 18:47] mkArtakMSFT commented on #7161
This works fine for me, so would be happy to see your sample.

[2017-12-28 18:58] Eilon commented on #7160
And MVC "depends" on the anti-forgery cookie.

[2017-12-28 19:11] Eilon commented on #7160
From a discussion with @Tratcher and @mkArtakMSFT we need to take one of the following actions:
1. Mark the cookie as essential
2. Mark the cookie explicitly as non-essential, even though it's the default, but also place a comment there stating why we decided that

[2017-12-28 19:12] javiercn commented on #6233
@drauch are you doing this already on your tests? If so, how are you setting up the content root?

[2017-12-28 21:42] mkArtakMSFT commented on #6877
@danroth27, @rynowak what's is the status of this? Should this be pushed out to some future release (like 3.0.0)?

[2017-12-28 21:44] mkArtakMSFT commented on #7081
Thanks @JeremySkinner!

[2017-12-28 21:44] #7081 closed

[2017-12-28 23:29] pranavkm commented on #7148
Dup of https://github.com/aspnet/Mvc/issues/7157.

[2017-12-28 23:29] #7148 closed

[2017-12-28 23:32] pranavkm commented on #7006
@mkArtakMSFT self assigning for 2.1.0-preview1 milestone. This involves relatively small work for a decent payoff.

[2017-12-29 00:32] mkArtakMSFT commented on #7145
@danroth27, any thoughts regarding this?

[2017-12-29 00:37] mkArtakMSFT commented on #7137
@HenrikTP, did @ryanbrandenburg's answer help?

[2017-12-29 05:14] simpadat opened #7166 "JSON naming strategy not being applied to @model"
I'm in the process of updating a MVC website to .Net Core and run into this issue: https://github.com/aspnet/Mvc/issues/4842

Which is fine. I applied the fix to get the proper serialisation, but ran into an issue where passing a model to a page via @model. The property names are being camelCased even though I've told MVC to use the DefaultContractResolver.

**Startup.cs:**
[code]

**Model**
[code

[2017-12-29 17:56] mkArtakMSFT commented on #7166
@simpadat, can you please share the full project with a repro?

[2017-12-29 17:58] mkArtakMSFT commented on #7160
Guys, it seems we all agree here that TempData cooke is not essential. @kichalla, can you please make the required change?

[2017-12-29 18:25] mkArtakMSFT commented on #7127
Hey @dougbu, at what point this change has been made? Was this change made in .Net Core 1.0 or later timeframe?

[2017-12-29 18:34] mkArtakMSFT commented on #7113
@nenadvicentic, can you pleas share a sample project with a repro?

[2017-12-29 18:40] mkArtakMSFT commented on #7110
@gthelp, can you please share your sample project so we can repro? Also, would be great to get the fiddler traces.

[2017-12-29 19:05] rynowak commented on #7157
@kichalla had a dope idea about whether or not all of these should be enums instead of booleans. Let's plan to discuss this when we're all back in the office after new years.

[2017-12-29 21:31] dougbu commented on #7127
@mkArtakMSFT what "change" are you asking about? We're simply missing a `RenderPartial(...)` overload in ASP.NET Core. That is, that overload has never existed in https://github.com/aspnet/Mvc Looks like a straight-up gap.

And, no, `viewData.Model ?? htmlHelper.ViewData.Model` is incorrect and would break back-compatibility with both ASP.NET MVC and earlier ASP.NET Core MVC releases.

Separately,

[2017-12-29 22:50] mkArtakMSFT commented on #7127
@knightmeister, looks like you've figured out the right way to handle it already, using the `RenderPartialAsync`.

[2017-12-29 23:11] mkArtakMSFT commented on #7106
@scottsauber, can you please share a sample project we could use to repro the issue?

[2017-12-29 23:57] simpadat commented on #7166
I've created a simple reproduction of the issue here: https://github.com/simpadat/TestMvcNaming

Hopefully not just a combination of using React.ASPNET with MVC...

[2017-12-30 00:12] dougbu commented on #7127
&hellip; that said, we should keep this issue open and add the missing extension method. Agreed @mkArtakMSFT?

[2017-12-30 01:06] #6399 closed

[2017-12-30 01:08] #6423 closed

[2017-12-30 02:56] #6547 closed

[2017-12-30 05:29] John0King commented on #7166
I believe  it's an issure of  React.AspNet

[2017-12-31 13:02] rmarinho commented on #6759
yeah i wanted this scenario to work.. my idea is i have a couple of Partials that i get via ajax and load them on Modal window, i populate them using something like this ..

` <a id="createRoleModal" data-toggle="modal" asp-page-handler="AddEditApplicationRole" data-target="#modal-action-application-role" class="btn btn-primary"> `

And this is hitting ok my Handler, but i wanted to return the Par

[2018-01-01 00:02] rynowak opened #7171 "Improve MVC logging at INFO level"
I think we have a few important gaps in the logging info that comes from MVC by default (`INFO`). You can **almost** use the log statements to understand your performance, but we need to add 3-4 things to make is useful.

Here's the current state - with some of my notes..
[code]

Problems:
- Can't easily tell when MVC matched an action and what route it used
- Can't tell how much time was spend in

[2018-01-01 16:56] ctaggart opened #7172 "please keep CI green in 2018"
Last time the dev branch passed CI tests was December 10. That was 22 days ago. Projects that do not maintain CI are much more difficult to contribute to. Here is how far I have to zoom out at https://github.com/aspnet/Mvc/commits/dev to see the last green CI checks.

![image](https://user-images.githubusercontent.com/80104/34469296-a834b04a-eefa-11e7-923b-2bfe08707b63.png)

[2018-01-01 23:35] DamianEdwards commented on #7172
@pranavkm

[2018-01-02 04:40] AceCoderLaura opened #7177 "Loading Controllers at Runtime"
Loading a dll into the appdomain does **not** cause the controller within to be hosted.

[code]

Controller (in a dll in the Controllers folder):
[code]
What do I have to do to get it hosting as though it were referenced at compile time?

Sample here:
https://www.dropbox.com/s/nph2le655p219io/MvcSample.7z?dl=0

[2018-01-02 08:08] sreejukg commented on #7146
How can I do routing during runtime, for e.g.
I have the below pa
/products/electronics/1
/products/electronics/2
I have a database entry for each products and I have a field that indicates whether product video is available for the product. Now based on this field I would like to route the request to
/TemplateWithVideo
/TemplateWithoutVideo
The routing should happen runtime, the moment the option

[2018-01-02 08:47] sreejukg opened #7178 "Dynamic Routing"
I am posting this based on #7146
How can I do routing during runtime, for e.g.
I have the below pa
/products/electronics/1
/products/electronics/2
I have a database entry for each products and I have a field that indicates whether product video is available for the product. Now based on this field I would like to route the request to
/TemplateWithVideo
/TemplateWithoutVideo
The routing should happ

[2018-01-02 09:18] khellang commented on #7177
I haven't tested this, but I think something like this might work:

 1. Implement `IActionDescriptorChangeProvider` and register the implementation in the service collection. You should be able to use this to invalidate the action descriptor cache and reload new action descriptors based off your application parts.
 2. Inject `ApplicationPartManager` and add the new assembly as using an `AssemblyPa

[2018-01-02 10:45] habex-ch commented on #7161
The problem is even more complex. It only occurs if the model is actually a subclass of the used model class.

[WebApplication.zip](https://github.com/aspnet/Mvc/files/1597333/WebApplication.zip)

[2018-01-02 11:42] MookieFumi commented on #3410
I'm trying to test an action thats return a Razor View and I'm experiencing some troubles because always is returning a 404. If I check the stacktrace the exception is **_"An unhandled exception has occurred: The view 'About' was not found"._**

The view exists in the folder.
![image](https://user-images.githubusercontent.com/4056557/34482752-51f777b0-efba-11e7-9e4c-ea583db04db9.png)

This my test

[2018-01-02 12:53] HenrikTP commented on #7137
Hi!
Yes @mkArtakMSFT , @ryanbrandenburg 's answer was very helpful, thank you.
That explains why things work like they do.

/Henrik

[2018-01-02 12:53] #7137 closed

[2018-01-02 15:03] markusbrueckner opened #7179 "Support RFC 6570 URI templates in IUrlHelper"
When trying to generate RFC 6570-compliant URI templates, Url.Action (and cousins) step on my toes quite a bit. Suppose I have a URL-handler like this
[code]
When trying to get a route for this using `Url.Action`, I have to set the `id` portion of the value object or else no URL will be returned. What I ideally want would be a URL like `/some/path/{id}` in case the id is missing. Simply setting th

[2018-01-02 16:59] pranavkm commented on #7172
cc @ryanbrandenburg

There's an issue with the .NET 4.7.1 that AppVeyor images have picked up which result in runtime failures. We attempted to downgrade to an older image, but that started failing too:

* https://github.com/dotnet/standard/issues/567
* https://github.com/aspnet/Mvc/pull/7069

Unfortunately neither of the suggested workarounds are very good - we don't want to retarget our tests si

[2018-01-02 17:21] pranavkm commented on #7177
@khellang's suggestion sounds workable. We generally don't dereference properties off of `ApplicationPartManager`, so things like the `ControllerActionDescriptorProvider` always get the "current" values, and controller discovery should just work. That said, like options types, I'm not certain if `ApplicationPartManager` is designed to be modified at runtime. There are types like Razor reference ma

[2018-01-02 17:24] mkArtakMSFT commented on #7172
So what is the plan, do we just wait for .Net 4.7.2 to roll out? @pranavkm, @ryanbrandenburg?

[2018-01-02 17:27] pranavkm commented on #7172
That was sort of what I think we had settled on when we originally discovered the failures. The other alternative would be to skip running .NET 461 tests on AppVeyor. Essentially https://github.com/aspnet/Mvc/pull/7173, but modified to skip .NET 461 tests specifically on AppVeyor. Note that this affects any repo that uses one of the types listed in https://github.com/dotnet/standard/issues/567 (`V

[2018-01-02 17:38] mkArtakMSFT commented on #7179
@markusbrueckner, just to confirm I understand your ask properly: you're looking for a way to generate a parametrized route. In the example you've provided, that would be "/some/path/{id}" as specified in the routing template.

@rynowak, any thoughts regarding this?

[2018-01-02 17:55] danroth27 commented on #7179
The route template syntax used in ASP.NET Core is not RFC 6570 compliant and we don't have any plans to make it so. Changing the behavior of how link generation works would also be a significant breaking change.

[2018-01-02 17:55] #7179 closed

[2018-01-02 17:59] pranavkm commented on #7172
Sure, another possibility. Certainly less heavy handed than turning off all net4x tests.

[2018-01-02 18:12] danroth27 commented on #7178
If you want to render a different template depending on whether the product has an associated product video or not, you can do that with an `@if` statement in your Razor page without having to route to a different page. See https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor#control-structures for details.

[2018-01-02 18:12] #7178 closed

[2018-01-02 18:14] mkArtakMSFT commented on #7171
@jbagga, can you please look into this?

[2018-01-02 18:19] mkArtakMSFT commented on #7166
@simpadat, this indeed looks like an issue with React.AspNet. You should file a new issue with the owners of that package: https://github.com/reactjs/react.net

[2018-01-02 18:19] #7166 closed

[2018-01-02 18:22] mkArtakMSFT commented on #7127
@dougbu, I'll leave this for you to handle.

[2018-01-02 18:31] khellang commented on #7177
Right, but `ControllerActionDescriptorProvider` itself uses it to get the controller types, right? And the default `IActionDescriptorCollectionProvider` caches descriptors, so it needs to be invalidated to fetch descriptors from controllers in new application parts.

As I said, I haven't tested this, but from looking at the code, it seems like it should work, event if it necessarily wasn't designe

[2018-01-02 18:48] mkArtakMSFT commented on #7133
@rpokrovskij, unfortunately we have no any plans to make such improvements in this area.

[2018-01-02 18:48] #7133 closed

[2018-01-02 19:46] alexsandro-xpt commented on #7177
@AceCoderLaura Is this tips above work? Are you testing within View .cshtml files?

[2018-01-02 20:23] ryanbrandenburg commented on #7172
I support @rynowak's suggestion, it minimizes the test loss and keeps things discover-able.

[2018-01-02 20:55] ryanbrandenburg commented on #7172
I volunteer as tribute to skip the offending tests for `net461`.

[2018-01-02 21:33] dougbu commented on #6928
@benaadams your branch looks pretty good. We might have a couple of comments on your PR (when you create a PR) but I didn't see any design flaws. The main question is whether expanding the Linq expression tree degrades performance. More specifically, does the larger tree and the larger compiled expression translate to significantly higher memory utilization?

We've done a few end-to-end investigat

[2018-01-02 21:41] #7006 closed

[2018-01-02 21:55] benaadams commented on #6928
Opened PR https://github.com/aspnet/Mvc/pull/7181

[2018-01-02 21:58] AceCoderLaura commented on #7177
I'm testing with the sample project provided. I'll start testing these options now.

[2018-01-02 22:29] WinInsider opened #7182 "HttpPost in POCO Controller, without FromBody"
How to receive *complex type* from JSON body of HTTP POST request in POCO controller without FromBody attribute?

[2018-01-02 22:33] AceCoderLaura commented on #7177
`IServiceCollection.AddMvc().AddApplicationPart(myControllerAssembly);`
Works great. Nothing else is required.

Thanks, all.

[2018-01-02 22:37] #7177 closed

[2018-01-02 22:57] dougbu commented on #6596
5778f44bf7

[2018-01-02 22:57] #6596 closed

[2018-01-03 04:38] rynowak commented on #7172
https://github.com/aspnet/Mvc/pull/7184

[2018-01-03 05:01] rynowak commented on #7172
OK the current round of breaks are fixed now. 64259fe

I'm not going to make excuses for things being broken. @ctaggart thanks for pointing this out, the CI being broken like this is unacceptable.

I also want to remind everyone on the team that we're all empowered to fix something like this. If you don't know what to do, it's always OK to do **try** and do the right thing. If we decide on a bette

[2018-01-03 05:02] #7172 closed

[2018-01-03 07:47] drauch commented on #6233
We are simply setting the content root to the web app's project directory within the solution. We know that this may interfere with the tests, but it is better than the other way: always copying the static content and views to the shadow copy location.

[2018-01-03 17:31] mkArtakMSFT commented on #7182
Hey @WinInsider, why don't you want to use the FromBody attribute? In ASP.NET Web API that attribute was "assumed" and implicit for complex types. In ASP.NET Core, that attribute is not assumed, but required, so users should explicitly specify it for complex types. In the coming release of ASP.NET Core, we are looking to bring back that convention.

[2018-01-03 17:38] #7147 closed

[2018-01-03 17:42] mkArtakMSFT commented on #7161
@kichalla, can you please look into this?

[2018-01-03 17:48] WinInsider commented on #7182
I am totally hooked on POCO Controllers, architecturally is such a purist approach... The driving motivation is to not have any "noise", without [ApiController], [HttpPost], or [FromBody]... POCO Controllers are very light (no external  type dependency) on "user code".

Please do consider bringing back implicit inference of complex types.

Am using .net core in new project (for web api middle tier

[2018-01-03 18:08] mkArtakMSFT commented on #7145
@javiercn, please work with @danroth27 to come up with a solution...

[2018-01-03 18:12] mkArtakMSFT commented on #7132
@omnoms, please let us know if you are still facing this issue. If so, please also provide a sample project to repro it.

[2018-01-03 18:12] #7132 closed

[2018-01-03 18:14] #7155 closed

[2018-01-03 18:26] mkArtakMSFT commented on #7103
Closing as a dupe.

[2018-01-03 18:26] #7103 closed

[2018-01-03 18:27] mkArtakMSFT commented on #7029
@thanhnntq, have you tried the suggestion from @NTaylorMullen?

[2018-01-03 18:29] mkArtakMSFT commented on #6993
@pranavkm, can you please look into this?

[2018-01-03 18:38] mkArtakMSFT commented on #7104
The documentation here shows how to access InputStream:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpcontext.request?view=aspnetcore-2.0#Microsoft_AspNetCore_Http_HttpContext_Request

Also, this one will help you with XmlFormatters configuration:
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding#binding-formatted-data-from-the-request-body

[2018-01-03 18:38] #7104 closed

[2018-01-03 18:52] mkArtakMSFT commented on #7087
@NTaylorMullen, are you aware of any scenarios, where the tag helper introduced by @Remleo can cause issues?

[2018-01-03 20:30] NTaylorMullen commented on #7087
If you're looking to provide a `string` value for your route value you will end up having issues. You'll need to save your string value to a variable before setting it to the attribute.

[2018-01-03 22:30] mkArtakMSFT commented on #7051
@pranavkm, can you please handle this?

[2018-01-03 22:34] mkArtakMSFT commented on #7037
Let's add support to look up only the "src" folder, as that's the most common structure people have.

[2018-01-03 22:45] mkArtakMSFT commented on #6952
@jerickmsft, thanks for your feedback. However, we do not plan to add a new overload, as that would be a breaking change.

[2018-01-03 22:45] #6952 closed

[2018-01-03 23:11] pranavkm commented on #7051
@mkArtakMSFT we specifically chose not to port the helper over - see https://github.com/aspnet/Mvc/issues/5846. Is the plan to port them?

[2018-01-04 00:09] kichalla commented on #7160
I was planning to the following:
- Mark the cookie explicitly as non-essential and a (private) comment in our code.

Questions:
- Should we throw an exception when CookieTempDataProvider is being instantiated by checking the options and if false?. This way the users immediately know that they need to explicitly configure it to true.
- If we set this to be non-essential by default, when users upgra

[2018-01-04 00:16] Tratcher commented on #7160
That exception sounds overkill. If consent has been given then it will work fine.

The compat issue is being handled at by the CookiePolicy options. There's no breaking change for existing apps, behavior will only change for new apps.

[2018-01-04 00:43] Eilon opened #7187 "multi dimensional array or dictionary binding doesn't work"
_From @mhamri on January 2, 2018 6:13_

I was able to use following code in asp.net mvc but it's not working in asp.net core and i can't see any other solution rather than writing a custom model binder. i tried whatever solution was out there on the internet but look like it's not working properly.
I am using asp.net core 2.0

`ScoresViewModel.cs`

[code]

`index.cshtml`

[code]

[code]

I can see

[2018-01-04 00:44] Eilon opened #7188 "Question: specifing non dafault encoding"
_From @msvaillant on January 3, 2018 17:56_

Good day, I am writing with a question to you, because have found no exact tutorials for my problem.

On our project we need to deal with 8-bit encoding for data transfer and we need exactly ISO-8859-6 encoding for JSON and HTML output of aspnet core webservice. And server would be on Linux. Netcoreapp 2.0.  So the question is :
1. How to produce Json i

[2018-01-04 02:15] javiercn commented on #7037
@mkArtakMSFT I actually had a better idea the other day, but want to chat with @rynowak about it.

[2018-01-04 09:28] TimRowe opened #7189 "Where should the CSS file associated with a single page be placed"
In ASP.NET MVC5, we can put the css in view folder.
But in ASP.NET Core, view folder shoud not contain css/js.
We can put the global css/js in wwwroor. But how about the resource file just associated with single page?
Any suggestions？

[2018-01-04 09:41] Whathecode opened #7190 "Can not retrieve cookie-based TempData after Google authentication with account selection in Google Chrome"
Using ASP.NET Core 1.1, I set up cookie-based `TempData`. Within this key/value store, I stored temporary data prior to logging in to an external login provider (Google) which I retrieved in the callback of the authentication request.

This worked and I do not recall any problems with this.

I now upgraded to ASP.NET Core 2.0. One of the changes made is cookie-based `TempData` is now configured by

[2018-01-04 11:01] msvaillant commented on #7188
Maybe, there is a way to enforce ASPNET Core to rely on Accept-Charset for this task and to tell framework what encoding to use?
The Accept-Charser header doesn't change the flow at all by default (I tried with Postman - I just get utf-8 response), `RespectBrowserAcceptHeader` = true also affects only Accept header itself.

I tried to force needed charset on the request with ` Response.Headers["Co

[2018-01-04 13:21] #7182 closed

[2018-01-04 13:57] derhally opened #7191 "AddMvc/DefaultAssemblyPartDiscoveryProvider don't load parts in app assembly"
Controllers will not load from the main entry point assembly if the startup or configuration of the app is in assembly other than the entry point assembly.

In this scenario we are providing a library that contains all the startup and configuration functionality for our app.   Developer use that to bootstrap their app.   Their controllers won't be loaded if they exist in an an assembly that that i

[2018-01-04 14:21] derhally commented on #7191
As a workaround I modified the `Startup.ConfigureServices` in my framework assembly to do the following

[code]

However, not sure this should be something we are required to do.

[2018-01-04 14:22] joseftw opened #7192 "Can't get localization to work by following the guide provided in the docs"
Im using Microsoft.AspNetCore.All 2.0.3

I've created a new MVC project from Visual Studio.
I've followed the guide here to setup localization: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

I've added culture specific language files:
* Resources/Controllers.HomeController.en-US.resx
* Resources/Controllers.HomeController.sv-SE.resx
* Resources/Views.Home.Index.en-US.resx

[2018-01-04 14:39] m-henderson commented on #7189
just organize the css file in your www/css folder. Then link to it in _Layout.cshtml.

[2018-01-04 14:48] dmitriyett commented on #6224
@davidfowl will I be able to modify headers after I start writing to response body?

[2018-01-04 14:52] davidfowl commented on #6224
No

[2018-01-04 15:45] TimRowe commented on #7189
![image](https://user-images.githubusercontent.com/5651857/34571382-57eb1b4a-f1a9-11e7-9909-24a346c26ea7.png)

[2018-01-04 15:49] TimRowe commented on #7156
Any 3.0.0 roudmap?

[2018-01-04 16:10] rynowak commented on #7156
3.0 is a **very** long way away, so no 😆

[2018-01-04 16:11] rynowak commented on #7156
Any items that we place in the 3.0 milestone are just tracking for cleanup we can do when we get there, there's no active planning going on for 3.0

[2018-01-04 17:38] danroth27 commented on #6922
@rynowak Could you please provide some details on what this is?

[2018-01-04 17:40] #6864 closed

[2018-01-04 17:43] danroth27 commented on #6786
@pranavkm @rynowak What work is still pending here?

[2018-01-04 17:51] rynowak commented on #6786
100% of it.

[2018-01-04 17:52] rynowak commented on #6922
https://github.com/aspnet/Mvc/pull/6936

[2018-01-04 17:53] danroth27 commented on #6670
Not worth doing - closing

[2018-01-04 17:53] #6670 closed

[2018-01-04 18:19] #4603 closed

[2018-01-04 18:20] danroth27 commented on #4603
This was done as part of https://github.com/aspnet/Mvc/issues/6790

[2018-01-04 18:22] pranavkm commented on #6786
Setting up a meeting with @rynowak for Monday to figure out how much work this would be. This should give us an idea on what we want to do with this item for preview1.

[2018-01-04 18:23] danroth27 commented on #1819
@DamianEdwards Moving this to preview 2. Do we need this in 2.1? Should this be part of the Tag Helpers project?

[2018-01-04 18:26] rynowak commented on #1819
I still don't understand how this would work.

[2018-01-04 18:54] pranavkm opened #7193 "Add fallback folder to Razor Pages"
With the advent of Razor Pages in class libraries, we'd like to allow a way for application authors to "override" certain pages. The convention here is to place any overrideable files under the directory `Shared`.

* Routing for files under the fallback directory will use the path relative to the fallback directory e.g. `/Pages/Dir1/Shared/Home.cshtml` will have the route `/Dir1/Home`.
* The file

[2018-01-04 18:57] pranavkm commented on #7193
cc @rynowak \ @DamianEdwards

A couple of questions:

1. In the above example, what happens if `/Pages/Shared/Dir1/About.cshtml` does `<partial name="_Partial" />`?
2. Does this also apply to areas? Does. `/Areas/Account/Pages/Manage.cshtml` overrides `/Areas/Account/Pages/Shared/Manage.cshtml`?

[2018-01-04 19:47] omnoms commented on #7132
I'm currently on parental leave and not much time to do further testing. So it's fine to close this, however the issue prevails with the standard settings. The workaround will have to do for now.

[2018-01-04 20:24] mkArtakMSFT commented on #6576
Closing as there was no response for a long period of time. Feel free to reopen this, if you feel it's something you really need.

[2018-01-04 20:24] #6576 closed

[2018-01-04 20:27] mkArtakMSFT commented on #6703
@NTaylorMullen, can you please look into this?

[2018-01-04 20:45] mkArtakMSFT commented on #6372
@kichalla can you please check whether this has been fixed? @rynowak thinks this may already be fixed.

[2018-01-04 20:47] mkArtakMSFT commented on #6371
@sebastienros, what is the status of this?

[2018-01-04 20:48] mkArtakMSFT commented on #6361
@kichalla, this one may be fixed too. Can you please review this too? Thanks!

[2018-01-04 20:53] mkArtakMSFT commented on #6298
We're mangling the generated class names now, which makes this not an issue.

[2018-01-04 20:53] #6298 closed

[2018-01-04 20:56] mkArtakMSFT commented on #6285
@dougbu, can you please handle this during preview2 timeframe? Thanks!

[2018-01-04 20:58] mkArtakMSFT commented on #6238
We don't want to cause noise from people who have no F# tools installed.

[2018-01-04 20:58] #6238 closed

[2018-01-04 21:02] #5843 closed

[2018-01-04 21:27] rynowak commented on #6361
I doubled checked and we never actually did fix this. The linked bug was closed as a duplicate.

[2018-01-04 22:16] Whathecode commented on #7190
I did some further debugging by duplicating the [`CookieTempDataProvider`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/CookieTempDataProvider.cs) and naming it `CustomCookieTempDataProvider` and registering this one in `Startup.cs`:

`services.AddTransient<ITempDataProvider, CustomCookieTempDataProvider>();`

This allowed me to see what happens whe

[2018-01-05 02:00] rynowak commented on #7190
@Tratcher do you think this could be a browser cookie-size limit?

[2018-01-05 02:30] clement911 opened #7195 "ModelState error "Request timed out." on OnActionExecutionAsync"
I'm using asp.net core mvc 2.0 on full .net and I'm experiencing an issue in an azure prod web app that I don't understand.

I have a custom `IAsyncActionFilter` and in the `OnActionExecutionAsync` I inspect `context.ModelState` and sometimes there is an error saying "Request timed out." (Key is empty string)

If I understand correctly OnActionExecutionAsync executes directly after the model bindi

[2018-01-05 05:23] rynowak commented on #7195
My guess is that it's an issue similar to this:  https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Formatters/InputFormatterExceptionPolicy.cs#L15

Is there an exception in the model state as well? (look in the debugger).

@kichalla - we should make sure we're logging something good in this case.

[2018-01-05 05:58] rynowak commented on #7083
This seems like a good candidate for an analyzer. I can't think of a reason why we'd tell someone you **should** use the non-async version.

@hach-que - are you calling any ASP.NET Core from inside of a sync-context? what code introduced the sync-context?

We don't generally account for sync contexts anywhere in ASP.NET Core - which is a change from older ASP.NET. We might need some guidance or wa

[2018-01-05 06:09] rynowak commented on #6956
Closing this because it seems like it's been answered. If I missed anything people create a new issue.

[2018-01-05 06:09] #6956 closed

[2018-01-05 06:12] rynowak commented on #6854
This was fixed in https://github.com/aspnet/Razor/pull/1366 - I believe that means that it's fixed in VS 15.5

[2018-01-05 06:12] #6854 closed

[2018-01-05 06:14] Tratcher commented on #7190
It may be an issue with the SameSite setting. The auth flow includes a stop at google's login page, when you enter your credentials and continue the new redirect flow now considers google the origin and excludes same site cookies from any subsequent requests. We had to disable SameSite for all of the auth cookies because of this.

[2018-01-05 06:34] saurabh9694 opened #7196 "Thanks"
I was facing the same issue. After loading a partial view, the properties of my model were having older values.
After applying, ModelState.Clear(), the issue was resolved and the older values of Model were replaced by Current Value.

[2018-01-05 06:50] hach-que commented on #7083
What's happening here is

- Razor executes the view using an async call.
- The partial call does Wait on a partial, without awaiting (because Partial on it's own is not async).
- There are no more task slots available, so you get a deadlock (the view can't complete because it's synchronously `Wait`ing on the partial internally, but the partial can't complete because the task can't be scheduled).

[2018-01-05 08:45] clement911 commented on #7195
I don't get it.
Is there something I can do to avoid the problem?

[2018-01-05 09:00] Whathecode commented on #7190
@Tratcher That sounds likely. I'll try to change `SameSite` through [`CookieTempDataProviderOptions`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.cookietempdataprovideroptions.cookie?view=aspnetcore-2.0#Microsoft_AspNetCore_Mvc_CookieTempDataProviderOptions_Cookie):

Tonight I will try whether setting this to `Lax` fixes the issue. `Lax` seems default for [`CookieBuilder`]

[2018-01-05 13:33] msvaillant commented on #7188
well, I mastered it to work some way withing inheriting from `JsonOutputFormatter` like:
[code]

So maybe issue can be closed. I can do some contribution to docs with description and samples of formatting and encoding of request. But is going to be rare case.

[2018-01-05 15:23] kyleherzog opened #7197 "Using a type from a .Net Standard Library with AssemblyCulture set throws FileNotFoundException"
If I try to use a class from a .Net Standard library in a asp.net core project I get a FileNotFoundException referencing the .dll file of the .Net Standard library.  The error message displayed also references the following exception: "ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information." This error shows up on

[2018-01-05 16:30] pranavkm commented on #7197
Could you include the stack trace for the exception?

[2018-01-05 17:38] Tratcher commented on #7190
SameSite is a new standard and we're still figuring out all of the ramifications. Temp data is assumed to be for page-to-page operations, I don't know if we anticipated using it to span an auth flow.

[2018-01-05 18:24] rynowak commented on #7195
Sorry, I don't think I provided enough information.

It's possible that an input formatter is swallowing another exception - like the one with this message:
https://github.com/aspnet/KestrelHttpServer/blob/dfaf37cbba684a9913b79ec68fdf5ad18378c170/src/Kestrel.Core/CoreStrings.resx#L189
https://github.com/aspnet/KestrelHttpServer/blob/6584a8b5fdaba0a79c52b981cac88472bcc92d1a/src/Kestrel.Core/BadHttp

[2018-01-05 18:25] rynowak commented on #7195
The behavior around input formatters swallowing all kinds of exceptions is getting an update in 2.1, which is what I linked. In the future this will just throw and bubble up the stack instead of being confusing.

[2018-01-05 19:01] mkArtakMSFT commented on #7188
@kichalla, do you think there is anything else to add here, or the solution @msvaillant came up with is the desired one?

[2018-01-05 19:09] Whathecode commented on #7190
To report back on @Tratcher's suspicions, this is definitely related to the `SameSite` option. Setting `SameSite` to `SameSiteMode.Lax` in `Startup.ConfigureServices()` resolves the reported issue.

[code]

I will leave the issue open as it might still need to be investigated what the desired/expected behavior should be here.

[2018-01-05 19:12] mkArtakMSFT commented on #7196
Hi @saurabh9694. Not sure what this was related to but sure we're glad you've got a solution to your problem.

[2018-01-05 19:12] #7196 closed

[2018-01-05 19:12] Tratcher commented on #7190
Note with SameSite cookies are not deleted from the client, they are only excluded from requests where the user action originated on some other site. The users next request on your site would include the cookie.

[2018-01-05 19:14] mkArtakMSFT commented on #7192
@ryanbrandenburg, can you please look into this? Thanks!

[2018-01-05 19:20] DamianEdwards commented on #7190
@blowdart @Eilon @danroth27
This becomes a question regarding our defaults and whether using `Strict` is really the right choice for cookies emitted by the framework that are required to make our features function correctly. Also, whether subsequently changing them is breaking.

My initial thought is the Temp Data cookie **shouldn't** be strict be default, as it's already protected from tampering

[2018-01-05 19:29] DamianEdwards commented on #7191
I believe this is by design. Did you try overriding the application's understanding of the "application" assembly like this? https://github.com/DamianEdwards/AspNetCoreVbHybrid/blob/master/VbHybrid/Program.cs#L23

[2018-01-05 19:32] DamianEdwards commented on #7191
And by "by design" I mean we scan only the "application" assembly, which is configurable and isn't necessarily the entry point assembly, but rather the one that the `Startup` class is located in.

[2018-01-05 19:43] rynowak commented on #7190
Yeah, I'm don't believe that we understood this implication when we made this change.

[2018-01-05 19:43] Whathecode commented on #7190
@DamianEdwards I don't know how authoritative [Open Web Application Security Project (OWASP)](https://www.owasp.org/index.php/SameSite) is, but they seem to imply that `SameSite` should default to `Lax`:

This is correctly implemented in [`CookieBuilder`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.cookiebuilder?view=aspnetcore-2.0). It is weird [`CookieTempDataProvider`]

[2018-01-05 20:05] dougbu commented on #7127
1fa1d7df3e

[2018-01-05 20:05] #7127 closed

[2018-01-05 20:12] halter73 commented on #7195
@clement911 It's likely that you have clients uploading at less than 240 bytes/sec. If you want to allow lower upload rates, look at the "Minimum request body data rate" section of [this guide](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#how-to-use-kestrel-in-aspnet-core-apps).

[2018-01-05 20:35] kyleherzog commented on #7197
Here is the stack trace info...
System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.
   at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
   at System.Reflection.RuntimeAssembly.get_DefinedTypes()
   at Microsoft.AspNetCore.Mvc.ApplicationParts.AssemblyPart.get_Types()
   at Mi

[2018-01-05 20:41] dougbu opened #7201 "`ErrorPageTests.RuntimeErrorAreListedByErrorPageMiddleware` appears to be flakey"
This test fails about 50% of the time according to http://aspnetci/project.html?projectId=Lite&testNameId=4673085777387545249&tab=testDetails This started about the time 7d64990a696780c5e08225726352880aed858d0e went in. So, I'm assigning to @pranavkm

/cc @ryanbrandenburg in case we need a different investigator in hopes of a faster fix.

[2018-01-05 21:21] pranavkm commented on #7197
@kyleherzog the docs for [`AssemblyCulture`](https://msdn.microsoft.com/en-us/library/system.reflection.assemblycultureattribute(v=vs.110).aspx#Anchor_6) says that the attribute is only meant to mark satellite assemblies. Satellite assemblies cannot contain code, only culture specific resources. Why do you set a value for the attribute?

[2018-01-05 22:59] kyleherzog commented on #7197
I don't need the value, and my fix for the situation is to just remove it.  I've historically set the attribute just because it is a part of the default AssemblyInfo.cs template.  However, it doesn't seem like it should break the entire site by being there.  I can use the .Net Standard library with the AssemblyCulture set in a Xamarin project without issue.

[2018-01-05 23:05] kichalla commented on #7188
Adding the encoding into a formatter's encoding list is the desired approach here, but you need not create a new formatter. Instead access the in-built jsonoutputformatter and the encoding to it.
[code]

[2018-01-05 23:35] kichalla commented on #7188
Regarding

You can set the charset on the view result itself explicitly. For example, if you want to change the encoding of all viewresults in your application to a specific charset (you can lookup accept-charset header too), you could do:

[code]

cc @dougbu

[2018-01-06 00:15] dougbu commented on #7127
@mkArtakMSFT FYI I've corrected the milestone because this fix is in.

[2018-01-06 00:46] dougbu commented on #5822
- bab520f4dd
- aspnet/HttpClientFactory@ded365f1ec
- aspnet/Universe@cedbbd8394

[2018-01-06 00:46] #5822 closed

[2018-01-06 01:25] khellang commented on #7191
You can also set it to `null`, which will make it fall back to the entry assembly 😊

[2018-01-06 09:47] msvaillant commented on #7188
Oh, thank you, @kichalla, your solution is the best one I have seen on that type of question. I found my solution only having dive into asp.net core source code and some unit tests, sometimes examples on custom formatters, but no ideas on the Razor.

Greatly thank you. You solved my problems!

P.S. That was specific case, where we were not able to use Unicode and its variations. Does .net communit

[2018-01-06 10:30] joseftw commented on #7192
I just tried this again by cloning my own repo, and now it works. It's really weird, only thing I've done is that I've rebooted my computer. I guess that you can close this issue if you can't reproduce it... :)

[2018-01-06 14:45] kichalla commented on #7161
@habex-ch I was unable to use your repro project as it is, so i created a new one which tried to do things similar to what you have tried and I cannot repro it there. The remote validation happens successfully.

[2018-01-06 14:59] kichalla opened #7203 "Consider Accept-Charset when resolving content encoding for view results and jsonresult"
Filing this after working on the issue https://github.com/aspnet/Mvc/issues/7188 : Question: specifing non dafault encoding

We currently do not consider Accept-Charset when trying to find the response content's encoding to be used. Following are the places we currently use the `ResponseContentTypeHelper` type to resolve the encoding:
https://github.com/aspnet/Mvc/search?utf8=%E2%9C%93&q=ResolveCo

[2018-01-07 00:30] dougbu commented on #7044
FYI @mkArtakMSFT and @danroth27: I've got time to do this one and have moved it into Preview1.

[2018-01-07 01:13] dougbu commented on #7091
@danroth27 @mkArtakMSFT this doesn't "need design" if others agree with my preferences above. But, more importantly, what milestone should I fix this in? Should fit in Preview1 if you think it's urgent. (Certainly ugly that the "index" key is busted.)

[2018-01-07 03:14] dougbu commented on #6730
FYI @mkArtakMSFT and @danroth27: I've got time to do this one and have moved it into Preview1.

[2018-01-07 06:08] DaveWut commented on #6596
Hi @dougbu! Do you know if the changes of commit 5778f44 will be released as a patch for version 2.0.x or it will be released in the next minor (which is normally 2.1.x if I'm correct)? Thanks!

[2018-01-07 23:31] clement911 commented on #7195
Thanks @halter73  this is making sense.
I think it's fair enough to throw an error if the client is too slow, however the message should be much more explicit IMO. Feel free to close this ticket if needed. I do hope the message gets clearer in the future.

[2018-01-07 23:49] rynowak commented on #7195
Personally, I think the problem with clarity is that MVC's model binding is swallowing the exception. You'd have a really clear view of what's going on from the call stack otherwise.

Do you have a suggestion for what other information you'd want to see in the error message? Keep in mind these messages are not intended to be user facing, they are for the developer or someone looking at the logs of

[2018-01-07 23:54] clement911 commented on #7195
When I read "Request timed out" I immediately thought of a performance issue with my app. If the message had said something like "The configured minimum request body data rate was breached. Terminating request.", it would have been much clearer. A link to documentation on how to tweak the rate would be ideal.

[2018-01-08 00:20] rynowak commented on #7195
Thanks! I'm going to move this issue to the Kestrel repo so those folks can figure out how to improve this error case.

[2018-01-08 00:21] rynowak commented on #7195
This issue was moved to aspnet/KestrelHttpServer#2245

[2018-01-08 00:21] #7195 closed

[2018-01-08 01:37] rynowak commented on #5746
Tracking this work here - https://github.com/aspnet/Razor/issues/1739 we do plan to do this for 2.1

[2018-01-08 01:37] #5746 closed

[2018-01-08 01:37] rynowak commented on #6820
Tracking this work here - https://github.com/aspnet/Razor/issues/1739 we do plan to do this for 2.1

[2018-01-08 01:37] #6820 closed

[2018-01-08 01:38] rynowak commented on #6256
Dupe of https://github.com/aspnet/Mvc/issues/6193

[2018-01-08 01:38] #6256 closed

[2018-01-08 10:48] habex-ch commented on #7161
@kichalla Why couldn't you use my repro? Did you get any error?

I tested it further. It seems the model inheritance doesn't matter.
It seems the error only occurs when you do not change the value of the property in the browser. I tested this only on IE11.

[2018-01-08 11:26] dustinmoris opened #7208 "FileStreamResult writes to response body for HTTP HEAD when range processing is enabled"
Hi,

I was reviewing some code in order to see how ASP.NET has implemented streaming and I came across something which I believe is a bug, but I haven't tested it, so forgive me if I'm wrong.

I have noticed that if there is a [HTTP HEAD request](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/FileResultExecutorBase.cs#L101) made where range processing is en

[2018-01-08 12:26] mbonatsos opened #7209 "Issue with multipart/form-data post and json.net deserializtion (using interfaces)"
We use the aspnetcore 2.

We have configured JsonOptions in startup like this.
[code]

In our controller we have 2 methods
1. The first one is called PostUrlencoded in which we make a http post request with content-type : application/x-www-form-urlencoded.
[code]
2.. The second one is called PostΜultipart in which we make a http post request with content-type : multipart/form-data.
[code]

The fir

[2018-01-08 13:09] abhinavnigam opened #7210 "Not able to build project"
After cloning the the sourcecode. While executing  "dotnet build mvc.sln". Getting below error

C:\Program Files\dotnet\sdk\2.1.3\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.TargetFrameworkInference.targets(135,5): error : The current .NET SDK does not support targeting .NET Core 2.1.  Either target .NET Core 2.0 or lower, or use a version of the .NET SDK that supports .NET Core 2.1.

[2018-01-08 13:16] dustinmoris commented on #7208
Actually I think [line 309](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/FileResultExecutorBase.cs#L309) is wrong too, because the request might not even have a range header during a http HEAD request and yet `serveBody` is set to `true`.

[2018-01-08 13:21] dustinmoris commented on #7208
I think this bug has been introduced, because a `HEAD` should return the same metadata as a `GET`, except the HTTP body which should not be sent during a `HEAD` request according to the [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html):

The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response. The metainformation contained in the HTTP h

[2018-01-08 14:03] tangdf commented on #7209
If you use the Fromform attribute, the model's binding is not using JSON.NET.

[2018-01-08 14:14] mbonatsos commented on #7209
Why is this happening?

In the http request is sent like this
[code]

Shouldn't this be deserialized?

[2018-01-08 15:52] rynowak commented on #7210
Please use the instructions here: https://github.com/aspnet/Home/wiki/Building-from-source
(Linked from https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md and https://github.com/aspnet/Home/blob/MVC/CONTRIBUTING.md)

Let us know if there's a problem with these instructions

[2018-01-08 16:03] derhally commented on #7191
Thanks @DamianEdwards, that works for me and is better than the workaround that I was doing.

@khellang , passing in null gives me an exception

[code]

[2018-01-08 16:03] #7191 closed

[2018-01-08 16:22] khellang commented on #7191
Ah, sorry, looks like the code to handle `null` in application name was changed for 2.1, so it's not yet released: https://github.com/aspnet/Hosting/pull/1178

[2018-01-08 17:51] mkArtakMSFT commented on #7209
@mbonatsos , can you please share a sample project with us to reproduce the issue?

[2018-01-08 17:56] mkArtakMSFT commented on #7208
@jbagga, can you please look into this? /cc: @Tratcher

[2018-01-08 18:02] Tratcher commented on #7208
Yeah, SetRangeHeaders needs its own Head check.

[2018-01-08 18:08] danroth27 commented on #7128
Hi @JeffMarqMetrix,

We don't yet support running ASP.NET Core in a Windows 10 IoT Core Background Application. It's not something we currently test or support. It is on our radar to add this support, but we don't have a roadmap to share at this time. The issue tracking adding this support is https://github.com/aspnet/Home/issues/2116 and we will update the issue once we have more concrete plans.

[2018-01-08 18:08] #7128 closed

[2018-01-08 18:13] #7188 closed

[2018-01-08 18:18] mkArtakMSFT commented on #7197
@kyleherzog, this is by design, according to the documentation @pranavkm had referenced. It looks like it's not correct for Xamarin apps either.

[2018-01-08 18:18] #7197 closed

[2018-01-08 18:19] mkArtakMSFT commented on #7201
@ajaybhargavb, please have a look at this. If the fix is small, we may be able to pull it into preview 1. For now assigning this to preview 2 milestone.

[2018-01-08 18:22] mkArtakMSFT commented on #7190
@kichalla, can you please handle this? Thanks!

[2018-01-08 18:24] ryanbrandenburg commented on #7192
When I run your sample app I get all the expected results. I tried fiddling with a couple things to see if I could get it back into a failure state but no dice. Let us know if you run into this again, otherwise closing this one.

[2018-01-08 18:24] #7192 closed

[2018-01-08 18:29] mkArtakMSFT commented on #7189
@TimRowe, your static files should be in wwwroot folder. However, it's possible to organize it as you wish. If you're looking for community opinion on this topic, StackOverflow may be a better place for this question.

[2018-01-08 18:29] #7189 closed

[2018-01-08 18:45] ajaybhargavb commented on #7201
Looking in to this

[2018-01-08 18:47] kichalla commented on #7161
I took a second look at the original post and sorry I missed the actual issue that was described there.

Yes, I am able to repro what you are seeing, but I do not think its a bug. You are trying to change the form action dynamically on submit of either buttons. For this you can you use Javascript to do so. An example, from the web, on how to do so is here: http://javascript-coder.com/html-form/htm

[2018-01-08 18:59] ajaybhargavb commented on #7201
I can consistently reproduce this when running in net461. It works fine in netcoreapp2.0. Investigating more.

[2018-01-08 19:10] Eilon commented on #5822
@dougbu should we log another bug to update to 5.2.4 RTM? Though it's not likely we'll *forget* to do that, it's good to have an item tracking stuff we know we have to do.

[2018-01-08 19:29] dougbu commented on #5822
Well, if you weren't OOF, I would have asked *you* just that 😺 I'll file one&hellip;

The other thing I would have asked an in-person @Eilon: bab520f4dd requires users to remove a previously-required `<PackageTargetFallback>` element or similar "must use PCL assembly" workaround from their projects. Should we document that as a full-blown breaking change? (I lean toward marking this bug with the l

[2018-01-08 19:46] Eilon commented on #5822
Or leave the bug as-is, but post a breaking-change announcement about it. THat'll be especially helpful for release notes, etc.

[2018-01-08 19:46] mkArtakMSFT commented on #7203
Thanks @kichalla. Assigning back to you so you can handle it.

[2018-01-08 19:54] dougbu opened #7212 "Consume RTM Microsoft.AspNet.WebApi.Client.5.2.4 package"
Follow-on to #5822.

Blocked until the RTM Microsoft.AspNet.WebApi.Client.5.2.4 package ships. But, we should fix this issue soon after that release.

[2018-01-08 19:54] dougbu commented on #5822
See #7212 for the follow-on work.

[2018-01-08 19:56] dougbu commented on #7125
Starting to survey all `IFilterMetadata` implementations. But, it's not clear yet whether I'll fit this into Preview1.

[2018-01-08 20:01] ajaybhargavb commented on #7201
acd6f7b064e4aaeac50d71a0a91c3ef02c56a523

[2018-01-08 20:01] #7201 closed

[2018-01-08 20:07] HaoK commented on #6995
73bd09dc1c8abe2ff71cd33679fa17ebd04ff189

[2018-01-08 20:07] #6995 closed

[2018-01-08 20:31] kichalla commented on #7139
I realized this could be a breaking change. Example:

If a user has the following code currently (because we didn't add the format mapping earlier) and I checked in my change (where I set the mapping xml => **application/xml**), then they would now see `application/xml` instead of `text/xml` as the mapped content type.

[code]

**Workaround:**
It could be fixed if the user did the following if I c

[2018-01-08 21:47] Eilon commented on #7139
Exactly which mapping(s) would you want to be added by default?

[2018-01-08 23:18] kichalla commented on #7139
Just like the JsonOutputFormatter which has 'json' => 'application/json', I was thinking of using 'xml' => 'application/xml'

[2018-01-08 23:54] mkArtakMSFT commented on #6730
Thanks @dougbu!

[2018-01-08 23:56] dougbu commented on #6730
Misapplied the Done label, sorry.

[2018-01-09 00:54] jernejk opened #7214 "Action Filters returns an empty body in asp.net-core 2.0"
I have same problem as https://github.com/aspnet/Mvc/issues/5594 and the potential fix doesn't work.
When Result is set, status code is changed (422) but response is empty.

I tried different combinations of setting up the `actionExecutedContext.Exception` and `actionExecutedContext.ExceptionHandled`.

Initial code:
[code]

As well as suggested workaround:
[code]

It works as expected on `OnAction

[2018-01-09 01:28] tangdf commented on #7209
<https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding#customize-model-binding-behavior-with-attributes>
`[FromHeader]`, `[FromQuery]`, `[FromRoute]`, `[FromForm]`: Use these to specify the exact binding source you want to apply.
`[FromBody]`: Use the configured formatters to bind data from the request body. The formatter is selected based on content type of the request.

[2018-01-09 08:32] habex-ch commented on #7161
I can not use JavaScript because I don't know, if JavaScript is enabled on the client. So I must be sure, when the user clicks on the "DoSomethingElse" button, that it goes to the "OtherAction" instead of the "DefaultAction".
To use JavaScript for changing the form action is, in my humble opinion only a workaround and no real solution.

In my opinion, that is a bug because the the RemoteAttribute

[2018-01-09 12:32] kichalla commented on #7139
We could set the mapping conditionally though (we can consider it similar to how we conditionally register our DI services without overriding any user defined ones). I sent out the following PR now: https://github.com/aspnet/Mvc/pull/7217

[2018-01-09 12:55] bobske3 commented on #2910
For those who just stumpled here (aka TL;DR) you just have to define a layout on the viewcomponent.

Example:

**_LayoutViewComponent.cshtml:**

[code]

**YourViewComponentView.cshtml**

@model IEnumerable<Computer>
@{
    Layout = "_LayoutViewComponent";
}

//html stuff

@section scripts
    {
    <script type="text/javascript">
//your scripting
    </script>

}

[2018-01-09 12:57] wpitallo commented on #4703
I am having the same issue with .Net Core 2 and none of the above solutions work...

[2018-01-09 13:02] asjafjell commented on #5822
@anurse  I have upgraded a .NET4.6 library to .NET 4.6.1 and it is complaining about missing`System.Net.Http.HttpClientFactory.Create` in some tests of mine. Is this something that can be fixed by adding a `<FrameworkReference>mscorlib</FrameworkReference>` to the Nuspec?  Seems a bit odd as this will only affect consumers of my library, not making my tests green.

[2018-01-09 15:30] dougbu commented on #5822
@asjafjell please open a new issue for the problem you're seeing. Also, what is necessary to reproduce the problem and what are the details of the "complaining"?

[2018-01-09 16:12] rjperes opened #7218 "Dependency Injection and ServiceLifetime"
Hi,
IMO, ServiceLifetime is a bit limited, for example, we can't have per thread, per resolve, etc, lifetimes.
I propose we create a new mechanism that allows this, while keeping compatibility with existing lifetimes.
Is there interest in this?
Thanks!
RP

[2018-01-09 16:54] dougbu commented on #6662
ecedbd5372

[2018-01-09 16:54] #6662 closed

[2018-01-09 17:31] dougbu commented on #6730
c9ac2e6c29

[2018-01-09 17:31] #6730 closed

[2018-01-09 18:19] Eilon commented on #7139
I'm actually not clear on what these mappings do. Does it map `json` as a MIME type to the `application/json` MIME type? If so, why? (I wouldn't have thought that `json` is ever used as a MIME type.) And if it's not that, then what is it?

[2018-01-09 18:19] Eilon commented on #7139
Also changing from `task` to `bug` because this affects product code one way or another.

[2018-01-09 18:24] kichalla commented on #7139
It's for scenarios where users cannot add/modify the Accept header. Like one could type in the format in a browser url

[2018-01-09 18:26] Eilon commented on #7139
Ok, but then why would we support these seemingly non-standard MIME types? I would sooner *delete* the bogus JSON one before adding another bogus XML one, no? (I'm not actually suggesting that, though, because it'd be a breaking change.)

[2018-01-09 18:26] Eilon commented on #7139
Oh wait, is this for when you do like `example.com/documents/1234abc?format=xml`?

[2018-01-09 18:33] kichalla commented on #7139
Yes, right (also we now support the format in the route: `/1234abc.xml`)

[2018-01-09 18:39] rynowak commented on #7139
Yeah this is for cases like `example.com/documents/1234abc?format=xml?`

I'd low key suggest that we remove this feature in a future breaking changes release, or move it to a samples repo. I haven't seen anyone use it, and it's very outmoded at this point.

[2018-01-09 18:53] dougbu commented on #7044
afc75a8296

[2018-01-09 18:53] #7044 closed

[2018-01-09 20:40] Bartmax commented on #4190
Side effects of this and not really understanding the value of proper PRG : https://github.com/aspnet/Announcements/issues/285

[2018-01-09 20:51] Eilon commented on #7139
@rynowak so what do you suggest we do with this issue here? Not do it?

[2018-01-09 21:26] rynowak commented on #7139
We might as well merge it, it's done :) If someone is happy about this feature I'd be happy to be wrong

[2018-01-09 22:08] jbagga commented on #7208
@dustinmoris Thank you for bringing this to our attention. `SetRangeHeaders` indeed needs to check for the HTTP request method being Head.

@rynowak @Eilon for the second part of your issue about moving the core functionality for streaming

[2018-01-09 22:10] natemcmaster opened #7222 "Merge release/2.0.0 changes back to dev"
The 2.0.2 patch went out today. To make sure we are keeping dev and release branches in sync, let's merge the release/2.0.0 branch back to dev.

FYI I started to do this, but there were a bunch of changes that I'm not familiar with. Not sure what should be brought back into dev or not.

cc @pranavkm

[2018-01-09 22:34] pranavkm opened #7223 "Support conflict resolution when multiple precompiled views have the same path"
When a path collision occurs in ViewsFeatureProvider, we need to resolve conflicts.

1. If the path comes from a view that belongs to the app, use it.
2. If neither comes from the app, throw.

[2018-01-09 22:43] pranavkm commented on #7222
I can merge this in.

[2018-01-09 23:43] Eilon commented on #7139
Okie.

[2018-01-09 23:43] Eilon commented on #7139
But it's marked preview2 😮 Whatever.

[2018-01-10 04:43] rynowak commented on #7208
@Tratcher - what at the deltas between what MVC does and https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http.Extensions/SendFileResponseExtensions.cs ?

Trying to help @dustinmoris question from the OP

[2018-01-10 05:21] rynowak commented on #6605
@DamianEdwards and others watching this issue, I updated the original post to provide more details and context.

[2018-01-10 06:17] Tratcher commented on #7208
SendFileAsync's sole function is to copy the contents of the file to the network. It's a glorified `Stream.WriteAsync(byte[])`, and can even be called multiple times per request. it does not inspect request headers or set response headers.

MVC can check request headers like Range or If-xxx and alter the response accordingly. It will also set response headers like content-type, content-length, eta

[2018-01-10 07:27] asjafjell commented on #5822
@dougbu it seems to be automatic binding redirects that was my problem. I did not know that this would be an issue between 4.6.0 and 4.6.1, so by adding

[code]

as indicated in dotnet/standard#481, the problem was fixed. The _complaining_, was that the method was missing runtime.

[2018-01-10 12:16] rjperes commented on #7218
Thanks, @khellang! I understand and I kind of agree that we shouldn't have "complex" stuff in the core that can be provided by third parties, but I'm really just asking for the API to make it possible, not any particular implementation! :-)
Also, thanks for reminding me of aspnet/DependencyInjection, you are totally right! :+1:

[2018-01-10 12:16] #7218 closed

[2018-01-10 12:29] dustinmoris commented on #7208
Yes agreed, I think it would be hugely beneficial to have a range of HttpContext extensions which can do some of this common work. The MVC `FileStreamResult` is really not doing anything exotic or MVC specific, it is almost given that an application which needs to write a stream to the response stream will also have to check the `Range` header (and other mentioned headers) in order for a streaming

[2018-01-10 13:01] rathorer commented on #7214
I changed `actionExecutedContext.ExceptionHandled = true;` to
`actionExecutedContext.ExceptionHandled = false;`.
It worked for me.

[2018-01-10 14:49] mbonatsos commented on #7209
I have created a sample project to see the issues and the workarounds.
I think that the modelbinder solution is not clean and nice.

The mvc framework should deserialize a model from some data that is posted (http), regardless the post request type is "multipart/form-data" or "application/x-www-form-urlencoded".

[Sample.zip](https://github.com/aspnet/Mvc/files/1619247/Sample.zip)

[2018-01-10 14:53] vhe1 commented on #4311
Exactly.
It's not just saying "I don't like exceptions", it's saying exceptions are worse than no return types.
Sorry, that's a really bad tradeoff.

[2018-01-10 15:47] benaadams commented on #7083
I've made a BlockingDetector package to output warnings to the logs when you block:
https://github.com/benaadams/Ben.BlockingDetector

Only detects when blocking actually happens; so doesn't pick up calls that may block but don't or warn about coding practices that lead to blocking (or blocking that happens at OS rather than .NET level e.g. File.Read) - but it may help pick up things.

[2018-01-10 17:41] mkArtakMSFT commented on #7083
@rynowak, what are the next steps here?

[2018-01-10 17:47] mkArtakMSFT commented on #7209
@dougbu , can you please investigate this?

[2018-01-10 18:01] mkArtakMSFT commented on #7214
@rynowak, @dougbu what is the expected behavior in the first sample @rathorer has shared?

[2018-01-10 18:11] rynowak commented on #7214
It's expected that
[code]

Will short-circuit the chain of exception filters and will execute the provided action result. None of the other properties should have any effect if context.Result is set. This is a bug

[2018-01-10 18:16] rynowak commented on #7214
Wait, never mind, this is an action filter not an exception filter.

[2018-01-10 18:20] rynowak commented on #7214
It's expected that setting `ActionExecutedContext.Result` to a result value will **replace** the action result returned by the method and cause the new action result to run if the action is considered successful.
Setting:
[code]
OR
[code]

Should mark the action as successful.

Do you have a repro project you can share for this?

[2018-01-10 18:53] kichalla commented on #7161
Thanks @habex-ch I was able to repro the issue. I am still investigating the root cause of the issue. Will update this thread with my findings.

[2018-01-10 19:02] Eilon opened #7227 "MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, Error."
_From @huzaynbolt on January 10, 2018 13:52_

# Issue Title

MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, the content may have already been read by another component.

# General

I wrote a Custom media formatter for a WEB API project running on .NET core 2.0 Windows 10 (64 bit). On the ReadRequestBodyAsync method I was accessing the content b

[2018-01-10 19:32] pranavkm commented on #7222
Merged in https://github.com/aspnet/Mvc/commit/b196708a3e0bca4820f2002e063fabe979afde1b

[2018-01-10 19:32] #7222 closed

[2018-01-10 20:40] dougbu commented on #7209
The JSON input formatter accepts `application/json`, `text/json` and `application/*+json`. It does not support any multipart content types by default.

To support multipart and input formatters together, need to position the `Body` stream after the boundary for the appropriate section. See https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Controllers/FileController.cs for example.

[2018-01-10 20:40] dougbu commented on #7209
Clearing the `investigate` label.

[2018-01-10 21:13] dougbu opened #7229 "Remove project file elements added for WebApiCompatShim in 2.0"
The Microsoft.AspNetCore.Mvc.WebApiCompatShim package now depends on the latest (5.2.4-preview1) Microsoft.AspNet.WebApi.Client package. That dependency includes a new .NET Standard 2.0 assembly. This assembly supports all platforms the Microsoft.AspNetCore.Mvc.WebApiCompatShim package supports and includes the full Web API Client feature set.

When upgrading projects using the Microsoft.AspNetCor

[2018-01-10 22:14] mkArtakMSFT commented on #6862
Thank you for contacting us, @ag-petrov.
To evaluate this feature request, we'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve?

[2018-01-10 22:20] mkArtakMSFT commented on #6841
Thanks for reporting this issue. We agree that this seems to be a bug and we've assigned one of our team members to look into this based on its priority. /cc: @ryanbrandenburg

[2018-01-10 22:22] mkArtakMSFT commented on #6828
@pranavkm, please handle this during the assigned milestone timeframe.

[2018-01-10 22:26] mkArtakMSFT commented on #6767
Thanks for reporting this issue.   We'll consider your feedback as part of an existing issue we're tracking as part of our planning.

[2018-01-10 22:26] #6767 closed

[2018-01-10 22:31] mkArtakMSFT commented on #6696
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-01-10 22:32] dougbu commented on #6841
@mkArtakMSFT the `bug` label seems misleading. This is a feature or at least an enhancement -- adding an extensibility point supporting additional validation attributes.

[2018-01-10 22:43] mkArtakMSFT commented on #6260
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-01-10 23:13] #7115 closed

[2018-01-10 23:17] kichalla commented on #7139
Yeah, I missed changing the milestone to Preview1. Fixed it now.

[2018-01-10 23:20] kichalla commented on #7139
https://github.com/aspnet/Mvc/commit/2aae8774f65cf4c1071fd4c1cb3d60ac573be6a6

[2018-01-10 23:20] #7139 closed

[2018-01-10 23:46] jernejk commented on #7214
@rathorer solution worked!
It seems I haven't used `actionExecutedContext.ExceptionHandled = false;` for all of the combinations.

@rynowak I'll create a repro where having `actionExecutedContext.ExceptionHandled = true;` didn't work properly on the weekend.

Thanks for the help, we can now do proper validation for the forms. :)

[2018-01-11 05:03] sreejukg commented on #7178
I don't want to do it inside razor page, instead, I want to select which razor page to render during runtime. How can i do that?

[2018-01-11 08:02] ag-petrov commented on #6862
I do apologize for not replying earlier. As for the problem we have custom helpers which render input elements that need the validation attributes. The logic which does this is rather complex and I have extracted only a certain part just to illustrate the case. If there is alternative approach that I can use that would be great.

The issue that we faced is - How to get the nested property validati

[2018-01-11 11:26] StefanHaug commented on #4703
I can't get this to work with .Net core 2 either...

[2018-01-11 14:42] Matthew-Bonner opened #7231 "Missing content-type header when content length 0 despite specifying Produces attribute on action"
When using `[Produces("text/plain")]` and the body content length is 0 the content-type header is suppressed.

If the URL ends with something like ".png" Firefox and other browsers display an error similar to `The image “http://example.com/example.png” cannot be displayed because it contains errors.`

Could this be changed so that the header is output when the ProducesAttribute class is used?

Thi

[2018-01-11 16:16] Vasimovic commented on #7178
Why not use a controller instead and an if statement that returns the desired view

[2018-01-11 17:28] javiercn opened #7232 "Add a File method overload on controller and pages."
This method (and its associated action result) will perform content negotiation, serialize the object with a formatter and set the content disposition header.

This is useful when the object being sent to the client is the in memory representation of a document and you want the client to download the document.

[2018-01-11 17:37] dougbu commented on #6862
#### `.Internal` namespaces
If possible, grab the `ValidationHtmlAttributeProvider` from DI and use that instead of dealing directly with types in `.Internal` namespaces. That is, avoid `ClientValidatorCache` and `ExpressionMetadataProvider` if you can. Please let us know if the `ValidationHtmlAttributeProvider` abstraction doesn't meet your needs. It's possible to extend that or to move `ClientVa

[2018-01-11 17:41] mkArtakMSFT commented on #7232
@javiercn, we need more details on this. Isn't this what you get with standard action methods - which by-default get content negotiation enabled?

[2018-01-11 17:49] mkArtakMSFT commented on #7231
Thank you for contacting us.
To evaluate this feature request, we'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve? Specifically, how do you expect a browser to behave in case of a 0 length image?

[2018-01-11 17:51] javiercn commented on #7232
@mkArtakMSFT With standard action methods you only get content-negotiation, but you still have to set the content-disposition header yourself on the response. This overload streamlines that.

[code]

[code]

[2018-01-11 18:16] Eilon commented on #7010
Not planning to patch this.

[2018-01-11 18:16] #7010 closed

[2018-01-11 18:50] javiercn commented on #6968
717dc2639237dcfeafc11e5cbb2efb935324b3fd

[2018-01-11 18:50] #6968 closed

[2018-01-11 20:05] dougbu commented on #7209
I probably misunderstood the concern, focusing on using input formatters with multipart requests.

The sample contains a number of issues:
- `[FromBody]` and `[FromForm]` are completely separate. E.g. nothing in `MvcJsonOptions` is used when binding `[FromForm]` parameters.
- Requests matching actions with `[FromForm]` parameters must contain an `application/form-url-encoded` body or a `multipart/

[2018-01-11 20:22] jbagga commented on #7208
@Eilon The bug fix is in. Should the second part of the issue (the architecture discussion about moving FileStreamResult to a lower level API) be moved to a new issue in aspnet/Home?

[2018-01-11 21:14] Matthew-Bonner commented on #7231
It isn't an image, just an empty response for when no response other than a 200 status code is acceptable.

Consider the following code:

    using ImageServer.Application;
    using Microsoft.AspNetCore.Mvc;

    namespace ImageServer.Controllers
    {
        public class CacheController : Controller
        {
            private readonly ICacheService _cacheService;

            public CacheCon

[2018-01-11 21:57] rynowak commented on #7232
@javiercn is this a dupe of https://github.com/aspnet/Mvc/issues/6260 ?

[2018-01-11 23:01] javiercn commented on #7232
@rynowak Nope. The moral equivalent of that without the json convert https://github.com/aspnet/Identity/pull/1559/files#diff-c797f826e471413030a3cace8d328ee8R38

[2018-01-11 23:12] dustinmoris commented on #7208
Hello, thanks for the prompt fix! Sorry for being annoying, but I am implementing something similar in a different application right now and reading all the RFCs and related docs and then comparing it to how MVC has done it as a point of reference and I think I just noticed another very minor bug.

The optional `ETag` gets matched against the `If-Match` and `If-None-Match` HTTP headers and for bot

[2018-01-11 23:32] jbagga commented on #7208
@Tratcher Looks like in `StaticFiles` the fix is simple https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNetCore.StaticFiles/StaticFileContext.cs#L193
In MVC I think we can have a bool passed in to GetEtagMatchState to specify strong or weak comparison. I'll work on the PR for MVC.

[2018-01-12 01:43] rynowak commented on #7157
This is done 👍 😆 👍 :canada:

[2018-01-12 01:43] #7157 closed

[2018-01-12 02:15] davidfowl commented on #7208
Similar to this https://github.com/aspnet/Mvc/issues/6260?

[2018-01-12 10:13] xrkolovos commented on #7209
I believe and would expect the mvc framework to deserialize this http request, with out any other configuration.
I would also expect [FromForm] working in the same way with [FromBody] for the deserialization of posted data. I mean that if i post this

[code]
MvcJsonOptions should be followed. Is confusing not to work there.

I also think that the implementation with IModelBindingProvider is not so

[2018-01-12 10:16] xrkolovos commented on #7209
I would like to see some more opinions from other team members.

[2018-01-12 14:21] #7190 closed

[2018-01-12 14:26] josephearl opened #7238 "Provide a more in depth example of writing responses in middleware"
I'd like to return a response from middleware that obeys the same behaviour as returning an `ObjectResult` from a controller, i.e. it uses my default output formatter if no Accept header is specified or uses the correct output formatter based on the Accept header.

Looking at the current docs it's not clear how this can be achieved since they only demonstrate writing simple strings in the response

[2018-01-12 14:38] josephearl commented on #7238
Another user also asked for this in a comment on the page https://docs.microsoft.com/en-us/aspnet/core/mvc/models/formatting

[2018-01-12 15:18] khellang commented on #7238
There's no support for using MVC's content negotiation in middleware right now.

@rynowak has been doing some work to streamline the result executor model, so from 2.1, you should be able to inject `IActionResultExecutor<ObjectResult>` and call that. There's still an issue with constructing an `ActionContext` though.

See https://github.com/aspnet/Mvc/pull/6822#issuecomment-329484272 and https://g

[2018-01-12 17:39] #7238 closed

[2018-01-12 17:42] mkArtakMSFT commented on #7231
Thanks for reporting this issue. We agree that this seems to be a minor bug and we've assigned one of our team members to look into this based on its priority.

[2018-01-12 17:45] mkArtakMSFT commented on #7231
Actually, this may be something by design. We'll investigate this first.

[2018-01-12 17:46] mkArtakMSFT commented on #7231
@rynowak, any thoughts? Is the ProducesAttribute meant to work only with ObjectResult-s?

[2018-01-12 18:03] mkArtakMSFT commented on #7227
@huzaynbolt, thanks for contacting us. One of our team members will look into it and get back to you.

[2018-01-12 18:15] mkArtakMSFT commented on #7187
@dougbu, any suggestions regarding this?

[2018-01-12 19:06] javiercn opened #7239 "Allow libraries to opt out of implicitly including precompiled views/pages when referenced by an application"
By default precompiled views/pages in libraries are included by default.

This is not always the right thing to do as it can result in invalid/insecure behavior by default when those views/pages require further configuration, (like authentication).
And might cause very hard to debug issues by the fact that those views might get included by a transitive package reference without the user having any

[2018-01-12 19:10] rynowak commented on #7231
Yes, that's correct. Those attributes only apply when you have some data to via objectresult. As a workaround for this, you could do something like:
[code]

[2018-01-12 19:46] kichalla commented on #6498
Closing this issue with the idea that we are going to identify specify areas that need logging and open more specific issues.

[2018-01-12 19:46] #6498 closed

[2018-01-12 21:39] mkArtakMSFT commented on #7231
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-01-12 21:39] #7231 closed

[2018-01-12 22:20] mkArtakMSFT commented on #7029
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-12 22:20] #7029 closed

[2018-01-12 22:21] mkArtakMSFT commented on #7106
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-12 22:21] #7106 closed

[2018-01-12 22:21] mkArtakMSFT commented on #7110
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-12 22:21] #7110 closed

[2018-01-12 22:21] mkArtakMSFT commented on #7113
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-12 22:21] #7113 closed

[2018-01-12 23:57] #6605 closed

[2018-01-13 00:25] khellang commented on #7238
In 2.1, you can have something like this:

[code]

And use it like this:

[code]

[2018-01-13 00:44] dougbu commented on #7091
Do something like (5) but avoid delving so deep below the exposed model binding abstractions. One idea is to add an `ICanHaveRewriteSemantics` that the jQuery value provider implements. Also add a new method that can filter out `ICanHaveRewriteSemantics` from the `CompositeValueProvider` (or its exposed list of providers).

Detect the `Dict[0].Key=&Dict[0].Value=23` case (`null` key due to empty-t

[2018-01-13 00:53] dougbu commented on #7091
Now have design, removing label 😈

[2018-01-13 00:53] dougbu commented on #7091
And, thanks @rynowak !

[2018-01-13 09:37] ErcinDedeoglu opened #7242 "Installing as Windows Service"
How can I install .NET Core MVC web app as Windows Service? https://tinyurl.com/yaa6cltf  this one is not working. old.

Getting this when i tried:
Package Microsoft.AspNetCore.All 2.0.5 is not compatible with net452 (.NETFramework,Version=v4.5.2). Package Microsoft.AspNetCore.All 2.0.5 supports: netcoreapp2.0 (.NETCoreApp,Version=v2.0)Edit (0)

[2018-01-13 10:28] molaie commented on #6934
@pranavkm I have very same problem. i've created a repo on github
[https://github.com/molaie/Test](Test Repo url)
Hope you can test and `investigate` on it.
some more description: i'm using StructureMap for the DI part. the problem is that when in `Yooshina.Host` project, i add a reference to `Yooshina.Modules.Core`, there is no problem, but if i remove the direct reference and load it using refle

[2018-01-13 13:02] molaie commented on #6934
also created a gist for error:
[https://gist.github.com/molaie/788cb0279498c7efbbb4b751241d8896](url)

[2018-01-13 14:51] huzaynbolt commented on #7227
I drilled down the source code to pinpoint where the exception was thrown and It seems I founded it
at https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.WebUtilities/MultipartReaderStream.cs line 173.

Hope this will be so useful

[2018-01-13 15:21] dustinmoris commented on #7208
Last question on the topic of `FileStreamResult` which I'll throw in for discussion. Looking at the [GetPreconditionState](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/FileResultExecutorBase.cs#L201) I can see that if a web browser sends the `If-Match` (or other `If-...`) conditional headers then they get only validated on the server if a user provised an

[2018-01-13 22:31] rynowak commented on #6934
Reopening this since we have some information

[2018-01-14 07:03] sreejukg commented on #7178
What I am trying to do is to render a particular razor page during runtime. I would like to understand the various possibilities.

[2018-01-14 16:40] Tratcher commented on #7208
Hmmm. For background this code was pulled over from StaticFiles where there's always an e-tag. The absence of an e-tag hasn't been thought through.

https://tools.ietf.org/html/rfc7232#section-3.1
Half of the If-Match comments are about uploads, which are out of scope for the code we're discussing. The developer should have processed those before calling these response APIs.

"It can also be used

[2018-01-14 18:57] DamianEdwards commented on #7223
Is this needed to make overriding the `_ViewStart.cshtml` from pages in an Area in a referenced library (e.g. Identity UI) work? I'm trying to make the pages from the library use the application's Layout like we discussed but it doesn't seem to have any affect.

@rynowak

[2018-01-14 19:40] rynowak commented on #7223
This is needed to allow the *app* to override a *libraries* - when using precompilation. This is also needed to allow a *library* to override a *library*.

Overriding anything with a runtime-compiled view should be working. If you have having problems you either don't have up to date bits, or it's a bug.

[2018-01-14 20:01] rynowak commented on #7223
MSIT has my laptop so I have no access to the build stuff unfortunately.

Are you trying to override a view in a library with a runtime-compiled view? Do you have this in a repo somewhere I can see?

Identity has not been updated yet to use precompiled views, it's still using a file provider.

[2018-01-14 20:06] DamianEdwards commented on #7223
@rynowak it seems Identity UI's option configure is running first, so it ends up with the `ManifestEmbeddedFileProvider` being first in the list, rather than last. I'm assuming this issue will go away when Identity UI changes to use compiled views. Or we can update it to use `IPostConfigureOptions`.

[2018-01-14 20:16] rynowak commented on #7223
yeah, if this is identity then it sounds like that's you're issue. You could write your own configure options to reorder the providers. It's a little gross but it will work.

[2018-01-14 20:18] DamianEdwards commented on #7223
@rynowak yep done that, it works. @pranavkm is going to update Identity UI to see if we can fix quickly for now.

[2018-01-14 22:09] josephearl commented on #7238
Thanks @khellang

[2018-01-14 22:23] Eonasdan opened #7243 "502.5 Process Failure - Deploy to IIS"
I have a .net core 2 MVC app. It runs fine via IISExpress in VS but as soon as I deploy it to IIS I get 502.5 in the browser and logs give me:

[code]

Coping `Microsoft.Extensions.Configuration.Abstractions.dll` from the nuget package doesn't seem to make a difference. I'm reference 2.0.0 nuget in all layers of my n-tier project.

I've read several of the other issues here and SO posts, none of w

[2018-01-14 23:33] javiercn commented on #7040
I think I'm running into this while writing functional tests for Identity as a library. I'm marking it as working cause i'm investigating and its blocking me.

[2018-01-15 00:04] rynowak commented on #7040
What's caused the body to start sending? Antiforgery **can't** function if you don't set the cookie before writing to the body. Blowing up is a reasonable behaviour in that case.

[2018-01-15 00:41] javiercn commented on #7040
It turned out to be something different. The antiforgery cookie wan't marked essential so it wasn't being written in my tests. Kiran made the change, but hasn't propagated yet to the latest and greatest version.

[2018-01-15 02:02] javiercn commented on #7040
I found the issue anyways, as I was already here. It's caused by
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/HtmlHelper.cs#L879
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs#L194
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/Antif

[2018-01-15 07:42] javiercn opened #7244 "Remove the need to set the content root relative to the solution file on functional tests"
We can have a build time solution as part of our build. The snippet below emits an assemblymetadatareference attribute per referenced project dll containing the dll for the dependent project as part of the key and the content root as the value.

[code]

[code]

The testing framework simply needs to read the assembly attributes from the current assembly to find one that matches the assembly in TSta

[2018-01-15 15:13] jonakirke94 commented on #7130
@rogaps reading the value as @TempData["TempDataProperty-ErrorMessage"] does indeed work. I just tested it. Doesn't seem to be intended having to type "TempDataProperty" though!

[2018-01-15 22:09] xt0rted opened #7245 "FileVersionProvider doesn't work with escaped urls"
I've noticed that not all of my images are receiving cache breakers when using `asp-append-version="true"` and after looking into it more I've found it's only when the path is escaped.

This will receive a cache breaker
[code]

This will not receive a cache breaker
[code]

I'm using the `FileVersionProvider` in my own tag helpers to apply cache breakers to a few other tags/attributes (meta tags &

[2018-01-16 12:57] victor-sharovatov commented on #7155
@mkArtakMSFT, did you close the issue because it's an expected behaviour? Please clarify.

I'm facing the same problem for my project and the conditions are the same as was described by @Oftime117. Even empty ASP.NET Core project with .Net Framework 4.7 target generates almost 200 libs in bin folder.
BTW the same problem is described in the following post - https://developercommunity.visualstudio.

[2018-01-16 13:27] egovova11 commented on #7058
The issue still persists. Is there any updates on that?

[2018-01-16 16:05] #7223 closed

[2018-01-16 16:46] xrkolovos commented on #7209
I am not conviced that the behavior should be this.
I coundm't understand the arguments behind this decision.

I always hear from the members of the asp.net team in confernces and videos that the framework is openly developed, not only open source.

I ask for more info about this and you close the issue not fair.

[2018-01-16 17:50] mkArtakMSFT commented on #7130
@mmillican, any updates?

[2018-01-16 17:51] pranavkm commented on #7193
Feature is superseded by https://github.com/aspnet/Mvc/issues/7223

[2018-01-16 17:51] #7193 closed

[2018-01-16 17:52] mkArtakMSFT commented on #7245
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-01-16 17:53] mkArtakMSFT commented on #7245
@NTaylorMullen can you please look into this?

[2018-01-16 17:59] mkArtakMSFT commented on #7058
Hi @dsplaisted. Did you get a chance to look into this issue? Thanks!