[2018-03-30 11:36] fugaku commented on #7569
I'm already using the `For.ModelExplorer`

So you're saying to leave the generation of `<input/>` element to the `InputTagHelper`.
How do I access the `<input/>` element after that, let's say to add a css class to it ?

[2018-03-30 13:54] kichalla commented on #7490
Closing this issue now as we haven't heard back. Feel free to re-open this issue with more details as requested above.

[2018-03-30 13:54] #7490 closed

[2018-03-30 16:04] Eilon commented on #7576
@Tratcher / @stephentoub - any ideas on this?

[2018-03-30 16:07] Eilon commented on #7576
Also tagging @SteveSandersonMS because `Microsoft.AspNetCore.NodeServices.NodeServicesImpl` is in the stack.

@qibucloud - can you share some of the code from `Qibu.Controllers.CutController` that is in this stack trace?

[2018-03-30 16:18] stephentoub commented on #7576
What OS is this?  Is this on a mac?

[2018-03-30 16:20] Tratcher commented on #7576
Yes, CurlHandler. Port/handle exhaustion?

[2018-03-30 16:31] Eilon commented on #7576
Thanks @stephentoub .

@qibucloud - can you try out these recommendations and let us know?

[2018-03-30 16:47] dougbu commented on #7569
I'm saying there's no reason to set an explicit value because the `IHtmlGenerator` handles retrieving the value from `ModelState` and `InputTagHelper` handles using the specified format string.

Make additional changes to the `TagHelperOutput parameter after the `base` method returns. `InputTagHelper` mostly updates `TagHelperOutput.Attributes` and your helper can do the same.

[2018-03-30 16:53] mkArtakMSFT commented on #7572
Thanks for contacting us, @jeremyVignelles.
@Tratcher, any thoughts regarding this? Thanks!

[2018-03-30 17:26] Tratcher commented on #7572
I'd expect any rounding error to go the other way, truncating the client's last modified date so it was always less than the file system one. @jbagga can debug this. Start here and work backwards:
https://github.com/aspnet/Mvc/blob/66c13ae5e56782b5129f65cb774524e9619795e1/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/FileResultExecutorBase.cs#L228

[2018-03-30 20:36] kichalla commented on #7560
cc @mkArtakMSFT @ryanbrandenburg

[2018-03-30 21:19] #6525 closed

[2018-03-30 21:59] #7560 closed

[2018-03-30 23:57] pranavkm opened #7583 "Cleanup BindingInfo \ ModelMetadata coalescing in ModelBinderFactory"
We made some changes to BindingInfo in preview2 so that `ParameterDescriptor` \ `PropertyDescriptor` create the right types as part of application model creation. To avoid a bunch of last minute test churn, we left the coalescing unchanged in the `ModelBinderFactory`. We should clean this up and rely on the input `BindingInfo` to be accurate.

[2018-03-30 23:57] pranavkm commented on #7583
Self assigning for rc1. Should be a small change.

[2018-03-31 11:03] JeanCollas opened #7585 "Any plan to include a cscss file type?"
Is there any plan to include a dynamically-generated css file type at some point?

I would appreciate to be able to generate dynamically some parts of the css, including some localization rules issues, calculations or whatever other things that require a smarter comutation.

[2018-03-31 20:43] mnmr opened #7586 "View precompilation during publish in 2.1-latest only works if using 2.0.0 reference"
As I understand it, if you reference the Microsoft.AspNetCore.Mvc.Razor.ViewCompilation package, then views are supposed to be pre-compiled during publish.

This only works for us if we reference version 2.0.0 of the package, as opposed to the 2.1 version matching the other packages (we're using "2.1.0-*" to reference the latest stable CI build).

[2018-04-01 02:04] shanselman opened #7587 "No easy way to change ASPNETCORE_ENVIRONMENT or get UserSecrets with WebApplicationTestFixture"
Trying to follow https://blogs.msdn.microsoft.com/webdev/2018/03/05/asp-net-core-2-1-0-preview1-functional-testing-of-mvc-applications/

The defaults are not sensible. I should not have to do this, to just use Development, or use User Secrets:

[code]

@davidfowl

[2018-04-01 02:44] davidfowl commented on #7587
@javiercn

[2018-04-01 04:15] shanselman commented on #7587
The secrets are coming out null, and the Config object that's injected into my pages are not the same one I made before.

[2018-04-01 14:16] jkljajic commented on #4910
Hi, I have the same issue with **Microsoft.ReportViewer.2015.Runtime** but in my case is related to nlog provider,

[2018-04-01 22:55] kshyju commented on #7585
Include where ? Can you be a little more specific ?

[2018-04-01 22:59] BolatovAlau opened #7588 "Login by email, not by username"
Asp.Net MVC wants to log in by username, not by email. I think mostly web apps log in by emails, not by username. And, Let's think that user changed his username, and he forgot it?!  But, he surely knows his email, so he should be logged in by email, not by username!

`PasswordSignInAsync(string UserName, string Password, bool RememberMe, bool shouldLockout)`

should be replaced by

`PasswordSignI

[2018-04-01 23:04] BolatovAlau commented on #7588
and in the ForgotPassword method:

` var user = await UserManager.FindByNameAsync(model.Email);`

it wants to find a user using the name, but the parameter is an email!

it also should be replaced by

`var user = await UserManager.FindByEmailAsync(model.Email);`

[2018-04-01 23:51] JeanCollas commented on #7585
Sure.
In a Asp.Net Core project, we have cshtml files. I would like to be able to do exactly the same (generate a file), but for css files.
I don't know exactly how it could be served, maybe a specific CssController, in which we have routes, and where we can build a model, and pass it to a view of type cscss, which would output a CSS file.
And can be exactly the same thing for javascript.

This wo

[2018-04-02 01:16] kshyju commented on #7585
Here is an idea. You can write a custom helper method which will generate the url for the css file. The helper method will analyze the current request headers and generate a unique url for that combination (Ex : If the request is coming from a mobile browser), we will create a unique url for that. Now, to serve the css, you can define a route (controller action method) which returns the CSS file.

[2018-04-02 01:52] JeanCollas commented on #7585
Thanks for your comment, however the issue is not at all to route to a specific static CSS file, but really to build a CSS dynamically, depending on anything I want, can be a color changing each hour, the font-size depending on the eyes' color of the user or anything else.
The current issue with CSS is that they are static (even if pre-computed, they remain based on a static definition).

Some use

[2018-04-02 04:46] Eilon commented on #7588
This issue was moved to aspnet/templating#427

[2018-04-02 04:46] #7588 closed

[2018-04-02 04:48] Eilon commented on #7585
Sorry, there are no plans to build such a feature into ASP.NET Core at this time. If you feel there would be broader interest in this type of feature, this might be a great opportunity to start up your own project!

[2018-04-02 04:48] #7585 closed

[2018-04-02 06:30] qibucloud commented on #7576
centos 7.4

[2018-04-02 06:32] qibucloud commented on #7576
`public class CutController : Controller
    {
        private const int MaxDimension = 1000;
        private static string[] AllowedMimeTypes = new[] { "image/jpeg", "image/png", "image/gif" };

        private IHostingEnvironment _environment;
        private INodeServices _nodeServices;

        public CutController(IHostingEnvironment environment, INodeServices nodeServices)
        {

[2018-04-02 06:38] qibucloud commented on #7576
@Eilon @stephentoub @Tratcher @mkArtakMSFT @shanselman
os: centos 7.4
Thank you!  I call nodejs to process the picture

`var sharp = require('sharp');

module.exports = function (result, physicalPath, mimeType, maxWidth, maxHeight) {
    // Invoke the 'sharp' NPM module, and have it pipe the resulting image data back to .NET
    sharp(physicalPath)
    .resize(maxWidth || null, maxHeight || null,

[2018-04-02 06:42] qibucloud commented on #7576
`
var sharp = require('sharp');
module.exports = function (result, physicalPath, mimeType, maxWidth, maxHeight) {
    // Invoke the 'sharp' NPM module, and have it pipe the resulting image data back to .NET
    sharp(physicalPath)
    .resize(maxWidth || null, maxHeight || null, {
        kernel: sharp.kernel.lanczos2,
        interpolator: sharp.interpolator.nohalo
    })
    .sharpen()
    .qual

[2018-04-02 09:51] busyscout commented on #7529
I want to disable encoding of non-english characters in generated html. Not in url. Because encoded symbols make my page 2 times bigger in kilobytes. And it seems to me, that there is no right way to do it. I think, it is an architectual issue in framework itself.
And if you look at the code I've provided - no url is created by hand, I use standard method `RedirectToAction` - and this method raise

[2018-04-02 09:54] NMSAzulX opened #7589 "Would we simplify the process of WebApi ?"
Sometimes we dont need the Razor、View etc.. It is no use for the simple or WebApi-Interface-Services.
So we can remove some services from the function of UseMvc().
Such as:
[https://github.com/NMSAzulX/WebApiMiddleware/blob/master/WebApiMiddleware/WebApiExtentsion.cs](https://github.com/NMSAzulX/WebApiMiddleware/blob/master/WebApiMiddleware/WebApiExtentsion.cs)

[2018-04-02 15:03] Eilon commented on #7589
Tagging @rynowak .

@NMSAzulX - can you provide more information on why it is a problem to have the extra services from `.UseMvc()`? In general it's harmless to have extra services, except in some very extreme cases.

[2018-04-02 15:04] darojuv commented on #7589
Can we at least do $89/hr ?

On Apr 02, 2018, at 08:03 AM, Eilon Lipton <notifications@github.com> wrote:

Tagging @rynowak .

@NMSAzulX - can you provide more information on why it is a problem to have the extra services from .UseMvc()? In general it's harmless to have extra services, except in some very extreme cases.

—
You are receiving this because you are subscribed to this thread.
Reply to

[2018-04-02 15:06] Eilon commented on #7589
@darojuv ?

[2018-04-02 16:50] sreejukg commented on #7405
Hello sorry for being late. The notifications are not delivered. Let me try to explain the scenario.

Consider the below two requests

/SpecialOffer/Electronics/TV/42/Model1
/SpecialOffer/Electronics/TV/42/Model2

I would like to render two separate razor pages for handling these requests. So I wrote a routing middleware that matches the request. Now if the match is found in my middleware, I need

[2018-04-02 17:04] Eilon commented on #7576
@qibucloud - can you confirm that your issue is resolved? If so, we can close the issue. Thanks!

[2018-04-02 17:11] pranavkm commented on #7405
You could have two physical files located at those paths or use [`AddPageRoute`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.pageconventioncollectionextensions.addpageroute?view=aspnetcore-2.0#Microsoft_Extensions_DependencyInjection_PageConventionCollectionExtensions_AddPageRoute_Microsoft_AspNetCore_Mvc_ApplicationModels_PageConventionCollection_System_St

[2018-04-02 17:22] pranavkm commented on #7583
Additonal comments to address as part of cleanup:

* [ ] https://github.com/aspnet/Mvc/pull/7564#discussion_r178419695
* [ ] https://github.com/aspnet/Mvc/pull/7564#discussion_r178420008
* [ ] https://github.com/aspnet/Mvc/pull/7564#discussion_r178420024

cc @dougbu

[2018-04-02 17:24] dougbu commented on #7583
ta

[2018-04-02 18:43] Eilon commented on #7512
@pranavkm / @mkArtakMSFT - is this a must-have for Preview2? If not, let's move to RC1.

[2018-04-02 18:46] pranavkm commented on #7512
This is done. Fixed in https://github.com/aspnet/Mvc/commit/c515cece8ed8a39b8163c3ba35024bcc79716ca0

[2018-04-02 18:46] #7512 closed

[2018-04-02 18:52] pranavkm opened #7591 "Make it easier to create an ApplicationModel in test code."
We have a bunch of places in Mvc and one in WebHooks where we initialize and use `DefaultApplicationModelProvider` to produce an ApplicationModel that's set up correctly. We should consider having a test specific way to create a model.

[2018-04-02 19:07] pranavkm commented on #7586
Are you also using newer builds of the CLI \ Sdk (https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1)? For 2.1.0, we're deprecating the precompilation tool in favor of Razor.Sdk that does build and publish time compilation (see https://github.com/aspnet/Razor/issues/1740). In essence, using the latest (preview2) builds of the precompilation tool require some c

[2018-04-02 19:30] tiandian commented on #7589
I hope remove  Razor、View etc too,   because when we want use corert (https://github.com/dotnet/corert) to compile asp.net core to a single exe, it so  big,  if remove Razor、View etc, it can make the single exe smaller.

Razor、View is a very bad design  today, it is useless,  because it mixed server and client script in one file,it is a mess,  it is not  easy portable to other languge as server(ja

[2018-04-02 19:42] khellang commented on #7546
This should be fixed with https://github.com/aspnet/Mvc/commit/c515cece8ed8a39b8163c3ba35024bcc79716ca0

[2018-04-02 19:42] #7546 closed

[2018-04-02 20:52] mkArtakMSFT commented on #7589
Hi @tiandian.
What are you trying to achieve? Are you looking for a minimum setup to provide API-only endpoints?
MVC is quite opinionated and it serves the needs of the majority of developers, who are mostly intersted in the combined projects.
If you are not interested in the default setup, you can always start from an empty web application project template, and register only the required services

[2018-04-02 21:07] mkArtakMSFT commented on #7587
Adding @rynowak, just in case he may have some ideas, as @javiercn is out.

[2018-04-02 21:08] mkArtakMSFT commented on #7569
@fugaku, did the suggestions resolve your issue?

[2018-04-02 21:17] mkArtakMSFT commented on #7572
Thanks @Tratcher.
@kichalla, how big of a change will the fix be?

[2018-04-02 21:20] mkArtakMSFT commented on #7533
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-02 21:27] mkArtakMSFT commented on #7511
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-04-02 21:27] #7511 closed

[2018-04-02 21:31] oferns opened #7592 "The 'Microsoft.AspNetCore.Mvc.ViewFeatures.Internal.TempDataSerializer' cannot serialize an object of type 'Microsoft.Extensions.Localization.LocalizedString'."
Surely it should be able to handle this? Is there not an implicit conversion to string?

[2018-04-02 21:47] Eilon commented on #7592
Do you specifically want to store the localized string itself (e.g. `bonjour`), or the actual LocalizedString object, which contains the localized string as well as other pieces of information (such as whether the resource was found)? I'm not sure there's a big scenario for storing the actual LocalizedString, but please elaborate if you feel otherwise.

[2018-04-02 22:41] fugaku commented on #7569
Yes the suggestion resolve the issue.
I'm avoiding setting the value explicitly and let the `IHtmlGenerator` to handle the value instead.
Thanks for the help.

[2018-04-02 22:41] #7569 closed

[2018-04-02 23:03] khellang commented on #7589
Why not just use `AddMvcCore` and add the stuff you want like the rest of us?

[2018-04-02 23:04] khellang commented on #7589
Here's an example of what I mean; http://benfoster.io/blog/bare-metal-apis-with-aspnet-core-mvc

[2018-04-02 23:32] dougbu commented on #7528
@Tornhoof your original RequiredAttributeRepro application is simply not configured to support anything from `System.ComponentModel.DataAnnotations`. `AddMvcCore()` only turns on the bare minimum. Change your `Startup` to use
[code]
and you'll see the expected validation error. (Probably best to use `AddMvc()` since your controller is a `Controller` subclass, not a `ControllerBase` subclass.)

---

[2018-04-03 01:01] fatih108 opened #7593 "UseStatusCodePagesWithReExecute, Does not work with Ajax"
I want to catch the 401 error with Ajax but UseStatusCodePagesWithReExecute not firing.

[2018-04-03 01:17] NMSAzulX commented on #7589
@Eilon Oh, sorry,I described something wrong. I want to add one method (like 'AddWebApi()')  separated from the 'AddMvc'.  I want a succinct project . And most of my projects are decomposed into front end and back end. Some friends are agree with me. I think we can do a survey to understand the other's thoughts.

[2018-04-03 01:21] qibucloud commented on #7576
@Eilon No resolution
Can you help me? Thank you

[2018-04-03 01:33] RainingNight commented on #7589
I hope separate MVC and WebApi, like mvc5 .

[2018-04-03 03:03] Eilon commented on #7589
I think the question we need to answer is: what is so bad about the current API `UseMvc`? I don't think I understand the problem.

[2018-04-03 03:04] Eilon commented on #7576
@stephentoub - any further ideas on how this might occur on CentOS?

[2018-04-03 03:08] Eilon commented on #7593
@fatih108 can you provide more info about what you've tried? It would be very helpful if you can upload your app to a GitHub repo so we can look.

[2018-04-03 03:10] stephentoub commented on #7576
My guess is still the same, that the ulimit for open file descriptors is low compared to how many file descriptors are currently open. What does `ulimit -a` show?  What does the implementation of `InvokeAsync` look like?  Might the node code be opening a bunch of file descriptors?

[2018-04-03 06:26] ag-petrov commented on #7533
Accept my apolgoies for the delay. Here is the exception I am getting when running the above configuration.
![error](https://user-images.githubusercontent.com/11816882/38232802-0952df5a-3721-11e8-9869-cab869f75145.PNG)

[2018-04-03 07:31] sreejukg commented on #7405
Thanks for the response. but I am looking for a completely dynamic option. So placing file in the categories option is ruled out by default.

Let me try to explain more clearly. If I have several products in my db, with meta data that will be used to build the route. Now I need to add a column in database for template, that will specify the name of razor page template name. From a middleware, I wi

[2018-04-03 08:40] qibucloud commented on #7576
@stanislavromanov @Eilon Thank you
No problem under normal circumstances, this error occurs when there are many visits

[2018-04-03 09:52] Tornhoof commented on #7528
Thanks for the clarification. Closing this.

[2018-04-03 09:52] #7528 closed

[2018-04-03 09:59] tebrizetayi commented on #7350
Is it ready? Because I have debugged many times this issue, but there are no changes.I would like to contribute to this issue.

[2018-04-03 10:11] oferns commented on #7592
Yeah. I was hoping to use the info to highlight missing translations but I can pass it otherways..Ill close the issue

[2018-04-03 10:11] #7592 closed

[2018-04-03 10:48] stephentoub commented on #7576
@qibucloud, did you try increasing the allowed number of file open descriptors as recommended?  What is the ulimit currently set at?  What did you try increasing it to?

[2018-04-03 11:46] qibucloud commented on #7576
``c#
时间：4/3/18 7:42:36 PM
详细信息:
System.AggregateException: An error occurred while writing to logger(s). (Too many open files) ---> System.IO.IOException: Too many open files
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
   at Microsoft.Win32.SafeHandles.SafeFileHandle.Open(String path, OpenFlags flags, Int32 mode)
   at System.

[2018-04-03 11:56] stanislavromanov commented on #7576
@qibucloud

Execute `ulimit -a` on the machine where this errors occurs and show us the output. Also check execute `cat /etc/sysctl.conf | grep fs.file-max` and show us output of this as well.

[2018-04-03 12:15] qibucloud commented on #7576
`
* soft nofile 204800
* hard nofile 204800
* soft nproc 204800
* hard nproc 204800
`

[2018-04-03 12:21] qibucloud commented on #7576
[code]
I set it up, it should be solved, thank you, I will observe again

我设置好了，应该是解决了，谢谢您们，我再观察一下

[2018-04-03 13:05] nmg196 commented on #6659
Where do you add that? Which file?

[2018-04-03 15:57] #7593 closed

[2018-04-03 16:01] Eilon commented on #7533
Was the file saved with UTF-8 encoding (no BOM)? This looks to me like the file itself is just in the wrong format...

[2018-04-03 16:44] mkArtakMSFT commented on #7350
HI @tebrizetayi. We need to evaluate this again, as some changes have been made in this area. So you'll first need to confirm that this is still the case. If so, sure we will gladly consider your PR. @pranavkm, please don't start this work yet.

[2018-04-03 17:27] mkArtakMSFT commented on #7576
Thanks for contacting us, @qibucloud. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-03 17:27] #7576 closed

[2018-04-03 17:27] mkArtakMSFT commented on #7576
Thanks everyone for your help!

[2018-04-03 17:31] mkArtakMSFT commented on #7405
@pranav, can you please help out with this ask? Thanks!

[2018-04-03 17:40] sebastienros commented on #7405
Maybe not based on Razor Pages directly, but you could just intercept a single route, with a single controller, and from the action based on the route parameter load different views. You can return something like this:

[code]

[2018-04-03 17:49] sebastienros commented on #7405
You can use another technique which is using a custom route that will get all the request and find a match, then fallback to the other routes if it couldn't find any match. See an example in Orchard Core:
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.Autoroute/Routing/AutorouteRoute.cs

And how it's inserted in the list of routes as the first element:
https

[2018-04-03 18:09] mnmr commented on #7586
Ah, that might be it - thanks!

[2018-04-03 18:46] dougbu commented on #7529
What's changing here is actually at a lower level: If `services.AddWebEncoders(...)` is called before Routing's configuration calls `services.TryAddSingleton(UrlEncoder.Default)` then changes to `WebEncoderOptions` matter w.r.t. the `UrlEncoder` Routing uses. Otherwise, changes to `WebEncoderOptions` are ignored. That's a configuration issue in the Routing repo.

I'll move this issue to that repo.

[2018-04-03 18:54] dougbu commented on #7529
This issue was moved to aspnet/Routing#513

[2018-04-03 18:54] #7529 closed

[2018-04-03 19:06] pranavkm commented on #7586
Great. There's a 2.1.0-preview2 release slated to be released soon and that should resolve this issue. In the meanwhile, I'd encourage staying on the preview1 builds (https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-now-available) just so that you aren't affected by transient build and migration issues.

[2018-04-03 19:06] #7586 closed

[2018-04-03 22:44] mkArtakMSFT commented on #7589
@DamianEdwards, do you think we should add an extra extension method to support this ask? Something like `AddApi()` ?
//cc @rynowak

[2018-04-03 22:50] mkArtakMSFT commented on #7540
This issue was moved to aspnet/Razor#2234

[2018-04-03 22:50] #7540 closed

[2018-04-03 22:54] mkArtakMSFT commented on #7477
@pranavkm, can you please look into this? Thanks!

[2018-04-03 22:55] mkArtakMSFT commented on #7460
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 22:55] #7460 closed

[2018-04-03 22:55] mkArtakMSFT commented on #7471
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 22:55] #7471 closed

[2018-04-03 22:58] mkArtakMSFT commented on #7036
@rynowak, is there any other action we should take here?

[2018-04-03 23:14] rynowak commented on #7036
We did `ActionResult<T>` to improve this kind of scenario.

We have no plans to introduce something like `HttpResponseException`. This should be closed.

[2018-04-03 23:14] #7036 closed

[2018-04-04 00:38] fir3pho3nixx commented on #7540
@mkArtakMSFT you are a troll!

Razor already supports this!

I need this through kestrel using aspnet mvc ....

[2018-04-04 08:30] sreejukg commented on #7405
This seems the way. Will look into this and post my feedback.

[2018-04-04 11:01] BladeWise opened #7594 "More context in IApiResponseMetadataProvider or extension points to DefaultApiDescriptionProvider"
At the moment the `DefaultApiDescriptionProvider` is able to auto-generate an `ApiResponseType` having a 200 status code whose type is the runtime return type (see [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ApiExplorer/DefaultApiDescriptionProvider.cs#L439)), but this kind of functionality cannot be attained by the developer unless a specific `ProducesResponseTypeAt

[2018-04-04 11:06] ag-petrov commented on #7533
After further testing it did turn out to be related to the encoding. I am marking this as closed.

[2018-04-04 11:06] #7533 closed

[2018-04-04 11:31] AlekseyMartynov opened #7595 "Regression: #4652 again in 2.1.0-preview1-final"
Env:
- VS 15.7.0 Preview 2.0
- ASP.NET Core 2.1 Web Application (MVC)
- `<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0-preview1-final" />`

The same issue #4652 I reported back in 2016 appears again.

[code]

`BindModelAsync` is not invoked.

/cc @GoshaFighten @San4es

[2018-04-04 11:54] ipjohnson opened #7596 "Bundling and minification broken"
I know that bundling and minification were removed from MVC proper but the replacement documented by ms [here](https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification?tabs=visual-studio%2Caspnetcore2x) is broken with [bootstrap 4](https://github.com/madskristensen/BundlerMinifier/issues/218) and has been for a year+ with no fix in sight.

I understand the desire to lean

[2018-04-04 14:07] aelij opened #7597 "Suggestion: Allow using interfaces for controllers"
We're building a microservices-based system using Service Fabric and MVC, and many of the services are internal. In order to ease the development of those services, I've created an `IApplicationModelProvider` (a bit [hacky](https://gist.github.com/aelij/7a6f8c51deaa14b4f3783122afc2242b) but works) that also reads route and verb attributes from interfaces which are shared between services. This mak

[2018-04-04 15:49] pranavkm commented on #7477
Since you're deserializing JSON, all you need to do here is configure `JsonSerializerSettings` to create the right type for your interface. Something along the lines of:

[code]

You don't need to create a ModelBinder unless you also want to support binding form-url encoded data.

[2018-04-04 16:30] Crypt32 commented on #7477
Will this approach work when model is interface too? Say, action signature:

`public IActionResult Post([FromBody] IOuterClass createDto)`

 I know, it is an anti-pattern to use interfaces in bindings, but sometimes it is useful.

[2018-04-04 16:51] Eilon commented on #7596
This issue was moved to aspnet/Home#3023

[2018-04-04 16:51] #7596 closed

[2018-04-04 16:53] Eilon opened #7598 "ModelState not updating when using JsonPatchDocument.ApplyTo<T>(T, ModelStateDictionary)"
_From @TheWillieWonkaOfCode on January 19, 2017 21:26_

I was playing around with a REST service in ASP.NET Core MVC and found this issue.

Here is my model:
[code]

Here is my POST:
[code]

The validation fails correctly based on the attributes on the model.

Here is my PATCH (I have put comments around the issue):

[code]

I tried sending a replace for the FirstName to an empty string, and to a

[2018-04-04 16:53] Eilon commented on #7598
_From @Tratcher on January 20, 2017 18:23_

@rynowak ?

[2018-04-04 16:53] Eilon commented on #7598
_From @chriskooken on October 19, 2017 14:8_

I am having this same problem. Any updates on this?

[2018-04-04 16:53] Eilon commented on #7598
(Not sure if it's an MVC issue or a JsonPath issue.)

[2018-04-04 17:04] Crypt32 commented on #7477
Perfect man!

[2018-04-04 17:04] #7477 closed

[2018-04-04 17:06] oferns opened #7599 "Classic Area Registration"
Am I right in thinking that the only way to register an area is to use the AreaAttribute? I used to be able to inherit from a class call AreaRegistration and call RegisterAllAreas(). Can I no longer do this? Do I have to remember to put an attribute at the top of my controller classes? If so, can anyone suggest a way of implementing a class that does what AreaRegistration used to? Or is there a co

[2018-04-04 18:10] dougbu commented on #7595
Very strange. The tests I added in e63f094a5f should still exist, despite our various refactorings in this area. I'm not aware of any test removals or Preview 1 failures.

Suggest we investigate for realz.

@AlekseyMartynov do you have a new version of https://github.com/AlekseyMartynov/aspnetcore-rc2-modelbinding? That app doesn't exist anymore.

[2018-04-04 18:57] AlekseyMartynov commented on #7595
The code snippet from https://github.com/aspnet/Mvc/issues/7595#issue-311191359 should be enough to demonstrate the problem.

- Create ASP.NET Core 2.1 MVC app in VS
- Replace code in HomeController.cs
- Debug

[2018-04-04 20:12] dougbu commented on #7595
Thanks for reporting this issue. I agree that this is a Preview 1 bug; it also exists in our `dev` branch.

The only workaround I can see when using Preview 1 is to copy the `[ModelBinder(...)]` atrribute to the parameter:
[code]

With our nightly builds, you could disable top-level validation in `Startup.ConfigureServices(...)`:
[code]
Or, stick with `CompatibilityVersion.Version_2_0` for now (ag

[2018-04-04 20:33] dougbu commented on #7595
@mkArtakMSFT @danroth27 this is a strong candidate the milestone after Preview 2. By default in 2.1 mode, attributes on a parameter's type e.g. `[Bind]`, `[BindProperty]` or `[ModelBinder]` are no longer reflected in the parameter's `ModelMetadata`. The same goes for any (custom) `[Validation]` and `[Display]` (and similar) attributes.

Will also need to have another look at the tests added in e63

[2018-04-04 20:43] dougbu commented on #7595
Looks like the problem is here: https://github.com/aspnet/Mvc/blob/8e323a8e1e78b520e9a1c2a5a5f64139d5c210d0/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Metadata/ModelAttributes.cs#L182-L185

[2018-04-04 21:10] jaska45 opened #7600 "Razor Pages do not use localized page files"
I want to localize complete Razor page files. I tried to do in the same way as it works in MVC. This means that I add localized cshtml files. For example for Index.cshtml I added Index.fi.cshtml that is identical to the original English page file except strings are in Finnish. Then I configured Startup.cs with the normal localization related settings and ran the application. Finnish page file did

[2018-04-04 21:33] jaska45 commented on #7332
This is an important feature. If I have an application that has dozens of pages each having dozens of strings it I pretty hard to put everything into `.resx` files and replace nice text in HTML with Razor coded using localizer. HTML becomes hard to read and hard to maintain. Being able to hard code strings into HTML is much easier. In addition each time you put something into `.resx` you will loos

[2018-04-04 21:35] jaska45 commented on #7600
This seems to be duplicate of [](https://github.com/aspnet/Mvc/issues/7332)

[2018-04-05 04:37] geringanetor commented on #6659
@nmg196  in your project right-click and Edit your csproj. Then in <ProperyGroup></PropertyGroup> add it. Regards

[2018-04-05 08:24] BladeWise commented on #7594
After some digging I understood that `IApiDescriptionProvider` are actually composeable, so I could implement what I needed adding a custom provider to the pipeline, yet it feels quite a hack since some code has to be ripped out of the `DefaultApiDescriptionProvider`.

This is the provider I am using to automatically add a 200 result if no 2xx result has been already defined for an action:
[code]

[2018-04-05 09:57] Jpsy commented on #7422
Being new here, what is the recommended way to "show interest" for this enhancement request?
+1?
Posting in this thread?

[2018-04-05 16:03] mkArtakMSFT commented on #7422
Hi @Jpsy. `+1` would do it.

[2018-04-05 16:11] mkArtakMSFT commented on #7595
Thanks for looking into this, @doug.  I've assigned this to you as you already have context.

[2018-04-05 16:34] danroth27 commented on #7449
Blog post is now updated to use `CreateClient` method to create new `Httpclient` instances.

[2018-04-05 16:43] mkArtakMSFT commented on #7594
Thanks for contacting us, @BladeWise.
@rynowak, @pranavkm any thoughts?

[2018-04-05 16:46] mkArtakMSFT commented on #7600
Thanks @jaska45. Correct, this is a dup, so closing to track only in one place.

[2018-04-05 16:46] #7600 closed

[2018-04-05 16:53] mkArtakMSFT commented on #7599
@pranavkm, can you please answer this question?

[2018-04-05 16:55] mkArtakMSFT commented on #7589
@glennc, do you have any thoughts regarding this? Thanks!

[2018-04-05 16:58] mkArtakMSFT commented on #7487
Ping @kichalla

[2018-04-05 17:47] dougbu opened #7602 "Info-level logging about page execution is confusing"
Messages mix page and handler mentions with action mentions when logging about the same request e.g.
[code]
versus (in between the two messages above)
[code]

Should stick with consistent terms, preferably without expanding the meaning of "action". In addition, the `Executing handler method` message should fully qualify the method name, as we do in similar (true) action messages e.g.
[code]

----

[2018-04-05 17:53] mkArtakMSFT opened #7603 "A complex action parameter isn't shown as required when marked with `RequiredAttribute`"
Using 2.1.0-preview2:

When configuring the following two APIs on the controller:
[code]

Swagger shows only the `string requiredParam` as required and the red asterisk isn't shown for the `Movie required` parameter:
![image](https://user-images.githubusercontent.com/34246760/38382737-95f0174e-38bf-11e8-9baa-5390e693a2d7.png)
![image](https://user-images.githubusercontent.com/34246760/38382755-a02

[2018-04-05 18:01] dougbu commented on #7603
Suggest this issue duplicates #7360. We closed that issue and instead plan to add an analyzer about using `[Required]` on top-level nodes (#7415).

[2018-04-05 20:06] mkArtakMSFT commented on #7598
Thanks @rynowak. @TheWillieWonkaOfCode, we're closing this issue as it seems it has been answered. If you believe that your concerns hasn't been addressed, please reply with more details and we'll continue the discussion.

[2018-04-05 20:06] #7598 closed

[2018-04-05 20:11] mkArtakMSFT commented on #7597
Hi @aelij. Can you please provide more details about the scenario and why do you do that? Thanks!

[2018-04-05 20:11] mkArtakMSFT commented on #7597
/cc @DamianEdwards ,@glennc

[2018-04-05 20:12] pranavkm commented on #7599
MVC Core does not have an built-in mechanism similar to `AreaRegistration`. When we designed areas, we found that it was much more compelling to be able to explicitly specify the area per controller rather than have something opinionated like AreaRegistration. If you do feel strongly about wanting to avoid specifying `AreaRegistration` per controller type, you could

a) Derive from a controller ba

[2018-04-05 20:13] mkArtakMSFT commented on #7545
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-05 20:13] #7545 closed

[2018-04-05 20:15] mkArtakMSFT commented on #7494
@pranavkm, do you know whether this is supported or not and if yes, how should it be used? A reference to a doc would be ideal. Thanks!

[2018-04-05 20:16] mkArtakMSFT commented on #7496
Ping @rynowak

[2018-04-05 20:24] pranavkm commented on #7494
Filters for Razor Pages must be applied either globally (via `MvcOptions.Filters`) or on `PageModel` instances. You cannot apply filters to individual handler methods. We're adding docs for filters in Razor Pages as part of https://review.docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/filter?branch=pr-en-us-5835, https://github.com/aspnet/Docs/pull/5835#pullrequestreview-109790703

[2018-04-05 20:24] mkArtakMSFT commented on #7409
@DamianEdwards thoughts?

[2018-04-05 20:26] DamianEdwards commented on #7409
Definitely worth investigation.

[2018-04-05 20:27] Rick-Anderson commented on #7494
External folks can only see the PR https://github.com/aspnet/Docs/pull/5835
 https://review.docs.ms.com links are internal only

[2018-04-05 20:28] #7372 closed

[2018-04-05 20:36] mkArtakMSFT commented on #7355
@dougbu, can you please render a table of scenarios which are broken? It's a bit scattered now. Thanks!

[2018-04-05 20:40] mkArtakMSFT commented on #7353
@dougbu, looking through the details of the referenced issue it seems it was closed intentionally, without any action as that was called out as the best approach - to do nothing.
@pranavkm, is this a valid exception, or this should still be acted on so we get to consistency between Controllers and Razor Pages?

[2018-04-05 20:41] mkArtakMSFT commented on #7349
Closing as by-design.

[2018-04-05 20:41] #7349 closed

[2018-04-05 20:43] pranavkm commented on #7353
Might be a dup of https://github.com/aspnet/Mvc/issues/7358, although it would be good to verify this and add tests to cover this specific scenario.

[2018-04-05 20:48] mkArtakMSFT commented on #7298
@rynowak, any thoughts regarding this?

[2018-04-05 20:49] mkArtakMSFT commented on #7268
@NTaylorMullen, any thoughts regarding this?

[2018-04-05 20:51] Eilon commented on #7298
@grahamehorner - can you show what kind of code you plan on writing? What does the tag helper look like, and where would the generic type fit in?

[2018-04-05 20:53] mkArtakMSFT commented on #7058
Hi everyone. We're closing this issue as it's not related to MVC. Please file an issue in an appropriate repo and reference this one from it.

[2018-04-05 20:53] #7058 closed

[2018-04-05 20:55] mkArtakMSFT commented on #7214
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-05 20:55] #7214 closed

[2018-04-05 21:02] tarekgh commented on #7058
@mkArtakMSFT would be nice to move it to dotnet/sdk

[2018-04-05 21:11] rynowak commented on #7298
Usually when these scenarios are brought up there's a straightforward solution that doesn't require generics. We know that building features like this could be done, but it would require significant tooling and language work to build a reasonable experience. We haven't yet found a scenario that justifies the cost.

[2018-04-05 21:12] nguerrera commented on #7058
@joperezr @alexghiondea @dsplaisted  Is this one of the issues with binding redirects that was already fixed, or one that is already tracked? Do we really need a new bug in dotnet/sdk?

[2018-04-05 21:40] NTaylorMullen commented on #7268
This is equivalent to https://github.com/aspnet/Mvc/issues/7515 but for the Html Helper. As a side note we've been cautious as to where we invest our energy in regards to HtmlHelpers. This would be something to run by @DamianEdwards.

[2018-04-05 21:50] dougbu commented on #7353
#7358 is about `[Validation]` subclasses while this is about `[BindRequired]`. It's still possible fixing #7358 fixed these too. Or, another of our changes in this area may have fixed `[BindRequired]` in page model scenarios.

Should check if these symptoms occur with Preview 2 bits.

[2018-04-05 22:28] dougbu commented on #7355
I'm not sure of the current behaviour since we made significant changes in this area during Preview 2. But, the Preview 1 behaviour was something like:

| | no page model attribute | `[BindProperty]` on page model | `[BindProperty(Name = "the")]` on page model |
| ---- | ---------------------- | ----------------------------------- | ----------------------------------- |
| no property attribute | b

[2018-04-06 01:05] sebastienros opened #7605 "Routes are not found when using Microsoft.AspNetCore.All"
In the benchmarks app

[code]

I can't reach mvc endpoints, but when I use
[code]
Then mvc is enabled, but I get a 404 and a debug message stating no route matched.

This application uses attribute routing, so I assume the controller is not found in this case.
All other middleware work as expected.
I tried with the latest aspnet core version and also a one week old one.

Note: I have not yet tried

[2018-04-06 05:42] aelij commented on #7597
@mkArtakMSFT

The idea is that with services that are in the same repo/solution, using Swagger is a bit of a hassle. If both the controller and the generated client implement the same interface, they're always in sync, and that's guaranteed at compile time. If I changed the contract, I'd have to change the implementation and the call site.

The idea is somewhat similar to [Refit](https://github.co

[2018-04-06 06:00] Eilon commented on #7605
@mkArtakMSFT - can we have someone take a look first thing tomorrow w/ Preview2 to see if this is something we would reset on?

[2018-04-06 06:46] rynowak commented on #7605
For an extremely short period of time we had a build of the SDK that would produce a messed up deps file in some really specific circumstances, I'm wondering if it's possible that this is that.

@pranavkm would know remember what the workaround for that was (an msbuild thing) would help narrow this down

[2018-04-06 09:54] RandyBuchholz commented on #7487
@pranavkm

 I'm just setting up the application using the default settings.
 Create a new `ASP.Net Core Web Application`, select `Web Application`, target `ASP.Net Core 2.1`, and `No Authentication`.

In `Startup.cs`, replace
[code]

with
[code]
Rename the `Pages` folder `Processes`.

Run the application. It will run correctly, but in the Output window you will see the warnings. E.g.,

[code]

[2018-04-06 12:54] AvogadroSG1 opened #7606 "Nested TagHelpers of same Type cause ArgumentException (Key problem)"
**Nested Tag Helpers of the same type will cause an Argument Exception (Key Problem)**

**System**
.NET Core 2.1

**Description**
Using a TagHelper to create a Bootstrap 3.3.6 Panel:
[code]

Nesting a panel like:
[code]

This will generate:
[code]

I believe it's because there is already a context injected into the system and there is no unique identifier for these context.

Is this an error in my

[2018-04-06 16:08] pranavkm commented on #7605
We fixed this in the most recent SDK. But the fix was to set `<PreserveCompilationContext>true</PreserveCompilationContext>` in your app if you're blocked on updating the Sdk.

[2018-04-06 16:13] pranavkm commented on #7487
@RandyBuchholz any chance you could zip up the project directory and share it here? I see these warnings if I select Individual auth, but not for the No Authentication scenario.

[2018-04-06 16:28] sebastienros commented on #7605
We already tried it with @JunTaoLuo  and it didn't solve it

[2018-04-06 16:35] pranavkm commented on #7605
Yeah, this is broken. We have to explicitly list `Microsoft.AspNetCore.All` here - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/ApplicationAssembliesProvider.cs#L17 - the deps file does not say that `Microsoft.AspNetCore.All` depends on `Microsoft.AspNetCore.Mvc` which breaks our search.

[2018-04-06 17:38] pranavkm opened #7608 "Remove root directory customization options for Razor Pages areas"
Loosely based on https://github.com/aspnet/Mvc/issues/7487

`RazorPageOptions.RootDirectory` is used to determine two things today (https://github.com/aspnet/Mvc/issues/7345), the "Pages" directory at the root as also the "Pages" directory in the area root. If a user changes the value for one, Identity UI for instance would be completely broken. We could fix this by stashing more metadata in the l

[2018-04-06 17:38] pranavkm commented on #7608
cc @DamianEdwards \ @rynowak

[2018-04-06 18:01] #7605 closed

[2018-04-06 18:02] pranavkm commented on #7605
Fixed in 5e019bd707497b0d28a7387c7ed66447a1907d59

[2018-04-06 18:40] RandyBuchholz commented on #7487
Here you go.
[IdentityErrors.zip](https://github.com/aspnet/Mvc/files/1885214/IdentityErrors.zip)

[2018-04-06 18:41] DamianEdwards commented on #7608
This seems like the most sensible tactical change at this stage.

[2018-04-06 18:41] DamianEdwards commented on #7608
We need to do this in rc1 of course.

[2018-04-06 20:07] pranavkm opened #7609 "ApiBehaviorApplicationModelProvider overwrites existing BindingInfo in entirety when inferring binding sources"
Problematic code: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L180-L186

More details:

`ApiBehaviorApplicationModelProvider` attempts to infer `BindingSource` for parameters that do not already have a `BindingSource` specified. Typically a `BindingSource` is calculated for a parameter, when it has attribute such as `From

[2018-04-06 20:41] pranavkm commented on #7608
Yup. Self assigning for 2.1.0-rc1.

[2018-04-06 21:04] tebrizetayi commented on #7350
[BindProperty(SupportsGet = false)]
    public class HomeController : Controller
    {
        public string Name { get; set; }
        public int Age { get; set; }
    }
     [HttpPost]
     public IActionResult Post()
     {
          return View();
     }
    <form asp-action="Post" asp-controller="Home" method="post">
    <input name="Name" type="text" />
    <input name="Age" type="text" />

[2018-04-06 22:39] PaulParker opened #7610 "Custom error page for exceptions in view"
We're using `UseStatusCodePagesWithReExecute()` in combination with a simple custom middleware that sets `Response.StatusCode` to `500`, to successfully to send users to our custom error page on exceptions in mvc controllers.  However, for errors in razor/cshtml views, `UseStatusCodePagesWithReExecute()` doesn't seem to do anything (though the middleware does detect the exceptions from views in `I

[2018-04-07 08:32] j0nimost opened #7611 "Encrypt the Secrets.JSON"
Recently as i was working on a team project I saw a developer store encryption Keys in the Secrets.Json for sure this is not advisable but according to him storing the Key inside a class then pushing the code to a version control accessible to other team members was worse. Obviously this meant he had to access the Secrets.JSON at all times be it in Production or Development environments. I would b

[2018-04-07 09:11] JerryBian opened #7612 "fail to apply Guid route constraint?"
I am not quite sure whether I did it wrong. From [doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing#route-constraint-reference) it seems following is valid for routing, but when I tried to access it always return 404.

[code]

e.g. http://localhost:63950/test/826510d7-00b7-42cc-aeea-6f455f19ec4b

Do I need to setup somewhere to enable Guid support for routing? Thanks.

[2018-04-07 23:38] Eilon commented on #7611
What is `Secrets.Json`? Is this in reference to [user-secrets](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio)?

We highly recommend avoiding checking in *any* secrets into source control. The user-secrets tool is designed to store *development time secrets* in a location outside of source control.

cc @blowdart

[2018-04-08 05:50] tidyui opened #7613 "Razor Pages looses query param "page""
First off, this seems **extremely odd**, but I can reproduce it over and over and I can't get around it. My page is getting a bunch of query parameters, everything is working except **one** which never gets any value. This param is named `page`, and is simply passed in as paging to a blog archive.

I've just taken out the piece not working into a simple test page and the error is the same:

    @p

[2018-04-08 20:56] dougbu opened #7615 "Mvc.Testing incompatible with current Razor application"
## Repro Steps
The following is similar to the [Preview 1 functional testing instructions](https://blogs.msdn.microsoft.com/webdev/2018/03/05/asp-net-core-2-1-0-preview1-functional-testing-of-mvc-applications/) but done In Visual Studio using Preview 2 bits:
1. Create new ASP.NET Core Web Application
    - Later steps make more sense if "Create directory for solution" is enabled
2. Choose Web Appl

[2018-04-09 01:33] los93sol commented on #7128
@JeffMarqMetrix Even though this is unsupported it is something I also need for one of my projects and I'm also not satisfied with the workaround of splitting the project and deploying two separate binaries with some type of service bus to bridge the gap.  FWIW, I started debugging this and found the cause of the FileNotFound exception is in ApplicationPartManager.PopulateDefaultParts.  It tries t

[2018-04-09 02:02] qibucloud commented on #7576
[code]

[2018-04-09 02:03] los93sol commented on #7128
So as it turns out, after hacking the whole assembly loading it just ends up in a PlatformNotSupported exception now, time to work through that one

[2018-04-09 03:37] ericwj opened #7616 "TempData doesn't work in the presence of a cookie consent policy"
By default, the template used by `dotnet new web` for example sets up the `CookiePolicyOptions` to always require consent:

[code]

The temp data cookie written by [CookieTempDataProvider](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/CookieTempDataProvider.cs#L103) is not marked as essential, meaning that no temp data cookie is written if the user h

[2018-04-09 05:12] dougbu opened #7617 "MVC.Testing incompatible with conventional routing in current MVC apps"
See also #7615. This issue appears unrelated though the scenarios are similar. In particular, this one is about conventional routing rather than redoing pre-compilation (and failing).
## Repro Steps
The following is similar to the [Preview 1 functional testing instructions](https://blogs.msdn.microsoft.com/webdev/2018/03/05/asp-net-core-2-1-0-preview1-functional-testing-of-mvc-applications/) but d

[2018-04-09 05:14] dougbu commented on #7617
Similar scenario using .NET Framework 4.6.1 succeeds. Major differences in successful case are the TFM and use of .NET Framework-compatible packages (not Microsoft.AspNetCore.App).

[2018-04-09 05:15] dougbu commented on #7617
Found while verifying aspnet/Release#257.

[2018-04-09 05:15] dougbu commented on #7615
Similar scenario using .NET Framework 4.6.1 succeeds. Major differences in successful case are the TFM and use of .NET Framework-compatible packages (not Microsoft.AspNetCore.App).

[2018-04-09 05:16] dougbu commented on #7615
Found while verifying aspnet/Release#257.

[2018-04-09 05:33] dougbu commented on #7617
Expected an attribute routing scenario to get much further or even succeed. But, above setup also fails when action has `[HttpGet("/api/test")]` for example.

[2018-04-09 06:47] j0nimost commented on #7611
Oh i see. I actually thought i can be used on production. Thanks for clearing that up.

[2018-04-09 06:47] #7611 closed

[2018-04-09 13:53] sven5 commented on #7358
Hi,

Which release will include these fixes?

[2018-04-09 14:36] expressiveco opened #7619 "ViewContext.ExecutingFilePath is incorrect for custom tags(taghelper) in sections"
When custom tags are used in sections of views then ViewContext.ExecutingFilePath is reported incorrectly within the taghelper. It is correct when used outside of sections.

# Repro Steps
* In index.cshtml
[code]

# Expected
* In "my-scripts" taghelpers Process() method, ViewContext.ExecutingFilePath is expected to be **"Index.cshtml"** but it is **"_Layout.cshtml"**.

# Actual
* In "my-scripts" t

[2018-04-09 15:50] dougbu commented on #7358
@sven5 the fix will be included in 2.1.0 Preview 2.

[2018-04-09 16:06] Eilon commented on #7616
cc @blowdart @javiercn @Tratcher

I recall we had some discussion about which cookies should require consent and the TempData cookie was not considered essential due to what it is typically used for. I think we decided that because TempData is so ephemeral (it can disappear so easily), it would be difficult to consider it essential because if it was so essential it wouldn't be so ephemeral.

[2018-04-09 16:38] mkArtakMSFT commented on #7619
Thanks for contacting us, @expressiveco.
@NTaylorMullen, can you please look into this? Thanks!

[2018-04-09 16:40] pranavkm commented on #7599
@oferns here's the doc article for it - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model

[2018-04-09 16:42] pranavkm commented on #7350
I looked at this and `ModelMetadata` changes (https://github.com/aspnet/Mvc/commit/c515cece8ed8a39b8163c3ba35024bcc79716ca0) didn't address this. We'll need to make a specific change for this.

[2018-04-09 16:44] mkArtakMSFT commented on #7617
@kichalla, can you please look into this? Thanks!

[2018-04-09 16:54] mkArtakMSFT commented on #7617
/cc: @danroth27

[2018-04-09 16:54] mkArtakMSFT commented on #7615
@javiercn, can you please look into this? Thanks!

[2018-04-09 17:03] mkArtakMSFT commented on #7612
@kichalla, can you please look into this? Thanks!

[2018-04-09 17:04] pranavkm commented on #7613
The term `page` (like `controller`, `action`, and `area`) is reserved for routing in Razor Pages. Using a different name like `pagenum` would be the easiest solution here.

[2018-04-09 17:32] javiercn commented on #7616
That was the outcome of that discussion. This is by design.

[2018-04-09 18:53] javiercn commented on #7617
I suspect this is related to the application part changes. @pranavkm

[2018-04-09 19:16] dougbu opened #7620 "Simplify Mvc.Testing usage"
The current Mvc.Testing API has a few quirks that make it less usable / understandable:
- `WebApplicationFactory<TEntryPoint>` exposes a `ClientOptions` property that
  - is only used when calling `CreateClient()` i.e. it's ignored when calling `CreateDefaultClient()`. This is documented but not at all intuitive
  - duplicates the `CreateClient(WebApplicationFactoryClientOptions)` feature. Why do

[2018-04-09 19:24] blowdart commented on #7616
Yes, by design. Darned GDPR.

[2018-04-09 19:25] pranavkm commented on #7487
@RandyBuchholz thanks. Looks like the warnings you were seeing were problematic in preview1. I don't see the warnings as part of preview2. Your work item did point out issues that occur with the area directory (if you opted in to Individual Auth) when you modify the RootDirectory. We're using https://github.com/aspnet/Mvc/issues/7608 to track addressing this for rc1.

Hope this addresses your conc

[2018-04-09 19:25] #7487 closed

[2018-04-09 20:01] rynowak commented on #7587
I think the proposed fix here is to use the `Development` environment rather than creating something new for tests. Is there anything else that was needed?

We want to also make sure that it's reasonable to set the environment as well, and add a code sample to the docs.

[2018-04-09 20:10] #7616 closed

[2018-04-09 20:17] expressiveco commented on #7619
But what about RenderBody()? It is called from layout to render the view but in a view ExecutingFilePath value is not the layouts path but the views.

[2018-04-09 20:28] tidyui commented on #7613
Aha, is this documented somewhere, because I couldn't find any information about it? The param `page` is unfortunately quite a common name for any application with paged lists. Is there a particular reason for reserving such obvious names for internal routing when something a bit more obfuscated, like `aspnet_routing_page` could've been used?

Anyway, since I control the code of the framework pass

[2018-04-09 21:04] rynowak commented on #7496
This is not something we're planning on doing. The convention of using `Index` to map to the directory without a filename is an old and familiar convention. If you want to do something like this for your own applications, it should be possible using `IPageRouteModelConvention` to change the routes during startup.

[2018-04-09 21:04] #7496 closed

[2018-04-09 21:36] los93sol commented on #7128
Looks like the last hurdle is with the host builder, it does some reflection to get the assembly when you call Build() on it, internally that calls BuildCommonServices() and it looks like that's where the last issue lies.  Hacking around the AddMvc issue wasn't so bad, just had to manually initialize some things.

For anyone else trying to get this going, here is what I did in startup....

[2018-04-09 22:04] NTaylorMullen commented on #7619
You're right; however, the View itself will always render so we render that view first with its own ViewContext and cache it, then we render the `_Layout.cshtml` and when it calls `RenderBody` we paste in the already rendered View. It's a little quirky hence my previous posts wording but sections differ from Views where they don't always run.

[2018-04-09 22:54] ericwj opened #7622 "`NullReferenceException` in `DefaultPageLoader.Load` if ContentRoot starts with '\\?\'"
I'm creating a 2.1-preview1 project and doing some non-standard configuration.

I found some API's will return directory names starting with `\\?\` and Mvc doesn't eat them.

[code]

[code]

[2018-04-09 23:44] Eilon commented on #7622
Just curious: Is there a reason that `\\?\`-style paths are being used? Is it to get past MAX_PATH?

[2018-04-10 00:00] los93sol commented on #7128
Here is a reflection version of the little startup hack so AddMvc() will work...

        public void ConfigureServices(IServiceCollection services)
        {
            var manager = new ApplicationPartManager();

            // Do some reflection to get at the internal stuff we need to override
            var assembliesProviderType = Assembly.Load("Microsoft.AspNetCore.Mvc.Core").GetType("Micr

[2018-04-10 00:25] ericwj commented on #7622
No, they magically appear when running behind IIS.

[2018-04-10 01:31] qibucloud commented on #7576
[code]

[2018-04-10 01:32] qibucloud opened #7623 "An error occurred while writing to logger(s). (Too many open files) ---> System.IO.IOException: Too many open files"
#7576

[code]

[code]

[2018-04-10 01:42] JerryBian commented on #7612
How to reproduce is rather easy.

Create an application with VS's default ASP.NET Core MVC template, and put above `Action` method to `HomeController`, that's it.

cc @kichalla

[2018-04-10 02:00] mkArtakMSFT commented on #7623
Hi @qibucloud. Can you please share a repro project with us?

[2018-04-10 02:00] mkArtakMSFT commented on #7612
Thanks @JerryBian!

[2018-04-10 02:06] mkArtakMSFT commented on #7622
Hi @ericwj. Can you please share a repro project?

[2018-04-10 02:09] mkArtakMSFT commented on #7613
Thanks @pranavkm.
@danroth27, is this something we have documentation on?

[2018-04-10 02:27] danroth27 commented on #7613
https://github.com/aspnet/Docs/issues/5915

[2018-04-10 02:28] #7613 closed

[2018-04-10 04:43] Tratcher commented on #7616
CookiePolicyOptions has some callbacks on a per-cookie basis that can override the behavior, but they're pretty clumsy. In practice you must either have consent or mark your cookie as essential.

[2018-04-10 05:31] ericwj commented on #7616
`CookiePolicyOptions.OnAppendCookie` => `AppendCookieContext` yeah but why am I here and what for

While talking about this, there a way to make this code vastly better? I figure I can shorten it a bit by taking a dependency, but that is a pattern I would have to repeat in every place I use this method.

[code]

Thanks in advance

[2018-04-10 05:45] Tratcher commented on #7616
`httpContext.Get<ITrackingConsentFeature>().CanTrack`
https://github.com/aspnet/HttpAbstractions/blob/a6bdb9b1ec6ed99978a508e71a7f131be7e4d9fb/src/Microsoft.AspNetCore.Http.Features/ITrackingConsentFeature.cs#L12-L25

[2018-04-10 06:16] kevin-jing opened #7624 "AddPageRoute doesn't remove Index when it should"
I use the following code to change the default page:
`            services.AddMvc().AddRazorPagesOptions(options =>
            {
                options.Conventions.AddPageRoute("/Transactions/Index", "");
            });`

But receive an error:
An unhandled exception occurred while processing the request.
AmbiguousActionException: Multiple actions matched. The following actions matched route dat

[2018-04-10 06:45] ericwj commented on #7622
"ancmHostingModel": "InProcess" in `launchSettings.json` is the offender.

[code]

The screenshot will hopefully do the trick, if not - let me know. Not quite the whole scoop because in my original project I get `\\?\` for `Directory.GetCurrentDirectory()` even. And I seem to be completely unable to produce any stdout logs running under IIS after publishing, although IIS Express writes them happil

[2018-04-10 07:08] ericwj commented on #7616
Thanks!

[2018-04-10 07:14] ericwj commented on #7616
`[CS1061](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1061)` on `HttpContext.Get<T>()` though. Was that a shorthand? Cute!

[2018-04-10 09:05] nefcanto opened #7625 "PartialView is cahced somehow"
I deployed an ASP.NET Core MVC application to my server, and hosted it in IIS. Configured binding and everything is working. Here's the problem:

- I change a cshtml file
- I only upload that cshtml file onto the server, inside the relevant folder
- I call the public action, that returns the PartialView of that cshtml file
- It's not the updated version
- I delete cshtml file from server, and call

[2018-04-10 11:55] khellang commented on #7625
Sounds like you're shipping precompiled views. See https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?tabs=aspnetcore2x. The default behavior varies a bit depending on the version of ASP.NET Core you're running.

Do you have a *.PrecompiledViews.dll file in your apps bin folder?

[2018-04-10 13:40] expressiveco commented on #7619
So, i want to have a general purpose solution to get file path of the view that contains the piece of code i.e. ContainingFilePath.
Currently, following is my preference with a mandatory Path attribute
[code]

[2018-04-10 13:42] nefcanto commented on #7625
No I haven't use precompiled views, and I HAVE NOT configured my project file this way:

[code]

Yet for some weird reason I see a *.PrecompiledViews.dll in my *obj* folder, not in my *bin* folder.

[2018-04-10 13:44] nefcanto commented on #7625
Yeah, you're right, thought *.PrecompiledViews.dll is not in my **bin** folder, it's present in my published folder on my server. This is strange, because I can see that we have not configured csproj file to do the view precompilation.

[2018-04-10 13:47] khellang commented on #7625
What version of ASP.NET Core are you running? If you're running 2.0, precompiled views are turned on by default:

If you're targeting 2.0 and have `<Project Sdk="Microsoft.NET.Sdk.Web">` in the top of your project file, you're probably publishing precompiled views without knowing it.

Yeah, by bin folder, I was really referring to your published application folder 😄

[2018-04-10 13:59] nefcanto commented on #7625
I'm using `<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.5" />` and I do have `<Project Sdk="Microsoft.NET.Sdk.Web">` at the top of my project.

[2018-04-10 15:30] alexsandro-xpt commented on #5992
And now to make matters worse, after some days, it begin works on my computer but in another my notebook, not!

Really stranger.......

[2018-04-10 16:29] Tratcher commented on #7622
Likely a duplicate of https://github.com/aspnet/IISIntegration/issues/725

[2018-04-10 16:30] Eilon commented on #7622
Yup, looks exactly the same.

[2018-04-10 16:32] pranavkm commented on #7624
There are two pages in your application with the same route. `AddPageRoute` will not affect routes in the application (this could include other controller actions if you're mixing controllers and Razor Pages). The user's responsible for configuring the application the right way.

[2018-04-10 16:32] #7624 closed

[2018-04-10 16:36] shanselman commented on #7587
@rynowak There's still (I think) an underlying issue...even if I change the Environment, I can't seem to access "WebProject1"'s UserSecrets from "TestProject1." There is something there, unrelated to Environment.

[2018-04-10 16:51] mkArtakMSFT commented on #7622
Thanks folks. Closing this one as a dupe.

[2018-04-10 16:51] #7622 closed

[2018-04-10 16:54] mkArtakMSFT commented on #7625
@pranavkm, any suggestions here? Thanks!

[2018-04-10 17:12] mkArtakMSFT commented on #7620
@danroth27, would be great to hear your opinion about this

[2018-04-10 17:15] mkArtakMSFT commented on #6796
Pushed this out to `2.2.0`.

[2018-04-10 17:27] Eilon commented on #5303
Closing because there has been minimal feedback on this.

[2018-04-10 17:27] #5303 closed

[2018-04-10 17:36] javiercn commented on #7587
We are discussing this. Will update shortly. Regarding user secrets, can it be that is looking for the user secrets for your test assembly instead of for your app assembly? I will have to look into it in more detail

[2018-04-10 18:05] pranavkm commented on #7617
Investigated this further. In 2.1.0-preview1, this worked because we always returned a part for the EntryAssembly regardless of if it depended on Mvc:

https://github.com/aspnet/Mvc/blob/2.1.0-preview1-final/src/Microsoft.AspNetCore.Mvc.Core/Internal/DefaultAssemblyPartDiscoveryProvider.cs#L78

The problem resurfaces if the web application under test references a class library which references Mvc

[2018-04-10 19:14] mkArtakMSFT commented on #7606
Thanks for contacting us, @AvogadroSG1. It would be great if you could share a sample project with a repro with us.

[2018-04-10 20:10] shanselman commented on #7587
I was thinking that might be the case, but I added the UserSecretsID in the
csproj.

On Tue, Apr 10, 2018 at 10:36 AM, Javier Calvarro Nelson <
notifications@github.com> wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2018-04-10 20:14] pranavkm commented on #7615
Investigated and this has the same root cause as https://github.com/aspnet/Mvc/issues/7617 although the presentation is different. Here's what happens:

1) Mvc does not discover RazorApp1 as an Mvc referencing library and consequently does not discover the compiled view either.
2) No parts returning requisite reference assemblies is registered, so runtime compilation of the Razor Page also fails.

[2018-04-10 20:14] #7615 closed

[2018-04-10 20:34] breyed commented on #5303
Were you expecting thumbs up on any given documentation specific? That's not very likely. More realistic is general feedback about awesome docs vs. sparse/confusing docs, or somewhere in between.

If making an a highly productive library that's easy for devs to get right the first time is a priority, I'd urge you to put effort into making sure the IntelliSense docs (if possible, and the F1 docs ha

[2018-04-10 20:50] Eilon commented on #5303
We have received no other feedback about this doc (or lack of doc), so we felt that putting more effort into improving this doc would provide very little value. It's just a matter of trade-offs.

[2018-04-10 21:16] mkArtakMSFT commented on #7583
@dougbu, assigning this to you as @pranavkm has too much stuff on his plate.

[2018-04-10 21:59] #7610 closed

[2018-04-10 22:14] mkArtakMSFT commented on #7521
Moved this out as the dependency is in the related milestone.

[2018-04-11 03:02] D3MaxT opened #7629 "services.AddMvc() is broken in 15.7 Preview 3 when In-Process IIS hosting model is selected"
Setting a brand new ASP.NET Core 2.1 Preview 2-final project.

When selecting the In-Process hosting model for IIS Express, the first HTTP request throws an exception on the services.AddMvc(); line:

System.ArgumentNullException: 'Value cannot be null.'

Works fine when "Default" hosting model is set.

[2018-04-11 03:15] kevin-jing commented on #7624
So what's the right method to change the default page?

[2018-04-11 03:29] los93sol commented on #7128
Still trying to sort this out and was able to use the built in server working with the following....

    public sealed class StartupTask : IBackgroundTask
    {
        BackgroundTaskDeferral _deferral;

        public void Run(IBackgroundTaskInstance taskInstance)
        {
            _deferral = taskInstance.GetDeferral();

            var host = WebHost
                .CreateDefaultBuilder()

[2018-04-11 05:13] fatih108 opened #7630 ""AllowEmptyStrings = true" does not work"
This my ViewModel, why "AllowEmptyStrings = true" does not work. ModelState always invalid.

[code]

[2018-04-11 06:10] los93sol commented on #7128
If anyone can help me understand the flow of things from the request hitting IServer through to Mvc for routing that would be helpful

[2018-04-11 07:38] danroth27 commented on #7620
I think these are by design, but @javiercn can say for sure.

[2018-04-11 11:53] mahmoud690 commented on #5258
I have the same error.  I use the latest version of WebApi (5.2.4) but the problem still exists.

[2018-04-11 13:55] #7572 closed

[2018-04-11 14:08] los93sol commented on #7128
Good news and bad news, the good news is I tracked down why routing is failing, the bad news is I am not sure how to work around it yet.  UWP is not happy about a declaration like public class HomeController : Controller and complains about not deriving from System.Object.  I had ignored this previously and just removed public from the declaration, but that breaks routing's ability to locate the c

[2018-04-11 14:11] JeffMushmo commented on #7128
Hey @los93sol
I really appreciate all of the effort you've put into trying to solve this.

One idea might be to try defining your controllers in a class library, and referencing that class library from your main UWP project.

[2018-04-11 14:31] javiercn commented on #7620
@dougbu what is your proposal here?

[2018-04-11 14:46] AvogadroSG1 commented on #7606
No problem!
Here you go!
[https://github.com/AvogadroSG1/taghelperbug](url)
Also Download attached.

[TagHelperBug.zip](https://github.com/aspnet/Mvc/files/1899297/TagHelperBug.zip)

[2018-04-11 15:25] los93sol commented on #7128
@JeffMushmo Thank you, I had to get a little hacky with it but that did the trick!  Routing is now working and my breakpoint in the controller is being hit as well.  Looks like there's some stuff in Razor now that I need to deal with

[2018-04-11 15:57] dougbu commented on #7620
@javiercn I suggest
1. remove the `ClientOptions` property because `CreateClient(WebApplicationFactoryClientOptions)` is clearer
  - perhaps leave a `static` `_clientOptions` or `_defaultClientOptions` field for `CreateClient()`'s use
2. add a `CreateClient(Uri baseAddress)` overload

[2018-04-11 16:02] dougbu commented on #5258
Reopened in preparation for move to aspnet/AspNetWebStack

Side note: CodePlex is now in archived state. We never saw https://aspnetwebstack.codeplex.com/workitem/2315

[2018-04-11 16:03] dougbu commented on #5258
This issue was moved to aspnet/AspNetWebStack#150

[2018-04-11 16:03] #5258 closed

[2018-04-11 16:43] Eilon commented on #7629
The in-proc IIS hosting feature was removed from ASP.NET Core 2.1 Preview 2, though some artifacts remain in VS 15.7 Preview 3. The next VS 15.7 preview will have the options removed.

So, for now, we recommend not enabling that feature.

We do plan to bring back the in-proc IIS hosting feature at a later time.

[2018-04-11 17:51] los93sol commented on #7128
Stuck again, this time it's Razor, it tries to reach back into my assembly to locate the views after it compiles them, and again, since we get a .winmd file it fails there.  I was thinking I could just disable view compilation in the solution file, but that doesn't appear to be doing the trick.  I also wasn't able to just drop the views in the class lib either, hmmmm

[2018-04-11 18:51] martincostello opened #7631 "WebApplicationFactory should provide a virtual Dispose() method"
The `WebApplicationFactory<T>` class in Microsoft.AspNetCore.Mvc.Testing should provide the standard `protected virtual void Dispose(bool disposing)` method to allow derived classes to override the method to dispose of resources they might create themselves.

[2018-04-11 18:56] christo8989 commented on #2308
Here's another answer.

[code]

[2018-04-11 21:11] mkArtakMSFT commented on #7577
Hi @valeriob.
You've actually got it right and we'd do the same in this situation.

[2018-04-11 21:11] #7577 closed

[2018-04-11 21:13] mkArtakMSFT commented on #7631
Thanks for reporting this issue. We agree that this seems to be a bug and we've assigned one of our team members to look into this based on its priority.

[2018-04-11 21:27] mkArtakMSFT commented on #7630
Hi @fatih108.
Can you please share a repro project with us as well as share details about how you use it? What browser version do you have?

[2018-04-11 21:30] mkArtakMSFT commented on #7599
Thanks @pranavkm.

[2018-04-11 21:31] mkArtakMSFT commented on #7599
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-11 21:31] #7599 closed

[2018-04-11 22:25] #7608 closed

[2018-04-11 22:40] rynowak commented on #7594
Hi @BladeWise - sorry for the delay, it just dropped off my radar.

We intended for the providers to be composable, but I think we got some things wrong by not separating our computation into phases. You could probably simplify that code a great deal by just hardcoding content types if you don't actually do content negotiation.

This kind of request is something we've tracking for a while now. htt

[2018-04-11 22:56] pranavkm opened #7632 "Verify the fix for MVC.Testing incompatible with conventional routing in current MVC apps using the shared runtime"
Verifying that the changes here work E2E.

Original issue: https://github.com/aspnet/Mvc/issues/7617

[2018-04-11 22:56] pranavkm commented on #7632
Self assigning so I can verify this once we have a build of everything.

[2018-04-11 22:56] pranavkm commented on #7617
Filed https://github.com/aspnet/Mvc/issues/7632 to track verifying this E2E once we have a shared runtime

[2018-04-11 22:57] #7617 closed

[2018-04-11 23:31] los93sol commented on #7128
Bit of an update, I'm having trouble getting view compilation to work, I think views will have to be precompiled, but the normal way of doing this via csproj doesn't seem to be working for UWP, any thoughts?

[2018-04-12 04:48] los93sol commented on #7128
I'm stuck so posting my repo, hopefully someone can pick this up and help finish it https://github.com/los93sol/UwpAspNetCore/

[2018-04-12 06:33] rockerinthelocker opened #7633 "ASP.NET Core 2.1 Preview 2 - AddMvcCore() throws ArgumentNullException when hosting model is InProcess"
When using AddMvcCore() and hosting model is InProcess, the following exception is thrown when starting the site.

[code]
Dev Machine Setup:
Visual Studio 2017 15.7 Preview 3
dotnet-sdk-2.1.300-preview2-008530-win-x64

Steps to reproduce:

1) Create default MVC 2.1 Preview 2 application.
2) Replace

   `services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_1);
`
with

[code]
in

[2018-04-12 07:24] sven5 commented on #7358
Hi,

I'm currently testing my Validation issue with preview 2.
It seems that MinLengthAttribute doesn't work.

My property is defined like this:
[code]

It doesn't result in ModelState.IsValid being false when SelectedStores.Count() == 0

Did I miss something?

Regards
Sven

[2018-04-12 08:24] tbertenshaw opened #7634 "WebApplicationTestFixture missing when preview1 => preview2"
after updating to preview2  I now get type or namespace not found `WebApplicationTestFixture` Has it been moved, renamed or deprecated?

[2018-04-12 10:53] martincostello opened #7635 "Provide an ability to configure the HTTP client created by WebApplicationFactory<T>"
I'm using `WebApplicationFactory<T>` for some tests where I need to configure `HttpClient` appropriately with some default headers in order for the application to accept requests as valid.

Because all the `HttpClient Create*Client()` methods are non-virtual, it's not possible for me to override any of the implementations to set the headers before returning the client, so I need to make my own met

[2018-04-12 10:54] martincostello commented on #7634
It's been renamed to `WebApplicationFactory<T>`.

[2018-04-12 10:55] martincostello commented on #7631
I can do a PR to add this for 2.1.0 if wanted? Otherwise in 2.2.0 would it be a breaking change to the public contract?

[2018-04-12 12:54] BladeWise commented on #7594
Thanks @rynowak, I suppose you are right, but I preferred to try playing nicely with ApiExplorer, instead of brute-forcing the swagger code generation.
In the end I could achieve what I needed and was not a painful expreience, so even provider composition is not so bad.
Unfortunately, a well described API does not play nicely with client auto-generation in this case, at least with AutoREST, since

[2018-04-12 13:04] J0nKn1ght opened #7636 "Using Localization with an EF Context - resource string caching issue"
Hi,

I've successfully implemented an IStringLocalizer service as a singleton in my project, but I have an issue which I'm not sure how to address.

To give you some context, the site we're developing will have base English content which will be translated by people who are located around the world.  The number of languages supported will be added to over time, as an when translators are found.  O

[2018-04-12 14:33] tbertenshaw commented on #7634
presumably the Interface has changed then as all tests break now with razor compilation exceptions. Were there any notes on the change as not spotted any sofar.

[2018-04-12 15:00] rynowak commented on #7358
@sven5 - did you set the compatibility version to 2.1? https://github.com/aspnet/Mvc/blob/dev/samples/MvcSandbox/Startup.cs#L17

New features like this one in particular introduce lots of subtle behavior changes.

[2018-04-12 15:03] rynowak commented on #7631
Feel free to send us a pr, that would be helpful 👍

[2018-04-12 15:33] kichalla commented on #7612
@JerryBian  I am unable to repro this scenario in 2.0.3 or the latest version.

[2018-04-12 15:47] martincostello commented on #7634
It's _supposed_ to be able to find them by itself now, but I've gone one application where it keeps getting it wrong and I've been struggling to get it to use the right path with how the tests were originally written.

Depending on how I get on I might open an issue about it as either there's a bug in the code to find the app, or there's a missing extensibility point.

[2018-04-12 16:32] martincostello commented on #7635
#7638

[2018-04-12 17:44] pranavkm commented on #7633
Seems like a dup of https://github.com/aspnet/IISIntegration/issues/725. @jkotalik ?

[2018-04-12 17:48] jkotalik commented on #7633
Yeah.

[2018-04-12 17:48] #7633 closed

[2018-04-12 18:49] mkArtakMSFT commented on #7634
FYI: @javiercn @danroth27

[2018-04-12 19:40] sven5 commented on #7358
@rynowak

I missed that. Now it's working. Thank you.

There still is something strange:
The ModelState.Values Enumerable now contains my invalid property but the Key and SubKey are empty. I suspect that the consequence of this is that validation error for the field is not showing with
[code]
The validation error is displayed only in validation summary.

Regards
Sven

[2018-04-12 20:40] mkArtakMSFT commented on #7635
Hi @martincostello.
Can you please update the title to reflect what exactly the change is. The intent is more to have an ability to configure the created client, rather than return something else (this is inline with my review comments).
Something like "Provide an ability to configure the client created by `WebApplicationFactory<T>`".

[2018-04-12 20:57] mkArtakMSFT commented on #7594
Thanks for your feedback, @BladeWise.
I'm closing this issue as we already track the main concerns raised here in different issues. Hopefully we'll be able to address those quite soon.

[2018-04-12 20:57] #7594 closed

[2018-04-12 21:11] javiercn commented on #7620
The most common use case for this class is to call CreateClient(). ClientOptions is there so that you can configure how the clients are created by default for all your tests.

For tests where you need to customize something (like avoid autoredirects, or use a different base Uri) you can pass in the client options directly to get the client you want instead of the default one configured for the fac

[2018-04-12 21:46] javiercn commented on #7634
@martincostello Can you provide more details (or a repro) on it?

If your app for some reason is struggling to find the content root automatically (we do so by looking at an attribute stamped on the test assembly) you can do two things.

Override ConfigureWebHost on WebApplicationFactory and just call SetContentRoot (WebHost.UseSolutionRelativeContentRoot is still available)

Do the same thing by

[2018-04-12 21:55] dougbu commented on #7620
This is very strange. `CreateClient(WebApplicationFactoryClientOptions)` gives you some extra control. But, you need to switch to `CreateDefaultClient(...)` for "complete" control?

Why is the "default" the one that doesn't work like a real client and is supposedly for the 5% case?

[2018-04-12 21:57] dougbu commented on #7358
@sven5 what exactly is in the request when the error ends up with an empty `ModelState` key?

@rynowak maybe.

[2018-04-12 21:58] javiercn commented on #7620
@dougbu Because I wanted a different name and @Eilon preferred default. Default in this context means "Empty/No additional behavior"

[2018-04-12 22:00] mkArtakMSFT commented on #7630
Thanks @fatih108.
One of our engineers will look into this and get back to you.

[2018-04-12 22:01] mkArtakMSFT commented on #7630
@ryanbrandenburg, can you please look into this?

[2018-04-12 22:03] rynowak commented on #7358
I'm reactivating this since there is something to figure out :)

[2018-04-12 22:07] dougbu commented on #7620
@javiercn if that's the case, then the following overloads would make more sense:
- `CreateClient(params DelegatingHandler[])`
- `CreateClient(Uri, params DelegatingHandler[])`
- `CreateClient(WebApplicationFactoryClientOptions)`
- `CreateDefaultClient()`
- `CreateDefaultClient(Uri)`

Actually, do we have an example of anyone / anything except `WebApplicationFactoryClientOptions` using `Delegating

[2018-04-12 22:34] dougbu commented on #7620
Hmm, #7638 and #7637 are interesting given a user's `WebApplicationFactory<T>` subclass is _never_ returned from `WithWebHostBuilder(...)`. See issue #7541 and the fix in #7542 / 51784bb2d6. Can't down-cast what `WithWebHostBuilder(...)` returns to a user type.

That is, neither PR composes well with other parts of the Mvc.Testing package. Maybe we should switch the #7541 fix to a `protected virtu

[2018-04-12 22:47] ryanbrandenburg commented on #7630
@fatih108 your model.Password isn't actually string.empty in the case that you don't enter any values on your app, it's `null`.

It's possible you could accomplish this using hidden input fields and/or Javascript, but I wonder what the use case of distinguishing between `null` and `string.empty` from the form is? I suspect that your user-facing models don't actually need `AllowEmptyStrings=true`,

[2018-04-12 23:05] dougbu commented on #7620
Pass delegates into what? `WithWebHostBuilder(...)` is not `virtual`.

[2018-04-12 23:51] JerryBian commented on #7612
ah, I can't explain. I am trying to post a demo for you this morning, so I created things from scratch, and you guess what: it works.

Thanks for you time anyway, I think we can close this issue now.

cc @mkArtakMSFT @kichalla

[2018-04-13 00:10] fatih108 commented on #7630
@ryanbrandenburg  I know that, my problem only whitespace (5 white spaces). This code working with ASP.NET MVC 6. This approach changed with .ASP Net Core?

[2018-04-13 02:02] mkArtakMSFT commented on #7612
Thanks @JerryBian. Glad things worked out well for you.

[2018-04-13 02:02] #7612 closed

[2018-04-13 06:10] javiercn commented on #7587
@shanselman Hey Scott, I was able to get the user secrets once I set the environment to development on my test. (I'm using preview2 for the repro).

Can you tell me more about how you were setting the environment/ping me to take a look at your app with you? It won't take us long.

[2018-04-13 06:25] sven5 commented on #7358
Hi folks,

I figured it out now. It was a mistake on my side. Sorry for false alarm.
I had an issue with an array of hidden fields. The ModelState Value entry has been empty because the field was missing on post back.

Regards
Sven

[2018-04-13 06:35] rynowak commented on #7358
Ok, great thanks for lettings know. Closing this

[2018-04-13 06:35] #7358 closed

[2018-04-13 10:33] martincostello commented on #7634
@javiercn I'm on holiday from work until Wednesday, but once I'm back in the office I'll have another go at trying to get things working correctly. Some of the issues might just be from the way the code is factored to support testability before this fixture was available and the host-builder in `Program` pattern was introduced.

[2018-04-13 10:34] martincostello commented on #7635
@mkArtakMSFT Done 👍

[2018-04-13 15:56] mkArtakMSFT commented on #7636
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-04-13 15:59] mkArtakMSFT commented on #7636
Hi @J0nKn1ght.
Can you share a repro project?
Would be interesting to see how you've configured the db-backed localization.

[2018-04-13 16:30] #7631 closed

[2018-04-13 16:49] mkArtakMSFT commented on #7630
@fatih108, are you saying that you set the value to something like `     ` and it is not getting through to the service?
@ryanbrandenburg, can you please try to repro that.

[2018-04-13 16:53] ryanbrandenburg opened #7644 "Broken tests: HtmlGenerationWebSite_GenerateEncodedResults et al"
These tests are [broken](http://aspnetci/viewLog.html?buildId=445849&buildTypeId=XPlat_HighSierraOsxUniverse) with the following errors:

[code]

Future instances of these failures can be seen [here](http://aspnetci/project.html?projectId=XPlat&testNameId=-2855888884673504893&tab=testDetails).

[2018-04-13 17:00] Roraa opened #7645 "A white spaced query parameter results in a null"
### A white spaced query parameter results in a null
When I submit a GET request ``localhost:52815/api/values?param=%20`` for the action ``string Get(string param)``. The parameter ``param`` contains the value null.

### Functional impact
This bug has a minor functional impact, we're building an API consumed by other teams. The API has a GET action which allows the user to filter on a business key

[2018-04-13 17:09] mkArtakMSFT commented on #7623
Hey @qibucloud.
The issue is in your usage. This is not in any way related to this repo, so I'm going to close this. This question is actually a good candidate for [Stackoverflow](https://stackoverflow.com).
However, here are my couple of improvements you can make to your code:

1. there is no point in locking  on a string or any other local variable.
2. Wrap the `FileStream` and `StreamWriter` li

[2018-04-13 17:09] #7623 closed

[2018-04-13 18:49] javiercn opened #7647 "Update MSBuild targets in Microsoft.AspNetCore.Mvc.Testing to not use AssemblyAttribute"
This breaks when the user sets GenerateAssemblyInfo to false and we plan to update all the places where we use it.

[2018-04-13 20:01] tugberkugurlu commented on #5326
This is good but has a lot of problems I think for it to be used in anger. TBH, Filip seems to have done as much as he could to make this work but the framework doesn't allow this isolation to happen w/o much issues. Based on [this example](https://github.com/tugberkugurlu/AspNetCoreSamples/blob/607156667970fb263d362ce0327e8a827797dfb6/MvcActionSelection/MvcApp/Startup.cs#L95-L133) (keep in mind t

[2018-04-13 20:58] #7350 closed

[2018-04-13 22:15] #7373 closed

[2018-04-13 23:04] kichalla commented on #7644
PR for this: https://github.com/aspnet/Mvc/pull/7648

[2018-04-13 23:09] fatih108 commented on #7630
@mkArtakMSFT Yes, Value white spaces not working.  Example value="    ";

[2018-04-14 02:26] jaska45 opened #7651 "Resource file generator"
ASP.NET Core localization is based on .resx file and localizers that use the resources. This all works pretty well but there is one big obstacle on localization any larger applications. It is the creating and maintaining .resx files. The localization process does not require neutral .resx file but in most cases they are needed because we need some files that are going to be the model for localized

[2018-04-14 17:07] fatih108 commented on #7630
I added this code, `[DisplayFormat(ConvertEmptyStringToNull = false)]` and working now.
thank you for interest.

[2018-04-14 17:09] #7630 closed

[2018-04-15 09:21] thegodliek opened #7652 "data-val-number is not added to int fields"
I've tested this using the MVC visual studio template (not razor pages), the unobtrusive data tag for int fields are not added to the html output, for example:

the view model class:
`public int Test { get; set; }`

the razor view:
`<input asp-for="Test" class="form-control" />`

the html result:
`<input class="form-control" data-val="true" data-val-required="The Test field is required." id="Test"

[2018-04-15 18:14] dougbu commented on #7423
cc5ae02b7d

[2018-04-15 18:14] #7423 closed

[2018-04-15 19:58] dougbu commented on #7595
Ignore this idea. That fix overlaps this one but isn't actually the root cause of #7350. That is, we need both fixes.

[2018-04-15 23:13] pranavkm opened #7655 "Investigate RazorProjectPageRouteModelProvider's change in path"
See https://github.com/aspnet/Mvc/pull/7654/files#diff-a7c12aff511b5b460dee30b88b826852R16. Maybe this is related to https://github.com/aspnet/Mvc/commit/9cea47fa7d83ccb38980edf89ec34ad1f0fae292, but the change went in a couple of days ago and produced successful builds.

[2018-04-15 23:21] pranavkm opened #7656 "Deps file for netstandard2.0 targeting projects copied by Microsoft.AspNetCore.Mvc.Testing does not play well with Mvc"
The deps file for a netstandard2.0 targeting project does not play well with how Mvc attempts to discover reference assemblies. Generally this is not problematic since class library deps files do not get copied with the dll. However, testing's targets copies these files over which becomes problematic.

Core-Setup issue about this - https://github.com/dotnet/core-setup/issues/3726

[2018-04-16 04:34] DamianEdwards commented on #6796
This is concerning. Would be good to get this looked at sooner rather than later given the related report is a year old now.

[2018-04-16 09:10] J0nKn1ght commented on #7636
Hi @mkArtakMSFT,

Thanks for your interest. Unfortunately I can't share the repo, as it's for a customer project.  The main parts are below though.  I struggled to work out how to do this, to be honest, as it was right after .Net Core v2 was released, and there was scant information on how to implement it (and actually, there still is with regard to using string resources in a database).

There is

[2018-04-16 10:56] Sumo-MBryant opened #7658 "FileStreamResultExecutor fails to Dispose FileStream"
### Functional impact
Version 2.0 of ASP.NET Core and onwards appears to fail to call `Dispose()` in the `FileStreamResultExecutor` class under certain circumstances e.g. handing HTTP HEAD requests. This behaviour worked correctly in Version 1.1.

For example the following execution paths in `FileStreamResultExecutor.cs`:

https://github.com/aspnet/Mvc/blob/aeab6e295efdc0b1d89c375b62a84fe3b6ba969e

[2018-04-16 17:06] mkArtakMSFT commented on #7355
@dougbu, having the `Name` value to act as a prefix isn't intuitive and would most likely introduce more confusion.
@danroth27 and I discussed this and feel like having `Name` property specified on class-level `BindProperty` attribute is odd. What about having an analyzer to result in at least warnings in those situations?
@DamianEdwards what do you think?

[2018-04-16 17:32] dougbu commented on #7355
:ok: though we have other `Name` values in binding attributes that act as prefixes. For example, `BindAttribute.Name` is `public` but `readonly`; it's set using a `Prefix` property.

That WFM

[2018-04-16 17:36] kichalla commented on #7644
Fixed with https://github.com/aspnet/Mvc/commit/e52933e4e3ec3d5376d764cff32fcb3102ae902c

[2018-04-16 17:36] #7644 closed

[2018-04-16 17:36] yanrez commented on #4311
Would aspnet support controllers returning tuples? Could be a way to handle this problem - keep return value strictly typed, and augment it with error information if necessary without going back to HttpResponseException, or actually including HttpResponseException into tuple returned by controller.

[2018-04-16 17:49] kichalla commented on #7317
@mkArtakMSFT I feel this would be a good item for MQ item. @dougbu, your thoughts?

[2018-04-16 18:06] dougbu commented on #7317
👍 by necessity, I did some of this work in #7657 but more remains. Would be great for tests to use one and only one `MvcOptions`, `ModelMetadataProvider`, and `IServiceProvider` instance per test. We're nowhere close to that right now.

The minimal pattern should be
[code]

We should also get rid of any `GetParameterBinder(...)` overloads that configure options or otherwise change the service prov

[2018-04-16 18:59] dougbu opened #7660 "Mark old `ParameterBinder.BindModelAsync(...)` overloads `[Obsolete]`"
As [discussed](https://github.com/aspnet/Mvc/pull/7657#discussion_r181627087) in PR #7657, should mark the two old overloads `[Obsolete]`. This is unfortunately a fair amount of work due to the 55 references for one of the overloads. (The other overload is used just once outside `ParameterBinder`.)

`ParameterBinder.BindModelAsync(...)` has 3 overloads. Only one of those correctly handles `ModelMe

[2018-04-16 18:59] dougbu commented on #7660
Recommend we do this work during MQ.

[2018-04-16 21:42] kichalla commented on #7658
Thanks for reporting this, @Sumo-MBryant. I am able to repro this. cc @mkArtakMSFT

[2018-04-16 22:33] pranavkm opened #7664 "Remove checked in msbuild.binlog from Mvc"
* [  ] Delete the file
* [  ] Delete the file from existence (https://rtyley.github.io/bfg-repo-cleaner)

[2018-04-16 22:33] pranavkm commented on #7664
cc @javiercn

[2018-04-16 22:42] pranavkm commented on #7655
Verified that there isn't a regression compared to preview2. The default path in `RazorPagesOptions` did not have a trailing slash which was the input in `RazorProjectPageRouteModelProvider`, What we have now is effectively identical to preview2.

[2018-04-16 22:42] #7655 closed

[2018-04-16 23:23] pranavkm opened #7665 "Initializing PageResult.Page as part of result execution breaks Identity UI"
I guess it's time for past @pranavkm to eat crow for this comment - https://github.com/aspnet/Mvc/pull/7639/files#r181443446.

Identity UI attempts to access ViewData that's accessible via `PageHandlerExecutingContext.Page`: https://github.com/aspnet/Identity/blob/dev/src/UI/Areas/Identity/Filters/ExternalLoginsPageFilter.cs#L23. Since this is now null, this results in a null ref.

[2018-04-16 23:38] pranavkm commented on #7665
Looks like Identity specifically accesses `PageResult.ViewData`. We have the ability to initialize it using `PageContext.ViewData` which is the correct value. In addition, it would be good if we could throw a meaningful exception that says that accessing `PageResult.Page` is disallowed until it has been correctly initialized. At the very least this might lead users towards figuring out a reasonabl

[2018-04-16 23:53] kichalla commented on #7658
@mkArtakMSFT We need a fix for this in 2.1.0-rc1. I have sent out a PR for this for a snapshot of the changes that would be required: https://github.com/aspnet/Mvc/pull/7666

[2018-04-17 00:33] pranavkm opened #7667 "PartialTagHelper with null model results uses the incorrect model type"
Essentially a variant of https://github.com/aspnet/Mvc/issues/7295 but now with the `model` property.

Consider

[code]

[code]

The application fails with

[code]

[2018-04-17 00:34] pranavkm commented on #7667
One possible fix would be to detect when the `Model` property is assigned to, rather than check if it's non-null:

Here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/PartialTagHelper.cs#L100-L103

[2018-04-17 00:43] rynowak commented on #7658
Did we confirm that this is a regression from 1.1?

[2018-04-17 02:03] rynowak opened #7668 "Add existing MVC applications as perf tests"
We should add our two existing (simple) test apps as workloads for the aspnet/benchmarks system

https://github.com/aspnet/Performance/tree/dev/testapp/BasicViews
https://github.com/aspnet/Performance/tree/dev/testapp/BasicApi

/cc @sebastienros

[2018-04-17 02:03] rynowak commented on #7668
/cc @mkArtakMSFT - this is another great MQ item.

[2018-04-17 06:36] bchavez commented on #6290
Running into the same exact issue. It would be really great you could fix this for the ASP.NET 2.1 release. This is a show stopping bug in Razor Pages.

I'm ***not*** looking to run `inherits` and `model` in the same view file. I'd like to have a base class that all Razor Pages inherit from. Pretty simple. The basic scenario in #7559 should just work.

This issue has been open for ~10 months now.

[2018-04-17 09:08] kichalla commented on #7658
Yes, it is @rynowak

[2018-04-17 13:48] epignosisx opened #7669 "Url.IsLocalUrl should return true when Scheme & Host match"
Url.IsLocalUrl returns false for all absolute urls even when the absolute url matches the current request url.

It would be ideal if for absolute urls it would return true if Scheme & Host match. Similar to what's done here:

https://github.com/OrchardCMS/Orchard/blob/dev/src/Orchard/Utility/Extensions/HttpRequestExtensions.cs#L94-L101

[2018-04-17 14:50] tbertenshaw commented on #7617
Is there a workaround to this whilst awaiting the next release?

[2018-04-17 16:14] dougbu commented on #7617
@tbertenshaw @pranavkm fixed this in the next release. In the meantime, you can change affected projects to reference individual packages e.g.
[code]
instead of a shared runtime
[code]

[2018-04-17 16:26] blowdart commented on #7669
That's not what IsLocalUrl is for. It's to indicate a non-absolute URL. Whilst I can see your argument the current behaviour is baked into too many places to change it.

[2018-04-17 16:26] #7669 closed

[2018-04-17 16:29] pranavkm commented on #7667
cc @mkArtakMSFT \ @DamianEdwards we should take this for rc1. It's pretty easy to run in to.

[2018-04-17 17:42] mkArtakMSFT commented on #7658
/cc @blowdart

[2018-04-17 19:00] DamianEdwards commented on #7332
@rynowak @pranavkm can you think of a reason why this wouldn't work already? I thought view location expanders applied to Razor pages too, and the models are specified by type so I'm not sure how the different file name for the page would matter (other than resulting in the auto-nesting in VS Solution Explorer not applying).

[2018-04-17 20:00] dougbu commented on #7595
- e0e96ce53b in `release/2.1`
- cd6d130a8d merged that into `dev`

[2018-04-17 20:02] #7595 closed

[2018-04-17 20:13] #7587 closed

[2018-04-17 20:13] #7635 closed

[2018-04-17 20:49] austindrenski opened #7673 "MediaType.GetHashCode() throws System.ExecutionEngineException"
`MediaType.GetHashCode()` throws a `System.ExecutionEngineException` in an ASP.NET Core application.

I've included a minimal project that consistently reproduces the exception on my local machine.

Does anyone have an idea of what's behind this?

__Program.cs:__
[code]
__test.csproj__
[code]

[2018-04-17 21:08] mkArtakMSFT commented on #7652
Thanks for contacting us, @thegodliek.
From where do you expect the `some message` part be picked up?
@kichalla any thoughts regarding this?

[2018-04-17 21:29] mkArtakMSFT commented on #7597
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2018-04-17 21:30] mkArtakMSFT commented on #7645
Thanks for contacting us, @Roraa.
@dougbu can you please investigate this?

[2018-04-17 21:32] pranavkm commented on #7332
We use view location expanders to look up views when a Razor Page asks for a layout or partial, but not to look up a Razor Page or calculate routes for it. That said, I worked with @ridercz recently to get something like this working using page model conventions. @ridercz do you have your Razor Pages localized routing sample available someplace publicly? If not, this could be something we can crea

[2018-04-17 22:39] kichalla opened #7674 "Throw exception if users try to decorate filters on handler methods"
I learnt the hard way that filters (in my case a PageFilter) are honored only if they are decorated on the page model and not on handler methods, like in MVC.

The documentation on `IPageFilter` is also not super clear: `A filter that surrounds execution of a page handler method.`

- Could `PageApplicationModelProvider` throw an exception to indicate that filters on handler methods are not support

[2018-04-17 22:53] pranavkm commented on #7674
We generally don't write code to verify users aren't doing things that we don't support. An analyzer does seem like something we could cook up.

Sounds like an easy fix. @Rick-Anderson also recently wrote a doc article about using these filters here - https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/filter?view=aspnetcore-2.1. We could certainly call that out in the docs (it doesn't ri

[2018-04-17 23:21] mkArtakMSFT opened #7675 "PageContext.ViewData and ViewContext.ViewData are different instances in Razor Pages"
Original issue was discovered in Identity UI and is linked below:

### Details

1. PageActionInvoker creates a `ViewContext` instance using PageContext.ViewData. At this point, `ViewContext.ViewData` = `PageContext.ViewData`  =`ViewData<MyPageModel>`.
2. If the Page has an associated _ViewStart.cshtml,  the page execution results in a `ViewContext.ViewData = new ViewDataDictionary<object>(ViewCont

[2018-04-17 23:24] Rick-Anderson commented on #7674
You can close this now, I merged https://github.com/aspnet/Docs/pull/6010

[2018-04-17 23:28] kichalla commented on #7674
I would keep this open. If not an analyzer, we should update the docs on the api to say so. Found the docs needs to be fixed anyway (removing `before the action method is invoked`)
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/Filters/IPageFilter.cs#L24

[2018-04-18 03:43] javiercn commented on #7675
Are we planning to do something here for 2.1? Is this a patch candidate?  Is this caused by us writing to the viewdata in the filter? (Will this get fixed as part of the other issue?)

[2018-04-18 07:05] ridercz commented on #7332
I'm working on "Core" version of https://github.com/ridercz/MvcLocalization and it should be available in few days. But it does not relate to this topic much. If I understand correctly, the OP wants to avoid resources by having localized CSHTML files. I work on the other end of the pipeline, by including localization information in URL. These two are not related much. But I'll link my project here

[2018-04-18 08:39] tbertenshaw commented on #7617
Still get razor errors, do I need to reference all in the test and the web projects?

[2018-04-18 09:53] kichalla commented on #7652
@thegodliek which browser are you using? most of the modern browsers understand `type=number` in the generated html and do not allow to enter non-numeric text in it. Would like to understand how you are seeing the error message if you cannot enter the non-numeric text to begin with.

[2018-04-18 14:50] thegodliek commented on #7652
@kichalla I've tested it on almost all major browsers, Yes I can enter non-numeric text.

[2018-04-18 14:52] thegodliek commented on #7652
@mkArtakMSFT when I add the data-val-number attribute manually, it's picked up by the jquery.validation.unobtrusive library, please correct me if I'm wrong.

[2018-04-18 15:35] Liero opened #7677 "How to publish console app as a WebJob rather than Web App"
Hi,
I have a console app that I want to deploy as web job. It's based on [Entropy/samples/Mvc.RenderViewToString/](https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString) sample.

The problem is, that is uses `Microsoft.NET.Sdk.Web` rather than `Microsoft.NET.Sdk` in order to render the razor views although it is not web application.

When I invoke the publish dialog, it publish

[2018-04-18 15:43] Liero opened #7678 "Yet another InvalidOperationException: Cannot find compilation library location for package 'Microsoft.Win32.Registry' when running as webjob"
Hi,
I have a referenced project with embedded views that are being rendered to string at runtime.

It works fine from web project deployed to Azure App Service, but when I use it from asp.net core console app deployed as WebJob, it throws

How do I modify the WebJob project, so that it does not throw the exception in Azure App Service Web Job?

I didn't publish the web job, I've just zipped and up

[2018-04-18 16:31] mkArtakMSFT commented on #7678
Thanks for contacting us, @Liero,
@pranavkm can you please look into this?

[2018-04-18 16:35] mkArtakMSFT commented on #7677
Hi @Liero.
What are you trying to do? WebJobs supposed to be running in background and have no UI.
Why are you trying to do that?

[2018-04-18 16:43] mkArtakMSFT commented on #7652
@thegodliek, you're right, Edge doesn't respect it, while Chrome does.
Still, I'd like to know how do you envision the experience? From where do you expect the validation message to be picked up? In the situation where you manually specify `data-val-number="some message"` you do provide the `some message` part explicitly. In case of the razor view and the model class that information is still miss

[2018-04-18 16:54] mkArtakMSFT commented on #7675
@javiercn, please evaluate how big of a change is this?

[2018-04-18 17:01] mkArtakMSFT commented on #7674
@kichalla, let's update the code comment as it's tiny no code change.

[2018-04-18 17:06] thegodliek commented on #7652
This is part of the problem, there is no way I can change that message in my model, there are no attribute that can be used for this.

In the classic MVC days, you change the `data-val-number` message by using

`ClientDataTypeModelValidatorProvider.ResourceClassKey = "someresourcekey";`

and put a resource key named `FieldMustBeNumeric` with the message you wanted, possibly localized.

In dotnet c

[2018-04-18 17:08] mkArtakMSFT commented on #7636
Thanks for the details @J0nKn1ght. Glad that you've found a solution with the EF context.
As for the localization, I'll delegate that to our localization expert for this.
@ryanbrandenburg, do you see any issues regarding above db-based localization implementation?

[2018-04-18 17:36] pranavkm commented on #7675
I think this warrants further investigation. It wasn't super obvious what a fix for this is and there could be other things that were broken as a result of activating `RazorPageAdapter` rather than the actual page. I don't feel confident in rushing a fix for this in the next couple of days. My suggestion would be

a) to address this in a patch (or 2.2.0). For the time being, there's a trivial work

[2018-04-18 17:42] jaska45 commented on #7651
I will create such a tool.

[2018-04-18 17:46] ryanbrandenburg commented on #7636
It sounds like you've got this figured out @J0nKn1ght. I don't see any problems with your approach from a localization perspective, but you seem to have EF problems/questions. I _believe_ that you've hit on the correct approach to using DbContext items (which to my knowledge are not thread safe, and therefor should be recreated per-request), but I'm not an EF expert so we might want to have one of

[2018-04-18 18:10] mkArtakMSFT commented on #7673
Thanks for reporting this issue.
@dougbu, can you please look into this?

[2018-04-18 18:13] mkArtakMSFT commented on #7353
@kichalla, can you please evaluate whether this is still the case, and whether there is still any action here or not.

[2018-04-18 18:24] mkArtakMSFT commented on #7298
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-18 18:24] #7298 closed

[2018-04-18 18:27] #7656 closed

[2018-04-18 18:40] ajaybhargavb commented on #7571
Spoke to @pranavkm and @mkArtakMSFT. The issue here is not just undeclared artifacts but also the pdbs are missing for Mvc.Razor package. We want to fix this for rc.

[2018-04-18 18:55] #7658 closed

[2018-04-18 18:55] #7665 closed

[2018-04-18 19:12] kichalla commented on #7674
https://github.com/aspnet/Mvc/commit/b56436b5c607e08ada5fccabfc71c475f8fbbbea

[2018-04-18 19:12] #7674 closed

[2018-04-18 19:17] rynowak commented on #7675
Can we evaluate what identity UI is doing as a feature request?

This is an implementation detail. And there are workarounds.

[2018-04-18 19:42] javiercn commented on #7675
@rynowak This has nothing to do with Identity UI. According to @pranavkm there is something broken here in a more fundamental level. I just happened to trigger it.

I think this is just a bug and we should look into fixing it, when we deem it appropriate. It does not make sense to me to turn this in into a "feature request".

I can likely workaround this by writing stuff to the HttpContext instanc

[2018-04-18 20:52] mikeandersun commented on #7597
[This](https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Endpoints/UserInfoEndpoint.cs) may give an inspire.

[2018-04-18 21:06] mkArtakMSFT commented on #7405
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-18 21:06] #7405 closed

[2018-04-18 21:09] mkArtakMSFT commented on #7522
Ping @javiercn

[2018-04-18 21:16] mkArtakMSFT commented on #7494
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-18 21:16] #7494 closed

[2018-04-18 21:30] pranavkm commented on #7345
This can be closed now. We no longer use this property to calculate the Pages directory under `Areas`. See https://github.com/aspnet/Mvc/issues/7608

[2018-04-18 21:30] #7345 closed

[2018-04-18 21:49] mkArtakMSFT commented on #7336
@markusvt, the way validation works is that model binding happens first, and then the validation works over already bound model.
Is your expectation here is to get a default value (0) in case of an empty string, rather than an error? Try to change the type of the `Value` property to `double?`.

[2018-04-18 21:58] mkArtakMSFT commented on #7334
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-18 21:58] #7334 closed

[2018-04-18 21:59] mkArtakMSFT commented on #7316
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-18 21:59] #7316 closed

[2018-04-18 22:00] mkArtakMSFT commented on #7302
Thanks for contacting us, @aguerot.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-04-18 22:28] Tratcher opened #7681 "VirtualFileResult throws FileNotFoundException"
I did an experiment (https://github.com/aspnet/AuthSamples/pull/37) where I re-implemented some of StaticFiles using MVC in order to add auth support. VirtualFileResult was not well suited for this.

I started with `File(virtualPath, ...)` but it throws a FileNotFoundException if the virtualPath does not exist. A 404 would be more appropriate. So I took my IFileProvider, looked up the IFileInfo, a

[2018-04-18 22:30] jkotas commented on #7673
This was CoreCLR bug. It was fixed for 2.1 as side-effect of https://github.com/dotnet/coreclr/pull/16550.

[2018-04-18 22:42] jbagga commented on #7664
The tool requires a force push (not just push) so this cannot be done. cc @pranavkm

[2018-04-18 22:43] pranavkm commented on #7664
😿

[2018-04-18 22:43] #7664 closed

[2018-04-18 22:51] dougbu commented on #7673
Thanks @jkotas !

@austindrenski because this is a closed issue in the Core CLR, I'm marking this as `external` and closing it. You may want to watch dotnet/coreclr#16545 to see if it is reopened or otherwise added to a 2.0.x patch release.

[2018-04-18 22:51] #7673 closed

[2018-04-18 23:04] jkotas commented on #7673
This issue was moved to dotnet/coreclr#17661

[2018-04-18 23:47] ajaybhargavb opened #7682 "Microsoft.AspNetCore.Mvc.Analyzers.Experimental symbols nupkg is missing the necessary pdbs"
We don't ship this as of now but we still want to do the right thing.

[2018-04-19 00:02] austindrenski commented on #7673
Very much appreciated, thanks!

[2018-04-19 00:33] pranavkm commented on #7353
This was addressed as part of https://github.com/aspnet/Mvc/issues/7358. What it does need is a test or two.

[2018-04-19 07:40] J0nKn1ght commented on #7636
Thanks for your input.  I get the impression that the Localization support in MVC Core is still focused on using traditional resource files, where a singleton makes more sense.  Maybe for future versions the scenario of using different back-end stores for resources could be considered.

[2018-04-19 08:40] martincostello commented on #7634
@mkArtakMSFT I'll try and look into this today.

[2018-04-19 16:46] ryanbrandenburg commented on #7636
Do you have any suggestions for things we could do to make the scoped scenario easier? Maybe you left some out but it seems like the boilerplate you posted to get a custom store going was relatively minimal, maybe just some more documentation in this area?

[2018-04-19 17:33] kichalla opened #7683 "FileStreamResultExecutor fails to Dispose FileStream"
Related issue: https://github.com/aspnet/Mvc/issues/7658

https://github.com/aspnet/Mvc/issues/7658#issuecomment-381759377

cc @mkArtakMSFT

[2018-04-19 17:40] kichalla opened #7684 "Create an analyzer to warn users not to decorate filters on page handler methods"
Related discussion: https://github.com/aspnet/Mvc/issues/7674

[2018-04-19 18:04] mkArtakMSFT commented on #7620
Closing this issue as some of the aspects of the `WebApplicationFactory` class have been improved already. Also, we'll look forward for customer feedback going forward and make sure that subsequent feedback is address in future releases.

[2018-04-19 18:04] #7620 closed

[2018-04-19 18:15] ryanbrandenburg commented on #7302
Basically what's happening here is that the system that retrieves our data annotation localization only checks the resources for the [top-level type](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal/DataAnnotationsMetadataProvider.cs#L151). So if you moved the resource from the BaseViewModel.resx into the HomeViewModel.resx this would work. It seems tota

[2018-04-19 18:15] martincostello commented on #7634
Having looked into this my issues were related to:
  1. I was using a custom `TestStartup` class before, which is defined in the test assembly, which caused it to fail to find the builder method as the auto-generated `Program` class in the test assembly doesn't contain one. I fixed this by using `Startup` as `T` and then updating it in `CreateWebHost()`. I'll refactor this to remove the need for i

[2018-04-19 18:36] #7667 closed

[2018-04-19 18:57] kichalla opened #7685 "Log when BindingInfo's RequestPredicate stops binding"
I didn't realize that I needed to have `SupportsGet=true` on `BindProperty` here to get my data from query string bound to it.
[code]

In `ParameterBinder` we have this check which short-circuits the binding. We could add a log statement here to indicate binding was stopped.
[code]

I current get the following log output for `Debug` level:
[code]

[2018-04-19 18:59] kichalla commented on #7685
Also good to have an analzyer here to check for presence of `FromQuery` and usage of `BindProperty` to warn about using `SupportsGet=true`

[2018-04-19 19:24] pranavkm opened #7686 "Add a BindPropertiesAttributes to support binding on controller and page model types"
For 2.1.0-preview1, we added support for `BIndPropertyAttribute` to be declared on page models. Later in rc1, we expanded this to controllers. However, `BindPropertyAttribute` has properties such as `Name` and `BinderType` that do not make much sense in the context of a type (See https://github.com/aspnet/Mvc/issues/7355). In addition, the implementation for Razor Pages allows for other model bind

[2018-04-19 19:28] pranavkm commented on #7686
@rynowak thoughts? 2.1.0-rc1 worthy?

[2018-04-19 19:44] danroth27 commented on #6915
Closing as this isn't tracking any actual work item in the MVC repo.

[2018-04-19 19:44] #6915 closed

[2018-04-19 20:11] rynowak commented on #7686
I think so. If we don't do this now I'm not sure we'd do it in the future. Ask some PMs what they think, I want more opionins because I haven't made up my mind, and I don't like `[BindProperty]` on classes at all.

[2018-04-19 20:12] rynowak commented on #7685
I think this is a great thing to have logging for.

[2018-04-19 20:16] javiercn commented on #7617
@tbertenshaw Can you post the errors here? That way we can identify what references might be missing

[2018-04-19 20:17] ajaybhargavb commented on #7571
44e282e8d4c99c18137e2df3f859b1aa0b86f9e7

[2018-04-19 20:17] #7571 closed

[2018-04-19 21:09] kichalla opened #7687 "IgnoreAntiforgeryToken does not work with RazorPages"
Found this while investigating an issue where I had to test if `BindRequired` works on PageModels.

I have the following:
[code]
My idea was to use Fiddler to do a post to the above action to see if _not_ having `Name` in the posted data would trigger the `BindRequired` logic, but when I do this, I still see Antiforgery check happening. Its expected that the `IgnoreAntiforgeryToken` filter's polic

[2018-04-19 21:12] pranavkm commented on #7686
@DamianEdwards thoughts on this? I ran this by @danroth27 and he thinks we should leave the current behavior unchanged and possibly use an analyzer to detect this.

[2018-04-19 21:36] kichalla commented on #7687
Thanks @pranavkm

Closing this as its a dupe of https://github.com/aspnet/Mvc/issues/5863

[2018-04-19 21:36] #7687 closed

[2018-04-19 21:40] javiercn commented on #7634
@martincostello Thanks for looking into it!

That sounds about right.

The expected configuration for the fixture is to call CreateWebHostBuilder in your Program.cs and then figure out the content root based on typeof(TProgram).Assembly if you want to use a different Startup (like one in your test assembly) the right thing to do is set it up in ConfigureWebHost.

I'm closing this as there's no act

[2018-04-19 21:40] #7634 closed

[2018-04-19 22:31] pranavkm opened #7688 "BindPropertyAttribute.SupportsGet should work on HEAD requests when fuzzy matching is enabled"
As part of https://github.com/aspnet/Mvc/pull/7510, we made page selectors support HEAD requests when a GET request appears. However, `BindPropertyAttribute.SupportsGet` continues to be limited to HEAD requests.

[2018-04-20 04:38] pthorsley opened #7691 "Controller Generator Failure"
Getting this error when trying to create a new controller of any type (mvc or api).

"There was an error running the selected code generator:
'There was an error running the template C:\Users\<username>\.nuget\packages\microsoft.visualstudio.web.codegenerators.mvc\2.1.0-preview2-final\Templates\ControllerGenerator\ApiEmptyController.cshtml: Template Processing Failed:(4,47): error CS0234: The type

[2018-04-20 05:27] rynowak commented on #7686
Is the idea that we make `BindProperty` not applicable to classes? I

[2018-04-20 06:12] tbertenshaw commented on #7617
[code]
@javiercn

[2018-04-20 06:54] JanEggers opened #7692 "Default values for nullable enums are not calculated correctly"
Consider the following code:

[code]

When the parameter `day` does not get model bound either because no value was specified or if the value on the wire cannot be bound to the enum, executing the action results in an `InvalidCastException`. The issue stems from `ParameterInfo.DefaultValue` returning the numeric value of the default value (i,e, `DayOfWeek.Friday`). We should address this in [`Para

[2018-04-20 07:49] Liero commented on #7677
@mkArtakMSFT:
I have application, that is supposed to be running on the background without UI, just like the Mvc.RenderViewToString sample does. My WebJob is supposed to send email reminders, but in order to use Razor as "mail templates" I had to reference the web sdk

[2018-04-20 08:00] J0nKn1ght commented on #7636
More documentation (as always), would definitely be useful - especially more example code.  I think that the problem that I had was that I started to use the built-in support for IStringLocalizer thinking this was the "right" way to do localisation in MVC Core, but our requirements didn't really match the use case for the built-in support (i.e. fixed resource files that would require a site publis

[2018-04-20 11:42] DevOpsChallengeBr opened #7693 "Razor Pages: Label isn't being displayed"
We were collaborating for the CoreWiki project of CsharpFritz (https://github.com/csharpfritz/CoreWiki) and we met the following situation. For some fields the label was presented to others not.  Below this a piece of the code that was used in the creation of a ViewComponent.

- So it works
[code]
- So it doesn't work
[code]

The difference is how we close the Label element. **Is this behavior nor

[2018-04-20 15:59] pranavkm commented on #7688
cc @DamianEdwards \ @rynowak \ @mkArtakMSFT

I think we might want to take this in RTM. There isn't a very obvious "right design" for this and I want to run this by @rynowak once he's in rather than push a PR through today.

[2018-04-20 16:16] mkArtakMSFT commented on #7686
@rynowak  - Yes!

[2018-04-20 16:48] pranavkm commented on #7692
It's likely this line: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ActionMethodExecutor.cs#L79. Do you know what action's being executed and possibly the signature of the method? We're likely inferring the return type incorrectly.

[2018-04-20 16:49] pranavkm commented on #7398
Nope. The lookup's always been busted. This was a suggestion to fix the behavior.

[2018-04-20 16:53] mkArtakMSFT commented on #7677
@pranavkm, can you please look into this one? Thanks!

[2018-04-20 16:59] pranavkm commented on #7677
What's the exception you're seeing? You likely need to set `<PreserveCompilationContext>true</PreserveCompilationContext>` in your app - my guess is Razor compilation cannot find reference assemblies to compile against.

[2018-04-20 17:01] mkArtakMSFT commented on #7693
Thanks for contacting us, @DevOpsChallengeBr.
The behavior you're observing is by-design. `Label` tag helper requires separate closing tag.

/cc @DamianEdwards

[2018-04-20 17:01] #7693 closed

[2018-04-20 17:18] mkArtakMSFT commented on #7636
Just created a separate issue to come up with a sample showcasing our advised approach for using localization with EF. https://github.com/aspnet/Home/issues/3080

[2018-04-20 17:18] #7636 closed

[2018-04-20 17:42] javiercn commented on #7617
@tbertenshaw That sounds like a Razor compilation error.

* Have you disabled compilation on build?
* Have you disabled shadowcopying assemblies?
  * See instructions on how to do it in xUnit https://xunit.github.io/docs/configuring-with-json.html
* Can you validate that there is a Timbo.Spike.Web.deps.json file on the test output folder?

[2018-04-20 18:07] Sumangalaknair commented on #7257
Thanks a Lot. You saved my day too.

[2018-04-20 20:31] rynowak commented on #7686
That sounds amazing to me.

[2018-04-20 20:34] rynowak commented on #7688
That seems reasonable, I'm a little worried on the impact for controllers, but generally this feature would be used with `[Route]` to handle `HEAD` requests.

We haven't really tried to solve the problem of what to do about `HEAD` for APIs

[2018-04-20 20:37] pranavkm commented on #7688
When I spoke to @DamianEdwards he wanted the fuzzy matching to work only in Razor Pages (since the feature is currently limited to it).

[2018-04-20 20:44] mkArtakMSFT commented on #7688
Parking for 2.1.0 for now as it's not yet clear what we're going to do here. Given that, this may even be pushed out to `2.2` release.
Unless @DamianEdwards you believe this is super critical to be included as part of `2.1`.

[2018-04-20 21:51] #7686 closed

[2018-04-20 21:51] Tratcher opened #7694 "Write an analyzer that flags async void actions"
e.g. https://github.com/aspnet/Home/issues/3082

`async void` actions break the request processing flow. These methods should be using `async Task`.

Proposal: Write an analyzer to flag these as warnings / errors in controllers.

[2018-04-20 22:48] pranavkm commented on #7694
We have an analyzer for this in our experimental analyzers package `Microsoft.AspNetCore.Mvc.Analyzers.Experimental`. The plan is to eventually make it part of the shipping analyzers package.

[2018-04-20 23:06] mkArtakMSFT commented on #7632
@pranavkm, should this be a verification issue instead?

[2018-04-20 23:36] pranavkm opened #7695 "Update Mvc 1.1.x to reference Microsoft.Extensions.DependencyModel with fix"
Running a 1.1 Mvc app with project references breaks when using the 2.0 SDK - https://github.com/dotnet/sdk/issues/1488. The fix involves a change to Microsoft.Extensions.DependencyModel. https://github.com/dotnet/core-setup/issues/3081 tracks creating a 1.1 patch version of Microsoft.Extensions.DependencyModel. We should consider patching Mvc to reference this version when the package becomes ava

[2018-04-21 05:59] JanEggers commented on #7692
no i dont know. i see the requestid in the logfiles is there any way too print the info message for that request which prints the uri being requested?

if i enable info logging my logs will explode...

[2018-04-21 07:53] Materix opened #7696 "FileSystemWatcher is not released properly (OutOfMemoryException)"
During integration tests I get OutOfMemoryException for few last tests. For each single test new WebHostBuilder and TestServer were created (so new dependency injection container). After investigation I found that MvcOptions and therefore JsonSerializerSettings are not garbage collected (I have some JsonConverters with reference to quite big configuration).
MvcOptions are hold by PageActionDescrti

[2018-04-21 19:34] olivertech commented on #6102
Hi, I am searching for this override version without ModelMetadata, but I can´t find it. Is it finally added ?

[2018-04-21 20:02] dougbu commented on #6102
The fix was included in the ASP.NET 2.1.0 Preview 2 release e.g. https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Abstractions/2.1.0-preview2-final. Are you still on one of the 2.0.x releases?

[2018-04-21 22:52] JeanCollas opened #7697 "Naming mismatch IUrlHelper extensions vs Request"
We have this extension

    string RouteUrl(this IUrlHelper helper, string routeName, object values, string protocol, string host, string fragment)

If we do the following in a razor view, this is not correct:

    @Url.RouteUrl("routename", new {parameter=1}, Context.Request.Protocol, Context.Request.Host.Value, "myhash")

It actually expects

    @Url.RouteUrl("routename", new {parameter=1}, Con

[2018-04-22 01:26] rickparrish commented on #6796
I ran into this today -- not sure if it's helpful, but I thought I'd add that when dealing with child objects the penalty is a significant problem.

Default scaffolded code = 20 seconds to display 250 records.  Example:
@Html.DisplayFor(modelItem => item.Project.Id)

Eliminate access of child object = 1.5 seconds.  Example:
@Html.DisplayFor(modelItem => item.ProjectId)

Eliminate @Html.DisplayFor

[2018-04-22 01:33] guardrex commented on #7617
Side note ... same thing here working with the sample app for the upcoming integration testing topic, but your workaround @dougbu worked :+1: :smile: ...

[code]

[2018-04-22 05:01] qibucloud opened #7698 "Request.Form Input Multidimensional Arrays"
如何一次性在服务器端接收这种数据，php是可以的，.net 一直没找到方法

How to receive this kind of data on the server at one time, php is OK, .net has not found a way

[code]

[code]

[2018-04-22 06:35] qibucloud commented on #7698
Request.Form.Where(f=>f.Key.Contains("moduleData"))   This does not work

[2018-04-22 16:27] mrukas opened #7699 "InvalidOperationException on new project based on VS docker template."
### Title
InvalidOperationException on new project based on VS docker template.

### Functional impact
It prevents a newly created project from running.

### Minimal repro steps
Setup a project based on the following Visual Studio Project Settings:

- .NET Core
- ASP.NET Core 2.0
- Web Application (Model-View-Controller)
- Authentcation: Individual User Accounts - Store user accounts in-app
- Enab

[2018-04-23 03:49] rynowak commented on #7697
It's not easy to fix. Renaming a parameter is a source-breaking-change

[2018-04-23 08:44] JanEggers commented on #7692
2018-04-23 11:39:41.971 +02:00	[inf]	Executing action method "Devices.Mqtt.Pif.Http.Server.Controllers.PifController.GetRootObjectDefinitions (Devices.Mqtt.Pif.Http.Server)" with arguments (["de", "0"]) - Validation state: Valid	[Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker]
2018-04-23 11:39:41.971 +02:00	[inf]	Executed action "Devices.Mqtt.Pif.Http.Server.Controllers.PifController.Ge

[2018-04-23 09:06] JanEggers commented on #7692
what is also strange on my machine i get slightly different logs:

2018-04-23 11:03:45.448 +02:00	[inf]	Executing action method "Devices.Mqtt.Pif.Http.Server.Controllers.PifController.GetRootObjectDefinitions (Devices.Mqtt.Pif.Http.Server)" with arguments (["de-CH", "EquipmentIdentificationCode"]) - Validation state: Valid	[Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker]
2018-04-23 11:0

[2018-04-23 09:31] JanEggers commented on #7692
I guess it must be related to nullable enum provided as int instead of string

[2018-04-23 11:55] kichalla commented on #7698
I suppose we do not have support for mode binding to multidimensional arrays, but I have rarely seen anyone asking for it. Based on your posted data, why not create a C# model for the data and generate the html accordingly?. Each item could be represented like the following:
[code]

and your posted data can then look like:
[code]

[2018-04-23 12:04] kichalla commented on #6796
I tried this scenario with a new ASP.NET Core 2.0 & 2.1 MVC template based project and wasn't seeing the slowness being described here. I tried with 500 - 1500 records. Just to be sure, could any of you give us a simple repro project? Even better, if you could share the Perf profile results of what you are seeing.

[2018-04-23 12:10] mitchelsellers commented on #6796
I would have to create a new sample for you given that this was a while back that I had this issue.  I can try to whip something up, but really it was nothing more than the initial example and comparing rendering times of both methods using the same data retrieval process.

[2018-04-23 12:32] JanEggers commented on #7692
I finally found the issue the enum was provided as "0" (numeric but string) which can not be casted to that enum. it was a browser with an old client running.

Anyway expected behavior would be that either the cast succeeds or the modelstate should indicate an error but invalidcast exception without context is a little hard to debug.

[2018-04-23 12:51] kichalla commented on #7696
I think we need to dispose the changetoken that we get here when this singleton service is disposed:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ActionDescriptorCollectionProvider.cs#L39

[2018-04-23 13:01] JeanCollas commented on #7697
@rynowak I totally agree with this, but keeping the naming would also mean building on something that may not be right.

Which one is the best choice?

To advocate the change, I believe that in the concerned functions, all parameters are mandatory, and therefore named parameters should have been used in very few cases.

[2018-04-23 13:31] rickparrish commented on #6796
After submitting my last post I played around a bit more, and I found the 20 second penalty was only associated with nullable properties.  So for example in my class I have int? ProjectId, and accessing item.Project.Id via @Html.DisplayFor is incredibly slow.  I also have a non-nullable int ActivityId, and accessing item.Activity.Id does not result in a 20 second delay via @Html.DisplayFor.

In my

[2018-04-23 14:10] mitchelsellers commented on #6796
Ah @rickparrish great observation, in my example one of the properties was a nullable int as well.

[2018-04-23 14:30] Liero commented on #7677
@pranavkm, you are right about the exception and setting PreserveCompilationContext does help indeed.

This solves my situation (feel free to close the issue), but:

it's still unclear to me, why project using Microsoft.NET.Sdk cannot compile the views without PreserveCompilationContext and Microsoft.NET.Sdk.Web can. What are side effects of PreserveCompilationContext.

[2018-04-23 16:34] mkArtakMSFT commented on #7387
I agree that throwing in case of ambiguity is better. Do we have a solution in that case? Something similar to prefixes/namespaces. From the discussion with @rynowak it sounded that it's not possible at the moment. What it'll take us to make this possible? What information do we miss to bring support for this? @DamianEdwards, do you think this is an effort worth pursuing?
/cc @pranavkm

[2018-04-23 16:42] mkArtakMSFT commented on #7386
@DamianEdwards, sounds like a reasonable ask. Moved this to the next release milestone to consider later.

[2018-04-23 16:45] mkArtakMSFT commented on #6832
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-23 16:45] #6832 closed

[2018-04-23 16:59] kichalla commented on #6796
Sorry but I am still unable to see the kind of delay you guys are seeing. I have shared my repro project over here: https://github.com/kichalla/DisplayForSlow (Main files: [CustomersController](https://github.com/kichalla/DisplayForSlow/blob/master/DisplayForSlow/Controllers/CustomersController.cs), [View](https://github.com/kichalla/DisplayForSlow/blob/master/DisplayForSlow/Views/Customers/Index.

[2018-04-23 17:17] pranavkm commented on #7692
I'll update the title and we'll triage this as a possible bug.

[2018-04-23 17:31] mkArtakMSFT commented on #7691
Thanks for contacting us, @pthorsley.
@pranavkm, any thoughts regarding this?

[2018-04-23 17:33] mkArtakMSFT commented on #7691
Can you please share a minimalistic repro project to help us investigate the issue you're facing, @pthorsley. Thanks!

[2018-04-23 17:52] pranavkm commented on #7691
This is an issue in Scaffolding. Could you move it to https://github.com/aspnet/Scaffolding?

[2018-04-23 18:00] rickparrish commented on #6796
Thanks for the starter project.  I don't have 2.1 installed so I downgraded to 2.0 and your project did not have the noticeable delay I experienced.  (The Address class was missing, so based on your code I added one with a nullable Zipcode.)

This wasn't quite the same setup as me though -- in your case a Customer always has an Address, but sometimes the Address does not have a Zipcode.  In my cas

[2018-04-23 18:05] pranavkm commented on #7677
1. PreserveCompilationContext results in the app including reference assemblies in the output along with metadata in the deps file. The side effect is a larger deploy\publish size. These are only ever required if you're doing runtime compilation. Most desktop applications don't do this, which is why you it's only enabled by default by the Web Sdk.

The Web.Sdk is opinionated about the kind of targ

[2018-04-23 18:08] los93sol commented on #7547
What is the workaround for this issue?

[2018-04-23 18:12] mkArtakMSFT commented on #7696
@kichalla, assigning this to you to investigate further. Thanks!

[2018-04-23 18:13] pranavkm commented on #7547
The workaround is to put the factory in an assembly that's already part of the load context.

[2018-04-23 18:17] DamianEdwards commented on #7387
Doesn't align with our planned scope for next release. I'd wait for feedback on this.

[2018-04-23 18:26] DamianEdwards commented on #7386
Not aligned with planned scope for next release. Sugges moving it to backlog.

[2018-04-23 18:48] NTaylorMullen commented on #7268
Yes that's what [this](https://github.com/aspnet/Mvc/issues/7515) issue addresses.

[2018-04-23 19:13] rynowak commented on #7386
I don't understand why we would do something like this. The current experience is straightforward and comprehensible.

[2018-04-23 20:16] kichalla commented on #7696
Are you holding these converters in a static variable and referencing in each test setup's MvcOptions instance? Also curious what do you mean by `big configuration`? Could you share how your whole test class(including setup/teardown) looks like?

[2018-04-23 20:37] Materix commented on #7696
In `Startup` (base class for `TestStartup`) I add converters to DI container and then in implementation of `IConfigureOptions<MvcJsonOptions>` I add them to MvcJsonOptions (I am not sure if it is good approach to do this, but I need some DI services in my JsonConverters and I solve it by this)

[code]
MvcJsonOptionsConfigurer :
[code]

`big configuration` is `IMapper` configuration in non-static m

[2018-04-23 20:40] pranavkm commented on #7632
Verified this using M.A.App and M.A.All v2.1.0-rc1-30639.

[2018-04-23 20:40] #7632 closed

[2018-04-23 21:10] navyjax2 commented on #3655
For me, those 2 options, going to Debug -> Windows -> Show Diagnostic Tools and removing the checkmarks on Memory and CPU monitoring on the "Select Tools" dropdown, or the one Tomk77 had with removing the checkmark on the "Enable Diagnostic Tools while debugging" -- neither of these worked to stop the requests.  I saw the Diagnostic Tools stop monitoring, within that window, and I didn't end my de

[2018-04-23 21:28] los93sol commented on #7128
I got it working, check my repo for a demo

[2018-04-23 22:21] AHHejazi opened #7700 "UrlResolutionTagHelper+EncodeFirstSegmentContent net::ERR_ABORTED"
Dears, we have this issue with MVC Core

https://stackoverflow.com/questions/49971207/urlresolutiontaghelperencodefirstsegmentcontent-neterr-aborted Please any help

[2018-04-23 22:31] JeffMushmo commented on #7128
Wow. That's great news. I will be attempting this myself in the near future.

[2018-04-23 23:31] m-henderson commented on #5091
hi, could one of you give me a  starting point for building out this feature? thanks (😀

[2018-04-24 00:16] qibucloud commented on #7698
Josn 不同模型在同一List里如何实现
C#没办法表现下面的数据是吗？

How Json Different Models Are Implemented in the Same List
C# does not show the following data?
[code]

[2018-04-24 00:56] Eilon commented on #5091
@javiercn / @mkArtakMSFT - do we have a good pointer on how to do this?

[2018-04-24 00:57] Eilon commented on #5091
These are some existing examples in this repo: https://github.com/aspnet/Mvc/search?utf8=%E2%9C%93&q=debuggerdisplay&type=

[2018-04-24 01:03] pranavkm commented on #7692
cc @pakrym for `ParameterDefaultValue` impact. We should try and address the issue there and add a couple of tests to Mvc. @JanEggers for the time being, I'd recommend using a regular \ non-nullable enum in this particular case.

[2018-04-24 05:45] DevelAx opened #7701 "RedirectToAction causes InvalidOperationException"
I'm using ASP.NET MVC Core 2.0.7 and trying to make a simple redirect via

    return RedirectToAction(nameof(EditPost), new { post.Id });

which ends with the exception:

    InvalidOperationException: Invalid non-ASCII or control character in header: 0x0441

I found some similar issues here, but they are related to `Redirect` (not `RedirectToAction`) and they all are closed.

[2018-04-24 06:59] #7677 closed

[2018-04-24 10:49] khellang commented on #5091
Also, take a look at @jaredpar's [DebuggerDisplay attribute best practices](https://blogs.msdn.microsoft.com/jaredpar/2011/03/18/debuggerdisplay-attribute-best-practices/) (old, but still good) 😄

[2018-04-24 12:32] DevelAx commented on #7701
@kichalla

thank you, it looks like it healed my problem!

My Startup.cs is not very compact to show it whole, I guess you want to see this part:

    public void ConfigureServices(IServiceCollection services)
    {
        _services = services
            .Configure<RouteOptions>(options => options.LowercaseUrls = true) // doesn't work for unicode :(
            .Configure<WebEncoderOptions>(opt

[2018-04-24 12:53] fatimahAldossari opened #7702 "UrlResolutionTagHelper+EncodeFirstSegmentContent"
Dears ,

We are working with MVC core 2.0, we tried to make custom TagsHelpers in separate class library and call it in main web project as shown in image below :

![tag](https://user-images.githubusercontent.com/36937643/39187977-5dadc3b4-47d7-11e8-968d-b468a2dfe2d5.jpg)

the call working fine, and we can see the custom TagHelpers in html pages for main project, but we get problem in rendering pa

[2018-04-24 13:05] kichalla commented on #7702
Seems like a dupe of https://github.com/aspnet/Mvc/issues/7700

Have you been to debug through your custom tag helper when in debug mode? do you see your tag helper code execute? Can you share how your tag helper looks like?

[2018-04-24 13:11] varunthakur2480 commented on #6833
@proskilly Thanks I was able to fix it using the same tag
<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>

[2018-04-24 16:54] mkArtakMSFT commented on #7702
Closing this in favor of #7700.

[2018-04-24 16:54] #7702 closed

[2018-04-24 16:55] mkArtakMSFT commented on #7700
@AHHejazi, can you please share your code here? We will need a repro to investigate.

[2018-04-24 16:56] mkArtakMSFT commented on #7678
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-24 16:56] #7678 closed

[2018-04-24 16:57] ckams opened #7703 "Providing PartialViewResult with no Model"
Could be related:
https://github.com/aspnet/Mvc/issues/6984
https://github.com/aspnet/Home/issues/343
https://github.com/aspnet/Mvc/issues/4572#issuecomment-216351033

What about providing `RenderPartialAsync/RenderPartialCoreAsync` versions without `object model, ViewDataDictionary viewData`?
Coupled with Application Parts, we would have, out of the box, everything ready to add a Plugin System.
(

[2018-04-24 17:08] mkArtakMSFT commented on #7698
Hi @qibucloud. Why not instead use multiple arrays - each one for a specific types of objects.

[2018-04-24 17:08] mkArtakMSFT commented on #7698
/cc @rynowak

[2018-04-24 17:13] mkArtakMSFT commented on #7697
Thanks for contacting us, @JeanCollas.
While we agree that the naming isn't ideal, we won't be able to make this change because this will be breaking one.

[2018-04-24 17:13] #7697 closed

[2018-04-24 17:15] mkArtakMSFT commented on #7699
Thanks for contacting us, @mrukas.
Can you also share the VS version you use?

[2018-04-24 17:15] mkArtakMSFT commented on #7699
@danroth27, can you please redirect this as necessary? Thanks!

[2018-04-24 17:28] mkArtakMSFT commented on #7035
@danroth27, should this go into 2.2 milestone?

[2018-04-24 17:29] mkArtakMSFT commented on #7086
Thanks for contacting us, @Bojanema.
@javiercn, can you please look into this? Thanks!

[2018-04-24 17:30] DevelAx commented on #7701
@kichalla thank you for the explanation!
I use Cyrillic in URL via `ActionName` attribute

        [ActionName(Aliases.PostsAdmin.EditPost)]
        public async Task<IActionResult> EditPost(int id) { ... }

 so, that was likely the reason.

[2018-04-24 17:33] mkArtakMSFT commented on #7077
@dougbu, can you please answer the following questions? Thanks!

[2018-04-24 17:42] kichalla commented on #7652
I will back to this after my current task. Based on our offline discussions with @dougbu , we will mostly not fix this as it would be a breaking change, but I am thinking of a workaround which is simple and would apply to all integer models across the app (for example, using EditorTemplates)

[2018-04-24 17:57] javiercn commented on #7086
Hi,

Scenario 1: Antiforgery requires cookies to work, this is by design.
Scenario 2: We require/recommend you redirect after _signInManager.SignOutAsync(). Login in or login out doesn't change the identity of the user for the current request but for the next request. The recommended pattern to use for these operations is Post-Redirect-Get.

You are getting a blank page most likely because you are

[2018-04-24 17:57] #7086 closed

[2018-04-24 18:01] dougbu commented on #7077
You'll need to include either that `Model` or the `ViewData` when throwing the `UserFriendlyViewException`.

More information you'll need to include in the thrown `UserFriendlyViewException`. Could use the current `Path`, `ViewContext.ExecutingFilePath` or `ViewContext.View.Path`.

I don't remember exactly when those three are different. But, I believe `ExecutingFilePath` matches `Path` but `View.

[2018-04-24 18:11] javiercn commented on #5091
The most interesting bit here is to decide where to put DebuggerDisplay on and what information to show. Our original idea was to keep this bug to track the progress we made and make the changes organically as part of other work items base on our own experience debugging.

That said, I can probably take a look at it sometime this week and provide some pointers. In general I would like to see thing

[2018-04-24 18:29] danroth27 commented on #7035
Yes I think so.

[2018-04-24 19:30] danroth27 commented on #7699
@mrukas I've confirmed that this should be working in VS2017 15.7 Preview 4, so please make sure that you have the latest VS2017 preview release installed (https://www.visualstudio.com/vs/preview/).

[2018-04-24 19:30] #7699 closed

[2018-04-24 19:31] danroth27 commented on #7699
I'm going to go ahead and close this, but if you're still running into issues after installing the latest Visual Studio 2017 preview please let us know!

[2018-04-24 19:47] pranavkm commented on #7694
There's a sort of meta issue for analyzers here - https://github.com/aspnet/specs/issues/110. Perhaps this could be tracked there?

[2018-04-24 21:41] p2atran opened #7704 "View() rendering is slow"
I migrated my ASP.NET Core 1.1 project over to 2.0 and everything seems to work okay. However, I noticed that where return View() is called in the server, my webApp loads extremely slow. This wasn't the case in my 1.1 project.

I'm wondering if this has to do with my migration or if it is a known issue.

[2018-04-24 22:15] mkArtakMSFT commented on #7704
Hi @p2atran.
Could you please share a repro project, which we can use to investigate?

[2018-04-24 22:26] p2atran commented on #7704
@mkArtakMSFT
Yeah I'll start working on one, but here are some files in the mean time:

When I ran the server and loaded up the page, the `testing 123!!!` text loads immediately. It looks like the @renderBody and @renderSection is what is causing the slowness.

ViewStart.cshtml:
[code]
ViewImport.cshtml:

[code]

Layout.cshtml:

[code]
home/index.cshtml:

[code]

[2018-04-24 22:46] p2atran commented on #7704
It looks like the line that is slow to render is:

[code]

What would you need in the repro? Would it just be program.cs, start.cs and these views?

[2018-04-25 02:07] p2atran commented on #7704
The odd thing is app.js is still the same size and have not changed. But in core 2 it takes around 35 seconds to load vs 8 seconds in 1.1.

[2018-04-25 07:05] vflame opened #7705 ".net core mvc is not properly applying displaytemplates for classes derived from abstract class"
It appears that asp.net core isn't evaluating the runtime type of derived classes and applying the appropriate DisplayTemplate. This issue is occurring with MVC web apps targeting .Net core 2.1.0-preview2-final. It works as expected with MVC web apps targeting .NET framework 4.7.

On a side note, is it possible to pass in a base class to the Model and have the existing tag/html helpers recursively

[2018-04-25 07:34] xiaoyc opened #7706 "Tag Helper generate same input name when the propery name is same but from different Model."
Hi

My Post page has a componet view ,both componment view model and post page view model has a 'Name ' property like below .

**Component Model :**

 public class ComponentModel
 {
        public string Name { get; set; }
 }
**Component View ::**

@model ComponentModel

<input asp-for="@Model.Name"   />

**Post Model :**

 public class PostModel
 {
        public string Name { get; set; }
 }
**Po

[2018-04-25 10:50] iyilm4z opened #7707 "Custom ComplexTypeModelBinder doesn't work properly for Api Controllers or i do something wrong?"
Model binder doesn't work or i do something wrong.
Here is my implementation.

[code]

[code]

[code]

[code]

[code]

When i debug ComplexTypeModelBinder.cs of mvc with Rider, i get result below.

[code]

i choose **body/raw(JSON(application/json))** and it **doesn't** work.

![fail](https://user-images.githubusercontent.com/9105939/39241332-31cee49a-488f-11e8-9f56-1579255024b5.JPG)

Surprisingly

[2018-04-25 11:56] AHHejazi commented on #7700
Dear we upload the project on github

https://github.com/AHHejazi/IdentityV1/tree/master/MOHIdentityApp

the main project is : Identity.WebApp

the Tagehelper project under Common/Framework.Web/

when you run the project you will get home page => right click and inspect =>in console you will get the error :

GET **http://localhost:61233/Microsoft.AspNetCore.Mvc.Razor.TagHelpers.UrlResolutionTagHel

[2018-04-25 14:09] kichalla commented on #7707
If you are trying to bind data coming in as `application/json`, then you need to decorate your parameter with [FromBody] attribute. This causes the input formatters to deserialize your request body and construct the parameter instance.

[2018-04-25 14:18] iyilm4z commented on #7707
I did it but i had the same result.

mvcBuilder.AddMvcOptions(options => options.ModelBinderProviders.Insert(0, new AppModelBinderProvider()));

I also registered my custom model bider as my first. Maybe this causes issue? If so, why i works properly with form-data?

[2018-04-25 14:35] vflame commented on #7705
Further testing shows that recursive/nested properties are properly resolved with DisplayTemplates in .NET 4.7 but not in .NET core 2.1 preview 2.

[2018-04-25 15:24] Tarig0 opened #7708 "Unable to pass a null param through view component helper tag"
I have a view component that needs to be able to understand the difference between a null and empty string. when I use the following the view component is still retrieving an empty string.

[code]

I have tried making the default of hasKeyNomen to be null but to no avail.

[2018-04-25 15:29] Tarig0 commented on #7708
I would like to be able to either not pass in the argument or have the explicit null be honored in the executeAsync call

[2018-04-25 15:53] Tarig0 commented on #7707
Have you debugged your provider and see which branch/line is failing?

[2018-04-25 16:03] kichalla commented on #7707
Your scenario should just work with any custom model binder as its the input formatters which do the binding here. So, remove any modifications to options related to modelbinderproviders.

[2018-04-25 16:06] mkArtakMSFT commented on #7707
Thanks for looking into this, @kichalla. Assigning this to you to complete the investigation.

[2018-04-25 16:07] mkArtakMSFT commented on #7708
Thanks for contacting us, @Tarig0.
@NTaylorMullen, any suggestions here?

[2018-04-25 16:15] mkArtakMSFT commented on #7705
Thanks for providing detailed information, @vflame.
@dougbu can you please look into this? Thanks!

[2018-04-25 16:26] mkArtakMSFT commented on #7704
Thanks @p2atran. A project in GitHub repo would be ideal.

Just to confirm my understanding, are you saying that on an empty page, with a single `<script src="~/dist/app.js" asp-append-version="true"></script>` tag on it there is a huge difference in speed?

[2018-04-25 16:30] mkArtakMSFT commented on #7704
@dougbu, this one seems suspicious. Can you please investigate it? Thanks!

[2018-04-25 16:34] mkArtakMSFT commented on #7694
Perfect, closing this one then. Please add any comments there (though the link is already created) as necessary.

[2018-04-25 16:34] #7694 closed

[2018-04-25 16:54] mkArtakMSFT commented on #7268
Thanks @NTaylorMullen.
@DamianEdwards, any thoughts?

[2018-04-25 16:57] mkArtakMSFT commented on #7387
Thanks @Damian. Closing this now and let's see whether there will be any customer asks similar to this.

[2018-04-25 16:57] #7387 closed

[2018-04-25 16:58] mkArtakMSFT commented on #7691
This issue was moved to aspnet/Scaffolding#771

[2018-04-25 16:58] #7691 closed

[2018-04-25 16:59] mkArtakMSFT commented on #7336
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-25 16:59] #7336 closed

[2018-04-25 17:08] dougbu commented on #7704
@p2atran in addition to @mkArtakMSFT's question, I'm wondering what you're measuring. For example, is the "35 seconds" you mention measured with a stopwatch in your browser? And, is this for the first request after starting the application or an average over tens of requests?

[2018-04-25 17:17] iyilm4z commented on #7707
@kichalla But unfortunately it doesn't. @Tarig0 I did a [demo](https://github.com/iyilm4z/Demo.ModelBinding). You can check it out by yourself.

[2018-04-25 17:25] dougbu commented on #7705
This sounds like the intended behaviour. ASP.NET had a few inconsistencies in this area. In particular, `DisplayFor` and similar methods use the declared type of the model i.e. `MyModel` in your scenario.

To render the runtime type, use `Display` instead e.g.
[code]

----
My apologies for any errors above. I don't have time to test this this week.

[2018-04-25 17:25] NTaylorMullen commented on #7703
Hi @ckams, could you provide an example as to what you're trying to accomplish? I'm a little confused because `Html.RenderPartialAsync` without passing the model or viewData is already a [thing ](https://github.com/aspnet/Mvc/blob/1fa1d7df3e1029e8321890ff9ea2b5ec48065898/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialExtensions.cs#L295).

[2018-04-25 17:32] NTaylorMullen commented on #7708
@Tarig0 sadly this isn't yet possible. However, we do have an issue over in the Razor repo tracking this: https://github.com/aspnet/Razor/issues/1266

To workaround this limitation for now you can use the `@await Component.InvokeAsync(...)` syntax

[2018-04-25 17:40] mikes-gh commented on #5714
Having a problem with this.

View

`<input asp-for="StartDate" class="form-control" size="10" placeholder="Start" />`

ViewModel

[code]

Which in 2.0 renders in Development as

[code]

But when I deploy to Production it renders as (note datetime-local)

[code]

It Breaks in Chrome on Production but works in IE 11

The date picker I'm using recommends type text  which is why it works on Developmen

[2018-04-25 17:41] iyilm4z commented on #7707
Sir @kichalla I know that default binder is already working. If i remove that line how MVC ecosystem will understand my custom ComplexTypeModelBinder for my BaseAppModel? As you see, there i have some logic for my all VMs/DTOs. I really need it for the infrastructure of my architecture.

[2018-04-25 17:42] mkArtakMSFT commented on #7076
@dougbu, do you mean that we need to move a type to a different package? What does 'forward` mean?

[2018-04-25 17:42] mkArtakMSFT commented on #7062
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-25 17:42] #7062 closed

[2018-04-25 17:43] mkArtakMSFT commented on #7007
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-25 17:43] #7007 closed

[2018-04-25 17:44] mkArtakMSFT commented on #7012
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-25 17:44] #7012 closed

[2018-04-25 17:44] mkArtakMSFT commented on #7002
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-25 17:44] #7002 closed

[2018-04-25 17:45] mkArtakMSFT commented on #7028
@pranavkm, was there any investigation done here?

[2018-04-25 17:48] mikes-gh commented on #5714
As always I found the issue soon after I posted.
I forgot to update my launch.json to run the 2.0 version of my app so my production was 2.0 but my dev was on 1.1

Sorry for noise.

[2018-04-25 17:51] DamianEdwards commented on #7268
It's as reasonable as #7515, i.e. if we did that we'd likely do this too. Not likely to get priority in the next release though.

[2018-04-25 17:54] #7700 closed

[2018-04-25 17:56] mkArtakMSFT commented on #6980
Hi @HolyOne. Thanks for submitting this proposal. We're closing this issue as it seems there has been no community interest in this ask.

[2018-04-25 17:56] #6980 closed

[2018-04-25 17:56] grahamehorner commented on #7268
@DamianEdwards IMHO html helpers/tag helpers should have parity where possible, but totally understand that these are low on priority, maybe good for an up-for-grabs labelling 🤔🤟

[2018-04-25 17:56] NTaylorMullen commented on #6030
@mkArtakMSFT we should triage this. It's valuable, I run into cases where this would fix users issues pretty regularly.

[2018-04-25 18:05] mkArtakMSFT commented on #6954
@DamianEdwards, any thoughts regarding this? Thanks!

[2018-04-25 18:06] mkArtakMSFT commented on #6938
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-25 18:06] #6938 closed

[2018-04-25 18:06] dougbu commented on #7076
@mkArtakMSFT yes, I was talking about moving the interface and using type forwarding to avoid a breaking change.

[2018-04-25 18:08] mkArtakMSFT commented on #6942
Thanks for contacting us, @carl-thomas. We're closing this issue as the change would be a breaking change as well as there was no community interest in this ask all this time.

[2018-04-25 18:08] #6942 closed

[2018-04-25 18:09] DamianEdwards commented on #6030
@NTaylorMullen do you have an idea of what it would look like and the cost?

[2018-04-25 18:11] Tarig0 commented on #7708
That tracks the omission but how about the null binding to string.empty?

[2018-04-25 18:11] DamianEdwards commented on #6954
Legitimate request but unlikely to get prioritized unless the cost is extremely low (e.g. XS).

[2018-04-25 18:14] mkArtakMSFT commented on #6937
Hi @MohammadAkbari.
Is this issue still relevant? Are you still facing this issue, or should we close it?

[2018-04-25 18:16] mkArtakMSFT commented on #6929
Hi @aureole82.
Sorry for our late response.
Is this ask still relevant or should this issue be closed? Thanks!

[2018-04-25 18:17] mkArtakMSFT commented on #5239
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-04-25 18:17] #5239 closed

[2018-04-25 18:25] marcusien commented on #6991
Hi.
Yes it is still.
In my case I introduced some workarounds but it is annoying to have this issue even if I understand why it's happening

[2018-04-25 18:26] mkArtakMSFT commented on #6997
@pranavkm, is this fixed already?

[2018-04-25 18:30] Tarig0 commented on #7708
OK I switched to using string.empty, "*" and "real" as my three branches.

So because the function is expecting a string, and all the tag helper sets all attributes as required and the attribute type is string it will not allow a specified null to go through

I'm don't understand why that is a case, say I have a variable that could be null I now need to do an if statement in the view to omit the a

[2018-04-25 18:34] javiercn commented on #6997
[ProducesResponseType(typeof(SomeType), (int) HttpStatusCode.OK)]

You can just use Microsoft.AspNetCore.Http.StatusCodes instead.

We could also consider an external PR for this

[2018-04-25 18:40] ckams commented on #7703
Hi,
@NTaylorMullen, well, I mean **without any model or ViewData**. A kind of "pure raw output" from the source.

Here the context.

I have built a plugin system for my Asp.Net Core MVC webapp.

Each plugin have its own MVC components (With Get and **Post**… so View Components are not useful here).
The plugins are of two kinds:

"Local plugin" | "Api Provider based plugins"
-----------------|-----

[2018-04-25 18:48] NTaylorMullen commented on #6030
An extension method `output.Attributes["src"].GetStringValue()`, or the same with an encoder.

Where the guts of the impl would be something like:
[code]

I'd cost it at 1 day.

[2018-04-25 18:53] NTaylorMullen commented on #7703
Are you suggesting a different method that doesn't default `Html.RenderPartialAsync(viewName)`'s model to viewData.Model?

If so, is `Html.RenderPartialAsync(viewName, model: null)` sufficient?

[2018-04-25 19:08] Tadimsky commented on #6890
I haven't seen this be fixed, still relevant issue.

[2018-04-25 19:31] ckams commented on #7703
Yes

As long as it does not feed with null object the called controller (always the mismatch problem between the needed model for the callee and the null object send…).

[2018-04-25 20:14] poke commented on #6937
I cannot actually reproduce this anymore with 2.0. I believe I could confirm OP’s observation before but I cannot anymore.

[2018-04-25 21:04] mkArtakMSFT commented on #6937
Thanks @poke.
We'll close this issue then. Given that this was filed a while ago, it is probably fixed now.

[2018-04-25 21:04] #6937 closed

[2018-04-25 21:06] mkArtakMSFT commented on #6890
Thanks for confirmation, @Tadimsky.
@dougbu, can you please investigate this? Thanks!

[2018-04-25 21:24] Tratcher commented on #6997
👎 Asp.Net Core does not make use of System.Net.HttpStatusCode, the enum type was poorly designed and should not be perpetuated in new API. Use Microsoft.AspNetCore.Http.StatusCodes instead.

[2018-04-25 21:30] mkArtakMSFT commented on #6997
Thanks @javiercn, @pranavkm.
After discussing this with @danroth27 and @Tratcher and decided this is not a direction we want these APIs to extend toward. Instead, as @Tratcher suggested, consider using the `Microsoft.AspNetCore.Http.StatusCodes` type instead.

[2018-04-25 21:30] #6997 closed

[2018-04-25 21:37] danroth27 opened #7709 "Revert https://github.com/aspnet/Mvc/pull/6902"
We've decided to not propagate usage of `System.Net.HttpStatusCode` across the ASP.NET Core APIs, and instead consistently recommend `Microsoft.AspNetCore.Http.StatusCodes`. We should revert https://github.com/aspnet/Mvc/pull/6902 before shipping 2.1.

[2018-04-25 21:41] danroth27 commented on #7709
@mkArtakMSFT Please assign.

[2018-04-25 21:51] mkArtakMSFT commented on #6991
@pranavkm, any thoughts regarding this? Would be great to understand the reason as well as the cost of potential fix, if there is one. Thanks!

[2018-04-25 22:24] dougbu opened #7710 "Unable to test web site with Microsoft.AspNetCore.App dependency"
Found while verifying aspnet/Release#302.

## Repro steps
1. create empty folder e.g. `md netCore21RC1Api`
2. `cd netCore21RC1Api`
3. `dotnet new webapi --name netCore21RC1Api --output .\netCore21RC1Api\`
4. `dotnet new xunit --name XUnitTest --output .\XUnitTest\`
5. `dotnet new sln`
6. `dotnet sln add .\netCore21RC1Api\netCore21RC1Api.csproj`
7. `dotnet sln add .\XUnitTest\XUnitTest.csproj`
8. `

[2018-04-25 22:44] dougbu commented on #7710
This problem does not occur when using just packages e.g. start the above repro steps with
1. md net461RC1Api
2. cd net461RC1Api
3. dotnet new webapi --name net461RC1Api --output .\net461RC1Api\ --target-framework-override net461
4. dotnet new xunit --name XUnitTest --output .\XUnitTest\ --target-framework-override net461

The packages-only workaround succeeds with .NET Core 2.1 as well i.e.
1. ed

[2018-04-25 22:50] dougbu commented on #7710
I've updated the original description to contain the correct `UnitTest1.cs` file for API tests.

[2018-04-25 23:09] dougbu commented on #7710
And, I forgot to mention including the following in XUnitTest.csproj:
[code]

[2018-04-25 23:27] dougbu commented on #7710
One workaround is to explicitly reference the shared runtime "package" from the test project:
[code]
But, this isn't discoverable at all.

[2018-04-25 23:41] dougbu commented on #7710
Put another way, the reference to the Microsoft.AspNetCore package is getting lost in the transitive references. Need that package to pick up the `WebHost.CreateDefaultBuilder(string[])` method.

[2018-04-25 23:44] dougbu commented on #7710
Assigning to @JunTaoLuo because he's taking the first crack at determining why `dotnet restore` isn't working the way we expect with `<ProjectReference ... />`s and shared runtimes.

[2018-04-25 23:44] JunTaoLuo commented on #7710
My suspicion is that this is related to our recent changes in making Microsoft.AspNetCore.App implicitly defined. I'm going to test it some more.

[2018-04-26 00:15] AHHejazi commented on #7700
Thank you too much

[2018-04-26 01:56] ajaybhargavb opened #7711 "Consider writing an analyzer to warn against using multiple [FromBody] in an action method"

[2018-04-26 03:42] DamianEdwards commented on #6030
If it's truly only 1 day, then this seems like a good item to include in 2.2 that could be done in between other work.

[2018-04-26 08:48] iyilm4z commented on #7707
**Your scenario should just work with any custom model binder as its the input formatters which do the binding here.**

@kichalla Do you mean i should implement my own input formatter? Please provide me a solution with some code. Similar issue #4553

[2018-04-26 12:12] kichalla commented on #7707
I realized there is a typo in my earlier comment, sorry about that. What I really meant was that you should **not** write a custom model binder in your scenario as its the input formatters which deserialize the request body and construct the model. In your case, since your are sending data as json, the `JsonInputFormatter` is used for deserializing the request body.

Now coming to the inheritance

[2018-04-26 13:42] ZsoltBendes opened #7712 "Array or List in query string does not get parsed"
I have a controller with and end point that accepts a list of integers in a GET method. The In version 2.1 preview1 the method is working as expected. But in 2.1 preview2 the parameter is an empty list.

### Functional impact
The end point parameter does not get parsed.

### Minimal repro steps

1. Create an end point that can be called with an array of items like:
/api/v1/Tags/getByIds?ids=1&ids=

[2018-04-26 15:25] scotteby commented on #4910
Is anyone using subreports in their RDLC file?

I was able to get the main report to render after removing the .UseNLog() option in Startup.cs, but the subreport won't load. This is the error I get in the rendered pdf report:

\Reports\Subreport.rdlc. Please verify that the subreport has been published and that the name is correct.

The subreport is in the same folder as the main report, and I eve

[2018-04-26 15:47] TylerBrinkley commented on #4945
Just bit by this in ASP.NET Core 2.0 when there is no accept header.

[2018-04-26 17:07] p2atran commented on #7704
@dougbu The "35" seconds is the measured stopwatch in chrome's network tab. I took an average of those times, which consisted of about 8-9 refreshes. I can do more if you like, but its pretty consistently loading around there.

@mkArtakMSFT Yes just that single script is taking very long to load. However, that script is about 6mb as its what webpack generated. But it has not changed since my .NET

[2018-04-26 17:27] scotteby commented on #4910
I was able to resolve my issue with subreports by using a newer version of ReportViewer.  The ReportViewer.2015.Runtime is version 12, but I needed to use

Microsoft.ReportingServices.ReportViewerControl.WebForms, which is version 14.

So, I still have the issue with NLog. Has anyone figured out how to get these 2 to work together? Anyone try upgrading to the latest beta of .NET Core?

[2018-04-26 17:27] p2atran commented on #7704
@dougbu @mkArtakMSFT So I changed it to just load a smaller script with about 30 console logs. It loads very fast. So the 6mb script definitely slow because of the size, but it shouldn't have gotten slower than what it was before right?

[2018-04-26 17:28] mkArtakMSFT commented on #7704
Thanks @p2atran. Will you be able to provide a repro project (preferably in a GitHub repo)?

[2018-04-26 17:30] mkArtakMSFT commented on #7712
Thanks for contacting us, @ZsoltBendes.
@dougbu, I remember we made some changes in this area during preview2. Is this an expected result of those changes/

[2018-04-26 17:38] mkArtakMSFT commented on #7603
Agree, this would fall into the same category. Closing as dupe of https://github.com/aspnet/Mvc/issues/7360

[2018-04-26 17:38] #7603 closed

[2018-04-26 17:44] mkArtakMSFT commented on #6954
Thanks @DamianEdwards. Closing this then, as it seems this is not a priority at the moment.

[2018-04-26 17:44] #6954 closed

[2018-04-26 17:51] p2atran commented on #7704
@mkArtakMSFT Yeah, I'm testing with a huge script file that just contains comments and its very slow too. If I refresh the page, should it be just as slow again? Or should it be quicker because of caching?

I'm going to make a fresh core 2 and place the large script file in to see if its still slow. I'll post that if it is.

[2018-04-26 18:02] dougbu commented on #7712
@mkArtakMSFT I reviewed what went into that milestone and the only thing I can think of is the ability to enable / disable new features using `CompatibilityVersion.Version_2_1` or `CompatibilityVersion.Version_2_0`. But, none of those new features should affect this scenario. On the other hand, this may relate to one of the model binding regressions found in Preview 1 but not fixed until RC1.

@Zs

[2018-04-26 18:35] p2atran commented on #7704
@dougbu @mkArtakMSFT I think I found the cause of the slowness!

So the clean aspnet core 2 app loaded my large script file in about 8-9seconds. When I added https through kestrel to the clean aspnet core 2 app, the script file loading went up to 1 minute.

To reproduce, just run the commands from this link:
https://docs.microsoft.com/en-us/aspnet/core/getting-started?view=aspnetcore-2.1

Then I c

[2018-04-26 18:41] javiercn commented on #7076
@dougbu
What configuration of the app would cause antiforgery to interfere with webhooks?
Are you trying to ensure that antiforgery is always disabled on those actions?

[2018-04-26 18:45] dougbu commented on #7076
Yes.

WebHook actions are relatively normal MVC / Web API actions and some senders use form-URL encoded requests. Antiforgery tokens are not helpful in these machine-to-machine cases. So, this is about making it possible to disable antiforgery requirements without either mucking with the global configuration or bringing additional dependencies into the WebHook packages.

[2018-04-26 21:34] rynowak commented on #7076
Is this a problem that anyone has actually had?

[2018-04-26 21:34] rynowak commented on #6030
😲

[2018-04-26 21:46] DamianEdwards commented on #6030
I don't know what that face means in this context.

[2018-04-26 22:03] dougbu commented on #7076
It's an easily-avoided problem that users can hit with any of the (fairly simple) global antiforgery requirement configurations.

[2018-04-26 22:55] javiercn commented on #7076
@dougbu Can a customer do something in their application to avoid this?
* Put the `IgnoreAntiforgeryTokenAttribute` in their WebHooks applications. (Most people reference Microsoft.AspNetCore.App or Microsoft.AspNetCore.Mvc, so they have access to this).
* Write an application model convention that removes the AntiforgeryFilter from those controllers. (We can provide a sample for how to do this).

[2018-04-26 23:39] dougbu commented on #7076
Customers can of course avoid this. Telling them avoidance is necessary isn't reliable.

Turning this around, why _not_ make it possible for WebHooks to detect this situation without taking numerous dependencies?

[2018-04-26 23:46] kichalla commented on #7696
@Materix Could you try doing the following and see if it fixes the issue? Currently the suspect is `IHostingEnvironment`'s implementation which is not a disposable service, so the file providers hanging off of it are not disposed, but this is just a theory and not confirmed yet. I am trying to profile it at my end, but you could try the following meanwhile and see.

Update your server setup like b

[2018-04-27 00:16] austindrenski opened #7713 "Greater precedence for ActionResult<T>"
I'm working with `2.1.0-preview2-final` and trying to get `ApiDescription` to report that a method returning `Task<ActionResult<T>>` translates into an endpoint with a response type of `T` on success.

Based on the current implementation, it looks like `ActionResult<T>` is only being set for `Status200OK` when there are ___no__ other filters_ at play:

https://github.com/aspnet/Mvc/blob/1b9372f5b0

[2018-04-27 03:42] veryuglyman opened #7714 "---------- About Attribute --------------"
In the method called inside the asp.net core mvc controller method, my custom attribute will automatically call, what is the reason

在asp.net core mvc 控制器里面的方法和方法里面调用的方法上，我自定义的attribute会自动调用，是什么原因

[2018-04-27 08:32] Materix commented on #7696
Yes, this fix the issue. Everything is disposed correctly.

Actually I temporary solved this problem by cleaning out file providers collection for RazorEngine because I don't use it

In Startup.cs:
[code]

[2018-04-27 13:58] Tornhoof commented on #7546
In which version is this supposed to be fixed?
In 2.1-preview2-final with my repro from: https://github.com/aspnet/Mvc/issues/7512
I get  for the Notworking example below (see repro)
[code]

the following error message:
[code]

If I upgrade to the latest nugets from myget (2.1.0-rc1-30678) I get the following exception:
[code]
I thought we all agreed that CancellationToken is ignored?

[2018-04-27 16:12] kichalla commented on #7696
Awesome. Thanks for the confirmation! Is it possible for you to give a simple repro for this issue. We do run our functional tests quite often and have never come across this kind of issue, so were wondering if you are doing anything different.

[2018-04-27 17:05] Tornhoof commented on #7546
The assets look ok to me, it contains "Microsoft.AspNetCore/2.1.0-rc1-30678"
I zipped it up, the archive contains an output.txt which is the output log window, it shows loading those rc dlls and the exception from above:
[BodyBindingRepro.zip](https://github.com/aspnet/Mvc/files/1955969/BodyBindingRepro.zip)
I removed the ref directory from the output, on my system it contains all those rc1 dlls,

[2018-04-27 17:22] pranavkm commented on #7546
You're missing `.SetCompatibilityVersion(CompatibilityVersion.Version_2_1);` in your Startup:

[code]

[2018-04-27 17:47] Tornhoof commented on #7546
Thank you very much. It works now.
Still I find it weird that the new [ApiController] feature needs that one to work properly, but I understand it's a change to the 2.0 behaviour. Sorry for the trouble.

[2018-04-27 17:47] javiercn commented on #7522
@mkArtakMSFT This is by design. Antiforgery sets the cache-control to "no-cache no-store" which is the strongest level it can be, as it instruct proxies to not store the information and to not server the cached responses without validating with the server first.

must-revalidate tells proxies to validate the cache-entries when the response has become stale, so when used in conjunction with no-cach

[2018-04-27 17:47] #7522 closed

[2018-04-27 18:07] pranavkm commented on #7546
It's a bit unfortunate, but the *right* fix for the underlying issue affects all controllers, including non-ApiController ones. It's a change in behavior and hence guarded behind a compat switch.

[2018-04-27 23:42] rynowak commented on #7713
@austindrenski - can you give an example of what you're doing (code sample) and what you expect the behavior should be vs what it is? I'm not sure I totally understand what you're asking.

[2018-04-28 05:08] dougbu commented on #7705
Yes, as I said earlier

[2018-04-28 12:34] aureole82 commented on #6929
Yes, @ryanbrandenburg's issue [dotnet/corefx/issues/25128](https://github.com/dotnet/corefx/issues/25128) has addressed the right audience. Thanks alot, guys!
Maybe you could mark my issue as duplicate...

[2018-04-28 13:45] kichalla commented on #7696
I have created a repro for others to take a look at it:
https://github.com/kichalla/HostingEnvironmentNotDisposedRepro

[2018-04-28 14:53] kichalla commented on #7707
Closing this issue as there's no action item on our side.

[2018-04-28 14:53] #7707 closed

[2018-04-28 15:33] TeunKooijman commented on #1595
The link is dead! Is there any alternative endpoint where we can find the sample?

[2018-04-28 17:00] Materix commented on #7696
Actually we have circa 900 integration test, where 700 are based on single static instance of TestServer and remaining 200 are based on instantiating TestServer each time. We started rewriting our tests to server per test mainly because we want to have separate in-memory database for each test and decouple tests from each other (changes in one test were visible in others).

The other root of the p

[2018-04-28 18:14] kichalla commented on #7696
Thanks for sharing the details!

👍 That's sounds like a valid scenario for your per test TestServer instance usage.

We don't use a single instance for all the tests actually. For example, we have the [BasicWebSite](https://github.com/aspnet/Mvc/tree/dev/test/WebSites/BasicWebSite) which is tested by bunch of test classes [BasicTests.cs](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet

[2018-04-29 15:31] dazinator opened #7718 "MvcRouteHandler and IActionContextAccessor Registration"
I am having a problem when calling `UseMvc` (asp.net core 2.0). It says that it cannot resolve `MvcRouteHandler` because there is no `IActionContextAccessor` registered.

I have looked here: https://github.com/aspnet/Mvc/blob/599d1a502ef358678202345ced2d11ddca0754f3/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L260

I can see that indeed `MvcRouteHand

[2018-04-29 15:38] dazinator commented on #7718
Perhaps this is because I am using `structuremap` which selects the greediest constructor by default.
I can see `MvcRouterHandler` has a couple of constructors, and its the greediest one that requires the `IActionContextAccessor`..

[2018-04-29 16:12] bpaczkowski opened #7719 "Can't accept multiple IFormFile"
Accepting a single `IFormFile` works fine, but when using `List<IFormFile>` or any other IFormFile collection type, the resulting collection is empty.

I'm using ASP.NET Core version 2.1.0-preview2-final on .NET Framework 4.6.2 on Windows.

[2018-04-29 17:26] khellang commented on #7718
The StructureMap adapter has a special constructor selector that should consider registered services when picking a ctor. The default one just picks the greediest. See https://github.com/structuremap/StructureMap.Microsoft.DependencyInjection/blob/master/src/StructureMap.Microsoft.DependencyInjection/AspNetConstructorSelector.cs

[2018-04-29 17:33] bpaczkowski commented on #7719
`IFormCollection.Files` does work and I can retrieve the files I sent without issues, so I guess that's a workaround, thanks! I also tried with `IFormFileCollection` as an argument by the way, but that was empty as well.

[2018-04-29 19:49] kichalla commented on #7719
@bpaczkowski In the cases where you see empty, can you check how ModelState looks like? Any errors in them?

[2018-04-29 23:26] pranavkm commented on #1595
@TeunKooijman it's been moved to https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.SubAreaSample.Web.

[2018-04-30 12:46] bpaczkowski commented on #7719
No errors in the `ModelState`. In the logs however:

[code]

[2018-04-30 13:49] danroth27 commented on #7400
@amigin Please open a new issue in the [Home](https://github.com/aspnet/home/issues) repo with details about your app so that we can try to investigate the issue.

[2018-04-30 13:49] lecoque opened #7720 "IUrlHelper and support for RouteOptions.LowercaseUrls"
I have the following setting:
[code]
When I generate URL from my controller, query parameters are named like in C#, for example

`query?Property=x`

I expected it to be `query?property=x`, ideally in camel case. So `query?propertySomething=x`

It would be nice if [IUrlHelper implementation](https://github.com/aspnet/Mvc/blob/d0a8b5f78f504820207dd3913c51ea5805d55b89/src/Microsoft.AspNetCore.Mvc.Cor

[2018-04-30 13:57] gyankov commented on #6720
Hello @blowdart , I am new to Razor Pages and I am also struggling to post data via ajax. I made sure that a forgery token is added within the page and that a  RequestVerificationToken header is included as shown in the provided documentation. However I am still getting the 400 Bad Request issue. Is there any other mandatory configuration that I am missing?

[2018-04-30 15:34] blowdart commented on #6720
@gyankov We don't triage closed issues, so it's luck I saw this. My suggest for code related questions is always stack overflow, rather than github, because github is for bugs, not general usage.

[2018-04-30 16:27] ryanbrandenburg commented on #6929
Yeah, I'll close as duplicate.

[2018-04-30 16:27] #6929 closed

[2018-04-30 16:59] winzig commented on #7396
Can anyone explain how to disable it globally as mentioned above?

[2018-04-30 17:30] kichalla commented on #7719
@bpaczkowski Your `List<IFormFile>` should have worked as I see we have tests verifying that scenario. Could you share the following details or you could just give a repro app if it makes it easier for you.

- Version of MVC you are using
- The raw request data being sent to the server
- Action signature

[2018-04-30 21:19] kichalla opened #7722 "Provide an option to log request body when deserialization fails"
Related to issue: https://github.com/aspnet/Home/issues/3105

Writing an exception filter to log the request body feels too much work for a scenario(bad data in request body) which feels common:

- Should we provide an option for logging request body when deserialization fails? If request body is buffered(default), we log it otherwise we don't.
-  Should we log for non-formatters scenario i.e regu

[2018-05-01 08:17] hikalkan commented on #6938
I agree with @Remleo

[code]

should work as it's very intiutive. This works (added `.Value`):

[code]

but it's easy to forget it for a developer.

I believe that `LocalizedHtmlString` should just override `ToString()` and return the `Value`.

[2018-05-01 12:46] obayit commented on #7525
@khellang can you help me understanding the issue:
I created an action that returns ValueTask\<int>, and the Default Api Description Provider output is :
Response Type = System.Threading.Tasks.ValueTask`1[[System.Int32, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]

Is the problem is that the Response Type should be "System.Threading.Tasks.ValueTask<Sy

[2018-05-01 12:49] obayit commented on #7525
btw the media types I got where:

Formatter
Microsoft.AspNetCore.Mvc.Formatters.StringOutputFormatter
Media Type
text/plain

Formatter
Microsoft.AspNetCore.Mvc.Formatters.JsonOutputFormatter
Media Type
application/json

Formatter
Microsoft.AspNetCore.Mvc.Formatters.JsonOutputFormatter
Media Type
text/json

[2018-05-01 13:00] obayit commented on #7525
I think @rynowak  solved the issue in this commit fc3a815e57376aefa91adf219d64fbc6538821b3

[2018-05-01 13:32] pranavkm commented on #7525
Dup of https://github.com/aspnet/Mvc/issues/7452. Closing this since the other issue is already being tracked for 2.2.0.

[2018-05-01 13:32] #7525 closed

[2018-05-01 14:10] pranavkm commented on #7688
@kichalla do we still need to do this?

[2018-05-01 14:18] d0apga commented on #7710
Hi, [aspnet/home](https://github.com/aspnet/Home#aspnet-core) says aspnet@preview 's version: 2.1.0-rc1-30682, but where to download from?

[2018-05-01 17:04] pranavkm commented on #6796
The underlying issue seems to be https://github.com/aspnet/Mvc/issues/6928. Resolving the value for each of `@Html.DisplayFor(modelItem => item.TestNullable.Name)` results in a null ref (`TestNullable` is intended to be always null) and consequently, Mvc is try-catching 500 null refs (the sample is looping over a set of 500 items) which adds up. Using a bespoke `@item.TestNullable?.Name` doesn't h

[2018-05-01 17:50] rynowak commented on #6796
I thought the decision before was to try and fix the common cases of #6928 even though we'd never be able to solve all of them.

[2018-05-01 17:54] taori opened #7724 "Please add implicit conversions to ObjectResult + other implementations of Actionresult prior to shipping AspNetCore 2.1"
![grafik](https://user-images.githubusercontent.com/5545184/39485318-b27334dc-4d78-11e8-81f9-66607f7cb986.png)

As you can see in the picture i am unable to do ternary syntax on my condition because there is no implicit conversion between ObjectResult and BadRequestResult (according to the diagnostic).

Is my desired syntax that odd? It would be cool if the if + else was not necessary. Not sure wh

[2018-05-01 17:59] JunTaoLuo commented on #7710
@d0apga take a look at the download page: https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1.

[2018-05-01 18:07] pranavkm commented on #6796
@mkArtakMSFT  here's my suggestion for the issue:

*  Revive #6298 for 2.2.0
* consider taking PR https://github.com/aspnet/Mvc/pull/7181 as is (assuming there's enough test coverage). There's also https://github.com/aspnet/Mvc/pull/7395 that we could consider in addition that touches some of these common areas.
* File a separate issue to track additional scenarios listed in https://github.com/asp

[2018-05-01 18:55] pranavkm commented on #7028
I tried this on Ubuntu 16.04 back in December, but I couldn't reproduce the issue. At least it didn't seem like the issue was inherent to the way xplat does file system watching.

* @stephentoub would you know if there's a hard limit on the number of files that can be present in a directory on Centos \ ArchLinux for the FileSystemWatcher stops producing change events?
* More generally, only relyin

[2018-05-01 18:59] rynowak commented on #7028
This a million times.

If you're in a dev environment, it's ok if the filewatcher approach works 99.9% of the time.

If you're using this production then you will have problems, and I don't think we should spend time trying to make it foolproof.

[2018-05-01 19:31] mkArtakMSFT commented on #7688
@kichalla, I'm waiting for a PR for this to go out, so I can request an approval.

[2018-05-01 19:33] kichalla commented on #7688
Actually there's no action item here as it's already fixed. However, I had earlier sent a PR which adds some tests. https://github.com/aspnet/Mvc/pull/7717

[2018-05-01 19:39] mkArtakMSFT commented on #7688
Excellent. As these are only test changes, go ahead with merging the PR.

[2018-05-01 19:49] gilm0079 commented on #2910
I'm just catching up on this long thread. I think I'm with the majority on this one as well.  The component architecture should basically be a self-contained app for separation of concerns. HTML, MVC markup, JS and CSS all contained within the component definition.

I'm not so much worried about duplication of scripts or styles. That can be handled by a good layout of your application and/or using

[2018-05-01 20:00] gilm0079 commented on #2910
@grahamehorner Did you find a solution for this?

[2018-05-01 20:13] dougbu commented on #6796
@pranavkm when we decided not to take #7181, it led to large numbers of test failures. IOW it wasn't ready. The following comment in https://github.com/aspnet/Mvc/pull/7181#issuecomment-362754479 also means #7181 _undoes_ an existing optimization.

#7395 appears to have significant correctness issues. It assumes the only property on a view is `Model`.

And, no, we don't have enough test coverage o

[2018-05-01 20:33] #7709 closed

[2018-05-01 21:06] kichalla commented on #7688
https://github.com/aspnet/Mvc/commit/cb97a93fff5f70b9c919de0855158ae16dbfc400

[2018-05-01 21:06] #7688 closed

[2018-05-01 21:27] zijianhuang commented on #4311
It is disappointing that davidfowl has such idea. I suppose HttpResponseException has given high level abstraction for application programming, to make Web API look like an API, and wrap the technical details of IActionResult into an exception. Removing this exception from the framework is really counter productive against application programming.

[2018-05-01 21:28] zijianhuang commented on #4311
I hope this case could be reopened.

[2018-05-01 21:44] zijianhuang commented on #4311
KeithHenry had made a good post at http://stackoverflow.com/questions/41464540/returning-a-404-from-an-explicitly-typed-asp-net-core-api-controller
I guess I may be using it as workaround. Really this solution based on .net core 2.1 still breaks the abstraction of explicit/strongly typed Web API.

I see there may be trade-off between abstraction and runtime performance. However, can .NET core comp

[2018-05-01 22:59] pranavkm commented on #7028
This would play well with https://github.com/aspnet/Mvc/issues/6643 feature. Have it be off for users that don't care about reloading views in production, but have a setting that turns it on.

[2018-05-02 16:37] aguerot commented on #7302
Sorry for the delay to get back to you, I understand your two workarounds I had to settle for the second one on my app but this is quite tedious to maintain. I am not fond either of relying on ResourceType.

[2018-05-02 20:52] kichalla commented on #7696
Closing this issue in favor of https://github.com/aspnet/Home/issues/3110

[2018-05-02 20:52] #7696 closed

[2018-05-02 21:13] mkArtakMSFT commented on #7724
Thanks for contacting us regarding this, @taori. However, this is not an MVC issue, rather a language issue. So we're closing this as external.

[2018-05-02 21:13] #7724 closed

[2018-05-02 21:17] mkArtakMSFT commented on #7722
This doesn't seem to be something we'd do, as it'll require buffering, which is not worth only for logging. Also, this seems to be a test-only scenario request.

[2018-05-02 21:17] #7722 closed

[2018-05-02 21:20] mkArtakMSFT commented on #7720
Thanks for contacting us, @enemyofthedawn.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-05-02 21:25] mkArtakMSFT commented on #7718
Hi @dazinator.
You can write an `IActionContextAccessor` which no-ops, and register that as a singleton, which will allow you to work around the problem you're facing.

[2018-05-02 21:25] #7718 closed

[2018-05-02 21:26] GVG opened #7726 "return BadRequest() doesn't short-circuit middleware flow"
I have 2 similar web projects with common code base and I have an issue with _return BadRequest()_ when returning it without any data as _BadRequestResult_.

First project's _Configure_ method in _Startup_ ends with following code:
`app.Run(async (context) => // Handle everything else
{
	context.Response.ContentType = "text/html";
	await context.Response.SendFileAsync(Path.Combine(env.WebRootPath,

[2018-05-02 21:27] mkArtakMSFT commented on #7708
Thanks for contacting us, @Tarig0. We're closing this issue in favor to the issue @NTaylorMullen  has pointed out to.

[2018-05-02 21:27] #7708 closed

[2018-05-02 21:28] mkArtakMSFT commented on #7705
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-02 21:28] #7705 closed

[2018-05-02 21:29] mkArtakMSFT commented on #7703
@NTaylorMullen, is there anything else you need to add here, or should this be closed already? Thanks!

[2018-05-02 21:33] mkArtakMSFT commented on #7021
Moving this into the Backlog. While we can add counters, there will be no way currently to expose those.

[2018-05-02 21:34] mkArtakMSFT commented on #7018
Moving this to the Backlog as this is not a priority at the moment.

[2018-05-02 21:35] mkArtakMSFT commented on #6992
Closing this as there was no any additional feedback in this area. Assuming that this was either a user problem, or indeed a dup of the referenced issue.

[2018-05-02 21:35] #6992 closed

[2018-05-02 21:37] mkArtakMSFT commented on #6991
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design. Glad that you've found a workaround.

[2018-05-02 21:37] #6991 closed

[2018-05-02 21:42] mkArtakMSFT commented on #6986
Hi @Rabadash8820.
While the proposal you have is valid, this is not something we've heard requests about hence we're closing this request for now. If the community interest in this request grows, we'll reconsider our position.

[2018-05-02 21:42] #6986 closed

[2018-05-02 21:43] taori commented on #7724
@mkArtakMSFT As i was typing an issue for dotnet/roslyn i realized that they probably cannot fix it either? If there were a Microsoft.AspNetCore.Mvc.Core.IActionResult<T> interface (instead of just https://github.com/aspnet/Mvc/blob/1aeaf69f87cbf91f4f56183eb1254f69a50b406a/src/Microsoft.AspNetCore.Mvc.Core/ActionResultOfT.cs as a sealed class) roslyn would support this use case if ObjectResult imp

[2018-05-02 21:46] mkArtakMSFT commented on #6890
Hi @Tadimsky.
If you explicitly specify the version in the route values, where you're generating the URL, does that help?

[2018-05-02 21:46] mkArtakMSFT commented on #6890
/cc @rynowak

[2018-05-02 21:49] mkArtakMSFT commented on #6867
Ping @sebastienros

[2018-05-02 21:58] mkArtakMSFT commented on #6668
Closing this as there doesn't seem like any customer-feedback regarding this bug.

[2018-05-02 21:58] #6668 closed

[2018-05-02 22:01] mkArtakMSFT commented on #6291
Closing this as there wasn't much feedback regarding this as well as this is not a priority at the moment. /cc @DamianEdwards

[2018-05-02 22:01] #6291 closed

[2018-05-02 22:02] mkArtakMSFT commented on #6286
@dougbu, can you please look into this, thanks!

[2018-05-02 22:03] mkArtakMSFT commented on #6278
Yes, there is a server component installer which is required for this.

[2018-05-02 22:03] #6278 closed

[2018-05-02 22:04] mkArtakMSFT commented on #6264
@DamianEdwards, do you think we need to take any action here? If not, just close please.

[2018-05-02 22:06] mkArtakMSFT commented on #6226
Hi. We're closing this issue as there has been no activity on this issue for a while.

[2018-05-02 22:06] #6226 closed

[2018-05-02 22:07] mkArtakMSFT commented on #6193
Hi @ankgupta067. Sorry for our late response. We have no plans to do this in the near future.

[2018-05-02 22:07] #6193 closed

[2018-05-02 22:07] mkArtakMSFT commented on #6187
Hi. We're closing this issue as there has been no activity on this issue for a while.

[2018-05-02 22:07] #6187 closed

[2018-05-02 22:08] mkArtakMSFT commented on #6182
Moving this to Backlog as this is not a priority at the moment. /cc @DamianEdwards

[2018-05-02 22:11] sebastienros commented on #6867
Summary:
1- `GetTreeRouter` is relatively slow. Are there way to optimize it? Maybe it's unnecessary baed on Dispatching work going on, or at least measure it.
2- `GetTreeRouter` is called more than once if many requests are sent during its initialization. Could this be fixed simply with a `SemaphoreSlim`?
3- Eventually provide a way to initialize `GetTreeRouter` without requiring the first reques

[2018-05-02 22:18] khellang commented on #7726
I guess `BadRequest("text")` ends up writing to the body, which forces the headers to be flushed. After that, it's too late for the redirect to do anything useful so it just fails silently.

[2018-05-02 22:31] kichalla commented on #7726
@GVG Even in case of the second project, I would not expect the last middleware to be executed if you are a BadRequest (with or without a text)

Do you have a repro project? (Have you looked at the issue template before creating this issue?)

[2018-05-02 22:38] GVG commented on #7726
Yes, it's kind of expected behavior. But why last middleware is executed only in second project after BadRequesting without text? First one doesn't execute it in this case.

I don't have repro project right now. Thought it's something obvious. I can try to reproduce it if needed.