[2018-01-16 18:53] mkArtakMSFT commented on #7243
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalistic repro project that illustrates the problem?

[2018-01-16 19:00] mkArtakMSFT commented on #7242
Hi @ErcinDedeoglu. Can you follow the steps described in this article and see whether it helps: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service
Thanks!

[2018-01-16 19:06] pranavkm commented on #7244
Is there another itemgroup you could use to get to resolved path `_ResolvedProjectReferencePaths` is a private property of the SDK, so we couldn't reliably use it in our code. Apart from that, the idea certainly sounds pretty cool

[2018-01-16 19:56] pranavkm opened #7246 "Add overloads to PageConventions to support areas"
`[Page|Folder]RouteModelConvention` and `[Page|Folder]ApplicationModelConvention` work by matching `ViewEnginePath` with no support for additional filtering. To make these conventions work for areas, we need to accept an additional parameter the "area" that filters models that belong the specified area.

Here's the additional set of public API we would need:

* AddAreaPageRoute
* AllowAnonymousToA

[2018-01-16 19:56] pranavkm commented on #7246
cc @danroth27

[2018-01-16 20:23] rynowak commented on #7246
Sorry, can you provide a description and example of the concrete problem that needs to be solved?

[2018-01-16 21:21] pranavkm commented on #7246
Consider this application:

[code]

The ViewEnginePath for Profile.cshtml is `/Profile` with a RVD `{ Area = Identity }`. There is no way to specifically add conventions for the area today. You could do `AuthorizeFolder("/")` but that would be incorrect.
I'll leave the rest as an exercise to the reader.

[2018-01-16 21:22] HaoK commented on #6617
See https://github.com/aspnet/AuthSamples/tree/dev/samples/VirtualSchemes.PathSchemeSelection which will be the new sample for how to pick auth scheme based on a per request basis

[2018-01-16 21:22] #6617 closed

[2018-01-16 21:34] rynowak commented on #7246
This doesn't seem right. Isn't the path `/Areas/Identity/Pages/Profile.cshtml`? How do we distinguish `/Pages/Profile.cshtml` and `/Areas/Identity/Pages/Profile.cshtml

[2018-01-16 21:37] pranavkm commented on #7246
Here's what the descriptors for the two look like:

[code]

We match based on VEP in the conventions - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/ApplicationModels/PageConventionCollection.cs#L242-L244 hence the ambiguity.

[2018-01-16 21:42] rynowak commented on #7246
This sounds to me like ViewEnginePath is broken when areas are involved, and thus can't be used for **anything**. We now need to take a look at anywhere we use view engine path.

The conventions should use `RelativePath` - in the case of non-areas we should prepend the root before processing. In the case of areas we should prepend the area path.

Can you share the signatures of the APIs you're try

[2018-01-16 21:50] pranavkm commented on #7246
### User facing

[code]

### Infrastructral
[code]

[2018-01-16 21:51] rynowak commented on #7246
looks good

[2018-01-16 22:20] Eonasdan commented on #7243
here you go. I shrank it down as best I could. It works on IISExpress but not when I deploy it to my IIS on Win 10. I didn't bother trying to deploy it to my server since if it won't work locally where I have all the dev stuff install it definitely won't work on my old Server '12

https://github.com/Eonasdan/test.core.project

[2018-01-17 00:37] pranavkm commented on #7246
FYI @mkArtakMSFT  self assigning this for preview1.

[2018-01-17 05:37] ErcinDedeoglu commented on #7242
Hi @mkArtakMSFT, did you check my url which i mentioned in my post? It is same with yours. It's old and outdated.

[2018-01-17 06:41] mkArtakMSFT commented on #7242
@ErcinDedeoglu, I misunderstood you. Can you please provide a minimalistic repro project, so we can investigate? Thanks!

[2018-01-17 08:59] marcusien opened #7250 ""Catastrophic failure" during the startup on IIS when ApplicationInitialization module is installed and use impersonation"
Hi,

We're facing a highly blocking issue.
Our case is
Application :
- netcore application targetting the full framework 4.6.1 and using 2.0 packages
- use Impersonation via an ImpersonateMiddleware

IIS Machine :
- dotnet 2.0.5 x64 runtime
- IIS 8.5
- **Application initialization module installed**
- Application pool has preloadEnabled=true and StartMode=AlwaysRunning

When I run the website from

[2018-01-17 10:11] ans-ashkan opened #7251 "ModelBindingContext.HttpContext.Request.Body already consumed!"
Request.Body is already consumed in CustomModelBinder or in an Action that contains some parameters.

[code]
Value of ms.Length always equals to 0.

the action with parameters code:
[code]
Also this always returns 0. but if you drop the paramter `string data`, it returns the actual body length.

by using the following middleware, it works. but I consider this a workaround.
[code]

Shouldn't this h

[2018-01-17 10:58] davidfowl commented on #7250
Shouldn't that impersonate call be inside of a using?

[2018-01-17 10:59] davidfowl commented on #7251
Why should it happen in MVC? By default the http request body isn't rewindable.

[2018-01-17 11:10] ans-ashkan commented on #7251
Because it's being used by mvc (not me) and I can't care to add a middleware for it?
If the body is available in the action or more important ModelBinder, I consider it to be usable (as it was in non-core asp.net mvc)

[2018-01-17 11:19] davidfowl commented on #7251
@ans-ashkan that means buffering the request body by default, which has performance implications. I think it should be opt-in (if we do it at all). You can easily write a filter to allow this for your specific action. It's rare that you read the body twice during a request.

[2018-01-17 11:20] marcusien commented on #7250
Yes, forgot to add it in my sample project, but it has no incidence with the original issue. The problem is still there

[2018-01-17 12:06] Franklin89 commented on #7130
@mkArtakMSFT I create a simple project to reproduce this issue. Have a look [here](https://github.com/Franklin89/TempData-Repro)

If you navigate to the page the first time it doesn't show up. Refresh the page and one of the messages gets displayed. If you hit F5 a couple times it sometimes disappears. Hope this helps.

[2018-01-17 12:21] ans-ashkan commented on #7251
@davidfowl I agree, performance matters. the option to enable buffered request body can be useful though.
Another question, when/where that read happens (in MVC).
Would you please show me the code for the filter you mentioned?

[2018-01-17 17:54] mkArtakMSFT commented on #7251
Hi @ans-ashkan. What you're looking for can be achieved using Resource Filters, as they execute before Model Binding consumes the request body. You can get more details about Resource Filters at: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters.

As for baking this functionality into ASP.NET Core, we don't want to do that as we haven't heard much need of it, given the easy filt

[2018-01-17 17:54] #7251 closed

[2018-01-17 17:55] mkArtakMSFT commented on #7130
Thanks for providing a repro project. One of our team members will look into it and get back to you.

[2018-01-17 17:56] mkArtakMSFT commented on #7130
@kichalla, can you please investigate this? Thanks!

[2018-01-17 18:01] mkArtakMSFT commented on #7250
@Tratcher, @shirhatti do you have any idea where this bug should go to?

[2018-01-17 18:06] mkArtakMSFT commented on #7243
Thanks for providing the repro project. One of our team members will look into it and get back to you.

[2018-01-17 18:06] mkArtakMSFT commented on #7243
@pranavkm, can you please investigate this?

[2018-01-17 18:12] mkArtakMSFT commented on #7187
@mhamri, can you please provide us with a minimalistic repro project so we can investigate this?

[2018-01-17 18:36] Tratcher commented on #7250
That impersonation middleware does not work, there is no async impersonation support. Impersonation must be done synchronously at the needed call site. Where did you get that sample? All known samples of that faulty code have been redacted, please take it down. See https://github.com/dotnet/corefx/issues/9996#issuecomment-307870746, https://github.com/dotnet/corefx/issues/24977

Please update your

[2018-01-17 18:44] pranavkm commented on #7130
@rynowak we serialize the property in a result filter \ when the response is written. Plus the key is specifically mangled with the prefix to avoid collisions with user generated keys. Why do you expect the initial scenario to work?

[2018-01-17 18:58] Tratcher commented on #7250
Sorry, that was a bit rash. The .NET Core version of that middleware doesn't work because they don't have the Impersonate method, they have RunImpersonated. On .NET 4.6.1 it might work but we haven't done any testing with that pattern.

If you drop the impersonation and give the default app pool identity full read & execute access to the application dir does it work?

[2018-01-17 19:14] kichalla commented on #7130
I think this is working as expected by its design, however the user experience might not be clear. As @pranavkm suggested, we [prefix ](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/SaveTempDataPropertyFilterBase.cs#L13)the temp data properties with `TempDataProperty-`. Seems like in our functional tests with views, we funneled the value of tempdata prop

[2018-01-17 19:24] pranavkm commented on #7130
There's a couple of issues around making some of these collection backed properties more prevalent (e.g. https://github.com/aspnet/Mvc/issues/6525). Perhaps the fix would be to make `TempData` also work in views when we do the work. For the time being, using `ViewData` would be the best way to go.

[2018-01-17 19:28] kichalla commented on #7130
Ah I see 👍

[2018-01-17 19:49] NTaylorMullen commented on #7245
Yup, this behavior is expected. You should not be asking the disk for escaped paths since the idea of escaping paths doesn't translate well to the file system.

I'd recommend creating a TagHelper that runs on any tags you're concerned with **after** the `ImageTagHelper`/`UrlResolutionTagHelper`. That way you can escape any necessary paths prior to your page being sent over the wire.

[2018-01-17 19:49] #7245 closed

[2018-01-17 20:24] marcusien commented on #7250
With dropping the impersonation it works yeah. That's the problem but we need to use impersonation.

And I did not understood why you were saying that we can't use async on the Middleware.

[2018-01-17 20:27] Tratcher commented on #7250
What do you need the impersonation for?

It looks like all impersonated users would require full read access to the application directory to compile views.

[2018-01-17 20:54] marcusien commented on #7250
We need impersonation cause we're using kerberos for authentication and we need the user credentials for accessing the database with "integrated security"

I don't know if there is a solution to send a request for warming up the pool before impersonation, waiting for the response and then continue the original request with impersonation ?

[2018-01-17 21:35] Franklin89 commented on #7130
@kichalla I agree with the `TempDataPropery-` being by design as you showed with the source link. But the Issue also is that sometimes the message just doesn't show at all. For me on every first call the alert message in my example provided is not visible. Do you see that behavior as well? After hitting F5 it shows up again and then after a couple more refreshs it disappears again.

[2018-01-17 21:55] pranavkm commented on #7130
@Franklin89 the value of the property `StatusMessage` property is only written to `TempData` after the view is rendered (i.e. when Mvc's stack is unwinding. This explains why on the first run there's nothing available. If you were to set the property's value to a value that increments on every request, you'll notice that the view always has the stale value from a previous request. It's a limitatio

[2018-01-17 22:03] Tratcher commented on #7250
Well, you have a couple of choices:
A) Change your credential pattern for DB access. E.g. use a dedicated account rather than the end-users credentials.
B) Move the impersonation to only encompass the DB calls.
C) Give all of the impersonated users read access to the application directory.
D) Get the views compiled and loaded outside of the impersonation context. @rynowak is this the pre-compiled

[2018-01-17 22:24] mkArtakMSFT commented on #6862
@ag-petrov, did the solution provided resolve your issue?

[2018-01-17 22:31] marcusien commented on #7250
Well I'll tried to check some of the provided option but until the setup of "application initialization" on IIS everything worked fine no matter impersonation is called and without forcing read access for all users or stuff like that.
I think there's some digging to make anyway

[2018-01-17 22:33] Tratcher commented on #7250
Application initialization works by making a fake request, correct? What's the user on that request? Anonymous? Is it possible you're impersonating an anonymous user? Do you need to check the user type before impersonating them?

[2018-01-17 22:33] mkArtakMSFT commented on #6944
Pushing the near-term fix out by a release. For the long term fix we'll discuss separately later.

[2018-01-17 22:41] mkArtakMSFT commented on #7239
Leaving this to preview2, as we want to have proper design around this.

[2018-01-17 22:44] mkArtakMSFT commented on #7214
@jernejk, have you got a chance to prepare a sample repro project so we can investigate it?

[2018-01-17 22:46] mkArtakMSFT commented on #7210
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-17 22:46] #7210 closed

[2018-01-17 22:51] marcusien commented on #7250
There's no (or not so much?) documentation about the behavior of application initialization of IIS and dot net core.
I need to make sure of it but even if we disable the preloadEnabled (which is in charge to run the fake request), we have this exception (catastrophic failure).

Is there any way to identify this fake request inside the startup or middleware ?
Impersonating an anonymous user, don't

[2018-01-18 01:16] NTaylorMullen commented on #6703
So this issue is due to the `UrlResolutionTagHelper` running prior to every other TagHelper in the system and then expecting specific URLs to exist on `TagHelperOutput`.

So in the case described in this issue we have a user written `ScriptTagHelper` that binds `Src`. This binding process removes the `src` attribute from `TagHelperOutput` prior to ANY TagHelper running. Therefore, when the `UrlRes

[2018-01-18 01:16] #6703 closed

[2018-01-18 01:49] javiercn commented on #7239
@mkArtakMSFT I'm confused about this. I thought the plan was to do it.

[2018-01-18 01:53] javiercn commented on #7239
We are tagging the main assembly that contains the views with an additional metadata attribute (manually for preview1) that specifies additional dependencies (for example precompilation assemblies)

Our default assembly part discovery provider takes this metadata into account when building the initial list of application parts and any assembly that was referenced as an additional reference gets ad

[2018-01-18 02:12] rynowak commented on #7239
We're tracking this item for preview 2 to complete the full end to end. It should be possible to configure this in MSBuild when creating a library. There were a few other polish things we thought of.

[2018-01-18 06:13] Franklin89 commented on #7130
@pranavkm oh I see. Thanks for clearification!

[2018-01-18 06:33] nefcanto opened #7256 "Have consistent casing for JSON properties in dynamic returns"
Create a simple project, as simple as the default template provided in Visual Studio.

Now create a simple Human class:

[code]

Now have two services, one returning an instance of a human class, and one returning a dynamic result, that has a property which is an instance of a Human class:

[code]

and

[code]

And this is the result JSON:

[code]

and

[code]

As you can see when a dynamic model

[2018-01-18 06:40] Eilon commented on #7244
@mkArtakMSFT I'm changing this to an 'enhancement' because this is a feature of our testing helpers for public consumption, not just a fix for our own builds.

[2018-01-18 06:47] Eilon opened #7257 "ASP.NET Core Web API - POST JSON, no Data Passed"
_From @jkergosi on January 17, 2018 23:46_

I have an existing web api call in .NET 4.7, when brought to .NET Core 2, doesn't work. I'd updated my code to be 2.0 compliant, but when I POST, the JObject parameter is not populated.

[code]

[code]

The Create method is called, but the JObject parameter is empty:

![results](https://user-images.githubusercontent.com/1840338/35073359-1ae11024-fbae-11e

[2018-01-18 06:47] Eilon commented on #7257
_From @Tratcher on January 18, 2018 0:29_

Shouldn't [FromForm] be [FromBody]?

[2018-01-18 06:47] Eilon commented on #7257
_From @jkergosi on January 18, 2018 0:54_

Normally, yes, but other posts recommended that it is needed. I've tried [FromBody] before and it unfortunately doesn't work.

[2018-01-18 07:06] davidfowl commented on #7250
@marcusien

This seems like the most reasonable thing to do no? Do you know if that's already the case?

[2018-01-18 07:52] marcusien commented on #7250
@davidfowl  I am not administrator of the domain and when I'm trying to call the website, i get the error. **I have full access (read-write) to the website directory** (It's me who's publishing the website).

When one of my system admin try to connect after resetting the application pool, he can successfully load the website.

To sum up :
In **my case** (I'm developer with full read-write access i

[2018-01-18 08:33] mathysd commented on #5992
Microsoft.AspNetCore.Mvc.Testing should this package be available on nuget or is it part of a other package?

i'm only able to find this one:
https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Testing/

[2018-01-18 10:25] johnkors commented on #5992
Check my comment directly above yours, @mathysd  :) It's in the myget feeds.

[2018-01-18 11:02] marcusien commented on #7250
To answers the different options :
 A) Change your credential pattern for DB access. E.g. use a dedicated account rather than the end-users credentials. _=> No way, we need the user to be identified at the database level_
B) Move the impersonation to only encompass the DB calls. _=> don't have the solution. We are using EF6.1.3 for information with repository pattern_
C) Give all of the impersonat

[2018-01-18 11:43] khellang commented on #7257
There's no model binder for `JObject`, right?

I think you need to either write and add a model binder (provider) for `JObject` or change the signature to `[FromBody] string json` and manually parse it to a `JObject` using `JObject.Parse(json)`.

The question is; should there be a built-in model binder for `JObject`  (and family)?

[2018-01-18 15:06] Tratcher commented on #7257
I did this recently. https://github.com/Tratcher/EDES/blob/a5e783cf4d1689590a07f10c1a48ffc7f0981352/EDES/Controllers/ErrorController.cs#L43

[2018-01-18 15:29] jkergosi commented on #7257
@khellang Thank Kristian, though I'd tried passing a string as well, to no avail, using FromBody as well as FromForm. I know it's probably an easy fix, but I've been banging my head against this one! :)

[2018-01-18 15:29] jkergosi commented on #7257
Thanks everyone for replying.

@Tratcher I'm taking a look at your code now.

[2018-01-18 15:35] pranavkm commented on #7130
Out of curiosity, what's your scenario for using `TempData` to pass things to views? The most common scenario I've encountered it being used is the Post-Redirect-Get ones, so typically nothing reads the value in the context of the current request.

[2018-01-18 16:22] #7246 closed

[2018-01-18 17:54] mkArtakMSFT commented on #7257
Hi @jkergosi. You should definitely use FromBody instead of FromForm in your scenario.
Using JObject, as @Tratcher has already pointed out, should work. It looks like you have some misconfiguration somewhere.

Have you tried to not stringify the data from client before passing to JQuery?
Also, can you share with us the actual request body (Dev tools in browser will be handy here)?

[2018-01-18 18:35] jkergosi commented on #7257
Thanks to you guys, it's working now.

[FromBody] with the JObject did the job. In my attempts at troubleshooting, I accidentally hosed my incoming JSON, so its incorrect format prevented the JObject from being bound, leaving a perfectly good controller in the wind.

Here's the working code:

[code]

[code]

[2018-01-18 21:23] mkArtakMSFT commented on #7051
@pranavkm, yes, let's do it. We've just synced up with @rynowak regarding this too.

[2018-01-18 21:35] mkArtakMSFT commented on #6743
@jkotalik, is this something you plan to get to during preview2?

[2018-01-18 21:53] mkArtakMSFT commented on #5563
@DamianEdwards, @rynowak  - do we still need this, or should we close it?

[2018-01-18 22:14] Franklin89 commented on #7130
@pranavkm Well I saw the TempData attribute in the new project I created for testing something and thought this looks like a nice feature and tried to build a status message / toast message component with that. After it I had the explained issue I search on GitHub and found this issue and thought I will join the conversation ;-)

[2018-01-18 22:44] jkotalik commented on #6743
I already have a prototype of this, I can discuss with @javiercn about a few issues during the preview-2 timeline. This isn't a huge priority and we could potentially punt to 3.0 as it could involve breaking changes.

@Eilon do we still want to push for moving all of the headers parsing code to HttpAbstractions in the 2.1 timeline? If so, I can prioritize finishing this in the following weeks.

[2018-01-18 23:35] kichalla commented on #7130
Closing this as there is no action to be taken here. (As @pranavkm mentioned, we have issue https://github.com/aspnet/Mvc/issues/6525 to improve experience of accessing TempData property in views/pages)

[2018-01-18 23:35] #7130 closed

[2018-01-18 23:51] jbagga opened #7259 "Move the basic functionality of file streaming to a lower level API"
See https://github.com/aspnet/Mvc/issues/7208#issuecomment-356588707

@Tratcher @dustinmoris

[2018-01-18 23:51] jbagga commented on #7208
Moved the discussion about streaming to https://github.com/aspnet/Mvc/issues/7259

[2018-01-18 23:51] #7208 closed

[2018-01-19 00:20] kichalla commented on #5859
@elmar-de-groot FromHeader already has this support.

[2018-01-19 00:53] rynowak commented on #7259
This isn't an MVC issue 😆 - *a lower level* implies non-MVC

[2018-01-19 02:01] jbagga commented on #7259
I'll move it to Home and @Eilon can decide which label. Thanks!

[2018-01-19 02:03] jbagga commented on #7259
This issue was moved to aspnet/Home#2807

[2018-01-19 02:03] #7259 closed

[2018-01-19 03:45] achandlerwhite opened #7260 "InputTagHelper showing route value instead of model value"
Hello, this is real head scratcher.

I am finding that the input tag helper is ignoring model values and instead using route values. It occurs when the route has a parameter with the same name as a model property (case insensitive) and the action method has a parameter that MVC binds to the route parameter.

The model class:
[code]

The route in Startup is defined as:
[code]

The action method:
[c

[2018-01-19 05:08] Eilon commented on #6743
I'm OK moving to 3.0.

[2018-01-19 09:09] sid504 commented on #4676
hai dont worry about that its a simple thing go to the project folder navigate to debug netcoreapp2.0 if you are in dotnet core just delete all the files now open project in visual studio and then try to add ... now it will add as expected

[2018-01-19 13:19] m93a commented on #5539
This is for all the people that get the “could not load assembly” error and no solution works for them – have you installed the `System.Collections.Immutable` NuGet package? I've been Googling for hours only to realize that Intellisense is not clever enough to install a NuGet package, instead it only referenced a “referential” package which contains the API but cannot be used in practise.

Sorry f

[2018-01-19 13:58] achandlerwhite commented on #7260
Also, here is my system info:

[code]

[2018-01-19 15:45] khellang commented on #7256
I think this might be because `ExpandoObject` implements `IDictionary<string, object>` and it's treated as a dictionary.

Newtonsoft.Json won't change dictionary keys by default because that means they won't roundtrip. If you want to enable camelCasing for dictionary keys, you can change it:

[code]

[2018-01-19 15:52] iscifoni commented on #7260
Can you share a project who reproduce the problem, I have tryed but it works correctly

[2018-01-19 18:45] achandlerwhite commented on #7260
Sure, I made a sample project here: [https://github.com/achandlerwhite/tag-helper-bug](https://github.com/achandlerwhite/tag-helper-bug)

Thanks for taking a look. Running the project as is and clicking the link on the Index page will show the results.

[2018-01-19 19:54] wpitallo commented on #4703
@Eilon can we re-open this?

[2018-01-19 20:43] dzoech opened #7261 "Unable to serve static index.html"
When creating a new Core Web Application, serving an index.html file as a static file is not working. However, other html files (e.g. test.html) do work.

Version 2.0.5

Repro:

1. Create a new ASP.NET Core WebApplication (with a new solution).
2. Rebuild solution to get rid of NuGet warnings.
3. Add an index.html file in the wwwroot folder.
4. Configure to use static files:
[code]

5. Run (no dif

[2018-01-19 21:03] StefanHaug commented on #4703
@wpitallo I actually got it to work. See https://stackoverflow.com/questions/48214501/model-binder-for-abstract-class-in-asp-net-core-mvc-2

[2018-01-19 21:10] danroth27 commented on #6828
I think we need to do something here for 2.1. Using `StatusCode=0` adds a bunch of noise to the Swagger document that isn't standard.

[2018-01-19 21:16] rynowak commented on #6828
@pranavkm - my thought about this is that we should undo a few things we did in 2.1 to make the edges less ragged?

Ideas I had:
- keep problemdetails (the class)
- keep the new problemdetails overloads on controller
- Make the 'error filter' use the old style of bad request
- Get rid of the automatic 'default' response we add to api explorer.

Thoughts?

[2018-01-19 21:38] pranavkm commented on #6828
3. I think this makes sense. We don't have the E2E behavior baked as yet and there's a way for users to upgrade to the ProblemDetails response using https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ApiBehaviorOptions.cs#L25.

4. Would we bring this back if we do get the story around `Default` response sorted? Having the filter, but not the default error response seems like

[2018-01-19 21:39] rynowak commented on #6828
Maybe.

[2018-01-19 21:40] rynowak commented on #6828
All of this still stuff we want to do as soon as possible. I'm talking about preview1 in particular

[2018-01-19 21:40] pranavkm commented on #6828
Coolio. I'll get on this once I'm done fixing Razor

[2018-01-19 21:42] pranavkm opened #7262 "Smooth some rough edges in KodKod implementation"
See discussion here - https://github.com/aspnet/Mvc/issues/6828#issuecomment-359091079

We did not get enough time to complete the polish for the new ApiController + Swagger pieces. For preview1, we;ll dial some of these features down until we can get back to fixing them:

1. Make the 'error filter' use the old style of bad request
2. Get rid of the automatic 'default' response we add to api explo

[2018-01-19 21:42] pranavkm commented on #7262
cc @rynowak \ @danroth27

[2018-01-19 21:58] rynowak commented on #7262
We didn't implement that.

[2018-01-19 22:02] pranavkm commented on #7262
Sorry, I meant to say don't return ProblemDetails as the response format type for 4xx responses in ApiExplorer.

[2018-01-19 22:13] danroth27 opened #7263 "Spelling error in problem details title for invalid request"
occured -> occurred

[code]

[2018-01-19 23:58] Eilon commented on #4703
Please log a new issue with a detailed scenario if you would like us to consider a change. I think that the key issues described in this particular issue have been resolved, so let's use a new issue to discuss anything additional.

[2018-01-20 10:53] murat0058 opened #7265 "CORS not working at all on ASP.NET Core 2.0 Web API project"
CORS not working at all on ASP.NET Core 2.0 Web API project

[2018-01-20 15:29] ShadowDancer opened #7266 "ViewComponent.InvokeAsync method not discovered correctly after migration to Aspnet 2.0"
[code]

After migration I had to add following code to all ViewComponents:
[code]
I have base:
`public abstract class MyViewComponent<X, Y>` with method:
`public virtual async Task<IViewComponentResult> InvokeAsync([UsedImplicitly] int someId)`

This worked perfectly fine before 2.0.

I've found error message `Could not find an '{0}' or '{1}' method for the view component '{2}'.` in mvc source cod

[2018-01-21 03:12] javiercn commented on #7265
Can you provide an example of what is not working?

[2018-01-21 09:38] AccessViolator opened #7267 "Question: resolving scoped service in singleton"
MVC does something with DI scopes that prevents me from resolving a scoped service inside a singleton service, e.g. if I have services like this
[code]
and resgister IMyScoped as scoped and IMySingleton as singleton, then inject IMySingleton into a controller and call Greet() on it, GetRequiredService() throws Cannot resolve scoped service IMyScoped  from root provider.
If in Startup I save servic

[2018-01-21 13:02] grahamehorner opened #7268 "Add a property to PartialTagHelper that no-ops if the view cannot be found"
Please consider adding an required parameter to the @Html.Partial similar to @RenderSection

[2018-01-21 14:05] MV10 opened #7269 "UrlHelper issues due to mixing Controller Action and Razor Pages"
Aspects of the Razor Pages extensions to `IUrlHelper` have misleading Intellisense descriptions. I read somewhere that most of the docs are auto-generated from code comments, so that's why I'm raising the issue here instead of the docs repo, but the corresponding high-level descriptions in the [documentation]((https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.iurlhelper?view=asp

[2018-01-21 15:25] Eonasdan commented on #7243
any progress on this? It's blocking my deployment :( @pranavkm does it help to say that I like your avatar image? :D

[2018-01-21 15:32] murat0058 commented on #7265
Failed to load http://localhost:47861/api/v1/values/muratdogan: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access.

a small sample Asp.net Core 2.0 WebApi user Can you know how to share sample json data with ajax or jquery in html page?

[2018-01-21 15:53] #7265 closed

[2018-01-21 16:31] javiercn commented on #7239
Reopening this to track the E2E. All work for preview1 is in.

[2018-01-21 17:38] davidfowl commented on #7267
You need to create a scope to resolve your scoped service from. Why is the service scoped? What were you trying to achieve?

[2018-01-21 22:43] grahamehorner opened #7270 "Q: Complex TagHelper"
Q: What is the best way to create complex TagHelpers that operate based on a condition eg.

<li
[asp-area="areaName"]
[asp-controller="controllerName"]
[asp-action="actionName"]
asp-when-[inactive|active]-class-operation=""
asp-when-[inactive|active]-class-search=""
asp-when-[inactive|active]-class-replace="">

can a TagHelper render tag that use other TagHelper? can a TagHelper prevnt the executi

[2018-01-22 03:14] AccessViolator commented on #7267
Basically I have a bunch of services that I'd prefer to keep singleton, but somewhere down the call stack some of them may require current user info, from a service which, apparently, has to be scoped to http context.

[2018-01-22 03:37] javiercn opened #7271 "Support for covariant ViewDataDictionary<TModel>"
I really don't know how to properly name this issue, so I'm going to explain what I'm doing.

I have a razor page
Index.cshtml
[code]

[code]

At runtime I have an IPageApplicationModelConvention that I'm using to substitute the abstract version of the model with the derived version

[code]
With these changes, everything works properly (the right type gets instantiated and assigned for the model,

[2018-01-22 06:51] NTaylorMullen commented on #7270
You should target a tag like normal and no-op if your condition is not met.

You can operate on a tag that another TagHelper has operated on. You do this by targeting the same HTML tag name.

No. The best you can do is undo what they have done by re-constructing the tag to its original state.

-----------------------------------------------------------------------
@grahamehorner I probably didn't

[2018-01-22 07:21] FenrisWolfAtMiddleEarth opened #7272 "Precompile razor views from code"
We are struggling with slow first usage of our razor views. Is there any way to force recompile of razor views from code?
We do not have access to our pipelines, so changing build or deploy is not an option for us.

[2018-01-22 09:02] davidfowl commented on #7267
Then creating a scope definitely _isn't_ what you want. You may want to look at using the `IHttpContextAccessor` or explicitly passing the `HttpContext` to the method directly.

[2018-01-22 09:30] josephearl commented on #6818
Numeric event IDs are somewhat meaningless when looking through logs, this would be a great improvement.

[2018-01-22 11:27] PeterWone opened #7273 "CVE-2018-0784 existing app patch instructions missing step"
There is a step missing from the directions for patching an existing app created from a template containing the CVE-2018-0784 elevation vulnerability.

You must create the file `ManageViewModels/ShowRecoveryCodesViewModel.cs`

It must contain the following.

[code]

You must replace `YourNamespace` with the namespace your app uses.

Strictly speaking you don't need any of the using statements but

[2018-01-22 12:50] AccessViolator commented on #7267
Ok, registering  IHttpContextAccessor like so
[code]
and changing implementation of singleton service to
[code]
seems to do the trick.

[2018-01-22 12:50] #7267 closed

[2018-01-22 15:17] bencyoung commented on #7058
I'm also seeing this and it's causing lots of issues. For instance my app.config file contains an assembly redirect:

[code]

Which I think is the .NET 4.7.1 version. However if I package up the exe as a NuGet package it doesn't get a dependency on this version, it gets one on 4.1.1.0 and so extracting all the dlls from the dependencies puts a dll with the wrong version into the folder and I get:

[2018-01-22 15:18] bencyoung commented on #7058
In fact the assembly redirects section is massive, which makes things pretty tricky to manage...

[2018-01-22 15:39] ag-petrov commented on #6862
I see that **ValidationHtmlAttributeProvider** targets **ASP.NET Core 1.1** and **2.0**. However my project uses ASP.NET Core 1.0 and I can not update. Are there any other alternatives?

[2018-01-22 18:02] mkArtakMSFT commented on #7272
@rynowak, any suggestions here?

[2018-01-22 18:20] rynowak commented on #7272
@FenrisWolfAtMiddleEarth could you please clarify the following points?

What does this mean? Are you saying that the first request is too slow? How slow? How did you measure this, and how did you arrive at the conclusion that view compilation is the problem?

I assume by this that you mean that you want to re-trigger compilation of an already-compiled Razor view from code. If you mean something e

[2018-01-22 18:24] Tarig0 opened #7274 "By Design? DisplayFor(m=>ienum) MetaData will resolve to base type instead of actual but will resolve to actual if generating item templates"
I have the following interface and classes

[code]

and a view with
[code]

I won't be able to create a template for IEnumerable[String] but I am able to create a template for String.

If I change the Displayfor to
[code]

It will then resolve to the actual IEnumerable[String] type.

[2018-01-22 20:02] FenrisWolfAtMiddleEarth commented on #7272
Thanks for your input. I will try to elaborate

- Yes the first request is too slow. I would say 5-7 seconds measured with the naked eye. After reading of similar experiences from other users, my best guess is due to compilation of the view. Any requests after the first are lightning fast.

- As I understand it will not be a re-compilation but a first compilation, as it is also stated in the first

[2018-01-23 04:35] rynowak opened #7277 "Error message for [ApiController] without attribute route needs to be better"
The error message is like this: ` Action methods on controllers annotated with ApiControllerAttribute must have an attribute route.`

Notice what's missing? It doesn't include any information about what method is causing the problem 😆

[code]

[2018-01-23 04:35] rynowak commented on #7277
/cc @pranavkm

[2018-01-23 06:23] mkArtakMSFT commented on #7040
Here is the PR fixing the issue: https://github.com/aspnet/Antiforgery/pull/179

[2018-01-23 06:24] #7040 closed

[2018-01-23 11:56] snebjorn opened #7278 "Support multiple [FromRoute], [FromHeader], [FromBody], etc in a single object"
I'm trying to create an object with all the relevant data from a request bound.

Imagine an action like this
[code]
And the model could be like this
[code]
Unfortunately multiple `[FromBody]` isn't allowed.

If it was allowed and worked as expected I could implement a generic CRUD controller like so
[code]
Obviously it wouldn't look exactly like that.
The idea is to remove all logic from the contr

[2018-01-23 14:15] grahamehorner opened #7279 "base ViewController with ViewData losing values"
I have a base ViewController 'MyBaseViewController' which inherits from Controller, 'MyBaseViewController' has a number of private const string which get placed into ViewData[".."], MyViewController inherits from MyBaseViewController and also adds items into the ViewData  however when a View attempts to access the ViewData and values populated by the controller and the base controller the ViewData

[2018-01-23 14:55] mnmr commented on #5164
I think it's insane that UrlHelper depends on so much request-infrastructure: it is just bad design. For instance, to use UrlHelper from a SignalR Hub (which has access to none of this stuff), you need to manually hack stuff together ([as done here](https://stackoverflow.com/questions/46096068/asp-net-core-2-0-creating-urlhelper-without-request).

But clearly, since it possible to have a working U

[2018-01-23 14:59] mnmr opened #7280 "UrlHelper should not depend on ActionContext"
I think it's insane that UrlHelper depends on so much request-infrastructure: it is just bad design. For instance, to use UrlHelper from a SignalR Hub (which has access to none of this stuff), you need to manually hack stuff together ([as done here](https://stackoverflow.com/questions/46096068/asp-net-core-2-0-creating-urlhelper-without-request)).

But clearly, since it possible to have a working

[2018-01-23 16:40] cocowalla opened #7281 "Selected values not being passed into DefaultHtmlGenerator.GenerateGroupsAndOptions"
`DefaultHtmlGenerator.GenerateSelect` calls `GenerateGroupsAndOptions` to build the child `option` elements, passing in the list of selected values (`currentValues`) so they can have the `selected` attribute added to them if needed.

However, when generating the options, `GenerateGroupsAndOptions` ignores the selected values that are passed in.

https://github.com/aspnet/Mvc/blob/ecedbd5372a846005

[2018-01-23 16:50] cocowalla commented on #7281
Gah, never mind, that's just for the option label

[2018-01-23 16:50] #7281 closed

[2018-01-23 17:15] Tarig0 opened #7283 "Inconsistent behavior between Html Helper and Razor Attribute resolution"
Inconsistent behavior between Html Helper and Razor

[code]

Produces

[code]

I would expects these to be the same

[2018-01-23 17:28] mkArtakMSFT commented on #7283
@NTaylorMullen any thoughts around this?

[2018-01-23 17:29] mkArtakMSFT commented on #7274
@dougbu, any thoughts?

[2018-01-23 17:40] mkArtakMSFT commented on #7280
Thanks for reporting this issue.   We'll consider your feedback as part of an existing issue we're tracking [here](https://github.com/aspnet/Home/issues/2819).

[2018-01-23 17:40] #7280 closed

[2018-01-23 17:45] mkArtakMSFT commented on #7278
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly.

[2018-01-23 17:50] NTaylorMullen commented on #7283
@Tarig0 we don't special case the disabled attribute in your `HtmlHelper` line, we don't special case any attributes that are passed into HTML helpers really (other than `class`). In your non-HTML helper line there's also no TagHelper applying to do that.

Maybe I'm not understanding the concern.

[2018-01-23 17:50] mkArtakMSFT commented on #7273
@blowdart, assigning to you to address.

[2018-01-23 17:52] mkArtakMSFT commented on #6862
@dougbu, would you have any suggestion for @ag-petrov's situation? Not sure, though, that there will be.

[2018-01-23 17:56] Tarig0 commented on #7283
I guess the issue is that with razor I can do disabled ="@false" and this will omit disabled.
When I switched to the html helper and pass {"disabled": false} this will emit the disabled="false" tag which for chrome, at least, means disable the input.

I found this out when I created my own helper to emit the last index found in the template htmlfieldprefix which I needed to disable for certain sit

[2018-01-23 17:58] dougbu commented on #7274
@Tarig0 what exactly does this mean? Are you saying `DisplayFor(...)` doesn't seem to use a template named `IEnumerable`? `IEnumerable`Object`?

More generally, I'd appreciate more context e.g. the names of the available template files and exactly where they and the view above are located in your application.

[2018-01-23 18:00] Tarig0 commented on #7274
Sorry Had html like tags I have edited the post so you can now see IEnumerable[string]

[2018-01-23 18:00] dougbu commented on #6862
@ag-petrov if you *must* stick with the oldest ASP.NET Core MVC release, I guess your only choices are to use the `.Internal` types directly or to copy the code you need.

[2018-01-23 18:01] mkArtakMSFT commented on #7058
Hi @tarekgh, this doesn't seem like an MVC issue. Should we move it back to corefx repo?

[2018-01-23 18:04] tarekgh commented on #7058
@joperezr can evaluate and confirm that.

CC @AlexGhiondea

[2018-01-23 18:04] dougbu commented on #7274
@Tarig0 please describe your view files more completely as well as the exact behaviour you're seeing.

[2018-01-23 18:11] danroth27 commented on #7279
Thanks for reporting this issue. Could you please provide a simplified project that reproduces this issue so that we can take a look?

[2018-01-23 18:15] joperezr commented on #7058
I agree it doesn't seem like an MVC issue but it is not corefx either. This seems to be a tooling bug so probably the right place to put it would be on the dotnet/sdk repo. That said, do you mind checking if your app's app.config on the bin folder have any binding redirects to System.Runtime? Even after having both dlls referenced I would  have expected a binding redirect to be automatically gener

[2018-01-23 18:23] Tarig0 commented on #7274
The specific case I have is.

**Sample Classes**
[code]
**Display Templates**
DisplayTemplates/SelectedMarkings.cshtml
DisplayTemplates/CircuitInfo.csHTML

**Root Display**
DisplayTemplates/CollectionRule`1.csHTML
[code]

[2018-01-23 18:24] NTaylorMullen commented on #7283
@Tarig0 Ah, I see your concern now; very interesting. As nice as it would be to have a feature turned on like that (for consistency especially) it's not something we could do given the precedent of HTML Helpers. It'd be a massive behavior change for anyone who currently has HTML Helpers basically.

If we were going to pursue a feature like this it'd have to be in a major release candidate. Given t

[2018-01-23 18:32] Tarig0 commented on #7283
Understood, since it is a breaking change. I'll be able to add the handling to my own html extensions.

I guess another option it to swap out the default html generator.

[2018-01-23 19:52] grahamehorner commented on #7279
@danroth27  https://github.com/grahamehorner/AspNetCoreMvcViewDataIssue

[2018-01-23 23:55] #7283 closed

[2018-01-24 00:06] achandlerwhite commented on #7260
@iscifoni Let me know if there is anything further I can do to help report this issue. Thanks.

[2018-01-24 00:40] talanc commented on #7261
Add `app.UseDefaultFiles();` before `app.UseStaticFiles();`

For more information: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?tabs=aspnetcore2x#serve-a-default-document

[2018-01-24 00:59] talanc commented on #7261
Use you also just use `app.UseFileServer();`

For more information: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?tabs=aspnetcore2x#usefileserver

[2018-01-24 01:29] mkArtakMSFT commented on #7040
Here is the PR re-enabling the disabled tests: https://github.com/aspnet/Mvc/pull/7286

[2018-01-24 01:32] #7271 closed

[2018-01-24 02:07] francescocristallo commented on #6799
I have the same problem. Simple model on a cshtml page (without the @page at the top), the text is rendered into an input tag helper but not in the text area.

    <input asp-for="@Model.Content" />
    <textarea rows="3" asp-for="@Model.Content" />

On the same page the input works, the text area not.

[2018-01-24 02:34] ibneadam opened #7287 "Add C# Classes in .Net Core App on the fly"
I really like the great feature of adding inline handler methods in razor pages. Then these pages gets compiled at runtime and we can add pages to a running website on the fly.

As web developers, we might think this is not the best practice to write inline code but from another point of view, this is really an awesome way of adding new plugins and APIs to an existing web app (if the app was desig

[2018-01-24 07:40] bencyoung commented on #7058
So this is a bit of an edge case for us. The app runs fine when built and run because somehow the .NET 4.7.1 System.Runtime gets into the bin folder. However if you download the exe as a nuget package, and extract all its dependencies then the wrong System.Runtime ends up used (an earlier version, so that if you deploy the same app.config it still doesn't work, because it's redirected "past" the v

[2018-01-24 09:35] zakar1ya commented on #5992
To use controllers in a separate assembly, i have to use a package from myget or add application part in startup, did I understand correctly? Is there no other way?

[2018-01-24 10:36] zakar1ya commented on #5992
[https://github.com/aspnet/Hosting/issues/954#issuecomment-287903687](url) work for me

[2018-01-24 11:15] SherifRefaat opened #7289 "ModelState.IsValid is false while there is no error but there are properties with state equal to Unvalidated"
This is my model structure

[code]

Here is my [ModelState object.](https://drive.google.com/file/d/1dXUernP2LhZJk8_sGmGzQ9VicMx88eFp/view?usp=sharing)

I have reviewed this issue: https://github.com/aspnet/Mvc/issues/4978

but I still don't understand what is the source of the issue nor what I am supposed to do.

Thanks.

[2018-01-24 16:55] acinep commented on #6934
I am hitting something similar when trying to self-host ASP.NET Core - with views/controllers in a separate assembly.

Full repro available here https://github.com/acinep/Repro/tree/master/Mvc_6934

[2018-01-24 17:16] joperezr commented on #7058
This is because of our tooling, we automatically inject the right shims that will make your app run succesfully.

How are you packaging it? and which TFM are you targeting with your package? Do you have a pointer to the package somewhere so that I can inspect it?

[2018-01-24 18:04] mkArtakMSFT commented on #7058
Hi @nguerrera. According to @joperezr, this belongs to dotnet/sdk repo. Can you please move it over? //cc: @eerhardt

[2018-01-24 18:10] pranavkm commented on #6934
@acinep your repro works fine for me i.e. I can see it print "Hello from embedded view" I clone and run. Can you try doing a clean build?

[2018-01-24 18:21] mkArtakMSFT commented on #7289
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalistic repro project that illustrates the problem?

[2018-01-24 18:43] danroth27 commented on #7287
Thank you for this suggestion! Instead of dropping code into the running app we would recommend using a module system, like the one Orchard Core provides. Orchard Core modules allow you to build modules as NuGet packages that can be added to your application on the fly. And you can use them as a low level framework without adopting the entire Orchard CMS infrastructure. Check out https://github.co

[2018-01-24 18:43] #7287 closed

[2018-01-24 18:44] mkArtakMSFT commented on #7279
Thanks. One of our team members will look into it and get back to you.

[2018-01-24 18:49] mkArtakMSFT commented on #7261
Hi @dzoech. Do you experience the same error when you try to navigate to index.html explicitly (http://localhost:5000/index.html - or some other port you've configured)?

[2018-01-24 18:51] mkArtakMSFT commented on #7260
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-01-24 18:52] mkArtakMSFT commented on #7260
@pranavkm, can you please look into this one?

[2018-01-24 22:24] mkArtakMSFT opened #7292 "Update docs to clarify differences between Challenge vs Forbid scenarios"
The current documentation doesn't provide details about how exactly the challenge and forbid action results get processed internally and how those are different.
Please run the updated documents with @danroth27.

[2018-01-24 22:28] mkArtakMSFT opened #7293 "Add Forbidden and Unauthorized methods on ControllerBase"
This are new methods which will not run through the Authentication pipeline.
New ones that return StatusCode(403) and StatusCode(401) + The WWW-Authenticate header.

[2018-01-24 22:29] mkArtakMSFT commented on #6418
So seems there are multiple actions to be taken here, so splitting it up now:
1. Update the documentation: https://github.com/aspnet/Mvc/issues/7292
2. Add the new helper methods on ControllerBase: https://github.com/aspnet/Mvc/issues/7293

[2018-01-24 22:34] mkArtakMSFT commented on #6418
Hi @mohd-akram. The following StackOverflow question has an answer providing a short summary about those two concepts: https://stackoverflow.com/questions/42883946/forbidasync-vs-challengeasync-why-and-when-to-use-them

[2018-01-24 22:34] #6418 closed

[2018-01-24 22:36] mguinness commented on #5562
@junkomatic Looks like support for .NET Core 2.0 has just been added to [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/5.2.4-preview1).

[2018-01-24 22:45] #6862 closed

[2018-01-24 22:52] mkArtakMSFT commented on #7272
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.
The right way to publish an app requires you to run `dotnet publish`, which will create a portable bits of your application that can then be deployed. Running `dotnet publish` will automatically compile the views and improve the startup performance.

[2018-01-24 22:52] #7272 closed

[2018-01-24 23:00] mkArtakMSFT commented on #7243
@Eonasdan, can you please confirm, that you have the **ASP.NET Core Windows Server Hosting** bundle installed? If not, that will be the most probable reason for the issue you're facing.
You'll be able to download the bundle from: https://www.microsoft.com/net/download/windows

[2018-01-24 23:04] mkArtakMSFT commented on #7269
Thanks for reporting this issue. We'll consider clarifying the docs in one of the upcoming releases.

[2018-01-24 23:43] pranavkm opened #7295 "PartialTagHelper should not fallback to the current page's model if asp-for expression resolves to null"
Discovered this as part of @HaoK changing Identity UI to use partial tag helper. Consider

[code]

[code]

`PartialTagHelper` evaulates the value of the `asp-for` expression and if null, falls back to the current model, in this case `SomeModel`. This results in a runtime error

[2018-01-24 23:55] Eonasdan commented on #7243
@mkArtakMSFT yes. I have 2.0.5 install. Just to be sure I did redownload and do a repair install and restarted IIS. Same result
![image](https://user-images.githubusercontent.com/1006516/35363468-1db838d8-0138-11e8-8a20-fdf67851a4c4.png)

[2018-01-25 05:32] javiercn opened #7297 "Consider making DeclaredTypeInfo on PageApplicationModel null by default"
We are a bit concerned of this potentially breaking people that customized their model through page application model before 2.1

In my opinion the risk of this actually happening is very low as they would have run into the same types of issues that this new feature addresses.

[2018-01-25 07:50] bencyoung commented on #7058
I'm afraid I can't send you the still we have. I'll see if I can some up with a repo.

To extract dlls we have a custom tool called "Unpackd" that downloads a set of NuGet packages (using the 4.0 API) and then extracts all the dlls from them for a particular target. We use this so our builds can flow through TeamCity artifacts as well as NuGet, and so that we can deploy an application defined by a

[2018-01-25 09:08] iscifoni commented on #7260
@achandlerwhite i'm sorry for the long time waiting

@pranavkm I think to have found where is the problem.
(https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs#L1290) At this line the value is replaced whit ModelStateI tem value if present, but, i think, this is to do only if useViewData is true otherwise not.

Correct ? or this is

[2018-01-25 12:47] grahamehorner opened #7298 "TagHelper Generic type as attribute"
I would like to write a set of tag helpers which accept an instance type of a SignalR hub, and generates/outputs javascript boilerplate code for the use with in the browser.  Is the possible ?

[2018-01-25 12:57] grahamehorner opened #7299 "TagHelpers - Razor & HTML comments"
should TagHelpers allow & ignore html comment within their tags as default ?
regardless of [RestrictChildren] attributes

<mytag attr="...>

 @*comments*@
</mytag>

?

[2018-01-25 15:05] pranavkm commented on #7260
@iscifoni it's intentional. There's some detailed explanation around it here - https://github.com/aspnet/Mvc/issues/1517#issuecomment-62244133 which boils down to - in a round-trip scenario, (e.g. when model validation fails), you want to your form to print the values the user posted and not the initial values from the model.

https://github.com/aspnet/Mvc/issues/1517#issuecomment-62477491 has som

[2018-01-25 16:47] iscifoni commented on #7260
@pranavkm  Ok, remove items from ModelState (ModelState.Remove("Identifier")) could be a good workaround, so when   GetModelStateValue is called it will not found the item and enter in the then case of the if (https://github.com/aspnet/Mvc/blob/381ac2946cc0b4809d38617aa5ab8cae72024ab7/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs#L1290).

Reading always value from

[2018-01-25 16:50] iscifoni commented on #7260
@achandlerwhite

this works

[code]

[2018-01-25 17:21] NTaylorMullen commented on #7299
@grahamehorner to clarify, you're seeing `[RestrictChildren]` barf on `` yes?

[2018-01-25 17:43] maxMint commented on #5341
Very confusing behavior, ModelState does not provide any evidence except saying that model is invalid and no way to differentiate cancelled error vs other errors.

[2018-01-25 18:03] grahamehorner commented on #7299
Yes; that’s correct

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: N. Taylor Mullen<mailto:notifications@github.com>
Sent: 25 January 2018 17:22
To: aspnet/Mvc<mailto:Mvc@noreply.github.com>
Cc: Grahame Horner<mailto:grahame.horner@gabriel-systems.net>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [aspnet/Mvc] TagHelpers - Razor & HTML comments (#7

[2018-01-25 18:37] mkArtakMSFT commented on #7268
Thank you for contacting us.
To evaluate this feature request, we'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve?

[2018-01-25 18:39] mkArtakMSFT commented on #7266
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-01-25 18:39] mkArtakMSFT commented on #7266
@NTaylorMullen, can you please look into this?

[2018-01-25 18:47] mkArtakMSFT commented on #7257
Thanks everyone for your help!

[2018-01-25 18:47] #7257 closed

[2018-01-25 18:53] grahamehorner commented on #7268
@mkArtakMSFT currently the @RenderSection("", required: true/false) is only allowed from a layout, and the section is optional; using an @Html.Partial is allowed from a layout/page/view, however @Html.Partial doesn't allow for the required/optional and therefore requires the partial to be discovered in the view locations.

When constructing generic templates or plugins that may/may not have areas

[2018-01-25 19:00] mkArtakMSFT commented on #7256
Hi @nefcanto. Did @khellang's suggestion work for you?

[2018-01-25 19:04] #7277 closed

[2018-01-25 19:07] mkArtakMSFT commented on #7298
@DamianEdwards, any thoughts about this? /cc @davidfowl

[2018-01-25 19:07] #7295 closed

[2018-01-25 19:09] mkArtakMSFT commented on #7297
Closing as we're not doing this.

[2018-01-25 19:09] #7297 closed

[2018-01-25 19:55] rynowak commented on #7256
We might want to consider changing our default. This continues to surprise users

[2018-01-25 19:57] khellang commented on #7256
About special-casing `dynamic`/`ExpandoObject` or changing the `ProcessDictionaryKeys` default?

[2018-01-25 19:59] NTaylorMullen commented on #7266
Hi @ShadowDancer I've to my best ability tried to reproduce your issue and have not been able to. If you're able to create a repro app I'd love to take a look.

[2018-01-25 20:02] NTaylorMullen commented on #7299
@grahamehorner thanks for the report. This is definitely a bug.

Usage:
![image](https://user-images.githubusercontent.com/2008729/35409579-802ddf42-01c7-11e8-9e6b-8249783f03fb.png)
![image](https://user-images.githubusercontent.com/2008729/35409597-8e0b86be-01c7-11e8-8cb4-ccf4cfcdbf26.png)

[2018-01-25 20:03] rynowak commented on #7256
`ProcessDictionaryKeys`. We don't special case anything in MVC, we just configure JSON.NET's public settings.

[2018-01-25 20:04] rynowak commented on #7299
I'd like to think that we should fix this for 2.1.0-preview2 so that it can get into VS 15.7 - @mkArtakMSFT thoughts?

[2018-01-25 22:21] achandlerwhite commented on #7260
Thanks everyone for the responses. I see now that it's due to the model state binding behavior. I was confused because in this situation I wasn't posting anything, but technically to the route parameters constitute a model.

Instead of the workaround @iscifoni presented, I'm more inclined to change the razor markup:
[code]
This explicitly has it use the object I passed into view rather than the im

[2018-01-25 22:29] mkArtakMSFT commented on #7299
Sounds good! Thanks for looking into this, guys!

[2018-01-25 22:31] mkArtakMSFT commented on #7256
@danroth27, what do you think about @rynowak's suggestion regarding changing the defaults?

[2018-01-25 22:53] khellang commented on #7256
I think changing the default is a Very Bad Idea™ because dictionaries would change when round-tripping. Isn't that the reason why `ProcessDictionaryKeys` is `false` by default? @JamesNK?

You might think a lot of people are getting tripped up and surprised by *not* changing dictionary keys by default, but I have a sneaky feeling the backlash would be pretty hard if you changed the default 🤔

[2018-01-25 22:54] rynowak commented on #7256
I'm just suggesting we consider it 😆

[2018-01-26 00:38] ShadowDancer commented on #7266
@NTaylorMullen Invited You to my private repository (I would like to not make it public, not sure if stripped all confidential information) with reproduction. Apparently error was caused by
`services.AddMvc().AddApplicationPart(Assembly.GetExecutingAssembly());`

[2018-01-26 02:03] JamesNK commented on #7256
`ExpandoObject` is serialized as a dictionary because it is a dictionary, you just happen to be using dynamic to set values instead of the indexer like so...

[code]

[2018-01-26 02:19] rynowak commented on #7256
@JamesNK - do you have any thoughts about the idea of using changing the default for casing of keys?

We change the default to camel case between MVC5 and MVC Core 1. We continue to get the feedback that users are caught out by the distinction between dictionaries and objects (which aren't distinct in js).

[2018-01-26 03:02] JamesNK commented on #7256
I imagine there are more situations where dictionary keys shouldn't be serialized.

[code]

Applying camel case to "ROLE-ADMIN" and "ROLE-MANAGER" wouldn't be wanted.

[2018-01-26 05:52] nefcanto commented on #7256
As the feedback of creating many applications for different business solutions, my suggestion is to have a super camelCasing and PascalCasing option that can be easily configured.
That is, as the developer as soon as I configure camelCasing explicitly, I know that EVERYTHING going to client would be camelCased, and I take the responsibility.
Even I suggest creating an enumeration with long explain

[2018-01-26 09:24] mkArtakMSFT commented on #7096
@danroth27, any thoughts here? /cc @DamianEdwards

[2018-01-26 15:38] aguerot opened #7302 "ViewModel DataAnnotation translations not found is base class"
# Background
I did setup a simple mvc site and enable localization for both EN and FR languages.
The resources are located in a folder named Resources where Views and Models ressource files are stored. *ViewLocalization* and *DataAnnotationLocalization* are both enabled. I use QueryStringRequestCultureProvider to set the current culture. HomeController has a simple Index action that is associated

[2018-01-26 19:11] crmabs opened #7303 "Referencing an AspNet Core Web application"
My general goal is to be able to add HTTP endpoint to any of my future applications in order to issue commands or monitor them from outside. Kestrel seems to be a rather elegant solution for that.
In the past few days I made some attempts to achieve this but I failed terribly. This has to do with the fact that in the past year so much happened and several -maybe too many in my case- article came o

[2018-01-26 20:42] iscifoni commented on #7260
@achandlerwhite yes is used a modelstate, modelvalue is used if the idem is not present in the modelstate

[2018-01-26 21:19] JamesNK commented on #7256
You can definitely configure casing.

https://stackoverflow.com/questions/35772387/jsonserializersettings-and-asp-net-core
https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_Serialization_CamelCaseNamingStrategy.htm

[2018-01-26 21:39] Eonasdan commented on #7243
@mkArtakMSFT I just tried to deploy this project to a brand new Azure Web App (through VS -> Publish) and I'm greeted with the same error.

[2018-01-26 23:35] pranavkm commented on #7263
Fixed as part of https://github.com/aspnet/Mvc/commit/ebdb3c650a04e7b5f1c734ac0c01347dec900b10.  See https://github.com/aspnet/Mvc/commit/ebdb3c650a04e7b5f1c734ac0c01347dec900b10#diff-ff7fe9279f6e18451702ed2ec62d2faaR416

[2018-01-26 23:35] #7263 closed

[2018-01-27 01:05] mkArtakMSFT commented on #7243
Thanks for the info, @Eonasdan. We'll update the thread as soon as we get to investigate this.

[2018-01-27 03:21] aidansteele commented on #6232
@davidfowl I apologise for the impatience, but has there been any progress on this issue? I’d love the possibility of richer exceptions :)

Also, this issue seems related to https://github.com/aspnet/Logging/issues/677 - but it’s beyond my understanding. Is it the same issue?

[2018-01-27 04:48] rynowak commented on #6232
`IExceptionFilter` and others give you access to an `ExceptionDispatchInfo`, which (in practice) is supposed to be based on the actual context of the exception. What's the delta between that and what's being asked for?

[2018-01-27 14:48] davidfowl commented on #6232
I think it was being able to execute code before finally blocks run.

[2018-01-27 16:23] kichalla opened #7305 "Provide a way to filter out value providers during the model binding process"
This came out during the design discussion of **https://github.com/aspnet/Mvc/issues/5859: Consider allowing binding header values to types other than string and string collections**

The proposal is to not include all value providers automatically when no binding source metadata(ex: FromQuery, FromRoute) is available.

Thoughts:
1. Today we include all value providers if binding source is not spe

[2018-01-27 17:12] dasMulli opened #7306 "InputFormatters: Adding additional content types is hard"
I recently implemented handling of browser's [CSP reports](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP#Sample_violation_report) in an asp.net core app and it turned out to be quite hard.

The problem is that these reports are sent (at least by chrome) using `application/csp-report` as content type header. It took me a while to figure out how to correctly configure MVC to process the requ

[2018-01-27 19:20] rynowak commented on #7305
What value does this provide to users?

[2018-01-27 19:29] rynowak commented on #6232
So my expectation is that this is in support of doing fancy-pants things like using ambient/stack/execution context to provide additional information that needs to be present for logging. Is that right?

If that's the intended usage then I think this feature would have a very bad tradeoff of complexity/cost to value. This doesn't pass the "Dan Test"... how do we explain to users what this is for a

[2018-01-27 19:40] davidfowl commented on #6232
@rynowak For my education, how many places does MVC give you explicit control after catching an exception besides exception filters?

I'm trying to dig into this comment:

[2018-01-27 19:51] rynowak commented on #6232
Each filter type, model binding/formatters, some places in validation, middleware-as-filters. These are all of the places where we catch an exception from user-code and then show it to you after unwind.

[2018-01-27 19:52] rynowak commented on #6232
I think once you have something like this, you'd need to consider adding extra log-points that we don't have today everywhere that we provide indirection into user-code - so that means tag helpers, partials, and view components.

[2018-01-27 19:53] rynowak commented on #6232
Let's me be clear though, I'm not objecting to it because I think this will turn into the WebAPI global error logging feature. I think it's a bad tradeoff for us to make because of the complexity involved in implementing it and niche nature of the scenario.

[2018-01-27 20:04] dougbu commented on #7305
Put another way, we thought off-by-default value providers were a solution to a problem we were solving. But, after fixing that problem in another way, is this a solution without a problem?

[2018-01-27 20:34] davidfowl commented on #6232
Maybe a better alternative is to let the user write a filter that catches the action invocation errors themselves.

[2018-01-28 00:09] rynowak commented on #6232
For instance if we had a mode where we didn't try/catch inside of filters for you - you write a try/catch if you want one.. That would be both simpler than what we have and satisfy this need.

I don't understand how/when we could get there, but that's a solution I think everyone would be happy with (except people with existing code). If you changed the design of filters to be more middleware-like,

[2018-01-28 13:51] HeMinzhang commented on #7157
I finally found the answer, it is great!

[2018-01-28 14:08] kichalla commented on #7305
We could have just written a HeaderValueProvider and added it to the value provider list, but this caused the experience to following the model binding protocol (ex: full model name path) and we solved this by a delegating model binder which gives a control over this. That solution was neat and an end user could do this similarly. But I was under the impression that you (@dougbu and @rynowak), in

[2018-01-28 20:04] rynowak commented on #7305
I think this is great feedback for possible future work in this area (3.0 or later). I wanted to understand if there was more "todo" here beside the improvements to the header model binder, and it sounds like going along 👍

[2018-01-28 23:25] RandyBuchholz commented on #7096
I've proposed the idea of a Design-Time Directive [Language Feature Proposal] #1747 that would allow you to hook this type of capability into Razor.

You can do a lot of this type of thing already, inside a script block, but there is a drawback that intellisense is somewhat broken when you mix them. (Though it looks like this may be getting fixed.)

An approach I've used is "style injection". You

[2018-01-29 00:04] davidfowl commented on #7303
I'm still confused on exactly what you're trying to do.

[2018-01-29 01:25] atpyk opened #7307 ".Net Core MVC Localization cannot work on ubuntu16.0.4"
"zh-cn" cannot work when .net core mvc is deployed on ubuntu16.0.4.

I create Resource files follow the hierarchy of Views, and name them "en" and "zh-cn".
My local env. (win10) works fine, but it cannot work on ubuntu, it always show the "Keys" on page.

When I use "zh" instead, the issue fixed. So I guess the "-" is the key.

[2018-01-29 06:23] Eilon opened #7309 "asp.net mvc template app crashes with exceptions on raspian ARM"
_From @livarcocc on January 28, 2018 1:19_

_From @Buzze11 on January 27, 2018 11:32_

## Steps to reproduce

    1. create example mvc app with "dotnet new mvc -n test"
    2. Disable HttpsRedirect comment out (//app.UseHttpsRedirection();)
    3. Disable Cookie Policies comment out (//app.UseCookiePolicy();)
    4. publish with "dotnet publish -r linux-arm" and deploy it to the raspberry pi

[2018-01-29 06:23] Eilon commented on #7309
_From @rynowak on January 28, 2018 2:39_

@mkArtakMSFT @javiercn @pranavkm this is a crash in the view loading codepath that's been getting lots of changes lately. This is a possible 2.1.0-preview1 regression.

[2018-01-29 06:23] Eilon commented on #7309
_From @mkArtakMSFT on January 28, 2018 5:10_

@NTaylorMullen, can you please handle this? Thanks!

[2018-01-29 06:23] Eilon commented on #7309
_From @pranavkm on January 28, 2018 20:40_

Looks like a dup of https://github.com/aspnet/templating/issues/233 that was fixed by https://github.com/aspnet/Mvc/commit/b20e35e76abf78f3f99e52e336ff429083b9cb8c. Would be good to determine if this still reproduces using a newer runtime, but my guess is this was likely fixed.

[2018-01-29 06:23] Eilon commented on #7309
_From @Buzze11 on January 28, 2018 21:59_

Today I installed the latest SDK & Runtime and tested again. The Issue is still reproducable.

[2018-01-29 10:46] crmabs commented on #7303
Hi David,
The easiest demonstration is to clone this, and try running the ConsoleApp, and just simply try connecting to the Kestrel it fires up. It should immediately show my issue in the browser.
https://github.com/crmabs/Referenced-AspNet-Core-2-web-app
It should look like this:
https://pasteboard.co/H4JECxx.png
It will take 2 minutes to try it out.

Longer version:
I try to reference an Asp.Net

[2018-01-29 11:16] KIBASSA opened #7311 "Error deploy site in server"
Hi everyone,
I obtains this error after deploy site on server when I didn't change anything in the file startup. cs

`System.BadImageFormatException: Could not load file or assembly 'Microsoft.AspNetCore.Mvc.DataAnnotations, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. Format of the executable (.exe) or library (.dll) is invalid.
File name: 'Microsoft.AspNetCore.Mvc.DataAnno

[2018-01-29 13:10] KIBASSA commented on #7311
Everything is ok after upgrade donet sdk on server :)

[2018-01-29 13:10] #7311 closed

[2018-01-29 17:26] shaggygi commented on #6787
@pranavkm should this also be moved to the Ready column within project page?  Just curious.

[2018-01-29 17:38] pranavkm commented on #6787
@shaggygi done!

[2018-01-29 17:54] mkArtakMSFT commented on #7307
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-01-29 17:54] mkArtakMSFT commented on #7307
@ryanbrandenburg , can you please look into this?

[2018-01-29 17:59] mkArtakMSFT commented on #7096
@DamianEdwards, thoughts on this?

[2018-01-29 19:43] #6935 closed

[2018-01-29 21:10] mkArtakMSFT commented on #7305
Pushing this out to the 3.0 milestone for now, so we do not loose track of this later. Let's review this after a while and see how our views/approaches have changed.

[2018-01-29 22:33] DamianEdwards commented on #7096
It sounds interesting but seems like many others things would be a higher priority for future Razor work, not to mention that Razor as a language is really structured around HTML and its syntax.

[2018-01-30 00:47] mkArtakMSFT commented on #7306
Hi @dasMulli. Thanks for your feedback.
The Custom formatters are actually something we do have documentation for at https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-formatters, which also includes a sample project.

You can use this (very similar to what you've got) sample to do what you're looking for:

[code]

It doesn't really make sense for us to add another layer of simplific

[2018-01-30 00:47] #7306 closed

[2018-01-30 05:36] mirsaeedi opened #7315 "Architectural diagrams"
Our team is doing a research about architectural properties of aspnet core. I want to know if there is any available diagram and explationtion about the architecure of the framework and its components. I couldnt find any relevant material on google.

[2018-01-30 07:54] Eilon opened #7316 "Add Assembly at Runtime"
_From @AceCoderLaura on January 29, 2018 22:32_

Original Issue:
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/580

This is apparently and issue with ApiExplorer. How can I add my assembly for API exploration?

_Copied from original issue: aspnet/Home#2836_

[2018-01-30 07:54] Eilon commented on #7316
_From @MelbourneDeveloper on January 30, 2018 1:52_

This is a major issue for us. I added a controller to a project inside the Visual Studio solution and ran the service. Swashbuckle successfully read the metadata from ApiExplorer and displayed the controller's operation in Swagger. However, I then removed the project from Visual Studio and referenced the DLL manually. When I did this, Swashbuckl

[2018-01-30 07:54] Eilon commented on #7316
_From @MelbourneDeveloper on January 30, 2018 3:30_

It turns out that this was a kind of false alarm. The reason that the operation was not showing up in Swagger was that the method was not marked with the "public" modifier. This raises the question of how the REST call ever worked in the first place. I'm not convinced that it ever did work. But, if it did work, the ApiExplorer metadata should ma

[2018-01-30 07:54] Eilon commented on #7316
_From @rynowak on January 30, 2018 3:56_

API Explorer and Swashbuckle are built on top of MVC's action/controller discovery, so basically if MVC doesn't find it then API Explorer and Swashbuckle don't get the chance.

In MVC and most places in ASP.NET - we only don't really ever reflect over non-public types. I expect that the api call wasn't working, or wasn't routed to the intended action.

[2018-01-30 09:08] oofpez commented on #4604
Seems related:  I am having an issue where my entire api response body is logged!

{ ... } containing the entire json model.

how can I turn this off?  It only seems to happen in the one controller method, where they response is returned like this:
`return Json(JsonConvert.DeserializeObject(stringValue));`

as opposed to `return  Json( object)` which outputs the type.

[2018-01-30 13:04] xairrick commented on #6661
Has this been fixed?   I installed .NET Core 2.1.4 yesterday and it broke a project is using ASP.NET Core 1.1.1

[2018-01-30 14:12] kichalla opened #7317 "Fix model binding testing setup to use the dependent components consistently"
Example: [Here ](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.TestCommon/TestModelBinderFactory.cs#L29)we create options but this is not present in DI services as `IOptions<MvcOptions>` service.

Example: In [this ](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.IntegrationTests/ArrayModelBinderIntegrationTest.cs#L16)test, we use different instances of

[2018-01-30 14:42] ganeshmuthuvelu commented on #6661
I was about to try upgrading to 2.1.4 after hearing from some that this issue is resolved but looks like this is still a mystery.. Looks like I have to be 1.x for longer :-(
ASP .NET Core Team: Please give us a permanent fix for this issue, I for sure do not need workarounds and so will be many others here.. Thanks for your help!

[2018-01-30 16:47] mkArtakMSFT commented on #7261
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-30 16:47] #7261 closed

[2018-01-30 17:14] mchenx opened #7318 "performance issue with asp.net core mvc + angular"
I have run a few tests recently by using AB (Apache Bench) and noticed the performance for asp.net core 2.0 mvc looks good to me, over 1,000 requests/sec for accessing /home (300 requests, 100 concurrency)

But when I created the asp.net core mvc + angular, I got only 14 requests/sec performance for accessing /home, way slower (300 requests, 100 concurrency)

I am wondering if there is anything wr

[2018-01-30 17:31] mkArtakMSFT commented on #7256
I feel like it's too late to change the casing. For several years people adopted to current casing, plus so many articles/blog posts cover the topic. This will be a breaking change. Instead, we should consider an easier way to configure casing.
What about extension methods for UseCamelCasing() and UsePascalCasing() ?

[2018-01-30 17:48] Eilon commented on #6661
Hi folks, if you are still seeing this issue, please log a new issue with detailed steps to reproduce the problem. We have not seen this problem in our testing and otherwise believe the issue is fixed.

[2018-01-30 17:49] Eilon commented on #4604
@oofpez hmm that certainly sounds odd. Can you log a new issue with detailed steps to reproduce this?

[2018-01-30 18:07] kichalla commented on #4604
I was able to repro this issue in 2.0.5 version of MVC, but it is fixed in latest version (dev) though

[2018-01-30 19:59] #5859 closed

[2018-01-30 20:22] NTaylorMullen commented on #7309
Hey @Buzze11 I tried your scenario and all worked once I updated my runtime versions. Could you try your scenario one more time but with the following changes:

1. Add a NuGet feed to https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json
2. Update the created projects csproj to use AspNetCore.All 2.1.0-preview1-28183

[2018-01-30 21:25] timdoke opened #7319 "DefaultAuthorizationService fails second time through when having a global AuthorizeFilter and a decorated AuthorizeAttribute"
I have an output like the below.. (I changed some of the names to be generic).

There doesn't seem to be a way to disable the second call to the DefaultAuthorizationService when you have a global AuthorizationFilter defined and an AuthorizationAttribute decorated on an api method.  The first call goes through the global filter and the second seems to go through the attribute.  What I would like to

[2018-01-30 21:34] pranavkm commented on #7243
Your project is excluding packages that are required for the application to function - for instance - https://github.com/Eonasdan/test.core.project/blob/master/Akron.Web.Core/Akron.Web.Core.csproj#L96. Removing `PrivateAssets="All"` should fix this. That said, I'd highly recommend removing individual package references and replacing it with a reference to [`Microsoft.AspNetCore.All`](https://www.n

[2018-01-30 21:34] #7243 closed

[2018-01-30 21:59] kichalla commented on #7319
@HaoK This seems to be another requirement where users would like to have an override functionality. (i.e Authorization policy decorated on an action overrides the one registered as a global filter).

[2018-01-30 22:11] HaoK commented on #7319
Yeah this should be fixed by turning on the new CombineAuthorizeFilters flag added in 2.1 as part of the fix to https://github.com/aspnet/Mvc/issues/6995

[2018-01-30 22:13] HaoK commented on #7319
Basically if you combine the default policy with your actual policy, you typically will the correct behavior @timdoke

[2018-01-30 22:15] kichalla commented on #7319
@HaoK but isn't this a different scenario? like CombineAuthorizeFilters requires all policies to be satisfied, right? but in this scenario only the policy decorated on the action needs to be satisfied.

[2018-01-30 22:33] timdoke commented on #7319
I tried to do something like this inside my authorization filter.  Yet somehow, that default authorization service was being called from somewhere else..

`public class GenericAuthorizationFilter : AuthorizeFilter, IAuthorizationFilter
    {
        public GenericAuthorizationFilter(AuthorizationPolicy policy) : base(policy)
        {

        }

        public void OnAuthorization(AuthorizationFi

[2018-01-30 22:44] HaoK commented on #7319
Its a permutation of the same issue.

If you add a global authorization filter, that means you want that policy applied globally...on all actions, so the correct behavior is to verify that a combined policy of all of the requirements in global filters, and anything on the action are met.

This is fine normally for the authorization requirements.  The issues is when different authentication schemes

[2018-01-30 22:48] timdoke commented on #7319
This looks pretty similar to https://github.com/aspnet/Mvc/issues/6995..  Not sure if it's exactly the same because even if the behavior was different, shouldn't it still work?  @HaoK.  During the second execution, the user wasn't even populated..

With the new updates for 2.1, would we be able to have default multiple authentication schemes (my company uses at least three) and then be able to dec

[2018-01-30 22:50] timdoke commented on #7319
Let me clarify.. If I have a global authentication filter and then I decorate an api method with the exact same scheme, it also fails..

[2018-01-31 00:05] kichalla commented on #7319
@timdoke I tried the following now and it _might_ work for your scenario. Here I am not inheriting from `AuthorizeFilter` on purpose. Try it out and see if it works for you.

[code]

[2018-01-31 10:27] crmabs commented on #7303
Hi, Many thanks for guiding me through the maze!
As you requested I created a question on StackOverflow.
https://stackoverflow.com/questions/48539705/referencing-an-asp-net-core-mvc-project

Well, to be honest my only reason posting this here 'coz I wanted davidfowl to see / answer my question. :) I almost succeeded. Have nice day!

[2018-01-31 15:30] Eonasdan commented on #7243
I know what file new project does. I personally don't like the giant meta package because it's impossible to remove individual packages from it. That said removing `PrivateAssets` from all packages EXCEPT!! `Microsoft.VisualStudio.Web.CodeGeneration.Design` did the trick.

[2018-01-31 15:44] timdoke commented on #7319
Thanks @kichalla.. I'll check it out.  I think what you're trying to do, is use dependency injection to get the actual authorization filter that's been registered, and then only use one of the two?  What I thought was happening, however, was that the authorization was being called from another source (taking out my authorization filter implementation didn't make any difference).

Does this sort of

[2018-01-31 17:00] timdoke commented on #7319
Bummer.. Looks like the same problem happened @kichalla.

I tried just passing my authorizationfilter with policy to it.  It failed again with the below message.  Unfortunately, it still tried to validate it again after succeeding the first time.

One other interesting thing -- it returns with a 403 error code.  I don't set a 403 error code anywhere.  That has to be coming from the second authoriz

[2018-01-31 17:22] HaoK commented on #7319
The workaround for that bug is to avoid using global attributes or any on the base controller, and specifying everything you want in the attribute on every action.

[2018-01-31 17:30] pranavkm commented on #7243
Is there a reason you wouldn't want to reference the metapackage? For 2.0.0, the packages come from the runtime store, 2.1.0, these would come from a shared runtime - https://github.com/aspnet/Announcements/issues/287. In either case, if you have the corresponding SDK installed, you shouldn't see any of the packages in the output.

[2018-01-31 18:32] xinyanmsft opened #7320 "the default file watch sometimes does not work in Linux containers"
We found this during our internal testing. It happens sometimes (with low frequency).

OS: Linux container, docker 1.12

Create a dotnet core MVC application using the default template. Deploy to a Docker container running inside AKS (docker v1.12). Modifies Contact.cshtml file via file copying. The process is launched via 'dotnet run --no-restore --no-build --no-launch-profile'.

In most cases, t

[2018-01-31 22:08] danroth27 commented on #7160
We need to revisit this. We have identity logic in the templates that rely on temp data in order to work.

[2018-01-31 22:17] mkArtakMSFT commented on #7320
Hi @xinyanmsft. The solution you came up is our recommendation when running in a docker container.

[2018-01-31 22:17] #7320 closed

[2018-01-31 22:20] mkArtakMSFT commented on #7319
We're closing this issue as both the workaround as well as the long-term fix have been provided.

[2018-01-31 22:20] #7319 closed

[2018-01-31 22:22] mkArtakMSFT commented on #7318
This issue was moved to aspnet/JavaScriptServices#1510

[2018-01-31 22:22] #7318 closed

[2018-01-31 22:23] #7303 closed

[2018-01-31 22:39] ikhanal commented on #1601
Can somebody give me a sample code or a guidance on  how to implement **HostAuthenticationFilter** in MVC4/WebApi 2 project where I have implemented Cookie based authentication in MVC4 project and then I added an Area called Api where I have exposed EDM using WebApi2 and OData V3 but I need to implement OAuth 2 token i.e. bearer based authentication in order to access api controller. In addition t

[2018-01-31 22:51] mkArtakMSFT commented on #6827
@sebastienros, moved this to 2.2!

[2018-01-31 23:01] #6579 closed

[2018-02-01 00:58] #7171 closed

[2018-02-01 01:25] jonmeyerson opened #7321 "Add HtmlHelper to MVC Controller like the UrlHelper"
I have a dynamic views which are assembled together at runtime. example a string like

"`<div>[PlaceHolder1]</div>Hello World<div>[PlaceHolder2]</div>`"
in which I loop through the string and replace elements in square brackets with a razor view using Html.Partial()

I have been able to get this functionality to work but think it should be added to the framework.

Below is my implementation to cre

[2018-02-01 03:28] mchenx commented on #7318
I take back the perf issue caused by aspNetCoreModule, after re-deployed to IIS 10, it works fine, got over 1300 requests/sec

[2018-02-01 06:40] Eilon commented on #7321
This code:

Is precisely the reason why we don't have it built in. The HtmlHelper types requires a ViewContext instance, but unless you fake a bunch of data in it, it can't be constructed. The problem with putting fake data in it is that it is a mismatch of expectations when someone sees it. It would look like you have a real HtmlHelper, but really a lot of stuff just won't work on it.

Maybe ther

[2018-02-01 09:01] ruchanb commented on #4564
For 1 year of using Asp.net core I though now on you can only use `HttpPost` with `[FormBody]`. This is a true revelation for me 😮

[2018-02-01 10:01] oofpez opened #7323 "JsonResult executor is logging value contents instead of type for JObject object."
First posted this as a comment on Issue [#4604.](https://github.com/aspnet/Mvc/issues/4604#issuecomment-361681903)

 I am having an issue where my entire api response body is logged!

Microsoft.AspNetCore.Mvc.Formatters.Json.Internal.JsonResultExecutor: Information: Executing JsonResult, writing value { ... }

{ ... } containing the entire json model.

how can I turn this off? It only seems to hap

[2018-02-01 11:32] ewan-derivco commented on #4219
On the point of logging. Is it even possible for a developer to log authorization failures using [Authorize]? It seems like you have to write your own Attribute and Filter if you want to get any detail other than 'is the result a 401/403?'

[2018-02-01 13:52] jonmeyerson commented on #7321
Well, i'll look into more what part of the IView is used, but from what i see in my use, it renders and continues render subsequent HtmlHelpers correctly. I'm not sure what stuff wouldn't work.

How about if the method signature was changed to have the IView passed in with it?

[2018-02-01 15:42] rynowak commented on #4219
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-02-01 17:21] Eilon commented on #7321
It depends on each specific helper. For some helpers it doesn't matter much because they just do a "standalone" simple operation. But for others, such as maybe `Html.Partial`, they probably need a lot more context and "real-ness."

[2018-02-01 17:53] DamianEdwards commented on #4888
New Bootstrap v4 example for forms is another reference we should consider when we look at addressing the stuff outlined above: https://getbootstrap.com/docs/4.0/examples/checkout/

[2018-02-01 23:39] poke commented on #6334
Hey @pranavkm, I just found this issue via 8df30325407be3d3c30c850e6f63b1d2969b1dea and have a question:

I am trying to retrieve the filter metadata for a razor page by inspecting the action descriptors from `IActionDescriptorCollectionProvider`. However, due to [this line](https://github.com/aspnet/Mvc/blob/rel/2.0.0/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageActionDescriptorProv

[2018-02-01 23:46] danroth27 opened #7324 "Analyzer that checks for correct usage of model binding related attributes"
Recommend `BindAttribute` over `ModelBinderAttribute`. See https://github.com/aspnet/Mvc/issues/6944.

[2018-02-02 03:37] #5013 closed

[2018-02-02 09:07] oofpez commented on #7323
I can tell that it is logging using the ToString() of JObject, which is the json itself.

[2018-02-02 10:34] stavroskasidis commented on #6457
Mono keeps working and improving running on wasm.
http://www.mono-project.com/news/2018/01/16/mono-static-webassembly-compilation/

@SteveSandersonMS please push the team to make Blazor (or something like that) a reality !!
The change of blazor to mono was **AWESOME** !

[2018-02-02 11:52] jonathanperis commented on #6457
@SteveSandersonMS Please, make Blazor template based on ASP.NET Core Razor Pages!

[2018-02-02 13:54] Matthew-Bonner opened #7325 "How can I surpress validation when binding for a specific enum property on an input model while allowing custom validation to affect the ModelState?"
I want to allow for the query string `?OutputFormat=` but when this happens the model state is invalid, which makes sense.

I can work around the issue by doing the following:

    public ImageFormat? Format { get; set; }

    [BindNever]
    public ImageFormat OutputFormat
    {
        get
        {
            return Format ?? ImageFormat.Png;
        }
    }

But this is messy, so what I would

[2018-02-02 14:52] Matthew-Bonner commented on #7325
Basically, I want enums to bind but in the event that binding results in an invalid value, I want to be able to suppress the invalid value from affecting the ModelState and just use a default value, presumably the best thing to do here is create a new attribute that will need to be baked into code that deals with validation?

[2018-02-02 15:05] Matthew-Bonner commented on #7325
Basically, I want enums to bind but in the event that binding results in an invalid value, I want to be able to suppress the invalid value from affecting the ModelState and revert to using a default value, presumably the best thing to do here is create a new attribute that will need to be baked into code that deals with validation? Either that or I think I need to define my own way of dealing with

[2018-02-02 16:17] Matthew-Bonner commented on #7325
Just to add to this, I can work around the issue using custom model binding but this is an ugly solution. I would have expected this to be out of the box functionality so I think this is a bug.

[2018-02-02 16:51] Matthew-Bonner commented on #7325
There is an option to prevent binding undefined values in the MvcOptions for v2.1:
SuppressBindingUndefinedValueToEnumType

But what I would like is for this to be expanded so that there is also the option:
BindEmptyValueToEnumType

Which, if set to true, will bind an empty value to the first value in the enum.

Can you confirm whether you like this idea or not, if you do I will submit a PR.

[2018-02-02 17:00] Matthew-Bonner commented on #7325
Also note that there is an `AllowEmptyInputInBodyModelBinding`, so an equivalent `AllowEmptyInputInQueryStringModelBinding` might suffice.

[2018-02-02 17:17] Matthew-Bonner commented on #7325
I can see by the following line that there is a check to see if the type is nullable or not, and if the type is nullable then the error is not added to the model state:
https://github.com/aspnet/Mvc/blob/c922b0b90dc95407e1f59510f953d220442f96a1/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/SimpleTypeModelBinder.cs#L141

But as I said earlier, this is not desirable on a large codebase.

Ag

[2018-02-02 17:48] mkArtakMSFT commented on #7316
@AceCoderLaura, can you please confirm that the API was indeed callable, while the controller APIs didn't appear in the Swagger UI? If so, please provide us with a minimalistic repro project, so we can investigate it?

@MelbourneDeveloper, it seems you're missing the library registration step. To achieve what you're trying to do you should call `AddApplicationPart(assembly)` similar to how @AceCod

[2018-02-02 17:58] mkArtakMSFT commented on #7315
Hi @mirsaeedi. We do have a bunch of guidelines as well as samples available on https://www.microsoft.com/net/learn/architecture. Feel free to look through those.

[2018-02-02 17:58] #7315 closed

[2018-02-02 18:42] mirsaeedi commented on #7315
@mkArtakMSFT Thanks for your response. But I meant the architecture of the framework itself, not aspnet core based applications. Would you please help me with that? Is there any information about the layers of the framework and relations between its main components? In our research, we want to inspect the code to find out the differences between the actual architecture and the conceptual architect

[2018-02-02 18:50] timdoke commented on #7319
@HaoK, @mkArtakMSFT, @kichalla  is there a full example somewhere of using multiple authentication schemes on authorization attributes?  I couldn't find one.

[2018-02-02 18:58] HaoK commented on #7319
`[Authorize(AuthenticationSchemes = "Scheme1,Scheme2")] should do the trick, you can also set it on the policy as well if you don't want to use the auth policy

[2018-02-02 19:09] timdoke commented on #7319
@HaoK I'm more wondering about the minimum code required in the startup.  I removed everything I had before, and I was getting some weird errors (very similar to what's on this original issue; I thought maybe I needed to clean, etc, but that didn't make any difference).  I did services.addAuthentication with my schemes added via extension  methods, put in app.UseAuthentication, and app.UseMvc.

[2018-02-02 19:27] #7160 closed

[2018-02-02 20:56] NTaylorMullen commented on #7309
Closing for now. @Buzze11 feel free to re-open if your issue still persists.

[2018-02-02 20:56] #7309 closed

[2018-02-02 22:26] abunet commented on #7227
I receive the same exception trying to inject in my controller method [FromServices] myservice.

This call Works:

[code]
this one throws exception:

[code]

note that the service is not used in the GetDocumentFromRequest

[code]

It seems like another middleware has already read the stream

[2018-02-02 22:48] pranavkm commented on #7227
@huzaynbolt presumably your original issue was resolved as part of https://github.com/aspnet/Home/issues/2785? If not, feel free to reopen the issue.
@abunet can you file a new issue that contains more details, possibly with a repro project?

[2018-02-02 22:48] #7227 closed

[2018-02-02 23:08] pranavkm commented on #6993
This is a dup of https://github.com/dotnet/sdk/issues/1738. I'm following up with the SDK team to figure out if there's a reasonable workaround for this.

[2018-02-02 23:08] #6993 closed

[2018-02-03 00:51] dougbu commented on #6928
Marking this as up-for-grabs because #7181 was incomplete.

[2018-02-03 12:32] nim opened #7327 "TypeLoadException .net core 2.0"
I have Exception than i try use this struct

[code]

[2018-02-03 14:47] abunet opened #7328 "MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, Error."
@pranavkm in ref #7227, I've created a sample solution with client and server. It reproduces the exception

[MultipartReaderError.zip](https://github.com/aspnet/Mvc/files/1691823/MultipartReaderError.zip)

I have two post urls, they do the same thing (read a multipart stream).
The only difference between the two methods is that the second as a DI [FromServices] parameter.

[code]

[2018-02-04 05:57] ateregulov opened #7329 "Include dotnet sdk 2.0.5 assemblies in the runtime package store"
App fails to start with the following:

  Error:
  An assembly specified in the application dependencies manifest (SampleAuction.deps.json) was
    package: 'Microsoft.AspNetCore.Mvc.Abstractions', version: '2.0.2'
    path: 'lib/netstandard2.0/Microsoft.AspNetCore.Mvc.Abstractions.dll'
  This assembly was expected to be in the local runtime store as the application was published
    aspnetcore-st

[2018-02-05 06:56] Eilon commented on #7329
@JunTaoLuo - any idea on this?

[2018-02-05 07:14] JunTaoLuo commented on #7329
@ateregulov This usually occurs when a new version of Microsoft.AspNetCore.Mvc is being referenced without the corresponding SDK installed. If you have installed 2.1.4 SDK can you share your installation steps with me so I can try to repro the problem? I have checked the SDK archives for OSX and a few Linux distros and they seem to include the package in the error message so I'm not sure why it's

[2018-02-05 14:09] Matthew-Bonner commented on #7242
@mkArtakMSFT just try out the example for yourself, it is a known problem in the community that setting up an ASP.NET Core MVC web app as Windows Service does not work at the moment, we've had problems at our company trying to set this up.

[2018-02-05 17:14] pranavkm commented on #7328
Thanks. The `FromServices` attribute probably results in all value provider factories to kick in and result in the `FormValueProviderFactory` to eagerly read the request body. You'll need to explicitly disable this value provider since you're taking over the body parsing. See https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Controllers/FileController.cs#L43 and https://github.com/

[2018-02-05 17:42] mkArtakMSFT commented on #7327
This issue was moved to dotnet/coreclr#16211

[2018-02-05 17:42] #7327 closed

[2018-02-05 17:59] mkArtakMSFT commented on #7325
Hi @Matthew-Bonner. The behavior you're observing is by-design. And it seems you've found the right way to do it. We haven't seen much demand for the scenario you're describing, so we do not think adding a specific feature for it is necessary.

[2018-02-05 17:59] #7325 closed

[2018-02-05 18:21] pranavkm commented on #7003
The handling of error scenarios is much better since https://github.com/aspnet/Mvc/issues/6598. Tracking further improvement of error reporting via https://github.com/aspnet/Home/issues/2851

[2018-02-05 18:21] #7003 closed

[2018-02-05 18:46] mkArtakMSFT commented on #7033
@dougbu, can you please review the referenced PR? Thanks!

[2018-02-05 20:22] timeshifter commented on #4454
Passing null into the value parameter results in a literal string "null" being returned as the body. I'm with @brentarias, the parameter names are confusing and deceptive, and should be clarified.

[2018-02-05 20:24] abunet commented on #7328
another workaround (in my case) is to inject the service into the controller constructor instead of using [FromServices].

In the real project, I have a complex dto with multiple attributes that embeds one or more files. So I've found the doc that talks about performance dealing with large files.
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-stream

[2018-02-05 20:31] pranavkm commented on #7328
The doc does recommend the filter and I'd encourage using it since it makes things more obvious - things wouldn't break if future you accidentally add a parameter to these actions 😄. Closing this issue, feel free to reopen if you have more questions around this.

[2018-02-05 20:31] #7328 closed

[2018-02-05 21:54] jbagga opened #7330 "Consider replacing ActivatorUtilities for TagHelper activation"
For cases that need a new constructor for a class (additional param), in order to avoid a breaking change we add an overload. However, `ActivatorUtilities` does not allow multiple applicable constructors.

[code]
This restricts `TagHelpers` from changing the constructors.

cc @rynowak

[2018-02-05 22:22] NTaylorMullen commented on #7330
I'd think if we wanted to support multiple ctors we'd take an approach of decorating the constructor we'd want to use with some sort of attribute to say "Use this constructor when activating". Other DI systems do this already.

[2018-02-06 08:13] MisterGoodcat opened #7332 "Localized views with Razor Pages"
In Razor Pages, we can inject IViewLocalizer to work with localized resources - good. But sometimes, especially on content-heavy, rather static pages, it would be nice to have location specific views, i.e. `MyPage.en.cshtml` and `MyPage.de.cshtml` etc.

My expection was that once I configure `AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix, ...)` Razor Pages also would be resolved by

[2018-02-06 13:59] FredKellyAsBunny commented on #4311
We can definitely implement our own HttpResponseException, and in lieu of not having one out of the box, I agree with the approach that @Eirenarch took.  However, the decision to remove HttpResponseException on the basis that you didn't want people to misuse it seems short-sighted.

[2018-02-06 17:28] mkArtakMSFT commented on #7332
@MisterGoodcat, thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2018-02-06 17:33] mkArtakMSFT commented on #7330
@jbagga, what are the scenarios this would enable?

[2018-02-06 17:37] robertmiles3 opened #7333 "Can I submit tag helpers for "readonly" and "disabled" attributes?"
Is it acceptable for me to put in a PR for a couple new tag helpers? I have written custom ones locally to handle `readonly` and `disabled` tags on elements. I think these would be widely used and helpful for many people if we had `asp-readonly` and `asp-disabled` helpers.

Currently, the following will NOT work as it outputs an empty `disabled` attribute (which is valid for disabling):

    disab

[2018-02-06 17:41] mkArtakMSFT commented on #7323
Hi @oofpez. Thanks for reporting this issue. We agree that this seems to be a bug and we've assigned one of our team members to look into this based on its priority.

[2018-02-06 17:41] Eilon commented on #7333
I think all you have to do for minimizable properties is set `disabled="@isDisabed"` and Razor does the right thing, no? I thought it's smart with `bool` values and if it's `false` it omits the attribute entirely, and if it's `true` is sets it to `foo="foo"`?

[2018-02-06 17:42] mkArtakMSFT commented on #7323
@jbagga, can you please look into this?

[2018-02-06 17:50] robertmiles3 commented on #7333
Wow, just tested, and you're right. TIL something new. Sweet, closing this (and deleting my tag helpers). Carry on...

[2018-02-06 17:50] #7333 closed

[2018-02-06 17:59] jbagga commented on #7330
Multiple constructors for `TagHelper`s (and also other types that use `ActivitorUtilities` in MVC to create instances). But @rynowak said it was particularly problematic for `TagHelper`s

[2018-02-06 18:02] Eilon commented on #7333
Awesome! 😄

[2018-02-06 18:10] robertmiles3 commented on #7333
@Eilon On a similar note, what about a `asp-roles-include` and `asp-roles-exclude`? I wrote this up locally also, and it has served well. Of course, you might surprise me and say there's already a built-in way.

[2018-02-06 18:26] Eilon commented on #7333
@robertmiles3 do they conditionally show/hide an HTML element based on the role(s) the user is in? I think it's been considered before and we didn't feel it was a high enough value, mostly because it's not too different from a regular `@if(...)` statement. We had a discussion on this a while back in this issue: https://github.com/aspnet/Mvc/issues/6750

But, feel free to log a new suggestion if yo

[2018-02-06 18:45] robertmiles3 commented on #7333
Yes, they operate like that. I actually took the existing `environment` tag helper and reworked it for roles. IMO, I would rather see something like this in certain scenarios rather than curly braces everywhere which also annoy my layout OCD, haha.

But, I understand. Just thought I'd throw it out there in case it was deemed useful.

[2018-02-06 21:23] mkArtakMSFT commented on #7242
@Matthew-Bonner, I've just tried the sample which was pointed out in the docs, and it worked just fine: **https://github.com/aspnet/Docs/tree/master/aspnetcore/host-and-deploy/windows-service/sample**.
Please note, that the Microsoft.AspNetCore.All package is only supported on .NET Core, as it requires the .NET Core runtime store. When running on the .NET Framework, you need to reference individua

[2018-02-06 21:55] danroth27 commented on #6457
Hi folks,

I'm happy to share that today we [announced](https://blogs.msdn.microsoft.com/webdev/2018/02/06/blazor-experimental-project/) that Blazor is now an official "experimental" ASP.NET project. Blazor is an "experimental web UI framework based on C#, Razor, and HTML that runs in the browser via WebAssembly". There's nothing to download yet, but the code is available and being actively worked

[2018-02-06 21:55] #6457 closed

[2018-02-06 22:45] Eilon commented on #7333
Understood, thanks!

[2018-02-07 00:08] #7017 closed

[2018-02-07 03:17] rynowak commented on #7330
We have created a potential problem for our users everywhere that we use `ActivatorUtilities`. This includes things like tag helpers, controllers, view components, page models, filters, etc.

`ActivatorUtilities` only supports a single constructor (in our use cases).

This means that if you both:
1. Need to add constructor parameters
2. Care about making breaking changes to your API

Then you have

[2018-02-07 07:43] ststeiger commented on #4956
Instead of fixing the bug...

[2018-02-07 09:42] KeithHenry commented on #4311
I think this might be fixed by the changes coming in ASP.NET Core 2.1: https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/

That adds `ActionResult<T>`, which lets you return either the explicit type or the `NotFound` that produces a 404.

[2018-02-07 10:01] hmelis opened #7334 "Binding with [FromBody] results in model being null when JSON grows"
I'm having an issue where code that works without problems suddenly stops working when the POSTed JSON reaches a certain size (I haven't been able to determine the exact size due to time constraints).

The setup is a Web API with client apps POSTing JSON.

The controller method is defined as
[code]
The model consists of some global info and then a list of objects for each item in a shipment. When

[2018-02-07 11:09] WHATSAF opened #7335 "Is model validation attributes ordered?"
I want to know the sequence of the validation.
For instance:
[code]
And the `PhoneNumber` get a value `"abc"`.
As i known, the attributes execution is randomized. So if it'll validate whether the PhoneNumber is a Phone, or validate the PhoneNumber's length equal 13 first?

[2018-02-07 12:09] markusvt opened #7336 "How to validate serialized JSON String"
I got a model "Hersteller", that contains a List of objects "IEnumerable<Rabatt>".
The class "Rabatt" looks like this:
[code]

On the client, there is a jquery-based list that the user can extend on his own and fill the Name and Value attributes. Before the submit of the pages, that list ist serialized into a hidden-field, that is marked as the following:
`<input type="hidden" class="rabatteHidden

[2018-02-07 12:28] hmvs commented on #6920
Would be nice to have something like [FromBody(AllowNull=true)] instead of having this behavior for all the methods.

[2018-02-07 12:47] gortok commented on #7336
It sounds like you want a custom model binder, not a validator?

[2018-02-07 13:04] markusvt commented on #7336
Hmm the model-binding works for well-formed data pretty well: the string ist put into the model and the model deserializes it. Just the validation doesn't work.
Do you think a custom model binder would solve this issue?

[2018-02-07 13:41] weitzhandler commented on #6457
@danroth27
WOW! Kudos!
I think now that Microsoft has open source its entire code base, the only thing that holds back C# from becoming the best programming language in the world is its limited portability.
 Mono WebAsm is going to break this barrier, and hopefully MVVM and even XAML will become available on ANY platform natively.
Looks like MS underestimates the importance of this and allocates i

[2018-02-07 14:08] ckams opened #7337 "TagHelper asp-page produce unwanted "page=" in url"
According to [the documentation][1],  I only have to write something like this:

    <a asp-page="/Index">Home</a>

For getting this:

    <a href="/Index">Home</a>

But when I try, I get this:

    href="/?page=%2FIndex"

My route:

    routes.MapRoute
    (
        name: "areas",
        template: "{area:exists}/{controller=Home}/{action=Index}/{id?}"
    );

  [1]: https://docs.microsoft.com/en

[2018-02-07 16:09] javiercn commented on #4956
This bug was fixed as of https://github.com/aspnet/Routing/commit/ffa0ee5222783f8f267fc86fba7b63668cc639ea

[2018-02-07 16:52] cerebrate opened #7338 "View compilation fails from .NET Standard 2.0 library"
Background: I have a project made up of multiple "picoservices", each implemented inside a .NET Standard 2.0 class library, in turn all loaded and run by a .NET Framework application. One of these "picoservices" generates a web UI using the Kestrel web server and, in theory, MVC with embedded views.

However, when I attempt to access the resulting site, the views fail to compile due to being unabl

[2018-02-07 17:13] pranavkm commented on #7337
Do you have a Razor Page at `/Pages/Index.cshtml`? The `asp-page` attribute is specifically meant for Razor Pages.

[2018-02-07 17:41] mkArtakMSFT commented on #7338
Thanks for contacting us, @cerebrate. One of our team members will look into it and get back to you.

[2018-02-07 17:41] mkArtakMSFT commented on #7338
@rynowak do you have any thoughts here?

[2018-02-07 18:04] mkArtakMSFT commented on #7336
Hi @markusvt.
Why are you trying to transfer data as string? Why don't you just allow `Rabbat` type parameters to be auto-bound using the `FromBodyAttribute` attribute?

[2018-02-07 18:41] MisterGoodcat commented on #7332
Hi and thanks for the reply.

It's basically like I said: for regular scenarios where you only need to localize some labels and parts of a page (and the actual localized content is coming from a database, for example), the given feature set is sufficient. However, imagine a page with lots of static text where it is tedious to fetch paragraph after paragraph with IViewLocator, or alternatively to p

[2018-02-07 20:19] danroth27 commented on #6065
Remove feature related labels since all we did here is add a sample.

[2018-02-07 20:42] muratg commented on #5889
@Eilon @danroth27 Anything left on this bug?  Removing @anurse as I don't believe he has work to do here.

cc @rynowak

[2018-02-07 22:07] mkArtakMSFT commented on #7335
Hi @WHATSAF. There is no mechanism to order validation based on these attributes. The only thing we do is that we try to validate the properties with `RequiredAttribute` attributes applied.

[2018-02-07 22:07] #7335 closed

[2018-02-07 22:16] mkArtakMSFT commented on #7334
Hi @hmelis. Can you please check the exceptions in the items of the `ModelState` object. You should see some exception there which would be the reason for the failure you're observing.
Most probably you're hitting the request size limit. If so, we're planning to fix this in the next release of ASP.NET Core.

[2018-02-07 22:39] mkArtakMSFT commented on #7321
Hi @jonmeyerson. As @Eilon has mentioned already, the proposed suggestion is not technically feasible. We're closing the issue.

[2018-02-07 22:39] #7321 closed

[2018-02-08 00:59] jBylinski commented on #7329
I'm running into the same issue when targeting the AspNetCore.All 2.0.5 metapackage. It works fine if I opt out of the implicit runtime store or deploy the app to a machine with the latest SDK installed but there seem to be some issues with the tarball installations available here: https://www.microsoft.com/net/download/linux
The ASP.NET Core Runtime Store links seem to be outdated, those packages

[2018-02-08 01:02] ryanbrandenburg commented on #7307
Hey @atpyk, this is actually specific to the set of Chinese cultures rather to whether the name has a "-" in it. As I pointed out [here](https://github.com/aspnet/Localization/issues/273#issuecomment-237983479) cultures can differ depending on which framework you use. It is also true that cultures differ across platforms. For example, on windows when I do `System.Globalization.CultureInfo.GetCultu

[2018-02-08 01:07] pranavkm commented on #6934
@molaie you are copying deps files along with your module binaries to the output directory. Deps files are looked up next to an assembly, but assemblies listed by it for purposes such as compilation are always resolved (a) the application's bin directory (b) the shared runtime (c) the runtime store. Consequently having the deps file in the modules directory prevents these assemblies from being res

[2018-02-08 01:07] #6934 closed

[2018-02-08 04:42] SeriaWei commented on #7329
I have the save issue,  i have download `dotnet-runtime-2.0.5-linux-x64.tar.gz` and `aspnetcore-store-2.0.3-linux-x64.tar.gz` from https://www.microsoft.com/net/download/linux

[code]

[2018-02-08 16:42] toddams commented on #6111
I encounter the same issue, simple razor view without loops compile time is very low on Ubuntu 16.04

[2018-02-08 17:41] mkArtakMSFT opened #7340 "@Html.DisplayFor dramatically increases rendering time of razor pages"
This has been discovered as part of an experiment @rynowak did while investigating https://github.com/aspnet/Mvc/issues/6111.

[2018-02-08 17:42] mkArtakMSFT commented on #6111
@rynowak, I've assigned this one to you, but feel free to reassign to @NTaylorMullen if you feel this is something from his area. Thanks!

[2018-02-08 17:45] Eilon commented on #7340
Reduces or increases? If it reduces, isn't that a good thing?

[2018-02-08 17:54] danroth27 commented on #7329
@SeriaWei It looks like you're using 2.0.3 of the ASP.NET Core runtime store. Do still hit issues if you use 2.0.5 of the ASP.NET Core runtime store to match the version of Microsoft.AspNetcore.All that you are using?

[2018-02-08 17:56] mkArtakMSFT commented on #7329
@JunTaoLuo, can you please look into this? Thanks!

[2018-02-08 18:47] JunTaoLuo commented on #7329
Ah I see the download links on https://www.microsoft.com/net/download/linux are not updated. @leecow do you know who is in charge of updating the links?

[2018-02-08 19:01] leecow commented on #7329
Looking into it ...

[2018-02-08 19:34] leecow commented on #7329
Handed off to @rowanmiller

[2018-02-08 20:48] Tarig0 commented on #4134
Is there another issue to track this?

Just saw that we have a tag helper to do this but no Htmlhelper equivalent

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/PartialTagHelper.cs

[2018-02-08 21:05] rowanmiller commented on #7329
Downloads are updated

[2018-02-08 22:00] JunTaoLuo commented on #7329
I think you uploaded the delta archives we use internally, not the cumulative one that users should be downloading.

[2018-02-08 22:04] rowanmiller commented on #7329
@leecow can you comment on that. The files were already uploaded, I just updated the metadata on the dot.net site.

[2018-02-08 22:05] dougbu commented on #4134
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

----
As @Eilon said earlier:

Why is the `<partial>` tag helper insufficient for yo

[2018-02-08 22:37] Tarig0 commented on #4134
Not insufficient just figured there was a drive to make tag helpers and html helper 1 to 1 in functionality

[2018-02-08 22:52] leecow commented on #7329
John put the correct files in a consumable location and I'm updating the DLC in place. DLs should be correct once publishing is complete.

[2018-02-08 23:24] danroth27 commented on #4134
@Tarig0 No, that's actually not a goal. We generally prefer tag helpers except for cases where there really isn't a tag involved (like `@Html.NameFor()` for example).

[2018-02-08 23:59] rowanmiller commented on #7329
Will the URLs stay the same?

[2018-02-09 00:10] dougbu commented on #7187
@mhamri please provide additional information to help us reproduce your issue. For example, which version of ASP.NET Core MVC are you using?

----
We remain unable to reproduce this issue. For example, I duplicated your `ScoresViewModel` and used a simple view containing
[code]
My action (further below) receives the expected `ScoresViewModel` instance.
![image](https://user-images.githubuserconten

[2018-02-09 00:10] dougbu commented on #7187
Clearing the `investigate` label until we have more information.

[2018-02-09 02:02] SeriaWei commented on #7329
@rowanmiller Is the package[aspnetcore-store-2.0.5-linux-x64.tar.gz] is correct? It just 1.51 MB?
I download it with the below link:
https://download.microsoft.com/download/1/1/0/11046135-4207-40D3-A795-13ECEA741B32/aspnetcore-store-2.0.5-linux-x64.tar.gz

It seems not work
[code]

[2018-02-09 08:39] markusvt commented on #7336
I got a pretty complex formular there. The entity "Hersteller" I want to update is pretty complex with several direct properties and also mutliple lists of other objects, like that IEnumerable<Rabatt>.

Right now in the controller I just use
```bool rslt = await TryUpdateModelAsync<Hersteller>(b);```
where b is the entity.

At some point in the past I figured out it worked pretty well to just set

[2018-02-09 12:05] tangdf opened #7341 "HTTP response code 404 output Cache-Control header"
Demo code:
[code]

https://github.com/aspnet/Mvc/blob/aeab6e295efdc0b1d89c375b62a84fe3b6ba969e/src/Microsoft.AspNetCore.Mvc.Core/Internal/ResponseCacheFilter.cs#L165-L175

The HTTP response code is 404( or 401 ), also output cache header  `Cache-Control: public,max-age=3600`.

[2018-02-09 15:51] cwe1ss commented on #6232
Yes, this is an extension of what I've written in https://github.com/aspnet/Logging/issues/677. I've been talking about the general problem that C# 6 exception filters seem to not work in asynchronous scenarios. If MVC (or any other component that runs before your exception filter) catches the exception, it obviously also breaks the usage.

I think it is a pretty big deal that logging scopes can n

[2018-02-09 16:01] mdarrik opened #7342 "No Page Named "Foo" when Custom Page Route is Added And Optional Parameter Removed From RouteData"
So I'm working with a Razor Page where the Page "/Index" has an optional parameter {Project?}. When the optional parameter is an invalid value, I want to redirect users back to Index with the optional parameter clear. To do this, I'm doing the following:

[code]

When I include a custom Route like so:
`options.Conventions.AddPageRoute("/Index","{TeamProject}/home");`
This always produces an error

[2018-02-09 17:30] mkArtakMSFT commented on #7342
@rynowak, any suggestions?

[2018-02-09 17:34] fer-rios commented on #4910
Hi @mbharodia ! I'd to know if you could make works the Report Viewer with .Net Core !?

[2018-02-09 18:00] mkArtakMSFT commented on #7341
Thank you for filing this issue. We're going to consider this in one of our future releases.

[2018-02-09 18:16] mbharodia commented on #4910
The web app I migrated in 2016 targeted Asp.Net Core (full .Net framework 4.6.1 support). This web app has been upgraded to use Asp.Net Core 2.0. I believe that it works. However, please note that I am not using report viewer to show reports on the browser. The report viewer simply uses RDLC to generate a byte stream of PDF that can be downloaded using browser. Having said this, I am not sure whet

[2018-02-09 21:28] rynowak commented on #7338
Hi @cerebrate

Both the projects that you included were created using older-style .csproj and don't include the Web SDK. This means that these project don't have the necessary support to tell the ASP.NET Core runtime what the compilation references are. I'd recommend using one of the tutorials here as a starting point. https://docs.microsoft.com/en-us/aspnet/core/tutorials/index

These will direct

[2018-02-09 21:28] #7338 closed

[2018-02-09 21:28] rynowak commented on #7338
Closing this as it's not an issue. View compilation is not supported for older-style .csproj files.

[2018-02-09 21:33] rynowak commented on #6111
Hi @toddams - this is unrelated to the original issue which is about the performance of using `DisplayFor` many times in a single view. Can you please open a new issue and describe clearly what the problem is? Please include any measurements you have taken an an example of how we can reproduce the problem. Thanks!

[2018-02-09 21:37] mkArtakMSFT commented on #7340
Fixed!

[2018-02-09 21:40] mkArtakMSFT commented on #6111
It seems the actionable item here would be to just concentrate on the perf improvements for the `Html.DisplayFor` method. Let's consider it for the next release.

[2018-02-09 21:41] mkArtakMSFT commented on #7340
Closing as the decision is to track only this work as part of the original issue: https://github.com/aspnet/Mvc/issues/6111

[2018-02-09 21:41] #7340 closed

[2018-02-09 21:45] rynowak commented on #7083
I think we need to have a broader discussion about what to do here long term. On second look this happens for templates (`EditorFor`/`DisplayFor`). https://github.com/aspnet/Mvc/blob/5fffd464cd874891a31a8cf14258aaecc099f932/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/TemplateRenderer.cs#L116

I think we might need to consider some pretty bold moves. Trying to totally eliminate all `GetR

[2018-02-09 21:46] rynowak commented on #7083
Kicking this back to **SUPER TRIAGE**

[2018-02-09 22:09] dougbu commented on #7340
@mkArtakMSFT should this bug be marked as a `duplicate`?

And, just to be clear, was your "Fixed!" [comment](https://github.com/aspnet/Mvc/issues/7340#issuecomment-364576011) somewhat sarcastic?

[2018-02-09 22:50] dougbu commented on #7274
@Tarig0 you are correct; this behaviour is by design. The HTML helpers that work with Linq expressions have no information about runtime types when they determine `ModelMetadata` of the result. Those helpers do not even evaluate the expression until much later in HTML generation.

On the other hand, `string`-based HTML helpers (those that work with an "expression name") almost-always determine `Mo

[2018-02-09 22:50] dougbu commented on #7274
Closing as `by design`.

[2018-02-09 22:50] #7274 closed

[2018-02-09 22:52] dougbu commented on #7274
I should have acknowledged your work @Tarig0: Thank you for your feedback! We're closing this issue as the behaviour discussed is by design.

[2018-02-09 22:57] Eilon commented on #7340
"Fixed" was in reference to my comment about the incorrect title.

Don't really care what labels are on bugs that weren't 3-Done.

[2018-02-09 23:48] khellang opened #7343 "Ability to enable API behavior globally"
As mentioned in https://github.com/aspnet/Home/issues/2846#issuecomment-364598277:

I did a quick scan through the code, but couldn't see how you'd enable the conventions without adding attributes. Is this something you'd consider a PR for?

[2018-02-10 00:07] rynowak commented on #7343
Yeah, I'd love to find a way to do this 👍 What did you have in mind? (let's try to come up with a plausible idea first)

[2018-02-10 00:20] rynowak opened #7344 "ApiController should not return errors as application/problem+json"
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorOptionsSetup.cs#L39

We missed this during cleanup. We're not using problem anywhere in MVC's code, so this is wrong. Put another way... we don't assume that you want to use problem, and we don't wire it up for you.

[2018-02-10 00:29] JunTaoLuo commented on #7329
The download center links are now updated. @SeriaWei @ateregulov @jBylinski can you try them again?

[2018-02-10 01:17] SeriaWei commented on #7329
@JunTaoLuo Thanks, it works now.

[2018-02-10 02:17] JunTaoLuo commented on #7329
Great!

@leecow any idea why we missed this update for the January patch? We should make sure we don't forget next time.

[2018-02-10 02:17] #7329 closed

[2018-02-10 10:43] jBylinski commented on #7329
Thank you everyone, it's working now!

[2018-02-10 16:44] ckams commented on #7337
No there is no such page.

[2018-02-10 17:20] pranavkm commented on #7337
Like the doc says, the `asp-page` is specifically designed for Razor Pages. If your application only has controllers and actions, you'd need to use [`asp-controller`](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper#asp-controller) and [`asp-action`](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper#asp-action

[2018-02-10 17:20] #7337 closed

[2018-02-10 17:36] ckams commented on #7337
Wait, when you write "/Pages/Index.cshtml" you mean exactly `/Pages/Index.cshtml` (what I understood) or any page that matches this 'pattern' like `/Customers/Index`?
Because I do have pages like these, for example `/Customers/Index`…

[2018-02-10 17:38] cerebrate commented on #7338
@rynowak Thanks for your answer, and I apologize for bothering you again, but if you'd indulge a question or two on the greater-scope issue --

I've been looking at those tutorials again, and while I can create a project just fine using them, what I can't seem to do is host it inside another .NET Core application. I have rejiggered things as much as I can, but I can't seem to find a way to compile

[2018-02-10 17:44] pranavkm commented on #7337
Yes. `asp-page` takes the page name which is derived from the path. For instance,
 the page name for the file at `Pages/Customers/Index.cshtml` is `/Customers/Index`. Link generation looked for a file at `Pages/Index.cshtml` and could not find it. It then treats it as an ordinary route value which results in it being appended to the url. You'll see similar behavior if you do `asp-controller="NotEx

[2018-02-10 18:21] ckams commented on #7337
Okay, as [this part](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper#asp-page) is in MVC's doc, I thought that was mean Razor syntax… not Razor page.

Off topic, why Razor Page doc is inside MVC's doc, as Razor is not MVC but much more like MVVM?

Anyway thanks.

[2018-02-10 18:33] davidfowl commented on #7337
Razor Pages is part of the MVC framework ( as strange as that sounds)

[2018-02-10 20:21] dougbu opened #7345 "`RazorPagesOptions.RootDirectory` is (confusingly) used for two purposes"
The `RootDirectory` option controls both the root folder for pages not in an area and the relative folder for pages within an area-specific folder. The documentation for `RootFolder` doesn't cover this though the `AllowAreas` doc comments do mention the odd `<c>/{AreaRootDirectory}/AreaName/{RootDirectory}/</c>` folder choice.

For example, after changing `RootFolder` to `/`, I needed to move all

[2018-02-10 20:40] dougbu opened #7346 "Changing `RazorViewEngineOptions` or `RazorPagesOptions` breaks view searches within dependencies"
For example, in an application based on a template using Individual Accounts, changing `RazorPagesOptions.RootDirectory` to `/` makes all Identity-related pages return 404s. This is not (yet) a bug in Microsoft.AspNetCore.Identity.UI because MVC provides no independent way to control page location formats in libraries.

Because we intend to support 3rd party libraries containing pages and views, t

[2018-02-10 20:59] dougbu opened #7347 "Setting `RazorPagesOptions.AreaRootDirectory` and `RootDirectory` to same folder breaks all searches"
Change `Startup.ConfigureServices(...)` to include
[code]

Expected: At worst, some confusing between area-specific and non-area pages.
Actual: 404s for all pages, even full paths such as https://localhost:44312/About or https://localhost:44312/MyArea/Index

[2018-02-10 21:08] dougbu commented on #7347
Problem may be more general. 404s seem to be the new norm when only `AreaRootDirectory` is changed to `/`. In that case i.e. with `RootDirectory` set to its `/Pages` default, all page searches fail whether looking for an area-specific page or not.

[2018-02-10 21:26] dougbu opened #7348 "Setting `RazorPagesOptions.AllowAreas` to `false` does not disable area pages"
Change `Startup.ConfigureServices` to include
[code]

Expected: All area-related pages result in 404s.
Actual: See the usual content of pages such as https://localhost:44312/Identity/Account/Manage or https://localhost:44312/MyArea

Note either `CompatibilityVersion.Version_2_0` or `AllowAreas == false` should have been sufficient to disable areas.

[2018-02-10 22:32] dougbu opened #7349 "Do not require `pageName` parameters to start with a '/'"
`pageName` parameters in `PageConventionCollection` extension methods are documented as *relative* paths. Though the examples show leading slashes, it's unexpected that this extra character is required.

e.g.
[code]

[2018-02-11 07:27] dougbu opened #7350 "`[BindProperty]` does not work on controller classes"
The [ASP.NET Core 2.1 Roadmap](https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/#mvc) mentions placing `[BindProperty]` on a controller class will bind all properties in the controller. This is not the case.

For example, with
[code]
both `FirstName` and `LastName` are model bound. With
[code]
neither property is bound.

[2018-02-11 07:42] dougbu opened #7351 "Question: Why are `[BindProperty]` and `[BindNever]` in different namespaces?"
I suspect we can do nothing about this for back-compatibility reasons. But, it's strange `[BindProperty]` is in the Microsoft.AspNetCore.Mvc namespace while `[BindNever]` is in Microsoft.AspNetCore.Mvc.ModelBinding.

More generally, the split between the two namespaces leaves Microsoft.AspNetCore.Mvc.ModelBinding under-populated. Attributes in Microsoft.AspNetCore.Mvc include `[Bind]`, `[BindPrope

[2018-02-11 07:53] leonhoo opened #7352 "publish to linux, The method of stacktrace disappeared"
I'm testing by asp.net core ( microsoft/dotnet:2.0.3-sdk ), when I get the method of stacktrace, there is a problem;

result of running on windows:

[code]

result of running on ubuntu16.04:
[code]

where is the `"<GetOfController>b__2_0"` ?

***********source**********

Controller:
[code]

TestService:
[code]

[2018-02-11 22:45] ctolkien commented on #3173
I'd like to vote to bring this back...

Given:
[code]

You're already [generating a SHA256 hash on the file contents](https://github.com/aspnet/Mvc/blob/1c4b0fcdf38320b2f02c0bb7c31df5bd391ace07/src/Microsoft.AspNetCore.Mvc.TagHelpers/Internal/FileVersionProvider.cs#L111).

This value, base64 encoded, could be exposed as the `integrity` attribute along with adding the appropriate `cross-origin` att

[2018-02-11 23:02] CGollhardt commented on #3936
@rynowak regarding [this post](https://github.com/aspnet/Mvc/issues/3936#issuecomment-172104948) I am just wondering, why it could not be registered `AddScoped<>()`?

I am short before registering it myself, but want to be sure, I am not doing something realy bad.

[2018-02-12 05:15] dougbu opened #7353 "Add tests for `[BindingBehavior]` applied to page model properties"
Found while verifying #6811.

Though `IsBindingAllowed` and `IsBindingRequired` are likely now set correctly in `ModelMetadata` -- as part of the #6790 fixes, `[BindRequired]`, `[BindNever]` and so on do not impact model binding of page model properties.

For example
[code]
works as expected if the `Required` property is in a controller. But no model error occurs when the same property is in page

[2018-02-12 06:49] Eilon commented on #3173
Re-opening for discussion. The bug triage team will review again.

[2018-02-12 06:52] Eilon commented on #7351
What do you suggest be done?

[2018-02-12 06:53] HolyOne commented on #6832
Sorry I didnt understand the core concept at first. looked for static methods for some basic things a few months ago.
Now I understand. It is not hard but it is necessary complexity.

[2018-02-12 08:08] khellang commented on #3936
@CGollhardt Because it's resolved as a singleton and assigned the `HttpContext` on each request. That will also let you inject it into your own singletons, while still accessing the `HttpContext` in request-scope, without capturing the dependency.

See https://github.com/aspnet/HttpAbstractions/blob/f152b9863a5651755b8b9fef34e82a888562487e/src/Microsoft.AspNetCore.Http/HttpContextFactory.cs#L38-L4

[2018-02-12 08:43] khellang commented on #7343
I'm just thinking we can add a property, `RequireApiControllerAttribute`, to `ApiBehaviorOptions` and check that in `ApiBehaviorApplicationModelProvider`:

[code]

It would also be nice if there was a `UseApiConventions` method, like this:

[code]

A couple of things:

1. I realize that `RequireApiControllerAttribute` might be a bad name. Especially since `ApiBehaviorApplicationModelProvider` chec

[2018-02-12 13:39] Matthew-Bonner commented on #5326
For anyone else reading this see: https://www.strathweb.com/2017/04/running-multiple-independent-asp-net-core-pipelines-side-by-side-in-the-same-application/

[2018-02-12 14:59] pranavkm commented on #7347
We specifically disallow files that are under the area route to be reachable via their non-area route. They should however be routeable if they are located in `/[AreaName]/[FileName].cshtml`. What's the path of the files on disk?

[2018-02-12 15:17] dougbu commented on #7347
With the configuration shown above,
[code]
And, nothing is routable.

[2018-02-12 16:03] rynowak commented on #7349
We should improve the documentation. This is intended. Page names can appear in lots of places, and in some of them the leading `/` is semantically significant.

[2018-02-12 16:41] dougbu commented on #7351
It was a question. But, if the answer is "dunno" or "ooops" and not "shrug" or "by design", I suggest we add new attributes in the Microsoft.AspNetCore.Mvc namespace that work like `[BindingBehavior]`, `[BindNever]`, and `[BindRequired]`. The new attributes would also different names e.g. `[BindBehavior]`, `[BindingNever]` and `[BindingRequired]`.

[2018-02-12 16:48] leecow commented on #7329
Web site updates are unfortunately a high tough, largely manual process. It's on us to validate the links at release time to ensure the proper updates happened.

cc @rowanmiller

[2018-02-12 16:58] dougbu opened #7354 "`[BindProperty(BinderType = typeof(SimpleTypeModelBinder)]` no longer works"
Though we've added new constructors to most model binders in a backward-compatible fashion, the change actually breaks a scenario. For example, `[BindProperty(BinderType = typeof(SimpleTypeModelBinder)]` and `[ModelBinder(BinderType = typeof(SimpleTypeModelBinder)]` now result in
[code]

[2018-02-12 17:50] mkArtakMSFT commented on #7354
This is an effect of ActivatorUtilities/multiple constructors issue. This specific use-case is not common, so this is a low priority issue.

[2018-02-12 17:51] mkArtakMSFT commented on #7351
Those attributes are already released. Can't simply change it now.

[2018-02-12 17:51] #7351 closed

[2018-02-12 18:02] mkArtakMSFT commented on #7349
@dougbu, the example here does show the leading slash: https://github.com/aspnet/Mvc/blob/dbff416be60ad6accccb4afa33785e7db660152e/src/Microsoft.AspNetCore.Mvc.RazorPages/DependencyInjection/PageConventionCollectionExtensions.cs#L90-L96

Do you expect another line explicitly stating that it's required?

[2018-02-12 18:12] dougbu opened #7355 "`[BindProperty(Name = "...")]` property has unexpected impact if on page model class"
For example,
[code]
The `FirstName` property is bound to a ~~`firstname`~~ `the` field. ~~Neither `the` nor~~ `the.firstname` field~~s~~ will not bind to this property. That is, the class-level `Name` is not used as a prefix. A prefix is what I expected.

The `Name` property *does* work fine when the `[BindProperty]` (or `[Bind]` &hellip;) attribute is associated with a page model property. The pr

[2018-02-12 18:20] dougbu commented on #7349
@mkArtakMSFT I expect either the property setter would auto-add the leading slash when it's missing or the requirements would be clear in the doc comments. An example is not the same thing as a specified requirement.

Might also be clearer if the setter threw an `ArgumentException` rather than waiting 'til the convention sees the issue.

[2018-02-12 18:29] mkArtakMSFT commented on #7330
We just had a meeting about this and the solution we will go forward for ActivatorUtilities will be to take the only longest available public constructor for instantiation.

[2018-02-12 18:33] mkArtakMSFT commented on #7354
The real fix will be handled by a fix we consider for https://github.com/aspnet/Mvc/issues/7330

[2018-02-12 18:42] dougbu commented on #7355
Think my application had not completely rebuilt after I added the `Name` attribute. In the scenario shown above, `FirstName` is bound to a field named `the`. There is still some confusion e.g.
[code]
Though the `LastName` property does *not* have an override of the `Name` , it is bound to the `lastname` field.

It's also a surprising that the class-level `Name` is the default model name for all fi

[2018-02-12 18:47] Eilon commented on #7349
Property setters should not munge data. Allow valid input; throw on invalid input. The user needs to fix their code.

[2018-02-12 18:48] mkArtakMSFT commented on #7330
This issue was moved to aspnet/DependencyInjection#627

[2018-02-12 18:48] #7330 closed

[2018-02-12 18:49] dougbu commented on #7349
@Eilon I'm fine with non-munging (though we at least a few setters that munch `null` into `string.Empty`). Do you mean (a) change nothing or (b) add an `ArgumentException` in this setter?

[2018-02-12 18:52] Eilon commented on #7349
I just mean "should;" there are no absolutes (aside from this absolute!). null/empty-string is a trivial case, so not worried about that. This sounds like a case for throwing. No opinions on when/where it should throw.

[2018-02-12 20:05] WaedSaleh opened #7356 "Why .NET core is high performance than Full .Net"
What is making.Net core faster than Full.net when build MVC core application

[2018-02-12 20:27] dougbu commented on #7355
The general issue is `IModelNameProvider`, `IBinderTypeProviderMetadata`, and so on implementations on a property always override an implementation on the containing type, even when the `Name`, `BinderType` or whatever property value is `null`. It's great that users can override a class-level attribute but ugly this happens implicitly, especially with `[BindProperty]` because that implements a fai

[2018-02-12 20:30] dougbu commented on #7353
Note this issue basically means #6811 was not fixed.

[2018-02-12 21:07] dougbu commented on #7355
Another oddity:
[code]
The `LastName` property will *not* support GET requests. However if the applied attribute is instead `[BindProperty(BinderType = typeof(RandomModelBinder))]`, `LastName` will support GET requests. IOW, the two ways of specifying the binder type have unexpectedly different semantics.

[2018-02-12 21:30] khellang commented on #7356
Have you read https://blogs.msdn.microsoft.com/dotnet/2017/06/07/performance-improvements-in-net-core/?

[2018-02-12 21:40] jdmallen opened #7357 "Add a MaxValidationDepth option to ValidationVisitor"
### Updated description

`ValidationVisitor` has smarts to prevent re-validating an object that it has previously encountered. This addresses recursive relationships. However, some types in the BCL, such as `System.Security.Principal.SecurityIdentifier` that this bug reported, have recurisve relationships where instances are produced every time the property is queried. See image:

![image](https:/

[2018-02-12 22:28] rynowak commented on #7338
We're working on making this kind of thing easy in 2.1. You'll be able to see working with the identity UI in 2.1.0-preview1 and it will be easy for you to do in preview2.

[2018-02-13 00:00] pranavkm commented on #4604
Doesn't look like this is resolved. Testing with `2.1.0-preview1-28257`, here's what I see:

[code]

Reopening so we can track this for preview2.

[2018-02-13 00:15] dougbu opened #7358 "`[Validation]` attributes do not work for page model properties or page handler parameters"
For example, a page handler such as
[code]
should always return a `BadRequestResult` because the `hosta` header doesn't exist. Instead, the `ModelState` is valid and everything proceeds.

Notes: `[Validation]` attributes do work as expected for action parameters. The above problem applies to all `[Validation]` attributes, not just `[Required]`. And, the `[Validation]` attributes are ignored with o

[2018-02-13 00:31] jdmallen commented on #7357
Related: #4143, #5642

[2018-02-13 01:19] pranavkm commented on #7279
@grahamehorner sorry, I just got around to look at this issue. Your repro app seems to be deleted. Could you make it available again?

[2018-02-13 01:22] grahamehorner commented on #7279
@pranavkm yes no problem, it’s late here in uk so will do that ASAP and will repo in new project tomorrow thanks

[2018-02-13 03:20] javiercn opened #7359 "Consider marking RequireHttpsAttribute as obsolete"
We recommend that you do HTTPS redirection for the whole application using the HTTPS redirection middleware instead. This has the advantage that it works across multiple environments and detects the appropiate ports automatically in the most common cases during development and production.

The scenario where only part of your app is HTTPS is still supported (although discouraged) by using the midd

[2018-02-13 06:01] Eilon commented on #7359
Some thoughts/questions for the sake of discussion:
1. Are there any scenarios where `RequireHttpsAttribute` still makes sense?
2. Exactly what would the obsolete message say? (I.e. what's the replacement API?)
3. I like the idea of the new attribute that is proposed - can you log a separate bug for that?

[2018-02-13 06:50] dougbu opened #7360 "`[Required]` rarely detects errors in top-level nodes"
`[Required]` on top-level nodes works with `string` and few other types. This goes beyond `ValueType`s, the usual `[Required]` / `[BindRequired]` discussion point. (That part's inherent in `[Required]`'s semantics.) `[Required]` also does not catch the expected errors on pretty much any collection or complex type if it's a top-level node.

Consider the following action and a `<form>` containing no

[2018-02-13 11:19] WaedSaleh commented on #7356
Thank you @khellang

[2018-02-13 11:42] grahamehorner commented on #7279
@pranavkm please see GitHub repo https://github.com/grahamehorner/AspNetCoreIssues

[2018-02-13 14:25] slawomir-brzezinski-at-interxion commented on #4311
Exceptions **are** a tool for control flow. Specifically, for clearing them off the actual, most important cause for the method to exist, which BTW, makes the method signature simpler and responsibility quicker to grasp.

Performance of exceptions [is not an issue](https://stackoverflow.com/a/161965/4356868), if someone is not expecting 'invalid traffic en-masse' (then, it's very easy - the featur

[2018-02-13 15:31] ExcaliburVT opened #7361 "Dependency Injection for IClientModelValidator"
I realize this is a edge case and perhaps someone can offer an alternative I have not thought of.

Example:

Policy "PrivilegedUser" defined by user having one or more of a set of claims.

Data entry form has field X, Y and Z.  Non-Privileged users are required to enter all 3 but PrivilegedUsers are required only for the first two.

I can create a validation attribute for domain objects that recog

[2018-02-13 17:51] mkArtakMSFT commented on #7361
Hi @ExcaliburVT .

You can get to `HttpContext` from the AddService method, navigating through the `context` as follows:
[code]

From there you can also access the `RequestServices` and have access to anything you have had configured in Startup.

[2018-02-13 17:52] #7356 closed

[2018-02-13 17:54] ExcaliburVT commented on #7361
@mkArtakMSFT Exactly what I was looking for.  Didn't realize it was buried in the HttpContext thank you!

[2018-02-13 17:54] #7361 closed

[2018-02-13 17:58] mkArtakMSFT commented on #7360
Hi @dougbu. Will this behavior repro for not only `int[]` but any other arrays/objects too?
In other words, will this also always result in `ModelState.IsValid` to be true:

[code]

[2018-02-13 18:04] mkArtakMSFT commented on #7359
Thinking about static resources - what is the benefit of having things like images to transferred over HTTPS? @javiercn, @Eilon

[2018-02-13 18:07] Eilon commented on #7359
To ensure they came from the origin you expect, that they haven't been tampered with, and to prevent eavesdropping. Same as for any other HTTPS scenario.

[2018-02-13 18:11] dougbu commented on #7360
@mkArtakMSFT please see the first paragraph of the description above. `int[]` is just an example.

[2018-02-13 18:18] mkArtakMSFT commented on #7357
Thanks for reporting this issue, @jdmallen. Could you please share with us a small project to repro the issue, so we can investigate it?

[2018-02-13 18:22] mkArtakMSFT commented on #7358
I assume this is just a feature gam, where Razor Pages don't follow the same model. @danroth27 , is this something we should build up to work similar to mvc actions?

[2018-02-13 18:26] jdmallen commented on #7357
Sure, I can do that either late tonight or tomorrow evening.

[2018-02-13 18:27] danroth27 commented on #7358
I would think so, yes.

[2018-02-13 18:48] dougbu opened #7362 "Page routing silently falls back to generic handler when named handler does not exist"
For example, if Index.cshtml contains
[code]
and the corresponding page model contains only
[code]
the `OnPost(...)` handler will execute. I expected a 404 in this scenario.

The behaviour is the same for `@page` and `@page "{handler?}"`.

The chosen handler method is logged. But, there's no mention of failing to find the `OnPostIntegral(...)` handler. Should at least warn for this case because it

[2018-02-13 18:56] Eilon commented on #7362
What URL got generated in the rendered `<form ...>` tag?

[2018-02-13 18:58] mkArtakMSFT commented on #7358
@NTaylorMullen, can you please confirm that we indeed don't have this area covered and that this is not a bug.

[2018-02-13 18:59] javiercn commented on #7359
Pretty much what @Eilon mentioned. Some concrete examples:
* If you serve a script over HTTP on an HTTPS origin, it will not execute (it's what is called active content)
  * If for some reason the script were to execute, I would be able to evaluate random code on your web page, which means everything else useless.
 * Some wireless endpoints have been know to use proxies to inject content on the pa

[2018-02-13 19:16] dougbu commented on #7362
With `@page "{handler?}"` in Index.cshtml, `<form>` tag helper generates `action="/Integral"`. With bare `@page`, `<form>` tag helper generates `action="/?handler=Integral"`. I'm more surprised the first does not result in a 404 than the second.

[2018-02-13 19:40] javiercn opened #7363 "Create a new [Https] attribute that enforces HTTPS on a given endpoint"
This is useful for libraries that expose endpoints to enforce that HTTPS is used on the environments they are consumed. For example libraries with UI for authentication flows. The attribute (and associated filter) will send back a 400 on incoming HTTP calls and will possibly allow you to configure a callback to know that this is happening (for example to revoke/blacklist disclosed credentials).

[2018-02-13 20:26] dougbu commented on #7358
Updating title because validation also produces no errors when binding a page model like the following and nothing is submitted:
[code]
I've tried a couple of `[Validation]` attributes and property types. The results are the same.

[2018-02-13 20:37] NTaylorMullen commented on #7008
This issue was moved to aspnet/Razor#2065

[2018-02-13 20:37] #7008 closed

[2018-02-13 20:58] NTaylorMullen commented on #7358
Investigated and talked with folks. Here's what I found:

- It's an oversight that `public IActionResult OnGet([FromHeader, Required] string hosta)` does not change `ModelState.IsValid` when not provided.
- It's a bug that
[code]
doesn't result in `ModelState.IsValid` being false when not provided.

@pranavkm mentioned that he's going to start working on a fix for the bug.

[2018-02-13 21:13] vankampenp opened #7364 "Antiforgery Token could not be decrypted"
This seems related to this issue: https://github.com/aspnet/DataProtection/issues/233

On my production server, even under small load, I am getting decryption errors in the log:
Microsoft.AspNetCore.Antiforgery.Internal.DefaultAntiforgery: An exception was thrown while deserializing the token. The antiforgery token could not be decrypted.

I am using Microsoft.AspNetCore.All 2.0.5

With the workar

[2018-02-13 21:35] dougbu opened #7365 "`[FromHeader]` controller and page model properties use root `ModelState` entry"
For example, with the following page model
[code]
`ModelState` will contain a **visible** root note with the value `localhost:44394` (or similar).

The workaround is to use `[FromHeader(Name = "Host")]` instead of `[FromHeader]` or to add `[BindProperty(Name = "Host", SupportsGet = true)]`. (`SupportsGet` setting is needed to maintain "always bind" semantics of the original attribute.)

[2018-02-13 22:29] rynowak commented on #7362
This is by design. This is how routing works.

[2018-02-13 22:30] VAchris opened #7366 "asp.net core 2, iis express and client certificates"
I'm developing w/VS2017 using asp.net core 2.0.1 with IIS express. My problem is I cannot get IIS express to negotiate for a SSL client certificate.

I have tried editing the applicationhost.config located in the \.vs\config folder of the project by changing the `<access sslFlags="None" />` to  `<access sslFlags="Ssl, SslNegotiateCert" />`

I have also tried requiring a certificate using `<access

[2018-02-13 22:51] mkArtakMSFT commented on #7362
@danroth27, @DamianEdwards, @Eilon do you think we should change the design here to not silently redirect but to behave exactly as instructed?

[2018-02-14 00:34] dougbu commented on #7362
@rynowak where else do we have fallbacks to a more-generic route (a shorter template, not a template that ends with `/*`). I.e. is your "how routing works" statement specific to pages?

@mkArtakMSFT if this is how page routing works, even when using the `handler` route value option, :ok: (mostly). Suggest we at least need some logging to help users figure out what's going on when the fallback was

[2018-02-14 02:12] NickCraver opened #7367 "Proposal: Helper to make sorting link generation easier"
A common scenario I run into is needing to use the current query string (action parameters) and change 1 for the purposes of sorting or filtering (e.g. a search query against the current other filters). Let's take an example:
[code]
In the view, I have a table with columns with headers that are sorting links.  Let's say I have 3 columns so the headers look like this:
[code]
Currently, generating t

[2018-02-14 02:20] CoderJason123 opened #7368 "app.UseExceptionHandler Mvc on a mac crashes dotnet"
Hello.  I have an mvc aspnet core 2.0 app and started testing exceptions.  I am throwing all sorts of exceptions to test, regular exception, unauthorized exception, and so on, and the global error handler does not work.

Dotnet crashes and the mvc app is no longer receiving requests.  I've placed
           app.UseExceptionHandler() before app.UseMvc().  No difference.  The only thing I see differ

[2018-02-14 02:52] benaadams commented on #7368
Are you using `async void` methods rather than `async Task` or queuing items directly to threadpool?

[2018-02-14 02:54] CoderJason123 commented on #7368
All of my controller methods are like this..so async await all the way thru.  no voids.  it's like it skips the exception handler altogether.

  public async Task<HttpResponseMessage>

[2018-02-14 04:47] davidfowl commented on #7368
Doesn’t look like the exception is happening on a request thread.

[2018-02-14 06:12] Eilon commented on #7368
@CoderJason123 can you post your app to a GitHub repo so we can take a look?

[2018-02-14 07:19] khellang commented on #7368
`ThreadPoolWorkQueue.Dispatch()` looks suspicious. Unhandled exceptions on thread pool threads has always been problematic.

[2018-02-14 07:20] davidfowl commented on #7368
They crash the process 😄

[2018-02-14 08:27] khellang commented on #7368
Exactly 😉

[2018-02-14 08:35] johnkors commented on #5992
Installing works OK, so if you're not able to install - that sounds seperate to the issue at hand here @wpitallo .

- Check you've added the myget feed to your nuget.config.
- If you're  using VS, please restart VS after modifying nuget.config. It seems to have some caching that a restart of VS resolves.

[2018-02-14 13:00] CoderJason123 commented on #7368
everyone, if you take the dotnet new mvc app, and make everything async, that is what is I have, literally.  i have not created thread pools manually or anything else.  The stack trace gives me little to go on, as you can see.  Is this a problem because I'm using async controllers?

[2018-02-14 13:15] davidfowl commented on #7368
I don't think it has anything do with async controllers. I think there's code in your application that's either using async void or scheduling work on the thread pool and an exception is being thrown from it.

What is this file and what is on line 75?

[2018-02-14 13:18] CoderJason123 commented on #7368
@davidfowl -- that is just my service.  My controller calls my service which does the work and business logic.  I really wish I could get on board with folks telling me I'm scheduling work on a thread pool or doing an async void, but I am not.  So, nothing directly.  But, I am willing to investigate something in the framework that is doing this under the covers.

[2018-02-14 13:33] CoderJason123 commented on #7368
Guess what, you guys were right, i was wrong.  How's that for eating your own words?  The code that threw an exception was an async void because all i needed it to do was throw an exception if a data condition didn't exist.  I changed it to async task<bool> and all is well.

[2018-02-14 15:55] pranavkm commented on #7348
Is this specifically with pages from a precompiled class library? I can't reproduce this with files on disk.

[2018-02-14 16:35] weitzhandler commented on #6584
1. What is the difference between `AddMvc` and `AddMvcCore`, and which one should I use when using ASP.NET MVC Core?
2. If `AddMvcCore` is the answer to the previous question, is it essential it should be added after `AddMvcCore` or order doesn't matter?

[2018-02-14 16:43] dougbu commented on #7348
No, problem wasn't specific to area pages in a library. I also cleaned and rebuilt my solution a few times to ensure I wasn't testing older code. Then again, my test app does use area pages from a library -- the Identity.UI pages in particular.

Which SDK build are you testing with? I'm using 2.1.300-preview1-008117.

I'll test this again with 2.1.300-preview1-008123 later today.

[2018-02-14 17:13] lugrugzo opened #7370 "[BindProperty][BUG] How ModelState validation is calculated?"
I have a few **BindProperty** in my Page:

[code]

Only **DepositBankInput** & and **WithdrawalInput** have validation attributes(Required and Range). I used them for "asp-for" attributes. I also have two form in that page with following handler signatures:

When I post to **OnPostDepositBankAsync()**, it validates **WithdrawalInput** too, which I don't want (it should only validate **DepositBankI

[2018-02-14 17:49] mkArtakMSFT commented on #7370
Hi @lugrugzo. Can you please share the project (or even a simplified version of it) using which we can repro the issue? That'll help us with investigation. Thanks!

[2018-02-14 17:54] mkArtakMSFT commented on #7362
@dougbu, don't we already have logging where we choose which handler to choose? If not, please file a new issue specifically for that.

[2018-02-14 18:00] dougbu commented on #7348
Turns out the problem was my `Startup` calls `IdentityBuilder.AddDefaultUI()`. This has the unexpected behaviour of enabling a `IPostConfigureOptions<RazorPagesOptions>` implementation (`IdentityDefaultUIConfigureOptions<{IdentityUserType}>`) which **overrides** this user's `RazorPagesOptions.AllowAreas` setting.

Side note: That configuration setup also overrides user `StaticFileOptions.FileProvi

[2018-02-14 18:01] mkArtakMSFT commented on #7348
@dougbu, can you please confirm this is not the case for usual (local) views? /cc @javiercn

[2018-02-14 18:02] dougbu commented on #7348
This issue was moved to aspnet/Identity#1626

[2018-02-14 18:02] #7348 closed

[2018-02-14 18:16] mkArtakMSFT commented on #7367
@DamianEdwards any thoughts?

[2018-02-14 18:22] lugrugzo commented on #7370
I've created it here: https://github.com/lugrugzo/RazorPagesValidationIssue
That problem still occurs for me with that configuration.

[2018-02-14 18:22] mkArtakMSFT commented on #7366
@javiercn, do you have any thoughts regarding how we can help @vachris? Thanks!

[2018-02-14 19:00] pranavkm commented on #7260
@blowdart do you want to take this? @dougbu or I could explain the workflow.

@dougbu do we have write up on how model expressions are interpreted in Mvc? We could add those to our docs.

[2018-02-14 19:07] blowdart commented on #7260
@iscifoni How do you think this is code injection attack? Everything put in the form is HtmlAtrributeEncoded. Sure, you can inject a value into a form, but it's just going to be a value because it's encoded.

[2018-02-14 19:15] dougbu commented on #7260
@pranavkm the interpretation of a model expression i.e. where the value will be found is covered pretty thoroughly for HTML helpers in their doc comments. But, we have nothing similar for tag helpers.
- **Hint** Tag helpers work about the same as the corresponding expression-based HTML helper e.g. `<textarea/>` interprets `asp-for` about the same way `Html.TextAreaFor(...)` interprets the passed e

[2018-02-14 19:25] pranavkm commented on #7279
@grahamehorner `ViewDataDictionary` is property activated, the property value is replaced by the property activated instance after the controller is instantiated blowing away the instance that was mutated in the constructor. This behavior is documented in https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controller.viewdata?view=aspnetcore-2.0#Remarks. The fact that the property

[2018-02-14 19:40] mkArtakMSFT commented on #7365
@dougbu , what is the expected behavior here?

[2018-02-14 19:47] pranavkm commented on #7279
https://github.com/aspnet/Mvc/pull/7371 adds more clarity to the remarks section.

[2018-02-14 19:48] ajaybhargavb opened #7372 "Razor page from class library not found if another cshtml(not razorpage) exists at the same path in the referencing app"
Repro:
- Create a page Foo.cshtml in the class library (With precompilation enabled) which contains `@page "/foo"` at the top of the file
- Create an app referencing the class library and create a regular razor file (not page) Foo.cshtml in the same relative location
- Run the app and go to localhost:5001/foo

Expected:
Finds the page from the class library

Actual:
404

Note: This is not a very c

[2018-02-14 19:52] dougbu commented on #7365
I would expect `[FromHeader]` on a property named "Joe" to work identically to `[FromHeader("Joe")]` on the same property.

[2018-02-14 19:53] mkArtakMSFT commented on #7364
@natemcmaster, is did we regress this? According to the referenced issue this has been fixed a while ago.

[2018-02-14 19:56] natemcmaster commented on #7364
There are lots of reasons a token could not be decrypted. I would need to see more details. cc @blowdart

[2018-02-14 20:00] grahamehorner commented on #7279
@pranavkm while I understand why the activator would initialise the propriety when the construct is not present or if the property is not initialised, IMHO I would have expected the values not to be overwritten when explicitly set in the constructor of the controller or a based class. Is this the same for ViewBag ? what was the reason/decision behind clearing/wiping the ViewData when set in a cons

[2018-02-14 20:06] pranavkm commented on #7279
@grahamehorner the fact that it's non-null in the ctor is a side-effect of supporting unit testing for controllers. It's initialized with incorrect values so using it as part of initialization would be incorrect. We could have it throw if it's not-empty, but I'd like to see if having the updated documentation is a sufficient deterrent.

[2018-02-14 20:59] grahamehorner commented on #7279
@pranavkm definitely needs to be called out, hopefully other won’t fall into the trap of using ViewData in the constructor, for a work-around I’m using DI to injection a IDictionary that I pass around and populate in the constructor and base class. Thanks for looking at this, and yes IMHO an exception or a compiler error is preferable to nothing.

[2018-02-14 21:14] javiercn commented on #7372
This is expected (by design). The contract is that whatever .cshtml file in your app that is at the same path than something compiled in a library wins over it. We don't make any distinction on whether it is a view or a page.

[2018-02-14 21:24] javiercn commented on #7366
@blowdart @BillHiebert Do you guys know anything about this?

[2018-02-14 21:33] stevenbey opened #7373 "Assigning to the context's Result property, when implementing IPageFilter, causes an exception."
Common logic, within an MVC Action or Razor Pages Handler, is to check, immediately, whether the ModelState is valid and, if not, return the View, Page or a Bad Request result (see Figure 1).

To eliminate this repeated code pattern, I have created an Action Filter that performs the check and, when appropriate, assigns a new `BadRequestObjectResult` to the context's `Result` property (See Figure 2

[2018-02-14 21:40] rynowak commented on #7373
Based on the call stack, this looks like an actual functional bug. Thanks for the report!

[2018-02-14 21:44] blowdart commented on #7366
IIS Express - @shirhatti ?

[2018-02-14 21:55] shirhatti commented on #7366
@VAchris Did you add [`<iisClientCertificateMappingAuthentication enabled="true"></iisClientCertificateMappingAuthentication>`](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/authentication/iisclientcertificatemappingauthentication/)
 to your config?

[2018-02-14 22:00] mkArtakMSFT commented on #7364
@vankampenp , can you please share with us a small repro project, so we can investigate it? Thanks!

[2018-02-14 22:54] javiercn opened #7374 "Enable PartialTagHelper to take in constructed model types."
[code]

Throws an exception. This is possible with
[code]

so its a gap in the current `<partial>` tag helper.
The workaround is to put the expression in a temporary variable and do `asp-for=@variable`

[2018-02-14 23:17] vankampenp commented on #7364
It is a bit hard to make a repro project and try it on the production server. I do have more info. Please see the log of the event below. Please let me know if this helps. Otherwize I can try to find the smallest repro project. I first had [AutoValidateAntiforgeryToken] on the controller and removed that to see if the problem was related to that, as it seems that it is trying to get an Antiforgery

[2018-02-14 23:18] blowdart commented on #7364
Is this a SPA app by any chance?

[2018-02-15 00:02] NTaylorMullen commented on #7374
Duplicate of https://github.com/aspnet/Razor/issues/2065

[2018-02-15 00:08] dougbu commented on #7362
@mkArtakMSFT we log about the handler chosen but not the handlers considered (that I've seen).

In any case, the larger issue might be documentation, might be a missing feature, or something else. Took a bit of experimentation i.e. perhaps missing documentation, but I've found handlers are 100% optional even in page models containing handlers. For example, a page model containing just `public void

[2018-02-15 00:27] dougbu opened #7375 "Unable to use method name with `asp-page-handler`"
With a page model containing
[code]
and a page containing
[code]
Clicking "Save nothing" causes a 404 response, not execution of the named handler method. This feels very much like the oft-complained-about inability to use `<form method="post" controller="@nameof({ControllerClass})">`. (That one mainly has a back-compatibility rationale.)

Suggest we either change page routing to look for a method

[2018-02-15 01:55] NTaylorMullen opened #7377 "Move to RazorProjectEngine."
MvcRazorTemplateEngine isn't used any more. Use RazorProjectEngine.

[2018-02-15 05:29] javiercn commented on #7374
Reopening because I want a decision from triage on whether we fix asp-for or we add an asp-model property to support these cases.

[2018-02-15 05:47] Eilon commented on #7375
1. Is there something missing from the bug's title?
2. What exactly is the issue here? That the C# identifier doesn't match the `handler` of the `<form>`? That's by design and we really don't like doing fallbacks. Fallbacks are their own source of pain. We just have 1 way to do things and you either do it that way or you customize the system. (Yes, exceptions to this abound, but it's a route we tr

[2018-02-15 05:50] DamianEdwards commented on #7362
This is all by design. Nothing here makes me want to change any of it.

[2018-02-15 05:54] DamianEdwards commented on #7375
Like Eilon says, this is by design. The method name conventions can be changed by folks who feel super strong about them, but these are the defaults.

[2018-02-15 06:16] dougbu commented on #7375
Could one of you please catch me tomorrow and spell out the rationale for this design? I get the leaning away from fallbacks. I'm not understanding why the system needs to prepend `On{HTTP Method}` to the `handler` route value (only one method is of interest per form).

[2018-02-15 06:19] dougbu commented on #7362
@DamianEdwards :ok: then should I move this issue to the Docs repo?

[2018-02-15 06:22] DamianEdwards commented on #7367
I agree this is a fairly common scenario and the solutions today are cumbersome. I also like the proposal of overloading the existing `asp-all-route-data` when used with no value to mean "give me all the current route params". This seems logical and I believe would be non-breaking.

Interested in @rynowak and @pranavkm 's thoughts. If this is fairly cheap, I'd consider it a candidate for 2.1.0-pre

[2018-02-15 06:31] DamianEdwards commented on #7375
It was an aesthetic choice more than anything. We looked at a bunch of options during the development of pages and settled on this one, while making the conventions changeable. We said we'd explore adding further pre-defined conventions that folks could choose from if we got strong feedback, but we didn't, so we haven't. I don't see a need to revisit this again.

[2018-02-15 06:32] DamianEdwards commented on #7362
If you feel something should be added to docs regarding how handler selection works, go for it.

[2018-02-15 09:07] vankampenp commented on #7364
It is multi-page, with the html rendered server side as razor pages. But there are some SPA like aspect, such as loading the pages through AJAX, and having one entry point to the app (with no user links).
However, in the part where it has the error above, there is no AJAX loading yet.
BaseController.Index in most cases would return Index.cshml, but in this particular use case redirects to BaseCont

[2018-02-15 10:40] jo-ninja opened #7378 "Question: Why model accessor is swallowing NullReferenceException?"
### Minimal repro steps
1. Enable Visual Studio 2017 Exception Settings: System.NullReferenceException
2. Create custom class ViewModel, ex: SampleViewModel
3. Add MVC View using Visual Studio Add View dialog.
    - View name: Sample
    - Template: Create
    - Model: SampleViewModel

4. Add new Sample action on controller and return View() without passing our SampleViewModel object
5. Access the

[2018-02-15 16:08] pranavkm commented on #7374
cc @DamianEdwards , thoughts on this?

[2018-02-15 16:31] DamianEdwards commented on #7374
Is this true for all ModelExpression properties? I see the linked bug says we regressed this from 1.x which makes me inclined to investigate a fix.

[2018-02-15 16:35] jdmallen commented on #7357
Here you go. Turns out the DirectoryServices project was not part of the problem.

https://github.com/jdmallen/model-binding-bug-demo

[2018-02-15 16:36] pranavkm commented on #7374
It wasn't a regression, I tried a 1.1 application and the problem was the same there. It's a bug \ limitation of the parser, but not a regression.

[2018-02-15 16:39] pranavkm commented on #7374
To add to my previous comment, the question here is - do we need to add a `object Model` property to `PartialTagHelper` that lets you workaround the parser bug until we address it?

[2018-02-15 16:54] mkArtakMSFT commented on #7365
@dougbu, can you please also validate that the behavior in 2.0 is the same as what you observed here?

[2018-02-15 16:55] dougbu commented on #7365
:ok: I'll check w/ the earlier release.

[2018-02-15 17:15] DamianEdwards commented on #7374
Is this uniquely an issue with the PartialTagHelper? If so, we could add a model property to allow setting directly, or we could fix the parser bug. I'm slightly concerned about having two ways to set the partial model that folks have to decipher.

[2018-02-15 17:20] mkArtakMSFT commented on #7357
Thanks @jdmallen.
@pranavkm , can you please look into this? Thanks!

[2018-02-15 17:38] pranavkm commented on #7374
The parser issue isn't unique to partials, but passing a  `new PartialModelType` is a partial-ism. @NTaylorMullen said the Razor issue was assigned to the 2.2.0 milestone, so it might not be a very long wait to get this resolved.

[2018-02-15 17:50] DamianEdwards commented on #7374
Ok, I think we need to add the other property then. Not being able to simply pass a new instance of a type to the partial is bad. Also, while we're at it, the attribute should be 'for' not 'asp-for' as this is a custom element.

[2018-02-15 17:58] dougbu commented on #7365
Not a regression because this behaviour matches 2.0 ☹️

[2018-02-15 17:58] mkArtakMSFT commented on #7362
Thanks folks! Closing by-design.

[2018-02-15 17:58] #7362 closed

[2018-02-15 18:01] #7375 closed

[2018-02-15 18:11] pranavkm commented on #7374
So that I understood the asks correctly:

* Rename `asp-for` -> `for`. Does this need to go in to preview1?
* Add a new `object model` property on `PartialTagHelper`. We'll only allow setting, one of the `for` attribute or the `model` attribute.

[2018-02-15 18:56] NTaylorMullen commented on #7374
Why not just re-prioritize the general `ModelExpression` issue? I'm strongly against adding a `model` attribute to work around a bug.

[2018-02-15 19:15] NTaylorMullen commented on #7374
Ok talked a lot offline and @dougbu enlightened us that having `for` support `new XYZ` could never work (even if parsing allowed it). Therefore, we'll need to have both. Pranav's listing of the asks is what we'll need to do; not as a workaround but in order to fully support all scenarios.

[code]

[2018-02-15 19:17] NTaylorMullen opened #7379 "Rename PartialTagHelper asp-for to for"
The `PartialTagHelper` is a brand new element and therefore we shouldn't be prefixing the for property on the `TagHelper`

/cc @pranavkm

[2018-02-15 19:52] mkArtakMSFT commented on #7378
@rynowak, do you have any thoughts regarding this?
I feel like there are some historical reasons for this, which I'm not sure are valid any more.

[2018-02-15 20:01] rynowak commented on #7378
The model object will be null when you have a "Create" view - this is a mainline scenario.

That means that a form like:
[code]

That wants to access `Model.CustomerId` will have to deal with the model being null in a mainline scenario.

As to why our strategy is to **specifically* handle nullref in this common scenario.. it's an old issue that no one has fixed. We could do what the post suggests

[2018-02-15 20:26] pranavkm commented on #7260
We updated the docs to include a snippet about possible sources for a model expression. See https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms#expression-names.

[2018-02-15 20:26] #7260 closed

[2018-02-15 20:38] javiercn commented on #7374
@NTaylorMullen why will asp-for never work for random expressions?

[2018-02-15 20:59] achandlerwhite commented on #7260
@pranavkm  Awesome, thanks!

[2018-02-15 22:33] pranavkm commented on #7367
@NTaylorMullen should be able to correct me, but afaik minimized attributes only work on boolean property types. In this case, the property backing `asp-route-data` would be a dictionary. Supporting this might require changes in the parser, making it perhaps not too cheap.

[2018-02-15 23:08] NTaylorMullen opened #7381 "Remove service registration of Legacy Razor compilation infrastructure"
Today we have service registrations for non-breaking reasons for the `RazorProject`, `MvcRazorTemplateEngine` and `RazorEngine` types. Now that we've moved to `RazorProjectEngine` we can remove all of these registrations in the next major release.

[2018-02-15 23:09] NTaylorMullen opened #7382 "Remove RazorProject ViewEngine constructor"
It's currently marked as obsolete. In the next major release we should remove it.

[2018-02-15 23:16] NTaylorMullen commented on #7374
Because `asp-for` dives the lambda expression tree looking for a name to use. In the case of `new XYZ()` there's no name to consume (which is why when saving it to a variable it uses the variables name as the "name"). @dougbu said it's a restriction that's been there for even Html helpers in the past for expression based methods.

[2018-02-16 00:00] dougbu commented on #7375
FYI only: It's relatively simple to change handler names to match method names. For example,
[code]

[2018-02-16 00:16] javiercn commented on #7374
@NTaylorMullen Can't the name just fallback to ""? Maybe not by default, but at least when we tell the underlying system to do so? There are cases in which it would be useful, like this one.

[2018-02-16 00:19] DamianEdwards commented on #7367
Yet another case to support attribute overloading on Tag Helpers, sigh. One day.

[2018-02-16 00:30] NTaylorMullen commented on #7374
@dougbu ?

[2018-02-16 00:34] NTaylorMullen commented on #7377
608330dc8641920e011a4098ac8bfdb3a826a653

[2018-02-16 00:34] #7377 closed

[2018-02-16 00:39] dougbu commented on #7374
@javiercn I mixed up two places we restrict lambda expression nodes. Your issue is likely about an inability to get `ModelMetadata` for the expression, not about expression names. Put another way, I was thinking about (1) but your issue is (2).
1. `ExpressionHelper` is the one that recurses through the entire expression tree and deals with expression names. It just shortens the name when it hits a

[2018-02-16 01:47] rynowak commented on #7367
A simple or cheap way to do this would be to add a new parameter like `asp-add-route-data`. It's not exactly what's being proposed here, but it doesn't require a language change, and I personally like it better, because it's semantically distinct from the things you can do today (`add` is in the name).

I'm down on language changes for this kind thing unless we're interested in take a bigger look

[2018-02-16 05:07] Eilon commented on #7382
Not a task, but is a breaking change.

[2018-02-16 13:33] #7289 closed

[2018-02-16 14:08] lugrugzo commented on #7370
Any updates on this?

[2018-02-16 16:52] Waqas-Zamir commented on #5724
Thanks @rynowak it really helped me.

[2018-02-16 17:37] mkArtakMSFT commented on #7370
@dougbu, can you please look into this? Thanks!

[2018-02-16 17:47] mkArtakMSFT commented on #7378
Let's keep this bug to try to reduce the cases where NullRef can be thrown. I understand we won't be able to eliminate all those cases, but reducing it, especially if it'll be relatievely easy effort, will be great.

[2018-02-16 17:49] mkArtakMSFT commented on #7365
Ok, then it seems there is no issue here.

[2018-02-16 17:49] #7365 closed

[2018-02-16 18:15] mkArtakMSFT commented on #7363
EnforceHttpsAttribute will be an option...

[2018-02-16 18:18] #7279 closed

[2018-02-16 18:19] mkArtakMSFT commented on #7359
Let's have this around for now. We can come back to this in the future.

[2018-02-16 18:19] #7359 closed

[2018-02-16 18:36] NTaylorMullen commented on #7382
Ah, didn't realize we had a label 😄

[2018-02-16 18:40] mkArtakMSFT commented on #7379
@DamianEdwards, any thoughts?

[2018-02-16 18:42] mkArtakMSFT commented on #7379
Seems this has already been discussed and agreed upon on the other thread https://github.com/aspnet/Mvc/issues/7374

[2018-02-16 18:45] mkArtakMSFT commented on #7379
Is "for" name even good enough?

[2018-02-16 18:57] mkArtakMSFT commented on #7360
Closing this as this seems to be by-design and changing behavior will be a breaking change, which is undesirable.

[2018-02-16 18:58] mkArtakMSFT commented on #7212
The packages now are available. @dougbu

[2018-02-16 19:01] mkArtakMSFT commented on #6633
@NTaylorMullen, how easy will this be to accomplish?

[2018-02-16 19:03] mkArtakMSFT commented on #6372
@kichalla, @rynowak has confirmed that this hasn't been fixed. We should do that.

[2018-02-16 19:08] NTaylorMullen commented on #6633
@mkArtakMSFT depends on how thorough we want to be. If we're ok on relying on generating Razor output on build then this wouldn't be too rough. If we're not ok with that then we'll have a bit of work on our hands to make our leading directive parser continue parsing until it hits non-directive content (lots of work).

[2018-02-16 19:17] Eilon opened #7386 "Default Model Name"
_From @hishamco on February 14, 2018 23:3_

What I see quite often in almost if it's in all the Razor Pages, that we need to specify the model using the `@model`
[code]
for Product.cshtml, and
[code]
for Customer.cshtml

Can we introduce a new option that allow us to set the model by convention `{PageName}Model` unless we need to use a different name

_Copied from original issue: aspnet/Home#2877_

[2018-02-16 19:17] Eilon commented on #7386
_From @mkArtakMSFT on February 14, 2018 23:36_

Thanks @hishamco for your proposal. @rynowak this can eliminate the need for the explicit `@model` type definition. Will anything prevent us from supporting this?

[2018-02-16 19:17] Eilon commented on #7386
_From @mkArtakMSFT on February 14, 2018 23:37_

@DamianEdwards FYI

[2018-02-16 19:17] Eilon commented on #7386
@mkArtakMSFT can you move to the appropriate repo? Not sure if this is MVC or Razor.

[2018-02-16 19:17] Eilon commented on #7386
_From @hishamco on February 15, 2018 12:38_

@Eilon can I move this to MVC, or @mkArtakMSFT has a suitable way to move it

[2018-02-16 20:19] VAchris commented on #7366
@shirhatti  nope I did not add it; I'm not mapping a certificate to one or many user accounts. also it's not needed when I run my app in IIS.

if you'd like me to try that i can. what account would I map it to?

[2018-02-16 21:51] sebastienros commented on #6371
@mkArtakMSFT yeah, what's the status of this?

[2018-02-16 21:56] Eilon commented on #6371
Hey what's the status of this?

Just kidding. @sebastienros , is this something you want to contribute so you can consume for Orchard Core? We're open to that. But otherwise it won't happen in 2.1.

[2018-02-16 21:58] sebastienros commented on #6371
Fair enough, I'll ask my manager if I can work on it.

[2018-02-16 22:42] rynowak opened #7387 "Consider having precompiled views/pages throw when there is a conflict between views provided by two LIBRARIES"
Today we support disambiguation between precompiled views using a rule that a view present in the **application** can win over views present in libraries.

If you have a **conflict between libraries** the result is implementation defined, but will not throw.

@DamianEdwards and I think we should reconsider this approach, it's not very friendly and which it's consistent with File Providers, it's no

[2018-02-16 23:14] dougbu commented on #7360
Reactivating after a quick confirmation chat w/ @rynowak.

There's no breaking change if we fixed this bug. We haven't previously supported `[Validation]` attributes (including `[Required]`) on a top-level node.

Further, the current behaviour means `[Required]` behaves differently for top-level nodes than for a property further down the model tree. For example,
- When the submitted form has no fi

[2018-02-17 00:12] shirhatti commented on #7366
Ahh my bad. I incorrectly assumed you were trying to map a certificate to a user identity. It shouldn't be necessary.

@Tratcher @pan-wang Any ideas what could be going on here?

[2018-02-17 00:42] mkArtakMSFT commented on #7359
Closed as we don't want to break anyone here. So we'll continue with having the `RequireHttpsAttribute` attribute as is.

[2018-02-17 01:15] Tratcher commented on #7366
Servers can advertise a list of certificate issuers they will accept, and if your cert doesn't match it won't be sent. It sounds like you don't have any valid self-signed certificates in your cert store.

[2018-02-17 11:29] jo-ninja commented on #7378
@rynowak, thanks for the clarification.
@mkArtakMSFT, I agree with you. Thanks for adding this to the future milestone.

[2018-02-17 16:54] ezra2310 opened #7389 ".Net Core ExecuteReader GetSchemaTable() method not returning the BaseTableName and more details."
Hi,

In .Net Core ExecuteReader.GetSchemaTable() method not returning the BaseTableName and more details of the query will executed.

I'm created an console application in Core .Net 2.0. The below code has written and do some R&D. Its working in .net Framework 4x version and get all schema details as BaseTablename,BaseColumn,etc.... But in Core .Net 2.0 the BaseTableName was not returning.

Im tri

[2018-02-17 19:56] Vasimovic commented on #7389
I don't think this is related to the MVC repository; Anyhow, I was able to reproduce the problem; works in  full framework 4.+ as expected, returns blank data in netcoreapp2.0:

using System;
using System.Collections.Generic;
using System.Data;
using System.Data.SqlClient;

namespace ConsoleApp1
{
    class Program
    {
        static void Main(string[] args)
        {
            SqlConnection s

[2018-02-18 00:35] ezra2310 commented on #7389
Hi Vasi,
My query is not sys tables. It’s normal join query.

 E.g. : select p.id [id_person],a.id [id_address],* from person [p] inner join address [a] on [p].addess_id = [a].id

The above one is my query.
If this query will execute by ExecuteReader.GetSchemaTable() in.net framework 4+  I will return the BaseTableName and Basecolumn and AliasColumn name in DataTabel.

But in netcoreapp2.0 it not

[2018-02-18 02:36] dougbu commented on #7360
@mkArtakMSFT I'm clearing the milestone and assignment to make it clear this should be triaged again.

[2018-02-18 02:44] dougbu commented on #7187
Thank you for your feedback. We're closing this issue as no updates have been provided in a timely manner and we have been unable to reproduce the issue. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-18 02:44] #7187 closed

[2018-02-18 21:13] BohdanZhmud commented on #6584
checkout the answer on stackoverflow regarding the difference about this two - https://stackoverflow.com/a/40097363/5441673

which one you should use - it depends on what you need. In my case I use AddMvcCore as I don't want  some middlewares to be applied with AddMvc call (like Razor, I don't need serverside rendering in my app).

Either AddMvc or AddMvcCore should be used.  AddMvc under the hood

[2018-02-18 21:41] weitzhandler commented on #6584
So if I'm only using web API (no UI), should I go for Core?

[2018-02-18 21:50] ongun23 commented on #2706
Prompt field is missing for localization!

[2018-02-18 21:51] ongun23 commented on #532
Prompt field is missing.

[2018-02-18 22:27] dougbu commented on #532
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

In addition, `[Display(Prompt = "a placeholder")]` is supported. It's used as the `

[2018-02-18 22:27] dougbu commented on #2706
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

In addition, `[Display(Prompt = "a placeholder")]` is supported. It's used as the `

[2018-02-18 23:44] davidfowl commented on #6584
Why does it matter? What costs are you trying to avoid?

[2018-02-19 00:02] weitzhandler commented on #6584
If it adds unnecessary services I thought perhaps use the minimal Core call.

[2018-02-19 02:18] dougbu commented on #7212
- 049caf0c10
- aspnet/HttpClientFactory@101106fe78
- aspnet/Universe@0891903596

[2018-02-19 02:18] #7212 closed

[2018-02-19 04:02] davidfowl commented on #6584
How does that affect your application?

[2018-02-19 04:23] weitzhandler commented on #6584
OK nevermind.
I found the source-code so it's pretty much self-explanatory.
- [`AddMvcCore`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L49)
- [`AddMvc`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc/MvcServiceCollectionExtensions.cs#L25)

Thanks for your help!

[2018-02-19 04:28] davidfowl commented on #6584
Just to make sure you understand what you're getting into. You really do have to add everything back (which is fine if you know what you are doing). As you write more code and more features don't work, look at AddMvc and start adding things back (validation, formatters, authentication)

[2018-02-19 04:38] weitzhandler commented on #6584
Thanks for your dedication David!

[2018-02-19 08:08] ongun23 commented on #2706
@dougbu The problem is when you customize the attribute for providing multiple language. The problem is DisplayAttribute class is a sealed class and can not be inherit.

[2018-02-19 12:31] jacqueskang commented on #7061
@DamianEdwards How can we initialize the ModelState please? It has no public setter.

[2018-02-19 18:47] Vasimovic commented on #7389
@ezra2310, I understand, as I mention, I confirmed it does not work with netcoreapp2.0

You need to submit the issue to the **correct** [CoreFx](https://github.com/dotnet/corefx/issues) repository, this is the ASP.NET MVC repository

[2018-02-19 19:50] strohhut opened #7391 "Model binding: Automatically bind dates in JS format?"
It seems that per default dates in JavaScript format don't bind to DateTime.

I have an ajax post:
[code]

And a view model:
[code]

And an action:
[code]

This gets submitted:
[code]

Only `Date3` gets bound. Maybe it would make sense that `Date1` and `Date2` get bound out of the box too?

In my specific use case I wanted to get the data object that jQuery posts from knockout's `ko.mapping.toJS`.

[2018-02-19 20:42] dougbu commented on #2706
@ongun23 as @danroth27 said

[2018-02-19 23:55] pranavkm commented on #6525
Some questions \ notes from my design PR:

1.  `TempDataAttribute` - was there a reason we chose to prefix the keys for this with `TempData-`? For `ViewData-`, it feels like we could get away with not prefixing it. It does make some interesting easier to do (listed below)

2 `asp-viewdata-` dictionary prefix for  `PartialTagHelper`
Passing ViewData values to a partial via `ViewDataAttribute` is ha

[2018-02-20 00:13] tmandekic opened #7392 "RedirectToPage invokes previously-executed controller (when [Authorize] on redirected to page)"
I have a form inside a Razor page (lets call it MyFirstPage.cshtml).
On form-submit, the code behind calls and executes action on another controller (UserController.PostRegisterUserAsync) followed by a call to RedirectToPage("/MySecondPage").
MySecondPage requires B2C authorization (it has [Authorize] attribute on it).
This correctly causes MySecondPage to load, but it also re-executes UserControl

[2018-02-20 04:22] pranavkm commented on #7392
What does the content for `MySecondPage` look like? There really isn't anything intrinsic in Razor Pages that cause it call unrelated controller methods.

[2018-02-20 10:06] BrianMinister opened #7393 "asp.net mvc core 2.0 is not deploying"
I have an app that used to deploy with no problem.  No db connection. I have the startup stripped to just show the wwwroot directory.

The code works perfectly when running on IISExpress, but will not deploy to Azure App Services, or to even a folder.

The strange thing is that the Output window for Intelisense is showing: `[Failure] Could not find file 'C:\Users\Brian\AppData\Local\Temp\.NETCoreA

[2018-02-20 14:51] pranavkm commented on #7393
Looks like a couple of views are failing to parse:

[code]

At runtime, these views don't get compiled until a request attempts to serve them. Precompilation attempts to compile them at publish which fails. You could try fixing them or if they are intentionally meant to not compile, you could turn off precompilation by setting `<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>` in your cs

[2018-02-20 17:50] mkArtakMSFT commented on #7392
Hi @tmandekic. Thanks for reporting the issue. Please provide us with a small repro project to investigate.

[2018-02-20 17:56] mkArtakMSFT commented on #7391
@dougbu , @rynowak any thoughts regarding the above ask? Is there any restriction preventing us from trying to parse dates in that format? (assuming JavaScript `Date.toString()` produces the same format across browsers).

[2018-02-20 17:59] mkArtakMSFT commented on #7389
@Eilon, can you please redirect this as necessary? Seems ADO.NET related.

[2018-02-20 18:29] Eilon commented on #7389
This issue was moved to dotnet/corefx#27283

[2018-02-20 18:29] #7389 closed

[2018-02-20 18:35] dougbu commented on #7391
The `Date.ToString()` method [apparently](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toString#Description) "always returns a string representation of the date in American English" and seems to use a format .NET Framework does not support.

We *could* implement a custom `Date` string parser and associated `IModelBinder` / `IModelBinderProvider` pair, simil

[2018-02-20 22:12] BrianMinister commented on #7393
That worked, and I decided to try to figure out why the razor build is failing.

I barely have any braces on that page, but the one I do have is the typical if/else block that came with the MVC template.

[code]
So I built a new project with the updated templates. No error. So else statements have to be in their own?

Below is from the newer sample.
[code]

This is a pretty strong impact change fo

[2018-02-20 22:26] pranavkm commented on #7393
@NTaylorMullen would you be able to answer @BrianMinister's question?

[2018-02-20 22:47] ctolkien commented on #3173
@Eilon  - FYI this issue is still closed.

Buuuut I was thinking about this. If we're generating the SRI based on the hash of the file, and our system is compromised, it doesn't actually provide a huge a mount of benefit - we'll just generate a new hash which matches the compromised file and the browser will happily carry on.

It might help in the case where someone meddles with the resource on th

[2018-02-20 23:43] Eilon commented on #3173
Oops, I must have pressed the wrong button! Actually re-opened now.

[2018-02-21 08:30] fiksen99 commented on #3874
Based on ghost's comment:

This behaviour is not currently honoured in Mvc v2.0.2.
calling a POST method with a null body and null Content-Type is also returning 415 status code. It sounds like the intended behaviour is to allow null input with no content-type specified. The parameter in the controller action should then be null.

[2018-02-21 12:51] tmandekic commented on #7392
After lots of debugging, it turns out there is a handler in my authorization part that was invoking this controller. Closing the issue. Thank you.

[2018-02-21 12:51] #7392 closed

[2018-02-21 13:45] Jon-Murray opened #7396 "Completely Disabling Antiforgery"
Hi,

   I'm trying to completely disable antiforgery, but it seems this is not possible. The documentation seems to suggest that using AddMvcCore as the only service will disable anti forgery. Whilst this seems true in that the tokens are not validated, the .aspnet.antiforgery token still gets set in any requests omitting it.

Trying to manually remove any services which are anti forgery related w

[2018-02-21 15:29] javiercn commented on #3874
The behavior is to return 415 when you have an argument that would need to be deserialized, Independent of whether you sent content type or not, and to let requests without content type go through when they aren’t deserializing arguments from the body.

[2018-02-21 18:11] merccat commented on #6796
I see the same issue using DisplayFor in an MVC project under .Net Framework (4.5.2).  The EF query completes and I have my enumerated collection for the view in less than a ms, yet when using DisplayFor the view takes about 6 seconds to render (2000 records containing 7 fields).  Worse, subsequent reloads of the page can result in out of memory exceptions occurring.  I also tried an overload, spe

[2018-02-21 18:57] fiksen99 commented on #3874
So in my example of:
Controller action has a [FromBody] argument of type object, and [HttpPost]
annotation
POSTing to that action's route with an empty body, and no Content-Type
header.

Status code 415 is or is not expected in this case? I would argue that we
should expect the action to be hit with an argument of default(T). What we
actually observe is 415 returned at model binding time (i.e. the

[2018-02-21 19:06] dougbu commented on #7370
One issue here is your use of `[Required]` on properties with value types (`decimal` and `int`). Those will never lead to a validation error because value types can't be `null`. So the `[Required]` attribute on `WithdrawalInput.Address` is the only one that matters when no values are submitted. That's right, your form could be completely empty and validation errors would occur for `WithdrawalInput

[2018-02-21 19:52] lugrugzo commented on #7370
Thanks for explanation.

[2018-02-21 19:52] #7370 closed

[2018-02-21 21:22] dougbu commented on #6285
Thank you for your feedback. We're closing this issue as the behaviour discussed is by design in one case  (the original question) and not reproducible in the other.

If `@Html.Partial("SubMenu.cshtml")` is not working as described below in your particular application, please provide us with a minimal repro project that illustrates the problem, preferably hosted in a GitHub repo. I recommend openi

[2018-02-21 21:22] #6285 closed

[2018-02-21 23:07] ajaybhargavb opened #7397 "Precompiled views are not being used even when they are available"
Looks like this is a regression. I can see PrecompiledViews.dll being generated with all the CompiledViewItems but the views are being compiled on the first request.

cc @pranavkm @rynowak

@mikeharder, this is the reason for the perf regression we were seeing.

[2018-02-21 23:15] dougbu commented on #7033
- 4f3e044928
- daf341df35

Thanks @mistakenot!

[2018-02-21 23:15] #7033 closed

[2018-02-22 00:14] dougbu opened #7398 "Unexpected default path of view component views"
For example, create a view component named "Menu" and invoke it from a view used in a controller named "Home". In the view component's `Invoke()` method, call `View("Menu.cshtml")`.
## Expected
Finds Menu.cshtml in the default location for this component and controller pair aka the first location searched when using the view name `"Menu"`: `Views/Home/Components/Menu/Menu.cshtml`
## Actual
Finds M

[2018-02-22 04:15] alexsorokoletov commented on #6690
What we found for ourselves is that we added `[HttpGet]` on our exception handler page and POST requests were not reaching it.
Docs from the post above clearly state:
[code]

[2018-02-22 10:03] strohhut commented on #7391
It's not always so easy to call toISOString() like in my case where knockout gives the view model object that will be posted via jQuery. And this object contains Date type properties. That's why I showed my toJSON/JSON.parse roundtrip workaround.

No data binding for JS format is not a bug or a critical missing feature but I think it would be nice to have. I spent some time wondering why the dates