[2016-07-18 17:04] dougbu commented on #4995
BTW it doesn't look like any change is needed in MVC or Unobtrusive Validation.

[2016-07-18 17:22] Eilon commented on #4995
@dougbu so you feel this is just a browser behavior thing? Nothing at all in ASP.NET to do?

[2016-07-18 17:26] Eilon commented on #5022
@ryanbrandenburg can you work with folks to see how best to mitigate this?

[2016-07-18 17:27] #5031 closed

[2016-07-18 17:34] Eilon commented on #5029
@ruchanb and @nil4 are exactly right. The JSON camelCase issue was a deliberate change. The extra data being serialized is a bug that we're working on fixing.

[2016-07-18 17:34] #5029 closed

[2016-07-18 17:51] #4993 closed

[2016-07-18 18:08] Eilon commented on #1668
@DamianEdwards @danroth27 there seems to be some renewed interest in this (see https://github.com/aspnet/Mvc/issues/5034). Thoughts?

[2016-07-18 18:09] tuespetre commented on #5034
Thanks. Sorry about the dup!

[2016-07-18 18:09] Eilon commented on #5035
@rynowak @dougbu thoughts?

[2016-07-18 18:17] DamianEdwards commented on #1668
Seems very simple to add and very useful. SOLD! Fit in 1.1?

[2016-07-18 18:25] Eilon commented on #5034
No problem 😄

[2016-07-18 18:26] Eilon commented on #1668
Marking as `up-for-grabs` in case anyone wants to try their hand at it.

[2016-07-18 18:26] Eilon commented on #5028
@dougbu ?

[2016-07-18 18:26] Eilon commented on #5028
@rynowak I think you worked in this area too?

[2016-07-18 18:28] rynowak commented on #5035
We intentionally don't do this, because we want it to be clear that `ActionExecutingContext.ActionArguments` contains the values that came from model binding, and not default values.

I think we need to take a look at this area though, and improve something here. It's a little too clumsy right now to try and attach arbitrary data to a model binder through an attribute. We intentionally put up a ba

[2016-07-18 18:38] #4910 closed

[2016-07-18 18:42] dougbu commented on #4989
Since the problematic property is get-only outside `ModelStateDictionary`, @rsheptolut's workaround is about it. With respect to that workaround, probably best to create a `DefaultHtmlGenerator` subclass that overrides `GenerateValidationSummary()`. More generally, stick with `ModelOnly` and use validation message helpers to ensure property-level issues are visible.

[2016-07-18 18:46] dougbu commented on #4995
@Eilon yes.

[2016-07-18 18:50] SamuelEnglard commented on #5035
@rynowak I can get that.

Two solutions I can think of quickly are to

1. Add a property to `ModelBindingAttribute` to bind against default value
2. Add a "BindingFallbackValueAttribute" attribute

[2016-07-18 19:00] dougbu commented on #5028
In RC1, `DefaultHtmlGenerator` had a `GetClientValidationRules()` method. That class now exposes a `AddValidationAttributes()` method with a similar purpose. Both methods were / are `virtual`. But neither are / were exposed through `IHtmlHelper`.

For this use case, I suggest extending `IHtmlHelper` with new methods. Those methods can examine / update the `TagBuilder` that `TextBox()` and so on re

[2016-07-18 19:08] dougbu commented on #5035
Another alternative would be to treat `DefaultValueAttribute` as a UI assist: Continue to ignore the attribute in model binding but use it in HTML generation when an edit field would otherwise be empty.

[2016-07-18 19:14] SamuelEnglard commented on #5035
@dougbu That is a good idea but then something needs to replace what it was before still I'd think

[2016-07-18 19:26] mikebrind commented on #494
@sqmgh Granted, the contents of the customer,cshtml file above don't look much like the existing Web Pages incarnation, but it looks like most of the features that it illustrates are opt-in.  I'm pretty sure, based on what's been posted so far, that if I were to rewrite my Web Pages book to cover .NET Core's version, the majority of it would not have to change - especially if WebMatrix.Data is por

[2016-07-18 19:38] #4995 closed

[2016-07-18 20:16] #4766 closed

[2016-07-18 20:21] Eilon commented on #4990
Yup, this would be a good API to have in general in .NET Core apps. The MVC one is still needed for MVC-specific scenarios.

[2016-07-18 20:21] #4990 closed

[2016-07-18 20:21] omuleanu commented on #5028
so is there a way now to get the validation attributes ?
imagine I have something like this:
[code]

[2016-07-18 20:54] dougbu commented on #5028
If looking for the attributes a specific helper would add, could do something like I showed above but with
[code]

Could also subclass `DefaultHtmlGenerator` e.g.
[code]
Then place `MyHtmlGenerator` in DI and use it from your extension methods e.g.
[code]

Unfortunately `ClientValidatorCache` was placed it in an `.Internal` namespace. This implies nothing about it can be relied upon. Might be bett

[2016-07-18 21:06] dougbu commented on #4989
e5cb6f9

[2016-07-18 21:06] #4989 closed

[2016-07-18 21:10] omuleanu commented on #5028
ok, so the way to get the validation attributes now is to generate an editor, cast it as TagBuilder and after filter the TagBuilder.Attributes, will this get easier in the future ?

[2016-07-18 21:43] JohnMuller44 commented on #494
Let's take the casual, basic type web developer. What he typically can do is some HTML, CSS and Javascript. What she can also typically do is declare variables in Razor, make database queries with db.query, db.querysingle, db.queryvalue. She can also execute SQL Statements by using db.execute. After some time reading into it, she also might add Security and Membership to the site.

What this basic

[2016-07-18 23:35] #4876 closed

[2016-07-18 23:55] ajaybhargavb commented on #4892
Discussed with @Eilon, there is no change needed in MVC. The changes will be in Hosting (https://github.com/aspnet/Hosting/issues/819) and Diagnostics (https://github.com/aspnet/Diagnostics/issues/315).

[2016-07-18 23:55] #4892 closed

[2016-07-19 00:00] ryanbrandenburg commented on #5022
Here are the results of my profiling. First, here's what things look like without any changes:
![nochanges](https://cloud.githubusercontent.com/assets/14987221/16934014/5bfbd316-4d07-11e6-8590-1037fda881be.PNG)

Now here's what things look like if we remove the OfType<AuthorizeAttribute>:
![linqremoved](https://cloud.githubusercontent.com/assets/14987221/16934037/93b41d90-4d07-11e6-9580-06cc470d19

[2016-07-19 01:41] #4624 closed

[2016-07-19 05:21] ctyar commented on #1668
Does this design is final? if so I can give it a try

[2016-07-19 05:47] maxim-boligatov commented on #2953
We need this result to send dynamically generated JavaScript. Of course it can be stupid to make such generation in regular application when we can share our static code using bundler minifier. But sometimes we have to generate something from server side. I personally want to share constants provided by logic written in C#.

[2016-07-19 07:27] MichelLaplane commented on #4995
Thank you @dougbu for all these explanations.
Yes when in IE the tab empties the field I have also noticed that.
But sorry to not agree with you about no bug if you type an alpha character first because of no error displayed. For now I have changed all my int field to decimal field in my database at is not I think a good practice.
I could add a [required] attribute but in this case the error messa

[2016-07-19 08:07] freshdev1 opened #5038 "HTTP Verbs mapping error GET and DELETE"
#  Steps To Reproduce
Create a controller with the following methods:
## GET:
[code]
## DELETE:
[code]
# Make call using any REST application
**HTTP DELETE: http://localhost/api/[controllerName]?id=1**

Ideally the above should return 404. Since there is no such endpoint. But this does not happen. Can anyone explain this?

[2016-07-19 08:31] khellang commented on #5038
What does it return instead? Ideally it should return a 405, IMO, sinoe the endpoint *does* exist, just not for that specific method.

[2016-07-19 08:42] freshdev1 commented on #5038
The request gets mapped to GET methods returns the response from GET controller.

[2016-07-19 10:50] KLuuKer opened #5039 "column attribute for <textarea> is incorrect"
for a `<textarea>` columns="123" is incorrect it should be cols="123"

[https://github.com/aspnet/Mvc/blob/a852352223f94406094315ee9ee51e16eb288571/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs#L661](https://github.com/aspnet/Mvc/blob/a852352223f94406094315ee9ee51e16eb288571/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs#L661)

[http

[2016-07-19 11:20] NGancevich opened #5040 "No way to localize password policy messages"
I'd like to localize the following validation errors

    Passwords must have at least one non alphanumeric character.
    Passwords must have at least one lowercase ('a'-'z').
    Passwords must have at least one uppercase ('A'-'Z').

I have this in ViewModel

[Required(ErrorMessage = "The Password field is required.")]
        [StringLength(100, ErrorMessage = "The Password must be at least {2}

[2016-07-19 14:20] dougbu commented on #4995
@MichelLaplane suggest you file an IE bug about it's odd `type="number"` handling. If you prefer to use `[DataType]` to work around the IE bug, file something where that attribute lives -- https://github.com/dotnet/corefx/issues.

Another option would be to layer something on top of #4877 -- device detection. But right now, there's nothing user agent-specific in MVC.

[2016-07-19 14:35] MichelLaplane commented on #4995
Done thanks dougbu

[2016-07-19 14:59] rynowak commented on #5040
/cc @dougbu

[2016-07-19 15:04] rynowak commented on #5038
I'm assuming from what you explained that this is your full controller defintion:
[code]

Your `[HttpGet]` combines with the route attribute on the controller to match `api/MyController` which is what you are trying to access.

What are you trying to do with the extra `[HttpGet]` on this action method?

[2016-07-19 15:56] Eilon commented on #3917
@Zachary1748 we have @rynowak working on a new implementation of Razor precompilation with @DamianEdwards .

@rynowak @pranavkm should we do anything with this bug? Is the new stuff related in any way to the old stuff?

[2016-07-19 16:03] rynowak commented on #3917
Updating the top-post

[2016-07-19 16:28] dougbu commented on #5039
Yeah. Looks like we spell-corrected the attribute name way back when (112a5dd) :frowning:

[2016-07-19 16:32] rynowak commented on #3917
Main post updated

[2016-07-19 16:39] Eilon commented on #5038
@javiercn can you try to repro this?

[2016-07-19 16:44] Eilon commented on #5040
cc @HaoK @blowdart

I think you customize the `IdentityErrorDescriber` service to control the text in these messages. That way you can plug it into your own RESX files, localization database, etc.

[2016-07-19 16:44] #5040 closed

[2016-07-19 16:56] Eilon commented on #5028
I don't believe that inspecting the TagBuilder attributes produced by a random other helper is a recommended approach.

@dougbu can we just add an interface / API that exposes the required information? I don't think any of the examples given here are supported or recommended...

[2016-07-19 16:59] Eilon commented on #4474
@xaviergxf can you show more of what you tried and where you're getting stuck?

[2016-07-19 17:07] DamianEdwards commented on #494
As it was stated in the goals above, we're explicitly not trying to create a script-life page framework that hides or works around lots of the C# constructs. That's Web Pages attempted to do, and is not what this is. This is more about removing unnecessary ceremony from building page-focused apps using MVC. This is still very much ASP.NET Core and C# and there is no scope to build something new.

[2016-07-19 17:16] dougbu commented on #5028
@Eilon sure, we can add an `interface` that `DefaultHtmlGenerator` would also implement. We can't make `AddValidationAttributes()` `public` but can call that from a new method.

@omuleanu exactly what information do you need? In particular would a new method similar to the existing `AddValidationAttributes()` be right for your custom helper?

[2016-07-19 17:17] HaoK commented on #5040
Yep, see test https://github.com/aspnet/Identity/blob/dev/test/Microsoft.AspNetCore.Identity.Test/UserManagerTest.cs#L1407 for an example of how to plug in your own describer.

[2016-07-19 17:23] omuleanu commented on #5028
I need to get the collection of js validation attributes, this method was present in mvc5, 4, 3
this how it is defined in mvc 5:
[code]

[2016-07-19 17:23] Eilon commented on #1668
@ctyar well I'm not sure I'd call this exactly a design, it's more like some random thoughts people had 😄

But... it probably is fairly straightforward. We'd presumably want to do exactly what we do for stuff like the `<form>` tag and `<a>` tag as far as the tag helper attributes it should have, and the behavior it should have if there's an existing explicit `formaction` attribute defined on the t

[2016-07-19 17:33] ctyar commented on #1668
@Eilon yeah I found those two, I'm already on it

[2016-07-19 18:23] javiercn commented on #5038
Are you using the web api compat shim?
Do you have any conventional routes on?

[2016-07-19 18:45] Eilon commented on #1668
@ctyar sounds great, looking forward to see the PR! Thanks!

[2016-07-19 19:01] ipjohnson opened #5043 "asp-format not always honored for DateTime"
When attaching the following asp-format="{0:MM/dd/yyyy}" to an input control the proper format is used for most cases but there seems to be an issue when a query string parameter is provided with the same name as the property being bound.

I'm attaching an example project that shows the behavior. I would expect the format to be MM/dd/yyyy in both cases.

[DateTimeFormatTest.zip](https://github.com

[2016-07-19 19:12] mikebrind commented on #494
@DamianEdwards Sorry for being thick, but just for clarification, this feature is NOT the "Web Pages" in the roadmap, despite the original title of the issue, right? So the Web Pages in the roadmap is something else? Has been dropped? Been replaced with this feature?

[2016-07-19 19:39] kroniak commented on #4816
+1

I dont understand refactoring too.

In RC1 was in ValidationAttribute:

[code]

and on client side:

[code]

How to convert to 1.0.0?

[2016-07-19 19:53] freshdev1 commented on #5038
Do you have any conventional routes on?

That's how my dependencies in `project.json` looks like:
[code]

And that's how I have configured the MVC Service in `Startup.cs`:
[code]

And finally my `Configure` method in `Startup.cs`:
[code]

I ain't using WebApi compact shim in this project. Please tell me if you need more info.

[2016-07-19 19:55] freshdev1 commented on #5038
I think I should add this:
My Controller route looks something like this:
[code]

[2016-07-19 20:05] freshdev1 commented on #5038
I think I can help you people more. I have logging enabled in my application. Below is what it logs when this scenario occurs:
[code]

[2016-07-19 20:09] freshdev1 commented on #5038
Above log shows it fallback to GET route when not able to match Delete route. But I believe there can not be any reason to fallback to a GET action when a call is explicitly a DELETE call. It should simply return me 404. Not even 405 as suggested by @khellang .

[2016-07-19 21:12] dougbu commented on #5043
Please host the project somewhere we can view it. Downloading a Zip from the Internet isn't a great idea.

That said, it sounds like you're expecting `asp-format` to affect both HTML generation and model binding. The attribute is relevant only for HTML generation. However, it is true that `string`s the user submitted have higher precedence than a formatted `DateTime` or `DateTimeOffset` value.

[2016-07-19 21:22] ipjohnson commented on #5043
I actually don't have a place to host the example project.

I'm not looking for the asp-format to affect both html generation and model binding.  Value is bound correctly to the model and I can see the value properly in the controller. It's with the HTML generation.

Am I to understand you correctly that if I have a model with a property name StartDate, it won't be used if there is a query string

[2016-07-19 21:32] dougbu commented on #5043
If you've got a GitHub account, you can create GitHub repositories.

W.r.t. query string parameters, the behaviour isn't that specific. One way to think of it: `ModelStateDictionary` values e.g. `ModelState["StartDate"].RawValue` have precedence over expression values e.g. the `StartDate` property on the model. And `asp-format` can't reformat something that's already a `string`, as `ModelState["St

[2016-07-19 21:37] ryanbrandenburg commented on #5022
@rynowak noticed that we were making a Filter for every controller and action, whether it was doing anything or not. Here's what the perf looks like if we stop that:
![onlyneededfilters](https://cloud.githubusercontent.com/assets/14987221/16967422/a97b796e-4dbd-11e6-8a80-77f59490a5e9.PNG)
Significant savings are made with fewer `FulterItem`'s, `Int32[]`'s and `Dictionary<string,object>`'s.

In all

[2016-07-19 22:03] dougbu commented on #4816
The JavaScript is unchanged. But implement `IClientModelValidator` in the new world. It's easiest if the implementation is an `Attribute`.

See https://docs.asp.net/en/latest/mvc/models/validation.html#client-side-validation for more information.

[2016-07-19 22:10] ipjohnson commented on #5043
Ok I've created a repository for this [Here](https://github.com/ipjohnson/AspFormat) ...

The model is valid, I was looking to truncate the time stamp off when displaying in the textbox as the user didn't put the value in it was carried over in the query string from a different page. Depending on use case the value is in the query string sometimes it's not.

While it may have been designed this wa

[2016-07-19 22:29] dougbu commented on #5043
Ah, I see two oddities in your application

The following block won't be particularly relevant if model binding encountered invalid data for `StartDate`. Probably best to special case `!ModelState.IsValid` before doing this e.g. remove `ModelState["StartDate"]`.
[code]

The `<a>` links to the `Test()` action should use the same format you expect from a user e.g. `DateTime.Now.ToString("MM/dd/yyyy"

[2016-07-19 22:36] dougbu commented on #5009
35cc5b6

[2016-07-19 22:36] #5009 closed

[2016-07-19 23:15] ipjohnson commented on #5043
It's actually much hard in our real app to format the timestamp as it's coming from JS.

That said I think the final answer is that format is really only applied initially when the view is first load, after that ModelState is used with no formatting.

I can work around this now that I fully understand the behavior. Thanks for the help.

[2016-07-19 23:22] #5043 closed

[2016-07-20 03:02] maroebuck opened #5046 "JsonResult converts uppercase property names to lowercase"
My Model Gender.cs and my Controller use an uppercase property name. When the JsonResult data is sent back to the Angular 2 RC4 view it is converted into lowercase:
GenderName and GenderId change to genderName and genderId. Even Intellisense in my TypeScript file uses GenderName but I have to modify my HTML to genderName to accommodate this change that exists nowhere in my code or the results don'

[2016-07-20 05:28] pranavkm commented on #5046
See https://github.com/aspnet/Announcements/issues/194

[2016-07-20 05:54] BruinY opened #5047 "1.0 publish to iis ,how to use iis virtual directories"
Published to the iis after, cannot use iis virtual directory Settings, not be able to access the virtual directory file, also can't upload files stored in the virtual directory, could you tell me how to achieve this requirement

[2016-07-20 06:02] davidfowl commented on #5047
There's no way (that I'm aware of) to access a vdir mapped inside of the same application. How are you using them?

[2016-07-20 06:06] BruinY commented on #5047
I don't know how to deal with, I have no idea at all.Very convenient mvc5 using iis virtual directory.So I want to know the core after 1.0 can implement the corresponding requirements

[2016-07-20 06:07] BruinY commented on #5047
@davidfowl Please help me

[2016-07-20 06:07] davidfowl commented on #5047
.NET Core running in IIS doesn't have support for accessing the resolved physical path from an IIS virtual directory. How are you using them in the application?

[2016-07-20 06:09] BruinY commented on #5047
I need through the iis virtual directory to store website pictures, and can be normal access

[2016-07-20 06:12] davidfowl commented on #5047
There's no API for doing this today.

[2016-07-20 06:13] BruinY commented on #5047
@davidfowl
website path : d://website/test
image save path : d://image.  This directory before you can use the iis virtual directory, you should now how to do?
I need to store website to upload files to the corresponding directory, and can be accessed through http://www.xxx.com/image/xxx

[2016-07-20 06:24] davidfowl commented on #5047
2 questions for you:
- What does the code look like that saves the uploaded images to `d:\images`
- You should be able to use IIS to serve images from the vdir like you did before but you might have to use a `web.config` in the vdir folder to disable our the ASP.NET Core module.

[2016-07-20 06:30] BruinY commented on #5047
1.
public IActionResult Upload(IFormFile file){
Image image = Image.FromStream(file.OpenReadStream(), true, true);
....
image.save(path);
}

2.Don't know how to use this

3.I found through the app. UseFileServer can access files to another location

[2016-07-20 06:35] davidfowl commented on #5047
I'm even more confused now... If you don't care about the vdir because you are using physical paths in your application, what are you asking for exactly?

[2016-07-20 06:38] BruinY commented on #5047
Need a larger disk space for storing files.So need users to upload files to other physical path, it and the website is not a directory or disk.

[2016-07-20 06:40] davidfowl commented on #5047
Yes, but you were specifically asking about an IIS vdir and those answer to my 2 questions weren't very clear. Are you hardcoding the physical path to `d://images` for uploads and for the static file middleware?

[2016-07-20 06:42] BruinY commented on #5047
no use hardcoding, need to do this?

[2016-07-20 06:44] davidfowl commented on #5047
There's no API in ASP.NET Core to resolve a physical path for an IIS virtual directory.

[2016-07-20 06:49] BruinY commented on #5047
There is no API, do you have any other way to achieve this requirement?

[2016-07-20 06:51] davidfowl commented on #5047
You need the physical path.

[2016-07-20 07:51] maxim-boligatov opened #5048 "It is not possible to copy text to clipboard from error message on development page."
When exception occurs development page is displayed in browser.
Sometimes it significantly increases productivity when it is possible to copy error text or sample message from error page.
For example for the following example I can just find RenderSection line in source:

[code]

But due to interactivity added to development page (all mouse events are handled) I cannot copy text to clipboard easy.

[2016-07-20 13:46] pranavkm commented on #5048
Could you file this bug in the [Diagnostics](https://github.com/aspnet/Diagnostics) repo?

[2016-07-20 13:49] mdmoura opened #5050 "You may need to supply runtime policy"
On an ASP.NET Core 1.0 RTM project I keep getting the following Warning:

    Warning	CS1701	Assuming assembly reference 'System.Runtime, Version=4.0.0.0,
    Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' used by 'System.Threading.Tasks' matches
    identity 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'
    of  'System.Runtime', you may need to supply runt

[2016-07-20 14:07] pranavkm commented on #5050
Could you list your project.json?

[2016-07-20 14:12] mdmoura commented on #5050
Sure, here it is:

    {

      "title": "App",

      "dependencies": {
        "Microsoft.NETCore.App": {
          "version": "1.0.0",
          "type": "platform"
        },
        "Microsoft.ApplicationInsights.AspNetCore": "1.0.0",
        "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0",
        "Microsoft.AspNetCore.Diagnostics": "1.0.0",
        "Microsoft.AspNetCore.Diagnostics.En

[2016-07-20 14:13] mdmoura commented on #5050
BTW one of the Warnings is on the following code line inside a Controller Action:

    return BadRequest(reply);

[2016-07-20 14:51] maxim-boligatov commented on #5048
This issue was moved to aspnet/Diagnostics#319

[2016-07-20 14:51] #5048 closed

[2016-07-20 14:56] pranavkm commented on #5050
Tried out a sample app with your project file and I couldn't see the warning. Perhaps try cleaning your packages dir (http://docs.nuget.org/consume/command-line-reference#locals-command `nuget.exe locals all -clear`) and your repo and see if that helps at all?

[2016-07-20 16:23] dougbu commented on #5039
581a5ea

[2016-07-20 16:23] #5039 closed

[2016-07-20 16:24] dougbu commented on #5039
Thanks @iscifoni :grey_exclamation:

[2016-07-20 16:45] #4875 closed

[2016-07-20 16:52] Eilon commented on #4912
We have some ideas around how to implement this, but have no plans to implement it at this time.

[2016-07-20 16:59] Eilon commented on #5046
Indeed, this was a deliberate change in behavior. See the linked announcement for how to customize the casing behavior.

[2016-07-20 16:59] #5046 closed

[2016-07-20 18:10] omuleanu opened #5051 "get IUrlHelper inside the Html Helper's method"
hi,
is there an easy way to get the IUrlHelper inside the extension method of an IHtmlHelper, besides passing it as a parameter from the view
I tried this:
[code]
but no luck

[2016-07-20 19:24] dougbu commented on #5051
Get the `IUrlHelperFactory` and use that to create an `IUrlHelper`.

[2016-07-20 19:30] Eilon commented on #4897
@pranavkm @rynowak is there any further work for us here?

[2016-07-20 19:31] #4921 closed

[2016-07-20 19:32] pranavkm commented on #4897
Doesn't seem like it. We could close this and have @hikalkan reopen if there are unaddressed issues.

[2016-07-20 19:33] Eilon commented on #4900
I moved the bug over to here: https://github.com/aspnet/Security/issues/910

[2016-07-20 19:33] #4900 closed

[2016-07-20 19:34] #4897 closed

[2016-07-20 19:48] omuleanu commented on #5051
@dougbu  ```urlHelperFactory.GetUrlHelper``` asks for `ActionContext` as a parameter, can I get from `IHtmlHelper` ?

[2016-07-20 19:55] dougbu commented on #5051
Yes, `ViewContext` is an `ActionContext` subclass and that's exposed in `IHtmlHelper`.

[2016-07-20 19:59] omuleanu commented on #5051
Thank You, it works

[2016-07-20 19:59] #5051 closed

[2016-07-20 20:20] rynowak commented on #4146
@jods, see https://github.com/aspnet/Mvc/issues/4945#issuecomment-230555683

We're planning to change this behavior for 2.0.

I'm going to close this issue because I've already got a long-winded explanation including our future plans in #4945

[2016-07-20 20:20] #4146 closed

[2016-07-20 20:32] mdmoura commented on #5050
@pranavkm Yes, that solved it. Thanks.

[2016-07-20 20:32] #5050 closed

[2016-07-20 20:40] jods4 commented on #4945
@rynowak

Do I understand correctly? Does this include a `Fetch` request from a JS application? If the answer is yes, I don't understand why you ignore the client `Accept` header. If my app asks for `application/json` you SHOULD return that and not `text/plain`.

[2016-07-20 20:49] rynowak commented on #4945
No.

What I mean by this is that we (by default) ignore the `Accept` header when it contains the the wildcard `*/*`. This generally means that the client is something that's going to just display the text verbatim rather than trying to understand the data. In that case we want the **ordering** of formatters to take over rather than relying on what's in the `Accept` header.

For instance, consider

[2016-07-20 21:02] jods4 commented on #4945
@rynowak ok then!

[2016-07-20 23:02] dougbu commented on #5005
8a6e99c

[2016-07-20 23:02] #5005 closed

[2016-07-21 00:11] #4998 closed

[2016-07-21 03:05] KSubedi opened #5053 "FileNotFoundException while returning File method on controller."
I get the following exception when I try to return `File(string);` from a controller, which is supposed to return the file itself. The file exists and if i `cat` the exact path returned on the error, it will show the contents of the file. This is happening on Mac OS 10.11.6.

[code]

Here is the controller in question:

[code]

As a workaround I am using the following which is working:

[code]

He

[2016-07-21 03:32] davidfowl commented on #5053
If you're trying to pass a physical path to `File` then you need to use `PhysicalFile()` instead of `File()`.

[2016-07-21 03:46] KSubedi commented on #5053
That was it! Thank you for the help. I couldn't find documentation about this anywhere from my search, do you have any pointers on where I could find more information on the result methods from Controller?

[2016-07-21 03:46] #5053 closed

[2016-07-21 06:08] hikalkan commented on #4897
I tested now and it's working without ``PartManager.ApplicationParts.Add(...)`` call.
Thanks a lot.

[2016-07-21 07:11] xaviergxf commented on #4474
Hi Eilon,

  Here's what i have in my mvc core project:

- A set of controllers. UserController, ProductController, etc.
- The project uses Entity framework and has some DBSet: User, Product, Country, Currency, etc.
- Some views like: product, user and GenericView. The GenericView is a CRUD view, a master detail with a grid and some fields that are generated dynamically from a Metadata(field name,

[2016-07-21 10:27] lilpug commented on #4682
@Eilon could you link where its scheduled in the tooling update as this issue still persists and we and many other companies cannot move to production when we cannot even add relevant dll libraries that are not in Nuget

[2016-07-21 10:44] radiosterne opened #5055 "Microsoft.AspNetCore.Mvc depending on Newtonsoft.Json"
I have a web application project using AspNet.Core. For data layer it uses Elasticsearch.Net in version 1.4.3. I can not update Elasticsearch.Net to a higher version because of compatibility problems with my elasticsearch version in production environment. Therefore, I have conflicting versions of Newtonsoft.Json in my data and presentation layers (ES.Net in my version only works with Newtonsoft.J

[2016-07-21 13:10] andrewlock commented on #494
@DamianEdwards this looks interesting. We used the previous version of WebPages for a simple content focused web site previously, and it worked pretty well for us.

One of the reasons we settled on WebPages was that we had some junior front end developer/designers working on it who we didn't want to have to get their head around MVC, or even too far into C#. From that point of view, the tag-helper

[2016-07-21 16:39] Eilon commented on #4682
@lilpug we just did a blog post a few days ago that includes the roadmap. Check it out here: https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/

The switch to MSBuild will make this work:

• Support for .csproj/MSBuild project system

[2016-07-21 16:44] Eilon commented on #4474
@rynowak what might block IControllerFactory.CreateController from being called? Does the Application Model need to already know about the controller/action in order to even get that far? Or maybe something else?

[2016-07-21 16:56] Eilon commented on #4979
@NTaylorMullen please add some stellar doc comments to this API because it's not super clear to me what the parameters mean 😄

[2016-07-21 17:07] rynowak commented on #4474
Pretty much everything in MVC Core assumes that that all actions and controllers are enumerated at startup. If you can't do this for some reason things are going to get much more complicated.

The simplest path forward for you will be to plug into this system. You can implement a custom `IApplicationFeatureProvider<ControllerFeature>` - (See [ControllerFeatureProvider](https://github.com/aspnet/Mv

[2016-07-21 20:27] rynowak commented on #4998
Fixed in 1.0.1: 85ca3e4976d841425412fb987a6f38dbbaa0a6eb
Fixed in 1.1.0: bc76c0ef316dfa08c613ba9516ceb04848092491

[2016-07-21 23:18] dougbu commented on #3918
In recent versions, `string` allocations have mostly shifted from `string.Concat()` to `StringBuilder.ToString()`. But these three methods still account for more than 5% of the allocations in the main BigViews scenario. Note the correct breakdown is visible only when profiling Debug builds (though the numbers are obviously elevated).
![before](https://cloud.githubusercontent.com/assets/6431421/170

[2016-07-22 05:09] ctolkien commented on #3603
Hi @Eilon, dredging this one back up and am looking to re-implement, obviously a fair bit of cheese has been shuffled around since then.

Digging into the URL resolution logic, I can't see any issue with passing more than the URL, as all it does is send back the application path and the URL with the leading `~` removed. Relevant bits:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCor

[2016-07-22 05:49] bklooste commented on #4863
This doesnt work at all imho .., swagger only has a single  response generated  so i dont know how you can go 404 with null or an object,with 200.  Especially with proxies with hard checks .

 "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Config"
            }
          }

[2016-07-22 06:21] msmolka opened #5059 "TagHelpers not working inside script blocks"
On Razor view following code
`<label asp-for="Id"></label>`
is working

However the template one is not working:
[code]

Normal extension methods are working properly in both places:
 @Html.LabelFor(m => m.Id)

[2016-07-22 07:21] xaviergxf commented on #4474
I've managed to make it work with the following setup:

[code]

I needed IApplicationModelProvider because it provides the properties and methods of the controller.
Before mvc core the controller factory was invoked before determining the action to be called, this allowed things to be more dynamic. Can you please explain why the current architecture was designed the way it is?

Thanks!

[2016-07-22 07:52] gutun commented on #4474
@xaviergxf  can you show the sample code?

[2016-07-22 09:08] xaviergxf commented on #4474
Here's my implementation: https://bitbucket.org/xaviergxf/public/downloads/

[2016-07-22 09:14] gutun commented on #4474
@xaviergxf  thanks

[2016-07-22 14:36] jbogard commented on #5055
Have you tried installing with -IgnoreDependencies?

[2016-07-22 15:31] Yves57 opened #5060 "DependencyContextJsonReader performance on startup"
Starting the "MvcSandbox" MVC sample with Kestrel and the Visual Studio Profiler attached (in Release of course).

Here is the top most used functions on my computer.

![image](https://cloud.githubusercontent.com/assets/11701094/17061775/81b24c1c-5030-11e6-9abd-118f7f060ff4.png)

The "deps.json" file loading takes a large part of the startup time.

After analyzing `Microsoft.Extensions.DependencyM

[2016-07-22 15:42] rynowak commented on #5060
@Yves57 thanks for providing data! @pakrym was about to start looking at the dependency context, hopefully you two can share some notes.

Would it be possible to upload the .vspx somewhere? I'd like to take a look

[2016-07-22 16:08] Yves57 commented on #5060
Maybe I can attach the file to the Github issue (5 MB)? Otherwise I will try with my OneDrive account.
I can give you my implementation source code too (the DependencyContextJsonReader tests from the CLI module are ok).

[2016-07-22 16:12] pakrym commented on #5060
@Yves57 Please open a PR for DependencyContextJsonReader on CLI repo

[2016-07-22 16:23] Yves57 commented on #5060
I have tried to get a working CLI solution, but I have several problems specific to this solution (no problem for MVC or FileSystem for example). In particular, the solution does not compile with several mysterious messages "An item with the same key has been already added", an few other problems.

To pass the DependencyContextJsonReader "offical" tests, I had to copy/paste the source code in an o

[2016-07-22 16:26] rynowak commented on #5060
If you want to just open a PR on dotnet/CLI, in whatever state the code is in currently, Pavel can take care of the details. We want to be really careful not to introduce regressions in this code.

[2016-07-22 16:39] rynowak commented on #4863
@bklooste - Can you provide an example of the action + attributes that you think isn't working right? We can figure out if this is a problem on our side or not.

[2016-07-22 16:43] Yves57 commented on #5060
[MvcSandbox.zip](https://github.com/aspnet/Mvc/files/378705/MvcSandbox.zip)

And here is the VSPX.

[2016-07-22 17:06] rynowak commented on #4474
Here's a sample of what I had in mind: https://github.com/aspnet/Entropy/commit/42171b706540d23e0298c8f16a4b44a9ae805c0a

The difference here is that the `IApplicationFeatureProvider<ControllerFeature>` adds the **closed-generic** types as controller types. You also need to set the controller name, which I did with a convention (look at the attribute on `GenericController<>`.

Is this close to wha

[2016-07-22 17:14] NTaylorMullen commented on #5059
@msmolka currently Razor only supports TagHelpers in script tags that have type text/html.

[2016-07-22 17:14] #5059 closed

[2016-07-22 17:42] tariqalardah commented on #3578
Now if I am implementing a CustomAttribute that needs services in it.
How to inject services inside the Attribute?

[2016-07-22 17:42] #4978 closed

[2016-07-22 17:43] Eilon commented on #3578
@tariqalardah injecting arbitrary services into an arbitrary attribute was never supported and I don't think it ever can be - construction of attributes is done by .NET itself, which isn't aware of DI or services.

Is this an arbitrary attribute or is it an MVC filter attribute?

[2016-07-22 17:49] Eilon commented on #4896
I'm not aware of any changes here. This is at most a change to xUnit.net, and not a change to ASP.NET or EF. If you suspect it's an xUnit.net issue, please file an issue here: https://github.com/xunit/xunit/issues

[2016-07-22 17:49] #4896 closed

[2016-07-22 17:55] Eilon commented on #5055
There are no plans to remove the Json.NET dependency from MVC because we think it is useful for almost all scenarios. (Though clearly there are some scenarios where it is not needed or useful.)

@davidfowl are there any project.json tricks to enable this scenario?

@radiosterne as a side note, have you contacted the owners of the Elastic Search package that you're using to see if they can upgrade

[2016-07-22 18:02] Eilon commented on #5038
Putting in 1.0.1 milestone because we'll likely want to take this in a patch update.

[2016-07-22 18:22] rynowak commented on #5060
Thanks so much for all of this.

If you're using the VS profiler make sure to turn off "Just My Code" - yes, the profiler has it's own just my code setting
![image](https://cloud.githubusercontent.com/assets/1430011/17066954/4edbc962-4ffe-11e6-83d0-a7da3a24e501.png)

**Show All Code** on the right

This is what I see in the functions window after turning that off:
![image](https://cloud.githubuser

[2016-07-22 18:25] tuespetre commented on #3578
@tariqalardah to add on what @Eilon said, if you *are* making a custom filter attribute, you probably want your attribute to implement `IFilterFactory`, which can then return your custom instance of `IFilterMetadata` from the service container (or use the service container to obtain the dependencies needed by your filter.)

[2016-07-22 18:27] tariqalardah commented on #3578
I am trying to implement my ExceptionFilterAttribute to be used on some API Controllers.
`public class MyExceptionHandlerAttribute : ExceptionFilterAttribute`
And planning to use `IHostingEnvironment` and my `IRepositry` service in the implementation!

Then will use it on Controller, like,
[code]
Any chance this will work?

[2016-07-22 18:32] tuespetre commented on #3578
@tariqalardah you could get the services you want out of the `ExceptionContext` that gets passed into `public override void OnException(ExceptionContext context)` like this: `context.HttpContext.RequestServices.GetService<IHostingEnvironment>(...)`.

[2016-07-22 18:35] tariqalardah commented on #3578
@tuespetre, Thanks, now I have two options to try
`IFilterFactory` and `context.HttpContext.RequestServices.GetService<>()`

[2016-07-22 18:39] pranavkm commented on #3578
@tariqalardah why not use ServiceFilters - https://docs.asp.net/en/latest/mvc/controllers/filters.html?#configuring-filters?

[2016-07-22 18:51] tariqalardah commented on #3578
@pranavkm, I was going to use them after a time being trying and searching how to get the needed service in the custom attribute, as a last chance, I posted my question here.
And fortunately, got the needed answer by using `(IHostingEnvironment)context.HttpContext.RequestServices.GetService(typeof(IHostingEnvironment));` suggested by @tuespetre :+1:

[2016-07-22 19:12] tuespetre opened #5061 "Request: Serializing IHtmlContent to a JavaScript string"
I've come to appreciate the approach to writing dynamic server-generated applications here:

https://signalvnoise.com/posts/3697-server-generated-javascript-responses

**Thanks to the awesome new View Components feature**, I've been having a lot of success with this approach since beta7 or so. I can write view components with a top-level container element with an `id` attribute and easily update m

[2016-07-22 20:48] #5047 closed

[2016-07-22 20:52] Yves57 commented on #5060
Sorry!
I was surprised too see a so important percentage while my performance tests show about 15ms to load the "deps.json" file.
I propose to improve the performances of 2% of the startup time. Awesome :-).

[2016-07-22 20:59] rynowak commented on #5060
We still definitely care about this :+1: The impact of improving parsing `deps.json` is much larger on sites with more dependencies.

I just wanted to point out a gotcha with the VS profiler.

[2016-07-22 21:08] dougbu commented on #4521
49a48a0

[2016-07-22 21:08] #4521 closed

[2016-07-22 21:12] Eilon commented on #5061
Looks pretty neat! From a performance perspective you might want to see if all the string creation in memory is a potential performance problem because it'll be buffering entire JSON strings in memory instead of streaming them out to whoever is listening.

I don't see this as something we'll include in ASP.NET at this time, so I'm marking this issue as a "discussion" to see if there's further inte

[2016-07-22 21:13] dougbu opened #5063 "Remove `ValueProviderResultExtensions`"
Obsoleted `Microsoft.AspNetCore.Mvc.ModelBinding.ValueProviderResultExtensions` in 1.1.0 (49a48a0). Removing it completes work related to #4521.

Removing these extension methods may allow further slimming or division of the `ModelBindingHelper.ConvertTo()` methods. In particular, should no longer need conversions _to_ arbitrary types, just from arbitrary types to `string`, `string[]` and `bool`.

[2016-07-22 21:15] Eilon commented on #4933
We are not planning to build anything for this at this time. I think in your case because you control the client and the server you have more flexibility around the data format, so you could relatively easily build up a custom way of "packing" multiple files into one response.

We'll have to see if we get more interest from the broader community around generating these responses.

[2016-07-22 21:15] #4933 closed

[2016-07-22 21:24] rynowak commented on #5061
Ideally we would have made the parameter on `WriteTo(...)` a `TextEncoder` instead of an `HtmlEncoder`... :sob: - but `TextEncoder` was added later and I never noticed.

You could probably achieve your goals in a simpler way by combining the two encoders. For instance with your sample, you really need to override most of the methods on `TextWriter`, which is a pain.

[code]

[2016-07-22 21:33] tuespetre commented on #5061
@rynowak I did try that at first but I saw `unsafe` and I tucked tail and ran. ;)

[2016-07-22 21:42] Yves57 opened #5064 "Performance when generating the Assembly name in Razor"
Using the Visual Studio Profiler file of #5060 (with "Show All Code activated" @rynowak ),

It is possible to see that `DefaultRoslynCompilationService.Compile()` (54% of inclusive percentage) spends itself 4.7% of time in `Path.GetRandomFileName()`.

Just to try, I have made the two following tests:
[code]

Everything seems to work fine. Is it necessary to generate a real file name?

[2016-07-22 21:47] tuespetre commented on #5055
If you specify `Newtonsoft.Json` as a dependency in your `project.json` with the needed version (`9.0.1`) and then be sure to clear out your `/bin` folder (especially to get rid of the generated `*.exe.config` with its `bindingRedirects`) it should work.

[2016-07-22 21:49] rynowak commented on #5064
I'm sure we can find a better way to do this. `Path.GetRandomFileName()` is [cryptographically secure](https://msdn.microsoft.com/en-us/library/system.io.path.getrandomfilename(v=vs.110).aspx) and I'm not sure we need that guarantee.

[2016-07-22 21:49] rynowak commented on #5064
/cc @pranavkm

[2016-07-22 21:51] rynowak commented on #5064
/cc @blowdart also, since I'm not allowed to use words like cryptographic without his supervision

[2016-07-22 21:54] rynowak commented on #5061
If you ask nicely on do https://github.com/dotnet/corefx someone will probably help you, it looks like all of the complexity is in `TryEncodeUnicodeScalar`

[2016-07-22 22:12] pranavkm commented on #5064
The convention came from what System.Web \ BuildManager did which wrote assemblies to disk. It really shouldn't matter for our use case.
My only concern with Guids would be to verify that it does not affect the debugger in anyway. Incrementing integers seem ok. An alternative is to use the view name (See https://github.com/aspnet/Mvc/issues/4239).

[2016-07-22 22:23] Yves57 commented on #5064
I'm not sure to understand the 2.25% number.
When navigating in the `Compile()` source code, I see 4.7% in front of the line. So for me it's 4.7% of overall CPU time.
When comparing old method with the 'number increment' method, it gives 54% - 49.6% = 4.4% (so more or less 4.7%).

I suppose the 'number increment' is faster.
And I imagine that the name must be unique for a same application run, You

[2016-07-23 01:02] rynowak commented on #5064
It would be nice to generate something recognizable IMO and not just an incrementing integer... But we also have to make sure the names are unique or else you get runtime errors... Should we do both?

[2016-07-23 01:28] blowdart commented on #5064
It cannot be predictable, otherwise we could have a planting attack. So an increment doesn't work. Nor will the view name.

You might be better bringing this up on the clr repo and ask them to improve performance.

[2016-07-23 02:05] dikoga commented on #4196
hi guys, was this integrated in the current release? @Serjster did you update this snippet? thanks

[2016-07-23 03:28] davidfowl commented on #5064
Can we start with a random seed then increment?

[2016-07-23 06:44] Serjster commented on #4196
Not sure what you mean by "did you update this snippet?"

[2016-07-23 09:00] runesoerensen commented on #2634
Stumbled upon this thread and I think there may have been some misunderstandings here; This is an old issue, but I wanted to clarify how and why there is a legitimate use case for supporting this header.

AppHarbor does indeed terminate TLS at the load balancer level and use the `X-Forwarded-Proto` header to indicate the protocol of the client connection. Similarly, the `X-Forwarded-For` header is

[2016-07-23 09:01] Yves57 commented on #5064
I was thinking about this problem, and I have found that the problem is maybe... in the Profiler:

Test 1: in the following image, I have changed the 'startTimestamp' line to be sure it to make as fast as possible.
![image](https://cloud.githubusercontent.com/assets/11701094/17076999/7594a146-50c1-11e6-8975-accae95ebe8b.png)
We see that the  'startTimestamp' line does not take significant time and

[2016-07-23 11:42] dikoga commented on #4196
Sorry, I did not explain why I am asking. This is not working for on this current version. The ModelType class does not have anymore the IsClass or IsInterface anymore. ModelBindingContext also doesn't have the OperationBindingContext and the interface has changed too. Thanks for replying.

Koga, Diego
----------------------------
Sent from my iPhone

[2016-07-23 18:35] Eilon commented on #4944
One possible issue with doing this is that it assumes that the contents of the view are necessarily HTML, which isn't always the case. E.g. a partial view might render a JavaScript snippet or other type of content that is then embedded in a larger HTML document.

Certainly an interesting idea, but no plans to implement it at this time.

[2016-07-23 18:37] Eilon opened #5066 "Mark ViewEngine property of ViewComponentResult as Obsolete"
Per https://github.com/aspnet/Mvc/issues/4916, this property serves no purpose at all. Let's mark as obsolete and update the doc comments to reflect it.

Please refer to https://github.com/aspnet/Home/wiki/Engineering-guidelines#breaking-changes to see how to mark this property as obsolete.

[2016-07-23 18:39] Eilon commented on #4916
I logged https://github.com/aspnet/Mvc/issues/5066 to mark the property as obsolete. Then we'll do the removal (this bug) in 2.0.0.

[2016-07-23 20:56] ShadowDancer commented on #4944
Still it would be great if there was extensibility point, so I can do it myself without replacing RazorViewEngine :)

[2016-07-23 21:42] NTaylorMullen opened #5067 "Calling ToString on a UrlResolutionTagHelper resolved attribute value does not retrieve the value."
For instance if you create a TagHelper that runs after UrlResolutionTagHelper and do this in the Process method:
[code]
value ends up being equal to the ToString'd version of [this](https://github.com/aspnet/Mvc/blob/49a48a0a3352135b38a373c7d7a9cbbdc9ee97bf/src/Microsoft.AspNetCore.Mvc.Razor/TagHelpers/UrlResolutionTagHelper.cs#L347) type name.

I believe for all other attributes that Mvc TagHelpe

[2016-07-23 23:50] dougbu commented on #4196
That property is of type `Type`. You'll see `IsClass` and `IsInterface` when using desktop .NET. For .NET Core, use `GetTypeInfo()` e.g. `context.ModelType.GetTypeInfo().IsClass`.

We remove the little-used `OperationBindingContext` class and moved its important members elsewhere between RC2 and 1.0.0. See 756cd2d and #4501 for more information.

Similarly the `IModelBinder` interface changed when

[2016-07-24 00:12] dougbu commented on #5067
Why does your code use `ToString()` without checking whether `Value is IHtmlContent`? Why is this question specific to `UrlResolutionTagHelper`?

I don't believe we've made any guarantees about `Attributes["name"].Value` stronger than it is mostly an `IHtmlContent` implementation or a `string`. And generally i.e. with the exception of `HtmlString` (for legacy reasons), `StringBuilder` and most val

[2016-07-24 02:51] rjpaulsen opened #5068 "Tag Helper in TemplateEditor doesn't bind depending on TemplateEditor's location"
I'm using areas to divide up my application and everything works as expected, including an EditorTemplate -- but only if the editor template in a certain location.  My Project works when it is setup like this (note the location of MyEditor.cshtml):

    \Areas\Area1\Controllers\TestController.cs
    \Areas\Area1\Views\Test\Index.cshtml
    \Areas\Area1\Views\Shared\EditorTemplates\MyEditor.cshtml

[2016-07-24 05:37] dougbu commented on #5068
Where are your `@addTagHelper` directives? You may for example have a `Areas\Area1\Views\_ViewImports.cshtml` but not a `Views\_ViewImports.cshtml` file.

[2016-07-24 12:39] chassq opened #5069 "Turn on PUT/DELETE verbs for MVC"
Just wondering how we go about making MVC honor PUT/DELETE HTTP verbs. I think at one time we had to uninstall WebDAV and change the web.config. Would that method still apply to Core on IIS Express? My code now uses POST just fine but just switching over to PUT (HttpPut attribute and setting method="put") causes the request to go to the HttpGet method.

Thanks!

[2016-07-24 13:14] rjpaulsen commented on #5068
Oh, man I hate it when the answer is under a title like "Introduction to Tag Helpers". Gracias.

[2016-07-24 13:14] #5068 closed

[2016-07-24 16:45] maxim-boligatov opened #5070 "Wrong JsonSerializationSettings behaviour."
In case of the following setup:

[code]
we will got the following errors:

**1) DataConverter (derived from JsonConverter) will not be called at all... never...**
I am trying to parse data sent to method of controller. It is used to provide some API for client side and JS sends JSON data with Content-Type: application/json. I need to instantiate custom object to pass it to controller as input para

[2016-07-24 17:13] VSG24 commented on #4775
https://stackoverflow.com/questions/36535511/how-to-use-area-for-asp-net-core

[2016-07-24 17:26] omuleanu opened #5071 "can we get IUrlHelper in Startup.ConfigureServices ?"
I need to set `context.DisplayMetadata.AdditionalValues` with a value generated by `IUrlHelper`, so I think I need something like this:
[code]
is this possible now ?

[2016-07-24 18:43] NTaylorMullen commented on #5067
We haven't made any guarantees but currently this is the only API with this inconsistency. I ran into this while prepping for a talk and it took a bit of investigation to figure out why things weren't working.

Another alternative for this would be to add a nice extension method to `TagHelperAttribute` to get a string value. It could do the `IHtmlContent` checking for users..

[2016-07-24 20:56] maxim-boligatov commented on #5070
I guess I have figured out at least some of above questions.
I got converter code working (DataConverter : JsonConverter) when I used [FromBody] attribute.
It looks in comparison to Web Api 2 that attribute is mandatory in ASP.Net Core.

But issues related to JsonSerializerSettingsProvider, settings in JsonResult and different formatters settings are still actual but not so critical.. I think I ca

[2016-07-24 21:16] tysonnero commented on #4560
Hi - Any update on this or existing workaround?

[2016-07-24 21:40] Eilon commented on #4560
@tysonnero still no plans to make changes here.

Do you have thoughts on what this feature would look like? We have to be cautious regarding breaking changes, which is what makes improvements here potentially a bit tricky.

[2016-07-24 21:45] Eilon commented on #5069
@chassq all HTTP verbs are supported by MVC. Can you show your code and show what doesn't work?

If you're using IIS and you have some IIS modules or settings that prevent ASP.NET Core from seeing those verbs, of course you'll need to change those settings 😄

[2016-07-24 21:52] Eilon commented on #5071
@rynowak any thoughts/tips/tricks on this?

[2016-07-24 21:55] Eilon commented on #5067
What's the scenario here? Prepping a talk doesn't count for much 😄

Also, what are negative consequences to "fixing" this? Would we be encouraging bad programming in some manner?

[2016-07-24 22:02] Eilon commented on #5070
@kichalla can you investigate?

[2016-07-24 22:30] Eilon commented on #4944
@ShadowDancer understood. If you can spot where we could potentially improve the extensibility we can take a look. At this time this isn't a high priority, but if you can help point out to us what the improvement could be we'll take a look.

[2016-07-24 23:05] khellang commented on #5069
Sounds like #5038?

[2016-07-25 01:51] emailtowalter opened #5072 "routeOptions.LowercaseUrls does not support area"
Hi... when I use area in MVC, routeOptions.LowercaseUrls =true seems do not change the area casing.

i.e. \Areas\Feature1\Controllers... I have to type //domain/Feature1/...

Bug?

[2016-07-25 03:27] ctolkien commented on #4871
Depends which specs you read :)

`datetime-local` is here:
https://w3c.github.io/html/sec-forms.html#element-attrdef-input-type

And also in the WHATWG specs:
https://html.spec.whatwg.org/multipage/forms.html#attr-input-type

Here's the issue where `type="datetime"` was removed from the spec:
https://github.com/whatwg/html/issues/336

[2016-07-25 04:32] dougbu commented on #5071
@omuleanu LGTM. Did you file this issue because you hit a problem?

[2016-07-25 04:33] dougbu commented on #5071
Oh, wait. Get the `IUrlHelperFactory` and grab the `IUrlHelper` per-request.

[2016-07-25 04:51] davidfowl commented on #5071
@omuleanu You need to register an `IConfigureOptions<MvcOptions>` to get access to services when building up options:

[code]

[2016-07-25 05:25] omuleanu commented on #5071
@davidfowl how do I register `MyConfigureMvcOptions` ?
I presume should be something like `services.AddMvc().AddOption<My ..`. ?

[2016-07-25 05:28] davidfowl commented on #5071
I updated my sample showing how

[2016-07-25 05:39] omuleanu commented on #5071
Thank You,
would it also be possible to get the urlHelper in the Startup.ConfigureServices
something like this;
[code]
basically this would let me calculate all the needed urls in advance at startup

[2016-07-25 05:44] davidfowl commented on #5071
The URL helper requires an `HttpContext`, that's not available at `Startup`

[2016-07-25 06:45] NTaylorMullen commented on #5067
The scenario is writing a TagHelper that wants to consume the output of the `UrlResolutionTagHelper`. In my example I was writing a TypeScript TagHelper that inspected the outputs src attribute. I was trying to let the UrlResolutionTagHelper do its magic without me having to manually resolve the ~/ at the beginning of the Url. Turns out to do that I need to do all the magic of checking what the at

[2016-07-25 08:20] cherici-simone opened #5073 "Route, template and querystring"
We've migrate our web api project from RC1 to core 1 and we notice a couple of strange behavior. The "worst" one is that it seems that when using wildcard as last parameter in the route template the querystring version of the http call doe not work. Here is an example (the controller name is SpaceController).

The action:
**_[HttpGet("Details/{*fullPath}")]
public async Task<IActionResult> GetSpac

[2016-07-25 08:26] omuleanu commented on #5071
I'm trying to set `DisplayMetadata.AdditionalValues` with values returned by urlhelper, and it seems to me that this isn't possible,
I can pass the `IUrlHelperFactory` to the `MyDisplayMetadataProvider` via constructor, but in
[code]
I don't have the ActionContext to pass to the `urlHelperFactory.GetUrlHelper`

[2016-07-25 08:29] chassq commented on #5069
Hey,

Included an attached zip with src but in short I simply created a new ASP NET Core web application and did the following:

1) Created a ViewModel with one public property
2) Create 3 action methods in a controller. Each had its own allowed verb attribure (HttpGet, HttpPut and HttpPost). Also added a route attribute for each action method all named the same (e.g. 'testme'). The ViewModel in t

[2016-07-25 09:24] AbubakarIdris commented on #494
If these are the new ideas you the ASP.NET Team is trying to introduce into the Webpages model, then I'm not upgrading to any version greater that 3.0.
Why?
It seems the team is trying to focus much on the "enterprise"  developers who use MVC. It's not really a bad thing for Microsoft.
But it's bad for the lot of us who just need something straight forward, but still powerful. The current version

[2016-07-25 12:58] qqbuby opened #5074 "The `BindingSource` of a optional route parameter should be `Path`, not `ModelBinding`."
E.g.

[code]

When I use `ApiExplorer` to get the `ApiDescription` of this API, it contains one `ApiParameterDescription` named `id`. However, the `Source` of the `id` is `BindingSource.ModelBinding`.  But It **MUST** be `BindingSource.Path`,  although it's a optional route parameter.

*Immediate Window from VS2015*

[code]

[2016-07-25 13:28] branciat opened #5075 "TryUpdateModelAsync is not binding with a collection model"
Hi,

When i use TryUpdateModelAsync on the whole collection objects, the properties values for each entity are updated but without using the binding.

Here the code that i wrote with 3 case Single, Collection, Collection update with prefix on each entity.

Controller
[code]
View Single
[code]
View Collection
[code]
The model

[code]

And below the output to single
*** SINGLE VERSION ***
model orig

[2016-07-25 15:17] Serjster commented on #4196
Thanks for the update @dougbu We actually haven't moved to RTM yet because we are waiting on some libraries we depend on ( https://docs.google.com/spreadsheets/d/14D9gV9PbugBox_GpNR6VDr_RCeOcMyBEbCCNj6edJVc/edit#gid=0 ) to go RTM first.

One thing that is a problem even in the current version of our model binder is that the order of properties in the class is no longer respected before being acces

[2016-07-25 15:33] rynowak commented on #5074
This parameter would also accept data from the query string. `/api/nodes?id=42` would work, which is why it's marked as "modelbinding". A non-optional route parameter would could not match query string data - for instance if you accessed `/api/nodes/37?id=42` - the value `37` would be bound because route values come first in the priority order of value providers.

I'd suggest using `[FromRoute]` o

[2016-07-25 15:48] rynowak commented on #5064
You're using a sampling profiler, which is statistical in nature. If you need really precise data then you need to run through a lot of iterations.

Also depending on how the profiler measures time (CPU time vs Thread Time) your measurements can be thrown off by GC if you hit a long pause while that method is on the stack.

[2016-07-25 15:59] rynowak commented on #5064
I had a chance to speak with @blowdart about this - the concern is that if we use predictable names, an assembly somewhere on the system could conflict and take precedence (like in the GAC).

However, we're using the `LoadStream` method to load the compiled assembly, so we're not sure that there's a risk here. We need to confirm that `LoadStream` will ignore names/load paths to really know.

[2016-07-25 16:05] dougbu commented on #5067
@NTaylorMullen the "inspection" aspect of this scenario seems suspect. Why "consume the output" of another tag helper?

In any case, any API that assumes it's appropriate to use a fixed HTML encoder or that ignores the inefficiency of creating a `string` unless absolutely necessary sounds worse than the "bad programming" of layering additional semantics on top of `ToString()`.

[2016-07-25 16:06] she2 commented on #2276
I want to believe it is the worse kind of design. How do we store complex data then? Any alternative?

[2016-07-25 16:26] dougbu commented on #5071
`AdditionalValues` is not appropriate for values which are created for a specific request. For example you could generate URLs containing `localhost` and use them responding to a request from another machine.

More generally `ModelMetadata` contains only static information about a specific `Type`.

Recommend creating a new service implementing an `interface` with methods that accept a `ViewContext

[2016-07-25 16:32] nil4 commented on #4960
@javiercn @Eilon @danroth27  The issue was reported three weeks ago but the fix is not yet merged. Is there still a chance of this making it into v1.0.1 or v1.1.0?

[2016-07-25 16:40] omuleanu commented on #5071
in mvc5 I was using `url.Action` in an `IMetadataAware` attribute, so I was trying to do same thing here,

but I can get around the limitation by passing the parameters (controller, action), and letting the html helper in the view call url.Action

[2016-07-25 16:40] #5071 closed

[2016-07-25 16:44] Eilon commented on #4863
@rynowak is the work item here (as far as we know) to add a new `ProducesResponseAttribute` that has a ctor like `ProducesResponse(int statusCode)`, but is otherwise identical to https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ProducesResponseTypeAttribute.cs?

@domaindrivendev would this satisfy your suggestion?

[2016-07-25 16:51] Eilon commented on #5072
@javiercn can you investigate?

[2016-07-25 16:54] dougbu commented on #4196
@Serjster not sure what you mean by "no longer respected". Model binding is by default done in the order Reflection lists properties. If that has changed (doubtful), it happened in Roslyn or the CLR.

But you can override the default using e.g. `[Display(Order = 100)]` on the `ID` property. The default `ModelMetadata.Order` is `10000` unless overridden in this way.

[2016-07-25 16:57] tysonnero commented on #4560
@Eilon I know with `@Url.Action`, you can pass and `object values` parameter, right? I know it supports collections such as saying `new { items = Model.SomeCollection }`. I'm don't think asp-route-data-all supports an object argument, and if it doesn't could we have another tag helper that does?

[2016-07-25 17:01] Eilon commented on #4871
It's unfortunate we didn't see this before shipping 1.0.0.

I believe it would be a breaking change to change `System.DateTime` to render as `<input type="datetime-local" ... />` instead of `<input type="datetime" ... />`, so a change like that would have to wait for 2.0.0.

We could in the meantime perhaps have it render as `<input type="text" ... />`, which would effectively just be an HTML rend

[2016-07-25 17:03] kichalla commented on #5070
If you are trying to access the json options (that you had setup in Startup.cs) in your controller, you can inject the service `IOptions<MvcJsonOptions>`.

But note that you must never change these settings on a per-request basis because these options are applied globally..i.e they would effect all requests to all controllers.

An example of how you can supply serializer settings to JsonResult is

[2016-07-25 17:03] DamianEdwards commented on #4960
It's currently slated to be fixed in 1.1.0

[2016-07-25 17:07] #5074 closed

[2016-07-25 17:13] Eilon commented on #2276
@she2 the recommendation is to serialize it yourself using a serializer that you know has the correct fidelity. The problem with doing this automatically is that there is no serializer that can serialize completely arbitrary data with full fidelity. And only the person writing the app knows what serializer matches the data structure that needs to be serialized. Once you have a string, you can stas

[2016-07-25 17:15] NTaylorMullen commented on #5067
Hu?

TagHelpers are additive in nature; multiple can run on a single element. Part of that is communicating between TagHelpers on a single element (a supported scenario). Why do the work of another TagHelper if it's already running? We currently have `IUrlHelperFactory` instances injected into a few MVC TagHelpers that duplicate work already done because as a framework we can't guarantee that the

[2016-07-25 17:19] kichalla opened #5076 "File input no longer posting"
_From @MihaiBratulescu on July 4, 2016 7:10_

I have a few of these file inputs:

    <input id="ZoneOfAnalysisFiles[@Model.Key].Key" name="ZoneOfAnalysisFiles[@Model.Key].Key" value="@Model.Value.Identification" hidden />

    <input id="ZoneOfAnalysisFiles[@Model.Key].Value" name="ZoneOfAnalysisFiles[@Model.Key].Value"
                                       type="file" multiple style="display:in

[2016-07-25 17:19] kichalla commented on #5076
_From @Tratcher on July 5, 2016 16:32_

Is it in Request.Form.Files?

[2016-07-25 17:19] kichalla commented on #5076
_From @MihaiBratulescu on July 5, 2016 16:55_

@Tratcher Yes, I now see it's posting but not binding to the dictionary (IDictionary<string, IEnumerable<IFormFile>>) from my model.

[2016-07-25 17:19] kichalla commented on #5076
_From @Tratcher on July 5, 2016 16:58_

@rynowak @kichalla ?

[2016-07-25 17:19] kichalla commented on #5076
_From @MihaiBratulescu on July 5, 2016 17:3_

Sorry I swear I wrote something else, my model is:

[code]

[2016-07-25 17:19] kichalla commented on #5076
_From @prilutskiy on July 5, 2016 23:14_

@MihaiBratulescu, Do you have _enctype_ attribute of the form set to _multipart/form-data_?

[2016-07-25 17:19] kichalla commented on #5076
_From @MihaiBratulescu on July 6, 2016 13:17_

@prilutskiy Yes, like I said it worked in RC2. I have the same problem on a different machine at home.

[2016-07-25 17:19] kichalla commented on #5076
I am looking at it now.

[2016-07-25 17:19] kichalla commented on #5076
Could you share how your raw request looks like?(ex: browser developer tools) I am *not* interested in the files being uploaded but the individual parts' headers(because for model binding purpose how the key names are important). So following is the model you are binding to?

[code]

[2016-07-25 17:19] kichalla commented on #5076
_From @MihaiBratulescu on July 6, 2016 21:27_

@kichalla not sure what you ask for but here is a more simple example that also does not work:

Model:

[code]
View:

[code]

Controller:
[code]

As for the headers:

Request URL:http://localhost:54821/Home/Upload
Request Headers
Provisional headers are shown
Content-Type:multipart/form-data; boundary=----WebKitFormBoundaryB2Y9SIARh3WgqkPB
Origin:http

[2016-07-25 17:19] kichalla commented on #5076
Thanks! for the simple repro. cc @dougbu

[2016-07-25 17:21] Eilon commented on #5069
@javiercn can you take a look and see if it's related to https://github.com/aspnet/Mvc/issues/5038 ?

[2016-07-25 17:34] Eilon commented on #5075
@kichalla can you investigate?

[2016-07-25 17:38] dougbu commented on #5067
We created a `TagHelperAttribute` which avoids the implication that attribute values are simple `string`s. Your API suggestion moves away from that, which is not a positive step.

On the original idea, we have numerous `IHtmlContent` implementations and only `HtmlString` overrides `ToString()`. Note a few have `[DebuggerDisplay]` attributes for help when debugging.

The general guidance is "consum

[2016-07-25 17:51] NTaylorMullen commented on #5067
My API suggestion enables users to consume the `TagHelperAttribute`'s `Value` as a `string` which is the most common way to do consume it. It doesn't change the fact that the Value would still be an object, it'd just be an extension method like `TagHelperAttribute.GetValueAsString()`.

That duplicates the logic and runs the code a second time at runtime. Not to mention it's extra code that I'd rat

[2016-07-25 18:02] hikalkan opened #5077 "ActionExecutingContext Exception handling"
Hi,

I have a simple action filter like that:

[code]

What I want is simple: If no exception occurs, then I complete the unitofwork/transaction.

The problem is that: Exceptions are internally handled by MVC (https://github.com/aspnet/Mvc/blob/5339a3e0cee469b856c11344613f8ab8c3c802ba/src/Microsoft.AspNetCore.Mvc.Core/Internal/ControllerActionInvoker.cs#L386) and my CompleteAsync code is executed

[2016-07-25 18:07] dougbu commented on #5067
Converting an often-multipart container into a simple `string` cannot embody the guidance. Note for example that the `UrlResolutionTagHelper` creates different `TagHelperAttribute`s depending on `Value`'s original type.

[2016-07-25 18:16] NTaylorMullen commented on #5067
Lets talk offline with @Eilon

[2016-07-25 18:50] Bartmax commented on #4871
At least it won't throw warnings on browsers and those who using it will clearly see that 'it's not supported' rather than it's supported something deprecated and had to research about it.

Not a huge difference, but it may help.

@Eilon

Not trying to be mean, I reported this at June way before RTM ships, what could I done differently? I had no confidence on showing the specs @ctolkien shown. The

[2016-07-25 18:54] rynowak commented on #5077
In an `IAsyncActionFilter` calling `next()` returns an `ActionExecutedContext`. So:
[code]

[2016-07-25 19:12] Eilon commented on #4871
@Bartmax the product was released on June 27th, just 12 days after this report. At that time the product was in escrow so we were taking only the most critical fixes (e.g. bad crashes, data loss, security issues, etc.). Unfortunately due to the timing, I don't think there was anything better anyone could have done.

But anyway, I think changing it to `type="text"` is fine for now. Perhaps we can c

[2016-07-25 19:15] kichalla commented on #5075
@branciat Thanks for providing a simple repro

This behavior is by design. For example, you the following test in MVC explicitly tests this:
https://github.com/aspnet/Mvc/blob/1.0.0/test/Microsoft.AspNetCore.Mvc.IntegrationTests/TryUpdateModelIntegrationTest.cs#L109

cc @dougbu for any more comments he might have

[2016-07-25 19:18] Bartmax commented on #4871
@Eilon ah of course, forgot about the escrow thing. makes sense. Thanks for the feedback.

In my current project, where I'm using tag helpers, I'm overriding it as `type="datetime-local"` on the html which is very easy and fair workaround. Maybe that can be added in the corresponding documentation as a side note/workaround.

In the future I will try to discover things earlier :smile:

[2016-07-25 19:27] dougbu commented on #5075
@branciat a bit more background: `TryUpdateModelAsync()` can only preserve the top-level `object` it's passed and any properties that are completely untouched. Unless a collection property is not bound, it will be cleared and then filled with new elements.

Bottom line, the approach you took here is what I'd recommend:
[code]

[2016-07-25 19:50] branciat commented on #5075
Ok thank you for these explanations. i'll override the TryUpdateModelAsync method to help manage collections of my controllers in a simple manner, while retaining the binding behavior.

[2016-07-25 21:31] Bartmax opened #5078 "question: How to replace UrlResolutionTagHelper."
How can I replace the default `UrlResolutionTagHelper` with my own custom one?

[2016-07-25 21:35] Serjster commented on #4196
@dougbu Thanks for replying. I created a sample project demonstrating the issue here:
https://github.com/Serjster/IOCModelBinderExample

If you put a breakpoint in the getter for SelectedCustomer and enter a value > 0 into that form field, you will notice that the first time the getter is hit, the value of ID is 0, even though it is first in the class. The second time that getter is hit will now h

[2016-07-25 22:20] NTaylorMullen commented on #5078
## Service way:
[code]
Note: This does not require any additional `@addTagHelper` directives. It simply returns the `CustomUrlResolutionTagHelper` when the default one is requested.

## Non-ServiceWay:
- `@removeTagHelper Microsoft.AspNetCore.Mvc.Razor.TagHelpers.UrlResolutionTagHelper, Microsoft.AspNetCore.Mvc.Razor` - This will remove the default
- `@addTagHelper CustomUrlResolutionTagHelper, As

[2016-07-25 22:25] Bartmax commented on #5078
Thank you @NTaylorMullen !! excellent!

[2016-07-25 22:27] Bartmax commented on #5078
I suspect Url.Content will NOT use the custom `CustomUrlResolutionTagHelper` logic ?

[2016-07-25 22:30] NTaylorMullen commented on #5078
Nope.

[2016-07-25 22:31] qqbuby commented on #5074
thanks

[2016-07-26 00:11] ctolkien commented on #4871
@Bartmax, FYI there is an overload for the `DataType` attribute to provide a "custom data type". We're using this:
[code]

Along with the typical tag helper syntax:
[code]

To render:
[code]

You probably could write your own tag helper to come in over the top after the regular input tag helper has run to change the type. I might look at doing that in the next day or so.

@Eilon  I'd actually pref

[2016-07-26 00:23] ctolkien commented on #5072
Am not able to reproduce.

Given:
[code]

Produces:

[code]

After configuring:

[code]

Produces:
[code]

Unless OP @emailtowalter  isn't referring to URL generation?

[2016-07-26 00:36] Eilon commented on #5072
Yeah I wouldn't expect this to reproduce. Routing doesn't know anything about areas, so I don't see how it could possibly affect it...

[2016-07-26 01:49] emailtowalter commented on #5072
I was not clear. It is NOT about URL generation, but the routing. I deploy .net core on Cloud foundry (linux) where is case sensitive for the URL ( unlike windows platform).

I found that controller and view do not care about casing with opts.LowercaseUrls = true; But area still case sensitive. I guess Eilon pointed out that area is not in the routing scope.

Anyway, thought it would be nice to in

[2016-07-26 01:58] Bartmax commented on #4871
@ctolkien
That is indeed a better workaround.

[2016-07-26 02:36] ctolkien opened #5079 "Html.Hidden() does not respect value passed in if present in ModelState."
Scenario:
[code]

View:

[code]

Request via` /controller/index/wat`

This generates:

[code]

Whereas I would expect:

[code]

The documentation for that overload states: `Value: if non-null, value to include in the element`.

Sample repo:
https://github.com/ctolkien/mvc-bug-repro

[2016-07-26 02:50] ctolkien commented on #5079
https://github.com/aspnet/Mvc/blob/8a6e99c7c0efc3f88ae8fd8a2ce6255fb57c72f1/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs#L1233

[2016-07-26 03:31] ctolkien commented on #4871
@Bartmax _super_ naive implementation:

[code]

Works on my machine, probably slow as all hell and filled with bugs, etc. etc. yadda yadda...

[2016-07-26 03:54] ctolkien commented on #4871
Less stringy version:

[code]

[2016-07-26 04:29] Eilon commented on #5072
@emailtowalter thanks for the extra info. The `routeOptions.LowercaseUrls` option just tells ASP.NET Core's Routing system to always *generate* URLs in all-lowercase. It doesn't affect matching incoming request URLs.

Can you explain what you mean by "area still case sensitive"?

[2016-07-26 04:53] Eilon commented on #4650
@sebastienros I assigned to you to track the PR that I just assigned to you as well.

[2016-07-26 05:42] Eilon commented on #3603
@ctolkien unfortunately that just happens to be the current implementation. I've seen apps where the URL resolution logic is overridden to support more advanced scenarios (e.g. CDNs, other custom lookups, etc.), so I don't think it's safe to assume it's just simple logic with the `~` char...

[2016-07-26 05:52] dougbu commented on #5078
It also doesn't change URL resolution in subclasses -- the `<img>`, `<link>` and `<script>` tag helpers.

[2016-07-26 10:04] maxim-boligatov commented on #5070
In your example for JsonResult json settings are obtained from
 _customSerializerSettings = JsonSerializerSettingsProvider.CreateSerializerSettings();

How can I obtain here settings used application-wide (provided in Startup.cs)?

It looks really reasonable to have something like:
 _customSerializerSettings = JsonSerializerSettingsProvider.GetGobalSettings();
 _customSerializerSettings = JsonSeri

[2016-07-26 15:10] AhmedMozaly commented on #4588
For me, it is really wired behavior need to be changed
assuming that hosting environment is load-balancer-free is nor the right assumption, ASP.NET MVC should be cloud-ready by default

I should not spend much time before figuring out that ASP.NET MVC can't see the giant thing in front of it, so called load-balancer
---
PLEASE RE-OPEN THIS ISSUE

[2016-07-26 15:10] clydin commented on #4863
I ran into the same issue.
With the status code first, I've also found the code is easier to read due to the status code having a consistent length of 3 characters; whereas the type varies.

I've been adding the following into each of my new projects:

[code]

[2016-07-26 16:26] kichalla commented on #5070
You can inject `IOptions<MvcJsonOptions> options` into your controller. It is these settings I was referring to about not modifying on a per-request basis.

This is not correct. JsonResult, if used without constructor taking in settings, uses the settings from the global MvcJsonOptions.

[2016-07-26 16:35] #5075 closed

[2016-07-26 16:56] emailtowalter commented on #4645
Tried this workaround on version 1. Does not seem to work. Any idea?

[2016-07-26 17:05] Eilon commented on #4588
@Tratcher @sebastienros thoughts?

[2016-07-26 17:08] sebastienros commented on #4588
This is new valuable information that it's related to request forwarding, that could explain why we couldn't repro. I need to look at how we should handle the scenario, will check with Chris as he probably already knows.

[2016-07-26 17:28] Eilon commented on #5073
@javiercn can you take a look? I have this sneaking suspicion that at least part of this is by design, e.g. due to the ordering of value providers in model binding. But I'm not sure, especially about the second part of the report.

[2016-07-26 17:43] Eilon commented on #5079
Hmm don't all HTML helpers work this way? ModelState always takes precedence because it includes what is believed to be the "latest updated value." It's there to preserve the user's input in case they perhaps typed in a value that isn't valid, but could still be corrected and then they could submit again.

I believe this is the behavior all the way back to ASP.NET MVC 1.0.

[2016-07-26 17:44] tuespetre commented on #4645
@emailtowalter

This works:

[code]

I don't have the link handy but I recall a team member saying that the default templates are going to start using that pattern.

[2016-07-26 17:45] javiercn commented on #5073
Will do

[2016-07-26 18:16] rynowak commented on #4645
yes, that's the change we're making to the templates

[2016-07-26 21:07] Panda-Srujan opened #5081 "Needed assistance in dealing with nested data table structure"
Hi everyone,

I'm new to MVC. I've a situation where I've a data source (3 tables) from which I'm getting the data and need to display in a table format in such a way that when I click on a row of first table, it should expand into another (child) table and when clicked on one of the rows of child table, it should expand into its another (sub child) table. And each table, either sub child or child

[2016-07-26 21:40] Eilon commented on #5081
@Panda-Srujan this kind of question might be better suited to a forum such as StackOverflow. I recommend using the following tag: http://stackoverflow.com/questions/tagged/asp.net-core-mvc

[2016-07-26 21:55] Panda-Srujan commented on #5081
Hi Eilon,

Thanks for your suggestion.

[2016-07-26 23:06] maxim-boligatov commented on #5070
OK, it sounds correct BUT it is not exactly so... to be honest JsonResult will not use any global settings. If I understand source code correctly JsonResult will not provide own settings in case of default constructor (with value only). So since settings property is not initialized - default settings will be used during serialization.

But it makes a significant troubles for classes derived from J

[2016-07-26 23:10] javiercn commented on #5073
I've tried the following and everything works.
Products/Bread/Glutten/Free gives back Bread/Glutten/Free
If you use [FromQuery] as you see below, you can also do Products?fullPath=Glutten/Free
If you don't specify anything, the default value is used and the result is "something".

[code]

[2016-07-26 23:11] javiercn commented on #5073
If this is still happening to you, can you provide a small repro project?

[2016-07-26 23:25] javiercn commented on #5072
I can't repro this behavior:
[code]
Both /MyArea and /myarea work and route as expected.

[2016-07-26 23:29] ctolkien commented on #5079
I could understand that being the case if no value was supplied, e.g `@Html.Hidden("id")`, however when there is explicitly a value being defined?

I do remember hitting a similar issue with mvc.old and it being a pain in the backside then :) - not sure if exactly the same. Here's a concrete example of how this bit:

Given `/controller/action/123`

[code]
^ `item.Id` is ignored, uses `123` from th

[2016-07-26 23:40] emailtowalter commented on #4645
It is sort of not working. when I publish to a folder outside of project foder, none of the folders are copied. But if I use the default location, things work. Should I log a separate issue?

dotnet publish -r ubuntu.14.04-x64 -o ..\..\publish\ubuntu\

[2016-07-26 23:43] javiercn commented on #5069
Hi,

I tried with fiddler and it works fine for me, so I doubt its #5038. I tried to see what your repro is doing and it is sending a get request. I believe web browsers don't understand other verbs than get and post, so  given a put method, the browser defaults to get. See https://www.w3.org/TR/html401/interact/forms.html#h-17.13.1 for details

I don't think there is any work/issue here.

[2016-07-27 01:03] Serjster commented on #4196
Can someone take a look at the example repo in the above post and give me some ideas please?

[2016-07-27 08:20] ingAlfano commented on #5073
Hi I am writing on behalf of simone.

I've tried the following:
[code]

api/Path?fullPath='foo'      returns "foo"
api/Path/foo                      returns  "something" (default value)

when removing  [FromQuery]
[code]
api/Path?fullPath='foo'      returns null
api/Path/foo                      returns  foo

Thank you for your help

[2016-07-27 08:53] chassq commented on #5069
Ah, that must be it.

Found this bug was being tracked ( https://www.w3.org/Bugs/Public/show_bug.cgi?id=10671 ) but is now flagged as resolved/wont fix.

I will close this issue.

[2016-07-27 08:53] #5069 closed

[2016-07-27 15:08] rynowak commented on #4645
@emailtowalter please log an issue on CLI https://github.com/dotnet/cli

[2016-07-27 15:18] rynowak commented on #5070
This is what JsonResult does - you can provide your own settings if you want, but by default it uses the settings from `MvcJsonOptions` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/JsonResultExecutor.cs#L118

Can I ask why you need to make a derived class of JsonResult? Is there an enhancement we should make that would remove your need to do this?

I

[2016-07-27 15:48] jugglingthebits opened #5083 "Controller action returns 200 OK when an exception is thrown in iterator"
Hi,

we have come across an irritating behavior in the exception handling for controller actions. We were using the MongoDB api to lazily query collections and return their results as JSON. The success case works as expected, however, when MongoDB could not connect to the DB, the resulting TimeoutException was just ignored, with a 200 OK status code and an empty array as the value.

We were able t

[2016-07-27 15:56] rynowak commented on #5083
It is very likely the case that your exception is thrown while writing to the body, after headers have already been sent to the client, so there's no take-backs on the 200 that was already sent as part of the response. The client will see an error because the body will come back as incomplete.

If you want to deterministically report a 500 when this happens you'll need to either:
- Buffer your `IE

[2016-07-27 16:15] #4959 closed

[2016-07-27 16:52] Eilon commented on #5079
@ctolkien the idea here is that an explicit value passed into the HTML Helper is an *initial value*, but that ModelState then reflects an *updated value* that is of presumably higher importance. Otherwise once the user visiting the site starts editing the value, and perhaps seeing various validation errors, would then see the current state of *their* data as opposed to seeing the initial values ag

[2016-07-27 17:04] #5079 closed

[2016-07-27 17:32] Bartmax opened #5084 "Tag helper to render checkbox/radio button list for Enum (incl. flags)"
Do taghelpers currently supports the following scenarios?
I have a feeling that this is currently supported but I'm missing something.
I'm not sure how to use taghelpers in this cases.

*Scenario1:* `radio`
[code]
so I get multiple (two in this case) radio buttons (one for Male and one for Female).
desired html output (doesn't have to be exact):
[code]

and

*Scenario2:* `checkbox`
[code]
so I get

[2016-07-27 18:00] javiercn commented on #5073
Whats happening here is that the route value data provider provides the empty string when queried about full path and that takes priority over the query string parameter value. This has been the behavior in past versions of MVC and we decided to make it the same in ASP.NET MVC Core for backward compatibility reasons.

[2016-07-27 18:00] #5073 closed

[2016-07-27 18:09] Eilon commented on #5084
What exactly is the scenario? A tag helper to render out the entire radio button list or checkbox list? I don't think we have that. I don't think there was ever an MVC HTML Helper for that either.

One reason we haven't built that helper is that making the UI reasonably customizable is quite challenging... so we just didn't do it 😄

[2016-07-27 18:10] Eilon commented on #5083
@rynowak is the exact repro case here by design?

[2016-07-27 18:11] #5055 closed

[2016-07-27 18:16] rynowak commented on #5083
Throwing after flushing headers resulting in a 200 is definitely by design, I'm not sure we have confirmation yet that's what @jugglingthebits is seeing.

Do you have a log or exception stack trace?

[2016-07-27 18:18] gdoron opened #5085 "How to use razor / TagHelper for collections?"
Hi,

I'm not sure if there's a web standard for how collections should formed and sent.
e.g.

	Images[0]=http://foo.com/0&Images[1]=http://foo.com/1&Images[2]=http://foo.com/2
	vs
	Images=http://foo.com/0&Images=http://foo.com/1&Images=http://foo.com/2
Both work for .NET, but the latter seems (according to [this Stackoverflow answer](http://stackoverflow.com/a/9547490/601179)) to take the last val

[2016-07-27 18:21] Bartmax commented on #5084
Oh guess I'm not missing something then.

The scenario is having validation/metadata passed to the view. (via taghelpers or whatever).
Maybe something like `Html.GetEnumSelectList` but for checkbox/radios.

I'm not sure (yet) but I think the model binder also has problems with flag enum values. (see * below)
posting: name="Gender" value="Male" checked does not populate the underlying enum on the c

[2016-07-27 18:23] gdoron commented on #3519
@rynowak  In #5085 for example, I would consider instead of having to write things like:

	@for (int i = 0; i < Model.Images.Count; i++)
	{
	    <input type="hidden" asp-for="Images[i]" class="hidden-image" />
	    Or
	    @Html.HiddenFor(x=> x.Images[i])
	}
Writing this:

	<input type="hidden" asp-for="Images" class="hidden-image" />
@Bartmax did you mean something like that?

[2016-07-27 18:25] gdoron commented on #5085
BTW, this is how I overcome it, but it didn't utilize the TagHelpers or HtmlHelpers:

    @for (int i = 0; i < Model.Images.Count; i++)
    {
        <input type="hidden" name="Images" value="@Model.Images[i]" class="hidden-image"/>
    }

[2016-07-27 18:29] javiercn commented on #5085
There is no rule in HTML that dictates how to post a collection of elements to the server. Each server technology has its own convention to do this. In the MVC case, as you mention, I believe both approaches are supported. Images[index] and Images.

Regarding the casing, I believe you are asking the reason why some things like Images is capitalized and some other thing like value is not. The reaso

[2016-07-27 18:31] deathrowe commented on #4645
I'm seeing the same thing as @emailtowalter. I created https://github.com/dotnet/cli/issues/3951

[2016-07-27 18:42] Bartmax commented on #3519
@gdoron not exactly what I was thinking. In your example there are very few room to customize.

My scenario was more like, for example, to use a collection in views, you must iterate with for (foreach doesn't work well with model binding) the collection, use the variable `i` on expression, etc.

I think a more flexible `EditorFor`-like tag helper will help.

something like:
[code]
being Name a pro

[2016-07-27 18:45] gdoron commented on #5085
@javiercn Thanks for the **extremely** fast response!

So in cases where elements can be removed from the collection, I cannot use TagHelpers and HtmlHelpers?

Why not always use the `Property` syntax instead of the `Property[index]` syntax.
It works even if items are removed from the DOM.
Or alternatively, make the ModelBinder bind collections with gaps.

Thanks for your answers!

BTW, you got to

[2016-07-27 18:54] gdoron commented on #3519
What does

	for (var i = 0; i < Model.SomeCollection.Length; i) {
		var item = Model.SomeCollection[i];
		<label asp-for"@item.Name">
		<input asp-for="@item.Name">
	}
output?

I'm not sure I understand your need (more specifically the part about the form inside).

Regarding my suggestion, do you see any drawback with it?
In case the binded property is a collection, the TagHelper should iterate ov

[2016-07-27 19:04] Bartmax commented on #3519
I will try to make a repro, because right now I have this issues in a very complex project.
but yes, there are drawbacks. I'll try to get something more concrete in a couple of days.

[2016-07-27 19:56] Eilon commented on #5064
@ryanbrandenburg we'll need to do some more profiling here and make sure we narrow down the exact problem.

Please consult with @rynowak .

[2016-07-27 20:00] Eilon commented on #5060
Closing this one because there's a CLI issue for it.

[2016-07-27 20:00] #5060 closed

[2016-07-27 20:06] javiercn commented on #5085
I'll let @dougbu answer whether the modelbinder can or can not bind collection with gaps, but I would say that  if you are doing DOM manipulation on the client, it is probably a better option to have a model on the client and use AJAX to post some JSON to the server at that point. Another option is to have a specific form for removing elements from the collection (with checkboxes or something like

[2016-07-27 20:16] rynowak commented on #5085
There are three styles the model binder supports for collections. I'll use query string in the examples, form data and route data behave the same. In all of these cases, assume we're binding an `ICollection<int>` to a property `items`.

Single-Element: `/Some/Path?items=1,2,3`
Sequential-Indexing: `/Some/Path?items[0]=1&items[1]=2&items[2]=3`
Explicit-Indexing: `/Some/Path?items.index=0,1,2&items[

[2016-07-27 20:18] gdoron commented on #5085
@javiercn in general I do follow this principal of supporting clients with javascript disabled, but in this case, it's just not possible,
The experience of uploading / edit images without js is horrific.
If your javascript is off, currently, all of our website will function as normal, except for this.
I do not want to fallback to checkboxes, it doesn't worth the effort and the experience is bad an

[2016-07-27 20:30] gdoron commented on #5085
@rynowak I wasn't aware of _Explicit-Indexing_.
You didn't mention the `items=1&items=2` way, is there a reason you ignored it?

I'm not sure why you need so many options though...
And still, none of the ways will work when javascript is disabled or shouldn't be in use.
See [this question](http://stackoverflow.com/q/38473487/601179) for example where there is a list of checkboxes and the checked c

[2016-07-27 21:04] rynowak commented on #5085
Yeah you're right, this is actually the correct one.

[2016-07-27 21:07] dpedrelli opened #5086 "DataAnnotations [DisplayFormat(ConvertEmptyStringToNull = false)] RTM"
Hi,

I, recently, upgraded from RC2 to RTM. Since upgrading, [DisplayFormat(ConvertEmptyStringToNull = false)] on my models no longer works. If the user submits a view with an empty that maps to a string property, the value is set to NULL. I have to write code to test each string property for NULL and set it to an empty string.

Thanks.

[2016-07-27 21:14] gdoron commented on #5085
@rynowak so is it possible to make the TagHelpers output that syntax?
It's a breaking though :( maybe it can be opt-in configuration at startup?

[2016-07-27 22:10] #4960 closed

[2016-07-27 22:25] gdoron commented on #5085
@rynowak Currently is there a way to use a TagHelper/HtmlHelper for something like in the [SO question I linked](http://stackoverflow.com/q/38473487/601179)?
I think there is not.

[2016-07-27 22:33] Eilon commented on #4960
Done?

[2016-07-27 22:37] Eilon commented on #4196
@Serjster you'd need to update to 1.0.0 RTM at this point. If it still repros in 1.0.0 RTM then we will investigate further. Unfortunately we can't look at a repro using a release that's ~8 months old.

[2016-07-27 22:37] #4196 closed

[2016-07-27 22:56] maxim-boligatov commented on #5070
Yes, it is exactly what is mentioned in my previous post. And this makes troubles since I cannot get this default settings in easy way.

Yes something like this and of course I can create some service to handle settings creation/cloning and register this service on startup. But I thought that JsonSerializerSettingsProvider can be such service.

For now as you mentioned (and some guys in this threa

[2016-07-28 04:18] JamesNK commented on #5055
Couldn't you just reference Microsoft.AspNetCore.Mvc.Core? That doesn't bring in the JSON formatter, and therefor no Json.NET

[2016-07-28 04:29] dougbu commented on #5085
@gdoron this conversation seems to be bouncing between the name formats model binding supports and the name formats tag helpers generate. The two overlap of course but model binding is broader because it also supports clients that are not submitting a form on a generated Razor view. Is your question mainly about model binding or HTML generation?

Going back to your original questions:

That's a re

[2016-07-28 06:05] techcap opened #5088 "How to run Asp.net core RTM on mono with Arm based Linux"
Now Asp.net core rtm doesn't work on mono.
There's workaround which I tested.
1. MVC dynamic compilation does not work on mono. Now I used Publish option using right click over project item in solution explorer, Visual Studio.
2. Copy 1st step's publish files to linux machine.
3. System.Runtime.InteropServices.RuntimeInformation.dll is only for windows machine, if I compiled it on windows machine.

[2016-07-28 07:02] ingAlfano commented on #5073
This seems to me a braking change from betaX/rcX to 1.0, we based part of our javascript code on this "feature" at our risk and we can accept it.
How about the default value overriding? Is this also by design? (please refer to my edit above)

Thanks
Alessandro

[2016-07-28 08:10] jugglingthebits commented on #5083
@rynowak yes, the exception is thrown during json serialization. [Stacktrace here](https://gist.github.com/jugglingthebits/da5eace09d185f03718dd5ae76fb5d12)

I guess this error case should be caught earlier as the MongoDB client should detect that it cannot establish a connection during initialization, not when enumerating a collection.

[2016-07-28 08:11] #5083 closed

[2016-07-28 12:20] Muchiachio commented on #5086
Yes, there seems to be a bug in [SimpleTypeModelBinder](https://github.com/aspnet/Mvc/blob/27a641f4bfa6e2ad65f5b9f104e6407ede28c6b1/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/SimpleTypeModelBinder.cs#L48-L67), empty or whitespace string `value` never get's assigned to binded `model` regardless of `ConvertEmptyStringToNull`.

[2016-07-28 15:39] dpedrelli commented on #5086
Is there a workaround to get this to work, other than testing every model, before updating?

[2016-07-28 15:45] Muchiachio commented on #5086
I'm using custom model binder which is registered only for string type. You can see an example [here](https://github.com/NonFactors/MVC6.Template/blob/develop/src/MvcTemplate.Components/Mvc/Binders/TrimmingModelBinder.cs) it does trimming, but you can change the code for only binding string.

[2016-07-28 16:49] ryanbrandenburg commented on #5022
Fixed in #5044.

[2016-07-28 16:49] #5022 closed

[2016-07-28 17:42] javiercn opened #5091 "Make action descriptors descriptive"
We should do a pass through all the types that our users are likely to inspect when debugging ASP.NET MVC Core applications and implement debugger display on them so that its easier to see things like the route template on an attribute routed action or the HTTP method constraints on them.

[2016-07-28 17:44] Eilon commented on #5073
@ingAlfano the main reason we changed it was that it was always a mistake that we just didn't realize, and we didn't want to break compat with previous versions of MVC (1 - 5).

You can change the order of the value providers in MVC's options if you require a different order.

[2016-07-28 18:15] javiercn commented on #5072
Closing for now as we couldn't reproduce the issue. Feel free to provide more information or a repro project and reopen the issue if you are still running into it.

[2016-07-28 18:15] #5072 closed

[2016-07-28 18:19] omuleanu commented on #5028
@dougbu is this going to be implemented any time soon ?

[2016-07-28 18:34] dpedrelli commented on #5086
Thanks.  That looks like a better way to handle it than data annotations.  How do I register it?

I created TrimmingModelBinder and TrimmingModelBinderProvider.  I don't test for the data annotation.  I just removed the code that returns NULL.  I tried registering TrimmingModelBinderProvider, in Startup.cs, by with services.AddMvc(options =>{options.ModelBinderProviders.Insert(0, new TrimmingModel

[2016-07-28 21:50] dougbu commented on #5028
@omuleanu I don't know.

@danroth27, @Eilon this doesn't have a milestone and seems to be missing all labels. Suggest this would be an Enhancement.

[2016-07-29 07:26] kennywangjin opened #5092 "data model property name localization support?"
Currently we could use `IStringLocalizer["Hello World"]` to localize cshtml view.
But when we come to `DisplayAttribute` of model property, its `Name` property could not contain white space like above sample. I have to add new item in RESX file like "Hello_World" to support property name localization, which is very annoying.
Is there any plan to unify these localization tools /ways? Or should I ha

[2016-07-29 09:31] leroyd opened #5093 "Complex model binding with RedirectToAction"
I recently update the framework version from RC1 to last version of Asp.Net core, and I have an issue with "RedirectToAction" method, with complex object to transfer.

RedirectToAction redirect my ViewModel to the action with GET parameters. This example :

[code]

[code]
Into the controller :
[code]

With Asp Net RC1, this working perfectly. The redirect is done with the good parameter :
`"myUrl?

[2016-07-29 10:34] kkordinia commented on #494
mvc view page like web pages has their own helper for data access and membership?
if answer is ok please explain about these helpers.

[2016-07-29 15:31] re3el commented on #4481
@kichalla @jcsotoo92 could you kindly check my similar problem [here](http://stackoverflow.com/questions/38660383/file-not-found-exception-visual-studio-2015/38660566?) I didn't quite understand when you asked to update` project.json` file to have `content `node with `config.json` specified there. It would be of great help if you post a snippet to solve my issue.

Thanks

[2016-07-29 16:11] wangkanai commented on #4877
I like it better if it was implement on top of `IMvcBuilder` like this.
[code]
And if you add options to the device detection service framework like this.
[code]

[2016-07-29 17:12] kichalla commented on #5070
I am not even sure if cloning of settings is a safe thing to do. For example, what does it mean to clone the ContractResolver (which maintains a cache). This would be a question for Json.net.

I am not sure if you need to go that far. Following is an example that I tried now. Of course, if you made any changes to JsonOptions in Startup.cs it wouldn't show up here, but as @rynowak mentioned you cou

[2016-07-29 17:28] Haplois opened #5094 "asp-format is not respected on input[type=hidden] fields"
I have a form with couple of hidden fields. One of them is `DateTime?`, this field is not rendered in the RFC3389 format. Furthermore, if I define a `asp-format` attribute, tag helper simply dismisses this.

To fix this, I forked the repository and started to make code changes. I didn't issued a pull request since it felt like a huge change. Is it OK?

Changes are here: https://github.com/Haplois/

[2016-07-29 17:34] Eilon commented on #5028
@dougbu let's close on a design with @rynowak and we can get this in.

[2016-07-29 18:03] Eilon commented on #5094
@dougbu can you have a look? I'm not super familiar with what the intended interaction of these properties and behaviors is.

[2016-07-29 18:05] Eilon commented on #5093
I think the problem here is a feature that was added to better support lists of data in URL generation. Because `Dictionary<int, string>` implements `IEnumerable`, it is treated as a list, so you get all those commas showing up.

I think you can explicitly convert the list of data to a string and then get the behavior you want:

[code]

[2016-07-29 18:14] Panda-Srujan opened #5095 "Unable to refresh the view after performing operation."
Hi everyone,

I've a situation where I'm displaying the data in table format in my view.

I've called the appropriate action to perform necessary operation like delete, edit and update. I've used RedirectToAction to the main action method to reload the data and refreshes the page.

But unfortunately, the issue is that the page isn't refreshing. Please let me know how to refresh the page.

Thanks i

[2016-07-29 18:16] NTaylorMullen commented on #5095
@Panda-Srujan could you provide a simple repro project for what you're seeing? You should be able to see updates in your views on refresh.

[2016-07-29 18:29] Eilon commented on #5095
There's no server or client caching by default so this should all just work by default. Can you debug your app to see what's happening? Are you sure the data is reloading on the server? Can you check if any HTTP headers are being set that might affect caching? Unfortunately there isn't enough information here for us to investigate.

[2016-07-29 18:47] rynowak commented on #4474
@xaviergxf did you get a chance to take a look at the sample here? aspnet/Entropy@42171b7

[2016-07-29 19:08] Panda-Srujan commented on #5095
Hi Eilon,

I've debugged the code, the code flow is perfect as expected, both in controller and the view after operation being performed except the thing that page is not loading for some reason.

[2016-07-29 19:20] Eilon commented on #5095
So where is the issue? Is the right data being rendered, but the web browser isn't seeing it?

[2016-07-29 19:56] Panda-Srujan commented on #5095
Seems so. The page after redirecting to another controller and back to the view is not at all refreshing in the browser.

[2016-07-29 20:33] dougbu commented on #5094
@Haplois this would be a breaking change since formats, especially default formats, have not applied to `hidden` fields in any previous version. If it were just adding `asp-format` support for `hidden` fields i.e. if `GetFormat()` was never called in the `hidden` case, I'd be less concerned. (Of course, adding the `format` parameter to `IHtmlGenerator.GenerateHidden()` is fine.)

More generally, p

[2016-07-29 20:57] xaviergxf commented on #4474
Hi Ryan,

  Not yet.,..sorry. I'll look at it next week.

Thanks.

Xavier Eric Moura Klausener
xaviergxf@gmail.com
+41774573651

On Fri, Jul 29, 2016 at 8:48 PM, Ryan Nowak <notifications@github.com>
wrote:

[2016-07-29 21:40] leroyd commented on #5093
Doesn't work for me. Call ToString explicitly like this call the ToString from "FirstViewModel", no "SecondViewModel".
The result of your example shown : "myUrl?Length=55"

[2016-07-29 21:44] Eilon commented on #5095
Sorry, I still don't understand where the problem is. We can investigate the problem once we know where the problem is. At what point is the data/rendering correct, and at what point is it wrong?

[2016-07-29 22:19] #5066 closed

[2016-07-29 22:21] Bartmax commented on #4117
@danroth27 was a sample/blog for this somewhere? I would love to have a key/tag OOTB that we can use to invalidate the cache.

[2016-07-29 23:45] NTaylorMullen commented on #4084
d60ed06c1998ced0af09ce1b86aa9f4b774495be

[2016-07-29 23:45] #4084 closed

[2016-07-29 23:52] rynowak commented on #5083
Thanks for confirming, this is by-design then. Let us know if you need anything else!

[2016-07-30 01:49] Haplois commented on #5094
@dougbu since `InputTagHelper.GenerateTextBox()` is a private method and I generalized it little bit I renamed it and thought it is OK. I'm reverting that change, and moving that new functionality to the `InputTagHelper.GenerateHidden()` instead.

[2016-07-30 02:20] Haplois commented on #5094
BTW, since `inputType` and `inputTypeHint` variables in the `InputTagHelper.Process()` are only used in `InputTagHelper.GenerateTextBox()` is it OK there (or into the `default` statement of the `switch`)?

[2016-07-30 02:37] dougbu commented on #5094
Those variables are fine where they are but I'm not positive what you mean by "is it :ok: there"?

[2016-07-30 02:39] Haplois commented on #5094
@dougbu somehow I deleted a part of message before I post it. What I tried to write was: "is it OK to move it there"

[2016-07-30 02:47] dougbu commented on #5094
Let's not do additional refactoring in this PR

[2016-07-30 02:58] Haplois commented on #5094
Should I issue a pull request?

[2016-07-30 03:06] dougbu commented on #5084
@Bartmax `Html.GetEnumSelectList()` is intended for cases like `<select asp-for='ListProperty' asp-items='Html.GetEnumSelectList(...)' ... ></select>`. But, yes, it has a designed-in restriction around `[Flags]` `enum`s because such types have no obvious default `<option />` collection.

As @Eilon said, we don't have tag helpers that handle generating checkbox or radio button groups. But the `<inp

[2016-07-30 03:08] dougbu commented on #5094
@Haplois let's have a look I think. @Eilon any concern about the slight behaviour change from 1.0.0?

[2016-07-30 09:06] maxim-boligatov commented on #5070
It will be shallow copy of json settings. So cache will not be a problem..
After cloning I want to get new settings instance but with the same instance of ContractResolver.
So it is simply shallow copy... And if I want to add own resolver I will do that in this copy without impact on original settings.

I want to get access to original settings here^. I do not need even wrapper. I can do desired t

[2016-07-30 09:13] fdesbrosses commented on #4196
@Eilon Hi Eilon, I'm trying to do the exact same thing as @Serjster, but with the RTM.

Basically, I wanna use my DI (autofac, but it's not relevant) to instanciate my model and inject my dependencies.
It's working fine for the instanciation part, but in case of a HTTP Post, I wanna hydrate properties from the request body (using [FromBody] on the parameter).

In RC1, we could just call "bindingCo

[2016-07-30 13:42] Bartmax opened #5096 "Feature: Enhance GetEnumSelectList html helper to support Flags enum."
see based on https://github.com/aspnet/Mvc/issues/5084#issuecomment-236336854 for some more info.

Make `Html.GetEnumSelectList` enum support flag attribute

Framework can switch from simple value select to a multiple `<select multiple>` tag.
And selected options will be all those that HasFlag for the enum.

sample boilerplate output will be:

[code]

[2016-07-30 13:42] Bartmax commented on #5084
I made a new issue here:  https://github.com/aspnet/Mvc/issues/5096 about that.

I'm not suggestion to make a template html thing with all inputs, I agree that it's nice to see almost exact html.

From the top of my head I imagine somthing along this lines:
[code]
will render:
[code]

If the enum is not flags, the input will switch from checkbox to radio.

To pick the current selected values, usin

[2016-07-30 13:54] Bartmax commented on #5084
I think this can also be extended/used for collections. In the case someone want to show a collection as a radio/checkbox on the UI (very useful!). Switching from radio to checkbox would be a matter of the property at hand if it's IEnumerable or not.

[2016-07-30 14:14] Bartmax commented on #5093
I guess @Eilon meant `model.Second.ToString();`

[2016-07-30 14:24] Bartmax commented on #5085
I don't agree HTML doesn't specify how the format should be.
If you make a <form with method="GET"> you will see that the actual format is the single item one.

To use that on tag helpers is simple as specifying the name value.

[code]
and you can use nameof to avoid magic strings.

[2016-07-30 20:43] dougbu commented on #4196
@fdesbrosses exactly what disappeared? It remains possible to dynamically call other model binders from within the model binding system and to use `TryUpdateModelAsync()` from outside that system.

We have a fair number of model binder examples e.g. in the MVC functional test web sites. The code in #4703 for a relatively complex scenario was also up-to-date last I looked.

[2016-07-30 21:01] gdoron commented on #5085
@dougbu

I see, that clarifies a lot, I got confused with JSON responses, thanks.

@Bartmax Thanks for the `nameof` tip, interested in knowing the reasons it's not the default too.

[2016-07-30 21:31] dougbu commented on #5096
Haven't tested it recently but I believe this feature request is incomplete as described. The model binding system converts a collection of values into a single value by grabbing the first value, not ORing them together. There are no special cases in the model binding system for `[Flags]` `enum`s.

I recommend a view model containing an `IEnumerable<TEnum>` property and a bit of code to OR the val

[2016-07-30 22:25] dougbu commented on #5085
`nameof` is fine for properties with the simplest of ASCII C# names at the top level of the `Model`. They don't work when accessing something further down.

In this particular case, the generated HTML will contain multiple `<input/>` elements with the same `name`. Probably fine here but not useful when generating fields for say `Images[0].Name`, `Images[0].File`, `Images[1].Name`, ...

[2016-07-30 22:36] Bartmax commented on #5085
You can use name="images" if you don't want to use nameof that wasn't the point here.

The idea is to have same name, that's what make this all works and how html works internally but you already know that. Not sure I understand what's your point.

Also, the order is preserved so you can use name="image.name" and "image.type" for collections of fields. Why that would be a problem? I'm pretty sure

[2016-07-30 22:39] dougbu commented on #5086
This report is a dupe of #4988 which we plan to fix in 1.1.0.

[2016-07-30 22:44] leroyd commented on #5093
It works if "Second" is the lonely property of "FirstViewModel". And sometimes this is not the case.
"FirstViewModel" could be have several properties. Sorry for the explanation, my bad.

The goal, have a way for create custom query value, from some complex objects.

[2016-07-30 23:56] artiomchi commented on #5084
I also don't think template-generating multiple inputs is a good idea, but generating proper id attributes for radio buttons and checkboxes is a good idea.

I've actually created a tag helper in my test project for this kind of functionality last week, and have just created a pull request with this functionality here: aspnet/Mvc#5097

It supports appending the radio button value to the id of the i

[2016-07-31 01:45] dougbu commented on #5084
@artiomchi is #5097 a fix for #5084? I suspect #5097 is actually almost completely separate though it touches on the `id` and `name` choices mentioned above. We need separate issues to track separate features, decide on the appropriate milestone for them, and so on. Please file the issues you believe need fixes and add a comment to #5097 linking that PR.

[2016-07-31 08:46] VSG24 commented on #1363
Any improvement planned for this? The current error message is not helpful.

[2016-07-31 09:04] fdesbrosses commented on #4196
@dougbu I meant the property OperationBindingContext on the bindingContext type. I've tried to look at the test web sites examples but could not find a sample calling dynamically (without specifying them I mean) other binders. Do you have any pointers ?

[2016-07-31 12:27] artiomchi commented on #5084
@dougbu #5097 is actually semi-related to this issue, mostly around the code sample in hos comment [here](#issuecomment-236365910)

The pull request can simplify some of the cshtml code below to auto generate the ids for radio buttons (removing the need to wrap the radio button / checkbox) in the label, as well as actually generating the checkboxes using tag helpers (currently tag helpers will gen

[2016-07-31 14:42] artiomchi opened #5098 "Unique ids for radio button inputs, support for collection backed checkbox sets"
For a while now generating multiple radio buttons with labels has been somewhat troublesome, since all the radio buttons would get the same `id` attribute, and we had to manually pass an id attribute in the htmlAttributes anonymous object, then pass the same value to the label's for attribute

Added to this, the checkbox helpers will only create checkboxes for boolean properties. In fact, the tag

[2016-07-31 15:53] dougbu commented on #4196
The properties of `OperationBindingContext` are still available elsewhere. In some cases they should be injected from DI when the binder is instantiated by its binding provider.

For dynamic binders, gist is in #4703.

[2016-07-31 15:59] dougbu commented on #5084
Nice work on the samples @artiomchi. Only nit: `Model?.RolesFlags.HasFlag(role) == true` is a bit more readable.

On #5097, we still need the issues you're addressing because that PR does not line up with this one 1:1.

[2016-07-31 16:10] artiomchi commented on #5084
@dougbu oh yeah, of course! Not sure how I missed that :)

Also, you're right, which is why I created #5098. It contains both the details of what I'm trying to improve and some decisions I had to make in the implementation

[2016-07-31 17:41] Bartmax commented on #5084
@artiomchi exactly that! :+1:

[2016-07-31 18:36] Genbox commented on #3750
Any updates on this? There have been some changes to the framework and the solution presented does no longer work. Please provide guidance on adding external views/controllers and view components.

[2016-07-31 18:45] dazinator commented on #3750
@genbox MVC 6 rtm has a new "application parts" API. All you need to do is register your assembly containg your viewcomponent with that Api. If you assembly is allready referenced then you shouldnt need to bother, this is just if you load assemblies at runtime.

[2016-07-31 20:42] Genbox commented on #3750
@dazinator I'm loading assemblies at runtime. Could you point me in the direction of this API? A Google search for application parts was unfruitful.

[2016-07-31 21:43] dazinator commented on #3750
@genbox from memory you can do something like:

[code]

So in other words the Api is on the builder returned via AddMvc();

[2016-08-01 00:13] pettechbytes commented on #4783
I hope this doesn't reopen this issue, but I can comment and explain what happened (or at least assume).  I ran into the same issue and it was because during my testing, I renamed ApplicationUser to my own name (SomethingUser) and then decided to move the class to another class library.  The problem was that I left the SomethingUser defined in my web project thus the constructor for the UserManage

[2016-08-01 03:41] ctolkien commented on #5084
Thanks for the samples @artiomchi

Can I suggest a docs topic to handle this scenario? I recently had to create a "check box list" for Flagged Enums... and ended up with something... really quite horrible.

[2016-08-01 10:30] ermithun opened #5099 "How To use Bundleconfig in Mvc Core 1.0"
How To use Bundleconfig in Mvc Core 1.0 ??
Need Help

[2016-08-01 10:44] oyvindvol commented on #4666
Is this fix already implemented in asp.net core RTM, so that I can delete my MyModelBinder-class from my project now?

[2016-08-01 14:58] dougbu commented on #4666
@oyvindvol yes, @rynowak's [fix](https://github.com/aspnet/Mvc/issues/4666#issuecomment-224013733) was included in the RTM (1.0.0) release.

[2016-08-01 15:02] rynowak commented on #5099
There's some documentation here: https://github.com/madskristensen/BundlerMinifier

/cc @madskristensen

[2016-08-01 15:08] rynowak commented on #1363
@VSG24 - can you please open a new issue with a code sample and the error message you thing is wrong?

[2016-08-01 16:05] RehanSaeed commented on #4933
I've written an `ActionResult` class which simplifies creating multipart responses. There is more to it than I first thought, so it wraps a fair bit of functionality.

# Usage Example

[code]

# Implementation

[code]

[2016-08-01 16:26] BillChirico opened #5101 "WebApi not returning expected list"
Hello,

When working with a WebApi controller I am trying to return all of the household objects in the database with the members included in it. This is the code I ended up with:

[code]

The problem is, is that the JSON is only showing the first result and not the two that I have in the list. I tried debugging and there are definitely two household objects in the list. What is even weirder, is w

[2016-08-01 16:41] Tratcher commented on #4933
Looks promising.
- You can't use Environment.NewLine, it will give you the wrong output on unix. The multipart format always requires `\r\n`.
- Read about `filename*` for non-ascii file names.
- I don't think that's the correct usage of content-range. It should start with the offset in the file from which you are starting, not the offset in the generated response stream.

[2016-08-01 16:55] rynowak commented on #5101
Look at the console logging output, debugger or developer exception page? Is an exception occurring during serialization?

Does this change if you do `return households.ToList()`?

[2016-08-01 17:03] BillChirico commented on #5101
@rynowak Actually getting the following serialization exception:

`Newtonsoft.Json.JsonSerializationException: Self referencing loop detected for property 'household' with type 'Matey.Data.Models.Household'. Path '[0].members[0]'.`

[2016-08-01 17:11] rynowak commented on #5101
You can also globally configure the behavior you want for JSON.NET in our formatters to have the reference handling (of cycles) you want.
[code]

The JSON.NET docs will describe what the options do.

[2016-08-01 17:15] Eilon commented on #5094
@dougbu regarding this comment>

I'm not sure I understand what the difference in behavior is. You're saying the Hidden HTML Helpers never supported format. But the Hidden Tag Helpers do support format? And what's the change? I.e. what's the before after that's changing?

Hidden HTML Helper:
* 1.0.0 --> Doesn't support format
* 1.1.0 --> Add support for format (?)

Hidden Tag Helper:
* 1.0.0 --> A

[2016-08-01 17:15] BillChirico commented on #5101
@rynowak That fixed it project wide thank you very much.

[2016-08-01 17:15] #5101 closed

[2016-08-01 17:43] Eilon commented on #5093
@leroyd ah, indeed, you are correct. I should have tried it before posting 😄

The reason this is happening is what I described before: starting in ASP.NET Core 1.0 RC2, the behavior of lists (IEnumerable) was updated to be comma-separated values. Because all dictionaries are lists, their behavior is changed.

To revert to the previous behavior, you can wrap the model in a model that has the behavi

[2016-08-01 17:43] #5093 closed

[2016-08-01 18:06] Eilon commented on #4871
Moving this to 2.0.0 and marking as a breaking change. In 2.0.0 we'll change this all to be `datetime`.

[2016-08-01 18:10] #5095 closed

[2016-08-01 18:38] Bartmax commented on #4871
@Eilon it's currently `datetime` I think you mean it will change this all to be `datetime-local` ;)

[2016-08-01 19:26] Eilon commented on #4871
Ah sorry, will update 😄

[2016-08-01 19:41] Eilon commented on #5092
Duplicate of https://github.com/aspnet/Mvc/issues/3518.

[2016-08-01 19:41] #5092 closed

[2016-08-01 19:43] Eilon commented on #5091
I'm ok with doing this, but only so long as we timebox it to some reasonable amount of time, e.g. 1 day to finish this item. We obviously can't go through *all* the types in MVC/Razor/Routing and come up with plans for them, but if we can quickly come up with 10 - 20 types and implement debugger displays for them, let's go for it.

[2016-08-01 19:50] Eilon commented on #5099
If this is about bundleconfig.json, @rynowak 's answer is the place to go.

If this is about BundleConfig.cs, then that was using ASP.NET Bundling & Minification, which was for ASP.NET 4.x only, and is not available for ASP.NET Core.

[2016-08-01 19:50] #5099 closed

[2016-08-01 20:21] dougbu commented on #5094
@Eilon sorry for throwing in the HTML helpers. That just served to make my comment more confusing.

The 1.0.0 `<input>` tag helper takes after the HTML helpers though the `asp-format` attribute exists and can be bound regardless of the `type` attribute generated. So,

##### Hidden HTML helper
No change.

##### `<input/>` tag helper
* 1.0.0 -> has `asp-format` but that attribute is ignored when the

[2016-08-01 20:24] Eilon commented on #5094
Seems safe enough to add. Let's do it.

[2016-08-01 20:29] Eilon opened #5102 "Disabling client validation breaks TH validation"
_From @Rick-Anderson on July 31, 2016 4:34_

From customer DISQUS comment:
https://docs.asp.net/en/latest/tutorials/first-mvc-app/validation.html

If I disable Client Validation using services.AddMvc().
[code]

Server validation errors are not display with Tag Helper validation. Switching to HTML Helper validation,  errors are displayed.

_Copied from original issue: aspnet/Razor#812_

[2016-08-01 20:29] Eilon commented on #5102
_From @NTaylorMullen on August 1, 2016 17:11_

@Rick-Anderson could you please file this issue in Mvc? Doesn't seem to be a Razor related issue since the MVC TagHelpers are the ones responsible for dealing with validation logic.

[2016-08-01 20:41] Eilon commented on #4750
@rynowak / @dougbu what is your proposal that we do here?

[2016-08-01 20:46] Eilon commented on #5088
ASP.NET Core support for Mono isn't planned; we don't do anything to specifically *block* it, but we also don't test on it. If you have some safe changes that would enable ASP.NET Core / MVC to run on Mono, we can certainly work with you to get those changes made.

[2016-08-01 22:26] #5038 closed

[2016-08-01 22:32] leroyd commented on #5093
Great, it works with this solution.
Need to have a wrap model into an another model but I like that workaround.

Thanks. :)

[2016-08-01 22:42] dougbu commented on #4750
@rynowak @Eilon my proposal is to update `DefaultControllerArgumentBinder.BindModelAsync()` to do the Right Thing<sup>:tm:</sup> when `!IsModelSet`. May be necessary to futz with a couple of the arguments to `IObjectModelValidator.Validate()` and will probably need to handle `[BindRequired]` separately. Otherwise, fairly straightforward.

[2016-08-01 23:03] Eilon commented on #5093
@leroyd great!

[2016-08-01 23:14] dougbu commented on #5070
Reminders: Never `new` up `JsonSerializerSettings` in an MVC app. Instead call `JsonSerializerSettingsProvider.CreateSerializerSettings()` and make any customization from that starting point. And, of course, use or customize the instance in `MvcJsonOptions` unless you need a _different_ instance for some purpose.

It's still not clear to me why the original `AddJsonOptions(options => { ... })` isn

[2016-08-02 02:38] dougbu commented on #5102
This looks like a Scaffolding issue which was fixed post-1.0.0. Don't remember the number but it's about generating `<span>` elements as (invalid) self-closing tags.

Make sure your `<span>`s have end tags and server-side validation errors should start to show up.

[2016-08-02 05:43] maxim-boligatov commented on #5070
dougbu, please read carefully whole thread... I do not know how to reply for your question... all information is present in above messages... And I never mentioned direct settings creation!

[2016-08-02 07:42] villanus commented on #494
@damien another glorious microsoft fail!!!!

not having a simple beginner (php like) version of web pages will lead to new developers starting with something like python, php, or others and just growing on that stack.

how many lavarel devs would be asp mvc devs if msft had not dropped the ball by killing asp 3 vbscript and instead selling everone that web forms were the new way???

the bottom lin

[2016-08-02 09:16] xaviergxf commented on #4474
Hi rynowak,

   Your example is perfect! It works much better than mine. Mine had some action AmbiguousActionException's in login with Identity. Thanks a lot for updating the samples.

Xavier

[2016-08-02 14:26] dougbu commented on #5070
That was a reminder only.

I've read the thread and see your description of the symptoms. But I don't see _why_ the changes you made in the `AddJsonOptions()` call aren't honoured. Really a question for @kichalla.

[2016-08-02 14:56] rynowak commented on #4474
Ok great, I'm going to create a PR for that sample then so that we can refer other people to it.

[2016-08-02 17:15] Eilon commented on #5084
Back to the topic of flags enums...

This flags enum:

[code]

Is of course not really a proper flags enum, because the values aren't flags per se. You'd more likely have something like this:

[code]

And now you can combine the flags to create bitmasks. Creating a UI for this flags enum isn't terribly challenging.

But it's quite common for enum types to actually look like this:

[code]

And what

[2016-08-02 17:20] Eilon opened #5103 "MVC doesn't work on FIPS-compliant machines"
Related to https://github.com/aspnet/Antiforgery/issues/95

Bad codes:
* https://github.com/aspnet/Mvc/blob/a78f77afde003c4a3fcf5dd7b6dc13dd9c85f825/src/Microsoft.AspNetCore.Mvc.TagHelpers/Internal/FileVersionProvider.cs#L114
* https://github.com/aspnet/Mvc/blob/341430eae508912d3a868bf636b86ec04155378e/src/Microsoft.AspNetCore.Mvc.TagHelpers/Cache/CacheTagKey.cs#L154

[2016-08-02 20:42] kichalla commented on #5070
[code]

[2016-08-02 23:13] kichalla commented on #5070
[code]

[2016-08-03 00:19] SeeWhat opened #5106 "Default scope IViewBufferScope causing issues with threaded job."
I've got a job which has a number of Tasks which generate emails using the example [RenderViewToString](https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString).

The issue is when running under with concurrent Tasks I get random errors as below.

[code]

[code]

[code]

Looking at the issue, I found that making [IViewBufferScope ](https://github.com/aspnet/Mvc/blob/dev/src/Micro

[2016-08-03 01:15] pranavkm commented on #5106
Could you elaborate on what you're trying to run concurrently?

[2016-08-03 01:36] SeeWhat commented on #5106
Hi, corrected my initial description., I'm actually kicking off multiple tasks(not threads) and awaiting them with a Task.WhenAll().

Each task will gather the data required for external sources and then generate the email, rendering it as HTML. Only once the email has been generated and queued for sending is that task complete.

[2016-08-03 03:14] pranavkm commented on #5106
It would've be useful to see a code snippet of what you're doing. That said, the code sample in Entropy isn't designed to be run concurrently. You might be able to add it as a transient service and create a scope for each `Task` that gets executed. But I'm not sure if that necessarily works.

[code]

[2016-08-03 05:25] kahgeh opened #5107 "Allow custom model binders to source objects using the same DI container"
Allow any custom class written for this model binder extension point to source any objects from the DI container e.g.

if a MyCustomBinderProvider is required, e.g.

[code]
then allow customBinderFactory and customHelperService to be sources from the serviceCollection.

The same is required when writing a custom binder, however, if a factory is used to create the binder, I would imagine we can inj

[2016-08-03 08:34] deeplydippy opened #5108 "Can't send POST-request via json in script"
I want to send to API Controller POST-request using json.  But something going wrong.
Here is my script in CSHTML:
[code]
Here is my API Controller:
[code]
But in table from DB nothing changes.
 I place POST-request in About.cshtml page, and on VS i can see this events:
![image](https://cloud.githubusercontent.com/assets/18574364/17358470/a7365c4c-5951-11e6-8589-2e2597aaac88.png)
My POST request i

[2016-08-03 10:58] Haplois commented on #5094
I issued the pull request. Sorry for delay. I'm on vocation.

[2016-08-03 13:10] tuespetre commented on #3917
I've put together something to get us by until an official solution arrives:

https://github.com/tuespetre/dotnet-precompile-views

I'm really sad they removed the `ICompileModule` interface now; it would have been awesome to just add the precompiled views to the main compilation.

[2016-08-03 13:29] genusP commented on #4989
Workarond for 1.0.0
[code]

[2016-08-03 14:13] iscifoni commented on #4846
I would like to do this issue
i have a question,  all the contraints are defined into Routing repository, the contraint StringRouteConstraint will be defined on it ?

[2016-08-03 14:49] rynowak commented on #5106
`IViewBufferScope` needs to be scoped, it's to used to coordinate use of memory across views and partials as part of the same 'request'. I know in your case there isn't a request, but the right approach is something like what @pranavkm is suggesting - you'll need to await all of the tasks.

[2016-08-03 15:29] rynowak commented on #4846
@iscifoni that's a good question

@Eilon - will we want MVC 1.1.0 to require routing 1.1.0? If we're going to add a constraint as general as this, it would be better to define it in routing, but that will make MVC require 1.1.0.

[2016-08-03 16:26] pranavkm commented on #3917
@tuespetre I tried messing around with CCI to do this - https://github.com/aspnet/Mvc/pull/5087/files#diff-8a8d40881a0fbe5921c1000c1f6016edR72. Unfortunately it has issues (CCI can't strong name assemblies) and it's in support mode so we're considering not doing this. Mono.Cecil supports strong naming but the package hasn't hit 1.0 as yet and doesn't support netstandard TFMs.

[2016-08-03 16:45] shimozurdo commented on #4312
Could you give me more details about your solution please? I got the same issue :( but I don't sure how I can solve it

[2016-08-03 17:02] Eilon commented on #5106
Should we update the sample in Entropy? Or is this really just an exercise left to the reader?

[2016-08-03 17:21] Eilon commented on #4846
MVC 1.1.x depending on Routing 1.1.x seems perfectly reasonable. Don't we need to do this for @kichalla 's RouteCreationException thing anyway?

[2016-08-03 17:26] shimozurdo commented on #4312
![image](https://cloud.githubusercontent.com/assets/4074823/17375149/7475e2d6-5975-11e6-8ab6-e203ede2c837.png)

I found it.

[2016-08-03 18:10] rynowak commented on #4846
Yes we do.

Ok so @iscifoni - you'd want to add `StringRouteConstraint` to routing first, and then add usage of it to MVC.

@Eilon are you concerned about the breaking change behavior change here? We never intended to treat the area name as a regex.

[2016-08-03 18:28] Eilon commented on #5108
Dup of https://github.com/aspnet/Razor/issues/811. Please try not to open identical bugs in multiple repos. Thanks!

[2016-08-03 18:28] #5108 closed

[2016-08-03 18:29] Eilon commented on #5107
@rynowak do we have info on using DI in model binders? Or any examples?

[2016-08-03 19:05] Genbox commented on #3750
This seem to work fine with controllers, but what about views?

[2016-08-03 19:21] Bartmax commented on #5084
@Eilon I agree, enum is not the right tool for the job. I guess I got biased by the lack of `other than bool values` of checkbox/radio that I got tempted to the enums route.

I think it's fair to say that this issue can/should be closed and leave a sense that asp.net can do more regarding data to checkbox/radio UI (this ain't about enums at all), which @artiomchi has already pointed out and starte

[2016-08-03 20:00] omuleanu opened #5111 "Model Binding changes from mvc 5 to core"
in mvc 5 posting and empty string
`$.post('url', { s: "" }`
would bind
`public ActionResult  Hi(string s) // s is empty string in mvc 5`
in core it's `null`

and not posting anything to an action with an array parameter
`$.post('url', { })`
`public ActionResult  Hi(string[] items) // items is null in mvc 5`
in core it's `empty array string[0]`

[2016-08-03 20:23] Eilon commented on #4846
Yeah let's just fix this and have it be treated as a string. No idea why it was ever treated as a regex - I cannot possibly imagine that it was deliberate.

[2016-08-03 20:25] Eilon commented on #5111
@rynowak @dougbu thoughts?

[2016-08-04 05:44] dougbu commented on #5111
@omuleanu posting JSON to an MVC Core endpoint requires `[FromBody]` for correct model binding. The same is true with MVC 5. Are you comparing to Web API behaviour?

[2016-08-04 05:58] omuleanu commented on #5111
@dougbu no, I was porting some code from mvc 5 and got into some issues because of these differences, I'm not using the mvc5 api controller;
`$.post -> controller.action`
empty array and null array used to mean different things in my app (now I've added a flag parameter)
and for the empty string it was:
` $.post('url', { s: $('#txt1').val() })`
so I wasn't expecting it to be `null`, and was callin

[2016-08-04 08:03] ermithun opened #5113 "How to upload Excel sheet in Asp.Net Core 1.0"
How to upload Excel sheet save in database using  Asp.Net Core 1.0  application  also binding data in model ?

Need Help

[2016-08-04 08:04] khellang commented on #5113
See http://www.mikesdotnetting.com/article/288/uploading-files-with-asp-net-core-1-0-mvc

[2016-08-04 08:06] ermithun commented on #5113
@khellang  i had already used this but i didnot got uploaded file in
[code]
files.count=0 .
so what to do?

[2016-08-04 08:16] khellang commented on #5113
1. Make sure that your request is `multipart/form-data` and that the name of the file `input` matches the one in your controller.
2. Check `HttpContext.Request.Form.Files` and see if there are any files. I doubt it. If not, that means you haven't uploaded the file correctly/successfully.
3. Can you post the raw request you sent/received? Put Fiddler or something in between the client and server.

[2016-08-04 08:22] damienbod commented on #5113
Here's an example, it uses csv with IFormFile
https://damienbod.com/2016/07/15/import-export-asp-net-core-localized-data-as-csv/

[2016-08-04 10:51] RehanSaeed commented on #4933
Thanks @Tratcher

- Yep, I forgot that web stuff is all `\r\n`. Updated the code above to switch from `Environment.NewLine` to a `"\r\n"` constant.
- I discovered the `ContentDispositionHeaderValue` class in ASP.NET Core which is a delight to use, updated the code to use it.
- I'm a bit confused by the `Content-range` HTTP header and what the start and end values should really mean. I've struggled

[2016-08-04 12:21] xShivan opened #5114 "Cannot target 4.6 runtime"
Hi.

I've just generated default ASP.NET Core application from Visual Studio 2015 Update 3.
I've tried expanding framworks section to target .NET Framework 4.6.1:

[code]

Unfortunately, I'm getting the following errors during package restore:

[code]

My Visual Studio is fully updated and I've got the RTM tooling installed. I cannot use 4.6.1 with new projects and I cannot upgrade my existing RC2

[2016-08-04 13:25] stanislavromanov commented on #5113
Maybe with help questions you should go to https://stackoverflow.com/

[2016-08-04 15:26] rynowak commented on #5107
You can do this in a bit of a roundabout way - the relevant code:
[BodyModelBinderProvider](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/BodyModelBinderProvider.cs)
[MvcCoreMvcOptionsSetup](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcCoreMvcOptionsSetup.cs#L18)

So basically you create a class derived from `I

[2016-08-04 16:20] pranavkm commented on #5106
Leave it as an exercise? Doing all the extra stuff probably detracts from the the primary purpose of the sample.

[2016-08-04 17:14] Eilon commented on #5114
@davidfowl @ericstj @pranavkm any ideas on this?

[2016-08-04 17:18] pranavkm commented on #5114
You'll have to move the `Microsoft.NETCore.Platforms` to the dependencies node under `netcoreapp1.0`. See https://github.com/aspnet/Mvc/blob/dev/samples/MvcSandbox/project.json#L33-L39

[2016-08-04 17:26] kichalla commented on #5070
Closing this issue now as there are already ways to achieve the scenario being asked for here.

[2016-08-04 17:26] #5070 closed

[2016-08-04 17:35] Eilon commented on #5114
@pranavkm , so the question is thus resolved?

[2016-08-04 17:36] pranavkm commented on #5114
Yup. Closing.

[2016-08-04 17:36] #5114 closed

[2016-08-04 18:43] #4650 closed

[2016-08-04 21:31] Tratcher commented on #4933
Content-range is only needed when you're sending part of a resource. e.g. you're only sending back half of the file, or you're sending the file in multiple segments. The values should refer to positions within the original file.

[2016-08-04 21:38] kichalla commented on #5076
ac984173980e3386371af6b4ddf269d8e9db1318

[2016-08-04 21:38] #5076 closed

[2016-08-04 21:44] SeeWhat commented on #5106
Thanks @pranavkm. I guess the perfect example would have been what you provided without the fix (As below for reference).
[code]
I've modified my code as recommended with Transient and scoping and it worked.

It wouldn't hurt to have a comment in the example at least. Also given the solution is to at least have it scoped correctly. The example has it as a singleton which could be misleading.

[2016-08-04 21:46] pranavkm commented on #4818
A minor update to @pompomJuice's workaround in https://github.com/aspnet/Mvc/issues/4818#issuecomment-224539449. We added an option to `RazorViewEngineOptions`  to list additional references that Razor could use during compilation. Using this overload should address errors you'd previously encountered using lambda delegates (such as HtmlHelpers) that close over the model.

[code]

[2016-08-04 21:48] pranavkm commented on #4818
@mehmetilker, your issue could be related to https://github.com/aspnet/Mvc/issues/4983. Could you see the suggested workaround in https://github.com/aspnet/Mvc/issues/4983#issuecomment-231111258?

[2016-08-04 22:38] NTaylorMullen commented on #4979
663f6a1718447e46dbbfa868c4017000d767107e

[2016-08-04 22:38] #4979 closed

[2016-08-04 22:41] pranavkm commented on #5106
If you're up for it, feel free to send a PR to Entropy. You could fix the lifetime of the the service and maybe add a separate method that shows how it could be used to process more than one thing.

[2016-08-04 22:42] pranavkm commented on #5106
Closing this since it's not specifically and Mvc issue. Feel free to start a discussion in https://github.com/aspnet/Entropy/issues

[2016-08-04 22:42] #5106 closed

[2016-08-04 22:57] kvriel opened #5115 "All attribute validations triggered with string property"
Using a string next to other types in a model, will always trigger all attribute validations on the string property, by submitting the form.

[code]
In the view there are two forms defined with both one of the properties.
[code]
By submitting the from in two-panel, the validation error will only be applied to the Month input. By submitting the form in one-pannel, the validation error will not only

[2016-08-05 01:08] techcap commented on #5088
After reviewing the source code, I found how to run Asp.net core RTM on linux completely.

Microsoft.Extensions.DependencyModel searches Reference Assemblies inside xbuild-frameworks/.NETFramework/v{.NET Version}.

For working MVC dynamic compilation, use this script.

[code]

[2016-08-05 01:30] techcap commented on #4818
Microsoft.Extensions.DependencyModel searches Reference Assemblies inside xbuild-frameworks/.NETFramework/v{.NET Version}.

For working MVC dynamic compilation, use this script.

[code]
https://github.com/aspnet/Mvc/issues/5088

[2016-08-05 04:21] dinowang opened #5116 "Will ASP.NET Core still support DisplayMode?"
DisplayMode in ASP.NET MVC 5 is very useful feature. But we couldn't found it in ASP.NET Core.

Have any plan to support DisplayMode in ASP.NET Core?

[2016-08-05 04:35] dinowang commented on #5116
Found similar question in https://github.com/aspnet/Razor/issues/751

[2016-08-05 08:12] RehanSaeed commented on #4933
It seems I was massively misled by the StackOverflow [answer](https://stackoverflow.com/questions/38069730/how-to-create-a-multipart-http-response-with-asp-net-core) which was so detailed, I thought it had to be right. I've updated the implementation above by taking @kichalla's idea and using `System.Net.Http.MultipartContent` which simplifies things a lot.

All working now, thanks for the pointer

[2016-08-05 12:28] leroyd opened #5117 "FileExtensions Data annotation invalid ModelState"
I have this property in my ViewModel :
[code]
And into my action :
[code]
I upload a .jpg picture into the form, and ModelState return an error like "jpg, jpeg not allowed".
(The validation worked with RC1 version).
But I can find the file into the property's model (so I can do a custom validation).

[2016-08-05 13:19] galczo5 opened #5118 "Problem with redirect"
Hi,
My application after upgrade from RC2 to RTM, when I try to login application redirects me to url:

 http://localhost:5000/Account/Login?ReturnUrl=%2FHome%2FError%3FReturnUrl%3D%252FHome%252FError%253FReturnUrl%253D%25252FHome%25252FError%25253FReturnUrl%25253D%2525252FHome%2525252FError%2525253FReturnUrl%2525253D%252525252FHome%252525252FError%252525253FReturnUrl%252525253D%25252525252FHome%2

[2016-08-05 13:37] pranavkm commented on #5118
Interesting part of the stacktrace:

[code]

Perhaps you have mismatched packages in your project. Could you list your project.json? The url looks like the auth middleware is redirecting to itself on failure. I'm not entirely sure what's up with that.

[2016-08-05 17:13] Eilon commented on #5116
There aren't any plans to bring back Display Modes. I just commented on https://github.com/aspnet/Razor/issues/751 so we can keep the discussion going on there. Thanks!

[2016-08-05 17:13] #5116 closed

[2016-08-05 17:21] Eilon commented on #5118
@galczo5 can you show your startup.cs file and any other relevant configuration?

cc @Tratcher in case you have any obvious guesses.

[2016-08-05 17:23] Eilon commented on #5115
@dougbu ideas?

[2016-08-05 17:33] Tratcher commented on #5118
The redirects are just a symptom, the real issue is the missing file.

[2016-08-05 17:33] dougbu commented on #5115
@kvriel what are the exact validation errors that show up? MVC only deals with in the scenario you've described is `[Required]` on the two properties. If you're seeing issues related to the `maxlength` or `pattern` attributes, this is about your browser.

The other possibility is the `verification-day` or `dateinput` classes are causing odd behaviour.

A small repro project e.g. in a GitHub repo w

[2016-08-05 17:49] Eilon commented on #5118
@Tratcher thanks, got it.

@galczo5 any more info you have about your startup.cs and project.json would be great. There seems to be some missing files or settings that are causing this.

[2016-08-05 17:50] Eilon commented on #5115
@dougbu I think the repro has enough in it, no?

[2016-08-05 17:51] dougbu commented on #5115
Just hoping to save a small amount of time if @kvriel already has a repro project. But you're right, it's a very small amount of time :smiley_cat:

[2016-08-05 17:54] bjorn-ali-goransson commented on #1877
Nancy style, right?

[2016-08-06 00:05] Eilon commented on #5117
@leroyd can you clarify what used to work and what doesn't work now?

Also, I'm pretty sure that the `[FileExtensions(Extensions = "jpg,jpeg")]` property needs to be applied to a `string` property. It doesn't work on `IFormFile` properties, and definitely not on `IEnumerable<IFormFile>` properties.

I think that the reason you're seeing it "validate" as invalid is because the attribute returns "in

[2016-08-06 06:48] ManuelHaas commented on #3518
Is there any progress on this issue? What's the schedule for this issue?

In the current state DisplayAttribute is rather useless for localized applications.

[2016-08-06 11:44] hishamco commented on #3518
@ManuelHaas As I see it's still in backlog

[2016-08-06 11:46] DamianEdwards commented on #3518
@eilon let's do this one in 1.1 if it fits.

[2016-08-06 14:48] 188 opened #5120 "WebApi Filter Read Json data stream"
Hello, I'm in the Filter in WepApi project data validation, this Api is a Json data stream transmission, after verification in the Filter, and use these data for processing in the Api, so how should operate, thank you

Example
In Filter
[code]
In WebApi
[code]

[2016-08-06 16:57] dazinator commented on #3750
I think this can be closed now, as it has been established that VC's do work in seperate assemblies..

[2016-08-06 17:43] dazinator commented on #2910
Any news on this issue yet?

in a session script cache of some kind, and when middleware detects the </body> tag the session script cache is
injected prior to the </body> tag thus placing the view-component scripts at the end of the page with other scripts
and in the order the session script cache was populated.

I like the sound of this suggestion! How would it determine script equality though -

[2016-08-07 03:05] dougbu commented on #5115
The repro covers different server-side model binding and validation errors. `[Required]` has no effect on non-`Nullable` value types but the `SimpleTypeModelBinder` detects invalid conversions, rejecting `string.Empty` when submitted for an `int` property. `[Required]` works later, as part of the validation phase, and the (`string`) `Month` property in Scenario 1 is _always_ invalid since you're b

[2016-08-07 09:45] ShikiGami commented on #3518
It's Ok if you want to do it in 1.1, but is there ANY current workaround for this one?

Most of my code was written when back in RC1 when localization wasn't even moving, but I just assumed it will work when it released, and now here I am, getting a bunch of not localized keys as results.

I'm like the 5th person asking for help in this one.

[2016-08-07 14:53] cyrusel commented on #494
please keep web pages simple as it is! dont make this mistake. adding these features to webpages make it complicated and all of webpages developers move to php, ...
thanx

[2016-08-07 19:47] colscott opened #5121 "ActionSelector.SelectBestActions method to be passed the RouteContext"
Would it be possible to have RouteContext passed to SelectBestActions in the ActionSelector source code?

I have an application that has multiple MVC assemblies. The same Controller/Action names might exist across different assemblies. I need to choose an Action based on assembly as well as Controller and Action name.
At first Areas were used to distinguish between MVC assemblies, each assembly ha

[2016-08-07 21:23] leroyd commented on #5117
(ty for linq, I looked for that without success)
After some tests with RC1 version, the ModelState stay valid with others extensions.
So indeed, "FileExtensions" is not appropriate for "IFormFile" files.

Thank you for your help.

[2016-08-07 21:23] #5117 closed

[2016-08-07 21:59] gdoron commented on #3519
Another suggestion, please by all mean, finally save us from using an 8 years old hack for submitting [Non-Sequential Indices](http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/).

That really should be much simpler.
If there is a gap, simply ignore it, I can't understand the reasoning behind the hidden index input.

[2016-08-07 22:53] villanus commented on #494
Agreed.  for simplicity you can go with php (which sucks) or stick with old web pages and miss out on linux hosting and performance improvements.

I cant tell you how many static html like pages i have built that have one or two Razor scripts for small parts of the site.  Doing it all in MVC or the new proposed web pages sounds like overkill.

Too bad

[2016-08-08 00:29] kahgeh commented on #5107
Thanks this works for me.

[2016-08-08 00:29] #5107 closed

[2016-08-08 02:19] Eilon commented on #5117
Great!

[2016-08-08 02:21] Eilon commented on #3518
@ShikiGami we'll see if there's a workaround that works on 1.0, but I can't immediately think of any simple workaround.

[2016-08-08 02:22] Eilon commented on #3518
Putting in the 1.1 milestone. @ryanbrandenburg , I marked this as needs-design because I'm not sure if this is straightforward ("just another attribute") or if this requires some extra plumbing in the system. So, have a look at this, and if it's not trivial, let's see if we can come up with some ideas and run it by @DamianEdwards / @dougbu (because it probably affects Model Metadata or something).

[2016-08-08 02:41] Eilon commented on #2910
There are still no plans to implement this. However, it does sound more like something you could expect to see a solution for in https://github.com/OrchardCMS/Orchard2, which @sebastienros is working on.

[2016-08-08 02:45] Eilon commented on #5115
@dougbu so is this an app bug? Or an MVC bug? Or something else?

[2016-08-08 03:50] dougbu commented on #5115
It's an app bug though one we see frequently.

Details: MVC is working as designed. So is .NET but `[Required]` semantics confuse everyone.

[2016-08-08 03:52] villanus commented on #494
maybe msft will fix this in 3 years when they realize all the new devs are going with php, python, or js on both front and back.

[2016-08-08 04:18] Eilon commented on #5115
@dougbu is there a suggestion on something we can improve here? Or is it ultimately a design limitation of the system?

[2016-08-08 04:21] Eilon commented on #5120
@188 can you provide more information about what you're trying to do?

You have an ASP.NET Core MVC controller, which has an action method with a parameter such as `[FromBody]Message message`, and you want to write a filter that can perform validation on it?

@dougbu any thoughts on this? I'm not sure I've fully understood but perhaps you have some tips?

[2016-08-08 04:22] Eilon commented on #5121
@rynowak thoughts on this? Would this be a job for conventions, a la https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRoutingConvention ?

[2016-08-08 04:37] dougbu commented on #5115
This is ultimately a design limitation of the system.

Haven't looked at our model binding or validation docs lately but perhaps we could dedicate a section to `[Required]` and when it is enforced?

[2016-08-08 04:47] dougbu commented on #5120
@188 if @Eilon has understood your request correctly, have a look at action filters (`IActionFilter` and `IAsyncActionFilter`). Both are invoked with a context (`ActionExecutingContext`) that includes the action's parameters. And the `ModelStateDictionary` is available on the same context if the filter finds additional validation errors.

[2016-08-08 07:12] galczo5 commented on #5118
Ok, so all works good when I'm debugging from VisualStudio 2015 Update 3. Error appears after publish to file system, when I try to run app from *.exe file.

project.json
[code]
Startup.cs

[code]

[2016-08-08 07:31] davidfowl commented on #5118
Unrelated: All of the code that does that calls `services.BuildServiceProvider()` is probably wrong.  That actually builds a "new" service provider, nothing is cached. I see like 8 of those calls in your startup class. You should replace/remove them.

[2016-08-08 09:22] 188 commented on #5120
Problem has been solve
[code]

[2016-08-08 10:46] BruinY opened #5122 "Before the update why need stop iis webisite??"
Before the update why need stop iis webisite?? update website when rc2, don't need to stop iis

Why lose this feature in 1.0. Very inconvenient

[2016-08-08 15:07] #3750 closed

[2016-08-08 15:31] rynowak commented on #5121
@colscott - the best way to build something like this would be with a combination of what's shown in these two samples:
https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.SubAreaSample.Web
https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRoutingConvention

The set of 'keys' used for action selection is extensible. So if you make a `ModuleAttribute` like [this](https://github.com/as

[2016-08-08 16:04] colscott commented on #5121
Thanks, I'll try these out :-)

[2016-08-08 16:08] rynowak commented on #4846
Fixed by  6e5187c1ae731b09ff2bd94d65fc6c670be735f3 and aspnet/Routing@88de3d5

[2016-08-08 16:08] #4846 closed

[2016-08-08 16:53] sebastienros commented on #2910
I have actually finished implementing the resource manager, which can be used in any ASP.NET Core/MVC app.

Projects:
https://github.com/OrchardCMS/Orchard2/tree/master/src/Orchard.ResourceManagement
https://github.com/OrchardCMS/Orchard2/tree/master/src/Orchard.ResourceManagement.Abstractions

Here is a view with all tag helpers you can use to define required resources from a view:
https://github

[2016-08-08 17:12] pranavkm commented on #4599
A quick observation - if we decide to take on this change, we'd need to make this change to about any middleware that deals with `PathString`s. Consider,

[code]

Each of the middlewares in this sample, Map, StaticFiles, and Routing needs to now work with unencoded urls and know how to consume and produce url segments that are unencoded.

[2016-08-08 17:16] #5120 closed

[2016-08-08 17:19] Eilon commented on #5115
@dougbu feel free to file a doc bug on that. I'm closing this issue for now.

[2016-08-08 17:19] #5115 closed

[2016-08-08 17:22] Tratcher commented on #4599
@pranavkm the three fields in your samples are explicitly PathStrings, which by definition uses the decoded representation. That's too fundamental to ever change.

[2016-08-08 17:23] Eilon commented on #5122
With ASP.NET Core it's almost always required to stop the IIS web site while updating because the files are locked. You can instead place an `app_offline.htm` file (with content to show while the app is offline), which will cause the app to effectively be stopped so that you can update its files.

[2016-08-08 17:23] #5122 closed

[2016-08-08 17:39] pranavkm commented on #4599
@Tratcher, where does that leave us? If we specifically have to make this change in Routing, we'd have to know how much of the unencoded path has already been consumed give the current RequestPath and route the rest. That sounds pretty complicated.

[2016-08-08 21:09] colscott commented on #5121
It worked, thanks again.

[2016-08-08 21:09] #5121 closed

[2016-08-08 23:43] aecuman commented on #2015
The Ajax Helper will endup being the stumbling block when porting to Aspnet5 ore like now 😨

[2016-08-09 06:03] Eilon commented on #5118
@galczo5 thanks for sharing the project info. At first glance I can't immediately see anything wrong in the project - aside from the stuff that @davidfowl mentioned, which definitely needs to be cleaned up.

My only general suspicion is that this project was started before ASP.NET Core 1.0 RTM, so there might be some older stuff in there lurking around that is no longer necessary and/or is causing

[2016-08-09 06:35] galczo5 commented on #5118
Project was started with RC1 version, then migrated to RC2 and now to RTM.

[2016-08-09 06:44] Eilon commented on #5118
@galczo5 yeah I kind of suspected that. I'm guessing there's some mismatched versions of things in there somehow - except it's difficult to tell what. Any chance you could create a new 1.0 RTM project, then copy over the code/dependencies/settings and see what happens?

[2016-08-09 06:52] galczo5 commented on #5118
I can try, but not now. I have to end my other tasks, so I will be able to share result by friday. @Eilon thanks for support

[2016-08-09 11:05] gdoron commented on #5085
@rynowak

Sequential-Indexing: /Some/Path?items[0]=1&items[1]=2&items[2]=3
Explicit-Indexing: /Some/Path?items.index=0,1,2&items[0]=1&items[1]=2&items[2]=3

Only (the awkward IMHO) _Explicit-Indexing_ option worked for me when I needed to send a complex object over HTTP GET:

	{
		Paragraphs: [{
			Title = "My Title",
			Body: "My Body"
		}]
	}
_Sequential-Indexing_ worked only for HTTP POST.
_Sin

[2016-08-09 14:43] rynowak commented on #5085
If you're doing a complex object then 'Single-Element' won't work.

I'm curious what exactly wasn't working for using 'Sequential-Indexing' - can you capture a trace of the HTTP request using your browser and let me see what the form data looks like?

[2016-08-09 15:18] dazinator commented on #2910
@sebastienros - thank you for the above. I am using something similar based on this: https://github.com/aspnet/Docs/issues/687#issuecomment-168711927

Could you clarify how this works with when registering resources within ViewComponents? For example if you have several instances of the same ViewComponent within a single View, and you register a resource within that ViewComponent - does that work

[2016-08-09 16:14] sebastienros commented on #2910
Currently you can call this from a View Component's view only, as it doesn't target view components specifically.
If multiple views or services require the same resource during a request, a single one will be emitted in the rendered content, and any other dependent resource (bootstrap depends on jquery, so requiring bootstrap would also inject jquery).
If two scripts are required and have no relat

[2016-08-09 16:23] dazinator commented on #2910
@sebastienros - Thanks - sounds very good. I will give it a whirl! - Can it also make my tea? :-)

[2016-08-09 17:27] gdoron commented on #5085
@rynowak

`$` is obviously here jQuery

	$.param({Paragraphs:[{Text:"text",
					    Title:"title", Id:1}]})
Produces:

	decodeURIComponent("Paragraphs%5B0%5D%5BText%5D=text&Paragraphs%5B0%5D%5BTitle%5D=title"):
"Paragraphs[0][Text]=text&Paragraphs[0][Title]=title"

This doesn't work on GET.
But If I change from

`"Paragraphs[0][Text]=text&Paragraphs[0][Title]=title"`
To
`"Paragraphs[0].Text=text&

[2016-08-09 17:48] gdoron commented on #5085
Not that I think about it, maybe it works not because of the explicit indexing but because of using
`.Property` instead of `[Property]` (jQuery's way)
I made both of the changes because of this old blog post:
http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/

[2016-08-09 17:52] rynowak commented on #5085
/cc @dougbu is this something the jQuery value provider should address?

[2016-08-09 18:01] gdoron commented on #5085
@rynowak If you asked if I'm using this value in the querystring, the answer is yes
I'm using this code:

	var params = $('#addStoryForm').serialize();
	var win = window.open('@Url.Action("Preview", "Story")?' + params, 'previewWindow');
LMK if I misunderstood your question.

[2016-08-09 18:02] dougbu commented on #5085
We don't have a jQuery value provider for anything but the form content. For the query string, we basically use what we're given in the request object. I suspect this difference comes from an expectation that only the simplest information will come in the query string.

[2016-08-09 18:14] rynowak commented on #5085
ok @gdoron could you open a new issue for this. Right now this isn't expected to work, we should discuss whether to support this in the future.

[2016-08-09 18:17] gdoron opened #5123 "jQuery syntax for complex object doesn't work on HTTP GET"
$ = jQuery

[code]

Produces:

[code]

This doesn't work on GET.
But If I change from

"Paragraphs[0][Text]=text&Paragraphs[0][Title]=title"
To
"Paragraphs[0].Text=text&Paragraphs[0].Title=title"
It does work.

Worth checking if there's a standard regarding how to send complex objects over HTTP GET request.

[2016-08-09 18:18] gdoron commented on #5085
Done
#5123

[2016-08-09 18:22] rynowak commented on #5123
As discussed in another thread, this is in the query string not form data. We currently have support for the jQuery syntax using form data. Should we add this for query string as well?

@gdoron if you want to unblock your usage of this you'd need to create something like [this](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/JQueryFormValueProviderFactory.cs)

[2016-08-09 18:45] gdoron commented on #5123
@rynowak If there's no overhead of adding this notation for querystring globally, please do.
jQuery uses this notation, and I believe all other web framework do too,

If there's a significant overhead, maybe adding an attribute to the model?

	public ActionResut Preview([JqueryNotation] model){}

I'm just concerned that .NET have a different standard from the rest of the world.

[2016-08-09 19:01] tuespetre opened #5124 "Does ControllerActionInvoker need to use LogLevel.Warning when an authorize filter fails?"
Just wondering because we get a lot of log pollution from this (filtering `LogLevel.Information` and lower out in production.) We can definitely filter out this specific message but, at least for us, `LogLevel.Warning` seems excessive for this message. For reference, we have a slew of applications using an internal OAuth provider with a short-lived token (to keep permissions up-to-date with minima

[2016-08-09 20:35] rynowak commented on #5124
Yeah, given that our authentication system asks for forgiveness rather than for permission, this seems like it should be `info`. @HaoK @eilon thoughts?

[2016-08-09 20:57] Eilon commented on #5124
Hmm I'm a bit conflicted on this. I think I do agree that Warning is too important a level for this. It's not "bad" and it's not an app programming error to go to a URL when you're not authenticated (or authenticated as the wrong user). It's just app logic and flow with regard to business requirements.

I think more serious things such as entering invalid username/password is a "warning" because t

[2016-08-09 22:15] HaoK commented on #5124
Interesting, well the logging in Authorize itself already logs failures at info, so this would make us consistent.  cc @blowdart for FYI

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization/LoggingExtensions.cs#L19

[2016-08-09 22:35] rynowak commented on #5124
This really seems appropriate for `info` or `debug` then

[2016-08-10 11:14] nikibobi commented on #4211
How does [BindNever] work with value types? Does my type have to be nullable? Also I'm using [FromBody] as well and none of the attributes are working. What is a workaround? I have a simple POST action method that it needs to accept JSON. Do I have to remove the [FromBody] atribute or do I have to use key value url pairs for that? Sorry if that's a lot of questions

[2016-08-10 14:21] cyrusel commented on #494
plz don't ask MVC team to improve webpages, they will create MVC again, instead ask old webpages team to work on it.
it's your biggest mistake where you said "we are not trying to Create a scripted page framework to compete with PHP, etc." because this is exactly what you should do!

[2016-08-10 15:59] Serjster opened #5126 "DI resolve model when creating it."
Hey guys,

Damian Edwards told me to log this concern here, so that's what I'm doing.

Right now when a ViewModel needs to be DI resolved, we've had to basically copy/paste your ComplexTypeModelBinder and change the ModelCreation to be ServiceProvider resolved instead of newed up manually. I think it would make sense for this to be the default behavior in your model binder. You can see our impleme

[2016-08-10 16:17] rynowak commented on #5126
You should be able to subclass `ComplexTypeModelBinder` and just override `CreateModel(...)` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ComplexTypeModelBinder.cs#L314

Would that meet your needs?

[2016-08-10 16:30] Serjster commented on #5126
Certainly, that is the right way to do that... updated that code, but that doesn't really answer the question, why is this not the default implementation? It makes the binder be able to do more without any consequence that I can see.

[2016-08-10 16:48] rynowak commented on #5126
This is not the default implementation because it would require you to register all of your model types in DI.

[2016-08-10 16:51] Serjster commented on #5126
That's a good point, but an easy solution for that is to default to resolving any non-interface type with itself. So its it's a view model class that needs to be resolved, then just use that same class to do the resolving. Only throw an exception if there is no registration for an interface type.

[2016-08-10 17:06] dougbu commented on #4211
The model binding system will not attempt to bind the value.

No, it will be left at its default value.

Your problem is not clear. Please open a new issue describing what you're doing, what you expect, and and what is happening instead.

[2016-08-10 17:21] Eilon commented on #5124
Let's do Info.

[2016-08-10 18:47] colscott opened #5127 "ViewComponents called in wrong HttpContext scope"
When calling multiple Actions that all return ViewComponents, and calling them at the same time, the ViewComponents are called in the wrong HttpContext. This only seems to occur when the Action returns the ViewComponent. If the ViewComponents are called from the Actions View (cshtml) it works fine.

For example: (apologies for the formatting)
Controller -

[code]

Components -

[code]

View -

&lt

[2016-08-10 21:08] Eilon commented on #5127
@rynowak is this the same as https://github.com/aspnet/Mvc/issues/4998 ?

[2016-08-10 21:09] muratg opened #5128 "Overriding Request Form max upload limit"
_From @Tratcher on May 27, 2016 18:33_

_From @Ryuuke on May 27, 2016 18:30_

Hello,
I encountered this error when uploading large file (~200MB).

I already tried to modify my web.config file :
httpRuntime maxRequestLength="1073741824" executionTimeout="300000"
and requestLimits maxAllowedContentLength="1073741824"

but still, I get the same error.

I'm using the RC2 version, is there a way to ove

[2016-08-10 21:09] muratg commented on #5128
_From @Tratcher on May 27, 2016 18:38_

There are limits on the request form. Where are you trying to read the Form, an MVC Controller/Action?

The limits can be adjusted per action like this:
https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Controllers/RequestFormLimitsController.cs#L19

Or for the whole app like this (but don't do this just for one file):
https://github.com/aspn

[2016-08-10 21:09] muratg commented on #5128
_From @davidfowl on May 27, 2016 18:40_

@Tratcher @Eilon @kichalla should that filter be built into mvc?

[2016-08-10 21:09] muratg commented on #5128
_From @Tratcher on May 27, 2016 18:42_

@rynowak Probably.

[2016-08-10 21:09] muratg commented on #5128
_From @Tratcher on May 27, 2016 18:43_

https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Filters/RequestFormSizeLimitAttribute.cs

[2016-08-10 21:09] muratg commented on #5128
_From @Ryuuke on May 27, 2016 19:7_

Hey, thanks for your reply, yeah i'm trying to read the form from the an MVC action, it was the MultipartBodyLengthLimit property inside the FormOptions that I updated to a larger value than the default and It Worked well.

[2016-08-10 21:09] muratg commented on #5128
_From @victorhurdugaci on July 6, 2016 22:16_

This is something that should be in MVC. cc @kichalla @rynowak

[2016-08-10 21:09] muratg commented on #5128
_From @Eilon on July 7, 2016 1:52_

Is this the same as https://github.com/aspnet/Mvc/issues/481?

[2016-08-10 21:09] muratg commented on #5128
_From @Tratcher on July 7, 2016 2:21_

Not quite, this is specific to forms.

[2016-08-10 21:20] NTaylorMullen commented on #5103
PR is ready to go in. Waiting for patch-approved.

[2016-08-10 21:34] rynowak commented on #5127
Yes this is the same.

@colscott - the workaround [here](https://github.com/aspnet/Mvc/issues/4998#issuecomment-232108479) should fix the issue

[2016-08-10 22:42] Rick-Anderson opened #5130 "Web API needs equivalent of UseDeveloperExceptionPage"
It would be nice to have middleware that returned JSON error information for WebAPI projects.
1. Create a new WebAPI project and add Swagger.
2. comment out // [HttpGet]
3. Navigate to http://localhost:16489/swagger/v1/swagger.json and you get a 500 error

You can run IIS Express but you won't get any error information.

Update the values controller:

[code]

When id > 5 you just get a 500 error i

[2016-08-10 22:58] colscott commented on #5127
I did search for an existing issue first but never found it......honestly :-)
Thank you. Better than my workaround of creating views.

[2016-08-10 22:58] #5127 closed

[2016-08-10 23:21] rynowak commented on #5127
No worries, we'd rather get dupes than unreported issues. Thanks!

[2016-08-10 23:23] rynowak commented on #5130
/cc @kichalla - I remember we talked about this a while back - did you end up building a sample?

[2016-08-10 23:52] pranavkm commented on #4599
Going back to the @rynowak's comment from https://github.com/aspnet/Mvc/issues/4599#issuecomment-221613275, it doesn't look like we could round trip the value correctly - there isn't an mechanism in place to tell what the token's value was over the wire. Given the other issue with PathStrings expressly disallowing encoded values, there's not a whole lot left to do this in this work item. I'll go a

[2016-08-10 23:52] #4599 closed

[2016-08-11 05:21] Eilon commented on #5130
We have loggers that will log any errors (including the ELM prototype), and that already works today. What would be the idea here? Where does the error get displayed?

[2016-08-11 07:24] karataliu opened #5131 "OPTIONS request results in warning when enabling cors in MVC"
After following the guidance for CORS:
https://docs.asp.net/en/latest/security/cors.html

The cors functionality works fine, but each OPTIONS request would result in following warning:
[code]

Request:
[code]

Looks like it is due to the CorsAuthorizationFilter sets context result, is it expected behaviour?

[2016-08-11 17:04] ryanelian opened #5132 "Feature Request to Add GuestAttribute"
Some other languages' web frameworks have this feature, where a middleware causes certain routes to bounce if users are actually authenticated.

This is the implementation of the said attribute for ASP.NET MVC, but I could be wrong.

[code]

I think this is nice to have in ASP.NET MVC for decorating actions such as login and sign-up page.

Please? :D

[2016-08-11 18:25] kichalla opened #5133 "Should we provide an easy way to say if a file can be downloaded as attachment or shown inline?"
I came across the following post today: http://stackoverflow.com/questions/38897764/asp-net-core-content-disposition-attachment-inline

Currently we set the content disposition header only if a name is provided for the download file name property.
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/FileResultExecutorBase.cs#L28

So currently if you do `return File(vir

[2016-08-11 18:58] #4991 closed

[2016-08-11 19:20] kichalla commented on #5130
@rynowak I actually do not remember discussing about this. Probably we can discuss again.

[2016-08-11 21:48] dealdiane opened #5134 "Question: Why is the ViewComponent and ControllerBase's User property type different?"
There's probably some good reason/s behind that that I don't know (yet). It just seems to be counter-intuitive personally.

[2016-08-11 22:08] pranavkm commented on #5134
Unfortunately we missed updating the ViewComponent when we changed Controller. See https://github.com/aspnet/Mvc/issues/4964

[2016-08-11 22:08] #5134 closed

[2016-08-11 22:50] dealdiane commented on #4964
This was always going to be a breaking change. It's been like this since at least RC1 (I know! I should've reported this earlier.. ). I think 2.0 is too far off so why not mark this as todo for like 1.1 or something?

[2016-08-12 02:26] Bartmax commented on #5132
I don't think it adds much value, it's easy enough to implement it if you really want it.

Also, I would let users login as another user even if they are logged in or present the option to logout than to restrict the access and blindly redirect.

[2016-08-12 02:31] Bartmax commented on #5126
@Serjster what's the concrete scenario DI viewmodels enable? I'm curious.

[2016-08-12 02:37] #5096 closed

[2016-08-12 02:47] villanus commented on #494
I keep thinking about this, because I love razor pages.  Why not build the old stack (scripted style) on .net core and also support all the extra bells and wistles?

Damien had a good talk demo about this a year ago where he pretty much nailed it.  seems like they have been over complicating it since

[2016-08-12 06:37] Serjster commented on #5126
You can see in this example:
https://github.com/Serjster/IOCModelBinderExample/tree/ASPNETRTMVersion

1) Allows my controllers to be uber clean.
2) The Controller doesn't need to know anything about the needs of the ViewModel. This prevents the mixing of responsibilities.

[2016-08-12 08:03] Afshintm commented on #3578
Hi,
Can somebody please give me a hand?

I am Autofac as DI in my .NET Core webApi following the docs here is my code in **startup class**:

           public IServiceProvider ConfigureServices(IServiceCollection services)
        {
            services.AddMvc();
            var builder = new ContainerBuilder();
            builder.RegisterModule<DefaultModule>();
           builder.Populate(servi

[2016-08-12 09:43] galczo5 commented on #5118
Ok, done. I've tried one more time without starting new RTM project. Just to be sure.
I've added missing dependencies to project.json (without this operation all works well on VS 2015 Update 3).

Few dependencies (for example Microsoft.CodeAnalysis.CSharp.Workspaces, exception message `Can not find assembly file Microsoft.CodeAnalysis.CSharp.Workspaces.dll`) had property `type` as "build", I had t

[2016-08-12 10:06] biserkazinreich opened #5136 "How to setup a fallback resource file for all Views"
Using `IViewLocalizer `I would like to implement view localization with a default or fallback resource file for words and phrases that appear on multiple pages like for example edit, add, delete... I don't want to add these repetitive phrases in the resource file of all the views where they appear so a fallback recource file would really come handy, but I just can't seem to find any solutions on h

[2016-08-12 14:49] SayahImadWolf commented on #4676
Hi ,
I had the same problem and I resolved by restoring the package NuGet .

[2016-08-12 14:51] rynowak commented on #5130
@Eilon - a lot of API testing tools won't render HTML so using the developer exception page with these tools is a fail.

[2016-08-12 14:55] rynowak commented on #5131
Yes, it looks like the filter is behaving correctly - we need to fix the log output because it's misleading

[2016-08-12 15:01] Alchemy86 commented on #3544
Can you confirm what the fix is for this? How do we get the output of the htmlhelper?

[2016-08-12 15:44] danroth27 commented on #5130
For Web API development I think you would want an option to have the exception serialized in the 500 response.

[2016-08-12 16:21] pranavkm commented on #3544
@Alchemy86, here's what you'd have to do:

[code]

[2016-08-12 18:49] DamianEdwards opened #5137 "Support binding text/plain request body to action string args"
So one can easily post "text/plain" content and get it in an action method with a `string` arg, e.g.

[code]

[2016-08-12 20:41] Eilon commented on #5130
Yeah I totally understand we don't want to render HTML for an API. I just wasn't sure what alternatives people were thinking about.

[2016-08-12 20:55] NTaylorMullen commented on #5136
/cc @ryanbrandenburg

[2016-08-12 21:05] Eilon commented on #5132
I'm curious - what's the scenario where you want an authenticated user to not be able to see content that doesn't require authentication?

We could certainly implement the feature, I'm just not sure what it's for.

[2016-08-12 21:17] ryanelian commented on #5132
Like the example I've given above, login and signup page.

For example, facebook.com, if logged in, won't let you see the sign up or the login page anymore and instead redirects you to home / timeline page. (http://www.facebook.com/login.php)

MANY other sites actually do this and I assume this is the golden standard for login page behavior in the internet:
- Bitbucket: https://bitbucket.org/accou

[2016-08-12 22:59] oguzhaneren opened #5138 "Last registered mvc configuration override to all mvc services"
Here my code,

I want to create branch base service provider so my code here:

When I set mvc configs for "b1/{*path}" branch, its apply this settings to other branches.

I except when I go /b1/api/values it must be return result as xml format
I except when I go /b2/api/items it must be return result as json format (default format)

but two result are same, xml format.

[code]

[2016-08-13 00:07] ryanbrandenburg commented on #5136
@biserkazinreich is there a reason you couldn't have
[code]
and then just use whichever is appropriate? That doesn't give you fallback from the view to the Default resource, but you can easily choose which to use for each localization. If you must have fallback you could write your own `IStringLocalizerFactory` and `IStringLocalizer` similar to how we did [here](https://github.com/aspnet/Entropy/t

[2016-08-13 00:34] Eilon commented on #5138
@sebastienros any ideas?

[2016-08-13 12:45] biserkazinreich commented on #5136
@ryanbrandenburg Ok, thank you. That seems like an acceptable solution for my situation.
I'm just having some problems getting the IHtmlLocalizer<SharedResource> to work, but I will open a separate issue regarding that.

[2016-08-13 13:12] biserkazinreich opened #5139 "IHtmlLocalizer not working in Core 1.0"
I'm succesfully using the _IViewLocalizer_, but I just can't seem to get the _IHtmlLocalizer_ working. I have created the _SharedResource_ default file `SharedResource.resx` and than another localized file `SharedResource.sl.resx` like shown on the image below.
![image](https://cloud.githubusercontent.com/assets/19290347/17643267/f83f798c-6164-11e6-878b-446864792455.png)

In my _viewImports_ I'm t

[2016-08-13 18:06] Tieantono commented on #5132
I agree with Ryan, never seen much websites that let you do login even after you've logged in into that website. Such famous website would never do something like that, I mean for what kind of purpose that you let the logged in user to do one more login procedure (unless you're on ATM, which you sometimes need to reinsert the PIN number for the verification).

[2016-08-13 20:38] rguerreiro opened #5140 "Unable to unit testing a controller on .net core 1.0"
I'm trying to unit test the following controller:
[code]
This is my test:
[code]

But when in the `HomeController` when executing the line `return View();` on the `Index()` action it throws this exception:
[code]

Since the [docs for unit testing the controllers](https://docs.asp.net/en/latest/mvc/controllers/testing.html) are outdated I don't have a way to check if what I'm doing is right or not.

[2016-08-14 20:43] pranavkm commented on #5140
Have you tried adding Mvc to the service collection - `services.AddMvc()`?

[2016-08-15 06:57] cottsak commented on #4486
I fail to understand why folks can't grok this. On a successful POST, redirect!! It's [pretty standard practise and avoids the browser replay problems with forms](https://en.wikipedia.org/wiki/Post/Redirect/Get) (which is kinda 'web-101').

[This SO question just goes to show how frustrating this 'issue' is to many developers](http://stackoverflow.com/questions/1775170/asp-net-mvc-modelstate-clear

[2016-08-15 07:50] rguerreiro commented on #5140
It's up there on my code...didn't you noticed it? In the `HomeControllerTest` on the `InitServices` method.

[2016-08-15 11:02] Antaris opened #5141 "preserveCompilationContext causing failed references for runtime compilation"
Hi,

I am having some issues performing an upgrade from RC2 and RTM. I have a set of libraries deployed to an internal NuGet feed, they have `preserveCompilationContext` set to true. This is mostly because we don't have any clear indication as to whether we are supposed to include that in all projects, or just host projects? `preserveCompilationContext` generates a `.deps.json` file describing the

[2016-08-15 15:08] rynowak commented on #5140
There isn't anything I can see in the test code that's wiring up the service provider to your `HttpContext`.

The other issue that you might run into when you solve that is that your service provider will be a 'root' service provider not a 'scoped' service provider. If you need to get past that, resolve the `IServiceScopeFactory` and create a scoped provider from that.

Have you considered just mo

[2016-08-15 15:38] razzemans opened #5142 "Area routing seems broken for actions with a Route Attribute"
I created a new MVC project and added the following directories:

- Areas
  - Foo
    - Controllers
      - BarController

BarController:

[code]

In Startup.cs:

[code]

I go to:

`/foo` => matches `BarController.Index`
`/foo/test` => `404`

This 404 seems unexpected. I would expect this to match the `Index2` action of the controller, because  it feels wrong that the value of the Area attribute d

[2016-08-15 16:22] ryanbrandenburg commented on #5136
In that case I'll close this out.

[2016-08-15 16:22] #5136 closed

[2016-08-15 16:28] dougbu commented on #5141
/cc @pranavkm

[2016-08-15 16:49] danroth27 commented on #5142
This behavior is expected. Putting a controller in an area does not affect the URL structure - you have explicitly account for that when you define your routes and that includes attribute routes. Note that there is a route token that you can use for this purpose (ex. `[Route("[area]/test")]`).

[2016-08-15 16:49] #5142 closed

[2016-08-15 16:57] danroth27 commented on #5141
The `preserveCompilationContext` option is used to when your app needs to do runtime compilation, and therefor needs to know what to compile against. This option is not needed at all for libraries.

Can you share with us your solution so that we can take a look at what you are trying to do?

[2016-08-15 17:05] danroth27 commented on #5138
Please note that If all you really want to do is control which formatter gets used for a particular endpoint, you could do that with the `ProducesAttribute`. See https://docs.asp.net/en/latest/mvc/models/formatting.html#forcing-a-particular-format.

[2016-08-15 17:07] pranavkm commented on #5141
Most likely not. Seems like a bug and https://github.com/dotnet/cli/issues/4047 could be used to address this.

`preserveCompilationContext` has two purposes -

1. It's used to detect what libraries reference Mvc. By default, we specifically look for Mvc specific types, such as Controllers and ViewComponents, in these libraries.
2. It's used to detect the closure of libraries used to compile the a

[2016-08-15 17:17] lvermeulen opened #5143 "Correctly accept all json and xml media subtypes"
Currently the json and xml input and output formatters accept only ~/json and ~/xml mediatypes by default. As per [RFC 6839 (json)](https://tools.ietf.org/html/rfc6839#page-4) and [RFC 3023 (xml)](https://tools.ietf.org/html/rfc3023#page-32) all +json and +xml subtypes should be regarded as such. Otherwise many [IANA registered media types](http://www.iana.org/assignments/media-types/media-types.x

[2016-08-15 17:46] sebastienros commented on #5138
@oguzhaneren what you are describing is called multi-tenancy, even though you could think it is not (https://twitter.com/oguzhannet/status/762702383185100800)

But you don't just need multi-tenancy, it's MT with custom services for each tenant which is harder. I know you are already looking at SaasKit as suggested in order to accomplish it (https://github.com/saaskit/saaskit/issues/41).
Another wa

[2016-08-15 18:34] ryanbrandenburg commented on #5139
@biserkazinreich firstly I would advise against editing the auto-generated *.Designer.cs files. Secondly, I'm unable to reproduce your problem with the given information, `@inject`'ed `IHtmlLocalizer`'s work just fine on the app I ginned up to test this. One thing I noticed is that you did `o.Filters.Add(typeof(ResourceFilter));` which seems suspicious, but I can't really say without being able to

[2016-08-15 20:12] danroth27 commented on #2646
See also http://www.strathweb.com/2016/06/introducing-strathweb-typedrouting-for-asp-net-mvc-core/ for an alternative implementation

[2016-08-15 22:26] danroth27 opened #5144 "Autodiscovery and compilation of Razor views via embedded providers"
Consider supporting Razor views as embedded resources out of the box.

[2016-08-15 22:27] danroth27 commented on #3237
https://github.com/aspnet/Mvc/issues/5144

[2016-08-15 22:29] danroth27 commented on #3237
We are also looking at precompilation of views in libraries: https://github.com/aspnet/Mvc/issues/3917

[2016-08-15 22:34] #3237 closed

[2016-08-15 22:34] danroth27 commented on #3237
Closing since all outstanding items are tracked by other issues.

[2016-08-15 23:48] TLHamilton commented on #3237
Sounds good for the future.  For now I am using a combination of gulp to copy views into target project's View folder at build time and access them with PhysicalFileProvider at run time.  I can send details if interested.

[2016-08-16 03:41] oleksii-vynnychenko opened #5145 "Remote validation calling server-side Action with inconsistent parameter name"
I have domain model that has remote validation on field UrlName:
[code]

View model using domain model (Page class):
[code]
Validation method in PageController (non-relevant methods are omited and only signature of that method is relevant)
[code]
There's a View with it's PageEditViewModel model should remotely validate input of UrlName.

[code]

Problem: for example I'm entering `UrlName 2` in inp

[2016-08-16 04:50] dougbu commented on #5145
Why are you comparing a view with `@model PageEditViewModel` with one that has `@model Page`? The two are going to send different keys for the properties of the `Page` sub-model or model (respectively).

[2016-08-16 07:23] Antaris commented on #5141
@danroth27  @pranavkm

Thanks for your feedback. It's now clear to me the use cases for `preserveCompilationContext` and removing it corrects my issue.

I'm using `DependencyContext` in a similar way to MVC, but instead of locating application parts I am using it to locate modules.

Perhaps the `project` type flag should be driven by the presence of `emitEntryPoint` in the build options?

[2016-08-16 07:23] #5141 closed

[2016-08-16 08:45] oleksii-vynnychenko commented on #5145
Ok, then what should developer do in this case? I have domain model Page that I actually use in that and other Controller and as a model for Views. What should I do if I need specific ViewModel for some other View that contains Page as a parameter AND I need remote validation of same field in both cases of same UrlName property? I can't mark UrlName property with [Remote] in PageEditViewModel beca

[2016-08-16 12:10] jeanjn opened #5146 "ModelBindingContext.ValueProvider using [FromBody]"
I have a custom ModelBinder to fill my model and my action in controller receive the data [FromBody] of request by post using ajax.

The problem is: If I send the data using "params" (queryString), the valueProvider works well, but if I send using "data" (body of request), the valueProvider is empty.

So, how can I get the data from body in my custom modelbinder?

The ValueProvider has two provide

[2016-08-16 12:31] galczo5 opened #5147 "Problems with publish on TeamCity after upgrade from RC2 to RTM"
Hi,
After upgrade from RC2 to RTM one of build steps on my TeamCity server fails. From VisualStudio 2015 Upgrade 3 and local console all works well (again).

Build step simply calls command "dotnet publish". Here is output:
[code]

Any idea?

[2016-08-16 12:32] xShivan commented on #5147
+1 this is an awful blocker for our CI :(

[2016-08-16 13:30] pranavkm commented on #5141
Perhaps. The alternative might be for DependencyContext to fallback to packages when type is project.

[2016-08-16 15:57] danroth27 commented on #5084
Closing as per the discussion

[2016-08-16 15:57] #5084 closed

[2016-08-16 16:01] pranavkm commented on #5146
@jeanjn the default set of value providers get data from query string, route data and form posts. FromBody is handled by input formatters which is responsible for creating the object instance in entirety.

What is that you're trying to do with a custom ModelBinder that doesn't work out of the box?

[2016-08-16 16:02] pranavkm commented on #5147
What version of dotnet are you using? Also, I'd recommend filing this in https://github.com/dotnet/cli since this is strictly not an Mvc specific issue.

[2016-08-16 16:37] imranbaloch commented on #5146
FWIW, you can read the body like https://github.com/aspnet/Mvc/issues/4962 or https://long2know.com/2016/08/net-core-middleware-request-processing/ but EnableRewind is in internal namespace :).

        public async static Task<T> ReadAsAsync<T>(this HttpContext context)
        {
            var initialBody = context.Request.Body; // Workaround

            context.Request.EnableRewind();

[2016-08-16 17:25] dougbu commented on #5145
@oleksii-vynnychenko, override the key used to bind arguments of the `ValidateUrlName()` action:
[code]

[2016-08-16 18:00] oleksii-vynnychenko commented on #5145
OK, but what if I have 50 different ViewModels that nest Page instance with different names `NewPage`, `EditedPage`, `PulledPage`, `ParsedPage` and so on...? Or when it's IEnumerable<Page> it'll be I think `NewPage[0].UrlName`, `NewPage[1].UrlName`, etc. You can't write all of those in [Bind(Prefix)].

What I'm saying is - isn't it better ONLY for validation purposes (only when model is being vali

[2016-08-16 18:03] dougbu commented on #5145
Names are generated and checked consistently in MVC. They depend on the context, specifically the type hierarchy above any particular property. To do otherwise results very quickly in duplicate keys for distinct properties.

[2016-08-16 18:53] #3518 closed

[2016-08-16 19:40] mukundabrt opened #5148 "If user submit price value (decimal / int) empty from view, server side model validation show wrong message."
There is issue found on model validation server side.

public string Genre { get; set; }
public decimal Price { get; set; }

If user submit price value empty from view, server side model validation show wrong message  ie. the value "" is not valid.

I have checked in controller, the incoming model is showing price value 0 as default but ModelState getting rawValue="". so conflicting with datatype

[2016-08-16 19:48] dougbu commented on #5148
The `SimpleTypeModelBinder` detects that `string.Empty` cannot be converted to a `decimal` value and adds the error you see. What is the issue?

[2016-08-16 19:55] mukundabrt opened #5149 "Master detail crud operation form creation difficulties ."
**Developers are getting very difficulties to create master detail crud operation in MVC
with detail table inline editing and bind with detailmodel.**

So many customization and javascripting are required to complete the goal.
I have googled regarding this but still not getting satisfactory result.

If mentined feature or tag helper  available in mvc, it will be more fruitful and easy.

Thanks =D

[2016-08-16 20:02] mukundabrt commented on #5148
ok SimpleTypeModeBinder is detecting string.empty
but model is carring 0 as default (even user submit with empty)   so should validate with 0 not with "" (string.empty).

decimal / int is alwasys getting 0 as default value.

Thanks for prompt reply

[2016-08-16 20:51] sk29110 opened #5150 "parsing issue on asp.net when request quality factor is specified."
I am having issue when there is a quality factor specified in the HTTP header like the following.

Accept: text/html, image/gif, image/jpeg, *; q=.9, */*; q=.1

and make an get request agent my asp.net API

As this error suggest there is some parsing issues if there is quality factor.

Is this the bug which mvc needs to take care or if there is some setting I need to make to make workaround.
[code

[2016-08-16 21:12] saf-itpro opened #5151 "ASP.NET Core MVC Razor Issue"
In my ASP.NET Core web app, in the default _LoginPartial view, if I put just a `true` keyword in the `if statement` below it ignores the entire `if{...}` block. **NOTE**:  My real scenario is a bit more complex but for the sake of reporting the issue, I've simplified the scenario here. In the real scenario, I want to replace hard coded `true` with `User.IsInRole("AdminRole")` to display the `if bl

[2016-08-16 21:14] ajaybhargavb commented on #5124
8de4ddc0108de759fb1e9b6d28e54518aa617220

[2016-08-16 21:14] #5124 closed

[2016-08-16 21:34] dougbu commented on #5148
We're talking about a model binding error -- some invalid data on the wire gets caught up front. Validation and default values for properties that aren't assigned aren't relevant here.

[2016-08-16 21:37] dougbu commented on #5150
/cc @javiercn

[2016-08-16 22:04] NTaylorMullen commented on #5151
@saf-itpro there must be some other issue happening when you log in. I tried the same thing on File => new Web Application and did the following in the `_LoginPartial.cshtml`:

![image](https://cloud.githubusercontent.com/assets/2008729/17717384/8b228e42-63c2-11e6-9408-a4a0d51e1aa3.png)

With this, when I log in I get the following:
![image](https://cloud.githubusercontent.com/assets/2008729/17717

[2016-08-16 22:58] saf-itpro commented on #5151
@NTaylorMullen You are correct. `Hello UserName` was hiding behind an image. After reading your response, I searched for it and found it out behind the image. Thank you for taking your time to help. I'm closing the issue.

[2016-08-16 22:58] #5151 closed

[2016-08-16 23:11] NTaylorMullen commented on #5151
@saf-itpro Glad I could help :+1:

[2016-08-17 01:05] ctolkien commented on #3603
Somewhat related, `asp-append-version="true"` also does not apply to `srcset` on `img` tags.

[2016-08-17 06:09] danroth27 commented on #2573
@Eilon I think this is a duplicate of #1786

[2016-08-17 07:33] ermithun opened #5152 "ExcelDataReader for mvc not working in Asp.Net Core 1.0"
ExcelDataReader for mvc not working in Asp.Net Core 1.0

Need Help

[2016-08-17 07:44] galczo5 commented on #5147
https://github.com/dotnet/cli/issues/4055

[2016-08-17 08:30] davidfowl commented on #5152
I assume you mean this package https://www.nuget.org/packages/ExcelDataReader/? What doesn't work? Are you using ASP.NET Core on .NET Framework or ASP.NET Core on .NET Core?

[2016-08-17 08:31] davidfowl commented on #5149
Do you have a specific request or are you just asking for us to make it easier?

[2016-08-17 09:23] ermithun commented on #5152
hi @davidfowl ,   ya  I am developing project using Asp.Net Core and facing this problem how to read excel data in latest .net Core version .
ExcelDataReader.dll  is supporting in .Net Core.

 Need your support

[2016-08-17 09:25] davidfowl commented on #5152
I don't know what you need. Are you trying to figure out how to use the library in general? Have you used the library before? Have you used it in ASP.NET 4.x? What are you having problems with?

[2016-08-17 09:28] damienbod commented on #5152
The ExcelDataReader library is a .NET library

[2016-08-17 09:47] ermithun commented on #5152
@davidfowl
Thank you for you quick response.

I want to  read uploaded excel data and bind in model and return view  in .net mvc core

[2016-08-17 14:42] jugglingthebits commented on #4438
I find this especially relevant as you can't have an ILogger instance injected into exception filters (derived from ExceptionFilterAttribute) as instances of exception filters attributes aren't created via DI.

[2016-08-17 15:20] rynowak commented on #4438
You don't need to derive from `ExceptionFilterAttribute` - implement `IExceptionFilter` and use `[TypeFile(typeof(MyExceptionFilter))]`