[2018-07-09 17:34] #7999 closed

[2018-07-09 17:52] mkArtakMSFT commented on #7976
@javiercn, would like to get your opinion about this? I've requested your review on the associated PR also.

[2018-07-09 17:56] freshe commented on #8032
Hi @mkArtakMSFT
I uploaded a sample that reproduces the issue.

https://github.com/freshe/sample-hyphen-minus

[2018-07-09 17:59] ColorTwist commented on #8029
It seems so, but I can't seem to make the streaming work (FileStreamResult) with CancellationToken as shown in inisital question.

[2018-07-09 18:02] Tratcher commented on #8029
Your catch block won't be triggered since the streaming is completed after your method exits. Did you check the logs for cancellations?

[2018-07-09 18:03] pranavkm commented on #7885
Fixed in https://github.com/aspnet/Mvc/commit/dee479fda712e35cf740239587e438a8143850d8

[2018-07-09 18:03] #7885 closed

[2018-07-09 18:04] pranavkm commented on #8009
@mqudsi feel free to reopen the issue once you have a repro app.

[2018-07-09 18:04] #8009 closed

[2018-07-09 18:22] ColorTwist commented on #8029
I see, In the logs i do not see cancellation.
How do you suggest to implement the streaming for it to cancel the stream if interrupted by user ?
Honestly, can't find example for this.

[2018-07-09 18:35] javiercn commented on #7976
@henrik-olsson-valtech This is by design, so that apps in functional tests work so long as they work when you F5 or `dotnet run` the app. We expect people to write tests this way first and then `productionize` their tests to run on the CI, etc. Ideally with an environment specifically designed for running integration tests.

[2018-07-09 18:51] dougbu commented on #8035
@mkArtakMSFT since the current behaviour is counter-intuitive, suggest we update `ValidationMessageTagHelper` to detect existing content before calling into the `IHtmlGenerator`. That is, we should treat overwriting the explicit `<span>` content as a bug.

[2018-07-09 19:18] cortex93 commented on #8029
Your question is more related to HttpClient which have known issues with cancellation support.
Have you tried registering a lambda on the Cancellation Token to forcefully close your stream ?
`CT.Register(() => _stream.Close());`

Also, the GetStreamAsync implementation will read the response headers with no way to cancel. If your backend server has slow header response time, you may want to use th

[2018-07-09 19:31] #7515 closed

[2018-07-09 19:31] pranavkm commented on #7515
Fixed in https://github.com/aspnet/Mvc/commit/dc2ae93c3f37ff7f44c2d09f68065b19db6a3245

[2018-07-09 19:46] cortex93 commented on #8029
return new HttpClientHandler();

But think about Tratcher and I said about creating too many instances of it

[2018-07-09 19:48] javiercn commented on #8021
Hi @Tealons thanks for contacting us.

The client created with CreateClient follows redirects and handles cookies automatically. What you are seeing is most likely caused by the fact that the action is producing a redirect and the client is automatically following it.

You can set `ClientOptions.AllowAutomaticRedirects = false` in your custom `WebApplicationFactory` to avoid this behavior and you

[2018-07-09 20:32] mqudsi commented on #8009
@pranavkm you're right, it doesn't reproduce in a new project. Let me strip down what I currently have and see if I can get something shareable.

[2018-07-09 20:42] Tealons commented on #8021
@javiercn @mkArtakMSFT : I tried the ClientOptions.AllowAutomaticRedirects = false option, but that just breaks all the tests. I'm testing real application behavior and having redirects is pretty normal when you have a MVC authorization policy...

Honestly, I have the feeling that the client is not destroying the identity cookies because of the redirect. Can something like that be the case?

[2018-07-09 20:55] javiercn commented on #8021
@Tealons I'm looking at it. I saw that your tests were pretty standard, so I assumed the automatic redirects were the cause.

[2018-07-09 21:07] javiercn commented on #8021
@Tealons I took a second look. It seems like the issue is with the second test. The user needs to be registered before you can log in and the password that you are using is not actually valid. I would suggest that you check for the user name in the page to see if there is a valid user logged in.

You can inspect the cookies through looking inside the HttpClient instance within the _client or by cr

[2018-07-09 21:08] javiercn commented on #8021
@Tealons Additionally, what you are trying to do is something like https://github.com/aspnet/Identity/blob/master/test/Identity.FunctionalTests/LoginTests.cs#L27

[2018-07-09 21:09] mkArtakMSFT commented on #7970
Given the super simple workaround customers facing this issue can apply, I don't think this will get approved as a patch candidate. Still, I will try to get this approved in Shiproom.

[2018-07-09 21:19] kichalla commented on #7959
https://github.com/aspnet/Mvc/commit/bd995d4cb1d5a64b607f5de316f08acc9ff0f7d9

[2018-07-09 21:19] #7959 closed

[2018-07-09 21:19] kichalla commented on #8007
https://github.com/aspnet/Mvc/commit/bd995d4cb1d5a64b607f5de316f08acc9ff0f7d9

[2018-07-09 21:19] #8007 closed

[2018-07-09 21:21] zokiad commented on #8031
Hi,

The enconding of my view was ANSI.

I modified encoding of file to UTF-8-BOM. And this workaround fix the issue.

Thank you for your help.

[2018-07-09 21:21] javiercn commented on #7976
I might not have been super clear.
What @khellang is proposing is the expected way to do this.
If you need to run the tests against multiple environments with multiple setups the recommendation is that you override ConfigureWebHostBuilder and add the appropiate setups in there.

I'm closing the issue as this is by design and there's no further action to take in here.

[2018-07-09 21:21] #7976 closed

[2018-07-09 21:53] mkArtakMSFT commented on #7945
Closing this issue as a dupe with the one @pranavkm has referenced - #6560

[2018-07-09 21:53] #7945 closed

[2018-07-09 22:04] mkArtakMSFT commented on #7965
Thanks for helping out with this, @AlexejTimonin.
Would you be interested in submitting a PR to us?
/cc @pranavkm

[2018-07-09 22:09] mkArtakMSFT commented on #7887
Thanks, @bgribaudo. Sorry for the delay. @ryanbrandenburg, please look into the provided repro so we can discuss it later.

[2018-07-09 22:47] Eilon opened #8042 "Controller cache attribute in asp net core?"
_From @ChristopherRobinSuperStar on June 23, 2018 13:6_

Is it possible to use [ResponseCache()] attribute with SqlDependency and ServiceBroker in asp net core 2.1?
If it's not, please add this feature. It was very useful in asp net mvc earlier:
[code]

_Copied from original issue: aspnet/Home#3259_

[2018-07-09 22:47] Eilon commented on #8042
_From @pranavkm on June 29, 2018 15:0_

@JunTaoLuo \ @Tratcher is this something you could do with the response cache middleware?

[2018-07-09 22:47] Eilon commented on #8042
_From @Tratcher on June 29, 2018 15:46_

Certainly not at the moment. I'm not even quite sure how you'd implement that.

[2018-07-09 22:50] Eilon opened #8043 "ModelBinding error with boolean values"
_From @leecow on June 21, 2018 2:20_

Issue moved from https://github.com/dotnet/core/issues/1711, opened by @WinthorpeCross

I have a potential problem with the ModelBinder in my ASP.NET Core  2.0 project.  I have the following 'Index' controller action:
[code]
The SortFilterIndexOptions are four parameters defined in the following class:

[code]
These enable the user to filter a paged index page

[2018-07-09 22:51] pranavkm opened #8044 "how to add assembly info to PrecompiledViews dll generated by dot net core 2.0"
_From @parthakbari on July 4, 2018 5:37_

# how to add assembly info to PrecompiledViews dll generated by dot net core 2.0

# General

views in my .net core 2.0 project is getting generated in PrecompiledViews dll..

How to add the assembly info to this dll, information such as company name, copyrights etc..

Tried to some tag in project file but didn't work

      `<PropertyGroup Label="Assembly"

[2018-07-09 22:51] pranavkm commented on #8044
_From @Petermarcu on July 9, 2018 21:9_

@Eilon @muratg

[2018-07-09 22:51] pranavkm commented on #8044
_From @Eilon on July 9, 2018 21:46_

@pranavkm can you move this issue to the appropriate repo and answer it?

I believe the short answer is: by default the precompiled views assembly will use the same metadata as the app's metadata, though there might also be a way to customize it beyond that.

[2018-07-09 23:04] pranavkm commented on #8044
There really isn't any way to change this with MVC precompilation. That said, we're deprecating the precompilation tool in favor of build time compilation using the Razor Sdk. This copies over a bunch of metadata from the app's settings (such as `Product`, `Copyright` etc) while also allows for additional cs files to be included as part of compile. See https://docs.microsoft.com/en-us/aspnet/core/

[2018-07-09 23:05] mkArtakMSFT commented on #7961
Thanks for bringing this up, @GeorgePetri. This is an interesting ask and we're definitely interested in this. While that's not an immediate priority, we're moving this out the the Backlog so we can evaluate it later on.

[2018-07-09 23:13] mkArtakMSFT commented on #8042
We won't be able to do it without the support of the ResponseCache middleware.

[2018-07-09 23:13] #8042 closed

[2018-07-09 23:42] javiercn opened #8045 "Add additional configuration sources for the WebHostBuilder in the WebApplicationFactory"
#### Is this a Bug or Feature request?:
Feature request.

#### Description of the problem:
There are some situations where users have manifested the desire to configure some aspects of the app for testing purposes through environment variables and other mechanisms.

We normally recommend overriding ConfigureWebHostBuilder to do these types of changes, but there are a couple of opinions that the We

[2018-07-09 23:51] mkArtakMSFT commented on #7970
Actually, thinking more about this, this is not even close to the bar for a patch. Closing this.

[2018-07-09 23:51] #7970 closed

[2018-07-10 00:07] dougbu commented on #7970
@mkArtakMSFT we introduced the #7770 regression in a _patch_ (2.1.1). I'm surprised fix for that doesn't meet the bar for a subsequent patch. We shouldn't break scenarios in a patch -- ever.

In addition, the `IFormFileCollection` workaround may be simple but isn't particularly obvious.

[2018-07-10 01:29] #8015 closed

[2018-07-10 07:14] ColorTwist commented on #8029
Hello,

A) I would appreciate to see GetSharedHttpClientHandler() example (like you and Tracther suggested).
B) I tried the code, it is working, but i am not sure if I should see cancellation token in the logs. Not sure it canceled or not.

[2018-07-10 07:51] AlexejTimonin commented on #7965
I will submitt PR, @mkArtakMSFT

[2018-07-10 08:08] Tealons commented on #8021
@javiercn I think you missed my instructions for reproducing the problem :)
Test 2 fails indeed if you do not register an account and change the credentials in test 2.  I did not post the database with the code because I thought that doing a quick setup would be faster.

So after your hint about the cookies, I did some extra research and found that the identity cookie is destroyed properly as you

[2018-07-10 08:57] yogster commented on #8034
Thanks for your prompt response, @dougbu. Is this fixed in 2.2.0 or in 2.1.3?

I've tried using Microsoft.AspNetCore.App v2.1.3-rtn-30898 but my test app exits immediately with `﻿﻿The program '[1856] dotnet.exe' has exited with code -2147450730 (0x80008096).`. I appreciate your effort and I'm happy to test, but I need you to point me in the right direction.

[2018-07-10 10:15] paragpkulkarni opened #8048 "Asp.Net Core 2.1 with .Net Framework 4.6.1 error after deployment using visual studio publish"
This is a bug for Asp.Net Core 2.1.1 targetting Full framework 4.6.1

#### I am trying to deploy Asp.Net Core 2.1 application with target framework 4.6.1 on server. I am using visual studio 2017 v15.7.2 to publish the application. After publishing I am copying the publish folder on the server where deployment is intended. Everything works fine on local machine. But when I am trying to run the appl

[2018-07-10 16:28] benjcallaghan commented on #7992
I have created a minimal repro project here: https://github.com/benjcallaghan/TestModelErrors

This project has a test server and client. The server exposes two nearly identical routes. One includes a CancellationToken as a parameter, the other does not. The client builds up 1000 objects, each with a single validation error, and sends that batch to each endpoint. The maximum number of errors was l

[2018-07-10 16:55] mkArtakMSFT commented on #7983
Holding on to this for as an SDK fix will probably cover this.

[2018-07-10 16:56] pranavkm commented on #7983
SDK PR tracking the fix - https://github.com/dotnet/sdk/pull/2382

[2018-07-10 17:40] dougbu commented on #8034
`0x80008096` corresponds to a `FrameworkSetupError`. Likely means you don't have the correct version of `dotnet` to use the latest Microsoft.AspNetCore.App package. Suggest installing the latest SDK for your platform from https://github.com/dotnet/core-sdk#installers-and-binaries.

[2018-07-10 17:54] mkArtakMSFT commented on #7683
This doesn't meet the bar for the 2.0 patch.

[2018-07-10 17:54] #7683 closed

[2018-07-10 18:06] pranavkm opened #8050 "Add codefix support for ApiConventions"
* [x] Fixup a missing status code on a method

--------------
Punted for a future release
* [ ] Extract to a new convention

[2018-07-10 18:07] javiercn commented on #8021
@Tealons Thanks for the thorough response. I've missed that. I'll take another look at the area and see what's going on.

[2018-07-10 19:16] kichalla commented on #8012
I can reproduce this. Currently we check if a value for a enum is defined or not during the model binding process and not during validation. I am unable to recall the reason we decided it to be a model binding stage rather than validation(cc @dougbu , do you remember why?), but based on comment in the original bug here: https://github.com/aspnet/Mvc/issues/6329#issuecomment-328238584, using `EnumD

[2018-07-10 19:47] dougbu commented on #8012
&hellip; because it's a better fit with other things we do during model binding. Type conversions and their failures are all handled during model binding.

In addition, users can add `[EnumDataType]` to change the validations (in a more granular fashion than changing `MvcOptions.SuppressBindingUndefinedValueToEnumType` or (worse) `MvcCompatibilityOptions.CompatibilityVersion`).

[2018-07-10 20:58] kichalla commented on #8012
Thanks @dougbu

Closing this as by design.

[2018-07-10 20:58] #8012 closed

[2018-07-10 21:11] mkArtakMSFT commented on #8048
Thanks for contacting us, @paragpkulkarni.
Can you give more details about the `server` you refer to? Is that an IIS, IISExpress, or just a file share you'tr trying to publish to?

[2018-07-10 21:16] mkArtakMSFT commented on #8045
@javiercn, please assign cost to this issue.

[2018-07-10 21:18] mkArtakMSFT commented on #8043
Thanks for contacting us, @WinthorpeCross.
Can you please provide a small project so we can reproduce the issue?

[2018-07-10 21:20] mkArtakMSFT commented on #8038
Thanks for contacting us, @reyou.
@pranavkm, didn't we have a similar issue?

[2018-07-10 21:22] mkArtakMSFT commented on #8037
Thanks for contacting us, @Whathecode.
@NTaylorMullen, can you please look into this? Thanks!

[2018-07-10 21:30] mkArtakMSFT commented on #8032
Thanks @freshe.
@pranavkm, can you please look into this and redirect to corefx folks, if necessary?

[2018-07-10 21:31] mkArtakMSFT commented on #8031
Thanks for confirming!

[2018-07-10 21:31] #8031 closed

[2018-07-10 21:38] mkArtakMSFT commented on #7988
Hi @alireza-salemian.
we have no plans to expose the `DefaultModelMetadata.Attributes` property. The suggested behavior is our recommended solution.

[2018-07-10 21:38] #7988 closed

[2018-07-10 21:48] mkArtakMSFT commented on #7964
Thanks for contacting us, @RehanSaeed.
@kichalla, can you please look into this? Thanks!

[2018-07-10 21:52] WinthorpeCross commented on #8043
Hello there @mkArtakMSFT, I'll prepare something for you now.  What's the best way to share the project with you?  By uploading a repo?

[2018-07-10 22:16] danroth27 commented on #1928
No plans to add this to ASP.NET Core.

[2018-07-10 22:16] #1928 closed

[2018-07-10 22:54] khellang commented on #8032
Using the solution provided, I'm getting **HYPHEN-MINUS (U+002d)** on Windows (10.0.16299) and **MINUS SIGN (U+2212)** on MacOS (Darwin 17.5.0), which sounds like the exact opposite of what @freshe reported.

Anyway, I was able to reproduce the same results using the following code:

[code]

## Windows Result

[code]

## MacOS Result

[code]

Note the difference in the first character (the `Cultur

[2018-07-11 00:14] Alex-Hagen-Thorn-at-Experieco commented on #6790
Is this feature included in Microsoft.AspNetCore.All package version 2.1.2?
Just upgraded, and can not see any effect....

[2018-07-11 01:09] pranavkm commented on #8032
Thanks for the detailed investigation @khellang  👍

[2018-07-11 01:13] pranavkm commented on #6790
You're likely missing the 2.1 compat flag. See https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1#changes-to-startup for migration instructions.

[2018-07-11 01:16] pranavkm commented on #8038
Perhaps this - https://github.com/aspnet/Razor/issues/2466. MVC independently watches and recompiles cshtml files on change without having to rebuild your application (or running `dotnet watch`). Do you have a repro app demonstrating the issue?

[2018-07-11 01:22] reyou commented on #8038
I will try to create a one. Sorry the one I was working private one.

[2018-07-11 03:02] reyou commented on #8038
I am not sure what was the cause of the problem, but I could not re-create issue for sample project.
Then I upgraded my visual studio (and it updated .net core along with it) and problem has gone.

I will close this issue for now, may be it was very specific scenario, and it is almost impossible to re-create.

Thanks!

[2018-07-11 03:02] #8038 closed

[2018-07-11 05:38] dougbu commented on #7992
@benjcallaghan thanks again for this report. The problem here is `CancellationTokenModelBinder` suppresses validation for the `CancellationToken` parameter and the root `ModelStateDictionary` node. This _unconditionally_ overwrites the `Invalid` state of the root node.

## Workaround
Reverse the order of the action parameters (putting the `CancellationToken` parameter first) and you'll get the exp

[2018-07-11 05:58] dougbu commented on #7992
@mkArtakMSFT @danroth27 we should fix this issue.

FYI on second glance, the problem is here https://github.com/aspnet/Mvc/blob/a6987cc1cde88663e16430db9b4ebc1372b2c4f9/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Validation/ValidationVisitor.cs#L196-L200

That will suppress validation for the entire `ModelStateDictionary` if `HasReachedMaxErrors` is already true when validating a parameter with

[2018-07-11 07:45] paragpkulkarni commented on #8048
Here is a version number from the registry  **393297**
OS version- **Windows Server 2012 R2 Standard**

[2018-07-11 08:02] waxingsatirical commented on #5960
could this be why Razor is not playing well with Fody/Costura? [](https://github.com/Fody/Costura)

It works by including referenced assemblies ({MyProject}.View.dll) as embedded resources and then hooking into the AppDomain.CurrentDomain.AssemblyResolve event.

[2018-07-11 14:13] WinthorpeCross commented on #8043
I have added a sample as requested.  It is the only public repo on my GitHub and here is the []([link](https://github.com/WinthorpeCross/ModelBindFaultSample.git).)

To replicate the fault:

- Run the application, then choose 'Birds' from the Navigation Bar.  This will open the Birds Index page;

- On the index page, toggle either or both of the check boxes to true (checked).  Then use the pager c

[2018-07-11 16:41] mkArtakMSFT commented on #8048
Thanks @paragpkulkarni.
It seems you have .Net Framework 4.6 installed on your machine.

The update to .Net Framework 4.6.1 should be available through Windows Update.  Here is a KB article about the update and the ways to install it: https://support.microsoft.com/en-us/help/3102467/the-net-framework-4-6-1-for-windows-server-2012-r2-on-windows-update

[2018-07-11 16:41] #8048 closed

[2018-07-11 16:42] mkArtakMSFT commented on #8044
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-11 16:42] #8044 closed

[2018-07-11 16:43] mkArtakMSFT commented on #8043
Thanks @WinthorpeCross.
@dougbu, can you please look into this? Thanks!

[2018-07-11 16:45] mkArtakMSFT commented on #8032
This issue was moved to dotnet/corefx#30993

[2018-07-11 16:45] #8032 closed

[2018-07-11 16:54] mkArtakMSFT commented on #7992
@dougbu, is there a workaround available? I'm thinking about taking this into a patch for 2.1 too.

[2018-07-11 17:14] dougbu commented on #7992
@mkArtakMSFT this is now my most urgent concern, correct?

[2018-07-11 18:37] Eilon opened #8054 "Binding of Sub-Collection to inputs not rendering properly thus ModelBinder fails to bind"
_From @Ciwan1859 on May 23, 2018 15:24_

I am working in .NET Core version 2.0.5.

I have a ViewModel that looks like this:

[code]

I wish to create a new purchase order, here is what my Create looks like in the controller:

[code]

Finally, my Razor View EditorTemplate for `PurchaseOrderViewModel.cshtml` looks like this:

[code]

And the partial view looks like this:

[code]

When this renders,

[2018-07-11 18:46] dougbu commented on #7992
@benjcallaghan please open a separate issue about XML formatting. That does not appear related and may occur whenever the response is an `IDictionary<string, string>` that contains an empty key. Problem may also be specific to the XML serializer you're using.

[2018-07-11 19:14] benjcallaghan opened #8055 "InvalidOperationException when returning ModelState in XML format"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/benjcallaghan/TestModelErrors

#### Description of the problem:
I have a Web API controller with an action that takes a large collection of items through the request body. I have automatic 400 responses enabled, which returns the ModelState as the body

[2018-07-11 20:59] mkArtakMSFT commented on #7992
https://github.com/aspnet/Mvc/issues/8055

[2018-07-11 22:16] pranavkm commented on #7983
Verified that the issue reported in https://github.com/aspnet/Home/issues/3132 is addressed as part of Sdk version 2.1.401. We can avoid taking a patch fix for this for now.

[2018-07-11 22:32] dougbu commented on #8055
@benjcallaghan looking a bit at the code, I suspect the problem is here: https://github.com/aspnet/Mvc/blob/a6987cc1cde88663e16430db9b4ebc1372b2c4f9/src/Microsoft.AspNetCore.Mvc.Formatters.Xml/SerializableErrorWrapper.cs#L82-L84

That attempts to create an element named after a key from the dictionary. (The class is elided from your stack trace because you're using Release bits.)

If I'm correct,

[2018-07-12 02:16] dougbu commented on #8043
I narrowed the problem down to the following line in your `ModelBindFaultSample\ModelBindFaultSample\Views\Shared\Components\Pager\Default.cshtml` file:
[code]
Since `request.Query[key]` is of type `StringValues`, converting it to a `string` here leads to problems.

The following fixes the issue:
[code]

More generally, your actions should check `ModelState.IsValid` before generating a view based

[2018-07-12 10:17] WinthorpeCross commented on #8043
Thank you very much @dougbu for investigating and for getting to the bottom of this.

It was only yesterday, when I was preparing the sample, that I realised that my Pager code could be causing the issue here.  Even then I could not quite put my finger on my faulty code.  Thank you for identifying the issue, and for going one step further and suggesting the fix.

I have implemented the changes you

[2018-07-12 15:08] flatproject opened #8059 "Editing a view while debugging it in Razor UI library doesn't refresh browser output."
#### Is this a Bug or Feature request?:
Not sure, it might be a Bug or I simply might need some guidance which I cannot find anywhere else.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a new Razor UI class, add some views. Link the library to your main project, run the project, try to edit the razor view code in the shared library, refresh page on brow

[2018-07-12 16:12] pranavkm commented on #8059
Dup of https://github.com/aspnet/Razor/issues/2426.

[2018-07-12 16:12] #8059 closed

[2018-07-12 16:34] Eilon opened #8060 "Is there a way to add a default page convention that looks at the folder name"
_From @JohnGoldsmith on July 12, 2018 13:25_

Hi,

Is there a way to add a routing convention for Razor Pages that allows you to use the parent folder name as a default route?

For example, if I have `Pages/Products`, folder structure I'd prefer to have a default page named `Products.cshtml` and for `Pages/Services`, `Services.cshtml` (as opposed to having to use `Index.cshtml` in both cases).

Th

[2018-07-12 16:37] mkArtakMSFT commented on #8060
Thanks for contacting us, @JohnGoldsmith.
@kichalla, can you please answer the above question?

[2018-07-12 16:54] mkArtakMSFT commented on #8054
Hi @Ciwan1859.
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2018-07-12 16:58] mkArtakMSFT commented on #8043
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-12 16:58] #8043 closed

[2018-07-12 17:04] mkArtakMSFT commented on #8037
Hi @Whathecode. Yeah, a repro would help here.

[2018-07-12 18:27] fspataro opened #8061 "Cannot implicitly convert type 'System.Collections.Generic.IEnumerable<T>' to 'Microsoft.AspNetCore.Mvc.ActionResult<System.Collections.Generic.IEnumerable<T>>"
Hi

I'm not sure if this is a bug or expected functionality.  It's easy enough to code around, so it's more of a question about why it works this way... If it's expected functionality, it might be worthwhile to add a note about this type of conversion in the [documentation](https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types?view=aspnetcore-2.1#actionresultt-type).

To reprodu

[2018-07-12 18:32] pranavkm commented on #8061
Dup of https://github.com/aspnet/Home/issues/3224, https://github.com/aspnet/Mvc/issues/7981. It's an language limitation that we cannot do much about. Doing a `ToList` would be the way to go

[2018-07-12 18:36] fspataro commented on #8061
Thanks @pranavkm! I suspected it was something along those lines and was more curious than anything and my google didn't catch that issue item on the first page ;)

Closing.

[2018-07-12 18:36] #8061 closed

[2018-07-12 18:44] dougbu commented on #7968
Reassigning because we're taking @pranavkm's fix (#8049)

[2018-07-12 18:56] dougbu commented on #8055
@mkArtakMSFT should I fix this in 2.1.0 Preview 1 and what is the issue's priority?

[2018-07-12 19:47] pranavkm commented on #7968
Fixed in https://github.com/aspnet/Mvc/commit/174c5eaa6c8370a4d3c4ba898aee9e7a5904720c

[2018-07-12 19:47] #7968 closed

[2018-07-12 20:13] pranavkm commented on #6046
@rynowak \ @JamesNK  does the dispatcher work address this?

[2018-07-12 20:52] JamesNK commented on #6046
Not currently. `IEndpointConstraint` is currently exactly the same as `IActionConstraint`, but there are plans in motion to integrate it more closely with pattern matching rather than as a secondary step.

What are your thoughts on this @rynowak?

[2018-07-12 20:57] pranavkm commented on #8060
Here's the part that calculates routes for "Index.cshtml" Razor pages - https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.RazorPages/Internal/PageRouteModelFactory.cs#L67-L79. You could do something similar looking at the path in a route model convention. Alternatively, you could define absolute routes for your page e.g. `@page /Products` to avoid having to write a conven

[2018-07-12 21:07] pranavkm opened #8066 "Consider supporting unwrapping some expressions such as Task.FromResult in analyzer"
Consider a code block like so:

[code]

Currently the analyzer does not unwrap the `Task.FromResult` expression and would instead treat it as if it were a model instance being returned. We could consider unwrapping some common expressions like this

[2018-07-12 22:16] Whathecode commented on #8037
As I said, no time time, and looking at code directly might be faster.

I.e., I wouldn't be surprised if [line 214 of PartialTagHelper.cs in `RenderPartialViewAsync`](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.TagHelpers/PartialTagHelper.cs) is the culprit.

[code]

That is an obvious difference between `model` and `for` which might lead (I'm not familiar with `Htm

[2018-07-12 22:29] ryanbrandenburg commented on #7887
Correct me if I'm wrong but the following are your problems:
1. Factory.Create is called multiple times for the same type.
2. You are concerned that re-using localizers causes additional caching concerns, specifically across requests which might have different languages.

My thoughts are as follows:
1. It is true that Factory.Create is called multiple times, but this needn't be a concern. The "def

[2018-07-12 22:36] HaoK commented on #7809
Fixed via https://github.com/aspnet/Mvc/pull/8068

[2018-07-12 22:36] #7809 closed

[2018-07-13 06:17] dougbu commented on #7963
Taking this one because #8062 PR will address this bug (as well as #7992).

[2018-07-13 07:37] hdkesting opened #8074 "CLSCompliant attribute for ASP.Net Core views"
I am not quite sure whether this is a Bug or a Feature request.
I already have a question about this issue on [StackOverflow](https://stackoverflow.com/questions/51082036/clscompliant-attribute-for-asp-net-core-views), but got no answers.

In short:
* I have an ASP.Net Core MVC project (v2.1) project with CodeAnalysis Analyzer
* This gives a build warning: "warning CA1014: Mark assemblies with CLS

[2018-07-13 08:44] JohnGoldsmith commented on #8060
That's great.  Thanks very much @pranavkm

I've gone for the directive approach for the time being, as it seems to be the lightest touch and I'm not dealing with lots of pages.

For anyone else who (like me) wants more details on @page directive you can find it over here:
[](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio#custom-routes)

Thanks agai

[2018-07-13 14:13] #8060 closed

[2018-07-13 14:15] pranavkm commented on #8074
You can use the [`RazorCompile` itemgroup](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1#properties) to compile arbitrary files in to your Razor views assembly. Something along the lines of

[code]

[2018-07-13 14:20] hdkesting commented on #8074
I had to use "Properties/AssemblyInfo.cs", but that worked!

[2018-07-13 14:20] #8074 closed

[2018-07-13 17:54] mkArtakMSFT commented on #8055
Thanks @dougbu. Please assign cost also.

[2018-07-13 18:02] pranavkm commented on #8029
I have no idea what that method does, but you should consider using `IHttpClientFactory`. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1 has more details

Killing the client aborts the request just fine:

[code]

From your logs, it looks like the request finished prior to the client cancelling.

[2018-07-13 18:39] Eilon opened #8076 "Http Post not recognized on Linux (ASP .NET Core 2.0)"
_From @Tratcher on June 5, 2018 2:14_

_From @rezvanf on June 4, 2018 20:46_

The below is my class and web method signature (note all these web methods work perfectly on Windows 👍 )

[code]

[code]

[code]

[code]
[code]
[code]
[code]

[code]

[code]

[code]

[code]
[code]

[code]

When I do a post on the API with the following

http://servername/api/test

I get a 404

When I include the followin

[2018-07-13 19:04] JohnGalt1717 opened #8077 "HttpDelete passed array by route or query doesn't parse properly"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Add an api endpoint like so:

        [HttpDelete("DeleteByIds/{id}")]
        public virtual async Task<ActionResult> DeleteByIds([FromRoute] int[] id)

id will always be empty

Also
        [HttpDelete("DeleteById")]
        public virtual async Task<ActionResult> Delet

[2018-07-13 19:50] dougbu opened #8078 "Name collisions can remove `ModelValidationState.Invalid` from entries"
#### Is this a Bug or Feature request?:
bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/dougbu/NameCollisionLoseInvalid

#### Description of the problem:
When name collisions occur between model bound parameters and properties, later validation may overwrite `ModelValidationState.Invalid` entries. This requires
- A name collision e.g. `[Fr

[2018-07-13 19:55] natemcmaster opened #8079 "Remove Roslyn types from the API surface of ASP.NET Core 3.0, deprecate the APIs in 2.2"
We’re planning on building reference assemblies for ASP.NET Core 3.0 and putting them in a targeting pack. We would like to be able to remove Roslyn's types from the API surface of Razor/Mvc so we do not need to put a Roslyn ref assembly in the aspnet targeting pack.

Proposed changes:

* In 2.2, obsolete APIs which use roslyn types and provide a replacement which does not use Microsoft.CodeAnalys

[2018-07-13 20:00] rynowak commented on #8079
Along with this we should `[Obsolete]` the `CompilationCallback` feature. We have no equivalent of this feature for build-time Razor and doesn't intend to keep it around forever.

[2018-07-13 20:22] dougbu commented on #7992
f2608c2ff4

[2018-07-13 20:22] #7992 closed

[2018-07-13 20:22] dougbu commented on #7963
f2608c2ff4

[2018-07-13 20:22] #7963 closed

[2018-07-13 22:37] jonasarcangel opened #8082 "Getting multiple Antiforgery tokens in the cookie."
#### Is this a Bug or Feature request?:
Bug.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
I use JWT Tokens authentication and have the following code in my Startup.cs.

[code]
#### Description of the problem:
I am getting 2 antiforgery tokens in my cookie: "XSRF-TOKEN", and  ".AspNetCore.Antiforgery.OnvOIX6Mzn8", with different values. It may be the reason (t

[2018-07-13 22:55] lucacelenza opened #8083 "Cannot render correctly DisplayFor interface ViewModel"
#### Is this a Bug or Feature request?
Bug **`Microsoft.AspNetCore.All` v2.0.8**

#### Description of the problem:
I'm currently working on a simple project to get the grasp of the new ASP.NET framework. I have a ViewModel which has an interface property. Actually, this is a thing I often come across whenever laying out ViewModels for any of my projects.

Let's suppose I have this situation:

[cod

[2018-07-13 23:44] pranavkm commented on #7896
Initial work done as part of https://github.com/aspnet/Mvc/commit/46189abda74fe5b5892a2bb5c660297701bc1410.

[2018-07-13 23:44] #7896 closed

[2018-07-14 07:47] ColorTwist commented on #8029
I implemented IHttpClientFactory, very nice. thank you for sharing.

[2018-07-14 07:47] #8029 closed

[2018-07-14 15:49] davidfowl commented on #8029
Aborts may be slightly broken when behind IIS

[2018-07-14 15:53] ColorTwist commented on #8029
Yes, behind IIS 10 .. Question is, should it work with IIS 10 or not...

[2018-07-14 23:28] seriouz opened #8084 "dll with RazorPages lead to FileNotFound exception"
#### Is this a Bug or Feature request?:
Its a bug:

I have a dll with Razor views and RazorPages. This dll gets loaded as plugin on Startup() via `ApplicationPartManager.ApplicationParts.Add(new CompiledRazorAssemblyPart(assembly));` on my main ASPNET.Core application.
When i access the normal views they get displayed. But the RazorPages lead to

[code]

I am using **2.1.301**

Edit: The RazorPage

[2018-07-15 03:02] dougbu commented on #7660
35fad0881b

[2018-07-15 03:02] #7660 closed

[2018-07-15 06:12] dougbu commented on #6161
@mkArtakMSFT pushing this to 3.0 and removing my assignment based on @rynowak's month-old comment:

[2018-07-15 18:36] DinoSourcesRex commented on #5513
@Eilon Sorry to dig up an old thread Eilon but is it possible to get partially-created models when using `FromBody`? I can't seem to find anything on the topic.

[2018-07-15 19:37] dougbu commented on #5513
@DinoSourcesRex as @Eilon said, you won't get partially-created models when using `[FromBody]`. If that's possible at all, it would require re-configuring Json.NET somehow.

/cc @JamesNK is there a way to get Json.NET to continue after hitting e.g. a formatting error for a single property?

FYI the `JsonInputFormatter` only sets the returned model when de-serialization was successful. But, when I'

[2018-07-15 19:39] DinoSourcesRex commented on #5513
@dougbu He said you will not get partially-created models by default, hence my question. I appreciate the quick response!

[2018-07-15 19:49] dougbu commented on #8035
Thanks to @kishanAnem for PR #8087. He's well on the way to fixing this issue.

[2018-07-15 21:43] JamesNK commented on #5513
No. If JSON is invalid there is no automatic way that Json.NET could figure out what you actually meant and get back in the correct state.

[2018-07-15 22:21] dougbu commented on #5513
@DinoSourcesRex given that, my only suggestion would be binding to an intermediate model that contains only `string` properties. Then, use `realType.TryParse(...)` to manually set the real model.

[2018-07-15 22:22] DinoSourcesRex commented on #5513
@dougbu It's all good, I'll just return a 500. I was just curious if there was a way around it or not as I knew you could get partials without using `FromBody`. Appreciated!

[2018-07-15 22:28] sgwatgit opened #8089 "Customizing Route template token replacement without IApplicationModelProvider"
#### Is this a Bug or Feature request?:

Feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Creating a `IApplicationModelProvider` that inherits from `DefaultApplicationModelProvider` in order to customize the token replacement in `RouteAttribute` templates.

[code]
Register in `Startup.cs`
[code]

#### Description of the problem:

When using the `

[2018-07-16 03:02] kishanAnem commented on #8035
@dougbu welcome. 😀. I'm glad to work with you.

[2018-07-16 10:08] netnr opened #8090 "HttpContext.SignInAsync Authentication"
domain.com
www.domain.com
a.domain.com

**www.domain.com site**

**Startup.cs**
[code]

**write Authentication**
[code]

**www.domain.com site**
[code]
**a.domain.com site**
[code]

The WWW site can authorize authentication (write the site of the authorization information), while the B site can not authorize authentication (to get cookies). Why?

www站点能授权认证（写入授权信息的站点），而b站点不能授权认证（能获取cookies），为什么

[2018-07-16 11:51] nenadvicentic opened #8092 "BodyModelBinder does not respect ModelMetadata.ConvertEmptyStringToNull property"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
(general case, see description bellow)

#### Description of the problem:
If JSON with empty string value is sent to the server, for example:
[code]
`BodyModelBinder` will not respect `ModelMetadata.ConvertEmptyStringToNull` property, which is by default `true` and it fill

[2018-07-16 11:57] Whathecode commented on #8037
Thank you for the update. I can understand how this could be considered by design.

But, to emphasize: I am talking about a difference between using the `model` and `for` attribute of the `PartialTagHelper` here, and not `Html.Partial` vs the tag helper as you indicate.

Either way, I guess this is then merely an indication some additional documentation on this feature is needed. Thank you for qui

[2018-07-16 14:03] BackDoorMan00 opened #8093 "Use IApiDescriptionGroupCollectionProvider in external application"
I want to achieve something similar to `IDesignTimeDbContextFactory<TContext>` but use `IApiDescriptionGroupCollectionProvider` in an external console application. Is this hard to accomplish?

I use `IApiDescriptionGroupCollectionProvider` for client generation and it currently runs every time I run the server (in `Program.Main`) which in my opinion is bad. I would like to create a separate tool f

[2018-07-16 15:02] NetTecture opened #8094 "Documentation? How to use WebApplicationFactory without CreateClient?"
2.1.0 current version.

I am writing integration tests and for the simple reason of "this is how a framework we use is desigend" that I can not change, I can not use the CreateClient method.

I need to have a URL that I pass into the framework so it can create it's own HttpClients. The WebFactory itself also has no property that can be used to create a valid URL.

Simple as it is - how do I create

[2018-07-16 15:36] Eilon opened #8095 "Controllers declared in class library, returning 404 with AWS Lambda C#2.1"
_From @thammadi on July 15, 2018 3:41_

I created an AWS Serverless solution with a Web API and Class Library projects (2.1.0). Class Library is referenced by the Web API project.

Controller in Web API:
[code]
References: Microsoft.AspNetCore.App (2.1.0) and Microsoft.NETCore.App (2.1.0)
Compatability version set in Startup.cs:
[code]

Controller in Class Library:
[code]
References: Microsoft.Asp

[2018-07-16 15:36] Eilon commented on #8095
@thammadi - would it be possible for you to upload a repro app to GitHub so that we can take a look?

[2018-07-16 16:29] mkArtakMSFT commented on #8082
Thanks for contacting us, @jonasarcangel.
@javiercn can you please look into this? Thanks!
/cc @Tratcher

[2018-07-16 16:30] mkArtakMSFT commented on #8083
Thanks for contacting us, @lucacelenza.
@NTaylorMullen, can you please look into this? Thanks!

[2018-07-16 16:43] mkArtakMSFT commented on #8094
Thanks for contacting us, @NetTecture.
@javiercn, can you please look into this?

[2018-07-16 16:45] mkArtakMSFT commented on #8093
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-07-16 16:45] mkArtakMSFT commented on #8093
@pranavkm FYI

[2018-07-16 16:47] mkArtakMSFT commented on #8092
Thanks for contacting us, @nenadvicentic.
@dougbu, can you please look into this? Thanks

[2018-07-16 16:51] mkArtakMSFT commented on #8090
This issue was moved to aspnet/Security#1820

[2018-07-16 16:51] #8090 closed

[2018-07-16 16:54] mkArtakMSFT commented on #8089
Thanks for contacting us, @sgwatgit.
@pranavkm, do we have a mechanism to achieve this today?

[2018-07-16 17:00] mkArtakMSFT commented on #8084
Thanks for contacting us, @seriouz.We will need a repro project to investigate this. Can you please share it as a repo in GitHub?
/cc @pranavkm, can you please look into this when a repro will be provided?

[2018-07-16 17:05] seriouz commented on #8084
Sure, i'll upload a sample project!

[2018-07-16 18:15] mkArtakMSFT commented on #8077
Thanks for contacting us, @JohnGalt1717.
@dougbu, can you please look into this? Thanks!

[2018-07-16 18:18] mkArtakMSFT commented on #8078
@dougbu, looks like you've already fixed this. If so, feel free to mark this as done. Thanks!

[2018-07-16 18:21] mkArtakMSFT commented on #8076
Thanks for contacting us, @rezvanf.
@kichalla, can you please look into this? Thanks!

[2018-07-16 18:24] #7675 closed

[2018-07-16 18:24] pranavkm commented on #7675
Fixed in https://github.com/aspnet/Mvc/commit/b62499e02c274db162151556318b0a5fae85360e

[2018-07-16 18:28] mkArtakMSFT opened #8096 "Deprecate APIs exposing Roslyn types"
See https://github.com/aspnet/Mvc/issues/8079 for details.

This issue covers the part in 2.2 milestone to mark the APIs as `Obsolete`.

[2018-07-16 20:19] pekspro opened #8097 "[Feature request] InputTagHelper should add the maxlength attribute when possible"
Let’s say I have a property in model with maximum string length is specified, like this:

        [Required, StringLength(100)]
        public string Name { get; set; }

Then on my razor page I have this:

        <input asp-for="Customer.Name" />

Which is then rendered like this:

        <input name="Customer.Name"
                id="Customer_Name"
                type="text"
                v

[2018-07-16 20:38] mkArtakMSFT commented on #8079
Moved the API deprecation part to a separate issue.

[2018-07-16 21:12] dougbu commented on #8078
@mkArtakMSFT I didn't fix this -- yet. I found the problem while fixing #7963 and #7992.

[2018-07-16 21:21] dougbu commented on #8092
@nenadvicentic thank you for your feedback. We're closing this issue as the behaviour discussed is by design.

The `BodyModelBinder` marks a transition from model binding (where `ConvertEmptyStringToNull` matters) to input formatting (where the setting is ignored). In this case, input conversions are the responsibility of the serializer and that's a `JsonSerializer`. Json.NET has no similar settin

[2018-07-16 21:21] #8092 closed

[2018-07-16 21:31] mkArtakMSFT commented on #8084
Hi @seriouz.

After another review of this ask it seems this is more related to the way module management is organized in your app. At this point, our guidance is to look at a module system such as the one Orchard Core provides. Orchard Core modules allow you to build modules as NuGet packages that can be added to your application on the fly. And you can use them as a low level framework without a

[2018-07-16 21:52] dougbu commented on #8077
@JohnGalt1717 thank you for your feedback. We're closing this issue as the behaviour discussed is by design.

Route values may only be atomic values and collections or complex types are not supported. A good indication of this is the list of available route constraints: https://github.com/aspnet/Routing/tree/release/2.2/src/Microsoft.AspNetCore.Routing/Constraints

Separately, the Delete method is

[2018-07-16 21:52] #8077 closed

[2018-07-16 21:53] NTaylorMullen commented on #8097
@dougbu this seems reasonable. Is there a reason why we didn't do this in the past?

[2018-07-16 22:02] dougbu commented on #8097
@NTaylorMullen this probably wasn't done because it felt redundant w.r.t. the client-side validations.

It's also possible that the experience when the user types the 101st character would degrade. I'm not sure what browsers tend to do when an `<input/>` element's limit is reached. By "degrade", I mean an error might result in a pop-up or message somewhere other than the generated locations.

[2018-07-16 22:13] JohnGalt1717 commented on #8077
Reasons you should strongly reconsider:

1.  You're breaking compatibility with asp.nwt web api for no reason causing major bugs and requiring rewrites of client code for all of those people you're encouraging to Port their code.

2. The http standard doesn't say that this is not allowed nor wrong.

3. I checked 15 other rest frameworks. They all support this.

4.  You're forcing people to write e

[2018-07-16 23:01] nenadvicentic commented on #8092
@dougbu `BodyModelBinder` is used for the exactly same scenario as default form binder. That is - to send user input data to the server, where it should be validated. It is just that `BodyModelBinder` is suited better for single page applications and JSON format.

Now we have situation that changing of input format (JSON vs form-data) affects behavior of input model validation. I don't understand

[2018-07-16 23:11] dougbu commented on #8092
@nenadvicentic to be clear: Input formatting in legacy ASP.NET was almost completely separate from model binding. We integrated them to some extent in ASP.NET Core. But, the controlling settings remain completely separate.

[2018-07-16 23:13] NTaylorMullen commented on #8083
Hi @lucacelenza, first off I want to say that your repro was fantastic! Very simple, easy to reproduce and informative; thank you!

So in regards to this issue it's actually by design. When moving to Core we found that in legacy ASP.NET we had a bad habit of oversharing (using view model templates that were unintended). To combat this we removed that capability and required users to be explicit in

[2018-07-16 23:13] #8083 closed

[2018-07-16 23:30] pranavkm commented on #7993
This is less important now that the diagnostic to verify if there are documented status code not appearing in code is not enabled by default. Closing and we can address this if there's user feedback on how this needs to work.

[2018-07-16 23:30] #7993 closed

[2018-07-17 07:44] nenadvicentic commented on #8092
@dougbu OK, I get it. It's completely different deserialization code path.

I just think you should have at least provided same defaults for both formats, since use case is most of the times identical (send input data to server, bind it to the model and validate).

I managed to find relatively simple workaround, after looking a bit more through JSON.NET source code:

[code]
And register it globall

[2018-07-17 08:34] justserega commented on #5335
@rynowak  It is reasonable, but why documentation don't cover this very important thing

[2018-07-17 11:38] MaciejWierzchowski commented on #7238
I've tried something like this, but it always fails on this (cannot resolve the service):

` var executor = context.RequestServices.GetService<IActionResultExecutor<TResult>>();`

I've tried resolving `ObjectResultExecutor` and same thing. Any idea? I can see the `ObjectResultExecutor` being registered in services after the call to `.AddMvc()`.

[2018-07-17 13:12] tiandian opened #8101 "How to get the root url before the request?"
#### Is this a Bug or Feature request?:
Feature request

In asp.net mvc, we can get the root ur from HttpRuntime.AppDomainAppVirtualPath.

But in asp.net core, there is no HttpRuntime.AppDomainAppVirtualPath, so we can't get the website's root url before the request is start, this is very inconvenience,

I see someone open a issue here: https://github.com/aspnet/dnx/issues/13, but it is not resolv

[2018-07-17 14:47] pranavkm commented on #8093
It's expected that you get an instance of `IApiDescriptionGroupCollectionProvider` and query it every time. It has versioning associated with it and may produce different results. Have a look at NSwag's swagger generation - https://github.com/RSuter/NSwag/wiki/AspNetCoreToSwaggerGenerator - that produces a OpenAPI 2.0 document from an `IApiDescriptionGroupCollectionProvider`

[2018-07-17 14:47] #8093 closed

[2018-07-17 16:26] javiercn commented on #8094
Thanks for reaching out.

@NetTecture Can you provide more details on what you are trying to do? I’m not sure I understand.

[2018-07-17 16:32] pranavkm commented on #5335
@justserega we'd be happy to accept a doc update for the API and possibly the model binding doc article - https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-2.1#how-model-binding-works

[2018-07-17 16:33] pranavkm commented on #8101
cc @Tratcher

[2018-07-17 16:36] ryanbrandenburg commented on #7887
I'm going to close this issue as `by design`, if you still have problems feel free to re-open with more details.

[2018-07-17 16:36] #7887 closed

[2018-07-17 16:41] Tratcher commented on #8101
It's not possible. You need to read this information directly from config. The server does not read the endpoint configuration until it's ready to start the application (after Startup). Even then, that information would be inaccurate much of the time due to reverse proxy setups like IIS, Nginx, docker, etc..

Why do you need the value outside of the context of a request?

[2018-07-17 16:55] mkArtakMSFT commented on #8097
Browsers just do not allow typing in more than the limit. I like this idea and am preparing a PR to handle this.

[2018-07-17 17:31] sgwatgit commented on #8089
Ah, thanks for the direction - I looked through that documentation but I don't think the connection clicked for me at the time.

Would I need to apply the attribute implementing `IControllerModelConvention` to all controllers explicitly / via a "BaseController"?
Can it be applied automatically in some way?

[2018-07-17 17:40] pranavkm commented on #8089
You could apply a convention as part of the start up - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model?view=aspnetcore-2.1#sample-modifying-the-applicationmodel

[2018-07-17 18:14] khellang commented on #7238
What is `TResult`?

[2018-07-17 19:23] MaciejWierzchowski commented on #7238
Well, in this case a class that derives from `BadRequestObjectResult`.
But as I said- I've also tried resolving `ObjectResultExecutor` directly (to remove the possibility of generic messing with the DI cointainer) and I get the same error. I've also tried to inject the `ObjectResultExecutor` to middleware via constructor or via method injection- same error (a bit different variants, but it get's d

[2018-07-17 19:30] khellang commented on #7238
The services are registered as their `IActionResultExecutor<T>` implementation here:

https://github.com/aspnet/Mvc/blob/f12f9b46ed5cc848a36db1fa9933c35b3eb60351/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L245-L255

So resolving `ObjectResultExecutor` won't help.

If the type derives from `BadRequestObjectResult`, you won't get a match, since `TResu

[2018-07-17 20:35] sgwatgit commented on #8089
Thanks for the help - I think I can get it working from here.

[2018-07-17 20:35] #8089 closed

[2018-07-18 01:34] tiandian commented on #8101
@Tratcher
`It's not possible. `
But the old asp.net MVC can do this by HttpRuntime.AppDomainAppVirtualPath, I just need the HttpRuntime.AppDomainAppVirtualPath's value,  why asp.net core mvc can't give this value?

`You need to read this information directly from config`
No, the config is not right,
because the root url can be changed by pass --server.urls "http://*:8000" or  ASPNETCORE_URLS=http:

[2018-07-18 01:59] Tratcher commented on #8101
The architecture is completely different. The old MVC never started your app until the first request had been received so it had that information available.

What you're trying to do can't be done in Startup, but it can be done in Main.
[code]

[2018-07-18 02:56] thammadi commented on #8095
@Eilon - Below is the sample solution.
[AWSServerlessApp.zip](https://github.com/aspnet/Mvc/files/2204175/AWSServerlessApp.zip)

Call to '/api/classes' responds as expected behind IIS, but doesn't when deployed to AWS Lambda (C# .NET 2.1 runtime) hooked up with AWS API Gateway.

[2018-07-18 06:08] wjkhappy14 opened #8106 "build error 2.2.0-preview1-17099"
#### Is this a Bug or Feature request?:

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Security warning
Run only scripts that you trust. While scripts from the internet can be useful, this script can potentially harm your
computer. If you trust this script, use the Unblock-File cmdlet to allow the script to run without this warning
message. Do you want to run

[2018-07-18 06:14] MaciejWierzchowski commented on #7238
Doh, now when you said it, it's so obvious. Thanks, got it working.

[2018-07-18 07:05] yoru-san opened #8107 "routecontext taghelper"
#### Is this a Bug or Feature request?:

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:

[2018-07-18 07:36] khellang commented on #7238
Yes, that's because the registration is for `IActionResultExecutor<ObjectResult>`. All types that derive from `ObjectResult` should  use that 😊

[2018-07-18 09:05] tiandian commented on #8101
@Tratcher,  the above code is very useful, thanks.

[2018-07-18 09:05] #8101 closed

[2018-07-18 13:29] JohnGalt1717 opened #8109 "options.OutputFormatters.Add(new XmlResponseOutputFormatter()) Reports supported content type but doesn't work"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
`

                        var builder = services.AddMvcCore(options =>
			{
				options.OutputFormatters.Clear();
				options.InputFormatters.Clear();

				options.RespectBrowserAcceptHeader = true;
				options.ReturnHttpNotAcceptable = true;

				options.InputFormatters

[2018-07-18 16:55] pranavkm commented on #8106
https://4sysops.com/archives/powershell-bypass-executionpolicy-to-run-downloaded-scripts/ has some suggestions on how to fix this.

FYI @natemcmaster

[2018-07-18 16:55] #8106 closed

[2018-07-18 17:05] Eilon opened #8110 "How To Bind Model Value From Body by Custom Binder"
_From @Edward-Zhou on July 18, 2018 9:33_

I am trying this document [Custom Model Binding in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.1), I could get the model value when passing by `Query String`.
But, I want to bind the model to Request Body, how could I fetch value from Request body when I sending request with `application/j

[2018-07-18 19:13] abatishchev opened #8111 "Is it possible to combine [FromRoute] and [FromBody] in ASP.NET Core?"
#### Is this a Bug or Feature request?:

Question.

#### Description of the problem:

I asked this question on [Stack Overflow](https://stackoverflow.com/questions/51316269/is-it-possible-to-combine-fromroute-and-frombody-in-asp-net-core). It got a number of upvotes so people are interested. But the only one answer is very specific, not generic enough. And that's what I'm looking for.

I have an a

[2018-07-18 19:14] abatishchev commented on #8111
/cc @dougbu who advised me last time in #7955 . Thanks!

[2018-07-18 20:17] pranavkm commented on #8095
Thanks for the app @thammadi. Explicitly adding the library as an application part in your startup should address the issue:

[code]

**Background**:

By default, MVC looks at an application's deps file to determine what assemblies may contain controllers. The assumption is that only things that reference MVC, either directly or transitively, would contain controllers. The shared runtime poses som

[2018-07-18 22:07] thammadi commented on #8095
@pranavkm - That explains very well. Thank you. Adding the class library as application part solves the issue. I'll raise this with AWS Lambda team.

Thanks for your time looking into this!

[2018-07-18 22:08] mkArtakMSFT commented on #8110
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-07-18 22:08] mkArtakMSFT commented on #8110
/cc @dougbu

[2018-07-18 22:10] mkArtakMSFT commented on #8107
Closing this issue as there is no content / data provided

[2018-07-18 22:10] #8107 closed

[2018-07-18 22:11] #8095 closed

[2018-07-18 22:16] mkArtakMSFT commented on #8054
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-18 22:16] #8054 closed

[2018-07-18 22:49] abatishchev commented on #8111
The answer on SO instantiates specific type and then sets properties on it. And what I was looking for is a more generic approach.

[2018-07-18 23:31] abatishchev commented on #8111
Oh, I see what you're asking. It doesn't work, some properties are null. Let me try to create a small repro repo. This way I'll see whether it's my fault or the framework's limitation indeed.

[2018-07-19 01:13] Edward-Zhou commented on #8110
Before asking in `StackOverflow`, I am wondering whether my requirement is possible. I already researched in StackOverflow, but did not find any related information about this.

[2018-07-19 01:31] dougbu commented on #8111
@abatishchev it sounds as if you're main issue is with the `[FromRoute] public RequestInfo RequestInfo` property. Is that correct? Put another way, your issue is not with combining different &#220;ber-binding options in your model?

If so, we need more information about the route template and request URL to understand why `RequestInfo` properties are `null`.

[2018-07-19 01:49] abatishchev commented on #8111
Oh, sorry for confusing questions/answers.

Here's my sample code:

[code]

When I make this request:

[code]

I'm getting this response with `[ApiController]` enabled:

[code]

And this response when it's not:

[code]

[2018-07-19 01:56] dougbu commented on #8110
@Edward-Zhou one option is to write `CustomModelBinder` as a wrapper around the existing `BodyModelBinder`. The wrapper could change property values, map the returned model to something different, et cetera. (A few of the built-in binders e.g. [`CollectionModelBinder`](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/CollectionModelBinder.cs) an

[2018-07-19 05:13] normj commented on #8095
From the AWS team who wrote this tool.

The reason I set `PreserveCompilationContext` to **false** was the ref folder would bloat the package bundle and package bundle size is critical to Lambda cold start performance. I assumed the refs folder wouldn't be needed since the views were precompiled. Is there any other work around that doesn't involve the whole refs folder being created?

[2018-07-19 13:29] amirhmi opened #8115 "How to Bind a model from Request Parameters manually inside an action?"
I have a General Action that is called for different purposes and will do some common acts and then call the proper specific method to do additional acts that are necessary for each purpose. Each of these methods has its own parameter list(like any normal asp action) and I want to reuse the ASP binding system in my general action to create instance of these parameters and pass them to the method.

[2018-07-19 13:49] Robar666 opened #8116 "How does binding source parameter inference work?"
#### Is this a Bug or Feature request?:
Question, I've also created a [SO question](https://stackoverflow.com/questions/51423340/binding-source-parameter-inference-in-asp-net-core).

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
* Create ApiController (see code below)
* Make an Ajax request (I used Postman)
  * URL: http://localhost:5000/account/backendLogin

[2018-07-19 16:11] pranavkm commented on #8115
Have you tried [`TryUpdateModel`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.tryupdatemodelasync?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_ControllerBase_TryUpdateModelAsync__1___0_)?

[2018-07-19 16:21] pranavkm commented on #8116
`ApiController` is designed for REST-client specific scenarios and isn't designed towards browser based (form-urlencoded) requests. `FromBody` assumes JSON \ XML request bodies and it'll attempt to serialize it, which is not what you want with form url encoded content. Using a vanilla (non-ApiController) would be the way to go here.

It does mean when the property is set to `true` \ when the featu

[2018-07-19 17:45] javiercn commented on #8021
@Tealons I've been on vacation. I'm still looking into this.

[2018-07-19 20:00] Tealons commented on #8021
@javiercn No problem! I'm already happy that you are willing to help me.

[2018-07-20 05:10] dougbu commented on #8111
That's expected because `[ApiController]` has an associated behaviour which effectively adds `[FromBody]` to any complex type parameter that's otherwise unmarked. We might need to think more about checking properties of that complex type. In the meantime,
1. set the `ApiBehaviorOptions.SuppressInferBindingSourcesForParameters` property to `true`
2. add an `Attribute` implementing `IBindingSourceMe

[2018-07-20 07:19] Robar666 commented on #8116
Thank you for the explanation.
I will go for the vanilla controller for now and maybe later change the client calls for JSON bodies.

[2018-07-20 09:06] dudedev opened #8121 "MSB4018 The “GenerateEmbeddedResourcesManifest” task failed unexpectedly"
#### Description of the problem:
I am trying to add localization to my web app(using Aspnetcore 2.1.1 and Razor pages). However, the moment I add more than one .resx file, it fails to compile with following error.

[code]

#### Version of `Microsoft.Extensions.FileProviders.Embedded`: 2.1.1 and `Microsoft.AspNetCore.All`: 2.1.1.

#### Possible cause of the issue
Problem is the content of generated

[2018-07-20 16:12] #8116 closed

[2018-07-20 16:29] mkArtakMSFT commented on #8096
@pranavkm, I guess this should turn to `2 - Working` now, shouldn't it?

[2018-07-20 18:22] LeslieMurphy opened #8122 "dotnet myAspNetCoreApp.dll fails with no error message"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
I deployed an ASP.NET Core 2.0 app (using EF) to a user's desktop for testing, using Folder deploy to create a framework dependent set of files.

Edited the appsettings.json to change our DB connection string.  I mistakenly placed in code like this:

"ConnectionStrings":

[2018-07-20 18:36] Eilon commented on #8122
Hi @LeslieMurphy , can you show what the Program.cs and Startup.cs look like? Then we can try to reproduce this and get to the bottom of it. Thanks!

[2018-07-20 18:44] LeslieMurphy commented on #8122
Sure, thanks!

Program.cs

using System;

using Microsoft.AspNetCore;

using Microsoft.AspNetCore.Hosting;

using Microsoft.Extensions.Configuration;

using Microsoft.Extensions.DependencyInjection;

using HCM_Xpert.Data;

using Microsoft.AspNetCore.Identity;

using HCM_Xpert.Models;

using NLog.Web;

namespace HCM_Xpert

{

    public class Program

    {

        public static void Main(string[]

[2018-07-20 20:18] Eilon commented on #8122
Thank you @LeslieMurphy .

@divega / @ajcvickers - do you know if calling EF's `options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));` with some slightly invalid data for the ConnectionString would cause some fatal exception at startup time?

@LeslieMurphy - perhaps you can also help try to debug this by wrapping that line of code in a try/catch and see if that throws an e

[2018-07-20 20:53] LeslieMurphy commented on #8122
Thanks.

Adding that try/catch does not catch anything.

But running in the debugger, I can now see that the issue is related somehow to flushing logger buffers.  The “Startup failed with fatal” message does not get logged when I use dotnet xxx.dll:

The message that is generated is actually a very good one – it just never made it to the console, grrrr:

"Could not parse the JSON file. Error on li

[2018-07-20 20:55] javiercn commented on #8094
@NetTecture If your third party component doesn't accept a given instance of HTTP client there is nothing we can do about it. The HTTP Client is the central piece to talking to the server in memory.

You can access and define the url used by the server in WAF.ClientOptions.BaseUrl or by calling CreateClient(new WAFClientOptions)

It's also considered a good practice to take in HTTP client as a dep

[2018-07-20 20:56] #8094 closed

[2018-07-20 21:38] kichalla commented on #8076
@rezvanf Are you still seeing this issue? We have end-to-end tests that run on Linux too and have never come across a behavior like you mentioned here.

[2018-07-20 21:45] rezvanf commented on #8076
Turns out what is happening..as the apis were hosted on containers with https. The calls being made were http and should have beem https.

Changing the calls to https fixed the problem.

[2018-07-20 22:07] kichalla commented on #8076
@rezvanf Thanks for quick response. Closing this issue now.

[2018-07-20 22:07] #8076 closed

[2018-07-20 22:40] pranavkm commented on #7965
Merged in https://github.com/aspnet/Mvc/commit/d4beab5d09bb28e970063f7da9fe916b99514c5c

[2018-07-20 22:40] #7965 closed

[2018-07-21 00:02] Eilon commented on #8122
Ah, interesting. Any chance you can paste the full stack trace for it? That will help me redirect this issue to the right part of the team.

[2018-07-21 00:02] Eilon commented on #8122
Tagging @HaoK because this might end up for you to investigate.

[2018-07-21 00:13] pranavkm commented on #7965
Closing discussion: A `Microsoft.AspNetCore.Mvc.DataAnnotations.ValidationProviderAttribute` was added to support this feature. Sample usage looks like so:

[code]

[2018-07-21 00:59] pranavkm commented on #8109
Both kinds of Xml output formatters will inspect the type to determine if that's something they could serialize. It's likely that the actual type returned by `Repo.List()` isn't serializable which is why you're seeing the 406. For instance, returning `Enumerable.Empty<string>().AsQueryable()` fails for me with an error logged saying

In general, you almost never want to return the queryable return

[2018-07-21 01:08] JohnGalt1717 commented on #8109
Thanks. I've been out of the office. Will do a sample on Monday.

The objects are definitely serializable. I can manually serialize to xml, they serialize just fine in full fat web API which this is being ported from.

We return iqueryable for odata support so it isn't optional.

[2018-07-21 09:56] amirhmi commented on #8115
Thank you so much
It works
@pranavkm

[2018-07-21 09:56] #8115 closed

[2018-07-22 18:06] dougbu commented on #8035
ff4e2eb4c8

[2018-07-22 18:06] #8035 closed

[2018-07-22 18:40] eriksendc opened #8124 "Response to Web Api Controller Action that Returns NotFound() Contains Human-Readable 404 Content"
#### Is this a Bug or Feature request?:
I'm not sure how this issue should be categorized (bug vs feature).

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. In Startup.cs add this in `Configure()`:

        app.UseStatusCodePagesWithReExecute("/error/{0}");

2. In HomeController.cs, define this action:

        [HttpGet("error/{statusCode}")]
        public I

[2018-07-22 20:15] veikkoeeva commented on #6024
I'll link this to https://github.com/aspnet/Mvc/issues/6024 as they're related and I found the threads supplemented each other on what comes to my understanding of the issue.

[2018-07-22 20:34] veikkoeeva commented on #4582
This seems to be working on Razor Pages also, i.e. using `Display` to localize. I appreciate the issue was written before Razor Pages, but I thought it'd be useful to record this note here for information.

[2018-07-22 20:40] veikkoeeva commented on #7035
@Eilon

I recorded some ideas at https://gitter.im/aspnet/Home?at=5b54e9969ddf5f4aad00002b, quoting

[2018-07-22 20:48] Eilon commented on #7035
@veikkoeeva thanks for the additional info. I've moved this out of the Backlog so that the team can re-consider it for a future release (no guarantees!).

[2018-07-22 21:02] veikkoeeva commented on #7035
@Eilon Much appreciated. I just amended the issue (it's still poorly phrased, but maybe the intention comes through) with few further notes. A bit of a grain of salt here, I'm not a web development expert so what I'm considering might be a bit too much, but I really would like to have especially better mobile experience (mobile first and all that) and it looks like the HTML5 tech is the way to go

[2018-07-22 21:34] veikkoeeva commented on #7965
Oh, extremely interesting! In which release, or a rough estimate date, would this be available in a official release?

Cheers @AlexejTimonin and @ZBAGI !

[2018-07-22 21:44] veikkoeeva commented on #8097
Just a note here, there's more similar attributes described at https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation, `range` (or `RangeAttribute`) for one. It looks to me there's more into this at https://github.com/aspnet/Mvc/issues/7035 (and at https://github.com/aspnet/Mvc/issues/7035#issuecomment-406895066).

[2018-07-22 23:20] pranavkm commented on #7965
The feature is part of the 2.2.0-preview1 release. https://github.com/aspnet/Announcements/issues/307 has some rough estimates for when the release is meant to go RTM.

[2018-07-23 06:33] lisardggY opened #8126 "FromQuery parameter binding fails for multi-valued (array) params if a name isn't explicitly given"
#### Is this a Bug or Feature request?:
A bug, it appears.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/lisardggY/AspNetControllerTest

#### Description of the problem:

I've encountered strange behavior when binding multi-valued controller parameters with [FromQuery] in ASP.NET Core 2.1.1.

For this controller signature:
`public ActionResu

[2018-07-23 06:47] lisardggY commented on #8126
#### Is this a Bug or Feature request?:
A bug, it appears.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/lisardggY/AspNetControllerTest

#### Description of the problem:

I've encountered strange behavior when binding multi-valued controller parameters with [FromQuery] in ASP.NET Core 2.1.1.

For this controller signature:
`public ActionResu

[2018-07-23 08:29] lucacelenza commented on #8083
Thank you for your answer and your feedback, @NTaylorMullen. However I still don't get how to handle this situation without piling up the .cshtml view code with **if** statements, depending on the complexity of the ViewModel.

[code]

Isn't it something that should _also_ be avoided?

[2018-07-23 15:32] #8084 closed

[2018-07-23 15:33] mkArtakMSFT commented on #8082
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-23 15:49] mkArtakMSFT commented on #8126
Thanks for contacting us, @lisardggY.
@dougbu, can you please look into this? Thanks!

[2018-07-23 15:51] mkArtakMSFT commented on #8124
/cc @pranavkm

[2018-07-23 16:37] mkArtakMSFT commented on #8122
Moving this to the `aspnet/hosting` repo to find out why no exceptions are logged before crashing the app.

[2018-07-23 16:38] mkArtakMSFT commented on #8122
This issue was moved to aspnet/Hosting#1500

[2018-07-23 16:38] #8122 closed

[2018-07-23 16:52] mkArtakMSFT commented on #8110
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-23 16:52] #8110 closed

[2018-07-23 16:55] dougbu commented on #8126
@lisardggY is your controller associated with an `[ApiController]` attribute?

If yes, this is a duplicate of #7712. The fix is available in the https://dotnet.myget.org/gallery/aspnetcore-dev feed. I suggest choosing an early 2.2.0 Preview 1 version e.g. https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.Mvc/2.2.0-preview1-34762

[2018-07-23 16:57] dougbu commented on #8126
Oops, missed your repro link. This is indeed a duplicate of #7712.

[2018-07-23 16:57] #8126 closed

[2018-07-23 17:15] Eilon opened #8127 "Strange behavior while getting method parameter from body in ApiController"
_From @Abarbz on July 23, 2018 7:4_

Hello,
While testing one of the methods in my Asp.Net Core Web API, I witnessed a strange behavior.
The method, sitting in an `[ApiController]`, has the following signature:
[code]

And the `MyObject` looks like this:
[code]

I was manually testing some behaviors using Postman, and when posting the following objects, I was surprised by the results:
* `{ afdqgdq

[2018-07-23 17:15] Eilon commented on #8127
_From @khellang on July 23, 2018 7:58_

Yes, this is expected. If you post JSON properties that doesn't match the POCO, they're just ignored. You can configure Newtonsoft to throw on these properties by setting the `MissingMemberHandling` setting to `Error` instead of `Ignore`.

I probably wouldn't use a struct for this, or at least I'd make it nullable in the parameter so you'd be able to tell if

[2018-07-23 17:15] Eilon commented on #8127
_From @Abarbz on July 23, 2018 8:20_

Thanks for the quick answer.
I can understand invalid properties being ignored, but what about no property matching the model (case 1, 3 & 4)? Shouldn't they fail? Case 4 does not even contain any boolean value.

I also tried with a class, and the behavior is similar in all 4 scenarios.
When you say "check  `ModelState` for error", do you mean checking `ModelS

[2018-07-23 17:15] Eilon commented on #8127
_From @khellang on July 23, 2018 8:49_

Ah, yes it should. Assuming you've also set the compatibility version to 2.1 in your startup.

What happens to case 1, 3 & 4 if you change it to a class, or make the parameter nullable?

[2018-07-23 17:15] Eilon commented on #8127
_From @Abarbz on July 23, 2018 9:12_

Just tried, and the behavior is actually exactly the same, no matter if I use `struct`, `struct?` or `class` for MyObject.

[2018-07-23 17:16] Eilon opened #8128 "How to get used InputFormatter and OutputFormatter in ActionFilter?"
_From @MhAllan on July 23, 2018 3:47_

Hi,

So I have added Message Pack formatter beside Json. now in an action filter I want to get that formatter to deserialize some request header. how can I get access to the current formatter?

_Copied from original issue: aspnet/Home#3349_

[2018-07-23 17:16] Eilon commented on #8128
_From @khellang on July 23, 2018 8:57_

I don't think there's an easy way to get a specific formatter. A formatter does quite a few more things than just serializing an object, like setting headers, determining encoding, writing to the response body etc.

I would recommend just serializing the header yourself. If you need some kind of conneg, you could look at the `ObjectResultExecutor` and maybe

[2018-07-23 17:31] pranavkm commented on #7256
Merged in https://github.com/aspnet/Mvc/commit/52c1e942c66da065f93e90e9e83ed50afc497607. Thanks for the PR @AlexejTimonin!

[2018-07-23 17:31] #7256 closed

[2018-07-23 17:37] pranavkm commented on #8109
Are you using https://www.nuget.org/packages/Microsoft.AspNetCore.OData? They have their own formatters (from what I can tell) and don't rely on the XmlFormatters to serialize IQueryable instances.

[2018-07-23 17:42] JohnGalt1717 commented on #8109
Yes I am, but I use the simple version instead of the /odata endpoints (that whole thing is a mess of complexity that doesn't need to exist and they need to release a light version that just gives you the querying and TotalCount in result and nothing else cause most people don't want nor, need nor want the security issues with the full package)

You can use it inline with MVC .NET and have your IQ

[2018-07-23 20:54] veikkoeeva commented on #7035
Here's a brilliant take on native form validation (concluision: it doesn't work): https://medium.com/samsung-internet-dev/native-form-validation-part-3-8e643e1dd06. The article has several other good points that could be useable for MVC Core. If nothing else, gives well argumented reasons to actions.

[2018-07-23 21:18] AlexejTimonin commented on #8127
@Abarbz I just did what @khellang suggested and it worked. Do you get expected result with this configuration in your Startup.cs `ConfigureServices` method?
[code]

[2018-07-23 21:58] AlexejTimonin commented on #8128
@MhAllan this is how you can get specific formatter from within ActionFilterAttribute:
[code]

[2018-07-23 22:16] eriksendc commented on #8124
Thanks @khellang for pointing me in the right direction. This is one solution I tried based on your comment:

        var statusCodePagesFeature = HttpContext.Features.Get<IStatusCodePagesFeature>();
        if (statusCodePagesFeature != null)
        {
            statusCodePagesFeature.Enabled = false;
        }
        return NotFound();

And this worked. The body of the response was empty.

Th

[2018-07-23 23:39] bungeemonkee opened #8130 "Unable to add custom output formatter by type."
#### Is this a Bug or Feature request?:
BUG

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
`services.AddMvc(mvcOptions => mvcOptions.OutputFormatters.Add<CustomOutputFormatterType>())`

#### Description of the problem:
It seems everything EXCEPT input/output formatters can be configured with dependency injection. Input/output formatters need instances added to

[2018-07-24 01:50] MhAllan commented on #8128
Lovely, many thanks @AlexejTimonin

[2018-07-24 06:51] Abarbz commented on #8127
In short, getting no error when the object being sent does not match **at all** the expected model is the expected behavior.
Kind of surprising, but good to know!
Thanks @khellang & @AlexejTimonin !

[2018-07-24 07:38] lisardggY commented on #8126
Ah, I missed that one when searching the issues list. Glad to see it was fixed. Thanks!

[2018-07-24 09:31] khellang commented on #8124
That's correct. It checks `Response.HasStarted` (headers are flushed and body has been written to) and bails out.

This is being worked on as we speak with the new "global routing" (formerly known as "dispatcher") feature and will be part of 2.2. It basically lets all middleware know about routes and their metadata so they can act accordingly. Today, this information exist just within MVC.

[2018-07-24 15:28] ygoe opened #8133 "Model binding fails with POST action parameter name "model""
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Write a controller action that accepts the POST form data in a parameter of a structured type. Name the parameter `config` or `model`. Example:

[code]

#### Description of the problem:

When the action parameter name is called `model`, it receives absolutely no data at

[2018-07-24 15:35] pranavkm commented on #8109
Do you have a repro app for this? I'm not super familiar with your app's set up so it's hard to figure out what needs to be addressed.

[2018-07-24 15:37] pranavkm commented on #8133
Dup of https://github.com/aspnet/Mvc/issues/3735. The behavior is by design - however we're going to [try using an analyzer](https://github.com/aspnet/Mvc/issues/7753) to provide some tooling guidance in this scenario.

[2018-07-24 15:37] #8133 closed

[2018-07-24 15:37] #8128 closed

[2018-07-24 15:51] genifycom commented on #5940
[ConsoleRazor.zip](https://github.com/aspnet/Mvc/files/2224371/ConsoleRazor.zip)

I am getting "One or more compilation failures occurred:
4bbzmoty.fa3(4,41): error CS0234: The type or namespace name 'Razor' does not exist in the namespace 'Microsoft.AspNetCore' (are you missing an assembly reference?)
4bbzmoty.fa3(5,62): error CS0012: The type 'Attribute' is defined in an assembly that is not ref

[2018-07-24 17:37] ygoe commented on #3735
Will the analyzer then only give me a barely visible grey underlining when I happen to have the controller file open? Or will it also make sure I notice the issue when I add a member with a conflicting name to a model class?

[2018-07-24 22:14] giggio commented on #7818
The provided workaround has problems.

The problems start with the fact that now we have 2 hosts. One from the TestServer, and another built to work with http. And `WebApplicationFactory.Server` references the first one, which we are **not** testing against. And to make things worse, calls to methods that configure the builder, such as `WebApplicationFactory.WithWebHostBuilder` will not work with

[2018-07-24 23:29] kichalla commented on #7964
@RehanSaeed In your `InvalidModelStateResponseFactory`, you are explicitly setting the content types to be used for that response and since the client asked(with an Accept header of `application\json`) a response with a specific content-type, a 406 is returned. Why explicitly set the ContentTypes here?

[code]

[2018-07-25 00:01] AlexejTimonin commented on #8130
Would something like this do?:

1) Create formatter class
[code]
2) Create class that implements `IConfigureOptions<MvcOptions>`
[code]
3) Create `IMvcBuilder` extension method.
[code]

4 - In Startup.cs `ConfigureServices` add services into `IServiceCollection` and then call the extension method you created in step 3.
[code]

[2018-07-25 00:14] bungeemonkee commented on #8130
My primary objection to that approach is the use of the IConfigureOptions. Configure options is just a thin wrapper around the activation event anti-pattern. I don't see why this can't be done the same way as say filters where the filters collection can have a type added to it in place of an instance. Ideally all these lists of filters, formatters, etc. would simply be acquired by the mvc middlewa

[2018-07-25 01:37] abatishchev commented on #8111
The behavior I'm observing (I can send a link to this internal project) is that `[ApiController]` attribute changes the behavior more aggressively/dramatically than you said:

- if set then then any property marked with `[FromRoute]` (regardless nested of flattened) is null
- if not set then any property marked with `[FromBody]` is null

What possible I'm doing wrong?

[2018-07-25 03:22] dougbu commented on #8111
@abatishchev it seems you're changing the scenario and mixing a number of questions. In particular, `[ApiController]` _does_ change a number of model binding settings in the application model and that's intentional. Suggest it's time to close this issue.

I suspect your issues with `[FromRoute]` relate to naming. Examine the relevant `ActionModel` and it's parameters to see what the matching names

[2018-07-25 04:48] dougbu commented on #8111
Think I'm mostly repeating myself but here's a few main suggestions:
1. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the 'asp.net-core-mvc' [tag](https://stackoverflow.com/questions/tagged/asp.net-core-mvc)
2. Debug your various scenarios, investigating your action'

[2018-07-25 04:56] dougbu opened #8135 "Make `ApiBehaviorApplicationModelProvider` less aggressive in Über-binding scenarios"
#### Is this a Bug or Feature request?:
Could be considered a bug. See #8111 for a long thread touching on the subject.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Add `[ApiController]` to a controller
2. Create a model wit routing attributes on its properties e.g. `[FromRoute]` and `[FromBody]`
2. Use above model as a parameter in an action

#### Descrip

[2018-07-25 04:57] dougbu commented on #8111
Filed #8135 about one part of this thread

[2018-07-25 07:00] ryanbrandenburg opened #8138 "Flaky test: AttributeRouting_MixedAcceptVerbsAndRoute_Unreachable"
This test [fails](http://aspnetci/viewLog.html?buildId=514461&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]

[2018-07-25 07:00] ryanbrandenburg commented on #8138
AttributeRouting_MixedAcceptVerbsAndRoute_Unreachable [failed again](http://aspnetci/viewLog.html?buildId=514461&buildTypeId=Releases_22xPublic_OsxUniverse).

[2018-07-25 07:00] ryanbrandenburg opened #8139 "Flaky test: EndpointConstraint_Accept_ForNoRequestType_SelectsTheCandidateWithoutConstraintIfPresent"
This test [fails](http://aspnetci/viewLog.html?buildId=514461&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]

[2018-07-25 07:01] ryanbrandenburg commented on #8139
EndpointConstraint_Accept_ForNoMatchingCandidates_SelectsTheFirstCandidate [failed again](http://aspnetci/viewLog.html?buildId=514461&buildTypeId=Releases_22xPublic_OsxUniverse).

[2018-07-25 07:03] ryanbrandenburg commented on #8138
AttributeRoutedAction_RejectsRequestsWithWrongMethods_InRoutesWithoutExtraTemplateSegmentsOnTheAction [failed again](http://aspnetci/viewLog.html?buildId=514459&buildTypeId=Releases_22xPublic_UbuntuUniverse).

[2018-07-25 07:03] ryanbrandenburg commented on #8139
EndpointConstraint_Accept_UnrecognizedMediaType_SelectsTheCandidateWithoutConstraintIfPresent [failed again](http://aspnetci/viewLog.html?buildId=514459&buildTypeId=Releases_22xPublic_UbuntuUniverse).

[2018-07-25 08:36] RehanSaeed commented on #7964
@kichalla Ok, I understand that but returning a `Content-Type` HTTP header containing `application/problem+json` is valid and even more 'correct' in this case. When the requests `Accept` HTTP header is set to `application/json`, `application/problem+json` is valid because it is a subtype of `application/json`.

Perhaps the real problem here is that `ReturnHttpNotAcceptable` does not take subtypes

[2018-07-25 09:01] ryanbrandenburg commented on #8138
AttributeRoutedAction_RejectsRequestsWithWrongMethods_InRoutesWithoutExtraTemplateSegmentsOnTheAction [failed again](http://aspnetci/viewLog.html?buildId=514533&buildTypeId=Releases_22xPublic_OsxUniverse).

[2018-07-25 13:00] kichalla commented on #7964
That's a good point. I will investigate further and update this thread.

[2018-07-25 13:04] luisabreu commented on #4910
+1 here with the same error. Btw, here's the complete stack:

Microsoft.Reporting.WebForms.LocalProcessingException: An error occurred during local report processing. ---> Microsoft.ReportingServices.ReportProcessing.ReportProcessingException: Failed to load expression host assembly. Details: Type 'Microsoft.AspNetCore.Mvc.Internal.MvcCoreLoggerExtensions+ActionLogScope' in assembly 'Microsoft.Asp

[2018-07-25 15:05] rynowak commented on #8139
This was a build break introduced last night and fixed within an hour or two

[2018-07-25 15:05] #8139 closed

[2018-07-25 15:06] rynowak commented on #8138
This was a build break introduced last night and fixed within an hour or two

[2018-07-25 15:06] #8138 closed

[2018-07-25 15:24] joetherod opened #8141 "Is there a way to compile a razor view in code. As in System.Web namespace: BuildManager.CreateInstanceFromVirtualPath"
Is there a way to compile a razor view in code. As in System.Web namespace: BuildManager.CreateInstanceFromVirtualPath?

Currently, our CMS manages creating pages for a site. We allow them to edit the razor views. We compile them to verify changes using BuildManager.CreateInstanceFromVirtualPath which is in the System.Web namespace.
Is there a similar library in aspnet core to do this and can be u

[2018-07-25 16:30] Eilon commented on #8141
We have a sample here, but it's a bit old: https://github.com/aspnet/Entropy/tree/master/samples/Mvc.RenderViewToString

@ajaybhargavb / @NTaylorMullen / @rynowak - do we have any updated guidance on this? Or is that sample still state of the art?

[2018-07-25 17:38] NTaylorMullen commented on #8141
The RenderViewToString sample is fine if you have a dependency on MVC. If you don't you'll need to look at running your Razor output through Roslyn. Here's how we do that in [MVC](https://github.com/aspnet/Mvc/blob/10ce77b9ca8435aead7369ff854a50fffbf4d235/src/Microsoft.AspNetCore.Mvc.Razor/Internal/RazorViewCompiler.cs#L405).

[2018-07-25 17:49] NTaylorMullen commented on #8083
Not sure I entirely get your snippet code but I'm assuming in your View you need to type check the children and then render them under the proper type?

This is indeed a side effect of our decision to require explicit types to be declared. I'd recommend writing some helper methods to aid in the workings of your own types 😄

[2018-07-25 22:02] pranavkm opened #8146 "Productize analyzer that complains if there's an explicit Modelstate.IsValid check for ApiController instances"
An analyzer + codefix exists in the experimental package - https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Analyzers.Experimental/ApiActionsDoNotRequireExplicitModelValidationCheckAnalyzer.cs. There's interest in productizing it.

[2018-07-25 22:05] pranavkm opened #8147 "Introduce a convention attribute that allows specifying an exact type + method"
Something alone the lines of `ConventionMethodAttribute(Type conventionType, string methodName)`.

[2018-07-26 00:20] TimRowe commented on #8020
Can I use both memory cache and distributed cache? sometimes memory cache is fast.

[2018-07-26 01:03] Tratcher commented on #8020
In theory, but we haven't built any tiered caching implementations.

[2018-07-26 02:46] abatishchev commented on #8111
I think I was able to boil down to this conclusion:

- it works when when my action accepts multiple parameters (all complex models one by one). I use the built-in attributes
- it doesn't when I combine them all into single uber-model. Regardless whether I use built-in attributes or what you've suggested (it didn't work for me - made no difference)

Having this request:

[code]

The former case wo

[2018-07-26 05:18] abatishchev commented on #8111
1. Luckily it works and I'm eager to make it work within a single model class
2. I applied it to the parameter on the action but observing same result: I'm still getting `Dictionary<string, Dictionary<string, RolloutPropertyValue>>`
3. Yes, I set it. And remove `[ApiController]`

[2018-07-26 14:25] jcpc91 opened #8148 "Need help!!"
#### Is this a Bug or Feature request?:
need help

#### Description of the problem:
i have this folders, paths in my proyect

**-wwwroot/**
**-pages/**
**--Administration/**
**---Curses/**
**----/Index.cshtml**
**---Oferts/**
**----/Index.cshtml**

i need generate an anchor in pages/Curses/Index.cshtml like this

[code]

i'm usin tag-helpr
 asp-page

i try this

[code]

and doesnt work

thanks for

[2018-07-26 14:26] #8141 closed, assigned to nobody

[2018-07-26 15:57] dougbu commented on #8055
498fa2d72f

[2018-07-26 15:57] #8055 closed

[2018-07-26 18:10] pranavkm commented on #8148
`<a asp-page="../Adinistrator/Oferts">Oferts</a>`

Think you have a typo there, should be `<a asp-page="../Administrator/Oferts">Oferts</a>`

[2018-07-26 18:40] #8148 closed

[2018-07-26 20:44] pranavkm opened #8153 "Move API convention analyzers in to a separate package"
Package name - `Microsoft.AspNetCore.Mvc.Api.Analyzers`. For 2.2.0, we want turning on convention specific behavior to be an explicit gesture. In this case, acquiring the package is it.

[2018-07-26 20:55] jacobslusser opened #8155 "Changing parameter names in IParameterModelConvention"
#### Is this a Bug or Feature request?:
Bug?

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a class that implements `IParameterModelConvention` and register the convention with MVC, e.g:
[code]

#### Description of the problem:
Setting the `ParameterModel.ParameterName` property changes the name of the property as expected, however, breaks model binding.

[2018-07-26 23:08] pranavkm commented on #7802
Tracking further work using individual items

[2018-07-26 23:08] #7802 closed

[2018-07-26 23:35] kichalla opened #8156 "MeidaType's subtype with suffix should be a subset of a subtype without suffix"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Add the following 2 tests to the `IsSubsetOf_ReturnsTrueWhenExpected` test in `Microsoft.AspNetCore.Mvc.Formatters.MediaTypeTest` and they fail
[code]
#### Description of the problem:
According to https://tools.ietf.org/html/rfc6839#section-2, content like `application/pr

[2018-07-26 23:43] kichalla commented on #7964
Thanks for reporting @RehanSaeed, I have added a new issue for this case https://github.com/aspnet/Mvc/issues/7964 and closing this in favor of it.

[2018-07-26 23:43] #7964 closed

[2018-07-27 03:02] ryanbrandenburg opened #8157 "Flaky test: RendersScriptTagsForGlobbedSrcResults"
This test [fails](http://aspnetci/viewLog.html?buildId=516729&buildTypeId=XPlat_Windows_Win10Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 03:02] ryanbrandenburg commented on #8157
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this test failure caused by product code flakiness? (Either this product, or another product this test depends on.)
  * [ ] File a bug against the product (TODO: Link to other bug)
  * Is it possible to change the test to avoid the flakiness?
    *

[2018-07-27 05:38] Eilon commented on #8156
Tagging @dougbu and @jkotalik who I think both have a great deal of knowledge on this matter.

[2018-07-27 08:53] AeonDave commented on #7238
What if we are handling global exception and we want to write a content in json or xml or custom (based on content negotiation)?
with the method
`
private static Task HandleExceptionAsync(HttpContext context, Exception exception)
`
where there is no TResult.
How we can achieve this?

e.g.

    public ErrorHandlingMiddleware(RequestDelegate next)
    {
        _next = next;
    }

    public async

[2018-07-27 10:51] sepehr1014 commented on #5631
Still present on 2.1. Any updates on this issue?

[2018-07-27 12:05] alvisemion commented on #7471
I'had the same problem.
I've resolved with this code:

I've created the model binder that parse correctly date time
[code]

Then i've created a modelbinder provider that use model binder.
[code]

Then i've configured my services:

[code]
This way every date is well parsed in all my models in all actions.

[2018-07-27 15:17] dougbu commented on #8156
@kichalla and I discussed this, reviewed the spec(s), and I agree it's a bug.

[2018-07-27 16:02] jkotalik commented on #8156
I can take this one if we just need to get it in preview-1. Would this apply to both MediaTypeHeaderValue and MVC's MediaType?

[2018-07-27 16:07] Eilon opened #8159 "Model binding of datetime set value of Date field to NULL if date is more than the 12th day of the month."
_From @nabinkjha on July 26, 2018 10:40_

 When any datetime field is posted the datetime always remains as mm/DD/yyyy format.
The **startup.cs** file contains the following code.

[code]

_Copied from original issue: aspnet/Home#3359_

[2018-07-27 16:08] Eilon commented on #8159
@nabinkjha how was the data posted? In the form? Query string? Can you show the model type, MVC controller action, and the CSHTML view code as well?

[2018-07-27 16:30] jkotalik commented on #8156
I'll go ahead and assign myself to both. I'll crunch them out when I have a spare moment in the next week.

[2018-07-27 17:29] mkArtakMSFT commented on #8155
Thanks for contacting us, @shanselman.
@pranavkm, can you please look into this? Thanks!

[2018-07-27 17:37] mkArtakMSFT commented on #8146
@pranavkm, so the ApiController already does this for you, correct? So the intention here is to tell the customer that the additional check you have is unnecessary?

[2018-07-27 18:06] Aurobindoma commented on #5969
Can u give me a detail procedure of how to use npm instead of bower in my visual studio 2017 15.7?
I'm a beginer. Please help me.

[2018-07-27 18:18] dougbu commented on #8078
556880872d

[2018-07-27 18:18] #8078 closed

[2018-07-27 18:22] dougbu commented on #8157
According to the test history, this test has failed once in 6479 runs. TeamCity calls that success rate "100%". Are we investigating tests that are that reliable?

[2018-07-27 19:06] Eilon commented on #8157
@dougbu yes, because this can cause "death by a thousand papercuts." If we have hundreds of tests that fail at that rate, that's not good enough.

[2018-07-27 19:08] dougbu commented on #8157
:ok: @Eilon

Agree with @pranavkm that this failure appears to be completely w/in Castle.Core. The test failed when executing `new Mock<IFileProvider>()`, something MVC does in 10 other tests or test helpers. The `MakeHostingEnvironment()` method in this particular test class where that instantiation occurs is called from 19 tests in this class alone. None of the other tests failed in the single t

[2018-07-27 20:11] bgribaudo commented on #7887
Hi @ryanbrandenburg,

Thanks for looking into this! I was traveling so I'm a bit delayed in responding. :-(

In regards to my caching  concerns, maybe it would help to describe a couple scenarios then contrast them with how ASP.Net Core 2.1 works.

### Scenario 1
Factory.Create is called each time a localizer is needed. No caching is provided by ASP.Net Core. If caching is desired, implementing it

[2018-07-27 20:18] jacobslusser commented on #8155
I was able to get the behavior I was hoping for by changing my code to the following:

[code]
Apparently, it is either the `BindingInfo.BinderModelName` or the `ModelMetadata.BinderModelName` property that must be set.

Is there a preference for one of the other? Why two locations?

The properties are read from here and here:

[https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCor

[2018-07-27 20:20] bgribaudo commented on #7887
Related: #7636

[2018-07-27 20:39] mkArtakMSFT commented on #8111
Hi @abatishchev.
Besides the referenced issue @dougbu has created and linked above, is there any other issue pending here? If so, please provide us with a minimal repro project so we can move forward with this.

[2018-07-27 20:43] mkArtakMSFT commented on #8135
@pranavkm, can you please look into this? Thanks!

[2018-07-27 20:47] abatishchev commented on #8111
Yes, I'm working to provide you MRP, minimum repro project. Thanks

[2018-07-27 20:50] mkArtakMSFT commented on #8020
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-07-27 20:50] #8020 closed

[2018-07-27 20:53] pranavkm commented on #8135
That's expressly a non goal here. Model binding allows specifying a binder at any level and ApiController is meant to keep the inference simple and intuitive.

Seems like a trivial thing for a user to create and add. I don't see why this needs to be built-in.

[2018-07-27 20:54] mkArtakMSFT commented on #7273
Closing per the response @pranavkm has provided.

[2018-07-27 20:54] #7273 closed

[2018-07-27 21:07] dougbu commented on #8135
This is odd because `[ApiController]` behaviours can't simply be turned off at the model type or action levels. And, we're landing on two highly-touted features that don't seem to work together out of the box.

According to the person who reported #8111, this trivial thing doesn't work (it should).

[2018-07-27 21:09] pranavkm commented on #8135
Ok, so is the bug here to investigate why applying `BindingSource = ModelBinder` does not work for ApiControllers?

[2018-07-27 21:34] mkArtakMSFT commented on #8135
Closing this as the behavior here seems to be by design. Thanks @pranavkm  and @danroth27

[2018-07-27 21:34] #8135 closed

[2018-07-27 22:17] ryanbrandenburg commented on #8121
@dudedev could you create a minimal reproduction app which displays this behavior? This guarantees that we're looking at the same problem you're having.

[2018-07-27 22:30] danroth27 commented on #5969
@Aurobindoma Shawn Wildermuth has a nice blog post on using ASP.NET Core with NPM here:
- https://wildermuth.com/2017/11/19/ASP-NET-Core-2-0-and-the-End-of-Bower

You might want to consider using LibMan:
- https://blogs.msdn.microsoft.com/webdev/2018/04/17/library-manager-client-side-content-manager-for-web-apps/
- https://blogs.msdn.microsoft.com/webdev/2018/04/18/what-happened-to-bower/

[2018-07-27 23:12] pranavkm commented on #8146
Yup

[2018-07-28 01:06] abatishchev commented on #8135
How the question whether it's by design is equal to statement it's by design?

[2018-07-28 04:16] dougbu commented on #8135
@abatishchev this bug was specifically about the conventions linked to `[ApiController]`. The decision was the conventions work as intended and don't need finer-grained controls than already exist.

If you want to instead use Über binding, don't use `[ApiController]` or disable this particular convention with
[code]
in your `Startup.ConfigureServices(IServiceCollection services)` method. And, if Ü

[2018-07-28 09:16] bdparrish opened #8165 "Razor Pages not generating appropriate anchor tags"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/bdparrish/razor-pages-bug

#### Description of the problem:
There seems to be an issue with the application finding all of the razor pages in the project.  It cannot find some available files under `/Pages`.

I am attempting to create a simple web appli

[2018-07-28 18:34] InfiRandia commented on #7192
I had the exact same problem as @joseftw... I tried to fix it for some time and when reading here I finally realized.. "**Clean** -> **Rebuild**". I suspected that after reading that it started working again after a reboot.

[2018-07-29 01:31] dougbu commented on #8157
Saw a bit of unreliability in aspnet/KestrelHttpServer but nothing that didn't also reproduce on my machine without the Moq version bump. @halter73 also said most of the failures were familiar. So, no new failures there.

No failures at all in aspnet/EntityFrameworkCore, aspnet/Mvc or aspnet/Razor in their release/2.2 branches with the latest Moq (and therefore almost the latest Castle.Core).

[2018-07-29 01:33] dougbu commented on #8157
Workarounds are fine for now. But, will leave this in Ready / blocked state until castleproject/Core#193 is resolved and moq/moq4 picks up the fix.

[2018-07-29 13:10] qibunext opened #8167 "some cshtml template pages are dynamically loaded."
[code]

some cshtml template pages are dynamically loaded.
So the error occurred.

[code]

[code]

[2018-07-29 13:40] Belorus commented on #7837
This is a temporal dependency which is a very bad thing from design POV.

http://blog.ploeh.dk/2011/05/24/DesignSmellTemporalCoupling/
https://www.yegor256.com/2015/12/08/temporal-coupling-between-method-calls.html

[2018-07-29 23:18] ZBAGI opened #8169 "[Feature request] Required attribute and empty collections"
In `RequiredAttribute`, empty string are treated as missing data however empty collections are allowed. Is there a reason for that ? There should be `AllowEmptyCollections` besides `AllowEmptyStrings`.

[2018-07-30 07:29] nabinkjha commented on #8159
The data is send using GET method of the jquery ajax. There is SearchPersonModel binded in the view. The datetime field is correct in query string but model fails to convert the datetime in dd/MM/yyyy . It works fine in form submit and ajax POST, but for ajax GET method the model always keep the datetime in US format.
The hack code I have used is as follows

 **public async Task<IActionResult> Sea

[2018-07-30 09:20] mfolker-sage opened #8171 "204 result produces HttpContext response body stream flagged as writable."
#### Bug

The HttpContext in middleware has response body stream flagged as writeable when a 204 response is returned. A 204 should not be writable has the status code denotes no content. When you try to write to the response body stream an error is thrown as expected.

#### Steps to reproduce:

1) Add a middleware class with the following code and an endpoint that returns a 204 status.

[code]

2

[2018-07-30 12:40] Whathecode opened #8172 "Documentation of `RefreshSignInAsync` is misleading"
#### Is this a Bug or Feature request?:
This is a documentation bug report, in the sense that the [`SignInManager.RefreshSignInAsync` documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.signinmanager-1.refreshsigninasync?view=aspnetcore-2.1) is highly misleading.

#### Description of the problem:
The current documentation on this method states:

This has [lead

[2018-07-30 14:46] bdparrish commented on #8165
I have been able to get past this.  I renamed the `/Facility` directory to `/Facilities` and everything is working as advertised.  It looks like because I had a folder with the same name as a model that it was not parsed correctly by razor pages?  Does that make sense?

[2018-07-30 15:51] turtletramp commented on #5918
I had a similar / the same issue when going from Microsoft.AspNetCore.All V2.1.0 to V2.1.1 today. Going back to V2.1.0 makes it work again. Same issue when I go to V2.1.2. I am still trying to figure out the root cause. But I do not yet use the V15.7.5 update of VS2017; will give that a try.

[2018-07-30 16:30] mkArtakMSFT commented on #8172
Thanks for contacting us, @Whathecode.
@javiercn, can you please review the current documentation and see what kind of changes are required there? Thanks!

[2018-07-30 16:33] javiercn commented on #8172
@haok as he’s the owner

[2018-07-30 16:37] mkArtakMSFT commented on #8171
This issue was moved to aspnet/HttpAbstractions#1028

[2018-07-30 16:37] #8171 closed

[2018-07-30 16:38] jacobslusser commented on #8155
I'm going to assume I answered my own question and close this.

[2018-07-30 16:38] #8155 closed

[2018-07-30 16:39] HaoK commented on #8172
@blowdart can you move this issue over to the identity repo?

[2018-07-30 16:39] mkArtakMSFT commented on #8169
Thanks for contacting us, @ZBAGI.
@dougbu, can you please answer this question? Thanks!

[2018-07-30 16:40] blowdart commented on #8172
This issue was moved to aspnet/Identity#1900

[2018-07-30 16:40] #8172 closed

[2018-07-30 16:41] javiercn commented on #8172
Closing this one as there’s no further action to be taken here.

[2018-07-30 16:47] mkArtakMSFT commented on #8167
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.
/cc @pranavkm

[2018-07-30 16:52] pranavkm commented on #8167
Dup of https://github.com/aspnet/Mvc/issues/7969. https://github.com/aspnet/Mvc/issues/7969#issuecomment-400703711 has some workarounds for 2.1.1 \ 2.1.2 releases. The issue should be addresses as part of [2.1.3](https://github.com/aspnet/Mvc/pull/7989).

[2018-07-30 16:52] #8167 closed

[2018-07-30 16:56] mkArtakMSFT commented on #8165
Hi @bdparrish.
Glad that you've found solution to the problem you've been facing.
@pranavkm, do we have a convention which may result in the observed behavior?

[2018-07-30 16:58] mkArtakMSFT commented on #8159
Hi @nabinkjha.
Please provide us with a repro project, so we can investigate this. Thanks!

[2018-07-30 16:59] mkArtakMSFT commented on #8109
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-30 16:59] #8109 closed

[2018-07-30 17:06] mkArtakMSFT commented on #8130
Thanks for contacting us, @bungeemonkee.
@pranavkm, is there a reason we don't have DI support for IO formatters?

[2018-07-30 17:09] mkArtakMSFT commented on #8127
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-30 17:09] #8127 closed

[2018-07-30 17:12] mkArtakMSFT commented on #8124
Thanks for handling this, @khellang.
Closing this issue as answered.

[2018-07-30 17:12] #8124 closed

[2018-07-30 17:26] scottaddie opened #8173 "Edit and Continue with Windows host to Linux container"
Moved from https://github.com/aspnet/Docs/issues/7707. See that issue for more context. Originally opened by @djhmateer. /cc: @mkArtakMSFT

[2018-07-30 17:46] amrmahdi opened #8174 "ConsumesAttributes accepts requests without content type"
#### Is this a Bug or Feature request?:
Bug ?

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Define an action decorated with a specific content type, and send a request with no content type header.

#### Description of the problem:

We are using the ConsumesAttribute to constraint the content types an action accepts. We found out that if there is not content t

[2018-07-30 18:14] #8147 closed

[2018-07-30 18:15] dougbu commented on #8169
@ZBAGI `[Required]` is not part of ASP.NET Core. Instead it comes from the underlying framework -- .NET Framework or .NET Core. I suggest making your request in the [dotnet/corefx](https://github.com/dotnet/corefx) repo.

FYI the source for this attribute is [here](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/RequiredA

[2018-07-30 18:16] dougbu commented on #8169
Marking this as `external` and closing.

[2018-07-30 18:16] #8169 closed

[2018-07-30 18:35] bdparrish commented on #8165
@pranavkm - So that seems to have fixed it, but why the silent error?  Is there something I can do to make it so I know if the compiler is complaining about something like that?  It seems very silent.  All I see is that my links are not being created but I don't know why?

[2018-07-30 19:04] jkotalik opened #8175 "FlakyTest: ExecuteAsync_ErrorDuringSerialization_DoesNotCloseTheBrackets"
https://ci3.dot.net/job/aspnet_Mvc/job/release_2.2/job/windows-Configuration_Release_prtest/187/console

[2018-07-30 19:27] pranavkm commented on #8175
cc @kichalla

[2018-07-30 20:16] pranavkm commented on #6786
Moving this out to preview2. We need to design this which we did not get around to as part of this release.

[2018-07-30 20:17] #8146 closed

[2018-07-30 20:26] pranavkm commented on #8165
There's planned work for 2.2.0 to add an option to routing that would flag complain when it encounters a scenario like this. Here's the issue - https://github.com/aspnet/Routing/issues/553.

[2018-07-30 20:26] #8165 closed

[2018-07-30 20:29] bdparrish commented on #8165
@pranavkm - since you pointing out the parsing error.  I have gone back to some other oddities.  It also fails silently when I was converting MVC to Razor Pages...

[code]

converted

[code]

if you miss the `asp-page` attribute conversion, then it will not complain, but it will just not create a proper `href` attribute in the anchor tag.

[2018-07-30 20:43] danroth27 opened #8177 "Razor compilation APIs exposing Roslyn types being obsoleted in 2.2.0 and removed in 3.0.0"
As part of the 2.1.0 release, ASP.NET Core added support for build time compilation of cshtml files (Razor Views & Razor Pages). This feature is on by default and allows build time verification of the correctness of Razor files, and also faster startup performance. Additionally, MVC watches for changes to cshtml files and seamlessly updates build-time compiled views with runtime compiled views. Th

[2018-07-30 20:44] pranavkm commented on #8165
Right - all of these are the same class of behavior with routing in 2.1.0 or lower. Link generation in routing attempts to match these constraints (`Action=Edit`, `Id={Some Number}`) to a route. It silently falls back to an empty string when no route matches. The goal of the linked issue is to produce better diagnostics for these scenarios.

[2018-07-30 21:14] #8156 closed

[2018-07-31 05:52] danroth27 commented on #7882
@smithaitufe Are all pages in referenced assemblies? Are any of the pages in dynamically loaded assemblies?

[2018-07-31 08:34] AlexejTimonin commented on #7302
I've been playing around with this issue and have 3 possible ways to go about this:

1 - Fallback method that will walk the type hierarchy in order to find the localized string. Example:

[code]
I think this is inefficient for applications that will utilize inheritance with display attributes in their view models. However, efficiency aside, I think this method will be able to cover all inheritance

[2018-07-31 11:26] dudedev commented on #8121
@ryanbrandenburg I have created a sample app with the problem. How do you want me to share the source code?

[2018-07-31 11:34] dudedev commented on #8121
@ryanbrandenburg Steps to reproduce:
1. Create a wepapp using template "ASP.NET Core Web Application"
2. Edit .csproj file to include `<GenerateEmbeddedFilesManifest>True</GenerateEmbeddedFilesManifest>` under `<PropertyGroup>`.
3. Add two resources files e.g. Resources.en.resx and Resources.de.resx
4. Build the project, you should see the build error

[2018-07-31 11:45] StevenLiekens opened #8180 "BindRequired doesn't work for arrays"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a controller action that expects an array of values FromQuery.
Slap a `BindRequired` attribute on the array param.

[code]

Example usage for the happy path:
[code]

#### Description of the problem:

Doing a GET without a query string doesn't invalidate `ModelState

[2018-07-31 12:34] nabinkjha commented on #8159
https://github.com/nabinkjha/DateTimeLocalization/tree/master/GetSearchDemo

The demo project is very simple and it just tell the user what values are selected for search. The DateOfBirth value always get updated to mm/DD/yyyy format and hence when the user type 13/01/2012 it becomes NULL.

[2018-07-31 16:40] Eilon commented on #8175
@mkArtakMSFT - please assign ASAP.

[2018-07-31 16:52] yugabe commented on #6816
Anyone wandering here trying to figure out how to "properly" inject SerializerSettings into your application, I found the following to be a good way to do it:

[code]

Obviously, you can use other lifetime scopes depending on your needs. This way you can implement a class which can serialize any given object based on the current settings:

[code]

I needed to do this because I didn't want to add a

[2018-07-31 17:17] mkArtakMSFT commented on #8180
Thanks for contacting us, @StevenLiekens.
@dougbu, can you please look into this? Thanks!

[2018-07-31 17:34] mkArtakMSFT commented on #8174
@rynowak, do you think this fix should go behind a back compat switch?
/cc @danroth27

[2018-07-31 17:34] mkArtakMSFT commented on #8159
@ryanbrandenburg, can you please look into this? Thanks!

[2018-07-31 17:40] mkArtakMSFT commented on #8121
@dudedev, please share it as a public repo in GitHub?

[2018-07-31 17:42] dougbu commented on #8180
@StevenLiekens please provide your `Startup` class. I suspect `MvcOptions.AllowValidatingTopLevelNodes` is `false`.

And, to confirm: You're not seeing anything unexpected on the happy path?

[2018-07-31 17:58] dudedev commented on #8121
https://github.com/dudedev/MSB4018

[2018-07-31 18:00] kichalla commented on #8175
Discussed with @jkotalik. He ran into this issue while running the build locally. Looking at CI history this test never failed, so I am going to close this

![image](https://user-images.githubusercontent.com/6559784/43477744-d2cce190-94b0-11e8-9745-04afe944ad01.png)

[2018-07-31 18:10] pranavkm commented on #8096
Fixed in https://github.com/aspnet/Mvc/commit/0726b8b98b9741e5b611e690dfc88646b1226881

[2018-07-31 18:10] #8096 closed

[2018-07-31 18:42] StevenLiekens commented on #8180
I can provide my startup class but not until tomorrow.

For now all I can tell you is that BindRequired does work for simple types like string. Does that give you any new insight?

[2018-07-31 18:49] svallis opened #8181 "Referencing a class library with precompiled views as a DLL"
Is this scenario supported? I expected things to "just work", but have run into some issues trying to link to pages within an embedded MVC area in a class library.

I've set things up with a test MVC project `Master`, one library `Lib1` which is referenced normally, and one library `Lib2` which is referenced using a `HintPath` to the DLL. The actual referencing is working fine and I can see both l

[2018-07-31 18:57] dougbu commented on #8180
Yes, you're hitting one of the MVC quirks: The `CollectionModelBinder` and its subclasses (including the `ArrayModelBinder`) create default / empty collections when no data is available for type-level models such as a parameter. This happens long before `ParameterBinder` checks `ModelMetadata,IsBindingRequired`.

Put another way, `[BindRequired]` would work as intended with non-collection top-leve

[2018-07-31 19:36] pranavkm commented on #8181
That's the intended design. MVC's startup specifically looks for controllers in assemblies that reference one of MVC's packages (directly or transitively). References to binaries on disk do not contain this information. You could possibly add these [assemblies as application parts](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/ApplicationPartMana

[2018-07-31 19:40] svallis commented on #8181
Thanks for the quick answer @pranavkm. What's the suggested method of manually distributing a binary library containing embedded views, or is this just not a supported scenario?

[2018-07-31 19:43] pranavkm commented on #8181
NuGet packages work really well for this. Executing `dotnet pack` on a project would retain details of a project's dependencies in the nuspec that MVC can use.

[2018-07-31 20:18] StevenLiekens commented on #8180
Ok ok thanks for the clear explanation.

Well according to the docs, yes.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.modelbinding.modelmetadata.isbindingrequired?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_ModelBinding_ModelMetadata_IsBindingRequired

[2018-07-31 20:26] premaarya commented on #5918
@turtletramp solved my issues ..thanks !

[2018-07-31 20:54] rynowak commented on #8174
No, I don't this is high profile enough for a compat switch.

[2018-07-31 21:11] pranavkm commented on #8175
This test, or another variant, seem to fail very consistently on VSTS. E.g.

* https://dotnet.visualstudio.com/public/_build/results?buildId=9312&view=logs
* https://dotnet.visualstudio.com/public/_build/results?buildId=8283&view=logs

Might need some more investigation

[2018-07-31 21:27] dougbu commented on #8180
FYI the fix we discussed is to change `CollectionModelBinder` and `ComplexTypeModelBinder` to special-case the combination of `bindingContext.IsTopLevelObject`, `MvcOptions.AllowValidatingTopLevelNodes` and no available data. When in that situation, the binders should add a `ModelStateError` but otherwise behave as they do today i.e. still otherwise appear to bind successfully and ensure action pa

[2018-07-31 21:36] kichalla commented on #8175
Thanks @pranavkm ...reopening it

[2018-07-31 21:39] dougbu commented on #8180
**@** **Triage** I'm costing this larger than XS only because we lack realistic tests of `[BindRequired]` on top-level collections and complex types.

[2018-07-31 23:43] pranavkm commented on #6848
Moving this out to preview2 for design work

[2018-07-31 23:47] mkArtakMSFT commented on #7756
@glennc, moving this out to 3.0 because of the required changes from dispatcher work have been pushed to 3.0.

[2018-08-01 07:02] ryanbrandenburg opened #8186 "Flaky test: OnProvidersExecuting_CachesEntries"
This test [fails](http://aspnetci/viewLog.html?buildId=520779&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg

[2018-08-01 07:02] ryanbrandenburg commented on #8186
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-01 08:02] mathiasbl commented on #7952
This fix will only work when the type is a top level object? What if it's defined as a property on another type?

[2018-08-01 14:07] dougbu commented on #7952
@mathiasbl nothing changed in the validation of non-top-level objects.

[2018-08-01 14:36] #8175 closed

[2018-08-01 16:16] pranavkm commented on #6046
Endpoint routing has support for this feature - https://github.com/aspnet/Mvc/pull/8185

[2018-08-01 16:28] Eilon commented on #8186
@mkArtakMSFT please assign.

[2018-08-01 16:45] mkArtakMSFT commented on #8186
@pranavkm, can you please look into this? Thanks!

[2018-08-01 16:49] mkArtakMSFT commented on #8181
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-01 16:49] #8181 closed

[2018-08-01 16:51] mkArtakMSFT commented on #7695
@JunTaoLuo, did you fix this already?

[2018-08-01 16:55] mkArtakMSFT commented on #8121
Thanks @dudedev.
@ryanbrandenburg, its all yours now!

[2018-08-01 17:19] rynowak commented on #6046
This is complete for Endpoint Routing in 2.2.0. See https://github.com/aspnet/Routing/blob/release/2.2/src/Microsoft.AspNetCore.Routing/Matchers/HttpMethodMatcherPolicy.cs

[2018-08-01 17:19] #6046 closed

[2018-08-01 17:30] pranavkm commented on #8186
Issue with Moq - https://github.com/castleproject/Core/issues/193. Using https://github.com/aspnet/Mvc/issues/8157 to track upgrading the dependency.

[2018-08-01 18:09] ryanbrandenburg commented on #8186
If this is an ongoing issue you're better off leaving this issue open and marking it as blocked. If you close it and it fails again the bot is just going to open up a new issue.

[2018-08-01 19:15] pranavkm commented on #8186
Assigning to @dougbu. This can be closed when https://github.com/aspnet/Mvc/issues/8157 is fixed.

[2018-08-01 20:26] danroth27 opened #8191 "Support Bootstrap 4 based validation"
Bootstrap 4 has it's own [validation](https://getbootstrap.com/docs/4.1/components/forms/#validation) that requires the use of specific classes. We need to make flexible enough to support this.

[2018-08-01 21:35] JunTaoLuo commented on #7695
Yup this was completed in https://github.com/aspnet/Mvc/commit/39372671f912a4e884e3d7a765e49f4d432717b7.

[2018-08-01 21:35] #7695 closed

[2018-08-01 22:08] pranavkm opened #8192 "Issue generating Clients where the controller have a route parameter, but not used in the method"
_From @syska on August 1, 2018 21:51_

Not sure if this is an issue ... using the API Explorer in nswag.

The route looks like this:
`/api/{language}/baskets/{basketId}`

`language` is used by aspnetcore to set the Culture

The controller looks like this:
[code]

The swagger file from swashbuckle looks like this:
![image](https://user-images.githubusercontent.com/317770/43550816-1cc79490-95e5-11e8

[2018-08-01 22:08] pranavkm commented on #8192
_From @RSuter on August 1, 2018 21:55_

@pranavkm is this something which is missing in api explorer?

Or should this be implemented in the AspNetCoreToSwaggerGenerator?

[2018-08-02 00:07] pranavkm commented on #7343
Moving it out to preview2. cc @glennc

[2018-08-02 00:57] rynowak commented on #8192
Hmm, this does seem like a bug in API explorer

[2018-08-02 05:58] nicholasyin opened #8196 "Can't build the raw source code of mvc release 2.2"
Just downloaded the latest 2.2 release mvc source code but can't build anyway, without any code modification. The error turns out to be the loading of project 'RazorPagesClassLibrary', as shown here:

![image](https://user-images.githubusercontent.com/17007651/43565084-0893ff50-965c-11e8-9fdc-091120038759.png)

[2018-08-02 05:59] nicholasyin commented on #8196
In case interested, here's the VS About:

![image](https://user-images.githubusercontent.com/17007651/43565154-5082a564-965c-11e8-8cb0-350e72d6e01e.png)

[2018-08-02 07:58] StevenLiekens commented on #8180
I guess another workaround is to make the array a property of a complex type?

[code]

[code]

[code]

(Not tested)

[2018-08-02 11:04] RSuter commented on #8192
This issue can be closed, as this was a problem in NSwag and not in API Explorer...

[2018-08-02 11:06] RSuter commented on #8192
apiParameter.Type is null for these implicit parameters - NSwag now assumes typeof(string) (and not nullable for path parameters). Is this "always" correct? Or is there a way to infer the type or maybe API Explorer can provide a type?

[2018-08-02 11:11] AlexejTimonin commented on #8196
Hello, did you follow the building from source [instructions](https://github.com/aspnet/Home/wiki/Building-from-source)?

[2018-08-02 14:55] pikax opened #8197 "Route pattern matching issue on route '/r{token}' or simillar"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
create a new dotnet project
`dotnet new webapi`

go to the Controller/ValuesController and add the action

[code]
debug and go to:
`https://localhost:44325/rRR`

The action is not executed, but it works with /r**test**
It seems if you add the same starting character(**r**

[2018-08-02 16:08] mkArtakMSFT opened #8198 "Update Universe failed"
_From @ryanbrandenburg on August 2, 2018 3:0_

Update Universe failed with the following errors:
[code]
http://aspnetci/viewLog.html?buildId=521887&buildTypeId=Coherence_UpdateUniverse

CC @Eilon, @mkArtakMSFT, @muratg

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

_Copied from original issue: aspnet/Coherence-Signed#928_

[2018-08-02 16:08] mkArtakMSFT commented on #8198
@pranavkm, can you please look into this? Thanks!

[2018-08-02 16:29] dougbu commented on #8180
@StevenLiekens yes, that should work fine. It requires changing your actions and models but that's not as messy as my second suggestion. I prefer checking `days.Length == 0` but it's just a preference.

[2018-08-02 16:35] pranavkm commented on #8198
Transient error due to Routing changes not being checked in.

[2018-08-02 16:35] #8198 closed

[2018-08-02 16:38] pranavkm commented on #8192
The type's inferred from the type of the parameter. Presumably there's not much to infer here - outside of possibly setting it to `typeof(void)`. Guess not assigning it just as meaningful.

[2018-08-02 16:39] #8192 closed

[2018-08-02 16:44] pranavkm commented on #8050
Fixed in https://github.com/aspnet/Mvc/commit/b7335ac768024187fb1aafaa033096eb04ec6cec

[2018-08-02 16:44] #8050 closed

[2018-08-02 16:46] danroth27 commented on #6877
@glennc Could you take a look at these gaps and see which ones we want to address for 2.2?

[2018-08-02 16:47] danroth27 commented on #6914
@glennc @blowdart are we planning to address web api security and open api spec generation for 2.2?

[2018-08-02 17:08] pranavkm commented on #8196
Seems like an issue with VS installation. I'd recommend trying out some of the suggestions from https://stackoverflow.com/questions/49432666/project-file-is-incomplete-expected-imports-are-missing

[2018-08-02 17:08] #8196 closed

[2018-08-02 17:55] glennc commented on #7343
@khellang do you care about this as much when a single attribute for the assembly enables the conventions? My hesitation here is, as @pranavkm talks about, we are walking a line that could easily lead to the analyzers not being able to function. Which might be fine for some people, but is generally an important part of the experience.

[2018-08-02 17:59] glennc commented on #7756
@Eneuman I definitely want to do something here, it's one of my pet annoyances that you end up with HTML by default when debugging an API from our template. We also want to do work around Problem Details. The Problem Details work will likely be in 2.2, but I don't know how that will affect the default exception page yet.

[2018-08-02 18:06] glennc commented on #6818
Changing existing eventIds would be a breaking change for customers, suddenly things parsing logs looking for numbers would need to change. Right?

Given that I don't think we could do something meaningful here in 2.2 at all, and I don't know if the improvement would ever be worth the potential pain. But we could have the discussion for new things we log, if we do that it should be all-or-nothing

[2018-08-02 18:08] glennc commented on #6913
It is now.

[2018-08-02 18:30] anurse commented on #6818
No, my understanding is that it is not breaking. It somewhat depends on the logging provider but most of them track the Event ID and Event Name as separate data fields. So as long as we don't **change** the numbers, any queries that were based on "EventID = 123" should continue to work, we would just be additionally enabling queries based on "EventName = zoinks"

[2018-08-02 18:39] khellang commented on #7343
An assembly level attribute would probably work as well, but why introduce yet another way of configuring MVC?

[2018-08-02 20:53] #8153 closed

[2018-08-02 20:53] #8097 closed

[2018-08-02 21:58] #8006 closed

[2018-08-02 22:04] mkArtakMSFT commented on #8197
Thanks for contacting us, @pikax.
@kichalla, can you please look into this? Thanks!
/cc @rynowak, @JamesNK

[2018-08-02 22:50] pranavkm commented on #6342
The type is in the `internal` namespace and we might make it real `internal` in the future. I don't think making it easier for overriding in user scenarios is super pertinent. The recommended solution here should be to copy the code in to your app at which point you may pass whatever parameters that you need do.

[2018-08-02 22:51] pranavkm commented on #6497
Tracking via https://github.com/aspnet/Mvc/issues/7820

[2018-08-02 22:51] #6497 closed

[2018-08-02 22:57] mkArtakMSFT commented on #4438
Closing as there seems to be no more work pending here. We'll file new issues as necessary in the future, may we will feel a need for something else.

[2018-08-02 22:59] #4438 closed

[2018-08-02 23:00] mkArtakMSFT commented on #3322
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-02 23:00] #3322 closed

[2018-08-02 23:27] #8174 closed

[2018-08-02 23:37] dougbu opened #8206 "Port #7712 fix to 2.1.4 patch"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
See #7712 as well as later reports -- #8034 and #8126 (so far).

#### Description of the problem:
In controllers with an associated `[ApiController]`, action parameters of collection types are incorrectly treated as complex types and given `BindingInfo.BindingSource = Bin

[2018-08-02 23:39] dougbu commented on #8206
/cc @Eilon to do the needful
/fyi @mkArtakMSFT in case you want to assign a priority (#7712 was Priority 2 but I suggest the priority has gone up given the additional reports)

[2018-08-02 23:44] dougbu commented on #6788
Marking this as `done` because prototype is available which works end-to-end using NSwag document and code generation tools. See https://github.com/dougbu/CodeGeneration

Will file new issues covering additional work such is finishing our document generation tool and integrating these bits into an SDK.

[2018-08-02 23:44] #6788 closed

[2018-08-02 23:49] Eilon commented on #8206
Thanks @dougbu , please fill in the following items:

## Description

TODO: Describe the bug

## Customer Impact

TODO: Describe how it affects customers. Is there a workaround? How many customers reported?

## Regression from?

TODO: Fill in when it worked, when it stopped working

## Risk

High/Medium/Low/Very Low
TODO: Fill in explanation of risk.

[2018-08-02 23:59] ryanbrandenburg commented on #8121
Thanks @dudedev, this did end up replicating. I was able to track the failure down to [this area](https://github.com/aspnet/FileSystem/blob/release/2.2/src/FS.Embedded.Manifest.Task/GenerateEmbeddedResourcesManifest.cs#L93) in aspnet/FileSystem. It seems that that task is not very robust, and makes the assumption that EmbeddedResource.LogicalName will always have a value. This is not the case for

[2018-08-03 00:15] pranavkm opened #8207 "ActionConstraints added to PageRouteModel.SelectorModel do not get copied to the action descriptor"

[2018-08-03 01:26] dougbu commented on #8206
## Description
In controllers with an associated `[ApiController]`, action parameters of collection types are incorrectly treated as complex types and given `BindingInfo.BindingSource = BindingSource.Body` unless the parameter is associated with an attribute that implements `IBindingSourceMetadata` e.g. `[FromQuery]` or its type is special-cased by a `BindingSourceMetadataProvider`.

If the above

[2018-08-03 01:28] dougbu commented on #8207
@pranavkm what is the impact of these particular `ActionConstraint`s not being copied to the `ActionDescriptor`?

[2018-08-03 02:03] dougbu opened #8211 "Add document generation tool to code generation prototype"
#### Is this a Bug or Feature request?:
Feature request that's part of the #7947 big rock

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Current client code generation prototype (see #6788) works only with the NSwag document generator. Need a tool that can handle two general cases:
1. Referenced web site project can be run and makes a Swagger or OpenApi documen

[2018-08-03 02:12] javiercn commented on #8121
I’m the right person to look at this. This is a patch candidate I think. @natemcmaster sorry for ruining your day :(

[2018-08-03 02:18] dougbu opened #8212 "Add target to web site projects for `<ServiceProjectMetadata>` metadata retrieval"
#### Is this a Bug or Feature request?:
Feature request that's part of the #7947 big rock

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Once our tool (see #8211) is ready, need to minimize the amount of hard-coded metadata included in consuming projects. Consuming project or the #8211 tool should be able to execute a target in the web site project to determine

[2018-08-03 02:39] dougbu opened #8213 "Integrate client-side code generation infrastructure into a package or SDK"
#### Is this a Bug or Feature request?:
Feature request that's part of the #7947 big rock

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Once our tool (see #8211) and MsBuild integration (see #8212) are ready, need to move prototype bits into SDKs. Parts, especially the #8212 bit, may go into Microsoft.NET.Sdk.Web. The rest (including two small MsBuild `Task`s)

[2018-08-03 02:40] dougbu commented on #8213
This issue should include improving comments in the prototype, adding tests, et cetera

[2018-08-03 03:12] dougbu commented on #8180
@mkArtakMSFT @danroth27 what is the priority of this fix?

[2018-08-03 03:59] nicholasyin commented on #8196
@AlexejTimonin Following the link you provided seemed to solve my issue. One more thing about a successful build, for me, is I had to turn off the windows defender real-time protection during the build time in order to let it sign using some public key.

[2018-08-03 12:35] janis-veinbergs commented on #4607
@SteveSandersonMS does #7015 implementation only reates to `JsonInputFormatter` or was it intended for all input formatters (including Custom)? Failure (Whether exception or `InputFormatterResult.FailureAsync()`) doesn't make ModelState invalid. Also I don't have any indication whether my parameter should be null or it is null because of parsing failures.

I'm on dotnet 2.1.301

[2018-08-03 15:57] Eilon commented on #8206
@dougbu the description uses a lot of nerd speak. Would it be simpler to just show a code sample of what used to work and now doesn't?

[2018-08-03 16:18] dougbu commented on #8206
@Eilon :ok:

1. In the past, an action parameter like `int[] ids` would bind just fine when the query string is `?ids=0&ids=1` or with the same information (form URL-encoded) in the request body. In 2.1 with `[ApiController]` on the controller, this parameter will not be bound and the service will respond with a 400 status code.
2. In the past, an action parameter like `[FromQuery] int[] ids` woul

[2018-08-03 16:51] pranavkm commented on #8207
You can't write a convention that adds constraints, for instance - https://github.com/aspnet/Entropy/pull/282/files#diff-968c24dbacefec17f9577c9a54289aaeR28

[2018-08-03 16:59] Eilon commented on #8206
@dougbu bumping this back to your notifications.

[2018-08-03 16:59] mkArtakMSFT commented on #8121
Thanks @ryanbrandenburg.
@javiercn, can you please look into this further and confirm whether this will be a patch candidate or not.

[2018-08-03 17:33] pranavkm commented on #7332
I created a sample - https://github.com/aspnet/Entropy/pull/282/files - using route model conventions + action constraints that shows how one could about this. Unfortunately, there's a [bug in 2.1](https://github.com/aspnet/Mvc/issues/8207) that needs to be addressed before this can work correctly.

[2018-08-03 17:40] dougbu commented on #8206
@Eilon :up::date:

[2018-08-03 17:47] javiercn commented on #8121
@dudedev I can't reproduce this with my version of the SDK. I think this was caused by a change in the definition of the EmbeddedResource made in the SDK (which change, I don't know for sure). In any case, I think this is a transient issue. You can exclude the resource files from the manifest as exemplified below and that should fix the problem:

[code]

I'm closing the issue as there no more acti

[2018-08-03 17:47] #8121 closed

[2018-08-03 18:01] abatishchev commented on #8111
Hi,
Here's the MRP:

[code]

And the request I'm making:

[code]

The very first works fine and outputs this:

[code]

All other don't and output this:

[code]

[2018-08-03 18:03] Eilon commented on #8206
Thanx, we'll take this to shiproom.

[2018-08-03 19:04] #8207 closed

[2018-08-04 01:47] pranavkm commented on #8173
The issue is an side effect of the way `ActionDescriptorCollectionProvider` listens for changes. On a Linux based docker container, the file system watching is passive i.e. `IChangeToken.ActiveChangeCallbacks = false`. The `ChangeToken.OnChange` pattern that we rely in here does not account for passive `IChangeToken` instances. A possible fix for this would be to stash the result of `GetCompositeC

[2018-08-04 01:55] pranavkm commented on #8173
@djhmateer, you could try using a custom implementation of `IActionDescriptorCollectionProvider` as a workaround until we've addressed this in the framework. Here's what you'd do:

* Add this type to your solution https://gist.github.com/pranavkm/10759ca15205c49e94ecd8739ae3a44a
* Register this in your startup:

[code]

I was able to verify locally that this addressed the issue you were seeing.

[2018-08-05 07:46] dougbu commented on #8111
@abatishchev you need to adjust names (really, make sure they don't change) while moving from parameters to Über-binding. You also must not change the types. The following works:
[code]
or replace `ExtensionInfo` above with
[code]

With the above and the `options.SuppressInferBindingSourcesForParameters = true` in place, you can add `[ApiController]` back. Further, you don't need `options.Suppress

[2018-08-05 18:20] ChrisSimmons opened #8219 "ForbidObjectResult"
#### Feature request

It seems useful to have `ForbidObjectResult` as a complement to `ForbidResult` (similar to `NotFoundObjectResult`/`NotFoundResult` and `ConflictObjectResult`/`ConflictResult`).

RFC 7231, [in section 6.5.3.  403 Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3), specifically states:

[2018-08-06 15:21] pranavkm opened #8221 "Array 'errors' in ValidationProblemDetails not included when serialising to XML"
_From @dannyhaak on August 5, 2018 11:5_

When offering both 'application/problem+xml' and 'application/problem+json' as content types, it seems that the array with 'errors' is not serialised in XML, but it is in JSON.

When requesting with accept header set to 'application/problem+xml':
[code]

When requesting with accept header set to 'application/problem+json':
[code]

This happens on the same

[2018-08-06 17:49] mkArtakMSFT commented on #8221
Thanks for contacting us, @dannyhaak.
@dougbu, can you please loom into this?

[2018-08-06 17:59] Spaier opened #8222 "WebApi: errors added in action filters don't trigger 400 error"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[code]

repro: [repository](https://github.com/Spaier/action-filter-errors-are-ignored-repro)

#### Description of the problem:
Errors added in action filters are ignored by automatic model validation.
Model state isn't valid, but 204 code is returned instead of 400.

###

[2018-08-06 18:18] pranavkm commented on #8222
`ModelStateInvalidFilter` that produces the bad request is a global action filter that runs before your action filter. Consider using a resource filter instead to do model validation.

[2018-08-06 18:38] Spaier commented on #8222
@pranavkm, Thanks for your help. My attribute changes `ActionArguments` so instead, I set `Order` to `-2001`.

[2018-08-06 20:12] #8222 closed

[2018-08-07 10:05] TechLearner2 commented on #8159
@ryanbrandenburg  Is there any update on this ?

[2018-08-07 10:15] FranklinWhale opened #8225 "IViewLocalizer not encoding HTML special characters"
Using ASP.NET Core 2.1.302,

When a value in a resource file contains special characters (<, >, &, " and ') and is used in a Razor page through an `IViewLocalizer`, it is printed to the HTML output directly without any encoding. However, when it is wrapped by `Html.Encode`, the value is double encoded.

Steps to reproduce:
1. Create a resx file that contains the following `data`:
[code]
2. Create

[2018-08-07 15:25] djhmateer commented on #8173
Many thanks @pranavkm. The https://gist.github.com/pranavkm/10759ca15205c49e94ecd8739ae3a44a  link gave me a compile error: Method must have a return type. I'm not quite sure how to resolve.

 public ActionDescriptorCollectionProvider1(
            IEnumerable<IActionDescriptorProvider> actionDescriptorProviders,
            IEnumerable<IActionDescriptorChangeProvider>

[2018-08-07 15:47] scottaddie commented on #8173
@djhmateer Looks to me like that should be a constructor. Try the following constructor signature:

[code]

[2018-08-07 16:28] pranavkm commented on #8173
Yup, @scottaddie got it right. Fixed the gist with the correct type name.

[2018-08-07 16:39] pranavkm commented on #8225
That's intentional. See the docs - https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.1#make-the-apps-content-localizable - if you want specific items to be encoded, you can use a formatted string and pass them to the localizer as a format argument.

[2018-08-07 17:03] FranklinWhale commented on #8225
Thanks for the information.

I didn't expect that the encoding behaviors of the localizers are different from those for `Model` and `ViewData`. As the document said, "You generally want to only localize text and not HTML.", and text should be always encoded.

Is it possible to have a localizer that encodes all returned values without using format argument?

[2018-08-07 17:30] FranklinWhale commented on #8225
Changed the issue title as this issue affects `IViewLocalizer`only. Being the localizer for Razor pages, there should be an option to enable HTML encoding for all values.

[2018-08-07 21:54] rodolfocop opened #8229 "ActionResults Returned formatters and contentTypes rendered as JSON"
#### Version AspNetCore 2.1.2

#### Question:
Hi, I have a question, I have json that return in my controllers API  returning with the object always the following extra lines.

I need to just send the value, without these parameters and without my JSON.

### **Actual results**
[code]

### **Expected results**

[code]
### **I found a way to do that filter**

[code]
There is a better way?

[Same Pro

[2018-08-07 21:58] devfunkd opened #8230 "AspNetCore Model property values null on POST only when action parameter is called “model”"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
- Using built-in scaffolding, create a new CRUD controller binding to model.
- Change parameter name on POST action to "model"
- Attempt to post data back to the controller

#### Description of the problem:

Did something change in AspNetCore that no longer allows you to

[2018-08-07 22:09] devfunkd commented on #8230
https://stackoverflow.com/questions/51735929/model-property-values-in-aspnetcore-2-1-are-null-on-post-when-action-parameter-i

Seems having a property in my model called "Model" breaks the postback data. I removed the property and the postback works. Why would a property being named "Model" in my model break the postback action?

[2018-08-07 22:09] pranavkm commented on #8229
@rodolfocop could you share a repro app?

[2018-08-07 22:11] pranavkm commented on #8230
Unfortunately this is by design. See https://github.com/aspnet/Mvc/issues/3735. We're going to [try using an analyzer](https://github.com/aspnet/Mvc/issues/7753) to provide some tooling guidance in this scenario.

[2018-08-07 22:30] rodolfocop commented on #8229
@pranavkm I can not share a repository because it is an institutional project.
I was able to solved with filter.
However resolve in my
services.ConfigureMVC();
With this,
[code]
 [But this problem is identical to what I have](https://github.com/aspnet/Mvc/issues/4960)

[2018-08-07 22:35] natemcmaster commented on #8206
There was no representative in shiproom today for this one, so this bug is not yet approved for 2.1.x.

cc @mkArtakMSFT

[2018-08-07 22:47] barry-schneider commented on #7900
When you use `app.UseHttpsRedirection()` and the the SSL port is not configured using 'services.AddHttpsRedirection()' then the port must be set using:

-  HTTPS_PORT environment variable
-  IServerAddressesFeature

If neither of these are configured, then will not redirect to SSL based on the the function [TryGetHttpsPort](https://github.com/aspnet/BasicMiddleware/blob/f320511b63da35571e890d53f39

[2018-08-07 23:57] ryanbrandenburg commented on #8159
Sounds like you want a custom model binder. An example like [this](https://gist.github.com/vickramravichandran/f06d63bfb50f27e6549978b7538d214c) might be overkill for your case, but I think it shows the general idea of what you want to do well. You would probably want to bind on `bindingContext.ModelTYpe.GetProperty(modelName)` instead of `bindingCOntext.ActionContext.ActionDescriptor.Parameters`

[2018-08-08 01:05] #8230 closed

[2018-08-08 02:17] vikasillumina commented on #5992
@rynowak I am still seeing this issue with latest dotnet core 2.1. Here is the screenshot of the nuget package to show the version I am using
![image](https://user-images.githubusercontent.com/8878754/43812418-154c1bec-9a76-11e8-9712-93e191078c6c.png)

I tried the workaround mentioned above which was to register the Assembly of the controller in my api project
`            services.AddMvc().AddApp

[2018-08-08 03:01] FranklinWhale commented on #8225
Found a workaround (or the solution):

Instead of using the [item property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.localization.viewlocalizer.item?view=aspnetcore-2.1), use the [`GetString`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.localization.viewlocalizer.getstring?view=aspnetcore-2.1) extension method.

That is to change
[code]
to
[code

[2018-08-08 03:28] ghd258 opened #8232 "Can RazorPages and razor be used in a project at the same time?"
Can RazorPages and razor be used in a project at the same time?

Are there any examples of whether RazorPages or razor can be used in a project at the same time?

[2018-08-08 03:31] rynowak commented on #5992
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-08-08 07:22] hmdhasani opened #8233 "TempData not working if UseCookiePolicy placed before UseMvc"
After Migrating to ASP Core 2.1 TempData not working and was always null after working for a day around this finally I find the reason:

in Startup.Configure():
app.UseCookiePolicy(); should be after app.UseMVC();

This is unexpected and I did not find any document about it.
And in the migration documentation (https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1#changes

[2018-08-08 09:55] djhmateer commented on #8173
@scottaddie and @pranavkm  much appreciated - yes I can confirm that this works. Very interesting and thank you for the explanation.

[2018-08-08 14:43] dvoituron opened #8235 "Keep the Value property when casting ObjectResult into ActionResult"
I'm creating a WebAPI, in ASP.NET Core 2.1, that returns a typed value (int in my example). To do this, I return a result using the **Ok(object)** method. This method returns an **ObjectResult** that is implicitly converted to **ActionResult<T>**.

The result of this conversion gives me an **ActionResult<T>** object with a **Result** property contains a reference to my **ObjectResult**, and with a

[2018-08-08 14:55] pranavkm commented on #8225
Sure. If it unblocks your scenario, might be worth adding it to the docs. I'd possibly mention the risk of double encoding if the original value happened to be already encoded.

[2018-08-08 16:22] pranavkm opened #8236 "ApiController attribute - Enforcing 415 Unsupported Media Type with bad Content-Type"
_From @YouvalLabade on August 4, 2018 20:32_

With the attribute `[ApiController]` how to return a `415 Unsupported Media Type` if the `Content-Type` is incorrect or unsupported?

Should we do something like this ?

[code]

_Copied from original issue: aspnet/Home#3387_

[2018-08-08 16:29] pranavkm commented on #8236
@Youuuuuuuuuuu that's a reasonable workaround for now. However it does seem like a bug that the framework does not correctly handle this for you. I'll try bringing this up for patch consideration.

[2018-08-08 16:37] CheloXL opened #8237 "TagHelper removes attributes that starts with @"
#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Create a taghelper with the code below
[code]
2. On an HTML page, add the following tag: `<button test-click="setAsCurrent" type="button" data-icon="check" @@hidden="item.view_Current">test</button>`
3. Run the project.

#### Description of the problem:
The button should be rendered as `<button test-click="setAsC

[2018-08-08 17:25] vikasillumina opened #8238 "Receive HTTP 404 with ASP.NET Core Test Server when controllers are added to a separate assembly"
#### Is this a Bug or Feature request?:
I am experiencing the same exact issue referred here:
https://github.com/aspnet/Mvc/issues/5992

#### Steps to reproduce:
I have a basic test controller within my ASP.NET Core application:

using Microsoft.AspNetCore.Mvc;

namespace Web.Controllers
{
    [Route("api/[controller]")]
    public class TestController : Controller
    {
        [HttpGet]

[2018-08-08 17:25] vikasillumina commented on #5992
@rynowak Thanks for your reply, sorry I didn't notice the issue was already closed. I submitted this issue:
https://github.com/aspnet/Mvc/issues/8238

[2018-08-08 17:32] pranavkm commented on #8236
cc @YouvalLabade

[2018-08-08 18:16] mkArtakMSFT commented on #8225
Thanks folks. Closing this as there is no action pending here.

[2018-08-08 18:16] #8225 closed

[2018-08-08 18:18] javiercn commented on #7647
We don't have plans to do this. We can revisit in the future as the scenario is unlikely to happen on test projects.

[2018-08-08 18:18] #7647 closed

[2018-08-08 18:27] pranavkm opened #8239 "Port "ApiController attribute - Enforcing 415 Unsupported Media Type with bad Content-Type" to 2.1.x"
Issue: https://github.com/aspnet/Mvc/issues/8236

[2018-08-08 18:30] pranavkm commented on #8239
Scenario: A controller marked with `ApiController` no longer responds with a 415 Unsupported content type if the content type is unsupported. Instead, the response is a 400 Bad request. This is incorrect behavior and may affect consuming clients.

[2018-08-08 18:41] mkArtakMSFT commented on #8239
## Description
A controller marked with ApiController no longer responds with a `415 Unsupported` content type if the content type is unsupported. Instead, the response is a `400 Bad request`. This is incorrect behavior and may affect consuming clients.
 
## Customer Impact
See `Description`
 
## Regression from?
No regression. `ApiController`-s were introduced in 2.1

## Risk
Very Low
This is cau

[2018-08-08 19:49] sebastienros opened #8241 "Provide a hook for RazorPage.ExecuteAsync()"
Feature request:
I can define a base class for the views, but there is no hook to execute some code before the view is executed. There is a method `ExecuteAsync` but it's not called on the base class.

My suggestion is to either call the base class `ExecuteAsync()` if there is one which is not abstract, or provide a new method that can be implemented by base view classes.

[2018-08-08 20:38] mkArtakMSFT commented on #8238
Thanks for contacting us, @vikasillumina.
@javiercn, can you please look into this? Thanks!

[2018-08-08 20:40] mkArtakMSFT commented on #8237
Thanks for contacting us, @CheloXL.
@NTaylorMullen, can you please look into this? Thanks!

[2018-08-08 21:12] javiercn commented on #8238
@vikasillumina Thanks for contacting us.

I think you might be experiencing issues with the assemblies not being picked up appropiately. Can you  check that you meet the prerequisites described in the link below?

https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1#test-app-prerequisites

Can you call
[code]
Put a breakpoint on the lambda apm and check in apm.As

[2018-08-08 21:24] mkArtakMSFT commented on #8235
Thanks for contacting us, @dvoituron.
The behavior you're observing is by design.
The reason is because we don't special case simple types.
For your particular scenario (the unit test), you should already know what the value should return - hence you can just check for the `Result` property.

[2018-08-08 21:24] #8235 closed

[2018-08-08 21:28] mkArtakMSFT commented on #8233
Thanks for contacting us, @hmdhasani.
@kichalla, can you please look into this? If this is pure documentation issue, we may need to ask the owners of the `migration docs` to update those.

[2018-08-08 21:34] mkArtakMSFT commented on #8232
Hi @ghd258.
Yes, that is absolutely possible. Feel free to check out the documentation at: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio

[2018-08-08 21:34] #8232 closed

[2018-08-08 21:56] rynowak commented on #8241
What is this for?

[2018-08-08 22:01] sebastienros commented on #8241
For instance initialize some properties on the base, that require a call to async services

[2018-08-08 22:31] kichalla commented on #8233
I haven't seen reports like these before and imagine it would have broken for other folks too.

@hmdhasani Could you share a standalone repro for this?

[2018-08-08 22:33] pranavkm commented on #8236
cc @rynowak \ @dougbu.

The current instance of [`UnsupportedContentTypeFilter`](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/UnsupportedContentTypeFilter.cs) isn't ordered and is consequently has an implicit order of `0`, `Scope = Global`. `ModelStateInvalidFilter` that `ApiBehaviorApplicationModelProvider` adds to actions is `Order = -2000, Scope

[2018-08-08 23:40] dougbu commented on #8236
What other `StatusCode`-setting filters do we have? Don't want `ModelStateInvalidFilter` interfering with an `AuthorizeFilter` (for example) either. (Might imply this issue is better handled together with #7125.)

Another alternative would be to make `StatusCode`-setting filters more aware of each other. They could no-op when a "more specific" `StatusCode` may be set later or even invoke later set

[2018-08-09 00:35] rynowak commented on #8236
I'm not sure that c) is even valid. A resource filter would run before model binding, so we wouldn't be able to see the error.

I'm in favor of a) because it's the simplest to reason about.

[2018-08-09 01:18] vikasillumina commented on #8238
@mkArtakMSFT @javiercn thanks for looking into this so quickly. I checked the referred page and I see I am not using either of those packages. I actually just looked for package that contained the TestServer class through Nuget package inside VS 2017 and it only added following package references:
`  <PackageReference Include="Microsoft.AspNet.WebApi.Client" Version="5.2.6" />
    <PackageReferenc

[2018-08-09 04:15] dvoituron commented on #8235
Thanks for your answer. I understand.  But this is not only valid for simple types. 123 is used for the example.

[2018-08-09 05:16] hmdhasani commented on #8233
OK, I have created an "ASP Net Core Web Application" and enabled TempData usage and Added a Default Controller for checking TempData
In Startup.cs I have moved app.UseCookiePolicy(); to 1 line before UseMVC() and TempData broke.
here it is:
https://github.com/hmdhasani/TempDataBug

you should see http://localhost:56356/Default/Index for testing.

[2018-08-09 05:53] SmGG opened #8243 "run build.cmd failed"
#### Description of the problem:

run build.cmd failed ,
Access to the path 'Internal.AspNetCore.Sdk.dll' is denied  ,
The SDK 'Internal.AspNetCore.Sdk/2.2.0-preview1-20180731.1' specified could not be found.

Can anybody help me with this!!

info down here

Using KoreBuild 2.2.0-preview1-20180731.1
WARNING: dotnet found on the system PATH is 'C:\Program Files\dotnet\dotnet.exe' but KoreBuild will

[2018-08-09 06:56] vdachev opened #8244 "UrlHelperBase is not thread-safe"
I'm not sure if it is a bug or an intended but the default implementation of `IUrlHelper` - [`UrlBuilder`](https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.Core/Routing/UrlHelper.cs) is not thread-safe and it doesn't seem to be mentioned explicitly in the documentation.

This seems to be due to the use of a shared `StringBuilder` in its base class [`UrlBuilderBase`](https://g

[2018-08-09 13:46] OrihuelaConde opened #8245 "Remote Validation in Razor Pages"
Is there a way to use Remote Validation in Razor Pages or I should create a controller for that purpose?

[2018-08-09 16:15] mkArtakMSFT commented on #8245
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.
/cc @NTaylorMullen

[2018-08-09 16:23] mkArtakMSFT commented on #8244
Thanks for contacting us, @vdachev.
Making UrlBuilderBase thread safe was never a goal , hence the behavior you're describing here is by design.

[2018-08-09 16:27] mkArtakMSFT commented on #8244
As for documenting it, it would mean to add the same line of comment to the documentation for 95% of the classes in ASP.Net Core. Instead, sticking with the model of documenting only the thread-safe classes is much preferable.
/cc @rynowak

[2018-08-09 16:28] #8244 closed

[2018-08-09 16:29] mkArtakMSFT commented on #8243
Thanks for contacting us, @SmGG.
@ryanbrandenburg can you please look into this?

[2018-08-09 16:48] ryanbrandenburg commented on #8243
Sounds like there's a process that has a handle on 'Internal.AspNetCore.Sdk.dll', so it can't be used. Easiest way to see if that's true is to either use Process Explorer to search for the handle, or just restart the computer so that ALL processes end. Another possibility is that the file actually doesn't exist, but one of the landmarks KoreBuild uses to decide on the state does. This could happen

[2018-08-09 17:01] OrihuelaConde commented on #8245
Thank your for your reply, but If the answer to my question is "No" then it is a feature request.

[2018-08-09 17:26] pranavkm commented on #8243
`C:\Users\Smile_Gum_Gum.dotnet\`

The path looks wonky. Should be `C:\Users\Smile_Gum_Gum\.dotnet\`.

[2018-08-09 17:29] kichalla commented on #8233
@hmdhasani Thanks for the repro. I looked at it and following would fix the problem you are seeing.

[code]

[2018-08-09 17:30] #8233 closed

[2018-08-09 17:30] NTaylorMullen commented on #8245
I assume what you mean by remote validation is to validate content on the server. If that's the case you'll need to create a control or API of somesort and pass the bits you want to validate to it.

[2018-08-09 17:38] hmdhasani commented on #8233
@kichalla  thanks for the response.
My main issue is how some one should know the "Right" Order .I searched for it but did not find any documentation about how to order middlewares right and had to test many orderings to get to the right ordering.
I think there should some explanation about middlewares ordering.

[2018-08-09 17:42] NTaylorMullen commented on #8245
You might be able to make it work in a RazorPage handler if you return the same bits as mentioned here https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-2.1#remote-validation

[2018-08-09 17:44] ryanbrandenburg commented on #8243
@pranavkm I though that too but if you look at the actual text (by clicking edit) you'll see that the \ is there. It must be a Github escaping problem of some sort.

[2018-08-09 18:27] mkArtakMSFT commented on #8239
Not approved for 2.1.X
Approved for 2.2 and customer can pick this up from there.

[2018-08-09 18:28] khellang commented on #8066
I can work on this after #8242 has been merged 😊

[2018-08-09 18:41] pranavkm commented on #8229
I'm not seeing this with a 2.1 app. This works correctly in a 2.1 app and that's the scenario for the issue you linked:

[code]

The only scenario I can think of that could cause you to return the `ObjectResult` rather than the value of it was it if were wrapped in `ActionResult<>` which is not supported. E.g.

[code]

Feel free to reopen the issue if you have a sample repro for this. You're welco

[2018-08-09 18:42] pranavkm commented on #8219
@ChrisSimmons feel free to send a PR for this. Here's a similar PR that adds the complement to `UnauthorizedResult`: https://github.com/aspnet/Mvc/pull/7966/files that you may use as a template.

[2018-08-09 18:53] pranavkm commented on #8239
Close?

[2018-08-09 19:11] rodolfocop commented on #8229
Hi, @pranavkm thanks for the reply.
But this solution does not solve my question, once I get a repo I will reopen the question
Thanks for everything.

[2018-08-09 19:11] #8229 closed

[2018-08-09 21:26] kakins opened #8247 "Controller parameter inference and complex types for query strings"
#### Is this a Bug or Feature request?:
Feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Decorate a controller with [ApiController]
Create a controller method with a complex object as a parameter, decorated with [FromQuery].
Calling the controller method will return an HTTP 400.

#### Description of the problem:
I believe using parameter inference

[2018-08-09 21:36] khellang commented on #8247
You're most likely getting a 400 error because the model is failing validation. API controllers will automatically check `ModelState.IsValid` and return back 400 if there are errors.

Can you show the code for `PositionFilterViewModel`?

Do you have any non-nullable propertied that you're omitting?

[2018-08-09 21:39] khellang commented on #8247
If you want to disable the `ModelStateInvalidFilter`, you can set the `SuppressModelStateInvalidFilter` option in your `Startup`:

[code]

[2018-08-09 21:50] #8239 closed

[2018-08-10 02:53] OrihuelaConde commented on #8245
@NTaylorMullen I've tried with a Razor Page Handler but the atribute [Remote] need a controller. When I pass a Page Model it generate an IO exception saying that can't find the controller, indeed, because it is a Page Model.
I solved this with an API controller but for the proposse of Razor Page it is not feasible. The [Remote] atribute should work with a Page Model Handler.

[2018-08-10 02:53] caseylobrien opened #8250 "Non EntryPoint Startup throws generic NullReferenceException for WebApplicationFactory"
#### Is this a Feature request:
Throw a more useful error message for using a non `System.Reflection.Assembly.EntryPoint` as the generic passed into the WebApplicationFactory<TEntryPoint> Ideally the Exception would be thrown in a better place (and sooner) then `WebApplicationFactory.CreateClient`

#### Steps to reproduce:
https://github.com/caseylobrien/ClassLibraryStartup

#### Description of th

[2018-08-10 02:53] caseylobrien commented on #8250
@javiercn

[2018-08-10 03:25] SmGG commented on #8243
@ryanbrandenburg  I tried again this morning and got a different error,  then I did as you say remove the directory C:\Users\Smile_Gum_Gum\.dotnet  , run build.cmd again still the same error, the output like below

Downloading KoreBuild 2.2.0-preview1-20180731.1
Using KoreBuild 2.2.0-preview1-20180731.1
WARNING: dotnet found on the system PATH is 'C:\Program Files\dotnet\dotnet.exe' but KoreBuild

[2018-08-10 05:00] dougbu commented on #8221
@dannyhaak this looks like something is down-casting the `ValidationProblemDetails` to `ProblemDetails` before performing the XML serialization. But, I'm not seeing suspect code in aspnet/Mvc.

Could you please share your `Startup` class and the specific action? That'll help figure this out.

[2018-08-10 09:01] Sankra opened #8251 "HTTPS on macOS does not work running from the default ASP.NET Core Web App (MVC) template"
#### Is this a Bug or Feature request?:

Bug, HTTPS should work under development also on macOS.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Run the following project on macOS: https://github.com/Sankra/HttpsMacOSFails

#### Description of the problem:

1. Downloaded the newest *Visual Studio for Mac (7.5.4 Build 3)* on *macOS 10.13.6*.
2. Created a new web

[2018-08-10 10:59] SIkebe opened #8252 "build.cmd fails because of locale-sensitive unit tests"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Run `build.cmd` in non-English locale.

#### Description of the problem:
build.cmd fails because of locale-sensitive unit tests.

[code]

[2018-08-10 13:54] kakins commented on #8247
@khellang Thanks for the response.  I do not necessarily want to suppress the model state validation.  Here is my view model:

[code]

[2018-08-10 13:55] khellang commented on #8247
And `PagedViewModel`?

[2018-08-10 16:10] lonix1 opened #8254 "URL rewrite doesn't work for non-regex"
ASP.NET Core 2.1 (2.1.302)

I want to rewrite `/favicon.ico` to `/images/favico.ico`.

So I [followed the docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/url-rewriting#regex-examples) and did this in `Startup.cs` at the end of `Configure()` (after `app.UseMvc()`, I hope that's correct?):

[code]

But that gave me a 404.

So I thought maybe I need to use a dummy regex:

[code]

And

[2018-08-10 16:43] mkArtakMSFT commented on #8254
Thanks for contacting us, @lonix1.
Please provide us with a minimalistic repro project so we can investigate the issue.

[2018-08-10 16:56] mkArtakMSFT commented on #8252
Thanks for contacting us, @SIkebe.
@dougbu, how hard will it be to fix those tests? Looks like there are only 2 of those.

[2018-08-10 16:59] kakins commented on #8247
Here is `PagedViewModel`.    I believe all properties on this class are set when making the call to the controller.

[code]

[2018-08-10 16:59] mkArtakMSFT commented on #8251
Thanks for contacting us, @Sankra.
@Tratcher, can you please look into this? Thanks!

[2018-08-10 17:03] mkArtakMSFT commented on #8243
@SmGG have you tried to download the file manually from the pointed out URL: https://dotnetcli.azureedge.net/dotnet/Runtime/2.2.0-preview1-26618-02/dotnet-runtime-2.2.0-preview1-26618-02-win-x64.zip

[2018-08-10 17:04] mkArtakMSFT commented on #8243
@ryanbrandenburg, how can the timeout value be extended?

[2018-08-10 17:05] Tratcher commented on #8251
What was the error in the browser? These errors in the server are expected if the client does not trust the server's certificate and aborts the connection. See https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-https-improvements/ for trust.

[2018-08-10 17:07] dougbu commented on #8252
Very simple. Just need to add an attribute to the test methods.

[2018-08-10 17:10] ryanbrandenburg commented on #8243
@SmGG, if you modify `~\.dotnet\buildtools\korebuild\2.2.0-preview1-17091\modules\KoreBuild.Tasks\module.targets` to replace:
[code]
with
[code]

that should do it. How big that number is depends on how fast your internet is.

[2018-08-10 17:18] SIkebe commented on #8252
`ReplaceCulture`?

[2018-08-10 17:39] #8236 closed

[2018-08-10 17:48] SmGG commented on #8243
@ryanbrandenburg  so it is a network problem?
 I run build.cmd again just now,
First, I still got the timeout problem,
Then, I try to download the dotnet-runtime-2.2.0-preview1-26618-02-win-x64.zip manually,
At the same time, I change the config, add the TimeoutSeconds=3600,
I run it again, found out it should be written like this TimeoutSeconds="3600",
I run it another time, and I don't know how

[2018-08-10 17:52] ryanbrandenburg commented on #8243
Glad we could help. Yeah, most likely you had a slow network, or a spotty connection between your network and where the runtime is hosted.

[2018-08-10 17:52] #8243 closed

[2018-08-10 17:58] NTaylorMullen commented on #8245
Thanks for giving that a try @OrihuelaConde! I feel as though this is definitely a bug then. I'll mark it as so and let the higher powers decide if it's something we want to tackle 😄

[2018-08-10 18:08] Tratcher commented on #8251
Interesting. I just noticed that last error "Cipher Suite negotiation failure".

I found another report of this error at https://developercommunity.visualstudio.com/content/problem/297841/kestrel-failed-to-authenticate-https-connection-on.html

@davidsh have you seen this with SslStream on Mac?

[2018-08-10 18:30] kichalla commented on #8254
cc @jkotalik

[2018-08-10 18:32] jkotalik commented on #8254
Seems like a bug, will look into it in the 2.2 timeframe.

[2018-08-10 19:28] dougbu commented on #8252
Adding `[ReplaceCulture]` is the correct approach. And, sure, you can send a PR.

Please sync your fork to the `release/2.2` branch and use that when doing the work.

[2018-08-10 19:28] dannyhaak commented on #8221
@dougbu Thanks for your quick reply. Please find attached my Start-up class. The controller is very simple:
[code]

Curious whether you can find something.

[Startup.cs.zip](https://github.com/aspnet/Mvc/files/2279212/Startup.cs.zip)

[2018-08-10 21:04] mkArtakMSFT commented on #8252
Great, please assign an appropriate cost label and it's all yours.

[2018-08-10 22:44] caseylobrien commented on #8250
@javiercn So far I have been able to figure out all the nuances of the Mvc solution so far, but run the Tests (by executing `build.cmd /p:NoBuild=true`) I get the following error:

`C:\Users\Casey\.dotnet\buildtools\korebuild\2.2.0-preview1-20180731.1\modules\NuGetPackageVerifier\module.targets(37,5): error : SignRequestManifest file F:\OpenSource\Mvc\artifacts\signrequest.xml does not exist. [C:\

[2018-08-10 22:49] mkArtakMSFT commented on #8247
@dougbu, isn't this an effect of https://github.com/aspnet/Mvc/issues/7712 ?

[2018-08-10 23:15] mkArtakMSFT commented on #8254
@jkotalik, should this be moved to a different repo?

[2018-08-10 23:16] jkotalik commented on #8254
Home with the tag BasicMiddleware.

[2018-08-10 23:16] dougbu commented on #8247
@mkArtakMSFT this is not directly related to #7712.

@kakins you're combining two Mvc features that are not intended to work together. `[ApiController]` adds new conventions specific to API controllers while your controller is a view controller.

That said, you seem to appreciate the `ModelStateInvalidFilter`. Suggest adding that instead of trying to use `[ApiController]` for views e.g.
[code]

--

[2018-08-10 23:16] jkotalik commented on #8254
Oops: just BasicMiddleware.

[2018-08-11 01:50] kakins commented on #8247
@dougbu I guess I'm a _little_ confused on what you mean by a view controller?  My controller is indeed supposed to be an API controller, no views are being returned -- and by that I mean nowhere am I returning `View()`.  I also inherit from `ControllerBase` per the documentation for the new conventions.

You may be inferring that I am using a view controller by my use of a "view model"?  If so, k

[2018-08-11 03:28] gsdnano commented on #8254
This can be reproduced by taking the example at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/url-rewriting?view=aspnetcore-2.1&tabs=aspnetcore2x and commenting out the app.Run command at the end of the Configure function. The url rewrite example will then 404 no matter the replacement url. This is using core 2.1 and Microsoft.AspNetCore.Rewrite 2.1.1.

[2018-08-11 03:44] dougbu commented on #8221
@dannyhaak no down-casts involved but the problem is pretty clear. Your `Startup` uses a hand-constructed setup similar to `MvcBuilder.AddXmlSerializerFormatters()`. `XmlSerializer` has a known inability to serialize or deserialize `IDictionary<TKey, TValue>` properties like the `ValidationProblemDetails.Errors` property. (MVC contains a workaround for all top-level `IEnumerable<>` models but that

[2018-08-11 03:46] dougbu commented on #8221
FYI I've relabeled this a `question`.

[2018-08-11 06:00] lonix1 commented on #8254
Once this bug is resolved, please also give us some guidance (or better yet, update the docs) about the implications of putting this before/after/between `app.UseStaticFiles()` and `app.UseMvc()`, or whether it should be at the beginning/end of `Configure()` i.e. the beginning/end of the pipeline.

[2018-08-11 08:30] khellang commented on #8247
Are you always including `CurrentPageNumber` and `ItemsPerPage` in your query strings? If not, I'd make them nullable.

[2018-08-11 11:49] caseylobrien commented on #8250
Curious, this morning after running the test suite a few more times the `signrequest.xml` file is now there and the tests run without error. Still skipping 8 tests though. @javiercn @ajaybhargavb Thanks for looking into the error!

[2018-08-11 19:55] dannyhaak commented on #8221
@dougbu Thanks for the thorough explanation - and sorry for raising this as a bug. Unfortunately, I cannot use `XmlDataContractSerializer` for other reasons. I have created a work-around in which I extend ProblemDetails with a List of errors, fill it in `InvalidModelStateResponseFactory` and that seems to work fine for both XML and JSON. I am also using `AddXmlSerializerFormatters()` right now. Th

[2018-08-11 20:01] #8252 closed

[2018-08-11 20:02] dougbu commented on #8252
1cae9b2658

[2018-08-11 20:27] dougbu commented on #8247
@kakins you're correct I was confused by your "view model" types.

What you're doing should **Just Work:tm:** because `[FromQuery]` will override the `BindingSource.Body` inference. As @khellang suggests, `http://myurl.com/api/controller?currentPageNumber=3&itemsPerPage=15` should silence the most likely model binding errors (`int` properties are implicitly required).

If other errors occur, pleas

[2018-08-11 20:28] #8221 closed

[2018-08-12 05:03] abatishchev opened #8259 "If exception occurs in AuthorizationHandler then ExceptionFilter doesn't catch it"
#### Is this a Bug or Feature request?:

Bug or by design?

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

[code]

#### Description of the problem:

I have an authorization handler that might throw an exception. By having the exception filter preceding the authorization filter, I would expect the exception to be cough by the exception filter but this doesn't ha

[2018-08-12 06:44] khellang commented on #8259
IMO, that should always be middleware outside MVC. See https://codeopinion.com/http-api-problem-details-in-asp-net-core/

[2018-08-12 10:35] dustinmoris commented on #4599
Just read the entire thread and I am pretty disappointed that this hasn't been fixed at all.

Currently an ASP.NET Core application will behave entirely differently depending on where it is being run:

Kestrel: Decodes partially (WTF!???)
WebHostBuilder (for testing): Decodes everything
IIS: Decodes everything?

Since we all agree that we don't want Kestrel to become as shit as IIS and therefore n

[2018-08-12 10:54] dustinmoris commented on #4599
One more thing, the current implementation makes web applications do funny logic, which is really not obvious to anyone who didn't study this thread.

For example, a developer might implement some logic which will find and replace all `%2F` in a route argument to `/` and afterwards a different dev who comes across the code might scratch his head thinking what is this odd behaviour. The new dev wil

[2018-08-12 15:48] denis-pujdak-adm-it commented on #6549
My temporary solution:
[code]
Please correct me if I am doing something weird in the code or there is some better solution.

[2018-08-12 21:33] snakefoot commented on #4910
[NLog.Extensions.Logging ver. 1.2.1](https://www.nuget.org/packages/NLog.Extensions.Logging/) has been released that improves support for BeginScope across Assembly-boundary. See also https://github.com/NLog/NLog.Extensions.Logging/pull/232

Please update to make RDLC work together with AspNetCore and NLog.

[2018-08-13 00:25] werynguyen opened #8260 "MemoryPoolViewBufferScope Dispose result in System.ArgumentNullException: Value cannot be null"
#### Is this a Bug or Feature request?:
Seem like a bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
After migrating our high traffic aspnetcore app to Core 2.1.2, we start receiving this error
[code]
#### Description of the problem:
This happen about once every 5000 requests and very intermittently. We thought that this could be a concurrency locking issue a

[2018-08-13 04:28] jonasarcangel commented on #8082
Hi. Sorry for the late reply.

I have a Prerendered SPA in Angular, and I am converting the ASP.Net Identity Razor pages to Angular. I need to have the Antiforgery Token passed through API requests instead of inserting them in the Razor page.

[2018-08-13 04:45] tb-mtg opened #8261 "Razor Pages intellisense for Static Files outside wwwroot"
Is it possible to still have intellisense in razor pages (.cshtml) if I add another static file provider as shown below.  Currently intellisense only show files inside wwwroot.

[2018-08-13 06:37] sakopov commented on #6767
As far as I understand this is still not available, is this correct?

[2018-08-13 15:49] Tratcher commented on #4599
Comments on closed issues are not tracked, please open a new issue with the details for your scenario. E.g. which specific encoded characters are you having trouble with?

[2018-08-13 16:54] mkArtakMSFT commented on #8261
@NTaylorMullen can you please answer this question? Thanks!

[2018-08-13 16:56] mkArtakMSFT commented on #8254
This issue was moved to aspnet/BasicMiddleware#355

[2018-08-13 16:56] #8254 closed

[2018-08-13 17:27] CzechsMix opened #8262 "WebApplicationFactory calls Startup.ConfigureServices after ConfigureWebHost blowing away testing configuration."
#### Is this a Bug or Feature request?:
Either bug or I'm not using as intended.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Create subclass of WebApplicationFactory<TStartup>
2. Override WebApplicationFactory.ConfigureWebHost and configure testing specific services
3. Debug tests with breakpoints in TStartup.ConfigureServices

#### Description of the pro

[2018-08-13 17:43] mkArtakMSFT commented on #8260
Thanks for contacting us, @werynguyen.
@pranavkm, can you please look into this? Thanks!

[2018-08-13 17:44] mkArtakMSFT commented on #8260
@werynguyen, In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-08-13 17:49] mkArtakMSFT commented on #8262
Thanks for contacting us, @CzechsMix.
@javiercn. can you please look into this? Thanks!

[2018-08-13 18:00] colangelo-david opened #8263 "Filter not setting response code"
#### Bug

There seems to be an issue setting response codes with filters in dotnet core

#### Steps to reproduce

The code Im using is (generally as follows)

The filter
[code]

The custom Action
[code]

For a complete picture, the endpoint in the controller

[code]

#### Description

Everything seems to be operating more or less fine however there seems to be a response code error. With the above

[2018-08-13 18:01] mkArtakMSFT commented on #8259
Thanks for contacting us, @abatishchev.
The behavior you observe is by design. The image in the following docs article shows the order in which different types of filters are executed: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1
As you can see, the Authorization filters are executed well in advance from Exception filters, hence the Exception filters hav

[2018-08-13 18:01] #8259 closed

[2018-08-13 18:21] rynowak commented on #6767
Correct, there has been no change in this area and no will be no change in 2.2

[2018-08-13 18:42] NTaylorMullen commented on #8261
@tb-mtg, it's definitely not possible via the Startup class. It might be possible via another tooling configuration however. @madskristensen do you happen to know if there's a tooling configuration approach that lets you configure additional static file intellisense?

[2018-08-13 19:11] madskristensen commented on #8261
@NTaylorMullen I'm not aware of that, but @BillHiebert might know?

[2018-08-13 19:26] BillHiebert commented on #8261
You can tell VS which folder to use by setting the WebRootFolder property in the csproj project file.

`<WebRootFolder>MyPages</WebRootFolder>`

[2018-08-13 20:29] davidsh commented on #8251
No, I haven't seen this.

[2018-08-13 20:42] javiercn commented on #8262
@CzechsMix Thanks for reaching out.

ConfigureServices always gets called before Startup.ConfigureServices. I imagine that what you are doing is configuring some options type, for that. You can use ConfigureTestServices which will run after Startup.ConfigureServices.

Beware that there are some limitations on where ConfigureTestServices can be used, but as long as your Startup.ConfigureServices me

[2018-08-13 20:42] #8262 closed

[2018-08-13 21:01] Tratcher commented on #8251
This issue was moved to dotnet/corefx#31749

[2018-08-13 21:01] #8251 closed

[2018-08-13 21:34] mkArtakMSFT commented on #8159
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-13 21:34] #8159 closed

[2018-08-13 21:44] CzechsMix commented on #8262
That appears to be exactly what I'm looking for, thank you!

[2018-08-13 21:52] mkArtakMSFT commented on #8245
@OrihuelaConde, would you be interested in sending us a PR for this?

[2018-08-13 22:25] mkArtakMSFT commented on #8082
/cc @javiercn

[2018-08-13 23:16] javiercn commented on #8082
@jonasarcangel I don't think the scenario you are trying to implement is something we support in Identity out of the box. My general recommendation would be that you switch from using cookies in identity to use JWT and that you use JWT Bearer on your API endpoints for the Identity APIs.

Does that make sense?

You shouldn't need to use the antiforgery middleware either in your app. Most likely wha

[2018-08-14 00:33] javiercn commented on #8082
@brockallen Yep.

[2018-08-14 01:39] pranavkm commented on #8263
Your custom action isn't overriding [`ExecuteResult`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.actionresult.executeresult?view=aspnetcore-2.1). Perhaps that's your issue?

[2018-08-14 07:37] nabinkjha commented on #8159
Hi,
Thanks for the answer. It seems that the model binding for GET will only work when the date time is in US format and for all other cultures bespoke code has to be written to get the DATE in correct format for GET (POST works fine) method.

[2018-08-14 12:50] alexdresko opened #8267 "[FromBody] inference for simple types"
Both https://github.com/aspnet/Mvc/blob/504da3c565a9a159365b4564dba5f2cd7d059e7f/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L229 and https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.1#binding-source-parameter-inference confirm that `[FromBody]` is only inferred for complex types.

Why is that? Can the logic be enhanced to search the bod

[2018-08-14 13:13] kjbetz commented on #8267
Maybe you know this and are asking that they add more to make it better...

But, if needed you can add `[FromBody]` to a parameter and it will pick it up.

[2018-08-14 13:35] alexdresko commented on #8267
@kjbetz Correct. I'm aware of the fix, but it wasn't obvious at first. I thought we'd be able to just remove all instances of `[FromBody]` from our application and it would continue to work as it always has. I've already submitted a PR in an attempt to clarify the documentation. At this point, I'm just curious if the functionality can be changed. And, if not, why.

Thanks for clarifying my origina

[2018-08-14 16:11] kjbetz commented on #8267
@alexdresko Ahh... maybe I need to re-read some of the updated 2.1 stuff too. I know they improved some things, but at a quick glance it didn't fix what I'm trying to do too. I have complex types and I decorate them with both `[FromRoute]` and `[FromBody]` to get the parameters I need.

[2018-08-14 16:35] mkArtakMSFT commented on #8235
Sure 123 was an example.
Here is more context. The `Value` property your are looking for is defined on the `ObjectResult` and not the `ActionResult`. So we'll need to cast it to ObjectResult and assign then only assign the `Value`. All that adds up unnecessary complexity to the current implementation, which we think is not something of great value.

[2018-08-14 16:45] pranavkm commented on #8267
The goal of parameter inference is meant to be easy to reasonable and intuitive. The problem with any form of fallback behavior makes it difficult to reason about the parameter source. Additionally, we want to be able to document ApiControllers using ApiExplorer \ OpenAPI. [The Swagger spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object) doesn't allow as

[2018-08-14 16:46] pranavkm commented on #8263
Closing because this looks like a bug in your code. Feel free to reopen if you have further questions.

[2018-08-14 16:46] #8263 closed

[2018-08-14 16:58] gortok opened #8268 "CSRF Redirect Link in Fresh .NET Core 2.1.302 SDK ASP.NET Core template is incorrect"
#### Is this a Bug or Feature request?:

Bug
#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. Create a new ASP.NET Core web application using the .NET Core 2.1.302 SDK (reproducible on Mac OS command line and on VS 2017 15.7.6) using the following command:

[code]

2. Go to the `ValuesController.cs` file, and make note of the following text:

[code]
3. Click o

[2018-08-14 17:03] gortok opened #8269 "Web API Template with Windows Authentication in .NET Core SDK 2.1.302 does not generate a Windows Authentication template"
#### Is this a Bug or Feature request?:

Bug.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1.  run the following command with .NET Core SDK 3.1.302 from Mac OS or select New Project -> ASP.NET Core Web Application -> Authentication -> Windows Authentication in VS 2017 15.7.6
[code]
2. Observe that no Authentication controller or Authentication attributes are

[2018-08-14 17:12] gortok opened #8270 "MVC Core Template set to operate with Windows Authentication in Visual Studio 15.7.6 does not generate a template that uses Windows Authentication"
#### Is this a Bug or Feature request?:

Bug
#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1.  Open Visual Studio 2017 15.7.6.
2. Click "New", "ASP.NET Core-> MVC (Model/View/Controller)",
3. click "change authentication" -> "Windows Authentication",
4. click "OK".
#### Description of the problem:

The generated project template does not include any bits necess

[2018-08-14 17:39] javiercn commented on #8269
@gortok I think you might be using an older version of the templates. (Not sure how or why). This was fixed as part of https://github.com/aspnet/Templating/commit/74883b2cf035ae0a05d99cc125ce352eade66d40 and I've validated that it's fixed in the current SDK.

Maybe @natemcmaster can shed some light on what's going on here?

[2018-08-14 17:51] javiercn commented on #8269
@gortok I chatted with @natemcmaster and he can't reproduce the issue either. We've also confirmed that the fix was on more than one patched version (2.1.1 and so on) so I think something is likely wrong on your setup.

I would recommend you download the latest version of the SDK and repair your installation. After that try again and if it still reproduces for you. Remove the folder in "%userprofi

[2018-08-14 18:27] gortok commented on #8269
I get the desire to close this quickly; but it seems jarring. Especially since I *Just* (today, right before filing this bug) updated both my .NET Core MacOS and the Visual Studio tooling for .NET Core (by updating visual studio).

[2018-08-14 18:30] vivmishra commented on #8206
Approved for 2.1.5.

Wait for the branch to open.

[2018-08-14 18:30] gortok commented on #8269
.NET Core --info (MacOS):
[code]

This is the version available for download from: https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.302-macos-x64-installer

Visual Studio version:

15.7.6 (again, updated today).

[2018-08-14 18:34] colangelo-david commented on #8263
@pranavkm

im a bit confused, my custom action result does override `ExecuteResult` (see code above, this is where im hard setting the response code as 403)  and my understanding is that the filter does not over ride that. Where should I be overriding `ExecuteResult` that im not?

[2018-08-14 18:45] pranavkm commented on #8263
Should be something along the lines of

[code]

[2018-08-14 19:10] javiercn commented on #8269
@mlorbetske @natemcmaster  Can you help out here?

For comparison, this is the output from my installed dotnet --info
[code]

I think your machine has an older version of the SDK. Not sure why.

[2018-08-14 19:12] dougbu commented on #8206
#8272 is now open

[2018-08-14 19:12] gortok commented on #8269
Yes, my SDK was installed today, from the Mac OS link on the dotnet core download SDK.

[2018-08-14 19:16] dougbu commented on #8206
&hellip; and #8272 is now approved

[2018-08-14 19:25] javiercn commented on #8269
@gortok Have you tried removing the .templateengine folder from the user profile? (It should autorepair).

You should be seeing 2.1.400 if you had the latest bits, either something went wrong on the installation or the link on the download page is not correct.

In any case, this is not really an MVC issue but a templating engine issue, as you are likely seeing an older version of the templates eve

[2018-08-14 19:34] dougbu commented on #8206
Moved to correct milestone -- 2.1.5

[2018-08-14 19:43] natemcmaster commented on #8269
@javiercn 2.1.400 is part of the [VS 15.8](https://blogs.msdn.microsoft.com/visualstudio/2018/08/14/visual-studio-2017-version-15-8/) which was just announced a few hours ago. I wouldn't expect this to make a difference as it contains the same templates as the 2.1.302 SDK.

[2018-08-14 20:19] mgolois opened #8273 "aspnet:MaxJsonDeserializerMembers in asp.net core"
Hello,

I'm currently migrating from apps from .net framework 5, asp.net mvc 4 to .net core asp.net mvc.
I would like to know if there are equivalence in .net core for settings like:

- aspnet:MaxJsonDeserializerMembers
- UnobtrusiveJavaScriptEnabled

Thanks

[2018-08-14 20:28] javiercn commented on #8269
@gortok Don't worry. We'll move it when we have to. We have looped in the right people.

[2018-08-14 20:37] mkArtakMSFT commented on #8273
Thanks for contacting us, @mgolois.
@pranavkm, can you please answer this question?

[2018-08-14 20:37] gortok commented on #8269
Outside of ensuring Visual Studio was up to date; I also manually installed the .NET Core CLI for Windows and tried again; same result as above.  Here's the `dotnet --info` from that:

[code]

[2018-08-14 21:11] pranavkm commented on #8273
*  aspnet:MaxJsonDeserializerMembers

@JamesNK, is there an equivalent setting for `aspnet:MaxJsonDeserializerMembers`. From the docs,

Applying `MaxLengthAttribute` would produce a validation error, but it doesn't look like it affects deserialization.

* `UnobtrusiveJavaScriptEnabled` - [`HtmlHelperOptions.ClientValidationEnabled`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.

[2018-08-14 21:53] gortok commented on #8269
I also rm -rf’d The template engine directory on Mac, to no effect. Will try with the windows side and see if that works.

[2018-08-14 22:14] mkArtakMSFT commented on #8270
Thanks for contacting us, @gortok.
Can you please share the output from the `dotnet --info`?

[2018-08-14 22:41] mkArtakMSFT commented on #8268
Thanks for contacting us, @gortok.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-08-14 22:42] mkArtakMSFT commented on #8268
This issue was moved to aspnet/Templating#675

[2018-08-14 22:42] #8268 closed

[2018-08-14 22:45] #7753 closed

[2018-08-14 23:09] pranavkm opened #8274 "Update Mvc functional tests to target latest compatibility version"
Update MvcTestFixture to use `CompatibilityVersion.Latest`. (See https://github.com/aspnet/Mvc/blob/release/2.2/test/Microsoft.AspNetCore.Mvc.FunctionalTests/Infrastructure/MvcTestFixture.cs#L31)

Currently blocked by failing endpoint routing tests

[2018-08-14 23:09] pranavkm commented on #8274
cc @rynowak \ @kichalla

[2018-08-14 23:14] pranavkm commented on #8274
See PR: https://github.com/aspnet/Mvc/pull/8275

[2018-08-14 23:34] gortok commented on #8270
@mkArtakMSFT that’s what the comments above show, for both windows and mac

[2018-08-15 01:07] gortok commented on #8270
Sorry, I left those comments in this ticket: https://github.com/aspnet/Mvc/issues/8269#issuecomment-413004801 I’ll paste them here too when I get a chance.

[2018-08-15 02:11] Andrioden commented on #7826
I case anyone didnt read the response over in details, this works:

C#
[code]

HTML
`<a asp-page="..." asp-all-route-data="routeData">SomeLink</a>`

[2018-08-15 03:12] NickStrupat commented on #7512
This still happens with `Microsoft.AspNetCore.OData` 7.0.1

[2018-08-15 03:34] dougbu commented on #8247
@kakins thank-you for your feedback. We're closing this issue as the questions asked here have been answered.