[2016-06-22 15:51] rynowak commented on #4897
/cc @pranavkm

[2016-06-22 17:05] dougbu commented on #4880
@darrensteadman your original question was specifically about attribute routing. However your "Old Web API" project is using conventional routing, including a few conventions we haven't pulled into ASP.NET Core MVC.

In any case you have a few options.

1. Add a custom routing constraint that rejects matches based on the `routeContext.HttpContext.Request.QueryString` or `...Query`.
2. Change the r

[2016-06-22 17:07] dougbu commented on #4880
Side note: The `[Route()]` change just avoids having two distinct templates match a request. In 2. and 3., you want action selection to make the final choice.

[2016-06-22 17:12] Eilon commented on #4891
@Tratcher any idea on this?

[2016-06-22 19:31] ElvisHalil opened #4898 "TagHelpers issue with Login page RC1 - RC 2 Migration"
I just recently migrated to full RC 2 asp.net core stack including identity and entity framework.

I have a login page that was working fine before the migration.  I had some issues with configuring Identity after the migration but I have resolved those.  My issue now is that when I try to access the login page which has the following code:

[code]

The issue is with the following line:

`@addTagH

[2016-06-22 19:44] TheTechArch commented on #4890
@rynowak

I ended up with a requirement like this

    public class InstanceAccessRequirement: IAuthorizationRequirement
        {
        public InstanceAccessRequirement(ActionType actionType)
        {
            this.ActionType = actionType;
        }

        public ActionType ActionType { get; set; }
    }

A handler like this

[code]

Startup configuration like this
[code]

And a controlle

[2016-06-22 20:14] TheTechArch commented on #4890
@rynowak I realize I have one more concern.

In AuthorizationAttribute i was able to controll where to send the user when authorization failed.

We have some complex requirement that in some cases that users are authorized to access the resource, but does not currently have a high enough authentication level forcing the user to upgrade.

We then redirect the user to reauthenticate with higher leve

[2016-06-22 21:09] blowdart commented on #4890
A correction to @Muchiachio. You don't have to inject the context. It's already there. It's even documented, https://docs.asp.net/en/latest/security/authorization/policies.html#accessing-request-context-in-handlers

@TheTechArch the answer is it depends. If, for example, you're using cookie auth, that reacts differently to 401s and 403s. That can be configured in the cookie auth options. It's ther

[2016-06-22 21:13] blowdart commented on #4890
And yes, I take your point that ideally you'd auth outside, but ending up recreating binding, and ending up doing it twice was too painful and big a performance hit to take.

[2016-06-22 21:43] ElvisHalil commented on #4898
I fixed this issue... the problem was my quotations... a little ridiculous but FIXED!

`@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers`

[2016-06-22 21:43] #4898 closed

[2016-06-22 22:01] TheTechArch commented on #4890
@blowdart

In our current Authorization Attribute we have implemented the code to handle the redirect to the correct url in HandleUnauthorizedRequest(AuthorizationContext filterContext)

If user is not authorized we redirect to a common "not authorized page".

If user is authorized, but does not have a sufficient authentication level we redirect the user to the Authentication page with information

[2016-06-22 22:06] blowdart commented on #4890
Adding @HaoK as he understands the cookie middleware better than I.

If you're using the cookie middleware there are events, OnRedirectToLogin and OnRedirectToAccess denied which might serve.

There shouldn't be a performance hit in getting the context that way.

[2016-06-22 23:00] BrennanConroy commented on #4896
You should probably post this at https://github.com/aspnet/EntityFramework

[2016-06-22 23:04] Tratcher commented on #4891
It works fine at the HttpRequest layer:
[code]
It something failing in the model binding? Model validation perhaps?

[2016-06-22 23:38] Tratcher commented on #4891
FYI: I can't repro this with the latest nightly build. I get the TestObject with Search = `+`. It only breaks if I start with `?search=+&other=2`.

[2016-06-22 23:55] rynowak commented on #4891
The problem here is that having search in the parameter name and in the model class confuses model binding. It doesn't know how many times to recurse, it's trying to bind `search.options` and `search.search`.

@WillRock19 if you put `[Bind("")]` on your parameter it will do what you want.

[2016-06-23 06:31] techcap commented on #4818
@pompomJuice Thank you. It works great.

https://github.com/dotnet/cli/issues/3197

[2016-06-23 11:48] TheTechArch commented on #4890
@blowdart  @HaoK

Digging a little deeper in to the Security and HttpAbstractions projects my understanding is that it is the CookieAuthenticationHandler that performs the redirect with the following code.
[code]
Is there a way for us to simple override this method? (And still use the CookieAuthentication)
If we could do that we could put needed values om HttpContext in our AuthorizationHandler an

[2016-06-23 12:47] TheTechArch commented on #4890
Thanks @blowdart

I tried to override the event in cookie authentication with a custom class

 Events = new CookieAuthenticationEvents
                {
                    OnRedirectToAccessDenied = NotAuthorizedHandler.RedirectToNotAuthorized
                }

And since i have access to HttpContext and the request this seems to cover my last concern.

Just tried it out and i was able to send us

[2016-06-23 12:47] #4890 closed

[2016-06-23 13:00] barynov commented on #4897
I am facing the same issue. My integration tests use `TestServer` to start the host with REST methods, obtain an `HttpClient` instance and make HTTP requests. The tests worked fine using RC1 but do not work using RC2. Actual actions are not called, status 404 is just returned for all URLs. Controllers are placed in a separate assembly, so maybe they are not detected correctly, but the same control

[2016-06-23 13:07] ivaylokenov commented on #4897
I am facing the same issues with my library - https://github.com/ivaylokenov/MyTested.AspNetCore.Mvc and lost more than 4 hours debugging this.

Problem is with `dotnet test` - DependencyContext does not return all dependencies and MVC cannot find controllers from the other than the current assembly (the web project is the other assembly here). It is interesting that with Visual Studio test runner

[2016-06-23 14:41] NGancevich opened #4900 "How to UseFacebookAuthentication (and other external services) for miltiple domain site"
Hello I have site that has multiple domains. For instance example.com, example.gb .... All these domains are linked to one site. I need something like this

[code]

but depending on domain name. Or may I can implement this using filters.

[2016-06-23 14:46] pranavkm commented on #4897
@hikalkan, could you point me to the implementation of AbpAspNetCoreIntegratedTestBase? I'd like to see how you're setting up the `TestServer`.

[2016-06-23 14:48] hikalkan commented on #4897
Sure, it's actually simple: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore.TestBase/AbpAspNetCoreIntegratedTestBase.cs

[2016-06-23 14:53] pranavkm commented on #4897
It might be a result of https://github.com/aspnet/Mvc/issues/4555. `DependencyContext` does not preserve transitive dependency information for secondary references and we worked around this in RTM.

Could you try pointing to our RTM bits (`https://dotnet.myget.org/gallery/aspnet1`) and see if your issue is addressed? These packages should become available on NuGet.org by next week.

[2016-06-23 14:56] hikalkan commented on #4897
OK, I will try it, thanks.

[2016-06-23 15:20] hikalkan commented on #4897
It will be better for me to wait packages on nuget. Because, I'm getting some unrelated exceptions after upgrading to myget packages (I just upgraded it from my test project and it produces assembly redirect exceptions, type not found exceptions and so on..)
After it's fully released, I will be one of the first testers :)

[2016-06-23 15:30] pranavkm commented on #4897
Fair enough. The feed that I pointed to is meant to reflect the closure of packages that will be uploaded to NuGet.org as part of RTM. If you see issues with it now, its likely you'll see them once you're on NuGet.org. If it's a problem with the packages, we'd love to know sooner.

[2016-06-23 15:32] hikalkan commented on #4897
Hmm.. OK, I will upgrade also dependent projects and will inform you about the result.

[2016-06-23 15:47] rynowak commented on #4897
@hikalkan - a workaround that you could deploy immediately would like something like this (in your startup code).

[code]

This overrides the auto-discovery of controllers, and tells MVC to look for controllers **only** in the project containing your startup class.

[2016-06-23 15:48] hikalkan commented on #4897
This is what I was searcing for.. thanks a lot :)
Meanwhile, I'm trying to upgrade all my projects to see if there is a problem.

[2016-06-23 15:52] barynov commented on #4897
The workaround works for me to, thanks!

[2016-06-23 16:17] hikalkan commented on #4897
The workaround worked for me too, thanks, but there is another problem now: It can not find the View if action returns a view. This is probably because adding a reference to Web project (which contains views) from test project does not copy views to the project output. If I return simply Content, no problem. Do you know a solution for that?

[2016-06-23 16:31] pranavkm commented on #4897
You need to specify the `ContentRoot` to point to your website's root directory. See https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.FunctionalTests/MvcTestFixture.cs#L38

[2016-06-23 16:31] dougbu commented on #4819
The repro project contained a number of bugs. I opened rontran/ModelBinding#1 with a few fixes. I'll also check #4703 to see any recommendations are misleading.

I didn't see "Cannot create an instance of an interface." errors but the model binder provider would overflow the stack.

[2016-06-23 16:33] hikalkan commented on #4897
Oh, thank you very much for pointing that.

[2016-06-23 16:44] dougbu commented on #4703
Updated https://github.com/aspnet/Mvc/issues/4703#issuecomment-221054383 code to correct a couple of issues and use RC2 APIs.

[2016-06-23 16:44] cjqian commented on #4813
cc @NTaylorMullen

[2016-06-23 19:30] hikalkan commented on #4897
Beside workarounds, I'm really interested in making RTM version working since I want to provide feedback about potential problems.
Finally, I'm getting this error on appveyor (https://ci.appveyor.com/project/hikalkan/aspnetboilerplate/build/1.0.191):

[code]

My project is **.NET 4.6.1** and it's project.json is here: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev-aspnetcore1/test

[2016-06-23 19:37] pranavkm commented on #4897
You have to update to the RTM CLI. Grab the latest for your platform from here - https://github.com/dotnet/cli#installers-and-binaries.

[2016-06-23 19:42] hikalkan commented on #4897
Thank you. I'm downloading .NET Core SDK Installer.

But, notice that ".NET Core Installer" link is somehow broken: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-win-x64.latest.exe

When I enter this URL, result is:

[code]

[2016-06-23 20:04] hikalkan commented on #3243
This is still a problem for me. While it's actually working when I run the application, it has some intellisense problems.

I've a base class like that:

[code]
First intellisense problem is in _ViewImports.cshtml:

![inherit-01](https://cloud.githubusercontent.com/assets/1210527/16318142/68d447fa-3996-11e6-9222-6f7e7111d31e.png)

TModel is red, as you see.

Second one is in views. It does not reg

[2016-06-23 20:35] rynowak commented on #4893
Here's a gist of something that improved the performance for the customer https://gist.github.com/rynowak/295ff44e4383a5b6f320bbdd665cc073

For a 'real' fix we should write a custom `TextWriter` so we don't tripple-buffer.

[2016-06-23 20:56] pranavkm commented on #4897
Try https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/1.0.0-preview2-003121/dotnet-dev-win-x64.1.0.0-preview2-003121.exe. The `rel-1.0.0` channel is for post RTM.

[2016-06-23 20:58] hikalkan commented on #4897
Thanks for your valuable time, I'm downloading it.

[2016-06-23 23:49] pranavkm opened #4902 "OptimizationLevel specified in the dependency context \ primary assembly's project.json is never used when compiling views"
`DependencyContextViewEngineOptionsSetup` and `RazorViewEngineOptionsSetup` modify compilation options - the first based on what's specified in the dependency context and second based on `IHostingEnviornment.EnvironmentName`. However the former setup's option values are always overwritten by `RazorViewEngineOptionsSetup` which runs second.

Additionally, the value set in `OptimizationLevel` determ

[2016-06-24 01:38] Bartmax opened #4903 "BUG: [Display(Prompt="...")] not working on textarea elements."
Model:
[code]

Using input:
*`placeholder` attribute render correctly*
[code]

Using textarea:
*`placeholder` attribute missing from output*
[code]
![image](https://cloud.githubusercontent.com/assets/3386797/16325157/ee79702e-3991-11e6-983f-15ee4e189c5b.png)

Expected:
Both textarea and input should have the `placeholder` attribute populated.

[2016-06-24 06:01] rynowak commented on #4902
What's the impact of this? Does this mean we're compiling optimized views for Debug and un-optimized for Release?

If I'm a user and I want to correct this setting, what's my best bet?

[2016-06-24 14:14] jods4 commented on #4146
@rynowak I think you should reconsider this.
I was bitten by it today in RC2.
`StringOutputFormatter` writes returned string verbatim to the output.
But this makes no sense:
[code]

As you can see, the server does advertise that it is serializing JSON in `Content-Type` but the response body is _not_ JSON. Also, the client requested JSON exclusively but gets a 200 OK with no JSON content.
This can

[2016-06-24 14:33] pranavkm commented on #4902
@rynowak - the current behavior is `Development` -> `Debug`, `Staging` \ `Production` etc -> `Release`, so it's not entirely too bad. However, if you had `"optimize": true` in your project.json while in `Development`, views would continue to compile in `Debug`. You can use the `RazorViewEngineOptions.CompilationOptions` to change this:

[code]

[2016-06-24 14:47] rynowak commented on #4146
I agree, this doesn't seem right or useful.

[2016-06-24 16:06] dougbu commented on #4903
A small feature gap. We implemented support for `placeholder` only in `<input>` elements i.e.`DefaultHtmlGenerator.GenerateTextArea()` lacks code we have in `DefaultHtmlGenerator.GenerateInput()`.

[2016-06-24 17:06] pedrommuller opened #4904 "Getting 404 on IRouter implementation"
hey guys,

I've been trying to create a custom route, for dynamic URLs basically I just want to pull a list from a database and if there's any coincidence then map the route to a generic controller / action.

Something like:
`mydomain.com/dynamic-title-here -> langingPage/Index/10`

I've been looking for the documentation but some is either outdated or incomplete, so far I've implemented something

[2016-06-24 17:25] ivaylokenov opened #4905 "Are there any rules for community related projects?"
Hi, guys! I want to ask whether there are any rules for the featured community related projects in the README (besides the fact that they should have something in common with ASP.NET Core MVC). Also how can a developer submit a project for a review and a featured link there? I believe in the near future a lot of packages will emerge and some sort of easy submit process may be helpful, if you want

[2016-06-24 17:29] mkarlsson commented on #4588
I have this problem since upgrading to RC2, but only when publishing to Azure. Vijay Ramakrishnan have been helping me problem solving the problem but only removing the Require attribute solved the issue. I have a customer that need help upgrading in the coming weeks so if anyone knows a workaround to get RequireHttps attribute to work on RC2(worked for months on beta8 and RC1) please let me know.

[2016-06-24 17:41] Tratcher commented on #4588
@mkarlsson see https://github.com/aspnet/IISIntegration/issues/140#issuecomment-215135928 for Azure https issues.

[2016-06-24 18:01] rynowak commented on #4904
You need to set `context.Handler` to something we can invoke. If you're trying to route to MVC, I'd suggest the following.

When you create `LandingPageRouter`, capture the value of  `IRouteBuilder.DefaultHandler`. This will be an instance of `MvcRouteHandler`. After you update the route values call the `RouteAsync` method on the default handler. This will run MVC's action selection and set `conte

[2016-06-24 18:11] cjqian opened #4906 "Missing ViewResult tests"
[Here](https://github.com/aspnet/Mvc/tree/dev/test/Microsoft.AspNetCore.Mvc.ViewFeatures.Test/Internal). Should add tests similar to those of _[PartialViewResult](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.ViewFeatures.Test/Internal/PartialViewResultTest.cs)_

[2016-06-24 19:24] mkarlsson commented on #4588
@Tratcher Great, that solved my issue.

[2016-06-24 20:32] gkochanowsky commented on #3888
On Jun 23, 2016 7:02 AM, "LinkedIn" <news-noreply@linkedin.com> wrote:

Feature Comparisonh

same problem space as AngularJS. However, Aurelia uses a modern approach to
ease development and solve a lot of the problems that plagued AngularJS. In
this article, we’ll take a detailed look at AngularJS and ...

feature. Unsubscribe.

College of Medicine, Claude Pepper Datauh Center). Learn why we inclu

[2016-06-24 20:49] Haplois commented on #4903
I implemented that, and pretty sure it works. But solution wont compile now, so I'm not sure. As soon as I can compile and test I'll send a pull request.

[2016-06-24 22:33] alaatm opened #4908 "Question: How to customize id/name attribute names generated by Tag Helpers"
Currently, tag helpers such as `InputTagHelper`, etc.. will use the CLR field name as the element id and name attributes. For example:

    public class Person
    {
        public string Firstname { get; set; }
    }

    <input asp-for="Firstname" />

will render:

    <input id="Firstname" name="Firstname" />

I find Pascal case ids weird for HTML. Are there any guides on how can one change thi

[2016-06-24 23:42] dougbu commented on #4908
@alaatm MVC doesn't currently have a single place where `id` and `name` values are determined though [`ExpressionHelper`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ExpressionHelper.cs) does a lot of the work and [`TemplateInfo.GetFullHtmlFieldName()`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/Templa

[2016-06-25 00:42] Bartmax opened #4909 "AddModelError show error on Model but not on Property/Field."
When adding model errors manually on the controller like this:

[code]

The errors are not displayed on the property/field `Title` using this cshtml:

[code]

using `asp-validation-summary="All"` does display the error on the validation summary `div` but not on the property/field.

Isn't supposed that those errors, when specifying the property/field, be part of the metadata and displayed on the pr

[2016-06-25 02:23] alaatm commented on #4908
@dougbu Thanks for the reply and the info.

[2016-06-25 02:23] #4908 closed

[2016-06-25 04:45] HelloKitty commented on #4571
Anyone ending up here on RC1 you want:

`options.ValidationExcludeFilters.Add(new DefaultTypeBasedExcludeFilter(typeof(IPAddress)));`

Unless of course I misread the above comments but it appears the API changed slightly.

Feel free to update for RC2 or upcoming RTM if anyone knows changes.

[2016-06-25 05:37] dougbu commented on #4819
@rontran please close this issue if I've answered your questions.

[2016-06-25 05:54] dougbu commented on #4909
The `<span>` element in your repro is invalid and will never contain server-side validation errors. Change it to
[code]

[2016-06-25 06:22] Bartmax commented on #4909
oh man! i can't tell you how many times I get that. Problem is scaffolding created those. Thanks and sorry. wish the taghelper will at least emit a warning on self-closing tags that weren't supposed to be self-closed.

Thanks!

[2016-06-26 15:50] mbharodia opened #4910 "Asp.Net Core MVC site with Microsoft.ReportViewer.2015.Runtime"
Hi,

I was porting my web site written in older MVC to Asp.Net Core MVC. I have a report using RDLC. That runs fine on older site but throws the following error on core MVC.

Failed to load expression host assembly. The source of error is Microsoft.ReportViewer.WebForms.
An exception of type 'Microsoft.Reporting.WebForms.LocalProcessingException' occurred in Microsoft.ReportViewer.WebForms.dll but

[2016-06-27 03:00] ctolkien commented on #4885
The mechanism you should use is `TempData[key]` - this is specifically used for response messages back from actions.

[2016-06-27 14:42] lammia07 commented on #4867
Okay thanks.

[2016-06-27 14:42] #4867 closed

[2016-06-27 17:21] #4864 closed

[2016-06-27 17:23] cjqian commented on #4864
c319ae51a5a575d2bd6a100f6892ab269648a5f3

[2016-06-27 17:43] pranavkm commented on #4864
Do we need a breaking change announcement for this?

[2016-06-27 17:53] dougbu commented on #4864
No.

[2016-06-27 18:26] SocVi100 commented on #4842
It's ok to have the serializer configurable, but, it sounds weird to be forced to tweak the configuration when you want to use the default configuration of the serializer (DefaultContractResolver).
It would be far more intuitive to tweak the configuration when you want anything different than the default... wouldn't it?

[2016-06-27 18:33] MaximRouiller commented on #4842
@SocVi100

`DefaultContractResolver` is only default as far as its name. It was probably called *default* because it was the default way of serializing in .NET before (think `DataContract`) JSON.NET became popular.

Maybe we should ask @JamesNK for some history on the naming. ;-)

And yeah... `DefaultContractResolver` is part of JSON.NET. Not .NET.

[2016-06-27 18:33] fhelwanger commented on #4842
@SocVi100 `DefaultContractResolver` is a Json.NET class, it's not an ASP.NET Core MVC class. I think it'd be better named as `PascalCaseContractResolver`.

I agree with you... it's confusing.

[2016-06-27 19:24] ajaybhargavb opened #4911 "Error message when preserveCompilationContext is not set is not helpful"
Repro:
In `project.json` in `MvcSandbox`,
Remove `"preserveCompilationContext": true`

When the app is run, the below error is shown
![image](https://cloud.githubusercontent.com/assets/1579269/16392620/c13188ae-3c61-11e6-92f0-99feec517abe.png)

Nothing here tells me that `preserveCompilationContext` needs to be set.

Looks like this has been fixed in https://github.com/aspnet/Mvc/issues/4202 for R

[2016-06-27 21:55] dougbu commented on #4690
Went through all MVC-defined options and broke them in two groups. Will send a PR to improve failure modes for the first group.

##### Worth improving errors when `null` or empty
###### `MvcOptions`
[code]

###### `RazorViewEngineOptions`
[code]

###### `MvcViewOptions`
[code]

##### Behaviour when `null` or empty fine as-is
Completely valid for collection to be empty. Or errors occur and are fair

[2016-06-27 21:56] dougbu commented on #4690
`OutputFormatters` was listed in both groups. Fixed.

[2016-06-27 23:50] rontran commented on #4819
It works.  I had problem compiling your changes but after updating to update 3, it works.  Thanks alot!

[2016-06-27 23:50] #4819 closed

[2016-06-28 00:17] dougbu commented on #4690
Was actually on the fence about `MvcOptions.ModelValidatorProviders`. After talking w/ @rynowak, decided not to bother changing the behaviour there. Note that behaviour is pretty similar to validating a model type that has no `ValidationAttribute`s.

[2016-06-28 01:07] pedrommuller commented on #4904
Thanks it worked like a charm,  I passed the IRouteBuilder in the constructor as a parameter and then I used it as follows:

[code]

[2016-06-28 01:08] rynowak commented on #4904
Great! I'm going to go ahead and close this issue then. Feel free to reactivate or open a new issue if you need help with something else.

[2016-06-28 01:08] #4904 closed

[2016-06-28 01:30] John0King commented on #4842
@fhelwanger    the `DefaultContractResolver` is not `PascalCaseContractResolver ` , you can use `DefaultContractResolver ` to generate camelCased json when you write camelcased C# property or use `[JsonProperty("cameCaseWords")]` . This is why it called *default* , because it don't change any thing you write . and `PascalCaseContractResolver `  sound like it will change anything you write to *Pasc

[2016-06-28 03:40] fhelwanger commented on #4842
@John0King You're right, thanks!

[2016-06-28 08:59] antonGritsenko commented on #4842
Does some one tested the workaround?
`services
    .AddMvc()
     .AddJsonOptions(options => options.SerializerSettings.ContractResolver = new DefaultContractResolver());`

It doesn't work in my case for some reason (.net core 1.0 RTM), still have propertyName in JSON. What it can be?

[2016-06-28 09:09] NGancevich commented on #4864
I have updated to asp.net core RTM (net46) but issue still exist.  Parameter {2} is still maxlength but ought to be minlength.

[2016-06-28 10:04] andrew-vandenbrink commented on #3973
I'm bit late to the party
But this decision impacting my code :(

It is silly to only allow one method in a class anyway

[code]
I believe it's logical and nice OOP

Now I have to change it into

[code]

Or of course to create class per ViewComponent

I know we just on RTM, allowing more than one Invoke won't give breaking change, is it possible to go back when we can have more than one Invoke in

[2016-06-28 10:07] njy commented on #3973
@andrew-vandenbrink "I know we just on RTM" there you have (I think) your answer :)

[2016-06-28 10:10] andrew-vandenbrink commented on #3973
@njy well there will be 1.1 right :)

[2016-06-28 10:43] gdoron opened #4912 "Make an option for SelectListGroup to be matched by name instead of reference"
Hi,

I'm aware that there're scenarios where you need to have multiple `<optgroup>` with the same name.
But usually you don't.

Since currently SelectListItem are grouped by reference type instead of the string property, we have all over our code stuff like this:

    var limitationsList = Context.Limitations
        .Where(x => x.ParentLimitationId != null)
        .OrderBy(x => x.ParentLimitatio

[2016-06-28 11:15] senritsu commented on #4506
Now that `Name` is moved, how would i go about getting the action name inside an `IActionFilter`? The methods only get a parameter of type `ActionExecutingContext`. That in turn contains the `ActionDescriptor`, but no `ControllerActionDescriptor`. Do i just cast it?

[2016-06-28 12:58] andrew-vandenbrink commented on #3973
To my surprise invoking ViewComponent like this not working

[code]

This way is working but very not intuitive and awkward
[code]
We have milliseconds performance gain but more eye shore

I'm also not sure the idea behind removing Invoke
Not all ViewComponent designed to be async

ViewComponent in RC1 is much better than what we have in RTM

[2016-06-28 14:33] Asshiah commented on #4506
I have the same issue as @senritsu as I am trying to migrate my project to RTM

[2016-06-28 14:35] dougbu commented on #4864
@NGancevich fix is in next release, not 1.0.0.

[2016-06-28 14:38] dazinator commented on #4788
The `ApplicationParts` system does make it a lot easier to wire up MVC components from your modules. Your application must first determine where it's modules are (detection) which ones should be loaded (whitelisting / blacklisting?) and then once it has the candidates, it can ask MVC to include them when scanning for its various parts like Controllers, TagHelper's etc - and this last bit is where

[2016-06-28 14:41] rynowak commented on #4506
You can either use `RouteData.Values["action"]` which may vary on casing or cast it. Can you clue me in to what this is for?

If this is for logging, the framework already logs enter/exit, what can we fix in the framework to make this meet your needs?

[2016-06-28 15:12] dazinator commented on #4100
Solution in RC2 is to ensure the reference is included in the Razor CompilationOptions.

[code]

[2016-06-28 15:12] #4100 closed

[2016-06-28 15:30] senritsu commented on #4506
I *think* it is used for excluding a few actions from a global action filter. Why it does not use attributes or something to achieve that, i don't know. If casting works that is fine for now, the code will have to be refactored in any case to be not horrible.

[2016-06-28 15:30] dazinator opened #4913 "RC2 - StaticFiles, Razor, and EmbeddedFilesProvider"
Let's say we have a project called "ModuleA" and we embed the following files:

- wwwroot.client.js
- server.js
- Views.Shared.view.cshtml

Then in our main application, we reference ModuleA:

1. How can I configure `StaticFiles` middleware with an `EmbeddedFileProvider` that only returns the embedded files that are safe to serve up to the client (i.e ones prefixed `wwwroot`) so that it doesn't al

[2016-06-28 15:52] rynowak commented on #4506
I'd suggest doing something like this to make *not horrible* as you put it :laughing:. This is a common pattern that we've used inside the framework, [example here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ValidateAntiforgeryTokenAuthorizationFilter.cs#L61)

[code]

This gives `[IgnoreFooConcern]` overriding behavior. If you slap that on a controlle

[2016-06-28 15:56] rynowak opened #4914 "Consider patternizing concern overrides for filters"
Code sample from https://github.com/aspnet/Mvc/issues/4506#issuecomment-229093334

[code]

This gives `[IgnoreFooConcern]` overriding behavior. If you slap that on a controller or action, then the global filter knows to shut itself off.

We do this kind of thing frequently in the framework, and it's a non-obvious pattern. Maybe we should add some kind of infrastructure/extensions to make this easi

[2016-06-28 15:56] tugberkugurlu opened #4915 "Action selection based on parameters"
I have two controller actions which have the same route pattern but have different non-optional, simple type (e.g. string, int, etc.) parameters on the method signature. However, I am getting `AmbiguousActionException`.

Don't MVC do parameter based routing as Web API is doing?

[2016-06-28 16:02] rynowak commented on #4915
No, the WebAPI compat shim package has a backwards compatible version of this as an `IActionConstraint`, but all parameters in MVC are optional.

Anything that we did in the future here will have to be opt-in. Personally, I like the idea of making query string patterns part of attribute routing. It's opt in, expressive, and lights up existing features like constraints, and view expanders. It also

[2016-06-28 16:11] rynowak commented on #4788
Note that this is only required if you need to include modules that you **don't** reference as project references. MVC should detect everything that do you do reference. If this isn't working correctly, it's a bug, please let us know :laughing:

When you do an assembly that you don't reference, adding it as an application part should like up all of the concerns that use part.

Again this should on

[2016-06-28 16:15] tugberkugurlu commented on #4915
thanks @rynowak! So, the preferred way to do this is to do an inner routing inside the action itself based on the query strings to make it perform different operations based on query string values which are being passed in?

That's will end up being a bit dirty but not entirely bad. I assume I can extend action selection to employ this logic?

[2016-06-28 16:34] pranavkm commented on #4913
`EmbeddedFilesProvider` allows specifying a base namespace. You could assign the `StaticFilesMiddleware` an instance of `EmbeddedFilesProvider` with the namespace `MyLibNamespace.wwwroot`, my guess is that would work. For the view, you could register a different instance of `EmbeddedFilesProvider` with the root namespace.

[2016-06-28 16:35] pranavkm commented on #4788
The `copyToOutput` issue is known - https://github.com/dotnet/cli/issues/2902.

[2016-06-28 16:38] dazinator commented on #4788
Thanks.

Yep - working as described.

Yep - working as described.

"Dependencies that aren't references" are not really dependencies - not sure how best to describe this, perhaps the word "Extension" is better. So yes, I was referring to loading Extensions :)

This issue is tacking this: https://github.com/dotnet/cli/issues/2902 - however I am not really sure what the outcome is or how / when / if

[2016-06-28 16:38] cjqian opened #4916 "Remove ViewEngine property of ViewComponentResult (it doesn't do anything)"

[2016-06-28 16:38] #4813 closed

[2016-06-28 16:48] dazinator commented on #4913
@pranavkm - thanks that does indeed work. Nice to know i didn't have to derive my own providers. Cheers.

[2016-06-28 16:48] #4913 closed

[2016-06-28 17:23] Bartmax opened #4917 "FormTagHelper is missing asp-fragment."
I would like to use a fragment on the form action.
[code]

related #3988

[2016-06-28 17:32] rynowak commented on #4915
There's a few options here, I'll give some examples and you can decide what you like :+1:

#### 1. Just let parameters be optional

If your actions represent distinct logical operations, then make sure they have a different route/path. The routing system will help you out here and you don't have to build any infrastructure to support it. All parameters in MVC are optional. If you want to treat som

[2016-06-28 17:32] dazinator opened #4918 "RC2 - @addTagHelper error"
There is an assembly containing an `ViewComponent`, and it's Razor files (embedded as resources)
I load the assembly from disk:

[code]

I register it with MVC using `ApplicationParts`

[code]

Then I configure Razor, with an `EmbeddedFileProvider` so it can discover the Razor view, and it's `CompilationContext` so that it compile the Razor view with a reference added for the assembly itself (as t

[2016-06-28 17:37] Bartmax commented on #4917
also POSTing with fragments returns 400 bad request :(

[2016-06-28 17:55] marcuslindblom opened #4919 "Embed and serve static files"
I embed my views using the embedded file provider like this:
[code]
Inside the _EmbeddedResources_ directory I have my my _/js_ files which I would like to serve via _some/url_ to my views. is this possible today?

[2016-06-28 18:28] pranavkm commented on #4919
You can use `StaticFileOptions.FileProvider` to have it serve embedded content.

[code]

[2016-06-28 18:40] NTaylorMullen commented on #4918
Looks like it's an issue with the quotes. Duplicate of https://github.com/aspnet/Razor/issues/744

[2016-06-28 18:48] dazinator commented on #4918
@NTaylorMullen - Nice spot - yep this is indeed the issue. Was pulling my hair out.

[2016-06-28 18:52] dazinator commented on #4918
Ah damn spoke too soon.

If I remove the quotes I get this:

![image](https://cloud.githubusercontent.com/assets/3176632/16428438/c84fb1ca-3d69-11e6-9c06-f918ddf05f48.png)

[2016-06-28 18:52] dazinator commented on #4918
Ah sorry my bad! Wrong namespace that time haha

[2016-06-28 18:52] #4918 closed

[2016-06-28 19:06] ToddThomson commented on #3814
@Eilon By design is fine, but I don't understand the reasoning for this.

Given that I have 2 core libraries, each with its own components ( controllers, embedded views, etc ). If I start a request to an area route handled by a controller in library A, and the view invokes a view component in library B then the view for the component cannot be found.

Shouldn't views for components live in the sam

[2016-06-28 19:09] marcuslindblom commented on #4919
@pranavkm Cool, thanks!

[2016-06-28 19:40] rynowak opened #4920 "Reevaluate try/catch in input formatters"
Right now we have a try/catch around input formatters to allow them to throw and have us treat it as a model state error. I think we're possibly swallowing more errors than we should here, and turning them into 400s instead of 500s.

See https://github.com/aspnet/Home/issues/1605#issuecomment-229158767

The root cause of this issue was a package mismatch, but it became a model state error instead.

[2016-06-28 21:17] Eilon commented on #4910
@mbharodia can you share your project.json file?

[2016-06-28 21:25] Eilon commented on #4905
@ivaylokenov no particular rules, aside from the MVC team has to find the project reasonably interesting 😄

If we get "too many" people submitting projects to include in the list, we'll want to revisit that (we obviously don't want to have 100's of projects linked from here).

[2016-06-28 21:35] Eilon commented on #4916
@cjqian can you provide more info about this? Why it isn't needed anymore? Does the property not work anymore?

[2016-06-28 21:52] ChristianRiedl opened #4921 "Exception in AddMvc (DefaultAssemblyPartDiscoveryProvider.CandidateResolver)"
I get an exception inside CandidateResolver constructor  because some assembly is inserted twice.
The reason is that my AspNetCore  project (net452 only)  adds a class library containing references to Microsoft.AspNetCore.Mvc...

Stacktrace :
Dictionary`2.Insert(TKey key, TValue value, Boolean add)
DefaultAssemblyPartDiscoveryProvider.CandidateResolver..ctor
DefaultAssemblyPartDiscoveryProvider.Ge

[2016-06-28 21:57] cjqian commented on #4916
@rynowak

[2016-06-28 21:58] ChristianRiedl commented on #4921
I forgot to tell that in RC2 it was running ok...

[2016-06-28 22:26] javiercn commented on #4921
@ChristianRiedl Can you share your project.json file? From what you mention the line that is throwing is probably

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/DefaultAssemblyPartDiscoveryProvider.cs#L77

There shouldn't be any duplicates in the list of runtime assemblies on the dependency context. @pranavkm @pakrym

It will be useful too if you can do on your

[2016-06-28 22:35] rynowak commented on #4916
This wasn't really ever used for anything I don't think.

[2016-06-28 22:53] ChristianRiedl commented on #4921
I see this  line throwing the exception very clear in the exceptions stacktrace.

AspNetlib contains 👍
    "Microsoft.AspNetCore.Razor.Runtime": "1.0.0",
    "Microsoft.AspNetCore.Mvc.Abstractions": "1.0.0",
    "Microsoft.AspNetCore.Mvc.Core": "1.0.0",
    "Microsoft.AspNetCore.Mvc.ViewFeatures": "1.0.0",
    "Microsoft.AspNetCore.Mvc.TagHelpers":  "1.0.0"

My Project.json 👍
[code]

[2016-06-28 23:05] pranavkm commented on #4921
Seems like an issue with casing:

[code]

Could you attach your package lock file? Would be easy to tell what's bringing the second \ incorrectly cased `Newtonsoft.Json` in.

[2016-06-28 23:08] Eilon commented on #4916
Well we can't remove it... Did it just always no-op or something?

[2016-06-28 23:30] javiercn commented on #4921
@pranavkm

I've pulled in the universe repo and ran the following queries against it:
Get-ChildItem project.json -Recurse | Select-String "Newtonsoft.Json" -CaseSensitive
[code]

Get-ChildItem project.json -Recurse | Select-String "NewtonSoft.Json" -CaseSensitive
[code]

I don't think the casing issue is on our dependencies graph.

[2016-06-28 23:47] dougbu commented on #4917
That seems expected since fragments are a client-side concept. How should an HTTP server handle a received `URL` header containing a fragment? Where is the behaviour defined?

[2016-06-29 00:09] Bartmax commented on #4917
This is mostly a routing issue than a posting issue. servers discard the fragment part on posts. That's ok, what I want to do is keep the routing/navigation url path.

just to sample this better:

create this html on any mvc route (ex: `Home/Index`)
[code]

Go to url: `Home/Index#something`
Press `submit` button.

mvc returns a `400 Bad Request` error.

The expected behavior will be to submit to `

[2016-06-29 00:12] ChristianRiedl commented on #4921
I verified that both NewtonsSoft.Json are identical (V 9.0.1) but it is indeed referenced in several assemblies.

Maybe it causes problems to include the same library once as solution second time as nuget package.
I did it in this way becuse including "as solution"  a non PCL but net452 component caused problems in RC2.

Here the structure :.

MediaServer (aspnetcore net452)
....AspNetLib (dotnetc

[2016-06-29 00:31] pranavkm commented on #4921
It's not an issue with the dependency being repeated, more of an issue with the casing of the package being mismatched. The CLI isn't normalizing the case even though it's the exact package. Could you modify the nuspec \ project.json for `BaseLib` to reference `Newtonsoft.Json` (and not `NewtonSoft.Json`)?

[2016-06-29 00:48] ChristianRiedl commented on #4921
Great, this really solved my current problem. Thank you very much you did a great job.

[2016-06-29 01:01] Bartmax commented on #4750
If you add `[BindRequired]` does it help?
If it does, there is another reason why `BindRequired` should be the default.

you can see here how to apply it application-wise: https://github.com/aspnet/Mvc/issues/2615#issuecomment-106583661

[2016-06-29 01:14] Eilon commented on #3814
@ToddGrun I think the issue here is that the *request* ends up being for an area, and *controllers* can have associated areas, but *view components* do not. Ultimately it's only the "top level action" that handles the request that determines the area *for the entire request*. So, if the request came into `MyApp.AdminArea.Controllers.AdminController` then the area is `admin`, and all views by defau

[2016-06-29 01:31] micli opened #4922 "JsonResult will be forced to modify the properties name in RTM version."
For example:
I have a class Product.

[code]

if an instance of Product converts to a JSON string before RTM, it will be:

[code]

RTM version will be:

[code]

It affects a lots of clients who consume JSON string especially Apache Cordova and Xamarin.
Why you did this change?

[2016-06-29 01:32] Eilon commented on #4903
@dougbu assigning to you for PR https://github.com/aspnet/Mvc/pull/4907.

[2016-06-29 01:42] akuseru opened #4923 "Type or namespace name does not exist in the namespace"
First I apologize if this is not the correct place to ask this but there are a lot of moving parts in MVC.

I have a razor view which I am using to try and reference some static data for my application. However the razor view can't seem to load this namespace.

project setup:
[code]

the static class:
[code]

the view:
[code]

from what i have read here, #4686 I need to add the following to startu

[2016-06-29 01:50] javiercn commented on #3814
@Eilon Maybe you wanted to mention @ToddThomson?

[2016-06-29 01:51] Eilon commented on #3814
Obviously 😄 Todd1 and Todd2 😉

[2016-06-29 01:54] javiercn commented on #4922
See https://github.com/aspnet/Announcements/issues/194 for details of the reasons that drove this change and for how to change it if you want to keep the old behavior.

[2016-06-29 02:35] akuseru commented on #4923
I managed to fix my issue.

In my case, visual studio code was setup to launch an older dll that wasn't being updated during the build. changing that fixed my issue. Thanks!

[2016-06-29 02:35] #4923 closed

[2016-06-29 04:40] pranavkm commented on #4921
@javiercn filed a bug with the CLI for this - https://github.com/dotnet/cli/issues/3722. If you could add some details about what your class library's project.json / nuspec looked like, it would definitely help resolving the underlying issue.

[2016-06-29 09:07] tugberkugurlu commented on #4915
great explanation @rynowak :+1: thanks a lot!

[2016-06-29 09:07] #4915 closed

[2016-06-29 09:50] DavidEmanuelsen commented on #4497
@NTaylorMullen

I've started the move to 1.0.0 and trying to use the new `AdditionalCompilationReferences` to add the `MetadataReference`s that I need. It works fine as long as I populate it during initial setup in Startup.cs, but if I inject the `RazorViewEngineOptions` somewhere else and update the list in the same request as the `MetadataReference` is needed it doesn't always work. It's kind of

[2016-06-29 10:22] dazbradbury opened #4924 "Multiple forms with Html.AntiForgeryToken() creates multiple headers"
Every call to:

`@Html.AntiForgeryToken()`

Adds a response header of:

`X-Frame-Options: SAMEORIGIN`

If there is a page with multiple forms, then every time a token is created, a new header is added to the response. If you have a page with hundreds of forms, you add hundreds of headers, and run the risk of causing fallover in multiple, hard to debug, places - think load balancer / nginx. Protect

[2016-06-29 11:12] pbering opened #4925 "RTM changes to MvcRouteHandler (and should I use it at all)"
Hi,

When upgrading my ASP.NET Core project from RC2 -> RTM I ran into a lot of changes done to the MvcRouteHandler.  In RC2 there was an empty constructor but in RTM there is not. I had to change my code like this to use the new constructor: https://github.com/pbering/Lightcore/commit/937a7fe8cd04264110a2252fbc4ee367e3e4ed1f#diff-9529c98fccc3007ae662fcd2a5fb226c

It is working now but my question

[2016-06-29 12:13] mbharodia commented on #4910
Hi Elion,

{
  "userSecretsId": "aspnet-CCClients.Core-8f5c9517-b59e-4aaf-8d2a-9372699c0552",

  "dependencies": {
    "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Identity.EntityFrameworkCore": "1.0.0-rc2-final",

[2016-06-29 12:22] ermithun opened #4926 "Sakura.AspNetCore doesnot contains defination of to ToPagedList<>"
Error CS1061: **'IQueryable' does not contain a definition for 'ToPagedList' and no extension method 'ToPagedList' accepting a first argument of type 'IQueryable' could be found (are you missing a using directive or an assembly reference?) NETCoreApp,Version=v1.0**

[code]

I have install package
"Sakura.AspNetCore.PagedList.Abstractions": "1.0.1",
"Sakura.AspNetCore.Mvc.PagedList": "2.0.2"
in my

[2016-06-29 13:48] BrianVallelunga opened #4927 "Where did RazorViewEngine.ViewLocationFormats go?"
In RC1 and RC2 we were overriding ViewLocationFormats of the RazorViewEngine to serve views from custom locations. This appears to be gone now with RTM. How can I go about getting this behavior back? I checked the Announcements section and didn't see any listing of a breaking change.

Looking around I think I can configure this on RazorViewEngineOptions, but the following does not work. Am I missi

[2016-06-29 13:52] ToddThomson commented on #3814
@Eilon I am hoping to make this work with an attribute or convention and a view location expander. I just have to figure out how to get the AreaViewComponent name into the action context so that it can be picked up by the view expander.

[2016-06-29 13:54] BrianVallelunga commented on #4927
Nevermind. I just noticed I was setting `AreaViewLocationFormats` instead of `ViewLocationFormats`. I'll leave this here for anyone looking for the same migration path from overriding the view engine.

[2016-06-29 13:54] #4927 closed

[2016-06-29 14:04] marcuslindblom commented on #4919
@pranavkm the `baseNamespace` seems to refer to the name of the directory where the `Startup.cs` is located, in my case `hwapp`. Is it possible to configure the namespace from the `project.json` or how can I register the `EmbeddedFileProvider` so it works regardless of the name of the parent directory?

[2016-06-29 15:10] rynowak commented on #4925
For your usage I'd suggest using the `IActionSelector` and `IActionInvokerFactory` directly. The main tasks that the route handler does are adapting these APIs to the routing system, and diagnostics/logging.

[code]

I think your code will be simpler in the end. For instance if you already have the action descriptor of the thing you want to invoke, you could skip the action selector entirely.

Let

[2016-06-29 15:27] rynowak commented on #4915
Always a pleasure @tugberkugurlu - let us if know if you end up building it, it might be something that others ask for.

[2016-06-29 16:01] rynowak commented on #4924
@dazbradbury - what release are you using? I believe this was addressed in 1.0.0  https://github.com/aspnet/Antiforgery/issues/60

[2016-06-29 16:23] pranavkm commented on #4497
Modifying any of the option types after Startup has done is not supported. Types are free to cache individual properties of the options, so updating it would not necessarily work all the time.
For your scenario, I'd recommend not relying on modifying the options. If your app requires runtime compilation behavior, add a custom `ICompilationService` to the service collection (overriding Mvc's defaul

[2016-06-29 16:25] dazbradbury commented on #4924
This could well be the wrong repo, I was directed here from codeplex, but since the change to Core perhaps this isn't relevant here, my apologies. It seems the issue is in System.Web.WebPages.

The relevant code (with bug) is here:

https://github.com/ASP-NET-MVC/aspnetwebstack/blob/master/src/System.Web.WebPages/Helpers/AntiXsrf/AntiForgeryWorker.cs#L101

I was linked to this repo from:

http://a

[2016-06-29 16:36] pranavkm commented on #4919
@marcuslindblom, you can use `namedResource` to specify the "full name" for a resource.
[code]

That said, this question is probably more appropriate for the CLI (https://github.com/dotnet/cli/). You should get more visibility for the project.json format and compilation there.

[2016-06-29 16:38] Eilon commented on #4926
@ermithun this sounds like an issue with https://github.com/sgjsakura/AspNetCore - can you log an issue there?

[2016-06-29 16:43] #4924 closed

[2016-06-29 16:44] Eilon commented on #4917
It's not the *server* that discards the `#fragment`, the browser does that, so the server never sees it, so it can't generate the URL, because it never saw the fragment to begin with...

[2016-06-29 16:44] #4922 closed

[2016-06-29 16:55] pbering commented on #4925
Thank you for taking your time to giving me such thorough answer and for giving me a direction for the _best_ way to solve this. :+1:

I will try it out asap, thanks again and have a nice day :)

[2016-06-29 16:55] #4925 closed

[2016-06-29 16:59] dougbu commented on #4690
Left out checks for `MvcOptions.ModelMetadataDetailsProviders`. After cleaning up how `ModelBindingMessageProvider` is initialized, makes sense for this collection to be empty e.g. when using `EmptyModelMetadataProvider`.

New list of must-not-be-empty options properties:
###### `MvcOptions`
[code]

###### `RazorViewEngineOptions`
[code]

###### `MvcViewOptions`
[code]

[2016-06-29 17:07] dougbu commented on #2615
`[Required]` is a .NET data annotation with a defined meaning and MVC interpreting it differently would be confusing. From https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.requiredattribute(v=vs.110).aspx

But as @rynowak showed, your application can easily change how `[Required]` is interpreted.

[2016-06-29 17:12] dazinator commented on #2910
+1 Need a solution to this. Have been using @SimonOrdo's solution here: https://github.com/aspnet/Docs/issues/687#issuecomment-168711927 in RC1, but now [hitting an exception with this in RC2](https://github.com/aspnet/Razor/issues/795)

[2016-06-29 17:14] dougbu commented on #4903
a852352

[2016-06-29 17:14] #4903 closed

[2016-06-29 17:51] mbharodia commented on #4910
Just a further note on the error I am getting. Here is the full error message.

Failed to load expression host assembly. Details: Type 'Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.DataStoreErrorLogger+DataStoreErrorLog' in assembly 'Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' is not marked as serializable.

   at

[2016-06-29 17:59] mbharodia commented on #4910
[cid:image001.png@01D1D1FD.8E905610]

From: Eilon Lipton [mailto:notifications@github.com]
Sent: Tuesday, June 28, 2016 3:18 PM
To: aspnet/Mvc <Mvc@noreply.github.com>
Cc: Mayur Bharodia <mayur@interactiveinterfaces.ca>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/Mvc] Asp.Net Core MVC site with Microsoft.ReportViewer.2015.Runtime (#4910)

@mbharodia<https://github.com/mbharodia> can

[2016-06-29 18:20] mbharodia commented on #4910
When I removed app.UseDatabaseErrorPage() from Configure() method in Startup I was able to run the report. Any idea why? Thanks a lot for looking into this.

From: Eilon Lipton [mailto:notifications@github.com]
Sent: Tuesday, June 28, 2016 3:18 PM
To: aspnet/Mvc <Mvc@noreply.github.com>
Cc: Mayur Bharodia <mayur@interactiveinterfaces.ca>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/M

[2016-06-29 19:01] Bartmax commented on #4917
@Eilon you are right. What I don't understand then is why a post in a fragment url returns a Bad Request from MVC but not without the fragment and how the url (including the fragment) is preserved.
Something else is going on. I will try to investigate a little further. My gut feeling tells me there's something on mvc or kestrel that is not quite right.

[2016-06-29 19:19] Haplois commented on #4906
@Eilon  @cjqian I can add these tests tomorrow if it is still up for grabs.

[2016-06-29 19:21] Bartmax commented on #4917
Ok. I now see why MVC returned Bad Request. Is because when not using the `<form>` tag helper, the anti forgery token is not included. So that explains it.

About the asp-fragment on form tag helper:

[code]

This works flawlessly and the url in the browser ends in `/Home/Index#test`

I'm not sure how exactly this works. The request on chrome inspector clearly shows that the fragment part is not p

[2016-06-29 19:28] ToddThomson commented on #3814
@Eilon I got this to work by:
[code]

[2016-06-29 19:36] Bartmax commented on #2615
I see your point, and from a technical perspective that's fine but I still found very confusing (specially for new comers) that in the following code

[code]

Required does nothing, and in a web api endpoint one should use BOTH, `Required` and `BindRequired`. This clearly doesn't work as anyone would expect.

I don't see why we cannot have a extra documentation that says that for MVC ModelBinders

[2016-06-29 19:50] OpinionatedGeek commented on #4571
Hi @HelloKitty,

The fix from @dougbu is what I used for RC2, I think.

For RTM, the ValidationExcludeFilter class has changed its name so my code is now:

  options.ModelMetadataDetailsProviders.Add(new SuppressChildValidationMetadataProvider(typeof(IPAddress)));

Hope this helps,

Geoff

[2016-06-29 21:40] pbering commented on #4925
it works, but the IActionInvokerFactory is also in the internal namespace, is there an alternative for that?

[2016-06-29 21:44] ryanbrandenburg commented on #3587
As @pranavkm said, it looks like this one's fixed. Closing.

[2016-06-29 21:44] #3587 closed

[2016-06-29 23:43] rynowak commented on #4925
The alternative would be to inject `IEnumerable<IActionInvokerProvider>` but that API is a bit confusing, you'd end up making a copy of the code inside the invoker factory. I'm going to log an issue to move it to public.

[2016-06-29 23:44] rynowak opened #4929 "Move IActionInvokerFactory out of .Internal"
It would be good to move `IActionInvokerFactory` out of `.Internal`. It's unlikely that the shape of this API will change, and `IActionInvokerProvider` is clumsy to use directly.

This is needed if you need to write your own route handler. https://github.com/aspnet/Mvc/issues/4925#issuecomment-229387257

[2016-06-30 00:01] Eilon commented on #4906
@Haplois yes, of course! Thank you!

[2016-06-30 00:02] Eilon commented on #4906
@javiercn I'm parking this on your plate to track, then you can review @Haplois 's PR when that comes in.

[2016-06-30 00:08] Eilon commented on #4910
@mbharodia thanks for the detailed info!

@pranavkm can you investigate?

[2016-06-30 00:29] bigteejay opened #4930 "The type or namespace name 'IModelExpressionProvider' does not exist in the namespace 'Microsoft.AspNetCore.Mvc.ViewFeatures'"
## Issue
After updating VS and .Net Core (installing "vs2015.3" and "DotNetCore.1.0.0-VS2015Tools.Preview2", respectively) I now get the following error being reported by VS when I open a cshtml file that reported no errors previously...

Was there a breaking change or something else I need to update?  This code was working just fine previously.  I can still run the project in VS without issue.

G

[2016-06-30 00:52] eavonius commented on #4885
This has been updated to use TempData. Even cleaner, but I still think this should be out of the box!

Thanks for the help!

Jayme

[2016-06-30 01:05] rynowak commented on #4930
/cc @NTaylorMullen

[2016-06-30 02:46] Bartmax opened #4932 "Question: Is still possible to set MultipartBodyLengthLimit per action instead of full application?"
Meanwhile I'm using application-wide setting
[code]

I remember an issue mentioning a way (filter) something like `RequestFormSizeLimit` that was specific to apply to specific action. Is it gone? can't find it.

Thanks for the help.

[2016-06-30 04:38] dougbu commented on #4930
@bigteejay the [`IModelExpressionProvider`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/IModelExpressionProvider.cs) class hasn't changed since it was introduced in April (f1fe5e26). Could you share your `project.json` file?

[2016-06-30 04:47] dougbu commented on #4916
There's exactly `(0 + zero + nada)` references to this property in the MVC repo. No reads; no writes.

[2016-06-30 05:34] bigteejay commented on #4930
@dougbu - You bet, `project.json` [here](http://pastebin.com/PPpnJ9yv).  It hadn't changed since the updates (but perhaps I have some mismatched versions/syntax/etc.)

On your mention of project.json, I started going through and checking versions and mismatches.  I got a fair way into essentially updating all dependencies with "rcX" or "previewX" in their version to "1.0.0", but that seemed to be

[2016-06-30 05:56] dougbu commented on #4930
Don't see anything glaring in the `project.json` but `IModelExpressionProvider` wasn't in RC2. I recommend moving everything to `1.0.0` and `1.0.0-preview2-final`:
- `Microsoft.NETCore.App`: `1.0.0`
- `Newtonsoft.Json`: `9.0.1` or remove because it's brought in transitively
- all at `1.0.0-preview1-final`: `1.0.0-preview2-final`
- all at `1.0.0-rc2-final`: `1.0.0`
- optionally, you can remove most

[2016-06-30 06:17] ermithun commented on #4926
@Eilon  Thankyou

Got Solution
https://github.com/sgjsakura/AspNetCore/issues/7#issuecomment-229569150

[2016-06-30 06:24] janpieterz commented on #4750
@Bartmax just tested, the same issue persists with BindRequired.

[2016-06-30 06:29] Bartmax commented on #4750
you did apply the `BindRequired` configuration and then
[code]
right?

[2016-06-30 06:39] janpieterz commented on #4750
No, I added BindRequired to the Class and properties (in all possible configs).

Just tried your full suggestion, but it threw an error in
[code]
That I had to change to
[code]
since somehow it noted that LoginViewModel didn't have any property attributes (At least on one pass through). Obviously after this it didn't work either since it simply always skipped it ;)

See screenshot, no attributes b

[2016-06-30 06:39] bigteejay commented on #4930
@dougbu - Are the type properties still useful/required?

[2016-06-30 06:41] Bartmax commented on #4750
That's unfortunate :( ok ... well ... it was worth a shot

[2016-06-30 07:01] bigteejay commented on #4930
@dougbu - updated `project.json` [here](http://pastebin.com/dr6U1BA1).

Current errors upon `dotnet restore`...

There is a "restore failed" (following the errors mentioned directly above) and then later a "restore completed".

Current errors appearing in VS "Error List" now...

"The project does not list one of 'win7-x64' in the 'runtimes'" is true, no where in my project.json is my development p

[2016-06-30 07:26] davidfowl commented on #4930
How did you create this project? It doesn't look like what file -> new project creates.

[2016-06-30 09:24] DavidEmanuelsen commented on #4497
Tried the suggested approach, and as far as I can tell it gives similar behavior as when I was using the option. Debugging this shows one call to my overridden `GetCompilationReferences` as the first request comes in (before the external assembly is needed / known), and the result of this first invoke seems to be used when compiling my views using the external classes. Returning a view using this

[2016-06-30 09:48] RehanSaeed opened #4933 "How to Create a Multipart HTTP Response With ASP.NET Core"
I would like to create an action method in my ASP.NET Core controller which returns a Multipart HTTP Response containing several files. I know that using a .zip file is the recommended approach for websites but I am considering using such a request for an API.

The examples I have been able to [find](https://github.com/aspnet/Performance/blob/db01b20b80be94a14fc41b4a09047b61e9de1ddd/testapp/Multip

[2016-06-30 09:51] gdoron opened #4934 "Could not load file or assembly 'Newtonsoft.Json after upgrading from RC2 to 1.0.0"
Hi,

I'm trying to upgrade an rc2 application to 1.0.0 but getting errors on bootstraping the app  that Newtonsoft 7 & 8 do not exist.

![image](https://cloud.githubusercontent.com/assets/6141009/16484292/232e8ed8-3ec1-11e6-8765-938029af3861.png)

Stack trace:

   --- End of inner exception stack trace ---
   at Yooocan.Web.Startup.ConfigureServices(IServiceCollection services)
   --- End of inner

[2016-06-30 10:33] bragma commented on #4934
I've had similar problems, solved by deleting the project.lock.json file (it's recreated automatically)

[2016-06-30 10:41] alhardy opened #4935 "Split up MvcRouteHandler RouteBuilder DefaultHandler"
Re this commit https://github.com/aspnet/Mvc/commit/2e2784aa3d2a2abead5d3366714ddcc4cd63f14f, I have a custom route handler, how would I go about having this run for both conventional routes and attribute routes?

[2016-06-30 11:01] gdoron commented on #4934
@bragma that didn't help :(
A. Is there a way of checking who requires these DLLs?
B. Is there a way of using <DependentAssembly> like in ASP.NET?

[2016-06-30 11:23] gdoron commented on #4934
@Eilon Is there any information other info I give provide?
I'm clueless what the issue can be.

I'm reverting back to RC-2.

[2016-06-30 12:03] gdoron commented on #4934
`<panic>`
Reverting to RC-2 (changed branch) didn't work, still got the same error, but instead of 7 & 8 being missing, it was 9.
I deleted the entire repository from my computer, and cloned it again from GitHub.
`</panic>`
Now my 1.0.0 branch works.

What is the reason for that odd issue? There're files who are not tracked by GitHub (not project.lock.json sinceI deleted them) that caused this.

I

[2016-06-30 12:18] alhardy commented on #4935
All good, I found this https://github.com/aspnet/Announcements/issues/193.

Using an `IAsyncResourceFilter'  gives me access to `RouteData` allowing me to get the route template for both conventional and attribute based routes.

Cleaner approach! ;)

[2016-06-30 12:18] #4935 closed

[2016-06-30 12:36] javiercn commented on #4934
It's a known issue on the CLI. Under some circumstances it creates the wrong binding redirects. Cleaning the repository (git clean) and building should fix it, we inly observed it on update scenarios if you see it happening elsewhere let us know.

/cc @NTaylorMullen

[2016-06-30 12:48] gdoron commented on #4934
@javiercn thanks for the feedback.
Where are these generated files?

Anyway, it works fine now on my local machine, and when deployed the app (now 1.0.0) to Azure Web App, we get this error:

	System.InvalidOperationException: Can not find assembly file Microsoft.CodeAnalysis.CSharp.Workspaces.dll at 'D:\home\site\wwwroot\refs,D:\home\site\wwwroot\'
	   at Microsoft.Extensions.DependencyModel.Reso

[2016-06-30 13:39] markusvt opened #4936 "Absolute Paths for Views not working"
I had a running RC1 project in which I use the following code to load a view
[code]
I updated the project to Core 1 now an use net451 as Framework
[code]

After my update the view isnt found anymore any i get the following error:
[code]
Have there been any changes to absolute paths of views?

[2016-06-30 13:54] SpikeMelbost commented on #4930
I have same issue.

The error only displays when I have the default.cshtml for one of my view components open in visual studio.

I have a couple of live projects and was hoping to keep one using RC2, so would be good if I can get this issue resolved.

The project I moved to v1.0 also had the same issue which is resolved by moving to v1.0. Note I did need to edit project.json for the following:

[2016-06-30 13:57] javiercn commented on #4934
Looks like its related to Razor compilation. @pranavkm will know better

[2016-06-30 14:17] kspearrin commented on #4930
I'm having the same problem now as well with an existing RC2 project after I installed Update 3 tooling and .NET Core 1.0 RTM on my machine.

[2016-06-30 14:55] bigteejay commented on #4930
@davidfowl - you are correct. This is a project that I started back around beta 7 and I've been trying to upgrade and maintain going forward with revisions.

[2016-06-30 14:58] rynowak commented on #4932
Sample here: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.FileUpload

Also /cc @kichalla who build the sample

[2016-06-30 15:12] Bartmax commented on #4932
Yes, the sample has `[RequestFormSizeLimit(valueCountLimit: 3, Order = 1)]` but that doesn't seem to be available on my project. Which package do I need for those attribute?

[2016-06-30 15:16] rynowak commented on #4932
The attribute/filter is part of the sample :grinning:

[2016-06-30 15:31] Bartmax commented on #4932
Oh! :open_mouth: thank you! didn't notice... guess i need more :coffee:

[2016-06-30 15:31] #4932 closed

[2016-06-30 15:40] jterry75 opened #4937 "Adding AcceptedResult and <controller>.Accepted() responses"
Just wondering if there was a specific reason that there is no `class AcceptedResult` like (`OkResult`) and `Accepted()` response on `ControllerBase` for async operations. It seems like this would be a common scenario so before I PR'd one up wanted to make sure its not a design decision.

Thanks!

[2016-06-30 15:50] dougbu commented on #4750
@janpieterz are you using RC2 or 1.0.0? You may be now hitting #4652. That was fixed in 1.0.0.

[2016-06-30 15:55] #4934 closed

[2016-06-30 15:56] gdoron commented on #4934
@javiercn @pranavkm There's a bug with WebDeploy.
After contacting Azure support I manage to fix the missing stuff (totally random sh*t).
Wasted so much time on this. :cry:

[2016-06-30 15:57] dougbu commented on #4930
Not sure what you mean. `IModelExpressionProvider` was _added_ in 1.0.0 and is useful.

That indicates you need to update the lower-level `ProjName` to 1.0.0 as well.

Probably fastest to create a new 1.0.0 project in VS and either start w/ the `project.json` it contains or copy your existing code into it. That will also make it easier to get to solid `Program.Main()` and `Startup` class.

[2016-06-30 16:15] dougbu commented on #4497
@DavidEmanuelsen you'll need to do more than override `GetCompilationReferences()`. Unfortunately you'll need to copy most of `DefaultRoslynCompilationService` and replacing the `CompilationReferences` property with something that is not lazy-inited.

[2016-06-30 16:21] pranavkm commented on #4936
@markusvt see https://github.com/aspnet/Mvc/issues/3307#issuecomment-150004428. You'd have to change your view path to include the extension when using absolute paths i.e. `~/ViewComponents/DataTables/View.cshtml`

[2016-06-30 16:30] #4926 closed

[2016-06-30 16:34] Eilon commented on #4930
@bigteejay if you still have stuff around from beta7, I would recommend creating a *new* project in Visual Studio, and then copy over all your code and other required files and settings.

[2016-06-30 16:38] Eilon commented on #4933
@Tratcher ?

[2016-06-30 16:47] jterry75 commented on #4937
When writing goal driven / document based REST we often use this. Basically the response is either `HTTP 200 OK` if the goal has been reached or `HTTP 202 Accepted` if everything is valid but the task is still running in the background. Subsequent calls with the same goal will continue to return `HTTP 202 Accepted` until the goal has been reached or failed. In which case the last call is `HTTP 200

[2016-06-30 16:53] DavidEmanuelsen commented on #4497
Ok, that works as expected :+1: Although I guess there will be some increased risk of breaking changes in the future as I depend on .Internal.. (ExpressionRewriter, IRazorViewEngineFileProviderAccessor). Is there any chance at all that these can be moved?

Also, will there be any significant performance hit when omitting the lazy-init?

[2016-06-30 16:54] janpieterz commented on #4750
1.0.0

[2016-06-30 17:01] pranavkm commented on #4497
@DavidEmanuelsen, like I mentioned earlier, feel free to file a bug to move the type (and it's dependencies) into a public namespace.

I think creating `MetadataReference`s reads the entire assembly into memory (along with creating Roslyn object graphs for everything within the assembly). This can be pretty memory expensive, part of the reason we lazy initialized and cached the results.

[2016-06-30 17:08] DavidEmanuelsen opened #4938 "Move IRazorViewEngineFileProviderAccessor and ExpressionRewriter to the public namespace"
An application we're building has ended up needing to implement a modified version of `DefaultRoslynCompilationService` to avoid caching of the list of compilation references. In the modified version we still depend (as far as I can see) on `IRazorViewEngineFileProviderAccessor` and `ExpressionRewriter` which are both in the `.Internal`-namespace.

Is there any chance this can be moved to the publ

[2016-06-30 17:20] bigteejay commented on #4930
@dougbu -

My apologies, I was referring to the type attributes in the project.json (as below from my original project.json)...

[code]

What does that mean?  The first line in my project.json is as follows...

@dougbu & @Eilon & @davidfowl - That is good input.  As mentioned earlier, I have been following upgrading/revisions to project files along the way as best as I was able to find/discover mi

[2016-06-30 18:16] bjorn-ali-goransson opened #4940 "Why the "Controller" suffix requirement?"
Why are we required to name our controllers "LoremIpsum**Controller**" when it's technically sufficient to just look for concrete classes extending Controller, to find the right classes to register?

Would a lot of stuff break removing this requirement? (I guess not.)

[2016-06-30 18:19] brockallen commented on #4940
Not all controller classes extend the `Controller` base class.

[2016-06-30 18:20] pranavkm commented on #4940
Types deriving from the `Controller` don't require the suffix. Here's the list of conventions used during controller discovery: https://github.com/aspnet/Announcements/issues/165

[2016-06-30 19:21] bjorn-ali-goransson commented on #4940
(Hello @brockallen)

Okay, nice, I thought that was still the case from MVC 5.

[2016-06-30 19:21] #4940 closed

[2016-06-30 19:22] Haplois commented on #4906
I migrated tests of from `PartialViewResultTest` class into same namespace and folder. But (https://github.com/aspnet/Mvc/pull/4939#issuecomment-229744040) there is a test for this already, and it's nearly the same.

What's the correct folder/namespace for these tests? Is it `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.Mvc.ViewFeatures.Internal`?

[2016-06-30 19:35] brockallen commented on #4940
Yep, interesting news to me as well!

[2016-06-30 19:39] rynowak commented on #4906
The correct namespace is `Microsoft.AspNetCore.Mvc` - the namespace should be the same as the thing its testing.

Looks like `PartialViewResultTest` is in the wrong

[2016-06-30 19:40] Haplois commented on #4906
Then I'll fix that instead :)

[2016-06-30 19:50] rynowak commented on #4937
I've seen `HTTP 201 Created` used for this in the past, and (at least to me) 202 seems more appropriate for an asynchronously created resource. Would be nice to have IMO. Example from our own code: https://github.com/aspnet/benchmarks/blob/dev/src/BenchmarksServer/Controllers/JobsController.cs#L54

I know @javiercn has had opinions about this and other things 202 related in the past.

[2016-06-30 20:21] freshe opened #4942 "Areas not getting published"
Areas/\*\*/Views in template does not seem to work.
Areas/\*\*/\*.cshtml still works fine.

[2016-06-30 20:22] Eilon commented on #4916
Hmm, well, we can't remove it due to compatibility, just in case someone is calling it. But in the meantime we can certainly document it as serving no purpose. E.g. "This property is never set and should not be used. It will be removed in a future release." We can mark as `Obsolete` (warning, not error) with the same message as well.

[2016-06-30 20:25] bigteejay commented on #4930
Something else I am noticing, and it seems worth note (perhaps elsewhere, I'm unsure where that would be) is that it is unfortunate that the package restore popup that shows up at the top of the solution window in VS doesn't appear to be fully capturing the outcome of that restore process.

It often will show red text and indicate if an issue occurred.  However, in my case thus far, it gives no in

[2016-06-30 21:01] bigteejay commented on #4930
Interestingly, a new default project compiles, and running `dotnet restore` in its folder only tries the restore once and gives (only once) a single `restore completed` message.

I've done my best to get my actual solution's project's [project.json ](http://pastebin.com/A8nsdgHN)to match the [default ](http://pastebin.com/6MEjRHdd)one, and yet I still first get the error, then I get a success, the

[2016-06-30 21:03] bigteejay commented on #4930
Ah ha!  I just realized, the first issue (of the two messages that were being generated when I did `dotnet restore`), the output mentioned something in `ProjName/bin/release`.  I deleted everything in `bin/` and did another `dotnet restore` and now no errors, just the success message!  Apparently it was finding an old `project.json` in the release build bin output folder and trying to process it (

[2016-06-30 21:07] bigteejay commented on #4930
As far as the issues that were appearing in the "Error List", they too are now gone and everything seems to be working smoothly, thanks for your help everyone!

I'll go back, revert to the broken `project.json` and try and determine exactly what was causing this issue as well in the event anyone else ends up here.

[2016-06-30 21:14] pranavkm commented on #4942
Could you file this bug in https://github.com/dotnet/cli?

[2016-06-30 21:16] bigteejay commented on #4930
Oddly, reverting to the "broken" `project.json`, and running `dotnet restore` works without issue (no restoration related failures, and no errors reported in the "Error List".)

I can only presume that the issue stemmed from the old build artifacts found in `ProjName\bin`.  Should anyone have similar issues, try deleting/clearing that out.

[2016-06-30 21:16] #4930 closed

[2016-06-30 22:08] kichalla commented on #4933
I don't think we currently have a way to write out multipart responses( @Tratcher can confirm this ). One way I can think of is to use `System.Net.Http.MultipartContent`.  You would need to subclass it to provide the ASP.NET Core's response stream for the SerializeToStreamAsync method. An output formatter for this content (ex: we have a formatter for the `string` type) which deals with setting con

[2016-06-30 22:28] Tratcher commented on #4933
No, we don't have a built in formatter for it. That said, the multipart format is much easier to generate than it is to parse. See https://github.com/dotnet/corefx/blob/bfdd0b7694a99838760fbccc8185ee53c7b451cd/src/System.Net.Http/src/System/Net/Http/MultipartContent.cs#L216-L237

[2016-06-30 22:29] Tratcher commented on #4933
Also note that downloads don't normally use multipart. You can just set the content-disposition header on a normal response.

[2016-06-30 23:33] freshe commented on #4942
Sorry, found and open issue in CLI https://github.com/dotnet/cli/issues/3286
and MVC milestone 1.1 as well #4645

[2016-07-01 00:14] pranavkm commented on #4942
Great. Feel free to close this issue if it's being addressed elsewhere.

[2016-07-01 06:50] markusvt commented on #4936
Thank you very much! That saved my day :)

[2016-07-01 07:49] #4942 closed

[2016-07-01 07:53] ShadowDancer opened #4944 "Feature request: Comments with name of view file, RazorView customization"
Use case:
Comments with currently rendered viewName in development environment. For example:

[code]

In case you want to know - "Hey why this div is here" without checking whole view hierarchy.

In rc1 there used to be IRazorViewFactory, where I could create my view on top of razorView, that would write comment to body before and after base.RenderAsync. There is no IRazorViewFactory anymore, and

[2016-07-01 08:31] RehanSaeed commented on #4933
Thanks @Tratcher @kichalla.

My use case is that I have clients for my API with **very** low internet bandwidth/connectivity in Africa and need to send them multiple zip files. I'm trying to decide between creating a zip of zips or a Multipart response. I realize that using a multipart response is not a good method of downloading files from a browser due to lack of support but I am writing an API

[2016-07-01 08:35] darrensteadman commented on #4880
Thanks for the help, I'll have to assess what will be best for us and go from there.

[2016-07-01 08:35] #4880 closed

[2016-07-01 10:28] ryanelian opened #4945 "Simple string returned by controller action is not a valid JSON!"
[code]

ASP.NET MVC Core 1.0.0 does this:

[code]

Meanwhile in ASP.NET Web API 5.2.3 does this:

[code]

ASP.NET MVC 5.2.3, when returning`Json("Hello World", JsonRequestBehavior.AllowGet)`, does this:

[code]

This is an unexpected behavior for me. Is this a bug or feature? I believe `"Hello World!"` is a valid JSON response, not `Hello World!`. Javascript `JSON.parse()` function can parse the f

[2016-07-01 12:07] scottdorman commented on #4930
The original issue reported still exists.

For what it's worth, this is definitely an issue related to an upgrade scenario. I had a project created using what was released just before the 1.0 release and had this error. After making a backup copy of the project, creating a new one using the 1.0 bits and then copying my views, controllers, etc. back over I no longer see this error.

[2016-07-01 12:31] markusvt commented on #4936
Another Problem just arrised:

i got the following class to render a view programmatically (I call that via ajax to change parts of a view based on certain selections of a user)

[code]

Before I updated to Core 1.0  it worked. Now it says
[code]
I already tried to remove the ~ or the .cshtml  and made sure that view actually exists in that location.

[2016-07-01 12:35] error505 commented on #2938
I would also like to see one angularjs example or jquery or what ever just to know how to counstruct model that should be sent to IFormFile to accept it... I have already tried with FormData but it doesnt work at all. I always get null. [Take a look here](http://stackoverflow.com/questions/38144194/iformfile-is-always-empty-in-asp-net-core-webapi)

[2016-07-01 14:08] kspearrin commented on #4930
I have tried clearing all my artifacts and it still doesn't seem to resolve the problem.

[2016-07-01 14:22] scottdorman commented on #4930
@kspearrin I found that as well. I tried removing the bin and obj folders, as well as the .vs folder and still got the same errors. It wasn't until I created a brand new project and then copied just my code and views back over did the error go away.

[2016-07-01 14:24] kspearrin commented on #4930
Unfortunately my project is massive and that would be very difficult to do.

[2016-07-01 15:21] iscifoni commented on #4847
@Eilon  This is in up-for-grabs.. I can do it ?

[2016-07-01 15:30] rynowak commented on #4847
I'm not @Eilon - but yes!

`up-for-grabs` means that we're definitely interested in a fix and it's also a good issue for someone unfamiliar with the code to take a crack at. Please do

[2016-07-01 15:40] iscifoni commented on #4847
ok Thanks :)

[2016-07-01 16:00] danroth27 commented on #2938
https://github.com/aspnet/Docs/issues/948

[2016-07-01 16:16] pranavkm commented on #4936
If you print the `SearchedLocations` from `viewEngineResult` it might say what locations its trying to look up.

[2016-07-01 16:37] dougbu commented on #4690
42cea41

[2016-07-01 16:37] #4690 closed

[2016-07-01 16:42] kichalla commented on #4933
Based on what you mention probably byte ranges support is what you are looking for? That said I don't know much about byte ranges with respect to multiparts.

[2016-07-01 16:44] Eilon commented on #4847
Yup, go for it!

[2016-07-01 17:17] Tratcher commented on #4933
This sounds like the old WebApi request batching feature. Is that still in the compat shim?

[2016-07-01 17:22] kichalla commented on #4933
No it's not part of the shim. Shim is mostly about the controller, it's helper methods and it's action selection process. Batching in webapi was more involved with a delegating handler splitting into individual requests and combining them back.

[2016-07-01 17:25] dougbu commented on #4936
Alternatively, your `project.json` might be missing the `Areas` folder. Look for
[code]

[2016-07-01 17:50] Eilon commented on #4917
@Bartmax ok, so to make sure I've understood, you'd still like to see an `asp-fragment` property on various tag helpers (probably not just the `<form>` one, but also `<a>` and maybe others), and other than that everything works?

[2016-07-01 21:10] danroth27 commented on #4734
@Eilon This doesn't sound critical - should we move this to the backlog?

[2016-07-01 21:21] danroth27 commented on #4650
@Eilon This seems low priority

[2016-07-01 21:34] danroth27 commented on #3447
@rynowak What is the remaining work that this issue is still tracking?

[2016-07-01 21:55] danroth27 commented on #4786
@Eilon Candidate for 1.1?

[2016-07-01 22:51] rynowak commented on #3447
@danroth27 - changed the title.

The remaining work here is to identify a way that we can validate an antiforgery token when required - **by default**.

[2016-07-02 01:52] Eilon commented on #4734
Yeah sure, we can wait for customer demand.

[2016-07-02 05:09] khakindra opened #4949 "Unable to Bind ViewComponent input data to model object"
How can i bind the data to model object in ViewComponent?

In my case CurrentAddress and PermanentAddress objects is null on Post Action "Register" in Register Controller.
kindly help me for same below are the code snap. Thanks in advance

My Model class

[code]

My Controller class

[code]

My ViewComponent class

[code]

ViewComponent.cshtml class

[code]

Register.cshtml class

[code]

[2016-07-02 08:12] damienbod opened #4950 "Default MVC ASP.NET Core RTM cannot use IIS Express and SSL"
If I create a new default ASP.NET Core MVC application and configure it to use SSL in the projects settings, it will not start. This worked in RC2, RC1, preview 1.

[2016-07-02 08:17] damienbod commented on #4950
Here's the error message in the VS popup

An error ocurred attempting to determine the process id of the dotnet.exe which is hosting your application. One or more errors occurred.

[2016-07-02 09:44] kili0fi commented on #4886
This is no longer an issue in RTM.

[2016-07-02 09:44] #4886 closed

[2016-07-02 10:05] markusvt commented on #4936
I did print the ```SearchedLocations``` and it was empty. I did the following:
[code]

[2016-07-02 16:59] Bartmax commented on #4917
@Eilon I'm not sure, that's why I think it's better for you to decide maybe based on more customers.

I do want to be able to manage the routing consistently alongside my app (aka creating url address for endpoints).
**But** i don't think having a fragment on form tag helper sounds about right.

[2016-07-02 17:38] Bartmax opened #4951 "Manually creating a ViewModel is different that the way it's created by the framework."
I won't pretend I understand how this works, just wanted to tell you about something I noticed that may be a bug but probably is by design. And it would be great to have it documented (couldn't find).

[code]

When we render a view without explicit creating a view model instance, the Order value is "empty" (note the type is `int`)

[code]

if I explicit create the ViewModel (uncommenting the comme

[2016-07-02 20:51] gdoron commented on #4934
@NTaylorMullen is there an open issue for the CLI bug?
I would like to track it if it exists.

Thanks.

[2016-07-02 21:47] ivaylokenov commented on #4951
The framework does not create new object like you do - the model remains null and that is why values are empty. When you create an object, you initialize it with all default values. The default value of int is 0 - you receive 0 in the input.

[2016-07-03 04:51] pranavkm commented on #4936
If you haven't modified `RazorViewEngineOptions.FileProviders`, the view engine is going to look for the view at `Path.Combine(IHostingEnvironment.ContentRoot, "Areas/Company/Views/Adress/_MainAdressFormular.cshtml")`. Could you check if the view exists at this location?

[2016-07-03 08:12] ivaylokenov commented on #4905
@Eilon I am asking because I would be happy if you feature another project of mine, tightly coupled with ASP.NET Core MVC - https://github.com/ivaylokenov/MyTested.AspNetCore.Mvc. It was featured in the latest ["This week in .NET"](https://blogs.msdn.microsoft.com/dotnet/2016/06/28/the-week-in-net-6282016/).

I hope the MVC team find it reasonably interesting :smile:

[2016-07-03 15:40] TsengSR opened #4952 "Any way to access the RouteData from Middleware before Routing is handling it?"
Is there any way to register the routings before Mvc Middleware is registered?

The use case is following: I want to use custom localization in url and for that I need to write a customized `RequestCultureProvider`.

    public class UrlRequestCultureProvider : RequestCultureProvider
    {
        public override Task<ProviderCultureResult> DetermineProviderCultureResult(HttpContext httpContext)

[2016-07-03 19:46] damienbod commented on #4950
Fixed using this (Resolution Number #2):

https://blogs.msdn.microsoft.com/robert_mcmurray/2013/11/15/how-to-trust-the-iis-express-self-signed-certificate/

[2016-07-03 19:46] #4950 closed

[2016-07-03 19:53] mcgear opened #4953 "The provided antiforgery token was meant for a different claims-based user"
Hi,

So i am trying to work with AspNetCore Antiforgery.  First, i'll setup where i am at:

1)  Added to Startup the following (configured 2nd, after Application Inisghts Telemetry):

[code]

2)  Added to Startup the following (configured 1st, before anything else)

[code]

3)  I have a controller method that uses the ValidateAntiForgeryTokenAttribute

If i have a user that is not logged in, i am

[2016-07-03 20:21] mcgear commented on #4953
I wanted to add, that if i just delete the '.AspNetCore.Cookies' cookie prior to submitting to the API, then the generated antiforgery token works in the API.  So it seems to be something about having the .AspNetCore.Cookies cookie present?...

[2016-07-03 20:27] mcgear commented on #4953
Also probably important to note that my project.json targets net 4.5.1....  Fifty280.Presentation brings in antiforgery reference:

`
{
	"dependencies": {
		"Autofac.Extensions.DependencyInjection": "4.0.0-rc2-240",
		"Fifty280.Presentation": "1.0.0-*",
		"Microsoft.AspNetCore.Mvc.Core": "1.0.0-rc2-final",
		"Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-final",
		"Microsoft.AspNetCore.S

[2016-07-04 06:36] markusvt commented on #4936
No I didn't modify it. I just double-checked the location of that view and it is where it is supposed to be
![image](https://cloud.githubusercontent.com/assets/2082863/16552333/7d4fa224-41c0-11e6-8105-d336c0c379bb.png)

Can I somehow configure the `SearchedLocations` of the view engine as a workaround? As at the moment it seems that it doesnt search anything (output of those locations was empty)

[2016-07-04 08:50] psulek commented on #3973
@andrew-vandenbrink Just hit problem you mentioned that i have passed my ViewModel directly into InvokeAsync and then in my view component (in Net Core 1.0 RTM) parameter is null !!

[2016-07-04 09:09] error505 commented on #2938
I have tried to construct data as it is constructed when you upload from razor form something like this
dataService.addFile(formdata, {
            contentDisposition: "form-data; name=\"files\"; filename=\"C:\\Users\\UserName\\Desktop\\snip_20160420091420.png\"",
            contentType: "multipart/form-data",
                    headers: {
                        "Content-Disposition": "form-dat

[2016-07-04 09:12] markusvt commented on #4936
Okay after some trying out with a custom view engine and looking in existing code and tests i found the solution to my problem:
In my `RenderViewToString` I need to call
[code]
where `viewPath` contains the absolute path (with ~/...) to the view. So the "FindView" method iis not working for that. Also if i user anything but the absolute path for the `viewPath` parameter it is not working.
Actually

[2016-07-04 09:45] chassq opened #4955 "label-for displays 2 red asterix when view model property is set to required"
We are getting 2 red asterix displayed when we have a property using the RequiredAttribute using the label for tag helper in a tag helper form. I am going to look into extending or overriding the taghelper but just wanted to let someone know and see if there is any guidance on how to fix in the interim.

Thanks!

[2016-07-04 10:34] lalibi opened #4956 "Default values for attribute routing are ignored, after migrating from ASP.NET Core RC2 to RTM"
Code like the following, used to work with RC2, and the default value (`=1`) was honored.

	[Route("[controller]/[action]")]
	public class FooController : Controller
    {
        [HttpGet("{id:int=1}")]
        public IActionResult Bar(int id)
        {
            ViewData["Message"] = $"Id: {id}";
            return View();
        }
    }

With RC2, URLs `/Foo/Bar/1` and `/Foo/Bar` gave the sa

[2016-07-04 10:47] Muchiachio opened #4957 "Label tag helper caching model metadata too aggressively"
I found an inconsistency between html and tag helper output on labels. That is, if you use
[code]
it will always return the same (first init) display name value, even though they can change, for example in globalized scenarios.
But html helper doesn't do that, it works as expected and always updates display name value.
[code]
[Here's](https://github.com/Muchiachio/TagHelperMetadata) a repro soluti

[2016-07-04 10:56] chassq commented on #4955
Sorry, created the original issue too soon.  Let me be more specific about what is happening. We upgraded a RC2 web application (MVC) to RTM recently. When running in dev we get **one** asterix appearing on our labels which using the label tag helper and a view model with the requisite Required attribute on the property used by asp-for attribute on the tag helper. This is expected behavior.

Howev

[2016-07-04 11:59] andrew-vandenbrink commented on #3973
@psulek I decide not to use ViewComponent

[2016-07-04 12:08] psulek commented on #3973
I dont want to refuse ViewComponent. It is good feature especially from Net Core RC2 and latter (RTM) you can have view components embed in separate assembly and than load in other web app (see post about it here - [Re-using external view components in ASP.NET 5 & ASP.NET MVC 6](http://www.strathweb.com/2016/01/re-using-external-view-components-in-asp-net-5-asp-net-mvc-6/)

[2016-07-04 13:10] skyflyer commented on #4682
@ddotlic, I'm not sure what the correct issue for discussing this would be. In general it is a pretty sad state if you want to run on full .net framework.

@Eilon et al, a very concrete situation for my customers is that they'd like to use MVC 6 (ASP.NET Core MVC?) on full .NET framework (.NET 4.5.1, for instance), since they have 3rd party dependencies on .NET 4.5.1 (like IBM CTG, IBM DB2 etc. as

[2016-07-04 13:26] ddotlic commented on #4682
@skyflyer Some of the devs on my client's team managed to work around this in some hyper-ugly way, but I'm not holding my breath until tooling reaches RTM... it's indeed a silly regression to have that Microsoft does not seem to recognize as a serious issue... sigh.

[2016-07-04 14:12] error505 commented on #2938
Here is solution how to send it with angularjs
`vm.addFile = function () {
                    var fileUpload = $("#file").get(0);
                    var files = fileUpload.files;
                    var data = new FormData();
                    for (var i = 0; i < files.length ; i++) {
                        data.append(files[i].name, files[i]);
                    }
                    $http.

[2016-07-04 17:47] dazinator opened #4958 "mvc packages netstandard 1.5 and 1.6"
I am upgrading my application from RC2 to RTM

I was previously using the RC2 version of the following package: [Microsoft.AspNetCore.Mvc.Razor](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Razor/)

The RC2 version was compatible with netstandard1.5, and in the RTM version this has been changed to netstandard 1.6.

So I changed my project.json to target netstandard1.6 but I still cannot

[2016-07-04 17:53] ivaylokenov opened #4959 "RouteValueAttribute not working as expected"
Steps to reproduce:

1.Create new Web Project and leave only this controller

[code]

2.Run the application and navigate to '/Home/Contact/1' - action should be executed correctly.
3.Add the following route value attribute:

[code]

4.Add this second controller:

[code]

5.Run the app and navigate to '/Home/Contact/1' - this time the response is 404 and it should not be as the HomeController never

[2016-07-04 17:55] ivaylokenov commented on #4958
Have you tried deleting the project.json.lock files in solution? That fixed the packages problems for me.

[2016-07-04 17:57] dazinator commented on #4958
- Sorry hadn't tried that, however I did a rebuild and then that seemed to fix it ;)

[2016-07-04 18:04] nil4 opened #4960 "ActionResults returned from controller actions rendered as JSON, instead of executed"
## Steps to reproduce

Open http://localhost:5000/ in your browser.

## Expected results

The page displays `{"a":"test"}`, i.e. only the ObjectResult **value** is returned to the client.

## Actual results

The page displays `{"value":{"a":"test"},"formatters":[],"contentTypes":[],"declaredType":null,"statusCode":null}` instead, i.e. all the properties of `ObjectResult` are returned to the client

[2016-07-04 18:05] nil4 commented on #4960
The incorrect behavior is new to 1.0 RTM, and used to work fine in RC2.

[2016-07-05 04:59] dougbu commented on #4936
@markusvt have a look at the doc comments for `IViewEngine`. That makes the distinction between `GetView()` and `FindView()` pretty clear. In short, `GetView()` starts with an absolute or relative path while `FindView()` starts with a view name and uses view locations, et cetera.
- https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewEngines/IViewEngine.cs
- https:/

[2016-07-05 05:35] rynowak commented on #4960
Yep, this is definitely not intended. Thanks for the repro

[2016-07-05 07:01] javiercn commented on #4956
Its a known bug in atribute routing. The workaround is to use two routes and provide the default value in the method parameter. See https://github.com/aspnet/routing/issues/324

[2016-07-05 08:46] marcuslindblom commented on #4919
Ok, thanks!

[2016-07-05 08:46] #4919 closed

[2016-07-05 10:33] iamthemovie opened #4961 "JSON Serializer Contract Resolver defaulting to CamelCaseContractResolver after RC1 to 1.0 port"
We ported our RC1 ASP.NET Core project over to RTM last week and noticed the JSON serializer settings no longer default to the DefaultContractResolver, instead it defaults to the CamelCasePropertyNamesContractResolver leading us to have to use the following:

[code]
Our app sends serialized object output in Upper Camel case for property names.

What is the position on the default output serializat

[2016-07-05 11:27] ctyar commented on #4961
you might want to take a look at these:
https://github.com/aspnet/Mvc/issues/4283
https://github.com/aspnet/Mvc/issues/4842

[2016-07-05 12:19] IsaacSee opened #4962 "Best way to log/read request body in a middleware ?"
Hello,

For logging concern we need to read and rewind the request body.
With pre-rc2 we used EnableRewind() to read then rewind the body stream.

But with 1.0.0, it seems that Kestrel uses stream pooling, resulting in ObjectDisposed Exceptions  on the following request after calling EnableRewind().

Is there a new way to read the body before MVC [FromBody] ?
Or is this an issue ?

Thanks.

[2016-07-05 13:09] iamthemovie commented on #4961
Thanks!

[2016-07-05 13:10] iamthemovie commented on #4842
@antonGritsenko that's my work around too, working fine for me.

[2016-07-05 13:13] iamthemovie commented on #4961
For anyone coming to this in the future, these classes are part of JSON.NET and not ASP.NET.

Will close.

[2016-07-05 13:13] #4961 closed

[2016-07-05 13:19] TrplM opened #4963 "ClaimsPrinciple (logged in user) is being retained across browsers and logins"
I have noticed the following behavior when using IndividualAccount authentication on a webapp hosted on Azure.

This only happens when hosted in Azure and I have not been able to replicate this behavior when debugging locally in VS.

Following steps to reproduce the behavior I am seeing:
**User 1** logins in on **Browser 1**
**User 1** navigates to _Contact page_

**User 2** logins in on **Browser

[2016-07-05 14:49] IsaacSee commented on #4962
Thanks @rynowak.
I did not found the referenced issue on Kestrel, I can confirm this is the same issue.

[2016-07-05 14:52] rynowak commented on #4962
It seems like you might be able to work around the problem like so:
[code]

Does that work?

[2016-07-05 15:01] wangkanai opened #4964 "ViewComponent => User as ClaimsPrincipal"
HomeController inherit [ControllerBase](Mvc/src/Microsoft.AspNetCore.Mvc.Core/ControllerBase.cs) gives `User` with `ClaimsPrincipal`

[code]

DemoViewComponent inherit [ViewComponent](Mvc/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewComponent.cs) give `User` with `IPrincipal`

[code]

Is there any reason for such implementation?

[2016-07-05 15:14] IsaacSee commented on #4962
Yes, thanks again !

Here is the resulting snippet, including the workaround.

[code]

[2016-07-05 15:15] rynowak commented on #4964
The only reason I can think of is that `HttpContext.User` used to be `IPrincipal` and is now `ClaimsPrincipal`. It looks like controller was updated when that changed and view component was not.

[2016-07-05 15:19] #4962 closed

[2016-07-05 15:37] wangkanai commented on #4964
This is how I overcome the difficulty right now.
[code]
Would anything break if you guys change `User` in `ViewComponent` to inherit from `ClaimsPrincipal`?

[2016-07-05 16:22] rynowak commented on #4964
From https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#behavioral-changes

This would be a binary breaking change

[2016-07-05 16:32] Eilon commented on #4905
@ivaylokenov just send us a PR to the readme.md file and we can merge. Looks like a cool project!

[2016-07-05 16:41] dougbu commented on #4955
MVC forms do not display an asterisk by default. Does your project include code adding that display for validation errors?

If not, sounds like one or more JavaScript files is not being downloaded, likely `jquery.validate.unobtrusive.js` / `jquery.validate.unobtrusive.min.js`. Check using F12 in your browser.

[2016-07-05 16:46] dougbu commented on #4245
15f25d5

[2016-07-05 16:46] #4245 closed

[2016-07-05 16:46] dougbu commented on #4507
15f25d5

[2016-07-05 16:46] #4507 closed

[2016-07-05 16:47] chassq commented on #4955
Yes, we have included jquery.validate.unobtrusive.js  /  jquery.validate.unobtrusive.min.js . You can see it here: https://hxs-dev-hub-webapp.azurewebsites.net/agency/appointment/getstarted . Site is currently in Dev/Test.

[2016-07-05 16:54] nil4 commented on #4960
I [updated the repro code](https://github.com/nil4/MvcCoreObjectResultRepro/commit/c36010df6e44c8a903186fdd223a757dc33031de) to test other ActionResult subclasses. Here are the test URLs and results:

`/201` (CreatedResult):
  - **expected** no content, status code = 201, Location header set;
  - **actual** `{"location":"/","value":null,"formatters":[],"contentTypes":[],"declaredType":null,"status

[2016-07-05 17:06] Eilon commented on #4682
@skyflyer yes, ASP.NET Core is fully supported on .NET Framework on Windows. To add a reference to a "loose" assembly on disk, you will indeed need to manually "wrap" it into a NuGet package. Unfortunately the Preview 2 tooling release that just came out doesn't have a built-in "wrap" feature, so you need to do that step manually.

[2016-07-05 17:11] rynowak commented on #4960
The problem is [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ControllerActionInvoker.cs#L644) and [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ControllerActionInvoker.cs#L652). Both of these cases should have a conditional cast to `IActionResult`.

[code]

Should change to:
[code]

If you want a workaround, I'd

[2016-07-05 17:16] Lutando opened #4965 "How to set OutputFormatters in RTM"
How do I assign the various OutputFormatter members if they are now private members? in RC2 they were not

[code]

[2016-07-05 17:19] javiercn commented on #4965
You should call AddJsonOptions to configure the formatters settings you want to configure them. See https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/DependencyInjection/MvcJsonMvcBuilderExtensions.cs

[2016-07-05 17:26] dougbu commented on #4955
@chassq what adds the `<span style="color:red"> *</span>` elements to the `<label>`? Nothing in MVC does this.

[2016-07-05 17:30] chassq commented on #4955
Its my understanding that placing the [Required] attribute data annotation on the ViewModel property will display the red asterix on a label where label asp-for is used. Am I wrong?

[2016-07-05 17:31] nil4 commented on #4960
@rynowak thank you for the workaround, will test and report back.

[2016-07-05 17:34] nil4 commented on #4960
@rynowak looking at the code you linked to, it seems both cases deal with non-async method return values. The code I posted is a minimal repro of an actual project where all actions are async, and those are affected as well. Thought I should mention this now to avoid a partial fix.

[2016-07-05 17:34] dougbu commented on #4955
No, MVC doesn't do this. Other code in your application must be changing the generated HTML or updating the DOM in your browser.

[2016-07-05 17:39] rynowak commented on #4660
@nathana1 it's probably a good time to start taking a look at this now.

What kind of data do we have that points to the array pool as an issue?

Do we know for sure that we were using the implementation of `ArrayPool<>` with the fix for https://github.com/dotnet/corefx/issues/7727 ? Note that we did **not** ship the fixed version of this in RC2.

[2016-07-05 17:55] rynowak commented on #4960
[Lines 641- 648] https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ControllerActionInvoker.cs#L641 is the synchronous case.

[2016-07-05 18:01] chassq commented on #4955
Ok, got it thanks.. I will keep looking...

[2016-07-05 18:01] #4955 closed

[2016-07-05 18:05] rynowak commented on #4945
I had a chance to discuss this with @Eilon this AM, and I think that while the current behavior is what was intended, it's not super useful. It's also not something we'd be willing to change for a 1.1.0 - hence the 2.0.0 label.

#### Some Background

The intention here was to make it easy and possible to return plaintext from an action, the "Hello, World" scenario. This has long been MVC's behavio

[2016-07-05 18:13] dougbu commented on #4957
Strange but not horrendous. `LabelFor()` and the `<label>` tag helper _should_ work almost identically. But turning off `ModelMetadata` caching, as your `RandomDisplayNameMetadataProvider` does is strongly _not_ recommended. It's also not required since the `ModelMetadata.DisplayName` getter wraps a `DisplayMetadata.DisplayName()` call.

Instead use an `IDisplayMetadataProvider` implementation e.g

[2016-07-05 18:22] rynowak commented on #3973
@andrew-vandenbrink

The reason we removed support for multiple methods (overloading) is that we can't implement what the C# compiler does for overload selection and conversions of arguments. What we shipped in RC1 was a bad approximation and lots of people found holes in it.

If your code is really as simple as what you provided in the example you might want to look into display/editor templates

[2016-07-05 18:34] dazinator commented on #3973
At the moment, if you call a VS like this:

[code]

And you have an InvokeAsync method on your VC that takes an argument:

[code]

We now get `null` passed in.

I think it would be much better to throw an Argument Mismatch exception.

The invoker is sending an argument so there is an obvious expectation for that argument to make it to the view component. The view component is accepting an argument

[2016-07-05 18:39] nil4 commented on #4960
@rynowak workaround confirmed, thank you!

[2016-07-05 18:41] Muchiachio commented on #4957
Thanks for a workaround @dougbu it works, I was still using [this](https://github.com/aspnet/Mvc/issues/2340#issuecomment-109031611) approach, which is kind of old now.
So is this by design? I would say consistency across both would be great, at least for simple cases where html helper can catch up with the new tag helper functionality.

[2016-07-05 18:51] ddotlic commented on #4682
@Eilon That's not really a solution, the problem did not exist prior to RC2, it's a regression, hence many disappointed comments here and in the other similar items. If we did this, we'd still throw that work away as soon as tooling is repaired.
It would have been OK if there were a sample showing how to do this, but I'm not aware of one.

[2016-07-05 18:53] rynowak commented on #3973
@dazinator - that's something we could do as well. We'd really like to make sure we're doing the best we can for usability as part of the same work.

[2016-07-05 18:55] rynowak commented on #4959
This is definitely intended as of 1.0.0.

What are you trying to accomplish? There's probably a better way to do it.

[2016-07-05 19:01] dougbu commented on #4957
Yes, by design.

What you're seeing is an artifact of the many singletons in the system. The stack of singletons involved in HTML helpers happens to be shallower than that for tag helpers. You'd need to change numerous services (`IModelExpressionProvider`, `IRazorPageActivator`, `IRazorViewEngine` and more) as well as replace the `ICompositeViewEngine` so that it ignores the passed-in `IViewEngine

[2016-07-05 19:07] #4957 closed

[2016-07-05 19:23] nil4 commented on #4965
Is there a good reason why the `AddJsonOptions` method isn't an extension on `IMvcCoreBuilder` as opposed to `IMvcBuilder`? I think JSON output options are equally important (if not more so) for API-focused projects where MVC Core is sufficient.

[2016-07-05 19:27] ivaylokenov commented on #4959
@rynowak I do not try to acomplish anything, I am just toying around quite a lot because of my libraries I am writing for ASP.NET Core. The reason I opened this issue is because on the RouteValueAttribute the documentation states:

[code]

I understand from this sentence that only the action I put the attribute on will require 'id' route value that is equals to 5 as per the example above. I wonder

[2016-07-05 19:39] ivaylokenov commented on #4905
@Eilon Thank you very much! PR is now open :+1:

[2016-07-05 19:56] rynowak opened #4967 "Add IMvcCoreBuilder.AddJsonOptions extension method"
We don't have this defined for `IMvcCoreBuilder` only `IMvcBuilder`. This would be great to have even though you can setup options as part of `AddJsonFormatters`. Most of our examples refer to `AddJsonOptions`.

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/DependencyInjection/MvcJsonMvcBuilderExtensions.cs#L19

[2016-07-05 19:57] rynowak commented on #4965
@nil4 - if this is missing we should add it. https://github.com/aspnet/Mvc/issues/4967

You can do everything `AddJsonOptions` does by passing a delegate to `AddJsonFormatter`

[2016-07-05 20:05] javiercn commented on #4965
I think in the AddMvcCore case its better to configure it when you call to AddJsonFormatter instead of adding another AddJsonOption method on IMvcCoreBuilder. The reason for this is that the following chain would be valid but produce an incorrect configuration.
[code]
The right thing to do would be
[code]
And at that point it will be simpler just to do
[code]

[2016-07-05 20:09] javiercn commented on #4967
My two cents https://github.com/aspnet/Mvc/issues/4965#issuecomment-230587224. This would be a good up for grabs

[2016-07-05 20:10] rynowak commented on #4959
We should either improve the docs here or refer to this section -> https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Routing/IRouteValueProvider.cs#L22 which is quite detailed.

[2016-07-05 20:18] #4929 closed

[2016-07-05 20:19] rynowak commented on #4929
3ed0d01eae6879cc91c519bc2b1f0d77bfc021f0

[2016-07-05 20:23] ivaylokenov commented on #4959
@rynowak Got it. That interface describe it well enough. There was parameter - require key or something. Why was that removed?

[2016-07-05 20:28] rynowak commented on #4959
It was removed because it adds a lot of complexity to action selection, and it conceptually meant the same thing as using an `IActionConstraint` to check the route value. Sample here: https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.ActionConstraintSample.Web/CountrySpecificAttribute.cs

[2016-07-05 20:33] #4956 closed

[2016-07-05 20:34] Eilon commented on #4963
@Tratcher any idea how this could happen?

[2016-07-05 20:34] Eilon commented on #4958
Sounds like everything is fine now, so closing...

[2016-07-05 20:34] #4958 closed

[2016-07-05 20:39] Eilon commented on #4951
Yeah as far as I know it's exactly what @ivaylokenov says.

@dougbu @rynowak can you confirm?

[2016-07-05 20:40] #4936 closed

[2016-07-05 20:56] ivaylokenov commented on #4959
@rynowak Thank you for the information. You can close this issue now or if you prefer to remind you of the documentation fix of RouteValueAttribute, you can leave it open. I do not have anything else to add or ask.

[2016-07-05 21:18] javiercn commented on #4951
Yep, I would say this is by design

[2016-07-05 21:18] Tratcher commented on #4963
Browser 1 and Browser 2 are just different tabs/windows for the same browser right? (e.g. both are Internet Explorer no). There's no user isolation across browser windows. It may be re-using resources cached on the client.

[2016-07-05 21:21] javiercn commented on #4963
Another way to check this is to open the tabs in "InPrivate/Incognito" mode.

[2016-07-05 21:31] Bartmax commented on #4951
Thank you.

[2016-07-05 21:31] #4951 closed

[2016-07-05 22:08] Eilon commented on #4905
Merged, thanks!

[2016-07-05 22:14] Eilon commented on #4682
@ddotlic I agree it's a take-back and it's certainly not ideal. There are plans to fix this in updating tooling but there isn't anything available just yet.

[2016-07-05 22:25] #4906 closed

[2016-07-05 22:29] javiercn commented on #4906
https://github.com/aspnet/Mvc/commit/4fe758240fcc4a51039565122923fe51b1920354

[2016-07-05 22:35] Eilon commented on #4967
Agreed.

[2016-07-05 22:43] dougbu commented on #4750
MVC does not perform validation (of any kind) for parameters unless they are bound. This behaviour hasn't changed in forever as far as I know. (My mention of #4652 was wrong; that's not relevant here.)

@janpieterz should we turn this issue into a request for at least `[BindRequired]` and `[Required]` enforcement on parameters?

Could also change `[BindRequired]` and the underlying `[BindingBehavi

[2016-07-05 22:56] rynowak commented on #4750
I'm curious to know if anyone would ever want `[FromBody] Person person == null` to ever **not** be a validation error.

[2016-07-06 01:48] TrplM commented on #4963
No this is across different browsers (eg. Chrome and Firefox), also been reproduced using different pc's.

Busy firing up a vm to determine if the issue is unique to Azure web apps.

[2016-07-06 02:14] TrplM commented on #4963
:( I feel like an absolute chop!

We've just determined that this only happens on the company network. So the local proxy must be caching the page somewhere and returning it for all requests.

I'll leave this open until we confirm that the proxy is the issue

[2016-07-06 03:00] nosmalldreams commented on #4676
I was having the same issue with .net core 1.0 targeting 4.6.1 (except the error messaging works better now, so you don't need to call dotnet-restore to see the correct error anymore). In addition to changing ".NETStandard.Library" version in class library project.json's dependencies to 1.4.0, I changed "frameworks" in the same file to "net461". The reference works fine now. Many thanks guardianni

[2016-07-06 05:29] iscifoni commented on #4967
I can do it ?

[2016-07-06 06:04] ryanelian commented on #4945
Actually, I find the Core MVC 1.0.0 behavior to be useful because it lets my client consume the text immediately without deserializing.

But I was surprised when I discovered this 'feature' when I was coaching about MVC / EF Core. I thought it was a bug, hence the issue.

Thanks for the heads-up and the workaround. :D

Sent from my iPhone

[2016-07-06 06:12] Eilon commented on #4967
@iscifoni I don't know, *can* you? 😄 If you want to give it a try, please let us know if you're working on it and we'll expect a PR from you!

[2016-07-06 06:56] andrew-vandenbrink commented on #3973
@rynowak

I port it into Partial View
[code]

Display and Editor template is poor choice in my use case due the need to use of model in the view page to makes it feels right to use it. I don't want to create model for every view page I have.

Well there is Html.Partial, Html.PartialAsync, so why not?
Not all my controller's code is IO bound, its normal to have CPU bound calculation too

[2016-07-06 07:46] javiercn commented on #4963
@Tratcher Is there a way to use the vary header when the user is authenticated to avoid proxies caching this content? I'm not saying that this should be on by default (A request by an authenticated user doesn't have to be answered with a response that contains content specific to that user) but I can see this being useful as something you can opt-in through a filter or something like that that you

[2016-07-06 09:04] TrplM commented on #4963
I've added this filter to my Controller to prevent caching by the proxy.

`[ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)]`

This seems to have solved the issue.

[2016-07-06 10:15] andrew-vandenbrink opened #4969 "List<Dictionary<string,object>> not automatically camel cased"
[code]
serialized to (automatically camel cased
[code]

But

[code]
NOT automatically camel cased
[code]

fyi I don't like this change https://github.com/aspnet/Mvc/issues/4842

[2016-07-06 13:38] lalibi commented on #4956
Thanks for letting me know.

[2016-07-06 15:51] javiercn commented on #4969
The behavior is intended and configurable on JSON.NET. See https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Serialization/CamelCaseNamingStrategy.cs

[2016-07-06 16:38] dougbu commented on #4969
@andrew-vandenbrink if you prefer to treat your dictionary keys as code,
[code]

Or apply the following to a `Dictionary` subclass with non-data keys:
[code]

[2016-07-06 16:41] kichalla commented on #2938
There is a new sample in `Entropy` repo which shows file upload with angularjs but it does not use `json` structure though

https://github.com/aspnet/Entropy/tree/1.0.0/samples/Mvc.FileUpload

[2016-07-06 17:25] pranavkm commented on #4910
I tried generating a LocalReport with a Sql Server 2014 instance and it seemed to work fine (with or without the call to `UseDatabaseErrorPage`). I'm not super familiar with reporting, so it'd be great if you could look at what I was trying to here and let me know if there's something I'm doing different \ incorrect that's causing things to work: https://github.com/pranavkm/reporting/blob/master/s

[2016-07-06 17:32] dougbu opened #4971 "Question: Should non-`ValueType` action parameters _always_ be non-`null`?"
`object`s are created for unbound POCO parameters only when using `ComplexTypeModelBinder`. This leads to the following inconsistent behaviours:
- `[FromBody]` parameters are left `null` when the incoming request has an empty body. See #4750 for example.
- POCO types with a `string` converter (i.e. `SimpleTypeModelBinder` handles them) are left `null` when the form contains no corresponding data.

[2016-07-06 17:44] Eilon commented on #4603
@dougbu / @rynowak any reason not to allow `[BindRequired]` and friends to apply to parameters as well as properties/classes?

[2016-07-06 17:45] dougbu commented on #4603
@Eilon if we changed the code so that attribute and its friends actually did something there, no.

[2016-07-06 17:50] #837 closed

[2016-07-06 17:51] #1232 closed

[2016-07-06 17:52] #893 closed

[2016-07-06 17:52] #890 closed

[2016-07-06 17:52] #1930 closed

[2016-07-06 17:55] Eilon commented on #1729
In Razor you can use an `@if()` statement to control what gets rendered/run.

[2016-07-06 17:55] #1729 closed

[2016-07-06 17:58] #1635 closed

[2016-07-06 18:02] dougbu commented on #4930
@scottdorman, @kspearrin, @bigteejay it's possible our documentation for some upgrade cases is incomplete. We should probably move this over to https://github.com/aspnet/Docs/issues In the meantime,
1. Which version did you each start with?
2. Anything obviously missing or significantly different in your broken `project.json` file and `Program` and `Startup` classes?
3. Just in case the tooling co

[2016-07-06 18:43] SpikeMelbost commented on #4930
If it helps, this is a summary of the problems / workarounds.

I started with RC1, moved to RC2 then moved some projects to 1.0 with one staying at RC2.

Moving a project from RC2 to 1.0 works for me if I update the Microsoft.NETCore.App entry in project.json to:
"Microsoft.NETCore.App": {
  "version": "1.0.0",
  "type": "platform"
},

However, I also have one project that needs to stay on RC2 for

[2016-07-06 19:28] Tratcher commented on #4963
@danroth27 @HaoK We need to check what the default caching policy is for those pages in template.

[2016-07-06 19:37] danroth27 commented on #4963
@blowdart

[2016-07-06 19:47] rynowak commented on #4603
I think it would be nice to support validation attributes on parameters, as well as the attributes which affect model binding.

[2016-07-06 19:55] WilliamBerryiii opened #4972 "Run-time Razor failure when targeting 4.6"
After attempting to re-target an application from `net45` to `net46` the application fails with the following run-time exception when executing the compiled application from the command prompt:

[code]

The source `project.json` file is as follows:
[code]

The application loads and runs successfully from Visual Studio via IIS but not on a Win2008R2 box with .Net 4.6.1 installed. My initial assumpt

[2016-07-06 19:59] javiercn commented on #4963
Its a partial view on the layout, so its "every page", in the first place it shouldn't be served through HTTP if it contains the user credentials and I would think that a proxy wouldn't cache it is HTTPS.

[2016-07-06 20:06] pranavkm commented on #4972
I suspect you're missing 4.6.1 reference assemblies installed under %ProgramFiles(x86)%/Reference Assemblies. @pakrym, would publishing the app work in this case?

[2016-07-06 20:21] WilliamBerryiii commented on #4972
@pranavkm sadly no.  This project is actually wrapped by a standard .net service for one deployment model and is x-plat for another (though the run-times are not listed above).  Thoughts on what to (re)install?

[2016-07-06 20:31] WilliamBerryiii commented on #4972
@pranavkm you are correct ... missing the .net 4.6.1 Reference Assemblies.

[2016-07-06 21:09] dougbu commented on #4603
See also https://github.com/aspnet/Mvc/issues/4750#issuecomment-230624120

[2016-07-06 21:24] dougbu opened #4973 "`ModelMetadata.Watermark` in MVC 5 is named `Placeholder` in ASP.NET Core MVC"
We accidentally renamed an MVC 5 property when we created `ModelMetadata.Placeholder`. Might want to recreate `Watermark` and obsolete `Placeholder` in 1.1.

[2016-07-06 22:33] #4911 closed

[2016-07-06 22:43] #453 closed

[2016-07-06 22:45] pranavkm commented on #453
:fireworks:

[2016-07-06 22:46] WilliamBerryiii commented on #4972
It appears that I had to hard reference 461 everywhere and install the SDK (this concerns me) in order to clear the runtime exception.

[2016-07-06 22:46] #4972 closed

[2016-07-06 22:55] pranavkm commented on #4972
@WilliamBerryiii - when running it as a service, are you building the application from source? If you have a published application, the reference assemblies should get copied with it. You shouldn't be required to install the SDK unless the you're skipping some parts of the published output.

[2016-07-06 23:02] WilliamBerryiii commented on #4972
@pranavkm I don't believe I am skipping any of the dependent libraries in the service wrapper from the sub projects, though I will check ... transitive dependencies.

[2016-07-06 23:10] pranavkm commented on #4972
When you do `dotnet publish` on your application, the output directory should contain a directory named `refs`. This includes the closure of reference assemblies required for runtime compilation to work. If the directory is missing, the CLI library falls back to looking up reference assemblies in the SDK install path. Check if this directory exists as part of our deployment.

[2016-07-06 23:16] WilliamBerryiii commented on #4972
@pranavkm - perfect ... thanks.

[2016-07-06 23:31] nathana1 commented on #4660
This still repro's in the rtm bits.  I'm working on some profiles and I'll send them to you.

[2016-07-07 04:37] Eilon commented on #4847
@ajaybhargavb assigning this to you to track @iscifoni 's PR at https://github.com/aspnet/Mvc/pull/4954.

[2016-07-07 06:10] andrew-vandenbrink commented on #4969
Thanks, too bad its not the default behavior... should be more consistent...

[2016-07-07 06:10] #4969 closed

[2016-07-07 06:33] msetze01 opened #4975 "Feature request: Environment tag helper wildcard/exclude support"
Hey guys,

@csharpfritz gave a nice demo of ASP.NET Core to our user group and while reviewing the new environment tag helper, a member asked about "else" support for the environment tag helper (presumably to output some content if the hosting environment had not matched a previous set of environment names). I don't think this is possible with the current design but I could think of a couple addit

[2016-07-07 06:48] markusvt opened #4976 "Model Validation based on multiple attributes"
I have a model called `Booking` that has the following properties:
- Start (DateTime)
- End (DateTime)
- Places (IEnumerable<Place>)

when saving the model I want to validate, that there are no other Bookings of those places between the given dates, so I wrote a custom ValidationAttribute and assigned it to the Places property.

Inside the validation method, I do the following to get the model-obj

[2016-07-07 09:07] lanwilliam opened #4977 "Chinese string in cshtml is compiled to garbage characters."
`<input asp-for="Price" data-val-number="字段 {0} 必须是一个数字。" class="form-control" />`
vs2015 use default file encode ansi.
So,when i run the page in chrome,show  garbage characters.
If I change file encode into utf8,it works ok.

[2016-07-07 09:17] lanwilliam commented on #4977
And I don't know why data-val-number is not a resources .It's easy for localization.This applies equally to the jquery-validation script.

[2016-07-07 09:20] marcusien opened #4978 "ModelState always keep Unvalidated state when Model implements IEnumerable<>"
The ModelState is always non valid if my ViewModel implements the IEnumerable<> interface.
Not any error is raised, just all the ModelStateNode keep the Unvalidated state.

I put a little sample [here](https://github.com/marcusien/AspNetCoreIssue_ModelStateAndIEnumerable)

A same ViewModel with or without IEnumerable implementation does not behave the same way.

[2016-07-07 09:38] marcusien opened #4979 "Change access modifier for InputTagHelper.GetInputType"
For now I copied some source code from Mvc but It could be better to change private by protected on InputTagHelper for the method GetInputType

[2016-07-07 11:10] ermithun opened #4980 "How to use ADO.NET in asp.net core 1.0?"
Please guide me to use ADO.NET in AspNetCore 1.0 with sample

[2016-07-07 12:27] seriouz commented on #4977
Did you try this? http://www.skorkin.com/2012/07/how-to-set-the-default-encoding-for-all-files-saved-in-visual-studio/

[2016-07-07 14:15] pranavkm commented on #4980
Could you file this in https://github.com/aspnet/Home? This doesn't seem Mvc specific.

[2016-07-07 14:50] BillDines commented on #4674
I have a similar issue with a Web Api project created from the "Asp.Net Core Web Application (.Net Framework)" template which references a .Net 4.6.1 class library (.csproj) that uses the Microsoft.AspNetCore.MVC nuget package.  Controllers defined in the class library are not picked up by the web project.  The workaround mentioned by javiercn does not work in this case as  Microsoft.AspNetCore.Mv

[2016-07-07 14:53] tuespetre opened #4982 "Take AutoGenerateField into account for GetEnumSelectList"
It would be convenient if the `GetEnumSelectList` helper methods only returned `SelectListItem`s for those enum values that either don't have a `DisplayAttribute` or do have a `DisplayAttribute` with `AutoGenerateField` set to `false`.

[2016-07-07 15:02] BillDines opened #4983 "Unable to define ASP.Net Core MVC controllers in .csproj class libraries"
I have an issue with a Web Api project created from the "Asp.Net Core Web Application (.Net Framework)" template which references a .Net 4.6.1 class library (.csproj) that uses the Microsoft.AspNetCore.MVC nuget package. Controllers defined in the class library are not picked up by the web project.

I have found some issues similar to this, but they have been fixed or closed and seem to be related

[2016-07-07 15:05] pranavkm commented on #4674
@BillDines, you should be able to workaround this by explicitly registering your ClassLibrary as an application part:

In your startup:

[code]

I suspect this is an issue with how `DependencyContext` computes references for csproj based class libraries.

[2016-07-07 15:18] BillDines commented on #4674
@pranavkm - thanks, that fixes it!  Sorry, I deleted my comment already and started a new  #issue:4983

[2016-07-07 15:19] recalde opened #4984 "502 Bad Gateway using File(fileContents, contentType, fileDownloadName)"
After updating from RC2 to RTM, the FileContent seems to be failing with 502 bad gateway.

`ControllerBase.File(fileContents, contentType, fileDownloadName)`

[code]

I see there is a commit that changes the FileContentResult.cs and adds a new FileContentResultExecutor.cs - I think this change may have something to do with it, and I'm looking through to see if maybe I can work around this -
https:

[2016-07-07 15:20] pranavkm commented on #4674
That's alright. It'll help us to keep track of the underlying issue so that it works out of the box.

[2016-07-07 15:21] BillDines commented on #4983
Workaround for this as provided by @pranavkm in the issue referenced above:

In your startup:

services
  .AddMvc()
  .AddApplicationPart(typeof(ValuesControllerFromClassLib).Assembly)

[2016-07-07 15:26] recalde commented on #4984
@javiercn any idea if something could have broken here?

[2016-07-07 15:32] recalde commented on #4984
Sorry this was my fault - old RC2 code seems to have supported an object return type for FileContentResult, though I'm not sure why it was used here...

[code]
Changing this fixes the issue.
[code]

[2016-07-07 15:35] #4984 closed

[2016-07-07 16:38] pranavkm commented on #4983
It looks like the `Dependencies` node for `Microsoft.Extensions.DependencyModel.Library` entries for csproj based references is empty (and consequently we don't look for controllers in them). @pakrym would you know if there's a work item addressing this in the CLI?

[2016-07-07 16:47] pakrym commented on #4983
@pranavkm I don't think so, we might need to file a new one.

[2016-07-07 16:51] Mr-Smileys opened #4985 "How to Save IFormFile to SQLServer FileStream Table"
So either no one has tried to do this yet or I am just not finding anything on it. The old way you would upload a file is this:
[code]

[code]

I know that the .Net Core uses IFormFile but all the resources I have found for saving it talk about saving it to the wwwroot folder on the web server. I am successfully passing the file to my controller but have not been able to figure out how to convert

[2016-07-07 16:59] pranavkm commented on #4983
Filed https://github.com/dotnet/cli/issues/3804 to track this.

[2016-07-07 17:04] pranavkm commented on #4985
`IFormFile` has a `CopyTo(Stream)` method on it. Wouldn't the switch to it look pretty similar to what you have here?

[2016-07-07 17:12] NTaylorMullen commented on #4934
@gdoron https://github.com/dotnet/cli/issues/3415

[2016-07-07 17:20] Eilon commented on #1768
@javiercn can you check if this is still an issue? I somehow doubt that it is...

[2016-07-07 17:20] #1527 closed

[2016-07-07 17:22] Eilon commented on #1864
@DamianEdwards @NTaylorMullen does it seem worth changing this at this time? I don't recall any customer complaints around this.

[2016-07-07 17:24] NTaylorMullen commented on #1864
Nah, only time I'd ever think it was worth fixing is if there truly was 0 other items to complete.

[2016-07-07 17:28] #1864 closed

[2016-07-07 17:33] NTaylorMullen commented on #4979
@marcusien what are you building that could use `GetInputType`?

[2016-07-07 17:38] Eilon commented on #4977
@lanwilliam for Visual Studio issues you can log an issue here: https://github.com/aspnet/Tooling/issues/

It's indeed an issue with file encoding during save, so once you change it (or change the default), it should work.

You can put your validation messages in resources by using Data Annotations and ASP.NET Core's new localization system. We have a complete sample here: https://github.com/aspne

[2016-07-07 17:38] #4977 closed

[2016-07-07 17:39] Eilon commented on #4980
@ermithun though we don't plan on having a sample for this, it's no different than using ADO.NET anywhere else. So, any example you find using ADO.NET on previous versions of MVC or in any other environment should be pretty much the same. MVC doesn't have any specific features or behaviors related to ADO.NET.

[2016-07-07 17:39] #4980 closed

[2016-07-07 17:40] Eilon commented on #4983
@pranavkm @pakrym so this is an external issue?

[2016-07-07 17:41] pranavkm commented on #4983
Appears so. We might want to verify that it works correctly once the CLI issue is fixed.

[2016-07-07 17:42] Eilon commented on #4973
Meh, value here is pretty low...

[2016-07-07 17:42] #4973 closed

[2016-07-07 17:48] Eilon commented on #4959
@rynowak assigning to you to update docs as appropriate.

[2016-07-07 18:26] Zoltu commented on #4750
Personally, I wish C# generally didn't allow nulls unless I went out of my way to allow for them, so when it comes to validation, I think at the least it should default to not null and *maybe* provide an option for allowing null.  In the case of `[FromBody]`, I can see a poorly designed API allowing for null values.  😄

[2016-07-07 19:43] nil4 commented on #4984
@recalde the response body starts with `{"FileContents":...` and thus I think you may be hitting #4960 -- if so, be aware that all ActionResult subclasses seem to be affected.

[2016-07-07 19:50] nil4 commented on #4960
/cc @Eilon @DamianEdwards FYI

[2016-07-07 20:41] Eilon commented on #4982
It would be a breaking change to start doing that by default. Do you have any thoughts on what an API would look like that supports this? In general we like to avoid complex rules that are both difficult to describe and difficult to understand. E.g. in this case would someone be better off just having a different `enum` that they use for generating the list? Or just writing their own custom logic

[2016-07-07 20:45] tuespetre commented on #4982
This.

Thanks!

[2016-07-07 20:45] #4982 closed

[2016-07-07 20:46] Eilon commented on #4975
Yeah I'd love to see a feature that supports this. I know that I’d use it in my own app. I want to render some UI "only when not in production," and I don’t want to have to enumerate all the environments that aren’t "production" (because it might change at any time).

Another idea to toss out there is to have some kind of `operator` or `inverse` option, which, would tell them system to apply a "no

[2016-07-07 20:59] Mr-Smileys commented on #4985
Thanks for your quick response. I tried to use this right after you commented and at first I thought I couldn't find it because we weren't running the latest version of .net core. I installed the latest and updated my project to use the newer runtime but CopyTo does not seem to be an option for IFormFile.
![code](https://cloud.githubusercontent.com/assets/20342291/16669491/fe7567a0-4452-11e6-950c-

[2016-07-07 21:13] pranavkm commented on #4985
The method was introduced as part of RC2 which explain why you aren't seeing it. Updating should resolve this issue. That should you should consider switching from dnx -> dotnet. The former is no longer being supported and RC2 packages and later might no longer be compatible with dnx (See https://github.com/aspnet/Announcements/issues/176).

[2016-07-07 21:20] WillRock19 commented on #4891
@rynowak It worked just fine. Thank you all very much! ^^

[2016-07-07 21:34] WilliamBerryiii commented on #4972
To those that find this issue ... my approach to building a windows service wrapping a x-plat project has been to run `dotnet publish` on both the service project and the x-plat project targeting the same output directory.  This correctly bundles the whole project for an x-copy deployment (less some powershell games with selecting the correct hosting.json file per environment).

[2016-07-07 22:56] danroth27 opened #4986 "-------------backlog triage line----------------"

[2016-07-07 22:58] rynowak commented on #4986
+1

[2016-07-07 23:08] Eilon commented on #4986
-1

[2016-07-07 23:09] #4986 closed

[2016-07-07 23:11] #4985 closed

[2016-07-07 23:46] dougbu commented on #4976
@markusvt are you sure the "save" button results in correct model binding? For example, might remove your validation attribute and check the property values of your `Booking` action parameter.

[2016-07-08 00:04] pranavkm commented on #4902
Self assigning. The code change is pretty minimal, most of the change here would be to add tests.

[2016-07-08 00:29] Eilon commented on #4986
+1

[2016-07-08 00:33] rynowak commented on #4986
why was this closed? I'm hitting this issue after migrating RC1 -> 1.0.0

[2016-07-08 00:36] recalde commented on #4984
@nil4 thanks that looks like it's the issue!

[2016-07-08 00:42] lanwilliam commented on #4977
@seriouz I know this,but I don't want to change it.
@Eilon Thx,Wish asp.net core could do better.

[2016-07-08 04:37] Eilon commented on #4986
@rynowak clear your package cache and delete `project.lock.json`.

[2016-07-08 04:37] #4891 closed

[2016-07-08 04:54] janpieterz commented on #4750
I'm happy turning this issue into something else @dougbu, but agree with @rynowak and I'm really curious to the use cases for it not being a validation error. I surely understand that it means diverting from previous ways (seems like a perfect moment to do it now), I get that it might rip open abstraction layers that are put in place (seems like 'new' insight shows they might need to be different)

[2016-07-08 05:17] Eilon commented on #4892
MVC 1 - 5 originally had some logic in it for this exact exception. I'm guessing that's where SignalR got its logic from 😄 I would think in the new world perhaps it is best to catch the exception, handle all the types that *did* load, and log all the errors? The "annoying" thing about this exception is that it can sometimes be innocuous. E.g. sometimes apps have DLLs that reference other DLLs that

[2016-07-08 05:19] Eilon commented on #4892
@ajaybhargavb please discuss with @pranavkm to make sure all 3 of us are on the same page here before we code this up.

[2016-07-08 05:25] #4861 closed

[2016-07-08 05:28] Eilon commented on #4876
Sounds legit to me. @kichalla please consult with @rynowak and @Tratcher as needed.

[2016-07-08 11:04] rsheptolut opened #4988 "ConvertEmptyStringToNull stopped being honored after upgrading from RC1"
I had a website working on ASP.NET 5 RC1 and it broke after updating to ASP.NET Core 1.0.
It depended on a property `ConvertEmptyStringToNull` of class `DisplayMetadata`. I'm setting it to `false` for all types and properties using `IDisplayMetadataProvider`, that was added to `ModelMetadataDetailsProviders` collection of `MvcOptions` using `AddMvc()` in Startup.cs.

My case: I have a link http://

[2016-07-08 11:28] rsheptolut opened #4989 "Html.ValidationSummary(ValidationSummary.All) throws NullReferenceException"
This started after I've updated my project from RC1 to ASP.NET Core 1.0. The tag helper also throws this exception.
If instead you specify ValidationSummary.ModelOnly, there's no exception. But also no property-level errors, which is bad.
Workarond: traverse ViewData.ModelState.Values manually and generate appropriate html markup.

Stack trace:
[code]

[2016-07-08 14:59] rynowak commented on #4892
Is this still a relevant concern in the project.json/dotnet world?

Type-load exceptions are probably the number one way people discover they have a package mismatch. Putting it in the log means that most won't notice it until they notice that one of their controllers is missing, and we've turned something obvious into a silent failure. VS users today don't really see the console log today.

This

[2016-07-08 15:12] pranavkm commented on #4892
I agree with @rynowak , Logging isn't a great source of discovery of issues. Unwrapping the exception as part of displaying it in Diagnostics seems like  something we could do pretty easily and it has higher value than logs. Even in your scenario of missing types, seems like it would be more useful to see the name of the assembly rather than a generic TypeLoadException.

[2016-07-08 15:27] AlexCuse commented on #4339
Sorry for the necropost but I'm working on upgrading to 1.0 at the moment.  We were overriding input/output formatters like so, mostly to globally configure converters.

`
            services
                .AddMvc(mvco =>
                {
                    mvco.InputFormatters.Add(new JsonInputFormatter(serializerSettings));
                    mvco.OutputFormatters.Add(new JsonOutputFormatt

[2016-07-08 15:30] rynowak commented on #4339
You can modify the "shared" JSON.NET settings by doing:
[code]

[2016-07-08 15:33] AlexCuse commented on #4339
Thanks for the quick response - I just found that AddJsonOptions when looking at the next json-related issue we're having and was hoping it would do the trick.  Good to know it will!

[2016-07-08 16:01] #4967 closed

[2016-07-08 16:28] davidfowl commented on #4892
+1 on a diagnostics page to show something special for these types of exceptions. Though it won't cover all of the cases though for e.g. The hosting dll can't be loaded

[2016-07-08 16:55] Tratcher commented on #4876
DisableResponseBuffering doesn't have any affect in a default app, Kestrel doesn't implement it.

[2016-07-08 17:18] scottste commented on #4703
@dougbu I implemented something similar to your comment above https://github.com/aspnet/Mvc/issues/4703#issuecomment-221054383 but using an abstract class. After binding, the properties of the abstract class are being validated, but the properties of the children classes aren't being validated leaving the ValidationState in an 'Unvalidated' state for the model. Is there a way to ensure that the ch

[2016-07-08 17:30] Eilon commented on #4876
BTW here's why we added it: https://github.com/aspnet/Mvc/issues/3016

[2016-07-08 17:31] Eilon commented on #4876
And this is why this sounded familiar: https://github.com/aspnet/Mvc/issues/4766

Perhaps we can close this bug as a dup of #4766?

[2016-07-08 17:41] Tratcher commented on #4876
ContentResult should still set Content-Length.

[2016-07-08 17:54] Eilon commented on #4876
Ah ok so not a dupe, but we want to do both.

[2016-07-08 18:07] kichalla commented on #4876
Wondering if we need to do #4766 ...Having it doesn't hurt anything and also why have the `IHttpBufferingFeature` if its not supported yet.

[2016-07-08 18:09] Tratcher commented on #4876
You're using an undefined feature for an undefined benefit. If the user wants buffering, who are you to second guess them?

[2016-07-08 18:15] pranavkm commented on #4892
@davidfowl would that be too early for the Startup error page to show anything?

[2016-07-08 18:33] lodejard commented on #4876
Tratcher is right - "If the user wants buffering, who are you to second guess them?" - in this case the application was configured with response buffering for a reason, and the ContentResult was unexpectedly counteracting that choice. I'll add a note to #4766 also. I do like that the feature exists, and that it is implemented by the ResponseBufferingMiddleware.cs, but it shouldn't be used unless t

[2016-07-08 18:49] halter73 commented on #4892
@pranavkm How is this related to the Startup error page? Isn't the exception being thrown during the first request routed to MVC? Or did you think "it **won't** cover all of the cases" was **would** instead?

[2016-07-08 19:00] pranavkm commented on #4892
@halter73 I was looking at @davidfowl's example where he says the Hosting dlls couldn't be loaded. We should replicate the code in Hosting, but there's likely a class of these errors that happen before hosting is bootstrapped.

[2016-07-08 19:15] dougbu commented on #4930
FYI the issue here is Visual Studio uses 1.0.0 bits to parse `.cshtml` files but the project's RC2 bits to compile the generated C#. 1.0.0 generated code references the newly-added `IModelExpressionProvider` interface. Visual Studio no longer supports generating RC2-compatible code for tag helpers.

There's actually a few workarounds:

1. Upgrade the project to 1.0.0. Note all projects in an appli

[2016-07-08 21:46] dougbu commented on #4703
@scottste the MVC validation system does not use runtime types when validating. If you need to validate additional properties, you have a couple of options:

1. Change the `abstract` class to implement `IValidatableObject` and override the `Validate()` method in your subclasses.
2. Change your custom model binder to add a `ValidationStateEntry` with `ModelMetadata` for the chosen type -- `metadata

[2016-07-08 21:56] dougbu commented on #4989
We definitely test w/ `ValidationSummary.All`. This issue is likely specific to your model types. Please share those class definitions.

[2016-07-08 22:33] avanderhoorn opened #4990 "Making DefaultAssemblyPartDiscoveryProvider more generic"
Wondering if there are any thoughts on making [`DefaultAssemblyPartDiscoveryProvider`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/DefaultAssemblyPartDiscoveryProvider.cs) more generically available?

This would involve putting the type in a more generally available package (maybe one of the `Microsoft.Extensions.*` packages or something more central), making

[2016-07-09 01:23] javiercn commented on #4990
You can do that through MvcBuilder.ApplicationPartManager. What's your scenario?

[2016-07-09 07:20] mafshin opened #4991 "Misleading MissingMethodException message for incorrect routes"
Having an incorrect route for action methods will throw misleading exception message.

**Steps to reproduce:**

- Create a new ASP.NET Core web project with WebAPI template
- Run the app the and ValuesController will work as excpected
- Add a `regex(\\d+)' constraint to the `id` parameter of the `ValuesController.Get` method
- Run the app and it works just as expected
- Mistakenly add an incorrect

[2016-07-09 16:15] avanderhoorn commented on #4990
Unfortunately that would mean taking a dependency on MVC, which is what I'm
trying to avoid. My scenario is similar to the one that
of DefaultAssemblyPartDiscoveryProvider already caters for, except instead
of finding any DLLs that depend on MVC packages, I want to know about any
DLLs that depend on Glimpse packages.

On Friday, July 8, 2016, Javier Calvarro Nelson <notifications@github.com>
wrote

[2016-07-09 16:30] brockallen commented on #4990
There are many APIs coupled to MVC that would be nice to be separate.

[2016-07-09 20:02] davidfowl commented on #4990
I think @avanderhoorn just wants logic that given the application's assemblies and some framework assemblies, find the application assemblies that are referenced by the framework assemblies.

[2016-07-09 21:39] avanderhoorn commented on #4990
Pretty much what @davidfowl said except not just limited to application assemblies that are referenced by the framework assemblies. I want that logic to be find the assemblies in the applications dependency graph that are referenced by the framework assemblies - which is what this class does, except that the framework assemblies its targeting are hardcoded and it requires taking a dependency on MV

[2016-07-09 21:41] avanderhoorn commented on #4990
Currently I have taken an exact copy of the code in `DefaultAssemblyPartDiscoveryProvider` and just modified the framework list. It would be nice not to have to maintain this code.

[2016-07-10 01:17] Zachary1748 commented on #3917
Anyone have an estimate of when this will be prioritized for a specific release?

[2016-07-10 01:26] rynowak commented on #4990
It really seems like if anything this would be a candidate including in dependency context, I'd suggest moving it to dotnet/cli

[2016-07-10 01:30] rynowak commented on #4991
I'm not really sure what's up with the RegexRouteConstraint that's causing this issue.

In general though we should try to surface this error in a better way. We did a lot of work to collect most of the errors that can be thrown from attribute routing into a single group so that you can see **all** of the errors at once and not just the first one. It looks like we missed the case where a constrain

[2016-07-10 02:29] dougbu commented on #4978
I doubt this model would bind as you prefer, let alone validate both properties and members of the collection.

A model type which implements `IEnumerable<T>` or `ICollection<T>` is handled by a `CollectionModelBinder` or one of its subclasses while POCO types are handled by a `ComplexTypeModelBinder`. If you want to bind properties of collection types, create a custom `IModelBinder` and associate

[2016-07-10 05:08] TrplM commented on #4963
Happy to close, as Javier mentioned this does not happen over https only http and can be solved by adding the no-cache headers

[2016-07-10 05:08] #4963 closed

[2016-07-10 05:44] dougbu commented on #4988
Thanks very much for the report.

[This block](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/SimpleTypeModelBinder.cs#L48-L67) in `SimpleTypeModelBinder` never leaves `model==string.Empty`. The `ConvertEmptyStringToNull` check in that block doesn't help because `modelAsString==null` when `value==string.Empty`. `ModelMetadata.ConvertEmptyStringToNull`

[2016-07-10 11:54] zwq00000 commented on #2015
The future is not AjaxHelper is the main method, but if the existing MVC4 project ported to aspnetCore, this is very necessary

[2016-07-10 15:20] Ponant opened #4992 "Production Website ASP.NET Core 1.0 gives 404 NOT FOUND - The server has not found anything matching the requested URI. (XHR): GET - https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/dist/css/bootstrap.css"
We deployed an ASP.NET Core app to Azure. The website runs, but it shows an HTTP 404 error in Edge Browser F12 Dev Tools

NOT FOUND - The server has not found anything matching the requested URI (Uniform Resource Identifier).
(XHR): GET - https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/dist/css/bootstrap.css

with a delay time in the request of approximately 1.2 seconds, which we need to overc

[2016-07-10 19:01] sadjadbp opened #4993 "Publishing Areas would copy cs files too"
With an MVC site with Areas folder that has Controllers and Views folder under each Area in the project.json we should have

`"publishOptions"` : {"include": [ "Areas" ] }`

With RC1 it was ok, now with RTM Core 1.0, it will copy the controller and cs files inside those Areas folders.

[2016-07-10 20:42] dougbu commented on #4750
Cleared the Investigate label.

__@Triage__ the decisions here are whether to make a change, whether validation of a `null` parameter should be opt-in or implicit with `[FromBody]` (a slight behaviour breaking change), and when.

See #4971 for a few cases where `ModelState.IsValid` though parameters are left `null`. In still more `IsValid` cases, objects and collections are created for parameters

[2016-07-11 07:56] ermithun opened #4994 "Get DropDownList in Mvc core 1.0"
Controller
[code]
Create View

[code]

[2016-07-11 08:14] leppie commented on #4945
Workaround should be (as there is no `Formatters` property):
[code]

[2016-07-11 08:17] rsheptolut commented on #4988
@dougbu I just stared for 10 minutes flat at that block of code, and still couldn't grasp why it's not working. It's like you were looking at a different patch of code when you were describing the issue. Or maybe I'm just not real bright. From what I see, the bug can only be inside "_typeConverter.ConvertFrom()", or the value variable is null from the start somehow. Because in my case, ConvertEmpt

[2016-07-11 08:23] NikolayIT commented on #4992
This issue is not related to ASP.NET MVC.

The URL you have specified (`https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/dist/css/bootstrap.css`) does not exist on Microsoft servers.

For staging and production you should be using `https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css`.

[2016-07-11 08:47] rsheptolut commented on #4989
@dougbu No, nothing specific to a model, this fails on all my models.

Example (simplified, but verified):
[code]
Currency/Edit.cshtml (simplified, I posted values to it via refreshing browser which remembers 'real' post values)

[code]

Debugger says that Model is of type "Currency", so is ModelMetadata.ModelType == typeof(Currency), so everything seems legit. And my other 100 tons of code that d

[2016-07-11 10:01] Ponant commented on #4992
I received an email which somewhat does not appear on github. It states that this issue is not related to ASP.NET MVC and that we are not using the correct url. I am sorry but this is not true. Our code snippet is shown above, it uses the url

https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css (Staging Production)

and recall that we used the ASP.NET Core 1.0 Web App template wi

[2016-07-11 12:08] marcusien commented on #4979
I'm creating an InputTagHelper where I need to know which kind of input I'm facing of. I find it dumb to remake something existing in the base class.

And my need is very basic, I doubt to be the only one who needs it

[2016-07-11 12:52] MichelLaplane opened #4995 "What is the DataAnnotation for Integer (int) model validation"
ASP.NET CORE rc2.
When using an int field in a model, if you type some characters in the field in the view associated with the model, no error message is given.
If your field is of type decimal, the error message is displayed.
Any explantions?
Is there a DataAnnotation for integer a thing like  [DataType(DataType.number)] could be valuable.

Best regards

[2016-07-11 14:29] dougbu commented on #4988
@rsheptolut well, I had the advantage of debugging a repro of the problem :smiley_cat: In any case, the issue relates to how `model` is set when `value` is `string.Empty`. The first condition in that block is `false` and there's no `else` to change `model` from its initial `null`.

Yes, this is a bug and it should be fixed.

[2016-07-11 14:57] rynowak commented on #4945
@leppie - thanks, updated my post.

[2016-07-11 15:21] dougbu commented on #4994
@ermithun what is the question or issue here?

[2016-07-11 15:35] dougbu commented on #4995
1. What HTML or tag helper are you using for the `int` field? The `<input/>` tag helper or `@Html.EditorFor(...)` should generate an `<input type="number" .../>` element and the browser (optionally, together w/ unobtrusive validation) will provide client-side validation.
 1. `decimal` is further special-cased because browsers don't understand the datatype.
 2. I suspect your `.cshtml` contains `<i

[2016-07-11 17:45] lodejard commented on #4766
I actually does hurt to have it - see #4876. The action results should only disable buffering if it's necessary for them to function correctly, but it shouldn't be done as an optimization because it's counteracting the app dev's choice to add buffering middleware.

Calling flushasync on the response body when you don't need to  fits into the same category.

[2016-07-11 17:55] ajaybhargavb commented on #4847
b4677a44daef94fdd0cc1890011d211e6d7e04f7

[2016-07-11 17:55] #4847 closed

[2016-07-11 17:56] ajaybhargavb commented on #4847
Thanks! @iscifoni

[2016-07-11 18:20] NTaylorMullen commented on #4979
Fair enough. Not a horrible idea :+1:

[2016-07-11 18:42] gdegeneve opened #4998 "ViewComponentResult does not await the executor.ExecuteAsync method."
If you return a ViewComponentResult from a Controller, it behaves like a fire and forget. The request pipeline does not wait for the ViewComponent to finish rendering. This Bug is new with the 1.0.0 release. Depending on the timings, this results in a half rendered view component result on the client and exceptions from the MemoryPoolViewBufferScope.

A followup bug would be, that if you inject a

[2016-07-11 19:21] halter73 commented on #4892
If Hosting dlls can't be loaded the process would crash as soon as `new WebHostBuilder()` is called in `Program.Main`, right? I don't see how this affects logging exceptions thrown from accessing `Assembly.DefinedTypes` in `ControllerFeatureProvider.PopulateFeature`.

[2016-07-11 19:25] davidfowl commented on #4892
It has nothing to do with where the exception is thrown, it's that if the exception is thrown in some cases (like before ControllerFeatureProvider.PopulateFeature) it won't show up anywhere. We may want some extra code to unwrap the exception and print out LoaderExceptions if it happens before  the error page is available (Maybe the Hosting.dll is there but maybe some other dll isn't).

It's the s

[2016-07-11 19:29] halter73 commented on #4892
If only we still had a runtime bootstrapper. The point about being unable to load Hosting, is that the error that's surfaced when the process crashes is out of our control. As soon as we start executing startup code, you have a point.

[2016-07-11 19:31] davidfowl commented on #4892
Sure, that was kinda the point, Hosting.dll is a bad one because you at least need our code to run.

[2016-07-11 19:34] MichelLaplane commented on #4995
Hi dougbu thank you for your help

**With int and no Error message displayed if I type "a" in the input box**

My model is

`namespace` `MvcMovieCore.Models`
`{`
`    public class Movie`
`    {`
`    public int ID { get; set; }`
`    public int Price { get; set; }`
`    }`
`  }`

My View is

`@model `MvcMovieCore.Models.Movie`
``@{`
`    ViewData["Title"] = `"Edit";`
``}`
`<h2>Edit</h2>`
`<form` a

[2016-07-11 19:36] davidfowl commented on #4892
Now I also think we should request this functionality from the CLR host.

[2016-07-11 19:49] dougbu commented on #4995
Suspect this is about your browser. Which are you using?

[2016-07-11 19:56] MichelLaplane commented on #4995
I use always IE and currently it is IE 11.

[2016-07-11 20:19] javiercn commented on #4998
/cc @rynowak

[2016-07-11 20:28] NVentimiglia opened #4999 "Microsoft.AspNetCore.Mvc 1.0.0 does not support framework .NETCoreApp,Version=v1.0."
When I do a *dotnet build* I get the following error.

- Project is a minimal MVC site with EF, SQLITE, and a Websocket
- This works fine on windows
- I am running on a mac
- I have updated to the latest dotnet release
- 'new' projects restore, build, and run fine

Full project can be found.

https://github.com/NVentimiglia/DotNetCoreUnity3d/tree/master/Server/src/CoreWeb1

Full Terminal Log below

[2016-07-11 20:44] rynowak commented on #4998
@gdegeneve do you have a repro project we can take a look at?

[2016-07-11 21:07] NVentimiglia commented on #4999
@pranavkm thanks for the quick reply !

1.0.0-preview1-002702

This looks wrong. I just downloaded and installed dotnet-dev-osx-x64.1.0.0-preview2-003121.

My guess is I am still working with outdated bits, is there an official guide for uninstalling and reinstalling ?

[2016-07-11 21:53] pranavkm commented on #4999
https://www.microsoft.com/net/core#macos should have instructions on how to go about updating. I think it should take care of updating old bits if they're already installed.

[2016-07-11 22:18] pranavkm commented on #4892
That sounds nice to have. It'll cover scenarios that the diagnostics middleware cannot catch. Of course getting to it (in particular when working from inside VS) is still not super intuitive, but it's a start.

[2016-07-11 22:49] shafqatdotnet opened #5002 "Capture Session timeout on Server side asp.net core"
In Asp.net WebForms there is an event called Seesion_End() in global.asax, whenever session is timeout or you call Session.Abandon() this event handler is executed, i need to have similar kind of behavior in asp.net Core, is it possible?

[2016-07-11 22:54] shafqatdotnet commented on #5002
Opened in Session repository : https://github.com/aspnet/Session/issues/121

[2016-07-11 22:54] #5002 closed

[2016-07-11 23:16] NVentimiglia commented on #4999
@pranavkm

Yes, Ive been using that link as my download source. There are no uninstall instructions for preview 1. Installing preview 2 on-top does not work.

[2016-07-11 23:18] davidfowl commented on #4999
It does but you need to change the following.

https://github.com/NVentimiglia/DotNetCoreUnity3d/blob/master/Server/global.json#L4

[2016-07-11 23:31] roydukkey opened #5003 "UrlResolutionTagHelper missing Urls from variables"
It seems that app relative urls from variables remain unresolved when `UrlResolutionTagHelper` is the only TagHelper being applied.

**_Layout.cshtml**
[code]

**Rendered HTML**
[code]

[2016-07-11 23:40] NTaylorMullen commented on #5003
This is by design. See my [comment here](https://github.com/aspnet/Razor/issues/759#issuecomment-220861682) for more details.

[2016-07-11 23:40] #5003 closed

[2016-07-11 23:44] roydukkey commented on #5003
Is there documentation for TagHelpers? I've not found it yet.

[2016-07-11 23:44] NVentimiglia commented on #4999
@davidfowl  Thanks so much, I didn't even think to look in that file.

[2016-07-11 23:44] #4999 closed

[2016-07-11 23:57] NTaylorMullen commented on #5003
@roydukkey there currently is not. I'd recommend taking a peak at the various channel9 videos on it.

[2016-07-12 05:01] avanderhoorn commented on #4990
So whats the next step for something like this happening?

[2016-07-12 05:29] davidfowl commented on #4990
File an issue here https://github.com/dotnet/cli/issues

/cc @pakrym

[2016-07-12 09:13] ermithun commented on #4980
@Eilon Thanks for your response .

[2016-07-12 09:36] marcuslindblom opened #5004 "How do I use ControllerFeature instead of IControllerTypeProvider?"
In RC1 I used the `IControllerTypeProvider` in my custom router to check if one controller has a specific action. In RC2 it seems to be removed and maybe replaced with [ControllerFeature](https://github.com/aspnet/Mvc/issues/4730#issuecomment-221352713)? I tried to replace `IControllerTypeProvider` with `ControllerFeature` but that guy is null.

This is how I used the `IControllerTypeProvider` and

[2016-07-12 09:46] Bartmax commented on #4871
so?

[2016-07-12 10:19] gdegeneve commented on #4998
I published a small example that illustrates this bug, if it is one. The index page of the sample also includes a description.
https://github.com/gdegeneve/ViewComponentBug

[2016-07-12 12:35] timdows commented on #4953
I guess you are using IdentityServer and also want to use the AntiForgery

I was able to work around this by having app.UseIdentity() before the XSRF part

[code]

[2016-07-12 13:55] justdmitry opened #5005 "Html.AntiForgeryToken() writes nothing on second call"
When having several forms in one Razor view - antiforgery token is written only to first one.

View:
[code]

Generated html:
[code]

But second form should (expected) also include hidden `input` with (same?) token!

Checked on 1.0.0 RTM bits.

[2016-07-12 14:12] justdmitry commented on #5005
Workaround: save generated token to variable and write this variable multiple times.

[code]

Crosspost: http://stackoverflow.com/questions/37511452

[2016-07-12 14:18] tysonnero opened #5006 "Mobile Specific Views / Device Detection"
In the .NET Core docs there is a page titled "Building Mobile Specific Views" but is under construction: https://docs.asp.net/en/latest/mvc/views/mobile.html.

Does anyone have some insight on building mobile views or successfully doing device detection?

[2016-07-12 15:08] dtkujawski opened #5007 "ICompileModule support"
We have built many ICompileModules with ASP.NET MVC 1.0.0-RC1-final1 (and prior) and the work great.  They do templated code generation based on the Roslyn syntax trees and automatically generate classes, methods, properties, etc.

We've seend that ICompileModules is no longer available in ASP.NET Core (RC2) and are very curious what the roadmap looks like for this amazing hook into the compile ch

[2016-07-12 15:08] tuespetre commented on #4964
:fearful: oops!

[2016-07-12 15:18] rynowak commented on #5004
You can populate a `ControllerFeature` like so:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ControllerActionDescriptorProvider.cs#L96 (DI a reference to `ApplicationPartManager`).

What is it you're trying to do exactly? Looking at the types of controllers is going to miss some of the metadata that affects how actions are mapped.

[2016-07-12 15:31] dougbu commented on #5005
@justdmitry this looks like what might happen if the `RenderAtEndOfFormTagHelper` were disabled. Enable that and your original code should be fine. As-is, nothing notices one `<form>` has ended and another begun.

In your `_ViewImports.cshtml`:
[code]
or
[code]

[2016-07-12 16:09] Xipooo opened #5008 "Model not being passed to View Component from Controller"
When I try to pass a model from an action in my controller to the ViewComponent method, it just shows a null value for the parameter in the InvokeAsync method.  This works fine if I'm passing the same model from a Razor view, but not when I use the ViewComponent method on a controller.

### Model
[code]

### ViewComponent
[code]

### Controller

[code]

[2016-07-12 16:10] brockallen commented on #4964
Mark this as a TODO for 2.0 and yes, make the breaking change #semver.

[2016-07-12 16:28] dougbu commented on #4871
Triage members will decide whether to break compatibility w/ 1.0.0 and, if yes, in which release.

In the meantime, does `type="datetime"` behave differently than `type="text"` in your experience? If this is primarily a spec-compliance issue, it would seem less urgent.

Separately, we can't choose `type="datetime-local"` everywhere `type="datetime"` is used today. The intended semantics and defaul

[2016-07-12 16:36] Muchiachio opened #5009 "DataAnnotationsClientModelValidatorProvider not always using IValidationAttributeAdapterProvider"
I was trying to localize my app, but I found out that my `IValidationAttributeAdapterProvider` doesn't get called then a value type is assigned `[Required]` attribute by default. [I think the problem lies here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal/DataAnnotationsClientModelValidatorProvider.cs#L102). It's always using default required adapter

[2016-07-12 16:48] NTaylorMullen commented on #5008
@Xipooo this is by design. What you're actually doing is providing an object that's meant to represent the ViewComponent's Invoke/InvokeAsync parameters. Aka:

[code]

would invoke the CustomerList ViewComponent's Invoke/InvokeAsync method and bind its parameter string hello to have the value "World".

This is the signature of the method you're invoking: `public virtual ViewComponentResult ViewCom

[2016-07-12 16:48] #5008 closed

[2016-07-12 16:55] rynowak commented on #4998
@gdegeneve - I can confirm that this is a bug. Thanks for the really thorough report, this would have been very hard to track down otherwise.

You can work around the problem like so.
[code]

[2016-07-12 17:09] gdegeneve commented on #4998
Thanks for the workaround. This is better than to use a dummy View in between the ViewComponent and the Controller ;)

[2016-07-12 17:16] BadriL opened #5010 "[Question] Using ModelBinderAttribute vs IModelBinderProvider"
I have a `IModelBinder`. Now, I have two options to use the binder.

(1) Use `ModelBinderAttribute` and specify the `BinderType` against my action method parameter.

(2) Create a `IModelBinderProvider` that returns an instance of my binder class in the `GetBinder` method. Add the model binder provider to the list of `ModelBinderProviders`.

Why should I use one over the other and what is the diffe

[2016-07-12 17:25] rynowak commented on #5010
/cc @dougbu

A provider is app-wide, so you will need to be able to look at individual models and properties and make a decision about whether or not you want to bind them. You also have to deal with issues or ordering and where your providers should be in the list of providers. This is complex but powerful.

Using the attribute applies your binder exactly where you want it, so use it if:
- your b

[2016-07-12 17:28] rynowak commented on #5004
You shouldn't have to register the `ApplicationPartManager` - `AddMvc()` does that.

If you want to use `ApplicationPartManager` outside of calling `AddMvc()` then you'll have to decide how to populate the list of parts (assemblies).

[2016-07-12 18:03] marcuslindblom commented on #5004
@rynowak Ok, changed it to this and it seems to work, at least with one assembly.

[code]

[2016-07-12 19:08] nathana1 commented on #4660
Hi @rynowak,

In the various profiles I'm seeing 5-10% spent in spinning in the ArrayPool and the thread time profiles show another 5% spent sleeping in those same locks.

I did a quick and dirty prototype (https://github.com/nathana1/corefx/commit/b5ae2a974c5e129b09bb4eb967d9f8048fff4c53) where I partition the ArrayPool buckets into subbuckets and lock at that level instead, I see throughput go f

[2016-07-12 19:16] javiercn commented on #1768
Does not repro anymore, closing it.

[2016-07-12 19:16] #1768 closed

[2016-07-12 19:54] Bartmax commented on #4871
fair enough. In my experience I'm using `type="datetime-local"` on the html (so I override it). Without it it breaks datetime function-ability (aka same as using type="text"), but browser (chrome) complain with an error/warning.

[2016-07-12 20:48] justdmitry commented on #5005
@dougbu you're right, I have no any tag helpers in my code.

But IMHO it seems a little wrong that behavior of one feature (`IHtmlGenerator`) silently(!) depends on existence of other feature (activated Tag Helper). Maybe `DefaultHtmlGenerator` should check if taghelper is active (e.g. `FormContext` may have a `bool IsInsideOfForm`), and do not be "smart" outside of "smart environment"?

[2016-07-12 20:52] rynowak opened #5012 "ProducesAttribute should not inherit from ResultFilterAttribute"
Currently `[Produces(...)]` inherits from `ResultFilterAttribute` which implements `IAsyncResultFilter`. `[Produces(...)]` does no async work, and would be better served as `IResultFilter`.

https://github.com/aspnet/Mvc/blob/ee2cfa1963ee7f8195130d41330f94d4622ca89a/src/Microsoft.AspNetCore.Mvc.Core/ProducesAttribute.cs

Async filters have a perf cost (two awaits and some state machine allocations

[2016-07-12 20:52] rynowak commented on #5012
This is suggested for a 2.0 release. Obviously this is a breaking change.

[2016-07-12 21:01] rynowak opened #5013 "Output formatters should not use TypedHeaders to parse Accept-Charset"
Data from TechEmpower (Json)
![image](https://cloud.githubusercontent.com/assets/1430011/16783465/efff68c6-4838-11e6-855b-f905ec58cc4f.png)

This is about 2% of CPU time. We don't need the typed headers object, which is large. We should just parse the `Accept-Charset` ourselves

[2016-07-12 22:02] dougbu commented on #5005
@justdmitry your approach might work though more code to detect when other features are _not_ being used seems odd.

Another approach would be to register the `RenderAtEndOfFormTagHelper` by default -- similar to the `UrlResolutionTagHelper`. I vaguely thought this was already the case.

A few other features depend on a per-`<form>` `FormContext`. Makes me curious what other features (e.g. additio

[2016-07-13 00:57] #5010 closed

[2016-07-13 10:42] pamerio opened #5015 "Capital Letter"
I have a project builded on .net Core RC2 and angular2. Everything works well.
A few minutes ago I upgraded to the 1.0 version of .net Core and the app stops working.
The problem is on the client side. Specifically, the answers from the webapi contain object whose properties have been changed the format. To be more precise all the initial letters (which are Capital Letter) have been transformed in

[2016-07-13 10:53] pamerio commented on #5015
Duplicate of: #4922

[2016-07-13 10:53] #5015 closed

[2016-07-13 12:18] #5004 closed

[2016-07-13 17:06] rynowak opened #5016 "Check for OPTIONS before looking for CORS headers"
In `HttpMethodConstraint` we look for the CORS headers to property handle the HTTP method part of preflight OPTIONS requests. https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/HttpMethodActionConstraint.cs#L72

Note that we check for OPTIONS only after accessing the headers. This causes the `HttpRequest.Headers` dictionary to be populated/allocated. We can reorder t

[2016-07-13 17:28] rynowak opened #5017 "Get rid of Linq in [Produces]"
`ProducesAttribute` is on the hot path for techempower and other high throughput API scenarios. There's no need for Linq here.

Perfview data here from techempower JSON:
![image](https://cloud.githubusercontent.com/assets/1430011/16812901/110f445e-48e4-11e6-9370-a1b2814d9c4d.png)

The highlighted line is at least 2% of CPU time spent inside of Kestrel

[2016-07-13 20:36] mirkogeffken opened #5018 "Discussion: Looking to contribute Authorized taghelper"
I started with a PR (PR #4996) for this and was pretty quickly schooled on some concepts new to me (specifically Policies) by @blowdart, @dougbu, and @davidfowl. Adding @NTaylorMullen as he seemed interested in providing something like this.

My plan was to offer an `<authorized />` taghelper that would display content only for authenticated/authorized users. Usage was going to be (before schoolin

[2016-07-13 20:46] blowdart commented on #5018
Roles was kept for back compatibility with the previous version of Authorize, which only accepts a list. If you wanted to support roles I'd limited yourself to the comma is an OR syntax alone, and let anyone who wants to be more complicated use a policy. Nesting would provide the AND syntax anyway.

[2016-07-13 21:12] danroth27 commented on #5013
@javiercn Please start by figuring out with @Tratcher what it would take to do this.

[2016-07-13 21:14] danroth27 commented on #5009
@dougbu Thoughts on this?

[2016-07-13 21:17] mirkogeffken commented on #5018
I agree. Advanced scenarios can be handled via Policy. Not sure I was suggesting anything but above. The unauthorized taghelper however would flip this to effectively AND behavior by inverting the check. If that was not to happen that way I think the rules would be harder to reason about.

As an aside, I was just trying out some stuff and oddly the Roles property on the `[Authorize]` attribute now

[2016-07-13 21:17] Tratcher commented on #5013
Please avoid duplicating parser code. Have you tried to optimize the existing parser code?

[2016-07-13 21:18] danroth27 commented on #5006
Currently you can build mobile specific views using view location expanders. We are still working on documentation for this scenario.  See https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.SubAreaSample.Web/SubAreaViewLocationExpander.cs for an example of using a view location expander.

[2016-07-13 21:18] #5006 closed

[2016-07-13 21:20] #4994 closed

[2016-07-13 21:33] dougbu commented on #5009
@danroth27 the class in question already has the `IValidationAttributeAdapterProvider`. Fix is just a matter of using it.

[2016-07-13 21:58] danroth27 commented on #4992
This seems to be happening due to the bootstrap source map:

[code]

Browser developer tools will download these files so that they can understand the minified versions. It looks like the CDN doesn't have `dist/css/bootstrap.css`.

@sayedihashimi

[2016-07-13 21:59] danroth27 commented on #4991
We should throw an exception with a better error message.

[2016-07-13 22:06] rynowak commented on #5013
We want to avoid using typed headers, it would be great to reuse the existing parsing code without having to go through typed headers.

[2016-07-13 22:10] Tratcher commented on #5013
So you just want to avoid creating the MediaTypeHeaderValue objects? What output would you generate instead?

[2016-07-13 22:11] dougbu commented on #5005
After a quick chat here, realize the correct fix is to change `DefaultHtmlGenerator.GenerateAntiforgery()` to always generate the token if `!FormContext.CanRenderAtEndOfForm`. That'll make `Html.AntiForgeryToken()` behave as it did in MVC 5 when inside a bare `<form>` element. Will also ensure the `<form>` tag helper works correctly when used multiple times on a page while the `RenderAtEndOfFormTa

[2016-07-13 22:28] dougbu commented on #4989
Looks like a straightforward bug in `ValidationHelpers.Visit()`. That method (specifically [this block](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ValidationHelpers.cs#L93-L99)) doesn't handle cases where a collection property is not bound. Just needs a `null` check on `modelStateEntry.Children`.

[2016-07-13 22:32] justdmitry commented on #5005
Correct way is to detect that other features _are_ being used and enable additional intelligence only in that case. Otherwise, silly generate more and more hidden inputs if requested.

Registering some more tag helpers by default is not a good idea - that's extra fat for brilliant reborn/newborn framework.

You added new comment while I was writing this one... Yes, it looks like a good solution.

[2016-07-13 22:41] dougbu commented on #4871
/cc @danroth27

[2016-07-13 22:57] blowdart commented on #5018
I'd have hoped the old version was case sensitive, but given we now map JWT roles too, it needs to be this time around.

[2016-07-13 23:03] dougbu commented on #4750
Cleared assignee to make it clear @danroth27 needs to have a look.

[2016-07-13 23:04] dougbu commented on #5005
Cleared Investigate label and assignee since investigation is done.

[2016-07-13 23:05] dougbu commented on #5009
Cleared Investigate label and assignee since investigation is done.``

[2016-07-13 23:12] dougbu commented on #5005
Much appreciated @rynowak

[2016-07-13 23:12] dougbu commented on #5009
Much appreciated @rynowak

[2016-07-13 23:48] ryanbrandenburg commented on #5017
I assume that this work item includes profiling it afterward to confirm that removing Linq has fixed it.

[2016-07-14 00:51] brockallen commented on #4750
BTW this is how it worked in Web API 2.

[2016-07-14 01:44] DamianEdwards commented on #494
## Goals
We are trying to:
- Make dynamic HTML and forms with ASP.NET Core easier, e.g. how many files & concepts required to print Hello World in a page, build a CRUD form, etc.
- Reduce the number of files and folder-structure required for page-focused MVC scenarios
- Simplify the code required to implement common page-focused patterns, e.g. dynamic pages, CRUD forms, PRG, etc.
- Enable the abil

[2016-07-14 03:31] tysonnero commented on #5006
@danroth27  Thanks for the info! To get Mobile Views working, however, I'm assuming one would have to do device detection via user-agent, correct? Seems like a lot of devs nowadays are shying away from the tactic.

[2016-07-14 03:34] mirkogeffken commented on #5018
@blowdart

1) Do you think it would be better to drop Roles and get people used to defining policies? Maybe offer roles, but throw an exception with default settings requiring something like `AllowRolesOverPolicies` to be flicked to true under some appropriate options somewhere? If so, maybe add the same exceptions when Roles are used on `[Authorize]` attributes. I honestly think developers apprec

[2016-07-14 04:44] sadjadbp commented on #4993
@danroth27 Thanks, I've just tried that but now the whole "Areas" folder won't get published. I'm trying via Visual Studio 2015, publish menu with Asp.Net Core 1.0

[2016-07-14 06:52] mikebrind commented on #494
Action selection: Wouldn't it make more sense to use attributes here rather than verb name matching? It's an easy enough concept to grok and will facilitate migration to MVC.

[2016-07-14 07:01] ctyar commented on #494
Sorry I know this is not productive but this sample
[code]
reminds me of php's dark ages
[code]

[2016-07-14 07:02] DamianEdwards commented on #494
@mikebrind the verb attributes will be supported when using `@inherits` to place the page actions in a CS file. Supporting them in the CSHTML creates issues around lifecycle and route discovery that we'd rather not tackle in this release.

We could create new attributes for this purpose, but we're trying to limit the number of new constructs we create, especially when they are similar to those tha

[2016-07-14 07:10] mikebrind commented on #494
@DamianEdwards That makes sense. I agree that it's a good idea not to create twins of existing MVC artefacts that actually differ in implementation.

[2016-07-14 08:36] lunyi opened #5019 "asp.net core project occurs MissingMethodException"
Hi all

I create a new project with ASP.NET Core Web Application(.NET Core). And it can work after building and running it.

I create a class library with .NET Core and move the files under Service folder in the web project to the library, then add the reference and change namespace in the controllers.

It occurs MissingMethodException after registering a new user.
Asp.net core project seems not a

[2016-07-14 11:36] blowdart commented on #5018
Please keep in mind, I'm only the security person for .NET. My feelings around design and apis are always coloured by that. I feel a simple API surface for security works best because there's less change for folks to use it wrong.

1. I think you should support both, just because the attribute does. Mirroring that is easiest for folks to understand in my opinion

2. Yes, I'd have the list as OR an

[2016-07-14 12:11] brockallen commented on #5018
@mirkogeffken related: https://github.com/aspnet/Mvc/issues/3785

[2016-07-14 12:37] kichalla opened #5020 "Add a filter attribute for setting request form size limits"
Currently user has to do something like https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.FileUpload/Filters/RequestFormSizeLimitAttribute.cs ...would be good to provide this out of the box...

From @davidfowl

cc @rynowak

[2016-07-14 13:06] mikebrind commented on #494
Appreciate it is just an idea at this stage, but what kind of problems would the "code-behind" (page controller) feature attempt to solve?

[2016-07-14 14:29] mirkogeffken commented on #5018
@brockallen Thanks for the related pointer. Would be great to have both actually since sometimes it is needed to mask just content and have the element disappear in the process.

Wondering if it wouldn't almost be better to have more generic prefixes for both and then add the type of check for specifics (akin to `ng-show`/`ng-hide`, so `asp-show="Model.True"`, `asp-hide="Model.True"`), then expand

[2016-07-14 14:38] brockallen commented on #5018
Related: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/UI/TagHelpers/HideShowTagHelpers.cs

[2016-07-14 14:42] rynowak commented on #494
@mikebrind - the code-behind is part of your app and instantiable/unit-testable

[2016-07-14 14:46] rynowak commented on #5020
Just to make it clear, is this for the case where you a fairly restrictive limit applied site-wide, but then need to relax that limit for an action?

It's not a **bad** idea, but how common is this? My worry about this is that it's not a knob most users will need to fiddle with, we don't want to put it in everyone's face by default - our defaults need to be "good enough" for the vast majority of a

[2016-07-14 14:48] rynowak commented on #5019
This is due to a breaking change in some .NET apis that happened between RC2 and 1.0.0. You'll see this error when mixing versions of Kestrel with older versions of dotnet. Check that you are using 1.0.0 versions of everything.

Can you post your project file and `dotnet --version` output?

[2016-07-14 14:51] rynowak commented on #4993
Sorry, it looks like we steered you into a bug - https://github.com/dotnet/cli/issues/3286

Try `"Areas/**/Views/*.cshtml"` - if there's other files beyond cshtml that you need to publish from there you'll need to add more globbing patterns

[2016-07-14 14:57] rynowak commented on #5017
You assume correctly. Track me down if you need help

[2016-07-14 15:00] mikebrind commented on #494
@rynowak If people want to unit test their app, shouldn't they be looking towards MVC instead?

[2016-07-14 15:07] rynowak commented on #4750
BTW, if you like the sound of null-body-is-validation-error you can step into that alternate universe pretty easily like so:
[code]

[2016-07-14 15:18] rynowak commented on #494
We want to provide a few more in steps in between what MVC can do today and a simplest possible solution.  It wouldn't be good if the choice is binary - either you get Controllers all the goodness - or you get just Razor.

I also expect that the the code-behind might become the place to put a lot of the code that goes into a view model today, which usually gets unit tested.

Also, it's just some f

[2016-07-14 15:39] lunyi commented on #5019
hi rynowak

Do you mean the below in project.json ?

"frameworks": {
    "netcoreapp1.0": {
      "imports": [
        "dotnet5.6",
        "dnxcore50",
        "portable-net45+win8"
      ]
    }
  },

[2016-07-14 15:44] davidfowl commented on #5019
@lunyi No, the versions in the dependencies section of your project.json and the version of the `dotnet` command line tool used.

[2016-07-14 15:51] lunyi commented on #5019
hi rynowak

Here should be you want

  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002702",
      "type": "platform"
    },
    "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Identity

[2016-07-14 15:56] davidfowl commented on #5019
Seems like you're using RC2. Did you make the class library and the Web project at different times? Do they both target rc2?

[2016-07-14 15:58] sqmgh commented on #494
It feels to me like this is going to end up causing confusion and ambiguity for people who are trying to get into the space.

If someone is searching for guides or answers using a search engine, or something like StackOverflow you already run into problems with conflicting versions. Unless you're careful you get old incompatible versions of MVC, and unless you are very careful you get examples fro

[2016-07-14 16:05] dougbu commented on #5018
@mirkogeffken

The convention for the in-box MVC tag helpers is that none use an element prefix. Those targeting existing HTML elements prefix their attributes with `asp-` but that's it. (Of course they're all affected if users add a `@tagHelperPrefix` directive.)

Suggest you follow the `<environment>` pattern here: No prefix for the element or its attributes.

[2016-07-14 16:06] lunyi commented on #5019
hi davidfowl

Do you mean the below ? it is really different between web project and class library.
 "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002702",
      "type": "platform"
    },

[2016-07-14 16:12] davidfowl commented on #5019
That's part of it. Most of your packages have RC2 in the version strings.

[2016-07-14 16:16] mikebrind commented on #494
@rynowak I thought this framework was aimed at beginners to ASP.NET development. It seems from what you are saying that the intended audience is far wider than that. My feeling is that the typical Web Pages user will feel overwhelmed with concepts like view models, code-behind, unit testing etc, and just go to PHP instead. I also feel that people who _are_ concerned about those things will see no

[2016-07-14 16:36] lunyi commented on #5019
Hi davidfowl

I change all class libraries to RC2 and remove "NETStandard.Library": "1.6.0".
It can work now, thanks for your big help.

[2016-07-14 19:36] dougbu commented on #4521
Unfortunately I was incorrect in that assessment and we're now locked into at least supporting `string` and `string[]` conversions to arbitrary types. The `ConvertTo()` overloads w/ a `CultureInfo` parameter are exposed through `ValueProviderResultExtensions` and that's `public`.

More generally, the `ConvertTo()` overloads are used or indirectly exposed for only a few conversions. Note there's no

[2016-07-14 19:45] dougbu commented on #4521
/cc @Eilon

[2016-07-14 19:54] tuespetre commented on #4812
@NTaylorMullen: The TagHelper syntax *sounds* nice at first, but how will it work with descendant tags? Seems like the 'shape' of the two concepts might be too different to smoothly blend them together like that...

Could we allow ViewComponents to be called directly?

  - Inject ViewComponents as services into controllers/actions and return `IViewComponentResult` from the controller actions:
[cod

[2016-07-14 21:06] javiercn commented on #5013
Would this follow a similar approach as the one we did for the Accept header?

[2016-07-14 21:29] rynowak commented on #5013
The goal is to avoid allocating anything if possible. Especially in the common case where `Accept-Charset` isn't set. Right now we do a lot of work just to find out that the header isn't present.

[2016-07-14 21:38] pranavkm commented on #4910
@mbharodia, have you had a chance to look at my repo as yet?

[2016-07-14 21:52] ryanbrandenburg opened #5022 "[Perf] AuthorizeFilter uses Linq and constructs a new AuthorizationPolicy per request"
While profiling #5017 I found that AuthorizationFilter was using Linq in a couple places and building a new AuthorizationPolicy every time.

Investigate what kind of improvements we can get from resolving those issues.

![linq allocations](https://cloud.githubusercontent.com/assets/14987221/16857049/6b7038d8-49d2-11e6-9b61-a2d353526da2.jpg)

[2016-07-14 23:16] dougbu commented on #4989
Reassigning to _do_ the straightforward fix.

[2016-07-15 02:24] sadjadbp commented on #4993
@rynowak seems more like `Areas/**/Views/**/*.cshtml` to support different controllers under areas

[2016-07-15 04:53] DamianEdwards commented on #494
@mikebrind this isn't intended at being a feature set just for beginners. It's intended for use in page-focused MVC scenarios where the actions are performing very basic operations, sometimes doing nothing but returning a view result via `View()`, or doing basic CRUD focused form handling. In those cases, it can be nice to not require the normal structure usually imposed by MVC, including the cont

[2016-07-15 04:56] DamianEdwards commented on #494
@sqmgh the issue of naming is a valid one and indeed we'll consider different names with a view to mitigating as much confusion with existing features from our previous versions. That's easier said than done of course, but we'll try.

[2016-07-15 05:46] davidfowl commented on #5019
No problem!

[2016-07-15 05:46] #5019 closed

[2016-07-15 05:53] DamianEdwards commented on #494
Updated the outline above with some examples and other bits.

[2016-07-15 07:09] unjello opened #5025 "UrlHelper does not generate url if app called UseMvc without params."
Followed this tutorial[1] to get my first ASP.NET Core app running. Newly generated WebAPI project in `Startup.cs` uses `app.UseMvc()` not specifying routing template. I got an error where `CreatedAtAction` returned 201 with a generated URL, but it was null. And `UrlHelper` was also returning `null` for any combination of actions[2], until I have explicitly called:
[code]

It was just `UrlHelper`

[2016-07-15 09:47] omuleanu opened #5028 "replacement for html.GetUnobtrusiveValidationAttributes html.GetClientValidationRules"
hi
in mvc 5 there was `html.GetUnobtrusiveValidationAttributes`
in rc1 I think there was `html.GetClientValidationRules`
now, I can't find anything that will return the same

I'm developing a custom helper and I need to get the client validation attributes

[2016-07-15 12:43] ruchanb opened #5029 "Issue with RC2 migration to 1.0"
I recently migrated from RC2 to 1.0 and i have issues on web api response.

**For Action**
[code]
**Json Response In RC2**
[code]
**Json Response in 1.0**

[code]

The response in 1.0 for dynamic type has added object wrapper which was not the case before with the properties being lower camel cased.
Is there some thing i did wrong while migration?

**Project.json**
[code]

[2016-07-15 12:57] ruchanb commented on #5029
I found this https://github.com/aspnet/Announcements/issues/194 for the lower camel case issue. But i didnt find it in the migration document https://docs.asp.net/en/latest/migration/rc2-to-rtm.html

[2016-07-15 13:24] iscifoni commented on #4608
could be usefull logging some message like this ?
"No actions matched the current request path : '/home/foo' "

[2016-07-15 14:54] rynowak commented on #5025
`app.UseMvc()` will only use attribute routing. Use `app.UseMvc(routes =>{ ... })` if you want to define conventional routes. That said, we recommend using attribute routing for building APIs - it allows you to be very precise with the URL patterns that you match.

Regarding the example code you gave, this code `[HttpGet("{id}", Name = "GetTodo")]` defines a **route name** not an **action name**.

[2016-07-15 15:53] PeterJakubik commented on #5029
MVC now serializes JSON with camel case names by default
https://github.com/aspnet/Announcements/issues/194

[2016-07-15 16:41] rynowak commented on #5022
@HaoK - this is running every request - is there a reason why we can't cache this value?
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L80

[2016-07-15 16:49] ryanbrandenburg commented on #4260
@PinpointTownes I fixed this in #4943 after finally replicating the behavior by running a french version on windows in a VM. Closing it now.

[2016-07-15 16:49] #4260 closed

[2016-07-15 16:59] PinpointTownes commented on #4260
Ah nice, congrats! :+1:

[2016-07-15 17:19] #5017 closed

[2016-07-15 17:37] #4902 closed

[2016-07-15 18:14] HaoK commented on #5022
This was changed fairly recently to be dynamic to fix https://github.com/aspnet/Security/issues/841 and support IPolicyProviders which may create different Policies per request.  cc @blowdart

[2016-07-15 18:59] unjello commented on #5025
Thanks a lot! Makes sense now.

[2016-07-15 18:59] #5025 closed

[2016-07-15 19:27] dougbu commented on #4521
Removed unused `ConvertTo()` methods in 52e4ca7

[2016-07-15 20:47] HaoK commented on #5022
We could cache if the policy provider is the default implementation. That might be enough to avoid the perf hit for the vast majority of users?

[2016-07-15 23:47] eamodio opened #5031 ""Load" a partial view from a string"
Is there any way to load a partial view from a string rather than a `.cshtml` file on disk?

I'm thinking about having razor stored in a DB that I would like to have rendered as a partial view inside of a main view.

Thanks!

[2016-07-16 03:07] pranavkm commented on #5031
You could register an `IFileProvider` backed by the db to `RazorViewEngineOptions.FileProviders`. The RazorViewEngine looks for specific paths from file provider instances. As long as you're able to map the path to a db entry, it should just work.

[2016-07-16 08:44] davidfowl commented on #5020
I think we should provide a filter that lets you tweak all of the `FormOptions`, not just the value limit. Large uploads being one of the major scenarios. Providing a filter as a convenient way to target a particular action method doing this kinda thing.

[2016-07-17 10:35] maxim-boligatov commented on #4409
Why SerializerSettings settings are now protected? How can I change default settings?

for example

[code]
It looks like overkill to drop all formatters and create new ones.

And for now for some reason you do not have default settings for input and output formatters.
But even in case of solving #4562 (which solves above code) it will still be bad design... because we cannot now setup specific for

[2016-07-17 19:56] dougbu commented on #4409
@maxim-boligatov I answered your questions in https://github.com/aspnet/Mvc/commit/d8d2e54506c7b1973156316f1dd82c6226de2c95#commitcomment-18275275

[2016-07-18 00:59] JohnMuller44 commented on #494
I completely agree with mikebrind.

What is very important to mention at this point is that ASP.NET Web Pages is one of the best products Microsoft ever has created. As we all know, it is a Framework to build powerful Websites in a very easy way.

I was personally involved into a Project where an Enterprise ERP has been designed with the modules Accounting, Shipping, Purchasing, Import/Export etc.

[2016-07-18 06:48] mikebrind commented on #494
@JohnMuller44 I don't think I share your view. It seems from what @DamianEdwards  and @rynowak have said that the "advanced" features like code behind are not intended for everyone to use. They will be opt-in, and most likely the default experience for Razor Pages users will be something similar to the one that Web Pages users have at the moment. A lot of course will depend on tooling and packagin

[2016-07-18 10:52] xaviergxf commented on #4474
Hi Eilon,

  I've done some tests and it still doesn't work quite right. The route is recognized but before the createController is called the action signature is verifed and it cannot find any signature because the signatures are only from the concrete controllers. How can i instantiate a generic controller<T> and have it work just as a normal controller?

Thanks!

[2016-07-18 13:25] tuespetre opened #5033 "Caching and View Components"
Have there been any thoughts/discussion surrounding the cacheability of view components?
- Given that view components will often load their own data from some source, they seem like very good candidates for caching.
- I don't want to have to write the same `<cache>` or `<distributed-cache>` tag helper snippet (including the construction of the key, the expiration options, etc.) every single place

[2016-07-18 13:27] tuespetre commented on #4993
@rynowak @sadjadbp `**/*.cshtml`? :trollface:

[2016-07-18 13:43] nil4 commented on #5029
@ruchanb the second issue (extra wrapper) is probably https://github.com/aspnet/Mvc/issues/4960

[2016-07-18 14:48] rynowak commented on #4993
That's actually what we're planning on changing it to

[2016-07-18 15:01] tuespetre opened #5034 "Button/input tag helpers for formaction"
[For some time now, all major browsers have supported the `formaction` attribute.](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Browser_compatibility) Would the team consider adding support for the typical `asp-action`/`asp-controller`/etc. helpers to `<button>` and `<input>`, such that the `formaction` attribute would be generated?

[2016-07-18 15:23] xaviergxf commented on #4474
I'm looking into the mvc code on github and i managed to understand what's the source of the problem:
When the url is called http://localhost:8081/product/index and there's no productController but only GenericController<T> that should be instantiated with T=Product. How can i do this mapping? Should i do this in MapRoute? How can i integrate the routing part with the actual controller creation?

[2016-07-18 15:25] SamuelEnglard opened #5035 "`DefaultValueAttribute` Should be Applied Before Binding for Action Parameters"
In #2414 support for `DefaultValueAttribute` on Action Parameters was added. It is done right before executing the Action, after Model Binding. I think it should be done before/during Model Binding. My reasoning is that since `DefaultValueAttribute` can only take simple types a developer might need the value to go through binging to be valid type for the parameter.

For example I have a parameter

[2016-07-18 15:54] sqmgh commented on #494
@mikebrind From what's I've read in this issue, it doesn't seem like it will even slightly close to what Web Page users have at the moment.

When most people say "it's easier to develop and maintain" they are referring to ViewState. They just want their webpage to function like a Forms application. They DO NOT want to have to worry about Models, or Model binding. I would wager that many would be h

[2016-07-18 16:55] pranavkm commented on #4989
@dougbu is there a workaround for this in 1.0.0 (besides the option @rsheptolut suggested)?

[2016-07-18 16:59] dougbu commented on #4995
This issue seems specific to IE. A `type="number"` field in IE accepts any character. But if I enter a string with initial garbage e.g. `a12`, IE empties the field when I tab out. If instead I enter `12a`, the value is retained and submitted if the view contains a `type="submit"` field.

The behaviour is very different when using Chrome. Chrome simply ignores characters that are invalid for `type=