[2018-09-17 23:07] #8438 closed

[2018-09-17 23:08] NTaylorMullen commented on #8463
Yup, always succeeds for me.

[2018-09-17 23:19] mkArtakMSFT commented on #8431
Closing as external.

[2018-09-17 23:19] #8431 closed

[2018-09-18 04:38] hishamco commented on #8463
Nope, I registered as singleton

[2018-09-18 04:55] dougbu commented on #8457
@Rabadash8820 an easier of handling a scenario like this is to use `<partial for="Father" />` and let the `PartialTagHelper` take care of invoking `_Person.cshtml` correctly.

----
FYI passing around prefixes and overriding `id` and `name` attributes doesn't help MVC determine the models are unique. If you want to work at this low level i.e. not use `<partial for="Father" />`, change `ViewData.Tem

[2018-09-18 04:56] hishamco commented on #8463
It works fine as expected with the **Scope**, but I'm wondering why the `IRequestCultureFeature` is not fetched if it registered as a singleton

[2018-09-18 05:01] NTaylorMullen commented on #8463
Your dependency on `IHttpContextAccessor` only works properly when accessed via a Scoped dependency because the available HttpContext changes on each request. WHen you register the service as a Singleton it only ever gets the first requests value.

[2018-09-18 05:01] #8463 closed

[2018-09-18 05:07] hishamco commented on #8463
But I registered the TagHelperComponent as singleton, I don't think that will change the behavior of other dependencies

thanks

[2018-09-18 05:09] pekspro commented on #8465
No problem, I just wanted to share my thoughts :-) Thanks for a quick reply!

[2018-09-18 05:10] NTaylorMullen commented on #8463
It's more about the singleton depending on a scoped service (IHttpContextAccessor). The singleton is constructed once where the scoped service is re-created every request.

[2018-09-18 05:13] hishamco commented on #8463
Yep .. yep, I was thinking about the registered service only not about there dependencies

thanks a lot

[2018-09-18 05:38] ManuelHaas commented on #8466
@pranavkm if `StringEscapeHandling ` will be set to `StringEscapeHandling.EscapeHtml` the expected output is json where html tags (if existing) are encoded. But the `StringEscapeHandling `property set in `JsonSerializerSettings` will be ignored in the above scenario.

I would expect the same behaviour as in the following statement where it works:
[code]

[2018-09-18 07:28] Tragetaschen commented on #2677
Yes, my use case is still (wow, that code hasn't really changed in the last three years :D) one posted JSON object, translation into a `RouteValueDictionary` + `RouteValueProvider` (with dots, square brackets etc.) and then multiple calls to `TryUpdateModelAsync(object, Type, string, IValueProvider, Func<>)` with different prefixes and different model (types).

[2018-09-18 09:31] khellang commented on #7756
There's also https://www.nuget.org/packages/Hellang.Middleware.ProblemDetails. See this sample; https://github.com/khellang/Middleware/blob/master/samples/ProblemDetails.Sample/Program.cs

[2018-09-18 09:59] Necronux commented on #7756
It's good but exception mapping functionality should be more reusable in my opinion and ideally should be a part of the official libraries so we don't have to look for the solution every time when starting a new project.

[2018-09-18 12:29] khellang commented on #7756
Those are official libraries. Not official from Microsoft, but official from the .NET Communiyt. Not good enough?

You don't. Look no further. The functionality has been provided by the community. You're welcome 😉

[2018-09-18 14:12] ATLSAPI commented on #8259
Actually, we had a similar issue, although not in middleware but in our ViewComponents.
We registered a global exception filter, and as excepted, exceptions thrown within the controller were caught, but those thrown in the ViewComponent where not caught and bubbled up. Is that also by design? Are ViewComponents not executed within MVC? Or is this a genuine issue that is known/needs to be raised wi

[2018-09-18 16:09] mkArtakMSFT commented on #8408
@Ghislain1, here is another sample which showcases the same thing while referencing an existing ASP.NET Core web application project: https://github.com/mkArtakMSFT/Samples/tree/master/WpfAspNetCoreReference

[2018-09-18 16:10] #8408 closed

[2018-09-18 16:43] pranavkm commented on #8466
Seems to work fine - https://github.com/pranavkm/repro/blob/8446/Controllers/HomeController.cs

Output using default settings (https://github.com/pranavkm/repro/blob/8446/Controllers/HomeController.cs#L30-L33)

[code]

Output using `StringEscapeHandling.EscapeHtml` (https://github.com/pranavkm/repro/blob/8446/Controllers/HomeController.cs#L20-L28) which looks correct

[code]

Feel free to reopen t

[2018-09-18 16:43] #8466 closed

[2018-09-18 17:28] pranavkm commented on #8259
Here's the filter execution pipeline - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1#filter-types. Exception filters attempt to capture errors before a result starts executing - the intent is that once you write to the response, MVC won't be able to recover from it and produce a different action. The recommendation is to use the [exception handler middlew

[2018-09-18 17:38] pranavkm commented on #2677
That's not a scenario we would support out of the box - it's significantly different from how input formatter \ `BodyModelBinder` works. If there's interest, we could expose deserializing the model (closer to what @aanufriyev is attempting to do), but short of that we would close this issue.

[2018-09-18 18:47] #7562 closed

[2018-09-18 18:50] dougbu commented on #7562
Not just one commit: c13e2498a8, 47d6d4e82c, c73b13f544

[2018-09-18 18:52] pranavkm opened #8472 "ApiConventionAnalyzer warns when Ok Action result is returned from action with implicit 200 status code"
![1](https://user-images.githubusercontent.com/174281/45709642-55188380-bb39-11e8-9179-b8edb2341aaf.jpg)

[2018-09-18 18:52] pranavkm commented on #8472
cc @glennc

[2018-09-18 20:41] pranavkm commented on #8397
@drauch looks like an issue with the Razor Sdk. We're fixing this in 2.2.0. For 2.1.0, there isn't a straightforward solution

1) You could avoid using inheritance in your view components
2) You could turn off Razor Sdk `RazorCompileOnBuild=false`, `RazorCompileOnPublish=false`

Fixed in https://github.com/aspnet/Razor/commit/fc86cc3ca1101d0503392a902d4336fa20f575f6

[2018-09-18 20:41] #8397 closed

[2018-09-18 21:49] akluthe commented on #7332
Could this be used as the basis for a view location expander for razor pages and RCL? I am trying to build a modular razor pages application that can use razor class libraries and a modular theme system.

Things work great if I drop my overridden views in the microsoft designated folders. If i try to add some custom theme folders here and find them withe the view location expander, no dice.

[2018-09-19 02:31] wangpengxpy commented on #8461
Hi @rynowak thanks get it .
I can understand the more detail information is aboved. BTW, the problem is occurred if i download the branch directly,is right?if so  i download the releases the next.

[2018-09-19 03:01] TimRowe commented on #8454
Any progress？

[2018-09-19 03:46] rynowak commented on #8461
If you want a stable target to do some local development, I'd suggest just checking out the `release/2.1` branch - that's the last official release, and it won't be changing much.

[2018-09-19 07:56] drauch commented on #8397
We've now copy & pasted an `InvokeAsync` which calls `base.ActuallyInvokeAsync()` into each view component. That's a reasonable workaround for the time.

Thanks for engaging & fixing this!

[2018-09-19 18:52] dougbu opened #8478 "Address problems loading `System.Threading` in dotnet-getdocument inside man"
#### Is this a Bug or Feature request?
Bug that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
1. download https://github.com/dougbu/CodeGeneration repo
2. install relevant tools and packages locally
3. `dotnet build` in repo's ClientConsole folder

##### Expected
Smooth build

##### Actual
[code]

#### Description of the problem
Since builds fro

[2018-09-19 19:02] dougbu opened #8479 "Remove need for users to special-case second and later clients"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
See https://github.com/dougbu/CodeGeneration repo and its [`ClientConsole` project](https://github.com/dougbu/CodeGeneration/blob/fbc0e82aa186f4d8de2ba7ece21f87d550be1817/ClientConsole/ClientConsole.csproj). Lines of particular interest are http

[2018-09-19 19:51] #8472 closed

[2018-09-19 20:07] dougbu commented on #8454
@TimRowe I'm not seeing the behaviour you've described. The issue may be my confusion around how to reproduce it. Could you please provide more details about exactly when the problem occurs. For example, are you publishing before testing locally or specifying arguments when executing `dotnet run` et cetera?

In particular, I'm not seeing the server include `Cache-Control`, `Proxy-Connection`, or `

[2018-09-19 20:54] #5701 closed

[2018-09-19 21:18] mkArtakMSFT commented on #3672
Closing this issue as there was no community involvement for quite a while now.

[2018-09-19 21:18] #3672 closed

[2018-09-19 21:19] mkArtakMSFT commented on #3377
Closing this issue as there was no community involvement for quite a while now.

[2018-09-19 21:19] #3377 closed

[2018-09-19 21:39] mkArtakMSFT commented on #6264
Hi @johnwc.
Sorry we've missed your last comment.
Are you still interested in submitting a PR for this? The approach would be the `document.styleSheets` way @SteveSandersonMS has detailed in his comment.

[2018-09-19 21:42] mkArtakMSFT commented on #6562
@DamianEdwards, seems there has been no community interested in this for a while. If you feel strong about this, please let me know and we'll reconsider it.

[2018-09-19 21:42] #6562 closed

[2018-09-19 22:15] mkArtakMSFT commented on #7808
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-19 22:15] #7808 closed

[2018-09-19 22:19] mkArtakMSFT commented on #6725
Closing this issue as it's external and there is no action on MVC side regarding this.

[2018-09-19 22:19] #6725 closed

[2018-09-19 22:27] mkArtakMSFT commented on #8219
Thanks for your effort, @Matthiee. We've discussed this issue further and decided to close this instead, as it doesn't compose well with our existing security story.

[2018-09-19 22:27] #8219 closed

[2018-09-20 02:59] DamianEdwards commented on #6562
Folks in the community generally ask a different, scenario-focused question, e.g. can I use authorize attribute on Razor Pages rather than doing it in code? This would enable that.

We should consider what this would like taking into consideration the changes coming in Razor vNext.

[2018-09-20 03:03] rynowak commented on #6562
Would it make more sense for us to add `@authorize` (and also `@authorize "<policy name>") in 3.0? That would be very scenario focused and wouldn't require a lot of compiler work.

[2018-09-20 03:04] rynowak commented on #6562
I could also see the feedback from this coming, where people want all of the various other things you can do with authorizeattribute other than setting a policy name.

[2018-09-20 03:05] rynowak commented on #6562
I could also anticipate users wanting a directive for `@allowanonymous` so that you could put `@authorize` in a view imports

[2018-09-20 08:48] drauch opened #8483 "Verbose messages in build log about System.ComponentModel.Annotations"
One of our dependencies references System.ComponentModel.Annotations. ASP.NET Core references it too (via a NuGet package). Therefore we receive a LOT of the following build messages when executing our build:

Are those ok? Can we safely ignore them? Why are they printed out in non-verbose mode? Should this be moved to verbose mode? It's irritating ;-)

[2018-09-20 11:51] KLuuKer opened #8484 "Querystring with empty key will fill every parameter with the specified value"
#### Is this a Bug or Feature request?: BUG

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
using the query with a empty key ("?=bug") will result in all* parameters being filled with the value ("bug") specified
[https://github.com/KLuuKer/bug-url-query-param](https://github.com/KLuuKer/bug-url-query-param)

#### Description of the problem:
when sending the foll

[2018-09-20 14:18] YZahringer opened #8485 "Different JsonSerializerSettings per Controller"
#### Is this a Bug or Feature request?:
Feature request

#### Description of the problem:
How to use a different JsonSerializerSettings on different controllers? Or how to overwrite the default settings for a Controller?

I have a Controller that is more "strict":
[code]

Other controllers are not "strict" and work with the default settings.

The only solution is to create a custom JsonInputFormat

[2018-09-20 15:15] DamianEdwards commented on #6562
I think you're demonstrating exactly why we thought just allowing attributes would be easier 😊

[2018-09-20 16:20] rynowak commented on #6562
Well, its not really easier, it's porbably a lot more work. It is more flexible.

[2018-09-20 16:47] LiryChen commented on #8367
Yeah I was looking at the code but had no idea how to start. Sorry I don't think I can work on this.

[2018-09-20 16:59] Tratcher opened #8486 "JsonResult causes thread pool exhaustion via synchronous flushes"
_From @lorenzos70 on September 16, 2018 11:35_

Hello,

I have a .net 4.6.2 project (for my web apis) that is referencing, among other libraries, Microsoft.AspNetCore 2.1.3. I recently upgraded it from version 1.1. Since the upgrade I experienced the following issues on my production win 2016 server:

- my api logs often show the following messages:
    1. Connection id ""xxxxxx"", Request id ""yy

[2018-09-20 16:59] Tratcher commented on #8486
_From @benaadams on September 16, 2018 13:32_

Upgrade to 2.1.4 and revisit https://github.com/aspnet/Announcements/issues/316

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 16, 2018 13:57_

Hi Ben,

thanks for you reply: I tried but I realized that in my api project, which has been created using .NET 4.6 + .NET core (see first screenshot), the Nuget Packages manager doesn't show any release after the 2.1.3 (see second screenshot).

I also noticed that the upgrade to 2.1.4 is instead available for "pure" .NET core projects. Do I need to

[2018-09-20 16:59] Tratcher commented on #8486
_From @benaadams on September 16, 2018 14:0_

Ah, good point. Add a reference to (or upgrade) `System.IO.Pipelines` to 4.5.1 instead

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 16, 2018 14:11_

Ok, thanks; I just added the System.IO.Pipelines refrerence (seems it wasn't installed before).

[2018-09-20 16:59] Tratcher commented on #8486
_From @benaadams on September 16, 2018 14:16_

It would have been brought in as a dependent reference from one of the other libraries.

Not sure if it will fix the data rate issue you are seeing; but it could fix the CPU spikes; and at a stretch they could be related. So see if it still happens.

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 16, 2018 15:56_

Thanks again Ben; do you think that referencing the System.IO.Pipelines directly as I did (but still having the Microsoft.AspNetCore 2.1.3 referenced, which seems not using it) will make Kestrel to load  it anyway?

[2018-09-20 16:59] Tratcher commented on #8486
_From @benaadams on September 16, 2018 16:3_

Yes, Kestrel uses `System.IO.Pipelines` and adding a reference to `4.5.1` will cause it to use the patched version instead.

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 17, 2018 8:31_

Unfortunately the problem occurred again even after the upgrade; I enabled the failed requests trace (see below) and I noticed that the response body's data buffers are read fine up to a certain point, and then the 502.3 error is raised by the  AspNetCoreModule (so it seems that is not the database query that is running slow, but the way the retrieved

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 18, 2018 11:49_

Hi ben,

just to let you know that I found this: [https://github.com/aspnet/KestrelHttpServer/issues/2104](url) which seems to describe exactly my situation. I indeed have some error handling methods that call something like this:
string  _result = ReadRequest(context).GetAwaiter().GetResult();

Could this cause the mentioned prtoblems? Adding someth

[2018-09-20 16:59] Tratcher commented on #8486
_From @benaadams on September 18, 2018 13:20_

Wondering if the synchronous `Read` could deadlock the read for regular sockets; which will then get killed off due to its data rate dropping to 0 byte/s /cc @halter73

[2018-09-20 16:59] Tratcher commented on #8486
_From @halter73 on September 18, 2018 21:5_

[code]

This will create 1000 managed threads outside the ThreadPool which is way too much. Generally, we find the best performance comes from having about `logical core count / 2` libuv threads. I don't recommend changing the libuv ThreadCount unless you've done extensive benchmarking proving it's better for all your scenarios.

As far as synchronous r

[2018-09-20 16:59] Tratcher commented on #8486
_From @noelstieglitz on September 18, 2018 21:8_

I started seeing a similar, sporadic issues yesterday in one Azure App Service and now am seeing it in a second:

` Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.   at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Th

[2018-09-20 16:59] Tratcher commented on #8486
_From @halter73 on September 18, 2018 21:36_

@noelstieglitz How long were you running your app without seeing issues before seeing issues yesterday? Did anything else notable change regarding your app around the time you starting seeing the request body rate timeouts?

Also, what makes this reminiscent #2151 to you? One thing that helped us resolve #2151 was getting info from the reporter about h

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 19, 2018 14:2_

@halter73 I think I may have some more details about the root of my 502.3 api errors in my environment: I run a stress test on a specific asp.net core web api using the code suggested by @benaadams on a [previous issue](https://github.com/aspnet/KestrelHttpServer/issues/2104#issuecomment-337539008).

When the number of requests per minute hit 100 or m

[2018-09-20 16:59] Tratcher commented on #8486
It sounds like that throughput error is a symptom of your application having higher layer performance issues. If it can't handle 100 r/m then there is a significant bottleneck in the design. What to check next:
- How large is the response when you start having that problem? It's possible you are saturating your network bandwidth, though this should require responses in the GB range.
- Is the respo

[2018-09-20 16:59] Tratcher commented on #8486
_From @noelstieglitz on September 19, 2018 18:26_

@halter73 - thanks for the quick response.

I did some more digging and found that the exception happened once on 8/21, 8/27, and 8/30.  Then a few times on the 14th and we've seen ~75 errors this week.  This could be due to increased traffic.  I'll need to write a fancy query to find out.

This app has been running for months.

We deployed a chan

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 19, 2018 19:10_

@Tratcher thank you for the very precise analysis; I definetely believe it is the third scenario since the response body can hardly make up to GB in size and the response is generated quite efficiently in terms of CPU and resources; besides when I run this:

        [HttpGet]
        public JsonResult TesterApiMethod()
        {
            IEnumerab

[2018-09-20 16:59] Tratcher commented on #8486
Is that IEnumerable lazy? If you change it to `GetData().ToList();` in your second sample does that change the performance?

What does the client report the final response size as?

It looks like JsonResult is writing synchronously, which should only be a problem if the sizes get very large. Adding response buffering may help. Here's a prototype for that you could try:
https://github.com/aspnet/Ba

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 19, 2018 22:30_

 @Tratcher the IEnumerable is of type List<T>, so I haven't gained any performance benefit; as far as the response size is concerned, it is roughly 90k, hence nothing too critical. I am then still struggling to find why the threads get blocked this way during serialization.

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 20, 2018 11:9_

@Tratcher I enabled response buffering and it dramatically impacted the performance: so far I stress tested with 1000 req/min without any problem (I am confident it can handle much more now), while when disabling response buffering the server gets stuck even with only 150 req/min. Does it make sense with my limited response size? I am still very surpr

[2018-09-20 16:59] Tratcher commented on #8486
That's not a good sign. Can you attach the debugger when it gets stuck, break all, and look at the current thread call stacks? Are there a lot of threads blocked on wait handles? What are the common call stacks?

[2018-09-20 16:59] Tratcher commented on #8486
@sebastienros is [this](https://github.com/aspnet/KestrelHttpServer/issues/2936#issuecomment-422923588) covered in any of the perf benchmarks?

[2018-09-20 16:59] Tratcher commented on #8486
_From @lorenzos70 on September 20, 2018 15:50_

@Tratcher I managed to dump the hanging process and run a report (available as a .mht file at https://drive.google.com/open?id=1oFEvZl-RmDJbGnen_z4lnCSMCg7WTaJc), which confirms the amount of threads blocked on waits.

[2018-09-20 16:59] Tratcher commented on #8486
_From @benaadams on September 20, 2018 16:5_

Trimming some noise from the thread stacks:
[code]

Looks like
`Microsoft.AspNetCore.Mvc.Formatters.JsonOutputFormatter.WriteResponseBodyAsync`
via
`Newtonsoft.Json.Serialization.JsonSerializerInternalWriter.SerializeObject`
ending up calling
`Microsoft.AspNetCore.WebUtilities.HttpResponseStreamWriter.Write(Char)`
which then hits
`System.Threading.Task

[2018-09-20 17:01] Tratcher commented on #8486
@davidfowl @rynowak @JamesNK

[2018-09-20 17:14] rynowak commented on #8486
Yep. We should add a call to proactively flush the writer.
**GOOD** https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Formatters.Json/JsonOutputFormatter.cs#L153
**BAD** https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/JsonResultExecutor.cs

[2018-09-20 17:30] pranavkm commented on #8485
You could use [`Controller.Json`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controller.json?view=aspnetcore-2.1) or [`JsonResult`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.jsonresult?view=aspnetcore-2.1) that lets you specify a serializer settings.

[2018-09-20 17:49] sebastienros commented on #8486
Not sure I am repeating this, long thread, but @lorenzos70 can you try to remove these `return JSon(obj)` calls and fallback to the output formatter by doing this:

[code]

[2018-09-20 18:05] YZahringer commented on #8485
Thank you for the answer. And for the Input?

[2018-09-20 21:03] mkArtakMSFT commented on #8485
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-20 21:03] #8485 closed

[2018-09-20 21:05] mkArtakMSFT commented on #8484
@pranavkm, can you please look into this? Thanks!

[2018-09-20 21:07] mkArtakMSFT commented on #8483
Thanks for contacting us, @drauch.
We actually don't own the package you reference here.

@Petermarcu, is this something you have context on?

[2018-09-20 21:16] mkArtakMSFT commented on #8449
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-20 21:16] #8449 closed

[2018-09-21 07:40] lorenzos70 commented on #8486
@sebastienros I tried your approach but had the impression that the same serializers are applied and that dump produces the identical stack trace with the same waits, but maybe I am missing some additional setting (I also removed the Produces("application/json") attribute).

[2018-09-21 12:01] aspnet-hello opened #8487 "Test failure: DisplayTextFor_ReturnsSimpleDisplayText_IfSetAndValueNonNull"
This test [fails](http://aspnetci/viewLog.html?buildId=558257&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact

[2018-09-21 12:01] aspnet-hello commented on #8487
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-21 14:39] ivanromakh commented on #7772
Cool examples

[2018-09-21 15:01] mattman73 commented on #8449
Hi I did post on StackOverflow but no one has come back with a fix or a better way to get the information from HttpContext as it always returns null.

[2018-09-21 16:38] mkArtakMSFT commented on #8487
@NTaylorMullen, can you please look into this? Thanks!

[2018-09-21 16:38] AlseinX opened #8488 "Move Microsoft.AspNetCore.Mvc.ApplicationParts to Microsoft.Extensions.somewhere"
When I am writing my projects, things that I have met are like these:
I need type scanning and attribute based configuration for modules.
There is an application part manager in Microsoft.AspNetCore.Mvc.ApplicationParts which is well featured for the requirement.
It is only in Mvc so I cannot simply use it for other scenes.
I have to create my own for a unified module management of my projects.
I

[2018-09-21 16:39] RSuter commented on #8425
I think RSuter/NSwag#313  does not really cover this issue - I think #313 wants to expose an HTTP endpoint to automatically generate C#/TypeScript for "download"... i.e. a web service - not a DI service. Maybe we should create a new issue for the IDocumentProvider service interface...

[2018-09-21 16:48] mkArtakMSFT commented on #8488
Thanks for contacting us, @AlseinX.
We have no plans to change this. Besides, it'll be a breaking chnage.

[2018-09-21 16:48] #8488 closed

[2018-09-21 16:52] mkArtakMSFT commented on #8457
@Rabadash8820, did @dougbu's suggestion help you overcome the issue?

[2018-09-21 18:15] dougbu commented on #8419
1646345955

[2018-09-21 18:15] #8419 closed

[2018-09-21 18:29] charmis commented on #8484
SetModelValue() in Microsoft.AspNetCore.Mvc.Abstractions\ModelBinding\ModelStateDictionary.cs is checking key is null but not checking it is empty.

[2018-09-21 18:41] NTaylorMullen commented on #8487
Issue with Moq - castleproject/Core#193. Using #8157 to track upgrading the dependency.

[2018-09-21 18:41] #8487 closed

[2018-09-21 21:50] dougbu commented on #8180
5c8dfef15e

[2018-09-21 21:50] #8180 closed

[2018-09-21 23:19] joetherod opened #8492 "Batch Process - Sql Connection Failures"
I ported over a .NET Windows Service to MVC Core using HostedService. It is a batch process that runs daily and does a lot of reads against SQL and MongoDB. SQL is the painstaken issue. Declared service that does the sql calls as singletons, container scoped, thread local with no avail. The process also spins off about 500 threads. I had no issues with in .NET 4.5 running on windows. Now, it consu

[2018-09-21 23:37] dougbu commented on #8425
@RSuter I filed RSuter/NSwag#1626 and renamed this issue. Is the new issue closer to the mark? Any suggestions?

[2018-09-22 00:55] nh43de commented on #8492
Can you provide some sample code or minimal reproduction?

Sent from my iPhone

[2018-09-22 04:04] wangpengxpy opened #8493 "Unable to load css/js when created razor page web application"
Is this a Bug?I'm not sure :

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

https://github.com/wangpengxpy/RazorPageDemo-UnknownBug

#### Description of the problem:
（1）After I created razor page web application,start it. the follow

![image](https://user-images.githubusercontent.com/12961992/45913027-d20b6c00-be5d-11e8-85eb-5f47d01ac5ce.png)

（2）I found proje

[2018-09-22 05:55] mkArtakMSFT commented on #8493
Thanks for contacting us, @wangpengxpy.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-09-22 10:40] StevenLiekens commented on #8180
Thanks

[2018-09-22 23:44] rynowak commented on #8319
This was not flakiness, it was a regression that was fixed a few weeks ago 👍

[2018-09-22 23:44] #8319 closed

[2018-09-23 12:43] joetherod commented on #8492
I was able to fix the sql issue and exhausting connections. The registration of services was not being honored since I didnt explicitly define a scope off the service provider. As per example when using a hosted service.
Eg.
using (var scope = Services.CreateScope())
        {
            var scopedProcessingService =
                scope.ServiceProvider
                    .GetRequiredService<IS

[2018-09-24 16:34] mkArtakMSFT commented on #8492
@joetherod, can you please file a new issue regarding your last notes about memory limits, so we can keep this issue clean and on-topic.

[2018-09-24 16:42] #2677 closed

[2018-09-24 16:44] #8492 closed

[2018-09-24 16:45] mkArtakMSFT commented on #8483
@weshaggard, do you have context on this?

[2018-09-24 16:46] joetherod opened #8496 "Memory Cache Limits"
In .NET 4.0 we have the ability to set memory limits as below.
[code]

In core, in order to do limits, you have to set the size of the object you are inserting, then you can set the SizeLimit. But, how are you suppose to get the size of each entry that is fast and efficient? In 4.0 it would manage the available memory for the app and for the cache based on a percentage of the available memory on t

[2018-09-24 16:46] joetherod commented on #8492
https://github.com/aspnet/Mvc/issues/8496

[2018-09-24 17:34] weshaggard commented on #8483
The conflict resolution sounds right if you are referencing a higher version the ASP.NET platform is. As for why the log message I though it was at a lower importance level and should be anywhere but a diag log.

[2018-09-24 18:29] pranavkm commented on #8484
The behavior is by design - MVC's model binding falls back to an empty string if it cannot find the value for a top level parameter or property name appear in the request. The most common case for this is to allow posting user models without having a prefix. Consider:

[code]

The `filter` parameter gets bound with a view that looks like:

[code]

In a scenario like this, MVC looks for any input t

[2018-09-24 19:28] rynowak commented on #8484
I understand that it behaves this way because of the way our system is implemented, but surely we could do something about this? This doesn't seem like a reasonable behaviour that anyone could take a dependency one.

[2018-09-24 20:01] #8486 closed

[2018-09-24 21:12] pranavkm commented on #8486
@lorenzos70 another workaround outside using of using the response buffering middleware is to increase the buffer size used by `JsonResult`, and the JsonOutputFormatter (used in the code path @sebastienros pointed to). There isn't a setting to tweak it, but writing a custom factory that specifies the size is pretty trivial. Add a writer factory to your application and tweak the DefaultBufferSize t

[2018-09-25 03:14] saibaskaran57 opened #8499 "XML Model State Validation"
#### Feature Request

#### Description of the problem:
On JSON content-negotiation formatting, all exception are wrapped into a ModelState validation which provides flexibility for each controllers to decide the handling on the bad input models.

#### Steps to reproduce
1) Configure XML Formatters for content-negotiation on .NET Core Web API
[code]

2) Submit an invalid XML input(e.g. invalid XML

[2018-09-25 03:45] rynowak commented on #8499
This seems like a bug if this gets through and becomes a 500. It's definitely intended that you get a model state error for this.

[2018-09-25 08:48] KLuuKer commented on #8484
I agree with @rynowak , I understand this is because the way the it's designed for form post's, but having this case also be for http GET querystring parameters is just really really weird imho.

[2018-09-25 15:55] pranavkm commented on #8484
Reopening. We could ignore empty strings for QueryStringValueProvider. That said, @KLuuKer how did you end up with a empty-valued key? AFAIK, MVC wouldn't generate a link with an empty key and browser forms ignore it.

[2018-09-25 21:10] mkArtakMSFT commented on #8499
@dougbu, can you please look into this? Thanks!

[2018-09-25 21:38] dougbu commented on #8499
@mkArtakMSFT looks like this issue is at least `PRI: 1`.  The problem is a **regression** of the #1184 fix (5bb69e495e) that shipped in 1.0.0. The regression was introduced here https://github.com/aspnet/Mvc/commit/83c3ac62fb9187c75689a26e9749046825cdd04b#diff-366db0fc1964d1d3b1154cfee3b4b4deR180

Basically, we need to restore the unconditional `catch` block in `BodyModelBinder`.

[2018-09-25 23:11] KLuuKer commented on #8484
@pakrym **TL;DR** OSI Layer 8...

We use some query parameters to prefill some data (vouchers\affiliates\etc)
and a no tech co-worker forgot what the key was that she needed to use.

So she started building the url ?=somevalue and was then going to figure out what the correct key, except then it just "worked" when she hit enter and just used it as is...

[2018-09-25 23:12] aspnet-hello commented on #8157
There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=561360&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2:
- PopulateFeature_ReturnsEmptyList_IfNoAssemblyPartsAreRegistered

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-26 01:09] rynowak commented on #8496
So the major challenge here is that the APIs that System.Runtime.Caching uses to get the size of objects and memory usage in didn't exist in NET Core 1.0. I realize that System.Runtime.Caching is now part of netstandard2.0, but I'm not sure if it includes the features that @joetherod  is asking about.

It looks like they have support for memory pressure on **windows only** and throw on other platf

[2018-09-26 01:31] aspnet-hello commented on #8281
There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=561634&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master:
- CacheTagHelper_VaryByCultureComposesWithOtherVaryByOptions

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-26 06:07] Tornhoof opened #8501 "ProblemDetails Property Casing"
#### Is this a Bug or Feature request?:
A bit of both

#### Description of the problem:
The new ProblemDetails feature https://github.com/aspnet/Mvc/blob/d09c3c9e2889e9e1c41cdcf3b45f3d724f98fc9f/src/Microsoft.AspNetCore.Mvc.Core/ProblemDetails.cs
is based on https://tools.ietf.org/html/rfc7807
That rfc specifies property names like ``type`` for the details object.
Currently the above implementatio

[2018-09-26 10:27] saibaskaran57 commented on #8499
Hi @rynowak & @dougbu,

Thanks for your speedy response and looking into this. Appreciate it.

Will forward for the updates.

[2018-09-26 13:00] joetherod commented on #8496
@rynowak I'll take a look at using System.Runtime.Caching.MemoryCache.

[2018-09-26 15:29] davidfowl commented on #8496
This is something we're looking at for 3.0 for the memory cache. We're looking to get a new GC event added that we can subscribe to for memory pressure (in a cross platform way) so that we can clear the cache.

[2018-09-26 16:27] davidfowl commented on #8496
This issue was moved to aspnet/Caching#421

[2018-09-26 16:27] #8496 closed

[2018-09-26 16:42] Eilon commented on #8281
@NTaylorMullen - I see one MVC failure on the latest run:

[code]

And @anurse , I'm also seeing a bunch of these SignalR + Redis failures:
[code]

@anurse - any idea on that?

[2018-09-26 16:44] Frank591 opened #8502 "How to separate controllers by ports inside selfhosted web service?"
#### Description of the problem:
I need to separate controllers by ports inside netcore2.0 selfhosted web service.

My configuration
Version of `Microsoft.AspNetCore.Mvc` : 2.0.1
Selfhosted service using Kestrel.
OS: Linux

Example:
There are 2 ports(p1 and p2) and 3 controllers(c1, c2, c3). Requirement scheme: c1 processes requests from p1, but c2 and c3 will processes requests from p2.

Is it av

[2018-09-26 16:46] BrennanConroy commented on #8281
@Eilon Those are filed on SignalR by the bot

[2018-09-26 17:01] mkArtakMSFT commented on #8501
Thanks for contacting us, @Tornhoof.
@glennc, what are your thoughts regarding this?

[2018-09-26 17:05] Eilon commented on #8281
Ah OK so just @NTaylorMullen needs to look at the MVC stuff.

[2018-09-26 21:48] mkArtakMSFT commented on #8502
Thanks for contacting us, @Frank591.
@pranavkm, can you please look into this? Is this somethign we support?

[2018-09-26 21:54] sebastienros commented on #8502
If you want the same process (web application) to process all requests, then you need a proxy in front of your application that will handle these. NGinx, HAProxy can do it quite easily.

You can also listen to multiple ports and filter the requests in a middleware. You can use the `urls` parameter of kestrel to add more input addresses, and I think you can use multiple ports there.

[2018-09-26 21:54] mkArtakMSFT commented on #8457
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-26 21:54] mkArtakMSFT commented on #8457
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-26 21:54] #8457 closed

[2018-09-26 22:51] #8345 closed

[2018-09-27 10:02] martinsmith74 commented on #7512
After spending almost all day on this, I had working samples but it wasn't working in my code. Finally, I discovered that if you remove the ApiController attribute it works.

[2018-09-27 14:34] wangpengxpy commented on #8493
yes,The relative path cannot be resolved mainly.it cause failure to load css/js.the follow
![image](https://user-images.githubusercontent.com/12961992/46153211-48b4c900-c2a5-11e8-89f2-d62fb7baab97.png)
my os is windows 8.1.

[2018-09-27 15:45] pranavkm commented on #7512
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-09-27 17:17] pranavkm commented on #8502
You could use an action constraint to do this:

[code]

[2018-09-27 17:30] mkArtakMSFT commented on #8483
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-27 17:30] #8483 closed

[2018-09-27 17:31] mkArtakMSFT commented on #8454
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-27 17:31] #8454 closed

[2018-09-27 18:47] pranavkm opened #8504 "ClientErrorResultFilter returns ProblemDetails for success status codes"
The problem is a culmination of a couple of issues:

1) `StatusCodeResult` is an instance of `IClientErrorActionResult`. We do this so that things like `new StatusCodeResult(415)` get transformed via the filter.
2) `ClientErrorResultFilter` uses the marker interface to determine [if it needs to act](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/Cli

[2018-09-27 18:48] pranavkm commented on #8504
cc @rynowak

[2018-09-27 21:53] jzabroski commented on #7152
@mansoor-omrani Can you upload your progress to GitHub? And point out where in the Razor Engine it's complicated?

[2018-09-28 06:02] Frank591 commented on #8502
@pranavkm , thanks for answer. Will try to use that.

[2018-09-28 06:02] #8502 closed

[2018-09-28 08:00] sbabaei commented on #7910
I have same problem but my views saved in  database and loading using virtual file provider .
What can I do ?
The project is work for me in debug and visual studio but when I publish and run outside IDE I see the problem :
Targeted tag name cannot be null or whitespace.

[2018-09-28 08:00] sbabaei commented on #7029
I have same problem but my views saved in  database and loading using virtual file provider .
What can I do ?
The project is work for me in debug and visual studio but when I publish and run outside IDE I see the problem :
Targeted tag name cannot be null or whitespace.

[2018-09-28 08:00] sbabaei commented on #7029
@VahidN
I have same problem but my views saved in  database and loading using virtual file provider .
What can I do ?
The project is work for me in debug and visual studio but when I publish and run outside IDE I see the problem :
Targeted tag name cannot be null or whitespace.

[2018-09-28 08:40] sbabaei commented on #7029
I solved my problem by checking and resolving Tag Helpers and View Components references in my views!

[2018-09-28 11:50] snebjorn opened #8507 "Support CRUD with strongly typed sorting, filtering and pagination (paging) out of the box"
#### Feature request:
Support sorting, filtering and pagination out of the box.

Pretty much all API's need this, unless you're doing a simple demo. So instead of every developer having to invent and implement these standard feature I think it would be greatly beneficial if this came with the framework.

You already have some work you can draw on. https://github.com/OData/WebApi already give you a

[2018-09-28 11:51] igorgiovannini opened #8508 "Broken method File() in ASP.NET Core MVC"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Inside an action method of your controller, return a file using the following method:

`return File("filepath", "media type");`

This throws a System.IO.FileNotFoundException.
Example: https://github.com/igorgiovannini/aspnet-mvc-issue8508

#### Description of the problem

[2018-09-28 12:18] khellang commented on #8508
I think you need to provide a repro here. This sounds like a mismatch between the content root and the current directory.

What's the output of `Directory.GetCurrentDirectory()`/`Path.GetFullPath("filepath")`?

If you inject `IHostingEnvironment` into your controller, what's the value of the `ContentRootPath` and `WebRootPath` properties?

Are you copying the file to output?

[2018-09-28 12:33] igorgiovannini commented on #8508
`Directory.GetCurrentDirectory()` returns the path where the project is located.
`Path.GetFullPath("filepath")` returns the path where the "filepath" is located (preceded by `Directory.GetCurrentDirectory()`)

For IHostingEnvironment:
`ContentRootPath` => same as  `Directory.GetCurrentDirectory()`
`WebRootPath` => like  `Directory.GetCurrentDirectory()`, but with /wwwroot appended.

The files are

[2018-09-28 13:25] MaxDeg opened #8509 "JsonInputFormatter do not take Json.Net ErrorContext Member property into account"
#### Is this a Bug or Feature request?:
A Bug (related to this ticket #4607)

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Creating a MVC application with an action handling POST request and taking a json payload. If the payload contains a property of type `int` that is required (marked with `JsonProperty(Required = Required.Always)`), the resulting error do n

[2018-09-28 13:49] hez2010 opened #8510 "Map Json to Action parameters"
#### Is this a Bug or Feature request?:
Feature request

#### Description of the problem:
Currently in order to use json, I have to write:
In Controller:
[code]
In frontend js:
[code]

But it will be better if it can be written just like form submission:
In Controller:
[code]
In frontend js:
[code]

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.A

[2018-09-28 14:08] pranavkm commented on #7910
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-09-28 15:59] igorgiovannini commented on #8508
Example is now available: https://github.com/igorgiovannini/aspnet-mvc-issue8508

[2018-09-28 16:11] igorgiovannini commented on #8508
LOL. Forgive me, I'm an as****e!
The comments on the method tell "virtual path", not physical path.
It works.

However I don't understand why it throws an exception giving also the full path (and the file exists and is there...). I have to take a look to the source code 😄

Shall I keep the issue open? In the latest MVC 5.2 (.NET Framework) the method works differently...

[2018-09-28 17:08] pranavkm commented on #8510
https://github.com/aspnet/Mvc/issues/5306#issuecomment-249616041 has some suggestions on how you'd go about doing this. That said, we don't have plans to add support for doing this out of the box.

[2018-09-28 17:08] #8510 closed

[2018-09-28 17:34] #8504 closed

[2018-09-28 18:05] pranavkm commented on #7559
@lkubis I happened to try your scenario out when investigating another issue, and as of 2.1 the problem no longer reproduces - the page executes fine.

[2018-09-28 18:31] mkArtakMSFT commented on #8508
Thanks for contacting us, @igorgiovannini.
We're closing this issue as the behavior discussed seems to be by design.

[2018-09-28 18:31] #8508 closed

[2018-09-28 18:52] Oblomoff opened #8514 "Binding tries to instantiate a non-null property of abstract type"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Download attached solution [WebApp.zip](https://github.com/aspnet/Mvc/files/2429330/WebApp.zip) and run it. Try to submit the form.

#### Description of the problem:
Binding to a property of abstract type leads to exception:
InvalidOperationException: Could not create an

[2018-09-28 20:20] danroth27 commented on #8507
There are a lot of different ways to achieve this functionality (OData, GraphQL, etc.). As such I'm not sure we want to bake one particular way of achieving this functionality into ASP.NET Core. Instead I would prefer to see a variety of community offerings surface with different ways of achieving this functionality that meet the needs of different apps.

@glennc @rynowak  What are your thoughts o

[2018-09-28 20:42] mkArtakMSFT commented on #8514
Thanks for contacting us, @Oblomoff.
@dougbu, can you please look into this? Thanks!

[2018-09-28 20:43] mkArtakMSFT commented on #8509
Thanks for contacting us, @MaxDeg.
@pranavkm, can you please look into this? Thanks!

[2018-09-29 00:59] dougbu commented on #8514
@Oblomoff this restriction is present only at the top level when model binding. Any existing value of a controller or page model is consistently ignored during model binding.

Two workarounds:
1. Make the property `internal` or `private` and use `await TryUpdateModelAsync(Input)` in a `Post(...)` method in `InputModel`
2. Move use of the `abstract` class down a level e.g.
[code]

[2018-09-29 08:14] miloush opened #8518 "Redirect should encode URLs if it needs to"
All these issues are result of people trying to redirect to a URL that is not all ASCII. Resolution seems to be "you should have encoded your URL".

https://github.com/aspnet/Home/issues/2678
https://github.com/aspnet/Mvc/issues/7701
https://github.com/aspnet/KestrelHttpServer/issues/2508
https://github.com/aspnet/KestrelHttpServer/issues/2296
https://github.com/aspnet/Security/issues/1646
https:/

[2018-09-29 08:28] mansoor-omrani commented on #7152
Yes. Sure. I'll upload the changes I applied.

[2018-09-29 08:38] mansoor-omrani commented on #7152
I tried to push the changes. But it failed. This is the messages I received.

Authentication failed. You may not have permission to access the repository or the repository may have been archived. Open options and verify that you're signed in with an account that has permission to access this repository.

By the way, I was working on "https://github.com/aspnet/AspNetWebStack" repository.

[2018-09-29 08:55] mansoor-omrani commented on #7152
I opened a new issue in the aforementioned branch.

[https://github.com/aspnet/AspNetWebStack/issues/200](https://github.com/aspnet/AspNetWebStack/issues/200)

[2018-09-29 13:36] InDieTasten opened #8519 "Bad exception message when @inject-ing unregistered types in razor views"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Clone: https://github.com/InDieTasten/BadRazorInjectionExample
2. Debug application
3. Index page throws exception described below

#### Description of the problem:
When doing the steps above, the index view will throw the following exception:

    InvalidOperationExce

[2018-09-29 13:50] InDieTasten commented on #8519
I would suggest wrapping the service resolving located [here](https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62539991e1da3a6e30e/src/Microsoft.AspNetCore.Mvc.Razor/Internal/RazorPagePropertyActivator.cs#L128) into a try-catch, and throw a new exception, whose message can be extended with the physical file-path of the view.

This might be neat to generalize for all exceptions that might oc

[2018-09-29 18:13] rynowak commented on #8507
If we did something new like this, it would be JSON API - it's a pretty substantial spec, similar in scope to OData, but it's native to the domain of HATEOAS+JSON. On a personal note, in my opinion it uses the HATEOAS concepts successfully for things you'd actually want to do 😆

There's an existing OData framework build on top of ASP.NET Core https://blogs.msdn.microsoft.com/odatateam/2018/07/03/a

[2018-09-29 18:17] rynowak commented on #8509
@MaxDeg - do you have an example of what you're actually seeing vs what you expect?

Model state errors are based on the model's property names intentionally. I understand this is not useful in all scenarios, but it's the way it happens to work.

@mkArtakMSFT  - this is something we should look at changing in a future release. The feedback overfloweth, and I'm not sure who is being served by the c

[2018-09-30 06:08] Muchiachio commented on #5247
It's usually same name, but repeated. So this should work @andy65007
[code]
[code]

[2018-09-30 18:30] dougbu opened #8523 "Rename targets, package, and some metadata for client code generation"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
Observe names of targets in [Microsoft.Extensions.ApiDescription.Client.targets](https://github.com/aspnet/Mvc/blob/9d109f59561be19817b5504df0b66de7c95c733f/src/Microsoft.Extensions.ApiDescription.Client/build/Microsoft.Extensions.ApiDescription

[2018-10-01 00:22] Eilon opened #8525 "Asp .Net Core App throws exception after the namespace of a model class was changed"
_From @abjbhat on Sunday, 30 September 2018 15:10:34_

1. Description of the problem:
	I changed the namespace of my model from Host.*Model*.ModelName to Host.*ViewModel*.ModelName and now the project throws an exception when trying to access any API.

	Upon examining the build output in Visual Studio, I found that when the output assembly name of the host project is `OriginalHostName.dll`, a comp

[2018-10-01 12:44] ag-petrov opened #8526 "Problem loading editor template when Areas are applied"
Given an application that uses areas and has the following folder structure.

[code]
If inside the **EditorTemplates** there is a view called **Custom.chtml** loading it using dynamically is possible only by providing the full path to the view. For example if we are loadining it using the following code.

[code]

Calling **GetEditorForModel("Custom", ....)** will not work while calling **GetEditor

[2018-10-01 12:50] springy76 commented on #7598
For which use case is this ModelState parameter of `ApplyTo()` designed at all? Just alone for the test operation?

For example I have a class to patch which might throw a `PermissionDeniedException` on setting some of the properties for which some of the users have not the required rights. But this only ends in a `JsonSerializationException` with my own Exception wrapped inside `InnerException`.

[2018-10-01 15:17] ranouf opened #8527 "IEnumerable<IFormFile> is not correctly binding when part names are indexed"
Hi,

I have an Issue when I try to upload Files from my Angular 6 app to .net core web api.

Here is my C# classes:
[code]

My C# Controller:

[code]
![image](https://user-images.githubusercontent.com/1764519/46158581-29d61880-c24c-11e8-828c-a7b16dbb3ebb.png)
As you can see Files are null.

But if I look in the request:
![image](https://user-images.githubusercontent.com/1764519/46158648-512ce580-c

[2018-10-01 15:44] mkArtakMSFT commented on #8527
Thanks for contacting us, @ranouf.
@dougbu, can you please look into this? Thanks!

[2018-10-01 15:46] mkArtakMSFT commented on #8526
Thanks for contacting us, @ag-petrov.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-10-01 15:49] mkArtakMSFT commented on #8525
Thanks for contacting us, @abjbhat.
@pranavkm, can you please look into this? Thanks!

[2018-10-01 15:53] mkArtakMSFT commented on #8523
@dougbu, for the priority - you decide what it should be. If this is something we can't change after releasing, we should do it!

[2018-10-01 15:56] mkArtakMSFT commented on #8519
Thanks for contacting us, @InDieTasten.
Exposing the physical path in the exception would be acceptable only for the `dev` environment. A safer option would be to just have the name of the view.
@NTaylorMullen, can you please look into this? Thanks!

[2018-10-01 16:07] mkArtakMSFT commented on #8509
/cc @dougbu

[2018-10-01 16:39] mkArtakMSFT commented on #8518
Thanks for contacting us, @miloush.
@Tratcher, what are your thoughts regarding this?

[2018-10-01 16:47] dougbu commented on #8527
This is the correct place to file this issue. Suggest closing dotnet/core#1967.

Thank you for your feedback. We're closing this issue as we think this is fixed in our working code base. Would you be able to try our nightly builds and see if the issue is resolved for you? (The #8311 fix was made only a couple of weeks ago, after the most recent 2.2 preview release on NuGet.org.)

Nightly builds ar

[2018-10-01 16:57] Tratcher commented on #8518
We have helpers for generating properly encoded urls like [UriHelper.BuildAbsolute](https://github.com/aspnet/HttpAbstractions/blob/e8d5a85c9949e26914abc8b96594f741725c0442/src/Microsoft.AspNetCore.Http.Extensions/UriHelper.cs#L48). By the time you have combine everything into one string it's too late automatically encode, some parts are ambiguous like ? and # if present in the path.

Perhaps over

[2018-10-01 16:59] ranouf commented on #8527
Thanks @dougbu !

Last question, if I use the nightly build, will I be able to deploy it on Azure?

[2018-10-01 17:07] dougbu commented on #8527
@ranouf see https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-2.2

[2018-10-01 17:09] ranouf commented on #8527
Thanks

[2018-10-01 17:46] dougbu commented on #8509
@JamesNK in which cases will `ErrorContext.Path` not include the current `Member` string? We need the whole path and it is incomplete in at least the scenario when no data is provided for a required property. However I doubt we can simply append `Member.ToString()` unconditionally.

@MaxDeg the comments in  #4607 were about providing a reasonable `Message`, not the `ModelState` key used.

[2018-10-01 18:13] ranouf commented on #8527
I followed your advices:
- I added the last version of AspNetCoreRuntime in csproj (https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/AspNetCoreRuntime.2.2.x64) ( for other people who want to do it, do not forget to add a new nuget Source in VS: https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json)
- I remove [FromForm] before the Dto and replaced it by [FromBody]

I now have an er

[2018-10-01 18:15] changhuixu commented on #7364
I get this type of error frequently...
[code]

I am using [AutoValidateAntiforgeryToken] for all controllers and the client side app is an Angular SPA.
SetUp.cs
[code]
[code]

I am still watching the pattern when the error occurs.
Currently, when the application first time starts, the exception will throw.
However, exception will throw at some random times too.

I strongly suspect that the end poi

[2018-10-01 18:27] ranouf commented on #7719
The Binding issue seems to be fixed in .Net Core 2.2 nightly builds.
source: https://github.com/aspnet/Mvc/issues/8527#issuecomment-425978956

[2018-10-01 18:33] JamesNK commented on #8509
Member could be null if there is an error caused by the root object.

[2018-10-01 18:39] dougbu commented on #8527
Remove both attributes entirely. When using any release from NuGet.org, you do not have the #8311 fix.

[2018-10-01 18:47] dougbu commented on #8509
@JamesNK but when will `Path` not include `Member`? In this scenario, `Path` is empty but `Member` is `"id"`.

Our error handler (in `JsonInputFormatter`) exclusively uses `ErrorContext.Path` when choosing the `ModelState` key but perhaps it should use `Member` instead of or in addition to `Path`. My concern is duplicating part of `Path` if we blindly combine `Path` and `Member`.

[2018-10-01 18:54] ranouf commented on #8527
I removed [FromBody]
I added a new source in VS (https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json)
I added <PackageReference Include="AspNetCoreRuntime.2.2.x64" Version="2.2.0-preview3-35365" /> in the CSProj
From what I understand, it should work, but I still have an error 400.
![image](https://user-images.githubusercontent.com/1764519/46309241-ca4c7580-c589-11e8-829f-5d8741d7493f.png)

[2018-10-01 19:07] ranouf commented on #8527
I removed [FromBody]
I added a new source in VS (https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json)
I added <PackageReference Include="AspNetCoreRuntime.2.2.x64" Version="2.2.0-preview3-35365" /> in the CSProj
I installed 'Release/2.2.1XX
(2.2.x Runtime)' from (https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries)

From what I understand, it should work, but I

[2018-10-01 19:16] JamesNK commented on #8509
Ah I see. Well `Path` is the current location in JSON while `Member` indicates the .NET member that caused the error. There are lots of situations where they don't line up, e.g. https://github.com/JamesNK/Newtonsoft.Json/blob/7217c484e9705b5e76585c8b7fcd489c8e021c23/Src/Newtonsoft.Json.Tests/Serialization/SerializationErrorHandlingTests.cs#L494-L511

[2018-10-01 19:44] RSuter commented on #8425
@dougbu looks good to me, ive addedsome comments...

[2018-10-01 19:52] vankampenp commented on #7364
As a workaround, I am still using the solution described here https://github.com/aspnet/DataProtection/issues/233. Not sure this is still needed in 2.1, but I am hesitant to remove it.
In any case, I am no longer having these issues with that workaround.

[2018-10-01 21:13] Tratcher commented on #8518
Right, we need to be specific about the kind of encodings. To create an unambiguous url there are several syntax characters you may need to escape like `/?#:%.&` etc. since they affected the meaning of the individual parts. Then you may need to encode it for transport / embedding in your specific, especially unicode, but # and other symbols can also be problematic in certain context like HTML.

Pa

[2018-10-01 21:18] Tratcher commented on #8518
I've filed https://github.com/aspnet/Home/issues/3574 for a Response.Redirect overload that accepts the components.

[2018-10-01 21:40] miloush commented on #8518
Okay so nowadays when one wants to fix this issue, they need to create a special ASCII encoded URL to pass to the Redirect method, and use the Unicode URL in links and on pages, e.g. https://github.com/madskristensen/Miniblog.Core/commit/14ec33b42fcd1d9e5f44ceff85749189a614d8dd

Imagine you add the suggested overload to Response.Redirect that takes the components, how would that eliminate the need

[2018-10-01 21:59] Tratcher commented on #8518
[UriHelper.GetDisplayUrl](https://github.com/aspnet/HttpAbstractions/blob/e8d5a85c9949e26914abc8b96594f741725c0442/src/Microsoft.AspNetCore.Http.Extensions/UriHelper.cs#L196) is what I refer people to when they want the friendly display for a request url. The signature doesn't work well for self-generated urls (it takes an HttpRequest), but that's another case where adding an overload that takes i

[2018-10-01 22:14] miloush commented on #8518
Okay so for self-generated urls, you would recommend a sort of GetLink() method that returns `(scheme, HostString, PathString, QueryString, FragmentString)` and then feeding it to either Redirect or GetDisplayUrl? I am worried that just sticking to a string instead is much more convenient...

[2018-10-01 23:34] Tratcher commented on #8518
Understood on the convenience of a string. The trouble is that it doesn't provide any context, the user has to know if it's encoded or decoded and handle it accordingly. I'm starting to think we need a url structure that aggregates all of the components for easy flow. (Not System.Uri because that causes quite a few transformations and doesn't encode appropriately for HTTP headers or HTML pages).

[2018-10-02 01:23] JunTaoLuo opened #8531 "System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types."
_From @dilushi on October 1, 2018 9:23_

I'm getting below error when trying to start the .Net Core API deployed on IIS. Tried many workarounds but still couldn't resolve this issue. Appreciate any support on this.

#.NET Core 2.0, #API, #IIS

_Copied from original issue: aspnet/KestrelHttpServer#2969_

[2018-10-02 01:27] JunTaoLuo commented on #8531
@dilushi this looks like MVC had issues loading assemblies. You should be able to see more information if you examine the LoaderExceptions as recommended in the error message. Can you share your project files with us and let us know the environment you are running on including the version of the shared framework and the dotnet SDK?  cc @pranavkm in case you know of any issues with loading assembli

[2018-10-02 03:16] andy65007 commented on #5247
@Muchiachio thanks a lot! this really helped.

[2018-10-02 05:48] mynkow commented on #6810
10x @rynowak . Here is the code for reference:
[code]

[2018-10-02 07:04] SonicGD commented on #7807
Hello. Because old PR was closed, i've reimplemented this feature with required fixes.

[2018-10-02 10:05] dilushi commented on #8531
hi @pranavkm , if you have any experience on a similar issue, could you please let me know if any workaround to resolve this issue? Appreciate your support on this.
Thank you.

[2018-10-02 12:17] MathieuDR opened #8533 "Generate an URL to specific Razor page Page Route Convention."
#### Is this a Bug or Feature request?
Question

#### Description of the problem
I have multiple [page route conventions](https://docs.microsoft.com/en-gb/aspnet/core/razor-pages/razor-pages-conventions?view=aspnetcore-2.1#configure-a-page-route) registered. These page routes are localized towards the same page(s) in different cultures.

However, I now want to generate an URL with a specific conve

[2018-10-02 13:37] blowdart commented on #7807
We're relying on user input here again, in the form of the host header. This has created problems in the past. We've [rejected](https://github.com/aspnet/Mvc/issues/8279#issuecomment-414396069) this type of PR before and the same reasons apply here, so I'd view this, as I viewed the previous issue, as a won't fix.

[2018-10-02 13:49] MathieuDR commented on #8533
Hey

Thanks for the answer and it looks very good, I do have one question about it though.

I think I understand what you're trying to say but I have difficulty following one step. How does the route get selected exactly when I'm generating an URL.

I expect this line has to do with it. but to me it looks like only one route will be enabled every time?
[code]

Is there a kind of variable where I c

[2018-10-02 15:53] blowdart opened #8534 "Reinvestigate API surface for all absolute URI generating functions."
[CVE-2018-0787](https://github.com/aspnet/Announcements/issues/295) was caused by the trust of host headers and the default stance of listening on any host header. The fix is either reconfiguration of a server, which may not be possible for some users, or middleware which remains [a sample](https://github.com/aspnet/BasicMiddleware/tree/release/2.0/samples/HostFilteringSample). Neither of these op

[2018-10-02 16:18] andrewlock opened #8535 "[FromBody] always null when binding string (JsonReaderException)"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Simple project ([bindstringrepro.zip](https://github.com/aspnet/Mvc/files/2438718/bindstringrepro.zip), but also below).

* Run the app using `dotnet run`
* Use Postman to make a POST to http://localhost:5100/api/values. Set the content type to `application/json`, and add

[2018-10-02 16:28] rynowak commented on #8535
His example is a JSON encoded string search for the following, on the linked blog post.

If you want to get at the raw body content, I'd suggest just reading it yourself, or if you reallly really want something that's a parameter, implement something like: https://github.com/aspnet/Mvc/blob/release/2.2/test/WebSites/FormatterWebSite/StringInputFormatter.cs

[2018-10-02 16:41] andrewlock commented on #8535
Thanks for the quick reply @rynowak 👍

Hmmm, so it is, fair point. I read that as meaning it had to be JSON, not _only_ a JSON string.

I can work around the issue for my example. The easiest way for me was just to bind a `JObject` and call `ToString()` in the method. Horrible performance-wise, but this is a rarely-called non-performance critical endpoint, so it'll do for now.

It still seems a li

[2018-10-02 16:46] Tratcher commented on #8518
@mkArtakMSFT Looking at RedirectResult/Executor it's a 1:1 mapping to Response.Redirect. @miloush is certainly right on one main point, these API do not tell you what to do nor help you do it successfully. The doc comments make no reference to any encoding requirements. I will dispute the bit about putting the value into a HTTP header being an implementation detail, that's the core mechanic for HT

[2018-10-02 16:51] rynowak commented on #8535
Can I ask a few questions for my own education? I've always been a little mystified when these topics come up.

1. What do you ultimately need the body for?
2. Why is it important that you bind it to a parameter?
3. Why do you want to body as a string as opposed to a stream?

[2018-10-02 16:55] mkArtakMSFT commented on #8518
Thanks @Tratcher.
@javiercn, can you please handle the proposed change? Thanks!

[2018-10-02 16:59] andrewlock commented on #8535
Sure

It's being deconstructed into various domain objects. We don't have control over the incoming document (it's an external system posting to ours), so we need to be quite flexible in how we deconstruct it (I believe - I didn't write it)

It's not _important_, it's just convenient. Wherever possible I don't want to have to mess with the underlying request. MVC should handle that for me 🙂

Becau

[2018-10-02 17:03] Suchiman opened #8536 "ModelBinding regression in 2.1.3"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/Suchiman/MvcRegression
[code]
1. Set breakpoint in the Test method of the TestController
2. Issue following post request
[code]
3. Inspect the filters argument

#### Description of the problem:
After Upgrading from
[code]
to
[code]
`filters` will be an

[2018-10-02 17:06] rynowak commented on #8535
Makes sense! If you really like the idea of it being a parameter, I'd suggest using the `StringInputFormatter` I linked.

If you want to do something more first class, you also have the option to write your own model binder - that sounds like a better fit. Then you could do the translation into your domain models in there (if it helps).

Closing this since it sounds like there's no action needed f

[2018-10-02 17:06] #8535 closed

[2018-10-02 17:13] mkArtakMSFT commented on #8531
@dilushi, how did you manage to add a SOAP service reference to a .Net Core project?

[2018-10-02 17:14] mkArtakMSFT commented on #8531
I don't believe it's something supported. @glennc, can you please confirm?

[2018-10-02 17:24] #8467 closed, assigned to pranavkm

[2018-10-02 17:37] MathieuDR commented on #8533
It's not only for the culture, also the users search query will make the URL (eg if he search for a Type A craftsman, the link will be "A.Culture/Details.culture", which still routes to "/Company/Details".

But I'm not sure how I can specify which URL to generate.

So with the link supression in mind, how can I dynamically change which link to supress or request a link for a given route.

I think

[2018-10-02 18:09] mkArtakMSFT commented on #8536
Thanks for contacting us, @Suchiman.
This issue has been fixed in 2.1.5 release: https://github.com/aspnet/Mvc/issues/8206

[2018-10-02 18:09] #8536 closed

[2018-10-02 18:27] mkArtakMSFT commented on #8536
@Suchiman, in the meantime, you can decorate the `filters` parameter with `[FromBody]` attribute to avoid the issue.

[2018-10-02 19:35] ranouf commented on #8527
Hi, @dougbu , sorry to relaunch you, when you have time, could you answer, You are currently the only one who seem to have found the correct solution :)

[2018-10-02 19:37] RickStrahl commented on #8535
One reason for parameters vs streams is documentation. Parameters self document the api vs hidden black box with stream. This is true both for just looking at the code or if you use doc tools to generate api docs.

[2018-10-02 19:38] dougbu commented on #8527
@ranouf I'm hoping to try things out locally later today or perhaps tomorrow morning.

[2018-10-02 19:46] joetherod opened #8539 "Abstract to Concrete class Model binding"
In MVC4/5 I was able to create a custom model binder that would allow me to have an action method take in an abstract class to save. The binder would determine the concrete model class and set it. When it went to the action call the abstract type was now the concrete type with all of the posted values set.

In MVC Core, it is not working.
In MVC4 I set the model meta data as below in the CreateMod

[2018-10-02 20:56] mkArtakMSFT commented on #7807
Thanks for your effort, @SonicGD.
We're for now closing this issue, per @blowdart's comment.
We're going to address this as part of https://github.com/aspnet/Mvc/issues/8534 planned for 3.0 milestone.

[2018-10-02 21:33] mkArtakMSFT commented on #8539
Thanks for contacting us, @joetherod.
It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-10-02 22:07] joetherod commented on #8539
I found the question asked on stackoverflow. One response was to use reflection of the model to set the values from the ValueProvider. The poster then asked why should we now do that when in prior versions of MVC we didnt have to. I asked here since at times things are not one to one when working in core and was hoping there was a better solution than using refection especially since the previous

[2018-10-02 22:57] javiercn commented on #8518
I understand the concerns here. As far as I understand this is just a limitation for the location header, on other places (other than HTML encoding) is totally valid to have non ASCII characters on the Uri.

That said, I'm not sure adding new APIs will do anything to solve this problem. Most people will simply keep calling the string based API (as is the most convenient one) to later realize that

[2018-10-03 01:14] JamesNK opened #8540 "LinkGenerator on Razor views"
There is a `Url` parameter for `IUrlHelper` on Razor pages.

Consider adding a property that returns `LinkGenerator` for developers to access the new API.

[2018-10-03 01:52] abjbhat commented on #8525
1. > if I change the name of the project assembly from OriginalHostName.dll to NewHostName.dll. What are you doing to change the output file?

I change the assembly name in the Visual Studio build properties.

2. > have cleared out all the temp files, restarted Visual Studio, but the problem still remains.
Have you tried cleaning the solution?

Yes. I did. I also rebooted, etc.

I didn't get this

[2018-10-03 03:00] SonicGD commented on #7807
Ok, no problem :)

[2018-10-03 03:46] Tratcher commented on #8518
Efficient. It's still lacking in discoverability though.

[2018-10-03 05:36] dilushi commented on #8531
hi @mkArtakMSFT
Added the service reference using Connected Services in Visual Studio.
I have uploaded a sample project.
https://github.com/dilushi/NetCoreAndASMX

Thank you.

[2018-10-03 08:40] miloush commented on #8518
I am not going to object any new overloads but I am with Javier that I don't think it will do much to solve the problem. "I'm starting to think we need a url structure" sounded like closest to what would help.

But I understand and value the framework is built on simple types and it is predictable what gets output.

My proposal was that instead of ValidateHeaderCharacters throwing, it would ASCII

[2018-10-03 08:45] MateEke opened #8542 "Localize [Required] DataAnnotation"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a project with this: [https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.1#using-one-resource-string-for-multiple-classes](url)

#### Description of the problem:
Translation for `[Required]` annotation doesn't work without prov

[2018-10-03 13:30] pranavkm commented on #8525
I'm not seeing the error. More specifically, your application does not have any Razor files which results in most of the build targets that produce the .Views.dll to skip. I'm not entirely sure why you're seeing that file being generated to start with. Could you run `dotnet build /bl` on the project directory and attach the build log? Alternatively, have you tried cloning the project in a differen

[2018-10-03 13:38] devjani opened #8543 "Partial view not working according to culture of the page"
I am using culture in my mvc 5 project. Its working perfect in while redirecting to any page except the partial view rendering for grid display using ajax post method.

How could we manage the partial view along with current culture?

[2018-10-03 14:06] ag-petrov commented on #8526
Hi @mkArtakMSFT , [here ](https://drive.google.com/open?id=1qQE8VwFIvxRTFwAmhM7I6IrHWBMY6RFe) is a small sample that illustrates the problem.

[2018-10-03 14:14] sqdavid commented on #8367
Hey! I think its up for grabs?
Would like to take a chance =] if so, let me know
Thanks

[2018-10-03 14:56] rynowak commented on #8518
This would double-encode someone's already-endcoded string

[2018-10-03 15:07] miloush commented on #8518
No. If somebody already encoded the string it would be all ASCII and nothing would get changed on the way.

[2018-10-03 15:20] c-wiens opened #8544 "Remote Validation Only Works for DateTimes"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Model:
[code]

Controller:
[code]

View:
[code]

#### Description of the problem:
In one of my model classes I have several different attributes that use [Remote] for jquery validation. If I put a breakpoint in all my validation methods in a controller, only the ones havi

[2018-10-03 15:27] Tratcher commented on #8518
Encoding deals with more than non-ascii characters. You can't really separate the encoding of syntax characters from the encoding of unicode characters, both need to be done at the same time.

[2018-10-03 15:42] mkArtakMSFT commented on #8544
Thanks for contacting us, @c-wiens.
@javiercn, can you please look into this? Thanks!

[2018-10-03 15:42] mkArtakMSFT commented on #8543
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-10-03 15:46] mkArtakMSFT commented on #8542
Thanks for contacting us, @MateEke.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-10-03 15:53] mkArtakMSFT commented on #8539
@dougbu, do you have any suggestions regarding this? Thanks!

[2018-10-03 16:07] mkArtakMSFT commented on #8536
Ok, so after some discussion, we've decided to move forward with the following approach. Going forward, the top-level parameters for API Controllers will infer the below listed binding sources:
| Parameter type | Binding source |
| ------------- | ------------- |
| Simple type  | Query |
| Complex type  | Body  |
| Simple collection | Body  |
| Complex collection  | Body  |

[2018-10-03 16:29] mkArtakMSFT commented on #8526
Thanks for contacting us, @ag-petrov.
@NTaylorMullen, can you please look into this? Thanks!

[2018-10-03 16:36] rynowak opened #8545 "TypeLoadException: The generic type 'System.Func`2' was used with an invalid instantiation in assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'."
_From @RemarkLima on August 24, 2018 22:40_

I have a webapp that works in Core 2.0 without issue.

I've attempted to upgrade to 2.1 without success. Most of the application works, except for certain pages and only when posting data. The issue appears to be in the model-binder but I can't diagnose any further as there's no more info other than the stack trace.

I've updated all version, I've unins

[2018-10-03 16:36] rynowak commented on #8545
_From @Eilon on August 27, 2018 16:53_

Hmm you definitely shouldn't ever need to put `System.Private.CoreLib` in the app's bin directory...

Is there any chance you can run this app under a debugger and see what the parameters are to `MakeFastPropertyGetter` towards the top of the stack?

[2018-10-03 16:36] rynowak commented on #8545
_From @RemarkLima on August 28, 2018 8:5_

Hi @Eilon I've just tried to debug in Visual Studio 2017 but even with every single exception enabled and checked to break on, it doesn't break so it's happening before.

If I clear the output window, then I get the below:

Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 POST http://localhost:55319/Outbound/OutboundCla

[2018-10-03 16:36] rynowak commented on #8545
_From @Eilon on October 1, 2018 20:9_

@RemarkLima sorry for the delay getting back to you. Are you still hitting this issue? Do you have a simplified app that can reproduce this issue so that we can investigate?

[2018-10-03 16:36] rynowak commented on #8545
_From @Eilon on October 1, 2018 20:11_

@jkotas / @A-and - is this the same issue as https://github.com/dotnet/coreclr/issues/18700 ? If so, what release is that fix in?

[2018-10-03 16:36] rynowak commented on #8545
_From @jkotas on October 1, 2018 20:37_

 dotnet/coreclr#18700 was an invalid test setup. It was not a product issue.

[2018-10-03 16:36] rynowak commented on #8545
_From @Eilon on October 1, 2018 20:48_

Oh 😢

Could whatever caused the invalid test setup also be in play here? ("You're holding it wrong"?)

[2018-10-03 16:36] rynowak commented on #8545
_From @jkotas on October 2, 2018 0:34_

The invalid test setup was using mismatched set of binaries from netcoreapp2.0 and netcoreapp2.1. Yes, it is possible that it is somehow happening here as well.

@RemarkLima Could you please find out the values in `Type[] instantiation` argument when the failure happens? It would help us diagnose this issue.

[2018-10-03 16:36] rynowak commented on #8545
You probably need to disable "Just my code"

Based on the call stack it's one of your model types from the action method that's failing.

[2018-10-03 16:36] rynowak commented on #8545
_From @RemarkLima on October 2, 2018 21:19_

Hi all,

@jkotas that's the part I can't seem to get VS to break on - it just throws the error, but sounds like @rynowak may have the solution to this.

I've been trying to distil the project down to get the error on its own, but it's taking a while to copy over the various models and the like in between work required!

Hopefully, I'll get a chance tomo

[2018-10-03 16:36] rynowak commented on #8545
_From @RemarkLima on October 3, 2018 13:28_

OK, managed to refine this down the issue and it would seem to be something with a 3rd party library, MimeKit. I'll raise the issue there but this may also have additional cases, and it's something that is not an issue in 2.0 and only happens in 2.1.

My repo is here:
https://github.com/RemarkLima/Func2Test

The essence of the issue is the binding to a

[2018-10-03 16:36] rynowak commented on #8545
_From @jstedfast on October 3, 2018 15:4_

I'm not sure what MailboxAddress has to do with Func`2 - especially since you're not even instantiating a new MailboxAddress.

[2018-10-03 16:36] rynowak commented on #8545
So it ends up throwing somewhere in here: https://github.com/aspnet/Common/blob/master/shared/Microsoft.Extensions.PropertyHelper.Sources/PropertyHelper.cs#L263

So the generic instantiation is failing for `Func<Func2ViewModel, MailboxAddress>` https://github.com/jstedfast/MimeKit/blob/master/MimeKit/MailboxAddress.cs

[2018-10-03 16:36] rynowak commented on #8545
_From @jkotas on October 3, 2018 15:48_

The instantiation that this is failing for is `Func<Encoding, ReadOnlySpan<byte>>`. `ReadOnlySpan<byte>` is ref-like type that cannot be used as generic argument. It is by design that the runtime fails to create this instantiation.

The problem seems to be that Microsoft.AspNetCore.Mvc.ModelBinding decided to bind to the new 2.1 method overloads that take `

[2018-10-03 16:36] rynowak commented on #8545
_From @RemarkLima on October 3, 2018 16:21_

Thanks @jkotas - so from this, I take it this is more a case of "Don't do it like this"?

I've put that getter within the class into a service and everything is working as it should, so isn't a big change to make, but I'd have never have found it easily.

Or would there be a better solution?

[2018-10-03 16:36] rynowak commented on #8545
Thanks @jkotas

I think we need to do something inside MVC to avoid this case, or report a clearer failure when someone does it. I wonder if we should consider a semantic where we only bind `System.` types if they have a type converter.

@RemarkLima  - I'd really suggest when you model bind types that you only supply types that you actually expect to get model bound. If you have extra things on pa

[2018-10-03 16:36] rynowak commented on #8545
I'm moving this to aspnet/MVC so we can track it as actionable.

[2018-10-03 17:12] pranavkm commented on #8533
Stepping back a bit - couldn't you use a route template where the route values are specified at runtime using localized string. For instance, something along the lines of:

[code]
and as part of generating the URLs, you specify localized values: e.g. `<a asp-page="/Details" asp-route-company="@record.Text" asp-route-details="detailsLocalized[culture]" />`.

[2018-10-03 17:16] MathieuDR commented on #8533
I will try this when I get back in the office. I don't have the project with me right now.

[2018-10-03 17:17] pranavkm commented on #5887
Back to 2.2.0-preview3

[2018-10-03 18:48] daharmon opened #8546 "From controller - HttpContext.Response.Redirect does not work but Response.Redirect does"
#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
`public IActionResult Index()
        {
            HttpContext.Response.Redirect("https://microsoft.com");
            Response.Redirect("https://yahoo.com");
            return View();
        }`

the redirect will only work with the Response.Redirect and HttpContext.Re

[2018-10-03 18:51] #8546 closed

[2018-10-03 18:53] daharmon commented on #8546
I figured it out. The action needed to be able to return first and then redirect to the last set url.

[2018-10-03 19:03] dougbu commented on #8539
The general patterns for binding to an abstract type are:
1. If it's for polymorphism, don't do it. Create distinct actions with parameters of the concrete types needed.
2. If it's for information hiding i.e. not binding some properties of a concrete type, don't do it. Use the concrete type and annotate properties with `[BindNever]` to hide them.
3. If the abstract type is still required for some

[2018-10-03 19:08] dougbu commented on #8514
@Oblomoff we would appreciate more details about your scenario.
- Why is it necessary for the page model property to be `abstract`?
  - If it's for polymorphism, don't do it. Create distinct page handlers with parameters of the concrete types needed and (if the property is needed) set it in the handler.
  - If it's for information hiding i.e. not binding some properties of a concrete type, don't d

[2018-10-03 19:55] NTaylorMullen commented on #8526
Hi @ag-petrov in your `ViewContextForType` you're not passing in the pre-existing view context's `RouteData` so it doesn't know it's coming from an `Area`.

Aka:
[code]

Adding `RouteData` to the newly constructed `ActionContext` makes things work.

[2018-10-03 19:55] #8526 closed

[2018-10-03 20:06] joetherod commented on #8539
I am trying the third option and getting this exception when calling the await _modelBinder.BindModelAsync(bindingContext) on the ComplexTypeModelBinder.

System.Collections.Generic.KeyNotFoundException: 'The given key 'Microsoft.AspNetCore.Mvc.ModelBinding.Metadata.DefaultModelMetadata' was not present in the dictionary.'

[2018-10-03 20:13] pranavkm commented on #8367
@sqdavid all yours to try 👍

[2018-10-03 21:17] ryanbrandenburg commented on #8493
I'm still unable to reproduce this without knowing what steps you took to set up your environment. If you don't know how the environment was set up showing me the output of `dotnet --info` might be helpful, but ideally step by step setup (as tested against a fresh machine or VM).

[2018-10-03 21:21] dougbu commented on #8539
You need to write more code. The `ComplexTypeModelBinder` needs to be instantiated with `ModelMetadata` for the concrete type.

[2018-10-03 21:28] rynowak commented on #8493
@wangpengxpy is this on 2.1? Can you provide the generated code for your layout file? That will be in `obj/debug/netcoreapp2.1/Razor/Shared/_Layout.cshtml.g.cs` or something similar.

[2018-10-03 21:31] ryanbrandenburg commented on #8542
This is a dupe of aspnet/Mvc#6696. Voicing your opinions there will help us see all the community feedback in one place.

[2018-10-03 21:31] #8542 closed

[2018-10-03 23:50] dougbu commented on #8527
@ranouf I'm unable to use the repro solution due to its high number of dependencies and issues blocking progress. Right now `npm run start` in the client directory writes some output, ending with `Compiled successfully` then does nothing more.

Please test with 2.2 Preview 3 i.e. nightly packages
- create a NuGet.config file in the solution root containing
[code]
- download a nightly 2.2 SDK from

[2018-10-04 00:57] rynowak commented on #8531
We should consider also special casing this during `BuildModel` and rethrowing a more descriptive error. We know that this is a likely place for an assembly or type load failure, and type load failures aren't easy to debug.

[2018-10-04 01:49] joetherod commented on #8539
Still getting same exception. when calling await complexTypeModelBinder.BindModelAsync(bindingContext);

`public async Task BindModelAsync(ModelBindingContext bindingContext)
        {
            if (bindingContext == null)
            {
                throw new ArgumentNullException(nameof(bindingContext));
            }

            var valueProviderResult = bindingContext.ValueProvider.GetVal

[2018-10-04 13:19] ag-petrov commented on #8526
@NTaylorMullen thank you. I did not see that.

[2018-10-04 13:31] andersonphiri commented on #4783
@HaoK  I thought if ApplicationUser is deriving IdentityUser the an is-a will work???? but it doesnt, you will have to put the type explicitly

[2018-10-04 13:32] joetherod commented on #8539
i found this and it works. Basically what you said.
http://www.palmmedia.de/Blog/2018/5/13/aspnet-core-model-binding-of-abstract-classes

[2018-10-04 13:54] effyteva commented on #7416
@mkArtakMSFT any change this will get into the 2.2 release?

[2018-10-04 13:55] wangpengxpy commented on #8493
@rynowak yes, It's on 2.1.the follow for obj/....._Layout.cshtml.g.cs
`
#pragma checksum "C:\Users\JeffckyWang\Desktop\RazorPageDemo-UnknownBug-master\RazorPageDemo-UnknownBug-master\RazorPageDemo\RazorPageDemo\Pages\Shared\_Layout.cshtml" "{ff1816ec-aa5e-4d10-87f7-6f4963833460}" "55ec606a8899b87428a644be7fd6ed2bebb23676"
// <auto-generated/>
#pragma warning disable 1591
[assembly: global::Microso

[2018-10-04 14:13] effyteva commented on #7416
I looked at the engine code, and believe I could easily pull a request for changing the ViewEngine to support async on the EditorFor/DisplayFor methods.
Would this help speeding it up?
I'm not used to open-source at all - not sure if the ASP.NET MVC source code is publicly managed, or actually controller only by Microsoft employees...

[2018-10-04 15:30] rynowak commented on #8545
I haven't discussed this with anyone yet (except myself). We missed a new class of issue that's possible to cause us grief in model binding/validation, as of C# 7.2

We can't really *do* model binding with byref types - because they can't be boxed - we need to decide what to do about that. It is option to skip over them, and it is also an option to throw a better error. Since the property helper c

[2018-10-04 15:47] RemarkLima commented on #8545
It's right to say that I did have a working app, from Core 1.0, 1.1 and 2.0.

From my point of view, if the model binder throws an error with the property name of the class that failed to bind that would be a great start as then at least I could have narrowed it down pretty much straight away.

Then not sure if this is possible, but some sort of decoration / attribute to day `[DoNotBind]` could be

[2018-10-04 15:53] rynowak commented on #8545
We actually have this! It's `[BindNever]` https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/BindNeverAttribute.cs I'm not totally sure that's sufficient for your needs, because you will also need to prevent validation from looking at it. I think you'll also need to do [this](https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62539991e1da3a6e30e/src/

[2018-10-04 15:57] rynowak commented on #8493
So the problem is what I expected - I still don't know the root cause. The URL tag helper, as well as other tag helpers like environment are not getting bound to the tags. @NTaylorMullen any ideas?

[2018-10-04 16:41] RyanTaite commented on #7422
I'm currently in a scenario in a .Net Core 2.1 web app where I'm creating a drop down list that is grouped and also shows disabled items (in theory anyways):

[code]

The `Disabled` property is just ignored.
Having to code around this one property when all the others seem to work fine seems odd.

[2018-10-04 17:06] mkArtakMSFT opened #8552 "Throw a clearer exception when a model type has a ref-struct-typed property"
When a model type has a property of a ref-struct type, the error message that they see is pretty gnarly, and doesn't include the details about what type or property cause the problem. We need to report a clearer error.

Please see for more details: https://github.com/aspnet/Mvc/issues/8545

[2018-10-04 17:16] mkArtakMSFT commented on #8539
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-10-04 17:16] #8539 closed

[2018-10-04 18:13] rynowak commented on #8552
I'm editing the title and original post because the description is much too broad to be achievable.

Was: `In situations, when model binding is unable to bind, the exception thrown should indicate the parameter failed to be bound.`

[2018-10-04 18:21] javiercn commented on #4783
@andersonphiri That's not the case, you need to have the specific user type for DI purposes

[2018-10-04 18:31] NTaylorMullen commented on #8493
I've seen this before when users have had an invalid `dotnet` sdk version on their box. Installing the latest dotnet seems to fix the issue.

@wangpengxpy  It would be valuable to see the output of `dotnet --info`

[2018-10-04 20:09] mkArtakMSFT commented on #7807
Reopening this as seems that all the required bits for this to happen are now available.

[2018-10-04 21:37] ranouf commented on #8527
Thanks :)

I will try that probably tommorow or monday.

[2018-10-04 21:59] effyteva commented on #7416
Great @pranavkm, I've created pull request for that

[2018-10-05 06:00] davidfowl opened #8558 "Storing tasks for a long time can hold onto the ExecutionContext which can leak memory (like the HttpContext)"
MVC has a couple of places where it stores Tasks in the MemoryCache or a dictionary for a long period of time. That can result in capturing the `HttpContext` and other ambient async locals which may result in a memory leak (see https://github.com/dotnet/coreclr/issues/20273).

The potential leak exists here:
- https://github.com/aspnet/Mvc/blob/b156dee4f175406a7cdcaaeb2b2a393f2a6abca0/src/Microsof

[2018-10-05 06:46] Lakritzator commented on #8558
Just out of curiosity, while reading into this issue, I saw a TaskCompletionSource which was not created with TaskCreationOptions.RunContinuationsAsynchronously as was advised recently [here](https://blogs.msdn.microsoft.com/seteplia/2018/10/01/the-danger-of-taskcompletionsourcet-class).

e.g.:
https://github.com/aspnet/Mvc/blob/b156dee4f175406a7cdcaaeb2b2a393f2a6abca0/src/Microsoft.AspNetCore.Mvc

[2018-10-05 06:52] davidfowl commented on #8558
It's probably needed 😄

[2018-10-05 11:59] DarrenKantar commented on #6312
I found that it is working in 2.1 for [Required] but not [Compare] which gives a "Could not find a property named Winner." error message.

When I tried extending the CompareAttribute to see what's going on it seems as if the ValidationContext is a String not the PageModel so validationContext.ObjectType.GetProperty(OtherProperty) returns null.

[2018-10-05 15:54] dougbu commented on #7422
@RyanTaite `SelectList` isn't needed here and is losing information because the `Disabled` properties are not surfaced in the `SelectListItem`s that `SelectList` creates. Suggest the following instead:
[code]

[2018-10-05 16:01] ranouf commented on #8527
Hi,

here are more explanation how to launch the repo:
**Server side:**
Open the TestMultipleUpload.sln
Click on Ctrl+F5 (of F5) to launch the server
On going to https://localhost:44344/api/family, you will "["value1","value2"]" which means the server is ready.

**Client side**
in the client folder, to install all the dependancies, run  `npm install`

![image](https://user-images.githubusercontent

[2018-10-05 16:02] mkArtakMSFT commented on #8558
Thanks folks.

@pranavkm, this is all yours!

[2018-10-05 16:06] RyanTaite commented on #7422
@dougbu Unfortunately, that seems to break the grouping:
![selectlistitemarrayresult](https://user-images.githubusercontent.com/5490996/46546348-9d47dd80-c87d-11e8-964a-5e6cc6f67832.PNG)

So while the `Disabled` setting is now being respected, each item is being treated as if it was in it's own group

[2018-10-05 16:07] mkArtakMSFT commented on #8507
Moving this out to the future release, so we have time to think about this.

[2018-10-05 16:15] ranouf commented on #8527
I followed your instructions.

The current version installed is:
![image](https://user-images.githubusercontent.com/1764519/46546313-b01adc00-c896-11e8-83e9-85fc91ceabc5.png)

I can see the new version installed:
![image](https://user-images.githubusercontent.com/1764519/46546357-ca54ba00-c896-11e8-9065-19641c1e775c.png)

In my csproj, I had:
    <PackageReference Include="AspNetCoreRuntime.2.2.x6

[2018-10-05 16:41] dougbu commented on #7422
@RyanTaite the `SelectListGroup`s are compared work reference equality, not by `Name` because multiple groups may have the same name. If you want less-granular grouping, create the `SelectListGroup`s first e.g.
[code]

[2018-10-05 17:34] RyanTaite commented on #7422
Thanks @dougbu! That did it for me.
I had to throw in an null check at `SelectListGroup { Name = name ?? "" }` and `groups[materialType.Company.Name ?? ""]`, but other than than it's working now.

[2018-10-05 17:53] dougbu commented on #8527
@ranouf

This and later steps were what I was missing. The latest issue is not the `IFormFile` collections per se. Instead, `[ApiController]` changes the binding source of the entire `ParentDto` to `BindingSource.Form` and that doesn't support a form URL-encoded body. That leads to the `415` response.

Restoring the `[FromForm]` (which works in ASP.NET Core MVC 2.2) unearths another issue: The sub

[2018-10-05 18:13] dougbu commented on #8527
@ranouf I changed https://github.com/ranouf/TestMultipleUpload/blob/46572ca99dd71a1db48866afc4b8b1a49a1bc875/client/src/app/services/api.services.extensions.ts#L63

to
[code]
and your sample worked perfectly

[2018-10-05 19:08] ranouf commented on #8527
Thanks for your quick answer :)

I added you as collaborator to the repository so you can push your modifications.

[2018-10-05 22:28] dougbu commented on #8527
Doesn't look like I have sufficient access to create a branch. But, I've already provided the NuGet.config and global.json files. Beyond that (and the need to align versions between global.json and the SDK),
[code]

I removed the AspNetCoreRuntime.2.2.x64 dependency only because I apparently do not have the correct extension to support the `AzureSiteExtension` package type. I normally see this typ

[2018-10-05 22:33] dougbu commented on #8509
@MaxDeg FYI @JamesNK and I took this offline a few days ago. We haven't resolved how our error handler could safely (i.e. without getting confused when the full path ends with `Name.Name` or `[0][0]`) use the `Member` property.

[2018-10-06 08:30] mattiasw2 opened #8562 "Why does every public method in a controller have to have a [route] attribute?"
My controller is generic, and uses HttpContext.Request.Query.

Mocking HttpContext.Request.Query is unnecessary hard, since all I need is a Dictionary<string, string>.

So, I divided my controller into two methods, both public, since the GtInternal is the one I use for unit testing.

[code]

However, when I run it, I get the error below. Making the method private solves the problem, however, that

[2018-10-06 08:53] mattiasw2 commented on #8562
Not even making it private seems to work. I assume it the magical typing casting that has issues, It would be really nice if I could write

`public ActionResult<Form> Get([NotNull] string cmdName, IQueryCollection args) { ... }`

since then unit testing would be easy.

[2018-10-06 12:14] wangpengxpy commented on #8493
@NTaylorMullen
![image](https://user-images.githubusercontent.com/12961992/46571254-396c0480-c9a4-11e8-9ca5-f12e3adcb2b6.png)
![image](https://user-images.githubusercontent.com/12961992/46571261-57d20000-c9a4-11e8-950b-d542662f89e0.png)
![image](https://user-images.githubusercontent.com/12961992/46571266-615b6800-c9a4-11e8-94b3-04f83d316376.png)

[2018-10-06 16:37] WhiteKarma opened #8563 "argument cannot be null exception after migrating to 2.2preview2 on app.UseMvc"
in ConfigureServices i have:

services.AddMvc(
    options =>
    {
        options.OutputFormatters.Clear();
        options.OutputFormatters.Insert(0, formatter);
    }).AddJsonOptions(options => options.SerializerSettings.ContractResolver = new DefaultContractResolver())
      .SetCompatibilityVersion(version: CompatibilityVersion.Version_2_2);

in public void Configure(IApplicationBuilder app,

[2018-10-06 19:10] hikalkan commented on #6938
Hi @mkArtakMSFT can you check my response?

[2018-10-06 19:52] TheMagnificent11 opened #8564 "ValidationProblemDetails not returned when binding validation error"
**Is this a Bug or Feature request?**
Bug/question about configuration

**Steps to reproduce**
[code]

[code]

[code]

[code]

**Description of the problem**
I have an issue where when execution hits the controller and my code explicitly returns the `ValidationProblemDetails` response.

However, when binding validation prevents execution getting to the controller, I get the following JSON response

[2018-10-06 20:03] hishamco commented on #8543
Can you add minimal repo to reproduce the issue, @mkArtakMSFT I think we need to move this to home repo with `repo:Localization` tag

[2018-10-06 22:59] rynowak commented on #8562
Use `[NonAction]` https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/NonActionAttribute.cs

[2018-10-06 23:03] rynowak commented on #8563
It looks like you're running into this issue - https://github.com/aspnet/Mvc/issues/8451 - this issues has already been fixed for preview 3. If you need a workaround, you could try setting the compatibility version to `Version_2_1`.

[2018-10-07 01:12] dougbu commented on #8523
Bumping up the priority and renaming from "Change code generation target names to be verbs".

Rename package to `Microsoft.Extensions.ApiDescription.Design` because, as @rynowak said offline, "it sounds like a like a library that is used as an HTTP client, rather than a library to produce them".

Rename tasks assembly to  `Microsoft.Extensions.ApiDescription.Tasks` to match MSBuild conventions.

P

[2018-10-07 01:47] dougbu opened #8566 "Clean up TODOs and duplicated code in client code generation"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
- replace `Microsoft.DotNet.Cli.CommandLine` code with `Microsoft.Extensions.CommandLineUtils.Sources` package
- replace custom lookup with `Internal.WebHostBuilderFactory.Sources` package
- perhaps, replace console writing code with `Microsoft.Extensions.Logging`
  - not positive because addin

[2018-10-07 01:58] dougbu commented on #8527
Unassigning issue that's on the backlog&hellip;

[2018-10-07 02:17] dougbu opened #8567 "Make it possible to change when client code generation runs"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
Currently, any project that references the Microsoft.Extensions.ApiDescription.Client will have the `ServiceFileReferenceGenerator` and related targets run unconditionally before the `BeforeCompile` target. Make this conditional so that users can configure the targets to run elsewhere in the bu

[2018-10-07 04:41] dougbu commented on #8523
Turns out there's not much overlap (beyond `%(Identity)` of course) between the `@(ServiceProjectReference)` and `@(ProjectReference)`. See https://github.com/Microsoft/msbuild/blob/90506c8f6c5e4b82a09bafa6ae62a41e9e7367bb/src/MSBuild/Microsoft.Build.CommonTypes.xsd#L549 and https://docs.microsoft.com/en-ca/visualstudio/msbuild/common-msbuild-project-items?view=vs-2017#projectreference

The one ex

[2018-10-07 19:47] serpent5 commented on #8564
This has also been asked as a [question on Stack Overflow](https://stackoverflow.com/questions/52691353/asp-net-core-validation-problem-state-binding-validation-not-returning-problem/52692178), where I've just answered with an explanation and included a link to the docs that only *hint* at the fact that `AddMvc()` must come *before* `services.Configure<ApiBehaviorOptions>(...)`.

[2018-10-07 23:14] TheMagnificent11 commented on #8564
Yes, the answer on Stack Overflow works :)

[2018-10-07 23:14] #8564 closed

[2018-10-08 01:55] martin-luo commented on #1595
Unfortunately by today (8 October 2018), the link is dead again.

[2018-10-08 08:11] WhiteKarma commented on #8563
@rynowak thank you for your answer.
I tried with all compatibility modes before posting, no change, same exception. Seems i have to wait for preview 3 or even the final 2.2 version at the end of the year. No worries, i am excited with http\2 and the normal performance boost that comes with it.

Vs 2.1 is already quite amazing. I had a look at bing maps and i confess i am impressed. Honestly i neve

[2018-10-08 08:11] #8563 closed

[2018-10-08 14:37] ATLSAPI commented on #8259
@pranavkm Please, could you reply to the above? Just so I know if its a genuine problem or not. Thanks

[2018-10-08 15:41] JoshClose commented on #8321
@NTaylorMullen How would I do this? If I register middleware after `app.UseMvc`, it never gets called.

[2018-10-08 15:50] pranavkm commented on #8259
That wouldn't be the case. Exception filters rely on the stage of execution i.e. has the action finished executing and the result is being executed, and not on whether a response has been written. Like you said, that would be a very inconsistent experience.

[2018-10-08 15:51] pranavkm commented on #1595
We renamed our branches recently - the sample's located at https://github.com/aspnet/Entropy/tree/master/samples/Mvc.SubAreaSample.Web

[2018-10-08 16:10] JoshClose commented on #8321
I think I found something that will work. Let me know if this is wrong. https://stackoverflow.com/questions/27452734/modifying-the-raw-html-output-from-mvc-6

[2018-10-08 16:36] mkArtakMSFT commented on #8543
@devjani, did you get your issues resolved? If not, per @hishamco's suggestion, please share a minimal repro project so we can investigate this further.

[2018-10-08 16:37] mkArtakMSFT commented on #8533
@MathieuDR, did you get chance to try out @pranavkm 's suggestion?

[2018-10-08 16:40] mkArtakMSFT commented on #8514
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-08 16:40] #8514 closed

[2018-10-08 16:41] mkArtakMSFT commented on #8525
@abjbhat , did you get chance to try out @pranavkm's suggestion?

[2018-10-08 17:34] NTaylorMullen commented on #8321
@JoshClose your middleware has to happen before the `app.UseMvc` and you need to capture the output of the Mvc middleware to properly parse it.

The stackoverflow link you provided will work.

[2018-10-08 17:40] JoshClose commented on #8321
Thanks. This seems to work pretty well.

[code]

[2018-10-08 17:41] #8367 closed

[2018-10-08 17:41] NTaylorMullen commented on #8493
@wangpengxpy could you provide the content of your `YourProjectDllName.deps.json` in the `build/Debug/netcoreapp2.1` folder?

[2018-10-08 17:53] ryanbrandenburg commented on #8493
@NTaylorMullen it sounds like you have much better context on this issue than me so I've assigned it to you for now. If that doesn't work let me know.

[2018-10-08 19:27] pranavkm opened #8570 "[Discussion] 3.0 - Removing Microsoft.AspNetCore.Mvc.WebApiCompatShim"
The Microsoft.AspNetCore.Mvc.WebApiCompatShim (WebApiCompatShim) package provides partial compatibility in ASP.NET Core with ASP.NET Web API 2 to simplify migrating existing Web API implementations to ASP.NET Core. However, apps using the WebApiCompatShim do not benefit from the API related features shipping in recent ASP.NET Core releases, such as improved Open API Spec genertaion, standardized e

[2018-10-08 19:40] PinpointTownes commented on #8570
This package was downloaded about 600 000 times. It's a fairly high number when you know it's not referenced by the `Microsoft.AspNetCore`/`Microsoft.AspNetCore.All` metapackages.

Are you sure that removing this package - that shouldn't be that time-consuming to maintain in its current state - is worth the pain it will cause to the ones relying on it, who will be forced to choose between migratin

[2018-10-08 20:34] Sebazzz commented on #8570
@pinpointtowners: 2.x is an LTS release. This gives a few years to remove the shim dependency from your code.

[2018-10-08 20:53] PinpointTownes commented on #8570
@Sebazzz sure, but it doesn't make the migration less painful: you just have more time to do it.

This package was a (great) way to encourage Web API 2 users to migrate without having to dedicate massive human/financial resources to rewrite all their controllers (apps with hundreds of controllers are not that rare).

Removing it at this point is like abandoning them in the middle of the road and t

[2018-10-09 00:45] sqdavid commented on #8367
yay! hope can find another issue I can help with =]

[2018-10-09 03:10] austindrenski opened #8572 "MVC app crashes in release but not in debug"
## Problem

An MVC application crashes in release mode (but not in debug mode) given the following conditions:
1. The app is run in release mode
2. The view has a model, but no model is passed to the `ViewResult`
3. The view model has a property that is a `readonly struct`
4. The `readonly struct` property is used in an `input` tag-helper

I'm not quite sure what I'm looking at here, but the excep

[2018-10-09 07:45] MathieuDR commented on #8533
Hey @mkArtakMSFT, @pranavkm I was out of office for a few days but I'm back and I'll be working on this.

[2018-10-09 08:24] AlexeyEvlampiev opened #8573 "Routing does not work for URI templates containing the "azuredeploy" child segment"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

- Create  the following controller:
[code]
- Browse to:
1) "api/brokers/my-broker/azuredeplox"
2) "api/brokers/my-broker/azuredeploy"
3) "api/brokers/my-broker/azuredeploz"

Expected: all 3 requests are routed to the "Get" action
Actual: "api/brokers/my-broker/azuredeplo

[2018-10-09 10:58] obayit commented on #8367
@sqdavid  is it ok to just ignore assemblies containing the # character?

[2018-10-09 11:50] obayit commented on #8572
I tried to replicate this, and got the error "Segmentation fault"

[2018-10-09 11:58] obayit commented on #8572
I was able to make it work by adding the model when calling View() in the controller:
`public IActionResult Index() => View("Index.cshtml", new ExampleModel());`

this is probably happening because the model is null when the view is trying to access it!

[2018-10-09 12:08] austindrenski commented on #8572
@obayit Yes, that fixes it in my real-world case too. But this is not a requirement of models without a `readonly struct` property or models not used in the `input` tag helper.

Out of curiosity, how did you identify the segfault?

[2018-10-09 12:32] austindrenski commented on #8572
Interesting. That doesn't appear when run from the donet CLI (at least not on my side).

[2018-10-09 12:53] austindrenski commented on #8572
Also, it doesn't happen with the`label` tag helper:

[code]

[2018-10-09 12:55] wangpengxpy commented on #8493
@NTaylorMullen
`{
  "runtimeTarget": {
    "name": ".NETCoreApp,Version=v2.1",
    "signature": "8d19439ef22c432fe18f0eac697c8789fe30c00a"
  },
  "compilationOptions": {
    "defines": [
      "TRACE",
      "DEBUG",
      "NETCOREAPP",
      "NETCOREAPP2_1"
    ],
    "languageVersion": "",
    "platform": "",
    "allowUnsafe": false,
    "warningsAsErrors": false,
    "optimize": false,
    "ke

[2018-10-09 13:27] hez2010 opened #8574 "Support pulgins in razor pages"
#### Is this a Bug or Feature request?:
Feature Request

#### Description of the problem:
Currently the content in a node will be rendered as what it has been written in cshtml files. I hope that you can provide the ability to use plugins.

For example, assuming we have a script compiler babel-loader and a UI library material-design:
[code]

The plugins can be installed from nuget or referenced fr

[2018-10-09 13:27] obayit commented on #8572
This narrow things.

Using visual studio debugging might give some clue, I am at it but it is loading slowly, probably because of my internet connection. But this will allow us to know the exact line causing the issue.

[2018-10-09 13:36] hez2010 commented on #8574
Sorry for opening the issue in a wrong repo.

[2018-10-09 13:36] #8574 closed

[2018-10-09 13:41] abjbhat commented on #8525
The solution was to add a new Razor page, get the project to re-compile. After that run-time error went away. Looks like there's a bug somewhere in the compilation process to me.

[2018-10-09 15:28] mrnams commented on #6759
Hello experts,I want to implement load more button for my website ,https://mrnams.com

Can any one please give idea how to implement load more button to load more videos without refreshing (I mean without loosing loaded videos) page.

Similar to youtube functionality.

I am using .net core 2.1 version

[2018-10-09 17:06] mkArtakMSFT commented on #8573
Thanks for contacting us, @AlexeyEvlampiev.
I could not repro this issue with the 2.1.4 bits:
![image](https://user-images.githubusercontent.com/34246760/46685657-d9937a80-cbaa-11e8-8945-1600d2d8579f.png)
Can you update the dependencies to the latest 2.1.x release and confirm that the issue is fixed?

[2018-10-09 17:07] mkArtakMSFT commented on #8573
/cc @pranavkm

[2018-10-09 17:11] mkArtakMSFT commented on #8572
Thanks for getting to the bottom of this, folks.
@NTaylorMullen, can you please look at this and see whether there is something to improve on our end? Thanks!

[2018-10-09 17:12] rynowak commented on #8572
Is this is an app crash, the CLR needs to look at it as well. We expect all of the code running in a view to throw exceptions if it has a problem, not crash the process.

[2018-10-09 18:10] mkArtakMSFT commented on #8367
@obayit, you could update the dependencies of the https://github.com/aspnet/Mvc/blob/release/2.2/test/Microsoft.AspNetCore.Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj project and that would give you a fully functional MVC app with your custom dependencies.

[2018-10-09 18:44] ranouf commented on #8527
Hi @dougbu ,

Great thanks for your help! It s finally working correctly :)
Here is the last push:
https://github.com/ranouf/TestMultipleUpload/commit/eab8ff287fff3bd464d9c02860dce83474c5a75c

I had to modify the api.services.extensions.ts part to separate array of file from array of object.

The issue was from client part, but It s an interesting case for people who want to upload files to a .net

[2018-10-09 18:44] #8527 closed

[2018-10-09 18:45] NTaylorMullen commented on #8493
Interesting... Your deps.json seems fine. @wangpengxpy does the issue reproduce for you if you run your application at the command line via `dotnet run`?

[2018-10-09 18:45] ranouf commented on #8311
I have made a repo to reproduce the problem and thanks to @dougbu we have found the solution. Let take a lool there: https://github.com/ranouf/TestMultipleUpload

[2018-10-09 20:06] Eilon opened #8575 "Disable "Automatic HTTP 400 responses" for an individual action"
_From @simonvane on Tuesday, 09 October 2018 11:37:17_

The "Automatic HTTP 400 responses" functionality added in ASP.NET Core 2.1 is working out really well in most cases. However, I have one action where I need to do some pre-processing before the validation run.

I don't want to lose the functionality for all actions by setting SuppressModelStateInvalidFilter = true. I'd like to be able to say

[2018-10-09 21:29] mkArtakMSFT commented on #8575
Thanks for contacting us, @simonvane.
@pranavkm, can you please answer this question? Thanks!

[2018-10-10 00:01] pranavkm commented on #8575
@simonvane there isn't a gesture to disable the filter on a per-action basis, but writing a convention to do this should be fairly trivial:

[code]

[2018-10-10 00:01] #8575 closed

[2018-10-10 00:01] NTaylorMullen commented on #8572
I'm not seeing this crash the process or seg fault. As for the exit code; i'm investigating why that's the case.

[2018-10-10 00:07] austindrenski commented on #8572
@NTaylorMullen Are you running it in release _without_ a debugger attached?

[2018-10-10 00:09] NTaylorMullen commented on #8572
Yes

[2018-10-10 02:09] austindrenski commented on #8572
I'm a bit out of my depth with this, but here's what I can see when attaching from WinDbg:

[code]

[2018-10-10 07:16] Danielku15 opened #8578 "RouteValueProvider and SimpleTypeModelBinder cannot handle DateTimeOffset in several cultures."
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

- Run the Microsoft.AspNet.OData.Test.DateTimeTest.FunctionsWorksOnDateTime unit test of the [OData/WebApi](https://github.com/OData/WebApi) project on a system where the DefaultCulture is having a different date format than the InvariantCulture.
- To force this you can

[2018-10-10 11:21] ti82 opened #8579 "TypeFilterAttribute does not honor IsReusable on initial requests if simultaneous"
Bug

Here is my ConnectionLimitAttribute which I use to limit connections to a controller action, and return a 503 if the limit has been reached:

[code]

My app has a single controller method, where this attribute is set to 1. Note the use of IsReusable = true in the Impl constructor. If, when the service is first started, there are several connections rapidly, it does not reuse the filter initia

[2018-10-10 11:44] MathieuDR commented on #8533
@mkArtakMSFT, @pranavkm works wonderfull. Thanks!

[2018-10-10 12:40] obayit commented on #8367
Do you mean that I should write a test function to make sure my fix worked?

[2018-10-10 13:53] wangpengxpy commented on #8493
@NTaylorMullen  it's not work.
![image](https://user-images.githubusercontent.com/12961992/46741090-e0b7a700-ccd6-11e8-8331-48adcbf3fe8b.png)

[2018-10-10 14:17] obayit commented on #8572
@NTaylorMullen can you confirm that replacing Debug with Trace in this [line](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/ModelExplorer.cs#L154) fixes the issue?

[2018-10-10 15:04] rynowak commented on #8579
We haven't been super clear about this in the documentation - but what is there says (emphasis mine):

[code]

In general it's not safe to assume that the framework makes a guarantee (constructs a single instance) that isn't mentioned.

----

I assume that what you want to do here is use this filter for rate-limiting all traffic to certain actions? My suggestion would be to move that functionality

[2018-10-10 15:47] ti82 commented on #8579
I'm not sure I understand how this is supposed to work. I made a new version that implements IFilterFactory.

`[AttributeUsage(AttributeTargets.Method, AllowMultiple = false, Inherited = false)]
    public class ConnectionLimitAttribute : Attribute, IFilterFactory
    {
        private static ConnectionLimitImpl filterImpl;
        private static object safe = new object();
        private readonl

[2018-10-10 16:26] Eilon opened #8580 "ViewComponent ViewData"
_From @csutorasr on Wednesday, 10 October 2018 00:13:50_

MVC and Razor Pages: https://github.com/aspnet/Mvc

I tried to create a `ViewComponent` and try to use `ViewData` from it.

The *ViewComponents* are using different `ViewContext` from the page that executed it. This way I can't reach or set `ViewData`, that can be later passed to *layout* of the page.

I managed to reach the data of the par

[2018-10-10 16:29] #8533 closed

[2018-10-10 16:36] pranavkm commented on #8579
You'd want `ConnectionLimitAttribute` to be registered in DI as a singleton and use `ServiceFilterAttribute` to fetch it. DI should ensure there is only one instance of the service created.

[2018-10-10 16:42] simonvane commented on #8575
Thanks a lot @pranavkm, that worked a charm for me.

Just for a bit of context for other people looking at this, here's what I ended up with in my controller action:

`if (model == null)
{
    return BadRequest(ModelState);
}

model.Property = valueFromPath;

ModelState.Clear();
if (TryValidateModel(model) == false)
{
    return BadRequest(ModelState);
}

// Happy path
`

[2018-10-10 16:53] mkArtakMSFT commented on #8580
Thanks for contacting us, @csutorasr.
@pranavkm, can you please look into this? Thanks!

[2018-10-10 16:53] simonvane opened #8581 "Get service from WebApplicationFactory"
I want to set up my tests using `WebApplicationFactory<T>` as detailed in [Integration tests in ASP.NET Core](https://docs.microsoft.com/en-gb/aspnet/core/test/integration-tests?view=aspnetcore-2.1).

Before some of my tests I need to use a service configured in the real Startup class to set things up.
The problem I have is that I can't see a way to get a service from the factory.

I could get a s

[2018-10-10 16:55] mkArtakMSFT commented on #8580
Not sure this one is related or not: https://github.com/aspnet/Mvc/issues/7675

[2018-10-10 17:06] mkArtakMSFT commented on #8578
Thanks for contacting us, @Danielku15.
@dougbu, can you please look into this? Thanks!

[2018-10-10 17:08] rynowak commented on #8579
So correct me if I'm wrong, you want each attribute to return a single instance of the filter ... so the code you have currently commented out in `CreateInstance` is what you want.

[2018-10-10 17:38] ti82 commented on #8579
I wanted each attribute to have an independent limit and counter, scoped to the action. With the singleton in my commented code, any action with ConnectionLimit would share the same implementation, and the limit would be set by the first action regardless of any others. The other effect is that they'd be sharing the counter, so two separate actions collide. That's why I brought up having context,

[2018-10-10 17:43] sqdavid commented on #8367
My first implementation was reconstructing Codebase using the fragment, but, as @pranavkm commented in my PR, usually we can trust LocalPath =]

https://github.com/aspnet/Mvc/pull/8556#discussion_r223122587

[2018-10-10 17:46] sqdavid commented on #8367
I built 3 new Unit Tests to validate my PR, but if you do a "dotnet run" you could test this specific implementation =]

[2018-10-10 18:02] pranavkm commented on #8525
I can't reproduce the issue and I'm not entirely sure where we would have state that preserves the content between cleans. I'd be happy to investigate if there was something more to go with it.

[2018-10-10 18:46] NTaylorMullen commented on #8493
@wangpengxpy could you try the following:

1. `dotnet new razor`
2. `dotnet run`
3. Hit the hosted website and see if CSS/JS loads?

[2018-10-10 19:02] dougbu commented on #8423
See RSuter/NSwag#1659

[2018-10-10 19:02] dougbu commented on #8424
See RSuter/NSwag#1659

[2018-10-10 19:03] dougbu commented on #8425
See RSuter/NSwag#1658

[2018-10-10 19:05] dougbu commented on #8428
f63d588ee3

[2018-10-10 19:05] #8428 closed

[2018-10-10 19:34] rynowak commented on #8572
/cc @jkotas  - what are the right next steps here

[2018-10-10 23:00] mariotacke commented on #8388
Our team just ran into the same problem. We are using `<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.5" />`. The `PreserveCompilationContext` fix works, but we are unsure whether there are other implications of this or not. Can you clarify @mattzink ? Also, is this documented anywhere?

[2018-10-10 23:29] dougbu commented on #8578
@Danielku15 the [OData/WebApi](https://github.com/OData/WebApi) repo is rather large. For example, I see multiple `DateTimeTest` classes. Could you provide a minimal repro showing the issue, preferably in a separate GitHub repo?

Nonetheless, I took a quick glance at the code and suspect the client thread's culture is not visible to the service. Suggest calling `IMvcBuilder.AddMvcLocalization()` i

[2018-10-10 23:33] mkArtakMSFT commented on #8581
Thanks for contacting us, @simonvane.
@javiercn, can you please look into this? Thanks!

[2018-10-11 03:55] austindrenski commented on #8572
@jkotas Thanks for the explanation. It looks like that `dynamic_lambda` does anticipate the possibility of a `NullReferenceException`, but (if I've understood you correctly) the anticipated NRE is never thrown because the segfault isn't translated:

https://github.com/aspnet/Mvc/blob/5a4fd3e792e75619e3b1de069fabdf87d2cd0983/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ExpressionMetadataProvi

[2018-10-11 06:03] jkotas commented on #8572
We should be able to backport this to 2.2 since we have a real customer scenario hitting the bug. I will reactivate the bug to make it considered for back-porting.

This segfault cannot be caught or handled.

This bug is triggered by structs that do not fit into register (this is platform dependent. e.g. 8 bytes on Windows x64, 16 bytes on Linux x64) and first field of the struct is object referen

[2018-10-11 06:11] obayit commented on #8572
@austindrenski  try using the solution in my previous [comment](https://github.com/aspnet/Mvc/issues/8572#issuecomment-428171701) and see if that doesn't break your business logic.

[2018-10-11 11:32] Danielku15 commented on #8578
I was able to reproduce the error and uploaded [gist here](https://gist.github.com/Danielku15/4b2f12a45dbe69c9c61eeca91e98daa1).

A thing that was not that clear to me before, is that as a prerequisite you need to have a module which fills already deserialized objects into the `RouteValueDictionary` to cause the exception.

In OData when you call a function a special `IRoutingConstraint` and `ODat

[2018-10-11 13:02] wangpengxpy commented on #8493
@NTaylorMullen  it's not work for re-creating a project by command Line

[2018-10-11 17:06] simonvane commented on #8581
Thanks @javiercn.

In most of my tests I fake out the external dependencies but in a few of my tests I needs to run the real system to make sure DI / configuration is set up correctly. In order to run that set of tests I need to get the real service for one of the external systems and use it to create an organization in the external system to run the tests against.

So I would like to call `factor

[2018-10-11 17:21] dougbu commented on #8523
28b1f967c0

[2018-10-11 17:21] #8523 closed

[2018-10-11 17:58] NTaylorMullen commented on #8493
@wangpengxpy Ah, so it sounds like you have a broken dotnet install then.

@livarcocc what steps do you guys recommend users to do in order to repair their dotnet installs/get back to a working environment? The only ones I can think of (which are awful) is to one-by-one uninstall dotnet sdk's/hosts/runtimes until things are back to working.

[2018-10-11 18:31] javiercn commented on #8518
As @rynowak mentioned.

Having RedirectResult do this for you would be a breaking change, so I don't think we want to go that way.

We should just make this simpler by adding a convenience API on UrlHelper (The place used to generate Urls in MVC) and maybe if possible an analyzer to detect simple bad patterns. (Like constructing the url on the argument to redirect through + or as a string literal,

[2018-10-11 18:38] miloush commented on #8518
As I said that is not true, unless I am missing something obvious. Could you give me an example where this would break something?

[2018-10-11 19:13] javiercn commented on #8518
@miloush It changes the response in an observable way. That has the potential to break clients relying on the current behavior.

This can be done, but it would require at least to be opt-in and require a compatibility flag to prevent breaking people upgrading.

[2018-10-11 19:44] miloush commented on #8518
The current behavior is to throw an exception - that is the only case when there would be a difference, all current cases which result in an actual response would stay intact. Does that count as changing response in an observable way and worth compatibility flag?

I am not religious about doing this, but people keep running into the problem and this seems to be the right place to fix it to make ev

[2018-10-11 20:04] pranavkm commented on #5850
Moving this to 3.0

[2018-10-11 21:56] javiercn commented on #8581
@simonvane You can do initialization as described in here https://github.com/aspnet/Mvc/issues/8439#issuecomment-420362661

Alternatively you can simply call Program.CreateWebHostBuilder(Array<string>.Empty()).Build().Services

[2018-10-11 22:18] dougbu opened #8592 "Make `AnsiTextWriter` disposable"
#### Is this a Bug or Feature request?
Bug that's part of #7947.

#### Description of the problem
The `dotnet-getdocument` tool's inside man (`GetDocument.Insider.dll` and `GetDocument.Insider.exe`) included in the Microsoft.Extensions.ApiDescription.Design package includes an `AnsiTextWriter` which wraps a `TextWriter`. Since `TextWriter` is disposable, `AnsiTextWriter` should be disposable. See

[2018-10-11 22:27] dougbu opened #8593 "Support `IDocumentProvider` methods named `GenerateAsync`"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947. Adds support for a different `IDocumentProvider`.

Could also be considered a bug since the [features/client.code.generation](https://github.com/aspnet/Mvc/tree/feature/client.code.generation) branch is inconsistent with what we're doing in the RSuter/NSwag#1658 PR.

#### Steps to reproduce (preferably a link to a GitHub repo

[2018-10-12 01:12] rynowak commented on #8552
After some discussion here, I think the safest fix for 2.2 is to go with just skipping ref struct properties on models. We'll make our `PropertyHelper` infrastructure just ignore them. That's the least impacting change. The major worry here is that new releases of .NET Core will add more spans to things, and break existing code. That would happen even if we throw a good error.

[2018-10-12 11:12] ghulamhussain commented on #8396
hi i am facing exactly the same issue only on ms edge. can you tell me how you fixed this issue?

[2018-10-12 12:14] thrane commented on #8536
I have seen a similar issue when updating from 2.1.402 -> 2.1.403. Where I have a controller with the [ApiController], that has an action that accepts an array that worked in 2.1.402, but the array is empty in 2.1.403.
If I add [FromBody] to the array it works in 2.1.403

[2018-10-12 14:36] Tratcher commented on #8396
@ghulamhussain upgrade to [2.2.0-preview2](https://blogs.msdn.microsoft.com/webdev/2018/09/12/asp-net-core-2-2-0-preview2-now-available/).

[2018-10-12 16:50] wangpengxpy commented on #8493
uninstall dotnet sdk's/hosts/runtimes until things are back to working.can this be the case?

[2018-10-12 17:07] mkArtakMSFT commented on #8580
@pranavkm, can you please see whether it makes sense to extend the fix to the above mentioned areas? Thanks!

[2018-10-12 17:08] #8579 closed

[2018-10-12 17:12] austindrenski commented on #8572
@obayit I gave that a try, but no luck. Looking at the accessor in `ExpressionMetadataProvider`, I would expect both `asp-for="ExampleProperty"` and `asp-for="@Model.ExampleProperty` to generate the same expression (e.g. `m => m.ExampleProperty`) and subsequent issue. Are you seeing something else?

[2018-10-12 17:24] #8525 closed, assigned to pranavkm

[2018-10-12 17:40] NTaylorMullen commented on #8493
Sadly it seems that way yes.

[2018-10-12 17:53] obayit commented on #8572
@austindrenski  you are right. That doesn't work.

[2018-10-12 18:52] wangpengxpy commented on #8493
ok,this is the best solution for adding ther version maybe.

[2018-10-12 19:39] rynowak opened #8595 "Add documentation updates for CompatibilityVersion.Version_2_2"
https://github.com/aspnet/Mvc/blob/b156dee4f175406a7cdcaaeb2b2a393f2a6abca0/src/Microsoft.AspNetCore.Mvc.Core/CompatibilityVersion.cs#L72

We've added a few switches for 2.2 and no all of them are mentioned here. We should update the docs so that it's easy to navigate from compat version -> these are the things I need to know.

[2018-10-12 19:39] rynowak commented on #8595
I'll handle this

[2018-10-12 19:44] aspnet-hello opened #8596 "Test failure: OriginMatched_ReturnsHeaders"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=576625&buildTypeId=Releases_22xPublic_UbuntuUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @mkArt

[2018-10-12 19:44] aspnet-hello commented on #8596
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-12 19:44] aspnet-hello opened #8597 "Test failure: SuccessfulPreflightRequest_AllowsCredentials_IfThePolicyAllowsCredentials"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=576625&buildTypeId=Releases_22xPublic_UbuntuUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @mkArt

[2018-10-12 19:44] aspnet-hello commented on #8597
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-12 19:45] aspnet-hello commented on #8596
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 7 failures [with about the same error](http://aspnetci/viewLog.html?buildId=576625&buildTypeId=Releases_22xPublic_UbuntuUniverse) on 2.2 at 11:24:35 AM:
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHead

[2018-10-12 19:45] aspnet-hello commented on #8597
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 7 failures [with about the same error](http://aspnetci/viewLog.html?buildId=576625&buildTypeId=Releases_22xPublic_UbuntuUniverse) on 2.2 at 11:24:35 AM:
- CorsFilter_RunsBeforeOtherAuthorizationFilters_UsesPolicySpecifiedOnController
- SuccessfulCorsRequest_AllowsCredentials_IfThePolicyAllowsCredentials

[2018-10-12 21:15] #8501 closed

[2018-10-12 21:31] rynowak commented on #8552
Done.

[2018-10-12 21:31] #8552 closed

[2018-10-12 21:33] rynowak commented on #8552
note that it's unclear at this point whether this change is included in preview3 or RTM - but the fix is in the code.

[2018-10-12 21:47] #5887 closed

[2018-10-13 00:05] mkArtakMSFT commented on #8597
@pranavkm, another issue in CORS. can you please look into this? Thanks!

[2018-10-13 02:52] aspnet-hello opened #8600 "Test failure: OriginMatched_ReturnsHeaders"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=577277&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mk

[2018-10-13 02:52] aspnet-hello commented on #8600
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-13 02:52] aspnet-hello opened #8601 "Test failure: SuccessfulCorsRequest_AllowsCredentials_IfThePolicyAllowsCredentials"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=577277&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mk

[2018-10-13 02:52] aspnet-hello commented on #8601
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-13 02:52] aspnet-hello commented on #8600
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 7 failures [with about the same error](http://aspnetci/viewLog.html?buildId=577277&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master at 6:40:36 PM:
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHeaders
- OriginMatched_ReturnsHe

[2018-10-13 02:52] aspnet-hello commented on #8601
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 7 failures [with about the same error](http://aspnetci/viewLog.html?buildId=577277&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master at 6:40:36 PM:
- SuccessfulCorsRequest_AllowsCredentials_IfThePolicyAllowsCredentials
- CorsFilter_RunsBeforeOtherAuthorizationFilters_UsesPolicySpecifiedOnAction
-

[2018-10-13 13:06] patrickboe opened #8602 "unsupported content types do not elicit a 415 Media Type Unsupported code"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/patrickboe/media_type_bug

#### Description of the problem:
Making a request to a web api project which specifies an unsupported content type produces a "400 Bad Request" instead of "415 Media Type Unsupported" response because of the application order

[2018-10-13 17:38] csutorasr commented on #8580
I wrote a test that should not fail. You can find it here: https://github.com/csutorasr/Mvc/commit/f2e9fd9095eac6a3b560720d6f7714e462710c12 .

The text is written as it should be, but the data is not set. I would not make a PR as there is no solution in the commit.

[2018-10-13 20:19] cortex93 opened #8603 "Mimic CreateXXX methods from TestServer in WebApplicationFactory"
Currently, WebApplicationFactory only expose CreateHttpClient.

I have a use case where I use HttpClient factory to create the client. The IHttpMessageHandlerBuilderFilter allow to configure the PrimaryHandler but the only way to get a test HttpMessageHandler, is to call CreateClient first to initialize the Server property, then use this Server property.
I think the same applies if you want to tes

[2018-10-15 06:17] khellang commented on #8602
This has already been fixed; https://github.com/aspnet/Mvc/issues/8236

[2018-10-15 06:58] ghulamhussain commented on #8396
@Tratcher but in case we are not using mvc.

[2018-10-15 17:05] #8602 closed

[2018-10-15 19:35] pranavkm opened #8605 "LinkGeneration + PathBase plans"
Consider:

[code]

The path generated by `LinkGenerator` uses the `PathBase` of the current request and incorrectly produces `/test/Home/Index`. Are there any plans to try and get link generation to work correctly with middleware branches? Since the branch participates in link generation, I'd expect ~~global~~ routing to be aware of it.

[2018-10-15 19:57] Eilon opened #8606 "Extensions Package for DataAnnotations: Recursively validating an entire object graph"
_From @spottedmahn on Sunday, 14 October 2018 17:52:02_

Can the code that validates an object graph in ASP.NET Core MVC be moved to a `Microsoft.Extensions` package to allow for re-use outside of MVC?

---

### Background

I wanted to validate an object and I learned of this limitation on the `Validator`:

Source: [Validator.TryValidateObject Method](https://docs.microsoft.com/en-us/dotnet/api/sy

[2018-10-15 19:57] Eilon commented on #8606
Even though this is a request to move functionality *out* of MVC, the discussion might as well begin with the MVC folks.

[2018-10-15 20:00] Eilon opened #8607 "A problem about model binding in webapi"
_From @fanslead on Friday, 12 October 2018 07:31:38_

Environment: .net core sdk version 2.1.403 and Microsoft.AspNetCore.App version 2.1.5
A model like this
![image](https://user-images.githubusercontent.com/22066473/46852971-5a62a880-ce2f-11e8-873f-9e7573300541.png)
You have an api need this model parameter from body and Content-Type is application/json.
Normally we will send the json data like

[2018-10-15 20:58] rpokrovskij commented on #8002
But how error page is shown then (when razor page code fails)? There are no redirect - so there is a way to switch to new pageModel without redirect.

[2018-10-15 21:28] johnrom opened #8608 "TagHelpers block on Async code"
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Create a new Asp.net Core Web Application project, install https://github.com/benaadams/Ben.BlockingDetector

Add middleware: `app.UseBlockingDetection();`

#### Description of the problem:

TagHelpers use async function (`ProcessAsync`) which then call `GetHashForFile`

[2018-10-15 22:42] pranavkm opened #8609 "Difference in method constraint with 2.1 and endpoint routing"
Not necessarily a bug, but a difference in routing behavior between 2.1 and endpoint that needed to be noted:

Consider:
[code]

With 2.1 routing, GET, PUT, DELETE on /Home/Index -> 404
With 2.2 routing, GET, PUT on /Home/Index -> 405. DELETE -> 200

Filing an issue so we know are aware of this change in behavior

[2018-10-15 22:45] dougbu commented on #8578
@Danielku15 it is inconsistent that `RouteValueProvider` serializes values using the current culture but creates the `ValueProviderResult` using its `Culture` (`InvariantCulture` by default). Correcting this inconsistency i.e. using `Culture` when serializing values is the most we can do in the 2.2 release. To change the `ValueProviderResult` as you suggest would be a significant breaking change.

[2018-10-15 23:41] rynowak commented on #8605
This is all working as intended but it's a little vexxing. This is something that will be worth calling out explicitly in the documentation.

[2018-10-16 06:11] Danielku15 commented on #8578
@dougbu It totally agree that it makes most sense to fix only the bug in a first go with the serialization.

I mostly wanted to highlight that this area looks a bit strange regarding the back-and-forth serialization so you become aware of it. Maybe you want to consider if for a future design change. I guess performance wise it does not make a too big difference today as in most cases the RouteValu

[2018-10-16 15:29] mkArtakMSFT commented on #8608
Thanks for contacting us, @johnrom.
@NTaylorMullen, can you please look into this? Thanks!

[2018-10-16 16:44] mkArtakMSFT opened #8611 "Unable to map error codes to custom problem details via `ApiBehaviorOptions`"
In my controller (`ApiController`) the action returns `BadRequest()`:

[code]

In the startup I have the following mapping defined:
[code]
But this has no effect and client gets the usual `ProblemDetails` error - no matter whether I have that mapping or not:

[code]

[2018-10-16 16:47] rynowak commented on #8609
This is something that no user would try and it didn't do anything useful in 2.1 - note that all of these result in a 404 in 2.1. I think we can ignore this.

[2018-10-16 16:47] pranavkm commented on #8608
The actual hash calculation is synchronous, so I'm not entirely sure creating an async stream helps. Was there an actual issue you observed as a result of the blocking call?

[2018-10-16 16:50] mkArtakMSFT commented on #8603
Thanks for contacting us, @cortex93.
@javiercn, what do you think about this?

[2018-10-16 17:28] javiercn commented on #8603
@cortex93 I'm not sure I understand what your scenario is here, can you describe at a higher level what you are trying to achieve?

[2018-10-16 18:22] pranavkm opened #8612 "API for specifying an IOutboundParameterTransformer needs some polish"
I used the code here - https://github.com/aspnet/Mvc/blob/9daf5ff7a4e092b3a84c060c44148d7d5d40b5c3/test/WebSites/RoutingWebSite/Startup.cs#L25-L27 - as a template for configuring a transformer for my application. I would have expected specifying the transformer to be a property on `SelectorModel`. If that's difficult due to the design, maybe it needs a first class extension - `ActionModel.SetOutbo

[2018-10-16 19:22] pranavkm commented on #8612
Also just happened to notice this - https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.RazorPages/ApplicationModels/PageRouteTransformerConvention.cs. Is there a reason there isn't an equivalent for controller actions?

[2018-10-16 19:56] pranavkm opened #8613 "Link generation with conventional routes is broken with endpoint routing"
Title needs tweaking, but here's the gist of it:

[code]

**Expected**: (also what I get with 2.1 routing): `/Home/Index/3`
**Actual**: `/?id=3`

[2018-10-16 19:59] shawnwildermuth commented on #8609
You likely don't need to use 2.1 compat completely, just turn off endpoint routing:

[code]

[2018-10-16 20:00] pranavkm commented on #8613
cc @rynowak \ @JamesNK

This one seems icky

[2018-10-16 20:07] rynowak commented on #8613
@JamesNK  - it looks like what's happening here is that the longer route isn't getting prioritized. We should look at the precedence of the routes that are decomposed from the conventional route when defaults are in play.

[2018-10-16 20:07] pranavkm commented on #8601
Fixed now that the changes are merged in to master

[2018-10-16 20:07] #8601 closed

[2018-10-16 20:08] pranavkm commented on #8600
Fixed now that the changes are merged in to master

[2018-10-16 20:08] #8600 closed

[2018-10-16 20:38] mkArtakMSFT commented on #8612
@glennc , @JamesNK, @rynowak leaving this up to you to decide what should happen here.

[2018-10-16 20:54] JamesNK commented on #8612
`ControllerRouteTokenTransformerConvention `is a custom type I put together for the test site because we didn't want to test all attribute routes in the application with a transformer, just a small subset.

This is the type that the user would use - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.2#use-a-parameter-transformer-to-customize-token-replacement

S

[2018-10-16 21:08] johnrom commented on #8608
I've been researching sync-on-async areas of a project in an effort to determine a bottleneck, and noticed that this is the source of most of the warnings above in my project. It isn't the bottleneck per-se, but it could have amplified this particular thread-starved scenario.

[2018-10-16 21:33] Phrohdoh opened #8615 "Razor view not being compiled"
#### Is this a Bug or Feature request?:

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:

I have two Razor views:
- Views/Account/Login.cshtml
- Views/Account/Register.cshtml

When the project is built (I only use `dotnet`, non-Windows so no VS here) the latter is not compiled.

See the linked repo for more information.

Also not

[2018-10-16 21:48] mkArtakMSFT commented on #8609
Closing this per @rynowak's comment.

[2018-10-16 21:48] #8609 closed

[2018-10-16 21:49] pranavkm commented on #8615
The file name has a typo: https://github.com/Phrohdoh/repro-aspnetcore-razor-missing/blob/master/Views/Account/Register.cshml

[2018-10-16 22:39] mkArtakMSFT commented on #8605
@rynowak, I'm not sure it's you or @JamesNK who will handle writing the documentation. Please reassign as necessary.

[2018-10-16 22:40] JamesNK commented on #8613
I don't think the longer route should always be prioritized. I think the issue might be in the link generator. If there is a route value for an optional parameter then the link generator should choose prioritize the endpoint with the parameter.

`<a asp-route-id="3">Link to item 3</a>`
`/Home/Index/3` - we want the longer route because of the optional parameter with route value

`<a asp-route-acti

[2018-10-17 00:49] rynowak commented on #8605
Thanks! This one will be me I think.

[2018-10-17 00:56] rynowak commented on #8606
We would consider doing something like this if we attempted to decouple model binding and validation from MVC in the future. I don't think we should make a new package if we don't have a plan to use it ourselves and it doesn't fill a critical need that our users have. We have a track record of doing a bad job when we build something we don't use.

@spottedmahn I'd suggest copying validation visito

[2018-10-17 03:10] spottedmahn commented on #8606
Copy that, thanks 🙏 @rynowak

[2018-10-17 03:10] spottedmahn commented on #8606
close-me, thanks @Eilon

[2018-10-17 12:39] ajeyaprakash148 commented on #6947
could you please put the code here and close.

[2018-10-17 16:45] #8607 closed

[2018-10-17 16:46] #8606 closed

[2018-10-17 17:50] NTaylorMullen opened #8617 "Pre-compiled Razor pages don't have underscores applied to route table correctly."
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. `dotnet new razor`
2. Rename `Pages/Privacy.cshtml` => `Pages/_Privacy.cshtml`
4. `dotnet run`
5. Try hitting `/_Privacy`

#### Description of the problem:
The `_Privacy` Razor page is routable. However, if you were to set `<RazorCompileOnBuild>false</RazorCompileOnBui

[2018-10-17 19:06] glennc commented on #8570
I've been looking at the usage of this and at this point I still think we will remove it in 3.0. But there's still time to change that, I'm not locked in.

I'm willing to talk about either not removing it or porting some of the functionality in the shim. Some of it could become features you can turn on when using `ApiController` if we had a better understanding of what parts of the shim were most

[2018-10-17 20:27] mkArtakMSFT commented on #8608
@johnrom, will you be interested in submitting a PR with the fix?

[2018-10-17 21:06] pranavkm commented on #8611
Likely the same cause as https://github.com/aspnet/Mvc/issues/8564. The order of when `Configure` is called matters. Using https://github.com/aspnet/Mvc/pull/8618 as a way to make this less brittle.

[2018-10-17 22:53] javiercn commented on #8544
@c-wiens I'm not able to reproduce this issue. There are small issues in your sample code, like the one below, that might cause not to work.

This is expecting an int.

Do you see the network request go off on the browser network tab?
Are there any errors on the console?

Could you provide a minimal project that reproduces the issue?
I haven't been able to reproduce it.

[2018-10-18 14:10] schmitch commented on #7826
currently using `[0]` it would generate something like that:
[code]

Uri generated: `/?id[0]=32&id[1]=1123 which is wrong. I want to have ?id=32&id=1123

[2018-10-18 17:03] mkArtakMSFT commented on #8581
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-10-18 17:03] #8581 closed

[2018-10-18 17:06] mkArtakMSFT commented on #8573
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-18 17:06] #8573 closed

[2018-10-18 17:39] lorenzos70 commented on #8486
@pranavkm thanks for the snippets, very useful; by the way, I see that on October 2nd version 2.1.3 has been published but I assume that the patch you are working on will be available in version 2.2, is that correct?

[2018-10-18 17:41] pranavkm commented on #8486
Yes. The fix is in our 2.2 release.

[2018-10-18 18:00] pranavkm commented on #8580
This behavior is by design. Partials and ViewComponents get a separate copy of `ViewData` and changing this behavior would be a breaking change. There are a couple of suggestions on StackOverflow (e.g. https://stackoverflow.com/a/43829111) that suggest ways to pass data around between view components and other Razor files.

[2018-10-18 18:00] #8580 closed

[2018-10-18 18:10] wutever0 opened #8621 "Adding asp-page-handler to Razor Page button removes query parameters from being submitted"
#### Is this a Bug or Feature request?:
I would say this is a Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Originally I was going to post this in the /Identity repo but I guess this is really a Razor Page issue.

1 - Create a new .Net Core Web Application with MVC and Individual User Accounts Authentication.

2 - Scaffold the Identity Login Razor Page.

3

[2018-10-18 20:21] mkArtakMSFT commented on #8621
Thanks for contacting us, @wutever0.
@dougbu, can you please look into this? Thanks!

[2018-10-18 21:37] schmitch commented on #7826
custom model binders won't.

[2018-10-18 21:40] dougbu commented on #8499
@saibaskaran57 turns out some the changes here were intentional. But we may be able to improve your experience in the short term.

When using a `XmlSerializerInputFormatter` or `XmlDataContractSerializerInputFormatter`, the `BodyModelBinder` *should* turn all exceptions into `ModelState` errors. This has been true since the initial ASP.NET Core release. If that's not happening in your case, could

[2018-10-18 21:44] dougbu commented on #8499
@danroth27 @mkArtakMSFT, we should revisit the priority after hearing back from @saibaskaran57 This might be more a side effect of our #4920 intentional breaking change and less a regression.

[2018-10-18 22:55] dougbu commented on #7826
@schmitch we're straying from the original issue into something new. In particular, it's unclear why you're using a custom model binder that sounds less functional than the built-in ones.

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so

[2018-10-19 02:34] dougbu commented on #8621
@wutever0 this is a side effect of using `@page` without an explicit route template when the existing query string is important. Suggest switching to `@page "{handler?}"` or `@page "{handler?}/{id:int?}".

[2018-10-19 07:30] schmitch opened #8622 "custom multi value model binder and asp-all-route-data are hard to work with"
#### Is this a Bug or Feature request?:

Feature Request

#### Description of the problem:

Follow up from: https://github.com/aspnet/Mvc/issues/7826#issuecomment-431190806

Currently when creating a Custom multi value Model Binder, for whatever reason it's not easy to work with the `asp-all-route-data` because `asp-all-route-data` does not support multiple values for the same keys, so that means

[2018-10-19 08:39] IncIouds opened #8623 "Compiling views from .net framework project"
#### Is this a Bug or Feature request?:
Hmm, bug?

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Below

#### Description of the problem:
I have .net standard 2.0 library(sdk=Microsoft.NET.Sdk.Razor), called SelfHost. SelfHost starts kestrel web host server with MVC. SelfHost contains also controllers and views. Building produces SelfHost.Views.dll, controllers

[2018-10-19 16:31] Eilon opened #8625 "ViewComponent inside form and Model Biding"
_From @ciacco85 on Friday, 19 October 2018 07:32:34_

Using a Model like
[code]

and passing the b property to the viewcomponent

[code]

when posting the form, the model property testString is alwayse null.
I've found a workaround, after a long experience with MVC, inside the viewcomponent, adding the "b" inside name

`<input asp-for="testString" name="b.testString" class="form-control" />`

but

[2018-10-19 18:04] pranavkm commented on #8623
Compiling views at runtime, which is what happens with views in an `EmbeddedFileProvider`, requires the compilation context to be set. Could you try setting `<PreserveCompilationContext>true</PreserveCompilationContext>` in your project and see if that helps here?

That said, I'm not entirely sure about this

Why can't you reference the Sdk to `Microsoft.NET.Sdk.Razor` in your project, assuming yo

[2018-10-19 19:00] benmccallum commented on #7267
I've got a similar issue. I can probably solve it the same way, but wondering if another DI container could solve the issue.

In my case I'm trying trying to access a scoped dependency (from within a singleton) that my middleware has set some properties on from the http request. It's unravelling some auth stuff for me so I can use that earlier, but then also pass it along to another API down the l

[2018-10-19 19:54] davidfowl commented on #7267
No nothing can solve that problem. You need an AsyncLocal for that.

[2018-10-19 20:43] #8617 closed

[2018-10-19 20:45] pranavkm commented on #8617
Updated title to reflect the current behavior. Any Razor file with an `@page` will now be served

[2018-10-19 21:31] IncIouds commented on #8623
I tried to set `<PreserveCompilationContext>true</PreserveCompilationContext>` in .csproj of .net framework 4.6.2, but it didn't work. I read somwhere on the internet that this flag is set to preserve .deps.json file, which contains all references. The problem is, there is no .deps.json file creating while building .net framework project.

I can target `Microsoft.NET.Sdk` or `Microsoft.NET.Sdk.Raz

[2018-10-20 07:48] benmccallum commented on #7267
Thanks David, will take a look!

[2018-10-21 04:38] NanaseRuri opened #8628 "BindAttribute doesn't work"
https://github.com/Apress/pro-asp.net-mvc-5/tree/master/Chapter%2024/MvcModels

But in fact when I finish what he tell me I do see the Country property with a specify value, so what should I do to use the BindAttribute in a right way?

[2018-10-21 05:33] #8628 closed

[2018-10-21 11:30] Suremaker opened #8629 "WebApplicationFactory initialization is not thread safe causing multiple TestServer instances being created"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Please see the https://github.com/Suremaker/WebApplicationFactoryTests repository.

#### Description of the problem:
The `WebApplicationFactory<T>` initialization process is not thread-safe, making multiple instances of `TestServer` created if `CreateDefaultClient()` is c

[2018-10-22 03:19] javiercn commented on #8629
Thanks for contacting us.

This class doesn’t claim to be thread safe, so the behavior you are experiencing is expected.

If you need to use it on multithreaded environments you are responsible for wrapping its usage in lock statements as aprropriate.

[2018-10-22 16:00] mkArtakMSFT commented on #8625
Thanks for contacting us, @ciacco85.
@dougbu, can you please look into this? Thanks!

[2018-10-22 16:18] mkArtakMSFT commented on #8612
@JamesNK, should this be closed then?

[2018-10-22 16:38] mkArtakMSFT commented on #8625
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-10-22 16:40] mkArtakMSFT commented on #8622
Thanks for contacting us, @schmitch.
@rynowak, what will be your thoughts regarding this?

[2018-10-22 16:44] PinpointTownes commented on #8570
IMHO, the ability to return instances of `HttpResponseMessage` and throw `HttpResponseException` exceptions (independently of whether it's a good or bad practice) exactly like the way you did in Web API 2 is probably one of the most important aspects, as you don't have to rewrite all your controllers to work with the new world model.

This part could certainly be replaced by something like a Rosly

[2018-10-22 16:46] #8493 closed

[2018-10-22 18:46] olegkaliuga opened #8631 "[BindRequired] validation attribute does not work in case of [FromBody] model binder"
Hi all,

Here is code snippet to reproduce mentioned behaviour:

[code]
If we send empty json object {}, the action will return Ok result (however, I expect BadRequest result, because Price value was not provided at all)

`Microsoft.AspNetCore.All`: 2.1.5

[2018-10-22 18:52] JamesNK commented on #8612
Sure. Reopen @rynowak @pranavkm if you think there is something to do here.

[2018-10-22 18:52] #8612 closed

[2018-10-22 19:46] Suremaker commented on #8629
Hello @mkArtakMSFT, @javiercn,

Thank you for the fast response. I have checked the documentation on the `WebApplicationFactory` and it does not mention being thread-safe indeed.

In all the projects so far we have been using the `TestServer` class explicitly, instantiated once and shared between all the tests that have been running in parallel - mainly to speed up the integration tests execution

[2018-10-22 21:56] javiercn commented on #8629
@Suremaker That alone is not enough, WAF keeps lists of clients and child WAFs in order to dispose them later. Making WAF thread safe implies looking at the entire class and protecting access to all the shared state.

If you want to share the WAF across threads I would recommend simply wrapping it in a static class, exposing a method or two to create the clients you need and protecting shared acce

[2018-10-23 01:13] spottedmahn opened #8632 "Reevaluate the naming of View Components Default.cshtml"
#### Is this a Bug or Feature request?:
Feature

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

- Create a few [View Components ](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components)
- Open them all up
- Confused now? 😊

#### Description of the problem:
Naming the files `Default.cshtml` makes it really hard to know what file you are in. If I

[2018-10-23 03:10] #8613 closed

[2018-10-23 10:18] bragma commented on #7981
Pardon me for reopening a closed issue, but wouldn't the suggested workaround to use "ToList" cause an overhead?

[2018-10-23 11:13] wgutierrezr commented on #4445
I have this issue with ASP.Net Core 2.1.5 MVC.

[2018-10-23 13:28] jholovacs opened #8634 "Feature Request: FromClaimAttribute(string claimName)"
#### Is this a Bug or Feature request?:
Feature Request

#### Description of the problem:
When collecting data for a controller endpoint, sometimes the information is available in the ClaimsPrincipal.  I think it would make a lot of sense to have a FromClaimAttribute in addition to FromRouteAttribute, FromBodyAttribute, etc for supplying an endpoint with parameter data that will be needed by the c

[2018-10-23 16:46] mkArtakMSFT commented on #8634
Thanks for contacting us, @jholovacs.
We'll consider this feature during the next release planning period and update the status of this issue accordingly.

[2018-10-23 17:11] mkArtakMSFT commented on #8631
Thanks for contacting us, @olegkaliuga.
@dougbu, can you please look into this? Thanks!

[2018-10-23 17:20] mkArtakMSFT commented on #8632
Thanks for contacting us, @spottedmahn.
This is not something we plan to change in the near future.

[2018-10-23 17:20] #8632 closed

[2018-10-23 17:21] mkArtakMSFT commented on #8629
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-10-23 17:21] #8629 closed

[2018-10-23 18:18] dougbu commented on #8631
`[BindRequired]` is not relevant when using input formatters aka `[FromBody]`. The separation comes from formatters relying on external serializers / deserializers, none of which understand `[BindRequired]`.

To do something similar, either make `Price` a `string`, use `[Required]` and parse the string in your action or give `Price` an invalid default value e.g. `-1` in this case.

[2018-10-23 18:37] wutever0 opened #8635 "ValidationSummaryTagHelper for prefix only"
#### Is this a Bug or Feature request?:
Feature Request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1 - Sometimes you have two forms on the page, each one submitted to a different action. e.g. a LoginRegister page split into two with a form for Login and another form for Register.
2 - Each action would be model-binded to a separate form model. e.g. LoginForm

[2018-10-23 19:55] schmitch commented on #8622
currently I the easiest case would be model binder that loads data from the database:

[code]

i.e. our key value looks like that `additional=KEY~VALUE` and we bind our Model to something like that:
[code]

currently this is just one of our custom model binders and probably the simpliest, I also think basically every use case of a multi value model binder would have problems when binding these [0]

[2018-10-23 20:42] BenjaminAbt opened #8636 "request ends in 400 when model binder success value is null"
#### Is this a Bug or Feature request?:
I would say it's a bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/BenjaminAbt/AspNetCoreModelBinderDemo

#### Description of the problem:
I want to implement a custom model binder as shown in the official documentation; I'm pretty sure the doc sample wont work.
https://docs.microsoft.com/en-us/aspne

[2018-10-23 21:44] mkArtakMSFT commented on #8592
Closing this per @rynowak 's response to my comment in the referenced PR.

[2018-10-23 21:44] #8592 closed

[2018-10-24 07:42] GSPP opened #8637 "NuGet reference to System.Net.Http causes telemetry to fail in default project template"
On .NET 4.7.2, VS 15.8.7, Windows 7 there exists an issue which prevents a simple application from running:

1. Create new MVC web app.
2. Add library project and reference it.
3. Add System.Net.Http NuGet package to both projects.
4. Update all NuGet packages.

That's the entire setup. Now press F5. The application fails with this error:

[code]

Note that due to this [related bug](https://github

[2018-10-24 14:38] Ghislain1 commented on #8408
@mkArtakMSFT
I sent a pull resquest, please can you review it. because i m not able to start the app
Thank you

[2018-10-24 16:36] mkArtakMSFT opened #8639 "Anchor tag helper not working or working bad"
_From @spzvtbg on Wednesday, 24 October 2018 09:31:18_

### In ASP.NET Core 2.1 Project I use Areas whit Identity, Roles and Localization, for each role i have area with own layout but same Login partial view, and here is that Problem when i have no user changing between languages works, when i have logged user and the anchor tags pointing to home Controller and the shift method - application do N

[2018-10-24 16:36] mkArtakMSFT commented on #8639
_From @mkArtakMSFT on Wednesday, 24 October 2018 16:34:59_

Thanks for contacting us, @spzvtbg.
@dougbu, can you please investigate this? Thanks!

[2018-10-24 16:38] Eilon commented on #8637
This issue was moved to aspnet/Microsoft.AspNet.TelemetryCorrelation#44

[2018-10-24 16:38] #8637 closed

[2018-10-24 16:47] pranavkm commented on #7981
@bragma as a general guidance, I'd recommend profiling your application if you think a particular piece of code has a performance overhead. It's difficult to make a blanket statement that says doing `ToList` has a noticeable overhead. In addition, returning a iterator has known issues: https://github.com/aspnet/Mvc/issues/5083#issuecomment-235631483

[2018-10-24 17:01] mkArtakMSFT opened #8640 "TryValidateModel throws exception when unit tested"
_From @mmulhearn on Wednesday, 24 October 2018 16:29:52_

When attempting to run a unit test against an ApiController in ASP.NET Core, TryValidateModel throws an exception that ObjectValidator is null.  When trying to set the property, I can't seem to figure out what properties should be set to what.  I can inject the DefaultObjectValidator, but it always passes, even when I purposefully set bad v

[2018-10-24 17:01] mkArtakMSFT commented on #8640
_From @mmulhearn on Wednesday, 24 October 2018 16:42:32_

I ended up creating my own IObjectModelValidator, which I'm not sure is the best approach, but it seems to work.

[code]

[code]

I would still like to see a fix so this doesn't need to be done.  Who knows if I'm missing a configuration or edge case that is addressed in the full pipeline.

[2018-10-24 17:01] mkArtakMSFT commented on #8640
_From @mkArtakMSFT on Wednesday, 24 October 2018 17:00:47_

Thanks for contacting is, @mmulhearn.
@pranavkm, is the approach taken here one we'd recommend, or is there a better way to do this?

[2018-10-24 17:04] pranavkm commented on #8623
You can target .NET Framework in a SDK-style project (for instance this project cross-compiles. Here's a minimal template for a project target `net462`:

[code]

I'd start from here and see if you can get your application to run correctly.

[2018-10-24 17:09] pranavkm commented on #8640
We believe that unit tests should focus on the code inside the controller and not on the underlying framework. Our doc has a pretty detailed guidance on how to author unit tests for controllers - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?view=aspnetcore-2.1. What you're looking for sounds like an integration test and the doc here - https://docs.microsoft.com/en-us/aspnet

[2018-10-24 17:11] pranavkm commented on #8611
Introduced a new API to allow configuring `ApiBehaviorOptions`. The guidance is to use `IMvcBuilder.ConfigureApiBehaviorOptions` to configure the app over `services.Configure<ApiBehaviorOptions>`

[2018-10-24 17:11] #8611 closed

[2018-10-24 17:29] pranavkm commented on #7902
Verified as part of preview3 verification.

[2018-10-24 17:29] #7902 closed

[2018-10-24 17:31] pranavkm commented on #7807
cc @danroth27 could you suggest a name for this?

[2018-10-24 17:34] pranavkm commented on #8279
@zippy1981 we re-evaluated the decision and are willing to take this change. I've marked the issue as up-for-grabs and we'd be happy to accept a PR for this.

[2018-10-24 17:40] mkArtakMSFT commented on #8635
Thanks for contacting us, @wutever0.
@javiercn, can you please look into this? Thanks!

[2018-10-24 17:45] mkArtakMSFT commented on #8603
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-24 17:45] #8603 closed

[2018-10-24 17:48] #8640 closed

[2018-10-24 17:54] mkArtakMSFT commented on #8636
Thanks for contacting us, @BenjaminAbt.
@pranavkm, can you please look into this? Thanks!

[2018-10-24 17:58] mmulhearn commented on #8640
I disagree with your assessment.  For instance, good REST APIs pass IDs in the URL, such as /product/1.  The model for that action may contain a property for that product ID, such as UpdateProduct.Id.  Technically, the caller is already passing the ID via the URL, so making them also pass it in the body of the PUT/POST is repetitive.  Therefore, it could technically make sense for the controller t

[2018-10-24 18:09] #8631 closed

[2018-10-24 18:43] dougbu commented on #8621
Realized this is *not* a page handler but a page. The handler is your `OnPostLoginAsync(...)` method in that page. If the `<button/>` is in `LoginRegister.cshtml`, use `asp-page-handler="PostLogin"`. If it's anywhere else, use `asp-page-handler="PostLogin" asp-page="LoginRegister"`.

If the `ReturnUrl` is not persisting a query string that was present before the login steps began, that might be an

[2018-10-24 19:08] poke commented on #8640
Only if you mock it though. If you want to rely on the real implementation, then you are doing an integration test, and then you should just run the full integration test stack.

In any case: You do not need to know how to properly set up a validator.

[2018-10-24 19:20] pranavkm commented on #8623
Yes. Alternatively putting the views in a class library that references the Razor Sdk would also work.

[2018-10-24 19:53] wutever0 commented on #8621
The `<button/>` is in `LoginRegister.cshtml` and the full form is:

`<button type="submit" asp-page-handler="Login" class="btn btn-default">Log in</button>`

which actions the `OnPostLoginAsync` ... all this is wired up fine. Adding the `asp-page-handler` attribute though, renders the button with an HTML `formaction` attribute which does not include the query string parameters which would have bee

[2018-10-24 20:06] dougbu commented on #8621
Getting a better understanding of your application. The following case is the one that surprises me:
[code]

I'll spend later today seeing if I can reproduce this and deciding whether the issue exists in aspnet/Mvc or the aspnet/Security repo.

[2018-10-24 22:24] pranavkm opened #8643 "Log error when action execution throws"
Based on https://github.com/aspnet/AspNetCore/issues/3712. When no exception filter is configured, the log for action execution that throws looks like so:

[code]

This makes it seem like everything the action completed successfully. We could add a log to `InvokeNextResourceFilter` and `InvokeNextExceptionFilterAsync` if we catch an exception. Another alternative might be to print an "Executed act

[2018-10-24 23:10] poke commented on #7807
(Reposting my comment from the PR here for visibility)

What about having a `Url.Absolute()` instead that would turn a relative URL into an absolute one?

So this would become `Url.Absolute(Url.Action(…))` but at the same time we also had `Url.Absolute(Url.Route(…))` or `Url.Absolute(Url.Page(…))` etc. without breaking compatibility and without ending up with lots of new methods.

And we could als

[2018-10-25 00:41] rynowak commented on #8643
Doesn't Kestrel or Hosting log unhandled exceptions? We designed logging such that you should only log exceptions if you catch without rethrowing. The top level handler should log.  Otherwise you end up with world-ending spam every time an exception happens.

[2018-10-25 06:16] poke commented on #8643
And in addition, the request should not be responded with a 200 status code. So I actually think that there is something else going on in the original OP’s project. Maybe there _is_ an exception handler that swallows the exception after all.

[2018-10-25 06:54] phatcher commented on #8643
@poke I don't think I'm trapping the exceptions, also nothing is reported in Application Insights.

I'm going to see if I can reproduce this in a sample project

[2018-10-25 08:15] spzvtbg commented on #8639
So I want to have a web application with 2 languages. For this purpose I use localizations. As I mentioned for each role I will have the area and for each area I will use a separate layout but with the same [_LoginPartial](https://github.com/spzvtbg/Csharp-Web/blob/master/TheacherDiary/TheacherDiary.Web/Views/Shared/_LoginPartial.cshtml). For this purpose, I use a list of links for changing langua

[2018-10-25 08:30] poke commented on #8643
@phatcher That would help a lot, thanks!

[2018-10-25 08:47] IncIouds commented on #8623
Putting views in another library is not the option. How can i use Microsoft.NET.Sdk.Razor in .net framework project? What should i add to .csproj? I didn't find anything helpful on the internet on that matter.

[2018-10-25 15:58] QuAzI commented on #4842
Wow! I found this ugly bug! And it is a really bug!
This behavior broke the data exchange between C# and JS!
1) All properties in JS must be fixed after migration from ASP.NET
2) Doesn't have backward compatibility (to restore broken case) and can't be returned AS IS to the ASP.NET Controller

[code]
Simple method to use model
[code]

Simple method which must save returned model
[code]

It is impr

[2018-10-25 16:28] pranavkm commented on #8643
I was thinking more along the lines of changing

to say

when the action fails.

[2018-10-25 16:30] pranavkm commented on #8623
I listed the template for a desktop targeting Sdk project template here - https://github.com/aspnet/Mvc/issues/8623#issuecomment-432743858. I'd start from there.

[2018-10-25 16:46] MaximRouiller commented on #4842
@QuAzI If you want to restore the older behavior of keeping the casing, see the comments above. They show you many ways to resolve that issue.

[2018-10-25 16:57] mkArtakMSFT commented on #8544
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-25 16:57] #8544 closed

[2018-10-25 17:39] Igorbek opened #8644 "calling RenderBody in a layout breaks async rendering (when tasks created before but awaited after)"
#### Is this a Bug or Feature request?
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Repro project: https://github.com/Igorbek/aspnetcore-mvc-async-render-issue

- run and navigate to index page
- it is expected to render in ~3s (`Task.Delay`)
- first it renders ok
- refresh page a few times
- you may first see inconsistent in rendering order
- then see `

[2018-10-25 18:45] dougbu commented on #8639
@spzvtbg the problem is in your `Startup.Configure(...)` method. You're creating two MVC middleware instances that know nothing about each other and that confuses many things, especially routing.

Instead of
[code]
it should be
[code]

[2018-10-25 18:46] dougbu commented on #8639
Thank you for your feedback. We're closing this issue as the questions asked here have been answered.

[2018-10-25 18:46] #8639 closed

[2018-10-25 19:05] ormico commented on #4863
Sorry to dig up this old issue. I'm really late to the game, but I just went through this same thought process and discovered this thread.
I don't see ProducesResponse in ASP.NET Core 2.1 even though the last comment said it would be in 1.1. ProducesResponseType is still there. What happened to this? Is there a better way to specify the expected Response Codes like 404 w/o specifying a type. Did p

[2018-10-25 19:19] pranavkm commented on #4863
@ormico you're looking for https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.producesresponsetypeattribute.-ctor?view=aspnetcore-2.0#Microsoft_AspNetCore_Mvc_ProducesResponseTypeAttribute__ctor_System_Int32_

[2018-10-25 19:31] ascott18 opened #8645 "ValidationProblemDetails.Errors xmldoc comment states 'Gets or sets', but property only has getter."
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
N/A

#### Description of the problem:
https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ValidationProblemDetails.cs#L69

The doc comment states "Gets or Sets", but only a getter exists.

It would be nice if this property did indeed have a se

[2018-10-25 19:43] IncIouds commented on #8623
It actually worked. Thank you very much!

[2018-10-25 20:46] rynowak commented on #8643
I think it's fine to change the log to mentioned that it failed. I still am curious how we ended up in a situation where an exception occurred and it's not obvious *somewhere* in the log.

Did the exception get swallowed?

[2018-10-25 21:58] poke commented on #8643
I just tested this explicitly, attempting to reproduce OP’s exact situation: I have a controller that takes a dependency and that dependency randomly throws an exception in its constructor. So the controller cannot get its dependencies resolved and the controller instantiation itself fails. I also explicitly removed any exception handling from the `Startup` to let the framework do its default job.

[2018-10-25 22:51] #8623 closed

[2018-10-25 23:29] dougbu commented on #8578
@mkArtakMSFT @danroth27 what is the priority of this issue?

FYI I've found several places where we convert `RouteValueDictionary` entries to strings using `ToString()`. Fixed them all but haven't added tests yet.

Fun fact: Exactly 0 tests fail with the changes in place 😈

[2018-10-25 23:45] dougbu commented on #8157
Closing as the upgrade (aspnet/AspNetCore@904c9d3623) more than two weeks ago seems to have cleared all similar failures.

[2018-10-25 23:45] #8157 closed

[2018-10-25 23:47] dougbu commented on #8186
Closing as the upgrade (aspnet/AspNetCore@904c9d3623) more than two weeks ago seems to have cleared all similar failures.

[2018-10-25 23:47] #8186 closed

[2018-10-26 06:46] spzvtbg commented on #8639
@dougbu, а very stupid mistake on my part, I do not know how to apologize for the lost time, really sorry for that. The next time I will be carefuly.
I apologize once again to you and all those who committed this mistake, with best regards.

[2018-10-26 09:50] aspnet-hello opened #8647 "Test failure: CorsFilter_RunsBeforeOtherAuthorizationFilters_UsesPolicySpecifiedOnAction"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=583736&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC mkA

[2018-10-26 09:50] aspnet-hello commented on #8647
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-26 09:50] aspnet-hello commented on #8647
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 5 failures [with about the same error](http://aspnetci/viewLog.html?buildId=583736&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master at 1:52:06 AM:
- CorsFilter_RunsBeforeOtherAuthorizationFilters_UsesPolicySpecifiedOnController
- CorsFilter_RunsBeforeOtherAuthorizationFilters_UsesPolicySpecified

[2018-10-26 16:49] mkArtakMSFT commented on #8644
Thanks for contacting us, @Igorbek.
@pranavkm, can you please investigate this? Thanks!

[2018-10-26 18:02] pranavkm commented on #8558
The `Task` created by `TaskCompletionSource<>` does not capture context, so the cached task in `RazorViewCompiler` is OK. `CacheTagHelper` caches the result of this method: https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.TagHelpers/CacheTagHelper.cs#L218-L227, which effectively produces a `Task.FromResult(new CharBufferHtmlContent(writer.Buffer))`. No context is capture

[2018-10-26 18:41] pranavkm commented on #8558
Hmm, I could have another look, but I tried looking at the `CapturedContext` on the Task (with and without debugging) and it consistently turned up as null. @davidfowl recommended injecting an `IHttpContextAccessor` since that seems to be a common theme with these kinds of memory leak and I did not see any values being captured in the context.

[2018-10-26 18:57] rynowak commented on #8605
Closing this since I've added it to the info I gave the doc writers.

[2018-10-26 18:57] #8605 closed

[2018-10-26 19:14] dougbu commented on #8425
With much thanks to @RSuter, this work is done.

[2018-10-26 19:14] #8425 closed

[2018-10-26 20:18] stephentoub commented on #8558
Tasks created by TaskCompletionSource do not capture ExecutionContext: it's only captured when there's actually something to execute by the task, which is not the case when it's used purely as a promise, as it is with TCS.

And for other cases (e.g. Task.Run) we also now clear out ExecutionContext even when it was captured, so there shouldn't be any issues here moving forward.
https://github.com/d

[2018-10-26 23:11] paulostradioti commented on #7882
Hi Everyone.

I'm struggling with this right now. Following the thread.

[2018-10-26 23:18] vkukke opened #8654 "ASPNET Core Web API tests fail on Ubuntu"
I have a ASPNET Core Web API with startup code configured as follows:-
[code]

My configuration file has
[code]

Test code snippet
[code]

Expect TestApi to pass. However get System.Net.Http.HttpRequestException: Connection refused ---> System.Net.Sockets.SocketException: Connection refused.

The same code passes when run on Windows Agent.

What is missing?

[2018-10-26 23:34] mkArtakMSFT commented on #8654
Thanks for contacting us, @vkukke.
@javiercn, can you please look into this? Thanks!

[2018-10-26 23:41] Tratcher commented on #8654
Can you share this as a runnable project on github?

[2018-10-26 23:42] Tratcher commented on #8654
My initial assumption is that the config isn't getting loaded correctly so the http endpoint is never added.

[2018-10-27 00:41] aspnet-hello commented on #8647
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 6 failures [with about the same error](http://aspnetci/viewLog.html?buildId=583985&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 2:30:07 PM:
- CorsFilter_RunsBeforeOtherAuthorizationFilters_UsesPolicySpecifiedOnController
- SuccessfulPreflightRequest_AllowsCredentials_IfThePolicyAllowsCrede

[2018-10-27 00:54] rynowak commented on #8558
OK DOPE - I can probably simplify the code in routing then.

[2018-10-27 01:48] javiercn commented on #8647
@Pranav did you not take care of this failure or does it need to propagate to the rest of the build.

[2018-10-27 08:12] justlearntutors opened #8655 "Multiple refresh for authentication on server"
Authentication works on localhost. I have to refresh the site 1-4 times on remote server, when I login and logout. We use await HttpContext.SignInAsync and HttpContext.SignOutAsync. Working website is www.justlearn.com.

#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Startup:
            services.AddAuthentication(Coo

[2018-10-27 19:04] BenjaminAbt commented on #8636
I think I found the issue, but still think it's a bug.

Problem:

[code]
`author` is set if route `id` was found. Action is called.
If `id` was not found and `author` should be null, action is NOT called and middleware returns 400.

Solution:

Name the route parameter like the action parameter
[code]

I renamed `id` to `author` and action is also called `author` is null.

Confusing, but works for

[2018-10-27 23:08] dougbu opened #8657 "Regression: `ApiBehaviorOptions.SuppressInferBindingSourcesForParameters` ignored (!!)"
#### Is this a Bug or Feature request?
Bug and a regression. Problem does not occur with ASP.NET Core 2.1 or earlier 2.2 previews (including Preview 3).
#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
1. start with https://github.com/dougbu/AspNetCoreModelBinderDemo This is a variant of https://github.com/BenjaminAbt/AspNetCoreModelBinderDemo, the repro for (close

[2018-10-27 23:11] dougbu commented on #8657
/cc @pranavkm

[2018-10-28 00:00] dougbu commented on #8593
37e562902f

[2018-10-28 00:00] #8593 closed

[2018-10-28 13:02] Prologh opened #8661 "Code description of HttpMethodAttribute may be misleading"
#### Is this a Bug or Feature request?:
I think it is a slightly misleading code description for `HttpMethodAttribute` and ones deriving from it e.g. `HttpGetAttribute`.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/Prologh/http-method-attributes-sample

#### Description of the problem:
I think that code commentary on `HttpMethodAttribute` a

[2018-10-29 05:10] dougbu commented on #8499
@saibaskaran57 my earlier [comment](https://github.com/aspnet/Mvc/issues/8499#issuecomment-431173414) was incorrect. `XmlSerializerInputFormatter` and `XmlDataContractSerializerInputFormatter` use `InputFormatterExceptionPolicy.MalformedInputExceptions` *unless* you're using a subclass. And `MvcOptions.InputFormatterExceptionPolicy` does not apply; it's ignored for input formatters that implement

[2018-10-29 12:02] c-wiens commented on #8544
Additional details:
When I deleted all the javascript except the unobtrusive validation scripts, everything started working correctly again.

The issue for my Int-type select boxes was that I was using a jquery plugin which hid the actual select box, and I had configured the validator to ignore hidden elements:
`$.validator.setDefaults({ ignore: ":hidden" });`

Once I set the validator to `$.valid

[2018-10-29 15:59] mkArtakMSFT commented on #8661
Thanks for contacting us, @Prologh.
Would you be interested in submitting a PR for this?
/cc @pranavkm

[2018-10-29 16:33] #8558 closed

[2018-10-29 16:53] mkArtakMSFT commented on #8655
Thanks for contacting us, @justlearntutors.
Can you please provide more details about your scenario as it's not so clear what problem you're facing.
Also, please provide a minimalistic repro project (ideally as a repo in GitHub) so we can investigate this further.

[2018-10-29 16:56] #8645 closed

[2018-10-29 17:15] vkukke commented on #8654
Thanks for the reply. The tests pass in Azure Pipelines with Windows Agent. It fails on a Linux agent. I will prepare a github sample so that I can get better help to resolve this.

[2018-10-29 17:46] justlearntutors commented on #8655
I updated the server from asp.net core 2.0 to 2.1 and use redis server to save the session data. Some users are still having problems with the authentication.

[2018-10-29 18:38] dougbu commented on #8499
@saibaskaran57 what ASP.NET Core version were you testing? I tried your "invalid XML root" case with `XmlSerializerInputFormatter` and `XmlDataContractSerializerInputFormatter` and the de-serializer's `Exception` was turned into a message (`"An error occurred while deserializing input data."`) in `ModelState` when using our current 2.2 code. That doesn't match the behaviour or the message you desc

[2018-10-29 18:55] dougbu commented on #8499
Oops, there was an error in the test I was using. The underlying de-serializer wraps an `InvalidOperationException` inside another `InvalidOperationException` and the `XmlSerializerInputFormatter` isn't expecting that. I am looking to see if there's anything about the inner `Exception` that allows the formatter to catch XML issues but not, say, type-load issues.

[2018-10-29 19:15] javiercn commented on #8635
Thanks for contacting us @wutever0.

Can you share a small project on github reproducing the issue? That will allow us to have all the information in order to help you.

[2018-10-29 21:21] Prologh commented on #8661
Sure. Pull request submitted.

[2018-10-29 21:38] vkukke commented on #8654
I tried to provide  a repro environment but could not get the right logs to show up when the UTs run in Azure-Pipelines. So instead as a workaround I switched to using ASPNET Test Server

Old:
IWebHost myHost = MyHostBuilder.Build()
myHost.Start();
HttpClient client = new HttpClient()

New:
TestServer testServer = new TestServer(builder);
var httpClient = testServer.CreateClient();

and that worke

[2018-10-29 21:38] #8654 closed

[2018-10-29 22:20] mkArtakMSFT commented on #8655
Thanks @justlearntutors.
@javier, can you please look into this? Thanks!

[2018-10-30 10:00] yqszt opened #8667 "autofac property injection not working in controller"
#### Is this a Bug or Feature request?:
it is should be a Bug.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:
i'm using autofac as asp.net core service provider, and i use property injection for some properties in controller, like as Logger. when i access the action method of the controller, the Logger is Null.
i try to write s

[2018-10-30 10:05] justlearntutors commented on #8655
During one refresh, I was logged out. I loaded the page two times, and I was logged on another user. The website is https://www.justlearn.com.

[2018-10-30 10:20] wutever0 commented on #8635
Thank you @javiercn
I've created a quick sample [here ](https://github.com/wutever0/ValidationSummaryExample)(https://github.com/wutever0/ValidationSummaryExample) based on something I was working on.

I also added a Readme to explain a bit more what is going on.

Hope this helps!

[2018-10-30 13:59] javiercn commented on #8655
@haok

[2018-10-30 15:05] abigailbeets-wk commented on #6102
Hi, I'm looking for this as well. I am using Microsoft.AspNetCore.Mvc 2.1.3 and I'm not getting this overload. Can you please confirm it is in this release, and if not, what release or package I should be using to access it?

[2018-10-30 15:17] poke commented on #6102
@abigailbeets-wk The method is prefixed with `Try`, that’s probably why you are not seeing it. There are two methods:
- [`TryAddModelError(String, String)`](https://docs.microsoft.com/de-de/dotnet/api/microsoft.aspnetcore.mvc.modelbinding.modelstatedictionary.tryaddmodelerror?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_ModelBinding_ModelStateDictionary_TryAddModelError_System_String_System_String

[2018-10-30 15:21] abigailbeets-wk commented on #6102
@poke Thank you! :)

[2018-10-30 17:40] pranavkm opened #8669 "MvcCoreMvcOptionsSetup incorrectly marks IFormCollection with BindingSource=FormFile"
This ultimately doesn't have an affect on the `FormFileModelBinder` since it looks at the type, but the value is incorrect: https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/MvcCoreMvcOptionsSetup.cs#L107

[2018-10-30 17:57] NTaylorMullen commented on #8572
Closing as a duplicate of an external issue.

[2018-10-30 17:57] #8572 closed

[2018-10-30 20:11] webwizgordon opened #8670 "Global or controller level AutoValidateAntiforgeryTokenAttribute prevents app.UseStatusCodePagesWithReExecute() from firing"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Enable status code page with re-execute in _Startup.cs_ e.g. `app.UseStatusCodePagesWithReExecute("/Home/Error/{0}");`
2. Configure an action and view to display the custom error page.
3. Add an `AutoValidateAntiforgeryTokenAttribute` either as **controller** attribute

[2018-10-30 20:21] #8661 closed

[2018-10-30 21:37] #8657 closed

[2018-10-30 22:18] dougbu commented on #8536
Reassigning because this fits in with 2.2.0 work @pranavkm is doing.

@pranavkm #7712 is closed but please mention it in your commit description so viewers know what we're doing in that case has changed slightly.

[2018-10-30 22:30] mkArtakMSFT commented on #8670
Thanks for contacting us, @webwizgordon.
@javiercn, can you please look into this? Thanks!

[2018-10-30 22:36] mkArtakMSFT commented on #8669
Closing as the value is neglectable. Also - nobody complained about this ever!

[2018-10-30 22:36] #8669 closed

[2018-10-30 22:57] pranavkm commented on #7827
Dup of https://github.com/aspnet/Mvc/issues/8595

[2018-10-30 22:57] #7827 closed

[2018-10-31 02:04] yqszt commented on #8667
i replaced the ITypeActivatorCache and IControllerFactory, then it worked.
ITypeActivatorCache ：
` public class LarkTypeActivatorCache : ITypeActivatorCache
    {
        public TInstance CreateInstance<TInstance>(IServiceProvider serviceProvider, Type optionType)
        {
            return (TInstance)serviceProvider.GetService(optionType);
        }
    }`
IControllerFactory：
`   public class L

[2018-10-31 03:12] dougbu commented on #8578
c74a945dda

[2018-10-31 03:12] #8578 closed

[2018-10-31 07:29] justlearntutors commented on #8655
The bug still exists. If I restart the web site from iis, the authentication is working.

[2018-10-31 07:42] justlearntutors commented on #8655
The cookie doesn't change. .AspNetCore.Cookies has the same value. After a refresh, the user is not logged in. After a new refresh, the user is logged in.

[2018-10-31 10:29] UMANGAWASTHY opened #8675 "How to Validate AccessToken in WebAPI core 2.0 getting from IdentityServer3"
Hi I  amusing ASP.NET CORE WEB API 2.0 project.
and my Identity solution build on IdentityServer3. While validating access token, identityServer3.AccessTokenvalidation not supported in .NET Core 2.0 platform. How to rectify this issue.

[2018-10-31 14:26] saibaskaran57 commented on #8499
Hi @dougbu,

Thanks for looking at this and appreciate for your response.

At the moment, I'm extending from `XmlSerializerInputFormatter`, catching `InvalidOperationException` specifically and adding the exception into `TryAddModelException`. It worked well with the approach. However, it would be great if the formatter itself able to catch the exception and add it into the `ModelState` which simi

[2018-10-31 15:24] gyankov opened #8676 "Razor Pages does not map query parameter if it is called `page`"
#### Bug

#### Description of the problem:

Currently sending a query parameter called `page` is not possible in a Razor Pages project. I am aware that the framework does not bind it correctly as `page` is a keyword. However, is there any workaround to send a query parameter called `page`?

[2018-10-31 15:48] poke commented on #8676
Duplicate of #7876. Unfortunately, there’s no workaround for this. You will have to choose a different parameter name (e.g. `p`) or switch to controllers to make this work.

[2018-10-31 16:33] pranavkm commented on #8667
@yqszt based on your update it looks like your issue was resolved. That said, there's an option to resolve controllers from DI using `IMvcBuilder.AddControllersAsServices`. It should resolve register and resolve controller instances from DI for you:

[code]

It should give you the DI behavior of the underlying constructor. Since AutoFac supports property injection, things should just work and you