[2018-08-15 03:34] #8247 closed

[2018-08-15 06:06] dougbu commented on #7675
@mkArtakMSFT I just hit this issue when writing up aspnet/Razor#2539 and using 2.1.2. One impact is that changing `ViewData.TemplateInfo.HtmlFieldPrefix` in a Razor Page has no impact on the `name`, `id` or `for` attributes that HTML and tag helpers in the page generate. All of this works fine in MVC views.

Put another way, after applying the aspnet/Razor#2539 workaround, the Razor Page version o

[2018-08-15 07:48] dvoituron commented on #8235
Yes, it's a choice.
That's not realy a problem... I've created an extension method to get the value.

[code]

[2018-08-15 14:14] lol768 opened #8276 "Custom error page w/ ValidateAntiforgeryTokenAuthorizationFilter"
#### Is this a Bug or Feature request?:

Question.

How do I specify a custom error page to return when the CSRF token is invalid? A `Content-Length` 0, HTTP 400 white page isn't very helpful when things go wrong.

[2018-08-15 14:47] alexdresko commented on #8267
@pranavkm Seems reasonable. Thanks for the explanation. @kjbetz might find that explanation useful as well. Closing the issue.

[2018-08-15 14:47] #8267 closed

[2018-08-15 16:21] AdamHess opened #8277 "Feature: Strongly Typed Form based on Action or user specified model."
#### Is this a Bug or Feature request?:
Feature

#### Description of the feature

Often data required to generate a view is starkly different than data required to be posted to a controller.

While its not great practice, a common technique is to feed to domain model entities directly into a view for an Add/Update entity form. However, The data required to be posted back is different then the exac

[2018-08-15 17:03] phenning commented on #8270
@gortok Did you have any success in removing the %userprofile%\.templateengine\vs-2017.3 folder? I just reinstalled the 15.7.6 version you are using and uninstalled newer .NET Core SDKs and was not able to reproduce the problem either.

One thing to note, for the MVC template, you shouldn't see any Authorize attributes on the HomeController. Looking at the template content for MVC, it looks like e

[2018-08-15 17:11] pranavkm commented on #8260
@werynguyen, are you attempting to render the a single view instance in parallel? That might be one way you'd get in to this situation. That said, a repo app would certainly help.

[2018-08-15 17:27] mkArtakMSFT commented on #8276
@javier, can you please answer the above question?

[2018-08-15 18:29] mkArtakMSFT commented on #7675
Per our offline discussion we won't be patching this. The reason is that there is no enough usage of this scenario.

[2018-08-15 18:33] zippy1981 opened #8279 "UrlResolutionTagHelper shoul have an asp-absolute-url attribute"
What I'd like to see is as follows.

If I have a tag in razor templates like `<img src="~/cats.png" asp-absolute-url="true">`, on a web app that IIS is serving from `http://whatever.domain/someroot` I would like the generated link to be `<img src="http://whatever.domain/someroot/cats.png" asp-absolute-url="true">` instead of `<img src="http://whatever.domain/someroot/cats.png" asp-absolute-url="tr

[2018-08-15 18:42] #7269 closed

[2018-08-15 19:32] jonasarcangel commented on #8082
Thank you.

If that's the case then I'll leave it at that.

I'll do further research/test if my app is exploitable using CSRF.

On Tue, Aug 14, 2018 at 10:33 AM, Javier Calvarro Nelson <
notifications@github.com> wrote:

[2018-08-15 19:35] workmonitored opened #8280 "URL.Page returns null"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:
[code]
The above code works without issues under Areas/Identity/Pages/Account/Manage/Index.cshtml.cs.

However when I try to run the same code in a different model, in a different directory such as Pages/Private/Home.cs, I find that it do

[2018-08-15 20:13] javiercn commented on #8082
Closing this issue as there's no more action to be taken here.

[2018-08-15 20:13] #8082 closed

[2018-08-15 20:30] mkArtakMSFT commented on #8280
Thanks for contacting us, @workmonitored.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.
@rynowak, can you please look at this? Thanks!

[2018-08-16 01:11] werynguyen commented on #8260
@pranavkm Thank for the suggestion, yes, we are using a custom code to render view into string and return this as html content in json format. Our render to string method is similar to the one on this post by [ppolyzos](https://ppolyzos.com/2016/09/09/asp-net-core-render-view-to-string/). I will create a repo to illustrate how this is done in our project.

[2018-08-16 02:05] kishanAnem commented on #7415
Hi @dougbu  and @mkArtakMSFT

i just started working  this analyzer. will submit PR on this.
so please consider this.

@kishanAnem

[2018-08-16 02:44] mkArtakMSFT commented on #8279
Thanks for contacting us, @zippy1981.
This looks like an issue Azure Azure B2C rather than your service as the true fix here seems for the login.microsoftonline.com to respect the origin and prefix the relative paths with the domain.

As a mitigation to that issue, I do agree that the proposal would work. @danroth27, I'm not sure about the value of this type of feature. Thoughts?

[2018-08-16 05:01] ryanbrandenburg opened #8281 "Test failure: CacheTagHelper_VaryByCultureComposesWithOtherVaryByOptions"
This test [fails](http://aspnetci/viewLog.html?buildId=532556&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact rya

[2018-08-16 05:01] ryanbrandenburg commented on #8281
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-16 14:19] Eneuman opened #8282 "Suggestion: Per request cache implementation"
Hi

In todays MicroServices orientated world, you often find your self doing multiple calls to http services from different components in your system.

As an example, when rendering a web page, you might have a ViewComponent that checks if the user has permission (by calling a policy http service) and the controler it self also checks for permission by calling the same service. Multiple calls to t

[2018-08-16 15:50] mkArtakMSFT commented on #8282
Thanks for contacting us, @Eneuman.
This is not something we plan to do. There are too many factors involved here making this a good concern for an application to handle. Think about the caching strategy or the lifetime management of the cached items.

[2018-08-16 15:50] #8282 closed

[2018-08-16 16:01] mkArtakMSFT commented on #8279
@pranavkm, what will be the easiest way to generate an absolute URL in this case? Sounds like it's possible today.

[2018-08-16 16:08] mkArtakMSFT commented on #8277
Thanks for contacting us, @AdamHess.
Looks like you're proposing to move the mapping logic to the view, but it seems like this is better handled in the actual controller action. We did look into adding an object mapper to ASP.NET Core, but the feedback from the community was to not do that and use Automapper instead.

[2018-08-16 16:08] #8277 closed

[2018-08-16 16:14] davidfowl commented on #8282
I don’t think we need something frost class for this. A scoped service is enough and would be strongly typed (you could image a ScopedCache\<T\>)

[2018-08-16 16:15] Eneuman commented on #8282
@khellang Of course the ViewComponent is not doing any http calls, it's calls are capsuled under a service using Clean Architectur design, following SOLID principals and implemented the same way as the eShop reference architectur etc.. . The code is there to show/disscuss a way to use the HttpContext.Items as a temporary "cache" to store generic information for the request.

@mkArtakMSFT But thats

[2018-08-16 16:26] Eneuman commented on #8282
@davidfowl Currently I have it in a scoped service and it's working fine. But I see alot of example where MicroServices architects are using Distributed Caching as a way of solving everything. And they often run into problems with evicting/update the cache. First it's the performance issue, so they impliment a local cache with a distributed upstream cache, but then they run into trouble with synci

[2018-08-16 16:27] khellang commented on #8282
How much memory do you have? 😉

[2018-08-16 16:27] danroth27 commented on #8261
Why would you make your Razor Pages (.cshtml files) available as static files?

[2018-08-16 16:27] Eneuman commented on #8282
So no size limits :)
Any performance issues if it grows?

[2018-08-16 16:29] khellang commented on #8282
It's just a dictionary with a special indexer;

https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Http/Features/ItemsFeature.cs#L13
https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Http/Internal/ItemsDictionary.cs#L23

[2018-08-16 16:33] effyteva commented on #6696
Any updates on this one?
It's very critical for large applications...

[2018-08-16 16:34] Eneuman commented on #8282
I see.
So, creating a Scoped service that has a dictionary will probobly be excaly the same as using the HttpContext.Items. So what purpose does HttpContext.Items actually have? Just for compabillity and that it existed in old MVC?

[2018-08-16 16:41] khellang commented on #8282
Exactly.

It's often used to allow components or middleware to communicate when they operate at different points in time during a request and have no direct way to pass parameters.

[2018-08-16 16:52] Eneuman commented on #8282
So it comes down to performance :)
Using a Scoped Service with a Dictionary will create new objects and adds allocations.
Using a HttpContext.Items with a singleton service doesn't.

Premature Optimization for the win ;)

[2018-08-16 16:58] khellang commented on #8282
Not really. Accessing `HttpContext.Items` also allocates an `ItemsFeature` instance; https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Http/DefaultHttpContext.cs#L19 Performance is not an argument here.

[2018-08-16 17:02] Eneuman commented on #8282
Ok, so If I don't access it, it will not allocate.
Good to know :)

Then Scoped Service is probobly the best way to do this.
Thanks for the info!

[2018-08-16 17:09] pranavkm commented on #8279
MVC does not have an API that produces absolute urls for content. `UrlHelper.Link` is the closest bet, but it works specifically for routes. I'd go with @mkArtakMSFT's suggestion and encourage you to file an issue with the B2C folks to see if they could do something about supporting relative paths.

In the meanwhile, I'd recommend looking at https://github.com/aspnet/Mvc/blob/release/2.2/src/Micro

[2018-08-16 17:26] mvelosop commented on #5366
A rough workaround:

[code]

[code]

[2018-08-16 17:40] mkArtakMSFT commented on #8206
Will still wait for branch to open for 2.1.5 changes

[2018-08-16 18:44] pranavkm commented on #7983
Unfortunately the fix doesn't cover other (legitimate) scenarios - https://github.com/aspnet/Home/issues/3435. Reopening to see if there's interest in patching this.

[2018-08-16 22:04] #7357 closed

[2018-08-17 00:51] WinInsider opened #8283 "ApiExplorer with POCO Controllers"
**Question**: How would one go about generating WebAPI ApiExplorer json file / output for POCO Controllers? Given that AddApiExplorer() works only with controllers with [Route("...")] Attributes?

I have my own implementation of IApiDescriptionProvider, however this is not enough as exception on line [245](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/Internal/Co

[2018-08-17 04:29] hez2010 opened #8284 "Layout rendering bug"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. mkdir test
2. cd test
3. dotnet new mvc --auth Individual
4. scaffold all identity codes, using ~/Views/Shared/_Layout.cshtml as layout file
5. run the web app and register an account
6. click your username and go to account management

#### Description of the problem:

[2018-08-17 08:35] annayafi commented on #6696
Can this post help you? [https://geeksaddictions.wordpress.com/2016/11/28/data-annotations-fallback-on-shared-resources-if-not-found/](https://geeksaddictions.wordpress.com/2016/11/28/data-annotations-fallback-on-shared-resources-if-not-found/ )

[2018-08-17 12:11] zippy1981 commented on #8279
I'm really not understanding why you'd be so hesitant to add this feature. There are times besides B2C when absolute URLs are necessary. It wouldn't be terribly hard to implement, or write the tests for.

I've worked around this in my application by writing my own tag helpers.  There might be something I don't know about B2C to let me solve this more elegantly. Or it might simply be done this way

[2018-08-17 15:29] Tratcher opened #8285 "Per response cache duration"
_From @JonasSamuelsson on August 17, 2018 12:58_

I'm using response caching and need to set the cache duration based on the content of the response.
It would be nice if the caching middleware didn't overwrite the cache control header if it exists, I could then do something like thing

[code]

_Copied from original issue: aspnet/Home#3436_

[2018-08-17 15:58] pranavkm commented on #8284
This would be a dup of https://github.com/aspnet/Mvc/issues/7675. We've addressed this as part of 2.2 One way to fix this in 2.1 would be to use ``ViewContext.ViewData["Title"] = "..."` rather than assigning it to the `ViewData` instance on the page.

[2018-08-17 15:59] pranavkm commented on #8284
Thanks for the detailed report. Closing since no further action needs to be taken here.

[2018-08-17 15:59] #8284 closed

[2018-08-17 17:43] MikaelUmaN opened #8286 "CreatedAtRoute mistakes path parameter for query parameter"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Given a Get method in a Controller:

[code]

Then this
`return CreatedAtRoute("GetInstrumentView", new {id}, createdView);`

call at the end of a HttpPost method ->

#### Description of the problem:

Leads to a location header:
http://localhost:8081/instruments?id=155

w

[2018-08-17 18:08] pranavkm opened #8287 "Consider adding a feature to link generation to add metadata that indicates that the link is broken"
Related to https://github.com/aspnet/Routing/issues/728

With 2.1 routing, link generation has two modes of behavior when a route cannot be resolved:

* Conventional routes will produce a url (which will 404) e.g. `<a asp-controller="DoesNotExist" asp-action="Index">` -> `<a href="DoesNotExist/Index">`
* Attribute routes will produce empty urls e.g. `<a asp-controller="DoesNotExist" asp-action="In

[2018-08-17 20:10] pranavkm commented on #8283
Can you share what you're doing with your custom `IApiDescriptionProvider`? You could just choose to use a [different heuristic](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.ApiExplorer/DefaultApiDescriptionProvider.cs#L108-L114) to determine if an action should appear in ApiExplorer.

[2018-08-17 20:13] pranavkm commented on #8286
Try using `[HttpGet("{id:int}", Name = "GetInstrumentView")]`. The code above is adding two separate routes - the `HttpGet` with an empty template and one with "{id:int}" which is not what you want here.

[2018-08-17 21:54] WinInsider commented on #8283
After closer examination of what I have done... is my fault... been over engineering … unnecessary have set ApplicationModel.ApiExplorer.IsVisible= true

.NET Core MVC rooks with POCO Controllers... :)

[2018-08-17 21:54] #8283 closed

[2018-08-17 23:24] pranavkm opened #8288 "Introduce a ApiErrorTypeAttribute that specifies the default error type"
ApiExplorer would know of this type and apply it for client error statuses if a value is not provided.
Api Analyzer would know of this type. We might need to special cases object status results, but should have to do nothing in the default case e.g `return NotFound() -> [ProducesResponseType(404)]` should suffice.

[2018-08-17 23:25] pranavkm opened #8289 "Review the extensibility for configuring client error factories"
The API for configuring client error factories needs a bunch of polish.

[2018-08-18 21:48] dougbu commented on #7415
`Working` with thanks to @kishanAnem

[2018-08-19 01:01] kishanAnem commented on #7415
Welcome @dougbu

[2018-08-20 00:52] tb-mtg commented on #8261
I don’t want to particularly make .cshtml files available as static, more want the razor page specific stylesheets & javascripts (.css & .js) file types stored in the same location under the pages folder rather than having to replicate the same folder structure under wwwroot.

For example:

\Pages\About.cshtml
\Pages\About.cshtml.cs
\Pages\About.js
\Pages\About.css

I know I could put these in inl

[2018-08-20 05:54] Chrissx opened #8291 "Create custom routing with areas"
#### Is this a Bug or Feature request?:
Question ( Feature request )

#### Description of the problem:
Is there a way to define custom routing with areas in MVC? I saw examples which using IControllerModelConvention and rewrite controller convensiton but currently there is no example in the documentation for Areas.

I have a following url
**/example-area/example-controller/action-name**

I would l

[2018-08-20 07:17] MikaelUmaN commented on #8286
Thank you very much. I was unaware I created two different routes! Sorry for mistakenly creating this issue.

[2018-08-20 07:17] #8286 closed

[2018-08-20 12:17] Deilan opened #8292 "Can't use action parameter with properties decorated with [FromQuery] within ApiController"
#### Is this a Bug or Feature request?:
Not sure

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Repro project: https://github.com/deilan-issues-samples/Mvc.Issues/tree/master/Mvc.Issues.N8292

1. Create a controller with an action and query object:
[code]

2. Make a request to the `Get` action.

**Expected result**: `["value1", "value2"]`
**Actual result**: `{"

[2018-08-20 13:38] rasmuschristensen commented on #7209
I guess what we are looking for is something similar to this https://stackoverflow.com/questions/41367602/upload-files-and-json-in-asp-net-core-web-api

Where we want the parameter in [FromBody] to be parsed using a jsonbinding/serialization.

[2018-08-20 14:17] mkArtakMSFT commented on #8273
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-20 14:58] mkArtakMSFT commented on #8292
Thanks for contacting us, @Deilan.
@pranavkm, can you please look into this? Thanks!

[2018-08-20 15:12] mkArtakMSFT commented on #8291
Thanks for contacting us, @Chrissx.
@rynowak, can you please look into this one? Thanks!

[2018-08-20 16:25] pranavkm commented on #8292
Dup of https://github.com/aspnet/Mvc/issues/8135. The parameter inference for `ApiControllers` doesn't look at model binding attributes on the properties of the parameter model. It basically goes - is `GetQuery` a complex type, then assume it's a `FromBody` parameter. One way to workaround this would be to set `FromQuery` on the actual parameter.

[2018-08-20 16:46] mkArtakMSFT commented on #8287
Assigning to @danroth27  for now to decide on the experience first. As soon as that'll be available we'll be able to move forward with this.

[2018-08-20 16:51] amh1979 commented on #5332
[`AspNetCore.Reporting`](http://www.nuget.org/packages/AspNetCore.Reporting)

[2018-08-20 16:52] mkArtakMSFT commented on #8285
@pranavkm, can you please look into this? Thanks!

[2018-08-20 16:56] mkArtakMSFT commented on #7983
Closing this as this doesn't meet the bar as well as there are workarounds available.

[2018-08-20 16:56] #7983 closed

[2018-08-20 16:58] mkArtakMSFT commented on #8281
@NTaylorMullen, can you please look into this? Thanks!

[2018-08-20 16:58] amh1979 commented on #4910
[`AspNetCore.Reporting`](https://www.nuget.org/packages/AspNetCore.Reporting) this support `LocalReport` and `ServerReport`, may be useful to you.

[2018-08-20 17:11] pranavkm opened #8293 "Net Core SDK 2.1.400 ignore _ViewStart on Areas views on publish"
_From @alca259 on August 18, 2018 19:6_

After upgrade to VS 15.8.1 and Net Core SDK 2.1.400, the _ViewStart on Areas views are ignored, only then publish to folder.

Steps:
- Create a project with one Area
- Setup a dummy controller with a file _ViewStart.cshtml in the root of Views folder
- Load a layout or write something in the log
- Publish to local folder
- Copy to a IIS Site with native cod

[2018-08-20 17:11] pranavkm commented on #8293
_From @alca259 on August 20, 2018 14:23_

I was did more test. The _ViewImports.cshtml, _ViewStart.cshtml and _Layout.cshtml inside of a Area are ignored on publish. Works well in visual studio in debug and release.

[2018-08-20 17:13] pranavkm commented on #8293
Can you share a repro app or the folder structure? Looking at the logs, it looks like these were all the views that MVC discovered under the areas directory:

[code]

[2018-08-20 17:52] alca259 commented on #8293
Project structure
![image](https://user-images.githubusercontent.com/3340608/44357453-6165de00-a4b2-11e8-8f64-5ade8606e166.png)

I create a [new blank projec](https://github.com/alca259/NetCoreDemo/tree/master/WebApp)t and works well, but i don't know why, because i copy the files from my original project.

[2018-08-20 17:57] pranavkm commented on #8293
Does cleaning + rebuilding your original project work? If that doesn't work, could you run `dotnet build /bl` and attach the log file (`msbuild.binlog`)? That said, if the issue is resolved in a blank project, do you think it's still worthwhile investigating this further?

[2018-08-20 17:59] alca259 commented on #8293
Ok, so sorry. It's not a bug. I don't know why my csproj is corrupted and remove views from compilation.
![image](https://user-images.githubusercontent.com/3340608/44357843-70995b80-a4b3-11e8-9643-609e249f1321.png)

![image](https://user-images.githubusercontent.com/3340608/44357855-7c851d80-a4b3-11e8-937f-8a7a624284ff.png)

[2018-08-20 17:59] #8293 closed

[2018-08-20 19:03] NTaylorMullen commented on #8281
Adding logging. @mkArtakMSFT @ryanbrandenburg how should I mark this issue while we wait for more test failures with added logging?

[2018-08-20 20:02] rynowak commented on #8291
No. Attribute routing is the mechanism that gives you control over the URLs. If you want, you could write a convention that adds attribute routes to your controllers/actions/areas.

We're considering doing a feature like this in 2.2 but we have no immediate eta.

[2018-08-20 20:18] mkArtakMSFT commented on #8197
This issue was moved to aspnet/Routing#733

[2018-08-20 20:18] #8197 closed

[2018-08-20 20:36] mkArtakMSFT commented on #7897
@pranavkm, please look through the thread. We should obsolete an API here, not sure what exactly though :)

[2018-08-20 20:38] mkArtakMSFT commented on #7855
@pranavkm, reassigning this to you.

[2018-08-20 21:00] pranavkm commented on #7897
I don't think there's anything to do here. The API wasn't public in 2.0 and as of 2.1 it is. The solution that @rjamesnw has now sounds great. If there's a specific need to get to the `IView` instance from the executor, I'd recommend copying the code from the `ViewResultExecutor` as a starting point.

[2018-08-20 21:00] #7897 closed

[2018-08-20 21:13] mkArtakMSFT commented on #6413
@rynowak, should this be moved to `Routing` repo?

[2018-08-20 21:24] pranavkm commented on #6342
See previous comment.

[2018-08-20 21:24] #6342 closed

[2018-08-20 21:46] pranavkm commented on #7467
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-08-20 22:06] caioliberali opened #8295 "Route Localizer ( Area, Controller and Action Names )"
#### Is this a Bug or Feature request?:

Feature request

#### Description of the problem:

As ASP Net Core already implements StringLocalizer and ViewLocalizer, it would be great if it implemented "RouteLocalizer" so that an application could be fully localizable.
Example:

**[ControllerNameLocalizer(**"Resource.Key"**)]**
**[ActionNameLocalizer(**"Resource.Key"**)]**

[code]

localhost:5000/Home

[2018-08-20 22:16] mkArtakMSFT commented on #8014
By Design

[2018-08-20 22:16] #8014 closed

[2018-08-20 22:49] ryanbrandenburg commented on #8281
Personally I would say:
1. Label it blocked.
2. Wait a couple days to see if it happens again.
  a. If it happens again use your new logs to figure out what's up.
  b. If it doesn't close the bug for now, the bot will open a new one when it happens.

@Eilon in case he wants to countermand that workflow. We might work that into the checklist if it's unclear.

[2018-08-20 23:31] pranavkm commented on #8273
Bump @JamesNK

[2018-08-21 00:03] JamesNK commented on #8273
Ah, I missed this.

No there is no equivalent to `aspnet:MaxJsonDeserializerMembers` in Json.NET. The only limit is depth.

[2018-08-21 00:31] pranavkm opened #8296 "Add ability to attach additional properties to ProblemDetails"
The spec allows defining additional members - https://tools.ietf.org/html/rfc7807#section-3.2. We could use this to associate extra metadata with `ProblemDetails`  such as CorrelationId

[2018-08-21 01:06] pranavkm commented on #8289
Stuff for future @pranavkm - https://gist.github.com/pranavkm/6612bf140f1e346f018f93bd56a022df

[2018-08-21 01:10] pranavkm commented on #8273
@mgolois looks like you have your answers.

[2018-08-21 01:10] #8273 closed

[2018-08-21 01:17] pranavkm commented on #8260
@werynguyen it's likely that you're running in to the same sort of issue as https://github.com/aspnet/Mvc/issues/5106. It's likely that you're re-using the equivalent of `IViewRenderService` (from the post) across multiple scopes which is something that type isn't designed to support. If you're using the rendered in a controller, ensure it's registered as a scoped service. If you're consuming it i

[2018-08-21 01:17] #8260 closed

[2018-08-21 01:30] Chrissx commented on #8291
Thanks :) Is there any way to access the controllers current Area?

On that case I can add manually the attribute routes inside the custom convention. Could you please point me out some example or implementation that I can take a look?

[2018-08-21 03:37] rynowak commented on #8291
The area would be in the route values. You can also use the `[...]` syntax which will do token replacement https://github.com/aspnet/Entropy/blob/master/samples/Mvc.CustomRoutingConvention/NameSpaceRoutingConvention.cs#L22

[2018-08-21 04:18] Chrissx commented on #8291
My only problem is the [area] only present if I specify in the controller level. What I would like to access is the default convention based area ( folder structure based ).
Do I need to always specify the [Area] attribute in every controller?

[2018-08-21 05:10] rynowak commented on #8291
Areas is based on an attribute in aspnet core. We don't know what folder your code was in when it was compiled. You could make some inferences if you want based on the namespace.

[2018-08-21 07:11] Chrissx commented on #8291
I see yes its my mistake. I had an assumption MVC automatically build  the metadata based on the folder structure.
Thanks for helping out!

[2018-08-21 07:11] #8291 closed

[2018-08-21 10:42] cmxl commented on #6513
I do think this is an important feature.
We want one single taghelper for generic models that we pass via a taghelper attribute.
it is not practical to inherit from the generic taghelper for every single model we pass to the view.
also there would be a new taghelper name for every model.

[2018-08-21 11:35] ilmax opened #8298 "Possible Bug - File.deps.json copied to the wrong folder when the output folder is not the default one"
#### Is this a Bug or Feature request?:
Possible bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Create a new app and add an integration test project

[code]

Make  `UnitTest1.cs` implement ` IClassFixture<WebApplicationFactory<Startup>>`

Compile it with:

`dotnet msbuild  /p:OutputPath=C:\temp\SampleOutput /p:GenerateProjectSpecificOutputFolder=true /p:Ou

[2018-08-21 15:05] SarthakSoni opened #8299 "AspNetCore IO Exception Invalid Arguement"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Microsoft.AspNetCore.Hosting

[code]

#### Description of the problem:

Getting IO Exception with invalid arguement in aspnet core.

at System.IO.Enumeration.FileSystemEnumerator`1.FindNextEntry()
   at System.IO.Enumeration.FileSystemEnumerator`1.MoveNext()
   at System.

[2018-08-21 16:39] #8292 closed

[2018-08-21 16:46] pranavkm commented on #5179
We looked at this issue again during triage yesterday. While having a display \ description metadata associated with `ApiExplorerModel` is a nice to have feature, we don't think it's very valuable when most community packages that use ApiExplorer (Swashbuckle \ NSwag) don't actually consume it. They already have mechanisms to read some of this (for instance the description) using doc comments and

[2018-08-21 16:46] #5179 closed

[2018-08-21 16:49] pranavkm commented on #8299
Might be a dup of https://github.com/aspnet/aspnet-docker/issues/288. Can you try the workaround suggested here - https://github.com/aspnet/aspnet-docker/issues/288#issuecomment-324687395?

[2018-08-21 17:50] SarthakSoni commented on #8299
We dont have any AddJsonFile call in our config builder.

[2018-08-21 17:54] pranavkm commented on #8299
What does your startup code look like?

[2018-08-21 18:27] khellang commented on #8296
Just inherit from `ProblemDetails`, like `ValidationProblemDetails`?

[2018-08-21 18:52] pranavkm commented on #8296
We could do `ClientErrorProblemDetails` and specify the value there. I'm not entirely sold on using extension members just because you have to write a custom (Xml + Json) formatter to support it.

[2018-08-21 19:46] Xzelsius commented on #8191
As a first step, make HtmlHelper's static readonly strings configurable.

Eg. `HtmlHelperValidationOptions` class with properties for class names. Allow custom configuration using `IMvcBuilder` using `services.AddMvc(....)`

[2018-08-21 21:24] Eilon opened #8300 "Different binding Data from JSON to Controller in .NET core API and Web API 2"
_From @LeDucThang on August 14, 2018 5:39_

# Issue Title

Different binding Data from JSON to Controller in .NET core API and Web API 2

# General
compare between API in .NET core 2.1 and Web API 2 in .NET Framework 4.6

With .NET core, i used this configuration in Startup file

[code]

With .NET 4.6, i use default template Web API 2

My DTO:

[code]

My Controller:

[code]

I use this json for 2

[2018-08-21 22:01] mkArtakMSFT commented on #8300
@dougbu, can you please look into this? Thanks!

[2018-08-21 22:09] mkArtakMSFT commented on #8299
@SarthakSoni please provide us with a repro project so we can investigate this issue.

[2018-08-21 22:48] mkArtakMSFT commented on #8298
Thanks for contacting us, @ilmax.
@javiercn, can you please look into this? Thanks!

[2018-08-21 23:42] javiercn commented on #8021
@Tealons Sorry for the late response.

I've dug in and found the actual issue. It's an integration issue between the redirect handler and the cookie container handler. In essence the issue is as follows:
The redirect handler copies the body of the request but not the headers.
The cookie handler adds the appropriate cookies to the request (modifying the headers)
The request is sent and comes back a

[2018-08-22 00:32] #6786 closed

[2018-08-22 01:07] javiercn commented on #8298
@pranavkm Any idea on this? Should we use OutDir or OutputPath?

[2018-08-22 01:13] javiercn commented on #8276
@lol768 Thanks for contacting us.

An invalid antiforgery token is a developer/application error and not something that a user would normally run into. That said, you can create a result filter that upon 400 resolves IAntiforgery from DI and calls the method below and then redirects to a custom page to show a more descriptive error. https://github.com/aspnet/Antiforgery/blob/master/src/Microsoft.A

[2018-08-22 01:13] #8276 closed

[2018-08-22 07:27] boyandim opened #8304 "The rendered HTML element of EditorFor helper in ASP.NET Core MVC includes the property name of parent model"
We do have the following model structure:
[code]
In the HomeController we send an instance of the HomePageModel to the Index view.

In the Index view we use a partial view and send just the OrderViewModel using the Order property of the HomePageModel  to partial view:

@{
    ViewData["Title"] = "Home Page";
}

@model AspNetCoreApp28.Models.HomePageModel

<partial name="_Partial.cshtml"  for="Orde

[2018-08-22 08:28] SarthakSoni commented on #8299
IWebHostBuilder selfHost = WebHost.CreateDefaultBuilder()
                .UseStartup<TStart>()
                .UseKestrel(options =>
                {
                    options.Listen(“127.0.0.1”, port, listenOptions =>
                    {
                        if (useHttps == true)
                        {
                            listenOptions.UseHttps(certPath, "");

[2018-08-22 08:46] arunjvs commented on #8299
@mkArtakMSFT: We are seeing this since we upgraded from NETCORE 2.0 to 2.1. We are trying to just start a simple MVC server with Kestrel as you can see in @SarthakSoni 's snippet.

We are not hosting anything from the filesystem, why is ASP even setting up file system watchers? Is it using inotify? On what paths? This seems to be interfering with the paths owned by the *widely used* OMS agent on L

[2018-08-22 08:46] Benknightdark opened #8305 "dotnet core MVC application can not display Global Resource in the browser when deploy to the Docker Container"
Hey Guys, I publish a Dotnet Core MVC application , and Deploy it to the Docker Container , but  it can not disply the global resouce

[2018-08-22 08:55] Benknightdark opened #8306 "dotnet core MVC application can not display Global Resource in the browser when deploy to the Docker Container"
Hey Guys, I publish a Dotnet Core MVC application , and Deploy it to the Docker Container , but  it can not disply the global resources in the browser.

But If I publish the application to the windows or linux os , the global resources can  be displayed in the browser .

I'm so confused  , is someone know how to fix this problem

dotnet core info in my computer
![image](https://user-images.githubu

[2018-08-22 08:58] #8305 closed

[2018-08-22 09:57] Danielku15 opened #8307 "Support for passive streaming of results instead of active writing by IActionResultExecutor"
#### Is this a Bug or Feature request?:

Feature request

#### Description of the problem:

In the old ASP.net Web API the `IHttpActionResults` were baked by the classical `HttpResponseMessage` and `HttpContent`. The `HttpContent` provides the nice `ReadAsStreamAsync()` which allows the service stack (server) to decide how this data packed and submitted further.

In ASP.net core and driven by OWIN

[2018-08-22 12:06] mgolois commented on #8273
Thank you all!

[2018-08-22 15:38] dougbu commented on #6513
**@cmxl Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

In addition, please note that tag helpers can handle any model type already.

[2018-08-22 15:41] jkotas opened #8308 "taghelpers not working"
_From @dejandjenic on August 22, 2018 13:58_

taghelpers not working correctly if project is published with lower case format of file

e.g.
project exists and its name is MYPROJ.csproj at c:\test

if published with command

dotnet publish "c:\test\myproj.csproj" -o "c:\testpub\"

dll will be created and tag helpers will not work. Generated Namespace is the same in both cases but [assembly: Assembl

[2018-08-22 15:45] mkArtakMSFT commented on #8299
@SarthakSoni, can you also please share the `TStart` class?

[2018-08-22 16:03] dougbu commented on #8300
@LeDucThang please clarify this statement. For example, is the `CarrierService` value non-`null` but all properties uninitialized? Does the `ModelState` include errors?

I'm also wondering whether the difference between ASP.NET MVC and ASP.NET Core MVC is due to different versions of Json.NET. Please check if using the latest Newtonsoft.Json package (v11.0.2) in both makes the behaviour consistent

[2018-08-22 16:37] mmillican opened #8309 "Finding Embedded View With RazorViewEngine"
We currently have an app that uses embedded views to allow us to package the views (and other classes) as a Nuget package.

We're having an issue using `IRazorViewEngine.FindView(...)` to find these embedded views; the views render fine otherwise.

Note that the call to `FindView()` is being done in a class library (ie "Shared") but the views are in the "Web" project.

We are adding the `EmbeddedF

[2018-08-22 16:54] mkArtakMSFT commented on #8307
Thanks for contacting us, @Danielku15.
@Tratcher, what are you thoughts regarding this ask?

@Danielku15, if you're looking for just buffering, consider using the `ResponseBufferingMiddleware` from the https://www.nuget.org/packages/Microsoft.AspNetCore.Buffering/ package.

[2018-08-22 16:56] javiercn commented on #8298
@pranavkm Should we just try one of them first and fallback to the other one?

[2018-08-22 17:08] pranavkm commented on #8298
@ilmax could you give me some background as to why you're specifying the `OutDirWasSpecified` flag? The [only documentation](https://github.com/Microsoft/msbuild/blob/d42d3504057ef2b88dd4f68c4bfc5591371bd6fe/src/Tasks/Microsoft.Common.CurrentVersion.targets#L189-L190) I could find for that switch says that it's meant for packaging projects which really doesn't make sense in the context of an integ

[2018-08-22 18:38] pranavkm commented on #8299
+ @JunTaoLuo . I wasn't entirely aware that the `CreateDefaultBuilder` sets up config reload which is what would cause this issue. Like I pointed out in the earlier issue, it's likely you're running in to:

@JunTaoLuo what would be the best way to avoid setting up config reload? @SarthakSoni \ @arunjvs you could have a look at your directory structure and see if there's something problematic there

[2018-08-22 18:40] NTaylorMullen commented on #8308
@jkotas I'm unable to reproduce your issue. For example the built-in & custom TagHelpers work after publishing with lower case for me:

![image](https://user-images.githubusercontent.com/2008729/44483527-2d98ce80-a600-11e8-82a1-ab830b05b2eb.png)

Could you provide a repro app?

[2018-08-22 18:44] jkotas commented on #8308
@NTaylorMullen This issue was reported by @dejandjenic . I just moved it to the right repo.

[2018-08-22 18:44] fishingry opened #8310 "TagHelper won't work if Area route is not mapped before default one"
#### Is this a Bug or Feature request?:

It is, I think.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Here is a link:

`            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>`

this code works:
[code]

it will generate `<a href="/Admin">Admin</a>`, correct!

But this code does not work
[code]

It generates: `<a href="/?area=Admin"

[2018-08-22 18:49] NTaylorMullen commented on #8308
@jkotas Ahh, my apologies, read too quickly 😄, edited my above comment.

[2018-08-22 18:57] dejandjenic commented on #8308
Do you need code to reproduce issue

[2018-08-22 18:59] NTaylorMullen commented on #8308
A project that I could publish would be ideal.

[2018-08-22 19:09] JunTaoLuo commented on #8299
I have seen similar issues with config reloading (for example https://github.com/aspnet/MetaPackages/issues/282). `CreateDefaultBuilder` is meant as a shorthand to simplify the setting up of web hosts and it chooses many default settings, including which configurations to load/reload. If you are running into problems with how the default builder behaves, I would recommend creating your own `WebHos

[2018-08-22 19:53] light-traveller commented on #4783
In `_LoginPartial.cshtml` replace the following:
`SignInManager<IdentityUser>` and `UserManager<IdentityUser>`
with:
`SignInManager<ApplicationUser>` and `SignInManager<ApplicationUser>`.

[2018-08-22 20:06] efd7887 commented on #5050
I have the same issue.  I have the exact same code from the example in a view in my project and although the page loads fine, no chart is displayed.  I see space where it _should be_, but the chart never shows up.  I tried all of the methods above and the warning still shows for me.

![image](https://user-images.githubusercontent.com/32522641/44487831-45367e00-a625-11e8-95cc-101d560b5eba.png)

[2018-08-22 20:26] dejandjenic commented on #8308
i have uploaded source code with steps to reproduce issue and my reproduced binaries
[taghelpers.zip](https://github.com/aspnet/Mvc/files/2311877/taghelpers.zip)

hope this will help

[2018-08-22 21:06] Eilon opened #8311 "Unable to use IFormFile with ApiController in 2.1"
_From @mitchellj on Thursday, 09 August 2018 20:06:10_

When we are trying to use `IFormFile` it works perfectly when we are not using `[ApiController]`, as soon as we introduce `ApiController` one of two things happens

1) If we do not prefix with `[FromForm]` we get a `Serialization` exception which generates a `Bad Request` response.
2) If we do prefix `FromForm` to the IFormFile then it become

[2018-08-22 21:09] mkArtakMSFT commented on #8311
Thanks for contacting us, @mitchellj.
This is because we do not special case the `IFormFile` type and treat it as a complex type. ApiController conventions for complex types are that by default they're treated as `FromBody`.
@pranavkm, seems this is a good candidate to be special-cased.

[2018-08-22 21:12] mkArtakMSFT commented on #8309
@javiercn, can you please look into this? Thanks!

[2018-08-22 21:19] mkArtakMSFT commented on #8306
Thanks for contacting us, @Benknightdark.
By `global resources` do you mean locatization files (`resx` files)?

[2018-08-22 21:32] mkArtakMSFT commented on #8295
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-08-22 21:33] alexgritton commented on #6718
I believe I hit this bug today. When I run the application locally everything works fine, but after publishing to Azure I started getting the ambiguous action exceptions. The pre-compiled views dll was there and the Pages directory. After deleting the Pages directory everything worked fine again.

[2018-08-22 21:44] NTaylorMullen commented on #8261
I'd recommend against adding your .css & .js files to the `Pages` folder (they should only exist in wwwroot). The .cshtml files that exist in the Pages folder exist there because they are transformed into C# and run to generate a response for a specific request at runtime. Basically .cshtml files don't truly represent client side static pages. Content in the wwwroot represents static content that'

[2018-08-22 21:45] mkArtakMSFT commented on #8270
@gortok, did the suggestion from @phenning help you solve the problem?

[2018-08-22 21:49] dougbu commented on #8304
This is surprising because MVC 5 has similar logic to ASP.NET Core around mapping Linq expressions to expression names. Do you have a sample showing MVC 5 behaving as you describe? If yes, I would appreciate a minimal repro project that illustrates the problem, preferably hosted in a GitHub repo.

[2018-08-22 21:50] pranavkm commented on #8311
1) Do you have your compatibility version set to 2.1? See https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1#changes-to-startup
2) We had an issue specifically with collection of `IFormFile` - https://github.com/aspnet/Mvc/issues/7770 that was fixed in 2.2

[2018-08-22 21:59] NTaylorMullen commented on #8308
Thanks @dejandjenic. The thing that I wasn't doing correctly before was not passing in the full path in lower case to the .csproj when I published (i was passing in the parent directory).

The reason why this ends up failing is because we read `@addTagHelper` statements and require that the assembly name provided in `@addTagHelper` [case sensitively matches](https://github.com/aspnet/Razor/blob/ee

[2018-08-22 22:10] pranavkm opened #8313 "[Discussion]: 3.0: Deprecating MvcPrecompilation tool"
In ASP.NET Core 1.1, we introduced the `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation` (MVC precompilation tool) package that added support for publish time compilation of Razor files (.cshtml files). Starting in ASP.NET Core 2.1, we introduced the [Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1) that expanded on the features of the precompilation tool

[2018-08-22 22:33] javiercn commented on #8269
Closing this issue in favor of https://github.com/aspnet/Mvc/issues/8270

[2018-08-22 22:33] #8269 closed

[2018-08-22 22:49] jastralfu opened #8314 "403 Error debugging Core 2.1 MVC with IIE Express"
I think this is a bug but am not entirely sure.  I have created an ASP.NET Core 2.1 MVC Web app with the default template.  I have changed nothing with the default application save for updating the IIS Express applicationhost.config to enable SSL by changing the access sslFlags to sslFlags="Ssl, SslNegotiateCert, SslRequireCert".  When I debug from Visual Studio 2017 I get the following error:
Una

[2018-08-22 23:01] Benknightdark commented on #8306
Yes. I use resx files

[2018-08-23 00:43] rynowak commented on #8310
Hi @fishingry - this behavior is by design. Routes are processed in order when generating URLs, and both routes are able to generate a link with the combination of values you specified. We recommend putting an area specific route first.  This is covered in our docs here: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.1#areas

[2018-08-23 00:43] #8310 closed

[2018-08-23 00:48] rynowak commented on #6413
I think we can close this, we've added some new extensibility points using Endpoint Routing in the routing repo that cover this need. `IActionConstraint` will remain as-is.

[2018-08-23 00:48] #6413 closed

[2018-08-23 01:08] gortok commented on #8270
Those did not have an effect. I’m trying it again with the .400 sdk to see.

[2018-08-23 02:48] Benknightdark commented on #8306
hello, @mkArtakMSFT , here is my source code Repo url
https://github.com/Benknightdark/DotnetCoreMVC-GlobalResource-test
You can try it , thanks a lot

[2018-08-23 04:10] VictorioBerra commented on #8313
Just today after updating the App metapackage my `dotnet publish` started failing with this error:

`C:\Users\vicber\.nuget\packages\microsoft.aspnetcore.razor.design\2.1.2\build\netstandard2.0\Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(69,5): error MSB4062: The "Microsoft.AspNetCore.Razor.Tasks.RazorTagHelper" task could not be loaded from the assembly C:\Users\vicber\.nuget\package

[2018-08-23 05:06] arunjvs commented on #8299
Thanks @pranavkm and @JunTaoLuo. We are moving to our own construction based on the default template. But I would really expect a default setting just to work.

None of the parent or child directories of where our dotnet app is located has any special characters.

IMO, the problem is different, we might be observing the whole root (`/`) directory. And in the process we must be enumerating contents

[2018-08-23 05:48] JulienM28 opened #8316 "MvcRazorCompileOnPublish Error"
Since the last version of ASP .Net Core (2.1.3)

When I try to publish I get this error

Severity	Code	Description	Project	File	Line	Suppression State
Error		The command ""dotnet" exec --runtimeconfig "C:\Team Foundation\BookStarter\BookStarter\bin\Release\netcoreapp2.1\BookStarter.runtimeconfig.json" --depsfile "C:\Team Foundation\BookStarter\BookStarter\bin\Release\netcoreapp2.1\BookStarter.deps

[2018-08-23 07:26] arunjvs commented on #8299
An strace we did confirmed above - `.Build()` is causing reading of tons of directories. One of the `readdir_r()` glibc call and the corresponding `getdents()` syscall failed with `EINVAL` when done inside an unrelated (in this case omsagent) process's `/proc/${PID}/` directory.

[2018-08-23 07:49] ilmax commented on #8298
@pranavkm sure, essentially we are using it in our CI build on VSTS. We are building all our solutions to the **$(Build.BinariesDirectory)**, these are the msbuild arguments we are using:

`/p:OutputPath=$(Build.BinariesDirectory) /p:GenerateProjectSpecificOutputFolder=true /p:OutDirWasSpecified=true`

This allows to re-create the project structure in the $(Build.BinariesDirectory) directory, so e

[2018-08-23 07:57] JunTaoLuo commented on #8299
Hmm I'll need to try repro this to see which component is enumerating the files in the root directory. I would expect the default settings configured to watch the configuration files to only spawn file watchers from within the app directory.l

[2018-08-23 13:01] mmillican commented on #8309
I considered using Razor Pages, but it would be a significant change for this particular use case. It turns out that adding `~/` to the path works for us.

[2018-08-23 13:01] #8309 closed

[2018-08-23 13:14] joeaudette commented on #8313
Just to clarify the needed change are you saying that apps that previously used:

    <Project Sdk="Microsoft.NET.Sdk.Web">

should change to:

    <Project Sdk="Microsoft.NET.Sdk.Razor">

?
and should we do this now to be ready for 3.0?

[2018-08-23 14:01] javiercn commented on #8309
@mmillican razor class libraries doesn’t require you to use razor pages

[2018-08-23 14:11] pranavkm opened #8317 "ProblemDetails - Avoid serializing empty properties"
Consider annotating `[JsonProperty( NullValueHandling = NullValueHandling.Ignore )]` on `ProblemDetail` properties. This would produce *cleaner* output. Also figure out the equivalent story for Xml

[2018-08-23 14:11] pranavkm commented on #8317
cc @JamesNK

[2018-08-23 14:13] pranavkm commented on #8316
We're deprecating the precompilation and recommend using [RazorSdk](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1) instead. The way to use it would be to remove `MvcRazorCompileOnPublish` from your csproj

[2018-08-23 14:16] pranavkm commented on #8313
@VictorioBerra could you file a separate issue for the error you're seeing?

@joeaudette - `Microsoft.NET.Sdk.Razor` is meant for building [Razor class library](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.1&tabs=visual-studio) projects i.e. if you're building \ packaging UI in a class library. If you're building a regular web application, you should continue

[2018-08-23 14:28] pranavkm commented on #8299
@JunTaoLuo that's how the FileSystemWatcher is implemented on Linux - https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Linux.cs#L445-L450

[2018-08-23 14:43] JulienM28 commented on #8316
I may have missed something but Razor SDK doesn't look like to be used for full web app.

The SDK Page says:
For web applications, ensure your app is targeting Microsoft.NET.Sdk.Web SDK.

So I'm confused about what to do.

Thanks.

[2018-08-23 14:53] pranavkm commented on #8316
`Microsoft.NET.Sdk.Web` bundles `Microsoft.NET.Sdk.Razor`, so you wouldn't need to change that. What you do need to do is to not explicitly opt in to using precompilation. The most gestures to do that include

a) Setting `<MvcRazorCompileOnPublish>true</MvcRazorCompileOnPublish>` in your csproj
b) Setting `<RazorCompileToolset>PrecompilationTool</RazorCompileToolset>` in your csproj.

[2018-08-23 15:04] JulienM28 commented on #8316
You said to remove  MvcRazorCompileOnPublish because it's deprecated.

I see:
RazorCompileOnBuild : When true, compiles and emits the Razor assembly as part of building the project. Defaults to true.
RazorCompileOnPublish : When true, compiles and emits the Razor assembly as part of publishing the project. Defaults to true.

So I just need to add <RazorCompileToolset>PrecompilationTool</RazorCompi

[2018-08-23 15:09] pranavkm commented on #8274
Fixed in https://github.com/aspnet/Mvc/commit/8eea0ad44c4d469abc2c2d52f1c79505bd6afaeb

[2018-08-23 15:09] #8274 closed

[2018-08-23 15:49] javiercn commented on #8298
@ilmax We’ll be happy to take a PR for this if you want to contribute it.

[2018-08-23 16:01] aspnet-hello opened #8319 "Test failure: VersionedApi_CanUseOrderToDisambiguate_OverlappingVersionRanges"
This test [fails](http://aspnetci/viewLog.html?buildId=537374&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ry

[2018-08-23 16:01] aspnet-hello commented on #8319
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-23 16:02] aspnet-hello commented on #8319
VersionedApi_CanReachOtherVersionOperationsWithParameters_OnTheSameController [failed with about the same error](http://aspnetci/viewLog.html?buildId=537374&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-23 16:08] pranavkm commented on #7686
@benrobot both `BindProperty` and `BindProperties` are supported. `BindProperty` applies to individual properties, `BindProperties` applies to controller and page models.

[2018-08-23 16:09] pranavkm commented on #8319
@JamesNK \ @rynowak could you have a look?

[2018-08-23 16:10] pranavkm commented on #8316
Nope, adding that would disable Razor Sdk. Like I said earlier, by default you get Razor Sdk. Adding either of those properties in your project file would opt out of it.

[2018-08-23 16:27] gortok commented on #8270
I've updated Visual Studio 2017 to 15.8.1; and this problem no longer occurs.

[2018-08-23 16:27] #8270 closed

[2018-08-23 17:07] ilmax commented on #8298
@javiercn sure, I can do it tomorrow CET time

[2018-08-23 17:19] javiercn commented on #8298
@ilmax Sounds good. Thanks for contributing!

[2018-08-23 17:40] NTaylorMullen commented on #8308
That'd be a massive breaking change if it did sadly.

[2018-08-23 17:58] JunTaoLuo commented on #8299
@SarthakSoni @arunjvs , can you provide me with a repro app? From the pieces I've seen in the issue, the default setting should not be trying to enumerate the files under `/`. I suspect either:
1. The app is being executed from `/` which would explain the errors but this is the expected behaviour
2. There are configuration options that is setting the app's content root to `/`. If we are doing this

[2018-08-23 18:09] cablackford commented on #5332
@amh1979
How do you implement after installing?

[2018-08-23 18:42] mkArtakMSFT commented on #8306
@javiercn, can you please look into this? Thanks!

[2018-08-23 19:02] javiercn commented on #8306
@mkArtakMSFT I think @ryanbrandenburg would be a better choice to look into this one. I'm not familiar at all with localization.

[2018-08-23 19:27] JulienM28 commented on #8316
Thank you, It works fine now

[2018-08-23 19:27] #8316 closed

[2018-08-23 19:44] JoshClose opened #8321 "Rendering parts of page based on given criteria"
I'm looking into using this pjax library. https://github.com/MoOx/pjax A pjax request will have a header `X-PJAX-Selectors` that contains the parts of the page that need to be rendered. I'd like to create pages as normal and when a pjax request happens, only render the html elements that match the selectors.

What are some options for accomplishing this?

I was thinking that maybe I could create a

[2018-08-23 20:38] mkArtakMSFT commented on #8314
Thanks for contacting us, @jastralfu.
@javiercn, can you please help out with this? Thanks!

[2018-08-23 20:42] javiercn commented on #8314
@BillHiebert Can you take a look at this?

[2018-08-23 22:03] javiercn commented on #8314
@jastralfu Thanks for contacting us.

Seems like you are trying to use client certificates with asp.net core in VS. As far as I understand this is not a supported scenario, as VS needs to ping the app to see if the server is up and the client certificate negotiation prevents it (I believe).

See https://github.com/aspnet/SignalR/issues/2259 for more details on a similar issue.

@Tratcher can provi

[2018-08-23 22:03] #8314 closed

[2018-08-23 22:11] khellang commented on #8317
https://github.com/aspnet/Mvc/issues/4284 in 3.0? :wink::angel:

[2018-08-23 23:00] jastralfu commented on #8314
@javiercn  Not sure I understand why this is happening.  The application that is being pinged is the http url not the https url.  The 403 is from trying to access an SSL site thru the http url.  I read the SignalR link you included and I can attach to the dotnet.exe process once the app is up and running using ctrl+f5.
 How do I get in touch with @Tratcher for a more detailed explanation?

[2018-08-23 23:47] #8021 closed

[2018-08-23 23:58] Skrypt opened #8322 "TagHelper for <datalist>"
Feature request : Having a TagHelper for `<datalist>` would be pretty usefull and it would be working quite the same as the SelectListTagHelper.

[code]

Added the example directly since we are going to remove this from the PR.

[2018-08-24 00:43] javiercn commented on #8314
@jastralfu He'll look at this and provide more details. I think this is not well supported by VS. Not sure what the alternatives are.

[2018-08-24 02:48] dougbu commented on #8211
Prototype seems to have done its job. On to productizing&hellip;

[2018-08-24 02:48] #8211 closed

[2018-08-24 02:50] dougbu commented on #8212
Done as part of client-side generation prototype (#8211).

[2018-08-24 02:52] #8212 closed

[2018-08-24 03:08] dougbu commented on #6877
Temporarily marked this as `Working` as I investigate a bit

[2018-08-24 08:53] arunjvs commented on #8299
@JunTaoLuo: 1 is not the case. I suspect 2 either due to a bug or a specific file system layout/mount graph, though we did nothing special to the default file system layout of the distro. I will follow up with you offline for source sharing, please add others as needed.

@davidfowl: I'd guess building it ourselves instead of undoing the defaults is cleaner anyway - we've realized there's lot of ex

[2018-08-24 13:56] wstaelens commented on #4783
_LoginPartial.cshtml change to:
[code]

[2018-08-24 15:33] jastralfu commented on #8314
Thank you.  One more thing, this scenario works without issue with the full .NET framework.  I realize Core is very different but I would love to know what changed and if this will be fixed in some future release.

[2018-08-24 15:58] pranavkm commented on #8285
Do you have a more complete sample of what you are trying to do and what the expectation is?

* In the absence of the ResponseCache middleware, specifying a header in the action works just fine - the `ResponseCacheFilter` executes first setting the header, followed by the actual action - so you're pretty free to modify it.

* If you're specifically talking about the ResponseCache middleware, the m

[2018-08-24 16:04] javiercn commented on #8314
.NET Core uses ANCM (ASP.NET Core module) while ASP.NET is more deeply integrated with IIS. As a result of that, VS needs to ping the .NET Core app to know when it can attach the debugger. By having a client cert, it can’t stablish the connection to the server and hence it fails to detect the app is up and running and attach the debugger.

You could try changing the order/setting up ASPNETCORE_URL

[2018-08-24 19:56] muratg opened #8325 "FireOnCompletedAwaited result in System.ArgumentNullException: Value cannot be null"
_From @werynguyen on August 10, 2018 1:1_

After migrating our high traffic aspnetcore app to Core 2.1.2, we start receiving this error

[code]
This happen about once every 5000 requests and very intermittently. We thought that this could be a concurrency locking issue as it always happens in pair but recently one of our apps report this error not in pair.

Can anyone suggest any clue on why this

[2018-08-24 19:56] muratg commented on #8325
_From @Tratcher on August 10, 2018 1:4_

@rynowak ?

[2018-08-24 19:56] muratg commented on #8325
cc @mkArtakMSFT

Based on the stack trace, this looks like MVC. If you guys agree, please move it over. Thanks.

[2018-08-24 20:10] dougbu commented on #6877
### Interim report
I first did a baseline check comparing NSwag and Swashbuckle document generation for ASP.NET MVC Api projects and for both 2.0 and 2.1. The largest differences (as expected) were between 2.0 or 2.1 versus 2.1 plus `[ApiController]`. That difference was just in defaults exposed in the application model and API explorer when actions lack `[Consumes]`, `[Produces]` or explicit `[Fr

[2018-08-24 21:19] #7855 closed

[2018-08-24 21:46] pranavkm commented on #8325
Dup of https://github.com/aspnet/Mvc/issues/8260.

[2018-08-24 21:46] #8325 closed

[2018-08-24 21:53] JonasSamuelsson commented on #8285
Yes, I do want to use the caching middleware and would like to have the ability to set the cache duration based on some criteria that isnt known until the request is executed.

I have a situation where I the cache duration is stored in a database together with the data I'm returning.

Simplified example:
[code]

[2018-08-24 23:09] dougbu commented on #6877
Quick follow-up: NSwag *cannot* generate C# or TypeScript from a default Swashbuckle-generated API description i.e. one where the user has done no `Startup` customization beyond adding Swashbuckle. Without a top-level `title` and `version` in the `info` value, NSwag just blows up. I can work around this by setting `Info.Title` but Swashbuckle generating `"info": {}` by default violates the [Swagge

[2018-08-24 23:27] pranavkm commented on #8285
@JonasSamuelsson the sample code you listed action works just fine. If I try running it, I can see the the cache header from the action body being used. Do you have a repro app showing otherwise?

[2018-08-25 04:37] Rabadash8820 commented on #7035
@mkArtakMSFT what does super-triage mean?? sounds dangerous

[2018-08-25 13:19] Schmaga commented on #8311
I ran into the same problem. And strangely, when not using any controller parameter and trying to access or iterate `Request.Form.Files` the thread would just die without ever responding to the browser or even entering any exception blocks that are around the code. Feels kind of weird. My ASP.NET Core version was 2.1.2.

Until this is solved, I was able to help myself with a workaround by explicit

[2018-08-26 02:31] dougbu commented on #6877
Done the investigation with NSwag C# generation based on NSwag and Swashbuckle documents. Any need to check what AutoRest generates?

### Issues
- Generated code assumes JSON responses and it's messy to handle other content types
- Default type for collection responses is `ObservableCollection<string>` which seems more suited to UI scenarios than the general case
- Minor: NSwag command has incorre

[2018-08-26 02:42] dougbu commented on #6877
Yes, an `ObservableCollection<T>` implements `ICollection<T>` but help readers are likely to expect a more common collection type.

[2018-08-26 11:06] martincostello opened #8330 "InvalidOperationException thrown in tag helpers using cache in 2.2.0 preview 1"
#### Is this a Bug or Feature request?:

Bug (or breaking behaviour change)

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

See martincostello/website#228, run `Build.ps1` or `build.sh`.

#### Description of the problem:

I have some custom tag helpers in my code which derive from some built-in tag helper classes. Due to obsolete warnings on the constructor, as

[2018-08-26 11:06] chankly commented on #7366
@VAchris Can you say like you resolve the problem? I have the same.

Thanks.

[2018-08-26 20:03] JonasSamuelsson commented on #8285
So it does, I must have screwed something up when I tried it first, I guess I'm all good then =)

[2018-08-27 07:50] BeePM commented on #7969
Still not working, having SDK version 2.1.400 with Runtime 2.1.2 installed ONLY and same exception occurs when trying to edit cshtml while debugging in VS Code.

[2018-08-27 11:10] VladimirMakaev commented on #7278
I thinks this would be a solution for my SO question that I still have unanswered here:
https://stackoverflow.com/questions/44261111/how-to-model-bind-path-segment-to-object-property

[2018-08-27 14:44] dammikawork commented on #7856
When scaffold identity RCL there are many places we have to change for dependency types as done in @MichalJana 's answer. Is there any way to handle this in DI resolution level. For example IdentityUser from the immediate derived type AppUser. Since all these places may not use modified version(AppUser) of IdentityUser.

[2018-08-27 16:00] mgolois opened #8332 "HttpConfiguration.IncludeErrorDetailPolicy in .NetCore"
Hello,
Currently migrating code from .NET 4 mvc app to .Net Core 2.1 mvc app.
Previously, we were able to set this policy for webapi errors; does this have an equivalence in .Net Core
`HttpConfiguration.IncludeErrorDetailPolicy = IncludeErrorDetailPolicy.Always`

[2018-08-27 16:11] Eilon commented on #7035
@Rabadash8820 not too dangerous 😄 It's just a marker label for us that we need to review it again soon.

[2018-08-27 16:34] mkArtakMSFT commented on #8322
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

/cc @danroth27

[2018-08-27 16:42] mkArtakMSFT commented on #8321
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-08-27 16:43] mkArtakMSFT commented on #8321
@NTaylorMullen, can you please advice on available options? Thanks!

[2018-08-27 16:48] mkArtakMSFT commented on #8332
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-08-27 16:48] mkArtakMSFT commented on #8332
/cc @pranavkm, @dougbu

[2018-08-27 16:49] mkArtakMSFT commented on #8285
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-27 16:49] #8285 closed

[2018-08-27 16:50] NTaylorMullen commented on #8321
@JoshClose there isn't a great way to accomplish what you're looking for sadly. My suggestion would be to create a middleware that wraps the entire response of your server => parse it with angle sharp or some other Html parsing library => apply your selector logic.

[2018-08-27 16:50] #8321 closed

[2018-08-27 16:51] mkArtakMSFT commented on #8330
Thanks for contacting us, @martincostello.
@NTaylorMullen, can you please look into this? Thanks!

[2018-08-27 16:53] JoshClose commented on #8321
Is angle sharp fast enough? That is my ideal scenario.

What I'm currently doing is using some custom tag helpers. `<pjax-show></pjax-show` `<pjax-hide></pjax-hide>` `<div pjax-hide="true">` `<div pjax-selector=".my-selector">` This means I need to duplicate code and duplicate properties.

[2018-08-27 16:55] JoshClose commented on #8321
I hadn't seen AngleSharp before. I think this will do exactly what I need.

[2018-08-27 17:09] pranavkm commented on #8330
This is intentional. The recommendation is to use a custom instance of `IMemoryCache` if you need to continue using the `MemoryCache.Set`. Alternatively specifying the size is also viable. Yet another alternative is to continue using the [deprecated ctor for `ImageTagHelper`](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.TagHelpers/ImageTagHelper.cs#L42-L51) - this sh

[2018-08-27 17:56] pranavkm commented on #8332
@mgolois there isn't a direct equivalent to `IncludeErrorDetailPolicy`.  The closest approximations would be to

a) Globally add a exception filter and configure the filter to process the exception
b) Configure an instance of [`ExceptionHandlerMiddleware`](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.1#configuring-a-custom-exception-handling-page) to p

[2018-08-27 18:01] mkArtakMSFT commented on #8261
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-27 18:01] #8261 closed

[2018-08-27 18:05] mkArtakMSFT commented on #8300
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-27 18:05] #8300 closed

[2018-08-27 18:38] Eilon opened #8333 "Does the API always stay as version 1?"
_From @DanJ210 on Wednesday, 08 August 2018 21:38:44_

I was brought here from the OpenAPI Swagger doc when clicking product feedback. Fantastic presentation and well updated by the way.

My only issue is about the version. How does the version work? Why leave a version at all if it's only going to be a V1? Or is there another parameter that increments this?

_Copied from original issue: aspnet/Ho

[2018-08-27 18:38] Eilon commented on #8333
_From @pranavkm on Wednesday, 15 August 2018 15:17:21_

Is this the version in the swagger.json?

[code]

[2018-08-27 18:38] Eilon commented on #8333
_From @DanJ210 on Monday, 27 August 2018 14:34:41_

Yes that's the version. Do we manually change this as we go?

[2018-08-27 18:43] rynowak commented on #8280
@workmonitored - I expect that what's needed here is for you to add area to the route values:
[code]

The relevant section of the docs doesn't mention pages or the identity package, but explains some of the concepts. https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1#link-generation

I've logged https://github.com/aspnet/Docs/issues/8291 to track cleaning up the

[2018-08-27 18:45] Eilon opened #8334 "Does the API always stay as version 1?"
_From @DanJ210 on Wednesday, 08 August 2018 21:38:44_

I was brought here from the OpenAPI Swagger doc when clicking product feedback. Fantastic presentation and well updated by the way.

My only issue is about the version. How does the version work? Why leave a version at all if it's only going to be a V1? Or is there another parameter that increments this?

_Copied from original issue: aspnet/Ho

[2018-08-27 18:45] Eilon commented on #8334
_From @pranavkm on Wednesday, 15 August 2018 15:17:21_

Is this the version in the swagger.json?

[code]

[2018-08-27 18:45] Eilon commented on #8334
_From @DanJ210 on Monday, 27 August 2018 14:34:41_

Yes that's the version. Do we manually change this as we go?

[2018-08-27 18:46] Eilon commented on #8334
_From @pranavkm on Monday, 27 August 2018 17:40:12_

@dougbu do you know if either of the Swagger tools have any guidance on versioning? Do they do anything clever to infer it?

[2018-08-27 18:46] Eilon commented on #8334
_From @Eilon on Monday, 27 August 2018 18:38:31_

This issue was moved to aspnet/Mvc#8333

[2018-08-27 18:47] #8334 closed

[2018-08-27 19:00] dougbu commented on #8333
I haven't seen much though I haven't read *every* bit of documentation.

Infer? No.

Both tools do however provide helpers allowing the user to split their API description documents as needed. Swagger provides `SwaggerGenOptions.DocInclusionPredicate(...)`. The lower-level `SwagerGenOptions.OperationFilter(...)` could also be used for this purpose. NSwag provides the `IOperationProcessor` interfac

[2018-08-27 19:14] workmonitored commented on #8280
Yes, that's correct. It explains some of the stuff but I was not sure, area was allowed or not. I have found it in other method calls but not for this. I am going ahead and closing it since that's all I needed.

[2018-08-27 19:14] #8280 closed

[2018-08-27 19:40] Tratcher commented on #8307
There are a few different ways you could achieve your goal. The simplest and most compatible would be for your custom IServer to implement a custom Stream rather than using MemoryStream. That's how all of the real servers work. The lower level APIs our servers work with rarely provide a Stream implementation themselves, the server provides one on top of some other structured API. Here are a few ex

[2018-08-27 19:59] mgolois commented on #8332
Thank you, @pranavkm !

[2018-08-27 19:59] #8332 closed

[2018-08-27 22:30] mkArtakMSFT commented on #8333
/cc @glennc

[2018-08-28 06:47] Danielku15 commented on #8307
It is exactly my goal to make a custom IServer implementation. But the system underneath does not give me access to a raw stream where I could write the data into. To be precise: I am receiving and sending my "HTTP requests/responses" via a WCF Channel. WCF is used as via duplex channel as reverse proxy, so actually the service accepting my requests is in DMZ machine and my API is running in the L

[2018-08-28 07:03] footysteve commented on #6718
Just encountered this myself. Publishing a single page publishes just that asset to the Pages folder, precompiled views dll isn't rebuilt/deployed. Deleting the Pages folder and restarting the app fixes it (no restart = no fix, for me anyway).

So it appears that if you use precompiled views you just have to ensure you deploy the whole app when you need to republish your views.

[2018-08-28 12:26] arunjvs commented on #8299
@davidfowl We needed really less - a `new WebHostBuilder()` and `UseKestrel()` primarily. It's bloat only for our immediate project as I have stated.

The primary reason we were using the default was indeed to automatically get additional features/improvements, plus that's what the docs also suggest. But because of this bug, we are constructing ourselves, and it appears to be a simpler and shorter

[2018-08-28 14:05] footysteve commented on #6718
Hi pranavkm, thank you. I was keeping an eye on this but am new to GitHub and wasn't sure whether to open a new issue or not. I will do that today.

Thanks
Steve

[2018-08-28 14:51] dazinator opened #8340 "[Question] - Razor Pages Compilation"
#### Is this a Bug or Feature request?:
Sorry - it's a plea for some hints

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
~~Can provide sample if needed.~~
https://github.com/dazinator/Dotnettency.Samples/tree/aspnetcore20/src/Sample.RazorPages
- set startup project to Sample.RazorPages, then browse on localhost:5000-5002

#### Description of the problem:

TLDR

[2018-08-28 15:29] Tratcher commented on #8307
I don't follow, that's how the existing servers behave today. ProcessRequest does not need to complete before the response can be started, the response is started by the first write to the response body. All response headers must be set prior to the first write. ProcessRequest is only expected to complete when the response body is complete (or there is no body).

For reference, this behavior has b

[2018-08-28 15:33] davidfowl commented on #8299
Sounds fine to me!

[2018-08-28 15:55] pranavkm commented on #8340
@dazinator AddMvc does a very atypical thing to set up the application - it attempts to resolve an [`IHostingEnvironment` instance from the `ServiceCollection`](https://github.com/aspnet/Mvc/blob/2.0.4/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L66) which is used to determine what assemblies should become parts in the `ApplicationPartManager`. The `

[2018-08-28 16:27] mkArtakMSFT commented on #8308
/ping @livarcocc, @nguerrera

[2018-08-28 16:29] mkArtakMSFT commented on #8304
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-28 16:29] #8304 closed

[2018-08-28 16:39] dazinator commented on #8340
@pranavkm - oh wow! Thank you so much for this - this was a better response than I could have hoped for and it explains an oversight on my part. I didn't consider that the `ServiceCollection` that is created by default has a bunch of registrations in by default, (like IHostingEnvironment) _and_ that other configuration methods, like AddMvc() need access to these. This gives me some stuff to rethin

[2018-08-28 16:39] #8340 closed

[2018-08-28 17:15] glennc commented on #8333
I think the answer to @danj210 initial question is that there is a version because some of the Swagger generation framework require a version, but we don't really want to be opinionated about how you use that version. It's up to you and whichever of the frameworks you use to generate the Open API doc. Right?

[2018-08-28 17:52] livarcocc commented on #8308
@peterhuene to take a look at this.

[2018-08-28 18:04] dazinator commented on #8340
@pranavkm - [If I disable `ApplicationInsights`](https://github.com/dazinator/Dotnettency.Samples/blob/aspnetcore20/src/Sample.RazorPages/Program.cs#L16), the sample now works :-)

So now I am looking at what could be special about `ApplicationInsights.` - I'd like to keep support for ideally.

The stack trace is saying that something tries to resolve a `JavascriptSnippet` but the necessary necess

[2018-08-28 18:18] pranavkm opened #8345 "Add support for ProducesErrorResponseType in AddResponseTypeCodeFix"
The code fix today simply annotates status codes. We could inspect the return type and include the error type if it does not match the expected error type.

[2018-08-28 18:19] peterhuene commented on #8308
As far as I know, there is no portable method for getting the actual case of a path on case insensitive file systems.

Still, the project file is being passed to MSBuild as an option, so I'd expect this to be an MSBuild issue to address, otherwise you'd still be able to reproduce if you bypass dotnet and use MSbuild directly.

[2018-08-28 18:37] NTaylorMullen commented on #8308
@peterhuene do you know a good MSBuild contact to reach out to?

[2018-08-28 18:39] peterhuene commented on #8308
@rainersigwald would be the one.  I edited the comment since GitHub doesn't do mention completions for mobile version.

[2018-08-28 18:39] Eilon opened #8346 "XmlSerializerInputFormatter with iso-8859-1 encoding"
_From @rackriili on Monday, 27 August 2018 20:59:13_

Hi,
I am implementing an external interface with WebApi Core 2.0 and I must create a service that receives an XML by a Post action.

If the XML has the default encoding (UTF-8) it parse correctly to my class.
If the encoding is "iso-8859-1" the class is set to null. Unfortunatly this is the encoding.

_My controller:_
[code]

_In the startup I

[2018-08-28 18:56] rainersigwald commented on #8308
MSBuild just tries to read whatever's passed in, and on a case-insensitive filesystem that works. But our in-memory representation comes from the original string.

This is more relevant now, since the SDK defaults AssemblyName to `$(MSBuildProjectName)` https://github.com/dotnet/sdk/blob/ab2176b3447e3e7820b5a340408110b6d498f907/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props#L3

[2018-08-28 19:03] dazinator commented on #8340
If I register the web encoders at `ApplicationServices` level: `services.AddWebEncoders(); ` then tenant level Insights works as it is now able to resolve its `JavascriptSnippet`. I haven't managed to figure out why `RequestServices` is not being used for this resolution, as I have verified that the web encoder is registered and available from `RequestServices`.

[2018-08-28 19:07] dazinator commented on #8340
It looks like ITagHelperComponentManager was changed to use `RequestServices..` but perhaps that change was made after 2.0.0 and as I am on 2.0.0 I am still seeing the issue: https://github.com/aspnet/Mvc/commit/d27e66a8fc2ec610bd9b6cd5afc452e4fdfc0e77#diff-bf85100f11c10aedb285b010de0037f3R69

I'll try 2.1.0

[2018-08-28 20:32] #8298 closed

[2018-08-28 20:33] pranavkm commented on #8298
Thanks for the PR @ilmax

[2018-08-28 20:35] #8289 closed

[2018-08-28 21:26] pranavkm commented on #8311
@Schmaga did the compat switch work for you?

[2018-08-28 21:42] NTaylorMullen commented on #8308
Ah I see. Thanks everyone for the insight! @dejandjenic feel free to watch Microsoft/msbuild#3665 for updates 😄

[2018-08-28 21:42] #8308 closed

[2018-08-28 22:34] ryanbrandenburg commented on #8306
The problem here isn't that you're deploying it into Docker, it's that you're deploying it into Ubuntu. The values of `System.Globalization.CultureInfo` are driven by the operating system, and even the "major" OS's don't agree on the locale codes for certain languages. The `zh` family of languages is an example of such disagreement. On Windows your values of zh-TW and zh-CN are correct, but on Ubu

[2018-08-28 22:34] #8306 closed

[2018-08-28 22:49] mkArtakMSFT commented on #8346
Thanks for contacting us, @rackriili.
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-08-29 00:17] #8173 closed

[2018-08-29 01:55] Benknightdark commented on #8306
@ryanbrandenburg , thanks for your help

[2018-08-29 03:12] benaadams opened #8354 "Interface calls for IList are high"
10 requests

![image](https://user-images.githubusercontent.com/1142958/44761799-683cc280-ab3c-11e8-9022-71dae291dbcc.png)

[2018-08-29 03:15] benaadams opened #8355 "Virtual ViewContext is resolved multiple times per method"
ViewContext is resolved twice or more (and is non-inlinable)

![image](https://user-images.githubusercontent.com/1142958/44696546-ea12ea00-aa6f-11e8-805b-bf1037d30611.png)

[2018-08-29 03:17] benaadams opened #8356 "GetCurrentPage is frequently called for no-work, but doesn't inline"
9k requests; 19 Million calls

![image](https://user-images.githubusercontent.com/1142958/44697399-7d99ea00-aa73-11e8-9388-1784de22e10d.png)

[2018-08-29 04:13] minuz commented on #8045
This sounds very interesting...I recently had to this to configure the InMemoryEmail provider for test purposes.

[code]

And I thought this was simple enough and still ensures the host setup runs exactly like it would in prod.

[2018-08-29 11:47] Danielku15 commented on #8307
The problem is that in this scenario the request needs to complete otherwise you cannot pass the final objects back to WCF with only the stream left to complete. Yes, theoretically it is possible to decouple the whole chain that in the end the stream reading of WCF will allow the OWIN pipeline to block and continue on demand. But synchronizing this stuff will be a nightmare (debugging and readabil

[2018-08-29 15:54] mkArtakMSFT commented on #8299
Guys, is there any other pending action in here?
/cc @davidfowl, @JunTaoLuo

[2018-08-29 15:56] rackriili commented on #8346
First of all, thank you very much!

@mkArtakMSFT, I attach a minimalist repro project that illustrates the problem:
[XmlSerializerInputFormatterTest.zip](https://github.com/aspnet/Mvc/files/2332755/XmlSerializerInputFormatterTest.zip)

I call the service from Postman. This is the code snippet generated for curl.
[code]
I get the same error if I use 'Content-Type: application / xml'

_The encoding

[2018-08-29 15:56] mkArtakMSFT commented on #8356
Thanks, @benaadams!

[2018-08-29 16:51] mkArtakMSFT commented on #7035
Closing this for now as we have no plans to cover this in the near future.

[2018-08-29 16:51] #7035 closed

[2018-08-29 17:11] Eilon opened #8357 "Parameter default value is invalid"
_From @netnr on Friday, 24 August 2018 23:47:54_

ASP.NET Core

![图片说明](https://uploadbeta.com/share-image/fU4)

Parameter "sort" default value is invalid

_Copied from original issue: aspnet/Home#3458_

[2018-08-29 17:11] Eilon commented on #8357
_From @Eilon on Monday, 27 August 2018 16:51:17_

@netnr can you provide more info about this issue and how to reproduce it? What routes does the app have, and what is the request URL?

[2018-08-29 17:11] Eilon commented on #8357
_From @netnr on Monday, 27 August 2018 23:09:14_

Perhaps my idea is that the weight of the variable default should be higher than "NULL"

[2018-08-29 17:11] Eilon commented on #8357
_From @Eilon on Tuesday, 28 August 2018 17:25:35_

@netnr we'll need more info to be able to investigate this. Can you upload a sample app to a GitHub repo so that we can inspect the code?

[2018-08-29 17:11] Eilon commented on #8357
_From @netnr on Tuesday, 28 August 2018 22:35:22_

https://github.com/netnr/test

[2018-08-29 17:13] Tratcher commented on #8307
We've implemented at least 6 servers using almost the same pattern so far. While it is not trivial, it is certainly manageable. It also isolates a lot of the complexity from the higher level components and application.  Give it a try and we can discuss the details.

[2018-08-29 18:44] AlexejTimonin commented on #8346
You can force the input formatter to always use ISO-8859-1 encoding. This is achieved by clearing all of the supported encodings before adding your encoding. Like this:

[code]

Now the ISO-8859-1 encoding will be used. But it does not end here. You'll receive an error in the model state stating that the XML encoding is not supported. This is because `XmlSerializerInputFormatter` uses
`XmlDictiona

[2018-08-29 18:56] davidfowl commented on #8299
Nope

[2018-08-29 19:10] Rabadash8820 commented on #7035
@mkArtakMSFT I read that as "we have no plans to follow standards in the near future".

There's been a lot of good discussion here about how supporting HTML5 input types _should_ be implemented, and how that implementation could be done.  Are you really going to kill that conversation by saying Microsoft has "no plans to cover this"?  Isn't the point of the "needs design" label that this Issue req

[2018-08-29 20:34] mkArtakMSFT commented on #8307
Closing this as there is no actions we intend to take here.

[2018-08-29 20:34] #8307 closed

[2018-08-29 21:27] #8299 closed

[2018-08-29 21:28] Tealons commented on #8021
@javiercn Sorry for my late reply. I was a little busy the past few days with the birth of my daughter :)
Great to hear that you fixed the issue. I'm going to test it when things get normal again and I can get a normal night of sleep. However, I'm not doubting that your fix will work!

Thanks again!

[2018-08-29 22:30] mitchellj commented on #8311
Sorry I was out of the country for a while, I will be back in a couple of days and try the compat switches and report back. Compatibility was NOT set previously so that is most likely the issue will confirm though.

[2018-08-29 23:18] #8354 closed

[2018-08-29 23:26] ryanbrandenburg commented on #7521
aspnet/BuildTools#615 is now closed because we aren't investing in APICheck. @mkArtakMSFT I assume that means we can transitively close this issue?

[2018-08-29 23:35] ajaybhargavb commented on #7940
4d98ea801e0b9650142679bc4017e947e6701d97

[2018-08-29 23:35] #7940 closed

[2018-08-29 23:41] #7521 closed

[2018-08-30 00:07] #8356 closed

[2018-08-30 01:15] dougbu commented on #8357
@netnr the test application is behaving as expected because MVC honours the C# semantics of optional arguments. The `sort` parameter's default value is used only when *nothing* is submitted for a parameter (your "no parameters" case), not when the submitted value is bound to `null` (your `null` and empty string cases).

For more information, please see https://docs.microsoft.com/en-us/dotnet/cshar

[2018-08-30 01:26] netnr commented on #8357
[code]
 **Console**
[code]
Should not be "NULL" but empty

[2018-08-30 01:34] netnr commented on #8357
![717f0de210](https://netnr.gitee.io/gs/2018/08/30/717f0de210.png)

[2018-08-30 01:35] dougbu commented on #8357
@netnr that's also by design. There's a `ModelMetadata.ConvertEmptyStringToNull` property which defaults to `true`. If you prefer this didn't happen, add `[DisplayFormat(ConvertEmptyStringToNull = false)]` to your parameter.

[2018-08-30 01:50] davidfowl opened #8362 "Add feature to turn off precompiled views from being updated (non updatable, precompiled views)"
#### Is this a Bug or Feature request?:

Feature

#### Description of the problem:
MVC still watches files for applications that don't have any views on disk. It should be possible to turn this behavior off completely when the application doesn't expect views on disk to override precompiled ones.

There are some other benefits to adding this feature:
- File watching for views is off (which seems t

[2018-08-30 02:26] rynowak commented on #8362
Should we infer the default value of this option based on the environment? Or did you have in mind that we'd just allow people to turn of view recompilation if they want to.

[2018-08-30 03:00] LeDucThang commented on #8300
Dear mkArtakMSFT  and dougbu
Last week, i was too busy and could not response you. I give you my repository with 4 case which compared between WebAPI2 and CoreAPI in TestAPI project

https://github.com/LeDucThang/EShop

the main difference is : WebAPI recognize null to DefaultValue and CoreAPI cannot parse json to entity object

[2018-08-30 04:40] dougbu commented on #8300
@LeDucThang the difference here goes away if you update the actions to check `ModelState.IsValid`:
[code]
In both ASP.NET Core MVC and ASP.NET Web API errors are reported in your tests. In the Core case, the response is
[code]
And for non-Core, the same error is serialized as
[code]

With respect to the `null` parameter value, we made an intentional change between Web API and ASP.NET Core MVC to b

[2018-08-30 05:48] danroth27 commented on #7035
@Rabadash8820 We also believe that supporting open standards is important and we certainly didn't mean to indicate otherwise by closing this issue. When we looked at this issue we concluded that there wasn't anything additional that we needed to do in MVC to support these input types. As far as we know there isn't anything that blocks you from using these input types and there didn't seem to be an

[2018-08-30 06:51] Danielku15 commented on #8307
It's quite unfortunate that during the active discussion the issue is simply closed.

I had a look at the following 5 server implementations and all beside the TestHost were based on the fact that there must be a way to actively write the response. Blocking happens on this active writing basis and not on passive reading.

- Kestrel - Based on raw streams and sockets. (SocketConnection, TransportCo

[2018-08-30 08:45] LeDucThang commented on #8300
i understood. thank you very much. i will change my project with your suggestion

[2018-08-30 13:35] Tratcher commented on #8307
How is your scenario different from HttpSendResponseEntityBody? E.g. WriteAsync triggers a call to SendMessage.

[2018-08-30 13:39] pranavkm commented on #8362
MVC also [uses file watchers](https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.TagHelpers/Internal/FileVersionProvider.cs#L57) for the Link \ Script TagHelpers, although it's pay for play. Would we have a single switch to turn off all of file watching in MVC?

[2018-08-30 15:31] davidfowl commented on #8362
We usually do that in the template but maybe it's not so bad to infer the default that can be changed by users.

[2018-08-30 16:14] pranavkm commented on #8362
This would be a first, no?

[2018-08-30 16:53] ryanbrandenburg commented on #7521
For now, yes. My understanding is that dotnet/Arcade either has or is working on a project which accomplishes the same goals as ApiCheck so our plan is to move to that tool instead. CC @natemcmaster in case I mis-represented anything there.

[2018-08-30 18:24] #8288 closed, assigned to pranavkm

[2018-08-30 19:59] javiercn commented on #8250
This was done as part of 990bed7

[2018-08-30 19:59] #8250 closed

[2018-08-30 21:04] #8355 closed

[2018-08-30 21:07] pranavkm commented on #8311
@mitchellj feel free to reopen this issue if you still see it after changing the compat version.

[2018-08-30 22:45] Schmaga commented on #8311
I am also still on vacation. Will check as soon as I am back home.

Am 28.08.2018 23:26 schrieb Pranav K <notifications@github.com>:

@Schmaga<https://github.com/Schmaga> did the compat switch work for you?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/aspnet/Mvc/issues/8311#issuecomment-416746295>, or mute the thread<https

[2018-08-31 07:09] bindu24 commented on #4862
Can we now return good error messages instead of the exception message where sensitive information is exposed

[2018-08-31 07:32] ExileLee commented on #8346
@AlexejTimonin

Save my day!

thanks!

[2018-08-31 08:02] aspnet-hello commented on #8157
Configure_AddsPageViewLocationFormats_WithDefaultPagesRoot [failed with about the same error](http://aspnetci/viewLog.html?buildId=543165&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-31 13:59] Yaevh opened #8365 "Allow validation attributes on `PageModel` itself"
#### Is this a Bug or Feature request?: Feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project): https://github.com/Yaevh/RootModelValidationDemo

#### Description of the problem:
As of 2.1.0, validation attributes are allowed on controller parameters, bound controller parameters, page model properties and handler method parameters. They are however not a

[2018-08-31 16:09] #8357 closed

[2018-08-31 16:35] mkArtakMSFT commented on #8365
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2018-08-31 16:51] mkArtakMSFT commented on #6818
/cc @glennc

[2018-08-31 21:16] peterhuene opened #8367 "Assembly.CodeBase is incorrectly parsed in RelatedAssemblyAttribute if the path contains # character"
_From @Petermarcu on August 31, 2018 18:56_

@noorrocks commented on [Wed Aug 29 2018](https://github.com/dotnet/core/issues/1904)

# Issue Title

dotnet run System.ArgumentNullException: for a simple program with new installation of .netcore 2.1.401

# General

Trying to get started with .netcore programming. Followed the basic tut from asp.net website but failed.

https://www.asp.net/get-started

[2018-08-31 21:16] peterhuene commented on #8367
_From @livarcocc on August 31, 2018 20:56_

@peterhuene can you take a look?

[2018-08-31 21:16] peterhuene commented on #8367
The exception is coming from ASP.NET MVC:

[code]

Having ` C:\#NIN\` as the root of this path appears to be tripping up the MVC `RelatedAssemblyAttribute`.

I suspect [this line](https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62539991e1da3a6e30e/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/RelatedAssemblyAttribute.cs#L118) might be treating `#` as an anchor, resulting in a root dir

[2018-09-01 00:29] benaadams opened #8370 "PagedBufferedTextWriter creates too many async statemachines"
`PagedBufferedTextWriter` is used to allow sync writes from `IHtmlContent` types without blocking threads and gumming up the async nature of ASP.NET Core.

However it acts overly conservatively in case something has been sync written when it normally hasn't. This causes lots of additional async statemachines to be created:

1 request in the RazorRendering benchmarkapp https://github.com/aspnet/Mvc

[2018-09-01 00:38] benaadams opened #8371 "CI failure - HttpResponseMessageOutputFormatterTests (intermittent)"
[code]

[2018-09-01 00:39] benaadams commented on #8371
Saw in ea3f64a commit of https://github.com/aspnet/Mvc/pull/8368

[2018-09-01 00:39] rynowak commented on #8371
oh noes

[2018-09-01 00:40] benaadams commented on #8371
Concurrent use of Dictionary?

[2018-09-01 00:43] benaadams commented on #8371
Concurrent use of Dictionary? Is only way `Dictionary2.FindEntry(TKey key)` with throw https://github.com/dotnet/corefx/issues/31186

[2018-09-01 00:45] pranavkm commented on #8371
Dup of https://github.com/aspnet/Mvc/issues/8157

[2018-09-01 01:00] benaadams commented on #8371
Yeah

[2018-09-01 01:00] #8371 closed

[2018-09-01 18:34] kramffud commented on #7152
From a Milestone to the Backlog on May 14?  Where is this?  I can't believe I haven't seen what I consider to be an overwhelming Use Case for this, albeit one at which I am fully aware of the countless eyes that will roll.  Send in a generic model collection, reflect on its items' property names for column headers and then iterate through the list to display those items' values.  Reflection, slow,

[2018-09-01 18:51] kramffud commented on #727
Where is this? I can't believe I haven't seen what I consider to be an overwhelming Use Case for this, albeit one at which I am fully aware of the countless eyes that will roll. Send in a generic model collection, reflect on its items' property names for column headers and then iterate through the list to display those items' values in rows. Reflection, slow, I get it. But how much dev time would

[2018-09-01 19:53] KrystianKolad opened #8373 "Removing item from list in named handler removes always last item"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Models and Page source:
https://gist.github.com/KrystianKolad/0fb85e9adc7eed1b6e7e6c33c945cae8

#### Description of the problem:
I have a razor page Add where I can create conference. This conference has a list of lectures, which I add and delete by using named handlers(s

[2018-09-02 01:47] javiercn commented on #727
@kramffud You can do that without having an IEnumerable<T> as a model. In fact our default templated html helpers already do this for you.

[2018-09-02 04:51] dougbu commented on #8346
Thank you all for this discussion. We're closing this issue as the questions asked here have been answered.

[2018-09-02 04:51] #8346 closed

[2018-09-02 07:33] nour-s opened #8374 "Redundant check ' if (actionContext == null) ' in ActionContext.cs"
I'm not sure if this is the right way to report this, but please let me know how to do it better.

It is a minor observation, that checking

https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62539991e1da3a6e30e/src/Microsoft.AspNetCore.Mvc.Abstractions/ActionContext.cs#L39

is useless, because if that's true, it would fail earlier at
https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62

[2018-09-02 07:37] HassanHashemi commented on #8374
You can submit a PR.

[2018-09-02 12:56] MedAnd commented on #6246
@blowdart - most new Security Advisory issues have a **Mitigation factors** section, for example:

Would like to clarify if the issues identified in this advisory are mitigated by using an Azure Application Gateway?

Thx.

[2018-09-02 15:14] spottedmahn opened #8375 "Debugging ASP.NET Source From Visual Studio"
#### Is this a Bug or Feature request?:
Question

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

- Start a new ASP.NET Core project -> MVC type
- Configure remote debugging: [Debugging ASP.NET Core 2.0 Source Code](https://www.stevejgordon.co.uk/debugging-asp-net-core-2-source)
- Set a breakpoint on `SelectCandidates` (reference: [Debugging ASP.NET Core 2.0 sou

[2018-09-03 02:41] BHare1985 opened #8377 "DefaultModelBinder for SortedSet automatically sorts"
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
send a post payload of `ids[]=3&ids[]=1&ids[]=2` to a mvc controller action like `public JsonResult SaveSortOrder(SortedSet<int> ids)`

#### Description of the problem:

When using default parameterization of a javascript array in jquery, the payload for the array `[3,1,

[2018-09-03 02:48] BHare1985 commented on #8377
Sorry, its late and I was confusing the word "Sorted" with "Ordered"

[2018-09-03 02:48] #8377 closed

[2018-09-03 08:34] RemiGaudin commented on #7152
+1
Generics is not a cutting edge feature anymore, this is a must have in C#, and I cannot imagine an enterprise grade C# project without generics now. I'm really surprised that we don't hear much more noises about it.
Maybe for some reasons implementing this missing feature on Razor views is really hard for the MS team?

[2018-09-03 14:29] manospasj commented on #7048
@Eilon This should be included in the docs

[2018-09-03 15:07] spottedmahn commented on #8375
Reference: [Developer Community -> Debugging ASP.NET Core -> The following breakpoint cannot be set](https://developercommunity.visualstudio.com/content/problem/326187/debugging-aspnet-core-the-following-breakpoint-can.html)

[2018-09-04 06:56] mkArtakMSFT commented on #8370
Thanks @benaadams.

[2018-09-04 06:58] mkArtakMSFT commented on #8373
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-09-04 06:58] mkArtakMSFT commented on #8373
@NTaylorMullen can you please look into this? Thanks!

[2018-09-04 07:00] mkArtakMSFT commented on #8374
Thanks for contacting us, @nour-s.
Indeed this seems redundant. Would you be interested in submitting a PR with the fix?

[2018-09-04 09:00] HassanHashemi commented on #8374
@nour-s @mkArtakMSFT
here it is
https://github.com/aspnet/Mvc/pull/8379

[2018-09-04 09:52] edem-e-akoussanh opened #8380 "Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(69,5): error MSB6003: The specified task executable "dotnet" could not be run. The specified executable is not a valid application for this OS platform"
#### Is this a Bug or Feature request?:
Bug: Unable to build and run Asp.Net Core 2.1 projects.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1.  dotnet new mvc
2.  build and run

#### Description of the problem:
Any Asp.net core 2.1 project ends up with this error, during build and run:
1>------ Build started: Project: WebApplication1, Configuration: Debug An

[2018-09-04 12:19] Kris0 opened #8381 "ModelValidation EmailAddress is buggy"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a Model with a Single Property string, annotate it with [EmailAddress] and a View with a input that binds the value of the input to the model.

Now type as Email:
SomeThing@.com

#### Description of the problem:

See the ModelState beeing valid.

#### Version `Micr

[2018-09-04 12:26] Kris0 opened #8382 "Url Annotation is buggy"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a Model with a Single Property string, annotate it with [Url] and a View with a input that binds the value of the input to the model.

Now type as Url:
https://httpsblabla

#### Description of the problem:
See the ModelState beeing valid.

#### Version Microsoft.As

[2018-09-04 15:36] DanJ210 commented on #8333
So I'm guessing that it's by choice if a user wants to change the version each time and I guess have multiple version showing on the generated UI page because looks like the version is a dropdown.

[2018-09-04 15:37] DanJ210 commented on #8333
Thanks for the responses everyone. Sorry if this wasn't a good topic. Just wondered if there was something I was mission about versions.

[2018-09-04 15:59] Rabadash8820 commented on #7035
@danroth27  It's true that we can manually set `<input>` type and validation attributes in our *.cshtml files, so I guess it's true that MVC _does_ currently support HTML5 input types, as it would any future HTML tag.  However, the above issues with certain input type (e.g., `color`) and validation attributes (e.g., `min` and `max`) not being automatically generated by `asp-for` tag helpers are st

[2018-09-04 16:33] mkArtakMSFT commented on #8382
Thanks for contacting us, @Kris0.
Can you please share a repro project for us to investigate (ideally as a github repo).

@dougbu, can you please investigate this? Thanks!

[2018-09-04 16:34] mkArtakMSFT commented on #8382
Seems related: https://github.com/aspnet/Mvc/issues/8381

[2018-09-04 16:35] mkArtakMSFT commented on #8381
Thanks for filing this issue. We will investigate this as part of the referenced issue which also you've filed.

[2018-09-04 16:35] #8381 closed

[2018-09-04 16:39] mkArtakMSFT commented on #8380
Thanks for contacting us, @edem-e-akoussanh.
@pranavkm, can you please investigate this? Thanks!

[2018-09-04 16:50] dougbu commented on #8381
@Kris0 the `[EmailAddress]` attribute is not part of ASP.NET Core. Instead, it ships with .NET Framework and .NET Core.

I believe .NET has had issues related to this attribute rejecting valid email addresses. At the moment, the .NET Core version does little more than confirm the value contains an `'@'`. Suggest using a `[RegularExpression]` attribute with the patterns your application supports (t

[2018-09-04 16:54] dougbu commented on #8382
@Kris0 the `[Url]` attribute is not part of ASP.NET Core. Instead, it ships with .NET Framework and .NET Core.

I believe .NET has had issues related to this attribute rejecting valid URLs. At the moment, the .NET Core version does little more than confirm the value starts with a recognized scheme. Suggest using a `[RegularExpression]` attribute with the patterns your application supports (though

[2018-09-04 16:54] #8382 closed

[2018-09-04 17:03] pranavkm commented on #8380
Could you run `dotnet --info`? I wonder if you have both 32 and 64-bit dotnet installed on your machine and the 32-bit exe appears earlier in PATH.

[2018-09-04 17:19] mkArtakMSFT commented on #8375
Hi @spottedmahn.
@pranavkm, I assume this is because of compiler optimizations for `Release` build, correct? So what will be the options?

[2018-09-04 17:29] mkArtakMSFT commented on #8367
@pranavkm, can you please look into this?

[2018-09-04 17:31] pranavkm commented on #8380
Would you mind running `dotnet clean; dotnet build /bl` on the project and attaching the msbuild.binlog file? We could tell the path to the exe that the failing task is attempting to resolve. Perhaps that should give us some clues.

[2018-09-04 17:37] mkArtakMSFT commented on #8367
@noorrocks, this seems to indeed be caused by the `#` character in the path. Simply moving bits to a different folder would solve the issue. Feel free to send us a PR with the fix.

[2018-09-04 17:39] pranavkm commented on #8375
Yup.

We do not build or publish Debug builds on our CI.

Usually I rebuild the branch or tag locally and replace the binaries.

[2018-09-04 17:55] Eilon opened #8383 "Timestamp passed via RedirectToAction loses precision in target action"
_From @martinmikulka on Monday, 03 September 2018 13:05:33_

Hello, I am facing a problem when calling RedirectToAction() method and passing a timestamp via parameter:

[code]

When I dump the timestamp variable inside the ActionOne:
Millisecond [int]: 120
Ticks [long]: 636681249781200000

When I dump the timestamp variable inside the ActionTwo:
Millisecond [int]: 0
Ticks [long]: 63668124978000000

[2018-09-04 17:55] Eilon commented on #8383
_From @martinmikulka on Tuesday, 04 September 2018 06:27:08_

I solved this problem by passing the value in milliseconds [long] instead of DateTimeOffset.

[code]

[2018-09-04 17:56] mkArtakMSFT commented on #8375
Thanks @pranavkm.
@spottedmahn, so seems that the behavior you're observing is by design. Please consider using the suggestion from @pranavkm to achieve what you want.

[2018-09-04 17:56] #8375 closed

[2018-09-04 17:57] edem-e-akoussanh commented on #8380
[msbuild.zip](https://github.com/aspnet/Mvc/files/2349666/msbuild.zip)

[2018-09-04 18:04] pranavkm commented on #8380
@edem-e-akoussanh the build log you attached says that it succeeded (doesn't contain the error you initially reported). Are you still seeing the original issue?

[2018-09-04 18:15] edem-e-akoussanh commented on #8380
I just noticed by using the dotnet build /bl command, build is successful and app can run.

However, upon initial project creation in VS, same error persists for .net core 2.1 projects. It doesn't behave so with .net core 2.0 projects.

I might have to use the CLI to build /bl before running .net core 2.1 projects.

I'd consider it a workaround in the meantime....

[2018-09-04 18:16] edem-e-akoussanh commented on #8380
Thanks for the support guys....

[2018-09-04 18:19] #8333 closed

[2018-09-04 18:27] pranavkm commented on #8380
Hmm, it might be that VS is referencing a 32-bit SDK. Here's a couple of suggestions I'd try:

1) Try removing 32-bit SDKs (Using Programs & Features) if they're installed.
2) Repair the 64-bit SDK. This should add it to your path.
3) Restart VS so that it refreshes env variables.

If you still see this issue persist, feel free to reopen this issue.

[2018-09-04 18:27] #8380 closed

[2018-09-04 18:32] mkArtakMSFT commented on #8383
Thanks for contacting us, @martinmikulka. Glad you've found a workaround.
@dougbu, can you please find out the reason for the precision to be lost? Thanks!

[2018-09-04 18:33] pranavkm commented on #8362
@davidfowl in my current implementation (https://github.com/aspnet/Mvc/pull/8369), all I do is turn off file watching. Views still get compiled at runtime, they don't recompile when the file changes.

[2018-09-04 19:39] KrystianKolad commented on #8373
Thanks for response, I will check that :)

[2018-09-04 20:29] C-BERBER commented on #6926
Can't even begin to describe what a pain in the arse all of this is.. What is wrong with a relative or non-relative complete path to a file?

After hours (and I mean HOURS) of horsing around trying to get a simple connection to a link the bottom one finally worked.
startup.cs ...
 services.AddMvc()
                .SetCompatibilityVersion(CompatibilityVersion.Version_2_1)
                .AddRazor

[2018-09-04 20:39] spottedmahn commented on #8375
Hi @mkArtakMSFT  and @pranavkm - thanks for the replies!

Any thoughts on these questions?

[2018-09-04 21:04] mkArtakMSFT commented on #8375
@spottedmahn, the experience is an effect of compiler optimizations. So it's expected to behave like that. Hence, this is not really an issue by any means.
Regarding the official docs, are you looking for docs on the compiler optimization topic?

[2018-09-04 21:40] mkArtakMSFT commented on #8287
Moving this to `3.0` as the work is not completely involved.

[2018-09-04 21:47] spottedmahn commented on #8375
Hi @mkArtakMSFT 👋

I understand.  I was using the term "issue" loosely.  The Github version of an "issue".  Where should I be posting questions/issues/feedback regarding this feature?

No.  Official doc pages on [setting VS up](https://www.stevejgordon.co.uk/debugging-asp-net-core-2-source).  And [setting breakpoints](https://blog.reyno.co.uk/debugging-asp-net-core-source-code/).

[2018-09-04 21:48] guardrex opened #8385 "Possible bug in RP conventions behavior (and ? on optional route params)"
#### Is this a Bug or Feature request?:

Possible bug, but mostly in need of clarification for the docs. https://github.com/aspnet/Docs/issues/6173#issuecomment-386825256

#### Steps to reproduce:

App sets up a page route with an optional route param:

[code]

#### Description of the problem:

Works when the param is present: `http://localhost:5000/TheContactPage/SomeValue`.

Doesn't work when th

[2018-09-05 00:31] rynowak commented on #8287
What does that mean?

[2018-09-05 06:39] Kris0 commented on #8382
Thank you for the information. I already use [RegularExpression] in my projects instead of the [URL] or the [EmailAddress] annotations. Yes you are absolutely right, https://httpsblabla is a valid URI in a private network but i think most people would assume we talk about absolute addresses in the www if we see the annotation URL. Maybe it should be renamed in URI ? (or maybe that's just my opinio

[2018-09-05 08:20] zhurinvlad commented on #6841
My solution to this problem is on AspNetCore. I think the differences will be small :)

`
     // ViewModels/Model.cs
    [EnumDataType(typeof(UserTemplateTypes), ErrorMessage = "TemplateTypeIncorrect")]
    public byte TemplateType { get; set; }

    // CustomValidations/EnumDataTypeAttributeAdapter.cs
    public class EnumDataTypeAttributeAdapter : AttributeAdapterBase<EnumDataTypeAttribute> {

[2018-09-05 08:33] zhurinvlad commented on #6841
This is my solution to this problem on AspNetCore. I think the differences will be small :)

ViewModels/Model.cs
[code]

CustomValidations/EnumDataTypeAttributeAdapter.cs
[code]

CustomValidations/CustomValidationAttributeAdapterProvider.cs
[code]
Startup.cs
[code]

[2018-09-05 11:49] Schmaga commented on #8311
@pranavkm I returned from vacation and checked with the compat switch set to 2.1.

It now works, but I also have to remove the [FromForm] Attribute completely from the controller IFormFrile parameter, otherwise it is still "null".

I think it might make sense to better document what exactly the compat switch affects, because I would not have thought it would produce such strange behavior as descri

[2018-09-05 12:33] mansoor-omrani commented on #7152
Actually I made my hands dirty a little to implement this feature.

As far as the codes were in MVC source code I handled the changes and applied appropriate changes to provide open generics feature in views.

But when I went deeper I reached to Razor Engine source code and there I stuck. The Razor Engine source code was very sophisticated. I couldn't invest more time on that. So, I dropped the ca

[2018-09-05 14:16] pranavkm commented on #8311
That isn't intended. Do you have a repro app for this?

[2018-09-05 14:35] Schmaga commented on #8311
Not yet, but I could extract it from our project for you. What format is best? Will it be enough to paste the relevant snippets here or do you need a zip file with a project or something?

This is my first .NET OSS issue, so sorry if the answer might be obvious. And I didn't find anything specific about providing example code in the contribution guidelines :)

[2018-09-05 15:02] pranavkm commented on #8311
A sample repo on github works really well to share code. If that's difficult, any of your suggestions work fine.

[2018-09-05 15:12] Tratcher commented on #7416
@davidfowl

[2018-09-05 17:03] strawd opened #8388 "ASP.NET Core 2.1.0 breaks attribute-routed endpoints in applications targeting Microsoft.NET.Sdk"
#### Is this a Bug or Feature request?:

Bug or breaking change

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. Run `dotnet new webapi`
2. Run `dotnet run`
3. Make a request, ex. run `curl -k https://localhost:5001/api/values` and verify that the response is a `200 OK`
4. Stop the application
5. Edit the project file to change the `Sdk` attribute to `Microso

[2018-09-05 17:23] steveoh opened #8389 "Specifying ProducesAttribute stops the use of API conventions"
#### Is this a Bug or Feature request?:
Bug or misunderstanding of feature and possibly a feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Consider having multiple api methods with different 200 generic response types and different method names and signatures but all the other status codes produce the same result object. I think this is a pretty

[2018-09-05 18:40] dougbu commented on #7415
Temporarily setting this issue to `ready`. Will start from #8290 (thanks very much @kishanAnem) when I pick this up again.

[2018-09-05 19:07] dougbu commented on #8383
@mkArtakMSFT the precision is lost because Routing uses `Convert.ToString(...)` and that method is not guaranteed to preserve precision. The target URI ends with the encoded form of `?Timestamp=07/25/2018 14:16:18 +00:00`. See [`TemplateBinder`](https://github.com/aspnet/Routing/blob/f9f80e3d80d14684ed2c77b1913cf4bd3c5a4692/src/Microsoft.AspNetCore.Routing/Template/TemplateBinder.cs#L278) for exam

[2018-09-05 19:15] kishanAnem commented on #7415
welcome @dougbu. i’m eager to watch this. i’ve some doubts on user defined  simple type. how we make sure if it is simple type, if type converter from metadata or from other assembly. if you have time please explain this.

[2018-09-05 20:15] mkArtakMSFT commented on #8389
Thanks for contacting us, @steveoh.
@pranavkm, can you please look into this? Thanks!

[2018-09-05 20:42] strawd commented on #4290
I think the above solution will change the formatters for all requests, so you could run into a concurrency issue. Here's a solution I found that should customize the formatters per request and avoid a concurrency issue: https://stackoverflow.com/a/52193035/10391

[2018-09-05 20:46] pranavkm commented on #8389
Yes, that's the intended design. Specifying a `ProducesResponseType` attribute on an action in treated as a gesture to opt out of conventions; there isn't a merge semantic for the two. One way to use a convention in your particular scenario would be to

a) Add a `[ProducesResponseType(StatusCodes.Status200OK)]` to the convention
b) Remove `ProducesResponseType` attributes from your action
c) Retur

[2018-09-05 20:49] steveoh commented on #8389
Thanks, I will try that and get back to you!

[2018-09-05 21:30] mkArtakMSFT commented on #8388
Thanks for contacting us, @strawd.
@pranavkm, can you please look into this? Thanks!

[2018-09-05 21:32] mkArtakMSFT commented on #8385
Thanks @guardrex.
@rynowak, can you please answer this? Thanks!

[2018-09-05 21:35] mkArtakMSFT commented on #8383
Thanks @dougbu.
@martinmikulka, per @dougbu's response the behavior you're observing is by design. Consider using the suggested workaround of passing the parameter as string instead.

[2018-09-05 21:35] #8383 closed

[2018-09-05 21:36] pranavkm commented on #8388
MVC 2.1.0 requires compilation context to be available. Compilation context tells it if a library references MVC which is used as a filter to skip assemblies that are deemed unlikely to have controllers. Microsoft.NET.Sdk does not set `<PreserveCompilationContext>true</PreserveCompilationContext>` which would explain why you're seeing this.

[2018-09-05 21:37] martinmikulka commented on #8383
Ok guys, thank you for your time. m.

[2018-09-05 21:55] mattzink commented on #8388
Would an acceptable fix then just be to set `<PreserveCompilationContext>true</PreserveCompilationContext>` in the csproj that contains controllers? That seems to fix the issue.

[2018-09-05 21:57] pranavkm commented on #8388
That would help. @natemcmaster \ @JunTaoLuo is there anything about the AspNetCore.App metapackage that requires referencing the Web Sdk?

[2018-09-05 22:02] natemcmaster commented on #8388
Only the Web Sdk works with a versionless PackageRef to AspNetCore.App. If you can't use the web Sdk for other reasons, you can easily workaround by adding the Version attribute to the PackageReference element.

[2018-09-05 22:09] steveoh commented on #8389
@pranavkm That seems to partially fix the issue. The `ProducesResponseType.Type` is not coming through from the convention attributes for the 400, 404, and 500.

I would like to continue to display that in the open api docs.

The type does come through for the 200 based on the action result.

Is there a way to preserve the types from the convention?

I'm noticing that the convention isn't working

[2018-09-05 22:14] mattzink commented on #8388
@natemcmaster Is it correct that for the AspNetCore.App package version that the major & minor numbers match the corresponding runtime version, and the third number is always zero?

[2018-09-05 22:26] Eilon commented on #8311
Moved to preview3 for now.

[2018-09-05 22:28] mkArtakMSFT commented on #8375
I don't think that will get any traction, but sure, you can send a feedback by clicking the `Send feedback`  button in the top right side of the VS window:
![image](https://user-images.githubusercontent.com/34246760/45124746-50f36b80-b120-11e8-9728-7f2fbe5c4c97.png)

[2018-09-06 00:04] #8374 closed

[2018-09-06 00:09] pranavkm commented on #8388
That's not entirely correct - https://github.com/aspnet/websdk/blob/master/src/Web/Microsoft.NET.Sdk.Web.Targets/Sdk.DefaultItems.targets#L41

[2018-09-06 00:11] natemcmaster commented on #8388
It was our intention to keep it at "2.1.0", but we made a mistake and had to bump the package to 2.1.1. Our hope is that in 2.2, the implicit package version will stay at "2.2.0".

[2018-09-06 01:36] mitchellj commented on #8311
Sorry back now, I can confirm as @pranavkm has found as well that

- Decorating the controller with `[ApiController]` and the `IFormFile` with `[FromForm]` gives us a `null` `IFormFile`.
- Decorating the controller with `[ApiController]` and not decorating the `IFormFile` parameter binds the `IFormFile` correctly

[2018-09-06 02:53] treenew opened #8392 "Why dotnet exit with use blob url."
#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[https://github.com/treenew/UEditor.Samples](https://github.com/treenew/UEditor.Samples)

#### Description of the problem:
![Uploading GIF.gif…](https://www.cnblogs.com/images/cnblogs_com/sofire/656252/o_GIF.gif)
[gif images](https://www.cnblogs.com/images/cnblogs_com/sof

[2018-09-06 02:55] treenew commented on #8392
When a use a new chrome instance, the bug is fix.....oh
:<

[2018-09-06 03:53] #8370 closed

[2018-09-06 06:16] treenew commented on #8392
fixed.
Is vs bug.

[2018-09-06 06:16] #8392 closed

[2018-09-06 07:41] GreenHand-Ben opened #8393 "新人求助，lambda表达式查询出错"
![image](https://user-images.githubusercontent.com/42233756/45142423-19052a80-b1eb-11e8-9922-150666002bc0.png)
代码不是我写的，是公司老员工写的，请问出现这样的错误是怎么回事，小白求助，勿喷。。

[2018-09-06 08:35] ErcinDedeoglu opened #8394 "Add Assembly at Runtime #7316"
https://github.com/aspnet/Mvc/issues/7316#issue-292684543

[2018-09-06 08:45] HumJ0218 opened #8396 "Edge, when referer url contains Chinese characters, MVC will respond code 400"
#### Is this a Bug or Feature request?:
BUG

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
\0. Use browser Edge

\1. goto a url whitch contains Chinese characters like "http://localhost:60000/测试"

\2. goto a url hosted by Core MVC like "http://localhost:60000/anyone" or load other resources in \1's page
    -- Edge will encode the request header "Referer" with

[2018-09-06 10:10] Syzard commented on #4823
Has this been fixed? Since i haven't found a way to remove them attm.

[2018-09-06 11:55] MichaCo commented on #6224
@davidfowl
That's true if you write to the response. But what if I want to push data to the request, sending a stream of data to the endpoint I'm calling without knowing how much data it will be.
The request will not return until it completed, which is where the callback of PushStreamContent comes in.

I haven't found another way then re-implementing that content with the callback myself. It seems

[2018-09-06 12:23] drauch opened #8397 "ViewComponents' InvokeAsync() not found if in base class (migration from 1.1.x to 2.1.x)"
#### Is this a Bug or Feature request?: BUG

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

* Use a base class for a ViewComponent
* Implement the InvokeAsync in the base class (and call some abstract template method of the derived class)
* Use the ViewComponent
* Start the application
* Observe the following error:

#### Version of `Microsoft.AspNetCore.Mvc` o

[2018-09-06 12:44] drauch opened #8398 "Providing a base path from "outside" does no longer work (migration from 1.1.x to 2.1.x)"
In our web tests we host a Kestrel server for our web assembly, in 1.x we did it in the following way:

    var webHost = new WebHostBuilder()
      .UseContentRoot(webClientProjectDirectory)
      .UseEnvironment("WebTesting")
      .UseSetting(WebHostDefaults.ApplicationKey, applicationAssemblyName)
      .UseStartup<TStartup>()
      .UseUrls(url)
      .UseKestrel()
      .Build();

Moving to

[2018-09-06 12:57] drauch commented on #8398
It looks like the problem is with UseUrls() if the URL contains a base path. If we remove the base path it works. However, we want to apply such a base path FROM OUTSIDE? (please don't tell me to call UseBasePath inside Startup.Configure ;))

[2018-09-06 13:00] drauch opened #8399 "Cannot find reference assembly Microsoft.AspNetCore.Mvc.Razor.ViewCompilation-x64.exe"
In our web tests we host our web application (in-process) using Kestrel. While running the actual web application works, it fails to do so in our web tests. The error is:

ViewCompilation is probably disabled, as we target the full .NET framework and do not reference the ViewCompilation.dll ... so I'm a little bit surprised to see the exe missing.

What are we doing wrong?

[2018-09-06 13:39] hubekpeter commented on #7035
@danroth27 I'm new to .net and C#, but if I understand this correctly, this is just a simple extension to the RangeAttributeAdapter's AddValidation method. It simply doesn't make sense to implement custom validation attribute if there's one already in place which works perfectly but missing one minor thing.
Something like this:
MergeAttribute(context.Attributes, "min", _min);
MergeAttribute(contex

[2018-09-06 14:36] davidfowl commented on #6224
Are you talking about the client side? If yes, then you need `PushStreamContent`. This bug isn't about the client, it's about the server.

`PushStreamContent` is included in the ASP.NET Core applications by default.

[2018-09-06 14:53] drauch commented on #8398
Not providing the base path via UseUrls() and instead using UseBasePath() also seems to prevent the UseStatusCodePagesWithReExecute to use the correct root path, i.e., a path of "/Error" in UseStatusCodePagesWithReExecute does not use the configured base path.

[2018-09-06 15:02] #8388 closed

[2018-09-06 15:04] pranavkm commented on #8394
Can you share a repro app?

[2018-09-06 15:14] MichaCo commented on #6224
@davidfowl

Technically it is server to server (3 kestrel (micro)services).
I basically have to stream data in both directions `A <=  B => C`.
B reads from A, then writes to C

Is it? Didn't find it on netcoreapp2.0 using AspNetCore.All

[2018-09-06 15:18] drauch commented on #8399
Maybe ViewCompilation is on, the error is gone after setting MvcRazorCompileOnPublish to false in the csproj.

Don't we need to package reference the ViewCompilation package in order to enable view compilation when targeting .NET full framework?

[2018-09-06 16:02] davidfowl commented on #6224
HttpClient is what I mean when I say the client. This is the MVC repository, there are features added here for HttpClient. That would be on corefx.

It's in 2.1. You can manually add https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/.

[2018-09-06 16:26] ErcinDedeoglu commented on #8394
https://github.com/ErcinDedeoglu/Swashbuckle.AspNetCore.Issue1

[2018-09-06 16:33] mkArtakMSFT commented on #8399
Thanks for contacting us, @drauch.
What is the SDK version you're using?

[2018-09-06 16:57] pranavkm commented on #8399
That sounds right. Do you see a reference to it when you search for the ViewCompilation package in solution explorer? It should tell you what project's referencing it.

[2018-09-06 16:59] pranavkm commented on #8398
@JunTaoLuo is this the same issue as https://github.com/aspnet/Home/issues/3495?

[2018-09-06 17:14] MichaCo commented on #6224
@davidfowl  ah gotcha, yeah HttpClient. Got confused for a sec. Too many byte arrays in my head..
Thanks!

Anyways, I responded here because I'm really looking forward to see with what design you guys come up with regarding streaming data in MVC.
That's basically the main thing I'm (or my team) is currently struggling with the most => transferring a lot of data from service to service.
We are usin

[2018-09-06 17:16] #8362 closed

[2018-09-06 17:33] mkArtakMSFT commented on #8393
Thanks for contacting us, @GreenHand-Ben.It's not clear what the issue is here and what your'e running into.
Can you please provide more details about the scenario as well as share with us a simple repro project?

[2018-09-06 18:02] drauch commented on #8399
@mkArtakMSFT :  2.1.401

@pranavkm : No, a grep search for "ViewCompilation" in my solution does not bring up any results.

[2018-09-06 18:20] JunTaoLuo commented on #8398
Though this is the same error, I think the scenario is different.

@drauch what do you mean by "from outside"? Is the requirement here to set the base path based on an environment variable? If so, I think it would be easiest to set two separate environment variables, one for the url and one for the path base and call UseUrls and UseBasePath on the two environment variables. While we have an explic

[2018-09-06 18:30] pranavkm commented on #7343
Summarizing our offline chat about this -

* We want to be able to provide tooling experiences (analyzers \ codefixes) out of the box. This requires being able to statically configure the application.
* We'll refactor the `ApiBehaviorApplicationModelProvider` in to a convention per feature that it enables. These conventions are agnostic of `ApiControllerAttribute` and can be used to opt in to one

[2018-09-06 18:57] Eilon opened #8406 "WebApplicationFactory WithWebHostBuilder configuration priority seems wrong"
_From @jdmichel on Wednesday, 05 September 2018 20:31:59_

I'm trying to upgrade an integration test and related app from aspnetcore 2.0 to 2.1, and running into problems with configuration settings and WebApplicationFactory.

If I use the following code, then the existing setting in appsetting.json takes precedence over the setting for the test.

[code]

If I remove the setting from appsettings.j

[2018-09-06 19:38] sam9291 commented on #6330
Based on @mdmoura's comment, I did add something to have a simple display format including the role set on the route when it has `[Authorize]` or `[Authorize(Roles = "SomeUserRole")]'

Here's the output:
[code]
Source:
https://gist.github.com/sam9291/dba558f417a04b1775b51b20eb0f96ab

[2018-09-06 20:02] mkArtakMSFT commented on #8396
Thanks for contacting us, @HumJ0218.
@Tratcher, what are your thoughts regarding this?

[2018-09-06 20:11] pranavkm commented on #8399
Strange, perhaps you have stale targets and props files in your obj directory? I tried this in a clean app and don't see any signs of the precompilation tool executing. Can you try doing a clean build and see if the problem still appears? If so, could you share project?

[2018-09-06 20:26] Schmaga commented on #8311
Thanks @pranavkm. Will provide a repo then, hopefully in the next few days.

[2018-09-06 20:59] pranavkm commented on #8396
@HumJ0218 can you set the log level to `Trace` and include it here? Would be useful to figure out what's returning the 400.

[2018-09-06 21:02] Tratcher commented on #8396
Kestrel will reject this. I've asked @JunTaoLuo to reproduce it and check the raw bytes.

[2018-09-06 21:03] JunTaoLuo commented on #8396
Kestrel rejects non-ascii headers, https://github.com/aspnet/KestrelHttpServer/issues/1144. UTF-8 encoding was added in 2.2.0-preview2 but I still don't think this request will be accepted since it doesn't look like it's UTF-8. I'll see if I can reproduce the issue and see what encoding is being used.

[2018-09-06 21:40] JunTaoLuo commented on #8398
Unfortunately we don't have a first class way of doing this on the WebHostBuilder. The issue I linked https://github.com/aspnet/Hosting/issues/1120 is the enhancement that would address this. Closing as dupe cc @Tratcher @davidfowl.

@drauch The closest thing I can think of to what you want to do is to create a StartupFilter that adds the call to UsePathBase:
[code]

[2018-09-06 21:40] #8398 closed

[2018-09-06 21:53] Ghislain1 opened #8408 "Start ASP.NET Core 2.0 Programmatically"
I just want to start ASP.Net Web Api  by clicking a Button(WPF) from any Any WPF-App(.Net Framework).

Repro steps:

1. Start WPF App
2. Press e.g. Start Button
Expected: The server started and listenning on ...!

Is that possible?

[2018-09-06 21:55] JunTaoLuo commented on #8396
Looks like this is a dupe of aspnet/KestrelHttpServer#1144. The `Referer` value `妲己` is likely being encoded as UTF-8 but Wireshark is displaying the encoding in octal as `\345\246\262\345\267\261`. I thought this was an unknown encoding at first since the octal display format confused me.

@HumJ0218 Can you try 2.2.0-preview2 when it releases to see if this issue is resolved? We started to accept

[2018-09-07 00:55] javiercn commented on #8406
@jdmichel Thanks for reaching out.

WebApplicationFactory doesn't setup any specific configuration settings for your app.

I think what you should do is call
[code]

To add testing specific settings. For more details look how the default app setup is done in the link below.

https://github.com/aspnet/MetaPackages/blob/master/src/Microsoft.AspNetCore/WebHost.cs#L169

[2018-09-07 01:09] GreenHand-Ben commented on #8393
Sorry, This is my company project, I have no examples in my hands. I can't make it public at will. Thank you very much.

[2018-09-07 02:26] aspnet-hello opened #8412 "Test failure: AddTestTagHelperComponent_FromController"
This test [fails](http://aspnetci/viewLog.html?buildId=547003&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ry

[2018-09-07 02:26] aspnet-hello commented on #8412
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-07 02:26] aspnet-hello commented on #8412
AppRelativeUrlsAreResolvedAndEncodedCorrectly [failed with about the same error](http://aspnetci/viewLog.html?buildId=547003&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-07 02:27] aspnet-hello commented on #8281
CacheTagHelper_VaryByCultureComposesWithOtherVaryByOptions [failed with about the same error](http://aspnetci/viewLog.html?buildId=547003&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-07 03:10] LiryChen commented on #8367
Hey, I am a first-timer looking for open source tasks to start off. I found this issue pretty interesting. Could I claim it? Is there anyone I can reach out to when I need help to understand the code and the issue?

[2018-09-07 06:32] HumJ0218 commented on #8396
@JunTaoLuo Thank you
I found Chrome will encode non-ascii to ascii(but show original chars in address bar). Edge or IE will be not. And Wireshark will show it in octal

I will try it in 2.2.0-p2 ASAP
Thank you again!

[2018-09-07 06:40] HumJ0218 commented on #8396
I think Edge will encode the address I request, but not endode it when in others header content
Chrome will encode at all time.
so is it a bug in Edge?

[2018-09-07 09:11] drauch commented on #8398
@JunTaoLuo : Thank you for the workaround! Hope that https://github.com/aspnet/Hosting/issues/1120 will be implemented!

[2018-09-07 09:51] mikebrind commented on #7686
@benrobot Apologies for any confusion caused by the content on my site (Learn Razor Pages). I wrote that based on the Preview of 2.1. I never use it myself, so I didn't notice that it had changed in the release candidate. I have corrected the page now.

[2018-09-07 11:33] chrischu opened #8414 "Error when posting empty multipart/form-data content"
I think I might've found a bug.

When using a controller like this:
[code]

And POSTing a request like this:
[code]

I get an InternalServerError response, the exception is:
[code]

Interestingly enough when I remove the `Content-Type` header it works correctly (meaning it returns 400 BadRequest since the required model field is not given).

I'm using ASP.NET Core 2.1.

[2018-09-07 15:59] pranavkm commented on #8367
Sure, feel free to send us a PR. [Our wiki](https://github.com/aspnet/Home/blob/master/CONTRIBUTING.md#contributing-code-and-content) has some instructions for contributing code.

With regards to this specific exception, the issue lies here - https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/RelatedAssemblyAttribute.cs#L118-L121. The method is provid

[2018-09-07 16:26] pranavkm commented on #8311
Looks like yet another case that we need to special case in https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L215-L233. `FormFileModelBinder` requires the model name to match which the provider messes with.

For 2.1, I'd recommend not specifying the attribute or if you do specify the attribute, also specify the name .e

[2018-09-07 16:42] pranavkm commented on #8394
Seems to be working fine - what exactly is the issue you're seeing?
![image](https://user-images.githubusercontent.com/174281/45231830-510b7c80-b282-11e8-9c07-99e067e42cf3.png)

[2018-09-07 16:44] mkArtakMSFT commented on #8414
Thanks for contacting us, @chrischu.
@dougbu, can you please investigate this? Thanks!

[2018-09-07 16:45] mkArtakMSFT commented on #8414
@chrischu, it would be great if you could share with us a minimalistic repro project.

[2018-09-07 16:46] pranavkm commented on #8414
Dup of https://github.com/aspnet/Mvc/issues/5631

[2018-09-07 16:49] mkArtakMSFT commented on #8397
@drauch, in order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-09-07 16:53] mkArtakMSFT commented on #8393
@GreenHand-Ben, unfortunately there is not enough information for us to assist you in any way.

[2018-09-07 16:53] #8393 closed

[2018-09-07 17:19] pranavkm commented on #8414
We can continue using #5631 to figure out what to do next.

[2018-09-07 17:19] #8414 closed

[2018-09-07 17:30] pranavkm commented on #5631
cc @chrischu

Out of curiosity, how do you get in to this scenario? I tried this in a browser, and I get an empty multipart segment, but the boundaries are present which produces a non-zero content-length:

[code]

[2018-09-07 17:45] NTaylorMullen commented on #8412
There are a ton of other tests with the exact same error. Looks like it was an actual bug that has since been resolved.

[2018-09-07 17:45] #8412 closed

[2018-09-07 17:51] JunTaoLuo commented on #8396
I'm not sure if it would be a bug.

According to spec, query string should be percent encoded: https://tools.ietf.org/html/rfc3986#section-3.4 (pchar is defined at https://tools.ietf.org/html/rfc3986#section-3.3). I think this is the reason why Chrome and Edge will encode the path line. However, I don't think there's a specified defined client behaviour in terms of header values so it's unlikely t

[2018-09-07 17:53] JunTaoLuo commented on #8396
@HumJ0218 Also, I'm assuming by "encode" you mean percent encoding? From the repro you have shown, the header values are still encoded by Edge, but the encoding it's using is UTF-8 instead of percent encoding.

[2018-09-07 18:16] pranavkm commented on #8389
The issue crops up because of the `ProducesAttribute` on your controller - https://github.com/steveoh/webapi-core/commit/1a0424708227296ee710f3d88b3f50258b8ccb0d#diff-55e8ad701f9604df8e02389acd507e77L29.  Going back to my previous comment, the opt-out semantics is basically the presence of one or more filters that implement `IApiResponseTypeMetadataProvider`. Both `ProducesAttribute` and `Produces

[2018-09-07 18:16] pranavkm commented on #8389
cc @rynowak \ @glennc

[2018-09-07 18:32] rynowak commented on #8389
If [Produces] with no types breaks conventions that's a bug and it needs to be fixed

[2018-09-07 19:20] dougbu commented on #8213
Closing as the [features/client.code.generation branch](https://github.com/aspnet/Mvc/tree/feature/client.code.generation) includes the necessary integrations.

[2018-09-07 19:20] #8213 closed

[2018-09-07 20:43] drauch commented on #8397
@mkArtakMSFT : Here you go, just execute the web app: https://www.dropbox.com/s/w52iqxoqsd6yne0/ViewComponentsInvokeAsyncNotFoundInBaseClass.zip?dl=0
(it's basically the web app template with a view component added)

[2018-09-07 20:59] Schmaga commented on #8311
@pranavkm here is the link to the repositry: [https://github.com/Schmaga/aspnet_issue_8311](https://github.com/Schmaga/aspnet_issue_8311)

You can play around with removing the compat switch and/or the attribute a bit.

A bit late, but I hope it still helps.

[2018-09-07 21:44] dougbu commented on #5631
@pranavkm in the original description, it's the whole request body and not a specific part that's empty.

[2018-09-07 21:49] Tratcher commented on #5631
@dougbu understood. The question is what client generated such a request. It's questionable if it's even valid to send `Content-Length: 0` and `Content-Type: multipart/form-data` together.

[2018-09-07 22:01] dougbu opened #8415 "Ensure all client code generation source has appropriate license headers"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
1. Review the various files
2. Will find at least a few lacking the needed headers

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`
See the [features/client.code.generation branch](https://g

[2018-09-07 22:10] dougbu opened #8416 "Remove `CodeAnnotations` and related JetBrains use from client code generation source"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
Current source inherited `CodeAnnotations` from `dotnet-ef`. Since these annotations etc. aren't really needed and we have nothing similar in the Mvc repo, just remove the class and its use.

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:

[2018-09-07 22:17] dougbu opened #8417 "Rationalize the code sharing between the three code generation projects"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
Code sharing between the code generation projects is mostly from the bottom up: GetDocumentInsider -&gt; dotnet-getdocument -&gt; Microsoft.Extensions.ApiDescription.Client but a couple of oddball cases exist and those links should be reversed.

In particular `DownloadFileCore` and `ILogWrapper

[2018-09-07 22:24] dougbu opened #8419 "Add batching in Microsoft.Extensions.ApiDescription.Client.targets"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
The amount of MSBuild code required to implement a `BlahCSharpCodeGenerator` or `BlahDocumentGenerator` target is too high at present. Aim is to incorporate batching in our common code and reduce that burden.

The canary case will be our own `DefaultDocumentGenerator`. Confirm that can't be sim

[2018-09-07 22:41] dougbu opened #8420 "Flesh out the `GetProjectReferenceMetadata` task"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
The current `GetProjectReferenceMetadata` task is basically a stub. It needs to get the requisite metadata and add it to the `Inputs` items i.e. behave like `GetFileReferenceMetadata` and `GetUriReferenceMetadata` but with `ServiceProjectReference` items. See expected metadata in the `<ItemDefi

[2018-09-07 22:44] mkArtakMSFT commented on #3041
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-07 22:44] #3041 closed

[2018-09-07 22:44] mkArtakMSFT commented on #4005
Closing this issue as there was no community involvement for quite a while now.

[2018-09-07 22:44] #4005 closed

[2018-09-07 22:49] mkArtakMSFT commented on #4071
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-07 22:49] #4071 closed

[2018-09-07 22:51] mkArtakMSFT commented on #4132
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-07 22:51] #4132 closed

[2018-09-07 22:53] dougbu opened #8421 "GetDocumentInsider code should not overwrite up-to-date API descriptions"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
1. Create a test project with a `<ServiceProjectReference/>` to an (experimental) web site providing an `IDocumentProvider` service
2. Build the project
3. Notice build creates the expected API description file (aka Swagger or OpenAPI document)

[2018-09-07 23:13] dougbu opened #8423 "Implement fix for RSuter/NSwag#1587"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
RSuter/NSwag#1587 covers the example of a code generation package's integration with Microsoft.Extensions.ApiDescription.Client that we've chosen to initiate ourselves. This issue tracks submitting our proposal for the new NSwag.ApiDescription.Client package (name not final) and getting that in

[2018-09-07 23:16] dougbu opened #8424 "Implement fix for RSuter/NSwag#1588"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
RSuter/NSwag#1588 covers the example of an API description document generation package's integration with Microsoft.Extensions.ApiDescription.Client that we've chosen to initiate ourselves. This issue tracks submitting our proposed additions to the NSwag.ApiDescription.Client package (name not

[2018-09-07 23:16] dougbu commented on #8424
(Cost estimates reflect work I've already done in this area.)

[2018-09-07 23:23] dougbu opened #8425 "Implement fix for RSuter/NSwag#1626"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
RSuter/NSwag#313 covers the `IDocumentProvider` service that we've chosen to initiate ourselves. This issue tracks submitting our proposed additions to the NSwag.AspNetCore and (at least) NSwag.SwaggerGeneration.AspNetCore packages and getting that code into `master`.

(Note RSuter/NSwag#313 is

[2018-09-07 23:27] chrischu commented on #5631
The newest version of Postman does the request like this, I'm not sure about older versions, I just know that the old Chrome App version of it definitely doesn't exhibit that behavior (it sends a request just containing the form data boundary).

[2018-09-08 03:53] Joebeazelman opened #8427 "Templates show up on some projects and not others. Why?"
I am writing a NopCommerce plugin.  In NopCommerce's Visual Studio 2017 solution file, there are several standard plugins created as independent NetCore 2.1 library projects. If I right-click on any of their projects and select "new item from template", I am able to see and select MVC template items.

For my project, however, I don't see these templates, but I did see standard and WPF ones.  I car

[2018-09-08 06:58] chrischu commented on #5631
@Tratcher No, it does define a boundary (in the content-type header), but since there is no content there is also no need to put a boundary up, right?

[2018-09-08 08:45] drauch commented on #5631
@Tratcher :

Stop it right there : ) Regardless of the user input - the system should not run into a 5xx internal server error. A 500 triggers operations teams to investigate.
A malformed HTTP request should not crash a web server. Malformed input should never crash the target system in my opinion.

[2018-09-08 13:40] HumJ0218 commented on #8396
![avatar](https://oss2.humphreyj.com/image/20180906/8.png)

This is a test

In the first request, Edge sent WHAT instead of "测试"?!!!

[2018-09-08 13:44] HumJ0218 commented on #8396
maybe it's Edge's bug not Server‘s

[2018-09-08 18:51] dougbu opened #8428 "Create single Microsoft.Extensions.ApiDescription.Client package"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
The new client code generation projects do not create packages. In addition, the generic document downloader tool's project was originally written to pack a separate global tool but that is not the chosen design. Need to create a single Microsoft.Extensions.ApiDescription.Client package, contai

[2018-09-08 18:59] dougbu opened #8429 "Add tests of client code generation components"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
Have previously been manually testing the client code generation feature. Need to automate this, including tests of the tasks, the generic document tool, and the MSBuild targets.

Tasks should be relatively simple to unit test. But, the remainder will likely need functional tests that (unfortun

[2018-09-08 19:51] JunTaoLuo commented on #8396
`æµ�è¯�` looks like an issue with Edge's display encoding. If you encode `测试` into UTF-8 bytes `\xE6\xB5\x8B\xE8\xAF\x95`, but then decode those raw bytes as extended ASCII, you'll get `æµ�è¯�`. This is a case of Edge not using the UTF-8 encoding for display but using UTF-8 encoding to convert the request line for the request. The Referer header looks to be jumbled though, and that's likely an Edg

[2018-09-08 22:37] iamdroppy commented on #6696
I agree with OP, this should be enhanced.

[2018-09-09 04:37] danroth27 opened #8431 "When using the default API conventions the swagger doc generated by swashbuckle contains responses for status code "0""
When using the default API conventions the swagger doc generated by swashbuckle contains responses for status code "0".

[code]

Is the "0" supposed to be "default" instead? Is this an issue with ASP.NET Core or Swashbuckle?

[2018-09-09 18:22] guardrex opened #8432 "Question on RP partial view discovery"
#### Is this a Bug or Feature request?:

Possible bug; possibly an *ID-10T error*

This is for work on the partial views doc expansion that covers RP: https://github.com/aspnet/Docs/issues/8188

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

https://github.com/guardrex/PartialViewsSample

#### Description of the problem:

The RP app here mirrors the layout and

[2018-09-09 21:31] rynowak commented on #8431
IIRC this is a new feature that we added, Swashbuckle would need to update. We didn't have a representation before for 'default' status codes.

[2018-09-10 01:14] GreenHand-Ben opened #8433 "Error publishing document:An unknown WinINet error has occurred (code 12113)."

[2018-09-10 02:40] #8433 closed

[2018-09-10 05:46] Tratcher commented on #5631
@chrischu do you have different headers than those shown in the original post?

@drauch Understood, the discussion of weather or not it's valid pertains to how we'd address it, not if we'd address it. If it really is valid to send a request like that we would handle it silently and you'd end up with an empty Form on the request. If it isn't valid then a 4xx response would be more appropriate and w

[2018-09-10 07:57] mikebrind commented on #8432
Partial discovery in Razor Pages is not the same as in MVC (where there is no _Pages_ folder by default). The search locations for partials in RP are (in order)

[code]

Change the name of the partial in the `PartialAsync` call to one that doesn't exist and re-run the page. You will get an error message detailing all the locations that were searched.

If you want to force the framework to pick one

[2018-09-10 08:56] drauch opened #8437 "UseStatusCodePagesWithReExecute behaves differently in 2.1.x (migration from 1.1.x)"
Hi!

We migrated from ASP.NET Core 1.1.x to 2.1.x and run into problems with our `UseStatusCodePagesWithReExecute()` middleware.

Using `UseStatusCodePagesWithReExecute("/Error")` behaves different now. Previously, if the user was at `https://server/WebApp/12345` and run into an exception we could obtain `12345` from the route values when executing the Error controller action. Now it is not possib

[2018-09-10 09:31] qibunext opened #8438 "Memory cache grows, does not automatically reclaim, I am using the method is wrong?"
Memory cache grows, does not automatically reclaim, I am using the method is wrong?
[code]

[2018-09-10 09:46] qibunext commented on #8438
[code]

[2018-09-10 09:47] qibunext commented on #8438
[code]

[2018-09-10 09:56] chrischu commented on #5631
@Tratcher Oh now I see where the confusion stems from, I reported a bug here (https://github.com/aspnet/Mvc/issues/8414) and in the reported bug I witnessed headers that included the boundary but the problem still occurred.

We now built a workaround the problem by using a decorator for `IControllerArgumentBinder` that just sets all arguments to `null` when `controllerContext.HttpContext.Request.C

[2018-09-10 10:04] rpokrovskij commented on #6436
Should it be working or what?
It still doesn't work for me with  RazorPages 2.1.2

[2018-09-10 11:48] qibunext commented on #8438
[code]
.net core 2.1.2

[2018-09-10 12:35] guardrex commented on #8432
Thanks @mikebrind ... by-design then. I'll document it this way. Thanks again.

[2018-09-10 12:35] #8432 closed

[2018-09-10 13:03] drauch commented on #5631
@chrischu : that workaround only works for 1.1.x, there is no `IControllerArgumentBinder` in 2.1.x.

[2018-09-10 16:40] mkArtakMSFT commented on #8438
Hi @qibunext.
This is a lot of code and it's hard to put the relevant pieces together. Can you please share a minimalistic repro, so it's easier to understand what's going on here.

[2018-09-10 16:46] mkArtakMSFT commented on #8437
Thanks for contacting us, @drauch.
@rynowak, can you please look into this? Thanks!

[2018-09-10 16:48] mkArtakMSFT commented on #8437
This issue was moved to aspnet/Diagnostics#478

[2018-09-10 16:48] #8437 closed

[2018-09-10 16:52] mkArtakMSFT commented on #8431
@rynowak, is there an issue in Swashbuckle repo tracking this?

Is this handled better by NSwag?

[2018-09-10 16:59] mkArtakMSFT commented on #8427
@Joebeazelman, since this is specific to VS experience, this feedback needs to go through `VS Feedback` tool. You can follow the instructions in this link: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017?view=vs-2017

[2018-09-10 16:59] #8427 closed

[2018-09-10 17:46] NTaylorMullen commented on #8281
Well it ruled out the one cause I thought possible 😲 . Now I gotta consider other possibilities.

[2018-09-10 17:53] Eilon opened #8439 "Unable to use client certificate authentication with WebApplicationFactory"
_From @karelz on Friday, 07 September 2018 14:12:44_

_From @vdachev on September 7, 2018 13:1_

Hello,

I'm trying to set up an integration test for a web application that uses certificate authentication. I use the following code fragment to instantiate the `HttpClient`:
[code]
However, I want to pass a client certificate when requesting a resource. The problem is, the client certificate collecti

[2018-09-10 17:53] Eilon commented on #8439
_From @Tratcher on Friday, 07 September 2018 15:19:49_

Client certificates are a TLS transport feature and WebApplicationFactory only uses an in-memory transport so there's no TLS involved, this isn't going to work out of the box.

WebApplicationFactory.TestServer does give you another way to do this though. Rather than using CreateClient, you can instead use CreateRequest and directly populate a

[2018-09-10 17:53] Eilon commented on #8439
_From @vdachev on Monday, 10 September 2018 05:27:04_

Okay, that makes sense.

However, the `Microsoft.AspNetCore.Mvc.Testing.WebApplicationFactory<TEntryPoint>` has `Server` property that provides a `Microsoft.AspNetCore.TestHost.TestServer.CreateRequest` method returns a `Microsoft.AspNetCore.TestHost.RequestBuilder` instance. The latter holds references to the test server itself and an `System

[2018-09-10 17:53] Eilon commented on #8439
_From @Tratcher on Monday, 10 September 2018 05:32:40_

Ah you're right, SendAsync(configureContext...) is the method you want.

[2018-09-10 18:10] Eilon opened #8440 "2.2 Adding ProducesResponseType overwrites default HTTP OK response."
_From @TrieBr on Thursday, 06 September 2018 21:56:05_

I just upgraded my ASP 2.1 project to 2.2.0-preview. I upgraded solely on "API Controller conventions" outlined in the [2.2 Roadmap](https://github.com/aspnet/Announcements/issues/307) to ease documentation generation.

When I have an action on a controller without a `ProducesRespponseType` attribute, a default HTTP status 200 is output in Ap

[2018-09-10 18:10] mkArtakMSFT commented on #6913
Talked to @glennc regarding this. The intent here is to redirect to some manageable link if the destination is external, so we can control it if necessary.
@pranavkm, if this is not done, can you please handle this? Thanks!

[2018-09-10 18:14] mkArtakMSFT commented on #6818
This is understood now. It's about logging additional data (the event name). Punting to a future release as we won't have time to handle this now.

[2018-09-10 19:04] JunTaoLuo commented on #8396
@HumJ0218 What version of Edge and Windows are you running on? I cannot reproduce this locally on my machine.
![image](https://user-images.githubusercontent.com/2030323/45318355-879afe80-b4f1-11e8-8cdc-537ecfd19d25.png)
Notice how the query string of the request and the value in the `referer` header both show `%E6%B5%8B%E8%AF%95`

[2018-09-10 21:33] dougbu commented on #8416
9437f29b1

[2018-09-10 21:33] #8416 closed

[2018-09-10 23:19] dougbu commented on #8415
38b47ed93

[2018-09-10 23:19] #8415 closed

[2018-09-10 23:50] qibunext commented on #8438
@mkArtakMSFT https://github.com/qibunext/QibuOSS2/invitations
[code]

[2018-09-11 03:41] HumJ0218 commented on #8396
Windows 10 pro 1803 , version 17134.228

Edge 42.17134.1.0
EdgeHTML 17.17134

should I upgrade them ?

[2018-09-11 04:00] HumJ0218 commented on #8396
Either I type `http://localhost:5000/?test=测试` or `http://localhost:5000/?test=%E6%B5%8B%E8%AF%95` in Edge, the program can receive the parameter `test` is `测试`

If it's `%E6%B5%8B%E8%AF%95`, SVG file or other's response code is 200. But if it's `测试`, response code is 400.

[2018-09-11 14:52] seriouz opened #8443 "Bug: ExpandViewLocations() resolving in parent folder"
#### Is this a Bug or Feature request?:
Bug

#### Description of the problem:
In-Short: I cannot use `/../` in a custom IViewLocationExpander in a viewLocation. The file on the disk won't be resolved.

https://github.com/seriouz/DelocatedRazorViews/blob/master/src/ExtractedViewLocationExpander.cs#L14

Example App: https://github.com/seriouz/DelocatedRazorViews

#### Version of `Microsoft.AspNetCor

[2018-09-11 16:03] mkArtakMSFT commented on #8443
Thanks for contacting us, @seriouz.
@dougbu, can you please look into this? Thanks!

[2018-09-11 16:06] mkArtakMSFT commented on #8440
Thanks for contacting us, @TrieBr.
@pranavkm, can you please look into this? Thanks!

[2018-09-11 16:12] joetherod opened #8444 "HttpClientFactory -ability in ConfigureServices to indicate HttpClientHandler for the HttpClient"
In the startup where you add httpclient into the new client factory, is there a way to indicate a HttpClientHandler for the added clients by name and for generic ones?
I only see the ability to configure other properties on the httpclient.

serviceCollection.AddHttpClient<IGenericHttpClient>(client => client.SetHttpClientHandler ());

[2018-09-11 16:13] mkArtakMSFT commented on #8440
At the moment the API Conventions are used in `either - or` mode. That is, as soon as you specify a custom `ProducesResponseType` attribute on an action, we'll take it as an indication that you want to have something custom. So the solution here would be to have all the necessary attributes (the merged set) applied directly on the action.

[2018-09-11 16:44] mkArtakMSFT commented on #8440
https://github.com/aspnet/Mvc/issues/8389

[2018-09-11 16:45] dougbu commented on #8443
@seriouz this is by design. For security reasons, web sites cannot reach outside their content root. Put another way, the `PhysicalFileProvider` constrains what is allowed and MVC can't override that.

Suggest setting the site's content root further up i.e. to a folder that contains both the web site and the extracted views.

[2018-09-11 16:45] #8443 closed

[2018-09-11 16:47] mkArtakMSFT commented on #8439
/cc @javiercn

[2018-09-11 16:52] mkArtakMSFT commented on #8408
@Ghislain1, did you get your issue resolved?

[2018-09-11 16:53] mkArtakMSFT commented on #8399
@drauch, did @pranavkm 's suggestion solve your issue?

[2018-09-11 16:54] mkArtakMSFT commented on #8406
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-11 16:54] #8406 closed

[2018-09-11 16:55] mkArtakMSFT commented on #8394
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-11 16:55] #8394 closed

[2018-09-11 17:22] rynowak commented on #8444
`services.AddHttpClient("foo").ConfigurePrimaryMessageHandler(..)`

https://github.com/aspnet/HttpClientFactory/blob/master/src/Microsoft.Extensions.Http/DependencyInjection/HttpClientBuilderExtensions.cs#L179

[2018-09-11 17:28] seriouz commented on #8443
@dougbu Yeah okay. But this is only for the design time on my developer machine.

I have extracted my views into a own reusable Razor UI class library. Then i added this project as a <ProjectReference>. Everything is working fine, i see the **precompiled views** etc... But now i have the problem that the designtime is very hard because for every change on a cshtml file i have to recompile the clas

[2018-09-11 17:46] drauch commented on #8399
No, not really. We're living with view compilation explicitly disabled in the csproj now, so we are currently not going to invest more time into this issue.

It's still weird ... maybe referencing an ASP.NET Core web application project from a unit test project hinders the automatic disable mechanism?

[2018-09-11 17:53] javiercn commented on #8439
This is not something that WAF is concerned with. You could achieve this with WAF by registering an IStartupFilter instance where you setup the request given for example, an incoming header.

[code]

[2018-09-11 18:11] pranavkm commented on #6913
We default to pointing to IETF RFCs and have a way to customize it at startup via options. Addressed as part of https://github.com/aspnet/Mvc/issues/8289

[2018-09-11 18:11] #6913 closed

[2018-09-11 18:19] pranavkm commented on #8431
Thought I sent them a PR to address this - https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/797/files. Maybe there's a bug.

[2018-09-11 18:28] sebastienros commented on #8438
The Memory Cache service has nothing to do with GC configuration. Anything that is put in the Memory Cache can potentially be tracked indefinitely unless a sliding or absolute expiration is set.

My recommendation is that you set a default sliding expiration every time you add something to it, at least to ensure that the memory gets released eventually. Otherwise, depending on your keys, you might

[2018-09-11 18:58] seriouz opened #8445 "Razor class lib: .cshtml changes at design time"
I recently opened the issue #8443 but i am not very happy with the answer.
My main problem is, that in my Aspnet core MVC project i have many descendant Razor class lib projects. Now when i change one of the .cshtml files in any of the projects and press F5 no change is visible. Of course the razor class libs are precompiled. So i thought i disable the precompilation with `<RazorCompileOnBuild>fal

[2018-09-11 19:02] TrieBr commented on #8440
@pranavkm Is there any way to override the default API convention? I don't see any documentation surrounding this. My problem is that I have a custom validation error response. If I could apply this globally to the API by setting a custom DefaultApiConvention, that would also solve the problem.

[2018-09-11 19:29] pranavkm commented on #8440
@TrieBr there's a section in our preview1 annoucement about authoring conventions - https://blogs.msdn.microsoft.com/webdev/2018/08/23/asp-net-core-2-20-preview1-open-api-analyzers-conventions/#authoring-conventions.

[2018-09-11 19:32] pranavkm commented on #8445
@seriouz here's another discussion about this - https://github.com/aspnet/Razor/issues/2426 with a `dotnet-watch` based solution to addressing this. The VSTS issue linked from https://github.com/dotnet/project-system/issues/3163 says it's still active.

[2018-09-11 19:37] pranavkm commented on #5631
The plan here is to return an empty form if the `Content-Length` is 0. This would only affect non-chunked requests. Chunked requests would be left as-is so would likely continue to fail in a similar way.

[2018-09-11 21:26] saddlebear opened #8446 "Model Not Binding to Subtype with Collection"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

https://github.com/saddlebear/AspNetCoreModelBindingIssue.git

Issue concerns ArticleController.cs, Models/Article.cs, Models/Image.cs and Create.cshtml.

Article class has an Image class property.
Image class contains a  List<IFormFile> field.

#### Description of the p

[2018-09-11 21:50] bchavez commented on #7818
One way I solved this is to stop using `WebApplicationFactory<T>` all together.

Refactored `Program.Main()` to:
[code]
So, my unit test fixtures new up a `var cts = new CancellationTokenSource()`, then pass the cancellation token by calling `Program.RunServer(new string[0], cts.Token)`. The server starts up as normal without having to create a separate process.

Make real HTTP calls like normal.

[2018-09-11 22:24] #1647 closed, assigned to nobody

[2018-09-11 22:27] mkArtakMSFT commented on #5790
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-11 22:27] #5790 closed

[2018-09-11 22:31] mkArtakMSFT commented on #3553
Closing this issue as there was no community involvement for quite a while now and there is also a workaround available.

[2018-09-11 22:31] #3553 closed

[2018-09-11 22:32] mkArtakMSFT commented on #5569
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.
Also a workaround available.

[2018-09-11 22:32] #5569 closed

[2018-09-11 22:35] mkArtakMSFT commented on #1519
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-11 22:35] #1519 closed

[2018-09-11 22:37] mkArtakMSFT commented on #5211
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-11 22:37] #5211 closed

[2018-09-11 22:37] mkArtakMSFT commented on #6592
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-11 22:37] #6592 closed

[2018-09-11 22:54] mkArtakMSFT commented on #6260
Closing this as it seems most of this work has been done:

[2018-09-11 22:54] #6260 closed

[2018-09-11 22:55] mkArtakMSFT commented on #7391
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-11 22:55] #7391 closed

[2018-09-11 22:57] mkArtakMSFT commented on #7399
Apparently this was already addressed as part of https://github.com/aspnet/Mvc/issues/7563.

[2018-09-11 22:57] #7399 closed

[2018-09-11 22:59] dougbu commented on #8415
Correct commit id b8dd44f617

[2018-09-11 23:00] dougbu commented on #8417
Correct commit id 792d5b49a2

[2018-09-11 23:05] SimonOrdo commented on #4117
For what it's worth, I just had the same requirement for distributed-cache-tag-helper, and ended up having to nuke the entire doggone redis cache every time I need to bust one cache item because I don't see a way to figure out the key under which the item is stored.

[2018-09-11 23:33] TrieBr commented on #8440
@pranavkm I didn't see that article before. That is exactly what I needed. Thanks for your assistance!

[2018-09-11 23:34] qibunext commented on #8438
@sebastienros
[code]

[2018-09-11 23:34] mkArtakMSFT commented on #8446
Thanks for contacting us, @saddlebear.
@dougbu, can you please look into this? Thanks!

[2018-09-12 01:26] JunTaoLuo commented on #8396
I've tested this in a VM and I'm able to reproduce it on a Chinese version of Windows 10. I can confirm this is a duplicate of https://github.com/aspnet/KestrelHttpServer/issues/1144 and using 2.2.0-preview2 that will be released tomorrow will fix the issues:
![image](https://user-images.githubusercontent.com/2030323/45396349-f2326400-b5ef-11e8-9e44-5e1d01b9e629.png)

Note that there is a bug with

[2018-09-12 01:58] HumJ0218 commented on #8396
Thank you for your time!!

[2018-09-12 03:00] LiryChen commented on #8367
Sounds great! I will look into that!

[2018-09-12 03:31] rynowak commented on #8440
Cool, please let us know what your experience with this feature is like 👍

[2018-09-12 06:00] drauch commented on #4821
Hm, there has been community interest:
https://github.com/aspnet/Mvc/issues/4821
https://github.com/aspnet/Mvc/issues/6639
https://github.com/aspnet/Mvc/issues/6645

Please reopen!

[2018-09-12 06:35] Ghislain1 commented on #8408
@mkArtakMSFT
The issue is still busted me.
The [similar question](https://stackoverflow.com/questions/50796931/launch-asp-net-core-web-api-programmatically) has been asked in StackOverflow

Do you have any idea to solve this problem?
Thank in advanced.
Ghis  from Germany.

[2018-09-12 15:05] mattman73 opened #8449 "Httpcontext is null"
#### Is this a Bug or Feature request?:
Help

#### Description of the problem:
Hi all
I need some help I have been working on a way to load a page from within the program.cs file but I can not work out how this is done I have look on the web to find the answer but for the life of me, I cannot find anything that will work.
What I'm looking to do is after a lookup I need to load the page again with

[2018-09-12 16:20] mkArtakMSFT commented on #8449
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-09-12 16:27] #8440 closed

[2018-09-12 16:32] sebastienros commented on #8438
@qibunext yes, something like this will prevent your memorycache from growing indefinitely.
However the fact that your setting is using the name Redis is confusing as it has nothing to do with MemoryCache.

[2018-09-12 16:38] rynowak commented on #8385
This all sounds really bizzare to me. I'll have to try and reproduce this to see what's going on. It's definitely intended that you can use optional parameters in pages routing.

@guardrex are there other pages at play here? Is there a page defined with the name `TheContactPage.cshtml`?

[2018-09-12 16:45] Eilon opened #8450 "IFormFile is always null when using [ApiController] Attribute in .Net Core 2.1"
_From @karelz on Wednesday, 12 September 2018 16:20:52_

_From @skamal-dev on September 12, 2018 13:36_

Not sure why this has not been documented or its a bug but whenever we use ApiController attribute in .Net Core 2.1 version, and use the api method signature as ;
[code]

Whenever we send request from client the parameter "file" is always null, though the Request.Form.Files do contain the param

[2018-09-12 16:47] guardrex commented on #8385
Let me check and confirm that the topic sample is the exact repro for these behaviors. I think it is. brb

[2018-09-12 16:48] rynowak commented on #8385
Ya, if you have a link to an existing repro I'll just use that to investigate

[2018-09-12 16:54] guardrex commented on #8385
@rynowak Yes, all of the behaviors described in the OP are evidenced by the topic's sample app ...

https://github.com/aspnet/Docs/tree/master/aspnetcore/razor-pages/razor-pages-conventions/sample/

Make requests to ...

`/TheContactPage` and `/TheContactPage/somevalue`

Then, make a request for `/TheContactPage` (the app just loads the Index page) and pop open the "Other Pages" menu item and chec

[2018-09-12 16:56] #8445 closed

[2018-09-12 17:03] effyteva commented on #6678
Hi,
+1 for fixing this, that's a really odd behavior

[2018-09-12 17:06] martincostello opened #8451 "Application fails to start if Microsoft.ApplicationInsights.AspNetCore is a dependency on Linux with 2.2.0 preview 2"
#### Is this a Bug or Feature request?:

Bug.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

To replicate, checkout martincostello/website@e0a9e36bc935d18eb9fe272357f02432080fce73 (see martincostello/website#228) and run `build.sh`.

#### Description of the problem:

The application fails to start with the following exception and stack trace:

[code]

Example

[2018-09-12 17:14] pranavkm commented on #8451
Nice catch. @rynowak could you have a look?

[2018-09-12 17:40] rynowak commented on #8385
Alright dope, I'll take a look 👍

[2018-09-12 18:53] JunTaoLuo commented on #8396
I'm going to close this issue for now since we have an understanding of the underlying issue and there's no actionable items on our side. Let us know if you encounter any other issues.

[2018-09-12 18:53] #8396 closed

[2018-09-12 19:02] dougbu commented on #8446
@saddlebear there's actually two issues here:
1. The model binding system checks whether any property of a complex model has data in the request. If not, it does not bind the model -- avoiding useless recursion. In this case, the binding source for the `List<IFormFile>` property is not correctly inferred i.e. the checks don't look in the right place. So, without `Caption` data, the system does not

[2018-09-12 19:10] rynowak commented on #8385
Wow, that's a big repo 😆 - does it help if you comment out https://github.com/aspnet/Docs/blob/master/aspnetcore/razor-pages/razor-pages-conventions/sample/Conventions/GlobalTemplatePageRouteModelConvention.cs ?

I'm still downloading all of the code so I haven't been able to test it yet, but I suspect that convention is making it so that `/Index` will have a route template with order -1 of `/{glo

[2018-09-12 19:11] dougbu commented on #8446
@saddlebear the workaround is to provide information for another property, as you did for `Caption`. If you prefer nothing be shown to users, add a hidden field:
[code]

[2018-09-12 19:15] guardrex commented on #8385
You hit something we hear about constantly from the community. Docs engineers are working on it ... something that will allow individual samples to be downloaded. https://github.com/aspnet/Docs/issues/6991#issuecomment-398104010

Yes, indeed on your early guess. The sample app is a bear trying to explain all of the scenarios. No, I didn't try commenting out the other scenarios. I'll try that now a

[2018-09-12 20:12] mkArtakMSFT commented on #3740
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-12 20:12] #3740 closed

[2018-09-12 20:44] #7343 closed

[2018-09-12 20:58] #8389 closed

[2018-09-12 21:12] mkArtakMSFT commented on #5340
Closing this as we have no plans to do this.

[2018-09-12 21:12] #5340 closed

[2018-09-12 21:14] mkArtakMSFT commented on #5217
Closing this issue as there was no community involvement for quite a while now.

[2018-09-12 21:14] #5217 closed

[2018-09-12 21:14] mkArtakMSFT commented on #3785
Looks like the tag helper @dpaquette has shared here solves the problem and it's really nice.
Closing this as there is already a good solution available.

[2018-09-12 21:14] #3785 closed

[2018-09-12 21:15] mkArtakMSFT commented on #6778
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-12 21:15] #6778 closed

[2018-09-12 21:31] mkArtakMSFT commented on #6214
Looks like the initial concern is now covered by https://github.com/aspnet/Options/issues/236. Closing this as that will cover most of the ask.

[2018-09-12 21:31] #6214 closed

[2018-09-12 21:32] mkArtakMSFT commented on #6182
Closing this as we have no plans to do this.

[2018-09-12 21:32] #6182 closed

[2018-09-12 21:35] mkArtakMSFT commented on #3909
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-12 21:35] #3909 closed

[2018-09-12 21:35] mkArtakMSFT commented on #599
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-12 21:35] #599 closed

[2018-09-12 21:36] #7096 closed

[2018-09-12 21:47] mkArtakMSFT commented on #5587
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-12 23:01] pranavkm commented on #8399
Any chance you could share a repro app? It's super strange that targets from the package execute without references to the package.

[2018-09-13 01:01] qibunext commented on #8438
@sebastienros
https://github.com/qibunext/QibuOSS2/invitations

Startup.cs
Controllers->BaseController.cs
Controllers->SitesController.cs
Controllers->Contents.cs
Controllers->CutController.cs

There are 120 or so memories in the site that are not enough to recycle without problems, but when there are many sites, 330 sites will have memory leaks.
@sebastienros

[2018-09-13 10:48] drauch commented on #8399
We'll not find the time to do a repro, sorry. Hint though: we've now also removed all runtime identifiers referencing win7-x86 and switching compilation to AnyCPU - now view compilation works. Can probably be closed. Thanks for engaging!

[2018-09-13 10:59] TimRowe opened #8454 "dynamic page cache bug?"
I build a mvc page (url is /home/time ) to show current time.
The code in the view is like below
`<p>@(DateTime.Now.ToLongTimeString())</p>`

But when I open a new tab in explorer (disable cache is not set), it would show the same time.
Just like the page is cached, but I can see it has sent request to the webserver.The time will change when i press the explorer reflesh button.

Any one can explai

[2018-09-13 15:57] mkArtakMSFT commented on #8454
Thanks for contacting us, @TimRowe.
@dougbu, can you please look into this? Thanks!

[2018-09-13 15:58] mkArtakMSFT commented on #8454
@TimRowe, have you tried to remote debug your app? Sounds like there is some kind of caching on your remote server.

[2018-09-13 16:12] dougbu commented on #8446
@danroth27 @mkArtakMSFT I discussed this issue offline with @rynowak. We agree part 2 in my comment [back here](https://github.com/aspnet/Mvc/issues/8446#issuecomment-420761645) should be treated as a bug. I'm labeling this issue as such but leaving the milestone and priority to you two.

[2018-09-13 16:15] mkArtakMSFT commented on #8446
I would like to resolve this in current milestone, so we don't have any model-binding (or at least reduce as much as possible) issues. It's kind of a can of worms.

[2018-09-13 16:29] sebastienros commented on #8438
It kind of worries me that I have to access some private codebase.

What about providing some simple reproduction of the issue, if you still think there is an issue.

[2018-09-13 16:33] qibunext commented on #8438
@sebastienros @mkArtakMSFT Thank you！
It doesn't matter, I don't know where the problem is.

[2018-09-13 16:37] qibunext commented on #8438
@sebastienros Help me review the code, thank you, I can't find the reason.

[2018-09-13 17:17] #8399 closed

[2018-09-13 17:52] dougbu commented on #8454
@TimRowe your repro Zip file contains a project that does not use `DateTime.Now` at all. Nor does it contain an action for `/home/time`. In order for us to investigate this issue, could you please provide us with a minimal repro project that illustrates the problem, preferably hosted in a GitHub repo?

Separately, what led you to the idea that MVC and not the remote hosting environment (or a proxy

[2018-09-13 17:54] steveoh commented on #8389
@pranavkm I upgraded to 2.2 preview 2 and if I remove

[code]

from my controller the conventions are applied. But I cannot specify the content type in the conventions so I need to keep that on my controller. In doing so, the other conventions are still opting out.

I'm using the `Produces(string contentType)` usage, not a `Type` so I feel as though it should be working.

Thoughts?

[2018-09-13 18:06] pranavkm commented on #8389
@steveoh the fix went in to preview3 - MVC will continue applying conventions when a `Produces("some-content-type")` is applied to the action or the controller.  @ryanbrandenburg is there a way @steveoh could try out the preview3 nightlies? I'm not entirely sure where the builds are for it.

[2018-09-13 18:15] ryanbrandenburg commented on #8389
preview3 nightly packages are [here](https://dotnet.myget.org/gallery/aspnetcore-dev). The nightly shared framework can be found [here](https://github.com/aspnet/Universe#aspnet-core-shared-framework).

[2018-09-13 19:15] nh43de commented on #8438
Possibly related to [aspnet/Home#2336](https://github.com/aspnet/Home/issues/2336)?

Have you used a memory profiler (such as redgate's https://www.red-gate.com/products/dotnet-development/ants-memory-profiler/)?

The symptom of this issue is a lot of transient disposed resources still being tracked by the DI container, and not being released. You can easily see this in a memory profiler.

These c

[2018-09-13 20:08] r3dlin3 opened #8456 "Test Controller Logic with [ApiController] attribute"
#### Is this a Bug or Feature request?:
Bug apparently

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
I have created a repo (https://github.com/r3dlin3/test-controller-logic) based on:

- .Net Core 2.1 samples : https://github.com/aspnet/Docs/tree/master/aspnetcore/web-api/define-controller/samples
- Added a test project (based on xunit) with Moq

#### Descript

[2018-09-13 20:36] pranavkm commented on #5631
Fixed in https://github.com/aspnet/HttpAbstractions/commit/d0ddb068bea92f75fa0c783e97065ecbe3b2e04c

[2018-09-13 20:36] #5631 closed

[2018-09-13 21:03] steveoh commented on #8389
OK thanks. How in the future would I know which release the code is in? Is there an obvious way to know?

[2018-09-13 21:11] sebastienros commented on #8438
I looked at the code and the first thing the strikes me is the number of locations where you are using MemoryCache. A quick search on the repos returned 80 results. And you are also just passing it around it all your layers, with dynamic keys that will potentially hold lots of database objects.

[2018-09-13 21:15] pranavkm commented on #8389
Yup.

The fix is in the preview3 release which is likely to be out mid-October. We usually do an annoucement for it like so - https://blogs.msdn.microsoft.com/webdev/2018/09/12/asp-net-core-2-2-0-preview2-now-available/

[2018-09-13 21:46] Rabadash8820 opened #8457 "Possible bug when using tag helpers for multiple Model properties with the same name"
#### Is this a Bug or Feature request?:
Possibly a bug?  If not then feature request, or at least request for a workaround :P

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Clone my super simple [MultipleInputTagHelper](https://github.com/Rabadash8820/MultipleInputTagHelper) project
2. Run it
3. Inspect the generated markup of the Index page

#### Descriptio

[2018-09-13 21:59] rynowak commented on #8451
Ah, yes, a classic.

[2018-09-13 22:38] #8451 closed

[2018-09-13 22:42] mkArtakMSFT commented on #8456
Thanks for contacting us, @r3dlin3.
@javiercn, can you please look into this? Thanks!

[2018-09-13 23:05] javiercn commented on #8456
@r3dlin3 You need to setup the controllercontext on the controller
[code]

Closing this issue as the question has been answered

[2018-09-13 23:05] #8456 closed

[2018-09-13 23:06] rynowak commented on #8456
Additionally - unit tests call **your method**. The Bad Request response comes from the framework. If you want tests for framework level things, you will need to write integration tests

[2018-09-13 23:45] qibunext commented on #8438
When the server does not have any traffic, the memory is not recycled.

[2018-09-14 01:59] TimRowe commented on #8454
@dougbu sorry, the zip is not the right, i will upload again soon.
today, I try again. I find the explorer cache the page. when I open a new tab, it load from the cache.
In my impression, dynamic pages will not be cached, is it right?

[2018-09-14 05:19] r3dlin3 commented on #8456
Unfortunately, integration does not work neither...
I'll write an example.

________________________________
From: Ryan Nowak <notifications@github.com>
Sent: Friday, September 14, 2018 1:06:43 AM
To: aspnet/Mvc
Cc: r3dlin3; Mention
Subject: Re: [aspnet/Mvc] Test Controller Logic with [ApiController] attribute (#8456)

Additionally - unit tests call your method. The Bad Request response comes from

[2018-09-14 05:31] r3dlin3 commented on #8456
Adding `controller.ControllerContext = new ControllerContext()` did not change anything

[2018-09-14 16:06] #8311 closed

[2018-09-14 16:17] #6371 closed

[2018-09-14 18:30] wangpengxpy opened #8461 "A exception occurred when debug source code"
#### Is this a Bug ? the follow

![image](https://user-images.githubusercontent.com/12961992/45568448-44dd7b80-b88f-11e8-85c2-9bffdd8cec78.png)

![image](https://user-images.githubusercontent.com/12961992/45568099-465a7400-b88e-11e8-8a29-49b06ddca602.png)

#### Description of the problem:
debug  mvc source code

#### Version of
Microsoft.AspNetCore.App：2.2.0-preview2-35157

[2018-09-14 18:59] dougbu commented on #8446
Turns out the outstanding issue, now that @pranavkm fixed #7770, is a duplicate of #7562. Will use that bug to track updating the `ComplexTypeModelBinder`.

[2018-09-14 19:00] #8446 closed

[2018-09-14 19:02] dougbu commented on #7562
Self-assigning since @pranavkm and I agree the approach in #8446 is less icky.

@mkArtakMSFT @danroth27 this bug is Pri 2 while #8446 was Pri 1. Which priority is correct?

[2018-09-14 22:38] pranavkm commented on #5701
Moving this to preview3.

* The plan is to use the content-type from `Produces` as-is if the content-type does not specify a wildcard. This should address the initial concern viz:

* For the second question,

I'm trying to figure out what the utility of that specific metadata is. Would flowing the content-type to the client suffice? If it is important, could we get Swagger generators to use some w

[2018-09-15 17:16] hishamco opened #8463 "[Bug] IRequestCultureFeature is unavailable in TagHelperComponent"
I have some localization contribution into https://github.com/simplcommerce/SimplCommerce today after a long time of investigation working on this [bug](https://github.com/simplcommerce/SimplCommerce/issues/573) I can confirm there's a localization bug, but seems MVC related.

Simply I created a `LanguageDirectionTagHelperComponent` as it's shown [here](https://github.com/simplcommerce/SimplCommer

[2018-09-16 06:58] HansMusterWhatElse opened #8464 "Issues with HttpClient and Encoding in Azure but not on Localhost Environment"
Hi guys,

I wasn't sure if this issue belongs to this repository or if it's more something for [**dotnet/core**](https://github.com/dotnet/core). Additionally I am also not 100% sure if I might have overlooked something and it would mean a lot to me if you could have a look at it.

# Introduction

I am using **.NET Core 2.1** with a **Web API** which is hosted on **Azure** as an **App Service**.

[2018-09-16 10:34] pekspro opened #8465 "Feedback about ASP.NET Core 2.2 preview web application template"
#### Is this a Bug or Feature request?:
Feature request

#### Description of the problem:
I’ve tried the preview of ASP.NET Core 2.2 and created a new web application. I do like that it based on Bootstrap 4. But I find that the template is be too simple. I would like to see some sample pages where the most common scenarios are covered on a basic level. For instance:

* A page showing how to create

[2018-09-16 14:50] obayit commented on #8367
I think the correct path is file:///c:#NIN/dotnetcore/tryx/try1
According to this article:

https://blogs.msdn.microsoft.com/ie/2006/12/06/file-uris-in-windows/

[2018-09-17 13:06] obayit commented on #8367
@mkArtakMSFT  I think this problem is really hard and should not be labled "up-for-grabs"!

Also if you can help me with something: I tried to fix it but don't know how to actually test it by running "dotnet run". how can I use the newly built mvc DLLs?

[2018-09-17 15:04] sven5 commented on #4936
@dougbu
Would you rather recommend to use GetView() when dealing with Areas?
That would mean that FindView() doesn't work for Areas.

Thanks
Sven

[2018-09-17 15:38] dougbu commented on #4936
@sven5 no, I would recommend using both `GetView(...)` and `FindView(...)` in all cases. The methods do different things but both are relevant (and work) when dealing with areas. `GetView(...)` handles paths relative to the current location while `FindView(...)` searches in the view locations.

The following fallback pattern is what we do within MVC:
[code]

[2018-09-17 16:24] ManuelHaas opened #8466 "[Bug] JsonSerializerSettings are not used correctly in JsonResultExecutor's ExecuteAsync"
`JsonResultExecutor `(Mvc/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/JsonResultExecutor.cs):
`ExecuteAsync `function uses JsonTextWriter's StringEscapeHandling property instead of serializerSettings of JsonSerializer.
Problematic line 129 in JsonResultExecutor.cs:
`jsonSerializer.Serialize(jsonWriter, result.Value);`

`JsonResultExecutor `is used in class `JsonResult `which is used in c

[2018-09-17 16:37] jgoyvaerts commented on #8159
@ryanbrandenburg can you explain the reasoning why the datetime parsing in a query only parses yyyy/mm/DD or mm/DD/yyyy dates, and doesn't parse DD/mm/yyyy correctly even when all cultures are correctly set?

Is there a configuration you can change which changes the default parsing from US parsing to something else?

And yes, I'm aware of the ability to create custom model binders, just wondering

[2018-09-17 17:27] mkArtakMSFT commented on #8466
Thanks for contacting us, @ManuelHaas.
@pranavkm, can you please look into this? Thanks!

[2018-09-17 17:31] mkArtakMSFT commented on #8465
Thanks for your feedback, @pekspro.
@danroth27, I'll leave this to you to process.

[2018-09-17 17:44] danroth27 commented on #8465
@pekspro Thanks for this feedback! It's a tricky balance to figure out how much sample code to include in the project templates so that beginners have an easy way to get started, but more experienced devs don't get frustrated with having to delete a bunch of code every time they create a project. Over the years we've heard consistent feedback the customers want a simpler template with less noise,

[2018-09-17 17:44] #8465 closed

[2018-09-17 18:00] mkArtakMSFT commented on #8464
Thanks for contacting us @HansMusterWhatElse. Would you be able to share a repro project as a GitHub repo?

[2018-09-17 18:15] mkArtakMSFT commented on #8461
Thanks for contacting us, @wangpengxpy.
Can you please share a small repro project with us?

[2018-09-17 18:15] mkArtakMSFT commented on #8463
Thanks @hishamco.
@NTaylorMullen, can you please look into this? Thanks!

[2018-09-17 18:25] khellang opened #8467 "Implicitly set content type for ObjectResults containing ProblemDetails"
A user of my problem details middleware filed an issue (https://github.com/khellang/Middleware/issues/5) thinking something was wrong with my middleware when seeing that `ProblemDetails` responses came back with `Content-Type: application/json` in some cases and `Content-Type: application/problem+json` in other cases.

The issue turned out to be MVC writing the response in the first case, and my m

[2018-09-17 18:30] pranavkm commented on #8467
Over here - https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ObjectResult.cs#L54-L57?

[2018-09-17 18:39] khellang commented on #8467
Yeah, something like that, but I think `OnFormatting` might be too late in the pipeline?

[2018-09-17 18:48] HansMusterWhatElse commented on #8464
Hi @mkArtakMSFT,

After hours of debugging I could finally manage to track it down - it's related to the fact that for some reason on Azure my gzipped response from the UserService isn't decompressed back.

I assume that for some reason the `Accept-Encoding` header is getting ignored.

I also found something related to Nginx which I hope doesn't apply to me.

![image](https://user-images.githubuse

[2018-09-17 19:11] ryanbrandenburg commented on #8159
@jgoyvaerts if you still have concerns in this area feel free to open a new issue. Your comments are likely to get missed or lost track of if you make them on closed issues.

[2018-09-17 19:42] pranavkm commented on #2677
I had a look at this but it looks like neither of the Xml based (de)serializers support populating an existing model. I'm going to close this as since there isn't a way to ship this feature that works correctly for all the formatters that MVC ships.

[2018-09-17 20:05] pranavkm commented on #8466
`StringEscapeHandling` determines how string values in the JSON document are escaped, it does not HTML escape the actual json object. Can you show what your expected output is and how it's different?

[2018-09-17 22:10] kiasyn opened #8468 "Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(69,5): error MSB6003: The specified task executable "dotnet" could not be run. The system cannot find the file specified"
#### Is this a Bug or Feature request?:
Bug: Unable to build asp.net core 2.1 projects on build server

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Repo: https://github.com/kiasyn/test-project-dotnet-build-error
This is just an empty .net core 2.1 web site created by visual studio.

#### Description of the problem:
Build server is Bamboo
Using MSbuild v15.0 (

[2018-09-17 22:32] NTaylorMullen commented on #8463
@hishamco I tried replicating this on Localization.StarterWeb with the following:

![image](https://user-images.githubusercontent.com/2008729/45653957-9c960580-ba8e-11e8-8077-0dfc301e0d9e.png)

And all worked:

![image](https://user-images.githubusercontent.com/2008729/45654015-c5b69600-ba8e-11e8-9dac-f25f227e7439.png)

One thing I did have to change was the `.GetLanguageDirection()` (removed it).

[2018-09-17 22:37] mkArtakMSFT commented on #8468
Thanks for contacting us, @kiasyn.
Sounds like this is related to the Bamboo agents, as the error seems to indicate that the dotnet.exe is not found. The location should be in the path environment variable, which may be something not setup on those agents.
We suggest filing an issue with them, unless you have a mechanism to set the path yourself.

[2018-09-17 22:37] #8468 closed

[2018-09-17 22:38] hishamco commented on #8463
`.GetLanguageDirection()` is just an extension method, I will try to provide a sample repo. but one more thing did you try it for all the requests except the first one?

[2018-09-17 22:46] pranavkm commented on #5701
I had a look at Swashbuckle and NSwag, and neither seems to have a way to configure a "file" response type. Not doing anything further in that area.

[2018-09-17 22:47] kiasyn commented on #8468
thank you @mkArtakMSFT - it did end up being a path issue (due to a java issue)

For anyone else searching, this ended up being the issue:
https://confluence.atlassian.com/bamkb/bamboo-or-remote-agent-does-not-pick-up-the-path-environment-variable-correctly-when-running-as-a-windows-service-323982768.html

[2018-09-17 22:48] mkArtakMSFT commented on #8464
Sorry @HansMusterWhatElse. No ideas really around this. As for Nginx, I don't think it's involved here in any way. Closing this as this is really external to this repo.

[2018-09-17 22:48] #8464 closed

[2018-09-17 23:00] mkArtakMSFT commented on #8457
Thanks for contacting us, @Rabadash8820.
@dougbu, can you please look into this? Thanks!

[2018-09-17 23:04] mkArtakMSFT commented on #8449
Hi @mattman73.
Did you get a solution to your question already? Assuming you've already posted it on StackOverflow, did you?

[2018-09-17 23:05] mkArtakMSFT commented on #8439
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-17 23:05] #8439 closed

[2018-09-17 23:07] mkArtakMSFT commented on #8438
Thanks for looking into this, @sebastienros.
@qibunext, we're closing this issue as this is not related to ASP.NET Core MVC.