[2018-02-22 10:14] nphmuller opened #7399 "ApiExplorer documents required properties confusingly"
On ASP.NET Core 2.0, but this also affects older versions. See [this repo](https://github.com/nphmuller/ApiExplorer_IsRequired) for a working repro.

Say I have the following controller action and model:
[code]

When I check the `ModelMetadata` of the `ApiParameterDescription` from `Param1` the property `IsRequired` is set to true. See the following code which is part of `Startup.cs`:
[code]

This

[2018-02-22 11:09] Lechus commented on #7396
Web API does not need to set/send it client, does it?

[2018-02-22 15:39] karthicksu opened #7400 "Memory Leak in ASP.NET 2.0.5"
I'm developing an web app using asp.net core. When I run the app in VS 2017 (15.5.5) with Diagnostic tools enabled, memory is constantly increasing at-least 10 to 20MB per click. I thought the app has a memory leak and troubleshooting the app for many hours and I've landed on this link https://blog.markvincze.com/troubleshooting-high-memory-usage-with-asp-net-core-on-kubernetes/

I have created a

[2018-02-22 17:41] NTaylorMullen commented on #7393
@BrianMinister could you provide a repro app? I'm unable to reproduce the issue using 2.0.5.

[2018-02-22 17:47] mkArtakMSFT commented on #7400
Hi @karthicksu.

Thanks for reporting this issue. One of our engineers will investigate this and get back to you as soon as we'll get more data.

/cc: @DamianEdwards, @Eilon , @rynowak, @danroth27

[2018-02-22 17:48] mkArtakMSFT commented on #7400
@pranavkm, can you please look into this one? Thanks

[2018-02-22 17:51] mkArtakMSFT commented on #7396
@javiercn, any suggestions here?

[2018-02-22 17:57] mkArtakMSFT commented on #7399
Hi @nphmuller. Thanks for contacting us.

@dougbu, can you please look into this?

[2018-02-22 18:01] mkArtakMSFT commented on #7391
@danroth27, what do you think about this?

[2018-02-22 19:07] BrianMinister commented on #7393
Please bare with me. But I am building a new repro project, on the hopes that I can discover and post the problem. Also I am getting a funny red underscore in VS2017 from my layout page, at the place of another one of the build issues.

[code]

I'll try to have this done by EOD.

[2018-02-22 19:12] pranavkm commented on #7397
Self assigning this for investigation

[2018-02-22 19:36] javiercn commented on #7396
@Jon-Murray Can you provide more details on what you are doing on your startup class?
[code]
Seems like you are using Views in your app. Calling
`services.AddMvcCore().AddViews()` will bring antiforgery services along and some of our components in our views (form taghelper) generate antiforgery tokens automatically for you, which is the likely reason you are seeing the cookie being set.

**I EXTRE

[2018-02-22 19:48] NTaylorMullen commented on #7393
@BrianMinister Hmm, you definitely should not have any errors at that location. Also, given that you have to add usings for System.Threading/System.Threading.Tasks I'm thinking your VS is in a broken state. Have you tried repairing VS?

[2018-02-22 19:56] dougbu commented on #7399
@nphmuller sounds like Swashbuckle is misinterpreting `ModelBinding.IsRequired`. (ApiExplorer doesn't reference the property.) That property has different client- and server-side meanings: The client-side interpretation shouldn't be relevant to Swashbuckle. Server-side, `ModelBinding.IsRequired` means the value must be non-`null` after model binding; it does not mean a value must be submitted.

Sw

[2018-02-22 19:59] dougbu commented on #7399
Fixed `ModelBinding` -> `ModelMetadata` typo in previous response.

[2018-02-22 21:14] ryanbrandenburg commented on #7307
Closing this. If you're still having trouble let us know.

[2018-02-22 21:14] #7307 closed

[2018-02-23 02:14] muratg commented on #7400
@karthicksu How long did you run the experiment for?  I'd expect to see the memory grow up to a point and stay constant even with additional requests after that. I'd be curious to understand why if not.

[2018-02-23 10:16] karthicksu commented on #7400
@muratg I got it! The last two experiments was without the following tag in .csproj, and the solution was not properly built.
`<PropertyGroup> <ServerGarbageCollection>false</ServerGarbageCollection> </PropertyGroup>`

When I run the project without the tag ServerGarbageCollection, memory usage increases from 200MB to 579MB, after that it stays constant. This time the experiment ran up to 7min. 57

[2018-02-23 11:05] nphmuller commented on #7399
@dougbu What I'm trying to determine is which parameters would result in a BadRequest response if they're not part of the request. The BadRequest is generated when the `ModelState.IsValid` property in the controller is false.

What property can I use in the ModelMetaData to determine this? Because `ModelMetaData.IsBindingRequired` still gives false for an `int?` that is decorated with a `RequiredA

[2018-02-23 16:51] dougbu commented on #7399
As you've demonstrated, `ModelMetadata.IsRequired` doesn't give you this information. In broad strokes:
1. Actions may choose not to check `ModelState.IsValid`, to substitute default values, or whatever. Returning a `BadRequest` response is *optional*.
1. If `ModelMetadata.IsBindingRequired == true` and no value is submitted for the associated property, `ModelState.IsValid` will be `false`.
1. If

[2018-02-23 17:06] FabioNevesRezende commented on #5918
I'm also having this same issue. Cleaning the NuGet folder and rebuilding the project didn't solve

[2018-02-23 17:55] ygoe opened #7402 "Password isn't rendered in the view"
In my application's Change Password view, I request the user to enter the current and the new password. If something isn't correct, an error message is displayed for the appropriate input field. So if the current password is correct but the new password isn't allowed or something, the following happens:

* The current password has no error, but after submitting the form and returning back to it, i

[2018-02-23 19:12] mkArtakMSFT commented on #7402
@javiercn, is there any way to force MVC to maintain the filled in values in the credential fields? /cc @blowdart

[2018-02-23 20:46] muratg commented on #7400
@karthicksu It depends on what you want your performance goals are, what your load profile looks like and probably other factors.  Having "high memory usage" is not necessarily bad thing on itself and there are good reasons for ServerGarbageCollection feature (for more information, see https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element)

[2018-02-23 20:51] javiercn commented on #7402
I do believe this is by design. This is the behavior MVC has had for password input fields for a long time. @blowdart can provide details about the specific reasons why this is done.
This is also the same behavior most sites have when dealing with users credentials.

You can change that view to have whatever logic you want and write the form inputs yourself using `@Html.ValueFor())`

[2018-02-23 21:10] ygoe commented on #7402
Is there any more information about it that [this stub](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.rendering.htmlhelpervalueextensions.valuefor?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.AspNetCore.Mvc.Rendering.HtmlHelperValueExtensions.ValueFor%60%602);k(DevLang-csharp)%26rd%3Dtrue%26f%3D255%26MSPPErro

[2018-02-23 21:23] javiercn commented on #7402
@dougbu Can you provide more details about this?

[2018-02-23 21:50] mkArtakMSFT commented on #6796
@pranavkm, can you please look into this? Thanks

[2018-02-23 21:59] pranavkm commented on #6796
I think @rynowak might have some investigating in to some of this already - see https://github.com/aspnet/Mvc/issues/6111. I'll sync up with next week to see if there's something actionable we could do for preview2

[2018-02-23 22:24] fiksen99 commented on #3874
as per HTTP/1.1 spec: https://www.w3.org/Protocols/rfc2616/rfc2616-sec7.html#sec7.2.1

[emphasis mine]

Based on this deinition, ASP.NET Core is not going against a "must"/"must not" portion of the spec. However the bolded section indicates that there should be a default value.

So in the request received pipeline - empty content-type should be coerced into "application/octet-stream" and then mode

[2018-02-23 23:04] dougbu commented on #7402
If you have client-side validation enabled, the error is correct: The password hasn't been entered or reentered.

Whether or not passwords are secure within your system is not the issue here. Round-tripping a password back to the browser would expose it on the page. The basic idea is to shorten the period in which someone else could view the page source and to minimize the requests and responses c

[2018-02-23 23:07] mkArtakMSFT commented on #3173
Moved this out to 2.2.0 as we won't be doing this earlier than that.

[2018-02-23 23:09] mkArtakMSFT commented on #3173
@DamianEdwards, any suggestions regarding this?

[2018-02-23 23:32] javiercn commented on #3874
Old Web API used to have that behavior and it was a frequent source of issues for customers. The current behavior, while not "fully compliant" is less surprising to our customers and results in a better experience.

The result in the general case would be the same as we don't have any formatter that handles application/octect-stream and there is no useful way the framework can provide a mapping be

[2018-02-24 01:14] javiercn commented on #4627
I do believe that this is at this point of negligible value and we should just go ahead and close it.

[2018-02-24 01:47] rynowak commented on #4627
Why?

[2018-02-24 12:15] zhanglong19891129 opened #7403 ".net core2.1 And .net Core 2.0(My English is not good)"
It Failed When I bulid the source code  in VS2017 (latest edition) .
It‘s Message such as : VS2017 does not support.net CORE2.1 needs to switch to.net CORE 2.0.
How do I switch?

[2018-02-24 13:37] blowdart commented on #7402
As everyone said this is very much by design, it's not going to change, otherwise you can end up round tripping passwords into a page, and that, in the case of an XSS exploit is very bad news.

[2018-02-24 13:37] #7402 closed

[2018-02-24 14:49] ygoe commented on #7402
Well, if you have malicious scripts running on your page, even entering a password is bad. My current situation is a Change Password form and if the new password is rejected by the server (for example because it's too simple – a decision hard to implement client-side and hard to know for the user), then at least the correct current password should remain intact. Either way, I understand your repea

[2018-02-24 17:07] jdvachal commented on #6769
I'm getting the same exception as above:
`The name 'PageContext' does not exist in the current context`

I've followed your suggestion to add the @inherits to my _ViewStart
[code]
I then have the following in my _ViewImport
`@inherits ProjectRazorPageBase<TModel>`

The base class is defined as follows:
`public abstract class ProjectRazorPageBase<TModel> : FrameworkRazorPageBase<TModel>`

The frame

[2018-02-24 18:59] javiercn commented on #4627
* The build is faster now than when this work item was filed.
* The difference in time is not likely to be significant.
* Most of our work these days happens elsewhere.
* The effort to untangle this is not trivial.
* We've been punting this for a long time, if we still haven't done it after so long is because its not clear what the ROI of doing this is, so we should accept that and close it.

[2018-02-25 19:05] BrianMinister commented on #7393
This problem seems to be project specific. I have spun up a couple more projects and I don't have this problem.

[2018-02-25 19:45] lkubis opened #7404 "How to localize DataAnnotations with custom IStringLocalizer"
I'm following the article [Globalization and localization in ASP.NET Core -
 DataAnnotations localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#dataannotations-localization), but I'm not able to make it running.

What I have is:

**MyStringLocalizer**

    public class MystringLocalizer : IStringLocalizer
    {
        private readonly Dictionary<string, string> _

[2018-02-26 06:46] domaindrivendev commented on #7399
@dougbu - thanks for your insight. From what you've described, the semantics around `BindRequired` and `IsBindingRequired` appear to be well aligned to the `required` field in Swagger/JsonSchema, and therefore might be the most appropriate way for Swashbuckle to infer it's value. However, I've noticed `BindRequired` has no effect for body parameters, i.e. parameters that are explicitly decorated w

[2018-02-26 08:20] karthicksu commented on #7400
@muratg Thanks for the reply, provided link helps to understand the behavior of GC. It seems, in .NET Framework, by default **ServerGarbageCollection** is set to **false**. Therefore, it doesn't increase the memory usage.

It would be great if the same default value (**ServerGarbageCollection** set to **false**) in .NET Core also.

[2018-02-26 08:30] davidfowl commented on #7400
@karthicksu ASP.NET applications on .NET Framework set it to true by default as well.

[2018-02-26 08:43] karthicksu commented on #7400
@davidfowl

Is this [https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element) different from ASP.NET configuration?

[Screenshot](https://www.screencast.com/t/927tVJMv)

[2018-02-26 08:49] sreejukg opened #7405 "Execute Razor page from Middleware"
I am planning to write a middleware that sends a razor page back to the user. the user may use get/post with all other features. The Middleware need to execute a particular razor based on some values stored in the database. I am interested to view multiple options.

[2018-02-26 08:55] nphmuller commented on #7399
@dougbu
First of all, thanks for the detailed reponse.

True but in ASP.NET Core 2.1 the `ApiController` attribute will automatically return a 400 when `ModelState.IsValid` is false, so it will become more common.

So the suggested approach would be something like this?
[code]

Would it be in the use-case of ApiExplorer to provide the above code out-of-the-box? If so, consider this a feature reque

[2018-02-26 12:18] nphmuller commented on #7399
@dougbu First of all: thanks for the detailed response.

True, but since the `ApiController` attribute in 2.1 will default to a 400 response when `ModelState.IsValid` is false it will become more common.

I've taken these directions and written the following method. I've also added a case for parameters from path.
[code]

Is there an easier way to implement `HasDefaultNullValue(...)`? Or an easier

[2018-02-26 12:27] nphmuller commented on #7399
I also noticed another problem: the `ParameterDescriptor` property on `ControllerParameterDescriptor` doesn't exist in version 1.x. So there would be no (straightforward) way to implement `case ModelMetadataKind.Type:` in `HasDefaultNullValue()`.

Not that big a deal though, since query parameters have `modelMetadata.IsRequired` always set to false on ASP.NET Core < 2.1.

[2018-02-26 13:06] Apollo3zehn opened #7406 "Exception: PDB stream should not be given when embedding PDB into the PE stream."
I am getting an exception when trying to access a web page of a ASP.NET Core MVC project with the following setup:

[code]

**The exeption is:**

_ArgumentException: PDB stream should not be given when embedding PDB into the PE stream. Parametername: pdbStream_

**with the following stack trace:**
[code]

This does not happen, when I change the DebugType property to something else like `portable`.

[2018-02-26 16:02] davidfowl commented on #7400
Yes. ASP.NET uses server GC by default.

[2018-02-26 16:42] pranavkm commented on #7406
Seems like a bug. `RazorViewCompiler` uses the project's `DebugType` settings to determine the kind of pdb to produce, however it does not change the inputs to `Compilation.Emit` depending on the pdb type. https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs#L828-L831 has the equivalent code from csc, we should model our code accordingly.

@mkArtak

[2018-02-26 17:47] mkArtakMSFT commented on #7399
Thanks @dougbu, @nphmuller. It seems the only ask left here is to make it easier to understand whether given request parameter is required or not. Hence, marking this as an enhancement an putting this onto our backlog for future consideration.

[2018-02-26 17:50] mkArtakMSFT commented on #7406
Thanks for looking into this, @pranavkm. What is the impact of this? Will this impact every customer, who has <debugType> set to `embedded`? Also, in which scenarios users would use that flag?

[2018-02-26 17:53] mkArtakMSFT commented on #7400
Thanks everyone. Closing the issue as the behavior observed is by-design.

[2018-02-26 17:53] #7400 closed

[2018-02-26 17:56] mkArtakMSFT commented on #7405
Thank you for contacting us.
To evaluate this feature request, we'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve?

[2018-02-26 17:56] mkArtakMSFT commented on #7405
/cc @rynowak

[2018-02-26 17:57] mkArtakMSFT commented on #7404
Hi. It looks like this is a question about how to use localization in ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-02-26 17:59] mkArtakMSFT commented on #7404
@ryanbrandenburg, can you please assist with this request? Thanks!

[2018-02-26 18:00] mkArtakMSFT commented on #7393
@BrianMinister, would be interesting to see the diff between two project files...

[2018-02-26 18:02] pranavkm commented on #7406
* View compilation would fail by default if the user sets `DebugType = None or DebugType = Embedded` (both scenarios handled by csc's code).
* DebugType = Embedded includes sources in the generated dll. I guess you get better stack traces with it?

[2018-02-26 18:09] mkArtakMSFT commented on #7403
Hi @zhanglong19891129. Can you please provide more details about what your'e trying to do? Are you trying to build our source code?

[2018-02-26 18:23] Apollo3zehn commented on #7406
I am using this flag to step into the source code of plugins which are distributed via NuGet package.

[2018-02-26 18:36] BrianMinister commented on #7393
Sigh... After weeks of this problem, today I go in, and nodda, as in no error.

The only thing that changed is the addition of Identity server lib to my project, and MSTest V2 Templates for VB are disabled. Our team's last VB project from 2003 finally was retired, but that was in a completely different repository and solution.

I'm going to close this, and if the problem shows up again, then reope

[2018-02-26 18:36] #7393 closed

[2018-02-26 20:00] ryanbrandenburg commented on #7404
@lkubis I tried to reproduce this by doing `dotnet new razor` then makes the changes you posted above and it worked as expected, giving "Name Localied" out of the localizer and as the label for Model.Name.

In order to help further I would need a full repro app as a github repo so that I can see the exact code that's not working, as something seems to have been lost in the copy.

[2018-02-26 21:11] oising commented on #7366
So, I got this to work over IIS Express with Kestrel feeding it in ASP.NET Core 2.x (web api project). Here are the pertinent bits:

.vs/config/applicationHost.config / system.webServer / security / access
[code]

Startup.cs
[code]

Simple IAuthorizationFilter attribute for putting on controller class
[code]
Just put that attribute at the head of your controller. My "Release" build is targeted at

[2018-02-26 21:14] blowdart commented on #7366
Huh, interesting that Azure puts it in a weird header.

[2018-02-26 21:18] oising commented on #7366
@blowdart Well, the header name should give it away: It's being pass along from the Application Request Routing layer (ARR). Essentially it's proxied.

[2018-02-26 21:35] blowdart commented on #7366
Yup. It's a shame we don't map that properly in our header forwarding middleware. I added it to my cert auth handler :) https://github.com/blowdart/idunno.Authentication/commit/ce66248872fcdad02814a373e890f59ff33bd144

[2018-02-26 21:38] brockallen commented on #7366
Why not just add a middleware that changes the name of the incoming header to match what the rest of the pipeline is expecting?

[2018-02-26 21:40] blowdart commented on #7366
That's what I would have thought the header fowarding middleware did. But it doesn't. Sadness.

[2018-02-26 21:56] lkubis commented on #7404
I apologize, but after another review of my code, I found out that the problem was on my side. I was doing such a complicated things in ConfigureServices method, and after simplification, it started to work as expected. Thanks

[2018-02-26 21:56] #7404 closed

[2018-02-26 22:05] fiksen99 commented on #3874
This is what I'd already ended up doing via a ResourceFilter: https://gist.github.com/fiksen99/61cef3d1e9af8830e12933e70a2437af

However it still feels like this behaviour is broken. Why should the existence of Content-Type matter when the body of a request is null? Regardless of Content-Type, we should be able to map this to a null/Default(T), and have my controller handle the request, instead of

[2018-02-26 22:51] ryanbrandenburg commented on #7404
No worries, glad we could help!

[2018-02-26 23:03] pranavkm commented on #7397
Resolved in https://github.com/aspnet/Razor/commit/b538ceba9365a018eadc48bbe57dc9b2a76cbd90

[2018-02-26 23:03] #7397 closed

[2018-02-26 23:11] dougbu commented on #6944
Think the decision in #7351 was to leave this alone.

Not exactly new since these many (most?) of these attributes exist in Web API.

Why not place `[BindProperty]` on the property or properties you'd list in `Include`? Not sure why we'd add an additional way to include properties.

This part of the proposal also seems to worsen the original "binding attributes &hellip; overlap in some ways which

[2018-02-26 23:26] rynowak opened #7408 "Updates to ViewData from a _ViewStart for a Razor Page behave wierdly"
This is an inconsistency between views and pages, and results in `ViewData` doing wierd broken when used in a _ViewStart and in a Page.

**Repro:**

1. Open Mvc.NoFun.sln
2. Write the following the MvcSandbox/Pages/_ViewStart.cshtml
[code]

3. Write the following the MvcSandbox/Pages/_ViewStart.cshtml
[code]

4. Run MvcSandbox and navigate to /PagesHome

The title will be `ViewStart  - MvcSandbox`

[2018-02-26 23:26] rynowak commented on #7408
/cc @shanselman FYI

[2018-02-26 23:37] ryanbrandenburg commented on #6099
Do the changes in [this](https://github.com/aspnet/Mvc/commit/665c767af663f2ef804db7eb6a2a66b949102efd) commit reflect your scenario? If so it seems like this might have been solved in the meantime. If not could you give us a bit more detail, preferably with a reproduction app?

[2018-02-26 23:37] pranavkm opened #7409 "Add support for ViewDataAttribute in Razor views"
As part of https://github.com/aspnet/Mvc/issues/6525, one interesting idea was to introduce a new directive + supporting semantics to add ViewDataAttribute to Razor views.

Some ideas:
[code]
A possible prereq for this might be revisit the architecture of `RazorView`. Unlike controllers and Razor Pages which have a way to control behavior and lifecycle without having to bake things in via filters,

[2018-02-26 23:38] dougbu commented on #7360
Clearing the rest of the labels and adding `super-triage`. Believe the idea is to add an MVC analyzer that detects `[Required]` on top-level, non-`string` nodes (parameters and controller or page model properties), perhaps on all parameters and properties that have collection or complex types.

(May make sense to edit the title if I understand the plan.)
## Rationale
`[Required]` on a complex type

[2018-02-26 23:43] shanselman commented on #7408
So to be clear, this works in the right order in MVC but not in Razor Pages, right? So the ViewData is somehow a different instance between the two?

[2018-02-26 23:44] DamianEdwards commented on #7408
@shanselman you mean "in views but not in pages", as they're both MVC

[2018-02-26 23:44] shanselman commented on #7408
Gotcha. Edited. Which is why this is weird as it's all "the same thing."

[2018-02-27 00:28] pranavkm commented on #6525
Filed https://github.com/aspnet/Mvc/issues/7409 to track design of `@viewdata` directive. For 2.1.0, `ViewData` annotated properties that are set in controllers or pages, can be looked up by their names in `ViewData` i.e. this works:

[code]

Making this work in partial model is difficult - primarily because Mvc does not manage own their life cycles today. @DamianEdwards wanted us to consider ways

[2018-02-27 00:56] pranavkm commented on #6602
@rynowak \ @mkArtakMSFT, @DamianEdwards showed interest in this feature + [CookieData](https://github.com/aspnet/Mvc/issues/6603) if there's time to do this for preview2. These should be relatively low cost once we get https://github.com/aspnet/Mvc/pull/7385 in

[2018-02-27 01:22] rynowak commented on #7408
Yup. Pages have some magic for ViewData that do some extra things, but it apparently has a bug.

[2018-02-27 01:34] brockallen commented on #7366
I was suggesting a custom one to 'correct' the current sad middleware. Whatevs :)

[2018-02-27 02:18] zhanglong19891129 commented on #7403
@mkArtakMSFT  yeah, The first step is to run the build.cmd.   But It's Failed when downloading the package  of  https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.300-preview2-008173/dotnet-sdk-2.1.300-preview2-008173-win-x64.zip . So It thrown exception : VS2017 does not support .net core2.1 needs to switch to .net core2.0  when I  build solution in VS2017 .

[2018-02-27 04:20] epignosisx opened #7410 "Consider adding a version of Response.Cookies.Append that does not encode"
I have run into the scenario where I'm receiving cookies properly encoded from a third party system and when calling ```Response.Cookies.Append``` it is doing a second round of encoding.

Could you consider adding another property to ```CookieOptions``` to skip the encoding? Basically:

[code]

[2018-02-27 05:43] zhanglong19891129 commented on #7403
![k_j nv i yzuujy74 egv](https://user-images.githubusercontent.com/17588408/36712514-2364f234-1bc4-11e8-8618-ef9c14672363.png)

![qq 20180227134018](https://user-images.githubusercontent.com/17588408/36712529-2fd20eb2-1bc4-11e8-8a18-16c12d7dd54c.png)
![qq 20180227133658](https://user-images.githubusercontent.com/17588408/36712539-35f1e9d4-1bc4-11e8-899e-0796eb35ec6a.png)

[2018-02-27 08:03] danroth27 opened #7411 "Error information for deserialization failures should be at the appropriate level in the model state"
In 2.1 preview1 with this web api controller:

[code]

If I send this request with invalid JSON:

[code]

I get this response:

[code]

Notice that the error for the deserialization failure is associated with the count property. I think in this case it should be a top level error instead.

[2018-02-27 12:51] JeremySkinner opened #7412 "AspNetCore 2.1 breaks integration with 3rd party validation libraries"
Hi, I maintain the [FluentValidation](github.com/jeremyskinner/fluentvalidation) project which contains integration components with AspNetCore.

Unfortunately 2.1 preview 1 breaks this integration. In previous versions, it was possible to implement a custom `IObjectModelValidator`. This worked as the entry point for the validation process where I could then customize the validation behaviour by pr

[2018-02-27 14:30] davenewza commented on #7323
Yes, this is a bit of a problem for us. Is there an interim solution to prevent this?

[2018-02-27 18:10] stevejgordon opened #7413 "Route Parameter ModelBind behaviour change in 2.1"
I've attempted an upgrade of an ASP.NET Core 2.0 project to 2.1 using the preview1 packages now available on nuget.

We have a custom IModelBinderProvider in the app and I noticed an exception being thrown since the upgrade. I noticed this on a GET action which accepts a route parameter.

In 2.0 the route parameter is ignored by our IModelBinderProvider as the Metadata.PropertyName is null.

In 2.

[2018-02-27 18:12] mkArtakMSFT commented on #7413
Thanks @stevejgordon. @dougbu, can you please look into this?

[2018-02-27 18:23] pranavkm commented on #7344
@mkArtakMSFT \ @danroth27 could we triage this for preview2? It's a small cleanup

[2018-02-27 18:52] pranavkm opened #7414 "Make IErrorDescriptionFactory internal or remove it"
Another fit and polish item from KodKod work. We have a type, but haven't fleshed out it's design. We should make the interface internal or remove it so we can design it to have the right shape once we have all the pieces.

[2018-02-27 18:52] pranavkm commented on #7414
cc @rynowak

[2018-02-27 19:23] pranavkm commented on #7403
@natemcmaster any guesses on why the CLI download might fail?

[2018-02-27 19:36] natemcmaster commented on #7403
CDN issues? https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.300-preview2-008173/dotnet-sdk-2.1.300-preview2-008173-win-x64.zip works for me.

[2018-02-27 19:45] dougbu commented on #7413
2.1 Preview1 adds support for `ValidationAttribute`s on action parameters and controller properties. That new feature includes a new `ModelMetadataKind.Parameter` and, for that kind, `ModelMetadata.PropertyName` stores the *parameter* name and `ModelMetadata.ContainerType` is `null`.

The quickest fix for your 2.1 Preview1 app is to change
[code]
to
[code]

[2018-02-27 19:51] dougbu commented on #7413
And. @stevejgordon you're correct that our `ModelMetadata.DebuggerToString()` makes a similar assumption about non-`ModelMetadataKind.Type` metadata. It will hit an NRE for any `ModelMetadataKind.Parameter` metadata.

[2018-02-27 20:57] mkArtakMSFT commented on #6633
@DamianEdwards, what should the user experience be here? There are essentially two scenarios here:

[2018-02-27 21:25] mkArtakMSFT commented on #7403
@zhanglong19891129, are you able to download the https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.300-preview2-008173/dotnet-sdk-2.1.300-preview2-008173-win-x64.zip manually?

[2018-02-27 21:27] mkArtakMSFT commented on #7414
@ryanbrandenburg , can you please handle this? Thanks!

[2018-02-27 21:29] mkArtakMSFT commented on #7344
@jbagga, can you please handle this? Thanks!

[2018-02-27 21:45] stevejgordon commented on #7413
Thanks @dougbu and @mkArtakMSFT for investigating so quickly.

Is this likely to change before RTM? I can imagine it's possible that quite a few people are using similar code which may break in these circumstances. If this is to be the recommended workaround I'll include details in my upcoming blog post :-)

[2018-02-27 23:15] dougbu commented on #7413
@stevejgordon the target milestone for a fix is `2.1.0-preview2`. That's not a firm commitment but it is a description of our intent.

A fix will entail some or all of the following
- Add a `ParameterName` property to use instead of `PropertyName` when it's `ModelMetadataKind.Parameter` metadata or add a `Name` property that is non-`null` for anything but `ModelMetadataKind.Type` metadata
  - That

[2018-02-28 01:26] zhanglong19891129 commented on #7403
@mkArtakMSFT yes,I have downloaded it manually

[2018-02-28 01:34] natemcmaster commented on #7403
Extract the zip to `%USERPROFILE%\.dotnet\x64`. You will likely have to do this for a few other things to. Our build scripts will frequently try to pull from  https://dotnetcli.azureedge.net.

[2018-02-28 01:36] natemcmaster commented on #7403
By the way, why are you trying to build our source code? I may be pointing out the obvious, but if you are just trying to use MVC in your own application, you do not need to build it yourself: you can get MVC from NuGet.org.

[2018-02-28 01:57] zhanglong19891129 commented on #7403
@natemcmaster  this problem is come from building source code . I just want understand how it's working by running  the unit testing application.

[2018-02-28 03:54] #7352 closed

[2018-02-28 05:42] pranavkm commented on #7357
@jdmallen `SecurityIdentifier` has an `AccountDomainSid` property which is of `SecurityIdentifier`. Each descendant `AccountDomainSid` is a different instance of `SecurityIdentifier`. Here's what you get when you tell Visual Studio to uniquely identify each object instance (Make Object Id):

![image](https://user-images.githubusercontent.com/174281/36771616-6803ed68-1c06-11e8-8f4e-db762781903a.png

[2018-02-28 08:35] zhanglong19891129 commented on #7403
@natemcmaster  I  run  build.cmd successful today.
![qq 20180228162826](https://user-images.githubusercontent.com/17588408/36777590-00fac25a-1ca5-11e8-9a56-1f974c823250.png)
But It's still have some problems  :
![qq 20180228162719](https://user-images.githubusercontent.com/17588408/36777621-22f22f88-1ca5-11e8-866b-16f77a2a5467.png)
![qq 20180228162826](https://user-images.githubusercontent.com/175

[2018-02-28 13:08] senritsu commented on #3983
Since a colleague just stumbled across that issue again, and i re-discovered this issue while searching for a solution, has anything happened with this issue or is there an ETA?

[2018-02-28 15:50] jdmallen commented on #7357
Thanks @pranavkm for responding and for the helpful code snippet. I'll certainly add it to future projects to future projects to address this issue should it come up again.

Surely there's a way for this to fail more gracefully, though, or at least for Mvc to alert the developer via a more descriptive exception that such a recursive property was identified. Is there ever a case when an model of in

[2018-02-28 17:04] pariesz commented on #6215
@RehanSaeed's `IValueProvider` implementation will break the standard behavior for binding to flagged enums.  for example `?enum=A,B` will only bind to the first flag 'A'.

One workaround would be to also add the [FlagsEnumModelBinder] (https://github.com/sgjsakura/AspNetCore/blob/master/Sakura.AspNetCore.Extensions/Sakura.AspNetCore.Mvc.TagHelpers/FlagsEnumModelBinder.cs) from [Sakura.AspNetCore.

[2018-02-28 17:06] pranavkm commented on #7357
@rynowak should we consider the equivalent of a `JsonSerializerSetting.MaxDepth` here? We can produce a more descriptive error than the one you get via `EnsureSufficientExecutionStack`, possibly also including a way to resolve the error.

[2018-02-28 17:19] rynowak commented on #7357
I've proposed this idea numerous times. No argument from me.

[2018-02-28 17:35] mkArtakMSFT commented on #7357
Thanks folks. I've marked this as an enhancement and we'll consider to handle this eventually.

[2018-02-28 17:35] pranavkm commented on #7357
Updated title \ description

[2018-02-28 17:42] Eilon commented on #3983
Moving out of backlog for consideration.

[2018-02-28 17:49] mkArtakMSFT commented on #7403
@zhanglong19891129, the release version of VS won't show the .NET Core 2.1 target framework, as it's not aware of it. To see it you can install the latest preview release of VS.

[2018-02-28 17:51] mkArtakMSFT commented on #7403
Closing this issue, as all the open questions have been addressed.

[2018-02-28 17:51] #7403 closed

[2018-02-28 18:12] mkArtakMSFT commented on #7412
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-02-28 18:13] mkArtakMSFT commented on #7412
@dougbu, can you please look into this? Thanks!

[2018-02-28 18:19] mkArtakMSFT commented on #7411
@jbagga, can you please look into this one? Should be relatively small fix.

[2018-02-28 18:31] mkArtakMSFT commented on #7366
@VAchris, it seems this discussions went to slightly different direction. Did your issue get fixed or not?

[2018-02-28 21:54] rockerinthelocker commented on #7406
@pranavkm @mkArtakMSFT , Also, if **DebugType** is set to **none** (see csproj snippet below), **InvalidOperationException: The debug type specified in the dependency context could be parsed. The debug type value 'none' is not supported.** is thrown when starting the application via Visual Studio using IIS Express. This prevents testing release mode settings.

[code]

[2018-02-28 22:15] mkArtakMSFT commented on #7374
@DamianEdwards, we need your input on this one. What should the user experience be here? The options we've discussed are:
1. Have two tag helpers: `Partial` and `Partial-For`
2. Add the `model` attribute (as was already proposed), and use another attribute (i.e. `fieldName`) with it to provide the missing metadata - the prefix.

[2018-02-28 22:21] mkArtakMSFT commented on #7363
Closing this at the moment, as there doesn't seem yet any customer need. We'll reconsider this, if we'll see customers asking for it.

[2018-02-28 22:21] #7363 closed

[2018-02-28 22:29] mkArtakMSFT opened #7415 "Create an Analyzer to warn customers to not user Required attribute on top-level parameters"

[2018-02-28 22:29] mkArtakMSFT commented on #7360
Closing in favor of https://github.com/aspnet/Mvc/issues/7415, which will track the only outcome from this issue.

[2018-02-28 22:29] #7360 closed

[2018-02-28 22:40] mkArtakMSFT opened #7416 "Redesign the ViewEngine to be async"

[2018-02-28 22:43] mkArtakMSFT commented on #7083
Here how we'll be moving forward here:
- [ ] An analyzer to warn customers to user TagHelpers instead of PartialAsync
- [ ] https://github.com/aspnet/Mvc/issues/7416

[2018-02-28 22:52] mkArtakMSFT opened #7417 "Create a new Analyzer to warn users from using `Html.Partial`"

[2018-02-28 22:52] mkArtakMSFT commented on #7083
Closing this one in favor of two referenced items.

[2018-02-28 22:52] #7083 closed

[2018-02-28 22:57] dougbu commented on #7415
Analyzer should:
- cover top-level (controller or page model) properties as well
- ignore `[Required]` on top-level nodes of nullable simple types e.g. `int?` or `string`; `[Required]` on top-level nodes is meaningful unless the parameter or property has a collection or complex type
- might be worthwhile warning about *any* use (i.e. not just at the top level) of `[Required]` on non-`Nullable<T>`

[2018-02-28 23:00] mkArtakMSFT commented on #7374
From @DamianEdwards: go with an additional parameter for the existing tag helper.

[2018-02-28 23:06] VAchris commented on #7366
@mkArtakMSFT yes I was able to fix my issue and I don't mind the different direction if it fosters improvement of asp.net core :v: :+1:

[2018-02-28 23:06] #7366 closed

[2018-02-28 23:16] ryanbrandenburg commented on #6099
I'm closing this for now since we couldn't get a repro. If you're still having trouble feel free to re-open with more information.

[2018-02-28 23:16] #6099 closed

[2018-02-28 23:37] dougbu commented on #7374
Why do we need `fieldName`? `Html.PartialAsync(...)` handles the `Model` case just fine and doesn't muck with `TemplateInfo.HtmlFieldPrefix`. Adding this attribute also seems confusing and adds error and override cases between three attributes, not just two (`for` conflicts with `model` and now `fieldName`)

[2018-03-01 00:07] dougbu commented on #7360
In case someone refers to this issue later: Removed the earlier **Separately** section because "optional but, if it exists, &hellip;" validations are just fine.

[2018-03-01 01:08] mkArtakMSFT commented on #7412
Thanks @dougbu!

[2018-03-01 01:09] mkArtakMSFT commented on #7412
@kichalla, can you please look into this when you'll be back? Thanks!

[2018-03-01 02:37] zhanglong19891129 commented on #7403
@mkArtakMSFT       MVS    community 2017  preview .  version: 15.6.0 preview 6.0 Is not work. The target framework is still empty. ? It's need Enterprise or professional?

[2018-03-01 02:52] natemcmaster commented on #7403
I think you are seeing https://github.com/dotnet/project-system/issues/800. Because the test project has multiple target frameworks, VS is leaving that box empty. The test projects in aspnetcore target netcoreapp2.0, netcoreapp2.1, and net461. This is how we define multiple frameworks:

https://github.com/aspnet/Mvc/blob/b6144142feb9509566c3251e2d1a7fa49c3d7817/test/Directory.Build.props#L4-L9
htt

[2018-03-01 03:03] zhanglong19891129 commented on #7403
@mkArtakMSFT  @natemcmaster  thanks

[2018-03-01 04:46] maxtoroq opened #7418 "Password value: input vs editor"
When you use the input helper for a password field, the value attribute is not rendered. When you use the editor helper, the value attribute is rendered. This is how it works in MVC 5, I haven't tried in Core but a quick look at the code tells me it should work the same (see [DefaultEditorTemplates.PasswordTemplate](https://github.com/aspnet/Mvc/blob/ee5535203ebcc58ca8847d3765632bea4bcdb38e/src/Mi

[2018-03-01 04:50] tb-mtg opened #7419 "RazorPages ViewEngine with customizable file extensions."
The RazorPages view engine (RazorViewEngine) only support cshtml.

Can the hard coded instances of "cshtml" be removed and replace with a property or something to be able to make a custom RazorViewEngine that supports to any file/page/view extension?

For example in files:
* Microsoft.AspNetCore.Mvc.Razor.Internal.xxxMicrosoft.AspNetCore.Mvc.Razor.Internal.FileProviderRazorProject (RazorFileExtens

[2018-03-01 06:56] Eilon commented on #7419
See also: https://github.com/aspnet/Razor/issues/2125

@tb-mtg can you provide info on why you want to change this?

[2018-03-01 10:05] M1991 opened #7420 "Converting active razor views as pdf"
I am using asp.net mvc, I have a view which shows an image and some details with css classes and sessions over it. The issue is that i am able to get the view with image, its details but unable to get the same with pdf format.

As of now its converting to the view as pdf but with errors

![pdf_conversion](https://user-images.githubusercontent.com/22197822/36838736-ff5c844e-1d65-11e8-87ed-5e49b5f66

[2018-03-01 12:19] michaelestermann opened #7421 "InvalidOperationException: Cannot find compilation library location for package ..."
I created a new ASP.NET core mvc project and created a xunit project beside. For the views, we created an own project which contains embedded views. To make this work, we use an EmbeddedFileProvider which points to this project.
As long as i run the unit tests within Visual Studio or with dotnet test, it works as expected. As soon as I use dotnet xunit, it fails with the exception "InvalidOperatio

[2018-03-01 15:10] Postlagerkarte opened #7422 "Why does SelectList no longer support a constructor which takes a list of disabled items?"
In Asp.Net MVC the SelectList has a constructor overload of the form:

[code]

However, in Asp.Net Core MVC, there is no longer a constructor which takes disabled items as a parameter:

[code]

Was this a conscious decision or would you accept a pull request to support this use case?

[2018-03-01 17:42] mkArtakMSFT commented on #7422
Thanks for contacting us. @dougbu, do you remember details about this?

[2018-03-01 17:44] mkArtakMSFT commented on #7421
Thanks for contacting us. One of our team members will look into it and get back to you.
@javiercn, can you please look into this?

[2018-03-01 17:46] mkArtakMSFT commented on #7420
Hi @M1991. The issue you're describing is not related to ASP.NET. You should rather file the issue with the product owners of the library you're using for PDF conversion.

[2018-03-01 17:46] #7420 closed

[2018-03-01 17:52] mkArtakMSFT commented on #7418
Hi @maxtoroq. This behavior is intentional.
The reason is that it can lead to sensitive data to be exposed in clear text on the client side, as in the rendered page that value will be in clear text (in the source of the page).

[2018-03-01 18:18] maxtoroq commented on #7418
@mkArtakMSFT You either didn't read or didn't understand. I know the behavior is by design. My question is, why isn't the editor helper behavior consistent?

[2018-03-01 18:55] mkArtakMSFT commented on #7418
I indeed misunderstood you, @maxtoroq. Reopening to understand how we should move forward here.

[2018-03-01 19:16] dougbu commented on #7422
@mkArtakMSFT I don't remember the details but suspect we decided not to provide a *second* way to disable items and groups in the select list. This choice also reduced the set of `MultiSelectList` and `SelectList` to a more reasonable (though still large) count (5 per class).

The recommended alternative is to set `SelectListItem.Disabled` and / or `SelectListGroup.Disabled` in the enumeration the

[2018-03-01 19:18] mkArtakMSFT commented on #7418
@dougbu, seems like a bug. How hard will it be to fix this?

[2018-03-01 19:24] keenjus opened #7423 "Weird DictionaryModelBinder? bug with guids when the guid's first character is not a number"
I seem to have stumbled across a weird bug with modelbinding a dictionary that uses guids as keys.

Submitting a form like this:
Form data: `data[912cd1ad-52c0-40cb-9644-55f2eb180a97][somevalue]=test`
Action: `public IActionResult OnPost(Dictionary<string, TestViewModel> data)`

This will work as expected and I can access the value by `TestViewModel.SomeValue`

But if you happen to submit a guid t

[2018-03-01 19:28] khanusman opened #7425 "Web Api not returning error message"
POST action is returning 400 bad error. However, its not returning the error message. I am overriding OnActionExecuting method on ActionFilterAttribute class and I do see ModelState populated and validation errors are also visible in watch, please see the snap,

![image](https://user-images.githubusercontent.com/5824941/36865027-5836a13a-1d5c-11e8-9651-6a423d937913.png)

I have POST action impleme

[2018-03-01 21:00] Postlagerkarte commented on #7422
I have this use case in mind:

`<select asp-items="@(new SelectList(Model.Currencies , "Id", "Code", Model.Currencies.Where(x=>!x.IsActive))></select>`

It seems far more complicated to archive this with the suggested alternative.

Would you mind giving an example how the recommended approach would look if used in razor?

[2018-03-01 21:10] dougbu commented on #7422
[code]
Or, add the select list to your view model and initialize it in the action.

[2018-03-01 21:16] Postlagerkarte commented on #7422
Iterating the selectList does not give access to the model properties but only to the SelectListItem doesn't it?

So in example the item.Disabled = !item.IsActive would not compile.

[2018-03-01 22:14] rjamesnw opened #7426 "Support attribute on tag helper string properties for selections."
It seems only enum support for selections exists for Tag Helpers.  There are cases with custom tags where I'd like to give some selections but NOT limit to them.  I think it would be a great idea to have an attribute  - i.e. [HtmlAttributeSelections("1", "2", "3", etc...)] for strings, or [HtmlAttributeSelections(1, 2, 3, etc...)] for numbers, and so on;  Not sure how "smart" the tooling can get t

[2018-03-02 00:05] dougbu commented on #7422
Sorry for coding in GitHub 😺. I've updated the suggestion [above](https://github.com/aspnet/Mvc/issues/7422#issuecomment-369731920).

[2018-03-02 00:13] dougbu commented on #7422
@danroth27 the above approach relies on knowing the following:
- Repeated enumeration of a `MultiSelectList` or `SelectList` instance will always return the same `SelectListItem`s and `SelectListGroup`s.
- A `MultiSelectList` and `SelectList` is enumerated in exactly the same order as the `items` passed to the constructor.

In your estimation, is this well-enough documented? If not, should we file

[2018-03-02 00:38] dougbu commented on #7418
If we confirm this happens in ASP.NET Core MVC as well, it's a one-line fix. Would need a few tests of course.

I also suggest we add a default *display* template for passwords.

[2018-03-02 01:13] mkArtakMSFT commented on #7426
Hi @rjamesnw. Can you please provide more details regarding how this is going to be used?

[2018-03-02 01:24] tb-mtg commented on #7419
I'm trying to implement a RazorViewEngine that supports VBHTML & RazorPages as there has been no support for this feature after it was not included in ASP.Net Core Web Applications.

[2018-03-02 07:52] mkArtakMSFT commented on #7425
@pranavkm, do you have any ideas about this one? Thanks

[2018-03-02 08:01] mkArtakMSFT commented on #7425
@khanusman, can you please provide more details about the setup (framework version, target ? Or just share the project or a sample one so we can repro the issue?

[2018-03-02 08:18] John0King commented on #7046
@jbagga

Will this behavior change in asp.net core 2.1 ?

I don't use atribute-route now (but I want to), because my `admin area `  have many link  looks like `empty area`

[2018-03-02 08:41] Postlagerkarte commented on #7422
I kind of feel that the approach is not useable in razor when you have several select boxes on the screen.

The benefit of using the asp-items tag helper is greatly reduced because suddenly there is all this noise of the `SelectList `creation above the select tag.

Compare that to the proposition to add `IEnumerable disabledValues` to the constructor of the `SelectList and MultiSelectList` :

`<se

[2018-03-02 15:34] marcuslindblom commented on #1758
Is this still the best approach to group model properties or is this supported by default now? @dougbu

[2018-03-02 15:45] eriawan opened #7428 "Port Microsoft.AspNet.WebApi.Core to support .NET Standard 2.0"
# Problem

Current Microsoft.AspNet.WebApi.Core (a.k.a. [System.Web.Http in the code](https://github.com/aspnet/AspNetWebStack/tree/master/src/System.Web.Http)) release (5.2,4) is targeted to .NET 4.5, although it depends on Microsoft.AspNet.WebApi.Client v. 5.2.4 that supports .NET Standard 2.0 nicely.
It is quite problematic to use Microsoft.AspNet.WebApi.Core nuget in a .NET Standard 2.0 projec

[2018-03-02 15:48] eriawan commented on #7428
Sorry, I think I got wrong repo. I closed this

[2018-03-02 15:48] #7428 closed

[2018-03-02 16:03] danroth27 commented on #7428
@eriawan The repo you probably want is https://github.com/aspnet/aspnetwebstack.

[2018-03-02 16:30] JesperPetersenDk opened #7429 "Will not grab my Newpassword - does not match any available view"
That's when, for example, I'm getting a user on the page. and sends a kind of welcome email to person. then it tells me:

ArgumentNullException: Value cannot be null. Parameter name: Email/NewPassword does not match any available view

It is the case that my registered user is in Account and when I send mail, it is in a folder at Views/Email/NewPassword.

[I have used the information contained her

[2018-03-02 16:36] eriawan commented on #7428
@danroth27
yes, thanks!

[2018-03-02 16:44] dougbu commented on #1758
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2018-03-02 17:33] mkArtakMSFT commented on #7426
@DamianEdwards FYI

[2018-03-02 17:48] mkArtakMSFT commented on #7429
Hi @JesperPetersenDk.
The first parameter to the `IRazorViewEngine.FindView` method should be the relative path (excluding the `Views` folder and the file extension) to the `cshtml` view template. In your case, you've mentioned that the view template you refer to is in the `Views/Email/NewPassword` folder, which should not be the case. So to correct path to place your template in would be `Views/E

[2018-03-02 17:48] #7429 closed

[2018-03-02 18:01] JesperPetersenDk commented on #7429
Unfortunately, it does not work in any way.

[2018-03-02 18:04] JesperPetersenDk commented on #7429
[is this the way you think it should be? because right now it still makes mistakes.](https://imgur.com/a/J0WmC)

Error:

ArgumentNullException: Value cannot be null.
Parameter name: Views/Email/NewPassword.cshtml does not match any available view

[2018-03-02 18:07] pranavkm commented on #7417
Out of curiosity, why an analyzer versus just marking the method `Obsolete`? If we eventually make https://github.com/aspnet/Mvc/issues/7416 work, it's likely that we'll be forced to remove this method.

[2018-03-02 18:09] mkArtakMSFT commented on #7422
@Postlagerkarte, we do agree that this would provide value, but we're not sure how big the impact will be. To make sure we don't ignore this proposal, we're going to park this enhancement request in our backlog in a hope that we'll hear more feedback from other customers about this. So it'll take couple of months for us to review this again and see what is the status. If more people will show inte

[2018-03-02 18:24] DamianEdwards commented on #7426
This is an interesting idea and I can see the utility, but the implementation would be interesting. When you're typing in attribute values you're actually typing C# assignment expression values (i.e. you're literally typing the value being assigned to a C# property), and the IntelliSense provided there is all coming from the C# editor. We'd have to add additional values to the statement completion

[2018-03-02 19:04] #6102 closed

[2018-03-02 20:50] rjamesnw commented on #7426
At lease you like the idea, it’s a start! lol ;) Can you think of a workaround where I can use an enum OR string for the same attribute?

[2018-03-02 21:15] St4rHospit4l1tyS0l commented on #6947
How did you fix it?

I have the same problem, I am trying to impersonate (var user = User.Identity as WindowsIdentity;), but value is always null.

POST is allowed when I select both (anonymous and win auth), but there is no a user when both are selected, if I use only win auth, I get a valid user, but it only works for GET method.

Thanks

[2018-03-02 21:56] DamianEdwards commented on #7426
No, we have an issue on that already (attribute overloading) but it's also on the backlog.

[2018-03-02 22:03] rjamesnw commented on #7426
@mkArtakMSFT I was creating special input tag helpers (as a library) and I wanted to create a global “<xt-input>” type element with “type” that has all the same “<input>” types, but I didn’t like the idea of hard-coding attributes to an enum only. I was also thinking about “suggested” common values, such as button labels “Ok”, “Cancel”, “Yes”, “No”, etc, but keep it text entry so users can enter a

[2018-03-03 02:47] dougbu commented on #7413
@mkArtakMSFT cost is on the S / M border

[2018-03-03 02:49] dougbu commented on #7091
@mkArtakMSFT cost takes into account work I've already done on this issue

[2018-03-03 12:56] 4996wsu commented on #4933
Any chance someone has an example of how to make a request to this? I've tried a number of things but always get errors about the connection closing unexpectedly. If I read the content line by line, it at least gets all the data, but an exception gets thrown at the end.

[code]

[2018-03-03 17:58] Tratcher commented on #4933
@4996wsu what have you got so far?

[2018-03-04 04:31] smurtagh opened #7433 "ASP.NET Core IViewLocalizer not finding resx file when assembly name != default namespace"
My view: /Views/Account/Login.cshtml
My Resource file: /Resources/Account/Login.en-US.resx

Key lookups work when my assembly name and default namespace are the same. If they are different, IViewLocalizer falls back to the key.

[2018-03-04 14:17] autyan opened #7434 "IDistributedCache makes view not response."
request from asp.net core mvc does not response after running ViewResultExecutor.
OS: ubuntu 16.04 LTS x86-64
dotnet version: 2.1.4
host:nginx (1.10.3)

every thime i restart my asp.net core project, the request was ok, and the log is like:

2018-03-04 22:03:58.8761|1|Microsoft.AspNetCore.Hosting.Internal.WebHost|INFO|Request starting HTTP/1.1 GET http://193.112.103.197:8081/Article/Posts/45
2018-

[2018-03-04 15:03] nphmuller opened #7435 "2.1-Preview 1: IsBindingRequired and IsRequired still false with RequiredAttribute on controller parameter."
Say I have to following controller:
[code]
And the following code:
[code]

I'd expect both `isBindingRequired` and `isRequired` to be true. Both are however false.
I also inspected `ModelMetadata.MetadataKind` which had a value of `Type` instead of `Parameter` which I expect is the underlying cause.

Am I doing something wrong, or is this a bug? When I call the API from my browser without supplyin

[2018-03-04 15:31] autyan commented on #7434
Seems to be bug from IDistributedCache, I removed original code which use IDistributedCache,  the freezing problem just gone.
I'm Now using IMemoryCache for alternative

[2018-03-04 18:09] smurtagh commented on #7433
from the doc: If your targeted class's namespace isn't the same as the assembly name you will need the full type name.

[2018-03-04 18:09] #7433 closed

[2018-03-05 06:03] granthoff1107 opened #7436 "Overriding Generic Controller` name from Application Controller Feature"
When Creating a generic controller in .Net Core 2.0 you may have some code which looks like this

    public class GenericControllerFeatureProvider : IApplicationFeatureProvider<ControllerFeature>
    {

        public void PopulateFeature(IEnumerable<ApplicationPart> parts, ControllerFeature feature)
        {
            foreach (var entityConfig in _entityConfigurations)
            {

[2018-03-05 06:59] rahulsahay19 commented on #6947
@St4rHospit4l1tyS0l
Hi,

You can refer my blog for the same. I have blogged about that sometime back.

https://myview.rahulnivi.net/publishing-asp-net-core-windows-service/
https://myview.rahulnivi.net/handling-cors-asp-net-core-hosted-http-sys-angular-4/

Thanks,
Rahul

[2018-03-05 07:28] javiercn commented on #7436
`IApplicationFeatureProvider<ControllerFeature>` is only responsible for determining what types are controllers. You can configure the name for your controllers through ApplicationModel. See https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model

To achieve what you want you need to do it in two stages. Stage 1 adds the types to the list of controllers in the controllersfea

[2018-03-05 15:09] WolfspiritM opened #7437 "DataAnnotationLocalizerProvider documentation wrong/incomplete"
Hi,

I'm trying to localize DataAnnotations like "[Require]".
I followed: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#using-one-resource-string-for-multiple-classes

I created a Resource called "DataAnnotationsResource.resx" in the "Resources" folder and added the following to my Startup.cs:

[code]

The Localization of the whole page works however DataAnnotations are no

[2018-03-05 16:31] svallis opened #7438 "Razor Pages responding to all HTTP verbs"
I've been noticing some exceptions being logged on a Razor Pages application. The exceptions looked to be random, and were logged on pages that are incredibly simple and always worked perfectly when tested in a browser.

Eventually I tracked the errors down to when pages are requested with `HEAD` or `OPTIONS` HTTP verbs. The exceptions are thrown as the view is executed, because the page's `OnGet(

[2018-03-05 16:37] dougbu commented on #7418
f061d328d9

[2018-03-05 16:37] #7418 closed

[2018-03-05 16:43] spudcud opened #7439 "Custom ModelBinder for IEnumerable<class> using multipart/form-data fires ModelBinder infinitely"
### Title
A custom ModelBinder is being used to take Excel like data and is necessary to handle data type conversions. The ModelBinder is firing correctly but then keeps getting hit with incrementing indexes forever. 2.1 Preview 1 is being used now but I have not tried this in any previous Core version. This sample is a simplified version to show this problem but all of the working pieces are in p

[2018-03-05 17:21] #7406 closed

[2018-03-05 17:39] mkArtakMSFT commented on #7439
Thanks for reporting the issue.
@kichalla, can you please look into this?

[2018-03-05 17:41] mkArtakMSFT commented on #7438
Hi. Thanks for contacting us. @NTaylorMullen, any thoughts regarding this one?

[2018-03-05 17:51] mkArtakMSFT commented on #7437
Hi @WolfspiritM. Thanks for reaching out to us. @ryanbrandenburg, do you have any thoughts or suggestions here?

[2018-03-05 17:54] mkArtakMSFT commented on #7436
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-03-05 17:54] #7436 closed

[2018-03-05 18:00] mkArtakMSFT commented on #7434
Thanks for contacting us. @autyan, can you please provide us with a sample repro project for investigation?

[2018-03-05 18:01] mkArtakMSFT commented on #7434
@Tratcher, any thoughts regarding this? Thanks

[2018-03-05 18:02] mkArtakMSFT commented on #7435
Thanks for contacting us. @dougbu, can you please look into this?

[2018-03-05 18:14] Tratcher commented on #7434
No. @autyan what cache implementation are you using? It sounds like your cache is not set up correctly.

[2018-03-05 18:15] mkArtakMSFT commented on #7419
Hi @tb-mtg. Unfortunately we have no any plans to support any other file extensions but `cshtml`. That said, we won't be able to provide a mechanism to configure/change the extension.

[2018-03-05 18:15] #7419 closed

[2018-03-05 18:22] ryanbrandenburg commented on #7437
When I attempted to reproduce your scenario it worked as expected. My first guess at what trouble you might be having is that you created a resource at "DataAnnotationsResource.resx" but the type you're trying to look it up with is "DataAnnotationResource" (no 's'). If that was just a typo in copying things to the issue or you're still having trouble the next thing I'll need to help you diagnose t

[2018-03-05 18:26] pranavkm commented on #7425
Not entirely sure why this wouldn't work. But it'd be useful to have a more detailed sample to diagnose the issue.

[2018-03-05 18:47] NTaylorMullen commented on #7438
@pranavkm is better suited to answer this one 😄

[2018-03-05 19:08] pranavkm commented on #7438
Could you share a snippet of what you're doing to make this happen? Handlers on Razor Pages do not support method constraints the same way controller actions do, so I'm not entirely sure what your set up looks like.

[2018-03-05 19:11] svallis commented on #7438
@pranavkm That paragraph is talking about me testing using a traditional MVC controller and action.

[2018-03-05 19:18] WolfspiritM commented on #7437
@ryanbrandenburg Thanks. It's not a typo (it is a typo in my post above however as the file is called DataAnnotationResource.resx). I created a sample MC Repo here: https://github.com/WolfspiritM/LocalizationIssue

Once started on the Index Page it will Display an input box and a label for the IndexViewModel Property "Username".
The Label is "Username" even so I defined a different text in the Res

[2018-03-05 20:48] dougbu commented on #7435
@nphmuller are you seeing an issue with `[Required]` on an action parameter i.e. are `ModelState` errors added when the `string` parameter isn't provided? If yes, I can't reproduce the problem. Your application likely has additional customizations beyond what you've described. Does it for example use a custom `IModelMetadataProvider`?

If your issue is specifically with the `IApiDescriptionGroupCo

[2018-03-05 21:14] dougbu commented on #7435
Never mind this part. I forgot to opt into API Explorer for my controller. I can now reproduce your issue even though MVC will require a value for `queryParm`.

I suspect API Explorer needs to be made aware of the `ModelMetadataProvider` enhancements over what `IModelMetadataProvider` alone enables.

Separately,

There's no `[BindRequired]` attribute in the code you provided. `ModelMetadata.IsBind

[2018-03-05 21:29] dougbu commented on #7435
Problem is at https://github.com/aspnet/Mvc/blob/3517ecda2f7eee421159d4e3206f937264f5b56b/src/Microsoft.AspNetCore.Mvc.ApiExplorer/DefaultApiDescriptionProvider.cs#L165
That code needs to handle the case where `_modelMetadataProvider` is a `ModelMetadataProvider` and use `GetMetadataForParameter(...)` then.

[2018-03-05 21:35] dougbu commented on #7435
Should also check MVC for other places it calls `IModelMetadataProvider.GetMetadataForType(...)` where it may be dealing with an action or page handler parameter.

[2018-03-06 00:15] ryanbrandenburg commented on #7437
You're correct that getting "LocalizationIssue.Resources.Resources.DataAnnotationResource" is your problem. That happens because the `Designer.cs` that VS created for you is in the namespace `LocalizationIssue.Resource`. If you change the namespace for that to be `LocalizationIssue` it should work. Further, those Designer files aren't super relevant to the way AspNetCore MVC does localization, so

[2018-03-06 00:18] natemcmaster commented on #7364
@vankampenp can you provide more information about how you have configured data protection? This error normally appears when the keys used by antiforgery change between the time the antiforgery token was created and when it was decrypted. Some indications this may be happening:

- The log contains `WARNING` messages about ephemeral keys. Warnings say something like `"Using ephemeral data protectio

[2018-03-06 01:26] mkArtakMSFT commented on #6633
From @NTaylorMullen: We're going to only do build time for the first iteration. If we find a need to also do runtime compilation in the future we'll review this then.

[2018-03-06 01:45] mkArtakMSFT commented on #6796
@pranavkm, please work with @rynowak to get costs for this one.

[2018-03-06 01:57] WolfspiritM commented on #7437
Thanks for the response.

If I remove the Designer file completly the compiler doesn't know anything about the "DataAnnotationResource" type at all resulting in:
[code]
So at least for compile time they are relevant if I want to use typeof(DataAnnotationResource) as proposed in the docs. Changing the Namespace of the Designer file manually works but is that the intended way this should be done?

U

[2018-03-06 02:36] maxtoroq opened #7442 "Should Value helpers use EditFormatString?"
If both input and editor helpers use EditFormatString, shouldn't the Value[For[Model]] helpers do the same?

[2018-03-06 07:09] dopare opened #7443 "Complex types implementing IValidatableObject is not being validated correctly"
I have following models and action in my test application based on 2.1.0-preview-final1.

`SuppressModelStateInvalidFilter` is `true`

[code]
If I post following JSON payload:
[code]
result is
[code]
But if I remove `IValidatableObject` and add `[Required]` attributes to string properties then I'm getting following repsonse on same JSON payload:
[code]
## My little investigation

Issue #7014 was f

[2018-03-06 07:44] vankampenp commented on #7364
@natemcmaster
1) I am running on a shared host, not Docker.
3) I have a single server

2) Not sure about this. However, the error did not occur on a HttpPost, but on a HttpGet, where it should not even try to decrypt a token. It can't decrypt it, because the token is not submitted to the server on a HttpGet.

[2018-03-06 09:30] nphmuller commented on #7435
Ah, sorry about that. Was still a bit confused about when `IsBindingRequired` is set to true. Guess it's easier than I though: it's only set when a `BindingBehaviorAttribute` is set with `BindingBehavior.Required`.

I'll update the example in my first post. Because even when `[BindRequired]` is set, `isBindingRequired` is still false.

[2018-03-06 16:52] dougbu commented on #7443
This is #7413. @dopare is there anything in this issue that won't go away once we fix #7413?

[2018-03-06 17:01] dopare commented on #7443
@dougbu I am not sure about it.
I have injected custom instance of `ParameterBinder` with my custom `IObjectModelValidator` into DI and my action returned result with duplicate errors:

[code]

[2018-03-06 17:20] dougbu commented on #7443
@dopare your replacement `ParameterBinder` is doing something wrong with the `ModelState` keys. Should be no `""` or `"Child"` keys, just `"ParentName"` and `"Child.ChildName"`.

[2018-03-06 17:25] dopare commented on #7443
@dougbu I'm using `CustomObjectValidator` class used in unit test of #7075 PR

[code]
Injection setup:
[code]

[2018-03-06 17:42] pranavkm commented on #7417
The reason to not use the `Obsolete` attribute is that suppressing it in Razor using `#pragma` is not trivial. The plan here is to ship an independent analyzer, not part of `Microsoft.AspNetCore.Mvc.Analyzers` for this.

[2018-03-06 17:50] dougbu commented on #7443
@dopare I wouldn't read to much into that unit test's `CustomObjectValidator` nor what `ParameterBinder` does when you use its `[Obsolete]` constructor. Our intent in #7413 is to restore the previous `IObjectModelValidator` workings.

[2018-03-06 18:23] nefcanto opened #7445 "Custom conventions mess with multipart/form-data for uploading files"
I'm trying to reduce boilerplate codes as much as possible. Instead of writing `[FromBody]` everywhere, I wrote a custom model binding convention to always bind from body for complex types:

[code]

As soon as I add this convention, uploading files result in *415 Unsupported Media Type* error:

[code]

I don't understand it. And no breakpoint of my code gets hit after enabling this convention.

I'

[2018-03-06 18:29] pranavkm commented on #7445
There's a `FormFile` binding source for files. In, 2.1.0, we set the right `BindingSource` for form file types by default - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/DefaultApplicationModelProvider.cs#L446-L452,

[2018-03-06 18:54] dopare commented on #7443
I think the core issue is still valid even if we forget that `IObjectModelValidator` exists.

[2018-03-06 19:30] ryanbrandenburg commented on #7437
Yes, if you're using the `typeof()` overload of Create the type must exist. You're welcome to have a "dumby class", reference a related class (and change the name of your resx to reflect it), etc., so long as the results meet [these](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#resource-file-naming) criteria. If you don't want to change or remove the `Designer.cs` file, a

[2018-03-06 19:44] moorthi-n commented on #5140
any updates on this issue?.. seems like there is no resolution but this issue is already closed?.

[2018-03-06 19:54] moorthi-n commented on #5140
If anyone is still dealing with the issue Microsoft.AspNetCore.Mvc.ViewFeatures.ITempDataDictionaryFactory.
You will have to setup the TempData mock when instating the controller.
here is the solution.

         Mock<ITempDataDictionary> tempData = new Mock<ITempDataDictionary>();
            _subject = new XController(antiForgeryMock)
            {
                TempData = tempData.Object

[2018-03-06 21:46] #7344 closed

[2018-03-06 22:16] kichalla commented on #7439
Notes:
Data is being posted in the following format:

[code]
[code]

[2018-03-06 23:03] kichalla commented on #7439
@spudcud

Thanks for the repro application. I was able to repro the issue and here is the reason it was happening that way.

The CollectionModelBinder(CMB) tries to bind the individual GridCell items and each of these individual items is handled by your custom binder. The CMB tries builds up the model names with prefixes like cells[0], cells[1] and would go on until cells[int.MaxValue] if the chil

[2018-03-07 02:41] spudcud commented on #7439
@kichalla I have added this check and I am also able to get past this issue. Is this working as designed or will there be a permanent change to not require this?

[2018-03-07 05:39] granthoff1107 commented on #7436
@javiercn that's a bit frusterating but better than having to dynamically generate an assembly with attributes on it

[2018-03-07 06:32] nefcanto commented on #7445
Thanks for the guidance. Based on the link you sent me, I changed my code as follow:

[code]

The problem is not solved. The point is, this code is never hit. I mean breakpoints I set in this code are not activated and are not hit. Had they hit, I would be able to solve the problem myself by trial and error. But now I'm stuck totally. Any ideas?

[2018-03-07 08:45] BladeWise commented on #7036
@rynowak As far as I could see, while `ActionResult<T>` is nicely 'unwrapped' (i.e. Swagger picks `T` as the result model), inheriting from `ActionResult<T>` does not yield the same result.
Consider a class that wraps a 'standardized' result object, used to shape the response of the API (`Result<T>`), and an `ActionResult<T>`-derived class used to simplify the generic definition (`ApiResult<T>`):

[2018-03-07 10:59] boodoolak opened #7448 "Error in the Asp.Net Core MVC template with identity"
Repo steps:
1. Create new Asp.Net Core project
2. Select Web Application MVC
3. Select Individual User Authentication
4. Follow to Controllers/AccountController.cs/Register(RegisterViewModel model, string returnUrl = null)

In Register() method for UserName assigned value model.Email
var user = new ApplicationUser { UserName = **model.Email**, Email = **model.Email** };

[2018-03-07 12:15] kichalla commented on #7439
As per my understanding, this is working as expected.
For example, instead of a custom model binder if you are trying to bind request data to a collection of boolean, then the CollectionModelBinder(CMB) delegates the task of binding the actual bool to the SimpleTypeModelBinder (STMB) and this STMB [indicates ](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Bi

[2018-03-07 12:15] tbertenshaw opened #7449 "Correct way of using MvcTestFixture's for multiple tests"
After Following the Example in [Preview of Function testing in Mvc apps](https://blogs.msdn.microsoft.com/webdev/2018/03/05/asp-net-core-2-1-0-preview1-functional-testing-of-mvc-applications/)
 I added one more test in the same class and it seems that the same httpclient is being used. Is this correct behaviour?

![image](https://user-images.githubusercontent.com/2010002/37091587-a1093da2-2200-11e

[2018-03-07 12:35] dazinator opened #7450 "Apply Input Formatter at Action level?"
I note from the docs that in order to use a custom formatter you have to apply it globally:

[code]

However I didn't notice any option to apply a Formatter for specific Action method/s can this be done?

[2018-03-07 13:10] spudcud commented on #7439
Okay, thank you @kichalla. This documentation is what I was using in order to convert our old one and it didn't mention anything about this. It may help other people if it is spelled out more. [Custom Model Binding](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding). Obviously the example is very different from what I was doing so it is hard to show what is needed for

[2018-03-07 13:40] #7448 closed

[2018-03-07 14:06] HolyOne commented on #6769
So .net 2.1 is out.
My code works well if I write this on top of my page

But how to make all my pages inherit from my base page? _ViewImports and _ViewStart dont work.

[2018-03-07 15:40] BladeWise commented on #7412
@JeremySkinner Any chance for a preview package including the (temporary?) fix?

[2018-03-07 15:44] JeremySkinner commented on #7412
@BladeWise Not for preview1 - will be aiming for preview2. Please follow this issue if you want to track progress. https://github.com/JeremySkinner/FluentValidation/issues/698

[2018-03-07 16:05] pranavkm commented on #6769
Could you start a new issue for this? `@inherits` in _ViewImports.cshtml should work.

[2018-03-07 16:32] Mardoxx commented on #2646
Any developments on this?

In the mean time, I am wondering how would you go about testing that:

```return RedirectToAction("BarAction", "FooController");```

is going to redirect to the controller and method?

[2018-03-07 16:53] Mardoxx commented on #7078
@Eilon will this make [3.0](https://github.com/aspnet/Mvc/labels/breaking-change)? 😋

[2018-03-07 17:15] natemcmaster commented on #7364
@vankampenp it's hard to investigate this further because we still don't have an way to reproduce the error. From what you've described, it could be:
 - a bug in MVC. Antiforgery validation is happening even though it shouldn't. As you correctly mentioned, GET requests should be ignored by the validation when the AutoValidateAntiforgeryToken filter is used
 - a misconfiguration of the app. If the

[2018-03-07 17:15] natemcmaster commented on #7364
@mkArtakMSFT un-assigning myself from further investigation. Without a repro, I cannot make progress on this.

[2018-03-07 17:44] mkArtakMSFT commented on #7364
Thanks @natemcmaster.

[2018-03-07 17:46] pranavkm commented on #7425
@khanusman feel free to reopen the issue once you've have a repro application available.

[2018-03-07 17:46] #7425 closed

[2018-03-07 17:46] mkArtakMSFT commented on #7439
Thanks folks!

[2018-03-07 17:46] #7439 closed

[2018-03-07 17:50] mkArtakMSFT commented on #7450
Hi @dazinator. You can use the `ProducesAttribute` and `ConsumesAttribute` on action level, to enforce certain formatting. You an read more about formatting with those attributes [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/formatting#forcing-a-particular-format).

[2018-03-07 17:50] #7450 closed

[2018-03-07 17:52] mkArtakMSFT commented on #7449
Hi @tbertenshaw. Thanks for bringing this up with us. This is indeed an issue in our blog post, and we'll address it shortly.
@danroth27 FYI

[2018-03-07 17:55] pranavkm opened #7451 "Add IApiResponseTypeMapper that allows configuring a ResponseType for values that also implement IConvertToActionResult"
From https://github.com/aspnet/Mvc/issues/7036#issuecomment-371065915

@rynowak As far as I could see, while `ActionResult<T>` is nicely 'unwrapped' (i.e. Swagger picks `T` as the result model), inheriting from `ActionResult<T>` does not yield the same result.
Consider a class that wraps a 'standardized' result object, used to shape the response of the API (`Result<T>`), and an `ActionResult<T>`-d

[2018-03-07 17:55] pranavkm commented on #7036
@BladeWise tracking your issue here - https://github.com/aspnet/Mvc/issues/7451

[2018-03-07 17:56] mkArtakMSFT commented on #7449
@javiercn FYI

[2018-03-07 17:57] pranavkm commented on #7451
Likely an issue wiith our unwrapping code here - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ApiExplorer/DefaultApiDescriptionProvider.cs#L474. That said, deriving from `ActionResult<>` isn't a scenario that has much coverage or thought through, so we should make sure we understand any other fallout of supporting this behavior.

[2018-03-07 18:01] pranavkm opened #7452 "DefaultApiDescriptionProvider does not support Task-like types"
If an action returns `Task<Product>`, ApiExplorer will unwrap the `Task` and report the response type as `Product`. We need to apply the same treatment to Task-like types e.g. `ValueTask<Product>`, which is supported by action invocation.

[2018-03-07 18:04] rynowak commented on #7451
We should seal `ActionResult<T>`

[2018-03-07 18:44] BladeWise commented on #7451
The only reason I was interested in deriving from `ActionResult<T>`, was to write code in a more convenient way, enforcing an 'envelope' for my API results, without having to write nested generic definitions, that tend to complicate readability.
That said, I don't see the shortcomings in applying the unwrap policy to a little more generalized class of types. As I reported above, the functionality

[2018-03-07 19:24] dazinator commented on #7450
@mkArtakMSFT - Thanks - I found information on that page about the `ProducesAttribute` but nothing about the `ConsumesAttribute`. Should this be added to the docs?

[2018-03-07 19:40] rqueizan commented on #4912
//Sample Data
var list = new List<Data>(){ new Data{ Id=1, Name="one"  , Category="g1" }, new Data{ Id=2, Name="two" , Category="g2" }, new Data{ Id=3, Name="three", Category="g1" }, new Data{ Id=4, Name="four", Category="g2" } };

var listItems = list.GroupBy(i => i.Category).Select(l => new { Group = new SelectListGroup { Name = l.Key }, items = l}).SelectMany(g => g.items.Select(i => new Select

[2018-03-07 20:57] Legends opened #7453 "Question: Any samples for localization for Core 2.x?"
Any samples for localization?

I have downloaded localization [sample](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.StarterWeb) but it was core 1.x.
I moved a resx file to another location, started the app, localization didn't work anymore.
Ok, moved it back to the folder where it was before.... no way, localization was broken.
I experience this a lot with 1.x core apps, but cor

[2018-03-07 21:09] #7414 closed

[2018-03-07 21:34] Eilon commented on #7453
@Legends in general everything that worked in ASP.NET Core 1.x should work the same in 2.x, though of course many bugs were fixed and features were added. Did you have a specific question about localization in 2.x?

[2018-03-07 21:37] Legends commented on #7453
Just reading through the docs, but I think I will stick with the traditional way....
Found a samples `rel/2.0_preview` branch, will try this one...

[2018-03-07 21:37] #7453 closed

[2018-03-07 21:58] Legends commented on #7453
@Eilon Do you have a sample, how to do it the traditional way, it looks like "PublicResXFileCodeGenerator" is not supported anymore...

[2018-03-07 22:25] mguinness commented on #6898
Possible workaround using [action constraint](https://blogs.msdn.microsoft.com/premier_developer/2017/06/05/defining-asp-net-core-controller-action-constraint-to-match-the-correct-action/).

[2018-03-07 23:23] mkArtakMSFT commented on #7451
@jbagga, can you please handle this? Thanks!

[2018-03-08 05:00] gregbradley commented on #6725
Any progress on this issue? Thanks.

[2018-03-08 05:21] HolyOne opened #7454 "@inherits in _ViewImports.cshtml dont work on asp.net core 2"
I am trying to make a base page class in Razor Pages, this is my basepage

[code]

then in Index.cshtml,  I inherit my page from this class this is how I do it
`@inherits BaseWeb.Web.BasePage`

But I can't inherit all my pages from my BasePage class by putting this line in _ViewImports.cshtml

If I put the same line in ViewImports,, I get this kind of error

An error occurred during the compilatio

[2018-03-08 06:23] NMSLanX opened #7455 "An issue about "async/await“ and ”Task.WaitAll“ in the asp.net core."
Following is the trouble codes:

[code]

[code]

ConsoleApp .netfx4.5 ：No problem.

Asp.net Webapi .netfx4.5 ：The taskA will always be in an uncompleted state.

[2018-03-08 06:34] flytzen commented on #7455
This looks like the classic deadlock problem; basically you mustn't use .Result or .Wait in ASP.Net as it may cause a deadlock. The explanation why is a bit complex, but if you Google async deadlock you will find explanations.
I did think, though, that ASP.Net *Core* had changed  that behaviour. Did you mean to refer to Core or "Classic"?

[2018-03-08 06:53] NMSLanX commented on #7455
Thanks a lot.  I had tried it in Core. It had no problem.  Deadlock, Yes, deadlock~

[2018-03-08 06:59] danroth27 commented on #7450
ConsumesAttribute is covered under model binding: https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding#bind-formatted-data-from-the-request-body

[2018-03-08 07:02] autyan commented on #7434
my project is a experiment project, has been published to github, the address is
https://github.com/autyan/Autyan.NiChiJou

I implemented IDistributedCache in startup.cs
`public void ConfigureServices(IServiceCollection services)
        {
            services.AddMemoryCache()
                .AddDistributedRedisCache(options =>
                {
                    options.Configuration = Configu

[2018-03-08 08:47] autyan commented on #7434
@mkArtakMSFT i'll try to build a simple project to reproduction this bug and post to github.

[2018-03-08 10:45] vanillajonathan opened #7456 "Minus sign for negative numbers in DisplayFor"
`Html.DisplayFor` should render a negative number using a proper typographical minus sign instead of a hyphen sign.

Example `-123` would be outputted as `−123` or `&minus;123`.

[2018-03-08 18:01] mkArtakMSFT commented on #7456
Hi @vanillajonathan. Thanks for contacting us.
The character currently being rendered is [`Hyphen-Minus`](https://unicode-table.com/en/002D/) and the behavior you're observing is by design.
From [Wikipedia](https://en.wikipedia.org/wiki/Hyphen#In_computing): "_In Unicode, the hyphen-minus is encoded as U+002D (-) so that Unicode remains compatible with ASCII. However, Unicode also encodes the hyph

[2018-03-08 18:01] #7456 closed

[2018-03-08 18:34] mkArtakMSFT commented on #7434
That'll be great, thanks @autyan

[2018-03-08 18:40] mkArtakMSFT commented on #7455
Hi @NMSLanX. You shoud avoid blocking code as much as possible. Can you please replace the `Task.WaitAll(taskA);` with `await Task.WhenAll(taskA);` instead and see whether that solves the problem?

[2018-03-08 18:44] mkArtakMSFT commented on #7454
Thanks for contacting us, @HolyOne.
@pranavkm can you please look into this? Thanks

[2018-03-08 18:55] mkArtakMSFT commented on #6725
Hi @gregbradley. The team who owns the issue is internal, and they have their own schedule. I'm going to follow up with them to find out more details, but at the moment there are no updates yet.

[2018-03-08 21:13] ridercz opened #7458 "NullDisplayText et al. cannot be localized in display metadata provider"
I'm writing [custom display metadata provider](https://github.com/ridercz/Altairis.ConventionalMetadataProviders/blob/master/Altairis.ConventionalMetadataProviders/ConventionalDisplayMetadataProvider.cs).

The `DisplayName`, `Placeholder` and `Description` properties are of type `Func<string>`, which allows to make localization while app is running, depending on current UI culture.

For other prop

[2018-03-08 22:03] dougbu commented on #7458
@ridercz thank you for your feedback. We're closing this issue as this is fixed in our working code base. Please move from ASP.NET Core MVC version 2.0.1 to 2.1.0 Preview 1. You'll then benefit from our #6730 fix.

[2018-03-08 22:03] #7458 closed

[2018-03-08 22:18] mariuszkochanowski opened #7459 "asp-append-version attribute not working for static files outside of the wwwroot directory"
I am facing issue described in:
https://stackoverflow.com/questions/42775181/asp-net-cores-asp-append-version-attribute-not-working-for-static-files-outside

[2018-03-08 22:38] rynowak commented on #7342
Routed added by `AddPageRoute` are treated as the 'preferred' out for URL generation and will cause other routes to suppress URL generation. That's handled by the code here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.RazorPages/DependencyInjection/PageConventionCollectionExtensions.cs#L471

This means that when you add the route `{TempProject}/home` in startup code that ro

[2018-03-09 02:40] baffourt opened #7460 "MVC Core application hosted on IIS gives Cryptographic Exception"
Hi,
We are getting CryptographicException with inner exception UnauthorizedAccessException with an IIS hosted mvc core 1.1 web app. If we just serve the application with dotnet application.dll. It runs fine without the error.
The full stack trace is attached
![image](https://user-images.githubusercontent.com/8023875/37187435-2f6409f0-2342-11e8-9ae6-270f9217b76b.png)

The Program.cs file
![image](h

[2018-03-09 03:11] alexwiese commented on #7460
What user are you running the AppPool as? Are you running with Load User Profile as `false`?

[2018-03-09 05:32] NMSLanX commented on #7455
@mkArtakMSFT Thank you!

[2018-03-09 05:32] #7455 closed

[2018-03-09 06:27] sherwincool opened #7461 "MVC w3wp.exe terminated due to an unhandled exception using SQLServer session state"
We are getting random (once or twice a day) System.NullReferenceException in our ASP.NET web application.

We are using SQLServer session state and a custom GetControllerSessionBehavior.

Here is the code:
`
[AttributeUsage(AttributeTargets.Method, AllowMultiple = false, Inherited = true)]
    public sealed class ActionSessionStateAttribute : Attribute
    {
        public SessionStateBehavior Beh

[2018-03-09 06:43] baffourt commented on #7460
user with AppPool is ApplicationPoolIdentity. I changed it to LocalSystem and it works. Will be trying the second option as well. The application used to work as it was, nothing changed but it started giving this error suddenly.

[2018-03-09 16:10] mkArtakMSFT commented on #6725
Hi @gregbradley.
The team who owns the area has asked for help to investigate the issue further.
1. Could you please install `PROCMON` from https://docs.microsoft.com/en-us/sysinternals/downloads/procmon
2. Please capture a trace while doing the `dir` and share it here.

Thanks!

[2018-03-09 16:10] WaedSaleh opened #7462 "How I can access app settings in web project from class library without pass it from controller."
In old version we use  WebConfigurationManager class to get the value from web config , how I can do the same for mvc core

[2018-03-09 16:54] Matthew-Bonner opened #7463 "Create an API to dynamically generate forms"
We have a third-party dll which supplies a schema for a form that needs to be output on our website.

Once the website is running, when a specific page is accessed, we need to combine their schema with data to determine the input fields we need to render.

Currently, there is no API to do this.

In Web Forms we can dynamically generate a form, but in ASP.NET Core 2 we can't.

There are several oth

[2018-03-09 17:03] danroth27 commented on #7463
What kind of schema is this based on? And what kind of data are you trying to combine it with?

In Razor you can write code to conditionally render whatever form inputs you want:

[code]

Maybe it would help to see how you used to do this in ASP.NET Web Forms?

[2018-03-09 17:25] Matthew-Bonner commented on #7463
We have 2 different situations we have to deal with:

1. Data in the form of XML & we then transform the XML using an XSL stylesheet into HTML.
We want to move away from XML and XSLT for performance reasons.

We don't want to use Razor to generate the form, we want to parse the XML to POCO objects and then parse the POCO objects into controls (a bit like web forms) and then parse the POCO objects

[2018-03-09 17:50] mkArtakMSFT commented on #7462
Hi @WaedSaleh. We have a new [Configuration API](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration) in ASP.NET Core, which is available through the DI.
Your controller can accept an `IConfiguration` parameter through the constructor and it'll be resolved through the DI system.

You can also access it directly through the `HttpContext.RequestServices`

[2018-03-09 17:50] #7462 closed

[2018-03-09 17:59] mkArtakMSFT commented on #7460
Thanks for contacting us. The behavior you're observing is because of the permissions of the user your application pool uses.
@Tratcher, do we have any guidance in docs about how to configure IIS in these scenarios?
/cc @blowdart

[2018-03-09 18:01] mkArtakMSFT commented on #7461
@dougbu, this seems to be old MVC related. Also, do you know who owns this area? Who this should be redirected to? Thanks!

[2018-03-09 18:02] Tratcher commented on #7460
@shirhatti @natemcmaster

[2018-03-09 18:02] blowdart commented on #7460
Weird, permissions don't just change on their on.

You'd need to ACL the directory so the application pool ID has Modify access and ensure you turn inheritance of those permissions on.

[2018-03-09 18:03] mkArtakMSFT commented on #7461
Moving to ASPNETWebStack repo for now.

[2018-03-09 18:03] mkArtakMSFT commented on #7461
This issue was moved to aspnet/AspNetWebStack#139

[2018-03-09 18:03] #7461 closed

[2018-03-09 19:10] DamianEdwards commented on #7459
This is currently by design. The `asp-append-version` attribute limits its searching for files to the configured `HostingEnvironment.WebRootFileProvider`, as that is the place that static files are expected to be served from. While you may be manually adding static file middleware instances that look elsewhere, there's no way for the Tag Helper to know that, as it only has access to the relative p

[2018-03-09 20:14] WaedSaleh commented on #7462
Hi @mkArtakMSFT I don't want to access it by the controller . I would like class library access it directly

[2018-03-09 20:21] Mardoxx commented on #6898
@davidfowl How do would you achieve an API like this?

[code]

`GET /api/foos` Return all foos
`GET /api/foos?parentId={Guid?}` all foos where `foo.ParentId=={parentId}`

[code]

Won't work because these are seen as the same route. Really needs some distinction between "unbound" and "null"

[2018-03-09 21:31] pranavkm commented on #7438
The behavior you're seeing is by design. Razor Pages do a best effort to find a handler and fall back to rendering the page sans handler when it cannot find a match. There's a couple of recommendations here to organize your code

* Write your code defensively assuming no handler was selected
* Initialize things you always expect to be present in the model's `OnPageHandlerExecuting` method. This sh

[2018-03-09 22:25] Mardoxx opened #7465 "ActionDescription.BoundProperties not working as expected for FromQuery"
[code]

`GET api/values`
\> []

`GET api/values?number`
\> []

`GET api/values?number=`
\> []

`GET api/values?number=1`
\> []

I'd expect it to be [], [number], [number], [number] respectively, or at least [number] on the last one judging how ASP.Net handles empty query values.

Does this only work for FromBody/FromForm?

[2018-03-09 22:30] pranavkm commented on #7465
You likely need `ActionDescriptor.Parameters`

[2018-03-09 22:37] Mardoxx commented on #7465
Oh hmm.. Props vs Parameters!

I wanted a list of bound parameters. But I don't suppose this is possible? This is too early in the pipeline isn't it?

What is the BoundProperties property for?

[2018-03-09 22:38] pranavkm commented on #7465
All action parameters are typically model bound, so that should meet your requirement. BoundProperties are properties on the declaring type that get bound. Mvc supports this - e.g. `[FromBody] public Person Person { get; set; }`

[2018-03-09 22:43] Mardoxx commented on #7465
Ok, so what about value types/primitives?

`ActionDescriptor.BoundProperties` is empty, and also is `.Properties` for my example!

[2018-03-09 22:51] pranavkm commented on #7465
`int? number`  is a parameter. Is it located in `ActionDescriptor.Parameters`?

[2018-03-09 22:59] mkArtakMSFT commented on #7459
Hi @mariuszkochanowski. Using the suggestion provided by @DamianEdwards I could successfully configure a `CompositeFileProvider` and get version string appended to both of the files I've referred to. I've shared the sample project at: https://github.com/mkArtakMSFT/Samples/tree/master/AppendVersionMultipleRoots/StaticFilesAppendVersion

Here is the setup I've used in in `Configure` method:

[code]

[2018-03-09 23:36] Mardoxx commented on #7465
Why have you closed this... 👎

[2018-03-09 23:37] Mardoxx commented on #7465
If you misunderstood my question, ask for clarification -- don't just prematurely close it.

[2018-03-10 01:00] Mardoxx commented on #6790
Given
[code]
What should the responses be for the following requests?
1. `GET api/controller/action`
2. `GET api/controller/action?intVal`
3. `GET api/controller/action?intVal=`
4. `GET api/controller/action?intVal=null`
5. `GET api/controller/action?intVal=1`

One would think this, or am I being naive?

1. `GET api/controller/action` => `404`
2. `GET api/controller/action?intVal` => `200` `null`

[2018-03-10 01:10] Mardoxx commented on #6825
Please see https://github.com/aspnet/Mvc/issues/6790#issuecomment-371987725

[2018-03-10 04:05] mkArtakMSFT commented on #7465
Hi Mardoxx. Can you please clarify what is your question? /cc @pranavkm

[2018-03-10 11:18] tchelidze commented on #7465
Well, it seems to be little bit different.

Observing [ControllerActionDescriptorBuilderTest.cs](https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/test/Microsoft.AspNetCore.Mvc.Core.Test/Internal/ControllerActionDescriptorBuilderTest.cs) and in fact `BoundProperties` represent the **properties of Controller** (not an action parameter) which get bound from the current requ

[2018-03-10 12:59] Matthew-Bonner opened #7466 "Add ability to inspect IFileProvider root once set"
You can specify the IFileProvider root but you can't find out what the root is once it is set.

From a security standpoint, if a file provider root is set, we need to be able to get this value back so that we can inspect it if required.

[2018-03-10 13:08] Matthew-Bonner commented on #7466
Moved to https://github.com/aspnet/Home/issues/2942

[2018-03-10 13:08] #7466 closed

[2018-03-10 16:09] daveabrock opened #7467 "Rationale for using X-Powered-By and Server response headers"
Here's some typical responses I get from a client calling a Web API in ASP.NET Core (screenshot taken from Postman):

![image](https://user-images.githubusercontent.com/275862/37244185-c6c99784-244a-11e8-883e-a80958558428.png)

I'm wondering what the rationale is for including the `X-Powered-By` and `Server` header values (I understand this has been occurring long before Core was conceived). In th

[2018-03-10 17:17] mkArtakMSFT commented on #7467
@rynowak, what do you think? //cc @DamianEdwards, @blowdart

[2018-03-10 17:23] DamianEdwards commented on #7467
X-Powered-By comes from IIS, not ASP.NET Core. You can remove it in configuration if you wish. The Server header is required by spec. Anything other than random values there would identify the server, and even the pattern of random values might be enough to identify too.

[2018-03-10 17:38] blowdart commented on #7467
There are other ways to work out what the web server is than just the headers too, heck I had IIS configured to say it was Apache and nmap still got it right. There's no real security risk in returning a server string, and like Damian says the specs required it.

X-Powered-By is another question, but it's easy enough to remove in web.config, as is the Server header should you be concerned.

[2018-03-10 18:13] daveabrock commented on #7467
Thanks for the quick feedback, guys. Yeah, I know how to exclude these from the response, but I was just wondering. The `Server` header being part of the spec makes sense. I've never been a fan of `X-Powered-By` as I've always seen it as advertising in a header, but I forgot it is part of IIS. Thanks again!

[2018-03-10 18:13] #7467 closed

[2018-03-10 23:10] JakenVeina opened #7468 "Consuming the ApplicationModel?"
Within ASP.NET Core...

Is it possible for me to consume the current `ApplicationModel`, rather than just inject conventions into it? I.E. can I get an instance of it outside of an MVC class, and use it to configure other parts of my application?

I'm trying to setup a joint WebApi/SignalR app, where all the main API methods are provided by MVC controllers, and SignalR simply provides a mechanism

[2018-03-11 03:40] rynowak commented on #7468
If you want to **read** data after it's been initialized, you should start with `IActionDescriptorCollectionProvider`.

The application models are like the *recipe* for the action descriptors. They go away once the cake is in the oven 😆

[2018-03-11 06:10] JakenVeina commented on #7468
Yeah, that makes sense, the more I look at the code. So, how about a different question?

What would I need to do to write an `IApplictionModelConvention` that takes attributes from controller classes and uses them to route actions on a different controller. For example...

[code]

... such that we end up with the following routings ...

[code]

I got as far as this, within an `IApplicationModelCo

[2018-03-11 18:43] mariuszkochanowski commented on #7459
@mkArtakMSFT based on your suggestion i created provider that allows me use normal paths:
[code]

[2018-03-11 23:01] gregbradley commented on #6725
Hi @mkArtakMSFT. Attached is the logfile of just the CMD process. Is that all you wanted me to capture, or all processes at the time? It does show the QueryDirectory operation and the incorrect result being returned.

[Logfile.zip](https://github.com/aspnet/Mvc/files/1800970/Logfile.zip)

[2018-03-11 23:05] mkArtakMSFT commented on #6725
Thanks @gregbradley. I'll check with the owners of the area. Will update this thread as soon as will hear an update from them.

[2018-03-11 23:19] mkArtakMSFT commented on #7459
Glad it worked out, @mariuszkochanowski.

[2018-03-11 23:19] #7459 closed

[2018-03-12 10:38] daniel-white opened #7469 "Support multipart/* request binding"
It would be nice if out of the box I could bind to a `multipart/*` request beyond a form binding. We work with a lot of files and AFAIK, nested binding to a JSON blob is not supported in the form binding out of the box.

For instance this (simplified) request
[code]

could be bound to a model shape

[code]

in the controller

[code]

I've tried to create an `IInputFormatter` which seems to happen

[2018-03-12 10:52] Mardoxx commented on #7465
@mkArtakMSFT The question should be "How can I retrieve a list of bound parameters of an Action?" It would seem there is not a way, at least not with `ActionDescription`!

@tchelidze Checking the tests! Now why didn't I think of that! 😄  Thanks for the writeup

[2018-03-12 13:21] desjardinsm opened #7470 "Issue authoring a custom tag helper in F#"
I had been trying to write a custom tag helper in F#, however I've ran into an issue where the tag helper seems to ignore the given `HtmlTargetElementAttribute`—it instead ends up applying to every tag on the page.

The following is a reduced case with which I could reproduce this issue myself; as far as I understand, this should only match on `<test>` elements with a `custom` attribute:

[code]

[2018-03-12 16:25] Eilon opened #7471 "Format Date issue with querystring return get, change format"
_From @shpsyte on February 2, 2018 16:6_

# Date format issue for GET METHOD ON CONTROLLER

I'm developing an application and I get this "error", I have a data model and I have datetime properties set.

In the first GET on the page, Date format is correct, eg: dd/mm/yyyy (as defined in the data model)

But after the Second GET  the date format is changed to mm/dd/yyyy (in back end) but in view is

[2018-03-12 16:25] Eilon commented on #7471
_From @shpsyte on February 3, 2018 13:37_

any ?

[2018-03-12 16:25] Eilon commented on #7471
_From @Petermarcu on March 11, 2018 16:24_

@muratg @Eilon @ajcvickers Is this somewhere in MVC/EF?

[2018-03-12 16:28] Eilon commented on #7471
@shpsyte I suspect this is because of the following behavior in MVC:

1. Model binding (the thing that generates the parameters for your action method) will use the Invariant Culture for parsing dates from the query string
2. But rendering the output in `<input type="text" asp-for="dueDateStart" class="form-control">` will use the *current culture*

Because these two cultures are often different,

[2018-03-12 16:46] mkArtakMSFT commented on #7470
Hi @Cartermp, can you please look into this? Thanks!

[2018-03-12 16:49] mkArtakMSFT commented on #7469
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2018-03-12 16:53] mkArtakMSFT commented on #7438
Closing the issue as it's by design. If you think there is something we haven't answered or considered, feel free to reopen it and leave your comments.

[2018-03-12 16:59] #7342 closed

[2018-03-12 17:02] mkArtakMSFT commented on #7364
Closing this issue as it seems there is no repro and we have no way to investigate the reported behavior. Feel free to reopen if, when you'll get more info which can help with investigation.

[2018-03-12 17:02] #7364 closed

[2018-03-12 17:06] mkArtakMSFT commented on #7437
TL;DR, @ryanbrandenburg, are there any other actions here, should we close already?

[2018-03-12 17:11] mkArtakMSFT commented on #7435
@dougbu, I think you already have some fixes for this area. If this one, however, is self contained, feel free to reassign to @kichalla. Please also assign the cost, whoever will be handling it.

[2018-03-12 17:16] mkArtakMSFT commented on #7442
Thanks for contacting us, @maxtoroq. The Value helpers are currently targeted at `display` scenarios and not `edit` scenarios. Changing them would be a breaking change. Closing this as we have not heard sufficient number of requests about this to consider it.

[2018-03-12 17:16] #7442 closed

[2018-03-12 17:18] #7437 closed

[2018-03-12 17:25] dougbu commented on #7435
Reassigning because I did not experiment with my recommendations. On the other hand, I did a bit of the search for `IModelMetadataProvider.GetMetadataForType(...)` uses and suspect there be dragons -- though likely baby dragons (corner cases).

I would cost this as S but will leave it to @kichalla to make his own determination and assign the label.

[2018-03-12 17:26] mkArtakMSFT commented on #7443
Hi @dopare. Thanks for reaching out to us. We're closing this issue as it seems the referenced fix we're working on will fix this too. If the behavior you're observing won't be fixed after our fix, please file a new issue or just reopen this issue, so we can investigate further.

[2018-03-12 17:27] #7443 closed

[2018-03-12 19:20] maxtoroq commented on #7442
Not according to [MSDN](https://msdn.microsoft.com/en-us/library/system.web.mvc.html.valueextensions):

[2018-03-12 20:15] rynowak commented on #7468
Sure, that seems like it would work. Remember that each route template on an action will be concatenated with the route template on the controller.

So you might want to specify `"somethinghappened/subscribe"` instead of `"api/test/somethinghappened/subscribe"`

[2018-03-12 21:55] cartermp commented on #7470
@kevinransom and @dsyme could this be related to the recent issue with literals?

[2018-03-12 23:34] JakenVeina commented on #7468
Thanks for the time, all.

[2018-03-12 23:34] #7468 closed

[2018-03-12 23:39] dougbu commented on #7443
Ooops, my apologies. This is a duplicate of #7412, not #7413. #7412 is about `IObjectModelValidator` and how it's used.

[2018-03-12 23:50] dougbu commented on #7471
@shpsyte removing `type="text"` may allow the browser to use date widgets for your `DateTime` fields. Whether that happens depends on the browser. The widgets hide any formatting (while making the formatting more constrained due to browser restrictions). Either way, MVC will generate the correct HTML for those widgets without `type="text"`.

Also recommend using `<form method="form">` to consisten

[2018-03-12 23:56] #6372 closed

[2018-03-13 06:58] Eilon commented on #7471
@dougbu what's `<form method="form">` ?

[2018-03-13 09:19] #7412 closed

[2018-03-13 09:27] kichalla commented on #6361
@mkArtakMSFT  This looks like a dupe of https://github.com/aspnet/Mvc/issues/6372

[2018-03-13 16:22] mkArtakMSFT commented on #4627
@javiercn , @rynowak is this something we can push out further? Maybe even RC milestone?

[2018-03-13 17:01] mkArtakMSFT commented on #7465
@Mardoxx, you already confirmed that @pranavkm 's suggestion regarding `ActionDescriptor.Parameters` contained the data you were looking for - bound parameter info. Closing this thread as there seems to be no other question here.

[2018-03-13 17:16] Mardoxx commented on #7465
No it doesn't.

On 13 Mar 2018 5:02 pm, "Artak" <notifications@github.com> wrote:

[2018-03-13 17:16] Mardoxx commented on #7465
`ActionDescriptor.Parameters` contains a list of all parameters, regardless of if they have a value bound to them or not.

[2018-03-13 17:19] Mardoxx commented on #7465
I was under the assumption that @pranavkm was asking for this information for further diagnostic.

[2018-03-13 17:31] pranavkm commented on #7465
Seems like we're talking past each other, let's go over this again:

* A controller or a Razor page handler may have bound properties indicated by `ActionDescription.BoundParameters`. An action also has parameters listed by `ActionDescription.Parameters`. Parameters are always model bound.
* Both BoundProperties and parameters may be annotated with specific attributes that disallows binding. `Mode

[2018-03-13 19:43] javiercn commented on #4627
@mkArtakMSFT Definitely. We haven't cared about getting it done in past releases.

[2018-03-13 20:54] mkArtakMSFT commented on #4627
Moving this to 2.2 milestone as it seems this is not a high priority item.

[2018-03-14 00:57] chgi opened #7474 "HttpContext obtained via IHttpContextAccessor (from DI) contains an empty user identity"
I hope this is the right place to post this. The issue seems to be somewhere between Mvc, Identity and DI.

### Functional impact
Can not obtain user info inside the DbContext Constuctor for use in QueryFilter.

### Minimal repro steps

1. In Visual Studio 2017 (v15.6.1) create a new Project
2. Select ASP.NET Core Web Application
3. Use settings: .Net Core, ASP.NET Core 2.1, Web Application, Indiv

[2018-03-14 01:04] jbagga commented on #7411
[code]
This is the error I get when using `MvcJsonOptions`
[code]
https://github.com/aspnet/Mvc/commit/2e73bab2a40919b3fd10e907b3a70862299d5c24#diff-114dc2a6d98896f96f7252280899afcdR414

[2018-03-14 01:23] rynowak commented on #7411
Sadly it's not that simple. For various complicated reasons putting any validation or model state at the 'top level' or using the 'empty prefix' will totally break some of the validation and model binding subsystems. We have a fair bit of experience with getting this wrong 😢

What I've proposed in the past (and I can't remember why we didn't do it) was to use a magic `$body` value as the key for a

[2018-03-14 03:01] mkArtakMSFT commented on #7474
Thanks for reporting this issue. @javiercn, can you please investigate this? Thanks!

[2018-03-14 03:51] davidfowl commented on #7474
@chgi Can you show the call stack when you first hit the DbContext constructor? It's entirely possible that there is no user when this happens.

[2018-03-14 05:21] chgi commented on #7474
Thank you for looking at this!
Below is the call stack when hitting the breakpoint with a logged in user.
I am sorry, I didn't have the time to dive into this myself, but my intuition was that, since Authentication is in the middleware pipeline before MVC, I should have the user by the time I request the DB context.

However, looking at the callstack now, it seems the DbContext is requested first

[2018-03-14 08:12] Pangamma commented on #6934
I've been trying to get down to the level where I can recreate this... there are just so many layers to go through to try to get this functionality back. It is ridiculous. Hope someone else can get it working.

[2018-03-14 09:37] M1991 opened #7476 "Black screen after image to pdf conversion"
I am trying to develop an application where users configure some details and after that it creates an image with that details(standard requirement) and converts that image to pdf and attach it to mail to send to respective person.

Now, the image formation is done using System.Drawing and working fine. Have check and saved to local server.
Again that image is converted to pdf and pdf is also worki

[2018-03-14 11:04] #7476 closed

[2018-03-14 11:54] redbar0n commented on #4189
FWIW, In our case we received this error when accessing `localhost:<port>/graphql` even though the `View/GraphQL/Index.cshtml` was in the right place. We got the error because `wwwroot/bundle.js` and `wwwroot/style.js` was not initally committed, since our .gitignore included `wwwroot`. Discovered it by inspecting the network traffic and seeing it was these files giving the 404 and not the `Index.

[2018-03-14 13:00] candritzky commented on #7001
I have exactly the same problem with VS 2017 15.6.2. A repro is attached.
[AspNetCoreTest.zip](https://github.com/aspnet/Mvc/files/1811129/AspNetCoreTest.zip)

[2018-03-14 13:24] cleftheris commented on #5701
@rynowak Hi Ryan after last weeks' community standup I saw all the `ApiControllerAttribute` convention enhancements regarding swagger. Is there any simple way to make the `FileResult` light up in swagger as part of the 2.1 release?

[2018-03-14 16:11] pranavkm commented on #7001
@candritzky could you also share these additional files from your app's directory:

* `AspNetCoreTest.deps.json` from the output directory `bin\Debug` or `bin\Release` of the application?
* `project.assets.json`, `AspNetCoreTest.csproj.nuget.g.targets` from the obj directory

I tried building your repro app and it looks fine to me. I don't see a reference to `Microsoft.NETCore.App`, perhaps there'

[2018-03-14 16:32] svallis commented on #7438
Thanks for the responses. I noticed that @shanselman bumped in to this same issue and documents it in a blog post (with further examples of people bumping into the same issue in the comments, and only noticing due to pen testing):

https://www.hanselman.com/blog/SettingUpApplicationInsightsTook10MinutesItCreatedTwoDaysOfWorkForMe.aspx

I'd agree with the above. It still needs to be possible for de

[2018-03-14 16:58] pranavkm commented on #7438
@svallis I think @rynowak is working on adding support for HEAD and OPTIONS requests mapping to GET as part of preview2. He's promised to file an issue for this soon.

[2018-03-14 17:08] mkArtakMSFT commented on #7460
@baffourt, did the provided suggestions solve your issue?

[2018-03-14 17:10] mkArtakMSFT commented on #7434
@autyan, any updates regarding this?

[2018-03-14 17:31] candritzky commented on #7001
@pranavkm Yes, seems to be some caching problem with VS2017. Happened only after I created a new ASP.NET Core project, then selected "Edit .csproj", changed the <TargetFramework> from netcoreapp2.0 to net461, build, publish --> error. After unloading and reloading the solution file, it worked.

Thanks for you quick replies. Let's close this issue again.

[2018-03-14 17:33] Crypt32 opened #7477 "Model binder for nested type (collection of interfaces)"
I'm having an issue with model binding when posting object that contains interfaces. I'm using ASP.NET MVC Core 2.0, web api. Consider the following scenario:

[code]
These classes reside in separate class library (not in MVC project, but I believe it doesn't really matter).

Now, my controller:
[code]
This works as long as I don't try to post nested collection. When I do, `createDto` is always `n

[2018-03-14 19:00] svallis commented on #7438
@pranavkm @rynowak That sounds great, providing you can still override the handler on a per-page basis should the need ever arise. It would be fantastic to see it make the release of v2.1.0 - thanks for all the hard work!

[2018-03-14 19:56] pranavkm opened #7478 "Add a framework specific reference to Microsoft.DiaSymReader.Native to Microsoft.AspNetCore.Mvc.Razor"
The goal is to reference it in places where we'd generate full pdbs which is desktop .NET.

[2018-03-14 19:57] pranavkm opened #7479 "Consider referencing Microsoft.DiaSymReader.Native in Microsoft.AspNetCore.Mvc.Razor"
The DiaSymReader package is the recommended requirement, as opposed to using the DiaSymReader that's carried by the framework, when an application generates full pdbs.

[2018-03-14 19:57] #7479 closed

[2018-03-14 20:04] pranavkm commented on #7001
It's likely that the auto-imports that NuGet adds for you aren't being removed when you change the TFM. I'd encourage you to file an VS feedback item for this since it's primarily tooling focused - perhaps doing something as simple as Clean on the project any time target frameworks change might be a reasonable solution.

[2018-03-14 20:04] #7001 closed

[2018-03-14 20:18] ShadowDancer commented on #7478
@pranavkm
I would like rather to have option to force portable pdbs than packing few mb assembly for my self-contained apps.

Maybe referencing this explicite should be optional for guys who need windows pdbs?

[2018-03-14 20:36] pranavkm commented on #7478
For 2.1.0, Razor compilation uses the `DebugType` that the project specifies, so if you're targeting CoreCLR, you shouldn't see this reference and view compilation should produce portable pdbs. Unfortunately, support for portable pdbs in desktop hasn't landed as yet. To have good stack traces, and a nice developer exception page experience, we have to generate full pdbs on desktop targeting applic

[2018-03-14 23:32] rynowak commented on #5701
Can you provide a little more info about what you're looking for here? Are you looking for something like the section `Response That Returns a File` https://swagger.io/docs/specification/describing-responses/

[2018-03-15 00:30] NTaylorMullen commented on #7374
Ya I'm not sold on having a `fieldName` property. Going to leave that out.

[2018-03-15 00:57] rynowak commented on #7438
Yep. Self-assigning myself.

This is working as we intended it to, but we still got it wrong in this case. What really changed my mind is seeing a bunch of failures in production logs for innocent little HEAD requests. That's something that needs to 'just work'

[2018-03-15 02:06] autyan commented on #7434
@mkArtakMSFT Sorry, I Can't reproduce this bug right now on my ubuntu server. May be it's something wrong form my code.
I'll keep tring, but you may close this issue.

[2018-03-15 03:52] javiercn commented on #7474
@haok @ajcvickers This seems more in your area of expertise.

[2018-03-15 03:57] HaoK commented on #7474
So the problem is that the security stamp validator is called as part of validating the user which is responsible for setting the identity, so the first call is always going to be before user is set.  Why don't you try just hanging onto the contextAccessor and access the user name through the accessor via a property when you need it instead of storing the user name in the ctor?

[2018-03-15 04:04] davidfowl commented on #7474
Yes that's the right fix. Delay getting the value until you need it.

[2018-03-15 04:05] granthoff1107 commented on #7436
@javiercn I do not see the section for overriding the controller names,  am I missing something?

[2018-03-15 08:40] chgi commented on #7474
Yes, that sounds good. I will try it this way.
Thank you all for you help!

[2018-03-15 08:40] #7474 closed

[2018-03-15 11:52] cleftheris commented on #5701
Yes exactly that!

Though I have no experience with the latest OpenAPI 3.0 stuff but I have been using the suggested workaround above in swashbuckle.Aspnetcore v1.x  (the `Stream` to `file` mapping) with success. My question is: _would I have to find a new workaround when moving to aspnetcore 2.1 **Vs.** not bother because the framework has me covered._

Thanks

[2018-03-15 14:53] rynowak commented on #5701
You should keep using your workaround for now. I'm going to *un-question* this issue and look into what we can do.

Two caveats:
- We likely wouldn't do anything *automatic* based on the return type `FileResult` because that doesn't help the case where you mix `File(...)` and `NotFound(...)`
- Anything that we do will result in us defining a new API in ApiDescription. That means that tools like NS

[2018-03-15 15:27] natemcmaster opened #7482 "Missing service for IAuthorizationPolicyProvider when using AddMvcCore().AddRazorPages()"
I'm trying to make a minimal razor pages app, but it seems just using ServiceCollection.AddMvcCore().AddRazorPages() does not add all needed services. Should this work or is there some other call I'm expected to add?

Error:
[code]

**Repro**

[code]
[code]

[2018-03-15 16:31] mkArtakMSFT commented on #7482
@pranavkm, can you please look into this? Thanks!

[2018-03-15 16:34] mkArtakMSFT commented on #7434
Thanks @autyan. I'll close this issue for now. If you'll manage to reproduce it, please reopen and share the repro project.

[2018-03-15 16:34] #7434 closed

[2018-03-15 17:00] mkArtakMSFT commented on #7445
Thanks for contacting us, @nefcanto. @pranavkm, can you please investigate this? Thanks!

[2018-03-15 17:01] mkArtakMSFT commented on #7423
Thanks for contacting us. @dougbu, can you please look into this? Thanks!

[2018-03-15 17:11] natemcmaster commented on #7482
Thanks @pranavkm

[2018-03-15 17:13] evil-shrike commented on #6657
I also encountered this "No output formatter was found for content type 'text/html' to write the response" error while I tried to return html from my controller.
But in my case I have a Steam with data. What I tried at first is just copying my stream into Response.Body:
[code]
It produces the mentioned error.
The suggested workaround is to return `ContentResult`. Ok, but for this I'll have to copy

[2018-03-15 20:19] dougbu commented on #7423
The model binding failures happen as a result of MVC's key rewriting to handle jQuery submissions. That rewrite is _almost_ all-or-nothing and a mix of collection and properties in the model types will not quite match. The "_almost_" part leads to the inconsistency you observed -- individual keys are not rewritten when they look a bit like array indices. The GUID starting with a number is enough t

[2018-03-15 20:19] dougbu commented on #7423
Clearing all labels and my assignment&hellip;

[2018-03-15 20:45] mkArtakMSFT commented on #7350
@pranavkm, what are your thoughts about this one? Did we ever implemented this, or not?

[2018-03-15 21:02] mkArtakMSFT commented on #7346
Pushing this to the next milestone so we can collect more data. If we hear many customers asking for these customizations we'll reconsider our decision. For now the current approach is by design.

[2018-03-15 21:12] pranavkm commented on #6944
To add on to this, `BindProperty` is allowed on types, but it only works on page handlers. Would be yet another thing we need to add to make conistent.

[2018-03-15 21:14] pranavkm commented on #7350
Yup, this is an issue. We could put this off until RC since a fix should not involve any new types \ APIs.

[2018-03-15 21:23] alexsandro-xpt commented on #5992
How can I use this `Microsoft.AspNetCore.Testing` package?
I'm install it from myget normaly at my test project.
[code]

But and now?

[2018-03-15 21:48] dougbu commented on #7423
After a quick internal discussion, marking this as a bug.

Preferred fix isn't mentioned above: Change the `DictionaryModelBinder` to try both `ModelName[Key]` and `ModelName.Key`. In this case, the model binding system would find both `data[912cd1ad-52c0-40cb-9644-55f2eb180a97].somevalue` and `data.fa19cae8-abaa-48af-b39b-8bdc45c05c6f.somevalue`. This fix has is quite cheap and few (if any) back-

[2018-03-15 22:14] tugberkugurlu commented on #6877
Is this related to OpenAPI 3?

[2018-03-15 23:00] dougbu opened #7484 "Fragile handling of array indices when rewriting JQuery request data"
Follow-on for aspnet/Mvc#7423&hellip;

The `JQueryFormValueProviderFactory` and `JQueryQueryStringValueProviderFactory` attempt to special case array indices when rewriting keys. The code checks only the first character of the key, not the entire key. The created value providers may contain partially-rewritten keys e.g. `[0abc].a0bc` when the whole string should be rewritten.

Naive fix is to rewr

[2018-03-15 23:07] NTaylorMullen commented on #7379
4e7d1a5a32860ba4f4f6a86fd0b9e1049e4d8c50

[2018-03-15 23:07] #7379 closed

[2018-03-16 00:29] chgi commented on #7474
Just in case this could help someone stumbling on this.
I did some experiments and this seems to work:
ActivateUserFilter() is called from the Controller/PageModel

[code]

[2018-03-16 05:03] rynowak commented on #4604
[code]

@pranavkm This logs the **TYPE** of the value, which is what expect. What am I missing???
https://github.com/aspnet/Mvc/blob/930664de6ef5b6fe1d547ded61745962253774eb/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcCoreLoggerExtensions.cs#L936

[2018-03-16 11:39] M1991 opened #7486 "Include excluded files from project programatically"
I am trying to build an application that creates an image by Drawing and saves to Temp folder in server. But that file is excluded from project automatically. How to add this file again as I am unable to use the excluded file.
Error:  File is being used by another process.

My Code:
              `var p = new Microsoft.Build.Evaluation.Project(@"C:\projects\BabDb\test\test.csproj");

[2018-03-16 13:59] RandyBuchholz opened #7487 "Confused About Areas in Razor Pages - 2.1-Preview"
Razor Pages in MVC: https://github.com/aspnet/Mvc/issues/6926
Areas in Razor Pages: https://github.com/aspnet/Mvc/pull/7135

I don't understand the need for `Areas` in Razor pages, especially when it adds complexity to something clean and simple, and breaks things.

It seems that this idea came from `6926` to let MVC users use Razor Pages in MVC. The end result seems that for those of us that don'

[2018-03-16 16:09] pranavkm commented on #4604
The problem's here - https://github.com/aspnet/Mvc/blob/930664de6ef5b6fe1d547ded61745962253774eb/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ObjectResultExecutor.cs#L128

[2018-03-16 16:33] mkArtakMSFT commented on #7411
@danroth27, I'm moving this out as we don't have capacity to handle this - including the unknown here.

[2018-03-16 20:10] mnmr opened #7489 "Model binding accesses read-only properties in post-back"
I have a simple edit model, which contains a few computed/read-only properties. When posting to a controller method, the model validation engine accesses these properties, causing an exception.

However, it does not make sense to access or attempt to validate a read-only property.

Additionally, all properties are marked with [BindNever], which seems to have no effect on this behavior.

The contro

[2018-03-16 20:17] shubham1413 opened #7490 "Deserializing Web Api parameter fails in case of large json"
I have a Asp.Net Core 2.0 Web API service that has a HTTP Post Method that contains a byte[] parameter which fails to get deserialized when larger JSON like 30 mb is sent as body content thus having null value. But for small json it's been able to deserialize properly into byte array.

Basically what i am trying to do is i have to send byte array to Asp.Net Core 2.0 Web Api endpoint that will uplo

[2018-03-16 23:52] pranavkm commented on #7454
@HolyOne this seems to work fine. See https://github.com/pranavkm/7454/blob/master/Pages/_ViewImports.cshtml#L2

Could you get me a app that reproduces the problem you're running in to?

[2018-03-17 06:40] Dmitry44 opened #7494 "Razor Pages and Filters"
Hi!
I am trying to use ExceptionFilterAttribute on razor pages. It works fine on the top of PageModel:

[code]

But it doesn't work on page handler:

[code]

Is it possible to use filters on the handler level?

[2018-03-17 14:17] ngohungphuc opened #7495 "[Question] Get current user login info in ASP.Net Core 2.0"
I want to get current user login info like username, id. The following code work good but is there any cleaner way to achieve it.
[code]

[2018-03-17 17:42] RandyBuchholz opened #7496 "Razor Pages Feature - Search for Page by Folder Name"
## Proposal
In addition to serving `index` and `default` as default pages for Razor Page routes, the routing engine also searches for a Razor Page with a name that matches the name of the containing folder.

Given the folders/files:
[code]

It would be nice to be able to use the route
[code]
instead of
[code]
This providers a cleaner url without having to clutter the application with many `index`

[2018-03-18 07:52] HolyOne commented on #7454
Sorry you are right
This works perfectly, I think I forgot to put abstract when derieving from
page or something :(

On Sat, Mar 17, 2018 at 2:53 AM, Pranav K <notifications@github.com> wrote:

[2018-03-18 21:08] zokiad opened #7497 "How to remove integrity script on fallback ?"
Hi,

On my project .net core 2.1 preview 1, I include script like:

[code]

The generated html code is:

[code]

## **Issue:**
integrity is propagate to fallback in document .write:*
document.write("\u003Cscript src=\u0022\/js\/jquery.validate.min.js?v=F6h55Qw6sweK-t7SiOJX-2bpSAa3b_fnlrVCJvmEj1A\u0022 **integrity=\u0022sha256-F6h55Qw6sweK\u002Bt7SiOJX\u002B2bpSAa3b\/fnlrVCJvmEj1A=\u0022** crossori

[2018-03-19 05:05] Eilon opened #7498 "Multiple validation schemes"
_From @incompletude on January 6, 2018 6:10_

I'm not sure I have a issue but I'm not sure how to approach these problems and I hope you guys can point me to the right direction.

The first problem is related to the `[Required]` and `[BindRequired]` DataAnnotations. Seems to me a bit hacky to make my Id property nullable so I can use the Required parameter. I tried `[BindRequired]` parameter inste

[2018-03-19 05:05] Eilon commented on #7498
_From @Petermarcu on March 18, 2018 16:55_

@Eilon

[2018-03-19 05:05] Eilon opened #7499 "ASPNET CORE MVC not working with External DotNet Standard Library"
_From @Phoenigore on December 27, 2017 17:1_

# Issue Title

ASPNET CORE MVC not working with External DotNet Standard Library

# General

When you want to use a DotNet Standard Library 2.0 project into AspNet Core MVC Project from another solution, the AspNetCore MVC program crash with this error.

InvalidOperationException: Cannot find compilation library location for package 'Name.Of.DotNetStan

[2018-03-19 05:05] Eilon commented on #7499
_From @dasMulli on December 28, 2017 17:50_

How do you reference the library? a project reference or a dll reference?

[2018-03-19 05:05] Eilon commented on #7499
_From @nefcanto on January 1, 2018 12:37_

I also get this annoying error.

I'm trying to reuse my `.cshtml` files in other projects.
I have a simple class library that includes some `.cshtml` files. I've added them as embedded resources according to this [SO question](https://stackoverflow.com/questions/47726991/how-to-reuse-views-pages-in-asp-net-core-mvc).

Then I've added an application part f

[2018-03-19 05:05] Eilon commented on #7499
_From @Petermarcu on March 18, 2018 16:54_

@Eilon

[2018-03-19 05:20] Eilon opened #7500 "Model is not binding with the values in WEB API GET method when data is Json"
_From @onlyanup on March 17, 2018 16:32_

I have a GET method where I'm passing a JSON object. The object is the stringified value of a List of a POCO. The Model Binder fails to bind to the object in this method.

[code]

Here the data is not exactly null either. It's just an empty object
![image](https://user-images.githubusercontent.com/37064591/37557489-408f3ad4-2a2b-11e8-85cf-eed974e2937a.png)

[2018-03-19 05:20] Eilon commented on #7500
_From @louislewis2 on March 18, 2018 21:6_

@onlyanup Could you try this

[HttpGet("check2")]
public object Check([FromQuery]List<SearchModel> data)
.....

For your POST method, you have added the FromBody attribute, perhaps adding
the FromQuery attribute would work for you on the GET method.

[2018-03-19 05:20] Eilon commented on #7500
_From @onlyanup on March 18, 2018 21:17_

@louislewis2 I had tried that. Please see the 2nd Image in the report.

[2018-03-19 06:49] #7454 closed

[2018-03-19 09:55] onlyanup commented on #7500
@Eilon Is there any workaround for this?

[2018-03-19 10:05] louislewis2 commented on #7500
@onlyanup Sorry, I did miss that second image you are referring too.
I did see in your fourth image that the data variable is actually an array.

I had an issue like this before, where I had to create an special binder that could handle array values.
I am not sure if this is still an issue, but perhaps that could help you in the mean time while the ASP.NET team check into your issue.

Just google

[2018-03-19 10:17] onlyanup commented on #7500
@lajones Thanks for the suggestion. Even I was thinking of creating a custom ModelBinder but after seeing that POST method (Image 3) does bind to the model correctly, I didn't think to re-invent the wheel. I mean a binder must be there which does the work in POST but is not employed in the GET method. I was looking for some workaround to reuse the existing binder by, maybe, making some changes in

[2018-03-19 14:58] rynowak commented on #7323
I'm confused about this. Where's the bug here? https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/MvcJsonLoggerExtensions.cs#L36

This should have been addressed as part of https://github.com/aspnet/Mvc/commit/db2d9ee56f9a7ca0f1a264821e0608b70047337c

@davenewza and @oofpez - this was fixed for 2.1 - if you're experiencing this on 2.0 or earlier, you will

[2018-03-19 15:02] oofpez commented on #7323
ok, nvm.  Waiting on 2.1 to go live then :)

[2018-03-19 15:03] rynowak commented on #7323
I just tried this locally, and it outputs:
[code]

@jbagga were you able to reproduce this in some other way on 2.1?

[2018-03-19 15:06] #4604 closed

[2018-03-19 15:09] davenewza commented on #7323
@rynowak Thanks. Will set the logging filter for now and until 2.1 which I believe is scheduled for Q2.

[2018-03-19 15:29] colgreen commented on #5701
@Kwal Here's a version of your FileFilter with the redundant loop replaced with a condition...

[code]

[2018-03-19 16:10] Eilon commented on #7500
@onlyanup sorry I'm not sure, but I'll let the experts in this repo have a look and they will get back to you with an answer.

[2018-03-19 16:14] mkArtakMSFT commented on #7500
@dougbu, can you please look into this? Thanks!

[2018-03-19 16:15] mkArtakMSFT commented on #7499
@pranavkm, can you please look into this? Thanks!

[2018-03-19 16:20] JohnCOsborne commented on #2910
That will work but since ViewComponent is being loaded inside a view and that view is probably using _Layout.cshtml which is already adding jquery.js, bootstrap.js, and site.js; this will cause you to duplicate the script files.

[2018-03-19 16:58] dougbu commented on #7500
This is the recommended approach to deserializing JSON in the query string. `[FromBody]` is the _only_ way to perform JSON deserialization inside the model binding system.

[2018-03-19 17:01] dougbu commented on #7500
Thank you for your feedback. We're closing this issue as the behaviour discussed is by design.

[2018-03-19 17:01] #7500 closed

[2018-03-19 17:05] pranavkm commented on #7499
@nefcanto you likely need to set [`<MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish>`](https://github.com/aspnet/MvcPrecompilation#options) in your csproj.

@Phoenigore could you share more about how your project's set up?

[2018-03-19 17:29] dmaksim opened #7503 "When validating IValidatableObject, ModelState has non-empty string key"
Hello,

My view model:

[code]

My Controller action:

[code]

**Problem:**
Inside the controller action, `ModelState` has 1 error (as expected), but that error is with a key `"viewModel"` (the same as action parameter name), instead of `""` (empty string). This results in validation summary div not rendering at all in ModelOnly mode.

The problem is present when using ASP.NET Core MVC 2.1.0-previ

[2018-03-19 17:33] onlyanup commented on #7500
Hmmm. Interesting design choice. Thanks for letting me know.

[2018-03-19 17:47] jbagga commented on #7323
With dev I see:

[code]

When the Action is
[code]

@oofpez and @davenewza I am closing this for now. Let us know if you run into any issues here when trying 2.1!

[2018-03-19 17:47] #7323 closed

[2018-03-19 18:26] mkArtakMSFT commented on #7465
Hi. We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-19 18:26] #7465 closed

[2018-03-19 19:06] #7435 closed

[2018-03-19 19:26] javiercn commented on #7244
Done in https://github.com/aspnet/Mvc/commit/908e7a863bdbd6e229594c6637713cb2f2a6f63b

[2018-03-19 19:26] #7244 closed

[2018-03-19 19:26] javiercn commented on #7037
Done in https://github.com/aspnet/Mvc/commit/908e7a863bdbd6e229594c6637713cb2f2a6f63b

[2018-03-19 19:26] #7037 closed

[2018-03-19 19:27] rynowak commented on #7451
@BladeWise - I haven't heard anything here that makes me want to reconsider sealing `ActionResult<T>`

Can you explain a little more about what you hope to achieve by writing your own *envelope*? How is it different from `ActionResult<T>`

[2018-03-19 20:11] dougbu commented on #7091
390ebbb258 in `release/2.1`
1aeaf69f87 merges this to `dev`

[2018-03-19 20:11] #7091 closed

[2018-03-19 20:41] jbagga commented on #7451
https://github.com/aspnet/Mvc/pull/7507 to seal ActionResultofT

[2018-03-19 20:58] BladeWise commented on #7451
@rynowak As far as I know, `ActionResult<T>` is a way to create strong-typed actions that can be interpreted by the Api explorer without further work from the developer (i.e. decorating every action with a proper `ProducesResponseTypeAttribute`). It does not add a new functionality (you could achieve the same with a bit more work), it is just convenience for the developer plus a nice compile-time

[2018-03-19 21:03] rynowak commented on #7451
So, you're right `ActionResult<T>` gives you a particular runtime **and** API Explorer behavior. The runtime behavior is implemented by the `IConvertToActionResult` interface.

If we gave you an easy way to implement your desired API Explorer behavior for your custom result type, what would that look like? Can you make a suggestion?

[2018-03-20 01:03] BladeWise commented on #7451
I am honestly happy inheriting from a base class and `ActionResult<T>` fits perfectly; I don't think that there is the need for infrastructural changes or new code to handle this.

As @pranavkm pointed out, the issue likes in the implementation of [ClosedGenericMatcher](https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.ClosedGenericMatcher.Sources/ClosedGenericMatcher.cs).
That

[2018-03-20 02:23] dougbu opened #7509 "Support `[ValidateNever]` on parameters"
Especially now that MVC supports validation of top-level nodes such as action and page handler parameters, suggest we allow the `ValidateNeverAttribute` to be applied to parameters.

Will probably require an extension to `DefaultValidationMetadataProvider`'s support for `IPropertyValidationFilter` for this to work end-to-end.

----
Suggest adding tests of `[ValidateNever]` on controller and page m

[2018-03-20 04:15] mkArtakMSFT commented on #7498
@dougbu, can you please share your thoughts here? Thanks!

[2018-03-20 04:26] incompletude commented on #7498
Regarding this topic,

I have given up using a catch-all automatic filter.
I adopted using NULLABLEs, but I disagree completely with the pattern.
I'm manipulating the model state individually in each end point.

Not the best solution, could be better, but looks good enough.

[code]

[2018-03-20 12:01] drauch opened #7511 "Adjusting BindRequired semantics / alternatives?"
We want to give our REST API users feedback:
* if they provided no value for a required property -> we can use the BindRequired attribute in this scenario
* if they provided an ill-formatted / non-convertible value
** for a required property -> how to improve the BindRequired error message in this scenario, which simply states that no value has been provided which confuses the caller, because he h

[2018-03-20 13:50] Tornhoof opened #7512 "ApiController BindingErrors in 2.1-preview1-final"
The new 2.1 ApiController Attribute is supposed to infer the bindings. This does not work nicely.
The attached repro contains a webapp demonstrating the full problem, the controller looks like this:
[code]
The problems are:

1. If you have a cancellationToken in your method definition the binder will warn and the method will not work:
[code]
The result is Status 400 and
[code]

2. Even if I then a

[2018-03-20 13:59] Groman123 opened #7513 "Calling TryValidateModel(object) created unnecessary errors when using [Required] on string properties"
I'm using RazorPages and I have some troubles validating the user inputs.

As I learned from #6891 validating the PageModel always returns true at the moment.
I observed this bug in my program, so as mentioned as a workaround, wrapping the whole model properties as a in a dedicated viewmodel class seems to be a legal option to me.

This approach works nearly perfect, except for the fact that when

[2018-03-20 14:37] dougbu commented on #7498
@incompletude I would appreciate your help understanding your exact issue or issues.

For example, when exactly does `[BindRequired]` not "make a difference"?
- If this is within a model type used with `[FromBody]`, note `[BindRequired]` is an MVC attribute and none of the deserializers (input formatters) understand it. In fact, only the MVC model binding system understands `[BindRequired]`.

And,

[2018-03-20 16:16] dougbu commented on #7498
Thanks for the focus.

I recommend you stick exclusively with `ValidationAttribute`s and ensure initial values for mandatory properties are invalid. Use `[Required]` on properties of complex types but something else on value types.

For example,
[code]

[2018-03-20 16:30] kichalla commented on #6361
Closing as duplicate of https://github.com/aspnet/Mvc/issues/6372

[2018-03-20 16:30] #6361 closed

[2018-03-20 18:13] rynowak commented on #7512
Thanks for your feedback. We'll take a look at this and figure it out for preview2

/cc @pranavkm

[2018-03-20 19:20] kichalla commented on #7513
Could you share a repro for this?

[2018-03-20 19:20] incompletude commented on #7498
That is a nice idea.

[2018-03-20 19:23] incompletude commented on #7498
This is a very good idea. Gonna try that. Thx you so much for your time.

[2018-03-20 21:19] dougbu commented on #7498
For `public Boolean? Active { get; set; }`, I suggest defining a tri-state `enum` containing `Invalid`, `True` and `False` or sticking with `bool?`.

[2018-03-20 22:18] mkArtakMSFT commented on #7513
Thanks for contacting us, @Groman123. @kichalla, assigning this to you for further investigation. Thanks!

[2018-03-20 22:20] mkArtakMSFT commented on #7512
@pranavkm, can you please investigate this? Thanks!

[2018-03-20 22:40] kichalla commented on #7513
@Groman123 I unable to repro the issue you are seeing at my end. A repro could help.

[2018-03-20 23:51] kspearrin opened #7514 "Feature Request: Custom HTMLHelper Form CSS Classes"
Currently the HtmlHelper CSS classes are static strings:

https://github.com/aspnet/Mvc/blob/ecedbd5372a8460055eefd269938d0b26e826d3c/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/HtmlHelper.cs#L25-L30

Frameworks like Bootstrap 3 and now 4 have lots of special styling around these same elements, but they use different values (ex. `is-valid`, `is-invalid`,`invalid-feedback`, `invalid-tool

[2018-03-21 01:10] javiercn opened #7515 "Support for fallback attribute in partial taghelper to support library scenarios"
It would be neat if we can have the ability to optionally render a partial (similar to sections) either optionally or with a fallback. This is useful for libraries packing UI to allow easier composition with applications.

For example, a library could do something like

`<partial name="./_LoginPartial.cshtml" fallback="_LoginPartial />` to indicate:

Try and render that view from the main app or u

[2018-03-21 02:00] rynowak commented on #7451
It's still our plan to make `ActionResult<T>` sealed. The main reason why we provided that type (as opposed to alternatives) is to support implicit conversions from `ActionResult` and `T` - which goes away if you inherit from it.

If you've defined your own type to act as an envelope that's fine, but we should look at really providing the support for that (including API Explorer).

If after all of

[2018-03-21 07:56] pethumishara opened #7517 "download file from server"
How to download a file from server after Ajax success callback?

[2018-03-21 10:48] BladeWise commented on #7451
I see your point and I agree that losing the implicit conversion inheriting from `ActionResult<T>` partially defeats the purpose of the class...  even in my example I had to re-implement operators, so a bit more code implementing an interface would not pose a problem.

Regarding your proposals, I tend to think that having a single interface/service used to describe both the execution and API explo

[2018-03-21 14:09] dmaksim commented on #7503
It seems that the commit https://github.com/aspnet/Mvc/commit/236ef5d1d1d12a2503c6da0900b3c40ca5470985 by @SteveSandersonMS added the logic of replacing empty string key with parameter name: https://github.com/aspnet/Mvc/blob/390ebbb258215137a1cb493d2170eda9249d4afe/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Validation/ValidationVisitor.cs#L151-L154

From what I understand, it is related to th

[2018-03-21 16:37] natewallace opened #7518 "NullReferenceException thrown when Controller method uses Guid parameter default value"
I'm using ASP.NET Core 2.0 with MVC and testing my app within Visual Studio 2017(15.3.0) using IIS Express.  I'm also using version 7.1 of the C# language.

When I browse to a route that is associated with the following type of controller method using attribute routing:
[code]

I get the following exception
[code]

If I change the parameter of type Guid to be of type Guid? instead everything works

[2018-03-21 16:47] mkArtakMSFT commented on #7518
Thanks for contacting us, @natewallace. @kichalla, can you please look into this? Thanks!

[2018-03-21 16:51] mkArtakMSFT commented on #7503
@SteveSandersonMS, @rynowak is the behavior introduced recently critical? Should we stick with it, or is there a way to achieve what was necessary while maintaining the old behavior?

[2018-03-21 16:54] mkArtakMSFT commented on #7511
Thanks for contacting us.
@dougbu, do you have any suggestions regarding the ask? Thanks!

[2018-03-21 16:59] mkArtakMSFT commented on #7517
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core-mvc` tag.

[2018-03-21 16:59] #7517 closed

[2018-03-21 17:05] mkArtakMSFT commented on #7514
Hi @kspearrin.
Are you essentially looking for a mechanism to customize those `readonly` strings' values?

[2018-03-21 17:18] mkArtakMSFT commented on #7497
Thanks for contacting us, @zokiad. @javiercn, can you please look into this? Thanks!

[2018-03-21 17:19] mkArtakMSFT commented on #7497
/cc: @SteveSandersonMS

[2018-03-21 17:24] javiercn commented on #7497
@NTaylorMullen Any ideas?

[2018-03-21 17:27] mkArtakMSFT commented on #7490
Hi @shubham1413. Can you please share a repro project for us to investigate? Also, have you checked what are the `ModelState` errors, when you send big JSON file?

[2018-03-21 17:28] mkArtakMSFT commented on #7490
@kichalla, can you please work with @shubham1413 on this? Thanks!

[2018-03-21 17:29] mkArtakMSFT commented on #7496
@rynowak, do you have any thoughts regarding this? Thanks.

[2018-03-21 17:31] kspearrin commented on #7514
@mkArtakMSFT Yes.

[2018-03-21 17:35] mkArtakMSFT commented on #7495
Hi @ngohungphuc. The way you're doing it correct.
There are potentially other ways too to get the same information, which for we suggest to file an issue in [StackOverflow](https://stackoverflow.com) and mark it with `asp.net-mvc-core` tag.

[2018-03-21 17:35] #7495 closed

[2018-03-21 17:45] dougbu commented on #7511
`[BindRequired]` means binding a property must succeed. It can't succeed if the submitted value is poorly formatted. But, errors about the formatting should also be in the `ModelState`.
1. In what scenario does that _not_ occur?
2. Or, is your concern the sparseness of the `The value '{0}' is not valid.` or `The value '{0}' is not valid for {1}.` error messages? Those messages can be changed on a

[2018-03-21 18:23] ajaybhargavb commented on #6633
a7178a66bd9b58e24ae0df36f80b71da44058a6f

[2018-03-21 18:23] #6633 closed

[2018-03-21 18:42] ryanbrandenburg opened #7519 "Triage "Mvc" flaky tests"
I need to go down the list of flaky tests belonging to the Mvc team and make a quick determination which ones are most likely to be product issues. Those items which we believe to be actual product bugs we should try for preview2, others will be rc.

[2018-03-21 18:52] ryanbrandenburg opened #7521 "Remove "breaking changes" after ApiCheck is fixed"
@javiercn and I believe this is a bug in ApiCheck, so we added exclusions for now, but we should revert those exclusions once aspnet/BuildTools#615 is closed. The offending items are:

[code]

[2018-03-21 20:35] zokiad commented on #7497
ok thanks.
Perhaps, a solution is to add an attribute like "asp-fallback-integrity" with false/true value.
Generaly, the fallback is the local script (not cdn). Thus, we don't need to check the integrity for local script.

[2018-03-21 20:50] zokiad opened #7522 "AutoValidateAntiforgeryTokenAttribute erase Cache-Control"
Hi,

I use .net core 2.1 preview 1.

In Startup.cs, I use:
[code]
AutoValidateAntiforgeryTokenAttribute is use to validate automatically antiforgery.
AutoValidateAntiforgeryTokenAttribute add "cache-control: no-cache, no-store" to the header of http response.

On my controller:

[code]

I use NoCacheHttpHeaders attribute of NWebsec.AspNetCore.Mvc. to add this header:

Cache-Control: no-cache, no-s

[2018-03-21 21:12] drauch commented on #7511
I'm pretty sure you are talking about news for 2.1-preview1 here. Maybe the output is even better in 2.0. But in 1.1 the output is NOT `The value '{0}' is not valid.`, it is something along the lines of `No value provided`, which is confusing.

1) But you are probably not going to backport that to 1.1.x, or am I wrong?

2) Still, even with 2.1-preview1 - does a wrong data type for an optional mode

[2018-03-21 21:13] mkArtakMSFT commented on #7463
Hi @Matthew-Bonner.
Thank you for your suggestion. We think this does not fit with the goals ASP.NET is targeting.

[2018-03-21 21:13] #7463 closed

[2018-03-21 21:20] mkArtakMSFT commented on #7515
This is a valid ask and we should consider it for the future releases.

[2018-03-21 21:26] mkArtakMSFT commented on #7469
Hi @daniel-white. Thanks for your feedback. We don't have any plans to provide this functionality through the framework in the near future.

[2018-03-21 21:26] #7469 closed

[2018-03-21 21:39] mkArtakMSFT commented on #7522
Thanks for contacting us,  @zokiad. @javiercn, can you please look into this? Thanks!

[2018-03-21 21:43] mkArtakMSFT commented on #7497
You're right, @zokiad. We won't really be adding support for validating fallback integrity. You should rather just make sure that the files both locally and on CDN are the same and be done with it.

[2018-03-21 21:43] #7497 closed

[2018-03-21 21:56] mkArtakMSFT commented on #7514
This is actually something we've thought about https://github.com/aspnet/Mvc/issues/4888

[2018-03-21 22:10] DuaneJackson commented on #4647
That doesn't work for Controller level filters as per the docs at http://jakeydocs.readthedocs.io/en/latest/mvc/controllers/filters.html

"The Controller class’s methods always run before and after all filters. These methods are not implemented as IFilter instances and do not participate in the IFilter ordering algorithm"

[2018-03-21 22:38] dougbu commented on #7511
I was saying there should be at least two error messages. Do you have a small repro showing a case where only the `No value provided` error is added when model binding fails due to a formatting issue?

[2018-03-21 22:53] rynowak commented on #7451
I think that sounds fine.

I want to keep `IConvertToActionResult` as well, but document that you should consider implementing `IApiResponseTypeMapper` if you implement it. The interface call for the `ActionResult<T>` case is much better than having to put a bunch of generic unwrapping code in this service that will run for every request.

[2018-03-21 23:06] pranavkm commented on #7451
Updated the title of the issue to reflect what we need to do here. `ActionResult<T>` was made sealed as part of https://github.com/aspnet/Mvc/commit/ed18a8f975e8f6df002994d2303fefb0bfc68b59

[2018-03-21 23:33] mkArtakMSFT commented on #7498
Thanks @dougbu. @incompletude, do the suggestions provided by @dougbu address your issue?

[2018-03-21 23:35] mkArtakMSFT commented on #7509
Let's keep this around for now and see whether there will be any customer interest in this feature.

[2018-03-21 23:55] incompletude commented on #7498
Not really. But I better understand the limitations. Thx you all for your time.

[2018-03-22 00:46] rynowak commented on #7503
This is a breaking change, we should figure out the problem and fix it. Model State keys can definitely be empty.

[2018-03-22 05:07] rynowak opened #7525 "ApiDescriptionProvider doesn't handle task-likes"
`DefaultApiDescriptionProvider` is responsible for populating the basic API Explorer data based on the method signature. However, we don't handle task-like return types here, and just handle `Task` and `Task<T>`

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ApiExplorer/DefaultApiDescriptionProvider.cs#L487

Arbitrary task-like types are supported by MVC's action invoker, but

[2018-03-22 05:08] rynowak commented on #7525
This seems low priority, to me, we didn't get any feedback about this in 2.0. However if you did end up using custom task-likes, you'd find the `ActionResult<T>` feature totally busted for your purposes.

[2018-03-22 06:12] DamianEdwards commented on #7239
Did we capture what we discussed about this recently?

[2018-03-22 07:49] drauch commented on #7511
https://www.dropbox.com/s/d6wj84v4i7wedlj/BindRequiredRepro.zip?dl=0

Use Postman to send a GET request with param "Prop=LOL" to the Home/Test action. The error returned is "No value provided" and not "The value is not valid".

However, if this is fixed in 2.1-preview1, I'm okay with it. Please answer my question 2 above though, it'd really help :-)

[2018-03-22 11:33] mcm-ham opened #7527 "Nuget Microsoft.AspNetCore.Mvc.Core detected package downgrade"
I have a library project called WebApp.Auth.Sso.Abstractions with this as the csproj:
[code]
And when I run `dotnet restore` it works but when I run `dotnet restore -r win81-x64` I get this error:

[code]

[2018-03-22 14:38] Tornhoof opened #7528 "ApiController: Problems with Parameter Validation"
The new [ApiController] attribute is supposed to enable automatic modelstate validation, but it does not work as I would expect for the following controller.
[code]
Examples:
- Invoke: https://localhost:44370/api/test/BindRequired/00000000-0000-0000-0000-000000000000 - StatusCode: Ok - Output is Hello World from 00000000-0000-0000-0000-000000000000
- Invoke: https://localhost:44370/api/test/String

[2018-03-22 15:50] busyscout opened #7529 "RedirectToAction with Non-English Characters in Parameters and Authentication Causes Error"
By default Asp.Net Core encodes non-english characters in view.
Let's create a very simple controller:
[code]
and a very simple View, which greets a user:
[code]
If `Name` contains non-english characters (e.g. Jörn) it gets encoded:
[code]
If we don't want this kind of encoding there is a way to turn it off. We need to add this line of code to `Startup.cs`:
[code]
Now our html becomes pretty good:

[2018-03-22 18:15] pranavkm commented on #7445
Sorry, this fell off my plate. Investigating this today.

[2018-03-23 00:03] kichalla commented on #7490
@shubham1413 Can you do what @mkArtakMSFT suggested? Also you needn't serialize the byte array into json and then deserialize it back. You can post the data as StreamContent in HttpClient and read the request body as stream from within the action method

[2018-03-23 00:09] pranavkm commented on #7445
@nefcanto I can't reproduce the issue you're seeing. The convention works just fine. Here's an app I tried this out on: https://github.com/pranavkm/7445

[2018-03-23 03:28] mootinator commented on #5910
I had an _intermittent_ problem with this error, apparently there's a race condition in older versions of the .NET Core Windows Server Hosting bundle where the connection will sometimes/often close normally before terminating this way. The issue was blocking us from upgrading and getting to be extremely annoying for users.

All because I wrote this in front of a property: /* TODO: This breaks seri

[2018-03-23 11:28] ag-petrov opened #7533 "Using special characters in names of properties causes an exception."
If we have the following model.
[code]
And add a view that has an editor for this property like shown below, an exception will be thrown.

[code]

[2018-03-23 14:01] #7445 closed

[2018-03-23 16:39] NiekGr opened #7535 "IRazorViewEngine.FindView can't find precompiled view when application is deployed"
Dear Maintainers,

I use the following code in an MVC project to render an email to string:
(https://ppolyzos.com/2016/09/09/asp-net-core-render-view-to-string/)
[code]

When running in Debug or Release mode everything works fine, but when I deploy my application, FindView does not find the view. Using dotPeek I can see my views in PrecompiledViews.dll beside my MVC views. "_Views_Mail_HelloWorld_

[2018-03-23 17:16] pranavkm commented on #7535
Likely a dup of https://github.com/aspnet/Mvc/issues/6672, https://github.com/aspnet/Mvc/issues/6676. We made this API a bit more robust in 2.1.0. For 2.0.x,

1. Change the code inside `RenderAsync` to include calls to both `GetView` and `FindView`. See https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs#L64-L84
2. Lookup the view using a path `/V

[2018-03-23 18:03] pranavkm commented on #7239
@DamianEdwards, sorry, what was this about?

[2018-03-23 18:03] #7239 closed

[2018-03-23 18:08] mkArtakMSFT opened #7536 "Routing breaks when passing multiple query parameters"
Here is what I'm observing:
![image](https://user-images.githubusercontent.com/34246760/37846183-17a770b0-2e8a-11e8-8c3f-650babb7caf3.png)
As you can see, the `Request.Querystring` is incorrectly parsed, while in the browser my actual request link is such:
![image](https://user-images.githubusercontent.com/34246760/37846237-40275ae6-2e8a-11e8-8d70-9a48b7f6a4f5.png)

Here what my project file looks

[2018-03-23 18:15] NiekGr commented on #7535
Thank you @pranavkm.

But what does this mean for Layouts I'm loading in my templates? Do they also need to include the path?

[2018-03-23 18:16] Eilon commented on #7533
@ag-petrov can you show what exception you're getting?

[2018-03-23 18:20] rynowak commented on #7536
This looks like the query string was encoded incorrectly. `&amp;` is an XML entity and has no meaning in a URL. How did you build the query string?

[2018-03-23 19:14] avaldes86 commented on #4474
Have you seen: https://www.codeproject.com/Articles/859028/ASP-NET-MVC-NetCore-Generic-Controller-and-Views-f

[2018-03-23 21:39] pranavkm commented on #7535
The answer is likely yes, at least until you've updated to 2.1.0.

[2018-03-23 21:56] kichalla commented on #7536
For reference, the url was being generated here:
[code]
Thanks @Eilon for helping me diagnose through this and explaining it through. Based on our offline discussion, this is by design and following are the details:
- Normally if we were doing `Url.Action` from let's say within a conroller's action, it would return a url which has been url encoded and is `/MilestoneBurndown?teamName=ASP.NET MVC&mi

[2018-03-23 22:09] mkArtakMSFT commented on #7536
Ok guys, thanks for looking into this. But that's not really the case here. It seems my second image in the issue isn't very obvious, so pasting it here again:

![image](https://user-images.githubusercontent.com/34246760/37855344-14d89c8e-2eac-11e8-8a4d-2c9ddccf959e.png)

As you can see, the link in browser has the '&' sign not encoded, so we should probably look into this further.

[2018-03-23 22:11] rynowak commented on #7536
What does fiddler say? Browsers do lots of things. HTTP is truth.

[2018-03-23 22:13] mkArtakMSFT commented on #7536
Will the view in dev-tools view help?
![image](https://user-images.githubusercontent.com/34246760/37855483-bba84366-2eac-11e8-8f44-446025049cd6.png)

The proper `&` is in URL.

[2018-03-23 22:53] Eilon commented on #7536
So the incorrect `&amp;` is showing up only in `Request.QueryString`? That is super, super weird...

[2018-03-23 22:54] kichalla commented on #7536
@mkArtakMSFT I took a look at the app and wondering if this is what's happening here.

The url points to a razor page `MilestoneBurndown` and this page has a html partial to `BurndownChart` which has the Javascript to load the data using the problematic url that I gave details about. As far as I can tell, the url in the browser is probably not the one being sent to `GetBurndownDataAsync` method.

[2018-03-23 23:10] mkArtakMSFT commented on #7536
@kichalla very good point. you may be right - checking on it now.

[2018-03-23 23:13] mkArtakMSFT commented on #7536
Ok, you're right - I was looking to a completely wrong query, as was confused myself
![image](https://user-images.githubusercontent.com/34246760/37857019-0f237b98-2eb5-11e8-9605-d8eceb31c04b.png)
Sorry for confusing you all guys, it's coming from JS indeed. Will look into this and fix. Thanks!

[2018-03-23 23:13] #7536 closed

[2018-03-23 23:37] NTaylorMullen commented on #7374
e94d77c47f15facd7e1394c942190cb9d49e2c59

[2018-03-23 23:37] #7374 closed

[2018-03-23 23:51] NiekGr commented on #7535
Thank you very much for helping.

Still leaves me with one question. Is the double slash in the searchlocation a bug?

[2018-03-24 00:37] pranavkm commented on #7535
It's an issue with the way `RenderAsync` is set up. The default view location lookup string looks like 'Views/{1}/{0}.cshtml` where {1} -> Controller Name, {0} -> View name. In the ordinary case, Controller always has a value. `RenderAsync` sets up an empty `ActionDescriptor` which does not have a controller name or a route value to infer the controller name from. Consequently you get the two slas

[2018-03-24 08:59] NiekGr commented on #7535
I really appreciate helping me out @pranavkm.

[2018-03-24 10:27] M1991 opened #7539 "Save an image to client temp folder, shows GDI+ error"
I am developing an application and everything works fine for development server but these codes don not work on remote server, application hosted at www.*****.org

Application flow :
I have 2 jpeg files in server images folder(inside the application). What the code does is takes the 1st image, writes on it(using system.drawing) and saves to client temp folder. Again, that saved image is retrieved

[2018-03-24 14:50] #7535 closed

[2018-03-24 18:58] fir3pho3nixx opened #7540 "Feature Request/Question: Ability to easily author/inject new directives for Razor?"
Currently, I cannot find an easy way to author/inject custom directives into Razor whilst using ASPNET Core Mvc(Kestrel).

I can see that the `@Inject` directive gets registered within razor [here](https://github.com/aspnet/Razor/blob/2f79b90af5cbd9499f012c204f5bf4bb413ae61b/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/RazorExtensions.cs#L20). Now if I wanted to inject a custom directive to MVC o

[2018-03-24 23:54] Eilon commented on #7486
In .NET Core projects all files within the project folder are included, unless they are explicitly excluded. Because this is not an MVC issue, I'm closing it. This question might be better suited to https://github.com/microsoft/msbuild/issues.

[2018-03-24 23:54] #7486 closed

[2018-03-25 00:02] dougbu opened #7541 "Testing: Per-test class customization should not remove global (per-fixture) customization"
Overrides of the `virtual` methods in `WebApplicationFactory<TEntryPoint>` are intended for global customization of a fixture i.e. `WebApplicationFactory<TEntryPoint>` subclass. On the other hand, the `WebApplicationFactory<TEntryPoint>.WithWebHostBuilder(...)` method is intended for per-test class customization of a web site. Unfortunately, `WithWebHostBuilder(...)` `new`s up another `WebApplicat

[2018-03-25 00:03] dougbu commented on #7541
@javiercn let me know he was working on this&hellip;

[2018-03-25 02:37] javiercn opened #7543 "Page descriptors duplicated"
I'm using precompilation for UI in a library and at least one page descriptor is getting duplicated.
@pranavkm @rynowak

![image](https://user-images.githubusercontent.com/6995051/37871102-a71425a2-2f9a-11e8-81a5-b793594d89ba.png)

[2018-03-25 05:58] Eilon commented on #7539
@M1991 can you provide a sample project and detailed steps to reproduce this issue?

[2018-03-25 08:22] javiercn opened #7544 "Main application assembly not being included in the list of parts"
I'm doing new webapi and I can't hit api/values. The reason is the part for the application assembly is not being added to the list of application parts.

Manually adding the part fixes the problem. @rynowak @pranavkm.

![image](https://user-images.githubusercontent.com/6995051/37873063-8884167c-2fc9-11e8-8d97-186d4e0197a3.png)

Aside from that I also discovered out that there are other assemblies

[2018-03-25 14:45] NiekGr commented on #7535
Turns out this is not the case

[2018-03-25 16:50] zokiad opened #7545 "Exception or log wrong asp-controller asp-action"
Hi,

It is not a bug but I think it is a request.

Currently, we can generate a link like:

[code]

But if asp-controller or asp-action are wrong (not found). There are no warning.
I do similar error several time: I write a wrong asp-action and my link generate is by default /. If I don't test the link manually, I wannot know my error.

Perhaps, it should generate an exception ?

[2018-03-25 22:55] khellang opened #7546 "Action with complex model and CancellationToken results in ambiguous binding source inference"
In an API controller, if you have an action with both a complex model and a `CancellationToken`, MVC fails to infer the binding source:

It's easy enough to get around it by just setting `SuppressInferBindingSourcesForParameters` and slapping an explicit `[FromBody]` attribute on the model parameter, but this seems like a bug/oversight?

[2018-03-25 22:55] khellang commented on #7546
Also, BTW, it would be nice if you used `TypeNameHelper` for those kinds of error messages 😉

[2018-03-25 23:21] khellang commented on #7546
There's already a `BindingSourceMetadataProvider` defined for `CancellationToken` (and others), marking it as `BindingSource.Special`.

https://github.com/aspnet/Mvc/blob/fa629cd5e112d89db7cef7374694eb08dbc6bf9c/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcCoreMvcOptionsSetup.cs#L87

Shouldn't these be considered before trying to infer another binding source? Might be a stupid question, but I'm n

[2018-03-25 23:47] rynowak commented on #7540
We plan on enabling this kind of thing once we have support for it in tooling.

While it would be possible for us to provide support for this in the runtime/compiler right now, the tools would not understand the new directives and would produce errors.

[2018-03-26 03:15] javiercn commented on #7421
Unlike `dotnet test`, `dotnet xunit` doesn't run the tests in the context of your application, so all these types of errors happen and there's not really anything we can or are willing to do at this level.
Razor depends on 2 things to work correctly:
1) The content root path must be set to the application folder in order to find views.
2) The framework needs to be able to find the .deps file in or

[2018-03-26 03:15] #7421 closed

[2018-03-26 06:41] javiercn opened #7547 "ApplicationPartFactory fails to load factory when in a dynamically loaded assembly."
* Load an assembly dynamically (for example in Startup with Assembly.LoadFile)
* Try to get its factory by calling ApplicationPartFactory.GetApplicationPartFactory(assembly)

It fails around here:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/ProvideApplicationPartFactoryAttribute.cs#L45

I do believe it's because of the call to Type.GetType, so we can c

[2018-03-26 07:02] javiercn commented on #7449
There is an overload on the fixture to create a client with a given base address. You can also stash the factory in a property and create one client per test instead.

[2018-03-26 07:03] #7449 closed

[2018-03-26 08:01] M1991 commented on #7539
How will the stuff work : //Comments on line-end
I have a sample image in server images folder. I need to edit that image and save a copy (without modifying the original) to server temp folder(Error occurs here) . Now, the recently saved image needs to be converted to pdf and attach to a mail (this parts works fine)

    var resTemp = Server.MapPath("~/Temp/" + User.Identity.Name);  //  Destinatio

[2018-03-26 11:08] drauch commented on #7511
1) You're right. My bad, the repro is not exactly what I've actually done. Sorry for the inconveniences!

If the action is POST and you use Postman to send a *text* body parameter with the wrong type => it works. If you try to send a *file* body parameter instead of a text body parameter => it doesn't work.

2) What about the second question about BindRequired for *optional* parameters?

[2018-03-26 14:10] kichalla commented on #7513
Closing this issue now as we haven't received any responses yet. Feel free to re-open it with additional details.

[2018-03-26 14:10] #7513 closed

[2018-03-26 16:21] dougbu commented on #7511
Incorrectly-formatted data e.g. `"LOL"` for an `int` property results in a message like `"The value 'LOL' is not valid for Prop."`. This occurs whether or not the property is required (in any sense of "required").

[2018-03-26 16:42] mkArtakMSFT commented on #7539
Hi. It looks like this is not a question regarding ASP.NET Core MVC. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-03-26 16:42] #7539 closed

[2018-03-26 16:45] mkArtakMSFT commented on #7547
@javiercn, what are you trying to do? Share details about the scenario please.

[2018-03-26 16:47] mkArtakMSFT commented on #7540
@rynowak, do we have a separate issue tracking this work, or should we use this one for tracking?

[2018-03-26 16:53] mkArtakMSFT commented on #7546
Assigning to myself for tracking purposes only.

[2018-03-26 16:57] mkArtakMSFT commented on #7545
Thanks @zokiad.
@rynowak, @NTaylorMullen is there a way we can improve this experience? With razor compilation can we just add turn this into a build error or warning? Thanks!

[2018-03-26 18:02] khellang commented on #7546
Ah, I didn't realize that this had been filed before. Yeah, this will fix the first part of #7512, but there are other issues listed there that might need to be addressed as well.

[2018-03-26 18:07] rynowak commented on #7540
We don't have an **issue** for it, but its on our roadmap and planning documents.

If you're deeply passionate about having an issue for it, then Razor repo is the right place to track.

[2018-03-26 18:09] khellang commented on #7512
This should be solved with #7548.

The problem in this case, is that `helloWorld` is explicitly annotated with `[FromBody]`, while `cancellationToken` is also inferred to `BindingSource.Body`. This leads us to the next point:

This isn't really a problem with the inference. The problem is that you have two parameters that both bind to the body. I'm not sure if this has any defined behavior, or if

[2018-03-26 18:15] mkArtakMSFT commented on #5587
Moving out from 2.1 as it seems there is a need to approach from a broader perspective.

[2018-03-26 18:20] khellang commented on #7528
I think you need to make value type parameters nullable in order for the `Required`/`BindRequired` attributes to kick in.

[2018-03-26 18:30] pranavkm commented on #7499
@Phoenigore feel free to reopen the issue once you have an app available.

[2018-03-26 18:30] #7499 closed

[2018-03-26 18:34] Tornhoof commented on #7528
Yes for the value types you might be right. My assumption that [BindRequired] rejects default too was mainly based on @filipw post https://www.strathweb.com/2017/12/required-and-bindrequired-in-asp-net-core-mvc.

But since I can't even get StringLength to work or any custom validationAttribute (like a custom NotDefaultAttribute to make certain my GUIDs are not default), I think the ParameterValida

[2018-03-26 19:37] dougbu commented on #7413
Part 1:
- 5e245da326 in `release/2.1`
- 79c4986685 merge to `dev`

[2018-03-26 19:49] jchannon opened #7550 "Implement custom routing inside a controller similar to routing middleware"
In the routing middleware you can do something like so:

[code]

Works fine if you have two routes however what if I wanted a controller with multiple routes and multiple controllers with the same routing design eg.

[code]

Is there a way to implement a controller with different routing implementations but keep action results etc?

[2018-03-26 21:56] DanFTRX opened #7551 "ApiController Put methods can recieve null [FromBody]'s if the request times out at the right moment."
I've been seeing incidents where my ApiControllers receive a null [FromBody] tagged argument.  Upon further digging with the following debugging code:

    [HttpPut]
    public async Task<IActionResult> Put([FromBody]Example example)
    {
        if (example == null)
        {
            CheckNullFromBodyModelState(ModelState);
            return StatusCode((int) HttpStatusCode.BadRequest);

[2018-03-26 22:01] pranavkm commented on #7551
cc @halter73 \ @Tratcher

[2018-03-26 22:02] pranavkm commented on #7478
Pre-req for https://github.com/aspnet/templating/issues/222

[2018-03-26 22:07] Tratcher commented on #7551
From the stack this is a JSON body, correct?

[2018-03-26 22:07] DanFTRX commented on #7551
Yes

[2018-03-26 22:09] Tratcher commented on #7551
@pranavkm is the model binder swallowing the exception for canceled requests?

[2018-03-26 22:32] pranavkm commented on #7551
cc @kichalla \ @dougbu who are more familiar with this area.

We handle json parsing exceptions, but don't swallow arbitrary exceptions. That said, in 1.0 \ 1.1, you could get an null instance if the request body was empty (https://github.com/aspnet/Mvc/issues/4750), maybe this is a variant of the same issue? What version of ASP.NET are you on @DanFTRX ?

[2018-03-26 22:40] pranavkm commented on #7544
Should be addressed via https://github.com/aspnet/Razor/commit/1e11b5fa955e30b3ddf0410a81a957bcca7224ac. Using https://github.com/aspnet/templating/issues/400 to verify the issue is resolved once we have an updated CLI

[2018-03-26 22:40] #7544 closed

[2018-03-26 22:49] DanFTRX commented on #7551
I am running ASP.NET 2.0.5, and I am also 100% confident that the request body is not empty.

[2018-03-26 23:43] #7543 closed

[2018-03-27 00:11] Eilon opened #7554 "Bug in Razor Page Model"
_From @rishabhack on March 26, 2018 21:22_

[code]

Will  give error the name 'Json' does not exist in current context in razor page modal while working fine when page is drives from controller
I can't use razor page model due to this serious issue and need to move to MVC approach instead of page modal. Please Resolve this Bug.

_Copied from original issue: aspnet/Home#3003_

[2018-03-27 00:13] Eilon commented on #7554
I believe this is by-design because the `Json` helper is meant for APIs, not pages.

There are some historical notes in https://github.com/aspnet/Mvc/issues/5846 under the "Methods Pages Don't Need" section.

[2018-03-27 00:19] toy-opensource opened #7555 "embedded power bi results in microsoft login box"
there is an excellent example for how to embed powerbi **App Owns Data** here:
https://powerbi.microsoft.com/en-us/documentation/powerbi-developer-embed-sample-app-owns-data/

however this example is for running on the .net platform
and some of the routines used in the example dont exist for aspnetcore

there is another excellent post about someone attempting to do the same thing:
https://communit

[2018-03-27 00:53] Eilon commented on #7555
This issue was moved to aspnet/Home#3004

[2018-03-27 00:53] #7555 closed

[2018-03-27 04:30] dougbu commented on #7498
@incompletude thank-you for your feedback. We're closing this issue as the questions asked here have been answered.

[2018-03-27 04:30] #7498 closed

[2018-03-27 06:56] Tornhoof commented on #7512
Another possible improvement, if the http method is get, the infered binding should not be body but  query instead.

[2018-03-27 08:51] Tornhoof opened #7558 "ApiController: Multiple route parameters not working properly"
With the new ApiController routes with multiple route parameters on the same action break without annotating the routes manually. The second optional parameter is not bound.
See the following controller below:
[code]
With the above controller:
- Invoke: https://localhost:44306/api/Test/NotWorking/0/1/ ->  Output: Hello 0 - 0
- Invoke: https://localhost:44306/api/Test/Working/0/1/ -> Output: Hello

[2018-03-27 08:51] Tornhoof commented on #7528
Tagging @mkArtakMSFT as this is probably again a binding issue.

[2018-03-27 09:08] lkubis opened #7559 "@inherits in _ViewImports.cshtml does not work"
Following [discussion](https://github.com/aspnet/Mvc/issues/6769) I've tried to create my own base page, but it throws exception.

Note: If I move **@inherits MyBasePage** directly to **Index.cshtml**, it started to work.

**MyBasePage**

[code]

**_ViewImports.cshtml**
[code]

**Index.cshtml**
[code]

**Exception:**
[code]

[2018-03-27 13:33] tebrizetayi commented on #7518
I would like to resolve this issue. Added an action to the controller
[code]
but there is a compilation error

**CS8107	Feature 'default literal' is not available in C# 7.0. Please use language version 7.1 or greater.	MvcSandbox(net461), MvcSandbox(netcoreapp2.0)**
I have added  the .csproj <LangVersion>latest</LangVersion> , but it does not work

How can I solve this problem?

[2018-03-27 16:11] pranavkm commented on #7512
@Tornhoof binding sources are statically calculated and not in the context of a request, so that wouldn't work.

The error message @Tornhoof produced is while we ensure there aren't duplicate `FromBody` parameters. So I think that's already covered.

Apart from `FromBody` there aren't other built-in sources that only allow binding one instance per request. You could potentially have a user created

[2018-03-27 16:21] NullVoxPopuli commented on #6457
Has there been any progress with general class-library compilation to WASM? I have some computational stuff / things that could interact with other apis that I want on the client side (all in F# -- it would be great to compile to WASM and leverage the speed from my ember app)

[2018-03-27 16:22] pranavkm commented on #7554
You could always new up an instance of `JsonResult`:

[code]

[2018-03-27 16:24] khellang commented on #7512
No, the error message is from the inference phase. There could still be ways to end up with multiple parameters with `BindingSource.Body`. Even if a warning is logged, you still get to the action itself, which will probably fail with some weird error because multiple binders are trying to read from the body. If validation had been in place, this can been cought earlier.

[2018-03-27 16:32] danroth27 commented on #6457
@NullVoxPopuli See http://www.mono-project.com/news/2018/01/16/mono-static-webassembly-compilation/ for the latest status of static compilation to WebAssembly.

[2018-03-27 16:37] pranavkm commented on #7512
Oh right, it's a warning. And yes, you could have a convention that modifies parameter binding sources and lead you to a questionable state.

[2018-03-27 16:38] ryanbrandenburg commented on #7519
Completed this, @mkArtakMSFT has the list.

[2018-03-27 16:38] #7519 closed

[2018-03-27 16:39] pranavkm commented on #6290
@rynowak no, this isn't a regression from 1.1.x. It is difference from Mvc 5 though.

[2018-03-27 16:39] pranavkm commented on #7559
Dup of https://github.com/aspnet/Mvc/issues/7559. There's a possible workaround listed in the comments: https://github.com/aspnet/Mvc/issues/6290#issuecomment-302654640

[2018-03-27 16:39] #7559 closed

[2018-03-27 16:43] NullVoxPopuli commented on #6457
I saw that, but I was having issues with mono with even building my project to begin with. (I can build with `dotnet` and VStudio 2017), so I was hoping the dotnet cli would support wasm

[2018-03-27 16:43] pranavkm commented on #7558
Since `anotherId` does not appear in all routes, it ends up being inferred as being `FromQuery`. The expectation here is that you would mark the parameter as optional `[Route("NotWorking/{id:int}/{anotherId:int}?")]` rather than have two routes where the parameter does not appear.

@rynowak thoughts on this?

[2018-03-27 16:50] Tornhoof commented on #7558
This is just a simplified example, where the names for the route are the same:
An example where the names are different would be.
``[Route("Current/{id:int}/{anotherid:int}"]``
``[Route("Legacy/{id:int}"]``

[2018-03-27 16:53] mkArtakMSFT commented on #7554
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-03-27 16:53] #7554 closed

[2018-03-27 16:56] Sorrien commented on #6457
The best thing I've seen come out of this so far is the public preview of Blazor. I recommend checking that out and seeing if you can use it as an example to go off of if nothing else.

[2018-03-27 17:10] #7518 closed

[2018-03-27 17:37] khellang commented on #7512
Yes, and I'd much rather see a fail-fast scenario than having stuff work/not work by accident. The question is whether such validation would be considered a breaking change? Could there be people out there in the wild running with such configurations?

[2018-03-27 17:39] Tornhoof commented on #7512
It's a new Feature and you need to opt-in. I don't think there are many Users out there yet.

[2018-03-27 17:54] ryanbrandenburg opened #7560 "Flaky test: HeaderBinder_BindsHeaders_ToSimpleTypes"
This test fails occasionally:
[code]

Future instances of this failure will appear [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:ModelBingingNullRef,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-27 18:16] pranavkm commented on #7560
@kichalla should this be investigated for preview2?

[2018-03-27 19:13] jonathh21 opened #7562 "Razor Page contain IFormFiles bug - doesn't bind at all/correctly."
Hi,

I am running into an issue where I am trying to post using a bound model containing 2 'Files' (IFormFile).

A simple form just won't post and bind 'out of the box'.

**cshtml**

[code]

**Model**

[code]
**PageModel**
[code]

If you select a file and Submit the FileForm contains nothing.

However if you add something to the model like a text input the binding works... also I notice that if yo

[2018-03-27 19:15] #7478 closed

[2018-03-27 23:33] rynowak opened #7563 "Add IsRequired, DefaultValue to ApiParameterDescription"
This is low hanging fruit that we just missed for whatever reason. This means that Swashbuckle/NSwag and other libraries that produce swagger can't see default values when they apply to query string parameters, and can't tell when a parameter should be documented as 'required'.

This makes a lot more sense for us to add now that we have validation on parameters.

We currently only support default

[2018-03-28 04:45] shravan2x commented on #7528
@khellang Isn't the absence of the field in the request enough to trigger an error? Making it nullable and checking for null is trivial to do even without having an attribute for it.

[2018-03-28 06:13] drauch commented on #7511
OK. This sounds great. Thanks for the clarification!

We derailed a bit, we thought that all this is not implemented because we always tried to send a file instead of text and vice versa (a scenario in which the logic doesn't work). Do you know anything about that as well? Is there a way to support the "nice error response" in this scenario as well? You can try it yourself easily by using Postman

[2018-03-28 07:29] khellang commented on #7528
No, because validation and deserialization are two distinct things. The former runs after the latter, with no information about "missing fields". It just gets an object with some properties with attributes on them.

If you have an `int` property that's missing from the payload, it'll be initialized to its default value `0`. How would validation know if that represents a missing value or actual use

[2018-03-28 07:31] khellang commented on #7528
Sure, most validation is trivial to do. It's just much nicer to have a declarative way of expressing it, with consistent validation messages and composabilit 😊

[2018-03-28 07:47] khellang commented on #7528
Oh, I guess you might be referring to the `BindRequired` case? That's probably true.

[2018-03-28 13:37] shravan2x commented on #7528
Yeah I'm referring to the `BindRequired` case. There are situations where it would be useful to enforce that a client has explicitly set a parameter.

[2018-03-28 14:26] gregbair opened #7565 "ConflictResult should inherit from ContentResult, not StatusCodeResult"
[ConflictResult](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim/ConflictResult.cs) inherits from StatusCodeResult, which does not have a Content property. However, [RFC 2616 explicitly says](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) for this status code:

We are not able to specify a response body using this class.

To satisfy this, it should in

[2018-03-28 15:22] shravan2x commented on #7528
I think this is another instance of the same issue (please point out if it isn't). I have this code:

[code]

I would expect that `ModelState.IsValid` is `false` when an empty JSON object (`{}`)is passed as a body, but it is still true. The output is:

[code]

[2018-03-28 15:31] rynowak commented on #7451
c93c168

[2018-03-28 15:31] #7451 closed

[2018-03-28 15:34] jchannon commented on #7550
Ping @DamianEdwards @davidfowl 😄

[2018-03-28 15:36] dougbu commented on #7511
I believe you're talking about posting a multipart body to an MVC action and attempting to bind one of the segments to something other than an `IFormFile` parameter. If I've got that right, it's not a supported scenario: `IFormFile` and collections of `IFormFile` are the only supported parameter types when binding from multipart segments.

[2018-03-28 15:59] DanFTRX commented on #7551
It appears to me that [this commit](https://github.com/aspnet/Mvc/commit/83c3ac62fb9187c75689a26e9749046825cdd04b#diff-366db0fc1964d1d3b1154cfee3b4b4deR180) would have fixed the symptoms I am seeing,  I can't be 100% sure, but I believe that the code change there is not in the release I am getting for the Microsoft.AspNetCore.All nuget package version 2.0.5.   So I think if those times can be conf

[2018-03-28 16:19] pranavkm commented on #7551
@Tratcher you're right. Mvc <= 2.0.0 did swallow all formatter exceptions. @DanFTRX the issue was addressed in 2.1.0 which is our upcoming release. You could verify the fix by trying out our 2.1.0-preview1 bits (see https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-now-available/)

[2018-03-28 16:19] #7551 closed

[2018-03-28 16:38] mkArtakMSFT commented on #7550
Hi @jchannon.
Doesn't the attribute routing satisfy your scenario? Why wouldn't you just define an action method with an attribute route?

/cc @rynowak

[2018-03-28 16:45] mkArtakMSFT commented on #7565
@rynowak, any objections to make the change? The ask seems reasonable. Also, the `ConflictResult` has been introduced in `preview1`, so we still have time to fix this in `preview2`.

[2018-03-28 16:47] mkArtakMSFT commented on #7563
Thanks @rynowak. Do you think this is something we should push for during `preview2` timeframe?

[2018-03-28 16:52] mkArtakMSFT commented on #7562
Hi @jonathh21.
It seems that your *cshtml* binds the same file `FileOne` to both `input` fields.
Can you please confirm that the issue remains, if you fix the cshtml?

[2018-03-28 16:53] mkArtakMSFT commented on #7560
@kichalla can you please handle this? Thanks!

[2018-03-28 16:54] mkArtakMSFT commented on #7560
@kichalla, please also assign a cost.

[2018-03-28 16:58] rynowak commented on #7563
I don't think this is time critical. It would be nice to have for rc since it rounds out work we did in 2.1.0 but I think that depends on the costing.

[2018-03-28 17:21] mkArtakMSFT commented on #7528
@dougbu, can you please look into this one?
Specifically, the case with `StringLength` restriction in place is what seems to be a bug.

[2018-03-28 17:34] DanFTRX commented on #7551
Yeah I figured once I found that commit.   I can just leave null checks in my controllers until the full 2.1.0 release

[2018-03-28 17:38] jchannon commented on #7550
Because I dislike attributes anywhere.

[2018-03-28 18:04] jonathh21 commented on #7562
Hi thanks for getting back to me. That is a typo in this example. Sorry about that.

The problem remains.

[2018-03-28 18:30] dougbu commented on #7528
@Tornhoof what version of MVC are you testing? Validation of "top-level" nodes such as action parameters is a new feature in 2.1 Preview 1.

Separately,

MVC's model binding system supports `[BindRequired]`. But, Json.NET's deserializers take over when the model binding system encounters `[FromBody]`. MVC no longer has information about whether `Online` was in the request.

[2018-03-28 18:58] aswanevelder opened #7567 "Token based authentication in ASP.NET Core"
Is it possible to build in the ability to generate tokens for APIs as is done in standard ASP.NET? There are plenty of examples online of building a JWT Authentication middleware but it will be greatly appreciated if this is just standard included.

[2018-03-28 19:11] pranavkm commented on #7567
cc @blowdart \ @HaoK

[2018-03-28 19:13] blowdart commented on #7567
It's possible, it's not something we provide in the box

For prebuilt things I suggest looking at [Identity Server](http://identityserver.io/) or [openiddict](https://github.com/openiddict).

[2018-03-28 19:39] Eilon commented on #7567
This issue was moved to aspnet/Identity#1716

[2018-03-28 19:39] #7567 closed

[2018-03-28 20:05] gregbair commented on #7565
I did not know that the ConflictObjectResult and Conflict method existed on the ControllerBase in 2.1.0. We're working in 2.0, where this does not exist. I'll close this.

[2018-03-28 20:05] #7565 closed

[2018-03-28 20:39] mkArtakMSFT commented on #6963
Discussed this with @danroth27, @pranavkm and @rynowak. The decision is to throw an exception in this situation (ApiController with either inferred or explicitly specified `FromBody` arguments). If the desire is to get multiple values from body, all those should be wrapped in a single parameter instead.

[2018-03-28 20:51] mkArtakMSFT commented on #7558
Thanks for your feedback, @Tornhoof. We're going to make it explicit going forward by treating action
parameters as `FromRoute` as long as they appear in at least one of the routes.

[2018-03-28 20:53] EmpeRoar commented on #5918
I am having this issue in my Visual Studio 2015

[2018-03-28 21:13] mkArtakMSFT commented on #7562
Thanks for confirming, @jonathh21. We know that the experience in this situation is not ideal, and we plan to approach it from a broader perspective in the next release. In the meantime, you can use a different workaround and assign the name to the `BindProperty` attribute to fix it, as follows:
[code]

Please give it a try.

[2018-03-28 21:18] mkArtakMSFT commented on #7550
Unfortunately, we do not plan to change the existing routing model to cover the proposed scenario.
However, you can use `ApplicationModel` to come up with a routing model you like. Here is an example to help you get started with that: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRoutingConvention

[2018-03-28 21:18] #7550 closed

[2018-03-28 21:25] mkArtakMSFT commented on #7547
Closing this as there is a workaround to the problem you've been facing and this is not a common scenario users will face.

[2018-03-28 21:25] #7547 closed

[2018-03-28 21:26] jchannon commented on #7550
Looks like have already implemented what I'm asking
https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.Modules/DemoModule.cs

So when are you rolling that design into MVC? :)

On 28 March 2018 at 22:18, Artak <notifications@github.com> wrote:

[2018-03-28 21:34] mkArtakMSFT commented on #7529
Thanks for contacting us, @busyscout. Can you please share a sample repro project with us to investigate?

[2018-03-28 21:34] mkArtakMSFT commented on #7529
@dougbu, can you please investigate this? Thanks

[2018-03-28 21:38] mkArtakMSFT commented on #7527
This issue was moved to dotnet/corefx#28566

[2018-03-28 21:38] #7527 closed

[2018-03-28 21:44] mkArtakMSFT commented on #7489
Hi @mnmr. `BindNever` doesn't prevent validation. To explicitly opt-out properties from validation, consider using `ValidateNeverAttribute` attribute.

[2018-03-28 21:44] #7489 closed

[2018-03-28 21:50] mkArtakMSFT commented on #7487
Thanks for your feedback, @RandyBuchholz.
@kichalla, can you please look into this? Thanks!

[2018-03-28 21:53] mkArtakMSFT commented on #7350
Thanks guys. All yours, @pranavkm.

[2018-03-28 23:19] dougbu commented on #7529
@busyscout within MVC, a `UrlEncoder` instance ensures invalid characters are not present in the generated URL. Because you're completely disabling the encoder, `FrameHeaders.ValidateHeaderCharacters(...)` fails. Recommend enabling only the specific Unicode ranges of particular interest, not using `UnicodeRanges.All`.

Please also see https://docs.microsoft.com/en-us/aspnet/core/security/cross-sit

[2018-03-29 01:54] shravan2x commented on #7528
@dougbu Imo this is still a design flaw. It's a technical detail reducing usability of the platform. Could MVC use a custom deserializer to fix this?

[2018-03-29 02:13] dougbu commented on #7528
Recreating a system as complex as Json.NET is not in our plans. You could file a bug in https://github.com/JamesNK/Newtonsoft.Json/issues about supporting `[BindRequired]`.

However I suggest testing `[JsonRequired]` to confirm it affects deserialization as well. If it does, apply both `[BindRequired]` and `[JsonRequired]` to properties that are both model bound and input formatted.

[2018-03-29 06:54] jonathh21 commented on #7562
Hi - thanks for looking into this for me.

I can confirm that this workaround does indeed 'fix' it.

So is this a bug or a feature?

Thanks again.

[2018-03-29 08:46] fugaku opened #7569 "ModelState overridden by Model"
Hi,

I'm using ASP.NET Core 2.0 MVC and I'm trying to use the PRG pattern following the usage of TempData [here](https://andrewlock.net/post-redirect-get-using-tempdata-in-asp-net-core/).
This TempData will act as a holder for the previous ModelState so that we can use previous model value in case of an invalid model state after post.

[code]
With the model
[code]
The issue happens when I'm trying

[2018-03-29 08:53] davidfowl commented on #7550
Never 😄 . Feel free to take it and add it to Botwin.

[2018-03-29 09:04] jchannon commented on #7550
Don't need to take it, Botwin already does it :)

On 29 March 2018 at 09:53, David Fowler <notifications@github.com> wrote:

[2018-03-29 09:10] jchannon commented on #7550
Was just thinking of binning Botwin if MVC did the routing but guess I'll
keep going with it :)

On 29 March 2018 at 10:04, Jonathan Channon <jonathan.channon@gmail.com>
wrote:

[2018-03-29 09:26] shravan2x commented on #7528
@dougbu `[JsonRequired]` seems to work.

I think you misunderstood me. I was asking if Json.NET supported some interface we could implement (like `IContractResolver`, but I'm not too familiar with all of Json.NET's features) which would check `[BindRequired]` attributes for us.

[2018-03-29 14:52] pranavkm opened #7571 "Missing symbols in Microsoft.AspNetCore.Mvc.Razor package"
Re-running `build` twice results in

[code]

This is likely got to do with how we produce the Razor nupkg since https://github.com/aspnet/Mvc/commit/62fec52a9f0fd1aeccea6f1ec4c78b653c702afd. Filing this issue to track since it's incredibly annoying to have build fail every other run.

[2018-03-29 15:22] #7558 closed

[2018-03-29 15:27] dougbu commented on #7413
fc3a815e57 in `release/2.1`
24eaa740f5 merge to `dev`

[2018-03-29 15:27] #7413 closed

[2018-03-29 15:41] desjardinsm commented on #7470
Just as an update, I'm thinking that the part about the literal value was a bit of a red herring. The issue occurs without the literal, and actually it turns out that the issue is avoided when the enum is referenced anywhere, whether as a literal or not. I mentioned it being a literal in the original post since I was trying to use that value in the attribute, but afterwards I didn't think to try i

[2018-03-29 15:59] rynowak commented on #7503
I believe this was addressed by @dougbu in his recent changes. See here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Validation/ValidationVisitor.cs#L151

Will attempt to repro this.

[2018-03-29 16:04] dougbu commented on #7503
@rynowak my change only maintained what @SteveSandersonMS did in 236ef5d1d1. If 236ef5d1d1 introduced a breaking change in the model state keys, we still have a breaking change from 2.0.

[2018-03-29 16:05] dougbu commented on #7503
(`Name` is analogous to what `PropertyName` was after 236ef5d1d1.)

[2018-03-29 16:05] rynowak commented on #7503
Ah gotcha, ok, well taking this one on then.

[2018-03-29 16:06] rynowak commented on #7503
It sounds like you agree with me then that if there's a problem we should fix it 😆

[2018-03-29 17:00] mkArtakMSFT commented on #7569
Thanks for contacting us, @fugaku.
@dougbu, do you have any thoughts regarding this?

[2018-03-29 17:42] dougbu commented on #7569
Restoring the `ModelState` does not affect `For.Model` in any way. What does change is how MVC's HTML and tag helpers display the values. And what's missing here is that support in `DatePickerTagHelper`.

Recommend changing the `generator.GenerateTextBox(...)` to pass `value: null`. The HTML generator will then use the `ModelState` value.

----
Separately, why is `DatePickerTagHelper` required? Th

[2018-03-29 18:01] jeremyVignelles opened #7572 "PhysicalFileResult does not respond 304 Not Modified"
I have an issue with ASP.net core (2.0.300 IIRC) :

# Code
In my controller method, I have this kind of code:

[code]

# Expected
When I get this route with my browser, I'm expecting to see 200 the first time, and then 304.

# Actual result :
Every time, the picture is reloaded, with a result of 200.

# Facts
- The first request happens normally, and the server replies with the `Last-Modification`

[2018-03-30 04:26] #7417 closed

[2018-03-30 04:28] fugaku commented on #7569
Passing the `value: null` does make it use the `ModelState` value. But the `DatePickerTagHelper` can no longer be set a value from the Model.

How can I set the value from Model instead if the `ModelState` is not avaialble for it ?

--------------------------------

This is because I'm also using it to set other things such as
- Setup common css class for all datepicker
- Setup a datepicker js for

[2018-03-30 04:35] #7503 closed

[2018-03-30 05:40] dougbu commented on #7569
Avoid `For.Model` here; use `For.ModelExplorer` when calling the `IHtmlGenerator`.

Probably better to subclass `InputTagHelper` and add what you need after `base.Process(...)` returns.

[2018-03-30 09:10] qibucloud opened #7576 "An error occurred while sending the request. ---> System.IO.IOException: Too many open files"
[code]

[2018-03-30 10:44] valeriob opened #7577 "Question about feature folders and serving static files inside them"
Hi,
since i started with mvc i've alwasy organized my code in feature folders and not in the standard MVC pattern, so for example something like this :
![image](https://user-images.githubusercontent.com/1522516/38134468-87242c42-3413-11e8-9ecb-b70108121cfe.png)

Before aspnet core we could easely serve static files from the project root, now that the wwwroot is used i would like to understand what