[2016-01-01 20:27] pranavkm commented on #3848
@christiannagel, the second argument needs to be either a dictionary of parameter names and values or an anonymous  object with property names that map to arguemnt names. In your case, this would be

`@await Component.InvokeAsync("EventList", new { to = new DateTime(2016, 4, 10), from = new DateTime(2016, 4, 24) })`

or
[code]

[2016-01-02 00:14] Eilon opened #3851 "Add doc comments for filter attributes (e.g. RequireHttpsAttribute)"
[RequireHttpsAttribute](https://github.com/aspnet/Mvc/blob/43226fe54de140db30746336f3d46130be47c0e4/src/Microsoft.AspNet.Mvc.Core/RequireHttpsAttribute.cs) is definitely missing it. Not sure about other attributes.

[2016-01-02 00:15] Eilon commented on #3847
It's very similar to MVC 5. For example, in a controller action method you can do this:

[code]

[2016-01-02 00:15] #3847 closed

[2016-01-02 13:08] christiannagel commented on #3848
Many thanks for the answer!

[2016-01-02 13:08] #3848 closed

[2016-01-02 17:48] mikes-gh commented on #3798
Could you let me know how to add `OverrideHeaderMiddleware` to my code.  Is it a Startup.cs thing.

[2016-01-02 18:05] davidfowl commented on #3798
There's a sample here https://github.com/aspnet/BasicMiddleware/blob/dev/samples/HttpOverridesSample/Startup.cs

[2016-01-03 02:15] dougbu opened #3852 "MVC tag helpers are inconsistent about initially `Clear()`ing content"
Moving an issue mentioned in aspnet/Razor#621 over.

MVC tag helpers that change `Content`, `PostContent` or `PostElement` currently fall into two groups. These groups should be brought together as much as possible, consistently handling tag helpers that run earlier.
1. Some e.g. `FormTagHelper`, `InputTagHelper`, `RenderAtEndOfFormTagHelper`, and `ValidationSummaryTagHelper` initially append. A c

[2016-01-04 03:08] JamesNK commented on #3542
Newtonsoft.Json 8.0.1 is out and has a hook for `System.Buffers`. Is there anything else to do on the json.net side?

[2016-01-04 10:31] mikes-gh commented on #3798
Looking at this today.
Packages upgraded to 1.0.0-*
Runtime 1.0.0-rc2-16357

However cant run project.

IIS express starts then shuts down.

Console shows below
Did some research but cant find out how to debug dnx to see what Ive done wrong.
'
'dnx.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\Windows\Microsoft.Net\assembly\GAC_32\mscorlib\v4.0_4.0.0.0__b77a5c561934e089\mscorlib.dll'. Skipped l

[2016-01-04 13:13] bluemmc opened #3856 "Exception in JsonConverter results in "HTTP Error 502.3 - Bad Gateway" (no developer exception page shown)"
In most cases app.UseDeveloperExceptionPage() means that I get a nice page describing the exception in ASP.NET 5 RC1 but if I use services.AddMvc().AddJsonOption and add a json converter to options.SerializerSettings.Converters and that converter throws an exception, then I get a very different screen shown by IIS that bypasses everything else.

[2016-01-04 16:51] mikes-gh commented on #3798
OK so I spent some time on this today.  Once I got past the new hosting model (BTW Hosting:Environment in project properties no longer works) I tested again latest rc2 bits and latest clr.  clicking on the https link to account login.

Results

RC1 it works
RC2 I get the redirect loop as before.

[code]
and so on.

Now something very strange if I add the  OverrideHeaderMiddleware  as suggested

I

[2016-01-04 17:07] davidfowl commented on #3798
Looks like a compilation error in your view. If you could push a sample to github showing the *running* application with the current error you're getting it would be great.

[2016-01-04 17:12] mikes-gh commented on #3798
OK but why is RC1 working?
The view is the one shipped with the asp.net starter project

[code]
I am pretty sure I haven't changed it at all.

[2016-01-04 17:19] davidfowl commented on #3798
Because between RC1 and RC2 changes were made. https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-rc2. In particular, the one affecting you for the redirect is https://github.com/aspnet/Announcements/issues/123. As for the compilation error, I couldn't tell you off the top of my head without something that I could look at and debug.

[2016-01-04 17:26] mikes-gh commented on #3798
Wow I completely missed that announcements section that is great info.  I think I understand it now enough to debug.  If not I am pretty sure I can sort a working repro from the standard template.

[2016-01-04 17:40] mikes-gh commented on #3798
In the above view if I comment out

[code]
 the view works.  I guess that's another issue all together? if so I'll close this as a known breaking change resolved by OverrideHeaderMiddleware.  Still not sure why that change was made but I'll endeavour to understand it through more research.

[2016-01-04 17:56] mikes-gh commented on #3798
And I fact

<div asp-validation-summary="@ValidationSummary.All" class="text-danger"></div>

not sure where this belongs (razor tag helpers identity)
Looks like tag helpers need @ on the enum
Would you open a case in the correct place and link here please.

[2016-01-04 17:57] dougbu commented on #3798
Change `asp-validation-summary="ValidationSummary.All"` to `asp-validation-summary="All"`. See aspnet/Announcements#96 for more information.

[2016-01-04 18:13] mikes-gh commented on #3798
Got it I see the templates have already changed  apologies for missing the announcements section.

Closed as known breaking changes

[2016-01-04 18:13] #3798 closed

[2016-01-04 18:30] #3779 closed

[2016-01-04 18:34] #3749 closed

[2016-01-04 19:29] rguerreiro opened #3860 "Scoped lifetime services instances aren't the same between middleware and controllers"
If I configured it correctly, I think this is a bug. Steps to reproduce:
- **Create some service**
[code]

[2016-01-04 19:37] davidfowl commented on #3860
You misconfigured it. Middleware is constructed once per application lifetime, the Invoke method is called per request.

Do this:

[code]

[2016-01-04 19:46] rguerreiro commented on #3860
Sorry about that. You're right!

Perhaps the [docs](https://docs.asp.net/en/latest/fundamentals/middleware.html) should be updated because it mentions:

Closing the issue. Thanks!

[2016-01-04 19:46] #3860 closed

[2016-01-04 19:54] SimonOrdo commented on #2910
Similar issue in my project.  I'm using this workaround: https://github.com/aspnet/Docs/issues/687#issuecomment-168711927

[2016-01-04 19:59] davidfowl commented on #3860
@rguerreiro It should be! Could you send a PR

[2016-01-04 20:56] #3361 closed

[2016-01-04 22:07] Tratcher commented on #3829
Open a console window, navigate to your published output and run `web.cmd`. This should at least let you see the error.

[2016-01-04 23:18] rguerreiro commented on #3860
@davidfowl I make no promises :)

I'll try when I have some time on my hands.

[2016-01-05 02:40] nitzul commented on #3846
bump

[2016-01-05 17:07] dgee2 opened #3866 "Controller Cleanup on Exception"
Hi,

I have some cleanup code that I need to run on some controllers if these controllers throw an exception. Is there some OnException equivalent that I can insert this code into? I would put it in a try/catch/finally but we've got some hooks that are being run in OnActionExecuting and OnActionExecuted that require database connections (hence the need for some cleanup code)

Thanks

[2016-01-05 17:42] pranavkm commented on #3846
also cc @ryanbrandenburg

[2016-01-05 18:14] ryanbrandenburg commented on #3846
Some clarification here @kspearrin , when you say the hello string does not, do you mean NOTHING shows there or that you get hello instead of hola?

Also, sort of preemptively because a lot of localization issues are affected by this, please double check that your problem still happens if you run the site from dnx command line instead of VS. If it doesn't repro under DNX then you've run into https

[2016-01-05 18:26] #3849 closed

[2016-01-05 18:29] kspearrin commented on #3846
@ryanbrandenburg I mean it always prints "Hello"

[2016-01-05 18:38] kspearrin commented on #3846
@ryanbrandenburg I just tested this by launching the website via the `web` command (accessing from localhost:5000), rather than the normal `IISExpress` in VS and experience the same issue. Is this what you were referring to?

[2016-01-05 18:42] kspearrin commented on #3846
@ryanbrandenburg And finally, if I run the site via `dnx web` from the command line, the "Hello" string does not even appear at all. Neither does the formatted `DateTime` string in my example. This seems to be a different issue than any of the other scenarios I have tried from within VS.

[2016-01-05 18:58] DamianEdwards commented on #3846
I just cloned the app and it all worked perfectly fine for me if I run from the command line (`dnx web`). I tried it with both full CLR and Core CLR.

(Note, I added the "Home Page" heading)

![image](https://cloud.githubusercontent.com/assets/249088/12124623/3f407bc4-b39b-11e5-8a0d-6f6d1e420edc.png)

[2016-01-05 19:01] DamianEdwards commented on #3846
@kspearrin not seeing anything at all when you run from the command line is due to there not being any minified CSS files. Make sure to run `gulp min` first, or switch to development environment by setting environment variable `ASPNET_ENV` to "Development" so it loads non-minified files.

[2016-01-05 19:33] kspearrin commented on #3846
@DamianEdwards Ah whoops. Fixed that and it shows "Hola"properly now using `dnx web`. So I guess this means it's back to the problem that @ryanbrandenburg originally brought up with aspnet/dnx#3047 ? Is this an issue outside of running the app in VS? When I deploy it to Azure for instance, will it work?

[2016-01-05 19:54] DamianEdwards commented on #3846
aspnet/dnx#3047 is not related. Your issue is that loading of resources doesn't work when running the app from Visual Studio. It will work from the cmd line and after you publish just fine.

[2016-01-05 19:54] #3846 closed

[2016-01-05 19:57] sebastienros opened #3867 "CacheTagHelper should not depend on IMemoryCache"
`IMemoryCache` is a perfect match for single node scenarios in CacheTagHelper but it breaks if the website runs on more nodes, as each node would return different contents. The issue here is that there is no way to change it.

I think it would be better to either:
- Depend on `IDitributedCache` as the default implementation uses `IMemoryCache` which means it would work the same as today on a singl

[2016-01-05 19:58] kspearrin commented on #3846
Is that not a issue? I'm confused.

[2016-01-05 20:18] rynowak commented on #3542
Here's the same benchmark, about a month later. We're in the midst of a deep-dive on content-type/content-negotiation right now so you can expect a reduction in allocations along the lines of another 2mb or so.

Notable improvements:
- Buffer pooling (`char[]`)
- Enumerator not getting boxed (`Enumerator<JsonProperty`)
- Using the correct contract resolver (`string`)
- Various routing improvements

[2016-01-05 20:19] rynowak commented on #3542
I'm not aware of anything right now. If anything jumps out from the CPU profile, I'll let you know.

[2016-01-05 20:59] rynowak commented on #3542
Updated here with some CPU profiles. I don't have anything else from a JSON.NET point of view. For this benchmark, a 2% improvement in JSON.NET's straight line performance would go completely unnoticed in the vast ocean of MVC.

We need to finish our tracked work for this scenario more than anything.

[2016-01-05 21:36] JamesNK commented on #3542
Ok, looks good to me. There are a couple of minor bugs in 8.0.1 (deserializing a bool as a string, serializing objects with events using the Newtonsoft.Json PCL259 dll). Few people will hit them but it breaks those that do so I'm going to release 8.0.2 with fixes in a week. I'll post here when I do.

[2016-01-05 22:09] rynowak commented on #3542
OK thanks for the heads up. It's no trouble for us to update to 8.0.2 when that's available.

[2016-01-05 22:09] rynowak commented on #3542
Going to close this issue for now. Reopen if you think there's more to do/discuss.

[2016-01-05 22:09] #3542 closed

[2016-01-06 00:14] rynowak opened #3868 "Should BeginForm and FormTagHelper include an antiforgery token for GET"
We could be smart and skip the antiforgery token in the form when it's for a `GET`.

We'd probably want to have the same behavior for `BeginForm` and `<form>` taghelper

[2016-01-06 00:14] rynowak commented on #3868
/cc @DamianEdwards

[2016-01-06 00:34] rynowak opened #3869 "Should FormTagHelper include an antiforgery token when action is specified"
Currently the `<form>` tag helper isn't active for cases like
[code]

Which is a post back to the same URL.

The reason I mention it is that it's pretty similar to `.BeginForm()` - which would include a token.

Of course when you test your app, you will see that an antiforgery token wasn't included. So you'd need to add `asp-antiforgery="true"`.

[2016-01-06 00:46] NTaylorMullen commented on #3869
I'd say no, if a `<form>` tag has an `action` then the only other server side attribute you can add is `asp-antiforgery`.

When we first wrote `FormTagHelper` it applied to every `form` tag and added antiforgery tokens by default. We then went back on the idea because many users weren't trying to use `TagHelper` based `form` tags but were auto-opted into them. Also resulted in lots of purple form

[2016-01-06 00:47] NTaylorMullen commented on #3868
Ooo, That'd be fancy. :+1: I like.

[2016-01-06 01:07] NTaylorMullen opened #3870 "Re-requesting syntax errored view results in request hang."
Repro:

1. Open MvcSandBox's `Views/Home/Index.cshtml`
1. Add a syntax errored piece of C#: `@DateTime.Nw`
1. Run application
1. Hit page (You get error in console window)
1. Hit page a second time, browser hangs indefinitely.

[2016-01-06 06:54] sgjsakura opened #3872 "[Question] Need Guide for TagHelper Designs"
Dear all,

I'm now working on ASP.NET 5 projects and planning to provide some new tag helpers for my application. Durnig the development I found a problem but cannot find any guide. Here I posted my idea any cound anyone give me some advise?

The problem is that I want to add a TagHelper that generate a checkbox for detecting a certain enum flag is set. e.g. for the following type:
[code]
I want t

[2016-01-06 08:24] sgjsakura opened #3873 "[Proposal] Simpify TagHelper value context for types"
Hi all,
I'm now working on MVC projects and trying to design new tag helpers. Some tag helper attributes need to input a type as its value. e.g. The TagHelper may defined as:
[code]
In the rozar view page, the current usage should be:
[code]
I suggest the new grammer be:
[code]

Thank you~

[2016-01-06 09:57] dgee2 commented on #3866
Scrap that, Controller implements IDisposable so that logic is getting moved straight there.

[2016-01-06 09:57] #3866 closed

[2016-01-06 11:45] bluemmc opened #3874 "Null passed as arguments to controller method parameters when no InputFormatter matches"
if the request's content-type is missing or not matching any InputFormatter then controller methods are passed null as arguments where data need to be deserialized. In the example below 'employee' is then null when the method is called. Instead the code 415 should be returned and the controller method should NOT be called.

```public IActionResult UpdateEmployee(uint employeerId, [FromBody] Employ

[2016-01-06 12:31] marcuslindblom opened #3875 "Object as route parameter when using AnchorTagHelper"
If I use the `UrlHelper` to generate the href I can pass a complex object as a route parameter but the `AnchorTagHelper` adds all parameters as strings. Are there any plans on adding support for objects as route parameters?

This is a working example using the `UrlHelper`:

[code]

This is what I would like to do using the `AnchorTagHelper`:

[code]

[2016-01-06 14:22] ghostdlr commented on #3829
It shows the same error:
`Error: Unable to load application or execute command 'Microsoft.AspNet.Server.Kestrel'. Available commands: web, ef.
System.IO.FileNotFoundException: The system cannot find the file specified. (Exception from HRESULT: 0x80070002)
   at System.Reflection.RuntimeAssembly.nLoadFile(String path, Evidence evidence)
   at System.Reflection.Assembly.LoadFile(String path)
   at M

[2016-01-06 16:27] Morgma commented on #3750
I assume this should work just fine for page views as well as components right? I'm trying to automatically add file providers from referenced assemblies that contain views.

In my Startup.cs -

    public void ConfigureServices(IServiceCollection services) {
            var libNames = _libraryManager.GetLibraries().Select(lib => lib.Name).Distinct();
            var assemblies = new List<Assembly

[2016-01-06 16:33] johnnyoshika commented on #3750
@Morgma: I got page views from separate assemblies to load without any problem using the same technique as view components.  I describe it here:

http://stackoverflow.com/a/34366119/188740

And here's a working example:

https://github.com/johnnyoshika/mvc6-view-components

[2016-01-06 17:50] NTaylorMullen commented on #3875
Currently there's no plan to do that. It may be interesting though to have a way to provide the entire route value dictionary in the form of `<string, object>` in addition to what we have today though.

[2016-01-06 17:54] NTaylorMullen commented on #3873
This would definitely be interesting. We have a similar (but not duplicate) issue [here](https://github.com/aspnet/Razor/issues/200). Going to move this issue to Razor.

[2016-01-06 17:54] NTaylorMullen commented on #3873
This issue was moved to aspnet/Razor#655

[2016-01-06 17:54] #3873 closed

[2016-01-06 17:56] Morgma commented on #3750
@johnnyoshika I had been working off your solution previously, but now revisiting it, I have found my issue. The baseNamespace is definitely required to make this work. Additionally, my approach to using ILibraryManager to find the assemblies doesn't work. My guess is that even though I reference the module in project.json and the assembly is found in library manager, the compiler never loads the

[2016-01-06 18:09] Morgma commented on #3750
Now that I've determined my root issue, though it was the first thing I discounted in my initial post, is that the defaultNamespace parameter was not set in my EmbeddedFileProvider. I was able to return to dynamically loading the assemblies based on the convention of starting with "Module" and all is working well. Thanks again for your help @johnnyoshika !

Here's an example of how I'm loading in

[2016-01-06 18:12] johnnyoshika commented on #3750
@Morgma: fantastic!

[2016-01-06 18:25] marcuslindblom commented on #3875
I tried to create my own tag helper and change the dictionary to `<string, object>`, that did not do the trick though, any ideas?
[code]

[2016-01-06 18:55] NTaylorMullen commented on #3875
@marcuslindblom When you say you created your own taghelper are you saying your own that targeted the cache tag? What's not working?

[2016-01-06 21:24] sokket commented on #3542
@JamesNK - did you have any trouble incorporating the System.Buffers code into JSON.NET? I'd love to hear your feedback about how easy / difficult it was to use and if there are any features you would like to see in it.

[2016-01-06 21:28] JamesNK commented on #3542
It was fine. I think the only thing I was a little unsure about was documentation for best practices around Dispose/Finalize of objects that own rented buffers.

i.e. should all classes that use a buffer in a class field implement dispose and/or Finalize to return the buffer.

I settled on ensuring the buffer was returned in Dispose but I'm curious whether a Finalize is also recommended.

[2016-01-06 21:30] marcuslindblom commented on #3875
@NTaylorMullen I created a new tag helper that targets the anchor tag like this:

[code]
But when I use it like this `<a asp-controller="Home" asp-action="About" asp-route-page="@ViewBag.Page">About</a>` the `RouteValues` property is empty.

[2016-01-06 22:11] dougbu commented on #3875
@marcuslindblom are the MVC tag helpers enabled in your view? If for example `_ViewImports.cshtml` contains `@addTagHelper *, Microsoft.AspNet.Mvc.TagHelpers`, you could try adding
[code]
That may at least narrow the issue down.

[2016-01-07 00:02] sokket commented on #3542
Hmm good feedback. I'm working on documentation now so I'll some recommendations around that. Thanks for the feedback! If you think of any more feedback, feel free to shoot me an email

[2016-01-07 07:06] marcuslindblom commented on #3875
@dougbu I figured out what was wrong, when I pass in a value from the `ViewBag`, I need to cast it to the correct type like this: `asp-route-page="@((Page)ViewBag.Page)"`.

The above tag helper works if I use it like this:

[code]
That is not exactly what I was looking for because I need to use the `@("test")` syntax to pass in a string as a parameter but I guess thats how things are?

[2016-01-07 10:14] JosKrause commented on #3813
Thanks so much for the provided feedback and valuable insights as to how this all fits together. For the time being I have resorted into using the following approach:

'''
    <header id="header">
        @{ await Html.RenderPartialAsync("_Header"); }
        <section id="top-right">
            @(IsSectionDefined("topright") ? RenderSection("topright", false) : Html.Partial("_TopRight"))

[2016-01-07 15:42] banderberg commented on #2890
I am having this same exact issue - it has been driving me nuts.  I am using MVC 4.0.20710 with VS 2015.  I do not have a "system.codedom" section in my web.config.

To make matters worse I have found that rebooting my system makes the issue go away, but then it mysteriously comes back after an hour or two for no apparent reason.

Is there a work around for this issue?

[2016-01-07 16:19] rbjarnason commented on #3829
We have exactly the same problem with: "The description for Event ID 1000 from source HttpPlatformHandler cannot be found." Any ideas?

[2016-01-07 16:33] rynowak commented on #3874
If you want this behavior add `[Consumes("application/json", "text/json")]`. You can add this to the list of  global filters if you want to configure it application-wide.

[code]

[2016-01-07 16:39] rynowak commented on #3542
I wouldn't use a finalizer. There's no native resource being managed, and it's not an error to 'forget' pooled memory, just suboptimal. By that I mean that if you fail to return pooled memory it's not actually leaked.

[2016-01-07 16:42] dougbu commented on #2890
@banderberg this problem has not been fixed in MVC 5 or earlier, just MVC 6. If you're using MVC 4.x, please report the issue on [CodePlex](http://aspnetwebstack.codeplex.com/workitem/list/advanced).

FYI the following CodePlex issues are probably related enough that fixing either would fix this problem for MVC 5 as well:
- http://aspnetwebstack.codeplex.com/workitem/638
- http://aspnetwebstack.co

[2016-01-07 17:55] bluemmc commented on #3874
@rynowak I can not confirm this. I tried adding the consumes attribute to the base controller for all my controllers and it does not change the behavior. I still get null passed to the employee argument if content-type is missing for my PUT request to the update method UpdateEmployee.

[2016-01-07 18:07] #3618 closed

[2016-01-07 18:24] JamesNK commented on #3542
It's it leaked though? The array will never be returned to the pool and won't be usable again. Eventually the pool will be filled up with unreturned arrays.

[2016-01-07 18:26] rynowak commented on #3542
The `System.Buffers` pool holds **returned** items, not **checked out** items.

[2016-01-07 18:28] sokket commented on #3542
@rynowak That is an implementation detail that is hidden...any array that is Rented **must** be returned otherwise it is a leak; while it may not be the typical kind of memory leak, it is still a leak. Things that utilize the Pool should use the Dispose pattern (ideally)

[2016-01-07 18:31] JamesNK commented on #3542
@rynowak I didn't know that. Clever.

@sokket Should a Finalizer be added to ensure arrays from objects that weren't explicitly disposed are returned?

[2016-01-07 19:02] sokket commented on #3542
@JamesNK I would follow the Dispose pattern instead of relying on a finalizer; finalizers add GC overhead and might not be run in a timely manor

[2016-01-07 19:11] rynowak commented on #3542
Despite being an implementation detail, this is the kind of thing that traditionally can't be changed in a future version without also adding some guardrails (like leak tracking and automated cleanup). People will code and ship working (but non-optimal) apps -- you will break them by turning this into an unrecoverable leak.

Finalizers are used all over the framework to return avoid leaking native

[2016-01-07 19:15] JamesNK commented on #3542
Properly disposed objects won't ever run the finalizer because of `GC.SuppressFinalize` in the dispose, and running a finalizer seems preferable to me over a possible memory leak when the user forgets to dispose.

[2016-01-07 19:15] sokket commented on #3542
@rynowak I'll let @KrzysztofCwalina speak more to the Dispose vs Finalizer issue, he knows much more about that than I do.

The reason I recommend using the Dispose pattern for the buffers is because we want to eventually be able to use native memory to back a pool; by setting the precedent that you **must** return Rented arrays, it will help avoid unmanaged leaks when we add a native pool since t

[2016-01-07 19:21] #3870 closed

[2016-01-07 19:32] KrzysztofCwalina commented on #3542
Any type that holds rented buffers needs to be Disposable. I think we are in agreement here, correct?

As to the finalizer, I think components should add it, because pooled memory is a manually managed resources, just like native memory, opened handles, etc. Finalizers are for manually managed lifetimes, not just for "native memory".

Separatelly, I think we should consider tracing from the finali

[2016-01-07 19:42] NTaylorMullen commented on #3825
2b83dbb52e7fba7612859a8954556475ef947760

[2016-01-07 19:42] #3825 closed

[2016-01-07 21:11] mikes-gh commented on #3829
Sounds like a deployment issue.  Is this a virtual directory?
Are you using publish from vs.

[2016-01-07 21:28] rynowak commented on #3550
Load balancing this to a Pranav

[2016-01-07 21:38] rynowak commented on #3874
@bluemmc - this is definitely at odds with how the feature was intended to work - https://github.com/aspnet/Mvc/issues/1782

It looks like this code has remained mostly unchanged since it was added aspnet/Mvc@60fa4a6f

I'll dig in and see what I can figure out.

[2016-01-07 21:49] rynowak commented on #3874
This case, and the surrounding comment just don't really fit the intent of the feature. I think we've had this bug for a while because no one was paying attention to what happens when you don't have a content type!

https://github.com/aspnet/Mvc/commit/60fa4a6f#diff-69de547dc02178bc5eb004e33185ce7cR78

I'd suggest the following changes to the handling when there's no ContentType specified in the b

[2016-01-07 23:12] Tratcher commented on #3829
@rbjarnason It appears to be an issue with the event log manifest installer. It's harmless, just noisy. We've got the HttpPlatformHandler team looking into it.

[2016-01-07 23:22] bgeihsgt commented on #3743
@rynowak I'm curious, if the build-in CancellationToken isn't very useful, what is the intended purpose for it? And how would our own token solve the output stream issue you mentioned?

[2016-01-08 00:25] blueskybcl opened #3887 "why log show 2 times request"
Code:

[code]

request url: http://localhost:5000/maptest

response in web command is

[code]

why???

[2016-01-08 00:51] #3501 closed

[2016-01-08 01:38] gkochanowsky opened #3888 "Where is @Html.Action() in RC 1?"
Is @Html.Action() supposed to be in RC1?

[2016-01-08 01:51] rynowak commented on #3743
Sorry, I should have said more than just 'not useful'.

The default `CancellationToken` provided by model binding is `HttpContext.RequestAborted` - which is tripped when `request.Abort()` is called. So first-off, if you're not calling `request.Abort()` you won't ever see it tripped. You need to implement a policy if you want to have cancellation.

------------------------

Secondly, some history:

[2016-01-08 02:35] pranavkm commented on #3888
Child actions, which is the feature `Html.Action` surfaced, aren't being brought forward in Mvc 6. View Components are a replacement for them but work a bit differently. http://www.davepaquette.com/archive/2016/01/02/goodbye-child-actions-hello-view-components.aspx has a write up about the differences and the usage.

[2016-01-08 03:04] gkochanowsky commented on #3888
Thanks Pranav. Perhaps this discussion has already taken place and I missed
it. For that I apologize. But View Components are not a replacement. A
kludge can be made but it is less elegant and powerful than the original
@Html.Action. Is there some reason why both can't be implemented?

On Thu, Jan 7, 2016 at 9:35 PM, Pranav K <notifications@github.com> wrote:

[2016-01-08 06:30] bluemmc commented on #3874
Thanks for looking at this. I think behavior should depend on missing/wrong content-type AND if there are arguments that needs serialization or not. If there is no content content-type is not  required. if There is content-type should be required.

[2016-01-08 07:09] SimplerSoftware opened #3889 "IHtmlGenerator.GenerateSelect is not generating the correct html when a value is specified"
When providing either a collection of custom objects and specifying which value should already be selected, or providing a collection of SelectListItem with one item having the 'Selected' value set to true, when the select renders, no value is pre-selected. Inspecting the HTML shows that the 'selected' attribute is not applied to the 'option' that was specified as the value.

[2016-01-08 07:21] dougbu commented on #3889
If the expression has a value, `Selected` properties in the passed `IEnumerable<SelectListItem>` are overwritten. This is by design since otherwise the `<select>` will not have the `<option>` matching the value selected.

Are you seeing something different? If so, please provide more information about your scenario. A GitHub repo containing a small repo would be ideal.

[2016-01-08 12:12] rbjarnason commented on #3829
Thanks guys but the problem is fixed now. This was not published through VS and it turned out that some files had not been overwritten since the last version.

[2016-01-08 12:42] mfans opened #3890 "How Can I Run a Job or Task on RC1"
I Want to Run a job At idleTime,How can I do? Can i Use A Timer?

[2016-01-08 16:38] pranavkm commented on #3888
I can't find the relevant design notes for why child actions were dropped, but it's unlikely we would revive it. What would be valuable feedback is if you could list specific scenarios that don't work with view components.

[2016-01-08 17:32] jon49 commented on #1877
Another alternative, if you support Swagger docs:

https://github.com/sergey-tihon/SwaggerProvider

[2016-01-08 17:53] Fosol opened #3891 "Failed Dependency Inject during Startup Issue"
Within The Startup after all my code in the ConfigureServices has run and before my Configure has started any failed dependency injection error results in a hard crash that provides no exception information.

Running it bare bones with DNX you can get the exception but you can't step through to debug (i.e. dnx web).

[2016-01-08 18:07] Fosol commented on #3891
The reason for the exception itself was a coding mistake.  I was trying to add a scoped service and initialize it with an interface.
[code]
Obviously a coding mistake that should have been much easier to catch.  Not sure if this should be moved to Kestrel issues or Visual Studio Tooling.

[2016-01-08 18:12] davidfowl commented on #3891
What did you see?

[2016-01-08 18:36] Fosol commented on #3891
Nothing within Visual Studio.

But if I ran it through a separate command prompt then I could see the exception details in the cmd window.

[2016-01-08 18:42] Fosol commented on #3891
The exception in the command prompt was the normal descriptive one - you can't create an instance of an interface.

[2016-01-08 19:10] andreigorlov commented on #3849
Seems bug still here. Same action log on MVC 6.0.0-rc2-16854:
[code]

[2016-01-08 19:21] pranavkm commented on #3891
Did you have the `DeveloperExceptionMiddleware` configured - https://github.com/aspnet/Mvc/blob/dev/samples/TagHelperSample.Web/Startup.cs#L30?

[2016-01-08 19:38] Fosol commented on #3891
Yes I do have that in my Configure however it never reaches it if the ConfigureServices fails in the behind code (not my libraries).

[2016-01-08 19:51] pranavkm commented on #3891
Ahh, I guess it's failing as part of constructing the service provider. Switching to kestrel in VS shows the stack trace, but running it via IIS Express causes it to spin forever. Seems like an issue with the platform handler failing to show proper diagnostics when the underlying process crashes. I'll ask around on to figure out who should address this issue.

[2016-01-08 19:59] JunTaoLuo opened #3893 "Hanging FlushPoint test"
I have disabled the Microsoft.AspNet.Mvc.FunctionalTests.FlushPointTest.FlushPointsAreExecutedForPagesWithComponentsPartialsAndSections test in https://github.com/aspnet/Mvc/commit/c68f742dd0860a3dbde40c84f09ff9add6112b39 since this test hangs on our CI's Other Platforms/Windows projects. I took a brief look but didn't spot anything suspicious.

More thorough investigation is needed before turning

[2016-01-08 20:00] #3755 closed

[2016-01-08 20:07] pranavkm commented on #3891
Moved it here - https://github.com/aspnet/Tooling/issues/363.

[2016-01-08 20:07] #3891 closed

[2016-01-09 00:14] blakepell commented on #3578
Late to the party, I see this has already been changed for RC2.  I was happy when I found this and then disappointed when I found this thread today seeing it's going away.

In my case, I had services being injected via a constructor in a base controller.  Having to pass the same constructor around repeatedly was cumbersome and a little annoying to refactor when a change needed to be made to the ba

[2016-01-09 00:22] dmccaffery commented on #3578
@blakepell

I feel your pain, and can only offer this as a solution:

Use a full-blown IoC container, such as Autofac; it can do what you need it to do. The built in dependency resolver is designed solely for the purpose of injecting types necessary for supporting the framework; it wasn't meant to be a replacement for the other, quite good, and fully-featured IoC containers that are available; pri

[2016-01-09 00:52] ajaybhargavb commented on #3228
MVC 5 behaves the same way as MVC 6. It hides the error messages in validation summary. Spoke to @dougbu about this. We have three options,
1. Leave it as it is (keep hiding these messages in validation summary)
2. Add a single generic error message in validation summary. (something like `One or more fields have invalid values`)
3. Show all the error messages in validation summary.
One problem wit

[2016-01-09 00:53] mikes-gh commented on #3829
@rbjarnason Can you close please.

[2016-01-09 01:08] ghostdlr commented on #3829
@mikes-gh I publish with visual studio .
I just point IIS to a folder on the server hdd where the website is uploaded .

[2016-01-09 01:20] avanderhoorn commented on #3584
Can we resurrect this discussion... there has been more movement in Hosting on this front - https://github.com/aspnet/Hosting/pull/543.

[2016-01-09 01:33] blakepell commented on #3578
@dmccaffery That's fair, I'll take a look at Autofac and also Ninject, thanks for the suggestions, it is appreciated.  The more this evening I think about a service manager injected through the constructor the more I'm warming up to it, it does fulfill the need of being able to update without breaking inheritance.  Thanks for the response also.

[2016-01-09 02:15] dmccaffery commented on #3578
Ninject isn't supportive of DNX, I don't believe -- it's somewhat a dead project; but StructureMap is there, as is AutoFac. I realized I mentioned Ninject at the head of this thread, but that was me just throwing out an example, not a recommendation. All IoC (and things in general) are left to personal preference.

[2016-01-09 02:52] gkochanowsky commented on #3888
I've got a modal SCRUD scaffolder I've been using with MVC4 which I would
like to move to MVC6. This scaffolder creates views with code for multiple
scenarios, where I subtract the code I don't need, since it is much easier
to delete code than it is to write code. Especially if the scaffolder uses
all the correct types. But at the same time I'm trying to keep the code as
DRY as I can. I only want

[2016-01-09 09:46] benaadams commented on #3849
@andreigorlov added PR  #3897 to resolve this

[2016-01-09 09:56] benaadams commented on #3584
The three places that I've come across that do diagnostic timings; also do logging timing and for logging they create store the start state so they can generate a TimeStamp to pass to logging - so its kinda done in a way - other than the data format for diagnostics.

TimeStamp would probably be the more sensible data type as its units clearly defined?

[2016-01-10 01:00] avanderhoorn commented on #3584
Given the work you did in 543, totally agree about TimeStamp.

[2016-01-10 16:18] ghostdlr commented on #3829
I fixed the problem by deleting global.json from approot\src\website\

[2016-01-10 17:08] #3829 closed

[2016-01-10 19:53] joshmouch opened #3898 "Can you make it possible to stop swallowing model binding exceptions?"
When trying to deserialize JSON into an Action argument during a Post, when an exception occurs during the deserialization, the default behavior of MVC is to swallow the exception and pass in a null value for the argument.

This causes all sorts of problems because:
1. It allows actions to be called without the expected model being there.
2. In production, any automated exception logging tools (li

[2016-01-10 20:37] dougbu commented on #3898
As-is, your action will ignore _any_ error during model binding or validation. It should check `ModelState.IsValid`.

For this particular error, an `Exception` thrown during JSON deserialization is added to the `ModelStateDictionary`.

[2016-01-10 21:13] joshmouch commented on #3898
Sorry, but this doesn't really answer my question.
BTW, I am checking ModelState.IsValid.
If I'm to understand your direction, you think I should re-throw any exceptions in ModelState.Exception... correct?
If that's the way to go, there's still potential for a programmer to forget to re-throw in some action somewhere and swallow up the error.

[2016-01-10 21:33] davidfowl commented on #3898
Would you want to control that on a global basis or on a per action basis? That's how MVC has worked since forever.

That's not true, errors are still logged: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Formatters.Json/JsonInputFormatter.cs#L127

Can you elaborate some more? If you're debugging nothing is recompiled until you detach. What is harder to debug?

/cc @Eilon

[2016-01-10 22:05] joshmouch commented on #3898
It's good to know that the exception is logged.  That means it will be caught in production.

It sounds like there isn't really a way to do what I want...

As far as making development more difficult, here is the current workflow:

1. Ctrl+F5 in Visual Studio. Browser window is open and stays open.
2. Make changes in code.  DNX automatically recompiles.
3. View changes in existing browser window.

[2016-01-10 22:51] davidfowl commented on #3898
@joshmouch How is that different from the workflow with MVC 5.x and ASP.NET 4.x or even WebAPI? I'm just trying to understand if you're comparing something old how it used to work or just generally complaining about the behavior?

[2016-01-11 00:18] joshmouch commented on #3898
It's different because of Edit and Continue.
In MVC 5.x you could enable Edit and Continue and stick to the first workflow (except use F5 instead of ctrl-F5).
In MVC 6.x you "emulate" Edit and Continue by using Ctrl-F5 (which I believe uses dnx-watch).

However, in MVC 6.x you have to switch back and forth in order to just see what the exception is.  But this is *only* the case for model binding e

[2016-01-11 02:02] davidfowl commented on #3898
How does edit and continue let you see the exception for model binding errors on Mvc 5?

[2016-01-11 02:21] joshmouch commented on #3898
With the first piece of code a pasted or else, I suppose, with the ModelBinding.Exception you mentioned earlier.

[2016-01-11 03:49] Eilon commented on #3846
@kspearrin it's a known bug that is being tracked separately. It will be fixed before RTM.

[2016-01-11 11:21] mikes-gh opened #3899 "Consider removing some basic senario dnx commands from project.json for simplicity"
I understand that these are commands that can be used by dnx but with the move to dotnetcli I think they may become a source of confusion.
Given with the new hosting model all projects will have an entry point of Main, is it still needed at least for web/run/kestrel?

Also could we move the ef commands to dotnetcli?
I had a chicken and egg scenario yesterday where I wanted to re - reverese enginne

[2016-01-11 14:23] mpawelski opened #3900 "Strongly-typed view component."
I read about [View Components](http://docs.asp.net/projects/mvc/en/latest/views/view-components.html) and wonder if there are any plans to make them more compile safe.

Right now I'm working on providing something similar to View Components in current ASP.NET MVC 5 stack and it doesn't seems that hard to implement it in strongly-typed fashion.

The basic idea is that you have "invoke component" he

[2016-01-11 15:47] ljfolino opened #3901 "Returning void in a Controller causing 500 error, should throw"
I have a simple controller that is using async await.  When the return type is void I receive a 500 error.  The action itself completed without error and is not throwing any exceptions.  This seems to be with the way that the controller handles void.  I know that the return type should be a 204 which would sometimes work.  I have switched my controllers to instead return Task<IActionResult> and re

[2016-01-11 16:08] rynowak commented on #3901
Are you using the `DeveloperExceptionPage`? Can you include a call stack so we can investigate?

[2016-01-11 16:15] ljfolino commented on #3901
That is also the strange thing.  I enabled the `DeveloperExceptionPage`  to try and debug what was going on and one was not produced.  I would only receive a 500 return with no data.

[2016-01-11 16:36] rynowak commented on #3901
@pranavkm just pointed out to me that you're using `async void`. You should **never** use async void with MVC, and avoid it in general.

http://haacked.com/archive/2014/11/11/async-void-methods/

@Eilon / @danroth27 - should we try and throw if you declare something `async void`?

[2016-01-11 16:58] apoutney commented on #3750
Great solution, exactly what I was looking for.

What about things other than views though.  How would you access things such as js, css or image files in the wwwroot of the external assembly?

[2016-01-11 17:00] ljfolino commented on #3901
It is a little misleading that this should be avoided.  What I do not understand is why the 500 was being thrown.  I will convert all my code to return `Task<IActionResult>`, but shouldn't the MVC pipeline handle this, or as you said throw an exception of some sort.  At least a warning in the compiler to handle this sort of thing.

[2016-01-11 17:18] rynowak commented on #3516
With 2eb6cd655b2b6e02a8bb2dca890883432694ded9 - I can easily max out my 100mbit network with this scenario (no taghelpers) using about 4% CPU. We should rerun this on the benchmarking hardware w/without taghelpers.

[2016-01-11 17:23] pranavkm commented on #3750
The StaticFileMiddleware allows specifying a file provider. Perhaps specifying the CompositeFileProvider as it's file system view would suffice?

[2016-01-11 17:25] rynowak commented on #3901
`async void` was added to the language to support cases where you need to start async work, but can't return `Task`. What happens when you use it in MVC is that we 'unwind' and start to do the rest of the work we do after your controller is supposed to be finished. Without the task, *we can't know* when your controller is finished. What's the likely cause the 500 is something corrupting internal s

[2016-01-11 17:35] danroth27 commented on #3899
Yup, all of these commands are being moved to the .NET CLI model. You can track the progress in the various repos. Closing this issue as there really isn't anything to do here for MVC.

[2016-01-11 17:35] #3899 closed

[2016-01-11 17:43] danroth27 commented on #3898
Returning a 500 when there is a serialization issue is probably not what you want. In most cases, these exceptions will get caused by a bad request from the client (ex. the client sends you malformed JSON). Typically you would respond to the client with a 4xx error and let them know what was wrong with the request. The current behavior let's you handle these cases and return the appropriate error.

[2016-01-11 17:45] danroth27 commented on #3890
This doesn't sound like an MVC specific question - maybe try StackOverflow?

One option is you can run jobs on Azure using [Azure WebJobs](https://azure.microsoft.com/en-us/documentation/articles/web-sites-create-web-jobs/)

[2016-01-11 17:45] #3890 closed

[2016-01-11 17:48] #3889 closed

[2016-01-11 17:51] danroth27 commented on #3888
@gkochanowsky Yes, please show us the code you are trying to migrate to MVC 6 and we will take a look.

[2016-01-11 17:53] danroth27 commented on #3887
Could you please share with us the complete project that reproduces the issue so we can take a look? Thanks!

[2016-01-11 17:53] joshmouch commented on #3898
@danroth27 True.  A 4xx exception would be fine... (e.g. throw new HttpException(400, "Bad Request");

[2016-01-11 18:13] Eilon commented on #3875
@marcuslindblom can you show more about the scenario you're trying to implement? Do you have a custom route or route constraint that is expecting a particular data type?

[2016-01-11 18:38] danroth27 commented on #3898
Well, what I'm trying to say is that this really isn't an exceptional case. The server is behaving as expected. It's the client that did something wrong and the server just needs to let the client know. You wouldn't throw an exception for this case - you would just return a 4xx level response.

[2016-01-11 19:04] #3617 closed

[2016-01-11 19:13] joshmouch commented on #3898
@danroth27  Hmm... difference of opinion, I guess.  As a whole application (server + client), the user is in an exceptional state that would be considered a showstopping bug.

[2016-01-11 19:20] rynowak opened #3903 "Optimize invoking action method"
Here's a quick look at an execution profile for an MVC app rendering a pretty significant Razor View.

![image](https://cloud.githubusercontent.com/assets/1430011/12243799/4283d3a8-b855-11e5-8c8c-f573820e7e28.png)

Notice that `RuntimeMethodInfo.Invoke` is eating about 3% of execution time. We should experiment with computing a cached delegate here.

[2016-01-11 19:21] rynowak commented on #3903
@Eilon @danroth27 - recommending next milestone for this one. Low pri and no public API impact.

[2016-01-11 19:25] rynowak opened #3904 "redesign ValueProviderFactory"
Here's an execution profile from an MVC app rendering a pretty significant Razor Page:
![image](https://cloud.githubusercontent.com/assets/1430011/12243892/b8418856-b855-11e5-95e4-abd844eb2888.png)

This is also a significant source of per-request allocation because VPF returns a `Task<IValueProvider>` but rarely goes async. We should consider redesigning this api.

Change:
[code]

Change:
[code]

[2016-01-11 19:27] rynowak opened #3905 "Add caching for filters"
Here's an execution profile from an MVC app rendering a significant Razor View:
![image](https://cloud.githubusercontent.com/assets/1430011/12243986/36557b30-b856-11e5-994e-f9d0f420da54.png)

Retrieving filters (just the default filters) is costing 2.5% of execution time. This is a lot for the default configuration.

[2016-01-11 19:30] rynowak opened #3906 "Optimize creation of VDD"
Here's an execution profile from an MVC app with a fairly substantial Razor Page:

![image](https://cloud.githubusercontent.com/assets/1430011/12244074/ab747e34-b856-11e5-8a7d-da57d8432e8c.png)

This use of the Activator for VDD is costing about 3% of total execution time, we can find a way to do better.

[2016-01-11 19:32] benaadams commented on #3901
@ljfolino a thrown Exception in an `async void` method is likely to bring down the entire server https://github.com/dotnet/coreclr/issues/2144

[2016-01-11 19:38] benaadams commented on #3904
`ValueTask`?

[2016-01-11 19:51] Morgma commented on #3750
@pranavkm In my case, the external assemblies are not standalone web projects with a wwwroot; just NuGet package class libraries. Within the same project source, I'm exposing a Bower package that will supply the static files. My core web app will use Gulp to provision these dependencies to the right locations and do any transformations (script ordering, namespacing, etc...)

I'm still working thro

[2016-01-11 19:55] pranavkm commented on #3750
The idea would be to embed resources in the class library and register a static file middleware with a composite file system - similar to the way the composite file system for views is created.,

[2016-01-11 19:56] ajaybhargavb commented on #3228
Spoke to @Eilon and @dougbu. We decided to keep this consistent with the MVC 5 behavior.

[2016-01-11 19:56] #3228 closed

[2016-01-11 21:41] Eilon opened #3907 "Improve MVC error when MVC services aren't registered"
Show the error earlier, instead of waiting for the first request.

See https://github.com/aspnet/Routing/issues/276

[2016-01-11 22:34] victorhurdugaci opened #3908 "Change to build to use dotnet"
At a minimum, you have to upgrade a few scripts and project.json files just like here: aspnet/Configuration@9cfd22f

[2016-01-11 23:31] rickythefox commented on #3733
<!option ...>...</!option> does not seem to work inside foreach loops.

[2016-01-11 23:33] dougbu commented on #3733
@rickythefox could you provide more detail on what doesn't work w/ `<!option>` w/in a `foreach`?

[2016-01-12 00:24] gkochanowsky commented on #3888
I have an example of how I'm trying to work around the issue with MVC 6 - [https://github.com/gkochanowsky/SCRUD].

Do you need to see an example of how it's implemented in MVC4 using @Html.Action()?

[2016-01-12 00:26] davidfowl commented on #3888
Yes

[2016-01-12 01:01] NTaylorMullen opened #3909 "Consider adding custom asp-key attribute to CacheTagHelper"
Currently the `CacheTagHelper` utilizes `context.UniqueId` in combination with its configuration properties to determine its cache key. This value changes whenever the app is rebooted. We should add an ability to provide a key to be something like:

[code]

This way it'd be easy to lookup information in the cache for debugging purposes or even enable a distributed cache scenario on top of the curr

[2016-01-12 01:27] NTaylorMullen commented on #3530
dbb69ef952089e7d652033febac74177327427f5

[2016-01-12 01:27] #3530 closed

[2016-01-12 03:21] rynowak opened #3911 "TypeConverters do uncached reflection on CoreCLR"
Here's a provide from a simple app with a view and model binding:
![image](https://cloud.githubusercontent.com/assets/1430011/12253928/79b7085c-b898-11e5-95c3-bea5ac0d8011.png)

Using TypeConverters here is worth about 14% of the request's execution time for 3 properties. This is doing uncached reflection on CoreCLR (not on desktop).

[2016-01-12 04:18] gkochanowsky commented on #3888
@davidfowl you can find a freshly scaffolded version @ [https://github.com/gkochanowsky/SCRUD_MVC4].

You will need to attach the mdb file to your local instance of SQL Server and fix the connection string.

[2016-01-12 07:04] andrew-vandenbrink opened #3912 "@Model in top of cshtml still rendered"
[code]

[code]

Notice the difference on "M" within "@model"

I believe @model supposed to be case sensitive
if you use @Model, the page still properly rendered but with model name rendered as its ToString

Either to make it case insensitive or give warn when cshtml page use @Model

[2016-01-12 07:29] blueskybcl commented on #3887
source at https://github.com/blueskybcl/ContosoBooks/

[2016-01-12 07:31] blueskybcl commented on #3887
source at https://github.com/blueskybcl/ContosoBooks/

2016-01-12

a364711322

发件人：Daniel Roth <notifications@github.com>
发送时间：2016-01-12 01:53
主题：Re: [Mvc] why log show 2 times request (#3887)
收件人："aspnet/Mvc"<Mvc@noreply.github.com>
抄送："blueskybcl"<a364711322@sina.com>

Could you please share with us the complete project that reproduces the issue so we can take a look? Thanks!
—
Reply to this em

[2016-01-12 09:16] apoutney commented on #3750
Thanks for the advice.  I had tried the following in the Configure method to use a composite file provider for static files in

app.UseStaticFiles(new StaticFileOptions()
{
      FileProvider = new CompositeFileProvider(fileProviders.ToArray()),
});

But Im not sure how to then access the static files from client side code, whatever I try just results in a 404 error.  Im not sure if im embeddingth

[2016-01-12 09:24] rickythefox commented on #3733
Sure! The code below does not compile in a Razor view (trivial example, will set all options to selected):
[code]

[2016-01-12 15:33] mikes-gh opened #3913 "Tag helper asp-route for dates works differently to Url.Action Link"
Given the following UK dates

StartDate = 01/01/2016
EndDate = 31/01/2016

[code]
Gives a link
[code]

and

[code]
Gives a link
[code]
Note using the UrlAction renders the EndDate as US and tag helper renders the date as UK.
(which causes an SQL exception in EF).
Now I can go ISO dates on this to fix (probably better anyway) but I thought I would point it out as it caught me.

Out of interest wher

[2016-01-12 16:35] NTaylorMullen commented on #3912
@andrew-vandenbrink Using `@Model` is valid. It shows that you're trying to access the `Model` property of the page. What if you do `@model string`? Doing `@Model` then becomes the only appropriate way to render said model.

[2016-01-12 17:02] dougbu commented on #3733
@rickythefox since you're doing everything manually, you must set `selected` to `string.Empty` in at least some cases.

##### Details
Your code _explicitly_ sets the `selected` attribute for all generated `<option>`s. Tag helpers are not doing anything in this example: The `SelectTagHelper` matches the `<select>` element but no-ops. And, the `OptionTagHelper` matches (just) the first `<option>` el

[2016-01-12 17:16] rynowak commented on #3911
https://github.com/dotnet/corefx/issues/5337

[2016-01-12 17:47] dougbu commented on #3913
@mikes-gh the difference in your two examples is in what your code is passing. The anonymous object used when you call `Url.Action()` passes `DateTime` (or `DateTimeOffset`) instances to the underlying code. The `Dictionary<string, string>` backing attributes such as `asp-route-StartDate` forces `ToString()` in the Razor file. In the first case, the routing code uses the invariant culture for conv

[2016-01-12 19:04] rickythefox commented on #3733
@dougbu my bad, the code is marked as invalid by VS so I assumed it would not compile. In reality the `selected`var gets its value from somewhere, this is just a trivial example so i hardcoded it to a string. :)

![image](https://cloud.githubusercontent.com/assets/1675955/12273628/45f591c6-b967-11e5-9564-9eb30c8258fd.png)

[2016-01-12 19:05] mikes-gh commented on #3913
I see so the routing code uses invariant culture which just happens to be US style.  I guess thats at the heart of dot net.  I guess a better invariant culture date would be ISO date which I have now changed it to. Thanks for your help.

[2016-01-12 19:13] rynowak commented on #3692
Load balancing to a different Ryan

[2016-01-12 19:20] #3439 closed

[2016-01-12 19:22] Eilon commented on #3912
As @NTaylorMullen said, `@model SOME_TYPE` is a Razor directive to specify the model type that will be used for the page's `Model` property (and elsewhere).

On the other hand `@Model` is referencing `this.Model`, which is of the type specified in `@model`.

[2016-01-12 19:22] #3912 closed

[2016-01-12 19:37] andrew-vandenbrink commented on #3912
This is correct, just like @NTaylorMullen explained
[code]

This one should generate warning or maybe make the behavior same like above
[code]

[2016-01-12 19:53] #754 closed

[2016-01-12 20:02] Eilon commented on #3856
@ryanbrandenburg can you try to repro this and see what's going on here?

[2016-01-12 20:05] Eilon commented on #3912
Unfortunately there's no way to know that it should be a warning. It could be perfectly legitimate code. Warnings are reserved for stuff that's almost certainly wrong or unintentional.

[2016-01-12 20:16] Eilon commented on #3913
@mikes-gh unfortunately the tag helper can't distinguish between how to format certain properties, especially with dictionary-based properties such as `asp-route-XYZ`. The tag helper itself doesn't even participate in that conversion. It's just an aspect of tag helpers in general. And, in general, I think that using CurrentCulture is the correct culture for most cases (e.g. displaying data to the

[2016-01-12 20:16] #3913 closed

[2016-01-12 20:18] Eilon commented on #3869
Yeah don't think we need this.

[2016-01-12 20:18] #3869 closed

[2016-01-12 20:27] Eilon commented on #3868
Yeah we don't want it on GETs by default. But the user should be able to force it on or off always. So let's make sure the anti-forgery option in each of these mechanisms is a nullable `bool`, with `null` meaning "auto".

[2016-01-12 21:05] mikes-gh commented on #3826
Would this help? Came across this issue yesterday and missed it at first.

[code]

[2016-01-12 22:08] Eilon commented on #3872
@dougbu @NTaylorMullen can either of you answer this?

[2016-01-12 22:08] Eilon commented on #3872
@DamianEdwards FYI as well.

[2016-01-12 22:11] rynowak opened #3915 "Update FormFileModelBinder"
https://github.com/aspnet/HttpAbstractions/issues/499

`IFormFile` now has a filename property, so we don't need to re-parse the content-disposition.

This is just code cleanup.

[2016-01-12 22:48] NTaylorMullen commented on #3872
There is not currently a design-guide per say. However, there are docs that showcase MVC and `TagHelper` features [here](https://docs.asp.net/projects/mvc/en/latest/).

If you'd like to use the same `Type`d attribute you can use the same name. When you expect a different `Type` then you are required to provide a different name. You can also take the route of disabling existing `TagHelper`s on a pa

[2016-01-12 23:09] pranavkm opened #3917 "Razor Precompilation"
#### Summary

We want to bring back Razor Precompilation so that you can ship an assembly or app with views baked in. We're going to start developing this during the 1.1.0 timeframe based on a prototype from https://github.com/aspnet/Performance/tree/dev/testapp/RazorCodeGenerator

**Goals:**
- Faster startup time (traded for build time)
- Find errors at build time
- Same Razor programming build a

[2016-01-12 23:13] rynowak commented on #740
We've done this 4d69ad0db2c0db3a5034b3165aaba4e41b808f47

[2016-01-12 23:13] #740 closed

[2016-01-12 23:14] rynowak commented on #3230
@javiercn - has this been merged?

[2016-01-12 23:18] #3683 closed

[2016-01-13 00:18] #3230 closed

[2016-01-13 00:33] dougbu opened #3918 "Reduce `string`s allocated when generating in nested context or for Linq expressions"
`TemplateInfo.GetFullHtmlFieldName()`, `ExpressionHelper.GetExpressionText()` and `TagBuilder.CreateSanitizedId()` are frequently used in almost all HTML and tag helpers. Unfortunately they each do a significant amount of relatively inefficient `string` manipulation, leading to large numbers of `string` allocations per request.

In particular
- `TemplateInfo.GetFullHtmlFieldName()` concatenates `s

[2016-01-13 00:38] dougbu commented on #3918
Updated the truncated description.

[2016-01-13 00:42] dougbu commented on #3918
For a simple view using tag helpers with a collection model where each element has seven fields, almost all of the topmost allocators are within these three methods:
![capture](https://cloud.githubusercontent.com/assets/6431421/12281482/5dea8668-b94b-11e5-90c8-2f06d1b1d972.png)

[2016-01-13 00:46] dougbu opened #3921 "Remove uncached Reflection in `ExpressionHelper.GetExpressionText()`"
The `IsSingleArgumentIndexer()` helper method performs uncached Reflection. `ModelMetadata` could be available in this code. Or cached information about the Linq expression could be reused.

[2016-01-13 01:08] Gonkers opened #3922 "ASP.Net 5 and URLRewrite"
I am currently running VS2015 with ASP.Net 5 RC1 and I am able to successfully use URLRewrite in most cases. When I add the rule below I get the error `"An error occurred attempting to determine the process id of the DNX process hosting your application."`

[code]

I have no issues with this when I use ASP.Net 4.6 mvc 5. Any thoughts?  Thanks.

[2016-01-13 01:56] rynowak opened #3924 "Creating TagHelpers is surprisingly expensive"
This page has a lot of use of `UrlResolutionTagHelper` https://github.com/rynowak/mvc-sandbox/blob/master/workloads/LargeStaticView/Views/TagHelpers/Index.cshtml

![image](https://cloud.githubusercontent.com/assets/1430011/12282784/b003c036-b955-11e5-8294-4505a3d4818a.png)

17% of the execution time of the page is spend just new-ing these up.

[2016-01-13 02:22] sgjsakura commented on #3872
@NTaylorMullen HI, Thank you for your reply. In your answer you use the `@removeTagHelper` to cancel the original InputTagHelper, however it requires users to add this detective manually in views. Is there any manner to controller the execution of a TagHelper in another one for TagHelper designers?

Thank you~~

[2016-01-13 02:32] pranavkm commented on #3908
Currently blocked on https://github.com/dotnet/cli/pull/798

[2016-01-13 03:10] javiercn commented on #3683
![image](https://cloud.githubusercontent.com/assets/6995051/12283914/153bdeca-b960-11e5-9518-72309e1cfd88.png)

The improvement is about 2525KB or 2.5MB

[2016-01-13 03:39] NTaylorMullen commented on #3872
@sgjsakura The closest you can get to controlling the execution of an existing `TagHelper` is to utilize [TagHelperInitializer](https://github.com/aspnet/Mvc/blob/32d15186a01c1d9542c15045ebb2603653b03d8b/src/Microsoft.AspNet.Mvc.Razor/TagHelperInitializerOfT.cs)s. You can see an example [here](https://github.com/aspnet/Mvc/blob/aa7ebb343a49d77bf680f85ad8f9ad81498b7624/test/WebSites/HtmlGenerationW

[2016-01-13 04:01] Gonkers commented on #3922
For some additional information, I wanted to be clear, I received the above error message while debugging in VS2015.

[2016-01-13 05:49] marcuslindblom commented on #3875
@Eilon Yes, I have a custom made route and when I get the `VirtualPathData` in this my routes `GetVirtualPathData` it expects a particular data type as a route value parameter. For this I was thinking about using the `asp-route-*` attribute but that is maybe a bad decision, maybe I should use a another attribute like `asp-for` or something? Are there any best practices regarding this scenario?

Th

[2016-01-13 06:00] dougbu commented on #3683
@javiercn is the order of the screen snips above after then before?

[2016-01-13 07:00] lodejard commented on #3666
ROI is pretty bad on this one

[2016-01-13 07:00] #3666 closed

[2016-01-13 07:15] lodejard commented on #3727
I believe there is another issue filed to give both the IControllerFactory and IControllerActivator a create and release method - so I'm going to be closing this one since it's dealing with a recommendation that should continue over there if needed.

To introduce IoC type activation you only need to override the IControllerActivator. The IControllerFactory calls through to it, and also implements

[2016-01-13 07:15] #3727 closed

[2016-01-13 07:25] dotnetjunkie commented on #3727
Link please?

[2016-01-13 07:37] davidfowl commented on #3727
@lodejard what if we just registered controllers as services as part of the scan? It might makes things a little awkward since it happens during container build up time.

[2016-01-13 08:09] ploeh commented on #3727
Which one?

The fundamental reason a decommissioning hook is required isn't particularly to address Controllers that implement `IDisposable`, but to address the common scenario where a Controller has been injected with an object graph, and deep in that object graph exists an object that should be disposed of.

A common architecture is to have a Controller talk to an injected Domain Service, that a

[2016-01-13 17:16] danroth27 commented on #3922
@Tratcher @BillHiebert Thoughts on what could be happening here?

[2016-01-13 17:16] danroth27 commented on #3921
Does this show up when profiling?

[2016-01-13 17:20] BillHiebert commented on #3922
VS makes an http request with the Debug verb to get the httpPlatformHandler to start the dnx.exe process to get its process ID and attach the debugger to it. Most like the url rewrite is interfering with this.

[2016-01-13 17:22] danroth27 commented on #3898
You can log the error on the server, but in general you probably don't want to be throwing exceptions on the server for misbehaving clients. You don't in general have control over which clients are sending your requests.

Closing as we don't plan to change the current behavior.

[2016-01-13 17:22] #3898 closed

[2016-01-13 17:23] rynowak commented on #3921
Yes, that's how we found it :+1: I don't have the data in front of me though, I was looking over @dougbu 's shoulder

[2016-01-13 17:45] danroth27 commented on #3888
The code you have should be fairly easy to convert to use view components by first converting your child actions to be view components and then calling `@Component.InvokeAsync` instead of `@Html.Action`. For any child actions that you still want to still be accessible as public endpoints you can refactor them to call into your view components using the `ViewComponent()` helper method on `Controlle

[2016-01-13 17:47] danroth27 commented on #3887
Looks like this code adds the Console logger twice:
https://github.com/blueskybcl/ContosoBooks/blob/master/Startup.cs#L39
https://github.com/blueskybcl/ContosoBooks/blob/master/Startup.cs#L81

[2016-01-13 17:47] #3887 closed

[2016-01-13 18:10] rynowak commented on #3905
70cee90186099daa66f32954a91c6f57ad92812b

[2016-01-13 18:10] #3905 closed

[2016-01-13 18:18] danroth27 commented on #3922
Looks like you could do something like this:

[code]

[2016-01-13 18:18] #3922 closed

[2016-01-13 18:24] gkochanowsky commented on #3888
I've already done it, Please see the SCRUD codebase [https://github.com/gkochanowsky/SCRUD].

There are several concerns with this approach. First, it's a lot more lines of code. Second, the view component context is not the same as the controller contexts, for example the Identity components are not the same. Third, the view component as far as I can tell does not support cross cutting concerns s

[2016-01-13 18:42] chassq opened #3925 "Reference Controller instance from ViewComponent"
Hey,

Was just trying to figure out if there is a way to see the current controller instance from a ViewComponent? Is it there as part of the ViewComponent objects or would I have to inject it?

Hope my question makes sense.

Thanks!

[2016-01-13 19:35] danroth27 commented on #3888
What kinds of things are you trying to do in your view component that you need the controller context for?

I looked at the updated code, but it looks like the controller actions are not calling your view component (by calling the `ViewComponent()` helper method). The controller actions still duplicate the view component code, which I think you can avoid by calling the view component from your act

[2016-01-13 19:37] marcuslindblom opened #3926 "TryUpdateModelAsync fails with argument null exception Parameter name: metadataProvider"
I have an API controller with a `Post` method like this:

[code]

I issue the request using Fiddler like this:

![screen shot 2016-01-13 at 20 31 27](https://cloud.githubusercontent.com/assets/319720/12305363/b0925b9a-ba34-11e5-9441-4abee193b1d0.png)

The model binds correctly:

![screen shot 2016-01-13 at 20 28 33](https://cloud.githubusercontent.com/assets/319720/12305385/d327fade-ba34-11e5-95e9

[2016-01-13 20:07] gkochanowsky commented on #3888
In MVC 4 I could do things like line [20](https://github.com/gkochanowsky/SCRUD_MVC4/blob/master/src/SCRUD_MVC4/Views/Person/Index.cshtml#L20). A single line to call an action at line [39](https://github.com/gkochanowsky/SCRUD_MVC4/blob/master/src/SCRUD_MVC4/Controllers/PersonController.cs#L39). Just one line of code to generate the action HTML.

To do the same thing in MVC6 I've had to write all

[2016-01-13 20:27] rynowak commented on #3925
What do you need the current Controller instance for? Wondering if there's a better way to accomplish what you really need?

[2016-01-13 21:00] #3818 closed

[2016-01-13 21:02] rynowak commented on #3818
420f44248755f16dd529d8d2c027066b02aedc3b

[2016-01-14 00:14] javiercn opened #3928 "Ensure we throw an error during startup when MVC services haven't been added to DI"
This is the counterpart to https://github.com/aspnet/Routing/issues/276.

[2016-01-14 00:16] blueskybcl commented on #3887
Thank you.

2016-01-14

a364711322

发件人：Daniel Roth <notifications@github.com>
发送时间：2016-01-14 01:47
主题：Re: [Mvc] why log show 2 times request (#3887)
收件人："aspnet/Mvc"<Mvc@noreply.github.com>
抄送："blueskybcl"<a364711322@sina.com>

Looks like this code adds the Console logger twice:
https://github.com/blueskybcl/ContosoBooks/blob/master/Startup.cs#L39
https://github.com/blueskybcl/ContosoBooks/blob/

[2016-01-14 04:21] Gonkers commented on #3922
Thanks @danroth27 I'll give it a whirl.

[2016-01-14 07:57] chassq commented on #3925
Right now I run all my session (using Redis) management through the base controller and wanted to access it through the View Component. Just wanted one place where session variables could be accessed and managed.  I guess I could bring session mgmt. out of the base controller and created a separate class just for it but it would just be easier in my situation to just have a reference to the curren

[2016-01-14 14:39] Bartmax opened #3930 "Suggestion: error message indicates layout instead of current view."
When having a layout with a `RenderSection` required, and then you go to a View without that section defined, the error message is:

[code]

but I think it should be:

[code]

[2016-01-14 19:09] Eilon commented on #1812
Not planning on doing this at this time.

[2016-01-14 19:09] Eilon commented on #3044
Will revisit in the future.

[2016-01-14 19:12] Eilon commented on #2275
@rynowak assigning to you because you're doing the namespace cleanup. I'm not super concerned about the exact details of this bug, so just associate it with your rename commit(s), and close this bug when you're done.

[2016-01-14 19:21] rynowak commented on #2275
Any preference on a pattern when files **can't** follow the convention?

Ex: Microsoft.AspNet.Mvc.ViewFeatures contains files in the following namespaces

- Microsoft.AspNet.Mvc
- Microsoft.AspNet.Mvc.Rendering
- Microsoft.AspNet.Mvc.ViewFeatures
- Microsoft.AspNet.Builder
- Microsoft.Extensions.Builder

[2016-01-14 19:23] NTaylorMullen commented on #1812
We actually kind of do this already in the performance repo. I added a test that runs the default StarterMVC and does register/login/logout etc. all of which have `TagHelper`s heavily used. Not to mention all the usage in the Layout. I'd recommend closing as done :smile:

[2016-01-14 19:33] #3928 closed

[2016-01-14 19:33] dougbu commented on #3928
Dupe of #3907

[2016-01-14 19:45] johnnyoshika commented on #3750
@pranavkm: I noticed a big problem with having view components in a separate assembly.  Changes to Views are not picked up and doesn't get recompiled.  I tried cleaning and rebuilding, but it didn't help.  The only way to pick up the changes were to change a .cs file inside the view components assembly, which forced a recompilation.  Is there any way around this?

[2016-01-14 19:52] Eilon commented on #3384
Looks like just the `loggerFactory` parameter is missing now.

[2016-01-14 19:53] Eilon commented on #1812
@NTaylorMullen feel free to update this bug and point to the test(s) for reference.

[2016-01-14 19:55] Eilon commented on #2275
We often create fake-ish folders for those.

E.g. have a `src/Microsoft.AspNet.Mvc.ViewFeatures/Builder` folder that has the `Microsoft.AspNet.Builder` namespace in it, or similar.

If it's a very small number of types that are misplaced I would put them in the root of the project.

[2016-01-14 19:55] Eilon commented on #2275
The goal being to not have a giant mess. Small messes are acceptable.

[2016-01-14 20:07] pranavkm commented on #3750
@johnnyoshika, the issue is related to DNX's behavior - https://github.com/aspnet/Mvc/issues/3244#issuecomment-146016999.

We're in the process of migrating from DNX to dotnet-cli for compilation and building. At this point the CLI doesn't have incremental build semantics, so it always rebuilds all dependencies which should resolve your issue. I'm not sure what their behavior would be when they ad

[2016-01-14 20:16] #3384 closed

[2016-01-14 20:21] rynowak commented on #2275
Ok great, that's what I've done in the existing code.

[2016-01-14 20:31] johnnyoshika commented on #3750
Thanks for the information, @pranavkm.

[2016-01-14 20:38] marcuslindblom commented on #3926
The problem only seems to appear when I use Fiddler or Javascript to post my data, not if I put the same code on my `HomeController` and post the form, `TryUpdateModelAsync` works as expected?

[2016-01-14 20:46] rynowak commented on #3926
This seems really strange. Is there a repo somewhere we could look at?

[2016-01-14 20:58] Eilon commented on #3930
Indeed that looks backwards!

[2016-01-14 21:04] rynowak commented on #3925
I'd recommend creating a model object or business service to encapsulate the state you need to share between the controller and view/view-component. This is going to be more testable and maintainable than try to tie your VC directly to the session state.

Do you have some sample code? I could make more specific suggestions.

[2016-01-14 21:09] Eilon commented on #3432
@rynowak I can't remember exactly what my previous comment was referring to. Do you have more info about this issue?

[2016-01-14 21:17] rynowak commented on #3432
We should close this bug. The stack overflow post [here](http://stackoverflow.com/questions/33283627/how-can-one-force-taghelpers-and-htmlhelpers-to-use-explicit-controller-and-acti/33389564#33389564) refers to *magic* link generation, which we reverted.

[2016-01-14 21:33] #3432 closed

[2016-01-14 21:37] marcuslindblom commented on #3926
@rynowak Sure, here is the [controller](https://github.com/marcuslindblom/aspnet5/blob/master/src/Controllers/PageController.cs#L39) I use and here is the [script](https://github.com/marcuslindblom/aspnet5/blob/master/src/wwwroot/js/site.js#L108) I use to post the data. The [HomeController](https://github.com/marcuslindblom/aspnet5/blob/master/src/Controllers/HomeController.cs#L38) works with the

[2016-01-14 21:44] rynowak commented on #3926
Your issue here that the action method is declared as `async void` - it should be `async Task`

[2016-01-14 21:45] rynowak commented on #3926
See: https://github.com/aspnet/Mvc/issues/3901#issuecomment-170610622

[2016-01-14 21:49] Eilon commented on #3926
@rynowak I'd love to throw in that case but as you said yourself, it is difficult to reliably do so.

Closing this bug as it's effectively a dup of https://github.com/aspnet/Mvc/issues/3901

[2016-01-14 21:49] #3926 closed

[2016-01-14 21:50] Eilon commented on #3725
We will take another look at HTML5 improvements in helpers in the next release.

[2016-01-14 22:03] marcuslindblom commented on #3926
Changed the return type to `Task` and it seems to work as it should, thanks @rynowak for your the help!

[2016-01-14 23:05] NTaylorMullen commented on #1812
https://github.com/aspnet/Performance/commit/a994b64adf116251245fc7227711c001b90fdf04

[2016-01-14 23:05] #1812 closed

[2016-01-14 23:09] #3907 closed

[2016-01-15 06:57] Eilon commented on #3907
3-Done?

[2016-01-15 07:03] Eilon commented on #3867
I agree with the thought in general, but I wonder if this is a case for maybe having different tag helpers? It could be argued that *this* tag helper is more of a `<memoryCache>` tag helper as opposed to just `<cache>` and what's described here is some other tag helper. Or not...

@DamianEdwards any further thoughts?

Parking in the Backlog for now.

[2016-01-15 07:04] Eilon commented on #3329
Moving to Backlog as there is no feature work planned in this area (hah-hah) for the current version.

[2016-01-15 07:58] chassq commented on #3925
Thanks!

I think I will go the model component route to be shared between the VC and the rest of the app. Thanks for the advice.

[2016-01-15 07:58] #3925 closed

[2016-01-15 08:25] DamianEdwards commented on #3867
I think the cache tag helper should have an attribute to let you select between im-memory and distributed cache.

[2016-01-15 09:16] JamesNK commented on #3542
@rynowak https://github.com/JamesNK/Newtonsoft.Json/releases/tag/8.0.2 https://www.nuget.org/packages/Newtonsoft.Json/

[2016-01-15 11:58] miroslavsiska opened #3935 "Default model validation messages"
Is please possible customize default model validation messages? I would like use client side validation before ajax call base on culture for decimal type.
For example: Data-val-number="The field {0} must be a number.   ...is still only in english.
 No simmilar question on internet found for mvc 6...
Thank you
Miroslav

[2016-01-15 13:52] evorine opened #3936 "Can't resolve IHttpContextAccessor, IActionContextAccessor, IUrlHelper in RC2"
Hello,

I'm currently using the latest RC2 version (build 16854).
I can't inject some MVC special services (`IHttpContextAccessor`, `IActionContextAccessor`, `IUrlHelper`) into my controllers.

I searched but could not find anything about this. Did I misconfigure something? Or if I have to add them as services manually how can I do it?

[2016-01-15 14:04] evorine commented on #3936
Is this the proper way?

[code]

And I think for IUrlHelper, I have to create the instance as `new UrlHelper(actionContext)`?

[2016-01-15 14:48] davidfowl commented on #3936
Why would you need those services in you controller ? The http context and action context are available.

[2016-01-15 17:32] Eilon commented on #3867
Unfortunately that breaks DI :frowning: :panda_face:

It would mean you can't take the cache interface in the ctor anymore: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/CacheTagHelper.cs#L47

You'd have to reach into the service provider and resolve it.

That's the real reason I was suggesting multiple middlesware.

[2016-01-15 17:34] victorhurdugaci commented on #3908
dotnet/cli#807 is fixed

[2016-01-15 17:34] sebastienros commented on #3867
You can take a dependency on both.

[2016-01-15 17:38] Eilon commented on #3867
But it doesn't actually require both, so that's a bit dirty.

[2016-01-15 17:42] evorine commented on #3936
Oh, sorry. Actually I don't need them in my controller. I was just testing them there.

I have a service which needs `IUrlHelper` to create some urls. And I also have another service which is doing a little bit dirty things and needs the controller's name (I was getting it from `ActionContext`).

[2016-01-15 17:45] sebastienros commented on #3867
If Damian's advice is to have an attribute to target which storage for each tag (which is what I understood), then it actually requires both services. You can make them lazy if you want, still, not a broken design IMO.

[2016-01-15 17:55] dougbu commented on #2969
Reassigning to myself since we want this to happen before @kichalla gets back.

[2016-01-15 17:56] dougbu commented on #3935
Sounds like a dupe of #2969. If you agree @miroslavsiska, please close this issue.

[2016-01-15 17:57] dougbu commented on #3215
Reassigning to myself since we want this to happen before @kichalla gets back.

[2016-01-15 17:57] pranavkm commented on #3867
Supporting `IDistributedCache` would require us to serialize the generated `IHtmlContent` to a `byte[]` which is entirely incompatible with how we cache it in `IMemoryCache`.
What's the use case for caching generated HTML content as opposed to caching the content that produces the HTML?

[2016-01-15 18:04] DamianEdwards commented on #3867
The case is every time I show it to people, they ask for it. StackOverflow is well known for caching rendered HTML in Redis. He user scenario is sound. Don't really care how you implement it, as long as it's in the one helper.

[2016-01-15 18:33] Eilon commented on #3935
Yup, dup of https://github.com/aspnet/Mvc/issues/2969.

[2016-01-15 18:33] #3935 closed

[2016-01-15 18:42] Eilon commented on #3867
Moving out of backlog. @sebastienros please post a proposal to discuss.

[2016-01-15 19:06] sebastienros opened #3938 "CacheTagHelper should be able to vary by culture"
If a fragment is cached and contains localized content it won't vary. IMO there should be a `vary-by-culture` attribute that would resolve `IRequestCultureProvider`.

[2016-01-15 19:14] sebastienros commented on #3938
@DamianEdwards (Eilon asked me to ping you)

[2016-01-15 19:18] DamianEdwards commented on #3938
Good suggestion, but too late for RTM. For now you can do `vary-by="@CultureInfo.CurrentUICulture"`

[2016-01-15 19:19] DamianEdwards commented on #3867
I don't think it's necessary for RTM. We're really beyond the time to be making changes like this.

[2016-01-15 19:25] Eilon commented on #3867
If @sebastienros can round something up would you want to take it?

[2016-01-15 19:42] DamianEdwards commented on #3867
Are you telling me that it's in effect, free? :smile:

[2016-01-15 19:50] Eilon commented on #3867
Someone has to approve the design and then it needs a code review. Nothing's free :smile:

[2016-01-15 19:56] DamianEdwards commented on #3867
Yeah, we have to stop some time mate. Good one for 1.1 :+1:

[2016-01-15 20:05] sebastienros commented on #3867
### Proposal
Keep the current default behavior and store everything using the `IMemoryCache` service.

Add an optional `distributed` attribute that would use `IDistributedCache`. Its default value
is `false`. If set to `true` then the tag helper would resolve and use `IDistributedCache` to store
and retrieve the cache content.

Example:
[code]

If the application runs on a single instance the use

[2016-01-15 20:26] NTaylorMullen commented on #3867
In the distributed cache scenario you'd need to also require the user to provide some sort of cache key so it's the same across nodes.

@sebastienros wasnt your concern with this issue initially finding a way to separate types of caches used? Aka, the cache `TagHelper` having a dedicated cache would enable users to separate how things are cached (db cache vs page cache vs X cache etc.).

[2016-01-15 21:29] Eilon commented on #3936
@evorine can you show how you're trying to get the services? Are they constructor parameters of your tag helper?

[2016-01-15 21:30] Eilon commented on #3826
@mikes-gh yes that could work.

[2016-01-15 21:31] Eilon commented on #3826
I don't think there's any further action required on this issue, so closing.

[2016-01-15 21:31] #3826 closed

[2016-01-15 21:32] Eilon commented on #3377
Moving to backlog, we will revisit again next time.

[2016-01-15 21:54] rynowak commented on #3936
We had to make `IUrlHelper` factory-based since it relies on state from the current request. Inject the `IUrlHelperFactory` instead

[2016-01-15 22:32] ryanbrandenburg commented on #3076
As discussed with @rynowak in person, we're also moving HttpRequestStreamReader.

[2016-01-15 22:55] Eilon commented on #3936
Ah indeed, need to depend on [`IUrlHelperFactory`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Routing/IUrlHelperFactory.cs), from which you can get the `IUrlHelper`.

Closing this for now. If you can show some code that you think should work but doesn't, please let us know.

[2016-01-15 22:55] #3936 closed

[2016-01-15 22:58] Eilon commented on #1819
Moving to Backlog because this seems like too big of an item right now. This is understandably important, but it has workarounds, as painful as they may be. I'm guessing the number of people using `Flush()` isn't very high.

[2016-01-15 23:09] rynowak opened #3939 "Implement a large modelbinding/validation benchmark"
We need a larger benchmark using more complex/large validation and model binding.

[2016-01-15 23:09] sebastienros commented on #3867
The key is already created and unique as part as the current implementation.
Having a custom interface was one of my proposals but not an approved solution.

[2016-01-15 23:10] sebastienros commented on #3867
Actually you are right, we need a custom user key, I will look into the current implementation.

[2016-01-15 23:16] sebastienros commented on #3867
Currently it's using the `TagHelperContext.UniqueKey` which works on a single instance. I suggest that instead of having a `distributed="true"` attribute we use the key as the opt-in parameter like `distributed-cache-key="mycontent"`. Setting this property would prove the cross instance key discriminator and also opt-in for distributed cache.

[2016-01-15 23:37] pranavkm commented on #3542
Picked up the 8.0.2 version as part of https://github.com/aspnet/JsonPatch/commit/9ad62d796332572a5ddc4601b87687b08488c474

[2016-01-15 23:56] dougbu commented on #3386
fa8c2ea

[2016-01-15 23:56] #3386 closed

[2016-01-16 00:15] Eilon commented on #3903
@rynowak what do you define "next milestone" as? We'd like to get things done in RC2, or post-RTM. We have only a small window in between those.

[2016-01-16 04:52] Varorbc opened #3943 "How to override controllerselector"
How to override controllerselector

[2016-01-16 06:00] gkochanowsky opened #3944 "Razor view will not allow <div></div> to be split"
This code will not run.

[code]

[2016-01-16 06:02] davidfowl commented on #3943
What are you trying to do? (And don't say override the controller selector :smile: )

[2016-01-16 12:15] salerth commented on #3944
Ignoring whether this should fail or not, you can ask Razor nicely to render as text to get around it:

http://stackoverflow.com/questions/4809694/razor-doesnt-understand-unclosed-html-tags

[2016-01-16 13:30] gkochanowsky commented on #3944
I've already worked around it. I'm just reporting what used to work in previous versions and doesn't work now.

[2016-01-16 15:18] gkochanowsky commented on #3944
In RC1 this works:
@if (1 == 1) { @Html.Raw("`<div>`") }
	`<div>`some content`</div>`
@if (1 == 1) { @Html.Raw("`</div>`") }

But this doesn't:
@if (1 == 1) { @:`<div>` }
`<div>`some content`</div>`
@if (1 == 1) { @:`</div>` }`

[2016-01-16 17:21] arundh93 opened #3945 "Razor intellisense for mvc6 taghelpers not working when creating a project from scratch rather than using website template"
I had created the project from an empty template. My project.json contains the "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-rc1-final" but the taghelpers such as 'asp-action' (from the 'formTagHelper) are not being recognized in the cshtml files.

To cross check I created a sample project using WebApp template and in that the taghelpers are working fine. Tried to google this issue but could really fi

[2016-01-16 23:04] rynowak commented on #3903
I'd start by putting this below wherever your cutline is for RC2. If there's time then we can pull it back. We can definitely ship RTM without doing this and it has no public API impact.

[2016-01-17 00:44] Eilon commented on #3903
That'd be the backlog :smile: We're already in the process of trimming down RC2 items, so unfortunately that means this will have to wait as well.

[2016-01-17 04:39] tuespetre commented on #3888
@gkochanowsky:

This has not changed: you would just write `@Component.Invoke("MyComponent")` as opposed to `@Html.Action("MyAction")`.

Instead of calling `@Html.Partial("Search")` in your view component view, your `Search.cshtml` view should actually _become_ the view component view. Then, everywhere you have been calling `@Html.Partial("Search")`, you would instead call `@Component.Invoke("Sear

[2016-01-17 06:23] gkochanowsky commented on #3888
A code example please that implements SCRUD as demonstrated in the code I made available implemented as you suggest.

[2016-01-17 06:41] tuespetre commented on #3888
I don't mean to be rude, it's just that we've told you exactly what changes need to be made and where. While they are few, it is your code base and I don't think I will find the time to work on it though I cannot speak for anyone else.

A quick, final bit of advice based on the code you posted:

- Your problem is that you still have calls to the Search.cshtml partial.
- Copy/paste the contents of

[2016-01-17 15:48] tuespetre commented on #3944
I suppose it would be pertinent to ask: does it ever make sense to split up opening and closing tags like this? I can't think of a scenario that would truly require such a split, and given how Razor operates in MVC6 for TagHelpers to work, I wouldn't expect this to change.

[2016-01-17 16:05] gkochanowsky commented on #3888
Sorry if I was rude. I only thought that since I supplied code quickly upon request there might be some reciprocation. So I will make the changes as you recommend.

You allude to the ability to get ModelState through DI. Can you point me to exactly how I would do this. And does the app have only one instance of ModelState, or are they created per instance of controller or component view? If they a

[2016-01-17 16:20] gkochanowsky commented on #3944
Normally I would avoid it like the plague. But I'm switching my modal SCRUD from jQuery UI to bootstrap and bootstrap favors HTML over jQuery. So I have the case where I want to create a modal version of a view via ajax and a non-modal version of the same view also via ajax. I usually try the simplest thing first and thus I found myself splitting <div> tags.

I have a workaround where I am no long

[2016-01-17 22:35] davidfowl opened #3946 "Add dependency on System.Runtime.Serialization.Primitives to make up for JSON.NET not including it"
When running MVC without explicitly adding System.Runtime.Serialization.Primitives when running on the .NET CLI you'll get this error:

[code]

It's because of https://github.com/JamesNK/Newtonsoft.Json/issues/618. DNX used to include this assembly so it wasn't needed but now it is. Until we sorta out netstandard and the process for building new style libraries we should add it as a dependency to

[2016-01-18 00:59] Varorbc commented on #3943
@davidfowl I want to version control in web api,so i need overridde controller selector,but i don't know how to do

[2016-01-18 01:07] gkochanowsky commented on #3888
I've tried to apply security to a view component, but it doesn't appear to be working. Is it not yet implemented?

[2016-01-18 01:22] tuespetre commented on #3888
I think you may be able to get ModelState from the ActionContext (try ScopedInstance<ActionContext> from DI or something like that, you can also poke around in the debugger inspector tooltip to browse what's available.)

As for security, what is the scenario you are trying to accomplish and what have you tried that is not working?

[2016-01-18 01:49] gkochanowsky commented on #3888
@tuespetre , I've already retrieved ModelState. You described it as "the 'common interface' thing". I was particularly interested in your comment ("I believe you can get ModelState one way or another through DI"). So I was wondering if you could point me in the right direction on how to do that.

Right now I'm trying to implement Windows Authentication. If I decorate the controller and the view co

[2016-01-18 02:09] Suchiman opened #3947 "Url.Action's definition of protocol is inconsistent with Request's protocol"
I've noticed that some `Url.Action` overloads take a `string protocol` which is supposed to be `"http" or "https"` but `Request.Protocol` is `"HTTP 1.1"` while `Request.Scheme` is `"http" or "https"`, so the overloads should probably renamed to `string scheme` to be consistent.

[2016-01-18 02:52] gkochanowsky commented on #3888
@tuespetre, I've updated the SCRUD project with my attempt to get Windows Authentication using AD groups working. The changes to [project.json](https://github.com/gkochanowsky/SCRUD/blob/master/src/SCRUD/project.json#L11), [Startup](https://github.com/gkochanowsky/SCRUD/blob/master/src/SCRUD/Startup.cs#L36), [View Component Decoration](https://github.com/gkochanowsky/SCRUD/blob/master/src/SCRUD/Vi

[2016-01-18 04:57] davidfowl commented on #3943
I assume this can be done using the new application model in MVC 6 but you'd need to provide a little more detail on how you were doing things before.

/cc @rynowak

[2016-01-18 05:06] rynowak commented on #3943
We have a same here of using action constraints to implement a version policy: https://github.com/aspnet/Mvc/tree/dev/test/WebSites/VersioningWebSite

We really don't recommend replacing the action selector

[2016-01-18 07:54] lszomoru opened #3948 "502.3 - Bad Gateway when returning anonymous object from WebApi"
I have a simple WebApi that uses entity framework to query data from a SQL database. I have noticed that if the WebApi tries to return an anonymous object it would fail with a `502.3 - Bad Gateway` error. Here is the source of the WebApi that I can reproduce the issue:

[code]

After more debugging, it looks like the error is related to `notification.IncidentId.Value`. IncidentId is defined as `in

[2016-01-18 18:34] tuespetre commented on #3888
I see. I don't know that the `AuthorizeAttribute` is truly applied to `ViewComponent`s. If you think about it, the only way to get to a `ViewComponent` is through some controller action anyways, so it is kind of redundant. Now, within a `ViewComponent` one might make use of the request's current identity to shape behaviors or conditionally render controls and so forth.

As for the 403 you are now

[2016-01-18 19:11] tuespetre commented on #3888
Hmmm... looking over the rest of your code, it seems you are applying your authorization policy globally in the `Startup` class as well. So any request will need to be authenticated, which may not be what you intended.

I also recommend checking out this question on StackOverflow: http://stackoverflow.com/questions/28542141/windows-authentication-in-asp-net-5

[2016-01-18 19:32] tuespetre commented on #3948
This is probably better suited for the aspnet/EntityFramework repository. I want to say I ran into the same limitation before as well.

[2016-01-19 01:20] brent-russell commented on #3948
I usually see this error when there is a problem with serializing the data being sent to the client. Things like circular references that would cause an infinite serialization loop. Calling .Value on a nullable object could yield a null reference exception, which might be your problem. (I also don't see a materialization method being called, but I'll assume it just got left out - AsEnumerable/ToAr

[2016-01-19 06:27] dburriss opened #3949 "Can I reference AspNet dependencies from a class library in RC1?"
Starting with a working ASPNET 5 MVC app (created from RC 1 update 1) I am trying to refactor out some OWIN middleware into a class library (package based one from dnx templates).

I need HttpContext and IServiceProvider.

The class is targeting "dotnet5.4" but I have tried with straight "dnx46" as well.
When referencing "Microsoft.Extensions.DependencyInjection.Abstractions": "1.0.0-rc1-final"  a

[2016-01-19 06:31] davidfowl commented on #3949
All of the things you tried should have worked. What's strange is the thing it cannot resolve is `mvcframework` which looks like the name of the project your are in. Can you reproduce this same behavior if you made a new project?

[2016-01-19 06:44] dburriss commented on #3949
Yes that is the name of the project. It basically is a File > New Project I did over the weekend. Almost nothing done on it. I will do another to check. I will also upload the project ot github. I am giving a talk on aspnet tomorrow and was hoping to demo the use of the "dotnet" alias. "netstandard" wouldnt work yet right?
Thanks. Also... not complaining but shouldn't you be asleep?

[2016-01-19 06:47] davidfowl commented on #3949
Not yet.

@dburriss I'm in the UK.

[2016-01-19 07:00] ivaylokenov commented on #3949
@dburriss I was having the same issue but got it working like a charm after upgrading with `dnvm upgrade` in the console and recreating the project - Class Library (Package). My project.json is:

[code]
When I add `Microsoft.Extensions.DependencyInjection.Abstractions` it is resolved successfully.

[2016-01-19 07:06] dburriss commented on #3949
@davidfowl  The new project works. I am going to see if I can get the old project working trying what @ivaylokenov suggested. Would be good to know there is a fix if this happens on a class library that is not trivial to recreate.

[2016-01-19 07:12] dburriss commented on #3949
Soooo... not sure if it was Visual Studio or what but when I re-opened the project it restored.
Thanks for the help. Good to know it works and useful to know "netstandard" not available yet on RC1.
Although to be honest I am not sure if it is tied to aspnet implementing it, nuget not supporting it yet, or the runtime dnx/dotnet. /Waves hands and invokes "dotnetCore".

[2016-01-19 07:40] rynowak commented on #3948
The first thing to do is to add the developer exception page `app.UseDeveloperExceptionPage()` so you can see the exception message and callstack.

[2016-01-19 07:56] davidfowl commented on #3949
All of the above. NuGet though is the main hold up. It's all being implemented for RC2.

[2016-01-19 07:56] davidfowl commented on #3948
Another tip would be to turn on logging (usually the console logger) to the Debug, that'll show you *everything*.

[2016-01-19 09:29] markusvt opened #3950 "Try to addScoped abstract class"
I just came across the following problem:

In the Startup.cs in the configureServices Method I added the following line
`services.AddScoped<GenericRepository>();`

When I tried to start the application locally, the Browser only showed "Please wait" and when trying to debug the whole IIS crashed.
I looked into it an saw, that my GenericRepository was accidentally marked as *abstract*. So I removed

[2016-01-19 10:04] khellang commented on #3949
@dburriss You don't happen to work from a UNC path? I have issues with restore when using Parallels and sharing the code folder... I have to change the project.json and save a couple of times for it to "resolve" the packages. Not sure why :disappointed:

[2016-01-19 12:41] dburriss commented on #3949
@khellang nope I don't. Now that you mention it though I think I may have started this project in VS Code on my Mac but I don't think that has any bearing here. The class library was created on Windows in full VS. The ol' restart VS sorted my issue out though. Lame I know.

[2016-01-19 14:28] tuespetre commented on #3950
You may want to close this issue and re-open it [in the aspnet/DependencyInjection repo.](https://github.com/aspnet/DependencyInjection/issues)

[2016-01-19 14:52] #3950 closed

[2016-01-19 16:06] gkochanowsky commented on #3888
As @tuespetre stated:

So am I correct in assuming that a view component is not on the same level as a controller action? So is there an implicit call to a controller? Other than the placement of the component view, how is that determined? Do I loose action level security by using view components?

[2016-01-19 16:10] gkochanowsky commented on #3888
Thank you @tuespetre for the link to the [StackOverflow](http://stackoverflow.com/questions/28542141/windows-authentication-in-asp-net-5) post. Are future versions of NET5 going to make that less painful?

[2016-01-19 16:30] tuespetre commented on #3888
@gkochanowsky:

Looking again at [the table I posted earlier](https://github.com/aspnet/Mvc/issues/3888#issuecomment-172291499), I will answer your questions like so:

1. Correct, a view component is not the same as a controller action. A view component receives the benefits of dependency injection and can run some developer-defined code and logic before returning what is essentially a partial vie

[2016-01-19 17:23] pranavkm commented on #3946
I'll address this as part of https://github.com/aspnet/Mvc/issues/3908 (although I haven't run this as yet).

[2016-01-19 17:25] davidfowl commented on #3946
@pranavkm Try running HelloMvc (https://github.com/davidfowl/dotnetcli-aspnet5/tree/master/HelloMvc) after removing that package from `project.json`

[2016-01-19 17:34] #3943 closed

[2016-01-19 17:37] Krishjs opened #3951 "TagBuilder.CreateSanitizedId Why sanitized tag ID returns null when it does not begin with a letter ?"
TagBuilder.CreateSanitizedId Why sanitized tag ID returns null when it does not begin with a letter ?

[2016-01-19 18:02] brent-russell commented on #3948
It's worth noting that when the error happens after returning an object from an action method, during what I assume is the serialization process, UseDeveloperExceptionPage doesn't trap/handle the error. I don't know what the pipeline looks like in this case, but it seems like serialization happens outside the scope of the exception handling. (my experience with rc1-update1).

[2016-01-19 18:08] #3692 closed

[2016-01-19 18:08] Eilon commented on #3947
This would be a tiny breaking change for anyone who used named parameters before (which probably isn't too unusual for methods that have so many parameters).

However, I like having good names and the break is quite small.

Putting this in RC2 to see if we have time to fix it.

[2016-01-19 18:10] pranavkm commented on #3550
Merged in cf9221df073467f0e6bae910f65a6957cd29523e

[2016-01-19 18:10] #3550 closed

[2016-01-19 18:14] ryanbrandenburg commented on #3692
So @YEVHENO the end decision here ended up being that it was a bug that the content type was getting left as text/plain, but it is intended behavior that the string formatter takes the string before your xml formatter can get it. To get your desired behavior remove or re-arrange the StringOutputFormatter.

[2016-01-19 18:19] NTaylorMullen commented on #3944
I'm allowed to do `@: <div>` and `@: </div>` inside of an if block. VS complains with a green squiggly but no error occurs otherwise.

[2016-01-19 18:20] NTaylorMullen commented on #3945
@arundh93 in order to have `TagHelper` IntelliSense you must also add the `Microsoft.AspNet.Tooling.Razor` package.

[2016-01-19 18:59] dougbu commented on #3951
`TagBuilder.CreateSantizedId()` should never return `null`. Please provide a repro project, preferably a GitHub repo.

[2016-01-19 19:33] javiercn opened #3952 "ViewComponentDescriptor.Type should be a TypeInfo instance instead of a Type instance"
ViewComponentDescriptor.Type is of type System.Type while ControllerActionDescriptor.ControllerTypeInfo is of type TypeInfo.

We should change ViewComponentDescriptor.Type to ViewComponentDescriptor.TypeInfo and change the type of the property to be TypeInfo.

In general, TypeInfo represents the information of a type, while Type respresents a type at runtime. We should use TypeInfo through the sta

[2016-01-19 20:12] dougbu commented on #3921
`GetCustomAttribute<T>()` is responsible for a fair number of different allocations. Hard to see the total using these tools. But those calls cost more than 1% of the top two allocated types.

See `object[]`:
![object](https://cloud.githubusercontent.com/assets/6431421/12430575/2b6d130e-bea5-11e5-8058-23433c583e25.png)

And `string`:
![string](https://cloud.githubusercontent.com/assets/6431421/124

[2016-01-19 20:19] dougbu commented on #3921
Hmm, since `string` allocations are part of this, we could consider this issue as a detail of #3918.

[2016-01-19 20:27] ryanbrandenburg commented on #3856
Hey @bluemmc could you try this again and post a link to a repro project if it still happens? I tried to reproduce this from what you said here and it's either already been fixed or I'm missing an important part of the repro, because I get the standard developer exception page.

[2016-01-19 21:14] Eilon commented on #3856
@Tratcher any idea what could cause this error with HttpPlatformHandler? I think I've seen a few mentions of the gateway error here and there and wondering if there's a more general problem or error case that needs to be handled.

[2016-01-19 21:18] Eilon commented on #3918
@dougbu @rynowak moving to backlog as we're a bit overbooked. This doesn't seem to involve API changes so we can pick this up another time.

[2016-01-19 21:18] Eilon commented on #3921
@dougbu @rynowak moving to backlog as we're a bit overbooked. This doesn't seem to involve API changes so we can pick this up another time.

[2016-01-19 21:31] Tratcher commented on #3856
Is the error occurring part way through a response body? The developer exception page can only handle exceptions thrown before the response body starts.

[2016-01-19 21:34] Eilon commented on #3952
I doubt we need null checks for this. Please time box the work so we don't spend a lot of time on it.

[2016-01-19 21:38] Eilon commented on #3856
@Tratcher what can cause the bad gateway error?

[2016-01-19 21:41] Tratcher commented on #3856
Any communication failure with the back-end process. I'd be curious to see the repro.

[2016-01-19 21:42] Eilon commented on #3856
@Tratcher ok let's give it a couple days to see if we get a repro.

[2016-01-19 22:14] afnpires commented on #2015
[jQuery ajax unobtrusive](https://github.com/aspnet/jquery-ajax-unobtrusive) is open source and can be bower pulled.

As @branciat mentioned the data attributes for the call can be used.

[code]

[2016-01-19 22:25] dougbu opened #3953 "`SelectListItem` manipulation is quite expensive"
`SelectListItem`, `List<SelectListItem>` and related allocations quickly overwhelm any scenario using `Html.ListBox()`, `<select asp-for="...">` or similar helpers with a non-empty `IEnumerable<SelectListItem>` argument or `asp-items` attribute value. For example `SelectListItem`s rise to be the fourth-most allocated type in a scenario involving ten `Html.ListBoxFor()` calls per request despite 50

[2016-01-19 22:25] dougbu commented on #3953
@Eilon another one for the backlog?

[2016-01-19 22:26] dougbu commented on #3953
Overall:
![overall](https://cloud.githubusercontent.com/assets/6431421/12433909/83336896-beb8-11e5-9f90-a44b82226e4a.png)

Directly `SelectListItem`-related:
![selectlistitem](https://cloud.githubusercontent.com/assets/6431421/12433912/859c854a-beb8-11e5-8153-4aff33edf548.png)

[2016-01-19 22:28] dougbu commented on #3953
Should have mentioned: The directly `SelectListItem`-related allocations are worth more than 12% of the memory used in this scenario.

[2016-01-19 23:08] ryanbrandenburg commented on #3893
Do you happen to have the test runs that failed somewhere?

[2016-01-20 05:51] dburriss commented on #3949
@davidfowl Tell me if I am totally off here but based on the net standard doc and my current understanding wouldn't it be more correct if *project.json* section

"frameworks": {
    "net451": { },
    "dotnet5.4": { }
  }

was instead named

"platforms": {
    "net451": { },
    "dotnet5.4": { }
  }

[2016-01-20 05:53] davidfowl commented on #3949
Sure, we we're not renaming it at this point. It's a target framework.

[2016-01-20 06:03] dburriss commented on #3949
Understood.

[2016-01-20 06:03] #3949 closed

[2016-01-20 07:45] dannyvv commented on #3199
:+1: running into this as well.
My case is the email scenario as well: On a form submit controller I want to construct html to send using a razor template. Use an email service to push that one and then show the user a confirmation view in the browser.
There are lots of blogpost out there that do it in older MVC's, but it seems all rely on ControllerContext being available. That was defined on Bas

[2016-01-20 08:10] Kabanets opened #3957 "Mvc6ControllerWithContextScaffolder encoding templates for views"
This wizard creates views in ANSI encoding. I think encoding must be UTF-8. Am I wrong?

[2016-01-20 10:23] wolfgangschneider opened #3958 "How to remove X-Frame-Options: SAMEORIGIN from response header"
How to remove X-Frame-Options: SAMEORIGIN from response header

When I'm using ASP.Net 5 RC1 and MVC 6 there is always a X-Frame-Options: SAMEORIGIN in the response header . Unfortunately I have to embed this page in SharePoint. How to remove X-Frame-Options: SAMEORIGIN?

thx

Wolfgang

http://forums.asp.net/t/2082693.aspx?remove+X+Frame+Options+SAMEORIGIN+from+response+header

[2016-01-20 11:51] khellang commented on #3958
Are you, by any chance, calling `SetAntiforgeryCookieAndHeader` anywhere in your views?

[2016-01-20 11:53] OlegKi opened #3959 "Improvement of error reporting from Microsoft.AspNet.Mvc.Formatters.Xml is required"
Many internal errors will be not reported by the current code of Microsoft.AspNet.Mvc.Formatters.Xml.

Two small variation of one simple test examples. Let us we define `GetXml` action which returns `IEnumerable<dynamic>`
[code]
The `IEnumerable<dynamic>` can be successfully returned by JSON serializer, but in case of usage `.AddXmlSerializerFormatters()` we get error message like

Only if one ena

[2016-01-20 11:53] khellang commented on #3958
There's also a `SuppressXFrameOptionsHeader` property on the `AntiforgeryOptions` that you can set to `true`.

[2016-01-20 11:55] davidfowl commented on #3959
Funnily enough the correct information shows if you turn on the logging system.

[2016-01-20 12:49] wolfgangschneider commented on #3958
Thanks
Additional info :
https://github.com/aspnet/Mvc/issues/3155 and https://github.com/aspnet/Announcements/issues/34

[2016-01-20 12:49] #3958 closed

[2016-01-20 14:29] pranavkm commented on #3957
This issue probably belongs in [Scaffolding](https://github.com/aspnet/Scaffolding) - https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.Extensions.CodeGenerators.Mvc/Templates/ControllerGenerator/MvcControllerWithContext.cshtml

[2016-01-20 16:20] rynowak commented on #3958
Thanks @khellang  :+1:

[2016-01-20 16:24] rynowak commented on #3856
I would expect this is the case since it's a JsonConverter that's throwing at runtime.

[2016-01-20 16:26] rynowak commented on #3952
Agreed, we should be using `TypeInfo` here and other places. Please look at `ParameterDescriptor` as well and make sure it's consistent.

This seems excessive :laughing:

[2016-01-20 16:31] rynowak commented on #3918
No complaint from me. Seems like this is something we could do at any time.

[2016-01-20 17:01] dougbu commented on #3918
:ok: by me :two:

[2016-01-20 17:02] rynowak commented on #3953
To add to this, the benchmark is creating and caching the items up-front, it's already the most optimized usage a user can get with this helper.

[2016-01-20 18:15] dazinator opened #3960 "IApplicationShutdown replaced, but now no restart() ability"
There used to be an `IApplicationShutdown` that you could inject into a controller, and then call `RequestShutdown` and this would restart your application.

According to this so: http://stackoverflow.com/questions/34238735/restart-asp-net-mvc-6-application this has now been replaced by `IApplicationLifetime` - however there is no equivalent restart functionality - it just shuts down the applicati

[2016-01-20 18:17] davidfowl commented on #3960
Not sure what you mean. There was *never* restart functionality. When you were running in visual studio, it would restart the process when running in IIS. That's still the case with the platform handler. There was never a story for running in a console app on the command line.

[2016-01-20 18:41] dazinator commented on #3960
@davidfowl - this is just for restarting a web application hosted in IIS by the platform handler, not expecting it to restart a console application :-) although that would be impressive.
Ok - so it sounds like it still all works as before then - my apologies! I read the stack overflow post and thought things had changed.

[2016-01-20 18:41] #3960 closed

[2016-01-20 18:59] Kabanets commented on #3957
Thanks, you are right. I was wrong.

[2016-01-20 18:59] #3957 closed

[2016-01-20 19:24] rynowak opened #3961 "Consider InputFormatter behavior when we can't read the charset"
An input formatter might be confused by a content type that is supported, with a `charset` parameter that isn't supported (via `SupportedEncodings`).

Today this results in the formatter returning `true` from `CanRead` and then adding a modelstate error when it's called to read the body.

We should just make this check part of `CanRead`, then it would go down the normal 'unsupported content type'

[2016-01-20 19:24] rynowak commented on #3961
See lots of discussion here: https://github.com/aspnet/Mvc/pull/3955#issuecomment-173310276

[2016-01-20 19:34] dougbu commented on #3961
@rynowak thx for filing this.

Hoping we get rid of the last framework-provided error message that users can't override as part of the fix.

[2016-01-20 19:37] rynowak commented on #3961
There will still be a message. You won't see it in the default configuration because the filter would prevent your method from being called. Is this enough?

[2016-01-20 19:41] tuespetre commented on #3746
@rynowak resolved this with https://github.com/aspnet/Mvc/commit/328f4d648b8d921d2e9e9e3849d8afa88d56694b in response to #3770

[2016-01-20 19:41] #3746 closed

[2016-01-20 19:54] dougbu commented on #3961
If by "your filter" you mean the `CanRead()` checks, seems fine. Even better if we add an `Exception` with current message to the `ModelStateDictionary` instead e.g. use new `UnsupportedContentTypeException` from #3955. Then wouldn't have anything additional to override.

[2016-01-20 19:55] tuespetre commented on #3953
I noticed major improvements somewhere between beta7 and rc1 in a page I have with a very large amount of `<select>` elements. I would be interested in trying this out; can you point me in the right direction as far as running the performance tests and getting their results, or is this something that stays internal?

[2016-01-20 20:04] rynowak commented on #3961
Yes. we would use the same mechanism. It would just go through the code path in @javiercn 's existing PR.

No I mean that if you remove the filter added in @javiercn 's PR. you would once again see these errors as model state errors instead of a 415.

[2016-01-20 20:07] dougbu commented on #3961
Works for me.

[2016-01-20 20:13] dougbu commented on #3953
@tuespetre that's a large window :smiley_cat: I suspect past improvements came from a few broad performance improvements in the Razor and MVC infrastructure. We haven't focused specifically on the `SelectTagHelper` or anything unique to it.

We have a public `Performance` [repo](https://github.com/aspnet/Performance) but that's more about the future. Generally we
- Come up with scenarios based on

[2016-01-20 20:14] rynowak commented on #3953
@tuespetre - we've done a bunch perf work on Razor since then :+1: We're continuing to push onwards with scenarios for larger pages.

*Apologies as this was my own little secret repo for benchmarking things, and it's grown organically as more people have needed to look into perf. We're planning to have a more 'official' set of scenarios take over at some future point.*

The scenario we're iteratin

[2016-01-20 20:16] dougbu commented on #3953
Nice @rynowak the intersection between our responses is minimal but we didn't conflict :smile:

[2016-01-20 21:09] Eilon commented on #3952
Oh wait a sec I could have swore yesterday that we agreed that `Type` was the right thing to use and `TypeInfo` is just an artifact of history. I guess I don't care much either way but this doesn't sound like what we discussed.

[2016-01-20 22:27] Eilon commented on #3953
Yup, Backlog.

[2016-01-21 06:33] dougbu commented on #3215
04453a2

[2016-01-21 06:33] #3215 closed

[2016-01-21 08:28] markusvt opened #3964 "textarea with asp-for not filled"
I inserted a Textarea and bound it to my model like this:
`<textarea rows="3" class="form-control" asp-for="@Model.Description"></textarea>`

When I fill the Textarea and save it, the entered data is correctly saved in my Database. But if I open the Form afterwards, the textarea is not filled at all (all other input elements have the correct values)

I played around a bit and found out that
`<text

[2016-01-21 12:39] ctyar commented on #3947
So basically in all extension methods of `UrlHelperExtensions`, `protocol` should be renamed to `scheme` and all the related tests, right?

[2016-01-21 13:25] ctyar commented on #3947
It seems `UrlRouteContext` and `UrlActionContext` both have the same `Protocol` property
and there are things like this in `UrlHelper`:
[code]
We should rename these too?

[2016-01-21 17:08] dougbu commented on #3964
Your workaround definitely should not be required. What is the type of `Model.Description`? Is the element's content correctly populated if you switch to
[code]

Since we haven't seen this, I'd appreciate a chance to look at your repro project. Could you upload something to a GitHub repo?

[2016-01-21 17:48] Eilon commented on #3947
@ctyar ah yes this seems to go a bit further than I had expected. I'm thinking maybe we shouldn't do this at the time. The value isn't that great, even though consistency is always nice.

Closing this as it's an unnecessary breaking change.

[2016-01-21 17:48] #3947 closed

[2016-01-21 19:14] ajaybhargavb commented on #3091
Added a sample https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString

[2016-01-21 19:30] #3868 closed

[2016-01-21 20:06] ctyar commented on #3947
I was hopping for an easy up-for-grabds, seems I have to wait :smile:

[2016-01-21 22:16] Eilon commented on #3947
@ctyar yeah sorry about that :smile:

[2016-01-22 00:01] joshmouch opened #3967 "502 Bad Gateway - can we get a stack trace / exception?"
Sometimes when I write bad code, DNX/MVC/ASP.NET 5 will stop responding correctly (either with the expected page or else with the DeveloperException page), and instead, give me a 502 Bad Gateway.  Up until now, I think this has always been when there is a StackOverflowException (i.e. an infinite loop somewhere).

However, I just added some code that I'm pretty sure isn't causing an infinite loop,

[2016-01-22 02:01] dougbu commented on #2969
@rynowak fixing this will look a lot different once your #3962 PR is in. So I'm taking it out of Working and waiting.

[2016-01-22 06:50] bluemmc commented on #3856
[Issue253.zip](https://github.com/aspnet/Mvc/files/100392/Issue253.zip)

This project reproduces the error. Run it and hit "api/values" and you will get "HTTP Error 502.3 - Bad Gateway" instead of the configured developer page.

[2016-01-22 15:38] markusvt commented on #3964
The following is a part of my Model:

[code]

I know there is an empty initial value for the Description, but the model was correctly loaded from the database.

[2016-01-22 16:26] Kukkimonsuta opened #3969 "[Performance] Model binding/validation time grows exponentially on large models"
When trying to bind a large model with an array the performance goes exponentially down:

![screenshot 2016-01-22 17 18 47](https://cloud.githubusercontent.com/assets/737093/12516154/3f33f842-c12c-11e5-985f-5d35738f4b84.png)

From what I've been able to gather it's due to `ModelState` getting filled with too many keys making prefiexed lookup very slow ( https://github.com/aspnet/Mvc/blob/master/sr

[2016-01-22 18:29] esargent opened #3970 "ViewComponent param is null when passed to InvokeAsync()"
This is my first ViewComponent. Seems straightforward enough after reading Dave Paquette and the example on the aspnet docs site, but the parameter is always getting passed in as null, even though it isn't null from the call in the view.

In the view:

    <span>@Component.InvokeAsync("RoleName", roleId).Result</span>  *{roleId = '03bfa663-d484-404c-b9ed-cc16abc7af86' }*

the ViewComponent:

[2016-01-22 18:41] ajaybhargavb commented on #453
Crossed out some items from previous comment. Following are the remaining items.
- `@Html.Raw()`
- Indexers and deeply nested lambdas for the various `*For` e.g `InputFor`, `DisplayFor` etc
- Scenarios gap compared to 5.2
- a few other methods are exposed publicly but used in other helpers (and therefore tested indirectly, or will be). Need to write a few tests to cover usage that isn't already ha

[2016-01-22 19:09] dougbu commented on #453
- ~~mock an `IHtmlHelper` and confirm how extension methods call that~~

Agreed.

[2016-01-22 19:12] dougbu commented on #453
Nothing I can think of at the moment. Going the other way, I crossed out a few more bullets in earlier comments.

[2016-01-22 19:40] divega opened #3971 "RequireAttribute ignored"
_From @ducalai on November 25, 2015 10:35_

I have a class with an integer property decorated with [Required] attribute. When I use it within an ASP.NET 5 application MVC controller as a parameter in a Post method accepting json, RequiredAttribute seemed to be ignored when property is not contained in JSON. Model deserialized in controller method contains UserId with default property value 0 for a

[2016-01-22 19:43] dougbu commented on #3964
@markusvt what you're describing is quite odd because `[DataType(DataType.MultilineText)]` should only impact the `@Html.Editor[For[Model]](...)` HTML helpers. Further, only the `@Html.Display[For[Model]](...)` and `@Html.Editor[For[Model]](...)` HTML helpers and the `<input>` tag helper do anything related to `DataTypeAttribute`.

Could you please post your `.cshtml` file (the portion that deals

[2016-01-22 20:32] ArieJones commented on #3970
Is the roleId provided by the Model or the ViewBag or is it some type of javascript object?

[2016-01-22 20:36] ajaybhargavb opened #3972 "Add caching for Validators"

[2016-01-22 20:55] esargent commented on #3970
@ArieJones It is calculated with Razor script from the Model.

The Model is `@model IEnumerable<Revelar.Models.ApplicationUser>`, which is the EF7 ApplicationUser. When debugging I can see that this is getting populated and the roleID is being determined correctly in the View when it makes the call to Component.InvokeAsync.

Here are the details:

     @foreach (var item in Model)
    {
        <t

[2016-01-22 21:40] ArieJones commented on #3970
It doesn't look like you have done anything wrong here. I tried this out and on a local project and it worked without issue.

I am on RC-1 Update 1 ... so it could just be a version issue that has been addressed ...

[2016-01-22 21:56] dougbu commented on #3971
An `int` can't be `null` so the attribute will be ignored by both Json.NET and MVC. You may wish to change your model to include `public int UserId { get; set; } = -1;` and add a validator for the containing class.

If you weren't using `[FromBody]`, MVC's `[BindRequired]` attribute would give you the behaviour you want.

[2016-01-22 21:57] rynowak commented on #3971
And you can also use `[DataMember(IsRequired = true)]` to have the serializer enforce this behavior.

[2016-01-22 22:30] esargent commented on #3970
I'm using rc2-16770. Can you repo with that?

One of the things I noticed was a big refactor that eliminated the ability to call Invoke(), and now only allows InvokeAsync()  that could have impacted this, although it looks like the test coverage should have found something like this so I'm not sure that's it. And I didn't have any ViewComponents before I moved to RC2 so I don't have a baseline.

[2016-01-22 22:40] rynowak commented on #3970
We made some changes here that it looks like we forgot to announce, mostly around streamlining how VCs are invoked, and removing cases that seem like they should work, but don't.

Expect an official announcement post **soon**. /cc @pranavkm

We removed `@Component.Invoke()` - view components almost always do async work, or render another view (which is async). We removed the sync invoke to streaml

[2016-01-22 23:19] pranavkm opened #3973 "[Discussion]: ViewComponent invocation changes"
As part of https://github.com/aspnet/Mvc/issues/612, we simplified the behavior around selecting, and invoking ViewComponents.
- To reduce ambiguity in ViewComponent method selection, we've modified the selection to only allow exactly one `Invoke` or `InvokeAsync` per `ViewComponent`.
- `Component.Render`, `Component.RenderAsync` and `Component.Invoke` have been removed.
- The signature of `Compon

[2016-01-22 23:23] pranavkm commented on #3970
My bad, I forgot to create an announcement thread as part of my change. Here's the [announcement](https://github.com/aspnet/Announcements/issues/145) and https://github.com/aspnet/Mvc/issues/3973 has discussions for the change.

[2016-01-22 23:33] esargent commented on #3970
@rynowak @pranavkm That fixed it. Thank you. And I think the change is good overall - it made sense immediately when I saw it, at least the async part.

It might be helpful to update the documentation from
      /// <param name="arguments">Arguments to be passed to the invoked view component method.</param>

Although that comes from the Interface, so maybe the concrete DefaultViewComponentHelper c

[2016-01-22 23:47] Eilon commented on #3203
Moving this to backlog for the rest of the work.

[2016-01-22 23:47] Eilon commented on #3210
Moving to backlog.

[2016-01-22 23:50] Eilon commented on #3210
Closing instead because we're not clear on the scenario.

[2016-01-22 23:50] #3210 closed

[2016-01-22 23:54] pranavkm opened #3974 "Update the documentation for IViewComponentHelper.InvokeAsync to be more precise about what the behavior of `argument` values is."
From: https://github.com/aspnet/Mvc/issues/3970#issuecomment-174086656:

It might be helpful to update the documentation from

We should additional docs that specify that we allow anonymous types or dictionaries where the keys and values map to the argument names and values in the `Invoke` \ `InvokeAsync` method on the ViewComponent.

[2016-01-22 23:54] pranavkm commented on #3970
@esargent  Filed https://github.com/aspnet/Mvc/issues/3974 to track the doc improvement.

[2016-01-22 23:56] Eilon commented on #3774
@rynowak ping

[2016-01-22 23:56] Eilon commented on #3852
Moving to backlog. Not clear that there are any actual bugs at this time.

[2016-01-22 23:57] Eilon commented on #3616
Moving to backlog.

[2016-01-22 23:58] Eilon commented on #3833
@javiercn can you try to repro this?

[2016-01-23 00:01] Eilon commented on #3360
Moving to backlog.

[2016-01-23 00:09] rynowak commented on #3774
Yep. This is definitely related to #3743

[2016-01-23 00:17] Eilon commented on #3264
Moving to backlog.

[2016-01-23 00:51] Jeffiy commented on #3973
@pranavkm `@Component.InvokeAsync("Test", new Dictionary<string, object { ["name"] = "MyName", ["age"] = 15 })` should be `@Component.InvokeAsync("Test", new Dictionary<string, object> { ["name"] = "MyName", ["age"] = 15 })`, missing '>' ?

[2016-01-23 01:01] pranavkm commented on #3973
Yup, thanks for catching that.

[2016-01-23 01:20] Eilon commented on #3967
Not quite an MVC bug. @Tratcher should this bug go to https://github.com/aspnet/Hosting/, https://github.com/aspnet/IISIntegration/, or perhaps somewhere else?

[2016-01-23 01:22] Eilon commented on #3959
@rynowak thoughts?

[2016-01-23 01:23] Eilon commented on #3951
@dougbu can you try to repro this and possibly add a test? I don't see any tests for exactly this scenario.

[2016-01-23 01:36] rynowak commented on #3959
We handle the exception in `CanWriteResult` because the XML formatters (both DCS and XmlSerializer) are very limited in what they can process, much more so than JSON.Net.  The XML formatters opt-out of serializing types that they can't serialize.

The fact that there's an exception thrown is an unfortunate detail, there's no way to know what types are supported by the serializers without trying to

[2016-01-23 01:50] Tratcher commented on #3967
IISIntegration, at least until there are more details available.

[2016-01-23 03:13] CN-jaycee opened #3976 "Error of strong type parameter for custom taghelper"
[code]

An error occurred during the compilation of a resource required to process this request. Please review the following specific error details and modify your source code appropriately.

[code]

[2016-01-23 06:36] Daniel15 commented on #3973
Why do we need this syntax:
[code]

If we have this strongly-typed one:
[code]

The "stringly-typed" version seems worse in that typos aren't caught until runtime. Why not just always use the strongly-typed one?

[2016-01-23 07:02] tuespetre opened #3977 "Support flagged enums for various scenarios"
There are several times I would have like to have this functionality; sometimes when you have a user-facing system that involves lots of 'flag-setting', flagged enums can be much easier to manage than an explosion of boolean fields.

I have noticed that GetEnumSelectList throws an exception for flagged enums, and that model binding does not seem to properly account for flagged enums, nor do checkb

[2016-01-23 07:29] dougbu commented on #3977
The general concern is that `[Flags]` `enum`s have wildly-varying semantics that cannot consistently be turned into a `IEnumerable<SelectListItem>`. Just for example, how should mask values (those w/ more than one bit set) in the `enum` be handled -- ignored, used to group the constituent bits, ...?

The system should work fine if you pass your own select list into the helpers. Please let us know

[2016-01-23 07:34] dougbu commented on #3977
Hit "Comment" and then remembered my "should work fine" is probably not correct. A `<select mutliple="multiple">` element for a `[Flags]` `enum` won't be bound correctly if the user selects more than one value. A set of checkboxes that an action or other user code or's together would work better.

[2016-01-23 10:05] newsash opened #3978 "ModelExpression equivalent of m => m?"
How to use label tag helper in the following scenario in a display template? `asp-for="@Model"` leads to invalid label text ("Model").
[code]

[2016-01-23 10:23] davidfowl commented on #3973
Because view component names could be coming from anywhere (a database, url scheme  etc) and you always need a loosely typed and strongly typed version. Think of dynamic systems like cms using something like this.

[2016-01-23 14:15] OlegKi commented on #3959
@rynowak The XML formatter is very important for **migration** of old WebApi solutions to ASP.NET 5 (ASP.Core). Thus we should not discuss that one can don't use XML serialization today. The examples which I provide generates *good enough* message about the reason of serialization. The problem only is that the exception will be blocked in some cases and will be displayed in Debug output and not in

[2016-01-23 17:25] tuespetre commented on #3977
I'm sorry, it was 1:30AM here when I typed that; it could have been written better. I will get back to you later today and make a better write-up.

[2016-01-23 19:31] OlegKi commented on #3959
@rynowak I debugged processing of test case which generate the error `HTTP 406 error`. [The part of your code](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/ObjectResultExecutor.cs#L133-L136) do this. Before that the `CanWriteType` returns `false` and so `CanWriteResult` returns `false` too. Then `SelectFormatterUsingAnyAcceptableContentType` returns `null` whic

[2016-01-24 01:42] Kukkimonsuta commented on #3969
I've tried to fix the problem and somewhat succeeded without affecting functionality with indexing/caching the prefixed arrays:

https://github.com/Kukkimonsuta/Mvc/commit/59969dedcc4301c5e91419b31d1681ab692c44a9

I'm pretty sure it's not very effective memory-wise, but it affects only requests where the model state gets over 1000 entries.

![screenshot 2016-01-24 02 25 58](https://cloud.githubuse

[2016-01-24 01:46] davidfowl commented on #3969
Might be better to change the model state dictionary into a prefix tree.

/cc @rynowak

[2016-01-24 02:45] Kukkimonsuta commented on #3969
With some more testing I've found that this only works when all values of the model are bound, otherwise it's falling back to the slow `PrefixedEnumerator`. This means once index is available, it needs to contain all possible prefixes:

https://github.com/Kukkimonsuta/Mvc/commit/f22a65817b2db1f2ef34293902a8d0ab892dc33c

@davidfowl That was my original thought too, however I was worried it could ne

[2016-01-24 04:24] tuespetre commented on #3977
Alright, so there are three areas of behavior surrounding `[Flags]` `enum`s that could change:

1. Binding values to the model
    - Currently, if multiple values come in for a `[Flags]` `enum`, only the first value will be applied. I believe that the default binding behavior should instead be to 'or' the values together.
2. Generating an `IEnumerable<SelectListItem>` for a `[Flags]` `enum`
    -

[2016-01-24 05:04] NTaylorMullen commented on #3978
`<label asp-for="@Model" class="control-label col-md-2"></label>`

[2016-01-24 10:27] newsash commented on #3978
In a display template (e.g. `@Html.DisplayFor(m => m.UserName`):
* `<label asp-for="@Model"></label>` results in <code>&lt;label for="UserName"&gt;**Model**&lt;/label&gt;</code>
* `@Html.LabelFor(m => m)` results in <code>&lt;label for="UserName"&gt;**UserName**&lt;/label&gt;</code>

[2016-01-24 20:29] davidfowl opened #3979 "AuthorizationContext conflicts with type in Microsoft.AspNet.Authorization"
We really shouldn't be conflicting with our own system. Can we rename the AuthorizationContext in MVC to FilterAuthorizationContext or something?

/cc @rynowak @Eilon @danroth27

[2016-01-24 20:42] dougbu commented on #3978
I'm able to reproduce this as well. Haven't debugged what is going South but it does look strange, especially given the `for` attribute has the correct value.

[2016-01-24 20:58] davidfowl commented on #3979
Scratch that, we have to rename it https://github.com/aspnet/Security/issues/670#issuecomment-174341114

[2016-01-24 21:15] dougbu commented on #3977
/cc @Eilon @danroth27 for triage. Note this is really a request for at least three features: `[Flags]` handling in model binding, `[Flags]` handling in `IHtmlHelper.GetEnumSelectList ()`, and `[Flags]` handling in `DefaultHtmlGenerator.GetCurrentValues()` / `DefaultHtmlGenerator.UpdateSelectListItemsWithDefaultValue()`. Other than not `throw`ing, none of these extensions should require changes to

[2016-01-24 21:50] davidfowl commented on #3979
I wonder if we should have an `MvcAuthorizationHandler<TRequirement>`:

[code]

/cc @blowdart

[2016-01-24 21:53] blowdart commented on #3979
Why would mvc a handler all of its own? We worked hard not to link it to mvc.

It's not so much a clash as an actual design decision. It won't be that often you need the mvc specifics. Auth on route info or request properties is odd.

[2016-01-24 21:56] davidfowl commented on #3979
By default the resource that MVC passes to the AuthHandler its own AuthorizationContext (which is actually quite handy, see the issue linked). This would just be a shortcut for that.

[2016-01-24 21:57] blowdart commented on #3979
(So basically no. We should not start having handlers for each framework. The context rename I don't care about though)

[2016-01-24 21:59] davidfowl commented on #3979
@blowdart Sure we don't have to have a type, the user can just declare the MVC specific resource. No biggie.

[2016-01-24 22:46] dougbu commented on #3978
FYI problem relates to how the `ModelMetadata` for the property is found. In the `@Html.LabelFor(m => m)` case, `PropertyName` is `"UserName"`. But in the `<label asp-for="@Model"></label>` case, `PropertyName` is `"Model"`. Looking a bit deeper...

[2016-01-24 23:03] sporty81 commented on #3826
@mikes-gh I can't find a GetRouteValue method anywhere?

[2016-01-24 23:14] dougbu commented on #3978
:ok: the issue here is that `ExpressionMetadataProvider.FromLambdaExpression()` correctly handles `m => m` and other identity expressions (`ExpressionType.Parameter`) but does not understand that `m => {generated class}.Model` needs special handling. That is, `@Html.LabelFor(m => Model)` hits exactly the same naming issue.

Unfortunately tag helpers do not support lambda identity expressions and _

[2016-01-24 23:14] dougbu commented on #3978
And, no, I don't know of an RC1 workaround other than to use HTML helpers for this case.

[2016-01-24 23:41] mikes-gh commented on #3826
That's working code can you post yours?
I am using rc2 asp next pancakes btw

[2016-01-25 00:01] davidfowl opened #3980 "AuthorizeFilter should allow passing a string policyName"
Seems like I can only pass concrete policies to the `AuthorizeFilter` in MVC. If I wanted to add a global filter with a specific policy that I had configured in my auth system I can't reuse it without resolving the `AuthenticationOptions.PolicyMap` and digging it out myself. Seems like this should be easier.

[2016-01-25 00:37] davidfowl opened #3981 "Simplify functional testing with MVC"
Customers that try to test MVC always run into the fact that they need to override the `IApplicationEnvironment`.

See https://github.com/mattridgway/MvcIntegrationTests#failing-tests

Our MvcFixture solves this nicely (it can even be reduced further). We should expose some type of helper to make this easier.

https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.FunctionalTests/Mvc

[2016-01-25 01:28] brockallen commented on #3980
Dup of: https://github.com/aspnet/Mvc/issues/3708

[2016-01-25 01:48] tuespetre commented on #3977
@dougbu a checkbox could function similar to a select option when working with flagged enums, I guess you could say I'm requesting four features in total.

I'm already preparing a pull request since I know your team is very busy, and I know this may not make it into RTM if at all. I've got the model binding, the generation of select list items, and the binding of values to select options completed

[2016-01-25 02:44] Eilon commented on #3961
Moving to backlog, please let me know if you feel otherwise.

[2016-01-25 02:46] Eilon commented on #3967
Moved to https://github.com/aspnet/IISIntegration/issues/76

[2016-01-25 02:46] #3967 closed

[2016-01-25 03:29] rynowak commented on #3961
otherwise (if at all possible) :trollface:

This is a pretty small follow up to some work we've already done.

[2016-01-25 03:40] rynowak commented on #3973
Generics and Razor **hate** each other.

[2016-01-25 04:20] Daniel15 commented on #3973
Ah, good point. Having said that, it seems like the strongly-typed version should be the preferred syntax, right?

How so?

[2016-01-25 05:27] #3945 closed

[2016-01-25 05:31] Eilon commented on #3980
Backlog

[2016-01-25 05:32] Eilon commented on #3981
Backlog

[2016-01-25 05:37] #3970 closed

[2016-01-25 06:04] #3971 closed

[2016-01-25 06:27] dougbu commented on #3951
@Eilon I created a few tests and submitted #3982.

@Krishjs these tests run fine with current RC2 bits i.e. I haven't reproduced your issue. What specific strings have you seen cause `TagBuilder.CreateSanitizedId()` to return `null`?

Though I don't think we've changed this code in a long while, what DNX version and `Microsoft.AspNet[Core].Mvc` package version are you using?

[2016-01-25 10:07] senritsu opened #3983 "Action with (missing) optional Dictionary param, ModelBinder maps all request params to Dict"
**tldr**
If an optional dictionary parameter is missing in the request, the ModelBinder tries to cram all other parameters into the dictionary. If the parameter is supplied in the request, even as empty or null value, everything works.

**Details**

Given an action like
[code]
any request with a payload of the form
[code]
results in a `System.FormatException`, as the ModelBinder tries to use `foo`

[2016-01-25 10:25] andrew-vandenbrink opened #3984 "It should be possible to add new controller during runtime without restart"
With roslyn it should be possible to call an api to load new controller.cs that is just included during runtime without restarting website or create an api to restart a website..

At this moment I have to restart and then new controller working

[2016-01-25 10:29] njy commented on #3973
@davidfowl : "and you always need a loosely typed and strongly typed version. Think of dynamic systems like cms using something like this."

Yes, yes, YES!
A huge thanks to the entire team for thinking like this, this is fundamental.
:+1:

[2016-01-25 10:52] #3984 closed

[2016-01-25 10:52] andrew-vandenbrink commented on #3984
Working when starting visual studio without debugging

[2016-01-25 13:51] andrew-vandenbrink opened #3985 "Compile failure on controller/code should not crash entire website"
I add new controller/code during runtime, that code contains something that makes the compilation failed. I believe the framework should not crash the whole website due this error.
![image](https://cloud.githubusercontent.com/assets/12871379/12552596/01d29ef6-c373-11e5-9149-b71cad353707.png)

It should be error at least when browser request to the new controller.
This will makes website more robus

[2016-01-25 13:52] davidfowl commented on #3985
@andrew-vandenbrink Can you make a working repository in a github issue so we can take a look at what you did?

[2016-01-25 14:10] Mertsch opened #3986 "Inconsistent log message formatting due to different helper frameworks"
Notice how the time is formatted once with ```.``` and once with ```,```
Maybe the asp.net teams can find a way to share the logger helper code and have a concise way of localizing error messages?

https://github.com/aspnet/Mvc/blob/25eb50120eceb62fd24ab5404210428fcdf0c400/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcCoreLoggerExtensions.cs
produces the following output
[code]
while
https://githu

[2016-01-25 14:21] andrew-vandenbrink commented on #3985
[code]

I just add "intentionally" broken code to the application during runtime and get that 500 error.

[2016-01-25 14:32] andrew-vandenbrink commented on #3985
The idea is I can just add/update/remove controller/code when the website is deployed.
A compile error on one controller file should not broke the whole website.

At this moment it is quite hard to recover from compile error, once I upload broken controller to the website, it's end of story.
If i upload broken HomeController and its only broke Home, I can still have another page to fix the control

[2016-01-25 14:39] davidfowl commented on #3985
A compile error on one controller file should not broke the whole website.

At this moment it is quite hard to recover from compile error, once I upload broken controller to the website, it's end of story.
If i upload broken HomeController and its only broke Home, I can still have another page to fix the controller and recover from compile error.

That's not going to be fixed. Thats' how C# works.

[2016-01-25 16:23] rynowak commented on #3973
[code]

Works pretty well, but

[code]

will interpret `<T>` as an HTML tag

[2016-01-25 16:36] rynowak commented on #3983
What values do you intend to go into the dictionary? How do you expect this to work?

It doesn't sound right that `foo` and `bar` are used as keys in this case, but I'm not convinced this is going to do what you want once that is addressed.

[2016-01-25 17:11] senritsu commented on #3983
The intention is that request parameter `foo` is mapped to action parameter `foo`, request parameter `bar` is mapped to action parameter `bar`, and if it exists in the request, request parameter `problematicDict` is mapped to action parameter `problematicDict`. If the request parameter is missing, the default of `null` should be used.

[2016-01-25 17:21] rynowak commented on #3983
You can get this behavior today by using `[ModelBinder(Name="problematicDict")]`.

I agree that the behavior you're seeing is surprising.

[2016-01-25 18:09] Eilon commented on #3985
Yup, unlike scripting languages in C# everything is compiled into one assembly. If any part of the project doesn't compile, it's game over. (Razor views are a slightly different story.)

[2016-01-25 18:09] #3985 closed

[2016-01-25 18:11] Eilon commented on #3872
Closing as it seems all the specific questions have been answered. For any new questions please log a new issue.

[2016-01-25 18:11] #3872 closed

[2016-01-25 18:52] dougbu commented on #3951
d696f26

[2016-01-25 18:52] #3951 closed

[2016-01-25 18:55] dougbu commented on #3951
@Krishjs please reopen this bug or file a new one if there is a specific case where this method returns `null`.

[2016-01-25 19:13] senritsu commented on #3983
I completely forgot about the `[ModelBinder]` attribute. I will try to see if that is enough for our use case.

The behaviour exhibited seems pretty unintentional nevertheless.

[2016-01-25 19:13] Eilon commented on #3875
Moving to Backlog. We'll take another look at this in the next release.

[2016-01-25 20:10] NTaylorMullen commented on #3976
Hey @CN-jaycee, this is working as intended. What you're encountering is Razor's purposeful minimal  knowledge about C#. What's happening is it sees your `Title ="` and it thinks the `"` is ending your attribute. You can fix your problem by changing the attribute quotes to be single quoted `'`.

[2016-01-25 20:12] #3974 closed

[2016-01-25 20:23] Bartmax opened #3988 "RedirectToAction: add fragment support"
I can't find a way to use RedirectToAction using a fragment.

I tried:

[code]

with no success, looking at source code I couldn't identity if this _feature_ exists or not.

This works, but is kind of verbose:

[code]

[2016-01-25 21:06] sporty81 commented on #3826
@mikes-gh OK, I'm looking at the source code in the "dev" branch of this Mvc project and that method (GetRouteValue) doesn't exist.

https://github.com/aspnet/Mvc/search?utf8=%E2%9C%93&q=GetRouteValue

[2016-01-25 21:48] mikes-gh commented on #3826
https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing.Abstractions/RoutingHttpContextExtensions.cs

[2016-01-25 22:01] mikes-gh commented on #3826
Try adding
using Microsoft.AspNet.Routing

[2016-01-25 22:43] Eilon commented on #3976
@NTaylorMullen where are you seeing extra double-quotes?

[2016-01-25 22:44] NTaylorMullen commented on #3976
The `Title` value: `"请输入专栏名"`

[2016-01-25 23:11] Eilon commented on #3988
@Bartmax yup that's pretty much the way to do it. Certainly back in the day sending a fragment never made sense in a redirect because that's a server concept, and fragments are a client concept.

Is the scenario here that you want to send the fragment to a client library to later process something?

[2016-01-25 23:19] NTaylorMullen commented on #3976
Closing as by design. By the way you can also surround your attribute value in `@(...)` if you don't want to use single quotes :smile:

[2016-01-25 23:19] #3976 closed

[2016-01-25 23:45] Eilon commented on #3964
@dougbu can you try to repro this with various scenarios?

[2016-01-25 23:49] Eilon commented on #3979
So let's rename `Microsoft.AspNetCore.Mvc.Filters.AuthorizationContext` to `Microsoft.AspNetCore.Mvc.Filters.AuthorizationFilterContext`.

[2016-01-25 23:49] dougbu commented on #3964
Sure though I'd definitely appreciate @markusvt's specific repro.

[2016-01-26 01:25] Eilon commented on #3769
@javiercn can you try to repro this in Azure?

[2016-01-26 01:28] rynowak commented on #2275
dd952d8d70bab70f8fe336811b20d793931b80e1
a27616969316043822749302247d3b07e3029702
de3b33caf1a808b6e5c2636e60de4cbaf8f7ffea
8b1bd343ba56152d2a7e677cf041dc9d62b4033f

[2016-01-26 01:28] #2275 closed

[2016-01-26 01:43] rynowak commented on #3516
Fixes here:
434da683fc2254df76cdf63df190a3b9cdb05c4a
18909506e1690779056ac7de1da3d9492adf9011@aspnet/Razor

I'm able to also max out my 100mbit network easily with the taghelpers version of this benchmark. We should remeasure.

[2016-01-26 03:31] Bartmax commented on #3988
I'm using it in a simplier scenario (non client-side). So, I don't agree with the **never** makes sense ;)

I have a contact us form, after filling all fields and posting a welcome message appears "thanks for contacting us" on the same page.
This is done via client side, but as good practice I always fallback to server behavior. The form is in the middle of the page and the "thanks message" appear

[2016-01-26 06:11] dougbu commented on #3951
Corrected commit: 7dddd06

[2016-01-26 07:45] GuardRex opened #3991 "ViewBag breaks app in .NET Core MVC Views on Nano Server"
Repro: https://github.com/GuardRex/NanoTest

This app is configured as an IIS website on Nano Server.
[code]
Views that don't use `ViewBag` work. `ViewData["X"]` works. `ViewBag.X` breaks with a 502 eventually being returned. It's not the assignment of a value to the `ViewBag` or even necessarily reading the value; it seems to be when the `ViewBag` value is rendered into the markup that it breaks.

[2016-01-26 10:09] JamesNK opened #3992 "Remove JsonViewComponentResult"
I noticed that `JsonHelper` reuses `JsonOutputFormatter` for writing JSON but `JsonViewComponentResult` doesn't. It misses out from array pooling that is managed by the output formatter.

Should JsonViewComponentResult use JsonOutputFormatter?

[2016-01-26 10:41] Tragetaschen commented on #2094
For quite some time now I'm running a SPA. I won't be able to look into this anymore. Feel free to reopen if you think it's necessary

[2016-01-26 10:41] #2094 closed

[2016-01-26 13:25] DavidR91 opened #3993 "What are the current guidelines on view precompilation (MvcBuildViews etc.)?"
There are a multitude of blogs and posts mentioning `RazorPreCompileModule` ([example](https://davidzych.com/view-compilation-in-aspnet-5-with-the-razorprecompilemodule/)) but this does not appear to work in RC1

Other issues related to precompilation mention the use of the Publish options for 'compile source' etc. but this only seems to affect controller code etc. and not views

What is the curre

[2016-01-26 13:36] ghost opened #3994 "Need way to lookup controller, actions and HTTP verbs for a URL"
It would be very useful if one could dynamically lookup what controller, action(s) and HTTP verb(s) that a URL can map to according to configured routing etc. The lookup should work inside both middelware and mvc controllers.

My use cases:
1) Generating a custom accept header for HTTP HEAD with list of other HTTP verbs that may be used for the current endpoint (needed for jsonapi standard impleme

[2016-01-26 13:41] bluemmc commented on #3994
BTW: I assume this functionality is missing and not hidden away somewhere. Please let me know if I am wrong?

[2016-01-26 14:16] tuespetre commented on #3977
I've just submitted a PR with the broken-out commit for what I discern as the most important change that I have requested. The other changes can be easily done without by writing an `EditorTemplate` for the `enum`, but the model binding story has been the most awkward/frustrating in my experience.

[2016-01-26 15:18] rwasef1830 opened #3996 "Cannot use tag helpers asp-for in editor or display templates (cannot leave asp-for empty)."
Hello,
When trying to use tag helpers in display or editor templates, example:

Views/Shared/EditorTemplates/DateTime.cshtml:
[code]

I get an error stating that asp-for is a tag helper bound value to a type of ModelExpression and it cannot be null or whitespace. But there is a valid use case for passing an empty asp-for attribute which is the functional analogue of:

[code]
Which simply uses the

[2016-01-26 17:28] Eilon commented on #3988
@Bartmax thanks that makes sense.

[2016-01-26 17:39] davidfowl commented on #3994
Seems like you would need to sit in front of routing to get any information like that (since mvc is built on top of routing).

I'd like to understand the use cases more. What would the pseudo code look like for each of those?

[2016-01-26 18:13] danroth27 commented on #3994
We have some introspection support via ApiExplorer, which enables scenarios like generating Swagger documents. You can find a sample here: https://github.com/aspnet/Mvc/tree/dev/test/WebSites/ApiExplorerWebSite. Let us know if it meets your needs.

[2016-01-26 18:18] danroth27 commented on #3996
You should be able to do `asp-for="@Model"`, but there is another issue blocking that usage: https://github.com/aspnet/Mvc/issues/3978. Closing this issue since we don't plan to support `asp-for=""`.

[2016-01-26 18:18] #3996 closed

[2016-01-26 18:19] danroth27 commented on #3993
We are removing precompilation support in RC2 (#3917) due to issues with getting it to work on the new .NET CLI. We will revisit precompilation in a future release.

[2016-01-26 18:19] #3993 closed

[2016-01-26 18:27] danroth27 commented on #3992
@rynowak Is the JsonHelper supposed to be using the `JsonOutputFormatter`? I thought we had separated output formatting from all the other JSON use cases.

[2016-01-26 19:24] Eilon commented on #3992
Looks like we have a variety of behaviors depending on how you do serialization:

- `JsonOutputFormatter`/`JsonInputFormatter`: Get the shared `JsonSerializerSettings` from the service container.
- `JsonHelper` (used in view pages): Creates its own `JsonOutputFormatter`. Can pass in custom `JsonSerializerSettings`. Never uses shared settings from the service container.
- `JsonViewComponentResult`:

[2016-01-26 19:30] Eilon commented on #3991
I wonder if this is the same as https://github.com/dotnet/corefx/issues/5610?

[2016-01-26 19:47] ryanbrandenburg commented on #3856
@bluemmc I don't get a Bad Gateway error. The most descriptive thing I got was ERR_INCOMPLETE_CHUNKED_ENCODING (in chrome) which seems like a reasonable response to the request ending in the middle. What browser did you see the 502.3 in?

[2016-01-26 19:58] Eilon commented on #3991
If it's the same one then we'll have to wait a short while to confirm because we're not yet using the CoreFX build that has the fix, which is 23725, and we're still using 23722.

[2016-01-26 21:43] Eilon commented on #3977
@tuespetre thank you for the PRs but at this time we are not planning to take this feature because we are working on stabilizing the RC2 release. We will revisit this in the next release.

[2016-01-26 22:00] ryanbrandenburg commented on #3856
After consulting with @Tratcher we've decided that this is as expected. Throwing an exception in a formatter will cause the request to end early and can't be intercepted to provide error messages.

If you're getting exceptions in your formatter that can't be avoided our suggestion is to do them before beginning the response, where the exception will be properly caught.

[2016-01-26 22:00] #3856 closed

[2016-01-26 22:16] #3752 closed

[2016-01-26 22:23] JamesNK commented on #3992
Only JsonOutputFormatter/JsonInputFormatter are using array pooling.

[2016-01-26 23:40] Eilon commented on #3752
Done?

[2016-01-27 00:03] #3952 closed

[2016-01-27 00:10] ajaybhargavb commented on #453
726ebb7a053c405c0c12abfb7cbf3c8549eeade9

[2016-01-27 00:25] jraadt commented on #2938
Any updates or suggestions on how to read multipart file uploads?  I'm attempting to upload multiple files using ajax and I'm unsure what the current best practice is to read those files.

[2016-01-27 00:28] #3979 closed

[2016-01-27 01:16] ajaybhargavb commented on #3972
8c4bcf14c75f14f8b6e135d7822f009e67964e11

[2016-01-27 01:35] Eilon commented on #3961
@javiercn please discuss with @rynowak @dougbu .

[2016-01-27 01:46] Eilon commented on #3948
Yeah the problem here is that errors during serialization happen *super* late. The start of the response has already been sent, so it's too late to show any error.

[2016-01-27 01:46] #3948 closed

[2016-01-27 02:13] sebastienros opened #4001 "Html.JavaScriptStringEncoder.JavaScriptStringEncode could be shorter"
I don't think there is such usage of `JavaScriptStringEncoder` in a view outside of just encoding a string hence calling `JavaScriptStringEncode`. I think it could be shorter for the sake or readability. If a user really wants to use the service they can still inject it.

`@Html.JavaScriptStringEncode` would be an improvement.

Or another helper like `@JavaScript.Encode()`

[2016-01-27 04:49] kennywangjin opened #4002 "Bug: PartialView returns sometimes the whole page:"
I have written a mvc webapp using mvc6.
sometimes, in very seldom, when the action tries to return some partialview, the server will return the whole page except <HTML Directive>, meaning header+body, just like View() ActionResult. If I refresh the page, it will works normally again.
It happens very seldom. Sorry for having no stack information for you to debug.
Could You please help to check?
Tha

[2016-01-27 06:41] bluemmc commented on #3856
@UseDeveloperExceptionPage I got the bad gateway error using chrome.

I think it is bad that error messages can not be provided in specific cases.I guess, you could solve this by allowing buffering when using the developer exception page (UseDeveloperExceptionPage(buffering = true/false). With buffering on, there should be no problem reseting output and showing an exception page instead.

[2016-01-27 07:34] bluemmc commented on #3994
@davidfowl I would like more or less the reverse of IUrlHelper that I can get injected where I need it (controller or middleware). Giving a URL (REST endpoint), I would like to look up what routing knows about the Controller type and the list of matching C# method(s) along with their HTTP method (GET/POST/DELETE/PUT/PATCH/HEAD etc.). I would for instance like to use it to implement a header with a

[2016-01-27 07:38] bluemmc commented on #3994
@danroth27 Thank you very much for the ApiExplorer tip. It seems very complex though and I have yet to understand how to use (if possible) it as a kind of reverse IUrlHelper that I need as noted above. It is also a very big hammer for this relatively smaller need that I am concerned might affect performance or have some other negative effect if I use it on regular basis when accepting normal reque

[2016-01-27 07:54] andrew-vandenbrink commented on #3985
@davidfowl @Eilon I upload the same text with name TestViewComponent.cs

It shows compile errors on visual studio but not crashing the whole website.

![image](https://cloud.githubusercontent.com/assets/12871379/12607206/65a3a5d6-c4d3-11e5-8150-c90f7cd5b5be.png)

[2016-01-27 07:55] andrew-vandenbrink commented on #3985
Therefore it's should be possible to not crash the whole website when I upload broken controller class.

[2016-01-27 09:21] GuardRex commented on #3991
@Eilon I'm showing `"System.Linq.Expressions/4.0.11-rc2-23726"` in my `project.json.lock` this evening. I'll be re-running the test with this app (`ViewBag` version) on Nano first thing in the morning and report the result.

[2016-01-27 10:43] DavidR91 commented on #3993
That makes sense

Just to confirm - is that a future release, as in, future release after *final* of v6 (e.g. 6.1), or a future RC? (I'm assuming the former, but I'm not clear on how many RCs etc. are expected or the anticipated ship date for 6 etc.)

[2016-01-27 10:57] markusvt commented on #3964
hey, unfortunately i cannot upload the whole repository, but maybe I can describe it..
1. there are 2 projects in my solution: "Database" and "Intranet"
2. in the "Database" project are the models. In this specific case, there is a model class called "Basicpart_Value" that looks like that:
[code]

3:  in the "Intranet" project, there are some Areas, espacially the "Caravan" Area with a View "Value

[2016-01-27 11:02] ahirmayur opened #4003 "Controller Class Inheritance"
Hi Guys,

I am facing a problem while trying to extend Controller from a Class other than `Controller`.

So following code works okay,

[code]

Obviously as you can see there is lot of repetition of code for Session & DbContext injection. So I tried doing following,

[code]

And got following error,
[code]

In both cases I have following in my `Startup.cs`,
[code]

[2016-01-27 11:06] khellang commented on #4003
@ahirmayur `ApiController` has not default constructor, and you haven't called the `base` constructor with the `MyDbContext` parameter...

[2016-01-27 11:13] senritsu commented on #3983
When manually specifying the binding name as described by @rynowak, it does indeed bind correctly. Only the regular parameters are mapped, and the dictionary uses the default of `null`.

[2016-01-27 11:22] ahirmayur commented on #4003
Thanks @khellang works perfectly now.

[2016-01-27 11:22] #4003 closed

[2016-01-27 15:10] Dries-SF opened #4004 "Controller not passing arguments to ViewComponents"
Hi,

I've run into a small problem which I wish to confirm.

With the recent changes to ViewComponents it is now called as such:

[code]
Inside a Razorview the argument is passed correctly.
However the argument is not passed when calling it from a Controller as such:

[code]

I've also tried:

[code]

ViewComponent code:
[code]

The menuPageId value in the ViewComponent remains 0 when passing thro

[2016-01-27 15:48] nicholaj05 commented on #3993
I have been trying to use portable areas using .NET MVC 6 RC1 whereby each area exists in a separate class library project using precompiled views and have not been able to get it to work
I have been using the method `.RazorPreCompileModule` in combination `.AddControllersAsServices` and `.AddPrecompiledRazorViews` in startup.cs to achieve precompiled views and was wondering whether there is in fa

[2016-01-27 16:19] rynowak commented on #4002
We're going to need to a code sample to investigate this. Do you have a repo we could take a look at?

[2016-01-27 16:21] rynowak commented on #4001
This is actually here for the case where you're writing another extension method on `IHtmlHelper` that needs to encode something. You're in a static method, so you don't get DI (hence `IHtmlHelper` exposing its dependencies).

I'd suggest writing an extension method that does what you want :trollface:.

[2016-01-27 16:29] rynowak commented on #3988
This would be easy to add. `UrlActionContext` and `UrlHelper` already have the plumbing to process it.

[2016-01-27 16:44] rynowak commented on #3992
This has been rehashed like 15 times, and every time it's discussed my suggestion is to remove `JsonViewComponentResult`. So I'll suggest it again, let's remove `JsonViewComponentResult`.

If we're still not willing to remove this, let's make it go through one of the other code paths.

----------------------

This is not true. No code in `JsonHelper` instantiates a `JsonOutputFormatter`. This inst

[2016-01-27 16:47] Eilon commented on #3856
@bluemmc the logging system should report the error no matter what.

[2016-01-27 16:50] rynowak commented on #2938
If you're using MVC,  you have a few options in how to author the code, I don't think any one of them is necessarily better than the others.

1. Bind each file to a parameter
[code]

If you know the names of the form fields that will include the files, you can model bind to those names directly.

===============

2. Bind the files collection to a parameter
[code]

============

3. Read the files c

[2016-01-27 16:52] Eilon commented on #3985
Depending on the project's settings there might already be an existing compiled version of the site that's running.

[2016-01-27 17:15] GuardRex commented on #3991
@Eilon ... That got it. `ViewBag` lady is back. Thx.

![capture](https://cloud.githubusercontent.com/assets/1622880/12621631/424d0994-c4d6-11e5-91b6-d3dfc262a87f.PNG)

[2016-01-27 17:15] #3991 closed

[2016-01-27 17:15] Tratcher commented on #3856
@bluemmc I'd avoid mixing concerns like that. Instead, I'd add the UseResponseBuffering middleware after the UseDeveloperExceptionPage if you needed to debug errors during responses. Don't leave it in longer than needed though, as it causes non-trivial behavior changes for your app.
https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.Buffering/ResponseBufferingMiddlewareExt

[2016-01-27 17:42] pranavkm commented on #3993
@nicholaj05, embedding the views should be an alternative for now - https://github.com/aspnet/Mvc/tree/dev/samples/EmbeddedViewSample.Web, https://github.com/johnnyoshika/mvc6-view-components. Another work item that discusses something similar - https://github.com/aspnet/Mvc/issues/3750

[2016-01-27 17:44] pranavkm commented on #3993
Could you include a stack trace with this or provide a minimal sample that causes the exception.

[2016-01-27 17:46] danroth27 commented on #3993
A future release after final. Not a future RC.

[2016-01-27 17:53] anderssonjohan commented on #2348
Mono 4.2.1 still has this issue, that's for sure.

[code]

I just downloaded the [latest mdk alpha](http://download.mono-project.com/archive/mdk-latest-alpha.pkg) from the [Mono download archive](http://download.mono-project.com/archive/) and the issue is now gone!

[code]

Output from ```dnx-watch --version```

[code]

[2016-01-27 19:12] Eilon commented on #3991
Nice!

[2016-01-27 19:27] GuardRex commented on #3991
I think @JonHanna owes me a pint of Irish stout :beer: for this. :smile:

[2016-01-27 19:45] dougbu opened #4005 "Missing the client-side `DateModelValidator` from MVC 5"
When we moved client-side validation forward, the `DateModelValidator` got left behind. We have the equivalent of the similar `NumericModelValidator` (`NumericClientModelValidatorProvider` in the new world). Might need to add this code to MVC Core 1.0.

Perhaps was `DateModelValidator` was left behind on purpose e.g. because `type="datetime"` works better in modern browsers or because locale-speci

[2016-01-27 19:45] JonHanna commented on #3991
Ah, stout is originally a London drink, and my favourite is Scottish (though the whiskey barrels it's aged in are Irish). Should the occasion arise I'll buy you a bottle as thanks for the MVP nomination anyway.

[2016-01-27 19:55] ajaybhargavb commented on #4005
The `NumericClientModelValidator` was added as part of https://github.com/aspnet/Mvc/issues/2817. And as per @pranavkm's comment https://github.com/aspnet/Mvc/pull/2950#issuecomment-129649961, I don't think we left out `DateTime` on purpose. I guess I just didn't create an issue for the follow-up.

[2016-01-27 20:03] ajaybhargavb commented on #4005
Could be the reason we didn't do it in the first place.

[2016-01-27 20:30] gkochanowsky opened #4006 "Request for guidance. Where do I find the value for UIHint() in a custom tag helper?"
I'm trying to create a custom tag helper and it appears that I can use `base.For.Metadata.DataTypeName` to determine the attribute values for model property decoration `[DataType(DataType.Date)]`, I have been unable to figure out how to retrieve the value for `[UIHint("somehint")]`.

Please advise.

[2016-01-27 22:33] Eilon commented on #3402
Closing this as we think all the key items are already done.

[2016-01-27 22:33] #3402 closed

[2016-01-27 22:38] Eilon commented on #3904
We could instead do this:

[code]

[2016-01-27 22:41] Eilon commented on #3924
Notes for future us: one option to consider is pooling the tag helpers somehow some way somewhere.

[2016-01-27 22:42] Eilon commented on #3924
Or just make them cheaper by optimizing current code paths.

[2016-01-27 22:49] Eilon commented on #3969
Model binding is generally used for form posts, which even on the rather extreme side would rarely have more than maybe 100 fields on it.

For binding thousands of items I would recommend using a formatter and serialization as it will likely be more efficient and produce better results.

@rynowak can you check this out and see that the behavior of these functions grows linearly?

[2016-01-27 22:50] Eilon commented on #3969
And when I say `linearly` I mean `close to linearly`.

[2016-01-27 23:22] GuardRex commented on #3991
@JonHanna My pleasure on the nomination ... thanks again for the work you've put into optimizations in particular. I think @davidfowl said they would 'make it happen.' cc: @shanselman Please give this gentlemen a round of :clap: :clap: :clap:

[2016-01-28 02:33] dougbu commented on #4006
@gkochanowsky a `[UIHint(...)]` attribute is used to set `ModelMetadata`'s `TemplateHint` property.

[2016-01-28 07:51] bluemmc commented on #1680
Yes, please!
My use case is a method like the one below where "unmodifiedSince" should be passed as a DateTimeOffset. This does unfortunately not work in RC1. Works only if I change the type of unmodifiedSince to a string which is ugly.
[code]

[2016-01-28 09:56] JonHanna commented on #3991
Perhaps more appropriate when I haven't just broken something. But this is probably more than enough chattiness for this comment thread, but feel free to drop me a line on e-mail.

[2016-01-28 11:33] nicholaj05 commented on #3993
Previously the RazorGenerator team said they had no plans to produce a version for MVC6, due to the fact that MVC 6 supports precompile views.
In view of the fact that Precompiled Views have been removed from MVC 6 Final, does that mean the RazorGenerator team will now release a version for MVC 6?

[2016-01-28 11:53] wolfgangschneider opened #4008 "Strange behaviour with Routing"
Hi

I'm working on an asp.net core 1.0 project everything looks fine and I like it. But most of the time I spend to understand Routing. Its a nightmare or I'm to stupid to understand it. One of my challenges is:
Using Attribute routing:

    [Route("[controller]")]
    public class AOPController : Controller
    {
        [HttpGet("{year:int}/{aopid:int}",Name ="A99")]
        public IActionResult

[2016-01-28 15:14] gkochanowsky commented on #4006
Thanks @dougbu!

[2016-01-28 15:15] #4006 closed

[2016-01-28 15:50] rynowak commented on #4008
That's not an accurate statement unfortunately. Constructs like `RedirectToAction("Index", ...)` are based on names of actions and controllers. By adding another candidate for `action = "Index"` - you're giving the routing system two viable routes to choose from.

If you gave `Index()` a different method/action name than `Index(int, int)` this wouldn't happen. You can also use `RedirectToRoute("A9

[2016-01-28 16:28] rynowak commented on #4008
Are you running on RC1? I'm not seeing this problem in latest/RC2.

[2016-01-28 16:53] wolfgangschneider commented on #4008
Thanks for your answer

I am running 1.0.0-rc1-final  dnvm  upgrade find no rc2

*  using RedirectToRoute  solve the issue in the controller but  adding the Index() function also breaks all @Url.Action)  functions. the Url.Action now generate a Query string,  before it generates a Rest like url. I chaned all to Url.RouteUrl

* I don't want to use  different names because I want to achieve the goal

[2016-01-28 17:08] rynowak commented on #4008
This is intended. Attribute routing and conventional routing don't overlap. Actions reachable via attribute routes aren't reachable via conventional routes.

The action/method name really has nothing to do with the URL if you're using attribute routing.

Route attributes concatenate between the controller and action. Use `/` or `~/` at the beginning of a route template to turn off this behavior.

[2016-01-28 17:56] wolfgangschneider commented on #4008
Thanks

Ok got it, How to set default page with Attribute Routing?

Got it now- thanks

That s, what I don't understand

What I have to do that /aop?year=2016 and aop/2016 raouts to the same function ?

[2016-01-28 18:07] rynowak commented on #4008
This is a bug that we fixed for RC2.

If you want to be explicit you can give your shorter route a larger value of Order. This should force the routing system to try the longer route first.
[code]

[2016-01-28 18:36] ryanbrandenburg commented on #3076
Fixed in aspnet/HttpAbstractions/issues/539 and #3940

[2016-01-28 18:36] #3076 closed

[2016-01-28 19:14] #3946 closed

[2016-01-28 19:17] wolfgangschneider commented on #4008
Thanks a lot

[2016-01-28 19:17] #4008 closed

[2016-01-28 21:00] Bartmax opened #4009 "~ TagHelper"
Using Azure Storage, is it possible to extend the ~ TagHelper on `<img src="">` tags so it goes to a CloudStorage url like `http://127.0.0.1:10000/devstoreaccount1/` ?

Or what is the recommended approach to get dynamic url locations for images?

[2016-01-28 21:06] NTaylorMullen commented on #4009
You could add an img `TagHelper` that rewrites the `src` attribute. I did something similar in one of my SOCAL code camp talks where I made img tags src's redirect to potential "cdn"s:

https://github.com/NTaylorMullen/SOCAL_CodeCamp_TagHelpers_2015/blob/master/TagHelperDemo/TagHelpers/ImgTagHelper.cs

[2016-01-29 00:48] #3874 closed

[2016-01-29 05:40] clarkis117 commented on #3722
@Eilon Is there anywhere I can find information about building a custom model binder for MVC 6?

[2016-01-29 07:46] ctolkien commented on #4005
I can offer a an end user perspective. Client side date validation has relied on parsing the string into the `new Date(x)` constructor. All browsers use the Month / Day / Year format - which is valid format in the USA and nearly nowhere else.

That leads you down the path of Globalize.js, cldr, trying to get a hold of the appropriate cldr data and including just the right amount of localisation bi

[2016-01-29 15:45] Bartmax commented on #4009
Thank you @NTaylorMullen

I ended up using this:

[code]

can't said I'm happy with the outcome tho. too app-specific, magic strings and `IFileRepository` dependent. I will review the design later to see if I can make it more like a 'generic' thing.

[2016-01-29 15:45] #4009 closed

[2016-01-29 18:07] javiercn opened #4013 "Add a TagHelper for areas in links"
When i'm inside a razor view generated from an action outside of an area and I want to add a link to an action within an area I need to do the following:
```<a asp-action="Other" asp-route-area="Bug">taghelper</a>```
Given that we have asp-action and asp-controller tag helpers, we should also have an asp-area taghelpers as they are a first class concept in the framework

[2016-01-29 18:45] ajaybhargavb commented on #3972
47351aac7a124148f84a484e187abbe0f24b4efc

[2016-01-29 18:45] #3972 closed

[2016-01-29 19:08] davidfowl opened #4014 "Add overload to AddControllerAsServices that uses the default controller discovery logic"
It should use the default controller discovery logic baked into these https://github.com/aspnet/Mvc/blob/47351aac7a124148f84a484e187abbe0f24b4efc/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L81-L88 services.

[2016-01-29 19:12] Eilon commented on #3722
@clarkis117 unfortunately that's an area that's not very well documented at this time. There are several built-in model binders in MVC, though, so you could use those as examples.

[2016-01-29 19:49] dougbu commented on #2969
26a14a2

[2016-01-29 19:49] #2969 closed

[2016-01-29 22:30] clarkis117 commented on #3722
@Eilon I'm trying to deserialize covariant json arrays, where each object in the covariant json array shares the same base type. The wall I'm currently running into is that MVC during input is removing json.net's TypeNameHandling from the json, so all the type discriminators are removed before json.net gets a chance to discriminate which type is which.

[2016-01-29 22:34] rynowak commented on #3722
You can modify the JSON.Net settings we use

[code]

[2016-01-29 22:43] rynowak opened #4016 "Too much string allocation in Model Binding"
With a large model binding operation (~100 form fields) - MVC is allocating way too many strings for binding.

Across 3000 requests, there's about 267mb of string being allocated. 41mb of that is the parsed representation of the form data. The other 226mb is MVC's overhead.

![image](https://cloud.githubusercontent.com/assets/1430011/12690175/81dc3776-c696-11e5-9148-6d7b1bf5964e.png)

[2016-01-29 22:53] clarkis117 commented on #3722
@rynowak  I've done that and added the CustomCreationConverters for Json.net, but as I mentioned before I still can't get around MVC removing the json.net TypeNameHandling from the json during input. Let me summarize this a little differently, during serialization I have json.net produce a '$type' variable on each json object that needs a type discriminator, i.e. the objects in the covariant array

[2016-01-29 23:32] dougbu commented on #3964
@markusvt what is the `@model` directive in your view? It can't be `@model Basicpart_Value` because that type doesn't contain `Name` or `Price` properties, at least that you've shown. If not `Basicpart_Value`, please provide the exact definition of the `Description` property in the actual model type.

[2016-01-29 23:35] SajayAntony commented on #4016
What test are you using to get measure this? Do you have this in the [performance repo](https://github.com/aspnet/Performance/tree/dev/testapp)?

[2016-01-29 23:43] javiercn commented on #3769
@itsfelipesan can you please provide us the following information to help investigate the bug?
Target framework (CLR, Core CLR)
Version of the MVC package used (Beta8, RC1)

Stack trace/logs/response from the server.
Stack trace/logs of the Console Developer Tools in the browser.
.
Is it CORS enabled on Azure Websites?
jQuery code used to do the post request?
Startup code used to configure CORS?

[2016-01-30 01:11] ajaybhargavb commented on #3904
We also decided to rename methods that adds stuff to a context and returns void but is named `Get***()`. `IValidationMetadataProvider`, `IDisplayMetadataProvider`, `IBindingMetadataProvider`, `IModelValidatorProvider` and `IClientModelValidatorProvider`

[2016-01-30 01:20] rynowak commented on #4016
These are here: https://github.com/rynowak/mvc-sandbox/tree/master/workloads/BigModelBinding

[2016-01-30 01:24] SajayAntony commented on #4016
Nice. @sivagms we need to work with @rynowak @troydai to get this into the perf repo :)

[2016-01-30 18:33] vincez commented on #3988
+1

[2016-01-31 01:52] Eilon commented on #3904
:+1:

[2016-01-31 07:44] SajayAntony commented on #3939
@rynowak Shouldn't this be in the Benchmark or perf repo?

[2016-01-31 15:13] julielerman commented on #3658
I'm getting this now with the latest (?) bits on OSX. I used the startup & project.json files from current samples (in https://github.com/aspnet/Mvc/tree/dev/test/WebSites).
From my nugget.config:
<packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="AspNetCiDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    </packageSources>
  <dis

[2016-01-31 23:20] davidfowl commented on #3946
So it looks like we're going to need XDocument as well:

[code]

It's all JSON.NET. Hopefully it'll all go away once we're netstandard and JSON.NET is updated to have dependencies listed.

/cc @JamesNK

[2016-02-01 00:11] JamesNK commented on #3946
When you release RC2 and the tools are there, I'll release a version with netstandard :grin:

[2016-02-01 00:19] Eilon commented on #4004
@NTaylorMullen can you take a look at this?

[2016-02-01 00:37] davidfowl commented on #3946
Sure I'm just looking at what's blowing up right now

[2016-02-01 06:34] dythim opened #4021 "Namespace confusion on imported "wrap" library"
I'm attempting to create a new ASP.NET front end for our existing Silverlight application and ran into what seems like a bug for imported projects.  It seems like if there is a namespace "collision" -- the same namespace in two referenced assemblies, ASP.NET does not aggregate all the classes across all referenced assemblies.

We have a `MyApp.DataAccess.Security.User` object which previously live

[2016-02-01 08:56] newsash opened #4022 "Route to generic action/controller by list of types"
Is it possible to somehow bind following action to `/api/{category}/send/{type}` if list of types by category is available at service configuration?
[code]

[2016-02-01 09:19] KlausEvenEnevoldsen opened #4023 "Is there a way to get a list of controllers at runtime (ControllerActionDescriptor)?"
We are trying to build a menu system which is dynamic and not based on some sort of sitemap.

We would like to create some custom attributes which we could put on controllers and on actions. These attributes (along with attributes from ASP.NET Identity) would control whether a user should be able to see a menu item and also how the menu items are organized in the menu system (grouping, ordering, e

[2016-02-01 09:41] ivaylokenov commented on #4023
@KlausEvenEnevoldsen There is [ActionDescriptorCollectionProvider](https://github.com/aspnet/Mvc/blob/25eb50120eceb62fd24ab5404210428fcdf0c400/src/Microsoft.AspNetCore.Mvc.Core/Internal/ActionDescriptorCollectionProvider.cs) registered in the services collection by the MVC framework. You can get in your code by requesting `IActionDescriptorCollectionProvider` from the services and analyze it for y

[2016-02-01 09:45] KlausEvenEnevoldsen commented on #4023
@ivaylokenov Thank you! It looks like something we could use. I spent a few hours looking in the repository, but I must have missed it.

[2016-02-01 09:45] #4023 closed

[2016-02-01 16:28] rynowak commented on #4016
In order of importance, underlying issues here:

1). `PrefixContainer` allocates a comparer and a copy of the key for each lookup. This can happen 4x N / request, where N is the number of keys. Since we're using binary search, we likely don't need the allocation, we could iterate from the point of the first binary search. See comment here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNe

[2016-02-01 17:27] rynowak commented on #3911
![image](https://cloud.githubusercontent.com/assets/1430011/12725136/04317cd2-c8c6-11e5-8d96-ce8775382518.png)

This is much better now, closing.

[2016-02-01 17:27] #3911 closed

[2016-02-01 17:42] rynowak commented on #3619
This is significantly lower now:

![image](https://cloud.githubusercontent.com/assets/1430011/12725531/0ab71240-c8c8-11e5-97fc-54b4d080646a.png)

Notice the last two line-items in the previous screenshot are gone.

[2016-02-01 17:42] #3619 closed

[2016-02-01 17:42] rynowak commented on #3619
1a70f12bf8269f1cd1b9b6fe98769ba5c11043d7

[2016-02-01 18:10] Eilon commented on #4002
@kichalla can you poke around the code to see if there's any obvious way this could happen? We don't have a repro but please have a look to see if there are any suspicious code paths.

[2016-02-01 18:11] Eilon commented on #4022
There's no built-in way, but perhaps @rynowak can think of something with ApplicationModel where something like that could be hacked up?

[2016-02-01 18:13] Eilon commented on #3983
Moving to Backlog.

[2016-02-01 18:31] rynowak commented on #3939
Did this already here: https://github.com/rynowak/mvc-sandbox/tree/master/workloads/BigModelBinding

As discussed will be moving all of these benchmarks to aspnet/Performance

[2016-02-01 18:31] #3939 closed

[2016-02-01 18:32] rynowak commented on #3723
8b726ddc0ce208b41a07194af7052dbe14eed99f

[2016-02-01 18:32] #3723 closed

[2016-02-01 18:33] rynowak commented on #3743
Fixed by  faba95287ee761f5a208ad1df42239ca9c9b3fa4

[2016-02-01 18:33] #3743 closed

[2016-02-01 18:39] rynowak commented on #3774
@Eilon - I don't think this is related to my other validation fix. Self-assigning and will fix.

[2016-02-01 19:10] newsash commented on #4022
@rynowak Thank you for this link, I'll try it. I want to use one generic action/controller for a bunch of model types with a sensible routing and to utilize all pros of model binding without need to create separate action/controller for each model type.

[2016-02-01 19:30] Eilon commented on #3986
Error messages in exceptions localized, but log messages are at present deliberately not localized. The idea is that error messages are often immediately seen by the caller and thus the current locale is more likely to apply to that person. However with logs it is often the case that the reader of the log is not the person immediately seeing the site, so for the moment we decided to avoid figuring

[2016-02-01 19:30] #3986 closed

[2016-02-01 20:35] javiercn commented on #3833
@B-Esmaili There are a couple of explanations of why you are seeing that behavior. If your current request is not within the area to the action you are generating the link to, you need to specify the value of the area manually as part of the route values. (For redirecting within the same area is not required, but for moving to/from an area to another area or to an action without area it is require

[2016-02-01 20:52] AkbaraliShaikh commented on #2617
Hi,

I'm trying to create the middleware which should execute before every request made to the controller (API),

But i'm facing the problem, when there is a route which executes the action in that case my middleware not going to execute, it only gets executed for those routes where there is no action is pointing.

app.UseMvc();
app.MapWhen(_=>_.Request.Path.Value.Contains("/"), _ => _.UseRequestL

[2016-02-01 21:06] lodejard opened #4026 "Update doc comments on ModelBindingContext"
They don't conform to standards

[2016-02-01 21:30] Eilon commented on #2617
@AkbaraliShaikh please log a new issue for this.

[2016-02-01 22:06] #4026 closed

[2016-02-01 22:37] newsash commented on #4022
Not tested properly yet, but seems to work. However, [FromServices] attribute doesn't work in this controller, I had to use constructor injection.

[code]

[code]

[2016-02-01 22:41] rynowak commented on #4022
Take a look at the action parameters `ParameterModel` are those populated as you would expect?

[2016-02-02 00:10] AkbaraliShaikh opened #4029 "Middleware not called for the API route"
I'm trying to create the middleware which should execute before every request made to the controller (API),

But i'm facing the problem, when there is a route which executes the action in that case my middleware not going to execute, it only gets executed for those routes where there is no action is pointing.

app.UseMvc();
app.MapWhen(=>.Request.Path.Value.Contains("/"), _ => _.UseRequestLogger()

[2016-02-02 00:11] BrennanConroy commented on #4029
Switch the two lines of code, if a middleware handles the request then it doesn't get passed to the next middleware.

[2016-02-02 00:27] AkbaraliShaikh commented on #4029
I have tried it by switching, in that case also the same behavior, Can you please suggest me the way, how I can do it,

I want to execute my middle ware code for all the routes before every API is called.

[2016-02-02 00:42] benaadams opened #4030 "Highlight sterling performance work"
I'd just like to extend my personal thanks to @rynowak and team for the amazing performance strides being made in MVC.

[2016-02-02 00:43] Eilon commented on #4030
cc @DamianEdwards @SajayAntony

:smiley_cat:

[2016-02-02 00:44] Eilon commented on #4030
@danroth27 should we move this to the Backlog? :smile:

[2016-02-02 00:45] Eilon commented on #4030
Oh, and where do I log the same bug but to thank @benaadams for all his hard work and contributions???

[2016-02-02 00:47] Eilon commented on #4029
@AkbaraliShaikh can you show the exact code you have? The code you showed doesn't compile due to syntax errors.

[2016-02-02 00:48] Eilon commented on #4021
@dythim can you log this in the https://github.com/aspnet/dnx/issues/ repo? This isn't specific to MVC.

[2016-02-02 00:48] #4021 closed

[2016-02-02 00:53] AkbaraliShaikh commented on #4029
@Eilon This is my startup code, My code compiles fine, what error do you see in my above code

 public static void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            app.UseMvc();
            app.MapWhen(_=>_.Request.Path.Value.Contains("/"), _ => _.UseRequestLogger());
            app.UseIISPlatformHandler();

            using(var services = app.ApplicationServices

[2016-02-02 00:54] rynowak commented on #4030
:blush:

[2016-02-02 01:06] SajayAntony commented on #4030
:+1:

[2016-02-02 01:16] Eilon commented on #4029
It's worth noting that `UseIISPlatformHandler` needs to be called first, though I'm not sure that that affects this at all.

[2016-02-02 01:16] Eilon commented on #4029
@Tratcher any thoughts on this?

[2016-02-02 01:19] ctolkien commented on #4030
:fireworks:  :+1:  :heart_eyes:

[2016-02-02 01:21] PureKrome commented on #4030
![awesome](https://31.media.tumblr.com/751b9113f1b9084c2858d9ca8129c260/tumblr_inline_n4rt6dgDo51solpjm.gif)

[2016-02-02 01:24] AkbaraliShaikh commented on #4029
When I switched below two lines, after that middleware is getting called but not controller action method

`public static void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            app.MapWhen(_ => _.Request.Path.Value.Contains("/"), _ => _.UseRequestLogger());
            app.UseMvc();
            app.UseIISPlatformHandler();

            using(var services = app.Appli

[2016-02-02 01:43] benaadams commented on #4030
@Eilon my great hope is one day people will move past the defeatist argument that it doesn't matter because "my database is slow". That's like saying I might as well use php in interpreted mode because "my database is slow". There is so much more potential to the platform!

We were going custom for the performance; but we've come back to aspnet because of the improvements in Kestrel; and now we ar

[2016-02-02 01:55] Tratcher commented on #4029
Map creates branches, matched requests do not continue on to the rest of the pipeline. Try this instead:
[code]
Note calling next is optional, you could also handle the response directly.

[2016-02-02 02:33] AkbaraliShaikh commented on #4029
How can I create a handler and register which can execute before every request?  Like DelegateHandler in Web API.

I want to execute the handler e.g: if the URL starts with "/rest/secure/", How Can I do this?

[2016-02-02 02:45] AkbaraliShaikh commented on #4029
@Tratcher  Thank you, for now using like below:

[code]

[2016-02-02 03:24] Tratcher commented on #4029
FYI: drop the cast to DefaultHttpContext. The normal HttpContext should be adequate.

[2016-02-02 03:31] AkbaraliShaikh commented on #4029
@Tratcher : thank you, last question, except app.use() there is no way to do this ? middleware ?

[2016-02-02 04:14] Tratcher commented on #4029
app.Use is just the simplest form of middleware. A full middleware class can do the same thing. See https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.HttpOverrides/HttpMethodOverrideMiddleware.cs#L32

[2016-02-02 05:29] benaadams commented on #4030
It begins... https://stevedesmond.ca/blog/performance-is-paramount /cc @stevedesmond-ca

[2016-02-02 05:34] MJomaa commented on #4030
:+1: :yum:

[2016-02-02 05:34] newsash commented on #4022
@rynowak something strange happened: to test population of ControllerParameters I switched back from constructor injection to property injection, and now it works. The whole ControllerModel populated as I expect (similar to other controllers).

[2016-02-02 11:29] stevedesmond-ca commented on #4030
LOL @ the timing of this -- I was trying to find the time to finish that post for days!

But seriously, thanks! I wish I had the cycles to contribute more directly, but you're all doing great work!

[2016-02-02 12:26] Antaris commented on #2798
For any of those still interested, I've built a prototype Widget framework based on the design of ViewComponents. It supports model binder-source arguments, and has a slightly different approach to method selection for invocation. I've purposely not tried to modify ViewComponents to support this model of execution, mainly because the way in which method arguments are provided conflicts. This curre

[2016-02-02 17:05] Eilon commented on #4022
Looks like this question was answered. If you have any further questions please let us know.

[2016-02-02 17:05] #4022 closed

[2016-02-02 17:06] Eilon commented on #4029
Looks like this question was answered. If you have any further questions please let us know.

[2016-02-02 17:06] #4029 closed

[2016-02-02 17:13] AkbaraliShaikh commented on #4029
Yes, I have the below middle ware class which is working fine now:

[code]

But It only woks fine if I have to register it before app.UseMvc(), if i register after it, looks like the mvc pipeline override the behavior ?

works:
[code]

does not work:
[code]

[2016-02-02 17:15] rynowak commented on #4029
Registration of middleware is ordered. So anything you register before MVC will run before MVC.

MVC "handles" the request if it matches a URL that MVC can handle. Anything you register after MVC will only handle the request if MVC fails to match the URL.

[2016-02-02 17:18] Eilon commented on #4030
@stevedesmond-ca great blog post!

[2016-02-02 17:22] AkbaraliShaikh commented on #4029
@rynowak  Thank you, its very helpful information.

[2016-02-02 17:40] stevedesmond-ca commented on #4030
:blush:

[2016-02-02 18:09] Eilon commented on #4001
@sebastienros can you add this helper method? I think I'd add it as an extension method rather than adding it to the `IHtmlHelper` interface.

@dougbu thoughts on interface vs. extension method?

[2016-02-02 18:16] Eilon commented on #4001
Nevermind, not going to do this.

[2016-02-02 18:16] #4001 closed

[2016-02-02 18:18] blowdart opened #4033 "Remove Html.JavaScriptEncoder property"
This @ method is unsafe. It needs to be **removed**.

We've been recommending the safe approach for a couple of years, which is you put the data inside a DIV tag, in a data attribute, at which point @ and HTML encoding works just fine.

There are cases where simply Javascript encoding introduces XSS (for example, outputting into an OnX attribute on an element). The existence of this method encoura

[2016-02-02 18:18] blowdart commented on #4001
#4033

[2016-02-02 18:55] kichalla commented on #4002
I am guessing by this you mean that a layout is being applied to the partial view...layouts are not supposed to be applied to partial views...@kennywangjin, is this what you are noticing?

[2016-02-02 18:56] Eilon commented on #4033
This is the property in question: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/IHtmlHelper.cs#L61-L64

It doesn't appear to be used anywhere in MVC, so it should be fairly clean to remove.

[2016-02-02 18:59] Eilon commented on #4002
Layouts can be applied to partials if they are explicitly set in the partial. But the layout of an "outer page" of course shouldn't be automatically applied to partials (or anything else, aside from the page that specified it).

[2016-02-02 19:18] #3930 closed

[2016-02-02 19:22] rynowak commented on #3774
The issue here is that we don't try to validate something that already appears valid. The idea is to avoid duplicating work when we have a cycle. However, cycles are rare, and validation may depend on the container-object for correctness.

The criteria that we're using in this case is the model state dictionary care, which we've seen can definitely overlap between model objects. We should just cha

[2016-02-02 20:10] #3621 closed

[2016-02-02 20:10] #3622 closed

[2016-02-02 21:44] Eilon commented on #3774
@kichalla donating this bug to you, it is a gift from @rynowak .

[2016-02-02 23:43] NTaylorMullen commented on #4004
096007b394019f24586deb066b09a56258960774

[2016-02-02 23:43] #4004 closed

[2016-02-03 05:23] dougbu commented on #3964
@markusvt I remain unable to reproduce this issue with the information provided so far. Any other or corrected information you can provide? Or any smaller project where you've seen this issue?

[2016-02-03 09:27] markusvt commented on #3964
I did post just a fraction of the `Basicpart_Value` class. If it is possible i can put the whole project in a ZIP file and send it to you?

[2016-02-03 16:37] blakepell commented on #1808
If the dictionary of keys were exposed on the caching class it would be trivial to implement a delete all from cache or by pattern (I know the arguments against getting an iterator on the keys).  I posted an issue in the cache project because I can't see a way to inspect the contents of the cache for diagnostics (the MemoryCache class exposes the Count from the underlying dictionary with a comment

[2016-02-03 17:00] adrien-constant commented on #3091
I could not find a way to use RazorViewEngine.GetView() (or FindView) with a path outside of the project directory (by specifying the full path of the views directory).
Is it possible ? Maybe with IViewLocationExpander?

[2016-02-03 17:12] kichalla commented on #4033
bf93c7d7a440e514be8dd91558c15e1f3def4d7c

[2016-02-03 17:12] #4033 closed

[2016-02-03 17:39] kichalla commented on #3763
f888ced1f22532dd7bb998690afb15cb2b02dc37

[2016-02-03 17:39] #3763 closed

[2016-02-03 18:13] dougbu commented on #3964
@markusvt that's fine. Please send to dougbu at microsoft dot com.

[2016-02-03 19:31] #3904 closed

[2016-02-03 20:04] #3893 closed

[2016-02-03 21:45] kichalla commented on #4002
@kennywangjin It would be helpful to investigate if you can give us a repro. Feel free to re-open it with additional details and repro code.

[2016-02-03 21:45] #4002 closed

[2016-02-03 22:12] Eilon commented on #3888
It seems that the big questions here have been answered so I'm closing this.

If there are further questions please log new issues on them.

[2016-02-03 22:12] #3888 closed

[2016-02-03 22:34] Eilon commented on #3994
The ApiExplorer should still come in handy here - it has the information you need to determine which URL patterns are available. What's missing is the component that can match a "candidate URL" to the list of available URL patterns in the ApiExplorer. You'd need to run the "candidate URL" through the routing system to see which route pattern matched it, and then look up that pattern in ApiExplorer

[2016-02-03 22:48] Eilon commented on #3608
Hi folks, this seems like an issue with the Docker tooling and publishing experience. We contacted the team that owns that experience and let them know about this issue.

[2016-02-03 22:48] #3608 closed

[2016-02-03 22:51] rynowak commented on #2798
That's pretty cool! Is a widget itself exposed as an HTTP endpoint or does it require a page to include it when you do a POST?

We've simplified this substantially in RC2, invoking a VC now takes a dictionary-ish (most likely an anonymous type) to contain the arguments.

[2016-02-03 23:16] carolynvs commented on #3608
Is there a github issue for the "docker tooling and publishing experience" team that we can subscribe to?

[2016-02-03 23:20] Eilon commented on #3741
Hi folks, I tried this out an the *fallback* feature seems to be working just fine. The fallback exists to support loading a local copy of Bootstrap JS, Bootstrap CSS, jQuery JS, etc. when the CDN isn't available and that's working fine. But there's no feature to do fallback for the glyphicon *fonts*.

I logged a bug in the templates repo to remove the ASP.NET CDN reference for Bootstrap because o

[2016-02-03 23:20] #3741 closed

[2016-02-03 23:47] rynowak commented on #491
Final change in routing aspnet/Routing@dd46f6b00f036081ba23843de8a0fb96902fd55c

[2016-02-04 00:30] benaadams commented on #4016
Hopefully halved strings created by form parsing with last commit of https://github.com/aspnet/HttpAbstractions/pull/550