[2018-05-02 22:50] dougbu commented on #6286
This is correct for `type='date'`, `type='time'` and `type='datetime-local'` fields. However it is not correct in general because values may be displayed in `type='text'` fields or a `<textarea>`.

MVC makes no use of browser capabilities. However the switch you're requesting could be built on top of this framework. For example, could enable tag helpers as services, subclass `InputTagHelper` / `Te

[2018-05-02 23:11] dougbu commented on #6286
@mkArtakMSFT / @danroth27 if we get additional interest in this area, we could make it easier to override the default way this feature works e.g.
1. Limit where we use `HtmlHelperOptions.Html5DateRenderingMode`, `ViewContext.Html5DateRenderingMode` and `IHtmlHelper.Html5DateRenderingMode` to situations where we're _sure_ a `type='date'`, `type='time'` or `type='datetime-local'` field will be gener

[2018-05-03 00:26] GVG commented on #7726
After digging MVC source code I've found what caused this behavior.
`app.UseStatusCodePagesWithReExecute("/Error/{0}");` caused it.
The flow is following:
1. RouterMiddleware is invoked with correct HttpContext.Request.Path and `if (context.Handler == null)` is false
2. return BadRequest();
3. StatusCodePagesMiddleware is invoked with HttpContext.Response.StatusCode = 400, ContentLength = null and

[2018-05-03 01:35] JunTaoLuo commented on #7710
The current thinking is that we will not change any changes to the web sdk to allow the reference to the metapackages Microsoft.AspNetCore.App and Microsoft.AspNetCore.All to be flowed transitively.

This is because even if we were to make the transitive references flow, the build msbuild targets will not. This means that while the app will be run on the latest aspnetcore shared frameworks via rol

[2018-05-03 04:53] dougbu commented on #7710
What makes references to the meta-packages special in this context? Other dependencies of a referenced project flow without causing MSBuild issues.

If I'm understanding, we changed the meta-packages to be treated as `PrivateAssets='All'` when brought in implicitly. Is it not possible to revert that change?

----
Am I correct _any_ project (e.g. a unit test project exercising a service implementat

[2018-05-03 09:07] ckams commented on #7703
@NTaylorMullen No comment?

[2018-05-03 10:04] khellang commented on #7726
It sounds like it's doing exactly what it's supposed to do. You've told it to re-exectue the pipeline with `/Error/{0}` as the path if it gets back an error response, and that's what it's doing. If you don't have anything to handle `/Error/400`, then it'll fall through to the redirect MW.

Then don't use `StatusCodePages` 😉 As the name suggests, it's meant to return a status code *page*. If you wa

[2018-05-03 10:26] kichalla commented on #7726
@khellang the scenario seems a bit interesting if you have MVC and api in the same app, in which case there needs to be a way for `UseStatusCodePagesWithReExecute` to no-op in case of let's say all request urls starting with '/api'.
Probably there should be an overload which accepts a predicate taking in httpcontext to decide whether this middleware should no-op or not? cc @Tratcher

[2018-05-03 10:45] khellang commented on #7726
But what's the point of re-executing the pipeline when you don't have anything that can handle the re-execution?

`UseStatusCodePages` already has an overload taking `Func<StatusCodeContext, Task>`. It should be pretty easy to no-op for API calls using that.

[2018-05-03 10:58] GVG commented on #7726
@kichalla or maybe mark controllers and/or actions with special attribute if this will work.
An attribute which defines action/controller type would be useful. Then you can make entire controller an MVC controller and one action in it as an API action (this is my case). This will allow to handle them in different ways. I.e. for MVC method we can return page `/Error/400` and for API it will be JSON

[2018-05-03 11:30] khellang commented on #7726
Yes, `UseStatusCodePages` is meant to produce an error page for a status code, which doesn't work for APIs.

The question is; why are you using it in your API?

No matter what you do inside MVC, it still won't prevent whatever middleware you have in your pipeline from executing. If you don't want to produce status code pages in your API, you need to make sure the status code page middleware doesn'

[2018-05-03 11:33] GVG commented on #7726
@khellang I'm not using UseStatusCodePages for API. I'm using it for MVC.

[2018-05-03 11:46] khellang commented on #7726
Then why is this even an issue? 😝

[2018-05-03 11:51] GVG commented on #7726
@khellang did you read what I wrote? Please stop leaving useless comments and wasting everyone's time.

[2018-05-03 11:55] khellang commented on #7726
Sorry, I was just trying to help. I'll see myself out. Good luck with your MVC/API app.

[2018-05-03 12:00] GVG commented on #7726
Thank you. That's very kind.

[2018-05-03 12:13] vanillajonathan opened #7727 "Model with required dictionary is always invalid"
#### Is this a Bug or Feature request?:
Bug.

#### Steps to reproduce or link to a repro project:
[code]

[code]

POST as `application/json`.
[code]

Result:
[code]

#### Description of the problem:
The model validation always fails when the model contains a property of type dictionary and that property is decorated with the Required attribute.

#### Version of `Microsoft.AspNetCore.All`:
2.0.7

[2018-05-03 14:17] grahamehorner commented on #2910
@gilm0079 I opted to use a TagHelper extending the partial to have an optional flag

[2018-05-03 16:38] mkArtakMSFT commented on #6516
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-03 16:38] #6516 closed

[2018-05-03 16:41] mkArtakMSFT commented on #6394
@NTaylorMullen, is the bug related to TagHelpers' date formatting mentioned above fixed? Or do we have a tracking bug somewhere which we can link from here?

{0:yyyy-MM-ddTHH:mm:ss.fff} Which is wrong if one want a international date-time format. In fact the : is interpreted by DateTime and DateTimeOffset formatter as the time separator not as a literal :. If I remember correctly, in order to have

[2018-05-03 16:45] mkArtakMSFT commented on #6286
Thanks @dougbu. As there was no much request during all this time for this issue (no thumbs-up or anything similar) we'll just close this. Of course, taking into account your workaround.

[2018-05-03 16:45] #6286 closed

[2018-05-03 16:47] mkArtakMSFT commented on #6173
Closing this as there were no much interest from community in this ask. Also, given the fact that any headers can be set manually this isn't a blocking issue.

[2018-05-03 16:47] #6173 closed

[2018-05-03 16:48] mkArtakMSFT commented on #6145
Thanks for investigating this, @dougbu. Moving this to the Backlog as this is not a priority for the upcoming milestone.

[2018-05-03 16:51] mkArtakMSFT commented on #6106
Closing this is this doesn't seem related to MVC. If you feel that this is still a problem, feel free to open a new issue through the VS feedback.

[2018-05-03 16:51] #6106 closed

[2018-05-03 16:55] mkArtakMSFT commented on #6061
Hi @makermanufacturer . Thanks for contacting us. It seems this issue never got any traction from the community, hence we feel like it's not worth the effort.

[2018-05-03 16:55] #6061 closed

[2018-05-03 17:03] mkArtakMSFT commented on #6054
Hi @atuzovic.
It does indeed seem odd to have such dependencies as well as unused arguments. However, removing either of those will be a breaking change. @davidfowl, do you think we can do anything here? /cc @ryanbrandenburg

[2018-05-03 17:16] Tratcher commented on #7726
UseStatusCodePages doesn't have any knowledge of what framework was used to generate the response, be it MVC, API, etc.. It's very customizable, but not very smart by itself. Its job is to provide response bodies if you didn't. There are a few different ways of dealing with your mixed use scenario.

A) Teach your "/Error/" route to respond appropriately for both API and MVC requests. It can examin

[2018-05-03 17:37] johnwc commented on #6264
Yes, action needs to be taken to fix the issue to allow testing for subclasses.

[2018-05-03 17:48] JunTaoLuo commented on #7710
There are some email discussions on what other solutions we might have for this issue.

[2018-05-03 19:43] hishamco commented on #6516
I didn't get any respond from the team from that time, I will try to check if I can reproduce this issue and come back again

[2018-05-03 20:05] GVG commented on #7726
@Tratcher Thank you very much! This is exactly what I wanted to know.
So this behavior is considered correct? If so, can you add a note about this to the documentation? Because it was unclear until I ran entire pipeline with debugger.

[2018-05-03 20:28] jbagga commented on #7602
@dougbu How does this look? Any other suggestions?

![image](https://user-images.githubusercontent.com/6234561/39601071-a85dd296-4ed5-11e8-8055-7f2616bb625a.png)

[2018-05-03 20:50] dougbu commented on #7602
@jbagga looks much better than what we have today.

I suggest we need to log about the model state even when executing an implicit handler. For example, is the `PageActionInvoker[101]`  logging dropped when executing a page with no `OnGet[Async]` method while processing a GET request?

[2018-05-03 21:15] pranavkm commented on #7583
In response to: https://github.com/aspnet/Mvc/pull/7564#issuecomment-378016230

@pranavkm `ParameterBinder` is still doing the fallback to `ModelMetadata` thing:
https://github.com/aspnet/Mvc/blob/07a1907918850dc66db5783af1791bf131ebb711/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/ParameterBinder.cs#L221

Can this be simplified now? That is, do we need only `parameter.BindingInfo?.BinderModelNa

[2018-05-03 21:17] Tratcher commented on #7726
Yes, it's correct. What doc were you referencing, this one? https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.1#configuring-status-code-pages

The only thing I see missing from that doc is the override feature.

[2018-05-03 21:28] ClassicDarkChocolate opened #7730 "AcceptedResult should be a StatusCodeResult"
Most of the status action results follow the rule that *Result is a StatusCodeResult and *ObjectResult is an ObjectResult. The AcceptedResult makes people confused and might cause trouble if they have their custom OutputFormatter. I suggest that create a AcceptedObjectResult to replace the original AcceptedResult, then make the AcceptedResult inherits StatusCodeResult.

[2018-05-03 21:35] dougbu commented on #7583
Even when `AllowTopLevelValidation == false`, `parameter.BindingInfo` should reflect all available metadata. That is, how could `metadata.BinderModelName != null` when `parameter.BindingInfo?.BinderModelName == null`?

[2018-05-03 21:58] pranavkm commented on #7583
Clearly not straightforward, but doable 😄

[code]

[2018-05-03 22:30] pranavkm commented on #7583
Ahh, that may be a way to fix it. Although my slight concern is the extra object allocation per call. Updating `ParameterBinder` in place would be less than correct since it's shared state, but it also feels crummy to allocate a new instance of `ParameterBinder` to null-coalesce a string. I'd actually be ok if we just remove the coalescing entirely - it's likely not common to specify a name via `M

[2018-05-03 22:35] jbagga commented on #7602
Yes you are right. It does not log implicit handlers

**Handler method present:**
![image](https://user-images.githubusercontent.com/6234561/39605568-ed467970-4ee5-11e8-9665-fcc9750710f3.png)

**Handler method implicit:**
![image](https://user-images.githubusercontent.com/6234561/39605795-09aa6292-4ee7-11e8-9ebc-c549a078cff8.png)

[2018-05-04 01:08] jbagga commented on #7602
@dougbu The second image is what I added for implicit handler logging in my PR. There was no implicit handler logging before.

[2018-05-04 15:10] q42jaap opened #7735 "Expose FileVersionProvider.GetHashForFile (with caching)"
#### Is this a Bug or Feature request?:
Feature request

#### Description of the problem:
We're using a multi zone azure setup where we deploy first to 1 datacenter and then to the next. All traffic is handled by 1 azure traffic manager/loadbalancer (I'm leaving out how we deploy to a staging slot first, since I'm not sure how it is exactly done, and I doubt whether this is relevant).
The site use

[2018-05-04 16:41] mkArtakMSFT commented on #5998
Hi @grahamehorner. Sorry for our late response. It looks like there was no much community interest in this request, hence we're going to close it for now, as it doesn't align with our priorities at the moment. /cc @DamianEdwards

[2018-05-04 16:41] #5998 closed

[2018-05-04 16:43] mkArtakMSFT commented on #5922
Closing this, as there was no much interest for this. Also, it's not a priority at the moment.

[2018-05-04 16:43] #5922 closed

[2018-05-04 19:37] os1r1s110 commented on #4215
Don't know where to post my question so I'm doing it here hoping someone will see it and be able to give a small explanation of why things are like they are.

I was trying to localize enum display attributes and it never worked even if using the recommended approach of setting a SharedResource class for all data annotations localization. I was wondering why it didn't work and tried to figure it ou

[2018-05-04 20:48] #7602 closed

[2018-05-04 21:32] muratg commented on #7710
Folks, this is in the 2.1.0 milestone.  Any product changes we epect to do in 2.1?  If so, we'll need to send this to shiproom ASAP.

[2018-05-05 03:12] qibucloud opened #7737 "System.AggregateException: An error occurred while writing to logger(s). (Too many open files) ---> System.IO.IOException: Too many open files"
[code]

[2018-05-07 03:37] yhnbgfd opened #7738 "Action locked in a single-threaded system"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
This is my repo to reproduce the problem : https://github.com/yhnbgfd/aspnetcore2.1-bug-test

#### Description of the problem:
In a ```single-core single-threaded``` operating system, use HttpClient in an Action and loop multiple times to call another local Action. For example, the api/Values/TestGet i

[2018-05-07 06:02] nefcanto opened #7739 "APK packages is not served in ASP.NET Core MVC"
I want to serve .apk files in my ASP.NET Core MVC project, and I can't since it returns 404.

I created a simple ASP.NET Core MVC project using default template in VS 2017, and added the `.apk` file to `wwwroot` folder, and then I tried to reach it using `/application.apk` path, and it didn't work, while `/favicon.ico` works, and other static contents in that directory work, because in the default

[2018-05-07 10:07] Kalyan1989 opened #7740 "MemoryStream CopyTo method does not work over REST if the file size is more (approx. >100KB)"
#### Is this a Bug or Feature request?:
This is bug observed while writing REST service for downloading file to temporary location over server machine. The same code works fine on client side.

#### Steps to reproduce or link to a repro project:
Client code: Client.cs

[code]

Server code: Server.cs

[code]
#### Description of the problem:
For .xml file size of 2KB, the code works fine and temp fi

[2018-05-07 10:14] khellang commented on #7740
How does this relate to ASP.NET MVC? I can't see any MVC-specific code in here.

Maybe you could psuh a repro project to GitHub and link it here?

[2018-05-07 10:25] khellang commented on #7739
web.config is for configuring IIS. Unless you're using IIS to serve static files, this will make no difference.

As stated in [the documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-2.1&tabs=aspnetcore2x#non-standard-content-types):

If you want to serve APK-files using the static files  middleware, you can either turn on `ServeUnknownFileTypes`,

[2018-05-07 10:34] khellang commented on #7738
You should take a look at [Diagnosing issues in ASP.NET Core applications](https://vimeo.com/254635669). They talk about (and demo) quite a few issues like these.

[2018-05-07 10:37] khellang commented on #7738
The "bug" in this case, is that you're never waiting for the `GetStringAsync` call to finish. You should either `await` it in the loop, or collect all the tasks and `await Task.WhenAll` at the end of the method.

[2018-05-07 13:01] yhnbgfd commented on #7738
@khellang thank you for your reply.
These two pieces of code are the codes in my project. They also have the above problems. The test code was written by me on a temporary basis, so there are many areas that are not well thought out, but only under the single-threaded operating system, this phenomenon will only appear under the 2.1 version. Is this the problem of the 2.1 version?

[code]

[code]

[2018-05-07 13:40] yhnbgfd commented on #7738
I updated my test code,and still have that problem：
[code]
Then I created a console application, but he is normal：
[code]

[2018-05-07 13:41] khellang commented on #7738
I think it would be better to use `await Task.WhenAll` instead. Also, 100 concurrent requests sounds a bit... excessive?

[2018-05-07 13:53] yhnbgfd commented on #7738
@khellang I just tried what you said ```await Task.WhenAll```,but still have that problem.
[code]
Because I wrote an interface for generating simulation data and tested the performance of the interface by the way, so it called a lot of local interfaces. I had been on a multi-core computer so I had no problems. Until recently I moved the project to a single platform. The nuclear single-threaded com

[2018-05-07 13:55] q42jaap commented on #7735
*Update:*
Even with the Verizon CDN, we experience this problem. The new html references the new versionHash, but could still be handled by an older instance of the app, or the 2nd datacenter. We've come up with our own implementation of a `FileVersionProvider`-like class.

[2018-05-07 14:27] SWarnberg opened #7741 "XmlSerializerOutputFormatter can't serialize DataSets with object (sql_variant) columns"
#### Bug:
The following exception is thrown when a DataSet is serialized with the **XmlSerializerOutputFormatter**, and the DataSet contains a column of type "xs:anyType".
[code]
#### Steps to reproduce or link to a repro project:

1. Create a Controller with an Action that returns a DataSet.
2. The Action must be configured to return xml. For instance by using the Produces("application/xml") attr

[2018-05-07 17:39] mkArtakMSFT commented on #7741
Thanks for contacting us, @SWarnberg.
@pranavkm, can you please investigate this?

[2018-05-07 17:53] mkArtakMSFT commented on #7735
Thanks for contacting us with this issue, @q42jaap.
I do agree that the proper fix here would be on the CDN side, to respect the `version` info.

@rynowak, @pranavkm do you think providing extensibility for the `FileVersionProvider` is a feasible option for us? Or maybe you'd have a better suggestion here?

[2018-05-07 17:56] rynowak commented on #7741
This should issue should be moved to dotnet/corefx - our formatter just calls XmlSerializer, and we don't control how XmlSerializer behaves

[2018-05-07 18:02] mkArtakMSFT commented on #7738
Hi @yhnbgfd.

In your example you're actually not reusing the `HttpClient` instances. So every time your `TestGetAsync` action is called, a new `HttpClient` instance is created. Try to euse the `HttpClient` instance by defining such a member on the controller level. Then, just refer to it from your API.

/cc: @rynowak

[2018-05-07 18:04] mkArtakMSFT commented on #7739
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-07 18:04] #7739 closed

[2018-05-07 18:17] mkArtakMSFT commented on #7740
Hi @Kalyan1989. As @khellang had pointed out, this has nothing to do with MVC. We're closing this issue. Consider opening a new one in https://github.com/dotnet/corefx repo, as that seems to be a better place for this.

[2018-05-07 18:17] #7740 closed

[2018-05-07 18:44] bpaczkowski commented on #7719
* Version of MVC: `2.1.0-preview2-final`
* Raw request:
[code]

* Action signature, though I'm not sure if that's what you meant: `public async Task<MyClass> UploadFile(List<IFormFile> files)`

[2018-05-07 19:00] kichalla commented on #7719
Try changing `name="file"` to `name="files"` to match with the name of the actual parameter name.

However I am puzzled when you say this just works when you change your action to be `UploadFile(IFormFileCollection files)` and using `name="file"`, is this true or was it a oversight at your end?

[2018-05-07 19:13] bpaczkowski commented on #7719
`IFormCollection` works with any name, even empty one.

I changed name to `files` and `IFormFileCollection` and `List<IFormFile>` both started working, but to be honest, this is not something I would expect, it should ignore the name in my opinion. At least every other framework I used ignored it.

[2018-05-07 19:44] JunTaoLuo commented on #7710
The final decision is not to make any changes in 2.1.0. The expectation is that the user will need to make the aforementioned changes where the test project will need:
1. An implicit reference to the aspnetcore metapackages like <PackageReference Include="Microsoft.AspNetCore.App" />.
2. Change the SDK from Microsoft.NET.Sdk to Microsoft.NET.Sdk.Web

We will explore creating templates for better g

[2018-05-07 19:44] #7710 closed

[2018-05-07 20:36] Tadimsky commented on #6890
@mkArtakMSFT so should I do:

[code]

[2018-05-07 20:57] bpaczkowski commented on #7719
Notice I mention both `IFormFileCollection` and `IFormCollection`, 2 different interfaces. The former doesn't work with any name, the latter does. It would be nice if there was some way to keep the `IFormCollection` behavior, one use case I have in mind is when you want to make sure one and only one file is sent, something you can't validate if you could just use a different form-data name to make

[2018-05-07 21:02] rynowak commented on #6890
Yes, that's what we're asking, what's the outcome when you do that?

In general these kinds of problems appear due to how route value invalidation occurs. It's briefly touched upon [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.1#url-generation), but values are used from the ambient values until the first 'different' value is encountered - based on the l

[2018-05-07 21:57] dougbu opened #7744 "Run functional tests with a `TestLoggerFactory`"
Change `MvcTestFixture` to use this test logger factory. This will exercise most, if not all, events and ensure we don't encounter NREs with logging enabled.
#### Is this a Bug or Feature request?:
Task

#### Steps to reproduce or link to a repro project:
See recent fix for a problem that was not caught in MVC tests: #7742

#### Description of the problem:
See discussion in #7742, starting with ht

[2018-05-07 21:57] dougbu commented on #7744
Self-assigning this simple task.

[2018-05-07 22:35] khellang commented on #7719
`IFormCollection` has a different binder (`FormCollectionModelBinder`). This probably doesn't care about the parameter name. But it seems that `FormFileModelBinder` *does* care about the parameter name.

[2018-05-07 22:40] kichalla commented on #7719
I read the following line too fast

@bpaczkowski The behavior that you are seeing is by design. `IFormCollection` is just the whole bag of data that is posted in a request so it does not depend on the name.

[2018-05-07 23:16] mkArtakMSFT commented on #5902
Hi @ashleyglee. Thanks for contacting us. It seems this issue wasn't something we've seen much interest from the community, and it's not a priority for us at the moment. So we're going to close it for now. If the situation changes in the future and we'll see higher demand of this feature from the community, we'll reconsider it.

[2018-05-07 23:16] #5902 closed

[2018-05-07 23:26] mkArtakMSFT commented on #7730
Actually, it seems that the type in question `AcceptedResult` has been release, so the proposal is a breaking change, which is something we try to avoid as much as possible. That said, we won't be changing this as there are customers using it the way it is already.

[2018-05-07 23:26] #7730 closed

[2018-05-07 23:28] rynowak commented on #7730
We would not make a breaking change in this area just to improve the naming.

@ClassicDarkChocolate - for context, what's there is the combination of what was present in old WebAPI and old MVC with as few breaking changes from those systems as possible.

[2018-05-07 23:31] mkArtakMSFT commented on #7726
@Tratcher, who should handle the requested docs change here? Or should we just have a new docs issue created for this?
As I understand, there is no other action here, is there?

[2018-05-07 23:35] #7051 closed

[2018-05-07 23:38] Tratcher commented on #7726
We haven't identified any concrete changes for the docs so far. Do the comments at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.1#configuring-status-code-pages make sense to you in this context?

[2018-05-07 23:49] pranavkm commented on #5778
Dup of https://github.com/aspnet/Mvc/issues/4300?

[2018-05-08 02:01] yhnbgfd commented on #7738
@mkArtakMSFT hi，I tried to reuse httpclient, the problem is still
but when I upgraded to 2.1.0-rc1-final, the problem was fixed

[2018-05-08 02:06] #7738 closed

[2018-05-08 07:18] hez2010 opened #7747 "partial view bug of MVC website in .NET Core 2.1 RC1"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
I use .NET Core 2.1.300-rc1 to create a new MVC web app with individual authentication, then I use identity scaffolder (visual studio -> right click my project -> add -> new scaffolded item -> identity) and specify layout file with "~/Views/Shared/_Layout.cshtml" to generate identity related code in Ar

[2018-05-08 07:28] tverboon opened #7748 "Enum Display attribute localization not translated by DataAnnotationLocalizerProvider"
#### Is this a Bug or Feature request?:
Bug or By Design

#### Steps to reproduce or link to a repro project:
[code]

[code]
#### Description of the problem:
I have registered a DataAnnotationLocalizerProvider in the Startup and was actually expecting the translations to be defined in the corresponding resource file, but the Display Names weren't translated, although it should work according: #519

[2018-05-08 09:25] McKabue commented on #6330
https://gist.github.com/McKabue/b5caf25f9862b2488a9fa7898e22e86e

[2018-05-08 09:25] McKabue commented on #2622
https://gist.github.com/McKabue/b5caf25f9862b2488a9fa7898e22e86e

[2018-05-08 09:40] q42jaap commented on #7735
@mkArtakMSFT Please not that with the verizon CDN, premium or standard, this problem still exists. The way we use the CDN in front of the traffic manager to handle the traffic for our static files causes these problems.
The Verizon CDN can be configured to respect the version hash in the query string, no need to switch to premium for that.

[2018-05-08 13:27] davidparker opened #7749 "Razor pages now breaks if you edit any html content whilst running"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
Add any Html content   i.e   <br />

#### Description of the problem:
When running you used to be able to alter html and refresh to see the changes
now when you alter any html at all, you get the following error:

(0,0): Error RZ3007: Targeted tag name cannot be null or whitespace.

after upgrading fro

[2018-05-08 14:07] tbertenshaw commented on #7617
Managed to fix it by adding
`    <PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0-rc1-final" />`
to my FunctionalTests csproj.

Seems obvious but didn't spot updated docs so wasn't sure what steps were needed.

[2018-05-08 14:11] guardrex commented on #7617
@tbertenshaw Docs are in the works :point_right: https://github.com/aspnet/Docs/pull/6086

Fairly early stages tho ... engineering hasn't looked at the PR yet ... so keep that in mind if you read/follow any advice provided.

[2018-05-08 15:09] expressiveco opened #7750 "Custom Routes"
I am trying to get following routes work. So, i have the following GlobalTemplatePageRouteModelConvention. Is it the ideal solution? How could i get it better?

Pages;
/Index.cshtml
/TestDir/Index.cshtml
/TestDir/TestPage.cshtml

Handlers;
public void OnGet(int? id)
public void OnGetListJson(int? id)

Routes;
"/",
"/1",
"/ListJson",
"/ListJson/1",

"/TestDir",
"/TestDir/1",
"/TestDir/ListJson",
"/

[2018-05-08 15:47] mkArtakMSFT commented on #7750
Hi @expressiveco. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-08 15:47] #7750 closed

[2018-05-08 15:49] mkArtakMSFT commented on #7749
Thanks for contacting us, @davidparker.
@pranavkm, is this a known issue?
/cc @NTaylorMullen

[2018-05-08 16:07] mkArtakMSFT commented on #7748
Hi @tverboon. Thanks for contacting us.
Can you share the repro project as a git repo? That would help us a lot.

[2018-05-08 16:10] mkArtakMSFT commented on #7747
Thanks for contacting us, @hez2010.
@javiercn, can you please look into this? Do we have anything to do here, or is this pure scaffolding issue?

[2018-05-08 16:18] mkArtakMSFT commented on #5778
Yes, this is indeed a dupe. Closing this one in favor of the referenced issue.

[2018-05-08 16:18] #5778 closed

[2018-05-08 16:39] mkArtakMSFT commented on #7719
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-08 16:39] #7719 closed

[2018-05-08 16:51] mkArtakMSFT commented on #7713
Hi. We're closing this issue as no response or updates have been provided in a timely manner and/or we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-08 16:51] #7713 closed

[2018-05-08 17:19] javiercn commented on #7747
Thanks for bringing this up to our attention @hez2010.

@mkArtakMSFT I do believe both to be scaffolding issues. I think they are both fixed for RTM. @seancpeters can confirm this.

For the issue regarding Html.Partial is a matter of changing it to use the partial tag helper.
For the issue regarding the link not working, you are likely missing the line that enables the tag helpers on the page (typ

[2018-05-08 17:19] #7747 closed

[2018-05-08 18:16] JunTaoLuo commented on #7617
FYI the workaround was discussed in #7710

[2018-05-08 19:02] dougbu commented on #7744
ec2d5c7aa4

[2018-05-08 19:02] #7744 closed

[2018-05-08 19:40] pranavkm commented on #7735
The [recommendation](https://stackoverflow.com/a/9692773) is to embed file versions in their name rather than in a query string. IMO, this seems like a much nicer solution to trying to mess around with the cache headers. My suggestion involves

1) a publish target that publishes files with a version e.g. `site.{hash}.css`
b) writes the mapping of original file names to a file

The tag helpers woul

[2018-05-08 20:00] mkArtakMSFT commented on #6867
Thanks @sebastienros.
@danroth27, is this a scenario we'd like to invest in or its a special case we'd like to leave as is?
FYI: I do take into consideration the fact that the Dispatcher work will have some improvements here.

[2018-05-08 20:01] mkArtakMSFT commented on #7726
@Tratcher, this is specifically what I've referred to above:

[2018-05-08 20:26] q42jaap commented on #7735
@pranavkm I still have to add that such a manifest and the infrastructure around reading out these values (probably want to cache them like `FileVersionProvider`) needs to be more open than currently is the case.

Furthermore, a CDN with a trafficManager behind it will not know which server to address to actually get that unique filenam, which would cause 404's on css/js during a rolling deploy. I

[2018-05-08 22:15] mkArtakMSFT commented on #7077
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-08 22:15] #7077 closed

[2018-05-08 23:33] pranavkm commented on #928
This issue's being tracked as a C# language feature here - https://github.com/dotnet/csharplang/issues/313. There's also a 3rd party tool that post processes the generated doc comments - https://www.inheritdoc.io. I'd much rather we just wait for the feature to land and close this issue. We haven't done any work on this issue forever 🥀

[2018-05-09 00:06] guardrex commented on #7710
@JunTaoLuo Little confused about why I'm *not broken* given the discussion here and on #7617. I set up the test project for the integration testing sample like this ...

[code]
... note the lack of use of Web SDK and the lack of a package reference for the App package.

It didn't seem to have a problem (except for a bunch of package warnings). Seems to run ok ...

[code]

Is there a delta between

[2018-05-09 00:29] guardrex commented on #7710
@JunTaoLuo Nevermind ... I read your remarks and surmise the answer is 'yes' to my rubber :duck: question. I'll cover it in the topic updates.

[2018-05-09 00:35] stephentoub commented on #7028
FileSystemWatcher uses `inotify` on Linux.  I'm not aware of any limit on the number of files, but there are several other limits, which you can both see and set via procfs:
- http://linuxinsight.com/proc_sys_fs_inotify_max_queued_events.html
- http://linuxinsight.com/proc_sys_fs_inotify_max_user_instances.html
- http://linuxinsight.com/proc_sys_fs_inotify_max_user_watches.html

[2018-05-09 00:38] guardrex commented on #7710
Side note tho: It's choking on having ...

[code]

Seems ok tho removing the `Content Include` ...

[code]
... but still getting hundreds of package ref errors. We can look at that later on the PR.
[code]

[2018-05-09 01:16] pranavkm commented on #2432
Getting back to this after a while. Things have changed a bit, as of 2.0, the abstraction that Razor's parsing and code generation works with is the [RazorProjectFileSystem](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Language/RazorProjectFileSystem.cs). One way to go about doing what you're trying to do here would be to add a composite that augments the default file pr

[2018-05-09 01:16] #2432 closed

[2018-05-09 01:27] pranavkm commented on #2885
The API exists in .NET Standard - https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.-ctor?view=netstandard-2.0#System_Globalization_CultureInfo__ctor_System_String_System_Boolean_. Populating `RequestLocalizationOptions.SupportedCultures` with instances  of `CultureInfo` constructed using the overload constructor does the job.

@mkArtakMSFT  should be good to close this,

[2018-05-09 01:43] pranavkm opened #7753 "[Analyzer]: Warn when the parameter name for a model bound complex parameter has the same name as a top level property"
Related issue: https://github.com/aspnet/Mvc/issues/3735

Consider:

[code]

In this case, the `Problem` property would only bind if the value on the wire is `problem.Problem`. Renaming the parameter name to a different value would allow both `problem` and `different.Problem` to bind. This tends to be a pretty big gotcha.

[2018-05-09 01:45] pranavkm commented on #3735
The debug log actually does a fairly reasonable job logging what it looked for:

[code]

Perhaps an analyzer (https://github.com/aspnet/Mvc/issues/7753) would better improve the experience, while not changing the behavior?

[2018-05-09 01:58] pranavkm commented on #5784
Given that we have Razor UI in class libraries - https://blogs.msdn.microsoft.com/webdev/2018/03/01/asp-net-core-2-1-razor-ui-in-class-libraries/ and support for an embedded file provider that preserves file names correctly (https://github.com/aspnet/FileSystem/blob/dev/src/FS.Embedded/build/netstandard2.0/Microsoft.Extensions.FileProviders.Embedded.props#L3), could this be closed? It doesn't exac

[2018-05-09 02:04] pranavkm commented on #6421
@bgever is this still a concern? Mvc 2.x targets `netstandard2.0` that can be referenced from application targeting `net461`. This unblocks your initial concern, doesn't it?

[2018-05-09 02:04] JunTaoLuo commented on #7710
Adding the Microsoft.AspNetCore.App reference and changing the sdk isn't always required to make the tests pass. @guardrex in your case, the tests work because you are referencing the .App package explicitly and specifying the version. Normally, the templates do not have a version number and our implicit version logic would have marked the package with PrivateAssets=All. Since that did not happen,

[2018-05-09 02:09] pranavkm commented on #7735
You might be serving incompatible js or css, that doesn't sound optimal. But I'm not going to question your deployment experience.

We already have an issue - https://github.com/aspnet/Mvc/issues/6371- to make the `FileVersionProvider` interface a contract and that's marked as up-for-grabs. It seems like if you had access to the contract, it should unblock you. Would you like to consider contribut

[2018-05-09 02:14] guardrex commented on #7710
@JunTaoLuo There was no error ... that was my question ... I was wondering *why I wasn't getting an error*. I wasn't repro-ing what's in this issue.

I wasn't referencing the package (and I wasn't using Web SDK). The test app was working with ...

[code]

It works just as well with the updates you recommended ...

[code]
... but with just a couple of other changes not mentioned:
* `<OutputType>Exe

[2018-05-09 02:31] qibucloud opened #7754 "An error occurred while sending the request. ---> System.Net.Http.CurlException: Couldn't connect to server"
[code]

[2018-05-09 02:31] tuespetre commented on #5784
@pranavkm yes/si/ja/oui/hai

[2018-05-09 02:31] #5784 closed

[2018-05-09 03:26] rynowak commented on #7754
Hi @qibucloud - this is not a help site. Please do not open issues for general .NET questions or issues unrelated to MVC Core.

[2018-05-09 03:26] #7754 closed

[2018-05-09 03:32] rynowak commented on #2432
Side note, these kinds of techniques will not work at all with build-time Razor and will have non-existent tooling/intellisense support. I'm not sure there's a future where we **ever** provide support this kind of dynamism in MVC.

[2018-05-09 03:33] rynowak commented on #3735
This would be a great case for an analyzer. We know this is confusing and users perceive it as buggy even though it's unfortunately intended to work the way it does.

[2018-05-09 03:37] rynowak commented on #7028
The following is not directed at @nlowe  .... 😆

---

I feel like we need a standard response to these issues, or documentation, or to make the polling file-watcher the default. We know that file watching is a best-effort mechanism. We (MVC) also don't directly control any of these things and we can't react to them.

I think we should set the expectation that you shouldn't rely on the filewatcher

[2018-05-09 03:49] plutext opened #7755 "Is it possible to do web api attribute routing by content type?"
#### Is this a Bug or Feature request?:
feature request

#### Steps to reproduce or link to a repro project:

#### Description of the problem:

I'd like to be able to consume either posted JSON or form data at the same endpoint.

https://andrewlock.net/model-binding-json-posts-in-asp-net-core/ suggests using different endpoints, but I can't do that on this occasion

https://massivescale.com/web-ap

[2018-05-09 04:43] rynowak commented on #7755
We have a similar feature - I looked and it unfortunately isn't covered in the docs.

It would look like:
[code]

[2018-05-09 04:50] VahidN commented on #7029
This method worked for me:

-  delete `obj` and `bin` folders
-  run `dotnet restore`
-  run `dotnet build`

[2018-05-09 05:49] plutext commented on #7755
Thanks a lot for the quick response!  Trying it now, it doesn't seem to play nice with CORS handling.

For example, client sends:

[code]
Having implemented CORS handling using the usual services.AddCors, the OPTIONS request causes: ```
Microsoft.AspNetCore.Mvc.Internal.AmbiguousActionException: Multiple actions matched. The following actions matched route data and had all constraints satisfied

[2018-05-09 06:08] rynowak commented on #7755
Are you trying to handle CORS requests yourself? It's not very typical to handle options requests manually.

Can you describe how you have CORS configured? Do you have one policy you want to apply globally? or are you trying to apply different behaviors per action?

[2018-05-09 06:09] rynowak commented on #7755
The doc here discusses CORS in ASP.NET Core. https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-2.1

Note that generally you'd either want to use the middleware **or** the attributes.

[2018-05-09 06:35] paulomorgado commented on #2885
That explicit opt-in seems to be a good solution.

[2018-05-09 07:28] chuanboz commented on #4785
Asp.net used to have WebApi vs. MVC difference, In the new asp.net core, I do not see WebApi related class, is that replaced by MVC and if so, shall we use Mvc.Core if we do not need any UI but just for the traditional WebApi?

I also see there is AddMvc vs. AddMvcCore extensions.

is there any public document talking about pure WebApi experience in the new asp.net core world?

[2018-05-09 07:39] plutext commented on #7755
For cors, I have the following attribute on my controller class:

` [EnableCors("AllowAllOrigins")]`

and in Startup.cs I have:

[code]
This was working fine when I had just a single endpoint method (ie either for JSON or form binding, not both).

I don't want to handle options requests manually;  what I posted a few hours ago was just an attempt to get around the AmbiguousActionException which th

[2018-05-09 08:26] q42jaap commented on #7735
Yes the incompatible js or css is less than ideal, unless the Azure traffic manager is going to support CDN capabilities internally, we're stuck in this situation. Taking 1 zone out of the traffic manager also isn't optimal.

I'd be willing to contribute to #6371 how should we proceed?

[2018-05-09 08:28] q42jaap commented on #6371
We are running into an issue (see #7735) where we want to verify version hashes in the static files middleware. I'd be willing to contribute.

[2018-05-09 08:34] tverboon commented on #7748
Hi @mkArtakMSFT,

Got a git repo: https://github.com/tverboon/enum-localization

In the final commit, everything is localized by using two resx files. Commit before that, only Name label is localized.

[2018-05-09 09:31] rynowak commented on #7755
OK, could you post what your actual action signatures look like so we can investigate this?

In the mean time I expect that adding something like the below will work around your problem:
[code]

The extra action method will be an additional candidate for action selection, but won't get run in CORS cases. Then if someone does manage to reach it, they will get a 415.

[2018-05-09 09:58] plutext commented on #7755
CORSHACK() (returning StatusCodeResult) worked fine thanks.

My actual signatures are:

[code]
CreateSessionData is just a bunch of string fields with getters/setters.

[2018-05-09 10:18] ryanelian opened #7756 "Question: How to customize error handling for [ApiController]?"
#### Is this a Bug or Feature request?:

Feature Request / Question

#### Steps to reproduce or link to a repro project:

[code]

**Startup.cs**

[code]

#### Description of the problem:

When an error occurs in Controller classes marked with `[ApiController]`, I don't want them to return HTML but JSON instead:

- In development, instead of Developer Exception Page, ideally the API Controller shou

[2018-05-09 10:34] tianxiaaiwojs commented on #6777
Hi,
I also hit this problem, at first I hit
`InvalidDataException: Form value count limit 1024 exceeded.
Microsoft.AspNetCore.WebUtilities.FormReader.Append(ref KeyValueAccumulator accumulator)
`
, then i add RequestSizeLimit and DisableRequestSizeLimit but both of them not work.

`[HttpPost]
		//[RequestSizeLimit(20000, Order = 1)]
		[DisableRequestSizeLimit(Order =1)]
		[ValidateAntiForgeryToken

[2018-05-09 12:42] davidparker commented on #7749
not sure what you mean,   Im on visual studio code here,   and the output from my initial post is from the debugger / debug console?   Not too sure what you mean by additional debuggers onto VS Code.

however.   I have run the app ( success, all works ),  added a <br />  tag to index.cshtml and cleared the console.   I have then refreshed.   this is the full stack from that refresh:

[code]
the br

[2018-05-09 13:15] Tratcher commented on #6777
RequestSizeLimit is an overall limit for the total body length. The error you got is for a more specific limit where your form has more than the expected number of entries. Changing ValueCountLimit is appropriate, though using MaxValue is not advised.

[2018-05-09 13:40] Kralizek opened #7757 "Test HttpClient follows redirect when asked not to"
#### Is this a Bug or Feature request?:
Playing around with the new `WebApplicationFactory<T>` from `Microsoft.AspNetCore.Mvc.Testing 2.1.0-rc1-final`.

I have an untouched `dotnet new mvc` project tested by a NUnit test project.

Here is the test fixture

[code]

The test fails with the following output

[code]

Here are the two project files

Web project:
[code]

Test project
[code]

[2018-05-09 14:04] khalidabuhakmeh commented on #7757
I would suggest looking at the delegating handlers on the client. I would guess that for some reason the call to `WebApplicationFactoryClientOptions.CreateHandlers()` is ignoring the boolean you set to `true`.

I looked up the code and this approach is interesting. I'm curious why it was written this way.

[code]

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Testing/WebAppli

[2018-05-09 14:14] davidparker commented on #7749
Just downloaded visual studio for mac,   ran same scenario, and got same result from there too, just to check this was not an issue with vs code or something like that.    Defiantly a bug here,  however I was wrong when i said if I delete the element, and refresh the error stays.    I just tried with a new paragraph tag with text and got same error, removed the new element and all worked fine.   I

[2018-05-09 14:25] davidparker commented on #7749
Found that if i delete the obj folder and the bin folder  that seems to have removed the issue and I can not longer replicate.   So this is probably more of a build issue than anything else and somehow holding onto past builds.   clearing everything out and starting fresh eradicates the issue, so this cant be an issue with Razor Pages or MVC directly,   maybe a roslyn or editor issue ????

Should

[2018-05-09 14:55] khellang commented on #7756
All behavior related to the `ApiControllerAttribute` is defined in the `ApiBehaviorApplicationModelProvider`:

https://github.com/aspnet/Mvc/blob/504da3c565a9a159365b4564dba5f2cd7d059e7f/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L57-L91

AFAIK, the `ApiControllerAttribute` doesn't affect exception handling.
You might be referring to the `ModelStateInvalidFil

[2018-05-09 15:27] mkArtakMSFT commented on #6264
@NTaylorMullen, @SteveSandersonMS can you guys please work together to come up with a good solution here? Thanks!

[2018-05-09 15:55] mkArtakMSFT commented on #7726
Thank you for your feedback, @GVG.
We're closing this issue as the behavior discussed seems to be by design.

Also, I'm not sure when, but it seems that the `UseStatusCodePagesWithReExecute` method is already pointed out in the docs @Tratcher referred to.

[2018-05-09 15:55] #7726 closed

[2018-05-09 16:02] mkArtakMSFT commented on #7757
Thanks for contacting us regarding this, @Kralizek.
@javiercn, can you please look into this?

[2018-05-09 16:09] mkArtakMSFT commented on #7749
Hi @davidparker.
We do not specifically support a scenario you've run into.
Our recommendation is to rebuild if you upgraded any packages.
And it seems after rebuild things worked just fine.

Closing the issue now.

[2018-05-09 16:09] #7749 closed

[2018-05-09 16:14] mkArtakMSFT opened #7759 "precompiling views which are in separate project"
_From @guylando on May 9, 2018 12:28_

I would like to perform views precompilation in the following scenario for net core version 2.1.0-rtm-30733 targeting net461:

Solution has 2 projects:
Project A has the startup.cs class and all the logic
Project B has wwwroot and Views

project A loads project B views using:
.AddRazorOptions(options =>
                {
                    options.FileProvid

[2018-05-09 16:15] mkArtakMSFT commented on #7759
@pranavkm , can you please look into this one? Thanks!

[2018-05-09 16:18] mkArtakMSFT commented on #7748
Thanks @tverboon. @ryanbrandenburg, can you please look into this? Thanks!

[2018-05-09 17:13] NTaylorMullen commented on #6264
Looking at `document.styleSheets` seems to be a great fix for this and would make the css link TagHelper far more useful. @SteveSandersonMS may have more context on if there's a better way to fix this issue, or if there's hidden pitfalls in `document.styleSheets` that we're unaware of.

[2018-05-09 17:17] guylando commented on #7759
@pranavkm I added a reference from project A to project B and seen that the dll of project B appeared when publishing and then for a test I uploaded to the server and removed the Views folder and then the site can't load anymore. Did I do something wrong? I thought it should now work the the dll and not look into the files because if it still looks at the files then there is still performance prob

[2018-05-09 17:20] pranavkm commented on #7759
Could you share your app (e.g. push it to a repo on GitHub)? Might be easier to figure out 😄

[2018-05-09 17:25] pranavkm commented on #6371
Here's my suggestion for what this could look like:

[code]

[2018-05-09 17:26] guylando commented on #7759
Can't do that because its a company code, however I can share logs.
What I described should have worked? the site should have loaded from the dll without the Views folder?

here are some logs of view lookup:

info: Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker[2]
      Executed action method XXX.YController.Z (XXX), returned result Microsoft.AspNetCore.Mvc.ViewResult in 121.6243ms.
dbu

[2018-05-09 17:27] guylando commented on #7759
Do I need to remove the file provider code I spoke about previously?

[2018-05-09 17:38] pranavkm commented on #7759
You shouldn't need the file provider unless you're attempting to edit the file and expect it to recompile when you hit refresh in the browser. A couple of things to look for

1) Does the output directory of Project A have a ProjectB.Views.dll?
2) If you scroll up the logs for the first request to a view, you should see something along the lines of:

[code]
or a log message that says no compiled vi

[2018-05-09 17:49] mkArtakMSFT commented on #7756
@pranavkm, do we have any guidance here? Or is @khellang's suggestion inline with the approach we'd suggest?

[2018-05-09 17:50] rynowak commented on #7755
@mkArtakMSFT  - this is worth having someone investigate. It looks like using `[Consumes]` and CORS together doesn't work without a spooky workaround.

[2018-05-09 18:13] dougbu commented on #7710
@guardrex this is _not_ the recommended reference anymore. That was an early workaround I found while initially debugging the issue.

Instead, please use and recommend leaving the `Version` choice to the Web SDK:
[code]

[2018-05-09 18:25] guardrex commented on #7710
@dougbu Hum ... ok ... first time I'm hearing about this ... been heads-down busy on docs issues and still receiving news on upcoming bits. Thanks for letting me know.

[2018-05-09 18:28] pranavkm commented on #7735
Closing since we're tracking making the API public as part of https://github.com/aspnet/Mvc/issues/6371.

[2018-05-09 18:28] #7735 closed

[2018-05-09 18:49] vaindil opened #7760 "JWT types are not interpreted properly"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
[Repro project is attached here](https://github.com/aspnet/Mvc/files/1989091/JWTClaimTypeRepro.zip). You can get the token with a POST to `/token`, then you can get the claim types that are in the JWT by calling GET `/token/test` with the JWT sent via normal bearer authorization.

#### Description of t

[2018-05-09 18:55] kichalla commented on #7760
cc @Tratcher @HaoK

[2018-05-09 19:44] pranavkm commented on #5435
This works out of the box with Razor Class libraries. Since it's our recommended pattern for sharing views via class libraries (over embedded files), really nothing to do here.

[2018-05-09 19:44] #5435 closed

[2018-05-09 19:44] guylando commented on #7759
1) project A has ProjectB.dll, it does not have ProjectB.Views.dll
2)no "Initializing Razor view compiler with compiled" messages, instead:
dbug: Microsoft.AspNetCore.Mvc.Razor.RazorViewEngine[1]
      View lookup cache miss for view '_CCPartial' in controller 'yyy'.
dbug: Microsoft.AspNetCore.Mvc.Razor.Internal.RazorViewCompiler[1]
      Compilation of the generated code for the Razor file at 'C:

[2018-05-09 19:50] guylando commented on #7759
Those are old projects, maybe they have something missing in csproj? I prefer to compare myself with a correct csproj. Where can I find a csproj which has correct properties to allow views precompilation?

[2018-05-09 19:51] guylando commented on #7759
Also: I currently have the following in ProjectB csproj:
<PackageReference Include="Microsoft.AspNetCore.Mvc.Razor.ViewCompilation" Version="2.1.0-rtm-30733" PrivateAssets="All" />

[2018-05-09 20:38] guylando commented on #7759
@pranavkm check out this solution I created to reproduce the scenario:
https://github.com/guylando/ViewsPrecompilation
currently there is a framework error when executing but other than that, it is similar to the scenario I described

[2018-05-09 21:00] guylando commented on #7759
So here is the problem: my Project B indeed does not reference Microsoft.AspNetCore.App package. So how to still make it compile the views?

[2018-05-09 21:27] khellang commented on #7760
This isn't a bug, it's by design. The JWT handler translates the claim types from the JWT standard into .NET claim types. If you want to disable this, you should clear the inbound claim type map:

[code]

[2018-05-09 21:39] khellang commented on #4785
@chuanboz If you do want to use Mvc.Core, you should check out [this blog post](http://benfoster.io/blog/bare-metal-apis-with-aspnet-core-mvc) which explains a bit more and shows you how to set up a bare metal API using it.

[2018-05-09 21:41] pranavkm commented on #7759
Sent you a PR with the changes. Here's more docs about the Sdk - https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/sdk?view=aspnetcore-2.1

[2018-05-09 21:50] mkArtakMSFT commented on #7755
Thanks @rynowak.

@javiercn, can you please look into this?

[2018-05-09 21:55] pranavkm commented on #6590
This was fixed as part of https://github.com/aspnet/Mvc/commit/ccb67931268f9396652a22044e3563a98b2a5c8f. There's a `Key` property on the attribute that you can optionally set. As of 2.1.0, the keys also default to the property name, without a prefix, so you could do something along the lines of `TempData[nameof(MyModel.PropertyName)]`

[2018-05-09 21:55] #6590 closed

[2018-05-09 21:57] pranavkm commented on #6545
Looks like both @dougbu \ @rynowak had suggestions for your original question. Feel free to open a new issue if you have further questions.

[2018-05-09 21:57] #6545 closed

[2018-05-09 21:57] vaindil commented on #7760
Sorry, I didn't know what repo to put this in. :/

That seems very strange to me, that I would need to create the token with one type but access it with another. But that's not a question for here, as you said, so I'll close this. Thank you, and sorry!

[2018-05-09 21:57] #7760 closed

[2018-05-09 22:06] pranavkm commented on #6754
For 2.1.0, we also have support properties annotated with `ViewDataAttribute` in both controllers and Razor Page models. We recommend using it over using ViewData or ViewBag.

Closing since it doesn't look like there's any further discussion to be had here.

[2018-05-09 22:06] #6754 closed

[2018-05-09 22:08] khellang commented on #7760
Hey, no need to be sorry. You're not the first to find this weird, and certainly won't be the last.

It's been discussed back and forth in thw community for years. Here's one issue; https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/415

[2018-05-09 22:12] LentoMan commented on #4215
I agree with the previous comment, it seems like the **DataAnnotationsMetadataProvider** uses the **IStringLocalizerFactory.Create()** directly rather the **DataAnnotationLocalizerProvider** specified in options. This looks like a bug to me, or at least there should be some kind of provider you can specify for enums so that you can use a shared resource for them as well.

As for a workaround, I cr

[2018-05-09 22:14] pranavkm commented on #7046
This behavior will not change. It's by design, attribute routes are preferred to conventional routes.

Because it adds an additional constraint that the attribute route does not meet.

The guidance here would be to consistently use attribute routing or conventional routing. Conflating the two, in particular, where your route values appear identical is going to result in the sort of issues you're r

[2018-05-09 23:31] pranavkm commented on #7378
Dup of https://github.com/aspnet/Mvc/issues/6928.

[2018-05-09 23:31] #7378 closed

[2018-05-09 23:34] pranavkm commented on #7408
Dup of https://github.com/aspnet/Mvc/issues/7675. Using the newer issue since it's already assigned to me.

[2018-05-09 23:34] #7408 closed

[2018-05-09 23:34] pranavkm commented on #7675
Another scenario listed here - https://github.com/aspnet/Mvc/issues/7408

[2018-05-09 23:36] pranavkm commented on #7347
As part of addressing https://github.com/aspnet/Mvc/issues/7608, we removed the option to modify the AreaPagesRoot. This is no longer a valid scenario.

[2018-05-09 23:36] #7347 closed

[2018-05-09 23:36] chuanboz commented on #4785
thanks @dougbu  and @khellang , the link you two give are very helpful and answered my questions.

[2018-05-09 23:39] pranavkm commented on #7273
@blowdart, looks like the CVE still needs to be updated. That said, the "workaround" is to apply the instructions from these two issues in order -

* https://github.com/aspnet/Announcements/issues/284
* https://github.com/aspnet/Announcements/issues/285

[2018-05-09 23:46] mkArtakMSFT commented on #6850
Hi.

It seems there is no action here for us to take here, so we're going to close this issue. If you believe that this is something important to you, you can submit a suggestion at https://visualstudio.uservoice.com,

[2018-05-09 23:46] #6850 closed

[2018-05-09 23:47] mkArtakMSFT commented on #6406
We're closing this issue as there are no any plans to support this in the near future.

[2018-05-09 23:47] #6406 closed

[2018-05-09 23:48] pranavkm opened #7761 "setupAction parameter in MvcLocalizationServices.AddLocalizationServices is never invoked"
https://github.com/aspnet/Mvc/blob/47287c508ee43c4f30b8000400fda1b01f68bfe2/src/Microsoft.AspNetCore.Mvc.Localization/Internal/MvcLocalizationServices.cs#L32-L46

[2018-05-10 00:42] pranavkm commented on #6054
The earliest we could do this is in 3.0 since removing a package would be a breaking change.

Fixing this as part of https://github.com/aspnet/Mvc/pull/7762

[2018-05-10 01:25] ryanelian commented on #7756
@khellang

Very interesting! But I really mean exception handling...

I wish there is a way to check whether the request is an API Controller. Something like:

[code]

[2018-05-10 01:28] pranavkm commented on #7024
@hikalkan would you like to send a PR for this?

[2018-05-10 01:39] pranavkm commented on #4438
@kichalla added a bunch of logging as part of https://github.com/aspnet/Mvc/issues/6498. Here's what the results look like for MvcSandbox with trace:

[code]

Seems pretty detailed to me. Is there any further work we need to do here?

[2018-05-10 02:52] taori opened #7763 "Question: Is this behavior of the route attribute working as intended?"
#### Is this a Bug or Feature request?:
It is potentially a bug

#### Steps to reproduce or link to a repro project:
- Create TestController
- Add [Route("api/v1/[controller]/[action]")] to controller
- Create a signature like
[code]

#### Description of the problem:
expected route: Test/Bananas
actual route: Test/Bananas/Oranges
i am not 100% sure of this, but i think mvc5 worked as expected here

[2018-05-10 03:01] #7763 closed

[2018-05-10 03:35] pranavkm commented on #3020
Fixed via https://github.com/aspnet/Mvc/pull/5640, https://github.com/aspnet/Mvc/commit/dbff416be60ad6accccb4afa33785e7db660152e

[2018-05-10 03:35] #3020 closed

[2018-05-10 05:29] pranavkm commented on #6599
Dup of https://github.com/aspnet/Mvc/issues/3735. The plan of action is to add an analyzer to cover this - https://github.com/aspnet/Mvc/issues/7753

[2018-05-10 05:29] #6599 closed

[2018-05-10 05:31] pranavkm commented on #3909
@NTaylorMullen should we close this? We haven't had any customer asks for this as yet

[2018-05-10 05:52] dougbu commented on #7354
@pranavkm I believe I was updating a project I'd used in previous validation rounds when I hit this. But, I don't think I have that test system anymore.

In any case, I'll retry the scenario with `typeof(BodyTypeModelBinder)` and see if I hid an `ActivatorUtilities` issue with that type too.

[2018-05-10 05:53] hikalkan commented on #7024
Sure, I can. I added to my TODO list and will send a PR soon. Thanks.

[2018-05-10 05:58] pranavkm commented on #7354
A bit of a tangent, but the current solution for disambiguating ctors in `ActivatorUtilities` is to annotate the preferred one with an attribute. If we run in to this sort of scenario frequently enough, we could consider adding a negative preference to ctors with `Obsolete` attribute. That said, so far most of the ctors that we've added generally add additional parameters that come from DI which l

[2018-05-10 12:01] kichalla commented on #7719
This would create an inconsistent experience IMO. For example, if I there is a `List<string> names` parameter, a user can expect it to work here too.

[2018-05-10 14:18] John0King commented on #7046
But if we keep `ActionContext.ActionDescriptor.RouteValues` ,  we can avoid this issue .
In fact I prefer this behavior ：
- `Url.Action()`  without parameters   use `ActionContext.RouteData.Values` to generate current Url.
- `Url.Action(action:"Index"...)` with parameters use `ActionContext.ActionDescriptor.RouteValues` to generate new Url.

unless if u in a route url  `[controller]/[action]/{v1}/

[2018-05-10 15:27] javiercn commented on #7757
Hi,

The client is not following redirects. What happens is that we changed the redirection middleware to avoid redirecting when we can't know the HTTPS port. We no longer infer 443, given that its not setup in the test context, the original request simply goes through.

If you look at the HttpClient instance returned, it doesn't contain a redirect handler.

@Tratcher How do you set the port so th

[2018-05-10 15:30] javiercn opened #7765 "Provide a helper method to enable HTTPS in functional tests"
#### Is this a Bug or Feature request?:
Feature

#### Description of the problem:
The HTTPS middleware doesn't redirect by default if we can't infer the HTTPS port. We want to provide a helper method on the WebApplicationFactory so that its easy to setup for functional tests.

When not enabled, customers will think that the testing infrastructure is broken when its not.

[2018-05-10 15:41] Tratcher commented on #7757
https://github.com/aspnet/BasicMiddleware/blob/1c0918c1f19d3eee220c76a0203bb3d4235f60e1/samples/HttpsPolicySample/Startup.cs#L22-L26

[2018-05-10 15:44] Tratcher commented on #7757
Or https://github.com/aspnet/BasicMiddleware/blob/1c0918c1f19d3eee220c76a0203bb3d4235f60e1/test/Microsoft.AspNetCore.HttpsPolicy.Tests/HttpsRedirectionMiddlewareTests.cs#L230-L234

[2018-05-10 15:59] jonmeyerson opened #7766 "Standard Error Response Provider"
#### Is this a Bug or Feature request?:
Feature Request / Question

#### Steps to reproduce or link to a repro project:
1. Include API Versioning and initiate a bad request with an invalid version.
2. Violate the expected modelstate on a request with ValidateModelAttribute applied.
##### Startup.cs
[code]
##### ValidateModelAttribute.cs
[code]
##### Controller.cs
[code]
Sample 400 Responses:
[code

[2018-05-10 16:47] pranavkm commented on #7719
Perhaps limit this to `IFormFileCollection`? The name for `IFormCollection` parameter \ properties isn't considered today, perhaps there's already precedence?

[2018-05-10 17:10] mkArtakMSFT commented on #7766
Thanks for contacting us, @jonmeyerson. One of our team members will look into it and get back to you.

[2018-05-10 17:11] mkArtakMSFT commented on #7766
@kichalla, can you please investigate this one? Thanks!

[2018-05-10 17:37] karelz opened #7768 "partial view bug of MVC website in .NET Core 2.1 RC1"
_From @hez2010 on May 8, 2018 4:33_

I use .NET Core 2.1.300-rc1 to create a new MVC web app with individual authentication, then I use identity scaffolder (visual studio -> right click my project -> add -> new scaffolded item -> identity) and specify layout file with "~/Views/Shared/_Layout.cshtml" to generate identity related code in Areas/Identity automatically.

When I try to build, the compil

[2018-05-10 17:37] karelz commented on #7768
_From @kasper3 on May 8, 2018 7:12_

this belongs to https://github.com/aspnet/razor or https://github.com/aspnet/mvc

[2018-05-10 17:43] mkArtakMSFT commented on #7753
@glennc, this would benefit API scenarios too. Should we consider this as part of 2.2?

[2018-05-10 17:49] pranavkm commented on #7768
@javiercn does scaffolding need to be updated?

[2018-05-10 17:49] mkArtakMSFT commented on #7712
@dougbu, @ZsoltBendes has provided a repro now. Please advise on what's wrong with the usage he has (assuming that's the case).

[2018-05-10 17:54] mkArtakMSFT commented on #5753
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-10 17:54] #5753 closed

[2018-05-10 17:56] hez2010 commented on #7768
I found a new bug.
the scaffolder will ignore the layout file which user specified and keeps "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml" layout file as "/Areas/Identity/Pages/_Layout.cshtml" despite the file /Areas/Identity/Pages/_Layout.cshtml doesn't exist.

[2018-05-10 17:59] mkArtakMSFT commented on #5814
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-10 17:59] #5814 closed

[2018-05-10 21:04] guylando commented on #7759
@pranavkm can you please check again https://github.com/guylando/ViewsPrecompilation
I changed the csproj to be like in my real projects and it stopped generating .Views.dll.
What made it stop?

[2018-05-10 21:33] guylando commented on #7759
I get:
Microsoft.AspNetCore.Mvc.Razor.Internal.RazorViewCompiler: Debug: Initializing Razor view compiler with no compiled views.
After adding Microsoft.NET.Sdk.Razor to my project. Still without View.dll

[2018-05-10 22:40] pranavkm commented on #7759
This line - https://github.com/guylando/ViewsPrecompilation/blob/master/B/B.csproj#L17. We continue supporting the precompilation tool - explicitly setting `MvcRazorCompileOnPublish` is treated as opting in to precompilation and no-ops the Sdk. Try removing it.

[2018-05-10 22:42] pranavkm commented on #3938
Got to this overnight. Self assigning

[2018-05-10 23:31] pranavkm commented on #7766
You could build something like this for controllers annotated with `ApiControllerAttribute` using https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ApiBehaviorOptions.cs#L25. The plan is to standardize around `ProblemDetails` - https://github.com/aspnet/Mvc/issues/6786 for API error responses in the future.

[2018-05-10 23:42] pranavkm commented on #5851
@msmolka are you still seeing this? I tried reproducing your error using Mvc 2.1.0-rc1-final, and ModelState turns out to be valid. Could you reopen the issue with a sample app if you're still seeing this?

[2018-05-10 23:42] #5851 closed

[2018-05-10 23:44] pranavkm commented on #3044
We can close this. We haven't had any customer reports of this.

[2018-05-10 23:44] #3044 closed

[2018-05-11 00:19] guylando commented on #7759
Thanks a lot! it works now.
I would recommend updating the docs which are midleading https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-2.1&tabs=aspnetcore2x
and also the name MvcRazorCompileOnPublish seems to say that it should allow compiling razor when in reality it prevents it from compiling.
@mkArtakMSFT you can close the issue, thanks

[2018-05-11 00:35] dend commented on #928
Today, we don't support this capability in our managed reference pipeline.  I suggest reading [this conversation](https://github.com/mono/api-doc-tools/issues/152) about the plans on it.

[2018-05-11 00:42] pranavkm commented on #928
@dend we generally over ever use `<inheritdoc />` without attributes in our code. It sounds like if the plans come to fruition, the docs would light up correctly without us having to change things in our repo?

[2018-05-11 02:26] mkArtakMSFT commented on #6719
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-11 02:26] #6719 closed

[2018-05-11 04:22] futuralogic opened #7770 "BindingSource for IEnumerable<IFormFile> ApiController parameters on is incorrectly inferred as FromBody"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
I have a working controller action that receives a `List<IFormFile>` and defaults to mvc model binding to upload files to a web api endpoint.

See [File Uploads MS docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.1) article which I used as a reference.  It's

[2018-05-11 04:42] rynowak commented on #7766
API Versioning isn't a project we maintain/support.

[2018-05-11 06:13] mguinness commented on #6995
@HaoK Which release did this fix make it into?  I tried [Microsoft.AspNetCore.All](https://www.nuget.org/packages/Microsoft.AspNetCore.All/2.0.8) but I still get the issue.

[2018-05-11 06:50] HaoK commented on #6995
It should be in everything after 2.1-preview1

[2018-05-11 09:58] tomkerkhove commented on #6786
This might be a stupid question, but I presume that:
- Default flow for exception in controller will also use the new format?
- I have the capability to return new format results in exception handler?

[2018-05-11 14:52] pranavkm commented on #6786
No, it's primarily meant to convert ActionResult with error status codes to errors.

Yup. The plan would be to have some way to customize what the format looks like. Right now, you could do this for ApiControllers using `ApiBehaviorOptions.InvalidModelStateResponseFactory`. e.g. https://github.com/aspnet/Mvc/blob/dev/test/WebSites/BasicWebSite/Startup.cs#L37-L47

[2018-05-11 14:55] pranavkm commented on #6371
The current API contract is string -> string. I'd rather not change it and let the default implementation assume the string is a file in the IFileProvider.

[2018-05-11 15:12] pranavkm commented on #7355
I think this can be closed. `BindProperty` no longer applies to types.

[2018-05-11 15:17] pranavkm commented on #7229
Fixed in https://github.com/aspnet/Mvc/commit/bab520f4dd358dfd6fa22c727670a7a06a8b25f9#diff-eccb1a9de7356cf6e272d8724c19cd0cL12

[2018-05-11 15:17] #7229 closed

[2018-05-11 15:58] mguinness commented on #6995
So it's not getting backported to 2.0 then?  A little disappointing since it's a bug.  Unfortunately I can't use 2.1 yet as the EF Core provider I use doesn't support it.  What workarounds are available, create a derived AuthorizeAttribute?

[2018-05-11 16:01] HaoK commented on #6995
Don't put attributes on the controller or anywhere else, just put a single one on your actions

[2018-05-11 16:29] mguinness commented on #6995
Yeah, but I have around 20 actions on this controller so not ideal.  At least the documentation at [Authorize with a specific scheme in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.0) should be updated to note this issue.

[2018-05-11 17:05] jonmeyerson commented on #7766
I Updated the project to 2.1-rc-1 and now have these attributes on the controller.
[code]
As for the api versioning i removed it since it did not seem to allow consistency for status code / return types

[2018-05-11 17:36] JeanCollas opened #7771 "Name cshtml views in ASP.NET Core"
I don't know if this is the proper repository or https://github.com/aspnet/Razor but as I am using ASP.NET Core, I am posting here.

I am wondering if it would be complicated to have a mechanism to "name" the views, like for routes, instead of relying on the file path of these views?

It would be helpful when building modules, instead of calling `/Views/Module1/DisplayView.cshtml` to call from any

[2018-05-11 18:27] pranavkm commented on #7770
Guess we regressed this as part of this change - https://github.com/aspnet/Mvc/pull/7564. We were explicitly looking for parameters that could be assigned from `IEnumerable<IFormFile>` but there isn't a ModelMetada detail for this. For now, the workarounds are:

1) Change the parameter type to `IFormFileCollection i.e. `public async Task<IActionResult> SavePhotosToDb(string accountId, IFormFileCol

[2018-05-11 18:40] joosera commented on #7209
I was hoping this would have worked with either [FromForm] or automatically.
Is there any reason why it doesn't?
I can send multiple IFormFile in a similar way and they get picked up without problems, why doesn't this?

[code]

[code]

[2018-05-11 19:46] joosera commented on #7209
I guess I can just do something like this, but this feels REALLY clunky.

[code]

[2018-05-11 20:41] #6535 closed

[2018-05-11 20:59] #6900 closed

[2018-05-11 21:17] mkArtakMSFT commented on #7766
Hi @jonmeyerson.
We're closing this issue as we'll cover it as part of the other issue @pranavkm has linked to.

[2018-05-11 21:17] #7766 closed

[2018-05-11 21:19] mkArtakMSFT commented on #7771
Hi @JeanCollas.
While this is a good idea in general, this is not something we plan to invest in the near future.

[2018-05-11 21:19] #7771 closed

[2018-05-11 21:34] mkArtakMSFT commented on #7028
Closing this issue in favor of https://github.com/aspnet/Home/issues/3135

[2018-05-11 21:34] #7028 closed

[2018-05-11 21:35] JeanCollas commented on #7771
Fine.
Any specific reason? The roadmap is already full? This is not in line with the strategy? Not in line with design practice? Too complicated to set-up? ...?

I guess I will have to do my own home-made implementation :(

[2018-05-11 21:42] mkArtakMSFT commented on #6618
Hi.

Closing this issue as the linked issue is now complete. If you think there's some other action missing here, please reopen this issue and we can continue the discussion.

[2018-05-11 21:42] #6618 closed

[2018-05-11 21:45] mkArtakMSFT commented on #6264
@NTaylorMullen, @SteveSandersonMS, wouldn't this be a better option: https://github.com/aspnet/Mvc/issues/6619

[2018-05-11 21:49] mkArtakMSFT commented on #6597
Hi @SteveSandersonMS.

Closing this issue now, as we've moved all the identity stuff into Razor pages  and the page model will now handle the `HEAD` requests with `OnGet` handler.

[2018-05-11 21:49] #6597 closed

[2018-05-11 21:51] mkArtakMSFT commented on #6560
Thanks for contacting us, @ericwj.
@pranavkm can you please look into this?

[2018-05-11 21:55] mkArtakMSFT commented on #5549
Hi @beho.

The issue you're running into seems to be different one. Can you please file a new issue for this? We're closing this one now, and we'll track the new one you'll file.

Thanks!

[2018-05-11 21:55] #5549 closed

[2018-05-11 21:55] mkArtakMSFT commented on #5299
@javiercn, can you please look into this? Thanks!

[2018-05-11 21:58] mkArtakMSFT commented on #5713
@dougbu, is there any action to be done here or not?

[2018-05-11 21:59] mkArtakMSFT commented on #5865
@kichalla FYI, as you're doing something in this area

[2018-05-11 22:02] mkArtakMSFT commented on #5098
@pranavkm, can you please look into this? I've already closed the PR as there were a lot of conflicts already (we had been too slow on responding to it).

[2018-05-11 22:03] mkArtakMSFT commented on #5440
Closing as this was too old without any attention....

[2018-05-11 22:03] #5440 closed

[2018-05-11 22:57] dougbu commented on #5713
@mkArtakMSFT it's up to you and @DamianEdwards. We've got a couple of workarounds but I can see @ZacMillionaire's "confusion" point.

## Another workaround
Could turn the tag helper off completely i.e. don't use `asp-for`:
[code]

## Background
We closed the more general #3852 with no action. But, this more focused change and using a property on the tag helper instead of (say) a compatibility swit

[2018-05-12 00:25] johnwc commented on #6264
No, that's not a option. That issue actually sounds like the developer doesn't understand how the fall back test works at all. He just needs to follow what was suggested and use a unique style class for that specific stylesheet.

[2018-05-12 00:43] rynowak commented on #2426
This seems like a good candidate to close, no one asked for this.

[2018-05-12 00:43] #2426 closed

[2018-05-12 01:34] pranavkm commented on #5098
Using https://github.com/aspnet/Mvc/issues/599 to track the remainder of the work here. We need a bit of design around what the tag helper looks like since it affects things like labels as you noted.

[2018-05-12 01:34] #5098 closed

[2018-05-12 01:34] pranavkm commented on #599
Some additional considerations listed here - https://github.com/aspnet/Mvc/issues/5098

[2018-05-12 01:35] #1819 closed

[2018-05-12 01:40] pranavkm commented on #600
Should we close this?

[2018-05-12 01:40] #771 closed

[2018-05-12 01:44] pranavkm commented on #2646
@Mardoxx the recommendation here is to use @ivaylokenov's library - https://github.com/ivaylokenov/AspNet.Mvc.TypedRouting. Could you start a different thread for your question? I'd recommend starting Stackoverflow first, you generally get better traction there from the community.

[2018-05-12 01:44] #2646 closed

[2018-05-12 01:47] pranavkm commented on #2692
At this point, our guidance is to look at a module system such as the one Orchard Core provides. Orchard Core modules allow you to build modules as NuGet packages that can be added to your application on the fly. And you can use them as a low level framework without adopting the entire Orchard CMS infrastructure. Check out https://github.com/OrchardCMS/OrchardCore.Samples to see what this looks li

[2018-05-12 01:47] #2692 closed

[2018-05-12 01:50] pranavkm commented on #2845
At this point, our guidance is to look at a module system such as the one Orchard Core provides. Orchard Core modules allow you to build modules as NuGet packages that can be added to your application on the fly. And you can use them as a low level framework without adopting the entire Orchard CMS infrastructure. Check out https://github.com/OrchardCMS/OrchardCore.Samples to see what this looks li

[2018-05-12 01:50] #2845 closed

[2018-05-12 01:51] pranavkm commented on #2881
Given that a workaround is available, should we close this?

[2018-05-12 01:57] #2885 closed

[2018-05-12 02:28] pranavkm commented on #5417
Think this is covered as part of sharing code with HttpAbstractions. See https://github.com/aspnet/Mvc/issues/5416 and https://github.com/aspnet/Mvc/issues/6743. I don't think we would want to make changes to the type if the plan is to replace it in the future. Feel free to reopen if you think otherwise.

[2018-05-12 02:28] #5417 closed

[2018-05-12 02:31] pranavkm commented on #6601
We tried making `ViewData` work on partial models and it turned out to be difficult since we don't manage the type's lifetime. We can consider supporting `TempData` properties on tag helpers if we get enough customer feedback.

[2018-05-12 02:31] #6601 closed

[2018-05-12 02:33] #6421 closed

[2018-05-12 02:35] pranavkm commented on #6796
Tracking further work using https://github.com/aspnet/Mvc/issues/6928

[2018-05-12 02:35] #6796 closed

[2018-05-12 04:17] #928 closed

[2018-05-12 08:38] cwe1ss commented on #6997
Out of interest, what's the problem with that enum?

[2018-05-12 13:11] Tratcher commented on #6997
Status codes are not a closed set, any code between 100 and 999 is allowed. Enums work best for closed sets where all of the values are known.  That enum does not even include all the standardized codes. It also has multiple entries for some codes. I've found the usability to be lacking as it obscures the actual status code from you.

[2018-05-12 16:18] whizkidwwe1217 opened #7772 "Services.CreateScope() in IWebhost not working anymore"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:

#### Description of the problem:
Before I upgraded to 2.1 preview2, creating a database in startup (Program.cs) works perfectly by instantiating a new service by calling host.Services.CreateScope()

[code]
In 2.1 preview 2, the return type has been changed from IWebHost to IWebHostBuilder. I tried

[c

[2018-05-12 16:31] whizkidwwe1217 commented on #7772
@davidfowl There's no error. The issue is that it doesn't get executed. I tried to put a breakpoint in the Main method but the debugger doesn't seem to hit it.

[2018-05-12 16:42] whizkidwwe1217 commented on #7772
@davidfowl My goal is to execute the extension method MigrateCatalog that takes an IWebHost parameter, so I can get the my migration services from the DI and then create the database. In the version 2.1 preview 2, it doesn't work anymore. Seems like it doesn't get executed, instead it goes straight to the http middleware without resulting to 'can't open database error'.

![image](https://user-imag

[2018-05-12 17:13] hez2010 opened #7773 "ViewBag can not pass anonymous object"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
In Controller:
[code]
In View:
[code]
#### Description of the problem:
the result should be:
A = 1
B = 2
but actually it threw an exception: RuntimeBinderException: 'object' does not contain a definition for 'A'

the same, if I use ViewData to pass the anonymous object, and in View I cast the object to

[2018-05-12 18:52] davidfowl commented on #7772
So you’re saying if you put a break point inside MigrateCatalog the function doesn’t run?

[2018-05-12 20:38] cwe1ss commented on #6997
@Tratcher thank you for the explanation! Sounds good!!

[2018-05-12 21:33] bitcoinbrisbane opened #7774 "System.IO.FileNotFoundException Could not load file or assembly 'Newtonsoft.Json' or one of its dependencies"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
Create a new MVC project with Visual Studio Community 7.5 build1254 on MacOS
Update NuGet packages
Run the web app

#### Description of the problem:
Error is thrown
[code]

#### Version of `Microsoft.AspNetCore.Mvc`
5.6.2

[2018-05-13 01:25] whizkidwwe1217 commented on #7772
@davidfowl It doesn't even breaks into the Main method.

[2018-05-13 01:48] whizkidwwe1217 commented on #7772
@davidfowl Asp.net doesn't even respect the Main function. I even deleted the Program.cs and still runs and goes directly into the Startup.cs. Why is it happening?

[2018-05-13 02:09] whizkidwwe1217 commented on #7772
@davidfowl I think I have figured it out already. I tried digging into the VS code configurations and found out that I have to change the program path since I've changed the target framework.
![image](https://user-images.githubusercontent.com/1977391/39963126-a5798f80-5695-11e8-9c56-34d6230bb775.png)

I will now close this issue. Thanks!

[2018-05-13 02:09] #7772 closed

[2018-05-13 02:10] dougbu commented on #600
@pranavkm not sure why. `ViewData` discovery of `SelectListItem` enumerations is a confusing part of the product and the latest proposal doesn't cause compatibility breaks. Besides, this is in the `Backlog` milestone.

[2018-05-13 02:25] dougbu commented on #6796
@pranavkm we normally close a later issue as a duplicate of an earlier report. Your choice here reverses that. Suggest keeping this issue open instead. (It also contains more details about user scenarios where performance issues are visible.)

[2018-05-13 02:31] dougbu commented on #2881
@pranavkm yes, we don't need `[PasswordInput]`. The only reason `[HiddenInput]` exists is for back-compatibility with MVC 5.2.x.

I shouldn't have called `[UiHint("Password")]` a "workaround". That's the _solution_ we should recommend.

[2018-05-13 07:38] marcuslindblom opened #7775 "Configure Razor Pages in Area without the Pages folder"
Is it possible to configure Razor pages to find the `Index.cshtml` directly under the folder for the area **name**?

This is how my project structure look like without the `Pages` folder.

- Areas
  - App
      - _Layout.cshtml
      - _ViewImports.cshtml
      - _ViewStart.cshtml
      - Index.cshtml
      - Index.cshtml.cs
- Controllers
- Models
- Views
- wwwroot
- Program.cs
- Startup.cs

[2018-05-13 08:28] kishan3034 commented on #7606
Hi @mkArtakMSFT and @AvogadroSG1,
I reproduce this bug. I felt there is no bug.

**Root cause:**
key was added first time panel tag helper get called Process method .  when inner Panel tag helper get called same method again trying to add same key.

i changed your project. and please go through repository **[TagHelperBug](https://github.com/kishan3034/TagHelperBug)**

**Output:**
![image](https://

[2018-05-13 16:00] kishan3034 opened #7776 "question: will you please explain lables using in this repository"
1-ready means anyone can work on it. is it correct?

[2018-05-13 21:08] pranavkm commented on #7773
This is a limitation of the language. Anonymous types are internal to the assembly they are defined in. Views are compiled in an assembly different than your application's. Using a model to pass structured data would be our recommendation. You might also have success using value tuples

[2018-05-13 21:08] #7773 closed

[2018-05-13 21:17] pranavkm commented on #7775
It is not for 2.1.0. Views in Areas go inside the Views directory and we wanted to mirror that by default. We started with the option to allow changing it, but didn't have a good solution in place to not have it affect Razor Pages from 3rd party libraries (e.g. https://www.nuget.org/packages/Microsoft.AspNetCore.Identity.UI). Besides preference, was there a specific reason you were looking to have

[2018-05-13 23:57] AswarthaA opened #7777 "exceptions when starting project for the first time in IIS Express"
#### Is this a Bug or Feature request?:
Bug

#### Description of the problem:
Getting exceptions when starting the project from locally.

Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker: Information: Executed action SIS.Web.Controllers.HomeController.Index (SIS.Web) in 7183.5607ms
Microsoft.AspNetCore.Hosting.Internal.WebHost: Information: Request finished in 8219.2518ms 200 text/html; c

[2018-05-14 06:10] marcuslindblom commented on #7775
Ok I see.

The main reason is to only to get rid of the folder for cosmetic reasons.

[2018-05-14 06:10] #7775 closed

[2018-05-14 07:04] qibucloud opened #7778 "System.IO.IOException: Too many open files"
[code]

Centos 7.2 以上设置好了，但还是会报下面的错误
Centos 7.2 above set up, but still reported the following error

System.IO.IOException: Too many open files
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
   at Microsoft.Win32.SafeHandles.SafeFileHandle.Open(String path, OpenFlags flags, Int32 mode)
   at System.IO.FileStream..ctor(String pat

[2018-05-14 10:47] ZsoltBendes commented on #7712
@mkArtakMSFT in the RC1 I noticed that this issue is not present anymore.

[2018-05-14 13:30] mkArtakMSFT commented on #7778
These all are the same issue:
 - https://github.com/aspnet/Mvc/issues/7576
 - https://github.com/aspnet/Mvc/issues/7623
 - https://github.com/aspnet/Mvc/issues/7737

[2018-05-14 13:30] seriouz opened #7779 "Multi-tenant Razor Pages not possible?"
#### Is this a Bug or Feature request?:
Feature

#### Description of the problem:
How to use RazorPages in an multi tenant szenario? I have two root folders:
The base root `/Pages` folder and a root folder `/Tenants/*` where every tenant has its own folder with its RazorPages which can override or extend the base.
I don't know how this is possible currently, beside setting the `RootDirectoy` to `/

[2018-05-14 13:33] mkArtakMSFT commented on #7778
Hi @qibucloud. To better assist you we will need to have a repro project as well as details about what is your scenario. What are you trying to do and where you're hitting the failure.

[2018-05-14 13:36] mkArtakMSFT commented on #7777
Hi @AswarthaA.
Can you please provide a small repro project so we can investigate the issue?

[2018-05-14 13:51] kishan3034 commented on #7776
I went through code and engineering guide lines. But didn't find anything about labels. How we are using and what it means.

[2018-05-14 14:25] #7776 closed

[2018-05-14 14:34] kishan3034 commented on #7776
thanks @mkArtakMSFT. if i’m  interested to work on non up-for-grabs label items, is it fine. i want to contribute to this repo. want to start with bugs.

[2018-05-14 14:54] rynowak commented on #7774
The call stacks here refer to `System.Web` (old asp.net) which isn't supported on mac.

[2018-05-14 16:54] mkArtakMSFT commented on #7776
Feel free to ping us on the specific issue you're interested in, @kishan3034. In general that's always welcome! It's just that `up-for-grabs` issues are known to be self contained so those will be easier to start with.

[2018-05-14 16:57] kishan3034 commented on #7776
Thanks @mkArtakMSFT. I'll ping.

[2018-05-14 17:08] mkArtakMSFT commented on #7774
This issue was moved to aspnet/AspNetWebStack#160

[2018-05-14 17:08] #7774 closed

[2018-05-14 17:16] mkArtakMSFT commented on #3721
Closing this as there has been no community interest in this issue during this time and it's not planned to happen in the near future.

[2018-05-14 17:16] #3721 closed

[2018-05-14 17:17] mkArtakMSFT commented on #3813
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-14 17:17] #3813 closed

[2018-05-14 17:18] mkArtakMSFT commented on #3489
Closing this issue as there was no community involvement for quite a while now.

[2018-05-14 17:18] #3489 closed

[2018-05-14 17:19] mkArtakMSFT commented on #3584
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-14 17:19] #3584 closed

[2018-05-14 17:26] mkArtakMSFT commented on #600
@dougbu, while the ask is valid, there was no any community involvement in this, which indicates that the value add here is too low. Closing this in an effort to clean up our backlog.

[2018-05-14 17:26] #600 closed

[2018-05-14 17:27] #2881 closed

[2018-05-14 17:46] rynowak commented on #1191
Closing this as we plan to address this in a different way. I don't think this issue contains any valuable information that we don't already track elsewhere.

[2018-05-14 17:46] #1191 closed

[2018-05-14 18:28] pranavkm commented on #7756
Like @ryanelian points out, the model state response factory addresses one aspect of the error handling viz model validation. Handling errors is just as interesting. Speaking to @rynowak, to support Api Controllers over routing would involve

a) Set a flag (maybe a Http feature) as part of executing an API controller
b) Use this in the error handler (Template update)

Speaking to @rynowak, dispatc

[2018-05-14 20:37] mkArtakMSFT commented on #7765
Closing this as this is not a priority for 2.2 milestone.

[2018-05-14 20:37] #7765 closed

[2018-05-14 20:39] mkArtakMSFT commented on #7685
Closing this as it's not a priority.

[2018-05-14 20:39] #7685 closed

[2018-05-14 20:43] kichalla commented on #7685
Wondering why we are closing this rather than putting it into backlog?

[2018-05-14 20:44] mkArtakMSFT commented on #7681
This seems to be a whole new feature request, which will be "add support for MVC to act like a file server". So far we haven't received any ask like that, so closing this for now.

[2018-05-14 20:44] #7681 closed

[2018-05-14 20:48] mkArtakMSFT commented on #7647
This doesn't look like a high priority issue, so will wait for more feedback regarding this ask.

[2018-05-14 20:52] mkArtakMSFT commented on #7609
Change `ModelBinder` to `FromQuery` as a workaround

[code]

[2018-05-14 20:53] mkArtakMSFT commented on #7606
Thanks @kishan3034.

@AvogadroSG1, seems like this is an issue with your code, so we're closing this now.

[2018-05-14 20:53] #7606 closed

[2018-05-14 21:02] mkArtakMSFT commented on #7562
Hi @jonathh21. Sorry for our late response.
We still aren't sure about how we will move forward with the fix here.

[2018-05-14 21:04] mkArtakMSFT commented on #7514
Closing this issue in regards to the bigger effort which encapsulates this (referenced above).

[2018-05-14 21:04] #7514 closed

[2018-05-14 21:05] mkArtakMSFT commented on #7509
Closing this as so far there has been no asks for this. May the situation change in the future we'll know.

[2018-05-14 21:05] #7509 closed

[2018-05-14 21:06] mkArtakMSFT commented on #7484
Closing this as this is not a priority at the moment.

[2018-05-14 21:06] #7484 closed

[2018-05-14 21:07] mkArtakMSFT commented on #7452
Moving this to the backlog for now, waiting for customer feedback.

[2018-05-14 21:08] mkArtakMSFT commented on #7416
Moving this to the `Backlog`

[2018-05-14 21:10] mkArtakMSFT commented on #7409
Not a priority for 2.2, hence moving further to 3.0 for now.

[2018-05-14 21:12] mkArtakMSFT commented on #7398
Closing this as there has been no community interest in fixing this behavior.

[2018-05-14 21:12] #7398 closed

[2018-05-14 21:13] mkArtakMSFT commented on #7386
Closing this issue as we have no plans to do this.

[2018-05-14 21:13] #7386 closed

[2018-05-14 21:16] mkArtakMSFT commented on #7355
Closing as this is obsolete already.

[2018-05-14 21:16] #7355 closed

[2018-05-14 21:18] mkArtakMSFT commented on #7354
Closing this as it seems the underlying issue has been fixed already: https://github.com/aspnet/Home/issues/2871

[2018-05-14 21:18] #7354 closed

[2018-05-14 21:18] mkArtakMSFT commented on #7346
Closing as there were no community involvement at all.

[2018-05-14 21:18] #7346 closed

[2018-05-14 21:21] mkArtakMSFT commented on #7343
@glennc, any thoughts?

[2018-05-14 21:26] mkArtakMSFT commented on #7324
We have multiple other issues covering this ask:
- https://github.com/aspnet/Mvc/issues/7711
- https://github.com/aspnet/Mvc/issues/7415

[2018-05-14 21:26] #7324 closed

[2018-05-14 21:31] mkArtakMSFT commented on #7293
@davidfowl, why is this important? Should we really do this at all?

[2018-05-14 21:32] mkArtakMSFT commented on #7292
This issue was moved to aspnet/Docs#6418

[2018-05-14 21:32] #7292 closed

[2018-05-14 21:36] mkArtakMSFT commented on #7232
Closing this issue as there was no community ask for this.

[2018-05-14 21:36] #7232 closed

[2018-05-14 21:37] mkArtakMSFT commented on #7203
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-05-14 21:37] #7203 closed

[2018-05-14 21:38] mkArtakMSFT commented on #7161
@kichalla, what were your findings in regards to this issue?

[2018-05-14 21:50] mkArtakMSFT commented on #7035
@danroth27, moved this out to Backlog. Please let me know if you believe this should be part of 2.2.

[2018-05-14 21:54] davidfowl commented on #7293
Meh I wouldn’t fight for it. It’s a small thing that would take 5 minutes to do.

[2018-05-14 21:54] mkArtakMSFT commented on #6913
@danroth27 FYI

[2018-05-14 21:57] mkArtakMSFT commented on #6841
Moving out to the `Backlog` as this is not a priority for the upcoming release.

[2018-05-14 21:58] mkArtakMSFT commented on #6827
@sebastienros, is this something you're going to handle or not? I'd close it otherwise.

[2018-05-14 22:13] danroth27 commented on #6913
@glennc @rynowak is Problem Details in scope for 2.2?

[2018-05-14 22:35] khellang commented on #7293
Up for grabs, bro 😉

[2018-05-14 23:03] kichalla commented on #7652
This is by design as the `number` validation of jquery-validation is not what you expect it to be and we default to brower's validation. (more info: https://stackoverflow.com/a/16728588). Even if you were using a workaround (like to add `data-val-numner` manually) for this the end user experience is incorrect.

[2018-05-14 23:03] #7652 closed

[2018-05-14 23:04] kichalla commented on #5865
Discussed with @dougbu and agreed that there's no action item for us here.

[2018-05-14 23:04] #5865 closed

[2018-05-15 05:27] dougbu commented on #7712
Upgrading your repro project to RC1 doesn't change the behaviour in my testing. I _think_ I understand what's going on but not if the problem has gone away in your environment.

[2018-05-15 05:32] hez2010 commented on #7773
@pranavkm but I found that I can use Reflection in View to get the name, type and value of the anonymous object successfully. Why not implement it with reflection by default?

in View:
[code]

it will shows:
[code]

[2018-05-15 05:40] dougbu commented on #7712
FYI in `dev`, this problem is likely at https://github.com/aspnet/Mvc/blob/d9f035ad7c4693c314e293f21bfef7ed002dc8e2/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L258-L260

Put another way, the app model provider is treating `List<int>` as a complex type and unconditionally setting the parameter's `BinderModelName` to `string.Empty` instead of `"ids"`. (Should a

[2018-05-15 10:32] LeroyK opened #7781 "ApiControllerAttribute incorrectly infers CancellationToken parameter as FromBody"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce or link to a repro project:
Create a controller with an [ApiController] attribute that has an action with a [FromBody] parameter and a CancellationToken parameter.

[code]
#### Description of the problem:
InvalidOperationException is thrown when adding an [ApiController] attribute to a controller that has actions that have a Canc

[2018-05-15 11:59] khellang commented on #7781
Definitely related to https://github.com/aspnet/Mvc/issues/7546

[2018-05-15 12:39] durranitech commented on #6725
I have started getting the exact same issue after updating to 15.8 Preview 1 on Windows 8.1.
Only happens in the vs editor. If I build using command line it works fine

[2018-05-15 15:10] aguacongas opened #7782 "XmlSerializerOutputFormatter throws InvalidCastException on async method"
#### Is this a Bug or Feature request?:
Bug, regression

#### Steps to reproduce or link to a repro project:
- Create an Asp.Net Core api project
- Update package to use 2.1.0-rc1-final
[code]
- Add XmlSerializerOutputFormatter in MVC option
[code]
- Update a ValuesController method to use async
[code]
- run the project
- send a request using Accept: application/xml
[code]

#### Description of the

[2018-05-15 16:48] mkArtakMSFT commented on #7782
@aguacongas, thanks for contacting us.
@dougbu, can you please investigate this? Thanks!

[2018-05-15 16:51] mkArtakMSFT commented on #7781
@pranavkm, as you already have looked into the related issue, can you look into this one too? Thanks!

[2018-05-15 16:53] mkArtakMSFT commented on #7781
@LeroyK, are you calling the `SetCompatibilityVersion` in your startup? Look at the issue referred by @khellang.

[2018-05-15 16:55] mkArtakMSFT commented on #7712
Thanks @dougbu. Then I don't understand how is this possible:

@ZsoltBendes, can you also share your `RC1` upgraded project?

[2018-05-15 22:48] mhagrelius opened #7785 "WebApplicationFactory<T> not calling appropriate ConfigureServices"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

1. Create an a web application project, add a ConfigureServicesDevelopment function and add a service to the ServiceCollection
2. Create an xunit project and follow the guide from today's Asp.Net Community Standup for utilizing the new WebApplicationFactory from Microso

[2018-05-15 23:00] khellang commented on #7785
I thought this should've been fixed for RC1? https://github.com/aspnet/Mvc/commit/e0b4c13895fee575544f963b7dbc59d12f8ef7b4

[2018-05-15 23:03] mhagrelius commented on #7785
Yeah I saw that line in the source and wondered, but still doesn't appear to work for me.

[2018-05-15 23:07] khellang commented on #7785
I thought it was supposed to be `ConfigureDevelopmentServices` and `ConfigureProductionServices`?

https://github.com/aspnet/Hosting/blob/2575ebfcfe3f7019bd157fdbab8daaa1d8c45fdb/src/Microsoft.AspNetCore.Hosting/Internal/StartupLoader.cs#L284-L285

[2018-05-15 23:11] mhagrelius commented on #7785
@khellang pointed out that I had named my methods incorrectly. Closing as the error was between keyboard and chair.

[2018-05-15 23:11] #7785 closed

[2018-05-16 05:53] mkArtakMSFT commented on #7779
Thanks for your feature request, @seriouz.
As this is not a priority for the upcoming milestone, we're going to move this to the Backlog to consider in the future.

[2018-05-16 05:54] mkArtakMSFT commented on #7779
/cc @DamianEdwards

[2018-05-16 06:12] jamsheedmp commented on #6833
Thanks **proskilly**,
You saved my time.

[2018-05-16 06:40] drauch commented on #6841
:-(

[2018-05-16 06:41] aguacongas commented on #7782
@dougbu If I apply the workaround, will that work with the fix ?

[2018-05-16 09:23] guylando opened #7786 "Dependency Injection into IViewLocationExpander implementing class"
Is it possible to use constructor Dependency Injection in a class implementing IViewLocationExpander?
It is initialized in Startup.cs ConfigureServices

                .AddRazorOptions(options =>
                {
                    options.ViewLocationExpanders.Add(new CustomViewLocationExpander());
                })
So it seems a problem to inject into the constructor.
Is there some solution?

[2018-05-16 09:51] tangdf commented on #7341
When the database crashes, the index page will always display errors in 60 seconds.

[code]

[2018-05-16 14:36] dougbu commented on #7782
Yes, if you apply the workaround, you'll still be fine after picking up @pranavkm's fix.

[2018-05-16 16:58] pranavkm commented on #7786
You could use `ConfigureOptions` do this: `services.AddOptions<RazorViewEngineOptions>().ConfigureOptions<ICustomService>(options => ...)`

[2018-05-16 16:58] #7779 closed

[2018-05-16 17:25] xmlapi opened #7787 "Question: Custom Page Handler Routing, sample doesn't work"
I want to map a razor page to the following routes: /edit-vehicle OR /new-vehicle (must be same page but with different handlers)

Below is the code for the Vehicle Razor Page:
[code]
Below is the startup.cs code for the page:
[code]

I tried the AddPageApplicationModelConvention sample too but it doesn't seem to work. It always goes into the "OnGet" method

[2018-05-16 17:32] pranavkm commented on #7341
You could call `context.HttpContext.Response.Clear()` in your exception filter prior to setting the result. That would match what the ExceptionHandlerMiddlware does: https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNetCore.Diagnostics/ExceptionHandler/ExceptionHandlerMiddleware.cs#L71. Another suggestion - if you aren't doing particularly interesting in the filter besides redirectin

[2018-05-16 17:54] mkArtakMSFT opened #7788 "Make types which own disposable resources disposable"
This came up in the following PR, where some types which own disposable resources aren't actually disposable: https://github.com/aspnet/Mvc/pull/7780
After a discussion regarding that it seems there was a design decision to not do that for singleton types as there is no much value.
However, there are cases where the types are used in testing for example, where it ends up created and not disposed f

[2018-05-16 18:04] mkArtakMSFT commented on #7597
/cc @glennc FYI

[2018-05-16 19:41] rynowak commented on #7788
I've never heard of this.

In general we don't have much that's disposable.  This is worth looking at, but I expect the impact of this to be really limited.

[2018-05-16 21:03] thegodliek commented on #7652
2 Points here,

First, as mentioned in the thread, default browser's validation doesn't work in all browsers to it's not really a thing to rely about.

Second, this doesn't really address the core issue which is, we still cannot change the validation message of integers in the view model just like we do in other validations, which is in my opinion an inconstant design.

thank you for your reply.

[2018-05-16 21:13] mkArtakMSFT commented on #7597
Hi @aelij.

This sounds like an interesting idea. If you'd like to build something like this, and hit any blockers we'd be interested in learning about these to unblock you, if possible.

[2018-05-16 21:13] #7597 closed

[2018-05-16 21:26] mkArtakMSFT commented on #7788
Doesn't look like there's much we will act on as from disposable types ownership perspective even the above mentioned types should not be disposed.

[2018-05-16 21:26] #7788 closed

[2018-05-16 21:33] mkArtakMSFT commented on #7787
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-16 21:34] mkArtakMSFT commented on #7787
Hi @xmlapi.

Have you tried to take out the dashes `-` from the handle names? That may work.

[2018-05-16 21:34] mkArtakMSFT commented on #7786
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-16 21:34] #7786 closed

[2018-05-16 21:43] mkArtakMSFT commented on #6867
The decision here is to make sure that the initialization happens once.

[2018-05-16 21:50] mkArtakMSFT commented on #5705
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-05-16 21:50] #5705 closed

[2018-05-16 21:51] mkArtakMSFT commented on #5231
@Eilon, what is the status of this issue? 🤣 Should we close this?

[2018-05-16 21:55] mkArtakMSFT commented on #6782
Moving this out from the 2.2 milestone, as it's not a priority.
/cc @DamianEdwards

[2018-05-16 21:56] mkArtakMSFT commented on #6682
We're closing this as it seems this will require a considerable amount of work and is not really a priority.

[2018-05-16 21:56] #6682 closed

[2018-05-16 21:58] mkArtakMSFT commented on #6621
@DamianEdwards FYI

[2018-05-16 23:50] guylando commented on #7786
@pranavkm @mkArtakMSFT
I don't understand the answer.
I want to inject something into CustomViewLocationExpander class constructor. I don't understand how the answer allows me to do that.

[2018-05-16 23:54] pranavkm commented on #7786
[code]

[2018-05-17 03:52] mkArtakMSFT commented on #7778
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-17 03:52] #7778 closed

[2018-05-17 03:53] mkArtakMSFT commented on #7777
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-17 03:53] #7777 closed

[2018-05-17 04:04] mkArtakMSFT commented on #6264
This is not a priority at the moment nor we have received much community interest on this issue.
 Hence I'd be happy to decide the approach we'd like to take here and leave it aside for the community to contribute to, if they will need it. @johnwc, will you be able interested in submitting a PR for this?
@SteveSandersonMS, would be great if you could provide your feedback regarding the proposed so

[2018-05-17 04:16] mkArtakMSFT commented on #6890
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-17 04:16] #6890 closed

[2018-05-17 04:18] mkArtakMSFT commented on #6602
Actually, I'm going to move this to the Backlog as this ask has been there for a while and there wasn't much community interest in this.

[2018-05-17 04:19] mkArtakMSFT commented on #6619
Closing this as a dupe of the referenced issue.

[2018-05-17 04:19] #6619 closed

[2018-05-17 07:14] nisha-kaushik commented on #7024
Hey, I am new to contribution to open source, I want to pick this up as my first contribution.

[2018-05-17 10:58] guylando commented on #7786
how does the code
`
services.AddOptions<RazorViewEngineOptions>().ConfigureOptions
`
integrate with the code
`
services.AddMvc().AddRazorOptions(options =>
                {
                    options.FileProviders.Clear();
                    options.FileProviders.Add(new PhysicalFileProvider(...));
                }).AddJsonOptions().AddDataAnnotationsLocalization().AddViewLocalization()
`
does

[2018-05-17 13:28] SteveSandersonMS commented on #6264
Yes, I agree that inspecting `document.styleSheets` is most likely the most direct solution here.

If we really wanted to keep the existing "feature detection"-style approach, we could change the API to let developers provide the ID of an element that matches one of the selectors used in the stylesheet, then we check whether the expected style property has been applied to it. But checking `documen

[2018-05-17 18:17] mkArtakMSFT commented on #7161
Moving this out to the Backlog as this is not a priority for the upcoming milestone. Also, there has not been much interest from the community in this issue during all this time.

[2018-05-17 19:04] xmlapi commented on #7787
We want to keep friendly URLs so we don't want to remove the dashes. Basically, we're trying to replicate the functionality of MVC Controllers but keeping the "Controller Logic" and "View Logic" together.

So Vehicle Razor Page is actually a "Controller" with multiple "actions" that can be performed: Get Vehicle [Get], New Vehicle [Get], New ProtoType Vehicle [get], Delete Vehicle [POST] and we wa

[2018-05-17 19:27] ryanelian commented on #4190
Laravel (PHP) has redirect function in controller action which can be fluently chained to include errors and form inputs.

https://laravel.com/docs/5.1/validation#other-validation-approaches

[code]

Related to issue topic, it'd be nice if we can do this, instead of manually playing with `TempData` / manually serializing `ModelState`

[code]

[2018-05-17 19:59] ryanelian opened #7791 "Feature Request: AsyncValidationAttribute"
#### Is this a Bug or Feature request?:

Feature Request

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

Proposed API:

[code]

#### Description of the problem:

Introduce new validation attribute for asynchronously validating a model. The method should:

- Be `async` to allow `await`-ing asynchronous validations. For example: against a database table.

- Acce

[2018-05-17 20:27] thiagomajesk commented on #4190
@ryanelian Love the idea! Definitely a lot cleaner than using attributes 👍.

[2018-05-17 21:11] mkArtakMSFT commented on #7791
Thanks for contacting us, @ryanelian.

@glennc is this something we'd be interested in doing?
/cc @rynowak, @danroth27

[2018-05-17 22:03] dougbu commented on #5713
@mkArtakMSFT should be small. Might take a bit longer depending on the assignee

[2018-05-18 00:03] mkArtakMSFT commented on #7791
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in supporting async validation. May the situation change in the future we may reconsider this.

[2018-05-18 00:03] #7791 closed

[2018-05-18 01:43] tangdf commented on #7341
I insist that the results should be cached only if the response is 200.

https://github.com/aspnet/Mvc/blob/c09575dbd0aa9c27aaa5617335ecb35c3d5706fe/src/Microsoft.AspNetCore.Mvc.Core/Internal/ResponseCacheFilterExecutor.cs#L127-L131

The above code should be changed to the following:

[code]

[2018-05-18 05:15] johnwc commented on #6264
Yes, I'd be more than happy to do a PR for this and put some volunteer time in for the project.

What approach are we looking to update it to, the `document.styleSheets` version?

[2018-05-18 13:34] ZsoltBendes commented on #7712
@mkArtakMSFT @dougbu I took one more look on the RC1 project that uses this code, and fails. Looks like I made a mistake when testing this on RC1. Sorry about the that and the confusion it may caused.

**So the bug is still in the repository** :(

[2018-05-18 15:37] ggirard07 commented on #3293
I don't understand how `@IgnoreBody()` is intended to be used.
In ASP.Net Core 2 It returns `void` which seems to not be supported in a Razor layout where at least a return type of `object` is expected:

[2018-05-18 15:42] dougbu commented on #3293
Use `@{ IgnoreBody(); }` instead. I updated the earlier example to fix this typo.

[2018-05-18 16:36] mkArtakMSFT commented on #7787
@pranavkm, can you please suggest how this can be achieved?

[2018-05-18 16:37] guylando commented on #7786
I have put it AFTER .addRazorOptions and it seems to work, thanks

[2018-05-18 16:45] mkArtakMSFT commented on #7781
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-18 16:45] #7781 closed

[2018-05-18 16:52] mkArtakMSFT commented on #6426
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-05-18 16:56] mkArtakMSFT commented on #6342
@rynowak, I've moved this to the `2.2.0-preview1` milestone assuming it's not a breaking change. If it is, can you please update the milestone as necessary. Thanks!

[2018-05-18 16:57] mkArtakMSFT commented on #6290
Moving this to the `Backlog` as it's not a priority for the next release.

[2018-05-18 16:58] mkArtakMSFT commented on #6224
@rynowak, is this something we will do in 2.2?

[2018-05-18 17:00] mkArtakMSFT commented on #6161
@rynowak, is anything left here for us to handle during 2.2 ?

[2018-05-18 17:01] mkArtakMSFT commented on #6928
@pranavkm, please assign a cost label

[2018-05-18 17:06] mkArtakMSFT commented on #6111
Closing this issue as the specific action is now tracked as part of a more detailed issue: https://github.com/aspnet/Mvc/issues/6928

[2018-05-18 17:06] #6111 closed

[2018-05-18 17:11] mkArtakMSFT commented on #3286
@rynowak, will this be a good fit for 2.2?

[2018-05-18 17:13] mkArtakMSFT commented on #3173
This is not a priority for the 2.2 release, hence closing again. Let's re visit after 2.2

[2018-05-18 17:13] #3173 closed

[2018-05-18 17:16] mkArtakMSFT commented on #1923
This doesn't seem to be a priority for the upcoming release.
@glennc, @rynowak thoughts?

[2018-05-18 17:18] mkArtakMSFT commented on #3924
Closing this as this is not a priority for now.

[2018-05-18 17:18] #3924 closed

[2018-05-18 17:28] guylando opened #7792 "using await async inside ExpandViewLocations IViewLocationExpander"
The logic inside our ExpandViewLocations method of our custom IViewLocationExpander requires to make a call to an async method. Using .Wait() is known to cause deadlocks so the preferred way it to use await however ExpandViewLocations does not return a task so cant have the async keyword.

So how to call async method inside ExpandViewLocations?

Thanks

[2018-05-18 17:29] pranavkm opened #7793 "Port https://github.com/aspnet/Mvc/issues/7782 to 2.1.1"
https://github.com/aspnet/Mvc/issues/7782 was approved for the first 2.1 patch release. This item tracks porting the change

[2018-05-18 17:29] pranavkm commented on #7793
cc @mkArtakMSFT

[2018-05-18 17:33] pranavkm commented on #1923
cc @pakrym. It seems like a small enough fix and would benefit other places in the stack since we share the code with DI

[2018-05-18 17:37] pranavkm commented on #7416
Possible feature to consider: Allow for async view location expanders. See https://github.com/aspnet/Mvc/issues/7792

[2018-05-18 17:41] pranavkm commented on #7792
Unfortunately none of the lookup code path in view engines is async today (See https://github.com/aspnet/Mvc/issues/7416). You'd have to block or write your expanders in a way that they do not need to be async.

A bit of a tangent, StackOverflow is better suited for these kinds of questions. You get a larger audience of people who might have come up with independent solutions for things like this.

[2018-05-18 17:41] #7792 closed

[2018-05-18 17:43] #7782 closed

[2018-05-18 17:43] pranavkm commented on #7793
Commit to port: https://github.com/aspnet/Mvc/commit/624a5ed522e8e32a97fb1ba61e25d2302a5abfed

[2018-05-18 17:56] #4627 closed

[2018-05-18 17:59] mkArtakMSFT commented on #5563
We're closing this issue as its not a priority for now.

[2018-05-18 17:59] #5563 closed

[2018-05-18 18:03] mkArtakMSFT commented on #5587
@glennc, can you please assign priority to this issue?

[2018-05-18 18:06] davidfowl commented on #6224
Move to 3.0

[2018-05-18 18:20] guylando commented on #7792
On the other hand you benefit from the awareness of functionary\feature requirements from your users (me) :)
Thanks for the answer.

[2018-05-18 18:28] guylando commented on #7792
And by the way I have workarounds for stuff like this but was looking for the proper Microsoft solution when asking here.

[2018-05-18 18:41] ggirard07 commented on #3293
@dougbu thanks for the clarification.
But it looks like I am still missing something...

Could not load file or assembly 'System.Runtime, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

My template is currently defined as follow
[code]

[2018-05-18 20:57] khellang commented on #7341
I think this is an issue with the exception filter rather than the response cache. There's a reason the exception handler middleware clears the response.

It even has an `OnStarting` callback to clear caching headers; https://github.com/aspnet/Diagnostics/blob/8dce01f654962580e22e7c96ad4f313574407a40/src/Microsoft.AspNetCore.Diagnostics/ExceptionHandler/ExceptionHandlerMiddleware.cs#L108-L113, so

[2018-05-18 21:08] pakrym commented on #1923
Up for grabs?
Should be a very simple change in https://github.com/aspnet/DependencyInjection/blob/dev/shared/Microsoft.Extensions.ParameterDefaultValue.Sources/ParameterDefaultValue.cs

[2018-05-18 21:09] mkArtakMSFT commented on #3983
Moved this back to the `Backlog` as this is not a priority at the moment. Neither there was much community involvement with this ask.

[2018-05-18 21:12] mkArtakMSFT commented on #6725
Moving this to the backlog as it's external and we're just tracking the progress here.

[2018-05-18 21:13] mkArtakMSFT commented on #6560
We're moving this to the backlog as this is not a priority at the moment.

[2018-05-18 21:15] mkArtakMSFT commented on #1923
@pavelm, feel free to send us a PR for this issue.

[2018-05-18 21:47] dougbu commented on #3293
@ggirard07 we're straying far from the issue discussed in this thread. Missing dependencies is covered in other issues in this repo as well as in https://github.com/aspnet/Home I also suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the 'asp.net-core-mvc' [tag](https://stackoverflow.com/questions/tagged/asp.net-core-mvc).

[2018-05-19 02:33] rynowak commented on #6224
@davidfowl really doesn't want me to win the argument over `IObservable` vs `foreach async`. I'd be happy to win that argument in 3.0

[2018-05-19 02:35] rynowak commented on #3286
IMO this is a p3 for dispatcher. If we get an chance to do it, then that would be awesome - but I can't imagine us cutting other work to make this fit.

[2018-05-19 02:54] cdebergh commented on #6224
@rynowak if it's any consolation I really want this feature and plan to convert it to a iobservable when using it if you don't do it here

[2018-05-19 03:00] rynowak commented on #6224
@cdebergh - if you're interesting trying something like this out, you would probably want to start by implementing a method that returns either `IEnumerable<Task<T>>` or `IObservable<T>`. If you want to go the task route, you'll need to make each `Task<T>` wait until the next chunk is available.

Then implement an output formatter that iterates and processes each chunk as it's available - but the

[2018-05-19 03:15] davidfowl commented on #6224
IObserable is for multicast and doesn’t fit here well support IAsyncEnumerable and there’ll be a method to go from one to the other that will describe the policy to apply when backpressure needs to be applied.

I’ll spar with @rynowak later 😆

[2018-05-19 04:04] rynowak commented on #6224
Cool I'm looking forward to have a way to convert `IAsyncEnumerable` to `IObservable` for this feature.

[2018-05-19 04:49] davidfowl commented on #6224
That’s the wrong way 😁

[2018-05-19 17:35] ericwj opened #7795 "[IgnoreAntiForgeryToken] Not working in Razor Pages"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
See below

#### Description of the problem:
Adding `[IgnoreAntiForgeryToken]` in a controller works as expected, however, adding it to a Razor Pages method has no effect.

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.A

[2018-05-19 17:47] ericwj commented on #7795
Dups #5863 but this keeps popping up, #6306, and I found more old issues and I followed the steps to work around it and expected it to be fixed (#5552) but now I read Order = 1000 isn't good enough but 1001 will fix it? Shouldn't this just work without having to fiddle with magic numbers?

Since this is a known issue I will not share my repro.

[2018-05-19 19:08] xrkolovos commented on #7209
I knew someone else would say something about this. I expect more reactions.
It was pretty authoritarian the way this was closed.

[2018-05-20 00:20] zeus82 opened #7796 "ASP.NET Core 2.1 'Feature' Project Structure Not Working"
I'm trying to port a ASP.NET Core 2.0 project to 2.1.  It uses the feature layout:

    Website.csproj
        |--Features
            |--Home
                |--HomeController.cs
                |--Index.cshtml
                |--About.cshtml
                |--Contact.cshtml
                |--Privacy.cshtml

This is how I configure Mvc:

    services
        .AddMvc()
        .AddRazorOptions(o

[2018-05-20 00:39] zeus82 commented on #7796
I actually go past this error by using the ControllerTypeInfo to figure out the name of the folder the controller is in (this only works if the namespace matches the folder structure) but now I get an error when I go to any of the identity pages saying

[code]
It isn't searching any of my other routes!

[2018-05-20 00:48] tangdf commented on #7341
Ok, I've got it.

[2018-05-20 04:07] mkArtakMSFT commented on #7796
Thanks for contacting us, @zeus82.
@pranavkm, can you please look into this?

[2018-05-20 04:11] mkArtakMSFT commented on #7795
Thanks for contacting us, @ericwj.
@dougbu, can you please look into this? We may be missing a test for this scenario. If so, we should make sure we add some to avoid this issue going forward.

[2018-05-20 04:12] mkArtakMSFT commented on #7795
/cc @rynowak

[2018-05-20 16:42] rynowak commented on #7795
Did you try putting the filter attribute on the **class**? This is one of the things that's confusing about pages and we have plans to add an analyzer.

[2018-05-21 08:57] nukedbit opened #7797 "RazorClassLib not working on Visual Studio for mac or Rider"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

Tried with my own project but found the same issue as with the example repo from docs.

https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/razor-pages/ui-class/samples/cli

#### Description of the problem:

When running the project from Visual Studio for Mac or J

[2018-05-21 12:32] bdparrish opened #7798 "ConfigurationBuilder fails to load custom appsettings file"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
`docker run -ti -p 80:80 -e ASPNETCORE_ENVIRONMENT=Docker bdparrish/test:0.1` (<-- local repo)

#### Description of the problem:
The web application fails to load a varibale from `appsettings.Docker.json` file.  If I change the command to the following, then it will pick

[2018-05-21 13:38] #7798 closed

[2018-05-21 13:38] bdparrish commented on #7798
Issue was a bad configuration that overwrote the initial configuration in the DbContext.

[2018-05-21 14:59] jamiewinder opened #7799 "ApiControllerAttribute's binding of complex parameter cannot be overridden."
I want to use the new `[ApiController]` attribute for the automatic '400 if model state is invalid behaviour', but still be explicit about the binding of parameters. For example:
[code]
I have a custom model binder for handling those NodaTime types, but they're receiving `null` as the model value, presumably because ASP.NET is still trying to read them from the body because of the ApiController at

[2018-05-21 16:21] mkArtakMSFT commented on #7799
Thanks for contacting us, @jamiewinder.
@pranavkm, does the ApiController convention take priority even in this case? Shouldn't custom model binders be respected for API controller actions?

[2018-05-21 16:51] pranavkm commented on #7799
@jamiewinder the `FromQuery` attributes should take precedence over auto inferred sources.

a) Have you tried setting `LogLevel` to `Trace` in your app? Usually it should give you hints about what's causing the issue.
b) A repro app would also help to dig in to this.

You could configure [`ApiBehaviorOptions.SuppressInferBindingSourcesForParameters`](https://github.com/aspnet/Mvc/blob/dev/src/Micr

[2018-05-21 17:05] mitulsuthar opened #7801 "Add spinning icon next to npm under dependencies node in Visual Studio"
While creating a new ASP.NET CORE 2.0 MVC application with Angular, the npm package restore takes a lot of time. It takes around 3 minutes. Is this expected? Am I doing something wrong? I have latest VS 15.7.1 update installed and have windows 10 anniversary update. If this is normal then I have a feature request.

Feature request.
What if just like the latest spinning icon that were added for tes

[2018-05-21 17:31] pranavkm commented on #7796
That looks like you're requesting the Layout view by path and not by name. `ViewLocationFormats` and `ViewLocationExpanders` are only used if you look up a view by name e.g. `Layout = "_Layout";`

[2018-05-21 17:32] pranavkm commented on #7801
@barrytang, would this go through VS feedback?

[2018-05-21 17:34] pranavkm opened #7802 "ApiController conventions"
### Background

The goal of this feature is to provide good API documentation (i.e. ApiExplorer) for idiomatic APIs with minimal attribute soup. In 2.1.0, we took a stab at this - https://github.com/aspnet/Mvc/pull/6936/ - conventions were types that
at runtime transformed `ApiDescription`. One of the difficulties with this approach is that there isn't a very good way to tell if the actual body of

[2018-05-21 17:38] ckams commented on #7703
@davidfowl
What do you think about this?
Do you have any suggestion?
I have posted a topic on the [ASP.NET forum](https://forums.asp.net/t/2140752.aspx?Plugin+System+Application+Parts+and+Microsoft+failure) if you want more details.

[2018-05-21 17:49] zeus82 commented on #7796
Your right about that... I had to edit the `_ViewStart.cshtml` in `/Areas/Identity/Pages`.  I updated it to point to /Views/Shared/_Layout.cshtml

But the `FeatureViewLocationExpander `still feels kinda hacky.    Here is what I had to do to get it working:

[code]

[2018-05-21 17:56] pranavkm commented on #7796
Where is this being set from?

[2018-05-21 18:05] zeus82 commented on #7796
Its being set in the 'ExpandViewLocations' method of my 'FeatureViewLocationExpander' class

[2018-05-21 18:11] pranavkm commented on #7796
Mutating `ActionDescriptor.Properties` outside of the [application model](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model?view=aspnetcore-2.0) isn't recommended. It's not thread safe, so you might run in to concurrency issues. My recommendation would be to calculate (possibly using a filter attribute) and set it as part of a convention.

That said, I'm not sure what

[2018-05-21 18:57] jamiewinder commented on #7799
a. I've tried calling the following on my `IWebHostBuilder`:
[code]
Is that what you meant? It didn't seem to give me any extra information about model binding...?

b. I'll send one when I can.

I don't particular like the inference of where the parameters should come from, but I don't particularly mind so long as I can override it. In this case I'm using the NodaTime library rather than the BCL t

[2018-05-21 19:15] pranavkm commented on #7799
Does this work:

[code]

[2018-05-21 19:17] #7341 closed

[2018-05-21 19:29] jamiewinder commented on #7799
I've set up a small reproduction here:
https://github.com/jamiewinder/AspNetCoreApiControllerIssue

Browsing to `/api/withoutapi?time=2018-05-21T00:00:00Z` should echo the time from the query.
Browsing to `/api/withapi?time=2018-05-21T00:00:00Z` will return a 400 with a model validation error

The code for the controllers is the same except for the `ApiController` attribute. I've also added a comm

[2018-05-21 19:34] jamiewinder commented on #7799
With the logging setup as you suggested, I get the following:

To `/withapi`:
[code]
To `/withoutapi`:
[code]

[2018-05-21 20:02] khellang commented on #7341
Just to be clear; I didn't mean there's anything wrong with *your* exception filter - I think this is a framework concern. MVC shouldn't allow resources produced with an exception filter to be cached.

[2018-05-21 20:54] zeus82 commented on #7796
I don't think there is a regression... I think I missed something went I moved my project to 2.1

Sorry.

[2018-05-21 20:54] #7796 closed

[2018-05-21 21:13] richardgavel opened #7803 "Header binding with a nullable bool does not bind"
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

Create a controller that takes in a parameter using [FromHeader] binding whose data type is bool? and invoke it with a non-null value.

#### Description of the problem:

Binding a nullable bool from the header results in null for the passed in value, despite successful

[2018-05-21 21:56] ryanbrandenburg commented on #7748
@tverboon this definitely reproduces, and as you noted it's not intended behavior. I can make a fix, but it's technically a breaking change in case someone took a dependency on Enum DataAnnotations not using `DataAnnotationLocalizerProvider`. @mkArtakMSFT I guess the determination is on you for if/when we take this, but my vote would be yes.

[2018-05-21 22:35] pranavkm opened #7804 "Port fix for https://github.com/aspnet/Mvc/issues/7609 to 2.1.1"
Issue: https://github.com/aspnet/Mvc/issues/7609

[2018-05-21 22:36] pranavkm commented on #7609
Looks like it affects more scenarios than I had originally accounted for. See https://github.com/aspnet/Mvc/issues/7799. More specifically, when specifying a custom binder type, the binder name is not passed through (it's always empty). You have to account for it in the binder which is ugly. Filed https://github.com/aspnet/Mvc/issues/7804 to port this to the patch release.

[2018-05-21 22:40] pranavkm commented on #7799
Looks like you're running in to another side-effect of one of the issues we discovered late in with ApiControllers - https://github.com/aspnet/Mvc/issues/7609. Essentially `ModelName` gets lost in transition which results in the behavior you're seeing. I've filed an issue to port this to an upcoming patch.

In the meanwhile, here's a workaround you could use that should continue working once we'v

[2018-05-21 22:46] pranavkm commented on #7799
I'm going to close this as dup since we've already tracking the underlying issue (https://github.com/aspnet/Mvc/issues/7609 and https://github.com/aspnet/Mvc/issues/7804). Feel free to reopen if you have further questions.

[2018-05-21 22:46] #7799 closed

[2018-05-21 22:48] pranavkm commented on #7804
cc @mkArtakMSFT

[2018-05-21 23:46] pranavkm commented on #7787
In the default case, handler names are constructed from the method names and they are exact matched to the values from route. In you case, you are attempting to match `new-vehicle` to the method `NewVehicle` (you have a second issue there, the naming convention requires you to name it `OnGetNewVehicle`). You might be able to use a default value for your handler name so the handler selection just w

[2018-05-21 23:56] dougbu opened #7805 "Port BasicAPI and BasicViews apps from aspnet/Performance"
## Problem
Aren't running any end-to-end performance tests of MVC scenarios. Though test applications exist in https://github.com/aspnet/Performance, they have not been used recently.

### Details
- [x] Move two test applications (BasicAPI and BasicViews) into this repo
- [x] Add infrastructure and make .csproj changes to match https://github.com/aspnet/Benchmarks expectations
- [x] Add client scr

[2018-05-22 09:11] fragilethoughts opened #7807 "IUrlHelper.Link generation from action names"
Currently `IUrlHelper.Link` allows for generating absolute URLs when passing to it [route names which must be unique application-wide](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.0#route-names).

This method looks like this: `string Link(string routeName, object values)` and this is currently the only official way when implementing HATEOAS or any hypermed

[2018-05-22 11:27] alexlomba87 commented on #4160
I agree with @Eilon, but this bug is still unresolved as to date, and two years have passed.
As a beginner to ASP.Core, it took me several hours to understand what was the problem, even though I literally followed Microsoft Tutorials. This should not happen.

[2018-05-22 11:33] alexlomba87 commented on #4160
I agree with @Eilon, but this **bug** is still unresolved as to date, and two years have passed.
The issue happens even when literally following Microsoft's own tutorials for ASP Core beginners. This should not happen. I myself, learning ASP from scratch, I have lost several hours to understand what was the issue and then come here. The "fix" (ignore loops) worked for me, but I agree it cannot be

[2018-05-22 13:03] alexlomba87 commented on #4160
I agree with @Eilon, but this [bug](https://github.com/aspnet/Mvc/issues/4160#issuecomment-193023570) is still unresolved as to date, and two years have passed.
The issue happens even when literally following Microsoft's own tutorials for ASP Core beginners. This should not happen. I myself, learning ASP from scratch, I have lost several hours to understand what was the issue and then come here. T

[2018-05-22 13:31] scottsauber opened #7808 "Roslyn Analyzer for Razor Page when you have Tag Helper that takes input but no [BindProperty] attribute on Page Model"
#### Is this a Bug or Feature request?:
Feature Request

#### Description
Just a random idea I had, so I thought I'd log it.  It'd be cool if there was a Roslyn Analyzer for Razor Pages when you have a Tag Helper that takes input (such as input, select, etc.) and it references a property/object that doesn't have the [BindProperty] attribute.  Then it'd raise a diagnostic alerting you of this probl

[2018-05-22 14:37] grantmcdade opened #7809 "Null effective policy causing exception."
### Authorization Policy Exception
Using PolicyServer.Local causes the exception but I can't reprodure the exception in a test project.

### Functional impact
The page fails to load. It seems to happen wherever the [Authorize] attribute is present. I have a global AuthorizeFilter as well for a default policy of require authenticated user.

### Minimal repro steps
Browse to any page with the [Autho

[2018-05-22 14:49] grantmcdade commented on #7809
I just logged an issue in AspNet/MVC but it is related to PolicyServer.Local so I would appreciate any input you migh have. cc @leastprivilege @brockallen

[2018-05-22 15:17] mkArtakMSFT commented on #7809
Thanks for reporting this issue.

@javiercn, can you please look into this?

[2018-05-22 16:11] mkArtakMSFT commented on #7808
As this is not a priority for the upcoming release, we'll park this issue in the Backlog for now, to observe community interest in this ask. @scottsauber

[2018-05-22 16:55] ryanbrandenburg commented on #7748
I talked it over with @mkArtakMSFT and our plan is to put this in behind a compatibility switch for now, with an issue filed on 3.0.0 to remove the compat switch and only support the corrected behavior.

[2018-05-22 17:00] ryanbrandenburg opened #7810 "Remove compat switch for Enum DataAnnotation localization"
In #7748 we decided to fix the fact that Enum localization didn't use DataAnnotationLocalizerProvider behind a compat switch because it was a breaking change. For 3.0.0 we should remove that compat switch and only support the new behavior (usage of DataAnnotationLocalizerProvider).

[2018-05-22 17:50] javiercn commented on #7809
@HaoK As he's the expert in this area.

@grantmcdade I can't repro this.

Can you provide a minimal repro project that showcases the issue?

Thanks.

[2018-05-22 18:05] #7770 closed, assigned to pranavkm

[2018-05-22 18:25] grantmcdade commented on #7809
thanks  @javiercn. I have already spent the last two days trying to do exactly that but as you found out it's not an easy problem to reproduce. I don't have this setup to debug this and since I'm no expert I don't know what might be causing the problem. I will continue to try and reproduce this in a smaller Project.

[2018-05-22 18:42] HaoK commented on #7809
Startup.cs is a good place to start

[2018-05-22 18:47] dougbu commented on #7807
@enemyofthedawn

Since you have a relatively simple fix for your scenario, what change in the framework would you like to see?

Side question:

What about HATEOAS requires absolute URLs?

[2018-05-22 19:31] HaoK commented on #7809
Ok so the issue appears to be when AuthorizeFilter is created with a null effective policy, Combine does not allow passing in a null policy, GetEffectivePolicy should be checking for null policy and combining with a empty policy rather than passing in null.

[2018-05-22 19:43] HaoK commented on #7809
Ok so the workaround is to turn off AllowCombiningAuthorizeFilters in mvcOptions

[2018-05-22 19:59] konrad-san commented on #7807
@dougbu I just thought it could be useful to have out of the box. Like there is `Link` for routes.

[2018-05-22 20:00] javiercn commented on #7809
@HaoK Can taking it from here?

[2018-05-22 20:55] HaoK commented on #7809
Sure

[2018-05-22 21:31] HaoK commented on #7809
fyi @blowdart @ajcvickers

[2018-05-22 21:35] zijianhuang opened #7811 "Controller POST action returning simple string does not respect the request Accept header for text/plain?"
#### Bug:

While the GET action respects the request Accept header for text/plain or application/json, the POST action always return JSON data which is a string quoted by double quotes, regardless of the Accept header.

#### Steps to reproduce :

Controller Action with ControllerBase or Controller:
[code]

Client:
[code]

Result:
[code]

#### Description of the problem:

If the client want string,

[2018-05-22 21:40] rynowak commented on #7811
If you have text that you want to return **verbatim** from an API, then I would recommend using `return Content(...)` and specifying the content type there.

The rationale is that if you already have text, and you just want to return it, you've already made a decision about what the content type is when you encoded it.

[2018-05-22 21:43] dougbu commented on #7807
`public static string Action(this IUrlHelper helper, string action, object values)` already exists and it returns a relative URL. So, are you looking for
[code]
(copying your fix) or
[code]
?

----
FYI we've discussed similar issues in the past. See #1966 and #2810 for example.

We're at parity with https://github.com/aspnet/AspNetWebStack already. MVC 5.x has `Content(string)` and `Link(string, o

[2018-05-22 22:20] zijianhuang commented on #7811
No, @rynowak . The design of the Web API (ASP.NET or .NET Core) is to enable application developers to write API codes rather than "return  Content(...)" which is a clumsy workaround.

I would expect the .NET Core team to fix this, so to be consistent with the behavior of the GET action.

[2018-05-22 22:30] kichalla commented on #7804
PR related to this https://github.com/aspnet/Mvc/pull/7814

[2018-05-22 22:42] enemyofthedawn commented on #7807
Yes I'm looking for something like what you're asking. A way to generate links (with http/https, domain and path) but using action names instead of route names.

The extension method defined in my project solves this but this is just a suggestion that maybe it might be good to add this to the framework.

[2018-05-22 23:05] rynowak commented on #7811
Can you please provide a repo application that demonstrates the problem?

The behavior you describe for your code sample is intended. If you return an object from an action method, it will be serialized by formatters, in this case the JSON formatter.

[2018-05-22 23:26] mkArtakMSFT commented on #7748
Removed the `breaking-change` label, as we're going with a compat switch, which will eliminate the breaking change. We'll remove (hence introduce the breaking change) the compatibility switch in 3.0.

[2018-05-23 01:17] barrytang commented on #7801
Yes, to report VS issues, use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

[2018-05-23 02:37] zijianhuang commented on #7811
@rynowak, this point is, as mentioned in the OP, with a GET action, the response is plain text by default, not a JSON string object. And this is apparently by design, as suggested by the .NET Core team at https://github.com/aspnet/Mvc/issues/4945

Ah, I have just realized that you @rynowak were the guy who had answered in the other thread.

Do you agree that GET and POST actions should consistentl

[2018-05-23 05:49] grantmcdade commented on #7809
Thanks for looking into this so quickly. I have created [the](https://github.com/grantmcdade/CTG.Web) project to help with reproduction of the issue.

https://github.com/grantmcdade/CTG.Web

It is basically the original project with as much as possible stripped out. If you try to view "Account -> Details" while already logged in then the exception occurs.

[2018-05-23 12:31] zijianhuang commented on #7811
Just found out in my client somewhere, I had the accept header set to application/json first, so .net core just responds according to the first accept header. So it is confirmed that  GET and POST actions should consistently return plain text by default .

Thanks. Case closed.

[2018-05-23 12:31] #7811 closed

[2018-05-23 13:31] mpetito opened #7815 "Validation of required non-nullable model properties"
#### Is this a Bug or Feature request?:

Bug as it seems to contradict official documentation and is surprising behavior.

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

Create a new project `dotnet new webapi` and modify a controller as follows:

[code]

#### Description of the problem:

"Required" non-nullable properties will never raise a corresponding mode

[2018-05-23 16:09] javiercn commented on #7809
@grantmcdade Thanks for the repor.

@HaoK Can you take a look to ensure your fix covers @grantmcdade issue?

[2018-05-23 16:39] maxisam commented on #4842
It is interesting that if an object is not strong type like object or dynamic, it will not be converted to camelcase. But it can be fixed by

[code]

[2018-05-23 16:45] mkArtakMSFT commented on #7815
Thanks for contacting us, @mpetito.

[2018-05-23 16:48] mkArtakMSFT commented on #7807
@glennc, will this be a priority for the 2.2 milestone, or should we move this to the backlog?

[2018-05-23 16:55] mkArtakMSFT commented on #5299
Closing this as there seems to be no activity on this issue.

[2018-05-23 16:55] #5299 closed

[2018-05-23 16:59] dougbu commented on #7815
This is not a problem we can solve.

`[BindRequired]` is a feature inextricably tied to the MVC model binding system and none of the supported input formatters supports it. But for JSON.NET, use `[JsonProperty(Required = true)]` instead.

`[Required]` is a .NET attribute with very specific, [documented](https://docs.microsoft.com/en-ca/dotnet/api/system.componentmodel.dataannotations.requiredattri

[2018-05-23 16:59] #7815 closed

[2018-05-23 17:26] pranavkm opened #7816 "Consider caching more delegates in CachedExpressionCompiler"
`CachedExpressionCompiler.CompileFromConstLookup` and `CachedExpressionCompiler.CompileCapturedConstant` produces a new delegate per invocation. In addition, there's other classes of expression that could be possibly cached (e.g. indexer or array accessors). Benefits would include fewer null refs during execution of ModelExpression and possibly faster runtime perf.

[2018-05-23 17:35] mkArtakMSFT commented on #7209
Reopening this issue as there seems to be some customer interest in this being a first-class experience.
Will track this as part of the 3.0 milestone.

[2018-05-23 17:38] mkArtakMSFT commented on #7807
@enemyofthedawn, would you like to submit a PR for this? We'd be happy to take it.

[2018-05-23 17:57] pranavkm commented on #7787
Feel free to reopen the issue if you have additional questions.

[2018-05-23 17:57] #7787 closed

[2018-05-23 18:00] ckams opened #7817 "PR for Issue 7703"
#### Feature request:
Related to [this issue](https://github.com/aspnet/Mvc/issues/7703).
Given the context, and as I hate to waste my time, I prefer to ask before trying anything.
Would you be interested by a possible PR to solve the issue 7703?

[2018-05-23 18:07] pranavkm commented on #7817
Closing this. We can re-use the other issue to discuss this further since it has enough context.

[2018-05-23 18:07] #7817 closed

[2018-05-23 18:10] dougbu commented on #7816
See also https://github.com/aspnet/Mvc/pull/7181#issuecomment-362754479 for a couple of comments about covering indexing and array access scenarios.

[2018-05-23 18:14] danroth27 opened #7818 "Improve automated browser testing with real server"
Feedback from @shanselman:

We should do better with testing. There's issues with moving from the inside out:

### LEVELS OF TESTING

* GOOD - Unit Testing - Make a PageModel and call On Get
* GOOD - Functional Testing - Make a WebApplicationFactory and make in-memory HTTP calls
* BAD - Automated Browser Testing with Real Server - can't easily use Selenium or call a real server. I shouldn't have t

[2018-05-23 18:18] pranavkm commented on #7703
@ckams it sounded like there's an existing API that works for your scenarios today. Is this specifically about having an overload without a `model` parameter? That doesn't seem particularly high value.

As a side note, we also introduced a PartialTagHelper in 2.1.0, which we'd recommend over HtmlHelper.Partial* going forward. You should be able to specify a `null` model with it `<partial model="nu

[2018-05-23 18:27] pranavkm commented on #7703
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-2.1

[2018-05-23 19:12] enemyofthedawn commented on #7807
@mkArtakMSFT Sure! Should it be named `LinkAction` or `ActionLink` ? Wouldn't it be better to rename `Link` to `RouteLink` and add `ActionLink` too or would it be a breaking change?

Just like it is named in HtmlHelper:

https://github.com/aspnet/Mvc/blob/a736441ca5ac7524f4ed0d9c33370becb523c778/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/HtmlHelper.cs#L594

and

https://github.com/aspn

[2018-05-23 19:21] dougbu commented on #7807
`ActionLink` is fine and aligns with `Link`.

Do not rename the existing methods because almost any change to `IUrlHelper` would be a breaking change. Instead, add something like what you described above to `UrlHelperExtensions`.

[2018-05-23 19:23] enemyofthedawn commented on #7807
do you mean I shouldn't add it to `UrlHelper.cs` and `IUrlHelper.cs` and add it as an extension in a separate file?

[2018-05-23 19:31] dougbu commented on #7807
Exactly though `UrlHelperExtensions` already exists.

[2018-05-23 20:07] khellang commented on #4842
Or by using the `DefaultContractResolver` and setting `ProcessDictionaryKeys = true` (which I think is recommended):

[code]

[2018-05-23 21:08] mkArtakMSFT commented on #7818
As this is not a priority for 2.2 for now, moving to the backlog.

[2018-05-23 21:19] mkArtakMSFT commented on #7756
@pranavkm, can you please summarize the actions we want to take as part of this issue? Also please assign cost to this issue.

[2018-05-23 21:30] mkArtakMSFT commented on #7756
Talked to @pranavkm regarding this, and here are the actions we want to take here:
- Update the templates to return JSON response in case of an error when in an `ApiController`
- Expose information about whether the action is in a context of an API controller or not (will be handled as part of some other issue - dispatcher)

/cc @glennc, @danroth27

[2018-05-23 21:38] mkArtakMSFT commented on #7711
In case of an API controller we're already throwing a runtime error for this on startup, so closing this as it adds very little value.

[2018-05-23 21:38] #7711 closed

[2018-05-23 21:40] mkArtakMSFT commented on #7692
This issue was moved to aspnet/Home#3165

[2018-05-23 21:40] #7692 closed

[2018-05-23 21:43] mkArtakMSFT commented on #7682
We're not going to ship this package ever, so closing this issue.

[2018-05-23 21:43] #7682 closed

[2018-05-23 21:45] HaoK commented on #7809
Yep its definitely the same issue, so policy server uses a custom IAuthorizationPolicyProvider, so this is going to hit everyone who uses policy server + 2.1 :(

[2018-05-23 21:47] HaoK commented on #7809
@grantmcdade have you confirmed that the workaround works for you as well?  Turning off the combination behavior should avoid hitting this code path.

`mvcOptions.AllowCombiningAuthorizeFilters = false`

[2018-05-23 21:48] mkArtakMSFT opened #7820 "Things to do in 3.0"
This issue is to track a repo wide impacting changes:
### Remove the compatibility switches
 - [ ] (add item here)

### Remove all the obsolete methods

[2018-05-23 21:49] mkArtakMSFT commented on #7647
@javiercn, can you please add a cost to this? Thanks!

[2018-05-23 21:51] mkArtakMSFT commented on #7591
We'll handle these gradually with the changes we'll be doing as part of our periodic changes.

[2018-05-23 21:51] #7591 closed

[2018-05-23 21:52] mkArtakMSFT commented on #7589
/cc @glennc

[2018-05-23 21:53] javiercn commented on #7647
It's pretty much done. I put a PR a while ago when we were determining if we were taking it on ask mode. Given it current status, I'll just address @pranavkm feedback on it and merge it when I have some time. It's not at all urgent.

[2018-05-24 00:59] jo-ninja commented on #7809
I am using `PolicyServer.Local` and also hitting this issue after upgrading from ASP.NET Core 2.0 to 2.1 RC.

`mvcOptions.AllowCombiningAuthorizeFilters = false` works for me. Thanks!

[2018-05-24 01:07] chuanboz opened #7822 "What is the replacement for ITraceWriter per request tracing Infra in asp.net core 2.1"
In asp.net, based on [Tracing in ASP.NET Web API 2](https://docs.microsoft.com/en-us/aspnet/web-api/overview/testing-and-debugging/tracing-in-aspnet-web-api), there is ITraceWriter interface and you could do something like below to enable tracing for infra logic.

[code]

I don't see this Api exists anymore for asp.net core, and I tried to search on internet but also does not see anyone mention a

[2018-05-24 04:17] grantmcdade commented on #7809
Yes I can confirm that it does work.

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Hao Kung <notifications@github.com> Date: 23/05/2018  23:48  (GMT+01:00) To: aspnet/Mvc <Mvc@noreply.github.com> Cc: Grant McDade <grant.mcdade@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [aspnet/Mvc] Null effective policy causing exception. (#7809)
@grantmcdade h

[2018-05-24 07:20] davidfowl commented on #7818
@mkArtakMSFT just to clarify the concrete change we should make in 2.2:

We should make it so that it's possible to boot up the WebApplicationFactory (or another derived type) without a test server. It makes functional testing of your application absolutely trivial and the changes required to do this should be small.

/cc @javiercn

[2018-05-24 08:58] ckams commented on #7703
@pranavkm @NTaylorMullen

Well it does not work. The problem [resides here](https://github.com/aspnet/Mvc/blob/1fa1d7df3e1029e8321890ff9ea2b5ec48065898/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialExtensions.cs#L295).

First, let me coming back to this:

Let me explain again. If you take a look at the [discussion on the asp.net forum](https://forums.asp.net/t/2140752.aspx?P

[2018-05-24 11:50] fromdusktilldawn commented on #7720
Also it would be nice if `IUrlHelper` could generate hyphenated query strings, and some possibility to choose convention to use when generating links (camelcase etc.)

[2018-05-24 11:58] lkubis opened #7823 "Cannot create Razor Pages in namespace that ends with ".System""
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
[AspNetCore.SystemNamespaceIssue](https://github.com/lkubis/AspNetCore.SystemNamespaceIssue)

#### Description of the problem:
Currently it's not possible to create Razor Pages under **/System/** path like **http://localhost/system** or **http://localhost/system/index**

[2018-05-24 12:51] dmitry-pavlov commented on #6359
Tag helpers work fine for me in ASP.NET Core. I keep view components under Views/Shared/Components/Component1.. as described in documentation: [View components in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-2.1)

[2018-05-24 13:48] gregoryagu opened #7824 "Make the ModelBinder support the JsonPropertyAttribute"
#### Is this a Bug or Feature request?:
Feature

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
Try to bind to "smtp-id" in a web api call.  It cannot be done, as the dash is not allowed in a property name.

#### Description of the problem:
But there is no way to put an attribute on the Input Model to tell the ModelBinder to bind to "SmtpId"

public class Input

[2018-05-24 16:38] livarcocc opened #7825 "Can't create MVC plugins in .NET Core"
_From @gordon-matt on May 24, 2018 1:50_

I'm having a very big problem with migrating my plugins system over to .NET Core. I keep getting the following error for any plugins that contain MVC views, controllers, etc:

[code]

And when I set the project SDK to `<Project Sdk="Microsoft.NET.Sdk.Web">`, then I get the following error instead:

[code]

After searching around a bit, I tried the followin

[2018-05-24 16:38] livarcocc commented on #7825
_From @svick on May 24, 2018 13:48_

Your issue seems to be specific to ASP.NET Core MVC, so I think you should post it to [the aspnet/Mvc repo](https://github.com/aspnet/Mvc) instead.

[2018-05-24 16:38] livarcocc commented on #7825
I will move this issue to aspnet/mvc. Thanks for the suggestion @svick

[2018-05-24 16:59] mkArtakMSFT commented on #7668
Closing this as a dupe of https://github.com/aspnet/Mvc/issues/7805

[2018-05-24 16:59] #7668 closed

[2018-05-24 17:01] mkArtakMSFT commented on #7825
@gordon-matt, could you please share a sample repro project with us to help with investigation?

[2018-05-24 17:08] bgribaudo opened #7826 "Extend Anchor Tag Helper to support multiple values for a given route data parameter"
Feature Request: Extend [Anchor Tag Helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-2.0)'s `asp-route-{value}` and `asp-all-route-data` properties to (properly) render parameters with multiple values.

Currently, ASP.Net Core MVC translates multiple values for a single query string parameter into an array. However, reversing the

[2018-05-24 17:15] ckams commented on #7703
No more problem [like this](https://github.com/aspnet/Mvc/issues/7825)…

[2018-05-24 17:57] ajaybhargavb commented on #7797
After investigation I can confirm that this scenario isn't broken. I did run into this problem though because my VS for Mac was using the wrong dotnet SDK. @nukedbit can you check if your VS for Mac is using the correct dotnet SDK that your command line uses? To verify this you can set `Log Verbosity` to `Detailed` in Preferences -> Build dialog and verify it in the Build output.

I used the lates

[2018-05-24 18:03] pranavkm commented on #7825
Runtime compilation of views really doesn't play with the kind of assembly loading mechanism you're trying to achieve here. The recommendation is to compile views at build (https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/sdk?view=aspnetcore-2.1). More pertinently, our recommendation is to use [OrchardCore](https://github.com/OrchardCMS/OrchardCore) rather than hand rolling your plug i

[2018-05-24 18:22] pranavkm commented on #7703
I don't see this - https://github.com/pranavkm/partial-null/blob/master/Pages/Index.cshtml#L4.

[2018-05-24 18:26] pranavkm commented on #7802
Putting this on hold - we have a fairly demoable prototype now. Will start working on it once we have a design

[2018-05-24 18:43] ckams commented on #7703
@pranavkm
You do not understand.
**You have to reproduce the same kind of architecture.** And then, you will really see what I mean.
See as 1 controller that send to another controller its Model.

Anyway, if you look at [HtmlHelperPartialExtensions.cs](https://github.com/aspnet/Mvc/blob/1fa1d7df3e1029e8321890ff9ea2b5ec48065898/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialEx

[2018-05-24 19:32] pranavkm commented on #7703
Is there a repro app you could share with us? Your original requirement was to have a way to pass in a null model to a partial which works,

Beyond that, for your plugin requirements, we generally recommend using a module system like the one [OrchardCore](https://github.com/OrchardCMS/OrchardCore.Samples) projects. It's generally more well tested and addresses the kinds of problem you're attemptin

[2018-05-24 19:43] pranavkm commented on #7823
By default, Razor uses the folder name to construct namespace segments, so the generated code for your `/Pages/System/Index.cshtml` would look like `SystemNamespaceIssue.Pages.System`. You'd see the same sort of errors if your [PageModel](https://github.com/lkubis/AspNetCore.SystemNamespaceIssue/blob/master/Pages/Index.cshtml.cs#L8) had a namespace ending in 'System`.

The fix would be to add a `@

[2018-05-24 19:56] pranavkm commented on #7824
You should be able to annotate your property with `[ModelBinder(Name = "smtp-id")]` if you're dealing with model bound objects. That said, it looks like SendGrid uses Json payloads - https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html#-Events - at which point, annotating it with `JsonProperty` would be right thing since the model would get deserialized by Json.NET

[2018-05-24 20:57] ckams commented on #7703
@pranavkm

No, only on local server. But I will try to setup something on github, with pleasure **if you ask**. Even a PR :p

No, in my original requirement, I stated:

I wrote **_without_ object model, ViewDataDictionary viewData** meaning empty. Sorry for this misunderstanding.

Well with a "small" `Html.RenderPartialRawAsync()`  method provided in ASP.NET Core MVC:
1. Such intricate project (li

[2018-05-24 21:33] #7609 closed

[2018-05-24 22:56] mkArtakMSFT commented on #7809
Moved this out to 2.2, as the workaround is pretty cheap and this doesn't meet the bar for a patch.

[2018-05-24 23:14] gordon-matt commented on #7825
Guys, thanks for your responses.

@pranavkm, that link telling me to set the SDK as `<Project SDK="Microsoft.NET.Sdk.Razor">` seems it might do the trick. Unfortunately, when I modify one of the plugins like that I get the following error and the project then refuses to load:

[code]

And yes, I am using `.NET Core SDK 2.1 RC1 or later` as is required. My version when checking with the **dotnet --

[2018-05-24 23:49] steveoh commented on #7818
I'm not sure I follow. Would these changes make it easier to use something like puppeteer and chrome headless for automated browser testing? If so, then that is a great idea.

[2018-05-24 23:58] shanselman commented on #7818
@steveoh the current set up allows for very convenient Unit Testing by spinning up the App/WebHost and talking to it 'in memory." So no HTTP, no security issue, you're basically talking HTTP without actually putting bytes on the wire (or localhost). Super useful.

But if you want to use Automated Browser Testing and have it driven by a Unit Test Framework, you are hampered by the concrete TestServ

[2018-05-25 02:32] rgamage commented on #7818
This is why we love Scott!  Always the advocate for the mainstream developers out there wanting to use MS tools, but stymied by various obscure limitations.  Thank you sir!

[2018-05-25 06:14] nukedbit commented on #7797
Hi @ajaybhargavb,
This is what i did to check.
Uninstalled every preview of 2.1 sdk and runtimes and finally installed the rtm bits you suggested.
This fixed the issue for VS for mac 7.5.
The issue remain for Rider, i will report that to them.
But another issue arised since installing the last sdk apparently now i get red squiggles over
@page and @addTagHelper saying the 'The name @addTagHelper do

[2018-05-25 06:52] lkubis commented on #7823
It works with `@namespace`, thx

[2018-05-25 07:57] gordon-matt commented on #7825
OK I migrated to .NET Core 2.1, but now I have a different error... See screenshot below

![capture1](https://user-images.githubusercontent.com/2860937/40533074-b732a4b4-6040-11e8-9b96-d3bc6c0a7f30.PNG)

Basically, the error messages are because the plugins have been setup with `<Project Sdk="Microsoft.NET.Sdk.Razor">` and it's now trying to build the razor views that are present in the **/Plugins

[2018-05-25 13:12] ckams commented on #7703
@NTaylorMullen @pranavkm

If you [take a look at the topic on the forum](https://forums.asp.net/t/2140752.aspx?Plugin+System+Application+Parts+and+Microsoft+failure), you will see that **_my requirement has never changed_**…. You did not understand it, I can conceive that it's my fault, but I insist, **_I never change anything in my request_**.

So to summarize I ask for a kind of `Html.RenderPart

[2018-05-25 13:54] gordon-matt commented on #7825
@pranavkm / @livarcocc OK guys ignore the last issue above, as that was fixed by my excluding the **/Plugins** folder from the main web project, which is what I should have done before. So that error is taken care of. However, I still get the same old error as follows:

[code]

If you run my app (using the database from the link I provided), you don't need to care about navigating around the app,

[2018-05-25 15:08] Tragetaschen commented on #7815
I've spent the better part of the day running through most of @mpetito steps above (while introducing `[ApiController]`). I think if anything, the documentation for `BindRequiredAttribute` should be updated to call out the limitations and workaround @dougbu mentioned. The distinction between model binding and input formatters is far from obvious until you start to really dig into this.

IMHO, the

[2018-05-25 15:51] pranavkm commented on #7825
In general, it's going to be difficult for you to compile views for dynamically loaded views at runtime. You should copy the build time compiled .Views dll from your plugins over and avoid copying both cshtml files and deps files from plugins.

[2018-05-25 15:57] pranavkm commented on #7703
I've a sample that shows using a PartialTagHelper, you're able to do essentially what this new API requires. If there's a feature gap with the tag helper, which you have yet to have demonstrate, we can consider addressing it. Beyond that, we do not plan on adding new APIs to HtmlHelper.

[2018-05-25 16:02] #7823 closed

[2018-05-25 16:02] gordon-matt commented on #7825
Sounds like I'm going to have to make a lot of changes to my existing code, but if that's the only way, then so be it. It worked great in MVC5.. I don't know why it's such a hassle in .NET Core. Anyway, could you please point me in the right direction on how to go about what you suggested?

By the way, I would imagine that wanting runtime plugins is a fairly common use case for many projects. I wo

[2018-05-25 16:13] ckams commented on #7703
But this is, here, useless, **as null object _is sent_ to the Plugin Controller** leading to rise an exception… The behavior is the same as in 2.0…

Well, I will try to put something that you can test. Will it be enough?

But you wrote:

Does it mean that _under no circumstances_ you will add a new APIs to HtmlHelper? But here the problem…  And if it is the case, I will not waste my time to show y

[2018-05-25 16:44] mkArtakMSFT commented on #7703
Hi @ckams.

It seems there is some kind of confusion here and from reading through your forum post, it seems you really haven't understood that folks here were trying to help you. Not really best way to speak about people without understanding them.

Anyway, the bottom line here is that we still don't understand the exact problem that you want us to fix. So a repro app which would explicitly detai

[2018-05-25 16:54] mkArtakMSFT commented on #7826
Thanks for contacting us, @bgribaudo.
@dougbu, what can we do here?

[2018-05-25 17:03] mkArtakMSFT commented on #7822
Hi @chuanboz.

Logging is the new telemetry solution in ASP.NET Core. You can read more about it at: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.0&tabs=aspnetcore2x

[2018-05-25 17:03] #7822 closed

[2018-05-25 17:37] sebastienros commented on #7825
@gordon-matt Use the Orchard Core Framework. It will provide you with plugin support (from Nuget packages also, and custom galleries if you want), dynamically configurable features (coming from plugins), multi-tenancy and theming. You can build any modular app on top of that, like we do to build the Orchard Core CMS. It will save you a lot of work, and probably provide you with features you would

[2018-05-25 17:57] ckams commented on #7703
Hi @mkArtakMSFT
First, you right mkArtakMSFT, @NTaylorMullen I sincerely apologize for what i wrote.

But, it is, for me, so obvious, and [only by looking at the code](https://github.com/aspnet/Mvc/blob/1fa1d7df3e1029e8321890ff9ea2b5ec48065898/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialExtensions.cs#L295), that it becomes annoying.

Anyway, I will do my best to details th

[2018-05-25 18:16] ckams commented on #7825
@gordon-matt

I am trying to initiate something [there](https://github.com/aspnet/Mvc/issues/7703).

[2018-05-25 18:17] dougbu commented on #7826
First off, a workaround / recommendation: Don't use the short form for the query string, instead use
[code]
Is it required to use the short form for your scenario?

Main thing we could do is introduce a new `AnchorTagHelper` property of type `IDictionary<string, object>` or `RouteValueDictionary`. (The first could support similar `{prefix}-*` attributes to what we have today with `asp-route-{key}`

[2018-05-25 19:40] pranavkm opened #7827 "Ensure CompatibilityVersion documentation is current"
There's a list of bullet points associated with `CompatibilityVersion` here - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/CompatibilityVersion.cs#L60. Pretty easy to miss updating this. This tracking item is meant to ensure this list is up-to-date at the end of an RTM release

[2018-05-25 23:00] #7748 closed

[2018-05-25 23:40] ajaybhargavb commented on #7797
@nukedbit, this is indeed a bug. I have filed a [bug](https://devdiv.visualstudio.com/DevDiv/Xamarin%20VS%20for%20Mac/_queries?id=622896&fullScreen=false&_a=edit) internally to track this.

[2018-05-26 02:17] gordon-matt commented on #7825
@sebastienros Thanks for your response. If the Orchard modules is completely separate from all the other Orchard stuff, then I suppose I might consider it. But if it means having to use their infrastructure for tenants, theming, etc. as you mentioned then it's not so great, because my CMS already has those things and I am quite happy with my setup overall.

[2018-05-26 09:13] A-Programmer commented on #6780
How about downloading file from a url in user computer with resume support?

[2018-05-26 13:53] ckams commented on #7703
Hi,
@mkArtakMSFT @pranavkm @NTaylorMullen, see [here a repo](https://github.com/ckams/Html.RenderPartialRawAsync-).

[2018-05-26 15:09] pranavkm commented on #7703
The stack trace says that the exception if from running the view because it assumes a non-null model instance:

![image](https://user-images.githubusercontent.com/174281/40577526-f7bb3cf0-60bb-11e8-8412-6b3a751d60ae.png)

Making it null conditional - `<h1>@Model?.Name</h1>` fixes the issue.

[2018-05-26 15:40] ckams commented on #7703
No it does not fixes the issue, as:
* It only avoids the Null exception…
* Now we do not have a null exception, but what about the data? Dropped…
I always see the same problem… The `Html.RenderPartialAsync()` always send something that breaks the plugin…

[2018-05-26 15:45] ckams commented on #7703
In my humble opinion, this "trick" looks more like a View Components alternative.

[2018-05-26 15:58] ckams commented on #7703
From what I read in the ASP.NET Core MVC code, there is, for now, no existing way to achieve what I want.

[2018-05-26 20:14] zokiad opened #7828 "Exception when start kestrel with socket with RC1"
Hi,

On **debian9**, when i try to start kestrel with socket:
`/usr/bin/dotnet WebSite.dll --server.urls http://unix:/var/run/dotnet/WebSite.socket`

On preview1, work fine.
On RC1, doesn't work. I have this exception:
[code]

**dotnet --info**

[code]

Linux debian 9: 4.9.0-6-amd64

Same issue when define socket in startup:

        public static IWebHostBuilder CreateWebHostBuilder(string[] args

[2018-05-27 07:37] zokiad commented on #7828
**# Fixed:**

on Rc1, libuv has been remove.

**Solution:**
Add package:
 <PackageReference Include="Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv" Version="2.1.0-rc1-final" />

and add inprogram.cs:
        public static IWebHostBuilder CreateWebHostBuilder(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                **.UseLibuv()**
                .UseStartup<Startup>()

[2018-05-27 07:37] #7828 closed

[2018-05-27 13:53] ckams commented on #7703
@pranavkm to clarify the situation, I often point to `Html.RenderPartialAsync()`, but the same problem resides with `private async Task RenderPartialViewAsync(TextWriter writer, object model)`.https://github.com/aspnet/Mvc/blob/d47e686cf10ef4c49692627f07ed434cb06af8c6/src/Microsoft.AspNetCore.Mvc.TagHelpers/PartialTagHelper.cs#L139).
So to be clear, we need a kind `RenderPartialViewRawAsync()`.

A

[2018-05-27 19:28] Rudithus opened #7829 "Custom RouteConstraints are not resolved through IoC"
Given a custom RouteConstraint with dependencies, such as

        private readonly IPermanantCache<City> _cityCache;
        public CityRouteConstraint(IRepository<City, int> cityCache) : IRouteConstraint
        {
            _cityCache= cityCache;
        }

        public bool Match(HttpContext httpContext,
            IRouter route,
            string routeKey,
            RouteValueDictionar

[2018-05-28 01:04] dougbu commented on #7826
Clearing labels and assignment. @mkArtakMSFT, @danroth27 please decide if this (probably small) enhancement is needed and when.

[2018-05-28 09:19] smartcodinghub opened #7830 "IRazorViewEngine.FindView Precompiled Views and Non compiled views different behaviors"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

1. Have a view in a non root path (/Views/Controller/View).
2. Use FindView with a Path like: 'MyTemplates/MyView' which isn't in the default paths.
3. When the view is not compile, it finds a View. When its compiled no.

#### Description of the problem:

The reason is

[2018-05-28 14:15] iforlife commented on #6759
This is super critical when ajax is involved and nowadays most if not all sites have lots of ajax.
It will be very useful to be able to do something like(we are talking about razor pages here):
`
public async Task<IActionResult> OnPostCreateAsync(Something something)
{
    //some logic
    return await PartialAsync(partialViewName, model, viewData);
}
`

[2018-05-28 14:20] iforlife commented on #6664
This is super critical when ajax is involved and nowadays most if not all sites have lots of ajax.
It will be very useful to be able to do something like(we are talking about razor pages here):

[code]

and of course to include the same partial view from the cshtml page : `@await Html.PartialAsync(...)`

[2018-05-28 19:00] zokiad commented on #7826
Also, we can't generate a A HTML tag with @Html.ActionLink with mutiple value because RouteValueDictionary doesn't support several same value (it is a dictionnary).

A other issue:
When a html select with multiple value and submit a form with get method, we obtain:
http://www.domain.com?id=1&id=2

When use method Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery, id value is 1,2.
If you us

[2018-05-28 20:04] dougbu commented on #7826
@zokiad

The key doesn't need to be repeated because `RouteValueDictionary` supports e.g. `rvd["key"] = new[] { "value1", "value2" }`

The `Values` in the dictionary `ParseQuery` returns are `StringValues`. In this case, `id` is the equivalent of `new[] { "1", "2" }`. Just happens to `ToString()` as `"1,2"`.

Use either `?id=1&id=2` or `?id[0]=1&id[1]=2`

[2018-05-28 20:34] zokiad commented on #7826
Oh yes!

Thus a workaround is to use @Html.ActionLink with RouteValueDictionnary.

But it is more clear the anchor taghelper. Perhaps, asp-all-route-data should accept RouteValueDictionnary?

Thank for our help.

[2018-05-29 06:03] chuanboz commented on #7822
hi, @mkArtakMSFT

thanks for the reference link, I did read that before I ask this here.

from what I understand from that article, the ILogger and ILoggerFactory is registered as singleton, so there will be only one instance across all requests, while ITraceWriter is created per request so it could be used to trace request execution flow.

At a minimal, as ITraceWriter is publicly documented as t

[2018-05-29 08:08] ayepirate opened #7831 "Accessing action arguments from IResultFilter"
Is this possible to access values of my actions from `IResultFilter`? It's possible from `IActionFilter` using `ActionExecutingContext.ActionArguments`.

Is there any way to do this from `IResultFilter`?

[2018-05-29 09:36] xjfnet opened #7832 "how to load razor page from file, excute it and get the html result?"
we can load webpage from file, exute it and get the thml result with asp.net mvc 5
[code]

but how to do that with asp.net core?

[2018-05-29 09:47] ayepirate opened #7833 "Question: HttpContext.Features vs HttpContext.Items"
It seems like I can use `HttpContext.Features` and `HttpContext.Items` to store some data to share with different classes with access to `HttpContext`.

Are there some situations where I should prefer one over another? Or it's purely up to me? Is it wrong to use one of them in certain circumstances?

[2018-05-29 10:34] BennieCopeland commented on #7422
@Postlagerkarte IMHO you are mixing concerns by putting the logic in the view. I would move it up to the viewmodel itself. This way, you also gain testability and keep the view itself clean.

[code]

[code]

[2018-05-29 13:42] maximebousquet commented on #5631
Hi, any update on this ?

[2018-05-29 16:45] #7833 closed

[2018-05-29 16:48] mkArtakMSFT commented on #7832
Hi @xjfnet.
We have a sample detailing a similar scenario, which is available at https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString

[2018-05-29 16:48] #7832 closed

[2018-05-29 16:48] mkArtakMSFT commented on #7831
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-29 16:48] mkArtakMSFT commented on #7831
/cc @pranavkm

[2018-05-29 17:00] mkArtakMSFT commented on #7703
Hi @ckams.

Just to confirm that my understanding is correct, are you looking for a new mechanism, which will allow you to pass in arbitrary model to a view, which you try to load using `RenderPartialViewasync` or some alternative API, which will allow you to do that?

[2018-05-29 17:06] pranavkm commented on #7830
Likely a dup of https://github.com/aspnet/Mvc/issues/7535. See my comments here - https://github.com/aspnet/Mvc/issues/7535#issuecomment-375738070. Does that help?

[2018-05-29 17:11] pranavkm commented on #7832
For Mvc 5, I'd look at something like https://github.com/Antaris/RazorEngine

[2018-05-29 17:40] #7831 closed

[2018-05-29 17:40] ayepirate commented on #7831
@pranavkm should work, thanks :)

[2018-05-29 17:52] ckams commented on #7703
Hi @mkArtakMSFT
An alternative API, but like this:
`private async Task RenderPartialViewAsync(TextWriter writer)`

[2018-05-29 19:41] rjamesnw opened #7836 "ViewResultExecutor changed behavior"
#### Is this a Bug or Feature request?:
Not sure.

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
Create a new type derived from `ViewResultExecutor`.  i.e.:
[code]

1. Create a new proejct.
2. Register the new executor (add the service BEFORE MVC).
3. Create an index.cshtml page that loads a partial view, and in that partial view load one more partial view.
4.

[2018-05-29 19:46] pranavkm commented on #7836
Is this a change in behavior from Mvc Core 1.0 \ 1.1? If so a repro app, would definitely help. Generally the ViewExecutor is only invoked once for each instance of `ViewResult` \ `PartialViewResult` - calls to partials, layouts, don't go through the executor.

[2018-05-29 19:54] rjamesnw commented on #7836
Sorry but you're wrong - it used to be invoked for every view, otherwise, I would not have built it that way in the first place. ;)  This was working fine last year, and I just loaded the project recently and now it doesn't work.  I did this because I confirmed by the MVC source code (I downloaded the source last year) that this indeed worked as expected; now it does not.  I don't have a working t

[2018-05-29 22:22] pranavkm commented on #7793
Merged in https://github.com/aspnet/Mvc/commit/984cd46c4da9b9e94db6fc4a4aaac3a34a76f20f

[2018-05-29 22:22] #7793 closed

[2018-05-29 23:16] rjamesnw commented on #7836
BTW: Creating a project to run the code is not the point.  The main question is how to detect nested view rendering order?  This used to be available via `System.Web.WebPages.TemplateStack`, but that is no longer available in ASP.Net Core.  I was originally able to hook into this process and implement my own event system.  If someone else has a better method, I can just use that instead.  ;)

[2018-05-30 01:25] ardalis opened #7837 "How to Seed WebHost Data When Using WebApplicationFactory<Startup> ?"
#### Is this a Bug or Feature request?:
Bug? Lack of docs if it's already available.

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

I can seed data using WebHostBuilder using code like this:
https://github.com/dotnet-architecture/eShopOnWeb/blob/netcore2.1/src/Web/Program.cs#L16-L39

I'd like to be able to seed data before my functional tests. I'm using the n

[2018-05-30 01:40] ardalis commented on #7837
Tried using builder.Configure(), but of course that only works instead of, not in addition to, using <Startup>. So, that's out.

[2018-05-30 01:47] ardalis commented on #7837
This looked promising, but `Server` is null here:

[code]

[2018-05-30 01:48] ardalis commented on #7837
@danroth27 Have you used `WebApplicationFactory` with seeded data like this? Thanks in advance.

[2018-05-30 02:17] ardalis commented on #7837
Ah ha! The `Server` property is populated after calling `CreateClient()` (obviously...). This works!

[code]

[2018-05-30 02:30] mkArtakMSFT commented on #7703
@ckams, so you want the mechanism to end up loading views, even thought the model doesn't match. So that you can define in the view which model to use dynamically?

[2018-05-30 03:15] rjamesnw commented on #7836
FYI: I found a workaround that seems to be ok, but it only executes for views that are not the layout view.  I created a custom 'CompositeViewEngine' object and an IView proxy (wrapper) to hook into the renders. This is acceptable for now.

[2018-05-30 03:46] pranavkm commented on #7836
An alternative to writing a custom view engine instance might be to register a `DiagnosticListener` and listen to [`OnBeforeViewPage`](https://github.com/aspnet/Mvc/blob/f4a86f5511064d3d7ef238ac862c3e73b412b5cd/test/Microsoft.AspNetCore.Mvc.TestDiagnosticListener/TestDiagnosticListener.cs#L234-L248). Some details on using DiagnosticSource - https://github.com/dotnet/corefx/blob/master/src/System.D

[2018-05-30 04:41] rjamesnw commented on #7836
Interesting, I'll check it out, thanks. :)

[2018-05-30 09:51] Postlagerkarte commented on #7422
@BennieCopeland Sure, you can put the logic into the viewmodel. However there are also good reasons not to do it - maybe you don't care about testability, maybe you just find it easier to reason about the code if the logic is in the cshtml.
Adding the overload to constructor enables those scenarios but is not forcing you to use it.

[2018-05-30 11:20] ckams commented on #7703
@mkArtakMSFT

Well, that depends of what you mean by '_**the model doesn't match**_'.
It would be a simple mechanism to end up loading views from plugins like this:

- You choose on AppCore where you want to output the plugin, by choosing where you want to output the plugin's view, **but**:
- as plugins load their own model themselves
  - `private async Task RenderPartialViewAsync(TextWriter write

[2018-05-30 16:15] fatagun commented on #4283
yeah just do it and let the rest of the world waste their time searching for a solution. Great!!

[2018-05-30 16:29] pranavkm commented on #7836
It shouldn't have significant perf costs, but I'd measure it.

On a tangent, we do have some plans on making the view rendering pipeline have something akin to filters so it's more straightforward to write something like this. Unfortunately that's not in scope for the 2.2 release.

Closing this issue since it looks like you have a solution. Feel free to reopen if you have further questions.

[2018-05-30 16:29] #7836 closed

[2018-05-30 16:46] mkArtakMSFT commented on #7837
Thanks for contacting us, @ardalis. Looks like you've went through a good investigation here. Glad it worked out. After looking back now, it took you just an hour to figure it out. Which part specifically was the hard part? What/ how you'd like us to improve to make it even simpler?

/cc @danroth27, @javiercn

[2018-05-30 16:52] mkArtakMSFT commented on #7825
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-30 16:52] #7825 closed

[2018-05-30 16:52] mkArtakMSFT commented on #7824
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-30 16:52] #7824 closed

[2018-05-30 17:44] ardalis commented on #7837
1. WebApplicationFactory doesn't actually have a CreateWebApplication method or a Create method that returns a WebApplication.

2. Server property has no way of being created that makes any sense. You need to create a *Client* and then realize that this in fact populates the Server. I made a PR to fix this. https://github.com/aspnet/Mvc/pull/7838

These were the two biggest issues. You don't want

[2018-05-30 17:45] ardalis commented on #7837
Also I thought "just an hour" comment was great. :) This should have been 30 seconds... 🤕

[2018-05-30 19:43] javiercn commented on #7837
Thanks for your feedback.

There's a point on the testing doc specifically on how to seed the database:
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1#customize-webapplicationfactory

This package focuses on allowing developers to boot up your MVC app, there's really nothing we can do in this package to simplify how to seed data in EF, that said, it could b

[2018-05-30 19:55] ardalis commented on #7837
Thanks for the docs link - that wasn't there a couple of days ago when I first was looking into this but it looks like good stuff from @GuardRex / Luke. I'll have a look at following that approach and will follow up.

You can see from this issue + comments how I was basically just trying to find where to hook in seeding of test data for my functional test. My previous (pre 2.1) tests did this in a

[2018-05-30 20:40] javiercn commented on #7837
Thanks,

I'm closing this for now as there's no action we can take here until our next major version.

[2018-05-30 20:40] #7837 closed

[2018-05-30 23:36] jhudsoncedaron commented on #7083
Incidentally if I can poke this code I have a drop-in replacement for result.GetAwaiter().GetResult(); that works.

[2018-05-31 00:31] gordon-matt commented on #7825
@mkArtakMSFT Actually, no - it has yet to be resolved. I want to thank @pranavkm for taking the time to look at my code and attempt a solution, but it's still not working. I will continue working on this problem and reopen this issue later if I'm still stuck. Thanks.

[2018-05-31 00:34] mkArtakMSFT commented on #7703
Ok. I now understand your ask.
There is, however, still no any plans to provide that type of functionality in the near future. For now, I'll move this issue to the `Backlog`. We'll review it after a while, and depending on the community involvement with this issue as well as our priorities by the time we'll decide how to move forward.

[2018-05-31 02:31] ckams commented on #7703
Finally! :)
Thanks for you patience!
Could it helps, if I provided you with some code, on how I planned this in a PR?
Not for now, I am overloaded :s

[2018-05-31 03:44] embryologist opened #7840 "How to override model state error message in asp.net Core 2.1?"
#### Is this a Bug or Feature request?:
Question

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
shown below

#### Description of the problem:

I can't seem to be able to override the error message from model state validation for `int` or nullable ones `int?`. In the previous versions of Asp.Net Core I used to receive that the input is not valid, now I am gettin

[2018-05-31 09:01] toburger opened #7841 "XmlDataContractSerializerOutputFormatter returns wrong response when using ASP.NET Core 2.1 and a Task as return value"
#### Is this a Bug or Feature request?:

Bug/Regression

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

https://github.com/toburger/aspnetcore-xmldatacontractserializer-bug/tree/v2.1

* Create a new project with the ASP.NET Core 2.1 API Template
* Add Microsoft.AspNetCore.Mvc.Formatters.Xml 2.1 package
* Configure Output Formatter
[code]
* Change ValuesControl

[2018-05-31 09:18] toburger commented on #7841
I get the following error when executing the web application from the console:

[code]

[2018-05-31 13:49] scotteby commented on #4910
I just tried this again with .Net Core 2.1 and still get the same error if I enable Nlog in Startup.cs:

`Microsoft.ReportingServices.ReportProcessing.ReportProcessingException: Failed to load expression host assembly. Details: Type 'Microsoft.AspNetCore.Mvc.Internal.MvcCoreLoggerExtensions+ActionLogScope' in assembly 'Microsoft.AspNetCore.Mvc.Core, Version=2.1.0.0, Culture=neutral, PublicKeyToken

[2018-05-31 14:31] Bartmax opened #7842 "Method Attribute on Razor Pages."
#### Is this a Bug or Feature request?:
Question / Feature request

#### Description of the problem:
[code]

Is it possible to use attributes per method on Razor Pages ?
_(i know the code provided does not work)_
If it doesn't, I suggest an error or warning as it may lead to filter sensitive data.

[2018-05-31 16:11] mkArtakMSFT commented on #7804
@kichalla, is this ready to be closed now?

[2018-05-31 16:44] mkArtakMSFT commented on #7842
Thanks for contacting us, @Bartmax.
The `Authorize` attribute is not applicable to page handlers. You can apply it on the page model level, though.
This is a quesiton which keeps coming up and we plan to provide a guidance here by introducing an analyzer, which will work developers from doing that: https://github.com/aspnet/Mvc/issues/7684

[2018-05-31 16:44] #7842 closed

[2018-05-31 16:46] #7804 closed

[2018-05-31 16:48] Bartmax commented on #7842
that suggests this issue should be treated as Feature Request then 😄

[2018-05-31 16:50] mkArtakMSFT commented on #7841
Thanks for contacting us, @toburger.
This is a known issue: https://github.com/aspnet/Mvc/issues/7782
We plan to release the fix for it as part of 2.1.1 patch.
The referenced issue contains a workaround which you may decide to try.

[2018-05-31 16:50] #7841 closed

[2018-05-31 17:02] mkArtakMSFT commented on #7840
Thanks for contacting us, @embryologist.
@dougbu, can you please look into this? Thanks!

[2018-05-31 17:21] a-vishar opened #7843 "HTTP call not redirected to HTTPS when using WebApplicationFactory"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
Use HttpsRedirection, and create a test which calls using HTTP.

`var options = new WebApplicationFactoryClientOptions`
`{`
`BaseAddress = new Uri(@"https://localhost:443"),`
`AllowAutoRedirect = true`
`};`

`var factory = new WebApplicationFactory<Startup>();`
`client =

[2018-05-31 17:56] os1r1s110 commented on #4215
@LentoMan It has been fixed, see #7812

[2018-05-31 18:12] mkArtakMSFT commented on #7843
Hi @a-vishar.

From the thread at: https://github.com/aspnet/Mvc/issues/7757

It seems you're missing the configuration for the HTTPS port: https://github.com/aspnet/BasicMiddleware/blob/1c0918c1f19d3eee220c76a0203bb3d4235f60e1/samples/HttpsPolicySample/Startup.cs#L25

[2018-05-31 18:31] ryanbrandenburg commented on #7521
This depends on aspnet/BuildTools#615, which isn't done (or in a milestone).

[2018-05-31 18:32] toburger commented on #7841
Ah sorry, I did a search for the bug but couldn't find an issue.
Nevermind, it looks like the original bug report has the same repo steps I described above! :-D

[2018-05-31 19:01] pranavkm commented on #7795
There's a couple of interaction issues here that sort of culminate in this behavior

* Both `AutoValidateAntiforgeryTokenAttribute` and `IgnoreAntiforgeryTokenAttribute` have the same filter order of 1000. If they are applied at the same scope, then their resulting order is undefined. The current implementation is basically to preserve the order in which they appear in the list.
* [AutoValidateAnt

[2018-05-31 19:04] dougbu commented on #7840
@embryologist this particular error message comes from Json.NET, specifically https://github.com/JamesNK/Newtonsoft.Json/blob/a82acace469cd0302231a8216af73d0b60b25770/Src/Newtonsoft.Json/JsonReader.cs#L462

In previous versions, this error message was suppressed and replaced by a generic message. We addressed complaints that the message was too generic recently and now flow `JsonReaderException` a

[2018-05-31 19:12] dougbu commented on #7795
👍

[2018-05-31 19:50] donnyv opened #7844 "Adding controller hangs Visual Studio"
#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
Uninstall Nuget package Microsoft.EntityFrameworkCore.SqlServer and then use Visual Studio right click to create a new controller.

#### Description of the problem:
When using Visual Studio to create a new controller. The process hangs because it installs Microsoft.Entit

[2018-05-31 20:18] mkArtakMSFT commented on #7844
Thanks for reporting this issue, @donnyv.
@vijayrkn, seems this is caused by the scaffolder. Will move to the appropriate repo now.

[2018-05-31 20:18] mkArtakMSFT commented on #7844
This issue was moved to aspnet/Scaffolding#806

[2018-05-31 20:18] #7844 closed

[2018-05-31 20:38] ghost opened #7845 "Script Tag Helper asp-fallback-src fails integrity check"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

1.  Create a reference to a CDN, using a local fallback and an integrity check, such as:
[code]
2. Make sure the local file (jquery.min.js) is not binary equal to the CDN version.
3. Change the CDN source to a non valid URI, such as using a non existent version 9.9.9.
4

[2018-05-31 20:59] ericwj commented on #7795
We are not stupid - most of us, I only speak for myself - so there should be a way to make AntiForgery just go away. There is also this nice feature called authorization which can help. Or alternatively a way to have a blank class and no `HttpContext` or `ActionContext` or whatever and just get a token.

Just like I would like to point some factory at my web app *without any context* and get an `I

[2018-05-31 21:30] bgribaudo opened #7846 "Allow Anchor Tag Helper to Output Directly to Query String"
Anchor Tag Helper does not provide a way to _directly_ request that it output a query string.

Currently, any route data values (e.g. `asp-all-route-data`, `asp-route-`) that do not match a route parameter are output on the query string. For example, the link below will be output containing `?value=view`.

    @{ var data = new Dictionary<string, string> { ["value"] = "view" }; }
    <a asp-all-ro

[2018-05-31 21:32] bgribaudo commented on #7367
Related: #3791

[2018-05-31 21:32] bgribaudo commented on #7846
Related: #7367

[2018-05-31 22:05] HamletHakobyan opened #7847 "Build fails when %userprofile% contains space"
Build fails when trying to install .NET Core Runtime (x64) 2.0.0

[2018-05-31 22:28] mkArtakMSFT commented on #7847
Thanks for contacting us, @HamletHakobyan.
Trying to understand the issue you're facing here.
Are you having issues with building an app targeting .NET Core runtime 2.0?
Would be great if you could provide a sample repro project emphasizing the issue.

[2018-05-31 22:35] mkArtakMSFT commented on #7846
Thanks for contacting us, @bgribaudo.
This indeed is a related issue, which we'll consider with the other one you've referred to.
As you've already linked these two, we're closing this on and we'll review this ask also, when will be deciding on the exact approach to take for the other issue.

[2018-05-31 22:35] #7846 closed

[2018-05-31 22:35] mkArtakMSFT commented on #7367
We should review the ask in the referenced issue #3791 when we'll be deciding on the approach to take.

[2018-05-31 23:31] embryologist commented on #7840
@mkArtakMSFT @dougbu
Thanks so much, that definitely solved the issue.

[2018-05-31 23:31] #7840 closed

[2018-06-01 00:36] HamletHakobyan commented on #7847
The issue is  related to the asp.net core mvc project. When I try to run `build.com /t:Restore` it fails with error

it because of space in profile name "aaa bbb". When I thy to print `InstallDir` and `Channel` arguments of "scripts\dotnet-install.ps1" they are
`InstallDir = "c:\Users\aaa"`
`Channel= "bbb\.dotnet\x64"`

[2018-06-01 00:51] pranavkm commented on #7847
cc @natemcmaster \ @ryanbrandenburg

[2018-06-01 00:58] mkArtakMSFT commented on #7847
Thanks for the details, @HamletHakobyan.
@ryanbrandenburg looks like this is related to our build scripts.
Can you please look into this?

[2018-06-01 00:59] natemcmaster commented on #7847
This looks like a duplicate of https://github.com/aspnet/BuildTools/issues/666

[2018-06-01 01:11] HamletHakobyan commented on #7847
I found out, that the problem is in msbuild task `InstallDotNet`. The procmon shows that the InstallDir arguemnt passed to the "dotnet-install.ps1" is double quoted. So in powershell, the double quoted argument with space is separated to the 2 arguments by the space.

[2018-06-01 01:13] HamletHakobyan commented on #7847
@natemcmaster yes, it is.

[2018-06-01 01:46] mkArtakMSFT commented on #7847
Thanks @natemcmaster. Closing this one in favor of the earlier reported issue referenced above.

[2018-06-01 01:46] #7847 closed

[2018-06-01 03:07] rynowak commented on #7720
Fixed by acea87a

[2018-06-01 03:07] #7720 closed

[2018-06-01 03:09] rynowak commented on #7720
@lecoque - if you'd be willing to send a PR, I think we'd be willing to take something like this

I don't want to add too many options to the framework by default - as you point out there are a lot of different schemes for generating query strings. I'd rather add a hook that lets application developers customize it.