[2018-06-01 08:45] zuosc opened #7849 "About Routing match double slash"
#### Is this a Bug or Feature request?:

Maybe  it‘s a Feature ~

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

Same with this  question：  https://stackoverflow.com/questions/50248828/asp-net-core-attribute-routing-and-double-forward-slash?rq=1

#### Description of the problem:
Same as above

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore

[2018-06-01 09:08] smartcodinghub commented on #7830
I have no issue here, I just changed ViewLocationFormats and its ok. The actual issue is the different behavior between compiled and no compiled views. This is because when you are working on visual studio you think it works as it can find views with a double slash (because there's no controller) but, when you publish, it stops working, which can be a hard issue to find. Especially for new Net dev

[2018-06-01 09:35] a-vishar commented on #7843
That solves my problem, thanks!

I'd like to suggest the documentation be updated with a little "Note" to explain this situation.  As it stands the [Enforcing SSL](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.1&tabs=visual-studio) docs don't indicate that for unit tests you must manually set the port.

[2018-06-01 09:35] #7843 closed

[2018-06-01 13:31] data-handler opened #7850 "asp-for is rendering child property value instead of parent"
### Minimal repro steps

1. Create Model with child

[code]

2. Create View with Parent Model

[code]

3. Create Controller Action to return PartialView with populated parent model
[code]

4. View rendered page in browser
In my case, I am calling the Action using JQuery ajax
![image](https://user-images.githubusercontent.com/7189305/40843792-09757b34-65aa-11e8-9f2e-19ca30d534a7.png)

### Expected

[2018-06-01 14:59] rmja opened #7851 "ApiController: Body is used as binding source for complex objects for GET-only actions"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
In a controller attributed with `ApiController`, create an action marked with `HttpGet`. Let the action take a complex model as a parameter. A HTTP 400 is returned when requesting the action. Example snippet:

[code]

#### Description of the problem:
It seems as if the `

[2018-06-01 15:28] rmja commented on #7851
Any class, here is one:
[code]

[2018-06-01 15:36] davidfowl commented on #7851
I just want to know why you want to bind a complex object from the query string.

[2018-06-01 16:46] mkArtakMSFT commented on #7850
Thanks for contacting us, @data-handler.
@NTaylorMullen can you please look into this? Thanks!

[2018-06-01 16:51] mkArtakMSFT commented on #7849
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-06-01 16:51] #7849 closed

[2018-06-01 17:07] mkArtakMSFT commented on #7851
Hi @rmja.
We've decided to keep that logic straight forward to avoid confusion. One of the reasons is that using a complex type as a parameter for binding from query string is not so common.
You can simply apply the `FromQuery` attribute to the `query` parameter in your action, and it'll fix the issue.
We will consider creating a new analyzer to warn users about this behavior in the future, if we

[2018-06-01 17:15] pranavkm commented on #7830
Yup, we addressed the differences as part of the 2.1.0 release. More pertinently, as of 2.1.0, in the default case, views are compiled as part of build. If there are other issues in this area that we haven't addressed they should show up during your regular dev builds.

[2018-06-01 17:35] pranavkm commented on #7845
Out of curiosity, how does this happen?

[2018-06-01 17:38] NTaylorMullen commented on #7850
@data-handler could you provide a repro project based off of the default project template? I'm not able to reproduce it myself:

![image](https://user-images.githubusercontent.com/2008729/40854920-cd06d4a8-6587-11e8-859e-c3a234d34b09.png)
![image](https://user-images.githubusercontent.com/2008729/40854951-e762ea26-6587-11e8-83df-89b52a873564.png)
![image](https://user-images.githubusercontent.com/

[2018-06-01 17:39] jmhmaine commented on #7845
Age old problem with Windows vs Unix line endings...

[2018-06-01 17:52] twsouthwick opened #7852 "Microsoft.AspNetCore.Mvc.Analyzers.AvoidHtmlPartialAnalyzer cannot be created"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
I'm updating a project to use ASP.NET Core 2.1, and am receiving some warnings about analyzers not being able to be created while running in Visual Studio.

#### Description of the problem:
Getting error:

[code]

The change in question is here: https://github.com/Micros

[2018-06-01 17:54] mkArtakMSFT commented on #7845
Hi @joshhurley.
This is not something we would do at the moment. However, if you're interesting in submitting a PR for this, we'd happily take it.

[2018-06-01 17:55] rmja commented on #7851
So I guess its a feature and not a bug; In Denmark we have the saying: "You can choose between plague or cholera" :-)

I can see that there is an option to opt out from the binding behavior [here](https://github.com/aspnet/Mvc/blob/418aac57f4aa962c153485ee9a7b08a5e48a3a7e/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L145), but where do I set the `SuppressInferB

[2018-06-01 17:56] vpaulino opened #7853 "Custom Outputformatter not being invoked"
Hi there,

Im developing support to MessagePack formatters to use on Controllers to return messagepack binary instead of json so I implement an InputFormatter and Output formatter and a HttpContent to be used on HttpClient.

I'm using ASP.NET Core 2.1 fresh out of the hoven and the dependencies that I have referenced on the tests project are:

![image](https://user-images.githubusercontent.com/859

[2018-06-01 17:57] pranavkm commented on #7852
What version of VS do you have? Asp.Net Core 2.1.0 requires VS 15.7 or newer and that should ship with Roslyn 2.8.0.

[2018-06-01 17:57] mkArtakMSFT commented on #7845
So to summarize the approach we'd like to be taken here:
1. Introduce a new boolean property `asp-fallback-intergrity-check`
2. It should have default value of `true`, which will behave exactly as it does now
3. When set to `false` the integrity check for fallback file should be disabled

[2018-06-01 17:57] vladislav-karamfilov commented on #7851
@rmja , I think what you are looking for is here: https://docs.microsoft.com/en-us/aspnet/core/web-api/index?view=aspnetcore-2.1#binding-source-parameter-inference (the last part of this section)

[2018-06-01 17:58] jmhmaine commented on #7845
@mkArtakMSFT, I tried searching the code base to find the location of the integrity attribute, but couldn't find it. If you could point me to the right location I can take a look at the source and Unit Test work needed. Thanks.

[2018-06-01 17:58] twsouthwick commented on #7852
15.7.2

[2018-06-01 18:04] rmja commented on #7851
@vladislav-karamfilov Yes, perfect, thank you!

[2018-06-01 18:08] pranavkm commented on #7852
Looks like a dup of https://github.com/dotnet/core/issues/1543. https://github.com/dotnet/core/issues/1543#issuecomment-389936577 has possible workaround for this. https://github.com/Microsoft/vsts-image-generation/issues/133 tracks creating an updated image with VS 15.7 on it.

[2018-06-01 18:10] mkArtakMSFT commented on #7845
@joshhurley,
`integrity` is a native property of the HTML `script` tag: https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity
You should really just not render it, if the tag helper fallback happens.

[2018-06-01 18:10] twsouthwick commented on #7852
Those look to be about VSTS or using 15.6. I'm seeing this locally on a 15.7.2 install

[2018-06-01 18:15] mkArtakMSFT commented on #7853
Thanks for contacting us, @vpaulino.
@dougbu, can you please look into this? Thanks!

[2018-06-01 18:18] jmhmaine commented on #7845
@mkArtakMSFT , I was looking for where the integrity property was rendered in the code base. I tried a simple search within GitHub but it didn't return any hits: https://github.com/aspnet/Mvc/search?q=integrity&unscoped_q=integrity

[2018-06-01 18:19] mkArtakMSFT commented on #7851
@pranavkm, can you advice how to configure this globally?

[2018-06-01 18:19] pranavkm commented on #7852
Ahh, I thought you were seeing this on VSTS since your PR was broken there with this error.

Could you look up your `devenv.exe.config` and verify it has the right version listed in it? On my box, it's located at `C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.exe.config` and says

[code]

Maybe it's busted?

[2018-06-01 18:21] mkArtakMSFT commented on #7851
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-06-01 18:21] #7851 closed

[2018-06-01 18:30] dougbu commented on #7853
@vpaulino thank you for filing this issue. To save time, could you please provide us with a minimal repro project that illustrates the problem, preferably hosted in a GitHub repo? That is, could you make the files you've copied into the description more accessible?

In addition
- Does the `Product` class have an associated `[MessagePackObject]`?
- It's likely the Internal Server Error is due to an

[2018-06-01 18:53] qJake commented on #3936
I googled the error that comes up and nothing came up, but found this thread via other means.

I'm including the original error so hopefully someone else Googling for this finds the answer:

I originally had this line:

[code]

I replaced it with:

[code]

And that resolved the issue.

I'm going to open an issue on the 2.0 -> 2.1 migration page, this should be in the documentation.

[2018-06-01 19:06] twsouthwick commented on #7852
Hmm I'm seeing the same thing as you

[2018-06-01 19:18] pranavkm commented on #7852
@jaredpar have you seen other reports of this error?

[2018-06-01 19:26] groogiam opened #7854 "DisableRequestSizeLimit and RequestSizeLimit do not work"
There appears to be a bug in versions 2.1.0 where the DisableRequestSizeLimit and RequestSizeLimit attributes do not work.

I have the following controller action defined.

[code]

Uploading a large file to this action results in the following exception.

System.IO.InvalidDataException: Multipart body length limit 134217728 exceeded

[2018-06-01 19:41] vpaulino commented on #7853
HI there !

The sample project is here :

https://github.com/vpaulino/aspnet-samples/tree/master/MessagePackWebApi

Yes I debug the application and conclude that the output media formatter is not invoked during response:

The Product is decorated withthe attribute if not the request would not work and that is working.

[2018-06-01 19:48] mkArtakMSFT commented on #7830
Closing this as a dupe.

[2018-06-01 19:48] #7830 closed

[2018-06-01 21:27] StefanoP73 commented on #7845
@jmhmaine,
all the native properties of the HTML are reported as they are written so you can't find the integrity property in the code

@mkArtakMSFT,
I think that `asp-fallback-intergrity-check` is a good solution but this eliminate the security of the integrity check! It's possible to add also something like `asp-fallback-intergrity` with a value valid for the integry of the fallback?
So we are t

[2018-06-01 22:13] dougbu commented on #7853
I encountered 2 bugs in `ProductsController` and opened a PR (paulino/aspnet-samples#1) containing the fixes. Neither bug related to the Message Pack components.

[2018-06-01 22:15] dougbu commented on #7853
Marking this as a `question` and clearing other labels as well as my assignment

[2018-06-01 23:05] bgribaudo commented on #7846
Thank you, @mkArtakMSFT!

[2018-06-02 03:57] jaredpar commented on #7852
Are u getting this during build or just opening in VS?

[2018-06-02 14:17] plioi opened #7855 "AutoValidateAntiforgeryTokenAttribute does not validate requests when registered globally by type."
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

As correctly described by Andrew Lock in https://andrewlock.net/automatically-validating-anti-forgery-tokens-in-asp-net-core-with-the-autovalidateantiforgerytokenattribute/ you can set up the AutoValidateAntiForgeryTokenAttribute globally like so:

[code]

However, if y

[2018-06-02 15:14] jmhmaine commented on #7845
@StefanoP73, the fallback is normally a local file, which you would trust since it is a file you are in control of from creation to deployment. Creating an integrity hash for local files wouldn't add value, only a burn to the user implementing.

@mkArtakMSFT / @StefanoP73 , do you know of any location in the codebase where remove a native property from an HTML tag? I want to following an existing

[2018-06-02 16:58] MichalJana opened #7856 "No service for type Microsoft.AspNetCore.Identity.UserManager has been registered"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
VS 2017 15.7.3 -> new Project ASP.NET Core Web Application MVC 2.1 -> Change Authentication to Individual User  Accounts. Change Identity primary key according to https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-primary-key-configuration?view

[2018-06-02 19:36] ghstahl opened #7857 "Razor Page Paramaters pick up other pages route data"
#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
[buildable project](https://github.com/ghstahl/AspNet-Core2-Page-Route-Problem/tree/master/src/PageRouteIssue)

1. Out-of-the-box asp.net core2.1 WebApplication
2. Add the following to contacts.cshtml and about.cshtml
[code]
3. Route to;
[code]
4. Now click on "Contacts"

[2018-06-02 21:00] ferflores507 commented on #3804
Thank you very much

[2018-06-03 10:00] data-handler commented on #7850
Well I have to apologise. I don't know how or why, but this issue is resolved today.
Once again, my apologies for wasting your time.

[2018-06-03 10:00] #7850 closed

[2018-06-03 11:22] Eneuman opened #7858 "InvalidModelStateResponseFactory does not seem to be working"
Version: .Net Core 2.1 RTW, Visual Studio 15.7.2

Even though I added a custom InvalidModelStateResponseFactory like this:
[code]

The response is a normal BadRequest.

You can reproduce it like this:
1) Create new .Net Core 2.1, Web API Application (no HTTPS support or docker support)
2) Add the code above to the startup.cs class
3) Start debugging
4) Enter the following url:
`http://localhost:<p

[2018-06-03 11:32] Eneuman commented on #7756
I like this. Please allow us to customize the response.
Today we are using a custom Middleware that adds a global exception filter. The exception filter then creates a response that conforms with RFC 7807.
It all gets setup with a builder like this:
`app.UseApiExceptionResponse(bool devEnv);`

If we could get something like this nativly in MVC that will be great.

[2018-06-03 16:51] mkArtakMSFT commented on #7845
@NTaylorMullen, any suggestions regarding how to remove the `integrity` property?

[2018-06-03 23:38] mkArtakMSFT commented on #7858
@kichalla, can you please look into this? Thanks!

[2018-06-03 23:39] mkArtakMSFT commented on #7856
Thanks for contacting us, @MichalJana.
@javiercn, can you please look into this?

[2018-06-04 02:32] gordon-matt commented on #7825
@pranavkm Thanks for the sample. I have forked it and integrated my own architecture and it works well. However, the exact same code in my larger system causes problems. The strangest part is the error **"Can't fnd compilation library for XYZ"** actually shows up in totally unrelated parts of the system...

Here is a screenshot of my solution:

![mantle](https://user-images.githubusercontent.com/2

[2018-06-04 05:10] gordon-matt commented on #7825
@pranavkm

OK, I have replicated the problem! You can find my fork here: https://github.com/gordon-matt/PluginApp

Basically, the **master** branch has been modified with my own plugin management code and it works fine. Now look at the **develop** branch, it's based on the master branch, but I added an "Admin" area with a page to install/uninstall plugins. The plugin still works fine if you click

[2018-06-04 09:56] vbougay opened #7860 "In place update (publish) fails on Ubuntu 16.04 with ASP.NET Core 2.1"
We were running and updating our ASP.Net Core 2.0 app on Ubuntu 16.04 for a while. We simply ran

`dotnet publish --configuration Release  --output /var/apps/<appname> `

to replace the previous build with a new one and it worked just fine. The old build was replaced by a new one on the fly and changes were picked up by ASP.NET. We use supervisor service to get the app up and running continuously

[2018-06-04 11:54] smartcodinghub opened #7861 "ERR_CONNECTION_RESET with RequestSizeLimit"
When I mark a Controller Action with a RequestSizeLimit and upload a file bigger, the request seems to go through all the pipeline but from the browser the connection get reset. I got a **BadHttpRequestException: Request body too large** on the console. This causes that the action doesn't redirect to the GET action that loads the View and we got a 404 error on the Post route.

Requests flow:

* **

[2018-06-04 14:22] xmlapi opened #7863 "Question/Feature: Don't load method parameter (Notmapped?)"
I'm using Razor Pages 2.1 and have the following PageModel:
[code]

Basically, when posting, I want to load some of the model and page properties from the DB.

While the above code works, unfortunately it's possible to set the isPostBack argument to true in a GET request. Is there a way to prevent that? Perhaps a NotMapped property so that it is only set internally from from the IndexModel code...

[2018-06-04 15:42] dougbu commented on #7853
@vpaulino look specifically at commit dougbu/aspnet-samples@61f1d0853d. The core problem was the URL generation for the `CreatedResult`. And, the bug resulted in a `NullReferenceException` in the `Created(...)` call IIRC.

[2018-06-04 16:13] mkArtakMSFT commented on #7863
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-04 16:15] mkArtakMSFT commented on #7863
Hi @xmlapi.
Rather than having the `isPostBack` as a parameter on the handler, consider have it as a property on the PageModel, which will get its value from the `TempData`, where you set the actual flag on the previous request. That's just one way you can achieve what you want.

[2018-06-04 16:15] #7863 closed

[2018-06-04 16:15] mkArtakMSFT commented on #7863
/cc @pranavkm

[2018-06-04 16:16] vpaulino commented on #7853
Ok thks ! 👍

[2018-06-04 16:16] #7853 closed

[2018-06-04 16:20] mkArtakMSFT commented on #7861
Thanks for contacting us, @smartcodinghub.
@Tratcher, do you have any thoughts regarding this?

[2018-06-04 16:36] mkArtakMSFT commented on #7860
Thanks for contacting us, @vbougay.

@davidfowl, is this something we've ever supported?

[2018-06-04 16:43] mkArtakMSFT commented on #7860
/cc @shirhatti

[2018-06-04 16:50] mkArtakMSFT commented on #7857
Thanks for contacting us, @ghstahl.
@kichalla, can you please look into this?

[2018-06-04 16:56] shirhatti commented on #7860
This is expected behavior.

My recommendation is to use two different virtual hosts/server blocks in your nginx configuration and swap between the two when you want to upgrade your application (similar to a blue-green deployment).

[2018-06-04 16:59] shirhatti commented on #7860
Ahh! I missed the part where you claim that it worked it 2.0 and no longer works in 2.1. That surprises me. I don't believe we ever made that guarantee in 2.0.

[2018-06-04 17:00] mkArtakMSFT commented on #7854
Thanks for contacting us, @groogiam.
@Tratcher who will be the best person to look into this?

[2018-06-04 17:06] pranavkm commented on #7863
I'd recommend refactoring your code so you're not calling handlers from other handlers. Just makes the code a lot simpler no:

[code]

Keeps the two concerns separate.

[2018-06-04 17:11] Tratcher commented on #7854
You're not hitting the request size limit, you're hitting the form size limit:
https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http/Features/FormOptions.cs#L76
https://github.com/aspnet/Mvc/blob/23b7d8f62a2515e2dbea436ef118fb67e759e2d9/src/Microsoft.AspNetCore.Mvc.Core/RequestFormLimitsAttribute.cs#L18

[2018-06-04 17:33] NTaylorMullen commented on #7845
@jmhmaine if you're l looking to remove an unbound TagHelper attribute (something that the TagHelper doesn't special case/doesn't highlight purple) i'd recommend writing a TagHelper. Something like:

[code]

[2018-06-04 17:36] kichalla commented on #7857
@ghstahl What you are seeing is the use of 'ambient' route values when links are generated. Here 'About' and 'Contact' pages both have the same route parameter name 'id', so when you visit 'Contact' page with 'id=100', the generated link for 'About' also looks like 'About/100'. This works well in scenarios for example if you have a Create, Details, Edit and Delete pages for a Customer model where

[2018-06-04 17:46] pranavkm commented on #7684
Picking this up - I got most of this done during some down time

[2018-06-04 18:07] pranavkm opened #7864 "Microsoft.AspNetCore.Mvc does not reference Microsoft.AspNetCore.Mvc.Analyzers"
You get the reference transitively via Microsoft.AspNetCore.App \ Microsoft.AspNetCore.All, but not through Mvc. It's an issue with how the csproj is authored and we should fix this (possibly using a nuspec to do this)

[2018-06-04 18:13] javiercn commented on #7856
@MichalJana You probably need to change your login partial view to use the new user type IdentityUser<Guid>.
Can you check the exact view/partial where the exception is being thrown?
You probably need to change Views/Shared/_LoginPartial.cshtml or Pages/Shared/_LoginPartial.cshtml

[2018-06-04 18:47] zokiad opened #7865 "taghelper input/select use query string, not model to get value"
Hi,

I have a form with a input text:
[code]

Input text is associated to model:

[code]

In my action, I modify my text and pass model to view:

[code]

See the solution test:
[TestAspFor.zip](https://github.com/aspnet/Mvc/files/2069587/TestAspFor.zip)

**Issue:**
Now, i edit the input text with "Hello" text and click on submit. The form is submitted to new url:

http://localhost:5000/?text=Hello

[2018-06-04 18:54] zokiad commented on #7497
https://github.com/aspnet/Mvc/issues/7845

[2018-06-04 19:07] zokiad commented on #7865
Workaround:
ModelState.Remove(nameof(model.text))

is it a behavior by design ?

[2018-06-04 20:18] ghstahl commented on #7857
I think that this design is taking a pretty liberal approach that is sweeping up pages that have nothing to do with each other.  Just because they look like each other doesn't make them part of the same group.

I would argue that the example you gave is too magical in its assumptions.  I personally would even push back on the Customer/Details/100, etc. effect.

btw:
I changed the contacts.cshtml t

[2018-06-04 20:50] johnkwaters opened #7867 "Uploading formfile I have to set [FromForm(Name="formfile"]"
It used to match the name of the variable in the method with the name of the form...but now I have to explicitly spell it out with the Name attribute.
This is after upgrading to 2.1 and adding ApiController attribute.
I thought this was less work not more? Why do I have to tell the binding that the name of the form upload is the SAME as the name of the method variable?

`public async Task<int> Upl

[2018-06-04 21:15] isaksky commented on #6799
I'm getting the same issue as @francescocristallo .

The `input` behavior (where asp-for is "bidirectional") is what I (and I think most people) would expect.  The `textarea` behavior seems really odd. Is there an advantage to this inconsistency, and making data normalization harder?

[2018-06-04 21:29] mkArtakMSFT commented on #7867
Thanks for contacting us, @johnkwaters.
@pranavkm, can you please answer the question here?

[2018-06-04 21:39] mkArtakMSFT commented on #7865
Thanks for contacting us, @zokiad.
@dougbu, can you please look into this? Thanks!

[2018-06-04 21:51] dougbu commented on #7865
This behaviour is by design. `ModelState` values ensure what the user submitted is round-tripped to the next view, even if a value cannot be written into the model.

@zokiad your "workaround" is the intended option when an action (or page handler) corrects or otherwise updates what the user submitted.

[2018-06-04 22:14] smarts opened #7868 "[question] is it possible to update a parameter's model binder from an action filter?"
example parameter declaration from controller action (`bar` is the parameter that I want to run through `MyFilter`, which is both a resource filter and model binder):
[code]
filter implementation:
[code]
model binder implementation:
[code]

the model binder implementation is never reached

[2018-06-04 22:17] kichalla commented on #7855
@plioi thanks for reporting this issue. I can repro the issue and its a bug. Seems like we haven't tested this for a while now.

[2018-06-04 23:22] pranavkm commented on #7867
This is yet another manifestation of https://github.com/aspnet/Mvc/issues/7609. We're addressing this in 2.1.1. Unfortunately short of adding adding the `[FromForm(Name = "formfile")]` attribute or not using `ApiController`, there isn't a very good resolution for this in 2.1.0

[2018-06-05 00:26] tofilagman opened #7870 "Load a controller without a view from another DLL"
#### Question:
How to load a controller without a view using AddApplicationPart?.
i only need to load a controller from another dll, and load the dll during runtime.

#### Steps to reproduce:
 var builder = services.AddMvc();
builder.AddApplicationPart(typ.Assembly) //

#### Description of the problem:
[code]

#### Version of `Microsoft.AspNetCore.App`:

[2018-06-05 00:46] kichalla commented on #7858
@Eneuman Are you having the above code block _before_ the call to `AddMvc`? I believe what you are seeing is the order in which `Configure<ApiBehaviorOptions>` is executed (or in general any `Configure<Some-Options>`. If you have a list of `Configure<ApiBehaviorOptions>`, they are executed in that order and the options instance is mutated as it passes through each of them. So to fix your issue, yo

[2018-06-05 00:51] HaoK commented on #7858
Yeah its most likely ordering, PostConfigure is effectively the same as moving it to the end of all the configures.  Its only really necessary when you code that's called after you also adds configures and you want to ensure you go after them...

[2018-06-05 01:47] groogiam commented on #7854
That does the trick. Thanks for pointing that out.

[2018-06-05 01:47] #7854 closed

[2018-06-05 02:03] pranavkm commented on #7802
cc @rynowak \ @glennc using this issue to drive design and discussions for Api conventions

[2018-06-05 06:13] domaindrivendev opened #7871 "ProducesResponseType doesn't infer the type from ActionResult<T>"
#### Is this a Bug or Feature request?:
I think it's a bug but it's also possible the behavior is by design.

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
1. Create a simple API project and wire up Swashbuckle as described here:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger?view=aspnetcore-2.1
2. Create a controller w

[2018-06-05 06:31] Eneuman commented on #7858
@kichalla Yeah, you are right. Im adding the options Before the call to `AddMvc`. I'm gonna rearrange the code and see if it works. Posting findings here when done. Do you want me to close this issue if it works?

[2018-06-05 06:34] JoelNietoTec opened #7872 "ApiController: [FromBody] param is always null (Lazy Loader)"
Version: .NET Core 2.1

I have a PUT method where I'm receving a JSON object via [FromBody] param, but while debugging, the value is always null. I think this have something to do with the fact that the class has related data through lazy loading.

This is the class:
[code]

[2018-06-05 07:20] vbougay commented on #7860
@shirhatti Thanks for the clarification!

It's our first project based on Core, but we did many more with the classic ASP.NET MVC and IIS and it was always supported scenario there so we expected the same behavior with ASP.NET Core and it worked just fine on 2.0. Would be nice to keep it going with 2.1 though.

[2018-06-05 08:42] davidfowl commented on #7860
I’m not 100% sure why this ever worked before (on 2.0). Maybe you were getting lucky?

[2018-06-05 09:56] springy76 commented on #7781
You should not have released 2.1 with that ugly bug. I can reproduce that on any of 120 actions on 18 controllers. Whats the correct attribution for `CancellationToken`? `[From???]`?

[2018-06-05 10:04] vbougay commented on #7860
@davidfowl With many years of experience with ASP.NET MVC/IIS you take it almost as granted and that "downgrade" feels like a regression. I would do some research over the weekend to see how it worked in our case. Is there a chance that  .NET runtime was not locking application files for whatever reason and ASP.NET engine was detecting changes and simply terminated/restarted dotnet process?

[2018-06-05 13:44] springy76 commented on #7712
I'm on final 2.1 and an action having a `[FromQuery] string[] parts` parameter which has been working since 2012 (there it was `[FromUri]`) now stops working as soon as I add the `[ApiController]` attribute to the controller class.

Then in the log I see the following lines:
[code]

And the array is always **EMPTY**!

Usage is (and has been since years): `?parts=p1&parts=p2`

I also tried `?parts=

[2018-06-05 15:50] MichalJana commented on #7856
Indeed in Views\Shared\_LoginPartial.cshtml is injected
[code]

Which must be changed in my case to
[code]

I apologize for the false report of the bug. I did not realize that the services were injected into views as well.

[2018-06-05 15:56] mkArtakMSFT commented on #7856
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-06-05 15:56] #7856 closed

[2018-06-05 16:12] kichalla commented on #7858
Yes, please. Thanks!

[2018-06-05 16:21] pranavkm commented on #5992
@rducom could you file a new issue?

[2018-06-05 16:42] davidfowl commented on #7860
Nothing in ASP.NET Core detects changes and restarts the application. The files are locked in place when running.

[2018-06-05 16:51] #7858 closed, assigned to kichalla

[2018-06-05 16:56] mkArtakMSFT commented on #7872
Hi @JoelNietoTec.

What is happening is your model binding is failing. You should see the actual error in the `ModelState`.

The problem is that MVC is looking for a public parameterless constructor on your DTO / model type, which it can't find. Consider having a separate type as a DTO which you can then map to your entity type as necessary after successful model binding.

[2018-06-05 16:56] #7872 closed

[2018-06-05 17:02] mkArtakMSFT commented on #7871
Hi @domaindrivendev.
The behavior you're observing here is by design. However, we still plan to add support for it in the upcoming 2.2 release. @pranavkm, do we have an issue tracking the swagger work to reference from here?

[2018-06-05 17:06] mkArtakMSFT commented on #7867
Closing this issue as a dupe of the referenced #7609.

[2018-06-05 17:06] #7867 closed

[2018-06-05 19:52] pranavkm commented on #7871
There's a PR out for this and it seems like a pretty decent fix. I asked the powers to be if we could consider this for a patch, but unfortunately this wouldn't meet the bar. We'll just get https://github.com/aspnet/Mvc/pull/7873 in for now.

[2018-06-05 20:17] mkArtakMSFT commented on #7868
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-05 20:19] mkArtakMSFT commented on #7868
@smarts, it's not possible to modify the model binder used for a specific parameter.

[2018-06-05 20:19] #7868 closed

[2018-06-05 20:21] mkArtakMSFT commented on #7870
Hi @tofilagman.
Can you please provide us a sample app to repro this issue?

[2018-06-05 20:21] mkArtakMSFT commented on #7870
@pranavkm, can you please look into this when we'll have a repro? Thanks!

[2018-06-05 20:31] pranavkm opened #7875 "[Patch] ProducesResponseType doesn't infer the type from ActionResult<T>"
Issue tracking porting https://github.com/aspnet/Mvc/issues/7871 to 2.1.x

[2018-06-05 22:12] poke opened #7876 "Internal routing prevents using route parameter names “page”, “action”, and “controller”"
We just talked about this on Slack and found out that MVC’s internal routing prevents one from using various route parameter names. These names are in particular `page`, `action`, `controller`, and `handler`. It probably also applies sometimes to `area`.

For example, [this code](https://github.com/aspnet/Mvc/blob/2.1.0/src/Microsoft.AspNetCore.Mvc.Core/UrlHelperExtensions.cs#L447-L458) basically

[2018-06-06 01:08] MaximBalaganskiy opened #7878 "Circular dependency exception in Startup.Configure"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
https://github.com/MaximBalaganskiy/AspNetCircularDependency

#### Description of the problem:
I am injecting `IEnumerable<IHttpContextAccessor> httpContextAccessors` into my db context to track a user name who changes records. It is `IEnumerable` to be able to reuse the

[2018-06-06 03:01] rynowak commented on #7868
`You can apply a custom model binder to a parameter using `[ModelBinder]` https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.1#custom-model-binder-sample

This doc shows usage on a class, but it also works on action parameters

[2018-06-06 03:39] michaeljbaird commented on #4888
I was looking for a solution for this today for bs4. I'll create custom css to support the field validation but maybe expose the [HtmlHelper.cs](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/HtmlHelper.cs#L25-L30) readonly static fields and put them them in [HtmlHelperOptions.cs](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Vie

[2018-06-06 09:00] svallis commented on #7438
@rynowak I'm still seeing exceptions for `OPTIONS` requests after upgrading to 2.1.0. Did this fix make it into the release?

[2018-06-06 09:01] NatMarchand commented on #7871
If I may, I don't think the current behavior is by design according to multiple examples in the doc such as :
- https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-2.1&tabs=visual-studio%2Cvisual-studio-xml#describe-response-types
https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types?view=aspnetcore-2.1#actionresultt-type
They

[2018-06-06 09:48] jamiewinder commented on #7799
I think this is still an issue in 2.1?

[2018-06-06 12:38] rishabhack opened #7879 "How can i access URL of path in MVC Core"
Unable to access Url.ActionContext.View.Path
I have to show on particual Path/View/Action Call

How can i get path in ASP.Net Core MVC
in quick watcher Url.ActionContext.View.Path it shows value but can't use gives error

[2018-06-06 12:46] michaeljbaird commented on #4888
Here's what I'm proposing for a temporary solution: https://github.com/aspnet/Mvc/compare/dev...michaeljbaird:exposevalidationcss

[2018-06-06 15:13] rynowak commented on #7438
This is attached to a compatibility switch. Add `AddMvc().SetCompatibilityVersion(Microsoft.AspNetCore.Mvc.CompatibilityVersion.Version_2_1);` to startup

Like: https://github.com/aspnet/Mvc/commit/14429721d933104e17bd5cae0b7f2399ca55ab2d#diff-85ae0edbe5e347e453bfdfc8467ce8f5R28

Let us know if you're still having problems after doing this

[2018-06-06 15:22] svallis commented on #7438
@rynowak We're experiencing this using `CompatibilityVersion.Latest`, I'm assuming that would currently equate to `CompatibilityVersion.Version_2_1`?

[2018-06-06 16:51] valainisgt opened #7880 "AddApplicationPart Does Not Load FSharp Definitions"
#### Bug:
Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
https://github.com/valainisgt/AddApplicationPart-FSharp

#### Description of the problem:
I have a C# asp.net core application targeting net47 that acts as the host and a separate F# .net core class library targeting net47 that contains all of the controller definitions.

When configuring the applica

[2018-06-06 16:52] pranavkm commented on #7799
@jamiewinder unfortunately yes. We're addressing this in our upcoming 2.1.1 patch release.

[2018-06-06 16:59] mkArtakMSFT commented on #7795
The following suggestion is most appealing:

[2018-06-06 17:01] mkArtakMSFT commented on #7880
Thanks for contacting us, @valainisgt.
@pranavkm, can you please look into this?

[2018-06-06 17:01] pranavkm commented on #7871
@NatMarchand we're consider addressing this in a 2.1.x patch release (See https://github.com/aspnet/Mvc/issues/7875). We'll hold off on updating the docs until triage has had a chance to decide.

[2018-06-06 17:03] mkArtakMSFT commented on #7879
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-06 17:06] #7879 closed

[2018-06-06 17:07] mkArtakMSFT commented on #7878
Thanks for contacting us, @MaximBalaganskiy.
@javiercn, can you please look into this? Thanks!

[2018-06-06 17:10] mkArtakMSFT commented on #7876
/cc @rynowak

[2018-06-06 17:34] javiercn commented on #7878
@HaoK Can you take a look at this?

[2018-06-06 17:34] pranavkm commented on #7880
MVC does not look for controllers in nested classes. Your controller is inside a module, which is essentially a static class. In addition, you don't need to add the class library as an application part explicitly. MVC registers all referenced binaries as application parts as long as they in turn transitively reference MVC.

[2018-06-06 17:38] HaoK commented on #7878
Yeah so the role managers depend on IHttpContextAccessor and the stores, which depend on DbContext, its likely something in how you inject the IEnumerable context accessors which is causing this usse.

What exactly does that look like?

[2018-06-06 17:41] #7880 closed

[2018-06-06 21:13] MaximBalaganskiy commented on #7878
https://github.com/MaximBalaganskiy/AspNetCircularDependency/blob/bf454146ca34af927204c93d2dc0b1f6fb28d2a4/WebApplication1/MyContext.cs#L14

[2018-06-06 21:35] HaoK commented on #7878
So this only fails when you try to do it in Configure, but works when you do it normally via the Controller?

Here's the circular ref in call stack of the error you included above

[code]

[2018-06-06 21:41] MaximBalaganskiy commented on #7878
Yes, only in configure and only when injecting an enumerable. Also, I don't
see the dependency of RoleValidator on the accessor in the source code

On Thu., 7 Jun. 2018, 7:36 am Hao Kung, <notifications@github.com> wrote:

[2018-06-06 21:42] MaximBalaganskiy commented on #7878
And accessor itself does not inject anything

On Thu., 7 Jun. 2018, 7:41 am Maxim Balaganskiy, <m.balaganskiy@gmail.com>
wrote:

[2018-06-06 22:05] HaoK commented on #7878
Does injecting `IEnumerable<IHttpContextAccessor>` satistify services that are looking for `IHttpContextAccessor`?  Or does it clobber anything even?

[2018-06-06 22:12] MaximBalaganskiy commented on #7878
It injects fine except for the Configure method. Used to work in 2.0 as well

On Thu., 7 Jun. 2018, 8:06 am Hao Kung, <notifications@github.com> wrote:

[2018-06-06 22:28] HaoK commented on #7878
There is no http context yet in Configure, which is probably the issue.

[2018-06-06 22:30] Bartmax commented on #7876
Not for `page`

[2018-06-06 22:35] MaximBalaganskiy commented on #7878
There is an accessor which is injected. Again, it all works when a single
instance is injected. Have you tried rubning the repo project?

On Thu., 7 Jun. 2018, 8:28 am Hao Kung, <notifications@github.com> wrote:

[2018-06-06 22:51] HaoK commented on #7878
Again, the line that stands out as something that likely won't work is: `It is IEnumerable to be able to reuse the context in a Windows Service project where there is no http context.`

Identity is meant to be scoped, and not captured like this outside of a request like this.  I don't doubt what you are seeing.

[2018-06-06 23:11] MaximBalaganskiy commented on #7878
Using enumerable is a totally legitimate way of injecting an optional
dependency. I'm not injecting a context, I'm injecting an accessor. If it
does not exist in the scope I will get an empty list. And this was working
in 2.0.

According to the source code neither RoleVaidator nor HttpContextAccessor
do not depend on each other directly or indirectly. If they were injecting
a single instance would

[2018-06-06 23:16] HaoK commented on #7878
Ok i'll take a look to see what might have changed between 2.0 and 2.1

[2018-06-06 23:43] twsouthwick commented on #7852
During build

[2018-06-07 00:05] evil-shrike opened #7882 "[2.1]: Mvc doesn't load controllers from referenced assemblies anymore"
After I migrated my project onto 2.1 from 2.0 it became broken - I started getting 404 for some routes.

Investigating revealed that controllers aren't loaded if they are in referenced assemblies.

App (Sdk="Microsoft.NET.Sdk.Web")
  Main/Startup

Lib (Sdk="Microsoft.NET.Sdk")
  Controller

Project "App" references project "Lib" and declare a route for controller that is in Lib project.

Both asse

[2018-06-07 00:26] pranavkm commented on #7882
Would you mind setting up a repro app just so that we don't miss something? The scenario you listed should work (in fact I tried pretty similar to what you suggest with a F# class library earlier today - https://github.com/valainisgt/AddApplicationPart-FSharp).

[2018-06-07 00:39] evil-shrike commented on #7882
One important addition - the issue takes place if and only if the referenced project has `<Project Sdk="Microsoft.NET.Sdk.Web">` (with `<Project Sdk="Microsoft.NET.Sdk">` it works). I'll fix initial description.

[2018-06-07 00:43] evil-shrike commented on #7882
Also adding `AddApplicationPart(<referenced assembly>)` solves the problem. But in 2.0 it worked without this.

[2018-06-07 04:05] parleer commented on #4290
@geirsagberg Did you find a solution to your question? I'm facing the same issue.

[2018-06-07 04:28] smarts commented on #7868
thanks @rynowak , but I was trying to avoid having to specify both the resource filter AND a model binder. I.e., I want the resource filter to _imply_ a type of model binder for all parameters of a particular type.

@mkArtakMSFT i'm wondering what [the documentation](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1#filter-types) means when it says the follow

[2018-06-07 04:41] rishabhack commented on #7879
ok Sure thanks & apology

[2018-06-07 04:42] rynowak commented on #7868
So in general if what you're looking for is to operate on a value after its been modelbound, you want an action filter. That will let you see the values that the action is going to see.

[2018-06-07 04:50] wjkhappy14 opened #7884 "MSB3644"
#### Is this a Bug or Feature request?:

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

#### Description of the problem:

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:

[2018-06-07 07:02] gordon-matt commented on #7825
@pranavkm Should I open a new issue for this? Since it appears to be some kind of a bug.

[2018-06-07 08:23] iforlife opened #7885 "Return PartialAsync from Razor Pages Page handler"
#### Is this a Bug or Feature request?:
Feature request

#### Description of the problem:
It will be very useful to be able to return the equivalent of `@await Html.PartialAsync(...)` , but for the page handler

[code]

[2018-06-07 10:27] geirsagberg commented on #4290
@parleer I honestly can't remember I'm afraid; I am no longer on the project where I had the problem :\

[2018-06-07 12:51] dzimchuk commented on #5992
Same issue here after updating to 2.1. I was able to fix that by changing test projects' SDK to `Microsoft.NET.Sdk.Web`. Strange it used to work in 2.0 with `Microsoft.NET.Sdk`.

[2018-06-07 13:46] bgribaudo opened #7887 "IStringLocalizerFactory.Create(type) Invocation Strangeness - n + 1 times, then never again"
If an `IStringLocalizerFactory` is registered and an action returns a view (`return new View(new SomeModel());`) where the view's cshtml sets its model class (`@model SomeModel`) then uses a field from that model in a form:
* The first time the view is returned, `IStringLocalizerFactory.Create(typeof(SomeModel))` is invoked at least _n + 1_ times, where _n_ is the number of properties in the model

[2018-06-07 14:19] pranavkm commented on #7885
cc @DamianEdwards

[2018-06-07 16:29] pranavkm commented on #7884
Do you have the .NET 4.6.1 targeting pack installed - https://www.microsoft.com/en-us/download/details.aspx?id=49978?

[2018-06-07 16:44] mkArtakMSFT commented on #7885
Thanks for contacting us, @iforlife.
While this is a resonable ask, it doesn't align with our priorities for the upcoming release.
Moving this issue to the Backlog for now so we can review it in the future.

[2018-06-07 16:44] pranavkm commented on #7825
In general, you're going to have a difficult time doing runtime compilation when you are dynamically loading assemblies from non-standard locations. By removing the view here - https://github.com/gordon-matt/PluginApp/blob/develop/MainApp/MainApp.csproj#L8, you're forcing it to compile at runtime.

If you must perform runtime compilation,

* Consider not generating the deps file from your plugin.

[2018-06-07 16:47] pranavkm commented on #5992
@dzimchuk the fix you made looks correct. @danroth27 did we add this requirement to the 2.1 announcement post?

[2018-06-07 16:50] mkArtakMSFT commented on #7887
Thanks for contacting us, @bgribaudo.
@kichalla, can you please look into this? Thanks!

[2018-06-07 16:56] parleer commented on #4290
@geirsagberg I figured it out. The new way to do this is to use a TypeFilter which participates in Dependency Injection and so you can get an instance of IOptions<MvcOptions> and then setup the InputFormatters/OutputFormatters on OnActionExecuting().

[2018-06-07 17:06] #7865 closed

[2018-06-07 17:16] kichalla commented on #7857
Thanks @ghstahl. We are considering your feedback for our next release's work on Dispatcher. Tracking item: https://github.com/aspnet/Routing/issues/531#issuecomment-395497757

[2018-06-07 17:19] kichalla commented on #7857
Closing this issue. The work related to this can be tracked using https://github.com/aspnet/Routing/issues/531

[2018-06-07 17:19] #7857 closed

[2018-06-08 00:19] pranavkm commented on #6922
With the conventions work, we might need to consider adding `IsDefaultResponse` to `ProducesResponseTypeAttribute`. This would be required to represent this via a convention e.g.

[code]
Possible side effects of this:

* We'll allow the action method to not have a code path for a `IsDefaultResponse` status code. The assumption here is that the `InvalidModelStateFilter` would take care of the defau

[2018-06-08 01:30] gordon-matt commented on #7825
@pranavkm Wow, that's weird about the view... I didn't set `<Content Remove=` like that.. at least not intentionally. Anyway, yes, removing that fixes the demo. However, I checked my real app and I don't have any views removed like that. In fact, when running my real app, everything is fine from my own admin dashboard - from the main index page of the dashboard to a few other pages... but as soon

[2018-06-08 02:11] rocketRobin opened #7890 "How does the "AuthorizeAttribute" work?"
#### This is a question!

- How the authorize attribute choose a authentication scheme?

The authentication progress is in the authentication middleware and this is before mvc middleware.wheh the request approch mvc action the authentication end. but the the attribute still can choose a scheme why?

I have been plagued by this problem for a long time.

[2018-06-08 04:30] smarts commented on #7868
That's not what i want @rynowak . I want to take an incoming primitive value (think a number or a string) and turn it into a complex object (e.g., looking the object up in a database by ID). That's could be done via model binding. The catch is that I also want to control the response if that I can't do the transformation, which is outside the purview of model binding. Hence the resource filter. Ho

[2018-06-08 04:58] rynowak commented on #7868
An action filter will also let you add/replace a value in the action arguments.

Do you *actually* need this to happen during the model binding pass? Does the object need to be validated? Is there user input or are you looking something up by ID?

[2018-06-08 06:49] abatishchev commented on #6790
Can I create my own filter to validate a primitive parameter, e.g. `Get([MyValidation]string name)`?

[2018-06-08 07:45] Matthiee opened #7891 "First commit"
What are good labels for a first commit?

[2018-06-08 12:39] proggmatic opened #7892 "Error with Task<XElement> action return type"
#### Is this a Bug or Feature request?:
Bug (possible)

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

Request with header Accept: text/xml,application/xml

Startup.cs:
[code]

#### Description of the problem:
Error when i send request to action method with return type Task&lt;XElement&gt;.
Interesting that if i use Accept text/xml,application/xml, error is ha

[2018-06-08 14:01] proggmatic commented on #7891
"Initial create" or "First commit" ))

[2018-06-08 15:17] alexsandro-xpt commented on #5992
@rducom and @dzimchuk I update to 2.1, and migrate my tests to `IClassFixture<WebApplicationFactory<Startup>` and everythink is working fine.

[2018-06-08 16:45] mkArtakMSFT commented on #7892
Thanks for contacting us, @proggmatic.
This is due to a known issue, which is tracked here: https://github.com/aspnet/Mvc/issues/7782
We plan to include the fix in the upcoming patch release.
In the meantime, you can workaround the problem by changing the signature of the `List` method to return `ActionResult<T>` as follows:
[code]

[2018-06-08 16:45] #7892 closed

[2018-06-08 16:54] mkArtakMSFT commented on #7891
Hi @Matthiee.
What are you trying to do? Are you looking for issues you can handle as your first contribution?

[2018-06-08 16:59] Matthiee commented on #7891
@mkArtakMSFT yes I'm looking for issues to handle as my first contirbution.

[2018-06-08 17:11] mkArtakMSFT commented on #7890
Hi @rocketRobin.
Looks like the part you'r missing is the Authorization filters. You can read more about filters here: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1

Hope this helps.
On the side note, for questions like these we recommend people to use StackOverflow, as that way they will get much faster answers to their questions.

[2018-06-08 17:18] mkArtakMSFT commented on #7891
That's great. You can look for issues marked with `up-for-grabs` label. It's available across multiple repos in aspnet organization. Here are all the `up-for-grabs` issues in `aspnet/mvc` repo: https://github.com/aspnet/mvc/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs

[2018-06-08 18:29] mkArtakMSFT commented on #7890
/cc @javiercn

[2018-06-08 18:44] pranavkm commented on #7882
cc @JunTaoLuo - seems like this is running in to the same sort of issues that were seen in https://github.com/aspnet/Mvc/issues/7710. It appears that adding a reference to `Microsoft.AspNetCore.All` v2.1.0 or `Microsoft.AspNetCore.App` v2.1.0 requires referencing the Web Sdk to produce the correct deps file. Targeting a different Sdk results in the deps file missing any references to the AspNetCor

[2018-06-08 18:51] pranavkm commented on #7882
@evil-shrike if you do want to continue targeting `Microsoft.NET.Sdk`, the recommendation would be to replace the `Microsoft.AspNetCore.App` reference with references to individual packages e.g. `Microsoft.AspNetCore.Mvc`.

[2018-06-08 18:53] pranavkm commented on #7882
@evil-shrike sorry, I misread your issue. Let me dig in to this further.

[2018-06-08 19:20] realnickivanov commented on #6833
I got that error when I used <br> tag. Then I changed  <br> to <br/> and it got fixed.

[2018-06-08 20:05] javiercn commented on #7890
Thanks for contacting us.

You might have more than one authorization scheme active in your application at the same time. You can have for example cookies and jwt bearer for an app that has a website component and an API component.

In those cases you can specify the authentication scheme in you authorize attribute to filter the identity of the user to that particular scheme. Its also worth noting

[2018-06-08 20:05] #7890 closed

[2018-06-08 20:45] mkArtakMSFT commented on #7845
@NTaylorMullen, parking this on your plate so you can track the proposed PR and close this, when the PR will be merged.

[2018-06-08 20:54] pranavkm commented on #6790
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-06-08 21:13] abatishchev opened #7893 "Add support for custom validation attributes on parameters"
#### Is this a Bug or Feature request?:

Featiure

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

You got a typo in the template, it's preferably, correct? :)

#### Description of the problem:

I'm looking whether the following is possible, and if not then whether it would be made possible in the future:

[code]

#### Version of `Microsoft.AspNetCore.Mvc` or `

[2018-06-08 22:30] pranavkm opened #7895 "Add runtime support for ApiConventions"
* [ ] Have a way to associate a type or an assembly with one or more API convention
* [ ] Discover a convention match and apply it during ApiDocument creation

See #7802 for further details

[2018-06-08 23:05] pranavkm opened #7896 "Add analyzer support for ApiConventions"
* [ ] Annotate status code returning `ActionResult` instances with metadata that can be read by analyzers (`StatusCodeAttribute`)
* [ ] Discover conventions and match methods the same way runtime (#7889) does
* [ ] Diagnostics should be returned if an ApiController action has explicit response type attributes.

## Supported analyzers

* [ ] Method returns a status code `ActionResult` not described

[2018-06-08 23:38] mkArtakMSFT commented on #7145
Moving this out to the backlog as it seems there is no community interest in this issue.

[2018-06-08 23:43] mkArtakMSFT commented on #6867
@JamesNK, @rynowak, @kichalla please review this issue in the context of the `Dispatcher` work and if there is work to be done, please either move this into the `aspnet/routing` repo or create a new one, and  close this one.

[2018-06-08 23:46] mkArtakMSFT commented on #6818
@glennc, is this something we should prioritize for 2.2 milestone?

[2018-06-09 01:32] rjamesnw opened #7897 "Microsoft.AspNetCore.Mvc.ViewFeatures.ViewResultExecutor.ExecuteAsync no longer virtual."
Microsoft.AspNetCore.Mvc.ViewFeatures.ViewResultExecutor.ExecuteAsync was changed from virtual to non-virtual. I had code working perfectly, hooking into this execution point, and now I cannot.  I consider this a regression, not progress. :/

#### Is this a Bug or Feature request?:
Regression perhaps - this was not the case in v2.0.4.

#### Steps to reproduce (preferably a link to a GitHub repo wi

[2018-06-09 03:01] zoidhddhdd commented on #7882
Merger

[2018-06-09 06:43] ydyote opened #7899 "Custom action invoker"
Hello,

is it possible to create a custom default action invoker like this? http://techfunda.com/howto/925/controller-action-invoker

because I need it for e.g. setting default REST response when an exception happened and this have to be set before the response serialization to http response content, logging stuff, custom authorization not dependent on middleware but on the actual action which is

[2018-06-10 04:51] abatishchev opened #7900 "No default AddHttpsRedirection() overload"
#### Is this a Bug or Feature request?:

Both

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

First:

Then have code:

[code]

#### Description of the problem:

I don't want to change the default options and use everything as is. But the code doesn't compile as there is no overload accepting no `options`. instead I have to pass empty lambda:

[code]

#### Versi

[2018-06-10 06:53] vladislav-karamfilov commented on #7900
You should use `app.UseHttpsRedirection()` in the `Startup.Configure()` method (not `services.AddHttpsRedirection()` in `Startup.ConfigureServices()`). Only if you want to configure the HTTPS port and/or the redirect status code you'll need to use the `services.AddHttpsRedirection()` in `Startup.ConfigureServices()`. But if you don't want to configure them there's no need to call this method.

[2018-06-10 07:40] abatishchev commented on #7900
I just followed the usual configuration method names convention: Add* and then Use*. And sometime Use doesn't work without Add. So again the usual practice to have both of them, just in case.

So you're sayng that for HttpRedirection there is no need to call Add until I want to change the defaults? Can it be still added to follow the rest?

[2018-06-10 07:56] vladislav-karamfilov commented on #7900
Yes, there's no need to call the Add method unless you want to change the defaults. I believe you can still add it if you want consistency.

[2018-06-10 08:19] inabeel opened #7901 "ASP.NET Core 2.0 File post using Form Tag helper doesn't work, but works well with Razor syntex"
#### Is this a Bug or Feature request?:
It is a bug in ASP.NET Post

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
I am working on simple ASP.NET Core Form, and posting file using simple post using form tag helper
<form id="frmAdvancedProfile" asp-controller="Profile" asp-action="SaveNetworkProfile" method="post" enctype="multipart/form-data">

and Input tag:

[2018-06-10 09:58] lyptt commented on #7852
I'm getting this too during builds

[2018-06-10 14:51] kishanAnem commented on #7712
Hi @mkArtakMSFT and @dougbu,

Please let me know is this right way to fix. I got expected results.

![image](https://user-images.githubusercontent.com/8208927/41202662-217f28a0-6cea-11e8-8c89-f57ed8989aa2.png)

And all test cases are passed.

![image](https://user-images.githubusercontent.com/8208927/41202677-5d04e4d2-6cea-11e8-85f2-3753a4a99a90.png)
If I'm not wrong modelBinder is picking Collect

[2018-06-10 16:45] mkArtakMSFT commented on #7897
Thanks for contacting us, @rjamesnw.
@pranavkm, @kichalla was this intentional guys?

[2018-06-10 19:03] dougbu commented on #7712
@kishanAnem the problem is not in `ParameterBinder` at all. The fix I'll implement will be in `ApiBehaviorApplicationModelProvider`.

[2018-06-11 10:53] RehanSaeed commented on #7781
Setting `SetCompatibilityVersion` to 2.1 fixed the problem. However, I think this is a breaking change for 2.0.

[2018-06-11 13:09] kichalla commented on #7897
`ViewResultExecutor` was in an [`Internal`](https://github.com/aspnet/Mvc/blob/rel/2.0.0/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ViewResultExecutor.cs#L15) namespace in 2.0.0 (and was made public in 2.1.0, and that's why our Api Check tool probably didn't catch it) , so depending on that type is risky as internal types are subject to change without notice.

Its probably just an oversigh

[2018-06-11 14:11] springy76 commented on #7781
Ah yes. Without `[ApiController]` there seems to be no problem, too. Will `[ApiController]` -- introduced with 2.1 -- ever behave well without `SetCompatibilityVersion=2.1`?

[2018-06-11 15:49] natemcmaster commented on #7684
It looks like this caused templating tests to fail with new analyzer errors. See https://github.com/aspnet/templating/issues/563

[2018-06-11 16:32] rjamesnw commented on #7897
“Virtual” was not “missed”, it was intentionally removed. The “PartialViewResultExecuter” was also moved and it didn’t get change.
; Very inconsistent.

[2018-06-11 16:47] pranavkm opened #7902 "Review the output when DefaultApiConventions is applied"
Tracking item to ensure the swagger output matches expectations. This includes figuring out what we need to do about metadata that's missing - for instance https://github.com/aspnet/Mvc/pull/7889#discussion_r193931460

[2018-06-11 16:55] pranavkm commented on #7899
Could you elaborate a bit on what you are attempting to with a custom invoker. Typically, a [set of filters](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1) should get meet most of your requirements.

[2018-06-11 16:57] mkArtakMSFT commented on #7901
Thanks for contacting us, @inabeel.
Can you share a repro project so we can investigate?

[2018-06-11 17:07] mkArtakMSFT commented on #7900
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-06-11 17:07] #7900 closed

[2018-06-11 17:10] abatishchev commented on #7900
Please add an emty Add() method for consistency with the rest, thus for better readability.

[2018-06-11 17:14] mkArtakMSFT commented on #7893
Thanks for contacting us, @abatishchev.
@glennc, any thoughts regarding this ask?

[2018-06-11 17:16] mkArtakMSFT commented on #7893
And thanks for noticing the type - fixing now.

[2018-06-11 17:32] abatishchev commented on #7893
You know, the problem for me right now is that I don't get any validation kicked-in. Neither this, nor what was available earlier (using [Required] or [BindRequired] on post request model).

[2018-06-11 17:34] mkArtakMSFT commented on #7876
Closing this per @rynowak's response.
/cc @danroth27, @glennc

[2018-06-11 17:34] #7876 closed

[2018-06-11 17:35] #7891 closed

[2018-06-11 17:37] woodne opened #7903 "Json Contract Resolver with Controllers loaded via WebApiCompatShim"
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):

https://github.com/woodne/webapi-compat-shim-json

1. Load the above project and run
2. GET http://localhost:5000/new/api/values and http://localhost:5000/old/api/values
3. See that the casing of the two is different, the mvc 6 controller has the correct serializer set

[2018-06-11 17:38] pranavkm commented on #7893
Do you have a repro app? This works fine for me as long as there's a value for the `name` parameter:

[code]

[2018-06-11 17:46] rynowak commented on #7438
I'm reopening this for consideration. We didn't do anything about OPTIONS

@svallis - who's sending you OPTIONS requests and what for? is it a crawler?

[2018-06-11 17:52] kichalla commented on #7887
This is my design as far as I can tell. We construct metadata of the model (the container type) + individual properties (which are themselves considered models too) and this is cached for further use.

![image](https://user-images.githubusercontent.com/6559784/41248270-583f5ae2-6d65-11e8-952d-e0da237f6829.png)

[2018-06-11 18:22] kichalla commented on #7855
IMO we should _not_ allow users to provide a type which already implements `IFilterFactory` to filter factories like `ServiceFilterAttribute` or `TypeFilterAttribute`.
Suggest we check the filter type's interfaces for IFilterFactory and throw with a clear message.

@rynowak your thoughts?

[2018-06-11 19:13] rynowak commented on #7855
Sounds good to me.

[2018-06-11 19:45] pranavkm commented on #7852
@jaredpar are there any specific details we should be asking of @twsouthwick \ @lyptt? Mvc's analyzer binaries are compiled against Roslyn 2.8.0 packages which should be installed as part of 2.1 Sdk and VS 15.7.

[2018-06-11 20:08] poke commented on #7876
While I understand that we cannot do anything about this anymore, I would be interested to learn a bit about the initial decision for this. Why was it decided to put these properties as common names into the route data? Was this just an accident and not thought through enough? Or was there an actual reasoning that made this useful?

[2018-06-11 20:13] HaoK commented on #7878
This is weird, this repros in your app, but if I copy the startup registrations and context into a 2.2 identity sln, it doesn't repro,

@pakrym do you own DI right now?  Can you take a look to see what's going on?

It seems strange that changing https://github.com/MaximBalaganskiy/AspNetCircularDependency/blob/bf454146ca34af927204c93d2dc0b1f6fb28d2a4/WebApplication1/MyContext.cs#L13 to a single IH

[2018-06-11 20:15] HaoK commented on #7878
The other quirk of this repro is that the role manager is being resolved inside of Configure (the normal usage pattern where the manager is created normally via injection works fine)

[2018-06-11 20:29] rynowak commented on #7876
This decision was made in 2007 during the initial release of MVC. Route data is something that user code can see, inspect and modify. The 'keys' for route values like are frequently typed in user-provided routes and calls to apis like `Url.Route` and `Url.Action`. It's important that any 'key' also be a valid C# identifier to make it easy to use with the APIs that accept an anonymously typed objec

[2018-06-11 20:42] poke commented on #7876
@rynowak Thank you for the explanation! That makes sense.

It’s a shame though that the choice of key names is a legacy carry-over from MVC. I wish this would have used less ambiguous names (e.g. `asp-action` or something) so that these common names wouldn’t basically end up being invisible.

Luckily, we can still use stuff like `[FromQuery] string action` to access actual query arguments, althoug

[2018-06-11 21:02] MaximBalaganskiy commented on #7878
I simplified it a bit - in a real project I resolve a seed service which in
its turn depends on a role manager

On Tue., 12 Jun. 2018, 6:15 am Hao Kung, <notifications@github.com> wrote:

[2018-06-11 22:08] pranavkm opened #7906 "Consider a way to allow custom API convention selection"
The current implementation does not allow for the API convention selection behavior to be customized. It's tied strictly to the implementation of analyzers with no way to choose an alternate algorithm for setting this. We should revisit this prior to 2.2.0-RC and see if we have had any feedback on if there's a need to customize this. I'd like to avoid building an extensibility behavior that makes

[2018-06-11 22:08] svallis commented on #7438
@rynowak The frequency of logged exceptions is massively down now `HEAD` isn't causing them, but I still see a couple a week for `OPTIONS` requests. I'm not logging user agent with the exception currently, but my assumption would be that it's a crawler of some sort. It's possibly there's some weird browser/client out there that does it I suppose, too. I see the exceptions on different, random cont

[2018-06-11 23:07] #7895 closed

[2018-06-12 00:40] rynowak commented on #7438
Yeah, this is kinda in no man's land. Traditionally in MVC OPTIONS would be handled by any method-neutral action - usually the same one that handles GET. However this isn't really correct, since you're not supposed to just treat OPTIONS the same ways.

We didn't want to double-down on that incorrectness, so we didn't lump it in with the fix for head. We might just want to automatically handle OPTI

[2018-06-12 00:40] rynowak commented on #7438
@mkArtakMSFT - clearing fields so this can be reconsidered

[2018-06-12 06:08] Shamshiel commented on #5859
Was this feature added to ASP.NET Core 2.1?

[2018-06-12 07:42] pakrym commented on #7878
I'll take a look.

[2018-06-12 09:30] Shamshiel commented on #5859
@Marusyk So this should work?

https://localhost:44342/api/values/1?guid=1d434c71-48ab-457b-a7e2-4e76a1f6bfdb

![grafik](https://user-images.githubusercontent.com/13088318/41282232-e1ded0e2-6e33-11e8-91bf-0be00adda1e5.png)

 Because it doesn't seem to work for me.

[2018-06-12 10:14] Marusyk commented on #5859
@Shamshiel Did you add?

[code]

[2018-06-12 10:28] Shamshiel commented on #5859
@Marusyk Yeah you are right. It was a stupid mistake on my side. I just created a quick example and stopped thinking on what I'm actually doing. Sorry -.-"
It works if I actually send the value in the header!

[2018-06-12 16:30] mkArtakMSFT commented on #7870
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-06-12 16:30] #7870 closed

[2018-06-12 17:15] pranavkm commented on #7903
`WebApiCompatShim` has it's different set of options \ formatters and needs to be configured differently from Mvc. You can configure it after your call to `AddWebApiConventions`

[code]

[2018-06-12 19:20] dougbu commented on #7805
Exercise completed. Leaving open for now, in case we decide to track a subset of these scenarios going forward.

[2018-06-12 19:53] woodne commented on #7903
@pranavkm Thanks! This is exactly what I needed.

[2018-06-12 19:53] #7903 closed

[2018-06-12 20:06] pranavkm commented on #7795
This is a no-go. We specifically rely on ordering to ensure that `IgnoreAntiforgeryTokenAttribute` can be overloaded. See https://github.com/aspnet/Mvc/commit/ca6c76c35883c5fa3d4d7467eb742b99e92198c1. I'm going with option B, which is pretty simple. @rynowak considers this a bug and consequently does not require a compat flag.

[2018-06-12 20:24] mkArtakMSFT commented on #6867
Thanks @JamesNK. Closing this one in favor of the reference issue in aspnet/routing.

[2018-06-12 20:24] #6867 closed

[2018-06-12 20:28] mkArtakMSFT commented on #6342
Seems related: https://github.com/aspnet/Mvc/issues/6413

[2018-06-12 20:33] mkArtakMSFT commented on #3286
@JamesNK, seems like another issue to be handled as part of the dispatcher work. Will you create a new issue in the routing repo, or just move this one?

[2018-06-12 21:50] pranavkm opened #7908 "Determine the behavior when an metadata attribute with side-effects is applied to a convention"
Consider:

[code]

`Produces` is both a `IApiResponseMetadataProvider` as well as a filter. However, the way conventions are currently implemented we only allow apply it to the ApiExplorer model and the filter is never applied to the descriptor. We need to set the correct expectations here.

[2018-06-12 21:53] pranavkm commented on #7908
cc @rynowak \ @glennc

[2018-06-12 21:56] pranavkm opened #7909 "Disallow arbitrary attributes on convention"
We want to start out being restrictive about what attributes are allowed on a convention method. For e.g. it's unclear what to do if the convention is decorated with an Auth attribute. We should have the runtime code throw if the attribute is not recognized.

Related item: https://github.com/aspnet/Mvc/issues/7908

[2018-06-12 22:36] pranavkm commented on #6371
@q42jaap are you still interested in submitting a PR for this?

[2018-06-13 05:45] MrSmoke opened #7910 "Error message from Razor when compilation references are missing isn't meaningful"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Git repo: https://github.com/MrSmoke/RZ3007

- Publish WebApplication2 using `dotnet publish -c release -r win10-x64`
- Visit http://localhost:5000/

#### Description of the problem:
I'm getting the exception `Error RZ3007: Targeted tag name cannot be null or whitespace.`

[2018-06-13 08:15] #3286 closed

[2018-06-13 08:51] KLuuKer commented on #7712
Would it be possible to get this in a 2.1.x patch?
This is completely blocking us from using ApiExplorer

[2018-06-13 11:47] mikes-gh commented on #7053
Using openvas for pen testing I still get a warning as the vunerable packages get installed even with hosting bundle 2.0.8
Is this for backward compatibility?
This is after removing everything and reinstalling.
openvas checks for the existance of the package not whether its being used.
Presumably if its there it could inadvertantly be used.

[code]

[2018-06-13 13:34] ydyote commented on #7899
Thanks for your reply,

I took my time and looked at those filters.

They are not suitable for my needs because I need an ambient context accessible from within the action.
I want my own db connection handling, authorization etc. and for this good place was in the invoker.

Filters current code flow:
Filter A In -> Filter A Out -> Filter B In -> Filter B Out..

I need this kind of sync flow:
FIlte

[2018-06-13 13:44] g136660 commented on #7633
What section i must use for this tag?

[2018-06-13 14:02] snavarropino commented on #7882
Following

[2018-06-13 14:07] bgribaudo commented on #7887
Hi @kichalla, thank you for looking into this. Is there any chance this behavior could be changed?

If I have a class that has 15 properties, it seems strange/wasteful for 16+ instances of the localizer to be created when one instance should work just fine. :-)

It would also be really neat if the factory were invoked for each request. This would align its behavior with how IViewLocaizer calls the

[2018-06-13 15:01] BladeWise commented on #7712
Is there an official workaround in the meantime?

[2018-06-13 15:36] dougbu commented on #7712
The main workaround is to remove `[ApiController]` from any controllers containing actions with collection parameters.

[2018-06-13 15:49] q42jaap commented on #6371
Hi Pranavkm, I've been pondering this and then I was moved onto another project :( So I'm not going to be able to contribute atm 😢

[2018-06-13 16:08] BladeWise commented on #7712
Uhmmmm, not really a fan of this workaround, which can cause more problems (in our codebase) than the ones it can solve.
I suppose the best way at the moment would be to explicitly set a ModelBinder on the collection parameter, am I wrong?

[2018-06-13 16:23] mkArtakMSFT commented on #7910
Thanks for contacting us, @MrSmoke.
@pranavkm, can you please look into this?

[2018-06-13 16:28] pranavkm commented on #6371
That's unfortunate. @mkArtakMSFT moving this out to backlog. The issue is still up-for-grabs, so other contributors are welcome to give this a shot.

[2018-06-13 16:33] dougbu commented on #7712
@BladeWise what `[ApiController]` changes is the binder model name. So, `[FromQuery(Name="ids")]` _should_ work in this particular case.

[2018-06-13 16:48] dougbu commented on #6161
@rynowak @mkArtakMSFT what "future improvements" is this issue tracking exactly?

[2018-06-13 16:58] abatishchev commented on #7893
It works fine in small ASP.NET Core .ENT 4.6.2 application, even within SF. Will investigate more what's wrong with my real app.

[2018-06-13 16:58] #7893 closed

[2018-06-13 17:48] BladeWise commented on #7712
@dougbu  Thanks for the hint, I'll try it and report my findings.

[2018-06-13 18:59] #7795 closed

[2018-06-13 19:07] Tadimsky opened #7915 "Make ActionResult<T> more robust to programmer error"
#### Is this a Bug or Feature request?:

Bug and Feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. Take an Action that returns files (`FileStreamResult`)
2. Change return type from `Task<IActionResult>` to `Task<ActionResult<FileStreamResult>>`
3. Return a `FileStreamResult` either be returning a new `FileStreamResult` or using the `File` helpe

[2018-06-13 19:09] Tadimsky commented on #7915
Here is a full callstack I see while debugging and getting this exception:

System.InvalidOperationException
  HResult=0x80131509
  Message=Timeouts are not supported on this stream.
  Source=System.Private.CoreLib
  StackTrace:
   at System.IO.Stream.get_ReadTimeout()

[code]

[2018-06-13 20:07] mkArtakMSFT commented on #7915
Thanks for contacting us, @Tadimsky.
@pranavkm, can you please look into this?

[2018-06-13 20:09] mkArtakMSFT commented on #7860
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-06-13 20:09] #7860 closed

[2018-06-13 20:15] pranavkm commented on #7915
The request header would have been sent prior to the body being deserialized.

We could consider this, should be fairly simple to do at runtime. cc @glennc \ @rynowak

[2018-06-13 20:16] pranavkm commented on #7795
For 2.2.0, we'll honour `IgnoreAntiforgeryTokenAttribute` applied to a Razor Page model without the need to specify an order. They will not be supported per handler method but we should start producing build warnings if you attempt to do so (See https://github.com/aspnet/Mvc/issues/7684).

[2018-06-13 21:20] rynowak commented on #6161
The changes here require binary breaking changes to define and return concrete collection types for these properties. We should evaluate this for 3.0 - but I don't think there's much we should do now.

[2018-06-13 22:19] mkArtakMSFT commented on #7899
Closing per @rynowak 's response.

[2018-06-13 22:19] #7899 closed

[2018-06-13 23:55] MRT-77 commented on #7087
`@{
            IDictionary<string, string> routeData = new Dictionary<string, string>();
            routeData.Add("data1", "12345");
            routeData.Add("data2", "67890");
}
<li><a asp-controller="Home" asp-action="About" asp-all-route-data="routeData">Test Route Data</a></li>`
This method is using `asp-all-route-data`.

[2018-06-14 00:06] Tadimsky commented on #7915
Do you mean serialized here? So if something fails during serialization in MVC this is expected? That seems kind of scary.

Maybe the [constructor](https://github.com/aspnet/Mvc/blob/a7406d44977a84edb132976d0cfa6552c0faaaa3/src/Microsoft.AspNetCore.Mvc.Core/ActionResultOfT.cs#L19) could check if `value` is an `ActionResult` itself and then assign it as the `Result` instead of the `Value`?

[2018-06-14 00:50] MrSmoke commented on #7910
I should also add that this was working in 2.0

[2018-06-14 03:12] rynowak commented on #7897
I can't think of a reason why it's non-virtual. We can add it back, it's not a breaking change.

[2018-06-14 04:24] rishabhack commented on #7554
thanks @Eilon ,@pranavkm

[2018-06-14 07:54] GeorgePetri commented on #7791
Hello.

Please reconsider, we would benefit from this too.

Thanks!

[2018-06-14 07:56] gica-gugui commented on #7791
Up, we had some cases in which we needed async validation too.

[2018-06-14 08:16] BladeWise commented on #7712
I can confirm that the workaround works (at least in my case).
The multiple values (e.g.`ids=1&ids=2`) are properly bound to the collection once the Name property is specified in the FromQuery attribute.

@dougbu Thanks a lot for your support! :)

[2018-06-14 11:54] jaredpar commented on #7852
If it's happening during build then we need to track down the actual csc being invoked here. The most likely problem is it's a pre-15.7 csc. It should be possible to see the csc being used by looking at the binary log file from a build and looking at the Csc task that is used for build.

[2018-06-14 13:54] Oblomoff opened #7916 "When SetCompatibilityVersion(CompatibilityVersion.Version_2_1) is present then custom model binding does not work"
#### Bug request

#### Version of  `Microsoft.AspNetCore.App`: 2.1.0

#### Description of the problem:

When SetCompatibilityVersion(CompatibilityVersion.Version_2_1) is present then custom model binding does not work.

#### Steps to reproduce

- Download attached Sample project [Sample.zip](https://github.com/aspnet/Mvc/files/2102594/Sample.zip)
- dotnet run
- Go to https://localhost:5001/Home/Ab

[2018-06-14 15:23] springy76 commented on #7712
As written 9 days ago, for some reason this `FromQuery.Name` property did not work for me.

[2018-06-14 16:41] pranavkm commented on #7910
@MrSmoke sent you a PR with suggested code changes for 2.1.

* We recommend using [RazorSdk](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/ui-class?view=aspnetcore-2.1&tabs=visual-studio) and compiling views at build time rather than embedding them and having it compile at runtime. It takes away a lot of problem sources with missing reference assemblies (the cause of the issue here)

[2018-06-14 16:46] joetherod opened #7917 "JsonIgnore not working when using JsonHelper.Serialize on object"
Bug:
JsonIgnore not working when using JsonHelper.Serialize on object
AspnetCore 2.0 - MVC Core App

When Calling the JsonHelper from Razor, it still trys to serialize the property when it has the [JsonIgnore] attribute.

Is there another attribute to use to ensure that a property its not serialized when calling that helper method in razor??

[2018-06-14 16:57] mkArtakMSFT commented on #7917
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-14 16:58] mkArtakMSFT commented on #7917
@NTaylorMullen, any thoughts?

[2018-06-14 16:58] mkArtakMSFT commented on #7916
Thanks for contacting us, @Oblomoff.
@dougbu, can you please look into this?

[2018-06-14 17:04] mkArtakMSFT commented on #7897
Thanks guys. I'll try to include this as part of the 2.1.3 patch.

[2018-06-14 17:19] pranavkm commented on #7852
@twsouthwick \ @lyptt you can get binary logs in VS by installing this extension - https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools. You could also get us the diagnostic text log from VS by changing the build output verbosity and copying the contents from the `Build` option in the `Output` window:

![image](https://user-images.githubusercontent.com/174

[2018-06-14 17:22] mkArtakMSFT commented on #7878
@pakrym, do you have any updates regarding this?

[2018-06-14 19:14] kichalla commented on #7897
Just so that we are on same page, the fix for this patch is only to make it `virtual`. We cannot change the signature of the method as mentioned here:

[2018-06-14 19:40] RKDMax opened #7919 "CompareAttribute not working properly with bound properties on the Razor Page's PageModel"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

See [This Repo](https://github.com/RKDMax/ReproduceCompareAttributeBug) to reproduce

#### Description of the problem:
When using a compare attribute on bound properties in the PageModel itself, the otherProperty parameter is not getting honoured and results in a "Could

[2018-06-14 19:48] pranavkm commented on #7343
Tangentially related to https://github.com/aspnet/Mvc/issues/7802, but we want to be able to try using tooling (specifically analyzers and codefixes) to help guide users in authoring their API actions. Configuring it using code (the `RequireApiControllerAttribute` property in your case) makes this problematic.

With the convention work, we ended with a solution of allowing an attribute to be place

[2018-06-14 21:00] rjamesnw commented on #7897
Because the found `IView` parameter was removed I now have to copy and paste the view execution code from the MVC source because you provide no way now to hook into the process after the view is found *and* immediately before it gets rendered. Now if the MVC executor process changes I risk the code breaking and having to resync the code. I had events I triggered before and after the found view imm

[2018-06-14 22:51] NTaylorMullen commented on #7917
@joetherod I tried reproing your issue from the default Razor Page and MVC project templates but was not able to:
![image](https://user-images.githubusercontent.com/2008729/41442139-942336fa-6fea-11e8-96f1-5ecedc8b6129.png)

Would you mind providing a simple repro app derived from the default project templates?

[2018-06-14 23:20] joetherod commented on #7917
@NTaylorMullen I did as you did in another project and it worked as expected. I verified my code change and did it on the wrong model property. My bad. Thanks for the quick response and sorry for wasting your time.

[2018-06-14 23:20] #7917 closed

[2018-06-15 00:05] abatishchev commented on #7893
The issue was that I was using `AddMvcCore` rather than `AddMvc`. Do you know whether the doc states that clearly?

[2018-06-15 02:10] rjamesnw commented on #7897
@rynowak I wasn't blocked, I went through the source and figured out my own workaround.  ;)  That said, I completely missed virtual `ExecuteAsync()` in the base `ViewExecutor` class that `ViewResultExecutor` inherits from.  I think that is the solution here, since `ViewResultExecutor.ExecuteAsync()` calls `base.ExecuteAsync()` which is virtual.  I didn't think to override and hook into that one, t

[2018-06-15 04:10] abatishchev opened #7920 "How to post-process response after IValidatableObject validation failed?"
#### Is this a Bug or Feature request?:

Question.

#### Description of the problem:

I have a model that implements `IValidatableObject`, e.g. `class Person : IValidatableObject`. Sometimes this validation fails so web app returns 400 Bad Request. All good.

But how can inject into the pipeline afterwards and alter the response? I integrate with a service that requires all responses to be formatt

[2018-06-15 10:41] evil-shrike commented on #7882
@pranavkm I guess the provided rules aren't quite complete as they didn't mention `Microsoft.NET.Sdk.Razor` sdk. As I understand it's equivalent to `Microsoft.NET.Sdk.Web` for library projects, right?

[2018-06-15 16:27] mkArtakMSFT commented on #7920
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-15 16:27] pranavkm commented on #7882
Right. However, if you're referencing `Microsoft.NET.Sdk.Razor`, we anticipate targeting `netstandard2.0` \ `Microsoft.AspNetCore.Mvc` rather than one of the shared runtime packages. These problems generally crop up as part of referencing one of the two AspNetCore runtime packages.

[2018-06-15 16:30] pranavkm commented on #7893
We generally don't recommend using `AddMvcCore` unless you know what you're doing. See the remarks section for the API - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L111-L119

[2018-06-15 16:30] abatishchev commented on #7920
Sure, I'll ask there. I just wanted to know how to do that *right* rather than just how to do that

[2018-06-15 16:32] ryanbrandenburg opened #7921 "Broken test: InstrumentedViews_RenderAsExpected"
This test [fails](http://aspnetci/viewLog.html?buildId=487270&buildTypeId=XPlat_HighSierraOsxUniverse) 100% of the time on OSX with the following error:
[code]

[2018-06-15 16:34] mkArtakMSFT commented on #7920
@kichalla, suggestions?

[2018-06-15 16:34] ryanbrandenburg opened #7922 "Broken test: RazorViewEngine_RendersViewsFromEmbeddedFileProvider_WhenLookedupByPath"
This test [fails](http://aspnetci/viewLog.html?buildId=487270&buildTypeId=XPlat_HighSierraOsxUniverse) 100% of the time on OSX with the following error:
[code]

[2018-06-15 16:34] mkArtakMSFT commented on #7919
Thanks for contacting us, @shanselman.
@dougbu, can you please look into this? Thanks!

[2018-06-15 16:53] abatishchev commented on #7920
Here's what I've got so far:
[code]

What concerns me that status code is still 200, not 400 already. What likely means I'm ittle to early in the pipeline.

Can I override the filter that handles validation failures and assigned response result?

[2018-06-15 17:06] abatishchev commented on #7893
Right. My application is Web API only so I though it would be sufficient. Won't use `AddMvcCore` anymore, kind of. Thanks!

[2018-06-15 17:39] pakrym commented on #7878
Filed https://github.com/aspnet/Home/issues/3232

[2018-06-15 17:40] #7878 closed

[2018-06-15 19:42] #7921 closed

[2018-06-15 19:49] dougbu commented on #7916
@danroth27 @mkArtakMSFT @rynowak removing or overriding `ExcludeBindingMetadataProvider` is a bit cumbersome because that provider has no `public` properties. We could add a `Type` property to make the following possible:
[code]
We could also go further and take the `FormatterCollection` approach for `MvcOptions.ModelValidatorProviders`, providing helpers like `RemoveExclusion(Type type)`.

Separa

[2018-06-15 19:50] dougbu commented on #7916
Clearing my assignment and the `investigate` flag. Over to you **Triage** team,

[2018-06-15 20:31] Remleo commented on #7087
@MRT-77 hav you read my first comment? Your example is too simple. What if I need to pass collection as value?

@NTaylorMullen Why do you see the problems  in `AnchorTagHelper.RouteValues` but not in the `RouteValueDictionary`. AnchorTagHelper just uses `RouteValueDictionary` inside.

[2018-06-15 20:43] danroth27 commented on #7916
Do we know why?

Do we know why this behavior was changed?

[2018-06-15 20:57] NTaylorMullen commented on #7087
It's an artifact of how the TagHelper system tries to associate HTML with the AnchorTagHelper.RouteValues property. Going to deep dive a bit here but hopefully it helps understand the problem.

When you write:
[code]

Behind the scenes Razor generates something like:
[code]

Razor does this because it has a special understanding of `Dictionary<string, TType>`. When a TagHelper has a `Dictionary<st

[2018-06-15 22:15] dougbu commented on #7916
MVC excludes binding `Type` properties (previously) and `Type` parameters and properties (in 2.1 and later) because `Type` has loads of properties and is thus very expensive to bind.

Introducing `ModelMetadataKind.Parameter` changed everything. As part of that change, `DefaultModelMetadata` began honouring `BindingMetadata.IsBindingAllowed`, `BindingMetadata.IsBindingRequired` and `BindingMetadat

[2018-06-15 22:48] dougbu commented on #7919
The difference between `ThisDoesNotWorkModel` and `ThisWorksModel` is the validation level at which the `CompareAttribute` is encountered. `ValidationContext.ObjectType` is `typeof(string)` instead of `typeof(ThisDoesNotWorkModel)` in your failing case because `ModelValidationContext.Container` is `null` for all top-level models i.e. controller or page model properties and action or handler parame

[2018-06-16 08:59] nockawa opened #7926 "When a Controller operation returns `byte[]` the content should automatically be set to `application/octet-stream`"
#### Is this a Bug or Feature request?:
From my standpoint it's a bug, a design one at least, but I could understand it perceived as a feature.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[This post](https://github.com/aspnet/KestrelHttpServer/issues/2667#issuecomment-397695060) from @davidfowl demonstrates that returning a `byte[]` doesn't work as one shoul

[2018-06-16 14:39] mkArtakMSFT commented on #7897
Thanks @rynowak.
@kichalla, please confirm whether the API under question is used at all. If not, per the offline discussion we had with @rynowak, let's obsolete it as part of `2.2` release.

[2018-06-16 22:02] dougbu commented on #7919
@danroth27 @mkArtakMSFT @rynowak the new support for validation of top-level nodes does not pass the containing page model to `ValidationAttribute`s, breaking `[Compare]` on page model properties. In addition, page model implementations of `IValidatableObject` are ignored. This is not what users should expect.

Though MVC passes an incorrectly-initialized `ValidationContext` for the page model pro

[2018-06-16 22:03] dougbu commented on #7919
Cleared `investigate` label and my assignment. Over to you **Triage** team

[2018-06-16 22:56] dougbu commented on #7087
This seems to be a duplicate of closed issue #7826

[2018-06-17 07:13] begrob commented on #2910
Imagine that in a VC, besides using the currently available **@section** to add to the immediate parent layout (to support VC as a self-contained unit), you could also use **@@section** (or some other suitable syntax) to add to the top-most layout (the main layout of the actual page being rendered)(to support VC as a unit that - besides being self-contained - also lives in the "outside" world of a

[2018-06-17 15:32] shaunluttin commented on #5465
Related https://stackoverflow.com/questions/50889261/in-a-view-component-invoked-as-a-tag-helper-how-can-we-access-the-inner-html

[2018-06-18 11:51] adams85 opened #7929 "Dynamic model attributes"
#### Is this a Bug or Feature request?:
Kind of a FR.

#### Description of the problem:
After upgrading from 2.0 to 2.1, I noticed the constructors of [Microsoft.AspNetCore.Mvc.ModelBinding.ModelAttributes](https://github.com/aspnet/Mvc/blob/78fc49ba0c8ad7859e1f3a8aa6c3d17c7cd11f5a/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Metadata/ModelAttributes.cs) are marked as obsolete to be removed in a

[2018-06-18 16:00] mkArtakMSFT commented on #7929
Thanks for contacting us, @adams85.
@pranavkm, @kichalla what would be the alternative approach to what @adams85 is trying to do?

[2018-06-18 16:05] pranavkm commented on #7920
The status code isn't set until the result actually executes.

* If you're using `ApiController`, there's an action filter that produces a `BadRequest` from the model state dictionary. You can use [`ApiBehaviorOptions.InvalidModelStateDictionaryFactory`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ApiBehaviorOptions.cs#L25) to dictate it's behavior.

* For a regular co

[2018-06-18 16:05] mkArtakMSFT commented on #7926
Thanks for contacting us, @nockawa.
@glennc. @pranavkm thoughts?

[2018-06-18 16:07] VictorioBerra opened #7930 "Microsoft.AspNetCore.Mvc.Testing: How do I use something other than the client created by factory.CreateClient()?"
Core 2.1

### This works:
[code]

### This does not
[code]

I also do not think my server is running on port 80, the response that works reports that the response came from port 5000, and `_factory.ClientOptions.BaseAddress.Port` shows 80. When I stop my tests in debug mode, I am unable to actually hit my server from a browser using either port. I guess I have no idea how this thing actually works

[2018-06-18 16:09] pranavkm commented on #7810
Tracked via https://github.com/aspnet/Mvc/issues/7820

[2018-06-18 16:09] #7810 closed

[2018-06-18 16:22] mkArtakMSFT commented on #7922
@ajaybhargavb, can you please fix this? Thanks!

[2018-06-18 16:22] pranavkm commented on #7910
Fixed the error message via:
* https://github.com/aspnet/Razor/commit/dbf13d65383ead3681ac56adf97bfadccf9a4bf4
* https://github.com/aspnet/Mvc/commit/a712ccc98ae84d208bd5f0817ed8e6320ca163c6

[2018-06-18 16:22] #7910 closed

[2018-06-18 16:26] mkArtakMSFT opened #7931 "Prevent the type parameter of the `ActionResult<T>` to be an `ActionResult`"
For reference see https://github.com/aspnet/Mvc/issues/7915

[2018-06-18 16:28] mkArtakMSFT commented on #7915
@pranavkm, I agree with the limitation regarding the type param for the `ActionResult<T>`, hence the referenced bug per your suggestion.

[2018-06-18 16:43] pranavkm commented on #7915
Yup, once you've started writing to the response body (which from your output it appears it has), headers get sent. You could guarantee 500s in this case if you buffer the response - https://www.nuget.org/packages/Microsoft.AspNetCore.Buffering<sup>[+]</sup> - but that's at the cost of increased server resources.

In general, passing in an `IActionResult` to `ActionResult<T>` is not a scenario we

[2018-06-18 16:43] #7915 closed

[2018-06-18 16:57] pranavkm commented on #7926
There is a set of `FileStreamResult` based helper methods on `ControllerBase` that accept a `byte[]` and a content type: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.file?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_ControllerBase_File_System_Byte___System_String_ that should do what you need.

[2018-06-18 17:17] davidfowl commented on #7926
Why doesn't returning `byte[]` do that?

[2018-06-18 17:36] pranavkm commented on #7926
The Json \ Xml formatters convert it to a base-64 encoded string. So it does work today, just not what @nockawa is expecting it to do.

[2018-06-18 17:46] blowdart opened #7932 "Razor Pages _ViewImports documentation could be more clear"
_From @tstivers1990 on June 18, 2018 12:48_

https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio#using-layouts-partials-templates-and-tag-helpers-with-razor-pages

The part of this documentation that details the `@namespace` declaration could be made more clear. It has led some people to believe `@namespace` should be used as though it is a `using`

[2018-06-18 17:46] blowdart commented on #7932
This doesn't appear to be an identity issue, so moving.

[2018-06-18 17:49] mkArtakMSFT commented on #7916
Thanks @dougbu!
@Oblomoff, given the easy workaround we plan doing nothing else here. The behavior here is by design.

[2018-06-18 17:49] #7916 closed

[2018-06-18 18:03] tstivers1990 commented on #7932
Thanks. I derped and put it in the wrong place.

[2018-06-18 18:04] mkArtakMSFT commented on #7901
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-06-18 18:04] #7901 closed

[2018-06-18 18:04] javiercn commented on #7930
@dougbu This should be possible, but might require using CreateDefaultClient instead and passing a bunch of handlers.

[2018-06-18 18:06] pranavkm commented on #7871
Summarizing some offline conversations I had with @rynowak

1) The behavior isn't specific to `ActionResult<T>`. You could get this as a result of returning regular POCO types too e.g. `[ProducesResponseType(200)] public Person GetPerson()` would have missing metadata for the response type. Inferring the response type is the correct thing to do in this scenarios too. I'd treat this as a regular ol

[2018-06-18 18:06] mkArtakMSFT commented on #7932
Thanks for bringing this up, @tstivers1990.
We'll try to clarify this.

[2018-06-18 18:09] tstivers1990 opened #7933 "ModelState.IsValid always returns true when no call to SetCompatibilityVersion"
#### Is this a Bug or Feature request?:
I'm not certain if this is a bug or there's something I'm not aware of. If it's not a bug and in fact intended behavior, I feel like there should be a runtime or compile time error somewhere, as this is rather difficult to track down.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/tstivers1990/ModelStat

[2018-06-18 18:15] abatishchev commented on #7920
@pranavkm, `options.InvalidModelStateResponseFactory` worked like a charm. Thanks, appreciate!

[2018-06-18 18:15] #7920 closed

[2018-06-18 18:20] pranavkm commented on #7933
Support for validation on top level properties is behind a compatibility flag since it breaks certain scenarios (https://github.com/aspnet/Mvc/issues/7413). Requiring the 2.1 compatibility feature of setting `MvcOptions.AllowValidatingTopLevelNodes` is required to enable validaton for top-level page model properties.

[2018-06-18 18:44] pranavkm commented on #7933
We wouldn't be able to do a compile time (analyzer for instance) for this since determining the state of things requires running code. A runtime error is also problematic since it would break existing apps that had erroneously put the attribute on top level properties and parameters and had it no-op in earlier releases. The best solution might be a logger warning, but it's generally not the place

[2018-06-18 18:44] VictorioBerra commented on #7930
Thanks guys, I understand better now how the server is working. I ended up doing exactly what Token/Discovery client do under the hood. Its unfortunate that I cant fully integration test the IdentityModel clients with IdentityServer though.

[code]

[2018-06-18 18:44] #7930 closed

[2018-06-18 18:54] tstivers1990 commented on #7933
I think there should at least be some warning. If a compile or runtime error isn't feasible, then at least a log warning would be desirable. The main issue I notice is the fact that everything appears to work as expected until testing is done with JavaScript disabled. It's something that's very easy to overlook and create issues down the road that are very difficult to detect beforehand without pr

[2018-06-18 18:57] tstivers1990 commented on #7933
Perhaps a compile time warning would be appropriate? That wouldn't break pre-existing code, but would at least alert the developer to the potential issue.

[2018-06-18 20:53] steveoh opened #7934 "ServiceFilterAttribute UnhandledException"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[code]

#### Description of the problem:
Adding a middleware filter using the ServiceFilterAttribute throws

[code]

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:

`.App` = `2.1.0`

this may belong in [DI](https://

[2018-06-18 21:00] pranavkm commented on #7934
Did you mean to write a [middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility?view=aspnetcore-2.1#imiddleware)?

[2018-06-18 21:09] steveoh commented on #7934
@pranavkm, I wrote a middleware and then "used" it. That applied it globally, but I only wanted it applied to a specific controller or routes. I thought the MiddlewareFilter or ServiceFilter this was the way to accomplish that but I must be confused.

[2018-06-18 21:19] pranavkm commented on #7934
You have to let Mvc know of the middleware pipeline to use it. See the docs here - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.1#using-middleware-in-the-filter-pipeline. Something along the lines of:

[code]

[2018-06-18 21:20] steveoh commented on #7934
@pranavkm I updated my last comment. See the DI requirement.

[2018-06-18 21:57] pranavkm commented on #7929
@dougbu thoughts on this?

[2018-06-18 23:35] dougbu commented on #7929
@adams85 I recommend focusing on adding the validators you want, not on updating the base attribute collection. For example [`DataAnnotationsMetadataProvider.CreateValidationMetadata(...)`](https://github.com/aspnet/Mvc/blob/edf4e8fd9e238409f77c34ebd66d8ed8be332962/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal/DataAnnotationsMetadataProvider.cs#L313-L339) copies attributes from `ModelAttri

[2018-06-19 00:02] steveoh commented on #7934
Ok, I switched this to an `IAsyncResourceFilter` as I believe that is the more corrector option.

[2018-06-19 00:02] #7934 closed

[2018-06-19 01:55] brockallen opened #7937 "In 2.0 ObjectResult.DeclaredType masked Task. In 2.1 it does not."
When upgrading my API projects from 2.0 to 2.1 I had many of my integration tests start to fail.

As part of my API infrastructure, I have an IActionFilter and in OnActionExecuted the ActionExecutedContext's Result is being checked for types of ObjectResult.

In 2.0, for action methods that return `Task<Foo>` the ObjectResult's DeclaredType was `typeof(Foo)`, but in 2.1 the ObjectResult's Declared

[2018-06-19 03:17] johnkwaters commented on #7867
Looks like it was not fixed in 2.1.1?

[2018-06-19 03:18] johnkwaters commented on #7609
Looks like it wasnt fixed in 2.1.1?
I tried removing
[FromForm(Name = "formfile")]
And it it doesn't work. I have to add this attribute, and the property that matches the variable name.

[2018-06-19 06:00] rynowak commented on #7926
I'd suggest implementing something like this with a formatter. If you want to send a PR, we can put something like this in the box for others to use (off by default).

I don't think there's much reason why we would consider changing the defaults, as mentioned here, we already have a defined behavior here that most users will see (JSON + Base64 encoding)

[2018-06-19 06:07] davidfowl commented on #7926
Right, this would be a breaking change otherwise.

[2018-06-19 06:18] nockawa commented on #7926
@pranavkm @rynowak Tell me if I understand this correctly:
If we don't set the ContentType and return `byte[]` then it will encode the result in Base64 and return JSON content type.

Other questions:

1) What about if I manually set the content type to `application/octet-stream` ? On would expect the data to be interpreted as binary?
2) Why would this require a specific formatter as I've chose the

[2018-06-19 11:55] adams85 commented on #7929
Hi guys! Thanks for the fast reply!

@dougbu Browsing the code it seems your suggestion would work for validation attributes. However, I configure **all the model attributes run-time** (DisplayAttribute, etc.) (It's my bad since in my original post I wrote about validation attributes only.)

Anyway, I've looked into the DataAnnotationsMetadataProvider class but inheriting that won't solve my probl

[2018-06-19 13:46] janis-veinbergs commented on #6941
Yeah, [Razor Pages tutorial](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/crud?view=aspnetcore-2.1#update-the-edit-page) has slightly different code (contains prefix)

[2018-06-19 14:13] pranavkm commented on #7937
Dup of https://github.com/aspnet/Mvc/issues/7782. We are addressing this in the upcoming 2.1.1 release. https://github.com/aspnet/Mvc/issues/7782#issuecomment-389300695 has a possible workaround. Alternatively, the 2.1.1 bits with the fix are nearly ready and you could give it a try:

* https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1
* MyGet feed with packa

[2018-06-19 14:13] #7937 closed

[2018-06-19 15:23] dougbu commented on #7929
@adams85 why did you choose to inherit from `DataAnnotationsMetadataProvider` instead of doing something similar -- updating `context.ValidationMetadata.ValidatorMetadata` based on your `IValidationMetadataProvider`?

The `DisplayMetadata` case is somewhat different because your `IDisplayMetadataProvider` would need to set individual properties and not just add `ValidationAttribute`s to a collecti

[2018-06-19 15:24] rynowak commented on #7926
Formatters (`IOutputFormatter` specifically) are the thing that is responsible for writing a method's return value into the response body. This usually involves looking at the request (or response) content type and making a decision based on the content type + .NET return type.

Here's an example of a simple one: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Formatters/S

[2018-06-19 15:29] nockawa commented on #7926
Sorry, but I still don't understand why when I set the content type to `aplication/octet-stream` it could hurt in any kind of ways to allow returning a `byte[]` **as anybody would expect**: sending binary data!
I'm porting a service from Go to .net core and my colleague just laughed about this lack of feature and simplicity...

[2018-06-19 15:31] NatMarchand commented on #7871
Maybe we can only consider 200 and 201 ?
Those two seems to be the only case where the payload is meaningful.

[2018-06-19 15:39] mkArtakMSFT commented on #7712
Not really @KLuuKer, given the simple workaround is available.

[2018-06-19 16:05] pranavkm commented on #7871
That sounds great.

[2018-06-19 16:28] dougbu commented on #7929
@mkArtakMSFT @danroth27 @rynowak  the `ModelAttributes` constructors are not currently intended to be used directly. (The only reason the non-`[Obsolete]` constructor is not `private` is for use in tests.) Instead, MVC calls the `static` methods on the type and those methods always reflect over actual types, properties and parameters. And, I believe we would always recommend updating `BindingMetad

[2018-06-19 16:33] adams85 commented on #7929
@dougbu I chose to inherit from DataAnnotationsMetadataProvider to reuse code: CreateDisplayMetadata function is ~250 lines of code and I'd not like to copy them if I don't have to.

[2018-06-19 16:52] adams85 commented on #7929
As a matter of fact, I setup the model binding in run-time (via a fluent API - for architectural reasons) instead of build-time. Apart from this, these "dynamic" model attributes belongs to model types and its properties just like as they were applied as regular attributes in code.

So I don't think it'd be some kind of evil to add them to the reflected ModelAttributes. I still think this is the c

[2018-06-19 17:40] mkArtakMSFT commented on #7887
@bgribaudo, can you please describe the scenario you're having trouble with current behavior? We would like to understand the main problem, as there may be some other approach you should take.

[2018-06-19 17:45] dougbu commented on #7929
@adams85 there's no reason to copy any framework code. The `IMetadataDetailsProvider` implementations are registered (in `MvcOptions`) as a collection. While it's possible to replace `MvcOptions.ModelMetadataDetailsProviders` entries, _adding_ providers is the supported and recommended way to affect the final `ModelMetadata`. MVC for example uses that mechanism to add the `DataAnnotationsMetadataP

[2018-06-19 17:51] dougbu commented on #7712
Yes, this is the correct approach. A few points:
- Need to also fix the block here: https://github.com/aspnet/Mvc/blob/58aa16ee696a00fb40d91a4011c2c5f890ea983d/src/Microsoft.AspNetCore.Mvc.Core/Internal/ApiBehaviorApplicationModelProvider.cs#L211-L217
- Need a better name than `isComplexTypeParameter`. I suggest `parameterMetadata` or just `metadata`.
- Need tests 😸

[2018-06-19 17:57] mkArtakMSFT commented on #7926
In general, MVC delegates how .NET objects are formatted into responses through Output formatters.
The output formatters take precedence over modifications made directly to the `HttpContext`.
We have few special cases, where based on the type of the response we define content types. Specifically `String` and `Stream`. We do not currently special case `byte[]` and doing so would be a breaking chang

[2018-06-19 17:57] #7926 closed

[2018-06-19 18:05] dougbu commented on #7929
@adams85 to reiterate: What you are trying to do is change the `ModelMetadata` of parameters, properties and types. To do that, set `BindingMetadata`, `DisplayMetadata` and `ValidationMetadata` values in additional `IMetadataDetailsProvider` implementations.

[2018-06-19 18:06] kishanAnem commented on #7712
👍. will add tests.

[2018-06-19 18:29] twsouthwick commented on #7852
I went to try to repro it and I'm not seeing it now. Since logging the issue, I've had to flatten my machine and have a fresh install of 15.7. @lyptt Are you able to get any of these logs?

[2018-06-19 18:30] kichalla opened #7940 "Add few razor pages to the Routing functional test website"
Since we are going to use Routing website to run both regular & dispatcher based tests, it would be good, maybe, couple of razor pages and add functional tests which cover request matching & url generation (from pages-to-pages, pages-to-mvc, mvc-to-pages etc.) This can give us a minimal E2E experience.

cc @JamesNK

[2018-06-19 19:02] adams85 commented on #7929
@dougbu: I'm afraid there's still some misunderstooding so I put together a code sample that shows clearly what happens when I create my own `IMetadataDetailsProvider` implementation:

[code]

Do you see now that if I do what you suggest, I must copy almost the full DataAnnotationsMetadataProvider class instead of reusing that code? It's no wonder: in my project I supply only the ordinary data ann

[2018-06-19 19:14] dougbu commented on #7929
@adams85 why does `IDynamicModelAttributesProvider` exist at all? Instead of using "dynamic" attributes, directly make the metadata changes needed.

[2018-06-19 19:46] adams85 commented on #7929
@dougbu  why does IDynamicModelAttributesProvider exist at all?
I mentioned it already. To be able to apply data annotations to types and its properties in run-time instead of design-time. To be able to do something like this:

[code]

I'll gladly explain you in private why I need this but I don't think this should be discussed here as it's way off the subject.

So what if you remove obsolete from

[2018-06-19 20:04] dougbu commented on #7929
@adams85 there already is a way to dynamically change the `ModelMetadata`. And, it can be done fluently e.g. https://github.com/aspnet/Mvc/blob/58aa16ee696a00fb40d91a4011c2c5f890ea983d/test/Microsoft.AspNetCore.Mvc.Core.TestCommon/TestModelMetadataProvider.cs#L99-L106 and https://github.com/aspnet/Mvc/blob/58aa16ee696a00fb40d91a4011c2c5f890ea983d/test/Microsoft.AspNetCore.Mvc.Core.TestCommon/TestM

[2018-06-19 20:36] adams85 commented on #7929
@dougbu Alright, this may work for me at first glance. It'll take some time to refactor my projects but let it be if you propose this solution.

I'll rewrite some of my code to see if my solution can be completely replaced to yours without any gotchas. I'll get back to you soon, and hopefully we can close this issue.

Until then, thank you for your help!

[2018-06-19 21:58] #7922 closed

[2018-06-19 21:59] ajaybhargavb commented on #7922
3d32b6da2fb82c58984c495970e6325b2f5f1972

[2018-06-19 22:27] NTaylorMullen commented on #7932
After reading through the article I think it is pretty concise in regards to what `@namespace` accomplishes. It's specific in what pieces it describes and only explains pieces that are essential to what's being asked of the user (they're adding an `@namespace`). Therefore, I don't think it's the right place to add information about the using. That's accomplished [elsewhere](https://docs.microsoft.

[2018-06-19 22:32] ZBAGI opened #7945 "[Feature request] ModelState ErrorObjectProvider"
According to [Microsoft REST API Guidelines](https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses) error DTO should not only contains target and error message but also unique code of error and preferebly validation parameters (for example: `"minLength": "6", "maxLength": "64",` ). That gives front-end more flexibility. ModelState as is today does not

[2018-06-19 22:52] NTaylorMullen commented on #7932
1521b50a66fc1056bf186f2b9d81a4ba07783d5d

[2018-06-19 22:52] #7932 closed

[2018-06-19 23:12] pranavkm commented on #7864
Fixed in https://github.com/aspnet/Mvc/commit/e7ab81fe0bac76a7f2086c217a97f8d1c4284baa

[2018-06-19 23:12] #7864 closed

[2018-06-19 23:15] pranavkm commented on #7852
@twsouthwick seeing that a fresh install fixed it, I'm going to guess it's likely bad machine state or a an issue with setup. If you or @lyptt run in this again, feel free to reopen this issue.

[2018-06-19 23:15] #7852 closed

[2018-06-20 03:52] davidfowl commented on #7926
@mkArtakMSFT @rynowak I think @nockawa is right here. It actually wouldn't be a breaking change to introduce this behavior and it would meet customer expectations. Basically we would have a BinaryOutputFormatter that could handle the `application/octet-stream` content type and handle `byte[]` return types. It seems odd that Stream works but byte[] does not.

[2018-06-20 05:04] rynowak commented on #7926
I agree that it's not a breaking change - if it's limited to cases where conneg decides that `application/octet-stream` is the appropriate content type and `byte[]` is returned.

For context, I'm officially on the record as opposed to putting in more **on by default** output formatters for specialized scenarios. I was also against `Stream` and I don't think that feature gets of ton of usage. We ge

[2018-06-20 07:44] ZBAGI commented on #7945
Either i don't understand you or do not understood me. There is no direct reference in ModelState to model that failed validation itself. All you get is `ModelStateDictionary` with model name and message. Yes you could loop ActionContext parameters to find out model based on model name, but it's as ugly as regexing error message.

What do you mean ? That looks like some sort of view parameter (htm

[2018-06-20 12:36] proggmatic opened #7946 "Microsoft.AspNetCore.App 2.1.1 application run problem"
#### Is this a Bug or Feature request?:
???

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. create new mvc app via "dotnet new mvc"
2. update "Microsoft.AspNetCore.App" package to "2.1.1"
3. dotnet run

#### Description of the problem:
I have updated Microsoft.AspNetCore.App to version 2.1.1
then i got error in console

The specified framework 'Microsoft.AspN

[2018-06-20 13:14] tuespetre commented on #7367
What about a boolean `asp-current-route-data` attribute that serves the same purpose as a 'boolean overload' of `asp-all-route-data`? The behavior of the tag helper would then be to apply the current values first if `asp-current-route-data` is `true`, then the `asp-all-route-data` values, then the keyed `asp-route-*` values. This way there is a nice 'layering' of functionality and everyone wins. 🥇

[2018-06-20 14:50] bgribaudo commented on #7887
Hi @mkArtakMSFT! Sure thing!

Context: I'm working with a custom JSON-powered string localizer and localizer factory.

Scenarios:

1. ASP.Net Core allows views to be edited without requiring a site restart. That is, changes made to a view are reflected as soon as the view's cshtml file is saved and the page is reloaded. This is handy for rapid development.

    The same 'change live as soon as the

[2018-06-20 15:56] mkArtakMSFT commented on #7946
Thanks for contacting us, @proggmatic.
The issue you're facing here is tracked at https://github.com/aspnet/Home/issues/3241.
Closing this issue as a duplicate.

[2018-06-20 15:56] #7946 closed

[2018-06-20 16:01] mkArtakMSFT commented on #7945
Thanks for contacting us, @ZBAGI.
@glennc, @danroth27 what do you think regarding this one?

[2018-06-20 16:18] nockawa commented on #7926
In my case I'm looking for the fastest way for my WebApi method to operate. I'm returning a raw bytes of a serialized Protobuf object that is being cached to avoid multiple serializations. (which has nothing to do with File...)

So the object I have on the server site in a `byte[]`, the most efficient one, with the lowest footprint.
If I understand correctly, down the road if I set the content typ

[2018-06-20 17:28] mkArtakMSFT commented on #7887
Thanks for all the details, @bgribaudo.
This spun up a good discussion in our team. To assist us with this investigation, could you also provide a minimalistic repro project emphasizing the behavior you're observing?

[2018-06-20 17:42] pranavkm commented on #7933
@mkArtakMSFT what's the plan here? Log a warning? That seems like really poor value since it's not the place users look at when diagnosing these kinds of issues. We cannot do any build time work here.

[2018-06-20 20:23] mkArtakMSFT commented on #7933
I agree with @tstivers1990 that the behavior here is a bit confusion. However, we can do nothing about it. As @pranavkm has said, adding a log message would add very little value. So better to do nothing.

[2018-06-20 20:23] #7933 closed

[2018-06-20 22:07] mkArtakMSFT commented on #7933
And one more comment - the confusion will go away in 3.0, when we'll make the 2.1 behavior with the Compat switch on as default.

[2018-06-20 23:11] NTaylorMullen commented on #7845
2599e0f5cc00085bf3d97b0c52b080af0cea0233
8a77ed23d344c7e438d2772016be3c95f5291ae5

[2018-06-20 23:11] #7845 closed

[2018-06-20 23:35] AlexejTimonin commented on #7256
Is this still "up-for-grabs"? I've implemented (for my own learning sake) two extension methods on `MvcJsonOptions`, `UseCamelCasing()` and `UsePascalCasing()`. From user perspective this translates to:
camelCase: `services.AddMvc().AddJsonOptions(o => o.UseCamelCasing());`
PascalCase: `services.AddMvc().AddJsonOptions(o => o.UsePascalCasing());`

If this is still "up-for-grabs" I would like to wo

[2018-06-21 04:03] rynowak commented on #7256
Yes, go ahead 👍

[2018-06-21 11:23] vanillajonathan opened #7948 "Remove the Json method from Controller"
The `Json` method in [`Controller`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Controller.cs) is redundant because JSON can already be returned using the `Ok` method.

Perhaps the `Json` method could be removed from the `Controller` class and the [`JsonResult`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/JsonResult.cs) c

[2018-06-21 11:30] vanillajonathan opened #7949 "Move OnActionExecuting from Controller to ControllerBase"
The [`Controller`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Controller.cs) class contains the methods `OnActionExecuted`, `OnActionExecuting`, and `OnActionExecutionAsync`.

These methods are not only useful in the context of a MVC application with views, they are also useful for a Web API. When using a Web API there is a practice of inheritering from [`Cont

[2018-06-21 11:42] lecoque opened #7950 "ApiExplorer: ApiDescriptionGroup.GroupName is always empty"
I'm using `IApiDescriptionGroupCollectionProvider` to get information about the API. But `ApiDescriptionGroup.GroupName` is always empty when iterating over group collection.

According to this post https://andrewlock.net/introduction-to-the-apiexplorer-in-asp-net-core/ it is supposed to return controller name?

Now because this doesn't work I have to group all the ApiDescriptions by controller ma

[2018-06-21 12:52] Materix opened #7952 "Validation occurs against declared type rather than real type"
#### Is this a Bug or Feature request?:

Bug - Probably regression

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Repo with example project on: https://github.com/Materix/ValidationInterface

Send POST request on `api/fruit` with `{"type":"orange"}` as body and `Content-Type: application/json`

Expected result: ModelState.IsValid = false
Result: ModelState.IsV

[2018-06-21 14:51] #7931 closed, assigned to pranavkm

[2018-06-21 15:06] pranavkm commented on #7948
There are [overloads](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controller.json?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_Controller_Json_System_Object_Newtonsoft_Json_JsonSerializerSettings_) for the `Json` helper methods that don't have an `ObjectResult` equivalent. Additionally, it's a breaking change to remove types or APIs, and there aren't any compelling reasons

[2018-06-21 15:06] #7948 closed

[2018-06-21 15:34] danroth27 commented on #7945
This sounds like a reasonable scenario. This will require some design work to figure out a reasonable way to provide the validation parameters. @rynowak may have some more thoughts on this.

[2018-06-21 15:41] bjorn-ali-goransson opened #7953 "[Feature request] Make routes configurable through DI"
When plugging in external class libraries to Mvc, it would be nice to call their `serviceCollection.AddPluggableStuff()` and have them add routes.

To require library consumers to use the callback syntax of `AddMvc()`, and then call something like `routes.AddPluggableStuffRoutes()` feels very redundant.

So, in my `AddPluggableStuff` (I'm the one making the external class library), I could ideally

[2018-06-21 15:43] bgribaudo commented on #7887
Hi @mkArtakMSFT! You're most welcome! Are you looking for a demo that shows the caching of the DataAnnotation-related localizers vs. how a fresh view localizer is created for each request or are you looking for something more in-depth than that?

[2018-06-21 16:51] mkArtakMSFT commented on #7953
Thanks for contacting us, @bjorn-ali-goransson.
@kichalla, @JamesNK - is this something Dispatcher work will cover? If so, please either close as a dupe or move this to the `aspnet/routing` repo.

[2018-06-21 17:40] kishanAnem opened #7954 "Testhost process exited with error: It was not possible to find any compatible framework version The specified framework 'Microsoft.NETCore.App', version '2.2.0-preview1-26618-02' was not found."
I think this is definitely this is not  bug.

I've installed this runtime 3.0.0-preview1-26621-01 at [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]. But still vs looking for 2.2.0-preview1-26618-02'.

Please help me how to fix this. or provide a link to install  this version 2.2.0-preview1-26618-02

[21-06-2018 23:03:33 Error] Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformExc

[2018-06-21 18:00] abatishchev opened #7955 "Built-in strongly-typed validator?"
#### Is this a Bug or Feature request?:

Question.

#### Description of the problem:

I asked [this question on Stack Overflow](https://stackoverflow.com/questions/50879884/built-in-strongly-typed-validator-in-asp-net-core) but got no traction.

Currently my models implement IValidatableObject what means they aren't lean POCO's as I'd like them to be.

If I'm using ValidationAttribute then I have

[2018-06-21 18:19] pranavkm commented on #7954
Here's some details on how the roll forward semantics work - https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/roll-forward-on-no-candidate-fx.md#default-behavior. You need a compatible preview version for this to work. In addition, we generally do not recommend using pre-release versions in production applications.

[2018-06-21 18:19] #7954 closed

[2018-06-21 18:19] kichalla commented on #7953
At the moment these routes cannot be configured through DI in MVC part of Dispatcher work. I will move this issue to Routing repo.

[2018-06-21 18:20] pranavkm commented on #7950
It's controlled by the `GroupName` property on `ApiExplorerSettingsAttribute`. If you look at the blog post, the value is explicitly set using the attribute:

[code]

[2018-06-21 18:21] kichalla commented on #7953
This issue was moved to aspnet/Routing#575

[2018-06-21 18:21] #7953 closed

[2018-06-21 18:23] bjorn-ali-goransson commented on #7953
Thanks @mkArtakMSFT , didn't think of the fact that Routing had its own repo and thus also its own issue tracker. Cheers

[2018-06-21 18:25] rynowak commented on #7945
This is already something we're planning to do, I'm not sure where it's tracked. @pranavkm -?

[2018-06-21 18:30] rynowak commented on #7949
These methods exist on controller for legacy reasons and to make sure that developers can migrate existing code. If you want this functionality on `ControllerBase` - just implement the appropriate filter for your use case on your controller type - there's nothing special about these methods being built it, controllers can implement filter interfaces.

[2018-06-21 18:48] pranavkm commented on #7945
https://github.com/aspnet/Mvc/issues/6560 would be the tracking issue.

[2018-06-21 18:49] kichalla commented on #7887
@bgribaudo We are specifically interested in the part where you see the problem of caching of DataAnnotation related localizers and since you are using a custom localizer factory with json file etc.

[2018-06-21 18:49] pranavkm commented on #7949
Closing as by design.

[2018-06-21 18:49] #7949 closed

[2018-06-21 18:57] pranavkm commented on #7950
@glennc \ @rynowak we could consider defaulting this to a prettified controller name for ApiController instances with an `ApiBehaviorOption` to suppress it.
@tuespetre does something similar in https://github.com/aspnet/Mvc/issues/5179.

[2018-06-21 18:59] muratg commented on #7875
Approved for 2.1.3.

[2018-06-21 19:08] AmoraskPangea opened #7956 "ApiController: When Model Deserialization Exception Occurs, Controller Auto Responds with BadRequest Before Reaching Action"
#### Is this a Bug or Feature request?:
Honestly, I'm not sure. If it is a feature, it seems kind of intrusive.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Here's the link to a light [GitHub repo](https://github.com/AmoraskPangea/clean-dotnet-core) I put together where you can reproduce this. Sorry I forgot to ignore the bin files.

Open the repository in Vi

[2018-06-21 20:17] rynowak commented on #7950
I think want need to understand **why**  that's important 😆 What do the swagger frameworks use it for?

[2018-06-21 20:46] jrpharis commented on #6942
Just a note on this, using FluentValidation.WebApi v7.6.0, adding the `DisplayNameAttribute` to the property will accomplish validation errors listing the modified property name.

[2018-06-21 20:51] pranavkm commented on #7950
It's supposed to translate in to tags which you could then logically group operations by - https://swagger.io/docs/specification/2-0/grouping-operations-with-tags. Although scanning the code, it doesn't look like think either NSwag or Swashbuckle uses this property today.

[2018-06-21 21:48] davidliang2008 opened #7959 "Conventional routing with custom templates not working when you have area attributes"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/davidliang2008/DL.Issues.AspNetCore.Mvc.CustomRouting

#### Description of the problem:
When you want a more user/SEO friendly URLs on your site, you would set up custom routings to use slugs instead of ids.

[code]
And then I have the controller and ac

[2018-06-21 22:11] rynowak commented on #7950
But group name is a single thing - not a set of tags. We also intended it to be used for things like versioning.

[2018-06-21 22:15] davidliang2008 commented on #7959
aww the issue is setting the area to empty string!!

[code]

If I remove that, all links are working fine, which is weird. I have this setup running with previous `Microsoft.AspNetCore.All` 2.0.7. Now I have no idea why this is not working with the new `Microsoft.AspNetCore.App`, which has `Microsoft.AspNetCore.Mvc` 2.1.0. I need explanations!

[2018-06-21 22:21] pranavkm commented on #7950
Right. My suggestion was for consumers to use it as a tag value when available.

Ok. I guess we can solve exposing the notion of `ApiDescription.Tags` independent of this (and nobody's clamored for it as yet).

[2018-06-21 23:27] ahazelwood commented on #6605
@DamianEdwards Thanks for adding this in 2.1.0.  This helps out tremendously.

For anyone that finds this in the future, you can now define routes on the `@page` directive.  For example:  `@page "/some/unrelated/{routeid}/child"`  and references to /some/unrelated/blah/child will work correctly.

[2018-06-21 23:45] AlexejTimonin commented on #7256
To make JSON.NET camelCase `ExpandoObject`  the property `DefaultContractResolver.NamingStrategy.ProcessDictionaryKeys` must be set to `true` as already pointed out in this issue. By doing so, users may experience odd serialization behaviour if string keys in dictionary contain chars that are not letters as separators. Here is a test to illustrate it :

        public void Will_Improperly_CamelCas

[2018-06-21 23:51] pranavkm commented on #7952
Looks like this is a result of the validation changes in 2.1. Specifically, with a 2.0 compatibility setting, `ModelMetadata` is calculated over the actual model type -
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/ObjectModelValidator.cs#L59

In 2.1, we pass the `ModelMetadata` of the declared model type -
https://github.com/aspnet/Mvc/blob/dev/src/Microsof

[2018-06-22 05:06] dougbu commented on #7952
@pranavkm this looks like an exception to the overall declared type behaviour of the validation system. Unfortunately, removing this exception -- whether intended or not -- introduced a regression.

[2018-06-22 09:03] AlexejTimonin commented on #7256
I've a question about `UsePascalCasing()` extension method. It looks like JSON.NET does not have out of the box PascalCasing `NamingStrategy`. It does however offer `DefaultNamingStrategy` which does not change property names and dictionary keys. Maybe the `UsePascalCasing()` method should be named something like `UseCodeConventionCasing()` or `UseDefaultCasing()`? From my understanding up to this

[2018-06-22 09:08] JamesNK commented on #7256
UseDefaultCasing would be confusing because the default in MVC is camel. I would call it UseMemberCasing

[2018-06-22 11:07] Materix commented on #7952
So, the second option is to write own ModelBinder f.e. (already used to bind from json-formatted form field as `[FromForm(Name = "name"), ModelBinder(typeof(JsonModelBinder))]`)

[code]

and update field `bindingContext.ModelMetadata` by creating new for real type?

[2018-06-22 13:16] pranavkm commented on #7952
@Materix haven't tried your suggested change, but I don't think it'd work. `ParameterBinder` does not use `ModelBindingContext.ModelMetadata` during validation (it uses the original value passed in to the `BindAsync` method). Seeing this is a regression, I'll see if we can get a fix for this in an upcoming patch.

[2018-06-22 16:07] GeorgePetri opened #7961 "AsyncValidationAttribute"
As others have said #786, #7791, I think adding AsyncValidationAttribute would be beneficial.

This feature would allow doing non blocking validation logic in the attributes which are highly composable and reusable.

Thanks

[2018-06-22 19:57] bgribaudo commented on #7887
@kichalla, does https://github.com/bgribaudo/JsonStringLocalizerDemo provide what you're looking for?

It contains a basic (demo-grade) implementation of a JSON-powered string localization setup. The readme file gives instructions for how to observe the seemingly wasteful creation of localizers on the first request and the difference in behavior between how `IStringLocalizerFactory`'s two `Create(

[2018-06-22 21:15] #7929 closed

[2018-06-22 23:47] dougbu commented on #7805
- 53857d052f
- aspnet/Universe@928a81155e

[2018-06-23 01:03] kishanAnem commented on #7712
Hi @dougbu,

Is that PR is fine correct?

[2018-06-23 01:28] dougbu commented on #7712
@kishanAnem I have a few PRs to review and should get to yours before Monday.

[2018-06-23 01:34] kishanAnem commented on #7712
thank you very much @dougbu. ☺️

[2018-06-23 03:49] wentzt opened #7963 "JsonPatchDocument validity overrides prior parameter(s) invalid ModelState"
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

https://github.com/wentzt/ModelStateOrderRepro

#### Description of the problem:

When using a Guid route param and a JsonPatchDocument body in a PATCH action, if the Guid is invalid but the JsonPatchDocument is valid, the ModelState will be valid while having an error

[2018-06-23 07:31] RehanSaeed commented on #7858
@Eneuman Have you tried your code with `ReturnHttpNotAcceptable = true`? I'm getting 406Not Acceptable responses when I use `InvalidModelStateResponseFactory` as you have done.

[2018-06-23 07:47] RehanSaeed commented on #7858
I'm trying to get `InvalidModelStateResponseFactory` working nicely with Swagger, `ReturnHttpNotAcceptable = true` and custom media types:

[code]

@Eneuman With your code, I keep getting 406 Not Acceptable responses when attempting to return a problem details response. Setting `ReturnHttpNotAcceptable` to `false` fixes the problem but that's not what I want. Swagger is sending an `Accept` HTTP he

[2018-06-23 12:18] CliffordSimak commented on #7712
I have the same issue. I hope you fix it 🙏

[code]

[2018-06-24 12:29] RehanSaeed opened #7964 "Combining InvalidModelStateResponseFactory with ReturnHttpNotAcceptable"
#### Is this a Bug or Feature request?:

Possibly a Bug, Probably me Not Understanding

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

There is a fully working code sample at https://github.com/Dotnet-Boxed/Templates/tree/problem-details/Source/Content/ApiTemplate . Here is a summary of the code at play:

I'm trying to get `InvalidModelStateResponseFactory` wor

[2018-06-24 17:05] ans-ashkan commented on #6942
This is serious, we need a way to change this. maybe opt-in ?

[2018-06-24 21:12] khellang commented on #7948
Also, they're not functionally equivalent. `Ok` involves conneg, `Json` hard codes the response to `application/json`.

[2018-06-25 08:43] ZBAGI opened #7965 "[Feature request] Composite ValidationAttribute"
In typical validation scenario usually there are more then one condition. For example in case of validating Name we may want to validate length and characters used. To do so we would need to add two `ValidationAttribute` . Like so:
[code]
Now, If we would like to reuse that rule in other names (for example. User name, role name, system name and so on...)  we would need to introduce static class wi

[2018-06-25 12:19] clockwiseq commented on #2910
Has anyone taken ownership of this request and either began work or is it in the backlog by any chance?  My issue was closed which is duplicated in this thread and in my opinion would be useful to every dev.

[2018-06-25 14:33] pranavkm commented on #7950
Closing for now until we figure out how this field needs to play with versioning and \ or tags. @lecoque for the time being, I'd recommend using the `ApiExplorerSettingsAttribute` to set it. Alternatively, you could consider an application model convention to do this for all controllers. https://github.com/aspnet/Mvc/issues/5179 has an example of setting this up.

[2018-06-25 14:33] #7950 closed

[2018-06-25 15:26] pranavkm commented on #7906
This is done as part of https://github.com/aspnet/Mvc/commit/94a7c839984b7143ba83ed2173b70ff25c401f0e. `ApiConventionResult` can be set as part on `ActionDescriptor.Properties` in a convention.

[2018-06-25 15:26] #7906 closed

[2018-06-25 16:42] pranavkm commented on #7885
@iforlife if you'd like to send a PR for this, we'd be happy to consider it. Here's a recent change to add support for a helper method to Razor Page \ PageModel that you may use as a template: https://github.com/aspnet/Mvc/commit/26454fb1da36191ee43b59b956f6e9f2d945a3a7

[2018-06-25 17:43] pranavkm opened #7968 "Port "Validation occurs against declared type rather than real type" to 2.1.x"
Issue: https://github.com/aspnet/Mvc/issues/7952

[2018-06-25 19:05] dougbu commented on #7770
@pranavkm should we be thinking about including this in a 2.1 patch? Looks like `[ApiController]` could regress things because the model binder provider would previously handle `IEnumerable<IFormFile>` just fine.

----
BTW we do kind-of have the `ModelMetadata` for this in the combination of `IsEnumerableType` and `ElementMetadata` or `ElementType` e.g. `metadata.IsEnumerableType && typeof(IFormFi

[2018-06-25 20:06] pranavkm commented on #7770
Sure. Could you create the port bug and ping @Eilon \ @mkArtakMSFT ?

[2018-06-25 20:51] pranavkm opened #7969 "Razor runtime compilation produces errors if running on a shared runtime that's rolled forward"
1) Create an image with 2.1.1 runtime
2) `dotnet new Mvc`. Update the project file to specify a version for the shared runtime. Specify an older runtime e.g. `<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0" />`
3) Run the app. Views would build and be served.
4) Edit a view while the app is running and refresh the browser.

The compilation produces an error:
[code]

[2018-06-25 21:06] pranavkm commented on #7969
The issue is two parts:

1) Roll forward does not affect the deps file. Consequently the deps file will continue to claim (rightfully) that the app was compiled against `Microsoft.AspNetCore.Mvc.Razor 2.1.0.0` and compilation will attempt to use these.
2) A couple of runtime assemblies are added as ApplicationParts by default - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc/Mv

[2018-06-25 21:08] pranavkm commented on #7969
FYI @rynowak

[2018-06-25 21:42] dougbu opened #7970 "Port #7770 fix to 2.1.2 or 2.1.3"
Suggest we port the #7770 fix (49c653e) to the next 2.1 patch. Basically `[ApiController]` causes a regression in some scenarios.

/cc @Eilon @mkArtakMSFT

[2018-06-26 00:35] AlexejTimonin commented on #7965
Hi, I know this is a feature request but I've encountered something similar and solved it by implementing my own ValidationAttribute that acts as composite attribute. I've create github repo with an example on how I solved it. If you need to solve this problem in your project maybe you can get some inspiration.
The project can be found here: [CompositeValidationAttributeExample](https://github.com

[2018-06-26 07:19] ZBAGI commented on #7965
Thanks @AlexejTimon. That is for sure less ugly and some way acceptable solution. It will do the trick for now until (hopefully) there will be build in solution.

[2018-06-26 07:49] alkex992 commented on #2910
Why is this issue been closed? I do not see any "official solution", only incredible workarounds that only make projects more and more intricate

[2018-06-26 08:38] Rimbik opened #7971 "code changed in file launchSettings.json not considred on ctlr+f5"
#### Request:
Please auto save the file 'launchSettings.json ' on F5 or ctlr+f5

#### Steps to reproduce
1. Change some setting in file:  launchSettings.json for example change the port number
2. Do not press Ctrl + S *normal habit
3. Run the App using ctlr+f5

#### Description of the problem:
Seems the app runs with old setting without considering the new changes in file unlike .cs file
when we c

[2018-06-26 09:11] ZBAGI commented on #7965
In fact, you can simplify your example with abstract class. Thus removing gathering validation attributes via reflection.[ Here is how i would (more or less) i would do it](https://github.com/ZBAGI/CompositeValidationAttribute) (if i could have combined messages).

[2018-06-26 11:46] AlexejTimonin commented on #7965
@ZBAGI I've made some changes to CompositeValidationAttribute, it now implements IModelValidator interface ([changes](https://github.com/AlexejTimonin/CompositeValidationAttribute/commit/06f0cf98acc65995e5def337fcf18a9067c70e49)) this way you can output several error messages instead of combined error messages. Maybe your regex will work on that. I think I see your problem more clearly now, it wou

[2018-06-26 12:41] clockwiseq commented on #2910
@alkex992, it boggles the mind to think that the workarounds on this thread are "acceptable".  You are absolutely correct and I can't find another issue or thread regarding an open request for this basic and necessary feature.

[2018-06-26 13:37] lecoque opened #7972 "ApiExplorer: ProducesResponseType hides ActionResult<T>"
#### Description of the problem:
[code]

Now when using `ApiDescription.SupportedResponseTypes` the only supported response type is `void` but when I remove `ProducesResponseType` attribute I get the correct response type.

Is this by design?

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:
2.1.0

[2018-06-26 16:16] pranavkm commented on #7972
Yup. The moment you specify a `ProducesResponseType` \ `Produces` attribute, MVC assumes the application developer will provide all valid response codes. We are making a small change to the behavior of `ActionResult<T>` + some success status codes - https://github.com/aspnet/Mvc/issues/7871 - but that still requires you to specify all possible status codes from the action.

[2018-06-26 16:18] pranavkm commented on #7971
@barrytang should this go through VS feedback?

[2018-06-26 17:09] pranavkm commented on #7969
@wdmeeste1 could you run `dotnet --info` in your project directory?

[2018-06-26 17:09] dodyg commented on #2910
@clockwiseq it really limits the usefulness of ViewComponent. Better not use it.

[2018-06-26 17:18] dougbu commented on #7805
Checklist completed with
- aspnet/benchmarks@86dc85338c
- aspnet/performance@31557bcba7

[2018-06-26 17:18] #7805 closed

[2018-06-26 17:32] clockwiseq commented on #2910
Exactly @dodyg , it has left me with very limited options as to how to create reusable components.

[2018-06-26 18:00] lecoque commented on #7972
I see thanks.

[2018-06-26 18:12] kirk-quinbar opened #7973 "Uploading of files using IFormFile will buffer if over 64kb. Does the file get cleaned up?"
There is an walkthrough of the two main ways of uploading files in asp.net core mvc at the link below. There is a note that if using IFormFile, the file will be buffered to disk if it is over 64Kb. Does this file get cleaned up immediately or is it treated like a temporary file that sits until some process cleans it up?

https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=asp

[2018-06-26 18:28] pranavkm commented on #7973
cc @Tratcher

[2018-06-26 18:39] Tratcher commented on #7973
Yes, the file is marked as DeleteOnClose and closed at the end of the request:
https://github.com/aspnet/HttpAbstractions/blob/6ffac0c722b1d71837d438f22da58aefddd6caac/src/Microsoft.AspNetCore.WebUtilities/FileBufferingReadStream.cs#L197
https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http/Internal/BufferingHelper.cs#L53

[2018-06-26 18:46] dougbu commented on #7712
e1af5b8b6d

Thanks again @kishanAnem

[2018-06-26 18:46] #7712 closed

[2018-06-26 21:12] dodyg commented on #2910
This issue is three years old. I don't think we'll see some official movement on this topic. The alternative is to fork the Razor template engine and figure this out ourselves. It will make an interesting side project just to see what's possible.

[2018-06-27 01:13] Tadimsky opened #7975 "Razor compilation not deterministic?"
#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. Build a project with MVC producing some views with `/p:Deterministic=true`
2. Copy `Project.Views.dll` and `Project.dll`
3. Build project again using flag
4. Compare the two DLLs to the new build - `Project.dll` will have no difference whereas `Project.Views.dll` will

[2018-06-27 02:29] begrob commented on #2910
Is anyone interested to hook up for some pair programming to give this a shot ?

[2018-06-27 05:57] ChristianSauer commented on #7969
Is there a fix for this?

[2018-06-27 06:00] FrancisFYK commented on #7969
you can try a separate reference Microsoft.AspNetCore.App 2.1.0

[2018-06-27 06:30] FrancisFYK commented on #7969
@pranavkm  Is there a solution now?

[2018-06-27 07:19] wdmeeste1 commented on #7969
@pranavkm

dotnet --info

[code]

[2018-06-27 07:42] wdmeeste1 commented on #7969
Updating all the Microsoft.* nuget packages from 2.1.0 to 2.1.1 seems to fix the problem:

`
<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.1" />
<PackageReference Include="Microsoft.Extensions.Configuration.EnvironmentVariables" Version="2.1.1" />
<PackageReference Include="Microsoft.Extensions.Configuration.Json" Version="2.1.1" />
<PackageReference Include="Microsoft.Extensio

[2018-06-27 08:38] henrik-olsson-valtech opened #7976 "Integration tests always use development environment"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/henrik-olsson-valtech/EnvironmentRepro

#### Description of the problem:
ASP.NET Core 2.1 web API reads environment from environment variable ASPNETCORE_ENVIRONMENT with "normal" Kestrel hosting but not when hosted in a test. Was this changed with https

[2018-06-27 10:11] Rimbik commented on #7971
yes, please

[2018-06-27 10:24] laredoza opened #7977 "Modular MVC Core Applications - System.InvalidOperationException: 'Cannot find compilation library location for package"
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

https://github.com/laredoza/MyFirstMVCCoreModularApplication

Build and run MyFirstModularApplication ( You'll probably have to build twice)

Try and open https://localhost:44303/Test

You will get the error: System.InvalidOperationException: 'Cannot find compilation li

[2018-06-27 12:35] khellang commented on #7976
I doubt anyone thought people would use environment variables in their test setup 😄

You could work around it pretty easily though:

[code]

[2018-06-27 14:58] pranavkm commented on #7969
We'll try and address this in the runtime. In the meantime, the fix is to ensure your app's compiling against the runtime it'll target. Like I mentioned in my earlier comment, this problem crops up because your app's compiling against an older version of the runtime, but running against a newer one. Making sure the two are in sync should fix this.

Here's what you would need to do to ensure that,

[2018-06-27 15:50] laredoza commented on #7977
I've managed to make this work.

Moved

[code]

from Post-build to Pre-Build

Makes sense I guess.

[2018-06-27 15:50] #7977 closed

[2018-06-27 21:36] dougbu commented on #7805
Turns out MVC repo couldn't be cloned on normal Windows benchmarks server. Fixed in 4dd4e5ef3e

[2018-06-28 03:01] MaqSaid commented on #5968
Do we have working CheckboxTagHelper and final link of working code (with example would be great!)

[2018-06-28 06:15] MrSmoke opened #7980 "Disable authentication redirects for ApiControllers"
#### Is this a Bug or Feature request?:
Feature Request

#### Description of the problem:
For projects that use a mix of SPA and local API endpoints (aka `/api/values`), it currently looks like the best solution to avoid auth redirects on the API endpoints is to add some logic similar to:

[code]

With the advent of the new `[ApiController]` attribute, could we somehow use this to check if the con

[2018-06-28 07:17] henrik-olsson-valtech commented on #7976
Yes, I already had a workaround similar to that one (although yours is better). But I spent several hours to understand the problem and implement a workaround.

What do you mean? We have the following:
1. We want to run integration tests in multiple environments (development and test/staging).
2. We have different configurations in different environments, so the web API must load appsettings.Devel

[2018-06-28 08:06] khellang commented on #7976
I'm just guessing that this is a scenario that didn't come up when the bug fix/feature was put in place. TBH, it's the first time I've heard of this.

My alternative solution would be to make your tests environment-agnostic (unless you have environment-specific code in your app). I.e. start out with a clean environment each time you run the tests. It's hard to say whether this would work for you w

[2018-06-28 10:06] NatMarchand opened #7981 "Issue with implicit conversion of ActionResult<T>"
I'm encountering a bug with ASPNet Core 2.1 whether it is with .Net Framework or .Net Core.
When using the implicit conversion of ActionResult<T>,  this works :
[code]
This works :
[code]

This does not compile (but according to me, it should) :
[code]

However, this compile :
[code]

It seems that the implicit conversion does not work with interfaces.
Not sure if this bug belongs to this repo, or

[2018-06-28 10:45] khellang commented on #7981
This is a C# language restriction. From [the C# 6 spec](https://github.com/dotnet/csharplang/blob/master/spec/classes.md#conversion-operators):

And

*[emphasis added]*

[2018-06-28 11:04] henrik-olsson-valtech commented on #7976
We don't have environment specific code, but the environments contain databases that have different connection strings.

[2018-06-28 11:51] NatMarchand commented on #7981
Oh, I see. What's really disturbing is that such a conversion works when using the generic method when T is the interface type:
[code]

[2018-06-28 13:08] phatcher opened #7982 "Unexpected invalid input when using ApiController attribute"
I have a simple controller
[code]
which if invoked with `http://localhost:5000/foo/1/bar` it returns the appropriate Foo instance.

However, if I update this to use the new ApiController attribute in 2.1 i.e.
[code]
I get a `{"":["The input was not valid."]}` response

From reading around this is most likely something to do with the JsonSerializer but I don't know how to work out what's going wron

[2018-06-28 13:58] pranavkm commented on #7981
The type being returned, not `T`, is the key here. For instance, this works:

[code]

Unfortunately, there's not much we could do here since it's a language restriction. For `IEnumerable<>` instances, calling `ToList` on the result would be the way to go. For other interface types, you may consider invoking the `ActionResult<T>` ctor e.g.

[code]

[2018-06-28 13:58] #7981 closed

[2018-06-28 13:59] pranavkm commented on #7980
cc @javiercn

[2018-06-28 14:01] pranavkm commented on #7975
@rynowak did we verify this was fixed as part of https://github.com/aspnet/Razor/issues/1446?

[2018-06-28 16:23] pranavkm commented on #7982
Might be the same issue as https://github.com/aspnet/Mvc/issues/7546. Did you set the compat version - see https://github.com/aspnet/Mvc/issues/7546#issuecomment-385037736?

[2018-06-28 16:28] pranavkm commented on #7972
Closing since this is by design. For 2.2, we plan on using [API Conventions](https://github.com/aspnet/Announcements/issues/307) to remove some of the boiler attributes required for producing good swagger.

[2018-06-28 16:28] #7972 closed

[2018-06-28 16:30] pranavkm commented on #7955
@dougbu is this something you could do with a details provider?

[2018-06-28 16:30] pranavkm commented on #7909
Fixed as part of https://github.com/aspnet/Mvc/commit/94a7c839984b7143ba83ed2173b70ff25c401f0e

[2018-06-28 16:30] #7909 closed

[2018-06-28 16:35] pranavkm opened #7983 "Port DefaultAssemblyPartDiscoveryProvider throws KeyNotFoundException if a library does not have runtime components to 1.1"
Original issue: https://github.com/aspnet/Mvc/issues/5690

Further reading: https://github.com/aspnet/Home/issues/3132

[2018-06-28 16:40] dougbu commented on #7955
@abatishchev you could implement `IValidationMetadataProvider` and have that class add the `ValidationAttribute`s needed to `context.ValidationMetadata.ValidatorMetadata` on a per-`T` basis. Your registration of the `IValidationMetadataProvider` in `MvcOptions.IMetadataDetailsProvider` gets only slightly more complicated if you inject the `ValidationAttribute`s into DI.

[2018-06-28 17:48] rynowak commented on #7975
As @Tadimsky points out, we are passing the setting through to CSC but it's not doing what he wants. Maybe there's more we need to do - we should investigate this and if there isn't a straightforward workaround we should consider patching it.

[2018-06-28 17:50] pranavkm commented on #7975
Moved to https://github.com/aspnet/Razor/issues/2449.

[2018-06-28 17:50] #7975 closed

[2018-06-28 18:18] phatcher commented on #7982
I’ll have a go tomorrow but there’s no body just parameters that are part of the route

Sent from my iPhone

[2018-06-28 18:23] pranavkm commented on #7982
Right. The issue is that `ApiController` incorrectly classifies the `CancellationToken` as `FromBody`. Setting the compat version corrects the behavior.

[2018-06-28 18:34] renatoprogramer commented on #7969
**Solution it worked out!**
**I managed to solve this problem by giving a down update on my  .csproject.**

**Version with bug**
` <PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.0" />`

**NEW**
` <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.8" />`

[2018-06-28 22:05] abatishchev commented on #7955
@dougbu thanks, Doug! Let me try.

[2018-06-28 22:05] #7955 closed

[2018-06-29 07:53] alireza-salemian opened #7988 "Please add `Attributes` property to `ModelMetadata`."
In many scenarios we use reflection and in Mvc.NetCore base class **_ModelMetadata_** is a good class for that models, but property Attributes is not exist in this type and its necessary cast to _**DefaultModelMetadata**_  to access it.
Please move this property from **_DefaultModelMetadata_** to **_ModelMetadata_**.
ex:
`var property = modelMetadata.Properties
                .OfType<DefaultModel

[2018-06-29 12:46] wijwoj commented on #6942
DisplayNameAttribute makes no difference. How are we supposed to get the field display name. It seems insane there is no way to do this.

[2018-06-29 14:47] vanillajonathan commented on #6795
Should the `BadRequest` method which takes a `ModelStateDictionary` as parameter be deprecated in favor of the new `UnprocessableEntity` method?

[code]

Perhaps the method should be marked with the Obsolete attribute?

[2018-06-29 14:51] vanillajonathan commented on #6795
Note that the [`ValidationProblem`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.validationproblem?view=aspnetcore-2.1) method introduced in ASP.NET Core 2.1 have a overload that takes a `ModelStateDictionary` as parameter and returns a 400 status code.

[2018-06-29 15:07] pranavkm commented on #6593
As of 2.1.0, the computed key is the property name by default. `ITempDataDictionary.Keep` should work out of the box. Closing since there isn't anything more to do here.

[2018-06-29 15:07] #6593 closed

[2018-06-29 15:31] javiercn commented on #6593
Should work or works :trollface:

[2018-06-29 16:16] khellang commented on #6795
It's not obsolete, it's just that there's no consensus on using 400 for validation errors. Some people use 400 for all client errors, like syntax and validation, while some prefer 400 for syntax error and 422 for semantic validation errors. MVC will still default to 400.

[2018-06-29 16:34] kichalla commented on #7959
@davidliang2008 From the repro app its not clear where you are trying to generate the links from. Are you doing it from the DashboardController to Products? if so, the ambient value of 'admin' is probably being used.

[2018-06-29 16:38] #7563 closed

[2018-06-29 18:07] davidliang2008 commented on #7959
No, all product links are public. They're not under `Admin` area. I have the `ProductController` defined just as a regular `Controller` and 3 more actions within it: `ListByType`, `ListByCategory` and `Details`. For testing purpose, All 3 actions return `Index` view with different string so that we know which action is getting called.

The issue is:

- The links in the table in the OP work as long

[2018-06-29 18:46] pranavkm commented on #7969
Fixed in 2.1.3 via https://github.com/aspnet/Mvc/pull/7989.
Fixed in dev via https://github.com/aspnet/Mvc/commit/042c833145b6bd15ae67820cdfac2990eff0d469.

Tracking release verification via https://github.com/aspnet/Release/issues/316

[2018-06-29 19:05] pranavkm commented on #7875
Fixed in https://github.com/aspnet/Mvc/commit/82f7f2aab88f1b9af15f60df3830ed327b2d5a89. PR https://github.com/aspnet/Mvc/issues/7875

[2018-06-29 19:05] pranavkm commented on #7871
Fixed in dev via https://github.com/aspnet/Mvc/commit/ac4d6366b70b4adb3b18e07084c3eb4c01bf1161.
Fixed in 2.1.3 via https://github.com/aspnet/Mvc/commit/82f7f2aab88f1b9af15f60df3830ed327b2d5a89

Thanks for the PR @NatMarchand

[2018-06-29 19:05] #7871 closed

[2018-06-29 19:06] #7875 closed

[2018-06-29 19:33] benjcallaghan opened #7992 "ModelState.IsValid = true when the maximum number of errors is exceeded."
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. Create a new ASP.NET Core 2.1 Web API project.
1. Create a complex model with at least one validation rule (e.g. [Required]).
1. Create a POST method on an [ApiController] that takes a List<T> of that model.
1. Run the application and POST 500 objects to that method,

[2018-06-29 19:52] carl-thomas commented on #6942
I don’t think this should be closed on the basis of no community interest. It is a fundamental flaw that has been missed. How is my api meant to parse errors that are returned with a different key? We shouldn’t be adding other attributes or libraries to fix something that should not be broken. I understand it would be a breaking change but like someone else has already stated an opt-in in the star

[2018-06-29 22:59] pranavkm opened #7993 "ApiConvention: Allow for some status codes to be optional"
For instance, `[ProducesResponseType(400)]` is applied to the POST \ PUT \ DELETE actions on the default set of conventions. However, we would not expect it to show up in the actual code since it's handled by the filter.

[2018-06-29 23:01] pranavkm commented on #7993
Perhaps anything that's marked as `ProducesResponseTypeAttribute.IsDefaultResponse` (https://github.com/aspnet/Mvc/issues/6828) is allowed to not appear in code. Alternatively a different property that indicates this is optional.

[2018-06-29 23:07] pranavkm commented on #7268
Updated the title. Thanks to @AlexejTimonin's PR, there's an `optional` attribute on the `PartialTagHelper`. Specifying this would cause the tag helper to no-op if the view cannot be located. E.g.

`<partial name="_MyPartial" optional />`

[2018-06-29 23:07] #7268 closed

[2018-06-29 23:12] pranavkm commented on #7268
Follow up comment: we want to focus on evolving tag helpers over adding additional features to HtmlHelpers, so I think this does solve this issue. https://github.com/aspnet/Mvc/issues/7515 is slightly related, but isn't the same problem as this one. That requires attempting to perform a fallback lookup without an option to no-op if neither view is found. That can be addressed independently of this

[2018-06-30 02:19] barrytang commented on #7971
Yes, please use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

[2018-06-30 03:48] #7971 closed

[2018-07-02 12:39] nulltoken opened #7997 "System.UriFormatException : Invalid URI: The hostname could not be parsed."
Hello,

It's possible I may have found a bug (or at the very least a surprising behavior :wink: ).

Running an integration test, using the TestServer, against an Mvc backed API (monitored by ApplicationInsights), throws a `UriFormatException`.

It looks like (cf. the screenshots below) that the host being parsed end up being `"localhost,localhost"`.

I've managed to trim down the code as much as p

[2018-07-02 16:03] Tornhoof opened #7998 "Typo in Microsoft.AspNetCore.Mvc.Testing.targets"
#### Is this a Bug or Feature request?:
Typo

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
See target 'CopyAditionalFiles' in https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.Testing/build/netstandard2.0/Microsoft.AspNetCore.Mvc.Testing.targets

#### Description of the problem:
It should be named 'CopyAdditionalFiles', I do not know if th

[2018-07-02 16:10] AmoraskPangea commented on #7956
Hey @khellang,

That makes sense. Appreciate your feedback.

[2018-07-02 16:10] #7956 closed

[2018-07-02 16:57] artiomchi opened #7999 "ASP.NET Core apps fail to load *.Views.dll when running of a network share"
Seems to specifically affect apps compiled against .NET Framework 4.6.2.

I have an app behind an IIS ARR load balancer. The app code is hosted on a network share, and I have two servers pointing it's app pool to that location.

Starting with ASP.NET Core 2.1, the framework can now precompile the views and store them in `AppName.Views.dll`. The issue is, this assembly is loaded dynamically (as far

[2018-07-02 17:06] pranavkm commented on #7998
cc @javiercn

[2018-07-02 17:23] javiercn commented on #7998
Thanks for contacting us.

This is indeed a typo. However it doesn't functionally affect any part of the product so we don't consider very valuable to fix it.

Closing this issue as we won't be taking any further actions.

[2018-07-02 17:23] #7998 closed

[2018-07-02 18:30] pranavkm commented on #7952
@Materix I'm working on porting the fix to an upcoming patch release. https://github.com/aspnet/Mvc/issues/7968 is the tracking issue. In the meanwhile, I'd recommend using the `MvcOptions.AllowValidatingTopLevelNodes` switch to continue getting the 2.0 existing behavior.

[2018-07-02 18:30] #7952 closed

[2018-07-02 18:30] pranavkm commented on #7952
Fixed in https://github.com/aspnet/Mvc/commit/335500ab0ed76e073514130068aab43a40ebba3e

[2018-07-02 19:09] nulltoken commented on #7997
FWIW this was working against .NET Core 2.0.5

[2018-07-02 20:07] traceyjas opened #8001 "Setting Default Page to razor Login in MVC application"
#### Description of the problem:
I want the default page in the application to be the Identity/Account/Login Page. This is a MVC application and that is a razor page. How can this be achieved?

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:
Microsoft.AspNetCore.All

[2018-07-02 20:16] pranavkm commented on #7982
@phatcher feel free to reopen if you're still seeing this issue after setting the compat version.

[2018-07-02 20:16] #7982 closed

[2018-07-02 20:32] Msender opened #8002 "Return razor page without redirect"
#### Is this a Bug or Feature request?:
Feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:
Add overload to PageModel.Page Method that should accept a page name and return that page without a redirect, the same as we have with the Controller.View method.

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNe

[2018-07-02 20:54] kichalla commented on #7959
Ah yes, I am able to reproduce the issue. Investigating the cause...

[2018-07-02 20:59] phatcher commented on #7982
@pranavkm Sorry, yes it worked this morning - I've raised a documentation issue to make it clearer

[2018-07-02 22:35] SimonCropp opened #8003 "Make ControllerBase.User virtual so it can be mocked"
Make `ControllerBase.User` virtual so it can be mocked for testing purposes

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ControllerBase.cs#L195

Seems most other members are virtual, so it would seem reasonable.

[2018-07-02 22:44] pranavkm commented on #8003
Making a member `virtual` is a breaking change (see https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#members). There isn't a strong enough case to justify this change. I'd recommend setting the `User` instance on the mocked `HttpContext` instance.

[2018-07-02 22:44] #8003 closed

[2018-07-02 22:45] SimonCropp commented on #8003
workaround for the next person

[code]

not that this is not really a viable long term solution, since it requires knowledge of the internal workings of ControllerBase to know it is even possible

[2018-07-02 22:46] SimonCropp commented on #8003
@pranavkm breaking change is not enough of a reason to close an issue. it just means it should be scheduled for the next major.

that is not the solution either. see my above workaround.

is there doco on how to achieve the above

[2018-07-02 23:59] kichalla commented on #7959
So seems like the root cause of the issue is change in behavior of the `GetHashCode` api on `StringComparer`.

In netcoreapp2.0, the following prints `0`:
[code]
Since this used to give `0`, we have logic of a string being null also as `0`

In netcoreapp2.1, the above code prints a non-zero value which causes a look up miss for action descriptors where they are built with key like area=null and th

[2018-07-03 00:11] pranavkm commented on #7959
FYI @stephentoub in case the behavior change was unintentional.

[2018-07-03 00:18] davidliang2008 commented on #7959
You guys are awesome!!

[2018-07-03 00:21] stephentoub commented on #7959
It's intentional.  Randomized string hashing was enabled for IgnoreCase in 2.1.

[2018-07-03 12:52] SimonCropp commented on #8003
bump

[2018-07-03 13:21] asterite opened #8005 "BindAttribute is not working"
#### Is this a Bug or Feature request?:

This is a bug.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

This is the project: https://github.com/asterite/DemoBindingNotWorking

Launch it, and do a POST to `/foo` with this JSON:

[code]

Remember to set "Content-Type: application/json" in the request headers (I used Postman for this).

#### Description of the pro

[2018-07-03 14:35] pranavkm commented on #8003
I guess setting it up the way you did is the way to go. Feel free to add it here - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?view=aspnetcore-2.1#unit-testing - to document it. I've added this issue as a line item to a larger tracking issue of things to do in 3.0 - https://github.com/aspnet/Mvc/issues/7820.

[2018-07-03 16:49] pranavkm commented on #8002
The architecture of Razor Pages isn't designed to support the kind of thing you're suggesting. Think of each page as a controller action - by the time you get to it, authorization, model binding etc for the current page have already executed and cannot be re-executed for the other page. If all you need is the render the other page as a "view", consider returning a [partial](https://github.com/aspn

[2018-07-03 18:23] pranavkm commented on #8005
Dup of https://github.com/aspnet/Mvc/issues/5731. See https://github.com/aspnet/Mvc/issues/5731#issuecomment-275950599 for alternatives to using `BindAttribute.Include`

[2018-07-03 18:23] #8005 closed

[2018-07-03 18:47] pranavkm opened #8006 "Respect LowercaseUrls in ApiExplorer"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/RSuter/NSwag/issues/1432

#### Description of the problem:
Setting `LowerCaseUrls` does not change the output of ApiExplorer

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:
2.1.0

[2018-07-03 19:08] #7969 closed

[2018-07-03 19:09] pranavkm opened #8007 "Port "Conventional routing with custom templates not working when you have area attributes" to 2.2.0"
Port fix for https://github.com/aspnet/Mvc/issues/7959 to 2.2.0

[2018-07-03 19:13] RoarkeRandall opened #8008 "Access RoutingTable/RoutingData in middleware"
#### Is this a Bug or Feature request?:
Feature Request

#### Description of the problem:

I'd like to write a middleware that logs the routing path and the status code of the response...
so if we have  a controller:

[code]

I'd like to be able to log `api/v1/foo/{id}` resulted in a `500`, or something along those lines. I can get close to this with RouteData, but that isn't available in middlewa

[2018-07-03 20:02] ammar-haider commented on #7982
I added SetCompatibilityVersion(CompatibilityVersion.Version_2_1) in startup but still facing the same issue.
the only diference here is i am using my own basecontroller that in turn inherits ControllerBase.
Tried decorating the child alone and both base and child controllers with ApiController attribute but still the same error.

[2018-07-04 03:54] mqudsi opened #8009 "@page (DefaultInlineConstraintResolver?) needlessly attempts evaluation of static prefix as possible parameter"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a razor page `Pages/Foo.cshtml` in an ASP.NET Core 2.1.1 project, with the following `@page` directive:

[code]

With the following corresponding handler:

[code]

Then make a request to `/Foo`

#### Description of the problem:
A `System.FormatException` with the t

[2018-07-04 04:31] mqudsi opened #8010 "`Page` is a reserved word that breaks routing if used as the name of a handler parameter or BindingProperty"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a razor page `pages/Foo.cshtml` with a handler accepting a parameter `page`:

[code]

And make a request to `/Foo?page=2` then break and observe the value of `page` when the request is made.

#### Description of the problem:

If the variable has any name other than

[2018-07-04 06:40] igrm commented on #7546
Hello, I need help regarding Microsoft.AspNetCore.Mvc.Internal.ApiBehaviorApplicationModelProvider.InferParameterBindingSources(ActionModel actionModel).

Currently, I have this situation:

![image](https://user-images.githubusercontent.com/24625265/42260710-256fb4b6-7f6e-11e8-803e-37ab6472963e.png)

What am I doing wrong?

[2018-07-04 06:43] Tornhoof commented on #7546
Did you annotate your controller with the ``[ApiController]`` Attribute?

[2018-07-04 06:47] igrm commented on #7546
Yes, please take a look:
![image](https://user-images.githubusercontent.com/24625265/42260993-3e02c7e2-7f6f-11e8-983a-4dd24afcc7ba.png)

[2018-07-04 06:53] Tornhoof commented on #7546
Your method has multiple complex types (atleast from the type names) as parameters, as the error message tells you, you can only have on in the body.
You need to decide which one and pass everything else in as [FromQuery] or remove them.
If it is a new API and not an existing one, I highly recommend rethinking the behaviour of passing multiple complex into it.

[2018-07-04 10:44] ans-ashkan opened #8011 "Random User.IsInRole result when UserRole changes"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Clone and Run this [project](https://github.com/ans-ashkan/AspNetCoreUserIsInRoleTest)
do the following in order:
[code]

#### Description of the problem:
I'm using asp.net core 2.1 with some default identity settings and every time a role is changed the user should re-lo

[2018-07-04 10:59] poke commented on #8011
As I’ve found out, `UserManager.AddToRoleAsync` does not actually update the user’s security stamp, so the security stamp will not actually be invalidated. So this mechanism does not actually work for refreshing the login for the user on the basis of changed roles. The observed effect is still very interesting and I don’t really understand yet what is going on.

I’ve already been investigating thi

[2018-07-04 11:31] poke commented on #8011
/cc @HaoK (since this was basically your work in https://github.com/aspnet/Identity/pull/1351)

(and yes, Mvc is probably the wrong repo for this :/)

[2018-07-04 11:31] PinpointTownes commented on #8011
FYI, the fact the "cookies refresh" stuff doesn't work properly in 2.1 is due to a known bug: https://github.com/aspnet/Security/issues/1788

[2018-07-04 11:40] khellang commented on #8011
Looks like they're going with Option 1; https://github.com/aspnet/Security/pull/1795 :smile

[2018-07-04 11:43] poke commented on #8011
\*sigh\* Guess I am too late to the party :cry:

Guess we can close this then @ans-ashkan. I have also answered your SO question with a better approach.

[2018-07-04 12:41] ans-ashkan commented on #8011
Thanks everyone, It's nice to have such awesome community (which also is super fast).

[2018-07-04 12:41] #8011 closed

[2018-07-04 13:34] Msender commented on #8002
OK, Thanks

[2018-07-04 13:39] phatcher commented on #7982
@ammar-haider Quick test would be to put a simple controller that directly inherits from ControllerBase to see if that works in your project

[2018-07-04 16:47] ammar-haider commented on #7982
@phatcher Thanks for the reply. I did a quick test indeed and found the issue. In a controller without [ApiController] attribute, in a [HttpGet] operation if a complex object is passed i did not have to specify [FromQuery]. it automatically did so but with [ApiController] attribute i must explicitly specify [FromQuery] before the complex object parameter.

so this worked earlier:
`public class Tes

[2018-07-05 06:38] strohhut opened #8012 "Model validation accepts undefined enum values."
#### Is this a Bug or Feature request?:
Possibly a bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

[code]

[code]

#### Description of the problem:
2.1 added checking for Enum.IsDefined during model binding. But when validating manually it is not checked.

#### Version of `Microsoft.AspNetCore.Mvc`
2.1.1

Tags: default value, enums

[2018-07-05 11:51] AlexejTimonin commented on #8001
Add the following to your `ConfigureServices` method in `Startup.cs`

            services
                .AddMvc()
                .AddRazorPagesOptions(options =>
                {
                    options.Conventions.AddPageRoute(pageName: "/Identity/Account/Login", route: "");
                })
                .SetCompatibilityVersion(CompatibilityVersion.Version_2_1);

[2018-07-05 12:20] cristian1975 opened #8013 "IFormFile Bug"
If you upload a excel file to a web api endpoint, IFormFile objects from Request.Form.Files collection has bigger size than the original excel file and if you try to open the uploaded file from the upload folder is in incorrect format. The method to upload a file is taken from .net core 2.1 documentation site:
[code]
where fromFile is IFormFile type.
This bug is happen from .net core version 2.0.6

[2018-07-05 14:46] traceyjas commented on #8001
Thanks. This did not work however

[2018-07-05 15:01] HaoK commented on #8011
I'm glad you came to the same conclusion I did for the fix @poke :)  But yeah this was a regression

[2018-07-05 16:46] #8002 closed

[2018-07-05 16:48] pranavkm commented on #8012
cc @kichalla

[2018-07-05 16:50] pranavkm commented on #8010
Dup of https://github.com/aspnet/Mvc/issues/7876. See https://github.com/aspnet/Mvc/issues/7876#issuecomment-396376296 for an explanation for why the name was chosen.

[2018-07-05 16:50] #8010 closed

[2018-07-05 16:57] pranavkm commented on #8009
This - https://github.com/pranavkm/repro-8009/blob/master/Pages/Foo.cshtml - seems to work correctly for me. Do you have a app that reproduces the issue?

[2018-07-05 17:09] pranavkm commented on #7982
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-07-05 17:09] pranavkm commented on #7546
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-07-05 18:02] pranavkm opened #8014 "ApiConvention: EmptyResult does not work correctly"

[2018-07-05 18:04] pranavkm opened #8015 "Add some common aliases in DefaultApiConventions"
* `Get` -> `Find`
* `Put` -> `Edit`, `Update`
* `Post` -> `Create`

[2018-07-05 18:11] pranavkm commented on #6922
Up date: By default, we'll disable the diagnostic that tells you an action does not have documented status codes - the signal to noise ratio for that diagnostic is large and it feels needlessly intrusive. Users should be able to turn the diagnostic back on using tooling.

With respect to the convention side of things here, we will consider a `ProducesDefaultResponseAttribute` which will produce a

[2018-07-05 18:38] Tratcher commented on #7997
This issue was moved to aspnet/Hosting#1481

[2018-07-05 18:38] #7997 closed

[2018-07-05 20:58] AlexejTimonin commented on #8001
Alright, if you're talking about the login page that ships with MVC template, then the configuration should look like this:

ConfigureServices method:

            services
                .AddMvc()
                .AddRazorPagesOptions(options =>
                {
                    options.Conventions.AddAreaPageRoute(
                        areaName: "Identity",
                        pageNa

[2018-07-05 21:22] traceyjas commented on #8001
Thank you. It worked. ;)

[2018-07-05 21:22] #8001 closed

[2018-07-05 21:23] pranavkm commented on #6787
Closing this in favor of https://github.com/aspnet/Mvc/issues/7947

[2018-07-05 21:23] #6787 closed

[2018-07-06 06:03] TimRowe opened #8020 "Can it possible to use StateServer implement distributed cache in asp.net core like asp.net."
Question as the title.
Because I want to set multi processes and shared the session, but I don't want to use Redis.
In ASP.NET4, it can set
<sessionState mode="StateServer" stateConnectionString="tcpip=loopback:42424" timeout="20" />
This feature can use in ASP.NET Core ?

[2018-07-06 08:55] kichalla commented on #7959
Places that require changes:
https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/Internal/ActionSelector.cs#L434
https://github.com/aspnet/Routing/blob/master/src/Microsoft.AspNetCore.Routing/RouteValueEqualityComparer.cs#L45

[2018-07-06 13:51] Tealons opened #8021 "Integration testing SignOutAsync problem?"
I have enabled integration testing according to the following docs: [https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1)

Now I want to simulate logging out of the application. The test looks like this:

[code]

And the logout method like this:

[code]

In the application s

[2018-07-06 16:04] mkArtakMSFT commented on #8021
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem you're facing?

[2018-07-06 16:29] Praveen-Rai opened #8022 "RedirectToAction(String, Object) does not work"
`return RedirectToAction("Details", (object)"TestVal1");`

The above statement calls the 'Details' Action in the current controller with parameter "Details" instead of "TestVal1".

Below is signature of my Details Action
[code]

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`: Asp.Net Core MVC version 2.1

[2018-07-06 16:32] mkArtakMSFT commented on #8013
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2018-07-06 16:37] mkArtakMSFT commented on #8012
@kichalla, can you please look into this? Thanks!

[2018-07-06 16:38] #8022 closed

[2018-07-06 17:11] Tratcher commented on #8020
No, session depends on IDistributedCache for storage. We have providers for Redis and SQL, or you can provide your own implementation.
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.1

[2018-07-06 17:56] codenesium opened #8023 "[Question] How to get HTTP response code from ActionResult<T>"
In my unit tests with IActionResult I could check the type and cast it to StatusCodeResult to check that I'm getting the validation error I want. With ActionResult<T> I don't see how to get the status code. This is what I had before.
[code]

[2018-07-06 17:59] pranavkm commented on #8023
You could look at the `ActionResult<T>.Result` property.

[2018-07-06 18:02] codenesium commented on #8023
Thanks. I was way overthinking that.

[code]

[2018-07-06 18:02] #8023 closed

[2018-07-06 20:43] kanadaj opened #8025 "ExceptionHandlerMiddleware log message too generic"
Using ASP.NET Core 2.1.1, the error message logged by the ExceptionHandlerMiddleware is far too generic.

It really feels like the default handler should either use `Exception.Message` or the type of the `Exception` as part of the logged message for the sake of being able to identify at least the exception type from the log message.

![image](https://user-images.githubusercontent.com/3247357/42399

[2018-07-06 20:47] scalablecory opened #8026 "Enable asynchronous validation"
#### Is this a Bug or Feature request?:
Feature request

#### Description of the problem:

From data annotations `ValidationAttribute` down to MVC's `IModelValidator`, nothing is asynchronous. I'd like to be able to define a validator simply with async:

[code]

[2018-07-06 20:48] guylando opened #8027 "Views publishing compilation fails after upgrading to 2.1.1 because looks for views in wrong place (in obj folder)"
Executing:
`dotnet publish -f net461 -c Release -r win7-x64 -o bin\Release\PublishOutput`
worked fine before upgrading to dotnet 2.1.1.

Now it throws exception:
C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.razor.design\2.1.1\build\netstandard2.0\Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(121,5): error : rzc generate exited with code 1. [C:\Users\user\Desktop\

[2018-07-06 20:51] scalablecory commented on #8026
If there is interest, and with some direction (I have not coded for MVC yet), I would be willing to contribute the changes necessary.

[2018-07-06 21:00] mkArtakMSFT commented on #8008
Thanks for contacting us, @RoarkeRandall.
This is actually something the Dispatcher work we do in aspnet/Routing repo will solve.
Here is an issue we have tracking the high level work: https://github.com/aspnet/Routing/issues/523
Closing this as a dupe.

[2018-07-06 21:00] #8008 closed

[2018-07-06 21:00] mkArtakMSFT commented on #8008
/cc @JamesNK, @kichalla

[2018-07-06 21:28] mkArtakMSFT commented on #7992
Thanks for contacting us, @benjcallaghan.
@dougbu, can you please look into this? Thanks!

[2018-07-06 21:31] pranavkm commented on #8027
Do you have a repro app for this? I wasn't able to reproduce this using a project from the template. That said, the path that it's trying to write to is for the code-generated file and not the location of the view on disk.

[2018-07-06 21:32] pranavkm commented on #8025
cc @Tratcher

[2018-07-06 21:35] Tratcher commented on #8025
This issue was moved to aspnet/Home#3303

[2018-07-06 21:35] #8025 closed

[2018-07-06 21:42] pranavkm commented on #8026
Dup of https://github.com/aspnet/Mvc/issues/7961. That said, `ValidationAttribute` is part of CoreFx - https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/ValidationAttribute.cs. If the intent is to add a non-MVC specific attribute, you'd have to start there.

[2018-07-06 21:42] #8026 closed

[2018-07-06 21:49] guylando commented on #8027
Started creating an app to reproduce and didn't manage to reproduce and then I ran again the same publish script without changing anything and it worked. I guess its some concurrency bug or some cache problem (thus also hard to reproduce other than the exception logs I copied) but my problem was solved so I close this.
Thanks

[2018-07-06 21:49] #8027 closed

[2018-07-06 22:16] mkArtakMSFT commented on #7988
Thanks for contacting us, @alireza-salemian.
@dougbu thoughts?

[2018-07-06 22:30] dougbu commented on #7988
@mkArtakMSFT `DefaultModelMetadata.Attributes` should have been `internal` because the attribute collection is not intended for use after instances are created. We shouldn't make that collection `public`.

@alireza-salemian if `SelectOptionsValueMapAttribute` is meaningful in your application, handle it in a registered `IMetadataDetailsProvider` implementation and add the information you need to `

[2018-07-06 22:37] pranavkm commented on #6643
Moving this out - I don't think we're going to have time to make this work E2E for preview1.

[2018-07-06 22:50] poke commented on #7876
Hmm, the tag helper / html helper not being able to generate the query arguments might be a bug – or at least something we could fix: If the tag helper contains both `asp-page` and `asp-route-page`, make the latter append a query argument (same with `asp-action` and `asp-route-action` and those other ones).

And I don’t know, is changing the internal keys of these items something we could do as a

[2018-07-06 23:04] dougbu commented on #7968
Stealing this one since we're going with an expansion of #8019

[2018-07-06 23:06] pranavkm commented on #7999
I wasn't able to reproduce the error you're seeing when deployed to a network share. The documentation for the setting - https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/loadfromremotesources-element?view=netframework-4.7.2#notes - says that it shouldn't be required in .NET 4.5 or newer.

* Since you are able to reproduce the error, is there an alternate `Load*`

[2018-07-06 23:30] pranavkm commented on #7980
In terms of identifying if you're running in the context of an API Controller, we're going to rely on the ongoing dispatcher work. https://github.com/aspnet/Mvc/issues/7756#issuecomment-388916510 has some details on what this might look like. Closing this since we'd do the work for identifying this as part of https://github.com/aspnet/Mvc/issues/7756

[2018-07-06 23:30] #7980 closed

[2018-07-06 23:45] #6828 closed

[2018-07-06 23:45] pranavkm commented on #6828
Addressed the new property in NSwag and Swashbuckle.

[2018-07-06 23:47] dougbu commented on #7992
@benjcallaghan checking `IsValid` after exceeding `MaxAllowedErrors`, I can't duplicate this issue. I suspect there's some detail of your scenario that leads to the behaviour you described.

In order for us to investigate this issue further, could you please provide a minimal repro project that illustrates the problem, preferably hosted in a GitHub repo?

[2018-07-07 04:28] scalablecory commented on #7791
I am also wanting this.

[2018-07-07 05:04] #6426 closed

[2018-07-07 06:03] mqudsi commented on #7876
I honestly don't care if the keywords are reserved or not. I am however extremely bothered that I wasted an hour+ of my life trying to figure it out, as currently they are not "reserved" names but rather "go ahead and use them but the output will make no sense" names.

To summarize my experience: it was one of my first times binding to a GET parameter in a razor page, and it didn't work the way I

[2018-07-07 14:45] ColorTwist opened #8029 "Video streaming from URL"
Version: ASP.NET Core API 2.1.X

I am streaming a video from a url to target:

[code]
It works, However,
This is the big question,
I want to signal the streaming that the user interrupted the streaming allowing me immediately close the API GET Video streaming And not wait for the FileStreamResult or Asp.net core to handle that.

The catch here won't trigger.

[2018-07-07 17:16] Kahbazi opened #8030 "Add FromItems Attribute for Model Binding"
Right now there are `[FromHeader]`, `[FromQuery]`, `[FromRoute]`, `[FromForm]` , `[FromServices]` and `[FromBody]` for model binding for mvc actions.

Can you also add a `[FromItems(string key)]` which uses `HttpContext.Items` to bind model?

It can be useful to set values on middlewares before MVC and access it more easily on actions.

[2018-07-07 19:04] zokiad opened #8031 "ActionLink regenerate wrong text when use accent"
Hi,

I use .net core 2.1.

When you write:

 @Html.ActionLink("éàëèêî", "Action")

Generated html is:
`<a href="/action">������</a>`

### **Issue:**
Wrong character conversion to html of the parameter linkText

[2018-07-07 19:07] Tealons commented on #8021
I just created a new project and uploaded the source code: [https://github.com/Tealons/ExampleLogoutTest](https://github.com/Tealons/ExampleLogoutTest)

Steps to reproduce the problem:

1. Build the web application and register an account.
2. Change the username and password in LoginTest.cs to the one just created
3. Run the tests. Test 3 (LogoutFromApplication) should succeed, but it fails....

P

[2018-07-08 13:53] alireza-salemian commented on #7988
@dougbu We use knockout in our projects. generate client js model from original c# model using Reflection and Custom Attributes.  every Validation attribute exposed to client model and many other attribute. if use IMetadataDetailsProvider then duplicate memory required for cache metadata and additional processing is done.

[2018-07-08 13:59] freshe opened #8032 "Minus vs Hyphen/Dash. Different behaviour on Mac vs Windows in MVC View."
When doing ToString() on a C# Double in an MVC View i get different behaviour on Mac vs Windows.

On Windows i get the expected result on negative numbers where ToString() yields a "proper" minus sign that JavaScript can handle.

On Mac i instead get a dash/hyphen (long minus) that breaks the JavaScript code.

Win  -
Mac −

[2018-07-08 21:06] khellang commented on #8032
This sounds like it belongs in dotnet/corefx?

[2018-07-08 21:08] khellang commented on #8032
Unless this only happens in MVC views?

[2018-07-08 21:18] freshe commented on #8032
No, the issue happens in the view. Not a runtime issue.

[2018-07-09 02:14] Sheko007 opened #8033 "How To Use Blazor With MVC"
Feature request?:

#### Description of the problem:

Can't Use Blazor With MVC

 Microsoft.AspNetCore.App

[2018-07-09 05:16] TimRowe commented on #8020
@Tratcher  Thanks, I have knew.

[2018-07-09 06:14] khellang commented on #8032
What does "not a runtime issue" mean? Are you getting errors at compile-time? I think it would be helpful to provide a minimal reproducible example to better understand what you're seeing.

[2018-07-09 10:43] yogster opened #8034 "[FromQuery] does not bind arrays unless Name specified"
This is either a bug or I am missing something about how binding attributes work.

In the following controller action:

    [Route("api/[controller]")]
    [ApiController]
    public class ValuesController : ControllerBase
    {
        [HttpGet]
        public ActionResult<int> Get([FromQuery]int[] numbers)
        {
            return numbers.Sum();
        }
    }

When requesting the URL: `htt

[2018-07-09 12:03] coxp opened #8035 "Custom error messages with validation message tag helper"
#### Is this a Bug or Feature request?:

Feature request or documentation request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Add a simple model and a view that uses the validation message tag helper.

[code]
`<span asp-validation-for="Name">Custom error message</span>`

Validation message is displayed as "The Name field is required" rather than "Custom err

[2018-07-09 13:39] masterjs commented on #8031
@zokiad I often had this in one of my ASPNET Core app when somehow many of my .CSHTML were given the encoding  "Western European (Windows) - Codepage 1252". When I changed it to "Unicode (UTF-8 with signature) - Codepage 65001" the accents started to show as expected.

I do not know if there's a better fix, but it got me through.

Hope this help!

[2018-07-09 15:34] artiomchi commented on #7999
I'm sorry, I'm not sure what you expected me to test here...

Once I compile and publish the above app, it creates `SimpleAspNetCoreApp.exe` and `SimpleAspNetCoreApp.Views.dll` (amongst 230 other files) in the publish directory. If I decompile the exe, it has this attribute on it:
[code]

You can see that this is being used here to load the assembly: [RelatedAssemblyAttribute.cs](https://github.co

[2018-07-09 16:30] pranavkm opened #8037 "Partial Tag Helper 'for' attribute not forwarding model to controller correctly"
## Original issue https://github.com/aspnet/Home/issues/3306 filed by @Whathecode

While updating to .NET Core 2.1, I replaced my `@Html.Partial` loads to [the new partial tag helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-2.1) as recommended by the compiler warnings.

In two cases, I could rely on the `for` syntax, rather tha

[2018-07-09 16:31] pranavkm commented on #8013
Dup of https://github.com/aspnet/Home/issues/3304

[2018-07-09 16:31] #8013 closed

[2018-07-09 16:34] mkArtakMSFT commented on #8035
Thanks for contacting us, @coxp.
@dougbu, looks like this is a pure documentation related. Though I'm not sure we don't have this documented properly. If not, let's use this issue to fix/add documentation.

[2018-07-09 16:35] mkArtakMSFT commented on #8034
Thanks for contacting us, @yogster.
@dougbu, can you please look into this? Thanks!

[2018-07-09 16:35] pranavkm commented on #8029
cc @Tratcher

[2018-07-09 16:36] mkArtakMSFT commented on #8033
@Sheko007, what are the issues you're facing? What version of ASP.NET Core are you trying to use it with?
/cc @danroth27, @rynowak

[2018-07-09 16:39] mkArtakMSFT commented on #8032
Hi @freshe.
As @khellang has mentioned above, we'll need a small repro project to be able to assist you.

[2018-07-09 16:43] mkArtakMSFT commented on #8033
This issue was moved to aspnet/Blazor#1106

[2018-07-09 16:43] #8033 closed

[2018-07-09 16:45] dougbu commented on #8034
@yogster thank you for your feedback.

We're closing this issue as we think this is fixed in our working code base. In particular, this report matches #7712. Would you be able to try our nightly builds and see if the issue is resolved for you?

Nightly builds are available from https://dotnet.myget.org/gallery/aspnetcore-dev.

[2018-07-09 16:45] #8034 closed

[2018-07-09 16:45] mkArtakMSFT commented on #8031
Hey @zokiad.
Please give @masterjs's suggestion a try. That will most probably do it.

[2018-07-09 16:48] Tratcher commented on #8029
A) Be very careful about creating a new HttpClient instance per request. See port exhaustion.
B) Why isn't `stream` returned by `_client` used in your code? Should `_stream` have been `stream`?
C) HttpContext.RequestAborted is the CancellationToken you need to listen to for client disconnects. @pranavkm why isn't FileStreamResult honoring that?

[2018-07-09 16:51] mkArtakMSFT commented on #8030
Hi @Kahbazi. The framework has all the extensibility points for you to create your custom binder attributes. This is not something we plan to do in the framework in the near future.
Look at how the existing attributes are handled in the code.

[2018-07-09 16:51] #8030 closed

[2018-07-09 17:01] ColorTwist commented on #8029
Hello,
A) Correct, Fixed in question
B) Correct, Fixed in question
C) Good question :)

[2018-07-09 17:04] mkArtakMSFT commented on #8021
Thanks @Tealons.
@javiercn, can you please look into this? Thanks!

[2018-07-09 17:23] pranavkm commented on #8029
Haven't debugged through the code, but it looks like it should: https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/FileResultExecutorBase.cs#L368-L375

[2018-07-09 17:30] reyou opened #8038 ""dotnet watch run" does not take changes in partial views"
I initially thought it is tooling issue, and created issue at https://github.com/aspnet/DotNetTools/issues/459 but I got redirected here.

#### Is this a Bug or Feature request?:
BUG

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
To reproduce:
- Create partial view `.\Views\Partials\TopNavigationBar.cshtml`
- Add some HTML elements
-  Render view in `_Layout.cs

[2018-07-09 17:34] pranavkm commented on #7999
My suggestion was to try doing this in your `Program.Main` before MVC gets to it. Regardless, we had a talk about this issue offline and our suggestions are

a) You could disable build time \ publish time compilation of Razor views. This should get you back to the pre 2.1 behavior. https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1#properties has documentation on the