[2016-03-04 23:47] Maetiz commented on #4215
You need to create your own helper for getting the DisplayName attribute of an enum value.

Take a look at this:
https://github.com/Maetiz/mvc-extensions/blob/master/HtmlExtensions.cs#L11-L26

[2016-03-05 00:46] #4214 closed

[2016-03-05 03:14] Eilon commented on #4153
:+1:

[2016-03-05 14:15] bartekkois commented on #4215
Ok, I dealt with that by using suggested extension method. Thanks. However still  I think that this should be simplified and embbeded into razor sytax as displaying Enum Display Name is quite common.

[code]

[2016-03-06 01:49] ctolkien commented on #4215
I would suggest that's not the right way to go about it.

Add your own meta data provider to the `ModelDatadataDetailsProviders`

[code]

Here is an example of a `MetaDataProvider` to uses the (excellent) [Humanizer ](https://github.com/Humanizr/Humanizer) package.

[code]

Basically, we're using Humanizer to set the `DisplayName` except in the cases where we have a Display/DisplayName attribute a

[2016-03-06 20:27] skyflyer commented on #3237
@Eilon,

would you care to comment on the state of this functionality? You mentioned you'd like to keep this open to track the scenario. Is there something we can expect for RC2/RTM? I've also talked about this scenario in [Nuget issue 2262](https://github.com/NuGet/Home/issues/2262).

[2016-03-06 23:13] johnvpetersen opened #4236 "Debugging on MacOS - When will we get it?"
Realistically - how far are we from being able to debug server side code on the Mac? I ask because as it stands right now, that is the one major thing missing from the dev experience.

[2016-03-06 23:14] Eilon commented on #3237
@rynowak has been working on some issues relating this scenario. @rynowak ?

[2016-03-06 23:24] Eilon commented on #4209
@pranavkm can you help out?

[2016-03-06 23:25] Eilon commented on #4213
@ajaybhargavb can you take a look?

[2016-03-06 23:27] pranavkm commented on #4209
If you're referencing it from a `net4x` target (e.g. `net451`, `net46` etc) - you might have to add a frameworkAssembly reference to `System.Runtime`. See https://github.com/aspnet/Options/commit/689c754af91598b00752655e898f476ecc857d85#diff-4d79399e9d56c91059fe3d8f4a4416f9R21 for an example.

[2016-03-06 23:30] #4205 closed

[2016-03-06 23:31] Eilon commented on #4229
If this really seems like an Edge-specific issue I recommend using Edge's menu option to launch the Windows Feedback app and report the issue there.

[2016-03-06 23:31] #4229 closed

[2016-03-06 23:36] Eilon commented on #4190
In my apps when I've used PRG what I end up doing is that for *failed* requests it's still just a POST, but upon ultimate success (all fields correctly validated) I then do a redirect to a GET. The PRG pattern was intended to prevent re-submitting a form, which when the form data is invalid, is of course not an issue. And once the form data is valid, ModelState generally has nothing interesting in

[2016-03-06 23:45] Eilon commented on #4236
Any Mac debugging experience would presumably be done primarily through Visual Studio Code, so I recommend asking on the VS Code repo: https://github.com/Microsoft/vscode

Thanks!

[2016-03-06 23:45] #4236 closed

[2016-03-06 23:48] johnvpetersen commented on #4236
Interesting answer. Very well, I'll take it up with them.

[2016-03-07 00:09] Eilon commented on #4168
@blowdart / @lodejard any thoughts on this?

[2016-03-07 00:10] Eilon commented on #4181
What's the actual issue here? What can go wrong, and when?

[2016-03-07 00:13] Eilon commented on #4202
I'm fine doing this as long as it's a reliable thing to throw on. That is, if there are any legitimate cases where I have Razor views yet don't want `preserveCompilationContext` then we should reconsider this. But if it's truly needed 100% of the time then let's do it.

[2016-03-07 00:13] Eilon commented on #4197
@Tratcher any idea on this?

[2016-03-07 00:30] blowdart commented on #4168
Turn logs off or don't put it in the url. This is really no different to Apache or iis logging, both of those include the query string by default.

[2016-03-07 00:31] Tratcher commented on #4197
Invalid cookies? https://github.com/aspnet/HttpAbstractions/issues/515

[2016-03-07 00:31] Eilon commented on #4143
Not planned for this release.

[2016-03-07 00:34] Eilon commented on #4160
Using view models and DTOs is definitely recommended. It's really not a goal for MVC to allow general serialization of EF data models. The reality is that there's effectively a bug in the app, and the bug needs to be fixed, not ignored.

Completely ignoring reference loops is a Very Bad Idea<sup>TM</sup> because it just means the serialized data is *missing stuff* and you can't predict *where*. Th

[2016-03-07 00:34] #4160 closed

[2016-03-07 02:18] dougbu commented on #4181
If a user instantiates any of these binders and adds it to `MvcOptions.ModelBinders`, that binder will always attempt to run to completion and will hit issues. Depending on the property type and particular binder, `Debug` assertions, NREs, and other errors are very likely. Bottom line these classes implement `IModelBinder` but can't be used like any other implementation of that `interface`.

[2016-03-07 02:19] dougbu commented on #4130
Partially addressed in d3c2463. `CollectionModelBinder` is now a bit more efficient. But it still creates an intermediate collection when property value could be used.

[2016-03-07 08:34] ivaylokenov commented on #4209
@pranavkm Thank you, superhero!

Actually, when I updated everything to latest version, it **automagically** worked with this `project.json`:

[code]

Closing the issue, as my question was answered. Thank you again! :+1:

[2016-03-07 08:34] #4209 closed

[2016-03-07 10:28] gdoron commented on #4160
@Eilon I agree, but the scaffolding and templates should be adjusted to use DTOs (_AutoMapper_ is probably a good idea).
And if possible, changing the error message you get if you if you pass a model with a _reference loop_ from _HTTP Error 502.3 - Bad Gateway_ to something a little bit more reasonable, otherwise once ASP.NET Core will go public, it will be the most asked question on Stack Overflo

[2016-03-07 10:41] IsaacSee commented on #4213
Having the same issue here with rc2's lasts bits on aspnetvnext myget feed.

[2016-03-07 11:33] bdelaney commented on #4229
Done! Entered problem in Windows Feedback app.

[2016-03-07 12:51] blowdart commented on #4233
What will ChallengeResult end up with if there's no auth middleware?

[2016-03-07 14:15] sunsided commented on #4213
Same on 1.0.0-rc2-16551 running on mono 4.3.3.97 in docker. Works on Windows though.

[2016-03-07 15:52] rynowak commented on #4168
We could also log the parameters or not depending on what level we're logging at, or have an option for this like EF.

[2016-03-07 16:02] rynowak commented on #3237
@skyflyer - this is already possible in RC1 using the embedded files provider. https://github.com/aspnet/Mvc/tree/6.0.0-rc1/test/WebSites/RazorEmbeddedViewsWebSite

RC2 makes it a little easier. https://github.com/aspnet/Mvc/tree/dev/samples/EmbeddedViewSample.Web

We have some work in the pipe to make it more first class and potentially even automatic https://github.com/aspnet/Mvc/issues/4089 - a

[2016-03-07 16:35] rynowak opened #4237 "Include Assembly-Qualified Type Name in ActionDescriptor.DisplayName"
`DisplayName` is used when we have startup/configuration-related errors or a runtime action selection ambiguity. A frequent cause of these kinds of ambiguities is after an assembly rename - you can have old build outputs sitting around. You can't really diagnose that from the message with the fully-qualified name, you have to go assembly-qualified.

[2016-03-07 16:42] rynowak commented on #4175
Some baselines now that we've completed the scenario. All measurements are x64 CoreCLR.

**Allocations - 3001 requests**
![image](https://cloud.githubusercontent.com/assets/1430011/13576018/669667a8-e440-11e5-8d3e-651f694dcf21.png)

[2016-03-07 16:46] pranavkm commented on #3973
We attempted @rynowak's design as part of https://github.com/aspnet/Mvc/issues/4073. However there are limitations in the DI system that disallowed defining \ consuming some variants of `IViewContextAwareFactory` in our code. We couldn't come up with anything better at this stage so we stuck with the pattern we have. The type `Microsoft.AspNetCore.Mvc.Rendering.Internal.ICanHasViewContext` was ren

[2016-03-07 17:10] sunsided commented on #4213
So, I tried different things:
- connecting to Kestrel directly (via the docker container's exposed port) via HTTP (port `52000`)
- connecting through an SSL terminating Apache (port `443` -> `52000`)
- connecting through an SSL terminating nginx (port `4430` -> `52000`)

The first two options would result in the exception with no further output. However connecting through nginx, while still result

[2016-03-07 17:38] Tratcher commented on #4233
An error saying nobody accepted the challenge. `[Authorize]` without auth providers is nonsensical.

[2016-03-07 17:40] Eilon commented on #4160
@gdoron issues with the templates can be logged here: https://github.com/aspnet/Templates/

However, one thing that's been a constant challenge for us when making the templates is balancing out how easy it is to understand vs. how "real world" something is. Using view models, binding models, and serialization models is definitely more powerful, but it's a large maintenance cost for an app, and mor

[2016-03-07 17:40] Eilon commented on #4181
Ah ok that sounds like some good cleanup to do then.

[2016-03-07 17:43] ryanbrandenburg opened #4238 "Re-instate tests on Mono"
In #4234 we disabled some tests on mono due to dotnet/cli#1613. Once that is resolved we should re-instate these tests.

[2016-03-07 17:51] ryanbrandenburg commented on #4153
Tests were disabled in #4234 and tracked in #4238, will close this once they pass on CI.

[2016-03-07 18:00] rynowak commented on #4233
Authorize requires an auth policy now, so presumably a configuration without providers would have failed earlier right?

[2016-03-07 18:03] PinpointTownes commented on #4233
IMHO, this design has always been absolutely evil and semantically "nonsensical". The only place where we know exactly why authorization failed (not authenticated?, lack of permissions?) is in the authorization service. Taking such a decision at the authentication middleware level (by trying to determine whether `AuthenticateAsync` returned a principal or not) is just wrong.

A while ago, I had de

[2016-03-07 18:09] danroth27 commented on #4230
@gzak Are you sure you are specifying the env var for the correct launch profile? I think you would need to set it in the profile for the test command. Could you show us your project file where you specify the env var?

[2016-03-07 18:13] rynowak commented on #4213
@sokket @stephentoub - https://github.com/dotnet/corefx/issues/5949

This change breaks some fairly innocent looking code. Look at this unit test: https://github.com/dotnet/corefx/commit/a0d122b80dfb6975c2f0dc4325460d8890562a3b#diff-c4e5a90442584ce8373354cb1fde4e68R382 It doesn't pass the smell test once the `15` is a computed value.

[2016-03-07 18:14] danroth27 commented on #4203
IOverrideFilter is not currently available in Core. Do you have a specific scenario where you need it?

[2016-03-07 18:16] rynowak commented on #4213
This is not an MVC issue. Some changes to `System.Buffer` broke JSON.Net. Sit tight, and we'll figure out the right fix for this. https://github.com/dotnet/corefx/issues/5949

[2016-03-07 18:17] danroth27 commented on #4197
@tdesmas Can you confirm that your cookies are well formed? The RC1 bits are pretty strict in how they parse cookies.

[2016-03-07 18:18] #4194 closed

[2016-03-07 18:22] rynowak commented on #4213
@JamesNK @sokket - it looks like there's a possibility for JSON.Net to allocate the write buffer using `new` here: https://github.com/JamesNK/Newtonsoft.Json/blob/ce2a08dba228341742d96e8c8edfede6748d5bdc/Src/Newtonsoft.Json/Utilities/JavaScriptUtils.cs#L289

[2016-03-07 18:24] #4189 closed

[2016-03-07 18:28] danroth27 commented on #4186
@wesamco Why do you want to delete web.config? You need it to run behind IIS.

@BillHiebert @barrytang Does VS recreate a web.config file if it doesn't find one and you try to run on IIS Express?

[2016-03-07 18:34] BillHiebert commented on #4186
Yes. This is needed to enable the httpPlatformHandler.

[2016-03-07 18:40] gzak commented on #4230
Here's the entire body of the `launchSettings.json` file:
[code]

[2016-03-07 18:52] gzak commented on #4230
And here's a screenshot of the corresponding project properties view in VS:

![capture](https://cloud.githubusercontent.com/assets/817765/13579476/a102dc8e-e452-11e5-9dcc-b79251e68051.PNG)

[2016-03-07 19:09] gzak commented on #4211
I swear I saw it work before I closed the ticket, but now this doesn't work. I posted an object with `[BindRequired]` value properties where those properties weren't set in the client (C# client, specifically), and `ModelState.IsValid` returns true in the controller. Something like this:

[code]

I still think it has something to do with the fact that when C# serializes an instance of `A`, because

[2016-03-07 19:13] gzak commented on #4211
The only workaround I can think of is to make all value types nullable with `?`, then just use the `[Required]` attribute. This works 100% of the time, without any ambiguity.

[2016-03-07 19:30] pranavkm opened #4239 "Should we use the Razor file name being compiled in constructing the assembly name being codegened by DefaultRoslynCompilationService?"
Right now we use a randomly generated assembly name. Using the modules window to look up which assembly maps to a specific view is pretty impossible. We could add the view name \ view path to the codegened-assembly to make it a bit easier for diagnostics.

[2016-03-07 19:30] danroth27 commented on #4230
@BillHiebert @barrytang @rynowak Any ideas why the env var in the test launch profile would not get honored when running unit tests?

[2016-03-07 19:31] rynowak commented on #4239
That would be pretty cool - are there real scenarios where you'd need to do this? We already do this for the type name.

[2016-03-07 19:40] pranavkm commented on #4239
I ran into this when adding tests for the compilation service - haven't had a real life use case for it as yet. Just thought it might be nice to have

[2016-03-07 20:26] dougbu opened #4240 "Calls to `ValidationAttribute.FormatErrorMessage()` allocate a lot of memory"
Modifying the Basic Views scenario to include a single `[RegularExpression]` with the .NET `[Email]` regular expression increases allocations by 6% or ~23 MB over the same scenario without that attribute. Most of this relates to generating the error message for use in client-side validation. The English error message in this case is 957 characters long because it includes the full regular expressi

[2016-03-07 20:37] bivokasaju opened #4241 "How to save form data after submitted"
I have a bunch of select tags whose option value I want to save even after the form is submitted. Currently, the value resets to the top value after submission.

I tried the following method but it doesn't work! It selects the last option of the `for ` loop in this code.

[code]

Does anyone have a solution for this? Please provide some sample codes/examples.

[2016-03-07 20:48] tuespetre commented on #4241
This seems more appropriate for http://stackoverflow.com/questions/ask

[2016-03-07 21:20] skyflyer commented on #3237
@rynowak,

thanks for the pointers. I'm aware of embedded file providers solution (I've pasted a link above a blog post outlining the steps) and I will give a look at RC2 solution tomorrow. Somehow, I was under the impression it is a temporary hack (I guess I was wrong). The #4089 looks interesting, albeit a bit over-engineered.

I'm working in an enterprise environment and am seeking a "future-pr

[2016-03-07 21:30] rynowak commented on #3237
@skyflyer - You're not being too broad, this is in line with our thinking.

[2016-03-07 21:49] skyflyer commented on #3237
@rynowak, excellent (and exciting) news! Would you mind commenting my two questions above? (4089 wrt/ RTM and embedded providers being a way forward for the forseeable future)?

[2016-03-07 21:51] rynowak opened #4244 "RazorPage activation is too expensive"
Sampling data, with 100% set to time executing the view (30% of request total)

Update: this was largely due to a temporary regression in GetRequiredService. We need to remeasure.

This is what it looks like now:
![image](https://cloud.githubusercontent.com/assets/1430011/13678898/fff26c00-e6a5-11e5-83b8-2851ced196fd.png)

Activation is about 7.5% of view execution, and of that half is the VDD cre

[2016-03-07 21:54] rynowak commented on #3924
Some more data here, from BasicViews:
![image](https://cloud.githubusercontent.com/assets/1430011/13584573/18705b48-e46c-11e5-8a3c-31e9083bb8fc.png)

Activating TagHelpers is 12% of the View's execution time.

[2016-03-07 22:00] dougbu commented on #4211
Is the action using `[FromBody]`? If yes, you must use Json.NET to control errors it adds. `[BindRequired]` doesn't apply in this new scenario.

[2016-03-07 22:00] #4211 closed

[2016-03-07 22:16] strohhut opened #4245 "Potential clarity problems with IUrlHelper"
This might be nitpicking or totally irrelevant, or I just don't get it but maybe this can provide some helpful input so here we go.

##### IUrlHelper
Why is `IUrlHelper` not called something like `IUriProvider` when it can return not only urls but also absolute paths (=uri). Many people mix the terms uri and url but usually url is a subset of uri and means absolute uris.
Also there is the `UriHelp

[2016-03-07 22:34] sebastienros commented on #4244
Is it including the first hits or is the view _warmed up_?

[2016-03-07 22:45] rynowak commented on #4244
Assume it's always warm unless otherwise specified

[2016-03-07 22:46] MaximBalaganskiy commented on #4203
I have a controller with most of actions available to admins only. Only a couple of them can be called by less privileged ones. Having an override would allow me to mark only a few actions.

Not a critical thing though, just thought I might be missing an existing filter...

[2016-03-07 23:00] sebastienros opened #4246 "CacheKey equatable object in CacheTagHelper"
- Prevent string allocations
- Fix hash collision by checking the serialized key with the actual content for `DistributedCacheTagHelper`

[2016-03-07 23:05] gzak commented on #4211
It does, so that's likely my problem. I don't quite understand the fix, would you mind illustrating?

[2016-03-08 00:34] Eilon commented on #4241
Indeed, this general type of question is more suitable to StackOverflow.

Having said that, I recommend using the `<select>` tag helper or `Html.DropDownList[For]()`, which will automatically preserve the selected value.

[2016-03-08 00:34] #4241 closed

[2016-03-08 02:40] yuwaMSFT opened #4248 "Null object exception at Microsoft.AspNetCore.Mvc.ViewFeatures.Internal.ExpressionMetadataProvider when TagHelpers process form input"
I am consistently getting another null object exception when TagHelpers process form input. It’s just a text box input with asp-for tag to a data field of the viewmodel.

[code]

The problem seems to be here:

[code]

It seems that very likely the Container.Model would be null, and thus causing the accessor to keep throw and catch nullreferenceexception.

[2016-03-08 02:41] yuwaMSFT commented on #4248
@rynowak @sivagms @SajayAntony

[2016-03-08 03:38] dougbu commented on #4248
@yuwaMSFT are you observing first-chance `Exception`s? The current code is intentional and `container == null` is not a reliable special case. E.g. the following would be exactly wrong<sup>:tm:</sup> if the expression were `m => someVariable`.
[code]

That said, `throw`ing and catching `Exception`s for expected cases is not particularly efficient or fun to debug. We've considered and, in previous

[2016-03-08 05:24] Eilon commented on #4230
Seems related: https://github.com/aspnet/Testing/issues/202

[2016-03-08 05:25] dougbu commented on #4125
I'm unable to reproduce a significant slowdown using 3 `[Validation]`s including one `[RegularExpression]` or `[Email]`. These attributes and our infrastructure around them account for less than ~3% of the execution time, measuring both RC1 with full .NET and (better) RC2 with .NET Core. I'm measuring a simple but fairly realistic scenario using dotTrace after the application is somewhat warmed up

[2016-03-08 07:18] barrytang commented on #4230
@vijayrkn?

[2016-03-08 15:29] kspearrin commented on #4125
As you can see from the links to the test pages in my posts above, this is definitely happening after the initial warmup of the application. No matter how many times you access the pages they are still just as slow.

Did you see my latest update above about the `ErrorMessage` of the `StringLengthAttribute`? I feel like that can help with pinpointing the problem a bit more. What are the differences

[2016-03-08 16:42] vijayrkn commented on #4230
Currently the VS Test adapter only looks are the target runtime information from the test profile. VS test adapter does not pass the environment variables from the test profile to the Unit test runner process.

[2016-03-08 18:40] dougbu commented on #4125
No, I have not tested this.

Are you running with exactly the same DNX version and packages on Azure?

[2016-03-08 19:07] kspearrin commented on #4125
@dougbu

So it appears that I actually can reproduce this locally, I just have to ramp up the number of elements to something much higher for it to be noticeable (I guess my workstation is just much more powerful than the azure instance or something).

See the following test:

Controller
=====

    [Route( "~/emailtest5" )]
    public IActionResult EmailTest5()
    {
        return View();
    }

[2016-03-08 19:30] yuwaMSFT commented on #4248
@dougbu  Thanks! Yes it's first chance exception. I see your point that return null directly is not correct in certain cases. But considering the most common usage of simple member access, would it be possible to optimize out the exception throwing for this common case, while leave the other cases in a less efficient way?

[2016-03-08 19:45] kspearrin commented on #4125
So my next guess is that maybe this has something to do with localization which my application uses. My `Startup.cs` has been configured with the following:

        public void ConfigureServices( IServiceCollection services )
        {
            ...

            // Mvc
            services
                .AddMvc()
                .AddViewLocalization( options => options.ResourcesPath = "Resour

[2016-03-08 20:09] ShrenikOne opened #4254 "How to bypass StrongName Verification or workaround!"
We are having issue with Strong Name signing where we have sign our projects with snk key. While one of the Third-Party dll (Kendo.Mvc) for ASP.NET 5, doesn't have signed assemblies which making runtime error. In normal project under <runtime> tag in configuration file we can bypass StrongNameVerification by application (https://msdn.microsoft.com/en-us/library/cc713694(v=vs.110).aspx), How we can

[2016-03-08 20:11] kspearrin commented on #4125
@dougbu

I turned on break for all exceptions and see the following null reference exception getting thrown in `ViewFeatures.dll` for each email input in my view:

http://puu.sh/nzwrE/cbb354c894.png

I'm not really sure how to get any additional information for you out of that library.

[2016-03-08 20:17] dougbu commented on #4125
@kspearrin first-chance `NullReferenceException`s in the `Microsoft.AspNet.Mvc.ViewFeatures` package / assembly are :100:% expected. Talking in #4248 about this today as well.

[2016-03-08 20:20] dougbu commented on #4248
Yes, it's _possible_. But as I said, we have not found a solution which is both correct and more efficient.

E.g. I believe one option prototyped a while back was to rewrite the Linq expression tree to make most nodes `null` conditional (like `?.`). That turned out to grow the tree enough to slow things down in the also-common case where everything is non-`null`. On balance it just didn't work out

[2016-03-08 20:28] kspearrin commented on #4125
So I've deployed my site to Azure with all of the same tests we have been discussing since the beginning of this thread. This time I have removed `services.AddDataAnnotationsLocalization()` from `Startup.cs` and am happy to report that all test cases are now **fast**.

So I guess the next question is, what is the proper use of configuring `AddDataAnnotationsLocalization()`? And also worth noting t

[2016-03-08 22:56] gzak commented on #4211
So why would this not be a bug / design flaw? It doesn't seem right that changing where in the request the object comes from (or changing the JSON library you're using) should allow the object to suddenly start bypassing the `[BindRequired]` attribute.

I suspect I know why it worked just fine earlier, and that's because the framework automatically decided that the object should be pulled from the

[2016-03-08 23:23] dougbu commented on #4211
`[BindRequired]` customizes the MVC model binding system . That's its purpose and it's working as designed.

`[FromBody]` switches the affected property or parameter into the different world of input formatting. Each input formatter (e.g. Json.NET and a small MVC-specific wrapper) can be considered a separate system with its own customization. The model binding system has no knowledge the details

[2016-03-09 00:13] dougbu commented on #4125
We seem to have moved beyond the original reported issue of performance degradation when using `[Email]` or `[RegularExpression]`. Instead you have hit known RC1 performance issues in the Localization subsystem e.g. aspnet/Localization#156. @kspearrin am I correctly understanding?

I've added a `AddDataAnnotationsLocalization()` call in my test application but see only a few `NullReferenceExceptio

[2016-03-09 00:18] kspearrin commented on #4125
Yes, I think we can agree now that this all stems from performance issues with Localization. I think I'll just have to wait for RC2 to see if things get better. Thanks for helping taking the time to help investigate this. I think a few positive things came out of it regardless.

[2016-03-09 00:20] dougbu commented on #4125
:ok: I'll close this discussion then.

[2016-03-09 00:20] #4125 closed

[2016-03-09 00:24] dougbu commented on #4125
Also marking as a dupe of aspnet/Localization#156. (A few other fixes in that repo should also have improved performance.)

[2016-03-09 01:23] Eilon commented on #4254
Everything right now has moved to [.NET CLI](https://github.com/dotnet/cli/), and DNX is going away. If you still see the issue with .NET CLI, please log an issue at https://github.com/dotnet/cli/issues.

[2016-03-09 03:39] JamesNK commented on #4213
Fixed - https://github.com/JamesNK/Newtonsoft.Json/commit/5ddbc508f0b9f19243076821c825a7f5056de4b1

FYI next planned release will be when RC2 and netstandard is available.

[2016-03-09 08:49] anfomin opened #4256 "Attribute route wildcard does not work"
Simple controller:
[code]

I'm running DNX 1.0.0-rc2-16595 and wildcard does not work if mapped via attributes.
- path `/a` => "Path: a"
- path `/a/a` => 404

If I map routes in startup.cs then it works:
[code]

[2016-03-09 09:12] sunsided commented on #4213
Nice, we can use it in Half-Life 3 then.

[2016-03-09 09:50] anfomin commented on #4213
@JamesNK, @rynowak may be you can post a fix before final RC2?

[2016-03-09 10:11] IsaacSee commented on #4213
+1 for a fix before final RC2.
If that's not possible, what would be the recommended workaround ?

[2016-03-09 10:43] davidfowl commented on #4213
Downgrade to an older version of System.Buffers in application code before the exception was introduced. That would work around the issue until there was a new Json.NET available.

[2016-03-09 11:06] bragma opened #4257 "JsonResult returning partial data to HttpClient"
Hi,
I'm trying to understand a problem with a simple controller returning an IEnumerable and getting the result with HttpClient. I get a well formed Json response, but it contains only a part of the collection. If I materialize the collection with a ".ToList", then the entire content is returned.

This is the controller:
[code]

And this is the test code:
[code]

The test fails because it receives

[2016-03-09 12:11] sunsided commented on #4213
@davidfowl That would be `4.0.0-rc2-23728`?

[2016-03-09 12:13] IsaacSee commented on #4213
Thanks @davidfowl. We tried to include the System.Buffers dependency `"System.Buffers": "4.0.0-rc2-23623"` in application projects (we tried multiple olders versions). But during startup it results in the following exception : `System.IO.FileLoadException: The located assembly's manifest definition does not match the assembly reference in Microsoft.Extensions.DependencyInjection.MvcCoreServiceColl

[2016-03-09 13:05] sunsided commented on #4213
@IsaacSee/@davidfowl So, I tried with `System.Buffers` fixed to `4.0.0-rc2-23728` in the main server project and that seems to work.

[2016-03-09 14:49] anfomin commented on #4213
I'm trying to use `System.Buffers 4.0.0-rc2-23728` but dependency resolves to `4.0.0-rc2-23819`...

project.json:
[code]

Result:
![2016-03-09 19 48 38](https://cloud.githubusercontent.com/assets/1905503/13638844/ead6f136-e62f-11e5-9ce0-5d9c24cdd34c.png)

[2016-03-09 14:58] sunsided commented on #4213
@anfomin Just had a look, `4.0.0-rc2-23728` seems to be available on the [aspnetcidev](https://www.myget.org/feed/aspnetcidev/package/nuget/System.Buffers), but not on [aspnetvnext](https://www.myget.org/feed/aspnetvnext/package/nuget/System.Buffers) feed.

[2016-03-09 15:43] rynowak commented on #4213
@davidfowl - would it break things if we do the downgrade in MVC?

[2016-03-09 15:53] PinpointTownes opened #4258 "Consider adding SignInResult/SignOutResult and SignIn/SignOut"
MVC 6 has really cool authentication-specific `ActionResult`s and helpers for `Forbid` and `Challenge`, but nothing for `SignIn` and `SignOut`.

It would really make this kind of actions much clearer:

[code]

->

[code]

I'm fine submitting a PR if you like the general idea :clap:

[2016-03-09 15:54] cwe1ss commented on #3936
Hi, I have the same problem. I would like to get access to `HttpContext` in a class. Injecting `IHttpContextAccessor` as a constructor parameter no longer works after the upgrade from RC1 to the daily builds. Should it work or is there a new way to get the context?

Same for `IActionContextAccessor`. We have an auditing class and I would like to get the `ActionContext` there.

[2016-03-09 16:08] IsaacSee commented on #4213
After downgrade to `System.Buffers` `4.0.0-rc2-23728` (DNX `1.0.0-rc2-16595`) the "buffer x pool" exception is not thrown anymore but I have this new one throwing for some json responses :

      An unhandled exception was thrown by the application.
System.ArgumentException: L'offset et la longueur étaient hors limites pour ce tableau ou bien le nombre est supérieur au nombre d'éléments de l'index

[2016-03-09 16:08] rynowak commented on #4258
If it would make the templated controller code more understandable/declarative then it seems like a good idea. I'm not familiar enough with this part of the system on my own to understand how much of this could be refactored into a result type.

@blowdart thoughts?

[2016-03-09 16:10] rynowak commented on #3936
You need to manually register these in your startup code.
[code]

[2016-03-09 16:11] louislewis2 commented on #4258
I like the general thoughts behind this idea. Seeing this included would certainly be a plus.

[2016-03-09 16:12] rynowak commented on #4213
@IsaacSee - do you have a sample output I can look at to investigate the issue you're seeing?

[2016-03-09 16:15] IsaacSee commented on #4213
@rynowak - lasts tests were on dynamic data but I'll try to export a static sample output generating this exception

[2016-03-09 16:18] cwe1ss commented on #3936
ok great, thank you!

[2016-03-09 16:18] davidfowl commented on #4258
/cc @HaoK @lodejard

[2016-03-09 16:28] IsaacSee commented on #4213
@rynowak - it may take more time than i thought since the exception seems to only trigger after something breaks a state (ie. I need to make 5/10 requests before reproducing the issue, even for static responses). Once this state is broken, some static requests always reproduce the issue.

[2016-03-09 16:45] rynowak commented on #4213
That might actually be then that you're hitting the original root cause of https://github.com/dotnet/corefx/issues/5949

The issue described there is that the buffer pool will allow return of "off-size" arrays that don't exactly match a bucket. For instance, if you ask for a 13-element array, the pool will give you a 16-element array because it uses bucketing to encourage greater reuse. When you r

[2016-03-09 17:04] PinpointTownes commented on #4258
For some reasons, I'm seeing weird issues with DependencyModel in the MVC tests.
Restoring doesn't seem to help. I'll investigate.

![image](https://cloud.githubusercontent.com/assets/6998306/13643380/c3a1e9a4-e620-11e5-9120-a05e6fab62c5.png)

[2016-03-09 17:05] PinpointTownes commented on #4258
[code]

Hum, another buggy package... I'll wipe my packages folder :smile:

[2016-03-09 17:06] pranavkm commented on #4258
@PinpointTownes the DependencyModel packages went back in time. Delete the `Microsoft.Extensions.DependencyModel` from your packages directory (%UserProfile%/.dnx/packages and %UserProfile%/.nuget/packages) and try restoring again.

[2016-03-09 17:42] Eilon commented on #4213
@rynowak can/should we disable buffer pooling completely in MVC right now?

[2016-03-09 17:43] blowdart commented on #4258
@HaoK would have a better opinion than I

[2016-03-09 18:09] rynowak commented on #4213
That's one option, the other is to to add some tracking to our pool -> JSON.Net adapter. Fixing the issue in the adapter is less churn for us and will perturb our performance measurements less.

[2016-03-09 18:10] Badspeed commented on #1765
+1

[2016-03-09 18:11] stephentoub commented on #4213
I'm trying to follow along... do all of these concerns arise because we're throwing when an invalid buffer is incorrectly returned back to the pool rather than simply dropping the buffer silently?

[2016-03-09 18:14] rynowak commented on #4213
@stephentoub yes. JSON.Net is doing exactly what the exception is trying to prevent. The problem is that the exception was added after 8.0.2 shipped, so no one knew we had an issue until the `System.Buffers` with the fix for dotnet/corefx#5949 hit users.

[2016-03-09 19:00] HaoK commented on #4258
Seems reasonable and shouldn't hurt to have.  Identity takes care of some of this stuff for you already, so things like signing in with the identity created claims principal might not feel great with a SignInResult

[2016-03-09 20:23] PinpointTownes commented on #4258
@pranavkm that's so sneaky :smile:
Thanks for the tip.

PR sent: https://github.com/aspnet/Mvc/issues/4259

[2016-03-09 20:37] PinpointTownes opened #4260 "A few MVC unit tests fail because of localized exception messages"
When working on https://github.com/aspnet/Mvc/pull/4259, I realized that a bunch of unit tests were failing using my default system culture (fr-FR):

[code]

/cc @rynowak

[2016-03-09 20:47] #4140 closed

[2016-03-09 22:42] danroth27 commented on #4258
Not a bad idea, but we're trying to lock down for a stable 1.0.0 release. I think this can wait until post 1.0.0.

[2016-03-09 22:46] #4254 closed

[2016-03-09 22:49] #4248 closed

[2016-03-09 22:50] danroth27 commented on #4246
@sebastienros Could you please provide more details on what the issue is here and what the proposed change is?

[2016-03-09 23:01] danroth27 commented on #4245
The UrlHelper property on Controller is intended to mirror the API from ASP.NET MVC 5 so that porting code to ASP.NET Core MVC is straightforward. While the API names may not be perfect, we prefer to leave them unchanged for this reason.

That said, the doc comments should be cleaned up.

[2016-03-09 23:04] sebastienros commented on #4246
@lodejard 's recommendations. We are building/serializing the key for every request and comparing strings, where we could just store a structure representing the key in memory and compare instances in the case of the `CacheTagHelper`.

Then for the `DistributedCacheTagHelper` we need to store the key with the data, because the key is hashed (SHA256) and there could be hash collisions, hence potent

[2016-03-09 23:20] Eilon commented on #4213
@ajaybhargavb can you implement @rynowak 's [suggestion](https://github.com/aspnet/Mvc/issues/4213#issuecomment-194429640) in the meantime?

[2016-03-09 23:22] Eilon opened #4262 "Undo buffer pool workaround from #4213"
In https://github.com/aspnet/Mvc/issues/4213 we implemented a temporary workaround for an issue with buffer pooling and Json.NET.

This bug is to undo that workaround.

[2016-03-09 23:22] Eilon commented on #4213
And I logged https://github.com/aspnet/Mvc/issues/4262 to undo the workaround that we do.

[2016-03-10 00:02] kichalla commented on #4101
I like @khellang's suggestion here. One of the scenarios I am encountering where this makes more sense is with overriding. Example:

[code]

So for the `Details` action and for the `500` status code, the more specific error is used and for the rest of the actions, the one on the controller is used.

@rynowak thoughts?

[2016-03-10 01:13] #4153 closed

[2016-03-10 01:25] #4102 closed

[2016-03-10 02:16] #4152 closed

[2016-03-10 09:36] John0King opened #4264 "StackOverflowException causes dnx.exe to crash"
Views/
    Home/
        _aside.cshtml   (  file B )
        Index.cshtml
    shared/
        _aside.cshtml  ( file A )
        _Layout.cshtml

This is file B's content
` @Html.Partial("_Aside")  //I want to Render file A  `
,
 I know this is wrong , I shoud write " ../shared/_aside " , but It should not causes dnx.exe  to crash.

[2016-03-10 09:42] davidfowl commented on #4264
Yes it should absolutely crash. Stackoverflows always crash the process.

[2016-03-10 11:26] DannyvanderKraan commented on #3578
I am with  atrauzzi, dmccaffery (and so on). Whoever liked (and needed) the FromService attribute should read Mark Seemann's "Dependency Injection in .NET". IMHO is should be 90% constructor injection, 9% method injection and 1% property injection. Why? Anti patterns. Decay of architecture. Etc. Not going to explain in 1 comment. See reference to suggested book.

[2016-03-10 11:51] cwe1ss commented on #4187
I'm using your DI system together with Castle Windsor and I had some issues with this. Since `AddMvcDnx` adds additional `IAssemblyProvider` and `ICompilationService` implementations, the container now contains 2 implementations. It seems like it always resolved the first one and therefore, the app didn't work.

I had to manually remove the default implementations before calling `AddMvcDnx`:

[cod

[2016-03-10 12:33] atrauzzi commented on #3578
I'm mostly okay with the removal (I think).  But I don't like the suggestion that people can plug their own DI in becoming the standard response. It's getting a bit stale and ASP.NET core isn't even out yet.

The MVC/routing dispatcher should support method injection on controller actions. This would ensure peoples' controller constructors don't get too fat.

Otherwise, constructor injection is re

[2016-03-10 12:33] davidfowl commented on #4187
This is something we need to resolve here https://github.com/aspnet/DependencyInjection/issues/379. There are a few implicit behaviors that are not captured in our spec that we do rely on. It's possible we should be replacing it in the container but that will come out of investigating how other containers behave and how we expect to consume it.

BTW it would be great if that code for the windsor a

[2016-03-10 12:35] davidfowl commented on #4187
It should also use the specification tests https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.DependencyInjection.Specification.Tests/project.json#L3

[2016-03-10 12:45] DannyvanderKraan commented on #3578
@atrauzzi IMHO the objections against constructor injection are because of breaking SRP (as said before decay of architecture). Around 3 injections via constructor as a rule of thumb is fine. If it is starting to get more and more it is time to check the cohesion.

[2016-03-10 13:26] atrauzzi commented on #3578
@DannyvanderKraan That definitely makes sense and I agree with that philosophy in the absence of method injection.  It's 100% common sense.

There's sadly a lot of dissonance that arises out of the terminology.  Specifically _controller_ and _action_.  In the absence of method injection, a _controller_ is a cohesive group of _actions_ - as you said.

When method injection is available, the notion

[2016-03-10 13:45] cwe1ss commented on #4187
Thank you David!

yep... it's on my todo list. Although it seems like the Castle team isn't active anymore...

[2016-03-10 13:46] Aghyad-Khlefawi opened #4265 "Catch all routes"
i'm trying to create a route to catch all the routes that doesn't start with /Home
and reroute them to /home but the "{*url}" syntax is not working
im using the following in the Configure section

[code]

[2016-03-10 13:46] pranavkm commented on #4187
@davidfowl there's a test that covers the behavior we're relying on here - https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.DependencyInjection.Specification.Tests/DependencyInjectionSpecificationTests.cs#L254.

[2016-03-10 15:54] rynowak commented on #4101
The overriding part just falls out of the nature of being a filter.

re: the ordering of parameters, let's come up with a name that we like and let that dictate what order we use. `ProducesResponseType` was just a strawman to start work :laughing:

[2016-03-10 15:55] rynowak opened #4266 "MVC app without preserveCompilationContext has no controllers"
Without `preserveCompilationContext: true` - MVC's `IAssemblyProvider` won't include any assemblies, and thus the app won't find any controllers.

[2016-03-10 17:22] rynowak opened #4267 "Optimize CoerceResultToTaskAsync"
![image](https://cloud.githubusercontent.com/assets/1430011/13678038/810ce05e-e6a1-11e5-9e47-4f66b328fcd7.png)

This is about 1.2% of all execution time for a small app with a database, model binding and view.

We should fold this into the existing cached delegate for action invocation if possible.

[2016-03-10 17:23] rynowak commented on #4244
Update: this was largely due to a temporary regression in GetRequiredService. We need to remeasure.

[2016-03-10 18:17] #4264 closed

[2016-03-10 18:25] danroth27 commented on #4203
Not sure we we would add this specific feature back as it was implemented in MVC 5, but we could consider doing something to make this scenario easier.

[2016-03-10 18:26] danroth27 commented on #4197
Closing for now. Please reactivate with the requested data.

[2016-03-10 18:26] #4197 closed

[2016-03-10 18:27] danroth27 commented on #4190
No plans to change anything here.

[2016-03-10 18:31] danroth27 commented on #4186
We are working to release the RC2 tooling as quickly as possible. Closing this issue as there doesn't seem to be anything to do here.

[2016-03-10 18:31] #4186 closed

[2016-03-10 19:47] PinpointTownes commented on #4258
@danroth27 it could wait until post-RTM, but it's really a trivial change. Actually, it's more a copy/paste of existing code (which is itself a tiny wrapper around the authentication APIs) to polish the API a little bit than a real new feature.

[2016-03-10 21:23] pranavkm commented on #4266
@pakrym,  what's the work item tracking this: https://github.com/aspnet/Mvc/pull/4261#issuecomment-194603013?

[2016-03-10 21:29] kwaclaw opened #4270 "JsonInputFormatter fails to use custom SerializerSettings"
Using MVC as of today, March 10, 2016.
Modifiying SerializerSettings like so:

	public void ConfigureServices(IServiceCollection services)
	{
		var mvc = services.AddMvc(config => {
			ConfigureJson(config);
		});
		...
	}

	void ConfigureJson(MvcOptions config) {
		var jsonSettings = new JsonSerializerSettings();
		...
		jsonSettings.Binder = new Json.KnownTypesSerializationBinder(KnownTypes.Map)

[2016-03-10 21:41] #3906 closed

[2016-03-10 21:45] Aghyad-Khlefawi commented on #4265
I'm using angular route in my application so i want to reroute all the request that starts with something other than /home to the home controller, what im expecting is the first MapRoute to take the requests that are sent to home controller and the other MapRoute to take all the other requests.
the first MapRoute configurations is working fine so the requests to the home controller are working as

[2016-03-10 22:20] kwaclaw commented on #4270
I resolved this temporarily by creating a "fixed" JsonInputFormatter that overrides CreateJsonSerializer.

However, this shows another problem:
- constructing a JsonInputFormatter requires an ILogger instance
- but int he startup sequence, logging is configured lattr - there is no configured logger factory available in ConfigureServices
So I had to use a mock logger.

Maybe logging configuration s

[2016-03-11 10:43] cwe1ss commented on #4187
I was able to fix my Castle adapter and [created a repository for it](https://github.com/c3-ls/CastleWindsor-MsExtensionsIntegration). (I'll release it to nuget later) Thank you for pointing out the specification tests - they are really helpful!

[2016-03-11 14:24] ristona opened #4271 "HtmlHelper.ViewData and HtmlHelper<T>.ViewData are not the same instance"
`HtmlHelper.ViewData` and `HtmlHelper<T>.ViewData` are not the same instance

[2016-03-11 18:11] dougbu commented on #4271
Do you have a demonstration of this? In any view, there's only one property of type `HtmlHelper<TModel>` and, while `HtmlHelper<T>.ViewData` has a different type from `HtmlHelper.ViewData` i.e. uses `new`, there's just one runtime instance (of type `ViewData<T>`).

[2016-03-11 19:42] ryanbrandenburg commented on #3992
Fixed in #4263

[2016-03-11 19:42] #3992 closed

[2016-03-12 02:37] BruinY opened #4275 "Can release the asp.net core 1.0 rc2 before build 2016"
Can release the asp.net core 1.0 rc2 before build 2016,Please release as soon as possible, in order to upgrade the migration project

[2016-03-12 04:19] dougbu commented on #4083
ffe2d26

[2016-03-12 04:19] #4083 closed

[2016-03-12 06:28] Eilon commented on #4265
@Aghyad-Khlefawi we tried the code and it seemed to work fine. All requests to the Home controller actions went there, and all other URLs all went to the Home/Index action.

Are you running this on IIS? Or directly on Kestrel?

[2016-03-12 08:07] Aghyad-Khlefawi commented on #4265
Thank you for you help everything is working now :)
the problem was that i was calling UseStaticFiles() after  UseMvc().
i moved  the UseMvc call to the end of the Configure method and now it's working.

[2016-03-12 08:07] #4265 closed

[2016-03-12 19:56] Eilon commented on #4265
Ah, yes, the ordering of the middleware is critical because each middleware gets to decide whether it wants to handle the request, and whether to continue execution to the next middleware or stop execution.

[2016-03-12 23:09] gdoron opened #4276 "How to serve raw GZIP content?"
Hi, I tried to solve this one for hours without any luck :disappointed:

I have > 100K resources that are being frequently accessed from browsers, to avoid CPU and bandwidth being used for no good reason, I store these resources `GZIP`ed on redis as byte arrays.
I'm trying to return these byte arrays to the browsers as gzip content, but I don't know how to convert the `byte[]` to `string` so the b

[2016-03-13 00:26] #4276 closed

[2016-03-13 03:33] grennis commented on #3608
+1

[2016-03-13 03:40] John0King opened #4277 "TagHelper [asp-validation-for] doesn't work on server side"
This is the code i write:

[code]

And this is the code that Generated:

[code]

[2016-03-13 05:58] dougbu commented on #4277
If the actual generated HTML is `<span ... />`, everything is behaving as expected. The error message isn't visible because the self-closing element has no body.

Change the source to
[code]

[2016-03-13 06:21] John0King commented on #4277
Is the a bug of  visual studio web tools ?

[2016-03-13 06:46] dougbu commented on #4277
We've had a few discussions related to this experience and aspnet/Tooling#398 remains open. But the onus today is on `.cshtml` authors; they must not write a normal HTML element as self-closing.

Side note: aspnet/Tooling#398 is about the opposite problem: VS does not warn when users write a void element with an end tag e.g. `<input ...></input>`.

[2016-03-13 21:16] Eilon commented on #4275
The roadmap for ASP.NET Core is listed here: https://github.com/aspnet/Home/wiki/Roadmap

At this time, there is no announced date for the RC2 release, but we are working as quickly as possible.

[2016-03-13 21:16] #4275 closed

[2016-03-13 21:25] Eilon commented on #4271
Looking at the code shows that the two should always be the same, but just in case, I ran this code in a view page:

[code]

And it rendered `True True True`.

[2016-03-13 21:25] #4271 closed

[2016-03-13 21:28] Eilon commented on #4138
Backlog for now, will revisit again in the future. From my experience this pattern seems less common, so for now I would recommend the workaround.

[2016-03-13 21:29] #4166 closed

[2016-03-14 02:57] John0King commented on #4277
I think Razor View is missing some usefule method:
[code]

those method work like HtmlHelpers or TagHelpers ,  but  they only return pure string rather than full HTML mark; So we can use them in any cases!

[2016-03-14 04:12] pepevc opened #4278 "Can not pass params to ViewComponent Invoke method"
Hello,

Apparently I cannot invoke a method with this signature:

`public async Task<IViewComponentResult> InvokeAsync(Context context, params object[] args)`

I get an InvalidOperationException: Could not find an 'Invoke' or 'InvokeAsync' method matching the parameters.

Feature or bug?

Cheers.

[2016-03-14 04:16] justsayno opened #4279 "415 when returning HttpUnauthorized()"
I have controllers with methods that look something like this:

[code]

If I have my code inside the `do other stuff` block throw an UnauthorizedAccessException and it gets caught and the like `return HttpUnauthorized();'

As far as I can tell that method simply returning an HttpStatusCodeResult (or it seems in github it is a StatusCodeResult which doesn't exist for me). E.g:

[code]

Which also c

[2016-03-14 04:20] #4279 closed

[2016-03-14 04:21] pranavkm commented on #4278
ViewComponents don't support `params` array. You have to specify the type and number of arguments ahead of time.

[2016-03-14 08:48] endink opened #4280 "How can i add "WebApiCore" dependencies ?"
I'd like a more lightweight WebAPI program without razor views, taghelper etc, but if i use "AddMvcCore" method i cant use POCO object (like  IEnumerable<String>) as my action result.

I tried the following methods , but it doesn't work:
[code]

Please tell me for using POCO action result witch feature i need to add if i use AddMvcCore? thanks!

[2016-03-14 09:37] JamesNK commented on #4213
Since there is no date on RC2 I just created a Json.NET release with the fix - https://github.com/JamesNK/Newtonsoft.Json/releases/tag/8.0.3

[2016-03-14 09:59] flagbug commented on #4213
Thanks @JamesNK !

[2016-03-14 10:06] IsaacSee commented on #4213
I confirm that I can not reproduce the issue(s) this last Json.Net bits (along with last System.Buffers bits). Thanks @JamesNK.

[2016-03-14 12:18] LeandroPT commented on #4275
What does this mean? The current project has been started with asp.net 5 on the premise the dates would be respected in some extent. RC1 in Q1 and RC2 on Q2 and RTM on Q3...

So you guys now decide in a comfortable meeting to reset the naming, the dates, localization, etc...

The bottom line is, what the hell should be done now? since MSFT for the 1st time in .Net history has decided no to keep da

[2016-03-14 12:22] ZOXEXIVO opened #4282 "Can't access to action parameter attributes in dnxcore50"
At previous versions of ASP.NET we use custom validation attribute using FluentValidation like this

[code]

[code]

And in action validation filter we trying to validate parameter.
Not i can't access to the parameter binding and it GetCustomAttributes method

[code]

[code]

Any workaround ?

[2016-03-14 13:27] glennblock opened #4283 "Make JsonOutputFormatter use camel case by default"
It's not the 1990s, everyone expects their JSON to be camel case :-)

Can we get this to be the default so we don't have to do this: https://gist.github.com/shahiddev/e82fea1c85d5e3faa710

I am curious if anyone actually desires pascal case to even be an option.

[2016-03-14 13:32] davidfowl commented on #4283
/cc @JamesNK

[2016-03-14 14:01] petarrepac commented on #4283
+1 for camelCase by default

[2016-03-14 14:07] larsw commented on #4283
Word!

[2016-03-14 14:55] rynowak commented on #4282
You should have access to the parameter descriptors, and related `ParameterInfo` objects through the `ActionDescriptor`, you just need to do a downcast to get at the reflection related bits.

[code]

I'd recommend building your own cache rather than doing reflection on each call. One approach might be a register a convention using `IParameterModelConvention` that will build the cache on startup an

[2016-03-14 14:57] rynowak commented on #4213
@ajaybhargavb OK the action item here will be to depend on the fixed version rather than to put a workaround in our code.

[2016-03-14 15:52] tmutton commented on #4283
**makeJsonCamelCaseAgain**

[2016-03-14 16:00] longchiwen commented on #4283
![doit](https://cloud.githubusercontent.com/assets/1258717/13750517/17027b5c-ea06-11e5-859a-8e7b2da4f0fe.jpg)

[2016-03-14 16:02] ZOXEXIVO commented on #4282
I use dnxcore50 version and i can't find ParameterDescriptors property:

`context.ActionDescriptor.ParameterDescriptors`

[2016-03-14 16:11] khellang commented on #4283
While we're at it; can we propose to set `NullValueHandling` to `Ignore` as well? It's just a waste of bytes, IMO.

I assume that a high percentage of JSON returned from an API is consumed by JavaScript, where both `null` and `undefined` are falsy, so `if (json.someProperty) { /* do something */ }` would have the same results.

It should also be no problem if the consumer is using Newtonsoft.Json,

[2016-03-14 16:15] petarrepac commented on #4283
@khellang create new issue if you want, let's keep this one focused just on camelCase

[2016-03-14 16:25] khellang opened #4284 "Set JSON NullValueHandling to Ignore by default"
From #4283:

I'd like to propose setting `NullValueHandling` to `Ignore` by default. It's just a waste of bytes, IMO.

I assume that a high percentage of JSON returned from an API is consumed by JavaScript, where both `null` and `undefined` are falsy, so `if (json.someProperty) { /* do something */ }` would have the same results, whether the property is `null` or just absent.

It should also be no

[2016-03-14 16:32] rynowak commented on #4282
Sorry, it should just be `Parameters`. Updated my example: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Abstractions/ActionDescriptor.cs#L39

[2016-03-14 16:34] NeelBhatt commented on #4283
Go Go Go just do it 😃

[2016-03-14 17:13] dougbu commented on #2503
An example of how to override the `IHtmlGenerator` implementation in DI:
[code]

In addition HTML generator for Unobtrusive validation has changed significantly in RC2. The `IClientModelValidator` implementations now add the required attributes directly. To use another validation system, I'd recommend overriding the following
[code]

[2016-03-14 17:14] Eilon commented on #4275
@LeandroPT and others: the [linked blog post](https://blogs.msdn.microsoft.com/webdev/2016/02/01/an-update-on-asp-net-core-and-net-core/) describes why we are doing what we're doing.

If we could give a more refined date, we certainly would. When we have a higher confidence date, we expect to announce it publicly.

In the meantime I recommend trying out the latest nightly builds, providing feedbac

[2016-03-14 17:20] #3903 closed

[2016-03-14 17:27] miloush commented on #4275
@Eilon Maybe there are couple of tasks that need to be done and sharing those without timelines might still be useful?

[2016-03-14 17:35] Gutek commented on #4283
+3.14 :) And more :)

[2016-03-14 18:14] glennblock commented on #4284
Agreed. Another annoyance that I constantly have to override.

[2016-03-14 18:16] ajaybhargavb commented on #4262
Closing this as it is no longer needed.

[2016-03-14 18:16] #4262 closed

[2016-03-14 18:47] spboyer commented on #4283
As a compliment to https://github.com/aspnet/Mvc/issues/1765 makes perfect sense. cc/ @danroth27

[2016-03-14 18:55] shawnwildermuth commented on #4283
+1

[2016-03-14 18:58] dotnetjalps commented on #4283
+1

[2016-03-14 19:22] ptrstpp950 commented on #4283
Take my vote

[2016-03-14 19:25] glennblock commented on #4283
Thanks all. Make sure you use the upvote feature if you +1d

[2016-03-14 19:26] JamesNK commented on #4283
I see +1's are alive and well even after github reactions.

Camel case makes sense with JavaScript but I think JSON is more than just JavaScript. It is a simple change to enable camel case with Json.NET. I think the default is better left taking what the user has defined and making it clear in the documentation how to config MVC to use camel case everywhere if that is what the user wants.

[2016-03-14 19:33] Gutek commented on #4283
Mobile version of page does not allow to add reaction.

[2016-03-14 19:47] LeandroPT commented on #4275
@Eilon All is good and great, i understand and like the reasons, what i do not like is the time frame.

I have been around since Beta 1 of .net 1.0, so i consider myself not exactly a newbie...
I dunno why, but i was used to RC being Production ready, buggy but no major rework would happen, essentially a project would be used as a guinea pig, and things would be controlled on tests and production

[2016-03-14 19:53] spboyer commented on #4283
@JamesNK is this an 80/20 thing? Like @khellang states above

Or as in the case of #1765
Can this be the default, and have the developer do the 20% exception?

[2016-03-14 19:57] hauteur opened #4286 "Json date serialization"
**EDIT:  Never mind.  I was reusing a class that was specifying data contract serialization.**

First, let me say that it's quite possible that I'm missing something simple.

I created a simple action method that returns `IEnumerable<SomeObject> `and have an `HttpClient `on the other end that is expecting the same object type.  The call works correctly, only the de-serialization fails with this er

[2016-03-14 20:11] #4286 closed

[2016-03-14 20:55] JamesNK commented on #4283
If you do want to make this change then I think global naming needs a better feature in Json.NET. There are some problems with `CamelCasePropertyNamesContractResolver` that I haven't yet got around to fixing: it applies to both property names and dictionary names, it doesn't compose well and it always overrides the name from `JsonPropertyAttribute`.

A better solution would be adding some sort of

[2016-03-14 20:56] ZOXEXIVO commented on #4282
You think, that I don't try use all properties and make issue after first problem ?
I make issue, because i can't access to the action parameter attibutes.
If you show me, how it possible, I say thank you!

[2016-03-14 20:56] malekpour opened #4287 "AuthorizeFilter prevents unauthenticated requests to be handled by IAuthorizationService"
Current implementation of `AuthorizeFilter` only calls `IAuthorizationService.AuthorizeAsync` when request is authenticated.

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/AuthorizeFilter.cs#L78

I think `DenyAnonymousAuthorizationRequirement` should be used instead, otherwise there is no way to use authorization requirements without being authenticated.

[2016-03-14 22:11] ajaybhargavb commented on #4213
Updated all repos to use 8.0.3.

[2016-03-14 22:11] #4213 closed

[2016-03-14 22:24] bsimser commented on #4283
Where do I submit my PR for this? Make it so!

[2016-03-14 22:29] Mpdreamz commented on #4283
@jamesNK that would be awesome, we default to camelCase in elasticsearch's .NET client but need some hoops to make sure verbatim properties work e.g dictionaries/json properties/client mappings

https://github.com/elastic/elasticsearch-net/blob/master/src/Nest/CommonAbstractions/SerializationBehavior/GenericJsonConverters/VerbatimDictionaryKeysConverter.cs#L15

And

https://github.com/elastic/elas

[2016-03-14 23:42] ajaybhargavb commented on #4206
@adrianlmm, I am unable to reproduce this error with the latest bits. Could you use the latest version and check if the problem still exists? If it does, it would be great if you can push a repro sample somewhere.

[2016-03-15 00:02] pranavkm commented on #4206
Does your `project.json` have `"preserveCompilationContext": true`?

[2016-03-15 00:33] rynowak opened #4290 "Remove properties from ResourceExecutingContext"
We want to remove the following from `ResourceExecutingContext`
- InputFormatters
- ModelBinders
- ValueProviderFactories
- ValidatorProviders

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Filters/ResourceExecutingContext.cs

We built this with a particular scenario in mind that we'd probably do another way if we started fresh today (named formatters).

Right no

[2016-03-15 00:34] rynowak opened #4291 "Make IActionInvoker signature compatible with middleware"
We should make the action invoker signature into just `RequestDelegate` - which is what routing expects. We do this today in `MvcRouteHandler` by closing over the action descriptor.  We should just push this into the invoker, and simplify the handler code in the process.

[2016-03-15 00:35] rynowak opened #4292 "TypeActivate MvcRouteHandler"
This class does a bunch of lazy service lookups. We should just activate it at startup to simplify things

[2016-03-15 00:38] rynowak opened #4293 "Create a separate handler for each attribute route"
Right now we have a big global action selection table that includes all actions. This table is largely moot because attribute routes have their own selection criteria. We can solve this by using a per-route-entry handler.

This will also allow us to remove the 'fixup' code from the handler that adjusts the route values.

[2016-03-15 05:41] nemichandjat commented on #4283
+1

[2016-03-15 06:09] Eilon commented on #4275
@LeandroPT we honestly don't have any more to share about dates at this time. This is a difficult situation for everyone, but we think we're getting close to seeing the end in sight. The switch from DNX to .NET CLI was (and *still is*) a huge change and we're not done with it. That's by far the biggest change, though it involves many other semi-related changes as well, such as the change to the TF

[2016-03-15 10:04] markusvt opened #4294 "PartialViewResult in Controller with ViewData"
Hi. I have the following scenario: In a View I do an ajax request to a controller, which renders a PartialView based on a posted id.

In the controller I can write ```return PartialView("MyView", model);```

Now I just have the problem, that in the PartialView, there is a form which is supposed to have a specific prefix. In a View I can use the following:
[code]

I think it would be nice, if one c

[2016-03-15 13:54] ristona commented on #4271
@Html.DropDownList(string.Empty, Html.ViewData.GetDataSourceOfSelectList(), Html.BuildFirstOptionLabel("please select", "all"))

public static IEnumerable<SelectListItem> GetDataSourceOfSelectList(this ViewDataDictionary viewData)
        {
        ...
        }

public static string BuildFirstOptionLabel<TModel>(this HtmlHelper<TModel> html, string optionInEditor, string optionInQuery, string sep

[2016-03-15 14:10] ivaylokenov commented on #4294
You can do that quite easily. Just create the partial view result by yourself

[code]

And to simplify it, you can create an extension method:

[code]

And then use it like:

[code]

[2016-03-15 14:13] markusvt commented on #4294
Ah great! Thank you :)

[2016-03-15 14:13] #4294 closed

[2016-03-15 14:59] SkyKnight commented on #4206
@ajaybhargavb I also have this issue with MusicStore example. I updated packages to rc2-20219 and changed runtime to rc2-16595 and there is still problem with _ViewImports usings.

[2016-03-15 15:21] adrianlmm commented on #4206
@ajaybhargavb

This is my Project.json

[code]

The Project is quite big to attach it here, but I'll make an small example.

[2016-03-15 15:37] adrianlmm commented on #4206
I ran "dnu restore" and now I have a new error:

 'IServiceCollection' does not contain a definition for 'AddCaching' and no extension method 'AddCaching' accepting a first argument of type 'IServiceCollection'

So I can't make a simple test Project now.

[2016-03-15 16:12] dougbu commented on #4271
You are looking at MVC 5 source code and filing an issue in the MVC Core repository. You will not see anything similar when using MVC Core.

But even in MVC 5, the single instance (of type `HtmlHelper<TModel>`) on the page will contain all values previously added to the `ViewDataDictionary` regardless of which `ViewData` property you use. Since `BuildFirstOptionLabel()` _reads_ the dictionary, it

[2016-03-15 16:59] #4097 closed

[2016-03-15 16:59] ryanbrandenburg opened #4296 "Removing `Resolver` from ControllerBase in MVC"
We're removing the `Resolver` IServiceProvider from ControllerBase in MVC.

If you are affected by this change you can simply replace any instance of `Resolver` with `HttpContext?.RequestServices` to get identical behavior.

[2016-03-15 17:14] davidfowl commented on #4296
Or use the constructor, and avoid the service locator pattern like the plague.

[2016-03-15 17:28] Eilon commented on #4258
@rynowak parking this on your plate, @PinpointTownes has a PR out for it: https://github.com/aspnet/Mvc/pull/4259

[2016-03-15 17:48] Eilon commented on #4168
Not planning to do this at this time.

[2016-03-15 17:48] Eilon commented on #4157
Moving to backlog. FYI @DamianEdwards @NTaylorMullen

[2016-03-15 17:56] Eilon commented on #4287
@blowdart @Tratcher thoughts?

[2016-03-15 17:57] Eilon commented on #4277
Moving to backlog.

[2016-03-15 17:59] Tratcher commented on #4287
@HaoK?

[2016-03-15 18:16] blowdart commented on #4287
By design. Why go into policies when you don't have an identity to evaluate anyway?

[2016-03-15 18:23] PinpointTownes commented on #4287
Bad design then. The authorization service is already responsible of determining whether unauthenticated requests (= no principal/identity) are acceptable or not depending on the specific policy that applies, so there's no reason to have a duplicated logic in MVC.

What's the whole point of `DenyAnonymousAuthorizationRequirement` and `policy.RequiredAuthenticatedUser()` if the authorization servic

[2016-03-15 18:28] malekpour commented on #4287
For example you can have a requirement to grant or deny access by IP address only or you may grant guest users access in restricted hours.

[2016-03-15 18:52] #4202 closed

[2016-03-15 19:07] tuespetre commented on #4215
Thanks for the awesome and helpful example @ctolkien.

[2016-03-15 19:13] tuespetre opened #4297 "`GetEnumSelectList` does not appear to respect Order property of DisplayAttribute"
I would expect `GetEnumSelectList<TEnum>` to respect the `Order` property of any `DisplayAttribute` defined on the enum's members. For groups, I would expect the `Order` property to apply within the scope of a group. Using rc1 this does not appear to be the case.

Perhaps this could be done when building up an instance of `DataAnnonationsMetadataProvider.`

[2016-03-15 20:38] brockallen commented on #4168
perhaps it should be well documented that logging does not guarantee that sensitive stuff doesn't end up in the logs and thus should be discouraged for production scenarios.

[2016-03-15 21:08] Eilon commented on #4168
@brockallen I don't think that's the guidance we want to give. Just because they contain potentially sensitive data doesn't mean it shouldn't be used in production. It just means you need to secure the logs and control access to them, which I should hope any real service does anyway.

[2016-03-15 22:01] mrchief commented on #2503
:+1:

[2016-03-15 23:14] #3867 closed

[2016-03-15 23:14] #4147 closed

[2016-03-16 00:44] javedsha opened #4299 "MVC 6 ViewComponents InvokeAsyn() method is not really async"
Hi,
I am trying to use the MVC 6 ViewComponents InvokeAsync() feature to render a component asynchronously. But this is not working. The whole page is not rendering until the component (long running task) has completed.
My view component and view code is very much similar to what we have in samples: http://docs.asp.net/en/latest/mvc/views/view-components.html
Also, I am using the layout page which

[2016-03-16 01:02] dougbu commented on #4297
Might not be a bad idea though I'm not convinced `[Display(Order = x)]` is common on `enum` fields.

Note `ModelMetadata.EnumGroupedDisplayNamesAndValues` and `...EnumNamesAndValues` already have a strict order. They match `Enum.GetNames()` and that, in turn, sorts `enum` names and values using their values. I'm therefore curious: What scenario leads to a poor `<option>` ordering when using the ex

[2016-03-16 04:01] davidfowl commented on #4299
That sounds like it's working fine to me. You might be confusing asynchronous javascript calls with async server calls. What behavior were you expecting? Are you trying to flush the page contents before your call returns? That's another feature completely.

/cc @NTaylorMullen @DamianEdwards

[2016-03-16 04:43] DamianEdwards commented on #4299
Yep, MVC and Razor will still buffer the output of the entire view rendering process before sending any bytes back to the browser (this is to allow for showing a friendly error page in the case that something fails during rendering). If you want to preemptively flush the response buffer so that the browser can start rendering the HTML, you can do that in the view like thus, but be sure you underst

[2016-03-16 06:03] DamianEdwards opened #4300 "Improve the ScriptTagHelper that does ordered, async downloading inc. fallback"
It appears our use of `document.write` in the `ScriptTagHelper` to dynamically load JS files in to the browser (the CDN fallback feature) causes issues when trying to use [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/Security/CSP).

It appears this could be somewhat addressed by switching to dynamically creating and appending `script` elements to the DOM (assuming the CSP

[2016-03-16 06:46] alexaku commented on #1130
Fucking theorists. In practice, without @helper, I need to add several hundred new files manually to migrate my two websites in MVC 6. Each such file will be a couple of lines of context dependent html-code.

[2016-03-16 12:29] BruinY commented on #4275
I already have a project in the use of asp.net 5.0 rc1, and when you release the go live.
Now is adjusted for the core asp.net, this is not a simple name change, give me the project has brought the very big pressure, and unpredictable risk.
I hope to release as soon as possible asp.net core rc2, can help my project as soon as possible from the uncontrollable risks.
I think the release status, too

[2016-03-16 16:49] blowdart commented on #4287
For your IP example you're now attempt to authorize on something that isn't an identity at all. So you either write an authentication middleware which builds an identity from an IP address, or you go the filter route.

[2016-03-16 16:49] Eilon commented on #4275
@BruinY we are working on detailed upgrade guidance from RC1 to RC2, which should help make the transition a lot smoother.

[2016-03-16 20:05] ltheONEl opened #4301 "Cannot Debug in visual studio if VS is Elevated."
I have a curious issue.  To publish to IIS in my dev machine I run visual studio as administrator (bad ok!).
While visual studio is elevated I cannot debug an MVC project  either VS cannot attach or IIS Express dies or kestrel does. not sure which.  I don't get any error. VS just exits debug mode.

If I restart VS as normal (Not Elevated) I can debug perfectly.

Has anyone else seen this?

[2016-03-16 21:34] danroth27 commented on #4301
Please open this issue in the https://github.com/aspnet/tooling repo.

[2016-03-16 21:34] #4301 closed

[2016-03-16 22:28] #4237 closed

[2016-03-16 23:13] pranavkm commented on #4266
This looks like it's fixed with the newest `DependencyContext` (which we have a private copy of now). I'll leave this open until we pick up a new build.

[2016-03-16 23:19] rynowak commented on #4290
Taking this as I've already done it :+1:

[2016-03-16 23:34] #4290 closed

[2016-03-16 23:58] ryanbrandenburg commented on #4067
@glararan I couldn't get your example snippets to repro. Could you create a complete repro project and link it here as either a github repo or a zip file?

[2016-03-17 00:18] ryanbrandenburg commented on #4149
@rynowak by this do you mean something like:
[code]

[2016-03-17 00:25] rynowak commented on #4149
:+1:

[2016-03-17 07:25] paulvanbladel opened #4306 "@addTagHelpers doesn't work on linux CoreClr"
When The running assembly contains taghelpers registered in _ViewImports.cshtml, this all works on windows system but not on linux coreclr (I run in docker instance)

[code]

[2016-03-17 12:56] dazinator commented on #4087
@pranavkm - `options.CompilationCallback` doesn't appear to be a thing in `6.0.0-rc1-final`. Is there an alternative for RC1 or would we have to upgrade to perhaps RC2? or Core?

[2016-03-17 13:33] dazinator commented on #4089
This looks like a great new helpful API for component / assembly registration!

I love the idea of being able to register a part with a friendly name - like "Blog".

Would that name act as a dictionary key for the part? My concern would be that if it was a unique key, you might get key collisions between multiple components that aren't aware of each others name (Think of developers creating third

[2016-03-17 14:20] pranavkm commented on #4087
We added that as part of RC2.Looking at the code, there isn't a hook to configure compilation in RC1. Perhaps you could copy https://github.com/aspnet/Mvc/blob/6.0.0-rc1/src/Microsoft.AspNet.Mvc.Razor/Compilation/RoslynCompilationService.cs in to your application for the time being and remove it once you upgrade to RC2?

[2016-03-17 14:50] MariovanZeist opened #4307 "Problem building MVC project using Visual studio"
I am having problems building a MVC project suing Visual Studio 2015 (Community edition)

One issue is that building a library with Visual studio will result in lots of errors mostly of the format

`The type 'IList<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
`
Where IL

[2016-03-17 16:27] Eilon commented on #4306
@NTaylorMullen any idea what's happening here?

[2016-03-17 16:28] Eilon commented on #4089
I don't think this particular feature is intending to solve the "3rd party component registration" problem - that's a much bigger problem, and naming is just one tiny part of that problem. This is more about a single large app that is split into multiple projects, but are all "owned / developed / controlled" by one organization.

[2016-03-17 17:14] danroth27 commented on #4307
Yeah, the existing RC1 tooling has very limited support for the latest RC2 bits. It's likely you will just need to wait for an RC2 tooling build.

[2016-03-17 17:17] danroth27 commented on #4300
@DamianEdwards I assume this isn't for RTW?

[2016-03-17 17:18] #4299 closed

[2016-03-17 17:30] DamianEdwards commented on #4300
Ya.

[2016-03-17 17:59] pranavkm opened #4308 "ValidationHelpers for prefixed entries does not use display order"
Follow up to https://github.com/aspnet/Mvc/pull/4108#discussion_r56355870

For entries in the ModelStateDictionary with prefixes, we fail to preserve the display order specified in `ModelMetadata`.

[2016-03-17 18:10] NTaylorMullen commented on #4306
No clue, i'll have to take a look.

[2016-03-17 18:11] ajaybhargavb commented on #4206
@adrianlmm, Are you using `dnx` to run your app?
We recently moved away from `dnx` over to `dotnet`. If you are still using `dnx` to run, you might be hitting this https://github.com/aspnet/Announcements/issues/154. If so you need to add `Microsoft.AspNetCore.Mvc.Dnx` to your `project.json`.

Note that `dnu/dnx` is being deprecated. We recommend using `dotnet` (http://dotnet.github.io/) instead. [

[2016-03-17 18:22] NTaylorMullen commented on #4306
@paulvanbladel Could you provide your docker file, and the commands you're running to build the image?

Aka a repro I could poke around in.

[2016-03-17 19:07] paulvanbladel commented on #4306
Sure:
Here is the dockerfile:
https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore/blob/master/BasicSetup/src/IdSvrHost/Dockerfile

I'm doing from the /src/IdSvrHost folder :
[code]
The file _ViewImports.cshtml refers to taghelpers inside the mvc project:
[code]

[2016-03-17 19:31] NTaylorMullen commented on #4306
@paulvanbladel in your dockerfile you're copying the application into a `/app` folder. In the new world the name of your folder defines the name of your application. Therefore, since you were doing all your work locally in the `/src/IdSvrHost` folder it made sense to do `@addTagHelper "*, IdSvrHost"` because that matched the folder/app name.

If you change the folder from `/app` [here](https://git

[2016-03-17 19:43] paulvanbladel commented on #4306
Ok, the new world is challenging :)
But, sounds reasonable, I'll give it a try asap and keep you posted. Thanks for the prompt feedback.

[2016-03-17 20:06] tuespetre commented on #4297
In cases where an `enum`'s members' underlying values are implicitly assigned (something I hate to be honest) one can re-order the members for purely presentational purposes without breaking things by going through and explicitly declaring the underlying values. But even when an `enum`'s underlying values are explicitly declared, it makes more sense from a developer's point of view to keep the mem

[2016-03-17 20:36] tuespetre commented on #925
It seems that `[Bind(Prefix = "")]`, `[FromQuery]`, and so forth will allow for this with the binding of incoming models, but the `DefaultHtmlGenerator` does not appear to be respecting the prefixes and names when generating the names for the HTML controls.

[2016-03-17 20:49] Eilon commented on #4297
Yeah this is all fine and I'd be ok one day implementing this, but it's just not a priority for shipping right now.

[2016-03-17 22:29] cwe1ss commented on #4307
Any experimental/preview version of this tooling build would be greatly appreciated since this issue is quite annoying. It makes creating pull requests a lot harder.

[2016-03-17 22:29] danroth27 opened #4310 "Move AuthorizeFilter and CORS filters into a user friendly namespace"
Looks like the some of our built-in filters that are tied to external attributes live in an internal namespace:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/AuthorizeFilter.cs
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Cors/Internal/CorsAuthorizationFilter.cs

Most of the time you don't interact with these filters directly *unless* you

[2016-03-17 22:40] rynowak commented on #4176
Some allocation data after the updates - allocations for 3000 requests (as usual):

![image](https://cloud.githubusercontent.com/assets/1430011/13863377/8c145bb6-ec56-11e5-9c07-6a2a21800ccc.png)

[2016-03-17 23:32] #4267 closed

[2016-03-18 05:22] Eilon commented on #4310
@rynowak any idea if we hid them on purpose? Presumably when adding global filters we want these types to be publicly available, no?

[2016-03-18 06:47] paulvanbladel commented on #4306
Works like a charm now.
All microsoft aspnet docker examples rely on following code (also yeoman generator-aspnet I believe)
[code]
See e.g. https://github.com/aspnet/Home/blob/dev/samples/1.0.0-rc1-update1/HelloMvc/Dockerfile
So, maybe that docker approach is 'suboptimal'. I can imagine that other stuff (apart from this taghelper functionality) depends also on the "assembly name" (so, in our new

[2016-03-18 06:47] #4306 closed

[2016-03-18 06:52] NTaylorMullen commented on #4306
/cc @glennc about our examples potentially being misleading.

[2016-03-18 11:50] markrendle opened #4311 "Why no HttpResponseException?"
I know it's in the Web API shim, but why is there no equivalent (that I can find) in Core MVC? It was a very useful way of returning 404s from methods that return `Task<Spaceship>`.

I can patch one in myself easily enough with some middleware, so I wondered if there was a major performance issue or something that led to it being removed.

[2016-03-18 11:58] davidfowl commented on #4311
Just the classic, "we don't want people using exceptions for control flow" paradigm. People did things like use it from within their business logic which is all sorts of wrong. I can't speak to the performance issues because I haven't measured but throwing an exception that is meant to be caught to get some data is worse than just returning that result.

[2016-03-18 12:35] pantonis opened #4312 "Redirect middleware not working as expected"
Hi,

I have an asp.net 5 MVC6/Angular2 web application.
I have followed the following example
[Angular 2 Routing with ASP.NET Core 1](http://benjii.me/2016/01/angular2-routing-with-asp-net-core-1/)

to overcome 404 when refresh (F5) is hit.
For client routes that have no params it works fine (http://localost:3049/clients). Fiddler shows that it requests  http://localost:3049/app/core-angular.boot.

[2016-03-18 14:40] ristona commented on #4271
Index.cshtl
@Html.Partial("_Model",Html.ViewData)//viewData is custom ViewDataDictionary
----------------------------------------------
_Model.cshtml
@Html.Editor("Category")
----------------------------
public class Content
{
[UIHint(("DropDownList")]
public string Category{get;set;}
}
-----------------------------------
@Html.DropDownList(string.Empty, Html.ViewData.GetDataSourceOfSelectList(),

[2016-03-18 14:57] rynowak commented on #4310
This was just over-aggressive cleanup. This should move back to a public namespace.

[2016-03-18 17:20] Eilon commented on #4311
Yep, for exactly the reasons @davidfowl said.

[2016-03-18 17:20] #4311 closed

[2016-03-18 17:35] malekpour commented on #4287
This authentication vs. authorization has always been controversial. I've seen systems using IP, MAC address or computer name to identify and authorize group of users (e.g. Kiosk devices).

Considering the modular nature of AspNetCore, it does not make sense if MVC handles security, since the security project can take care of it very well.

In fact unauthenticated users have their own identity whi

[2016-03-19 00:56] gzak opened #4315 "How can this possibly be?"
If I expand the `Model` in the debugger, it definitely has a `Leads` property. But if I expand it in the Watch window, it doesn't. Furthermore, when I execute the current line in the debugger, it crashes saying that 'object' doesn't have a 'Leads' property. How can this possibly be?

![bug](https://cloud.githubusercontent.com/assets/817765/13895617/a516b712-ed32-11e5-82fd-a77f4d541e1f.png)

The ac

[2016-03-19 19:51] pantonis commented on #4312
Anyone?

[2016-03-19 20:52] NTaylorMullen opened #4317 "UrlResolutionTagHelper doesn't work with TagHelpers that run before and supress output."
If a user has a `TagHelper` and sets its order to `int.MinValue`, it'll run before the `UrlResolutionTagHelper`. Now, if that same `TagHelper` calls `output.SuppressOutput()` it will then force the `TagHelperOutput`s tag name to `null`. The problem this introduces is the `UrlResolutionTagHelper` relies on the `TagName` not being `null` when looking up corresponding attribute values for the tag so

[2016-03-20 02:01] javiercn opened #4318 "CandidateAssemblies should always include the entry assembly?"
Scenario, I'm running MVC Sandbox and I get a 404 on startup.

Default assembly manager does this:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/DefaultAssemblyProvider.cs#L75

[code]

GetCandidateLibraries only includes dependent assemblies (which for MVCSandbox only contains the MVC assemblies)

I believe the list of candidate assemblies should always co

[2016-03-20 02:02] javiercn commented on #4318
/cc @pranavkm

[2016-03-20 10:16] nooxnet opened #4319 "Inside area: relative url when no area defined in link"
I'm not sure if this is intended behavior or I've missed something when I moved from RC1 to RC2 Nightly yesterday:

I have this url inside _Layout.cshtml (under the main Views/Shared/ directory):

	<a asp-controller="Home" asp-action="Index">Home</a>

With RC1 this link has always been rendered as

	<a href="/">Home</a>

Now with RC2 it is rendered as "/" only when I'm on a page in the root direct

[2016-03-20 11:51] SkyKnight commented on #4206
@ajaybhargavb moving to dotnet command works for me :) Music store example still has some internal issues, but my private project render razor views without problems. Thanks!

[2016-03-20 16:33] Sidoine opened #4320 "ControllerActionDescriptorProvider should take a collection of IControllerTypeProvider"
In the current version of `ControllerActionDescriptorProvider`, the constructor takes an unique `IControllerTypeProvider`. It prevents to register several `IControllerTypeProvider`, for example if a third party assembly needs to add its controllers by type, without relying on the default conventions that may have been superseded by the application.

It should take an `IEnumerable<IControllerTypePr

[2016-03-20 17:39] pranavkm commented on #4319
Seems like a result of https://github.com/aspnet/Mvc/issues/4013. cc @javiercn

[2016-03-20 18:05] ciel commented on #4189
Was this changed yet again?

[2016-03-20 18:59] davidfowl commented on #4189
@ciel the name of the property changed.

[2016-03-20 20:06] javiercn commented on #4319
I believe the behavior you are seeing is correct in both cases. I don't think #4013 has anything to do with it.

When you are inside of an area, and try to generate a link outside of the area you need to specify the area explicitly, (the other area you want to generate the link to or null or empty string in case you want to generate a link to an action outside of any area).

What is happening in y

[2016-03-20 20:07] ciel opened #4321 "Mvc samples won't run - all routes returning 404"
Trying the latest bits, I've downloaded the repository - updated the dot net cli to the latest version I can find (1.0.0-rc2-20221) and run **dotnet restore**, **dotnet build**, and **dotnet run** on the sample; It compiles fine, it launches fine, but a visit to **http://localhost:5000** just yields a 404 error in the debugging tools in the browser.

This is happening to other web applications I'v

[2016-03-21 10:50] korzh opened #4322 "FileLoadException: Could not load file or assembly ... Microsoft.AspNet.Mvc.Razor, Version=6.0.0.0"
We've got a strange exception recently running our MVC 6 application on MS Azure (as web app).
It runs fine right after publishing for several hours and then suddenly come up with the following error:

[code]

I don't have any idea why it happens. It disappears on app restart but after several hours arises again.
This web-site is in development and don't have any traffic now except few requests pe

[2016-03-21 15:24] rynowak commented on #4319
This is an intended change in behavior: https://github.com/aspnet/Announcements/issues/120

[2016-03-21 15:25] rynowak commented on #4320
We're already working on improving this scenario in another way: https://github.com/aspnet/Mvc/issues/4089

[2016-03-21 15:33] #4320 closed

[2016-03-21 16:32] Eilon commented on #3918
@dougbu if you can come up with a design for this, then we can reassign to someone to implement the fix.

[2016-03-21 16:36] Eilon commented on #4216
Perhaps the RazorPage activator should just set these because they're always needed anyway.

[2016-03-21 16:40] Eilon commented on #4220
Dup of https://github.com/aspnet/Mvc/issues/4292.

[2016-03-21 16:40] #4220 closed

[2016-03-21 16:41] nooxnet commented on #4319
Yes, it's a consistent behavior. If you don't specify a controller the current controller is used. If you don't specify an area, the current area is used.

But I assume that many will stumble over this when they have some sort of menu and introduce an area later on. They will end up with broken links. It's probably a more common scenario than reusing an area-relative link in different areas (but n

[2016-03-21 16:48] Eilon commented on #4225
Shouldn't be needed once we do https://github.com/aspnet/Mvc/issues/4087.

[2016-03-21 16:48] #4225 closed

[2016-03-21 18:20] pranavkm commented on #3732
Could we summarize what the design for this change is going to look like here?

[2016-03-21 18:27] javiercn commented on #3732
A class is considered a controller if:
* Inherits from a class with [Controller] (includes our base-classes)
* Use the suffix "Controller"

[2016-03-21 18:55] #4310 closed

[2016-03-21 19:04] ajaybhargavb commented on #4206
Closing this issue. Please re-open if the issue still exists.

[2016-03-21 19:04] #4206 closed

[2016-03-21 19:30] ciel commented on #4315
I know this isn't at all related to your query, but would you mind telling me what the font you're using for the environment stuff is? Like the menu ("FILE" "EDIT" "VIEW" "PROJECT" etc)

At first I thought it was all default, but at closer inspection that just looks so much cleaner than mine.

I know this isn't likely an appropriate comment to put here, since this is about an actual product issue.

[2016-03-21 19:33] javiercn opened #4323 "Allow specifying the controller name in ControllerAttribute"
This is a follow up issue for #3732. See https://github.com/aspnet/Mvc/pull/4316#discussion_r56843279 for more details.

Currently we can mark that a class is a controller using ControllerAttribute as shown below.

[code]

This bug is to allow the user specifying the name of the controller as part of marking it a controller:

[code]

[2016-03-21 20:10] ciel opened #4324 "latest libraries (WebHostBuilder) causing conflict with "System.Collections""
I am attempting to run a project using the latest builds, and am getting a peculiar error regarding `System.Collections` that I've never encountered before. I think there is some kind of error in the `WebHostBuilder` class causing it, though. I'm attempting to dig into it, but not finding much, as I'm a bit out of my depth even with the source code.

When I try to run the program with `dotnet run`

[2016-03-21 21:18] shawnwildermuth opened #4325 "Adding MVC to Nightly Build Causing Missing Method Exception"
The 20221 RC2 build was working for an example I'm working on but once I add MVC to the mix, it's failing with a Missing Method exception. I've included MVC like this (snippet of the project.json):

[code]

I'm adding it to the service container (and this is where the failure happens on startup) (snippet of the startup.cs):

[code]

The exception looks like this:

[code]

[2016-03-21 21:21] pranavkm commented on #4315
@gzak, this is essentially the same issue as the one reported in https://github.com/aspnet/Mvc/issues/645 \ https://github.com/aspnet/Mvc/issues/1484. Anonymous types generate internal properties and `dynamic` doesn't reflect over non-public properties. The fix here would be to return a view model type.

[2016-03-21 21:21] #4315 closed

[2016-03-21 22:28] #4149 closed

[2016-03-21 22:53] gzak commented on #4315
Makes total sense now, and I suppose one could argue that it forces better practices :-)

I'll fix it on our end.

[2016-03-21 23:20] Eilon commented on #4325
You should be using the AspNetCore packages - I see AspNet there.

[2016-03-21 23:20] Eilon commented on #4325
Also, the new version number for MVC is 1.0.0 (just like everything else in ASP.NET Core).

[2016-03-21 23:25] sivagms opened #4327 "Reliability: AcessViolationException - Linux-HelloWorldMVC crash after few hours of test run."
HelloWorldMVC App |||
-------------------|------------------------|--------------------------------------
 Azure A2 VM | 80% CPU Usage | 300 concurrent connections

4 hours of into the reliability test run  The app crashes.

[code]

[2016-03-21 23:49] pranavkm commented on #4327
Are you using dotnet to run the app? There were issues with certain versions of it it in the past - https://github.com/dotnet/cli/issues/1785

[2016-03-22 00:07] #4324 closed

[2016-03-22 00:56] pranavkm commented on #4266
This is fixed in the most recent builds of Mvc. Should remain fixed when we move to the newest build of DependencyModel.

[2016-03-22 00:56] #4266 closed

[2016-03-22 06:53] shawnwildermuth commented on #4325
Great, thanks...feel free to close

[2016-03-22 07:36] davidfowl opened #4328 "Simplify assembly load on CoreCLR"
Just use the default load context for razor views. We get no benefit from having a custom load context. Now that we can load things directly into the default load context, we don't need it.

/cc @pranavkm

[2016-03-22 10:10] jstangroome commented on #4300
Ideally, any possible solution that relies on inline scripts should discourage the use of the `unsafe-` CSP directives by supporting either [CSP script-src nonces](https://www.w3.org/TR/CSP2/#script-src-nonce-usage) or [hashes](https://www.w3.org/TR/CSP2/#script-src-hash-usage) or both.

[2016-03-22 13:44] ciel commented on #4321
I got this solved through two solid days of extremely frustrating trial and error. I'm sharing my story in hopes that others will not experience the same problem.

First of all, I've tried to be diligent about keeping the `dot net cli` up to date. Every morning, I `git clone` the `dotnet cli` repository, and run `cli/scripts/obtain/install.ps1 -channel beta` to get the newest version of the `cli`.

[2016-03-22 16:15] #4325 closed

[2016-03-22 16:40] WillRay opened #4329 "IFormFile model binder suppressing validation for any non-null result."
The FormFileModelBinder [suppresses any further validation if a value is found](https://github.com/aspnet/Mvc/blob/6.0.0-rc1/src/Microsoft.AspNet.Mvc.Core/ModelBinding/FormFileModelBinder.cs#L70). This can result in some confusion ([example](http://stackoverflow.com/questions/35989885/mvc-icollectioniformfile-validationstate-always-set-to-skipped/36158115)) because any validation attributes attach

[2016-03-22 16:59] Eilon commented on #4328
@davidfowl needed for RC2?

[2016-03-22 17:01] davidfowl commented on #4328
Nah, can wait until RTM. Though the change is minimal.

[2016-03-22 17:02] Eilon commented on #4323
FYI @javiercn @rynowak moving to backlog.

[2016-03-22 17:02] Eilon commented on #4328
Ok will do in RTM.

[2016-03-22 17:15] danroth27 commented on #4329
@rynowak Looks the suppression was deliberate. Do you remember why the suppression was added? Would it make sense to support `[Required]` on an `IFormFIle` property?

[2016-03-22 17:18] rynowak commented on #4329
Yeah, this was deliberate, and I think we just got this wrong. What we should be doing is setting `ModelMetadata.ValidateChildren` to false for this type, and but not suppressing validation of the node.

[2016-03-22 17:21] danroth27 commented on #4321
Sounds like you were able to resolve your issue. Nothing to fix here for MVC.

[2016-03-22 17:21] #4321 closed

[2016-03-22 17:23] javiercn commented on #4323
Yes, we can decide to tackle this at a later point in time. It's orthogonal to #4316

[2016-03-22 17:23] danroth27 commented on #4319
No plans to make a change in behavior here.

[2016-03-22 17:23] #4319 closed

[2016-03-22 17:24] pranavkm opened #4330 "Modify RoslynCompilationService to generate portable pdbs"
We have a check in this type to verify if the pdb writer component is registered. This does not work in x-plat scenarios (and might not work for CoreCLR on Windows). Instead we should switch to generating portable pdbs which should work in all environments.

[2016-03-22 17:55] javiercn commented on #4318
Running MVCSandbox, the MVCSandbox assembly wouldn't be included. @pakrym is investigating and I believe he has more context

[2016-03-22 18:20] ryanbrandenburg commented on #4067
@glararan, just a reminder that we need a complete repro project in order to investigate this any further.

[2016-03-22 18:43] Eilon commented on #4329
Ok let's fix in RTM then.

[2016-03-22 20:13] Charmatzis opened #4331 "AddUserSecrets"
One question..... If I use AddUserSecrets() when I deployed to the azure web app, have I have to do anything like to import the secrets in the Application settings in "App Settings", or that stuff happens automatically with VS?

[2016-03-22 21:54] shawnwildermuth opened #4332 ""sets the 'preserveCompilationContext' compilation property" error even it is set"
I am trying to get a basic MVC site up using the RC2 nightly (20221) to build a very basic MVC example and it's failing. I'm getting the "preserveCompilationContext not set" when compiling my razor page (a extremely trivial one, with just ViewBag in it). This is set in my project.json:

[code]

Here's the complete stack trace, Maybe I'm doing something wrong:

[code]

[2016-03-22 22:19] pranavkm commented on #4332
Are you using Dnx to run your application? If so, you need to add a reference to `Microsoft.AspNetCore.Mvc.Dnx` (https://github.com/aspnet/Announcements/issues/154)

[2016-03-22 22:26] glararan commented on #4067
Sorry I forgot to post it here, I was so busy :/

Problem was with this class (there was missing [Route("api/")] ):

If you remove that you should get error I described in first post

[2016-03-22 23:28] ryanbrandenburg commented on #4067
I tried that already (and again just now) with the latest MVC and it did not reproduce. I had to make fairly large modifications because it did not compile against current bits when dropped into an existing project though. What I'm requesting is a COMPLETE project (not snippets but a complete git repo or zip file which would compile). I'm asking this because I believe either 1) there is a part of

[2016-03-23 00:36] ajaybhargavb commented on #453
5238a8f16ec03965465ff0db0caeae957cebc3e8

[2016-03-23 01:11] shawnwildermuth commented on #4332
Let me try that!

[2016-03-23 01:15] shawnwildermuth commented on #4332
That was it. Sorry I missed it. I need to follow the announcements closer. To be clear so that others can fix it, you need the "Microsoft.AspNetCore.Mvc.Dnx" package and add dnx to the services:

[code]

Feel free to close.

[2016-03-23 05:33] #4332 closed

[2016-03-23 05:39] Eilon commented on #4331
@blowdart would you use user secrets on Azure, or would you use it only at dev time on a local machine?

[2016-03-23 05:59] Eilon commented on #4322
Putting the stack trace inline here:

[code]

[2016-03-23 06:02] Eilon commented on #4322
@pranavkm this is super weird - any idea why the Razor view engine would try to load an assembly named `51712 bytes loaded from Microsoft.AspNet.Mvc.Razor, Version=6.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60`? How could what looks like some sort of log message make its way into the assembly name we try to load?

[2016-03-23 06:17] Charmatzis commented on #4331
Well, they are saved the "secrets" in my local machine and I want them to be moved in web app azure.

[2016-03-23 08:49] glararan commented on #4067
Well, I tried to remove that Route attribute and website is still working, I guess bug is fixed without being noticed. I tried that before uploading project for you, but you wouldn't find any problem at all.

I think you can now close this issue as solved.

Thanks.

[2016-03-23 08:49] #4067 closed

[2016-03-23 12:08] blowdart commented on #4331
Only at dev time. Azure web apps have settings in their control panels, I'd use those.

[2016-03-23 12:42] cwe1ss commented on #4331
Azure Key Vault is another great (and pretty cheap) solution for storing connection strings and other sensitive data. The [Tailspin sample app](https://github.com/Azure-Samples/guidance-identity-management-for-multitenant-apps) contains a [Configuration-provider](https://github.com/Azure-Samples/guidance-identity-management-for-multitenant-apps/tree/master/src/Tailspin.Surveys.Configuration.KeyVau

[2016-03-23 13:22] pranavkm commented on #4322
We attempt to load any dependency that was specified in the `DependencyContext`. Maybe there's a bug in it where it writes the assembly name incorrectly? @pakrym have you seen this?

[2016-03-23 13:26] pranavkm commented on #4322
Nevermind - this looks like loading the compiled Razor view assembly is failing. @korzh are you using the dotnet cli (dotnet.exe) to run your application?

[2016-03-23 15:00] korzh commented on #4322
I didn't understand at first that that "51712 bytes loaded..." is actually an assembly name. We will try to log the view content on this exception to find out when and why it happens.

[2016-03-23 15:04] korzh commented on #4322
This app is running as web-app on MS Azure.
Target DNX version: dnx-clr-win-x86.1.0.0-rx1-final

[2016-03-23 15:27] SimonOrdo opened #4333 "Cache Tag Helper -inside Partial View-"
Steps:
1. Cache tag helper inside of a partial view.  Pass data into the body of the cached section via Model data.  Something like...

`<cache>
    <span id="@Model.SectionHtmlId">
        @Model.Content
    </span>
</cache>`

2. Render partial view multiple times on same page, but with different content (via model)

3. Cached areas are all rendered the same as the very first instance of the part

[2016-03-23 15:59] pranavkm commented on #4333
Assuming the code looks like this:

[code]
what would the uniquely identifying parameter be? Varying by the model wouldn't be correct in the general case.

[2016-03-23 16:09] SimonOrdo commented on #4333
Maybe I'm thinking about it wrong, but how is that different from something like this?

(Assuming this is in the same view)
[code]

Doesn't the caching engine recognize that as two different entries?

[2016-03-23 16:13] sebastienros commented on #3867
Related annoucements:
https://github.com/aspnet/Announcements/issues/160
https://github.com/aspnet/Announcements/issues/161

[2016-03-23 16:28] pranavkm commented on #4333
Razor generates a unique id per instance of `<cache>` when parsing it - so those two entries have different identifiers (which get added as keys). In your case, it's the same "instance" so they get the same id. Varying by the page path wouldn't help either since that's going to be the same.

[2016-03-23 16:28] rynowak commented on #4176
Update - Added a **GetById** variation that just reads pre-seeded data from the database:
![image](https://cloud.githubusercontent.com/assets/1430011/13992508/965883c2-f0d9-11e5-9c30-68b27ec3a38b.png)

[2016-03-23 16:40] SimonOrdo commented on #4333
Gotcha, so it is as I suspected - Razor resolves it as the same instance because it "physically" is the same one.

In the specific case of rendering a cached item from a partial, however, I think that re-use is implied (by convention).  Intuitively I expected the cache key generated to be different for each instance rendered by a call to `@HtmlPartial`.

It sounds like modifying the `vary-by` para

[2016-03-23 16:51] Eilon commented on #4331
You can learn more about "user secrets" on the ASP.NET docs site: https://docs.asp.net/en/latest/security/app-secrets.html

As mentioned by @blowdart , the user secrets (also known as secret manage) stuff is for dev-time only. When running on a hoster such as Azure Web Sites, there is a control panel for the site where you can add the secret settings, and then you can easily pick them up using the

[2016-03-23 16:51] #4331 closed

[2016-03-23 18:45] pakrym commented on #4318
This is fixed in latest Cli+DependencyModel

[2016-03-23 18:53] Eilon commented on #4318
If you have a bug/PR number that would be good.

[2016-03-23 19:14] pakrym commented on #4318
Fixed == It's not broken there. Cli and dependency model being out of sync in mvc causes it.

[2016-03-23 19:15] pranavkm commented on #4318
Yeah, I haven't noticed this using 1.0.0-beta-001718 CLI + the DependencyModel clone we have in Mvc.

[2016-03-23 20:01] PinpointTownes opened #4334 "Fix Microsoft.AspNetCore.Mvc.Dnx to avoid referencing System.IO/Reflection/Runtime"
`Microsoft.AspNetCore.Mvc.Dnx` currently references `System.IO`, `System.Reflection` and `System.Runtime` at the global dependency level, which causes weird issues on .NET Desktop: https://github.com/dotnet/cli/issues/1993#issuecomment-200512200

@pranavkm do you remember why you had to add these packages?

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Dnx/project.json#L20-L2

[2016-03-23 20:18] pranavkm commented on #4334
There was an issue with the CLI where it would add multiple entries to the project.lock.json (a package reference and a framework reference) which would cause `dotnet build` to fail. This was addressed in https://github.com/NuGet/NuGet.Client/pull/389, but we haven't updated to a build of the CLI with the fix (it was a bit unstable when I checked last week). We're working on updating our packages

[2016-03-23 20:21] PinpointTownes commented on #4334
Thanks for the explanation :clap:

[2016-03-23 20:22] Eilon commented on #4318
Ah so we think it's fixed in newer builds?

[2016-03-23 20:27] pakrym commented on #4318
Yes

[2016-03-23 20:28] Eilon commented on #4318
Ok, we'll just hold onto this issue until we can verify. Thanks!

[2016-03-23 21:53] danroth27 commented on #4333
Correct, you need to explicitly specify what you want to vary-by.

[2016-03-23 21:53] #4333 closed

[2016-03-23 21:55] danroth27 commented on #4327
@pranavkm Please close this issue and contact @sivagms once we have taken the new .NET CLI so that they can validate that this is no longer an issue in the next stress run.

[2016-03-23 22:01] DavidObando opened #4335 "Redundant DependencyContext instance"
We're analyzing the memory state after running the [HelloWorldMvc](https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc) test and sending 1000 requests to it. Unexpectedly, we're seeing 2 instances of DependencyContext.

[code]

There are two instances of `Microsoft.Extensions.DependencyModel.DependencyContext` in gen2 memory, one for the `DefaultAssemblyProvider`, and another one

[2016-03-23 22:46] hernandemczuk opened #4336 "Scaffolding Error when working with EF Fluent API"
I have a **Data Acces Logic (Entity Framework)** project, a **Model** project with my POCOs classes and a last one with the **MVC Application**. In my DAL project, I configure some validations on my Model and its schema information on the database using **Fluent API**. That means that I use the following method in order to add these configurations:

`protected override void OnModelCreating(DbModel

[2016-03-23 22:56] NTaylorMullen commented on #4318
Using dotnetcli `001718` and finding that my applications runtime library does not have any listed assemblies for it when published. However, if I choose not to publish and do `dotnet run` all works fine.

![image](https://cloud.githubusercontent.com/assets/2008729/14003417/b40a7a2a-f10f-11e5-8802-b167456f5274.png)

[2016-03-23 22:57] rynowak commented on #4335
This is a known issue tracked by https://github.com/dotnet/cli/issues/1736

[2016-03-23 23:02] NTaylorMullen commented on #4318
Alright, turns out this happens if you don't do `.UseContentRoot(Directory.GetCurrentDirectory())` in your `Main`. Yay :dizzy_face:

Ignore me.

[2016-03-23 23:19] DavidObando commented on #4335
@rynowak dotnet/cli#1736 is about the references that the compilation options hold on to. This one is about there being 2 instances. It appears that we want to have just one, as both are identical.

[2016-03-24 00:36] #4256 closed

[2016-03-24 04:14] Eilon commented on #4335
If this is a very recent build, it might also be caused by some shenanigans due to us copying the dependency code into MVC itself to make it work with the most recent CLI. @pranavkm could that be the case?

[2016-03-24 04:22] Eilon commented on #4334
@pranavkm also just parking this on your plate until we can verify.

[2016-03-24 07:07] pekkah commented on #4089
Why add another composition feature when you could extend the Areas feature to cover also this?

[2016-03-24 13:01] chriship opened #4338 "No lib folder in wwwroot"
Yesterday I created a project in OSX by typing:

yo aspnet
...
dnu restore
dnu build
dnx web

It created the project and put a lib folder (which included bootstrap, jQuery etc.) in the wwwroot folder.

Today when I do the same there is no lib folder.

I also get a lot of errors when typing dnu build:
  Unable to resolve dependency fx/mscorlib
  Unable to resolve dependency fx/System
  Unable to re

[2016-03-24 15:13] rynowak commented on #4335
Nah, this was the case before that change. This is going to be fixed by changes @javiercn is working on.

[2016-03-24 15:50] MariovanZeist commented on #4307
FYI I was able to resolve the problem temporarily by removing the net451 framework moniker from all my libraries, I am now only building using the netstandard1.5 moniker in my libraries, and using dnxcore50 in my application.

[2016-03-24 16:15] Eilon commented on #4089
@pekkah I would actually say that this simply works very well *with* areas. This assets thing is about deciding which content to "load" for an MVC app. And "areas" decides the grouping of controllers/routes/views.

[2016-03-24 16:20] Eilon commented on #4335
@javiercn parking this on your plate to verify after the parts feature is done.

[2016-03-24 16:57] Eilon commented on #4338
@sayedihashimi any idea on the Yeoman templates? Are they all `dotnet` now?

[2016-03-24 17:10] danroth27 commented on #4338
@chriship Did the "dnu restore" command succeed?

[2016-03-24 17:13] danroth27 commented on #4336
@rowanmiller @phenning Are there known limitations with using the EF fluent API and scaffolding?

[2016-03-24 17:18] danroth27 commented on #4312
@pantonis Can you share a simplified project with us that reproduces the issue so we can take a look?

[2016-03-24 17:23] danroth27 commented on #4307
Sounds like you were able to resolve your issue.

[2016-03-24 17:23] #4307 closed

[2016-03-24 17:27] rowanmiller commented on #4336
@hernandemczuk have you confirmed that this only happens during scaffolding? If you just run the app, and perform data access using the views etc. you already have, does it successfully build the model and perform data access?

[2016-03-24 17:35] chriship commented on #4338
@danroth27 No errors on dnu restore. Have just tried again and none of the dnu build errors are showing this time so maybe that is a red herring. Still no lib folder though.

[2016-03-24 17:38] hernandemczuk commented on #4336
Yes, I have. It successfully built and performed data access the way It should. I also tried out using Data Annotation instead of the Fluent API with the same model and It worked perfectly.

[2016-03-24 17:47] rowanmiller commented on #4336
@hernandemczuk thanks for confirming. Will need someone from scaffolding to dig into this one - I'm assuming we are running some code to get the entity into the model that is running before OnModelCreating.

[2016-03-24 18:08] danroth27 commented on #4336
@prafullbhosale Could you please take a look? Please note this is MVC 5 scaffolding.

[2016-03-24 18:09] dougbu opened #4339 "Remove extra constructors in `JsonInputFormatter` and `JsonPatchInputFormatter`"
The `JsonInputFormatter` and `JsonPatchInputFormatter` classes previously had a parameterless constructor for ease of use. This was lost when a required `ILogger` parameter was added. We have also since decided there's no important user scenario involving construction of these types. But `JsonInputFormatter` still has 3 constructor overloads while `JsonPatchInputFormatter` has 2. The extra overloa

[2016-03-24 18:09] danroth27 commented on #4338
Could you please you share the generated project.json file?

[2016-03-24 18:25] chriship commented on #4338
Sure:

[code]

[2016-03-24 18:34] prafullbhosale commented on #4336
Taking a look.

[2016-03-24 18:41] sayedihashimi commented on #4338
Maybe we need to add the lib files to `yo aspnet`. @chriship can you file an issue at https://github.com/OmniSharp/generator-aspnet/issues?

[2016-03-24 19:19] ciel opened #4343 "confused about the update to "netstandard""
The latest comments say that the libraries are "Updating to NetStandard.Library 1.5.0", but when I look at the source for the samples, [such as this one](https://github.com/aspnet/Mvc/blob/dev/samples/MvcSandbox/project.json), they still say "netstandardapp1.5" - while the newest is just "netstandard1.5". I'm confused about which we should be using.

[2016-03-24 19:55] pranavkm commented on #4334
Looks like updating the packages wasn't enough. We're working on updating the cli next which should allow us to remove this hack..

[2016-03-24 20:13] rynowak commented on #4233
Do we need to provide `AuthorizationFilterAttribute` as a base-class? IMO we shouldn't make it easy to replace the auth system.

[2016-03-24 20:40] davidfowl commented on #4338
It's because you're using code clr to build. Remove dnx451 from the project

[2016-03-24 21:50] chriship commented on #4338
Seems the issue was related to this: https://github.com/OmniSharp/generator-aspnet/issues/294

Running bower install created the lib folder.

[2016-03-24 21:50] #4338 closed

[2016-03-24 23:22] prafullbhosale commented on #4336
Looks like the issue is due to the fact that scaffolding internally adds the configuration on its own for each of the entity types and also invokes the OnModelCreating for the DbContext. So when calling the OnModelCreating, the configuration is already added and leads to this error.

I have filed a TFS bug to address this.

[2016-03-25 02:22] endink opened #4347 "Warning needs more detail."
There is a a warning appear frequently in the application log .

[Warning]Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker:
Authorization failed for the request at filter 'Microsoft.AspNetCore.Mvc.Internal.AuthorizeFilter'.

 Is there a document for this, or what should I check in my code? Maybe the log can tell me which action and which controller, or which middleware?

[2016-03-25 04:50] Eilon commented on #4347
I would guess that there's a log message just a bit further up that tells you info about the request, URL, controller/action, etc., no?

[2016-03-25 13:07] miguellira opened #4349 "Cannot cast Newtonsoft.Json.Linq.JObject to Newtonsoft.Json.Linq.JToken in Microsoft.Extensions.DependencyModel.DependencyContextJsonReader"
### Steps to reproduce
install latest dotnet cli
git clone https://github.com/aspnet/cli-samples.git
update `project.json` with the following framework settings:
[code]
dotnet restore
dotnet build
dotnet run
launch a browser to `http://localhost:5000`
### Expected behavior
HTML with a static image and "Hello World"
### Actual behavior
The following error:
[code]
### Environment information:
[code]

[2016-03-25 15:10] pranavkm commented on #4349
The most recent version of the CLI that we've tested against is 1.0.0.001718. We're working on updating to a newer version, but we using versions that we haven't tested (especially when the CLI is churning so much) is probably not a good idea.

[2016-03-25 15:13] miguellira commented on #4349
@pranavkm Yep. That's what I've come to find out.

But just to be clear, if I somehow find version `1.0.0.001718` of the dotnet CLI for OS X - everything should work out of the box correct?

Or is there some framework version that will work with the latest CLI drop?

[2016-03-25 15:21] rynowak commented on #4347
You can also turn on scope information in the configuration - which will include the URL and controller/action for all messages https://github.com/aspnet/Logging/blob/dev/samples/SampleApp/logging.json#L2

[2016-03-25 15:48] ciel commented on #4349
oh man, I'm hitting this problem too. I'm not even sure how to go back to `1.0.0.001718`. Is there any way to do this?

[2016-03-25 15:57] pranavkm commented on #4349
Our latest bits (from aspnetcidev) were built using `1.0.0001718` and tested* on Travis + internal CIs so it should just work.

* - we use in memory servers for our tests, so we don't get coverage for tests over Kestrel and IIS. We get that indirectly via MusicStore which seems to be doing ok on OSX with that build of CLI + latest of Mvc.

[2016-03-25 16:10] miguellira commented on #4349
@pranavkm Thanks for the info.

I just pulled the latest MusicStore and ran it against my current CLI (`1.0.0-beta-001998`) and ran into the `Failed to initialize CoreCLR, HRESULT: 0x80004005` others have also hit.

I'll try to find the `1.0.0-beta-001718` binaries or installer, downgrade and hopefully get back to a stable build.

[2016-03-25 16:12] ciel commented on #4349
If you find a link to that version, please share it. I’m hunting for one as well now. I have the file for `0.0.0-beta-001897` and it was working for me last night, but I’m not sure how it will fare against today’s nightly libraries.

If you need `0.0.0-beta-001897`, let me know and I'll put in a dropbox for you.

[2016-03-25 16:16] pranavkm commented on #4349
https://github.com/dotnet/cli/tree/rel/1.0.0/scripts/obtain/install.sh has a way to specify the version to install.

[2016-03-25 16:20] ciel commented on #4349
I tried that, it didn't work. I used `git clone [repo]` and went to the right directory, and ran `.\install.ps1 -version #.#.#.#` and it simply gave me an error.

[code]

[2016-03-25 16:44] kwaclaw commented on #4349
Hitting me too. Is there a way this can be fixed on the input side (what JSON is it reading)?

[2016-03-25 17:07] Eilon commented on #4349
@pranavkm why would the version of the CLI affect the runtime of an ASP.NET app and which versions of Json.NET it's referencing?

[2016-03-25 18:03] pranavkm commented on #4349
@Eilon, there might be breaking changes in the DependencyModel json that gets produced by the CLI. They don't have a versioning scheme and their format is not backwards compatible - so older DependencyModel code might not be able to read it.

[2016-03-25 18:16] nooxnet opened #4350 "@Html.Raw(null) stops rendering the view"
I have a view which outputs raw HTML for a text editor:

	@Html.Raw(Model.Description)

Description is often null. With RC1 this worked. With the nightly built from last week the output which is received by the browser stops some lines (some 100 bytes) above the code with @Html.Raw(null). No exception. Just missing HTML output. The output stops even within HTML tags or attributes.

Workaround:

	@

[2016-03-25 18:27] Eilon commented on #4349
Oh so it's not a real Json.NET version issue, but more likely some schema issue.

[2016-03-25 18:34] miguellira commented on #4349
For the record, out of pure curiousity... since I still had DNX installed on my machine I decided to try those tools to run MusicStore.

I upgraded to the latest runtime:
[code]
Removed the `net451` framework from `project.json`, ran `dnu restore`, `dnu build`, and `dnx web` and ran into this issue:
[code]
Digging through GH issues looks like this is all related to changes to `DependencyModel` as

[2016-03-25 20:46] pranavkm commented on #4349
@miguellira see https://github.com/aspnet/Announcements/issues/154

[2016-03-25 21:06] miguellira commented on #4349
@pranavkm Thanks. I'm subscribed to that repo and am usually good at remembering those announcements.

Updated per instructions, `dnu restore`, `dnu build`, and `dnx web` and now I get a new exception:
[code]
At some point this all worked fine and I'm hopeful I can "undo" my changes and get back to a working enviornment.

I truly hope that this thread is helping your team get to a more stable RC2

[2016-03-25 22:15] javiercn opened #4353 "Cleanup assembly discovery in ApplicationParts"
We currently look up the IHostingEnvironment instance on AddMvcCore() from the ServicesCollection instance in the services collection that is passed during startup. This is fragile and we do it for assembly discovery purposes, we shoud find a better way of doing this.

[2016-03-25 23:49] Eilon commented on #4350
Well that's just weird...

[2016-03-25 23:59] Eilon commented on #4339
Is there any reasonably common scenario for new'ing up these types? (Aside from tests, which is mostly our own internal concern.)

[2016-03-26 00:01] Eilon commented on #4343
I heard from @richlander that @terrajobst is working on some guidance for library authors as to which TFMs to use, etc. I think once that's published it'll clarify exactly the question you have.

[2016-03-26 00:06] Eilon commented on #4343
BTW the simplest thing I can say right now is that `netstandard` is for libraries, and `netstandardapp` is for applications (which includes console apps, web sites, and tests). So that explains why you're seeing `netstandardapp` in that sample web site.

[2016-03-26 00:10] Eilon commented on #4343
Found some docs that explain a lot of this:
* https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md
* https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-standard-applications.md

[2016-03-26 00:19] rynowak commented on #4339
I'm not really sure. There was in WebAPI - but that was often a workaround for other things being obtuse....

Only case I can think of is if you have two different sets of JSON settings.

[2016-03-26 00:20] rynowak commented on #4339
There's still an action item to take here if we don't want to make them constructable, we should clean up the other ctors.

[2016-03-26 00:22] terrajobst commented on #4343
That's correct. I'm working on an overall "packaging guidance" docs that talks about how to build packages for the .NET platform.

[2016-03-26 00:25] Eilon commented on #4339
If there's nothing "common" then I'll put in Backlog. If there's something more urgent for v1, what is it that we should do?

[2016-03-26 02:34] dougbu commented on #4339
Suggest that if there's no common scenario, we were wrong to add the extra constructors. They are a bit complicated and do odd things like `new` up a `DefaultObjectPoolProvider`. As @rynowak said, the action item would be to remove them. Could even change the bug title :smiley_cat:

[2016-03-26 02:38] miguellira commented on #4349
For those parties interested... I managed to get back to a "working enviornment".

As @pranavkm suggested, getting back to version `1.0.0-beta-001718` was the solution.

The `install.sh` file, however, is currently adding a `-dev` in the URL which results in an invalid download so I googled, found this [Travis CI log](https://travis-ci.org/aspnet/Diagnostics/jobs/116759598) and long story short...

[2016-03-26 03:05] endink commented on #4347
@rynowak  The scope feature looks like only avaliable in ConsoleLog, my app use a cutome log provider and logger, how can i implement it, it not include in ILogger interface?

[2016-03-26 03:08] endink commented on #4347
@Eilon Noop, it shows the word Authorization failed for the request at filter 'Microsoft.AspNetCore.Mvc.Internal.AuthorizeFilter', unfortunately, no more information.

[2016-03-26 07:13] poimis opened #4356 "Consider making "feature folders" the default layout for views."
Maybe RazorViewEngine could use feature folders as a default? See discussion here:
https://github.com/aspnet/Templates/issues/462

[2016-03-26 08:43] ciel commented on #4349
Thank you so much for the file.

I really, really hope all this craziness settles soon. Right now I just have to grin and bear it because I know the teams are doing their best and pushing themselves as hard as they can to get this all up and running... But I never realized how much of the work Visual Studio abstracted away for me.

This whole .net core experience has made me appreciate Visual Stud

[2016-03-26 08:48] ciel commented on #4343
Thank you SO MUCH for this info and these links. It helps a ton. Also, please don't go forward with "netstandardapp1. 5". I don't think my poor OCD can take it.

I still think it'd be better to define an outer framework and then a version interior, like this...
[code]

[2016-03-26 08:52] davidfowl commented on #4343
I think your OCD will have to take it :smile: . You can define multiple frameworks like that but it's only common for class libraries that are targeting more than one. e.g.

https://github.com/AutoMapper/AutoMapper/blob/develop/src/AutoMapper/project.json#L13-L64
https://github.com/autofac/Autofac/blob/master/src/Autofac/project.json#L22-L74

etc.

[2016-03-26 08:55] ciel commented on #4343
Being a programmer with OCD is maddening.

So is it pretty much settled then?
[code]
These four are the finalized names/strings?

[2016-03-26 09:07] miguellira commented on #4349
@ciel You're welcome. Glad this long thread has helped someone.

I totally agree with your comment. My main work is on a Windows 10/VS2K15 setup and though I have all of the tooling up to date there I use my Mac to try out all the .NET Core bits - porting small ASP.NET apps (usually rich client side ones) with little or no dependency on .NET full.

Definitely looking forward to working with all th

[2016-03-26 09:32] davidfowl commented on #4343
You're really asking different questions here and need to be more specific. If you're looking for an uber list of target frameworks there isn't any but we should have one. Here's a set https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#specific-platform-mapping but it doesn't include the newer ones like netstandardapp and netcoreapp.

[2016-03-26 17:17] poimis commented on #4343
Isn't netstandardapp going away in favor of netcoreapp?

[2016-03-26 21:02] Eilon commented on #4339
Well, given what I've understood here, this would be backlog. So if you could distill this down to exactly what new proposed action we should take sooner, let's take a look at that.

[2016-03-26 21:07] Eilon commented on #4356
This is an interesting suggestion, but as per my comments in the other issue, we are not planning on changing the defaults. However, if you find that there are limitations in RazorViewEngine or elsewhere in MVC that make it rather difficult for someone to *use* "feature folders", we would certainly like to discuss how to make those scenarios easier.

[2016-03-26 21:07] #4356 closed

[2016-03-26 21:20] Eilon commented on #4353
Putting this in RTM. Let's make sure we have a good discussion with a good set of people on this because I want to make sure whatever we come up with is a genuinely good fix.

[2016-03-26 21:47] cwe1ss commented on #4356
fyi, we are using feature folders with a custom `IViewLocationExpander`:

[code]

this allows the structure described [in my blog post about  MVC 5](http://www.chwe.at/2014/07/feature-folders-controllers-and-views/)

[2016-03-26 22:22] dougbu commented on #4339
Sure. I've updated the title and description. (In retrospect, should have posed this issue as a question on which way to go.)

[2016-03-26 22:27] brianro opened #4357 "ViewComponent search algorithm enhancement request"
The algorithm searching for view component files assumes the component used is in a sub-folder of the controller class. When invoking the controller or in the meta-data of the controller definition, I want to define a controller path on the search path.

Currently when you are using re-using a view component from another area of the application, the view component can't locate its files. If I use

[2016-03-26 23:29] dougbu commented on #4357
@brianro the relevant code (in [ViewViewComponentResult](https://github.com/aspnet/Mvc/blob/7bd7b32fcb71311bbc5b9f2a3d4761f7eb4784a8/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewComponents/ViewViewComponentResult.cs#L87-L115)) already supports a few alternatives. E.g. your view component could return `View("full path.cshtml")` or `View("relative path.cshtml")`. In addition a view name (lacking th

[2016-03-26 23:53] brianro commented on #4357
Thanks Doug,

I do understand these options exists, but they are fairly high maintenance.

It would be really great if I could pass a different controller class or type into either the attribute declaration or the invoke method to have that controllers location used in the search pattern instead of the current running controller.

Thanks,

B.

From: Doug Bunting [mailto:notifications@github.com]
S

[2016-03-27 02:10] javiercn commented on #4317
Would other taghelper types be affected by this same issue? the code that has the error seems applicable in many tag helpers (do we have more cases like this on our codebase)? /cc: @NTaylorMullen

[2016-03-27 22:45] pantonis commented on #4312
You can find a simplified project here:

[Angular2Seed](https://github.com/pantonis/Angular2Seed.git)

Go to http://locahost.../clients and press F5. You can see that the page reloads witout any problem.
Then click on the "Click here to go to client 1". You will be redirected to http://locahost.../client/1 . Press F5 there and you will encounter the problem. If you open up fiddler you will see tha

[2016-03-27 23:48] NTaylorMullen commented on #4317
Very possible. Would have to give them a closer look or build out a sample to verify. When we wrote them initially ensuring they could react to other `TagHelper`s in the pipeline was lower priority. We covered a lot of cases but obviously not everything :smile:

[2016-03-28 00:49] javiercn commented on #4317
I looked up the implementation of all tag helpers I could find, I didn't see a similar pattern, so I think it's just this one

[2016-03-28 15:23] rynowak commented on #4339
- Constructable
- DI
- Simple

Choose any two.

[2016-03-28 15:48] Eilon commented on #4339
@rynowak are you onboard with that?

[2016-03-28 16:00] rynowak commented on #4339
Yes

[2016-03-28 16:06] Eilon commented on #4339
Ok, we'll do in RTM.

[2016-03-28 19:56] rynowak commented on #4179
Some preliminary data here:
https://github.com/aspnet/Mvc/pull/4355#issuecomment-202495200
https://github.com/aspnet/Mvc/pull/4355#issuecomment-202500438

Without adding views to this 60-65% of the app's time is spent in GC. I can get 1750 rps on my machine but there are frequent pauses. Filing an initial round of bugs with these data.

[2016-03-28 20:05] rynowak opened #4361 "Cache TypeConverters in SimpleTypeModelBinder"
See: https://github.com/aspnet/Mvc/issues/4179

![image](https://cloud.githubusercontent.com/assets/1430011/14088559/216b94c2-f4e5-11e5-9c08-e806f613bcb0.png)

About 10% of the time in `SimpleTypeModelBinder` is spent looking up the type converter to use. We can close over the type converter in the constructor, since it can be resolved statically.

We can probably just get rid of `ValueProviderRes

[2016-03-28 20:16] rynowak opened #4362 "Carry the current ModelStateEntry on the ModelBindingContext"
See: #4179

![image](https://cloud.githubusercontent.com/assets/1430011/14088926/050c5ba2-f4e7-11e5-8c14-f2aefd85688e.png)

A lot of this time is spent looking up the 'current' model state node. Since we turned MSD into a prefix tree, we can push/pop nodes as part of the `ModelBindingContext`. This way when we create an entry we just need to append a child to the current node, not to look up the c

[2016-03-28 21:51] #4045 closed

[2016-03-29 02:12] pranavkm opened #4363 "DefaultAssemblyProvider.IsCandidateLibrary should not look at types in Mvc assemblies"
We used to have code in the DNX based assembly provider where you'd skip any assembly in the `ReferenceAssemblies` list as not a candidate (https://github.com/aspnet/Mvc/commit/991dff6b9ee781d3525838f799e2965aa9d9cfb4#diff-332c12c286fe3090208e27923a147e2cL86). This seems to have been lost in transition to DependencyModel. We should bring that back.

[2016-03-29 05:40] GuardRex commented on #4349
@miguellira @pranavkm @Eilon I just hit this under `dotnet cli` -2076 on Win10 with a `netcoreapp1.0` app. Is the workaround really to go all the way back to -1718?
[code]
[code]

[2016-03-29 06:04] Eilon commented on #4349
That CLI might be too new, you need 1718.

[2016-03-29 06:06] davidfowl commented on #4349
or you might be able to work around it by replacing the right services...

[2016-03-29 15:22] rynowak opened #4365 "Should we support TypeActivating a per-request model binder"
BinderTypeModelBinder supports providing a type to the model binding system that will be type activated and used to model bind **each** time the binder is called.

Do we need this? What kinds of scenarios do we envision using it for? Note that this isn't the same as per-request, the unit of work here is the individual property being bound.

[2016-03-29 15:30] GuardRex commented on #4349
In case anyone wants the Win version of -1718, the binaries can be obtained at ...
[code]
However and as I expected, that's a really, really old `dotnet cli`, so trying to use that resulted in this ...
![capture](https://cloud.githubusercontent.com/assets/1622880/14113177/6e43f228-f597-11e5-8e2d-e710c609ab96.PNG)

I'd like to try your, @davidfowl, suggestion next. Besides getting past the OP excep

[2016-03-29 16:32] pranavkm opened #4366 "Remove DefaultAssemblyPartDiscoveryProvider.GetAssemblyName"
We have a copy of the GetAssemblyName method from the CLI because it is currently static. This can be removed once once https://github.com/dotnet/cli/pull/2117  lands.

[2016-03-29 16:42] rynowak opened #4367 "Investigate overhead of ControllerActivator in TechEmpower scenarios"
Sampling data from HelloWorldMvc:
![image](https://cloud.githubusercontent.com/assets/1430011/14115987/7556c93c-f592-11e5-9e62-a95d2c8db717.png)

This validation might be too expensive to do per-request

[2016-03-29 16:44] rynowak opened #4368 "Investigate Creation of Empty Value Providers in TechEmpower scenarios"
Sampling data from HelloWorldMvc

![image](https://cloud.githubusercontent.com/assets/1430011/14116047/be43710e-f592-11e5-8257-990d70588237.png)

Creating this value providers might be too expensive when there's no data

[2016-03-29 17:24] rynowak commented on #4244
Some fresh data here - bottom up sampling of HelloWorldMvc
![image](https://cloud.githubusercontent.com/assets/1430011/14117175/4b89572c-f598-11e5-98f1-b768e03f01aa.png)

We should avoid hitting the service provider when we know it's a singleton.

[2016-03-29 18:41] miguellira commented on #4349
@GuardRex FWIW... I decided to take your `project.json`, remove any private libraries and try it out against the latest CLI drop on OS X (`1.0.0-beta-0021111`) and was able to **successfully** run a simple MVC app without runtime errors. Here's what I got:

**project.json**
[code]
**NuGet.config**
[code]
**Program.cs**
[code]
**Startup.cs**
[code]
It's important to note that although I did **_not_

[2016-03-29 20:53] GuardRex commented on #4349
@miguellira I did get it running a few hours ago after it was failing earlier this morning, and I think something changed this morning in packages/runtime/tooling to make that possible.

The `System.Xml.XmlSerializer` issue is because the Azure Storage team pegged the dep to an old package for `WindowsAzure.Storage`. I think the next version of the Azure Storage library will clear that one up. In

[2016-03-30 00:42] Eilon commented on #4366
https://github.com/dotnet/cli/pull/2117 is merged so hopefully we can get this into RC2 soon.

[2016-03-30 00:46] Eilon commented on #4347
@kichalla can you look and see what we might be able to do to improve this experience?

@lodejard any thoughts from you on how to improve the logging experience in this scenario?

[2016-03-30 00:51] Eilon commented on #4278
For now by design, but we will revisit in the future.

[2016-03-30 09:49] markusvt opened #4374 "Authorize based on multiple policies"
I use claim-based authorization in my application. Now I have a scenario, in which an action should be accessible by users that have either Claim A or Claim B.

While reading the docs I found that and "AND" is quite easy possible with those claims but for an "OR" I would need to write multiple custom handlers for a requirement. Is that correct so far or is there an easier way to manage the "OR" po

[2016-03-30 12:54] hernandemczuk commented on #4336
I want to add a workaround I found to solve this issue without the need of using DataAnnotation. Instead of having separated Configuration files, each one having an Entity Configuration like this:

`public class ApplicationUserMapConfiguration : EntityTypeConfiguration<ApplicationUserMap>
{
    public ApplicationUserMapConfiguration()
    {
        ToTable("ApplicationUserMap", "Users");
        H

[2016-03-30 14:13] Yablargo opened #4375 "Error when using multiple where clauses in EF7 / Dot Net Core RC1"
Hello,

I have the following query, which executes without any issue:

`List<Patch> allPatches = (from p in _context.Patches where p.Software.Any(s => softwareIds.Contains(s.SoftwareId)) select p).ToList();
`
However, when I add a second where clause, things go belly up:

`
List<Patch> allPatches = (from p in _context.Patches where p.Software.Any(s => softwareIds.Contains(s.SoftwareId)) && p.Id <

[2016-03-30 14:36] CaffeinatedCM commented on #4375
This sounds like an issue for Entity Framework, not MVC. Maybe try posting it at [that issue page instead] (https://github.com/aspnet/EntityFramework/issues).

[2016-03-30 15:13] rynowak opened #4376 "Lazy-Initialize HashSets in TempDataDictionary"
For small-app scenarios that don't use TempData the dictionary is going to be instantiated but not used. We can save two hashsets per request by making them lazy.

Allocation data from HelloWorldMvc:
![image](https://cloud.githubusercontent.com/assets/1430011/14147183/4b58438c-f64f-11e5-9105-c94f3ed58479.png)

[2016-03-30 15:24] Eilon commented on #4375
Yes, please log an issue in the EF repo - that's where the EF experts hang out.

[2016-03-30 15:24] #4375 closed

[2016-03-30 16:18] rynowak opened #4377 "Optimize creation of root VDD"
Sampling data from HelloWorldMvc

![image](https://cloud.githubusercontent.com/assets/1430011/14148662/3307a1fa-f655-11e5-82f1-4096d1c00f9d.png)

We're creating this VDD with model metadata for `object` as a sensible default. We can do something smarter here like caching it to avoid the lookup.

[2016-03-30 17:19] pranavkm commented on #4318
Looks like this is fixed with the newest DependencyModel. @NTaylorMullen, the other issue is to make view discovery work and we could consider adding it to MvcSandbox to make our work flow bit easier.

[2016-03-30 17:40] Eilon commented on #4374
@blowdart ?

[2016-03-30 17:46] blowdart commented on #4374
You would put the OR inside a single policy handler, with a custom requirement. For example;

    public class OneOrTheOtherRequirement: AuthorizationHandler<OneOrTheOtherRequirement>,
                                           IAuthorizationRequirement
    {
        protected override void Handle(AuthorizationContext context,
                                       OneOrTheOtherRequirementrequirem

[2016-03-30 17:49] #4258 closed

[2016-03-30 17:49] rynowak commented on #4258
f9d24a8521fbdc82234544068d4a832ca8f3a53a

[2016-03-30 18:16] sivagms commented on #4327
This didn't show up in test runs last week..

[2016-03-30 19:03] Villason opened #4382 "Question: how do you set the innerHtml of a TagBuilder?"
TagBuilder anchor = Generator.GenerateActionLink(
                    linkText: "hello",
                    actionName: null,
                    controllerName: null,
                    protocol: null,
                    hostname: null,
                    fragment: null,
                    routeValues: new { before = Before },
                    htmlAttributes: null);

How do I add html to

[2016-03-30 19:18] #4101 closed

[2016-03-30 19:39] sivagms opened #4383 "Reliability: Linux-HelloWorldMVC crash in few minutes of test run"
HelloWorldMVC App |||
-------------------|------------------------|--------------------------------------
 Azure A2 VM | 80% CPU Usage | 300 concurrent connections

4 hours of into the reliability test run  The app crashes.

Unhandled Exception: System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
   at Microsoft.As

[2016-03-30 19:40] PinpointTownes commented on #4287
Still no answer to this crucial question, it's a bit worrying IMHO.

[2016-03-30 19:52] HaoK commented on #4287
[Authorize] with nothing else specified uses the default policy of requiring authenticated user.  So this requirement and method exists mostly for that scenario

[2016-03-30 19:57] PinpointTownes commented on #4287
But isn't the authorization filter always rejecting unauthenticated requests without invoking the authorization service no matter if you specify a policy?

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L77-L79

[2016-03-30 20:00] HaoK commented on #4287
Yeah the authorize filter probably shouldn't do that explicit check and leave that to the Authorization service.  This seems like a legit bug to fix.

[2016-03-30 21:17] dougbu commented on #4382
`TagBuilder.InnerHtml` is of type `IHtmlContentBuilder`. So add text to it using `Append(string)` or if it's already encoded `AppendHtml(string)`. Call `Clear()` if you don't like what `GenerateActionLink()` added.

I'm curious: Exactly how are you using the `IHtmlGenerator`?

[2016-03-30 21:38] GregH44 opened #4386 "[Dependency Injection] How can I get IServiceProvider outside controller ?"
Hi everyone,

I try to work with native dependency injection of ASP.NET Core 1.0. I work with rc1 update 1 version.

I have an n-tiers application. I would like to get IServiceProvider into DataLayer to obtain my DbContext by service with AddTransient.

Many examples show how to get my DbContext with my controllers like this :

`public MyController(IDbContext dbContext)
{
}`

This exemple works ve

[2016-03-30 21:40] rynowak commented on #4329
e1abb47b98d502f4d6c78700f7dffa48ef346f5d

[2016-03-30 21:40] #4329 closed

[2016-03-30 21:44] rynowak commented on #3516
Some more data here

**Allocation data 3000 requests (TagHelpers disabled)**:
![image](https://cloud.githubusercontent.com/assets/1430011/14158222/d9a868c2-f683-11e5-951c-26459c5972f7.png)

**Allocation data 3000 requests (TagHelpers)**:
![image](https://cloud.githubusercontent.com/assets/1430011/14158615/e1ac6aee-f685-11e5-861c-77dff43b737b.png)

[2016-03-30 22:54] #4233 closed

[2016-03-30 22:55] #4317 closed

[2016-03-31 00:22] Supratentorial commented on #4275
I think the sense of entitlement displayed by some, coupled with the lack of appreciation for what the Asp.Net Core team have achieved in such a short time, is very disappointing. I appreciate the work done by @Eilon and others. I think some people need to remember that Asp.Net core is very much new technology. If your project requires a stable development framework, then perhaps you should consid

[2016-03-31 02:47] jcsotoo92 opened #4389 "An item with the same key has already been added."
I get this error when i try to run my app with the command dotnet run

An item with the same key has already been added. Key: Microsoft.DotNet.ProjectModel.ProjectContextBuilder+LibraryKey

[2016-03-31 03:32] Villason commented on #4382
Thank. That works. Another stupid question. Is it possible to render the
TagBuilder into a string in rc1? It would be handy in some cases instead of
appending them to the output.

About your question, I am building navigation bootstrap taghelpers which
automatically set the proper "active" class based on the route and
querystring data. The anchor tags are generated on the fly and I saw you
use the

[2016-03-31 05:13] dougbu commented on #4382
Thanks for the information on your scenario.

Any `IHtmlContent` implementation supports the following:
[code]

[2016-03-31 07:15] GregH44 commented on #4386
Moved to DependencyInjection

[2016-03-31 07:15] #4386 closed

[2016-03-31 09:16] BruinY opened #4390 "How to implement a global business"
I have a business background, is the first in first out queue task.Startup can normal visit, regardless of how long to wait for can be normal execution.But when I visit other page after the controller, the business cannot be carried out properly.I don't know why, I want to know how to implement such a global, and only one fifo queue task.
I have tried, static objects is invalid. my project version

[2016-03-31 13:12] Villason commented on #4382
Thank you Doug. You might agree that's too verbose!

On Thu, Mar 31, 2016 at 7:14 AM, Doug Bunting <notifications@github.com>
wrote:

[2016-03-31 16:03] Eilon commented on #4287
@HaoK @blowdart any thoughts on whether this would regress any MVC 5.x behavior? I want to make sure there isn't too big a leap for someone updating their app and getting very different or unexpected behavior.

[2016-03-31 16:27] dougbu commented on #4382
`TagBuilder` and other `IHtmlContent` implementations exist to efficiently render HTML-encoded and literal strings to an HTTP response. Creating intermediate strings is not the primary purpose and allocating such strings is a major performance headache.

When using `TagBuilder`s in a tag helper, add it to the appropriate `TagHelperOutput` property e.g. `output.Content.Append(tagBuilder)`.

[2016-03-31 16:27] dougbu commented on #4382
Closing because we've strayed far from the original question which you've said has been answered.

[2016-03-31 16:27] #4382 closed

[2016-03-31 18:13] #3732 closed

[2016-03-31 18:49] rynowak commented on #3516
The only issue we're seeing now is large memory usage:

![image](https://cloud.githubusercontent.com/assets/1430011/14187160/83eaa07c-f736-11e5-801e-3463abbe75f5.png)

I think there's an unexpectedly high number of view buffers in use per-page-load.

[2016-03-31 19:16] #4089 closed

[2016-03-31 19:45] jods4 commented on #3732
I hope this is a good place to discuss aspnet/Announcements#165 as there was no link over there...

Could you please summarize what class would have been considered a Controller in RC1 and work ok and not work anymore in RC2?

Reading the description I don't think we are impacted but we have lots of controllers...

[2016-03-31 22:06] javiercn commented on #3732
The following scenario

[code]

[code]

Product would have been considered a controller as long as BaseController was in an assembly that referenced MVC. (We would look up on the inheritance chain and see if a base type ended in controller and was in an assembly that referenced MVC)

https://github.com/aspnet/Mvc/commit/de9ffb13c76d4f8225f388bc00309352d3bceac6#diff-d59fc41d7e9bd47511cc7c791e31ac4a

[2016-03-31 22:27] mnltejaswini commented on #3921
We optimized the current ExpressionHelper to the commonly occurring scenarios (which is also the targeted scenarios)  like member access. However, for the indexer expression, there is still cost from compiling the expression every time. This fix for this issues is not straightforward and needs more analysis. As indexer expressions are not the targeted scenarios, this performance issue will be clos

[2016-03-31 22:27] #3921 closed

[2016-04-01 07:40] FredyWenger opened #4392 "When will SQLClient be fully implemented?"
For new webservice-project, I want to use MVC6 (WebApi).
I work with Microsoft Visual Studio Professional 2015, Version 14.0.24720.00 Update 1, ASP.NET and Webtools 2015 (RC) 14.1.11116.0
I have still invested a few days and then seen, that SqlClient seems to bee implemented only "half" yet.
I have added the NuGet: System.Data.SqlClient (4.0.0.0.beta-23516) (latest available version) and added: us

[2016-04-01 12:48] pantonis commented on #4312
@danroth27  Did you have a look at it?

[2016-04-01 13:26] LeandroPT commented on #4275
@Supratentorial ...

Dude... Praising the lord does not get things done. RC = RC... deadlines are deadlines... Plans are plans.

[2016-04-01 17:08] veccsolutions opened #4393 "Ability to change log levels of MVC log entries"
I would like to change the log levels of the MVC log entries so that we don't get spammed in our logs by MVC while still enabling application wide log levels. I've modified the values in appsettings.json/Logging:LogLevels and set them to Debug, but I still see 5 log entries logged at the Information level.

[2016-04-01 17:14] #4014 closed

[2016-04-01 18:00] javiercn commented on #4087
Reopened until I check-in the tag helpers part

[2016-04-01 18:51] #4350 closed

[2016-04-01 19:30] dougbu opened #4394 "`ViewContext.ViewData` should `throw` if set to `null`"
A `ViewContext` instance cannot be created with `ViewData == null`; even the test-only constructor sets the property appropriately. However the `ViewData` property has no `null` checks in its setter and downstream code compensates for the odd possibility of `context.ViewData = null` in user code. We should disallow that possibility i.e. `throw` an `ArgumentNullException` and remove `ViewExecutorTe

[2016-04-01 19:38] dougbu opened #4395 "`ViewExecutor.ExecuteAsync()` should `throw` if passed `viewData: null`"
The part of 0b8fe87 (from PR #3310) which allowed `viewData: null` to be passed into `ViewExecutor.ExecuteAsync()` is no longer necessary. `Controller.ViewData` ensures `[Partial]ViewResult.ViewData` is non-`null` when created. So user code would need to manually set `[Partial]ViewResult.ViewData` to `null` or instantiate a result directly and never set the property for `ViewExecutor.ExecuteAsync(

[2016-04-01 19:40] dougbu commented on #4395
Oops, submitted too soon...

Could go further and have `[Partial]ViewResult.ViewData` `throw` an `ArgumentNullExeception` if set to `null`. But that would require backing fields in those classes. Further it wouldn't help the `new PartialViewResult()` case. I suggest we leave it at having `ViewExecutor.ExecuteAsync()` do the `throw`ing.

[2016-04-01 19:43] dougbu commented on #4395
BTW the `ViewExecutor.ExecuteAsync()` that compensates for the `viewData: null` possibility is using an `internal` constructor. Much better to remove the possibility than add yet-another `public` `ViewDataDictionary` constructor.

[2016-04-01 19:45] rynowak commented on #4395
I'm pretty sure we added this in response to some user-ask. I don't recall what, but I'll bet it's in the history.

[2016-04-01 21:00] Eilon commented on #4367
Moving to 1.0.0.

[2016-04-01 21:00] Eilon commented on #4175
Moving to 1.0.0.

[2016-04-01 21:00] Eilon commented on #4176
Moving to 1.0.0.

[2016-04-01 21:01] Eilon commented on #4016
Moving to 1.0.0.

[2016-04-01 21:01] Eilon commented on #3924
Moving to 1.0.0.

[2016-04-01 21:02] Eilon commented on #453
Moving to 1.0.0.

[2016-04-01 21:19] Eilon commented on #4318
This is now fixed.

[2016-04-01 21:19] #4318 closed

[2016-04-01 22:07] dougbu commented on #4395
[This conversation](https://github.com/aspnet/Mvc/pull/3310#discussion-diff-41957489) makes it seem I made the suggestion. My bad and we now have more unit test support in `ViewContext`, `Controller` and so on. E.g. action code must ignore `Controller.ViewData` (which cannot be `null`) to construct a result w/ `ViewData == null`. Why support that corner case?

I suspect we were worrying about `Tem

[2016-04-01 22:18] javiercn commented on #4335
Application parts are in and IAssemblyProvider is gone for good. @DavidObando what do we need to do here to verify?

[2016-04-01 22:20] #4246 closed

[2016-04-01 22:25] sivagms commented on #4383
Opened this under Kestrel:
https://github.com/aspnet/KestrelHttpServer/issues/723

[2016-04-01 22:25] #4383 closed

[2016-04-01 22:27] DavidObando commented on #4335
@javiercn cool!

Run the HelloWorldMvc process, load test it, and then attach WinDbg to it. Download `sosex.dll` from http://www.stevestechspot.com/, and load it.
[code]

Then execute:
[code]
You should see only one instance listed.

Let me know if you'd like me to test it too.

[2016-04-01 22:33] rynowak commented on #4335
VS and dotmemory can also dump managed memory

[2016-04-01 22:57] dougbu commented on #4116
The problem is only partially about `Nullable<T>`.

It's true the `modelType == metadataModelType && model == source.ModelExplorer.Model` check is incorrect when `model == null` and `_declaredModelType` (the best guess we have) is `Nullable<T>`. In this case, `metadataModelType` will be the underlying type `T` and not `Nullable<T>`. E.g. in the original scenario, the code compares `DateTime` with

[2016-04-01 23:11] dougbu commented on #4116
I take back "This makes sense only when `_declaredModelType == typeof(object) && ModelMetadata.MetadataKind == ModelMetadataKind.Type`." It _never_ makes sense for `ViewData.ModelType` to reflect the model's runtime type. `ModelExplorer` has separate properties for runtime information.

[2016-04-02 00:27] sivagms opened #4398 ""dotnet <dll>" doesnt work from the publish folder. refs folder doesn't have required dlls"
App:
https://github.com/aspnet/Performance/tree/sivag/reliability/testapp/HelloWorldMvc

Install dotnet
clone https://github.com/dotnet/cli
Cd cli
./scripts/obtain/install.ps1

C:\Users\<username>\AppData\Local\Microsoft\dotnet\dotnet.exe restore
C:\Users\<username>\AppData\Local\Microsoft\dotnet\dotnet.exe publish -o pub1
cd pub1
C:\Users\<username>\AppData\Local\Microsoft\dotnet\dotnet.exe .\Hel

[2016-04-02 00:27] sivagms commented on #4398
@SajayAntony @davidfowl

[2016-04-02 03:26] davidfowl commented on #4398
/cc @pakrym Can you take a look?

[2016-04-02 03:40] GuardRex opened #4399 "System.ArgumentNullException at Microsoft.AspNetCore.Mvc.Internal.DefaultAssemblyPartDiscoveryProvider.DiscoverAssemblyParts"
Let me know if this is just from churn (will wait) or if you need a repro, and I'll get right on it.
## Exception
[code]
## Environment data
[code]

[2016-04-02 03:45] davidfowl commented on #4399
Please provide a repro

[2016-04-02 03:46] GuardRex commented on #4399
@davidfowl ... will do. I'll get right on it.

[2016-04-02 03:47] davidfowl commented on #4399
/cc @javiercn @Eilon

[2016-04-02 04:06] javiercn commented on #4399
I'll look unto this when i get home

[2016-04-02 04:07] GuardRex commented on #4399
@javiercn I'm working on the repro now. I have to strip a lot of crap out of this app, but I'll have it up asap.

[2016-04-02 04:20] javiercn commented on #4399
@davifowl Is there any circumstance in which IHostingEnvironment.ApplicationName can be null? https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L77 We can definitely check for a null ApplicationName, but I don't think this would even work before the application parts changes, as default assembly provider uses the same

[2016-04-02 04:23] GuardRex commented on #4399
FYI: I don't set it. I was driving from SoCal to Pensacola, Florida. I may have missed an Announcement if its required now.

[2016-04-02 04:29] javiercn commented on #4399
@GuardRex it should be populated by default from the host. I'll investigate more once I get home. If you could provide a repro that would gel a lot. Thanks!

[2016-04-02 04:29] GuardRex commented on #4399
@javiercn repro almost done ... few more minutes

[2016-04-02 04:42] GuardRex commented on #4399
@javiercn Got it.

Publishing with `dotnet publish --configuration Release --runtime win81-x64` and then firing off the `.exe`.

https://github.com/GuardRex/repro

[code]

[2016-04-02 05:03] davidfowl commented on #4399
Should never be null.

/cc @JunTaoLuo

[2016-04-02 05:25] GuardRex commented on #4399
@davidfowl ... well ... [You didn't guess that @guardrex would find this! :smile: Com'on man.]

https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L268

[2016-04-02 05:26] davidfowl commented on #4399
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L166

[2016-04-02 05:28] GuardRex commented on #4399
I want to see `hostingServices.BuildServiceProvider()` next.

[2016-04-02 05:28] davidfowl commented on #4399
I can repro the bug with your repository.

[2016-04-02 05:29] GuardRex commented on #4399
I just want to dig a little deeper than I normally do on these.

[2016-04-02 05:41] davidfowl commented on #4399
So the issue is that MVC is looking at the raw `IServiceCollection` before it's fully built up and we haven't even assigned the name as yet.

[2016-04-02 05:51] GuardRex commented on #4399
I see ... so nothing wrong on this side of the ledger ... MVC being a little naughty here. :stuck_out_tongue_winking_eye:

[2016-04-02 06:02] javiercn commented on #4353
This is an example of why looking at the service collection is problematic https://github.com/aspnet/Mvc/issues/4399

[2016-04-02 08:03] javiercn commented on #4399
I've pushed a fix to hosting that will initialize the hosting environment instance earlier until we figure out an alternative solution for MVC. https://github.com/aspnet/Hosting/commit/4cbda0358b8401ee603421316cf1f3f8f8fb3745

[2016-04-02 08:08] GuardRex commented on #4399
@javiercn Thanks.

Is #4353 sufficient to track the main repair for this? If so, we can close here. I'm good. Thanks again.

[2016-04-02 08:19] javiercn commented on #4399
Yeah

[2016-04-02 08:26] #4399 closed

[2016-04-02 18:29] wesamco opened #4400 "Application startup exception: System.Reflection.TargetInvocationException"
repro https://github.com/wesamco/prepro
# Exception
[code]
# Environment data
[code]

[2016-04-02 18:31] #4087 closed

[2016-04-03 06:03] DamianEdwards commented on #3516
@rynowak could you verify that by adding a call to `@await FlushAsync()` in the page to "unstick" it, just to further validate the theory?

[2016-04-03 16:03] #4330 closed

[2016-04-03 17:14] pranavkm commented on #4334
Fixed in https://github.com/aspnet/Mvc/commit/330e98d1fc9318a799d5af792ceccd7c4d414029

[2016-04-03 17:14] #4334 closed

[2016-04-03 17:14] pranavkm commented on #4334
Fixed in https://github.com/aspnet/Mvc/commit/330e98d1fc9318a799d5af792ceccd7c4d414029

[2016-04-03 17:18] pranavkm commented on #4400
You're referencing an older version of `Microsoft.Extensions.DependencyModel`. Mvc is compiled against v1.0.0-beta-002202 which is what your app should be using (as opposed to `1.0.0-beta-002171` it is currently referencing).

[2016-04-03 17:19] pranavkm commented on #4327
We've updated to `1.0.0-beta-002202`. Feel free to reopen this if you're still seeing the error.

[2016-04-03 17:19] #4327 closed

[2016-04-03 21:50] #4366 closed

[2016-04-03 22:56] darrelmiller commented on #3732
In the announcement here https://github.com/aspnet/Announcements/issues/165 it says the following:

We now consider a type to be a controller if **all** of the following rules apply:
- The type is a public, concrete, non open generic class.
- [NonController]  is not applied to any type of the hierarchy.
- The type name ends with controller.
- [Controller]  is applied to the type or to one of its a

[2016-04-03 23:45] pranavkm commented on #3732
Think there's an OR between the last two clauses - the type name either needs to have a `Controller` suffix or must have a `ControllerAttribute` applied.

[2016-04-04 01:03] javiercn commented on #3732
@darrelmiller What @pranavkm says is correct, I've changed the announcement post. Thanks for noticing and reporting!

[2016-04-04 02:01] #4363 closed

[2016-04-04 17:00] rynowak commented on #3516
I'll hack this up and give it a try.

[2016-04-04 17:15] mnltejaswini commented on #3616
ModelExplorer has a cyclic struct that needs to be broken. This involves redesigning the way the explorer object is structured. Like representing the hierarchy of the explorer as some array and have indexes within the explorer. As this involves some design changes, we will hold on this for now.

[2016-04-04 18:15] danroth27 commented on #4312
Sorry, not yet. Just got back from a crazy week at the [BUILD](https://channel9.msdn.com/Events/Build/2016) conference. We'll take a look this week.

[2016-04-04 18:19] pantonis commented on #4312
crazy but really really exciting!!!

[2016-04-04 18:30] rynowak commented on #3516
Yeah, I don't think it's the I/O that's the issue here, it's compilation/startup.

What I noticed trying this again is that if I visit the page in a browser before hitting it with the load then the memory usage is normal.

If I hit the site with the load generator right away then memory spikes as soon as the page is compiled because there are lots of threads executing it.

You would hope that Flus

[2016-04-04 19:15] rynowak commented on #4335
![image](https://cloud.githubusercontent.com/assets/1430011/14260148/f53c9340-fa5e-11e5-8773-b6efc5ef0c0d.png)

[2016-04-04 19:16] javiercn commented on #4335
@rynowak already took measurements this morning, so I'm closing this as fixed :)

[2016-04-04 19:18] #4335 closed

[2016-04-04 21:55] erandros opened #4404 "TagHelpers XML documentation"
My Tag Helper is being colored and works ok, but the XML documentation provided is not being shown with Intellisense.

The class with `summary` tag (the same way as shown in the Razor TagHelpers):
![image](https://cloud.githubusercontent.com/assets/4072352/14264591/60b2b938-fa96-11e5-9975-8ffb25e44cd9.png)

Intellisense result:
![image](https://cloud.githubusercontent.com/assets/4072352/14264381/0

[2016-04-04 22:35] NTaylorMullen commented on #4404
@erandros glad to hear you're loving `TagHelper`s! The reason why you're currently not seeing the documentation in your IntelliSense is because you haven't built packages for your project. If you build packages for your library and consume it that way your IntelliSense will light up. Note: This will not be an issue in RC2.

[2016-04-04 23:03] NTaylorMullen opened #4405 "Remove VSRC1 projects"
Once we have successfully signed bits we should remove the VSRC1 projects.

Commits to revert (in dev and release):
https://github.com/aspnet/Mvc/commit/687fd72efdeefb9d4445619840358c7544cc5286
https://github.com/aspnet/Mvc/commit/a140440196eda89710e44f18b5d884b07476e260
https://github.com/aspnet/Mvc/commit/698980943a2ad5ed3772c3e69a03b4ee8bdbbdf7
https://github.com/aspnet/Mvc/commit/3ebb14ee4b7c0

[2016-04-05 00:38] erandros commented on #4404
Ok, good to hear that!

[2016-04-05 00:59] JunTaoLuo opened #4407 "Occasional hanging test ProcessAsync_ExceptionInProcessing_DoesntBlockConcurrentRequests"
I am seeing occasional hangs of this test https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.TagHelpers.Test/DistributedCacheTagHelperTest.cs#L606 on Linux (http://aspnetci/viewLog.html?buildId=79739&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&tab=buildLog#_focus=80061) and have been able to reproduce it on a local machine.

I'm not too sure what the test does or why it's hangi

[2016-04-05 01:02] sebastienros commented on #4407
I should take care of this. When you say locally, you still mean Linux?

[2016-04-05 01:03] JunTaoLuo commented on #4407
Yes I reproduced it on my local linux vm.

[2016-04-05 02:02] kwaclaw commented on #4339
As long as issue https://github.com/aspnet/Mvc/issues/4270 is not fixed, the workaround requires to be able to derive from JsonInputFormatter and have access to the base constructor.

[2016-04-05 02:20] #4404 closed

[2016-04-05 06:06] javiercn opened #4409 "Consider removing support for modifying the JsonSerializerSettings after startup"
JsonOutputFormatter "allows" to change the settings at runtime, this is different from what JsonInputFormatter does, so It leaves me wondering, is there really an scenario for changing the settings after startup, or is this just the case that we wrote the code but didn't think the scenarios through?

[code]

I don't think we should support this scenario as it's inconsistent with the scenarios in J

[2016-04-05 12:43] omuleanu commented on #324
why is ModelMetadata.AdditionalValues a readonly dictionary, I can't Add anything to it,
in mvc 5 I was using it in custom attributes to add values that would be used in custom helpers and editor templates

[2016-04-05 13:02] kwaclaw commented on #4270
Just curious: Is there a reason why the JsonOutputFormatter does *not* use an object pool for the Json serializer?

[2016-04-05 14:27] Antaris opened #4410 "Passing complex objects to controller actions through route data"
Hi Team,

A trick we could use previously on MVC was to set a complex value in the route data (e.g., in a route constraint) and have that value persist through to a controller action - I think the current model binder in MVC6 flowed the value through directly instead of trying to create one.

In ASP.NET Core MVC, the model binder exclusively works with string values (https://github.com/aspnet/Mvc/

[2016-04-05 14:32] scottt732 commented on #4410
I have a similar issue.  In MVC 5 I was using ValueProviders to perform DB lookups.

    [Route("Users/{userId}")]
    public IActionResult Details(int userId, UserModel user)
    {
        // user is populated by a UserValueProvider.  It reads userId from the route parameters,
        // performs a DB lookup, and returns a model as a ValueProviderResult.
    }

If I was misusing value providers,

[2016-04-05 14:50] rynowak commented on #4270
The objectpool isn't needed for output because we can use a single shared instance.

For input we need to attach to the "errors" callback so each `JsonSerializer` is stateful while it's being used

[2016-04-05 15:32] dougbu commented on #324
@omuleanu the `ModelMetadata.AdditionalValues` property is a `IReadOnlyDictionary<object, object>` to ensure `ModelMetadata` instances are immutable. Immutability is a requirement for `ModelMetadata` in the new system.

You should write a `IDisplayMetadataProvider` implementation which populates `DisplayMetadataProviderContext.DisplayMetadata.AdditionalValues` as you wish.

[2016-04-05 15:55] #4398 closed

[2016-04-05 15:58] Eilon commented on #4393
@veccsolutions to silence log messages you can filter by both log level *and* by category. And categories tend to be hierarchical because they are structured around namespace and type names. So, you could easily silence all logs that start with `Microsoft.AspNetCore.Mvc` and you won't see *any* MVC logs.

[2016-04-05 15:58] #4393 closed

[2016-04-05 15:59] Eilon commented on #4389
@jcsotoo92 which version of `dotnet`? (run `dotnet --version` to find out) And which version of MVC? (Please share your `project.json` file).

@pranavkm any idea?

[2016-04-05 15:59] #4374 closed

[2016-04-05 16:01] Eilon commented on #4392
@FredyWenger the SqlClient library is part of CoreFX, so I recommend logging an issue at https://github.com/dotnet/corefx/issues/ to find out the latest info. Thanks!

It looks like you may have found some related issues discussing this already:
* https://github.com/dotnet/corefx/issues/1039
* https://github.com/dotnet/corefx/issues/2065

[2016-04-05 16:01] #4392 closed

[2016-04-05 16:03] Eilon commented on #4400
@wesamco can you confirm if that fixes the problem?

[2016-04-05 16:21] pranavkm commented on #4389
This should be fixed when you update to the CLI that Mvc is building with - `1.0.0-beta-002202`

[2016-04-05 16:29] FredyWenger commented on #4392
@Eilon
**Thanks for your posting.**
Unfortunately the first linked thread is closed already.
On the second linked thread, I have posted already a view days ago and received no answer :-(
**I don't understand that... such an important thing is not included in a RC version... **
However, as I don't receive any answer (I also have opened a MSDN-ticke with no usable answer), it seems **as I have to st

[2016-04-05 16:37] BrennanConroy commented on #4407
This is also happening on Windows
http://aspnetci/viewLog.html?buildId=80003&buildTypeId=XPlat_Windows_Win10Universe&tab=buildLog#_focus=97433

[2016-04-05 16:45] sebastienros commented on #4407
Thanks, that helps. I already have a fix locally that I am testing, but it should just be an issue with the unit test itself, not the feature. The test is trying to test a specific multi-thread scenario and it appears it can go in a wrong state. I have already fixed a similar issue on the same unit test, apparently it's not enough.

[2016-04-05 16:52] omuleanu opened #4411 "is there some replacement for HttpUtility.HtmlAttributeEncode"
I would like to know what are we supposed to use in asp.net 5 / mvc 6 instead of HttpUtility.HtmlAttributeEncode,
WebUtility has only HtmlEncode

[2016-04-05 16:56] dougbu commented on #4411
Use `HtmlEncode()` (or `@Html.Encode()` if in a view). The prior distinction between attribute encoding and "regular" encoding was confusing and neither safe nor faster.

/cc @blowdart

[2016-04-05 17:00] omuleanu commented on #4411
I presume WebUtility.HtmlEncode(str)
and also now it doesn't matter if you're using single or double quotes for your attributes ( with attribute encode double quotes was required )

[2016-04-05 17:06] blowdart commented on #4411
HtmlEncode now does what is necessary for attribute encoding too. Which is why you can use @ in your views in either case.

[2016-04-05 17:09] omuleanu commented on #4411
also, I see we get an IHtmlEncoder in
`public void WriteTo(TextWriter writer, IHtmlEncoder encoder)`
is calling this encoder like this: `encoder.HtmlEncode` any different from
`WebUtility.HtmlEncode`

[2016-04-05 17:12] blowdart commented on #4411
Yes. WebUtility only replaces the minimum of characters, using a blacklist approach. IHtmlEncoder uses a white listing approach and is more configurable.

I'd strongly suggest taking an IHtmlEncoder into wherever you need to encode.

[2016-04-05 17:17] omuleanu commented on #4411
WebUtility can be accessed anywhere whereas IHtmlEncoder only in WriteTo afaik,
can we do something like this:
var urlhelper = Html.ViewContext.HttpContext.RequestServices.GetRequiredService<IUrlHelper>()
var encoder = Html.ViewContext.HttpContext.RequestServices.GetRequiredService<IHtmlEncoder>()
?

[2016-04-05 17:25] blowdart commented on #4411
I need way more context about where you're trying to encode. If you register your classes in DI you can take an IHtmlEncoder in your constructor quite happily.

[2016-04-05 17:32] omuleanu commented on #4411
well sometimes I'm encoding strings before rendering the html for the helper/component where I have the IHtmlEncoder from the WriteTo method
but there's also a situation like this:
public class Content{
...
private string content;
public string Content
{
     get{ return content.Encode(); }
}
}
used to have an internal extension Encode that was calling AttributeEncode

[2016-04-05 17:39] blowdart commented on #4411
Honestly I'd leave rendering to the point of output, for example the view.

[2016-04-05 17:43] omuleanu commented on #4411
well, a collection of these Content objects are loaded via ajax and used in js to generate html, so that would mean encoding them in js, or leaving the responsibility of encoding on the user of the Content class

[2016-04-05 17:47] blowdart commented on #4411
Oh no no no don't do it that way. Create DOM objects in JS. That way everything gets encoded correctly for the context it's used in.

[2016-04-05 17:50] #4270 closed

[2016-04-05 17:54] omuleanu commented on #4411
you mean doing something like this in js:
str // not encoded,may contain ' or "
var html = "<input value='"+str+"' name='x1' />";

[2016-04-05 17:55] blowdart commented on #4411
https://stackoverflow.com/questions/8314712/how-do-i-dynamically-populate-html-elements-with-json-data-with-javascript-not-j

That might give you guidance, it's kinda out of scope here :)

[2016-04-05 18:09] #4411 closed

[2016-04-05 18:27] jcsotoo92 commented on #4389
My dotnet version is 1.0.0-beta-001598, how can i update it?

[2016-04-05 22:35] Bartmax opened #4414 "Migrating RC1 to RC2. Static files not working"
I migrated a project from RC1 to RC2 to the point I could build and run.

I'm facing a problem where static files is not working. css, js, etc are not picked up.

I have the `app.UseStaticFiles()` middleware.

project json also has:
[code]

any idea how can i debug this?

[2016-04-06 05:07] davidfowl opened #4416 "Package System.Runtime.Serialization.Xml 4.1.0 fails to restore with netstandard"
We need to upgrade System.Runtime.Serialization.Xml to `4.1.1-*`:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Xml/project.json#L40

[code]

[2016-04-06 06:30] davidfowl commented on #4416
fixed in https://github.com/aspnet/Mvc/commit/4b348699c80afbca774f7cb116c7f442531e738f

[2016-04-06 06:30] #4416 closed

[2016-04-06 11:59] wesamco commented on #4400
@pakrym  @Eilon I specified in project.json to use the newer
it fixed it

[2016-04-06 15:05] rynowak commented on #4270
This should be fixed now. Also @kwaclaw FYI the recommended way to set JSON.Net settings is with the `AddJsonOptions(...)` api on the builder.

[code]

Doing it this will way affect all of the places in MVC where we use JSON.Net.

Your way should work too, but will only affect the input formatter, just an FYI.

[2016-04-06 15:23] bbehrens opened #4417 "Assembly conflicts with the latest vnext nugets"
I'm just taking a best guess as to the proper repository to report this issue in.  Please move to the correct one if this is wrong.

### Title
After upgrading to the latest version of the dev nugets 20466 I'm getting a bunch of assembly reference errors running 1.0.0-rc2-16595

### Functional impact
Code won't compile, run etc

### Minimal repro steps
My project.json

https://gist.github.com/bbehr

[2016-04-06 15:35] pierre-weceipt opened #4418 "Inject custom taghelpers in Html.Raw()"
Hi, I'm wondering if we can inject some new MVC and custom taghelpers in the razzor view with `@Html.raw()` and have them processed?

[2016-04-06 15:38] #4400 closed

[2016-04-06 16:42] #4407 closed

[2016-04-06 17:00] sunsided commented on #3732
For unit testing, is there a way to detect controllers in a different assembly (e.g. my main server project)? That seems to be broken for me at the moment.

[2016-04-06 17:07] javiercn commented on #3732
@sunsided, I'm not sure I understood what you meant. Are you saying that controllers on separate assemblies are not showing up on your app? If that is the case, can you look at the list of application parts in IMvcBuilder (returned from AddMvc()) and see if the assembly is there? It will also be useful to know if you are using dnx or dotnet CLI and if you have preserveCompilationContext: true on y

[2016-04-06 17:17] sunsided commented on #3732
@javiercn That was quick, thanks. Will have a look at all that tomorrow and report; it's a `net451` project built with `dotnet`, using the xUnit console runner as a workaround, unit tests are in a separate assembly using the `TestServer`. (Used to work back in `dnx451` days.)

[2016-04-06 17:18] Eilon commented on #4414
This should be a working sample: https://github.com/aspnet/Mvc/tree/dev/samples/MvcSandbox

Can you compare your app to this and see what differences there are?

[2016-04-06 17:19] Eilon commented on #4418
@pierre-weceipt what exactly are you trying to do?

[2016-04-06 17:54] omuleanu opened #4419 "service locator to use in static context"
is there a service locator in mvc 6
I need to use IApplicationEnvironment  (replace old Server.MapPath)
but inside an html helper (static method), so I don't have a constructor to resolve this service

[2016-04-06 17:59] Muchiachio commented on #4419
In RC1, there may be a shorter way, but who knows
[code]

[2016-04-06 18:06] omuleanu commented on #4419
I'm using Microsoft.AspNet.Mvc 6.0.0-rc1-final
and it tells me that `IServiceProfived.GetType(Type) cannot be used with type arguments`
so I have to do something like this:
[code]

[2016-04-06 18:18] pranavkm commented on #4419
You need to include `Microsoft.Extension.DependencyInjection`. The `IServiceProvider.GetSerivce<T>` extension method is located in it.

[2016-04-06 18:21] omuleanu commented on #4419
thnx, this compiles

[2016-04-06 18:21] #4419 closed

[2016-04-06 19:11] rynowak commented on #3659
Load balancing for RC2

[2016-04-06 20:36] rustd opened #4420 "Updating jQuery Unobtrusive Ajax scripts"
We are using these scripts in MVC 5 as well. Today we are only updating them in bower and npm.
Should we update the NuGet package (https://www.nuget.org/packages/Microsoft.jQuery.Unobtrusive.Ajax/) for MVC 5 as well.

[2016-04-06 22:12] pierre-weceipt commented on #4418
I'm building a kind of "html Template editor". Templates that are then used to display content with data depending on the user (like graphs, etc.).
I first thought of using some key-word in the Template and then switching it in my controller with html code containing the data but then thought of using taghelpers. As I'm using alloyeditor as a UI for the text parts of the template it is easy for me

[2016-04-06 22:14] Bartmax commented on #4414
Thank you. I figured it out. turned out to be folder structure error on my side.

[2016-04-06 22:14] #4414 closed

[2016-04-06 22:47] Eilon commented on #4414
Great!

[2016-04-06 22:58] Eilon commented on #4418
@NTaylorMullen @dougbu any thoughts on this?

The thing with tag helpers is that they're intended to be *declarative*, and then ASP.NET/Razor calls them to do their work. The idea is that the developer writes some cool HTML-looking markup, gets awesome Intellisense and syntax highlighting, and then the tag helpers to go work and produce some output HTML.

It's certainly possible to "`new` up" a ta

[2016-04-06 23:09] dougbu commented on #4418
- @pierre-weceipt do you want to use tag helper instances directly? Or is your idea to generate Razor code, run MVC's Razor view engine to generate C# and compile that, then execute the new class against a model? Or perhaps store generated HTML from tag helpers in a view model and use `@Html.Raw()` in static `.cshtml` files?
- An additional downside to passing anything through `@Html.Raw()` is per

[2016-04-06 23:21] sivagms commented on #4398
@pranavkm  @davidfowl
This fix is not present in 2202 build. so are we taking build newer than 2209 ?

[2016-04-06 23:25] Eilon commented on #4389
@jcsotoo92 links to all the installers are in the readme file here: https://github.com/dotnet/cli/

[2016-04-06 23:25] Eilon commented on #4389
Closing because as far as we know this issue is fixed in the latest builds.

[2016-04-06 23:25] #4389 closed

[2016-04-06 23:28] pranavkm commented on #4398
Yeah - we're working on getting an updated CLI.

[2016-04-06 23:38] kwaclaw commented on #4270
Good to know, thanks.
In my case though I want only the input formatter configured like that.

On Wed, Apr 6, 2016 at 11:06 AM, Ryan Nowak <notifications@github.com>
wrote:

[2016-04-06 23:40] rynowak commented on #4410
I'd suggest writing a custom model binder rather than a value provider for both of these cases.

Model binders get to look at the type of model being bound and can do the appropriate thing when it's `UserModel` or `Link`. Model binders can be scoped to a single parameter/property or based on the model type.

Value providers are intended to represent "raw" user input that's sent over the wire as ke

[2016-04-07 07:39] pierre-weceipt commented on #4418
@Eilon : Taghelpers with highlighting and IntelliSense is really cool but just being able to convert a custom tag generated elsewhere in regular html is already a huge thing (at least for me).

@dougbu : I'm already storing HTML generated in my editor as a string and thought of including taghelpers to manage dynamic content. I wanted to then pass the string in a view model and use `@Html.Raw()` in

[2016-04-07 08:25] DavidEmanuelsen opened #4423 "Loading strongly typed views from external assemblies which are loaded runtime"
Hi,

We are currently working on an application which needs to load external asssemblies containing strongly typed views and models which are to be used in a generic controller. We've gotten as far as loading the assemblies using a custom AssemblyProvider, and we're able to load the views using either a custom file provider loading the views from the database or using the new EmbeddedFileProvider,

[2016-04-07 08:52] davidfowl commented on #4423
There's no real nice way to plug this in in RC1, we added an API to do it in RC2.

[2016-04-07 10:11] sunsided commented on #3732
@javiercn `preserveCompilationContext: true` in the unit test assembly did the trick, thanks alot!

[2016-04-07 15:39] rynowak commented on #4423
@pranavkm - can you provide an example of how to configure the Razor compilation assemblies?

[2016-04-07 15:47] VSG24 commented on #3810
I also face this. So annoying but at least ternary syntax works for now.

[2016-04-07 16:38] Eilon commented on #4390
We are unable to understand this issue. You can still use global static fields in ASP.NET Core (ASP.NET 5).

[2016-04-07 16:38] #4390 closed

[2016-04-07 16:45] rynowak commented on #4376
Poaching since I found 5 mins to fix this

[2016-04-07 16:46] pranavkm commented on #4423
There's a callback on `RazorViewEngineOptions` that lets you configure the Roslyn compilation context:

[code]

[2016-04-07 17:08] davidfowl commented on #4423
That's RC2 the RC1 way is well, super hard 😄

[2016-04-07 17:08] davidfowl commented on #4423
btw does this actually work?

[2016-04-07 17:11] pranavkm commented on #4423
If it's a sequence of `AssemblyName` instances, it should. Essentially what we do during controller discovery.

[2016-04-07 17:11] davidfowl commented on #4423
The references are roslyn metadata references not assemblies.

[2016-04-07 17:15] kichalla commented on #4347
The request formation related to a log message is captured through a log scope at the hosting layer, so as @rynowak mentioned a logger must capture this scope and decide if to log this information with every message or not.

For example, Serilog's logger captures the scope information and you could use a log sink like `AzureDocumentDb` to store that information.

[code]
Once you do the above, ever

[2016-04-07 17:25] pranavkm commented on #4423
Oops, fixed the sample.

[2016-04-07 18:02] kichalla commented on #4164
@flcl42 why are you doing this?
[code]

[2016-04-07 18:30] shawnwildermuth opened #4426 "View Name Searching is case sensitive on Linux/Mac"
I accidently named a view ./Views/Root/index.cshtml (note the lowercase i) and it works on windows fine but when I deployed it to a Linux image, it failed to find it. The controller looks like this:

[code]

I changed it to fix it by capitalizing the view name, but I wonder if this is a bug or a feature. Is this expected behavior or should it work the same regardless of what platform it is hosted

[2016-04-07 18:57] pranavkm commented on #4426
We intentionally use the casing used in the action name. You could use a `ViewLocationExpander` to produce paths with a specific casing if you'd like.

[2016-04-07 21:29] AcousticGuitar opened #4427 "Generating View Without a DBContext is still not Supported"
VS2015 Community Update 2, 1.0.0-rc1-update1 of (DNX SDK)

Attemtpting to create a view is giving the error listed above even though the view does not need EF within it.  The Wizard will not enable the Add button until the Model is filled in for a "Details" view.  However, attempts to add without filling in the DBContext portion issues the message listed in headline.

[2016-04-07 22:26] shawnwildermuth commented on #4426
Just don't want there to be differences on different platforms.  If case is important it should fail on Windows too

[2016-04-07 23:33] ryanbrandenburg opened #4428 "Update sample projects"
Going forward all sample projects should have these changes:
In your Startup.cs you must include
[code]
in your project.json you need
[code]
Samples:
- [x] ActionConstraintSample.Web
- [x] CustomRouteSample.Web
- [x] EmbeddedViewSample.Web
- [x] FormatFilterSample.Web
- [x] InlineConstraintSample.Web
- [x] JsonPatchSample.Web
- [x] LocalizationSample.Web
- [x] MvcSandbox
- [x] MvcSubAreaSample.Web

[2016-04-08 00:28] rsbavaresco opened #4430 "MissingMethodException: Method not found at 1.0.0-rc2-*"
Hi,

Referencing packages from RC2 (aspnetcidev endpoint) throws Missing Method Exception at runtime when:

[code]

Current project.json:
[code]
Stack trace:

[code]

I tried to add another versions of three packages too:

[code]

Nothing changed the exception throwed and it was working at 20270 build. I would like to freeze my build at latest RC2 version and to be waiting for RC2 release. It woul

[2016-04-08 07:17] flcl42 commented on #4164
@kichalla cos I build app with interactive console and want to run server in separate non-blocking thread. It also required while develop modular apps.

[2016-04-08 07:32] halter73 commented on #4430
Maybe this something to do with the fact that we started publishing rc3 packages. Instead of getting the latest version of *every* package, you might be getting the rc2 version of the packages you directly reference, but the rc3 versions of your transitive dependencies and therefore aren't getting coherent bits.

I think the fix is to switch from the  https://www.myget.org/F/aspnetcidev/ feed to t

[2016-04-08 12:26] rsbavaresco commented on #4430
None RC3 dependencies were downloaded, even with ``` aspnetcidev ```.

I switched from ``` aspnetcidev ``` to ```aspnetvnext ``` feed, clear all nuget caches, deleted my old ```project.lock.json ``` and runned ``` dnu restore ``` from command line. Same error.

Now:

[code]
Attached files: project.json, project.lock.json, NuGet.config

[github.zip](https://github.com/aspnet/Mvc/files/210119/github

[2016-04-08 13:59] pranavkm commented on #4430
Are you using DNX to build your application?

[2016-04-08 14:59] rsbavaresco commented on #4430
Yes, nothing different I made from RC1 to RC2 to compile, except download RC2 dnx runtime and modify project.json file.

[2016-04-08 15:10] pranavkm commented on #4430
This is a known issue - DNX is compiled against an older build of Roslyn. I haven't gotten around to updating it as yet.

[2016-04-08 16:23] rynowak commented on #4376
d4c7dc3a834edc507865816a59960c5b31f9b10c

[2016-04-08 16:23] #4376 closed

[2016-04-08 16:23] applenele opened #4431 "SubArea Returns the view mistakes"
SubArea Returns the Area views

[2016-04-08 16:31] rsbavaresco commented on #4430
Ok. Two questions:

- Is there another way to build my application at ```1.0.0-rc2-20466```?
- Is there an issue whose could I follow the state of your update at DNX ?

Thank you!

[2016-04-08 16:35] pranavkm commented on #4430
Tracking DNX changes via https://github.com/aspnet/dnx/issues/3397

[2016-04-08 17:01] Bartmax commented on #4426
totally agree with @shawnwildermuth this is **not** a minor issue.

[2016-04-08 17:09] #4367 closed

[2016-04-08 17:26] #4423 closed

[2016-04-08 17:28] danroth27 commented on #4431
Could you please share with us your project and provide more details on the behavior you are expecting?

[2016-04-08 17:29] #4430 closed

[2016-04-08 17:33] danroth27 commented on #4427
@prafullbhosale Can you take a look?

[2016-04-08 17:35] Eilon commented on #4367
@mnltejaswini needs to be marked as done?

[2016-04-08 17:39] danroth27 commented on #4426
The view discovery convention is file system based and we don't have any plans to change that. It is not a goal of ASP.NET Core to completely eliminate the differences between platforms.

[2016-04-08 17:39] #4426 closed

[2016-04-08 18:43] kichalla commented on #4164
@flcl42 if the data in the request body is of content type `application/x-www-form-urlencoded`, then you must not be using `FromBody` attribute. This attribute is for content types like `application/xml`, `application/json` etc. Try your scenario again by removing FromBody and let us know

[2016-04-08 18:52] flcl42 commented on #4164
@kichalla but am using `application/json`

[2016-04-08 19:16] kichalla commented on #4164
In that case

- In the controller' action, can you check if the `ModelState` is valid and see if it has any errors.
- Can you share how your json data looks like and also of the `InputData` parameter?

[2016-04-08 19:27] rynowak commented on #3659
a55544681dfb8f23870c2144ed5618a41a1580fb

[2016-04-08 19:27] #3659 closed

[2016-04-08 22:15] ikourfaln commented on #3516
Hi,
So **[rynowak](https://github.com/rynowak)**, did you find a solution for this issue, because I see that you closed it.
Thanx for your hard work :wink:

[2016-04-08 22:18] rynowak commented on #3516
We didn't close the issue, we just haven't identified any additional work for RC2.  Take a look at the data here: https://github.com/aspnet/Mvc/issues/3516#issuecomment-203647621

The main change that we had to make was to make TagHelpers smarter in some cases about when they run and not. We've also put a lot of work into the backing buffer that Razor writes to which has helped as well.

[2016-04-08 23:00] ikourfaln commented on #3516
Hmmmm :+1:
Thanx for sharing infos, and for your hard work too.
Cheers from Morocco.

[2016-04-08 23:09] dougbu commented on #4116
a0c8834 and merged into `dev`

[2016-04-08 23:09] #4116 closed

[2016-04-09 00:30] DavidObando opened #4434 "DefaultCollectionValidationStrategy allocates RuntimeMethodInfos in function of the data being validated"
DefaultCollectionValidationStrategy allocates RuntimeMethodInfos in function of the data being validated. That means that if we're sending a large payload, or large amounts of payloads, or a combination of both, where the data being validated contains collections, we'll allocate a very large amount of RuntimeMethodInfo objects.

This is caused by code that creates a new MethodInfo that calls GetEn

[2016-04-09 03:58] DavidObando commented on #4434
On a test based on clients sending (HTTP POST) large JSON payloads I'm seeing a very positive change. Before the change, the number of RuntimeMethodInfo allocations was a function of the payload being received:

![image](https://cloud.githubusercontent.com/assets/950290/14401609/a7b433ba-fdcb-11e5-9ac5-8f89e407b991.png)

In the image above the test allocated 49,616,241 objects (4,228,118,588 bytes

[2016-04-09 04:13] DavidObando opened #4435 "Many unused instances of ModelErrorCollection during model validation"
Class `ModelStateDictionary` initializes a root `ModelStateNode` and then creates new child nodes during validation of a model. Class `ModelStateNode` inherits `ModelStateEntry` which has a non-null complex field of type `ModelErrorCollection`. This field is non-null as it's initialized on the constructor of `ModelStateEntry`, which is unnecessary.

We should lazily initialize the field with a Mod

[2016-04-09 05:53] dougbu commented on #4435
`ModelStateDictionary` checks `Errors.Count` on `ModelStateNode` multiple times. Would be surprising if lazy initialization saved many `ModelErrorCollection` instances. Have you measured that part of this PR on its own?

[2016-04-09 06:21] DavidObando commented on #4435
Yes, the count of elements went down to zero in my memory profile. I'll add more details when I get back to my workstation.

[2016-04-09 15:32] omuleanu opened #4437 "validate Viewmodel without ModelState/post/controller"
hi,
having a viewmodel with attributes defined

[code]

is it possible to validate it without going through the form post
something like

[code]

[2016-04-09 18:26] TrainedApe commented on #4275
I am excited by (ASP).NET Core and am appreciative of the massive amount of work done so far; however, not having any kind of time frame to show prevents me from pushing it for new projects with a projected release at the end of 2016.  It's been a couple of months now since the original RC2 date was nullified and to not even have a new preliminary schedule in that time is something I usually assoc

[2016-04-09 18:38] miloush commented on #4275
@TrainedApe I would recommend Accomplishments section at  https://blogs.msdn.microsoft.com/webdev/2016/04/06/notes-from-the-asp-net-community-standup-april-5-2016/

[2016-04-09 18:57] danroth27 opened #4438 "Consider logging filter execution"
We don't log filter execution today. This information could be useful for customers trying to figure out what filters are executing and in what order.

[2016-04-09 20:26] dougbu commented on #4437
Use the `TryValidateModel()` methods available in your controller if you've inherited from `Controller`.

[2016-04-09 20:35] omuleanu commented on #4437
this  returns a bool,
I need to pass in an instance of an object and get a dictionary (field, error message)
actually I would do this in a loop for many objects,
is this possible now ?

[2016-04-09 20:38] dougbu commented on #4437
Look at the `ModelStateDictionary` if the method returns `false`.

[2016-04-09 20:40] omuleanu commented on #4437
so basically
call TryValidateModel
if false, get the dictionary result from ModelStateDictionary
repeat as many times as needed
any plans to make this functionality accessible directly, not via controller and modelstate ?

[2016-04-09 21:06] dougbu commented on #4437
`ModelStateDictionary` _is_ an `IReadOnlyDictionary<string, ModelStateEntry>` (`IDictionary<string, ModelStateEntry>` in RC1 and earlier). What's indirect?

More generally why repeatedly set values in your model until it's valid? If you're mapping those values from user input i.e. a form submission, I'd expect a one-shot process.

[2016-04-09 21:20] omuleanu commented on #4437
it's not about setting the model until it's valid,
it's for batch editing,
the user modifies multiple items at once and the changes are sent via js/ajax to the server and I would need to pass back the errors (if any) for each item
the model received doesn't contain the ViewModel that I'm validating but rather a collection of tuples {id, "Property", NewValue}
after I would get the items from the Db

[2016-04-09 23:54] TrainedApe commented on #4275
@miloush Thank you that does give some more insight.  To summarize they hope for April  so hopefully that means RC2 will be no later than sometime in May.

[2016-04-10 11:20] cuicheng11165 opened #4439 "Run build.cmd failed."
I checkout and run build.cmd. I got this message.
KoreBuild.ps1 Line 62
 &dotnet restore "$toolsProject" --packages "$PSScriptRoot" -f https://www.myget.org/F/dnxtools/api/v3/index.json -v Minimal

Error Info:
The structure of init data has changed, do not know how to interpret it

[2016-04-10 12:46] #4439 closed

[2016-04-10 12:46] cuicheng11165 commented on #4439
I fixed this issue by reinstall dotnet.

[2016-04-11 06:59] omuleanu opened #4442 "custom error handling"
hi,
I'm trying to get custom error handling in mvc 6,
I found that I need to do this in Startup.cs
`app.UseExceptionHandler("/Home/Error");`

and have this action
[code]
but I would also need the exception object, so I could get the error message;
another problem is that it's not being used all the time, for example I'm doing an ajax post that should return a partialview and getting "HTTP Error 50

[2016-04-11 09:01] omuleanu opened #4443 "set current culture to browser culture by default (validation)"
In mvc 5 I had this in web.config:
`<globalization culture="auto" uiCulture="auto"/>`
this way I was getting the browser culture when calling:
`Thread.CurrentThread.CurrentCulture`

what's the equivalent of this in mvc 6 ?

atm the default culture is the one used by my windows not by the browser

[2016-04-11 09:40] vipasane commented on #4336
@prafullbhosale is there any link that you could share to follow up this issue or bug in TFS?

[2016-04-11 15:08] AlexAlappsis opened #4444 "Middleware path-based mapping reapplies to PathBase on unhandled exception"
When adding a middleware mapping with IApplicationBuilder.Map(), the map path is reflected in HttpContext.Request.PathBase. If the application experiences an unhandled exception, and the IApplicationBuilder isn't setup with an exception handler(i.e. UseDeveloperExceptionPage()) the PathBase will be appended to.
So if my map is "/v1", after an unhandled exception the HttpContext.Request.PathBase wi

[2016-04-11 15:54] Eilon commented on #4418
@pierre-weceipt can you show what kind of syntax you're imagining? E.g. something like:

[code]

?

[2016-04-11 16:01] pierre-weceipt commented on #4418
@Eilon Exactly, except that the following part would be passed through the model
[code]

[2016-04-11 16:45] Eilon commented on #4418
Sorry, what do you mean by "passed through the model"?

[2016-04-11 17:29] pierre-weceipt commented on #4418
I would have Something like this

A viewmodel :
[code]
A controller :

[code]

And the view

[code]

[2016-04-11 17:38] NTaylorMullen commented on #4418
@pierre-weceipt we currently do not have any "nice" way to perform dynamic TagHelperification of output. `TagHelper`s are typically a compile time feature. If you'd like to build snippets and pass them to views I'd recommend throwing that HTML content into a partial, that way you'll be able to get all the `TagHelper` greatness.

If you absolutely must have a string that you then want to activate `

[2016-04-11 17:41] DavidObando commented on #4435
@dougbu @rynowak I ran a test of 1500 POST calls with JSON payloads ranging between 14 KB and 500 KB. Here's the instance count of types with the text "Error" in it, before the change:

![image](https://cloud.githubusercontent.com/assets/950290/14436404/60174350-ffd1-11e5-9170-87b82407d1d7.png)

This is what I see after the change:

![image](https://cloud.githubusercontent.com/assets/950290/144364

[2016-04-11 17:45] rynowak commented on #4435
So 1 instance allocated/saved per request for what you're measuring :laughing:. I think you'd have to look at a model-binding (non-JSON) scenario to get any significant data.

My opinion: go ahead with the change you proposed, but leave the bug open. I think we need to measure more scenarios.

[2016-04-11 17:58] mdmoura opened #4445 "Remote Validation action is not executed"
Hello,

I am using ASP.NET CORE RC1 and I have the following model:

    public class AccountSignUpModel {

      [EmailAddress(ErrorMessage = "Email is invalid")]
      [Required(ErrorMessage = "Email is required")]
      [Remote("IsEmailAvailable", ErrorMessage = "Email already used", HttpMethod = "Post")]
      public String Email { get; set; }

    }

And I have the following controller:

[2016-04-11 18:06] pierre-weceipt commented on #4418
@NTaylorMullen the thing is that I'm receiving some content edited with a WYSIWIG editor with custom buttons to add some custom markers (html-like tags for ex) where I need to change things at display time. It can be different actions like :
- adding some specific html with fresh datas (charts for ex),
- display only a portion of the content (conditionnal processing);

Then I'm saving this html as

[2016-04-11 18:15] dougbu commented on #4445
Is client-side validation enabled? That is, confirm the following or the CDN equivalent appears in your layout:
[code]

[2016-04-11 18:32] mdmoura commented on #4445
Yes, I have those scripts on my master page an no error there.

A side question:
Can an Entity Framework DbContext be injected in a custom validator in ASP.NET Core?