[2015-10-31 01:33] Bartmax commented on #3447
Following the concepts proposed here, I want to add some input.

I love the idea of making this auto :+1:

instead of `[DontValidateAntiForgery]`, i think `[ValidateAntiForgery(false)]` it's very aligned with the framework and it looks great!

`@Html.AntiForgeryToken()` can do nothing (backcompat maybe in a shim) or be removed.

and the actual validation can only be executed on form request with `

[2015-10-31 14:48] kspearrin opened #3454 "Access Access ModelState In Middleware?"
Is it possible to access the `ModelStateDictionary` in a middleware class? I am looking to write a "catch all" `ModelState.IsValid` handler for every request for my API via middleware so I do not have to do the check in the controller actions all over the place.

[2015-10-31 19:16] dougbu commented on #3454
@kspearrin `ModelStateDictionary` is a MVC-specific feature. It's not filled in until model binding and validation occur -- just before invoking an action method.

However it's possible to write catch-all `ModelState.IsValid` checks other ways. For example the MVC functional test web sites include a couple of `ActionFilterAttribute` subclasses that do this -- [`ModelStateValidationFilterAttribute`

[2015-10-31 19:33] jods4 opened #3455 "Add back StatusDescription to HttpStatusCodeResult"
I think everything is in the title.
Previously in MVC HttpStatusCodeResult allowed users to customize the http status message returned to client.

[2015-11-01 17:32] Kagamine opened #3457 "[BUG][6.0.0-rc2-16242] Create a process in mvc6 will lost all of environment variables"
Related to https://github.com/dotnet/corefx/issues/4224 & https://github.com/aspnet/dnx/issues/3107

Confirmed a bug with MVC or the packages on which MVC depend.

The `System.Diagnostics.Process` will lost all of environment variables when you are using the package which named `Microsoft.AspNet.Mvc`

[2015-11-01 17:45] Kagamine commented on #3457
## Repro

### Startup.cs

[code]

[2015-11-01 17:49] Kagamine commented on #3457
If you remove Microsoft.AspNet.Mvc package from project.json, the process will not lost any environment variables. If you keep it in your project.json, Process will lost all of the environment variables.

[2015-11-01 17:50] Kagamine commented on #3457
/cc @davidfowl

[2015-11-02 00:43] ctolkien commented on #3447
+1 it should be safe by default. It's just a lot of boiler plate that we need to remember to add to forms/post methods.

[2015-11-02 02:15] Eilon commented on #3455
@Tratcher I think you've had thoughts on this before, and concluded that it was not a good idea. Do you recall the reason?

[2015-11-02 02:18] Eilon commented on #3454
Right, a global MVC filter is the way to do this. That would apply the filter to *every* MVC controller action method. Middleware is simply the wrong layer for this.

[2015-11-02 02:18] #3454 closed

[2015-11-02 02:21] kspearrin commented on #3454
Totally makes sense now that I think about it. Thanks for the tips.

[2015-11-02 02:48] Bartmax opened #3458 "Question about TagHelpers."
having a model like : `SomethingViewModel` as
[code]
where Something is:

[code]

Can I make a taghelper that in the cshtml works like this? :

[code]

so the context inside the repeat taghelper became something different than the context outside of it ? or should I use a partial for this kind of scenarios?

Thanks!.

[2015-11-02 03:03] Kagamine commented on #3457
"Microsoft.AspNet.Mvc": "6.0.0-*"
If you add this into your project.json even you didn't use any function of Mvc, It still lost all of the environment variables.

[2015-11-02 03:12] dougbu commented on #3458
@Bartmax tag helpers cannot change `ModelType` within the targeted element. You could have the `<repeat>` tag helper place a `Something` in a well-known slot in `ViewData`. But `@Name` would need to be `@ViewData["Well-Known"].Name` and nested tag helpers would still be using the view's `Model` and `ModelType`. All-in-all, a partial seems the better choice.

[2015-11-02 03:15] Kagamine commented on #3457
This is the full source to repro this issue.
https://github.com/Kagamine/ProcessMissingEnvironmentVariables

[2015-11-02 03:41] Tratcher commented on #3455
Won't fix. https://github.com/aspnet/HttpAbstractions/issues/395

[2015-11-02 04:38] Eilon commented on #3455
Done, thanks.

[2015-11-02 04:38] #3455 closed

[2015-11-02 04:39] Eilon commented on #3457
@davidfowl ever seen anything like this?

[2015-11-02 04:39] Kagamine commented on #3457
Confirmed beta8 is all ok
RC2 with mvc not works
RC2 without mvc works ok

[2015-11-02 04:40] Kagamine commented on #3457
@Eilon I am talking with davidfowl in JabbR

[2015-11-02 05:31] Bartmax commented on #3458
Thank you @dougbu ! I wasn't sure and yes partial feel better then!

[2015-11-02 05:31] #3458 closed

[2015-11-02 06:22] OlegKi opened #3459 "inlcuding package in dependencies part of project.json"
I posted [the pull request](https://github.com/aspnet/Mvc/pull/3456) before, but the answers reduced my suggestion to successful building of MVC beta8. Thus I open better new issues with the following question:

 - **Which packages should be included in `"dependencies"` part of `project.json`?**

[The line 308](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/Compilation/Rosly

[2015-11-02 06:33] jods4 commented on #3455
But... David Fowler said:

Just joking. I did not know it was removed from HTTP/2, which is a good reason to obsolete the feature. Also, there is a workaround available in the linked issue so it's not like it's undoable.

BTW my use case was that I was used to signal "expected" errors in a web api (e.g. failed validation) by returning an error http status with friendly explanation in the reason ph

[2015-11-02 06:35] dougbu commented on #3459
The choice of which dependencies to list beyond the minimum needed for correct compilation and execution is a developer's choice. In most of the ASP.NET 5 / MVC 6 / EF 7 codebase, we have chosen to list _only_ the minimum required. We have occasionally double-checked listed dependencies and removed those referenced transitively.

[2015-11-02 07:02] Kagamine commented on #3457
Moved to https://github.com/dotnet/roslyn-analyzers/issues/315

[2015-11-02 07:02] #3457 closed

[2015-11-02 09:28] OlegKi commented on #3459
Sorry, but "double-checked listed dependencies" seems to me not a strong enough rule. By examining of **the current** dependencies you suppose that **the next version** of all the dependencies will stay *the same*. If one follow the rule then the project can be broken after publishing one new version from direct or indirect depended package. Moreover I can imagine that the existing rules of resolv

[2015-11-02 15:06] dougbu commented on #3459
This issue was moved to aspnet/dnx#3113

[2015-11-02 15:06] #3459 closed

[2015-11-02 16:25] rynowak commented on #3447
We've had some more discussion internally about this since posting about it last week. The one scenario we're concerned about today is API endpoints that don't use antiforgery.

It's a small ask for a browser-based endpoint to do the right thing with antiforgery. Turning this on by default also means turning it on for APIs. We'll need to do the work here aspnet/Antiforgery#17 as well to make this

[2015-11-02 16:57] Eilon commented on #3455
@jods4 thanks for the extra details! Glad you got it working.

[2015-11-02 18:12] Shazwazza commented on #3412
Hi @rynowak , thanks for the response/questions. I think the IRouter approach actually makes the most sense for what we need to achieve since it provides the most flexibility (at least it seems to be based on my proof of concepts). To answer your questions:

1) No, Umbraco does not take control of the site, Umbraco stays 'out of the way' for developers so devs can create any MVC site they want and

[2015-11-02 18:30] rynowak commented on #3412
Thanks for replying Shannon. I'd agree with your assessment that routes sound like the best choice. We're in the process of optimizing the system for many many routes. We also see routing as the *engine* of multi-tenancy at this point, so what you're doing aligns very well with what we're planning to support in more general cases.

RE: 3). We're likely making more investment into routing this mile

[2015-11-02 18:30] #3412 closed

[2015-11-02 18:45] alexdresko opened #3460 "Not able to perform code analysis or collect metrics?"
It looks like it's not possible to collect code metrics or run a code analysis on an ASP.NET beta 8 project.. Is this something that is expected to be fixed, or is there a mitigation plan or recommendation?

![image](https://cloud.githubusercontent.com/assets/333022/10890760/de1627dc-8167-11e5-8978-994457118006.png)

![image](https://cloud.githubusercontent.com/assets/333022/10890767/e44acb44-8167

[2015-11-02 19:01] alexdresko commented on #3447
Act now. Ask for forgiveness later.

[2015-11-02 20:57] brockallen commented on #3447
API endpoints should be using bearer tokens for antixsrf.

As for doing this automatically, comparing to other frameworks: RoR does this automatically with a global config setting.

[2015-11-02 21:27] Eilon commented on #3460
Already logged here: https://github.com/aspnet/Tooling/issues/255

Thanks!

[2015-11-02 21:27] #3460 closed

[2015-11-02 21:33] alexdresko commented on #3460
Aha! Makes sense why I wasn't able to find that issue when searching this repo. It's an ASP.NET 5 project, not MVC...

Bonus question since I've realized that: Why is MVC a separate repo from the collective now known as ASP.NET? Is it simply because WebForms is a separate assembly (and thankfully so)?

[2015-11-02 21:40] RiteshPahwa opened #3462 "Convert.ChangeType(valueResult, typeof(T)) throws Object must implement IConvertible"
```var ret = (valueResult == null) ? default(T) : (T)Convert.ChangeType(valueResult, typeof(T));```

throws exception: Object must implement IConvertible. It was working in Beta7

It was implemented like

[code]

And calling it like:

[code]

For more reference see file:
https://github.com/RiteshPahwa/AspNetBlog/blob/6ca501284a7ef263bda86ebfbc990aa053fe4ae4/src/ASPNetBlog/App_Common/Paging/DataTab

[2015-11-02 21:40] Eilon commented on #3460
@alexdresko the 'aspnet' org on GitHub has all the newest open source components from Microsoft for ASP.NET. MVC is just one of dozens of repos here that are part of ASP.NET. Web Forms is in ASP.NET 4.x, whereas almost all the repos here are for ASP.NET 5.

[2015-11-02 21:41] alexdresko commented on #3460
That is helpful, @Eilon! Thank you.

[2015-11-02 21:42] bitcrazed commented on #3437
Thanks for your thoughts on this.

I think, perhaps, the template's code to render a form to allow one to remove a registered login is incorrect and should instead explicitly render the `input` element's `id` and `name`:

    @foreach (var account in Model.CurrentLogins)
    {
        <! -- BLAH -->
        <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal

[2015-11-02 21:43] pranavkm commented on #3462
cc @Tratcher - guess this is related to `StringValues`.

[2015-11-02 21:53] Tratcher commented on #3462
Ah, it would probably work if you did `var valueResult = valueProvider[key].ToString();`

[2015-11-02 22:09] dougbu commented on #3437
Well, those names won't work very well if there's more than one element in the collection the surrounding `foreach` is running through.

I agree `ManageLogins.cshtml` should be fixed in the [`MusicStore`](https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Views/Manage/ManageLogins.cshtml#L15-L25) and [`Templates`](https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/Indiv

[2015-11-02 22:18] dougbu commented on #3437
BTW the `<form>` happens to be inside the `foreach` in this case and that avoids `name` uniqueness concerns. But the `name`s don't currently work w/ the `RemoveLogin()` action and we should find an approach that avoids duplicate `id`s on the page.

[2015-11-03 00:16] RiteshPahwa commented on #3462
Ahh. Thx Chris, great!

On Mon, Nov 2, 2015 at 1:54 PM -0800, "Chris R" <notifications@github.com> wrote:

Ah, it would probably work if you did var valueResult = valueProvider[key].ToString();

—
Reply to this email directly or view it on GitHub.

[2015-11-03 00:37] NTaylorMullen commented on #3449
Played around with this and I'm proposing we go with: `<meta property="x-stylesheet-fallback-test" content class="..." />`.

Meta tags aren't valid in the body with a `name` tag sadly.

[2015-11-03 02:18] dougbu commented on #3437
This issue was moved to aspnet/Templates#296

[2015-11-03 02:18] #3437 closed

[2015-11-03 03:42] Kagamine opened #3465 "@Model.XXX will throw Argument encoder does not implement MaxOutputCharsPerInputChar correctly"
[code]

[2015-11-03 06:42] Eilon commented on #3465
@Kagamine using which version of MVC + DNX?

@Tratcher maybe related to your change?

[2015-11-03 07:08] Kagamine commented on #3465
The rc2 latest. If your string contains an unknown encoding charactor, it will throw this.

[2015-11-03 07:34] davidfowl commented on #3465
/cc @KrzysztofCwalina

[2015-11-03 10:34] jln1989 commented on #2969
@ajaybhargavb @dougbu

Is customizing the error message available for any one message in Beta8 or else it will be available in RC1 completely? If its available in Beta8 can you tell me what is the specific message and how to use it to override the default message?

[2015-11-03 13:52] david-whitehead opened #3466 "mvc model binding json ajax requests"
iv noticed when doing an ajax post request using content type 'application/json' in beta 8, its always throwing a json exception before hitting the controller action, and no data/ variables are passed to the action method. Although this works when the content type is set to ''application/x-www-form-urlencoded" as its coming through in [fromForm] mode not [fromBody].

[code]

Exception:

[code]

[2015-11-03 14:51] david-whitehead commented on #3447
this might sound a bit daft but what about the following situation:

the problem with making it automatic, is what about when there needs to be external intervention to expand the validation timeout, i.e. a page with videos on it and each time you click a video it checks with the server and then pulls the content from the server, if you made the Anti Forgery Token automatically applied, how would

[2015-11-03 15:07] SetTrend commented on #3447
@rynowak :
I am surprised that Web API comes into play in regard to XSRF tokens because I am not sure whether MVC and Web API topology can generally be compared in this regard:

While MVC relies on a **1:1** Response-Request cycle, Web API is based on a **0:many** cycle. I.e., a `POST` request can be issued anytime without any preceding request in Web API while in MVC there is always a single XSRF

[2015-11-03 20:00] rynowak commented on #3447
@david-whitehead

This would only apply to non-idempotent verbs (non-GET/HEAD). If you have this scenario today, and you're doing something non-idempotent on the server, you have an XSRF bug!

If we make this automatic, there will be be an opt-out.

There is one framework now. We don't have a simple way to distinguish what your expectations are for the usage of your controllers/actions.

In genera

[2015-11-03 20:21] Bartmax commented on #3447
@rynowak what are the current concerns now about it making it auto by default?

I understand that API endpoint should not use XSFR. Isn't safe to only apply XSFR for `application/x-www-form-urlencoded` and `multipart/form-data headers` or is too much magic ?

[2015-11-03 20:33] dougbu commented on #2969
@jln1989 customizing error messages is currently available only for a few messages. This issue remains Open because we have not done the work for client-side validation messages.

Have a look at the `Microsoft.AspNet.Mvc.ModelBinding.Metadata.IModelBindingMessageProvider` interface for the few customizations currently available. The easiest way to make changes is e.g.
[code]

Of course resources o

[2015-11-03 20:33] rynowak commented on #3447
Users have existing APIS that accept these content types. Recommended/non-recommended we need to understand the impact on user's sites even if the behavior is an improvement.

[2015-11-03 22:21] Eilon commented on #3466
@kichalla can you take a look and see what's going over the wire and where Json.NET is throwing?

[2015-11-03 22:44] kichalla commented on #3466
I am unable to repro this...the data is bound properly...I tried with the following:

[code]
@david-whitehead can you share how the raw request looks like (if you are using Chrome you can copy the request/response details by doing `Copy all as HAR`)

[2015-11-03 23:41] NTaylorMullen opened #3469 "Razor page's are not thread safely cached."
If two requests are running lock-step two sets of Razor pages will be emitted.

[2015-11-04 01:26] beautifulcoder opened #3470 "Please fix broken build"
I am wondering what is the point of having a broken build up on GitHub. Correct me if I'm wrong, isn't the point of open source to invite folks to learn and contribute? I find it discouraging when code bases are hostile towards newcomers. Any person off the street should be able to pick up the code and get up to speed with a clean build. Else, I don't see much point in this being open source.

[2015-11-04 01:34] pranavkm commented on #3470
Please send a pr

[2015-11-04 04:10] opiants opened #3472 "ViewComponent with nullable argument(s) throws InvalidOperationException"
Suppose we have this view component:

    public class ExampleViewComponent
    {
        public Task<string> InvokeAsync(int? id)
        {
            return Task.FromResult("lorem ipsum");
        }
    }

Using this view component in a razor file by calling any of the methods below:

    @await Component.InvokeAsync("Example", (int?)17)
**or**

    @await Component.InvokeAsync("Example", 17)
*

[2015-11-04 04:16] dealdiane opened #3473 "ViewComponent with omitted optional argument(s) throws `InvalidOperationException`"
Suppose we have this view component in beta8:

    public class ExampleViewComponent
    {
        public Task<string> InvokeAsync(int id = 0)
        {
            return Task.FromResult("lorem ipsum");
        }
    }

Using this view component in a razor file by calling the method below:

    @await Component.InvokeAsync("Example")

will throw:

    InvalidOperationException: Could not find an

[2015-11-04 04:20] dougbu commented on #3473
@opiants to confirm the exact symptoms, that's the `Exception` thrown when you call `Component.InvokeAsync(23)` or something else without a type mismatch?

[2015-11-04 04:20] dougbu commented on #3473
Ah, thanx for updating the view component code so quickly :smiley_cat:

[2015-11-04 04:21] dougbu commented on #3473
Oops, looked like an update. Question remains.

[2015-11-04 05:28] opiants commented on #3473
@dougbu  Yep, that's the exception that's thrown when you call `Component.InvokeAsync("Example")`. It won't throw if you supply the correct argument though `Component.InvokeAsync("Example", 23)`.

I didn't include the full stack trace because it was almost useless. They were just thread jumps. I could put it in if you think that it'll make a difference.

[2015-11-04 12:38] ksk100 opened #3476 "Display(Name = ..) data annotation not being picked up by `span asp-validation-for` for DateTime"
Hi,

I think we've come across a bug to do with data annotations not always being picked up - I hope this is the right place/way of reporting this issue (and I hope I haven't missed any open issues which already treat it).

I'm using `1.0.0-beta8` and find that data annotations of form `Display(Name = "Pretty label")` are not being reflected in the messages printed with `<span asp-validation-for=.

[2015-11-04 14:00] david-whitehead commented on #3466
Hi, thanks for getting back to me, After doing some reason digging i have found some more information out which might be useful.

when using the ajax like below is perfectly fine with specific situations.

ContentType: "application/json",
data: JSON.stringify(postData)

this does does work but only when we are specifically telling the action method parameters to be bound to an object and not direc

[2015-11-04 15:33] pranavkm commented on #3472
The third scenario (`@await Component.InvokeAsync("Example", null)`) is a known issue. With our current model our overload resolution cannot infer what the argument type. There're plans to change how we'd allow ViewComponents to be invoked so this sort of ambiguities are removed. See #612

[2015-11-04 15:34] pranavkm commented on #3472
We fixed some of the issues around nullable parameters in ViewComponents as part of RC1 - https://github.com/aspnet/Mvc/issues/3211. What version of Mvc are you currently on?

[2015-11-04 16:48] Eilon commented on #3466
In the case of this code:

[code]

That parameter is saying the JSON itself must be a string (e.g. `'foo'` was sent over the wire), but it isn't, it's an object.

[2015-11-04 17:02] david-whitehead commented on #3466
But if thats the case what would be required for more than one parameter,  as it would have to be sent in object format due to multiple parameters but still has the same issue

[2015-11-04 17:12] kichalla commented on #3466
You cannot have multiple parameters that have `[FromBody]`. You would need to have a single type encapsulating all that information.

[2015-11-04 17:15] david-whitehead commented on #3466
But with the other content types you can have multiple fromForm variables should this not be the same for all versions?

[2015-11-04 17:23] opiants commented on #3472
I'm on beta8. Sorry should've specified that and searched for closed issues as well. I can live with explicitly adding the type for now.

[2015-11-04 17:24] #3472 closed

[2015-11-04 17:24] kichalla commented on #3466
Your observation is correct. In case of `FromBody`, the formatters like json and xml and their respective serializers take full control of how the request body is bound to an type. I will let @rynowak @Eilon @dougbu  to give more detailed explanation

[2015-11-04 17:58] mdmoura opened #3477 "Component View Location"
Hello,

By default component views location is:

    Views/NameOfControllerUsingComponent/Components/ComponentName/Default.cshtml
    Views/Shared/Components/ComponentName/Default.cshtml

Is it possible to change it to:

    Views/NameOfControllerUsingComponent/Components/ComponentName.cshtml
    Views/Shared/Components/ComponentName.cshtml

It feels strange to have a folder with component name wi

[2015-11-04 18:12] dougbu commented on #3473
@opiants in that case the `Exception` is correct and its `Message` describes a real issue in your `.cshtml`. Are you suggesting it's messy that the arguments to `InvokeAsync()` are not correctly-typed -- and the editor didn't highlight the issue? If so, that's a known restriction of the current view component system.

Separately the title of this issue seems incorrect. The type mismatch is caught

[2015-11-04 18:32] opiants commented on #3473
@dougbu I don't understand how that can be correct though. It shouldn't throw an error and should just pass in the default value of the **optional** parameter. It would defeat the purpose of having optional parameters if I have to pass it all the time.

[2015-11-04 18:52] dougbu commented on #3473
@opiants you're not leaving the value out, you're providing an argument of the wrong type.

[2015-11-04 18:53] dougbu commented on #3473
Oh, wait. My comment was wrong.

[2015-11-04 19:16] robrich opened #3478 "Consider renaming `project.lock.json` to avoid confusion"
`project.lock.json` is right between `project.json` and `package.json`.  This causes confusion as both `package.json` and `project.json` are very user-centric files edited frequently, and `project.lock.json` is not meant to be edited.  I grant Visual Studio hides this file, but it's not hidden by Visual Studio Code, Sublime, Brackets, or other editors.

Consider renaming this file to `.project.loc

[2015-11-04 19:22] pranavkm commented on #3478
This would be a bug for the runtime \ NuGet. Please file this in https://github.com/aspnet/dnx

[2015-11-04 19:22] #3478 closed

[2015-11-04 19:27] robrich commented on #3478
Thanks for the redirect.  Posted to https://github.com/aspnet/dnx/issues/3133.

[2015-11-04 19:31] #3242 closed

[2015-11-04 19:31] pranavkm commented on #3030
This depends on https://github.com/aspnet/Mvc/issues/3281.

[2015-11-04 20:05] newsash commented on #3083
@rynowak, could you please comment on the andrewm1986's suggestion?

[2015-11-04 21:58] Eilon commented on #3469
Pointer to teh codez?

[2015-11-04 22:01] Eilon commented on #3470
@beautifulcoder sorry you're seeing a broken build. Can you share more about what you're seeing? We've had some build breaks recently due to some big changes that affected multiple repos, but that should all be fixed now.

[2015-11-04 22:55] NTaylorMullen commented on #3469
So what's happening is we're attempting to retrieve values from a cache and then setting the cache values non-thread safely.

[Here](https://github.com/aspnet/Mvc/blob/940fb7ba78219301addd42288a08294b20b023bf/src/Microsoft.AspNet.Mvc.Razor/Compilation/CompilerCache.cs#L82-L85) is were we're attempting to retrieve the cache value and then [here](https://github.com/aspnet/Mvc/blob/940fb7ba78219301ad

[2015-11-04 23:32] NTaylorMullen commented on #612
Talked about this in person and to make it as epic as possible we definitely need to sit down and think this one through :smile:

[2015-11-05 00:20] Kagamine commented on #3465
I think throw an exception is dangerous. When you developed a blog, someone submit a comment with the unknown encoding char to some post, your site will crash down.

[2015-11-05 01:44] staff0rd commented on #3087
@rynowak Your example in the second post does not work because TagBuilder.InnerHtml is read-only in beta8.  Is there a new way to do this now?

[2015-11-05 01:56] davidfowl commented on #3465
If an exception in a text box can crash your site then you have bigger problems

[2015-11-05 01:58] beautifulcoder commented on #3470
Yay! The build works you guys are the best. The only thing I'm seeing is a failing unit test:

    info: Exec
    info:   program: cmd
    info:   commandline: /C dnx test
    info:   workingdir: test\Microsoft.AspNet.Mvc.Core.Test
    xUnit.net DNX Runner (32-bit DNX 4.5.1)
      Discovering: Microsoft.AspNet.Mvc.Core.Test
      Discovered:  Microsoft.AspNet.Mvc.Core.Test
      Starting:    Micro

[2015-11-05 02:59] rynowak opened #3482 "FormFileModelBinder should support IFormFileCollection"
Doing this:
[code]

Gives you this:
[code]

Even if we don't want to support this type, we're doing the wrong check here:  https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ModelBinding/FormFileModelBinder.cs#L36

This means that we'll attempt to bind anything that **implements** `IEnumerable<IFormFile>` to a `List<IFormFile`. This should only attempt to bind when we can actuall

[2015-11-05 05:32] Eilon commented on #3470
Ah, I think @rynowak and @Tratcher were maybe looking at this - if it's what I think it is, it's due to a recent change in another repo that we're fixing.

[2015-11-05 05:34] Tratcher commented on #3470
This was fixed on aspnetcidev this evening. However, I'm seeing a different error now:
Could not load file or assembly 'System.Private.DataContractSerialization,...

[2015-11-05 05:47] Muchiachio commented on #3087
@staff0rd his second example was a " beta7 how to", in beta8 you can write.
[code]

[2015-11-05 06:19] dougbu commented on #3473
Sorry, my test project had an overload hiding the issue here. Looks like our method lookups cannot handle omitted arguments.

One workaround is to switch from optional parameters to multiple overloads. E.g.
[code]

[2015-11-05 06:35] opiants commented on #3473
@dougbu Yes, that does work. That is an acceptable workaround but should this be tagged as bug though?

[2015-11-05 06:38] dougbu commented on #3473
Perhaps but we generally leave feature / enhancement / bug determinations to the triage team.

[2015-11-05 07:38] angelsix opened #3483 "FromServices doesnt work in Beta8"
I have a controller with a public property decorated with [FromServices]... I have multiple, but all of them are classes available in the service provider.

If I add the properties to the constructor of the controller they get injected (so proves they are in the service provider and available to be injected).

If I add [FromServices] to the public properties they are always null.

[2015-11-05 11:57] david-whitehead commented on #3466
@kichalla  just wanted to say thanks for this discussion,

so generically were saying you should really encapsulate every request in its own object?

does that not cause quite a bit of excess code that is not really needed for smaller requests i.e. 1 or 2 parameters which do very little, It just seems were creating classes for the sake of it rather than pre-defining our requirements and making the

[2015-11-05 13:12] danicomas opened #3484 "(Question) Will be MVC6 able to response with a View or JSON format depending on Request?"
Similar than Ruby on Rails is doing (Content-Type). Look at this:
http://stackoverflow.com/a/20188230/2860124

[2015-11-05 16:07] rynowak commented on #3473
@opiants - we're considering a fresh take on this API altogether. Something that looks more like your code just calling into your code. That design change will address a number of points of confusion and limitations of the current design.

#612 is probably the best representation of our current thinking

[2015-11-05 16:09] Muchiachio commented on #3483
I'm unable to repro this under beta8.
Seems like your DI configuration is not correct, could you share a small repro project?

[2015-11-05 16:32] rynowak commented on #2009
This bug isn't relevant anymore, we've already decided to cache all of this data as part of the changes in #3364. After that PR is checked in, we'll profile and identify any new issues that crop up.

Closing as this is not actionable anymore.

[2015-11-05 16:32] #2009 closed

[2015-11-05 16:34] rynowak commented on #898
Resolving based on https://github.com/aspnet/Mvc/commit/1312ed8b7171a73a6c80b3e6a9bc91e8cf95942e

[2015-11-05 16:34] #898 closed

[2015-11-05 16:38] dougbu commented on #3476
Are you using Beta 8 or earlier? We fixed bug #3227 in the RC1 milestone and RC1 will be released soon.

[2015-11-05 17:18] ksk100 commented on #3476
Yes beta 8.

Great, thank you.

[2015-11-05 17:45] opiants commented on #3473
Awesome. Yes, I do think the proposed methods there are better that what it is currently. Any guestimate on when rc2 might roll out? Are we talking about sometime in Dec?

[2015-11-05 18:03] pranavkm commented on #2009
We actually fixed this as part of #3294. Closing this as dup

[2015-11-05 19:14] Muchiachio commented on #3340
Bump

[2015-11-05 19:34] dougbu commented on #3473
The public [roadmap](https://github.com/aspnet/Home/wiki/Roadmap) has not been updated recently. Expect some news soon.

[2015-11-05 19:34] #3476 closed

[2015-11-05 20:27] ShaneCourtrille commented on #3477
You are only considering very simple components.  The folder lets you structure more complex components.

[2015-11-05 20:53] MaximRouiller commented on #3199
+1 for being to generate HTML from Razor. Another scenario is Integration testing for TagHelpers.

[2015-11-05 22:01] SetTrend opened #3485 "Proposal: Remove OAuth2 Authorization Server provider application code from Web API project template"
Creating a Web API project with OAuth2 authentication option *Individual User Accounts* selected creates a fairly cryptic OAuth2 Autorization Server provider file with about 100 lines of infrastructural OWIN code.

I admit I feel irritated about so much technical and rather inevitable code supposed to be belonging to a project by default.

To me it doesn't feel right to read in default application

[2015-11-05 23:08] ryanbrandenburg commented on #3077
Fixed in #3404

[2015-11-05 23:08] #3077 closed

[2015-11-05 23:49] bitcrazed commented on #3437
Thanks @dougbu.

[2015-11-06 01:09] beautifulcoder commented on #3470
Awesome job guys. The build and unit tests seem to work! I'm still getting used to `dnx test` but will get a handle on it soon enough.

[2015-11-06 02:49] Eilon commented on #3485
@SetTrend is this about ASP.NET Web API 2.x, or is this about the new ASP.NET 5 templates?

BTW all the new ASP.NET 5 templates are open source and can be seen here: https://github.com/aspnet/Templates/

[2015-11-06 03:53] Kagamine opened #3488 "checkbox cannot parse to be boolean"
In frontend:

[code]

In Backend:

[code]

[2015-11-06 04:14] Eilon commented on #3488
@ajaybhargavb can you take a look?

[2015-11-06 04:14] Eilon commented on #3483
@angelsix can you share some more code? Maybe upload a project to GitHub?

[2015-11-06 04:15] Eilon commented on #3340
@ajaybhargavb please take a look.

[2015-11-06 04:17] Eilon commented on #3477
@dougbu @pranavkm can you use view location expanders for this? Or just tweak the view engine's search locations or behavior through some interface?

BTW we have no plans to change the current default behavior.

[2015-11-06 05:10] dougbu commented on #3477
@mdmoura `"Default"` is indeed the default view name for view component views. But `ViewComponent.View()` has overloads such as `View(string viewName)` to override that default.

@Eilon view location expansion provides mostly the beginning of the paths e.g. `Views/NameOfControllerUsingComponent/{0}.cshtml` and `Views/Shared/{0}.cshtml` in the paths @mdmoura showed in the description. But absolute

[2015-11-06 05:12] Eilon commented on #3477
@dougbu sure, but is there another view-resolution-related service that can be used? I don't remember what all services we have these days :smile:

[2015-11-06 05:41] dougbu commented on #3477
@Eilon not really. The "`Components/ComponentName/` bit" is hard-coded in `ViewViewComponentResult` unless that is given a path instead of a name. View location expanders just add to the places that'll be searched.

[2015-11-06 06:27] Kagamine commented on #3488
Sorry, I made a mistake, it should be `<input type="checkbox" name="blabla" value="true" checked />`

[2015-11-06 06:27] #3488 closed

[2015-11-06 06:41] axefrog opened #3489 "Model binder doesn't properly rebind arrays when invalid values are present"
I have a model with a property which is an array of nullable floats. An example might look like this:

[code]

In my razor code, I iterate over the length of the array, producing a field for each value. In my own code, it looks like this:

[code]

You'll note that my model is actually a nested array of models, so that may be related to this problem- I'm not sure.

In my test case, I have 10 sets o

[2015-11-06 06:53] Eilon commented on #3477
@dougbu ah ok that's actually good news then. That means that by re-using code from https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/ViewComponents/ViewViewComponentResult.cs it's fairly easy to customize, if desired.

[2015-11-06 06:53] Eilon commented on #3477
Closing this because we aren't planning to change the default patterns.

[2015-11-06 06:53] #3477 closed

[2015-11-06 08:02] angelsix commented on #3483
I'm in a bit of a rush for a deadline at the moment so cant create a fresh project to test. However there is nothing special. In the ConfigureServices I use the app.ApplicationServices.AddInstance or any other overload to add my classes to. Then when the app is up and running and a controller gets called, which as a public {get;set;} property with [FromServices] on it, and inside the controller co

[2015-11-06 09:45] RehanSaeed commented on #3460
Is there any reason why the linked issue was closed? This issue was also closed. I suspect this is a mistake.

[2015-11-06 10:55] SetTrend commented on #3485
Hi Eilon, this is about Web API 2.2. ASP.NET Web API project templates currently don't allow for Individual User Accounts authentication in Visual Studio 2015.

[2015-11-06 13:01] davidfowl commented on #3483
That's not even a thing. You mean services.AddInstance right?

[2015-11-06 13:05] angelsix commented on #3483
Yea I was just typing off memory it's on the services

-------- Original message --------
From: David Fowler <notifications@github.com>
Date: 06/11/2015 13:02 (GMT+00:00)
To: aspnet/Mvc <Mvc@noreply.github.com>
Cc: Luke Malpass <luke@angelsix.com>
Subject: Re: [Mvc] FromServices doesnt work in Beta8 (#3483)

app.ApplicationServices.AddInstance

That's not even a thing. You mean services.AddInstanc

[2015-11-06 16:40] dougbu commented on #3483
Which are you actually looking at? MVC does not set (cannot set) controller properties until the instance exists so `null` in the constructor is expected.

[2015-11-06 16:46] angelsix commented on #3483
They are null in the actions too so no different.

If you place them in the constructor as parameters that works too. The only thing that doesn’t is the [FromServices] which does nothing.

On 6 Nov 2015, at 16:40, Doug Bunting <notifications@github.com<mailto:notifications@github.com>> wrote:

inside the controller constructor and actions

Which are you actually looking at? MVC does not set (canno

[2015-11-06 17:01] dougbu commented on #3483
:ok: we need to see exactly what you're doing because `[FromServices]` is fairly well tested. You could be doing something slightly different than what we test.

[2015-11-06 17:11] dougbu commented on #3489
@axefrog your experience matches what I expect. Model binding stops as soon as it hits a value that cannot be converted. More generally, properties and collection entries after a model binding error are ignored. This should be consistent for all model binding errors in part because most model binding errors are expensive.

Note that validation continues until either the entire model is checked or

[2015-11-06 17:16] angelsix commented on #3483
Ok I made a project from scratch and it worked. I looked back at mine and noticed... I have the setter as private. That was the issue. Overlooked it multiple times.

[2015-11-06 17:16] #3483 closed

[2015-11-06 18:51] #3177 closed

[2015-11-06 20:14] ajaybhargavb commented on #3379
f7a211c09531f145329d76fe71d6676d5c4f3685

[2015-11-06 20:14] #3379 closed

[2015-11-06 20:16] NTaylorMullen commented on #3449
decf8823414146fe6feaba0ed9fcfe4044258e04

[2015-11-06 20:16] #3449 closed

[2015-11-06 20:21] #3426 closed

[2015-11-06 20:48] dougbu opened #3493 "NuGet warning when building MVC solution"
When building the MVC solution on both the `dev` and `release` branch, the `MvcSample.Web` and `Microsoft.AspNet.Mvc.FunctionalTests` projects display the following warning:
[code]

I'm unable to reproduce this warning when building a separate solution that depends on
[code]

However the dependencies in the above two packages do not match. `Microsoft.AspNet.Mvc.WebApiCompatShim.6.0.0-rc1-16307.nup

[2015-11-06 22:35] axefrog commented on #3489
Ok, fair enough, though if you're providing a `MaxAllowedErrors` property, the implication is that it is the developer's choice how much of an impact to their performance they're willing to endure; I would imagine that should carry over to collections too. Why is there a performance distinction being made here? The fact that we're talking about a collection should make no difference; whether it's

[2015-11-06 22:44] dougbu commented on #3489
My comment about `MaxAllowedErrors` and validation was a FYI. Just letting you know model binding and validation are separate systems with separate semantics. Within either there's nothing very different about collections.

[2015-11-07 00:04] axefrog commented on #3489
Either way, I can't say the behaviour makes sense to me.

Why? Performance is not the issue, as we seem to have established. For a good user experience, preservation of input values should have precedence here. The current behaviour throws those values away needlessly. Is there some technical limitation in play here?

Why? I'm guessing you mean properties on collection elements, as opposed to prop

[2015-11-07 00:22] axefrog commented on #3489
Even though I don't agree with the behaviour, I need to get on with the task at hand. How should I write this line so that it doesn't throw an exception?
[code]

I need the field to be generated as per the relevant data type and collection index, but I'm going to get an `IndexOutOfRangeException` after an invalid post. It would be nice if it could fail gracefully and fall back to a default value o

[2015-11-07 00:38] dougbu commented on #3489
One workaround would be to use `Tails[i].Values.Length` as the limit of your inner loop in the view. Another would be to allocate an array of the length your view expects in the action.

[2015-11-07 01:14] axefrog commented on #3489
I guess I'll have to iterate through my model looking for arrays of incorrect length and "fix" them. I'm still interested in commentary on the two points I made above though.

[2015-11-07 15:44] alexdresko commented on #3460
@RehanSaeed The issue I created here is being tracked separately at https://github.com/aspnet/Tooling/issues/255 so there is no need to keep my issue open.

[2015-11-07 20:19] ArieJones opened #3494 "[Bug] OpenID authentication not working correctly with Authorize attribute"
We are experiencing an issue with the Authorize attribute in the current beta 8 build. We noticed it in the current application that we are porting over to MVC 6.

In the simplest reproduction, we create a default website using the newest templates and select "Work and School Accounts" option for authentication because we will be utilizing Azure AD. Once the project is created we can build and log

[2015-11-08 01:25] dougbu commented on #3493
cef4a66

[2015-11-08 01:25] #3493 closed

[2015-11-08 18:44] davidfowl opened #3495 "Expose ViewResult.Model"
For code portability from MVC 5:

https://msdn.microsoft.com/en-us/library/system.web.mvc.viewresult(v=vs.118).aspx

[2015-11-08 19:34] Muchiachio commented on #3495
:+1: really get's in a way when porting tests.

[2015-11-08 20:00] Eilon commented on #3485
@SetTrend ah, yes, I think the reason for that is that ASP.NET does not include an authorization server. That is, there is no built-in feature that allows exchanging the Individual Auth username/password for a bearer token, which is what an API would typically use.

Adding @rustd and @blowdart to see if they have any further thoughts.

[2015-11-08 22:47] blowdart commented on #3485
Pull it all out

[2015-11-09 05:18] Eilon commented on #3485
@rustd can you work with @blowdart on what changes we want to make here and file a new bug in the appropriate repo?

Also @danroth27 FYI because I'm sure you have some thoughts on this too...

[2015-11-09 05:48] #3411 closed

[2015-11-09 05:52] Eilon commented on #3465
@Tratcher can you do a quick initial investigation?

[2015-11-09 05:54] #3462 closed

[2015-11-09 06:41] Kagamine commented on #3465
Should I write a repro? @Eilon

[2015-11-09 12:31] Tratcher commented on #3465
That would help. Preferably something that calls html encoder directly.

[2015-11-09 12:33] SetTrend commented on #3485
@eilon : Thanks for sheding light on this for me. Is there a hyperlink to a doc describing how the same behaviour (OAuth2, local + external) is suggested to be done with the new project template?

[2015-11-09 17:49] danroth27 commented on #3485
If you switch the authentication option for the Web API 2.2 template to "No authentication" then this code all goes away.The authorization server code is only included in the Web API 2.2 template if you have the "Individual Accounts" option selected.

[2015-11-09 18:37] SetTrend commented on #3485
@danroth27 : I comprehend.

But I fell that all of this "sample" implementation should not be in the default template, even with "Individual User Accounts" selected ... No `ApplicationOAuthProvider`, no `ChallengeResult`, no `ApplicationUserManager`, no `ApplicationUser`, just to name a few.

The "Individual User Accounts" template should be able to run right from the beginning with just using the

[2015-11-09 18:41] #3281 closed

[2015-11-09 18:43] pranavkm opened #3497 "Remove PageInstrumentation"
Follow up to https://github.com/aspnet/Mvc/issues/3281 - once BrowserLink is updated to use DiagnosticSource, we need to remove PageInstrumentation and its use from Mvc.

[2015-11-09 18:43] pranavkm commented on #3497
Self assigning since this is something we planned on doing for RC2 as part of #3281.

[2015-11-09 18:43] pranavkm commented on #3497
cc @jodavis

[2015-11-09 18:56] SetTrend opened #3498 "Proposal: Project templates should come in two flavours: With scaffolding code and without."
Many Visual Studio project templates - particularly ASP.NET project templates - come with a vast amount of scaffolding/sample code.

It's nice to get this scaffolding code when learning a new version of the framework.

But later, when creating new projects from the same template, this scaffolding code becomes redundant and subject to immediate deletion. This is particularly true when new versions

[2015-11-09 19:02] SetTrend opened #3499 "Why is OAuthAuthorizationServerProvider coming with callbacks and virtuals?"
I just had a look at the `OAuthAuthorizationServerProvider` class.

It comes with a bunch of `virtual` functions doing nothing but calling callback functions, stored in properties.

This implementation seems rather tautological to me: A derived class may decide whether to override the virtual functions or to overwrite the properties? Or even both?

Is there a reason for this design decision? Other

[2015-11-09 19:07] #2819 closed

[2015-11-09 19:11] ajaybhargavb commented on #3340
Thanks for reporting this and for the repro. I tried this scenario. I can confirm that there is a difference in behavior from MVC 5. Area is not picked up from AmbientValues if a segment before that has changed. MVC 5 did something different in this case. We are discussing what we should do about this scenario.

[2015-11-09 19:52] ajaybhargavb commented on #3340
cc' @Eilon @danroth27 @rynowak

[2015-11-09 20:03] Tratcher commented on #3465
At the very least it would be good to know what the text was that failed.

[2015-11-09 20:20] rynowak opened #3501 "Issues with Flush in our output"
### Background

Recall that a `TextWriter` has its own internal buffer. When talking about flushing, there are two phases:
- Flushing the writer's buffer - does a `Write` to the underlying stream
- Flushing the underlying stream

Without doing the former when the writer is disposed, you would *lose* the text that's been encoded, but not written.

But, our writer only does the former when disposed.

[2015-11-09 20:28] NTaylorMullen commented on #1819
We may want to re-consider this issue given how many HTML elements now have `TagHelper`s acting on them. A good example of this restriction being a significant bother is people trying to append scripts (Glimpse does this) or link tags to their body or head tags. They'll create a `TagHelper` for the `<head>` or the `<body>` tag, essentially making `@await FlushAsync()` useless unless called in-betw

[2015-11-09 20:28] pranavkm opened #3502 "ViewResultExecutor logs partial view messages for regular views"
These should be about finding a view, not a partial:

* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/ViewFeatures/ViewResultExecutor.cs#L88
* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/ViewFeatures/ViewResultExecutor.cs#L105

[2015-11-09 20:48] kichalla opened #3503 "Removing formatters on a given type only works on collections in MVC options"
Currently a formatter can be removed by using the [`RemoveType`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Formatters/FormatterCollection.cs#L19) method on the formatters collection on MVC options

Example: `options.OutputFormatters.RemoveType<StringOutputFormatter>()`

We have collection of formatters exposed through other areas of the framework like [`ResourceExecuting

[2015-11-09 23:09] wolfgangschneider opened #3504 "MVC6 ViewComponent using Anonymous Type as dynamic view model cause "RuntimeBinderException: 'ob..."
Hi

Using anonymos Types as dynamc paramater  is working in C' 6.0

Example (works in Linqpad):
================================================
    void Main()
    {
	    dynamic dyn = new
	    {
		    Prop ="Hallo World"
	    };
        myFunction(dyn);
    }

    public void myFunction(dynamic dyn)
    {
        Console.WriteLine(dyn.Prop);
    }
================================================

[2015-11-10 00:29] dougbu commented on #3504
Is this seen in a debugger when catching first-chance `Exception`s? If not exactly how is the `RuntimeBinderException` surfaced?

[2015-11-10 00:47] rynowak commented on #3273
Closing this out. We've done enough here

[2015-11-10 00:47] #3273 closed

[2015-11-10 00:55] rynowak commented on #2268
This was addressed by 6d365e9a

Collections now have one code path for model binding.

[2015-11-10 00:55] #2268 closed

[2015-11-10 00:58] rynowak commented on #77
This appears to be addressed by 94db3c39

[2015-11-10 00:58] #77 closed

[2015-11-10 00:59] rynowak commented on #105
I don't have a reference to a specific commit, but this class is gone now, so this was fixed one way or another. Generally the more complex stuff was either moved to `ModelMetadata` or to the common repro.

[2015-11-10 00:59] #105 closed

[2015-11-10 01:04] rynowak commented on #609
Addressed by the use of `PropertyHelper.GetVisibleProperties(key.ModelType)` acb657d9

[2015-11-10 01:04] #609 closed

[2015-11-10 01:04] #713 closed

[2015-11-10 01:05] rynowak commented on #713
Addressed by acb657d9

[2015-11-10 01:09] rynowak commented on #1208
46897037 and aspnet/antiforgery@3dc2663c3509a5c3c249e383763c5492338528f9

[2015-11-10 01:09] #1208 closed

[2015-11-10 05:20] damienpontifex opened #3506 "Visual Studio tag helper syntax highlighting not working per project"
In one of my ASP.NET 5 projects, the syntax highlighting and intellisense in cshtml files doesn't work. Another project on the same machine works fine, leading to the belief it is in the project configuration?

I have the `@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"` in _ViewImports.cshtml and everything renders fine, but the tooling seems to be broken for this specific project.

Is there a

[2015-11-10 05:35] Eilon commented on #3340
Hmm interesting. Yeah I do vaguely recall some special codes in MVC for areas. Though, if I had to guess, I'd be very surprised if that code didn't *inadvertently* bring this behavior to URL generation. It certainly seems to "violate" a behavior of URL generation, which is to invalidate ambient values that come after a changed parameter... but yes, let's discuss in person.

[2015-11-10 06:24] Eilon opened #3507 "Limit [FromServices] to apply only to parameters"
This should help reduce a lot of the confusion around this feature.

It currently applies to parameters *and* properties. The problem with properties is that it appears to many people that it can be applied to any property of any object. But in reality it works only with properties on objects that are model bound, which is controller properties, and sub-properties of types used in MVC action metho

[2015-11-10 07:16] GVX111 opened #3508 "Taghelper [Bug]"
<pre>Encountered an unexpected error when attempting to resolve tag helper directive '@addTagHelper' with value '"*, Microsoft.AspNet.Mvc.TagHelpers"'. Error: The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"</pre>

[2015-11-10 07:23] GVX111 opened #3509 "on returning Json( )"
<pre>InvalidOperationException: No service for type 'Microsoft.AspNet.Mvc.Infrastructure.JsonResultExecutor' has been registered.</pre>

[2015-11-10 07:34] davidfowl commented on #3509
@GVX111 Can you provide some more context for your bugs. Error messages are appreciated but it would be great if you could provide a sample application with versions of things being used so it would help us narrow it down.

[2015-11-10 07:45] GVX111 commented on #3509
@davidfowl I fixed now. I have added  services.TryAddSingleton<JsonResultExecutor>(); Before UseMvcCore()
Can you help me on https://github.com/aspnet/Mvc/issues/3508

[2015-11-10 07:45] #3509 closed

[2015-11-10 07:49] davidfowl commented on #3508
More info please.

[2015-11-10 08:00] GVX111 commented on #3508
<pre> "dependencies": {
    "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-*"
  },
_ViewImports.cshtml
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
</pre>

[2015-11-10 08:13] davidfowl commented on #3508
That's not good enough. Try making a runnable sample and putting it on github so we can run it and see the error.

[2015-11-10 11:13] ankitbko opened #3511 "Mocking MVC"
I have multiple development team - Client side development, Service Development and others. Client side is a SPA. Is there a way to mock controllers so as my client side development can happen independently.

**Problem Statement:**
Client side needs data to test, however my service is not complete. My service might not be returning data for multiple reasons - service not implemented, underlying la

[2015-11-10 14:19] Kukkimonsuta commented on #3508
This error is thrown when using latest bits and not removing quotes from `@addTagHelper`s value.

See https://github.com/aspnet/Announcements/issues/103

[2015-11-10 14:24] Kukkimonsuta commented on #3506
What runtime version are you targetting? The tooling seems to only work for exact version that it was installed with. So for instance latest VS tooling is `beta8`, so the tag helpers are highlighted only for `beta8` projects, but once I switch to `rc1` or `rc2` the highlighting goes away.

[2015-11-10 16:22] rynowak commented on #3509
If you're using `JsonResult` make sure to include `.AddJsonFormatters` in your startup

[2015-11-10 16:31] rynowak commented on #3340
http://aspnetwebstack.codeplex.com/SourceControl/latest#src/System.Web.Mvc/RouteCollectionExtensions.cs

Yep. This thing again. It almost destroyed Orchard.

[2015-11-10 16:54] rynowak commented on #3507
Agreed, we've had a number of issues posted by users with confusion around how this feature should be used. There's really been a fairly large amount of feedback both of the kinds "`[FromServices]` is weird and I don't like it" and "`[FromServices]` has confounded me". It feels like a trap, and something that the team would still be answering questions about years from now.

We feel like most valu

[2015-11-10 17:30] salerth opened #3512 "RC2 Linking to invalid controller/action stops request"
Runtime: dnx-coreclr-darwin-x64.1.0.0-rc2-16128 (also impacts mono version)
Environment: OSX
MVC/Other deps : 6.0.0-rc2-16334 (6.0.0-*)

Previously if you added a `@Html.ActionLink("Home", "Index", "Home")` where the Controller/Action didnt exist, the link would be rendered empty without error.  With this update any links to invalid actions throws the following error:
[code]

This error interupts

[2015-11-10 17:55] rynowak commented on #3512
The null-ref here is definitely unintended.

As a side-discussion, we're planning to revert the change in behavior for link generation, and allow generating links to things that don't exist.

[2015-11-10 18:23] AliCharper opened #3514 "JS issue in PartialViews."
Hi,

Everybody knows MVC has a big problem ,when we want to have JS in a partialview and the script should be in the main view or the Layout.Who can report it to Microsoft and ask them to fix it?.

[2015-11-10 18:26] #3337 closed

[2015-11-10 18:42] rynowak commented on #918
Closing this out after some discussion. The example provided above can't work because a `MediaTypeHeaderValue` can't be const, and so can't be used in an attribute.

If we have a perf issue, we'll drive it another way.

[2015-11-10 18:42] #918 closed

[2015-11-10 19:27] GVX111 commented on #3509
@rynowak  in rc1 AddJsonFormatter doesn't need after update to rc2 it must include in startup?
I solve with services.TryAddSingleton< JsonResultExecutor >();

[2015-11-10 19:44] Eilon commented on #3511
I would recommend mocking the data service layer, not the MVC actions.

You could use environments to control this when you set up your application.

E.g. you'd have an `IDataRepository` interface and two implementations of it: a real one (eventually) that talks to real data. And a fake one that returns fake data. Depending on the app's current configuration, you would choose which implementation

[2015-11-10 19:50] Eilon commented on #3508
Yeah this sounds like the quotes issue. On the latest dev builds just remove the quotes from the directive and you're good to go.

[2015-11-10 19:50] #3508 closed

[2015-11-10 20:03] Eilon commented on #3506
@NTaylorMullen @ToddGrun any ideas on this?

[2015-11-10 20:07] GVX111 commented on #3508
Great. Thank you.
Fixed. @Kukkimonsuta

[2015-11-10 20:08] Eilon commented on #3503
The shown extension method definitely can't be used - we don't usually write such generic extension methods for public consumption. Can `T` be restricted to a particular interface?

[2015-11-10 20:39] rynowak commented on #3503
We should just make the property on ResourceExecutingContext have the appropriate type.

[2015-11-10 21:32] Eilon commented on #3498
@SetTrend please log this in https://github.com/aspnet/Templates/issues.

Thanks!

[2015-11-10 21:32] #3498 closed

[2015-11-10 21:32] Eilon commented on #3503
Sounds good to me.

[2015-11-10 21:45] Eilon commented on #3499
@HaoK can you answer this regarding the pattern?

[2015-11-10 21:46] Eilon commented on #3499
Actually, wait a sec, what type is `OAuthAuthorizationServerProvider`? I don't see it here or in the Security repo...

[2015-11-10 21:46] Eilon commented on #3499
Is this a template issue?

[2015-11-10 21:52] HaoK commented on #3499
Perhaps this is an issue regarding katana/old templates (pre ASPNet 5)

[2015-11-10 21:57] DamianEdwards opened #3516 "Rendering large Razor views is much slower in MVC 6 than MVC 5"
Did some experiments comparing throughput of largish views (i.e. ~325 KB, browse http://www.msn.com and save "view source" as HTML/CSHTML file) in the SmurfLab.

The results show that serving large views via Razor in MVC 5 is not a huge drop from raw IIS static file serving, but MVC 6 is **much** slower than MVC 5 (6x). A quick look at the .NET memory counters shows a very high number of Gen 1 GCs

[2015-11-10 22:08] NTaylorMullen commented on #3506
Today, here's the criteria to have `TagHelper` IntelliSense:

- IF you want the built-in `TagHelper`s ensure the package is in the `project.json` (`Microsoft.AspNet.Mvc.TagHelpers`).
- `Microsoft.AspNet.Tooling.Razor` package
- `@addTagHelper "*, TheAssemblyWithTagHelpers"`
- targeting framework dnx451.

[2015-11-10 22:33] Eilon commented on #3499
@SetTrend which version of ASP.NET / MVC / Web API is this?

[2015-11-10 23:18] damienpontifex commented on #3506
Thanks @NTaylorMullen it was the `Microsoft.AspNet.Tooling.Razor` package I was missing.

[2015-11-10 23:18] #3506 closed

[2015-11-10 23:22] ThreeSevenths commented on #3494
I had the same problem. It turned out that the authorization cookie was only being added to the HTTPS connection, and when I redirected the user back to HTTP, the cookie was lost forcing the 302. My solution was to move the entire app to HTTPS only using URL Rewrite in IIS.

[2015-11-10 23:48] NTaylorMullen opened #3517 "Consider adding AddDataAnnotationsLocalization() overload to IMvcCoreBuilder"
Today when working with `services.AddMvcCore()` you don't get as consistent as an experience as working with `services.AddMvc()` as far as localization is concerned.

Currently we only provide 1 `AddDataAnnotationsLocalization` extension method for `IMvcCoreBuilder`:

[code]

Where the `IMvcBuilder` alternative has two, the above AND:

[code]

All this results in you having to do the ugly:

[code]

[2015-11-10 23:55] NTaylorMullen opened #3518 "Support localizing [DisplayAttribute] via IStringLocalizer"
Today we only localize validation based data annotations. We should expand this outside of the realm of validation (especially since you do a `services.AddDataAnnotationsLocalization` which says nothing about only adding validation based data annotations.

Having support like this would enable scenarios such as:

*Model*:
[code]

*Page*
[code]

This issue is for more than just `[Display]` but this

[2015-11-11 01:08] NTaylorMullen commented on #3506
Awesome, glad to hear it worked out :+1:

[2015-11-11 01:10] damienpontifex commented on #3506
I can't remember, but I may have generated the project with yeoman and hence missed the tooling package. As I didn't find this info before filing this issue, is there somewhere this should be documented for me to make a pull request against?

[2015-11-11 01:16] NTaylorMullen commented on #3506
I believe we have it documented over at https://docs.asp.net/en/latest/

[2015-11-11 01:37] DamianEdwards commented on #3518
I agree this is something we should investigate. I imagine we'd do the work in `DataAnnotationsMetadataProvider` to support this.

[2015-11-11 02:53] ArieJones commented on #3494
The only issue is that we are not redirecting the user back to HTTP. The HTTP calls above are from browserlink. When this is disabled then those would go away and you still receive the same outcome. As you can see in the Fiddler output above everything is basically HTTPS calls.

At first we thought the issue was something with code we had written in the application we are porting but the example a

[2015-11-11 04:42] Bartmax opened #3519 "Enhance collection properties on Razor, TagHelpers and MVC in general."
[code]

The story on collection properties on razor views is not very good/friendly IMHO. Model binder does almost a good job but then neither `TagHelpers` or `HtmlHelper` "helps" ;)

I don't have any concrete suggestion. This is more like:
1. Hey! I would love to see improvements in this area/scenario.
2. Do you have any plan to make some improvements in this area/scenario ?

[2015-11-11 09:04] klesniewski opened #3520 "Expose DefaultHtmlGenerator internal methods to deriving types"
I am developing custom tag helpers, which in API will be similar to built-in tag helpers. I found, that a lot of code, which could be reused, is implemented in `DefaultHtmlGenerator` as `internal` methods and therefore not available for reuse in deriving classes. Adding `protected` keyword could make it also available for reuse, but on the other hand would form a contract, on which people will dep

[2015-11-11 09:58] Anderman commented on #3434
Localized and not localized return display name

[code]

[2015-11-11 10:20] damienpontifex opened #3521 "Return type based on content negotiation"
Considering MVC & Web API are now merged and can be served from the same controller, I was wondering if there is a way to return an appropriate type for the requested content type?

For example, consider a POST request that was successful:
From a form/MVC we may `return RedirectToAction("Index")`
From a REST call with JSON, `return new ObjectResult(newObject);`

Is there a return type that either

[2015-11-11 10:38] SetTrend commented on #3499
It's v2.2. Perhaps I'm a little late :)

Here's the source I'm referring to: (OAuthAuthorizationServerProvider.cs)(http://www.symbolsource.org/MyGet/Metadata/aspnetwebstacknightly/Project/Microsoft.Owin.Security.OAuth/2.0.1-rtw1-20921-638-dev/Release/.NETFramework,Version%3Dv4.5/Microsoft.Owin.Security.OAuth/Microsoft.Owin.Security.OAuth/Provider/OAuthAuthorizationServerProvider.cs?ImageName=Micro

[2015-11-11 10:57] Anderman opened #3522 "Strings should not be Localized before localization is called"
I have the following code.
[code]
and added this to my mvc config
[code]

See https://github.com/aspnet/Mvc/issues/3434.

The errormessage is already  localized before
[code]
is called

This is done in project Microsoft.Aspnet.MVC.Viewfeatures in RemoteAttrribute.cs
[code]

I thought is is not the only one  and looked for all reference to the `Format(culture,...`
Which give me this list of 150 pos

[2015-11-11 12:05] wolfgangschneider commented on #3504
RuntimeBinderException: 'object' does not contain a definition for 'Id'

CallSite.Target(Closure , CallSite , Object )

System.Dynamic.UpdateDelegates.UpdateAndExecute1[T0,TRet](CallSite site, T0 arg0)

Asp.ASPV__Views_Accountability_Components_AOPCluster_Default_cshtml.<ExecuteAsync>d__17.MoveNext() in dqt31hmy.xvt

--- End of stack trace from previous location where exception was thrown ---

Sys

[2015-11-11 12:22] ankitbko commented on #3511
That's one way to do it. However I was looking at something that is plugable from outside. The problem with the above approach is that I'll have to create two implementations. This clutters the codebase and for any change I'll have to rebuild the project.
The project I am working is quite huge. In fact there are multiple teams and 50+ developers. Moreover we have Microservice architecture resultin

[2015-11-11 14:24] Anderman commented on #3434
The GetErrorMessage is also called from other attributes.
From the Maxlength parameter you need to supply both Displayname and length.
[code]

[2015-11-11 14:30] Anderman commented on #3434
I think you use this `!string.IsNullOrEmpty(Attribute.ErrorMessage)` to check of a custom error message is set. But this is not the case with the Emailaddress attribute. Maybe Attribute.CustomErrorMessageSet to check if a custom error message is set

[2015-11-11 16:28] dougbu commented on #3522
Do you have a scenario in which the error message for `RemoteAttribute` is not localized as you expect? I ask because `ValidationAttribute.ErrorMessage` does not call `FormatErrorMessage()`.

[2015-11-11 16:32] dougbu commented on #3504
@wolfgangschneider should this issue still be open?

[2015-11-11 16:47] rynowak commented on #3519
Could you tell us more about what specifically you should should be easier? /cc @dougbu who is the master of all things collection model binding.

[2015-11-11 16:50] Anderman commented on #3434
CompareAttribute missing code to localized.
[code]

[2015-11-11 16:55] Anderman commented on #3522
@dougbu I Use Beta8 and I see a lot of issue with the localization. see https://github.com/aspnet/Mvc/issues/3434

Is it correct that only custom error message can be localized?

If that is the case:
Then this issue is caused by not correct  checking if a custom errormessage is set on an attribute

[2015-11-11 17:06] rynowak commented on #450
We have an updated design for this, and the remaining work is tracked in bugs with more information:
https://github.com/aspnet/Mvc/issues/3215
https://github.com/aspnet/Mvc/issues/2969

[2015-11-11 17:06] #450 closed

[2015-11-11 17:16] Eilon commented on #3499
@SetTrend ah, yes, it's old*er* but not yet old :smile:

My recollection is that the pattern exists to support a number of different programming patterns:

1. The interface exists in order to allow plugging in a self-contained set of a new behavior. Maximum control.
2. The class implements the interface so that someone wishing to just override a single method can do that without having to stub out

[2015-11-11 17:16] #3499 closed

[2015-11-11 17:24] ArieJones commented on #3494
It should also be noted that with 4.5.2 MVC templates hooked up with the same Azure AD that the same behavior is not happening. So this looks like a bug to our group here. If we are doing something incorrectly that the templates are not setting up for us out of the box then please let us know.

[2015-11-11 17:30] rynowak opened #3523 "Get rid of reliance on CallContext"
For perf, we want to avoid the use of CallContext based accessors in the framework. See: https://github.com/aspnet/HttpAbstractions/issues/473

Here's our migration plan:

**IHttpContextAccessor:**
-	~~Used in `ITempData` to get access to the session. We could probably change Controller to DI the temp data provider, and pass in the `HttpContext`~~ 07085ca69b15a2103bb1fae47f81a65e54b770c6
-	~~Used

[2015-11-11 17:55] dougbu commented on #3434
Looks like there are a few issues mixed into this one.

1. @muratcakir and @Anderman you're correct that `DataAnnotationsClientModelValidator<TAttribute>.GetErrorMessage(...)` and `DataAnnotationsModelValidator.Validate(...)` are inconsistent. I suspect @Anderman is also correct that the `IStringLocalizer` invocation in both should be `_stringLocalizer[Attribute.ErrorMessage, DisplayName]`. If not

[2015-11-11 17:56] dougbu commented on #3521
@damienpontifex MVC 6 provides content negotiation. What in particular are you looking for?

[2015-11-11 17:59] Eilon commented on #3511
I still don't feel that mocking an API at the *controller action* layer is correct. That is really just an implementation detail of a service. I think mocking it at a much more distant layer makes more sense:

1. Mock it at the call site and avoid *all* the implementation details, including that it even goes over a network. That's my preference.
2. Mock it at the destination, but at a very low lay

[2015-11-11 18:09] dougbu commented on #3520
`protected` won't work because the methods are not intended just for `DefaultHtmlGenerator` and its subclasses. They're used in the implementation of some `protected virtual` methods in `DefaultHtmlGenerator` and elsewhere. Further, all `internal` methods in `DefaultHtmlGenerator` are also `static` and some are referenced from code that does not have an available `IHtmlGenerator`.

If these method

[2015-11-11 18:18] Eilon commented on #3494
@rustd have you seen this with Azure AD in the default templates?

[2015-11-11 18:19] Eilon commented on #3517
@rynowak FYI

I think having the same overloads is probably fine, right?

[2015-11-11 18:24] #3414 closed

[2015-11-11 18:54] rynowak commented on #3517
:+1:

[2015-11-11 19:12] ajaybhargavb opened #3524 "TempData negative long values do not round trip correctly"
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/ViewFeatures/SessionStateTempDataProvider.cs#L135
This doesn't take into account the long values that are less than `int.MinValue`. This should just be a one line fix.

[2015-11-11 19:20] rynowak commented on #609
We decided to go back to the MVC5 semantics on this one. Not sure this bug is relevant.

[2015-11-11 19:20] rynowak commented on #2031
We use the default contract resolver, so this isn't really relevant.

[2015-11-11 19:20] #2031 closed

[2015-11-11 19:20] rynowak commented on #2030
We use the default contract resolver, so this isn't really relevant.

[2015-11-11 19:20] #2030 closed

[2015-11-11 20:09] rustd commented on #3494
I don't see this issue with the RC1 templates. Here is what I did:
- Create ASP.NET 5 Web App with Work & School Accounts and Single Sign on
- Run the app and login with Azure AD
- After successful login, click About and Contact pages.
I was able to access them without being redirected back to login with Azure AD

[2015-11-11 20:12] rynowak commented on #3516
Some allocation data for ~430 requests

![image](https://cloud.githubusercontent.com/assets/1430011/11100716/aaa194e8-8867-11e5-9d54-6c86f8b9f9d6.png)

The bulk of this is just coming from TagHelpers and related infrastructure. There's a significant contribution from  `SocketOutput` in Kestrel which is also being worked on.

Removing TagHelper support leads you to a repro of #3196

[2015-11-11 23:34] Anderman opened #3527 "Localization of CompareAttribute should be localized"
The
`_stringLocalizer[Attribute.ErrorMessage,displayName,
                                     GetOtherPropertyDisplayName(context)`
Is missing
remarks
* To be consistent: Displayname and OtherPropertyName should also be localized

setup test
[code]

[2015-11-11 23:36] cesarbs commented on #3465
This looks like a bug in corefx, I've filed an issue: https://github.com/dotnet/corefx/issues/4455. Notice the repro is really simple.

[2015-11-11 23:48] #3465 closed

[2015-11-11 23:50] Eilon opened #3528 "Remove MvcMinimalSample and make it a functional test instead"
The test would use similar startup code, and then make a request to the site to serialize something and check it got back the right result.

[2015-11-11 23:54] damienpontifex commented on #3521
Say a simple post method you would have in your controller like this to respond to a form submission on a page:
[code]

Vs I have been writing this for an API endpoint for a JSON result
[code]

Can I merge these methods (only have one POST method) and still get the same functionality as their only difference is the return objects? i.e. first returns HTML, second returns JSON.

[2015-11-11 23:56] Eilon opened #3529 "Remove MvcSample and add an MvcSandbox instead"
MvcSample served its purpose and can now be buried.

MvcSandbox is a minimal MVC app that:
1. Has a basic startup.cs with basic code
2. Has a HomeController with an Index action
3. Has a Home/Index.cshtml view and a shared layout page
4. And add a .gitignore file to that folder to prevent people from inadvertently checking into this folder

[2015-11-12 00:03] Eilon opened #3530 "Add functional test that runs the TagHelper sample site and verifies it works"
There is a functional test that just checks for HTTP status code 200, but it needs to be updated to have more specific verification of pages.

[2015-11-12 00:04] Eilon commented on #3530
Also update the readme in that sample to point at the specific interesting examples that are in there.

[2015-11-12 00:04] NTaylorMullen commented on #3527
This overlaps a bit with https://github.com/aspnet/Mvc/issues/3518

[2015-11-12 00:05] Anderman opened #3531 "Attribute EmailAddress is already localized before calling _localizestring"
The Emailaddress attribute has no ErrorMessage parameter but is already set to custom error message and this message is already translated

This one is tricky because translation is already done in system.data.componentmodel.dataAnnotation and also the custom error message can't be set by EmailAddress attribute

Remark.
* To be consistent: Displayname should also be localized
* call _stringLocaliz

[2015-11-12 00:08] Anderman commented on #3527
Yeah, I totally agree that display name should be localized by the new _stringlocalizer

[2015-11-12 00:19] dougbu commented on #3465
Why file a CoreFx issue about a bug seen when using Mono? Or is this actually a problem when using .NET core?

[2015-11-12 00:22] Kagamine commented on #3465
This ouccurred with System.Text.Encodings.Web

[2015-11-12 00:23] rynowak opened #3532 "Implement a backing-buffer for Razor using pooled memory"

[2015-11-12 00:23] rynowak commented on #3532
Self assigning as I've been looking into this already.

[2015-11-12 00:48] Anderman opened #3533 "No errormessage is added to the validation rule [DataType(DataType.EmailAddress, ErrorMessage = "Not a valid Email address")]"
With  [DataType(DataType.EmailAddress, ErrorMessage = "Not a valid Email address")] attribute

The field will be validated in the browser but the error message is from jquery validation.js
[code]

[2015-11-12 00:58] rynowak opened #3534 "Optimize allocations in UrlResolutionTagHelper when it no-ops"
The usage patterns for doing things like reading taghelper attributes need to allocation free for the kinds of things done in this taghelper.

![image](https://cloud.githubusercontent.com/assets/1430011/11107730/705b82c0-8895-11e5-9e95-ec55189209b6.png)

[2015-11-12 01:08] Anderman opened #3535 "MaxLentghAttribute should be localized with two parameters"
MaxLength attribute should be localized with two paramters

return _stringLocalizer[Attribute.ErrorMessage,displayName,Attribute.Length];
remarks
* To be consistent: Displayname should also be localized

setup
[code]

[2015-11-12 01:13] Anderman opened #3536 "Minlength should be localized with 2 parameters"
See https://github.com/aspnet/Mvc/issues/3535

setup

        [MinLength(10, ErrorMessage = "Field {0} minlength is {1}")]
        [Display(Name = "PwPassword", ResourceType = typeof(loc))]
        public string Password { get; set; }

[2015-11-12 01:24] ArieJones commented on #3494
Is this possibly related just to beta8?

 Additionally, we wondered if it was our development machines since we are running Windows 10 so we tried the following:
1. Deployed to Azure => same result
2. Access Azure Website from 2 other machines( WIndows 7 and Windows 8.1 ) => same result

The Azure AD that we are utilizing is a secondary Azure AD (for development) with logins that are external to t

[2015-11-12 01:43] Anderman opened #3537 "RangeAttribute should be localized with 3 parameters"
RangeAttribute has 3 paramaters and should be localized like

_stringLocalizer[Attribute.ErrorMessage,displayName, min,max]

[2015-11-12 01:50] Anderman opened #3538 "Regexpre attribute should has 3 parameters to localize"
RangeAttribute has 3 paramaters and should be localized like

_stringLocalizer[Attribute.ErrorMessage,displayName, regex]

setup

        [Display(Name = "PwPassword", ResourceType = typeof(loc))]
        [RegularExpression("regex", ErrorMessage = "field {0} should be like {1} ")]
        public int Custom { get; set; }

[2015-11-12 01:54] Anderman opened #3539 "Required should has 2 parameters to localize"
RequieredAttribute has 2 paramaters and should be localized like

_stringLocalizer[Attribute.ErrorMessage,displayName]

setup

        [Display(Name = "PwPassword", ResourceType = typeof(loc))]
        [Required(ErrorMessage = "field {0} is req ")]
        public int Custom { get; set; }

[2015-11-12 02:08] Anderman opened #3540 "StringLength attribute should be localized with 3 parameters"
StringLength Attribute has 3 paramaters and should be localized like

_stringLocalizer[Attribute.ErrorMessage,displayName, max,min]

Remark.
* Support 2 version?? like https://github.com/Microsoft/referencesource/blob/master/System.ComponentModel.DataAnnotations/DataAnnotations/StringLengthAttribute.cs

setup

        [Display(Name = "PwPassword", ResourceType = typeof(loc))]
        [StringLength

[2015-11-12 03:40] dougbu commented on #3533
@Anderman please add the relevant bits of your `.cshtml` file.

[2015-11-12 03:42] dougbu commented on #3533
Also, does `[EmailAddress(ErrorMessage = "Not a valid Email address")]` work more like you expect?

[2015-11-12 06:51] Eilon commented on #3537
@Anderman can you explain what the problem is? The string localizer just needs to get a resource string. The formatting of the resource string is done by Data Annotations, so there's no need for the string localizer to do it itself. In fact, I don't think it *can* do it because the information isn't even available.

[2015-11-12 06:57] Eilon commented on #3536
Closing as an effective dup of https://github.com/aspnet/Mvc/issues/3537.

[2015-11-12 06:57] #3536 closed

[2015-11-12 06:57] Eilon commented on #3540
Closing as an effective dup of https://github.com/aspnet/Mvc/issues/3537.

[2015-11-12 06:57] #3540 closed

[2015-11-12 06:58] Eilon commented on #3539
Closing as an effective dup of https://github.com/aspnet/Mvc/issues/3537.

[2015-11-12 06:58] #3539 closed

[2015-11-12 06:58] Eilon commented on #3538
Closing as an effective dup of https://github.com/aspnet/Mvc/issues/3537.

[2015-11-12 06:58] #3538 closed

[2015-11-12 06:58] Eilon commented on #3535
Closing as an effective dup of https://github.com/aspnet/Mvc/issues/3537.

[2015-11-12 06:58] #3535 closed

[2015-11-12 07:15] dougbu opened #3541 "Logging: Suggest adding more output at `LogLevel.Verbose`, removing some"
My general metric is that `LogLevel.Verbose` should output at least three times as many _useful_ messages as `LogLevel.Information`. Logging from the MVC repo does not currently meet this expectation.

On the not-so-useful side, a few `Verbose` messages subset `Information` or other `Verbose` output:
[code]
...
[code]
and perhaps (wouldn't look redundant if other information was logged while execu

[2015-11-12 07:57] Anderman commented on #3533
@dougbu that's correct I should use that

With the DataType Attribute you can also set a ErrorMessage

        [DataType(DataType.EmailAddress,ErrorMessage ="Field {0} is not a valid email address")]
        public string Email { get; set; }

So I expected this html

[code]

But I got this
[code]

[2015-11-12 08:32] JamesNK opened #3542 "JSON serialization performance investigation"
Hi @DamianEdwards + MVC devs working on performance

I'm going to do some more work on json.net perf and allocations and I'd like to get a discussion going about optimizing json.net performance in MVC when serializing and deserializing. We can pool knowledge and figure out what hotspots you can see and what each side can change to eliminate them.

An MVC dev at MVP Summit (sorry I've forgotten you

[2015-11-12 08:41] richlander commented on #3542
/cc @terrajobst, @KrzysztofCwalina

[2015-11-12 09:14] JamesNK commented on #3542
Work in progress API for Json.NET to utilize a buffer pool - https://github.com/JamesNK/Newtonsoft.Json/commit/ac1a46bd146438da79f2550f031d7b903186682f

[2015-11-12 09:15] jupdidu opened #3543 "app.Map() changed behavior or stopped working as intended"
Since I switched to beta 8 of MVC I have problems getting app.Map() to work.

Here is the Configure method of my Startup class:

    public void Configure(IApplicationBuilder app, IHostingEnvironment env)
    {
        app.Map("/modules/someModule", builder =>
        {
            app.UseMvc();
        });
    }

This code worked as expected in Version 5.2.3, e.g. I had to enter the URL http://lo

[2015-11-12 09:19] davidfowl commented on #3543
This code:

[code]

Should be:

[code]

[2015-11-12 09:23] jupdidu commented on #3543
I feel so stupid now... sorry for the issue...

[2015-11-12 09:24] #3543 closed

[2015-11-12 11:11] ArieJones commented on #3494
I guess we should preface this with we don't think that it is necessarily the templates that are the problem here but  with whatever process is supposed to ensure that the security token goes from point A to point B. We're just going to chalk it up to something being broken in the beta 8 build.

@rustd could you provide us with the build number you are currently using or possibly the sample projec

[2015-11-12 11:14] SetTrend commented on #3499
Sure, but ... Anyone implementing a different class (1 or 2) may not call (3), sot basically this design has its flaws.

The flaw is to have the member functions being virtual. They should have been fixed and call the `On...`, like they currently do. That'd have catched all the other cases and would've been water-proof.

[2015-11-12 11:48] klesniewski commented on #3520
According to MSDN documentation and [these StackOverflow answers](http://stackoverflow.com/q/585859/1537441) marking method as `protected internal` makes it accessible in the same assembly **plus** in derived classes. There would be no need to make them `public`, since they would preserve their current accessibility level plus if someone would like to take advantage of `DefaultHtmlGenerator` it wo

[2015-11-12 12:06] PinpointTownes commented on #3499
Except that overriding a method is simpler and clearer than assigning a delegate in a constructor. If you're not happy with this pattern, nothing prevents you from using your own `IOAuthAuthorizationServerProvider`. Note that it's not specific to the OAuth2 server middleware, as all the security middleware share the same pattern.

You don't have to override all the methods, just the most basic one

[2015-11-12 12:54] giddev opened #3544 "IHtmlContent ToString() not working"
[article](https://visualstudiomagazine.com/articles/2014/10/01/building-a-useful-html-helper.aspx) code in asp.net 4:

    HtmlString html1;
    HtmlString html2;

    html1 = helper.LabelFor(prop, htmlAttributes);
    html2 = helper.LabelFor(prop, htmlAttributes);
    return new HtmlString(html1.ToString() + ": "  +
                      html2.ToString();

When I try it in ASP.net 5:

      HtmlS

[2015-11-12 14:38] angelsix opened #3545 "PasswordHasher without AspNet.Identity references"
I'm creating a password hasher that is not in the Web layer so wont have references to Asp.Net.

I cannot find KeyDerivationPrf or KeyDerivation.Pbkdf2(...).

From source it appears the it is in the Microsoft.AspNet.Identity that they are inside Microsoft.AspNet.Cryptography.KeyDerivation. Yet it doesnt find that reference, I cannot find that reference, and nowhere on github in these source files

[2015-11-12 14:51] klesniewski commented on #3520
I looked into `GetValidationAttributes` and it actually doesn't apply to my case, since I do not have any client side validation for ordering items in tables. In the end I am using only `GetFullHtmlFieldName`, which is one-liner. Looks like after all I do not need `DefaultHtmlGenerator` private methods. Not sure if it wouldn't be beneficial in other cases though.

[2015-11-12 16:21] rynowak commented on #3542
Hi James,

It was I that brought up buffer pooling. Let me grab some data really quick based on the current state of things.

[2015-11-12 16:38] Muchiachio commented on #3544
This scenario is no longer supported in ASP.NET 5, [here's a relative ticket](https://github.com/aspnet/Mvc/issues/3355).

[2015-11-12 16:50] KrzysztofCwalina commented on #3542
/cc @sokket

[2015-11-12 17:19] rynowak commented on #3542
Here's some data for allocations. I'm using this sample, and doing 3000 requests.

[code]
https://github.com/rynowak/mvc-sandbox/blob/master/workloads/MediumApi/Controllers/PetController.cs#L43

The posted data looks like this:
[code]

This includes both serialization and deserialization, but is pretty close to an e2e for an API. The only thing missing is actually doing something with the data :la

[2015-11-12 17:20] rynowak commented on #3542
Give me a min to reload, and I'll be back with sampling data.

[2015-11-12 17:47] pranavkm commented on #3545
Referencing `Microsoft.AspNet.Cryptography.KeyDerivation`  should work.

[2015-11-12 17:49] angelsix commented on #3545
I dont want to reference Asp.Net thats the whole point (first part of the message). I also cannot find the source to Microsoft.AspNet.Cryptography.KeyDerivation in order to copy the code out of the Asp.Net reference.

[2015-11-12 18:01] rynowak commented on #3542
Ok, so here's sampling data for the same sample and input.

Looking at the call-tree overall would be pretty hard to do over github, so here's a high-level picture via table. In this data all the code that runs once we reach routing represents 100%. I'm ignoring everything the server does to get us into middleware, and everything the server does once we finish writing to the stream.

| Feature

[2015-11-12 18:01] henkmollema commented on #3545
It's here: https://www.nuget.org/packages/Microsoft.AspNet.Cryptography.KeyDerivation.

I used it to port the PasswordHasher using ASP.NET 5 data protection stack: https://github.com/henkmollema/CryptoHelper.

[2015-11-12 18:11] rynowak commented on #3501
A thought here

We probably want to expose the underlying stream to Razor, and then have `Flush()` on the writer not flush the underlying stream. This enables us to do *direct to bytes* output in razor (if desired in the future) and still lets us build flushpoints.

[2015-11-12 18:15] angelsix commented on #3545
Thanks but that also doesnt work on CoreCLR only normal .Net. I need it on a platform that runs CoreCLR DNX50

[2015-11-12 18:18] henkmollema commented on #3545
Why not? The package targets DNX Core 5.0. Use the [beta8](https://www.nuget.org/packages/CryptoHelper/1.0.0-beta8) package if you want it to use with beta8 bits.

[2015-11-12 18:52] sokket commented on #3542
Fantastic write up @rynowak, this is really interesting! I made some changes to the BufferPool yesterday that might help...there's now a Shared instance on the ManagedBufferPool that might make it easier to plug into the pipeline here.

[2015-11-12 18:55] JamesNK commented on #3542
Hey Ryan, perfect, this is just what I was thinking of

The writer buffer starts out very small, `new char[32]` off the top of my head. It will grow if you have large strings with escaped characters (eg, new line). It would be worth looking have a benchmark with larger data.

JsonSerializer is thread safe. @DamianEdwards is already reusing it in his benchmark. You could have a single instance but

[2015-11-12 19:52] rustd commented on #3494
I was using rc1 builds. The templates are open sourced and you can see the source here https://github.com/aspnet/Templates/tree/release/src/Rules/StarterWeb/OrganizationalAuth/Single
You can check the Startup.cs and compare it with your app.

[2015-11-12 20:24] rynowak commented on #3542
I spent a little time this morning - will look more later.

**A few thoughts:**

------------------------

We don't have a sync implementation of `Read` in Kestrel right now. There's some friction here because of this. I know you've closed issues in the past that request an `async` implementation of JSON.NET. We might find that one of these two things need to budge if we look at bigger data-sets.

[2015-11-12 20:35] rhegner opened #3549 "Where did Request.UserLanguages go?"
In ASP.NET 4.5 Controllers I was able to query the user's preferred languages using

    Request.UserLanguages

This does no longer seem to be available. What are alternatives?

[2015-11-12 20:45] rynowak opened #3550 "Pool JsonSerializer instances"
See data here:

![image](https://cloud.githubusercontent.com/assets/1430011/11124519/514e15ca-891a-11e5-82e6-88a4db8a59a9.png)

See comment from @JamesNK here: https://github.com/aspnet/Mvc/issues/3542#issuecomment-156200726

[2015-11-12 20:47] JamesNK commented on #3542
You don't know whether to just go ahead and set the property until you've checked that there is no customization going on, and there are a lot of places where customization could come from.

However I have thought about this in the past. There is already caching in contracts but it is denormalized. As you can see in CalculatePropertyDetails and GetConverter, there is a lot of checking in different

[2015-11-12 20:51] JamesNK commented on #3542
Adding async to Json.NET would be a huge amount of work.

[2015-11-12 20:57] Eilon commented on #3537
I chatted with @kirthik and @dougbu and I understand this now, and I agree it's a bug - sorry for the confusion.

Apparently @DamianEdwards had a solution to this here: https://github.com/DamianEdwards/i18nStarterWeb/blob/master/src/Microsoft.AspNet.Mvc.Localization/ValidationAttributeLocalizerOfT.cs

So we need to bring that behavior back in.

[2015-11-12 21:00] Eilon commented on #3522
I think only a custom error message should be localized through `IStringLocalizer`. There's no reliable way to know what the system default error message is, or whether it's already localized.

[2015-11-12 21:01] Eilon commented on #3507
@pranavkm please sync with @rynowak on what kind of sample we might want for this to show the current behavior.

[2015-11-12 21:03] Eilon commented on #3541
Where did the idea of verbose should be ~3 times as chatty as informational come from? We have no such guideline, nor do I think that is a particularly useful metric to use...

But I agree that there's some cleanup warranted in MVC's logging.

[2015-11-12 21:06] Eilon commented on #3549
@rhegner I believe you just read the header yourself. Or, use the new ASP.NET 5 [localization middleware](https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/Startup.cs#L61) to enable parsing of the culture header, and then get the desired value through [`IRequestCultureFeature`](https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/Startup.cs#L75).

[2015-11-12 21:18] Eilon commented on #3544
Calling `HtmlString.ToString()` was in fact never correct. It just happened to return the same string. Instead the correct code in ASP.NET 4 is to call `[HtmlString.ToHtmlString()]`(https://msdn.microsoft.com/en-us/library/system.web.htmlstring.tohtmlstring(v=vs.110).aspx).

In ASP.NET 5 there is no `IHtmlContent.ToString()` operation because concatenating strings is hugely inefficient. You can in

[2015-11-12 21:19] rhegner commented on #3549
Thanks, that helped! I'm using the localization middleware now.

[2015-11-12 21:19] #3549 closed

[2015-11-12 21:20] Eilon commented on #3549
Great!

[2015-11-12 21:21] Eilon commented on #3544
@rynowak @dougbu @Tratcher @pranavkm not sure if maybe one of you remember, but why didn't we make [`BufferedHtmlContent`](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Extensions.BufferedHtmlContent.Sources/BufferedHtmlContent.cs) public? It seems like it would be useful for scenarios like this, where someone wants to recompose other HTML bits and return them. Was there some l

[2015-11-12 21:24] Eilon commented on #3543
Hah, I had to read @davidfowl 's code THREE times until I saw the difference! :smile:

[2015-11-12 21:30] rynowak commented on #3544
We could make it public if we want to. It's really kinda a stopgap until we specialize various implementations more. I don't want to make any public API changes that make it harder to make perf changes until we're done :laughing:

[2015-11-12 21:43] rynowak commented on #3542
We need this as well for the XML formatters if we care about their perf because they don't go async.

I realize that it would be a huge amount of work to create an async parser. One middle-ground might be an optimized experience for when we can read the request body in a single shot.

That would look like:
[code]

This is obviously for a special/limited case, but it's a very common one.

If I find

[2015-11-12 21:47] sokket commented on #3542
@rynowak The managed buffer pool (currently) only lets you Rent a primitive array (ie ```byte[]``` or ```char[]```); do you need it to be able to rent Span<T> (per your example) or are arrays fine?

The NativeBufferPool rents ```Span<T>``` since it assumes the buffers will be used for PInvoke calls that require Pointers.

[2015-11-12 21:49] angelsix commented on #3545
Oh yeah sorry I didn't look far. The #if defines made it uncompilable, but I just updated them to checks for CoreCLR flags and it looks usable. Thanks

[2015-11-12 21:49] #3545 closed

[2015-11-12 21:50] rynowak commented on #3542
This is all psuedocode :+1: I only need arrays.

**I still need the ability to rent non-primitive arrays.** But let's have that discussion offline and not pollute this thread.

[2015-11-12 22:00] JamesNK commented on #3542
You wouldn't need a custom JsonReader to do that, you could implement your own TextReader that preloads characters and use it if the content length is sub N characters. JsonTextReader doesn't care how TextReader gets its data.

[2015-11-12 22:12] JamesNK commented on #3542
Oh, and as bonus you could now simply pool the JsonTextReaders that are over the top of your simple TextReader. Reset the position, over write the buffer and you are good to go. That would save creating a new StreamReader, JsonTextReader, List<JsonPosition> and JsonPosition[] for each request.

[2015-11-12 22:14] rynowak commented on #3542
Sounds promising. Now I'm excited to try this :+1:

[2015-11-12 22:54] ryanbrandenburg commented on #3502
Fixed in #3548

[2015-11-12 22:54] #3502 closed

[2015-11-12 22:58] ryanbrandenburg commented on #3334
Fixed in #3547

[2015-11-12 22:58] #3334 closed

[2015-11-12 23:04] Anderman commented on #3537
@Eilon No problem, Sorry for the unclear issue description. I just created my Json implementation of the <IStringLocalizer> and did some testing

[2015-11-13 03:43] malekpour opened #3551 "HttpMethod case sensitivity"
`HttpMethodConstraint` is case sensitive when comparing HTTP methods. Also ~~`HttpContext.Request.Method`~~ `Microsoft.AspNet.Http.Internal.DefaultHttpRequest` case is same as what passed by the client which could cause inconsistency in some cases.

*I am not sure, but I guess http.sys was changing it to upper case, but Kestrel preserve.*

[2015-11-13 03:57] Eilon commented on #3537
@Anderman cool, thanks!

[2015-11-13 04:56] Eilon commented on #3551
It's worth noting that the HTTP method per [RFC 7231](http://tools.ietf.org/html/rfc7231#section-4) is case sensitive (emphasis mine):

   distributed object systems.  The request method was envisioned as
   applying semantics to a target resource in much the same way as
   invoking a defined method on an identified object would apply
   semantics.  **The method token is case-sensitive** because i

[2015-11-13 05:00] ankitbko commented on #3511
I understand your viewpoint to mock at either end. Mocking at client side makes me loose benefits of middlewares such as Authorization, versioning etc. Also the mocking implementation differs with different client side framework.
We do mock each layer on server side for unit testing. However creating a fake implementation of underlying layer just makes codebase large.
I was looking at something si

[2015-11-13 05:12] BruinY opened #3552 "Class Library how to use appsettings.json"
in mvc web project, other class library how to use appsettings.json.
now IApplicationEnvironment returns null

[2015-11-13 05:21] Tratcher commented on #3551
Hmm, even RFC 2616 says they're case sensitive. 7231 also says "By convention, standardized methods are defined in all-uppercase US-ASCII letters." so that's a good rule for clients to follow.

That said, I have not ever seen methods intentionally treated as case sensitive. Even System.Net.Http (which is usually very strict) has HttpMethod which uses OrdinalIgnoreCase. I think it's up to the consu

[2015-11-13 06:48] Eilon commented on #3551
Yeah I would generally prefer to have our check be case-insensitive. So I'm fine treating this as a bug.

[2015-11-13 07:34] #3544 closed

[2015-11-13 10:00] #3552 closed

[2015-11-13 11:35] SetTrend commented on #3499
I'm beginning to understand. Thank you very much for enlightening me on this.

And yes, you are right. One can replace that class by the interface.

I just wanted to state that I feel it's basically redundant. Creating such class from an interface is a single step in Visual Studio.

[2015-11-13 18:59] kichalla opened #3553 "Specifying '.{format?}' in a route template throws exception in some cases"
Following setup works for the following cases:
/api/values
/api/values.xml
/api/values/10
/api/values/10.xml

[code]

But when I try just having one route like `[HttpGet("/api/[controller].{format?}")]` on the first action I got the following exception:

[code]

Note that having the ‘.{format?}’ on the second action does not throw this error but it thrown for the first action.

Discussed with @ryn

[2015-11-14 00:17] tugberkugurlu commented on #3018
@rynowak regarding this: https://github.com/aspnet/Mvc/issues/3018#issuecomment-133578900 wouldn't it make sense for complex type objects to bind from body by default as it's being done in Web API today?

[2015-11-14 00:22] rynowak commented on #3018
No, not at all. This breaks MVC's scenarios

[2015-11-14 03:28] salerth opened #3556 "Two controllers with the same name under different areas (rc2)"
I have two controllers named `Component`, one residing in the usual root (/Controllers) and one under an area called `Admin`, residing at /Areas/Admin/Controllers.  It seems the correct controller is picked based on the URL and route as I visit them, but the view file (e.g. index.cshtml) picked is always the first one I visit in that session...not the correct view for the area.

1) visit /admin/co

[2015-11-14 03:29] rynowak commented on #3556
/cc @pranavkm

[2015-11-14 04:20] JamesNK commented on #3542
I've uploaded a new beta of 8.0.1 that includes the buffer pooling API and fixes the foreach allocation:
https://www.nuget.org/packages/Newtonsoft.Json/8.0.1-beta2

[2015-11-14 09:26] wolfgangschneider commented on #3504
In my opinion it is a bug, and should be open.

[2015-11-14 09:29] wolfgangschneider commented on #3504
Yes

[2015-11-14 09:30] wolfgangschneider commented on #3504
Yes

[2015-11-14 11:27] tugberkugurlu commented on #3018
@rynowak Is it possible to elaborate on what are those scenarios are for MVC? I have created the following model convention to sort of mimic the Web API behaviour:

[code]

Would this cause problems in an MVC 6 application where I have both form and JSON data being posted?

[2015-11-14 12:43] tugberkugurlu opened #3557 "JsonInputFormatter doesn't log errors"
I am on MVC 6.0.0-beta8 and I had a JSON deserialization failure. It didn't log any errors but instead it just didn't bind anything and populated the model state. This is the response I had:

[code]

When I tried the same deserialization in isolation, I got the below error from `JsonConvert.DeserializeObject<T>`:

I would expect to see this as a Debug level log so that I wouldn't need to dig deep

[2015-11-14 12:45] tugberkugurlu commented on #3557
This is the code I tried to get the error:

[code]

You need to install `NodaTime.Serialization.JsonNet` 1.3.1 NuGet package and `file.json` has the below content:

[code]

[2015-11-14 14:01] herecydev opened #3558 "Potential invalid operation exception?"
Just scanning some code out of curiosity when I spotted [this](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/FileResult.cs#L74).

If you're specifying it's a required service then line 74 doesn't need the `?.`.
Otherwise, if that was changed to `GetService` then you could have a null reference exception [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.C

[2015-11-14 14:06] davidfowl commented on #3558
Seems like a mistake to be doing `?.`

[2015-11-14 16:15] angelsix commented on #3545
Actually no it doesnt work. The Rfc2898DeriveBytes class is in DNX451 only, not available in DNX50 as its in System.Security.Cryptography?

[2015-11-14 16:26] henkmollema commented on #3545
That's why it uses `#if` def's. It uses [`KeyDerivation.Pbkdf2`](https://github.com/henkmollema/CryptoHelper/blob/fc63745e12594f4dd79a1eeffe9e45a8c746aea4/src/CryptoHelper/Crypto.cs#L173) on DNX Core 5.0.

[2015-11-14 16:45] angelsix commented on #3545
Ah yes sorry, I messed up my #if's as I have DNX451 not NET4... so when I was naming a few and re-organizing a moved it to the wrong place. Building fine now thanks

[2015-11-14 18:17] herecydev commented on #2492
Travis still broken? Lots of PRs with Appveyor saying [its ok](https://github.com/aspnet/Mvc/pull/3559); appveyor not so much.

[2015-11-14 20:12] dougbu commented on #2492
@herecydev won't get much visibility commenting on a closed issue. But, yes Travis, is not reliable these days. I'm pushing through the repos to improve this but haven't reached MVC yet.

[2015-11-14 22:32] herecydev commented on #2492
It seemed senseless to open up a new issue when this one already existed. Maybe you should have some more extensive alerts for comments that are added to closed issues. After all, it's more alarming that fixed items raise comments than those that are in progress.

[2015-11-14 23:00] sparraguerra opened #3560 "Check WhiteSpace in Microsoft.AspNet.Mvc.AreaAttribute constructor"
I think AreaAttribute constructor should raise an exception when areaName parameter is WhiteSpace.
This code
[code]

Should be?
[code]

[2015-11-15 02:15] dougbu commented on #3018
This approach would cause problems for any slightly-complicated form and model binding the submitted data. Forms do not always submit just one simple value.

[2015-11-15 10:29] meriturva opened #3561 "UAP 10.0 and Microsoft.AspNet.Mvc"
Any way to run Asp.net 6 on Windows IoT ? Actually i'm trying to integrate on a Universal Windows project a simple controller but no way, no package compatible with UAP, do i have to move to adapt different solution like netmf web servers?

is it related to:
https://github.com/NuGet/NuGet.Client/pull/105
https://github.com/aspnet/dnx/issues/2302
?

[2015-11-15 10:35] davidfowl commented on #3561
Nobody has tried it so I doubt it works. It's not a priority at the moment but we're OSS so if you'd like to try that would be a good first step.

[2015-11-15 14:47] meriturva commented on #3561
Just to know....will be possible in the future to embed a Owin VNext asp application into a UAP project?
What do you think?

[2015-11-15 21:07] hanu412 opened #3562 "Property validation"
I have a scenario where I am querying the database and creating a collection of elements. I need to perform certain data validations before I can process this data to the UI. Initially the requirement was simple - I needed to validate individual properties like MinLength, Required , Regex etc.
Now,the business requirement is complex which needs me to validate a property based on the value of anoth

[2015-11-15 21:46] GuardRex commented on #3512
Moved from https://github.com/aspnet/Razor/issues/606

I just noticed that this markup ...
[code]
... produces this markup ...
[code]
... which, of course, hoses validation ...

![capture](https://cloud.githubusercontent.com/assets/1622880/11170138/b4571c9e-8b80-11e5-95a7-ba29cf8e96fb.PNG)

Is that the expected behavior?

@dougbu commented:

@dougbu Is there a simple work-around to get the page to

[2015-11-15 22:06] dougbu commented on #3512
@rynowak I made the suggestion to reuse this issue. If you think the two symptoms are unrelated, let's discuss breaking them apart tomorrow.

@GuardRex for some reason `asp-action="contact"` isn't resolving. But you haven't provided enough information about the application to understand why. For example are you using attribute or template routing? Does a `Contact()` action exist in the executing c

[2015-11-15 22:14] GuardRex commented on #3512
@dougbu Roasted rat burgers! :rat: :hamburger: You're right. I dorked it. I changed the Controller action several days ago, and thus the action element was empty when I forgot to update `asp-action="contact"`. My bad.

[2015-11-15 22:24] dougbu commented on #3562
@hanu412 I recommend using data annotations as much as possible, especially for single-property validations. That works well in MVC and is generally simpler than other approaches. For example the system can automatically generate attributes for client-side validation.

Annotating your type with `[CustomValidation]` or an attribute implementing `IModelValidator` may end up with similar complication

[2015-11-15 22:38] dougbu commented on #3512
@GuardRex np.

From my perspective, the silent failure is not helpful here. You would have known where to look sooner if either the `<form>` tag helper threw an `Exception` (as in @salerth's original post) or the generated `action` led to a 404 on submission.

[2015-11-15 22:43] GuardRex commented on #3512
@dougbu Thank you for some relief over it. I really, really don't want to waste anyone's time there with brain farts ... "code farts" let's call them.

The submission behavior was understandable ... a good route on the controller `[Route("/contact/{d?}")]` with a `[HttpPost]` seemed to mask it pretty good.

[2015-11-16 16:18] rynowak commented on #3512
BTW If you want to have MVC5's behavior here you can... https://github.com/aspnet/Mvc/blob/dev/test/WebSites/BestEffortLinkGenerationWebSite/Startup.cs

We're going to revert this change sometime in RC2, but until then here's a workaround.

[2015-11-16 16:31] rynowak commented on #3018
@tugberkugurlu - MVC pushes you to **mix data from different data sources (route, form, query) in a single DTO**. It's the most common usage of model binding. It's hard to elaborate more, because almost any usage of model binding of MVC will do this.

[2015-11-16 16:40] rynowak commented on #3542
Awesome! Thanks @JamesNK :fireworks:

@sokket and I have been working on a spike to integrate the CoreFX buffer pooling work here. Hopefully we'll see these two converge sometime in RC2. https://github.com/sokket/Mvc/commit/9c9bd8fced172434b70ca10c194560007a9cbc23

[2015-11-16 16:51] pranavkm commented on #3560
There are plenty of instances in Mvc \ Razor \ Routing where we only check for null or empty for string parameters. Why would this one in particular be any different?

[2015-11-16 17:03] Eilon commented on #3561
@meriturva it would depend on there being a proper HTTP listener / server for UAP, and I don't know if that's the case. Ultimately, something has to listen on some port. The rest of MVC would then possibly work.

[2015-11-16 17:16] meriturva commented on #3561
I'm really confused actually.....on one hand we have the possibility to create a Windows IoT project (Universal Windows) but not to use ASP.NETvNext because is not compatible with UAP 10.0
On the other hand we have a way to run ASP.NETvNext on ARM with DNX as for example: https://github.com/DamianEdwards/PiDnx

Do you think that the only solution here to have a modern WebServer and a simple XAML U

[2015-11-16 17:28] Eilon commented on #3560
Whitespace isn't that special. If someone typed it in, keep it. It would be somewhat arbitrary to check for whitespace here (or almost anywhere).

[2015-11-16 17:28] #3560 closed

[2015-11-16 17:28] danroth27 commented on #3561
@DamianEdwards

[2015-11-16 17:31] afmuller opened #3563 "HTTP DELETE causes 404"
I created an empty ASP.NET 5 project, added MVC and a standard Web API controller (used the default ValuesController).

Sending an HTTP DELETE (e.g.: DELETE /api/values/1) (I used Fiddler Web Debugger) with anything in the request body (even only an empty JSON object {}) caused a subsequent request to fail with a 404. With Kestrel it is usually the next request that fails with a 404. With IIS it i

[2015-11-16 17:43] #3562 closed

[2015-11-16 17:48] Eilon commented on #3558
My guess is that it was to make our own testing easier. The null would probably be harmless in the real world. But might as well clean up the code.

[2015-11-16 17:50] Eilon commented on #3466
You can check out the MusicStore sample app to see how an AJAX request can send the anti-forgery tokens: https://github.com/aspnet/MusicStore/blob/221bf3049219d66730d308f538f4a613cf2c9430/src/MusicStore/Views/ShoppingCart/Index.cshtml

[2015-11-16 17:52] danroth27 commented on #3466
@david-whitehead Yes, to bind data using formatters you need to define a type for the body as the formatter abstraction is a stream to object conversion.

[2015-11-16 17:52] #3466 closed

[2015-11-16 18:00] Eilon commented on #3558
Oh sorry didn't see there's a PR for it: https://github.com/aspnet/Mvc/pull/3559

[2015-11-16 18:01] danroth27 commented on #3553
Can we also consider adding the FormatFilter globally when the format mappings are setup?

[2015-11-16 18:02] danroth27 commented on #3553
It's also pretty ugly that you have to specify the full route on the first action including the `api/[controller]` prefix.

[2015-11-16 18:08] #3511 closed

[2015-11-16 18:10] rynowak commented on #3553
You can just do `[HttpGet, HttpGet(".{format}")]`. Once we fix this bug `[HttpGet(".{format?}")]` should work.

[2015-11-16 18:11] rynowak commented on #3553
Mappings are set up today by doing things like `AddJsonFormatter()`. We might just want to add the format filter always.

[2015-11-16 18:23] Eilon commented on #3563
@ryanbrandenburg can you try to repro this?

[2015-11-16 18:25] Tragetaschen commented on #3563
That's KestrelHttpServer#270

[2015-11-16 18:38] Eilon commented on #3553
@rynowak thoughts on how to make the sub-attribute-route "mergeable" without the intermediate `/` that gets inserted? An option on `HttpGet` such as `[HttpGet("sub-route", InsertSlash = false)]` or something similar?

[2015-11-16 18:39] Eilon commented on #3563
@Tragetaschen ah cool.

Closing as a dup of https://github.com/aspnet/KestrelHttpServer/issues/270.

[2015-11-16 18:39] #3563 closed

[2015-11-16 18:41] ajaybhargavb commented on #3340
We discussed about this. It looks like the current area behavior in MVC 5 was not the intended behavior. We have decided not to bring back the same behavior in MVC 6. To make this work you need to explicitly specify the area in the route values.

[2015-11-16 18:41] #3340 closed

[2015-11-16 18:43] Eilon commented on #3532
Moving to RC2 :wink:

[2015-11-16 18:48] rynowak commented on #3553
No bright ideas here. `[HttpGet("sub-route", InsertSlash = false)]` is pretty gross. I'd rather leave `[HttpGet("/api/[controller].{format?}")]` than that. There are lots of places in attribute routing where we haven't optimized for being terse.

If we really want to optimize this, we could make `.` special as the first character of a route template.

[2015-11-16 18:48] Eilon commented on #3180
This is a feature area we'll take a look at in the future.

[2015-11-16 19:28] rynowak commented on #3542
@JamesNK - any thoughts on reducing `JsonSerializer` allocations here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Formatters.Json/JsonInputFormatter.cs#L83

Obviously we could use pooling here, and detach the event handler before returning the serializer to the pool. Ideally we'd have a pool of 1 :laughing:

[2015-11-16 20:17] bastienJS opened #3566 "Hyperlinks are not rendered at all when inside an Area"
I have created an area.

When the a-tags are defined within my Area "Application" then those a-tags are not rendered with an href=""

Maybe the root cause could be that Razor intellisense is also not working? Thats just a side note.

![image](https://cloud.githubusercontent.com/assets/5945955/11193320/5af3dad0-8ca6-11e5-8109-12ec904e6a2d.png)

I use VS 2015, .NET 4.6.1, asp.net 5.0 Beta 8.

Thats

[2015-11-16 21:08] rynowak commented on #3550
Partial fix here: e75eebbed000541f05dda8e9f524b445ba0722ff for output formatters.

Fixing input will take some doing.

[2015-11-16 22:28] JamesNK commented on #3550
Keep in mine that JsonSerializerSettings is mutable. Changing configuration on it without updating the JsonSerializer could confuse some users.

[2015-11-16 22:30] JamesNK commented on #3542
Is there an abstraction for getting the current InputFormatterContext? You could have a single instance with an event attached that uses that abstraction to get the context. As far as I can tell that is the only state that event cares about.

[2015-11-16 23:48] Eilon commented on #3553
Just `.` would be a super obscure special case. I'm also fine doing nothing for that case now. My suggestion could be implemented at any time, if there was enough demand for it.

[2015-11-17 00:04] Eilon commented on #3521
@damienpontifex so you are looking to do action selection based on the request's Accept header?

I *think* you're looking for the `[Consumes]` attribute: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ConsumesAttribute.cs#L19

And here's an example: https://github.com/aspnet/Mvc/blob/eef6c3883a7e27b8387b0925f0b6a88df0a484c5/test/WebSites/ActionConstraintsWebSite/Controllers/C

[2015-11-17 00:40] opiants opened #3569 "ViewComponents should try find partial views from its own view location"
Using beta8, calling Html.Partial in a ViewComponent razor file will cause an InvalidOperationException even though the partial file exists in the current view location directory.

Suppose I have a `_MyPartial.cshtml` inside `~/Views/Shared/Components/MyViewComponent/` directory. Given this ViewComponent class:

    public class MyViewComponent : ViewComponent
    {
        public IViewComponentRe

[2015-11-17 00:40] damienpontifex commented on #3521
@Eilon actually the exact opposite really. I want to merge the methods, but not have to do a check to determine whether to return JSON or HTML.

[2015-11-17 00:46] dougbu commented on #3569
MVC 6 does not currently support relative paths when finding relative views. That will change once I submit the fix for #3307 (PR #3380). For now this request looks like a duplicate of #3307.

[2015-11-17 01:10] Eilon commented on #3521
Ah I see. I don't believe there's any built-in feature of MVC for this. You could write an ActionExecutedFilter to sniff the header and convert the result. Do you want to give that a try?

[2015-11-17 01:10] opiants commented on #3569
I haven't done the digging to find out how it looks for the views yet but if it can find the `Default.cshtml`, it should find the partial view inside that same directory, right?

Without reviewing your commit, will your PR fix that? If it does, then I'm gonna close this.

[2015-11-17 01:10] Eilon commented on #3557
@tugberkugurlu we added a **ton** of logging code to MVC in RC1. Could you try the latest builds and see if you get back something more reasonable?

[2015-11-17 01:12] damienpontifex commented on #3521
Haven't done one in the past, but very happy to give it a try. Do you have a link on the documentation/source for implementing one?

[2015-11-17 01:47] rynowak commented on #3557
I can confirm that we didn't do anything like what what @tugberkugurlu is asking for in RC1 :frowning:

[2015-11-17 01:55] rynowak commented on #3542
Nope :laughing: That would be `InputFormatterContext.Current`.

We'd need a 'state' parameter to be plumbed through to the `ErrorEventArgs` to be able to do this. It's not good enough to close over something in a lambda, because we could be called with errors from another thread.

We might have to do traditional object pooling here.

[2015-11-17 02:42] davidfowl commented on #3542
@JamesNK that's a pretty common pattern to avoid allocating closures for delegates. It would be great if we could add something like that.

[2015-11-17 02:48] JamesNK commented on #3542
There is already a Context property on JsonSerializer that can be used to pass around state while serializing and deserializing. I'm afraid you can't have your cake (single JsonSerializer instance) and eat it too (state). I think you will have to pool.

[2015-11-17 02:55] davidfowl commented on #3542
I could be part of the call instead of being attached to the instance

[2015-11-17 02:58] dougbu commented on #3569
Yes, the path `_MyPartial.cshtml` will be interpreted relative to the currently-executing view.

[2015-11-17 03:03] JamesNK commented on #3542
JsonSerializer is already there for state. It doesn't make sense to have state on the serializer and to have to pass it in.

[2015-11-17 05:04] opiants commented on #3569
Cool thanks. I'm closing this now.

[2015-11-17 05:04] #3569 closed

[2015-11-17 05:13] dougbu opened #3571 "Remove use of `WebUtility.HtmlEncode()` and `...HtmlDecode()`"
`ContentViewComponentResult` uses both `System.Net.Http.WebUtility.HtmlEncode()` and `...HtmlDecode()`. Looks like a dusty legacy corner.

Use `System.Text.Encodings.Web.HtmlEncoder.Encode()` instead of `WebUtility.HtmlEncode()`. And if we don't yet have HTML decoders, perhaps the `ContentViewComponentResult` pattern should be rethought.

[2015-11-17 05:22] dougbu commented on #2372
@danroth27 seems odd to have an assigned issue in the Backlog milestone. Should it actually be in RC2? If not, I'll just ignore it :walking::walking::walking:

[2015-11-17 05:53] davidfowl commented on #3571
Yah

[2015-11-17 06:35] Eilon commented on #3566
Any chance you can upload the app to a GitHub repo? A lot easier to browse :smile:

A common cause is that the area/controller/action combination doesn't exist in the app (URLs to non-existent places are not rendered - but we're soon changing that behavior to allow it).

[2015-11-17 06:37] Eilon commented on #3557
A flipped my Ryan coin and it landed on @ryanbrandenburg .

[2015-11-17 07:44] bastienJS commented on #3566
Have fun: https://github.com/bastienJS/AreaHyperlinkIssue

[2015-11-17 12:46] danicomas opened #3572 "How can I accept .js files in aspnet 5?"
I have a js folder and a razor page with scripts. Then I receive a not found error when it tries to get the js files.

[2015-11-17 15:37] NTaylorMullen commented on #3572
Are you placing your JS files in the configured webroot folder? And are you using the static file package/middleware.

[2015-11-17 15:47] danicomas commented on #3572
Yes @NTaylorMullen It is.

[2015-11-17 15:51] davidfowl commented on #3572
@danicomas Can you provide a repro site on github so that we can take a look?

[2015-11-17 17:04] #3374 closed

[2015-11-17 17:29] danroth27 commented on #3521
I think you could create a ViewOrJsonActionResult and return that. The action result would decide based on the accept header whether to render the view or render JSON.

[2015-11-17 17:29] Eilon commented on #3566
A total head-scratcher, but I figured it out :smile:

The issue is that the default tag helpers are all registered in `~/Views/_ViewImports.cshtml`, and that file isn't in a parent folder of the area views.

You can either:
1. Move the `_ViewImports.cshtml` file to the root of the app
2. Copy the file into `~/Areas/` or `~/Areas/Application/Views`

These files are found by walking up the folder hi

[2015-11-17 17:29] #3566 closed

[2015-11-17 17:48] rynowak commented on #3571
We should just delete the constructor that takes `HtmlString`. You can return `HtmlString` directly from a VC so it's not really important.

[2015-11-17 17:49] mguinness opened #3573 "CacheTagHelper cache invalidation outside view"
While we're still in beta, I wanted to ask if there will be a way to manually remove items from the cache like the old RemoveOutputCacheItem method.  Although the question below is related to OutputCache it does show how frustrating it can be to invalidate a cache without knowning the key.

http://stackoverflow.com/questions/5326230/mvc3-outputcache-removeoutputcacheitem-renderaction

In Mvc/src/M

[2015-11-17 18:04] NTaylorMullen commented on #3573
Hmm, interesting. I remember when building it we talked about pluggability to account for custom expiration options. After looking through the code again (it's been a while) [MemoryCache](https://github.com/aspnet/Mvc/blob/94a4c8e3f4018d6357754e0877b7f6beffae2f59/src/Microsoft.AspNet.Mvc.TagHelpers/CacheTagHelper.cs#L63) being protected is probably the manifestation of that idea. Although super he

[2015-11-17 18:06] NTaylorMullen commented on #3517
73f557002f89fb0ff6da4ad7a74d2bcfe78b688a

[2015-11-17 18:06] #3517 closed

[2015-11-17 18:09] ryanbrandenburg commented on #3529
Also check that ajax requests validate as form data. If they don't then make another sample which uses Mvc.js to write data which will be auto-magicaly Model-Bound.

[2015-11-17 18:10] pranavkm commented on #3573
We have an example that shows how you could use expiration tokens to delete cached entries:

* https://github.com/aspnet/Mvc/blob/dev/test/WebSites/HtmlGenerationWebSite/Views/Catalog_CacheTagHelper/ListCategories.cshtml#L3 sets up a `cache` tag and invokes the `ProductsViewComponent`
* `ProductsViewComponent` creates a cache entry at https://github.com/aspnet/Mvc/blob/dev/test/WebSites/HtmlGenera

[2015-11-17 18:49] mguinness commented on #3573
@pranavkm - thanks for the example using the view component.  But let's say you update products via a Web API controller, how do you expire the cache then?  This would be a common use case I would imagine.  If you have a technique that would work in a similar fashion I would be interested to learn.

[2015-11-17 20:06] rynowak opened #3575 "CacheTagHelper needs to buffer before storing a value in the cache"
This code https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/CacheTagHelper.cs#L162 is putting a `TagHelperOutput` in the memory cache. With our newer rendering model this might include a pooled buffer or other random objects. We should write the content out to a stringbuilder before caching it.

[2015-11-17 20:23] Fosol opened #3576 "Middleware Adding Headers"
I'd like to be able to add a Response Time header to all responses.  However in many cases if I attempt to add the response time header value at the end of the actual execution it will throw an exception because it no longer can make changes to the response...

So how do you add a header at the end of a response?

I was hoping the following would work;
[code]

[2015-11-17 20:27] pranavkm commented on #3576
This would be a bug for https://github.com/aspnet/HttpAbstractions/

[2015-11-17 20:29] Fosol commented on #3576
Should I close and repost?

[2015-11-17 20:32] pranavkm commented on #3576
Yup, it'd have better visibility there.

[2015-11-17 20:38] #3576 closed

[2015-11-17 22:04] Eilon commented on #3566
It's fine to not have those files, so there can't really be any error for it.

[2015-11-17 22:26] ryanbrandenburg commented on #3529
Upon investigation Mvc.js doesn't need saving because you can easily just do:

var person = {
    Person: {
        Name: "ryan",
        Job: "Engineer"
    }
};

$.post("Home/Ajax", person);

and it will bind now.

[2015-11-17 22:40] bastienJS commented on #3566
OK. If you allow a side question also regarding my sample .sln. When you loaded the solution did you have intellisense for the razor directive?

[2015-11-17 23:16] Eilon commented on #3566
I didn't reuse your solution - I just created a new solution to try it out.

But once I added the missing `_ViewImports.cshtml` file, and then re-opened the view page, I got purple tag helpers in there.

[2015-11-18 00:19] pranavkm commented on #3558
Fixed in https://github.com/aspnet/Mvc/commit/db94a8ed19e626b4e094cc283abe0dfe4f39871f

[2015-11-18 00:19] #3558 closed

[2015-11-18 00:41] #3507 closed

[2015-11-18 01:13] Eilon commented on #3507
@pranavkm Done?

[2015-11-18 08:45] meriturva commented on #3561
Hi @danroth27 ... any news?
So thanks.

[2015-11-18 12:58] bastienJS commented on #3566
Can I post a razor intellisense bug also here on the forum or do I have to post it on visual studio forum? because in my .sln razor does not work.

[2015-11-18 13:13] danicomas commented on #3572
@davidfowl @danroth27 My repository:
https://github.com/danicomas/Angular2Aspnet5

If you run the project and open in your browser: http://localhost:5000/js/hello.js you will see that is not working well.

[2015-11-18 14:08] davidfowl commented on #3572
There's a bunch of problems with your project:

- Your project.json has references to beta5, beta6, beta7 and beta8, which is wrong and will never work
- Your project.json references **Microsoft.AspNet.Server.IIS** which is no longer relevant
- Your wwwroot folder has `bin/AspNet.Loader.dll` which will load the wrong server

My recommendation is to read this blog post http://blogs.msdn.com/b/webde

[2015-11-18 15:41] danicomas commented on #3572
Thanks @davidfowl I have update all my dependencies to beta8 and it works now:

[code]

[2015-11-18 15:41] #3572 closed

[2015-11-18 15:45] danicomas commented on #3572
@davidfowl  Should I to remove it?

[2015-11-18 15:54] davidfowl commented on #3572
yes

[2015-11-18 15:59] danicomas commented on #3572
Nice. Done. Thanks.

[2015-11-18 16:56] Eilon commented on #3566
For Razor Intellisense post here: https://github.com/aspnet/Tooling/issues/

[2015-11-18 18:12] pranavkm opened #3578 "[Discussion] FromServicesAttribute is no longer applicable on controller or model properties"
`FromServicesAttribute` used to be applicable on properties and parameters. The former allowed services to be bound on controller and model properties. However there was a lot of confusion as to where and how this worked.

This change, limits `FromServicesAttribute` to only work with action arguments. `FromServices` on controller properties can be replaced by a DI framework that support property i

[2015-11-18 18:27] #3503 closed

[2015-11-18 18:30] Bartmax commented on #3507
:+1:

[2015-11-18 18:30] kichalla commented on #3503
982c7abea8fc540142dc6566353508f42c4dc352

[2015-11-18 18:33] dmccaffery commented on #3578
:+1:

[2015-11-18 19:11] tuespetre commented on #3578
Ugh... :-1: :zap:

- **Controllers:** constructor injection can become tedious/hideous and we shouldn't have to write little 'service grouping' classes just to make our constructors more concise.
- **Models:** it is **so** convenient to tack on a `[FromServices]` property onto a model and then use it for validation (a-la `IValidatableObject`.) I don't want to have to write a custom validation attr

[2015-11-18 19:13] dmccaffery commented on #3578
@tuespetre : use a full-blown IoC container like Ninject and you can do whatever you want.

[2015-11-18 19:15] tuespetre commented on #3578
I don't want to use a 'full-blown IoC container like Ninject'. That defeats the **whole purpose** of having dependency injection built in to ASP.NET 5.

[2015-11-18 20:00] Eilon commented on #3578
@tuespetre the default DI system provided in ASP.NET is not meant to be a feature-rich system.

The decision to remove property support from `[FromServices]` was made specifically *because* of customer feedback. We saw that very few people were using it for properties, and that of the few who tried to use were using it incorrectly and it didn't work. This ended up causing many headaches for many p

[2015-11-18 20:05] dmccaffery commented on #3578
@tuespetre As an FYI: I wasn't one of the ones that complained, but I always felt as though the built-in DI should be just enough to complete the story for ASP.NET internals rather than act as a 'replacement' for the many tried-and-true DI systems out there. They've done just that, which gives us the freedom to use whatever DI system we want -- always a good thing, especially in OSS.

[2015-11-18 20:27] dougbu commented on #3152
b3c68de

[2015-11-18 20:27] #3152 closed

[2015-11-18 20:47] tuespetre commented on #3578
Switching to use another DI container would be awesome if I wanted to do all sorts of Mickey Mouse shit like scan unknown assemblies and manipulate a newly-activated instance of a service, but as far as I can tell, switching to another DI container does **exactly nothing** in relation to binding a service to a model property. All it does is return a different implementation of `IServiceContainer`

[2015-11-18 20:52] #3196 closed

[2015-11-18 20:53] rynowak commented on #3196
This has been fixed by https://github.com/aspnet/Razor/pull/613

I can compile this view now in about 4 seconds. This still isn't great and we have more work in this area that's going to be tracked by more specific work items. This should at least be usable now.

[2015-11-18 23:22] pranavkm commented on #3556
This is a relatively easy fix. I'm going to address it as part of the investigation.

[2015-11-18 23:38] singlewind commented on #3578
I partly agree  @tuespetre we write code because like others to use them. If the built-in DI could not meet the common use then it comes waste. However, I don't think current DI need more functionality, because it covers most of needs already.

[2015-11-19 00:08] dougbu commented on #3307
Commits 08dd77d through 95b3d2c pushed individually :frowning:

[2015-11-19 00:08] #3307 closed

[2015-11-19 01:55] #3556 closed

[2015-11-19 01:56] pranavkm commented on #3556
@Eilon Done.

[2015-11-19 02:00] avanderhoorn opened #3584 "Adding timing information to Diagnostics Source events"
A large percentage of Diagnostics Source events define both a `begin` and `end` event to allow tracking the boundary of a given action. Beyond just marking the boundaries, it was intended that consumers could use this to track the duration of the target event.

There are a few challenges with this approach:
- If a consumer wants to simply know what the duration of an "event", they need to have inf

[2015-11-19 04:26] PopovMP opened #3585 "MVC6 RC1 New App - HomeControler Instanciated Twice!"
I just created a new app and noticed that Index() action method is called twice (no styles, scripts, images. Layout removed).

Further to that found out the the Home constructor is called twice also.

Please see full report here: http://stackoverflow.com/questions/33795079/mvc-6-homecontroler-index-called-twice

[2015-11-19 04:33] NeelBhatt commented on #3578
:+1: I knew it will happen. All can see strong reaction against [FromService] here:

https://github.com/aspnet/Announcements/issues/28

and here:

https://github.com/aspnet/Mvc/issues/2151

[2015-11-19 08:05] ivaylokenov opened #3586 "TryValidateModel throws exception when unit tested"
When TryValidateModel is called in a controller, and then the controller is unit tested, the method throws exception. Tried with both beta8 and rc1. Project.json is the default one with referenced Microsoft.AspNet.Mvc, Microsoft.AspNet.Http and Xunit. In ASP.NET Web API 2, this was quite easy to test. Sample code:

Controller:
[code]

Model:
[code]

Unit test:
[code]

Stacktrace of the failed test

[2015-11-19 17:17] Eilon commented on #3586
In particular, is there anything we need to do to make this more unit-test friendly?

[2015-11-19 17:20] danroth27 commented on #3585
This is VS sending a separate request to setup debugging. If you try to run the app outside of VS you shouldn't see this extra request.

[2015-11-19 17:20] #3585 closed

[2015-11-19 17:20] Eilon commented on #3585
See https://github.com/aspnet/Tooling/issues/261 for more info.

[2015-11-19 17:31] Eilon commented on #3573
@pranavkm there's an `IMemoryCache.Remove()` method: https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/IMemoryCache.cs#L37

[2015-11-19 17:33] #3521 closed

[2015-11-19 17:35] pranavkm commented on #3573
Huh, didn't realize that. Guess that's new. I spoke to @lodejard about this and his recommendation was to use expiration tokens + service to get you tokens by named. So you essentially get the same behavior as specifying keys. I was planning on updating the test we have to better reflect this model.

[2015-11-19 17:50] danroth27 commented on #3541
Let's hold off on doing additional tweaks here until we get some customer feedback on the current logging data.

[2015-11-19 17:50] #3541 closed

[2015-11-19 18:00] danroth27 commented on #3522
@DamianEdwards

[2015-11-19 18:03] danroth27 commented on #3494
@rustd Are you able to reproduce this issue with beta8?

[2015-11-19 18:03] dougbu opened #3587 "`CompilationFailuresAreListedByErrorPageMiddleware` functional tests fail on Mac"
See last two failures in [Travis job 3915.2](https://travis-ci.org/aspnet/Mvc/jobs/92083777). Looks as if `CompilationFailedException`s are propagating though the `ErrorPageMiddleware`. But without debugging further, can't be sure where the problem lies. Need to investigate and file the appropriate CoreFx, DNX or `ErrorPageMiddleware` issue or resolve in this repo.

[2015-11-19 18:30] ArieJones commented on #3494
@danroth27 I can confirm that once we upgraded to rc1-final yesterday that it was smooth sailing....everything was back to a working state....

[2015-11-19 19:37] rynowak commented on #3584
Would dropping any sub-millisecond precision solve this issue in the general case? Trying to convery the difference between .001ms and .0015ms to the user with accuracy was never really the goal with the timing info that we added to logging. If we just logged the number of milliseconds without any additional precision it's very likely that this difference in calculation would go away.

I'm not opp

[2015-11-19 20:11] Tratcher commented on #3584
Related: https://github.com/aspnet/Diagnostics/pull/207/files#diff-85232ab1b9a364dba71847b560310534R28

[2015-11-19 20:25] tuespetre commented on #3578
I've been reading over these discussions and frankly, I am baffled. We have a few mentions of how `[FromServices]` has caused a lot of confusion, a lot of headaches, and a lot of posted issues:

I can't seem to find any such posted issues regarding confusion about where to use `[FromServices]`, at least not in this repository. Is there some other public place that is officially used to track this

[2015-11-19 23:27] #3469 closed

[2015-11-19 23:27] pranavkm commented on #3469
@Eilon this is done.

[2015-11-20 01:30] rustd commented on #3494
Thanks! Closing this out.

[2015-11-20 01:30] #3494 closed

[2015-11-20 02:05] dougbu commented on #3428
MVC itself never subclasses `[ModelBinder]`. Instead `[FromBody]` and similar attributes implement `IBindingSourceMetadata` themselves. Wondering about removing the setter for `ModelBinderAttribute.BindingSource` entirely. Getter would remain as-is, indicating whether the `BinderType` had been set (making it a `BindingSource.Custom` binder).

@Eilon / @danroth27 / @rynowak thoughts?

[2015-11-20 02:57] Eilon commented on #3428
Why not just make it protected?

[2015-11-20 03:04] dougbu commented on #3586
We unnecessarily (attempt to) use `MvcDataAnnotationsLocalizationOptions` when there's no `IStringLocalizerFactory`. Product code fix is simple and I'll send it out shortly.

Removing `Investigate` label and putting this into RC2. @Eilon @danroth27 any objections?

[2015-11-20 03:12] Eilon commented on #3584
Moving to backlog for now.

[2015-11-20 03:55] Eilon commented on #3586
Yeah sounds good.

[2015-11-20 04:21] dougbu commented on #3428
We have a simple way to create an attribute that specifies the `BindingSource` e.g.
[code]

My question is do we need
[code]
as well?

If we want an additional way to create this `FromPathAttribute`, another option is to remove the `BindingSource` setter but make the property `virtual`. Then
[code]

[2015-11-20 06:12] sgwatgit opened #3592 "Will there be a ResponseTypeAttribute in asp.net 5?"
I use the (ResponseTypeAttribute)[https://msdn.microsoft.com/en-us/library/system.web.http.description.responsetypeattribute(v=vs.118).aspx] currently to document my code and provide information to (Swashbuckle)[https://github.com/domaindrivendev/Swashbuckle] for the Swagger UI.

I realize that this is in System.Web.Http.Description so it's not available in the Core framework.

Is this going to be

[2015-11-20 13:37] louislewis2 commented on #3091
After updating to rc1-final from beta7, the code snippet provided by @tuespetre now throws an exception: Value cannot be null. Parameter name: provider. The only provider property I find that is null, is on the RazorPage object called _provider. The property is private making it ever more difficult to sort out.

Has anyone else encountered this perhaps, or maybe have advice to get it up and runnin

[2015-11-20 13:45] tuespetre commented on #3091
@louislewis2 the same snippet is still going strong for me in rc1 (just upgraded from beta8.)

The `Value cannot be null. Parameter name: provider.` sounds like it is most likely an `ArgumentNullException` for the second argument here:

[code]

[2015-11-20 13:53] brockallen commented on #3091
This is why it'd be nice to have things like layout templates in razor, and not mvc. @danroth27 this is similar feedback to what we had previously discussed.

[2015-11-20 14:25] louislewis2 commented on #3091
@tuespetre Thanks for the suggestion, I had a few differences from your exact code. Most specifically so that it could be run when no request was present. In my scenario, this call actionContextAccessor.ActionContext would result in ActionContext being null. This is a sample of what I did which was working great up till my upgrade.

[code]

[2015-11-20 15:31] louislewis2 commented on #3091
@tuespetre This is the bulk of my current code, which was based from your initial sample above, as I mentioned the only difference was that I managed to hack it a bit to get it working in the console application / without an http request of any sort.

[code]

[code]

In beta7, after a bit of digging, I found that they only methods required on the HttpContext was
[code]

And for both the above meth

[2015-11-20 16:06] louislewis2 commented on #3091
For anyone who is interested, its fixed again.

[code]

The RequestServices object was not set.

[2015-11-20 16:25] dougbu commented on #3592
@sgwatgit does `Microsoft.AspNet.Mvc.ProducesAttribute` meet your needs?

[2015-11-20 16:36] rynowak commented on #3592
@sgwatgit `[Produces(typeof(MyType))]` is the intended replacement.

[2015-11-20 16:49] rynowak commented on #3428
I seem to recall we discussed this and agreed on making it `protected` a few weeks ago.

[2015-11-20 17:07] dougbu commented on #3307
@avanderhoorn note 3be6167 changes from the `isPartial` concept to `isMainPage`, updating property names in the `Microsoft.AspNet.Mvc.ViewFound` and `ViewNotFound` events to match.

Further the `Microsoft.AspNet.Mvc.Razor.BeginInstrumentationContext` and `EndInstrumentationContext` events no longer have `isPartial` properties. (The `isMainPage` concept is no longer relevant at the page level.)

[2015-11-20 17:14] Eilon commented on #3428
Let's stick with the design.

[2015-11-20 17:28] avanderhoorn commented on #3584
It would help, but I think the problem would still exist. Its not inconceivable that the listeners in the pipeline could take > 0.5 - 1ms to do their work and this being the case we would still end up with different numbers.

Thats what this issue is about :D But in truth, I'm not sure that the delta between the two is going to be that significant. If it is determined to be significant, at the ver

[2015-11-20 17:35] SirajArMVT commented on #3376
Yes It confusing

I do not like to make one set of resx file for each view

[2015-11-20 17:41] rynowak commented on #3523
A sneak preview of the perf impact. This will require 4-5 big changes in MVC, so consider this a prototype.

**Before**
![image](https://cloud.githubusercontent.com/assets/1430011/11307093/d1a8a054-8f6a-11e5-8016-0308c75bfa8a.png)

**After**
![image](https://cloud.githubusercontent.com/assets/1430011/11307085/be8e7cbe-8f6a-11e5-8388-6ac8d639ed8c.png)

[2015-11-20 17:58] Muchiachio opened #3593 "ModelMetadata.ConvertEmptyStringToNull meaning in codebase"
Hi, I saw that [simple type model binder](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ModelBinding/SimpleTypeModelBinder.cs#L39) use `ModelMetadata.ConvertEmptyStringToNull` to null out empty **and white space** string values, like this:
[code]

Is using `string.IsNullOrWhiteSpace(modelAsString)` correct here?
Because MVC5 nulls out empty values too, but strings containing

[2015-11-20 18:02] ivaylokenov commented on #2646
@danroth27 @Eilon
I want to contribute to MVC 6 by implementing this feature. It should be fairly easy task for me since last year I made a NuGet package for MVC 5, containing some extension methods adding the functionality:  https://github.com/ivaylokenov/ASP.NET-MVC-Lambda-Expression-Helpers
If you want to see how I write/design code, you can take a look at this repository: https://github.com/iv

[2015-11-20 18:15] Eilon commented on #3514
@AliCharper we're unable to reproduce this issue. If a partial view wants to add content to the layout page you can use an `@section` to do so.

Check out what the default templates do:

1. The layout page renders a section called `scripts` (you can call it whatever you want, and have as many as you want):
 * https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/Views/Shared/_L

[2015-11-20 18:15] #3514 closed

[2015-11-20 19:00] rynowak commented on #3593
/cc @dougbu

[2015-11-20 19:41] jamesfoster opened #3595 "Validating indexed properties."
Hi

I'm trying to move some validation logic into a `ValidationAttribute` and I've come to a dead end. The idea is to mark a `List<string>` to contain only unique entries.

For example:

[code]

However, when returning the following validation result ...

[code]

... I would expect to see ModelState errors with the keys `"Values[1]"` and `"Values[4]"`. Instead there is only one error with the key

[2015-11-20 19:46] Eilon commented on #3561
@meriturva it's simply not a scenario we've spent any time investigating. ASP.NET is primarily a technology for web servers and not UAP apps. If you want to experiment in this area we can certainly chat, but we are not planning to do any work here ourselves at this time.

[2015-11-20 20:04] dougbu commented on #3593
/cc @pranavkm this `IsNullOrWhiteSpace()` came in when you initially ported over model binding (see #20). Wasn't talked about at all in the PR discussion.

Was there a reason to start converting whitespace? If not, this is a breaking change we should revert.

[2015-11-20 20:20] dougbu commented on #3586
6297822

[2015-11-20 20:20] #3586 closed

[2015-11-20 20:49] #3592 closed

[2015-11-20 21:12] Eilon commented on #3593
That may have came from Web API, which possibly had all kinds of checks like this.

We should remove the whitespace check. And while we're at it, @pranavkm , can you look for any other mysterious whitespace checks?

[2015-11-20 22:13] dougbu commented on #3587
Nice, @Eilon must be buying me a Mac :smiley_cat:

[2015-11-20 22:50] tuespetre commented on #3595
I would have to recommend implementing IValidatableObject on your model class and using the new nameof operator to guard against property renames.

[2015-11-20 22:53] eduralph opened #3596 "Getting a 500 Internal Server Error - Unable to resolve service for type 'Microsoft.Framework.Runtime.IApplicationEnvironment'"
I setup an ASP.NET Application and obviously messed it up so bad that I can't figure out what is wrong. I'm getting the exception
"System.InvalidOperationException
Unable to resolve service for type 'Microsoft.Framework.Runtime.IApplicationEnvironment' while attempting to activate 'WindexCards.WebAPI.Startup'."
when I try to load a configuration in the Startup class like this

public Startup(IHost

[2015-11-20 23:00] rynowak commented on #3596
You have a beta6 package reference in that `project.json`. You can't mix different releases. I'd try just straight up removing that package (you shouldn't need to reference that one anyway).

[2015-11-20 23:09] dougbu commented on #3428
Updated title to better match chosen update.

[2015-11-21 00:16] NTaylorMullen opened #3599 "Do a pass for Linq and boxed enumerators in TagHelpers"
_From @rynowak on November 12, 2015 0:44_

We should just do a general pass of TagHelpers code for Linq use and boxing foreach'es

![image](https://cloud.githubusercontent.com/assets/1430011/11107507/79d5be08-8893-11e5-87d2-73c15e182588.png)

Some of these are coming from MVC/`HtmlGenerator` as well.

_Copied from original issue: aspnet/Razor#605_

[2015-11-21 00:33] dougbu commented on #3428
45ff0a2

[2015-11-21 00:33] #3428 closed

[2015-11-21 01:38] phenombox opened #3601 "a TagHelper generates url for controller in another project"
I have a VS2015 solution that includes a WebApi and a WebSite.

All packages are rc1 in both solutions.

Since my project is in early development I'm referencing the WebApi project direclty from the WebSite project in order to get the Model classes/objects to deserialize responses from the WebApi. This will be changed to use of DTOs later.

There is a UsersController.cs in both projects.

The issu

[2015-11-21 02:07] Eilon commented on #3587
Use the Mac you borrowed :wink:

[2015-11-21 02:18] phenombox commented on #3601
Alright same thing with html.ActionLink, seems I'll just fix DTOs straight away.

[2015-11-21 04:30] rynowak commented on #3601
This is the expected default behavior if you're referencing multiple projects with controllers.

If you want to configure MVC to just use one assembly, add the following to your `ConfigureServices` in startup.
[code]

Depending on what version of packages you are using - you either need `AddInstance` or `AddSingleton`

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Infrastruc

[2015-11-21 06:05] ctolkien opened #3603 "UrlResolutionTagHelper does not handle srcset attributes correctly"
UrlResolutionTagHelper [shorts out if the URL being parsed in does not start with "~/"](https://github.com/aspnet/Mvc/blob/52f4a831397b94d41675cabf8777b735a69e9c2f/src/Microsoft.AspNet.Mvc.Razor/TagHelpers/UrlResolutionTagHelper.cs#L203), however for `img` and `source` tags using the `srcset` attribute, the URL may not always be at the beginning. E.g:

[code]

Expected result:

[code]

Actual Resu

[2015-11-21 09:45] eduralph commented on #3596
Thanks for putting me on the right path. I was mistakenly referencing Microsoft.Framework.Runtime Namespace instead of Microsoft.Dnx.Runtime. The first reference exists only in beta6 which is why it was included.

[2015-11-21 09:45] #3596 closed

[2015-11-21 17:15] lucamorelli opened #3605 "errors with constraints"
Hi,
  I have a small test application that started to give me problems after the upgrade.
  I moved ef context and mvc api controller in a separated library, and adding the library to the app project worked well.
  this is the configuration of the api call via attributes:

[code]

now when called from the application I see this error in the debug console

[code]

Am I missing something?

[2015-11-21 17:56] #3605 closed

[2015-11-21 18:39] nojaf opened #3606 "How to unit test a view?"
Is it possible to render a view to string (html) inside a unit test and then assert whether the html contains the expected tags.

Something like
[code]

[2015-11-21 19:17] PrimeObjects opened #3607 "Can we retrieve view content from database"
Hi,

I'm looking for a solution that can pull the content of view cshtml and layout cshtml from database.
Is custom RazorViewEngine a solution ( public class CoolViewEngine : RazorViewEngine)? If yes, please kindly provide some sample code to write a custom RazorViewEngine

Thanks lot
Gary

[2015-11-21 19:53] mguinness opened #3608 "Docker deploy issues w/ RC1"
I've had multiple issues when publishing from VS 2015 to a custom docker container after upgrading from Beta8 to RC1.

In the publish web dialog, the image name was empty - previously it defaulted to project name (in lowercase).  I had entered a name starting with uppercase which was rejected by docker, so validation is required on this field to use the same regex as docker does.

On publish, if t

[2015-11-21 22:52] richardtallent commented on #2348
Not sure why this is marked closed, it is definitely still an issue. I'm using:

VS Code 0.10.1 (latest)
Mono 4.2.1.102 (latest, installed via brew)
DNX 1.0.0-rc1-16202 (latest, according to dnvm)
OS X 10.11 (latest, though it shouldn't matter)

I created a new web site using "yo aspnet" (MVC, no identity/auth) and dnx ran perfectly.

Then I installed the ESLint extension ("npm install eslint" fro

[2015-11-22 01:01] atrauzzi commented on #3608
Just wanted to make a note here that I'm encountering this issue right now as well when running the current mono based container.

[2015-11-22 03:26] gisek opened #3609 "Model binder is not used if model has no public property"
It happens in 1.0.0-beta-7. I'm not sure if it's fixed in newer versions, but I cannot check it as RC1 installer crashes.

I have a model binder. I's registered properly in Startup.
[code]

I also have a class ```InstagramUserName``` which I use as a parameter in my controller

[code]

[code]

Accessing the controller throws an error "No parameterless constructor defined for this object." without

[2015-11-22 05:01] mguinness opened #3610 "Input Taghelper generates invalid value"
Using ASP.NET 5 RC1

Model member:
`public DateTime CreatedDate { get; set; }`

Razor content:
`<input asp-for="CreatedDate" type="datetime-local" value="@DateTime.Now" />`

Expected output
`<input type="datetime-local" value="2015-11-21T20:55:17" data-val="true" id="CreatedDate" name="CreatedDate">`

Actual output
`<input type="datetime-local" value="11/21/2015 8:55:17 PM" data-val="true" id="Cre

[2015-11-22 08:19] ivaylokenov commented on #2646
After running several performance tests, I came to the consclusion that this feature will bring little to no value in MVC 6 at all. Comparing lambda expression parameter resolving to PropertyHelper.ObjectToDictionary gave the following results:
 - When using expressions with constants, for example c => c.SomeAction(5), the results were faster than PropertyHelper.ObjectToDictionary(new { id = 5 })

[2015-11-22 14:49] lucamorelli opened #3611 "difficult to track the error when an I have errors serializing action result"
Hi,
  I'm writing a sample application and I wrote this action to send the client some data.
[code]
I tried the action but I started to receive **502 (Bad Gateway)** error and an empty result: Just giving a look was clear the problem, and I solved creating a model class to send the data avoiding the usual nested serialization issues, but this is not the real problem.
Trying to debug the action I d

[2015-11-22 21:03] Eilon commented on #2646
@ivaylokenov we're not currently looking at adding this feature to MVC 6, but if you have a prototype you'd like to share, we'd be happy to have a look at it. No pressure :smile:

[2015-11-22 21:26] Eilon commented on #3609
@rynowak @dougbu any idea why we might have such a restriction?

[2015-11-22 21:55] ivaylokenov commented on #2646
@Eilon Well, since MVC is one of the finest technologies out there, I've always thought your team as big bad wolfs (some of the profile pictures confirm it). :wolf:
Anyway, I will write again when there is something interesting to share. :+1:

[2015-11-22 22:00] Eilon commented on #2646
Naah we're mostly kittens and puppies if you look at our profile pics :smile:

[2015-11-22 22:25] dougbu commented on #3609
@gisek exactly how is `InstagramUserNameModelBinder` registered in `Startup`? I suspect you've placed it in the `MvcOptions.ModelBinders` list _after_ `MutableObjectModelBinder`.

[2015-11-22 22:28] gisek commented on #3609
@dougbu This way:

[code]

[2015-11-22 22:35] dougbu commented on #3609
@gisek try `options.ModelBinders.Insert(0, new InstagramUserNameModelBinder())`

You've updated this issue's description and the new bit seems to be about `[FromBody]` taking over binding completely. That's by design: Once input formatting takes over, the model binding system is not involved in getting values for anything in the bound property. It's also a separate matter from your original issue.

[2015-11-22 22:50] gisek commented on #3609
@dougbu
1) Thanks, inserting model binder at 0 index did the job. I'm closing the issue.
2) So if the second part about ```[FromBody]``` is by design is there w way around?

[2015-11-22 22:50] #3609 closed

[2015-11-22 22:51] dougbu commented on #3610
@mguinness this behaviour is expected: Unless the `value` attribute is left `null`, the `InputTagHelper` does not perform formatting. Few if any of the MVC tag helpers override attributes explicitly provided in the `.cshtml` files.

Suggest removing the `value` attribute entirely. If the `DateTime.Now` expression is intended as a default for `CreatedDate`, move that setting elsewhere e.g. into the

[2015-11-22 22:53] dougbu commented on #3609
You may find ways to change Json.NET behaviour to special-case things as you wish. But the input formatters do not call back into the model binding system (except when giving up due to an error).

[2015-11-22 22:55] gisek commented on #3609
@dougbu ok, thanks again

[2015-11-22 23:15] mguinness commented on #3610
@dougbu - thanks for explaining and solution.  I ended up setting value attribute to `@DateTime.Now.ToString("s")` for now.

[2015-11-22 23:19] Eilon commented on #3606
@nojaf there's no built-in way of doing exactly that because it would generally work in only the simplest cases, in which case you wouldn't need a test to begin with :smile:

However, with ASP.NET 5 and MVC 6 it's quite easy to use an in-memory server to make requests to an app in the form of a functional test or integration test.

You can check out MVC's functional tests for many examples of this

[2015-11-22 23:19] #3606 closed

[2015-11-22 23:20] dougbu commented on #3610
@mguinness that'll work when a `Create.cshtml` view is initially loaded but doesn't make sense in any view where the model is not initially `null`. For example, that expression will not reuse the first value when reloading the view due to a validation error.

Please close this issue if the concern is resolved.

[2015-11-22 23:46] Eilon opened #3612 "MVC functional test cleanup (part 1) (ETA 12/4)"
https://github.com/aspnet/Mvc/blob/dev/samples/MvcSample.Web/wwwroot/Scripts/Mvc.js
-	Does it still need to exist?
-	If so, make into its own sample
-	If not, deletify (I think we already decided to delete this, right?)

https://github.com/aspnet/Mvc/tree/dev/test/WebSites/ActionConstraintsWebSite
-	Good scenarios
-	Move to another existing site because there’s no unique setup for it aside from en

[2015-11-22 23:52] dougbu commented on #3612
Right. @ryanbrandenburg just needs to squash and push #3574.

[2015-11-22 23:55] Eilon commented on #3612
Cool.

[2015-11-23 01:15] ctolkien commented on #3512
From reading of the above, in an RC2 world, we can still re-enable this option by setting:

    options.UseBestEffortLinkGeneration = true;

? (we would prefer pages to error than fail to generate links).

[2015-11-23 01:39] dougbu commented on #3512
@ctolkien correct. That's what the `UseBestEffortLinkGeneration` option does.

[2015-11-23 02:15] rynowak commented on #2646
I hope you don't mean me!

I wouldn't let performance dissuade you from building something like this. If you have an example of a site where link generation is a significant contributor to overall performance, I'd be interested to see how we can improve that.

A few thoughts on the topic that I'm not sure I've written up before...

The high performance option (that still uses the routing system) w

[2015-11-23 02:21] rynowak commented on #3605
I see you closed this, did you find a resolution?

[2015-11-23 03:48] damienpontifex opened #3614 "TagHelperContext.Items empty in parent tag helper"
I am trying to render scripts from a view component into the bottom of the body (i.e. after traditional jquery & bootstrap src)

Under `TagHelperContext.Items` it has the summary "Gets the collection of items used to communicate with other Microsoft.AspNet.Razor.TagHelpers.ITagHelpers." but items added to this dictionary in my child tag helper don't appear in the parent `Items` dictionary.

I am c

[2015-11-23 03:56] NTaylorMullen commented on #3614
@damienpontifex the reason behind this is that `context.Items` is copy on write. Therefore, if you want a child to communicate to the parent the parent needs to put some sort of mutable object into the `context.Items` bag that the child then retrieves and modifies.

[2015-11-23 04:04] damienpontifex commented on #3614
@NTaylorMullen but the `PostBodyScriptTagHelper` is executed before the body helper, so if I try and access something added by the body tag helper in the `PostBodyScriptTagHelper`, it throws an exception as the key doesn't exist.

Is this because the `PostBodyScriptTagHelper` is being executed inside a view component?

[2015-11-23 04:22] NTaylorMullen commented on #3614
@damienpontifex The only way your post body script taghelper could be executed prior to the `BodyTagHelper` would be if it existed in the `<head>` element.

[2015-11-23 04:28] damienpontifex commented on #3614
Basic structure is
[code]

And inside my Details.cshtml file from `RenderBody` I have a call to `@Component.Invoke`. Debugging the flow, it consistently hits the tag helper inside the view component before the body helper.

[2015-11-23 04:41] NTaylorMullen commented on #3614
Ah I see @damienpontifex. So there's one restriction to `context.Items`. And that's `Views`. `context.Items` does not translate across them. If you want to gain that functionality I recommend using `ViewContext.ViewData` to pass information.

[2015-11-23 04:49] damienpontifex commented on #3614
I've changed it to use `ViewContext.ViewData` and when run inside the body tag helper, it doesn't have the newly added key.

See https://github.com/damienpontifex/TagHelperInComponent/blob/master/src/ComponentTagHelper/TagHelpers/PostBodyScriptTagHelper.cs for example and using it in the About.cshtml page

[2015-11-23 05:06] NTaylorMullen commented on #3614
@damienpontifex `ViewContext.ViewData` is also copy on write so you'll need to add a mutable object to it that the child can then modify.

[2015-11-23 05:27] damienpontifex commented on #3614
@NTaylorMullen again though, I am still getting the `PostBodyScriptTagHelper` execute before `BodyTagHelper` in this blank project when it is inside a ViewComponent. Hence it is empty when accessing in `PostBodyScriptTagHelper` and adding it in `BodyTagHelper` means I just get an empty List.

I've updated the file in the repo above to reflect these changes.

[2015-11-23 06:05] NTaylorMullen commented on #3614
So your sample now looks correct. If you're unable to communicate to a sub-View (invoked via ViewCOmponent) then I'd view that as unexpected behavior. /cc @rynowak

[2015-11-23 06:11] anfomin commented on #3578
I use `[FromServices]` to bind model properties and it's very useful. And I don't want to use 'full-blown IoC container' for just this feature :-1:

[2015-11-23 06:18] NTaylorMullen commented on #3614
@damienpontifex Ah, sorry. This is what happens when I don't have my coffee for today/night. So what's happening is by design. A view determines what `Layout` it requires therefore it must run first. So you're seeing your `PostBodyScriptTagHelper` run prior to your `BodyTagHelper` due to this functionality.

I'd recommend throwing your scripts inside of an `@section` element corresponding to scrip

[2015-11-23 06:36] damienpontifex commented on #3614
Using `@section scripts` inside my cshtml as part of a ViewComponent doesn't seem to get rendered into the scripts section in my layout.

And using `@RenderSection` inside my parent view throws the error "RenderSection can only be called from a layout page"

Is there a way of getting sections from a ViewComponent into the layout?

[2015-11-23 07:08] NTaylorMullen commented on #3614
@damienpontifex nope, you'd need to move it out of a `ViewComponent`.

I played around a little bit with your scenario and sadly, `ViewComponent`s can't currently communicate up to the calling view via `ViewContext.ViewData` either (via `TagHelper` or directly).

/cc @rynowak is this by design or a known limitation ?

[2015-11-23 07:37] NTaylorMullen commented on #3614
Ahh, scratch that, nm @rynowak .

I made my own mistake. If you push a mutable item into `ViewData` in your page (not your layout) and then add to it in the `ViewComponent`'s View you can flow it up to the `_Layout.cshtml`.

So in `Index.cshtml`:

[code]

FooViewComponentView.cshtml:
[code]

FooTagHelper.cs:
[code]

BodyTagHelper.cs (which is used in _Layout):
[code]

All this results in a `From t

[2015-11-23 07:50] damienpontifex commented on #3614
Beautiful! I never thought of instantiating the List in the cshtml file there.

Thanks for your persistence and help @NTaylorMullen

[2015-11-23 07:50] #3614 closed

[2015-11-23 13:05] meriturva commented on #3561
Thanks for the answer @Eilon ,
actually i'm making few sample projects to find a way to use vNext on IoT device.
I'm deployed a web project on Raspberry but it dosen't work because of: https://github.com/aspnet/KestrelHttpServer/issues/216

On the other hand i sure have to use GPIO inside "web api controllers" (we are on a Raspberry to use serials ports and I/O) so i try to include the package: Mi

[2015-11-23 13:21] nojaf commented on #3606
Thanks, this looks very promising for end 2 end scenarios.

[2015-11-23 15:32] ivaylokenov commented on #2646
@rynowak  Thanks for the answer, I got your point. :+1:
To continue your thought, I have never actually used the string-based link generation - always written expression based extensions (knowing they are slower) and never had performance issues. I just prefer writing high quality code and then optimize, if needed, but this is me.
However, adding the feature to the core MVC framework may mislead s

[2015-11-23 15:58] rynowak commented on #2646
We're actually already taking a look at doing this for ViewComponents.

And you're right about `c => c.Action(id)` - in general that's not cacheable. We don't cache things like that in Razor.

[2015-11-23 16:31] rynowak opened #3616 "Make ModelExplorer a struct"
For our BasicView benchmark, this is about 1% of allocated bytes, but it's in the top 15 on allocated objects.

![image](https://cloud.githubusercontent.com/assets/1430011/11342503/9719c644-91bc-11e5-9306-5fb3def010cf.png)

[2015-11-23 16:33] rynowak opened #3617 "Remove use of `String.Split` in Environment taghelper"
![image](https://cloud.githubusercontent.com/assets/1430011/11342562/d75775f8-91bc-11e5-8717-5d40e81d6b4f.png)

Use `StringSegment` or similar

[2015-11-23 16:35] rynowak opened #3618 "Optimize allocations in Script/Link TagHelpers"
![image](https://cloud.githubusercontent.com/assets/1430011/11342615/056b101c-91bd-11e5-98cd-9d432519c8ef.png)

The `AttributeMatcher` is doing a lot of expensive allocations per-request. Just the `List<>` created here is well over 1% of allocations for the page.

[2015-11-23 17:01] rynowak opened #3619 "Reduce Dictionary allocations in HtmlHelpers + Client Validation"
![image](https://cloud.githubusercontent.com/assets/1430011/11343318/58a8c168-91c0-11e5-9bdb-1e85307c7f92.png)

There's a bunch of dictionaries allocated as 'temp' collections to pass around attributes in HtmlHelpers and in Client Validation. We should consider a design where a `TagBuilder` is passed around instead and these APIs can add attributes to it.

The numbers above can also be a bit decep

[2015-11-23 17:56] pranavkm opened #3620 "Could we find a new home for EnvironmentTagHelper?"
A la `Microsoft.Web.Helpers` for TagHelpers that are less interesting? `EnvironmentTagHelper` is essentially an `if` statement.

[2015-11-23 17:56] pranavkm commented on #3620
cc @DamianEdwards

[2015-11-23 18:02] DamianEdwards commented on #3620
No

[2015-11-23 18:02] #3620 closed

[2015-11-23 18:09] pranavkm commented on #3620
We ended up with a whole slew of abandonware with `Microsoft.Web.Helpers` where bugs \ features would invariably end up in backlog because we had no interest in addressing them. This has all the qualities of being in that some group.

[2015-11-23 18:34] pranavkm commented on #3593
@dougbu like @Eilon mentioned, it was ported over from WebAPI: https://github.com/ASP-NET-MVC/aspnetwebstack/blob/4e40cdef9c8a8226685f95ef03b746bc8322aa92/src/System.Web.Http/ModelBinding/ModelBindingHelper.cs#L97-L98 \ Mvc Futures https://github.com/ASP-NET-MVC/aspnetwebstack/blob/4e40cdef9c8a8226685f95ef03b746bc8322aa92/src/Microsoft.Web.Mvc/ModelBinding/ModelBinderUtil.cs#L79

[2015-11-23 18:37] dougbu commented on #3593
:ok: I'll remove that "feature". Likely rarely if-ever depended upon in the old world and just inconsistent in the new.

[2015-11-23 18:39] rynowak opened #3621 "Change IModelBinder to mutate context instead of returning Task<ModelBindingResult>"
The pattern of returning `Task<T>` is allocating too much for our usage in model binding.

![image](https://cloud.githubusercontent.com/assets/1430011/11345793/34b64132-91ce-11e5-9c02-e13febf66161.png)

These are the allocations for 3000 requests and model binding 3 fields. In context, this is about 1% of allocations for the app.

The root cause is that we can't use a cached task, because `Task<Mo

[2015-11-23 18:41] rynowak opened #3622 "Reduce allocations of ModelBindingContext"
We allocate too many `ModelBindingContext` objects:
![image](https://cloud.githubusercontent.com/assets/1430011/11345865/959790be-91ce-11e5-9271-9854190c252c.png)

This is the allocations for 3000 requests to bind 3 fields. It's about 1% of allocated bytes.

We should be able to (at a minimum) use one context per-level of the model binding tree, or use one shared context and mutate/restore state a

[2015-11-23 19:15] dougbu commented on #3571
eb70b1c

[2015-11-23 19:15] #3571 closed

[2015-11-23 19:16] dougbu commented on #3123
One bit done in eb70b1c

[2015-11-23 19:21] dougbu commented on #3571
@danroth27 @Eilon the fix for this bug also added support for view components returning `IHtmlContent` (not just `HtmlString`). Should this `task` thus be considered a (fixed) `bug` or perhaps even an `enhancement`?

[2015-11-23 19:52] #3551 closed

[2015-11-23 19:59] ryanbrandenburg commented on #3529
Fixed in #3574

[2015-11-23 19:59] #3529 closed

[2015-11-23 20:23] ryanbrandenburg commented on #3612
@dougbu I pushed #3574

[2015-11-23 21:39] louislewis2 commented on #3445
I am also looking for such a feature. Being able to have views discoverable when they reside in class libraries would be a fantastic addition to the framework. Currently controllers are no issue at all, but having to 'split' views from controllers seems a bit unfinished.

[2015-11-23 22:54] Eilon opened #3624 "MVC functional test cleanup (part 2) (ETA 12/4)"
https://github.com/aspnet/Mvc/tree/dev/test/WebSites/RequestServicesWebSite
-	Merge into BasicTests

https://github.com/aspnet/Mvc/tree/dev/test/WebSites/ResponseCacheWebSite
-	Change to a unit test

https://github.com/aspnet/Mvc/tree/dev/test/WebSites/TempDataWebSite
-	Merge into BasicTests

https://github.com/aspnet/Mvc/tree/dev/test/WebSites/UrlHelperWebSite
-	Change into a sample

https://gith

[2015-11-23 23:30] NTaylorMullen commented on #612
After discussion we've come up with the following changes:

- Remove `Invoke` & `Render` methods on `@Component`, this leaves only `InvokeAsync`.
- Remove overloading.
- Modify `@await Component.InvokeAsync` to only support `Dictionary<string, object>` and anonymous objects as parameters.

[2015-11-24 00:52] Eilon commented on #3571
Doubt it matters.

[2015-11-24 02:49] dougbu commented on #612
FYI we have similar restrictions on `htmlAttributes` parameters in `IHtmlHelper` methods. Made the decision there to only have `object htmlAttributes` overloads and use `as IDictionary<string, object>` where necessary.

[2015-11-24 09:38] lszomoru commented on #3445
It turns out that you are able to load views from a referenced class library using the ```EmbeddedFileProvider```. The limitation of this approach is that all your views would have to be loaded from one class library. There is currently a pull request out (https://github.com/aspnet/FileSystem/pull/142) to add a ```CombinedFileProvider``` which would allow you to combine the default ```PhysicalFile

[2015-11-24 09:38] #3445 closed

[2015-11-24 09:42] BFISoft opened #3627 "Encoding in scaffolded Items"
When creating a scaffolded item in MVC6 project there seems to be an inconsistency with file encodings.

Normal files (without scaffolding) are created as UTF-8
Scaffolded controllers and views are created as ANSI

Which means that text containing äüöü in _Layout is displayed correctly but in the scaffolded view the same text shows some weird symbols.

Microsoft Visual Studio Community 2015
Versio

[2015-11-24 15:09] pranavkm commented on #3627
Could you file this bug in https://www.github.com/aspnet/Scaffolding?

[2015-11-24 15:19] jamesfoster commented on #3595
Thanks, That works, and its better than putting the validation in the controller. However, I prefer the DataAnnotations approach as it doesn't pollute to the view model so much.

Is this something that should be fixed in MVC?

[2015-11-24 16:06] Muchiachio opened #3628 "Code base clean up"
I was just wondering if the team would be interested in a series of PRs of MVC code base clean ups? One PR per solution project or something~. First doing something simple like removing unused code, shortening if statements and maybe later on increasing code efficiency by simplifying the actual implementation and stuff? Or I shouldn't bother? :smiley_cat:

[2015-11-24 16:13] mguinness commented on #3610
@dougbu - I just tried this in view Edit.cshtml where an initialized model is passed, but it's not working as expected.

Date is not formatted correctly with `<input asp-for="CreatedDate" type="datetime-local" />` and it has to be overridden with `<input asp-for="CreatedDate" type="datetime-local" asp-format="{0:s}" />`.

I understand your point about explicitly specifying the value attribute, but

[2015-11-24 16:14] tuespetre commented on #3595
The `CreatePropertyModelName` implementation:

<https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ModelBinding/ModelNames.cs#L20>

Maybe that method could be modified to check if the property name starts with the opening square bracket and concatenate appropriately?

[2015-11-24 16:17] rynowak opened #3629 "Simplify RouteValueProvider/RouteValueProviderFactory"
We should rename https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ModelBinding/DictionaryBasedValueProvider.cs to `RouteValueProvider`. Our other VPs have distinct class names.

We should also add a `protected set` `CultureInfo` property to all of our VPFs so that scenarios like [this one](https://github.com/aspnet/Routing/issues/237) are easier to address.

[2015-11-24 16:26] TLHamilton commented on #3237
Fyi. I have taken the CompositeFileProvider and include two PhyiscalFileProviders in it, one for the main project and one for the shared project.  In this way the main projects views are located first and the shared views are found second. Everything is now working just fine with this approach.
Thanks.

[2015-11-24 16:38] rynowak commented on #3628
Thanks for asking, I'll let @Eilon give an official answer, but my (officially non-binding) thoughts

Absolutely. We're always interested in this. Ex: https://github.com/aspnet/Mvc/pull/3623 If you find somewhere that we have dead code then please log an issue or send a PR :+1:

That really depends. Shorter isn't always better. For me personally, I have a high tolerance for ugly code compared to o

[2015-11-24 16:44] TLHamilton opened #3630 "Possible Threading Problem in ASP.NET 5 RC"
I seem to be experiencing a possible threading problem in ASP.NET5 RC.  There seems to be two identical controller/action threads when I startup a new project.

You should be able to see the two identical threads if you create a new ASP.NET 5 RC project, go to the Index action in the HomeController, add a few dummy lines of code, set a break point on the first dummy line, start debugging, and when

[2015-11-24 16:50] rynowak commented on #3630
Does this sound like your issue? https://github.com/aspnet/Mvc/issues/3585

[2015-11-24 16:50] dougbu commented on #3610
@mguinness `InputTagHelper` special cases `datetime-local` but only when `ViewContext.Html5DateRenderingMode == Html5DateRenderingMode.Rfc3339` (see [line 356](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/InputTagHelper.cs#L356)). Otherwise the helper performs the default conversion to `string`. So, now that you've got `value` out of the way, you need to either specif

[2015-11-24 17:00] dougbu commented on #3595
@tuespetre is correct. This looks like a straightforward bug. We should also scan the MVC repo for similar over-simplifications.

FYI we have code in [`TemplateInfo.GetFullHtmlFieldName()`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/ViewFeatures/TemplateInfo.cs#L68) that does the Right Thing:tm: But that's not available in this project. Probably need to move some

[2015-11-24 17:04] TLHamilton opened #3631 "ASP.NET 5 RC Export Template Not Working"
When I use the File > Export Template function on an ASP.NET 5 project everything seems to go fine until I create a new project with the template.  The Solution Explorer for the new project just does not show any of the project files.

[2015-11-24 17:16] TLHamilton commented on #3630
It sounds like it might be.  I noticed that issue #3585 is closed.  Is it going to be worked on?  The reason I am asking is because I only noticed this problem because I have been having intermittent failures while trying to add items to an IConfiguration object.  I thought the fact that two identical threads were running might be causing the failures.

[2015-11-24 17:22] rynowak commented on #3630
Sorry that bug was bounced to https://github.com/aspnet/Tooling/issues/261 which **is** open.

Are you modifying configuration during a request? This sounds like something that would have issues regardless of the tooling/debugger issue. Can you share a code sample of what you're doing and maybe I can help?

[2015-11-24 17:41] TLHamilton commented on #3630
It is the IConfigurationSection in TemplateController that is failing sometimes.  The idea is to take the input parameters and place them in the Configuration object so they can be shared by View Components.  The View Components do find them in the Configuration objects passed into their Constructors
[TemplateController.txt](https://github.com/aspnet/Mvc/files/43021/TemplateController.txt)
[TreeMe

[2015-11-24 17:56] mguinness commented on #3610
@dougbu - Ah, didn't know about that enumeration.  Thanks!

[2015-11-24 17:57] #3610 closed

[2015-11-24 17:57] rynowak commented on #3630
Configuration objects are not thread-safe for simultaneous reading and writing, so your problem is really independent of aspnet/Tooling#261. As soon as you have multiple simultaneous users, you have this issue.

The configuration system is really meant for mapping multiple configuration sources to a coherent key-value store for settings. It's not meant to be a keystone of your site's architecture.

[2015-11-24 18:12] Eilon commented on #3628
@Muchiachio please let us know more specific details. We don't want to change any code formatting in this repo or any others. But if you have some substantial changes you're thinking of, please log specific bugs on those issues and we can discuss. Thanks!

[2015-11-24 18:12] #3628 closed

[2015-11-24 18:15] tuespetre commented on #3607
See: [Guidance on how, or a 'friendlier' way, to render views to strings (for emails, service calls, etc.)](https://github.com/aspnet/Mvc/issues/3091)

[2015-11-24 18:22] TLHamilton commented on #3630
Thanks very much for the help.  I will review all of your suggestions and make adjustments!

[2015-11-24 18:22] #3630 closed

[2015-11-24 18:38] Eilon commented on #3607
Here's a sample: https://github.com/aspnet/Mvc/tree/dev/test/WebSites/RazorEmbeddedViewsWebSite

[2015-11-24 18:38] #3607 closed

[2015-11-24 18:43] #3627 closed

[2015-11-24 18:58] davidfowl opened #3633 "Compilation big rocks moving to dotnet CLI"
Now that we don't have the DNX providing compilation services, we need to figure out how to handle a few things:

- [x] Getting compilation options
- [x] Getting reference assemblies
- [x] Remove dependency on `Microsoft.Extensions.CompilationAbstractions`

/cc @anurse @pakrym

[2015-11-24 19:07] Eilon commented on #3631
Can you log this in https://github.com/aspnet/Tooling/issues/ ? Thanks!

[2015-11-24 19:07] #3631 closed

[2015-11-24 22:11] ivaylokenov commented on #2646
@rynowak @Eilon
I have implemented most of the core expression route values resolver and the IUrlHelper additional methods. They are located in this branch - [LINK](https://github.com/ivaylokenov/Mvc/tree/expression-route-resolvers). Some minor things are still not added (like proper exception messages) but they will be soon enough. I would be happy, if the code gets reviewed, since all other help

[2015-11-25 00:04] rynowak opened #3636 "Add extension methods for easily mapping area routes"
### The problem of Areas

We're planning on removing *magic link generation* from MVC. This is the feature that causes MVC to only generate a link when we can guarantee that said URL will match an action. We're removing it because it's complicated and doesn't seem to add too much value - users are surprised by the behavior, and we don't want to make it throw.

However, we need to solve the problem

[2015-11-25 01:38] Eilon commented on #2646
@ivaylokenov I would recommend trying to build this as a separate project so that it could potentially be published as an add-on to MVC, as opposed to making the changes in MVC itself. In theory you should be able to write everything as extension methods to `IUrlHelper`.

[2015-11-25 01:58] sebastienros opened #3638 "Have a way to set metadata on TagHelperDescriptor"
When providing `TagHelperDescriptor` instances dynamically, for instance from a database, I am targeting the same `TagHelper` type. I'd like it to get the descriptor it was called for, with some contextual data that is known when the descriptor is created.

[2015-11-25 02:33] rynowak commented on #3636
Self-assigning as I'm working on this already

[2015-11-25 02:37] rynowak commented on #3512
@ctolkien - we're simplifying the design here, and going to be consistent with MVC5 and previous versions.

If you want to throw when link-generation fails, then you can subclass UrlHelper and do your thing! We considered that, but didn't do it because it can be very disruptive to the way that people are used to authoring MVC.

Just be aware that we're reverting a design change to conventional rou

[2015-11-25 02:49] rynowak commented on #491
Self assigning as I've been working on this for perf.

[2015-11-25 03:24] GuardRex commented on #3512
@rynowak Me thinks this one is Announcement-worthy. If you post to Announcements, may I make a request to show the default behavior by example and the behavior with subclassing by example. I'm relatively new to MVC coming from years and years of Webforms, so examples and patterns are a big help trying to get my small brain wrapped around the concepts.

[2015-11-25 05:47] pakrym commented on #3633
And target framework too

[2015-11-25 06:27] davidfowl commented on #3633
@pakrym target framework will come from IApplicationEnvironment. Once we have the CLR feature then it'll just work.

[2015-11-25 06:48] ivaylokenov commented on #2646
@Eilon Sorry, I could not understand you. You mean to extract the code from the fork, create a separate package and upload it as my own add-on in NuGet? Thank you for the reply. :)

[2015-11-25 07:21] Eilon commented on #2646
@ivaylokenov yes exactly, that's where I would start out.

[2015-11-25 07:33] blanceok opened #3640 "Microsoft.Framework.CodeGenerators.Mvc templates have problems"
Microsoft.Framework.CodeGenerators.Mvc templates have problems:
1、*.cshtml's archive encoding is not UTF8,Cause some language can not be normal, such as Chinese.
2、Server Model data validation, error message can not be normal display.The reason shows that the `<span/>` has a problem with the error message, and the `<span></span>` can be displayed as normal.

[2015-11-25 07:46] ivaylokenov commented on #2646
Sure, will do! Thanks! :+1:

[2015-11-25 10:57] joaquin-corchero commented on #3237
Hi, so what is the suggested implemetation for this?

Thank you

[2015-11-25 11:20] mdmoura opened #3641 "asp-route-parameter absence does not make optional parameter to null"
Hello,

I have the following route:

    [Route("ebooks/{categorySlug?}"), HttpGet]
    public IActionResult Index(String categorySlug) {
    } // Index

And the following link:

    <a asp-controller="EBook" asp-action="Index">EBooks</a>

Which renders correctly as "/ebooks" ...

However, if I am in route "/ebooks/xyz" the previous link will render "/ebooks/xyz" instead of "/ebooks".

The way to

[2015-11-25 13:28] nochater commented on #3578
:broken_heart:

[2015-11-25 15:50] pranavkm commented on #3640
@blanceok could you file this in https://github.com/aspnet/Scaffolding? My guess is this a dup of https://github.com/aspnet/Scaffolding/issues/144

[2015-11-25 15:50] #3640 closed

[2015-11-25 15:50] rynowak commented on #3512
@GuardRex - yes, there will be an example

I'm not sure what you mean. We're planning to make behavior of link generation compatible with MVC5 and previous versions.

The discussion about subclassing is related to how to handle cases where link generation does not succeed.

[2015-11-25 15:54] rynowak commented on #3641
/cc @Eilon @lodejard - an interesting case like link generation + attribute routing + route-value invalidation

[2015-11-25 15:59] GuardRex commented on #3512
@rynowak I just meant to explain the statement ...

... by example (i.e., code sample and behavior). It's obvious to folks who have been working for a while in MVC, and I realize to some extent its like "MVC 101" explaining something basic, but it would be helpful to see a short code sample and have an explanation of what "throw when link-generation fails" means (at compile time?) alongside what h

[2015-11-25 16:24] rynowak commented on #3512
#### Some basics

Link generation is a **runtime** feature of routing that lets you generate a URL using the routing system. This is the feature that backs `Url.Action(...)` `Html.Form(...)` and things like `RedirectToRouteResult` or `CreatedAtActionResult`. It's how we avoid hardcoding URLs in controllers and views.

Link generation runs through a list of routes in the route table, and tried each

[2015-11-25 16:34] GuardRex commented on #3512
@rynowak Perfect. Sorry for asking you to type out MVC 101 for Newbies! :baby: ... but that's a big help.

[2015-11-25 16:46] dougbu commented on #3641
@mdmoura do you mean "if executing the `Index(String categorySlug)` action with a non-empty `categorySlug` value"? Or does this occur when executing a different action that also has a `categorySlug` parameter?

[2015-11-25 16:48] #3497 closed

[2015-11-25 16:59] mdmoura commented on #3641
@dougbu:

If I understood your question the problem happens when executing the same action with asp-route-categorySlug not even defined on the link ...

I have only one action:

    public class EBookController : Controller {
       [Route("ebooks/{categorySlug?}"), HttpGet]
       public IActionResult Index(String categorySlug) {
          return View();
       }
    }

with only one view: Index

[2015-11-25 17:10] dougbu commented on #3641
Yup that's what I asked. `categorySlug` is _always_ defined as an ambient value in your scenario. Since the value comes from the current request, you need to override it as you've shown.

You have a few other options e.g. define a separate action with `[Route("ebooks"), HttpGet, Name = "bare"]` and use `asp-route="bare"` instead of `asp-controller="EBook" asp-action="Index"` in the view.

[2015-11-25 17:22] mdmoura commented on #3641
@dougbu:

Sure, I know that I can add a different route or use the route parameter as empty as I did.

For me both solutions are fine ... But the question is:

When a route parameter, e.g. asp-route-categorySlug, is missing in the link should not its value be set to null? It seems a more predictable behavior, no?

[2015-11-25 17:46] pakrym commented on #3633
I was able to run MVC with dotnet cli by:
1. Overriding `IAssemblyProvider` to `StaticAssemblyProvider` with entry assembly added (At this point it was able to find controllers)
2. Adding naive implementation of `ICompilerOptionsProvider`
3. Adding naive implementation of `ILibraryExporter`
3. Overriding `IApplicationEnvironment` and returning not null `RuntimeFramework`

[2015-11-25 17:47] rynowak commented on #3633
nice!

[2015-11-25 17:50] rynowak commented on #491
Change in routing: aspnet/Routing@d4b96b27c0a7ab051b6b90a72a131e5042e141be

[2015-11-25 17:51] pakrym commented on #3633
Compilation options provider shouldn't be a big problem, we can infer most of settings at runtime from `IHostringEnvironment` and `IRuntimeEnvironment`

[2015-11-25 17:54] pakrym commented on #3633
For `ILibraryExporter` we can Embed `project.json` into assembly (something like "embedProjectMetadata" compilation option) and  and add API to read from it, so MVC can implement its own logic on top

[2015-11-25 17:58] dougbu commented on #3123
Two more bits done in
- 7bb0a1a for `IJsonHelper`
- aspnet/Antiforgery@6a9b38d and 6e299d6 for `IAntiforgery`

[2015-11-25 18:13] Eilon commented on #3641
@mdmoura the routing system picks up so-called "ambient values" from the current request and applies them if possible (there are some rules around this). To ensure the value is empty, the code has to set the value to be empty.

I agree this is confusing in some cases, but it also helps in other cases. E.g. if in the view page you want to link from the current category to other categories, you can

[2015-11-25 18:25] davidfowl commented on #3633
Well that one is a bit tricky. The dotnet cli would need to do that and it's bit weird to always do it. Also you need the lock file not just the project.json file. Also you need access to the reference assemblies, which aren't always available unless we make them available.

[2015-11-25 18:47] pranavkm commented on #3633
@pakrym wouldn't we need the project.json to look at things like LanguageVersion, Defines, WarningAsErrors?

[2015-11-25 18:51] mdmoura commented on #3641
@Eilon sure, the reason why I posted this is because I wasn't sure if you were aware of the behavior which, as I described, in same cases it feels strange because it feels like "a initialized variable" has a value different from null which in is the opposite of C# and other languages ...

BTW, I see the advantage but I ask: will anyone set a route without Controller and Action? Probably not becaus

[2015-11-25 18:58] rynowak commented on #491
Change in Mvc aspnet/Mvc@4bcf236450edaecd07ab2e8b83b3879bf70c13be

[2015-11-25 19:01] Eilon commented on #3641
Yeah the docs are still in progress. There exist docs on the routing in ASP.NET MVC 5, which is largely the same as in MVC 6 (certainly with respect to this behavior it's the same).

[2015-11-25 19:01] #3433 closed

[2015-11-25 19:01] #3641 closed

[2015-11-25 19:43] pakrym commented on #3633
Or we hardcode them to some default values :)

[2015-11-25 23:27] rynowak commented on #3257
Fixed by 0832365ec264df06e6c601079eece81dd7516daf

`context.OperationBindingContext.ActionContext.ActionDescriptor` - we hope to simplify it more than this, but it's possible for now.

[2015-11-25 23:27] #3257 closed

[2015-11-25 23:39] pranavkm commented on #3633
At that point, isn't it much simpler to just have an alternate way of configuring views (e.g. via options). It also separates oddities like figuring out which properties to exclude (code signing, `emitEntryPoint`) from the primary project and plays nicely with binaries containing embedded cshtml. @davidfowl doesn't particularly like this solution though.

[2015-11-26 00:38] davidfowl commented on #3633
I think we can have everything on razor options. All we're talking about is defaults. Let's start by treating the razor view engine as a separate compilation system that can be fully configured in Startup. Then we figure out where the defaults come from.

[2015-11-26 00:39] pakrym commented on #3633
@davidfowl  So we remove dependency on ILibraryExporter?

[2015-11-26 00:39] davidfowl commented on #3633
Also consider the precompile case.

[2015-11-26 00:44] PrimeObjects opened #3650 "Can we define FileProvider for Layout?"
I have tried RezorViewEngineOptions.FileProvider, it works very well to provide a different view file provider.

[code]

Can we do the same to Layout file?

Thanks
Gary

[2015-11-26 00:55] davidfowl commented on #3650
Not sure what you mean. This is for any razor view engine file (including the layout.cshtml if that's what  you mean).

[2015-11-26 00:59] PrimeObjects commented on #3650
When I debug, it seems looking for view files only in the following sequence.
_ViewStart.cshtml
Views/_ViewStart.cshtml
Views/{Controllers}/_ViewStart.cshtml
_ViewImports.cshtml
Views/_ViewImports.cshtml
Views/{Controllers}/_ViewImports.cshtml

But it does not look for Layout files for example from /Shared/_Layout.cshtml

Thanks
Gary

[2015-11-26 01:01] PrimeObjects commented on #3650
So I have successfully develop a new FileProvider to provide view file from database. How can I provide Layout file from database by using similar solution?

[2015-11-26 01:02] davidfowl commented on #3650
/cc @pranavkm any ideas?

[2015-11-26 01:08] Eilon commented on #3650
@dougbu might also know some of this codebase because he recently did a massive cleanup of how stuff is found.

[2015-11-26 01:12] davidfowl commented on #3633
I think ILibraryExporter needs some special care. I'm also going to see what the Roslyn team thinks about this. We could say that the only abstraction we expose for razor is the Roslyn API for references and compilation options (we don't need to a abstract it). That leaves the burning question, what set of assemblies do we pass to the razor view compilation process by default and how do we locate

[2015-11-26 01:23] pranavkm commented on #3650
@PrimeObjects, are you specifying a `Layout = "_Layout"; or `Layout = "Views/Shared/_Layout.cshtml"`in your page / _ViewStart? RazorViews don't look for Layouts by default.

[2015-11-26 01:26] PrimeObjects commented on #3650
Hi pranavkm,
I want the content of the layout comes from database instead of from a file. I have made view files from database.

[2015-11-26 01:27] davidfowl commented on #3650
But did you set the property

[2015-11-26 01:29] pranavkm commented on #3650
@PrimeObjects, once you set it the page would query the view engine for it. You should be able to return contents from the DB at that point.

[2015-11-26 01:31] PrimeObjects commented on #3650
Cool, good to know that, I will give it a try. I thought if I don't define Layout explicitly, it should at least look for the default one in the Shared folder and it did not happen.

I will try it this evening and update you later.

Cheers
Gary

[2015-11-26 01:42] PrimeObjects commented on #3650
Hi guys,

After I give the Layout definition in the view content, the file path was seen in the new FileProvider. My bad, I should have given it a try.

@{
    Layout = "~/Views/Whatever.cshtml";
}

Thank you all for the help!

Gary

[2015-11-26 01:42] #3650 closed

[2015-11-26 03:00] madmunsterdaddy opened #3651 "DataType.MultilineText does not generate textarea"
In MVC5 you could do something like:

    public class ApplicationUser : IdentityUser
    {
        [DataType(DataType.MultilineText)]
        public string Bio { get; set; }
    }

That would generate a textarea tag to make it multi-line. Not working in MVC6 (rc1)

[2015-11-26 06:34] NTaylorMullen commented on #3599
490fcf1ab4d416ee6cc140797c2377e352677bda

[2015-11-26 06:34] #3599 closed

[2015-11-26 21:43] Fosol opened #3654 "RC1 MVC View doesn't work"
I've recently installed the latest RC1 for VS2015.  I've created a web application but as soon as I attempt to use Views it throws the following exception;

If I have an endpoint that simply returns data it works.  When I try and use the cshtml it fails.
[code]
I'm attempting to implement the AspNet.Security.OpenIdConnect project.

Here's my project.json;
[code]
Here is my Startup.cs
[code]

[2015-11-26 21:47] davidfowl commented on #3654
Where are you using RC1? I see 1.0.0-* in all of your versions. Make a file new RC1 project using the new tooling and see if you get the same error.

[2015-11-26 21:50] Fosol commented on #3654
I was having difficulty getting the right versions to use.  I thought * meant the most recent?

[2015-11-26 21:52] davidfowl commented on #3654
@Fosol Look at your project.lock.json or look at the resolved versions. It means use the latest alright but what if you went past what you expected the latest was? What if you went later than you wanted?

[2015-11-26 22:27] Fosol commented on #3654
Forced everything I could to rc1-final.

Thanks!

[2015-11-26 22:28] #3654 closed

[2015-11-26 22:31] ToddThomson commented on #3373
Once the PrecompiledViewsCompilerCacheProvider has been activated/created with a set of assemblies containing precompiled razor views there is no method to add additional assemblies with additional precompiled razor views.
I would like to add component class library packages with controllers and precompiled views to my application. Each component then adds its precompiled views to the overall appl

[2015-11-26 22:55] Fosol opened #3655 "RC1 spams Fiddler - What's going on?"
I started a simple RC1 web application project.  The result was Fiddler went wild...  It's capturing a ton of constant traffic.  Interestingly the port the application is running on is different.

This may be a Visual Studio issue...

Here's an example request;
[code]
[code]
I just confirmed this happens even when a project is created from the default template.

This is almost definitely VS2015 RC

[2015-11-27 06:15] dougbu commented on #3651
@madmunsterdaddy this feature exists in MVC 6 and should be working fine. What are you using in your view to create a field for the `Bio` property? And does your `Startup.ConfigureServices()` method call `services.AddMvc()`?

[2015-11-27 07:45] himadrinath opened #3656 "AmbiguousMatchException: Ambiguous match found."
running mvc 6 in 1.0.0-rc1-final also have 2 different Class Library added as reference in this project. one of them class library used for maintain sqlserver data model with identity and another is for maintain sqlite data model. after creating relationship between models and updating database every thing works fine. and then when i created a mvc form which has 3 entities one parent entity (a) an

[2015-11-27 09:26] Jeffiy opened #3657 "Triplicate null checks in CORS APIs"
Hey, the code of https://github.com/aspnet/Mvc/blob/dev/src%2FMicrosoft.AspNet.Mvc.Cors%2FCorsAuthorizationFilter.cs#L54-L67, https://github.com/aspnet/Mvc/blob/dev/src%2FMicrosoft.AspNet.Mvc.Cors%2FCorsAuthorizationFilterFactory.cs#L39-L52 and https://github.com/aspnet/Mvc/blob/dev/src%2FMicrosoft.AspNet.Mvc.Cors%2FDisableCorsAuthorizationFilter.cs#L32-L45 are triplicate, is there any special pur

[2015-11-27 10:51] alexsandro-xpt commented on #3657
LOL, it's fun.... at my knowledge, it's not make any sense... :full_moon_with_face:

[2015-11-27 13:58] Jeffiy commented on #3657
Should be fix ?

[2015-11-27 15:30] davidfowl commented on #3657
/cc @pranavkm

[2015-11-27 16:14] madmunsterdaddy commented on #3651
It's easy to reproduce. I just used the default template with individual accounts. Add that member to ApplicationUser, create a new Controller w/ Views for the Application User class. That field on create/edit views is not multi-line.

[2015-11-28 00:04] dougbu commented on #3651
Ah, I get it; this is a Scaffolding issue: The generated view uses `<input asp-for="Bio" class="form-control" />`. Scaffolding should instead generate a `<textarea/>` element or use the more-general `@Html.EditorFor()` HTML helper.

The workaround is to use
[code]
or
[code]

Please instead open this in the Scaffolding repo. I'd own the issue if I moved this issue over.

[2015-11-28 02:29] madmunsterdaddy commented on #3651
Thanks, Doug. I'll post there.

[2015-11-28 02:29] #3651 closed

[2015-11-28 05:04] brijmailid opened #3658 "IServiceCollection does not contain a definition for 'AddMvc'"
my project is not getting build it shows error -
IServiceCollection does not contain a definition for 'AddMvc',

My Project.json file is:

[code]

[2015-11-28 05:09] davidfowl commented on #3658
Look at the amount of beta5 references in your project. My advice would be to create a new one using the rc1 tooling

[2015-11-28 06:42] brijmailid commented on #3658
I have VS2015 Community edition, Should i install "Visual Studio 2015 Update 1 RC"

[2015-11-28 06:43] dougbu commented on #2767
Hit this issue while experimenting. For the same reason, localization does not work as expected in `_ViewStart.cshtml` files e.g. when setting a default `ViewData["Message"]` value. This breaks componentization and means resources must be repeated for all top-level views.

Suggest `ViewLocalizer` [line 101](https://github.com/aspnet/Mvc/blob/490fcf1ab4d416ee6cc140797c2377e352677bda/src/Microsoft.A