[2015-01-14 21:25] yishaigalatzer commented on #893
We should also have a way to turn the behavior off.

[2015-01-14 21:28] yishaigalatzer commented on #893
@rynowak there is no major need to get the feature in for RC, but I would like to verify we can do it without breaking the architecture. We could make it as simple as just making the basic determination and storing the data on the request, and have later a middleware that does the conversion.

I think this will end up being quite complex when you have multiple routes competing for the action where

[2015-01-14 21:45] yishaigalatzer commented on #842
I suggest we just make `NotFound(object)` overload available on Controller. It will return ObjectResult with the status code.

[2015-01-14 21:50] yishaigalatzer opened #1809 "ObjectResult with status code and null value does not produce the status code"
When a user return an `ObjectResult` with status code other than 200 with no content, the `HttpNoContentFormatter` overrides the status code provided on the result (and set by the result) and instead returns a 204.

Similarly if the user has explicitly set the `StatusCode` on the `Response` we have no way to know it and the formatter will override the user setting.

@Tratcher this keep coming up,

[2015-01-14 21:56] Tratcher commented on #918
I hesitate to provide statics like that because the header types like MediaTypeHeaderValue are mutable.

[2015-01-14 21:56] yishaigalatzer commented on #838
@Tratcher I believe this is part of your PR, can you resolve when you are done?

[2015-01-14 21:57] yishaigalatzer commented on #838
#1801

[2015-01-14 22:03] yishaigalatzer commented on #830
If a template ever renders a large portion of text > 80K there is definitely a major LOH issue that will cause pauses and lots of CPU spent in GC

[2015-01-14 22:05] yishaigalatzer commented on #826
This belongs in error handling middleware, I am not sure if it is actually handled alreayd, but I recall it was the intent @muratg

[2015-01-14 22:05] #826 closed

[2015-01-14 22:36] yishaigalatzer commented on #788
We can't just hook up the aspnet service provider to the `ValidationContext` because the contract on `ValidationContext` requires copying the services over to the `ServiceContainer` property.

It's unfortunate but I don't see a way to do this in the framework. And you will have to use something like CallContext to get at request services or set a global static to get to application services. This

[2015-01-14 22:36] #788 closed

[2015-01-14 22:46] yishaigalatzer commented on #924
We are thinking that this behavior is fine and by design.
We can at some point implement a `[StrictEumBehavior]` validation attribute if asked for by users.

[2015-01-14 22:46] #924 closed

[2015-01-14 22:50] yishaigalatzer commented on #324
Moving out beyond RTM, we will bring back based on user feedback. Seems lower priority for now,

[2015-01-14 22:56] yishaigalatzer commented on #443
@KKhurin I'm assuming you didn't actually hit any real issue here. So I'm moving post RTM where we can try and take a second look.

[2015-01-14 22:57] dougbu commented on #1758
Reopening since the larger #324 has been postponed.  Work here is to provide the `AdditionalValues` property bag (from MVC 5) in the MVC 6 `ModelMetadata`.

[2015-01-14 22:58] yishaigalatzer commented on #498
Cors support is going to mostly happen in middleware. This is to track the MVC portion of the work.

[2015-01-14 23:06] DamianEdwards commented on #1553
@Bartmax agree on name/names, I'll change that.

You could certainly build a more generic conditional/if tag helper yourself, but we're not planning on doing it. We see environment being something people often conditionally render content on so we're promoting it as a first class tag helper, but fundamentally we don't to go super generic in the tag helpers (and have Razor end up looking like Spark

[2015-01-14 23:07] yishaigalatzer commented on #487
There is nothing to do here.

The general Error handling will come from middleware, as a note we have modified the filter pipeline it currently looks like this:

![image](https://cloud.githubusercontent.com/assets/1238711/5749571/f8a65e22-9bfe-11e4-92f3-9b11706fe280.png)

[2015-01-14 23:07] #487 closed

[2015-01-14 23:07] NTaylorMullen commented on #463
This was fixed by https://github.com/aspnet/Razor/commit/32f6f4df009efeefca4f2ac720efffcc3b5bacfd and is a duplicate of https://github.com/aspnet/Razor/issues/28

[2015-01-14 23:07] #463 closed

[2015-01-14 23:08] yishaigalatzer commented on #497
Nothing to do here, this is tracked by a large set of logging issues.

[2015-01-14 23:08] #497 closed

[2015-01-14 23:11] yishaigalatzer commented on #471
Duplicate of #1550 that has more data

[2015-01-14 23:11] #471 closed

[2015-01-14 23:12] yishaigalatzer commented on #567
@rynowak can you specify what exactly needs to change, so we can reassign to be executed on.

[2015-01-14 23:15] yishaigalatzer commented on #623
@loudej @davidfowl @danroth27 - I think we should kill this one. Please reopen if you think otherwise

[2015-01-14 23:15] #623 closed

[2015-01-14 23:18] yishaigalatzer commented on #532
We don't plan to support `[DisplayName]` use `[Display]` instead as it is cross platform.

[2015-01-14 23:18] #532 closed

[2015-01-14 23:19] rynowak commented on #567
@yishaigalatzer suggest closing this item. I did some work in this area not too long ago, and it seems fine now.

[2015-01-14 23:20] yishaigalatzer commented on #640
Please drive the discussion. I'd like to reach a consensus on the design and either keep what we have or remove the one place in the code that does it today.

[2015-01-14 23:21] rynowak commented on #471
@yishaigalatzer this isn't the same. #1550 is about the lifetime of a particular service. This bug was about the number of model binding contexts we new up in code (1-per-property) and the number of validation contexts we new up in code.

[2015-01-14 23:24] #755 closed

[2015-01-14 23:27] yishaigalatzer commented on #634
@HaoK @blowdart is this a thing with the new design?

[2015-01-14 23:32] yishaigalatzer commented on #708
Duplicate of logging

[2015-01-14 23:32] #708 closed

[2015-01-15 00:14] yishaigalatzer commented on #1252
This is already done, tooling needs to verify once the tooling feature lights up. @vkichline

[2015-01-15 00:14] #1252 closed

[2015-01-15 00:15] yishaigalatzer commented on #1167
#1657

[2015-01-15 00:15] #1167 closed

[2015-01-15 00:17] #838 closed

[2015-01-15 00:18] yishaigalatzer opened #1812 "Stress test for tag helpers"
Need to build a stress test for Razor pages with tag helpers.

[2015-01-15 00:36] rynowak commented on #1695
Updated description

[2015-01-15 00:51] pranavkm opened #1814 "ElementalValueProvider performs incorrect prefix check in ContainsPrefix"
The value provider needs to use the incoming prefix as the prefix and the not the value to check.

[2015-01-15 01:26] dougbu commented on #1253
previous title was "support user typing entire RHS of a `ModelExpression` lambda expression"

example attribute values to support:
[code]

[2015-01-15 03:30] rynowak commented on #384
We're doing this now as part of the redesign of when the controller factory runs.

[2015-01-15 04:31] GrabYourPitchforks commented on #1800
Among your options are (a) cloning a stable implementation of String.GetHashCode or (b) cloning SignalR's implementation of SipHash [see https://github.com/SignalR/SignalR/blob/master/src/Microsoft.AspNet.SignalR.Core/Infrastructure/SipHashBasedStringEqualityComparer.cs].

[2015-01-15 10:39] tonysneed commented on #1744
@yishaigalatzer, just following up to see if my CLA was approved yet and what you think about my proposed API design?

[2015-01-15 14:22] pranavkm opened #1819 "Allow FlushAsync to work inside of tag helpers."
Consider a cache tag helper:

[code]

The expectation is during the initial request to the page when the content is not cached, the tag helper renders and `FlushAsync` is invoked immediately after. For consecutive requests where the child content is never executed, we need to ensure that the Flush call continues to work.

Note: If the tag helper has multiple Flush calls, they'll be collapsed in to

[2015-01-15 14:24] pranavkm commented on #1552
Follow up issue to support Flush inside the tag helper - https://github.com/aspnet/Mvc/issues/1819

[2015-01-15 17:32] danroth27 commented on #1094
Instead we decided to create a sample that shows how to use a custom IRouter with async logic.

[2015-01-15 17:34] danroth27 commented on #1094
Old title: Create an async version of IRouteConstraint

[2015-01-15 17:43] danroth27 commented on #1638
Dup of #1597.

[2015-01-15 17:43] #1638 closed

[2015-01-15 17:50] pranavkm commented on #746
Duplicate of https://github.com/aspnet/Mvc/issues/974

[2015-01-15 17:50] #746 closed

[2015-01-15 17:56] danroth27 commented on #625
Dup of #1528.

[2015-01-15 17:56] #625 closed

[2015-01-15 18:05] yishaigalatzer commented on #1808
@nfplee since the feature is not yet in, it's probably better to just comment on the PR first

[2015-01-15 18:34] ianhong commented on #1504
@anpete, I'm closing this, and let me know if you have more requirements than #1771 and #1772

[2015-01-15 18:34] #1504 closed

[2015-01-15 19:49] #1537 closed

[2015-01-15 20:09] pranavkm opened #1823 "Add additional functional tests for ElementalValueProvider"
Follow up item for https://github.com/aspnet/Mvc/issues/1814

[2015-01-15 20:15] #1657 closed

[2015-01-15 20:31] yishaigalatzer commented on #1744
Your CLA has been approved.

I would start with individual PRs.

PR 1 - First lets make DCS expose settings, note that we are in the process of changing the XML formatters (moving them to another package, and removing XML by default),
also note that DCS unfortunately derives from XML formatter (which we plan to change soon).
PR 2 - Add extension methods to access the formatters by type

I wouldn't

[2015-01-15 21:42] ajaybhargavb commented on #1709
437eb93bdec0d9238d672711ebd7bd3097b6537d

[2015-01-15 21:42] #1709 closed

[2015-01-15 21:42] ajaybhargavb commented on #582
437eb93bdec0d9238d672711ebd7bd3097b6537d

[2015-01-15 21:42] #582 closed

[2015-01-15 22:20] #1814 closed

[2015-01-15 23:59] yishaigalatzer commented on #1631
Decided to leave this alone. It causes very interesting subtle issues with respecting CharSet. And ultimately the user can just return a ContentResult if he wants to customize the ContentType

[2015-01-16 00:02] #1791 closed

[2015-01-16 00:32] rynowak commented on #1094
623b733eaa16f7c6645040fd38a905511ccca370

[2015-01-16 00:32] #1094 closed

[2015-01-16 00:44] rynowak commented on #1695
3dea6b11a3b44c0be831409eb174e94c20502f47

[2015-01-16 00:44] #1695 closed

[2015-01-16 00:51] dougbu commented on #1253
Fixed with a77d0718301cd1be5e3900e21167768c7f964d8d and d2fe1ebad763c948ecc47612d01c26a7eff9a1f6

[2015-01-16 00:51] #1253 closed

[2015-01-16 03:27] dougbu commented on #1685
previous subject was "Tag Helpers: Enum properties should be typed as the Enum and not attempt any conversion".  `ValidationSummaryTagHelper` is the only MVC tag helper that performs conversion.

[2015-01-16 03:32] dougbu commented on #1685
@DamianEdwards current helper `throw`s if it cannot parse the `asp-validation-summary` (`string`) value.  once I fix this, the compiler will handle `asp-validation-summary="Garbage"` and similar errors.

what behaviour would you like for undefined `ValidationSummary` values e.g. `asp-validation-summary="ValidationSummary)23"`?  compiler would be happy but should the tag helper `throw` or ignore th

[2015-01-16 07:56] HaoK commented on #1601
So the basic idea is, if your authorization policy wants a specific authenticationType, it can ask for it via AuthorizationPolicy.ActiveAuthenticationTypes, if any are specified, the default authorization service will call `httpContext.AuthenticateAsync(ActiveAuthenticationTypes)` and use all of those as the ClaimsPrincipal for the authorization call

[2015-01-16 07:58] HaoK commented on #1601
At least this is the current state of AuthZ, we are in the early stages of iterating on this, so its still subject to change

[2015-01-16 08:02] HaoK commented on #432
Short summary of the current iteration of authorize + authZ:
[code]

[2015-01-16 08:04] PinpointTownes commented on #432
@HaoK what if I want a specific authentication type being applied without enforcing any authorization policy?

[2015-01-16 08:05] HaoK commented on #432
you mean filtering the httpContext.User identities?  That currently isn't addressed as the changes are specific to the auth service, and authorize attribute only so far

[2015-01-16 08:16] HaoK commented on #432
But if you want to enforce a specific authentication type as your authZ policy, without any additional rules, you can probably do:
` new AuthorizationPolicyBuilder("requiredAuthType").RequireAuthenticatedUser() or RequireClaim(<somerequiredclaim like NameIdentifier>)`

[2015-01-16 08:23] PinpointTownes commented on #432
@Haok filtering is probably not the right word. Basically, what I'm looking for is a filter that sets `Context.User` using the authentication handler corresponding to the `AuthenticationType` defined by the attribute (i.e an `HostAuthenticationFilter` equivalent, but that would concat identities in `Context.User` instead of defining a new principal each time).

You'd use it like that:

[code]

[2015-01-16 08:27] HaoK commented on #432
Yeah that is more Authentication, I don't think we want to do that as part of Authorization, but at least for now, that is not supported yet.  We do swap out httpContext.User to the ActiveAuthenticationTypes in the policy while we are authorizing, but we revert it back to the old user (which contains the 'active' auth types) after we are done authorizing.

[2015-01-16 08:39] PinpointTownes commented on #432
That's indeed definitely more an authentication concern. That's why I'm not sure it should be `AuthorizationService`'s concern to call `AuthenticateAsync` (https://github.com/aspnet/Security/commit/4a635835af1049679103fdca97716e814408addc#diff-1e9e57ee7433d6630e3e3cb634a0e8e4R44). Instead, `context.User` should be filled by an authentication filter and the authorization service should just have to

[2015-01-16 08:42] HaoK commented on #432
yeah that part is definitely still in flux, we will keep this in mind for the next iteration, as I agree with you it feels weird that we need to pull all of the authentication types.  But as it stands now, its up to the policy to say what authTypes it cares about, so there's no way to know in advance which authTypes the AuthZ service needs until its invoked.

[2015-01-16 08:52] PinpointTownes commented on #432
The question is: does it need to know that? That's not really an authorization concern (while enforcing that `Context.User` has specific authentication types would be).

IMHO, to respect a clear separation between authentication and authorization, `ActiveAuthenticationTypes` should be removed from the authorization server and replaced by authentication filters, that would be combined with authenti

[2015-01-16 08:57] rynowak commented on #657
Doing a pass and cleaning this up things that should be true in general.

**Properties are get/set by default**
- Some require a not-null value (`FileStreamResult`)
- Services needed by the result are get/set and default to null. They are resolved inside `Execute`

Exception to this is `HttpStatusCodeResult` and derived classes. Since all this class does is set a status code, it's not get/set. The

[2015-01-16 11:56] tonysneed commented on #1744
Great, I'm now working on getting the Mvc.Core project to build.  I've upgraded to KRE 1.0.0-rc1-10894, following [these instructions] (https://github.com/aspnet/home#running-the-samples). But I'm getting 12 errors when attempting to build the Mvc.Core project.  They are all for Filters\AuthorizeAttribute.cs and most relate to not finding AuthorizationPolicyBuilder.  Any ideas?

[2015-01-16 16:02] yishaigalatzer commented on #1744
It's a build break, should be resolved soon

[2015-01-16 16:39] tonysneed commented on #1744
Whew! Thanks for working to get that fixed. :+1:

[2015-01-16 16:51] shawnwildermuth opened #1832 "HttpStatusCodeResult should accept HttpStatusCode enumeration"
Currently we have to cast status codes into integers to allow them to be passed into the HttpStatusCodeResult (and to the Response.StatusCode). While it would be better to have WebAPI-style status code helpers, in the absence of that the API should at least be on par with MVC5 which allowed this. In the current rev, this is what the status code looks like:

[code]

Ultimately i'd prefer a holistic

[2015-01-16 18:48] dougbu commented on #1685
talked offline w/ @DamianEdwards:
- undefined `ValidationSummary` values should `throw`
- move the `ValidationSummary` type to the `Microsoft.AspNet.Mvc` namespace so .cshtml authors don't need to type `Microsoft.AspNet.Mvc.TagHelpers.ValidationSummary.All` or add the appropriate `@using`

[2015-01-16 20:19] yishaigalatzer commented on #1631
#1826

Resolved by 9ac37fbc7

[2015-01-16 20:19] #1631 closed

[2015-01-16 20:39] ajaybhargavb commented on #1526
a5a3eb44b9a23ff2fe4e8f64641c060088fbb1c9

[2015-01-16 20:39] #1526 closed

[2015-01-16 20:40] ajaybhargavb commented on #1428
7c0eb56e59b1e3632ad065ca3291462791ac259b

[2015-01-16 20:40] #1428 closed

[2015-01-16 22:22] #389 closed

[2015-01-16 22:32] #1782 closed

[2015-01-16 22:33] #536 closed

[2015-01-16 23:32] dougbu commented on #1685
Fixed via 9b2a9e397649a928f85f323fe44a915af260035a

[2015-01-16 23:32] #1685 closed

[2015-01-17 00:38] yishaigalatzer commented on #1483
Remove the sample and :shipit:

[2015-01-17 00:45] rmja opened #1836 "SupportedMediaTypes for output formatters are incorrectly updated with charset data during requests"
To reproduce, configure a custom JsonOutputFormatter in Startup.cs as follows:

    services.AddMvc().Configure<MvcOptions>(options =>
        {
            var formatter = new JsonOutputFormatter();

            formatter.SerializerSettings = new JsonSerializerSettings();
            formatter.SerializerSettings.ContractResolver = new CamelCasePropertyNamesContractResolver();

            options

[2015-01-17 00:53] maxtoroq opened #1837 "TryUpdateModel: Determine model type at runtime"
The TryUpdateModel methods require that you explicitly declare the type you are binding at compile time, and if you attempt to bind a subclass instance the subclass properties are ignored. This is because the model metadata is [requested using the type parameter](https://github.com/aspnet/Mvc/blob/6df288bce7dc94c6afbeecc9260831bcea1c638d/src/Microsoft.AspNet.Mvc.Core/ParameterBinding/ModelBindingH

[2015-01-17 00:58] #1552 closed

[2015-01-17 01:11] rynowak commented on #1836
@rmja thanks for the thorough report. It looks like the issue might be in OutputFormatter@192.

[code]

`selectedEncoding` might refer to one of the values from `SupportedMediaTypes`. We should be making a copy before mutating it.

[2015-01-17 01:23] dougbu commented on #1483
Fixed via 12565daf88603501521bf0315617be443fa5f705

[2015-01-17 01:23] #1483 closed

[2015-01-17 01:27] kirthik commented on #1642
checked in - e41e5066f991c8ca74f8d6d87d2f41590784b634

[2015-01-17 01:27] #1642 closed

[2015-01-17 01:36] pranavkm commented on #1837
We now have precedence in doing this via TryValidateModel - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Controller.cs#L1062-L1064

[2015-01-17 01:36] rynowak commented on #657
692a07240c34ee12c317eddb7cc28d744818b02d

[2015-01-17 01:36] #657 closed

[2015-01-17 01:54] dougbu commented on #1837
true though `TryUpdateModel<TModel>` and `TryValidateModel` are also inconsistent in MVC 5.  so there's a back-compat argument in favour of leaving MVC 6 as-is in this respect.  not sure how _strong_ that argument is :smiley_cat:

if we do make a change here, probably still want to prevent boxing and attempting to update a value type model.  the type parameter avoids that problem and moves errors

[2015-01-17 01:59] rynowak commented on #1722
1e7812e7e0e5fc2e4e0d726f5903f9a8259c254

[2015-01-17 01:59] #1722 closed

[2015-01-17 02:09] maxtoroq commented on #1837
I didn't suggest removing *TModel* because the *includeExpressions* parameter needs it, although you could have one overload with *TModel* and the others without it.

[2015-01-17 14:34] tonysneed commented on #1744
@yishaigalatzer, Now we're down to just one error in Microsoft.AspNet.Mvc:
MvcServiceCollectionExtensions.cs(29,22): ASP.NET 5.0 error CS1061: 'IServiceCollection' does not contain a definition for 'AddAuthorization' and no extension method 'AddAuthorization' accepting a first argument of type 'IServiceCollection' could be found (are you missing a using directive or an assembly reference?)

[2015-01-18 02:50] dougbu commented on #1837
@maxtoroq perhaps.  then again, the use of `TModel` in `includeExpressions` is an argument in favour of using `TModel` everywhere in this method group.  would be confusing otherwise.

[2015-01-18 03:07] dougbu commented on #1753
@pranavkm did a94d5223e1748b24a023fffbb8852066a028f40f fix this issue?

[2015-01-18 04:06] dougbu commented on #453
@pranavkm has greatly improved the coverage of many HTML helpers.  some remaining gaps:
- functional tests of HTML helpers (not exactly matching the bug title but also not covered elsewhere)
- `@Html.DropDownList()` / `@Html.ListBox()`
- `@Html.RadioButton()`
- `@Html.Raw()`
- `@Html.TextArea()`
- `@Html.TextBox()` (yup, no kidding)
- `@Html.ValidationMessage()` / `@Html.ValidationSummary()`

a fe

[2015-01-18 05:42] maxtoroq commented on #1837
@dougbu I agree. Although I haven't tested it, perhaps simply using `object` for *TModel* works. If it does then the only change needed is getting the modelType from the model instance.

[2015-01-19 07:47] Boglen opened #1840 "Possible FileUpload bug"
I'm try to using file upload from this commit
https://github.com/aspnet/Mvc/commit/437eb93bdec0d9238d672711ebd7bd3097b6537d

Microsoft.AspNet.Mvc.ModelBinding have 6.0.0-beta3-12431 version.

View:

[code]

Controller:
[code]
  Seems to files is always 0 count. But Request.Form.Files contain two files.

ContentDispositionHeaderValue.Parse(f.ContentDisposition).FileName
surrounded with quotes and h

[2015-01-19 16:02] kichalla opened #1841 "Change XML DCS and XmlSerializer output formatters to not derive from the base XmlOutputFormatter"

[2015-01-19 17:44] kichalla commented on #1840
FYI @ajaybhargavb

[2015-01-19 18:44] yishaigalatzer commented on #1836
@rmja can you please clarify what your action code looks like?

I assume you are calling return `Json(model)` which is when we might fallback to the default json formatter?

In that case I assume you can just return the model directly (or return `ObjectResult(model)`)

[2015-01-19 19:13] yishaigalatzer commented on #1832
I do agree with you that we probably don't want the users to have to memorize or cast status codes. The issue for this belongs in Http Abstractions Repo, but we can chat further here on the overall design and then file it in the right place. @Tratcher

Also some other good news is we made a change (see https://github.com/aspnet/Mvc/commit/692a07240c34ee12c317eddb7cc28d744818b02d) that should allev

[2015-01-19 19:38] Tratcher commented on #1832
Enum was always a poor type for Http status codes. Static/const ints may be more appropriate. We recently added the following for common header names: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/HeaderNames.cs. Something similar for status codes would be reasonable.

[2015-01-19 19:41] Tratcher commented on #1832
https://github.com/aspnet/HttpAbstractions/issues/174

[2015-01-19 20:29] rmja commented on #1836
@yishaigalatzer correct. I am calling `Json(model)`. I was not aware of `new ObjectResult(model)`. It does not produce the same error.

[2015-01-19 20:49] yishaigalatzer commented on #1840
We are going to fix the quotes issue for Beta3. And followup with a bug in Http Abstraction for the aspnet/HttpAbstractions#175

[2015-01-19 20:57] pranavkm commented on #1491
Yup, I'm seeing this behavior. Also seeing this if I click on the breakpoint and tick the "allow the source code to be different from the original version". Seem non-intuitive since you'd expect these flags the make the source file matching less restrictive and not more.

I'm using 14.0.22515.0 WPT with latest WTE.

[2015-01-19 20:59] yishaigalatzer commented on #1771
Fixed with 2cf56c7c83e26b114648e77ee93d7ff26528788a

[2015-01-19 20:59] #1771 closed

[2015-01-19 21:04] #737 closed

[2015-01-19 21:06] yishaigalatzer commented on #810
Talk to @kichalla as he is fixing the issue with calling the formatter multiple times. #1836

[2015-01-19 21:10] yishaigalatzer commented on #888
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Controller.cs#L636

[2015-01-19 21:10] #888 closed

[2015-01-19 21:18] kirthik commented on #1654
checked in - 6a824a43948ae426299082d1072f0e342194aa5f

[2015-01-19 21:18] #1654 closed

[2015-01-19 21:30] ajaybhargavb commented on #1840
Checked in - 67b078862ee36a846af1b81088e3f2f73f5de3e2

[2015-01-19 21:42] pranavkm commented on #1808
@nfplee the current API for the tag helper doesn't have a way to iterate \ remove keys by prefixes. There's an API for adding additional expiration triggers, but it requires using a helper and isn't particularly intuitive. I'll work on adding a sample to the TagHelpersSample.Web application on what usage for this looks like.

[2015-01-19 21:47] #1753 closed

[2015-01-19 21:49] danroth27 commented on #852
@sornaks I believe this overload is now available.

[2015-01-19 21:50] yishaigalatzer commented on #1491
This looks like a bug in VS. @mayurid @barrytang can you please investigate?

[2015-01-19 21:50] #1491 closed

[2015-01-19 21:52] #1840 closed

[2015-01-20 02:01] kirthik commented on #1573
Checked in - 951ed05893d10beafbbe6449652684c19f2384ae

[2015-01-20 02:01] #1573 closed

[2015-01-20 09:29] tonysneed opened #1848 "Build Errors"
I am a first-time contributor to this project, but I must be missing something.  The guidelines state: "Make sure you can build the code."  But when I try to build the Mvc solution, *I get a LOT of build errors* -- 564, to be precise.

I would like to submit a pull request for issue #1744, but I'm stuck on the build errors, especially CS1061, which is taking place in Microsoft.AspNet.Mvc, MvcServi

[2015-01-20 11:34] tonysneed commented on #1848
I'm looking at the packages here: https://www.myget.org/gallery/aspnetvnext.  And I see that Microsoft.AspNet.Security is at version v1.0.0-beta3-11421, but if I drill down into the References node for SP.NET 5.0, I can see that the version is shown as v1.0.0-rc1-11390, which is strange because project.json for Microsoft.AspNet.Mvc.Core contains a dependency for "Microsoft.AspNet.Security": "1.0.0

[2015-01-20 13:12] tonysneed commented on #1848
It turned out the issue was caused by version number precedence.  So all I had to do was make sure my NuGet settings had just two feeds: nuget.org and AspNetVNext (https://www.myget.org/F/aspnetvnext/api/v2).  Then I cleared all packages from my local store: %UserProfile%\.kpm\packages.  Then I opened a command prompt, navigated to the local Mcv repo and ran: kpm restore.

I was then able to build

[2015-01-20 13:21] tonysneed commented on #1744
I resolved issue #1848 by clearing my local packages cache and restoring.  I am now able to build the Mvc solution without errors.

[2015-01-20 14:56] #1836 closed

[2015-01-20 16:10] nfplee commented on #1808
@pranavkm I would remove the cache by adding an extension method to IMemoryCache such as void RemoveAll(this IMemoryCache cache, string prefix) to handle the removal of the cache. I would just like a way to set a prefix for the key that the cache tag helper would use.

By doing a prefix I could say something like:

[code]

Now I could call my extension method to delete an individual item with a pr

[2015-01-20 17:39] yishaigalatzer commented on #1832
@shawnwildermuth please let us know if you expect any other changes other then the ones we completed and aspnet/HttpAbstractions#174, if so please go ahead and reopen the issue.

[2015-01-20 17:39] #1832 closed

[2015-01-20 18:25] kichalla commented on #1065
@rynowak, @yishaigalatzer  : Probably this is a stale bug...seems like we already have this ability...links:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Filters/ProducesAttribute.cs#L23

https://github.com/aspnet/Mvc/blob/dev/test/WebSites/ApiExplorerWebSite/Controllers/ApiExplorerResponseTypeOverrideOnActionController.cs#L8

[2015-01-20 18:26] kichalla commented on #1065
My bad...please ignore my previous comment...i see that we want to specify the Type without the content types...

[2015-01-20 19:10] kichalla opened #1850 "Produces attribute with wild card media type ignores content-negotiation"
For the following action and request, was expecting an Xml based response but I see a Json response.

[code]
Request:
[code]

Lines of code interesting for this case:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ActionResults/ObjectResult.cs#L144
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ActionResults/ObjectResult.cs#L212

[2015-01-20 19:24] kichalla commented on #1850
Just FYI...for an action like below:
[code]
a request like below gives json response...is this expected?
[code]

[2015-01-20 19:24] kichalla commented on #1850
FYI: @yishaigalatzer @rynowak @harshgMSFT

[2015-01-20 19:30] harshgMSFT commented on #1850
i'd expect
```[Produces("*/*", Type = typeof(Person))]```
should not be a supported scenario specifically after we have solved #1065, there should be no need for a user to specify */* and we should probably block it.

for
```[Produces("application/*", Type = typeof(Person))]```
I would expect content negotiation to kick in and we should fix this.

[2015-01-20 19:49] #1621 closed

[2015-01-20 19:50] pranavkm commented on #1725
Fixed in 12243e7d97b50c4235c800d9a1ce94641cdf7d1c

[2015-01-20 19:50] #1725 closed

[2015-01-20 19:54] kirthik commented on #1694
We get do validation errors from ModelState in partial view but validation errors(ModelState keys) are prefixed with parameter name(ex : cat.CategoryName). So if user wants to get validation error on a particular property, he needs to know the parameter name or loop through all validaton errors in modelstate.

[2015-01-20 20:01] yishaigalatzer commented on #1563
We need to revisit the design here. @kichalla please set up a design meeting with @lodejard and friends to get this going

[2015-01-20 20:02] yishaigalatzer commented on #1065
Note that this might impact the mapping media types through file extensions feature (and you want to verify it doesn't break any scenarios and add test coverage for that feature as well).

[2015-01-20 20:02] yishaigalatzer commented on #1065
CC @kulmugdha @rynowak

[2015-01-20 20:15] avanderhoorn commented on #1563
If you need any input feel free to let me know.

[2015-01-20 20:18] rynowak commented on #1694
I believe we got similar feedback re api-description from @domaindrivendev. The parameter names in user code often aren't relevant.

[2015-01-20 21:21] kirthik opened #1855 "Add functional tests for ModelMetadataType attribute"

[2015-01-20 21:22] kirthik opened #1856 "Refactor anti-forgery code"
Antiforgery code needs to be refactored.As part of this we should use better variable and method names and make it more readable.

[2015-01-20 23:06] barrytang commented on #1491
Opened a VS bug to track.

[2015-01-21 00:19] NTaylorMullen opened #1857 "Adding semicolon after @inject statement results in IIS crashing and failed codegen."
**Repro:**
1. Create a View.
1. Add `@inject IUrlHelper foo`
1. Start app in debug mode (f5)
1. Add semicolon to end of `@inject IUrlHelper foo` => `@inject IUrlHelper foo;`, hit save.

**Result:** IIS terminates.

**Expected Result:** compilation error or ignore ';'.

**Note: ** You can also see the impact of adding a semicolon to the end of the `@inject` when in the editor by the tons of error m

[2015-01-21 01:00] GrabYourPitchforks opened #1858 "Remove FormValueCollection"
It was introduced in MVC 1 as a hack to allow overloading action methods based on HTTP verb.  It is no longer required or recommended since there are better ways of accomplishing this with the new framework APIs.

[2015-01-21 01:22] #1841 closed

[2015-01-21 01:26] dougbu commented on #1232
If we provide `IHtmlHelper.AttributeEncode()` methods (big if), we should do them in a compat shim.  There is no reason for methods that should do exactly what the existing `IHtmlHelper.Encode()` methods do except back-compatibility.

See #81 for a bit more discussion of these methods.

[2015-01-21 01:26] dougbu commented on #81
Duplicate of #1232 given where these methods should live (if they live).

[2015-01-21 01:26] #81 closed

[2015-01-21 04:41] Boglen opened #1860 "Application shutdown unexpectedly without errors."
In my application i'm using dropzone js plugin for file async upload.
View contains this code:

        &lt;form action="~/Storage/UploadFile" method="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="mydropzone"&rt;
            &lt;div class="dz-default dz-message"&rt;
                &lt;span&rt;
                    &lt;span class="text-center"&rt;
                        &lt

[2015-01-21 04:49] davidfowl commented on #1860
Looks like it might be a bug with tooling aggressively killing the process on any file change /cc @mayurid @BillHiebert @PradeepKadubandi

[2015-01-21 06:42] Boglen commented on #1860
It happens after i call IFormFile.SaveAs(string).

I'm try to modify Upload file to use IFormFile.SaveAsAsync
...
'klr.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'tm1msgyg.sbt'. Cannot find or open the PDB file.
'klr.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'xe0fqc5u.fkq'. Cannot find or open the PDB file.
'klr.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'avqdm0ct.eoj'. Cannot find or open

[2015-01-21 06:47] davidfowl commented on #1860
That doesn't matter. It looks like an IDE issue.

[2015-01-21 08:54] Tragetaschen commented on #1860
This is really annoying.

I've got a preprocess compile module that builds a large amount of code and I serialize this code into a *.cs for easier (visual) debugging. This file is in `.gitignore` and in project.json's `exclude`.
The net effekt now is, that I can do exactly one (1) request during debugging before the debugging just stops due to this file changing. Not even the static content files

[2015-01-21 08:58] Boglen commented on #1860
I launch my app without IDE and all work as expected.

[2015-01-21 18:55] tonysneed commented on #1744
I've pulled the latest and am working on exposing DCS settings from XmlDataContractSerializerInputFormatter and XmlDataContractSerializerOutputFormatter.

[2015-01-22 00:22] kirthik opened #1863 "TryValidateModel does not validate sub-properties of complex properties on a model"
Just to be clear - this scenario did not work on MVC5 and it seems like it was by design based on Brad Wilson's comment in [this blog](http://bradwilson.typepad.com/blog/2010/01/input-validation-vs-model-validation-in-aspnet-mvc.html)
" We also added two new methods to Controller (ValidateModel and TryValidateModel) which run model-level validation, one level deep (i.e., the properties of the mode

[2015-01-22 00:32] NTaylorMullen opened #1864 "Come up with a common way to define directives and merge all existing directives to the new codepath"
Specifically Transition @inject parsing code to not trim string output.

Right now our `@inject` parsing code essentially reads to the end of the line and then trims the resulting string content. We should instead do what `@using` does and utilize the `TokenizeBackedParser` methods to parse out our expected inject parameters.

Doing this approach will enable us to correctly throw errors for invali

[2015-01-22 00:33] yishaigalatzer commented on #1858
There is no `FormValueCollection` type in MVC6 that I can find. Please reopen (if relevant with more specific pointers)

[2015-01-22 00:33] #1858 closed

[2015-01-22 00:38] yishaigalatzer commented on #1863
@GrabYourPitchforks say something if you think we should fix this.

[2015-01-22 00:48] yishaigalatzer commented on #1860
Boglen, so seems there is not much for MVC to do here.

Note that we pushed a change to fix the binding issue you are seeing (assuming you are using the latest nightly build)

Fix issue commit:
https://github.com/aspnet/Mvc/commit/67b078862ee36a846af1b81088e3f2f73f5de3e2

Original commit:
https://github.com/aspnet/Mvc/commit/437eb93bdec0d9238d672711ebd7bd3097b6537d

Please open a separate issue if

[2015-01-22 00:48] #1860 closed

[2015-01-22 00:49] yishaigalatzer commented on #1856
@kirthik we discussed a set of other changes we wanted (which escapes my mind at the moment) please provide more details on the bug, or else its not very actionable.

[2015-01-22 00:52] yishaigalatzer commented on #1850
Throw when `*` is provided.

[2015-01-22 07:09] dougbu opened #1865 "A POCO parameter with an exact name match in a value provider fails to model bind"
when POCO model contains a property with the same name as the parameter e.g.
[code]
then `model` will not be initialized -- all properties have default values.  rename the `Model` property or `model` parameter and everything works as expected.

because the problem relates to model binders falling back to the empty prefix, can workaround it: send field names prefixed with the parameter name e.g.
[c

[2015-01-22 16:23] pranavkm opened #1867 "CacheTagHelper should flow EntryLink to inner content"
The current design of CacheTagHelper disallows adding custom expiration triggers to the cached entry. We can support by flowing an `EntryLink` instance using the ambient `EntryLinkHelpers.ContentLink`.

[2015-01-22 18:12] MattGal opened #1869 "MvcSample.Web fails with vague message about determining runtime version."
I wanted to play with the MVC samples, so I cloned the repository and started up the main sample project (MvcSample.Web).  From being familiar with KVM and how to inspect the project system, I though I could figure out how to work around this quickly, but thus far I have tried specifying several different installed KREs and still haven't gotten the message to go away.

Instead of running or gettin

[2015-01-22 19:48] mbeckenbach commented on #1869
I'm having the same issue after updating to VS CTP5.
I also did a kvm upgrade to 1.0.0-beta3-10921.

File->New Project->Launch

Same for Empty project and starter template.

I have a existing project using  the 1.0.0-rc1-10870 CLR.
Now i can't even build this one as i get a bunch of errors in startup.cs. I get the same errors as when doing file->new project with the starter web.

Show Details	Seve

[2015-01-22 22:05] pranavkm opened #1873 "Add a property to the CacheTagHelper that allows users to declaratively specify expiration triggers"
https://github.com/aspnet/Mvc/issues/1867 allows users to specify expiration triggers programatically using `EntryLinkHelpers.ContentLink`. However this code is a bit obtuse and we can make the experience slightly better for scenarios where users can provide an expiration trigger up front.

[code]

[code]

We need to determine what the name of property is and what it's signature looks like.

[2015-01-22 22:07] pranavkm commented on #1873
cc @DamianEdwards \ @yishaigalatzer. I'll set up a design PR for this for next week.

[2015-01-22 22:12] NTaylorMullen commented on #1857
14bd7dcd5ea57badcf37f02e2e5c035103b55d79
baa70d284d5fdf4e63d2208d05f16cad779a26d5

[2015-01-22 22:12] #1857 closed

[2015-01-23 00:09] halter73 opened #1874 "Use the shared AuthorizeAttribute once it is created"
https://github.com/aspnet/Security/issues/127

[2015-01-23 00:53] pranavkm commented on #1867
Fixed in 6c21b40894ef93d8f97072991426a42ed324c074

[2015-01-23 00:53] #1867 closed

[2015-01-23 01:18] #886 closed

[2015-01-23 01:18] rynowak commented on #886
09928a28182e2438686772569cff8c2add1ea5b6

[2015-01-23 01:19] rynowak commented on #384
e1069dbf65182e5f13ba6ee863711b61521a2b81

[2015-01-23 01:19] #384 closed

[2015-01-23 01:27] NTaylorMullen opened #1875 "@inject directive loses coloring and allows invalid C# characters in editor."
The partial parsing logic for the `@inject` directive results in loss of coloring and unnecessary errors when adding bad C# characters to the end of the directive.

**Reproduction loss of coloring:**
1. Type `@inject System.String str`
2. Do not hit any extra keys, do nothing.

**Result:** System.String unhighlights, everything goes black.
**Expected Result:** Coloring persists.

**Reproduction ba

[2015-01-23 01:39] kichalla commented on #1792
Commit: 5c2dc5db11b63fd7b031aa265e8d51c10f2676f9

[2015-01-23 01:39] #1792 closed

[2015-01-23 18:41] yishaigalatzer opened #1877 "Centralized attribute routes"
Some users have asked about still maintaining all the routes in a centralized location for a webapi style project.

We explicitly decided not to support conventional routing in this scenario, but with the ApplicationModel its relatively straightforward to write some extension method on top of routes that will allow making an attribute route apply to a controller or an action.

_This is just a stra

[2015-01-23 19:13] kichalla opened #1878 "Investigate Xml formatters tests failures on Windows 2008 R2 OS"
![image](https://cloud.githubusercontent.com/assets/6559784/5880879/c3148998-a2f0-11e4-94cc-eaa0a3a76d0f.png)

[2015-01-23 19:14] kichalla commented on #1878
@victorhurdugaci

[2015-01-23 19:18] rynowak commented on #1878
Those two FiltersTests seem unlikely to be related to Xml Formatting

[2015-01-23 19:20] kichalla commented on #1878
Actually those tests also are failing due to xml formatter issues since in the result filter the test is explicitly using xml serializer output formatter..

[2015-01-23 19:30] pranavkm opened #1879 "Modify BuilderExtensions.UseMvc to not add any routes by default"
We register two routes by default as part of UseMvc. We need to remove these and instead encourage people to use attribute routing for their applications.

[2015-01-23 19:33] victorhurdugaci commented on #1878
Just for reference, the failures are:

[code]

[2015-01-23 19:34] yishaigalatzer commented on #1809
When fixing this ignore the status code on the response, but respect the status code from ObjectResult. The NoContentFormatter should still act and short circuit so no json/XML with null is written

[2015-01-23 19:47] NTaylorMullen commented on #1553
759fbbd661fe4f8d51203fd8b521e72f3f63e96d

[2015-01-23 19:47] #1553 closed

[2015-01-23 20:19] yishaigalatzer commented on #1869
Lets please separate the issues. @MattGal providing better error messages for startup scenarios doesn't really belong in the MVC repo. Please open an issue on Home or Kruntime.

@mbeckenbach I think you have an incompatible KVM since the VS project templates point to Beta2. Feel free to go on Jabbr or SO for such support questions, this just doesn't seem like an actual bug we need to fix.

[2015-01-23 20:19] #1869 closed

[2015-01-23 20:33] yishaigalatzer commented on #1689
@DamianEdwards do you want come up with the list of options we want to support per tag helper, or should we just assign this to an Engineer that will gather the requirements?

[2015-01-23 20:52] pranavkm commented on #1879
Another motivation for this change is to avoid having to do the equivalent of https://github.com/aspnet/Templates/pull/8/files#r23467073 - i.e. add a call to `app.UseMvc(() => {});`.

[2015-01-23 21:03] NTaylorMullen commented on #1864
Found out that all existing directives with the exception of `@section` and `@using` perform parsing invalidly for extra/invalid characters, this has been around for ages so the urgency of the issue is definitely less. This will be post-rtm.

/cc @DamianEdwards

[2015-01-23 21:18] yishaigalatzer commented on #1669
We should also rename the `ConfigureMvc` method in `MvcOptionsSetup` to avoid name collission/confusion.

https://github.com/aspnet/Mvc/blob/9ac37fbc7a0be1138d69493a9a3d50a0a5e04826/src/Microsoft.AspNet.Mvc/MvcOptionsSetup.cs#L24

[2015-01-23 21:23] yishaigalatzer commented on #1875
@DamianEdwards we took a second look, and it seems that other than `@using` no other directive really allows for a trailing `;`

So I'm suggesting we deal with this post RTM, it's nice cleanup, but not something we ever supported. The issue with a lot of errors is an actual Roslyn bug that will get cleaned up at some point.

[2015-01-23 22:58] NTaylorMullen commented on #1875
@yishaigalatzer moved this one too: https://github.com/aspnet/Mvc/issues/1864

[2015-01-24 01:27] #1879 closed

[2015-01-24 03:41] atrauzzi commented on #1274
Just researching support for POCO controllers.  Will this enhancement mean I wouldn't have to use the suffix "Controller" on my controllers?

[2015-01-24 06:39] yishaigalatzer commented on #1274
This could absolutely mean that, but of course you will have to do something to let us know your class is a controller. See the list above for details, but some short examples.

1. Assuming you want to build your own base type that doesn't derive from controller

[code]

2. Assuming you want a class that doesn't derive from controller but has a different naming convention

[code]

You can of cours

[2015-01-24 09:37] atrauzzi commented on #1274
I'm interested in the technical reasoning for requiring the controller to be tagged somehow for the runtime.  Mainly because I suspect there might be a much more deliberate way to go about this (or have both options if some prefer convention).

What would be nice if the POCO controller doesn't even require annotations.  I'm coming from a PHP background, specifically Laravel.  In that system, they

[2015-01-24 09:50] davidfowl commented on #1274
Technical reason? Because sometimes discovery is nice. When you don't want discovery and want to be explicit about everything, you can be but discovery makes the getting started much simpler.

[2015-01-24 10:20] tonysneed commented on #1848
After pulling in the latest upstream (v1.0.0-beta4-10246), I ran kvminstall.ps1 and kvm upgrade.  However, the KRE is still on 1.0.0-beta3-10921.

Then I cleared by .kpm\packages folder, and ran kpm restore for the Mvc global.json.  But when I tried to build the Mvc.sln, I received 99 build errors -- all of them stating:

ASP.NET 5.0 error CS1061: 'IRouteBuilder' does not contain a definition for

[2015-01-24 10:31] atrauzzi commented on #1274
So that's saying it's required out of wanting to offer the convenience.  I was asking if there was a _technical_ limitation mandating that the tagging had to happen.  But judging by your answer, there isn't - which is good!

Right now writing routes in ASP.NET MVC 5/6 isn't the prettiest.

This more explicit scenario allows for a much cleaner routing config.  I can express 90% of routes, whether c

[2015-01-24 11:19] davidfowl commented on #1274
I'm guessing that the majority would prefer to write it that way. The rest that don't can use whatever mechanism this bug gets resolved with.

[2015-01-24 12:04] tonysneed commented on #1848
I figured out how to install the 1.0.0-beta4-10946 runtime by installing dotnetsdk and calling upgrade.  But the Mvc project build still fails with the same errors.

[2015-01-24 12:07] atrauzzi commented on #1274
I think you'll find that over time, the opposite is true in terms of preference.  To date, ASP.NET MVC users have only had one option - so you might be right for existing users _today_ - but even that changes when a better option becomes available.

Don't forget the attrition of documentation too.  If your only documented method is one way, the community takes it as prescriptive and will not quest

[2015-01-24 12:40] davidfowl commented on #1274
Thanks for the lesson. I think only a few of these apply since we have to look past route definitions and discovery and do what is idiomatic given that c# is the language.

If we did inline routes (and we'll probably have a low level way of doing that directly in routing as isn't mvc specific at all) that would be cool for simple stuff.

Now the mvc pipeline includes, action selection, model bindi

[2015-01-24 12:48] tonysneed commented on #1848
It looks like a change to the namespace for the MapRoute extension is what broke the Mvc build:
https://github.com/aspnet/Routing/commit/29a5cb8aa9bfda4883545f6f1b7c00e52d9b4b55.

[2015-01-24 16:13] atrauzzi commented on #1274
Nice as it may seem, that approach sounds like it could get pretty out of hand (see my notes on nancy below).  Routing is something you want to try and keep as simple as possible, and encourage people to move on.
Fortunately, it seems like MVCs routing system is already prepared for my suggestions - just change the touchpoints to have signatures that don't force people to write a lot of ugly boile

[2015-01-24 17:12] yishaigalatzer commented on #1274
So in MVC6 we don't recommend going with the pattern of defining routes with default objects, this was a very cumbersome syntax. When it comes to "documentation", the new templates are going to show the new pattern right from the get go.

So you would just: `routes.AddRoute("{controller=Home}/{action=Index}/{id?}"`. Of course when it comes to routes that don't mention the actual controller name th

[2015-01-24 17:56] atrauzzi commented on #1274
Yeah - the syntax for options is not nice at all.  But that doesn't mean specifying controllers explicitly is a bad practice.  It means MVC misjudged the importance of getting this right.

Catch-all mappings like `routes.AddRoute("{controller=Home}/{action=Index}/{id?}")` -- are a bit of an antiquated practice nowadays.  You'll even see that some frameworks are eliminating this convention all toge

[2015-01-24 22:11] ThoughtHaven opened #1884 "Async IModelValidator"
The Validate method on Microsoft.AspNet.Mvc.ModelBinding.IModelValidator should be ValidateAsync. Sure, validating DataAnnotations, etc. are sync. However, some validation is not.

One simple example is checking the availability of a UserName during user registration. This usually involves some query of a data store, which is clearly async work. But since the interface does not allow for this, thi

[2015-01-25 16:26] pranavkm opened #1885 "Consider adding a UseMvcWithDefaultRoute extension on BuilderExtensions that adds default routes to the route collection"
Based on the discussion here - https://github.com/aspnet/Mvc/pull/1880/files#r23486914.

This would be a convenience method that is essentially what `UseMvc` did prior to it being removed as part of https://github.com/aspnet/Mvc/pull/1880

[2015-01-25 16:26] pranavkm commented on #1885
cc @Eilon @dougbu @yishaigalatzer

[2015-01-26 04:20] Eilon commented on #1885
I'd like to state that it is critical that trivial apps not require a bunch of setup code.

Attribute routing solves this to a good degree. For conventional routing users it's now a bit of a hassle.

If we think attribute routing is the recommended approach for the "getting started" scenario, then I'd concede that the importance of this feature is lower. (And, it can be added at any time.)

[2015-01-26 06:44] yishaigalatzer commented on #1885
The work involved in building this feature is negligible. Just need a good name.

-----Original Message-----
From: "Eilon Lipton" <notifications@github.com>
Sent: ‎1/‎25/‎2015 8:20 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] Consider adding a UseMvcWithDefaultRoute extension onBuilderExtensions that adds default routes to the ro

[2015-01-26 15:04] tonysneed commented on #1848
It turns out kpm restore was not pulling down the version of AspNet/Routing with the namespace change in it.  However, I tried clearing and restoring packages today, and I've got version 1.0.0-beta4-10996 with the change, and everything compiles just fine now. :smile:

[2015-01-26 15:04] #1848 closed

[2015-01-26 17:26] Eilon commented on #1885
Some ideas:

1. `.UseMvcWithDefaultRoute()`
2. `.UseMvcConvention()` / `.UseMvcConventions()`
3. `.UseMvcWithConvention()` / `.UseMvcWithConventions()`
4. `.UseMvcAuto()`
5. `.UseMvcDefault()` / `.UseMvcDefaults()`

[2015-01-26 17:38] yishaigalatzer commented on #1508
Looks related to the `WrapperFactory`

[2015-01-26 17:49] pranavkm commented on #1885
We use the term `Conventions` for other things in Mvc - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ApplicationModels/ApplicationModelConventions.cs. Might result in confusiing term overload.

[2015-01-26 18:21] pranavkm commented on #1808
@nfplee, you might want to file a work item for your requirement at - https://github.com/aspnet/Caching. That said

1) This API doesn't exist so any prefix requirement is predicated on the feature existing to start with.
2) The sample added as part of https://github.com/aspnet/Mvc/commit/6c21b40894ef93d8f97072991426a42ed324c074 demonstrates the usage of triggers to expire cached content. This API

[2015-01-26 18:50] yishaigalatzer commented on #1808
We are tracking a potential improvement to make it easier to write this type of trigger #1873

[2015-01-26 18:50] #1808 closed

[2015-01-26 18:51] dougbu opened #1888 "Provide predictable ordering of validation summary messages and `@Html.Display()` / `@Html.Editor()` properties"
to ensure a predictable order using MVC once #964 is fixed, users must annotate all model properties with `[Display(Order=x)]`.  this may be too high a bar but unfortunately `type.GetRuntimeProperties()` and related Reflection methods do not guarantee a predictable or even a stable ordering.

recent decision was to split this issue from #964 and to determine what guarantees exist for the `type.Get

[2015-01-26 18:52] yishaigalatzer commented on #1708
We discussed the precompilation scenario, and we don't think that for items in the precompilation stage we actually need to hook up a filewatcher. It is probably enough to just do the copying. We should never hit the disk (in the precompilation scenario) until we actually try to serve the view

[2015-01-26 18:56] yishaigalatzer commented on #1016
The reason we want to make this happen earlier, is that it shows up in tooling as it might happen on every keystroke

[2015-01-26 21:04] yishaigalatzer opened #1889 "Fix docs for URL helper to indicate what actually IsLocal means"
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/IUrlHelper.cs#L36-L39

We should indicate that IsLocal means within the App.

Also change `true` and `false` to the right XML linking format `<see`

[2015-01-26 21:33] #567 closed

[2015-01-26 21:43] yishaigalatzer commented on #1525
Create a constructor that take also ModelState on top of https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ActionContext.cs#L24-L26

[2015-01-26 21:50] yishaigalatzer commented on #1097
Current behavior - we throw

[2015-01-26 21:51] yishaigalatzer commented on #302
Related to #1097

[2015-01-26 21:54] yishaigalatzer commented on #640
Remove the current code, it's not adding a lot of value. When we need to throw specific exception we might create a custom exception type instead. But that will happen very sparingly, e.g. `AmbiguousActionException`

[2015-01-26 22:06] yishaigalatzer commented on #918
Depends on aspnet/HttpAbstractions#177

[2015-01-26 23:35] dougbu opened #1891 "`ModelStateDictionary.CanAddErrors` and `MaxAllowedErrors` do not match their descriptions"
a few inconsistencies in the `ModelStateDictionary` implementation and doc comments:
- `TryAddModelError()` adds up to `MaxAllowedErrors` _total_, including the final `TooManyModelErrorsException` error
- `MaxAllowedErrors` doc comments state you can call `TryAddModelError()` this many times "after which an error is thrown for further invocations".  "after which" is off by one.

- `CanAddErrors` i

[2015-01-27 00:31] yishaigalatzer commented on #1891
We should fix `CanAddErrors` to return false when the next error being added is `TooManyModelErrors`.

Fix doc comment for MaxAllowedErrors (or add a remark).

The others are by design.

[2015-01-27 00:32] yishaigalatzer commented on #1891
Combine it when you fix the other MaxModelErrors issue

[2015-01-27 00:33] yishaigalatzer commented on #1888
Please work with the Roslyn and CLR folks to verify if:

1. Is the order consistent if you use the same compiler and same code.
2. Is the order the definition order if you have a simple POCO.
3. Can the order change at runtime

[2015-01-27 00:52] ajaybhargavb commented on #1494
https://github.com/aspnet/Mvc/commit/8e85d53c888bc4c533652ccaf2ce7081985e1b75

[2015-01-27 00:52] #1494 closed

[2015-01-27 01:30] rynowak commented on #640
02f656667f8231d1be373ef523f078beeefbb23f

[2015-01-27 01:30] #640 closed

[2015-01-27 01:38] ajaybhargavb commented on #1809
https://github.com/aspnet/Mvc/commit/17aa21dc259a1d988faef80a576ed3b2bd4efc1c

[2015-01-27 01:38] #1809 closed

[2015-01-27 11:33] tonysneed commented on #1787
I'm ready to do this one now, and I can submit a PR for it.

[2015-01-27 13:06] tonysneed commented on #1787
It looks like extensions to IEnumerable<OptionDescriptor<TOption>> aren't going to provide the desired result.  For example this method:
[code]
Called by this code:
[code]
Will produce a CS1929 compilation error: The extension method requires a receiver of type `IEnumerable<OptionDescriptor<JsonInputFormatter>>`.

I would like to suggest the following (for both input and output descriptors):
[code

[2015-01-27 19:56] sornaks commented on #1785
Previously in MVC5 we supported `OutputCacheProfiles` in `Web.config` which is a pre-defined set of parameters for `OutputCache`. This provided a way to reuse the settings in multiple controllers/actions and a centralized place manage all Cache profiles. We do not have an equivalent for this in vNext.

<b>It looked like this:</b>
In Web.config:
[code]

Accessed in the Action like this:
[code]

<b>

[2015-01-27 20:01] rynowak commented on #1785
@sornaks rather than accessing the options in `OnActionExecuting` we probably want to make this an `IFilterFactory` that uses a service. This is a design change we made recently for URL format.

[2015-01-27 20:05] dougbu opened #1897 "Include JavaScript execution in our functional tests"
one area requiring end-to-end testing is client-side validation. we currently confirm generated attributes and their values. but there's no confirmation those attributes result in the expected validations.

investigate options such as the following. then, use appropriate framework for our requirements.
- Selenium: http://docs.seleniumhq.org/
- BrowserStack: http://www.browserstack.com/
- TestSwarm

[2015-01-27 21:30] ashmind opened #1898 "Add System.Assembly and delegate classes to default ValidationExcludeFilters in MvcSetup"
I don't have a proper test at the moment, but it seems that if the body model contains a delegate in WebApi2, the traversal goes into the `MethodInfo` and then to `RuntimeAssembly` and so on. It all ends up valid, but makes the validation and so the request extremely slow.

I'll see if I can make a proper test etc for newer WebApi.

[2015-01-27 22:23] pranavkm commented on #1707
Based on discussion with @lodejard \ @yishaigalatzer

1. Move the code that currently exists in the `DefaultControllerActivator` into the `DefaultControllerFactory`.
2. Change the signature of the `IControllerActivator` to have a method `public object Activate(ActionContext context)`. When `WhiteControllersFromDI` is invoked, we'll replace the default `TypeActivatedControllerActivator` with `Servi

[2015-01-27 22:40] yishaigalatzer commented on #1744
Assigned to @kichalla so he can merge and close the issue (after we are done with the cleanup PRs as well).  The rest of the work is in #1787

[2015-01-27 22:42] rynowak commented on #1525
08a578d01f46c918af91c765877af8d78ca45a19

[2015-01-27 22:42] #1525 closed

[2015-01-27 23:33] yishaigalatzer commented on #1787
You can alternatively define the `IOptionsDescriptor<T>` interface and use `InstanceOf<T>(IEnumerable<object>)`

e.g.

[code]

and

[code]

and

[code]

and finally

[code]

[2015-01-28 00:11] kirthik commented on #1855
checked in - cbed666cba82b8a0984c8e047e0eb4f7b286894f

[2015-01-28 00:11] #1855 closed

[2015-01-28 00:45] kirthik commented on #1837
checked in - f1c62ef30234c1ffe767abbd11e3c830402aea76

[2015-01-28 01:23] pranavkm commented on #1130
Based on the design discussion, the plan is to remove support for `@helper` until we have a better design for using and sharing them.

[2015-01-28 01:23] #1130 closed

[2015-01-28 01:33] yishaigalatzer opened #1902 "Model binding to Controller Properties"
@harshgMSFT please update this comment with the suggested design.

Including how we deal with [FromBody] appearing twice, is there a TryUpdateModel for the controller? What we do about validation?

### Initial thoughts:

#### Representation :
Controller properties are treated as additional action parameters which are common for all actions.
This gives us a single place where we can bind all contro

[2015-01-28 12:36] unaizorrilla opened #1904 "build issues - Predefined type 'System.Object'"
With last vs 2015 build 14.0.225.12.0 DP and a new MVC project clone, the build throw errors like

Show Details	Severity	Code	Description	Project	File	Line
	Error	CS0518	Predefined type 'System.Object' is not defined or imported	Microsoft.AspNet.Mvc.Core.ASP.NET 5.0	StringCollectionTextWriter.cs	86

Any idea?

[2015-01-28 14:18] tonysneed commented on #1787
Perfect ... this will work for `InstanceOf`, `InstanceOfOrDefault ` and `InstancesOf`.  However, `RemoveTypesOf ` becomes a bit problematic, because IList is not covariant.  For example, this method:
[code]
Will result in a compilation error when called by this method:
[code]
Because it can't convert from `InputFormatterDescriptor` to `IOptionDescriptor<object>`.

Instead, `RemoveTypesOf` will nee

[2015-01-28 14:25] Samvrie opened #1905 "Intellisense doesn't find the package"
Hi,

I've just made a Fresh Install of Windows 10 9926 and Visual Studio 2015 CTP 5.
I tried a new ASP 5 Application at the beginning everything is working fine, but when I closed VS then Intellisence doesn't find my package anymore when I'm coding, what is weird is that my application is still compiling and I can launch it.
I didn't do anything with KVM so i'm still using the `1.0.0-beta2 CLR x86

[2015-01-28 20:04] #810 closed

[2015-01-28 22:11] yishaigalatzer commented on #1905
When you are testing the beta build you should not use MVC with `-*` use specifically "Microsoft.AspNet.Mvc": "6.0.0-beta2"`

[2015-01-28 22:17] yishaigalatzer commented on #1904
If you are using the dev branch, you need to be updated with the latest KVM etc. (Note that in the last couple of days we have been renaming folders and commands, and I would suggest to wait a couple of days until the dust settles on that before going back to working on the dev branch.

In any case this is not an MVC issue, if you want further support working on the dev branch which is the current

[2015-01-28 22:17] #1904 closed

[2015-01-28 22:26] yishaigalatzer commented on #1898
Why would you have a delegate in your model? or an Assembly? Should this really belong on a DTO?

Fortunately with MVC 6 you can add anything you want us to skip, we don't plan to add additional types that are not commonly used, because that list is pretty much infinite. You have now the capability to add whatever you chose to exclude.

[2015-01-28 22:26] #1898 closed

[2015-01-28 22:48] yishaigalatzer commented on #1884
We don't think this is a common scenario enough to worry about. We have discussed this in detail and decided it is not useful enough to make the validation pipeline async considering that making one thing async is a viral change all the way up the stack from it.

For the scenario described above:
When you validate a user in views you use a remote attribute.
You can validate the business decision i

[2015-01-28 22:48] #1884 closed

[2015-01-28 22:49] yishaigalatzer commented on #1874
https://github.com/aspnet/Mvc/pull/1900

[2015-01-28 23:32] HaoK commented on #432
Reopening since this part of the design is once again in flux

[2015-01-29 00:02] ThoughtHaven commented on #1884
I  understand this decision and knew you would have talked about this. Unfortunately for me though, my company's core validation cannot be ported over the use Mvc's model binding now. For good reason, our model validation implementation is async all the way up our stack. And we can't provably call our async code in Mvc's sync interfaces without deadlock issues (or always enforce ConfigureAsync(fal

[2015-01-29 00:44] yishaigalatzer commented on #1884
The good news is that filters are async so you can do the work in global action filter and not throw

-----Original Message-----
From: "Brendan Ridenour" <notifications@github.com>
Sent: ‎1/‎28/‎2015 4:02 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] Async IModelValidator (#1884)

I understand this decision and knew you would have

[2015-01-29 01:09] ashmind commented on #1898
@yishaigalatzer

My model is the following:
[code]

Since I plan to release it (and related Json contract resolver) as a NuGet package at some point, this might cause a problem for people unless I don't resolve it somehow.

Yes, but the delegate is common type, and the current logic causes immense slowdown instead of outright failure. Developers might miss that slowdown when developing. I think it

[2015-01-29 01:16] rynowak commented on #1538
42df4cf2eddd92221104c55fe6bc48a42e2b3030

[2015-01-29 01:16] #1538 closed

[2015-01-29 01:16] rynowak commented on #1891
42df4cf2eddd92221104c55fe6bc48a42e2b3030

[2015-01-29 01:16] #1891 closed

[2015-01-29 01:39] rynowak opened #1910 "Review use of Order"
Generated through discussion:

We should review the the use of `Order` properties where they appear in the framework for consistency.

Examples:
- Attribute Routing
- Nested Providers
  - Action Descriptor Provider
  - API Description Provider
  - Action Invoker Provider
  - Filter Provider
  - Action Constraint Provider
- Filters
- Options
- Action Constraints

[2015-01-29 01:40] rynowak opened #1911 "Consider making ApiExplorer a separate package"
Had an earlier discussion about making API explorer a separate package. This might allow us to version is separately, and would separate out something which is an optional component.

[2015-01-29 01:49] rynowak opened #1913 "Consider changing Attribute Route behavior with areas + ambient values"
Right now, link generation for attribute routes when using areas behaves very similarly to conventional routing. Much like conventional routing, when you have duplicate action and controller names you must either:

1). Be explicit about route when generating links (always specify the area token)
2). Use order to configure the desired precedence.

Example follows...

**The question is.. do we want

[2015-01-29 01:51] rynowak commented on #1913
/cc @dougbu - this is what you reported to me. We're as-good-as conventional routing right now, but could potentially be better.

[2015-01-29 02:00] KKhurin commented on #658
Nope. I don't see any obvious drop in the throughput with increased number of loaded assemblies.

I do see the old assemblies and delegates still being referenced but I didn't reach the memory pressure high enough to cause any noticeable effect on performance.

[2015-01-29 02:00] #658 closed

[2015-01-29 02:23] yishaigalatzer commented on #1898
couple of comments: you can have a registration code for your package that adds them to options.

We are planning to add patch support before rtm-ing

-----Original Message-----
From: "Andrey Shchekin" <notifications@github.com>
Sent: ‎1/‎28/‎2015 5:09 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] Add System.Assembly and delegate

[2015-01-29 04:41] yishaigalatzer commented on #1910
Please provide more details here. Not sure this is actionable.

[2015-01-29 04:42] yishaigalatzer commented on #1905
The right place for these reports in connect, this is not an MVC issue for sure. @mayurid do you have more info on this?

[2015-01-29 04:49] yishaigalatzer opened #1915 "Remove AddMvc overload with default parameter"
We should avoid using default parameters in public APIs because they tend to block future changes by making for example adding an overload a breaking change.

CC // @Eilon This probably pops up in other repos

[2015-01-29 05:06] yishaigalatzer opened #1916 "Consider a `ValidateNeverAttribute` similar to `BindNeverAttribute`"
Although from the looks of it (need to verify) `BindNeverAttribute` skips validation for a node, it is not clear that it should be used this way for objects bound from formatters.

Should we come up with an attribute with a proper name that forces skipping validation for a sub-tree?

An example here is #1898

[2015-01-29 05:07] yishaigalatzer commented on #1916
@rynowak lets discuss tomorrow and assign

[2015-01-29 05:18] dougbu commented on #1913
my experience of this bug was frustrating -- took a while to eliminate my code as the problem, then didn't grok the `[Route(... Order= {not 0}]` workaround 'til I went to the font of all routing knowledge (@rynowak).

note we're not quite as good as conventional routing because the problem is less easily seen with attribute routing.  conventional routes are usually defined in one or a few places;

[2015-01-29 05:28] dougbu commented on #1913
separately could calculate how many `Values` matches (2 points, say) and `AmbientValues` (1 point) occur before an `AttributeRouteLinkGenerationEntry` is added to the matches.  then the `AttributeRouteLinkGenerationEntryComparer` could use that `WeightedSatisfiedConstraints` value together (somehow) with the existing `Order` and `Precedence` values.

alternatively could ignore the `Values` / `Ambi

[2015-01-29 06:59] Samvrie commented on #1905
I got it working again with unloading and loading the project and changing to beta2.
It seems that I've the problem with the package xunit.runner.aspnet so I will move to the appropriate Repo ;)
Thanks for the help!

[2015-01-29 09:41] ashmind commented on #1898
That sounds interesting, where can I participate?

That sounds great. One other thing that might be worth considering is a configurable limit on validation time or count of objects visited, so if something weird happens developers might get an error instead of a random slowdown.

[2015-01-29 14:04] ianhong commented on #1889
70efc5ae0a94323fbbd9623f5842f9ae1bb530f4

[2015-01-29 14:04] #1889 closed

[2015-01-29 15:11] #1744 closed

[2015-01-29 15:50] yishaigalatzer commented on #1898
We added a limitation on number of errors produced in

Start by commenting and suggesting designs as well as following #650

[2015-01-29 15:52] yishaigalatzer commented on #1566
We should also log around validation

[2015-01-29 16:02] yishaigalatzer opened #1919 "RenderBody must be called from a Layout Page" provides no file information"
Repro:
Create new K Web project, comment out RenderBody() call in _Layout.cshtml:
Error message "InvalidOperationException: RenderBody must be called from a layout page."
Imagine a very large project with multiple layouts, perhaps very large files with lots of lines. Determining which one failed to call RenderBody() can be annoying. This error should list the file for which it's throwing the excep

[2015-01-29 16:06] yishaigalatzer commented on #1905
You welcome

[2015-01-29 16:06] #1905 closed

[2015-01-29 17:34] dougbu commented on #964
fixed in commit 8779cafbab39e9a57666a81e4eb25ebd70de7ae4

[2015-01-29 17:34] #964 closed

[2015-01-29 17:40] yishaigalatzer opened #1920 "Use status code integers instead of the actual number"
Use the StatusCodes from here - https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.WebUtilities/StatusCodes.cs

[2015-01-29 18:31] danroth27 commented on #1478
We decided that we don't want to impose any ambiguity on whether the string is referring to an assembly or a type.

[2015-01-29 18:31] #1478 closed

[2015-01-29 18:35] yishaigalatzer opened #1922 "Empty AddTagHelpers should add all tag helpers available"
`@addTagHelper` without any parameters should scan for all available tag helpers in the reference assemblies and include them in the view

[2015-01-29 18:37] DamianEdwards commented on #1365
This is a nice idea but I think it needs more thought as I'm not sure `class` is the only attribute that has that merge semantic, and what does it do for other attributes where the values differ?

[2015-01-29 18:48] NTaylorMullen commented on #1365
Hmm, I'd prefer the do-not override approach for other attributes.

[2015-01-29 20:27] NTaylorMullen commented on #1922
Moving this to Razor.

[2015-01-29 20:27] #1922 closed

[2015-01-29 21:01] yishaigalatzer commented on #1837
We need to revert this change. This was an intended security guarantee. Instead we need to provide a non-generic version that takes the type as input in a non-generic way

[2015-01-29 21:11] pavelm opened #1923 "Using optional query parameters in F# Web Api project"
Not sure if this is the right repo to post to...

I was converting a C# webapi project to F# using the F# ASP.NET templates. Everything is working great except optional query parameters. I keep getting this error

[code]

F# function signature:
[code]

C# function signature:
[code]

I tracked the issue down to the way ASP.NET extracts default values for controller actions using ParameterInfo. Appa

[2015-01-29 21:28] rynowak commented on #1923
Hi @pavelm - thanks for the issue report, this is the right place for it.

I'm not super familiar with f#, but it looks like you're asking us to honor https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.defaultparametervalueattribute%28v=vs.100%29.ASPX . Is that the case or is this an f# specific attribute?

Your description is otherwise spot on, we're currently just looking at

[2015-01-29 21:33] rynowak commented on #1923
/cc @yishaigalatzer - We also should consider adding default value to ParameterDescriptor/ParamaterModel so this is easier to make efficient.

[2015-01-29 21:43] yishaigalatzer commented on #1923
This report is related to Web API 2.x, where this is actually the wrong repo. We can consider this for MVC 6 as well like @rynowak says.

You can file a bug on aspnetwebstack.codeplex.com for Web API 2

[2015-01-29 21:45] yishaigalatzer commented on #1923
@pavelm it is probably a good idea to file a bug for the F# compile to be more uniform with the other .NET compilers

[2015-01-29 21:59] pavelm commented on #1923
@rynowak Yea it would be nice to honor the **DefaultParameterValue** attribute for languages that don't support optional arguments, but I'm not sure it would be necessary. Another alternative that I realized I can use is to include a value converted to native F# option types. They are of type `FSharpOption<T>`... so an int parameter that represents a present value would be `Some(1)` representing n

[2015-01-29 22:16] dougbu commented on #1837
for how many of the existing `Controller.TryUpdateModelAsync<TModel>(...)` overloads will we create `TryUpdateModelAsync(Type modelType, ...)` equivalents?  e.g. suspect overloads with `[NotNull] params Expression<Func<object, object>>[] includeExpressions` parameters won't be that helpful.

separately can we remove the `ModelBindingHelper.TryUpdateModelAsync<TModel>()` overload that just defaults

[2015-01-30 00:24] pranavkm commented on #1707
### Additional requirements:
During controller discovery, controller types in the application that are not registered in the service container should not be considered as controllers. The intent is to

1. Use registration as a way to determine which controllers are available for an instance of the Mvc application.
2. Ensure that accessing controller that are not registered result in 404 and not a

[2015-01-30 01:17] maxtoroq commented on #1837
@yishaigalatzer Would you mind explaining the security concerns?

[2015-01-30 02:13] ashmind commented on #650
@yishaigalatzer which `Delta<T>`?

I've just googled and read http://www.strathweb.com/2013/01/easy-asp-net-web-api-resource-updates-with-delta/. It seems I did a very similar thing independently. However I think I used a different approach (haven't looked at OData code in detail yet).

For JSON.NET, I mostly delegate JsonContract of `Patch<T>` to JsonContract of `T` so that logic is similar to de

[2015-01-30 02:50] yishaigalatzer commented on #1837
In short people using mvc5 have exact opposite expectations (because that's how the code worked) so that would create an overbinding problem. Hence we provide an explicit overload just like mvc5 did.

-----Original Message-----
From: "Max Toro" <notifications@github.com>
Sent: ‎1/‎29/‎2015 5:17 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject:

[2015-01-30 02:51] yishaigalatzer commented on #1837
@doug if you have concerns with existing design file a separate bug. Lets keep the concerns separate

-----Original Message-----
From: "Doug Bunting" <notifications@github.com>
Sent: ‎1/‎29/‎2015 2:16 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] TryUpdateModel: Determine model type at runtime (#1837)

for how many of the existing

[2015-01-30 02:56] yishaigalatzer commented on #650
It's the odata delta but the json.net implementation can be found in aspnet.codeplex.com in the webapi samples.

Nothing is set in stone, we haven't started looking into the new design at all

-----Original Message-----
From: "Andrey Shchekin" <notifications@github.com>
Sent: ‎1/‎29/‎2015 6:13 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: R

[2015-01-30 03:02] dougbu commented on #1837
@yishaigalatzer sure.  I'll file a bug if we end up with a couple of extra methods.

however

was a question about the new way forward for _this_ issue.  and my second paragraph was, in part, a plea not to go too crazy with helper overloads.

[2015-01-30 04:07] maxtoroq commented on #1837
@yishaigalatzer Cannot argue against back compat. There's little value in adding more overloads, which anyone can do. If the default behavior is not changed, what's the point.

There are other parts of the framework that work against the runtime type instead of the declared type, e.g. `Html.EditorForModel()`. My intention was to make these different parts work together without special configuratio

[2015-01-30 15:32] yishaigalatzer commented on #1837
I get your point. This is dealing with unsafe inputs scenarios, so we cannot be liberal with that.

The additional overloads provide an easy escape hatch.

-----Original Message-----
From: "Max Toro" <notifications@github.com>
Sent: ‎1/‎29/‎2015 8:07 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] TryUpdateModel: Determine model typ

[2015-01-30 16:41] markrendle commented on #1736
This is not "marginal", it's literally the first thing I ran into working under Linux and it's *really* annoying. I lost an hour chasing it down.

[2015-01-30 17:56] rynowak commented on #1910
The suggested task here is to review our uses of `Order` when it's used as a property and make sure they all have *consistent definitions* and *accurate and complete docs*.

Ex: Does a route with higher order run first or last?

[2015-01-30 18:11] DamianEdwards opened #1928 "Create an HTML Helper and Tag Helper that enables rendering localized string from ResourceManager"
A `LocTagHelper` and `HtmlHelper.Loc` HTML helper method that allow specification of a localized resource string to use.
### Usage

as element:

[code]

as attribute:

[code]

as HTML helper:

[code]
### Arguments

| Attribute Name | Type | Details |
| --- | --- | --- |
| id | `string` | The ID that uniquely identifies the resource string |
| param-* | `string` | Values to substitute into the reso

[2015-01-30 19:18] yishaigalatzer opened #1929 "FromHeaderAttribute with Name doesn't work on class properties"
When specifying the name property on a `[FromHeader(Name = "User-Agent)]" the binding doesn't occur.

## Repro##

### Application code:###
[code]

### project.json###
[code]

### Url###
`http://localhost:5000/Home/TestBind/asd?QueryValue=4`

### Expected (with Chrome)###
[code]

### Actual (with Chrome)###
[code]

[2015-01-30 20:02] yishaigalatzer opened #1930 "FromHeader should auto translate properties to kebab casing"
Consider the following code

[code]

We should probably generate the lookup to following header `user-agent`.

Similarly `XHttpMethodOverride` should translate to `x-http-method-override`.

[2015-01-30 20:03] yishaigalatzer commented on #1930
CC // @lodejard @Eilon

[2015-01-30 20:41] pranavkm commented on #1416
@kirthik  - https://github.com/aspnet/DependencyInjection/issues/164

[2015-01-30 21:17] dougbu commented on #439
fixed in commits 1af158330252d56e5828687b74506839febdbd33 to 6cc5cfeae205c934189459d4e827a277155dc93f

[2015-01-30 21:17] #439 closed

[2015-01-31 01:30] #1850 closed

[2015-01-31 02:06] #1800 closed

[2015-01-31 02:22] #1121 closed

[2015-01-31 13:48] sandorfr opened #1933 "Web API 401 should not redirect to login page"
When using WebAPI in an MVC site with Identity enabled and an Api action returns a 401, it redirects automatically to the login page (302 then 200). The issue was already present (http://stackoverflow.com/questions/20149750/unauthorised-webapi-call-returning-login-page-rather-than-401) but there was a fix which does not seem to apply to MVC6.

I think this default behavior for webAPI is a design f

[2015-01-31 16:22] Eilon commented on #1930
How would you know what to translate? There's no transformation that can reliably do this. We could consider doing underscore to hyphen translation, as we do for HTML attributes.

[2015-02-01 01:08] yishaigalatzer commented on #1930
This would follow the casing, just like we do in tag helpers

-----Original Message-----
From: "Eilon Lipton" <notifications@github.com>
Sent: ‎1/‎31/‎2015 8:23 AM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] FromHeader should auto translate properties to kebab casing(#1930)

How would you know what to translate? There's no transfor

[2015-02-01 12:02] stanislavromanov commented on #1928
This would generate html that is not semantic? Shouldn't you use `data-*` for custom properties?

[2015-02-02 00:00] Eilon commented on #1930
The transformation in tag helpers doesn't generally work with HTTP header names. It's also a very different scenario: in tag helpers it's transforming one set of arbitrary strings to another; in this case it's attempting to do a specific transformation.

A great example of why this won't work here is this: would the logic translate a property named `ETag` to `E-Tag`? In fact it should leave `ETag`

[2015-02-02 02:24] kulmugdha commented on #1673
514460b8018ff84158196e6421652538297fa10c

[2015-02-02 02:25] #1673 closed

[2015-02-02 02:30] yishaigalatzer commented on #1930
It's actually pretty straight forward for any one of the samples. If you just follow Pascal casing, but I like the idea of the well know header names (case insensitive translation).

Without it you end up with pretty ugly and none standard looking property names.

Specifically to the samples above:
X-HTTP-Method-Override - XHttpMethodOverride
Etag

The rule is quite simple and easy to understand,

[2015-02-02 03:14] ianhong opened #1934 "Update IUrlHeper and ActionContext to support the simple controller unit test scenario"
To follow up ##1870

This includes:

1.	Add UrlActionContext and UrlRouteContext, and change IUrlHelper.Action and  IUrlHelper.RouteUrl to use them
2.	Add the default constructor to ActionContext, and the setter method to HttpContext, RouteData, and ActionDescriptor just like Contorller.ViewData

[2015-02-02 03:18] ianhong opened #1935 "Make MusicStore more unit-testable and add unit tests accordingly"
This is part of #1870

This includes:
3.	Make  MusicStore more unit-testable
  a.	MusicStore controllers’ constructors need to be the default constructor
  b.	Use property injection for UserManager and SignInManager
  c.	Action method should take CancellationToken
4.	Add unit tests to MusicStore repo

[2015-02-02 03:20] Eilon commented on #1930
I believe in those examples the requirement is that developers follow arbitrary rules with uncommon casing to get the desired effect. The property names really should be `ETag` and XHTTPMethodOverride` because those are closest to the HTTP header names, for better or for worse. Add to that any custom headers that of course have no rules whatsoever, and it gets far more confusing. It's not .NET Fra

[2015-02-02 08:10] rynowak commented on #1930
We had also discussed allowing you to plug in our strongly-typed header classes with `[FromHeader]`. That might allow you to express which header you want to bind without having to copy-paste string like `[FromHeader(Name = "ETag")]` - which I think is the intent of this suggestion.

[2015-02-02 17:40] kichalla commented on #1508
Commit: e5176d22f6d2b3efacbed923fae1400903909766 fixes this issue

[2015-02-02 17:40] #1508 closed

[2015-02-02 17:52] yishaigalatzer commented on #1930
@harshgMSFT - Please don't get started on this. And I have a related question: What does `[FromHeader]` with no `Name` specified means? Should we just move it to a constructor because it is currently required?

[2015-02-02 17:56] yishaigalatzer commented on #1933
@HaoK I believe this is tracked in your redo of `AuthorizationFilterAttribute` but I couldn't find the specific bug/design tracking this.

[2015-02-02 17:57] yishaigalatzer commented on #1928
@DamianEdwards lets triage.

[2015-02-02 18:02] harshgMSFT commented on #1930
FromHeader with no name means it will use the property or the parameter name for model binding. It should not be in the constructor as it is not required.

[2015-02-02 18:02] yishaigalatzer commented on #1928
@stanislavromanov what you are seeing is the `cshtml` the `html` will not have any of these attributes or tags, only the localized string.

[2015-02-02 18:03] yishaigalatzer commented on #1923
@pavelm not to familiar with F#, but should this just be a bug report on the F# compiler?

[2015-02-02 18:12] yishaigalatzer commented on #1517
@dougbu lets get a design meeting for this, and see if we can improve

[2015-02-02 18:16] yishaigalatzer commented on #1418
@pranavkm did you do the comparison to MVC5?

[2015-02-02 18:19] yishaigalatzer commented on #1410
I believe @loudej strongly objects to have this kind of behavior because
1. It means model binding has to run before action selection (at least in some cases), webapi got around it by allowing only value providers based data (Url & Query).
2. It leads to user confusion because some parameters can work this way and some cannot.
3. Model binding should not run before authorization happens.

So I rec

[2015-02-02 18:21] #1410 closed

[2015-02-02 18:24] sornaks opened #1938 "Add DefaultBodyModelValidator unit test for case where same object is encountered in multiple paths."
[code]
Test needs to be added for the above code path in `ValidateNonVisitedNodeAndChildren` in `DefaultBodyModelValidator`.

[2015-02-02 18:31] HaoK commented on #1933
You can probably just use this bug to track all 401/403 issues for now https://github.com/aspnet/Security/issues/134

[2015-02-02 18:37] yishaigalatzer commented on #1445
Specifically for item number 2, you need only to support a controller convention for every controller

[code]

and not

[code]

Similarly should we have the same thing for all actions? I think yes. e.g. make all parameters with `[FromHeader]` required

[2015-02-02 18:43] yishaigalatzer commented on #1411
If I really cared I would write this more explicitly like, note that

[code]

[2015-02-02 18:43] #1411 closed

[2015-02-02 18:44] arishlabroo opened #1939 "Should AuthorizationFilterAttribute return 403 (Forbidden) if request is authenticated but not in role."
Should the default behavior of AuthorizationFilterAttribute be changed to be consistent with the recent change(June 2014) to the HTTP specifications

Issue Description: Exactly this-
http://stackoverflow.com/a/5844884/321035

Line of code: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Filters/AuthorizationFilterAttribute.cs#L34

[2015-02-02 18:49] arishlabroo commented on #1939
Apologies, just realized Duplicate of https://github.com/aspnet/Mvc/issues/634

[2015-02-02 18:49] #1939 closed

[2015-02-02 18:51] yishaigalatzer commented on #1274
Design -

We will walk up and look for a base class that is named according to the "standard"
Add a NonControllerAttribute

[2015-02-02 19:11] yishaigalatzer commented on #650
@ashmind just took a quick look at NFormatters.xml, the project seems abandoned :(

[2015-02-02 19:31] yishaigalatzer commented on #1933
Should we close this one as well https://github.com/aspnet/Mvc/issues/634?

[2015-02-02 19:31] #1933 closed

[2015-02-02 21:02] ashmind commented on #650
@yishaigalatzer That is true, yet even in its current state I found it to be very stable and way more extensible than standard XmlSerializer. I can't advocate a project in that state for WebApi obviously, but I use it in my projects -- with custom converters it can handle anything, while XmlSerializer just ignored e.g. dynamic objects.

Anyway to me it makes sense to design the `Patch<>`/`Delta<>`

[2015-02-02 22:47] DamianEdwards opened #1940 "Expose path of currently executing view"
The path of the currently executing view would be extremely helpful when tracing information RE view rendering, e.g. from Tag Helpers.

It will likely not work on `ViewContext` as that flows down to things like partial views. Perhaps a new type is needed, e.g. `ViewExecutionContext`, on which we make it available. We could investigate making the entire tree of view execution available, e.g. view -

[2015-02-03 00:29] yishaigalatzer commented on #1940
We should consider doing something special for templates (as templates are similar to partial views, but they have a different context), so perhaps some indication of the type of view that the code is executing in (enum? or set of well known strings?)

[2015-02-03 00:54] yishaigalatzer opened #1944 "DelegatingStream - Move to internal namespace and rename"
suggestion: `NotDisposableStream`

[2015-02-03 02:03] yishaigalatzer opened #1946 "Functional test sites cleanup to use attribute routes"
Looked at formatters site, and although this is pretty clear an API scenario we are using conventional routing which is a pretty bad example.

We should go through the sites and convert them to a more appropriate API style site.

[2015-02-03 04:23] ianhong commented on #268
ActionContext will be updated per #1934

[2015-02-03 06:20] DamianEdwards opened #1947 "Replace JavaScriptUtility.JavaScriptStringEncode with WebUtility version when it's available"
Once `WebUtility.JavaScriptStringEncode` is added by aspnet/HttpAbstractions#72 we should remove our temporary version at src/Microsoft.AspNet.Mvc.TagHelpers/JavaScriptUtility.cs

[2015-02-03 18:01] DamianEdwards opened #1948 "Change LinkTagHelper to activate ILogger<> directly"
Blocked by aspnet/Hosting#147

[2015-02-03 18:03] DamianEdwards opened #1949 "Log the current view path in LinkTagHelper log messages"
Blocked by #1940

[2015-02-03 18:23] #1580 closed

[2015-02-03 19:42] #1948 closed

[2015-02-03 21:37] sornaks commented on #1944
https://github.com/aspnet/Mvc/commit/2c5ae68ab6e61ebc025c841336a3df41790d241d

[2015-02-03 21:37] #1944 closed

[2015-02-03 22:34] joanbarros commented on #1656
I see this has been closed. That's great. I've yet to read the outcome. Sorry, something came up that kept me busy.

Anyways here is a gist with the reproduction: [Gist](https://gist.github.com/2f0b57fe91a692fcbf3a.git)
Better late than never ehh? lol

[2015-02-03 23:25] rynowak commented on #302
**We have competing desires in link generation:**

Sometimes a user wants to rapidly prototype and generate links to actions that don’t yet exist. If link generation throws or returns bad data this really messes up your flow.

Sometimes you want to know if link generation fails – you probably have a bug in your code. Silently failing to generate a link, or silently generating one that we can prove

[2015-02-04 00:13] sornaks commented on #1915
https://github.com/aspnet/Mvc/commit/accf0c76f0bbcca71a1b2faa3532f021a29532fe

[2015-02-04 00:13] #1915 closed

[2015-02-04 02:31] yishaigalatzer commented on #1331
Strawman design:

Include all objects that needs disposing on the Response/Request and dispose them with the request unwinds (or when exiting MVC).

`ObjectResult`, can upon setting the `Value` can register the type for disposal if it implement `IDisposable`, similarly `FileStreamResult` can do the same.

[2015-02-04 06:40] yishaigalatzer commented on #743
We should do the work for (at least as far as I can tell)

`FileResult`
`StreamFormatter`

Other `CopyToAsync` if/where we use them

[2015-02-04 06:55] yishaigalatzer opened #1955 "Support Func<Stream> for both StreamOutputFormatter and FileStreamResult"
The purpose of this is to delay the stream creation to the action result execution time.

This allows
1. Doing the work only when we know we absolutely have to do it. e.g. the result can be replaced by a filter.
2. Easier dealing with disposal, without this the user is ultimately responsible to dispose the stream if something failed along the way before the action result was executed (and if we do

[2015-02-04 16:17] dougbu commented on #1758
title was "Group properties based on DisplayAttribute.GroupName".  narrowing since aim here is to make that extension possible, not to provide it in MVC.

will do the following:
- add `AdditionalValues` property bag and a few related unit tests
- extend one of the functional tests to use `[DisplayAttribute(GroupName="name")]` as suggested

[2015-02-04 16:24] dougbu commented on #1517
title was previously "Html helper method bug"

we will have a design discussion shortly about this issue as well as the proposed #1231 enhancement.

[2015-02-04 19:58] #1929 closed

[2015-02-04 22:24] sornaks commented on #1669
https://github.com/aspnet/Mvc/commit/6e8cc6ba74089f5d821c2ae8342d7e8ec50448fc

[2015-02-04 22:24] #1669 closed

[2015-02-04 22:46] ianhong commented on #1772
We have more detailed work items for this #1934 and #1935, and I'm closing this

[2015-02-04 22:46] #1772 closed

[2015-02-04 23:34] sornaks commented on #1785
https://github.com/aspnet/Mvc/commit/4691823a5060db135c5672ba5b264183c999f5b3

[2015-02-04 23:34] #1785 closed

[2015-02-04 23:36] pranavkm opened #1958 "Intermittent timeouts in FlushAsync functional tests time"
Needs some investigation to figure out if something's amiss

[2015-02-05 00:20] #1653 closed

[2015-02-05 18:04] #1708 closed

[2015-02-05 18:52] ajaybhargavb commented on #1728
5e704cd5efcb1d9ec3599791047686b0eab2d2b2

[2015-02-05 18:52] #1728 closed

[2015-02-05 19:05] yishaigalatzer commented on #1524
Discussed with @DamianEdwards and we decided not to implement this, as we deem it unnecessary.

[2015-02-05 19:05] #1524 closed

[2015-02-05 20:01] yishaigalatzer commented on #1097
For this scenario the user should use

[code]

A user can also make custom `ViewComponent` or better yet a `TagHelper` for this

[2015-02-05 20:01] #1097 closed

[2015-02-05 21:17] rynowak opened #1963 "Consider Creating a Custom Model Binder Sample"
With all the work in this area, we might want to create a sample that shows how to implement a custom binder metadata attribute + model binder. @harshgMSFT had the idea to show a model binder that can do retro MVC 5 style binding to form-data OR json, as this would be pretty substantial and includes a lot of different MB features.

[2015-02-05 22:28] shanselman opened #1966 "Url.RouteUrl can be simpler for common patterns."
This is a common pattern:

    dinner = await _repository.CreateDinnerAsync(dinner);
    var url = Url.RouteUrl("GetDinnerById", new { id = dinner.DinnerId }, Request.Scheme, Request.Host.ToUriComponent());

    Context.Response.StatusCode = (int)HttpStatusCode.Created;
    Context.Response.Headers["Location"] = url;
    return new JsonResult(dinner);

I find

    var url = Url.RouteUrl("GetDinner

[2015-02-05 22:33] davidfowl commented on #1966
What about if that method returned a builder kinda like UriBuilder that you could then use to get the full url?

[code]

[2015-02-05 22:35] #1576 closed

[2015-02-05 22:35] shanselman commented on #1966
So like this?

     var myString = Url.RouteUrlAsBuilder("GetDinnerById", new { id = dinner.DinnerId }).ToFull();

Or

     var myString = Url.RouteUrlAsBuilder("GetDinnerById", new { id = dinner.DinnerId }).ToAbsolute();

Still seems like a lot of moving parts to do something I'm gonna do ALL DAY LONG.

[2015-02-05 22:40] rustd commented on #1966
var myString = Url.RouteUrlAsBuilder("GetDinnerById", new { id = dinner.DinnerId }).ToFull(); is much better

[2015-02-05 22:41] shanselman commented on #1966
@rustd But why do I need to RouteUrlAsBuilder? What's the Builder? What's wrong with RouteUrlAsAbsolute and don't even bother with the ToFull. The ToString is implied.

[2015-02-05 22:43] csharpfritz commented on #1966
This does feel a bit tedious...  I'd almost want the scheme and host to default to the values the current request came in on.  Most of the time, I think these values would stay the same from one request to the next

[2015-02-05 22:47] yishaigalatzer commented on #1966
Add an extension method in your code to remove repetitive tediousness?

[2015-02-06 00:40] rynowak commented on #1550
3c380bc38ede2aa25680e40c02898f954b8a90f6

[2015-02-06 00:40] #1550 closed

[2015-02-06 00:45] ajaybhargavb commented on #1920
ac6a1a6a808ca4d88231db65cf3e5d0b54a1b92f

[2015-02-06 00:45] #1920 closed

[2015-02-06 03:52] ianhong commented on #1934
The first part: c7d09d7ad743e3af9bea608bbcf139c290205068

[2015-02-06 09:58] kichalla commented on #468
One of the settings that JsonContractResolver is changing is how it behaves with `Required` data annotation attribute. It sets the setting called `Required` to `AllowNull` which states `The property must be defined in JSON but can be a null value`. For example, following scenario is broken currently without this:

Value types having `Required` annotation do not trigger model state errors. This get

[2015-02-06 10:44] kichalla commented on #468
Just FYI...if we decide to fix going by the ContractResolver approach, then as you know it would only work for Json and not for Xml.

In Web API, we had something called `InvalidModelValidatorProvider` which used to make a requirement that if a value type is decorated with `Required` attribute, then it must also be decorated with `DataMember(IsRequired=true)` attribute.

The scenario behind this w

[2015-02-06 17:42] yishaigalatzer commented on #1966
WebApi had this feature named link - We should bring it back:

From WebApi code
[code]

[2015-02-06 17:57] yishaigalatzer commented on #1928
@DamianEdwards lets set up a design meeting so we can get loc supported up and down the stack

[2015-02-06 18:02] yishaigalatzer opened #1968 "Razor CompilationFailedExceptions contain design-time-missing content and incorrect line/column information"
For instance:  I have an exception that fails with:
Additional information: C:\GIT\DataPoint\Source\DataPoint.Web\shell\default\_shelllayout.cshtml(28,36): error CS0115: 'ASPV__shell_default__shelllayout_cshtml.ExecuteAsync()': no suitable method found to override
... but opening that file up with a text editor, I see that line # 28 looks like:

            </div>

... and furthermore, I don't hav

[2015-02-06 18:03] yishaigalatzer commented on #1968
@pranavkm please comment

[2015-02-06 18:11] yishaigalatzer commented on #1210
@kichalla if you think this is important, please provide feedback for this item

[2015-02-06 18:13] yishaigalatzer commented on #1195
@pranavkm this seems closely related to #1968

[2015-02-06 18:15] yishaigalatzer commented on #1191
We should work with Matt Gibbs on this before making progress. Moving to post RTM as it is possible today (if not in a super friendly way)

[2015-02-06 18:16] yishaigalatzer commented on #1184
We need to make sure we are not doing conversion without the user having any control of the outcome

[2015-02-06 18:21] yishaigalatzer commented on #1008
dup of #1065

[2015-02-06 18:21] #1008 closed

[2015-02-06 18:23] pranavkm opened #1969 "Remove IRazorFileProviderCache and rely on file expiration triggers to file change expiry"
The CompilerCache uses `IFileProvider.Watch` to know when files have changed in the filesystem. We can take advantage of this and avoid performing disk reads in the `VirtualPathRazorPageFactory` when the Razor page has not changed.

This is a follow up to #1708

[2015-02-06 18:24] yishaigalatzer commented on #980
Unless this shows up in profiles, or we get user feedback for this, lets not spend more time here.

[2015-02-06 18:24] #980 closed

[2015-02-06 18:51] kichalla opened #1971 "Model validation does not happen for value types decorated with Required annotation"
Please take a look at issue #468 for detailed information.

[code]

![image](https://cloud.githubusercontent.com/assets/6559784/6077406/6192b376-ada3-11e4-9c4a-67ec45a05328.png)

[2015-02-06 19:26] yishaigalatzer commented on #842
Create an `NotFoundObjectResult` similar to `BadRequestObjectResult` and an overload in controller.cs. @rynowak is there a reason we didn't include this as part of the last cleanup of action results?

[2015-02-06 19:27] yishaigalatzer commented on #830
@NTaylorMullen please tie this to the TagHelper Content change when working with @sornaks

[2015-02-06 19:30] yishaigalatzer commented on #825
Can you please set up the design discussion for this?

[2015-02-06 20:07] shanselman commented on #1966
Fantastic.

On Fri, Feb 6, 2015 at 9:42 AM, Yishai Galatzer <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-02-06 20:18] yishaigalatzer commented on #955
There are a few other design issues:
1. The CreateCompilationException can fail if the file cannot be read (e.g. locked or removed), we should be more protected there.
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/Compilation/CompilationResult.cs#L107
2. The class exposes a `FilePath` that relies on the `file.PhysicalPath` that doesn't necessarily exist. It should perhaps t

[2015-02-06 20:18] yishaigalatzer commented on #955
Please come up with a skeleton design and reassign

[2015-02-06 20:54] sornaks commented on #830
Note to self: Move `HelperResult` to `Razor.Runtime`.

[2015-02-06 20:57] rynowak commented on #842
We didn't do the original bug this because there's no support for statusdescription in HttpContext.

It sounds like this issue is more about not-found-with-context, which wasn't on our radar for the previous cleanup.

[2015-02-06 21:38] #1878 closed

[2015-02-07 00:23] ajaybhargavb opened #1974 "Implement CanReadType in InputFormatter"
Currently the `CanReadType` is missing in `InputFormatter`.

WebAPI Code for this:

[code]

[2015-02-07 04:42] ianhong commented on #1934
57c04835de917aab3eb417292b0ecee2436d11dc

[2015-02-07 04:42] #1934 closed

[2015-02-07 21:36] sergkr commented on #650
Personally, I'd love to see ASP.NET add native support for the JSON Patch spec for supporting partial updates:

http://jsonpatch.com/
https://tools.ietf.org/html/rfc6902

There are a couple projects out there that add partial support for JSON Patch within Web API, but they're both kind of "alpha" at this stage (neither implement the spec fully):

**myquay/JsonPatch**
Blog Post: http://michael-mcke

[2015-02-08 14:17] filipw commented on #474
what is the status of this?

[2015-02-08 18:28] yishaigalatzer commented on #474
Hey @filipw  this is currently not planned for RTM (you can see from the backlog milestone).

You can achieve this currently by using an ActionDescriptorProvider that will remove the filter from the action descriptor and introspect properties on the ActionDescriptor (or attributes on the methodinfo). It's a pretty big hammer, but it can definitely work and it's not too complicated to write.

[2015-02-08 21:12] yishaigalatzer commented on #650
@sergkr thanks for the feedback. We will take a look before proceeding with this.

[2015-02-08 21:20] yishaigalatzer commented on #650
@sergkr while we try to make up our mind, I would be glad to assist in porting the existing libraries (particularly I noticed you contribute to myquay/jsonPatch) to MVC 6. Though they do seem pretty straightforward. It will make it a lot easier to consider as a PR as well as it matures.

Note I'm not making any promises about taking it in or not, will need to discuss with the rest of the team firs

[2015-02-09 00:48] sergkr commented on #650
Understood, thank for considering this. I've put in an issue at myquay/JsonPatch to add support for MVC 6. I myself am not familiar yet with what exactly would have to go into this, but feel free to comment on that issue.

[2015-02-09 01:33] yishaigalatzer opened #1976 "Support Json Patch as a top level feature"
http://jsonpatch.com/
https://tools.ietf.org/html/rfc6902

Here are a couple projects out there that add partial support for JSON Patch within Web API, but they're both kind of "alpha" at this stage (neither implement the spec fully):

**myquay/JsonPatch**
Blog Post: http://michael-mckenna.com/Blog/how-to-add-json-patch-support-to-asp-net-web-api
Github: https://github.com/myquay/JsonPatch
NuGet:

[2015-02-09 01:34] yishaigalatzer commented on #650
From the looks of it, you will have to create an InputFormatter and OutputFormatter, the rest doesn't seem to require changes. You can look at `StringOutputFormatter` or `StreamOutputFormatter` as an example for a greedy formatter. There is no sample for an input counterpart, but its rather simple.

Unless I'm missing something I also noticed that the implementation there doesn't go and create ite

[2015-02-09 11:38] Boglen opened #1978 "Double iteration from @Html.DisplayForModel"
solved.

[2015-02-09 11:55] #1978 closed

[2015-02-09 15:10] JaroslawWaliszko opened #1979 "Weakly typed helper issue related to output html rendering."
In ASP.NET MVC 5.2.2 version I've noticed minor mismatch in output html rendering between weakly and strongly typed html helpers, mainly:

* usage of `@Html.DropDownList("CarModelID", null, "-- select --", htmlAttributes...)` gives cropped output:

    ![image](https://cloud.githubusercontent.com/assets/1596462/6108150/11c2d940-b071-11e4-84cc-c257c8cd2dae.png)

* while `@Html.DropDownListFor(model

[2015-02-09 18:30] dougbu commented on #1787
Fixed with commits 2c21c7c9c7e83a058eb5aab7364119b52d2bc833 and 45aae5956d83006fdcba29cd464bb63d99323944.

[2015-02-09 18:30] #1787 closed

[2015-02-09 19:05] #1065 closed

[2015-02-09 22:23] yishaigalatzer commented on #1979
@JaroslawWaliszko we are tracking MVC issue in http://aspnetwebstack.codeplex.com

[2015-02-09 22:30] harshgMSFT opened #1981 "Route parameters with indexes in a collection do not work."
a route template like
Company/[action]/{company.Employees[0].TaxId} throws
Error: While processing template 'Company/[action]/{company.Employees[0].TaxId}', a replacement value for the token '0' could not be found. Available tokens: 'action, controller'.

The problem is that we are not able to parse the route template.

This bug is to track whether we want to support such a scenario.

what would b

[2015-02-09 22:34] Eilon commented on #1981
The purpose of routing is to extract basic information from a URL. This seems waaay outside the scope of routing, no? This scenario is more about *model binding*, which can certainly feed off of information gleaned from routing.

[2015-02-09 23:20] #1969 closed

[2015-02-09 23:58] harshgMSFT commented on #1981
Sure, the consumer in this case is model binding and there is nothing preventing model binding from consuming if a value provider ( in this case the route value provider) would give a value for ```Company/[action]/{company.Employees[0].TaxId}```. The reason for this bug is today routing layer throws for such a key. We would have to decide if we want to allow such scenarios or explicitly block it (

[2015-02-10 00:05] rynowak commented on #1981
This seems like a tricky situation. If only there were some way to **ESCAPE** this peril. https://github.com/aspnet/Mvc/blob/af9e9f9113fb88d443c69925d5d77d7b3e450281/src/Microsoft.AspNet.Mvc.Core/ApplicationModels/AttributeRouteModel.cs#L229

If @Eilon were paying attention when we did this feature he might have insisted on adding escaping despite my objections :laughing: https://github.com/aspnet

[2015-02-10 00:08] rynowak commented on #1981
I'd agree also with what @Eilon is saying now. This seems like a complicated way to express something simple. If you want to read a collection of values, routing is not a simple way to do that.

Rather than trying to adapt routing to your DTO, adapt your DTO to routing. view-models for request data after-all aren't about  code reuse.

[2015-02-10 01:05] dougbu commented on #1758
Fixed in commits 330328628820324ed5073056cfcd5a97a890723c and f93fca1077174d7ca34bfae0eee143aeed45bb37

[2015-02-10 01:05] #1758 closed

[2015-02-10 03:26] rynowak commented on #302
https://github.com/aspnet/Routing/pull/150

[2015-02-10 10:57] Tragetaschen opened #1986 "Cannot easily use IHtmlHelper<T> in a tag helper"
In a tag helper, I want to call the `IHtmlHelper<T>.EditorFor` extension method. The main reason is that I get the EditorTemplates infrastructure to work with. My problem is that there isn't a `ViewContext` available where the `.ViewData` matches the T of the `IHtmlHelper<T>` (only in the special case). When `[Activate]`ing the helper the [`Conextualize` call](https://github.com/aspnet/Mvc/blob/de

[2015-02-10 16:02] dougbu commented on #1986
recommend using `HtmlHelper.Editor()` instead e.g. pass a `ModelExpression` instance's `Name` to that method.  or just call `EditorFor()` from a view directly.

[2015-02-10 19:18] rynowak commented on #1460
Moving to @harshgMSFT as he's currently working on this

[2015-02-10 19:23] dougbu commented on #1021
Fixed as part of commit 330328628820324ed5073056cfcd5a97a890723c.  Note "nit" mentioned in the commit message -- "seal `ModelMetadata.Properties` collection as well".

[2015-02-10 19:23] #1021 closed

[2015-02-10 20:52] kichalla opened #1987 "Investigate xml serializer test failures in Core CLR"
https://github.com/aspnet/Mvc/commit/f474f7116af0d0c33f93e70fed13c3c2abf70082

[2015-02-10 21:26] sornaks commented on #1445
https://github.com/aspnet/Mvc/commit/d2c3985cd60d01e355c89ed7eb9d2f6922da762a

[2015-02-10 21:26] #1445 closed

[2015-02-10 22:03] #1016 closed

[2015-02-10 22:17] rynowak opened #1989 "Consider delaying attribute route initialization until first request"
Right now attribute route initialization (and error reporting) happens during startup. We considered deferring this until the first request reaches routing (and this is easy to do), but it has an impact on when logging for action discovery takes place (within a request instead of startup).

We should consider whether or not we want to make this change with the logging impact.

[2015-02-11 03:36] dougbu commented on #1897
have a design we'll prototype as a new, separately-tracked task.  approach centres on integration tests using the [PhantomJS](http://phantomjs.org/) headless browser client, `k kestrel` server, and [Karma](http://karma-runner.github.io/0.12/index.html) coordinator.  reporters and assertion frameworks are open questions we'll answer while prototyping.

[2015-02-11 03:36] #1897 closed

[2015-02-11 04:24] dougbu opened #1993 "Prototype one integration test combining JavaScript and generated HTML"
scenario: extend one of the `<script/>` tag helper functional tests.

testing components:
- use the infrastructure chosen in #1897
- pick whatever [Karma](http://karma-runner.github.io/0.12/index.html) reporter is built-in or looks like it'll play nice in .\build.cmd / .\build.sh
- use [Jasmine](http://jasmine.github.io/) assertions unless that causes problems for our scenarios

[2015-02-11 15:08] filipw commented on #474
thanks. just to make sure I understood you correctly.
so you are suggesting something like this (not sure if this would even work, typing in github not VS :smile: )

Let's say I create a marker filter that allows me to override any defined filter type:

    public class OverrideFilter : ActionFilterAttribute
    {
        public Type Type { get; set; }
    }

Then I create a custom `IActionDescrip

[2015-02-11 16:29] yishaigalatzer opened #1995 "FilterProviderContext should not have List on it's public interfaces"
Use IList instead

[2015-02-11 16:41] yishaigalatzer commented on #474
The code looks reasonable but I have a few issues with it. First some code comments

#### Code feedback ####

1. You don't need to remove the override filter when you are done, you can just leave it there. Its harmless
2. You need to inspect for factory filters (namely TypeFilter or ServiceFilter) if you care.
3. The loop can go over context.Results.Where() directly (so no var and if)
4. You need

[2015-02-11 18:26] dougbu opened #1998 "Add `ModelStateDictionary` methods to clear or set contained values"
- related to scenarios described in #1231 and #1517

- provide new `ModelStateDictionary.ClearValues()` method which removes all values but leaves all errors (and exceptions) alone
 - might require a new `ModelState` property indicating it has no real value or a small change where we read from the dictionary
- provide new `ModelStateDictionary.SetValue<TModel, TValue>([NotNull] Expression<Func<TMo

[2015-02-11 18:31] dougbu opened #1999 "Improve HTML and tag helper doc comments about value sources"
- related to scenarios described in #1231 and #1517
- blocked until #1998 work is complete
- improve HTML / tag helper IntelliSense so that `<summary/>`s (not `<remarks/>`!) clearly describe where the displayed values are found
  - focus should be helpers that get information from `ModelStateDictionary`, not e.g. `@Html.ValueFor()` and other display helpers
- use words like “model binding” or “use

[2015-02-11 18:52] filipw commented on #474
Thank you - this is very helpful. I looked at the filter provider and indeed it looks rather straight forward to override or reshuffle the necessary filters from there.

I am only concerned about the unnecessary work happening over and over on every request; would you advise against caching the result of the filtering?
It seems caching this would be a reasonable thing to do, especially as, intuiti

[2015-02-11 18:59] yishaigalatzer commented on #474
I thought about it, and i wouldn't worry about running it again and again without any form of measurements proving its an issue. My wild guess here is that you wouldn't see it show up in your profile

[2015-02-11 21:37] yishaigalatzer commented on #1688
Talked with @Eilon and @loudej and decided we don't want to address this (even as a side project) for MVC 6 first release.

[2015-02-11 21:55] rynowak commented on #853
b4d1eec87a0a1bc7f641301b8074c303962c2f20

[2015-02-11 21:55] #853 closed

[2015-02-11 22:42] rynowak commented on #302
Fixed by aspnet/Routing 9ee946073a128f778cfc68fa796b95dc9c8e429a

[2015-02-11 22:42] #302 closed

[2015-02-11 22:48] yishaigalatzer commented on #1998
Why is this not the fix for #1517 ?

[2015-02-11 22:52] dougbu commented on #1998
decision after our design discussion was to log new issues (now this one and #1998) and to close #1231 and #1517 as duplicates.  I wanted to talk to you before closing those issues...

[2015-02-11 22:55] dougbu commented on #1516
Fixed in commit 7e166295bac6f4f2d008c9c1db7a82bfca4ade0b

[2015-02-11 22:55] #1516 closed

[2015-02-11 22:59] yishaigalatzer commented on #1986
@Tragetaschen can you share a more exact code sample?

CC @DamianEdwards

[2015-02-11 23:04] yishaigalatzer commented on #1981
You can use `[[` to escape the value.

That should be enough.

[2015-02-11 23:04] #1981 closed

[2015-02-11 23:05] yishaigalatzer commented on #1979
@dougbu can you please check what this does in this version of MVC

[2015-02-11 23:40] yishaigalatzer commented on #1968
We need mostly a doc that shows what a minimal base type should look like. @danroth27

Need to make it show up in helios/and diagnostics middleware

[2015-02-11 23:48] yishaigalatzer commented on #539
This is already supported -

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ModelBinding/BinderMetadata/ModelBinderAttribute.cs#L78

CC / @harshgMSFT @pranavkm please re-open if this is wrong

[2015-02-11 23:48] #539 closed

[2015-02-11 23:49] Eilon commented on #302
:fireworks:

[2015-02-12 00:01] yishaigalatzer commented on #644
This doesn't look like it has to do with our code, diagnostics pre-generate the .cs files before compiling.

See: https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNet.Diagnostics/Views/ErrorPage.cs

[2015-02-12 00:01] #644 closed

[2015-02-12 00:11] yishaigalatzer commented on #575
@DamianEdwards can you help drive the design for this?

[2015-02-12 00:13] yishaigalatzer commented on #757
We are going to remove support `@helpers` and thus this issue is not required.

[2015-02-12 00:13] #757 closed

[2015-02-12 00:26] rynowak commented on #1913
7cb6c1065cce41b517a3e39459572bcf2bf63a99

[2015-02-12 00:26] #1913 closed

[2015-02-12 00:46] #1707 closed

[2015-02-12 00:47] ajaybhargavb opened #2002 "Consider having StringInputFormatter in the core system"

[2015-02-12 02:12] ajaybhargavb commented on #1222
13e1c9d5e1509b0df5c7a2317b6380fa1a401784

[2015-02-12 02:12] #1222 closed

[2015-02-12 05:38] dougbu commented on #1979
@yishaigalatzer the behaviour with MVC 6 is the same.  this issue is another symptom of #600.

@JaroslawWaliszko MVC isn't finding a "weird object": it's finding the select list placed in `ViewBag`. but we cannot change how `ModelMetadata.FromStringExpression()` works, nor anything else about the priority of items in the `ViewBag` / `ViewData` dictionary compared to `ViewData.Model`.  the `ViewDat

[2015-02-12 08:06] Tragetaschen commented on #1986
Sure. Currently I'm doing something like that:
[code]
I have my basic setting objects—basically a name, a value and most importantly infrastructure to apply them at the right place. I create Label and Editor for those settings, which results in `id="Value"` etc. attributes that I replace by the setting's name. These tags are then rendered through a "Setting.cshtml" template. In a View, I just ente

[2015-02-12 11:06] filipw commented on #474
thanks - it really helped. I have published a blog post summarizing this discussion

[2015-02-12 12:50] JaroslawWaliszko commented on #1979
@dougbu, @yishaigalatzer: I had tried to fix it but some of the unit tests were failing. I've read them, I know that the change would be problematic because of the broad usage of legacy implementation behaviors.

What's more I don't even consider this issue as being problematic at all, since there are obviously approaches, which are clearly perceived as better and recommended over the usage report

[2015-02-12 16:11] yishaigalatzer commented on #1986
Activate != DI

Since there is a single viewcontext it will be the view context of the page. You will need something like a TagHelper<TModel> to understand the type change in the activator.

a few alternatives for now:
Did you consider redirecting through a partial or view component?
You can build a factory for this scenario and di it in to make it more testable.
Make your own base class?

Moving

[2015-02-12 16:32] Bartmax commented on #1971
Oh this is music to my ears! I wanted this to be resolve for a few years now. I'm happy that 6.0 will solve this. Still I see a little problem on fixing this. All versions of MVC behave like this, and I'm pretty sure most of us are already used to this. What about backcompatibility, how is going to be handled ? I don't think it could have a great impact but I can think of some scenarios. Using it

[2015-02-12 17:15] Tragetaschen commented on #1986
One of these days I'll wrap my head around the (likely important) difference between activation and dependency injection.

Nontheless: I'm now using a trampoline partial view that is typed and contains the EditorFor code. Now I only have to use the activated ViewDataDictionary<T>.

Thanks!

[2015-02-12 19:05] yishaigalatzer commented on #474
Awesome blog: One comment though, don't derive from the base type. It might do more than you bargained for. If you do, do not call base.

It's better to just go with the interface it is super simple. And you get to explain the next() call 😊

-----Original Message-----
From: "Filip W" <notifications@github.com>
Sent: ‎2/‎12/‎2015 3:07 AM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatze

[2015-02-12 20:20] pranavkm opened #2009 "Consider not using Path.GetDirectoryName in ViewStartUtility"
Today given an app relative path, we use `Path.GetDirectoryName` to determine potential paths for _ViewStart.cshtml. `Path.GetDirectoryName` does a bunch of operations to figure out if the path is absolute and sanitizing which shows up in perf profiles. Additionally, it attempts to normalize the directory separator

[code]

Since these paths are generated from the Razor view engines, an option wou

[2015-02-12 23:59] yishaigalatzer commented on #1986
Di is when the di container can directly provide the instance.

Activator is a specific class activating some of the mvc components such as controller, view, view component and taghelpers. Each one of these has his own activator.

The activator can do more than what the container for example provide a viewdatadictionary which is an object that flows from the current context of the view but not com

[2015-02-13 01:46] DamianEdwards opened #2011 "Add WebUtilities.Encoders to MvcServices"
Add the following to `MvcServices` as singletons:
- `Microsoft.AspNet.WebUtilities.Encoders.IHtmlEncoder`
- `Microsoft.AspNet.WebUtilities.Encoders.IUrlEncoder`
- `Microsoft.AspNet.WebUtilities.Encoders.IJavaScriptStringEncoder`

[2015-02-13 02:26] GrabYourPitchforks opened #2012 "Prefer the new encoders over the old WebUtility APIs"
There are still some call sites in the MVC code base that invoke WebUtility.HtmlEncode.  These call sites should instead use IHtmlEncoder.HtmlEncoder.

[2015-02-13 05:04] dougbu commented on #524
Fixed w/ commit 3ced6016a1bff14188ea8a8ae09c65dfc6279ae3

[2015-02-13 05:04] #524 closed

[2015-02-13 05:07] dougbu commented on #453
Crossed out a couple of items in earlier comments.

Some details on remaining `DropDownList` and `ListBox` test gaps.  Test do not currently:
- use non-`null` `optionLabel` and `htmlAttributes` arguments
- confirm value sources and their priorities
- mock an `IHtmlGenerator` and confirm how it is called
- mock an `IHtmlHelper` and confirm how extension methods call that

[2015-02-13 06:41] dougbu commented on #600
as discussed in #1979, another symptom of this issue is that validation attributes are not generated when `@Html.DropDownList()` or `@Html.ListBox()` find the selected list in `ViewData`.  that additional symptom occurs because these `string`-based `<select/>` helpers find `ModelMetadata` about the select list rather than the model.

[2015-02-13 06:46] dougbu commented on #600
updated suggested fix after a few design discussions:
- support a new, unique location for the select list in `ViewData` e.g. `ViewData["{model key}$select"]`
- to avoid compatibility breaks, check if `ViewData["{model key}$select"]` exists and fallback to `ViewData["{model key}"]` (the current `ViewData` entry) if not
- make the behaviour when `selectList: null` is passed very clear in IntelliSen

[2015-02-13 08:23] branciat opened #2015 "AjaxHelper"
Hi,
I see that the AjaxHelper has been removed into project.
Has been replaced by another helper or will be developed later ?

[2015-02-13 12:44] filipw commented on #474
I'm not sure what is the use case for `IFilterContainer` (doesn't seem to be used anywhere at the moment), but if I don't call the base, the reconciliation between `IFilterContainer` as created by the filter factory and the filter metadata will never happen - and if there ever is an `IFilterContainer` in the list,  it simply didn't seem right; that was really the only reason.

[2015-02-13 14:49] #1940 closed

[2015-02-13 16:15] Tragetaschen commented on #1986
And now I have discovered `IHmtlHelper.PartialAsync(string, object)` and my `TagHelper` basically lost all its code.

I don't expect this to be a valuable feature anymore.

[2015-02-13 16:15] #1986 closed

[2015-02-13 16:36] yishaigalatzer commented on #474
Probably because you didn't call next

-----Original Message-----
From: "Filip W" <notifications@github.com>
Sent: ‎2/‎13/‎2015 4:44 AM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] Filter overrides (#474)

I'm not sure what is the use case for IFilterContainer (doesn't seem to be used anywhere at the moment), but if I don't call the

[2015-02-13 20:12] ajaybhargavb commented on #979
088bb18eed498d1b2df96bee52ffbaf744254f61

[2015-02-13 20:12] #979 closed

[2015-02-13 23:35] dougbu commented on #1231
we will make related improvements when fixing #1998 and #1999.  closing this and #1517 as duplicates of those bugs.

[2015-02-13 23:35] #1231 closed

[2015-02-13 23:35] dougbu commented on #1517
we will make related improvements when fixing #1998 and #1999.  closing this and #1231 as duplicates of those bugs.

[2015-02-13 23:35] #1517 closed

[2015-02-13 23:43] dougbu commented on #963
fixed in commit 0549769fd0e467d6f6c96ef59b32c7700461336f

[2015-02-13 23:43] #963 closed

[2015-02-14 01:27] dougbu commented on #944
decided on the following:
- name all `string` expression name and `Expression<Func<TModel, TResult>>` parameters "expression"
 - single special case is `GenerateIdFromName(string fullName)` since every other expression name is relative to the current `ViewData,TemplateInfo.HtmlFieldPrefix` value
- name all `this` parameters of type `IHtmlHelper` or `IHtmlHelper<TModel>` "htmlHelper"
- rename `TPro

[2015-02-14 12:10] KevinDockx commented on #1976
+1.  I'm the author of Marvin.JsonPatch, and aim to fully implement the spec by the time I reach v1, but I'd prefer this to be baked in.  Of course: fully according to spec (eg: not like the OData Delta implementation).  A request from any type of client should be able to be accepted by an HttpPatch action at Web API level as long as its according to spec.  Same for the other way around: if helper

[2015-02-14 18:03] yishaigalatzer commented on #1976
Kevin would you be interested in working with us on the implementation (perhaps as a series of pull requests?

[2015-02-15 15:38] KevinDockx commented on #1976
Hi Yishai,

of course, I'd be happy to!

[2015-02-16 06:15] harshgMSFT commented on #1597
The reason for closing this pr was there was no way of specifying the name on individual ```[FromQuery]```,```[FromRoute] and ```[FromForm]``` hence they needed to be clubbed with ```[ModelBinder(Name = "custom"]``` attribute which meant that this fix would have broken those scenarios.
Now with #1983 we can go ahead with this fix. Also with BindingSource based implementations, there seems to be no

[2015-02-16 06:17] #1274 closed

[2015-02-16 17:51] danroth27 commented on #2015
We don't have any immediate plans to support AjaxHelper in MVC 6, but we are certainly interested in customer feedback on the importance of supporting this in MVC 6. Putting this on our backlog for now.

[2015-02-16 17:53] danroth27 commented on #2015
From #2011:
Add the following to  MvcServices  as singletons:
• Microsoft.AspNet.WebUtilities.Encoders.IHtmlEncoder
• Microsoft.AspNet.WebUtilities.Encoders.IUrlEncoder
• Microsoft.AspNet.WebUtilities.Encoders.IJavaScriptStringEncoder

[2015-02-16 17:53] danroth27 commented on #2011
Tracking this as part of #2015.

[2015-02-16 17:53] #2011 closed

[2015-02-16 18:06] yishaigalatzer commented on #2012
also - Once WebUtility.JavaScriptStringEncode is added by aspnet/HttpAbstractions#72 we should remove our temporary version at src/Microsoft.AspNet.Mvc.TagHelpers/JavaScriptUtility.cs

[2015-02-16 18:07] yishaigalatzer commented on #1947
#2012

[2015-02-16 18:07] #1947 closed

[2015-02-16 18:13] yishaigalatzer commented on #2012
Do this in conjuction with https://github.com/aspnet/Razor/issues/304

[2015-02-16 19:43] pranavkm commented on #825
### Design discussion notes

* Introduce a new file _GlobalImport.cshtml. Directives from this file are implicitly included to all views that are within its folder hierarchy (same hierarchy behavior as _ViewStart \ web.config).
* _ViewStart does what it does in Mvc 5 (does not push directives). Does not run before Partials \ Layouts.
* Remove @Layout directive

[2015-02-16 20:13] GrabYourPitchforks commented on #2012
Should we add a utility static method to HttpAbstractions that registers default instances of all three encoders?

[2015-02-16 20:25] dougbu commented on #1979
dupe of #600

@JaroslawWaliszko we appreciate your help uncovering another negative side-effect of #600.  we're tracking the fix with the earlier bug.

[2015-02-16 20:25] #1979 closed

[2015-02-16 20:55] yishaigalatzer opened #2021 "Make Unobtrusive Ajax available on Bower"

[2015-02-16 20:57] yishaigalatzer commented on #2002
This is a small simple feature we can add at any point. No rush to make it happen for 6.0

[2015-02-16 22:02] HaoK opened #2022 "Consider IFilterFactory pattern for AuthorizeFilter"

[2015-02-16 22:50] ajaybhargavb commented on #1966
3d30fd653ec2e9d44296a4c62a274e578da145fe

[2015-02-16 22:50] #1966 closed

[2015-02-16 23:35] harshgMSFT commented on #1597
Closing this-> ROI on this is not high. We would have to implement this on MetadataProvider which would result in complicated code paths and not a clean design.

[2015-02-16 23:35] #1597 closed

[2015-02-16 23:52] DamianEdwards opened #2024 "Add HTML helper methods for rendering globbed stylesheet & JavaScript references with fallback"
Add methods to `IHtmlHelper` that support rendering HTML for stylesheet links and script blocks with support for globbed file paths and fallbacks. Basically the equivalent of the features of the link and script tag helpers.
### Example

[code]

[2015-02-17 00:17] Eilon commented on #2024
I think that if you do this you need to have a firm answer on how they will be sorted.

[2015-02-17 00:17] Eilon commented on #2024
We have some logic in Bundling & Optimization but before grabbing code we should figure out what we want.

[2015-02-17 00:23] kirthik commented on #1416
Code checked in - 5de210f5271c385d7bae47af0f866698518fccdc

[2015-02-17 00:23] #1416 closed

[2015-02-17 00:27] DamianEdwards commented on #2024
@Eilon they'd be sorted as they're found on disk, hence the example above explicitly added libs first. This is essentially a straight port of what we have for the script & link tag helpers.

[2015-02-17 01:02] Eilon commented on #2024
What does "as found on disk" mean? As far as I know the file system APIs on Windows don't make any guarantees at all. Not sure about *nix / Mac OS.

[2015-02-17 01:10] yishaigalatzer commented on #2022
@HaoK can you please elaborate.

[2015-02-17 01:12] harshgMSFT commented on #1902
### Decisions :
1. The controller properties are not present in the actionArguments dictionary. If a filter needs it, he can get it via controller object.
2. Activate attribute will be no longer applicable for Controller ( will still be used for view components etc). The activate concept for controllers will be replaced by a new attribute like FromBinding (or ModelBinderAttribute.. the jury is sti

[2015-02-17 01:14] GrabYourPitchforks commented on #2012
The types `IHtmlEncoder`, `IJavaScriptStringEncoder`, and `IUrlEncoder` are in the Microsoft.AspNet.WebUtilities package. To register them from within your own AddServices method, reference the Microsoft.AspNet.Http.Extensions package and call `AddEncoders`.

[2015-02-17 01:14] HaoK commented on #2022
I don't have a ton of context I just filed it because harsh asked for something like this in the Mvc PR for authZ. I didn't want to make a big change as part of that so I filed this for tracking.

[2015-02-17 03:02] #1581 closed

[2015-02-17 03:26] yishaigalatzer commented on #2022
Looked at the feedback, it doesn't add much value other than following a pattern. It also doesn't affect the public surface much, it does add an extra indirection.

[2015-02-17 03:26] #2022 closed

[2015-02-17 03:29] yishaigalatzer commented on #1995
Fixed along with other uses of `List<T>` and `Dictionary<T>` in bcbbc585158dfa93b1bab1e903c091e7601ab2cf

[2015-02-17 03:29] #1995 closed

[2015-02-17 06:53] dougbu opened #2027 "Provide option to extend select list to contain current value"
Today, if a user passes a select list containing `{ 1, 2, 3, }` to `@Html.DropDownList()`, related methods, or the `<select>` tag helper when the expression value is `4`, the generated `<select/>` will look like nothing is selected.  This is true whether or not `4` would cause a validation error on submission.

Suggest automatically extending the select list to `{ 1, 2, 3, 4, }`, then select and d

[2015-02-17 06:54] dougbu commented on #2027
/cc @DamianEdwards this is an issue we talked through earlier today.

[2015-02-17 07:04] dougbu opened #2028 "Support MVC 5's `@Html.Validate()` helpers"
MVC 5 (and likely earlier versions) provides the following HTML helpers that are not present in MVC 6:
- `Validate(this HtmlHelper htmlHelper, string modelName)`
- `ValidateFor<TModel, TProperty>(this HtmlHelper<TModel> htmlHelper, Expression<Func<TModel, TProperty>> expression)`

May decide this should be part of #1232 but that's a triage decision...

[2015-02-17 07:08] dougbu commented on #1489
chiming in.

see this has been moved out of RC1.  that's a shame because HTML helpers fully support the scenario now that `@Html.BeginRouteForm()` is supported (see #437).  users are currently better off using their named routes with HTML helpers.

[2015-02-17 11:25] HaoK commented on #1874
Fixed in 94ef6cf8fa9e62bca108ef20161f77ce45789a04

[2015-02-17 11:25] #1874 closed

[2015-02-17 11:45] Boglen opened #2029 "@Url.Action does not remove "index" from url"
In last builds when i generate url by @Url.Action and pass default action = index, i get the following link:
\somecontroller\index\1. But \somecontroller\1 be better

[2015-02-17 15:17] Eilon commented on #2029
What routes have you defined? If the route has `{controller}` before `{id}` then if the id is required (because it's not empty), the controller is also required. This has always worked this way since the first version of routing several years ago. If you have code that reproduces this issue please reopen the issue.

[2015-02-17 15:17] #2029 closed

[2015-02-17 18:11] yishaigalatzer commented on #2021
Related to #2015

[2015-02-17 20:16] #1503 closed

[2015-02-17 20:30] harshgMSFT commented on #1460
f19c2e493d338c6d8724e3a16bbad0ac92a03054

[2015-02-17 20:30] #1460 closed

[2015-02-17 23:40] kichalla opened #2030 "Add support for camel casing in the default json contract resolver"
If a custom contract resolver is shipped out of the box to support #468, then it would be difficult for end users to support what `CamelCasePropertyNamesContractResolver` does.
Example:
If we ship with out of box a custom contract resolver called `JsonContractResolver`, a user `ideally` should derive from this resolver and then configure for camel casing. But Json.net currently doesn't have an eas

[2015-02-17 23:48] kichalla opened #2031 "Research implementation of composite json contract resolver."
Scenario:
a. We have one contract resolver which creates JsonContract where we take care of Required attributes on value types.
b. Users typically want to came case for their property names and want to use  CamelCasePropertyNamesContractResolver.

Question is about creating a composite contract resolver which satisfies `both` the above requirements.
Note that the above scenarios are just an exampl

[2015-02-18 06:47] dougbu commented on #944
Fixed in commits 8eb63271b57b60c5200ef4d7bf0b042eb260596e and 966bfeb8c1113ccfd4880efa2a982583b46af93f

[2015-02-18 06:47] #944 closed

[2015-02-18 06:49] dougbu commented on #944
Removed Task label so this minor breaking change shows up in the next release notes.  Unlikely anyone is using named parameters here but just in case...

[2015-02-18 16:53] sergkr commented on #1976
Couple questions to consider.

First, is there a possibility we would (eventually) want to support the notion of patch documents in XML as well, using something like [RFC 5261](https://tools.ietf.org/html/rfc5261)? Even if it's not going to be done right now, it's worth bring it up as I imagine it might potentially affect the implementation (i.e., we might want to have a generic `PatchDocument` th

[2015-02-18 17:28] yishaigalatzer commented on #2031
@JamesNK if you have thoughts or a recommendation on this, please share here

[2015-02-18 17:34] pranavkm commented on #1819
Discussed this with @yishaigalatzer and @DamianEdwards. Currently `FlushAsync` or its variants do not work in tag helpers in general. A fix for this would require

1. Supporting `Flush` inside of tag helper blocks. A change to this would have to tie in to https://github.com/aspnet/Razor/issues/296.

2. Add additional behavior to `CacheTagHelper` that allows it to memoize the fact that `Flush` was

[2015-02-18 17:40] yishaigalatzer commented on #2027
I'm not sure why we worry about back compat here. Even if there is a knob (which I'm not sure why it should even be there) it should be off by default

[2015-02-18 18:03] #825 closed

[2015-02-19 00:05] dougbu commented on #2027
I agree with you on this behaviour being off by default @yishaigalatzer.  opt-in was the limit of my "back-compatibility" concern.

I also agree we shouldn't need a "knob" anywhere higher than an individual DDL call, LB call, or `<select/>` tag.  nothing broader than new parameters for the HTML helpers and a new bound attribute for the `<select/>` tag helper.

[2015-02-19 04:53] yishaigalatzer commented on #2027
I don't know why a knob is needed at all

-----Original Message-----
From: "Doug Bunting" <notifications@github.com>
Sent: ‎2/‎18/‎2015 4:05 PM
To: "aspnet/Mvc" <Mvc@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Mvc] Provide option to extend select list to contain currentvalue (#2027)

I agree with you on this behaviour being off by default @yishaigalatzer. op

[2015-02-19 07:07] davidfowl opened #2038 "Microsoft.AspNet.PageExecutionInstrumentation doesn't follow the .Interfaces naming convention"

[2015-02-19 13:18] MelGrubb opened #2039 "Null or empty select list values take value from previous lists on the same page"
I have found some behavior I think it potentially dangerous. I have several select lists on a page together. They are rendered using Html.DropDownListFor, and each has a default option with the text "Select" and an empty string for a value. When the page is rendered, and any one of them has a "real" value selected, any subsequent lists //without// a value will take on the same value as the one bef

[2015-02-19 14:56] glen-84 commented on #1928
1. This is mostly (completely?) translation, and not other things like number/date formatting, etc., so I think it would be better to give it a name that makes this obvious (t, tr, trans, translate, etc.)

2. "loc" also seems like a shortening of "locale" (and not just localization), so "loc-id" is like "locale identifier", which you may expect to be something like "en-US". If you only want to sup

[2015-02-19 15:19] dougbu commented on #2039
@MelGrubb agreed there was an issue here.  We fixed the problem earlier in the RC1 milestone.  See #524.  Thanks for your involvement.

[2015-02-19 15:19] #2039 closed

[2015-02-19 15:24] MelGrubb commented on #2039
I'm seeing this on a fresh project using MVC 5.2.3 (Jan 15, 2015). Either this is a regression, or it's not the same issue as #524. Specifically, this is about the selected VALUES in a drop-down taking on values from previous drop-downs on the same page, not the list of options.

[2015-02-19 15:25] MelGrubb commented on #2039
Oh, you mean rc1 of MVC 6. I see it now.

[2015-02-19 15:30] dougbu commented on #2039
Yes, we're tracking a similar issue for MVC 5.x at https://aspnetwebstack.codeplex.com/workitem/1913.  That issue may soon be closed due to the back-compatibility concerns @yishaigalatzer mentioned there.

[2015-02-19 15:45] MelGrubb commented on #2039
I hope so. This has the potential to corrupt data in production systems. Certainly in the one I'm working on, throwing out perfectly valid nulls, and substituting them with arbitrary values based on a completely different field is pretty bad. I'm going to work around it for now by giving the nulls a magic value (-1) instead, and then translating them back to nulls on the post.

[2015-02-19 16:24] dougbu commented on #2039
@MelGrubb FYI the recommended workaround is to "create separate enumerables, containing distinct `SelectListItem` instances, for each property in your model."

[2015-02-19 17:07] MelGrubb commented on #2039
I guess that's what I'll do for now. Unfortunately, this particular list is rather lengthy, so my viewmodel just exploded. Fortunately, it's an internal application, so bandwidth is not a problem.

[2015-02-19 18:48] harshgMSFT commented on #563
85b6382c69983d29404994dfc36572a4dab7eac7

[2015-02-19 18:48] #563 closed

[2015-02-19 19:11] marcuslindblom opened #2042 "Invoke ViewComponent using javascript"
This is more of a discussion then an issue, I hope this is ok.

I'm developing a simple content management system using `ViewComponent`s and I need to update/rerender a component without rendering the complete page again. Is it possible to invoke a `ViewComponent` using javascript and skip the routing mechanism?

[2015-02-19 19:13] yishaigalatzer commented on #2042
No, that is not possible. You need a controller that returns a partial view

[2015-02-19 19:13] #2042 closed

[2015-02-19 19:27] yishaigalatzer commented on #2042
You could build a standard proxy for viewcomponents if you'd like though (similarly you could build a proxy to partial views). e.g. you a catchall attribute route on an action

[2015-02-19 19:28] yishaigalatzer commented on #953
The issue in this particular bug is addressed by b12c4c5ef81657baa484205612906c63afc6a075. However similar uses of open generics will still break ninject. This could come from users code as well as other framework code

[2015-02-19 19:29] #953 closed

[2015-02-19 20:07] yishaigalatzer commented on #2038
bb31e2aec5030ea52a27e2ffa391d152b43f8225

[2015-02-19 20:07] #2038 closed

[2015-02-19 20:51] DamianEdwards commented on #1928
@glen-84 thank you very much for the fantastically detailed and thoughtful suggestions. It's really appreciated. I hear you on the naming and we'll certainly consider alternatives.

Adding support for new syntax in Razor is obviously a fairly high bar and we're beyond the time for 1.0.0 where we could reasonably do that, so we'll support the standard HTML helper (@foo()) and Tag Helper approach fo

[2015-02-19 21:08] dougbu commented on #2027
offline decisions:
- when invoked using an HTML helper, always generate an additional `<option/>` element when the current value would not otherwise be shown
 - this is the correct behaviour and makes the `null` and "unknown" cases visibly distinct
- when invoked using the `<select/>` tag helper, have the contained `<option/>` tag helpers communicate their selection back (base on aspnet/Razor#238

[2015-02-19 21:15] ajaybhargavb commented on #1974
d236d4ffde1f830dacd4ede323ea78cd5b6d7180

[2015-02-19 21:15] #1974 closed

[2015-02-19 21:19] yishaigalatzer commented on #928
ping, we need this for in visual studio dependency. @rowanmiller showed me something that we might be able to leverage here

[2015-02-19 21:25] kichalla commented on #1184
Currently JsonInputFormatter has a flag called `CaptureDeserilizationErrors`(`false` by default) to add deserialization errors to model state dictionary.
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Formatters/JsonInputFormatter.cs#L61

Questions:
- Should we still keep this flag `CaptureDeserilizationErrors` on JsonInputFormatter OR remove it entirely and by default add an

[2015-02-19 21:26] ajaybhargavb commented on #1732
9fcf31fa43340a21b4095561c24ecd693ed929ec

[2015-02-19 21:26] #1732 closed

[2015-02-19 21:36] rowanmiller commented on #928
Sand Castle has a component that can be used to just produce an IntelliSense file (without all the other things Sand Castle does) - http://ewsoftware.github.io/SHFB/html/1fcdf9d3-06fb-4a7b-a584-f55b6ea5baae.htm.

Sand Castle isn't super lightweight and I'm not sure if there is a way to run it without having to install a bunch of stuff... so we may not want to take the dependency.

[2015-02-19 22:45] yishaigalatzer opened #2044 "Implement an equivalent to AsyncTimeOutAttribute"
We would like to be able to signal a timeout to the code below this. The design here is to call `request.Abort`

Related to https://github.com/aspnet/HttpAbstractions/issues/197

[2015-02-20 02:08] #1043 closed

[2015-02-20 02:12] #952 closed

[2015-02-20 02:12] yishaigalatzer commented on #952
This requires a lot of work, for seemingly a very minimal benefit

[2015-02-20 02:14] yishaigalatzer commented on #743
This is depending on having a `ClientCancellationToken` available as well as request aborted token.

[2015-02-20 02:16] yishaigalatzer commented on #591
Get it from `CultureInfo.CurrentCulture`

[2015-02-20 07:17] Tragetaschen opened #2047 "Consider making Razor's File -> Syntax Tree cache a generalized library function"
Razor recently got the ability to cache the syntax trees it generated from View files. For my own project, I could use that exact same functionality and I would guess that this is a common pattern for users of `ICompileModule`.

Please consider generalizing that into a library somewhere between .Mvc.Razor and .Framework.

[2015-02-20 08:19] DamianEdwards commented on #1928
@glen-84 the sample site containing a functional (but not at all complete and likely very buggy) prototype of much of our plans is now at https://github.com/DamianEdwards/i18nStarterWeb

[2015-02-20 15:39] #1693 closed

[2015-02-20 17:44] yishaigalatzer commented on #1133
@rynowak please come up with a recommendation for this

[2015-02-20 17:45] yishaigalatzer commented on #928
CC @muratg @danroth27

[2015-02-20 17:56] yishaigalatzer commented on #2047
We are not planning to provide a general capability here. We have a very specific implementation for are uses, and its super simple to write your own cache (where you will control the lifetime and eviction policies)

[2015-02-20 17:56] #2047 closed

[2015-02-20 17:58] yishaigalatzer commented on #2044
This will be a resource filter (wrapping)

[2015-02-20 18:11] pranavkm opened #2050 "Consider using IMemoryCache with sliding expiration for ViewLocationExpanderCache"
* We could consider switching the `DefaultViewLocationExpanderCache` to use an `IMemoryCache` instance. This way we could apply sliding expiration policies to evict cached view locations after some time (~5mins?).

* We build keys in `DefaultViewLocationExpanderCache` but don't hash them (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/CacheTagHelper.cs#L172-L177). Since

[2015-02-20 19:59] yishaigalatzer commented on #2028
These helpers had to do with the Ajax based validation we are not carrying forward

[2015-02-20 19:59] #2028 closed

[2015-02-20 20:17] glen-84 commented on #1928
You're welcome, and thank you for reading. :smile:

Understood. Do you think something like this may be considered for the next release of Razor (post 4.0)? It's no secret that I'm not a big fan of tag helpers (and would love them to be implemented as a plug-in), so it would be nice to have a more code-focused alternative for things like the cache helper, etc.

How will you handle prioritization?

[2015-02-20 21:00] #650 closed

[2015-02-21 00:30] dougbu commented on #2027
Updated subject to reflect unconditional nature

[2015-02-21 05:27] ianhong commented on #1571
4bb85eeaeb479edf8abff34e9078886c14d32861
and
23e6264715b0055218611b3f36ac45098f6b0fb1

[2015-02-21 05:27] #1571 closed

[2015-02-21 07:06] dougbu commented on #438
design is fairly simple: when unable to find a select list for a non-`[Flags]` `enum`, generate a collection of `SelectListItem`s based on the `enum`'s type.  this generation will be analogous to `EnumHelper.GetSelectList(Type)` from MVC 5.  (that class' handling of the current expression result will _not_ be included.  #2027 covers a similar but broader enhancement.)

minor complication for `<sel

[2015-02-21 07:51] Daniel15 opened #2056 "Dependency injection in HTML helpers"
What's the recommended way of getting dependencies from the dependency injection container within an `IHtmlHelper` extension method if required?

[2015-02-21 20:04] Ciantic opened #2058 "Creating a Model Binder & attribute that parses named parameters from body?"
I've been trying to implement model binder for my needs, I'm sorry if this is not a right place to ask, but the Model Binder classes keep changing! (Naturally cause this is not released version)

I think my need is valid, and the people creating model binder classes could address this pretty easily. As they understand the abstraction they are doing.

I have following controller action:

    [FromB

[2015-02-21 20:35] dougbu commented on #2056
@Daniel15 use `htmlHelper.ViewContext.HttpContext.RequestServices.GetRequiredService<T>()`.  the `GetRequiredService<T>` extension method is in the `Microsoft.Framework.DependencyInjection` namespace.

TL;DR
not recommended: it is also possible to subclass `HtmlHelper` and `HtmlHelper<T>`, add your required services to the constructor parameters, make the services visible as properties, and replac

[2015-02-21 23:11] NTaylorMullen commented on #1571
@ianhong one of the commits is invalid.

[2015-02-22 15:29] ranquild opened #2059 "RequireHttpsAttribute local requests"
Usually http to https redirection is needed only for remote requests. Common case is development environment. Now developers need to use workarounds like [this](http://stackoverflow.com/questions/1639707/asp-net-mvc-requirehttps-in-production-only). What about skipping http to https redirection by default on local requests, or creating a property on the attribute that will allow to do so?

[2015-02-22 19:45] Daniel15 commented on #2056
Thanks @dougbu!

[2015-02-22 19:45] #2056 closed

[2015-02-23 05:19] ianhong commented on #1571
The invalid commit number is a Razor one, and the actual commit is https://github.com/aspnet/Razor/commit/23e6264715b0055218611b3f36ac45098f6b0fb1

[2015-02-23 18:28] kichalla commented on #2044
Scenarios:
- Client disconnects while request is being executed on the server.
Example:
An html page could be making ajax calls and when user navigates to other pages, the previous page's ajax calls could cause disconnects.
- Execution timeout set on an action. Once the time elapses the given timeout value, the request should be aborted.

[2015-02-23 18:30] ianhong commented on #769
@yishaigalatzer  and @danroth27
Not sure if we still want to do this? I think this is already fixed.

In MVC, we can do
                    services.AddMvc();
                    services.ConfigureMvcOptions(options =>
                    {
                        options.Filters.Add(typeof(PassThroughAttribute), order: 17);
                    });

In SignalR we can do
                services.Ad

[2015-02-23 18:46] kirthik commented on #1837
checked in - f6e701b2b2d01ae068b144416aeac080c623bc17

[2015-02-23 18:46] #1837 closed

[2015-02-23 19:07] danroth27 commented on #2059
We don't want to special case localhost for such a security sensitive scenario. Note that setting up HTTPS in development is pretty easy now with IIS Express.

Alternatively, you can implement a filter override semantic based on the environment you are running in. See http://www.strathweb.com/2015/02/overriding-filters-asp-net-mvc-6/ for an example of how to do this.

[2015-02-23 19:10] danroth27 commented on #2050
We should measure the impact on memory given an app with lots of views.

[2015-02-23 19:22] yishaigalatzer commented on #2058
This is a pattern we decided not to support by default. Because the body can only be read once, but in particular scenarios (when the body stream is buffered and rewound) it can actually work (and support `[FromBody]`)

You can build something like - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ModelBinding/ValueProviders/FormValueProviderFactory.cs

And register it like -
https

[2015-02-23 19:50] DamianEdwards opened #2062 "Script & Link tag helpers should do explicit ordering of globbed path results"
The script and link tag helpers currently just render new elements based on the result of the `Matcher` API and the provided globbing file paths. They should implement a more concrete ordering scheme to ensure that results and subsequently elements are always rendered in a deterministic and reliable fashion.

Proposed sort order is depth first alphabetical, e.g.:

Files:
- :open_file_folder: a-sub

[2015-02-23 23:26] yishaigalatzer opened #2066 "Add unit tests to all nested provider managers to verify order"
Required for things that resolve the IEnumerable or array of the following types:

`IActionConstraintProvider`
`IApiDescriptionProvider`
`IFilterProvider`
`IViewComponentInvokerProvider`
`IActionDescriptorProvider`
`IActionInvokerProvider`

and in general interfaces that implement the following pattern

[code]

[2015-02-24 01:57] pranavkm commented on #769
Might want to ping @davidfowl \ @HaoK  to see what design for `ConfigureOptions` we landed on. Would be helpful for us to be consistent across EF, SignalR and Mvc.

[2015-02-24 03:08] rynowak commented on #743
Blocked on aspnet/HttpAbstractions#197

[2015-02-24 06:04] #1949 closed

[2015-02-24 08:24] Bartmax opened #2068 "Removing _ prefix from views like _Layout.cshmtl"
Since now there's a `wwwroot` folder and views are no longer available from the server, is there any reason to leave the `_` on ViewStart, Layout, and even partials ?

[2015-02-24 09:18] Bartmax opened #2069 "Changing wwwroot via enviroment setting"
Is it possible to have a `wwwroot` for some build configuration and a `devroot` for other build configuration ?

So my gulp task generate files to `devroot` when developing and the server start on `devroot` but when im doing a build (preparing for publish, when I minify and concatenate all files, etc) I use the wwwroot ?

does it make sense?

I currently have my script and style files inside wwwro

[2015-02-24 09:18] Muchiachio commented on #2068
I believe it was only used as a convention, because you don't necessary need to specify _ in any razor view names.

[2015-02-24 11:25] pranavkm commented on #2068
`_ViewStart` and now `_GlobalImport` are the only ones that require the `_` prefix. The prefix is optional for other view files. It might be simpler to leave the prefix for `_ViewStart` to make it easier to port applications. Additionally, the plan is to eventually bring back a [Web Pages \ Razor pages](https://github.com/aspnet/Mvc/issues/494) based framework built on top of Mvc which might requi

[2015-02-24 14:45] kichalla commented on #468
Commits:
c276ddaa39735a8826b1da27b84dd793865a65e4
f737083c946137dd9a411759c3ca83856a0083a2

[2015-02-24 14:45] #468 closed

[2015-02-24 14:46] kichalla commented on #1971
Commits:
c276ddaa39735a8826b1da27b84dd793865a65e4
f737083c946137dd9a411759c3ca83856a0083a2

[2015-02-24 14:46] #1971 closed

[2015-02-24 18:47] #1184 closed

[2015-02-24 18:48] kirthik opened #2071 "TryValidateModel and TryUpdateModel don't revalidate the model if model is already validated after model binding"
If I have an action
[code]

`TryValidateModel(product)` does not re-validate model since it is already validated after model binding.

We should clear model state errors and change the `ValidationState` to `Unvalidated` in `ModelStateDictionary` for `TryValidateModel` and `TryUpdateModel`

[2015-02-24 19:15] rynowak commented on #1694
@kirthik what was the decision here? I see a PR out for review but I don't get what it's supposed to do. Is this behavior configurable? How?

[2015-02-24 19:27] kichalla opened #2073 "Flags enum property not being properly bound in some scenarios"
I came across the following question in SO today
http://stackoverflow.com/questions/28548607/mvc6-custom-model-binder-for-an-enum-with-the-flags-attribute

I was able to repro this issue. Should this scenario be supported by default? I think yes?

[code]

Following input works(i.e the value of CarType property is Coupe | Sedan):
`person.CarType=Coupe,Sedan`

Does not work(i.e the value of CarType

[2015-02-24 19:48] Ciantic commented on #1694
I hope it's configurable somehow, in my Web Api the parameter names are used as key names in request, so they are meaningful.

[2015-02-24 19:50] kirthik commented on #1694
@rynowak - the decision was to remove prefix.

[2015-02-24 19:59] ajaybhargavb commented on #842
dc49a2c194c777641bd86f51f071b75a0a00e477

[2015-02-24 19:59] #842 closed

[2015-02-24 20:20] Tragetaschen opened #2074 "With certain errors, razor precompilation throws an exception when trying to report them"
I'm currently trying to track down a Razor precompilation issue on Mono in beta3.

The error with vanilla beta3 is:
[code]

I have `WriteLine`'ed the parameters as follows:
- `error.Location.AbsoluteIndex`: -1
- `error.Length`: 1
- `filePath`: [path to my view]
- `error.Message`:

[code]

This parameter combination probably shouldn't give a stack trace that hides the actual error.

[2015-02-24 21:41] Tragetaschen opened #2075 "On Mono with beta3, precompilation during build/pack/bundle fails to load tag helpers"
I have created a small repro:
https://github.com/Tragetaschen/RazorPrecompileTagHelperIssue

When I do `kpm build`, I get the stack trace from #2074 with the underlying error
[code]

When I do `k kestrel`, the application starts fine.

In both cases, the `Console.WriteLine` from the compile module's constructor is printed.

[2015-02-24 21:56] rynowak commented on #2073
@kichalla what was the behavior in MVC5?

[2015-02-24 21:58] rynowak commented on #2073
Possible regression? https://github.com/aspnet/Mvc/issues/165

[2015-02-24 22:34] kichalla commented on #2073
Good questions, @rynowak ...this was `not` supported in MVC 5 too...

In the bug you referenced, the scenario seems to be similar to mine(except that the data is coming from uri). The tests as part of this commit do not seem to have be covering the scenario that the bug mentions but tests the comma separated scenario.

[2015-02-24 23:36] rynowak commented on #2073
If you think that we're missing tests for an **already supported scenario** then please just add them if it's quick, otherwise open a separate issue.

[2015-02-24 23:38] #2062 closed

[2015-02-24 23:47] DamianEdwards commented on #575
I think we should re-triage this.

[2015-02-25 10:05] Boglen opened #2077 "Wrong output @Url.Action with route values and Action empty or null"
Microsoft.AspNet.Mvc.Core version 6.0.0-beta4-12872

Code in View:

@Url.Action(subItem.Action, subItem.Controller, subItem.LinkProperties)

LinkProperties = new Dictionary&lt;string,object&gt;() { id = 1, sortOrder = "desc", pageNum = 1};

Generates:
![1234](https://cloud.githubusercontent.com/assets/10594440/6368604/0ccd1ca2-bd00-11e4-9e59-c48b638a0178.JPG)

with wrong amp

/Page/GetPage/3?pageN

[2015-02-25 10:30] phillip-haydon opened #2078 "Manually validate the model."
Because WebAPI sets parameters to null when there's no arguments to satisfy the creation of the object, I have to create the model itself in an Action Filter.

I tried to do it in a Model Binder but implementing that is far too complicated when all I need is binding to be implemented, as is, with the exception that it doesn't return null.

As a result validation wont work because its done before A

[2015-02-25 12:24] Boglen commented on #2029
Let i'm try to explane the idea.
1) I have entity with controller,action, parameters fields. Controller and action is a string fields, and parameters = Dictionary&lt;string,object&gt;() {}
2) In view i have @Url.Action(item.Action, item.Controller, item.Parameters)
3) Routes:

                   routes.MapRoute(
                        name: "default",
                        template: "{controlle

[2015-02-25 13:28] djanosik opened #2081 "Is there anything like IDirectRouteFactory"
Hi,

is there anything like IDirectRouteFactory? Or - is there any way to modify routes created from attributes?

Thank you!

[2015-02-25 18:44] Boglen commented on #2077
One more problem:

Let me try to explain the idea.
1) I have entity with controller,action, parameters fields. Controller and action is a string fields, and parameters = Dictionary&lt;string,object&gt;() {}
2) In view i have @Url.Action(item.Action, item.Controller, item.Parameters)
3) Routes:

                   routes.MapRoute(
                        name: "default",
                        tem

[2015-02-25 18:45] yishaigalatzer commented on #2081
There is no `IDirectRouteFactory` you can use the `ApplicationModel` to modify routes (and many other things).

You can start here:
https://github.com/aspnet/Mvc/tree/dev/test/WebSites/ApplicationModelWebSite
or here:
https://github.com/yishaigalatzer/ResourceController

[2015-02-25 18:45] #2081 closed

[2015-02-25 18:52] blowdart opened #2082 "Build fails when source is under a directory with spaces in the name"
Repo steps

1) Create a directory "Bad Example"
2) Clone MVC into the MVC directory under "Bad Example"
3) Run build
4) Watch it barf when validating node signatures because directories aren't quoted when passed to signtool.
[code]

[2015-02-25 18:54] yishaigalatzer commented on #2078
This sounds like a Web API 2.X question. This repository tracks MVC 6.
I suggest you open a question in the forums or stackoverflow.

in MVC 6 we will create an object rather than return null by default, so your issue is resolved in this framework. If you change the object in an action filter, you can always call `TryValidate` on it. This wasn't supported in Web API 2.x

[2015-02-25 18:55] ajaybhargavb commented on #1823
9f9dcbe6ec2e34d8a0dfae283cb5e40d8b94fdb7

[2015-02-25 18:55] #1823 closed

[2015-02-25 19:05] yishaigalatzer commented on #2082
@blowdart seems to be a sake thing, not an MVC thing. Or am I wrong?

[2015-02-25 19:07] #2068 closed

[2015-02-25 19:31] blowdart commented on #2082
I honestly don't know - building MVC is the first one that failed for me, hence you getting it. HttpAbstrations, Security, Identity all build just fine from the same directory structure.

[2015-02-25 20:42] Eilon commented on #2029
@rynowak in case he has thoughts.

I still think this is by design because there is a valid way to generate a URL for the first route. The "ambient values" of the current URL and matching route are factors in determining which URL to generate. You can use named routes to use a specific route when generating a URL and that avoids the linear matching algorithm whereby the system tries to match each

[2015-02-25 20:49] Eilon commented on #2077
What's the relationship between this issue and https://github.com/aspnet/Mvc/issues/2029?

[2015-02-25 22:10] #2078 closed

[2015-02-25 22:14] danroth27 commented on #2075
Dup of #1693. This is being fixed post beta3.

[2015-02-25 22:14] #2075 closed

[2015-02-25 22:56] danroth27 commented on #2077
@ianhong Please try to repro the double encoding issue.

[2015-02-25 22:59] danroth27 commented on #2074
We should see what the current behavior is now that precompilation and taghelpers work nicely together.

[2015-02-26 01:40] rynowak commented on #2029
:100: what @Eilon said. The "ambient values" are part of the system - they always apply.

Fortunately, all of this is highly tuneable, you can get the results your want with a little more work.

1). You can change the order of your routes. It sounds like you prefer `{controller}/{id}` over `{controller}/{action}/{id}`. So then consider adding `{controller}/{id}` first so it's tried first. Anything

[2015-02-26 18:01] DamianEdwards commented on #2069
The intent is you always use your configured webroot as that what the web server can see. If you want to have different files between different environments, you can configure multiple targets in your grunt config and call them accordingly. You can then use the `<environment>` tag helper along with the `<link>` and `<script>` tag helpers to serve the different files on different environments, e.g.

[2015-02-26 18:01] #2069 closed

[2015-02-26 23:23] ajaybhargavb opened #2085 "Use custom HtmlEncoder in unit tests rather that default implementation."
Follow up for #2076

Consider using a custom Html encoder like this.
[code]

[2015-02-26 23:36] Eilon opened #2086 "FilePathResult WriteFileAsync uses SendFile feature incorrectly"
The logic should be:

* Get file info from file provider
 * If file is physical *AND* SendFile feature exists, use SendFile
 * Else (either file isn't physical, or SendFile feature doesn't exist), use the CopyStream implementation

[2015-02-26 23:36] Eilon commented on #2086
The current issue is that even for non-physical files it sometimes tries to use the SendFile feature.

[2015-02-27 00:12] DamianEdwards opened #2088 "Ensure JavaScript in LinkTagHelper is defensively using DOM APIs"
We only need to work in evergreen browsers, but we don't want to throw errors in older browser, so the JS needs to check for existence of DOM APIs before it calls them.

[2015-02-27 00:49] DamianEdwards commented on #2021
Now at https://github.com/aspnet/jquery-ajax-unobtrusive

On bower:
![image](https://cloud.githubusercontent.com/assets/249088/6405356/4f73c15a-bdd7-11e4-8f2c-d4a539bb637f.png)

[2015-02-27 00:49] #2021 closed

[2015-02-27 02:44] yishaigalatzer commented on #2078
In Web API 2 you can call `Validate<T>(model)` in the action body

[2015-02-27 02:56] #1212 closed

[2015-02-27 03:19] phillip-haydon commented on #2078
@yishaigalatzer cannot, this is done at a filter.

I had to add an action filter to fix the broken design of WebAPI giving null objects, but because that happens after model binding and validation I have to do validation in a action filter myself.

I just rewrote the validation myself just lacking support for complex models, since we don't have anything complex.

[2015-02-27 16:22] Tragetaschen opened #2094 "Major performance difference between Windows and Linux"
There is a major performance difference using the same binaries between Windows and Mono. I have bundled my beta3-based application and run the application with the `*.cmd` and `*.sh` respectively.

On Windows, the first request for Home/Index takes approximately 1000ms, every subsequent one is in the 10-20ms range. On Linux, the first request takes about 25000ms (really, that's 25s) and every sub

[2015-02-27 16:47] Tragetaschen commented on #2094
A simple content action (`return "Hello";`) show 4 ms / 28 ms on Windows / Linux.

If I remove `_ViewStart.cshtml`, I get 600ms / 15,000ms for the first page view and 7ms / 43ms for subsequent requests.

[2015-02-27 17:00] Tragetaschen commented on #2094
Without precompilation, without `_ViewStart.cshtml` I get 6000/15000 for the first request and fast as above for subsequent requests.

So I can say:
- The precompilation done on Windows during `bundle` is not picked up on Linux.
- An existing `_ViewStart.cshtml` file seems to invalidate the Razor compilation result on Linux for every request.

[2015-02-27 17:49] Tragetaschen commented on #2094
The numbers are the same for a blank `ASP.NET 5 Preview Starter Web` with added `Kestrel`

[2015-02-27 18:24] yishaigalatzer commented on #2078
Here is how you can do it very simply -

[code]

[2015-02-27 18:29] DamianEdwards commented on #2088
Fixed in 6490b113d8f0e0ca4f7835e703593024f7adc332

[2015-02-27 18:29] #2088 closed

[2015-02-27 18:48] DamianEdwards commented on #1577
Fixed in 8b64e3c7bbe27725cdf01810b6ccdd5c6f2b8431

[2015-02-27 18:49] #1577 closed

[2015-02-27 19:43] milutinovici opened #2095 "Mark IControllerFactory methods in DefaultControllerFactory as virtual"
Methods I'm referring to are CreateController and ReleaseController. These extension points are sorely needed.

[2015-02-27 19:56] Rast1234 opened #2096 "Ability to test actual routing without starting application/webserver"
Hello. I'm using ASP.NET Web API 2 in production right now. At the beginning of this pleasant journey my team had issues with routing: when you add or modify routes, there is a chance to break currently working ones because of default parameters, one route being a substring of another and other ways. I searched for a way to simulate whole Web Api pipeline and observe route match results (controlle

[2015-02-28 00:16] aanufriyev opened #2097 "Cannot get controller instance in IExceptionFilter"
In previous versions there was a way to get controller instance in exception filter like:
<code>var curentController = actionExecutedContext.ActionContext.ControllerContext.Controller;<code>

In MVC6 this feature seems to be missing from <code>ExceptionContext</code>. In <code>IActionFilter</code>'s <code>ResultExecutingContext</code> Controller property exists.

This stuff is very useful when exc

[2015-02-28 06:50] Daniel15 opened #2100 "Pulling helpers into scope in cshtml"
With previous versions of ASP.NET MVC, "using" directives can be added to C# code generated from Razor (cshtml) files by adding them to the `Views\web.config` file (`system.web.webPages.razor` - `pages` - `namespaces`). A NuGet package that includes HtmlHelper extensions can take advantage of this by adding something like this to `Content\Views\web.config.transform`:

[code]

So `@Html.Foo()` will

[2015-02-28 07:48] GrabYourPitchforks commented on #2085
BTW, the HttpAbstractions repo already has this code for you to copy if you wish. See the implementation at https://github.com/aspnet/HttpAbstractions/blob/dev/test/Microsoft.Framework.WebEncoders.Tests/CommonTestEncoder.cs.

[2015-02-28 09:29] NTaylorMullen commented on #2100
Yup definitely is! :smile: http://stackoverflow.com/questions/28719298/add-namespace-to-all-views-in-asp-net-mvc-6/28729828#28729828

[2015-02-28 09:29] #2100 closed

[2015-02-28 09:45] Daniel15 commented on #2100
Is there a way to add the `using` statement to `_GlobalImport.cshtml` automatically when a NuGet package is installed?

[2015-02-28 09:46] davidfowl commented on #2100
Nope, we don't support content packages right now.

[2015-02-28 16:47] Tragetaschen commented on #2094
I've found two issues and from what I can see, both are already fixed on `dev` (albeit accidentally :-) ):

[First](https://github.com/Tragetaschen/Mvc/commit/ca32626c37e82a361d94eadee517d42bc0d3b8a6), `_ViewStart.cshtml` files in beta3 are associated with a page's cache entry using the normalized path instead of the native one, so enumerating the possible locations fails and the cache property is

[2015-02-28 18:21] Eilon commented on #2100
And my personal opinion about a NuGet package doing such a thing is that it's quite evil. If I install a regular NuGet package with a DLL, I don't want it effectively adding a "using" statement to all my *.cs files. I don't want a Razor-related NuGet package doing that either.

[2015-03-01 00:38] Bartmax opened #2101 "Problems with bower grunt gulp workflow on MVC5 (or less) and MVC6"
I'm having some problems to work with a bower-gulp workflow with asp.net
I encourage you to create a new project and do a complete gulp/grunt workflow where you have dev files while debuggin, build files on build and use some of the common workflow utils like useref and wiredep. You know, source files on dev, build files on prod with bumping, min, auto update .cshtml references and publishing the

[2015-03-01 01:02] davidfowl commented on #2101
I'm trying to extract something concrete from the listed pain points for Mvc 6:
- wiredep and useref don't work well with razor files because of ~

/cc @madskristensen @sayedihashimi @DamianEdwards

[2015-03-01 02:54] dougbu opened #2102 "Need `[NotNull]` for all `TextWriter parameters in `RazorPage`"
`RazorPage` does some `null` checks in various property getters.  however most methods do not check their parameters.  the most obvious examples are methods that have `TextWriter` parameters -- none check the value before using it.

suspect methods that have a `RenderAsyncDelegate` parameter also need `[NotNull]` for them.

[2015-03-01 12:56] Bartmax commented on #2101
I will list what I think are the biggest problems that I found for MVC6 in order starting with the worst one:

*  useref don't work because of ~.

*  There's no clear/clean way to use processed `.cshtml` build files. (see below)

* wiredep and inject need customization to generate ~ in paths.

* wwwroot cannot access bower_components unless you save them inside wwwroot. (see below)

**More info on

[2015-03-01 20:24] Eilon commented on #2101
I'm not super familiar with these components, but CSHTML is its own file format, so if a tool for processing just HTML is run on it, I wouldn't be surprised if it mangles the format. It's like running a JavaScript lint or minify tool on a TypeScript file. They're *kinda* similar, but not at all the same. Such a tool would no doubt ruin the TypeScript file. Or is this some other kind of problem?

[2015-03-02 03:19] phillip-haydon commented on #2078
@yishaigalatzer I have a global action to fix up the null parameters.

The validate stuff is helpful tho. Thanks a lot.

[2015-03-02 05:29] ctolkien opened #2105 "Input Taghelper generates invalid markup."
(This is in beta 3)

Repo razor file:

[code]

Expected output

[code]

Actual output:

[code]

The above, being invalid HTML.

"The input element is a void element. An input element must have a start tag but must not have an end tag."

-- http://www.w3.org/TR/html-markup/input.text.html#input.text-tags

[2015-03-02 05:37] NTaylorMullen commented on #2105
Duplicate of https://github.com/aspnet/Mvc/issues/1571

Note that this has been fixed :smile:

[2015-03-02 05:37] #2105 closed

[2015-03-02 10:36] ChrisProlls commented on #811
I'm trying to do the same as @adriaanp but it still doesn't work (I posted on stackoverflow : http://goo.gl/ycjV7k), and I don't find any solution for the moment. Are there news about it ?

[2015-03-02 15:47] yishaigalatzer commented on #811
Use [FromBody] for json posts

[2015-03-02 16:45] ianhong commented on #769
@rynowak
I'm closing this issue, but please add more details about the decision that you made..

[2015-03-02 16:45] #769 closed

[2015-03-02 17:17] ianhong commented on #2077
@danroth27 I can repro this, and I'm looking into the product code to find the root cause.

[2015-03-02 18:05] kichalla commented on #2044
This feature has been cut, so closing it.

[2015-03-02 18:10] ianhong commented on #2077
I think this happens because it calls WriteTo instead of WriteLiteralTo in the following code:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/RazorPage.cs#L391-L394

I think I should talk to @dougbu and @NTaylorMullen before making any fix.

[2015-03-02 18:17] dougbu commented on #2077
/cc @rynowak since he created the "extra branching" here.  could be reasons for the `WriteTo` (HTML encode) / `WriteLiteralTo` (don't) inconsistency.  could also be another example of our standard confusion that "Literal" means "`string` value".

[2015-03-02 18:44] ianhong commented on #2077
@rynowak
MVC5 has the same behavior. Users should use Html.Raw to avoid this  in this case.

[2015-03-02 18:50] ianhong commented on #2077
@Boglen
I'm closing this issue. This behavior hasn't been changed since MVC5. I think you can use Html.Raw as follows in this scenario.
<A href="@Html.Raw(Url.Action("About", new { Id = 1, PageNum = 2, Sol = 3}))">Foo</A>

[2015-03-02 18:50] #2077 closed

[2015-03-02 19:13] Bartmax commented on #2101
**TL;DR:**
It's not about if those tools should work with .cshtml or not, it's about having a nice experience on doing the minimal required client-build steps from dev to publish.

@Eilon It's not a surprise that these tools doesn't align well with .cshtml file. That's not really a concern here, the more important issue is that when you do web development, the client-side workflow of minifing, bun

[2015-03-02 20:10] dougbu commented on #1468
Fixed in commit ae4cafc002c8475d116b3c5c0be75fe9deb2cb11

[2015-03-02 20:10] #1468 closed

[2015-03-02 20:32] rynowak commented on #2097
Hi @aanufriyev we made this change recently as part of a change to when controllers are instantiated and disposed. This is something we might consider adding back if it impacts some significant scenarios.

We've also anticipated scenarios like yours and have a few alternative ways of accomplishing that.  Would you mind sharing some sample code with us? If you can give me an example I want to take

[2015-03-02 20:35] davidfowl commented on #2101
/cc @DamianEdwards

[2015-03-02 22:33] yishaigalatzer opened #2108 "StringOutputFormatter fails when HttpNotAcceptableOutputFormatter is used"
### Repro
Add the following code to startup and return a `string` from a controller action.
[code]

### Expected
The string value is written out

### Actual
A 406 result with no content

(This came from a customer code)

[2015-03-02 23:38] ctolkien commented on #2101
Do we still need uncompressed/uncombined files for local development? Can just use sourcemaps which simplifies the entire process (no need to rewrite any template files).

[2015-03-02 23:57] rynowak commented on #769
Per response to the original issue, we recently added the following:
[code]

[2015-03-03 02:34] maxtoroq opened #2109 "Add StatusCode to ActionResult"
A lot of ActionResults have a StatusCode property. Instead of being duplicated it could be defined in the ActionResult class. This would allow you to write generic code against ActionResult and know the outcome of the action (e.g. success or error), without to having to cast to all the different implementations to find out, if available.

[2015-03-03 05:26] NTaylorMullen opened #2110 "Enable @tagHelperPrefix to be inherited by _GlobalImport.cshtml"
Once aspnet/Razor#309 is completed we should enable `@tagHelperPrefix "..."` to be inherited.

Its inheritance behavior should be identical to the `@addTagHelper` and `@removeTagHelper` directives.

[2015-03-03 07:20] rynowak opened #2111 "Consider bringing back HttpUnauthorizedResult"
This is missing from MVC 5. We have most of the result types ported over, but this one in particular was missing.

[2015-03-03 08:08] HaoK commented on #634
Fixed

[2015-03-03 08:08] #634 closed

[2015-03-03 08:10] HaoK commented on #1601
Active/Passive have been reworked a bit, and removed from base AuthenticationHandler and pushed to a new derived AutomaticAuthenticationHandler (which today only Cookies and Bearer extend).  Social auth middlewares no longer have this concept

[2015-03-03 08:10] #1601 closed

[2015-03-03 08:34] StevenVandenBroeck opened #2113 "AmbiguousException with query string parameters in API"
I have the following actions in my controller :

[code]

which would enable me to do the following :
[code]

When I try any of the above requests, I get an AmbiguousException (Multiple actions matched. The following actions matched route data and had all constraints satisfied...).

Do I need to configure something else to enable the router to match the right action to an URL with query string para

[2015-03-03 09:20] aanufriyev commented on #2097
Here is gist https://gist.github.com/aanufriyev/4bd6b4b19cec0cd5e755
Just a sample, but controller instance can act as dependency provider. Anyway - type of controller is available, but I think it is not a good idea to create controller instances in filter.

[2015-03-03 18:10] rynowak commented on #2097
Thanks.  Here's what I'd suggest trying.

This is based on a new pattern that we have in vNext to place arbitrary metadata in filters. So, an `IFilter` might be something that acts (like `IExceptionFilter`) or it might just be data (`ExceptionMappingAttribute`).

The advantage of this is that it's scoped, so you can have a mapping apply globally, to just the controller, or to an action. It's also

[2015-03-03 18:11] rynowak commented on #2097
/cc @loudej

[2015-03-03 18:34] rynowak commented on #2113
Hi Steven,

MVC 6 by-default doesn't have a feature like WebAPI action overloading - additionally all action parameters are by-default optional. The 'MVC' way to build this would be just use one action with `int?` parameters and decide to page or not inside the action.

If you're not enamored with this idea we have some other options. We've a built a compatibility shim for porting WebAPI applicati

[2015-03-03 19:05] aanufriyev commented on #2097
This stuff can become messy :) Also factor in some inheritance... And exceptions can be quite granular.

[code]
Maybe ExceptionMappingAttribute can contain more then one mapping, but it feels a bit strange to have two filters for for exception mapping.

[2015-03-03 19:26] rynowak commented on #2097
Keep in mind that doing it this way works *with* inheritance and scoping, there's no need to duplicate. So the exception mappings on an action include those on:
1). The action directly
2). The controller
3). Inherited from a base controller
4). Registered in startup (options.Filters)

If your exception mappings are consistent you can register them all during startup. If you want to treat the same

[2015-03-03 19:38] aanufriyev commented on #2097
I think that filter stuff will be ok. Will move mapping to it. One thing still bugs me:

In old case - controller was owner of knowledge about it own exception mappings. New way - this knowledge is separated into another entity, which is mapped one-to-one with controller and cannot be used in other places(At least in my case. Will be strange to use specific protocol exception maooing with anything

[2015-03-03 20:12] rynowak commented on #2097
I'm not really sure what you mean - you can put the `[ExceptionMapping(...)]` wherever it is meaningful. If you put `[ExceptionMapping(typeof(FooException)...]` on a controller, then it only applies to the actions in that controller.

Same thing with `[MapExceptions]`. You don't have to register it in `options.Filters` -- it could go on a controller/action/controller-base-class, whatever you think

[2015-03-03 20:17] aanufriyev commented on #2097
I'm talking about encapsulating knowledge inside entity, that must own it exclusively. Sorry for crappy English

[2015-03-03 20:30] rynowak commented on #2097
No worries and thanks for your feedback. We still may bring back the ability to see the controller in exception filters, just gathering info for now.

[2015-03-03 20:33] aanufriyev commented on #2097
Thanks for answers. Will close issue and use suggested way for now.

[2015-03-03 20:33] #2097 closed

[2015-03-03 20:49] HornerGrahame opened #2115 "Mvc ViewEngine not working as expected"
Ive created a custom implementation of the RazorViewEngine which overrides the methods and locations for views, I have cleared the viewengine collection of the mvc options and attached the custom view engine type.

 however the view engine fails to resolve? It seems that the view engine hasn't been successfully registered

[2015-03-03 21:13] victorhurdugaci opened #2116 "Bower blocks build on first run"
On a clean machine on which Bower never ran if you build MVC you will get the following message waiting for a answer. This blocks the build script on clean build agents.

[code]

Is there a parameter or something that you can pass to bower to not require user interaction?

[2015-03-03 21:14] Eilon commented on #2115
Can you show any of your registration code from Startup.cs? And any relevant code from your custom view engine?

[2015-03-03 22:36] dougbu commented on #2116
this should be specific to clean build agents.  otherwise we'd be seeing hangs on all existing agents.  suggest running a build interactively once when creating a new agent.  I'm not aware of a suppression option unless `--quiet` has that side-effect.

[2015-03-03 22:40] ajaybhargavb commented on #2012
81c3b75980e9e232369e6f18aecdaa478685c39f

[2015-03-03 22:40] #2012 closed

[2015-03-03 23:23] dougbu commented on #1993
moving to RTM milestone per offline discussions.

[2015-03-03 23:33] dougbu commented on #1993
side note: chosen design is well-suited for JavaScript unit tests but inappropriate for MVC functional tests.  for the functional tests, should instead use [Selenium](http://docs.seleniumhq.org/) and drive the tests from xUnit.  (could drive tests using JavaScript but the result would have analogous components and no major upsides.)

[2015-03-04 00:37] danroth27 commented on #2115
Take a look at this sample in the MVC tests and let us know if you are doing something different: https://github.com/aspnet/Mvc/tree/dev/test/WebSites/CompositeViewEngineWebSite.

[2015-03-04 00:40] #2113 closed

[2015-03-04 00:43] danroth27 commented on #2109
We want to keep the action result abstraction free of any specific result logic.

[2015-03-04 00:43] #2109 closed

[2015-03-04 00:52] danroth27 commented on #2096
You can use TestServer to host an MVC app in memory and then run integration tests including routing in memory. Take a look at the following examples in the MVC tests: https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/RoutingTests.cs.

[2015-03-04 01:25] HaoK commented on #432
Closing this out, tracking AuthZ/AuthN issues in security, this issue deals with AuthN filtering https://github.com/aspnet/Security/issues/159

[2015-03-04 01:25] #432 closed

[2015-03-04 02:18] Rast1234 commented on #2096
Thank you for the link. As far as i can see, running a TestServer does the thing. However, i have questions now:
1) With TestServer, you have to actually call an action, not just select it. What if you are testing just routes? //correct me if i'm wrong
2) Who does the magic of putting RoutingResult to response body? If you want to test actual response body, where to get it?
3) You compare result.a

[2015-03-04 06:29] Daniel15 opened #2118 "Doesn't run "out of the box" on Mac OS X (System.IO.IOException: Too many open files)"
Mono 3.12.0
Mac OS X Yosemite (10.10.2)

I made a site using the Yeoman generator (as per http://blogs.msdn.com/b/webdev/archive/2014/08/12/develop-asp-net-vnext-applications-on-a-mac.aspx), selected "Web Application" in the generator (which includes all the default sample pages), and tried running it unmodified:

[code]

This resulted in a "Too many open files" exception:

[code]

I tried [increa

[2015-03-04 06:33] Boglen opened #2119 "TagHelpers: asp-route with collection of parameters"
Will asp-route to take a collection of parameters?

properties = new { id = 21, sort_order = "desc", pageNum = 1}

[2015-03-04 14:23] samritchie commented on #2118
+1

The HelloMvc sample from aspnet/Home runs, as does the yeoman EmptyApplication, but the WebApplication template doesn't. I might start randomly deleting stuff and see what works.

[2015-03-04 14:26] antonmes commented on #2118
about versions in examples:
you should use the same runtime version. yo generator project still using beta2 (look into project.json)
so you need to "kvm install 1.0.0-beta2" or change it to beta3
if you want to use the latest dev builds, you should:
1)configure nuget https://github.com/aspnet/Home/wiki/Configuring-the-feed-used-by-kpm-to-restore-packages
2)set KRE_FEED=https://www.myget.org/F/aspn

[2015-03-04 14:31] samritchie commented on #2118
yo generator is definitely generating beta3 dependencies. Yes, I managed to fix the incorrect HelloMVC versions.

Do you know if this specific issue is fixed in the dev builds? I've only just finished switching everything back to master.

[2015-03-04 14:47] antonmes commented on #2118
my bad, the template was changed, so old tutrorials are broken.

[2015-03-04 16:14] StevenVandenBroeck commented on #2113
I've tried a custom implementation of an IActionConstraint based on your info and it seems to do what I want.
Thanks.

[2015-03-04 17:44] sornaks opened #2120 "MinLength attribute currently works only on strings and arrays."
Should we support other Enumerable types?

[2015-03-04 20:09] avanderhoorn commented on #1707
Just wondering, why was this implemented the way that it is instead of tapping into the options system? Meaning why do we have `FixedSetControllerTypeProvider` which has its collection populated via `WithControllersAsServices` instead of it being like the other "Default" providers, and have a `Controllers` property on `MvcOptions` which it pulls in the values from. Where was the semantic line in t

[2015-03-04 20:50] yishaigalatzer commented on #1707
That's a good question. It's mostly because the controllers list is computed as late as possible, and options typically have specific types rather than providers. Honestly this could have gone both ways.

[2015-03-04 22:22] danroth27 commented on #2120
It's never supported this. This is part of the framework, so it's not really under our control.

[2015-03-04 22:22] #2120 closed

[2015-03-04 22:25] adaam2 commented on #2118
@antonmes That seemed to work for me. Thanks!

[2015-03-04 22:25] danroth27 commented on #2119
You can add additional parameters to the route using asp-route-*, where * is the name of the parameter you want to add. Something like this: `<a asp-route="routeName" asp-route-id="23" asp-route-sort_order="desc" asp-route-pageNum="1" asp-route-foo="@foo"></a>`.

[2015-03-04 22:26] #2118 closed

[2015-03-04 22:28] Daniel15 commented on #2118
Awesome, thanks @antonmes! Do you know if there's a Mono bug number we can post here for reference?

[2015-03-04 22:30] Daniel15 commented on #2118
Also note that `MONO_MANAGED_WATCHER=disabled` will totally disable file system watching, and I'm not sure if that will break anything or not. Perhaps I'll just try downgrading Mono, or using a Linux VM instead.

[2015-03-04 22:59] DamianEdwards opened #2123 "Add TagHelperContent.AppendFormat"
Let's add the following methods to `TagHelperContent`:

[code]

For now, it can just turn around and call `String.Format` before adding the result to the collection, but eventually we could optimize this so that the format doesn't result in an allocation at all but rather writes directly to the underlying writer.

We should update the `LinkTagHelper` and `ScriptTagHelper` to use this new method.

[2015-03-04 23:32] adeel41 opened #2124 "Components with post form support"
I've just started using mvc6 beta3 and don't see a way to post form data to a component? Tried searching on internet but didn't find anything at all. Any help will be appreciated.

Cheers,

[2015-03-04 23:39] Eilon commented on #2124
From where are you trying to post data? And posting it to where?

[2015-03-04 23:45] antonmes commented on #2118
@Daniel15, If I'm not mistaken, it was diabled by default. [FileSystemWatcher.cs](https://github.com/mono/mono/blob/master/mcs/class/System/System.IO/FileSystemWatcher.cs#L141-L144)
and workaround was to set MONO_MANAGED_WATCHER to something else:
[code]

[2015-03-04 23:46] adeel41 commented on #2124
lets assume it is a login ViewComponent. So I can display it using ViewComponent but when the user click submit button, I should submit it to the ViewComponent so that if ModelState is invalid then I display those errors. I don't see any way I can do it using ViewComponent. I think I've to create a proper controller for this functionality.

My initial understanding about ViewComponent is, it is a

[2015-03-04 23:47] Daniel15 commented on #2118
Ah I see, that explains a bug I encountered around a year ago: https://bugzilla.xamarin.com/show_bug.cgi?id=19071

[2015-03-05 00:57] rynowak commented on #2096
Hi,

The design of routing has changed significantly since the system.web days, and doesn't really support a testing model like you may have used in WebAPI. If you take a gander at https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/MvcRouteHandler.cs you'll see that the entry point into MVC is itself an `IRouter`.

The main difference is that there's no longer a separation betwee

[2015-03-05 02:29] rynowak commented on #2124
A `ViewComponent` is not a public endpoint - it's exactly what you said "a reusable component which can be displayed on different pages". It's not reachable from via any URL or route, it's only part of the pages where you include

If you used a `ViewComponent` for a login form, then have it post to your login controller and redirect to a logic page that can display errors. You might want a bespoke

[2015-03-05 03:40] Boglen commented on #2119
I understand. But what if I want to use a dynamic collection of parameters? Or will be available only to the static enumeration?

[2015-03-05 05:40] kichalla commented on #2095
@milutinovici : I am going to work on fixing this but was curious to know what are the scenarios where you needed this?

[2015-03-05 06:47] milutinovici commented on #2095
Well, this class was one of several I had to modify, to enable generic controllers.

[2015-03-05 08:25] Rast1234 commented on #2096
Thanks for all the info!

[2015-03-05 08:25] #2096 closed

[2015-03-05 08:59] branciat opened #2129 "Collections are not correctly model-bound"
I retrieve an list of items with the action below

        public IActionResult Edit(int id)
        {
            ObservationRepository _obsRepo = new ObservationRepository(_db);
            List<Observation> allMsg = null;
            allMsg = _obsRepo.getObservations(id);
            ViewBag.ModeEdit = true;
            return PartialView("_Observations", allMsg);
        }

The model's view is

[2015-03-05 09:42] adeel41 commented on #2124
This is my issue. If I redirect then I will lost the ModelState information which I needed on my ViewComponent (or any other page) to display ValidationMessage(s).

Secondly I am not creating a login view component, I used it as an example because it is a common control which also post forms data to server.

[2015-03-05 15:28] dougbu commented on #2129
@branciat am I correct the partial view named _Observations.cshtml contains something like the following?
[code]

If so you may get better results using `@model List<Observation>` instead.  In any case please provide the view and detail the unexpected results.

[2015-03-05 15:45] avanderhoorn commented on #1707
@yishaigalatzer Thanks for filling me in. I was just confused when I saw two different strategies for doing very similar things.

[2015-03-05 16:32] sornaks commented on #211
Checked in. Thanks! https://github.com/aspnet/Mvc/commit/eeabe2760698ea640e113063b546d10bd2737ece

[2015-03-05 16:32] #211 closed

[2015-03-05 17:48] danroth27 commented on #2129
@branciat Could you please share exactly what your cshtml view looks like and also the `Mediagral.Core.Models.Observation` type so that we can try to reproduce the issue? Thanks!

[2015-03-05 17:54] danroth27 commented on #2124
Some ideas on how you can preserve the validation messages:
- Preserve the data in the query string
- Preserve the data using TempData (coming soon)

Or just post directly to the target controller that can do the validation.

[2015-03-05 17:54] #2124 closed

[2015-03-05 17:55] danroth27 commented on #2119
Ah, makes sense. You can add this yourself right now by deriving from our tag helper and adding the property collection. We can also look at supporting this directly.

[2015-03-05 18:09] kichalla commented on #2108
Current behavior:

![image](https://cloud.githubusercontent.com/assets/6559784/6511175/bd889290-c31f-11e4-97bc-f24de268538a.png)

[2015-03-05 20:51] rynowak commented on #2095
@milutinovici sounds cool! We'd love to see examples if you get it working. Please keep the feedback coming if you run into more issues.

[2015-03-05 20:55] rynowak commented on #2118
FYI if you find that you need to disable the filewatcher you may run into issues with timing when updating a `.cshtml` while the site is running. This is primarily what we're using it for.

@pranavkm in case he has thoughts

[2015-03-05 21:21] Daniel15 commented on #2118
The Mono release notes say that it's only an issue when watching "very large directories". Maybe only watching the *.cshtml files rather than the whole directory could work around the issue?

[2015-03-05 21:23] milutinovici commented on #2095
I got it working several times, but it keeps breaking, cause i'm building against a moving target :)
I could make a gist of the current iteration, if you want.

[2015-03-05 21:45] milutinovici commented on #2095
https://gist.github.com/milutinovici/9bc3c22fc962175c8084

This of course isn't production quality, but it works. At least is works with some version :)
I removed some of the code that I just copied from base classes, that isn't exposed.

[2015-03-05 23:05] kichalla commented on #2095
great...thanks...this is helpful...

[2015-03-06 09:27] rynowak commented on #2095
Pretty cool stuff Ivan, thanks for sharing.

A few thoughts from looking at the sample. My assumption of course is that you can compute at startup-time what entity types you have in your app. If this isn't the case, then obviously what I'm suggesting doesn't apply.

If you wanted to, you could generate one `ControllerModel` for each `controller X entity` combination that you want to support. So if

[2015-03-06 09:29] rynowak commented on #2095
I want to also mention that the above `RouteConstraintAttribute` is how areas are implemented in MVC. So if you read the docs about that, that's gist of what it does. The difference in the new system you can build arbitrary levels of hierarchies.

[2015-03-06 10:59] milutinovici commented on #2095
You are right in your assumption, and your suggestions are really helpful. Gotta love the open source.

[2015-03-06 11:47] branciat commented on #2129
the entity

using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
using Mediagral.User.Models;

namespace Mediagral.Core.Models
{
    public partial class Observation
    {
        public int Id { get; set; }

        public string CreatedById { get; set; }

        public int AddressableId { get; set; }