[2017-10-07 14:26] paultechguy commented on #4725
You just need to await the result:

@await Component.InvokeAsync("ContactField")

[2017-10-07 22:20] HarelM opened #6924 "AddSingleton breaks in 2.0?"
I'm in the middle of migrating my project from netcoreapp1.1 to netcoreapp2.0.
My code it at the following repository:
https://github.com/IsraelHikingMap/Site
There is a branch called NetStandard2.0 there where I updated the code in order to move from 1.1 to 2.0.
Most of the code stayed the same but a new bug started to appear after the migration:
I have a class there called LRUCache which caches

[2017-10-08 08:07] aqueenan opened #6925 "Tag helpers don't work with a dynamic model"
If the model for a Razor page is `dynamic`, either explicitly (using `@model dynamic`) or implicitly (by omitting the `@model` directive), Visual Studio shows the error "An expression tree may not contain a dynamic operation" for the tag, and the tag helpers produce view code that fails to compile,

Could the tag helpers be improved so that they work with dynamic?

The code that fails to compile i

[2017-10-08 18:20] marcuslindblom opened #6926 "Use Razor Pages in MVC area"
I'm trying to mix Razor Pages with MVC and by that I mean running a Razor Pages "app" inside an MVC area. So if I run the app below I would like `http://localhost:500` to return the standard MVC `HomeController` `Index` action. And if I add the area like this `http://localhost:5000/app` I would like the Razor Pages app to respond. Is this possible?

- Areas
  - App
      - _Layout.cshtml
      - _

[2017-10-09 00:36] ctolkien opened #6927 "Razor Pages and Validation"
Here's a scenario I've hit:

Given:

[code]

`ModelState` is always valid - even if `Name` is `null`.

If I build another class to wrap my `Name` property and expose that as property on this class, then it works.

[2017-10-09 00:42] benaadams opened #6928 "First chance NullReferenceExceptions using templates"
Template; individual auth

Click `Log In`

![](https://aoa.blob.core.windows.net/$root/nullreference-1.png)

[code]
![](https://aoa.blob.core.windows.net/$root/nullreference-2.png)
[code]

[2017-10-09 00:44] rynowak commented on #6928
Yep. This happens lots. Do you have a suggestion for how to fix it?

[2017-10-09 00:47] rynowak commented on #6925
Please include a complete code sample that demonstrates the problem so that we can understand what you're doing

[2017-10-09 00:48] ctolkien commented on #6927
Dupe of:
https://github.com/aspnet/Mvc/issues/6790

[2017-10-09 00:48] #6927 closed

[2017-10-09 00:49] ctolkien commented on #6927
And more specifically:
https://github.com/aspnet/Razor/issues/1668

[2017-10-09 01:20] benaadams commented on #6928
Is because `Input` is null so `Input.Email` null refs?

Guessing its being handled in [`ExpressionMetadataProvider.FromLambdaExpression`](https://github.com/aspnet/Mvc/blob/3f0248261711e71fc00df49f65149eb9a334596e/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ExpressionMetadataProvider.cs#L83-L93)?

Can it be converted to a Null propagation expression before compilation? `Input?.Email` (As yo

[2017-10-09 02:18] benaadams commented on #6928
i.e. the `NullReferenceException` catch just converts the return to `null`; so could just check each object part for null instead of throwing?

[2017-10-09 07:45] aqueenan commented on #6925
Here's the code sample.

[WebApplication1.zip](https://github.com/aspnet/Mvc/files/1367780/WebApplication1.zip)

[2017-10-09 08:55] aureole82 opened #6929 "Implicit translations for implicit validation!"
ASP.NET MVC has a great feature: Implicit translations for default error messages and/or implicit validation!
Let's take this model:

[code]

All I have to do is changing the `CurrentUICulture`:
![grafik](https://user-images.githubusercontent.com/4819891/31329924-889ddff0-acdc-11e7-90fe-f8a6a906713b.png)

**Please tell me where's the feature gone in ASP MVC Core?**

------
Please keep in mind
- Th

[2017-10-09 17:41] rynowak commented on #756
The remaining task is to cover 2 and 8 in the list in the bug. You could do that cloning and action and giving it a different name so that it is routed with two different names

[2017-10-09 18:56] jbagga commented on #6878
Closing this for now as the issue cannot be reproduced.

@ctorx If you run into it again, please provide more information and I can look into it then!

[2017-10-09 18:56] #6878 closed

[2017-10-10 01:13] Daniel15 opened #6931 ""page" variable in Razor breaks in 2.0?"
I have a `_Pagination.cshtml` view that uses a `page` variable, like this:
[code]

After upgrading from 1.1 to 2.0, I'm hitting this error:
[code]

I guess this is due to Razor pages (https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/) using the `@page` directive (and thus disallowing usage of variables called `page` within Razor), however, shouldn't this be mentioned in the upgrade not

[2017-10-10 03:09] Eilon commented on #6931
Yup this is indeed a bug in 2.0.0, see https://github.com/aspnet/Mvc/issues/6706

We will have this fixed in the upcoming 2.0 patch. Sorry you ran into this!

[2017-10-10 03:09] #6931 closed

[2017-10-10 03:16] Eilon commented on #6924
`GetHashCode()` is not necessarily the best way to determine if two objects are the same because the type could have a buggy implementation of it... but in the case of this app that doesn't appear to be a problem.

Nevertheless, are you able to confirm whether they're actually the same instance or not? In VS you can "tag" an item in the watch window (right-click it and "add object tag") and see if

[2017-10-10 03:17] Eilon commented on #6923
@natemcmaster - any ideas on this? Presumably a tooling issue? Do you know where those issues go?

[2017-10-10 03:56] rynowak commented on #6931
#6706 tracks the use of 'page' as a route parameter when **not** using razor pages. This is about the usage in Razor code.

Unfortunately any new directive we add becomes a reserved word in Razor.

[2017-10-10 04:20] Daniel15 commented on #6931
Which is fine, but please include it in the upgrade documentation. Right now, it's an undocumented breaking change.

[2017-10-10 07:55] HarelM commented on #6924
I know for sure that this is not the same instance as this class has a dictionary and one instance has it empty while the other has it with one item.
GetHashCode was just to illustrate that it's not the same one.

[2017-10-10 09:27] poke commented on #6754
Considering that the page model is already the model for the view, it’s *super simple* to add additional properties that you can then access in the view. Just add properties to the page model, and you can already access them in the view. And they are strongly typed which is much better than view data anyway.

The same is not true for MVC where you explicitly have to pass a model to the view. So vi

[2017-10-10 15:09] natemcmaster commented on #6923
Yes, I'm supposing this is a VS issue. You can use the Report an Issue feature in VS or try your luck here: https://github.com/microsoft/dockertools

[2017-10-10 15:10] jchannon opened #6933 "Potential DDOS issue in model binding files"
I was looking at this code https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/FormFileModelBinder.cs#L53-L132

If a request had a million files it would seem the binder will just sit there adding `IFormFile` to a `List<T>` using up memory. Obviously if the files with greater than 64kb and it wrote to disk after 60k files it would error however the former

[2017-10-10 15:13] pakrym commented on #6924
@HarelM can you provide smaller repro or give instructions on how to run your site and reproduce the bug. I tried running it yesterday but got

[code]

[2017-10-10 15:22] SoheilAlizade opened #6934 "Find ASP.NET Core 2 Razor Pages in another assembly"
Hi, I want to locate My Project Razor Pages in another assembly.
for doing this I write following code:

[code]
my solution:
![devenv_2017-10-10_18-44-26](https://user-images.githubusercontent.com/22220356/31394411-1c2d5ed0-adeb-11e7-9cfb-c5ce7f903d05.png)

when running `localhost:5000/SameTodo` Get Followig Error:

stack:
[code]

and set `PreserveCompilationContext` to false but now worked how ca

[2017-10-10 15:41] HarelM commented on #6924
I'll see if I can create a smaller reproduction.
Meanwhile you can run it from visual studio in debug mode or edit the appsettings.production.json file to point to an existing folder in your file system - this is a static files location the site is using, if the folder does not exists it throws.
you can also copy the appsetting.json and override appsettings.production.json.
The instructions on how

[2017-10-10 15:41] jchannon commented on #6933
This might be handled ok by https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http/Features/FormOptions.cs when `HttpRequest.ReadFormAsync` is called

[2017-10-10 16:16] Eilon commented on #6923
This issue was moved to Microsoft/DockerTools#50

[2017-10-10 16:16] #6923 closed

[2017-10-10 16:17] pranavkm commented on #6934
Where's the type `SameTodoModel` located? It doesn't look very clear if it's part of 'App'.

[2017-10-10 16:31] Eilon commented on #6931
@Daniel15 I posted https://github.com/aspnet/Announcements/issues/272 in our list of breaking changes. Sorry for missing this! (These announcement issues are linked to from the migration doc at https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/)

[2017-10-10 16:51] SoheilAlizade commented on #6934
located in `App` and Pages folder.

[2017-10-10 18:54] pranavkm opened #6935 "Make IParameterModelConvention execute for page handler parameters"
We have the metadata required to run it, we just don't execute these today. We could consider executing conventions after `IPageApplicationModelConvention` are executed.

[2017-10-10 19:24] #756 closed

[2017-10-10 21:28] hishamco commented on #6854
This remind me with an old bug https://github.com/aspnet/Mvc/issues/6296

[2017-10-10 21:32] hishamco commented on #6832
Simply you can use `IHostingEnvironment`, it doesn't matter if you're using MVC or RazorPages

[2017-10-11 04:02] John0King commented on #6931
@Eilon @Daniel15  why not just use `@razorpage`   or `@razor-page`  as the directive  for razor pages,  nobody use it as a variable .

[2017-10-11 08:03] MohammadAkbari opened #6937 "test async call not effectiveness in asp.net core"
I want to test effectiveness async request vs sync request in asp.net core 2.0. For this in Program file set Kestrel ThreadCount option to 1.

[code]

Then write simple code in the controller for call async method. in Index action set the start time to ViewBag, then call Doing function async, finally set end time to ViewBag.

[code]

View Code is:

[code]
After run app and browsing page in two bro

[2017-10-11 09:14] Remleo opened #6938 "Why LocalizedHtmlString doesn't override ToString()?"
This sample:
[code]
rendered as:
[code]

Why LocalizedHtmlString doesn't override ToString() like LocalizedString for example?

Overriding method ToString() would solve this problem:
[code]

The similar problem:
https://stackoverflow.com/questions/39792066/net-core-localization-view-iviewlocalizer-inside-linq-expression/39796425

[2017-10-11 11:23] jonathanperis commented on #6457
Is this functionality really planned for delivery in version 2.1.0? I'm really looking forward to it.

[2017-10-11 13:23] SteveSandersonMS commented on #6457
@jonathanperis No, definitely not. I think it was only put in the 2.1.0 milestone as a note that we're thinking about it. We should probably take it out of the 2.1.0 milestone for clarity. cc @Eilon

[2017-10-11 15:47] Eirenarch commented on #4311
@danielearwicker  the suggestion in this case is to use attributes like for example SwaggerResponse attributes to document the return type.

I personally find this to be an extreme overkill and a risk of getting the implementation and attributes out of sync. I am implementing my own HttpResponseException and I refuse to feel guilty about it :)

[2017-10-11 16:01] enrico-padovani commented on #6829
Do you have a practical example of how to solve the problem? Or do I have to switch back to regular MVC for getting it work? Thanks

[2017-10-11 16:13] Eilon commented on #6457
Yup, moved it out.

[2017-10-11 16:14] Eilon commented on #6931
@John0King well, for now it's too late to change it because it already shipped. But that's something good for us to keep in mind when adding other new directives or reserved words.

[2017-10-11 16:22] Tarig0 opened #6939 "Utilizing the HTMLHelper.Editor to render a template editor causes issues with custom string editor"
If you use a view with the following code
[code]
[code]

This will cause the string type to be visited and not allow me to use an editor template for my string property.

I suggest changing the default visited to Object, or add a generic Editor function that will take the intended visited type

[2017-10-11 16:33] Eilon commented on #6854
@hishamco good catch! Assigning this to @rynowak then...

[2017-10-11 17:34] ahazelwood commented on #6605
I fully support adding routing to the PageModel and to the form itself, because I have routes that I would like to use which inject a dependency into the route path.

For example.  A route of:    [Route("path/to/{userId}/page_name/{itemId}")]    -> this passes in userId and itemId as parameters to the method.

Currently there is no way that I've found to inject userId into a Razor Page.  This is i

[2017-10-11 17:43] ahazelwood commented on #6750
My opinion, is that it depends on the circumstance.  One of the reason's that angular was so popular was that it allowed you to add simple logic to html without having to worry about the underlying javascript code.  It's much easier to reason about tags without the clutter of curly braces (or in the case of one-off tags i.e. a img tag).  But there are definite reasons to also stick to c# syntax fo

[2017-10-11 18:14] pranavkm commented on #6605
@ahazelwood, you can use `AddPageRoute` on `RazorPagesOptions.Conventions` to do this. For e.g. https://github.com/aspnet/Mvc/blob/47287c508ee43c4f30b8000400fda1b01f68bfe2/test/WebSites/RazorPagesWebSite/Startup.cs#L23

[2017-10-11 18:17] ahazelwood commented on #6605
The problem is that I would like to be able to do this within the Razor Page itself as this is cleaner in my opinion having the route information tied to where the work is being done.  This way as we add/remove functionality in the future, this is handled automatically.

[2017-10-11 18:55] lukepuplett opened #6940 "Unable to find source code for UriHelper"
Hello, sorry if this is the wrong way to go about this but I am trying to find the source code for the Microsoft.AspNetCore.Http.Extensions.UriHelper class, apparently in

Assembly Microsoft.AspNetCore.Http.Extensions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60

Specifically I have a null ref coming from GetDisplayUrl() under unit testing and I would like to look at the sour

[2017-10-11 18:57] Eilon commented on #6939
Hi @Tarig0 I'm not sure I understand the issue you describe. Can you provide more info about what is happening, and what you expected to happen?

In general the Editor/Display templates go through a series of types to figure out what to render. They might start out with an explicitly-requested type, and otherwise walk up the type hierarchy and interface hierarchy to find a "best" match. So, in gen

[2017-10-11 18:58] Eilon commented on #6938
This certainly sounds interesting...

@ryanbrandenburg / @dougbu / @DamianEdwards - thoughts on this? Any reason not to do this?

[2017-10-11 18:59] Eilon commented on #6937
FYI this was posted here as well: https://stackoverflow.com/questions/46661499/async-call-not-effectiveness-in-asp-net-core

[2017-10-11 19:18] Tarig0 commented on #6939
The issue is the

Html.Editor("template","EditorForComplexType")

will eventually reach this line when generating the EditorForComplexType view

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ExpressionMetadataProvider.cs#L194

This then causes the Editorfor(m=>m.stringProp) to be skipped since the "String" type was already visited, but in reality the "Co

[2017-10-11 19:36] Rick-Anderson opened #6941 "TryUpdateModelAsync problems with Razor Pages"
Code to reproduce the bug at https://github.com/Rick-Anderson/TryUpdateModelAsync

To reproduce the bug:

*  Run the project and tap on **Students** (`http://localhost:xxx/Students`)
* Tap **Create** and submit. The scaffolded code works.
* Tap **Create TryUpdateModelAsync** and submit. That code doesn't work.

[Code bug  here](https://github.com/Rick-Anderson/TryUpdateModelAsync/blob/master/Conto

[2017-10-11 19:52] dougbu commented on #6938
This sounds like a dupe of aspnet/Razor#1679. Put another way, `LocalizedHtmlString` doesn't override `ToString()` because the result /should/ vary depending on the HTML encoder used to render it.

[2017-10-11 20:06] dougbu commented on #6941
The problem is passing in an empty prefix. The prefix used [here](https://github.com/Rick-Anderson/TryUpdateModelAsync/blob/20321c186f9b29f7b99d9b5b68b1e5ca1ed155e0/ContosoUniversity/ContosoUniversity/Pages/Students/Create2.cshtml.cs#L45) should be `"Student"` or `"student"` to match the `<input/>`s in the form.

[2017-10-11 20:31] Rick-Anderson commented on #6941
@dougbu changed to [Student](https://github.com/Rick-Anderson/TryUpdateModelAsync/blob/master/ContosoUniversity/ContosoUniversity/Pages/Students/Create2.cshtml.cs#L45) - no joy

This is exactly the same code used in a [MVC controller](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/crud#update-the-edit-page), and no prefix was used there.

[2017-10-11 20:39] Eilon commented on #6938
Ah, so we need an extra parameter, which ToString() doesn't have, so we don't do it?

[2017-10-11 23:17] carl-thomas opened #6942 "ModelState does not adhere to DataMember Name or DisplayName"
When posting JSON data
[code]
to a endpoint that accepts the relevant model...
[code]
When this model gets validated, if the validation failed and you return BadRequest(ModelState) you get the response e.g.
[code]
The keys are the property names e.g. `EmailAddress` and not the original DataMember name `email_address`

The response should adhere to the DataMember attribute so that the response rese

[2017-10-11 23:31] dougbu commented on #6938
@Eilon More that the helpers discussed in aspnet/Razor#1679 should avoid the need for `ToString(...)` implementations in every `IHtmlContent` implementation, regardless of the parameters.

[2017-10-11 23:44] dougbu commented on #6941
I made the following two one line changes and everything lit up.
[code]

[2017-10-12 00:37] #6941 closed

[2017-10-12 03:04] rynowak commented on #6940
I think this is what you're looking for: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Extensions/UriHelper.cs

A good trick is to go to https://github.com/aspnet and use the search box **at the top**.

Also, anything `Microsoft.Extensions` or `Microsoft.AspNetCore` should be findable in our github org.

[2017-10-12 03:04] #6940 closed

[2017-10-12 04:03] John0King commented on #6931
@Eilon  My concern is that `page` is probably a very common variable in web development, at least 60% website use the it as a query  parameter for paging , and will create a `page` variable to display and dealing with it.

and other side,  change current razor pages to use new directive is easy,  search every .cshtml file and replace `^@page\s` to the new directive

[2017-10-12 05:11] dougbu commented on #6939
@Tarig0 how is the `Template` property defined? I suspect that expression name is invalid and your view work work fine if the first attempt were changed to `@Html.Editor(string.Empty,"Ninja")`.

Separately, the third parameter to `EditorFor(....)` is not a format string, it's a prefix for generated HTML field names. Probably best not to use that parameter unless you're changing `ViewData.TemplateI

[2017-10-12 05:13] dougbu commented on #6939
@Tarig0 please close this issue if your problem is solved. If the problem still exists, please provide a small repro project, preferably as a GitHub repo.

[2017-10-12 08:49] Remleo commented on #6938
@Eilon @dougbu
For accurate data processing within the `LocalizedHtmlString` must be used `WriteTo()` of implemented interface `IHtmlContent`. Razor always uses `IHtmlContent` interface for writing and Razor decides encode or not raw value (`Write()` or `WriteAttributeValue()`)

My case:
[code]
[code]
The `FooTagHelper` decide how to use value of `SomeAttr`: `output.Content.AppendHtml()` or `outpu

[2017-10-12 08:59] Remleo commented on #6938
This sample cause wrong render:
In view:
[code]
rendered not valid html:
[code]
Quotes not enconded.

The view compiled as:
[code]

If change to
[code]
redened correct:
[code]

Seem to Razor must encode quotes in `WriteAttributeValue()` in any case is it `IHtmlContent` or not.

[2017-10-12 09:09] lukepuplett commented on #6940
Thanks! I now see the error of my ways.

I was searching ~/aspnet/Home thinking that was the root, and then ~/aspnet/Mvc for the life of me didn't think to navigate up one level to ~/aspnet

(sigh)

[2017-10-12 13:23] Tarig0 commented on #6939
This does not work for my case. string.empty assumes I want to pass the current model down to the editor view when I want to pass a null instance of a different type.

The "Template" string is there to force a null model to be passed to the editor template.

I think a function like @Html.Editor<Ninja>("template","htmlprefix") would be for what I want in this case

[2017-10-12 13:27] Tarig0 commented on #6939
I have a work around by adding the line
[code]
but I would rather not have to create an instance of the class I need.

[2017-10-12 13:28] Tarig0 commented on #6939
I'll see about creating a sample repo with a slightly more complex example

[2017-10-12 14:25] dougbu commented on #6939
@Tarig0 your original example compares two completely different things then: `@HtmlEditorForModel()` is the same as calling `@Html.Editor(string.Empty)` -- that'll iterate through the `IEnumerable<Ninja>`, displaying fields for all entries in the collection.

`@Html.Editor("Template")` doesn't work unless there's a `Template` entry in `ModelState` or `ViewData`. Without that entry, MVC knows nothi

[2017-10-12 19:19] rynowak commented on #6935
Yes

[2017-10-12 19:22] rynowak commented on #6829
https://github.com/aspnet/Mvc/issues/6694#issuecomment-324132018

[2017-10-12 19:37] rynowak commented on #6933
Yes, the limits in `FormOptions` exist to serve as a single point for controlling how large (in a few different ways) form data and file-uploads can be.

In particular you are limited to 1024 files by default (assuming you don't hit a global body size limit before that).

/cc @Tratcher @blowdart

[2017-10-12 19:41] Tratcher commented on #6933
Kestrel's request body size is the first limit you'll hit.
https://github.com/aspnet/KestrelHttpServer/blob/66a3c9496afb9694db13318c4f637ab2dbe1a7d5/src/Kestrel.Core/KestrelServerLimits.cs#L150

After that yes there are a variety of limits in FormOptions you'll hit depending on the shape of your upload.

[2017-10-12 19:56] scottsauber opened #6943 "Unit Testing Page Model Throws Null Ref On ModelState check"
While testing Razor Pages, when I create a new PageModel, it throws a null reference exception when doing the ModelState.IsValid check.  The NRE is on ModelState itself.

This seems to be a change from the way MVC's ModelState "just worked" when newing up the controller.

For instance (some Arrange code removed for brevity)...

In MVC:
[code]

In Razor Pages:
[code]

This is bit of an annoyance.

[2017-10-12 20:00] rynowak commented on #6943
You should be able to work around this for now by instantiating a `PageContext` and setting it.

We should fix this, all of this stuff needs to 'just work'

[2017-10-12 20:15] Costo commented on #6841
We just hit the same problem so we are going to reimplement `IValidationAttributeAdapterProvider` to include our custom attributes. I would be nice to be able to register new providers.
For instance if I develop a library/Nuget with new useful validation attributes, it would be nice to be able to register it in Startup with `services.AddMyCustomValidationAttributes()`.

[2017-10-12 20:19] scottsauber commented on #6943
Appreciate the quick response!  Was just digging around into how to fix this, so that helps!  Thanks!

Any plans on this being on the roadmap for say 2.1?

[2017-10-12 20:56] scottsauber commented on #6943
`IUrlHelper` also throws a null ref

[2017-10-12 21:58] rynowak opened #6944 "Consistency across binding attributes"
## Summary

MVC has a few different flavours of binding attributes and they each do different things, largely for legacy reasons - but they also overlap in some ways which leads a lot of confusion. We've tried to keep them orthogonal in the past, but they didn't start that way, so maybe we should stop trying?

Could we think about making them consistent and maybe deprecating some? Time horizon for

[2017-10-12 22:07] Tratcher opened #6945 "Two actions with same Http<Method> attributes result in ambiguity on ubuntu"
_From @Petermarcu on October 12, 2017 20:38_

@distomin opened this here: https://github.com/dotnet/core/issues/1026

uname -a
Linux N46JV 4.10.0-37-generic #41-Ubuntu SMP Fri Oct 6 20:20:37 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
dotnet --version
2.0.0
dotnet new webapi

Add 2 actions in a controller with the same attribute (HttpGet for example)
[HttpPost]
public Product Action4([FromForm]Product

[2017-10-12 22:50] dougbu commented on #6938
We may be straying from `ToString()`.

The distinction between `LocalizedString` and `LocalizedHtmlString` is HTML encoding. ``LocalizedHtmlString` resources, including the resource name (which is used as the fallback value), are assumed to be HTML encoded. If `"a\"b"` were an argument, e.g. `@Ls["MyResource", "a\"b"]`, its value would be encoded.

[2017-10-12 23:34] DamianEdwards commented on #6782
urgh, when did this get triaged out? I thought we were doing this for 2.1?

[2017-10-13 01:27] dougb commented on #6841
@Eilon wrong doug.

[2017-10-13 01:35] rynowak commented on #6944
Given all of this data, here are some proposals.

## In 2.1

`[BindProperty]` should add support for ``IPropertyFilterProvider` via an `string[] Include { get; set; }` property and potentially a constructor.

`[Bind]` should add support for `IBindingSourceMetadata`, `IBinderTypeProviderMetadata` and `IRequestPredicateProvider`. The implementation of `IRequestPredicateProvider` should be the same a

[2017-10-13 03:27] neoGeneva opened #6946 "AmbiguousMatchException in Html.TextBox() when model has shadowed properties"
Calling `Html.TextBox()` for a property that is shadowing an inherited property, a AmbiguousMatchException exception is thrown.

For example, the following setup will generate the error:

### Models.cs
[code]

### Index.cshtml
[code]

### HomeController.cs
[code]

### Generates the following exception:
[code]

[2017-10-13 04:35] rahulsahay19 opened #6947 "ASP.NET CORS Issue with Windows Auth using HTTP.SYS hosting"
Hi,

I am trying couple of scenarios here. Currently, I am running on HTTP.sys using Windows Auth. Angular 4 being the Frontend App having a different port say 4200. My ASP.NET Core App, I am running on port 7000, which is serving data to FE app. Obviously, this is classic example of CORS, which I have enabled via below settings.

services.AddCors(options =>
            {
                options.A

[2017-10-13 06:27] wjkhappy14 opened #6949 "How to debug the source code on my local machine ?"
I want to research the  MVC deeply  by  myself ,but when i  download this  code and open  with vs2017  the .Sln file, can't build ,many  errors .

someone can help me ?

[2017-10-13 09:51] tamazbagdavadze opened #6950 "Bundles ES6 syntax issue"
`let f = ()=>{let r = {a:1, b:0}; return r;};`
this is translated into :
`let f=()=>{a:1,b:0}`
and gives error.

[2017-10-13 10:32] khellang commented on #6947
Sounds like you have auth in front of your CORS middleware, so it ends up returning 401 before the  preflight requests reaches the CORS middleware.

[2017-10-13 10:37] khellang commented on #6947
I guess, since this is related to Windows auth, you have to also enable anonymous auth (for preflight requests) and make sure you have a filter for MVC. See https://github.com/aspnet/CORS/issues/60

[2017-10-13 11:53] #6950 closed

[2017-10-13 13:50] rahulsahay19 commented on #6947
Yeah thanks. The problem with that approach is it always sends anonymous credentials. For GET operation, its fine. But for POST, I need username from the identity. I tried with simple [Authorize] attribute, it doesn't hit the method. Similarly, I tried setting  up policy like

  services.AddAuthorization(configure =>
            {
              configure.AddPolicy("PostMethods", policy =>

[2017-10-13 14:13] Tarig0 commented on #6939
I guess this is more of a suggestion now, but I think it would make sense to be able to provide the Html.Editor with a type so it can handle generating a template editor in cases where you want the front end to be able to generate a new row based on the template.

[2017-10-13 14:13] #6939 closed

[2017-10-13 14:38] pranavkm commented on #6949
@wjkhappy14 have you looked at the instructions for building from source (https://github.com/aspnet/Mvc#building-from-source)?

[2017-10-13 14:48] pranavkm commented on #6945
It's likely that the two actions have the same attribute route and this isn't an OS specific issue. Could you share a complete sample that reproduces this error?

[2017-10-13 16:04] Eilon commented on #6841
Oops, adding correct @dougbu .

[2017-10-13 16:05] Eilon commented on #6782
Ok, can certainly reconsider.

[2017-10-13 16:11] pranavkm commented on #6934
Does `WebApplication5` reference `App`? I'm trying to figure out what you're doing to get it to load using `Assembly.Load`. In fact, if you could possibly share this as a single repo, that would certainly help.

[2017-10-13 16:35] rahulsahay19 commented on #6947
Fixed that!  Thanks, closing Issue

[2017-10-13 16:35] #6947 closed

[2017-10-13 16:59] Eilon commented on #6933
Right, ASP.NET Core, and also Kestrel and MVC in particular, each have several settings to control various sizes and limits. You can also mitigate attacks by using additional software such as IIS, nginx, which have their own types of protections and limits. If you wish to report a specific attack or concern, please work through Microsoft Security Response Center <secure@microsoft.com> so that the

[2017-10-13 16:59] #6933 closed

[2017-10-13 17:03] Eilon commented on #6946
Hi @neoGeneva , we decided a while ago to not support shadowed properties: https://github.com/aspnet/Mvc/issues/4646#issuecomment-219521703

It's not a common scenario and not recommended in general, so we chose not to support it. It introduces many complexities to the whole system and the system just wasn't designed for it.

[2017-10-13 17:03] #6946 closed

[2017-10-13 17:04] Eilon commented on #6949
@wjkhappy14 please provide more details about the exact errors you have. A screenshot or copy/paste the errors would be very helpful.

[2017-10-13 17:14] Eilon commented on #6945
Indeed, we would need a complete repro app to try this out. This is very unlikely to be an OS-specific issue.

[2017-10-13 17:14] Eilon commented on #6943
This would be good as part of our efforts to make testing great.

[2017-10-13 17:19] Tarig0 opened #6951 "Suggestion: Utilize the model type defined in a resolved view for visitedObjects instead of string"
I have gotten bitten by the visitedObjects being populated by the string type when I attempt to force a null object to render.

[code]
This causes issues if I have a custom editor for the string type on a property in my model.

The current work around is to define a variable with the type set to the intended datatype
[code]
but this seems to be a bit of a gotcha.

[2017-10-13 17:21] Eilon commented on #6918
Closing because there is not enough information to reproduce this problem.

[2017-10-13 17:21] #6918 closed

[2017-10-13 17:29] Eilon commented on #6925
@pranavkm can you take a look at the repro?

[2017-10-13 17:31] Eilon commented on #6924
This issue was moved to aspnet/DependencyInjection#595

[2017-10-13 17:31] #6924 closed

[2017-10-13 17:32] NTaylorMullen commented on #6925
This has never worked has it? I don't believe we've ever supported Html helpers that have a "For" expression with dynamic values. Same things goes for TagHelpers `asp-for` ModelExpression attributes.

[2017-10-13 17:37] Eilon commented on #6613
@pranavkm what further action is required from us here? Do we need to file bugs elsewhere? Any code changes or investigations left for us to do?

[2017-10-13 18:02] Eilon commented on #6925
Oh sure, `dynamic` doesn't work in expressions. Should we avoid generating bad code or something here?

[2017-10-13 18:02] Eilon commented on #6925
Or is it not us generating bad code? Not clear to me where the "error" is.

[2017-10-13 18:29] pranavkm commented on #6613
Ping @eerhardt . Should https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.Extensions.DependencyModel/DependencyContextLoader.cs#L118 use `Assembly.Codebase` to support shadow copied binaries?

[2017-10-13 18:57] dougbu commented on #6841
The past approach to adding / removing providers was `static` methods in the `DataAnnotationsModelValidatorProvider` e.g.
[code]

I suspect we purposely punted similar a feature in ASP.NET Core MVC because we didn't want the old approach, hadn't designed something better, and weren't sure the feature was required (see #475).

See also #5553. That issue includes some useful information about workar

[2017-10-13 19:02] NTaylorMullen commented on #6925
So we aren't technically generating bad code. The model is set as dynamic and so the Razor parser spits out whatever the current model is as part of an expression, i.e.: `CreateModelExpression(__model => Model.Foo)`. This just happens to be a compile error in C# because the user is trying to use dynamic in the expression (the `Model`).

The only possible "fix" for this case would be to provide a b

[2017-10-13 19:19] pranavkm commented on #6934
Some notes from my investigation:

I tried adding a compile reference \ runtime reference to an assembly not referenced by the application i.e. wire up things so you could point to an arbitrary project on disk + associated views.

I started with `Assembly.LoadFile` to add an AssemblyPart. If the assembly has a co-located deps.json:
(a) if it does have `PreserveCompilationContext`, resolving refere

[2017-10-13 19:29] eerhardt commented on #6613
I'm not sure, it's been like that since the beginning:  https://github.com/dotnet/core-setup/commit/7ce1e267f7d922e014c668d901a2e5a16f3fddf3.

Can you open a bug in core-setup for it?  We can evaluate it there.

[2017-10-13 20:04] ericgrantholland commented on #6457
You guys HAVE to jump all over this... WASM and ASP.NET Core has the potential to be MUCH more than a "healthy relationship"... It could become the new clean web standard if you guys do it right. I will jump on board the day you release it and I know many others will follow. Until then I'm forced to pick something else for client side ASP.NET Core stuff. :(

[2017-10-13 20:12] Eilon commented on #6925
So everything is fine until you use any strongly-typed model-based helper, in which case "we generate what we were told to," but then C# gets unhappy?

[2017-10-13 20:13] jerickmsft opened #6952 "HttpRequestMessageExtensions.CreateResponse<T> should not accept T==HttpStatusCode"
In an audit of our code base, we found that there were many calls that looked like:
`return Request.CreateResponse(HttpStatusCode.NotFound);`
that, due to a refactor, were actually resolving to this:
`HttpResponseMessage CreateResponse<T>(this HttpRequestMessage request, T value)`
This would make the service return a 200 with a body that says "NotFound".  This is clearly not the intent of the prog

[2017-10-13 20:17] owenhuyn commented on #6952
I don't exactly know if this is possible but you can add:
`HttpResponseMessage CreateResponse(this HttpRequestMessage request, HttpStatusCode statusCode)`

[2017-10-13 20:24] pranavkm commented on #6613
Done - https://github.com/dotnet/core-setup/issues/3308. Closing this since there's nothing further to do from our end.

[2017-10-13 20:24] #6613 closed

[2017-10-13 20:37] neoGeneva commented on #6946
Hey @Eilon, thanks for letting me know, but if that is the case then surely are more relevant exception should be thrown?

The "AmbiguousMatchException" doesn't really info necessary to fix the problem, it took me a little while to figure out exactly what was going on.

[2017-10-13 21:58] NTaylorMullen commented on #6925
I don't 100% follow, but for example, this is invalid C# (basically what's going on behind the scenes in Razor):
[code]

Basically, expression trees in C# can't contain dynamic operations.

[2017-10-13 22:25] Eilon commented on #6925
Yeah I'm asking whether in an "empty" page or if I'm just using non-`For` helpers, everything always works, right? But with a `dynamic` model, once I use a `For` HTML helper, or an `asp-for` tag helper, the page won't compile.

[2017-10-13 22:43] NTaylorMullen commented on #6925
Yes, 100% correct.

[2017-10-13 22:49] Eilon commented on #6925
Ok then I agree there isn't really anything to fix here. Though, I do also think the error isn't *ideal* because it's hard for a user to know what exactly caused this problem - especially when they don't see the lambda that caused the problem.

But, I also don't think there's any reasonable way to fix the error because it would likely involve diving into stuff that we normally don't dive into.

Fo

[2017-10-13 22:49] #6925 closed

[2017-10-14 05:13] danroth27 commented on #6457
The first step is to get a runtime implementation, which is under investigation ([CoreRT](https://github.com/dotnet/coreclr/issues/5303), [Mono](http://www.mono-project.com/news/2017/08/09/hello-webassembly/).

[2017-10-14 09:16] synercoder opened #6954 "FormTagHelper support for asp-protocol (& asp-host)"
Currently the difference between the `AnchorTagHelper` and the `FormTagHelper` is the following:

|                    | Anchor | Forms |
|--------------------|--------|-------|
| asp-action         | ✔      | ✔     |
| asp-controller     | ✔      | ✔     |
| asp-area           | ✔      | ✔     |
| asp-page           | ✔      | ✔     |
| asp-page-handler   | ✔      | ✔     |
| asp-fragment       |

[2017-10-14 11:08] synercoder commented on #6954
Alright, I did some digging in the code (scout work for a possible PR), to properly add the support, there needs to be a breaking change made to `IHtmlGenerator`. Because three extra methods need to be added.

[breakingchanges.netcore.json.txt](https://github.com/aspnet/Mvc/files/1384603/breakingchanges.netcore.json.txt)

As per guidelines: @Eilon and @DamianEdwards

[2017-10-14 11:41] synercoder commented on #6954
Another option would be to edit `DefaultHtmlGenerator` to expose `TagBuilder GenerateFormCore(ViewContext viewContext, string action, string method, object htmlAttributes)` as a static internal, and call that method from `DefaultHtmlGeneratorExtensions`. That way no breaking changes have to appear, but then extension method class for `IHtmlGenerator` for rely on the implentation of the class, whic

[2017-10-14 14:21] amitsaini12345 opened #6955 "Want features for data annotation"
Please bring features to share common data annotations between each entity or model.  I will be no need to define separate separate data annotations for each properties of each entity.

It would be more easy and bring code reusablity more if one can declare common data annotations of different properties because we see that common data annotation is like max length 50, int,  required etc. Are used

[2017-10-14 14:30] HolyOne opened #6956 "I cant reach post method of a subpage in asp.net Core Razor Pages"
I want to write code for my post method under the same page.
I know i can do that with handlers but I cant write asp-page-handler in my javascripts

Here is my form

[code]

I think the debugger should come to this line, just like as if i assigned a handler to it
but it doesnt.

`        public void OnPostMysubpage()
        {
            ViewData["msg"] = "oh yeah";
        }`

Is there an altern

[2017-10-15 03:20] mgasparel opened #6957 "Url.Page() can not use path-based route if a custom route has been added"
After adding a custom route to my Index page, I am no longer able to generate URLs using the default path-based routes in Razor Pages.

Here is my custom route that allows me to add paging to the Index page, ie: `http://localhost:5000/page/2`

[code]

After adding that route, the following now returns null:
`Url.Page("/Index");`

Also, the following now throws *InvalidOperationException: No page n

[2017-10-15 10:19] aqueenan commented on #6925
Instead of emitting code using expression-based syntax, is there an equivalent string-based syntax that could be emitted when the model is dynamic?

That is, instead of emitting code that called [EditorFor](https://docs.microsoft.com/en-au/dotnet/api/microsoft.aspnetcore.mvc.rendering.ihtmlhelper-1.editorfor?view=aspnetcore-2.0)-like methods instead of [Editor](https://docs.microsoft.com/en-au/dot

[2017-10-15 12:33] rahulsahay19 opened #6958 "Hosting Http.Sys in production environment"
Hi Team,

Wanted to understand one thing. Let's say, I have written ASP.NET Core MVC application which is hosted on Http.Sys. Therefore, currently what I do, I navigate to published folder and there run **dotnet app.dll**. Server gets started and it starts to listen requests. However, this also opened dotnet console window, which is ok if I am doing development on local machine.

But, let's say I

[2017-10-15 15:28] HeroWong95 opened #6959 "How to return a friendly view for 404?"
I want return a friendly view(using '_Layout.cshtml')

- Call method 'ControllerBase.NotFound()'
- Wrong Url

[2017-10-15 15:33] HeroWong95 commented on #6959
The method 'ControllerBase.NotFound()' is defined as
`public virtual NotFoundResult NotFound();`
If this method is defined as
`public virtual IActionResult NotFound();`
Only need return a 'ViewResult' object
`return new ViewResult
{
    StatusCode = 404,
    ViewName = "NotFound"
};`

[2017-10-15 21:15] hishamco commented on #6959
Have a look to a [Diagnostics](https://github.com/aspnet/Diagnostics) repo. Also I remember that I did something similar when I blogged about [Create Configurable Error Pages in ASP.NET Core](http://www.hishambinateya.com/create-configurable-error-pages-in-asp.net-core) long time back

[2017-10-15 21:17] hishamco commented on #6956
Where is your form? please explain the case that you are trying to do in more details, to give you a clear answer

[2017-10-15 21:38] hishamco commented on #6957
I tried all the scenarios that you mentioned before and everything working as expected, could you please show me your route in the razor page, also let us know which version you are using?

[2017-10-16 01:40] mgasparel commented on #6957
I made a small sample to reproduce at [https://github.com/mgasparel/url-repro](https://github.com/mgasparel/url-repro)

What I'm hoping to achieve is to have the following routes satisfied by a single page:
http://localhost:5000
http://localhost:5000/page/2
http://localhost:5000/page/3

Adding my custom page route in Startup.cs seems to do thr trick, but it also seems to mess up URL generation for

[2017-10-16 02:14] mgasparel commented on #6956
The handler can be specified in the url query string, ie:
`page?handler=mysubpage`

It can also be specified in the route, ie:
`page/mysubpage`

but this requires the route to be defined in the @page directive, ie:
`@page "{handler?}"`

[2017-10-16 02:44] #6959 closed

[2017-10-16 02:44] hishamco commented on #6957
It seems you miss the route segment in the `Index` page, try to modify the Index.cshtml page directive to:
[code]

BTW the url http://localhost:5000 will not work after the routing unless you mark the routing segment as optional parameter in the page directive

[2017-10-16 03:05] mgasparel commented on #6957
Marking the routing segment as optional does not work because the route includes the hardcoded segment "page/"... if I do this, then my generated url ends up pointing to http://localhost:5000/page

This also doesn't solve the issue that on any given page, the current route values are used to generate URLs unless they are explicitly cleared.

I did come up with a disgusting hack though!
`options.Co

[2017-10-16 04:46] hishamco commented on #6957
What if you're using the one that I mentioned before?

[2017-10-16 09:10] marcusien opened #6960 "ModelBinding on IOC resolved type"
ModelBinding does not fully work on actions where we define a "base" type as parameter.

For instance, in a "framework library", I define this action
[code]
where ClientBase is define like this
[code]

In a specific application which uses my "framework library", I define a specific class which inherits from ClientBase
[code]
Of course in the startup, i add
`services.AddScoped<ClientViewModelBase,

[2017-10-16 09:15] marcusien commented on #6960
I'd like to add the fact that there's a workaround to this issue by using the following method in the body of action
`this.TryUpdateModelAsync(viewModel, viewModel.GetType(), "")`
But this is just a workaround, not a long term solution

[2017-10-16 12:40] jonathanperis commented on #6457
Apparently, an initial implementation has already been done on CoreRT: https://github.com/dotnet/corert/issues/4659

[2017-10-16 15:04] RehanSaeed commented on #6360
@singlewind Did you figure out a workaround for this? I'm running an app in a Docker container behind an AWS Application Load Balancer (ALB) and `Request.IsHttps` is always returning false.

[2017-10-16 18:52] Rick-Anderson commented on #6944
[IIRC](http://onlineslangdictionary.com/meaning-definition-of/iirc) we cut blacklisting ([Exclude](https://msdn.microsoft.com/en-us/library/system.web.mvc.bindattribute.exclude(v=vs.118).aspx) ) because it's less secure than whitelisting ([Include](https://msdn.microsoft.com/en-us/library/system.web.mvc.bindattribute.include(v=vs.118).aspx))

As the schema evolves, a new  *secret* prop may be adde

[2017-10-16 18:55] blowdart commented on #6944
Yup. I wanted a strict binder where you had to specify everything, but apparently this was too mean. Of course really everything should be view model based.

@rynowak How would you feel about throwing if someone bound to a class used in a dbcontext? 👿

[2017-10-16 19:23] rynowak commented on #6944
I'm open to discussions like these if we reinvent this stuff in the far future. Please note that anything which adds requirements needs to also be easier to use correctly. If we do features that make view models required, we have to do additional features that make it trivial to use.

[2017-10-16 19:28] Rick-Anderson commented on #6944
Don't bring back ([Exclude](https://msdn.microsoft.com/en-us/library/system.web.mvc.bindattribute.exclude(v=vs.118).aspx) ), it's less secure and white-listing works.

+1 In strict mode, throw if "if someone bound to a class used in a dbcontext'

[2017-10-16 20:44] pranavkm opened #6963 "Determine what the behavior needs to be when multiple parameters on an ApiController action are inferred as `FromBody`"
Follow up to https://github.com/aspnet/Mvc/issues/6847 and based on the discussion https://github.com/aspnet/Mvc/pull/6930#discussion_r143540344. We need to determine what to do - Log, throw, etc when more than one parameters on an ApiController on action are determined to be `FromBody`.

[2017-10-16 20:50] rynowak commented on #6963
I'll throw my hat in the ring.

Log is always wrong - now we have to decide on a the behavior because the action still has to run.

If something doesn't work then it needs to be an exception so you have to fix it.

[2017-10-16 21:42] mgasparel commented on #6957
using the page directive `@page {pageNum?}` works great, but maps urls to `http://localhost/2` instead of 'http://localhost/page/2`

[2017-10-16 21:56] hishamco commented on #6957
http://localhost/page/2 should works, because you already configure the routing above

[2017-10-16 22:06] hishamco commented on #6943
@javiercn I think this need to be closed

[2017-10-16 22:09] mgasparel commented on #6957
If I keep the route declaration in Startup.cs, then yes, `http://localhost/page/2` works fine. However, URL generation for my index page *always* has a `/page` segment.

For example, `<a asp-page="/Index">` generates a link that points to `http://localhost/page/`

[2017-10-16 22:12] hishamco commented on #6926
You can root the Razor pages in Areas/App folder, but acting it as mini app make it impossible because the Razor Pages has a single root, so this may not applicable in your case

In such scenario may I prefer using [OrchardCore](https://github.com/OrchardCMS/Orchard2), because it build as modules from ground up, so I advice you to have a try

[2017-10-16 22:14] hishamco commented on #6957
Of course, so that's why I used `@page {pageNum}` instead of `@page {pageNum?}` 😄

[2017-10-16 22:23] mgasparel commented on #6957
But as you said, this breaks `http://localhost:5000` which is not an acceptable tradeoff.

[2017-10-16 22:26] javiercn commented on #6943
@hishamco Nope. There's a PR out for fixing it but its not merged.

[2017-10-16 22:31] #6847 closed

[2017-10-16 22:37] hishamco commented on #6957
Yep because you override the default rout, this will definitely support all the cases that you mentioned before:
[code]

[2017-10-16 22:38] hishamco commented on #6943
What about this commit https://github.com/aspnet/Mvc/commit/316fb0ec63634ce591a8c0227b10588bfb0fa015?

[2017-10-16 22:57] mgasparel commented on #6957
aha! `options.Conventions.AddPageRoute("/Index", "");` is what I was looking for! Thanks!

Soooooo close! Unfortunately link generation is still always using the second route, so my Index route will still always point to the current route. So if I'm on `http://localhost:5000/page/2` then `<a asp-page="/Index">` will generate a link to `http://localhost:5000/page/2` and I can't seem to find a way t

[2017-10-16 23:01] hishamco commented on #6957
If you're in the `http://localhost:5000/page/2` the `<a asp-page="/Index">` will generate `http://localhost:5000/page/2` because it's already defined in the route table, I'm not sure why you need to prevent it?!!

[2017-10-16 23:07] mgasparel commented on #6957
Just so I can easily generate links to the homepage or redirect the user after login etc...

[2017-10-16 23:10] hishamco commented on #6957
The easiest way is to avoid using `/Index` in the link, because It will generate the url based on the current route.
FYI don't forgot you're using the same page for all the routes

[2017-10-17 01:07] RandyBuchholz opened #6964 "Razor Pages Error with Section and TagHelpers"
Razor pages throws an error when working with sections.
PostData is class declared inside the backing cs file.

This works
[code]
Moving the TagHelp into a section produces and error.
`A local or parameter named '__model' cannot be declared in this scope because that name is used in an enclosing local scope to define a local or parameter`
[code]
Moving it to a partial works
[code]

[2017-10-17 01:31] mgasparel commented on #6957
Appreciate the help @hishamco

Thanks for the patience 👍

[2017-10-17 01:31] #6957 closed

[2017-10-17 02:50] scottsauber commented on #6943
@hishamco - that's just to the branch.  PR open here - https://github.com/aspnet/Mvc/pull/6953

[2017-10-17 04:38] NTaylorMullen commented on #6964
Hi @RandyBuchholz this is a known issue. Stay tuned for a patch release that fixes this 😄

Duplicate: https://github.com/aspnet/Razor/issues/1614

[2017-10-17 04:38] #6964 closed

[2017-10-17 06:52] hishamco commented on #6943
I see, it's my bad .. sorry

[2017-10-17 15:08] SteveSandersonMS commented on #4607
OK, I've been investigating what happens in different JSON `[FromBody]` scenarios, assuming you return `BadRequest(ModelState)`:

1. **Missing or empty request body** - works fine - we return `{"":["A non-empty request body is required."]}`

2. **Malformed JSON** - not ideal. We return `{"someProperty":["The input was not valid."]}`.

    * It's good that we pass through the `Path` data from Json.

[2017-10-17 15:22] pranavkm opened #6965 "Infer multipart/form-data as a supported request format if a parameter on an action is a form"
As part of the ApiBehavior inference, we could infer `multipart/form-data` as a SupportedRequestFormat if any of the parameters is `IFormFile` or `IFormFileCollection`.

[2017-10-17 15:35] blowdart commented on #4607
I think as long as you don't reflect back the actual input, and it's just positional information it'd be fine.

[2017-10-17 15:39] SteveSandersonMS commented on #4607
It would be positional information (`LineNumber`/`Position` integers) *and* the `Path`/`Member` strings, which are from the JSON keys supplied by the client in the request body.

[2017-10-17 15:41] blowdart commented on #4607
I guess if someone is silly enough to output the error message without encoding they're doing work to shoot themselves in the foot, so ... sure, fine by me.

[2017-10-17 16:05] isonil opened #6966 "Layout/PartialView access inconsistency"
In views:

Layout requires .cshtml extension:
`Layout = "/Views/Shared/_Layout.cshtml";`

But partial views don't:
`@await Html.PartialAsync("Foo/_BarPartial")`

I would expect this to be consistent.

[2017-10-17 16:24] dougbu commented on #4607
@SteveSandersonMS is anything in your description different after @kichalla's work in 83c3ac62 (adding `InputFormatterExceptionModelStatePolicy` and properties of that type) or @pranavkm's various commits (e.g. 7f214492) related to serializing `ModelState` according to the [HTTP Problem Details spec](https://tools.ietf.org/html/rfc7807)?

[2017-10-17 17:04] NTaylorMullen commented on #6966
@isonil Layout shouldn't require the extension. When you provide a `/` prefix to your path you're saying you know exactly where to find a specific view. If you provide the syntax much like what you're doing in the `PartialAsync` call you're telling MVC to try and find the view based on its knowledge of where Views can live.

[2017-10-17 18:20] Eilon commented on #6946
@neoGeneva this is a fairly rare case, so we just haven't invested much time or effort into it, including error cases. If you can propose a fix for this it's something we'd consider taking.

[2017-10-17 19:05] isonil commented on #6966
Ah, so with `/` you always have to specify the extension. Still feels a bit weird but at least it's consistent. Thanks for clarifying.

[2017-10-17 19:30] NTaylorMullen commented on #6966
No problem at all.

[2017-10-17 19:30] #6966 closed

[2017-10-17 21:47] neoGeneva commented on #6946
Hey @Eilon, that makes sense.

Maybe something to revisit if more people raise the same issue, and even the the solution might be just to add something to the docs to mention that shadowed properties aren't supported, just so there's something more specific to point to.

[2017-10-18 07:50] NkululekoMakhubu commented on #4386
Hi @gregoryhervin ,

I have a similar issue. Could you please share how moving to Dependency Injection helped resolve your issue?

Thanks

[2017-10-18 07:59] gregoryhervin commented on #4386
Hi @NkululekoMakhubu,

Could you explain what do you want to do ? This is for the DbContext ?
Could you share your source code to help you ?

Thanks

[2017-10-18 10:49] NkululekoMakhubu commented on #4386
Hi Greg,

I posted a question on Stack Over Flow.
Please have a look if you can.
https://stackoverflow.com/questions/46670359/how-register-service-type-for-microsoft-odata-edm-iedmmodel

Thanks

[2017-10-18 12:02] GregH44 commented on #4386
Hi !

So, this is the wrong way to do that.
You pass your controller in parameter of InvokeForTest. You can do it but that is not what you want.
You should pass your IEdmModel instead of a controller.

Why ? The instance of IEdmModel will be created when your controller will be called.
So, your constructor about your controller can be :
`public MyController(IEdmModel myEdmModel)`

Now, you have to

[2017-10-18 12:29] NkululekoMakhubu commented on #4386
Hi Greg,

I'm not sure I follow. Could you provide a small example?

Thanks in advance

[2017-10-18 13:29] GregH44 commented on #4386
Of course :-)

First of all, in ASP.NET Core project, you should have a "Startup" class and in that class, you should have a method named **ConfigureServices** like :
[code]
Into that method, add :
`services.AddScoped<IEdmModel, EdmModel>();`
Now, you have registered your EdmModel in the container.

Then, your controller should be like :

[code]

What do you want to do with your extension ? Becaus

[2017-10-18 15:12] rynowak commented on #4607
Yes, this is a totally different workitem. Kiran's bug dealt with formatters swallowing **totally unrelated** exceptions such as `TypeLoadException`.

This work item is about improving the user experience for bona-fide input validation errors. The hope is that returning the model state errors to a user will make it possible to troubleshoot your problems as client of an API

[2017-10-18 15:25] rynowak commented on #4607
Great notes @SteveSandersonMS !

Some thoughts:

I'm not crazy about this idea.

If the developer has to make a code change to turn this on, then it's not on by default, then clients have to contact the developer to ask for it. At that point it might as well be logging. Unless we're willing to make something like this on by default for new code (`[ApiController]`) then it's a non-starter to me.

W

[2017-10-18 17:17] Tarig0 opened #6967 "Seems IEnumerable has special casing when checking view's declared model compatibility"
Say I have a view with the following
[code]
and I have a controller which passes a List[Cat] object, this will work

if I change to IList I get a model is not compatible error.
[code]

[2017-10-18 18:10] NTaylorMullen opened #6968 "Fix MvcSandbox to not auto-refresh every 1 second."
Remove the meta refresh from the `_Layout.cshtml`

[2017-10-18 18:43] pranavkm commented on #6968
Tsck tsck @javiercn

[2017-10-18 23:11] javiercn commented on #6968
Cause you could just have fixed it in less time that it took to open the issue.

[2017-10-18 23:20] rynowak commented on #6968
But then you wouldn't learn a lesson about personal responsibility

[2017-10-18 23:25] NTaylorMullen commented on #6968
Can't 😄. It's part of a patch branch, don't want to churn those branches until the next patch release which hasn't happened yet. This can only be done in the future.

[2017-10-19 00:24] svallis opened #6969 "Response being truncated when outputting event stream when IIS Express is reverse proxying"
I made a repo with simple test case for this issue. Clone and run the below and hit `/sse-test` and things work great when serving from Kestrel directly, but causes some inconsistent truncation when running through Visual Studio and IIS Express.

https://github.com/svallis/SseTest/

Here's the only real bit of code added to the repo after a `dotnet new mvc`:

https://github.com/svallis/SseTest/blo

[2017-10-19 08:49] joacar opened #6971 "Query parameter not bound if method parameter has same name as property"
If the parameter name in the method is the same as the property beeing bound via query string it doesn't work. If I prefix the query string key then the value is parsed correctly

**Question**: Should/can the `[FromQuery]` attribute be used on a property to indicate that it should use that name instead of the property name when creating the query string?

E.g. `[FromQuery(Name = "q")]public string

[2017-10-19 08:49] svallis commented on #6969
I found https://github.com/SignalR/SignalR/issues/273 which suggested a working fix for this, adding the following to `web.config`:

[code]

The referenced issue also suggests that _"There is no fix, it's a limitation of IIS classic mode and nothing can be done about it."_ Is that still the case, or is there a cleaner fix now we're in the .NET Core world? While the above solution works, it require

[2017-10-19 09:29] joacar opened #6972 "asp-for binds to incorrect value if view model has property with same name as route placeholder"
[AspNetCoreMVcBugs (2).zip](https://github.com/aspnet/Mvc/files/1397825/AspNetCoreMVcBugs.2.zip)
![bug](https://user-images.githubusercontent.com/439028/31764159-ac66751e-b4c0-11e7-93b5-ff03959c97c4.PNG)

[2017-10-19 10:13] SteveSandersonMS commented on #4607
Re: opting into exposing exception messages

I'm fine with just not doing this, assuming it's possible for developers to expose the exception message on their own by writing a reasonably simple result filter (or similar). Or maybe, as per below, we might be able to just expose this info by default.

Strictly speaking this information already is in the `ModelStateDictionary`, in that the `ModelErro

[2017-10-19 10:19] YakhontovYaroslav commented on #5822
I have just realized that im discussing missed FormUrlEncodedMediaTypeFormatter from Microsoft.AspNet.WebApi.Client.5.2.4 pre-release in closed issue https://github.com/aspnet/AspNetWebStack/issues/4 .

Long story short:  FormUrlEncodedMediaTypeFormatter class is missing from .netstandard pre-release package. Here is https://github.com/aspnet/AspNetWebStack/pull/76 pull request to bring it back.

[2017-10-19 15:15] rynowak commented on #4607
It's an idea I had 💡 - `ModelState` captures validation error concepts today, we could add additional concepts that allow us to track input errors. It doesn't seem stricly necessary, but I'm open to it if it provides value. Basically I think that `ModelState` in its current form satisfies about 60% of the requirements we have.

We should bring this up with him again and try to get a real sign off.

[2017-10-19 16:05] Eilon commented on #6967
@Tarig0 can you show the exact error you're getting, and also let us know which version of ASP.NET Core MVC you're using?

[2017-10-19 16:22] Eilon commented on #6969
@Tratcher any ideas on this? And maybe what repo this bug should go to?

[2017-10-19 16:36] Eilon commented on #6951
@Tarig0 sorry I'm not sure I understand what the issue is here. What is the expected behavior, and what behavior are you getting?

[2017-10-19 16:38] Eilon commented on #6971
@rynowak can you take a look at this?

[2017-10-19 16:38] Tratcher commented on #6969
You can't do StatusCode(200) after writing to the body, it throws. Check your app logs to confirm. Change the action return type to void. On kestrel the flush gets the data out first, but in IIS it gets buffered by the response compression and dropped by the exception.

[2017-10-19 16:44] Eilon commented on #6972
@joacar the tag helpers and HTML helpers in MVC have a prioritized list of where they get values from. They can get values from Model State's "attempted values" (which has results from model binding, which includes the values that went into method parameters, route data, etc.), values from ViewData (e.g. data that was explicitly set in a controller), or other places. You can see some of this logic

[2017-10-19 16:44] #6972 closed

[2017-10-19 16:46] Eilon commented on #6969
Ah, indeed, it's dangerous to mix MVC's delayed action results along with writing directly to the response stream. You'll want to do one or the other; never both.

So, either set the status code explicitly in the action and then write directly to the stream, returning nothing from the MVC action, **or** do *everything* in an MVC action result (e.g. a custom action result that you would write).

[2017-10-19 16:46] #6969 closed

[2017-10-19 16:53] svallis commented on #6969
Thanks @Tratcher - that was certainly an issue as well, but doesn't solve the core issue I had.

The response caching issue, although it manifests in a far less unpleasant way now and the final event is written out in full, still means events are delayed until the following event. This is what it looks like when running:

![Animated GIF](https://i.imgur.com/xbvwh5A.gif)

Events aren't processed un

[2017-10-19 16:56] Tratcher commented on #6969
Yes, that's a limitation of IIS's response buffering as explained in the SignalR thread.

[2017-10-19 17:54] rynowak commented on #6971
This is MVC's prefix detection logic in action.

When MVC sees a parameter like `public IActionResult HelloNameWorks([FromQuery] HelloViewModel hello)`...

It tries first to see if a key was provided for `hello`.  If it finds one then it will try to bind `hello.FirstName`, `hello.LastName`, etc for all of the properties on `HelloViewModel` - in your case it's going to look for `hello.Hello`.  Usin

[2017-10-19 18:08] Eilon commented on #6971
Ok I added this to our tracking item for future analyzers. Beyond that, this issue is currently by-design.

[2017-10-19 18:08] #6971 closed

[2017-10-19 18:10] Eilon commented on #6958
This issue was moved to aspnet/HttpSysServer#404

[2017-10-19 18:10] #6958 closed

[2017-10-19 18:13] Eilon commented on #6955
This issue was moved to dotnet/corefx#24738

[2017-10-19 18:13] #6955 closed

[2017-10-19 18:13] dougbu commented on #4607
Fodder for

Json.NET includes details of the request content in a few `JsonReaderException`s it throws today e.g. [here](https://github.com/JamesNK/Newtonsoft.Json/blob/8dd5eff2ee2e5330f287202307fd50b9b402cf14/Src/Newtonsoft.Json/JsonReader.cs#L458):
[code]
The above is _usually_ just a single character or value. But, I haven't attempted to find everything.

Json.NET also includes potentially-sens

[2017-10-19 19:57] Eilon commented on #6956
@rynowak do you know the answer to this?

[2017-10-19 19:59] Eilon commented on #6960
Model binding in general works with *declared* types and doesn't use DI to resolve model types.

You would have to write a custom model binder that has the appropriate logic to create instances of types other than the declared type.

cc @rynowak for FYI information.

[2017-10-19 19:59] #6960 closed

[2017-10-19 20:02] hishamco commented on #6956
You can do it using JavaScript by passing the handler via querystring

[2017-10-19 21:05] distomin commented on #6945
Guys, here you are
https://github.com/distomin/aspnet-mvc-issue-6945
Enjoy :)

[2017-10-19 21:20] pranavkm commented on #6945
I see the same behavior on Windows, so this isn't is OS specific. You should be able to

(a) Use specific routes for the two actions:

[code]

OR
* Use `ConsumesAttribute` to do the action discrimination:
[code]

[2017-10-20 02:14] HeroWong95 opened #6973 "Unit Test:Session has not been configured for this application or request"
My mvc app is configured session in Startup.cs, it's ok.
But when I did the unit test(MSTest), it threw an exception.
`System.InvalidOperationException:“Session has not been configured for this application or request.”`

`var controller = new TestController
{
    ControllerContext = new ControllerContext { HttpContext = new DefaultHttpContext() }
}`

I'm trying to use the 'Moq' framework, But it d

[2017-10-20 02:30] yedajiang44 opened #6974 "Unable to open under vs2015"
Unable to open under vs2015,
Can only upgrade vs?

[2017-10-20 04:05] HeroWong95 opened #6975 "For Html.ActionLink I have some advice"
In Asp.net MVC, the following code is all right
`@Html.ActionLink("Go", "Checkout", new { }, new { @class = "btn btn-primary", id = "btnCheckout" })`
`@Html.ActionLink("Go", "Checkout", null, new { @class = "btn btn-primary", id = "btnCheckout" })`

In Asp.Net Core Mvc, Only `@Html.ActionLink("Go", "Checkout", new { }, new { @class = "btn btn-primary", id = "btnCheckout" })` is right

This does no

[2017-10-20 04:37] singlewind commented on #6360
@RehanSaeed, see the code above. I will post all the code anyway to you and feel free to modify. If you know your subnets of cluster, please use one of commented code for enhanced security. You need reference Microsoft.AspNetCore.HttpOverrides package if you are not using any mega package contains this one.

`
            app.UseForwardedHeaders(new ForwardedHeadersOptions
            {

[2017-10-20 05:30] HolyOne commented on #6956
Why should I post it via querystring? I have  @page "{handler?}" on my page.
shouldnt it post to /mypage/mysubpage ?

[2017-10-20 07:05] jeff-pang commented on #3286
+1

[2017-10-20 08:47] hieudole opened #6977 "ASP.Net Core 2.0 AddApplicationPart(assembly) does not work on IIS"
I used the following code to test:

`public void ConfigureServices(IServiceCollection services)
{var assembly = typeof(Startup).GetTypeInfo().Assembly;
            services.AddMvc().AddApplicationPart(assembly);
}
`

It works fine on IIS Express but I got the error 500 on ISS 10.0.
With the same code, I got no error on ASP.Net 1.1, on both IIS Express & IIS 10.0.

[2017-10-20 11:55] hishamco commented on #6956
Basically the handler name passed in via querystring, but this can passed via routing if you're using `@page "{handler}"`. I already did something similar [here](https://github.com/hishamco/RazorPagesCommands/blob/master/RazorPagesCommands/TagHelpers/CommandTagHelper.cs#L45)

So what you need to do to set the action property of the form to `YourPage.cshtml?handler=YouHandler` using javascript

[2017-10-20 13:13] SteveSandersonMS commented on #4607
@dougbu Thanks for that info! This does need to get fed into the decision about whether Json.NET exception messages are exposed by default or not.

@rynowak It sounds like a plan is settling. To summarise:

* For `ModelStateDictionary` entries whose `Exception` is an `InputFormatterException`, change the fallback error message string that we report from `"The input was not valid."` to `exception.M

[2017-10-20 15:09] Tarig0 commented on #6951
InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'System.Collections.Generic.List`1[Labels.Electrical.Models.ElectricalFanPart]', but this ViewDataDictionary instance requires a model item of type 'System.Collections.Generic.IList`1[Labels.Electrical.Models.Interfaces.IElectricalPart]'.

[2017-10-20 15:12] Tarig0 commented on #6951
The current behavior

The first block will have the following template path

BASE -> "string"<ModelWithCustomStringEditor> -> "string"<CustomStringEditor>

I would expect this to be
BASE -> "ModelWithCustomString"<ModelWithCustomStringEditor> ->  "string"<CustomStringEditor>

[2017-10-20 15:14] Tarig0 commented on #6967
Sorry I could have sworn I mentioned the model is List<Cat>

InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'System.Collections.Generic.List`1[Cat]', but this ViewDataDictionary instance requires a model item of type 'System.Collections.Generic.IList`1[Animal]'.

[2017-10-20 15:47] pranavkm commented on #6974
Building the repository from source requires VS 2017 (15.3) or higher. You should be able to build it using VS 2017 Community Edition (https://www.visualstudio.com/downloads).

[2017-10-20 18:03] Eilon commented on #6967
Hmm it looks like covariance (or whatever) isn't playing nicely here.

@rynowak any idea how we ought to handle this?

This is the offending code: https://github.com/aspnet/Mvc/blob/c27b07ef3f8b07dfe1d1de38a8d7bf2d6a9298f4/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/ViewDataDictionary.cs#L489-L523

[2017-10-20 18:14] Eilon commented on #6951
@Tarig0 thanks for the extra info.

@dougbu any idea on this?

[2017-10-20 19:55] rynowak commented on #4607
Yes, I think this is a great plan. 👍

[2017-10-20 21:20] distomin commented on #6945
Sorry guys,
I took this code from this course
https://courses.edx.org/courses/course-v1:Microsoft+DEV247x+2T2017/courseware/136fe0473993431b8d77b141d46b3319/4c475ca120f540748baaff8768eb1992/?child=first
And after little discussion there I was told that the code works fine on Windows,
so I thought it is platform related issue.

'Consumes' attribute works perfect.
Thank you!

[2017-10-20 23:00] guardrex commented on #6671
@HolyOne I'm working on some documentation that includes the feature that @pranavkm described. May I ask a question about your app's layout?

If one were routing to separate folders of localized pages where the folder name *is* the language ...

* *Pages* folder
   * *en-us* folder
      * page1.cshtml (en-US)
      * page2.cshtml (en-US)
   * *en-au* folder
      * page1.cshtml (en-AU)
      * pa

[2017-10-20 23:25] Tarig0 commented on #6951
Note this suggestion steamed from the issue #6939

[2017-10-20 23:39] dougbu commented on #6951
Something is definitely wrong here. Passing `Editor(...)` an explicit `templateName` should use that name.

@Tarig0 please provide a repro project, preferably as a GitHub repo. Need to be sure I'm understanding your scenario.

[2017-10-21 00:17] Tarig0 commented on #6951
https://github.com/Tarig0/CustomStringEditor

[2017-10-21 00:22] Tarig0 commented on #6951
https://github.com/aspnet/Mvc/blob/8f8bf5af341b5cc07e0611dc9a3a02e471e2bf63/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/TemplateBuilder.cs#L145

This is the section of code that I think if you could extract the resolved type of the model and use that over the string type found in the modelexplorer

[2017-10-21 06:54] dougbu commented on #6951
@Tarig0 the code you copied above looks fine since `TemplateInfo` information is shared only "vertically" i.e. between nested views. And, you won't have a `string` view inside another `string` view. However your application isn't providing enough metadata for the system to work properly.

One issue in your application is [this line](https://github.com/Tarig0/CustomStringEditor/blob/102b7c865c6cc90

[2017-10-22 07:51] Varorbc opened #6979 "Simplified Chinese characters are garbled"
# Env:

vs2017 15.4.1

.net core 2.0.2

# Test One

        Console.WriteLine("中文");

![image](https://user-images.githubusercontent.com/5714438/31859365-7a8f2eee-b73d-11e7-8edf-3a854d4e4334.png)

result is success

# Test Two

        public IActionResult Index()
        {
            return Ok("中文");
        }

![image](https://user-images.githubusercontent.com/5714438/31859390-2aebc48c-b73e-11e

[2017-10-23 03:14] Eilon commented on #6945
Ok sounds like this issue is good to close...

[2017-10-23 03:14] #6945 closed

[2017-10-23 06:46] #6975 closed

[2017-10-23 06:47] HolyOne commented on #6671
Yes this kind of folder structure would solve the problem but it is very bad design.

If I have 10 languages, and I want to include some image or text, I would need to open and modify html of each one.

Language support is the worst part of .net technologies. Resource localization is a nightmare in all project types but I should open another Issue for that.

[2017-10-23 07:00] HolyOne opened #6980 ".net Core should support other kinds of localization"
I have used all .net project types for the last 10 years, and resource localization is always a nightmare.
I always ended up writing my own localization classes for every project to make it usable.

Please add support for native "gettext"
I can add support for native gettext myself but I have to modify base pages, base classes, and it is a pain. In the newer technologies I cant add gettext to data

[2017-10-23 08:32] guardrex commented on #6671
@HolyOne Ok, thanks. I just wanted to make sure I wasn't missing something there. The topics I'm working on for Razor Pages deal extensively with the conventions for controlling routing, so that's why I was curious. For the image and text issues, I think/hope [ordinary localization approaches](https://docs.microsoft.com/aspnet/core/fundamentals/localization) work ... I haven't had to implement loc

[2017-10-23 08:59] codefactorydevelopment opened #6981 "Does FileStreamResponse in ControllerBase gets disposed?"
Trying to browse through the code but cannot find relevant place.

When returning `FileStreamResult` from controller, does the stream get disposed or should we make sure we call `HttpContext.Response.RegisterForDispose(stream)`?

thanks

[2017-10-23 15:23] wilderarredondo commented on #4827
I think, You must to update the launch.json file, look inside of .vscode directory and change the
"cwd": "${workspaceRoot}" maybe you are working in a solution and you must to specify the current working directory to mention the path of your "project directory"

[2017-10-23 15:35] tarekgh opened #6982 "the Package: System.Text.Encoding.CodePages (ver:4.4.0) cannot be published"
_From @ringrid on October 15, 2017 21:38_

I found this package of version 4.4.0 cannot be publish when I use "dotnet publish".
when I change to version 4.3.0, It's ok, It has rutimes\win and runtimes\unix.
for version 4.4-preview, it has only runtimes\win, no runtimes\unix.

_Copied from original issue: dotnet/corefx#24657_

[2017-10-23 15:35] tarekgh commented on #6982
@ringrid could you tell what version of net core you are targeting in your app? if you can share a simple project we can look at that will be good.

CC @weshaggard

[2017-10-23 15:35] tarekgh commented on #6982
_From @ringrid on October 18, 2017 1:32_

@tarekgh my dotnet core info:
Product Information:
 Version:            2.0.2
 Commit SHA-1 hash:  a04b4bf512

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.2\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8b8861a

[2017-10-23 15:35] tarekgh commented on #6982
_From @ringrid on October 18, 2017 2:8_

@tarekgh
I found it was normal in console app, This problem only occurs in web applications.
My steps are as follows：
1、dotnet new web
2、dotnet add package System.Text.Encoding.CodePages -v 4.4.0
3、dotnet restore
3、Add simple code in Main method:
            Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);
            Encoding.GetEncoding("GBK

[2017-10-23 15:35] tarekgh commented on #6982
@ringrid we believe this is expected because it is part of the closure of ASP.NET and as such ships in the runtime store with ASP.NET. If you run your sample web application you will see that it actually functions correctly.

@davidfowl do you know how the web applications filter out binaries for publishing?

[2017-10-23 15:35] tarekgh commented on #6982
_From @ringrid on October 19, 2017 5:48_

@tarekgh It could not running correctly, I copied the publish folder to Linux and run it, It throwed exception, the system was unable to find System.Text.Encoding.CodePages.

[2017-10-23 15:35] tarekgh commented on #6982
@ringrid when you publish the bits to use on Linux, you'll need to specify the runtime RID. something like

[code]

for the complete list of the RID, you can look at https://docs.microsoft.com/en-us/dotnet/core/rid-catalog

I tried that and it is publishing all needed assemblies correctly.

[2017-10-23 15:35] tarekgh commented on #6982
_From @ringrid on October 19, 2017 16:46_

@tarekgh Thanks for your reply. I think I did not describe my problem clearly. I have known it can be normally by using RID, but my Linux OS has already installed dotnet core SDK, not dotnet runtime. I think it can "write once, run everywhere", and i do not want copy the packages included by SDK.  before this question, other packages can be published norm

[2017-10-23 15:35] tarekgh commented on #6982
Thanks @ringrid for clarification.

@davidfowl looks when referencing the SqlClient package which is referencing System.Text.Encoding.CodePages, the web app publishing will filter out System.Text.Encoding.CodePages because it is in the closure of the SqlClient package. Is that right? do you know why System.Text.Encoding.CodePages is filtered out when publishing the web app?

[code]

[2017-10-23 15:35] tarekgh commented on #6982
_From @ringrid on October 21, 2017 21:16_

@tarekgh Did you have any result?

[2017-10-23 15:35] tarekgh commented on #6982
@davidfowl should be able to help here as I don't know how the web apps publish its bits. Also, I am going to move this issue to asp.net repo as this is not specific to corefx

[2017-10-23 15:36] tarekgh opened #6983 "the Package: System.Text.Encoding.CodePages (ver:4.4.0) cannot be published"
_From @ringrid on October 15, 2017 21:38_

I found this package of version 4.4.0 cannot be publish when I use "dotnet publish".
when I change to version 4.3.0, It's ok, It has rutimes\win and runtimes\unix.
for version 4.4-preview, it has only runtimes\win, no runtimes\unix.

_Copied from original issue: dotnet/corefx#24657_

[2017-10-23 15:36] tarekgh commented on #6983
@ringrid could you tell what version of net core you are targeting in your app? if you can share a simple project we can look at that will be good.

CC @weshaggard

[2017-10-23 15:36] tarekgh commented on #6983
_From @ringrid on October 18, 2017 1:32_

@tarekgh my dotnet core info:
Product Information:
 Version:            2.0.2
 Commit SHA-1 hash:  a04b4bf512

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.2\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8b8861a

[2017-10-23 15:36] tarekgh commented on #6983
_From @ringrid on October 18, 2017 2:8_

@tarekgh
I found it was normal in console app, This problem only occurs in web applications.
My steps are as follows：
1、dotnet new web
2、dotnet add package System.Text.Encoding.CodePages -v 4.4.0
3、dotnet restore
3、Add simple code in Main method:
            Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);
            Encoding.GetEncoding("GBK

[2017-10-23 15:36] tarekgh commented on #6983
@ringrid we believe this is expected because it is part of the closure of ASP.NET and as such ships in the runtime store with ASP.NET. If you run your sample web application you will see that it actually functions correctly.

@davidfowl do you know how the web applications filter out binaries for publishing?

[2017-10-23 15:36] tarekgh commented on #6983
_From @ringrid on October 19, 2017 5:48_

@tarekgh It could not running correctly, I copied the publish folder to Linux and run it, It throwed exception, the system was unable to find System.Text.Encoding.CodePages.

[2017-10-23 15:36] tarekgh commented on #6983
@ringrid when you publish the bits to use on Linux, you'll need to specify the runtime RID. something like

[code]

for the complete list of the RID, you can look at https://docs.microsoft.com/en-us/dotnet/core/rid-catalog

I tried that and it is publishing all needed assemblies correctly.

[2017-10-23 15:36] tarekgh commented on #6983
_From @ringrid on October 19, 2017 16:46_

@tarekgh Thanks for your reply. I think I did not describe my problem clearly. I have known it can be normally by using RID, but my Linux OS has already installed dotnet core SDK, not dotnet runtime. I think it can "write once, run everywhere", and i do not want copy the packages included by SDK.  before this question, other packages can be published norm

[2017-10-23 15:36] tarekgh commented on #6983
Thanks @ringrid for clarification.

@davidfowl looks when referencing the SqlClient package which is referencing System.Text.Encoding.CodePages, the web app publishing will filter out System.Text.Encoding.CodePages because it is in the closure of the SqlClient package. Is that right? do you know why System.Text.Encoding.CodePages is filtered out when publishing the web app?

[code]

[2017-10-23 15:36] tarekgh commented on #6983
_From @ringrid on October 21, 2017 21:16_

@tarekgh Did you have any result?

[2017-10-23 15:36] tarekgh commented on #6983
@davidfowl should be able to help here as I don't know how the web apps publish its bits. Also, I am going to move this issue to asp.net repo as this is not specific to corefx

[2017-10-23 15:36] tarekgh commented on #6983
This issue was moved to aspnet/Mvc#6982

[2017-10-23 15:36] #6982 closed

[2017-10-23 15:37] tarekgh commented on #6982
closing this one as there is another created issue for the same problem

[2017-10-23 16:25] rjperes opened #6984 "Base class for ViewResult and PartialViewResult"
Since ViewResult and PartialViewResult share so much (properties and execution), why not have them inherit from a, abstract base class and just override ExecuteResultAsync, or some abstract method?

[2017-10-23 18:18] NTaylorMullen opened #6985 "Flaky test CacheTagHelperTest.ProcessAsync_WorksForNestedCacheTagHelpers"
I ran this non-stop for over an hour without repro. Seems very inconsistent but still flaky 😄

http://aspnetci/viewLog.html?buildId=347170&tab=buildResultsDiv&buildTypeId=Patches_20x_Public_TestWin2012#testNameId-8007269666152451102

/cc @ryanbrandenburg

[2017-10-23 19:18] Rabadash8820 opened #6986 "Add vary-by-culture Attribute to Cache Tag Helpers"
I have numerous Views with large sections of markup that do not change unless the user changes their language preferences.  I prefer the CookieRequestCultureProvider to handle language selection, so when I want to cache these Views, I have to use code like below.  This feels quite verbose to me, for what I imagine is a fairly common use case in production apps; namely, caching by request culture.

[2017-10-23 19:35] Rabadash8820 commented on #6986
For the record, I have already made a patch that would implement this attribute, but I wanted to get some feedback on the idea for making a PR.  The patch uses the (hashed) UI Culture as the cache key.

[2017-10-23 21:10] RickStrahl opened #6987 "RazorPages and AntiForgery Token"
I playing around with Razor Pages and I noticed that I can't get pages to post unless I explicitly add `@Html.AntiForgeryToken()` to the form.

I was under the impression that when using the form tag helper the Anti-forgery token gets automatically injected?

Here's the test RazorPage I'm using. Note I'm even explicitly setting `asp-antiforgery="true"` but it still fails to send the cookie.

[code

[2017-10-23 21:18] Eilon commented on #6910
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 21:18] Eilon commented on #6887
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 21:18] Eilon commented on #6837
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 21:19] Eilon commented on #6834
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 21:27] khellang opened #6988 "Add support for the Sunset header"
It would be nice if MVC supported [the `Sunset` header](https://tools.ietf.org/html/draft-wilde-sunset-header-03), possibly through an attribute that you could annotate actions with.

This metadata, as well as `ObsoleteAttribute`, could then feed into something like https://github.com/json-schema-org/json-schema-spec/issues/74 and https://github.com/OAI/OpenAPI-Specification/issues/782.

I realize

[2017-10-23 21:29] RickStrahl commented on #6987
Ok my bad - I didn't have the _viewimports in place to pull in tag-helper support. Sorry.

[2017-10-23 21:29] #6987 closed

[2017-10-23 22:48] Eilon commented on #6792
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 22:48] Eilon commented on #6706
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 22:50] Eilon commented on #6611
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 23:27] RickStrahl opened #6989 "Socket Exception on TryValidateModel in RazorPages"
I have a very simple Razor Page I'm experimenting with and I'm having issues getting model state to validate.

Basically I have a text box in form with a value that has a Validation attribute (MinLength) and I'm trying to get the model to validate. It doesn't happen automatically in OnPost so I'm using `TryValidateModel(this)` which throws a Socket Exception:

![image](https://user-images.githubus

[2017-10-24 00:23] hishamco commented on #6989
You could move your validation attributes to the `Model` instead

[2017-10-24 00:26] hishamco commented on #6989
But still I'm surprising why it throws Socket Exception?!!
@rynowak any idea?

[2017-10-24 03:30] Cuiqs76 opened #6990 "razor page as partial view throw error"
my _layout as below:
`<body>
    <div>
       @await Html.PartialAsync("_LayoutHeader")
        <div class="row">
            <div>
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
</div>`

renderbody will load index view.  the index and _LayoutHeader view are razor pages.

when run throw error:
An unhandled exception occu

[2017-10-24 06:07] gregbradley commented on #6725
This problem has occurred again under a different scenario. I'm now running VS2017 15.4.1 and have .NET Core SDK 2.0.0 and 2.0.2 installed. When I perform the following actions...

1. File -> New -> Project...
2. Select Installed -> Visual C# -> Web -> ASP.NET Core Web Application and click OK
3. Select .NET Core, ASP.NET Core 2.0, Web Application and click OK
4. Build -> Build Solution

... and I

[2017-10-24 06:19] gregbradley commented on #6725
These lines in the detailed build output are interesting, which include the part `Pages\About.cshtml.cs Pages\Contact.cshtml.cs Pages\Error.cshtml.cs Pages\Index.cshtml.cs Pages\_ViewStart.cshtml Program.cs Startup.cs`. Notice how the last .cshtml file does not include the .cs. What is responsible for generating this command sequence?

`1>Target CoreCompile:
1>  Building target "CoreCompile" compl

[2017-10-24 08:14] marcusien opened #6991 "Get the metadata from the resolved type instead of declared type"
Hi,

I introduced my issue in this solution : https://github.com/marcusien/MetadataIssue

I got a view that expect a model as at least a ViewModelBase
But, of course, I could have a ViewModel which inherits from this ViewModelBase (in my case ChildViewModel)
In the Index controller action, I return the view Index.cshtml with a new instance of ChildViewModel

In the ViewModelBase, i got a virtual p

[2017-10-24 09:40] frankabbruzzese commented on #6986
@Rabadash8820 ,
What about something like:

`<cache vary-by="@CultureInfo.CurrentUICulture.Name">
            ......
</cache>`

It doesn't depend on the way you handle culture (cookie or whatever).

[2017-10-24 13:37] epic2001 opened #6992 "AddApplicationPart with loaded Assembly throw "Cannot find compilation library location for package""
Hi, I want to add external mvc controllers and compiled views to my asp.net core mvc webapp like plugin.

This sample code (in Startup Configuration) throw "InvalidOperationException: Cannot find compilation library location for package 'WebAI'":
[code]

Following the workaround at [https://github.com/dotnet/core-setup/issues/2981#issuecomment-322572374](url) I got the same exception:
[code]

Than

[2017-10-24 14:03] desmondgc opened #6993 "Cannot find reference assembly 'System.AppContext.dll' file for package System.AppContext.Reference"
In an ASP.NET Core 2.0 project targeting .NET Framework 4.7.1, we encountered the following exception at startup on developer workstations:

[code]

The site worked as expected when targeting net461 and net47. Interestingly, the site worked as expected targeting net471 when deployed on a web server (runtime vs SDK?)

The resolution was to include a reference to Microsoft.AspNetCore.Mvc.Razor.ViewC

[2017-10-24 14:04] desmondgc commented on #6993
The issue was resolved by including a reference to Microsoft.AspNetCore.Mvc.Razor.ViewCompilation. Posting for anyone else who happens to encounter this issue.

[2017-10-24 15:16] rynowak commented on #6989
Look at the call stack:
[code]

`TryValidateModel` will recursively access all of the properties of the the object you pass in to perform validation. Since you passed in a `PageModel`-derived class it's walking `PageModel`->`HttpContext`->`ConnectionInfo`->`Socket`->`IPAddress`.

I assume that you're doing this because your `[MinLength(..)]` attribute is not getting run. Prior to 2.1 - MVC core do

[2017-10-24 15:41] rynowak commented on #6967
This is how covariance works in C#.  MVC does not do anything special, we just follow the rules. Considering that `@Model` has a defined/known type in the view, you need to give us a model object that can be assigned to that type.

If you tried the following, it would not compile:
[code]

Here's the reason why this isn't supported - assume it were allowed:
[code]

What you're trying to do will wor

[2017-10-24 15:41] rynowak commented on #6967
Closing this as by-design. Please let us know if this explanation doesn't make sense

[2017-10-24 15:41] #6967 closed

[2017-10-24 16:11] Tarig0 commented on #6967
💥 Well that makes sense once I read enough about covariance. Thanks for pointing me twoards the ReadOnlyList

[2017-10-24 16:12] rynowak commented on #6956
Hi @HolyOne - does this example show what you're looking for? https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?tabs=visual-studio#multiple-handlers-per-page

[2017-10-24 16:37] hishamco commented on #6956
@rynowak as @HolyOne mentioned in the first thread, he wanna call the handler from JavaScript, seems the solution that I gave previously is enough to do that using JavaScript

[2017-10-24 16:38] hishamco commented on #6989
Thanks for clarification @rynowak

[2017-10-24 18:56] rynowak commented on #6956
Then it's just a URL that you need. You can generate one with `Url.Page("./", new { handler = "subpage" })`

[2017-10-24 20:51] Rabadash8820 commented on #6986
Hm, don't know why I didn't think of that!  So I guess the question is, would `vary-by-culture` still be a syntactic sugar worth having?

[2017-10-24 20:58] VeryKross commented on #6725
Having the exact same problem that @gregbradley described above; same version of VS, same project type, same steps to repro the issue [create the project, hit the "build solution" button in VS]. I'm running on Windows 7.

[2017-10-24 20:59] Rabadash8820 commented on #6986
Also, is my understanding here correct?

- The request localization middleware (added to the pipeline with `UseRequestLocalization()`) sets `CultureInfo.Current(UI)Culture`
- Views are parsed by the MVC middleware (added with `UseMvc()`)
- Therefore, as long as `UseMvc()` comes last in the middleware pipeline, the `<cache>` element in your above  solution will be cached correctly according to cult

[2017-10-24 22:26] pranavkm commented on #6992
Might be a dup of https://github.com/aspnet/Mvc/issues/6934. Notes from previous investigation - https://github.com/aspnet/Mvc/issues/6934#issuecomment-336544322.

[2017-10-24 22:55] gregbradley commented on #6725
Hi @pranavkm - how do I reopen this work item as this is still an issue?

[2017-10-25 02:32] Cuiqs76 commented on #6990
use view component

[2017-10-25 02:32] #6990 closed

[2017-10-25 19:50] Dresel opened #6994 "AttributeRouteModel does not get created for empty [HttpGet] attribute"
When using an empty [HttpGet] attribute like this

    public class HomeController : Controller
    {
        [HttpGet()]
        public IActionResult Index() => Content("Hello World");
    }

the AttributeRouteModel will not be created:

     public class TestConvention : IApplicationModelConvention
    {
        public void Apply(ApplicationModel application)
        {
            // This return

[2017-10-25 20:30] rynowak commented on #6994
This is (sadly) by design. An `[HttpGet]` without a string means conventional routing.

What's the big blocker to creating the model yourself if you want everything to be attribute routed?

[2017-10-25 20:38] Dresel commented on #6994
Oh ok, missed that. Thanks for your fast reply.

[2017-10-25 20:38] #6994 closed

[2017-10-25 21:39] HaoK opened #6995 "[Authorize] attributes on Controller + Model do not combine."
Original issue: https://github.com/aspnet/Security/issues/1489

The expected behavior of [Authorize] on Controller + [Authorize(Policy = "Method"] on a method would be a combined policy that merges a default Authorize attribute and the method policy.  This should result in basically the "Method" Policy.

Today this merging/combining is broken, AuthorizationFilterContext ends up with two AuthorizeF

[2017-10-25 21:42] HaoK commented on #6995
Note: the behavior basically is the Controller's attribute will be challenged, while the method attribute's schemes will not be challenged as that filter is never hit at all.

[2017-10-25 21:49] breyed opened #6996 "<select> with GetEnumSelectList loses state when browsing back"
Consider a page with a control like this, which lets you choose a value from a `State` enum:

[code]

1. Set State to something besides the default choice.
2. Enter text into text input controls on the same form.
3. Click Submit. This causes a post to some page.
4. Click the browser Back button.

#### Result:
Notice that the text controls all retain their previous values. Notice that the select co

[2017-10-26 06:56] shravan2x commented on #6875
Do we have an ETA on the patch? This is a fairly serious issue.

[2017-10-26 11:43] snebjorn opened #6997 "ProducesResponseTypeAttribute doesn't accept System.Net.HttpStatusCode"
https://github.com/aspnet/Mvc/blob/79e576b86c040d676dcd96a6e666dc75f79da211/src/Microsoft.AspNetCore.Mvc.Core/ProducesResponseTypeAttribute.cs#L14

It would be neat if you've able to do this:
`[ProducesResponseType(typeof(SomeType), HttpStatusCode.OK)]`

Or even better:
`[ProducesResponseType<SomeType>(HttpStatusCode.OK)]`

Instead of:
`[ProducesResponseType(typeof(SomeType), (int) HttpStatusCode.

[2017-10-26 18:57] kylef000 commented on #1580
Sorry to comment on an old/closed issue. Was there ever any discussion for an option to test .css files that do not have singular classes?

Two examples:

- [dataTables.bootstrap.css](https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.css) has at bare minimum two selectors chained together like `table.dataTable { ... }` but no standalone `.dataTable` class.

- Similarly with [skin-red.css

[2017-10-26 19:13] DamianEdwards commented on #1580
@kylef000 that's interesting, I'm not sure how one would even test for that in a generic way like we do using the injected `<meta />` element.

[2017-10-26 21:30] pranavkm commented on #6997
@javiercn \ @Eilon this is in the same vein as https://github.com/aspnet/Mvc/pull/6902. Should we just do a pass through our user facing APIs and add an HttpStatusCode overload where possible?

[2017-10-26 21:37] #6943 closed

[2017-10-27 09:28] Rexota opened #7000 "Test framework that works well with DI?"
I've a few services and want to test them with dependency injection:

[code]

I know xunit doesn't support DI. Any suggestion? I'm having hard time to find tutorials etc.

[2017-10-27 12:55] kylef000 commented on #1580
@DamianEdwards Ah, alright. I didn't see much in the way of questions regarding this in my cursory search on the matter, so it may not be something that is worth investing time into. Probably the best way around this is to fork, add a test class (like `.skin-red-fallback-test { ... }` ) within the individual file, then make a PR for whichever particular library one might be using.

Thank you for t

[2017-10-27 15:55] wind-rider opened #7001 "Publishing Asp.net Core 2.0 / net461 / x86 using visual studio GUI does not work"
I'm trying to publish an asp.net core 2.0 project targeting the full .Net Framework to a folder using the gui in Visual Studio 15.5.0 preview 2.

The error I'm getting is:

[code]

However, when I run it locally in IIS Express, it builds and runs fine.

[2017-10-28 01:35] John0King commented on #6979
@Varorbc  You didn't response the correct `charset` header to browser

[2017-10-28 07:17] shravan2x commented on #6887
I just tried the new `2.0.3-*` version. The content-length issue does indeed seem to be fixed.

The `Microsoft.AspNetCore.All` package included all of the packages in the published output. As I remember, it should only have included the ones that were actually used. Is this a side-effect of the pre release package system itself?

[2017-10-28 07:19] #6979 closed

[2017-10-28 15:43] smartprogrammer93 opened #7002 "Localization doesn't work unless you add a package that isnt from microsoft"
Hello,

I had a similar issue to this person as the link below,

https://stackoverflow.com/questions/39132868/localization-in-asp-net-core-mvc-not-working-unable-to-locate-resource-file

and the solution proposed on that page worked.

I was wondering why is this not documented. And why its required to install a package isnt even from microsoft.

Regards

[2017-10-30 02:33] minhhuynh1812 commented on #4750
hi all. i have problem. i hope everybody can help me. i want validate for each attribute of a object and notifi error for each attribute. thanks you!

[2017-10-30 02:43] kshyju opened #7003 "Action method returns empty response after setting TempData"
When i set  an object of my custom class to TempData and try to do a Redirect, I get a 500 error. As per 2.0, CookieTempData provider is default. So i do not have any explicit mapping for` ITempDataProvider` to `CookieTempDataProvider`

The code i am trying

        [HttpPost]
        public IActionResult Index(IndexViewModel model)
        {
            model.Code = "This was set in HttpPost at"

[2017-10-30 04:14] dougbu commented on #4750
@minhhuynh1812 please open a new issue if you have a specific scenario that is not working as you wish. You may want to start by reviewing the docs e.g. https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding or asking a question on https://stackoverflow.com. In fact, your question may match something already asked, perhaps in the https://stackoverflow.com/questions/tagged/asp.net-co

[2017-10-30 06:33] Eilon commented on #6887
@shravan2x actually when *publishing* an app, by default *none* of the packages references by `Microsoft.AspNetCore.All` should be in the published output. Only a few ASP.NET/EF Core-related packages might be there, and of course various 3rd party packages might be there.

Can you show what command you ran and what's in the publish output folder?

[2017-10-30 09:37] shravan2x commented on #6887
@Eilon I've seen that in ASP.NET Core 2.0 this is indeed the case. The number of packages is far lower than 1.0. However, when I ran the new `2.0.3-*` package, I remember seeing all packages, just as in `1.x`. I used the default "Publish to Folder" option in VS2017 (the latest version, 15.4 I think).

I will test again in the next few days and report back with more info.

[2017-10-30 15:24] Zogger12 commented on #6725
Hi,  I am having this issue as well with my Visual Studio 2017 Professional and Windows 7 configuration.  Created a new web application project and the build fails immediately with the same 5 errors.  I installed Visual Studio 2017 on my Windows 10 machine and did the same thing, but the build worked there.  Definitely seems to be something to do with Windows 7.

[2017-10-30 15:40] timcromarty commented on #6725
Also seeing the same problem on a Win 7 machine

[2017-10-30 15:50] eerhardt commented on #6725
Would it be possible for someone who has a repro of this issue to follow [@cdmihai's instructions](https://github.com/aspnet/Mvc/issues/6725#issuecomment-327951744) to debug why this is happening?

We can't seem to figure out what is causing this problem since we can't repro it.  I assume there is some file system setting, or other OS setting, that is causing the issue on some machines, but not on

[2017-10-30 16:18] Eilon commented on #6887
@shravan2x if you publish the app as a self-contained (also known as "standalone") app, it will contain all of ASP.NET Core *and* even all of .NET Core. I believe there's an option in the publish dialog to enable this, but it isn't the default setting.

If you can show what files are in the output folder that would help figure this out.

[2017-10-30 16:24] rynowak commented on #6848
Closing this, we've discussed it and feel like it's a little inconsistent and non-obvious. We can't always guess whether you wanted a 200, 204 or 404.

[2017-10-30 16:24] #6848 closed

[2017-10-30 20:07] wizofaus opened #7004 "Output of "dotnet new mvc" doesn't work immediately with VS code"
After running "dotnet new mvc", the directory is missing tasks.json and has an incomplete launch.json (with a number of templated parameters that need to be manually filled in).  I can't see any reason why "dotnet new mvc" can't do this itself so that the solution can just be debugged immediately with VS Code.
Using dotnet 2.0, VS Code 1.17.
Sorry if this is more of a VS Code issue than aspnet/mvc

[2017-10-30 21:15] pranavkm commented on #7004
@mlorbetske would this belong in https://github.com/dotnet/templating?

[2017-10-30 21:51] mlorbetske commented on #7004
Seems like it'd be more of a fit for aspnet/templating since it's for adding VS Code artifacts to the Web project templates.

[2017-10-30 23:35] pranavkm opened #7006 "CSharpCompiler does not honor the DebugType setting specified in the project"

[2017-10-30 23:49] pranavkm commented on #7006
cc @rynowak \ @Eilon

Related note: In the past, we used to produce portable pdbs all the time on CoreCLR and full pdbs on Windows when the right set of components were available. This was simple to do using an `#idfef`. When we moved to `netstandard2.0`, we realized this was no longer possible unless we cross-compiled. Full-pdbs on CoreCLR + Windows mostly work (Stack traces get read, VS break po

[2017-10-31 00:23] zoinkydoink opened #7007 "asp-format not respected due to datetime-local"
It seems that the html tag helper is adding stuff i dont think i want?
I have the following

`<input  asp-for="EndDateTimeUTC" class="form-control" asp-format="{0:yyyy-MM-ddThh:mm}">`

which produces

`<input class="form-control valid" type="datetime-local" data-val="true" data-val-required="The EndDateTimeUTC field is required." id="EndDateTimeUTC" name="EndDateTimeUTC" value="2017-10-31T12:17" a

[2017-10-31 01:56] gregbradley commented on #6725
I managed to do some debugging of MSBuild following those instructions. I can see the extra incorrect file being adding the result in FileMatcher.GetFilesRecursive. Because of the compiler optimisations and recursion it is difficult to debug completely.

As @cdmihai mentioned this module ends up calling Directory.GetFiles and using the parameters that are passed to the method I did a quick test ou

[2017-10-31 02:26] gregbradley commented on #6725
Nice one Windows ;)

![image](https://user-images.githubusercontent.com/6867679/32204740-207bbcac-be3f-11e7-91aa-20034ca741d8.png)

[2017-10-31 06:22] davidfowl commented on #7000
What exactly are you trying to do? Are you testing an MVC application?

[2017-10-31 11:12] taylorjandrew opened #7008 "asp-for now not working when casting in asp.net core 2"
The asp-for casting shown below used to work in core 1.0 and core 1.1 but now doesn't in core 2.0?
`<input asp-for="@(Model as ServiceOperative).JobTitleClient" class="form-control" />`
It now gives the following error -
**InvalidOperationException: Templates can be used only with field access, property access, single-dimension array index, or single-parameter custom indexer expressions.**
The fol

[2017-10-31 14:04] eerhardt commented on #6725
Thanks for isolating this @gregbradley!

@JeremyKuhne @stephentoub - do either of you know what Windows setting/option/bug would cause the above behavior?

`_ViewStart.cshtml` obviously doesn't match `*.cs`.

[2017-10-31 16:20] Rexota commented on #7000
It's web api application. I want to test the services I registered through DI, not the controllers..

[2017-10-31 16:27] Rexota opened #7009 "Too much file generated after publishing"
I have a solution with this structure:
[code]
When I run dotnet publish, it generates lots of folders and dll. How can I reduce generated files? It looks like I'm doing something wrong.

Core.csproj (omitted some libraries for brevity):

[code]
Web.csproj:

[code]

Generated web.deps.json (really tooo long): https://pastebin.com/0Q1i8V08
Folders under /publish:

[code]

What can be the problem?

[2017-10-31 16:45] pranavkm commented on #7009
@JunTaoLuo is it missing the runtime store trimming?

[2017-10-31 16:51] pranavkm opened #7010 "Port CSharpCompiler does not honor the DebugType setting specified in the project to patch release"
Work item: https://github.com/aspnet/Mvc/issues/7006

We could consider taking this in a patch since it affects Razor debugging in VS Code (and possibly other IDEs that don't support full pdbs). https://github.com/OmniSharp/omnisharp-vscode/issues/1816

[2017-10-31 17:04] zippy1981 opened #7011 "Razor page rendering doesn't wait for OnGet and OnGetAsync to complete"
Using an ASP.NET App run from the console and the ASP.NET logging I've determined that `public async void OnGetAsync()` or `public async void OnGet()` will start to execute before the razor page is executed, but the Pages don't wait for the function to complete before they fire.

I can fix this by removing the `async` keywords and replacing `await Foo()` with `Foo.Result()`. However, everything I

[2017-10-31 18:14] svallis opened #7012 "Disabling antiforgery token verification for a single razor page's OnPost method"
Modifying the conventions for razor pages allows disabling of the antiforgery token verification globally:

[code]

I only have a single endpoint on my application that needs to disable this though. Adding `[IgnoreAntiforgeryToken]` anywhere potentially relevant doesn't seem to help. Is this situation supported or possible, or do I need to use an MVC controller to handle things?

[2017-10-31 18:23] rynowak commented on #7011
You need to define the handler methods as `async Task` not `async void`. We're looking at building an analyzer that will warn about cases like this in the future.

[2017-10-31 19:20] JeremyKuhne commented on #6725
There are no settings that I'm aware of and I'm also not aware of any specific bugs that were fixed. I don't see the behavior when trying to repro myself- although I don't have a Win7/8 box handy.

I have seen weird behavior when there are trailing spaces or the filesystem is messed up. It's possible that hardlinks might be messing with things (wild guessing here). Afaik, the actual match algorith

[2017-10-31 20:21] wizofaus commented on #7004
FWIW this doesn't seem to be specific to this template - in general whatever template I use doesn't work inside VS Code without seemingly unnecessary tweaking. Maybe it's more of an issue with VS Code given you can build/run the resulting project using the dotnet command.  Or it might just be my computer...

[2017-10-31 20:24] wizofaus commented on #7004
https://github.com/OmniSharp/omnisharp-vscode/issues/1167 seems to capture the same issue I'm seeing.

[2017-10-31 20:29] #7004 closed

[2017-10-31 21:52] JunTaoLuo commented on #7009
I'm going to try reproduce this problem to confirm but my suspicion is that you would want to reference `Microsoft.AspNetCore.All` in the app that you are publishing. Otherwise the publish targets that sets the publish manifests to enable trimming do not execute and the output isn't trimmed.

[2017-10-31 23:49] JunTaoLuo commented on #7009
Confirmed. You need to add a package reference to `Microsoft.AspNetCore.All` in the application that's being published, in this case I'm assuming you are publishing Web. When you do, it will trim the publish output.

On a side note, is it possible to run the metapackage's targets even when it's brought in transitively? cc @natemcmaster

[2017-11-01 00:43] natemcmaster commented on #7009
No. NuGet does not import MSBuild properties or targets from the PackageReferences of other projects. It only imports if the PackageReference is explicitly listed in the project.

[2017-11-01 00:54] JunTaoLuo commented on #7009
Well then I guess we'll just need to advise everyone to always include a reference to the All metapackage in their application. There shouldn't be any work required here. Closing for now.

[2017-11-01 00:54] #7009 closed

[2017-11-01 08:09] Rexota commented on #7009
Thanks @JunTaoLuo, It'll probably will solve my problem but I've ended up with this structure because I have crazy and impractical dependency on `Microsoft.AspNetCore.All `libraries.

[code]

[2017-11-01 10:26] JeremySkinner opened #7014 "Integrating 3rd-party validation libraries: Open up the design of ValidationVisitor"
Back in 2015, I had a discussion with @rynowak was very helpful in getting some changes into the MVC validation pipeline that would make it easier for 3rd party validation libraries to integrate with MVC's validation infrastructure (#1260), but unfortunately there are still several blocks that make this difficult.

The main issue is that the MVC validation pipeline does not run model-level validat

[2017-11-01 16:21] zippy1981 commented on #7011
Thanks, that did it.

[2017-11-01 16:21] #7011 closed

[2017-11-01 17:50] OpenSpacesAndPlaces opened #7016 "IUrlHelper Link - Ignore Properties"
Hi!

I'm using IUrlHelper to create paging links.

Like:
`urlHelper.Link(RouteName, ObjectWithPagingData)`

That works and it generates the URL.

However that same object has some public properties I'd like to ignore and not include.
But even decorating the property like so, it ends up in the URL:
[code]

Is there a different attribute/way of doing this I need to use, or is this some kind of bug?

[2017-11-01 17:55] JunTaoLuo commented on #7009
That should work too. As long as the app that you are publishing has a direct reference to the Microsoft.AspNetCore.All package.

[2017-11-01 19:53] Eilon commented on #7006
So this is about Razor view compilation not respecting the app's programmatic preferences for Razor view compilation?

[2017-11-01 19:55] madskristensen opened #7017 "ViewContext not resolved on TagHelperComponent"
When inheriting from `TagHelperComponent` or `TagHelperComponentTagHelper` the _ViewContext_ property is not being set.

**Repro steps**
1. Create a class inheriting from `TagHelperComponent`
2. Add _ViewContext_ property like below
3. Run app

[code]

**Expected**
The _ViewContext_ property be set so it can be consumed in the `Process` and `ProcessAsync` methods.

**Actual**
The _ViewContext_ pro

[2017-11-01 19:58] pranavkm commented on #7006
We pick up a couple of the compilation settings in the app's project file and apply it to the compilation of the Razor's generated C# content. Things like `LanguageVersion`, `WarningsAsErrors`. We have access to the project's `DebugType` setting, we just missed using it as part of compilation.

We don't have a way to programmatically specify this value.

[2017-11-01 20:02] rynowak commented on #7006
Related: https://github.com/OmniSharp/omnisharp-vscode/issues/1816#issuecomment-340140488

We use windows pdbs if possible, but that's not good for omnisharp/vscode.

[2017-11-01 21:40] NTaylorMullen commented on #7017
We need to add the logic to contextualize components before they run.

[2017-11-01 22:33] anurse opened #7018 "Add EventSource/EventCounter tracing and metrics for MVC"
Some events listed below. The goal is to add events that will help users solve problems so if these aren't going to do that job, feel free to suggest/discuss others!

* `Microsoft-AspNetCore-Mvc` EventSource (does not exist)
    * For each `x` in `Action`, `ActionResult`, `ViewExecution`, `ViewCompilation`, `ModelBinding`
        * `xStarted` event - Triggered when invocation of an Action begins.

[2017-11-02 01:34] ynanech opened #7019 "I met a mistake：Multipart body length limit 16384 exceeded"
I use the middle to achieve large file upload, but encountered a mistake, I should be how to solve?

![0](https://user-images.githubusercontent.com/20282409/32305424-7721496a-bfb0-11e7-87c6-afe55d0ba76e.png)
![1](https://user-images.githubusercontent.com/20282409/32305435-7f86eb50-bfb0-11e7-8dfa-a5bc07f46119.png)
![2](https://user-images.githubusercontent.com/20282409/32305441-84bdc5c6-bfb0-11e7-9

[2017-11-02 04:55] rynowak commented on #7018
Can we treat this as a separate discussion/item? This has come up a few times in the past are we're always very light on detail about what information we want to provide exactly and how we're to get it. In general we have this kind of info at the parameter level but not the property level

[2017-11-02 11:13] mrahhal opened #7020 "GET request with json body"
I have a GET action that accepts a complex body (json). Turns out this doesn't work outside of the box.

Is this by design? And what is the recommended approach for this use case?

[2017-11-02 16:05] anurse commented on #7018
Absolutely. I'll file a separate issue for Model Binding tracing.

[2017-11-02 16:06] anurse opened #7021 "Add EventSource/EventCounter tracing and metrics for Model Binding"
Separated from https://github.com/aspnet/Mvc/issues/7018 after discussions

We should look at where we can provide tracing and metrics in Model Binding to make it easier to diagnose why model binding isn't doing what the customer wants. We should also expand logging while we're doing this (in many cases, there should be log messages matching EventSource events).

[2017-11-02 16:40] pranavkm commented on #6965
Fixed in https://github.com/aspnet/Mvc/commit/ab4c519dd5d2f67720e44963a1d12618e2ec9082

[2017-11-02 16:40] #6965 closed

[2017-11-02 19:25] jchannon commented on #388
@malekpour did you implement that filter and if so have any code I can look at?

[2017-11-02 19:52] Eilon commented on #7020
@rynowak / @Tratcher - any idea on whether the current support for GET-with-body is deliberate?

[2017-11-02 19:52] Eilon commented on #7019
@Tratcher any idea on this limit?

[2017-11-02 19:53] Eilon commented on #7017
@NTaylorMullen so this already happens for Tag Helpers, but not Tag Helper Components?

[2017-11-02 19:54] Tratcher commented on #7020
This is by design. Very few HTTP stacks allow GET to have a body. You need to use POST or similar.

[2017-11-02 19:54] Eilon commented on #7016
Hi @OpenSpacesAndPlaces , there is currently no way to do this directly.

There are two alternatives:
1. Create a new type that has only the properties you want to be included in the route
2. Use a dictionary type instead, and include only the keys/values you want to be included in the route

[2017-11-02 19:54] #7016 closed

[2017-11-02 20:01] Tratcher commented on #7019
Some multipart bodies include preamble data before the first mutipart section. MultipartReader automatically drains that portion but limits it to 16k. There's not currently a way to configure this behavior.
See https://github.com/aspnet/HttpAbstractions/blob/c0f937239a0a099b73c67c96ab9e1c875952f67f/src/Microsoft.AspNetCore.WebUtilities/MultipartReader.cs#L48-L50

Do you know why your upload includ

[2017-11-02 20:45] Eilon commented on #7008
@pranavkm can you take a look? Presumably we changed our expression generator here...

Also cc @rynowak

[2017-11-02 20:46] Eilon commented on #7007
@zoinkydoink if you set `type="text"` on your `<input>` tag, does that fix it? I think that might override ASP.NET Core's default processing of data types in input tag.

cc @dougbu in case you have more thoughts on this.

[2017-11-02 20:50] Eilon commented on #7003
@kshyju can you try catching all exceptions in Visual Studio's debugger to see what the actual exception is?

@pranavkm can you also try to take a look?

[2017-11-02 21:00] #6989 closed

[2017-11-02 21:02] NTaylorMullen commented on #7017
@Eilon correct. We have a custom activator for TagHelpers but not for TagHelperComponents.

[2017-11-02 21:04] Eilon commented on #6988
I'm not sure an attribute would be a good way to describe this directly because attributes are static, whereas with the `Sunset` header you need a dynamic date.

[2017-11-02 21:56] Eilon commented on #7019
@Tratcher parking this on your plate until we can figure out what's wrong.

[2017-11-02 21:57] Eilon commented on #7017
Got it, this seems reasonable to me.

@jbagga / @rynowak - any concerns about adding this to 2.1?

[2017-11-02 21:58] #7020 closed

[2017-11-02 22:04] khellang commented on #6988
But it's just a static value? OK, I agree that dates and attributes don't mesh well, but it's still a static value:

[2017-11-02 22:35] HaoK commented on #6995
Met with @rynowak @Tratcher @javiercn to discuss this, and the proposed fix is relatively straight forward, we'll add a new flag in MvcOptions to control whether all authorize attributes are merged into a single authorize filter instead of the current behavior where each level (global/controller/action) each get a filter.

I'll submit a PR as the next step.

[2017-11-02 23:31] rynowak commented on #6988
What's the benefit of us putting this in the core? You can easily do this with a result filter. Why is the world a better place we build it?

[2017-11-02 23:41] rynowak commented on #7021
https://www.youtube.com/watch?v=rfwz3pHuJdE

[2017-11-03 01:26] ynanech commented on #7019
@Tratcher @Eilon
Thank you for your help.
I want to adjust the limit, but the setting is invalid, I want to achieve a separate file upload service through the middleware, I test only upload a 31.7KB file, it is temporarily unable to achieve this idea, I refer to this tutorial:
[https://docs.microsoft.com/zh-cn/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-streaming](url)

[2017-11-03 03:31] Tratcher commented on #7019
What client are you using for the upload? An HTML form in a browser? Which browser?

Can you share a Fiddler trace of the upload? From your description it contains unexpected content.

[2017-11-03 04:49] Eilon commented on #6985
@sebastienros can you take a look?

[2017-11-03 04:53] Eilon commented on #6984
They probably could have shared a base class for consolidating a bit of code, but I don't think it would have proven very useful - at least, no one has asked for it yet. That is, where would anyone use a new `ViewResultBase` type and operate only on that base type?

As a side note, ASP.NET MVC 1-5 did have a [`ViewResultBase`](https://github.com/aspnet/AspNetWebStack/blob/62d0b2df0bcca848a8e0848fd

[2017-11-03 04:53] #6984 closed

[2017-11-03 04:54] Eilon commented on #6949
Closing because there is not enough information to reproduce this problem.

[2017-11-03 04:54] #6949 closed

[2017-11-03 05:50] ynanech commented on #7019
@Tratcher
I use Postman to upload, and this is the fiddler content
![5](https://user-images.githubusercontent.com/20282409/32361695-d333a0a2-c09d-11e7-898d-e93a33603bfe.png)

This is the test code:
`
    public class FileStreamUploadMiddleware
    {
        private readonly RequestDelegate _next;

        public FileStreamUploadMiddleware(RequestDelegate next)
        {
            _next = next;

[2017-11-03 05:56] rynowak commented on #6984
This is already a thing - all of the significant logic is shared, reusable, and extensible.

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/ViewExecutor.cs

[2017-11-03 06:53] khellang commented on #6988
It gets in the hands of more people, quicker. Many people probably don't even know this is something that's coming.

You don't have to. Put it as up for grabs and watch someone else build it :wink:

[2017-11-03 07:51] #6973 closed

[2017-11-03 10:31] TimRowe opened #7023 "Why chinese character translate to unicode format"
My view contain chinese character like below
[code]
It will translate in the response like below
[code]
It can display right in the browser. But I don't want it to  translate, because i can't see the chinese charater in debug mode on  browser. How can i do?

[2017-11-03 11:57] hikalkan opened #7024 "Request: ServiceBasedPageModelActivatorProvider"
``IControllerActivator`` has two implementation: ``DefaultControllerActivator`` and ``ServiceBasedControllerActivator``. That's good, and we can use ``IMvcBuilder.AddControllersAsServices()`` extension method to use DI to create controllers.

However, ``IPageModelActivatorProvider`` currently has only one implementation: ``DefaultPageModelActivatorProvider``. It would be good to be able to instant

[2017-11-03 12:16] hikalkan commented on #7024
I suppose it should be like that:

[code]

Then we can replace the ``IPageModelActivatorProvider`` like that:

[code]

Note: If you use ``ServiceBasedPageModelActivatorProvider``, then you should somehow register all PageModel classes to DI.

[2017-11-03 12:23] Tratcher commented on #7019
Can you save and upload that Fiddler trace? I need to see the request body.

[2017-11-03 12:51] ynanech commented on #7019
Is this one?
[4_Full.txt](https://github.com/aspnet/Mvc/files/1441054/4_Full.txt)

[2017-11-03 16:36] Tratcher commented on #7019
The request looks normal, but I see you're retrieving the boundary incorrectly.
`var boundary = HeaderUtilities.RemoveQuotes(context.Request.ContentType);`
The linked sample code does this instead:
[code]

[2017-11-03 18:59] challe commented on #5822
Any updates?

[2017-11-03 19:22] shravan2x commented on #6887
Sorry I haven't found time to check yet. I will definitely do it this weekend.

[2017-11-03 21:32] dougbu commented on #5822
We expect to have preview ASP.NET Core 2.1 MVC packages early next year.

[2017-11-04 22:56] lyptt opened #7025 "CORS not working at all on ASP.NET Core 2.0 Web API project"
I've added CORS as described [here](https://docs.microsoft.com/en-us/aspnet/core/security/cors). Literally every solution posted there doesn't work with my project.

Any CORS preflight fails with a 404 response, which causes the request to abort. Is CORS even supported with Web API projects? Because it seems like it isn't, at all.

Any help would be greatly appreciated.

[2017-11-05 10:02] ynanech commented on #7019
I don't know how to express my feelings. I'm too tired. My code is the same as the core part of the official sample code. Can you look at the code with my heart?
[https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample/MultipartRequestHelper.cs](url)
` public static string GetBoundary(MediaTypeHeaderValue contentType, int lengthLimit)
        {

[2017-11-05 10:34] lyptt commented on #7025
Looks like this was Visual Studio acting weird and not rebuilding, a reboot fixed it.

[2017-11-05 10:34] #7025 closed

[2017-11-05 16:07] seanfisher commented on #7012
Same problem here. Adding `[IgnoreAntiforgeryToken]` to the RazorPage class or method does not disable the check. Here's the log message, if it helps:

[code]

Disabling the filter globally seems to be the only way to turn it off. I got @svallis's code to work with a sight modification:

[code]

[2017-11-05 22:00] dpaquette commented on #3785
I have created an Authorize tag helper that supports roles, policies and authentication schemes. It works exactly like the Authorize attribute and Authorization filter.

## Only authenticated users
[code]

## Only users who are members of a role
[code]

## Only users meeting the requirements for a Policy
[code]

## Policy and role combined
[code]

Would the team be willing to consider including th

[2017-11-05 23:25] KenSpr opened #7026 "Razor Pages do not appear to support ViewBag variables"
Neither Razor pages (with the ```@page``` directive) nor their C# code-behind files seem to support ViewBag.  For instance copying C# code from an existing Asp.net Core 2.0 MVC controller causes compile-error when ViewBag is encountered. The same is true for Razor Pages: the razor-page code (with an @page directive) does not recognize references to ViewBag variables.

We think that 'Pages' are gre

[2017-11-06 01:59] #7023 closed

[2017-11-06 02:02] TimRowe commented on #7023
duplicate #5264

[2017-11-06 02:06] shravan2x commented on #6887
@Eilon I just tried publishing on `2.0.3-0` again, it worked as expected. I was likely mistaken earlier.

Looking forward to seeing this in release!

[2017-11-06 03:40] johnstav opened #7027 "Post model binding uses culture, Get model binding doesn't use culture"
With culture en-AU, the following controller action binds the date parameter differently for get and post:
- Get binds MM/dd/yyyy (en-US?)
- Post binds dd/MM/yyyy (en-AU - Correct culture)

- Tested and occurs in aspnetcore 2 - razor pages and controllers

Controller:
[code]
View:
[code]

[2017-11-06 04:12] scottsauber commented on #7026
See this discussion here - https://github.com/aspnet/Mvc/issues/6754#issuecomment-326763351.  ViewBag was intentionally left out.

[2017-11-06 04:43] nlowe opened #7028 "Razor Views do not recompile when directories with large numbers of files are present in the project tree"
First off, I've been tearing my hair out for the past few hours trying to figure out what's causing this so if this isn't the right repo to report this in, feel free to move it.

## Problem

If the `material-design-icons` package from npm is present in the `node_modules` directory, Razor templates do not get compiled on subsequent requests. This seems to be some limit with the number of files in t

[2017-11-06 05:07] scottsauber commented on #6956
This might be loosely related, but why is it in the default templates we need the Logout POST action to be a MVC Controller action and not a Razor Page Page Handler?

Seems like if you make a Logout Page with no Get page handler and only a Post page handler that it should just work.  I've tried to make it a Razor Page with just a Post handler and it doesn't seem to work.

I get that it's not "trul

[2017-11-06 10:32] rjperes commented on #6984
This is not a big thing, granted, but since we (Microsoft+community) are making a fresh start, why not do it right? ViewResult and PartialViewResult and ViewResultExecutor and PartialViewResultExecutor share 99% of the code, the only difference I see (I may be wrong, though) is that ViewResultExecutor sets IsMainPage to true and PartialViewResultExecutor does not. It may be important to inspect an

[2017-11-06 13:24] hhvdblom commented on #6535
Since Nadella is on board I don't jump in to easily anymore. Fool me once shame on you. Fool me twice, shame on me. Invested a lot in WPF for Mobile. Saw lots of things get dumped from Microsoft. Haha, Microsoft Software starts to look like Open Source, no backwards compatability, support etc.

[2017-11-06 14:20] #6977 closed

[2017-11-06 15:34] Tornhoof commented on #7019
What @Tratcher is referring to:
You use:
``var boundary = HeaderUtilities.RemoveQuotes(context.Request.ContentType);``
``context.Request.ContentType`` is in your request ``multipart/form-data; boundary=----WebKitFormBoundary8Su1nBMUX1qEXx1z``, you need to first parse it, because you're only interested in the **boundary** parameter

In the reference code you posted, contentType is already a parsed

[2017-11-06 16:47] Eilon commented on #6984
@rjperes it isn't about right and wrong, it's a design choice. We felt that code factored by encapsulation is better than code factored by derivation.

[2017-11-06 16:47] Eilon commented on #6887
@shravan2x thanks for confirming!

[2017-11-06 17:10] pranavkm commented on #7028
@nlowe what OS \ platform did you see this issue in? We had report of an issue on CentOS where the FileSystemWatcher was getting overwhelmed when the app had a large number of files and stopped reporting changes. One workaround to unblock you in the meanwhile is to enable polling to detect file system changes. Set this environment variable `DOTNET_USE_POLLING_FILE_WATCHER=1` and run the app. Perha

[2017-11-06 17:14] nlowe commented on #7028
I'm on Arch Linux. I don't have access to my machine right now but I'll test that out and get back to you.

[2017-11-06 22:59] nlowe commented on #7028
@pranavkm setting that environment variable seems to work for my use case. Would this be a bad thing to set in a bash profile so I don't have to remember to set it every time?

[2017-11-06 23:02] SteveSandersonMS commented on #4607
Implemented in #7015

[2017-11-06 23:02] #4607 closed

[2017-11-06 23:03] SteveSandersonMS commented on #4862
Implemented in #7015

[2017-11-06 23:03] #4862 closed

[2017-11-06 23:08] HaoK commented on #6995
@rynowak so shockingly, implementing the new combining behavior is not as trivial as I imagined(hoped?)

Combining the controller/action authorize filter should be pretty straightforward, but what about global filters that were added explicitly like: `.AddMvc(opt=> opt.Filters.Add(new AuthorizeFilter(policy))`

Is it reasonable to manipulate the filters and replace all AuthorizeFilters with a new

[2017-11-06 23:21] pranavkm commented on #7028
@nlowe there's a small amount of extra I/O involved when you request a view. I would avoid using this in a production environment, but it's entirely harmless locally. In fact, setting this flag up is a staple of container based development workflows.

[2017-11-06 23:35] pranavkm commented on #7027
@johnstav this is a dup of https://github.com/aspnet/Mvc/issues/5335. The form using GET, would have it's values read using a QueryStringValueProvider that does not use the request locale. If you do want it to have the same behavior as form post, consider replacing `QueryStringValueProviderFactory` in `MvcOptions.ValueProviderFactories` with a factory that uses the request culture.

[2017-11-06 23:45] rynowak commented on #6995
We need to check the global auth filter is `GetType() == typeof(AuthorizeFilter)` first, but then it should be fine. We need to handle the case where the developer subclassed.

[2017-11-07 01:45] ynanech commented on #7019
I am sorry, I ignored this small detail, thank you very much for the patience solution. thank

[2017-11-07 02:59] nlowe commented on #7028
Good to know.

Is there anything you need me to try regarding this?

[2017-11-07 05:07] pranavkm commented on #7028
@nlowe not at this point. We'll bother you if we are unable to reproduce the issue. I'll leave the issue open so we can track the work.

[2017-11-07 07:26] #7019 closed

[2017-11-07 07:35] thanhnntq opened #7029 "Error RZ3007: Targeted tag name cannot be null or whitespace"
My project when running in Debug working fine. But when i published with Debug/Release profile , i got an error:

      An unhandled exception has occurred: One or more compilation failures occurred:
      (0,0): Error RZ3007: Targeted tag name cannot be null or whitespace.
Microsoft.AspNetCore.Mvc.Razor.Compilation.CompilationFailedException: One or more compilation failures occurred:
(0,0): Erro

[2017-11-07 09:25] thanhnntq commented on #7029
Here is all of application part loaded:

Part: R:\Published\Microsoft.ApplicationInsights.dll - OK
Part: R:\Published\Microsoft.ApplicationInsights.AspNetCore.dll - OK
Part: R:\Published\Microsoft.AI.DependencyCollector.dll - OK
Part: R:\Published\Microsoft.AspNetCore.dll - OK
Part: R:\Published\Microsoft.AspNetCore.Antiforgery.dll - OK
Part: R:\Published\Microsoft.AspNetCore.ApplicationInsights.H

[2017-11-07 09:29] thanhnntq commented on #7029
Here is my controller and View:

`public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }

        public IActionResult About()
        {
            ViewData["Message"] = "Your application description page.";

            return View();
        }

        public IActionResult Contact()
        {
            ViewData["Messa

[2017-11-07 10:51] rjperes commented on #6984
@Eilon: a good discussion to be held elsewhere! :-)
I just wanted to highlight that we have a lot of code duplication, that's all.
As I said, it's no big deal, happy for this to remain closed.

[2017-11-07 11:26] rootwalla opened #7030 "Hiding inherited methods in a controller"
Hello, I apologise if this was asked before, if it was I would appreciate a link to it, as I could not find it myself.
I am using aspnetcore 2.0 to create a restful API service.
Now, in order to maximise code reuse I would like to use the inheritance pattern for my API version increments and I've run into a considerable problem.

Here is some pseudo-code:
[code]
Calling `GET v2/athing/` works fine

[2017-11-07 13:44] Mardoxx opened #7031 "Enum binding when it shouldn't"
If we have the following:

[code]
[code]

`GET test/10` will return `10`, and likewise `GET test/invalid` returns `0` when I should not expect either to bind.

How can I configure it to do so? I assume I need to set `allowBindingUndefinedValueToEnumType` some how? https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/EnumTypeModelBinder.cs

[2017-11-07 13:48] Mardoxx commented on #7031
Ah.. I see this was added here https://github.com/aspnet/Mvc/pull/6812

And there's this potentially related issue https://github.com/aspnet/Mvc/issues/6858

Will this be the correct way to configure this?

[2017-11-07 16:01] ganeshmuthuvelu commented on #6661
This issue is still happening and not resolved in 2.0.2.
At the same time I do not know for sure if this is resolved in 2.0.2 or not? I see many still seem to have the issue - there are several comments. workarounds, closed as duplicate threads etc., but there is nothing that I could find that clearly says if this is fixed in 2.0.2 or when it will be fixed..

Any help and understanding of our pain

[2017-11-07 16:43] Eilon commented on #6984
@rjperes no worries, it's good to discuss these things and share thoughts!

[2017-11-07 17:36] Eilon commented on #7029
I think this error is caused by having a tag helper that is incorrectly configured. Does your project include any custom tag helpers?

Here's the code that throws the exception: https://github.com/aspnet/Razor/blob/8dfba25d5900a8fc4d0f73d56cbc110fcce5c3db/src/Microsoft.AspNetCore.Razor.Language/DefaultTagMatchingRuleDescriptorBuilder.cs#L98

cc @NTaylorMullen in case you have other thoughts.

[2017-11-07 17:44] Eilon commented on #7024
@rynowak thoughts on adding this?

[2017-11-07 17:44] Eilon commented on #7026
Correct, per https://github.com/aspnet/Mvc/issues/6754#issuecomment-326763351, we are not planning on adding ViewBag to Razor Pages.

[2017-11-07 17:44] #7026 closed

[2017-11-07 17:48] Eilon commented on #7030
There is no direct support for this in ASP.NET Core MVC. You might be able to write a custom controller convention to change this behavior. Here's a different sample showing some other capabilities of controller conventions: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.GenericControllers - perhaps you can use the code as a reference and adapt it to your needs.

I think if you instead mak

[2017-11-07 17:57] Eilon commented on #7002
@smartprogrammer93 can you explain exactly what doesn't work? All the `QueryStringRequestCultureProvider` does is set the current request's culture based on the query string.

Using custom tag helpers for localization seems unrelated to me.

[2017-11-07 18:05] Eilon commented on #7000
You could test this using functional tests. I'm not aware of any particular pattern or library specifically for testing dependency injection in an app.

[2017-11-07 18:05] #7000 closed

[2017-11-07 18:06] rynowak commented on #7024
We should do this. I don't think we can should try to build a Pages equivalent to `IMvcBuilder.AddControllersAsServices()`

[2017-11-07 18:06] #6974 closed

[2017-11-07 18:33] Eilon commented on #6983
ASP.NET Core doesn't do anything particularly special during publish. All it does is enable a publish manifest when using Microsoft.AspNetCore.All to avoid deploying packages that are already in the Runtime Package Store.

@JunTaoLuo @pranavkm - any other ideas on this?

[2017-11-07 18:51] Eilon commented on #6988
Closing this because I don't see enough reason to have a first-class feature for this at this time. It's easy for anyone to add the header to a response, as well as read it from a request. It's also easy to do so from an MVC filter. It's not clear where MVC can put in some genuine "value add" (e.g. somehow integrating it with other features).

[2017-11-07 18:51] #6988 closed

[2017-11-07 18:51] Eilon commented on #7001
@pranavkm any idea on this?

[2017-11-07 18:52] Eilon commented on #6904
@rynowak let me know if you want to load-balance.

[2017-11-07 18:59] Eilon commented on #6892
@Tratcher where should this bug ultimately go? I just want to make sure it's in the right repo, even if we end up just closing it.

[2017-11-07 19:05] rynowak commented on #6904
I got this started already and handed it off to @pranavkm because he asked to take it over 😆

https://github.com/aspnet/Mvc/tree/rynowak/super-result-filter

[2017-11-07 19:09] JunTaoLuo commented on #6983
The issue here is that System.Text.Encodings.CodePages 4.4.0 is in the closure of Microsoft.AspNetCore.All which means it ended up in our runtime store. The web application assumes that the runtime store is installed on the target machine and trims this package from the publish output.

There are two solutions here:
1. install the runtime store. If you are trying to deploy to a linux machine, you

[2017-11-07 19:21] Eilon commented on #6983
Ah yes if the package store isn't installed on the target machine, you'll get all kinds of errors. @JunTaoLuo 's suggestions are the way to go.

[2017-11-07 19:21] #6983 closed

[2017-11-07 19:29] Tratcher commented on #6892
Close, this is an IIS issue. We've dealt with it the best we can in the individual servers.

[2017-11-07 20:32] hishamco opened #7032 "Add @using before @page shows 404"
Is this by intention or is it a bug?

/cc @rynowak @NTaylorMullen

[2017-11-07 20:45] NTaylorMullen commented on #7032
By design. `@page` must be at the top of the file.

[2017-11-07 20:45] #7032 closed

[2017-11-07 20:51] hishamco commented on #7032
Strange!! I remembered from ASP.NET WebPages before that we can @using before @inherits

Is there any reason why we can't use @using before?

[2017-11-07 20:58] #6892 closed

[2017-11-07 20:59] wind-rider commented on #7001
with "using the gui" I meant: right-click on the project and click publish

[2017-11-07 22:37] NTaylorMullen commented on #7032
We do a "quick" parse of each Razor file on disk by only looking at the first directive in order to determine routing information 😄. If the directive could be anywhere we'd have to parse more of the file significantly impacting startup perf.

[2017-11-07 22:44] hishamco commented on #7032
But we can look for the lines that starts with the `@` symbol instead to parse the entire file, IMHO this will not affect the performance too much and we're free to use `@using` before `@page`

[2017-11-07 23:40] javiercn commented on #6615
@Eilon Should we also support input type=week?

[2017-11-08 00:08] kshyju commented on #7003
Here is the relevant part of the exception

[code]

The [`EnsureObjectCanBeSerialized` method ](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/TempDataSerializer.cs#L158)is throwing the exception.

Is it by design ?  Are we only supposed to use simply types mentioned in `IsSimpleType` method ?  I remember in previous versions of MVC, i could do this. I us

[2017-11-08 00:30] pranavkm commented on #7003
@kshyju yes, the `TempDataSerializer` only supports simple types and collection (lists and dictionaries) of simple types. https://github.com/aspnet/Mvc/issues/2276 has some background on why it behaves like this and https://github.com/aspnet/Mvc/issues/2276#issuecomment-235018633 has some suggestions on what you could do to address this in your application.

[2017-11-08 00:32] thanhnntq commented on #7029
I run debug (F5 or Shift F5) it work fine. But publish it that error

Vào 08-11-2017 00:36, "Eilon Lipton" <notifications@github.com> đã viết:

[2017-11-08 00:46] kshyju commented on #7003
Thanks ! Any idea why it is not throwing/showing the error message in the browser or firing up the developer exception page ? (I used VS Output->Debug window to get the exception details)

[2017-11-08 04:46] watcharaphong commented on #4962
@IsaacSee Thank a lot.

[2017-11-08 04:59] Tratcher commented on #7003
OnStarting is called directly by the server, the best it can do is log. In practice we don't use OnStarting in most components because of the ordering and error handling confusion. Do you really need it for temp data? Would you be better off processing temp data as a result filter of some sort?

[2017-11-08 09:18] rootwalla commented on #7030
The problem appears due to the duplication of the HttpGet attribute, not so much implementation.
Thus my solution was to introduce an abstract class at the beginning of the stack, thus:
[code]
Notice that the child implementations declare only route attributes, that way the httpGet of individual leafs are declared only once.

Thanks again for the time and effort (on this and on the whole mvc)

[2017-11-08 09:18] #7030 closed

[2017-11-08 12:22] drauch opened #7033 "DisplayTextFor doesn't respect Display attribute"
Hi!

We want to render Name+Status of a list of entities in a select HTML tag like so:

    <select>
        <option value="...">Name1 (Status: Status1)</option>
        ...
    </select>

For this we create a `List<SelectListItem>` like so:

    entities.Select(e => new SelectListItem {
        Value = e.Id,
        Text = e.Name + " (Status: " + htmlHelper.DisplayTextFor(x => e.Status) + ")"

[2017-11-08 15:47] thanhnntq commented on #7029
I have a custom TagHelper but not using in that controller.
[code]

[2017-11-08 16:34] Eilon commented on #6615
@javiercn seems reasonable.

[2017-11-08 16:55] NTaylorMullen commented on #7029
@thanhnntq could you provide a repro?

[2017-11-08 17:54] jbagga opened #7034 "Support input type "week""
Similar to #6615

[2017-11-08 17:54] jbagga commented on #6615
Filed the issue [here ](https://github.com/aspnet/Mvc/issues/7034) to support "week"

[2017-11-08 18:21] svallis commented on #7012
@seanfisher Decorate your `PageModel` class with `[IgnoreAntiforgeryToken(Order = 1001)]`. The key is the `Order` parameter. The built in `[ValidateAntiforgeryToken]` has an order of `1000`, and therefore explicitly setting `[IgnoreAntiforgeryToken]` to anything greater than `1000` should resolve the issue.

[2017-11-08 18:30] jbagga opened #7035 "Support new HTML5 input types"
The following [HTML5 input types](https://www.w3schools.com/html/html_form_input_types.asp) are currently not handled
- [ ] 1. color
- [ ] 2. number (with input restrictions like min, max, required etc.) - @dougbu Can you confirm that this is the case?
- [ ] 3. range
- [ ] 4. search

[2017-11-08 19:09] dougbu commented on #7035
@jbagga exactly what type of support were you looking for? Many datatypes map to `type="number"` already.

`type="color"` is probably not supported because .NET Core lacked `System.Drawing.Color`. Not sure if that datatype is included in .NET Standard 2.0. If it's now included, we should fix that gap compared to MVC 5.x.y.

Not sure what .NET datatypes could or should be mapped to `type="range"` o

[2017-11-08 19:14] jbagga commented on #7035
cc @Eilon

[2017-11-08 22:24] Eilon commented on #7035
Indeed, the question ultimately is "How can MVC provide additional value with respect to these HTML5 input type." For example, one type of value-add is that when MVC sees you're using a `System.DateTime` or `System.DateTimeOffset`, it automatically renders `<input type="datetime-local">`, and sets the `value=` attribute to the correct format.

So, for the 4 input types above, what, if anything, ca

[2017-11-08 22:37] Grauenwolf opened #7036 "Allow the use of exceptions instead of IActionResult - Needed for Swagger, RAML, etc."
Here is an example of problematic code:

[code]

Because the return type is a generic value instead of a specific one there is no way for IDL generators such as Swagger or RAML to determine what the response format will be.

Furthermore, this eliminates type checking of the return value. If updatedContract is the wrong type, the compiler won't catch the error.

[2017-11-08 22:41] ndeen86 commented on #6661
I am also facing the issue in 2.0.2. I logged the defect in #https://github.com/dotnet/core-setup/issues/3397

[2017-11-08 22:43] Grauenwolf commented on #5507
Huh? Indicating an error condition is EXACTLY what exceptions are designed for.

[2017-11-08 22:44] halter73 commented on #7003
The diagnostics middleware could wrap OnStarting callbacks and report any exceptions by decorating IHttpResponseFeature. Not saying it's a good idea, but it's possible.

[2017-11-08 22:56] dougbu commented on #7035
MVC 5.x.y automatically used `type="color"` and a custom format for the `Color` datatype. Since `Color` is available in .NET Standard 2.0 (according to [apisof.net](https://apisof.net/catalog/System.Drawing.Color)), we could do the same in ASP.NET Core.

What we've got for `type="number"` seems fine. But, I guess we could treat `type="range"` almost identically to `type="number"` and `type="search

[2017-11-08 23:17] Tratcher commented on #7003
Yes, but it would be outside of the request control flow so it couldn't react to the exception.

[2017-11-08 23:51] pranavkm commented on #6985
I dug in to this because I had repeated failures on desktop with this when I was working on the 2.1.0 acquisition. There's a couple of issues here at play:

1. CancellationToken.Register may throw a ObjectDisposedException on desktop if the TokenSource has been disposed. I say *may* because it's currently behind an app context switch. Relevant code: http://referencesource.microsoft.com/#mscorlib/s

[2017-11-08 23:58] pranavkm commented on #6985
For the time being, I'd like to skip this test until we can address (1) and have it consumed in Mvc. We can use this work item to track restoring it once relevant changes have flown through.

[2017-11-09 00:06] CGollhardt commented on #5636
For reference, @frankabbruzzese  has blogged about his approach:

https://blogs.msdn.microsoft.com/mvpawardprogram/2017/05/09/aspnetcore-mvc-error-message/

Thank you by the way :)

[2017-11-09 00:08] ryanbrandenburg commented on #6985
I'm fine with that. I've added this to our list of flaky tests to further prevent it getting forgotten.

[2017-11-09 01:31] jbagga commented on #7035
There are some new input restrictions in HTML5  like max, min, required, pattern and step. Maybe `number` should support those

[2017-11-09 01:58] thanhnntq commented on #7029
i don't know why in debug mode (F5) it's working fine, but only when i published it getting that error!
I think it unrelated with my custom tag helper, because i don't used it in any view and when i remove them project still get that error!
_Sorry for my bad English!_

[2017-11-09 03:14] dougbu commented on #7035
@jbagga I mentioned the following [above](https://github.com/aspnet/Mvc/issues/7035#issuecomment-342926364):

What type of support are you proposing? Why is the current support for those attributes aka restrictions insufficient?

[2017-11-09 07:51] thanhnntq commented on #7029
I create custom RazorViewCompiler and debug into it. Here i get that error:
![image](https://user-images.githubusercontent.com/30698814/32594135-663332fa-c55d-11e7-9821-814e2814b7a5.png)

[2017-11-09 08:06] thanhnntq commented on #7029
And here is GeneratedCode:
[code]

[2017-11-09 08:53] thanhnntq commented on #7029
When I clear my View and input only line: "Hello".
I got a generated code:
[code]
and error still here.
![image](https://user-images.githubusercontent.com/30698814/32596509-1bebf782-c566-11e7-95a9-e6f41c5d1a38.png)

[2017-11-09 09:35] RehanSaeed opened #7037 "WebApplicationTestFixture Should Find the Project under Test"
According to the [announcement](https://github.com/aspnet/Announcements/issues/275) the `WebApplicationTestFixture` traverses the directory tree upwards to find the solution but then assumes the project file is at the same level.

It would not be that much more work to traverse the directory in the reverse direction from the solution directory to look for a directory with the name `<<AssemblyName>

[2017-11-09 09:42] RehanSaeed opened #7038 "WebApplicationTestFixture should provide a default WebHostBuilder"
According to the [announcement](https://github.com/aspnet/Announcements/issues/275) `WebApplicationTestFixture` tries to look for a function with the signature `public static IWebHostBuilder CreateWebHostBuilder(string [] args)` in the assembly where the `Startup` class is located.

That sounds really strange to me. My `CreateWebHostBuilder` method in my `Program` class is for use in production. I

[2017-11-09 14:31] tverboon commented on #7036
It is possible to decorate your actions:

[code]
Does this help?

[2017-11-09 16:52] Grauenwolf commented on #7036
I don't know yet, but at first glance that appears to be a very clumsy workaround. That's the kind of thing you'd do in a typeless language like VBScript.

[2017-11-09 17:26] Eilon commented on #7029
@thanhnntq can you upload your entire app to GitHub? We think there's another tag helper that is causing the problem (perhaps in another library the app is referencing).

[2017-11-09 17:46] Tratcher opened #7040 "Antiforgery sets headers after the response body has started"
This was found when we changed TestServer to behave more like a real server and lock headers after the body starts. See https://github.com/aspnet/Hosting/pull/1256

[code]

These tests are being disabled until this is fixed:
SetCookieAndHeaderBeforeFlushAsync_GeneratesCookieTokenAndHeader
SetCookieAndHeaderBeforeFlushAsync_PostToForm

[2017-11-09 18:25] #6615 closed

[2017-11-09 18:59] elmar-de-groot commented on #5859
Not sure if you are just implementing to support guid. But would like to implementation to mimic FromQuery behavior. In my scenario I was trying to use SomeAction([FromHeader(Name = "x-page-number")] pageNumber)

[2017-11-09 19:54] ryanbrandenburg opened #7041 "Flaky tests: ServiceFilterUsesRegisteredServicesAsFilter and MiddlewareFilter_LocalizationMiddlewareRegistration_UsesRouteDataToFindCulture"
These tests have [failed recently](http://aspnetci/viewLog.html?buildId=353793&buildTypeId=Lite_MvcTest&tab=buildResultsDiv) with errors saying a Collection has been modified. Sounds like a race condition somewhere in these codepaths.

[2017-11-09 21:31] Eilon commented on #7041
@javiercn can you take a look at this flaky test?

[2017-11-09 21:58] Eilon commented on #6981
@jbagga can you take a look and see what MVC does here?

[2017-11-09 22:50] pranavkm opened #7042 "Revive skipped CacheTagHelper based tests"
Updating to the 2.2 SDK causes (nearly all) tests involving CacheTagHelper to fail. While we're waiting for https://github.com/aspnet/Common/commit/388c04ce5cb242865c432c481b23b85e14c7ce68 to propogate, we'll skip these tests. Related issue: https://github.com/aspnet/Mvc/issues/6985

[2017-11-09 23:01] pranavkm commented on #7042
PR to revive: 2a9c4444b4c3694499a96e68a416e23b67c02fd6

[2017-11-10 00:19] dougbu opened #7044 "Make `IHttpRequestStreamReaderFactory` public"
This interface is currently pub-internal. An implementation is necessary when creating `BodyModelBinderProvider` or `BodyModelBinder` instances. This is necessary in user code when creating resource filters that parse the request body. For example, ASP.NET Core WebHooks does this in a few places e.g. https://github.com/aspnet/WebHooks/blob/be8571953a0124c0877f777e8fb5bb17329204ab/src/Microsoft.Asp

[2017-11-10 00:57] jbagga commented on #7034
There is no straightforward way to format dates to week number and .NET does not completely follow ISO 8601 https://blogs.msdn.microsoft.com/shawnste/2006/01/24/iso-8601-week-of-year-format-in-microsoft-net/
@dougbu @Eilon
There will be some additional logic to check for last and first weeks because we may need to change the provided year for corner cases.

[2017-11-10 02:03] rynowak commented on #7044
We should do this in 2.1 - that doesn't immediately help webhooks, but will help it remain stable in the future.

[2017-11-10 03:28] dougbu commented on #7034
@jbagga do you mean you need to implement [Shawn Steele (MSFT)](https://social.msdn.microsoft.com/profile/Shawn+Steele+%28MSFT%29)'s approach, with the "if the requirement is to compute a date in the 2004W536" complication? Is there more to it e.g. needing to implement a `ICustomFormatter` / `IFormatProvider` pair (or pairs)?

[2017-11-10 05:36] weitzhandler commented on #6457
Here are the my main reasons I'd want this implemented by Microsoft, and the sooner the better.
As a mostly LoB apps developer, the Silverlight era was the golden age in shipping reliable apps that work everywhere quickly.

Xamarin (although with a different XAML flavor 😕), solves this issue partially by aiming towards mobile platforms, but for developers that need tools for quick distribution to

[2017-11-10 18:55] jbagga commented on #7034
The former. Which isn't super complicated. I have it working for HTML helpers, working on tag helpers now. Just FYI that it isn't as straightforward as "month". I don't think we need `ICustomFormatter` or `IFormatProvider`.

[2017-11-10 23:53] madskristensen commented on #6654
Added the analyzer here https://github.com/madskristensen/WebEssentials.AspNetCore.Analyzers

[2017-11-11 01:48] khellang commented on #5507
Then don't do it? MVC lets you return whatever you want. Just change the return type. Easy.

[2017-11-11 01:51] khellang commented on #5507
If you *really* want to throw exceptions and have them converted into responses, it's *really* easy to write a filter for it. Instead of complaining about it here, (in several issues now) you'd be done by now 😉

[2017-11-11 01:54] khellang commented on #7036
I'd be interested in seeing an example, like the one mentioned above, written in a way that lets you get the metadata you're talking about. Let's see how clumsy the alternatives are 😉

[2017-11-11 02:12] Grauenwolf commented on #7036
You get the metadata the same way you always have, using standard reflection.

    public async Task<IContract> DoSomething(Contract contract)
    {
        if (!ModelState.IsValid)
            throw new HttpException(BadRequest);

            var updatedContract = await _Service.SaveAsync(contract);
         return updatedContract;
    }

And you notify the caller of error states the same way we'

[2017-11-11 02:14] Grauenwolf commented on #7036
I'm not saying that IActionResult shouldn't exist. We do need access to the plumbing some times. But in a typical project the vast majority of the controllers shouldn't know that even exists.

[2017-11-11 02:17] Grauenwolf commented on #5507
Yea, I could redo that for every project. Or it could be baked in as a standard feature like it should have been in the first place.

[2017-11-11 03:24] John0King opened #7046 "Url generator in view ignored `Area` Name when a other controller with AttributeRoute"
## MVC version
AspNetCore MVC 2.0.0 on .net Framework 4.6.1

## description
[code]

when I inside ` Admin area`  with `<a asp-action="Index" asp-controller="News">link</>`  ， It generate `/News` for me,
and if I remove the attributeRoute or specific `asp-area="Admin"`  it will generate  the right url `/Admin/News`

I don't know why the `ambient values` are ignored

[2017-11-11 07:30] thanhnntq commented on #7029
I was make a simple project here!
[TNHeThong.zip](https://github.com/aspnet/Mvc/files/1463532/TNHeThong.zip)

[2017-11-11 08:11] thanhnntq commented on #7029
Help me please! @Eilon

[2017-11-11 13:41] thanhnntq commented on #7029
Anyone can help me, please?

[2017-11-11 13:43] pushqrdx opened #7047 "Support for handler name Intellisense auto completion ?"
Well i noticed that the implementation for `asp-page-handler` takes in a string which results in Intellisense not recognizing the underlying `OnGet / OnPost` handler methods in Razor Pages so i rolled on my own implementation using `nameof()` plus some magic. So unless i am missing on something is there anyway to simply do `asp-page-handler(HandlerName)` with Intellisense auto completion enabled ?

[2017-11-11 13:59] #7047 closed

[2017-11-11 18:46] dietrichha opened #7048 "DateTime Localization not working for Get Forms"
The model binder can not parse a German DateTime format like: "30.11.2017"

Localization is set up like this:

[code]

If I open an URL like https://localhost:44301/Test?From=30.11.2017 the DateTime from can not be bound / parsed. Instead I get an error in the ModelState (in the Controller):

The value '30.11.2017' is not valid for From.

But if I do the same for examples Double (in Germany we use

[2017-11-11 20:26] atykhyy commented on #5562
Here's my approximation to the old `ReadAsAsync<T>` method targeting `netcoreapp2.0`. The parts are there, they just need to be put together.
[code]

[2017-11-12 00:32] thanhnntq commented on #7029
@NTaylorMullen @Eilon Help me please!
I created an example here for you.

[2017-11-12 02:00] thanhnntq commented on #7029
i was attach it in thread. Please check it for me. thank you so much!

Vào 10-11-2017 00:27, "Eilon Lipton" <notifications@github.com> đã viết:

[2017-11-12 03:45] thanhnntq commented on #7029
Please change " apm.FeatureProviders.Prepend(new NhaCungCapUngDung());" to " apm.FeatureProviders.Add(new NhaCungCapUngDung());"

[2017-11-12 04:03] thanhnntq commented on #7029
Only .NET Core 2.0 has this Exception. I was downgrade to .NET Core 1.1.X and it's working fine!
Please help me!

[2017-11-12 10:59] ringrid commented on #6983
@JunTaoLuo @Eilon Thanks，the dotnet-hosting-2.0.0 package can help me well.

[2017-11-13 03:40] rynowak commented on #7036
We've already added for 2.1 (not talked about much yet sadly) `ActionResult<T>` to address this gap.

`ActionResult<T>` is convertible from both `T` and `ActionResult` which makes it act like a discriminated union.

[2017-11-13 04:02] ctolkien commented on #6996
What JavaScript have you got running on the site? I doubt this is an issue with MVC. Are you able to spin off a repro?

[2017-11-13 06:17] BIngZL1983 commented on #6660
Hi I have the same issue with routing. The following code worked, but the result looks like this: http://localhost:51409/?page=2, which is not ideal
routes.MapRoute(
                    name: null,
                    template: "",
                    defaults: new { controller = "Product", action = "List" }
                );

but when I add {page} variable into Template as following: then the vi

[2017-11-13 06:56] davidfowl commented on #6660
Change route name “page” to something else

[2017-11-13 10:46] AlexBar commented on #6993
The issue is reproducible even if I add a reference to Microsoft.AspNetCore.Mvc.Razor.ViewCompilation but set MvcRazorCompileOnPublish to false.

[2017-11-13 13:53] JeremySkinner commented on #7014
Would be great to get a response to this. /cc @rynowak @Eilon

[2017-11-13 17:36] Grauenwolf commented on #6787
Any word on what this will actually entail?

[2017-11-13 17:41] NTaylorMullen commented on #7029
@thanhnntq your solution does not build. Looks like you don't have the correct references setup to get `TNThuVien.ChucNang.QuanLy.csproj` to build.

[2017-11-13 20:45] pranavkm opened #7049 "Microsoft.AspNetCore.Mvc.WebApiCompatShimTest currently does not build \ run tests on net461"
Looks like we stopped compiling \ testing it on desktop. Adding `net461` TFM back causes builds to fail.

[2017-11-14 00:35] thanhnntq commented on #7029
Oh sorry. When i make .rar i was drag and drop a project to other position. Please move it to the root directory and it will work.

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: "N. Taylor Mullen" <notifications@github.com> Date: 11/14/17  00:41  (GMT+07:00) To: aspnet/Mvc <Mvc@noreply.github.com> Cc: thanhnntq <thanhnn.tq@gmail.com>, Mention <mention@noreply.gith

[2017-11-14 01:15] #7027 closed

[2017-11-14 03:42] BIngZL1983 commented on #6660
Hi Davidfowl

Thank you for your response. I have change variable "page" to "pg" as following.

public ViewResult List(string category, int pg = 1)
            => View(new ProductsListViewModel{
                Products = repository.Products
                .Where(p => category == null || p.Category == category)
                    .OrderBy(p => p.ProductID)
                    .Skip((pg - 1) * Pa

[2017-11-14 03:46] zoinkydoink commented on #7007
i gave up trying, i went back to Html.TextBoxFor

[2017-11-14 05:53] dougbu commented on #7007
@zoinkydoink please confirm: The `asp-format` is honored i.e. `value="2017-10-31T12:17" ` is what you expected. However, the `type="datetime-local"` addition isn't what you want.

Also, `<input type="text" ... />` in the .cshtml file should lead to `input="text"` in the generated HTML, If that didn't happen, we have a bug.

FYI `[Datatype("text")]` or `[UIHint("text")]` should avoid the need for `

[2017-11-14 09:48] pushqrdx opened #7051 "Add ViewComponentResult helper methods to Page \ PageModel"
In the underlying `PageModel` i want to return a ViewComponent from a OnGet request. I am trying return ViewComponent("ComponentName"); but it throws an error `non-invocable member ViewComponent`

[2017-11-14 12:56] jkevincgo commented on #5910
@Cae2 Thanks, this worked for me too. :)

[2017-11-14 14:08] NomadSoul73 opened #7052 "pted"

[2017-11-14 14:09] #7052 closed

[2017-11-14 16:00] Mottor commented on #6875
I've got this bug today and right now I've found your fix. It is working. Thank you.

[2017-11-14 16:46] pranavkm commented on #7051
@pushqrdx `PageModel` is missing the `ViewComponent` helper factory methods. You could define a custom base class with these methods (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Controller.cs#L204-L276) or return an instance of `ViewComponentResult` from your handler method.

@rynowak \ @DamianEdwards were the ViewComponent family of helpers also intentionally

[2017-11-14 17:03] NTaylorMullen commented on #7029
@thanhnntq still not good. Could you please re-build the repro and verify it builds? Looks like there are several references missing.

[2017-11-14 18:05] blowdart opened #7053 "[Discussion] Microsoft Security Advisory CVE-2017-11879: Open Redirect can cause Elevation Of Privilege"
# Microsoft Security Advisory CVE-2017-11879: Open Redirect can cause Elevation Of Privilege

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in public ASP.NET Core 2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a security vulnerability some public ve

[2017-11-14 18:09] blowdart opened #7054 "Microsoft Security Advisory CVE-2017-8700: CORS bypass can enable Information Disclosure"
# Microsoft Security Advisory CVE-2017-8700 CORS Bypass can enable Information Disclosure

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in public ASP.NET Core 1.0 and 1.1. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a security vulnerability in some p

[2017-11-14 18:19] Daniel15 commented on #7053
Any more information? Is every application vulnerable, or only applications that use redirects in a particular way?

[2017-11-14 18:27] tillig commented on #7053
In attempting to update `Microsoft.AspNetCore.Mvc.Core` to 2.0.1 the update fails on attempting to resolve `Microsoft.Extensions.DependencyModel` 2.0.3. That version does not exist in NuGet.

[2017-11-14 18:45] PinpointTownes commented on #7053
Every application that uses `ControllerBase.LocalRedirect()` or returns a `LocalRedirectResult` is impacted.
If you've kept the `AccountController` class coming with the ASP.NET Core template for VS, you're likely vulnerable as `LocalRedirect` is used to redirect the users back to the original return URL when they log in or register.

[2017-11-14 18:50] k3davis opened #7055 "Can't update to 2.0.1 via Nuget due to nonexistent dependency"
Microsoft.AspNetCore.Mvc 2.0.1 was released today via Nuget to address security vulnerabilities. I'm unable to update though as some project in the dependency tree requires package "Microsoft.DotNet.PlatformAbstractions" version 2.0.3 or higher, which doesn't exist. The most recent version of that package on Nuget is 2.0.0.

[2017-11-14 18:59] k3davis commented on #7055
This may actually be a bug in VS2017's nuget UI. When I update the package versions manually by editing the .csproj there's no issue. Sorry to bother.

[2017-11-14 18:59] #7055 closed

[2017-11-14 19:06] pranavkm commented on #7053
@tillig thanks for bringing the missing packages to our attention. They just got uploaded to NuGet.org (https://www.nuget.org/packages/Microsoft.Extensions.DependencyModel) and you should be able to restore it as soon as NuGet.org's index is updated.

[2017-11-14 19:18] scottsauber commented on #7053
@blowdart  - There doesn't appear to be a 2.0.1 of the Microsoft.AspNetCore.All metapackage, only 2.0.3.

![image](https://user-images.githubusercontent.com/10823939/32799800-51a20ac0-c93e-11e7-8414-0d97ccc37a27.png)

[2017-11-14 19:19] blowdart commented on #7053
@Eilon @muratg - I don't control the publishing or metapackages.

[2017-11-14 19:23] blowdart commented on #7053
Ah. Apparently I was given the wrong metapackage version for the bulletin. This is now corrected. 2.0.3 it is.

[2017-11-14 19:34] johnkors commented on #7054
@blowdart , I think you've copy-pasted some of the text from https://github.com/aspnet/Mvc/issues/6246 . In the "How do I know I'm affected" section, you recommend going from one  affected version to another :)

[2017-11-14 19:42] blowdart commented on #7054
Agh, indeed. These come from a master document, which is then changed, and everyone signs off on it. That was missed, apologies. At least the table is right :)

[2017-11-14 20:50] scottsauber commented on #7053
The [dot.net](https://www.microsoft.com/net/download/windows) site doesn't have the latest Windows Server Hosting installer with these fixes.

When I upgrade to .All v2.0.3, the server bombs bc the Runtime Store doesn't have the latest dll.  I'm not sure who owns the downloads for that site?  Any Microsoft employee who could contact that person and let them know would be great.

The error I got is

[2017-11-14 20:51] blowdart commented on #7053
@muratg @shirhatti  Any news on when the hosting installer gets updated?

[2017-11-14 21:07] muratg commented on #7053
+ @leecow @joeloff re@blowdart's last question.

[2017-11-14 21:19] multiarc commented on #7054
I see dependency issue with Mvc.Core package.
https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Core/1.1.5 contains dependency Microsoft.Extensions.DependencyModel (>= 1.1.4-servicing-001653) which does not exist here https://www.nuget.org/packages/Microsoft.Extensions.DependencyModel/

There is not way to use lower version, like existing 1.1.2 -
 https://www.nuget.org/packages/Microsoft.Ext

[2017-11-14 21:22] smarts commented on #5562
Great effort! The problem [for me] is that the code above is tied to the ASP.NET Core MVC abstraction(s), not `HttpClient` and its abstractions.

[2017-11-14 21:48] leecow commented on #7053
Working on the dotnet site now. In the meantime, you can grab it directly from https://download.microsoft.com/download/5/C/1/5C190037-632B-443D-842D-39085F02E1E8/DotNetCore.2.0.3-WindowsHosting.exe

[2017-11-14 22:12] pranavkm commented on #7054
Hi @multiarc, looks like we had some issues authoring our packages that resulted in the issue you're seeing. I'm working with the rest of our engineering team to figure a resolution for this. In the meanwhile, you should be able to explicitly reference `Microsoft.Extensions.DependencyModel 2.0.0` or have NuGet restore pick a version for you (which in this case picks `2.0.0-preview1-002111`). I did

[2017-11-14 22:46] scottsauber commented on #7053
That worked - thanks @leecow!  It hadn't really hit me that this is a downside with the Runtime Store/.All package until this first upgrade, that the package in your project and the server installer need to be in lockstep.  I guess I should be using Docker.

It would be cool to have a self-updating command within the dotnet cli.

[2017-11-14 23:35] pushqrdx commented on #7051
@pranavkm You saved me, is there any reason it isn't there ?

[2017-11-14 23:50] thanhnntq commented on #7029
Sr i will rebuild it. Thank you so much.
Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: "N. Taylor Mullen" <notifications@github.com> Date: 11/15/17  00:15  (GMT+07:00) To: aspnet/Mvc <Mvc@noreply.github.com> Cc: thanhnntq <thanhnn.tq@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [aspnet/Mvc] Error RZ3007: Targeted tag name cannot be null or whitesp

[2017-11-15 00:46] guardrex commented on #7053
@leecow When we have the new hosting bundle installer link, I'll get it into the docs asap.

btw- @blowdart I just came over from the Announcement topic. In the section *Fixing Direct Dependencies – Projects targeting .NET Core* it still shows that the go-to metapackage for "All" is 2.0.1. It should be 2.0.3, correct? I saw you say you updated :point_up:, but it looks like that section needs the v

[2017-11-15 00:52] blowdart commented on #7053
@guardrex Fixed, thanks

[2017-11-15 00:58] leecow commented on #7053
@guardrex - links on https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.3.md are correct. Only the posting to dot.net are pending.

[2017-11-15 01:01] guardrex commented on #7053
@leecow We use this one :point_right: https://aka.ms/dotnetcore.2.0.0-windowshosting ... so I presume you'll have me take that to ...

https://aka.ms/dotnetcore.2.0.3-windowshosting

... when the time comes. Is that right?

[2017-11-15 01:12] leecow commented on #7053
I hadn't planned on creating an aka.ms url but suppose I could if it's needed.

[2017-11-15 01:14] guardrex commented on #7053
We've gone back-and-forth with aka.ms links for the hosting bundle. @Rick-Anderson, do we especially need an aka.ms link for the hosting bundle installer for the topics?

[2017-11-15 01:29] aqueenan commented on #6358
@Eilon Could the `asp-all-route-data` tag be enhanced so that the default behaviour, when used without a value, is to provide all of the route date? I.e.:
[code]
would be equivalent to:
[code]

[2017-11-15 01:38] Rick-Anderson commented on #7053
@guardrex  If you don't use a fwlink you'll have to update the doc when the latest download link changes. Your call

[2017-11-15 01:47] guardrex commented on #7053
@leecow standby a sec ... let me talk to Rick offline for a sec about it.

[2017-11-15 07:50] atykhyy commented on #5562
Yes, these are for server-side use. There is a `netstandard2.0`-compatible version of `Microsoft.AspNet.WebApi.Client` coming up for the client side. I'm using `5.2.4-alpha1` until the release.

[2017-11-15 16:00] Jeroen5356 commented on #5188
So a value property is not needed?

[2017-11-15 19:02] rynowak commented on #6787
@Grauenwolf we've been working with @Rsuter over at https://github.com/RSuter/NSwag to try and fill some gaps with the swagger story.

Short term:
- Filling some gaps in swagger for ASP.NET Core ApiExplorer
- Some contributions from us to NSwag adding support for ApiExplorer in his existing tools

Long term:
- Some kind of extensible code generation story for client code and DTOs

--
We've been co

[2017-11-15 19:32] leecow commented on #7053
Created the following which we'll keep updated and get you out of the link update game.

- https://aka.ms/dotnetcore-2-windowshosting
- https://aka.ms/dotnetcore-1-windowshosting

[2017-11-15 19:33] guardrex commented on #7053
@leecow Ah ... thank u sir! :smile:

[2017-11-15 21:15] HaoK commented on #6995
So from sniffing around the code, my initial thought is to add a new MvcOptions.CombineAuthorizeFilters flag, and to have ResourceInvoker's ctor look at this flag and then do the combination before it builds the FilterCursor.

@rynowak does that sound like the right direction, or is there a better approach?

[2017-11-16 15:08] breyed commented on #6996
The site uses jQuery 2.2.3 and Angular 1.5.5. If I remove both, the problem goes away.

The cause of the problem is the `selected="selected"` attribute that the tag helper adds to the first option.

For a repro, create a page with jQuery and Angular, a form, and this Razor:

[code]

Set all the selections to their second options. Submit the form; then browse back. The first two selections will rev

[2017-11-16 16:04] wertzui opened #7057 "Model Validation fails when validating a collection of an abstract base-class"
### Model Validation fails when validating a collection of an abstract base-class
I have the following classes:

[code]

When validating `new ModelBase[] { new Model { Number A = 0 } }` the `ModelState` is still valid.

### Minimal repro steps
I created a simple repro of this bug
1. Clone https://github.com/wertzui/ModelValidationTest
2. Execute the Tests

### Expected result
I expect `TestMultipl

[2017-11-16 19:42] tarekgh opened #7058 "Error: CS1703: System.Runtime, Version=4.1.2.0"
_From @Vohuman on November 15, 2017 5:6_

When my MVC.core project tries to open any page, I face with the following error:

I tried to clean Temporary folder and checked about the conflicts within the projects but I found nothing.

_Copied from original issue: dotnet/corefx#25260_

[2017-11-16 19:42] tarekgh commented on #7058
_From @karelz on November 16, 2017 18:8_

Do you have a (minimal) repro for your failure?
Are you running on .NET Core or on .NET Framework?
Are you able to reproduce the problem outside of MVC? (if not, starting the bug report in MVC repo might be best)

[2017-11-16 20:27] smarts commented on #5562
I'm aware of the upcoming package. This issue pre-dates the tracking issue for the upcoming package and is referenced there. Unfortunately, this isn't a case for which a pre-release package is warranted. Thanks for the suggestion though @atykhyy =)

[2017-11-16 22:20] ctolkien commented on #6996
Because that is the value of `State` ?

So this is a client side issue.

[2017-11-17 00:14] jbagga opened #7059 "TemplateBuilder does not correctly overwrite the value in the user supplied format"
The `TemplateBuilder` conditions for formatting the value were not in the right order and the supplied format (as `EditFormatString` and `DisplayFormatString`) were formatting a value already formatted in the `ModelMetadata.IsEnum` block https://github.com/aspnet/Mvc/commit/5fffd464cd874891a31a8cf14258aaecc099f932#diff-ba280b63c56b14f4e63ae0bc9f11f7eaL104 and https://github.com/aspnet/Mvc/commit/5

[2017-11-17 00:14] #7059 closed

[2017-11-17 00:15] #7034 closed

[2017-11-17 00:35] dougbu commented on #7059
Impact of this bug was `enum` specifiers in the user's format string would not work properly, likely causing runtime failures. `[DisplayFormat(DataFormatString = "{0:X}")]` on an `enum` property would not format it in hex in the generated HTML.

[2017-11-17 08:38] ghd258 opened #7060 "与System.Net.Http.dll 这个版本4.6.25220.1及 以上版本不兼容"
与System.Net.Http.dll 这个版本4.6.25220.1及 以上版本不兼容，如果不引用会自动增加 System.Net.Http.dll 4.6.25514.4这个版本，但是在NuGet就没有4.6.25514.4这个版本号；引用了System.Net.Http.dll 这个版本4.6.25220.1及 以上版本会把项目的引用Dll变为感叹号

[2017-11-17 15:59] hinault opened #7061 "Unit Test Razor Pages PageModel, ModelState threw NullReferenceException"
I want to write Uni test for my PageModel. Here is the method I want to test.

[code]
Here is my test code

[code]

In MVC when I initialize a new Controller in my test method, the ModelState isn't not null, i can add ModelError like controller.ModelState.AddModelError("Email", "Required"). It isn't possible with Razor ModelPage because ModelState threw an exception .

![mock](https://user-images.

[2017-11-17 16:05] DamianEdwards commented on #7061
This is a duplicate of #6943

We've fixed this for the next minor release, but for now you'll need to initialize the property value yourself in the unit test.

[2017-11-17 16:05] #7061 closed

[2017-11-17 16:22] breyed commented on #6996
Good explanation. Changing the view model so that `State` is initialized as -1 (for which there is no enumeration field) solved the problem.

[2017-11-17 16:22] #6996 closed

[2017-11-17 16:59] hinault commented on #7061
Thanks for your quick answer.

[2017-11-17 23:43] jbagga commented on #6981
https://msdn.microsoft.com/en-us/library/system.io.stream(v=vs.110).aspx#Remarks

The [using block on the FileResultExecutorBase](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/FileResultExecutorBase.cs#L342) disposes of the stream.

[2017-11-18 08:52] tianvan opened #7062 "PasswordValidator Null Argument Exception Bug"
Even though I set the passwordRequireLength at ConfigurationService, when I call the PasswordValidator in the controller, null argument exception will throw if the password is empty.
[code]

[code]

ArgumentNullException: Value cannot be null.
Parameter name: password
Microsoft.AspNetCore.Identity.PasswordValidator.ValidateAsync(UserManager<TUser> manager, TUser user, string password)

[2017-11-18 09:23] shlomishemesh1 commented on #4189
Hi, I have the same problem and I will be happy if someone can help me.

[2017-11-18 20:36] AdnanCukur opened #7063 "ModelState.IsValid returning true when email is not valid"
[code]

When I post the email "aoao@aooa" ModelState.IsValid returns true
All the other attributes in my object are validating fine.

[2017-11-18 20:51] kshyju opened #7064 "Model binding fails when the posted form data has a key called "Model""
When submit the form and if the form data has an item with key `Model`, Model binding is failing.

For example, let's say i have a view model like this and  I use that class as the param of my http post action method.

    public class ModelBinderTestViewModel
    {
        public string Name { set; get; }
        public string Model { set; get; }
    }
and if i am sending form data like this from

[2017-11-18 23:26] biqas opened #7065 "Razor Pages: Route parameter "asp-route-action""
Not sure if it is intended or a bug.

If you have a form inside a razor page and you create a button inside the form which has the following asp route parameters "asp-route-action" then the page is going to the first default MapRoute definition and not to the post method defined in the Razor Page. (I guess to reproduce this, you need at least more then one routes defined in the startup)

[code]

*

[2017-11-19 23:31] ctolkien commented on #7063
The validation for email address validation is naive and only designed to catch the most egregious errors:

https://github.com/dotnet/corefx/blob/8b04d0a18a49448ff7c8ee63239cd6d2a2be7e14/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/EmailAddressAttribute.cs#L19

[2017-11-20 01:29] Eilon commented on #6981
@jbagga ah, so it does get disposed? I guess we can close the issue?

[2017-11-20 07:22] avertes opened #7067 "Non locale safe RFC 3339 time strings cause browsers to reject (date)time values"
I believe this is a severe issue, as it causes browsers to reject datetime and time values when pages are served with affected locales.

InputTagHelper has definitions of RFC 3399 date and time formats, which use ":" as time separator. Unfortunately ":" is also .Net time separator, which gets different values depending on locale.

For example in it-IT locale, datetime-local was formatted as "2017-

[2017-11-20 16:33] pranavkm commented on #4189
@shlomishemesh1 you're commenting on a closed \ resolved issue. Could you create a new work item?

[2017-11-20 16:42] pranavkm commented on #7051
@pushqrdx returning view components from a handler isn't a pattern we expect users to commonly use in a page-focused workflow. One of my suggestions from the earlier comment or perhaps a couple of extension methods should do the trick in your case.

[2017-11-20 16:59] shoe788 commented on #6993
Same problem. When I publish the MvcRazorCompileOnPublish does the compilation based on true/false but when the setting exists in csproj I get an exception when running locally.

[2017-11-20 18:03] #7042 closed

[2017-11-20 18:26] dperschonok opened #7070 "Microsoft.AspNetCore.Mvc.Core 1.1.5 depends on a non-existent NuGet Package"
The NuGet package for Microsoft.AspNetCore.Mvc.Core v1.1.5 depends on Microsoft.Extensions.DependencyModel (>= 1.1.4-servicing-001653) which doesn't exist as a NuGet package. This causes a 2.x version of the library to be pulled in instead. Shouldn't this be resolved to reference a proper 1.1.x package instead?

[2017-11-20 19:11] ryanbrandenburg opened #7071 "Use newest version of image in Appveyor"
Once they ship a fix for the framework we should switch back to using the newest version of the VS2017 image in Appveyor.

[2017-11-20 19:43] jbagga commented on #6981
Yeah we can! @codefactorydevelopment let us know if you have any further questions.

[2017-11-20 19:43] #6981 closed

[2017-11-20 20:28] pranavkm commented on #7070
@dperschonok we're aware of this issue and we're working on producing a new build of Mvc that rolls back the dependency to the 1.1.2 version of `Microsoft.Extensions.DependencyModel`. In the meanwhile, we verified that using the 2.0.0-* version of the package in an 1.1.x application does not affect runtime behavior. We'll create a new announcement once updated builds of Mvc are available.

[2017-11-21 10:03] rihei commented on #5574
This bug still seems to be present in asp.net core 2.0.1? Has the fix been published?

[2017-11-21 10:21] egovova11 commented on #7058
Same problem here.

`Compiler Error Message: CS1703: An assembly with the same identity 'System.Runtime, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' has already been imported. Try removing one of the duplicate references.`

Detailed compiler output:
[code]

This occurs only while running application under Local IIS, IIS Express works fine.
ASP.NET MVC4 application is targeti

[2017-11-21 11:03] dougajmcdonald commented on #6126
@rynowak here is here or not an object! :(

[2017-11-21 12:59] lugrugzo commented on #7065
You should use `asp-page-handler="edit"` property in button. So it will call this post method defined by you:

[code]

[2017-11-21 15:06] cgountanis opened #7072 "Core 2 MVC (WCF to SSRS Execution) project Needs Administrator IIS AppPool to Work?"
Can anyone shed some light on a solution for this? The last thing I feel comfortable doing is giving an IIS application pool identity too much power.

Works fine within IIS Express (Visual Studio), once hosted under IIS you need to give it major user rights to work. I tried giving it elevated appPool virtual user rights on the web folder. I tried playing with the IIS authentication settings, seems

[2017-11-21 15:27] biqas commented on #7065
@lugrugzo I know how to use the handlers, the problem here was, if you use the specific route parameter name "action" ("asp-route-action") then ASP Core is going to do something else as you would expect.

[2017-11-21 15:58] pranavkm commented on #5574
@rihei the issue should have been fixed in 2.0.0. Is https://github.com/rihei/aspnetcoremvc-partialview-relativepath-bug/ still a good sample that reproduces the problem?

[2017-11-21 17:05] tarekgh commented on #7058
CC @joperezr

[2017-11-21 17:33] rihei commented on #5574
I updated the sample project to the newest versions, and investigated a bit more. The problem seems to be partly fixed: relative path to a partial view now works if the ".cshtml" extension is present in the path. The view still doesn't show the changed content if the partial view is referenced by relative path and no ".cshtml".

![image](https://user-images.githubusercontent.com/16202841/33087209-

[2017-11-21 18:01] joperezr commented on #7058
Hello @egovova11 did you add the System.Runtime reference to one of your projects? I would expect this to just come automatically as part of the tooling, so what the error tells me is that you are trying to add a reference manually and the tooling is also trying to add the reference.

[2017-11-21 18:02] pranavkm commented on #5574
@rihei we made further changes to the look up behavior as part of the (yet to be released) 2.1.0 release. See https://github.com/aspnet/Mvc/issues/6672. For the 2.0.0 release, you must have an cshtml extension for the  view engine to treat the string as a path (and not a name to look up).

[2017-11-21 19:23] rynowak commented on #7014
Sorry for the delay, I think both of your proposals are reasonable. If you'd prefer to do just proposal one (`ValidateComplexTypesIfChildValidationFails`) that's fine too.

Feel free to send a PR, and if you don't have a chance, I will get to this before we ship 2.1

[2017-11-21 20:45] Eilon commented on #7067
@jbagga / @dougbu - can you take a look at https://github.com/aspnet/Mvc/pull/7066 and merge? This does sound broken.

[2017-11-21 20:59] dougbu commented on #7067
Yes this is a bug. Good catch @avertes.

[2017-11-21 21:03] JeremySkinner commented on #7014
Thanks, I've created a pull request that implements both proposals and adds tests. Let me know if you'd like me to make any changes.

[2017-11-21 23:12] dougbu commented on #7067
ee5535203e
Thanks again @avertes.

[2017-11-21 23:12] #7067 closed

[2017-11-22 08:55] Jenan opened #7074 "How pass the TempData in ExceptionFilterAttribute"
Hello,

I have tried to create the `Exception filter` for my controller like this:

[code]

I need in `OnException `method work with `TempData `- how can I set some exception information to `TempData `in this place? I have used this TempData to some notification.

There is missing something like this: `context.Controller.TempData["notification"]` - Controller property was probable removed. :)

Tha

[2017-11-22 10:03] JeremySkinner commented on #7014
I've moved the properties below the ctor as requested. Something went wrong with the PR when merging latest changes from dev so I've recreated the PR (#7075)

[2017-11-22 11:24] egovova11 commented on #7058
Hi @joperezr
No, no project references any version of System.Runtime directly.
I found that if I reference net standard lib from net framework lib project, which in turn is referenced by MVC app project, everything works fine.
It looks like when csc.exe is called by inetsrv to compile dynamic assemblies for asp.net, it is provided with all assemblies which ended up in bin/debug, including version

[2017-11-22 15:51] rynowak commented on #7014
Fixed by: 9c59e63 a06d0d0 0ccfe4c 5a6bc3a

[2017-11-22 15:51] #7014 closed

[2017-11-22 17:27] joperezr commented on #7058
ok, I see thanks for checking, glad that your scenario is working now.

I thought that was your scenario, or are you saying that with your original project you didn't have a project-to-project reference and instead only had references to nuget packages?

[2017-11-22 17:44] rihei commented on #5574
Ok, I expect this to be fixed in 2.1.0 then. Thank you! At the moment you cannot notice that a reference is somehow wrong until the site is already running and edits to the partial view don't take effect.

[2017-11-22 22:02] Eilon commented on #7070
Assigning to @muratg so he can close when the packages go up to NuGet.org.

[2017-11-22 22:05] Eilon commented on #7072
@Tratcher any ideas on this?

@cgountanis the code you show doesn't seem related to ASP.NET Core or MVC. What's the connection between the code in the issue and the problem you are running into?

[2017-11-22 22:07] cgountanis commented on #7072
Once you publish it you need an extreme amount of permissions to make it work. I'm not sure where to put this but the final product has to be usable otherwise what's the point?

[2017-11-22 22:09] Eilon commented on #7074
Hi @Jenan , from the `ExceptionContext` you can get the `HttpContext`, and then from the `HttpContext` you can get the Temp Data the same way that the `Controller` class itself gets it:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Controller.cs#L65-L66

[2017-11-22 22:09] #7074 closed

[2017-11-22 22:10] cgountanis commented on #7072
Simply put this is a Core2 MVC app consuming a Core2 class Library, code above, and the final product is a published set of files that should work within IIS without having to run the apppool as administrator.

[2017-11-22 22:10] Tratcher commented on #7072
They've filed variants of the same issue in 5+ repos now. The normal app pool identity has very minimal local account permissions, and no domain permissions.

Which administrator account did you use? The machine or domain administrator?

And are the credentials you pass in here: `new NetworkCredential(model.Username, model.Password, model.Domain);` domain credentials?

[2017-11-22 22:15] cgountanis commented on #7072
No the machines are separate and they're not on a domain so basically I'm sending a username password and blank domain to the SSRS server. It's always worked in the past with. Net 4.5 and it works in this application in Visual Studio debug but as soon as you host in IIS you need massive permissions on the apppool to get it to communicate with the remote server. So to clarify the user and password

[2017-11-22 22:17] cgountanis commented on #7072
Also it works locally in Visual Studio with basic and windows security type. Works perfectly using either one and I am connecting to the SSRS server remotely even through a VPN and I've had no issues.

[2017-11-22 22:32] Tratcher commented on #7072
Does your Net 4.5 IIS application have authentication enabled for incoming requests?

One of the larger differences for ASP.NET Core in IIS is that it does not impersonate the authenticated user. All actions are performed by the app pool identity unless you do explicit impersonation. It's possible the operations WCF is trying to perform don't work with the app pool identity but would work with the

[2017-11-22 22:39] cgountanis commented on #7072
I'll check out the right up in detail appreciate the help. It's really strange that it works in Visual Studio on a machine that has nothing in common with the remote machine user wise which means the impersonation and the credentials are working fine in Visual Studio but once hosted in IIS I feel it needs access to some Library that I'm not sure about yet that's my best guess maybe something in th

[2017-11-22 22:40] Tratcher commented on #7072
I expect VS works because IIS Express runs with your identity, not with the restricted IIS app pool identity.

[2017-11-22 22:43] cgountanis commented on #7072
Yeah that makes sense but what file is it accessing or not able to access under IIS, maybe in general it's just having an issue with the communication foundation or the usage of being that it's a restricted user. I have to read that write up to see if it mentioned something about this.

[2017-11-22 22:45] cgountanis commented on #7072
I honestly don't think it has anything to do with impersonation because it's not on a domain and the user does not even exist on the local machine so it has to be about some kind of communication or some library that it does not have access to maybe an inner workings of of the operating system that it doesn't have access to. I honestly have no clue I've been struggling with this for about a week.

[2017-11-22 22:51] Eilon commented on #7062
In the controller action did you first check for `ModelState.IsValid`? If not, then it is probably not safe to call into Identity to do the password checks because the data entry was already invalid.

[2017-11-22 22:51] Eilon commented on #7063
Correct, this is currently by design. There was little value in doing the full RFC check for valid emails because it was a huge level of complexity that didn't add much value.

[2017-11-22 22:51] #7063 closed

[2017-11-22 22:56] Tratcher commented on #7072
There's not much else anyone else can do to help you without an end-to-end repro setup. If that's something you can assemble and publish to a github repo then we can get somebody to take a look (WCF?). Otherwise I suggest contacting MS support so they can help debug it in your own environment.

[2017-11-22 22:57] Eilon commented on #7064
@dougbu / @rynowak - I believe this is a known limitation. Do we have any reference info on this?

[2017-11-22 22:59] cgountanis commented on #7072
I understand that. I don't really accept that though. I think anyone that's building a soap endpoint connection application is going to run into this problem. Stops on the internet it's not always going to be on the domain and have matching users or be run as an Azure web service. I'd like to try hosting this in Kestral or maybe Linux and see if I run into the same problem.

[2017-11-22 23:03] rynowak commented on #7064
What's the name of the parameter?