[2016-12-08 15:10] davidfowl commented on #5607
One of the big reasons is the fact that the attribute doesn't scale past the mvc controller action. We're trying to move the actual meat of the authorization logic into an imperative m service that can be called from anywhere in application code across frameworks and non-action callsites. When SignalR is done for example, it should be possible to both use the same attribute and logic. Baking mvc s

[2016-12-08 16:46] danroth27 commented on #388
nit nit: It's actually [ASP.NET Core MVC](https://www.nuget.org/packages/microsoft.aspnetcore.mvc) :smile_cat:

[2016-12-08 18:42] rynowak commented on #5608
We did this on purpose. Lots of old code uses `ValidateAntiForgeryTokenAttribute` - but it's not cased correctly. Everything new is.

[2016-12-08 18:44] rynowak commented on #5603
Also if you don't want to upgrade to 1.1 for any reason the fix is **very** simple. It's just to tell MVC not to validate properties of type `Stream`

https://github.com/aspnet/Mvc/pull/5276/files#diff-bf3a0e819ebcc8e1d819dc14e1c780c3R83

[code]

[2016-12-08 18:47] rynowak commented on #5594
This seems like it should be an *or*.

So, to confirm this is working as expected when you set **both** `.Result` and `.ExceptionHandled`

[2016-12-08 18:57] #5608 closed

[2016-12-08 19:15] smarts commented on #5609
@juunas11 you could do that, or you could add another Boolean value: `PreserveMethod`. But yes, all the redirect-focused action results need to change. 👍

[2016-12-08 19:38] #5574 closed

[2016-12-08 20:06] chrisckc commented on #5413
Ok i have done some testing with various clients against my .Net Core WebApi method which creates the serialisation exception, and always returns a 200 status despite the exception occurring (due to the chucked transfer mechanics), here are the results:

Test1 (plain old Chrome):
As @halter73 pointed out, hitting the url using Chrome (tried with 54.0.2840.98 (64-bit) and 55.0.2883.75 (64-bit)) I g

[2016-12-08 20:50] chrisckc commented on #5413
@Tratcher @halter73 @Eilon I have just noticed a change in behaviour since i last tested HttpClient from within a .Net Core Console App, in one of my posts above i said this:

_Ok, i have tried AspNet WebApi Client and found that it correctly throws an exception with the missing chunked terminator_

I have since updated to the latest .Net Core a few days ago on my Mac (dotnet --version = 1.0.0-pre

[2016-12-08 21:03] juunas11 commented on #5594
When you set a result, and leave ExceptionHandled false, the result gets executed. But if you set a result, and set ExceptionHandled to true, the result does not get executed.

[2016-12-08 21:52] frankabbruzzese commented on #5594
@rynowak ,
Not convinced must be an _or_. In any case it appears that `!exceptionContext.ExceptionHandled` should be substituted with exceptionContext.ExceptionHandled. IE the main error appears to be the negation.

About the _or_. It depends if one allows the exception be handled by writing directly in the Response stream instead of returning a result. I dont know if this scenario is properly han

[2016-12-08 22:13] chrisckc commented on #5413
I have created a RequestLogging middleware and whilst testing it I have found a way to capture serialization errors by wrapping the call to the next middleware "await _next.Invoke(context)" in a try catch block. It allows the errors to be logged on the backend which is better than nothing.

[code]

I was curious to see if ai could append some text to the response body using middleware by using cod

[2016-12-08 22:38] dougbu commented on #5608
Side note: This is a dupe of #5178.

[2016-12-08 23:54] chrisckc commented on #5413
@Tratcher @halter73 @Eilon I have done some further testing with HttpClient and found something interesting, i thought if the backend can use unbuffered responses then why not make the client unbuffered and return the response as soon as the headers have been received.

So i changed the code in my .Net Core test client to this:
`response = await client.GetAsync(resourcePath, HttpCompletionOption.R

[2016-12-09 00:05] Tratcher commented on #5413
@chrisckc this is why I think the best fix is to make sure the JSON does not get completed. Most clients will fail if you send
[code]

[2016-12-09 08:26] tobiasbunyan opened #5611 "ActionContextAccessor behaves differently under .NETStandard1.3 vs .NET 4.5.1"
_From @tobiasbunyan on December 9, 2016 8:23_

Has the same issue with **AsyncLocal** value as **HttpContextAccessor** as referenced in bug https://github.com/aspnet/HttpAbstractions/issues/723

_Copied from original issue: aspnet/HttpAbstractions#741_

[2016-12-09 08:26] tobiasbunyan commented on #5611
_From @davidfowl on December 9, 2016 8:23_

This should be moved to MVC

[2016-12-09 10:20] chrisckc commented on #5413
@Tratcher I agree, based on what i have found looks like it will be the only way to make the .Net HttpClient client fail the request when using HttpCompletionOption.ResponseHeadersRead in conjunction with ReadAsAsync() or when using HttpClient in Mono/Xamarin on Android with the Managed handler. I think that should be justification to make the change and it makes sense that an exception during obj

[2016-12-09 14:25] paulrayer commented on #5050
@Monte-Christo, closing and reopening the VS worked for me.

[2016-12-09 16:33] #5591 closed

[2016-12-09 17:19] enricosada commented on #5570
@rynowak @Eilon @davidfowl sry for ping, just to not stop the discussion, because i'd like to add that if  is approved as idea.

[2016-12-09 19:52] Eilon commented on #5568
Ok, then closing this.

[2016-12-09 19:52] #5568 closed

[2016-12-10 00:28] davidfowl commented on #388
nit nit nit: It's Microsoft ASP.NET Core MVC 1.x

[2016-12-10 00:51] akdurmus opened #5612 "View navigation and intellisense broken from 1.0.1 to 1.1.0"
I have updated each dll one by one to find the library causing the issue.

 "Microsoft.AspNetCore.Mvc": "1.1.0", When I update this library the intellisense disappears from the view. And it does not give any warning whether the view file exists or not.

In 1.0.0 and 1.0.1 the following can be seen:

![screenshot](https://cloud.githubusercontent.com/assets/787313/21069466/1a744694-be72-11e6-87c8-a6

[2016-12-10 01:11] DamianEdwards commented on #5612
Are you using ReSharper? I don't think VS provides any IntelliSense or error checking for view file names in the box like this.

[2016-12-11 08:51] shravan2x opened #5613 "Delay on first request due to key encryption at rest"
I have an Asp.NET Core 1.1 MVC app. On every run on the app, it stalls for 3 seconds just before this is printed:

[code]

I don't mind the log itself, but what causes the delay? Is this a bug?

[2016-12-11 11:15] mrahhal opened #5614 "Executing a method on the model after model binding"
Suppose that we have a simple action:

[code]

We can use `IValidatableObject` (by implementing it on the model) to run custom validation when the model is being validated. Is there a similar interface to implement in order to run a custom method on the model when model binding finishes?

The use case is to make simple changes to the model after model binding (for example trimming some strings amo

[2016-12-12 18:08] NTaylorMullen commented on #5482
Adding this guy: https://github.com/dotnet/sdk/issues/111- **Add .deps.json file for desktop web apps when PreserveCompilationContext = true**

Essentially `preserveCompilationContext = true` doesn't always work so any semi-advanced View will explode at runtime if run on the desktop framework. /cc @Eilon for visibility

[2016-12-12 21:01] rynowak commented on #5538
There's a pretty good blog article I came across on this topic this week: http://www.jeremykruer.com/why-my-synchronous-api-scaled-better-than-my-asynchronous-api/

TLDR summary: async allows you scale better than sync. It is not any faster for serving a single request, but it is much more efficient for serving many requests.

[2016-12-12 21:15] rynowak commented on #5614
This is a good use case for implementing an `IActionFilter` if you want this to run on model after modelbinding/validation but before the action.

If you want to run custom code after model binding but before validation then you'll need to implement a custom model binder.

[2016-12-12 21:22] mrahhal commented on #5614
@rynowak yeah it would work as an action filter. But it doesn't differ a lot from calling `model.Foo()` in each action (I know that I can have an action on the controller itself).

What I picture is having a method on the model itself that will be executed all the time whenever model binding does its work. It's a lot cleaner this way, and really it's the model's job to do those minor edits on its

[2016-12-12 21:41] RandyBuchholz opened #5615 "[New Feature] Asymmetric Models in Views"
## Issue
Currently Views support a single model type with `@model`, which can be limiting. Although there are many ways to move whatever information we want between our views and controllers, having a more prescribed approach has many advantages.

## Suggestion
Have Views support two, named models - In and Out (`@In` and `@Out`), and have the View method on Controllers have an overload - View(View

[2016-12-12 21:42] rynowak commented on #5614
The difference is that you can apply an action filter globally. I'd do it something like this:
[code]

This way your model gets to decide how to do the cleanup, and your filter just acts as a hook.

More to the point, is there something we're not doing in model binding that you think is 'cleanup' we should be doing? Is there a missing feature or setting here?

[2016-12-12 21:47] mrahhal commented on #5614
Oh, I see your point here. This is a nice solution to the problem without there being support from model binding itself.

The thing that made me think about this is when I learned about `IValidatableObject` as a way to run custom validation on the model itself. So naturally I thought that there's a similar interface that would let me run code on the model after model binding, which of course I did

[2016-12-12 21:57] RandyBuchholz commented on #5563
Isn't the Description attribute more for developers and generally a sentence or more about what the class/method does? I use it mostly to pop-up a message for developers when they hover over a method name to describe what it is and how to use it.

[2016-12-12 22:43] davidfowl commented on #5612
Yes, that is resharper.

[2016-12-13 00:56] Eilon commented on #5552
Done?

[2016-12-14 00:34] rynowak commented on #5203
Yeah I don't feel especially motivated to change this based on the above data. I think we should close and reconsider if someone finds a case where this is important from a perf POV.

[2016-12-14 00:38] ryanbrandenburg commented on #5203
Closing this, if anyone finds more evidence that this scenario needs attention please re-open.

[2016-12-14 00:38] #5203 closed

[2016-12-14 12:20] robertovanoli commented on #5594
@frankabbruzzese
Francesco,  for now I bypassed rendering a HTML response by myself .  As you can see setting ExceptionHandled = true works fine.  Obviously it's only a temporary workaround...
regards

'public override void OnException(ExceptionContext context)
{
   context.ExceptionHandled = true; // mark exception as handled
   context.HttpContext.Response.Clear();
   context.HttpContext.Respons

[2016-12-14 16:48] RandyBuchholz opened #5616 "[Feature] Scaffold ViewComponent"
This may be in the works. I didn't see an item for it, so I thought I would add one. In Visual Studio it would be nice to have -> Add New Item -> .Net Core -> ASP.NET -> MVC ViewComponent that would add a folder, ViewComponent Class, and .cshtml page for us.

[2016-12-14 21:55] Eilon commented on #4877
Hello, we reviewed the proposal and the PR and we don't think this is a good fit for including in ASP.NET. This could be a good fit for a community-maintained project, which we would be happy to link to.

[2016-12-14 21:55] #4877 closed

[2016-12-14 22:00] natemcmaster commented on #5482
Here's another one to add: https://github.com/dotnet/sdk/issues/495  **PackageReference to contentFiles package breaks compilation of 'net45x' tfms**

[2016-12-14 22:03] laskoviymishka commented on #4877
@Eilon this already presented here _https://github.com/laskoviymishka/MvcDeviceDetector_ and also as nuget packeg `MvcDeviceDetector` in nuget.

[2016-12-14 22:10] Eilon commented on #5613
@blowdart should this bug move to the https://github.com/aspnet/DataProtection/ repo?

[2016-12-14 22:12] blowdart commented on #5613
Maybe. I'm not sure I would consider it a bug to be honest, the first request is always going to block until we get a key ring open.

[2016-12-14 22:12] #5614 closed

[2016-12-14 22:19] Eilon commented on #5616
This issue was moved to aspnet/Scaffolding#360

[2016-12-14 22:19] #5616 closed

[2016-12-14 22:20] Eilon commented on #5613
This issue was moved to aspnet/DataProtection#193

[2016-12-14 22:20] #5613 closed

[2016-12-14 22:29] #5581 closed

[2016-12-15 05:02] DamianEdwards commented on #5563
@RandyBuchholz the intent of the Description model property was for it to be shown in the UI by systems that do runtime UI scaffolding using the `System.ComponentModel.DataAnnotations`. See https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.displayattribute.description(v=vs.110).aspx

[2016-12-15 09:52] qujck commented on #5403
taken from the core roadmap

Does that philosophy extend to aspnet? If so does it extend to this contribution? If so can we have an update?

[2016-12-15 15:37] wangkanai commented on #5006
I wrote my own implementation of mobile specific views
[https://github.com/wangkanai/Responsive](https://github.com/wangkanai/Responsive)
Might see it useful for others. The concept is to use file extensions;
- index.cshtml
- index.tablet.cshtml
- index.mobile.cshtml
it will fall back the list if the extension is not available.

[2016-12-15 15:47] frankabbruzzese commented on #5006
@tysonnero , I think the best option is features detection on the client side. Once detected features, page may adapt dynamically via Css and JavaScript, or it may package all relevant support data in a cookie and then redirect to the original page, so a more adequate View may be chosen.

The User Agent way has the disadvantage one must rely on pre-collected infos about all devices capabilities.

[2016-12-15 17:33] Eilon commented on #4877
@laskoviymishka ah, very cool then! If you'd like to add a link to the readme here please send a PR and we can get it updated.

[2016-12-15 18:12] Eilon commented on #5593
Hi, this questions looks like it's better suited for a site such as StackOverflow, using the `asp.net-core-mvc` tag: http://stackoverflow.com/questions/tagged/asp.net-core-mvc.

[2016-12-15 18:12] #5593 closed

[2016-12-15 18:14] #5603 closed

[2016-12-15 18:16] Eilon commented on #5597
@ajaybhargavb I'm assigning this to you because it seems related to https://github.com/aspnet/Mvc/issues/5561.

[2016-12-15 18:17] Eilon commented on #5550
@JeanCollas can you compare the command line that VS uses for its publishing and the one that you used successfully? I believe if you look in VS's output window (or some other similar window) you can see the commands it ran.

[2016-12-15 18:21] Eilon commented on #5596
@arielcloud what component do you feel should be throwing an exception? As far as MVC is concerned it appears that the controller doesn't exist, and that's at most a 404 error (there are of course infinitely many controllers that don't exist, and those don't thrown an exception).

[2016-12-15 18:25] arielcloud commented on #5596
can u help me to feel this component?... do u know which component return this 502.3, so I'll ask them to give 404 which is maybe more indicative, otherwise u can close this

[2016-12-15 18:26] Eilon commented on #5573
cc @danroth27 @sebastienros due to the relationship to modules, but closing this issue as no further action is required here.

[2016-12-15 18:26] #5573 closed

[2016-12-15 18:27] #5571 closed

[2016-12-15 18:43] danroth27 commented on #5573
@nfdevil Orchard2 is actually more than a CMS. It's actually a well factored application framework. You can leverage the extensions support in Orchard2 without pulling in all the CMS functionality, so it's definitely worth a look. For example on how simple it can be see: https://github.com/OrchardCMS/Orchard2/blob/master/src/Orchard.Mvc.Web/Startup.cs

[2016-12-15 18:57] JeanCollas commented on #5550
@Eilon I have solved this issue somehow now, I cannot give more details. However the command line was the same, as I took it from VS output :)

[2016-12-15 18:57] #5550 closed

[2016-12-15 19:13] pdushkin commented on #5222
Binoy, I am struggling with porting an Onion project to Core also. I believe I have everything mostly set up, but can you tell me how you configured things so your Bootstrapper assembly files get picked up by your Web project at build time? Like you, I don't want to reference the assembly directly and project.json's "copyToOutput" does not work in this scenario.

[2016-12-15 19:54] Eilon commented on #5550
Ok!

[2016-12-15 20:11] binoypatel commented on #5222
Hi pdushkin

In my case, I am copying all dlls from bootstrapper to web, since my bootstrapper have references from other dlls but web. I do it using project.json:

"scripts": {
    "postcompile": [ "xcopy /I /F /Y %compile:OutputDir%\\*.* ..\\My.Web\\bin\\%compile:Configuration%\\netcoreapp1.0\\" ]
  }

Cheers,
Binoy

[2016-12-15 21:00] msmaldi opened #5617 "Probably bug"
uname -a: Linux msmaldi-pc 4.8.0-1-amd64 #1 SMP Debian 4.8.7-1 (2016-11-13) x86_64 GNU/Linux
dotnet: Microsoft .NET Core Shared Framework Host Version  : 1.1.0
dotnet -v: .NET Command Line Tools (1.0.0-preview2-1-003155)

a project.json generated from yo (WebApplication) without changes
[code]

in test project.json generated from yo (XUnit Test) with feel changes
[code]

output of dotnet test:
[co

[2016-12-15 21:03] pranavkm commented on #5617
There's a packaging issue that causes this problem that should be remedied in the next release. For now, add an explicit reference to `"Microsoft.DotNet.InternalAbstractions": "1.0.0"` in your test project.json and that should resolve this issue.

[2016-12-15 21:05] msmaldi commented on #5617
Ok, fixed

[2016-12-15 21:05] #5617 closed

[2016-12-15 22:51] Eilon commented on #5596
@arielcloud the ASP.NET Core Module (AspNetCoreModule / ANCM), which is an IIS module, is what's related to the 502.3. It shows that error when it can't even start the ASP.NET Core application.

[2016-12-15 22:54] arielcloud commented on #5596
@Eilon , but as I said - in this case the app was up, and I could post and get to other controllers, so maybe it is a bug?

[2016-12-15 22:57] arielcloud commented on #5596
should I open an issue [here](https://github.com/aspnet/AspNetCoreModule)

[2016-12-15 23:41] Eilon commented on #5596
@arielcloud the 502.3 is I think generally only when the app can't load, or if the app completely crashed during a request. The question is what error is happening. So I recommend enabling logging to see what the exception is.

[2016-12-15 23:47] arielcloud commented on #5596
thanks, the logs are good!

[2016-12-15 23:47] #5596 closed

[2016-12-16 16:17] rynowak opened #5618 "Add an Add(this IList<...> IParameterModelConvention) extension method"
Looks like we missed this one in https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/ApplicationModelConventionExtensions.cs

You can add an application/controller/action convention to `MvcOptions.Conventions` but not a parameter convention. Found while discussing docs.

[2016-12-16 16:31] pdushkin commented on #5222
Thanks a lot Binoy, that worked perfectly. Much appreciated!

[2016-12-16 20:31] Eilon commented on #5612
Yup, seems like a ReSharper issue. You can find ReSharper support here: https://resharper-support.jetbrains.com/hc/en-us

[2016-12-16 20:31] #5612 closed

[2016-12-16 20:33] #5572 closed

[2016-12-16 20:33] #5524 closed

[2016-12-16 20:38] Eilon commented on #5513
Closing because there doesn't appear to be any further action required here.

When using model binding (which is the default), you will get partially-created models. When using formatters (e.g. with `[FromBody]`), you will not get partially-created models by default.

[2016-12-16 20:38] #5513 closed

[2016-12-17 18:35] havremunken opened #5619 "In default project, updating Microsoft.AspNetCore.Mvc.Core to 1.1.0 takes compilation time from ~1 second to ~6 seconds each and every time"
I started a new Web API project, with just a single controller for now, and it compiled quickly and all was well. I did check the NuGet package updates and noticed that there were quite a few updates since creating the project from template. After updating, the compile time for the project (no other changes made) increased by 5 seconds, and now takes a little more than 6 seconds no matter how many

[2016-12-18 11:53] skorunka opened #5620 "Does View Components Areas?"
I have View Components, which are related to a specific Area only. It seems the View Component can not resolve views under paths like: "\Areas\Admin\Views\Shared\Components\Navigation"

Are the Areas supported?

[2016-12-19 12:20] mennan opened #5622 "Can not find compilation library location for package 'Microsoft.AspNetCore.Antiforgery'"
Hi,

I am developing web app with ASP.NET Core 1.1.0. My application worked with IIS Express. But when I was deployed app to IIS, I got this error.

How can I resolve this problem?

**project.json**:
[code]

**Startup.cs**:
[code]

[2016-12-19 14:00] frankabbruzzese commented on #5622
Which error?

[2016-12-19 14:04] mennan commented on #5622
Hi Frank,

I am getting the error **Can not find compilation library location for package 'Microsoft.AspNetCore.Antiforgery'**.

Also I was removed **preserveCompilationContext** from project.json, but I got "**One or more compilation references are missing. Possible causes include a missing 'preserveCompilationContext' property under 'buildOptions' in the application's project.json.**" error mess

[2016-12-19 16:57] rynowak commented on #5620
This is not possible, view components and areas are unrelated features.  Putting `[Area(...)]` on a view component class has no meaning.

View lookup from view components uses the same set of search paths as the rest of the system, but with `Components\Navigation` appended. If the controller handling the current request is in the `Admin` area, then `\Areas\Admin\Views\Shared\Components\Navigation`

[2016-12-19 21:43] sam-wheat opened #5623 "Moving Startup class to a library project breaks my site."
This question refers to beta I am using .net core 1.1:
http://stackoverflow.com/questions/33183357/move-startup-cs-to-class-library-package-project-asp-net-5

I moved my Startup class to a library project and now my site does not work.  Only error I get is 404.
I checked ContentRootPath and it appears to point to the correct directory.
I see no errors in the output window.
IIS Express says my site

[2016-12-19 23:16] shaunluttin commented on #1668
How can we use this new feature. It appears not to be part of any releases.

[2016-12-19 23:24] DamianEdwards commented on #1668
It should be included in 1.1.0

[2016-12-19 23:30] shaunluttin commented on #1668
Aha. It is. Thank you @DamianEdwards... it is now under `FormActionAttribute`.

[2016-12-20 02:41] love125828499 commented on #1668
Code can read, that is, poor expression, continue to practice

[2016-12-20 09:25] rpundlik opened #5624 "InvalidOperationException: Unable to resolve service for type"
I am using saaskit multi tenancy project for multi tenant application.
I am able to create the tenant context and able to access in all controllers.
However, sometimes it give me following error

This error occurs randomly for any controller and on any action method executed. The nature of error is not specific to any controller/action method.

I can see my code enters the TenantResolver successfu

[2016-12-20 16:10] rynowak opened #5625 "Wrong docs ApiRequestFormat"
I suspect too much copy-paste, not enough coffee ☕️

https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.ApiExplorer/ApiDescription.cs#L50

[2016-12-20 17:24] frankabbruzzese commented on #5622
May be something is missing on the server. Try to deploy to another server, for instance on a free Azure account.

[2016-12-20 22:30] Eilon commented on #5623
This issue was moved to aspnet/Hosting#903

[2016-12-20 22:30] #5623 closed

[2016-12-20 22:31] Eilon commented on #5622
@mennan can you show a full screenshot of exactly the error you're getting?

[2016-12-20 22:32] Eilon commented on #5620
Also a dup of https://github.com/aspnet/Mvc/issues/2640, which might have some further context and info.

[2016-12-20 22:32] #5620 closed

[2016-12-20 22:34] Eilon commented on #5611
Need to do whatever is done in https://github.com/aspnet/HttpAbstractions/issues/723.

[2016-12-20 22:36] Eilon commented on #4938
@NTaylorMullen @pranavkm @rynowak thoughts on this? Would it make sense to move these types to a public namespace?

[2016-12-20 23:02] Eilon commented on #5619
Super duper weird. I was able to reproduce this on my laptop (not the same timing, but approximately the same scale: from ~2sec on 1.0.0, to about ~11sec on 1.1.0).

It's worth noting that it is not supported to mix & match versions - you have to update all your packages to 1.1.0 (except for NETCore.App, which is at 1.0.1). But even with that change, I still encountered the issue.

I'm moving this

[2016-12-20 23:03] Eilon commented on #5619
This issue was moved to dotnet/cli#5107

[2016-12-20 23:03] #5619 closed

[2016-12-21 00:31] davidfowl commented on #4938
No, if you ended up rewriting the default service then we have a gap somewhere in our extensibility.

[2016-12-21 01:41] jbagga commented on #5551
@webprofusion-chrisc Are you still running into this error? Have you ensured that the request contains the `Content-Type: application/json` header? I tried to run the code you shared. It seems to work just fine for a 5MB json file. Any other relevant information that can help us investigate further?

[2016-12-21 05:35] mennan commented on #5622
Resolved issue by distributing to another server.

[2016-12-21 05:35] #5622 closed

[2016-12-21 06:45] webprofusion-chrisc commented on #5551
@jbagga Sorry I haven't been able to recreate this since, it could have been that the file was much bigger than 5MB (the client side app was posting generated images, so 18MB for instance). Feel free to close this though as I cannot reproduce any more, could have been experimental error :)

[2016-12-21 07:57] Biarity opened #5626 ""More than one DbContext was found" when migrating database in a vanilla project"
When creating a new ASP.NET Core MVC project, then running:
`Add-Migration _some_name`,
`Update-Database`,
I get:
`More than one DbContext was found. Specify which one to use. Use the '-Context' parameter for PowerShell commands and the '--context' parameter for dotnet commands.`

Any idea why? Isn't `ApplicationDbContext` the only one there? But then running
`Update-Database -Context "Application

[2016-12-21 10:13] topguss opened #5627 "Error while rendering nullable enum properties"
In version 1.1.0 there is a problem with nullabile enum properties and @Html.DisplayFor().

This exception is rised: InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'System.String', but this ViewDataDictionary instance requires a model item of type 'System.Enum'.

For example:
Model:
[code]

View:
[code]

Enum template:
[code]

project.json
[code]

[2016-12-21 16:51] MikaelGRA opened #5630 "[Feature Request/Question] Using MVC to implement isolated pieces of middleware?"
Hello,

I am currently working on implementing a middleware component for AspNetCore that exposes an API that should be used in several different applications.

In order to do so, I felt that that obvious choice would be to build ontop of the MVC middleware in order to take advantage of all the things in it, that makes it easy to build great APIs. However, either I am missing something or this is

[2016-12-21 18:38] jbagga commented on #5551
@webprofusion-chrisc Thank you for getting back to us! Closing this issue as it cannot be reproduced again. I have ensured it works for files up to 20 MB for VS 2015 .NET Core 1.0 and VS 2017 .NET Core 1.1 with the code shared.

[2016-12-21 18:38] #5551 closed

[2016-12-21 18:45] Eilon commented on #5622
Ok!

[2016-12-21 19:10] vaindil opened #5631 "Exception thrown if no body is included when a multipart Content-Type is specified"
_(Sorry, not sure if this belongs in this repo or another one. I also opened aspnet/HttpAbstractions#747.)_

Typical behavior when a parameter is not included in a request is to make that parameter null. With the below code, however, I'm getting an exception if the request body is blank. The exception happens before the controller is called. If the body isn't blank but an invalid parameter is spec

[2016-12-21 20:36] #4811 closed

[2016-12-21 21:33] rynowak commented on #4938
@davidfowl - we did identify a gap here... remember when we designed compilation factory and reference manager?

We should make an abstraction for https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/RazorReferenceManager.cs and make it public, that's the part you're asking for right @DavidEmanuelsen ?

[2016-12-22 00:11] muqeet-khan commented on #3702
Is adding byte range support for filestreamresult\filecontent on the radar, now that 1.0 has been released?

[2016-12-22 00:52] Eilon commented on #3702
@muqeet-khan not currently committed, but we'll certainly consider it!

[2016-12-22 01:31] jbagga commented on #5625
What is it supposed to be?
[code]
Anything else that I should find out to add to the `Remarks` section?

[2016-12-22 01:35] Eilon commented on #5627
@ryanbrandenburg is this a dup of that issue you worked on just recently?

[2016-12-22 01:36] Eilon commented on #5626
@divega any idea on this? Do you need more info to investigate?

[2016-12-22 02:18] divega commented on #5626
This issue was moved to aspnet/EntityFramework#7297

[2016-12-22 02:18] #5626 closed

[2016-12-22 08:03] topguss commented on #5627
yes

[2016-12-22 17:45] Socolin opened #5633 "Model binding, BindNeverAttribute and BindAttribute ignored ?"
Hi,

I have a model with some "get properties" depending on other properties of the model

[code]

These properties are not meant to be binded but its seems they are accessed during binding process. So in my case I got a crash due to a null exception.

[code]

I tried to add `[BindNever]` on the property, and I also try `[Bind("List","Of","Property","To","Bind")]` on the model but I still get this

[2016-12-22 19:27] vaindil commented on #5631
Updated the title, discovered this has to do with `Content-Type` being `multipart/form-data`, not with the expected parameter.

[2016-12-22 20:53] manojjagtap1981 opened #5635 "Unable to open the project"
I am using VS Premium 2013 with Update 4 and I am getting unsupported issue while opening this project.
Please advice.

Thanks
Manoj

[2016-12-22 21:05] amityagov opened #5636 "Why DataAnnotationLocalizerProvider lambda is called for model type?"
Why not for attribute which i want localize?
Later, in `IStringLocalizer.this[string name, params object[] arguments]` i can't get attribute type or any info about it, so i can't properly get localized string for attribute localization.

Mvc Code:
DataAnnotationsModelValidatorProvider.CreateValidators
[code]

StringLocalizer is created for model but not for attribute.

My Code:
[code]

Mvc version

[2016-12-23 02:10] dhswg20077 commented on #5050
just need to restart VS

[2016-12-23 03:14] shawnmclean commented on #4607
Should the `BadRequestObjectResult` also use the same settings for the json serialization? For eg. a model with the `Title` prop is required will have pascal casing json response as below:

{
  "Title": [
    "The Title field is required."
  ]
}

Request and Response payloads works with camel casing.

[2016-12-23 08:58] axelheer opened #5637 "Make CookieName of CookieTempDataProvider configurable"
The name of the cookie seems to be fixed, while other components ([Antiforgery](https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNetCore.Antiforgery/AntiforgeryOptions.cs#L32), [Session](https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNetCore.Session/SessionOptions.cs#L19), ...) are open for alternatives. Making this configurable seems to be a breaking change, since ther

[2016-12-23 22:02] MissaouiChedy opened #5638 "Input tag helper ignores validation attributes defined in the most specific model class"
# Context
Please consider the following example that demonstrates the issue.
## Example
Consider the following cshtml simplified View:
[code]
This view is strongly typed with the following Holder Model:
[code]
The Holder Model as a subclass:
[code]
The `SubHolder` class redefines the Name property and adds the `[MaxLength]` validation attribute.

In the Controller action that returns this view we

[2016-12-24 09:53] frankabbruzzese commented on #5638
@MissaouiChedy , the change you are proposing would cause incoherent behavior between client validation and server side validation performed during the Model Binding stage. In fact, when you post the form the model binder can no way understand you are posting  `SubHolder` fields, so it will attempt to create an `Holder` instance thus applying  `Holder` validation rules.

In general, the Mvc framew

[2016-12-24 11:55] MissaouiChedy commented on #5638
@frankabbruzzese I did not foresee the incoherence between client-side and server-side validation thanks for pointing it out.

Actually the situation in which I initially needed this behavior is not properly depicted in the example I provided, so please bear with me :-)

Consider now that we have the following chtml file:
[code]
The previous view is used as a generic editor template for objects of

[2016-12-24 14:47] frankabbruzzese commented on #5638
What have you done is the correct way to change a behavior. However, behavior should be changed coherently.  If the problem is just client validatio you dont need to change anything something like;

[code]

should work.

However, the fact remains that the model binder is not able to understand which has been submitted.

So if the Action method where you post your page has a ViewModel like:

[code]

[2016-12-24 19:43] MissaouiChedy commented on #5638
Understood, thank you for the support.

[2016-12-24 19:43] #5638 closed

[2016-12-25 11:14] frankabbruzzese commented on #5636
What's the problem with it? Everything is as explained in the [documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization). localizers are created from types (however you may create them also from string that have no type associated with them).
Pls explain clearly the supposed issue, possibly referring to mismatches between documentation and actual behavior.

[2016-12-27 03:57] derekgreer commented on #5607
That really is the issue ... policies are great for defining discrete types of authorization needs that are computed dynamically (e.g. `options.AddPolicy("CanBuyAlcohol", policy => policy.Requirements.Add(new Authorization.MinimumAgeRequirement(21)));` ), but the current implementation seems limited for variations of the same class of requirement.

The bottom line is, people want the ability to de

[2016-12-27 09:09] christiandelbianco commented on #4816
Thanks !!!!

[2016-12-27 09:37] frankabbruzzese commented on #5607
With the new policy approach one should adopt a different perspective. You look at all policies as a "bag" of predefined authorizations each action method designer must choose one.

The right perpspective is that there is no predefined "bag" of policies, but policies are designed together with action methods. Namely, each time you define a new "action type" you define a policy name for it where,

[2016-12-27 11:51] fengkaka opened #5639 "ParameterApplicationModelConvention"
We have ActionApplicationModelConvention to wrap IActionModelConvention and provider a extent method like this:
 public static void Add(
            this IList<IApplicationModelConvention> conventions,
            IActionModelConvention actionModelConvention)
        {
            conventions.Add(new ActionApplicationModelConvention(actionModelConvention));
        }
and ControllerApplicationModel

[2016-12-27 15:18] derekgreer commented on #5607
I believe I understand the intent of the policy design and it seems to provide a suitable solution for complex authorization needs.  What it doesn't do is provide a convenient solution for simple authorization needs where there is a one-to-one mapping between a claim and what you are wanting people to define as a "policy".  I would submit that 80% of customers simply need a way to easily express t

[2016-12-27 16:02] rynowak commented on #5607
/cc @HaoK @blowdart

[2016-12-27 16:03] rynowak commented on #5639
You're absolutely right we need this. Logged here already and planned for 2.0.0  https://github.com/aspnet/Mvc/issues/5618

[2016-12-27 16:03] #5639 closed

[2016-12-27 16:05] rynowak commented on #5636
/cc @dougbu

[2016-12-27 16:08] rynowak commented on #5625
I would add a similar blurb to the remarks. It will be empty if the action doesn't take a 'body' parameter.

[2016-12-27 17:07] frankabbruzzese commented on #5607
@derekgreer ,
Now I understand your point. We should need at least an out of the box ClaimRequirement attribute, for the simplest cases. I agree.

[2016-12-27 18:28] Eilon commented on #5636
@ryanbrandenburg thoughts on this?

[2016-12-27 18:31] Eilon commented on #5635
Hi, at this time you need Visual Studio 2015 Update 3 to open the projects here.

In the near future you will need Visual Studio 2017 RC.2 (or newer) to open the projects, once we switch them to the updated CSPROJ-based system.

You can download free trials and preview versions of Visual Studio from here: https://www.visualstudio.com/vs/

[2016-12-27 18:31] #5635 closed

[2016-12-27 18:32] ScottKaye commented on #5084
In case it's useful for anybody else, this is how I solved the issue of binding checkboxes to a `[Flags]` enum:

In my example, the `User` class has a `Languages` property, which is a flags enum.  This is in the editor for a user.

Sample HTML:
[code]

FlagsEnumBinder.cs:
[code]

Startup.cs:
[code]

Now `User.Languages` will bind to `Languages.English | Languages.French` as expected from the HTML,

[2016-12-27 18:33] Eilon commented on #5633
@rynowak @dougbu I assume the validation system always runs on everything, regardless of whether it was bound, right? I think we've had requests in the past to disable validation on model properties, does that sound familiar to you?

[2016-12-27 18:39] Eilon commented on #5266
Closing again due to lack of demand/scenario.

[2016-12-27 18:39] #5266 closed

[2016-12-27 18:40] Eilon commented on #5453
No plans to implement this feature, so closing this.

[2016-12-27 18:40] #5453 closed

[2016-12-27 18:41] Eilon commented on #5474
Closing because there are no plans to implement this.

[2016-12-27 18:41] #5474 closed

[2016-12-27 18:47] HaoK commented on #5607
So we do have an extensibility point for this today in the PolicyProvider, granted its not as polished as I'd like for something like this scenario:

[code]

The general problem that exists today is the policyName is the only thing that really flows from the Authorize attribute to the AuthZ service...

[2016-12-27 18:49] Eilon commented on #5213
I think the core of this issue is described in https://github.com/aspnet/Routing/issues/293, so closing this.

It's important to keep in mind that there's no such thing as "a request to a static file" because unless it matches a static file, there's no way to know what was intended. So at most a developer could register certain URL templates as producing 404's in Routing.

[2016-12-27 18:49] #5213 closed

[2016-12-27 18:51] rynowak commented on #5633
Correct, there is no way to prevent the validation system from traversing a *specific property*. You can prevent the validation system from traversing any property of a given class.

In general this is because we have a model validation system not an input validation system - it's working to ensure that a dedicated model object is in a valid state.

http://bradwilson.typepad.com/blog/2010/01/input

[2016-12-27 18:52] Eilon commented on #5436
@DamianEdwards @ryanbrandenburg , thoughts on this?

Should we do all/some/none of this?

[2016-12-27 18:56] DamianEdwards commented on #5436
What exactly is being proposed here? I got a little confused with some of the phrasing, but it appears we simply want to add a `.AddMvcLocalization()` extension method that adds all localization features, including the base localization services, along with view (`IViewLocalizer` and locale-based view location exapnder) and data attribute localization. If so, that sounds like a very useful additio

[2016-12-27 19:09] Eilon commented on #5447
Closing because this seems to be of marginal value.

[2016-12-27 19:09] #5447 closed

[2016-12-27 19:10] Eilon commented on #5168
Is this even worth it then? Just don't use our tag helpers? We could certainly build an extensibility system but it seems easier to just write the code yourself... or write your own tag helpers... ?

[2016-12-27 19:12] derekgreer commented on #5607
Yes, parameters could be encoded within the policy name, but surely this wouldn't be the team's recommended way of addressing this issue.  I think the best answer at this point really is: The current infrastructure isn't suited for simple claim-based authorization, so we recommend creating custom Action Filters for such needs.

[2016-12-27 19:12] Eilon commented on #5436
@DamianEdwards yes I believe that's the request.

@dougbu can you update any relevant samples to use this as necessary?

[2016-12-27 19:13] DamianEdwards commented on #5168
Yeah it might be better to just tackle the addition of `<head>`, `<body>`, etc. Tag Helpers such that it's easy for people to create whatever script/asset collection helpers they want.

[2016-12-27 19:14] Eilon commented on #5522
Closing because there doesn't appear to be demand for this at this time. Will re-open if that changes.

[2016-12-27 19:14] #5522 closed

[2016-12-27 21:50] Eilon commented on #5615
@RandyBuchholz we reviewed this in the MVC team, and though we think there are merits to this proposal, it is a rather large architectural change to how MVC works, so we are closing this issue.

[2016-12-27 21:50] #5615 closed

[2016-12-27 21:52] Eilon commented on #5584
Closing because we are not planning to add this feature. If you end up writing your own tag helper that does this, we'd be happy to have a link to it from the readme.

[2016-12-27 21:52] #5584 closed

[2016-12-27 21:53] Eilon commented on #5580
@rynowak I'm parking this on your plate for your consideration of future enhancements to the viability of a mechanism that could establish a realization of this feature.

[2016-12-27 21:55] dougbu commented on #5633
@Socolin why is `Device` null in your test?

@rynowak

I agree. The `DefaultComplexObjectValidationStrategy` gets the value of every property that's `public` and gettable.

On the other hand, if other properties don't need validation, it is simple to suppress validation of the entire class containing the `Group` property e.g.
[code]
Not exactly what @Socolin wants of course.

[2016-12-27 21:55] Eilon commented on #1432
Closing because we are not planning to implement this.

[2016-12-27 21:55] #1432 closed

[2016-12-27 21:57] Eilon commented on #1469
Closing because we are not planning to implement this.

[2016-12-27 21:58] Eilon commented on #3042
Closing because we are not planning to implement this.

[2016-12-27 21:58] #3042 closed

[2016-12-27 21:59] Eilon commented on #3409
Closing because we are not planning to implement this in Razor/MVC.

[2016-12-27 21:59] #3409 closed

[2016-12-27 22:00] Eilon commented on #3561
Closing because we are not planning to make any changes in MVC related to this.

cc @davidfowl @DamianEdwards does anything here resonate w/ stuff we're doing for non-HTTP based servers?

[2016-12-27 22:00] #3561 closed

[2016-12-27 22:01] Eilon commented on #4134
Closing because we are not planning to implement this.

[2016-12-27 22:01] #4134 closed

[2016-12-27 22:02] Eilon commented on #3208
Closing because we are not planning to implement this.

[2016-12-27 22:02] #3208 closed

[2016-12-27 22:04] Eilon commented on #551
Closing because we are not planning to implement this.

[2016-12-27 22:04] #551 closed

[2016-12-27 22:04] Eilon commented on #727
Closing because we are not planning to implement this.

[2016-12-27 22:04] #727 closed

[2016-12-27 22:04] Eilon commented on #43
Closing because we are not planning to implement this.

[2016-12-27 22:04] #43 closed

[2016-12-27 22:09] Eilon commented on #3440
Closing because we haven't seen any issues in this space in quite a while. Since this bug was opened we made a lot of changes (and improvements!) to how assemblies are loaded, so presumably this is fixed. If you're still seeing an issue, please log a new issue with additional information. Thanks!

[2016-12-27 22:09] #3440 closed

[2016-12-27 22:10] Eilon commented on #1873
Closing because we are not planning to implement this.

[2016-12-27 22:10] #1873 closed

[2016-12-27 22:10] Eilon commented on #1365
@DamianEdwards @NTaylorMullen does this still seem useful?

[2016-12-27 22:11] Eilon commented on #1038
Closing because we are not planning to implement this. We instead have tag helpers, which solve part of the problem here.

[2016-12-27 22:11] #1038 closed

[2016-12-27 22:14] dougbu commented on #5436
@Eilon sure. I'll include the samples in the work when I get to this bug.

FYI @DamianEdwards nailed my intention with "add a `.AddMvcLocalization()` extension method that adds all localization features".

----

In retrospect, this subset of `MvcLocalizationServices.AddMvcLocalizationServices()` isn't worthwhile. Would operate like the existing method but not add a `LanguageViewLocationExpander`.

[2016-12-27 22:23] dougbu commented on #1469
@Eilon what does closing this imply about #4888 and @DamianEdwards's "Support initial focus" point?

[2016-12-27 22:26] dougbu commented on #3042
FYI, users can do this explicitly with `[Range(0, (int)uint.MaxValue)]` on the property if they wish.

[2016-12-27 22:36] NTaylorMullen commented on #1365
Hmm it'd be a nice utility to have but I'm not convinced it's desperately needed. Might not be worth the added API surface area.

[2016-12-27 22:50] Eilon commented on #565
I believe the current implementation meets the CORS spec in regard to status codes. I couldn't find anything in http://www.w3.org/TR/cors/ that contradicts the implemented behavior.

I kind of get what you're saying about returning a 200, but it also seems perfectly reasonable to return a more specific status code if it is safe to do so.

[2016-12-27 22:51] Eilon commented on #1469
Ah, sure, re-opening for now. Still seems unlikely we'd implement it, though.

[2016-12-27 22:59] Eilon commented on #5133
Closing because we are not planning to implement this.

[2016-12-27 22:59] #5133 closed

[2016-12-27 23:01] Eilon commented on #3413
@pranavkm is there a way to do this today?

[2016-12-27 23:04] DmitrySikorsky commented on #3413
Yes. Use assembly parts.

[2016-12-27 23:06] Eilon commented on #925
Closing because we are not planning to implement this.

[2016-12-27 23:06] #925 closed

[2016-12-27 23:12] Eilon commented on #3413
Ah, of course, indeed, so then closing this.

[2016-12-27 23:12] #3413 closed

[2016-12-27 23:22] rynowak commented on #5183
Sure, that's probably the best we can do.

[2016-12-28 00:29] Eilon commented on #1011
Closing because we are not planning to implement this.

[2016-12-28 00:29] #1011 closed

[2016-12-28 01:18] Eilon commented on #5633
Related: https://github.com/aspnet/Mvc/issues/4143

[2016-12-28 06:00] jgauffin commented on #565
What I'm saying is that ajax fails without giving you the status code in the error object. How are you supposed to diagnose that from javascript?

[2016-12-28 10:00] frankabbruzzese commented on #5607
@derekgreer ,
After some thinking about the problem I realized that "simple cases" you are referring to might use roles. Written this way it appears king dirty hack but actually isn't. In fact, in simple cases where the Authorization attribute simply needs just one claim, this claim usually doesnt map to any "immediate user property" (such ase age....or similar) but is already the result of some p

[2016-12-28 10:53] Socolin commented on #5633
@dougbu Device is null because it's an helper to get access to an object created depending of the input, and loaded in database with permissions check. After validating model I call a method to do the job (I planned to do it automatically in an filter), then I can use one of the helper to access to the created object as IDevice or as a derived class with custom exception if cast failed to have a s

[2016-12-28 10:58] scrouchman commented on #5555
Whats the recommended workaround for this? The error is causing my response to end prematurely.
Currently I'm removing the SaveTempDataAttribute from the filters on startup (The project doesn't use TempData) which works, but not convinced its a good fix

[2016-12-28 15:43] denisz1 opened #5641 "Anchor tag helper gets confused when multiple controllers have same name"
We have a large solution with various subsystems. Many have controllers with identical names. We differentiate between them by using fully-qualified names.

But tag helpers get confused because of the same-named controllers.

    namespace My.Company.Office1

      [Area("Accounts")]
      public class OrderController : Controller {

          [Route("/office1/accounts/orders/create")]
          p

[2016-12-28 16:31] jbogard commented on #1038
@pawelpabich in case you're interested, I released a version of the HtmlTags library that targets ASP.NET Core, and lets you use tag helpers along with HtmlTag conventions. Sort of best-of-both-worlds https://www.nuget.org/packages/HtmlTags.AspNetCore/

[2016-12-28 18:10] kichalla commented on #5555
@scrouchman Following is a workaround that you can use:

Assuming that you are hitting this exception when you are trying to write to the response stream directly in an action for example, you can do the following:

[code]

Now you can use this in a controller's action like below:
[code]
The reason this works is because the func provided in the action is not executed until the StreamActionResult i

[2016-12-28 18:11] #5618 closed

[2016-12-28 18:23] Eilon commented on #565
@jgauffin I think in that case all the JavaScript will know is that there was an error - but you're right that it won't know *which* error. Ultimately the application itself will need to provide more meaningful errors for known cases.

Suppose the opposite were true and CORS returned a 200 in this case. Then the "real" request would go through and the server would throw some other error, which the

[2016-12-28 18:26] Eilon commented on #5633
@Socolin yep your scenario totally makes sense. We'll look at adding some feature to help make this a lot easier. It would likely be some new attribute, i.e. `[ValidateNever]`, which specifically disables validation on a specific property (or perhaps even a type).

We wouldn't build this into the `[BindNever]` attribute because that would be a huge breaking change, and also there are cases where y

[2016-12-28 18:29] Eilon commented on #5641
Having two controllers in the same area with the same name is not supported. That's actually exactly what areas are for - allowing two controllers with the same name in the same app!

So, unfortunately, this is by design and not supported.

Alternatives include:

1. Renaming the controllers
2. Choosing a different area for each controller
3. Having a single "meta" controller with the "common" name

[2016-12-28 18:29] #5641 closed

[2016-12-28 19:18] jgauffin commented on #565
You cannot mix reasoning regarding regular ajax requests and preflight requests. There are very different and should not be handled in the same way by ASP.NET. What you say is true for regular ajax requests only.

The CORS preflight request isn't exposed to the JS engine in the browser like normal ajax requests are. The  HTTP status code is always 0 if it fails to indicate that it was the prefligh

[2016-12-28 19:19] jgauffin commented on #565
@davidfowl what do you think?

[2016-12-28 19:36] denisz1 commented on #5641
@Eilon Ok. Note though that routing actually works perfectly fine.

It's only the `asp-controller` part of the anchor tag helper that doesn't.

[2016-12-28 19:40] Eilon commented on #5641
@denisz1 right, with attribute routes the ambiguity is solved on that side, though you could run into problems in other parts of the system that look at the `controller` and `action` of the request, such as rendering views, generating URLs to other parts of the system, etc. But ultimately this is simply not supported in MVC.

[2016-12-28 19:44] Eilon commented on #565
Ah, you know what, I'm seeing this differently now, thanks for your patience with me 😄

Let me see if I understand. You're saying that for a CORS pre-flight request the *only* thing that should matter is whether the "CORS stuff" is valid, i.e. the various CORS access request matches what the endpoint says should be allowed to be accessed. Then, one THAT is done, when the "real" request goes throug

[2016-12-28 19:54] denisz1 commented on #5641
@Eilon Yeah I understand.

FYI our use case is we use a "feature folder" solution instead of the folder convention of `Controllers`, `Models`, `Views`, `Areas`, etc. And in a feature folder organisation, you name most of the items the same way - so each feature has a `Controller` class, and a `Mapper` class, and `IndexViewModel` class, CRUD stuff, etc. That's why all our controllers were named ide

[2016-12-28 19:59] Eilon opened #5642 "Need better way to suppress validation of properties/types during model binding"
Today it is not easy to statically disable validation explicitly on a particular property of a particular type. It also isn't as easy as it could be to disable validation on a type (it is possible to do today, but perhaps not as easy as it could be).

See related: #5633 (Model binding, BindNeverAttribute and BindAttribute ignored ?)

It is also not easy to decide whether to disable validation of a

[2016-12-28 19:59] Eilon commented on #5642
@dougbu let's discuss with @rynowak and @danroth27 when everyone is back in the office.

[2016-12-28 20:00] Eilon commented on #4143
Closing this bug in favor of https://github.com/aspnet/Mvc/issues/5642, which covers the broader scenarios.

[2016-12-28 20:00] #4143 closed

[2016-12-28 20:06] jgauffin commented on #565
No problem. Giving up is not my thing ;)

You are correct. The purpose of the preflight request is to validate access. It doesn't care about the actual resource. That's why it's an OPTIONS request. It should either succeed (200) or fail due to access errors (401/403).

When it's done the actual HTTP request will be made (using one of the more common HTTP verbs). That request can fail with 404. Thi

[2016-12-29 11:17] scrouchman commented on #5555
Thanks for this. Your assumption is mostly right, though I'm writing bytes directly to Response.Body. This new action result does indeed fix the issue and is definitely nicer than removing the filter

[2016-12-29 20:25] pkellner opened #5643 "Thinking FileVersionProvider is not locking when getting file sha512"
In the FileVersionProvider

https://github.com/aspnet/Mvc/blob/9146fce4ec44abe8007eb659f2020c192bdcfa21/src/Microsoft.AspNetCore.Mvc.TagHelpers/Internal/FileVersionProvider.cs#L85

Line 85 (var fileInfo = _fileProvider.GetFileInfo(resolvedPath);) should be protected with a lock so that if a specific image tag is repeated on a page, GetFileInfo will not get called multiple times and create multiple

[2016-12-29 20:44] pkellner opened #5644 "Refactor/Simplify Code From for to linq?"
Is it appropriate to submit pull requests to simplify code that seems like it could be simpler and easier to read?  Let me give an example:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/TagHelpers/UrlResolutionTagHelper.cs

Code at lines: 343-354:

        private static bool IsCharWhitespace(char ch)
        {
            for (var i = 0; i < ValidAttributeWhitespaceCh

[2016-12-29 21:13] davidfowl commented on #5644
Usually when you see code like this it's done for performance reasons. We usually have comments that start with `// PERF:` but you can safely assume that less LINQ is usually better in framework code (especially in hot paths).

[2016-12-30 00:00] Eilon commented on #5644
This particular code is almost certainly due to perf - it's not code we would normally write that way otherwise.

[2016-12-30 00:00] #5644 closed

[2016-12-30 00:04] Eilon commented on #5294
Ok this is now done thanks to @pranavkm . We unlisted all packages that matched an id that had a previous RTM release associated with it, but was meant for ASP.NET Core only.

This is the full list of packages we unlisted from nuget.org:

[code]

[2016-12-30 00:04] #5294 closed

[2016-12-30 00:06] Eilon commented on #5294
cc @muratg @divega @danroth27 @DamianEdwards for FYI information about this.

[2016-12-30 00:40] Eilon commented on #5643
@pranavkm can you investigate and assess?

[2016-12-30 00:41] Eilon commented on #565
@jgauffin thanks again, this makes sense to me.

@kichalla let's review with @blowdart when everyone is back in town and come up with a plan.

[2016-12-30 01:04] pranavkm commented on #5643
@pkellner the specific call to `GetFileInfo` happens inside of a cache miss. The second time around, it shouldn't enter the block. Additionally, `PhysicalFileProvider.Watch` caches and re-uses `IChangeToken` instances, so there really isn't an issue with dealing with multiple watchers. Do you have some data that suggests issues in this code path?

[2016-12-30 01:25] rynowak commented on #5555
@scrouchman you can also safely just return a stream from your action method. Or use `ObjectResult` and your stream as the payload if you want to set a content type. We have a formatter on by default that will copy a stream's contents to the body.

https://github.com/aspnet/Mvc/search?utf8=%E2%9C%93&q=StreamOutputFormatter

[2016-12-30 18:02] Eilon commented on #5448
I don't think we'd change the public API surface of these types, and I'd rather not add internal APIs for it.

If we can instead change this without API changes (e.g. choose smarter default capacities, or delay-create internal data structures), we could consider that instead.

[2016-12-30 18:02] #5448 closed

[2016-12-30 18:14] Eilon commented on #5549
@pbering sorry for the delay, just had another chance to take a look at this. Using view components is certainly much better, and is actually supported. The code you pointed to looks better.

I'd recommend checking that your code at least roughly follows what MVC's built-in [`ViewComponentResult`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewComponentResult.

[2016-12-30 18:27] Eilon commented on #5595
@pierre-weceipt can you share more of your app? Or perhaps upload it to GitHub so we can take a look? We're not aware of any changes in this area that could cause this.

[2016-12-30 18:42] Eilon commented on #5449
Looks like someone named @dougbu already snuck in and did this!

https://github.com/aspnet/Mvc/commit/7178464ed2e3d16d11a8f4a992bb7d9564424759#diff-c77786ef232a7bbd3a597afb31fde775L210

[2016-12-30 18:42] #5449 closed

[2016-12-30 18:51] caleblloyd opened #5646 "Attribute Routing Not Working after migration to MSBuild"
I recently switched to VS 2017 and MSBuild, and Attribute Routing has stopped working.

I have followed the official [attribute routing guide](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing#attribute-routing) but still everything is returning a 404.

I have a recreate of this behavior at: https://github.com/caleblloyd/aspnet-route

[2016-12-30 19:10] Eilon commented on #4909
This is essentially a dup of https://github.com/aspnet/Razor/issues/433, which is about providing better errors/warnings when doing things with tag helpers.

[2016-12-30 19:10] #4909 closed

[2016-12-30 19:46] Eilon commented on #443
No plans to change this behavior.

[2016-12-30 19:46] #443 closed

[2016-12-30 19:47] Eilon commented on #1680
Closing because there are no plans to implement this.

[2016-12-30 19:47] #1680 closed

[2016-12-30 22:39] Eilon commented on #2433
Closing because we are not planning to implement this.

[2016-12-30 22:39] #2433 closed

[2016-12-30 22:41] Eilon commented on #2953
Closing because we are not planning to implement this. If this functionality is needed, the recommended alternative is to implement your own `JavaScriptResult` with the desired behavior (it's not much code, and could probably be copied fairly easily from MVC 5.x).

[2016-12-30 22:41] #2953 closed

[2016-12-30 22:55] rynowak commented on #2433
I also want to add here that we **already** log what the parameter values are, and whether or not modelstate is valid. IMO we do enough, and anyone wanting more would be asking for this to troubleshoot **specific** validations, which we haven't gotten feedback about.

[2016-12-30 23:18] ryanbrandenburg commented on #5627
Yes, this appears to be a dupe of #5547, closing.

[2016-12-30 23:18] #5627 closed

[2016-12-30 23:27] Eilon commented on #2412
This should hopefully be a part of the work for Razor Pages, which is tracked here: https://github.com/aspnet/Mvc/issues/494

[2016-12-30 23:27] #2412 closed

[2016-12-30 23:31] Eilon commented on #2910
Closing because there are no plans at this time to implement this in MVC.

[2016-12-30 23:31] #2910 closed

[2016-12-30 23:31] MartinMason opened #5647 "Errors creating new Api Controller"
Creating a new AspNetCore project in Visual Studio 2015, add a new class, try to create a new scaffolded Api Controller, this error is received. I can reproduce everything stated in this post. Have tried every solution produced and nothing works. Creating an empty Api controller succeeds. Tooling preview 2 is dire need of an update.

http://stackoverflow.com/questions/41022748/asp-net-core-adding-

[2016-12-31 00:27] Eilon commented on #1877
No plans to build this into MVC, but using Application Model and conventions it should be possible for others to build this type of feature in a 3rd party library.

[2016-12-31 00:27] #1877 closed

[2016-12-31 00:51] Eilon commented on #5647
This issue was moved to aspnet/Scaffolding#372

[2016-12-31 00:51] #5647 closed

[2016-12-31 00:53] Eilon commented on #5646
@caleblloyd the controller in your project isn't public - could that be the cause?

Check this line: https://github.com/caleblloyd/aspnet-route/blob/master/route/contorlllers/HomeController.cs#L5

And mark the class as `public class`.

Does that solve the issue?

[2016-12-31 00:53] Eilon commented on #5646
(All controllers in MVC must be public types.)

[2016-12-31 01:18] pkellner commented on #5643
Hi @pranavkm and @Eilon .  I agree that when the cache value is found that the code is threadsafe and there will be no issue.  However, when the cache is not found, the block that loads the cache (line 83-189) is not thread safe. For example, another request could be processing the same block and be at line 85, then both threads would be requesting the fileInfo.  I believe we should have the doubl

[2016-12-31 02:58] caleblloyd commented on #5646
@Eilon sometimes it's the simple things... thanks for bailing me out 😄

[2016-12-31 02:58] #5646 closed

[2016-12-31 04:13] dougbu commented on #5449
Also updated to place this in the same milestone as #5499&hellip;

[2016-12-31 06:47] hishamco opened #5648 "Unable to find the views in custom view engine"
I'm working on a `MarkdownViewEngine`, but I faced a strange issue in views searched location, I setup the `ViewLocationsFormats` as the following:
[code]
like what we have here in `RazorViewEngine` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/RazorViewEngineOptionsSetup.cs#L56

I fixed the issue by removing the forward slash at the beginning as it works as expected, I

[2016-12-31 07:37] hishamco commented on #5648
FYI I pushed the source into my repo [MarkdownViewEngine](https://github.com/hishamco/MarkdownViewEngine)

[2016-12-31 11:01] pbering commented on #5549
Thank you for your answer! I will close this for now. Happy New Year!

[2017-01-01 23:58] dougbu commented on #5648
@hishamco you're using the file system directly -- at least [here](https://github.com/hishamco/MarkdownViewEngine/blob/master/src/MarkdownViewEngine/MarkdownViewEngine.cs#L102). That makes your view engine very different from `RazorViewEngine` e.g. `/` is the application root in `RazorViewEngine` and the drive root in `MarkdownViewEngine`.

Recommend using `IFileProvider`s, perhaps via the `IRazor

[2017-01-02 02:38] Funbit opened #5649 "CancellationTokenSource is not Disposed in cache tag helpers"
Inside https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/CacheTagHelper.cs#L80 (ProcessAsync method) there is a CancellationTokenSource instantiation without proper Dispose call.

Also, https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/DistributedCacheTagHelper.cs#L72 creates a new CancellationTokenSource which is not used anywhere.

I beli

[2017-01-02 05:26] hishamco commented on #5648
Injecting `IFileProvider` in the PR https://github.com/hishamco/MarkdownViewEngine/commit/efd1db245d2aae808751f6473d2c90dcafca9b3c makes everything happy 😄

thanks @dougbu

[2017-01-02 05:26] #5648 closed

[2017-01-02 13:20] pierre-weceipt commented on #5595
As migrating to 1.1 was not a priority for us I delayed dealing with the issue. After runing more tests the model binder is now correctly called (I don't know what changed since before holidays). What is surprising is that I detected an issue that should have prevented the binder to work before but was not..

One last thing is strange though, the project can run but VS and CLI is telling me packag

[2017-01-02 13:57] pierre-weceipt commented on #5595
As a follow up, in my view
[code]
is generating with 1.0.1
[code]
and for 1.1
[code]

So I had to change a line in the binder to catch `ModelType` instead of `Type`

[2017-01-02 17:00] RandyBuchholz opened #5650 "[Comment/Question] ModelMetadataTypeAttribute"
## Background
As I understand, this attribute was originally conceived to help address the case where when reversing a database, EntityFramework overwrites the model classes, causing any attributes you would applied to be lost. The attribute helped create "Buddy Classes". The examples I see apply this attribute to a partial class on the entity class. The comments in the source say, "This attribute

[2017-01-02 19:25] dougbu commented on #5595
@pierre-weceipt generating the name / id "Type" with 1.0.1 looks like a straight-up bug. Alternatively, something else changed in your app when updating to the 1.1.0 packages. (It's not clear where MVC could get that name.)

Are you suggesting there's a problem with the new HTML?

[2017-01-02 22:58] pierre-weceipt commented on #5595
@dougbu no, the only change is that now the name is correctly ModelType instead of previously Type. I think it was a bug in 1.0.1, as I understood razor should be using the var name for input name but was changing ModelType in Type (the previous code was all in a razor view).

But this part is fine for me now, I just had to change a string in my model binder to match the new var name. I'm more int

[2017-01-02 23:22] frankabbruzzese commented on #5595
Since expression like `@Model.MyProperty` must generate names like  `MyModel`,  prefix "Model." is removed, probably in 1.0.1 also "Model" prefix were errously removed in some circumstances (I suspect when there are no dots in the total name)

[2017-01-03 13:22] nathan-alden commented on #5607
There's nothing left to be said by me that others haven't already said. My original complaint was that ASP.NET Core removed/replaced useful abstractions that allowed for flexible designs in Web API 2. The new policy system is an example of catering to the 20%, not the 80%. We are supposed to accept magic strings (i.e., the policy name appearing in an attribute) in place of custom authorization att

[2017-01-03 14:39] BrainCrumbz commented on #5279
@dougbu thanks for your comment. That was somehow expanded in a [SO answer](http://stackoverflow.com/a/41435134/540776). The net result is that this point should be made more clear in official documentation. For example, current sentence found in code comments is not totally clear:

Not sure how/to who submit an issue/PR for this.

[2017-01-03 16:11] rynowak commented on #5648
I know you already made the change, but for anyone else looking at this, we strongly recommend using the `IFileProvider` for anything that's going to serve content from a site.

This is a security issue because the path traversal operator (`\..\`) could be used with the `System.IO` apis to serve a file outside of your site's folder. If any of your view location formats are ever used with untrusted

[2017-01-03 16:31] dougbu commented on #5279
@BrainCrumbz this is a closed issue. If you think the [`IViewLocationExpander`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/IViewLocationExpander.cs) docs need further improvement, please open a new issue in this repo.

[2017-01-03 16:46] thyams opened #5651 "[Comment/Question] HTML Select End Tag - Odd Behavior"
Sample Case:
`<select id="stored-proc-picker" class="form-control" asp-for="ExportProcType" asp-items="Html.GetEnumSelectList<ExportProcTypes>()"></select>`

Works as intended. Fully populates my DOM select object with appropriate data.

Trouble Case:
`<select id="stored-proc-picker" class="form-control" asp-for="ExportProcType" asp-items="Html.GetEnumSelectList<ExportProcTypes>()" **/>**`

Emphas

[2017-01-03 16:57] frankabbruzzese commented on #5650
@RandyBuchholz ,
You may use the MetaDataTypeAttribute on DTO/ViewModels. I'ts a way to share same DataAnnotations between several classes with some common properties (by adding the same MetaDataType class to all of them). It's main limitation is that .Net offers no native support for it: each service that want to support it must read the annotation and do itself all needed job to extract informat

[2017-01-03 17:07] frankabbruzzese commented on #5607
@nathan-alden , I dont see any difference between the magic strings of policy names and the magic strings of Claims name. Defining policies with full .Net code power for sure is more flexible that putting them into an AuthorizeAttribute that may accepts just strings.

My only complaint is that one can't add several Policies separated by commas like for Roles. This from one side forces a better abs

[2017-01-03 17:51] nathan-alden commented on #5607
Enums are not magic strings. My custom attribute hid the underlying serialization logic from developers working on action methods. The enums are discoverable by IntelliSense and ReSharper. Changes to the shared package that contains the attribute and the enums will bubble up as compiler errors should developers consume a non-backward-compatible new version of the shared package.

[2017-01-03 17:56] hishamco commented on #5648
Thanks @rynowak

[2017-01-03 18:30] Eilon commented on #5651
@thyams this issue is being tracked here: https://github.com/aspnet/Razor/issues/433.

[2017-01-03 18:30] #5651 closed

[2017-01-03 18:44] thyams commented on #5651
Cheers @Eilon

[2017-01-03 19:40] Eilon commented on #5649
For https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/CacheTagHelper.cs#L80 I'm not sure what the intention is.

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/DistributedCacheTagHelper.cs#L72 is definitely wrong - the CTS isn't even used, so we can just delete it.

@sebastienros can you take a look?

[2017-01-03 20:06] pranavkm commented on #5643
Running build.cmd should install the SDK for you under %LocalAppData%. As long as you use the same shell to launch VS, (i.e. launch `Mvc.sln` from the shell) it should pick it up. Alternatively you can install the MSI from
https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/1.0.0-preview2-1-003180/dotnet-dev-win-x64.1.0.0-preview2-1-003180.exe.

It would be great if we had some data

[2017-01-03 20:40] RandyBuchholz commented on #5650
@frankabbruzzese, It's nice that TagHelpers have good support, and much of MVC as well.

I get around differences in ViewModel needs through inheritance. I have an "application" level dictionary that is aligned with the data dictionary for my database. I'm doing domain driven, so I inherit and override for the domains, and so on.  When I create a new ViewModel I check to see if an existing diction

[2017-01-03 22:30] pkellner commented on #5643
Hi @pranavkm and @Eilon I need a few more words here to understand what you are looking for.  Let me ask a couple questions to help me understand.

1.  Do you agree that there is a concurrency issue inside the "if (!_cache.TryGetValue(path, out value))" block but are not sure if the problem it creates is worth addressing because it might not happen often enough to warrant a fix?

2.  Do you think

[2017-01-03 22:53] Eilon opened #5652 "Move `ValidationAttributeAdapterProvider` and `AttributeAdapterBase<TAttribute>` out of .Internal"
_From @ryanbrandenburg on September 30, 2016 17:50_

Currently `ValidationAttributeAdapterProvider` and `AttributeAdapterBase<TAttribute>` are in `Microsoft.AspNetCore.Mvc.DataAnnotations.Internal`, which implies to anyone who wants to write their own validation attribute that that's not something we want them to do.

_Copied from original issue: aspnet/Localization#292_

[2017-01-03 23:59] pranavkm commented on #5643
1 & 2. Yup. We might do fewer `GetFileInfo` calls until the value is cached, but might have increased contention in having a single global lock for all lookups or the ongoing cost of using something like `Lazy<T>`. It's hard to tell if this tradeoff is worthwhile over a safe race that we currently have without having any data.

3. Like I mentioned earlier, in the ordinary case, the `IFileProvider`

[2017-01-04 00:22] pkellner commented on #5643
Thanks @pranavkm   I feel like now we are almost on the same page.  A single lock would be terrific.  I would not even suggest considering that.  The only solution that I can think of is a thread safe collection of static lock objects, one per image.  (With an option to disable on the parameter list).

The reason I think this is an important fix is that you can not predict edge cases well of the u

[2017-01-04 00:23] pkellner commented on #5643
Oops, meant horrific, not terrific.

[2017-01-04 04:46] jaseonline commented on #4200
@pranavkm Wow, sorry for the delayed response. I believe I was.

[2017-01-04 08:16] rneeft opened #5655 "Wrong name and id in input after upgrade to ASP Core 1.1.0"
Hi all,
I’ve upgraded our ASP Core 1.0.1 solution to ASP Core 1.1. We hit an issue with one of our pages after the upgrade. We have the following code in razor:
[code]
This code result in 1.0.1 into the following HTML:
[code]
This worked great until we upgraded to ASP Core 1.1.0. The razor code above now results into the following HTML:
[code]
Please pay attention to the ‘name’ and ‘id’ properties

[2017-01-04 10:35] frankabbruzzese commented on #5607
@nathan-alden , in the general case you cant avoid magic strings usage in the Authorize attribute. True, if you have just one Claim per attribute with a primitive type value you can avoid string, but what if you need and/or combination of claims (which is quite common)?  Attributes do not allow complex structures so either you put the whole and/or expression in a string or you use something like "

[2017-01-04 11:12] frankabbruzzese commented on #5655
@rneeft ,
It works for me!
Probably a third party library (ie Syncfusion) adds some more `input` TagHelper that provides a different naming strategy. This may depend on the third party library being not compatible with 1.1.

In order to be sure open the _ViewImports.cshtml and remove third parties tag helpers dlls.

[2017-01-04 14:02] nathan-alden commented on #5607
My original post addressed that. My attribute's constructor was declared like this:
[code]
This handled authorization rules for most of my endpoints. For anything more custom than that, I had another constructor that takes a `Type` implementing a specific interface. The interface would be passed the set of claims and allowed to do whatever checks it needed.

[2017-01-04 14:26] tommed commented on #4686
For info, if you see this in an upgraded csproj file, you'll need to add the following manually to your csproj file:

[code]

[2017-01-04 18:03] frankabbruzzese commented on #5607
@nathan-alden ,
`public AuthorizationAttribute(Operator @operator, params Permission[] permissions)` is smart, but you cant specify claims values either, just claims names. For sure, it is better than standard string based roles but doesnt add expressive power to it, just a better implementation.  It doesnt go in the direction of declarative rules based on native user properies (represented by cla

[2017-01-04 19:49] Eilon commented on #5655
@dougbu any idea on this? Could it be the 3rd party lib?

[2017-01-04 19:57] kichalla commented on #565
Sure

Just thinking out loud. To a certain point probably this feature can already work i.e. to use the CorsMiddleware in front of MVC, so for any pre-flight request either if the policy succeeds/fails, a 204 response is sent back to the client. Yeah, its currently 204 but it could be changed to return a 200 as a fix.
MVC's Cors implementation is tied to filters which is in turn tied to resources,

[2017-01-04 19:58] dougbu commented on #5655
I also cannot reproduce this behaviour with 1.1.0 bits. Suspect Microsoft.AspNetCore.Mvc.Versioning is causing oddities; it requires MVC 1.0.0.

However, I'll file a separate Task in this repo about ensuring our functional tests cover `IList<T>` properties. We currently only confirm handling of top-level lists.

[2017-01-04 20:02] dougbu opened #5656 "Test HTML generation for `IList<T>` properties, not just at top level"
Tests such as `HtmlGenerationTest.HtmlGenerationWebSite_GeneratesExpectedResults()` cover HTML generation for enumerable and list top-level models. However, we lack end-to-end testing of enumerable or list _properties_. Add those.

See #5655 for an example CSHTML snippet.

[2017-01-04 20:16] dougbu commented on #5655
@rneeft closing because @frankabbruzzese and I cannot reproduce the issue. Please reopen if you have a repro that does not involve 3rd party dependencies (which might be doing weird stuff).

[2017-01-04 22:09] Petermarcu opened #5657 "[IgnoreAntiforgeryToken] not working with .net core 1.1.0. It is working with .net core 1.0."
Moving this issue here... https://github.com/dotnet/core/issues/403

[2017-01-04 22:10] Petermarcu commented on #5657
@chintan3100

[2017-01-04 22:11] Petermarcu commented on #5657
To reproduce issue apply attribute [ValidateAntiForgeryToken] on class level and use [IgnoreAntiforgeryToken] on some of method

[2017-01-04 22:56] frankabbruzzese commented on #5655
@dougbu ,

1. In my test the property path was analogous to the one of @rneeft
2.  I think Microsoft.AspNetCore.Mvc": "1.0.1"  because @rneeft switched between 1.1 and and 1.0.1 in order to proove that the wrong behavior comes from this dll.

[2017-01-05 01:45] #5625 closed

[2017-01-05 10:55] joosthaneveer commented on #5655
@dougbu

[I've build an example solution that can reproduce this behavior.](https://github.com/joosthaneveer/Repro-AspMvc-Issue5655)

When the package "Microsoft.AspNetCore.Mvc": "1.1.0" is present in project.json the output code will look like this:

[code]

When you change the package version back in the project.json: "Microsoft.AspNetCore.Mvc": "1.0.1" the output code will look like this:

[cod

[2017-01-05 11:19] davidfowl commented on #4686
You won't by RTM, those will be automatic

[2017-01-05 12:19] frankabbruzzese commented on #5655
@joosthaneveer , @rneeft ,
I can confirm the issue.
However, project.json doesnt appear well configure. For instance you have netcoreapp1.0 instead of netcoreapp1.0. I fixed those imprecisions, but the issues persists. Something wrong is happening with Nuget packages that probably pick up some wrong dll version of some stuff.

I advice starting an 1.1 project from scratch using VS scaffolder, and

[2017-01-05 14:49] KeithHenry commented on #4311
I appreciate the case for the no control flow exceptions, but what's supposed to replace it?

Suppose I have an action on an API

[code]

Ok, so I'm returning an 204 OK HTTP status, which would be fine if this were a POST and I just need to communicate success with no body.

However, shouldn't this HTTP GET action return a 404 not found? It's not successful.

Now I can switch the return type from

[2017-01-05 15:29] LiangZugeng opened #5659 "TryUpdateModelAsync() doesn't work for ASP.NET Core MVC Web API"
I'm creating a simple mvc web api demo as follows.

[code]

The HTTP request to test the method is:

[code]

The problem is that TryUpdateModelAsync doesn't work, no properties in stu object got updated with corresponding properties from student object (the incoming parameter).

I wonder:

1. If TryUpdateModelAsync can be used in MVC Web API?
2. I really don't want to write boring code like the fo

[2017-01-05 18:24] Eilon commented on #5659
The `[FromBody]` attribute uses *formatters* to deserialize the request body into an object (e.g. using JSON or XML).

On the other hand, model binding, which includes the `TryUpdateModel` API, uses value providers to get data from the form body (if any), query string, route data, or some other places.

There are a few ways to go here:

1. You could certainly write the "boring" code. Or you could

[2017-01-05 18:24] #5659 closed

[2017-01-05 19:13] dougbu commented on #5655
Reopening while I double-check my repro.

[2017-01-05 22:50] kichalla commented on #565
@jgauffin We discussed about this in our team and came up with the following solution:

Register the Cors middleware _after_ the MVC middleware. Some info:

- Any request which MVC cannot handle (example: `/foo/bar` for which no controller named foo exists) passes through it to the next middleware in the pipeline, which in this case would be the Cors middleware which on seeing the preflight reques

[2017-01-05 23:59] dougbu commented on #5655
:ok: I've successfully reproduced the bug and debugged enough to see where everything heads South. Next steps are to see if my current repro (a subset of @joosthaneveer's application) works with MVC 1.0.1 and then 1.2.0.

[2017-01-06 00:23] sebastienros opened #5660 "Create a helper to retrieve the FullPath of the request"
Right now it's done by doing

[code]

This is used in cases when you want to create a `returnUrl` parameter. The solution is not obvious and there are no samples making use of it.

It might also be an extension on HttpRequest.

Sample usage: https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L348

[2017-01-06 00:52] dougbu commented on #5655
Workaround: Use `asp-for="ContactPersons[0].Name"` instead of `asp-for="ContactPersons.FirstOrDefault().Name"` when using 1.1.0 (well, that'll work everywhere). Same in the `<label>` for `PhoneNumber`.

[2017-01-06 01:34] kichalla opened #5661 "MediaType's IsSubsetOf does not work as expected"
[code]
1. The above action returns False
2. Where as mt2.IsSubsetOf(mt1) returns True. This is incorrect, right?

Old Web API behavior is the same as 1. here:
https://github.com/aspnet/AspNetWebStack/blob/29ded53ad9d8beb5e867150f51a201085aa46e93/test/System.Net.Http.Formatting.Test/Formatting/MediaTypeHeaderValueExtensionsTests.cs#L123

I looked at the current tests and the behavior is as 2.
https

[2017-01-06 03:33] LiangZugeng commented on #5659
Thanks for the thorough suggestions, I am gonna go with the 3rd option.

One of big benefits of open source project is that we can directly communicate with the Dev teams, skipping the first line of support who seems not touch the core of the product. I really liked this way of interaction and support model. Thank you again.

[2017-01-06 04:19] dougbu commented on #5655
Clearing label and assignment for triage. FYI I have the outline of a fix but no test additions.

This looks like a candidate for 1.1.1 given workaround could be far from the broken element(s).

[2017-01-06 04:48] Eilon commented on #5659
Thanks for your kind comments!

[2017-01-06 04:55] Eilon commented on #4311
My suggestion would be to have the action method return `IActionResult` (or the async variation).

The reason that both `IActionResult` and `object` are supported is that they each suit different purposes and different styles. For some of the simplest cases, it's nice to use `object`, but it isn't powerful at all. For full control, there's `IActionResult`, which follows the well-known "command pat

[2017-01-06 05:46] Eilon commented on #5660
I believe that @Tratcher has some strong thoughts about why this doesn't exist. We do have a `GetDisplayUrl()` extension method here: https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http.Extensions/UriHelper.cs#L177

But, as the name and docs clearly state, it is not reliable.

Unfortunately, I do not recall *why* it isn't reliable,

[2017-01-06 06:24] Tratcher commented on #5660
See UriHelper.BuildRelative: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Extensions/UriHelper.cs#L27

In this context we don't have a FullPath property because nobody can agree what they want in it (e.g. you included the Query in your example).  The other reason we don't do this is that when generating something like the return url it usually does not exactly

[2017-01-06 06:39] dougbu commented on #5661
Your test shows `IsSubsetOf()` is working correctly for both (1) and (2). `IsSubsetOf()` is _not_ commutative.

Old Web.API had / has a few bugs in this area.

[2017-01-06 08:42] KeithHenry commented on #4311
Cheers for the response, I get that `IActionResult` is more powerful - this isn't a _power_ action though, it's a trivial HTTP GET - it's extant in even a single line action...

[code]

If the answer really is to just use `IActionResult` then the problem is that it isn't possible to create a simple explicitly typed controller - you're _always_ going to need `IActionResult` on GET actions (see my f

[2017-01-06 11:31] frankabbruzzese commented on #5655
@dougbu ,
I removed all code (but the form) outside fhe `for` but I missed those labels, because I kept the whole table.  Anyway difficult do imagine those labels might have connections with the wrong name problem. How an exception thrown there(because unable to find the label target) might cause a so strange effect? Somehow connected to Razor TagHelper-Caching ?

[2017-01-06 12:05] andrasg opened #5662 "generic http 400 Bad Request when illegal characters in request headers - would need more detail in error"
Calling an API with an illegal character (non-ASCII, like `ő`) in a request header's value will result in a http 400 result and no exception on MVC side. The result does not contain any hints on what might be wrong or any callstack that could help diagnostics.
It would be great if there would be some more descriptive error (or even exception). I am using Application Insigths as well and this issue

[2017-01-06 15:59] dbol55 opened #5663 "Understandable and easy routing in core?"
Few things has been so discussed and annoying such as routing... does mvc core support an easy, understandable and upfront stable and static routing such as below, without use of extra overgead such as areas or a lots of attributes:

**MODELS/Order/Order.cs
CONTROLLERS/Order/OrderController.cs
VIEWS/Order/Order.cshtml**

And ofcourse could be overriden by attributes at will.

[2017-01-06 17:44] Eilon commented on #5663
Hi @dbol55 , can you provide more info about which URLs you want to map to which actions?

There are two built-in "very static" ways of using routing:

1. Using attribute routes. This means putting attributes on various controller actions, so it's not "up front".
2. Using explicit conventional routes that map to specific controller actions:
[code]

Note that the URLs themselves in the "template" p

[2017-01-06 17:46] Eilon commented on #5662
@Tratcher is this happening at some lower layer of the system?

I'm not sure there would ever be an exception for this because it is illegal for the client to send this request, so a 4xx level error (without an exception) is correct.

But perhaps there are some logs written out using Microsoft.Extensions.Logging that you could observe.

[2017-01-06 18:06] Tratcher commented on #5662
WebListener or Kestrel? If it's WebListener then it's Http.Sys rejecting the request before ASP.NET even receives it. If it's Kestrel then check with @cesarbs, but yes expect requests with non-ascii headers to be rejected.

[2017-01-06 18:16] Eilon commented on #5661
Right, the current behavior appears to be correct. Discussed in person with everyone.

[2017-01-06 18:16] #5661 closed

[2017-01-06 18:56] dougbu commented on #5655
@frankabbruzzese there's no `Exception` in this case. The problem is the expression name (`"Name"`) is incorrectly cached for `ContactPersons.FirstOrDefault().Name`. And, the comparer used thinks `ContractPersons[i].Name` is the same expression; it doesn't expect either to be in the cache.

[2017-01-06 19:05] andrasg commented on #5662
I have experienced it in Kestrel. I was able to follow the request in my middlewares, and then even in my filters but then it disappeared (without an exception or anything on the output) before hitting the MVC action.
I am not expecting the request to be expected, I am merely arguing for a better error message. It took me several hours to find out what was wrong. The message I was getting only had

[2017-01-06 19:36] Tratcher commented on #5662
Which header was it? The checks we're talking about are in the server and should have prevented the request from reaching middleware. However, some of these checks may be new in Kestrel 1.1.

[2017-01-06 19:40] andrasg commented on #5662
It was a custom header called X-Application-Sys-UserId. Using 1.1 already.

[2017-01-06 20:02] frankabbruzzese commented on #5655
@dougbu ,
O yes, right! Label are shown! This means, target property is located by label, but since `FirstOrDefault()` is interpreted as a function call instead of an access operator string expression is computed as "Name" (by removing everything before the function), so sincestring  expressions are cached with methadata, also all other occurrences of the same property are rendered with wrong name

[2017-01-06 20:05] Tratcher commented on #5662
@cesarbs can you repro this quickly?

[2017-01-06 21:26] madelson opened #5666 "Allow AsyncLocal context to flow through the entire request pipeline"
I'm just getting started with porting some existing Mvc5 apps to ASP.NET Core.

We like to use AsyncLocal (previously logical call context) as a way to flow contextual information throughout a request and any background/parallely-executing tasks it might spawn (e. g. adding contextual data for logging or profiling).

I tried setting the value of my AsyncLocal in an IAsyncAuthorizationFilter, but i

[2017-01-06 23:30] skimedic opened #5667 "Different rendering between input tag help and Razor helper for nullable bool"
I searched, but I didn't see anything about this.  If it's already been logged and/or handled, I apologize in advance.  The `<input asp-for="NullableBool"></input>` tag helper renders:

[code]

and the `Html.InputFor(x=>x.NullableBool)` razor helper renders:

[code]

Is this by design? It's a completely different user experience.

As a side note, thought not as drastic a change, the non-nullable b

[2017-01-07 01:22] rynowak commented on #5666
Async local does flow, but authorization filters are a 'leaf.

Image it like this: (warning, bad ASCII art)

[code]

That's basically what the 'happy path' looks like in terms of the async call context. For various legacy reasons the pipeline is not a set of simple decorators.

If you set something in the async call context in a resource filter it will be available for all of the subsequent proces

[2017-01-07 01:29] rynowak commented on #4311
`Json()` is there for legacy reasons. Prefer `Ok()` or one of the other status-code like methods that take an object.

[2017-01-07 01:34] rynowak commented on #5660
This is not related to MVC.

[2017-01-07 10:49] dbol55 commented on #5663
I would like to have urls such as:
www.site.com/
www.site.com**/A/**
www.site.com**/A/B/**

That automatically maps to:
Controllers/        => Views/
Controllers/a/     => Views**/A/**
Controllers/a/b/  => Views**/A/B/**

This allows me to get a understandable structure without a ton of extra routing code.
And where you can override mapping with attributes if needed.

[2017-01-07 13:18] mastermehdi opened #5668 "Passing the array of bytes as a view content instead of file path of view for creating a view from a database!"
Passing the array of bytes as a view content instead of file path of view for creating a view from a database!

[2017-01-07 14:44] tkrotoff commented on #5507
I think this can be closed now

[2017-01-07 14:44] #5507 closed

[2017-01-08 00:29] m2web opened #5669 "Error MSB4025 when deploying ASP.Net MVC .Net Core app"
I am trying to deploy an ASP.Net MVC .Net Core app that was created on an Ubuntu 16.04 system in Visual Studio Code. When attempting to push local git deployment to my Azure app to its Azure App Service.
In the project’s root directory, I ran the following:
`git push -u azure master`
and got the following:

I got an almost identical error message when deploying from the identical repo on Bitbucket

[2017-01-08 17:12] witoong623 opened #5670 "Model binding can't properly bind json string that have datetime attribute"
I have json string from javascript JSON.stringify like this
[code]
so I got this json string
`[{"Id":"123456","attend":"2017-01-08T13:10:00.000Z"},{"Id":"123456","attend":"2017-01-08T13:10:00.000Z"}]`

but if I put this to POST request body, set content type to `application/json`, then send it via Postman.
I will always get `attend` Datetime with value `{1/1/0544 0:00:00}` regardless of what datet

[2017-01-08 17:27] #5670 closed

[2017-01-08 19:07] pranavkm commented on #5669
You need to specify a sdk version (most likely `1.0.0-preview2-1-003177`) in your global.json. In the absence of one, the highest version available on the machine gets used. Azure App Services likely has the msbuild supporting one installed which does not work with json files unless they're migrated.

[2017-01-08 22:43] m2web commented on #5669
pranavkm, thanks for the reply and help. I assume you mean the .net core SDK, correct?
A `dotnet --version` results in `1.0.0-preview2-003131`.
I added the following to the project.json:
[code]
The error is still the same.

[2017-01-09 08:47] KeithHenry commented on #4311
Yes, good point. That avoids issues with hardcoded serialisers. Doesn't change the main issue of making the trivial case more complicated or leaving you with a mix of return types.

[2017-01-09 17:09] cesarbs commented on #5662
The request is being rejected by Kestrel before the app or any middleware is executed. @andrasg could your client be making parallel requests and those are what you're seeing when debugging?

Nothing is being logged for this, even though it should. There's even a comment about it @ https://github.com/aspnet/KestrelHttpServer/blob/e55c62444bdd34274173b011720c03f23c4db2f5/src/Microsoft.AspNetCore.Se

[2017-01-09 17:15] cesarbs commented on #5662
Filed https://github.com/aspnet/KestrelHttpServer/issues/1295.

[2017-01-09 17:20] Eilon commented on #5662
@cesarbs should we close this bug?

[2017-01-09 17:22] Eilon commented on #5660
I chatted with @sebastienros and I think that if we added two extension methods to `HttpRequest` it could be useful, and also clear what they do (and don't do): `GetRequestPath()` and `GetRequestPathAndQuery()`. That way they show up in Intellisense right next to each other, and there should be no confusion about what they do.

@sebastienros can you log a new bug in HttpAbstractions for this?

[2017-01-09 17:23] andrasg commented on #5662
@cesarbs, I am pretty sure I was launching one single request and tracking it through my middlewares. Will try to put together some test project to verify.

[2017-01-09 17:24] Eilon commented on #5663
Ah, it sounds like maybe you want the upcoming Razor Pages feature, where a request is routed directly to a CSHTML page, is that right? If so, we're working on that right now.

The feature is being tracked here: https://github.com/aspnet/Mvc/issues/494
And its naming is being tracked here: https://github.com/aspnet/Mvc/issues/5208

[2017-01-09 17:28] pranavkm commented on #5669
@m2web - the sdk version needs to be added to the `global.json`. See https://github.com/aspnet/Mvc/blob/dev/global.json for reference.

[2017-01-09 18:05] Eilon commented on #5668
Though there are no plans to have this built-in, you can do this today with a custom file provider.

This involves two steps:

1. Write a custom file provider. You can refer to https://github.com/aspnet/FileSystem/tree/dev/src/Microsoft.Extensions.FileProviders.Embedded to see how it's done.
2. Register the provider with MVC's Razor View Engine by adding it to `RazorViewEngineOptions.FileProviders

[2017-01-09 18:05] #5668 closed

[2017-01-09 18:07] Eilon commented on #5669
Right, it looks like it's trying to use MSBuild to build a project.json-based project, which of course won't work. Specifying the SDK version in global.json should fix this.

cc @DamianEdwards @davidebbo for FYI information as we recently discussed this.

[2017-01-09 18:12] davidebbo commented on #5669
Yes, generally, it's important for all projects to have a global.json. Without this, you're basically getting a 'random' SDK, and even if it works today you might get broken when a newer incompatible SDK appears.

[2017-01-09 18:30] cesarbs commented on #5662
@Eilon Not yet, I want to wait for @andrasg's test results.

[2017-01-09 18:30] #5669 closed

[2017-01-09 19:03] m2web commented on #5669
pranavkm, Doh! I really did read your message but must have had the project.json file on the brain. After adding the global.json file with the SDK value did the trick.

[2017-01-09 19:14] NTaylorMullen commented on #5667
/cc @dougbu

[2017-01-09 19:26] andrasg commented on #5662
I was not able to repro in a new sample project. Must have been dreaming... Never mind, closing the issue, thanks for the help!

[2017-01-09 19:26] #5662 closed

[2017-01-09 19:29] Eilon commented on #5657
@kichalla can you investigate? If you can repro, please share thoughts on whether this is patch-worthy.

cc @rynowak FYI.

[2017-01-09 20:01] andrasg commented on #5662
Tried it quickly with .net fw 452, got this on debug out:
[code]
When switching to net461, there was no error output at all.

[2017-01-09 20:02] cesarbs commented on #5662
@andrasg Interesting, thanks for pointing that out. I was working with the assumption that the issue afected both frameworks. Will take a close look on net452.

[2017-01-09 20:03] andrasg commented on #5662
I didn't manage to repro my original issue (request seen in middleware but not in MVC) though, so, that's at least consistent :)

[2017-01-09 20:10] cesarbs commented on #5662
@andrasg Check your Kestrel package versions when switching frameworks. I think when you switch to `net452`, you're reverting to an older version of Kestrel.

[2017-01-09 20:13] dougbu commented on #5667
Bottom line is HTML and tag helpers cover some overlapping features but are not identical. In particular, no tag helpers support the extensibility (templates) or recursion features of the `Html.Display[For]()` and `Html.Editor[For]()` HTML helpers.

Yes, this is by design. The `<input>` tag helper _never_ results in a different element (though it can generate an additional `<input>` as shown in yo

[2017-01-09 20:14] dougbu commented on #5667
Please reopen if I missed something you asked or you believe there's an issue in here somewhere.

[2017-01-09 20:14] #5667 closed

[2017-01-09 20:41] kichalla commented on #5657
@chintan3100 Since there is no specific repro here, I am assuming you are seeing antiforgery validations happening, for example, on GET requests? `IgnoreAntiforgeryToken` works in context of `AutoValidateAntiforgeryTokenAttribute`. This 'auto' validate attribute, by default, ignores antiforgery validation for GET, HEAD, TRACE and OPTIONS requests. Try again with this new attribute and let us know

[2017-01-09 20:54] kichalla commented on #5657
I also it working in 1.0.0..investigating..

[2017-01-09 22:22] kichalla commented on #5657
I was able to repro it and this issue was fixed in the 'dev' branch few weeks back: https://github.com/aspnet/Mvc/commit/b2340d327ea3ba8e499820a1db60164c305c8107

[2017-01-09 22:50] Eilon opened #5671 "Alternative for Environment TagHeper domain"
_From @vkichline on October 8, 2015 22:32_

I see this pattern in the Web Application template's _ValidationScriptsPartial.cshtml:

[code]

This pattern above seems brittle; if I add a new environment setting, I have a lot of searching and modification to do.

I wish I had something like:

[code]

…or:

[code]

_Copied from original issue: aspnet/Razor#567_

[2017-01-09 22:50] Eilon commented on #5671
The `<else>` thing can't be done because it's not valid syntax.

But something like this can certainly be done:

[code]

[2017-01-09 22:50] Eilon commented on #5671
(Not saying it's worth it or that it's a good idea, but it's implementable.)

[2017-01-09 22:50] Eilon commented on #5671
Another alternative to consider would be something like:

[code]

Or at least something like that.

[2017-01-09 23:46] kichalla commented on #565
Closing this issue. Let us know if the above workaround does not work for you.

[2017-01-09 23:46] #565 closed

[2017-01-10 03:33] skimedic commented on #5667
Thank you for taking the time to explain all of that.  I guess where I am hung up (and not sure how to document in my book) is where the bool? renders a text box when using tag helpers and not a check box.  Won't that wreck havoc on model binding?  If the user enters "yes", or "foo", or anything other than 1/0 or true/false, in the text box instead of checking a check box, then model binding will

[2017-01-10 05:24] jgauffin commented on #565
Thanks for taking time to discuss this.

Regarding 204, it's fine since no body is required.

Got  a question regarding the last option in the table (**Failure	200 OK not having expected Cors headers***). Shouldn't that return a 403 if the CORS middleware policy have not allowed custom headers?

[2017-01-10 06:52] dougbu commented on #5667
It's by design.

Imagine for example what it would mean for a `bool?` property to result in a checkbox `<input>`. How could a user choose `null` when they submit a form?

[2017-01-10 09:49] adnan-kamili opened #5672 "ModelState BadRequest inconsistent behaviour"
I have a simple model:

[code]

Inside controller:

[code]

Now, for following three incorrect sample inputs I get following responses:

Sample #1:

[code]
Response:

[code]
Sample #2:

[code]
Response:

[code]
Sample #3: This one seems like a bug. An empty key appears (instead of int out of range error)
[code]
Response:

[code]

[2017-01-10 12:55] kichalla commented on #5657
This bug was introduced as part of a fix in 1.0.2 release:
Commit: https://github.com/aspnet/Mvc/commit/f02f55c33d09206e75547061d526e1e99a3825c8
Bug for which the above fix was made: Antiforgery filter is in wrong order relative to Authorize (#5483)

[2017-01-10 15:18] domaindrivendev opened #5673 "ApiExplorer expanding IFormFile into multiple ParameterDescriptions"
This behavior was added by #2502. As far as I can tell it expands complex types into multiple ParameterDescriptions unless the parameter has a BindingSource of "body". While the expansion is really convenient for documenting complex types with a BindingSource of "query" or "form", it makes it very tricky for ApiExplorer consumers (e.g. Swashbuckle.AspNetCore) to document parameters of type IFormFi

[2017-01-10 15:45] rynowak commented on #5673
This makes sense. We should look at the swagger/API Explorer results for t all of the types we provide special model binding support for "out of the box" and make sure it's doing something appropriate.

[2017-01-10 15:54] rynowak commented on #5657
@kichalla - is this issue just that the order is wrong and we need to port that fix?

[2017-01-10 17:15] kichalla commented on #5657
yes, right.

[2017-01-10 19:47] Eilon commented on #5657
Ok, we have antiforgery triage on Thursday, so let's discuss this then.

[2017-01-11 01:32] Eilon commented on #5657
Oh hmm is this actually a dup of https://github.com/aspnet/Mvc/issues/5552? If so, looks like we already intended that to go into 1.1.1, but the bug was closed prematurely because it was checked into 'dev' for 2.0.0...

[2017-01-11 10:09] dbol55 commented on #5663
Shure that is a step in right direction especially the routing part:

www.site.com/foo/index.cshtml        => www.site.com/foo/
www.site.com/foo/bar/index.cshtml  => www.site.com/foo/bar/

And it would be great if it could be applied to traditinal mvc view engine aswell.
And it maybe could be mapped at controller namespace level something like:

application.controllers.foo.bar.*
would look for a v

[2017-01-11 13:41] joacar commented on #5642
I would also be great to have an `OptionalAttribute` that would apply to types in collections. Perhaps I'm doing something wrong from start, but my use case is that I have a `Customer` object that has list of `Contact`'s. To utilize `EditorFor` I've to initialize the list with an empty `Contact`. This causes the `ModelState` to be invalid if the required properties of `Contact` hasn't been supplie

[2017-01-11 17:21] Eilon commented on #5642
@joacar can you log this in a new issue so we can discuss it separately?

[2017-01-11 17:21] Eilon commented on #5642
(Actually, probably two new issues because it seems like you have two separate topics. Thanks!)

[2017-01-11 17:47] dougbu commented on #5642
FYI a `[ValidateSometimes]` attribute that implements an interface like
[code]
is an alternative to the approach I've taken so far on this bug for dynamic validation decisions. The more I think about it, the more I like it. Would reduce the number of classes users need to write and would avoid DI replacements. Even better, would be possible for `[ValidateNever]` to use the same extensibility point

[2017-01-11 21:50] nathannau opened #5675 "NullException in Microsoft.AspNetCore.Mvc.Razor.Compilation.ViewsFeatureProvider.GetViewInfoContainerType"
When you load assembly from stream, Assembly.IsDynamic = false and Assembly.Location is empty (not null) so Path.GetDirectoryName(assemblyPart.Assembly.Location) return null...

So :
in file Mvc/src/Microsoft.AspNetCore.Mvc.Razor/Compilation/ViewsFeatureProvider.cs line 61
`if (!assemblyPart.Assembly.IsDynamic && assemblyPart.Assembly.Location != null)`
must be :
`if (!assemblyPart.Assembly.IsDyna

[2017-01-11 22:30] Eilon commented on #5672
This appears to just be how Json.NET is reporting the invalid JSON syntax to MVC's formatter.

In general it can be difficult to predict how invalid syntax is interpreted because it can be ambiguous. I'm guessing that the extra `"` at the end of the value of `"cost"` is causing the JSON parser to think it's the start of another key (which has no name).

@JamesNK any thoughts on this?

[2017-01-11 22:33] pranavkm commented on #5675
Would you like to send a PR for this? Here's the PR for the earlier change that added the `IsDynamic` check: https://github.com/aspnet/Mvc/commit/24d5dfb5527d46da097b56b7cfc3b28ec8f8ad3e in case you'd like to use a reference.

[2017-01-11 22:35] Eilon commented on #5663
Hi @dbol55 there are no plans to implement this exact feature. However, within MVC there are some features and extensibility points that can help you build a system that works this way.

First, check out MVC's "areas" feature, which makes it easy to have controllers "sort of" be in a namespace.

Second, we have a sample that shows how to use the namespace as part of a route, which you can check ou

[2017-01-11 22:35] #5663 closed

[2017-01-11 22:41] Eilon commented on #5673
@jbagga let's make sure we understand the scope of the problem, e.g. which types are problematic, how to handle them, etc.

[2017-01-11 22:42] Eilon commented on #5675
@pranavkm feel free to fix or wait for a PR. And add a test, if possible!

[2017-01-11 22:47] Eilon commented on #5671
Another option to consider:

Another alternative to consider would be something like:

[code]

And you can't set both `names` and `excludeNames`.

@DamianEdwards thoughts on this? I think this could clean up the default templates. And, of course, Hubbup.

[2017-01-11 22:51] DamianEdwards commented on #5671
maybe:
[code]

And keep support for names as it is now.

[2017-01-11 22:57] Eilon commented on #5637
@axelheer this seems reasonable. If you send a PR we can certainly review it for consideration in 2.0.0.

[2017-01-11 23:03] Eilon commented on #5631
@Tratcher would it make sense for MVC's `FormValueProviderFactory` to have a new API on `FormFeature` (or related class) to have some kind of `TryRead(...)` so that it can detect an invalid multipart form (or other invalid request) and return a 400? MVC could certainly just try to catch exceptions and return a 400, but that is somewhat dubious.

[2017-01-11 23:04] Eilon commented on #5671
Yeah I dig this. @danroth27 totally digs this too.

[2017-01-11 23:04] Eilon commented on #5671
Let's go with @DamianEdwards 's suggestion in https://github.com/aspnet/Mvc/issues/5671#issuecomment-272021274.

[2017-01-11 23:12] Tratcher commented on #5631
That's pretty messy, we'd have to duplicate the entire parsing call stack with Try* methods, and you may still get IOExceptions from the underlying Stream. Exceptions are hard to avoid here and somebody has to catch them.

[2017-01-11 23:14] Eilon commented on #5631
Ah, that's unfortunate. We'll have to see if it's safe to catch exceptions here - that is, I want to make sure we don't inadvertently hide bugs that cause other "random" exceptions, and also that we don't inadvertently catch exceptions from user code.

@Tratcher any idea how safe it is to just `try catch` around the whole call? Does it throw only for "bad request" scenarios?

[2017-01-11 23:30] JamesNK commented on #5672
Json.NET is serializing what you give it. If you give it a dictionary with an empty string key then that is what it will serialize.

[2017-01-11 23:39] rynowak commented on #5631
Typically we'd want to do something make sure the parser is going to throw a format exception, and then only catch those.

[2017-01-12 01:10] Eilon commented on #5631
Right, the question is whether the parser can make a guarantee around that... not sure how "defensively" it's written.

[2017-01-12 01:10] Eilon commented on #5672
@JamesNK this is about deserialization error behavior for invalid JSON.

[2017-01-12 01:11] Eilon commented on #5672
E.g. this JSON:

[code]

Is clearly invalid for at least three reasons:

1. The number is presumably too long.
2. There's an extra quote at the end of the long `1000000000"` number
3. There's an erroneous trailing comma at the end of the `"cost"` field

[2017-01-12 02:58] domaindrivendev commented on #5673
From Swashbuckle's perspective - it's just the two "special" types above that are causing problems.

For me, ApiExplorer and its abstractions are closer to the C# / MVC layer than the HTTP layer. So one could argue that it shouldn't expand out the properties at all, instead putting that responsibility on the tools that do operate purely at the HTTP layer of abstraction e.g. Swashbuckle. Not saying

[2017-01-12 03:28] Tratcher commented on #5631
It will definitely throw an IOException :-)
It also throws InvalidDataException and Cancellation exceptions

[2017-01-12 04:36] adnan-kamili commented on #5672
@Eilon
The issue replicates even if there is no quote or comma at the end:

Sample #4: This one seems like a bug. An empty key appears (instead of int out of range error)

[code]
Response:

[code]

[2017-01-12 09:30] joacar opened #5678 "[Question] Optional validation of items in collection"
This is a rather broad question that might be the result of me just doing it wrong :) Anyhow

## The case
This is the model
[code]
I have a UI where the user can add contacts dynamically (if they wish). So either no contacts, one or many valid contacts (name and either of email or phone)

## The problem
I initate the collection with an empty object that is used to generate the editor template (`@H

[2017-01-12 09:38] joacar opened #5679 "[Question] ModelBinding and consecutive integers"
Hi,

I generate some models dynamically on the client-side and sends a request the a controller to "inflate" the editor template which is then appended the the DOM.

[code]
After appending the resulted template (or one has been deleted) I need to ensure that all models are in consecutive order with respect to name and id html attributes.

Is there any way to manipulate the model binding to accept

[2017-01-12 09:40] joacar commented on #5642
@dougbu Could you point me to some implementation of using that technique? Sounds promising

[2017-01-12 11:38] frankabbruzzese commented on #5678
You are on a wrong path! You dont need a fake object to create an editor tempate for a new item to add in a collection. There are several way to face the problems, but basically you use a standard partial view with a null model. Then to fix all input field names you set VieData.TemplateInfo.HtmlPrefix="Contacts[N+1]", where N is the last index used in the collection. Then you have several options

[2017-01-12 11:40] frankabbruzzese commented on #5679
Model binder is already able to handle not consecutive indexes. See [http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/](http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/)

[2017-01-12 11:52] joacar commented on #5679
Thanks @frankabbruzzese I will look into that!

[2017-01-12 11:56] joacar commented on #5678
Probably I've been doing it wrong, but that was my first approach.

Example
[code]

What I'm a doing wrong?

Thanks for the help

[2017-01-12 12:19] frankabbruzzese commented on #5678
1) you must render all already inserted contacts with a foron Contacts:
[code]
The you render a partial for addin a new contact.
You cant use EditorFor but you must call a partial since you need to mainipulate the partial view HtmlPrefix.
That is you create a ViewDataDictionary<Contact> set its HtmlPrefix as explained in my previous post, and then pass it to @Partial. This way the partial will rec

[2017-01-12 16:07] rynowak commented on #5673
For cancellation token we already have a way to say this parameter is "not user input". We should double check the other types that aren't use input but can appear in a parameter list like `IFormCollection`.

For `IFormFile` and other variations there are some significant semantics around these, specifically how we match names in the form to the parameter name. We don't have a `BindingSource` that

[2017-01-12 17:00] dougbu commented on #5642
@joacar see #5676. Note that PR is just in its first iteration.

[2017-01-12 17:47] breyed opened #5680 "Obtain strongly typed header class"
How do you obtain a strongly typed header class from the namespace `System.Net.Http.Headers` from an ASP.NET Core controller? In a controller derived from `Controller`, `Request.Headers` is available, but it just returns `IHeaderDictionary`. There is also an extension method `HeaderDictionaryTypeExtensions.GetTypedHeaders`, but it returns `RequestHeaders`, which has only certain headers. The class

[2017-01-12 17:49] breyed commented on #5680
This has been a [stumper on StackOverflow](http://stackoverflow.com/q/39851481/145173) since October. Is this possible? Is it perhaps something that should be improved in the project?

[2017-01-12 21:42] shairozan opened #5681 "[Question] Distributed CSRF Tokens"
So we've deployed a dotnet core application in a docker swarm load balanced between an application load balancer. What we noticed is that if we had more than one container of the application running, sporadically posts would fail with logs indicating that a csrf token doesn't exist in the keychain.

Is there a way to natively separate or distribute the csrf tokens such that they're all sharing the

[2017-01-12 22:16] gdoron opened #5682 "Are Partial views results cached in memory? can it be controlled?"
Hi,

We many (but not all) times edit a partial view but changes won't take affect until restarting the application (Ctrl+Shift+B in VS or Restart in Azure).
Is it by design? how can we disable / control it?
It's really annoying.

I experienced the same thing only once in 1.0, and now I'm working on a different 1.1 project and it happens a lot more often.

[2017-01-12 22:21] Eilon commented on #5681
You need to make sure you set the application discriminator (so that it isn't random) as well make sure the keys are all stored in the same location. This is all done via the Data Protection feature.

You can check out the docs here: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview

[2017-01-12 22:21] #5681 closed

[2017-01-12 22:29] Eilon commented on #4953
Hi all, we have a full sample of using AJAX + antiforgery w/ MVC + Identity for login. You can see the sample here: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.AjaxAntiforgeryAuth.Web

[2017-01-12 22:29] #4953 closed

[2017-01-12 22:46] pranavkm commented on #5682
@gdoron - could you check if it's a dup of https://github.com/aspnet/Mvc/issues/5574? Using the name of a partial view as opposed to a relative path would be a workaround if it's the same issue.

[2017-01-12 23:16] gdoron commented on #5682
@pranavkm That explains why we saw it only some of the times. Thanks!

I just want to understand, what is exactly that is being cached in Views, is it the compiling of the "code behind" (not sure what's the term in MVC) class of the view?

@evgrud

[2017-01-12 23:16] #5682 closed

[2017-01-12 23:26] pranavkm commented on #5682
Individual views get compiled to an assembly and we cache the assemblies rather than the generated code.

[2017-01-13 08:44] joacar commented on #5678
@frankabbruzzese Thanks for the help that lead me to a solution. I will outline it here for others that might have the same question

[code]

For some reason I've to init with an empty customer contact model in `Edit.cshtml`.

[2017-01-13 09:46] Ridikk12 opened #5683 "CodeGeneration xproj issue"
Hi,
I have problem with xproj format.
I'm trying to write some custom scaffolding tool and i use to this Microsoft.AspNet.Scaffolding assembly.
I have to get CodeLanguage from active xproj project, but Context.ActiveProject.GetCodeLanguage() always return "unsuported".
In csproj project i dont have problem.
Maybe someone have similar problem and can help me ?

[2017-01-13 12:10] govindnm opened #5684 "test"

[2017-01-13 13:43] vanillajonathan commented on #5117
This code could be extended to check the type if it is a `IFormFile`.

[code]

[2017-01-13 15:35] #5684 closed

[2017-01-13 17:49] domaindrivendev commented on #5673
@rynowak - I was hoping _BindingSource.IsFromRequest_ would be "false" for CancellationToken but that's not currently the case. Is there something else I can look at so I don't have to do the hacky prop name matching above.

As you guys think about a solution here, I just want to call out my wishlist:

- don't expand out API params for CancellationToken and IFormFile so they can be easily identifi

[2017-01-13 17:51] Eilon commented on #5117
@vanillajonathan unfortunately that would cause a circular reference in the assemblies --> the core .NET assemblies can't reference ASP.NET's type (`IFormFile`).

[2017-01-13 17:58] Eilon commented on #5680
@Tratcher thoughts on this? I'm guessing the answer is that there's no simple way...

[2017-01-13 17:59] Eilon commented on #5683
The xproj file format is going away and being replaced with csproj in VS2017.

You could try asking in the https://github.com/aspnet/Tooling/issues/ repo, but given that the file format is going away, I would instead recommend looking at how to work with csproj files.

[2017-01-13 17:59] #5683 closed

[2017-01-13 20:11] pranavkm commented on #5356
Addressed via https://github.com/aspnet/Mvc/commit/a7abdeabcd561f82ba78cf9149a8e8b7719f2b88.

[2017-01-13 20:11] #5356 closed

[2017-01-13 20:45] vanillajonathan commented on #5117
@Eilon, true but the ASP.NET MVC could ship its own `FileExtensions` class. Or some end-user can implement their version with the above code if they want to have that functionality in their project.

[2017-01-13 20:53] #5560 closed

[2017-01-13 20:54] dougbu opened #5686 "Extend `ModelMetadata` to reduce ugliness"
A couple of potential `ModelMetadata` additions came up in offline conversations about #5676:
- have `ModelMetadata` implement `IModelMetadataProvider`. This should significantly reduce the shenanigans we have around ensuring both `ModelMetadata` and its provider are available. E.g.
  - many contexts contain both `ModelMetadata` and `IModelMetadataProvider` properties.
  - `ModelBinderFactory` get

[2017-01-13 21:33] leroyd commented on #5117
Thank you Vanilla. I did the same check in my code. Like I using net451 Framework, there is no problem with `IFormFile`.
For the others... Indeed, they have to adapted with Core assemblies.

[2017-01-13 23:59] Eilon commented on #5657
Per @rynowak and @ryanbrandenburg this is indeed a dup of https://github.com/aspnet/Mvc/issues/5552, so closing.

[2017-01-13 23:59] #5657 closed

[2017-01-14 00:00] Eilon commented on #5552
Re-opening so we can take this for the 1.1.1 branch.

[2017-01-14 00:57] #4871 closed

[2017-01-14 01:54] sebastienros opened #5689 "Add methods to TagBuilder to render the tags only"
I am using a `TagBuilder` to create tags dynamically in a view. In MVC5 we could render the start and end tags independently with the same tag builder without having to render the content. If the content is part of the razor view it can't be added to the instance of the tag builder as it needs to be set with `InnerHtml`.

A solution that I'd like would be to add two methods, `RenderStartTag()` and

[2017-01-14 03:15] #5464 closed

[2017-01-14 21:20] Gonkers opened #5690 "DefaultAssemblyPartDiscoveryProvider throws KeyNtoFoundException if a library does not have runtime components"
Hello,
I realize what I'm doing isn't supported, but maybe someone can help. I am attempting to run an mvc core web app on my RaspberryPI 3 but I'm getting a KeyNotFoundException coming from the AddMvc() extension method.

For my current setup I'm using a build of dotnet core for RPi made by @ayende (https://ravendb.net/downloads). I am using VS2017 and a new mvc core app template (no changes). he

[2017-01-15 05:09] pranavkm commented on #5690
Could you attach the WeApplication1.deps.json file from the output directory of the application?

[2017-01-15 20:28] Gonkers commented on #5690
You can find the deps file here... https://github.com/Gonkers/Github-Issues/blob/master/Files/ConsoleApp1/WebApplication1/bin/Debug/PublishOutput/WebApplication1.deps.json

Thanks.

[2017-01-16 04:01] jaredcnance opened #5691 "Dasherized Routes"
I'm not sure if this should go here or in the Routing repo, but I think this is more appropriate because of the initial issue. I would like routes with dasherized names (`my-entity`) to be handle just like Proper Cased names (`MyEntity`). However, I'm having trouble getting this setup.

I basically copied and pasted from [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Co

[2017-01-16 16:19] nikonthethird commented on #5570
Would that mean that `async` getter-only properties are supported as well? Or does it have to be a method?

[code]

[2017-01-16 18:56] dougbu commented on #5642
ce53675

@joacar there's an outline / example of a `ValidateSometimesAttribute` [here](https://github.com/aspnet/Mvc/blob/ce53675b87e9d435bb3f9c686024ccf3700e7b25/test/Microsoft.AspNetCore.Mvc.IntegrationTests/ValidationIntegrationTests.cs#L1451-L1478) as well as a few examples applying `[ValidateNever]` in the same test class.

[2017-01-16 18:56] #5642 closed

[2017-01-16 21:35] joacar commented on #5642
Great, thanks. Will check it out

[2017-01-17 16:00] t0xicDen opened #5692 "Module-based application: ViewModels and Views in separate project"
### Introduction

I am trying to develope module-based architecture. I have `WebHost` application and `Modules` folder inside. I can put any module inside this folder and it will be dynamically added on startup using `mvcBuilder.AddApplicationPart(module.Assembly)`

If my module consists from one project (.dll) like `SomeModule.dll` and this module contains `ViewModels`, `Views` etc inside themsel

[2017-01-17 16:01] beho commented on #5549
Hi,

I'm getting this exact exception when trying to handle status code results with app.UseStatusCodePagesWithReExecute.

Controller action returns status code 404 which implies that first pipeline pass is processed correctly. But "re-execution" pass triggers this exception. Adding response headers in custom middleware triggered similar exception which I sidestepped by checking if header is not a

[2017-01-17 16:07] rynowak commented on #5549
@Eilon - if it's possible to hit this with status code pages we should try to repro. My guess is that this is related to https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/SaveTempDataFilter.cs#L81

[2017-01-17 16:07] rynowak commented on #5549
@eilon - we should investigate this if it's possible to hit with the reexecute middleware

My guess is that it's related to https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/SaveTempDataFilter.cs#L81

[2017-01-17 16:16] rynowak commented on #5691
Attribute routing won't call the `DefaultHandler`.

Can you describe a little more about what you're trying to accomplish? preferably with an example

[2017-01-17 16:24] jaredcnance commented on #5691
Okay, that makes sense. I would like to be able to define the route using attribute routing:
[code]

And have the controller activated for hyphenated routes.

[code]

should activate the TodoItemsController.

[2017-01-17 16:33] rynowak commented on #5691
There's nothing magic about the `[controller]` token, it just does string replacement.

I'd suggest writing a convention - you can programmatically generate or modify the strings used to build the attribute routing table. https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.CustomRoutingConvention/NameSpaceRoutingConvention.cs

[2017-01-17 16:36] jaredcnance commented on #5691
Perrfect! Thanks

[2017-01-17 16:36] #5691 closed

[2017-01-17 18:43] pranavkm commented on #5692
The 1.2.0 packages (which is what you're using) require using a newer CLI than the one you're currently using. I'd recommend either switching to our publicly released bits (version 1.1.0) if you'd prefer working with stable bits.

Could you include more of the stack trace? It's not entirely clear if it's view compilation that's throwing the exception.

[2017-01-17 19:07] #5675 closed

[2017-01-17 19:09] sebastienros commented on #5660
Duplicate of https://github.com/aspnet/HttpAbstractions/issues/755

[2017-01-17 19:09] #5660 closed

[2017-01-17 19:15] Tratcher commented on #5680
There are a few ways to do this. GetTypedHeaders is the recommended way, though it doesn't include AuthenticationHeaderValue. We excluded AuthenticationHeaderValue because it did not provide meaningful parsing beyond the normal header comma splitting GetCommaSeperatedValues. Do you actually need a AuthenticationHeaderValue instance?

If you're worried about hard coding the header names we have con

[2017-01-17 19:47] ryanbrandenburg commented on #5636
@amityagov a reminder to tell us more about your scenario by answering the questions from the people above. Otherwise we'll close this since we don't have enough information to act on.

[2017-01-17 22:12] drovani commented on #4727
Are there any good resources for learning more about doing custom model binding that utilizes an explicit constructor? I have found plenty that talk about creating a custom binding handler, but they all are too generic and simple cases that don't dig deep enough to talking about this level of customization.

[2017-01-17 22:50] rynowak commented on #4727
@drovani - here's an example someone did where they create the model from DI https://github.com/Serjster/IOCModelBinderExample/tree/ASPNETRTMVersion/src/IOCModelBinderExample/Infrastructure

If if you can be more specific about what you want to see I can try to help

[2017-01-18 09:31] ignatandrei opened #5694 "Image Tag (helper) displaying on the HtmlGenerationWebSite"
The Image Tag (helper) is not displaying the images
Steps to reproduce:
1, Open the MVC.sln solution from branch rel/1.1.1
2. Go to HtmlGenerationWebSite project, set as startup
3. Run the project - it will go to `http://locahost:<port>` . Modify to `http://locahost:<port>/HtmlGeneration_Home/image`
4. Assert all images are not seeing ( red block, red versioning)
e.g. this image will not display

[2017-01-18 09:34] t0xicDen commented on #5692
Repository with issue
[https://github.com/t0xicDen/ModuleBased](url)

[2017-01-18 09:58] DamianEdwards opened #5696 "Do something to make it easier to protect against malicious file names when processing file uploads using IFormFile"
It would be nice if MVC did something automatically to make processing file uploads with `IFormFile` safer by default. e.g. have a filter that inspects posted file name and throws if path separator chars are found.

Consider the following code which allows a malicious file name in a file upload to be saved in a different folder via path traversal:
[code]

[2017-01-18 16:28] rynowak commented on #5570
@nikonthethird - no plans to change what we consider an action as part of this work, only methods.

You could write something that adds support properties if you want to, but out of the box we'd only consider methods.

[2017-01-18 17:36] saf-itpro opened #5697 "Simple Ajax post not working in ASP.NET MVC Core 1.1"
I've created a test ASP.NET Core app following this [official ASP.NET MVC Core tutorial][1]. When I click the `Test` button in the view it makes a **Ajax** call that is supposed to post the `Edit` action. But instead, I get the error shown in the image below. I've not changed any folder structure or the controller or the action name etc. Everything is exactly the same as in tutorial above. The onl

[2017-01-18 18:05] Tragetaschen opened #5698 "Regression in 1.1 model binding for model types without default constructor"
In 1.1, the `ComplexTypeModelBinderProvider` started to check for a default constructer: d09e921. This breaks my application.

I'm using a controller that calls `TryUpdateModelAsync` with a preconstructed `IValueProvider` and model instances:
[code]
Some of the model types don't have default constructors, most notably because I need some external dependencies for `IValidatableObject`. These model

[2017-01-18 18:44] amityagov commented on #5636
It is reasonable to pass the attribute type during the localization process rather than model type.
There is no prerequisites to pass the useless model type.

I want to create IStringLocalizerFactory implementation which will use json-based dictionary to store the localization data.
Or it will use the database to store localized values.
e.g.

[code]

So i need to pass the localization key to IStri

[2017-01-18 20:03] ryanbrandenburg commented on #5636
If I'm understanding your correctly you have the same basic thoughts as #302. You would like to remove the Type overload of `IStringLocalizerFactory.Create` because you think it's too narrow and not useful to your use case. My reply to that is the same as @Eilon's was, the interface must be broad enough to accomodate many different implementations of `IStringLocalizerFactory`, but I would also lik

[2017-01-18 20:03] #5636 closed

[2017-01-18 20:19] NRKirby commented on #5697
Can you provide a link to a repo for the project you're working from?

[2017-01-18 20:29] saf-itpro commented on #5697
I found the error. You have to have the same input parameters in Ajax data attribute that you have in Controller action you are calling.. For example, if you have controller action **Edit(int id, string myParam){...}** you also need to have data attribute value in Ajax as **data: {id: 123, myParam: "Test data"}**

[2017-01-18 20:29] #5697 closed

[2017-01-18 20:30] saf-itpro commented on #5697
@NRKirby Thank you for looking into the issue. I've found the error as explained in my previous comment above.

[2017-01-18 20:45] amityagov commented on #5636
@ryanbrandenburg

This issue is not duplicate of #302.

I DO NOT want to remove anything. I just want it to be fixed for being usable.

This is example repo: https://github.com/amityagov/data-annotations-localization-ex
`HomePageModel` model with attribute.
`JsonBasedStringLocalizerFactory` factory implementation.
`StringLocalizer::IStringLocalizer.this[string name, params object[] arguments]` cal

[2017-01-18 21:43] NRKirby commented on #5697
No problem - have you considered using [StackOverFlow](http://stackoverflow.com/) for questions like this?

[2017-01-18 21:52] dougbu commented on #5636
@amityagov I asked earlier for more details about your scenario and the above description helps. But what drives your need for validation adapters to have _both_ the corresponding attribute and an `IStringLocalizer` created with information about the attribute?

Separately,

This is by design. To do otherwise would both override the existing .NET localization of the default `ValidationAttribute` e

[2017-01-18 22:41] breyed commented on #5680
`HeaderNames` solves the hard coded string problem. For some reason, IntelliSense is really bad at guessing what I'm going to type into a string. :-)

The cherry picking in `RequestHeaders` still seems disjointed. It's not clear why `AuthenticationHeaderValue` is valuable enough to exist, but not valuable enough to include in `RequestHeaders`. Perhaps the parse method has more worth than its first

[2017-01-19 00:11] natemcmaster commented on #5482
It may be interesting to also track the CLI teams own attempts to migrate this repo: https://github.com/dotnet/cli/issues/5378

[2017-01-19 00:32] #4916 closed

[2017-01-19 02:34] thiagomajesk opened #5700 "Injecting IHostingEnvironment into IDatabaseInitializer"
Hi you all!

I'm trying to seed my database by reading some json files. So I need to get access to `IHostingEnvironment.ContentRootPath` for that. The thing is that I can't inject the `IHostingEnvironment` because aparently `DbConfiguration` must have a parameterless constructor.

[code]

[code]

[code]

I stumbled into another issue related here: https://github.com/aspnet/Hosting/issues/429. And

[2017-01-19 03:39] pranavkm commented on #5700
cc @divega for the `DbConfiguration` question.

[2017-01-19 06:55] Dresel opened #5701 "Improve the experience of Swagger + FileResult"
Hi, I'm curious how to decorate actions which return `FileStreamResult` (or similar) to work with ApiExplorer. What I like to describe for example is that a particular action returns an image which could be either jpg or png. This is what I've tried:

	[HttpGet("Image/{id}")]
	[ProducesResponseType(typeof(byte[]), (int)HttpStatusCode.OK)]
	[ProducesResponseType(typeof(void), (int)HttpStatusCode.No

[2017-01-19 07:15] divega commented on #5700
EF6 was obviously designed before ASP.NET Core and EF Core and although it uses some of it own limited DI mechanisms, it had to support behaviors from previous versions of EF which didn't have any DI concepts. As a consequence there are global root objects that cache configuration under the hood. E.g. `DbConfiguration` Is never instantiated in user code, but rather created and cached automatically

[2017-01-19 07:30] amityagov commented on #5636
@dougbu
1) `ValidationAttributeAdapter<>` currently receive attribute instance and IStringLocalizer instance, but later in `GetErrorMessage`? the adapter does not pass any info about attribute to localizer.
2) `ValidationAttributeAdapter<>` class is base class for 8 classes. So if i want to change behavior i need to create approx NINE classes and replace default ValidationAttributeAdapterProvider

[2017-01-19 10:40] frankabbruzzese commented on #5636
@amityagov ,
You have chosen the wrong extension point. Also if you succeed in customizing `ValidationAttributeAdapter `messages the way you want, you have done 50% of the job, since `ValidationAttributeAdapter `is responsible just for client side validation, so you would need to change also server side messages.

If your final purpose is just providing default messages that depend just on the att

[2017-01-19 11:01] amityagov commented on #5636
@frankabbruzzese

So if i need to provide localized messages for attributes not depend on where they placed i need to fill ErrorMessage property in model where the attribute placed? I am right?

[2017-01-19 11:20] frankabbruzzese commented on #5636
@amityagov ,
No if you set `ErrorMessage `the string is localized in a way that depends on the ViewModel it is placed in.
A resource file will be searched in a file path that contains the ViewModel type name as explained in the [documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization).

If you **dont want this** you need to use `ErrorMessageResourceName` and `ErrorMes

[2017-01-19 11:29] Tragetaschen commented on #5698
As a workaround, I have added a default constructor to the model types throwing a NIE.

[2017-01-19 13:30] joacar commented on #5679
@frankabbruzzese Do you have an example to override the whole process? Ideally I would like to generate `<input type="hidden" name="Index" value="@Guid.NewGuid()" />` so that I don't need to iterate all items prior to submission to ensure they are correct. If I add one item at a time they all get indexed with zero.

Perhaps something like

[code]

[2017-01-19 14:42] thiagomajesk commented on #5700
@divega Thanks for the helpfull explanation. I'm now invoking `DatabaseConfiguration.SetConfiguration(new DatabaseConfiguration(env))` into `Startup` ctor and flowing down the `IHostingEnvironment` to the the database initializer.
But I have to confess that doing this on the ctor or even in `Configure` seems a bit ugly.
I'd really like to use EF Core, but right now I think it's not a mature techno

[2017-01-19 14:53] mRy0 opened #5702 "Parameter not set if passing multiple parameter int post"
When posting to a controller with multiple parameter in the route, some parameter are not set.
I need to post data to a controller with two ids (n*n relation) and only getting the second parameter, the first is -1.
In the Route data of the Controller context all parameter are parsed fine.

Example:
Posting data to the controller with "/api/controller/42/method/1337/data"
[code]

The same method as

[2017-01-19 16:03] rynowak commented on #5702
Is another part of the request also sending a value for `idone`? (form data, query string) A form value would be used first if provided.

If you want the value to specifically come from the route data use `[FromRoute]` on the parameter.

[2017-01-19 16:03] rynowak commented on #5698
/cc @dougbu

[2017-01-19 17:04] dougbu commented on #5698
Some of the background here can be found in issue #4895. @kichalla fixed that bug in PR #5368.

I agree the check for a parameterless constructor should be moved from `ComplexTypeModelBinderProvider` to `ComplexTypeModelBinder` and be done only when `bindingContext.Model == null`.

Nit: `CanCreateModel()` is a horribad name for a method which primarily checks whether value provider data is availab

[2017-01-19 17:55] Eilon commented on #5702
Yeah it definitely sounds like there's a form body that also has some value for `idone`.

[2017-01-19 17:56] Eilon commented on #5701
@rynowak can you answer this?

[2017-01-19 18:00] Eilon commented on #5698
We will try to get this fixed in the patch.

[2017-01-19 18:05] Eilon commented on #5696
Ultimately the "problem" here is that the application is using untrusted user input, which is of course a no-no. It's no different than having a "Filename" textbox and blindly trusting that. Generally the filename used to store the data on disk would be something like a random GUID, and the original filename would be stored in a database for display purposes only. You *could* sanitize the filename

[2017-01-19 18:06] Eilon commented on #5694
@dougbu any thoughts on this? Is this supposed to work? (Presumably, yes...)

[2017-01-19 18:09] blowdart commented on #5696
Every time we add something like this it turns out that someone, somewhere has depended on the old behaviour.

All the advice I've given was to use a random file name, and if you must preserve for some awful reason then you use `System.IO.Path.GetFileName()` before combining.

[2017-01-19 18:10] Eilon commented on #5692
@pranavkm assigning to you to investigate.

[2017-01-19 18:12] rynowak commented on #5696
Would it be helpful for us to build a sample of what we think is the 'right way' and clearly document exactly what the risks are?

[2017-01-19 18:13] danroth27 commented on #5696
Filed https://github.com/aspnet/Docs/issues/2553 to clarify our guidance on the use of the file name property.

[2017-01-19 18:35] dougbu commented on #5694
We don't worry too much about the end-to-end behaviour of the functional test sites. The most important thing here is that `src="~/images/red.png"` in the .cshtml results in `src="/images/red.png"` in the generated HTML.

That said, adding StaticFiles to the project has no downside.

[2017-01-19 19:00] pranavkm commented on #5690
Looks like the issue is a result of not having a runtime component (`linux-arm` \ `linux-arm64`) for Libuv 1.9.1 on Raspberry-pi. There's a bug in the `CandidateResolver` where it expects every dependency to have a runtime component - perhaps that's not necessarily true. @pakrym does that sound like an incorrect assumption?

@moozzyk, can Kestrel 1.1.0 run on Raspberry pi 3 given that Libuv doesn'

[2017-01-19 19:02] ayende commented on #5690
@pranavkm Kesterl most certain run on the PI, yes.
IIRC, we had to compile it there, but nothing beyond it.

[2017-01-19 19:12] #5652 closed

[2017-01-19 19:26] pranavkm commented on #5690
@ayende - I should've worded it better - would using Libuv 1.9.1 work? Using a custom build or the 1.10.0-* build of the package that's on the nightly feeds might fix the missing runtime libraries that's showing up as part of @Gonkers's stacktrace.

[2017-01-19 19:29] moozzyk commented on #5690
The 1.10.0 fat libuv package now contains libuv for linux-arm, linux-armel and linux-arm64 (it was added last week). CoreClr is now using this package to get the runtime you don't have to build on your own (tracked here: https://github.com/dotnet/core-setup/issues/725#issuecomment-273854460). The 1.9.1 fat package did not contain the arm version of libuv so you would have to build it yourself. Als

[2017-01-19 19:36] moozzyk commented on #5690
@pranavkm - agree, I would just try to add the latest Libuv 1.10.0 to the project as a dependency (but still be careful to not bring other packages from nightly feed to avoid version hell).

[2017-01-19 19:56] pranavkm commented on #5690
Spoke to @pakrym offline - `DefaultAssemblyPartDiscoveryProvider` shouldn't expect every dependency to have a runtime component (which is essentially what this statement is asserting - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/DefaultAssemblyPartDiscoveryProvider.cs#L103). Would be good to rename the field name to make it clear that it represents the runtime

[2017-01-19 20:03] Eilon commented on #5555
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 23:14] ryanbrandenburg commented on #5555
I discussed this with @rynowak and we think that the correct solution here is to move the OnStarting code into `OnResourceExecuting` so that the the action wont have a chance to start the Response Body before this handler is added.

[2017-01-20 09:43] frankabbruzzese commented on #5679
You may use Guids! This is the best way to do it. I do the same!
Unlickily I have no simple example, since I use [Asp.net coreMvc Control Toolkit](https://github.com/MvcControlsToolkit/Home) that has abstractions to solve this and other problems. You may look at the sources of the grid, but the level of abstraction is very high since everything must work with all ViewModels and also with custom te

[2017-01-20 12:21] joacar commented on #5679
Found it rather hard to find the pieces that are related :)

Hopefully I'll have time this weekend to put togheter extensions methods that sit ontop of existing`EditorFor{Model}` that can provide the user the ability to

1. Use `Guid` as identifier (Typically used in scenarions for adding new resources, e.g. contacts to a phone book)
2. Use unique identifer to `TModel` (Adding existing resources,

[2017-01-20 14:08] svallis opened #5703 "EditorTemplate templates in a separate assembly"
Is it possible (or planned to be possible) to configure an ASP.NET Core web application to use `EditorTemplate` razor pages that are compiled into a class library/separate assembly? I've tried asking this on SO but didn't get any responses.

[2017-01-20 15:14] grahamehorner commented on #5671
@Eilon @DamianEdwards or maybe

options are may

<environment>
<case names="..." include=true>
</case>
<case names="..." include=false>
</case>
<default>
</default>
</environment>

[2017-01-20 15:52] RandyBuchholz opened #5704 "ViewComponent User Perspective [Comment]"
I think the overall direction and work of MVC Core is great, but I'm really struggling with the entire ViewComponent approach. In my mind, I looked to VC's to be lightweight "components" that I could easily build, reuse, and extend. I'm not finding that to be the case. They seem cumbersome and restrictive. Am I missing the concept?

For what it is worth, I wanted to share a walk-though of how I tr

[2017-01-20 17:00] Eilon commented on #5555
Yup, sounds like a good plan.

[2017-01-20 20:19] irega commented on #2890
Sent a new pull request to fix it on CodePlex:
https://aspnetwebstack.codeplex.com/SourceControl/network/forks/irega/aspnet/contribution/9060

[2017-01-20 22:29] Eilon commented on #5678
Closing because this question is resolved. Thanks!

[2017-01-20 22:29] #5678 closed

[2017-01-20 22:56] Eilon commented on #5650
This should probably be fine, per @frankabbruzzese 's comments. While the attributes were certainly designed for "data models" they certainly need not be restricted to that.

[2017-01-20 22:56] #5650 closed

[2017-01-20 23:02] Eilon commented on #5595
@pierre-weceipt we would like more info to try and reproduce the problem. Can you show the implementation of your model binder and provider?

@dougbu can you start taking a look at this?

[2017-01-20 23:07] Eilon opened #5705 "Have unique prefixes for different model binding source in Model State"
Today all model binding errors, regardless of source, share a single "namespace" within model state. This means that unrelated errors from one source could affect the ability to validate models created from another source.

Instead, we should consider having model state keys be somehow based on which source the data came from.

This would mitigate some of the problems as seen in https://github.com

[2017-01-20 23:10] Eilon commented on #5672
Hi, we discussed this and we have an idea that would help mitigate this somewhat. See this issue for more details: https://github.com/aspnet/Mvc/issues/5705

But for the specific issue here, ultimately ASP.NET Core is just processing the errors returned by Json.NET and it would be risky to change the behavior in how the errors are processed, so we are closing this issue.

[2017-01-20 23:10] #5672 closed

[2017-01-20 23:49] Eilon commented on #2890
@irega we are no longer tracking PRs to that repo; we are in the process of moving the code to GitHub for a smoother process.

[2017-01-21 00:09] JamesNK commented on #5413
There is a new property on JsonWriter to control this - https://github.com/JamesNK/Newtonsoft.Json/commit/55afb9aa72a07494aa35015dd2a29f7e9643127f - and it is testable in this pre-release package - https://www.nuget.org/packages/Newtonsoft.Json/9.0.2-beta2

[2017-01-21 04:20] Vedant-Koditkar commented on #5155
I have also tried this but it was giving me same reflection error.
As it always going to throw an exception why can't we make changed to docs and even if possible not allow the user to set this property in first place??

[2017-01-21 09:59] frankabbruzzese commented on #5679
@joacar, the part of the code dealing with Guids is the [ServerCrudController<T, T!>](https://github.com/MvcControlsToolkit/MvcControlsToolkit.ControlsCore/tree/master/src/MvcControlsToolkit.ControlsCore/Controllers), since all grid operation of the server grid are performed through ajax with the help of descendants of this generic controller. Pay attention tere are 2 ways to create a new row one

[2017-01-21 16:52] mRy0 commented on #5702
... Ohh yes
In my example I call it "idone" for better explanation, but in real its called  "id" and in the object is a property called "Id".

I thought the post json-object would be handled in an other way as the parameters.

What will be the best practice for naming properties and parameters with same names like "id"?

[2017-01-23 04:10] Eilon commented on #5703
@pranavkm @javiercn - can you use Application Parts w/ Pre-compiled views to do this? Presumably it should work, right?

@svallis can you share a link to your StackOverflow question so that we can make sure the answer appears in both places?

[2017-01-23 04:11] Eilon commented on #5702
@mRy0 you can use the attributes that @rynowak mentioned, such as `[FromRoute]`,  `[FromQuery]`, etc. That will force the system to get the values from only that location without any fallbacks.

[2017-01-23 04:42] Eilon commented on #5413
@JamesNK super awesome, thanks for adding the feature!

I suspect that in ASP.NET Core 2.0 we'll want to enable that feature by default, so once there's a public "RTM" build of 9.0.2 I think we'll want to take a dependency on that.

[2017-01-23 04:42] Eilon commented on #2890
@irega yup, the GitHub repo is not quite public yet... we just have to dot a few i's and cross a few t's first.

[2017-01-23 10:49] svallis commented on #5703
I've seen Application Parts mentioned, but always in reference to systems with both classes and razor views (e.g. Controllers and Actions, ViewComponents). If it is possible with EditorTemplate razor views, is everything based around directory structure only, or is explicit "registration" of the views required?

@Eilon http://stackoverflow.com/questions/41704188/editortemplate-templates-in-a-separ

[2017-01-23 12:32] pierre-weceipt commented on #5595
@Eilon here is my code :
The model binder :
[code]
and the provider
[code]
declared in the startup file
[code]
the views contain
[code]

[2017-01-23 13:58] rowlandg commented on #4992
Any updates?

[2017-01-23 15:10] tomhreb opened #5707 "Malformed header causes infinite loop and never processes that request"
GET (for example) request with malformed header causes the process to go into infinite loop, causing high CPU usage and never gets into actually processing the request.

_@blowdart: Sample header removed as not everyone will upgrade_

[2017-01-23 16:00] blowdart commented on #5707
_Removed as potential security bug. Investigation started._

[2017-01-23 16:27] dougbu commented on #5595
@pierre-weceipt it's still not clear how your model binder could work. The view should submit the type in a field named `ModelType` and the binder is looking for `Type`. Have you updated your binder to expect the correct name?

If the field name is not the problem, have you debugged and found the provider or binder is not invoked at all?

[2017-01-23 17:22] danroth27 commented on #5155
@Vedant-Koditkar Setting the property is still useful for cases where you want to specify the assembly that the dependency context should be loaded from.

[2017-01-23 17:59] dougbu commented on #5689
@sebastienros the problem here is the `TagBuilder` reuse, specifically changing its `TagRenderMode` before it has rendered the first time. If you use two `TagBuilder`s, everything would be fine.

[2017-01-23 18:33] Eilon commented on #4992
@rowlandg we're taking a look now, sorry for the delay.

[2017-01-23 18:45] DamianEdwards commented on #4992
We need to get those files added to the CDN (might need to look at jQuery, etc. too)

[2017-01-23 19:23] sebastienros commented on #5689
This is another good reason to expose specific rendering methods, that don't use the `TagRenderModel`

[2017-01-23 21:49] JustDre opened #5708 "HTTP request input strings stored on heap"
So I think this actually belongs on the ASP.NET core discussion, but since MVC model binding is the most common use case, and the solution would likely require end-to-end modification, I'm discussing it here:

Input coming over HTTP (and even HTTPS) and surfaced via the Request object are converted to string or IEnumerable<string> which results in plain-text storage on the heap; minimizing the tim

[2017-01-23 22:39] Tratcher commented on #5413
@kichalla can you try out the beta and see if it gets us the the results we want?

[2017-01-23 23:01] terrajobst commented on #5708
I'll let @blowdart comment on the security aspects, but a couple of thoughts. We've experimented in the .NET Framework with encrypted strings, specifically `SecureString`. We don't recommend to use this API moving forward. The biggest problem is that as soon as you convert a `SecureString` to a `string` you're committing the sin you intended to avoid in the first place. Unfortunately, not many API

[2017-01-23 23:05] Eilon commented on #5703
@svallis thanks, we'll have a look and get back to you.

[2017-01-23 23:12] blowdart commented on #5708
By the time an HTTP request reaches the web server for parsing and turning into something that the framework can act upon it's already been through memory in plain text, possible swapped to disk due to memory pressure, or even dumped into a memory dump should the process crash.

Suddenly taking that, and putting it into SecureString adds no real benefit, compared to the whoppingly huge performance

[2017-01-23 23:13] JustDre commented on #5708
@terrajobst: I think the most likely scenario I'm interested in protecting against is persistence of the heap to external storage.

[2017-01-23 23:13] javiercn commented on #5703
@Eilon I can't foresee any reason why it would not work. They are just "regular" views in a different folder location. Whatever works for views/partials should work for editor templates.

[2017-01-23 23:16] terrajobst commented on #5708
I get that, it's the same reason we introduced `SecureString`. But as @blowdart explained, the string doesn't pop into existence out of thin air; there are often multiple buffers used by the native networking layer which are affected as well. Zeroing out memory isn't always feasible to, especially when you consider buffer pooling and other techniques you need to use to make servers fast.

[2017-01-23 23:17] davidfowl commented on #5708
If you're worried about buffers used for request processing being paged to disk then this is an interesting solution: https://github.com/dotnet/corefxlab/pull/1134.

[2017-01-23 23:19] JustDre commented on #5708
I was hoping that, at least in managed space, we knew enough about the intermediate objects that it was *possible* to opt in to security over performance.

[2017-01-23 23:19] terrajobst commented on #5708
I don't have permissions to close this, but I strongly think we should. We've tried this in the past and failed. I don't see enough evidence that we actually need this nor that it's technically feasible.

[2017-01-23 23:20] terrajobst commented on #5708
@JustDre

No, because you cannot realistically encrypt *all* strings, you only wan to encrypt *some* string. In order to this, everyone would need to pay the penalty of having to deal with different types.

[2017-01-23 23:23] JustDre commented on #5708
What about opting in to encrypted heap/strings in the heap?

[2017-01-23 23:24] davidfowl commented on #5708
@JustDre it might make sense to move that discussion to dotnet/coreclr (though it'll probably be closed over there too).

[2017-01-23 23:25] blowdart commented on #5708
Thing is, even opt-ing in, in the hope that the data doesn't exist anywhere else (a forlorn hope at beast, considering that the socket is going to get this first, and you have no control there), would mean every API that processes everything would also have to take security strings, and then, they'd have to work on them in such a way that they'd never take them out of a security string. Which, whe

[2017-01-23 23:25] #5708 closed

[2017-01-23 23:53] pierre-weceipt commented on #5595
@dougbu I agree with you, this shouldn't work, yet it does. Razor is generating the field as 'Type' instead of 'ModelType' when in 1.0.x (this code is for 1.0.x).
However it seems that it is solved in 1.1 and I had to change the model binder to listen to 'ModelType' as it should have since the beginning.

[2017-01-24 00:03] svallis commented on #5703
@javiercn Any idea what I might be missing beyond the following, which doesn't seem to be working for me at the moment?

- get a reference to the class module (through a random class within the component) and register it with a call to `.AddApplicationPart(library)` within `ConfigureServices()` of the main web application's `Startup.cs`
- added razor views to a `Views\Shared\EditorTemplates` folde

[2017-01-24 00:04] dougbu commented on #5595
@pierre-weceipt I'd appreciate a small repro for the problem in 1.0.x. Do you still have a sample showing the wrong name generation? Ideal is a small project in a public GitHub repo.

[2017-01-24 00:15] pranavkm commented on #5703
@svallis - adding an `ApplicationPart` does not add it as a source for embedded views as yet (this was one of @davidfowl's feature requests we never got around to). You have to add it to the list of file providers in `RazorViewEngineOptions`. See https://github.com/aspnet/Mvc/blob/cfa9631ce80edbb78c821cba88e50a085035eacc/test/WebSites/RazorWebSite/Startup.cs#L27-L29

[2017-01-24 04:50] RandyBuchholz opened #5709 "Declare List<Tuple> in View Error"
I am unable to declare a List<T> of tuples in Views.

I tried a few variations of
[code]
and I get a long list of errors at compile.

![image](https://cloud.githubusercontent.com/assets/13967891/22234269/8530dae8-e1bc-11e6-91ce-459b5ffae159.png)

There is no problem if I pass and cast though. In my controller
[code]
and then in my View
[code]
everything works fine.

I get the same types of errors

[2017-01-24 06:45] bhojwanimukesh commented on #532
@yishaigalatzer I want to extend the behavior of `[DisplayName]` in a way where the given name will be taken as default, and it will fetch from the database as it's configurable. as you recommend to use `[Display]` instead, I won't be able to extend it as it is sealed. Here is my [question](http://stackoverflow.com/questions/39405594/mvc-6-vnext-display-name-attribute-not-working) posted on the ve

[2017-01-24 09:36] pierre-weceipt commented on #5595
@dougbu [Here](https://github.com/pierre-weceipt/Razor-input-bug) is the project, page "Bug" in the navbar.

[2017-01-24 09:58] svallis commented on #5703
Spot on, thank you @pranavkm! I have written up what I required and answered my own SO question [here](http://stackoverflow.com/questions/41704188/editortemplate-templates-in-a-separate-assembly/41825072#41825072).

[2017-01-24 09:58] #5703 closed

[2017-01-24 11:39] t0xicDen commented on #5692
It works when I switched to `netstandard16` and using this

[code]

That means that all works fine when we using `System.Runtime.Loader `

@pranavkm, please, investigate as fast as you can.

[2017-01-24 18:20] pranavkm commented on #5709
Mvc 1.1 and the .NET Core shared framework (`Microsoft.NETCore.App`) use an older build of Roslyn that supports at most C# 6. If you're targeting desktop (`net4x`), you could try referencing a newer version of [`Microsoft.CodeAnalysis.CSharp`](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/2.0.0-rc2) in your project, although I'm not sure if you'd run into other issues at runtime.

@

[2017-01-24 18:30] Eilon commented on #5709
@pranavkm not aware of any discussions, though I would imagine that is the plan. I'll start an email thread on this.

[2017-01-24 18:46] Eilon commented on #5709
Ok I heard back from the C# experts and it seems that the plan is to have C# 7.1 available in the "2.0" wave, which is what we're working on. That will include support for tuples.

(Other C# language feature status can be found here: https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md)

[2017-01-24 18:51] Eilon commented on #5709
Closing this issue as external because ultimately it's https://github.com/dotnet/corefx/ that needs to be updated w/ the new version of C#. Nothing we can do here but wait.

[2017-01-24 18:51] #5709 closed

[2017-01-25 03:11] douglasg14b commented on #2044
@rynowak  Is there a way to change the execution limit for a specific controller method in the case of long-running queries?

[2017-01-25 10:08] ZacMillionaire opened #5713 "TextAreaTagHelper ignores default value within textarea tags"
### Title
When using `asp-for` on a `textarea` tag, all contents between the opening and closing `textarea` tags are discarded

### Functional impact
Prevents setting a default value for `textarea` when the view is rendered.

### Minimal repro steps
1. Create a new ASP.NET Core Web Application (.NET Framework) Web Application project
2. Create a new model with a single string property
3. Add this

[2017-01-25 21:41] Eilon commented on #5713
@NTaylorMullen @dougbu @DamianEdwards thoughts on this?

[2017-01-25 21:42] #4945 closed

[2017-01-25 21:46] Eilon commented on #5594
@dougbu @rynowak - any ideas on this?

[2017-01-25 21:46] Eilon commented on #5569
Definitely a nice feature idea, but not planned for this release.

[2017-01-25 22:05] leppie commented on #4945
@kichalla thanks!

[2017-01-25 22:05] DamianEdwards commented on #5713
What does the InputTagHelper do? I'd assume we want to be consistent unless there's a reason to differ.

[2017-01-25 22:07] #5012 closed

[2017-01-25 22:38] dougbu commented on #5713
@DamianEdwards the `InputTagHelper` won't override a `value` attribute in the `.cshtml` file (it "merges" attributes from the `TagBuilder` into the `TagHelperOutput`) and the `TextAreaTagHelper` unconditionally overrides the element body.

The current behaviour looks correct for 99% of the cases. Users have to explicitly type `value=some value"` but whitespace normally exists between the open and

[2017-01-25 23:43] rynowak commented on #5701
@dresel are you using swashbuckle/ahoy or just looking at API explorer in general? I'm not sure if they do anything for first class handling of files wrt to the swagger document generation.

Yeah it looks like we've got a scenario-sized hole here because formatters will block this. We might want to avoid matching with the formatters when Produces specifies a content type

[2017-01-25 23:45] rynowak commented on #5594
We need to double check the behavior of short circuiting exception filters wrt compatibility with MVC5. This should be a patch candidate if we have a bug here

[2017-01-26 01:09] jbagga opened #5714 "Discussion: Input tag helper uses "datetime-local""
If `type` is not explicitly specified as `"datetime"` when using the `input` tag helper, the value renders as `"datetime-local"`, instead of `"datetime"` for better browser support.

See announcement https://github.com/aspnet/Announcements/issues/213

[2017-01-26 01:11] vaindil commented on #4652
@dougbu I don't know if this is working. The attribute seems to have no effect in my code. Model binders are still called in order like normal, the attribute does nothing.

[code]

[2017-01-26 01:21] jbagga opened #5715 "Discussion: Obsolete ViewEngine property removed from ViewComponentResult"
`ViewEngine` property in `ViewComponentResult` has been removed as it is obsolete.

See announcement https://github.com/aspnet/Announcements/issues/214

[2017-01-26 01:23] #5259 closed

[2017-01-26 01:29] jbagga opened #5716 "Discussion: Removed obsolete DefaultHtmlGenerator constructor"
Removed legacy constructor for `DefaultHtmlGenerator` and the `ClientValidatorCache` parameter from the new constructor

See announcement https://github.com/aspnet/Announcements/issues/215

[2017-01-26 01:56] ZacMillionaire commented on #5713
For the use case we have, the `textarea` field is with a value from the ViewBag, which is a different model to the one we use for the form.

"Default Value" was probably the wrong way of putting it, what I'm aiming to do is not set the placeholder attribute, but rather have the `textarea` contain content from the `ViewBag`.

so if I have
[code]
I expect the `textarea` to contain the string within

[2017-01-26 03:32] dougbu commented on #5713
@ZacMillionaire for your use case, what are the downsides of giving the `FormModelTextArea` property a default in its containing type? And, would `placeholder` not work either?

[2017-01-26 04:22] dougbu commented on #4652
@vaindil please open a new issue describing the exact scenario where you're seeing a regression of this fix.

I assume you are using an Mvc package more recent than 1.0.0. But, please include the `project.json` content in the new issue.

[2017-01-26 05:49] ZacMillionaire commented on #5713
@dougbu There are no downsides, after realizing that either passing the same `FormModelTextArea` model with values into the view, or changing the `asp-for` to use a property of the model from the database instead, correctly sets the value of the `textarea`, I've gone and changed the models I used to be slightly less overlapping.

My confusion has come from it not being clear from the TagHelper (or

[2017-01-26 08:18] nmistry096 opened #5717 "Error while creating new ASP.NET Web Application"
Visual Studio 2015

1. New Project
2. Web -> ASP.NET Web Application
3. Click Ok

By doing above steps it gives me error like below snapshot

![image](https://cloud.githubusercontent.com/assets/11497594/22324237/1fa94d36-e3ce-11e6-9961-e7f50f7b59a2.png)

[2017-01-26 09:50] Dresel commented on #5701
Yes I'm using Swashbuckle. At the moment there is nothing built in for file handling, so I'm using an IOperationFilter to support file recognition:

	public void Apply(Operation operation, OperationFilterContext context)
	{
		// Output
		if (context.ApiDescription.SupportedResponseTypes.Any(x => x.Type == typeof(FileResult)))
		{
			foreach (var responseType in operation.Responses.Where(x => x.Val

[2017-01-26 13:22] t0xicDen commented on #5692
After 8,5 days of researching I found something.

Based on my previous comment and this [https://github.com/aspnet/Announcements/issues/149](https://github.com/aspnet/Announcements/issues/149) I made conclusion that .NET Core and .NET Framework have different behavior in assembly loading context.

.NET Framework (`Assembly class`) searching referenced assemblies of runtime loaded assemblies in roo

[2017-01-26 16:22] dougbu commented on #5694
- 1840d68. Thanks very much @ignatandrei
- tiny cleanup in cc584ad

[2017-01-26 16:22] #5694 closed

[2017-01-26 17:51] Eilon commented on #5717
cc @barrytang @mlorbetske

[2017-01-26 17:52] Eilon commented on #5717
This issue was moved to aspnet/Tooling#972

[2017-01-26 17:52] #5717 closed

[2017-01-26 18:10] pranavkm commented on #5692
@t0xicDen, yes - they changed the behavior of assembly loading in CoreCLR as part of the 1.1.0 release. In essence, for `Assembly.Load` to succeed, the assembly must be listed in the application's deps file. Arbitrary assemblies in the application's bin directory will fail to load. We hit this issue earlier in our precompilation code and worked around it by using `AssemblyLoadContext.LoadFromAssem

[2017-01-26 18:24] gkhanna79 commented on #5692
There is no workitem for this since the issue in question was bug we fixed in the host where it was accidentally picking up assemblies, treating them as app closure, even if they were not in deps.json (which defines the app closure).

If the application wishes to load such assemblies, it should do so explicitly.

[2017-01-26 18:50] dougbu commented on #532
@bhojwanimukesh we added support for `[DisplayName]` in the 1.1.0-preview1 milestone. Everything should be ready for your extension if you update to 1.1.0 bits.

We filed #5296 rather than reopen this long-dead issue. See also PR #5324 and commit 6cdd045.

[2017-01-26 19:08] pranavkm opened #5718 "Add MvcRazorPagesMvcBuilderExtensions and co"
Follow up based on https://github.com/aspnet/Mvc/pull/5712#discussion_r97902092. We need to wire up the new set of services that were introduced as part of Razor Pages.

[2017-01-26 19:31] #5480 closed

[2017-01-26 19:33] pranavkm opened #5719 "Productize PageResultExecutor and ExecutorFactory"
This would allow E2E testing of `PageActionInvoker`.

[2017-01-26 19:49] kichalla commented on #5413
@Tratcher I verified the changes and they are good.

Thanks! @JamesNK

[2017-01-26 21:36] saffetpamuk commented on #4572
valid link
https://github.com/OrchardCMS/Orchard2/blob/master/src/Microsoft.AspNetCore.Mvc.Modules.Hosting/Routing/OrchardRouterMiddleware.cs

[2017-01-27 00:58] rodriguezfa opened #5721 "ViewComponent taghelper not working when assembly name contains a period"
Hello,
  I really like the new taghelper(<vc:...) syntax for ViewComponent.  I came across an issue where the viewcomponent doesn't work and the only difference I can see between the samples and the case where it doesn't work is when the assembly being generated contains a period in the name... please see the attached project.

_layout.cshtml calls <vc:login-status></vc:login-status>

_viewImports

[2017-01-27 05:49] dougbu commented on #5595
I've confirmed this issue and found it repros when using HTML helpers, including HTML helpers in MVC 5.2.3. Surprised nobody found the issue before; problem has been in the code forever.

Bug is an overly-accepting `StartsWith()` in [`ExpressionHelper`, line 105](https://github.com/aspnet/Mvc/blob/rel/1.0.2/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ExpressionHelper.cs#L105-L109). ASP.NET

[2017-01-27 05:59] dougbu commented on #5595
Updated issue title and cleared labels other than **bug**.

@Eilon I'm torn on this one. It can be worked around with new variable names and it appears our customers haven't been impacted over the years. On the other hand, the generated names break model binding, there's no indication where the problem lies, and the fix is simple.

Either way, let's do this all-or-nothing: If we patch Core 1.0.x,

[2017-01-27 06:18] NTaylorMullen commented on #5721
@rodriguezfa ViewComponentTagHelpers are only available in 1.1.0. After upgrading your application to 1.1.0 I was able to get them working:

![image](https://cloud.githubusercontent.com/assets/2008729/22362129/356d5e86-e415-11e6-8398-7d00ad7b636d.png)

In-case your interested on the project.json upgraded:
[code]

[2017-01-27 06:57] rodriguezfa commented on #5721
Thank you very much!  I didn't realize how the other components needed to be updated as well.

[2017-01-27 06:57] #5721 closed

[2017-01-27 09:03] RehanSaeed opened #5723 "Cache-Control Immutable HTTP Header"
There is a new `immutable` extension to the `Cache-Control` HTTP header which has been adopted into the IETF on the Standards Track. It's currently implemented in Firefox 49. The documentation states:

Read More here:

- [IETF Draft Spec](https://tools.ietf.org/html/draft-mcmanus-immutable-00)
- [Using Immutable Caching To Speed Up The Web](https://hacks.mozilla.org/2017/01/using-immutable-caching

[2017-01-27 11:47] flatproject opened #5724 "Web Api Validation of input parameter. Modelstate.IsValid always true."
I have an Mvc core web api with a simple Post method.

Case Model:
[code]

Address Model:
[code]
Controller Action:
[code]
Using Postman I post the following:
[code]

How can i post a json Case object to this controller action and have ModelState validate it and show correctly that for example "Title" and "Forename" are required and also to validate the properties of the Address object that are mi

[2017-01-27 17:32] egorpavlikhin opened #5725 "AddViewLocalization doesn't change search paths for Components"
In RC AddViewLocalization used to change folders that are searched for Components. So, for example it would search "Shared\Components\*.cshtml" and "Shared\Components\fr\*.cshtml". Now it only searches the first folder and ignores current culture of the request.

[2017-01-27 17:55] dougbu commented on #5724
What is `ModelState.IsValid` before calling `TryValidateModel()`? That call should not be necessary and will likely confuse things.

[2017-01-27 18:11] blowdart opened #5726 "[Discussion] Microsoft Security Advisory 4010983 : Vulnerability in ASP.NET Core MVC 1.1.0 Could Allow Denial of Service"
# Microsoft Security Advisory 4010983
## Vulnerability in ASP.NET Core MVC 1.1.0 Could Allow Denial of Service
### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the public versions of ASP.NET Core MVC 1.1.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of

[2017-01-27 18:14] Daniel15 commented on #5726
What's the vulnerability? Is there a PoC and/or a commit that fixes it? This post just explains how to upgrade and doesn't explain what the vulnerability actually is 😕

[2017-01-27 18:14] blowdart commented on #5726
And that's on purpose. We haven't pushed the source yet, so I couldn't link even if I wanted to.

[2017-01-27 18:17] flatproject commented on #5724
I commented out all code above the `ModelState.IsValid` in case it confuses things and it is valid (true) when it shouldn't be. I started with `ModelState.IsValid` and it was always true. Then I tried above it with `TryValidateModel` and that was coming as valid and then added the `Validator.TryValidateObject` to see if that validates correctly.

[2017-01-27 18:19] dougbu commented on #5724
Thanks for the added information

[2017-01-27 18:29] dasMulli commented on #5726
I assume this also includes 1.0.3?

[2017-01-27 18:32] blowdart commented on #5726
Ah it does indeed

[2017-01-27 18:54] flatproject commented on #5724
Apologies i should have added my Startup.cs file as well.

I have managed to make some progress and isolate what causes the issue.

In my startup ConfigureServices when I use the `services.AddMvcCore()` then the `ModelState.IsValid` is always valid but when I use the `services.AddMvc()` then it validates correctly.

[code]

Is there something extra that i'm missing when using MvcCore instead of Mv

[2017-01-27 18:55] #5555 closed

[2017-01-27 19:00] rynowak commented on #5724
You need `AddMvcCore().AddDataAnnotations()`. https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.DataAnnotations/DependencyInjection/MvcDataAnnotationsMvcCoreBuilderExtensions.cs#L25

`AddMvcCore()` is **minimal**. If you're looking for something equivalent to old WebAPI you probably want `AddMvcCore().AddJsonFormatters().AddAuthorization().AddDataAnnotations()`

[2017-01-27 19:06] flatproject commented on #5724
That's great. Thank you very much.

[2017-01-27 19:10] #5637 closed

[2017-01-27 21:03] rynowak commented on #5724
Glad we could help!

[2017-01-27 21:03] #5724 closed

[2017-01-27 21:40] rynowak opened #5727 "Update unit tests based on old Razor infrastructure"
As part of the migration to Razor.Evolution, I'm ifdef-ing some unit tests to unblock the change. These are all tests that don't have an easy fix because the code they tested has changed completely in shape. We need to understand what of these tests are still valuable and replace them so the scenarios are not lost.

[2017-01-27 22:57] DamianEdwards opened #5728 "Add <head> and <body> Tag Helpers"
They need to allow components in DI to add stuff to be rendered in the `<head>` and/or `<body>` elements. Maybe via `TagHelperInitializer`s? Need to consider support for ordering too.

[2017-01-27 23:53] #5671 closed

[2017-01-28 00:43] dougbu commented on #5594
Have confirmed `IActionFilter`s in MVC 5.2.3 and ASP.NET Core 1.1.0 behave the same. However, `IExceptionFitler`s behave differently w.r.t. setting `Result` but leaving `ExceptionHandled==false`. Should remove this special case around setting `Result`.

1.1.0 behaviour is also a regression compared to ASP.NET Core 1.0.x.

Long story about a consistent behaviour for ASP.NET Core:
- Users can short-

[2017-01-28 08:07] aspifycom commented on #5726
Do we need to update [.NET Core Windows Server Hosting bundle](https://docs.microsoft.com/en-us/aspnet/core/publishing/iis)? Where to get a new .exe file?

[2017-01-28 10:24] ignatandrei opened #5729 "Taghelper - Images serialize to base64 encoding directly into html"
I want to be able to serialize images directly to web page .
One possible use : send the file over email ( or directly as html) and not have the issue to download images from a webserver.
For this we can use  https://en.wikipedia.org/wiki/Data_URI_scheme - base 64 encoding of images.

My proposal is a tag helper asp-append-base64
e.g.
 &lt;img src="~/images/red.png" alt="Red versioned" title="Red

[2017-01-29 09:27] alexb5dh opened #5731 "BindAttribute doesn't work with FromBodyAttribute"
The following code doesn't respect `BindAttibute` for `/bind/frompost/` as all properties will be populated in MVC 1.1.0:
[code]

As far as I understand the reason is that `ComplexTypeModelBinder` is the only binder that respects `ModelMetadata.PropertyFilterProvider` and his provider is the last one in the list of default ones. In case of `FromBodyAttribute` the binding is handled by `BodyModelBi

[2017-01-29 13:02] blowdart commented on #5726
@aspifycom I don't believe so (but I'll check Monday when those folks are in the office).

From the docs it looks like the bundle gives you everything necessary to host ASP.NET Core apps, but not ASP.NET itself - that's provided by the app deployment. It's up to the apps themselves to get updated, and each app needs to update itself, as they all carry the MVC pieces themselves, in isolation (This

[2017-01-29 13:45] davidfowl commented on #5726
That's correct.

[2017-01-29 22:13] dougbu commented on #5731
@alexb5dh `BindAttribute.Include` is not relevant in your scenario. `[FromBody]` and the `BodyModelBinder` use input formatters and input formatters use external serializers / deserializers with separate controls.

For example, if you wish to skip some values in submitted JSON, use model types that lack those properties. `[JsonIgnore]` attributes might also help.

[2017-01-29 22:32] alexb5dh commented on #5731
Ok, so I see this is by design and issue can be closed.

I originally stumbled into this when trying to find a way to filter model properties based on HTTP request method used. Since input formatters doesn't have this this infromation and `ModelMetadata.PropertyFilterProvider` is not used by `BodyModelBinder` can you please give me some tips in this direction?

[2017-01-29 22:32] #5731 closed

[2017-01-30 11:51] WHarris22 opened #5732 "Question: correct way of passing ViewDataDictionary to partial view?"
I know this isn't the right place for a question but I feel like I will get a better / quicker response here.

**Problem**
I have a view which loads a partial view twice and I want to pass a HtmlFieldPrefix property so that the two partial view input elements can be distinguishable.

**Solutions**
I came across a way of being able to do this which involved the following code:

`@Html.Partial("_Fil

[2017-01-30 12:16] frankabbruzzese commented on #5732
@WHarris22 , for sure the first solution is in generally wrong. Passing an empty ModelState makes no sense: this way your partial view will not show sever returned validation errors.  Second solution is generally better, since it retains all main view infos: ModelState, if client side validation is on or off, and other options.

Unluckly, also second solution has its downside, mainly:
1.  It moves

[2017-01-30 12:23] WHarris22 commented on #5732
@frankabbruzzese thanks for the quick response that was really helpful. If its not too much to ask could you give me an example of what you see as the best way to do this then?

[2017-01-30 12:40] frankabbruzzese commented on #5732
Since VieBag entry in most of cases are not a big issue you might follow approach 2. However, if model might be null. Once created ViewDictionary set its ModelExplorer property, before passing it to Html.Partial:

`vd.ModelExplorer = ViewData.GetExplorerForExpression(ModelTypeHere, model)`

Obviously if your partial must receive the same model as the main view, you may avoid all this.
`@Html.Parti

[2017-01-30 14:42] WHarris22 commented on #5732
Ok thanks for the example.

In my situation although I have inputs in my partial i'm not actually dealing with validation so I think I should be alright with the second option I said to begin with.

I guess your recommendations will be more suitable for when the partial has a form with validation occurring.

[2017-01-30 16:04] svallis opened #5733 "Custom type containing IFormFile isn't processed by model binder"
I'm trying to extend `IFormFile` with some custom data. I'm using EditorTemplates to render forms and the goal is for a `FileControl` to contain some data which is written out with the form to aid the user in making a file selection. Simplified for brevity:

[code]

A view model:

[code]

And in the EditorTemplate for `FileControl`:

[code]

For some reason the model binder is not populating `File

[2017-01-30 17:48] Eilon commented on #5733
Duplicate of https://github.com/aspnet/Mvc/issues/4485.

[2017-01-30 17:48] #5733 closed

[2017-01-30 18:00] Eilon commented on #5729
Hi @ignatandrei thank you for logging the suggestion and sending the PR. This doesn't currently align with our release plans, so we are putting this issue in the backlog and closing the PR.

If you end up releasing the tag helper as your own package on NuGet.org, we'd be happy to add a link to it from the readme of this repo.

[2017-01-30 18:05] Eilon commented on #5723
This issue was moved to aspnet/HttpAbstractions#763

[2017-01-30 18:05] #5723 closed

[2017-01-30 18:20] #5605 closed

[2017-01-30 18:25] jodavis opened #5734 "Add - Rendered content diagnostics for Browser Link"
Razor already has BeginContext and EndContext diagnostic events to help Browser Link build mapping data. We need one more event that would fire as rendered content is generated, e.g.:

[code]

The `httpContext` is the context in which the current page is rendering, to tell multiple simultaneous requests apart. The `text` is a text representation of the content that was rendered. The `key` is an op

[2017-01-30 18:33] Eilon commented on #5570
Hi @enricosada , sorry for the delay. We would certainly accept a PR for this if you have time to work for it.

[2017-01-30 19:13] ignatandrei commented on #5729
Thank you for the comment , @Eilon
I have created NuGet for .NET Framework 4x , but not for .NET core.

Do you have any recommended way to create this kind of packages for .NET Core?  ( a blog post link / an msdn link?)

[2017-01-30 19:43] Eilon commented on #5729
@ignatandrei it's actually quite easy! In fact, it's hard *not* to make a package when working with .NET Core because every project by default creates a NuGet package!

[2017-01-30 21:29] Eilon commented on #5729
@ignatandrei to produce a NuGet package from your project, go to the command line, navigate to the folder of the project, and type `dotnet pack -c Release`. This will generate a "release" build of your NuGet package (and it will tell you where on disk the package was created).

[2017-01-30 21:31] ignatandrei commented on #5729
Nice. Thank you. I will put sources on github and I will update the thread.

[2017-01-30 21:55] rynowak opened #5736 "Change class-name generation for compatibility to View Compilation"
MVC is generating class names like `AspNetCore.Generated_Index` instead of names like `AspNetCore._Views_Home_Index_cshtml`. We need to use more than just the file name for generating the class name because you will end up with a lot of conflicts in view compilation.

We need to fix this and then re-enable any disabled tests in the view compilation repo.

[2017-01-31 00:02] dougbu commented on #5594
Resetting labels other than Bug and patch-proposed. @Eilon / @danroth27

[2017-01-31 00:03] dougbu commented on #5595
Proposing this for next 1.0.x patch. But is not an issue in 1.1.x.

[2017-01-31 17:09] rynowak opened #5739 "Design a stable API for interacting with MVC Razor"
We need to bring back something like `RazorTemplateEngine` for simple cshtml -> cs kinds of tasks using Razor.Evolution. Right now this is only possible with `.Internal` APIs

[2017-01-31 19:16] ChrisSfanos commented on #4992
I've added the /css/dist/css files for both 3.3.6 and 3.3.7 of bootstrap on the CDN

[2017-01-31 19:23] Eilon commented on #4992
Thanks, @ChrisSfanos !

[2017-01-31 19:23] #4992 closed

[2017-02-01 00:54] programatt commented on #4608
Is there a reason why this wasn't closed? It looks like it was fixed with the PR that @juunas11 had merged in.

[2017-02-01 00:59] Eilon commented on #4608
@programatt I believe you are correct.

@kichalla can you confirm?

[2017-02-01 03:12] Eilon commented on #5726
@blowdart BTW I'm putting this in the Discussions milestone because we don't leave bugs open in product milestones (that would imply they still have bugs 😄).

[2017-02-01 09:52] vitaliy-orlov opened #5743 "FromQuery does not support various Culture"
Hello!

Why do you use **CultureInfo.InvariantCulture** insted of **CultureInfo.CurrentCulture**?

[https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/QueryStringValueProviderFactory.cs#L28](url)

I ask it, becouse for **FormValueProviderFactory** you use **CultureInfo.CurrentCulture**

[https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Mod

[2017-02-01 10:21] nukec opened #5744 "Detected package downgrade: Microsoft.AspNetCore.Mvc from 0.0.0 to 1.0.1"
When I add FluentValidation.AspNetCore dependency in my project.json file I get this error on restore, and can't hit into controllers while debugging:

[code]

When I remove FluentValidation.AspNetCore dependecy everything works.

Project.json:

[code]

Api project.json dependencies:

[code]

net core sdk is 1.0.3

[code]

[2017-02-01 10:24] davidfowl commented on #5744
You need to report an issue on **FluentValidation.AspNetCore** to specify a package version of the  **Microsoft.AspNetCore.Mvc** dependency.

/cc @JeremySkinner

[2017-02-01 10:25] JeremySkinner commented on #5744
I'll try and get that done today. Weird it didn't come up in any of my testing.

[2017-02-01 10:27] nukec commented on #5744
I tried with lower beta versions, same issue.

[2017-02-01 10:31] JeremySkinner commented on #5744
@nukec You need to upgrade to Microsoft.AspNetCore.Mvc 1.1 to use FV's aspnetcore integration, but this isn't flagged up as the FV.AspNetCore package doesn't explicitly specify that it needs MVC 1.1, as @davidfowl  said.

I've created an issue for this over on the FV issues list, feel free to continue the conversation over there.
https://github.com/JeremySkinner/FluentValidation/issues/394

[2017-02-01 10:52] nukec commented on #5744
I just created new net.core project and added fluent validation in it and same error:

[2017-02-01 10:57] ignatandrei commented on #5729
https://www.nuget.org/packages/AspNetCore.Mvc.ImageBase64 and source at https://github.com/ignatandrei/AspNetCoreImageTagHelper

And yes, I like that my little extensions to be added in the readme of this repo ;-)

[2017-02-01 11:06] JeremySkinner commented on #5744
@nukec I've not pushed out the change yet....as I said, I'll try and do it later today. Thanks for your patience.

[2017-02-01 11:14] nukec commented on #5744
Cool changed version and error is still there, but controller is hit and i guess works. thanks @JeremySkinner

[2017-02-01 15:27] davidfowl commented on #5744
/cc @emgarten That error message is broken. It's detecting a downgrade from 0.0.0 (null) to 1.1.0

[2017-02-01 17:39] pranavkm commented on #5743
See previous discussions on this - https://github.com/aspnet/Mvc/issues/5335

[2017-02-01 19:53] emgarten commented on #5744
This is a known issue, it should be fixed in the current dotnet CLI.

[2017-02-01 19:55] Eilon commented on #5729
@ignatandrei I added a link, check it out. Thanks!

[2017-02-01 20:25] ignatandrei commented on #5729
Thank you!

[2017-02-01 20:25] #5729 closed

[2017-02-01 22:37] Eilon opened #5746 "Roslyn special warmup to improve F5 scenario performance"
_From @Yves57 on December 29, 2016 11:14_

On my (old) computer, the startup (with Visual Studio 2017 RC debugger) of a basic Web Application (created with the wizard) takes about 8800ms between the F5 click and the end of HTML page loading.

Just for fun, I tested an stupid idea: because a long time of the start in single-threaded and because Roslyn warmup takes a long time, it could save time to

[2017-02-01 23:04] ajaybhargavb commented on #5561
Spoke to @Eilon and @dougbu. We decided to flow the Model of the caller only in the cases when `null` is not explicitly passed to the `View()` method.

[2017-02-01 23:04] ajaybhargavb commented on #5597
https://github.com/aspnet/Mvc/issues/5561#issuecomment-276812012

[2017-02-01 23:12] Eilon commented on #5561
@ajaybhargavb and we should move this bug to 2.0.0, right?

[2017-02-01 23:14] ajaybhargavb commented on #5561
Yes and also https://github.com/aspnet/Mvc/issues/5597

[2017-02-02 01:06] ajaybhargavb commented on #5597
Closing as this is a dup of #5561

[2017-02-02 01:06] #5597 closed

[2017-02-02 07:04] vitaliy-orlov commented on #5743
pranavk, thx for your replay. Sorry, did not see that issue.

[2017-02-02 07:54] valentin78 opened #5751 "GetVirtualPath, get FilterDescriptors"
Hello
Please help me with one case
if I have some route, and RouteValueDictionary, how I can get FilterDescriptors for that route?
In other word, for menu item parametrized with controller name and action name, I should determine security restriction and hide it if it fail

[2017-02-02 18:09] Eilon commented on #4949
Instead of using view components, we recommend using editor templates. Simply create a CSHTML view named `~/Views/Shared/EditorTemplates/AddressDetails.cshtml`. Then, to render each of these, you would call `@Html.EditorFor(m => m.CurrentAddress)`. Then MVC will automatically use the appropriate "Editor Template" based on the type of the `CurrentAddress` property.

[2017-02-02 18:09] #4949 closed

[2017-02-02 18:15] Eilon commented on #5033
There are no plans to do anything automatic here, though there are certainly a lot of building blocks to implement this, as you have noted.

[2017-02-02 18:15] #5033 closed

[2017-02-02 18:22] Eilon commented on #5144
Given that we have good support for pre-compiling Razor views, we are closing this issue.

[2017-02-02 18:22] #5144 closed

[2017-02-02 18:41] danroth27 commented on #5187
@HaoK Is this issue going to be handle be the work you are doing on auth in 2.0?

[2017-02-02 19:06] HaoK commented on #5187
Probably you can assign this to me

[2017-02-03 09:45] fjrodriguezcom opened #5753 "ASP.NET MVC Core 1.1.0 - View with a for loop is not correctly assigning id property for @Html.HiddenFor"
I have a for in the view
`@for (int i = 0; i < Model.ListOfElements.Count; i++)`
and
`@Html.HiddenFor(model => Model.ListOfElements[i].PropertyA)`

is always rendering as
`<input type="hidden" id="PropertyA" name="PropertyA" value="X">`

same for
 `<input asp-for="@Model.ListOfElements.PropertyA" type="hidden" />`

Any help is appreciated

[2017-02-03 10:07] frankabbruzzese commented on #5753
How is declared ListOfElements in your ViewModel?
List, ICollection or IEnumerable?

[2017-02-03 16:20] #5743 closed

[2017-02-03 16:24] rynowak commented on #5751
I'd start by injecting the `IApplicationDescriptorCollectionProvider` via DI. That will give you access to the `ActionDescriptors`, which have the route values required for selection (action/controller) and the filters.

[2017-02-03 18:43] blowdart commented on #5707
Investigation completed.

Security Advisory issued : https://github.com/aspnet/Mvc/issues/5726

Fixed in 1.1.1

[2017-02-03 18:45] rynowak commented on #5707
Fixed by https://github.com/aspnet/Mvc/commit/5885feb7c01014236503b52dbd2aa6e84c0f32a9

[2017-02-03 18:45] #5707 closed

[2017-02-03 18:46] blowdart commented on #5726
Fixed by https://github.com/aspnet/Mvc/commit/5885feb7c01014236503b52dbd2aa6e84c0f32a9

[2017-02-03 19:37] #5686 closed

[2017-02-03 21:59] dtivel commented on #5482
Hey, @rrelyea, please check out the NuGet issues above.

[2017-02-04 00:04] ryanbrandenburg commented on #5552
@Eilon I assume this is an oversight but this is patch-approved not just patch-proposed right? I can go ahead with merging this commit into rel/1.1.2?

[2017-02-04 00:53] Eilon commented on #5552
Not yet approved, but soon!

[2017-02-05 06:23] leolbrj commented on #2890
@{
    Layout = null;

    var someArray = new[]
    {
        new
        {
            someProperty = ""
        }
    };
}

<html>
<body>
    @Html.NameFor(_ => someArray[0].someProperty)<br />

    @for (var i = 0; i < someArray.Length; ++i)
    {
        @Html.NameFor(_ => someArray[i].someProperty)<br />
    }

    var i = 0;
    @foreach (var item in someArray)
    {
        //ignore item

[2017-02-05 09:41] valentin78 commented on #5751
As I understand that is trick to get route data for current request. But I need generate action context data for violent request, by route data as in parameter

[2017-02-05 16:15] erwinwildenburg opened #5754 "FromRoute property empty but ModelState valid?"
Hi,

I have the following object:
[code]

And when I call the Action with the following url, it says the ModelState is valid:
`Modules(ModuleName='',ModuleVersion='')/ModuleContent");`

I would expect it would fail as the properties are not filled with a value.
I tried adding BindRequired but it doesn't help eighter sadly...

It it something I am doing wrong?

[2017-02-05 22:15] mne1991 opened #5755 "ASP.Net Core support for ARM (Raspberry Pi)"
Hello,

I want to ask if we are going to get ASP.Net Core support for ARM soon? Because I tried to run a very simple asp.net core web app on my RPi3, but with no success (although .Net core could successfully start a simple hello world console app!). Thank's!

I opened a question about that here:

http://stackoverflow.com/questions/42054399/error-in-running-asp-net-web-app-on-arm-processor-raspber

[2017-02-05 22:27] leolorenzoluis opened #5756 "Running a web app template from VS 2017 doesn't work"
With latest VS 2017 RC build and just creating a new project with the ASP.NET CORE 1.1 Template Web Application with Authorization as Individual users . It won't work.

I am using the latest .NET Core SDK.

[code]

I get the following error when in VS:
[code]

Here's the csproj:

[code]

[2017-02-05 23:30] leolorenzoluis commented on #5756
Rebuilding the nuget package fixes it.

Go to %USERPROFILE%/.nuget and clear it all.

[2017-02-05 23:30] #5756 closed

[2017-02-06 03:51] abpatel commented on #650
Any updates on this item? We are using Delta<T> in regular ApiController with Webapi 1.1
We use PATCH extensively (No ODataControllers) but since in WebAPI 2 it appears that Delta<T> does not work with JSON serializer as expected. Will this ever be natively supported?

[2017-02-06 04:03] PinpointTownes opened #5757 "Consider adding a way to use strict comparison for routes matching"
http://stackoverflow.com/questions/42048770/asp-net-core-openiddict-throws-an-openid-connect-response-cannot-be-returned-fr

Consider this action:

[code]

Oddly, either the routing stack or MVC seems to consider `/path/` requests as valid candidates for this route/action, which is incorrect as `/path` and `/path/` are two different addresses.

Is there any particular reason for this (abusive) nor

[2017-02-06 05:53] abpatel commented on #1976
Will there be support for Delta<T>for JsonMediaTypeFormatter for the full .NETFX WebAPI?

[2017-02-06 07:31] PinpointTownes commented on #5757
After some research, it looks like it matches what ASP.NET MVC and Web API used to do (but not WCF Web API, AFAICT), so I guess it's one of those "by design" decisions.

Unfortunately, this behavior makes the routing stack pretty much inconsistent with the rest of ASP.NET Core, where path comparisons are case-sensitive and take the trailing slash into account (e.g all the security middleware).

Si

[2017-02-06 20:52] Eilon commented on #5757
This issue was moved to aspnet/Routing#380

[2017-02-06 20:52] #5757 closed

[2017-02-07 03:43] hxq1988 opened #5758 "Anonymous ID in dotnet core"
Can you please let me know how to get Anonymous ID in .net core mvc. In Asp.net MVC 4 i can use Request.AnonymousID but I don't known how to get it in .net core.

[2017-02-07 04:51] davidfowl commented on #5758
There's no equivalent of Request.AnonymousID in ASP.NET Core. There is no port of the anonymousIdentification feature. You'd have to write your own middleware to do this.

[2017-02-07 07:23] crozone commented on #5755
Your best bet is to follow the instructions here:

https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

However IIRC .NET Core is still being brought up on ARM. The JIT and runtime still aren't 100% and you may hit bugs.