[2018-10-31 17:04] webwizgordon commented on #8670
I have some more information regarding this issue. The issue is not specific to the `AutoValidateAntiforgeryTokenAttribute` or `ValidateAntiforgeryTokenAttribute`.

It appears to apply to any `AuthorizationFilter`. What I believe is happening, is that the filter runs a second time for the re-executed request and so the re-executed context also gets a status code change and returns a blank page so

[2018-10-31 17:20] mkArtakMSFT opened #8678 "Create an Analyzer to prevent usage of reserved keywords in code"
People are hitting these type of issues more and more: https://github.com/aspnet/Mvc/issues/7876
The idea is to have an Analyzer which will be aware of all the reserved words we have in different places and will warn users about their name choices.

@rynowak what are your thoughts about this?

[2018-10-31 17:22] mkArtakMSFT opened #8679 "Analyzers to prevents users from using reserved words"
People are hitting these type of issues more and more: https://github.com/aspnet/Mvc/issues/7876
The idea is to have an Analyzer which will be aware of all the reserved words we have in different places and will warn users about their name choices.

@rynowak what are your thoughts about this?

[2018-10-31 17:22] #8679 closed

[2018-10-31 17:22] mkArtakMSFT commented on #8679
Created a duplicate by mistake

[2018-10-31 17:23] #8676 closed

[2018-10-31 18:19] javiercn commented on #8670
@webwizgordon Can you put [IgnoreAntiforgeryToken] in your /Home/Error action? I'm guessing that the issue is that there is an antiforgery error and that when the request is re-executed, the antiforgery error is produced again due to nothing changing on the request and that's most likely why the page is not rendering.

None of the individual parts you are using is wrong, but the combination of bot

[2018-10-31 18:21] pranavkm opened #8681 "Investigate dotnet-getdocument.exe produced as part of updating to 3.0 SDK"
When updating to the 3.0 SDK, the publish output of `dotnet-getdocument` has a `dotnet-getdocument.exe`. Need to figure out what it's deal is

[2018-10-31 18:50] rynowak commented on #8678
If we limit this to parameters that seems fine. If I made a list of things to have analyzers for, I think this would be roughly in the middle 👍

[2018-10-31 19:35] dougbu commented on #8625
@ciacco85 thank-you for your feedback. We're closing this issue as no updates have been provided in a timely manner and we have been unable to reproduce the issue. If you have more details and are encountering this issue, please add a new reply and re-open the issue.

In particular,

Please provide the view component source, both C# and the `.cshtml` file (if any)

Where?

That's a good approach i

[2018-10-31 19:35] #8625 closed

[2018-10-31 19:47] rynowak commented on #8622
Routing does support multiple values - though it might not be what you want.  You can pass any `IEnumerable` as a route value and it will be appended to the query string by repeating the key.

Ex:
[code]

Produces:
[code]

Does this help or are you looking for something else?

[2018-10-31 20:47] webwizgordon commented on #8670
That is such an obvious solution to this issue that I am embarrassed to say that I did not think to try it. The error page is indeed displayed as expected when `[IngoreAntiforgeryToken]` is used on the Error action.

There may be scenarios where other `IAuthorizationFilter` implementations do not provide a similar mechanism to opt-out. But I suppose in such a case, it would be up to the implementa

[2018-10-31 20:52] javiercn commented on #8670
@webwizgordon Yep. The framework can't do anything on the general case, it needs to be done by each filter. I'm glad that we were able to solve the issue.

[2018-10-31 20:53] javiercn commented on #8670
Closing as there's no more action to be taken here, the behavior is by design.

[2018-10-31 20:53] #8670 closed

[2018-10-31 20:56] poke commented on #8678
To pick up an idea I had before: Is there any chance we could change this, maybe with 3.0, so that internally different keys are used? We could maybe use a feature flag, so people could always choose the old behavior for compatibility.

[2018-10-31 22:35] dougbu commented on #7353
a6199bbfba

[2018-10-31 22:35] #7353 closed

[2018-10-31 22:38] dougbu commented on #8425
RSuter/NSwag@914e36b24a

[2018-10-31 23:55] Blastnsmash opened #8684 "CompilationFailedException for cshtml files over 20MB"
#### Is this a Bug or Feature request?:
I dont know - it may be intended but hoping for an override?

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Serve up a cshtml page that's over 20MB in size

#### Description of the problem:
Microsoft.AspNetCore.Mvc.Razor.Compilation.CompilationFailedException: 'One or more compilation failures occurred:
error CS8103: Comb

[2018-11-01 02:20] yqszt commented on #8667
@pranavkm thank you so much, `IMvcBuilder.AddControllersAsServices` resolved my issue perfectly, although it's a magic for me now, there are lot of things in mvc, like `ITypeActivatorCache`,`ControllerFactory`,`IControllerPropertyActivator` etc.  activate a controller instance is not as easy as i thought.

[2018-11-01 02:20] #8667 closed

[2018-11-01 16:55] mkArtakMSFT commented on #8684
Thanks for contacting us, @Blastnsmash.
Can you give us more information regarding your scenario. It's unclear what you're trying to do.

[2018-11-01 17:41] javiercn commented on #8647
Pranav took care of this

[2018-11-01 17:41] #8647 closed

[2018-11-01 18:28] mkArtakMSFT commented on #8636
Thanks for contacting us, @BenjaminAbt.
@dougbu, can you please look into this? Thanks!

[2018-11-01 20:19] dougbu commented on #8636
@BenjaminAbt I _believe_ your comments are similar to your confusion about `[ApiController]` and how that affects `ModelState.IsValid` checks in aspnet/Docs#9175. Your questions were answered there and aspnet/Docs#9377 may improve things for other readers.

In particular,

I'm positive it works in many cases. But, it should be improved to use `ModelName` and not `BinderModelName`. I've asked @scot

[2018-11-01 21:57] mkArtakMSFT commented on #8684
@Blastnsmash, the error you're seeing is a limitation in Roslyn. You can work around that by trying to split your view content into multiple Views. A sample project with a repro would allow us to give you a better guidance.

[2018-11-01 22:12] dougbu commented on #8636
@BenjaminAbt MVC client-side validation, model binding and server-side validation work as they're intended to work (with a few small corner cases we continue to address).

The documentation for `[ApiController]` already mentions such things as automatic 400 responses -- see https://docs.microsoft.com/en-ca/aspnet/core/web-api/?view=aspnetcore-2.1#automatic-http-400-responses And, there too, we con

[2018-11-01 22:15] javiercn commented on #8635
I've taken a look at the repro project. Having different models for rendering the views and binding the models is not very well supported by MVC. It can be made to work, but it requires additional work.

The normal recommendation is to have the same model for rendering the views and binding the data to actions. When it comes to the validation summary, it seems that we have a feature gap here. It's

[2018-11-01 22:17] BenjaminAbt commented on #8636
If you say the reported behavior of `bindingContext.Result = ModelBindingResult.Success(null)` is like it should be... then we could close this issue..

[2018-11-01 22:19] dougbu commented on #8636
There's nothing wrong with the `Success(...)` method accepting `null` because, for many models, `null` is valid.

[2018-11-01 22:19] #8636 closed

[2018-11-01 22:29] BenjaminAbt commented on #8636
Mh.. did you read what I've written???

[2018-11-02 05:28] dougbu commented on #8636
@BenjaminAbt I've responded to your points, read your sample, and provided guidance.

There's no difference in behaviour between `Success(null)` and `Success(object)` -- both indicate success for the particular bound property. Your sample doesn't show anything different.

I don't have time to review all of the issues in your model binder. But, I suspect you've got entries in `ModelState` that are

[2018-11-02 06:03] dougbu commented on #8636
Backing up, your scenario has no need of a custom model binder. Bind the identifier and do the lookup in the action, returning `NotFound()` when appropriate.

[2018-11-02 17:48] Blastnsmash commented on #8684
Is it possible to tell MVC to specifically not process certain elements on the page? For example, most of the content is actually static content and should be ignored. Namely all the svg elements.

[2018-11-02 18:13] lil-Toady opened #8687 "BodyModelBinder should make use of model providers when binding models"
Currently only ComplexModelBinder is making use of other model binders when binding model properties, while BodyModelBinder is relying on underlying formatter to convert values.

If we have a look at the example of custom model binder described [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.1), it will only work for route values, and not if

[2018-11-02 19:46] BenjaminAbt commented on #8636
@dougbu I understand that you have not much time. But I don't understand that you don't want to read the problem I'm describing here properly.

If you say that this is not an appropriate scenario, why does Microsoft show this exact scenario in the documentation?
https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.1#custom-model-binder-sample

This bug r

[2018-11-02 20:39] mkArtakMSFT commented on #8684
@Blastnsmash, can you host a similar file (cshtml) in GitHub or just share the portion of it here with some comments instead of huge SVG conent so we can see what it looks like?

[2018-11-02 20:52] dougbu commented on #8636
The difference you're seeing is between adding `ModelState` entries with a name unknown to the rest of the system (`id`) and the correct name. Again, use `ModelName`, make sure the names align, and use a debugger if that's insufficient.

Nothing about the success or failure of your scenario is attributable to the model binding system or supposed differences between `Success(null)` and `Success(obj

[2018-11-04 07:08] wutever0 commented on #8635
Thank you @javiercn

I just felt it was cleaner and unfortunately having the same model for rendering views and binding data to actions comes with its own set of issues.
In my scenario I would not be able to use DataAnnotations like Required on the model properties as only a subset of the model is involved in one action and another subset in another action but both would trigger invalid model stat

[2018-11-05 03:31] xiaotupansy opened #8688 "Is it possible to provide an independent object validator for Model"
#### Is this a Bug or Feature request?:
Feature request

What I want is an independent object validator for Model that can be used anywhere without binding to Controller.

Here's the sample usage:
`ObjectValidator<MyModel>.Validate(myModelEntity) returns true or false.`

Like json schema.
https://github.com/tdegrunt/jsonschema
Sample json schema code for validation:
var validate = require('jsonsch

[2018-11-05 03:47] rynowak commented on #8688
We have no plans to provide something like this in the framework. MVC's validation features are deeply tied to details of how the framework understands model objects and how it tracks validation errors.

[2018-11-05 13:16] lil-Toady commented on #8687
Could probably pass <Type,IModelBinder> dictionary in InputFormatterContext, which would keep backwards compatibility with IInputFormatters that haven't implemented support for this yet.

As for json, that would create a JsonConverter that would attempt to read value as string and pass to corresponding IModelBinder, but preserving correct ModelBindingContext could be an issue.

Also, Newtonsoft.Js

[2018-11-05 18:13] mkArtakMSFT commented on #8687
Thanks for contacting us, @lil-Toady.
@dougbu, can you please look into this? Thanks!

[2018-11-05 18:14] #8688 closed

[2018-11-05 20:43] lil-Toady commented on #8687
Hi, @dougbu !

I'll try to explain what I'm proposing in detail:

Currently model binding from route values, query string, headers goes by getting the values from `IValueProvider` which comes in `ModelBindingContext` and instantiating corresponding models. But that is not the case when we want to bind model from body.

Say we have our models:
[code]

and create our custom model binder `FooBinder`

[2018-11-05 20:59] pranavkm opened #8689 "[Discussion] Making "pubinternal" types in MVC internal"
In ASP.NET Core, `pubinternal` types are types that are declared as `public` but put in an `.Internal` namespace. While these types are public they have no support policy and are subject to breaking changes. Unfortunately accidental use of these types has been common, resulting in breaking changes to these projects and limiting our ability to maintain the framework.

In ASP.NET Core 3.0, we are up

[2018-11-05 21:03] Sebazzz commented on #8689
Is that an autocompletion problem? What about hiding through `[EditorBrowsable(EditorBrowsableState.Never)]` in release builds?

[2018-11-05 21:03] pranavkm commented on #8689
cc @khellang and @poke since you were involved in the discussion in the PR I sent out earlier. Here are some of the more specific reasons why we're considering doing this:

* Many aspects of MVC’s design ask extenders to inherit or new up a type. Sometimes these types would inject a pubternal type and then were subject to being broken. E.g.:

    * https://github.com/aspnet/Mvc/blob/release/2.2/sr

[2018-11-05 21:15] dasMulli commented on #8689
Is this decision limited to MVC or have there been discussions about doing something similar for EF Core? (asking because we currently have tools that use some pubinternal EF types because they are really useful for doing weird things and saved us a lot of time - but we fully accept that there is no support policy or API stability whatsoever)

[2018-11-05 21:17] pranavkm commented on #8689
@Sebazzz that's an idea that I hadn't considered and it would certainly help in accidental use. That said, it doesn't help with our servicing patch story which is one of the primary reasons we want to consider moving away from it's use.

@dasMulli, this is limited to the MVC repo. We had an internal discussion about this and the EF Core team was happy with their current use of pub internal types.

[2018-11-05 23:19] pranavkm opened #8690 "LinkGeneration for Razor Pages seems to be broken in MvcSandbox \ master"
* Run `MvcSandbox` sample from this repo

**Expected**

Link says `/PagesHome`

**Actual**

Link says `/endpoints?page=%2FPagesHome`

[2018-11-05 23:19] pranavkm commented on #8690
cc @JamesNK

[2018-11-05 23:42] Jetski5822 commented on #8689
@sebastienros are we affected??

[2018-11-05 23:43] sebastienros commented on #8689
No, it's taken care of

[2018-11-06 00:13] pranavkm commented on #8644
The `Task` produced as a result of `PartialAsync` will continue to execute in the background which puts you firmly in multi-threaded territory. None of the view rendering APIs in MVC are thread safe, what you're attempting to do isn't a supported scenario.

[2018-11-06 00:13] #8644 closed

[2018-11-06 01:19] pranavkm opened #8692 "Unwrap reflection exceptions when doing reflection on user code"
See https://github.com/aspnet/Mvc/issues/8531#issuecomment-426850989

The suggestion is to catch `LoaderExceptions` etc when loading user types and unwrap it to produce a more meaningful error.

[2018-11-06 01:19] pranavkm commented on #8531
@dilushi sorry for the delay, I just got around to trying your scenario out. I was able to build \ publish and run your application without issues. The `NETCoreApi` app you pointed to is running on .NET Core (as opposed on .NET Framework) so the GAC isn't really involved here. .NET Core ships it's own copy of the ServiceModel assembly, so copying the one from .NET Framework is likely not be the co

[2018-11-06 10:15] HassanHashemi commented on #786
@yishaigalatzer

Having `ValidateAsync` is actually very useful in many scenarios, particularly in `CQRS` applications where the model object is directly considered as `Command` or `Query` and thus the validation is part of business logic, In that case putting validation inside a filter is just leaking the business logic to UI layer.

[2018-11-06 16:06] RoboBurned commented on #415
Microsoft.AspNetCore.All 2.1.5
`The name 'TryUpdateModel' does not exist in the current context`

[2018-11-06 16:14] jeremycook commented on #8689
I see both sides but ultimately prefer y'all being able to move forward with confidence. It has been very nice in a few rare cases to just depend on a .Internal type instead of having to find the source code for it and copy-paste to reproduce the same outcome. In the future when I need to do that I will open an issue suggesting that an internal class be promoted to public. Thank you for announcing

[2018-11-06 17:16] PeteX commented on #8689
A while ago I wrote some code that allowed [Kestrel to be started up without ASP.NET](https://github.com/PeteX/StandaloneKestrel).  I did it because I was curious to know if it could be done, and the answer seems to be yes, but unless I've missed something you need `Microsoft.AspNetCore.Hosting.Internal` and `Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal`.

Standalone Kestrel seems

[2018-11-06 17:39] mkArtakMSFT commented on #8634
Thanks for your feature request, @jholovacs.
After reviewing this ask we've decided that this is not something we will do as part of the ASP.NET Core framework. If you wish to implement it yourself, The way we did added the `HeaderModelBinder` would be a good example to follow: https://github.com/aspnet/Mvc/pull/7294

[2018-11-06 17:39] #8634 closed

[2018-11-06 17:45] mkArtakMSFT commented on #8540
@JamesNK, @rynowak while this will be an easy thing to do, why not to avoid exposing an additional API surface and let developers to take dependency on `LinkGenerator` directly?

[2018-11-06 17:59] mkArtakMSFT commented on #8322
Thanks for your feature request. This is not something we plan to add support for in the near future.

[2018-11-06 17:59] #8322 closed

[2018-11-06 18:07] pranavkm commented on #8689
@PeteX we're specifically changing types in the namespaces listed above. Neither of the namespaces you listed above are affected by this particular change \ announcement.

[2018-11-06 18:44] RoboBurned commented on #415
@pranavkm, I see async version, but there is no TryUpdateModel.
I will use this approach even if it looks more complicated.
`TryUpdateModelAsync(user, ...).GetAwaiter().GetResult();`

[2018-11-06 18:49] pranavkm commented on #415
Use `await TryUpdateModelAsync(...);` in your controller action. Doing a blocking call (`GetResult`) may result in thread pool starvation and application deadlocks.

[2018-11-06 19:59] tillig commented on #8689
It'd be nice to see some more specific info on things you might be considering exposing as public. Stuff we've used in various ways in one manner or another that I can see include things like...

- Exceptions (e.g., `AmbiguousActionException`)
- Classes named "default" that have both public constructors and virtual methods (e.g., `DefaultFilterProvider`) - these seem like reasonable jumping-off po

[2018-11-06 20:15] k3ldar opened #8693 "Empty path name is not legal"
I was attempting to run my Core 2.1 website and received the above error, stack trace is below.

When I traced it through, the MetadataReferenceFeatureProvider was adding an empty string in this statement:

if (libraryPaths.Add(path))

This then got populated down to System.Io.File constructor where the exception was raised.

I am not sure if this is my configuration or not at this stage, but eith

[2018-11-06 20:15] RoboBurned commented on #415
@pranavkm I cannot use await because my action is not async

[2018-11-06 20:28] dougbu commented on #8687
As long as `Bar` is the topmost class that's bound from body, create a custom model binder for `Bar` that takes an `IModelBinder` and have the corresponding model binder provider pass a `BodyModelBinder` instance.

It's already possible to use `[FromBody]` and / or `BodyModelBinder` to bind (input format) properties of a higher-level model. This change would fundamentally alter what a value provid

[2018-11-06 20:40] yugabe commented on #6816
@wpo365 Sure. Elaborating on the example I outlined above, let's say you got 3 projects to keep things very clean.

Your `Core` project doesn't reference anything, and only contains your main POCO models, and the interfaces of your own domain services. This project contains the `IJsonSerializer` interface, which you an consider a service (infrastructe though, not domain, but it's irrelevant in thi

[2018-11-06 21:59] pranavkm opened #8694 "Review pubinternal types made public in 3.0"
As part of https://github.com/aspnet/Mvc/pull/8646, some types that were formerly `pubinternal` but exposed via `public` API surface were made `public`. Review these types. If we land on leaving the types `public`, add documentation to it.

* `Microsoft.AspNetCore.Mvc.Controllers.IControllerPropertyActivator`
* `Microsoft.AspNetCore.Mvc.Infrastructure.ITypeActivatorCache`
* ` Microsoft.AspNetCore.

[2018-11-06 22:15] delraydavis commented on #6646
unless I am not understanding the issue, I think adding the [Produces("application/json")] decorator to the class should address the problem

[2018-11-06 22:58] mkArtakMSFT commented on #8534
@rynowak, what is left to be done here?

[2018-11-06 23:00] pranavkm commented on #8689
@tillig my current plan was to only make `pubinternal` types `public` if they were previously exposed as part of a `public` API.

* `AmbiguousActionException` - End point routing does it's own exception: https://github.com/aspnet/Routing/blob/8c4f187c225e2e6d73383aa204dd2bc5d22c6b1e/src/Microsoft.AspNetCore.Routing/Matching/AmbiguousMatchException.cs. It might be useful to see if there's a more me

[2018-11-06 23:15] tillig commented on #8689
@pranavkm

I'm not sure that narrows it down. For example, looking at the `AmbiguousActionException` and `AmbiguousMatchException` examples... ASP.NET MVC [classic] [appears to have used the `System.Reflection.AmbiguousMatchException`](https://github.com/aspnet/AspNetWebStack/blob/749384689e027a2fcd29eb79a9137b94cea611a8/src/System.Web.Mvc/ActionMethodSelectorBase.cs#L86) from the [BCL](https://gi

[2018-11-07 00:20] aventurella commented on #5164
I have the same need. I need to get a Url outside of a request. The

**Startup.cs**
[code]

[2018-11-07 02:52] dougbu commented on #8499
Your repro project uses `XmlDataContractSerializerInputFormatter` (as well as additional subclasses of the built-in `TextInputFormatter`). In all cases, `XmlDataContractSerializerInputFormatter` throws a `SerializationException` and the formatter adds the expected error to `ModelState` (`"An error occurred while deserializing input data."`) I've tested multiple Microsoft.AspNetcore.All versions (w

[2018-11-07 05:36] davidfowl commented on #415
@RoboBurned make the action asynchronous instead.

[2018-11-07 10:33] mansoor-omrani commented on #7152
I created a [pull request](https://github.com/aspnet/AspNetWebStack/pull/207) for code changes in my fork. I was working on legacy MVC.

[2018-11-07 13:21] andrecarlucci opened #8696 "Custom naming when binding nested objects as properties of a model in controllers actions"
Hi guys,

I'm creating another API with .net core mvc 2.2.
Every time we have some date as a parameter, we follow the same behavior. I need a date start, date end or a relative time info as parameter (today, yesterday, this month, last month, etc).

So imagine a bill report and I want to bring all bills with reference date between X and Y, but I also want to filter by generated bill date between Z

[2018-11-07 16:21] IssamTechs commented on #4160
referencing problem
for example :
employee {
                  .... ,
                 customer
                 }
customer {
                 .... ,
                employee
                }
usually when you face certain scenarios of  reference  problem you can solve it either:
1)adding Json configuration to bypass this error like
`services.AddMvc().AddJsonOptions(options => {
                op

[2018-11-07 20:21] webwizgordon commented on #8670
Would it make sense for the default scaffolded Error action to have the `[IgnoreAntiforgeryToken]` attribute out of the box?

[2018-11-07 22:33] mkArtakMSFT commented on #8622
@schmitch, can you please confirm that @rynowak's suggestion resolves your issue?

[2018-11-08 00:08] pranavkm commented on #8689
@tillig that's a fairly long list. As part of making types in the `Microsoft.AspNetCore.Mvc.Core` assembly internal in this PR - https://github.com/aspnet/Mvc/pull/8646, there are close to 100 types that are being made internal. I'm not sure it'll be very productive to list them in this discussion.

That said, I'm happy for you to join to the feedback and identify types that may be of interest to

[2018-11-08 01:12] pranavkm commented on #8644
async in views is to allow for performing non-blocking calls. Most parts of the framework aren't designed to be thread safe, so it's difficult to recommend a solution where independent components can work concurrently in isolation. Your best bet would be to do the work up front as part of your controller action where you can do parallel work and forward the results to the view.

[2018-11-08 07:54] schmitch commented on #8622
well to be fair multiple values can be used as route values already, even without `Url.Action`, by just creating the string by yourself.
`Url.Action` makes things even more confusing, since obvisiously the implementation differs from `asp-all-route-data`, which makes this issue even worse.

[2018-11-08 09:46] troncomputers opened #8698 "Trying to return json from page handler but it's returning html code (Razor Pages)"
#### Is this a Bug or Feature request?:
Bug (I think)

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Just try to return json from page handler.
[code]
Index.cshtml.cs
[code]
Index.cshtml
[code]

#### Description of the problem:
Page handler returns html not json. I'm trying to use DataTables helper:
[LZorglub/DataTables.AspnetCore.Mvc](https://github.com/LZorgl

[2018-11-08 11:35] fabercs opened #8699 "Pass generic type/list to ViewComponent's Invoke method"
#### Description of the problem:
I want to make a generic list component in my application. List components are called as follows;
`@await Component.InvokeAsync("ListComponent", new { list = Model.List, columnsList= "Subject,Description" })`

The list in `Model.List` contains a `List<T>` where `T` is a type derived from a base `IEntity`.
Here the components `Invoke`
[code]
this works fine, however

[2018-11-08 16:38] sandillio opened #8700 "IsAuthenticated is false when moved to the IIS server with Azure AD .Net Core 2.1"
#### Is this a Bug or Feature request?:

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCore.All`:

[2018-11-08 16:43] sandillio commented on #8700
Works perfectly on my local machine but when moved to server it returns false.

My Configure Services method looks like this
        public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<CookiePolicyOptions>(options =>
            {
               options.CheckConsentNeeded = context => true;
                options.MinimumSameSitePolicy = SameSiteMode

[2018-11-08 17:36] mkArtakMSFT commented on #8700
Thanks for contacting us, @sandillio.
@javiercn, can you please look into this? Thanks!

[2018-11-08 17:37] mkArtakMSFT commented on #8699
Thanks for contacting us, @fabercs.
@dougbu, can you please look into this? Thanks!

[2018-11-08 17:57] mkArtakMSFT commented on #8698
Thanks for contacting us, @troncomputers.
You should use a certain naming convention so the handler is hit.
Try to rename the handler to `OnGetPageData` but leave the `asp-page-handler="PageData"`.

[2018-11-08 18:01] javiercn commented on #8700
@Tratcher I believe this is all yours

[2018-11-08 18:05] Tratcher commented on #8700
Can you share a Fiddler trace of the scenario?

[2018-11-08 18:06] Tratcher commented on #8700
Where are you calling IsAuthenticated?

[2018-11-08 18:30] mkArtakMSFT commented on #8696
Thanks for contacting us, @andrecarlucci.
@dougbu, can you please look into this? Thanks!

[2018-11-08 18:31] mkArtakMSFT commented on #8684
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-08 18:31] #8684 closed

[2018-11-08 19:00] sandillio commented on #8700
Here is the Fillder Trace
![image](https://user-images.githubusercontent.com/31872720/48220919-90c41280-e35e-11e8-9952-dba579c8306e.png)

[2018-11-08 19:02] sandillio commented on #8700
This is how I am signing in
var redirectUrl = Url.Action(nameof(HomeController.Status), "Home");
return Challenge(new AuthenticationProperties { RedirectUri = redirectUrl }, WsFederationDefaults.AuthenticationScheme);
And then in Status I am checking for IsAuthenticated which coming as False

[2018-11-08 19:03] dougbu commented on #8696
@andrecarlucci thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. Am I correct that, with the `Name` values described, `reference.date-start` et cetera works fine?

If so, a feature to convert period to something else is a pure enhancement. I expect problems will arise in the model binding system

[2018-11-08 19:09] Tratcher commented on #8700
Please upload the fiddler trace file rather than a screenshot. You can send it to the e-mail in my profile if you don't want it to be public.

I expect your problem is with the Wreply option, that shouldn't point to a page in your app, but to a url handled directly by the middleware.. Use [CallbackPath](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetc

[2018-11-08 20:06] sandillio commented on #8700
@Tratcher So I have removed Wreply and added callback path but now I am getting the error saying the reply URL is not matching.

.AddWsFederation(WsFederationDefaults.AuthenticationScheme, options =>
            {
                options.MetadataAddress = "MetaDataAddress";
                options.Wtrealm = "WtRealm";
                options.CallbackPath = "/Home/Status";
                options.S

[2018-11-08 21:15] Tratcher commented on #8700
CallbackPath should not reference a page in your app, it should be a dedicated endpoint like the default value "/siginin-wsfed".

[2018-11-08 21:53] pranavkm commented on #8693
@mkArtakMSFT the type's marked obsolete and will be removed in 3.0. Seeing that there's a reasonable workaround, should we close this issue?

[2018-11-08 22:20] sandillio commented on #8700
@Tratcher So I have changed my CallBackPath  = "/AzureADDemo", my Reply Urls in AzureAD as "https://mydomain/AzureADDemo" since this is the endpoint referring to Wreply and I still get reply url not matching error. Please correct me as I am going wrong and having difficulty understanding this ADD.

[2018-11-08 22:22] Tratcher commented on #8700
What's the exact error and where do you get it? That doesn't sound like an ASP.NET error, is it coming from AAD?

[2018-11-08 23:30] pranavkm opened #8703 "Allow returning HttpResponseMessage from MVC (non-WebApiCompatShim) controllers"
Based on discussion in https://github.com/aspnet/Mvc/issues/8570#issuecomment-431892499

[2018-11-08 23:30] pranavkm opened #8704 "Allow throwing HttpResponseException from MVC (non WebApiCompatShim) controllers"
Based on discussion in https://github.com/aspnet/Mvc/issues/8570#issuecomment-431892499

[2018-11-08 23:41] pranavkm commented on #8570
@PinpointTownes I've filed a couple of follow up issues (https://github.com/aspnet/Mvc/issues/8703, https://github.com/aspnet/Mvc/issues/8704) based on this discussion.

A rewriter (Roslyn codefix?) certainly sounds like an interesting idea, I'm not entirely sure how well it'd for all but the most trivial of user codes. That said, the nice part about writing Roslyn extensibility is that the commun

[2018-11-08 23:50] Tratcher commented on #8700
You're going to need to work that out with AAD. The only advice I can give is that you need to be very careful of the value, AAD has been known to require exact matches, even case sensitive.

[2018-11-09 02:05] tillig commented on #8689
`public interface IActionSelector` has docs that say it throws `AmbiguousActionException` but that exception just got made internal. I added a comment to #8646.

[2018-11-09 06:48] fabercs commented on #8699
@mkArtakMSFT , @dougbu  I have checked my code with a refreshed eye and `Invoke` parameter name and anonymous type parameter name in caller were mismatching.  No worries.

[2018-11-09 06:48] #8699 closed

[2018-11-09 12:55] Steveiwonder opened #8708 "Multiple view folders, ViewImports.cshtml & Customer TagHelper duplicates html elements."
#### Is this a Bug or Feature request?: Bug (I think)

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/Steveiwonder/MvcTagHelperBugExample/tree/master/WebApplication11

#### Description of the problem:

I'm not sure how to explain this without over complicating it but I'll try. Everything i talk about can be seen in the example repository linke

[2018-11-09 13:27] Steveiwonder opened #8709 "HtmlFieldPrefix generated with "z_""
#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Create a form
[code]
#### Description of the problem:
When using any HtmlFieldPrefix that begins `__` (double underscore) the output html is incorrect, it converts the first `_` to `z` for the id only

So the above form would look like:
[code]

I can reproduce this in a c

[2018-11-09 14:13] TKharaishvili opened #8710 "Trouble building source"
After cloning the master branch and running `build.cmd`, I ran into the following problem:

![image](https://user-images.githubusercontent.com/4363170/48266595-45d2f980-e449-11e8-8df0-10ccd6efbb64.png)

It might be relevant to note that running it with the compile flag - `build.cmd /t:compile` - works successfully.

Afterwards I tried to open the solution - `Mvc.sln`, but found no luck there eithe

[2018-11-09 16:49] rynowak commented on #8703
I think that this is something we could definitely do easil

We'd need to port these into `Mvc.Core`:
https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim/HttpRequestMessage/HttpRequestMessageFeature.cs
https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim/HttpRequestMessage/HttpRequestMessageModelBinder.cs
https://github.com/asp

[2018-11-09 16:52] rynowak commented on #8704
I don't think that there's a technical reason why we we couldn't do this, but redefining `HttpResponseException` inside the shared framework gives me pause.

There's such a small amount of code here if we port the formatter.... Could this work as a sample?https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim/HttpResponseExceptionActionFilter.cs

[2018-11-09 17:51] pranavkm commented on #8704
@glennc assigning this to you for specs. Let's try and figure this out in in a Design Review.

[2018-11-09 17:57] pranavkm commented on #8710
@TKharaishvili can you a list the tests that are failing? I was able to build the repo successfully now, so it might be a machine specific (possibly locale specific) test failure.

See https://github.com/aspnet/AspNetCore/wiki/Building-from-source#building-in-visual-studio--code for steps required to build from source.

[2018-11-09 18:18] Blastnsmash commented on #8684
Thanks for the suggestion, breaking up the document into either partial views or view components works just fine - it also helps Visual Studio handle large documents. I apologize for the delay. Thanks again.

[2018-11-09 19:06] ehouarn-perret commented on #6224
That's exactly the kind of thread I was looking for :)
@davidfowl
I am using the `IAsyncEnumerable` (I mean that one: https://github.com/Dasync/AsyncEnumerable not the thing that is not available yet: https://github.com/dotnet/csharplang/blob/master/proposals/async-streams.md) and generally-speaking it works fine.
Actually in my case (which is basically about streaming modified lines of a some res

[2018-11-09 19:41] pranavkm opened #8711 "Move Microsoft.AspNetCore.Mvc.Razor.Internal.RazorInjectAttribute to a non-internal namespace"
As part of https://github.com/aspnet/Mvc/pull/8706, `RazorInjectAttribute` was left in the `.Internal` namespace since it's referenced by Razor codegen. Tracking issue to address this

[2018-11-09 19:56] MarcusKohnert opened #8712 "[pubinternal] JsonSerializerObjectPolicy"
#### Description of the problem: #8689

We are using `Microsoft.AspNetCore.Mvc.Formatters.Json.Internal.JsonSerializerObjectPolicy` because we want to get hold of a `JsonSerializer`  from the `ObjectPool`.

#### Use case:
We retrieve a Json-String from a DB and want to serialize it to the client as a string property on an object. But the to-string-serialized-json needs to be in the same format as

[2018-11-09 19:56] MarcusKohnert opened #8713 "[pubinternal] QueryCollection"
#### Description of the problem: #8689
`Microsoft.AspNetCore.Http.Internal.QueryCollection`

#### Use case:
In UnitTests we instantiate concrete objects of type `QueryCollection` to assign those instances to httpContext.Request.Query to establish a test context.

[code]

[2018-11-09 20:02] pranavkm commented on #8713
cc @Tratcher

[2018-11-09 20:09] Tratcher commented on #8713
Does the pubternal effort extend beyond the MVC packages?

[2018-11-09 20:13] dougbu commented on #8696
@andrecarlucci could you clarify your "Bug in the swagger frameworks or in the ApiExplorer"?

For one thing, it's not clear from your examples whether the "Swagger generated call" is about NSwag or Swashbuckle's Swagger 2.0 / Open Api 3.0 document generation or their UIs. Have you checked the JSON documents?

[2018-11-09 20:37] TKharaishvili commented on #8710
@pranavkm rearranging path variables did the trick, I can now build it successfully with VS.
Thank you so much and I hope I didn't cost you too much time. I'm now gonna close the issue.

[2018-11-09 20:37] #8710 closed

[2018-11-09 20:40] pranavkm commented on #8713
Not that I know of. @MarcusKohnert the type's not in one of the namespaces listed in the linked issue, there are no current plans to change it's `pubternal` status.

[2018-11-09 20:40] #8713 closed

[2018-11-09 20:45] MarcusKohnert commented on #8713
👍 alright. Sorry for the confusion. Only searched for .Internal in our code base. Is this `pubinternal` thing a common pattern? I've never heard about it before. Will keep an eye out in the future.

[2018-11-09 20:47] pranavkm commented on #8712
You should be able to construct a `JsonSerailizer` using `MvcJsonOptions.SerializerSettings` without much ceremony - in fact that's what the policy does:
https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNetCore.Mvc.Formatters.Json/Internal/JsonSerializerObjectPolicy.cs#L27.

If you do need to pool your `JsonSerializer` settings, I'd recommend just copying the type. The fact that the form

[2018-11-09 20:48] Tratcher commented on #8713
It's common in our code base. I haven't seen it elsewhere.

[2018-11-09 22:21] rynowak commented on #8534
This is done. We discussed this with @blowdart  and the decision was to document the risks and mitigations of these APIs (which I did here: https://github.com/aspnet/Mvc/commit/67a1f2dda9bcb5795033b0c0ce775d931627fe17

[2018-11-09 22:21] #8534 closed

[2018-11-09 22:33] rynowak commented on #8540
I don't understand the question.

I also don't think we should do this. It's easy to `@inject LinkGenerator` rather than building it into a library.

[2018-11-09 22:37] rynowak commented on #5164
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-11-09 22:41] rynowak commented on #8692
`ReflectionTypeLoadException` is worth special casing. I always find this one annoying.  Should this be part of the diagnostics page?

[2018-11-09 22:52] rynowak commented on #8711
Note that this will require https://github.com/aspnet/Razor/issues/2612 to be completed also or VS will show errors for 3.0 apps.

[2018-11-09 22:55] pranavkm commented on #8643
Fair enough, that seems like a reasonable argument. Closing this

[2018-11-09 22:55] #8643 closed

[2018-11-09 23:41] #8712 closed

[2018-11-09 23:51] mkArtakMSFT commented on #8709
Thanks for contacting us, @Steveiwonder.
@NTaylorMullen, can you please look into this? Thanks!

[2018-11-09 23:53] #8681 closed

[2018-11-10 00:04] mkArtakMSFT commented on #8708
Thanks for contacting us, @Steveiwonder.
@NTaylorMullen, can you please look into this? Thanks!

[2018-11-10 00:07] pranavkm commented on #8708
My wild guess is that both built-in `InputTagHelper` and `MyInputTagHelper` are being applied. You'd have to remove or not register (via `@addTagHelper`) the built in ones.

[2018-11-10 00:21] #8709 closed, assigned to nobody

[2018-11-12 15:03] csharpfritz commented on #7969
This issue continues to occur for me, randomly, as I build my application on the command-line while Visual Studio 2017 is open.

SDK: 2.1.403

[2018-11-12 17:48] pranavkm commented on #7969
@BeePM \ @csharpfritz, could you file a new issue with a repro app? The original issue happened all the time with runtime compilation and I just verified it does not repro with the latest runtime.

[2018-11-13 08:18] troncomputers commented on #8698
OMG, yes. I'm sorry...

[2018-11-13 08:18] #8698 closed

[2018-11-13 08:50] yqszt opened #8720 "<form> tag helper not work for Area that the view file not in Areas folder"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:
i have a controller and view not in areas folder, but i apply a Area attribute in the controller, like this:
`
    [Area("Manage")]
    public class GroupController : Controller
   `
when i create a form using tag-helper in this view:

`<

[2018-11-13 18:16] rrjamesjr opened #8721 "Unit Test with TryUpdateModelAsync fails with argument null exception Parameter name: metadataProvider"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
`
[HttpPatch("{id}")]
        [ProducesResponseType(typeof(IDictionary<string, string>), (int)HttpStatusCode.BadRequest)]
        [ProducesResponseType((int)HttpStatusCode.BadRequest)]
        [ProducesResponseType((int)HttpStatusCode.NotFound)]
        [ProducesResponseT

[2018-11-13 18:58] mkArtakMSFT commented on #8721
@rrjamesjr, please share with us the project so we can repro the unit-test failure.

[2018-11-13 19:01] Costo opened #8723 "Inifinite loop during model binding when using [ModelBinder] attribute"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Link to repro: https://github.com/Costo/aspnetcore-binding-bug

* Run project with `dotnet run`
* Go to https://localhost:5001
* Submit the Form

Expected result:
* Form is submitted and server responds with 200 OK

Actual result:
* Server never responds. If you attach a

[2018-11-13 19:09] mkArtakMSFT commented on #8720
Thanks for contacting us, @yqszt.
@NTaylorMullen, can you please look into this? Thanks!

[2018-11-13 19:23] rrjamesjr commented on #8721
Here is the repo

https://github.com/rrjamesjr/Issue8721

[2018-11-13 22:12] mkArtakMSFT commented on #8723
Thanks for contacting us, @Costo.
This seems like an issue with your code, rather than ASP.NET Core framework.
While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-11-13 22:13] mkArtakMSFT commented on #8723
@dougbu, can you please see whether something obvious is going on here? Thanks!

[2018-11-13 22:45] mkArtakMSFT commented on #8721
@rrjamesjr, looks like you haven't properly configured the `ValueProviderFactories` of the `ControllerContext` for the controller being tested:
![image](https://user-images.githubusercontent.com/34246760/48447845-01e63a00-e752-11e8-8620-9f5ff9f7bf3a.png)

The `ControllerBase.TryUpdateModelAsync` method delegates the work to https://github.com/aspnet/Mvc/blob/bf8058da25ac245c5348c04999a0d909fb7df03

[2018-11-13 23:01] pranavkm commented on #8721
If you'd like to unit test your controller action, I'd go the route of stubbing `ControllerBase.TryUpdateModelAsync` to verify if it does the right. If you're looking for an integration style test where the framework method executes as is, https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1 has pretty detailed documentation on how you'd set this up.

[2018-11-13 23:39] rrjamesjr commented on #8721
Thanks...just mocked the controller and stubbed the method as suggested

[2018-11-13 23:39] #8721 closed

[2018-11-14 03:31] mkArtakMSFT commented on #8700
Thanks @Tratcher.

Closing this as there is no more action to be taken here from our side.

[2018-11-14 03:31] #8700 closed

[2018-11-14 03:33] mkArtakMSFT commented on #8687
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-11-14 03:33] #8687 closed

[2018-11-14 03:34] mkArtakMSFT commented on #8531
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-14 03:34] #8531 closed

[2018-11-14 09:06] San4es opened #8724 "Breaking change: APIs from "*.Mvc.ViewFeatures.Internal" are not accessible after PR #8705"
We are using the following public APIs from the `Microsoft.AspNetCore.Mvc.ViewFeatures` namespace:
`ExpressionHelper.GetExpressionText`
`ExpressionMetadataProvider.FromLambdaExpression`
`ExpressionMetadataProvider.FromStringExpression`

in our custom `HtmlHelper` extensions to integrate them with a model and client-side validation:

- `ExpressionHelper.GetExpressionText` is used to calculate a pro

[2018-11-14 09:15] ronaldpostmagnaversum opened #8725 "Return 401 on invalid jwt token instead of login page."
#### Is this a Bug or Feature request?:

Bug ( or misconfiguration )

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

This is the link to a test project:
https://github.com/ronaldpostmagnaversum/razor-pages-mixed-authentication

#### Description of the problem:

I am having a problem configuring authentication for a razor-pages app that also has an api.
I want t

[2018-11-14 14:54] sandillio commented on #8700
@Tratcher  Sorry for posting late, but got it working. my solution is, I change the reply url in Azure to be as http://mydomain/AzureADDemo/signin-wsfed and my configureServices method to be as below.

public void ConfigureServices(IServiceCollection services)
    {
        services.Configure<CookiePolicyOptions>(options =>
        {
            options.CheckConsentNeeded = context => true;

[2018-11-14 14:58] Costo commented on #8723
Thank you for your response @mkArtakMSFT.

I simplified the repro even further to make make it not about our code. The custom binder now just calls the `DecimalNumberBinder` like this:
[code]

The custom model binder works well if used on top level model properties. The problem occurs only if the custom model binder is used on properties of an array of "child" models.

I'll try top post this on St

[2018-11-14 15:18] Costo commented on #8723
Here's the Stack Overflow question: https://stackoverflow.com/questions/53303414/inifinite-loop-during-model-binding-when-using-modelbinder-attribute

[2018-11-14 15:23] dougbu commented on #8723
@Costo The problem is you're not informing the model binding system that the binder uses value providers. The `ComplexTypeModelBinder` always believes data is available for the next `TestInnerModel` instance and the outermost binder (`CollectionModelBinder`) keeps going -- forever. To fix this,
[code]

----
Put another way, the `BindingSource.Custom` default `[ModelBinder]` uses isn't correct in t

[2018-11-14 15:55] Costo commented on #8723
It works! 🎉 🎉 🎉
Thank you @dougbu  for this solution.

Now, originally our custom model binder was used to accept both the dot (`.`) and the comma (`,`) as a decimal separator in French culture. Is there another way to achieve this other than with a custom model binder? We tried the TypeConverter` approach suggested in the [docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-mod

[2018-11-14 16:04] jameswilddev opened #8726 "400 Bad Request when query parameters are encapsulated in an object using [ApiController]"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[code]

GET http://localhost:5000/test?param=a

Response:
[code]

#### Description of the problem:
Seems it should be valid to me.  Removing [ApiController] gets me the expected 200 response with a body of "a".

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.Asp

[2018-11-14 16:08] Tratcher commented on #8700
Remove `options.LoginPath = "/signin-wsfed";`, it doesn't belong there. LoginPath won't be used unless someone calls Challenge on Cookies rather than WsFed.

[2018-11-14 16:48] dougbu commented on #8723
@Costo I suggest inserting another provider earlier in `MvcOptions.ModelBinderProviders` than `FloatingPointTypeModelBinderProvider`. That provider should handle only `decimal` models and instantiate the `DecimalModelBinder` with your preferred `NumberStyles`.

[2018-11-14 16:55] Costo commented on #8723
Ok, I'll try this approach. Thanks you for your help. Closing this.

[2018-11-14 16:56] rynowak commented on #8622
You can do the same thing with `asp-all-route-data`  - if the value is an `IEnumerable<>` it will get serialized  to the query string as multiple values.

[2018-11-14 17:12] dougbu commented on #8723
Reopening for discussion of the more general issue: Model binding getting into an infinite loop is never good and the root cause isn't obvious.

[2018-11-14 17:17] pranavkm commented on #8726
All complex type parameters in an ApiController are bound from the request body. By design, the parameter inference does not look at attributes on properties on the parameter type. Adding `[FromQuery]` on the parameter rather than the property should get you the behavior you're looking for here.

[2018-11-14 17:17] #8726 closed

[2018-11-14 17:23] jameswilddev commented on #8726
Many of our query parameters contain conditional validation which depends upon other query parameters, such as A must be set when B has value C, or only one of A or B can be set.

This can't be done with validation attributes on method parameters AFAIK (no validation context), only when encapsulated in an object as above.

Additionally, we can't write unit tests against validation attributes on me

[2018-11-14 17:24] mkArtakMSFT commented on #8725
Thanks for contacting us, @ronaldpostmagnaversum.
@javiercn, can you please look into this? Thanks!

[2018-11-14 17:33] pranavkm commented on #8726
@jameswilddev there's a couple of alternatives to annotating the parameter with the attribute:

1) Turn off parameter inference using `ApiBehaviorOptions.SuppressInferBindingSourcesForParameters`. You get the same behavior as a regular `Controller` and have to annotate parameters with `FromBody` if you're attempting to bind it from the request body.
2) Apply a `[ModelBinder]` attribute to the para

[2018-11-14 17:37] pranavkm commented on #8724
Not that I'm aware of. The equivalent APIs were public in MVC5, so we these seem like good candidates to be made `public`. I'll bring this up in the API review meeting today.

[2018-11-14 17:57] Costo commented on #8723
@matomato13 mentioned to me that the loop is technically not infinite but will continue until reaching `int.MaxValue`. I never waited that long 😄

[2018-11-14 18:07] pranavkm commented on #8694
Types made `internal` that are used in OrchardCore (not exhaustive):

* `IRazorViewEngineFileProviderAccessor`
* `CSharpCompiler`
* `RazorViewCompiler`
* `MvcRouteHandler`
* `AttributeRouting`

cc @sebastienros

[2018-11-14 18:35] jameswilddev commented on #8726
Thanks, I'll be sure to give those a try tomorrow when I'm back at the coal face ha!

[2018-11-14 19:39] HaoK commented on #8725
Sure take a look at this sample https://github.com/aspnet/AuthSamples/tree/master/samples/PathSchemeSelection which is switching between schemes based on request path as an example

[2018-11-15 00:41] pranavkm commented on #8694
Meeting notes

* `ControllerFactoryProvider` -> internal
* `IControllerPropertyActivator` -> internal
* `DefaultControllerFactory` -> `internal`
* `DefaultViewComponentActivator` -> internal
* `DefaultControllerActivator` -> internal
* `ITypeActivatorCache` -> internal
* `DefaultValidationHtmlAttributeProvider`, `ClientValidatorCache`, `ValidatorCache` -> Follow up design review. User ask for regi

[2018-11-15 00:56] pranavkm commented on #8724
We have an [API review](https://github.com/aspnet/Mvc/issues/8694#issuecomment-438872471) for these types and have a draft proposal for this. The plan is to make `ExpressionHelper` and `ExpressionMetadataProvider` services in the DI container with the followship shape:

[code]

Moving this issue to 3.0.0-preview1 milestone

[2018-11-15 00:58] pranavkm opened #8729 "Provide features required to allow OrchardCore to enable setting up routes correctly"
OrchardCore uses pubinternal types `MvcRouteHandler`, `AttributeRouting` : https://github.com/OrchardCMS/OrchardCore/blob/d729a2048a4390380d99e7be9f7968ff8f8e9271/src/OrchardCore/OrchardCore.Mvc.Core/ModularTenantRouteBuilder.cs. Need to come up with a design for for it in 3.0 now that these types are no longer public

[2018-11-15 00:59] pranavkm commented on #8729
cc @JamesNK \ @sebastienros

[2018-11-15 01:00] mkArtakMSFT commented on #8622
Thanks for your feedback, @schmitch.
We're closing this issue as this is not something we plan to change.

[2018-11-15 01:00] #8622 closed

[2018-11-15 01:00] pranavkm opened #8730 "Determine the extensibility model for ValidationHtmlAttributeProvider"
As a follow up to the [API review](https://github.com/aspnet/Mvc/issues/8694#issuecomment-438872471), the plan is to do a follow up to determine what the right extensibility needs to be  before determining what needs to be done with these types.

[2018-11-15 01:01] pranavkm commented on #8730
cc @dougbu \ @rynowak

[2018-11-15 01:03] JamesNK commented on #8729
Both of those types are related to old routing. Ideally Orchard should start using endpoint routing when it moves to 3.0

[2018-11-15 01:04] sebastienros commented on #8729
Can I already do that for 2.2? That something I want to do ASAP, as I need to use LinkGenerator.

[2018-11-15 01:10] andrecarlucci commented on #8696
It's because nswag and swashbuckle use the information from asp.net apiexplorer to create their documents. So it could be them, or their source of info.

I didn't check the json document, good point. If the json document is correct, it could be a problem on swagger-ui.

It's holiday tomorrow here in Brazil, but I get back to you with that info on Friday.

Cheers!

[2018-11-15 01:11] JamesNK commented on #8729
*kind of*

Not in an officially supported way. You could define Orchard endpoints in your own data source and register it using DI, and hook up the middleware using pub internal methods, but both of those integration points will change in 3.0, and you'll need to update to use the new mechanisms when upgrading to 3.0.

[2018-11-15 09:20] San4es commented on #8724
@pranavkm @mkArtakMSFT

Thank you for your replies.

Do I understand correctly that the code for getting an instance of this classes in my helpers will look like below?
[code]

How can I save backward compatibility with ASP.NET Core 2.x simultaneously with 3.x versions?

[2018-11-15 12:49] ronaldpostmagnaversum commented on #8725
Hi @HaoK  and @javiercn,

Thanks for the answers and the reference to the sample project. I fixed it using the ForwardDefaultSelector and tell it to use 'Bearer' AuthHandler on the api path like this:

options.ForwardDefaultSelector = ctx =>
                     {
                         return ctx.Request.Path.StartsWithSegments("/api") ? "Bearer" : null;
                     };

I am still wond

[2018-11-15 14:16] pranavkm commented on #8724
Most likely if these are static extension methods on `IHtmlHelper`. @dougbu had some design suggestions here that I did not note down.

Even if we were to leave the signature as-is and make the types public, at minimum, you'll have to reconcile referencing the namespace differences between 2.0 and 3.0. 3.0 also adds additional dimensions to multi-targeting and I think @davidfowl or @natemcmaster m

[2018-11-16 06:06] dougbu opened #8732 "Make it possible to prevent code generation per-reference"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Description of the problem
Users can currently set the `$(ServiceUriReferenceCheckIfNewer)` property to `false` (default is `true`) and disable downloading for all `<ServiceUriReference>` items in their project. However
1. The existing `$(ServiceProjectReferenceCheckIfNewer)` and `$(ServiceFileReferenceCheckIfNewer)` pro

[2018-11-16 10:06] qus1225 commented on #7192
@InfiRandia It works! You saved my day. I spent about 3hours..

[2018-11-16 12:44] CXuesong opened #8733 "Stop setting name attribute in DefaultHtmlGenerator.GenerateHiddenForCheckbox"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
See https://github.com/CXuesong/AspNetCoreAppTest2/blob/master/WebApplication2/Pages/Test.cshtml .

#### Description of the problem:

If I specify the `name` for `<checkbox>`, like [this](https://github.com/CXuesong/AspNetCoreAppTest2/blob/b08e5852e9581f2c242f6502140ffba3

[2018-11-16 16:32] RodrigoFCampos commented on #4750
I found this link and I hope it can guide you in the right direction:

https://stackoverflow.com/questions/43694106/asp-net-core-webapi-modelstate-not-working

[2018-11-16 16:40] mkArtakMSFT commented on #8733
Thanks for contacting us, @CXuesong.
@dougbu, can you please look into this? Thanks!

[2018-11-16 16:49] mkArtakMSFT commented on #8729
@sebastienros, @pranavkm  should we just delay this untill the required APIs from EndpointRouting are exposed?
@JamesNK, will these be available in 3.0.0-preview1 or preview2?

[2018-11-16 17:17] JamesNK commented on #8729
Preview 1

[2018-11-16 17:21] sebastienros commented on #8729
I don't think we should delay any of these changes, there won't be many opportunity for users to realize what's broken, and for us to change them if necessary.

[2018-11-16 17:38] dougbu commented on #8733
There are actually two bugs here:
1. The `DefaultHtmlGenerator` is never passed a user-specified name. It adds the default `name` (matching the expression) whenever that's non-empty. But, the code in `HtmlHelper` to override `name` in the hidden field only does so when the generator does _not_ add a `name`.
2. There's no code in `InputTagHelper` to override the `name` on the hidden field.

@mkArta

[2018-11-16 23:59] mkArtakMSFT commented on #8729
Well, as the changes are in preview1, there is nothing else to be done here. Closing now. @sebastienros, you'll be able to consume those as soon as preview1 will ship.

[2018-11-16 23:59] #8729 closed

[2018-11-17 00:38] NTaylorMullen commented on #8720
@yqszt you should be able to do that. Have you added an area route in your Startup? I.e.:
[code]

[2018-11-17 00:48] NTaylorMullen commented on #8708
@pranavkm is correct as in it's your duplication of the InputTagHelper that's causing the redundant hidden input.

If you're trying to replace the default InputTagHelper behavior the recommendation is to `@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.InputTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers`.

Lastly, it's unfortunate that we currently aren't smart enough to de-duplicate those bi

[2018-11-17 01:18] yqszt commented on #8720
@NTaylorMulllen i created a demo here: https://github.com/yqszt/AreaDemo.git.
it still has is issue. you can run this demo and access http://localhost:5000/manage/group/create, the page has a `<form>` tag, and the tag's action attribute still is "/Group/Create?area=Manage"

[2018-11-17 01:20] yqszt commented on #8720
@NTaylorMullen i created a demo here: https://github.com/yqszt/AreaDemo.git.
it still has is issue. you can run this demo and access http://localhost:5000/manage/group/create, the page has a `<form>` tag, and the tag's action attribute still is "/Group/Create?area=Manage"

[2018-11-17 13:39] poke commented on #8720
As per [the documentation](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1), you need to have the route mappings in the following order:

[code]

That way, routes that do have an area will pick the default_are one, while the other ones will pick the default mapping. If you have the order reversed, then routes that include an area will still pick the default o

[2018-11-17 13:48] poke commented on #8708
I’m not sure how that would be expected to work though. Just going by inheritance is not really enough to turn off the base class tag helper. I am sure there could be use cases where keeping a base tag helper and an inherited one active at the same time. So the inheriting tag helper would need a way to mark itself as a _replacement_ for the base tag helper. And at that time, simply unregistering i

[2018-11-17 14:31] yqszt commented on #8720
Thanks a lot for your answer. @poke
I'm clear for the link generation now, and solved my issue. ;)

[2018-11-17 14:31] #8720 closed

[2018-11-18 16:03] poke commented on #8725
Since you likely have the cookie authentication set as the default in order for your mixed authentication setup to work, the cookie authentication handler is responsible of handing the default challenge request and redirects to your login page. You can affect that behavior in a few ways; try one of the solutions [mentioned in this Stack Overflow question](https://stackoverflow.com/q/38800919/21607

[2018-11-18 17:09] #8484 closed

[2018-11-18 17:29] pranavkm opened #8736 "Follow up PR https://github.com/aspnet/Mvc/pull/8324/files"
Merging PR https://github.com/aspnet/Mvc/pull/8324/files before the repo gets merged. Tracking any additional review work using this item. cc @dou

[2018-11-18 17:30] #8245 closed

[2018-11-18 23:47] pranavkm opened #8738 "Follow up PR https://github.com/aspnet/Mvc/pull/8737"
PR: https://github.com/aspnet/Mvc/pull/8737

Merging it in before the repos get merged. Using this issue to track further follow up if any

[2018-11-19 00:53] dougbu commented on #8736
@pranavkm it looks to me like @AlexejTimonin addressed my comments on #8324. What work remains?

[2018-11-19 05:28] fabercs opened #8739 "Support localization resources in a separate assembly"
#### Is this a Bug or Feature request?:
It is a feature, but not sure if it exists or not

#### Description of the problem:
I am trying to move the localization resources(`MyProject.Web.Resources`) in `MyProject.Web` asp.net core mvc project to another separate `MyProject.Resources` project. I guess it is only doable for a shared resource, however, by doing this, I still want to make use of the `I

[2018-11-19 10:02] nathanchere commented on #6126
This is not a necessarily correct answer in that there are other reasons why a new/empty session is returned (e.g. application restart without an external cache). I would also want to explicitly know when a session has timed out as opposed to simply losing session for other reasons, but I don't see a way to do it with the standard interfaces.

[2018-11-19 11:12] brackers17 commented on #3996
Are tag helpers now supported in display/editor templates? I notice they appear to be working but not providing the correct name attributes.

[2018-11-19 11:27] brackers17 opened #8740 "Editor Template Tag Helper incorrectly naming name attribute"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
`output.Attributes.SetAttribute("Id", AspFor.Name);`

#### Description of the problem:
When creating my own custom tag helper I use ModelExpression.Name to set the name attribute for the element.

This works except in editor/display templates where it sets the name incorr

[2018-11-19 13:08] MatthiasLaroche opened #8741 "FileResult returns 500 instead of 416 when requesting an invalid range."
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

* Return any type of FileResult with enableRangeProcessing = true from a controller.
* Request an invalid Range form the client (e.g. after the end of file)
* Http StatusCode is "500 Internal Server Error" instead of "416 Range Not Satisfiable"

Example: https://github.

[2018-11-19 16:45] javiercn commented on #8725
I believe is because you have both schemes in the global auth filter and one of them is going to fail when sending JWTs

[2018-11-19 16:46] javiercn commented on #8725
@haok can confirm. I don’t remember the exact behavior

[2018-11-19 17:12] pranavkm commented on #8736
I guess nothing 👍. Closing in that case

[2018-11-19 17:12] #8736 closed

[2018-11-19 17:42] mkArtakMSFT commented on #8741
Thanks for contacting us, @MatthiasLaroche.
@pranavkm, can you please look into this? Thanks!

[2018-11-19 17:47] mkArtakMSFT commented on #8740
Thanks for contacting us, @brackers17.
@NTaylorMullen, can you please look into this? Thanks!

[2018-11-19 17:49] mkArtakMSFT commented on #8739
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-11-19 17:50] mkArtakMSFT commented on #8739
@ryanbrandenburg, can you please answer this question when you get time? Thanks!

[2018-11-19 18:14] glennc opened #8742 "Generated files re-appearing without explicit build"
If I delete a generated client file then it will reappear immediately. My theory for this was that changing the files in the project was causing a design-time build to happen.

[2018-11-19 18:23] glennc opened #8743 "Change default document directory to obj"
Today the directory that we store the API document is empty, meaning that we put it in the root of the project. For this type of asset, one that is purely used to make sure we don't redo work we don't need to, I think obj is a better default.

[2018-11-19 20:48] pranavkm opened #8744 "Consider making RequiredAttributeAdapter public"
FluentValidation uses the type: https://github.com/JeremySkinner/FluentValidation/blob/master/src/FluentValidation.AspNetCore/FluentValidationClientModelValidatorProvider.cs#L113. An alternative might be to consider changing FluentValidation to use `IValidationAttributeAdapterProvider`

[2018-11-19 20:49] pranavkm commented on #8744
cc @dougbu. This may tie in to https://github.com/aspnet/Mvc/issues/8730

cc @JeremySkinner

[2018-11-19 20:50] #8738 closed

[2018-11-19 20:50] pranavkm commented on #8738
Nothing to do here.

[2018-11-19 22:05] hishamco commented on #8739
You can use `ResourceLocationAttribute`

[2018-11-19 22:21] glennc opened #8746 "Change version of code-gen to 0.1.0-pre"
We want this to be the version that we ship our initial preview release.

[2018-11-19 23:12] dougbu commented on #8746
@glennc `-pre`, `-preview1` (like past preview releases) or `-alpha1` (like current `master` builds)

[2018-11-19 23:59] mkArtakMSFT commented on #8746
Let's go with `0.1.0-preview1`. This is what I agreed with @DamianEdwards

[2018-11-20 00:19] dougbu commented on #8746
3fe61d6

[2018-11-20 00:19] #8746 closed

[2018-11-20 09:36] brackers17 commented on #8740
Hey @NTaylorMullen, that's perfect thank you! Is there a way I could have found that out myself? Without having to contact yourselves?

[2018-11-20 10:06] ArtemAstashkin opened #8749 "JsonInputFromatter validation issue"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. You have an action in a Controller
2. The action has a requestModel with array of integers
3. You send a request to the action with invalid model - for example array with string.Empty instead integers
4. You expect to receive BadRequest, but you will receive Http Ok af

[2018-11-20 10:20] JeremySkinner commented on #8744
I need some way to explicitly identify required rules (for the purpose of being able to remove implicitly-added required validators that double up with what FluentValidation is doing) which is why I'm using `RequiredAttributeAdapter` here.

If this becomes internal, would I be able to use `IValidationAttributeAdapterProvider` to achieve the same thing? If needbe I can still check the type by looki

[2018-11-20 17:46] pranavkm commented on #8744
We made all of our pubternal types `internal` in 3.0. See https://github.com/aspnet/Mvc/issues/8689. I tried building your repo and there's a few `usings` that need to be cleaned up, but outside of `RequiredAttributeAdapter` everything just worked. Making the type public sounds like the least problematic thing to do here.

[2018-11-20 18:50] #8694 closed

[2018-11-20 20:22] NTaylorMullen commented on #8740
The best way would be to inspect the code in this repo. To make things even easier though I'd suggest by adding Microsoft's public symbol server and debugging through MVC when you encounter unexpected issues such as this. 😄

[2018-11-20 20:22] #8740 closed

[2018-11-20 23:44] dougbu commented on #8730
Note #475 remained in the backlog for a while before we closed it. Might not need a way to add additional client- or server-side validators and validation adapters after all.

[2018-11-20 23:55] dougbu commented on #8723
This issue occurs due to a number of sometimes-mistaken assumptions in MVC:
- Greedy binding sources are defined to mean the source is bound in a single operation. And, because the predefined non-greedy sources all use value providers, `ComplexTypeModelBinder` assumes the value providers don't matter for greedy sources.
  - The binding source may be ignored when choosing binders, custom binders ma

[2018-11-20 23:58] dougbu commented on #8723
@pranavkm @mkArtakMSFT @rynowak @Eilon thoughts on the different options described above and whether it's worth breaking i.e. extending `IModelBinder` in 3.0? (Getting more information from the binders is only a complete fix if we get it from **all** binders.)

[2018-11-21 03:35] Eilon commented on #8723
I know very little about this area of model binding, but @rynowak knows a fair bit.

Is a breaking change worth it? I don't know, but it would have to be extremely compelling to warrant breaking a major interface.

[2018-11-21 11:01] ArtemAstashkin commented on #8749
I think the limit does not matter. If it exists somebody who knows about it will be able to generate unexpected request and damage a service.

No, in my case it takes several hundreds of milliseconds to parse this request for the first time and several dozens for the next times. For example 300-500 ms and 30-60 ms which seems too much.

I'm sure it is not significant to get all errors. I'm sure th

[2018-11-21 18:20] MCFHTAGENTS opened #8752 "DBQuery behaviour with Moq and UseInMemoryDatabase"
I am seeing a bug when I try and materialize my view using the in memory database context. With Version 2.1 of MVC Core.

Creating the DB Context:
[code]

Error message thrown:
[code]
This is observed in the straight DBQuery<MyView> in the real-time debugging inside Visual Studio before any form of WHERE clause is applied and works fine with a normal DBContext outside the testing suite.

Thanks
Ma

[2018-11-21 20:05] pranavkm opened #8753 "Add support for runtime compilation in 3.0"

[2018-11-21 21:11] pranavkm opened #8754 "Figure out runtime compilation for EmbeddedFiles"
Orthogonal to https://github.com/aspnet/Mvc/issues/8753, `RazorViewEngine` supports arbitrary file providers including Embedded. Without runtime compilation in MVC by default, we don't have a good story to continue supporting this feature.

[2018-11-21 21:41] rynowak commented on #8754
The story is really clear. Runtime compilation will be delivered by a package - that includes runtime compilation of embedded files.

[2018-11-22 01:01] KirillOsenkov opened #8756 "Simple controller no longer working"
1. `git clone https://github.com/KirillOsenkov/SourceBrowser`
2. `msbuild /r`
3. Open SourceBrowser.sln and F5 - this will generate a static website
4. Set SourceIndexServer project as Startup and F5 again

#### Description of the problem:

`http://localhost:58320/api/symbols?symbol=pro` is supposed to call my SymbolsController

Actual results: 404

This used to work in 2.0.

[2018-11-22 04:03] wilsonrivera opened #8759 "RazorPages do not respect the RequestCultureProviders from RequestLocalizationOptions"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/wilsonrivera/localized-razor-pages

#### Description of the problem:
When you navigate to the endpoint `http://localhost:5000/?locale=es` it should have accepted the locale "es", but it doesn't work, on the other hand, if you visit `http://localhost:500

[2018-11-22 04:43] #8759 closed

[2018-11-22 09:46] troncomputers opened #8760 "Razor Pages - whole app logic on server side, without JS/Ajax"
Sorry if this is wrong when I put everything in one issue, but I thought it would be nice when all of my feature requests are in one place.

1. **Temp objects without JS** - for my case I need a list of products that users selected.
EXAMPLE:
[code]
[code]
`SelectedProducts` is null and every `AddProduct` is empty because `OnGetAsync()` is fired. In this case only `HttpContext.Session` with convert

[2018-11-22 10:20] fabercs commented on #8739
@mkArtakMSFT, @ryanbrandenburg , @hishamco , I did lots of thing but I couldn't get it work. Is there any real world application that works like this way? I know resources and pages or classes follow namespace convention, but I couldn't understand how using an assemblyInfo solves this.

Here what I did;

Moved Resources folder in Web project to new MyProject.Resources class library project as show

[2018-11-22 11:35] hishamco commented on #8739
Nope, it should be on `MyProject.Resources`

@fabercs could you please share with us a minimal repo to reproduce your issue?

[2018-11-22 12:30] fabercs commented on #8739
@hishamco please find the minimal repo solution [linked](https://github.com/fabercs/Issue8739)

[2018-11-22 13:01] valeriob commented on #4190
It's astonishing that MVC up to this day does not have a Post Redirect Get story...

[2018-11-22 13:05] hishamco commented on #8739
Sure, I will investigate on this ..

[2018-11-22 18:49] remcoros opened #8761 "Use of "AppDomain.FriendlyName" in Microsoft.AspNetCore.Mvc.Testing causes issues with test runner"
#### Is this a Bug or Feature request?

A bug report for AspNetCore.Mvc.Testing package

#### Steps to reproduce:

- Create an ASP Core project and a Test project, targeting net462.
- Make sure it has the solution file in the root, and all projects in folders inside a "src" folder.

Example project: https://github.com/remcoros/MvcTestingReSharper

It's the default file new -> asp core template.

#

[2018-11-22 22:17] hishamco commented on #8739
I notice there 're many thing missing such as: Suffix views with culture code `Index.tr-TR.resx`, `AddViewLocalization()` extension method .. etc.
Also there's a confusion on middleware order, please refer to [Localization.StarterWeb](https://github.com/aspnet/Entropy/blob/master/samples/Localization.StarterWeb)

[2018-11-23 05:16] fabercs commented on #8739
I also realized about Suffix option missing middleware and commited it. I added `AddMvcLocalization()` instead `AddViewLocalization()`, it also covers the `data annotation localization`, anyway I changed it to `AddViewLocalization()`. So after these still no effects.

[2018-11-23 07:48] hishamco commented on #8739
Again `AddLocalization()` should become before `AddMvc()`, anyhow please make sure that your app reading the resources from within the same assembly, after that we will figure out what's the wrong with the separated assembly

[2018-11-23 08:16] fabercs commented on #8739
Ok, I have deleted the solution and added a new one with the `Resources` folder included in web project and localization works. The class library project also included, you can play with `unload/reload`.

https://github.com/fabercs/Issue8739

[2018-11-24 21:49] Bartmax commented on #4190
The recommendations to expose over-posting vulnerability by using the full `ViewModel` on post and return a `View` on this thread is alarming.

[2018-11-25 15:03] wilsonrivera opened #8762 "RazorPages crash on MacOS"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
I'm actually not really sure what triggers this, I just created a new Razor Pages project, but haven't been to find a way to replicate it with 100% accuracy.

#### Description of the problem:
When the project is running, I get the following exception that causes the proje

[2018-11-26 05:43] amh1979 opened #8763 "Multilingual in .net core"
#### Is this a Bug or Feature request?:
discussion

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
https://github.com/aspnet/Mvc/

#### Description of the problem:
Multilingual in .net core

#### Version of `Microsoft.AspNetCore.Mvc`

Is there any way to automatically use Culture of the current process?
write JSON of datetime or Executor Razor page
e.g.: Microso

[2018-11-26 07:21] eyiadmin opened #8764 ".net core post unable to receive"
exceptional information is returned when the amount of post data is too large,the exception mesaage is
"C:\Users\ADMINI~1\AppData\Local\Temp\2\"
"at Microsoft.AspNetCore.Http.Internal.BufferingHelper.get_TempDirectory()
   at Microsoft.AspNetCore.WebUtilities.FileBufferingReadStream.CreateTempFile()
   at Microsoft.AspNetCore.WebUtilities.FileBufferingReadStream.ReadAsync(Byte[] buffer, Int32 offs

[2018-11-26 10:20] fabercs commented on #8739
@hishamco my mistake, I just meant to `IViewLocalizerFactory`, however, at the end, all derived from `IStringLocalizerFactory` :)

https://github.com/aspnet/Mvc/blob/a2c8537dd86474a1cb5bb3ea12ada4ecabd6ee4c/src/Microsoft.AspNetCore.Mvc.Localization/HtmlLocalizerFactory.cs#L15

[2018-11-26 17:09] mkArtakMSFT commented on #8763
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-11-26 17:09] mkArtakMSFT commented on #8763
@ryanbrandenburg FYI

[2018-11-26 17:18] mkArtakMSFT commented on #8762
Thanks for contacting us, @wilsonrivera.
@rynowak is this something familiar?

@wilsonrivera, it would really help to get a repro project.

[2018-11-26 17:34] amh1979 commented on #8763
It's just a suggestion.

[2018-11-26 17:42] mkArtakMSFT commented on #8761
Thanks for contacting us, @remcoros.
@javiercn, can you please look into this? Thanks!

[2018-11-26 17:56] ryanbrandenburg commented on #8763
I don't really follow the suggestion. If it's that we should use `CultureInfo.CurrentCulture` to select our localization language then we already do, [check out the documentation here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2).

If the question is something else please clarify. Snippets of code with current vs proposed results are particularly help

[2018-11-26 17:58] mkArtakMSFT commented on #8760
Thanks for contacting us, @troncomputers.
Looks like what you're looking for is achievable using `TempData`. It can be used to save state between requests and that's what you can use to store your `SelectedProducts`. You can read more about TempData at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.1#tempdata
Here is another good article on the use cases of T

[2018-11-26 18:05] amh1979 commented on #8763
Okay, I can only rewrite JsonOutputFormatter and not use the default JsonSerializerSettings

[2018-11-26 18:05] #8763 closed

[2018-11-26 18:07] mkArtakMSFT commented on #8741
@javiercn, can you please look into this? Thanks!

[2018-11-26 18:39] javiercn commented on #8761
@remcoros I'm not sure there's an alternative way for us to infer the test assembly automatically other than the approach we take here. If I'm missing something feel free to suggest and alternative (we will take suggestions/PRs here as long as they are not runner specific).

Alternatively, the recommended way is to extend WebApplicationFactory and override the GetTestAssemblies method to manually

[2018-11-26 18:45] HaoK commented on #8725
Yeah you can't mix cookies and bearer since they do completely different things on challenges, bearer wants to return a 401, and cookies wants to return a 302 to the login page, so only one of them can successfully challenge

[2018-11-26 18:52] javiercn commented on #8725
Closing as there's no more action to be taken here

[2018-11-26 19:00] NTaylorMullen commented on #8708
Sorry @poke, doing something to the extent of unregistering what we think are duplicate TagHelpers would be a breaking change we wouldn't be able to make.

As for making the InputTagHelper understand if it's already run on an element. Are you confident that every application of running it twice on a TagHelper is invalid?

[2018-11-26 19:19] dougbu commented on #8749
@ArtemAstashkin you have said

Do you mean the reported errors are incomplete? Or, is this a reiteration of your complaint that input formatting does not stop after the first error is encountered?

[2018-11-26 19:25] #8509 closed, assigned to dougbu

[2018-11-26 20:16] wilsonrivera commented on #8762
This can be closed. After some extra research, I figured out the issue isn't with Razor Pages itself but with HttpClientFactory

Issue for reference: https://github.com/aspnet/HttpClientFactory/issues/194

[2018-11-26 21:05] poke commented on #8708
@NTaylorMullen You are misunderstanding me. I was saying that such a “smart detection” wouldn’t work that easily since there is no clear criteria on when one tag helper is supposed to replace another one. So you would have to declare that explicitly in some way; and at that point *manually* unregistering a specific tag helper because you want a different one to run instead would be the clearer and

[2018-11-26 21:44] mkArtakMSFT commented on #8741
@MatthiasLaroche, we will gladly consider a PR with the fix for this issue, in case you'd like to propose one.

[2018-11-27 01:08] ajaybhargavb opened #8769 "View discovery is broken for 3.0"
Steps:
- Get latest SDK from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe. Currently it is `3.0.100-preview-009784`.
- `dotnet new mvc`
- `dotnet run`
- Navigate to https://localhost:5001

Expected:
Index page loads successfully

Actual:
![image](https://user-images.githubusercontent.com/1579269/49051717-d590db80-f19d-11e8-80a0-df521406b863.png)

[2018-11-27 01:09] ajaybhargavb commented on #8769
cc @mkArtakMSFT @natemcmaster @rynowak @javiercn

[2018-11-27 08:36] troncomputers commented on #8760
Hi
`TempData` is not a solution in my case. When I `post` my `TempData["SelectedItems"]` is null.
If I use the `.Keep()` method, `TempData` is acting like `HttpContext.Session` but... like I said before

And there is no property or method to determine if I do a postback or redirection or just page refresh.
EXAMPLE 1:
[code]
If I do check that `TempData["SelectedItems"] == null` and I will do objec

[2018-11-27 10:55] ArtemAstashkin commented on #8749
I mean that instead of BadRequest status we receive HttpStatusCode.Ok despite invalid model, without any validation errors.

[2018-11-27 13:21] remcoros commented on #8761
@javiercn I couldn't think of anything either, but wanted to report it. In case someone has a suggestion. Let's see what Jetbrains can do, else I'll have to use GetTestAssemblies.

[2018-11-27 16:54] javiercn commented on #8761
@remcoros That's the main reason there's an extensibility point defined there.

[2018-11-27 17:47] dougbu commented on #8749
That's due to the code in your action:
[code]

[2018-11-27 18:03] dougbu commented on #8424
RSuter/NSwag@a174a2c604

Thanks @RSuter!

[2018-11-27 18:03] #8424 closed

[2018-11-27 18:03] dougbu commented on #8423
RSuter/NSwag@a174a2c604

Thanks @RSuter!

[2018-11-27 18:03] #8423 closed

[2018-11-27 23:38] #8762 closed

[2018-11-27 23:41] mkArtakMSFT commented on #8760
Thanks for the details, @troncomputers.
@NTaylorMullen, can you please look into this? Thanks!

[2018-11-27 23:42] #8725 closed

[2018-11-28 04:51] mkArtakMSFT commented on #8760
@troncomputers you should read the documentation I've shared. accessing a value stored in `TempData` removes it. So if you intend to read it multiple times, or just want to check whether it's there or not you should use an appropriate approach. In this case, you could use the `Peek()` method. See more details in the documentation I've referenced.

[2018-11-28 08:38] ArtemAstashkin commented on #8749
Yes, it is related to the realization.
Although BadRequest is a common result for an invalid request I only wanted to simplify the example and emphasize that ModelState can be incorrect in some cases in other words contains unexpected state.

[2018-11-28 08:47] troncomputers commented on #8760
@mkArtakMSFT `.Peek()` has same behavior as `.Keep()` and `HttpContext.Session`. I don't know when I can clear the list.

Imagine that you're doing an app, realy simple and small, that can store products orders. You have order `Index` page with list of all your orders and one button to create a new one. In the `New` order page you can select products that you want to order. Here is the tricky part

[2018-11-28 14:48] KieranFoot commented on #6760
Once it is possible to unload Assemblies/Types in DotNet Core 3.0, will you then support runtime compilation of the code behind Razor pages (.cshtml.cs files)?

Sorry to comment on an old thread, just thought it appropriate in this case with the planned feature.

[2018-11-28 15:03] jducobu commented on #2387
Maybe this implementation can help you https://stackoverflow.com/a/46492926

[2018-11-28 18:59] mkArtakMSFT commented on #8760
@troncomputers, it seems this is more of an usage type of question. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-11-28 18:59] #8760 closed

[2018-11-28 20:45] ryanbrandenburg commented on #8739
@fabercs it's unclear to me if you're sorted now. If you're sorted we'll close this out. If your not could you re-state your current problem?

[2018-11-29 04:18] dougbu commented on #7820
This looks like the uber-issue for 3.0 😈 But, do we have an issue covering removal of `[Obsolete]` types and members?

I see #7382 but nothing that covers all of the ~38 `[Obsolete]` members e.g. the many old constructor overloads in input formatters and model binders or the `ActionResult.ExecuteResult(...)` overrides.

[2018-11-29 06:02] fabercs commented on #8739
@ryanbrandenburg indeed I was expecting all will work properly when moving all my working (conventional) localization system from Web project to a separate project, however adding only a `ResourceLocation` attribute didn't do the trick. While keeping the `ResourceLocation` attribute, as I said above, I had to implement my own `IViewLocalizer` for views' localization. For data annotation localizati

[2018-11-29 07:21] davidfowl commented on #6760
What are cshtml.cs files?

[2018-11-29 07:40] jigarce commented on #7471
It works Thanks

[2018-11-29 13:07] KieranFoot commented on #6760
@davidfowl I'm refering to the C# code file behind a razor page.

I currently have a virtual filesystem as part of a CMS that is an IFileProvider serving files from a database.
When MVC loads a Razor page, it makes no attempt to compile the code behind it, it just expects it to be their, already compiled.

As I said, I don't think the issue can be resolved until DotNet Core 3.0, due to the lack of

[2018-11-29 16:32] DanJ210 opened #8773 "ApiConventionType all of a sudden states assembly reference cannot be found"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

#### Description of the problem:
I have had the Microsoft.AspNetCore.Mvc.Api.Analyzers NuGet package installed for quite a bit with no problems. All of a sudden there's build errors and it's showing the `[ApiConventionType(typeof(DefaultApiConventions))]` line of code is

[2018-11-29 17:26] davidfowl commented on #6760
No we’re not doing that and have no plans to in 3.0

[2018-11-29 18:31] ryanbrandenburg commented on #8739
For your `ViewLocalizer` issue refer to [this issue](https://github.com/aspnet/Localization/issues/328). It boils down to this being an abstraction issue that would force us to make assumptions about the contents of a different assembly.

For your DataAnnotations issue, could you file a new issue (now against the aspnet/AspNetCore repo since we're moving everything) so that we can keep its context

[2018-11-29 18:31] #8739 closed

[2018-11-29 19:01] KieranFoot commented on #6760
You ARE adding the ability to unload Assemblies/Types, which would allow this to be done. Weather this persons issue is on the roadmap for 3.0 or not, it could be done after 3.0.

It seems a shame for this not to be supported, not sure I understand why it's a flat out "No we're not doing this."... Guess people will just implement it themselves.
It's not that hard, I have it working already, but I

[2018-11-29 19:12] davidfowl commented on #6760
Yes it would allow us to not reboot the process, that's a tiny percentage of the work. Making the end to end experience fast even with that requires more changes. I'm speaking from experience here as we've attempted this a number of times in the past. Also we only really care about this for development scenarios not for production. It seems like you specifically want this for production scenarios

[2018-11-29 21:57] omidtui commented on #8608
Hi,

Im getting thread starvation and this seems to be one of the problems. Can this be fixed?

[2018-11-29 22:36] NTaylorMullen commented on #8608
@omidtui the workaround would be to stop using the TagHelpers that run file hash calculations, i.e. Script and Link tagHelper

[2018-11-29 23:30] mkArtakMSFT commented on #8773
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-11-30 17:51] johnrom commented on #8608
@omidtui there are other workarounds. Theoretically, setting `asp-append-version="false"` should stop all these tags from calculating hash, or just removing `asp-append-version="true"` since I think it is `false` by default.

If you want both tag helper and append version, you should also be able to use the cache tag helper to reduce calls to the hash calculation. Caching is heavily dependent on y

[2018-11-30 18:42] dougbu commented on #7156
Better to change `MvcCompatibilityOptions` because that's where the value is actually set.

To be clear, will leave the various `ConfigureCompatibilityOptions` subclasses. But, all will no-op in the 3.0 world. Expect most `XyzOptions` classes will sprout properties based on `CompatibilitySwitch`es going forward -- as happened in the 2.x train.

Refined this to mean removing all `SetCompatibilityVe

[2018-12-01 11:48] MCFHTAGENTS opened #8775 "Issues with value attribute not being set"
I have the following CSHTML:
[code]
which is rendered as:
[code]
Customer is defined as
`        public CustomerCreate Customer { get; set; }`

and CustomerCreate, partially, as
[code]

As you will see the value attribute is not being set for the first two but is present in the POCO object Customer (which is a POCO object of type CustomerCreate - all mine not MVC)

There are no Editor Templates in

[2018-12-02 06:36] alishamsi-p commented on #3003
try below code

public class movie
{
       public int ID { get; set; }
        [DisplayName("Movie Title")]
        public string Title { get; set; }
}
///////////////////////////////////////////////////

@model IEnumerable<MvcMovie.Models.Movie>
@{
   // MvcMovie.Models.Movie _movie=Model[0];
}
<h1>Show List Movies</h1>
< label asp-for="ToList()[0].Title">< /label>

@foreach (var movie in Model)

[2018-12-03 14:18] CrispyDrone commented on #8034
Hi,

I have a controller method where I accept an IEnumerable of an enum (and some additional properties):
[code]
When leaving out `[FromQuery]` and passing this in the body of the request, the binding works without issue.

However when using `[FromQuery]`, it only works when specifying the Name property like so:
`[FromQuery(Name = "lookups")]`

[2018-12-03 16:57] dougbu commented on #8034
@CrispyDrone this bug (really #7712) was fixed in 2.1.5 and 2.2.0-preview1 or later. Which version of Microsoft.AspNetCore.Mvc are you testing?

[2018-12-03 19:56] NTaylorMullen commented on #8708
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-12-03 19:56] #8708 closed

[2018-12-04 06:57] mkArtakMSFT commented on #8775
Thanks for contacting us, @MCFHTAGENTS.
@NTaylorMullen, is the behavior described here by design?

[2018-12-04 07:01] mkArtakMSFT commented on #8764
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-12-04 07:01] #8764 closed

[2018-12-04 07:03] #8761 closed

[2018-12-04 07:07] mkArtakMSFT commented on #8761
Closing as it seems there is no good way to achieve this. Per @javiercn's point, there is an extensibility point to provide custom implementation, if necessary.

[2018-12-04 07:11] mkArtakMSFT commented on #8754
@pranavkm please work with @danroth27 as well as @rynowak to get information you need for this work.

[2018-12-04 07:13] mkArtakMSFT commented on #8753
@pranavkm, not sure how this is different from the referenced issue. if not, just close one of them.
The only assumption I can make is that this one is to track the dev work, where as the other one - the PM work.

[2018-12-04 11:25] pranavkm commented on #8754
Tracking stuff via https://github.com/aspnet/Mvc/issues/8753

[2018-12-04 13:09] bugproof commented on #5607
Found this issue here: https://stackoverflow.com/questions/31464359/how-do-you-create-a-custom-authorizeattribute-in-asp-net-core

@derekgreer is perfectly right, it would be great if there was `ClaimRequirementAttribute` available or something similar.

Current usage of policies is pathological I'd say. Having to create policies for each claim (one-to-one mapping) is really an overkill

`options.

[2018-12-04 14:42] NetTecture commented on #4311
I think you all are lookig at this WAY too easy - or: too simplistic.

If controller actions get more complex, there are way more progblems that may happen further down the line. I work on complex controllers for OData and I want to ahve the query logic distributed into different methods in the same controller. Helper methods that return or manipulate an IQueryable.

Now, my problem is not 404. My

[2018-12-04 17:19] DanJ210 commented on #8773
Ok but I'm assuming that you realize this is specific to an environment and a repo won't reproduce the same issue unless the same random thing can happen and you keep the repo on your machine checking it everyday to see when the above issue happens.

Are you sure this is the best way to understand above? If `Microsoft.AspNetCore.Mvc.Api.Analyzers` is added to the project, shouldn't the above line

[2018-12-04 17:25] DanJ210 commented on #8773
Does the .Net Core project have to be 2.2? I'm able to install the analyzers on 2.1, is that the problem?

[2018-12-04 18:21] mkArtakMSFT commented on #8773
@DanJ210, `ApiConventionTypeAttribute` has been introduced in 2.2, so yes, you should be on 2.2 to be able to use it.

[2018-12-04 18:22] mkArtakMSFT commented on #8773
And yes, as you're targeting 2.1.6 it should not be available.

[2018-12-04 19:00] NTaylorMullen commented on #8775
How are you setting LastName? Via controller? Form post?

[2018-12-04 19:15] mattezell commented on #6725
@mkArtakMSFT who is the owner and do you know where this issue is being tracked? I am encountering this very thing in a newly generated project, and all search roads lead to this thread which has been unceremoniously closed out without resolution.

[2018-12-04 19:19] MCFHTAGENTS commented on #8775
Both in a way!

The form starts off as a view served from a HttpGet method on a controller. At this point Customer is null.

The user then submits the form a number of times (think of a wizard design pattern) incrementing a page counter passed back and forth as a hidden value. As they navigate through (effectively, create a booking,  enter some key customer attributes, searching for an existing cu

[2018-12-04 20:04] remcoros commented on #8761
👍  thanks for looking at it.

[2018-12-04 22:25] JoshClose commented on #5607
This is a much more simple solution. Thanks for sharing.

For me to do an activity based auth, just like the answer you linked to, I created an `AuthorizationHandler<IAuthorizationRequirement>`, an `IAuthorizationPolicyProvider`, an `IAuthorizationRequirement`, and an `AuthorizeAttribute`. I also created a manager class so I could do things like `IsAuthorizedForActivity(string activity)`.

It's a

[2018-12-05 06:22] hez2010 opened #8776 "HTTP 415 when query string contains '-'"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[code]
Create a controller and a method, such as
[code]
and SetCompatibilityVersion to version_2_1
and then access this method in js using (query string parameter value contains '-')
[code]

#### Description of the problem:
In ASP.NET Core 2.1, it works and Test was invok

[2018-12-05 09:16] #8776 closed, assigned to nobody

[2018-12-05 11:09] Tornhoof opened #8777 "ApiConvention Analyzer behaviour for Non-200 Success messages"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
1. Create WebApp with 2.2 and paste the repro controller from below
2. Add the analyzer package <PackageReference Include="Microsoft.AspNetCore.Mvc.Api.Analyzers" Version="2.2.0" />
3. Look at the suggestions/warnings

![screenshot](https://user-images.githubusercontent.c

[2018-12-05 11:15] Suchiman commented on #8536
I just upgraded to 2.2 and this issue still occurs.
Since i have a List of a class, this should work according to the specified behavior?

Parameter type | Binding source
-- | --
Complex collection | Body

[2018-12-05 14:09] alishamsi-p commented on #2387
try below code

public class movie
{
public int ID { get; set; }
[DisplayName("Movie Title")]
public string Title { get; set; }
}
///////////////////////////////////////////////////

@model IEnumerable<MvcMovie.Models.Movie>
@{
// MvcMovie.Models.Movie _movie=Model[0];
}

Show List Movies
< label asp-for="ToList()[0].Title">< /label>
@foreach (var movie in Model)
{

<p>@movie.Title</p>
}

[2018-12-05 14:24] alishamsi-p commented on #2387
try below code

public class movie
{
public int ID { get; set; }
[DisplayName("Movie Title")]
public string Title { get; set; }
}
///////////////////////////////////////////////////

@model IEnumerable<MvcMovie.Models.Movie>
@{
// MvcMovie.Models.Movie _movie=Model[0];
}

Show List Movies
< label asp-for="ToList()[0].Title">< /label>
@foreach (var movie in Model)
{

<p>@movie.Title</p>
}

[2018-12-05 14:31] alishamsi-p commented on #2387
< label asp-for="ToList()[0].Email">< /label>
or
< label asp-for="@Model.ToList()[0].Email">< /label>

[2018-12-05 16:35] tugberkugurlu opened #8778 "DefaultActionDescriptorCollectionProvider is internal"
#### Is this a Bug or Feature request?:

I would say neither, I am looking for a migration guidance.

#### Description of the problem:

At v2.1 or below, [`ActionDescriptorCollectionProvider`](https://github.com/aspnet/Mvc/blob/release/2.1/src/Microsoft.AspNetCore.Mvc.Core/Internal/ActionDescriptorCollectionProvider.cs) wasn't an abstract class and I was able to hold a reference to within my own i

[2018-12-05 17:50] mkArtakMSFT commented on #8778
Thanks for contacting us, @tugberkugurlu.
@rynowak, can you please help out @tugberkugurlu here? Thanks!

[2018-12-05 17:52] mkArtakMSFT commented on #8777
Thanks for contacting us, @Tornhoof.
@pranavkm, can you please look into this when you'll get time? Thanks!

[2018-12-06 02:33] rynowak commented on #8778
Hi @tugberkugurlu - you should instead register an additional implementation if `IActionDescriptorProvider` - make the order value a bigger number than the build in implementations.

These are a pipeline so when yours is called you'll see the results of the other providers in `context.Results` and you can do your filtering by removing items you want to turn off.

I think you'll find this more stra

[2018-12-06 02:33] #8778 closed, assigned to rynowak

[2018-12-06 03:31] dougbu commented on #7156
First part in 929d7f3306

[2018-12-06 03:55] dougbu commented on #8536
@Suchiman the decisions we made w.r.t. `[ApiController]` changed a few times. In 2.2.0, two `ApiBehaviorOptions` properties control the behavior. They are `SuppressInferBindingSourcesForParameters` (which turns all inference off when `true`) and `AllowInferringBindingSourceForCollectionTypesAsFromQuery` (which changes the inference for all collection types from `BindingSource.Body` to `BindingSour

[2018-12-06 04:23] Suchiman commented on #8536
@dougbu so if i follow your explanation, since i don't set `SuppressInferBindingSourcesForParameters`, then not setting `AllowInferringBindingSourceForCollectionTypesAsFromQuery` means all collection types have `BindingSource.Body` so this should work for the sample provided in the top post, but it doesn't.

[2018-12-06 04:27] waelkdouh commented on #5392
They have added the GetErrorMessage. Here it is:

private string GetErrorMessage()
{
    return $"Classic movies must have a release year earlier than {_year}.";
}

[2018-12-06 05:17] dougbu commented on #8536
@Suchiman should have mentioned earlier that this is is a closed issue and not something we're tracking anymore.

More specifically, 2.2.0 (not one of the previews) should not special-case collections when inferring binding sources unless `AllowInferringBindingSourceForCollectionTypesAsFromQuery == true`; collections are treated as complex types. Note `AllowInferringBindingSourceForCollectionTypes

[2018-12-06 09:19] Suchiman commented on #8536
@dougbu Ahhh gotcha, i failed to up the `CompatibilityVersion`. Although I'm suprised, this is a breaking change, as this used to work in 2.1 and was changed in a servicing release, and then kept for 2.2 and restoring that feature requires increasing the `CompatibilityVersion`.

[2018-12-06 09:40] ghost opened #8779 "What's the repo that contains ASP.NET MVC for the .NET framework and not the ASP.NET Core one?"
I am looking for the source of the `FilterAttributeFilterProvider` class in ASP.NET MVC 5.2.6 for the .NET framework 4.5.2?

This one looks like it is the ASP.NET Core MVC repo.

Where can I find the source for the plain original vanilla ASP.NET MVC?

PS: I am looking for the source because all the decompilers I know of and have do not reverse-engineer lambda's. They just show the compiler generat

[2018-12-06 09:48] benaadams commented on #8779
AspNetWebStack https://github.com/aspnet/AspNetWebStack

[2018-12-06 09:50] ghost commented on #8779
Like!

Thank you!  :+1:

[2018-12-06 09:50] #8779 closed, assigned to nobody

[2018-12-06 10:58] tugberkugurlu commented on #8778
Lovely ✨ That's a much better way to approach the problem, thanks @rynowak! Will give that a go, I am hoping that NSwag will also honor that as it's honoring the custom `IActionDescriptorCollectionProvider` but seems like all is connected together and at the end produce a coherent set of actions.

[2018-12-06 16:48] mkArtakMSFT commented on #8777
@Tornhoof, can you also share the `MyConventions` type?

[2018-12-06 16:55] #8773 closed, assigned to nobody

[2018-12-06 17:15] Tornhoof commented on #8777
It's at the end of the repro in Details above. It's just in the same codesnippet

[2018-12-06 19:11] kishanAnem opened #8780 "able to run MVCsandbox app from cmd.exe. but not able from vs2019 and 2017 previews.(It is not a bug. Need help.)"
It is not a bug. Need help.
I've rebased aspnet/mvc
after ran build.cmd.
able to run MVCsandbox app from cmd.exe.
but not able from vs2019 and 2017 previews.

[MVCsandboxEventLog.zip](https://github.com/aspnet/Mvc/files/2654476/MVCsandboxEventLog.zip)
VS2019 Path:
C:\Program Files (x86)\Intel\iCLS Client\;
C:\Program Files\Intel\iCLS Client\;
C:\Windows\system32;
C:\Windows;
C:\Windows\System32\Wb

[2018-12-06 21:41] mkArtakMSFT commented on #8777
Thanks. Found it!

[2018-12-06 22:46] mkArtakMSFT commented on #8780
Thanks for contacting us, @kishanAnem.
Our engineering team is heads down handling critical issues and unfortunately, we're unable to answer questions of this nature. Your best bet would be to look through the repo and find a solution for yourself. Sorry for not being able to assist you. Hope you'll be able to handle it yourself.

[2018-12-06 22:46] #8780 closed, assigned to nobody

[2018-12-06 22:55] NTaylorMullen commented on #8775
@MCFHTAGENTS could you provide a small repro without a database?

[2018-12-07 04:08] pranavkm commented on #8777
@Tornhoof I can't reproduce the issue. Given

[code]

I get a single warning for the undocumented 204 in `AnotherDelete`:

[code]

Do you have a repro app I can try out?

[2018-12-07 07:31] Tornhoof commented on #8777
I have to apologize for hiding the Repro in a details tag in the original post, I hope you didn't assume that my Repro would be a screenshot.
Here are all required files without a details tag.

**Controller and Convention**
[code]

**Project file**
[code]
**Startup**
[code]

**Program**
[code]

[2018-12-07 08:03] MCFHTAGENTS commented on #8775
[TestChildPOCO.zip](https://github.com/aspnet/Mvc/files/2656393/TestChildPOCO.zip)
![picture1](https://user-images.githubusercontent.com/31187658/49635078-81d08e80-f9f6-11e8-81cf-cab27fa89896.png)

The attached zip file creates the output on my machine as presented by the attached image

[2018-12-07 11:16] pranavkm commented on #7156
`ApiBehaviorOptions.SuppressMapClientErrors` is similar to `ApiBehaviorOptions.SuppressModelStateInvalidFilter`. If we're keeping the latter, presumably we keep this too.

[2018-12-07 12:19] #8744 closed

[2018-12-07 14:45] pranavkm commented on #8711
Moving this would break RCLs compiled in 2.x that reference the type from the `.Internal` namespace. Since the attribute appears in code that rzc produced, it would be a poor choice to punish users by moving the type and forcing the RCL to be rebuilt. Closing this.

[2018-12-07 14:45] #8711 closed

[2018-12-07 16:15] rynowak commented on #6723
If you need an unblocker, the easiest way to do this would be to write a convention.

[code]

You can register this like:
[code]

[2018-12-07 19:31] rynowak commented on #7156
Let's not make breaking changes just because we could.  I think leaving it as is is fine.

I haven't see anyone ask for this. In either case, you could define your own handler or filter for these verbs if you really cared. I think we should remove the option.

I agree with @pranavkm  we should keep SuppressMapClientErrors and SuppressModelStateInvalidFilter. These are here so the user can opt-out

[2018-12-08 02:04] pranavkm commented on #7156
There's an `ApiBehaviorOptions.InvalidModelStateResponseFactory` option that lets you specify this. The flag is used to determine the default value for the factory, so removing it doesn't take away their ability to configure the feature.

[2018-12-08 02:17] dougbu commented on #7156
`ApiBehaviorOptions.SuppressModelStateInvalidFilter` is already a regular property; I didn't look at it at all. Keeping `ApiBehaviorOptions.SuppressMapClientErrors` is fine with me.

FYI changing `ApiBehaviorOptions.SuppressUseValidationProblemDetailsForInvalidModelStateResponses`  does exactly nothing at the moment. Except for tests, nothing reads that property.

[2018-12-08 02:19] dougbu commented on #7156
Revised lists:
`XyxOptions` properties that are currently backed by `CompatibilitySwitch<T>` or `NullableCompatibilitySwitch<T>` and should remain i.e. will convert to regular properties:
- [ ] `ApiBehaviorOptions.SuppressMapClientErrors` (default `false`)
- [ ] `MvcOptions.EnableEndpointRouting` (default `true`)
- [ ] `MvcOptions.MaxValidationDepth` (default `32`)
- [ ] `MvcJsonOptions.AllowInput

[2018-12-08 02:35] dougbu commented on #7156
@pranavkm / @rynowak any other updates before I make it so?

[2018-12-08 07:30] #6818 closed

[2018-12-08 07:31] pranavkm commented on #7156
Looks good to me

[2018-12-08 18:20] janatjak opened #8782 "FormFileModelBinder infinite loop"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Posting form with OneToMany structure containing IFormFile property e.g.:
- Translations[0].Text
- Translations[0].UploadedFile
...

[code]

dotnet model binder jumps to never ending loop and generate new array items `Translations[0].UploadedFile`, `Translations[1].Upload

[2018-12-09 15:05] rspaulino opened #8783 "Open API Analyzers behave different from VSCode -> VSforMac -> VS17"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
create a new WebAPI project, add Open API Analyzers and open it on VSCode, VSforMac, VS17

#### Description of the problem:
VS17 give expected behavior of the feature which are squiggles line and Quick fixes options.
VSforMac give you only warning messages but not Quick f

[2018-12-10 16:34] codyclay88 opened #8784 "Feature Request: Enable Execution of Server-side Razor Logic to run on Client"
I'm not sure if what I'm asking is even possible, but I figure with the advancements we are getting with WebAssembly and consequently Blazor, that this would be the correct place to pose this request.

I love the Razor Pages programming model. I think it works great and it is delightfully simple to use. The only problem I have (and this is no fault of Razor Pages, its just the state of web develop

[2018-12-10 18:29] codyclay88 commented on #8784
Moved to [the correct repo... oops!](https://github.com/aspnet/AspNetCore/issues/4550)

[2018-12-10 19:19] NTaylorMullen commented on #8775
@MCFHTAGENTS you're not `@addTagHelper`ing the Mvc.TagHelpers so the input tag helper isn't running. For example, if you view source:
![image](https://user-images.githubusercontent.com/2008729/49755302-5905fe80-fc6d-11e8-9e77-b2e056ba8bee.png)
Note the asp-for is still in the output.

However, if at the top of your file you add `@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers` Everything work

[2018-12-10 19:19] #8775 closed, assigned to NTaylorMullen

[2018-12-10 21:36] #8784 closed, assigned to nobody

[2018-12-10 22:49] VictorioBerra opened #8785 "Returning Task returns 200 OK even though downstream may have returned NotFoundResult."
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
[code]

#### Description of the problem:
`GetNumber()` returns `NotFound()`. If you call `Task DeleteAsyncNotWorking` with something like Postman you will see 200OK. This is really confusing... I have to go to all of my methods now and make sure they return the correct co

[2018-12-10 23:06] mkArtakMSFT commented on #8783
Thanks for contacting us, @rspaulino. The behavior your're seeing is by design.
We have no control over how much support for analyzers different IDE-s provide. You can provide your feedback to VSCode and/or VS for Mac if you wish.

[2018-12-10 23:06] #8783 closed, assigned to nobody

[2018-12-11 00:08] mkArtakMSFT commented on #8785
Thanks for contacting us, @VictorioBerra.
The behavior you're seeing here is by-design. If you wish your action to return something relatively generic, you can use the `Task<ActionResult>` as a return type. Otherwise, if you know the exact type you're going to return, `Task<ActionResult<T>>` is a great option to stick with.

[2018-12-11 00:08] #8785 closed, assigned to nobody

[2018-12-11 00:11] mkArtakMSFT commented on #8782
Thanks for contacting us, @janatjak.
@dougbu, is this the same as: https://github.com/aspnet/Mvc/issues/8723 ?

[2018-12-11 00:43] dougbu commented on #8782
Yes, this matches #8723: Model binding system will iterate to `int.MaxValue` if model is a collection of a complex type and the complex type has a greedy binding source for one or more properties. The binding source for `IFormFile` is greedy.

[2018-12-11 00:44] dougbu commented on #8782
@mkArtakMSFT I suggest tracking this problem in #8723 and closing #8782 (this one) as a dupe. Agreed?

[2018-12-11 07:56] #8782 closed, assigned to dougbu

[2018-12-11 14:20] DMDTT commented on #6942
I humbled over this issue a year ago with webapi 2.1 in combination with FluentValidation

then I saw https://stackoverflow.com/questions/39527583/how-to-use-fluentvalidation-with-metadatatypeattribute

    ValidatorOptions.DisplayNameResolver = (type, memberinfo, expression) => GetPropertyDisplayName(memberinfo);

this could be enhance in many ways

[2018-12-11 21:04] cccuscott commented on #4190
Plus one for needing this functionality.

[2018-12-12 07:38] sguryev commented on #4932
Sample is gone guys. RIP

[2018-12-12 07:53] pranavkm commented on #4932
MVC 2.0.0 introduced a filter attribute to address this - https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.requestformlimitsattribute?view=aspnetcore-2.1

[2018-12-12 22:48] gustavomoutella commented on #5331
It has worked for me. Thank you @dougbu

[2018-12-13 16:26] chrisdpratt commented on #5145
I'm resurrecting this one. I don't think proper weight was given to the issue creator's concerns here. Currently, remote validation works in one very narrow circumstance: you have a direct one-to-one correlation between a particular model with a property with the `RemoteAttribute`, and a particular action that validate specifically that property on that one particular model.

If you how are applyi