[2015-06-23 07:27] ryanelian opened #2730 "Replace JSON.NET with Jil?"
https://github.com/kevin-montrose/Jil

Jil is faster and apparently stable (used actively by StackExchange)

I think ASP.NET should consider using Jil instead for that performance boost. Are there any known reason to not to use the library? (Searching "Jil" in issues brings zero result)

[2015-06-23 11:11] Anderman commented on #1576
I had the same problem as Bartmax.
There are a few problem with the current implementation and the solution in 2015RC:
* how do I know/test that the development use the same version as production
* How do I know/test If i use the correct fallback-test (in 2015RC the wrong test is used for bootstrap.js asp-fallback-test="window.jQuery")

I was writing my own implementatie of link and script taghelp

[2015-06-23 11:30] Bartmax commented on #1576
That's a great idea, but if you control the path of the 'copied files' you only need

[code]

the rest can be perfectly valid as defaults. (pseudo code)
[code]

[2015-06-23 11:43] Anderman commented on #1576
Oke looks good

For Js I think thats simple.
But for css there maybe is a problem if the localpath is not too deep
For example they sometimes referred as ../../someimage.png.

Maybe this can besolved by a default local copy location wwwroot\fallback\css\extra\ or something.

[2015-06-23 12:47] Anderman commented on #2707
This code is not easy to test and that will leed to not functional or not optimal code. See the typo's in VS2015RC
Bootstap should not test on window.jQuery but on window.jQuery().modal
[code]
And jQuery is wtih capital Q
[code]
As Developer I like to see some warnings.
* Before loading resource the test should not succeed
* After loading the test should succeed.
* And a check if the fallback reso

[2015-06-23 15:06] back5576 commented on #2714
I got it working by first running build.cmd in the root folder of the Mvc git project. Now I have to figure out why that worked.

[2015-06-23 16:42] danroth27 commented on #2730
Thanks for letting us know about Jil. We don't have any plans to move off of JSON.NET at this time, but you can certainly implement your own custom JSON formatter or JsonResult that uses Jil for handling JSON.

[2015-06-23 16:42] #2730 closed

[2015-06-23 16:47] danroth27 commented on #2727
`FilePathResult` needs to work regardless of which OS you are running on.

[2015-06-23 17:42] matthewDDennis commented on #2711
**False alarm**.
If I run a Release Build without Debug it is FAST!!!

[2015-06-23 18:00] dougbu commented on #2711
@matthewDDennis thanks for letting us know.

[2015-06-23 18:00] #2711 closed

[2015-06-23 18:05] Eilon commented on #2707
@Anderman I think the templates in RC had some bugs and I believe those are fixed for the next update of VS2015 RTM. Sorry about that!

[2015-06-23 18:22] rahuldhariya01 commented on #2724
@Dougbu, any update on this issue ?

[2015-06-23 18:49] ajaybhargavb commented on #2538
4a4b8ec87e56db88c1192f33dc755ecd67d85cd4

[2015-06-23 18:49] #2538 closed

[2015-06-23 18:50] ajaybhargavb commented on #2715
Part 1 - f206cf6759dd09920c8a30cd98e2800e70e878cf

[2015-06-23 20:01] rynowak commented on #2619
Fixed here: https://github.com/aspnet/Antiforgery/commit/9eeb1de68f7aa04a9088bd849e21820b00ac4364

Will close this issue when MVC has been updated to use the new Antiforgery codebase.

[2015-06-23 20:03] rynowak commented on #1137
Fixed here: https://github.com/aspnet/Antiforgery/commit/9eeb1de68f7aa04a9088bd849e21820b00ac4364

will close this issue once MVC is updated to make use of the new Antiforgery codebase.

[2015-06-24 02:08] back5576 opened #2731 "TagHelperSample.Web not working"
When I run the sample with "dnx . web" I get console output
info    : [Microsoft.Net.Http.Server.WebListener] Start
info    : [Microsoft.Net.Http.Server.WebListener] Listening on prefix: http://localhost:5001/taghelpers/
Started
Q: why does this sample have /taghelpers in URL
Anyway, here's what I find. When I try to open the URL, the web server process locks up, the browser gets no response, and

[2015-06-24 02:27] back5576 commented on #2731
MvcMinimalSample.Web and MvcSample.Web work fine

[2015-06-24 02:57] back5576 opened #2732 "Is this comment wrong in ActionConstraintWebSite"
ConsumesAttribute_OveridesBaseController.cs
Says
            // should be picked if request content type is application/xml and not application/json.
I assume it should have said
            // should be picked if request content type is text/json and not application/json.
If not, what am I missing?

[2015-06-24 07:04] Anderman commented on #2707
@danroth27. Is it possible to take that depency one step higher and make it intellisence aware.
In the old way we create something like @HTML.someMethode(p1,p2). So HTML attributes should have compareble intelliense

[2015-06-24 08:40] evorine opened #2733 "Add empty attributes to TagHelpers"
In HTML5, empty attributes are valid and are boolean types. It is here: http://www.w3.org/html/wg/drafts/html/master/infrastructure.html#boolean-attributes

But currently in MVC, it is not supported.
[code]
So we can wait `data-is-blue` attribute's value as a boolean type in TagHelper class.

[2015-06-24 15:00] dougbu commented on #2733
Dupe of aspnet/Razor#431

But this works today: Your `TagHelper` could _not_ bind the `bool` attribute. Instead check whether it appears in `TagHelperOutput.Attributes`. Check `TagHelperAttribute.Minimized` to differentiate that case from `data-is-blue="data-is-blue"` for some reason.

Separately Razor does not allow bound attributes with names starting with `data-`.

[2015-06-24 15:00] #2733 closed

[2015-06-24 16:25] dougbu commented on #2445
- c4fa402 and 715a0b6
- further cleanup in a170a4e

[2015-06-24 16:25] #2445 closed

[2015-06-24 23:10] dougbu commented on #2724
@rahuldhariya01 Your Beta 4 application shouldn't need any change from the original. I incorrectly thought the `Year` property was an `int` but it's `string`. `[Required]` does what you want for `string` properties in all versions of MVC 6, including Beta 4. (`[BindRequired]` is more important in Beta 5 and Beta 6 but is not relevant for your project.)

What problems remain when using `[Required]`

[2015-06-24 23:15] dougbu commented on #1514
9c63d1d

[2015-06-24 23:15] #1514 closed

[2015-06-24 23:42] timothy-shields opened #2739 "OutputFormatter provides no way to disable text encoding"
### Title
OutputFormatter provides no way to disable text encoding

### Functional impact
It seems impossible to write a class derived from `OutputFormatter` for handling a custom binary media type that uses no text encoding.

### Minimal repro steps

1. Create new Web API app (using `"Microsoft.AspNet.Mvc": "6.0.0-beta4"`)

2. Add a `MyBinaryOutputFormatter` class:

        public class MyBinaryO

[2015-06-24 23:52] Anderman commented on #1928
First, I realy like the new MVC and C#

I am a little bit afraid you put a lot of effort on some code what nobody will use (for example the  asp-fallback-href-exclude)

I do think a lot is already done. Create a good fundamentals and some basic implementation and the community will do the rest

The @T() function of @glen-84 is almost possible. If razor understood `using static MyClass`. (I think/h

[2015-06-25 01:09] IDisposable commented on #1928
The downside off putting the ErrorMessage directly in the text is that you can't easily localize it without extensive *code* changes. As a resource, you can just replace one or more resource .dll files.

[2015-06-25 02:02] rynowak opened #2743 "Reduce use of ErrorReportedMiddleware in functional tests"
We have a piece of infrastructure `UseErrorReporter()` that provides a pattern for reporting exceptions in functional tests. It has the side effect of making issues in those tests (and compilation failures) much harder to diagnose.

We should try to limit use of this to only the tests/sites where it's absolutely necessary and can't be covered with unit tests.

Currently it's used in 11 test websit

[2015-06-25 02:10] Anderman commented on #1928
I see your point but that why I prefer a database for translation instead of resource file. Then you can change the translation on the fly.

If all message go through the translation module then it always possible to translated. I like the idea that we can plug in our own Translation and format system. Resource files should be one of the options

The current implementation of resource file is not

[2015-06-25 03:15] sornaks opened #2745 "ViewHierarchyUtility.GetHierarchicalPath does not handle root paths *nix file systems."
It trims the leading `/` and then tries to check `Path.IsPathRooted()`. This will always return `false` in *nix file systems.

[2015-06-25 09:06] anfomin opened #2746 "`RequireHttpsAttribute` should implement `IFilter`"
`RequireHttpsAttribute` does not implement `IFilter` so it can't be used as a global filter like:
[code]

[2015-06-25 09:14] anfomin commented on #2746
Sorry, it implements `IAuthorizationFilter ` which contains `IFilter`.

[2015-06-25 09:14] #2746 closed

[2015-06-25 15:08] #2724 closed

[2015-06-25 15:08] rahuldhariya01 commented on #2724
Thanks for help.

[2015-06-25 16:17] danroth27 commented on #2739
@Tratcher Why would what got written to the body change in this case?

[2015-06-25 16:19] danroth27 commented on #2731
Thanks for reporting this issue. What version of DNX are you using?

[2015-06-25 16:26] danroth27 commented on #2726
@rynowak

[2015-06-25 16:30] Eilon commented on #2726
@rynowak this is somewhat related to the discussion around multi-tenancy and modular apps. So this is just for your FYI information for now; no action to take other than considering this scenario.

[2015-06-25 16:51] timothy-shields commented on #2739
I actually forgot to add one other point: what I think the user expectation would be here.  My expectation was that the `SupportedEncodings` and the `OutputFormatterContext.SelectedEncoding` would never be automatically applied, and that I should be responsible for encoding any textual information according to the `SelectedEncoding`.

Furthermore, it should be possible to have no encoding at all -

[2015-06-25 17:07] back5576 commented on #2731
dnvm use 1.0.0-beta6-12114 -r clr -arch x64

After restarting this computer, I am getting a different result. I get an error popup that I hadn't seen before. It says

"Embedded resource missing. Ensure 'prebuild' script has run."

![Uploading taghelper_error.png…]()

[2015-06-25 17:35] Tratcher commented on #2739
I wouldn't expect the above code to encode the body in any way. I can only assume that WriteResponseBodyAsync isn't being called and some other code is sending the body. @rynowak?

[2015-06-25 17:52] timothy-shields commented on #2739
@Tratcher `WriteResponseBodyAsync` is definitely being called, I have a breakpoint and can step through it all with the debugger.  This is a minimal example that reproduces the problem, but in my original scenario I had a "real" serialization going on in my custom `OutputFormatter` for which there was no way something else could be sending the body.  Examining the hex of the response body client-s

[2015-06-25 18:14] timothy-shields commented on #2739
I figured out what the problem is...  The Chrome App "DHC" which I am using as my test client is failing to render the correct hex for the response body!  It appears that it is stripping the charset off of the Content-Type on the response and then modifying the response body based on the charset.  I made the request with a different test client and the hex was all correct.

In summary: The problem

[2015-06-25 18:52] jasonwilliams200OK commented on #2712
That is an old issue (2011). Not sure if it still holds the candle as on latest Chrome (v43.0.2357.130), it accepts the decimal without step, as default value of step in IE, Chrome and Firefox is null.

However, the behavior is reproducible in IE11.

[code]

At this point I am not sure which browser is actually conforming with the standard here, but the step (with decimal like 0.3) is required in

[2015-06-25 21:09] kirthik opened #2747 "Fix Mvc localization test once dnx support reading resources"
Localization tests today have a few hacks since dnx does not support reading resources
- TestStringLocalizer,
- Expected strings in tests have if defs

Remove these once dnx adds support for resources.

[2015-06-25 21:50] rynowak commented on #2739
@timothy-shields thanks for the feedback. We're looking into making a fix for `OutputFormatter` to make it not set a charset if `SupportedEncodings` is empty (instead of throwing).

As a workaround, you might want to look into implementing `IOutputFormatter` directly. Take a look at `StreamOutputFormatter`. It's not a 100% fit for what you're doing - `StreamOutputFormatter` will write any content-

[2015-06-25 22:09] rynowak commented on #2618
Done in Beta6. See here: https://github.com/aspnet/Announcements/issues/34

[2015-06-25 22:09] #2618 closed

[2015-06-25 22:09] rynowak commented on #2619
Done in Beta6. See here: https://github.com/aspnet/Announcements/issues/34

[2015-06-25 22:09] #2619 closed

[2015-06-25 22:10] rynowak commented on #1137
Done in Beta6. See here: https://github.com/aspnet/Announcements/issues/34

[2015-06-25 22:10] #1137 closed

[2015-06-25 22:11] rynowak commented on #1210
Moved to https://github.com/aspnet/Antiforgery/issues/5

[2015-06-25 22:11] #1210 closed

[2015-06-25 23:07] #2684 closed

[2015-06-25 23:21] rynowak commented on #476
We already removed `ModelMetadata.Model`, so this is stale.

[2015-06-25 23:21] #476 closed

[2015-06-26 06:16] dougbu commented on #2705
@danroth27 I have confirmed we do not support the requested parameter syntax in MVC 6. It works in MVC 5. So this is a gap compared to MVC 5.

FYI neither MVC 5 nor 6 support the `[]` syntax in query strings. For example submitting to `...?Numbers%5B%5D=1&Numbers%5B%5D=2` does not work though `...?Numbers%5B0%5D=1&Numbers%5B1%5D=2` is fine (in both versions).

[2015-06-26 09:02] FabienDehopre opened #2749 "InvalidOperationException: Incorrect Content-Type: application/json"
When I POST to a controller using a json payload, I receive an InvalidOperationException: Incorrect Content-Type: application/json

Here is the raw request (captured by fiddler):
[code]

the headers of the response:
[code]

and finally the stacktrace:
[code]

[2015-06-26 09:13] davidfowl commented on #2749
Can you show your controller?

[2015-06-26 10:05] FabienDehopre commented on #2749
I just realize that I put a ValidateAntiForgeryToken attribute on my method.
When I remove it, it works correctly.
Anyway, here is my controller (before I remove the attribute):
[code]
and just in case, the validatemodelstate class:
[code]

[2015-06-26 10:11] davidfowl commented on #2749
We should be checking the content type before reading the form. I still don't like how aggressively ReadForm fails when the content type is wrong but meh.

/cc @rynowak @Tratcher

[2015-06-26 15:18] Tratcher commented on #2749
Here: https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNet.Antiforgery/DefaultAntiforgeryTokenStore.cs#L48

[2015-06-26 16:09] danroth27 commented on #430
We decided not to do this.

[2015-06-26 16:09] #430 closed

[2015-06-26 16:22] danroth27 commented on #2731
@dougbu Can you do a quick check to make sure this sample is actually working? Is it already part of our automation?

[2015-06-26 16:25] danroth27 commented on #2718
Agreed

[2015-06-26 16:25] #2718 closed

[2015-06-26 16:34] danroth27 commented on #2316
What about Required? What about a case where I normally don't care about validating a particular type, but in one exceptional case I do? Or what if I don't like the validation logic on a type I don't control and I want to override it for just one particular case?

[2015-06-26 17:14] rynowak commented on #2316
`[Required]` only applies to properties. Using `[Required]` on a property with an excluded type will perform validation.

[2015-06-26 17:18] rynowak commented on #2749
@davidfowl - agreed, we should make this fail more gracefully.

[2015-06-26 17:24] dougbu commented on #2731
@back5576, @danroth27 this sample is used in a number of functional tests and those tests are not failing. However there's a few prerequisites that `.\build.cmd initialize` (the first step in almost any build) provides for free:
1. Use the [`volatile`](https://www.myget.org/F/aspnetvolatile/api/v2) feed. Breaking changes have gone in since our `dev` (aka `vnext`) feed was last updated. Hopefully t

[2015-06-26 17:54] danroth27 commented on #2316
After having discussed this at length let's just close this issue and leave the property as is. The property was added for a very specific use case and is not worth generalizing. The semantics of the property can be clarified in the API ref docs.

[2015-06-26 17:54] #2316 closed

[2015-06-26 18:08] back5576 commented on #2731
That did the trick! Thanks.
I think having a readme in these sample  folders would be a good idea

[2015-06-26 22:22] ajaybhargavb opened #2750 "ImageTagHelper append file version does not work for dynamic or external src paths"
Example:
[code]
Need to figure out what the experience should be for these scenarios.

[2015-06-26 22:22] ajaybhargavb commented on #2750
cc @Eilon @DamianEdwards

[2015-06-26 23:40] DamianEdwards commented on #2750
We can either ignore it, log a warning, or throw an exception. In this case given that the path could be a variable value, throwing seems extreme, so I'd lean to ignoring it or logging a warning.

[2015-06-26 23:44] ajaybhargavb commented on #2750
Currently the first example ignores it but the second one throws an exception when the file provider tries to get FileInfo. We need to change that behavior.

[2015-06-26 23:47] DamianEdwards commented on #2750
The helper should be ensuring that the string is a valid file path before attempting to load it

[2015-06-27 08:41] mikeandersun opened #2753 "How to set login form url?"
I have an authorize controller decorated with [Authorize] filter. When visit it redirect to "Account/Login.
My login route is "accounts/login.
Where i can set my login url?
Thanks for your time

[2015-06-27 11:30] marcuslindblom opened #2754 "Deserialization issue on mono/OS X"
Where can I specify the assembly name when using mono/OS X? I experience a deserialization problem and I think it's because the assembly name may be different from when I use VS 2015?

[2015-06-27 16:28] spacecat opened #2755 "Invalidating cached responses using bundling and minification features in ASP.NET MVC 5"
I learned today that using cache busting or invalidating cached responses (https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching#invalidating-and-updating-cached-responses) helps you as a developer to not have to worry about different static content being served to different users or visitors of your site.

After successfully adding and getting the c

[2015-06-27 17:10] davidfowl commented on #2754
Can you give some more details:

- A stack trace of the error
- An example that shows the problem posted to a github repository

[2015-06-27 17:25] davidfowl commented on #2753
MVC doesn't actually redirect to the login page. That is configured in the Cookie middleware.

https://github.com/aspnet/Security/blob/dev/samples/CookieSample/Startup.cs#L21

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/CookieAuthenticationOptions.cs#L97

[2015-06-27 17:25] #2753 closed

[2015-06-27 20:09] dougbu commented on #2755
@spacecat have a look at the tag helpers in MVC 6 that support the `asp-append-version` attribute, a C# `bool` or `bool?`. These include `<img>`, `<link>`, and `<script>`. All these helpers generate elements with cache-busting URLs when `asp-append-version == true`.

What particular gaps do you see in MVC 5, given the ability to "make it work" there?

[2015-06-27 20:16] dougbu commented on #2731
4d56046

[2015-06-27 20:16] #2731 closed

[2015-06-28 01:22] slaneyrw commented on #2619
Thanks for making this change.  I'll play with the new infrastructure but so far it looks great.

[2015-06-28 05:25] JamesNK commented on #2715
Are the serializer settings from `MvcJsonOptions` still used by default?

[2015-06-28 06:26] marcuslindblom commented on #2754
This is the [actual error](http://f.cl.ly/items/1e1Y1w3R0P193V1q3e0v/Internal%20Server%20Error.html) I can write a small example if that helps.

[2015-06-28 06:35] davidfowl commented on #2754
Yes, please write a minimal example. It also doesn't look specific to OSX. It also looks like there's use of dynamic somewhere in the example.

[2015-06-29 00:15] Anderman opened #2756 "modelbinding with Jquery ajax and datatables result in a very long loop"
When posting formdata like this
[code]

Trying to bond to this
[code]

result in a long loop in

[code]
version used: https://github.com/aspnet/Mvc/commit/37f056ce2bd930635fbfa1370b7ccf5752130c7f

![image](https://cloud.githubusercontent.com/assets/1858745/8398958/dbdd7f78-1e03-11e5-93a5-12da1b117e28.png)

[2015-06-29 01:16] dougbu commented on #2756
@Anderman the submission does not appear to contain valid `application/x-www-form-urlencoded` data. `ColumnT` entries are double-encoded and the expected name for `model.Columns[0].Data` would be `columns[0].data`, not `columns[0][data]`.

Have a look at [`MVC.stringify()`](https://github.com/aspnet/Mvc/blob/dev/samples/MvcSample.Web/wwwroot/Scripts/Mvc.js) for one way to convert JSON objects into

[2015-06-29 03:49] sornaks opened #2757 "Exception filters are not being short circuited in mono"
https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/FiltersTest.cs#L509

[code]

[2015-06-29 06:30] Anderman commented on #2756
Thx, But sending wrong data should not lead to out of memory execption. It would be very easy to overload a server.
![image](https://cloud.githubusercontent.com/assets/1858745/8402174/fde79baa-1e38-11e5-88a9-e09c8a16aa81.png)

[2015-06-29 06:48] Anderman commented on #2756
Would it be an option that I create a fix for the out of memery execption?

[2015-06-29 12:21] marcuslindblom commented on #2754
Here is the sample code you can use to reproduce the error. https://github.com/marcuslindblom/test, You need to download RavenDB to run the code because Raven can not run in embedded mode on OS X.

The exception:
[code]

[2015-06-29 14:27] dougbu commented on #2756
@Anderman you didn't mention an `OutOfMemoryException` in your original description. Is this the same scenario?

We'd appreciate a PR to fix the `Exception`.

[2015-06-29 15:12] Anderman commented on #2756
@dougbu Yes, this is the same scenario. I'll make a PR and add a unit test. Probably create the fix wednesday

[2015-06-29 15:52] toddtsic opened #2758 "System.Net.WebRequest in beta 4?"
Is there a workaround for getting System.Net.WebRequest functionality in beta 4?

code:

     System.Net.HttpWebRequest objrequest = (System.Net.HttpWebRequest)System.Net.WebRequest.Create(post_url);

results in:

    Severity	Code	Description	Project	File	Line
    Error	CS0234	The type or namespace name 'HttpWebRequest' does not exist in the namespace 'System.Net' (are you missing an assembly ref

[2015-06-29 16:04] marcosph commented on #2756
I'm doing some test with MVC 6 ("Microsoft.AspNet.Mvc": "6.0.0-beta4").
I made a Roles Manager (CRUD), however, when I remove a related roles with
a User, it is still accessing the Controller, which in this case has
[Authorize (Roles = "Admin")].

On Mon, Jun 29, 2015 at 12:12 PM, Thom Kiesewetter <notifications@github.com

[2015-06-29 16:11] Anderman commented on #2756
@marcosph You are a little bit off topic. Maybe you can post your question on stackoverflow

[2015-06-29 17:01] Eilon commented on #2758
You can use `System.Net.Http.HttpClient`, which I think is generally the preferred HTTP client on .NET.

[2015-06-29 17:11] sornaks opened #2759 "RazorViewEngine does not use the right view expander when invalid culture is passed in mono."
https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/ViewEngineTests.cs#L146

[2015-06-29 20:14] Eilon commented on #2289
Let's wait until Kevin finishes his current PR and then we can move this to a new repo.

[2015-06-29 20:59] alexsandro-xpt commented on #2708
And how can I could compile views to resource without Visual Studio and more the one assembly?

`options.FileProvider = new EmbeddedFileProvider(GetType().GetTypeInfo().Assembly, "RazorEmbeddedViewsWebSite.EmbeddedResources");` is a single assembly.

[2015-06-29 21:43] rynowak commented on #2757
Given the other issues reported on Mono (action discovery in the routing tests), I think it's far more likely that the wrong action is being invoked.

[2015-06-29 22:19] rynowak commented on #2715
I look a look here and @JamesNK is right. This should be respecting `MvcJsonOptions`

[2015-06-29 22:39] sornaks commented on #2757
Hmmm, I rebased my changes on Mono's alpha bits (4.0.2) and those routing issues don't seem to appear in this build. (I was originally working with their nightly - 4.3.0)

[2015-06-30 06:08] MaleDong opened #2762 "[Suggestion] A New Attribute Needed For a simple parameter when doing "Post" by jQuery in Web Api"
Hello:
   You see that if I let my jQuery call something like this:
[code]
   And my actual Web Api defines:
[code]
  This is wrong. And I have to write something like this:
[code]
  For a single parameter posted, I must leave the "key" empty. However for a complicated type defined in the server, I can combine a json object (something like {"id":"1","name":"Bill Gates"}……). And this will be reflec

[2015-06-30 07:33] Zeroto opened #2763 "Escaped characters in url parameters in beta4"
We use webapi for an internal api, but some of the resource identifiers have a \ in their name. I tried escaping those characters in the url, but it looks like that MVC unescapes urls before parsing them for routing causing it to either not find the route, or give the wrong value as a parameter. Added to that, it seems that a \ will be converted to a / so even if I use a greedy parameter it still

[2015-06-30 13:54] toddtsic commented on #2758
Thanks for responding Eilon, will do.

T

On Mon, Jun 29, 2015 at 10:01 AM, Eilon Lipton <notifications@github.com>
wrote:

[2015-06-30 14:19] IsaacSee opened #2764 "Recommanded way to handle private static folders bound to a vNext Class Library (Package)"
Hello,

We are building a multi-site platform using vNext framework.

One of our requirement is to have **shared class libraries with a private static files folder** with the following constraints :
- It should be private and only accessible via file system
- It should be browsable and manualy updatable (even after a publication)
- It should not be the result of a copy into each wwwroot at build o

[2015-06-30 16:05] #2758 closed

[2015-06-30 16:21] toddtsic commented on #2758
Quick question.

I'm wrestling a bit with HttpClient, not for MVC reasons dependency
reasons, but Authorize.net reasons

One option I have is using Authorize.nets library from nuget
(AuthorizeNet), but as expected I get DNX Core 5.0 compiler complaints.

Can you point me in the right direction on how to incorporate asp.net 4.5
libraries into an MVC 6.  I've tried the usual "dependencies" in
projec

[2015-06-30 16:35] Eilon commented on #2758
You use `dnx451` if you want to run on .NET Framework 4.5.1, and `dnxcore50` if you want to run on .NET Core. Or of course you can target both at once (which is what the project templates do).

If you're using a library that works only on .NET 4.x, you'll need to remove the `dnxcore50` from the `project.json`.

[2015-06-30 17:12] toddtsic commented on #2758
One free round of golf for you in Sedona AZ!

That's a gold mine tip, thanks!

T

On Tue, Jun 30, 2015 at 9:36 AM, Eilon Lipton <notifications@github.com>
wrote:

[2015-06-30 17:21] Eilon commented on #2758
It's hot enough in the Seattle area already, thanks :smile:

[2015-06-30 18:45] ajaybhargavb commented on #2719
6213354b85ee4b0e7c42d0eb64fc76447e28e9fb

[2015-06-30 18:45] #2719 closed

[2015-06-30 18:45] ajaybhargavb commented on #2750
6213354b85ee4b0e7c42d0eb64fc76447e28e9fb

[2015-06-30 18:45] #2750 closed

[2015-06-30 20:53] dougbu commented on #2720
Thanks very much for filing this bug @sornaks! This bug uncovers at least 3 intertwined issues, most of which are regressions from MVC 5:
1. If the submission contains an explicit `null` or empty value for a `ValueType` property, `TypeConverterModelBinder` will return a `ValueProviderResult` with `IsModelSet == true && Model == null`. This combination does not match `MutableObjectModelBinder`'s ex

[2015-06-30 20:54] sornaks commented on #2759
This is because in Linux and Windows 10 the `CultureInfo` constructor does not throw when an invalid culture is passed with the contents matching the string constraints. Changed `na` to `!-invalid-!` and it fails appropriately.

[2015-06-30 21:01] dougbu commented on #2720
/cc @Eilon @rynowak we made some incorrect assumptions in recent round of model binding changes

[2015-06-30 21:17] kirthik opened #2766 "[Localization]: Add localizers for validation attributes"
- Add localizer classes for all dataannotation validation attributes.
- If a dataannotation attribute does not have a resource type specified, we should call validation localizer class which in turn calls `IStringLocalizer`

[2015-06-30 21:20] kirthik opened #2767 "[Localization]: Fix ViewLocalizer so it works for layouts too"
`ViewLocalizer` cannot be used on layout pages since the logic in `Contextualize` method reads current view to get the resources file. Since `ViewContext.View` property does not point to layout,  layout specific resources are not localized. Today we have to use `IStringLocalizer` for this scenario.

We should come up with a solution where `ViewLocalizer` works for layouts too.

[2015-06-30 21:30] danroth27 commented on #2767
@damian

[2015-06-30 21:31] danroth27 commented on #2766
@DamianEdwards

[2015-06-30 21:55] #2715 closed

[2015-06-30 22:22] sornaks commented on #2759
For the following test:
https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/ViewEngineTests.cs#L304

This is the failure:
[code]

[2015-06-30 23:31] ajaybhargavb commented on #2707
Note: This case is already being logged as warning in both Link and Script tag helper.

[2015-07-01 00:42] DamianEdwards commented on #2707
As @ajaybhargavb said, this is already a warning case. We'll be adding a new logger in future template updates to ensure these warnings are seen by default when debugging in VS. Our approach so far has been to **not** throw runtime exceptions for cases like this but rather log warnings as we want to minimize the error logic introduced by tag helpers over and above normal HTML & C# use (which is wh

[2015-07-01 05:05] marcuslindblom commented on #2754
Actually you need to run RavenDB on a windows machine, sorry about that but I didn't now how to reproduce it otherwise

[2015-07-01 07:57] tinganho opened #2768 "ApacheBenchmark testing yields null reference error"
I just tried out your sample application in Yeoman for creating Web API application.

When I run an `ab` test it yield a null exception error after a few thousand requests.

[code]

yields:
[code]

[2015-07-01 08:02] davidfowl commented on #2768
You should file this bug on https://github.com/aspnet/KestrelHttpServer

[2015-07-01 08:02] #2768 closed

[2015-07-01 14:31] Anderman commented on #2756
@dougbu I'm not sure if I understand this correct.

The compositeModelBinder loop through the binders to find a succesfull binder
[code]
I think it is something in the ComplexModelDtoModelBinder.
[code]
I think the check `**|| ((ComplexModelDto)bindingContext.Model).PropertyMetadata.Count==0**` is missing.

If I add this check then the out of memory execption is fixed (-;
but 12 other test will fa

[2015-07-01 15:51] dougbu commented on #2756
Your model has properties so I'm not seeing how this change could help. What is the full stack trace when the site runs out of memory?

In any case if we need to check for complex objects with no properties, should do it in MutableObjectModelBinder.

[2015-07-01 16:19] danroth27 commented on #2754
@sornaks

I don't see any deserialization in the stack trace. Looks like an issue invoking the action method using reflection.

[2015-07-01 18:16] #2707 closed

[2015-07-01 18:26] Eilon commented on #2590
@HaoK can you close this?

[2015-07-01 18:31] NTaylorMullen opened #2769 "Change Razor attribute behavior to not special case boolean values in middle of complex attribute values."
Today if a user writes:

[code]

It generates `<input type="button" onclick="doSomething(onclick);" />`. If `isActive` is `false` it removes the content entirely. This feature had good intentions in MVC5 but should be scoped to non-complex attribute values; aka values that only have a single value.

Intended output:

[code]

[2015-07-01 18:31] NTaylorMullen commented on #2769
/cc @Eilon

[2015-07-01 18:32] kichalla commented on #2569
commit 406a3853afb44d7b7bc5ade4849e3001e9de1720

[2015-07-01 18:32] #2569 closed

[2015-07-01 18:43] alexsandro-xpt commented on #2432
+1

[2015-07-01 18:51] HaoK commented on #2590
Actually doesn't look like I made this change in the auth changes I made for MVC, and unfortunately doesn't look like the helper is in the exact shape we need to use for MVC, I'll open a PR in security to make it useable for MVC

[2015-07-01 21:26] #2590 closed

[2015-07-01 21:36] avanderhoorn opened #2772 "What-if-mode for Routes, Binding and Views"
As a tools author, I would like to be able to create a UI which lets me allow users to do the following for each case:
- Routes: provide a URI and see how the route is resolved
- Binding: provide binding data to see what the resulting binding is
- Views: provide view data to see what view is targeted

This would be used predominately during development to allow various experiments to take place. I

[2015-07-01 22:02] Anderman commented on #2756
Oke, the problem is this
I have a model Columns with no properties that can bind
[code]
So this check wil be true in MutableObjectModelBinder
[code]
So model will be created but also try to bind properties in
[code]
The CollectionModelBinder will make a infinate loop. but doesn't know that the binding in ComplexModelDtoModelBinder will fail
[code]
@dougbu @kulmugdha This seems  a llitle bit comple

[2015-07-02 13:37] evorine opened #2773 "TagHelpers won't work in @<text>...</text> code blocks"
MVC does not support using tag helpers in `@<text></text>` blocks.

I have a method which waits `Func<object, HelperResult>` type argument to accept html codes sent from views.
It is like:
[code]
View code:
[code]

And I receive this error:

[code]
and
[code]

Will this be supported?

[2015-07-02 16:28] danroth27 commented on #2773
Yeah, looks like a bug.

[2015-07-02 16:55] danroth27 opened #2775 "Run middleware in MVC pipeline"
There is a lot of duplication between the middleware and filters. In other frameworks (ex expressjs) you can run middleware as far away as the pipeline and as close as the action.

[2015-07-02 16:58] davidfowl commented on #2775
/cc @rynowak @lodejard

[2015-07-02 17:00] rynowak commented on #2775
:heart_eyes:

[2015-07-02 18:27] NTaylorMullen opened #2776 "Discuss adding server side validation to value type model properties by default."
Today in MVC6 having the following model:
[code]
Will result in client side validation with 0 server side validation (unless specifying `BindingBehaviorAttribute` with `BindingBehavior.Required`).

This differs from what happened in MVC5; model state would be invalid due to server side validation opting in `ValueType` properties. However, in WebAPI not providing a value for a `ValueType` property

[2015-07-02 19:56] kirthik commented on #2560
merged 38748b54eb7ef8e7cba2365d0621fcf4826dda4b

[2015-07-02 19:56] #2560 closed

[2015-07-02 22:16] Reafidy opened #2778 "Label Inside EditorTemplate Disappears During Validation"
I am using ASP.net MVC 6 and the following EditorTemplate:

    <div class="form-group">
        @Html.LabelFor(m => m, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue,  htmlAttributes)
            @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
    </div>

When

[2015-07-02 22:48] sornaks opened #2779 "Decide if newlines in Razor tests need to be normalized to '\r\n' or '\n'"

[2015-07-03 01:06] sornaks commented on #2492
https://github.com/aspnet/Mvc/commit/68523a3550a288252d48ae147dbf30b091f4bc79

[2015-07-03 01:06] #2492 closed

[2015-07-03 01:54] rynowak commented on #2492
:fireworks:

[2015-07-03 03:12] NTaylorMullen commented on #2720
fc2019c973e84c8b7faa99793cba56412e032c70

[2015-07-03 03:12] #2720 closed

[2015-07-03 16:28] rubenprins opened #2780 "Do not use type=number for double and single"
Currently, the tag helpers and default editor templates use type=number for double and single, but type=text for decimal.

There are a very good reason *not* to use type=number, which are browser support (IE as usual) and internationalization (model binding and validation).

Take
[code]

* In several browsers, input type=number will always send "." as a decimal separator over the wire (as specifie

[2015-07-05 00:19] khalidabuhakmeh opened #2781 "Model vs. Value Providers Incorrect Precedence"
### Model vs. Value Providers Incorrect Precedence

The model value I pass to a HTML helper from a controller is being taken over by any matching value found in the ValueProviders.

### Functional impact

This interferes with formatting of input and may actual present incorrect data to the user.

### Minimal repro steps

Full explanation can be found at http://www.khalidabuhakmeh.com/a-bug-with-as

[2015-07-05 06:33] prasannapattam opened #2782 "Dependency Injection in Filters"
Is it possible to do a DI in Filters. I am looking for Property injection. I want to inject SignInManager into my Filter. I would like to see whether user is signed in and if not Signin the user

[2015-07-05 23:17] rynowak commented on #2782
Yes, you can use DI in filters.

You have a small decision point to make about whether or not you want the *filter itself* to be registered with DI. I'll provide examples with both. You can find more examples in the MVC sample: https://github.com/aspnet/Mvc/blob/dev/samples/MvcSample.Web/Startup.cs

1. My filter is registered in DI
---

**First** add your filter to the service collection. With the

[2015-07-06 15:24] RehanSaeed commented on #1966
I like where this is going but having similar methods for 'Action' (controller and action name) and 'Content' (images and static content) would be really useful too. Places where I currently use AbsoluteContent:

- Atom/RSS feeds require absolute URL's to images (There is a way to specify a base URL but it's buggy in FireFox). See my ASP.NET MVC 6 Boilerplate [example](https://github.com/RehanSaee

[2015-07-06 16:16] #2782 closed

[2015-07-06 16:24] danroth27 commented on #2781
The behavior you are seeing is expected. If the value is in ModelState then it is always used as is without modification. This is so that you can correctly echo back to the user the original input.

[2015-07-06 16:24] #2781 closed

[2015-07-06 16:26] Eilon commented on #2781
It's also worth noting that it's quite rare to have a currency-formatted value in a textbox because the end-user almost never types in the currency. Usually the currency indicator is *outside* the input, and the user types in only the number.

[2015-07-06 16:34] danroth27 commented on #2779
@sornaks Why? What is the actual issue here?

[2015-07-06 16:42] sornaks commented on #2779
Two reasons:
1. Razor normalizes it to '\r\n' in its tests. - https://github.com/aspnet/Razor/blob/dev/test/Microsoft.AspNet.Razor.Test/CodeGenerators/RazorChunkGeneratorTest.cs#L87
2. We might end up coding test cases to handle '\n' (*nix) cases that we actually miss some cases relating to '\r\n' (Windows) - This scenario is remote but possible. So normalizing to '\r\n' would always ensure workin

[2015-07-06 16:43] danroth27 commented on #2775
@davidfowl Do we have any good concrete scenarios to drive this discussion? What middleware would it make sense to run this way? Any examples from the expressjs world?

[2015-07-06 16:52] danroth27 commented on #2778
@ajaybhargavb Please try to reproduce this

[2015-07-06 17:19] #2634 closed

[2015-07-06 17:40] danroth27 commented on #2763
@Tratcher Is this happening at the HTTP abstractions layer?

[2015-07-06 18:46] dougbu commented on #2779
Due to core.autocrlf, neither `\n` nor `\r\n` is consistently correct on Windows. Razor repo unfortunately normalizes to the less-common `\r\n`, matching only the default Windows setup. MVC repo normalizes files to contain `\n` on read but only when it matters due to for example calculation of source locations. In either case, need `ignoreLineEndings` in assertions due to additions of `Environment

[2015-07-06 21:14] Reafidy commented on #2778
New to Github and At the risk of sounding completely dumb, what does the '2- working' label mean?

[2015-07-06 22:14] GuardRex commented on #2698
Fixed by https://github.com/aspnet/Announcements/issues/40

[2015-07-06 22:42] GuardRex commented on #2698
I thought https://github.com/aspnet/Announcements/issues/40 my be my savior on this, but no dice. OpenIdConnect (apparently) handles the redirect to AAD when authorization fails.

[2015-07-06 23:01] GuardRex commented on #2698
Moved to [aspnet/Security#336](https://github.com/aspnet/Security/issues/336).

[2015-07-06 23:01] #2698 closed

[2015-07-06 23:59] rynowak opened #2784 "Validation ignores ValidationNode.Model when the node represents a model property"
We have an integration test that demonstrates this issue. See: `FromBodyAndRequiredOnValueTypeProperty_EmptyBody_JsonFormatterAddsModelStateError`

In reality, this is two bugs that wipe each other out. The validation node created by the body model binder, shouldn't be used/validated/created because there was no value set on the model. However, because we look at the model **property** and not at

[2015-07-07 00:13] prasannapattam commented on #2782
Thanks. I will TypeFilter as I need to pass additional parameters to the Filter as well.

[2015-07-07 00:40] sornaks commented on #2512
https://github.com/aspnet/Mvc/commit/57f1ae755f1cf4afbcc5d7dd5436b33befdbdfa3

[2015-07-07 00:40] #2512 closed

[2015-07-07 01:49] back5576 opened #2786 "is UseErrorHandler() deprecated?"
I've seen it in some sample code, but not recently, and I don't see it in the repo.

[2015-07-07 01:52] rynowak commented on #2786
Error handler middleware and all of these sorts of things live in the diagnostics repo. https://github.com/aspnet/Diagnostics/blob/dev/samples/ErrorHandlerSample/Startup.cs

It's all usable outside of MVC.

[2015-07-07 02:32] back5576 commented on #2786
Thanks

[2015-07-07 02:52] back5576 commented on #2786
I am not getting routed to /home/error on errors. My Configure() has

            app.UseMvcWithDefaultRoute();
            app.UseStaticFiles();
            app.UseRuntimeInfoPage();
            app.UseErrorHandler("/Home/Error");

I can open /home/error directly and it works

[2015-07-07 02:59] davidfowl commented on #2786
You need to change the middleware order, it is very important

[2015-07-07 02:59] #2786 closed

[2015-07-07 03:28] back5576 commented on #2786
Thanks. For those who find this, I changed as follows and it works:
            app.UseErrorHandler("/Home/Error");
            app.UseMvcWithDefaultRoute();
            app.UseStaticFiles();
            app.UseRuntimeInfoPage();

[2015-07-07 07:29] davidfowl opened #2787 "FileStreamResult should be renamed to StreamResult"
There's nothing File* about it /cc @rynowak

[2015-07-07 11:48] Taritsyn opened #2788 "Tag helpers are not processed inside IE conditional comments"
I use ASP.NET 5 Beta 5. In `_Layout.cshtml` file I have the following code:

		<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"
			asp-fallback-src-include="~/scripts/lib/jquery/jquery.min.js"
			asp-fallback-test="window.jquery"
			asp-file-version="true">
		</script>

The output I get the following HTML code:

		<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"

[2015-07-07 16:31] danroth27 commented on #2778
@Reafidy It just means that the person assigned to the issue is now working on the issue.

[2015-07-07 16:41] #2755 closed

[2015-07-07 16:48] Eilon commented on #2779
Let's go with `\r\n` as the default in the tests across our repos because it seems like it'll be easier for us to deal with. We'll quickly catch any non-Windows issues on CI runs anyway.

[2015-07-07 16:48] danroth27 commented on #2348
@sornaks Could you please work to create a better repro for this Mono issue and add it to the bugzilla issue?: https://bugzilla.xamarin.com/show_bug.cgi?id=28693

[2015-07-07 18:40] GuardRex commented on #2698
Filling this out with the final version of the custom attribute approach in case anyone ever finds this approach useful.
[code]
then in the controller you decorate like this ...
[code]
then you just need to establish one or more role claims for whatever roles the user has. Keep in mind that the whole point of all of this is just to hijack the ADAL process of kicking the user to AAD for login and r

[2015-07-07 19:59] rynowak commented on #2787
We need to (briefly) consider legacy. I believe @Eilon was saying the other day that names of action result classes rarely show up in user code.

[2015-07-07 21:19] jasoncavett commented on #2348
Seeing the same issue as @adriaanp. Everything will run fine until I perform `npm install`. Once that has completed, I receive the same exact error when I attempt to run `dnx . kestrel`.

[2015-07-07 22:41] danroth27 commented on #2637
We are tracking this internally as part of our template work.

[2015-07-07 22:41] #2637 closed

[2015-07-07 23:28] Eilon commented on #2787
Yeah the type names we don't super care about. It's the helper factory methods on Controller that matter a lot.

[2015-07-07 23:28] Eilon commented on #2787
That is to say: we can rename the types all we want. But breaking the helper methods on Controller is bad.

[2015-07-08 06:01] Reafidy commented on #2778
Thanks.

[2015-07-08 12:19] JonnySedman opened #2790 "Repeatedly loading a view causes out of memeory exception"
Using VS2015 RC (Win 7 pro), create a new project, choose the asp.net 5 website template. Run the project, the memory usage levels out at about 100mb.

![mem](https://cloud.githubusercontent.com/assets/13236815/8569784/e0a33e5a-2572-11e5-81e5-db851af24e98.PNG)

Navigate to the other pages a bunch of times. The memory usage climbs and is never released, eventually leading to an out of memory except

[2015-07-08 13:14] alexsandro-xpt commented on #2790
Bizarre...

[2015-07-08 17:58] Eilon commented on #2527
@rynowak can you hold on to this and deal with it appropriately?

[2015-07-08 19:43] Tratcher commented on #2763
This happens all the way down in Http.Sys, there's not much we can do about it.

[2015-07-08 20:37] #2763 closed

[2015-07-08 22:33] jods4 commented on #2058
@yishaigalatzer
Binding parameters to a JSON payload (i.e. matching parameters names to top-level JSON properties) is something I've been willing to do many times. Looking over the internet I found many similar questions as well.

I understand the motivation behind not including it by default, but given the popularity of the request it would be nice to have an official code example of how to build

[2015-07-08 22:56] kulmugdha opened #2793 "Concrete Collection types don't work with GenericModelBinder"
If the parameter is Concrete Collection type, the `GetCollectionBinder` in `GenericModelBinder` doesn't get CollectionBinder for this type.

[2015-07-08 23:24] yishaigalatzer commented on #2058
Fair. Note that I'm no longer on the team (I work on nuget nowadays). @Eilon can decide what to do about it. Reopening for consideration

[2015-07-09 00:11] rynowak commented on #2790
Thanks for the report, I'm still investigating, but it looks like browserlink is the culprit.

Remove `app.UseBrowserLink()` from startup and you should see things getting collected.

[2015-07-09 01:35] rynowak opened #2796 "Razor is not caching results for views that don't exist"
Nothing is cached when looking for a view that doesn't exist, causing us to repeat the file lookup each time it's requested.

This is a big problem when using `EditorFor` because the default templates are frequently requested and rarely customized. Here's the offending code:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/Compilation/CompilerCache.cs#L108

Suggestion from @pr

[2015-07-09 02:09] davidfowl commented on #2796
You don't want this to be unbounded righ? What misses do we want to cache? Also what did mvc 5 do?

[2015-07-09 05:35] Ciantic commented on #2058
I actually found a way to do it, since this is a side project it's been in a hold for a long time. Right now I'm stuck at trying F# and Scala for it, but here are the relevant parts which used to work with Beta 5 or something:

[code]

[code]

[code]

[code]

[2015-07-09 08:17] JonnySedman commented on #2790
Looks like that's fixed it thanks!

[2015-07-09 08:17] Antaris opened #2798 "ViewComponents as Widgets / Handling GET vs POST"
Preface: This is not a bug or an issue, just an enquiry.

Previous, on MVC5, we've created a Component/Widget framework around the use of MVC child actions.

Essentially, in my MVC5 view, I can do the following:

[code]

An example could be `@Component("ContactUs-Form", new { recipient = "yada@somewhere.com" })`.

This would internally call `@Html.RouteUrl` and allow us to execute a child HTTP req

[2015-07-09 08:24] davidfowl commented on #2790
/cc @jodavis

[2015-07-09 08:25] Fido789 commented on #2276
In some early beta it was working as expected

`var messages = TempData[PageMessagesKey] as IList<PageMessageModel>;`

then in beta4 I had to deserialize objects from TempData like this

`var messages = (TempData[PageMessagesKey] as Newtonsoft.Json.Linq.JArray)?.ToObject<List<PageMessageModel>>();`

but it was working. And in beta5 it is not working at all. I don't think it's going to the right di

[2015-07-09 09:39] jods4 commented on #2058
Thanks for the code @Ciantic, I'll have a look at it.

[2015-07-09 13:20] marcosph commented on #2698
Luke, the problem is that the roles are stored in the cookie. I have to
find some solution to update the cookie. When do I remove a roles directly
in the database the cookie is outdated. I think I have update the cookie to
each User request. The example I'm using is on github
https://github.com/aspnet/MusicStore/tree/master/src/MusicStore

On Tue, Jul 7, 2015 at 3:41 PM, Luke Latham <notifications

[2015-07-09 16:10] pranavkm commented on #2796
We had a bit of caching using the `IVirtualPathPageFactory` but it was short-lived. In our case, we would cache a null result along with a file watch on that specific path.

[2015-07-09 16:14] marcosph commented on #2698
I have an MVC 6 intranet application that uses roles. The admin users can
manage all the user roles. However any changes made to a users' roles are
only effective when the user logs on (this makes sense as the roles are
stored as claims in a cookie). The requirement is for role changes to take
effect immediately, like they did in the older asp.net membership and role
managers. How can one achieve

[2015-07-09 17:06] GuardRex commented on #2698
@marcosph My requirements aren't as strict as your's, so I haven't had to think about that yet.

The only thing that jumps to mind is to make the claims timeout really fast. Like let it timeout every few minutes, thus the app would have to hit the IDP every few minutes and would then pickup any changes.

I've read that adding `options.ExpireTimeSpan = new TimeSpan(<hours>, <minutes>, <seconds>);`

[2015-07-09 17:50] rynowak commented on #2796
@davidfowl - this isn't based on user input, it's based on pages that the app is programmed to render. In a properly programmed app there will still be lots of misses that aren't errors due to display/editor templates. In the case of editor/display templates, the bounding factor is the number of types used in views.

This bug means we go to disk for every `@Html.EditorFor`

[2015-07-09 18:00] pranavkm commented on #2276
cc @Eilon. Could you respond to @Fido789 on what the suggested approach is if a user wants to stash complex data types?

[2015-07-09 18:16] tom-cognify opened #2799 "TryUpdateModelAsync Out of Memory error"
when calling TryUpdateModelAsync on most(not all) of the entitys in my domain i get an out of memory error. IIS Express seems to loop endlessly until it runs out of memory. This problem started happening in Beta 4, I just updated to Beta 5 and I'm still seeing the same behavior.  Domain is about 50 entities.

Here is an example of controller Action.

    public async Task<ActionResult> Edit(Enroll

[2015-07-09 18:48] rynowak commented on #2799
Could you post a more complete sample of your entity classes so we can investigate?

[2015-07-09 19:08] tom-cognify commented on #2799
public abstract class BaseEntity<TId>
	{
		[NotMapped]
		public abstract TId Id { get; }
		/// <summary> Transient objects are not associated with an item already in storage.  For instance, a Customer is transient if its Id is 0. </summary>
		public virtual bool IsTransient()
		{
			return Id.Equals(default(TId));
		}

		[Column(TypeName="datetime2")]
		public DateTime CreatedDate { get; set; }

[2015-07-09 19:27] rynowak commented on #2438
Verified in the code that we're never using `ModelExplorer.Properties` - we always use `ModelMetadata.Properties`.

The goal of this item is to refactor without a behavior change. Moving to beta7 as discussed.

[2015-07-09 19:30] rynowak commented on #2732
Yep! The comment is wrong. Fixing it.

[2015-07-09 19:31] rynowak commented on #2732
2d62553122ac54db3786d9a827e4f3c82990cd73

[2015-07-09 19:31] #2732 closed

[2015-07-09 19:45] rynowak commented on #2527
Yeah!

I'll say again what I've said the last few times this has come up:

There's some code cleanup to do here nonetheless. We all agree on removing support for `FormCollection` directly in user-code and the fallback to copy values.

[2015-07-09 20:45] IDisposable commented on #2698
As the old adage says, no problem can't be solved with one more layer of indirection.  In this case, don't store the ACTUAL roles in the cookie, rather store a claim string that you use to lookup the roles from the database via. In my typical applications, that claim key is something like MyApp.AuthID and the value is the user's role. Then in the building of the in-memory IIdentity you do a databa

[2015-07-09 23:30] kulmugdha commented on #2704
Checked in with 8cb2aae4f5ce7899c123e41bdc53b7ab0e9a3008.

[2015-07-09 23:30] #2704 closed

[2015-07-10 05:41] Eilon commented on #2276
@Fido789 can you log a new bug with the exact case that isn't working? We can have @ajaybhargavb take a look at that - he's the guy who wrote the codes.

[2015-07-10 05:44] ajaybhargavb commented on #2276
@Eilon, I believe we made a design decision to not support serialization of complex data types by default. We currently throw an exception saying it can't be serialized.

[2015-07-10 05:52] Eilon commented on #2276
Oh, right. We might still want to document some guidance on this then.

[2015-07-10 09:44] spacecat commented on #2634
I totally agree that Web hosting companies should use https all the way. I was surprised that this was not the default. I know of only two companies doing this. App harbour  and Swedish city network. App harbour  through their own documentation and city network through  own experience running a mvc 5 app in their shared hosting environment. Due to this problem I was forced to move to Azure which d

[2015-07-10 10:01] spacecat commented on #2755
Sounds like it shouldn't be a problem solving this in MVC 6 according to those new features you just showed me, which is great.

To be honest, in MVC 5, what I am looking for there is a complete best practice sample because I consider this type of feature an architectural part of a Web app and therefore I believe it should be part of the framework or in the default ASP.NET MVC 5 Default Templates

[2015-07-10 12:00] grahamehorner opened #2806 "Consider a rename of the ViewLocationExpander"
Please consider renaming the ViewLocationExpander and supporting interfaces/classes to ViewPathProvider or similar.

The reason for this is that the implementation may not result in an expanded location; secondly the location is in fact part of a UNC/URI (minus protocol host port document) path and therefore using naming conversion of ViewPathProvider seems more akin to the actual function perform

[2015-07-10 16:02] marcuslindblom commented on #2798
:+1:

[2015-07-10 18:07] IDisposable commented on #2755
@spacecat you might find this one a bit better https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate for MVC5

[2015-07-10 19:19] NTaylorMullen opened #2807 "Add URL resolving TagHelper to replace Razor ~ functionality."
This is in reaction to the conversation: https://github.com/aspnet/Razor/issues/427#issuecomment-120494046

Today Razor special cases `~/` at the beginning of attributes and treats them as "resolve an application relative URL"; however, it does this for every attribute which is overkill/incorrect. After investigating the attributes that have URL capability in Razor the list warrants something less

[2015-07-10 20:43] rynowak commented on #2739
Fixed by 35ee0e3a4958db6e33d92b5f71506066b6fd842e

We won't throw anymore if `SupportedEncodings` is empty.

[2015-07-10 20:43] #2739 closed

[2015-07-11 00:07] kulmugdha commented on #2756
Checked in 933a13608f885b284ced937da53caf31d910fb1c

[2015-07-11 00:07] #2756 closed

[2015-07-11 02:18] zeusro opened #2809 "RegularExpressionAttribute has a bug"
here is my code.it is almost same as the

     [RegularExpression(@"^[_a-zA-Z0-9]{6.24}?$", ErrorMessage = "{0}shit")]
     public string Pwd { get; set; }

while Pwd="123456aa",the method IsValid will return false.
but

            string pwd = "123456aa";
            Regex regex2 = new Regex("^[_a-zA-Z0-9]{6,24}?$");
            Match match = regex2.Match(pwd);
            Console.WriteLine(matc

[2015-07-11 04:20] rynowak commented on #2809
Your working one has a comma, do you think that's the issue?

Did you look at the errors in `Controller.ModelState` - are you sure it's coming from the regex validator and not something else.

[2015-07-11 05:43] zeusro commented on #2809
reply rynowak :

        string pwd = "123456aa";
        Regex regex2 = new Regex("^[_a-zA-Z0-9]{6,24}?$");
        Match match = regex2.Match(pwd);
        Console.WriteLine(match.Success && match.Index == 0);
        Console.WriteLine(match.Length == pwd.Length);
the result is still same as I have been said.

[2015-07-11 06:22] zeusro commented on #2809
And it seem web api   does not supports   IValidatableObject   in  ApiController.Validate.

it seems that it only supposts the ValidationAttribute and will never run IValidatableObject's Validate method.

    public class TestController : BaseApiController
    {

        [System.Web.Http.HttpPost]
        public HttpResponseMessage Register2([FromBody] DRegister2 dto)
        {
            if (!Is

[2015-07-11 06:51] guneysus commented on #1765
+1

[2015-07-11 23:46] ctolkien commented on #2809
`^[_a-zA-Z0-9]{6.24}?$` doesn't match `123456aa`, `^[_a-zA-Z0-9]{6,24}?$` does.

[2015-07-12 14:39] gvx111 opened #2811 "MVC Create controller manualy"
How create controller dynamic. I'm using MVC 6 beta 4.
How can i make custom factory controller.
Also what is alternative of ControllerBuilder? In MVc 6 doesnt exist ControllerBuilder
I try to do dynamic controller with dynamic actions.
Please help me.

[2015-07-12 21:46] rynowak commented on #2811
Can you give more information about what you're really trying to accomplish? The controller factory exists as a replaceable service, but there's an easier way to do many things that used to be done by replacing it.

[2015-07-13 01:42] ctolkien commented on #2712
In EN-AU culture:

    <input type="number" value="1.5" />

Will not submit in either IE11 or Chrome 43.

http://codepen.io/anon/pen/mJLNvO

[2015-07-13 12:04] gvx111 commented on #2811
I want to create controllers action from database. I have table controller and also actions
action table has properties { ViewPath, ActionName } Where actionName is {Controller}/{ActionName}
I want build pages like this. How can i make it?

[2015-07-13 15:20] alexsandro-xpt commented on #2811
Nice question.

[2015-07-13 21:02] PromontoryProtean commented on #2798
I am interested to hear some guidance on this subject as well. I am beginning to explorer porting a WebForms based CMS to asp.net vnext, and I am running into similar roadblocks. Model binding of some kind in reusable components would be extremely useful. I really like the concepts introduced with view components, and I understand how fundamentally different MVC is from WebForms. But I also think

[2015-07-13 21:39] ajaybhargavb commented on #2712
Spoke to @dougbu and @NTaylorMullen, we decided to use `type=text` for float and double types. This also maintains consistency with MVC 5 behavior. Closing this issue as this is no longer relevant.

[2015-07-13 21:39] #2712 closed

[2015-07-13 22:58] rynowak commented on #2809
How much of what you've posted here is relevant to ASP.NET 5 / MVC 6? WebAPI 5.X bugs should go to https://aspnetwebstack.codeplex.com/

In your sample controller code, you're calling `Validate<T>(...)` as `Validate<object>(...)`, which means that validation is going to occur treating the model type as `object`. Pass in the right type and you should see it use your `IValidatableObject` implementat

[2015-07-13 23:23] kichalla commented on #2710
@NTaylorMullen I am able to repro this outside diagnostics' ErrorHandler middleware too.

[2015-07-13 23:25] rynowak commented on #2809
As, I setup a project using this validation attribute. If I change the regex to `^[_a-zA-Z0-9]{6,24}?$` it works as expected.

[2015-07-13 23:29] NTaylorMullen commented on #2710
When I debugged through it, the cause was inside the core response handling of the `UseErrorPage` middleware. What are you seeing?

[2015-07-13 23:51] kichalla commented on #2710
I initially tried debugging to find the cause but I get bunch of unrelated errors in VS...

[2015-07-14 01:11] zeusro commented on #2809
@ctolkien  I can't see  any different between

     ^[_a-zA-Z0-9]{6.24}?$

and

     ^[_a-zA-Z0-9]{6,24}?$

[2015-07-14 01:26] zeusro commented on #2809
Reply  @rynowak  :+1:
sorry for that.Sometimes the symbol is too small to discern.such like '.' and ','

[2015-07-14 01:27] #2809 closed

[2015-07-14 07:01] zabulus opened #2813 "Checkbox with "disabled" attribute always post back with false value"
[code]
No matter what value ```Model.Checked``` has it always posts back as false.
Such behavior is supported by the hidden field, that have ```value="false"``` in all cases and a disabled input field that never posts back his value field.
Is this behavior is by design?

[2015-07-14 08:10] aaron-hammond opened #2814 "ViewData property in ViewResult is Null"
HI,

I'm having a little trouble with returning a ViewResult from an orchestrator.

Where in previous versions of MVC we've done this:

        return new ViewResult
        {
            ViewName = "Index",
            ViewData = {Model = _formViewModelBuilder.BuildModel()}
        };

In MVC 6 this throws a null reference exception. Setting the model property of the ViewData is invalid as the va

[2015-07-14 15:19] dougbu commented on #2813
This behaviour is expected. Since the given attributes are added only to the visible `<input>`, you've prevented the `true` value's submission -- even if `checked`.

I suggest adding `@Html.HiddenFor(x=>x.Checked)` prior to the checkbox.

[2015-07-14 16:25] zabulus commented on #2813
I wonder what the purpose of ```<input ...hidden...``` that added after the checkbox input in that case? Doesn't it double the Checked value in case disabled is absent?
I've made my extension ```DisabledCheckboxFor(x=>x.Checked)``` that works as ```CheckboxFor``` but puts value of ```Checked``` to the hidden input value attribute, and it works fine.

I've already found a couple of links with this

[2015-07-14 16:25] #2813 closed

[2015-07-14 16:52] dougbu commented on #2813
Your case is not the normal one. Without the hidden field, no value is submitted when the checkbox is not checked. That leads to model binding errors in most cases.

Separately attributes are not added to the hidden field because most don't apply and many would make the element invalid.

[2015-07-14 19:22] dougbu commented on #2814
`ViewResult` is much simpler in MVC 6 than MVC 5. Only the methods have behaviour now. And unfortunately for this particular case, it's no longer possible to create a `ViewDataDictionary` instance without a `IModelMetadataProvider` implementation or another `ViewDataDictionary` instance.

What is your general scenario? Why not set `ViewData.Model` and create a `ViewResult` instance as in `Controll

[2015-07-14 19:36] rubenprins commented on #2798
:+1:

[2015-07-14 21:00] kirthik opened #2816 "Throw `InvalidOperationException` if `ViewLocalizer._localizer` is used before Contextualize method is called?"
This is purely a discussion bug. This came up in PR - https://github.com/aspnet/Mvc/pull/2701. Currently `localizer` in `ViewLocalizer` and `HtmlLocalizer` classes can be null if they are accessed before `Contextualize` method is called. One option is to throw an `InvalidOperationException` in the getter just like we currently do in `HtmlHelpers`.

[2015-07-14 21:43] dougbu commented on #2816
Updated subject. The discussion is not Localization-specific since `DefaultViewComponentHelper` and `HtmlHelper` are already inconsistent `ICanHasViewContext` implementations. Question is about which `Exception` (`NullReferenceException` or `InvalidOperationException`) should be thrown in this unusual scenario.

Specific discussion is found [here](https://github.com/aspnet/Mvc/pull/2701#discussion

[2015-07-14 22:34] #2780 closed

[2015-07-14 22:37] ajaybhargavb opened #2817 "Need support for client side validation of float and double types"
After this change https://github.com/aspnet/Mvc/pull/2812, `float` and `double` uses `type="text"` which disables the browser specific validation of number fields.
We need to add support for client side validation. One way of doing that would be to add `pattern` attribute that contains a regex based on the current culture.

cc' @dougbu @NTaylorMullen

[2015-07-15 00:28] rubenprins commented on #2817
MVC 5 has a `ClientDataTypeModelValidatorProvider` exactly for this purpose, which emits a `data-val-number` validation attribute for all basic numeric types (like `decimal`, `float`, `byte`, `uint`, etc.), and `data-val-date` for `DateTime` (exempting `DataType.Time`). I can't find an analogue in MVC 6.

Although it's probably easier to customize a jQuery Validate rule like `number` or `date` (wh

[2015-07-15 04:29] ctolkien commented on #2798
You still have access to the httpcontext which has the request method (post or get, for instance) any any posted form data.

So it's doable currently, it's just not as "clean" as perhaps having different components getting involved for different http verbs.

[2015-07-15 06:04] zabulus commented on #2813
In case I add ```disabled="disabled"``` no value from *checkbox* submitted as well, no matter checked or not. If hidden field workarounds not checked and not disabled checkbox, why don't use it for workarounding checked and disabled checkbox?

[2015-07-15 07:16] kirthik opened #2819 "[Localization]: Add more unit tests for ViewLocalizer and HtmlLocalizer"

[2015-07-15 08:40] aaron-hammond commented on #2814
@dougbu Thanks for the response.

In our applications i try to keep a consistent approach with the architecture, we use an orchestrator pattern to keep the controllers as lightweight as possible:

Consider:

public class FormController {

        private readonly IFormOrchestrator _orchestrator;

        public FormController(IFormOrchestrator orchestrator)
        {
            _orchestrator = or

[2015-07-15 13:58] dougbu commented on #2813
Because the system does not special case your scenario.

[2015-07-15 15:06] dougbu commented on #2814
Your code looks fine.

Side note: Initializing `ViewResult.TempData` using the `FormController.TempData` value may also be required for some scenarios.

[2015-07-15 15:13] aaron-hammond commented on #2814
brilliant, thanks for the help on this again, really appreciate it.

[2015-07-15 15:13] #2814 closed

[2015-07-16 01:10] ctolkien commented on #2817
I agree with this. On a somewhat related topic, client side validating of dates is a pain if you're not on mm-dd-yy format.

[2015-07-16 07:44] kirthik opened #2821 "[Localization]: HtmlEncodeArguments should encode literal characters within format tokens"
For this case - `{0:'{{characters that should be escaped}}b'###'b'}` it looks like Html encoding is not happening in `HtmlEncodeArguments` method. we should add some additional logic for such complex cases

[2015-07-16 07:45] kirthik commented on #2821
In additon Mono build fails for this case during formatting. So when adding a new test case for this scenario, skip running this on Mono.

[2015-07-16 13:11] mbharodia opened #2822 "Resolving dependency without using constructor and property"
What is equivalent of the following to resolve dependency? The following is valid in previous version of MVC.
GlobalConfiguration.Configuration.DependencyResolver.GetService

Thanks a lot for your help.

[2015-07-16 15:35] pranavkm opened #2823 "Merge back https://github.com/aspnet/Mvc/commit/c1f4bfedab4610564ad2970b6e822d620ae6c04a into dev"

[2015-07-16 16:09] danroth27 commented on #2823
Please don't open issues to track dual check-ins. This should have been done when the commit was made to release. If you see this kind of issue just go ahead and fix it.

[2015-07-16 16:10] danroth27 commented on #2822
We don't recommend accessing the service provider statically. Can you tell us more about what you are trying to do?

[2015-07-16 16:11] danroth27 commented on #2821
@DamianEdwards

[2015-07-16 16:14] dougbu commented on #2821
Does this problem go away (on non-Mono systems) if the `isEncode` special case goes away entirely? That should essentially enforce the invariant that all characters within a format token (i.e. between un-escaped curly braces) are HTML encoded. Would mean the result of `"{{{0:x}}}"` (`"{x}"`) is HTML encoded but that sounds safer than not HTML encoding _valid_ custom format tokens e.g. `"{0:{{00}}}

[2015-07-16 16:21] danroth27 commented on #2798
Related to #2338.

[2015-07-16 16:21] gvx111 commented on #2811
no one can help us?

[2015-07-16 16:57] toddtsic commented on #2798
Not sure if this directly relates:

I'm building a master->detail view with master being search results of registrants, and detail being their details, am conceiving the details view as a view component (as I would a user control in webforms).  My question is how to refresh/update the details view (initial call from @await Component.InvokeAsync("SearchRegistrantDetails", "RegistrationID")

Is it p

[2015-07-16 17:01] toddtsic commented on #2338
Is it possible to re-invoke a view component?

I'm building a master->detail view with master being search results of registrants, and detail being a selected registrant's details.  I am conceiving the details view as a view component (as I would a user control in webforms). My question is how to refresh/update the details view upon the selection of a different registrant in the search results (in

[2015-07-16 19:07] kirthik opened #2824 "[Localization]: Enable localization support in MVC"
this is currently in PR - https://github.com/aspnet/Mvc/pull/2701

[2015-07-16 19:53] danroth27 commented on #1146
We've decided there's nothing really worth doing here.

[2015-07-16 19:53] #1146 closed

[2015-07-16 19:54] danroth27 commented on #2015
We are not going to get to this in this release.

[2015-07-16 20:09] rynowak commented on #2754
@marcuslindblom - sorry for the delay in getting to this.

Looking at the error message that you linked, it seems to tell you everything you need to know: ` Object type Raven.Abstractions.Linq.DynamicJsonObject cannot be converted to target type: BrickPile.Models.Home`

There's no feature in MVC that will convert an arbitrary `dynamic` object into your model type.

Taking a look at your sample pro

[2015-07-16 20:16] mbharodia commented on #2822
Hi Daniel,

Thanks a lot for the reply. I have several helper classes.

One of them is a custom implementation of ILogger and ILoggerProvider. I wanted to provide configuration value to ILogger such as file path to log values. I wanted to inject IOption<AppSetting>.

My custom ILogger is created by my custom ILoggerProvider. If I do constructor injection then I need to pass in this dependency all

[2015-07-16 20:24] rynowak commented on #2754
I tried your sample in the linked repo, and works for me on windows without issue.

[2015-07-16 21:25] kulmugdha commented on #2721
Checked in fix a6a7903b846eadd62f43866beedea826e75e2b3f

[2015-07-16 21:25] #2721 closed

[2015-07-16 22:23] dougbu commented on #1418
I'm surprised to say MVC 5 supports binding to `Dictionary<string, TValue>` properties. It doesn't support for example `Dictionary<int, string>` but submitted values for such dictionaries _are_ visible in `ModelState`. MVC 6 has regressed in both ways i.e. w.r.t. `ModelState` entries as well as model dictionary entries.

[2015-07-16 23:50] ajaybhargavb commented on #2778
92f3e21fe62ea40342f2eb462ee8a92361ad591b

[2015-07-16 23:50] #2778 closed

[2015-07-17 00:18] dougbu commented on #2824
@kirthik can this be closed now? That is was it the change that went in for Beta 6?

[2015-07-17 00:21] dougbu commented on #2821
@kirthik suggest closing this bug and working with @sornaks to file a bug on Mono about that framework's apparent `string.Format()` issues. May want a tracking bug in this repo once you've found or reported the Mono one.

[2015-07-17 07:05] marcuslindblom commented on #2754
When you say, "work as expected in your sample", do you mean that using dynamic should work on Windows but not on OS X/Mono? The reason I'm using dynamic is because I build a framework/cms and the type is unknown to me. Using the exact type will work on both systems.

[2015-07-17 08:07] Bartmax opened #2825 "Missing `Ok()` in `Controller`"
I think there's a missing helper in controller to return an object. or I can't find it :)

[code]

so
[code]
instead of:
[code]

[2015-07-17 14:37] recardopatrese opened #2826 "Encoding forward slash makes no difference"
I am trying to submit a URL where the data being passed contains a forward slash, but it is not reaching the controller. If I remove the / from the data to be passed it reaches the controller.

We are using the default routing with the following URL:

    /configuretaxrefs/GetTaxref/025%2F588

but this doesn't reach the controller.

The controller contains:

    [HttpGet]
    public Taxref GetTaxr

[2015-07-17 14:57] pranavkm commented on #2823
The entirety of https://github.com/aspnet/Mvc/issues/2648 was undone because I couldn't figure out how to merge it back in to dev. Should I just reopen the work item and close this?

[2015-07-17 15:28] jasoncavett commented on #2348
@danroth27 I added some [additional reproduction](https://github.com/aspnet/Home/issues/508#issuecomment-122305412) information to [Issue 508 on the aspnet project](https://github.com/aspnet/Home/issues/508).

[2015-07-17 15:39] danroth27 commented on #2823
Sounds reasonable.

[2015-07-17 15:52] pranavkm commented on #2648
The change was merged into beta5 release and not in to beta6 dev. Merging it was problematic so I ignored the entire change when we got to beta6 release. This item needs to be redone.

See https://github.com/aspnet/Mvc/issues/2823

[2015-07-17 15:52] #2823 closed

[2015-07-17 19:24] dougbu commented on #2382
aspnet/Razor#225 includes a [comment](https://github.com/aspnet/Razor/issues/225#issuecomment-95979090) that mentions complete support for maintaining the original attribute order involves that fix (done), #2639, completing this task (#2382), as well as
- use `PostElement` for `type="checkbox"` case in `<input/>` tag helper and merge added attributes for original element

My comment is incorrect b

[2015-07-17 22:09] dougbu commented on #2682
Removed Investigate label. Main design question is whether a fix for this issue should be implemented in Visual Studio (Web Tools Extensions in particular) or Design Time Host (i.e. the aspnet/dnx repo).

[2015-07-18 01:43] dougbu commented on #2826
@recardopatrese we dealt with similar issues when handling forward slashes in OData literal strings. The gotchas are not really in MVC or (then) Web API but in the hosts. Double encoding e.g. `.../025%252F588` _sometimes_ works but is not reliable. Recommend using another separator, preferably one less core to MVC routing and URL semantics.

[2015-07-18 01:52] dougbu commented on #2825
@Bartmax this feature is available in the `Microsoft.AspNet.Mvc.WebApiCompatShim` package. Have a look at the `ApiController` class.

One alternative is the `HttpStatusCodeResult` class, which is similar to Web API's `OkResult` and available in both MVC 5 and 6.

[2015-07-18 11:47] dhanutpk opened #2830 "asp.net mvc web grid with context menu"
Hi,

I have requirement for creating asp.net mvc web grid with context menu.
The context menu should do have capability to View, Add, Edit and Delete operations on each row. This menu should be displayed when I right click on row in the grid.
It would be great if you could give some samples of examples.

Thanks,
Dhanaraj

[2015-07-18 19:42] srayuws opened #2831 "Do not encode unnecessary characters in HtmlEncoder"
The rendered result for the code below

[code]

will be `<div>&#x4E2D;</div>` in vnext, and will be `<div>中</div>` in the current stable MVC 5

I think the escaping for the character '中'([U+4E2D](http://www.fileformat.info/info/unicode/char/4e2d/index.htm)) is absolutely unnecessary.

And it will transfer much more data, 8 bytes after escape VS 3 bytes in UTF8. The size increment would be signific

[2015-07-18 22:40] dgee2 commented on #2826
The problem we have with this is that it is a user entered field from a legacy system and so we kind of need to go with it. Did you then need to unencode it once from within the mvc controller?

[2015-07-19 00:45] pranavkm commented on #2831
cc @blowdart

[2015-07-19 04:23] blowdart commented on #2831
Dupe of https://github.com/aspnet/HttpAbstractions/issues/315

By design. Users can configure what is and is not encoded. By default we take a conservative view to protect against potential browser security issues.

[2015-07-19 04:23] #2831 closed

[2015-07-20 07:30] anfomin opened #2834 "Invalid binding prefix for model with single property"
I'm trying to bind model with single property:
[code]

Property `TimeZone` can't be bound because binding name is `model.TimeZone`. If I add second property to the model then model binding name is `TimeZone` and binding is ok.
[code]

[2015-07-20 08:46] recardopatrese commented on #2826
Thanks @dougbu. Unfortunately as @dgee2 says the data with the forward slash in is from the database so we can't change the data.

[2015-07-20 14:18] dougbu commented on #2834
@anfomin what is submitted and what does "can't be bound" mean exactly?

Note the model binding system will attempt to bind `"model.TimeZone"` and `"model.SomeOtherProperty"` then fall back to `"TimeZone"` and `"SomeOtherProperty"` if the first attempt does not succeed.

[2015-07-20 14:50] dougbu commented on #2826
@recardopatrese if your code is generating the URL, convert the forward slash to another character or series of characters (maybe "%2F" though that's unreliable) early in that process.

[2015-07-20 17:37] rynowak commented on #2754
I mean that your provided sample code with `response.WriteAsync(data.Title)` correctly retrieves the title from the database and writes it.

The error message that you included shows trying to call an action method with an `Raven.Abstractions.Linq.DynamicJsonObject` in action arguments dictionary instead of an `BrickPile.Models.Home`. If you're writing a model binder that's retrieving this data fr

[2015-07-20 17:56] rynowak commented on #2799
Thanks,

I'm looking into trying to reproduce the OOM issue. We definitely have a bug here and that shouldn't be happening.

A few thoughts in the meantime:

Using `TryUpdateModel` on your entity model means that data from request can update anything about it -- **including** all of the related entities exposed through relationships. There's a few ways to secure your app against this problem - her

[2015-07-20 19:11] marcuslindblom commented on #2754
@rynowak I found the problem with my code and maybe it is a RavenDB problem, I can't say, but when I save a new object to RavenDB from OS X the `Raven-Clr-Type` for the new object differs from when I save it from my Windows machine using Visual Studio 2015. On my Windows machine the assembly name is the one I have set on the project level.

<img width="394" alt="screen shot 2015-07-20 at 20 57 55"

[2015-07-20 19:37] rynowak commented on #2798
Thanks for all of the feedback here. We're going to hurry up with #2338 - which makes this easier. Right now there's a lot of boilerplate required. I'll post a sample when I have it done so anyone using an earlier build than beta-7 can start using this.

We're not planning to have support for child actions or any kind of 'simulated request' model for this release. The ViewComponent programming mod

[2015-07-20 20:20] danroth27 commented on #2762
We don't plan to add an attribute to the framework for this specific case. You can either define a type with an Id property and use that in your action method signature, or you can extend the model binding system to provide a JSON value provider.

[2015-07-20 20:20] #2762 closed

[2015-07-20 20:48] #2058 closed

[2015-07-20 21:05] rynowak commented on #2754
/cc @davidfowl

[2015-07-20 21:07] jods4 commented on #2058
danroth27 OK for the won't fix, but is there going to be a MS code sample with a decent implementation of this? I know many people are looking for ways to do that.

[2015-07-20 21:12] dougbu commented on #2058
@jods4 you mean like
[code]

[2015-07-20 21:17] Bartmax commented on #2825
I'm not doing any compatibility stuff here, while Ok is there, I'm not doing any webapi2, so I don't think importing that would actually fit.

I found that ObjectResult (instead of HttpStatusCodeResult) being more accurate, also there's no method on base controller that returns either ObjectResult or HttpStatusCodeResult.

I think there should be a `public virtual ObjectResult Ok(object value);` i

[2015-07-20 21:26] jods4 commented on #2058
@dougbu No, more like this:

[code]

Expecting a request with a JSON body like that:
[code]

[2015-07-20 22:07] rynowak commented on #2811
The best answer here is probably an explanation and some suggestions about how you could take things further. There are a few big rocks in the framework that you'll be moving, and how you want to do that is something you'll have to figure out based on your requirements. Some of these changes will work with what you're doing and some won't.

It's easiest to think about if you trace what `MvcRouteHa

[2015-07-20 23:14] MaleDong commented on #2762
@danroth27 : What do you mean by "You can either define a type with an Id property and use that in your action method signature"?

[2015-07-20 23:35] danroth27 commented on #2762
Instead of
[code]
you can write
[code]
where `Foo` looks like:
[code]

You can then send `{"id":"1"}` on the wire and it should bind to the `Foo` parameter.

[2015-07-20 23:39] dougbu commented on #1418
79a2982

[2015-07-20 23:39] #1418 closed

[2015-07-21 07:40] Ciantic commented on #2058
Also if I may add, it's a pity the ASP.NET does not support reading the action arguments from the request body, mainly because the REST documentation generators (Swagger) won't understand own implementations like mine above.

[2015-07-21 08:28] Antaris commented on #2798
@rynowak @danroth27 I've pushed a very basic/naive example of what we can currently achieve through child actions. [MVCWidget](https://github.com/Antaris/MVCWidget)

This is just a basic ASP.NET MVC 5 project, but the main parts are as follows:

- Created a controller, the `ContactUsController` which implements two overloaded methods called `Form`, one for `GET` one for `POST`. The post method tak

[2015-07-21 10:38] anfomin commented on #2834
I submit value for `TimeZone`, for example:
[code]

If there is only one model property then MVC tries to bind only `model.TimeZone` but does not fall back to `TimeZone` without prefix. If you need I can share sample.

[2015-07-21 14:34] Muchiachio commented on #2834
Tested on Beta5, works as expected.
[code]
[code]
Maybe your URL is bad?
[code]
Shouldn't it be?
[code]

[2015-07-21 15:20] PromontoryProtean commented on #2798
Rynowak, I'm trying to wrap my head around all of this, but I will list the pain points that I have hit after doing some prototyping.

First I would like to see an overload to allow calling a View Component using a file path, similar to what we can do with full and partial views. I feel as though loading View Components views entirely by location convention is limiting because when building a plug

[2015-07-21 16:11] danroth27 commented on #2826
Or you can put it in the query string. The issue here is really that HTTP.SYS is very conservative about encoded slashes in the URI path.

[2015-07-21 16:11] #2826 closed

[2015-07-21 16:20] tom-cognify commented on #2799
Thanks for the suggestions, agreed that ViewModels are the right way to do it, code is mostly from quick and dirty admin pages where we were too lazy to create Models. I hand't realize that it would try to validate all of the child entities, but that makes sense.

[2015-07-21 16:36] danroth27 commented on #2822
As you have seen `[FromServices]` is only used by model binding in MVC. It is not a general DI concept in ASP.NET 5. It really only works in MVC controllers when model binding request data.

You can use property injection with ASP.NET 5, but not using the default container. Instead you can configure a 3rd party container (ex [AutoFac](http://alexmg.com/autofac-4-0-alpha-1-for-asp-net-5-0-beta-3/))

[2015-07-21 16:36] #2822 closed

[2015-07-21 16:44] rynowak opened #2836 "TryUpdateModelAsync trounces related models instead of updating them"
`TryUpdateModelAsync(...)` will overwrite a whole related-model instead of just setting the properties that have changed.

After a request like: `http://localhost:6046/Home/Index?name=Bill&related.Tag1=newvalue`
In MVC 5 the value of `model.Related.Tag2` will still be `"ExistingValue"`
In MVC 6 the value of `model.Related.Tag2` will be `null`

[code]

[2015-07-21 16:58] kirthik commented on #2824
Merged d8a523a07f76f722b00a2a95f74668b9fc93e6a4

[2015-07-21 16:58] #2824 closed

[2015-07-21 18:59] toraora opened #2837 "ReflectedParameterDescriptor equivalent"
In MVC3, we used ReflectedParameterDescriptor (from ActionDescriptor.GetParameters()) in order to determine whether the user supplied all of the necessary arguments, and display a detailed error page if not. I see that something similar has been done in WebApiCompatShim, but it seems to happen in a stage of the pipeline that cannot modify the response. Is there a way to get this information in per

[2015-07-21 19:24] rynowak commented on #2837
You can absolutely do this in an action filter.

You'll want to look at `context.ActionDescriptor.Parameters` and `context.ActionDescriptor.BoundProperties` - is something missing that you need?

[2015-07-21 19:31] rynowak commented on #2799
I was able to repro your OOM issue by creating a fake dataset based on your sample. It's definitely due to the creation and persistence of a high number of `ModelValidationNode` instances.

![image](https://cloud.githubusercontent.com/assets/1430011/8810541/69bfc290-2fa4-11e5-90bb-ca788c729e81.png)

[2015-07-21 19:39] tom-cognify commented on #2799
I thought a bit more about your suggestion and I don't think using ViewModels helps, I tried a quick test and am seeing the same behavior using a ViewModel. I'm thinking the validation occurs on the entity you are trying to update which is the domain entity still with all of its related children.

    public async Task<ActionResult> Edit(EnrollmentServiceModel updatedES)
    {
        var es = db.

[2015-07-21 19:48] rynowak commented on #2799
That's absolutely correct.

If you're just using `TryUpdateModelAsync` to copy the values, have you looked into using Automapper?

[2015-07-21 19:58] tom-cognify commented on #2799
yes, we do use AutoMapper already to populate ViewModels, I've just always used TryUpdateModel to update the EF entity, I thought that was the primary use case of that method?

[2015-07-21 21:26] rynowak commented on #2799
`TryUpdateModel` is just model binding against a model object that already exists. In your example it performs full model binding twice - once on `EnrollmentServiceModel` and again on your DB entity.

[2015-07-21 21:51] toraora commented on #2837
I was using `reflectedParameterDescriptor.ParameterInfo.HasDefaultValue` and `controllerBase.ValueProvider.GetValue(key)` previously to determine if a particular parameter has been satisfied.

I've tried looking through `ParameterDescriptor` and `ParameterType` but can't find anything indicating whether the parameter has a default value.

[2015-07-21 21:58] #2787 closed

[2015-07-21 22:00] ajaybhargavb commented on #2787
@davidfowl, spoke to @Eilon and decided not to do this. We can return the stream directly from an action and `StreamFormatter` will take care of it.

[2015-07-21 22:01] rynowak commented on #2837
Yeah, I think you're right that this is too hard to get at. You can get it the `MethodInfo` by casting `ActionDescriptor` to `ControllerActionDescriptor` but we should make this easier.

`controllerBase.ValueProvider.GetValue(key)` - you can look at `context.ActionArguments` to see what will be passed into the action.

[2015-07-21 22:06] #2790 closed

[2015-07-21 23:42] rynowak commented on #2798
I want to be straightforward about the fact that we as a team haven't done much yet to support building 3rd party frameworks, which it seems like both of you are doing. I want to try and help with any and all of your feedback, but don't be surprised if you find ragged edges trying to extend the system.

A few clarifying comments about the design and intent of ViewComponents, before I try to addres

[2015-07-21 23:57] rynowak commented on #2798
@Antaris - responding to your comments here

**a.** is correct, there are no child actions

Processing an HTTP request involves both understanding user input (model binding & validation) and crafting a *full* response. View Components are intended to be isolated from these concerns, and handle a **part** of the rendering logic for a response. The intent is to make them more simplified and reusable

[2015-07-22 00:07] rynowak commented on #2798
@PromontoryProtean - responding to your comments here

Can you explain what you mean? (Maybe an example). Do you mean returning a view from a VC **or** the code calling into the VC?

If you're building a framework you want to go even further with this. You probably want to replace the view engine so that you can serve embedded precompiled content. Example here: https://github.com/aspnet/Mvc/tree/d

[2015-07-22 02:37] dougbu commented on #2825
Updated subject because this is no longer a question.

[2015-07-22 02:42] dougbu commented on #2705
Updated title because this is no longer a question.

[2015-07-22 02:53] Bartmax commented on #2825
:shipit: hehe nice work @dougbu

[2015-07-22 03:04] Bartmax commented on #2807
One question, about data attributes? I may want to do `data-bigImageSource="~/Images/big/"` In this case I should use `data-bigImageSource=@Url.Content("~/images/big/")` ?

[2015-07-22 03:12] NTaylorMullen commented on #2807
Correct.

[2015-07-22 03:13] Bartmax commented on #2807
:+1: thank you.

[2015-07-22 06:16] natemcmaster opened #2841 "Link tag helper does not expand comma-separated list"
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/LinkTagHelper.cs#L118 says "asp-href-include" can include a comma-separated list of files and globs. Only the first file/pattern included is actually produced.

Setup:
[code]
Expected:
[code]
Actual:
[code]

Repro:
https://github.com/natemcmaster/mvc-issue-2841

[2015-07-22 06:18] Muchiachio commented on #2276
So how would you save complex data types, at least until the request is ended?
Is there any other way to do that without using TempData?

[2015-07-22 07:09] NoralK opened #2842 "Wiring up scaffolding for CRUD"
I do not know where to post this but here - I could not find the repository that has "Microsoft.Framework.CodeGenerators.Mvc", my second choice would be EntityFramework.

I have a basic Model with PERSON_ID as a key and identity and FULLNAME length of 30 and required.
[code]
When creating the scaffolding for CRUD Views I type the following command:
[code]
The Views get created however on the CREAT

[2015-07-22 08:00] Antaris commented on #2798
@rynowak Thanks for getting back to us, feedback follows

Yeah, maybe we're crossing wires a bit here. I am very much **not** asking you guys to implement widgets, just looking at how *we as framework developers* could enable these scenarios in our frameworks built on top of ASP.NET 5.

In my view, what a widget is, is a self contained display unit, which could posses one of more states. A widget

[2015-07-22 09:41] marcuslindblom commented on #2798
This is exactly what I need for my CMS build, great example with the enquiry form on every page. :+1:

[2015-07-22 10:01] davidfowl commented on #2798
@Antaris how much of the pipeline do you actually want to run? All of the filters? Just model binding and validation?

[2015-07-22 11:15] rubenprins commented on #2798
I think (correct me if I'm wrong!) that the main issues and questions here are caused by view components being a refactoring of complex partial views into a view and a class, rather than a single view with `@inject`, extensive `@{ ... }` code blocks and ad hoc model/ViewBag parametrization. Which is a good thing.

But this happens to be the most simplified scenario of what a child action can (coul

[2015-07-22 12:15] lenardg opened #2843 "Strange error message when excess @ symbols in source code"
In the following situation the error message that Razor gives me is very misleading.

I have the following code in a .CSHTML file:

[code]

Which results in an error message as follows:

`An error occurred during the compilation of a resource required to process this request. Please review the following specific error details and modify your source code appropriately.`

And also:

`Identifier expe

[2015-07-22 13:48] ibneadam opened #2844 "Could not resolve a service of type 'IMyService' for the parameter 'mySvc' of method 'Configure' on type 'Startup'"
I am moving my project from `asp.net5 beta 4` to `beta 5`.

Below is an example of `ConfigureServices` method in Startup.cs

     public void ConfigureServices(IServiceCollection services)
     {
        services.AddTransient<IMyService, MyService>();
     }

And this is Configure method in Startup.cs

     public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory logg

[2015-07-22 14:12] alexsandro-xpt opened #2845 "Modular multi-tenancy web application"
Take a look in this scenery below:
I need to develop a CMS portal for 200 custumers, this customers have a set of feature like agenda, curriculum, banner named feature module. Those modules are enabled or disabled for each custumers.

Now, thinking about architecture solution for a good develop process, I wish  to separate each modules as a separated Visual Studio solution within their controllers

[2015-07-22 14:58] Eilon commented on #2276
@Muchiachio I believe you can store the data in a dictionary as key/value pairs, and then re-assemble the object on the way out.

[2015-07-22 15:27] Muchiachio commented on #2276
No @Eilon, as I understand this was made deliberately
[code]
throws and exception
[code]
I would be fine with that, if there is a way to pass these type of objects around without using TempData?

[2015-07-22 15:39] Muchiachio commented on #2844
You can get your service from application services, like this
[code]

[2015-07-22 15:53] Eilon commented on #2276
I mean a real `Dictionary<string, string>` etc.

[2015-07-22 16:12] danroth27 commented on #2844
Your are registering a service as `IMyService`, but then you are trying to consume it as `MyService`. If you change your Configure method to take an `IMyService` it should work.

Please note that this question is not specific to MVC. For general DI questions you can file issues in the [Dependency Injection](https://github.com/aspnet/dependencyinjection) repo.

[2015-07-22 16:26] danroth27 commented on #2843
@NTaylorMullen  Is Razor handling the `@` in front of the foreach? It is weird that the error from the missing identifier after the `SomeValue.` goes away if the `@` in front of the foreach is removed. We should see if that is the behavior with the latest bits. Also, let's make sure we are getting red squiggles in the latest tooling update.

[2015-07-22 16:28] danroth27 commented on #2842
Moved to correct repo: https://github.com/aspnet/Scaffolding/issues/103

[2015-07-22 16:28] #2842 closed

[2015-07-22 16:39] danroth27 commented on #2834
@anfomin If you could share your code that would be great.
@dougbu Could you please try to reproduce this issue?

[2015-07-22 16:39] davidfowl commented on #2844
Yes this isn't a bug

[2015-07-22 16:39] #2844 closed

[2015-07-22 16:46] danroth27 commented on #2821
@kirthik It's unclear if the literal characters in the format string should actually be encoded by us. Do we not assume that resource strings are already HTML encoded?

[2015-07-22 16:50] #2811 closed

[2015-07-22 16:54] danroth27 commented on #2806
Thanks for the suggestion, but we think the current name best reflects the primary intention of the class.

[2015-07-22 16:54] #2806 closed

[2015-07-22 16:55] dougbu commented on #2843
@danroth27 agree a red squiggle under the dot should be expected regardless of whether the `foreach` had an extra `@`.

@lenardg an alternate fix to removing the dot would be `@(result.SomeValue).`

[2015-07-22 16:55] rynowak commented on #2799
bae442cf48939fff22649d05b7ec530a9e534d74

[2015-07-22 16:55] #2799 closed

[2015-07-22 17:04] lenardg commented on #2843
Yes, I forgot to mention the parantheses fix :)
Red squiggles would be nice :)

[2015-07-22 17:07] kirthik commented on #2821
This issue is fixed. I am going to close this. string.format() does not work correctly for some tokens in Mono. I will file a separate bug for that.

@danroth For your above question, yes literals in resource strings are encoded but the ones inside the format tokens were not in the past. For example in this case - `{0:'{{characters that should be escaped}}b'###'b'}` "characters that should be esca

[2015-07-22 17:07] #2821 closed

[2015-07-22 17:08] danroth27 commented on #2788
@DamianEdwards

We'd like to avoid adding support for IE conditionals in the Razor parser given that "as of Internet Explorer 10, conditional comments are no longer supported by standards mode" (see https://msdn.microsoft.com/en-us/library/ms537512(v=VS.85).aspx). One thought is that it should be straight forward to create a tag helper that will render the IE conditional for you.

@ajaybhargavb Ca

[2015-07-22 17:26] rynowak commented on #2754
Closing this issue since this isn't related to MVC. I suggest following up with @davidfowl of jabbr or opening a new issue on aspnet/DNX

[2015-07-22 17:26] #2754 closed

[2015-07-22 18:17] dougbu commented on #2821
This is an over-simplification and something we need to be careful about in our documentation.

I suggested the `"{0:'{{characters that should be escaped}}b'###'b'}"` example to demonstrate an invariant: Everything the format token expands to is HTML encoded; everything in the "fixed text" (outside a format token) is not HTML encoded. That is, the user deals with encoding only of the fixed text in

[2015-07-22 18:39] NTaylorMullen commented on #2710
@kichalla This can be closed again right?

[2015-07-22 18:40] kichalla commented on #2710
Oh yes, this can be closed

[2015-07-22 18:41] #2710 closed

[2015-07-22 19:24] rynowak commented on #2776
Decision here is to bring back the implicit `[BindRequired]` for value-types. If you need to make something optional, it can be customized:
- using `[BindingBehavior(BindingBehavior.Optional)]`
- a custom MMP
- using a nullable type (`int?`)

[2015-07-22 19:30] rynowak commented on #2338
You'll need some client-side code to make this work if selection is happening in the user's browser.

Once this issue is fixed:
1). Write your VC
2). Create a controller/action that returns a `ViewComponentResult`
3). Write some client-side javascript to do an ajax request to your new action and insert the updated content on the page.

View components aren't a resurrection of webforms. You might w

[2015-07-22 20:52] NTaylorMullen opened #2847 "services.AddMvcCore adds notification capability"
Was poking around the code a bit and found it odd how the minimal MVC components included notification support. It may not be a good bit to remove from core MVC but conceptually I don't feel like it belongs there, or at least not a full featured piece of it.

[2015-07-22 21:52] rynowak commented on #1938
I'm not @harshgMSFT - but he did add a testcase for this.

[2015-07-22 21:52] #1938 closed

[2015-07-22 22:07] PromontoryProtean commented on #2798
@rynowak - you asked me to clarify this:

What I mean is that in the View Component's class we return a view using something like:
`return View();`

According to the docs:

We are still held to the convention even if we use a View name by calling the view using the view name overload :
`return View("MyView");`

What I would like to do is specify a full file path in order to ignore the conventions,

[2015-07-22 22:39] PromontoryProtean commented on #2798
@Antaris, you did a great job of explaining the challenges that framework developers are going to run into and I think your proposed solutions deserve careful consideration. @rubenprins also makes great points, especially:

My guess is that many developers moving over to vnext from Web Forms are going to be looking for ways to build components that can encapsulate postback functionality. And I thi

[2015-07-23 00:47] csunali commented on #2845
You will get stuck at some point when you decide to use the security (authentication) middlewares.

Until they implement it, one can say that the ASP.NET 5 does "not" support multi-tenant scenarios.

https://github.com/aspnet/Security/issues/35
https://github.com/aspnet/Security/issues/364#issuecomment-123058961

[2015-07-23 07:08] lenardg opened #2849 "No quick actions (add using statement for namespace) available when editing Razor views"
When editing .CS code, if I enter a class name that was not used before, and if I have not referenced the namespace this class belongs to, I am offered quick actions that reference the namespace on my behalf. I do not need to check which namespace the type belongs to, nor do I have to go to the top of the file to add that.

It would be nice if a similar user experience could be enabled in the tool

[2015-07-23 08:09] ynyhn opened #2850 "The 'Microsoft.AspNet.Mvc.SessionStateTempDataProvider' cannot serialize an object"
InvalidOperationException: The 'Microsoft.AspNet.Mvc.SessionStateTempDataProvider' cannot serialize an object of type 'Labijie.Admin.ToastModel' to session state.

Microsoft.AspNet.Mvc.SessionStateTempDataProvider.EnsureObjectCanBeSerialized(Object item)

[2015-07-23 08:50] Martijn-Sharp opened #2851 "ModelMetadata.EnumDisplayNamesAndValues explicitly skips [Display(Name = string.Empty)]"
When defining an enum with [Display] attributes in it, there's no way to use [Display(Name = string.Empty)] (on for example the first item, due to requirements)
This is because of what happens on line 237 in method GetDisplayName: https://github.com/aspnet/Mvc/blob/e985fa5d423968f36a651a354d9c953192c52532/src/Microsoft.AspNet.Mvc.DataAnnotations/DataAnnotationsMetadataProvider.cs

The reasoning is

[2015-07-23 13:03] alexsandro-xpt commented on #2845
Fine @csunali, perhaps this multi-tenant scenario feature doesn't need to be a middleware to security work.

Coud be a another configuration to response controllers, cshtml and static files in shared .net project.

A big need here is, isolate the pluggable application CRUDs like Agenda, Product and others to main Web Application.

[2015-07-23 13:46] csunali commented on #2845
Right, you don't have to use the authentication middlewares for every project but you having mentioned your project being a CMS project and CMS implementations always having a backend made me think that you will eventually have to implement authorization and authentication features. So, if you ever consider using OpenId Connect or such features (and you will if you have public API methods that get

[2015-07-23 15:22] alexsandro-xpt commented on #2845
Good tip @csunali, about security, really I will eventually have to implement authorization and authentication features. I should look all that what you said closely. May be a demo project.

This scenario is a big box, because we are talking about system and their subsystem and how they interact between they self.

They could have module dependences. Imagine, Product Module could be use Image Modu

[2015-07-23 15:29] rynowak commented on #2851
/cc @dougbu

[2015-07-23 15:57] Eilon commented on #2850
TempData currently supports only a few limited types, which includes primitive types (string, int, etc.), and dictionaries containing those types. You can see https://github.com/aspnet/Mvc/issues/2276 for further discussion on this (towards the bottom).

[2015-07-23 16:19] #2850 closed

[2015-07-23 16:20] danroth27 commented on #2849
Moved to https://github.com/aspnet/Tooling/issues/116.

[2015-07-23 16:20] #2849 closed

[2015-07-23 16:21] danroth27 commented on #2847
@rynowak

[2015-07-23 16:44] SetTrend opened #2852 "DisplayNameFor / tag helpers should correctly translate Camel Case"
Currently, when using `@Html.DisplayNameFor()` or the corresponding tag helpers on properties with Camel Case, it is *always* required to add a `DisplayAttribute` to the corresponding model property to resolve the Camel Case property name to a user friendly, space separated name.

If no localization takes place, the above is true for about 100 % of all applications.

Thus, I suggest to add logic t

[2015-07-23 17:02] SetTrend opened #2853 "Tag helpers should not display all purple"
I don't think it's a good idea to have tag helpers display all purple.

Sooner or later almost each of a view's HTML tags will be annotated by tag helpers. Then all of the syntax highlighting gets lost.

I would prefer to have tags annotated with tag helpers being displayed with a slightly different background-color or similar.

[2015-07-23 17:09] Eilon commented on #2853
@SetTrend we have a feature that will do exactly that, but it's only partially implemented.

In https://github.com/aspnet/Razor/issues/447 the Razor system will respect certain attributes to hide them from Intellisense, however VS doesn't *yet* respect that metadata.

The goal is to have only "interesting" tag helpers be purple, and have more mundane ones not show up as anything special.

[2015-07-23 17:40] Eilon commented on #2551
@pranavkm putting this on your plate.

[2015-07-23 17:43] Alxandr commented on #2551
If you need me to test stuff with regards to crazy things I tend to do with this stuff (like plugging F# and Razor), just let me know :)

[2015-07-23 17:49] Eilon commented on #2551
@Alxandr I'm sure we will :smile:

[2015-07-23 17:56] #2382 closed

[2015-07-23 18:48] NTaylorMullen commented on #2853
In addition to @Eilon's comment you can change the `TagHelper` colors via font options => `HTML Razor Tag Helper Element`/`Attribute`:

![image](https://cloud.githubusercontent.com/assets/2008729/8858761/1b1b6096-312e-11e5-99cf-45f372aedbfa.png)

I would also recommend adding required attributes to limit the applications of `TagHelper`s (`[TargetElement("foo", Attributes = "something-required")]`)

[2015-07-23 19:25] anfomin commented on #2834
@danroth27 I'm sorry, I can share sample only tomorrow. I'll post a link...

[2015-07-23 19:48] RehanSaeed opened #2855 "ASP.NET 5 Beta 7 Build Errors in Test Projects"
I'm getting the following error when trying to build the tests. I raised [this](https://stackoverflow.com/questions/31596455/how-to-get-asp-net-5-beta-7-mvc-solution-building) StackOverflow post about it too.

[code]

[2015-07-23 20:37] dougbu commented on #2852
@SetTrend this is an interesting idea but it's also incompatible with `DisplayName()` and `DisplayNameFor()` in all earlier MVC releases. We should leave the default behaviour alone.

Would new helpers e.g. `DisplayTransformedName[For]()` or new overloads of the existing helpers that accept a `DisplayNameTransform` argument work for you?

[2015-07-23 23:35] rynowak opened #2856 "ViewViewComponentResult doesn't handle `~/` in view paths correctly"
View Components ignore the `~` if you're trying to specify a full path to a view.

Ex:

return View("~/Widgets/MyComponent/MyView.cshtml");

[2015-07-23 23:39] rynowak commented on #2798
@Antaris - the methods on `ModelBindingHelper` get you pretty close.

@PromontoryProtean - it sounds like this is just a bug. It looks the logic for view components and controllers diverge in this case - view components don't property handle the tilde. For now if you just use `/Widgets/MyComponent/MyView.cshtml` it looks like it will work. Filed: #2856

[2015-07-24 00:20] rynowak commented on #2847
Cross-Cutting-Concerns gonna Cross-Cut

[2015-07-24 00:53] #2338 closed

[2015-07-24 00:53] rynowak commented on #2338
e91ce4560f46b0bbcd1e5e3b4430e2291b408c54

[2015-07-24 00:58] ctolkien commented on #2852
In MVC 5, you can override the `ModelMetaDataProviders`. With your own `DataAnnodationsModelMetadataProvider` to override some of these defaults. We frequently use one which uses the 'Humanizer' package.

https://github.com/MehdiK/Humanizer#mix-this-into-your-framework-to-simplify-your-life

I haven't checked that this sort of scenario would still be possible in MVC6.

[2015-07-24 01:03] rynowak commented on #2852
Still possible. The APIs have changed to be more composable and support multiple providers.  See `DataAnnotationsMetadataProvider`

You could do something pretty similar to the above by create an implemention of `IDisplayMetadataProvider` and having it just set the `DisplayName` if the `DisplayName` is set to the property name.

[2015-07-24 01:38] dougbu commented on #2851
Think I missed this. Why might an empty display name be a requirement?

I'm not asking whether this is a bug or not: It is since the BCL doesn't special-case empty strings for `[Display(Name=...)]`. Just curious about your scenario.

[2015-07-24 01:55] dougbu commented on #2825
6106375

[2015-07-24 01:55] #2825 closed

[2015-07-24 05:18] Martijn-Sharp commented on #2851
My scenario is as following:

To easily make a html select-element of an enum I made a custom taghelper (SelectEnumTagHelper) which converts an enum into a select-list. This is where the ModelExpression.ModelMetadata.EnumDisplayValuesAndNames came in. I'm working on a web application which has some forms on it, on one of the forms is a html select-element which contains some values. In the model i

[2015-07-24 12:26] lenardg opened #2857 "environment tag helper does not work in @section block"
Trying to use the `<environment>` tag helper to selectively include script files in a @section block results in a runtime error.

The error message is:
[code]
And also:
[code]

The same environment setting works without errors if placed outside the @section block.

I would believe this should work. The @section block is used to include page specific script files that are then placed into the layou

[2015-07-24 14:40] danroth27 commented on #2276
Or you can do whatever serialization you want and store the data as a string or bytes.

[2015-07-24 15:28] Eilon commented on #2857
Looks like a dup of https://github.com/aspnet/Razor/issues/456.

[2015-07-24 15:28] #2857 closed

[2015-07-24 15:59] danroth27 commented on #2855
@rynowak Please take a look at this one.

[2015-07-24 16:00] #2853 closed

[2015-07-24 16:03] #2852 closed

[2015-07-24 16:03] #2847 closed

[2015-07-24 18:08] danbrunell opened #2858 "Cannot set Controller Request for Unit Tests"
Let me know if I'm completely missing something here. Also let me know if I'm just writing bad/hacky code.

Scenario: I have a Controller I am using for REST Responses. I am checking the query string for certain filters when returning the data.

Example:

[code]

However, when I write a unit test, I am getting a "Test Failed (Message: Object reference not set to an instance of an object)" error, b

[2015-07-24 18:24] Muchiachio opened #2859 "Unexpected Url.Action output"
Given routing in beta5:
[code]
And calling this from NotHome controller view
[code]
results in
[code]
while expected output is
[code]
Repro
https://github.com/Muchiachio/ActionUrlSample

[2015-07-24 18:43] dougbu commented on #2859
@Muchiachio is there a typo in your sample? If not where would "NotHome" come from?

[2015-07-24 18:46] Muchiachio commented on #2859
No, I just didn't want to write "Broken" in the issue :smile:

[2015-07-24 19:09] dougbu commented on #2859
@Muchiachio my point was the `controller` value defaults to "Home" in both routes. No route will choose the other controller.

[2015-07-25 04:19] Muchiachio commented on #2859
Hmm, but you didn't need to specify other controllers in MVC5 routing, right?
[code]
would mean, form an url for current controller and area + add custom route value/query parameter?
So if I am currently in controller's "NotHome" view, Url.Action for index should still be generated for "NotHome" controller? It seems like you need to re-specify current route values then forming an url action.
[code

[2015-07-25 14:46] jbfp opened #2860 "Logs from routing"
When using the `Microsoft.Framework.Logging.ILoggerFactory` and DI, is it possible to get MVC routing to be a little more quiet? I use `LogLevel.Information` quite a bit myself, but so does MVC routing apparently.
Specifically the lines where it logs (at level 'Information') when it matches a route:
https://github.com/aspnet/Mvc/blob/5632a330986b4e915ba351e57e477062d81a58fd/src/Microsoft.AspNet.Mv

[2015-07-25 15:59] davidfowl commented on #2860
Are you using beta5?

[2015-07-25 16:02] jbfp commented on #2860
Yep

[2015-07-25 20:18] dougbu opened #2861 "`IMvcBuilder` interface is inflexible"
Most `IServiceCollection` extensions do the intuitive thing and return the passed `IServiceCollection`. However the minimal ("Core") MVC extension methods, `AddMvcCore()` in particular, return an `IMvcBuilder` implementation with a single property of type `IServiceCollection`. This imposes an unnatural order on `Add...()` methods.

For example the `MvcMinimalSample.Web` project chains extension me

[2015-07-26 02:21] Eilon commented on #2861
I'm confused. `AddMvcCore()` takes in an `IServiceCollection` and returns an `IMvcBuilder`. Every other MVC builder extension both takes in and returns an `IMvcBuilder`.

What doesn't work?

BTW making `IMvcBuilder` derive from `IServiceCollection` would completely break the model - every other service extension method would show up.

[2015-07-26 02:40] dougbu commented on #2861
No. Only low-level extensions show up e.g. `AddRazorViewEngine()`. These are mostly additions `AddMvc()` provides in one call when using the whole thing. However none of the high-level `IServiceCollection` extensions are available e.g. `AddLogging()` or our own `AddMvcLocalization()` and `AddWebApiConventions()`.

What's wrong with that? It closely matches the model everywhere else e.g. `AddMvc()`

[2015-07-26 02:44] dougbu commented on #2861
Missed a question...

Adding logging or any other `IServiceCollection` extension anywhere in the chain after `AddMvcCore()`. As shown in my description, `AddLogging()` works if placed first or if the user tries the `Services` property (not particularly discoverable) to switch back to the expected chain.

[2015-07-26 02:47] Eilon commented on #2861
I'm just guessing, but I don't think the work is entirely done. It might be better to understand the goals of the design and its current state first.

[2015-07-26 02:49] Eilon commented on #2861
Regarding AddLogging, that's not an MVC method - why should you be able to chain it to AddMvc??

[2015-07-26 02:53] dougbu commented on #2861
You _can_ chain `AddLogging()` (or `AddStaticFiles()` or whatever from our larger system) after `AddMvc()`. The inconsistency / problem here is that doesn't work with `AddMvcCore()`.

[2015-07-26 02:55] Eilon commented on #2861
There are big changes coming to how this all works. Also, AddMvc is not meant to be the same as AddMvcCore.

[2015-07-26 05:11] tuespetre commented on #1729
Angular also uses ng-if to determine whether to actually output the element into the HTML at all. Is this something that is even possible with the Tag Helpers API? I haven't actually worked with it yet; can you use it to render other alternate output in a way that represents the current element?

[2015-07-26 05:11] tuespetre commented on #1729
Excuse me, I meant to say "in a way that replaces the current element".

[2015-07-26 06:05] dougbu opened #2862 "`asp-append-version` ignored when `href`/`src` URL contains a fragment but no query string"
The `<img>`, `<link>`, and `<script>` tag helpers support `asp-append-version="true"` when the provided URL contains a query string or a query string and a fragment. However all of these tag helpers ignore `asp-append-version="true"` if the URL contains a fragment but no query string.

E.g.
[code]
incorrectly generates
[code]
while
[code]
correctly generates
[code]

[2015-07-26 09:35] anfomin commented on #2834
I have investigated that there is an error with our custom model binder. MVC bind this model correctly.

[2015-07-26 09:35] #2834 closed

[2015-07-26 11:21] SenLi325 opened #2863 "Controller.Initialize()"
So i am working on a demo that will use the Controller.Context to create a Shopping Cart Service.
Since the Context is still null inside the Controller Constructor, I need to find a way to initialize my Shopping Cart Service right after the Controller Constructor.

Back to old time in System.web.mvc.controller, there was a method to overrider Controller.Initialize().
I am not sure if that method i

[2015-07-26 17:11] Eilon commented on #2860
We recently updated that log levels of most log events so that the `Information` level should be very quiet - at most a few log entries per "normal" request.

Can you try with the latest build? I took a quick look and the only LogInformation that I saw was the one you pointed out. We're contemplating removing even that one, but we're not sure if we want to remove *all* the Information logs from th

[2015-07-26 17:13] Eilon commented on #2863
Can you show a little bit more of the structure of your controller and service? You might be able to use Dependency Injection (DI) to achieve everything. Which services does the shopping cart service need?

BTW it might be worth pointing out that a shopping cart service (which is presumably a "business logic layer" component) shouldn't know anything about *controllers*, though it may very well nee

[2015-07-26 18:36] dougbu commented on #2863
Agree w/ @Eilon that an `Initialize()` method is less needed with MVC 6.

However in those rare cases e.g. all of the actions in the controller need the same values added to `ViewData`, override `OnActionExecuting()` or `OnActionExecutionAsync()`.

[2015-07-27 13:11] tstar opened #2865 "Add HtmlHelper which will return the files modification timestamp by glob mask."
I want to propose to add HtmlHelper which will return the files modification timestamp by glob mask. This will help in scenarios such as RequireJS module configuration to clear the client scripts cache.

I want to present my realisation of this module.

[code]
Example of use for the monitoring of all the scripts in a folder and subfolders:
[code]

Maybe I did not notice and there is a ready soluti

[2015-07-27 14:29] mbharodia opened #2866 "Question: Equivallent of Response_End in Global.aspx.cs"
Hi,

What is equivalent of Response_End (available in Global.aspx.cs in earlier versions of Asp.NET MVC)?

MVC app with Asp.NET 5 is not event driven. In this case what should I implement to trigger post response processing?

Any help would be appreciated.

[2015-07-27 14:50] jbfp commented on #2860
The latest builds are from the aspnetvnext MyGet feed, which is the "dev" branch, right? The dev branch still has that one specific ``Information`` log and it didn't make a difference in the log amount. It's not a big deal when it's just me testing, but I made the mistake of using 'wrk' (http load testing tool) with logging on and, well, the logs now tell me that MVC did in fact find the correct r

[2015-07-27 14:55] Eilon commented on #2860
Yes, the `dev` branch is the most recent code and has that one Information log. Do you feel that even just that one log is too noisy? Most log systems have ways of filtering out events - all the Microsoft ones have event names that start with `Microsoft...` if you want to filter them all out.

[2015-07-27 15:02] Eilon commented on #2866
@Tratcher what do you recommend here?

[2015-07-27 15:16] dougbu commented on #2865
The `asp-file-version` (`asp-append-version` in more recent MVC builds) attribute works with local files and adds a SHA256 hash of the file's content. Are you looking for an HTML helper that provides a similar hash? If you prefer a timestamp, why?

Separately did you run into any issues adding your `IHtmlHelper` extension?

[2015-07-27 15:45] rynowak commented on #2861
So much this. It will be consistent once we update the other parts of the system.

[2015-07-27 15:55] rynowak commented on #2859
That depends on the current value of `custom`. Both old and new routing codebases have a feature that invalidates route-values when a route-value to the left (lexically, in the template) has a new value.

Ex: - using route:

routes.MapRoute(
        name: "DefaultDouble",
        template: "{custom}/{controller}/{action}/{id?}",
        defaults: new { controller = "Home", action = "Index" });

Cu

[2015-07-27 16:02] rynowak commented on #2858
You can set it through the `ActionContext` property. Even better, the `DefaultHttpContext` class it designed to used in unit tests.

[code]

Doing this will make almost all of the request/response type properties initialized to something you can interact with.

[2015-07-27 16:05] Muchiachio commented on #2859
Does that mean that there are changes in routing in MVC6?
Because this works just fine in MVC5.

[2015-07-27 16:11] Eilon commented on #2859
The same routing logic should be in MVC5 and MVC6 with respect to this...

[2015-07-27 16:17] Muchiachio commented on #2859
I have a project in MVC5 which works differently, I will try to reproduce the same different behavior in small MVC5 project and will get back to you.

[2015-07-27 16:24] dougbu opened #2867 "`asp-append-version` ignored when running on Mono 4.2 or 4.3"
The `<img>`, `<link>` and `<script>` tag helpers mostly work on all platforms. However `asp-append-version` does nothing when running on Mono 4.2 or 4.3.

Since `FileVersionProvider` [contains the only](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/Internal/FileVersionProvider.cs#L59) `Uri.TryCreate()` call in the MVC product code, the root cause is likely aspnet/Exter

[2015-07-27 16:38] Muchiachio commented on #2859
[Here's](https://github.com/Muchiachio/UrlActionSample5) a MVC5 repro project with the same configuration.
You can run both projects side by side and see different results :?

[2015-07-27 16:40] IDisposable commented on #2865
Personally I'm happy with hashing, but the value proposition of timestamp vs. hashing is that one is metadata that costs nothing to get, vs. reading the entire file to compute the hash.

[2015-07-27 16:50] IDisposable commented on #2865
Can we reduce the allocations and conversions in this implementation?

[code]

[2015-07-27 17:07] Eilon commented on #2865
BTW the issue with timestamps is that on distributed systems they are not reliable. This can cause significantly reduced performance on a multi-node system. Hashes, on the other hand, are perfectly reliable.

[2015-07-27 17:56] rynowak commented on #2859
The only **intended** behavior difference between MVC 5 and MVC 6 is that MVC 6 won't generate a link to something that doesn't exist. I'll take a look at the samples.

[2015-07-27 18:28] dougbu commented on #2682
Will track as a Visual Studio issue: aspnet/Tooling-Internal#430. That issue also describes a simpler repro using a console application.

[2015-07-27 18:28] #2682 closed

[2015-07-27 18:33] tstar commented on #2865
I apologize in advance for my English.

asp-append-version may monitor only one file. My implementation allows tracking many files corresponding to the mask at any depth of folders. It is important for AMD/CommonJS JavaScript loaders like RequireJS. The RequireJS has a special property "urlArgs" that is added to each loaded file that would ensure relevance (cache bust) http://requirejs.org/docs/ap

[2015-07-27 18:39] rynowak commented on #2855
@vijayrkn is going to take a look. We can't find out what's going on without debugging the VS code.

[2015-07-27 18:49] dougbu commented on #2865
/cc @DamianEdwards

[2015-07-27 20:08] rynowak commented on #2859
I can confirm that this is behaving differently on MVC6. Currently trying to root cause why. Thanks for the report and the helpful repos :+1:

[2015-07-27 20:43] rynowak commented on #2855
@RehanSaeed - Can you please try using dnx version 12274 or newer? We think this is fixed, but would like to hear back from you that this is resolved.

[2015-07-27 21:33] Tratcher commented on #2866
What kind of work do you want to do?
Have you tried HttpContext.Response.OnCompleted?

[2015-07-28 16:53] aaron-hammond opened #2871 "Rendering a view to string"
Hi Guys,

I'm trying to render a view to a string but i'm struggling. I thought i could inject the IRazorViewEngine and then call .FindPartialView() but the DI container isn't able to resolve the IRazorViewEngine which leads me to believe what i'm doing is just wrong.

     public class ViewProvider : IViewProvider
     {
        private readonly IRazorViewEngine _razorViewEngine;

        public

[2015-07-28 17:07] pranavkm commented on #2871
@aaron-hammond, view engines aren't in the DI container. There's a `ViewEngines` sequence on `MvcOptions` - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/Rendering/ViewEngine/CompositeViewEngine.cs#L28-L44.

One way to go about it might be:

[code]

Clearly not the nicest of APIs here.

[2015-07-28 17:18] pranavkm commented on #2871
@aaron-hammond spoke to @rynowak about this API. This was something we wanted to tackle and we can work on cleaning it up so it is a little less wonky to deal with. That said, `MvcOptions.ViewEngines` would be the right location to look for this

[2015-07-28 20:00] rynowak opened #2872 "Discussion: Refactoring of MVC packages"
## What is it?

We've split up the MVC runtime features into a set of more granular packages based on what features they provide and what dependencies they have.

**For most users there will be no change, and you should continue to use `AddMvc()` and `UseMvc(...)` in your startup code.**

**For the truly brave, there's now a configuration experience where you can start with a minimal MVC pipeline

[2015-07-28 20:04] rynowak commented on #2872
### In accordance with the discussion in aspnet/Announcements#47 - this post is for feedback and discussion of aspnet/Announcements#49.

A reminder:

Feedback
------------

For anyone experimenting with `AddMvcCore(...)` we'd like to know about any surprises you encounter. Does something work that shouldn't? Does something break that should be available?

Regarding the layering, what chunks of fea

[2015-07-28 20:18] davidpeden3 commented on #2872
@rynowak I recommend making a "discussion" label to better highlight these types of issues

[2015-07-28 20:31] khellang commented on #2872
First of all, I think it's nice that `AddMvcCore` returns a separate interface, `IMvcBuilder`. This prevents pollution of the `IApplicationBuilder` interface and weird scenarios where someone would call `AddJsonFormatters` etc. without actually needing it. I'd like to keep `Startup` as clean as possible :wink:

I do have a problem with it as well, though; this prevents chaining other, non-MVC rela

[2015-07-28 20:40] davidpeden3 commented on #2872
@khellang +1

[2015-07-28 20:49] akoeplinger commented on #2872
@khellang

I'm not sure this is really a problem, splitting into multiple `services.Add*` calls per component is likely required anyway if you've got a more complex ConfigureServices method (see [here](https://github.com/aspnet/MusicStore/blob/7e922fb49b7836f8a059d3fbbb4e8794f2267f68/test/E2ETests/compiler/shared/Mocks/StartupSocialTesting.cs#L56-L79) for an example).

[2015-07-28 21:10] Anderman opened #2873 "Client side validation"
I have 4 remarks/issues with the client side validation
__1__
The `[DataType(DataType.EmailAddress, ErrorMessage = "invalid email adress")]` will cause client side validation.

I think it should not do this ([#327](https://github.com/aspnet/Mvc/issues/327)) because, the server side validation is not implemented and on the client side the message is not implemented. It is confusing that some of the

[2015-07-28 21:17] rynowak commented on #2872
/cc @DamianEdwards @davidfowl @lodejard

We're definitely aware of the inconsistency of `IMvcBuilder` with much of the prior art here. Feedback and suggestions here are definitely welcome, we've spent a fair bit of time mocking up different styles of this API and will likely spend more time before v1 goes final.

Our rough consensus so far was to do the opposite of what's being suggested here and

[2015-07-28 21:19] rynowak commented on #2872
@davidpeden3

Interesting idea, but I'm not allowed. Will run it by @Eilon.

[2015-07-28 21:20] rynowak commented on #2872
I've been informed by @dougbu that I made a factual error:

Updated description for TagHelpers:

[2015-07-28 21:24] rynowak opened #2874 "Add IMvcBuilder overloads for localization and XML formatters"
See here: https://github.com/aspnet/Mvc/issues/2872#issuecomment-125750316

We don't have an `IMvcBuilder` startup experience for these pieces.

[2015-07-28 21:36] khellang commented on #2872
I also do think it's important that this is consistent with other frameworks coming out of Redmond, like Entity Framework. You're setting a precedent for future (and existing), non-MS frameworks as well here. :smile:

[2015-07-28 21:38] rynowak commented on #2872
That's why I mentioned them in the example I gave :+1:. They're part of the discussion as well.

[2015-07-28 21:50] Eilon commented on #2872
New label added.

[2015-07-28 22:06] burtonrodman commented on #2872
I'd prefer multiple services.Add calls for blocks of related functionality as mentioned by @rynowak.

[2015-07-28 22:09] khellang commented on #2872
Speaking of what options are available and what are relevant;

and

How are you supposed to know that in order to add some services, you first have to add some other services? Documentation?

Wouldn't it be better if this was either
 1. Enforced through the API, so once you fire up your app, you know it's not going to blow up (at least not because of incorrect configuration).
 2. The `Add*` method

[2015-07-28 23:20] ajaybhargavb commented on #2841
@natemcmaster, Looks like the `~` is not being handled properly in comma separated inputs. Your example should work if you remove `~` from the second url.
[code]
I am working on fixing this.

[2015-07-29 00:08] IDisposable commented on #2872
Love the nested idea from @khellang

[2015-07-29 10:03] pnvpratik commented on #2824
@kirthik  is there a sample which shows  how to use the localization with MVC 6 project ? I cant locate any documentations / samples on localization.

[2015-07-29 10:17] branciat opened #2876 "WebSite : LocalizationWebSite"
Hi,

The website example contains errors, in the method GetStringSafely of the class TestStringLocalizer, the search is into the directories "Resources\bin" which not exist, and the extension file that use is resx and not .resources.
After making changes, the ResourceManager class don't load the strings, the count is zero.

[2015-07-29 11:29] a99cl208 opened #2877 "How to add a ressource file (.resx) to a xproj?"
Hi,

I'm just wondering, how do you add a resx file in a xproj? I've seen some one of them in your Mvc.Core project, but in Visual Studio this kind of file is neither available in the "add file" menu nor in the project properties, and anyway the custom tool genertor does not exists in xproj.

Did i missed something?

Thanks.

[2015-07-29 15:50] Asshiah commented on #2872
This would be great if we could have an example as to how to use the new Microsoft.AspNet.Mvc.Localization in a sample starter project.
The one provided here is outdated and do not work anymore: https://github.com/DamianEdwards/i18nStarterWeb

[2015-07-29 17:22] kirthik commented on #2877
We don't have support for this yet. This is a VS tooling issue. cc @danroth27, @rustd.

[2015-07-29 19:07] heathyates opened #2880 "Where did Microsoft.Framework.CodeGenerators.Mvc go in beta6?"
![error](https://cloud.githubusercontent.com/assets/1896424/8966922/9e0c8e92-35f9-11e5-9624-e85eaa0a9315.PNG)

According to my research, the latest beta package is obviously beta 5. See [here](https://www.nuget.org/packages/Microsoft.Framework.CodeGenerators.Mvc/).

Has the code generation been moved and if so, could you please tell me where? I have been unable to find it.

[2015-07-29 20:13] heathyates commented on #2292
@danroth27 @henkmollema Is this issue closed?

[2015-07-29 20:35] a99cl208 commented on #2877
Ok, so how have you been able to add those files in the aspnet projets (like mvc core for instance)? Are you maintaining them manually?

Also, any plan to support this on incoming release?

Thanks

[2015-07-29 20:37] heathyates commented on #2880
This issue has also been referenced [here](https://github.com/aspnet/Scaffolding/issues/105). I am closing this issue and backing up @giggio there.

[2015-07-29 20:37] #2880 closed

[2015-07-29 20:50] pranavkm commented on #2877
@a99cl208 Seemingly the "Resx" template was removed from the list of DNX item templates. Feel free to file a bug in https://github.com/aspnet/Tooling to track this.
A workaround for the time being would be to start from a "Text file" and rename it with a `.resx` extension. We use a script - https://github.com/aspnet/Universe/blob/dev/build/_k-standard-goals.shade#L193-L213 - to generate designer f

[2015-07-29 21:10] #2877 closed

[2015-07-29 21:11] danroth27 commented on #2876
@kirthik Can you please take a look?

[2015-07-29 21:16] kirthik commented on #2876
Dnx does not support creating .resources files or satellite assemblies yet. I am creating `.resources` as part of localization test.

@branciat, you could run the code in https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/LocalizationTest.cs#L140 passing resource file name for creating .resources as a temporary workaround.

Once dnx supports adding .resources file, th

[2015-07-29 21:19] danroth27 opened #2881 "Add a PasswordInputAttribute for specifying password input"
Originally requested by @anderman in https://github.com/aspnet/Mvc/issues/2873

Similar to how we have `HiddenInputAttribute` consider adding a `PasswordInputAttribute` for specifying password input.

[2015-07-29 21:27] danroth27 commented on #2873
(1) We think these attributes shouldn't cause any validation - we will investigate why this is happening. @dougbu Could you please take a look?
(2) We will need to document the attributes we support (https://github.com/aspnet/Docs/issues/116)
(3) Opened https://github.com/aspnet/Mvc/issues/2881 for this suggestion
(4) We don't currently support using HTML5 based validation because of browser limit

[2015-07-29 21:42] danroth27 commented on #2867
I'm inclined not to fix this as I think the Mono behavior is incorrect.

What is the issue with `FileVersionProvider` and `FilePathResult`? Sounds like a separate issue.

[2015-07-29 21:42] #2867 closed

[2015-07-29 21:44] danroth27 commented on #2866
Or would simply implementing custom middleware work for your scenario?

[2015-07-29 21:46] dougbu commented on #2881
One existing workaround is `[UiHint("Password")]` on the property.

[2015-07-29 21:53] #2861 closed

[2015-07-30 05:45] branciat commented on #2876
Thanks i look that today.

[2015-07-30 06:41] branciat commented on #2876
@kirthik  It's all right, the files are converted and the localization also.
I close the issue.
Thank

[2015-07-30 06:41] #2876 closed

[2015-07-30 07:01] henkmollema commented on #2292
@heathyates nope, my commit is just some try-out which got pushed accidentally.

[2015-07-30 16:41] Muchiachio opened #2884 "Localization using route data"
I asked at aspnet/Localization#57, but it seems that repository doesn't get any love at all :sob:
I was trying to write a culture change middleware which loaded culture from the route data
[code]
[code]
But I looked through ```HttpContext``` class properties and I could not found any way to reach ```RouteData``` from within ```HttpContext```. Will this localization scenario will be supported in in

[2015-07-30 16:46] paulomorgado opened #2885 "Set cultures with without user override"
(I don't know if this is the write place or if this has already been discussed)

matching culture setting between the server and client is extremely hard, even with all the frameworks out there.

On top of that, .NET respects user modifications to cultures which can create havoc.

For example, I have the date time information on my user profile set to **pt-PT** but, instead of using the standard d

[2015-07-30 16:49] #2858 closed

[2015-07-30 17:44] #2769 closed

[2015-07-30 18:07] rynowak commented on #2885
/cc @kirthik @DamianEdwards

[2015-07-30 18:12] rynowak commented on #2884
There's currently no way to combine routing and middleware.

I'd suggest taking a look at `IRequestCultureProvider` and its usages in the localization middleware. Write your own one of these to parse the language from the URL.

If you wanted to use routing for this, you could do it using an action filter, but by doing so you're blazing your own trail.

[2015-07-30 18:20] Muchiachio commented on #2884
I guess I will wait, because parsing it from url is baah :disappointed:, especially with url templates like `{language=fr}/{controller=home}/{action=index}`, because default values may not even be included in the url.

[2015-07-30 18:20] #2884 closed

[2015-07-30 23:39] michaelnero opened #2889 "500 Internal Server Error"
I'm trying to deploy a 1.0.0-beta5 web app to Azure, and I keep getting a 500 Internal Server Error. The error page itself isn't very helpful at all, and I've tried digging through every log I can find, and I'm not seeing anything.

Am I missing something? Anyway to help track down the problem?

![capture](https://cloud.githubusercontent.com/assets/1127408/8997687/31290020-36ea-11e5-9858-f2f71cb2e

[2015-07-31 00:25] #2889 closed

[2015-07-31 02:14] neoGeneva opened #2890 "Issue with arrays in expression when using DotNetCompilerPlatform"
Hey, not 100% sure if this an MVC issue or Roslyn issue, but the issue exists when using  DotNetCompilerPlatform 1.0.0.0 and MVC 5.2.3.0

The issue is that array variables used in an array get the wrong name (the end up being prefixed with "CS$<>8__locals1.") when used with HtmlHelper expression methods, eg Html.NameFor()

Steps to reproduce:
1. In VS2015 create a new MVC5 project using the ASP.NE

[2015-07-31 02:20] neoGeneva commented on #2890
Note that commenting out the "system.codedom" in web.config resolves the issue by essentially disabling the DotNetCompilerPlatform package.

[2015-07-31 02:28] dougbu commented on #2890
MVC 5.2.3 issues are tracked on [CodePlex](http://aspnetwebstack.codeplex.com/workitem/list/advanced). Have you tried this scenario using MVC 6?

[2015-07-31 03:06] neoGeneva commented on #2890
Yes, I can reproduce the issue in MVC6-beta5, this time using "ASP.NET 5 Preview Templates" -> "Web Application" and change the Home/Index.cshtml view as before.

The result was exactly the same.

[2015-07-31 08:22] Kagamine opened #2891 "inherit controller problem in mvc 6 beta-6"
I created a base controller class and inherits from Controller
[code]

Then, I made HomeController, AccountController,... inherits it.

[code]

I visit http://localhost:xxxx/Account/Login returns 404 error.

the router not works.

but in MVC5 it works.

[2015-07-31 08:22] Kagamine commented on #2891
Sorry for my English

[2015-07-31 08:32] #2891 closed

[2015-07-31 10:54] ycrumeyrolle commented on #2872
I prefer the SignalR / EF way to do for chaining the services.
SignalR :

    services
        .AddSignalR()
            .AddSqlServer()
            .Add3rdPartySignalRFeature();

    services
        .AddOtherServices();
EF :

    services
        .AddEntityFramework()
            .AddSqlServer()
            .Add3rdPartyEntityFrameworkFeature();

    services
        .AddOtherServices();

MVC (pr

[2015-07-31 12:40] ponsaravanan opened #2892 "How to access DBContext from CookieAuthenticationNotifications"
I am trying to access db context from  CookieAuthenticationNotifications.OnValidatePrincipal for populating some properties from db. But couldn't access it.

Searched for online documents on how to do the same. But no luck so far.

MVC6, Beta5. I am using.

Any inputs to guide me will be greatly appreciated.

[2015-07-31 14:24] pnvpratik opened #2893 "MVC 6 Beta 7 Localization issue."
Hi ,

I am running into some dependency resolution issues when I am trying to use the MVC 6 localization packages.

When I add the following 2 packages

[code]

packages and add the following line in ConfigureServices in the Startup.cs

[code]

I get a new error when the IHtmlLocalizer package .

It seems this is only an issue with the localization package as my Startup method in Startup.cs is abl

[2015-07-31 15:15] RehanSaeed opened #2894 "Any Plans to Implement VaryByParam?"
Are there any plans to implement the MVC 5 VaryByParam property on ResponseCache and CacheProfile? Is there an alternative approach?

[2015-07-31 16:41] danroth27 commented on #2893
What version of DNX are you running on?

[2015-07-31 16:44] danroth27 commented on #2892
Moved to https://github.com/aspnet/Security/issues/383

[2015-07-31 16:44] #2892 closed

[2015-07-31 16:46] pnvpratik commented on #2893
I am using beta7-12290

my dnvm list outout below

Active Version           Runtime Architecture Location                       Alias
------ -------           ------- ------------ --------                       -----
       1.0.0-beta4       clr     x86          C:\Users\pvasani\.dnx\runtimes
       1.0.0-beta5       clr     x64          C:\Users\pvasani\.dnx\runtimes
       1.0.0-beta5       clr

[2015-07-31 16:54] Eilon commented on #2890
@dougbu this is presumably because `i` is being closed over, which generates a new class, and I'm guessing that's what's showing up here. Does this happen in all closure scenarios when we generate names based on expressions?

[2015-07-31 16:57] danroth27 commented on #2885
This looks like a question for ASP.NET 4.6 (`Application_BeginRequest`), which we can't really change, but we should consider what we want to do for ASP.NET 5.

[2015-07-31 16:57] Eilon commented on #2893
In your project.json are you sure you're using the latest set of every package? In `beta7` some breaking changes were made and you have to get a full new set of packages to ensure they are compatible with one another.

[2015-07-31 17:00] danroth27 commented on #2865
We think this is something that could be built on top of MVC as a separate component. For the majority of cases we believe customers will want the hashing behavior.

[2015-07-31 17:00] #2865 closed

[2015-07-31 17:10] danroth27 commented on #2860
@lodejard @rynowak @Eilon  We think at the Information level there should really only be one log event _per request_ from the framework - that a request happened.This should probably be done in hosting instead of in routing. All the other details about what happened for that request should probably be at the Verbose level.

[2015-07-31 17:10] pnvpratik commented on #2893
I have taken the beta7 version of most packages where possible and have done the steps mentioned in the Announcement project here https://github.com/aspnet/Announcements/issues/51

My dependencies in project.json

"dependencies": {
    "EntityFramework.SqlServer": "7.0.0-beta5",
    "EntityFramework.Commands": "7.0.0-beta5",
    "Microsoft.AspNet.Mvc": "6.0.0-beta7-14347",
    "Microsoft.AspNet.Mv

[2015-07-31 18:12] Eilon commented on #2893
Can you try using `...-beta7-*` for all the packages to see if that makes it work?

[2015-07-31 20:22] nikmd23 opened #2895 "Default Razor Directives"
After a quick chat with @NTaylorMullen, I decided to open this feature request.

Right now it's possible to inject a default `@addTagHelper` directive (and other directives) into Razor by implementing a custom MvcRazorHost, as I'm doing here:

[code]

The problem is only one of these can be registered, so its a point on contention.

Has any consideration been given to creating first class support

[2015-07-31 20:31] kirthik commented on #2893
I am able to repro this issue. I am investigating the cause now.

[2015-07-31 20:34] kirthik commented on #2893
Ok. `Microsoft.Framework.Runtime.IApplicationEnvironment` is incorrect since namespace changed now. Change `Microsoft.Framework.Runtime` to `Microsoft.Dnx.Runtime`. It is better to clear your packages cache so all old packages before rename are deleted.

[2015-07-31 21:23] dougbu commented on #2890
Not _all_ closure scenarios. We have samples and functional tests demonstrating both `m => Model[i]` and `m => m[i]` generate the expected names. I believe this happens only when the leftmost expression node is also a local variable. Still important to fix of course.

[2015-08-03 01:24] Daniel15 opened #2896 "Inconsistency with Url.Content("~")"
In previous versions of ASP.NET MVC, `Url.Content("~")` returns the application's root directory (ie. `/foo`). On ASP.NET MVC 6, this just returns a verbatim "~", and you need to actually use `Url.Content("~/")`. It's a subtle difference, but it appears that older versions just check that the first character is "~", whereas newer versions check that the string starts with "~/" (ie. it contains a t

[2015-08-03 03:27] Daniel15 commented on #2540
The web app template in Visual Studio still uses `asp-file-version`, looks like it wasn't updated.

[2015-08-03 03:32] NTaylorMullen commented on #2540
/cc @rustd

[2015-08-03 05:53] NTaylorMullen opened #2897 "Add temporary parse error for @helper directive to avoid confusion."
Currently `@helper` is unavailable in Razor 4 but we should create a temporary error to notify users. This will also server to avoid unrecognizable errors such as the one mentioned [here](https://github.com/aspnet/Razor/issues/471#issuecomment-127128434).

[2015-08-03 05:53] NTaylorMullen commented on #2897
Ahh wrong repo.

[2015-08-03 05:53] #2897 closed

[2015-08-03 08:40] pnvpratik commented on #2893
@Eilon  & @kirthik  Thanks for the Info , Taking the beta7-* and clearing all the contents of my C:\Users\<me>\.dnx\packages got rid of the error.

[2015-08-03 17:46] rynowak opened #2900 "Get rid of manual body-read-state-tracking"
MVC has custom code to track whether or not the request body has been read, which is easily circumvented. Right now this just prevents a class of common errors like putting `[FromBody]` on two parameters.

We should remove our logic for this and use what's suggested here: https://github.com/aspnet/BasicMiddleware/pull/6/files#r36109498

[2015-08-03 18:56] NTaylorMullen opened #2901 "ImageTagHelper showcases view-context as available HTML attribute."
Looks like this was missed when we introduced `[HtmlAttributeNotBound]`.

![image](https://cloud.githubusercontent.com/assets/2008729/9045156/2d549f06-39d6-11e5-9c6d-0a57a8dd7f45.png)

[2015-08-03 19:02] #2837 closed

[2015-08-03 19:10] NTaylorMullen opened #2902 "ImageTagHelper doesn't work well with other TagHelpers."
Today, `ImageTagHelper` relies too heavily on it's bound `Src` attribute which in turn makes interactions with other `TagHelper`s insufficient. Aka, if another `TagHelper` modifies `output.Attributes["src"]` the `ImageTagHelper` will trump their value instead of use it.

[2015-08-03 19:10] #2862 closed

[2015-08-03 19:57] NTaylorMullen opened #2903 "Support ~/ in globbed patterns."
Today if a user were to write globbed patterns for the Script, Link and Image `TagHelper`s such as `"~/index.js, ~/about.js"` only the first ~/ is resolved. We should consider adding support for multiple tilda slashes.

[2015-08-03 20:29] danroth27 commented on #2540
https://github.com/aspnet/Templates/issues/142

[2015-08-03 21:44] Daniel15 commented on #2540
I get a 404 on that link; is it a private repo?

[2015-08-03 21:48] danroth27 commented on #2540
Yeah, sorry about that. Removing the link to avoid further confusion.

[2015-08-03 22:30] NTaylorMullen commented on #2901
6d228a62dc026544506f4bbf80f0d5d5457fe960

[2015-08-03 22:30] #2901 closed

[2015-08-03 22:33] dougbu opened #2905 "Change in-box tag helpers to use `DefaultFrameworkSortOrder`"
Existing tag helpers all have `Order == 0`. This is the user default and ours should lie in the documented range (-1 to -1999). Suggest `DefaultOrder.DefaultFrameworkSortOrder`.

[2015-08-03 23:19] NTaylorMullen commented on #2807
0ef68eefc898247fe6a3c6d6a8ab8820ea2b34e4

[2015-08-03 23:19] #2807 closed

[2015-08-04 00:06] dougbu opened #2906 "`"

[2015-08-04 00:06] #2906 closed

[2015-08-04 00:10] dougbu opened #2907 "`CompositeValueProvider` does not match `IBindingSourceValueProvider` contract"
Of the `IBindingSourceValueProvider` implementations in MVC, all but `CompositeValueProvider` have a `Filter()` method that returns `null` when the requested `BindingSource` does not match. `CompositeValueProvider` instead returns an empty `CompositeValueProvider`.

Also have a little code in `CompositeModelBinder` and `MutableObjectModelBinder` that expects the `CompositeValueProvider` behaviour

[2015-08-04 04:16] Eilon commented on #2907
Make 'em match!

[2015-08-04 04:19] dougbu commented on #2907
Teal it is :smiling_imp:

[2015-08-04 05:00] dougbu commented on #2633
Looks like `HttpRequestMessageModelBinder` needs to change and a couple of other classes could change.

Separately `ModelBindingHelper.TryUpdateModelAsync()` completely ignores the `ModelValidationNode` tree the model binding system returns. This method does not even check `ModelBindingResult.IsModelSet` before using `...Model`. Makes careful `ModelValidationNode` creation irrelevant in scenarios

[2015-08-04 05:12] dougbu commented on #2633
@Eilon @rynowak investigation complete. Do we need these quick fixes in Beta 7?

[2015-08-04 05:16] Eilon commented on #2633
@dougbu please review https://en.wikipedia.org/wiki/TL;DR :smile:

[2015-08-04 05:24] Eilon commented on #2633
Let's the three of us chat tomorrow morning about whether to take this for beta7.

[2015-08-04 05:50] Daniel15 opened #2908 "Regexes in attribute route"
What am I doing wrong here? I have this route in a site that uses an older [attribute routing library](https://github.com/mccalltd/AttributeRouting):
[code]

I'm trying to upgrade the site to ASP.NET 5. This was my first attempt at doing so:
[code]

Except it crashes with an error:
[code]

Stack:
[code]

[2015-08-04 06:00] Daniel15 commented on #2908
Solved - The `[` and `]` need to be escaped as `[[` and `]]`.

[2015-08-04 06:00] #2908 closed

[2015-08-04 06:19] alansangeeth opened #2909 "Enclose a list of tags (taghelper) by a parent tag"
I need to achieve like below
[code]
When ever I use MyTag in design time, it need to be enclosed automaticaly by MyTagList or MyTag should error that it must be enclosed by MyTagList

[2015-08-04 12:04] grahamehorner opened #2910 "ViewComponent and @Section"
The `@section` scripts don't render in a ViewComponent, view component should have the ability to include scripts within the `@section` unlike partital views as components may be reused across many views and the component is responsible for it's own functionality.

[2015-08-04 14:28] KevinDockx opened #2911 "JsonPatch: handling casing"
When applying a patchdoc to an object, I have to find the properties the operations need to be applied to on the class; this search is done regardless of casing.  That's probably how most users would expect it to work (and how it's always been in the original component).

The downside of this is that when that class contains both "name" and "Name" properties, the first property found will be used

[2015-08-04 14:35] dougbu commented on #2909
Are you looking for an ability to adjust the HTML schema the editor uses i.e. disallow and don't suggest `<MyTag>` unless immediately within `<MyTagList>`?

[2015-08-04 16:26] kalluri-nb opened #2912 "DefaultObjectValidator runs into StackOverflow when using Dates in model."
The DefaultObjectValidator fails with StackOverflow exception when using DateTime properties.
This happens because of the Date property in DateTime object which recursively tried to create the model for DateTime.
When adding a Date property to Person class in Microsoft.AspNet.Mvc.Core.Tests

[code]

[2015-08-04 16:40] dougbu commented on #2912
@kalluri-nb what is the exact type of the `Date` property you added? Does the property have any attributes on it?

[2015-08-04 16:44] kalluri-nb commented on #2912
Its a DateTime type property. The ModelExplorer keeps recursively building the model for DateTime.Date which again is a DateTime.

[2015-08-04 17:17] Eilon commented on #2909
@DamianEdwards

[2015-08-04 17:45] NTaylorMullen commented on #2909
https://github.com/aspnet/Razor/issues/255 plans to accomplish that. Stay tuned! :smile:

[2015-08-04 22:28] toddtsic opened #2914 "Google Authentication, ChallengeResult, passing redirect uri correctly?"
I'm new to external login routines, but this is what has me stopped.  Would greatly appreciate assistance as I wire up Visual Studio 2015 mvc web app.

First attempt was with google.

Successfully set up google:

---------from google developer page----------------
Client ID: (xxed out here)
Client secret	(xxedout here)

Redirect URIs
https://localhost:44300/tsic/Account/ExternalLoginCallback/
http

[2015-08-04 22:46] toddtsic commented on #2914
Addendum:

Looking at the request headers sent to google confirms that my code is sending an incorrect querystring "redirect_uri":

From chrome network tools:

Remote Address:216.58.218.205:443
Request URL:https://accounts.google.com/o/oauth2/auth

?response_type=code

&client_id=xxdout

&redirect_uri=https%3A%2F%2Flocalhost%3A44300%2Fsignin-google (THIS IS INCORRECT AND IS NOT WHAT WAS SUPPLIED B

[2015-08-04 22:59] ajaybhargavb commented on #2903
Duplicate #2841

[2015-08-04 22:59] #2903 closed

[2015-08-05 05:29] toddtsic commented on #2914
Just repeated process with Facebook and the exact same problem, the redirect_uri sent to facebook is not what was configured in ConfigureExternalIAuthenticationPropertiers:

https://www.facebook.com/v2.2/dialog/oauth
?client_id=xxdout
&scope=
&response_type=code
&redirect_uri=https%3A%2F%2Flocalhost%3A44300%2Fsignin-facebook (THIS IS NOT WHAT WAS CONFIGURED)
&state=xxdout

[2015-08-05 11:25] aaron-hammond commented on #2871
@pranavkm thank you for the reply on this, i'll use your suggestions for now. Out of interest how would this be cleaned up? Would you expect the behavior in my original example to work and the DI container resolve an instance of the razor view engine or would i access it by some other means?

Thanks

[2015-08-05 13:16] pranavkm commented on #2871
@aaron-hammond, I did check in the cleanup changes (https://github.com/aspnet/Mvc/commit/7120b2ff9219e4ec917bc0654d66772c2d2d42c5). We have `IRazorViewEngine` registered in DI now, so your original example should work.

In addition, `MvcViewOptions` also exposes the list of `IViewEngines` the application uses. So if you care to query all of them, you could use that type.

[2015-08-05 13:45] aaron-hammond commented on #2871
@pranavkm great, really appreciate the link to the change set. Thanks for your help!

[2015-08-05 15:38] dougbu commented on #2890
Problem is not specific to arrays e.g. `List<T>` instances can hit the same issue. The important things are:
- Expression's leftmost term is a variable i.e. something other than a property of the view or the lambda parameter.
- Expression also includes a non-constant indexer term.
- The two terms change at different times e.g. one is a method variable and the other is a loop variable.

Root cause

[2015-08-05 15:39] dougbu commented on #2890
Clearing assignee and Investigate label so __@Triage__ can decide on a milestone.

[2015-08-05 16:00] rynowak commented on #2914
/cc @HaoK @blowdart

[2015-08-05 16:12] rynowak commented on #2912
@Eilon @danroth27 - this scenario **exactly** is that `ExcludeValidationFilters` are for.

@kalluri-nb - have you don't anything to `MvcOptions.ExcludeValidationFilters`? `DateTime` is part of a known list of a types that we don't recurse into for validation. If you've cleared this list, it would do exactly this. If you haven't messed with that option at all, then we've got a genuine bug.

[2015-08-05 16:40] Eilon commented on #2914
Indeed, @HaoK can you take a look?

[2015-08-05 16:44] Eilon commented on #2911
I commented in the PR:

[2015-08-05 16:44] #2911 closed

[2015-08-05 16:47] Eilon commented on #2910
@grahamehorner can you explain a bit more what scenario you have? Does the ViewComponent have its own layout page and view, and an `@section` for scripts? Or is the ViewComponent trying to have an `@section` for scripts for the *calling view's* layout page?

[2015-08-05 16:51] #2855 closed

[2015-08-05 16:53] Eilon commented on #2863
The recommended alternatives to `Initialize()` are listed here.

[2015-08-05 16:53] #2863 closed

[2015-08-05 16:53] #2866 closed

[2015-08-05 17:04] HaoK commented on #2914
So the issue is that you are configuring the final redirect (not the google/fb redirects) when configuring sign in manager's external properties.  To configure google/fb's redirects, you need to configure them via their options:

CallbackPath is the uri that google/fb will callback into.

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OAuth/OAuthAuthenticationOptio

[2015-08-05 17:12] toddtsic commented on #2914
I have figured this out.  Was a misunderstanding on my part, but I believe my error will provide some insight on how to make clearer for others:

The key to unraveling this was that
    with google the mvc produced redirect_uri was hostname://signin-facebook
   and for facebook: hostname://signin-facebook

From this I concluded that the redirect uri to be set at google and facebook developer setup

[2015-08-05 17:36] dougbu commented on #2705
bda8501

[2015-08-05 17:36] #2705 closed

[2015-08-05 22:06] dougbu commented on #2873
W.r.t. (1) we're not validating at all. In fact many browsers ignore any issues in the field we generate for the `[DataType(DataType.EmailAddress)]` property. Instead the datatype specification causes MVC to generate `<input type="email" .../>` and _some_ browsers complain when users enter an invalid value in the field.

##### Details
With the following model
[code]
and `@Html.EditorFor(model => m

[2015-08-05 22:08] dougbu commented on #2873
Clearing labels and assignee to kick this back to __@Triage__. Not sure there's any remaining action here since the outstanding issues are now tracked separately.

[2015-08-06 07:21] XiaoweiJia opened #2919 "Where is ActionFilterAttribute?"
Which package can I find to create custom action filters? In previous mvc, I can create one by inheriting from ActionFilterAttribute. Now this class seems to have moved. Please help. Thanks

[2015-08-06 11:56] IsaacSee commented on #2682
Hello,
Since I can not access to Tooling-Internal repository, do you have any news or workaround on this ?

[2015-08-06 12:00] rahuldhariya01 opened #2921 "No service for type 'Microsoft.Framework.Runtime.ILibraryManager' has been registered"
I get this issue when i run mycode base with Brand new visual studio 2015 enterprise. it was working fine. i guess it is some dnx update issue. can anyone help ?

Error : No service for type 'Microsoft.Framework.Runtime.ILibraryManager' has been registered

[2015-08-06 14:45] rynowak commented on #2921
This is almost certainly an issue with mismatched package versions.

Please double check that your version of DNX is compatible. eg. beta-6 DNX only works with beta-6 MVC. You can see this by opening the project's properties in VS.

[2015-08-06 14:48] rynowak commented on #2919
This is still here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ActionFilterAttribute.cs

If you're building a site, you should reference `Microsoft.AspNet.Mvc` which will include this package.

[2015-08-06 15:58] rahuldhariya01 commented on #2921
@rynowak ,  I have mvc 6.0.0-beta4 in project json and DNX  SDK  is 1.0.0-beta4.
If i change DNX then i am unable to build my project solutions.
can you please suggest anything this kind of very urgent.

[2015-08-06 16:21] rynowak commented on #2921
/cc @davidfowl @BillHiebert - I'm not sure that beta-4 is supported in the final release of VS.

[2015-08-06 16:21] rynowak commented on #2921
Where is the error coming from, can you include a callstack?

[2015-08-06 16:26] rahuldhariya01 commented on #2921
Attached is the screenshot  and call stack.

@rynowak , this is runtime error, i dont have complete call stack.
this is what i am seeing at screen,

[InvalidOperationException: No service for type 'Microsoft.Framework.Runtime.ILibraryManager' has been registered.]
   System.Web.HttpRuntime.HostingInit(HostingEnvironmentFlags hostingFlags, PolicyLevel policyLevel, Exception appDomainCreationExcepti

[2015-08-06 16:34] dougbu commented on #2682
No news but the above discussion includes two workarounds:
- Execute the project outside Visual Studio.
- As you said:

Unchecking it from Configuration Manager
Then unload the project again The project stays included in publication process.

[2015-08-06 17:15] rynowak commented on #2921
@Tratcher

[2015-08-06 17:18] Tratcher commented on #2921
This is a known breaking change. We're just waiting for our build to produce the new packages (later today). In the meantime you can use WebListener or Kestrel.

[2015-08-06 17:32] rahuldhariya01 commented on #2921
@Tratcher, As you say this could be fix by eod so i can wait for one day, can you be sure that this can be fixed by eod ?

[2015-08-06 17:36] rynowak commented on #2527
Resolution here is to remove the fallback.

For the case where there's no form-data, MVC will provide an empty form collection.

[2015-08-06 17:38] Tratcher commented on #2921
It is already fixed, the packages just aren't on the vnext feed yet. ETA is unconfirmed. You can get the packages from https://www.myget.org/F/aspnetvolatile/api/v2 if you're in a hurry, but I don't recommend using this feed normally as it's highly unstable.

[2015-08-06 17:52] rahuldhariya01 commented on #2921
Thanks @Tratcher , Yes i am in hurry. Will this package works with azure web app ?  How to install this package to solutions ?

[2015-08-06 18:38] rahuldhariya01 commented on #2921
@Tratcher  @rynowak  any update ? i am really in hurry.

[2015-08-06 18:47] Tratcher commented on #2921
It's not a package, it's a nuget feed.  Add it to your nuget feed settings in VS.

However, if you're in that much of a hurry I recommend going back to the stable beta6 packages on nuget.org.

[2015-08-06 18:49] rahuldhariya01 commented on #2921
@Tratcher   beta6 package of what ? i have not changed anything.  Can you please explain this in details ?

[2015-08-06 18:54] Tratcher commented on #2921
Ah. Go back to the command line and use `dnvm list` to make sure that 1.0.0-beta6 is your `default` and `active`. Close and re-open VS. Open your global.json file and remove any reference to the SDK version. Then open your project.json files and make sure all of the Microsoft.* packages are beta6.

[2015-08-06 20:01] rahuldhariya01 commented on #2921
Thanks @Tratcher , Changed dnvm to latest one and updated project json to latest. Now even if i create new project i see this error , any suggestion ?

Error : Current runtime Target Framework: 'DNX,Version=v4.5 (dnx45)'
 Type: CLR
 Architecture: x86
 Version: 1.0.0-beta6-12256

[2015-08-06 20:54] #2914 closed

[2015-08-06 20:54] #2919 closed

[2015-08-06 22:05] mbharodia commented on #2866
How do I implement custom middleware? Is there any guideline or demo code available? Thanks.
Basically I have unit of work pattern and single repository implemented. I would like to save context during response end. I would like to do it globally so that I can also handle errors and other scenarios in a single place. I have done this in Global.aspx.cs earlier. I would like to port the same applica

[2015-08-06 22:12] Tratcher commented on #2866
The middleware docs are under review here: https://github.com/aspnet/Docs/pull/348/files

[2015-08-06 22:14] Eilon commented on #2866
If you're specifically using MVC 6, you can use an ActionFilterAttribute and override [OnActionExecuted](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/ActionFilterAttribute.cs#L20) to do cleanup work. There are other types of filters in MVC that might be more suited to your scenario, depending on when you want to do the cleanup work.

Writing middleware is also very easy. He

[2015-08-06 22:30] firelizzard18 opened #2928 "More powerful tag helpers"
I would like to see more powerful tag helpers, particularly generic tag helpers, and a tag helpers that can create context for other helpers. I would like to be able to do something like:

[code]

It would be absolutely fantastic to be able to do something like:

[code]

[2015-08-06 23:06] dougbu commented on #2907
4a81377

[2015-08-06 23:06] #2907 closed

[2015-08-06 23:09] dougbu commented on #2851
ed4896d

[2015-08-06 23:09] #2851 closed

[2015-08-06 23:10] sebastienros opened #2929 "IsLocalUrl is not what I need"
The implementation should be dynamic, or it should be renamed `IsRelativeUrl`, because right now it is not checking if the url is local, just relative, which is a sub-case of local.

It needs at least to check the `HOST` header, and at best a set of custom authority I could pass as a parameter. Ideally it would be a service that I can re-implement.

Also, please explain what this sentence means, o

[2015-08-07 00:06] #2841 closed

[2015-08-07 01:57] NoralK opened #2930 "beta7-12312 dnu restore issue"
I am not sure if this should be reported in a different repository.

After installing the nightly build I am trying to do a `dnu restore`.  I get the following errors:
[code]
My project.json does not have those entries.  I did try adding them with an -* but no luck.

And if I try to compile I get these messages:
[code]

Any thoughts?

[2015-08-07 02:34] Eilon commented on #2928
@DamianEdwards I believe you have some thoughts in this space?

[2015-08-07 02:35] Eilon commented on #2930
https://github.com/aspnet/Home/issues/ is probably a better place to log this because this issue isn't specific to MVC.

[2015-08-07 02:46] #2930 closed

[2015-08-07 04:54] Daniel15 opened #2931 "Default for catchall segment doesn't work"
[code]

If you hit `/Foo/` on ASP.NET MVC 5, it outputs "Path: default". However, ASP.NET 5 + MVC 6 outputs "NULL". Hitting `/Foo/Bar` correctly displays "Path: Bar" on both versions. This is the same if you change the default to an empty string - ASP.NET MVC 5 returns "EMPTY" whereas MVC 6 returns "NULL".

I also tried `[Route("Foo/{*path=default}")]` which did not work either.

Wasn't sure wheth

[2015-08-07 06:17] Eilon commented on #2931
Certainly seems like a bug...

[2015-08-07 06:25] cwoolum opened #2932 "Posting object no longer works with Beta 6"
I just upgraded from Beta5 to Beta6 and I can no longer post objects using Web Api. My method is defined as so:

[code]

For some reason, user is always a new object. I used to have the [FromBody] tag on User but then it was just null. I did have to change my Json formatter configuration from

[code]

to

[code]

Did I miss something else in the Beta 6 conversion??

[2015-08-07 15:00] rynowak commented on #2932
If you're posting JSON data that you want to be read by a formatter, you **must** have `[FromBody]` on your parameter.

[code]

Do you have a repro project we can take a look at to figure out what's going on?

[2015-08-07 15:31] #2749 closed

[2015-08-07 15:31] rynowak commented on #2749
aspnet/Antiforgery@b922d816be89975a78ba87d1a696e595766464b1

[2015-08-07 16:10] #2874 closed

[2015-08-07 16:11] kalluri-nb commented on #2912
I was working on a Custom ObjectModelValidator. I missed the part where the DefaultObjectModelValidator is initialized using a factory rather than direct DI component.
I was expecting the IExclueValidationFilters to be injected directly into the object validator. Why can't we have the collection directly injected calling the constructor explicitly.

[2015-08-07 16:46] rynowak commented on #2912
The collection of validation filters is part of MVC options. If you want to DI it, you can either use a factory, or write something like: `public MyObjectValidator(IOptions<MvcOptions> ...)`

Be careful trying to replace `DefaultObjectValidator` - it's the whole validation system, not the validation for an individual item.

[2015-08-07 17:04] rynowak commented on #2874
4b3bac9 and 152e4ef915e9bae35673699a89e11a4dda62e751

[2015-08-07 17:55] pranavkm opened #2933 "Consider refactoring ICompilerCache to be consumed via a ICompilerCacheProvider"
With the current approach, consuming the CompilerCache as a service would cause it to eagerly populate the cache - which performs expensive assembly loads. We could clean up the design so that it's closer to how action descriptors work.

Discussion here: https://github.com/aspnet/Mvc/pull/2917#discussion_r36452859

[2015-08-07 17:55] kalluri-nb commented on #2912
I got it working by injecting the IOptions<MvcOptions>. Thank you.

[2015-08-07 18:12] #2462 closed

[2015-08-07 18:12] #2796 closed

[2015-08-07 18:38] sornaks commented on #2745
https://github.com/aspnet/Mvc/commit/1aef84b50d8afd91d2d5e23596596724d8e5d9dd

[2015-08-07 18:38] #2745 closed

[2015-08-07 18:43] rynowak commented on #2796
:heart_eyes_cat:

[2015-08-07 18:45] #2912 closed

[2015-08-07 18:49] NTaylorMullen opened #2935 "Add HtmlString constructor that doesn't require ToString for buffers."
Currently, in order to create a new `HtmlString` you need to provide a base string value. However, in the case that we have a buffer available to us it'd be nice to essentially do `new HtmlString(buffer)` to avoid the `ToString` all together.

[2015-08-07 19:34] dougbu commented on #2935
As mentioned in the [PR discussion](https://github.com/aspnet/Mvc/pull/2916#discussion-diff-36546352) that led to this bug, passing a buffer when creating an `HtmlString` may not be necessary once @sornaks' changes go in. So this isn't exactly the follow-up bug I suggested.

Instead we might need to have a larger discussion about the MVC / Razor extensibility model given the addition of `IHtmlCont

[2015-08-07 22:00] #2893 closed

[2015-08-07 22:26] Eilon commented on #2633
1. For model binders that are used for non-validatable types we should exclude them from validation by creating validation nodes.
2. TryUpdateModel should have the same behavior (within its constraints) as regular model binding. Please move this to a new bug.

[2015-08-07 22:37] #2873 closed

[2015-08-07 23:51] #2896 closed

[2015-08-08 00:32] Daniel15 commented on #2896
Thanks! :+1:

[2015-08-08 03:40] brent-russell opened #2937 "MVC AttributeRoute / Http*Attribute Route Template Not Working in Combination"
With the following methods defined, the third method's attribute routing only works with the attribute combination defined below when requiring a POST.

[code]

I tested the following combinations of attributes. Http status code result for each is listed in the comment.

[code]

It doesn't look like there are any changes to the `DefaultApplicationModelProvider` since beta6, so I think this is a bu

[2015-08-08 03:58] brent-russell commented on #2937
Erp. I probably should have waited until the morning to post this. Apparently the issue is the {categoryId} parameter which should not be there. Sorry!

[2015-08-08 03:58] #2937 closed

[2015-08-08 06:10] mikeandersun opened #2938 "Upload file with angularjs using IFormFile."
What is the correct json data structure that bind to a property type of  IFormFile in server side?

[2015-08-08 15:08] kichalla commented on #2938
Following sample gives an idea of how to handle multipart requests by yourself(in your case you need to use the JsonInputFormatter out of options to read the section parts which are json), but I think we should add a sample for your scenario too:

https://github.com/aspnet/Entropy/blob/dev/samples/Content.Upload.Multipart/Startup.cs

[2015-08-08 15:40] mikeandersun commented on #2938
Thanks for response.
I wait for an angularjs sample. :)

[2015-08-08 19:33] PinpointTownes opened #2939 "React to System.Security.Cryptography.* changes in CoreFX"
https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c

![image](https://cloud.githubusercontent.com/assets/6998306/9151283/543630a0-3dfd-11e5-9d66-d5b3e0d73dbd.png)

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.TagHelpers/project.json#L23

Related tickets: https://github.com/aspnet/Security/issues/396 and https://github.com/aspnet/DataProtection/issues

[2015-08-08 19:40] sergeyzwezdin opened #2940 "DOM elements navigation in TagHelpers"
It would be very useful to be able to navigate parent DOM elements in TagHelper, not just current element.

For example:

[code]

In this example it would be useful to have access to form's attributes from `asp-some-tag-helper`.

It seems pretty common scenario for Tag Helpers.

[2015-08-09 04:45] Eilon commented on #2940
You might have to arm-wrestle @DamianEdwards to get that feature :smile:

[2015-08-09 05:16] dougbu opened #2941 "Validation incorrect for dynamic collections when using `TryUpdateModelAsync()`"
The problem described in #2294 has been fixed for controller properties and action parameters. Unfortunately that problem remains when using `TryUpdateModelAsync()`. The following form data (an example from #2294) will not be correctly validated because the `IObjectModelValidator` will not be informed that model nodes `collection[key1]` or `collection[key2]` exist.
[code]

Root cause: `ModelBindin

[2015-08-09 05:17] dougbu commented on #2633
#2941 covers (2).

[2015-08-09 07:59] Muchiachio opened #2942 "IExceptionFilter not being called in views"
Given registered exception filter in beta6:
[code]
And throwing exception in a view
[code]
results in
`ExceptionFilter.OnException(ExceptionContext filterContext)` not being called, even though it is called then exception is thrown from the controller. MVC5's ExceptionFilter works in both controller and the view.

Repro
https://github.com/Muchiachio/NoExceptionFilterInViews

[2015-08-09 08:57] Droritos opened #2943 "input / output formatters stopped working in beta6"
* I'm sorry if I'm adding this issue not in the right place ...

I just upgraded from beta4 to beta6 and this code stopped working (it doesn't have an effect):

        // In startup.cs
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddMvc();

            services.ConfigureMvc(o =>
            {
                // Input Formatters.

[2015-08-09 10:05] Droritos commented on #2943
While this can be fixed with the following code, why the code I used in my original post doesn't work (separation between input and output formatters) ?

        services.ConfigureMvcJson(o =>
        {
            o.SerializerSettings.ContractResolver = new CamelCasePropertyNamesContractResolver();
            o.SerializerSettings.DefaultValueHandling = DefaultValueHandling.Ignore;
            o.

[2015-08-09 14:46] Haplois opened #2944 "ASP .Net MVC6 (beta6) actions returning strings"
I have the following controller and action.

    [Route("/api/simple")]
    public class SimpleController : Controller
    {
        [HttpGet]
        [Route("test")]
        public string Test()
        {
            return "test";
        }
    }

When I call it, I expect action to return `"test"` (which is valid JSON), but instead it returns `test` (without quotation marks) is this a valid beha

[2015-08-09 15:52] sergeyzwezdin commented on #2940
Is it already reported somewhere? :-)

[2015-08-09 18:16] Eilon commented on #2940
Not that I recall...

[2015-08-09 18:28] Eilon commented on #2942
@rynowak do you remember if this was a deliberate design change?

[2015-08-10 15:39] rynowak commented on #2944
This is expected behavior for the default configuration. There's a formatter configured by default that will return strings verbatim.

If you want string to go through the normal conneg process, do the following:
[code]

[2015-08-10 15:42] rynowak opened #2945 "Make removing a formatter a 1-liner"
See code sample here: https://github.com/aspnet/Mvc/issues/2944#issuecomment-129499220

When we were using descriptors for formatters we had a 1-liner extension method for removing a formatter by-type from the collection. We should add this back by defining custom collection types for input formatters and output formatters.

[2015-08-10 15:44] rynowak commented on #2942
@Eilon - yes this was intended. Rationale was that exceptions in a 'result' are rarely recoverable because headers have likely been sent.

[2015-08-10 15:56] rynowak commented on #2931
I'm wondering if the route value provider is missing a null-or-empty check. My understanding is that a catch-all segment will always have a value, even if it's the empty string.

[2015-08-10 16:41] Muchiachio commented on #2942
Oh, okay, as long as it's intended.

[2015-08-10 16:41] #2942 closed

[2015-08-10 17:33] Eilon opened #2947 "Response.ContentType doesn't work in MVC controller"
From @Daniel15 in https://github.com/aspnet/HttpAbstractions/issues/364:

I'm using Razor to generate some XML (an RSS feed). I have this in one of my ASP.NET MVC controllers:
[code]
However IIS Express is still serving the response as text/html.

This doesn't work either:
[code]

However, setting a custom header (eg. `X-Test`) *does* work.

(I wasn't sure whether to report this here or in the ASP

[2015-08-10 17:34] Eilon commented on #2947
From me:

We should have the view engine only set the content type if it's not already set. According to @Tratcher this is trivial to do.

[2015-08-10 22:57] promontis opened #2949 "UrlHelper throws NullReference when trying to manually render a page (to string)"
I'm trying to implement IViewService (https://github.com/IdentityServer/IdentityServer3/blob/master/source%2FCore%2FServices%2FIViewService.cs) in IdentityServer3 to get customized views. Note that every method returns a stream.

Currently, I'm trying to render a view using the aspnet5 stack to a string and return that as the stream. I stumbled upon this SO post: http://stackoverflow.com/questions

[2015-08-11 04:09] rynowak commented on #2949
A bunch of stuff in the stack (including `IUrlHelper`) DI's services which can be used to access the 'current context' for the scope.

For instance in Razor the `IUrlHelper` will use the current context to access route values and use those to generate links. I'd suggest replacing the `IUrlHelper` with your own implementation since none of the data structures you'll need are available.

If you real

[2015-08-11 11:38] aaron-hammond opened #2953 "System.Web.Mvc.JavaScriptResult.JavaScriptResult()"
Hi,

I was wondering what happened to the System.Web.Mvc.JavaScriptResult.JavaScriptResult() class?

I can't find it in the current implementation of MVC, is there any reason for this?

Thanks

[2015-08-11 15:28] dougbu commented on #2793
d45e2ee

[2015-08-11 15:28] #2793 closed

[2015-08-11 15:36] dougbu commented on #2633
83a559c

[2015-08-11 15:36] #2633 closed

[2015-08-11 15:57] yhax commented on #2824
^ bump

[2015-08-11 16:40] Eilon commented on #2953
I don't think it was deliberate. We're not sure, however, how important a feature it is. It's somewhat of an anti-pattern when it comes to app development. Sending new dynamically-generated code to the browser would be considered by some<sup>[citation needed]</sup> to be a Very Bad Thing. Having said that, it's certainly quite useful at times.

Have you found it useful before, and you'd like to ke

[2015-08-11 16:53] sornaks commented on #447
https://github.com/aspnet/Mvc/commit/b6a109e2a3f6fac94a3cbec0d16ea1adf526e1d8

[2015-08-11 16:53] #447 closed

[2015-08-11 16:54] avanderhoorn commented on #2895
@DamianEdwards any thoughts?

[2015-08-11 18:00] #2939 closed

[2015-08-11 18:19] DamianEdwards commented on #2895
There are many things we could do to make the Razor compilation pipeline more extensible. I'd prefer to have a serious look at the problem space and consider all options and ideas together so that we can build a well rounded feature set here, rather than opening up sections on an ad-hoc basis. Right now, the Razor Host is really the thing that extends Razor, and as you said, that's fairly limiting

[2015-08-11 18:21] aaron-hammond commented on #2953
I agree it can be somewhat of an anti-pattern, however, In a few of our applications we've found it quite useful to solve a common requirement.

Below is a description of how we use the class, it's very domain specific so i'll leave it to you to decide it this is a likely common scenario.

We heavily track the usage of our site, as each user visits our landing page we fire off a call to a webapi c

[2015-08-11 18:33] avanderhoorn commented on #2895
Makes sense. Given that, both us and several other "clients/users" have the need to inject scripts into the payload without the user having to modify their page. Previously, we did this by injecting into the stream directly but that has its own challenges as I'm sure you can imagine.

[2015-08-11 18:39] SergeyKanzhelev commented on #2895
We are asking customer to use [HtmlHelper for this](https://github.com/Microsoft/ApplicationInsights-aspnet5/wiki/Getting-Started#add-application-insights-javascript-instrumentation-to-the-_layoutcshtml-if-present). However this requires us to take a reference on MVC package and for customer to do it by hand. It will be beneficial for us to have better story here.

@DamianEdwards, before RTM would

[2015-08-11 18:41] sornaks commented on #2348
This is tracked as an external issue here - https://github.com/aspnet/External/issues/2. So closing this.

[2015-08-11 18:41] #2348 closed

[2015-08-11 19:09] pranavkm commented on #2895
FYI - most of the current limitations we have are primarily due design time and precompilation support.
Options configured in startup don't flow to the precompilation module or design time host. Consequently if we were to have options that modified the behavior of the host at runtime, you wouldn't see autocompletion for these in tooling (VS intellisense), nor would they light up for precompiled vi

[2015-08-11 19:24] DamianEdwards commented on #2895
@SergeyKanzhelev you could offer both. Tag Helpers make it much easier to compose the source HTML along with the action of the Tag Helper, e.g. add or change an attribute, so that's nice, but in your case probably less likely as you're just returning a `<script>` tag. Although, as a Tag Helper, it would be much easier for people to add things like the `async` and `deferred` attributes if they want

[2015-08-11 19:28] DamianEdwards commented on #2895
@avanderhoorn yeah that's what Browser Link does (inject into the response stream). If you want something more "structured" than that, you really need a placeholder in the markup or a server-side DOM, or the concept of a Script Manager like Web Forms has. You could create a Tag Helper that targets the `<body>` tag and inject your script reference after the child contents. Of course that still requ

[2015-08-11 22:16] avanderhoorn commented on #2895
Exactly :) that's what got us down this path currently. We though tag
helper would be a much better approach to the problem but the tag helper
needs to be registered.

On Tuesday, August 11, 2015, Damian Edwards <notifications@github.com>
wrote:

[2015-08-11 22:39] Haplois commented on #2944
Thank you :+1: I missed that formatter.

[2015-08-11 22:39] #2944 closed

[2015-08-11 23:55] NTaylorMullen commented on #2909
Duplicate of https://github.com/aspnet/Razor/issues/474 and aspnet/Razor#255

[2015-08-11 23:55] #2909 closed

[2015-08-12 10:23] stephenstroud opened #2958 "Microsoft.AspNet.Mvc": "6.0.0-* Dependency issue"
Updated to the latest version, however, the package doesn't resolve due to two missing dependencies.

    "System.Reflection.Metadata": "1.1.0-alpha-00008",
     Microsoft.CodeAnalysis.CSharp >= 2.0.0-beta1-20150809-02 could not be resolved

These packages aren't on MyGet, where do I get them please?

[2015-08-12 10:50] Aveline67 commented on #324
Why is the watermark not imlemented and what sould I use instead ?

[2015-08-12 12:54] PinpointTownes commented on #2958
Make sure to reference the Roslyn/CoreFX MyGet repositories: https://github.com/aspnet/Mvc/blob/dev/NuGet.Config#L6-L7

[2015-08-12 12:56] Rinsen opened #2959 "MVC/Razor issue after updating to beta6 with multiple in-memory assembly on local iis server and azure but not in debug"
Hi!

I have been trying to understand why I get an error when I deploy my app to run on IIS, but not in debug in Visual Studio. I get the same result on all pages and some of them are nothing fancy at all, so one idea I have is that it is in some way related to _Layout.cshtml och some other file that is always running but is running in some other way on IIS than in Visual Studio.

Any idea on how

[2015-08-12 13:26] #2958 closed

[2015-08-12 14:11] davidfowl commented on #2959
Can you provide a repro project?

[2015-08-12 15:55] dougbu commented on #324
@Aveline67 `Watermark` isn't implemented in MVC 6 because, unlike most `ModelMetadata` properties, the framework itself doesn't use it and we had not received previous requests for the feature.

One workaround is to add the watermark to `AdditionalValues`. See for example how `[DisplayAttribute(GroupName = "...")]` is handled in [`AdditionalValuesMetadataProvider`](https://github.com/aspnet/Mvc/bl

[2015-08-12 16:19] #2949 closed

[2015-08-12 16:20] Eilon commented on #2953
I think the recommended "modern" pattern is to have the client make a request to the server to get the new ID, and then the client already has the code it needs to apply the ID to the URLs on the client. If the client doesn't have the code that applies the ID, it can load that scripts independently (by adding a new `<script>` tag that points to a static file).

The idea here is to avoid mixing dat

[2015-08-12 16:28] danroth27 commented on #2943
Yup, this was a deliberate change to JsonResult. Prior to beta6 JsonResult would try to find and use the configured JsonFormatters through some hacky code. In beta6 we changed the behavior so that JsonResult and the JsonFormatters use the same options.

[2015-08-12 16:28] #2943 closed

[2015-08-12 16:38] danroth27 commented on #2932
If you could show us the request you sent when you had `[FromBody]` on the action parameter we could investigate more. Closing for now as there isn't enough data here to make progress on this issue.

[2015-08-12 16:38] #2932 closed

[2015-08-12 16:46] danroth27 commented on #2929
This method was designed to help prevent open redirects. Sounds like you are trying to do something different. Can you tell us what you are trying to accomplish with this method?

[2015-08-12 17:15] Rinsen commented on #2959
Sure, I'll give it a try.

[2015-08-12 17:30] tuespetre opened #2960 "Consider adding `IViewEngine` during `services.AddMvc()`"
I ended up digging through locals to see that an `ICompositeViewEngine` was registered. I had tried at first to just depend on `IViewEngine`. For ease of accessing the view engine, would you consider adding an entry as `IViewEngine`, or is there some other thing I should have been injecting to get the current view engine?

[2015-08-12 17:56] Eilon commented on #2648
This is already fixed.

[2015-08-12 17:56] #2648 closed

[2015-08-12 18:16] pranavkm commented on #2960
* `ICompositeViewEngine` gives you access to all the potential view engines the application is configured to use (also accessible via `MvcViewOptions.ViewEngines`).
* `IRazorViewEngine` gives you access to default instance of the `RazorViewEngine`

If you're inside of a `RazorView` there're potential ways to access the view engine that created out. Outside of one, the notion of a current view engi

[2015-08-12 18:24] tuespetre commented on #2960
Ah, thanks @pranavkm. I did try `IRazorViewEngine` but that had failed. Anyways, I found out that what I was trying to do was unnecessary. Thanks for your help!

[2015-08-12 18:24] #2960 closed

[2015-08-12 20:27] sebastienros commented on #2929
The issue is that the method is not extensible AND you are using it in places where we need to put more logic. For instance it doesn't work with fully qualified URLs. Not mentioning if my app supports multiple domains.

If only you were not using it, I wouldn't care, but the logic is that the logic is both hard coded and incomplete. Ask Taylor, or Pranav ...

Sent by Outlook<http://taps.io/outlook

[2015-08-12 21:03] Bartmax opened #2964 "srcset missing from ~ tag helper."
looking at https://github.com/aspnet/Mvc/issues/2807 I think the `srcset` attribute is missing for the list.

[2015-08-12 22:54] Rinsen commented on #2959
The repo is very simple, add Dapper 1.41.0-beta5 to your dependency list and you will get this error.

It's of course related to that version of Dapper being built on older packages in some way. But I actually had a look at the dependencies in Dapper before I sent this Issue and couldn't think of any problems related to that from the dependency list in Dappers nuget package and it didn't give me a

[2015-08-12 22:56] Rinsen commented on #2959
And one more question, why did it run on my local development machine but not on my lab 2012 IIS setup or on Azure?

[2015-08-13 04:39] Daniel15 commented on #2894
`ResponseCache` doesn't need `VaryByParam`. `ResponseCache` is purely client-side caching, and client-side caching is always based on the full URL including querystring parameters.

[2015-08-13 05:14] Daniel15 opened #2966 "Attributes don't work in Tag Helper if newline precedes first attribute"
Tag helper:
[code]

cshtml:
[code]

Result:
[code]

The middle `<hello />` tag has a newline before the first attribute, which seems to break it (all attributes come through as empty). The final `<hello />` only has a newline before the second attribute, which seems to work.

Tested on beta 6.

[2015-08-13 05:16] Daniel15 commented on #2966
Oops I think this should be in the Razor repo, I'll move it.

[2015-08-13 05:16] #2966 closed

[2015-08-13 05:17] Daniel15 commented on #2966
https://github.com/aspnet/Razor/issues/484

[2015-08-13 06:56] davidfowl commented on #2959
Can you make the sample application? What kind of application does it need to be? I assume you need razor views? Does it repro with a single view and that dependency and nothing else?

[2015-08-13 07:24] Rinsen commented on #2959
Here you go, not much left more than a controller a view and a startup and i still get the same issue :)

https://github.com/Rinsen/DnxVersionIssues

[2015-08-13 08:20] RehanSaeed commented on #2894
Ok, let me ask this in another way. Are there any plans on implementing a server side caching attribute that works similarly to the OutputCacheAttribute?

[2015-08-13 08:45] Rinsen commented on #2959
One thing is strange, I din´t get a 500 error on azure with this slimmed down solution, but I get it in my local 2012 IIS setup..

I will try to do some more thinking about this but it will take some time because I will be away traveling for some time, I will get back to you.

[2015-08-13 16:01] danroth27 commented on #2929
What places are you referring to?

[2015-08-13 16:59] sebastienros commented on #2929
My bad, let's assume anywhere it's used internally that can't be changed. For instance RedirectResult. Or anywhere the framework or libraries will use it in the future in some places that can't be extended.

Do you at least acknowledge that the current implementation doesn't work with FQDN and that it's a valid scenario to redirect users using FQDN urls?

Sent by Outlook<http://taps.io/outlookmobi

[2015-08-13 17:34] BernhardRubow opened #2967 "Strange issue with MVC 6, UTF-8 and Dependency Injection"
I have got a strange Problem with strings in an asp.net 5 application, using asp.mvc 6 and the build in dependency injection (this is my conclusion). In a controller I return a custom class created from a class library injected into the controller. To demonstrate the problem, I created a Test Class
[code]
Then, in a controller, I return a list of these containers; one created in the controller and

[2015-08-13 18:20] rynowak commented on #2859
Found the issue here. There's a piece of code in `UrlHelper` in MVC5 that will explicitly add the ambient values for `action` and `controller` to the 'specified values' dictionary.

In effect, if you call `Url.Action(...)` - you're never relying on route-value-invalidation for the 'typical' MVC route tokens of `action` and `controller`. `area` doesn't have any special behavior in this regard.

[2015-08-13 19:18] Eilon commented on #2859
Ah yes I vaguely recall that.

[2015-08-14 00:05] Eilon commented on #2788
Something like this:

[code]

[2015-08-14 00:13] #2859 closed

[2015-08-14 00:15] rynowak commented on #2859
7aa5967cd40ea6659d7084c4f34e0bc901109b6f

[2015-08-14 00:38] #2817 closed

[2015-08-14 02:32] ajaybhargavb opened #2969 "Need support for specifying custom error message for client validation"
Related issue - #2817
We now have specific error messages for client validation.
Eg: `The field FieldName must be a number`
There needs to be a way for users to customize the error message that are sent with the `data-val` attributes.

MVC 5 has `GetUserResourceString` for this purpose.
http://aspnetwebstack.codeplex.com/SourceControl/latest#src/System.Web.Mvc/ClientDataTypeModelValidatorProvider.

[2015-08-14 14:19] alexsandro-xpt commented on #2692
Needs Design +1

[2015-08-14 14:19] alexsandro-xpt commented on #2726
Needs Design +1

[2015-08-14 14:19] alexsandro-xpt commented on #2845
Needs Design +1

[2015-08-14 16:19] danroth27 commented on #2928
@DamianEdwards Moved to backlog

[2015-08-14 17:12] #2856 closed

[2015-08-14 17:41] Eilon commented on #2967
@pranavkm I'm guessing it's an issue with how we read the CS files from disk for compilation... but who knows...

[2015-08-14 17:41] Eilon commented on #2967
Or that perhaps the files were saved incorrectly to begin with.

[2015-08-14 18:12] sornaks commented on #830
https://github.com/aspnet/Mvc/commit/f2540f9ba19937f79c1a780ef12dd9a9d5cd84a6

[2015-08-14 18:12] #830 closed

[2015-08-14 19:56] pranavkm commented on #2967
I see this issue if the file is saved with CodePage-1252 (In VS you can look this up by clicking on File -> Advanced Save Options). We assume UTF8 in DNX https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Compilation.CSharp/RoslynCompiler.cs#L402, but so does Roslyn https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Text/SourceText.cs#L116 and in the absence of a BOM, i

[2015-08-14 20:34] rynowak commented on #2776
We've done more investigation here, and the data above isn't correct about MVC 5's behavior.

In MVC 5 the absence of a field **does not** result in a validation error for a value type property. You only get the validation error if you submit an empty value.

This is critical for compatibility because Create views that scaffolding generates will omit the `Id` for the model. With the fix in a6ce9ab

[2015-08-14 20:58] #2967 closed

[2015-08-14 21:07] BernhardRubow commented on #2967
This issue first happened, when I read the string, which is returned, from a SQL Server 2014 Express with Entity Framework 7 Beta. Then I tried to narrow down the Problem.
Would the codepage in which the file is saved still influence the returned string, when this string was read from a Database.

What I didn't tried, was to query the Database directly from inside the Controller.

----- Ursprüngli

[2015-08-14 23:03] NTaylorMullen commented on #2964
e73e73acddf824260aed9d8be761543bb793ba61

[2015-08-14 23:03] #2964 closed

[2015-08-14 23:39] pmdevers opened #2975 "Allow to override the ViewPathFormat in ViewViewComponentsResults"
Please allow changing the ViewPathFormat.

[2015-08-14 23:44] rynowak commented on #2975
Can you give us more detail about what you're trying to accomplish?

[2015-08-15 00:25] sornaks commented on #2779
https://github.com/aspnet/Mvc/issues/2779

[2015-08-15 00:25] #2779 closed

[2015-08-15 03:49] Kagamine opened #2976 "The routeValue param of HtmlHelper ActionLink"
The first way is passing an anymous class like new { id = 1, type = 5 }.

But, does mvc 6 support other ways to pass the routeValues?

Such as a UriComponentString like "?id=1&type=5" or a Dictionary&lt;string, string[]&gt;？